---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-crazy-shannon","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-03-25T13:08:02.876979Z","description":"","id":"1e48de2f-574e-441a-8547-69ec72fa889b","name":"tf-project-crazy-shannon","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-03-25T13:08:02.876979Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 643.048208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"created_at":"2026-03-25T13:08:02.876979Z","description":"","id":"1e48de2f-574e-441a-8547-69ec72fa889b","name":"tf-project-crazy-shannon","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-03-25T13:08:02.876979Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.239416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-fr-par","project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-25T13:08:03.461898Z","custom_routes_propagation_enabled":true,"id":"4190209f-6c83-4807-b9a4-cb01e87ea4cd","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.461898Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.920875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-25T13:08:03.486987Z","custom_routes_propagation_enabled":true,"id":"d393105d-3990-4d12-b097-7747f211d0b1","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.486987Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.103333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4190209f-6c83-4807-b9a4-cb01e87ea4cd
        method: GET
      response:
        body: '{"created_at":"2026-03-25T13:08:03.461898Z","custom_routes_propagation_enabled":true,"id":"4190209f-6c83-4807-b9a4-cb01e87ea4cd","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.461898Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.443375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/d393105d-3990-4d12-b097-7747f211d0b1
        method: GET
      response:
        body: '{"created_at":"2026-03-25T13:08:03.486987Z","custom_routes_propagation_enabled":true,"id":"d393105d-3990-4d12-b097-7747f211d0b1","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.486987Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.0805ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T13:08:03.461898Z","custom_routes_propagation_enabled":true,"id":"4190209f-6c83-4807-b9a4-cb01e87ea4cd","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.461898Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.261375ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T13:08:03.486987Z","custom_routes_propagation_enabled":true,"id":"d393105d-3990-4d12-b097-7747f211d0b1","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.486987Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.012375ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.235375ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.612125ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=test-vpc&order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T13:08:03.461898Z","custom_routes_propagation_enabled":true,"id":"4190209f-6c83-4807-b9a4-cb01e87ea4cd","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.461898Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.171208ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=test-vpc&order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T13:08:03.486987Z","custom_routes_propagation_enabled":true,"id":"d393105d-3990-4d12-b097-7747f211d0b1","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1e48de2f-574e-441a-8547-69ec72fa889b","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T13:08:03.486987Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.303708ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?name=test-vpc&order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.839208ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?name=test-vpc&order_by=created_at_asc&project_id=1e48de2f-574e-441a-8547-69ec72fa889b
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.361917ms
[...]
