---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-focused-lewin","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-08T07:30:29.130535Z","description":"","id":"3a123676-0c07-490d-80e5-4fc01a44931f","name":"tf-project-focused-lewin","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2026-04-08T07:30:29.130535Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.952625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"created_at":"2026-04-08T07:30:29.130535Z","description":"","id":"3a123676-0c07-490d-80e5-4fc01a44931f","name":"tf-project-focused-lewin","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-08T07:30:29.130535Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.703375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-elated-wilbur","project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","tags":["foobar"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-08T07:30:29.411682Z","custom_routes_propagation_enabled":true,"id":"8d16ba48-1967-4089-88be-c56d5a2160fb","is_default":false,"name":"tf-vpc-elated-wilbur","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-04-08T07:30:29.411682Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.47975ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8d16ba48-1967-4089-88be-c56d5a2160fb
        method: GET
      response:
        body: '{"created_at":"2026-04-08T07:30:29.411682Z","custom_routes_propagation_enabled":true,"id":"8d16ba48-1967-4089-88be-c56d5a2160fb","is_default":false,"name":"tf-vpc-elated-wilbur","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-04-08T07:30:29.411682Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.678875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-08T07:30:29.465952Z","custom_routes_propagation_enabled":true,"id":"08357fc4-ba57-4184-b4ee-4a425b882fb6","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T07:30:29.465952Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.894ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/08357fc4-ba57-4184-b4ee-4a425b882fb6
        method: GET
      response:
        body: '{"created_at":"2026-04-08T07:30:29.465952Z","custom_routes_propagation_enabled":true,"id":"08357fc4-ba57-4184-b4ee-4a425b882fb6","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T07:30:29.465952Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.353125ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2026-04-08T07:30:29.411682Z","custom_routes_propagation_enabled":true,"id":"8d16ba48-1967-4089-88be-c56d5a2160fb","is_default":false,"name":"tf-vpc-elated-wilbur","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-04-08T07:30:29.411682Z"},{"created_at":"2026-04-08T07:30:29.446565Z","custom_routes_propagation_enabled":true,"id":"c734480f-5af9-42fd-a343-a001a9613c92","is_default":false,"name":"test-vpc-fr-par","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T07:30:29.446565Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.706625ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.199375ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T07:30:29.465952Z","custom_routes_propagation_enabled":true,"id":"08357fc4-ba57-4184-b4ee-4a425b882fb6","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T07:30:29.465952Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.998584ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.06225ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T07:30:29.446565Z","custom_routes_propagation_enabled":true,"id":"c734480f-5af9-42fd-a343-a001a9613c92","is_default":false,"name":"test-vpc-fr-par","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T07:30:29.446565Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.059417ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T07:30:29.465952Z","custom_routes_propagation_enabled":true,"id":"08357fc4-ba57-4184-b4ee-4a425b882fb6","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T07:30:29.465952Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.362166ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.072083ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.538625ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f&tags=foobar
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T07:30:29.411682Z","custom_routes_propagation_enabled":true,"id":"8d16ba48-1967-4089-88be-c56d5a2160fb","is_default":false,"name":"tf-vpc-elated-wilbur","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"3a123676-0c07-490d-80e5-4fc01a44931f","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-04-08T07:30:29.411682Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.240167ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.400167ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.595375ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&page=1&project_id=3a123676-0c07-490d-80e5-4fc01a44931f&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.844958ms
[...]
