---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-kind-nobel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-03-25T16:46:40.606486Z","description":"","id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","name":"tf-project-kind-nobel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-03-25T16:46:40.606486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 642.576292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"created_at":"2026-03-25T16:46:40.606486Z","description":"","id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","name":"tf-project-kind-nobel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-03-25T16:46:40.606486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.616208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-quizzical-chatterjee","project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","tags":["foobar"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-25T16:46:41.259443Z","custom_routes_propagation_enabled":true,"id":"64571da3-3e27-44fd-84a1-f83e20b7d173","is_default":false,"name":"tf-vpc-quizzical-chatterjee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-03-25T16:46:41.259443Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.132084ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-25T16:46:41.277697Z","custom_routes_propagation_enabled":true,"id":"609cebc0-852e-4221-98a5-dc2ae71065da","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T16:46:41.277697Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.70625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5b306e60-be98-466d-a97d-f150191eda01
        method: GET
      response:
        body: '{"created_at":"2026-03-25T16:46:41.290283Z","custom_routes_propagation_enabled":true,"id":"5b306e60-be98-466d-a97d-f150191eda01","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T16:46:41.290283Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.646042ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/609cebc0-852e-4221-98a5-dc2ae71065da
        method: GET
      response:
        body: '{"created_at":"2026-03-25T16:46:41.277697Z","custom_routes_propagation_enabled":true,"id":"609cebc0-852e-4221-98a5-dc2ae71065da","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T16:46:41.277697Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.464375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2026-03-25T16:46:41.259443Z","custom_routes_propagation_enabled":true,"id":"64571da3-3e27-44fd-84a1-f83e20b7d173","is_default":false,"name":"tf-vpc-quizzical-chatterjee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-03-25T16:46:41.259443Z"},{"created_at":"2026-03-25T16:46:41.290283Z","custom_routes_propagation_enabled":true,"id":"5b306e60-be98-466d-a97d-f150191eda01","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T16:46:41.290283Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.966041ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T16:46:41.277697Z","custom_routes_propagation_enabled":true,"id":"609cebc0-852e-4221-98a5-dc2ae71065da","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T16:46:41.277697Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.912625ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.480125ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.176083ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=test-vpc&order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T16:46:41.290283Z","custom_routes_propagation_enabled":true,"id":"5b306e60-be98-466d-a97d-f150191eda01","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T16:46:41.290283Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.80225ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=test-vpc&order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T16:46:41.277697Z","custom_routes_propagation_enabled":true,"id":"609cebc0-852e-4221-98a5-dc2ae71065da","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-25T16:46:41.277697Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.704ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?name=test-vpc&order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.648792ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?name=test-vpc&order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.64ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2&tags=foobar
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-25T16:46:41.259443Z","custom_routes_propagation_enabled":true,"id":"64571da3-3e27-44fd-84a1-f83e20b7d173","is_default":false,"name":"tf-vpc-quizzical-chatterjee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"2cf71287-03c2-448f-b7df-5e74ee96f9f2","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-03-25T16:46:41.259443Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.021208ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.376416ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.803583ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&project_id=2cf71287-03c2-448f-b7df-5e74ee96f9f2&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.755083ms
[...]
