---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-vpc-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:11:54.928630Z","description":"","id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","name":"tf-tests-vpc-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":null,"updated_at":"2026-08-17T16:11:54.928630Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.844678ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:11:54.928630Z","description":"","id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","name":"tf-tests-vpc-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T16:11:54.928630Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.112569ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-dreamy-payne","project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","tags":["foobar"],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:11:55.236261Z","custom_routes_propagation_enabled":true,"id":"714cbddb-d49b-4cd6-ac31-2e9a8a95154b","is_default":false,"name":"tf-vpc-dreamy-payne","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":["foobar"],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.236261Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.162397ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:11:55.256051Z","custom_routes_propagation_enabled":true,"id":"2392edb4-b69f-464a-9e12-575c0dd70e5f","is_default":false,"name":"test-vpc-nl-ams","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"nl-ams","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.256051Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.519423ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cfeb780c-0d04-4b98-b6d0-6fdb947e998d
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:11:55.259450Z","custom_routes_propagation_enabled":true,"id":"cfeb780c-0d04-4b98-b6d0-6fdb947e998d","is_default":false,"name":"test-vpc-fr-par","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.259450Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.578037ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/2392edb4-b69f-464a-9e12-575c0dd70e5f
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:11:55.256051Z","custom_routes_propagation_enabled":true,"id":"2392edb4-b69f-464a-9e12-575c0dd70e5f","is_default":false,"name":"test-vpc-nl-ams","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"nl-ams","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.256051Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.552454ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.591955ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2026-08-17T16:11:55.236261Z","custom_routes_propagation_enabled":true,"id":"714cbddb-d49b-4cd6-ac31-2e9a8a95154b","is_default":false,"name":"tf-vpc-dreamy-payne","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":["foobar"],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.236261Z"},{"created_at":"2026-08-17T16:11:55.259450Z","custom_routes_propagation_enabled":true,"id":"cfeb780c-0d04-4b98-b6d0-6fdb947e998d","is_default":false,"name":"test-vpc-fr-par","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.259450Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.22451ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-08-17T16:11:55.256051Z","custom_routes_propagation_enabled":true,"id":"2392edb4-b69f-464a-9e12-575c0dd70e5f","is_default":false,"name":"test-vpc-nl-ams","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"nl-ams","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.256051Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.697367ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.184533ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-08-17T16:11:55.259450Z","custom_routes_propagation_enabled":true,"id":"cfeb780c-0d04-4b98-b6d0-6fdb947e998d","is_default":false,"name":"test-vpc-fr-par","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.259450Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.122972ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.223628ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-08-17T16:11:55.256051Z","custom_routes_propagation_enabled":true,"id":"2392edb4-b69f-464a-9e12-575c0dd70e5f","is_default":false,"name":"test-vpc-nl-ams","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"nl-ams","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.256051Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.607949ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.974101ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec&tags=foobar
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-08-17T16:11:55.236261Z","custom_routes_propagation_enabled":true,"id":"714cbddb-d49b-4cd6-ac31-2e9a8a95154b","is_default":false,"name":"tf-vpc-dreamy-payne","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":["foobar"],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:55.236261Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.445702ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.905699ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.224154ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&page=1&project_id=029a66d6-efe5-48bd-996f-fb6ccbf00aec&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.63013ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/029a66d6-efe5-48bd-996f-fb6ccbf00aec
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"029a66d6-efe5-48bd-996f-fb6ccbf00aec","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.748367ms
