---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-vpc-connector-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:10:34.763800Z","description":"","id":"79c923f4-b9bc-4756-9346-8f542713c440","name":"tf-tests-vpc-connector-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T16:10:34.763800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 793.914607ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/79c923f4-b9bc-4756-9346-8f542713c440
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:10:34.763800Z","description":"","id":"79c923f4-b9bc-4756-9346-8f542713c440","name":"tf-tests-vpc-connector-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T16:10:34.763800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.455579ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-target","project_id":"79c923f4-b9bc-4756-9346-8f542713c440","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:10:35.636260Z","custom_routes_propagation_enabled":true,"id":"1dd27922-870f-415b-b0e2-3f32d7165c0c","is_default":false,"name":"tf-vpc-target","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:10:35.636260Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.652805ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/944a7668-0741-4977-8b4d-c3a5cb3c7f37
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:10:35.660046Z","custom_routes_propagation_enabled":true,"id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37","is_default":false,"name":"tf-vpc-source","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:10:35.660046Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.31482ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-list","tags":["tf-conn-list-tag"],"vpc_id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37","target_vpc_id":"1dd27922-870f-415b-b0e2-3f32d7165c0c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:10:36.054144Z","id":"82c0a874-513b-471b-89ad-6f45a182b9ea","name":"tf-conn-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"1dd27922-870f-415b-b0e2-3f32d7165c0c","updated_at":"2026-08-17T16:10:36.054144Z","vpc_id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.347957ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/82c0a874-513b-471b-89ad-6f45a182b9ea
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:10:36.054144Z","id":"82c0a874-513b-471b-89ad-6f45a182b9ea","name":"tf-conn-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"1dd27922-870f-415b-b0e2-3f32d7165c0c","updated_at":"2026-08-17T16:10:36.054144Z","vpc_id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.872274ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=79c923f4-b9bc-4756-9346-8f542713c440
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-08-17T16:10:36.054144Z","id":"82c0a874-513b-471b-89ad-6f45a182b9ea","name":"tf-conn-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"1dd27922-870f-415b-b0e2-3f32d7165c0c","updated_at":"2026-08-17T16:10:36.054144Z","vpc_id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.860362ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpc-connectors?order_by=created_at_asc&page=1&project_id=79c923f4-b9bc-4756-9346-8f542713c440
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.816017ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpc-connectors?order_by=created_at_asc&page=1&project_id=79c923f4-b9bc-4756-9346-8f542713c440
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.334661ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpc-connectors?order_by=created_at_asc&page=1&project_id=79c923f4-b9bc-4756-9346-8f542713c440
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.941840272s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-conn-list&order_by=created_at_asc&page=1&project_id=79c923f4-b9bc-4756-9346-8f542713c440
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-08-17T16:10:36.054144Z","id":"82c0a874-513b-471b-89ad-6f45a182b9ea","name":"tf-conn-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"1dd27922-870f-415b-b0e2-3f32d7165c0c","updated_at":"2026-08-17T16:10:36.054144Z","vpc_id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.296845ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=79c923f4-b9bc-4756-9346-8f542713c440&vpc_id=944a7668-0741-4977-8b4d-c3a5cb3c7f37
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-08-17T16:10:36.054144Z","id":"82c0a874-513b-471b-89ad-6f45a182b9ea","name":"tf-conn-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"1dd27922-870f-415b-b0e2-3f32d7165c0c","updated_at":"2026-08-17T16:10:36.054144Z","vpc_id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.718156ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=79c923f4-b9bc-4756-9346-8f542713c440&tags=tf-conn-list-tag
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-08-17T16:10:36.054144Z","id":"82c0a874-513b-471b-89ad-6f45a182b9ea","name":"tf-conn-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"79c923f4-b9bc-4756-9346-8f542713c440","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"1dd27922-870f-415b-b0e2-3f32d7165c0c","updated_at":"2026-08-17T16:10:36.054144Z","vpc_id":"944a7668-0741-4977-8b4d-c3a5cb3c7f37"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.486624ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/79c923f4-b9bc-4756-9346-8f542713c440
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"79c923f4-b9bc-4756-9346-8f542713c440","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.42777ms
