---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-fr-par","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["environment=production","team=devops"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-25T14:44:28.736318Z","custom_routes_propagation_enabled":true,"id":"502649c9-597e-4b5d-b89c-9ae79f21ec31","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["environment=production","team=devops"],"updated_at":"2026-02-25T14:44:28.736318Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.1095ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["environment=staging","team=devops"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-25T14:44:28.756448Z","custom_routes_propagation_enabled":true,"id":"dc385ba3-8eb9-4b9c-8139-dc5a1b70bbf8","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":["environment=staging","team=devops"],"updated_at":"2026-02-25T14:44:28.756448Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.094958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/502649c9-597e-4b5d-b89c-9ae79f21ec31
        method: GET
      response:
        body: '{"created_at":"2026-02-25T14:44:28.736318Z","custom_routes_propagation_enabled":true,"id":"502649c9-597e-4b5d-b89c-9ae79f21ec31","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["environment=production","team=devops"],"updated_at":"2026-02-25T14:44:28.736318Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.77375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/dc385ba3-8eb9-4b9c-8139-dc5a1b70bbf8
        method: GET
      response:
        body: '{"created_at":"2026-02-25T14:44:28.756448Z","custom_routes_propagation_enabled":true,"id":"dc385ba3-8eb9-4b9c-8139-dc5a1b70bbf8","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":["environment=staging","team=devops"],"updated_at":"2026-02-25T14:44:28.756448Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.4165ms
[...]
