---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-vpc-private-network-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:11:39.304422Z","description":"","id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","name":"tf-tests-vpc-private-network-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":null,"updated_at":"2026-08-17T16:11:39.304422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.38659ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8f64d1c8-017d-4dd9-8d02-d793269c8852
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:11:39.304422Z","description":"","id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","name":"tf-tests-vpc-private-network-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T16:11:39.304422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.266728ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-pn-list","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:11:39.653024Z","custom_routes_propagation_enabled":true,"id":"0539681d-2299-45ca-b280-ca043bb470c2","is_default":false,"name":"test-vpc-pn-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:39.653024Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.940963ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0539681d-2299-45ca-b280-ca043bb470c2
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:11:39.653024Z","custom_routes_propagation_enabled":true,"id":"0539681d-2299-45ca-b280-ca043bb470c2","is_default":false,"name":"test-vpc-pn-list","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","private_network_count":0,"project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-17T16:11:39.653024Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.173185ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-pn-1","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","tags":[],"subnets":null,"vpc_id":"0539681d-2299-45ca-b280-ca043bb470c2","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:11:39.908736Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"cd8ef893-6712-4d12-a166-1f531b47649c","name":"test-pn-1","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","subnets":[{"created_at":"2026-08-17T16:11:39.908736Z","id":"54e2a8e3-9dbf-43e2-bb55-bb612c62798d","private_network_id":"cd8ef893-6712-4d12-a166-1f531b47649c","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","subnet":"172.16.16.0/22","updated_at":"2026-08-17T16:11:39.908736Z","vpc_id":"0539681d-2299-45ca-b280-ca043bb470c2"},{"created_at":"2026-08-17T16:11:39.908736Z","id":"72bb5d06-5a82-4f2b-9214-3ca781576aa2","private_network_id":"cd8ef893-6712-4d12-a166-1f531b47649c","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","subnet":"fd26:2d7b:3c6d:ce66::/64","updated_at":"2026-08-17T16:11:39.908736Z","vpc_id":"0539681d-2299-45ca-b280-ca043bb470c2"}],"tags":[],"updated_at":"2026-08-17T16:11:39.908736Z","vpc_id":"0539681d-2299-45ca-b280-ca043bb470c2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 757.385045ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6cc6aa2d-4459-43c2-933d-33783c087ec0
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:11:39.988097Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"6cc6aa2d-4459-43c2-933d-33783c087ec0","name":"test-pn-2","organization_id":"57a1e028-d7[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?order_by=created_at_asc&page=1&project_id=8f64d1c8-017d-4dd9-8d02-d793269c8852
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-08-17T16:11:39.908736Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"cd8ef893-6712-4d12-a166-1f531b47649c","name":"test-pn-1","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","subnets":[{"created_at":"2026-08-17T16:11:39.908736Z","id":"54e2a8e3-9dbf-43e2-bb55-bb612c62798d","private_network_id":"cd8ef893-6712-4d12-a166-1f531b47649c","project_id":"8f6[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=test-pn-1&order_by=created_at_asc&page=1&project_id=8f64d1c8-017d-4dd9-8d02-d793269c8852
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-08-17T16:11:39.908736Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"cd8ef893-6712-4d12-a166-1f531b47649c","name":"test-pn-1","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","subnets":[{"created_at":"2026-08-17T16:11:39.908736Z","id":"54e2a8e3-9dbf-43e2-bb55-bb612c62798d","private_network_id":"cd8ef893-6712-4d12-a166-1f531b47649c","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","subnet":"172.16.16.0/22","updated_at":"2026-08-17T16:11:39.908736Z","vpc_id":"0539681d-2299-45ca-b280-ca043bb470c2"},{"created_at":"2026-08-17T16:11:39.908736Z","id":"72bb5d06-5a82-4f2b-9214-3ca781576aa2","private_network_id":"cd8ef893-6712-4d12-a166-1f531b47649c","project_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","region":"fr-par","subnet":"fd26:2d7b:3c6d:ce66::/64","updated_at":"2026-08-17T16:11:39.908736Z","vpc_id":"0539681d-2299-45ca-b280-ca043bb470c2"}],"tags":[],"updated_at":"2026-08-17T16:11:39.908736Z","vpc_id":"0539681d-2299-45ca-b280-ca043bb470c2"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.562519ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?order_by=created_at_asc&page=1&project_id=8f64d1c8-017d-4dd9-8d02-d793269c8852&tags=tagged
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-08-17T16:11:39.988097Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"6cc6aa2d-44[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?order_by=created_at_asc&page=1&project_id=8f64d1c8-017d-4dd9-8d02-d793269c8852&vpc_id=0539681d-2299-45ca-b280-ca043bb470c2
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-08-17T16:11:39.908736Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_inte[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8f64d1c8-017d-4dd9-8d02-d793269c8852
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"8f64d1c8-017d-4dd9-8d02-d793269c8852","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.564923ms
