---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-disable-routing","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-14T06:07:44.644261Z","custom_routes_propagation_enabled":true,"id":"d18ad369-01f8-4abb-8f3a-f3b4d574aefc","is_default":false,"name":"test-vpc-disable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-14T06:07:44.644261Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.04925ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d18ad369-01f8-4abb-8f3a-f3b4d574aefc
        method: GET
      response:
        body: '{"created_at":"2026-08-14T06:07:44.644261Z","custom_routes_propagation_enabled":true,"id":"d18ad369-01f8-4abb-8f3a-f3b4d574aefc","is_default":false,"name":"test-vpc-disable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-14T06:07:44.644261Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.418167ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d18ad369-01f8-4abb-8f3a-f3b4d574aefc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"d18ad369-01f8-4abb-8f3a-f3b4d574aefc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.864917ms
