---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:22.002066Z","dhcp_enabled":true,"id":"4ae3e1a6-a364-4cbb-b180-b86d1adc2e67","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:22.002066Z","id":"63fec49c-b8c0-4c18-a0ac-65013da03447","private_network_id":"4ae3e1a6-a364-4cbb-b180-b86d1adc2e67","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.116.0/22","updated_at":"2025-01-24T14:47:22.002066Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:22.002066Z","id":"e819a4e5-ba34-4299-8e39-f055122fd721","private_network_id":"4ae3e1a6-a364-4cbb-b180-b86d1adc2e67","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:cd3::/64","updated_at":"2025-01-24T14:47:22.002066Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:22.002066Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.263168542s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4ae3e1a6-a364-4cbb-b180-b86d1adc2e67
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:22.002066Z","dhcp_enabled":true,"id":"4ae3e1a6-a364-4cbb-b180-b86d1adc2e67","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:22.002066Z","id":"63fec49c-b8c0-4c18-a0ac-65013da03447","private_network_id":"4ae3e1a6-a364-4cbb-b180-b86d1adc2e67","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.116.0/22","updated_at":"2025-01-24T14:47:22.002066Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:22.002066Z","id":"e819a4e5-ba34-4299-8e39-f055122fd721","private_network_id":"4ae3e1a6-a364-4cbb-b180-b86d1adc2e67","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:cd3::/64","updated_at":"2025-01-24T14:47:22.002066Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:22.002066Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.742167ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4ae3e1a6-a364-4cbb-b180-b86d1adc2e67
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"4ae3e1a6-a364-4cbb-b180-b86d1adc2e67","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.393334ms
