---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:23.989236Z","id":"8f62a86d-5564-4d78-954c-f0315bd690ad","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:23.989236Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.013667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8f62a86d-5564-4d78-954c-f0315bd690ad
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:23.989236Z","id":"8f62a86d-5564-4d78-954c-f0315bd690ad","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:23.989236Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.498542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-focused-carson","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"8f62a86d-5564-4d78-954c-f0315bd690ad"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:24.102467Z","dhcp_enabled":true,"id":"976eca82-ab1e-4cfb-9588-64d072652ebe","name":"tf-pn-focused-carson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:24.102467Z","id":"0a580d1a-b290-4eb0-af66-eaab701cb213","private_network_id":"976eca82-ab1e-4cfb-9588-64d072652ebe","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-28T10:05:24.102467Z","vpc_id":"8f62a86d-5564-4d78-954c-f0315bd690ad"},{"created_at":"2025-01-28T10:05:24.102467Z","id":"e1299fc0-e957-4566-ae6e-53fa32aeb024","private_network_id":"976eca82-ab1e-4cfb-9588-64d072652ebe","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2bd3::/64","updated_at":"2025-01-28T10:05:24.102467Z","vpc_id":"8f62a86d-5564-4d78-954c-f0315bd690ad"}],"tags":[],"updated_at":"2025-01-28T10:05:24.102467Z","vpc_id":"8f62a86d-5564-4d78-954c-f0315bd690ad"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 738.746875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/976eca82-ab1e-4cfb-9588-64d072652ebe
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:24.102467Z","dhcp_enabled":true,"id":"976eca82-ab1e-4cfb-9588-64d072652ebe","name":"tf-pn-focused-carson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:24.102467Z","id":"0a580d1a-b290-4eb0-af66-eaab701cb213","private_network_id":"976eca82-ab1e-4cfb-9588-64d072652ebe","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-28T10:05:24.102467Z","vpc_id":"8f62a86d-5564-4d78-954c-f0315bd690ad"},{"created_at":"2025-01-28T10:05:24.102467Z","id":"e1299fc0-e957-4566-ae6e-53fa32aeb024","private_network_id":"976eca82-ab1e-4cfb-9588-64d072652ebe","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2bd3::/64","updated_at":"2025-01-28T10:05:24.102467Z","vpc_id":"8f62a86d-5564-4d78-954c-f0315bd690ad"}],"tags":[],"updated_at":"2025-01-28T10:05:24.102467Z","vpc_id":"8f62a86d-5564-4d78-954c-f0315bd690ad"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.4445ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/49639cc1-eea1-483b-a7c6-5a973a2eb19f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"49639cc1-eea1-483b-a7c6-5a973a2eb19f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.192125ms
