---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-priceless-black","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:32:48.274969Z","dhcp_enabled":true,"id":"c1103883-9560-4b02-a68e-15f5637d7265","name":"tf-pn-priceless-black","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T15:32:48.274969Z","id":"30f69005-2fd2-458b-b510-5d6a33df070d","private_network_id":"c1103883-9560-4b02-a68e-15f5637d7265","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-24T15:32:48.274969Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T15:32:48.274969Z","id":"cedad44a-b0d3-4f93-ad19-0ff6cba399d0","private_network_id":"c1103883-9560-4b02-a68e-15f5637d7265","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f91a::/64","updated_at":"2025-01-24T15:32:48.274969Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T15:32:48.274969Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 630.787083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c1103883-9560-4b02-a68e-15f5637d7265
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:32:48.274969Z","dhcp_enabled":true,"id":"c1103883-9560-4b02-a68e-15f5637d7265","name":"tf-pn-priceless-black","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T15:32:48.274969Z","id":"30f69005-2fd2-458b-b510-5d6a33df070d","private_network_id":"c1103883-9560-4b02-a68e-15f5637d7265","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-24T15:32:48.274969Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T15:32:48.274969Z","id":"cedad44a-b0d3-4f93-ad19-0ff6cba399d0","private_network_id":"c1103883-9560-4b02-a68e-15f5637d7265","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f91a::/64","updated_at":"2025-01-24T15:32:48.274969Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T15:32:48.274969Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.921791ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c1103883-9560-4b02-a68e-15f5637d7265
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"c1103883-9560-4b02-a68e-15f5637d7265","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.672041ms
