---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 576.247625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:59.582264Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a9e3614b-9636-4b63-a49d-e5466409ff48","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:59.582264Z","id":"08566225-1485-47b5-aa5c-681cb14edcc7","private_network_id":"a9e3614b-9636-4b63-a49d-e5466409ff48","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.88.0/22","updated_at":"2025-06-30T15:18:59.582264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:18:59.582264Z","id":"63aee212-0200-49e9-9e83-9d91cfe2dc56","private_network_id":"a9e3614b-9636-4b63-a49d-e5466409ff48","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:42bb::/64","updated_at":"2025-06-30T15:18:59.582264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:18:59.582264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 628.509584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a9e3614b-9636-4b63-a49d-e5466409ff48
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:59.582264Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a9e3614b-9636-4b63-a49d-e5466409ff48","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:59.582264Z","id":"08566225-1485-47b5-aa5c-681cb14edcc7","private_network_id":"a9e3614b-9636-4b63-a49d-e5466409ff48","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.88.0/22","updated_at":"2025-06-30T15:18:59.582264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:18:59.582264Z","id":"63aee212-0200-49e9-9e83-9d91cfe2dc56","private_network_id":"a9e3614b-9636-4b63-a49d-e5466409ff48","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:42bb::/64","updated_at":"2025-06-30T15:18:59.582264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:18:59.582264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.767ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a9e3614b-9636-4b63-a49d-e5466409ff48
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"a9e3614b-9636-4b63-a49d-e5466409ff48","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.429667ms
