---
version: 2
interactions:
- request:
    body: '{"name":"tf-pn-vibrant-davinci","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:15:23.026316Z","dhcp_enabled":false,"id":"b0cec700-c444-47f9-a7c4-6c8476ed6f18","name":"tf-pn-vibrant-davinci","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:15:23.026316Z","id":"ec703a9d-fcb2-4a20-a3c4-856e3a40550d","subnet":"172.16.84.0/22","updated_at":"2023-07-11T17:15:23.026316Z"},{"created_at":"2023-07-11T17:15:23.026316Z","id":"f7a3f07d-fcfd-42d3-ba69-8b7bdc5c69f3","subnet":"fd46:78ab:30b8:f24d::/64","updated_at":"2023-07-11T17:15:23.026316Z"}],"tags":[],"updated_at":"2023-07-11T17:15:23.026316Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b0cec700-c444-47f9-a7c4-6c8476ed6f18
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:15:23.026316Z","dhcp_enabled":false,"id":"b0cec700-c444-47f9-a7c4-6c8476ed6f18","name":"tf-pn-vibrant-davinci","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:15:23.026316Z","id":"ec703a9d-fcb2-4a20-a3c4-856e3a40550d","subnet":"172.16.84.0/22","updated_at":"2023-07-11T17:15:23.026316Z"},{"created_at":"2023-07-11T17:15:23.026316Z","id":"f7a3f07d-fcfd-42d3-ba69-8b7bdc5c69f3","subnet":"fd46:78ab:30b8:f24d::/64","updated_at":"2023-07-11T17:15:23.026316Z"}],"tags":[],"updated_at":"2023-07-11T17:15:23.026316Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b0cec700-c444-47f9-a7c4-6c8476ed6f18
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"b0cec700-c444-47f9-a7c4-6c8476ed6f18","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
