---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.270298Z","custom_routes_propagation_enabled":false,"id":"a542701d-5cf5-4025-ae1e-6d61ed624983","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.270298Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.183875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a542701d-5cf5-4025-ae1e-6d61ed624983/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.270298Z","custom_routes_propagation_enabled":true,"id":"a542701d-5cf5-4025-ae1e-6d61ed624983","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.319764Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.45625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a542701d-5cf5-4025-ae1e-6d61ed624983
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:57.270298Z","custom_routes_propagation_enabled":true,"id":"a542701d-5cf5-4025-ae1e-6d61ed624983","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.319764Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.086208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-angry-ellis","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"a542701d-5cf5-4025-ae1e-6d61ed624983","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.423026Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"de430e20-bca3-4bc9-a4c5-b8e9b9987e8d","name":"tf-pn-angry-ellis","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:57.423026Z","id":"f42efd68-883a-4bde-a7c2-17b19fe88bd8","private_network_id":"de430e20-bca3-4bc9-a4c5-b8e9b9987e8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-06-30T15:18:57.423026Z","vpc_id":"a542701d-5cf5-4025-ae1e-6d61ed624983"},{"created_at":"2025-06-30T15:18:57.423026Z","id":"15d661d7-9278-4200-bd71-5efdec1d40ff","private_network_id":"de430e20-bca3-4bc9-a4c5-b8e9b9987e8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b540::/64","updated_at":"2025-06-30T15:18:57.423026Z","vpc_id":"a542701d-5cf5-4025-ae1e-6d61ed624983"}],"tags":[],"updated_at":"2025-06-30T15:18:57.423026Z","vpc_id":"a542701d-5cf5-4025-ae1e-6d61ed624983"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 649.405917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/de430e20-bca3-4bc9-a4c5-b8e9b9987e8d
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:57.423026Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"de430e20-bca3-4bc9-a4c5-b8e9b9987e8d","name":"tf-pn-angry-ellis","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:57.423026Z","id":"f42efd68-883a-4bde-a7c2-17b19fe88bd8","private_network_id":"de430e20-bca3-4bc9-a4c5-b8e9b9987e8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-06-30T15:18:57.423026Z","vpc_id":"a542701d-5cf5-4025-ae1e-6d61ed624983"},{"created_at":"2025-06-30T15:18:57.423026Z","id":"15d661d7-9278-4200-bd71-5efdec1d40ff","private_network_id":"de430e20-bca3-4bc9-a4c5-b8e9b9987e8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b540::/64","updated_at":"2025-06-30T15:18:57.423026Z","vpc_id":"a542701d-5cf5-4025-ae1e-6d61ed624983"}],"tags":[],"updated_at":"2025-06-30T15:18:57.423026Z","vpc_id":"a542701d-5cf5-4025-ae1e-6d61ed624983"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.118125ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/de430e20-bca3-4bc9-a4c5-b8e9b9987e8d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"de430e20-bca3-4bc9-a4c5-b8e9b9987e8d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.76075ms
