---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:33.687668Z","id":"b54fd233-0e37-4f40-a86a-8ef05933e9d5","is_default":false,"name":"test-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:33.687668Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.51875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b54fd233-0e37-4f40-a86a-8ef05933e9d5
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:33.687668Z","id":"b54fd233-0e37-4f40-a86a-8ef05933e9d5","is_default":false,"name":"test-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:33.687668Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.320625ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:38.007738Z","id":"e56d0ec8-0e09-43b8-8b61-a93890834c96","is_default":false,"name":"test-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:38.007738Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.647959ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/e56d0ec8-0e09-43b8-8b61-a93890834c96
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:38.007738Z","id":"e56d0ec8-0e09-43b8-8b61-a93890834c96","is_default":false,"name":"test-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:38.007738Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.641083ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/e56d0ec8-0e09-43b8-8b61-a93890834c96
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"e56d0ec8-0e09-43b8-8b61-a93890834c96","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.327959ms
