---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-romantic-ptolemy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:21.627279Z","dhcp_enabled":true,"id":"ba478233-215e-4b14-994d-eb278685a6d8","name":"tf-pn-romantic-ptolemy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:21.627279Z","id":"c36cb7cf-dee6-43c0-b623-7fc63d7dc111","private_network_id":"ba478233-215e-4b14-994d-eb278685a6d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.96.0/22","updated_at":"2025-01-24T14:47:21.627279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:21.627279Z","id":"442f4c2f-f491-4995-8c73-242b4824b912","private_network_id":"ba478233-215e-4b14-994d-eb278685a6d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:29f::/64","updated_at":"2025-01-24T14:47:21.627279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:21.627279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.05286075s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ba478233-215e-4b14-994d-eb278685a6d8
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:21.627279Z","dhcp_enabled":true,"id":"ba478233-215e-4b14-994d-eb278685a6d8","name":"tf-pn-romantic-ptolemy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:21.627279Z","id":"c36cb7cf-dee6-43c0-b623-7fc63d7dc111","private_network_id":"ba478233-215e-4b14-994d-eb278685a6d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.96.0/22","updated_at":"2025-01-24T14:47:21.627279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:21.627279Z","id":"442f4c2f-f491-4995-8c73-242b4824b912","private_network_id":"ba478233-215e-4b14-994d-eb278685a6d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:29f::/64","updated_at":"2025-01-24T14:47:21.627279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:21.627279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.10725ms
[...]
