---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-connector-target","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T08:52:32.997405Z","custom_routes_propagation_enabled":true,"id":"09c8a5b0-0ef8-4eb5-8833-ea9ef945245c","is_default":false,"name":"tf-vpc-connector-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T08:52:32.997405Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.52025ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/09c8a5b0-0ef8-4eb5-8833-ea9ef945245c
        method: GET
      response:
        body: '{"created_at":"2026-03-24T08:52:32.997405Z","custom_routes_propagation_enabled":true,"id":"09c8a5b0-0ef8-4eb5-8833-ea9ef945245c","is_default":false,"name":"tf-vpc-connector-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T08:52:32.997405Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.104ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-connector","tags":[],"vpc_id":"124f7a78-ae6e-4c22-b342-13b15876e6e2","target_vpc_id":"09c8a5b0-0ef8-4eb5-8833-ea9ef945245c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T08:52:33.134057Z","id":"07a3832c-609d-4806-afb4-9824143dfa8e","name":"tf-vpc-connector","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"09c8a5b0-0ef8-4eb5-8833-ea9ef945245c","updated_at":"2026-03-24T08:52:33.134057Z","vpc_id":"124f7a78-ae6e-4c22-b342-13b15876e6e2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.43775ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/07a3832c-609d-4806-afb4-9824143dfa8e
        method: GET
      response:
        body: '{"created_at":"2026-03-24T08:52:33.134057Z","id":"07a3832c-609d-4806-afb4-9824143dfa8e","name":"tf-vpc-connector","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"09c8a5b0-0ef8-4eb5-8833-ea9ef945245c","updated_at":"2026-03-24T08:52:33.134057Z","vpc_id":"124f7a78-ae6e-4c22-b342-13b15876e6e2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.887291ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/07a3832c-609d-4806-afb4-9824143dfa8e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"07a3832c-609d-4806-afb4-9824143dfa8e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.796416ms
