---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:15.970390Z","dhcp_enabled":true,"id":"bc941e90-f569-4daf-9c99-828c35f9d4b5","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:15.970390Z","id":"62c211fb-657e-4c78-a98a-0a10f8d4c9a9","private_network_id":"bc941e90-f569-4daf-9c99-828c35f9d4b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-28T10:05:15.970390Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:05:15.970390Z","id":"40a40353-9529-44c2-a1da-b40022f9b4f6","private_network_id":"bc941e90-f569-4daf-9c99-828c35f9d4b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:529f::/64","updated_at":"2025-01-28T10:05:15.970390Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:05:15.970390Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.0852475s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bc941e90-f569-4daf-9c99-828c35f9d4b5
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:15.970390Z","dhcp_enabled":true,"id":"bc941e90-f569-4daf-9c99-828c35f9d4b5","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:15.970390Z","id":"62c211fb-657e-4c78-a98a-0a10f8d4c9a9","private_network_id":"bc941e90-f569-4daf-9c99-828c35f9d4b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-28T10:05:15.970390Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:05:15.970390Z","id":"40a40353-9529-44c2-a1da-b40022f9b4f6","private_network_id":"bc941e90-f569-4daf-9c99-828c35f9d4b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:529f::/64","updated_at":"2025-01-28T10:05:15.970390Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:05:15.970390Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.761416ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bc941e90-f569-4daf-9c99-828c35f9d4b5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"bc941e90-f569-4daf-9c99-828c35f9d4b5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.045083ms
