---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.243697Z","custom_routes_propagation_enabled":false,"id":"7f3db7b8-77ac-4b50-8820-f56b27da527d","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.243697Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.017125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7f3db7b8-77ac-4b50-8820-f56b27da527d/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.243697Z","custom_routes_propagation_enabled":true,"id":"7f3db7b8-77ac-4b50-8820-f56b27da527d","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.285924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.268208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7f3db7b8-77ac-4b50-8820-f56b27da527d
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:57.243697Z","custom_routes_propagation_enabled":true,"id":"7f3db7b8-77ac-4b50-8820-f56b27da527d","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.285924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.118ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-clever-easley","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"7f3db7b8-77ac-4b50-8820-f56b27da527d","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.465120Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"25cb1964-e885-462d-91d0-b96ffca708c3","name":"tf-pn-clever-easley","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:57.465120Z","id":"cb4e6354-3c7c-4796-887c-2ca3e98a2199","private_network_id":"25cb1964-e885-462d-91d0-b96ffca708c3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.52.0/22","updated_at":"2025-06-30T15:18:57.465120Z","vpc_id":"7f3db7b8-77ac-4b50-8820-f56b27da527d"},{"created_at":"2025-06-30T15:18:57.465120Z","id":"72ac27db-cbb3-4dcf-aae1-a0f1a23c1072","private_network_id":"25cb1964-e885-462d-91d0-b96ffca708c3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8364::/64","updated_at":"2025-06-30T15:18:57.465120Z","vpc_id":"7f3db7b8-77ac-4b50-8820-f56b27da527d"}],"tags":[],"updated_at":"2025-06-30T15:18:57.465120Z","vpc_id":"7f3db7b8-77ac-4b50-8820-f56b27da527d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 791.40625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/25cb1964-e885-462d-91d0-b96ffca708c3
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:57.465120Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"25cb1964-e885-462d-91d0-b96ffca708c3","name":"tf-pn-clever-easley","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:57.465120Z","id":"cb4e6354-3c7c-4796-887c-2ca3e98a2199","private_network_id":"25cb1964-e885-462d-91d0-b96ffca708c3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.52.0/22","updated_at":"2025-06-30T15:18:57.465120Z","vpc_id":"7f3db7b8-77ac-4b50-8820-f56b27da527d"},{"created_at":"2025-06-30T15:18:57.465120Z","id":"72ac27db-cbb3-4dcf-aae1-a0f1a23c1072","private_network_id":"25cb1964-e885-462d-91d0-b96ffca708c3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8364::/64","updated_at":"2025-06-30T15:18:57.465120Z","vpc_id":"7f3db7b8-77ac-4b50-8820-f56b27da527d"}],"tags":[],"updated_at":"2025-06-30T15:18:57.465120Z","vpc_id":"7f3db7b8-77ac-4b50-8820-f56b27da527d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.71975ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/48b34ed7-f73b-4b1c-b4cc-e387c6cf1011
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"48b34ed7-f73b-4b1c-b4cc-e387c6cf1011","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.803292ms
