---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T14:47:29.349758Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c6915b5c-ee62-4fc9-a8d9-17382a4a94f8","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T14:47:29.349758Z","id":"783ed1f7-b5f6-4bea-965f-77411f810b16","private_network_id":"c6915b5c-ee62-4fc9-a8d9-17382a4a94f8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-06-30T14:47:29.349758Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T14:47:29.349758Z","id":"e30e230f-1d6c-4c60-9c35-360302e2e791","private_network_id":"c6915b5c-ee62-4fc9-a8d9-17382a4a94f8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6392::/64","updated_at":"2025-06-30T14:47:29.349758Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T14:47:29.349758Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 929.528625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c6915b5c-ee62-4fc9-a8d9-17382a4a94f8
        method: GET
      response:
        body: '{"created_at":"2025-06-30T14:47:29.349758Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c6915b5c-ee62-4fc9-a8d9-17382a4a94f8","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T14:47:29.349758Z","id":"783ed1f7-b5f6-4bea-965f-77411f810b16","private_network_id":"c6915b5c-ee62-4fc9-a8d9-17382a4a94f8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-06-30T14:47:29.349758Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T14:47:29.349758Z","id":"e30e230f-1d6c-4c60-9c35-360302e2e791","private_network_id":"c6915b5c-ee62-4fc9-a8d9-17382a4a94f8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6392::/64","updated_at":"2025-06-30T14:47:29.349758Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T14:47:29.349758Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.7065ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c6915b5c-ee62-4fc9-a8d9-17382a4a94f8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"c6915b5c-ee62-4fc9-a8d9-17382a4a94f8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 87.2175ms
