---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.311893Z\",\"updated_at\":\"2025-08-26T16:32:38.311893Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.046348ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d5ab21f2-7b33-43de-a5e9-7ed965351580
    method: GET
  response:
    body: "{\"id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.311893Z\",\"updated_at\":\"2025-08-26T16:32:38.311893Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 196.518765ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-priceless-clarke\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"5d4446bb-17db-4cb8-9bd0-93be45ae6db6\",\"name\":\"tf-pn-priceless-clarke\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.632216Z\",\"updated_at\":\"2025-08-26T16:32:38.632216Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"da9c52b0-aafd-47b2-a8a7-dd3742a89c24\",\"created_at\":\"2025-08-26T16:32:38.632216Z\",\"updated_at\":\"2025-08-26T16:32:38.632216Z\",\"subnet\":\"172.16.16.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5d4446bb-17db-4cb8-9bd0-93be45ae6db6\",\"vpc_id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\"},{\"id\":\"2cef9336-d0cd-4705-81ec-df1530bda739\",\"created_at\":\"2025-08-26T16:32:38.632216Z\",\"updated_at\":\"2025-08-26T16:32:38.632216Z\",\"subnet\":\"fde7:767f:1bb5:2595::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5d4446bb-17db-4cb8-9bd0-93be45ae6db6\",\"vpc_id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\"}],\"vpc_id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 796.488687ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5d4446bb-17db-4cb8-9bd0-93be45ae6db6
    method: GET
  response:
    body: "{\"id\":\"5d4446bb-17db-4cb8-9bd0-93be45ae6db6\",\"name\":\"tf-pn-priceless-clarke\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.632216Z\",\"updated_at\":\"2025-08-26T16:32:38.632216Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"da9c52b0-aafd-47b2-a8a7-dd3742a89c24\",\"created_at\":\"2025-08-26T16:32:38.632216Z\",\"updated_at\":\"2025-08-26T16:32:38.632216Z\",\"subnet\":\"172.16.16.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5d4446bb-17db-4cb8-9bd0-93be45ae6db6\",\"vpc_id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\"},{\"id\":\"2cef9336-d0cd-4705-81ec-df1530bda739\",\"created_at\":\"2025-08-26T16:32:38.632216Z\",\"updated_at\":\"2025-08-26T16:32:38.632216Z\",\"subnet\":\"fde7:767f:1bb5:2595::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5d4446bb-17db-4cb8-9bd0-93be45ae6db6\",\"vpc_id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\"}],\"vpc_id\":\"d5ab21f2-7b33-43de-a5e9-7ed965351580\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 31.022022ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7c38e8bb-b3b6-4acf-8bb7-863b8c38b03e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"7c38e8bb-b3b6-4acf-8bb7-863b8c38b03e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.726964ms
