---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-source","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T12:03:23.511508Z","custom_routes_propagation_enabled":true,"id":"26504d1f-2d2c-44cf-a172-ca048cceba2d","is_default":false,"name":"tf-conn-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T12:03:23.511508Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.203875ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/26504d1f-2d2c-44cf-a172-ca048cceba2d
        method: GET
      response:
        body: '{"created_at":"2026-03-24T12:03:23.511508Z","custom_routes_propagation_enabled":true,"id":"26504d1f-2d2c-44cf-a172-ca048cceba2d","is_default":false,"name":"tf-conn-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T12:03:23.511508Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.702792ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-basic","tags":[],"vpc_id":"26504d1f-2d2c-44cf-a172-ca048cceba2d","target_vpc_id":"2f79050f-909c-4b89-ad8a-2e21cb613a51"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T12:03:23.700558Z","id":"d5367469-f817-462d-9fee-5f7cd51b6e2c","name":"tf-conn-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2f79050f-909c-4b89-ad8a-2e21cb613a51","updated_at":"2026-03-24T12:03:23.700558Z","vpc_id":"26504d1f-2d2c-44cf-a172-ca048cceba2d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.447917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/d5367469-f817-462d-9fee-5f7cd51b6e2c
        method: GET
      response:
        body: '{"created_at":"2026-03-24T12:03:23.700558Z","id":"d5367469-f817-462d-9fee-5f7cd51b6e2c","name":"tf-conn-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2f79050f-909c-4b89-ad8a-2e21cb613a51","updated_at":"2026-03-24T12:03:23.700558Z","vpc_id":"26504d1f-2d2c-44cf-a172-ca048cceba2d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.7955ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/d5367469-f817-462d-9fee-5f7cd51b6e2c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"d5367469-f817-462d-9fee-5f7cd51b6e2c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.583667ms
