---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"private-network-test\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"56fe36c5-4c24-4ae9-ade4-ed9c9ee82853\",\"name\":\"private-network-test\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:40.372849Z\",\"updated_at\":\"2025-08-26T16:32:40.372849Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"ad051871-d0e2-4f8b-8922-c4793af004cd\",\"created_at\":\"2025-08-26T16:32:40.372849Z\",\"updated_at\":\"2025-08-26T16:32:40.372849Z\",\"subnet\":\"172.16.140.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"56fe36c5-4c24-4ae9-ade4-ed9c9ee82853\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"7f6c35a6-6a9b-4f11-a907-ea2b8b34df83\",\"created_at\":\"2025-08-26T16:32:40.372849Z\",\"updated_at\":\"2025-08-26T16:32:40.372849Z\",\"subnet\":\"fde7:767f:1bb5:82f::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"56fe36c5-4c24-4ae9-ade4-ed9c9ee82853\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.265026895s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/56fe36c5-4c24-4ae9-ade4-ed9c9ee82853
    method: GET
  response:
    body: "{\"id\":\"56fe36c5-4c24-4ae9-ade4-ed9c9ee82853\",\"name\":\"private-network-test\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:40.372849Z\",\"updated_at\":\"2025-08-26T16:32:40.372849Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"ad051871-d0e2-4f8b-8922-c4793af004cd\",\"created_at\":\"2025-08-26T16:32:40.372849Z\",\"updated_at\":\"2025-08-26T16:32:40.372849Z\",\"subnet\":\"172.16.140.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"56fe36c5-4c24-4ae9-ade4-ed9c9ee82853\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"7f6c35a6-6a9b-4f11-a907-ea2b8b34df83\",\"created_at\":\"2025-08-26T16:32:40.372849Z\",\"updated_at\":\"2025-08-26T16:32:40.372849Z\",\"subnet\":\"fde7:767f:1bb5:82f::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"56fe36c5-4c24-4ae9-ade4-ed9c9ee82853\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.008513ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/56fe36c5-4c24-4ae9-ade4-ed9c9ee82853
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"56fe36c5-4c24-4ae9-ade4-ed9c9ee82853\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.483215ms
