---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-target","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:45:57.354223Z","custom_routes_propagation_enabled":true,"id":"91487dca-49c5-46c1-af45-d16cd36a0655","is_default":false,"name":"tf-conn-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:45:57.354223Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.16ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/91487dca-49c5-46c1-af45-d16cd36a0655
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:45:57.354223Z","custom_routes_propagation_enabled":true,"id":"91487dca-49c5-46c1-af45-d16cd36a0655","is_default":false,"name":"tf-conn-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:45:57.354223Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.491042ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-basic","tags":[],"vpc_id":"1359bb0f-edcb-4cb2-a40d-af0a92a1d457","target_vpc_id":"91487dca-49c5-46c1-af45-d16cd36a0655"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:45:57.496950Z","id":"95c8ef8e-895c-416a-afdb-0e007ccfca0f","name":"tf-conn-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"91487dca-49c5-46c1-af45-d16cd36a0655","updated_at":"2026-03-24T09:45:57.496950Z","vpc_id":"1359bb0f-edcb-4cb2-a40d-af0a92a1d457"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.958708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/95c8ef8e-895c-416a-afdb-0e007ccfca0f
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:45:57.496950Z","id":"95c8ef8e-895c-416a-afdb-0e007ccfca0f","name":"tf-conn-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"91487dca-49c5-46c1-af45-d16cd36a0655","updated_at":"2026-03-24T09:45:57.496950Z","vpc_id":"1359bb0f-edcb-4cb2-a40d-af0a92a1d457"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.273166ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/95c8ef8e-895c-416a-afdb-0e007ccfca0f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"95c8ef8e-895c-416a-afdb-0e007ccfca0f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.904ms
