---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:22.158710Z","id":"55285790-2f10-4396-82d3-561bb90c7017","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:22.158710Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.558ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/55285790-2f10-4396-82d3-561bb90c7017
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:22.158710Z","id":"55285790-2f10-4396-82d3-561bb90c7017","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:22.158710Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.877167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-kind-davinci","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"55285790-2f10-4396-82d3-561bb90c7017"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:22.386570Z","dhcp_enabled":true,"id":"a0694f2c-9f3a-4a02-87a4-61076a022e39","name":"tf-pn-kind-davinci","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:22.386570Z","id":"866653ee-9811-430e-8cbf-77be3f94e52b","private_network_id":"a0694f2c-9f3a-4a02-87a4-61076a022e39","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T14:47:22.386570Z","vpc_id":"55285790-2f10-4396-82d3-561bb90c7017"},{"created_at":"2025-01-24T14:47:22.386570Z","id":"b616020e-dbfa-4a26-a8bb-564f78821759","private_network_id":"a0694f2c-9f3a-4a02-87a4-61076a022e39","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f522::/64","updated_at":"2025-01-24T14:47:22.386570Z","vpc_id":"55285790-2f10-4396-82d3-561bb90c7017"}],"tags":[],"updated_at":"2025-01-24T14:47:22.386570Z","vpc_id":"55285790-2f10-4396-82d3-561bb90c7017"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.096482292s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a0694f2c-9f3a-4a02-87a4-61076a022e39
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:22.386570Z","dhcp_enabled":true,"id":"a0694f2c-9f3a-4a02-87a4-61076a022e39","name":"tf-pn-kind-davinci","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:22.386570Z","id":"866653ee-9811-430e-8cbf-77be3f94e52b","private_network_id":"a0694f2c-9f3a-4a02-87a4-61076a022e39","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T14:47:22.386570Z","vpc_id":"55285790-2f10-4396-82d3-561bb90c7017"},{"created_at":"2025-01-24T14:47:22.386570Z","id":"b616020e-dbfa-4a26-a8bb-564f78821759","private_network_id":"a0694f2c-9f3a-4a02-87a4-61076a022e39","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f522::/64","updated_at":"2025-01-24T14:47:22.386570Z","vpc_id":"55285790-2f10-4396-82d3-561bb90c7017"}],"tags":[],"updated_at":"2025-01-24T14:47:22.386570Z","vpc_id":"55285790-2f10-4396-82d3-561bb90c7017"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.137667ms
[...]
