---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:49:43.059765Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"76b221f2-9e17-490b-9821-17ae5a48741e","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:49:43.059765Z","id":"c76ad0e6-8487-49a6-a95f-eebbf4732c69","private_network_id":"76b221f2-9e17-490b-9821-17ae5a48741e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.92.0/22","updated_at":"2025-06-30T15:49:43.059765Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:49:43.059765Z","id":"31abebc9-4bac-45ac-9192-feadd7d67006","private_network_id":"76b221f2-9e17-490b-9821-17ae5a48741e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2f5::/64","updated_at":"2025-06-30T15:49:43.059765Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:49:43.059765Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.199803084s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/76b221f2-9e17-490b-9821-17ae5a48741e
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:49:43.059765Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"76b221f2-9e17-490b-9821-17ae5a48741e","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:49:43.059765Z","id":"c76ad0e6-8487-49a6-a95f-eebbf4732c69","private_network_id":"76b221f2-9e17-490b-9821-17ae5a48741e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.92.0/22","updated_at":"2025-06-30T15:49:43.059765Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:49:43.059765Z","id":"31abebc9-4bac-45ac-9192-feadd7d67006","private_network_id":"76b221f2-9e17-490b-9821-17ae5a48741e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2f5::/64","updated_at":"2025-06-30T15:49:43.059765Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:49:43.059765Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.833375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/76b221f2-9e17-490b-9821-17ae5a48741e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"76b221f2-9e17-490b-9821-17ae5a48741e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.190291ms
