---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:23:29.611409Z","id":"f91bb71d-b731-412d-a1bc-14751dee848f","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T15:23:29.611409Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.395ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f91bb71d-b731-412d-a1bc-14751dee848f
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:23:29.611409Z","id":"f91bb71d-b731-412d-a1bc-14751dee848f","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T15:23:29.611409Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.024542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-great-sinoussi","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"f91bb71d-b731-412d-a1bc-14751dee848f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:23:29.830969Z","dhcp_enabled":true,"id":"29796822-a3ea-460b-b06c-ad00af904b33","name":"tf-pn-great-sinoussi","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T15:23:29.830969Z","id":"cbb700bc-e893-4397-b1d6-ecb4514e1717","private_network_id":"29796822-a3ea-460b-b06c-ad00af904b33","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T15:23:29.830969Z","vpc_id":"f91bb71d-b731-412d-a1bc-14751dee848f"},{"created_at":"2025-01-24T15:23:29.830969Z","id":"dc038f90-ea70-4cbb-ba4b-5a49554916ec","private_network_id":"29796822-a3ea-460b-b06c-ad00af904b33","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:d1ee::/64","updated_at":"2025-01-24T15:23:29.830969Z","vpc_id":"f91bb71d-b731-412d-a1bc-14751dee848f"}],"tags":[],"updated_at":"2025-01-24T15:23:29.830969Z","vpc_id":"f91bb71d-b731-412d-a1bc-14751dee848f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 593.894625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/29796822-a3ea-460b-b06c-ad00af904b33
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:23:29.830969Z","dhcp_enabled":true,"id":"29796822-a3ea-460b-b06c-ad00af904b33","name":"tf-pn-great-sinoussi","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T15:23:29.830969Z","id":"cbb700bc-e893-4397-b1d6-ecb4514e1717","private_network_id":"29796822-a3ea-460b-b06c-ad00af904b33","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T15:23:29.830969Z","vpc_id":"f91bb71d-b731-412d-a1bc-14751dee848f"},{"created_at":"2025-01-24T15:23:29.830969Z","id":"dc038f90-ea70-4cbb-ba4b-5a49554916ec","private_network_id":"29796822-a3ea-460b-b06c-ad00af904b33","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:d1ee::/64","updated_at":"2025-01-24T15:23:29.830969Z","vpc_id":"f91bb71d-b731-412d-a1bc-14751dee848f"}],"tags":[],"updated_at":"2025-01-24T15:23:29.830969Z","vpc_id":"f91bb71d-b731-412d-a1bc-14751dee848f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.968292ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/29796822-a3ea-460b-b06c-ad00af904b33
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"29796822-a3ea-460b-b06c-ad00af904b33","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.538666ms
