---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:14:53.347851Z","custom_routes_propagation_enabled":true,"id":"c9cf136d-1330-407e-bc46-e5e2c7890605","is_default":false,"name":"tf-ingress-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-06-23T09:14:53.347851Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.710083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c9cf136d-1330-407e-bc46-e5e2c7890605
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:14:53.347851Z","custom_routes_propagation_enabled":true,"id":"c9cf136d-1330-407e-bc46-e5e2c7890605","is_default":false,"name":"tf-ingress-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-23T09:14:53.347851Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.884166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-pn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"c9cf136d-1330-407e-bc46-e5e2c7890605","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:14:53.681351Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec","name":"tf-ingress-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-06-23T09:14:53.681351Z","id":"cc32c4fc-5f4f-4082-bc00-01c216f62967","private_network_id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnet":"172.17.80.0/22","updated_at":"2026-06-23T09:14:53.681351Z","vpc_id":"c9cf136d-1330-407e-bc46-e5e2c7890605"},{"created_at":"2026-06-23T09:14:53.681351Z","id":"7b98698b-6e9c-4c37-ab28-494b85986bb2","private_network_id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnet":"fd46:78ab:30b8:d707::/64","updated_at":"2026-06-23T09:14:53.681351Z","vpc_id":"c9cf136d-1330-407e-bc46-e5e2c7890605"}],"tags":[],"updated_at":"2026-06-23T09:14:53.681351Z","vpc_id":"c9cf136d-1330-407e-bc46-e5e2c7890605"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.957417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/19acf6ee-9dc3-4558-bd22-80e0a5f35bec
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:14:53.681351Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec","name":"tf-ingress-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcb[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.17.80.2/22","created_at":"2026-06-23T09:14:54.661013Z","id":"4e23301b-0495-4076-a33f-033131bf95c2","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"cc32c4fc-5f4f-4082-bc00-01c216f62967"},"tags":[],"updated_at":"2026-06-23T09:14:54.661013Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.397833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/4e23301b-0495-4076-a33f-033131bf95c2
        method: GET
      response:
        body: '{"address":"172.17.80.2/22","created_at":"2026-06-23T09:14:54.661013Z","id":"4e23301b-0495-4076-a33f-033131bf95c2","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"cc32c4fc-5f4f-4082-bc00-01c216f62967"},"tags":[],"updated_at":"2026-06-23T09:14:54.661013Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.15175ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"c9cf136d-1330-407e-bc46-e5e2c7890605","source":"10.0.0.0/24","nexthop_resource_ip":"172.17.80.2","nexthop_private_network_id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec","description":"ingress rule basic","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:14:54.873919Z","description":"ingress rule basic","id":"f1f27e04-6665-452b-83d8-59149f679d32","is_ipv6":false,"nexthop_private_network_id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec","nexthop_resource_ip":"172.17.80.2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","source":"10.0.0.0/24","tags":[],"updated_at":"2026-06-23T09:14:54.873919Z","vpc_id":"c9cf136d-1330-407e-bc46-e5e2c7890605"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.579459ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/f1f27e04-6665-452b-83d8-59149f679d32
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:14:54.873919Z","description":"ingress rule basic","id":"f1f27e04-6665-452b-83d8-59149f679d32","is_ipv6":false,"nexthop_private_network_id":"19acf6ee-9dc3-4558-bd22-80e0a5f35bec","nexthop_resource_ip":"172.17.80.2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","source":"10.0.0.0/24","tags":[],"updated_at":"2026-06-23T09:14:54.873919Z","vpc_id":"c9cf136d-1330-407e-bc46-e5e2c7890605"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.595417ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/f1f27e04-6665-452b-83d8-59149f679d32
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.508667ms
