---
version: 2
interactions:
- request:
    body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-05-31T12:00:49.059833Z","id":"b34a0ac8-e0fe-4ba2-a48b-e2656f1469a6","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-05-31T12:00:49.059833Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b34a0ac8-e0fe-4ba2-a48b-e2656f1469a6
    method: GET
  response:
    body: '{"created_at":"2023-05-31T12:00:49.059833Z","id":"b34a0ac8-e0fe-4ba2-a48b-e2656f1469a6","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-05-31T12:00:49.059833Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b34a0ac8-e0fe-4ba2-a48b-e2656f1469a6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"vpc","resource_id":"b34a0ac8-e0fe-4ba2-a48b-e2656f1469a6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
