---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-connector-target","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-23T15:56:34.959115Z","custom_routes_propagation_enabled":true,"id":"d35ec804-f0f4-4f14-b898-6fedcde5a106","is_default":false,"name":"tf-vpc-connector-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T15:56:34.959115Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.748375ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d35ec804-f0f4-4f14-b898-6fedcde5a106
        method: GET
      response:
        body: '{"created_at":"2026-03-23T15:56:34.959115Z","custom_routes_propagation_enabled":true,"id":"d35ec804-f0f4-4f14-b898-6fedcde5a106","is_default":false,"name":"tf-vpc-connector-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T15:56:34.959115Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.417791ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-connector","tags":[],"vpc_id":"d2e461e7-4e18-4a63-a084-cdad743124da","target_vpc_id":"d35ec804-f0f4-4f14-b898-6fedcde5a106"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-23T15:56:35.154095Z","id":"a1f7dc3d-6bd3-47d9-994e-e0761cca94d2","name":"tf-vpc-connector","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"d35ec804-f0f4-4f14-b898-6fedcde5a106","updated_at":"2026-03-23T15:56:35.154095Z","vpc_id":"d2e461e7-4e18-4a63-a084-cdad743124da"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.635708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/a1f7dc3d-6bd3-47d9-994e-e0761cca94d2
        method: GET
      response:
        body: '{"created_at":"2026-03-23T15:56:35.154095Z","id":"a1f7dc3d-6bd3-47d9-994e-e0761cca94d2","name":"tf-vpc-connector","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"d35ec804-f0f4-4f14-b898-6fedcde5a106","updated_at":"2026-03-23T15:56:35.154095Z","vpc_id":"d2e461e7-4e18-4a63-a084-cdad743124da"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.421458ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/a1f7dc3d-6bd3-47d9-994e-e0761cca94d2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"a1f7dc3d-6bd3-47d9-994e-e0761cca94d2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 109.874917ms
