---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-amazing-brattain","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:12:11.782001Z","custom_routes_propagation_enabled":true,"id":"f777cacb-50c5-4ebe-8613-29838162c8eb","is_default":false,"name":"tf-vpc-amazing-brattain","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:12:11.782001Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.957542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f777cacb-50c5-4ebe-8613-29838162c8eb
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:12:11.782001Z","custom_routes_propagation_enabled":true,"id":"f777cacb-50c5-4ebe-8613-29838162c8eb","is_default":false,"name":"tf-vpc-amazing-brattain","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:12:11.782001Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.251959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-loving-cori","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f777cacb-50c5-4ebe-8613-29838162c8eb","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:12:11.968244Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"707d3043-b01a-4edf-8431-9c9537b99906","name":"tf-pn-loving-cori","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:12:11.968244Z","id":"2e798e87-dabb-4663-b329-b4fed10f3307","private_network_id":"707d3043-b01a-4edf-8431-9c9537b99906","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-30T09:12:11.968244Z","vpc_id":"f777cacb-50c5-4ebe-8613-29838162c8eb"},{"created_at":"2025-09-30T09:12:11.968244Z","id":"7e37ffe3-781e-4730-aba2-a4952320c015","private_network_id":"707d3043-b01a-4edf-8431-9c9537b99906","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:ecad::/64","updated_at":"2025-09-30T09:12:11.968244Z","vpc_id":"f777cacb-50c5-4ebe-8613-29838162c8eb"}],"tags":[],"updated_at":"2025-09-30T09:12:11.968244Z","vpc_id":"f777cacb-50c5-4ebe-8613-29838162c8eb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 679.486042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/707d3043-b01a-4edf-8431-9c9537b99906
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:12:11.968244Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"707d3043-b01a-4edf-8431-9c9537b99906","name":"tf-pn-loving-cori","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:12:11.968244Z","id":"2e798e87-dabb-4663-b329-b4fed10f3307","private_network_id":"707d3043-b01a-4edf-8431-9c9537b99906","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-30T09:12:11.968244Z","vpc_id":"f777cacb-50c5-4ebe-8613-29838162c8eb"},{"created_at":"2025-09-30T09:12:11.968244Z","id":"7e37ffe3-781e-4730-aba2-a4952320c015","private_network_id":"707d3043-b01a-4edf-8431-9c9537b99906","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:ecad::/64","updated_at":"2025-09-30T09:12:11.968244Z","vpc_id":"f777cacb-50c5-4ebe-8613-29838162c8eb"}],"tags":[],"updated_at":"2025-09-30T09:12:11.968244Z","vpc_id":"f777cacb-50c5-4ebe-8613-29838162c8eb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.949583ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/707d3043-b01a-4edf-8431-9c9537b99906
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"707d3043-b01a-4edf-8431-9c9537b99906","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.178ms
