---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-import","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-04T15:54:42.724544Z","custom_routes_propagation_enabled":true,"id":"763750ef-3ae5-41b9-afb2-bad95edc099f","is_default":false,"name":"test-vpc-import","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-04T15:54:42.724544Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.7155ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/763750ef-3ae5-41b9-afb2-bad95edc099f
        method: GET
      response:
        body: '{"created_at":"2025-09-04T15:54:42.724544Z","custom_routes_propagation_enabled":true,"id":"763750ef-3ae5-41b9-afb2-bad95edc099f","is_default":false,"name":"test-vpc-import","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-04T15:54:42.724544Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.659959ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/763750ef-3ae5-41b9-afb2-bad95edc099f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"763750ef-3ae5-41b9-afb2-bad95edc099f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.052875ms
