---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-musing-dirac","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.308685Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"dc36f227-39e9-4716-9fcb-fcb5744aacba","name":"tf-pn-musing-dirac","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:57.308685Z","id":"51491a44-c838-4d7d-a475-460b79fc9825","private_network_id":"dc36f227-39e9-4716-9fcb-fcb5744aacba","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.88.0/22","updated_at":"2025-06-30T15:18:57.308685Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:18:57.308685Z","id":"6afe90bc-4106-41d8-8749-a7e2919d8c65","private_network_id":"dc36f227-39e9-4716-9fcb-fcb5744aacba","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6472::/64","updated_at":"2025-06-30T15:18:57.308685Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:18:57.308685Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.090263583s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dc36f227-39e9-4716-9fcb-fcb5744aacba
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:57.308685Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"dc36f227-39e9-4716-9fcb-fcb5744aacba","name":"tf-pn-musing-dirac","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:18:57.308685Z","id":"51491a44-c838-4d7d-a475-460b79fc9825","private_network_id":"dc36f227-39e9-4716-9fcb-fcb5744aacba","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.88.0/22","updated_at":"2025-06-30T15:18:57.308685Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:18:57.308685Z","id":"6afe90bc-4106-41d8-8749-a7e2919d8c65","private_network_id":"dc36f227-39e9-4716-9fcb-fcb5744aacba","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6472::/64","updated_at":"2025-06-30T15:18:57.308685Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:18:57.308685Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.211ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dc36f227-39e9-4716-9fcb-fcb5744aacba
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"dc36f227-39e9-4716-9fcb-fcb5744aacba","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.211583ms
