---
version: 2
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-08-23T14:22:39.556706Z","id":"db87296c-ece0-42ac-9ff8-dbbc555ecd1a","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-08-23T14:22:39.556706Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/db87296c-ece0-42ac-9ff8-dbbc555ecd1a
    method: GET
  response:
    body: '{"created_at":"2023-08-23T14:22:39.556706Z","id":"db87296c-ece0-42ac-9ff8-dbbc555ecd1a","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-08-23T14:22:39.556706Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-kind-beaver","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":"db87296c-ece0-42ac-9ff8-dbbc555ecd1a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-08-23T14:22:39.861769Z","dhcp_enabled":true,"id":"1c7971e4-6a04-4ac5-af3d-c0ead568b585","name":"tf-pn-kind-beaver","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-08-23T14:22:39.861769Z","id":"270cc5fb-1bb0-4a32-b760-9d4f411b5bf5","subnet":"172.16.64.0/22","updated_at":"2023-08-23T14:22:39.861769Z"},{"created_at":"2023-08-23T14:22:39.861769Z","id":"446bef6f-291b-4437-9984-250a4a435b5f","subnet":"fd46:78ab:30b8:f7fa::/64","updated_at":"2023-08-23T14:22:39.861769Z"}],"tags":[],"updated_at":"2023-08-23T14:22:39.861769Z","vpc_id":"db87296c-ece0-42ac-9ff8-dbbc555ecd1a"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1c7971e4-6a04-4ac5-af3d-c0ead568b585
    method: GET
  response:
    body: '{"created_at":"2023-08-23T14:22:39.861769Z","dhcp_enabled":true,"id":"1c7971e4-6a04-4ac5-af3d-c0ead568b585","name":"tf-pn-kind-beaver","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-08-23T14:22:39.861769Z","id":"270cc5fb-1bb0-4a32-b760-9d4f411b5bf5","subnet":"172.16.64.0/22","updated_at":"2023-08-23T14:22:39.861769Z"},{"created_at":"2023-08-23T14:22:39.861769Z","id":"446bef6f-291b-4437-9984-250a4a435b5f","subnet":"fd46:78ab:30b8:f7fa::/64","updated_at":"2023-08-23T14:22:39.861769Z"}],"tags":[],"updated_at":"2023-08-23T14:22:39.861769Z","vpc_id":"db87296c-ece0-42ac-9ff8-dbbc555ecd1a"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/54859c93-2cb7-47ca-82e9-f5d51ea2c61c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"54859c93-2cb7-47ca-82e9-f5d51ea2c61c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
