---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-target","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:11:09.498988Z","custom_routes_propagation_enabled":true,"id":"2d67da6e-650a-4816-84da-5d776486b073","is_default":false,"name":"tf-conn-target","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:11:09.498988Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.666498ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.152523ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2d67da6e-650a-4816-84da-5d776486b073
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:11:09.498988Z","custom_routes_propagation_enabled":true,"id":"2d67da6e-650a-4816-84da-5d776486b073","is_default":false,"name":"tf-conn-target","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:11:09.498988Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.32731ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-basic","tags":[],"vpc_id":"8bf86a68-40bc-4d87-b413-ebce2f4ed0cb","target_vpc_id":"2d67da6e-650a-4816-84da-5d776486b073"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:11:09.858288Z","id":"e1af93b0-8515-4c11-858d-9610b8986e0d","name":"tf-conn-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2d67da6e-650a-4816-84da-5d776486b073","updated_at":"2026-08-24T14:11:09.858288Z","vpc_id":"8bf86a68-40bc-4d87-b413-ebce2f4ed0cb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.879898ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/e1af93b0-8515-4c11-858d-9610b8986e0d
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:11:09.858288Z","id":"e1af93b0-8515-4c11-858d-9610b8986e0d","name":"tf-conn-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2d67da6e-650a-4816-84da-5d776486b073","updated_at":"2026-08-24T14:11:09.858288Z","vpc_id":"8bf86a68-40bc-4d87-b413-ebce2f4ed0cb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.777357ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/e1af93b0-8515-4c11-858d-9610b8986e0d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"e1af93b0-8515-4c11-858d-9610b8986e0d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.982247ms
