---
version: 2
interactions:
- request:
    body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","vpc","update"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-06-06T14:00:36.705612Z","id":"55d3558f-fe9f-4487-82bd-682562218439","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-06-06T14:00:36.705612Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/55d3558f-fe9f-4487-82bd-682562218439
    method: GET
  response:
    body: '{"created_at":"2023-06-06T14:00:36.705612Z","id":"55d3558f-fe9f-4487-82bd-682562218439","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-06-06T14:00:36.705612Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"pn1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["tag0","tag1"],"subnets":["192.168.0.0/24","fd46:78ab:30b8:c7df::/64","fd46:78ab:30b8:177c::/64"],"vpc_id":"55d3558f-fe9f-4487-82bd-682562218439"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-06T14:00:36.982505Z","id":"3efb22a6-e165-44e1-a519-d80ec92862de","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-06-06T14:00:36.982505Z","id":"6f5b7001-0ec2-42de-88be-7bcb008a7170","subnet":"192.168.0.0/24","updated_at":"2023-06-06T14:00:36.982505Z"},{"created_at":"2023-06-06T14:00:36.982505Z","id":"910334b7-54ed-478f-aeab-cbee1e0d457c","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-06-06T14:00:36.982505Z"},{"created_at":"2023-06-06T14:00:36.982505Z","id":"fbfd9409-173c-4ed5-80d7-278da1946ff0","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-06-06T14:00:36.982505Z"}],"tags":["tag0","tag1"],"updated_at":"2023-06-06T14:00:36.982505Z","vpc_id":"55d3558f-fe9f-4487-82bd-682562218439"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3efb22a6-e165-44e1-a519-d80ec92862de
    method: GET
  response:
    body: '{"created_at":"2023-06-06T14:00:36.982505Z","id":"3efb22a6-e165-44e1-a519-d80ec92862de","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-06-06T14:00:36.982505Z","id":"6f5b7001-0ec2-42de-88be-7bcb008a7170","subnet":"192.168.0.0/24","updated_at":"2023-06-06T14:00:36.982505Z"},{"created_at":"2023-06-06T14:00:36.982505Z","id":"910334b7-54ed-478f-aeab-cbee1e0d457c","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-06-06T14:00:36.982505Z"},{"created_at":"2023-06-06T14:00:36.982505Z","id":"fbfd9409-173c-4ed5-80d7-278da1946ff0","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-06-06T14:00:36.982505Z"}],"tags":["tag0","tag1"],"updated_at":"2023-06-06T14:00:36.982505Z","vpc_id":"55d3558f-fe9f-4487-82bd-682562218439"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/55d3558f-fe9f-4487-82bd-682562218439
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"vpc","resource_id":"55d3558f-fe9f-4487-82bd-682562218439","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
