---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:11:38.649619Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5bbe47f2-bfc6-49b0-8526-c4d0e40a8be4","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:11:38.649619Z","id":"8975e77f-85f8-43e0-b386-409ceb7bad26","private_network_id":"5bbe47f2-bfc6-49b0-8526-c4d0e40a8be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.108.0/22","updated_at":"2025-09-30T09:11:38.649619Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-30T09:11:38.649619Z","id":"0e1093af-a671-4a77-acf1-c4d9fe3d5f6e","private_network_id":"5bbe47f2-bfc6-49b0-8526-c4d0e40a8be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6452::/64","updated_at":"2025-09-30T09:11:38.649619Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-30T09:11:38.649619Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 753.164125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5bbe47f2-bfc6-49b0-8526-c4d0e40a8be4
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:11:38.649619Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5bbe47f2-bfc6-49b0-8526-c4d0e40a8be4","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:11:38.649619Z","id":"8975e77f-85f8-43e0-b386-409ceb7bad26","private_network_id":"5bbe47f2-bfc6-49b0-8526-c4d0e40a8be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.108.0/22","updated_at":"2025-09-30T09:11:38.649619Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-30T09:11:38.649619Z","id":"0e1093af-a671-4a77-acf1-c4d9fe3d5f6e","private_network_id":"5bbe47f2-bfc6-49b0-8526-c4d0e40a8be4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6452::/64","updated_at":"2025-09-30T09:11:38.649619Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-30T09:11:38.649619Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.384458ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:11:41.421780Z","custom_routes_propagation_enabled":true,"id":"f2629271-164f-476a-88f4-62f7f74d44b0","is_default":false,"name":"TestAccVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:11:41.421780Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.44875ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f2629271-164f-476a-88f4-62f7f74d44b0
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:11:41.421780Z","custom_routes_propagation_enabled":true,"id":"f2629271-164f-476a-88f4-62f7f74d44b0","is_default":false,"name":"TestAccVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:11:41.421780Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.141916ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1d7484f0-b1c8-40bd-9f49-ffa32279e7f5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"1d7484f0-b1c8-40bd-9f49-ffa32279e7f5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.993875ms
