---
version: 2
interactions:
- request:
    body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-05-31T12:01:11.895389Z","id":"ab652a5b-1412-44bc-b0df-1524870a9f60","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-05-31T12:01:11.895389Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ab652a5b-1412-44bc-b0df-1524870a9f60
    method: GET
  response:
    body: '{"created_at":"2023-05-31T12:01:11.895389Z","id":"ab652a5b-1412-44bc-b0df-1524870a9f60","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-05-31T12:01:11.895389Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-05-31T12:01:13.681282Z","id":"ebca2190-4684-4288-a9c3-28ca16d82ba1","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","tags":[],"updated_at":"2023-05-31T12:01:13.681282Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/ebca2190-4684-4288-a9c3-28ca16d82ba1
    method: GET
  response:
    body: '{"created_at":"2023-05-31T12:01:13.681282Z","id":"ebca2190-4684-4288-a9c3-28ca16d82ba1","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","tags":[],"updated_at":"2023-05-31T12:01:13.681282Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/ebca2190-4684-4288-a9c3-28ca16d82ba1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"vpc","resource_id":"ebca2190-4684-4288-a9c3-28ca16d82ba1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
