---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-inspiring-yonath","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:15.903966Z","dhcp_enabled":true,"id":"3d9299ce-087f-4dc0-8b47-affd8ec1da07","name":"tf-pn-inspiring-yonath","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:15.903966Z","id":"7584e46a-54f7-4884-8249-fc67933fefa3","private_network_id":"3d9299ce-087f-4dc0-8b47-affd8ec1da07","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-28T10:05:15.903966Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:05:15.903966Z","id":"7580b5cd-19ec-46ba-ace1-f198cc978460","private_network_id":"3d9299ce-087f-4dc0-8b47-affd8ec1da07","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9d9::/64","updated_at":"2025-01-28T10:05:15.903966Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:05:15.903966Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.270465958s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3d9299ce-087f-4dc0-8b47-affd8ec1da07
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:15.903966Z","dhcp_enabled":true,"id":"3d9299ce-087f-4dc0-8b47-affd8ec1da07","name":"tf-pn-inspiring-yonath","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:15.903966Z","id":"7584e46a-54f7-4884-8249-fc67933fefa3","private_network_id":"3d9299ce-087f-4dc0-8b47-affd8ec1da07","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-28T10:05:15.903966Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:05:15.903966Z","id":"7580b5cd-19ec-46ba-ace1-f198cc978460","private_network_id":"3d9299ce-087f-4dc0-8b47-affd8ec1da07","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9d9::/64","updated_at":"2025-01-28T10:05:15.903966Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:05:15.903966Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.063916ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3d9299ce-087f-4dc0-8b47-affd8ec1da07
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"3d9299ce-087f-4dc0-8b47-affd8ec1da07","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.04175ms
