---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:11:29.877100Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"91784409-3805-4eed-afb4-7a5909be07f4","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-24T14:11:29.877100Z","id":"1c9c9166-a841-4df9-a9a1-2f8a9e651869","private_network_id":"91784409-3805-4eed-afb4-7a5909be07f4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.124.0/22","updated_at":"2026-08-24T14:11:29.877100Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"},{"created_at":"2026-08-24T14:11:29.877100Z","id":"103695a5-b216-433d-a618-747ba6e7ecc0","private_network_id":"91784409-3805-4eed-afb4-7a5909be07f4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:866f::/64","updated_at":"2026-08-24T14:11:29.877100Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}],"tags":[],"updated_at":"2026-08-24T14:11:29.877100Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 795.379099ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.814012ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/91784409-3805-4eed-afb4-7a5909be07f4
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:11:29.877100Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"91784409-3805-4eed-afb4-7a5909be07f4","name":"private-network-test","organization_id":"[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:11:33.286016Z","custom_routes_propagation_enabled":true,"id":"b3d70e10-58f3-4f0c-ab9c-6b06e8dee9a7","is_default":false,"name":"TestAccVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:11:33.286016Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.820984ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b3d70e10-58f3-4f0c-ab9c-6b06e8dee9a7
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:11:33.286016Z","custom_routes_propagation_enabled":true,"id":"b3d70e10-58f3-4f0c-ab9c-6b06e8dee9a7","is_default":false,"name":"TestAccVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:11:33.286016Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.208515ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cad3ab15-5635-4591-8514-1e43f9684c10
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"cad3ab15-5635-4591-8514-1e43f9684c10","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.930057ms
