---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:20.655159Z","id":"486c6277-75b0-4093-80e2-3911ae5001b9","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:20.655159Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.250083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/486c6277-75b0-4093-80e2-3911ae5001b9
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:20.655159Z","id":"486c6277-75b0-4093-80e2-3911ae5001b9","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:20.655159Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.000375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-goofy-kilby","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"486c6277-75b0-4093-80e2-3911ae5001b9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:20.777186Z","dhcp_enabled":true,"id":"e766cf1c-792e-4465-9074-da2f04cc4b1d","name":"tf-pn-goofy-kilby","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:20.777186Z","id":"7a79c632-efe8-4d23-85b8-2a1ce8b488ae","private_network_id":"e766cf1c-792e-4465-9074-da2f04cc4b1d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-28T10:05:20.777186Z","vpc_id":"486c6277-75b0-4093-80e2-3911ae5001b9"},{"created_at":"2025-01-28T10:05:20.777186Z","id":"12cb231a-783d-415b-9520-1911505346d2","private_network_id":"e766cf1c-792e-4465-9074-da2f04cc4b1d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7b96::/64","updated_at":"2025-01-28T10:05:20.777186Z","vpc_id":"486c6277-75b0-4093-80e2-3911ae5001b9"}],"tags":[],"updated_at":"2025-01-28T10:05:20.777186Z","vpc_id":"486c6277-75b0-4093-80e2-3911ae5001b9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 549.746584ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e766cf1c-792e-4465-9074-da2f04cc4b1d
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:20.777186Z","dhcp_enabled":true,"id":"e766cf1c-792e-4465-9074-da2f04cc4b1d","name":"tf-pn-goofy-kilby","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:20.777186Z","id":"7a79c632-efe8-4d23-85b8-2a1ce8b488ae","private_network_id":"e766cf1c-792e-4465-9074-da2f04cc4b1d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-28T10:05:20.777186Z","vpc_id":"486c6277-75b0-4093-80e2-3911ae5001b9"},{"created_at":"2025-01-28T10:05:20.777186Z","id":"12cb231a-783d-415b-9520-1911505346d2","private_network_id":"e766cf1c-792e-4465-9074-da2f04cc4b1d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7b96::/64","updated_at":"2025-01-28T10:05:20.777186Z","vpc_id":"486c6277-75b0-4093-80e2-3911ae5001b9"}],"tags":[],"updated_at":"2025-01-28T10:05:20.777186Z","vpc_id":"486c6277-75b0-4093-80e2-3911ae5001b9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.496458ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e766cf1c-792e-4465-9074-da2f04cc4b1d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"e766cf1c-792e-4465-9074-da2f04cc4b1d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.643375ms
