---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.391816Z\",\"updated_at\":\"2025-08-26T16:32:38.391816Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 260.416137ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d1ac40a1-01e5-42bd-b540-a4283667dbbe
    method: GET
  response:
    body: "{\"id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.391816Z\",\"updated_at\":\"2025-08-26T16:32:38.391816Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.036617ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-jovial-leavitt\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.64.0/22\"],\"vpc_id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"de1d9039-8360-43ab-a79f-4c6c1993679a\",\"name\":\"tf-pn-jovial-leavitt\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:39.066042Z\",\"updated_at\":\"2025-08-26T16:32:39.066042Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f434b2b1-49cb-4ac4-bef3-b0c998879c9d\",\"created_at\":\"2025-08-26T16:32:39.066042Z\",\"updated_at\":\"2025-08-26T16:32:39.066042Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"de1d9039-8360-43ab-a79f-4c6c1993679a\",\"vpc_id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\"},{\"id\":\"32b6a301-22a0-446c-8ff0-01d326928c4d\",\"created_at\":\"2025-08-26T16:32:39.066042Z\",\"updated_at\":\"2025-08-26T16:32:39.066042Z\",\"subnet\":\"fde7:767f:1bb5:a8b8::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"de1d9039-8360-43ab-a79f-4c6c1993679a\",\"vpc_id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\"}],\"vpc_id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.539450212s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/de1d9039-8360-43ab-a79f-4c6c1993679a
    method: GET
  response:
    body: "{\"id\":\"de1d9039-8360-43ab-a79f-4c6c1993679a\",\"name\":\"tf-pn-jovial-leavitt\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:39.066042Z\",\"updated_at\":\"2025-08-26T16:32:39.066042Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f434b2b1-49cb-4ac4-bef3-b0c998879c9d\",\"created_at\":\"2025-08-26T16:32:39.066042Z\",\"updated_at\":\"2025-08-26T16:32:39.066042Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"de1d9039-8360-43ab-a79f-4c6c1993679a\",\"vpc_id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\"},{\"id\":\"32b6a301-22a0-446c-8ff0-01d326928c4d\",\"created_at\":\"2025-08-26T16:32:39.066042Z\",\"updated_at\":\"2025-08-26T16:32:39.066042Z\",\"subnet\":\"fde7:767f:1bb5:a8b8::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"de1d9039-8360-43ab-a79f-4c6c1993679a\",\"vpc_id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\"}],\"vpc_id\":\"d1ac40a1-01e5-42bd-b540-a4283667dbbe\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 49.65881ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/de1d9039-8360-43ab-a79f-4c6c1993679a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"de1d9039-8360-43ab-a79f-4c6c1993679a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.384821ms
