---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.253602Z","custom_routes_propagation_enabled":false,"id":"4bcfa3ac-19f1-40d5-94e6-e0d72992ad2f","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.253602Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.688625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4bcfa3ac-19f1-40d5-94e6-e0d72992ad2f/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:57.253602Z","custom_routes_propagation_enabled":true,"id":"4bcfa3ac-19f1-40d5-94e6-e0d72992ad2f","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.307308Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.203708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4bcfa3ac-19f1-40d5-94e6-e0d72992ad2f
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:57.253602Z","custom_routes_propagation_enabled":true,"id":"4bcfa3ac-19f1-40d5-94e6-e0d72992ad2f","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:57.307308Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.521583ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:58.126455Z","custom_routes_propagation_enabled":false,"id":"d4ca3b14-60f5-4df7-ac72-de2f853f93ca","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:58.126455Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.8755ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/d4ca3b14-60f5-4df7-ac72-de2f853f93ca/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:18:58.126455Z","custom_routes_propagation_enabled":true,"id":"d4ca3b14-60f5-4df7-ac72-de2f853f93ca","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:58.211029Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.724583ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/d4ca3b14-60f5-4df7-ac72-de2f853f93ca
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:18:58.126455Z","custom_routes_propagation_enabled":true,"id":"d4ca3b14-60f5-4df7-ac72-de2f853f93ca","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:18:58.211029Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.910375ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/d4ca3b14-60f5-4df7-ac72-de2f853f93ca
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"d4ca3b14-60f5-4df7-ac72-de2f853f93ca","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.240791ms
