---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-disable-routing","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 1.813122s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-disable-routing","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:19:00.799709Z","custom_routes_propagation_enabled":false,"id":"4bc77aa8-b4ed-4a7e-aab5-a87781f89fb3","is_default":false,"name":"test-vpc-disable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:19:00.799709Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.130208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4bc77aa8-b4ed-4a7e-aab5-a87781f89fb3/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:19:00.799709Z","custom_routes_propagation_enabled":true,"id":"4bc77aa8-b4ed-4a7e-aab5-a87781f89fb3","is_default":false,"name":"test-vpc-disable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:19:00.854660Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.259333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4bc77aa8-b4ed-4a7e-aab5-a87781f89fb3
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:19:00.799709Z","custom_routes_propagation_enabled":true,"id":"4bc77aa8-b4ed-4a7e-aab5-a87781f89fb3","is_default":false,"name":"test-vpc-disable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:19:00.854660Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.720083ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4bc77aa8-b4ed-4a7e-aab5-a87781f89fb3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"4bc77aa8-b4ed-4a7e-aab5-a87781f89fb3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.466541ms
