---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpcsrc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-15T16:43:56.887335Z","custom_routes_propagation_enabled":true,"id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8","is_default":false,"name":"tf-vpcsrc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T16:43:56.887335Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.431209ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/72d80be2-0ba7-4b3a-a107-4fd86d6814f8
        method: GET
      response:
        body: '{"created_at":"2026-04-15T16:43:56.887335Z","custom_routes_propagation_enabled":true,"id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8","is_default":false,"name":"tf-vpcsrc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T16:43:56.887335Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.043ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-route","tags":[],"vpc_id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8","target_vpc_id":"110fbf8b-7849-46b5-8b05-556ce7969d8f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-04-15T16:43:57.078043Z","id":"7fce3474-a76e-4a23-a98a-21fcf038cb3b","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"110fbf8b-7849-46b5-8b05-556ce7969d8f","updated_at":"2026-04-15T16:43:57.078043Z","vpc_id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.75925ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/7fce3474-a76e-4a23-a98a-21fcf038cb3b
        method: GET
      response:
        body: '{"created_at":"2026-04-15T16:43:57.078043Z","id":"7fce3474-a76e-4a23-a98a-21fcf038cb3b","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"110fbf8b-7849-46b5-8b05-556ce7969d8f","updated_at":"2026-04-15T16:43:57.078043Z","vpc_id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.118583ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"description":"tf-route-connector","tags":["tf","route","connector"],"vpc_id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8","destination":"10.0.0.0/24","nexthop_vpc_connector_id":"7fce3474-a76e-4a23-a98a-21fcf038cb3b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2026-04-15T16:43:57.179481Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"2069b239-804d-405c-85c7-9ff78213d320","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"7fce3474-a76e-4a23-a98a-21fcf038cb3b","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T16:43:57.179481Z","vpc_id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.304583ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/2069b239-804d-405c-85c7-9ff78213d320
        method: GET
      response:
        body: '{"created_at":"2026-04-15T16:43:57.179481Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"2069b239-804d-405c-85c7-9ff78213d320","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"7fce3474-a76e-4a23-a98a-21fcf038cb3b","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T16:43:57.179481Z","vpc_id":"72d80be2-0ba7-4b3a-a107-4fd86d6814f8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.96525ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/2069b239-804d-405c-85c7-9ff78213d320
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.8715ms
