---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpcsrc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-16T07:42:00.040130Z","custom_routes_propagation_enabled":true,"id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb","is_default":false,"name":"tf-vpcsrc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-16T07:42:00.040130Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.548209ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ec06d3e7-8d1e-432a-a9c9-dd5522634deb
        method: GET
      response:
        body: '{"created_at":"2026-04-16T07:42:00.040130Z","custom_routes_propagation_enabled":true,"id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb","is_default":false,"name":"tf-vpcsrc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-16T07:42:00.040130Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.046625ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-route","tags":[],"vpc_id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb","target_vpc_id":"fe1efab5-30f8-4f13-bc4c-01010f48318d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-04-16T07:42:00.259894Z","id":"d7df0643-8bfb-49a7-b186-07ad37f26d7b","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"fe1efab5-30f8-4f13-bc4c-01010f48318d","updated_at":"2026-04-16T07:42:00.259894Z","vpc_id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.7305ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/d7df0643-8bfb-49a7-b186-07ad37f26d7b
        method: GET
      response:
        body: '{"created_at":"2026-04-16T07:42:00.259894Z","id":"d7df0643-8bfb-49a7-b186-07ad37f26d7b","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"fe1efab5-30f8-4f13-bc4c-01010f48318d","updated_at":"2026-04-16T07:42:00.259894Z","vpc_id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.4565ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"description":"tf-route-connector","tags":["tf","route","connector"],"vpc_id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb","destination":"10.0.0.0/24","nexthop_vpc_connector_id":"d7df0643-8bfb-49a7-b186-07ad37f26d7b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2026-04-16T07:42:00.404789Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"89aee8aa-8086-4538-aa61-2bbc3d8be6d6","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"d7df0643-8bfb-49a7-b186-07ad37f26d7b","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-16T07:42:00.404789Z","vpc_id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.959292ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/89aee8aa-8086-4538-aa61-2bbc3d8be6d6
        method: GET
      response:
        body: '{"created_at":"2026-04-16T07:42:00.404789Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"89aee8aa-8086-4538-aa61-2bbc3d8be6d6","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"d7df0643-8bfb-49a7-b186-07ad37f26d7b","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-16T07:42:00.404789Z","vpc_id":"ec06d3e7-8d1e-432a-a9c9-dd5522634deb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.823208ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/89aee8aa-8086-4538-aa61-2bbc3d8be6d6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.21125ms
