---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-connector-source","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-23T18:00:51.736157Z","custom_routes_propagation_enabled":true,"id":"7975b880-9fb8-4486-9e46-361c115a808e","is_default":false,"name":"tf-vpc-connector-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T18:00:51.736157Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 521.414375ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/dc5eb289-20e6-4a6d-aba3-a3a4c982182a
        method: GET
      response:
        body: '{"created_at":"2026-03-23T18:00:51.781301Z","custom_routes_propagation_enabled":true,"id":"dc5eb289-20e6-4a6d-aba3-a3a4c982182a","is_default":false,"name":"tf-vpc-connector-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T18:00:51.781301Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.04025ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-connector","tags":[],"vpc_id":"7975b880-9fb8-4486-9e46-361c115a808e","target_vpc_id":"dc5eb289-20e6-4a6d-aba3-a3a4c982182a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-23T18:00:51.941057Z","id":"59d88b2f-c0fe-4132-99c5-ed83f4416f21","name":"tf-vpc-connector","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"dc5eb289-20e6-4a6d-aba3-a3a4c982182a","updated_at":"2026-03-23T18:00:51.941057Z","vpc_id":"7975b880-9fb8-4486-9e46-361c115a808e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.4865ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/59d88b2f-c0fe-4132-99c5-ed83f4416f21
        method: GET
      response:
        body: '{"created_at":"2026-03-23T18:00:51.941057Z","id":"59d88b2f-c0fe-4132-99c5-ed83f4416f21","name":"tf-vpc-connector","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"dc5eb289-20e6-4a6d-aba3-a3a4c982182a","updated_at":"2026-03-23T18:00:51.941057Z","vpc_id":"7975b880-9fb8-4486-9e46-361c115a808e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.615708ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/59d88b2f-c0fe-4132-99c5-ed83f4416f21
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"59d88b2f-c0fe-4132-99c5-ed83f4416f21","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.639292ms
