---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-conn-dst","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-15T16:23:13.020509Z","custom_routes_propagation_enabled":true,"id":"04a9e749-575c-4e9b-8159-47a05b3e6bc6","is_default":false,"name":"tf-vpc-route-conn-dst","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T16:23:13.020509Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.995833ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/04a9e749-575c-4e9b-8159-47a05b3e6bc6
        method: GET
      response:
        body: '{"created_at":"2026-04-15T16:23:13.020509Z","custom_routes_propagation_enabled":true,"id":"04a9e749-575c-4e9b-8159-47a05b3e6bc6","is_default":false,"name":"tf-vpc-route-conn-dst","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T16:23:13.020509Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.555875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-route","tags":[],"vpc_id":"7b9929b4-5a2f-469a-948e-14d484513e45","target_vpc_id":"04a9e749-575c-4e9b-8159-47a05b3e6bc6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-04-15T16:23:13.255642Z","id":"19df0dd4-835c-41d9-becd-39cde21f6044","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"04a9e749-575c-4e9b-8159-47a05b3e6bc6","updated_at":"2026-04-15T16:23:13.255642Z","vpc_id":"7b9929b4-5a2f-469a-948e-14d484513e45"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.108834ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/19df0dd4-835c-41d9-becd-39cde21f6044
        method: GET
      response:
        body: '{"created_at":"2026-04-15T16:23:13.255642Z","id":"19df0dd4-835c-41d9-becd-39cde21f6044","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"04a9e749-575c-4e9b-8159-47a05b3e6bc6","updated_at":"2026-04-15T16:23:13.255642Z","vpc_id":"7b9929b4-5a2f-469a-948e-14d484513e45"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.331959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"description":"tf-route-connector","tags":["tf","route","connector"],"vpc_id":"7b9929b4-5a2f-469a-948e-14d484513e45","destination":"10.0.0.0/24","nexthop_vpc_connector_id":"19df0dd4-835c-41d9-becd-39cde21f6044"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2026-04-15T16:23:13.367207Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"d9ddabb5-63a7-4a4d-82eb-e87c0b12ba6f","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"19df0dd4-835c-41d9-becd-39cde21f6044","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T16:23:13.367207Z","vpc_id":"7b9929b4-5a2f-469a-948e-14d484513e45"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.291417ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/d9ddabb5-63a7-4a4d-82eb-e87c0b12ba6f
        method: GET
      response:
        body: '{"created_at":"2026-04-15T16:23:13.367207Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"d9ddabb5-63a7-4a4d-82eb-e87c0b12ba6f","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"19df0dd4-835c-41d9-becd-39cde21f6044","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T16:23:13.367207Z","vpc_id":"7b9929b4-5a2f-469a-948e-14d484513e45"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.337542ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/d9ddabb5-63a7-4a4d-82eb-e87c0b12ba6f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.543334ms
