---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:11:17.922503Z","custom_routes_propagation_enabled":true,"id":"0bc834d6-58a5-4511-a62a-033a7db0bb97","is_default":false,"name":"tf-ingress-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:11:17.922503Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.682193ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.18397ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0bc834d6-58a5-4511-a62a-033a7db0bb97
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:11:17.922503Z","custom_routes_propagation_enabled":true,"id":"0bc834d6-58a5-4511-a62a-033a7db0bb97","is_default":false,"name":"tf-ingress-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:11:17.922503Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.484389ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"0bc834d6-58a5-4511-a62a-033a7db0bb97","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:11:18.213466Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc","name":"tf-ingress-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-24T14:11:18.213466Z","id":"68ccb957-665c-41c9-b1dd-31a536fabb91","private_network_id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.128.0/22","updated_at":"2026-08-24T14:11:18.213466Z","vpc_id":"0bc834d6-58a5-4511-a62a-033a7db0bb97"},{"created_at":"2026-08-24T14:11:18.213466Z","id":"7d8b5637-e859-4d67-a50f-65007f5798f3","private_network_id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:970a::/64","updated_at":"2026-08-24T14:11:18.213466Z","vpc_id":"0bc834d6-58a5-4511-a62a-033a7db0bb97"}],"tags":[],"updated_at":"2026-08-24T14:11:18.213466Z","vpc_id":"0bc834d6-58a5-4511-a62a-033a7db0bb97"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 929.203634ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:11:18.213466Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc","name":"tf-ingress-pn","organization_id":"105bdce[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"10.4.128.2/22","created_at":"2026-08-24T14:11:19.417154Z","id":"5efdca85-2c6d-4536-93eb-f404ef8a18e4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"68ccb957-665c-41c9-b1dd-31a536fabb91"},"tags":[],"updated_at":"2026-08-24T14:11:19.417154Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.227344ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/5efdca85-2c6d-4536-93eb-f404ef8a18e4
        method: GET
      response:
        body: '{"address":"10.4.128.2/22","created_at":"2026-08-24T14:11:19.417154Z","id":"5efdca85-2c6d-4536-93eb-f404ef8a18e4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"68ccb957-665c-41c9-b1dd-31a536fabb91"},"tags":[],"updated_at":"2026-08-24T14:11:19.417154Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.601938ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"0bc834d6-58a5-4511-a62a-033a7db0bb97","source":"10.0.0.0/24","nexthop_resource_ip":"10.4.128.2","nexthop_private_network_id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc","description":"ingress rule basic","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:11:19.646695Z","description":"ingress rule basic","id":"09b8a6aa-d642-43d6-ba84-4c6a4bdb2ac4","is_ipv6":false,"nexthop_private_network_id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc","nexthop_resource_ip":"10.4.128.2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","source":"10.0.0.0/24","tags":[],"updated_at":"2026-08-24T14:11:19.646695Z","vpc_id":"0bc834d6-58a5-4511-a62a-033a7db0bb97"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.316339ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/09b8a6aa-d642-43d6-ba84-4c6a4bdb2ac4
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:11:19.646695Z","description":"ingress rule basic","id":"09b8a6aa-d642-43d6-ba84-4c6a4bdb2ac4","is_ipv6":false,"nexthop_private_network_id":"9d84bf95-21f9-4e7a-91f6-7c35ee13b5bc","nexthop_resource_ip":"10.4.128.2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","source":"10.0.0.0/24","tags":[],"updated_at":"2026-08-24T14:11:19.646695Z","vpc_id":"0bc834d6-58a5-4511-a62a-033a7db0bb97"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.333367ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/09b8a6aa-d642-43d6-ba84-4c6a4bdb2ac4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.117394ms
