---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-intelligent-hoover\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"2d5812d8-60f2-4b51-a426-b09fc4bb818f\",\"name\":\"tf-pn-intelligent-hoover\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.227367Z\",\"updated_at\":\"2025-08-26T16:32:38.227367Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"1dca0049-037c-441e-9df3-05d0877cc868\",\"created_at\":\"2025-08-26T16:32:38.227367Z\",\"updated_at\":\"2025-08-26T16:32:38.227367Z\",\"subnet\":\"172.16.0.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"2d5812d8-60f2-4b51-a426-b09fc4bb818f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"80726a40-1ae4-4851-86fb-896bfa6ba4f9\",\"created_at\":\"2025-08-26T16:32:38.227367Z\",\"updated_at\":\"2025-08-26T16:32:38.227367Z\",\"subnet\":\"fde7:767f:1bb5:4742::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"2d5812d8-60f2-4b51-a426-b09fc4bb818f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 857.262961ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2d5812d8-60f2-4b51-a426-b09fc4bb818f
    method: GET
  response:
    body: "{\"id\":\"2d5812d8-60f2-4b51-a426-b09fc4bb818f\",\"name\":\"tf-pn-intelligent-hoover\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.227367Z\",\"updated_at\":\"2025-08-26T16:32:38.227367Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"1dca0049-037c-441e-9df3-05d0877cc868\",\"created_at\":\"2025-08-26T16:32:38.227367Z\",\"updated_at\":\"2025-08-26T16:32:38.227367Z\",\"subnet\":\"172.16.0.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"2d5812d8-60f2-4b51-a426-b09fc4bb818f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"80726a40-1ae4-4851-86fb-896bfa6ba4f9\",\"created_at\":\"2025-08-26T16:32:38.227367Z\",\"updated_at\":\"2025-08-26T16:32:38.227367Z\",\"subnet\":\"fde7:767f:1bb5:4742::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"2d5812d8-60f2-4b51-a426-b09fc4bb818f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 73.247715ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2d5812d8-60f2-4b51-a426-b09fc4bb818f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"2d5812d8-60f2-4b51-a426-b09fc4bb818f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 42.812005ms
