---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:21.698316Z","id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:21.698316Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.958708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3731ab5f-3bda-4cee-9e79-fe7320c0397a
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:21.698316Z","id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:21.698316Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.420625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-eloquent-davinci","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:21.939652Z","dhcp_enabled":true,"id":"1bd5bf04-63bd-4243-9a3c-60df559eac20","name":"tf-pn-eloquent-davinci","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:21.939652Z","id":"675a0a18-adc0-408e-96f7-0fda43ba21af","private_network_id":"1bd5bf04-63bd-4243-9a3c-60df559eac20","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.100.0/22","updated_at":"2025-01-24T14:47:21.939652Z","vpc_id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a"},{"created_at":"2025-01-24T14:47:21.939652Z","id":"b476d894-e6fd-430e-a3d5-b89448763a15","private_network_id":"1bd5bf04-63bd-4243-9a3c-60df559eac20","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a862::/64","updated_at":"2025-01-24T14:47:21.939652Z","vpc_id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a"}],"tags":[],"updated_at":"2025-01-24T14:47:21.939652Z","vpc_id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.17640125s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1bd5bf04-63bd-4243-9a3c-60df559eac20
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:21.939652Z","dhcp_enabled":true,"id":"1bd5bf04-63bd-4243-9a3c-60df559eac20","name":"tf-pn-eloquent-davinci","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:21.939652Z","id":"675a0a18-adc0-408e-96f7-0fda43ba21af","private_network_id":"1bd5bf04-63bd-4243-9a3c-60df559eac20","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.100.0/22","updated_at":"2025-01-24T14:47:21.939652Z","vpc_id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a"},{"created_at":"2025-01-24T14:47:21.939652Z","id":"b476d894-e6fd-430e-a3d5-b89448763a15","private_network_id":"1bd5bf04-63bd-4243-9a3c-60df559eac20","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a862::/64","updated_at":"2025-01-24T14:47:21.939652Z","vpc_id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a"}],"tags":[],"updated_at":"2025-01-24T14:47:21.939652Z","vpc_id":"3731ab5f-3bda-4cee-9e79-fe7320c0397a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.39225ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/521b46d1-e865-4891-bbdc-2bff7e40522c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"521b46d1-e865-4891-bbdc-2bff7e40522c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.109875ms
