---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"private-network-test","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-11T10:36:46.288457Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0b8fe1c6-83ba-4b14-8bba-15d73cb07bde","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-11T10:36:46.288457Z","id":"2bf784d0-e46d-42b5-b13c-05be31d88bfc","private_network_id":"0b8fe1c6-83ba-4b14-8bba-15d73cb07bde","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.32.0/22","updated_at":"2026-02-11T10:36:46.288457Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2026-02-11T10:36:46.288457Z","id":"43a796aa-9b14-4a6f-99be-d6e4faf01f25","private_network_id":"0b8fe1c6-83ba-4b14-8bba-15d73cb07bde","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c2f2::/64","updated_at":"2026-02-11T10:36:46.288457Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2026-02-11T10:36:46.288457Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 768.488292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0b8fe1c6-83ba-4b14-8bba-15d73cb07bde
        method: GET
      response:
        body: '{"created_at":"2026-02-11T10:36:46.288457Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"0b8fe1c6-83ba-4b14-8bba-15d73cb07bde","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-11T10:36:46.288457Z","id":"2bf784d0-e46d-42b5-b13c-05be31d88bfc","private_network_id":"0b8fe1c6-83ba-4b14-8bba-15d73cb07bde","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.32.0/22","updated_at":"2026-02-11T10:36:46.288457Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2026-02-11T10:36:46.288457Z","id":"43a796aa-9b14-4a6f-99be-d6e4faf01f25","private_network_id":"0b8fe1c6-83ba-4b14-8bba-15d73cb07bde","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c2f2::/64","updated_at":"2026-02-11T10:36:46.288457Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2026-02-11T10:36:46.288457Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.926083ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-11T10:36:49.360946Z","custom_routes_propagation_enabled":true,"id":"7d27ca60-31f6-4ae5-b336-41c9b3a1fb0d","is_default":false,"name":"TestAccVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-11T10:36:49.360946Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.232791ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7d27ca60-31f6-4ae5-b336-41c9b3a1fb0d
        method: GET
      response:
        body: '{"created_at":"2026-02-11T10:36:49.360946Z","custom_routes_propagation_enabled":true,"id":"7d27ca60-31f6-4ae5-b336-41c9b3a1fb0d","is_default":false,"name":"TestAccVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-11T10:36:49.360946Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.656916ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0412e08c-2747-428f-94e1-07275327452b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"0412e08c-2747-428f-94e1-07275327452b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.129334ms
