---
version: 2
interactions:
- request:
    body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-05-31T12:01:54.244412Z","id":"7624baa6-72b7-4c46-9f2e-abcfc843eafe","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-05-31T12:01:54.244412Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7624baa6-72b7-4c46-9f2e-abcfc843eafe
    method: GET
  response:
    body: '{"created_at":"2023-05-31T12:01:54.244412Z","id":"7624baa6-72b7-4c46-9f2e-abcfc843eafe","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-05-31T12:01:54.244412Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7624baa6-72b7-4c46-9f2e-abcfc843eafe
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"vpc","resource_id":"7624baa6-72b7-4c46-9f2e-abcfc843eafe","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
