---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-enable-routing","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-05-23T12:58:42.601128Z","id":"02d22cfd-e940-4c13-9392-70aa6a1b5163","is_default":false,"name":"test-vpc-enable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-23T12:58:42.601128Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.745486ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/02d22cfd-e940-4c13-9392-70aa6a1b5163
        method: GET
      response:
        body: '{"created_at":"2024-05-23T12:58:42.601128Z","id":"02d22cfd-e940-4c13-9392-70aa6a1b5163","is_default":false,"name":"test-vpc-enable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-23T12:58:42.601128Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.166957ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/02d22cfd-e940-4c13-9392-70aa6a1b5163/enable-routing
        method: POST
      response:
        body: '{"created_at":"2024-05-23T12:58:42.601128Z","id":"02d22cfd-e940-4c13-9392-70aa6a1b5163","is_default":false,"name":"test-vpc-enable-routing","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-05-23T12:58:42.601128Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.816178ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/02d22cfd-e940-4c13-9392-70aa6a1b5163
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"02d22cfd-e940-4c13-9392-70aa6a1b5163","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.442736ms
