---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-conn-src","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-15T12:38:48.662782Z","custom_routes_propagation_enabled":true,"id":"ce618849-f9c3-4d35-9f24-636705045708","is_default":false,"name":"tf-vpc-route-conn-src","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T12:38:48.662782Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.483709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ce618849-f9c3-4d35-9f24-636705045708
        method: GET
      response:
        body: '{"created_at":"2026-04-15T12:38:48.662782Z","custom_routes_propagation_enabled":true,"id":"ce618849-f9c3-4d35-9f24-636705045708","is_default":false,"name":"tf-vpc-route-conn-src","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T12:38:48.662782Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.285292ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-route","tags":[],"vpc_id":"ce618849-f9c3-4d35-9f24-636705045708","target_vpc_id":"6bef6c22-d319-4ca0-be2c-53a4ba693912"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-04-15T12:38:48.846084Z","id":"87c23d4a-ca56-4f63-ab6f-b278c3dc8a84","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"6bef6c22-d319-4ca0-be2c-53a4ba693912","updated_at":"2026-04-15T12:38:48.846084Z","vpc_id":"ce618849-f9c3-4d35-9f24-636705045708"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/87c23d4a-ca56-4f63-ab6f-b278c3dc8a84
        method: GET
      response:
        body: '{"created_at":"2026-04-15T12:38:48.846084Z","id":"87c23d4a-ca56-4f63-ab6f-b278c3dc8a84","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"6bef6c22-d319-4ca0-be2c-53a4ba693912","updated_at":"2026-04-15T12:38:48.846084Z","vpc_id":"ce618849-f9c3-4d35-9f24-636705045708"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.360167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"description":"tf-route-connector","tags":["tf","route","connector"],"vpc_id":"ce618849-f9c3-4d35-9f24-636705045708","destination":"10.0.0.0/24","nexthop_vpc_connector_id":"87c23d4a-ca56-4f63-ab6f-b278c3dc8a84"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2026-04-15T12:38:48.959672Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"b955b209-2991-47bb-a423-3ffbf0d60434","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"87c23d4a-ca56-4f63-ab6f-b278c3dc8a84","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T12:38:48.959672Z","vpc_id":"ce618849-f9c3-4d35-9f24-636705045708"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.236792ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/b955b209-2991-47bb-a423-3ffbf0d60434
        method: GET
      response:
        body: '{"created_at":"2026-04-15T12:38:48.959672Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"b955b209-2991-47bb-a423-3ffbf0d60434","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"87c23d4a-ca56-4f63-ab6f-b278c3dc8a84","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T12:38:48.959672Z","vpc_id":"ce618849-f9c3-4d35-9f24-636705045708"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.620167ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/b955b209-2991-47bb-a423-3ffbf0d60434
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.769875ms
