---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-conn-dst","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-15T13:37:45.664459Z","custom_routes_propagation_enabled":true,"id":"96e25802-424b-4568-8ffe-b1f5ba7eecb2","is_default":false,"name":"tf-vpc-route-conn-dst","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T13:37:45.664459Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.809167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/96e25802-424b-4568-8ffe-b1f5ba7eecb2
        method: GET
      response:
        body: '{"created_at":"2026-04-15T13:37:45.664459Z","custom_routes_propagation_enabled":true,"id":"96e25802-424b-4568-8ffe-b1f5ba7eecb2","is_default":false,"name":"tf-vpc-route-conn-dst","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-15T13:37:45.664459Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.342916ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-route","tags":[],"vpc_id":"77144825-e3dd-4c87-938c-09e416850ce3","target_vpc_id":"96e25802-424b-4568-8ffe-b1f5ba7eecb2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-04-15T13:37:45.845483Z","id":"50d49549-98f7-49e3-a5de-8b93788b1e8c","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"96e25802-424b-4568-8ffe-b1f5ba7eecb2","updated_at":"2026-04-15T13:37:45.845483Z","vpc_id":"77144825-e3dd-4c87-938c-09e416850ce3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.483416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/50d49549-98f7-49e3-a5de-8b93788b1e8c
        method: GET
      response:
        body: '{"created_at":"2026-04-15T13:37:45.845483Z","id":"50d49549-98f7-49e3-a5de-8b93788b1e8c","name":"tf-conn-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"96e25802-424b-4568-8ffe-b1f5ba7eecb2","updated_at":"2026-04-15T13:37:45.845483Z","vpc_id":"77144825-e3dd-4c87-938c-09e416850ce3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.646541ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"description":"tf-route-connector","tags":["tf","route","connector"],"vpc_id":"77144825-e3dd-4c87-938c-09e416850ce3","destination":"10.0.0.0/24","nexthop_vpc_connector_id":"50d49549-98f7-49e3-a5de-8b93788b1e8c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2026-04-15T13:37:45.934843Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"48600875-de33-410a-8414-2bc2ceeffa91","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"50d49549-98f7-49e3-a5de-8b93788b1e8c","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T13:37:45.934843Z","vpc_id":"77144825-e3dd-4c87-938c-09e416850ce3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.989709ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/48600875-de33-410a-8414-2bc2ceeffa91
        method: GET
      response:
        body: '{"created_at":"2026-04-15T13:37:45.934843Z","description":"tf-route-connector","destination":"10.0.0.0/24","id":"48600875-de33-410a-8414-2bc2ceeffa91","is_read_only":false,"nexthop_private_network_id":null,"nexthop_resource_id":null,"nexthop_vpc_connector_id":"50d49549-98f7-49e3-a5de-8b93788b1e8c","region":"fr-par","tags":["tf","route","connector"],"type":"custom","updated_at":"2026-04-15T13:37:45.934843Z","vpc_id":"77144825-e3dd-4c87-938c-09e416850ce3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.941875ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/48600875-de33-410a-8414-2bc2ceeffa91
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.4065ms
