---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":3,"versions":[{"end_of_life_at":null,"name":"16","region":"fr-par","srn":""},{"end_of_life_at":null,"name":"17","region":"fr-par","srn":""},{"end_of_life_at":null,"name":"18","region":"fr-par","srn":""}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 180.074667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 30.583625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-tests-sdb-sql-database-version","cpu_min":0,"cpu_max":15,"version":"16"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases
        method: POST
      response:
        body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2026-10-07T06:52:48.922280Z","endpoint":"postgres://9db5fcc8-49c2-4c74-a530-4f7e27eef3d5.pg.sdb.fr-par.scw.cloud:5432/tf-tests-sdb-sql-database-version?sslmode=require","engine_major_version":0,"id":"9db5fcc8-49c2-4c74-a530-4f7e27eef3d5","name":"tf-tests-sdb-sql-database-version","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","srn":"","started":false,"status":"creating","version":{"end_of_life_at":null,"name":"16","region":"fr-par","srn":""}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 323.580041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/9db5fcc8-49c2-4c74-a530-4f7e27eef3d5
        method: GET
      response:
        body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2026-10-07T06:52:48.922280Z","endpoint":"postgres://9db5fcc8-49c2-4c74-a530-4f7e27eef3d5.pg.sdb.fr-par.scw.cloud:5432/tf-tests-sdb-sql-database-version?sslmode=require","engine_major_version":0,"id":"9db5fcc8-49c2-4c74-a530-4f7e27eef3d5","name":"tf-tests-sdb-sql-database-version","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","srn":"","started":false,"status":"creating","version":{"end_of_life_at":null,"name":"16","region":"fr-par","srn":""}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 143.701084ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/9db5fcc8-49c2-4c74-a530-4f7e27eef3d5
        method: GET
      response:
        body: '{"details":[],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 403 Forbidden
        code: 403
        duration: 83.843791ms
[...]
