---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"test-sdb-sql-database-basic","cpu_min":0,"cpu_max":15,"version":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases
        method: POST
      response:
        body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2026-10-07T06:52:48.906544Z","endpoint":"postgres://3f8a0b1a-c09e-474d-8181-c81951f12cf2.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":0,"id":"3f8a0b1a-c09e-474d-8181-c81951f12cf2","name":"test-sdb-sql-database-basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","srn":"","started":false,"status":"creating","version":{"end_of_life_at":null,"name":"16","region":"fr-par","srn":""}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 197.156917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.822167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/3f8a0b1a-c09e-474d-8181-c81951f12cf2
        method: GET
      response:
        body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2026-10-07T06:52:48.906544Z","endpoint":"postgres://3f8a0b1a-c09e-474d-8181-c81951f12cf2.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":0,"id":"3f8a0b1a-c09e-474d-8181-c81951f12cf2","name":"test-sdb-sql-database-basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","srn":"","started":false,"status":"creating","version":{"end_of_life_at":null,"name":"16","region":"fr-par","srn":""}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 180.925708ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/3f8a0b1a-c09e-474d-8181-c81951f12cf2
        method: GET
      response:
        body: '{"details":[],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 403 Forbidden
        code: 403
        duration: 364.422541ms
[...]
