---
version: 2
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-sdb-sql-database-basic","cpu_min":0,"cpu_max":15}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases
    method: POST
  response:
    body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2024-01-11T13:02:26.640554Z","endpoint":"postgres://c5824ec8-abf1-40ee-a076-474a7e4afb1b.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":16,"id":"c5824ec8-abf1-40ee-a076-474a7e4afb1b","name":"test-sdb-sql-database-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","started":false,"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/c5824ec8-abf1-40ee-a076-474a7e4afb1b
    method: GET
  response:
    body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2024-01-11T13:02:26.640554Z","endpoint":"postgres://c5824ec8-abf1-40ee-a076-474a7e4afb1b.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":16,"id":"c5824ec8-abf1-40ee-a076-474a7e4afb1b","name":"test-sdb-sql-database-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","started":false,"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/c5824ec8-abf1-40ee-a076-474a7e4afb1b
    method: GET
  response:
    body: '{"details":[],"message":"insufficient permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
[...]
