---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-sdb-sql-database-basic","cpu_min":0,"cpu_max":15}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases
        method: POST
      response:
        body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2025-01-24T14:46:29.021910Z","endpoint":"postgres://4dfa498a-58d0-437d-b800-7e78edc1b4a9.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":16,"id":"4dfa498a-58d0-437d-b800-7e78edc1b4a9","name":"test-sdb-sql-database-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","started":false,"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.304667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/4dfa498a-58d0-437d-b800-7e78edc1b4a9
        method: GET
      response:
        body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2025-01-24T14:46:29.021910Z","endpoint":"postgres://4dfa498a-58d0-437d-b800-7e78edc1b4a9.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":16,"id":"4dfa498a-58d0-437d-b800-7e78edc1b4a9","name":"test-sdb-sql-database-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","started":false,"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.614083ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/4dfa498a-58d0-437d-b800-7e78edc1b4a9
        method: GET
      response:
        body: '{"details":[],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 23.84925ms
[...]
