---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-sdb-sql-database-basic\",\"cpu_min\":0,\"cpu_max\":15}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases
    method: POST
  response:
    body: "{\"id\":\"d331331d-c745-48df-a56c-5cfd99468840\",\"status\":\"creating\",\"name\":\"test-sdb-sql-database-basic\",\"endpoint\":\"postgres://d331331d-c745-48df-a56c-5cfd99468840.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require\",\"created_at\":\"2025-08-26T16:31:55.558166Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"cpu_min\":0,\"cpu_max\":15,\"cpu_current\":0,\"started\":false,\"engine_major_version\":16,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 604.429567ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/d331331d-c745-48df-a56c-5cfd99468840
    method: GET
  response:
    body: "{\"id\":\"d331331d-c745-48df-a56c-5cfd99468840\",\"status\":\"creating\",\"name\":\"test-sdb-sql-database-basic\",\"endpoint\":\"postgres://d331331d-c745-48df-a56c-5cfd99468840.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require\",\"created_at\":\"2025-08-26T16:31:55.558166Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"cpu_min\":0,\"cpu_max\":15,\"cpu_current\":0,\"started\":false,\"engine_major_version\":16,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 177.65501ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/d331331d-c745-48df-a56c-5cfd99468840
    method: GET
  response:
    body: "{\"details\":[],\"message\":\"insufficient permissions\",\"type\":\"permissions_denied\"}"
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 54.73468ms
[...]
