---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/versions?page=1
        method: GET
      response:
        body: '{"total_count":2,"versions":[{"end_of_life_at":"2026-11-12T00:00:00Z","name":"15","region":"fr-par","srn":"srn://serverless-db.fr-par.scw.cloud/regions/fr-par/versions/15"},{"end_of_life_at":"2028-11-09T00:00:00Z","name":"16","region":"fr-par","srn":"srn://serverless-db.fr-par.scw.cloud/regions/fr-par/versions/16"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
