{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ResourceTemplateType */ -}}
---
subcategory: "IAM"
page_title: "Scaleway: {{ .Name }}"
---

# Resource: {{ .Name }}

{{ .Description }}

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}

{{ end -}}

## Argument Reference

The following arguments are supported:

- `organization_id` - (Optional) The organization ID.
- `entity_id` - (Optional) The entity ID of the SAML Identity Provider.
- `single_sign_on_url` - (Optional) The single sign-on URL of the SAML Identity Provider.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

- `id` - The ID of the SAML configuration.
- `service_provider` - The Service Provider information.
- `status` - The status of the SAML configuration.
