{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ResourceTemplateType */ -}}
---
subcategory: "Inference"
page_title: "Scaleway: {{ .Name }}"
---

# Resource: {{ .Name }}

{{ .Description }}

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}



{{ end -}}

## Argument Reference

The following arguments are supported:

- `name` - (Required) The name of the model. This must be unique within the project.
- `url` - (Required) The HTTPS source URL from which the model will be downloaded. This is typically a Hugging Face repository URL (e.g., <https://huggingface.co/agentica-org/DeepCoder-14B-Preview>). The URL must be publicly accessible or require valid credentials via `secret` or `secret_wo`
- `secret` - (Optional, Sensitive) Authentication token used to pull the model from a private or gated URL (e.g., a Hugging Face access token with read permission). Conflicts with `secret_wo`.
- `secret_wo` - (Optional) Authentication token used to pull the model from a private or gated URL in [write-only](https://developer.hashicorp.com/terraform/language/manage-sensitive-data/write-only) mode. `secret_wo` will not be stored in the Terraform state. Only one of `secret` or `secret_wo` should be specified. Requires `secret_wo_version` to be set.
- `secret_wo_version` - (Optional) The version of the [write-only](https://developer.hashicorp.com/terraform/language/manage-sensitive-data/write-only) secret. Required when using `secret_wo`.
- `region` - (Defaults to [provider](../index.md#region) `region`) The [region](../guides/regions_and_zones.md#regions) in which the deployment is created.
- `project_id` - (Defaults to [provider](../index.md#project_id) `project_id`) The ID of the project the deployment is associated with.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

- `id` - The unique identifier of the model.
- `tags` - Tags associated with the model.
- `status` - The current status of the model (e.g., ready, error, etc.).
- `description` - A textual description of the model (if available).
- `has_eula` - Whether the model requires end-user license agreement acceptance before use.
- `parameter_size_bits` - Size, in bits, of the model parameters.
- `size_bytes` - Total size, in bytes, of the model archive.
- `nodes_support` - List of supported node types and their quantization options. Each entry contains:
        - `node_type_name` - The type of node supported.
        - `quantization` - A list of supported quantization options, including:
            - `quantization_bits` -  Number of bits used for quantization (e.g., 8, 16).
            - `allowed` - Whether this quantization is allowed.
            - `max_context_size` - Maximum context length supported by this quantization.

## Import

Models can be imported using, `{region}/{id}`, as shown below:

```bash
terraform import scaleway_inference_model.my_model fr-par/11111111-1111-1111-1111-111111111111
```
