---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.129291ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-blockedlist","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-31T04:12:31Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.686875ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-blockedlist.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-31T04:12:37.336612Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzpru0+dO1BbhawZYHyEf3e+ePidV6IgWO1fT3njrgWPSlfikvklgK6y/xwqYvrcFTKTGUU9/38IL10RP39hqLnTe32bJv3oeN8TOA/VVeNvq3y7dVqAxKc+yxcKvWiQ9hAtHb3mx59Pog74Mg+JXJkKp8oI5iNFlReY+mEOpSdi6+R8FrHxdedNOlYqOxtlXrEJQ7nXjpDaHXkcvM09wK/ZLtL2PJkXbotom/mwOi9cBfv/aI1RywAHp1V3M2TMWsFxt4gIitYpQ/9zDcogiU73RY/sRtpqr9O/XuD1QMDAtcsyCjpe9L7VXKc2CfbIRjtNQwhQklI7kEPFaZqA/dQIDAQAB","id":"e420dc63-3b0c-4dc8-ba52-b6a06fd27612","last_error":null,"last_valid_at":null,"name":"test-blockedlist.scaleway-terraform.com","next_check_at":"2026-03-31T04:12:37.208476Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-blockedlist.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzpru0+dO1BbhawZYHyEf3e+ePidV6IgWO1fT3njrgWPSlfikvklgK6y/xwqYvrcFTKTGUU9/38IL10RP39hqLnTe32bJv3oeN8TOA/VVeNvq3y7dVqAxKc+yxcKvWiQ9hAtHb3mx59Pog74Mg+JXJkKp8oI5iNFlReY+mEOpSdi6+R8FrHxdedNOlYqOxtlXrEJQ7nXjpDaHXkcvM09wK/ZLtL2PJkXbotom/mwOi9cBfv/aI1RywAHp1V3M2TMWsFxt4gIitYpQ/9zDcogiU73RY/sRtpqr9O/XuD1QMDAtcsyCjpe9L7VXKc2CfbIRjtNQwhQklI7kEPFaZqA/dQIDAQAB"},"dmarc":{"name":"_dmarc.test-blockedlist.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-blockedlist.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-blockedlist.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-31T04:12:37.407154905Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.54743575s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e420dc63-3b0c-4dc8-ba52-b6a06fd27612
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-31T04:12:37.336612Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzpru0+dO1BbhawZYHyEf3e+ePidV6IgWO1fT3njrgWPSlfikvklgK6y/xwqYvrcF[...]
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e420dc63-3b0c-4dc8-ba52-b6a06fd27612/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T04:12:37.336612Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: '{"domain_id":"e420dc63-3b0c-4dc8-ba52-b6a06fd27612","emails":["spam@example.com"],"type":"mailbox_full","reason":"Spam detected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists
        method: POST
      response:
        body: '{"blocklists":[{"created_at":"2026-03-31T04:23:44.507687Z","custom":true,"domain_id":"e420dc63-3b0c-4dc8-ba52-b6a06fd27612","email":"spam@example.com","ends_at":null,"id":"1d3c9b1c-c094-42a6-ba4e-9524c1339b05","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-31T04:23:44.507687Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.320458ms
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists?domain_id=e420dc63-3b0c-4dc8-ba52-b6a06fd27612&email=spam%40example.com&order_by=created_at_desc
        method: GET
      response:
        body: '{"blocklists":[{"created_at":"2026-03-31T04:23:44.507687Z","custom":true,"domain_id":"e420dc63-3b0c-4dc8-ba52-b6a06fd27612","email":"spam@example.com","ends_at":null,"id":"1d3c9b1c-c094-42a6-ba4e-9524c1339b05","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-31T04:23:44.507687Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.744084ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists/1d3c9b1c-c094-42a6-ba4e-9524c1339b05
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 309.593833ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e420dc63-3b0c-4dc8-ba52-b6a06fd27612/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T04:12:37.336612Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e420dc63-3b0c-4dc8-ba52-b6a06fd27612
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"e420dc63-3b0c-4dc8-ba52-b6a06fd27612","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 79.656458ms
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-31T04:23:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.886417ms
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-blockedlist.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.784625ms
[...]
