---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.034792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-blockedlist","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2025-03-25T10:24:36Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.60075ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-blockedlist.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2025-03-25T10:24:40.240802Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1+Wi5n3zXRhQ/rNA1U/XwZawRcfhQ+txBKSKkkzYQGpUdOKR217ZPE/W7I2C9rB/LwcEqK6VlVOP3C004JrHc2Ls15YER6YCQ6eOKqtwNC3FlYNjgnYrhpNN3jESGdCblNCP0blbm04mOI9R0b7Fyid7V/uqGHjIZB+/3wT+Untm+Gr4BDKd68sAQqqcuaTDv+xDNv5i+BhMJB3rI2FCOV/z1uGm3pnvzSTzcnxjlCpJebirt7VotWZ1+h1OGl6CmTflJSSyQFeWQjM92wqPdU7QzItHbXvAhvURNKW374RpHRUk8ir0JcpogF9sl0oTATIMVsR86pf7F7ZdZPcUDwIDAQAB","id":"61eea1a3-5f3e-4c3c-9145-5b686dee0e68","last_error":null,"last_valid_at":null,"name":"test-blockedlist.scaleway-terraform.com","next_check_at":"2025-03-25T10:24:40.149937Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.test-blockedlist","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-03-25T10:24:40.359096101Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.97123375s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/61eea1a3-5f3e-4c3c-9145-5b686dee0e68
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2025-03-25T10:24:40.240802Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1+Wi5n3zXRhQ/rNA1U/XwZawRcfhQ+txBKSKkkzYQGpUdOKR217ZPE/W7I2C9rB/[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/61eea1a3-5f3e-4c3c-9145-5b686dee0e68/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T10:24:40.240802Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"domain_id":"61eea1a3-5f3e-4c3c-9145-5b686dee0e68","emails":["spam@example.com"],"type":"mailbox_full","reason":"Spam detected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists
        method: POST
      response:
        body: '{"blocklists":[{"created_at":"2025-03-25T10:26:33.353623Z","custom":true,"domain_id":"61eea1a3-5f3e-4c3c-9145-5b686dee0e68","email":"spam@example.com","ends_at":null,"id":"c865e033-bbd4-4343-bdfc-20fda632efc3","reason":"Spam detected","type":"mailbox_full","updated_at":"2025-03-25T10:26:33.353623Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.842667ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists?domain_id=61eea1a3-5f3e-4c3c-9145-5b686dee0e68&email=spam%40example.com&order_by=created_at_desc
        method: GET
      response:
        body: '{"blocklists":[{"created_at":"2025-03-25T10:26:33.353623Z","custom":true,"domain_id":"61eea1a3-5f3e-4c3c-9145-5b686dee0e68","email":"spam@example.com","ends_at":null,"id":"c865e033-bbd4-4343-bdfc-20fda632efc3","reason":"Spam detected","type":"mailbox_full","updated_at":"2025-03-25T10:26:33.353623Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.861375ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2025-03-25T10:25:23Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.691459ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists/c865e033-bbd4-4343-bdfc-20fda632efc3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 161.589ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/61eea1a3-5f3e-4c3c-9145-5b686dee0e68/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T10:24:40.240802Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2025-03-25T10:25:23Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.141459ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-blockedlist.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.700458ms
[...]
