---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.162583ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-blockedlist","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-27T16:09:06Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 302.756042ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-blockedlist.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-27T16:09:11.249335Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnkEFMYPgYyOaxJ5S1B+jQBn2ALBwYUa8dtbz92pUlPhRk5QhlTXm6gdN8xQuqZTfXpTxBWlqhjFBcng0cDNr7peoeTKB/iiw+Msb0gaQZvLws9Y9LaL97R8rCId4ZbH4VEVurpUw/qZused5YVicg3WGbnXSta8Mbu4vbLY6000kcI55LVLBrF88/elnQVdWKwB/aw/RtkUScJeib76PVGgt6721/ETRrtYmSxvCzfles50uj+adzpzuArznDAXmfQgHCgJvPG/U+B7HgUehn7iYMnIkn/d/e0dQAln21MHMjco3qXOtuZX/EpVpEtlHv/VzkEqAnkUYs36GdiqHlwIDAQAB","id":"bf300624-f2b1-45b8-8367-3344d8e4d68c","last_error":null,"last_valid_at":null,"name":"test-blockedlist.scaleway-terraform.com","next_check_at":"2026-03-27T16:09:11.166559Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-blockedlist.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnkEFMYPgYyOaxJ5S1B+jQBn2ALBwYUa8dtbz92pUlPhRk5QhlTXm6gdN8xQuqZTfXpTxBWlqhjFBcng0cDNr7peoeTKB/iiw+Msb0gaQZvLws9Y9LaL97R8rCId4ZbH4VEVurpUw/qZused5YVicg3WGbnXSta8Mbu4vbLY6000kcI55LVLBrF88/elnQVdWKwB/aw/RtkUScJeib76PVGgt6721/ETRrtYmSxvCzfles50uj+adzpzuArznDAXmfQgHCgJvPG/U+B7HgUehn7iYMnIkn/d/e0dQAln21MHMjco3qXOtuZX/EpVpEtlHv/VzkEqAnkUYs36GdiqHlwIDAQAB"},"dmarc":{"name":"_dmarc.test-blockedlist.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-blockedlist.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-blockedlist.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-27T16:09:11.300298048Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.587740958s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/bf300624-f2b1-45b8-8367-3344d8e4d68c
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-27T16:09:11.249335Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnkEFMYPgYyOaxJ5S1B+jQBn2ALBwYUa8dtbz92pUlPhRk5QhlTXm6gdN8xQuqZTf[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/bf300624-f2b1-45b8-8367-3344d8e4d68c/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T16:09:11.249335Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"domain_id":"bf300624-f2b1-45b8-8367-3344d8e4d68c","emails":["spam@example.com"],"type":"mailbox_full","reason":"Spam detected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists
        method: POST
      response:
        body: '{"blocklists":[{"created_at":"2026-03-27T16:09:57.772429Z","custom":true,"domain_id":"bf300624-f2b1-45b8-8367-3344d8e4d68c","email":"spam@example.com","ends_at":null,"id":"06c27a77-13bc-46d1-9a7a-1c2970acb020","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-27T16:09:57.772429Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.825375ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists?domain_id=bf300624-f2b1-45b8-8367-3344d8e4d68c&email=spam%40example.com&order_by=created_at_desc
        method: GET
      response:
        body: '{"blocklists":[{"created_at":"2026-03-27T16:09:57.772429Z","custom":true,"domain_id":"bf300624-f2b1-45b8-8367-3344d8e4d68c","email":"spam@example.com","ends_at":null,"id":"06c27a77-13bc-46d1-9a7a-1c2970acb020","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-27T16:09:57.772429Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.382667ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-27T16:09:31Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.496708ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists/06c27a77-13bc-46d1-9a7a-1c2970acb020
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 198.1025ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/bf300624-f2b1-45b8-8367-3344d8e4d68c/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T16:09:11.249335Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/bf300624-f2b1-45b8-8367-3344d8e4d68c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"bf300624-f2b1-45b8-8367-3344d8e4d68c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 111.563583ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-27T16:09:31Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.899083ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-blockedlist.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.02025ms
[...]
