---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.5515ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-blockedlist","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-24T07:10:46Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.180709ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-blockedlist.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:10:50.155228Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwm/N3Y8WfPpiQwIioSpSixAvFIACZExGs/354PTIEYQPpKKsYbIvfvOiaI5vd8OQIHeOZev1yM7DnzlkKWLuXHyhN2vRxBAuMvUa4nGXKhlT02HUIbiWjC/eAUyWpJ29fHszjwH5gR4OAJ5Ro6z65qqmojIV/rz0I1Co0KaLENYe4/haS+LP59IPCvemNpCtKY8h8nljGsvImBT4OSeN0Zjgf15f3BHQvJsIZOTRZOYQsroaj7yQyNVwq7sF56cziKOvXBTWOkM/AjG3XfFTRrnNxqGG+btaQ7vUjKBKpzZ058Ws0Le69Xsp+RGzsUChH07YBC8dCKs/eIq1zN51lQIDAQAB","id":"cc177ff9-adb8-4b41-9a59-6a44adba4192","last_error":null,"last_valid_at":null,"name":"test-blockedlist.scaleway-terraform.com","next_check_at":"2026-03-24T07:10:50.044778Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-blockedlist.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwm/N3Y8WfPpiQwIioSpSixAvFIACZExGs/354PTIEYQPpKKsYbIvfvOiaI5vd8OQIHeOZev1yM7DnzlkKWLuXHyhN2vRxBAuMvUa4nGXKhlT02HUIbiWjC/eAUyWpJ29fHszjwH5gR4OAJ5Ro6z65qqmojIV/rz0I1Co0KaLENYe4/haS+LP59IPCvemNpCtKY8h8nljGsvImBT4OSeN0Zjgf15f3BHQvJsIZOTRZOYQsroaj7yQyNVwq7sF56cziKOvXBTWOkM/AjG3XfFTRrnNxqGG+btaQ7vUjKBKpzZ058Ws0Le69Xsp+RGzsUChH07YBC8dCKs/eIq1zN51lQIDAQAB"},"dmarc":{"name":"_dmarc.test-blockedlist.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-blockedlist.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-blockedlist.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-24T07:10:50.271137491Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.776840958s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/cc177ff9-adb8-4b41-9a59-6a44adba4192
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:10:50.155228Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwm/N3Y8WfPpiQwIioSpSixAvFIACZExGs/354PTIEYQPpKKsYbIvfvOiaI5vd8OQ[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/cc177ff9-adb8-4b41-9a59-6a44adba4192/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:10:50.155228Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"domain_id":"cc177ff9-adb8-4b41-9a59-6a44adba4192","emails":["spam@example.com"],"type":"mailbox_full","reason":"Spam detected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists
        method: POST
      response:
        body: '{"blocklists":[{"created_at":"2026-03-24T07:11:28.439710Z","custom":true,"domain_id":"cc177ff9-adb8-4b41-9a59-6a44adba4192","email":"spam@example.com","ends_at":null,"id":"702d9736-d65f-4166-931f-1fcff844cd06","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-24T07:11:28.439710Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.2525ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists?domain_id=cc177ff9-adb8-4b41-9a59-6a44adba4192&email=spam%40example.com&order_by=created_at_desc
        method: GET
      response:
        body: '{"blocklists":[{"created_at":"2026-03-24T07:11:28.439710Z","custom":true,"domain_id":"cc177ff9-adb8-4b41-9a59-6a44adba4192","email":"spam@example.com","ends_at":null,"id":"702d9736-d65f-4166-931f-1fcff844cd06","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-24T07:11:28.439710Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.554583ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists/702d9736-d65f-4166-931f-1fcff844cd06
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 169.497666ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/cc177ff9-adb8-4b41-9a59-6a44adba4192/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:10:50.155228Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/cc177ff9-adb8-4b41-9a59-6a44adba4192
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"cc177ff9-adb8-4b41-9a59-6a44adba4192","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.201415625s
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-blockedlist.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.726084ms
[...]
