---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-blockedlist.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 246.678144ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-blockedlist\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-blockedlist\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:51:06Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 312.063908ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"domain_name\":\"test-blockedlist.scaleway-terraform.com\",\"accept_tos\":true,\"autoconfig\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-blockedlist.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T12:51:10.952313Z\",\"next_check_at\":\"2025-09-01T12:51:10.881541Z\",\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvplvIVoiHs28uVEYC5kbxCy3RZNubXSguv7CSsnpcbINPeBsQmxJ+eiFIAxqOrzeo7jaPJRKCjZrj43utM8kBDK7IMnc5sal3Wnf0ONwuh5VtFPW8Ln3uktLSfOSIpG7JmD7KWpKSoiNHyNPGRy2AO08PE6JIhlqwX3sK3XYe2/Fl7E3v3ZHSXiQBwRApheDpGeM12y2TG6//TCVFYZm2Tcco/SYM2jJghdq/mdyTaUdMqnEBJX5rcgqbLmmPh1ET2bePNmnpzR/wNm5xVQWcrCUOvkj5wQZ1tlgCY2/ya25OANBihPp6rT1I1BvhGHmBA3xDY6Npj0YHqno9lbMywIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T12:51:10.964948600Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.test-blockedlist\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.842928382s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f5629897-97cf-4fea-9d60-df83e8c6d44d
    method: GET
  response:
    body: "{\"id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-blockedlist.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T1[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f5629897-97cf-4fea-9d60-df83e8c6d44d/check
    method: POST
  response:
    body: "{\"id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-blockedlist.scaleway-terraform[...]
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"domain_id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"emails\":[\"spam@example.com\"],\"type\":\"mailbox_full\",\"reason\":\"Spam detected\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists
    method: POST
  response:
    body: "{\"blocklists\":[{\"id\":\"cbde7264-8b73-4a6a-af72-b0ca28103745\",\"domain_id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"created_at\":\"2025-09-01T12:52:21.141443Z\",\"updated_at\":\"2025-09-01T12:52:21.141443Z\",\"ends_at\":null,\"email\":\"spam@example.com\",\"type\":\"mailbox_full\",\"reason\":\"Spam detected\",\"custom\":true}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 182.217945ms
- id: 20
  request:
    host: api.scaleway.com
    form:
      domain_id:
      - f5629897-97cf-4fea-9d60-df83e8c6d44d
      email:
      - spam@example.com
      order_by:
      - created_at_desc
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists?domain_id=f5629897-97cf-4fea-9d60-df83e8c6d44d&email=spam%40example.com&order_by=created_at_desc
    method: GET
  response:
    body: "{\"total_count\":1,\"blocklists\":[{\"id\":\"cbde7264-8b73-4a6a-af72-b0ca28103745\",\"domain_id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"created_at\":\"2025-09-01T12:52:21.141443Z\",\"updated_at\":\"2025-09-01T12:52:21.141443Z\",\"ends_at\":null,\"email\":\"spam@example.com\",\"type\":\"mailbox_full\",\"reason\":\"Spam detected\",\"custom\":true}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 209.659906ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-blockedlist.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-blockedlist\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:52:09Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.124798ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists/cbde7264-8b73-4a6a-af72-b0ca28103745
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 135.537924ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f5629897-97cf-4fea-9d60-df83e8c6d44d/revoke
    method: POST
  response:
    body: "{\"id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-blockedlist.scaleway-terraform.com\",\"status\":\"revoked\",\"created_at\":\"2025-09-01T12:51:10.952313Z\",\"next_check_at\":null,\"last_valid_at\":\"2025-09-01T12:52:10.256550Z\",\"revoked_at\":\"2025-09-01T12:52:27.843665209Z\",\"last_error\":null,\"spf_config\":\"\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvplvIVoiHs28uVEYC5kbxCy3RZNubXSguv7CSsnpcbINPeBsQmxJ+eiFIAxqOrzeo7jaPJRKCjZrj43utM8kBDK7IMnc5sal3Wnf0ONwuh5VtFPW8Ln3uktLSfOSIpG7JmD7KWpKSoiNHyNPGRy2AO08PE6JIhlqwX3sK3XYe2/Fl7E3v3ZHSXiQBwRApheDpGeM12y2TG6//TCVFYZm2Tcco/SYM2jJghdq/mdyTaUdMqnEBJX5rcgqbLmmPh1ET2bePNmnpzR/wNm5xVQWcrCUOvkj5wQZ1tlgCY2/ya25OANBihPp6rT1I1BvhGHmBA3xDY6Npj0YHqno9lbMywIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":null,\"records\":null,\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 181.191467ms
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f5629897-97cf-4fea-9d60-df83e8c6d44d
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"domain\",\"resource_id\":\"f5629897-97cf-4fea-9d60-df83e8c6d44d\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 623.847148ms
- id: 30
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - test-blockedlist.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-blockedlist\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:52:09Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.135884ms
- id: 31
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-blockedlist.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 299.101296ms
[...]
