---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.83925ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-blockedlist","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-26T09:37:46Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 404.2055ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-blockedlist.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-26T09:37:50.981213Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1mhH6HxE8hd3SCDcagN7L9pSe5hDChf0A85CwIsUulLPQeANVglY+C9CTRQzLAK0nv6pIYQQWtx/oWR1RPg5c5bhOxSD3Ok+manOW5drSAk6enOmPPwu0sjj4FvgW93J50H1jJkbaiGJlGt7n2qjBlX1fsfNeJD9aqfDgjJ+NAl7IDsu7xajnUApsP0cHaIH1oJAXtqAQ6bHPdY16iOZ7W+QMC/ElpuO0vOSXMJgcmPNlWCvTu9HQ2Hl0CFdfjfD8a7ByKoy9gcFMt7dIZjbcLUo1W93BZ2/332JyBMTijTCxiOhVYnieFW/SbANN8Jb/HuQO6OtmJwh9FLNJQTU8QIDAQAB","id":"3123fd90-6ed5-4ddc-866e-11c2485e28ff","last_error":null,"last_valid_at":null,"name":"test-blockedlist.scaleway-terraform.com","next_check_at":"2026-03-26T09:37:50.878597Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-blockedlist.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1mhH6HxE8hd3SCDcagN7L9pSe5hDChf0A85CwIsUulLPQeANVglY+C9CTRQzLAK0nv6pIYQQWtx/oWR1RPg5c5bhOxSD3Ok+manOW5drSAk6enOmPPwu0sjj4FvgW93J50H1jJkbaiGJlGt7n2qjBlX1fsfNeJD9aqfDgjJ+NAl7IDsu7xajnUApsP0cHaIH1oJAXtqAQ6bHPdY16iOZ7W+QMC/ElpuO0vOSXMJgcmPNlWCvTu9HQ2Hl0CFdfjfD8a7ByKoy9gcFMt7dIZjbcLUo1W93BZ2/332JyBMTijTCxiOhVYnieFW/SbANN8Jb/HuQO6OtmJwh9FLNJQTU8QIDAQAB"},"dmarc":{"name":"_dmarc.test-blockedlist.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-blockedlist.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-blockedlist.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-26T09:37:51.049056415Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.024729708s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3123fd90-6ed5-4ddc-866e-11c2485e28ff
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-26T09:37:50.981213Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1mhH6HxE8hd3SCDcagN7L9pSe5hDChf0A85CwIsUulLPQeANVglY+C9CTRQzLAK0[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3123fd90-6ed5-4ddc-866e-11c2485e28ff/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-26T09:37:50.981213Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: '{"domain_id":"3123fd90-6ed5-4ddc-866e-11c2485e28ff","emails":["spam@example.com"],"type":"mailbox_full","reason":"Spam detected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists
        method: POST
      response:
        body: '{"blocklists":[{"created_at":"2026-03-26T09:49:34.445339Z","custom":true,"domain_id":"3123fd90-6ed5-4ddc-866e-11c2485e28ff","email":"spam@example.com","ends_at":null,"id":"39fc5dd6-6785-4b46-9eb5-ebe1ba689041","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-26T09:49:34.445339Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.548125ms
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists?domain_id=3123fd90-6ed5-4ddc-866e-11c2485e28ff&email=spam%40example.com&order_by=created_at_desc
        method: GET
      response:
        body: '{"blocklists":[{"created_at":"2026-03-26T09:49:34.445339Z","custom":true,"domain_id":"3123fd90-6ed5-4ddc-866e-11c2485e28ff","email":"spam@example.com","ends_at":null,"id":"39fc5dd6-6785-4b46-9eb5-ebe1ba689041","reason":"Spam detected","type":"mailbox_full","updated_at":"2026-03-26T09:49:34.445339Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.921167ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-26T09:48:56Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.736917ms
[...]
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists/39fc5dd6-6785-4b46-9eb5-ebe1ba689041
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 157.146834ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3123fd90-6ed5-4ddc-866e-11c2485e28ff/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-26T09:37:50.981213Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3123fd90-6ed5-4ddc-866e-11c2485e28ff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"3123fd90-6ed5-4ddc-866e-11c2485e28ff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.157003667s
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-blockedlist.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-blockedlist","updated_at":"2026-03-26T09:48:56Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.1715ms
    - id: 95
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-blockedlist.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.170166ms
[...]
