---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_tem_offer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-03-19T13:27:52.815955Z","description":"a description","id":"a883b735-92fa-496c-b55a-7b35f9b7a073","name":"tf_tests_tem_offer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-19T13:27:52.815955Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.437208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a883b735-92fa-496c-b55a-7b35f9b7a073
        method: GET
      response:
        body: '{"created_at":"2025-03-19T13:27:52.815955Z","description":"a description","id":"a883b735-92fa-496c-b55a-7b35f9b7a073","name":"tf_tests_tem_offer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-03-19T13:27:52.815955Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.851334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/offer-subscriptions?project_id=a883b735-92fa-496c-b55a-7b35f9b7a073
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"a883b735-92fa-496c-b55a-7b35f9b7a073","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 73.974667ms
