---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.848292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-reputation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-02-20T09:50:40Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.651584ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-reputation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-02-20T09:50:44.794443Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwx0d0zt7fvTTXuqqEAhMSdfxZ3dhguUl9rIl1RyCt/lj96bad95EUzZNdAAWpFwaEMEv90Q4dxgirOlD8Yyffewt36vpMl7gXxbA04OVYGO3Bp7WRizHCgEndrjQ//5+v4Gj8A6L2jLVXm5589hNqFk+L5tyjpCFnGzMN72A5mqQEisW9RxxagyO2/8Mm6UfMHSkiVVMpbnuD9G7pFl7T/DRlWiOCImkYCcTjvkMKq5xs+38FDsQjIEnCxRnr/EsXWi9l2fxNJHLhlr93vYKncNqBLb0B83ukiMQLSV8eXgA0y7xsWrVTcGlxF49l0UaalNgMRvbZikyQmNV7l2W+QIDAQAB","id":"8aeea983-43e2-44e4-84e5-92e207d0cadc","last_error":null,"last_valid_at":null,"name":"test-reputation.scaleway-terraform.com","next_check_at":"2026-02-20T09:50:44.728418Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-reputation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwx0d0zt7fvTTXuqqEAhMSdfxZ3dhguUl9rIl1RyCt/lj96bad95EUzZNdAAWpFwaEMEv90Q4dxgirOlD8Yyffewt36vpMl7gXxbA04OVYGO3Bp7WRizHCgEndrjQ//5+v4Gj8A6L2jLVXm5589hNqFk+L5tyjpCFnGzMN72A5mqQEisW9RxxagyO2/8Mm6UfMHSkiVVMpbnuD9G7pFl7T/DRlWiOCImkYCcTjvkMKq5xs+38FDsQjIEnCxRnr/EsXWi9l2fxNJHLhlr93vYKncNqBLb0B83ukiMQLSV8eXgA0y7xsWrVTcGlxF49l0UaalNgMRvbZikyQmNV7l2W+QIDAQAB"},"dmarc":{"name":"_dmarc.test-reputation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-reputation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-reputation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-02-20T09:50:44.861606402Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.236922708s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aeea983-43e2-44e4-84e5-92e207d0cadc
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-02-20T09:50:44.794443Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwx0d0zt7fvTTXuqqEAhMSdfxZ3dhguUl9rIl1RyCt/lj96bad95EUzZNdAAWpFwa[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aeea983-43e2-44e4-84e5-92e207d0cadc/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-02-20T09:50:44.794443Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=test-reputation.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":true,"created_at":"2026-02-20T09:50:44.794443Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwx0d0zt7fvTTXuqqEAhMSdfxZ3dhguUl9rIl1RyCt/lj96bad95EUzZNdAAWpFwaEMEv90Q4dxgirOlD8Yyffewt36vpMl7gXxbA04OVYGO3Bp7WRizHCgEndrjQ//5+v4Gj8A6L2jLVXm5589hNqFk+L5tyjpCFnGzMN72A5mqQEisW9RxxagyO2/8Mm6UfMHSkiVVMpbnuD9G7pFl7T/DRlWiOCImkYCcTjvkMKq5xs+38FDsQjIEnCxRnr/EsXWi9l2fxNJHLhlr93vYKncNqBLb0B83ukiMQLSV8eXgA0y7xsWrVTcGlxF49l0UaalNgMRvbZikyQmNV7l2W+QIDAQAB",[...]
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-02-20T09:56:24Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.078625ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aeea983-43e2-44e4-84e5-92e207d0cadc/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-02-20T09:50:44.794443Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aeea983-43e2-44e4-84e5-92e207d0cadc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"8aeea983-43e2-44e4-84e5-92e207d0cadc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.659458ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-02-20T09:56:24Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.292167ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-reputation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.740209ms
[...]
