---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/offer-subscriptions?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"offer_subscriptions":[{"cancellation_available_at":"2025-03-14T16:16:43.798008Z","included_monthly_emails":100000,"max_custom_blocklists_per_domain":-1,"max_dedicated_ips":1,"max_domains":-1,"max_webhooks_per_domain":-1,"offer_name":"scale","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sla":99.9,"subscribed_at":"2025-03-14T15:56:47.106678Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.791541ms
[...]
