---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 583.391375ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-reputation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-26T09:56:02Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 11.252263166s
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-reputation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"message":"upstream request timeout"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 30.101804459s
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-reputation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-26T09:57:33.898798Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuTTnTy99zUspZh8U6C8feZ4utBu1/HoUBVFpJoqeUIK5xwwDBKizDQBsVI+6VaDlMtHTHqRoOFWRF+ttMPi3up4uvEtBImOIzQ+TM7TvVYI0J3a5LHZPqKF3iDoJT8V2MZD051SmX9zv9gJSiRjDNMpLFc6lg1/NVntAH00LGYbQR7RYOr05yIiUsHnmQcoRZ4clJL8aR7W/aefbD2dyGaNKecG4OW8zzlecAwfntjqU9xptScXMzeg5UWHreIWMqUZQ61c0kb88uEWFI2j/7fNRlGg1T1fDmgX7uAYVvoHHDwk5U4zgaMMPTleZGlMw16IX0MGAT/+f2eOWBWSu5wIDAQAB","id":"3d6686d1-4133-4e7d-a13d-0296024dd385","last_error":null,"last_valid_at":null,"name":"test-reputation.scaleway-terraform.com","next_check_at":"2026-03-26T09:57:33.781894Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-reputation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuTTnTy99zUspZh8U6C8feZ4utBu1/HoUBVFpJoqeUIK5xwwDBKizDQBsVI+6VaDlMtHTHqRoOFWRF+ttMPi3up4uvEtBImOIzQ+TM7TvVYI0J3a5LHZPqKF3iDoJT8V2MZD051SmX9zv9gJSiRjDNMpLFc6lg1/NVntAH00LGYbQR7RYOr05yIiUsHnmQcoRZ4clJL8aR7W/aefbD2dyGaNKecG4OW8zzlecAwfntjqU9xptScXMzeg5UWHreIWMqUZQ61c0kb88uEWFI2j/7fNRlGg1T1fDmgX7uAYVvoHHDwk5U4zgaMMPTleZGlMw16IX0MGAT/+f2eOWBWSu5wIDAQAB"},"dmarc":{"name":"_dmarc.test-reputation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-reputation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-reputation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-26T09:57:33.969455547Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.134924042s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3d6686d1-4133-4e7d-a13d-0296024dd385
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-26T09:57:33.898798Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuTTnTy99zUspZh8U6C8feZ4utBu1/HoUBVFpJoqeUIK5xwwDBKizDQBsVI+6VaDl[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3d6686d1-4133-4e7d-a13d-0296024dd385/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-26T09:57:33.898798Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=test-reputation.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":true,"created_at":"2026-03-26T09:57:33.898798Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuTTnTy99zUspZh8U6C8feZ4utBu1/HoUBVFpJoqeUIK5xwwDBKizDQBsVI+6VaDlMtHTHqRoOFWRF+ttMPi3up4uvEtBImOIzQ+TM7TvVYI0J3a5LHZPqKF3iDoJT8V2MZD051SmX9zv9gJSiRjDNMpLFc6lg1/NVntAH00LGYbQR7RYOr05yIiUsHnmQcoRZ4clJL8aR7W/aefbD2dyGaNKecG4OW8zzlecAwfntjqU9xptScXMzeg5UWHreIWMqUZQ61c0kb88uEWFI2j/7fNRlGg1T1fDmgX7uAYVvoHHDwk5U4zgaMMPTleZGlMw16IX0MGAT/+f2eOWBWSu5wIDAQAB",[...]
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-26T09:58:38Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.104667ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3d6686d1-4133-4e7d-a13d-0296024dd385/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-26T09:57:33.898798Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3d6686d1-4133-4e7d-a13d-0296024dd385
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"3d6686d1-4133-4e7d-a13d-0296024dd385","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.105169542s
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-26T09:58:38Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.120125ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-reputation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.19025ms
[...]
