---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=46fd79d8-1a35-4548-bfb8-03df51a0ebae
        method: GET
      response:
        body: '{"projects":[{"created_at":"2023-09-29T13:58:32.225400Z","description":"","id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"default","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"srn://account.scw.eu/projects/46fd79d8-1a35-4548-bfb8-03df51a0ebae","status":"active","updated_at":"2023-09-29T13:58:32.225400Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 306.206584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/46fd79d8-1a35-4548-bfb8-03df51a0ebae
        method: GET
      response:
        body: '{"created_at":"2023-09-29T13:58:32.225400Z","description":"","id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"default","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","qualification":{"architecture_type":"unknown_architecture_type"},"srn":"srn://account.scw.eu/projects/46fd79d8-1a35-4548-bfb8-03df51a0ebae","status":"active","updated_at":"2023-09-29T13:58:32.225400Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 141.436541ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/offer-subscriptions?project_id=46fd79d8-1a35-4548-bfb8-03df51a0ebae
        method: GET
      response:
        body: '{"offer_subscriptions":[{"cancellation_available_at":null,"included_monthly_emails":300,"max_custom_blocklists_per_domain":0,"max_dedicated_ips":0,"max_domains":5,"max_webhooks_per_domain":1,"offer_name":"essential","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","sla":0,"subscribed_at":"2024-02-14T14:38:58.128125Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 157.159542ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/offer-subscriptions?organization_id=46fd79d8-1a35-4548-bfb8-03df51a0ebae
        method: GET
      response:
        body: '{"offer_subscriptions":[{"cancellation_available_at":"2025-03-12T14:52:10.857709Z","included_monthly_emails":300,"max_custom_blocklists_per_domain":0,"max_dedicated_ips":0,"max_domains":5,"max_webhooks_per_domain":1,"offer_name":"essential","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"2b6dacd9-017f-4e39-a2ed-9b6116b5bf9b","sla":0,"subscribed_at":"2025-03-12T14:52:10.870646Z"},{"cancellation_available_at":null,"included_monthly_emails":300,"max_custom_blocklists_per_domain":0,"max_dedicated_ips":0,"max_domains":5,"max_webhooks_per_domain":1,"offer_name":"essential","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","sla":0,"subscribed_at":"2024-02-14T14:38:58.128125Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 141.18125ms
[...]
