---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.048208ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-reputation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-27T15:39:08Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.108375ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-reputation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-27T15:39:12.347002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtfF/e29a4PxJf0IwoikU3sL1Ch2ERI+EkO+5jPhk7x4a+7nbfSTyLgsD2aOD2usBgOlVyHrxw84/EPHpUGVrDruLv262pF+StumAGUgu5kWGyVdShUe7Ddb7tQtpxCWHiAqxE3K821ic9d3ucc98uCYva0COkwO+k4321+4ZMtwDNbvDhDqQnXMEHO/dkbnakrBM1lo3QSoP+ycctMAIUAe/J2FBYLz4Ml8ylXPHG8DaDrbPEvcbm/ya7jqc16HQMs+WxWLOj/4QXzUDldmAk6zB52fu8eNqPxxzUb29DTtNPMAjpTM/gVFoPHd7b6uBMcGrl2e99xTG7lNBNwZMywIDAQAB","id":"962d5ba5-13b2-489b-b001-c26c7f8659aa","last_error":null,"last_valid_at":null,"name":"test-reputation.scaleway-terraform.com","next_check_at":"2026-03-27T15:39:12.271665Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-reputation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtfF/e29a4PxJf0IwoikU3sL1Ch2ERI+EkO+5jPhk7x4a+7nbfSTyLgsD2aOD2usBgOlVyHrxw84/EPHpUGVrDruLv262pF+StumAGUgu5kWGyVdShUe7Ddb7tQtpxCWHiAqxE3K821ic9d3ucc98uCYva0COkwO+k4321+4ZMtwDNbvDhDqQnXMEHO/dkbnakrBM1lo3QSoP+ycctMAIUAe/J2FBYLz4Ml8ylXPHG8DaDrbPEvcbm/ya7jqc16HQMs+WxWLOj/4QXzUDldmAk6zB52fu8eNqPxxzUb29DTtNPMAjpTM/gVFoPHd7b6uBMcGrl2e99xTG7lNBNwZMywIDAQAB"},"dmarc":{"name":"_dmarc.test-reputation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-reputation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-reputation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-27T15:39:12.415596545Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.7319565s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/962d5ba5-13b2-489b-b001-c26c7f8659aa
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-27T15:39:12.347002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtfF/e29a4PxJf0IwoikU3sL1Ch2ERI+EkO+5jPhk7x4a+7nbfSTyLgsD2aOD2usB[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/962d5ba5-13b2-489b-b001-c26c7f8659aa/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:39:12.347002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=test-reputation.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":true,"created_at":"2026-03-27T15:39:12.347002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtfF/e29a4PxJf0IwoikU3sL1Ch2ERI+EkO+5jPhk7x4a+7nbfSTyLgsD2aOD2usBgOlVyHrxw84/EPHpUGVrDruLv262pF+StumAGUgu5kWGyVdShUe7Ddb7tQtpxCWHiAqxE3K821ic9d3ucc98uCYva0COkwO+k4321+4ZMtwDNbvDhDqQnXMEHO/dkbnakrBM1lo3QSoP+ycctMAIUAe/J2FBYLz4Ml8ylXPHG8DaDrbPEvcbm/ya7jqc16HQMs+WxWLOj/4QXzUDldmAk6zB52fu8eNqPxxzUb29DTtNPMAjpTM/gVFoPHd7b6uBMcGrl2e99xTG7lNBNwZMywIDAQAB",[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-27T15:39:25Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.981375ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/962d5ba5-13b2-489b-b001-c26c7f8659aa/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:39:12.347002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/962d5ba5-13b2-489b-b001-c26c7f8659aa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"962d5ba5-13b2-489b-b001-c26c7f8659aa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.294459ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-27T15:39:25Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.368917ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-reputation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.434ms
[...]
