---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.810125ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-reputation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-24T07:10:48Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.631542ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-reputation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:10:52.343309Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA32h9aWrOaLyrL60kkTjjCqrlZuM4uZw3wlyHE5vcx8ClFGjNORT3JUz5lA+QzLbHIF/ZlVOEssxAnHmvADlbxsEhZK4iH1jmGJLljZVuDuvF4oeH0JSyVZ/Pp0Iow3I7+hq/HPzKqy3p4g7DDEtrRQiOO8M+NkqGLOFYG8j1trSv9/N9aeEDG1FNQK8xkrWaC45i5sALfmBNvlivmqkhwcGSKUnTlkzAGoWrvtytpdLp7dkAEbTVXmgz7OjhuFBOcR6qQk0GutTNTrTJWtTmB5tjhqHqhHTWEIw66FeCYlhaQszPOi1Padblxxxk/gx4mqynnhnD8te9HUc/njKtDwIDAQAB","id":"50fcfd0e-5910-4f56-9c8e-ed436afed6e5","last_error":null,"last_valid_at":null,"name":"test-reputation.scaleway-terraform.com","next_check_at":"2026-03-24T07:10:52.215131Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-reputation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA32h9aWrOaLyrL60kkTjjCqrlZuM4uZw3wlyHE5vcx8ClFGjNORT3JUz5lA+QzLbHIF/ZlVOEssxAnHmvADlbxsEhZK4iH1jmGJLljZVuDuvF4oeH0JSyVZ/Pp0Iow3I7+hq/HPzKqy3p4g7DDEtrRQiOO8M+NkqGLOFYG8j1trSv9/N9aeEDG1FNQK8xkrWaC45i5sALfmBNvlivmqkhwcGSKUnTlkzAGoWrvtytpdLp7dkAEbTVXmgz7OjhuFBOcR6qQk0GutTNTrTJWtTmB5tjhqHqhHTWEIw66FeCYlhaQszPOi1Padblxxxk/gx4mqynnhnD8te9HUc/njKtDwIDAQAB"},"dmarc":{"name":"_dmarc.test-reputation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-reputation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-reputation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-24T07:10:52.435230527Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.5873845s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/50fcfd0e-5910-4f56-9c8e-ed436afed6e5
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:10:52.343309Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA32h9aWrOaLyrL60kkTjjCqrlZuM4uZw3wlyHE5vcx8ClFGjNORT3JUz5lA+QzLbH[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=test-reputation.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":true,"created_at":"2026-03-24T07:10:52.343309Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA32h9aWrOaLyrL60kkTjjCqrlZuM4uZw3wlyHE5vcx8ClFGjNORT3JUz5lA+QzLbHIF/ZlVOEssxAnHmvADlbxsEhZK4iH1jmGJLljZVuDuvF4oeH0JSyVZ/Pp0Iow3I7+hq/HPzKqy3p4g7DDEtrRQiOO8M+NkqGLOFYG8j1trSv9/N9aeEDG1FNQK8xkrWaC45i5sALfmBNvlivmqkhwcGSKUnTlkzAGoWrvtytpdLp7dkAEbTVXmgz7OjhuFBOcR6qQk0GutTNTrTJWtTmB5tjhqHqhHTWEIw66FeCYlhaQszPOi1Padblxxxk/gx4mqynnhnD8te9HUc/njKtDwIDAQAB",[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/50fcfd0e-5910-4f56-9c8e-ed436afed6e5/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:10:52.343309Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-24T07:11:53Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.522916ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/50fcfd0e-5910-4f56-9c8e-ed436afed6e5/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:10:52.343309Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/50fcfd0e-5910-4f56-9c8e-ed436afed6e5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"50fcfd0e-5910-4f56-9c8e-ed436afed6e5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.168783792s
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2026-03-24T07:11:53Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.235958ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-reputation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.017291ms
[...]
