---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-reputation.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 257.8654ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-reputation\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-reputation\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:12:00Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 607.890102ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"domain_name\":\"test-reputation.scaleway-terraform.com\",\"accept_tos\":true,\"autoconfig\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"6d0a8ca5-2f85-48d4-b76c-e0a730335978\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-reputation.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T12:12:04.804245Z\",\"next_check_at\":\"2025-09-01T12:12:04.725942Z\",\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs+T4u7CCcTqndR9NjRJZxaDJ3o22AazkCZxkU6fRm/q3Qm/Wu5QA9kXs3Ycs2t0hThHJ2F0ZtQLjyzd0EvKwtSYwnVul7V2bwZctKBwX69dHYNZlqkGFfQdqK/B8auvYbN8Ym6wFU+WMuw/N+d58kKXLKF6SUmpfYd9hi7rYt9H8y8XYmsqV1d4E/wshEm1Zgi6+Vc2zt+xXtnnYM7tx6hCwkZ1e8THCOddW5uomFRx+4Xr3FMkXJbOVeaQ5G/gq/lPT48nxcKC/0oqCs+XlsCCFxnzB9CUJSQK2QXHQDoLwgmxqitjMNT6tU0xEwGzWOWB94YD7kDHNTVs+yaP/tQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T12:12:04.873486916Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.test-reputation\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.946655007s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6d0a8ca5-2f85-48d4-b76c-e0a730335978
    method: GET
  response:
    body: "{\"id\":\"6d0a8ca5-2f85-48d4-b76c-e0a730335978\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-reputation.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T12[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      name:
      - test-reputation.scaleway-terraform.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=test-reputation.scaleway-terraform.com
    method: GET
  response:
    body: "{\"total_count\":1,\"domains\":[{\"id\":\"6d0a8ca5-2f85-48d4-b76c-e0a730335978\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-reputation.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T12:12:04.804245Z\",\"next_check_at\":\"2025-09-01T12:12:04.725942Z\",\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs+T4u7CCcTqndR9NjRJZxaDJ3o22AazkCZxkU6fRm/q3Qm/Wu5QA9kXs3Ycs2t0hThHJ2F0ZtQLjyzd0EvKwtSYwnVul7V2bwZctKBwX69dHYNZlqkGFfQdqK/B8auvYbN8Ym6wFU+WMuw/N+d58kKXLKF6SUmpfYd9hi7rYt9H8y8XYmsqV1d4E/wshEm1Zgi6+Vc2zt+xXtnnYM7tx6hCwkZ1e8THCOddW5uomFRx+4Xr3FMkXJbOVeaQ5G/gq/lPT48nxcKC/0oqCs+XlsCCFxnzB9CUJSQK2QXHQDoLwgmxqitjMNT6tU0xEwGzWOWB94YD7kDHNTVs+yaP/tQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T12:12:06.673305502Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.test-reputation\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":true,\"region\":\"fr-par\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 780.929843ms
- id: 7
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6d0a8ca5-2f85-48d4-b76c-e0a730335978/check
    method: POST
  response:
    body: "{\"id\":\"6d0a8ca5-2f85-48d4-b76c-e0a730335978\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-reputation.scaleway-terraform.[...]
[...]
- id: 23
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-reputation.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-reputation\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:12:53Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.545408ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6d0a8ca5-2f85-48d4-b76c-e0a730335978/revoke
    method: POST
  response:
    body: "{\"id\":\"6d0a8ca5-2f85-48d4-b76c-e0a730335978\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-reputation.scaleway-terraform.com\",\"status\":\"revoked\",\"created_at\":\"2025-09-01T12:12:04.804245Z\",\"next_check_at\":null,\"last_valid_at\":\"2025-09-01T12:12:59.998312Z\",\"revoked_at\":\"2025-09-01T12:13:11.931147041Z\",\"last_error\":null,\"spf_config\":\"\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs+T4u7CCcTqndR9NjRJZxaDJ3o22AazkCZxkU6fRm/q3Qm/Wu5QA9kXs3Ycs2t0hThHJ2F0ZtQLjyzd0EvKwtSYwnVul7V2bwZctKBwX69dHYNZlqkGFfQdqK/B8auvYbN8Ym6wFU+WMuw/N+d58kKXLKF6SUmpfYd9hi7rYt9H8y8XYmsqV1d4E/wshEm1Zgi6+Vc2zt+xXtnnYM7tx6hCwkZ1e8THCOddW5uomFRx+4Xr3FMkXJbOVeaQ5G/gq/lPT48nxcKC/0oqCs+XlsCCFxnzB9CUJSQK2QXHQDoLwgmxqitjMNT6tU0xEwGzWOWB94YD7kDHNTVs+yaP/tQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":null,\"records\":null,\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.740563ms
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6d0a8ca5-2f85-48d4-b76c-e0a730335978
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"domain\",\"resource_id\":\"6d0a8ca5-2f85-48d4-b76c-e0a730335978\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 593.283137ms
- id: 33
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - test-reputation.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-reputation\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:12:53Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.066129ms
- id: 34
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-reputation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 150.306248ms
[...]
