---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.078583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-reputation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2025-07-11T05:28:03Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 390.156416ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-reputation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2025-07-11T05:28:07.578740Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqsESQ8CPpNztLufFyM3Sggx/LopsqTMUAInOFb4RxZZDT2c7PTu+YcRYyHOd1EC8IVSbcoDedotdt/6G0E3j9o0OqqIVxjCgSSeetpHO9BJZuYBI3M/EMr9PCkIB395qhu68wm4DE8r8Kml671K4hbRMsiFdJokXjh5IruCfDozqAw+D/+FiebGojWmSuQkscEGv6Msj/SsI9Jfnrkg9dN1zhqbW13VC00NcN0kX8Pu31LJ4SWuOQ9QaU+UFr/nBUlIdPyMNgD3i3ZsK4MPnhqao+99ayNg8m/YrBq3YGnIHEloiDs8BtC46fyS8U2b+Pxp3slUCaJLwCz431/IAnwIDAQAB","id":"49d973d1-013c-493d-8374-b53561509308","last_error":null,"last_valid_at":null,"name":"test-reputation.scaleway-terraform.com","next_check_at":"2025-07-11T05:28:07.541390Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.test-reputation","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-07-11T05:28:07.672146890Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.757039541s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/49d973d1-013c-493d-8374-b53561509308
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2025-07-11T05:28:07.578740Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqsESQ8CPpNztLufFyM3Sggx/LopsqTMUAInOFb4RxZZDT2c7PTu+YcRYyHOd1EC8[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=test-reputation.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":true,"created_at":"2025-07-11T05:28:07.578740Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqsESQ8CPpNztLufFyM3Sggx/LopsqTMUAInOFb4RxZZDT2c7PTu+YcRYyHOd1EC8IVSbcoDedotdt/6G0E3j9o0OqqIVxjCgSSeetpHO9BJZuYBI3M/EMr9PCkIB395qhu68wm4DE8r8Kml671K4hbRMsiFdJokXjh5IruCfDozqAw+D/+FiebGojWmSuQkscEGv6Msj/SsI9Jfnrkg9dN1zhqbW13VC00NcN0kX8Pu31LJ4SWuOQ9QaU+UFr/nBUlIdPyMNgD3i3ZsK4MPnhqao+99ayNg8m/YrBq3YGnIHEloiDs8BtC46fyS8U2b+Pxp3slUCaJLwCz431/IAnwIDAQAB","id":"49d973d1-013c-493d-8374-b53561509308","last_error":null,"last_valid_at":null,"name":"test-reputation.scaleway-terraform.com","next_check_at":"2025-07-11T05:28:07.541390Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.test-reputation","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-07-11T05:28:10.153892732Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 872.4165ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/49d973d1-013c-493d-8374-b53561509308/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-07-11T05:28:07.578740Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2025-07-11T05:29:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.12125ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/49d973d1-013c-493d-8374-b53561509308/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-07-11T05:28:07.578740Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-reputation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-reputation","updated_at":"2025-07-11T05:29:08Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.028792ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-reputation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.055959ms
[...]
