---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - validation-timeout.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-timeout.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 207.166224ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"validation-timeout\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"validation-timeout\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:49:11Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 320.316375ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"domain_name\":\"validation-timeout.scaleway-terraform.com\",\"accept_tos\":true,\"autoconfig\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"28b68ebe-a6a2-4564-a962-abbcd56c37ea\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-timeout.scaleway-terraform.com\",\"status\":\"unchecked\",\"created_at\":\"2025-09-01T12:49:12.161167Z\",\"next_check_at\":null,\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwvY+90f2U8KotHpV2uepOywfNEYUHpoIILO4w0aI8MMKVfZBGzZV6d94JhvIdlYxMfOikbCgv3UptoeISrxB1Lcs7QDnj4K6wWBeRAmUtUcEEakAyWsGAKH2Qr0n22XzPT5cX67+cpLVfqsq1OrThdwX7VBl510kpGGKUiG7b+rUrACg3zyrmLDYW8iAL2Er/MljlVQIBQy39m6GWQ30easWe5+o/civ5N1eDdLXmTA24DcJAaYJHpIF5e+UQcxF6pLFVnH/zOZCHa/xaCsqHPNAJk7ZxfLot+e1uRMULxvWQN/lCU0FJm+kHFj3L/pbN5RZM25lfhLVj8j28vmZPQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T12:49:12.206550103Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.validation-timeout\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 596.236588ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/28b68ebe-a6a2-4564-a962-abbcd56c37ea
    method: GET
  response:
    body: "{\"id\":\"28b68ebe-a6a2-4564-a962-abbcd56c37ea\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-timeout.scaleway-terraform.com\",\"status\":\"unchecked\",\"created_at\":\"2025-09-01T12:49[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/28b68ebe-a6a2-4564-a962-abbcd56c37ea/check
    method: POST
  response:
    body: "{\"id\":\"28b68ebe-a6a2-4564-a962-abbcd56c37ea\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-timeout.scaleway-terrafo[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/28b68ebe-a6a2-4564-a962-abbcd56c37ea/revoke
    method: POST
  response:
    body: "{\"id\":\"28b68ebe-a6a2-4564-a962-abbcd56c37ea\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-timeout.scaleway-terraform.com\",\"status\":\"revoked\",\"created_at\":\"2025-09-01T12:49:12.161167Z\",\"next_check_at\":null,\"last_valid_at\":null,\"revoked_at\":\"2025-09-01T12:49:15.332990739Z\",\"last_error\":null,\"spf_config\":\"\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwvY+90f2U8KotHpV2uepOywfNEYUHpoIILO4w0aI8MMKVfZBGzZV6d94JhvIdlYxMfOikbCgv3UptoeISrxB1Lcs7QDnj4K6wWBeRAmUtUcEEakAyWsGAKH2Qr0n22XzPT5cX67+cpLVfqsq1OrThdwX7VBl510kpGGKUiG7b+rUrACg3zyrmLDYW8iAL2Er/MljlVQIBQy39m6GWQ30easWe5+o/civ5N1eDdLXmTA24DcJAaYJHpIF5e+UQcxF6pLFVnH/zOZCHa/xaCsqHPNAJk7ZxfLot+e1uRMULxvWQN/lCU0FJm+kHFj3L/pbN5RZM25lfhLVj8j28vmZPQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":null,\"records\":null,\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 213.412708ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/28b68ebe-a6a2-4564-a962-abbcd56c37ea
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"domain\",\"resource_id\":\"28b68ebe-a6a2-4564-a962-abbcd56c37ea\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 54.579359ms
- id: 12
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - validation-timeout.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-timeout.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"validation-timeout\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:49:11Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.927898ms
- id: 13
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-timeout.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 143.068205ms
[...]
