---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-autoconfig-update.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.324227ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig-update\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig-update\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:02:48Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 285.983622ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"domain_name\":\"test-autoconfig-update.scaleway-terraform.com\",\"accept_tos\":true,\"autoconfig\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"8d31ed35-72a6-436a-a9c5-21d992f709bc\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-autoconfig-update.scaleway-terraform.com\",\"status\":\"unchecked\",\"created_at\":\"2025-09-01T12:02:50.580386Z\",\"next_check_at\":null,\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuLSTbo2jDrdIYoMKTrHOr8pt/vwUoUntjZDXX9j6pc1XHGd64SGuhFlVEXzpmNdAOWxj2GTJd40IgkDibWn3/9Tl4jSVaESv8Ckqnl6f3/gakHXiffjrWDpFtooMjNXTjlMCYVWD8CzYm6Nz/ZgvwwSjAZBHktQ4ZsU98nLJoj3Gs5zwKTeGnhdG1UpOM0EzW2FrRYBnxgNviI5e9jcanycNHGhrZWrqEumwzf0B56OVsqYB9SH5/oiXKSJaa45/BT6thsgij4rWEVNRkvCVyYOb0SKmipFX7H9DlK8TsLUEdrOrtRVWJvBuH8uJrzUdPieyWeE0oPNJG4+2F46kUQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T12:02:50.674089747Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.test-autoconfig-update\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.622190663s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8d31ed35-72a6-436a-a9c5-21d992f709bc
    method: GET
  response:
    body: "{\"id\":\"8d31ed35-72a6-436a-a9c5-21d992f709bc\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-autoconfig-update.scaleway-terraform.com\",\"status\":\"unchecked\",\"created_at\":\"2025-09-01T1[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-autoconfig-update.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig-update\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:02:48Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.053493ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8d31ed35-72a6-436a-a9c5-21d992f709bc/revoke
    method: POST
  response:
    body: "{\"id\":\"8d31ed35-72a6-436a-a9c5-21d992f709bc\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-autoconfig-update.scaleway-terraform.com\",\"status\":\"revoked\",\"created_at\":\"2025-09-01T12:02:50.580386Z\",\"next_check_at\":null,\"last_valid_at\":\"2025-09-01T12:03:42.864629Z\",\"revoked_at\":\"2025-09-01T12:03:54.013668167Z\",\"last_error\":null,\"spf_config\":\"\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuLSTbo2jDrdIYoMKTrHOr8pt/vwUoUntjZDXX9j6pc1XHGd64SGuhFlVEXzpmNdAOWxj2GTJd40IgkDibWn3/9Tl4jSVaESv8Ckqnl6f3/gakHXiffjrWDpFtooMjNXTjlMCYVWD8CzYm6Nz/ZgvwwSjAZBHktQ4ZsU98nLJoj3Gs5zwKTeGnhdG1UpOM0EzW2FrRYBnxgNviI5e9jcanycNHGhrZWrqEumwzf0B56OVsqYB9SH5/oiXKSJaa45/BT6thsgij4rWEVNRkvCVyYOb0SKmipFX7H9DlK8TsLUEdrOrtRVWJvBuH8uJrzUdPieyWeE0oPNJG4+2F46kUQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":null,\"records\":null,\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 149.523132ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8d31ed35-72a6-436a-a9c5-21d992f709bc
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"domain\",\"resource_id\":\"8d31ed35-72a6-436a-a9c5-21d992f709bc\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 640.272383ms
- id: 21
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - test-autoconfig-update.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig-update\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:03:17Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.504456ms
- id: 22
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig-update.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.288231ms
[...]
