---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.303255708s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2025-03-26T09:36:42Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.683667ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig-update.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-26T09:36:43.296581Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlymjcX0FKGMe/deF6vnqkj1dA4qwJQZThkbgUDi/Iht4PuZBk1sRLDzi5qgwRCos4Us5GBacxkinEh+EHgNNhqOYQ9ZDCWelL+29qKps/LoeNpdKKLVtidyWjD5GUw1zwYkYgoJgFNbXoGbYO1wpCBC3VB6f2cWGKo3QAufoFvY7ONBxFf0Z0gj6LF07ShuUIiEJcDvcYc0kcgwpC0V2PHHEij633Ao2ItBr1oZxBPQegUS/jXBlv6Ioxtg6KLLcJCguCR7W/MLHGYLmkViT0e7I5MT3FJU9Jt7VUFRfWWfyUKv5zllUU1Kf+grHKUTr7YbzMT0YvK0MhD+Yng8+lQIDAQAB","id":"a6bb03eb-872c-41bc-bf42-c93f8db76675","last_error":null,"last_valid_at":null,"name":"test-autoconfig-update.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.test-autoconfig-update","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-03-26T09:36:43.307614348Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 378.546333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a6bb03eb-872c-41bc-bf42-c93f8db76675
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-26T09:36:43.296581Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlymjcX0FKGMe/deF6vnqkj1dA4qwJQZThkbgUDi/Iht4PuZBk1sRLDzi5qgwRCo[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2025-03-26T09:36:47Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.265667ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a6bb03eb-872c-41bc-bf42-c93f8db76675/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-26T09:36:43.296581Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2025-03-26T09:37:10Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.950375ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig-update.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.419625ms
[...]
