---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.055292ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-24T07:50:34Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.805416ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:50:38.803172Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7ccBSuzJAtd2iAoaQgSByTpqjQQKTTESkY8UgU+VvNW2UOGnup3C/wDYKQjJQVniT1ADU3qBHoFxw64l4OUZvRCsU3pu9cx3hbG2sXLNhjELUTM/XEANwooh5+Nj9IWX0Fcrv5IcZts3Y33TT90CrXoLttgmq9DYSi7EMPlqezLMfNQ2OF+yMtX8zMTs4qc2mggK9t3rQnlffTR5jWXk4+PabJSfUgPcyyLn1WLIb17mLeoAw8gymh9t339xdCWw9VHOYj+SVwVmADKzkekvJdA5Ezhi5RC4/wlQAGn4/pr6tp++1exfj2VADpbU9QcEUjWcdwtimV6lmq84yKFgiQIDAQAB","id":"21c3a6af-d266-4b21-af0e-2d1645e2e0dc","last_error":null,"last_valid_at":null,"name":"test-autoconfig.scaleway-terraform.com","next_check_at":"2026-03-24T07:50:38.690211Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7ccBSuzJAtd2iAoaQgSByTpqjQQKTTESkY8UgU+VvNW2UOGnup3C/wDYKQjJQVniT1ADU3qBHoFxw64l4OUZvRCsU3pu9cx3hbG2sXLNhjELUTM/XEANwooh5+Nj9IWX0Fcrv5IcZts3Y33TT90CrXoLttgmq9DYSi7EMPlqezLMfNQ2OF+yMtX8zMTs4qc2mggK9t3rQnlffTR5jWXk4+PabJSfUgPcyyLn1WLIb17mLeoAw8gymh9t339xdCWw9VHOYj+SVwVmADKzkekvJdA5Ezhi5RC4/wlQAGn4/pr6tp++1exfj2VADpbU9QcEUjWcdwtimV6lmq84yKFgiQIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-24T07:50:38.861188106Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.878359333s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/21c3a6af-d266-4b21-af0e-2d1645e2e0dc
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:50:38.803172Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7ccBSuzJAtd2iAoaQgSByTpqjQQKTTESkY8UgU+VvNW2UOGnup3C/wDYKQjJQVni[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/21c3a6af-d266-4b21-af0e-2d1645e2e0dc/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:50:38.803172Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 147
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/21c3a6af-d266-4b21-af0e-2d1645e2e0dc/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:50:38.803172Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMI[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/21c3a6af-d266-4b21-af0e-2d1645e2e0dc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"21c3a6af-d266-4b21-af0e-2d1645e2e0dc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 97.330125ms
[...]
    - id: 150
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.557708ms
[...]
