---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"3f6e5deb-b3e0-4788-8370-0a05a2df8a0e","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.572592ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"3f6e5deb-b3e0-4788-8370-0a05a2df8a0e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.062582ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"3f6e5deb-b3e0-4788-8370-0a05a2df8a0e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.140916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"created_at":"2024-06-17T12:24:30.503731Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPclwB4mm1Dnc9L0feDXDebvI6F/RV8s3RLPKXxqopJ6IIJT5+CNxBoJCjS2YGTgJ/kE2ePJ0h8jEFd2R7VsBnIo03gF2cv/4aqpC7k0r0IZHpYklfeTv9p4C+X2pAX0pOtd+JDr/W6RpON1qr7PRWhwG0/wl/5AQfBeTxs/GKymUuJ4ltDcBDGuHOnoLIhN1wg3igaKSaY0IVTMkKZECtwjLVSofzRYaTaxbDrcbxSClLHjXA1OfYboRvx6ycpDO+Yh5Gy2r2jMT2FP+xBLbASWQO54uM/WNIeNAmx2X7mLFsdtxqw44rHK5WMNxsIU2WNCXin+cna8yQIDAQAB","id":"e87b2a84-1557-406e-a306-ce72063b7fb1","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none; rua=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud; ruf=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-06-17T12:24:30.503730177Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.398612ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=3f6e5deb-b3e0-4788-8370-0a05a2df8a0e&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"3f6e5deb-b3e0-4788-8370-0a05a2df8a0e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.828169ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-06-17T12:24:30Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.589815ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e87b2a84-1557-406e-a306-ce72063b7fb1
        method: GET
      response:
        body: '{"created_at":"2024-06-17T12:24:30.503731Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPclwB4mm1Dnc9L0feDXDebvI6F/RV8s3RLPKXxqopJ6IIJT5+CNxBoJCjS2YGTgJ/kE2ePJ0h[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"4d750c74-7bc6-4038-9d34-1b9f6eae9b74","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.586993ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e87b2a84-1557-406e-a306-ce72063b7fb1/check
        method: POST
      response:
        body: '{"created_at":"2024-06-17T12:24:30.503731Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPc[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPclwB4mm1Dnc9L0feDXDebvI6F/RV8s3RLPKXxqopJ6IIJT5+CNxBoJCjS2YGTgJ/kE2ePJ0h8jEFd2R7VsBnIo03gF2cv/4aqpC7k0r0IZHpYklfeTv9p4C+X2pAX0pOtd+JDr/W6RpON1qr7PRWhwG0/wl/5AQfBeTxs/GKymUuJ4ltDcBDGuHOnoLIhN1wg3igaKSaY0IVTMkKZECtwjLVSofzRYaTaxbDrcbxSClLHjXA1OfYboRvx6ycpDO+Yh5Gy2r2jMT2FP+xBLbASWQO54uM/WNIeNAmx2X7mLFsdtxqw44rHK5WMNxsIU2WNCXin+cna8yQIDAQAB\"","id":"749720fa-02d3-4c6f-ab31-eea4c4422618","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.196026ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"4d750c74-7bc6-4038-9d34-1b9f6eae9b74","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPclwB4mm1Dnc9L0feDXDebvI6F/RV8s3RLPKXxqopJ6IIJT5+CNxBoJCjS2YGTgJ/kE2ePJ0h8jEFd2R7VsBnIo03gF2cv/4aqpC7k0r0IZHpYklfeTv9p4C+X2pAX0pOtd+JDr/W6RpON1qr7PRWhwG0/wl/5AQfBeTxs/GKymUuJ4ltDcBDGuHOnoLIhN1wg3igaKSaY0IVTMkKZECtwjLVSofzRYaTaxbDrcbxSClLHjXA1OfYboRvx6ycpDO+Yh5Gy2r2jMT2FP+xBLbASWQO54uM/WNIeNAmx2X7mLFsdtxqw44rHK5WMNxsIU2WNCXin+cna8yQIDAQAB\"","id":"749720fa-02d3-4c6f-ab31-eea4c4422618","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.030042ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none; rua=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud; ruf=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud\"","id":"8fa13c2d-f46e-4985-84c8-7360c96e2257","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.011175ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none; rua=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud; ruf=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud\"","id":"8fa13c2d-f46e-4985-84c8-7360c96e2257","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.2518ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e87b2a84-1557-406e-a306-ce72063b7fb1/check
        method: POST
      response:
        body: '{"created_at":"2024-06-17T12:24:30.503731Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPclwB4mm1Dnc9L0feDXDebvI6F/RV8s3RLPKXxqopJ6IIJT5+CNxBoJCjS2YGTgJ/kE2ePJ0h8jEFd2R7VsBnIo03gF2cv/4aqpC7k0r0IZHpYklfeTv9p4C+X2pAX0pOtd+JDr/W6RpON1qr7PRWhwG0/wl/5AQfBeTxs/GKymUuJ4ltDcBDGuHOnoLIhN1wg3igaKSaY0IVTMkKZECtwjLVSofzRYaTaxbDrcbxSClLHjXA1OfYboRvx6ycpDO+Yh5Gy2r2jMT2FP+xBLbASWQO54uM/WNIeNAmx2X7mLFsdtxqw44rHK5WMNxsIU2WNCXin+cna8yQIDAQAB","id":"e87b2a84-1557-406e-a306-ce72063b7fb1","last_error":"no SPF record found\nfailed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nno MX record found\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-06-17T12:25:32.799551Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none; rua=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud; ruf=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.923018ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=3f6e5deb-b3e0-4788-8370-0a05a2df8a0e&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"3f6e5deb-b3e0-4788-8370-0a05a2df8a0e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.382254ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=749720fa-02d3-4c6f-ab31-eea4c4422618&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPclwB4mm1Dnc9L0feDXDebvI6F/RV8s3RLPKXxqopJ6IIJT5+CNxBoJCjS2YGTgJ/kE2ePJ0h8jEFd2R7VsBnIo03gF2cv/4aqpC7k0r0IZHpYklfeTv9p4C+X2pAX0pOtd+JDr/W6RpON1qr7PRWhwG0/wl/5AQfBeTxs/GKymUuJ4ltDcBDGuHOnoLIhN1wg3igaKSaY0IVTMkKZECtwjLVSofzRYaTaxbDrcbxSClLHjXA1OfYboRvx6ycpDO+Yh5Gy2r2jMT2FP+xBLbASWQO54uM/WNIeNAmx2X7mLFsdtxqw44rHK5WMNxsIU2WNCXin+cna8yQIDAQAB\"","id":"749720fa-02d3-4c6f-ab31-eea4c4422618","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.77333ms
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=8fa13c2d-f46e-4985-84c8-7360c96e2257&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none; rua=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud; ruf=mailto:c19490f9-1d18-4e0f-966f-bc7eb8a3e72f@dmarc.scw-tem.cloud\"","id":"8fa13c2d-f46e-4985-84c8-7360c96e2257","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.8242ms
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=4d750c74-7bc6-4038-9d34-1b9f6eae9b74&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"4d750c74-7bc6-4038-9d34-1b9f6eae9b74","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.415609ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"8fa13c2d-f46e-4985-84c8-7360c96e2257"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.629622ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/e87b2a84-1557-406e-a306-ce72063b7fb1/revoke
        method: POST
      response:
        body: '{"created_at":"2024-06-17T12:24:30.503731Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ZDfK29FAPclwB4mm1Dnc9L0feDXDebvI6F/RV8s3RLPKXxqopJ6IIJT5+CNxBoJCjS2YGTgJ/kE2ePJ0h8jEFd2R7VsBnIo03gF2cv/4aqpC7k0r0IZHpYklfeTv9p4C+X2pAX0pOtd+JDr/W6RpON1qr7PRWhwG0/wl/5AQfBeTxs/GKymUuJ4ltDcBDGuHOnoLIhN1wg3igaKSaY0IVTMkKZECtwjLVSofzRYaTaxbDrcbxSClLHjXA1OfYboRvx6ycpDO+Yh5Gy2r2jMT2FP+xBLbASWQO54uM/WNIeNAmx2X7mLFsdtxqw44rHK5WMNxsIU2WNCXin+cna8yQIDAQAB","id":"e87b2a84-1557-406e-a306-ce72063b7fb1","last_error":null,"last_valid_at":"2024-06-17T12:25:34.622206Z","name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":null,"region":"fr-par","reputation":null,"revoked_at":"2024-06-17T12:25:40.191961133Z","spf_config":"","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"revoked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.473913ms
[...]
