---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"e89f2e26-a52c-4408-a2c6-59043331e38b","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.300041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"created_at":"2024-04-10T13:29:51.616155305Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn5688UYh+qrAw412sf3kIZ3jSCJU7j4GTj2JUm3nYYkVu+vkxhTzG7UunpUQXHXMe3CQbXphiNsxJwuPx58lcdHXlFmJssaRHKYFkfur1nAwy155QZs+CwcY5wMjNAspIwZBvLspUfcIUC+SzCn3fZP3fgqGe5jEwUfUrmASozEyWdbPGjQ8pmZ8dIiVVgA7sWPNumNsiOi8Eh7m1a1U6/vigXOn9KmfPkQdP8JnxJSvV0DGfncP4Y5wImfoDnr52RBAe965PRP8IgMkkNsv2FIbN2xb4IRAxPmTokNMrKcZjBP7bX4mvwqSMQCMWNJtzqdh2w+hkYJdsQIDAQAB","id":"792e453f-b018-4761-a131-1821e56824cd","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none; rua=mailto:5253e140-06ce-43a9-bded-8c45b72e221e@dmarc.scw-tem.cloud,mailto:65a0b49c-6c48-48cd-a982-0fb36e8082cd@dmarc.scw-tem.cloud; ruf=mailto:5253e140-06ce-43a9-bded-8c45b72e221e@dmarc.scw-tem.cloud,mailto:65a0b49c-6c48-48cd-a982-0fb36e8082cd@dmarc.scw-tem.cloud"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.971724ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"e89f2e26-a52c-4408-a2c6-59043331e38b","name":"","priority":0,"ttl":3600,"type":"MX"},{"comment":null,"data":"10 blackhole.scw-tem.cloud.","id":"ddafb6aa-166a-4cd6-8c43-d8acb5269ac9","name":"test","priority":10,"ttl":3600,"type":"MX"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.594487ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/792e453f-b018-4761-a131-1821e56824cd
        method: GET
      response:
        body: '{"created_at":"2024-04-10T13:29:51.616155Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn5688UYh+qrAw412sf3kIZ3jSCJU7j4GTj2JUm3nYYkVu+vkxhTzG7UunpUQXHXMe3CQbXphiN[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"e89f2e26-a52c-4408-a2c6-59043331e38b","name":"","priority":0,"ttl":3600,"type":"MX"},{"comment":null,"data":"10 blackhole.scw-tem.cloud.","id":"ddafb6aa-166a-4cd6-8c43-d8acb5269ac9","name":"test","priority":10,"ttl":3600,"type":"MX"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.846341ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=e89f2e26-a52c-4408-a2c6-59043331e38b&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"e89f2e26-a52c-4408-a2c6-59043331e38b","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.339584ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-04-10T13:29:51Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.548906ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"865b4ab4-8201-4754-bcce-b6de59fd88eb","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha2[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/792e453f-b018-4761-a131-1821e56824cd/check
        method: POST
      response:
        body: '{"created_at":"2024-04-10T13:29:51.616155Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn56[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"865b4ab4-8201-4754-bcce-b6de59fd88eb","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn5688UYh+qrAw412sf3kIZ3jSCJU7j4GTj2JUm3nYYkVu+vkxhTzG7UunpUQXHXMe3CQbXphiNsxJwuPx58lcdHXlFmJssaRHKYFkfur1nAwy155QZs+CwcY5wMjNAspIwZBvLspUfcIUC+SzCn3fZP3fgqGe5jEwUfUrmASozEyWdbPGjQ8pmZ8dIiVVgA7sWPNumNsiOi8Eh7m1a1U6/vigXOn9KmfPkQdP8JnxJSvV0DGfncP4Y5wImfoDnr52RBAe965PRP8IgMkkNsv2FIbN2xb4IRAxPmTokNMrKcZjBP7bX4mvwqSMQCMWNJtzqdh2w+hkYJdsQIDAQAB\"","id":"571e2a5a-7425-4271-bdc2-5bd6c2840f74","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.832609ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn5688UYh+qrAw412sf3kIZ3jSCJU7j4GTj2JUm3nYYkVu+vkxhTzG7UunpUQXHXMe3CQbXphiNsxJwuPx58lcdHXlFmJssaRHKYFkfur1nAwy155QZs+CwcY5wMjNAspIwZBvLspUfcIUC+SzCn3fZP3fgqGe5jEwUfUrmASozEyWdbPGjQ8pmZ8dIiVVgA7sWPNumNsiOi8Eh7m1a1U6/vigXOn9KmfPkQdP8JnxJSvV0DGfncP4Y5wImfoDnr52RBAe965PRP8IgMkkNsv2FIbN2xb4IRAxPmTokNMrKcZjBP7bX4mvwqSMQCMWNJtzqdh2w+hkYJdsQIDAQAB\"","id":"571e2a5a-7425-4271-bdc2-5bd6c2840f74","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.816542ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=e89f2e26-a52c-4408-a2c6-59043331e38b&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"e89f2e26-a52c-4408-a2c6-59043331e38b","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.094418ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=865b4ab4-8201-4754-bcce-b6de59fd88eb&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"865b4ab4-8201-4754-bcce-b6de59fd88eb","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.587515ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=571e2a5a-7425-4271-bdc2-5bd6c2840f74&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn5688UYh+qrAw412sf3kIZ3jSCJU7j4GTj2JUm3nYYkVu+vkxhTzG7UunpUQXHXMe3CQbXphiNsxJwuPx58lcdHXlFmJssaRHKYFkfur1nAwy155QZs+CwcY5wMjNAspIwZBvLspUfcIUC+SzCn3fZP3fgqGe5jEwUfUrmASozEyWdbPGjQ8pmZ8dIiVVgA7sWPNumNsiOi8Eh7m1a1U6/vigXOn9KmfPkQdP8JnxJSvV0DGfncP4Y5wImfoDnr52RBAe965PRP8IgMkkNsv2FIbN2xb4IRAxPmTokNMrKcZjBP7bX4mvwqSMQCMWNJtzqdh2w+hkYJdsQIDAQAB\"","id":"571e2a5a-7425-4271-bdc2-5bd6c2840f74","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.40466ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"865b4ab4-8201-4754-bcce-b6de59fd88eb"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.902627ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/792e453f-b018-4761-a131-1821e56824cd/revoke
        method: POST
      response:
        body: '{"created_at":"2024-04-10T13:29:51.616155Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn5[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/792e453f-b018-4761-a131-1821e56824cd
        method: GET
      response:
        body: '{"created_at":"2024-04-10T13:29:51.616155Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo5nNAuqPn5688UYh+qrAw412sf3kIZ3jSCJU7j4GTj2JUm3nYYkVu+vkxhTzG7UunpUQXHXMe3CQbXphiNsxJwuPx58lcdHXlFmJssaRHKYFkfur1nAwy155QZs+CwcY5wMjNAspIwZBvLspUfcIUC+SzCn3fZP3fgqGe5jEwUfUrmASozEyWdbPGjQ8pmZ8dIiVVgA7sWPNumNsiOi8Eh7m1a1U6/vigXOn9KmfPkQdP8JnxJSvV0DGfncP4Y5wImfoDnr52RBAe965PRP8IgMkkNsv2FIbN2xb4IRAxPmTokNMrKcZjBP7bX4mvwqSMQCMWNJtzqdh2w+hkYJdsQIDAQAB","id":"792e453f-b018-4761-a131-1821e56824cd","last_error":"URI \"mailto:b797c375-5edb-43dd-9523-0d9ab59a58e6@dmarc.scw-tem.cloud\" not found in rua tag","last_valid_at":"2024-04-10T13:30:56.210706Z","name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":null,"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-04-10T13:30:56.578947Z","status":"excellent"},"revoked_at":"2024-04-10T13:31:01.638700Z","spf_config":"","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"revoked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.941357ms
[...]
