---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.041292ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-26T12:56:37Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.201458ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig-update.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-26T12:56:38.595094Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApa4/VkGdAvwrBTjdewYyrcxwhhwIAsqWvfISVbtoKU6hSDK93ExTA3YC3tn60qnDhWdp7qbPsodmDOz+Gg2CPqC/Q1zAiX9j8j8RpqMBIm6UvV1IpCzVH/aeSQ6b3n/Ys8ta/1WVzNoCu0BGCneJouuLh3LazIsiGvLKzZVcWyZWvnChwL7Cxyb7aSr2dHu1ejiwu7oCuyysjUhk98VvhCck+VzHCq+dswZqck4ArtgrbfS+aHoaqCprJpqsziPEkOUQ8iQvMT8ey4a0ESIWOYSuE3T1dh52mD3Qlse6LtIKNSEUp1w1q6TARsJvt3p8KqTSxPNIl6J8DnSLl+jedwIDAQAB","id":"dd944c3a-12a9-41e8-90e2-90e090b3f139","last_error":null,"last_valid_at":null,"name":"test-autoconfig-update.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig-update.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApa4/VkGdAvwrBTjdewYyrcxwhhwIAsqWvfISVbtoKU6hSDK93ExTA3YC3tn60qnDhWdp7qbPsodmDOz+Gg2CPqC/Q1zAiX9j8j8RpqMBIm6UvV1IpCzVH/aeSQ6b3n/Ys8ta/1WVzNoCu0BGCneJouuLh3LazIsiGvLKzZVcWyZWvnChwL7Cxyb7aSr2dHu1ejiwu7oCuyysjUhk98VvhCck+VzHCq+dswZqck4ArtgrbfS+aHoaqCprJpqsziPEkOUQ8iQvMT8ey4a0ESIWOYSuE3T1dh52mD3Qlse6LtIKNSEUp1w1q6TARsJvt3p8KqTSxPNIl6J8DnSLl+jedwIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig-update.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-26T12:56:38.709417894Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 695.577333ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/dd944c3a-12a9-41e8-90e2-90e090b3f139
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"dd944c3a-12a9-41e8-90e2-90e090b3f139","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 192.109709ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-26T12:56:37Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.205958ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig-update.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.340958ms
