---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.820333ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-31T09:28:36Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.887209ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig-update.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T09:28:37.065293Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyfEOtM0UyPnPcGurU+deaJQgUJ2d3rgMN+NX+Sqn4u2CwkOPGsd65cDi/xYYBteHJ/jTG9vgiHDwN9/X2h7ZzY450rTr9Ogo00gKZkahZ/gRqIu+vrnEwZzrImDH3L12fV1wqdrBeatj7IfskZhu6GlBK1Y6+Hzsl4NLySIk1eDcpXF7HkQ6eQQJsGOM+UWk/GlKcTmlBMzmm0v4u9EoA4gUhMbGc8+gtd4nK/NiQLd2hw5gWn1wpjxgU5B31AnzOH7uVfYH0qOKaR6XAAV/J2jYrFfOhu8zj4ZrnoN7wC6Oul+TeLLg9AqrcAQR9jxA5Lm7MxKVcOnxz31xRAR6ywIDAQAB","id":"186a2dd5-9aba-41e8-a743-498831ee7bde","last_error":null,"last_valid_at":null,"name":"test-autoconfig-update.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig-update.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyfEOtM0UyPnPcGurU+deaJQgUJ2d3rgMN+NX+Sqn4u2CwkOPGsd65cDi/xYYBteHJ/jTG9vgiHDwN9/X2h7ZzY450rTr9Ogo00gKZkahZ/gRqIu+vrnEwZzrImDH3L12fV1wqdrBeatj7IfskZhu6GlBK1Y6+Hzsl4NLySIk1eDcpXF7HkQ6eQQJsGOM+UWk/GlKcTmlBMzmm0v4u9EoA4gUhMbGc8+gtd4nK/NiQLd2hw5gWn1wpjxgU5B31AnzOH7uVfYH0qOKaR6XAAV/J2jYrFfOhu8zj4ZrnoN7wC6Oul+TeLLg9AqrcAQR9jxA5Lm7MxKVcOnxz31xRAR6ywIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig-update.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-31T09:28:37.080624377Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.780083ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/186a2dd5-9aba-41e8-a743-498831ee7bde
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T09:28:37.065293Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyfEOtM0UyPnPcGurU+deaJQgUJ2d3rgMN+NX+Sqn4u2CwkOPGsd65cDi/xYYBte[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/186a2dd5-9aba-41e8-a743-498831ee7bde/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T09:28:37.065293Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/186a2dd5-9aba-41e8-a743-498831ee7bde
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"186a2dd5-9aba-41e8-a743-498831ee7bde","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 88.188125ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-31T09:28:55Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.518542ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig-update.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.848375ms
[...]
