---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-timeout.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.157583ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-timeout","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-timeout","updated_at":"2026-03-27T15:43:26Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 471.4895ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-timeout.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:43:27.199662Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxNvy2DgKD26rNNfOwmcGcY0cy0BDf9re+38GwJWiSofyAquTRxWsZln4tDABUpngW+suM8kJNomSarQt9TNcM71ixmNEYAwKDodQjDWyaf1jJI5SUAv0GmUCWzSaah6vr3oHub2x3x9GCch7HpmZSAw9XD8z6rmYjOfWgCX377Gp2It2z4WZpMQQ0XK+owR2dJ2gBTD6/ODo4CzF0ChQAsp+79BC0JTxK6lFMCPO+oBHpw+9H1KDEgTL1+r0r5p7969En2IswjYCn3CPeRPBPPNXv35ESfgxZ2InmFpEMPzIZPuaDA5g69g83xlN07ZIs6nUs7f6LHWQNclQRGxNNwIDAQAB","id":"66f7622c-6fe6-4148-a56f-c43511bb0584","last_error":null,"last_valid_at":null,"name":"validation-timeout.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.validation-timeout.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxNvy2DgKD26rNNfOwmcGcY0cy0BDf9re+38GwJWiSofyAquTRxWsZln4tDABUpngW+suM8kJNomSarQt9TNcM71ixmNEYAwKDodQjDWyaf1jJI5SUAv0GmUCWzSaah6vr3oHub2x3x9GCch7HpmZSAw9XD8z6rmYjOfWgCX377Gp2It2z4WZpMQQ0XK+owR2dJ2gBTD6/ODo4CzF0ChQAsp+79BC0JTxK6lFMCPO+oBHpw+9H1KDEgTL1+r0r5p7969En2IswjYCn3CPeRPBPPNXv35ESfgxZ2InmFpEMPzIZPuaDA5g69g83xlN07ZIs6nUs7f6LHWQNclQRGxNNwIDAQAB"},"dmarc":{"name":"_dmarc.validation-timeout.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"validation-timeout.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"validation-timeout.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-27T15:43:27.354192831Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 545.772084ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/66f7622c-6fe6-4148-a56f-c43511bb0584
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:43:27.199662Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxNvy2DgKD26rNNfOwmcGcY0cy0BDf9re+38GwJWiSofyAquTRxWsZln4tDABUpn[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/66f7622c-6fe6-4148-a56f-c43511bb0584/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:43:27.199662Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/66f7622c-6fe6-4148-a56f-c43511bb0584/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:43:27.199662Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/66f7622c-6fe6-4148-a56f-c43511bb0584
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"66f7622c-6fe6-4148-a56f-c43511bb0584","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.235791ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-timeout.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-timeout","updated_at":"2026-03-27T15:43:26Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.384375ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-timeout.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.025291ms
[...]
