---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-autoconfig.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 232.920772ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:14:08Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 317.116018ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"domain_name\":\"test-autoconfig.scaleway-terraform.com\",\"accept_tos\":true,\"autoconfig\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"6a1db1a4-0509-4383-a431-f61424f16ce8\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-autoconfig.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T12:14:13.100187Z\",\"next_check_at\":\"2025-09-01T12:14:13.050967Z\",\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0mrVAqcuDmYRmfbq/SkL/9QJjgwM6slC9DNf72yR8D3snWxzkIfNViYOgFh9V3Wtq0avlRqqW/KPqgm3pJv+1stvVMfYCLxZJujub2PvC9lO0JqzoYZL/Wi78gvDrUnvt/xNi64s+/hIvLYjk3GPwHOlOtgOTJ7aYMDRxa/cDHHZyd4j6B+5Cuy1/GJNHH5of2RpQ8FMM1Ubj6yYBRWH94qX723Ye5HIUBMS34e8O3RavB2xl5x4BSb78UOFiqBZsojZPRrBjBrAJPA2P3BM5gl3PuRrMgUzSq2G2j0l0dU0s35xqB6SUGXZD4XWEt8ibebYWNM1uUojr/6oNHHRgQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T12:14:13.110429760Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.test-autoconfig\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.957091546s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6a1db1a4-0509-4383-a431-f61424f16ce8
    method: GET
  response:
    body: "{\"id\":\"6a1db1a4-0509-4383-a431-f61424f16ce8\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-autoconfig.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T12[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6a1db1a4-0509-4383-a431-f61424f16ce8/check
    method: POST
  response:
    body: "{\"id\":\"6a1db1a4-0509-4383-a431-f61424f16ce8\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-autoconfig.scaleway-terraform.[...]
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - test-autoconfig.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:14:40Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.980906ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6a1db1a4-0509-4383-a431-f61424f16ce8/revoke
    method: POST
  response:
    body: "{\"id\":\"6a1db1a4-0509-4383-a431-f61424f16ce8\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-autoconfig.scaleway-terraform.com\",\"status\":\"revoked\",\"created_at\":\"2025-09-01T12:14:13.100187Z\",\"next_check_at\":null,\"last_valid_at\":\"2025-09-01T12:14:43.130145Z\",\"revoked_at\":\"2025-09-01T12:14:57.152823963Z\",\"last_error\":null,\"spf_config\":\"\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0mrVAqcuDmYRmfbq/SkL/9QJjgwM6slC9DNf72yR8D3snWxzkIfNViYOgFh9V3Wtq0avlRqqW/KPqgm3pJv+1stvVMfYCLxZJujub2PvC9lO0JqzoYZL/Wi78gvDrUnvt/xNi64s+/hIvLYjk3GPwHOlOtgOTJ7aYMDRxa/cDHHZyd4j6B+5Cuy1/GJNHH5of2RpQ8FMM1Ubj6yYBRWH94qX723Ye5HIUBMS34e8O3RavB2xl5x4BSb78UOFiqBZsojZPRrBjBrAJPA2P3BM5gl3PuRrMgUzSq2G2j0l0dU0s35xqB6SUGXZD4XWEt8ibebYWNM1uUojr/6oNHHRgQIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":null,\"records\":null,\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.313202ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6a1db1a4-0509-4383-a431-f61424f16ce8
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"domain\",\"resource_id\":\"6a1db1a4-0509-4383-a431-f61424f16ce8\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 73.390127ms
- id: 23
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - test-autoconfig.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"test-autoconfig\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:14:40Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.370199ms
- id: 24
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.710976ms
[...]
