---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.473875ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-31T04:12:31Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.905ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-31T04:12:36.747791Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4vOvfApCuxU5y9sXKQYFIeoHLIwiZCobLzZOcRoPan5DVzAq/E+wiw1J4LDW0Q/zBGVKxabuzZiU+4DLFqfDMVk3qj/R4ncWdpH/noIDDP5zW+Bwu+Q13R+Fszs5gPayztlhh50a4Y9BTXk5Oa08gcQ2GG5gh6oggZR/dF4+eYkpalLIU6DyH/5VGoa5WnQkPdH3iHRARjbjvxYG3lxtV2edwBnZxf/YxnfdL0JfgJbNAdn1LStqLa1XtIS9nv3QgUl6dPdtRGBs20Dv0ujvl/UFXjkIWxK+Rg692pvyeAOgdROydEe9P1qXCrbe1KNdtquuVCPa8QeB7VmuPXoZmQIDAQAB","id":"eeb34c1a-5298-446c-9ec7-d99c9be5e335","last_error":null,"last_valid_at":null,"name":"test-autoconfig.scaleway-terraform.com","next_check_at":"2026-03-31T04:12:36.670831Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4vOvfApCuxU5y9sXKQYFIeoHLIwiZCobLzZOcRoPan5DVzAq/E+wiw1J4LDW0Q/zBGVKxabuzZiU+4DLFqfDMVk3qj/R4ncWdpH/noIDDP5zW+Bwu+Q13R+Fszs5gPayztlhh50a4Y9BTXk5Oa08gcQ2GG5gh6oggZR/dF4+eYkpalLIU6DyH/5VGoa5WnQkPdH3iHRARjbjvxYG3lxtV2edwBnZxf/YxnfdL0JfgJbNAdn1LStqLa1XtIS9nv3QgUl6dPdtRGBs20Dv0ujvl/UFXjkIWxK+Rg692pvyeAOgdROydEe9P1qXCrbe1KNdtquuVCPa8QeB7VmuPXoZmQIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-31T04:12:36.821910371Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.918438208s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/eeb34c1a-5298-446c-9ec7-d99c9be5e335
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-31T04:12:36.747791Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4vOvfApCuxU5y9sXKQYFIeoHLIwiZCobLzZOcRoPan5DVzAq/E+wiw1J4LDW0Q/z[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/eeb34c1a-5298-446c-9ec7-d99c9be5e335/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T04:12:36.747791Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/eeb34c1a-5298-446c-9ec7-d99c9be5e335/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T04:12:36.747791Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/eeb34c1a-5298-446c-9ec7-d99c9be5e335
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"eeb34c1a-5298-446c-9ec7-d99c9be5e335","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.102333ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-31T04:12:49Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.940459ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.374625ms
[...]
