---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.474667ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-validation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-31T04:12:31Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.69625ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-validation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-31T04:12:36.160929Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApDxS/ONCn59xzAr/AxutIkRoXMeK2A6yRMn6Bpe/elbivT4LaIMoDn9yifTMRhCn1vv9KkrxHll1mpxaVWKq3l4RhANgi1YzVObujG13vSfB6Rts8JFAEE575+bcSgqhRDgITb6UprTVs4hBEZGC+6uurpK5fXAB1bjI0wJqFvNNRyVjsgItgXnZYaz/QnU8Z54EVBwXoLt9leJuicuF1F4S0BHFHeyyYoiCBxZDtyeQ29LLz0x1hHXzg04Z2NPsrci494Q86XUaNKZZxCqAmVY72wwz38jEqM/X75O5IBEk+ZFE6ypR95FSYrMVDHPR86yRjPG1nFiDRQQrQUaYXQIDAQAB","id":"35f1a3a6-f045-4e99-a38a-b9317c97ccaf","last_error":null,"last_valid_at":null,"name":"validation-validation.scaleway-terraform.com","next_check_at":"2026-03-31T04:12:36.113149Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.validation-validation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApDxS/ONCn59xzAr/AxutIkRoXMeK2A6yRMn6Bpe/elbivT4LaIMoDn9yifTMRhCn1vv9KkrxHll1mpxaVWKq3l4RhANgi1YzVObujG13vSfB6Rts8JFAEE575+bcSgqhRDgITb6UprTVs4hBEZGC+6uurpK5fXAB1bjI0wJqFvNNRyVjsgItgXnZYaz/QnU8Z54EVBwXoLt9leJuicuF1F4S0BHFHeyyYoiCBxZDtyeQ29LLz0x1hHXzg04Z2NPsrci494Q86XUaNKZZxCqAmVY72wwz38jEqM/X75O5IBEk+ZFE6ypR95FSYrMVDHPR86yRjPG1nFiDRQQrQUaYXQIDAQAB"},"dmarc":{"name":"_dmarc.validation-validation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"validation-validation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"validation-validation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-31T04:12:36.250275495Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.377308333s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/35f1a3a6-f045-4e99-a38a-b9317c97ccaf
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-31T04:12:36.160929Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApDxS/ONCn59xzAr/AxutIkRoXMeK2A6yRMn6Bpe/elbivT4LaIMoDn9yifTMRhCn[...]
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/35f1a3a6-f045-4e99-a38a-b9317c97ccaf/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T04:12:36.160929Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/35f1a3a6-f045-4e99-a38a-b9317c97ccaf/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-31T04:12:36.160929Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/35f1a3a6-f045-4e99-a38a-b9317c97ccaf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"35f1a3a6-f045-4e99-a38a-b9317c97ccaf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.120667ms
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-31T04:32:59Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.342625ms
    - id: 102
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-validation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.460584ms
[...]
