---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.752791ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2025-09-30T05:37:33Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.8655ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2025-09-30T05:37:37.828680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvJQ7Ih6yQH7ex4lcVpKz/f/Y9zF0ccz2kb519xx2XCGEXqqecvJbn+FZ750+ii+4G+sA2dRYYVmT5FiAfZMWWcL4flYWTrVWUH9gRaBr87j+J91SVhTjYatJPcLdRSo5ZmxYP9vhlZ+ML9sjiGdVhjJGyWGB6HZwC65hkAkcHHWQuE/pKsSD0ZqCglkqffw75VyisReH4LQ7vCcRryJ4V1wveJqHofmCjdnfq3RGpqilheFBx1HYiwktD3kZwsUJdnOGr5vh2c0ok57WMoR+OgF5pzpUwIvhJ3OsHBw9VIhoVBAfc45HKVrfTQR+Ydsb38/9sjNlKEzo0t0CVAl7FQIDAQAB","id":"146d12a7-81f5-4426-9cb1-d260f5ab5a97","last_error":null,"last_valid_at":null,"name":"test-autoconfig.scaleway-terraform.com","next_check_at":"2025-09-30T05:37:37.769807Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvJQ7Ih6yQH7ex4lcVpKz/f/Y9zF0ccz2kb519xx2XCGEXqqecvJbn+FZ750+ii+4G+sA2dRYYVmT5FiAfZMWWcL4flYWTrVWUH9gRaBr87j+J91SVhTjYatJPcLdRSo5ZmxYP9vhlZ+ML9sjiGdVhjJGyWGB6HZwC65hkAkcHHWQuE/pKsSD0ZqCglkqffw75VyisReH4LQ7vCcRryJ4V1wveJqHofmCjdnfq3RGpqilheFBx1HYiwktD3kZwsUJdnOGr5vh2c0ok57WMoR+OgF5pzpUwIvhJ3OsHBw9VIhoVBAfc45HKVrfTQR+Ydsb38/9sjNlKEzo0t0CVAl7FQIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig.scaleway-terraform.com.","value":"v=spf1 include:test-autoconfig.scaleway-terraform.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-09-30T05:37:37.841887954Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.843001125s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/146d12a7-81f5-4426-9cb1-d260f5ab5a97
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2025-09-30T05:37:37.828680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvJQ7Ih6yQH7ex4lcVpKz/f/Y9zF0ccz2kb519xx2XCGEXqqecvJbn+FZ750+ii+4[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/146d12a7-81f5-4426-9cb1-d260f5ab5a97/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-09-30T05:37:37.828680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2025-09-30T05:38:39Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.588834ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/146d12a7-81f5-4426-9cb1-d260f5ab5a97/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-09-30T05:37:37.828680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/146d12a7-81f5-4426-9cb1-d260f5ab5a97
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"146d12a7-81f5-4426-9cb1-d260f5ab5a97","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 165.160459ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2025-09-30T05:38:39Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.656ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.072584ms
[...]
