---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.005955917s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-validation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2025-03-25T15:09:32Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 486.5595ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-validation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2025-03-25T15:09:36.185391Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyTDkmkosIyP8avKmb8sjXT9S+Mf9KAgy2n3wuoGqNIIbOiIXX7R1GMe5tyY8KzTd+djDnngDtmtirJRiNFVjToc5Dg+BBUUWraGvvsRjwKFZmIIhclIqr6QVHIf0/jL550U7gtspMaz9UgKZhTriskwZqIQNhvWdTC8re9H63zZDsXWeYy/k4MY7pQi0BvVNCghUyuxK5tSukllplA8gMv2P39ND3fKsh7ePRaIYKiReIWENrdLu2G9cqhRyqQUeBO35D/YlenJpXi2ZxQoEM8aowhy5yrW2km4kxS5MqbPh+9TurwBMELfz9n51Q2yoQ/kGivtfljLPosUK+I3zwQIDAQAB","id":"935276fb-514c-4b96-a7c6-0a1c48dc54bb","last_error":null,"last_valid_at":null,"name":"validation-validation.scaleway-terraform.com","next_check_at":"2025-03-25T15:09:36.154380Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.validation-validation","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-03-25T15:09:36.256854623Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.67305975s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/935276fb-514c-4b96-a7c6-0a1c48dc54bb
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2025-03-25T15:09:36.185391Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyTDkmkosIyP8avKmb8sjXT9S+Mf9KAgy2n3wuoGqNIIbOiIXX7R1GMe5tyY8KzTd[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/935276fb-514c-4b96-a7c6-0a1c48dc54bb/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T15:09:36.185391Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2025-03-25T15:10:32Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.230167ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/935276fb-514c-4b96-a7c6-0a1c48dc54bb/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T15:09:36.185391Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2025-03-25T15:10:32Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.64175ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-validation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.171875ms
[...]
