---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-timeout.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.029209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-timeout","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-timeout","updated_at":"2025-03-25T14:53:56Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.36275ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-timeout.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T14:53:56.854005Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5Y5S6GW/Qcmp57U/CWpLDLoZ8UDGUcwh1U6snm3Su2+iatdrY7DYKEg71rZiaRpPCoFP/3ZSHqCED1ko5Ms0ipW52kHaP2cis5rihMET8UahK3K6lURTnLuTZYBfkEc1NJ1sGRBWAZf48rJ/jV8U1o8Y6njWnIPJoJ3IjX/mGsu4Bj4zZD5r15CAt8YAmn3pOE9I/TL+upVbrM+Lk+vnvdB8WIaAmcslwHvRy4KFT5N/2KuMGwBQyis1ilXQlMHqCfC7y/6Y3jlmrK3yrQatt0G6q3NrENd2t6i23TIJfzA+qCVNW+qCT1mh79HbtAnxkHhItMle5O+g4qL6xllazQIDAQAB","id":"babee695-4200-44d7-82f4-bccb1e56333a","last_error":null,"last_valid_at":null,"name":"validation-timeout.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.validation-timeout","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-03-25T14:53:56.909383641Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 682.845917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/babee695-4200-44d7-82f4-bccb1e56333a
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T14:53:56.854005Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5Y5S6GW/Qcmp57U/CWpLDLoZ8UDGUcwh1U6snm3Su2+iatdrY7DYKEg71rZiaRp[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/babee695-4200-44d7-82f4-bccb1e56333a/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T14:53:56.854005Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/babee695-4200-44d7-82f4-bccb1e56333a/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-03-25T14:53:56.854005Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5Y5S6GW/Qcmp57U/CWpLDLoZ8UDGUcwh1U6snm3Su2+iatdrY7DYKEg71rZiaRpPCoFP/3ZSHqCED1ko5Ms0ipW52kHaP2cis5rihMET8UahK3K6lURTnLuTZYBfkEc1NJ1sGRBWAZf48rJ/jV8U1o8Y6njWnIPJoJ3IjX/mGsu4Bj4zZD5r15CAt8YAmn3pOE9I/TL+upVbrM+Lk+vnvdB8WIaAmcslwHvRy4KFT5N/2KuMGwBQyis1ilXQlMHqCfC7y/6Y3jlmrK3yrQatt0G6q3NrENd2t6i23TIJfzA+qCVNW+qCT1mh79HbtAnxkHhItMle5O+g4qL6xllazQIDAQAB","id":"babee695-4200-44d7-82f4-bccb1e56333a","last_error":null,"last_valid_at":null,"name":"validation-timeout.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":null,"region":"fr-par","reputation":null,"revoked_at":"2025-03-25T14:54:07.892173076Z","spf_config":"","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"revoked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.924625ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-timeout.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-timeout","updated_at":"2025-03-25T14:54:03Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.23425ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-timeout.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.021292ms
[...]
