---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.783583ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-validation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-26T12:56:39Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.285458ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-validation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-26T12:56:43.945984Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwz67ZM8crr2Ld7RcjxEbtjc2oWtzLR1HPRAnkeSlzbhfVkLpdUamFdMav3V0vW7fKnGPynvnDpwss68ulul+ccQ5o9c2kUcpjks1ZuqJpvFaNxnPX9z6IAMp/maYCR6hsTggAmizON2ZtnpsJ6Pjqz1ksvHIAXEha6VnbJCwFC5mmt7IFHTiMIQDsn7FgHaYdOjPDb4SA5heT+4pyv+g40XM8lgPNZnyxoqO9zGUOFyFXtmTig7WQxnoXqx4f2zrUh191rYPKGrVxBIXehDY9QUkbWedT7pb19I5Ux3Ix6OSS3qlha1bJU0AhJ5p2zQC7xrXA2JF/GTJbNVRHsy+rQIDAQAB","id":"7640d1d3-b9cc-4920-95e4-c15e5164d069","last_error":null,"last_valid_at":null,"name":"validation-validation.scaleway-terraform.com","next_check_at":"2026-03-26T12:56:43.884544Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.validation-validation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwz67ZM8crr2Ld7RcjxEbtjc2oWtzLR1HPRAnkeSlzbhfVkLpdUamFdMav3V0vW7fKnGPynvnDpwss68ulul+ccQ5o9c2kUcpjks1ZuqJpvFaNxnPX9z6IAMp/maYCR6hsTggAmizON2ZtnpsJ6Pjqz1ksvHIAXEha6VnbJCwFC5mmt7IFHTiMIQDsn7FgHaYdOjPDb4SA5heT+4pyv+g40XM8lgPNZnyxoqO9zGUOFyFXtmTig7WQxnoXqx4f2zrUh191rYPKGrVxBIXehDY9QUkbWedT7pb19I5Ux3Ix6OSS3qlha1bJU0AhJ5p2zQC7xrXA2JF/GTJbNVRHsy+rQIDAQAB"},"dmarc":{"name":"_dmarc.validation-validation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"validation-validation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"validation-validation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-26T12:56:44.013306553Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.88127s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/7640d1d3-b9cc-4920-95e4-c15e5164d069
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-26T12:56:43.945984Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwz67ZM8crr2Ld7RcjxEbtjc2oWtzLR1HPRAnkeSlzbhfVkLpdUamFdMav3V0vW7f[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/7640d1d3-b9cc-4920-95e4-c15e5164d069/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-26T12:56:43.945984Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-26T12:57:49Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.259542ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/7640d1d3-b9cc-4920-95e4-c15e5164d069/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-26T12:56:43.945984Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-26T12:57:49Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.0925ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-validation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.060792ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/7640d1d3-b9cc-4920-95e4-c15e5164d069
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"7640d1d3-b9cc-4920-95e4-c15e5164d069","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.214252083s
