---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.979792ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-30T13:40:57Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 453.597375ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-30T13:41:01.404372Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyS+9fqxS2lMchVm75/8qtuFKzJoZ8q3f1n4IcKwEdxMIKkndhih2Gcj9gLNLRlAX6UoyU9TT03/2/VhAyXvaCSuESUDhmJQz7xxd3o7cHJNiaDDIGf/7t6vnUPQL+VjizNpMCJLzxz7bD7Aejrl4MYXjdntKyXv2el7kcwSGdtxZuGjhSZ2Qgr8B4qcCTkj/OLgkiCQ1xoA19baI/tXlT/bY+xp5jJ2wMdPRAmT9eXRUJdRxNNH9PjqSYkLzSL2QHPLn2YbMSBNGENHQZbPWrx/5sqtO1MYqYgmOJYTqdFAQW3V9450N1nEP5eI/84p2hKGYziY6vIhJd+pO9utajwIDAQAB","id":"f37adbbe-1715-442d-8658-97cbd6c201d9","last_error":null,"last_valid_at":null,"name":"test-autoconfig.scaleway-terraform.com","next_check_at":"2026-03-30T13:41:01.330134Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyS+9fqxS2lMchVm75/8qtuFKzJoZ8q3f1n4IcKwEdxMIKkndhih2Gcj9gLNLRlAX6UoyU9TT03/2/VhAyXvaCSuESUDhmJQz7xxd3o7cHJNiaDDIGf/7t6vnUPQL+VjizNpMCJLzxz7bD7Aejrl4MYXjdntKyXv2el7kcwSGdtxZuGjhSZ2Qgr8B4qcCTkj/OLgkiCQ1xoA19baI/tXlT/bY+xp5jJ2wMdPRAmT9eXRUJdRxNNH9PjqSYkLzSL2QHPLn2YbMSBNGENHQZbPWrx/5sqtO1MYqYgmOJYTqdFAQW3V9450N1nEP5eI/84p2hKGYziY6vIhJd+pO9utajwIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-30T13:41:01.421161212Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.9366425s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f37adbbe-1715-442d-8658-97cbd6c201d9
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-30T13:41:01.404372Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyS+9fqxS2lMchVm75/8qtuFKzJoZ8q3f1n4IcKwEdxMIKkndhih2Gcj9gLNLRlAX[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f37adbbe-1715-442d-8658-97cbd6c201d9/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-30T13:41:01.404372Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-30T13:41:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.664084ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f37adbbe-1715-442d-8658-97cbd6c201d9/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-30T13:41:01.404372Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-30T13:41:12Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.83125ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.877291ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/f37adbbe-1715-442d-8658-97cbd6c201d9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"f37adbbe-1715-442d-8658-97cbd6c201d9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.180513875s
