---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.631601ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2024-09-20T13:01:00Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.686582ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2024-09-20T13:01:01.727002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtv9F8ZR5UineByDBLwT77/Sk5cQSPW4m/0euQIG60zOImK1M/vYKa6/Fh3b5HMj+XPSH5be8GLQlYq1cxcZ28seoiritvkMlNdhNGav6CXZMLTc6wHRoeXRUTQFdiUo70mH0Jip9d2pytRaz7e2aIzDFNWvjoOMsnCAwjHU7FIym/0ihgsJ97eOAkyne2w3DVLMCySF1PCAO1iUMNzdOIrDI9VttC1bwvO+Gxc3PvM6DwZLKH/xzQwui9wMv7GPT+bxIXmBB5xu8ufRlNCIfqPWezUGLub1Zon6PmhNRYvN9tw1FieMgCEj+A5CZRXNBSWX9ZwVRcBvBfe4q2L1ykwIDAQAB","id":"408fcb88-9e13-4522-8944-a4dba9f070ad","last_error":null,"last_valid_at":null,"name":"test-autoconfig.scaleway-terraform.com","next_check_at":"2024-09-20T13:01:01.718838Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.test-autoconfig","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-09-20T13:01:01.785445309Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.436044ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/408fcb88-9e13-4522-8944-a4dba9f070ad
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2024-09-20T13:01:01.727002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtv9F8ZR5UineByDBLwT77/Sk5cQSPW4m/0euQIG60zOImK1M/vYKa6/Fh3b5HMj+[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/408fcb88-9e13-4522-8944-a4dba9f070ad/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:01.727002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2024-09-20T13:01:39Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.085821ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/408fcb88-9e13-4522-8944-a4dba9f070ad/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:01.727002Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2024-09-20T13:01:39Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.102965ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.866254ms
[...]
