---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.4745ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-validation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-27T15:39:12Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.203208ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-validation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-27T15:39:16.012081Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyvKX7hLN49kDGWyI0VJfURfDmps8Qbz0XYLIKBihS6GFZj0oR7yokH8O2L8V/gQ4GNtxZQPC7eO4IaTRYE2nOQHqK0HwFhurVN1NllZbfQEYgl8msZYfRmyaoB56H7axxPA/WdRfmAiCGmJKoAKTkLyuWJF9PfA5JXmZqmI0ltca9yifBFW0qHzSAVbSH8ZplW03qrKgjO3vkOduoefA7jKLLEoMsp3va5+6MwLhriovqvBgIgMWDPcpE5YWaRPfAxrNTDx+vvEUTFT8Loy6zn0zR8pRJeUPE1NE9lt8vDKzrP8CR9NkVsYuYCXgwbJNC5stople9f0KDHukz/r4OwIDAQAB","id":"4eb928fd-1aed-41bb-bcec-2f63b3c66f1e","last_error":null,"last_valid_at":null,"name":"validation-validation.scaleway-terraform.com","next_check_at":"2026-03-27T15:39:15.891356Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.validation-validation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyvKX7hLN49kDGWyI0VJfURfDmps8Qbz0XYLIKBihS6GFZj0oR7yokH8O2L8V/gQ4GNtxZQPC7eO4IaTRYE2nOQHqK0HwFhurVN1NllZbfQEYgl8msZYfRmyaoB56H7axxPA/WdRfmAiCGmJKoAKTkLyuWJF9PfA5JXmZqmI0ltca9yifBFW0qHzSAVbSH8ZplW03qrKgjO3vkOduoefA7jKLLEoMsp3va5+6MwLhriovqvBgIgMWDPcpE5YWaRPfAxrNTDx+vvEUTFT8Loy6zn0zR8pRJeUPE1NE9lt8vDKzrP8CR9NkVsYuYCXgwbJNC5stople9f0KDHukz/r4OwIDAQAB"},"dmarc":{"name":"_dmarc.validation-validation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"validation-validation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"validation-validation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-27T15:39:16.228548488Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.633173709s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4eb928fd-1aed-41bb-bcec-2f63b3c66f1e
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-27T15:39:16.012081Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyvKX7hLN49kDGWyI0VJfURfDmps8Qbz0XYLIKBihS6GFZj0oR7yokH8O2L8V/gQ4[...]
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4eb928fd-1aed-41bb-bcec-2f63b3c66f1e/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:39:16.012081Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-27T15:49:38Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.787375ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4eb928fd-1aed-41bb-bcec-2f63b3c66f1e/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-27T15:39:16.012081Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4eb928fd-1aed-41bb-bcec-2f63b3c66f1e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"4eb928fd-1aed-41bb-bcec-2f63b3c66f1e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.157253958s
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-27T15:49:38Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.57475ms
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-validation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.426667ms
[...]
