---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.426508ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2024-09-20T13:00:59Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 554.894449ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig-update.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:00.887395Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmcJ//yJ4qReseFox0KnIDsUl2jUuY8u4WNhxd68i/MFMw/HkRx9G1XgaAe7XJLD+J9C+ye4guHVOs1ZAyAW4oijrgC3JwqNHHY/8LqjINavzufI5SHEMi240t8Jw6Yb6vUtjNEahUa3k8mWTVf6iYeJYkVDN48Mf2gynS/7L/pxnASfQ50lou5YBVXY95bBZQGIjBZ0y2LUVtKcAQYjliIFv56Piddyxud+j7x/RCdDLf3hiYsyEO9QKldWJDkrrNCPI3b2Qt4y0ZQ9koJX4s3Ez9W7HJYwSTkh9EvWqQLm9rWgB9ExrD6nTLXA5rwpEc8F4uhnWE48GawtN2ht28QIDAQAB","id":"0face844-f42e-4006-b0d9-79333c3dfe7f","last_error":null,"last_valid_at":null,"name":"test-autoconfig-update.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.test-autoconfig-update","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-09-20T13:01:00.957990874Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 460.481284ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/0face844-f42e-4006-b0d9-79333c3dfe7f
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:00.887395Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmcJ//yJ4qReseFox0KnIDsUl2jUuY8u4WNhxd68i/MFMw/HkRx9G1XgaAe7XJLD[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2024-09-20T13:00:59Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.322345ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/0face844-f42e-4006-b0d9-79333c3dfe7f/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:00.887395Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmcJ//yJ4qReseFox0KnIDsUl2jUuY8u4WNhxd68i/MFMw/HkRx9G1XgaAe7XJLD+J9C+ye4guHVOs1ZAyAW4oijrgC3JwqNHHY/8LqjINavzufI5SHEMi240t8Jw6Yb6vUtjNEahUa3k8mWTVf6iYeJYkVDN48Mf2gynS/7L/pxnASfQ50lou5YBVXY95bBZQGIjBZ0y2LUVtKcAQYjliIFv56Piddyxud+j7x/RCdDLf3hiYsyEO9QKldWJDkrrNCPI3b2Qt4y0ZQ9koJX4s3Ez9W7HJYwSTkh9EvWqQLm9rWgB9ExrD6nTLXA5rwpEc8F4uhnWE48GawtN2ht28QIDAQAB","id":"0face844-f42e-4006-b0d9-79333c3dfe7f","last_error":null,"last_valid_at":null,"name":"test-autoconfig-update.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":null,"region":"fr-par","reputation":null,"revoked_at":"2024-09-20T13:01:05.142078854Z","spf_config":"","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"revoked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 738.951458ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2024-09-20T13:00:59Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.799687ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig-update.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.907359ms
[...]
