---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - validation-validation.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 233.482184ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"validation-validation\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"validation-validation\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:17:55Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 300.03583ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"domain_name\":\"validation-validation.scaleway-terraform.com\",\"accept_tos\":true,\"autoconfig\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"569ef9c4-79da-4063-a594-18cbaabbace1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-validation.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T12:17:59.116466Z\",\"next_check_at\":\"2025-09-01T12:17:59.047993Z\",\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxSnrqAoMGs4ugGLpBaT1cGPVzriqeK+TGEOnJD/ZKkv4CDRAaH82iT2v7LXFEQ3pjul6iuNV7EThNvJEENOhKRdVLu6q5PzpvnGeJhdiJ3B+T3YJlEblo26nnZqRrC55TV0ErdheZxHgpuJMTWFLXSOIHlBoez7t4PnLYUs772k4B5x/OhYuWbGMqPcKQWW1+BX6p6YgKTY9hrKYK6QMlxZ1VpEUBHYa7aSAI0fAuIJNupf3xYEC+K5HunVWhzFE5qqamzsV3SAixRcASFVrrPisxWz9rSDGp6L5cQLeHqB0WiJwhTMnqsa8a9qHxSDziY8ZMEh9SHi/5DZbeWba+QIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T12:17:59.206237354Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.validation-validation\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.757457692s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/569ef9c4-79da-4063-a594-18cbaabbace1
    method: GET
  response:
    body: "{\"id\":\"569ef9c4-79da-4063-a594-18cbaabbace1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-validation.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/569ef9c4-79da-4063-a594-18cbaabbace1/check
    method: POST
  response:
    body: "{\"id\":\"569ef9c4-79da-4063-a594-18cbaabbace1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-validation.scaleway-terr[...]
[...]
- id: 18
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - validation-validation.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"validation-validation\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:18:49Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.441885ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/569ef9c4-79da-4063-a594-18cbaabbace1/revoke
    method: POST
  response:
    body: "{\"id\":\"569ef9c4-79da-4063-a594-18cbaabbace1\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"validation-validation.scaleway-terraform.com\",\"status\":\"revoked\",\"created_at\":\"2025-09-01T12:17:59.116466Z\",\"next_check_at\":null,\"last_valid_at\":\"2025-09-01T12:18:49.864955Z\",\"revoked_at\":\"2025-09-01T12:19:04.338457613Z\",\"last_error\":null,\"spf_config\":\"\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxSnrqAoMGs4ugGLpBaT1cGPVzriqeK+TGEOnJD/ZKkv4CDRAaH82iT2v7LXFEQ3pjul6iuNV7EThNvJEENOhKRdVLu6q5PzpvnGeJhdiJ3B+T3YJlEblo26nnZqRrC55TV0ErdheZxHgpuJMTWFLXSOIHlBoez7t4PnLYUs772k4B5x/OhYuWbGMqPcKQWW1+BX6p6YgKTY9hrKYK6QMlxZ1VpEUBHYa7aSAI0fAuIJNupf3xYEC+K5HunVWhzFE5qqamzsV3SAixRcASFVrrPisxWz9rSDGp6L5cQLeHqB0WiJwhTMnqsa8a9qHxSDziY8ZMEh9SHi/5DZbeWba+QIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":null,\"records\":null,\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.446529ms
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/569ef9c4-79da-4063-a594-18cbaabbace1
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"domain\",\"resource_id\":\"569ef9c4-79da-4063-a594-18cbaabbace1\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 589.811295ms
- id: 24
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - validation-validation.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"validation-validation\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T12:18:49Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.678521ms
- id: 25
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-validation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.046487ms
[...]
