---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"message":"authentication is denied","method":"api_key","reason":"not_found","type":"denied_authentication"}'
        headers:
            Content-Type:
                - application/json
        status: 401 Unauthorized
        code: 401
        duration: 283.390084ms
