---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-validation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.176833ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-validation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-validation","updated_at":"2026-03-24T07:16:44Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.262ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-validation.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:16:47.920305Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuQKgr4n5glFVyU9sIPdM3RC0oUTLxu/5Ai3Igu7b9Nd9jdJcX2E1A0GNLBdnVc2StjXMTqfxA7iZtTLlavtThuqn611ZvZujtdTtILrFUlgfq8sunCr2tucUMlz47hK6LsrECn0ryT9P6cl4/0OJq9Lq6g8QPekHssPEDwhnkn4msqnb1aqGNuiet31RZSLG3xDrlbwy62hB5dpeaA4NTNZpDg2qg/5qUq4NQnCOIMUW48GfAjxzkzHa4uyxAzOPzOmoTBxnHlU4FYAdLFO95Tea2y4U3oMII/s2KKo2duj4poMgLtz6/1b1KeXnB+uIRzHmSq/8MMb0faNFywJBRwIDAQAB","id":"87e5df1a-27ff-48f3-953f-0c6206f79431","last_error":null,"last_valid_at":null,"name":"validation-validation.scaleway-terraform.com","next_check_at":"2026-03-24T07:16:47.818753Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.validation-validation.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuQKgr4n5glFVyU9sIPdM3RC0oUTLxu/5Ai3Igu7b9Nd9jdJcX2E1A0GNLBdnVc2StjXMTqfxA7iZtTLlavtThuqn611ZvZujtdTtILrFUlgfq8sunCr2tucUMlz47hK6LsrECn0ryT9P6cl4/0OJq9Lq6g8QPekHssPEDwhnkn4msqnb1aqGNuiet31RZSLG3xDrlbwy62hB5dpeaA4NTNZpDg2qg/5qUq4NQnCOIMUW48GfAjxzkzHa4uyxAzOPzOmoTBxnHlU4FYAdLFO95Tea2y4U3oMII/s2KKo2duj4poMgLtz6/1b1KeXnB+uIRzHmSq/8MMb0faNFywJBRwIDAQAB"},"dmarc":{"name":"_dmarc.validation-validation.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"validation-validation.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"validation-validation.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-24T07:16:48.005358924Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.723608375s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/87e5df1a-27ff-48f3-953f-0c6206f79431
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T07:16:47.920305Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuQKgr4n5glFVyU9sIPdM3RC0oUTLxu/5Ai3Igu7b9Nd9jdJcX2E1A0GNLBdnVc2S[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/87e5df1a-27ff-48f3-953f-0c6206f79431/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:16:47.920305Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/87e5df1a-27ff-48f3-953f-0c6206f79431/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T07:16:47.920305Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/87e5df1a-27ff-48f3-953f-0c6206f79431
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"87e5df1a-27ff-48f3-953f-0c6206f79431","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.223122375s
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-validation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.982917ms
[...]
