---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.537334ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-24T08:38:52Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.63625ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig-update.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T08:38:53.006239Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApiQ5wRNNkLbAyIYnY4dwf5Ed0pOMWcxyl7OieyVmMjq7WQwzJLCevi/9n6yAO4EaoFdHg1kBtX8BRm7z1oQiWnGTbUWJMcgirCBz6jlsZnFij5OGP2luv/z0j+26awrWNBZnLzkO5nvgJWdp8JMPie9ZFZB/BjSOrCau4jYI2vSz/6XkZUkNjpklcQhjA4qVTvVlHiJRG0Efv/hFvCzgq45vS3pVOHIJmc0K9MOXYpLd+cKQZyxt1BDMePI8ZHb3EKzLy4z5wdlwTM1j0jOlm7d/J+ZxSrjqUd1iZ/0TeTw4khZ3H5e7QYYcjPWC5aSMIWOKNnbKjgxupz5wOD9a3QIDAQAB","id":"a6055b2a-d700-40aa-9790-83bfa154687b","last_error":null,"last_valid_at":null,"name":"test-autoconfig-update.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig-update.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApiQ5wRNNkLbAyIYnY4dwf5Ed0pOMWcxyl7OieyVmMjq7WQwzJLCevi/9n6yAO4EaoFdHg1kBtX8BRm7z1oQiWnGTbUWJMcgirCBz6jlsZnFij5OGP2luv/z0j+26awrWNBZnLzkO5nvgJWdp8JMPie9ZFZB/BjSOrCau4jYI2vSz/6XkZUkNjpklcQhjA4qVTvVlHiJRG0Efv/hFvCzgq45vS3pVOHIJmc0K9MOXYpLd+cKQZyxt1BDMePI8ZHb3EKzLy4z5wdlwTM1j0jOlm7d/J+ZxSrjqUd1iZ/0TeTw4khZ3H5e7QYYcjPWC5aSMIWOKNnbKjgxupz5wOD9a3QIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig-update.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-24T08:38:53.079587228Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.45825ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a6055b2a-d700-40aa-9790-83bfa154687b
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T08:38:53.006239Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApiQ5wRNNkLbAyIYnY4dwf5Ed0pOMWcxyl7OieyVmMjq7WQwzJLCevi/9n6yAO4E[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-24T08:38:52Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.029666ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a6055b2a-d700-40aa-9790-83bfa154687b/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T08:38:53.006239Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a6055b2a-d700-40aa-9790-83bfa154687b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"a6055b2a-d700-40aa-9790-83bfa154687b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.215493542s
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-24T08:39:11Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.582334ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig-update.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.198208ms
[...]
