---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-no-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.936072ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"validation-no-validation","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-no-validation","updated_at":"2024-09-20T13:01:03Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 499.104823ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"validation-no-validation.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:04.149969Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwqIoOrB1215DYNKmfgBsPI/iup/9AywyjjlNzxZjC1k1d0AcV5Zb/jy+5JGx9AhieaQcCQDod1Ssp5OyuAk7C0MYs2/HMC2oT2FVMMLuT297XvGTbVCU6WObTKMsQMYTvhcUK6805yUKtLAFtkGuNLV6QfbMBcjMIVBzEXkBMeBLM++0+oMX0vxmQEVvdgm2vaLMZ/BEax20tabUfrna16n35rAWPS7vaQEqk2KJ5rnRu/n6BOeT9ZaAqvnHbI/fF9XdoBUZwnpaJ6uI58np8+ArcRtArYyUQEejTijLncN1x8RAWK0Vf7rD/fy/YpuIq19A5nTHaPPZFcHAGNQFwwIDAQAB","id":"6f8385bd-4792-4aad-b5c8-29e3fdf5a4f9","last_error":null,"last_valid_at":null,"name":"validation-no-validation.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.validation-no-validation","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-09-20T13:01:04.290579769Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 472.077169ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6f8385bd-4792-4aad-b5c8-29e3fdf5a4f9
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:04.149969Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwqIoOrB1215DYNKmfgBsPI/iup/9AywyjjlNzxZjC1k1d0AcV5Zb/jy+5JGx9Ah[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6f8385bd-4792-4aad-b5c8-29e3fdf5a4f9/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:04.149969Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=validation-no-validation.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-no-validation","updated_at":"2024-09-20T13:01:03Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.118192ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6f8385bd-4792-4aad-b5c8-29e3fdf5a4f9/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-20T13:01:04.149969Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwqIoOrB1215DYNKmfgBsPI/iup/9AywyjjlNzxZjC1k1d0AcV5Zb/jy+5JGx9AhieaQcCQDod1Ssp5OyuAk7C0MYs2/HMC2oT2FVMMLuT297XvGTbVCU6WObTKMsQMYTvhcUK6805yUKtLAFtkGuNLV6QfbMBcjMIVBzEXkBMeBLM++0+oMX0vxmQEVvdgm2vaLMZ/BEax20tabUfrna16n35rAWPS7vaQEqk2KJ5rnRu/n6BOeT9ZaAqvnHbI/fF9XdoBUZwnpaJ6uI58np8+ArcRtArYyUQEejTijLncN1x8RAWK0Vf7rD/fy/YpuIq19A5nTHaPPZFcHAGNQFwwIDAQAB","id":"6f8385bd-4792-4aad-b5c8-29e3fdf5a4f9","last_error":null,"last_valid_at":null,"name":"validation-no-validation.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":null,"region":"fr-par","reputation":null,"revoked_at":"2024-09-20T13:01:07.808999151Z","spf_config":"","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"revoked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.724009ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=validation-no-validation.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"validation-no-validation","updated_at":"2024-09-20T13:01:03Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.292117ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/validation-no-validation.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 499.634617ms
[...]
