---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.870875ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig-update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-30T04:23:04Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 489.127459ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig-update.scaleway-terraform.com","accept_tos":true,"autoconfig":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-30T04:23:05.360299Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4J/skiHEym6pqQ104zVbCvNs8cvagItkD7+Y2Qd/AlvTJ5hnruA0r7T5EWNZvD4eqtVKZOz2RmwZH1l8XWx+yvOz9iY4eQxQk6/uy8M0ywvIFO8WllFHH+gFt4Wu9KbAFlyvYdsDMdSkjKtGSC5S20LnUGdjrGoSbX/2at+VPYVkvLQimcdTW3wwtUPnHfB7fvl8VG7U1BZ10coaVTn7ItvDpmXOAaR0II94B9t634jkvRedYEiwV5ZF5lrZPRB/eHgUGDXBzDF+kyKNQ0m2Uhi71iue+TTQ5AT6nVnYurWNU4kPk3viQzSudyZ8OgpRHQG+UsF2W0qY9OqxDxVhDwIDAQAB","id":"83b9a512-0aa0-4e95-9f7a-ef21a653b475","last_error":null,"last_valid_at":null,"name":"test-autoconfig-update.scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig-update.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4J/skiHEym6pqQ104zVbCvNs8cvagItkD7+Y2Qd/AlvTJ5hnruA0r7T5EWNZvD4eqtVKZOz2RmwZH1l8XWx+yvOz9iY4eQxQk6/uy8M0ywvIFO8WllFHH+gFt4Wu9KbAFlyvYdsDMdSkjKtGSC5S20LnUGdjrGoSbX/2at+VPYVkvLQimcdTW3wwtUPnHfB7fvl8VG7U1BZ10coaVTn7ItvDpmXOAaR0II94B9t634jkvRedYEiwV5ZF5lrZPRB/eHgUGDXBzDF+kyKNQ0m2Uhi71iue+TTQ5AT6nVnYurWNU4kPk3viQzSudyZ8OgpRHQG+UsF2W0qY9OqxDxVhDwIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig-update.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig-update.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-30T04:23:05.392764680Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.248875ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/83b9a512-0aa0-4e95-9f7a-ef21a653b475
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-30T04:23:05.360299Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4J/skiHEym6pqQ104zVbCvNs8cvagItkD7+Y2Qd/AlvTJ5hnruA0r7T5EWNZvD4[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-30T04:23:04Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.846292ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/83b9a512-0aa0-4e95-9f7a-ef21a653b475/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-30T04:23:05.360299Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/83b9a512-0aa0-4e95-9f7a-ef21a653b475
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"83b9a512-0aa0-4e95-9f7a-ef21a653b475","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.028875ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig-update.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig-update","updated_at":"2026-03-30T04:23:30Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.03175ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig-update.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.715625ms
[...]
