---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.375625ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-autoconfig","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-30T12:35:53Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.354667ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-autoconfig.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-30T12:35:57.663320Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvdeTrwgNtpg6/YN3GSTQrI2/I6B4ibcH2K2xurZc53OV/WVUkmzYd8gKhJS3pn3TWIzl2w/nYw3oRVIas3PjUbC4lAktSjgnLkz87yYHRCX8XG5WdWy9X4y8P9FSUeD0DoJh7yfG83jMbeeN9B02+qgLCYyjjGVobSMueFtfz9CjocFvJ/sApKQMXnBgdM2+t9/SjL78Cq+Y6lscKQhHSbnu8IknYok994lfuOFLfT2ZvH90mn//W3qDDEQGCyh8vx62KWXYU5gs8ETIcSkC9DHmT5j9ZihqrQhoQtznucbCoSAWreMWaQlKaY5wATTu8tirc6G83BZ3qbuAmW3y7QIDAQAB","id":"4d8b25e9-3411-4fa0-aecf-e9aa7c670adf","last_error":null,"last_valid_at":null,"name":"test-autoconfig.scaleway-terraform.com","next_check_at":"2026-03-30T12:35:57.581741Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-autoconfig.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvdeTrwgNtpg6/YN3GSTQrI2/I6B4ibcH2K2xurZc53OV/WVUkmzYd8gKhJS3pn3TWIzl2w/nYw3oRVIas3PjUbC4lAktSjgnLkz87yYHRCX8XG5WdWy9X4y8P9FSUeD0DoJh7yfG83jMbeeN9B02+qgLCYyjjGVobSMueFtfz9CjocFvJ/sApKQMXnBgdM2+t9/SjL78Cq+Y6lscKQhHSbnu8IknYok994lfuOFLfT2ZvH90mn//W3qDDEQGCyh8vx62KWXYU5gs8ETIcSkC9DHmT5j9ZihqrQhoQtznucbCoSAWreMWaQlKaY5wATTu8tirc6G83BZ3qbuAmW3y7QIDAQAB"},"dmarc":{"name":"_dmarc.test-autoconfig.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-autoconfig.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-autoconfig.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-30T12:35:57.680076855Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.057220625s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4d8b25e9-3411-4fa0-aecf-e9aa7c670adf
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-30T12:35:57.663320Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvdeTrwgNtpg6/YN3GSTQrI2/I6B4ibcH2K2xurZc53OV/WVUkmzYd8gKhJS3pn3T[...]
[...]
    - id: 244
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4d8b25e9-3411-4fa0-aecf-e9aa7c670adf/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-30T12:35:57.663320Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMI[...]
    - id: 245
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4d8b25e9-3411-4fa0-aecf-e9aa7c670adf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"4d8b25e9-3411-4fa0-aecf-e9aa7c670adf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 106.858875ms
    - id: 246
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-autoconfig.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-autoconfig","updated_at":"2026-03-30T13:36:53Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.002584ms
    - id: 247
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-autoconfig.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.772541ms
[...]
