---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-complete.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.15175ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"test-complete","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-complete","updated_at":"2025-10-28T06:45:15Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 429.145875ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"test-complete.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2025-10-28T06:45:20.768786Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsmhuawsNm3LVpc3u35XVgr2+LYBeCbTfia+GiOZ2RadcVSn/j1ODT5wwMkB2RVbRQPqWjuu2tU6AH/hKPeW3gTy5hySFhw2mNKNuRbV3y7EnuWOYugBq2ZARnMOjPCHw0EgHSlvQlMNTt57PVkoFzeP76WdRWCb2mfhTY3Dh8h3VzK81sZtBoUufogI3f7CUj6uLoVZ/bdoOmt4fm0SfiGynzvNxpDxe9Y/YAh01hJGK8SQK6ii+GQ7hZOfZ4zGEqtY8UPMmp+pbRwdrGZSFHxxzsshOTkN8eLMzYLky0xR4q4flD/lqqO7X+L9Btwg/bVvL/lFZ4FMFunaEl/UZDQIDAQAB","id":"8aceb87a-678d-4726-810a-cd947a1e52e2","last_error":null,"last_valid_at":null,"name":"test-complete.scaleway-terraform.com","next_check_at":"2025-10-28T06:45:20.731868Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.test-complete.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsmhuawsNm3LVpc3u35XVgr2+LYBeCbTfia+GiOZ2RadcVSn/j1ODT5wwMkB2RVbRQPqWjuu2tU6AH/hKPeW3gTy5hySFhw2mNKNuRbV3y7EnuWOYugBq2ZARnMOjPCHw0EgHSlvQlMNTt57PVkoFzeP76WdRWCb2mfhTY3Dh8h3VzK81sZtBoUufogI3f7CUj6uLoVZ/bdoOmt4fm0SfiGynzvNxpDxe9Y/YAh01hJGK8SQK6ii+GQ7hZOfZ4zGEqtY8UPMmp+pbRwdrGZSFHxxzsshOTkN8eLMzYLky0xR4q4flD/lqqO7X+L9Btwg/bVvL/lFZ4FMFunaEl/UZDQIDAQAB"},"dmarc":{"name":"_dmarc.test-complete.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"test-complete.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"test-complete.scaleway-terraform.com.","value":"v=spf1 include:test-complete.scaleway-terraform.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2025-10-28T06:45:20.863179238Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.781660125s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aceb87a-678d-4726-810a-cd947a1e52e2
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2025-10-28T06:45:20.768786Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsmhuawsNm3LVpc3u35XVgr2+LYBeCbTfia+GiOZ2RadcVSn/j1ODT5wwMkB2RVbR[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aceb87a-678d-4726-810a-cd947a1e52e2/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-10-28T06:45:20.768786Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBC[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=test-complete.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-complete","updated_at":"2025-10-28T06:46:15Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.654959ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"domain_id":"8aceb87a-678d-4726-810a-cd947a1e52e2","emails":["spam@example.com"],"type":"mailbox_full","reason":"Spam detected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists
        method: POST
      response:
        body: '{"blocklists":[{"created_at":"2025-10-28T06:46:30.753623Z","custom":true,"domain_id":"8aceb87a-678d-4726-810a-cd947a1e52e2","email":"spam@example.com","ends_at":null,"id":"4ec23d20-a497-46fe-bc13-c9374fd0dc0e","reason":"Spam detected","type":"mailbox_full","updated_at":"2025-10-28T06:46:30.753623Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.322542ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists?domain_id=8aceb87a-678d-4726-810a-cd947a1e52e2&email=spam%40example.com&order_by=created_at_desc
        method: GET
      response:
        body: '{"blocklists":[{"created_at":"2025-10-28T06:46:30.753623Z","custom":true,"domain_id":"8aceb87a-678d-4726-810a-cd947a1e52e2","email":"spam@example.com","ends_at":null,"id":"4ec23d20-a497-46fe-bc13-c9374fd0dc0e","reason":"Spam detected","type":"mailbox_full","updated_at":"2025-10-28T06:46:30.753623Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.352875ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 980.920958ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.062292ms
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-09-19T13:36:28.543641Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-09-19T13:36:28.543641Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.914041ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/blocklists/4ec23d20-a497-46fe-bc13-c9374fd0dc0e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 115.809917ms
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-interesting-goldwasser","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"Os2C536vlhWPXKRky1Nc","created_at":"2025-10-28T06:46:34.763809961Z","id":"b4be8b0d-5353-4cf8-895a-717cb7b87635","name":"tf-sns-credentials-interesting-goldwasser","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"5db17bea5f3f37b880625cc567288fb83eefc096","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-10-28T06:46:34.763809961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.8615ms
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/b4be8b0d-5353-4cf8-895a-717cb7b87635
        method: GET
      response:
        body: '{"access_key":"Os2C536vlhWPXKRky1Nc","created_at":"2025-10-28T06:46:34.763809Z","id":"b4be8b0d-5353-4cf8-895a-717cb7b87635","name":"tf-sns-credentials-interesting-goldwasser","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"5db17bea5f3f37b880625cc567288fb83eefc096","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-10-28T06:46:34.763809Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.286084ms
[...]
    - id: 45
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 5f8b8780-6d09-4bea-85ec-5056c33e3a08
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20251028T064634Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txe4c97285-6c52-49d7-9292-c74ade24fc5a</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 206.731083ms
    - id: 46
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - c0f574f9-3640-44e0-bb5c-5aa8add6326b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20251028T064635Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx1b07491b-ac05-4b12-9e1a-e1d6bbdf4bd3</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 27.452ms
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"domain_id":"8aceb87a-678d-4726-810a-cd947a1e52e2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered","email_dropped"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2025-10-28T06:46:35.355863Z","domain_id":"8aceb87a-678d-4726-810a-cd947a1e52e2","event_types":["email_delivered","email_dropped"],"id":"00de45bb-33e0-4c15-8d5a-11297ee151f3","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2025-10-28T06:46:35.355863Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 393.231291ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/00de45bb-33e0-4c15-8d5a-11297ee151f3
        method: GET
      response:
        body: '{"created_at":"2025-10-28T06:46:35.355863Z","domain_id":"8aceb87a-678d-4726-810a-cd947a1e52e2","event_types":["email_delivered","email_dropped"],"id":"00de45bb-33e0-4c15-8d5a-11297ee151f3","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2025-10-28T06:46:35.355863Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.599209ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=test-complete.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":true,"created_at":"2025-10-28T06:45:20.768786Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsmhuawsNm3LVpc3u35XVgr2+LYBeCbTfia+GiOZ2RadcVSn/j1ODT5wwMkB2RVbRQPqWjuu2tU6AH/hKPeW3gTy5hySFhw2mNKNuRbV3y7EnuWOYugBq2ZARnMOjPCHw0EgHSlvQlMNTt57PVkoFzeP76WdRWCb2mfhTY3Dh8h3VzK81sZtBoUufogI3f7CUj6uLoVZ/bdoOmt4fm0SfiGynzvNxpDxe9Y/YAh01hJGK8SQK6ii+GQ7hZOfZ4zGEqtY8UPMmp+pbRwdrGZSFHxxzsshOTkN8eLMzYLky0xR4q4flD/lqqO7X+L9Btwg/bVvL/lFZ4FMFunaEl/UZDQIDAQAB",[...]
[...]
    - id: 100
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 8b9ab0a5-00fe-4582-a3ed-abab23e6a67c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20251028T064649Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx291aa56c-7ca2-45cb-a044-bdca05b5fc47</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 37.283917ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aceb87a-678d-4726-810a-cd947a1e52e2/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2025-10-28T06:45:20.768786Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMI[...]
    - id: 111
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/8aceb87a-678d-4726-810a-cd947a1e52e2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"8aceb87a-678d-4726-810a-cd947a1e52e2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.536416ms
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-complete.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-complete","updated_at":"2025-10-28T06:46:15Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.4325ms
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-complete.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.4285ms
[...]
