---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-webhook-acc.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.230208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.070304333s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.061166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2025-11-24T09:25:31.538519Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-11-24T09:25:31.538519Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.609625ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-eloquent-goodall","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"ExLLWvgAs8lElQQDMPNk","created_at":"2026-03-25T10:08:50.083588655Z","id":"943f6725-25fa-434f-852c-09d69a10a56e","name":"tf-sns-credentials-eloquent-goodall","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"a8d7262b7663be41f76fbe3a9f6cb5526397be0e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-03-25T10:08:50.083588655Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.431833ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/943f6725-25fa-434f-852c-09d69a10a56e
        method: GET
      response:
        body: '{"access_key":"ExLLWvgAs8lElQQDMPNk","created_at":"2026-03-25T10:08:50.083588Z","id":"943f6725-25fa-434f-852c-09d69a10a56e","name":"tf-sns-credentials-eloquent-goodall","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"a8d7262b7663be41f76fbe3a9f6cb5526397be0e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-03-25T10:08:50.083588Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.540542ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"tf-webhook-acc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"tf-webhook-acc","updated_at":"2026-03-25T10:08:50Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.89725ms
[...]
    - id: 12
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - bb7c6a00-00c6-463d-acff-3a48ab7683fc
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260325T100850Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txad40bf2d-bf88-4211-a995-1c011347ffa3</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150.300834ms
    - id: 13
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 74f474ee-dadd-4017-92ae-df92467e8496
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260325T100850Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txd7852f9f-b092-4547-b895-0ea92ece5a23</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 38.554792ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"tf-webhook-acc.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-25T10:08:54.642680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtHRU5i1C1vEGHiyl/NoPsImLZUpScka5bMiVrZlA4hxZFRk0NdlE2R4haWBT6iLPNQ9X+HQOuQVPxfDpNgsOlvFM2tOR0+SaqFpazr5knMzj47zx2kkEhjnJqB7yTFuku13qJBiTjScYKAClfFxx6m4sHx6juPh8CwWwSuLSLXoidR1OTWrr62Q94QZydECtysT4+ZTdfBnnyfVZ5SRctz4q/SS+6N3QMVjB+mYgQ84ePD2M/Vew0B6iy3gud9ru3/zkw8qcr3mqxWQiWPJY0aMkF5s4ileT0aWoPBokEnj/+cV1fuoJF8oQX326iV/apdZtiynVT2ISHtyGgqv0xwIDAQAB","id":"afb766ca-a461-48da-b611-4f205d5efaf1","last_error":null,"last_valid_at":null,"name":"tf-webhook-acc.scaleway-terraform.com","next_check_at":"2026-03-25T10:08:54.523445Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.tf-webhook-acc.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtHRU5i1C1vEGHiyl/NoPsImLZUpScka5bMiVrZlA4hxZFRk0NdlE2R4haWBT6iLPNQ9X+HQOuQVPxfDpNgsOlvFM2tOR0+SaqFpazr5knMzj47zx2kkEhjnJqB7yTFuku13qJBiTjScYKAClfFxx6m4sHx6juPh8CwWwSuLSLXoidR1OTWrr62Q94QZydECtysT4+ZTdfBnnyfVZ5SRctz4q/SS+6N3QMVjB+mYgQ84ePD2M/Vew0B6iy3gud9ru3/zkw8qcr3mqxWQiWPJY0aMkF5s4ileT0aWoPBokEnj/+cV1fuoJF8oQX326iV/apdZtiynVT2ISHtyGgqv0xwIDAQAB"},"dmarc":{"name":"_dmarc.tf-webhook-acc.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"tf-webhook-acc.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"tf-webhook-acc.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-25T10:08:54.675330608Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.196870917s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/afb766ca-a461-48da-b611-4f205d5efaf1
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-25T10:08:54.642680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtHRU5i1C1vEGHiyl/NoPsImLZUpScka5bMiVrZlA4hxZFRk0NdlE2R4haWBT6iL[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"domain_id":"afb766ca-a461-48da-b611-4f205d5efaf1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered","email_dropped"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2026-03-25T10:08:55.028441Z","domain_id":"afb766ca-a461-48da-b611-4f205d5efaf1","event_types":["email_delivered","email_dropped"],"id":"a7da9c54-395b-44db-bed6-5470328e2852","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2026-03-25T10:08:55.028441Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.355084ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/afb766ca-a461-48da-b611-4f205d5efaf1/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-25T10:08:54.642680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/a7da9c54-395b-44db-bed6-5470328e2852
        method: GET
      response:
        body: '{"created_at":"2026-03-25T10:08:55.028441Z","domain_id":"afb766ca-a461-48da-b611-4f205d5efaf1","event_types":["email_delivered","email_dropped"],"id":"a7da9c54-395b-44db-bed6-5470328e2852","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2026-03-25T10:08:55.028441Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.076666ms
[...]
    - id: 224
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - eeb76536-c729-475e-873b-5fc7b0bdc9f6
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260325T103535Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx508a0953-4378-4315-8a5c-fb913df0b371</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 127.456792ms
[...]
    - id: 227
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/afb766ca-a461-48da-b611-4f205d5efaf1/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-25T10:08:54.642680Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMI[...]
    - id: 228
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/afb766ca-a461-48da-b611-4f205d5efaf1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"afb766ca-a461-48da-b611-4f205d5efaf1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 110.186959ms
    - id: 229
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-webhook-acc.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"tf-webhook-acc","updated_at":"2026-03-25T10:34:40Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.395625ms
    - id: 230
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-webhook-acc.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.248667ms
[...]
