---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.221698611s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.462727ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:16:35.868609723Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T09:16:35.868609723Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.247668ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"192c3959-ecab-440c-930d-4b70315e1922","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.654612ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-07-31T09:16:35.868609Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T09:16:35.868609Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.705422ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"192c3959-ecab-440c-930d-4b70315e1922","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.384461ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"192c3959-ecab-440c-930d-4b70315e1922","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.304764ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-clever-nightingale","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"zMk9Gb5REn57iocRmRMg","created_at":"2024-07-31T09:16:36.084744476Z","id":"32210e36-7085-4ea8-84d0-4fdca3088b6e","name":"tf-sns-credentials-clever-nightingale","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"09bf81fc24cfe0f440452395e2879226b011965e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.614644ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:16:36.054506Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB","id":"4cf81b5e-dd23-4439-b18f-145f8b18dc5b","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-07-31T09:16:36.054504682Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.84794ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=192c3959-ecab-440c-930d-4b70315e1922&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"192c3959-ecab-440c-930d-4b70315e1922","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.421538ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/32210e36-7085-4ea8-84d0-4fdca3088b6e
        method: GET
      response:
        body: '{"access_key":"zMk9Gb5REn57iocRmRMg","created_at":"2024-07-31T09:16:36.084744Z","id":"32210e36-7085-4ea8-84d0-4fdca3088b6e","name":"tf-sns-credentials-clever-nightingale","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"09bf81fc24cfe0f440452395e2879226b011965e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.010123ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-07-31T09:16:35Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.521541ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4cf81b5e-dd23-4439-b18f-145f8b18dc5b
        method: GET
      response:
        body: '{"created_at":"2024-07-31T09:16:36.054506Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB","id":"4cf81b5e-dd23-4439-b18f-145f8b18dc5b","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.444438ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"e57c9a15-cba2-4b35-a326-6d0576c6a1da","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.730525ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"e57c9a15-cba2-4b35-a326-6d0576c6a1da","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.952171ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4cf81b5e-dd23-4439-b18f-145f8b18dc5b/check
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:16:36.054506Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB\"","id":"6a3f936c-7041-42a8-bb40-527e09ca6569","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.309758ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB\"","id":"6a3f936c-7041-42a8-bb40-527e09ca6569","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.731995ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"b8b09d56-521e-4d7d-a9ca-ba1121400ff6","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB\"","id":"6a3f936c-7041-42a8-bb40-527e09ca6569","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"e57c9a15-cba2-4b35-a326-6d0576c6a1da","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.567329ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"b8b09d56-521e-4d7d-a9ca-ba1121400ff6","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB\"","id":"6a3f936c-7041-42a8-bb40-527e09ca6569","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"e57c9a15-cba2-4b35-a326-6d0576c6a1da","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.865897ms
[...]
    - id: 33
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T091636Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx05e80c9d-17fa-4ea5-bea3-e52007e3481a</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 844.774556ms
    - id: 34
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/4cf81b5e-dd23-4439-b18f-145f8b18dc5b/check
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:16:36.054506Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB","id":"4cf81b5e-dd23-4439-b18f-145f8b18dc5b","last_error":"no SPF record found\nfailed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nno MX record found\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-07-31T09:17:37.031283Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.19193ms
    - id: 35
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T091637Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx9a0ae1bb-d187-4f55-ab95-c09ed0135593</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 40.460719ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"domain_id":"4cf81b5e-dd23-4439-b18f-145f8b18dc5b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered","email_dropped"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:17:53.204807Z","domain_id":"4cf81b5e-dd23-4439-b18f-145f8b18dc5b","event_types":["email_delivered","email_dropped"],"id":"06455da8-70fa-42b7-a269-4cffb1e1a758","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-07-31T09:17:53.204807Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 550.44735ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/06455da8-70fa-42b7-a269-4cffb1e1a758
        method: GET
      response:
        body: '{"created_at":"2024-07-31T09:17:53.204807Z","domain_id":"4cf81b5e-dd23-4439-b18f-145f8b18dc5b","event_types":["email_delivered","email_dropped"],"id":"06455da8-70fa-42b7-a269-4cffb1e1a758","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-07-31T09:17:53.204807Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.234254ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=192c3959-ecab-440c-930d-4b70315e1922&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"192c3959-ecab-440c-930d-4b70315e1922","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.435589ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=e57c9a15-cba2-4b35-a326-6d0576c6a1da&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"e57c9a15-cba2-4b35-a326-6d0576c6a1da","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.736233ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=b8b09d56-521e-4d7d-a9ca-ba1121400ff6&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"b8b09d56-521e-4d7d-a9ca-ba1121400ff6","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.58125ms
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=6a3f936c-7041-42a8-bb40-527e09ca6569&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuoVOdlVWvJj3a4TVjxiEWxt1mZDLOeaUWXveHC+j6iKjXlTCFqSB7lQ1Ql4FCsbcjalLri85aHUjrnhgpvU3WQft6r3RDUfD0D+L9CbSHwriWX8JcKF9/N5v8El7h3/QZlAFXsH/FE7JGXUWE6W0JaoiAH/ZriEJ4AGjN3PXd2R/924cPqR5nEiEOnLg8vu2c25EixAVP+2GuYN0OuAklhyusYOXpvPp5tR3e2v3dR/k4jnbmLzv4PLQArQK/7Zx9ddV92QD8vxzqz6X+xFty4KuQKpyFQ+NmK3/ceoVjW4Bi9kBeNvQxvzlgTZ0wuqhhhAkkYMhRzqU0lWH7vfooQIDAQAB\"","id":"6a3f936c-7041-42a8-bb40-527e09ca6569","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.441832ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"b8b09d56-521e-4d7d-a9ca-ba1121400ff6"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.845183ms
[...]
    - id: 73
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T091757Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
[...]
