---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - default
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"projects\":[{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.105394285s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"default\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2019-09-30T07:52:49.358300Z\",\"updated_at\":\"2020-05-03T19:41:17.997124Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 188.399293ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"region\":\"fr-par\",\"created_at\":\"2024-09-19T13:36:28.543641Z\",\"updated_at\":\"2024-09-19T13:36:28.543641Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 73.282444ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - webhook-test.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=webhook-test.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":0,\"dns_zones\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.821133ms
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-sns-credentials-sleepy-cray\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:19:46.475730997Z\",\"updated_at\":\"2025-09-01T15:19:46.475730997Z\",\"id\":\"75c7d8fe-cbc2-4733-b1e5-45d6a629fa51\",\"name\":\"tf-sns-credentials-sleepy-cray\",\"access_key\":\"UDhXskS8STby8ql3G39n\",\"secret_key\":\"oA1JmyjpNEOl3x0SxjN79C1Yi22BQORPun528LOcYSUcFDe3O43HOs1MzozDbogg\",\"secret_checksum\":\"5b814d53a7e4b0c835d50d9e6d86d46c7d52b341\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.680784ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/75c7d8fe-cbc2-4733-b1e5-45d6a629fa51
    method: GET
  response:
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:19:46.475730Z\",\"updated_at\":\"2025-09-01T15:19:46.475730Z\",\"id\":\"75c7d8fe-cbc2-4733-b1e5-45d6a629fa51\",\"name\":\"tf-sns-credentials-sleepy-cray\",\"access_key\":\"UDhXskS8STby8ql3G39n\",\"secret_key\":\"\",\"secret_checksum\":\"5b814d53a7e4b0c835d50d9e6d86d46c7d52b341\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.490135ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"webhook-test\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones
    method: POST
  response:
    body: "{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"webhook-test\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T15:19:46Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 302.747882ms
- id: 13
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - 54c0da9f-2e5c-4389-8b5c-59dce86880db
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250901T151946Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txf6c436e4-14e5-4898-b73f-a9887a4eae43</RequestId>
          </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 116.847538ms
- id: 14
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - bf483b1e-c179-4f7f-b2a8-3d52278c3cf7
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250901T151946Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>Owner</key>
                      <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>tx3accaaa9-437f-47d8-bc3d-9424b032a471</RequestId>
          </ResponseMetadata>
      </GetTopicAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 29.370801ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"domain_name\":\"webhook-test.scaleway-terraform.com\",\"accept_tos\":true,\"autoconfig\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"6bd6cb17-bd81-4e27-bf97-d1b88ddb877c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"webhook-test.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T15:19:50.529004Z\",\"next_check_at\":\"2025-09-01T15:19:50.443246Z\",\"last_valid_at\":null,\"revoked_at\":null,\"last_error\":null,\"spf_config\":\"include:_spf.tem.scaleway.com\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsxbERJR/N8PWXszUxGKq7fJOTmvDubLwOJh2y/vwWhXJR1gTxEmG/zLdf79p6MrnkKImIvnob/3Kt2YQRw/YSf04sdVmGEajQ6ub8dIQunNPpTec9ayiAiG424EnhKovjqMl6BjLEQBbXMMtP99x69svHRfmqfp8WALd1qametDrobEBnwtCxKkNKTfd69H5VV2kR9d8+ynEqKnjajaHcN6XiqsGkw11scecKRxSevhPs1+lqjQJweUBgLqhRkh6WyW9Kun0zjkPDgVOPUULHX9PG6JDHwuSzWT+OFLS4RLqGb5fpgrpCi9De7RVFKDA2ldqx531alaBGUiol2wV5wIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":{\"status\":\"excellent\",\"score\":100,\"scored_at\":\"2025-09-01T15:19:50.550590809Z\",\"previous_score\":null,\"previous_scored_at\":null},\"records\":{\"dmarc\":{\"name\":\"_dmarc.webhook-test\",\"value\":\"v=DMARC1; p=none\"}},\"autoconfig\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.747241872s
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6bd6cb17-bd81-4e27-bf97-d1b88ddb877c
    method: GET
  response:
    body: "{\"id\":\"6bd6cb17-bd81-4e27-bf97-d1b88ddb877c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"webhook-test.scaleway-terraform.com\",\"status\":\"autoconfiguring\",\"created_at\":\"2025-09-01T15:1[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"domain_id\":\"6bd6cb17-bd81-4e27-bf97-d1b88ddb877c\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"terraform-webhook-test\",\"event_types\":[\"email_delivered\",\"email_dropped\"],\"sns_arn\":\"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
    method: POST
  response:
    body: "{\"id\":\"f8d5bd88-ffed-4e7d-8f6f-3b0fcad45065\",\"domain_id\":\"6bd6cb17-bd81-4e27-bf97-d1b88ddb877c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"terraform-webhook-test\",\"event_types\":[\"email_delivered\",\"email_dropped\"],\"sns_arn\":\"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic\",\"created_at\":\"2025-09-01T15:19:51.546071Z\",\"updated_at\":\"2025-09-01T15:19:51.546071Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 254.674548ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/f8d5bd88-ffed-4e7d-8f6f-3b0fcad45065
    method: GET
  response:
    body: "{\"id\":\"f8d5bd88-ffed-4e7d-8f6f-3b0fcad45065\",\"domain_id\":\"6bd6cb17-bd81-4e27-bf97-d1b88ddb877c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"terraform-webhook-test\",\"event_types\":[\"email_delivered\",\"email_dropped\"],\"sns_arn\":\"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic\",\"created_at\":\"2025-09-01T15:19:51.546071Z\",\"updated_at\":\"2025-09-01T15:19:51.546071Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 73.99908ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6bd6cb17-bd81-4e27-bf97-d1b88ddb877c/check
    method: POST
  response:
    body: "{\"id\":\"6bd6cb17-bd81-4e27-bf97-d1b88ddb877c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"webhook-test.scaleway-terraform.co[...]
[...]
- id: 37
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - webhook-test.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=webhook-test.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"webhook-test\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T15:20:30Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 81.90086ms
[...]
- id: 87
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - DeleteTopic
      TopicArn:
      - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - 375fa53e-99e1-402d-b44b-748dd748a5a3
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250901T152100Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
              <RequestId>txe55a376d-cec2-405a-9b30-8bb08daa9ad7</RequestId>
          </ResponseMetadata>
      </DeleteTopicResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 53.865375ms
[...]
- id: 90
  request:
    host: api.scaleway.com
    body: "{}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/6bd6cb17-bd81-4e27-bf97-d1b88ddb877c/revoke
    method: POST
  response:
    body: "{\"id\":\"6bd6cb17-bd81-4e27-bf97-d1b88ddb877c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"webhook-test.scaleway-terraform.com\",\"status\":\"revoked\",\"created_at\":\"2025-09-01T15:19:50.529004Z\",\"next_check_at\":null,\"last_valid_at\":\"2025-09-01T15:20:30.442418Z\",\"revoked_at\":\"2025-09-01T15:21:01.603505739Z\",\"last_error\":null,\"spf_config\":\"\",\"dkim_config\":\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsxbERJR/N8PWXszUxGKq7fJOTmvDubLwOJh2y/vwWhXJR1gTxEmG/zLdf79p6MrnkKImIvnob/3Kt2YQRw/YSf04sdVmGEajQ6ub8dIQunNPpTec9ayiAiG424EnhKovjqMl6BjLEQBbXMMtP99x69svHRfmqfp8WALd1qametDrobEBnwtCxKkNKTfd69H5VV2kR9d8+ynEqKnjajaHcN6XiqsGkw11scecKRxSevhPs1+lqjQJweUBgLqhRkh6WyW9Kun0zjkPDgVOPUULHX9PG6JDHwuSzWT+OFLS4RLqGb5fpgrpCi9De7RVFKDA2ldqx531alaBGUiol2wV5wIDAQAB\",\"statistics\":{\"total_count\":0,\"sent_count\":0,\"failed_count\":0,\"canceled_count\":0},\"reputation\":null,\"records\":null,\"autoconfig\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 160.55939ms
[...]
- id: 92
  request:
    host: api.scaleway.com
    form:
      dns_zone:
      - webhook-test.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=webhook-test.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"webhook-test\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"active\",\"message\":null,\"updated_at\":\"2025-09-01T15:20:30Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.438885ms
- id: 93
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/webhook-test.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: "{}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.687303ms
[...]
