---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-07-31T12:02:43.549035455Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T12:02:43.549035455Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.220654489s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"042d2fcc-c721-43c3-8599-742b72ce2feb","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.246256326s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"042d2fcc-c721-43c3-8599-742b72ce2feb","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.935132ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-07-31T12:02:43.549035Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T12:02:43.549035Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.614755ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"042d2fcc-c721-43c3-8599-742b72ce2feb","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.351004ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:02:43.680953Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJVx2N7jUpOKNSb9Z3PKsacLzA5Aq3cEcQXuqC4J0SMHZAtRj0Rl2d4ixgphRRNBTsMAMNmrLJmzzPx6NKb3CMzSNG75TIoyNe7263v6+m3o+c5U4IJSYKz7wL1275RxSuOTH5B5dUQ4G+j3nbGPPTPLC6o+EmzAZup8qYPR1l4UYzdY2hRiwNCroUfUxzXTNoy4ZTimfcTuwia0RLUweCssMr3wW+CxxTpjCmMJT8+6i09iLh+0JAU/KgDJKctpwihlFPMIfNQ3bTvh8Z1rswOAEQt4+jq9L1Kumq1FlzmVgrn7qw62XC2AnaWD1Nocw3C9OzWGebSVXnS852ptDQIDAQAB","id":"a13ed1b8-107b-4cc1-a6b2-1a714124a05e","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-07-31T12:02:43.680951593Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.39980224s
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-gracious-easley","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"MgxArHSa4ZMLhuVMhTue","created_at":"2024-07-31T12:02:43.803494467Z","id":"2d8339fb-b8fc-4a43-a908-702b977c8714","name":"tf-sns-credentials-gracious-easley","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"c53eb9e98d2465c77c9d9ef2a4dc362b2daa6bf1","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.14258ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=042d2fcc-c721-43c3-8599-742b72ce2feb&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"042d2fcc-c721-43c3-8599-742b72ce2feb","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.585058ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/2d8339fb-b8fc-4a43-a908-702b977c8714
        method: GET
      response:
        body: '{"access_key":"MgxArHSa4ZMLhuVMhTue","created_at":"2024-07-31T12:02:43.803494Z","id":"2d8339fb-b8fc-4a43-a908-702b977c8714","name":"tf-sns-credentials-gracious-easley","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"c53eb9e98d2465c77c9d9ef2a4dc362b2daa6bf1","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.07357ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-07-31T12:02:43Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.410611ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a13ed1b8-107b-4cc1-a6b2-1a714124a05e
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:02:43.680953Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJVx2N7jUpOKNSb9Z3PKsacLzA5Aq3cEcQXuqC4J0SMHZAtRj0Rl2d4ixgphRRNBTsMAMNmrLJmzzPx6NKb3CMzSNG75TIoyNe7263v6+m3o+c5U4IJSYKz7wL1275RxSuOTH5B5dUQ4G+j3nbGPPTPLC6o+EmzAZup8qYPR1l4UYzdY2hRiwNCroUfUxzXTNoy4ZTimfcTuwia0RLUweCssMr3wW+CxxTpjCmMJT8+6i09iLh+0JAU/KgDJKctpwihlFPMIfNQ3bTvh8Z1rswOAEQt4+jq9L1Kumq1FlzmVgrn7qw62XC2AnaWD1Nocw3C9OzWGebSVXnS852ptDQIDAQAB","id":"a13ed1b8-107b-4cc1-a6b2-1a714124a05e","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.569114ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a13ed1b8-107b-4cc1-a6b2-1a714124a05e/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:02:43.680953Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"1a56d6ac-8b0b-4e6b-bcf8-e8ec4d16e5a2","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.641699ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"1a56d6ac-8b0b-4e6b-bcf8-e8ec4d16e5a2","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJVx2N7jUpOKNSb9Z3PKsacLzA5Aq3cEcQXuqC4J0SMHZAtRj0Rl2d4ixgphRRNBTsMAMNmrLJmzzPx6NKb3CMzSNG75TIoyNe7263v6+m3o+c5U4IJSYKz7wL1275RxSuOTH5B5dUQ4G+j3nbGPPTPLC6o+EmzAZup8qYPR1l4UYzdY2hRiwNCroUfUxzXTNoy4ZTimfcTuwia0RLUweCssMr3wW+CxxTpjCmMJT8+6i09iLh+0JAU/KgDJKctpwihlFPMIfNQ3bTvh8Z1rswOAEQt4+jq9L1Kumq1FlzmVgrn7qw62XC2AnaWD1Nocw3C9OzWGebSVXnS852ptDQIDAQAB\"","id":"117693e7-e640-42c6-88f0-750fce5ab66b","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.586672ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJVx2N7jUpOKNSb9Z3PKsacLzA5Aq3cEcQXuqC4J0SMHZAtRj0Rl2d4ixgphRRNBTsMAMNmrLJmzzPx6NKb3CMzSNG75TIoyNe7263v6+m3o+c5U4IJSYKz7wL1275RxSuOTH5B5dUQ4G+j3nbGPPTPLC6o+EmzAZup8qYPR1l4UYzdY2hRiwNCroUfUxzXTNoy4ZTimfcTuwia0RLUweCssMr3wW+CxxTpjCmMJT8+6i09iLh+0JAU/KgDJKctpwihlFPMIfNQ3bTvh8Z1rswOAEQt4+jq9L1Kumq1FlzmVgrn7qw62XC2AnaWD1Nocw3C9OzWGebSVXnS852ptDQIDAQAB\"","id":"117693e7-e640-42c6-88f0-750fce5ab66b","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.787501ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b26edb75-e620-4156-8861-a62e435bad30","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.479202ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJVx2N7jUpOKNSb9Z3PKsacLzA5Aq3cEcQXuqC4J0SMHZAtRj0Rl2d4ixgphRRNBTsMAMNmrLJmzzPx6NKb3CMzSNG75TIoyNe7263v6+m3o+c5U4IJSYKz7wL1275RxSuOTH5B5dUQ4G+j3nbGPPTPLC6o+EmzAZup8qYPR1l4UYzdY2hRiwNCroUfUxzXTNoy4ZTimfcTuwia0RLUweCssMr3wW+CxxTpjCmMJT8+6i09iLh+0JAU/KgDJKctpwihlFPMIfNQ3bTvh8Z1rswOAEQt4+jq9L1Kumq1FlzmVgrn7qw62XC2AnaWD1Nocw3C9OzWGebSVXnS852ptDQIDAQAB\"","id":"117693e7-e640-42c6-88f0-750fce5ab66b","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.436525ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b26edb75-e620-4156-8861-a62e435bad30","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.79884ms
[...]
    - id: 29
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T120243Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx29e16f3d-8fbc-400a-a120-e8bac9c8cd8c</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 798.556006ms
[...]
    - id: 31
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T120244Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txe771bdd0-ea29-46d4-8811-b420716150f7</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 27.411614ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a13ed1b8-107b-4cc1-a6b2-1a714124a05e/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:02:43.680953Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJVx2N7jUpOKNSb9Z3PKsacLzA5Aq3cEcQXuqC4J0SMHZAtRj0Rl2d4ixgphRRNBTsMAMNmrLJmzzPx6NKb3CMzSNG75TIoyNe7263v6+m3o+c5U4IJSYKz7wL1275RxSuOTH5B5dUQ4G+j3nbGPPTPLC6o+EmzAZup8qYPR1l4UYzdY2hRiwNCroUfUxzXTNoy4ZTimfcTuwia0RLUweCssMr3wW+CxxTpjCmMJT8+6i09iLh+0JAU/KgDJKctpwihlFPMIfNQ3bTvh8Z1rswOAEQt4+jq9L1Kumq1FlzmVgrn7qw62XC2AnaWD1Nocw3C9OzWGebSVXnS852ptDQIDAQAB","id":"a13ed1b8-107b-4cc1-a6b2-1a714124a05e","last_error":"no SPF record found\nfailed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nno MX record found\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-07-31T12:03:46.810637Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.431941ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"domain_id":"a13ed1b8-107b-4cc1-a6b2-1a714124a05e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered","email_dropped"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-07-31T12:03:51.773524Z","domain_id":"a13ed1b8-107b-4cc1-a6b2-1a714124a05e","event_types":["email_delivered","email_dropped"],"id":"ccacddfa-cf96-4e6c-a220-5c49fd8a0754","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-07-31T12:03:51.773524Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 490.614806ms
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/ccacddfa-cf96-4e6c-a220-5c49fd8a0754
        method: GET
      response:
        body: '{"created_at":"2024-07-31T12:03:51.773524Z","domain_id":"a13ed1b8-107b-4cc1-a6b2-1a714124a05e","event_types":["email_delivered","email_dropped"],"id":"ccacddfa-cf96-4e6c-a220-5c49fd8a0754","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-07-31T12:03:51.773524Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.421929ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=042d2fcc-c721-43c3-8599-742b72ce2feb&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"042d2fcc-c721-43c3-8599-742b72ce2feb","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.057344ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=b26edb75-e620-4156-8861-a62e435bad30&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b26edb75-e620-4156-8861-a62e435bad30","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.880216ms
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=1a56d6ac-8b0b-4e6b-bcf8-e8ec4d16e5a2&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"1a56d6ac-8b0b-4e6b-bcf8-e8ec4d16e5a2","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.058909ms
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=117693e7-e640-42c6-88f0-750fce5ab66b&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJVx2N7jUpOKNSb9Z3PKsacLzA5Aq3cEcQXuqC4J0SMHZAtRj0Rl2d4ixgphRRNBTsMAMNmrLJmzzPx6NKb3CMzSNG75TIoyNe7263v6+m3o+c5U4IJSYKz7wL1275RxSuOTH5B5dUQ4G+j3nbGPPTPLC6o+EmzAZup8qYPR1l4UYzdY2hRiwNCroUfUxzXTNoy4ZTimfcTuwia0RLUweCssMr3wW+CxxTpjCmMJT8+6i09iLh+0JAU/KgDJKctpwihlFPMIfNQ3bTvh8Z1rswOAEQt4+jq9L1Kumq1FlzmVgrn7qw62XC2AnaWD1Nocw3C9OzWGebSVXnS852ptDQIDAQAB\"","id":"117693e7-e640-42c6-88f0-750fce5ab66b","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.149122ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"117693e7-e640-42c6-88f0-750fce5ab66b"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.9069ms
[...]
    - id: 63
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T120353Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx81fd35ed-5e2f-464c-836e-f63a146dee85</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 71.627036ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.568089ms
    - id: 69
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/a13ed1b8-107b-4cc1-a6b2-1a714124a05e/revoke
        method: POST
      response:
[...]
