---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=webhook-test.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":false,"created_at":"2024-09-19T13:52:26.262203Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2SzpRIaV5DL3/3TpwP14mfYCEJte3c6p7e0iJxxHeJ89N6ddGz8PbfvTzXMsqOmTcuUfZ7h/WzNhqtfmmMxWlpkALkfBCP6yoFZYSQT9rOGAc5YoEWJXCOA4OSbPjv+p7VWU8bQENsgofI7gfvuTvJV3mislvZYz7UKIyBYQLwVyPX3L4Obc55O+ugLFpOE4ET7WMIjvLXx5xQYz7o36X52gARWQDfhHF9ZEJFACIEyMjClnmD4aLyJUgcOuCcVAzn3aanpzkKZQZJUuQMJPlLh8BmgKM+DgytznbD+KlTGe6NzEMN9fvEcwqBPdA/3p/HBk1Pl/AA6Cfmqwkm6fAQIDAQAB","id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","last_error":null,"last_valid_at":"2024-09-19T14:12:26.543478Z","name":"webhook-test.scaleway-terraform.com","next_check_at":"2024-09-20T14:50:09.543478Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.webhook-test","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-09-19T14:12:39.320530Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"checked"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.614418ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/d1b6673c-7ad6-4cb6-84a1-a094414c8261
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-19T13:52:26.262203Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2SzpRIaV5DL3/3TpwP14mfYCEJte3c6p7e0iJxxHeJ89N6ddGz8PbfvTzXMsqOm[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 929.506062ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.548338ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-09-19T13:36:28.543641Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-09-19T13:36:28.543641Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.287904ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-pensive-khorana","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"MpUM6jzH6YI71xxp5lDd","created_at":"2024-09-19T14:17:38.986835807Z","id":"f3063561-2f3d-4785-8fb8-555ba2c38099","name":"tf-sns-credentials-pensive-khorana","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"9514c4a86cd4313b9912308d81c3a9ded970aa63","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.616605ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/f3063561-2f3d-4785-8fb8-555ba2c38099
        method: GET
      response:
        body: '{"access_key":"MpUM6jzH6YI71xxp5lDd","created_at":"2024-09-19T14:17:38.986835Z","id":"f3063561-2f3d-4785-8fb8-555ba2c38099","name":"tf-sns-credentials-pensive-khorana","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"9514c4a86cd4313b9912308d81c3a9ded970aa63","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.495548ms
[...]
    - id: 15
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240919T141739Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txdd364d42-53c3-4b20-af9a-84d78ab0d00d</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 492.081697ms
    - id: 16
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240919T141739Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txf7d1aab9-cf3f-461e-a9c2-f11a7e125ad5</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 24.99917ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"domain_id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered","email_dropped"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-09-19T14:17:39.768649Z","domain_id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","event_types":["email_delivered","email_dropped"],"id":"c0043ff8-7cc2-495f-bb6c-7cdaeab8c83a","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-09-19T14:17:39.768649Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 543.254883ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/c0043ff8-7cc2-495f-bb6c-7cdaeab8c83a
        method: GET
      response:
        body: '{"created_at":"2024-09-19T14:17:39.768649Z","domain_id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","event_types":["email_delivered","email_dropped"],"id":"c0043ff8-7cc2-495f-bb6c-7cdaeab8c83a","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-09-19T14:17:39.768649Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.407894ms
[...]
    - id: 42
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240919T141745Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx05b56ac0-3c2c-4c46-ba8a-fc7484046afc</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 73.097876ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/c0043ff8-7cc2-495f-bb6c-7cdaeab8c83a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"webhook_id","resource_id":"c0043ff8-7cc2-495f-bb6c-7cdaeab8c83a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.193781ms
