---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains?name=webhook-test.scaleway-terraform.com
        method: GET
      response:
        body: '{"domains":[{"autoconfig":false,"created_at":"2024-09-19T13:52:26.262203Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2SzpRIaV5DL3/3TpwP14mfYCEJte3c6p7e0iJxxHeJ89N6ddGz8PbfvTzXMsqOmTcuUfZ7h/WzNhqtfmmMxWlpkALkfBCP6yoFZYSQT9rOGAc5YoEWJXCOA4OSbPjv+p7VWU8bQENsgofI7gfvuTvJV3mislvZYz7UKIyBYQLwVyPX3L4Obc55O+ugLFpOE4ET7WMIjvLXx5xQYz7o36X52gARWQDfhHF9ZEJFACIEyMjClnmD4aLyJUgcOuCcVAzn3aanpzkKZQZJUuQMJPlLh8BmgKM+DgytznbD+KlTGe6NzEMN9fvEcwqBPdA/3p/HBk1Pl/AA6Cfmqwkm6fAQIDAQAB","id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","last_error":null,"last_valid_at":"2024-09-19T14:12:26.543478Z","name":"webhook-test.scaleway-terraform.com","next_check_at":"2024-09-20T14:50:09.543478Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc.webhook-test","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-09-19T14:12:39.320530Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"checked"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.979276ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/d1b6673c-7ad6-4cb6-84a1-a094414c8261
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-09-19T13:52:26.262203Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2SzpRIaV5DL3/3TpwP14mfYCEJte3c6p7e0iJxxHeJ89N6ddGz8PbfvTzXMsqOm[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 939.808383ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.803533ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-09-19T13:36:28.543641Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-09-19T13:36:28.543641Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.657041ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-reverent-hodgkin","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"PnC5Z6lNe7prhdP9nQMg","created_at":"2024-09-19T14:26:42.364065885Z","id":"af186305-f1d9-4c03-a627-73db87254a4c","name":"tf-sns-credentials-reverent-hodgkin","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"4aad3ecea5bd953a990f5fd3e4b68544b88124e2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.713096ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/af186305-f1d9-4c03-a627-73db87254a4c
        method: GET
      response:
        body: '{"access_key":"PnC5Z6lNe7prhdP9nQMg","created_at":"2024-09-19T14:26:42.364065Z","id":"af186305-f1d9-4c03-a627-73db87254a4c","name":"tf-sns-credentials-reverent-hodgkin","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"4aad3ecea5bd953a990f5fd3e4b68544b88124e2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.072902ms
[...]
    - id: 15
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240919T142642Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txd5dcffe1-bf56-4de6-a95a-60096d0a73c8</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 297.843762ms
    - id: 16
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240919T142642Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txfdde5361-9039-441e-b6ab-009a6337fd57</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 172.02432ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"domain_id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-09-19T14:26:43.097841Z","domain_id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","event_types":["email_delivered"],"id":"6b4ebb89-6c37-481c-99ea-967c9b26df2d","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-09-19T14:26:43.097841Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.980961ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/6b4ebb89-6c37-481c-99ea-967c9b26df2d
        method: GET
      response:
        body: '{"created_at":"2024-09-19T14:26:43.097841Z","domain_id":"d1b6673c-7ad6-4cb6-84a1-a094414c8261","event_types":["email_delivered"],"id":"6b4ebb89-6c37-481c-99ea-967c9b26df2d","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-09-19T14:26:43.097841Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.141961ms
[...]
    - id: 81
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240919T142656Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx962f64a5-d293-4155-b8b4-8e40606f66eb</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 73.220527ms
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/6b4ebb89-6c37-481c-99ea-967c9b26df2d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"webhook_id","resource_id":"6b4ebb89-6c37-481c-99ea-967c9b26df2d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.156856ms
