---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 864.08962ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.577288ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:19:59.945882004Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T09:19:59.945882004Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.079621ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"6efdd23d-2a54-4d42-ad85-233cb72059b9","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.982161ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-07-31T09:19:59.945882Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T09:19:59.945882Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.18585ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"6efdd23d-2a54-4d42-ad85-233cb72059b9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.386842ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-heuristic-bose","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"6Q97obBQKL1Hkd998BoV","created_at":"2024-07-31T09:20:00.159981045Z","id":"5bb81472-e1a2-4ac9-9e57-4a89b99b4723","name":"tf-sns-credentials-heuristic-bose","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"9c1b8448e3a4566e9db37fa0e703291b5d0c42db","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.431638ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"6efdd23d-2a54-4d42-ad85-233cb72059b9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.46846ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/5bb81472-e1a2-4ac9-9e57-4a89b99b4723
        method: GET
      response:
        body: '{"access_key":"6Q97obBQKL1Hkd998BoV","created_at":"2024-07-31T09:20:00.159981Z","id":"5bb81472-e1a2-4ac9-9e57-4a89b99b4723","name":"tf-sns-credentials-heuristic-bose","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"9c1b8448e3a4566e9db37fa0e703291b5d0c42db","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.859407ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=6efdd23d-2a54-4d42-ad85-233cb72059b9&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"6efdd23d-2a54-4d42-ad85-233cb72059b9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.591851ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-07-31T09:19:59Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.829419ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:20:00.108901Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB","id":"ea8b5510-971d-47fd-b9af-01a673c25c51","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-07-31T09:20:00.108899340Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 418.134016ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/ea8b5510-971d-47fd-b9af-01a673c25c51
        method: GET
      response:
        body: '{"created_at":"2024-07-31T09:20:00.108901Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB","id":"ea8b5510-971d-47fd-b9af-01a673c25c51","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.49219ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"17fe39a1-20db-432c-b4eb-c57c51de5d1a","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.066771ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/ea8b5510-971d-47fd-b9af-01a673c25c51/check
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:20:00.108901Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8t[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"17fe39a1-20db-432c-b4eb-c57c51de5d1a","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB\"","id":"75b274bc-ddb7-49a1-9b09-8e8c9851f2d2","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.609755ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB\"","id":"75b274bc-ddb7-49a1-9b09-8e8c9851f2d2","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.176528ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ec19aa40-7984-45a1-a984-dfcaa870b525","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.860126ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB\"","id":"75b274bc-ddb7-49a1-9b09-8e8c9851f2d2","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.187453ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ec19aa40-7984-45a1-a984-dfcaa870b525","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.131939ms
[...]
    - id: 32
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T092000Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txcc8d49dc-6d88-4d4f-9736-1a07690c6809</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 749.415464ms
    - id: 33
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T092000Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txb64d8065-3b4a-4faa-a5cf-bff736395f05</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 27.109831ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/ea8b5510-971d-47fd-b9af-01a673c25c51/check
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:20:00.108901Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB","id":"ea8b5510-971d-47fd-b9af-01a673c25c51","last_error":"no SPF record found\nfailed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nno MX record found\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-07-31T09:21:04.255845Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.328211ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/ea8b5510-971d-47fd-b9af-01a673c25c51/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T09:20:00.108901Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB","id":"ea8b5510-971d-47fd-b9af-01a673c25c51","last_error":"no SPF record found\nfailed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nno MX record found\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-07-31T09:21:04.255845Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.392458ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"domain_id":"ea8b5510-971d-47fd-b9af-01a673c25c51","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-07-31T09:21:07.725131Z","domain_id":"ea8b5510-971d-47fd-b9af-01a673c25c51","event_types":["email_delivered"],"id":"cc623652-7d76-4452-993e-e51f8ef71753","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-07-31T09:21:07.725131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.021942ms
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/cc623652-7d76-4452-993e-e51f8ef71753
        method: GET
      response:
        body: '{"created_at":"2024-07-31T09:21:07.725131Z","domain_id":"ea8b5510-971d-47fd-b9af-01a673c25c51","event_types":["email_delivered"],"id":"cc623652-7d76-4452-993e-e51f8ef71753","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-07-31T09:21:07.725131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.825719ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=6efdd23d-2a54-4d42-ad85-233cb72059b9&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"6efdd23d-2a54-4d42-ad85-233cb72059b9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.165924ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=75b274bc-ddb7-49a1-9b09-8e8c9851f2d2&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0YCv2v/aP8tBjsmaxoRPqwjUQcdmCrtGd5zmobetTUM8/pvdm2SYV/AVGeoC2h82X0mfa0uH10o3XJqemoXcwWgr6aXpf6TXz6ylq9HAm6FQrO8VyQxk3maeUh2QFMq5iB/pS406VGAcSsJL0YpG1u/3JxwZQWRxowxp+82Gd9pH6/7Edw7AAGrf8tZdjzJTzhS+f+KCsjCU+qxZ4JXkB+JmTXhhrQlACcYU3UgtXYOYNgAsxb91p3Pys7MbXDswUfSedhTHcG8PG1+gSXKtXslhkWMYwWAt8pNCQz/kLll/6dhVY+dPvuN8Z+7zeRL+p2P2jn5bu6uGCvz4hZz1OwIDAQAB\"","id":"75b274bc-ddb7-49a1-9b09-8e8c9851f2d2","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.455502ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=ec19aa40-7984-45a1-a984-dfcaa870b525&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ec19aa40-7984-45a1-a984-dfcaa870b525","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.378065ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=17fe39a1-20db-432c-b4eb-c57c51de5d1a&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"17fe39a1-20db-432c-b4eb-c57c51de5d1a","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.597564ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"17fe39a1-20db-432c-b4eb-c57c51de5d1a"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
[...]
