---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-07-31T12:05:02.676524725Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T12:05:02.676524725Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.78073ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"ca5758ce-7547-49a5-9f34-7cc4ec3f2bd2","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.698372ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-07-31T12:05:02.676524Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T12:05:02.676524Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.03132ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"ca5758ce-7547-49a5-9f34-7cc4ec3f2bd2","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 451.700447ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:05:02.978244Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArPeGlAhod8S+nh2FLaVkr2q/DcY9KmGlD/Gv2jtgJG0PyDCV8dXiisFkZjQ1x8dc5w5+OdEwlNaF14qGQ3IKGhBErs7s+AzDHtl5etRm+ezptIFGmQ5LJ9R3T1gYJujDCoypM3UZwtOXk4lAZKnuPM32kO0qWH4YWzTILazz7x4Wm+MloKSGZPSVyaDZ2rRo2ThnjUE5Ri+pq/LhDeL622pf23J/v6ermLw0g2HOsc+8WtJZv5OWjTEUBfZyMVlwz6tsPX/55G/0+/vxjE1Yktv5dldC1xd9eBA1aut0QmHDBP9BIf+fA6XsJmWMYatN304Uv5/torJSHvaHtXn6AQIDAQAB","id":"19b77eeb-9f85-4d48-8a5f-467b96ed0d1f","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-07-31T12:05:02.978241432Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 662.681367ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-optimistic-rhodes","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"ws4ShQV41yy2GyTH4eNY","created_at":"2024-07-31T12:05:03.219415601Z","id":"8b5b8628-e0ac-463e-9ced-3a197a183ac4","name":"tf-sns-credentials-optimistic-rhodes","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"5a05775bb51d1986fc9288b9149b275fdbd851e1","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 450.185263ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"ca5758ce-7547-49a5-9f34-7cc4ec3f2bd2","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.829738ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/8b5b8628-e0ac-463e-9ced-3a197a183ac4
        method: GET
      response:
        body: '{"access_key":"ws4ShQV41yy2GyTH4eNY","created_at":"2024-07-31T12:05:03.219415Z","id":"8b5b8628-e0ac-463e-9ced-3a197a183ac4","name":"tf-sns-credentials-optimistic-rhodes","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"5a05775bb51d1986fc9288b9149b275fdbd851e1","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.936956ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=ca5758ce-7547-49a5-9f34-7cc4ec3f2bd2&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"ca5758ce-7547-49a5-9f34-7cc4ec3f2bd2","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.483172ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-07-31T12:05:02Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.628807ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/19b77eeb-9f85-4d48-8a5f-467b96ed0d1f
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:05:02.978244Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArPeGlAhod8S+nh2FLaVkr2q/DcY9KmGlD/Gv2jtgJG0PyDCV8dXiisFkZjQ1x8dc5w5+OdEwlNaF14qGQ3IKGhBErs7s+AzDHtl5etRm+ezptIFGmQ5LJ9R3T1gYJujDCoypM3UZwtOXk4lAZKnuPM32kO0qWH4YWzTILazz7x4Wm+MloKSGZPSVyaDZ2rRo2ThnjUE5Ri+pq/LhDeL622pf23J/v6ermLw0g2HOsc+8WtJZv5OWjTEUBfZyMVlwz6tsPX/55G/0+/vxjE1Yktv5dldC1xd9eBA1aut0QmHDBP9BIf+fA6XsJmWMYatN304Uv5/torJSHvaHtXn6AQIDAQAB","id":"19b77eeb-9f85-4d48-8a5f-467b96ed0d1f","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.261911ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"7eddf126-5712-4b3b-8c40-fc7e8b8ae22b","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.77941ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/19b77eeb-9f85-4d48-8a5f-467b96ed0d1f/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:05:02.978244Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"7eddf126-5712-4b3b-8c40-fc7e8b8ae22b","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArPeGlAhod8S+nh2FLaVkr2q/DcY9KmGlD/Gv2jtgJG0PyDCV8dXiisFkZjQ1x8dc5w5+OdEwlNaF14qGQ3IKGhBErs7s+AzDHtl5etRm+ezptIFGmQ5LJ9R3T1gYJujDCoypM3UZwtOXk4lAZKnuPM32kO0qWH4YWzTILazz7x4Wm+MloKSGZPSVyaDZ2rRo2ThnjUE5Ri+pq/LhDeL622pf23J/v6ermLw0g2HOsc+8WtJZv5OWjTEUBfZyMVlwz6tsPX/55G/0+/vxjE1Yktv5dldC1xd9eBA1aut0QmHDBP9BIf+fA6XsJmWMYatN304Uv5/torJSHvaHtXn6AQIDAQAB\"","id":"f821508f-0ac4-4eb7-9f26-2cf76155c15c","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.160935ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArPeGlAhod8S+nh2FLaVkr2q/DcY9KmGlD/Gv2jtgJG0PyDCV8dXiisFkZjQ1x8dc5w5+OdEwlNaF14qGQ3IKGhBErs7s+AzDHtl5etRm+ezptIFGmQ5LJ9R3T1gYJujDCoypM3UZwtOXk4lAZKnuPM32kO0qWH4YWzTILazz7x4Wm+MloKSGZPSVyaDZ2rRo2ThnjUE5Ri+pq/LhDeL622pf23J/v6ermLw0g2HOsc+8WtJZv5OWjTEUBfZyMVlwz6tsPX/55G/0+/vxjE1Yktv5dldC1xd9eBA1aut0QmHDBP9BIf+fA6XsJmWMYatN304Uv5/torJSHvaHtXn6AQIDAQAB\"","id":"f821508f-0ac4-4eb7-9f26-2cf76155c15c","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.833778ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArPeGlAhod8S+nh2FLaVkr2q/DcY9KmGlD/Gv2jtgJG0PyDCV8dXiisFkZjQ1x8dc5w5+OdEwlNaF14qGQ3IKGhBErs7s+AzDHtl5etRm+ezptIFGmQ5LJ9R3T1gYJujDCoypM3UZwtOXk4lAZKnuPM32kO0qWH4YWzTILazz7x4Wm+MloKSGZPSVyaDZ2rRo2ThnjUE5Ri+pq/LhDeL622pf23J/v6ermLw0g2HOsc+8WtJZv5OWjTEUBfZyMVlwz6tsPX/55G/0+/vxjE1Yktv5dldC1xd9eBA1aut0QmHDBP9BIf+fA6XsJmWMYatN304Uv5/torJSHvaHtXn6AQIDAQAB\"","id":"f821508f-0ac4-4eb7-9f26-2cf76155c15c","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.988201ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"8172f953-7296-4775-8a32-41a985ae71e6","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.832905ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"8172f953-7296-4775-8a32-41a985ae71e6","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.272929ms
[...]
    - id: 30
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T120503Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx699cf174-ec9e-423f-b3fa-99b546e65f2c</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 823.142229ms
    - id: 31
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T120504Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx965502c5-7462-49dd-9782-d4ea4490393e</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 31.713554ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/19b77eeb-9f85-4d48-8a5f-467b96ed0d1f/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-07-31T12:05:02.978244Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArPeGlAhod8S+nh2FLaVkr2q/DcY9KmGlD/Gv2jtgJG0PyDCV8dXiisFkZjQ1x8dc5w5+OdEwlNaF14qGQ3IKGhBErs7s+AzDHtl5etRm+ezptIFGmQ5LJ9R3T1gYJujDCoypM3UZwtOXk4lAZKnuPM32kO0qWH4YWzTILazz7x4Wm+MloKSGZPSVyaDZ2rRo2ThnjUE5Ri+pq/LhDeL622pf23J/v6ermLw0g2HOsc+8WtJZv5OWjTEUBfZyMVlwz6tsPX/55G/0+/vxjE1Yktv5dldC1xd9eBA1aut0QmHDBP9BIf+fA6XsJmWMYatN304Uv5/torJSHvaHtXn6AQIDAQAB","id":"19b77eeb-9f85-4d48-8a5f-467b96ed0d1f","last_error":"failed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-07-31T12:06:06.756653Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.042434ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"domain_id":"19b77eeb-9f85-4d48-8a5f-467b96ed0d1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-07-31T12:06:20.178071Z","domain_id":"19b77eeb-9f85-4d48-8a5f-467b96ed0d1f","event_types":["email_delivered"],"id":"fb9af1c4-102e-4ddd-b211-c298bc206c81","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-07-31T12:06:20.178071Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.160442ms
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/fb9af1c4-102e-4ddd-b211-c298bc206c81
        method: GET
      response:
        body: '{"created_at":"2024-07-31T12:06:20.178071Z","domain_id":"19b77eeb-9f85-4d48-8a5f-467b96ed0d1f","event_types":["email_delivered"],"id":"fb9af1c4-102e-4ddd-b211-c298bc206c81","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-07-31T12:06:20.178071Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.186182ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=ca5758ce-7547-49a5-9f34-7cc4ec3f2bd2&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"ca5758ce-7547-49a5-9f34-7cc4ec3f2bd2","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.41041ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=f821508f-0ac4-4eb7-9f26-2cf76155c15c&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArPeGlAhod8S+nh2FLaVkr2q/DcY9KmGlD/Gv2jtgJG0PyDCV8dXiisFkZjQ1x8dc5w5+OdEwlNaF14qGQ3IKGhBErs7s+AzDHtl5etRm+ezptIFGmQ5LJ9R3T1gYJujDCoypM3UZwtOXk4lAZKnuPM32kO0qWH4YWzTILazz7x4Wm+MloKSGZPSVyaDZ2rRo2ThnjUE5Ri+pq/LhDeL622pf23J/v6ermLw0g2HOsc+8WtJZv5OWjTEUBfZyMVlwz6tsPX/55G/0+/vxjE1Yktv5dldC1xd9eBA1aut0QmHDBP9BIf+fA6XsJmWMYatN304Uv5/torJSHvaHtXn6AQIDAQAB\"","id":"f821508f-0ac4-4eb7-9f26-2cf76155c15c","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.76636ms
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=8172f953-7296-4775-8a32-41a985ae71e6&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"8172f953-7296-4775-8a32-41a985ae71e6","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.765844ms
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=7eddf126-5712-4b3b-8c40-fc7e8b8ae22b&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"7eddf126-5712-4b3b-8c40-fc7e8b8ae22b","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.638185ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"7eddf126-5712-4b3b-8c40-fc7e8b8ae22b"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.255738ms
[...]
    - id: 94
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T120624Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx0d54f42a-8035-44a7-8e57-806053721eb6</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 76.595997ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.367713ms
    - id: 101
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/19b77eeb-9f85-4d48-8a5f-467b96ed0d1f/revoke
        method: POST
      response:
[...]
