---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 933.169439ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.257656ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-08-29T13:19:14.342784Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-08-29T13:19:14.342784Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.684828ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-amazing-lovelace","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"kHESad4hv4gjMbVDrJo4","created_at":"2024-08-30T04:37:59.933641754Z","id":"7d6cc471-6426-4412-94c4-e91cd96828ba","name":"tf-sns-credentials-amazing-lovelace","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"cb01ae7d9562656cd2024058d4bd22a49bc15482","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.348946ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"c74949fd-79c3-475a-82d6-5a04a651506e","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.926648ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/7d6cc471-6426-4412-94c4-e91cd96828ba
        method: GET
      response:
        body: '{"access_key":"kHESad4hv4gjMbVDrJo4","created_at":"2024-08-30T04:37:59.933641Z","id":"7d6cc471-6426-4412-94c4-e91cd96828ba","name":"tf-sns-credentials-amazing-lovelace","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"cb01ae7d9562656cd2024058d4bd22a49bc15482","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.994379ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"c74949fd-79c3-475a-82d6-5a04a651506e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.619139ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"c74949fd-79c3-475a-82d6-5a04a651506e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.149461ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=c74949fd-79c3-475a-82d6-5a04a651506e&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"c74949fd-79c3-475a-82d6-5a04a651506e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.750228ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-08-30T04:37:59Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.091624ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:38:00.347597Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB","id":"92172e91-be71-42aa-93c1-d1f2a6f2719c","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-08-30T04:38:00.347593785Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.40378ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/92172e91-be71-42aa-93c1-d1f2a6f2719c
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:38:00.347597Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB","id":"92172e91-be71-42aa-93c1-d1f2a6f2719c","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.006728ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/92172e91-be71-42aa-93c1-d1f2a6f2719c/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:38:00.347597Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
    - id: 21
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240830T043800Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txf20a3dbe-904b-4757-8788-9a2f92791bc5</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 532.810892ms
    - id: 22
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240830T043800Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx90823ec1-e226-48c8-a170-a6e17a627d81</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 50.586966ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB\"","id":"57a02221-dfc8-4c84-b268-d6f04d55ab06","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.897956ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ab73f353-5f21-41bc-8de8-a968cb8d60ce","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.013524ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB\"","id":"57a02221-dfc8-4c84-b268-d6f04d55ab06","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.880364ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ab73f353-5f21-41bc-8de8-a968cb8d60ce","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.932233ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.tem.scaleway.com -all\"","id":"b4e63b81-f885-426a-a2ae-b43bd9d59348","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB\"","id":"57a02221-dfc8-4c84-b268-d6f04d55ab06","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ab73f353-5f21-41bc-8de8-a968cb8d60ce","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.390379ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.tem.scaleway.com -all\"","id":"b4e63b81-f885-426a-a2ae-b43bd9d59348","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB\"","id":"57a02221-dfc8-4c84-b268-d6f04d55ab06","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ab73f353-5f21-41bc-8de8-a968cb8d60ce","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.566814ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/92172e91-be71-42aa-93c1-d1f2a6f2719c/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:38:00.347597Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB","id":"92172e91-be71-42aa-93c1-d1f2a6f2719c","last_error":"no SPF record found\nfailed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-08-30T04:39:01.972634Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.340812ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"domain_id":"92172e91-be71-42aa-93c1-d1f2a6f2719c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-08-30T04:39:07.293621Z","domain_id":"92172e91-be71-42aa-93c1-d1f2a6f2719c","event_types":["email_delivered"],"id":"c13232e7-ac8b-45b4-b3fa-440d3d6331ee","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-08-30T04:39:07.293621Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.776635ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/c13232e7-ac8b-45b4-b3fa-440d3d6331ee
        method: GET
      response:
        body: '{"created_at":"2024-08-30T04:39:07.293621Z","domain_id":"92172e91-be71-42aa-93c1-d1f2a6f2719c","event_types":["email_delivered"],"id":"c13232e7-ac8b-45b4-b3fa-440d3d6331ee","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-08-30T04:39:07.293621Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.850061ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=c74949fd-79c3-475a-82d6-5a04a651506e&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"c74949fd-79c3-475a-82d6-5a04a651506e","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.564526ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=b4e63b81-f885-426a-a2ae-b43bd9d59348&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.tem.scaleway.com -all\"","id":"b4e63b81-f885-426a-a2ae-b43bd9d59348","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.104819ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=ab73f353-5f21-41bc-8de8-a968cb8d60ce&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"ab73f353-5f21-41bc-8de8-a968cb8d60ce","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.063717ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=57a02221-dfc8-4c84-b268-d6f04d55ab06&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxPJdaTJy7jXsnXI6YDxJb2asF18B9x9zOfBRKWEV8GdUctsOxdcWe+OupFtaMoApNjU4nofffyHp26SHiQvaAdWSe050928ei/V23ADK4dtAM5cgW3ENm2+Sh21tgSPbFWw6xTftQ2m7IkOwnXVfupeXhQI6sMzM3jfildyeHfLElI7AkHVkaD1QR1Cjj++z49Ap7YVjDFpY/+Bo4nZEuskTW7YPgUu3zfSQriE9MKTiwd0YjUSxUTW+86tQ9AVlcru6J65ATJOQ7+2scGU7+X3IcLgD1OgAOCwCO6++/Oml9MUvMM5HnnejRk0lWzbkZMjWMQS4ajaw1w6oWsD9RwIDAQAB\"","id":"57a02221-dfc8-4c84-b268-d6f04d55ab06","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.951039ms
[...]
    - id: 126
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"ab73f353-5f21-41bc-8de8-a968cb8d60ce"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.957409ms
[...]
    - id: 129
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240830T043918Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>txa8ec3cf3-fc9f-4fb7-97ff-b71e1ccde5e0</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 85.977941ms
[...]
    - id: 133
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
[...]
