---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=webhook-test.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.737042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.320162417s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.945709ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2025-11-24T09:25:31.538519Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-11-24T09:25:31.538519Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.121959ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-jolly-gauss","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"lhLQImntzQDUOtKVSijM","created_at":"2026-03-24T08:40:24.175489335Z","id":"4c957a7c-84bb-4d44-9e42-d2b08042d724","name":"tf-sns-credentials-jolly-gauss","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"c9df67d7c3080b755181260ffff66f3f8d7b43e2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-03-24T08:40:24.175489335Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.325667ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/4c957a7c-84bb-4d44-9e42-d2b08042d724
        method: GET
      response:
        body: '{"access_key":"lhLQImntzQDUOtKVSijM","created_at":"2026-03-24T08:40:24.175489Z","id":"4c957a7c-84bb-4d44-9e42-d2b08042d724","name":"tf-sns-credentials-jolly-gauss","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"c9df67d7c3080b755181260ffff66f3f8d7b43e2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-03-24T08:40:24.175489Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 521.222625ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"domain":"scaleway-terraform.com","subdomain":"webhook-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones
        method: POST
      response:
        body: '{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"webhook-test","updated_at":"2026-03-24T08:40:24Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.124625ms
[...]
    - id: 12
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 81b18213-985b-40b5-92b9-c9173d4dcd2e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260324T084025Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txeb8c9e02-851d-43ea-a9d7-d7ca37ce9254</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 163.290583ms
    - id: 13
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - aa6c5266-ceeb-44b2-80cb-c754f4d6c70c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260324T084025Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txe2297af9-7cd8-4f74-818c-164e5b50a5c6</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 27.476292ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"webhook-test.scaleway-terraform.com","accept_tos":true,"autoconfig":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T08:40:28.854862Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6tWfKXUwvf3+AFnKeS6v4yTrUDntl37okYcPM46GNMIpenLfuas5Mau0CpkmSm71+90fHz17V6slfp4GXWXtnDPNenyeovr1lf82tpbnEyJDVOmKJ/SO7kixVPPochmG2k0WsDTGR/BRKXIsAuOTSENdPWtNFft1osp2LvpPIH9g72AWlTaa3/GsEzI0n5pJ+EHH/ZIVPvtUpy364Gsj9nYmHTyb64PiYe8ydwIVs5vEwJ8ErHKFaFE/7qxhQKOtTx1bNzqLDdgFceaUqNwq/P2Fg1wb+GKcNvakc7uKIhv6qz9wwj6MHQKcxvvCqHlFOsZwJsxiEM38a9rbP/k2zQIDAQAB","id":"9b2c0132-1709-4571-a584-b2c532ca4f45","last_error":null,"last_valid_at":null,"name":"webhook-test.scaleway-terraform.com","next_check_at":"2026-03-24T08:40:28.765638Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dkim":{"name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.webhook-test.scaleway-terraform.com.","value":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6tWfKXUwvf3+AFnKeS6v4yTrUDntl37okYcPM46GNMIpenLfuas5Mau0CpkmSm71+90fHz17V6slfp4GXWXtnDPNenyeovr1lf82tpbnEyJDVOmKJ/SO7kixVPPochmG2k0WsDTGR/BRKXIsAuOTSENdPWtNFft1osp2LvpPIH9g72AWlTaa3/GsEzI0n5pJ+EHH/ZIVPvtUpy364Gsj9nYmHTyb64PiYe8ydwIVs5vEwJ8ErHKFaFE/7qxhQKOtTx1bNzqLDdgFceaUqNwq/P2Fg1wb+GKcNvakc7uKIhv6qz9wwj6MHQKcxvvCqHlFOsZwJsxiEM38a9rbP/k2zQIDAQAB"},"dmarc":{"name":"_dmarc.webhook-test.scaleway-terraform.com.","value":"v=DMARC1; p=none"},"mx":{"name":"webhook-test.scaleway-terraform.com.","value":"10 blackhole.tem.scaleway.com."},"spf":{"name":"webhook-test.scaleway-terraform.com.","value":"v=spf1 include:_spf.tem.scaleway.com -all"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2026-03-24T08:40:28.870356588Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"autoconfiguring"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.622561875s
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/9b2c0132-1709-4571-a584-b2c532ca4f45
        method: GET
      response:
        body: '{"autoconfig":true,"created_at":"2026-03-24T08:40:28.854862Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6tWfKXUwvf3+AFnKeS6v4yTrUDntl37okYcPM46GNMIpenLfuas5Mau0CpkmSm7[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"domain_id":"9b2c0132-1709-4571-a584-b2c532ca4f45","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered","email_dropped"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2026-03-24T08:40:30.429173Z","domain_id":"9b2c0132-1709-4571-a584-b2c532ca4f45","event_types":["email_delivered","email_dropped"],"id":"3d63c788-d3ad-4ee6-8c1b-00124354d212","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2026-03-24T08:40:30.429173Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.750792ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/3d63c788-d3ad-4ee6-8c1b-00124354d212
        method: GET
      response:
        body: '{"created_at":"2026-03-24T08:40:30.429173Z","domain_id":"9b2c0132-1709-4571-a584-b2c532ca4f45","event_types":["email_delivered","email_dropped"],"id":"3d63c788-d3ad-4ee6-8c1b-00124354d212","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2026-03-24T08:40:30.429173Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.538834ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/9b2c0132-1709-4571-a584-b2c532ca4f45/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T08:40:28.854862Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=webhook-test.scaleway-terraform.com&domain=&order_by=domain_asc&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"webhook-test","updated_at":"2026-03-24T08:41:28Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.867666ms
[...]
    - id: 75
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - c09af8e7-e974-4e4d-aa4b-99b7fbf8bb8b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260324T084150Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx8eda0843-ab4e-436f-b336-3ad86da72a13</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 33.922625ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/9b2c0132-1709-4571-a584-b2c532ca4f45/revoke
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2026-03-24T08:40:28.854862Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMII[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/9b2c0132-1709-4571-a584-b2c532ca4f45
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"domain","resource_id":"9b2c0132-1709-4571-a584-b2c532ca4f45","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 67.746542ms
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=webhook-test.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"webhook-test","updated_at":"2026-03-24T08:41:28Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.882583ms
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/webhook-test.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.101584ms
[...]
