---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 823.252861ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.181538ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-08-29T13:19:14.342784Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-08-29T13:19:14.342784Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.239711ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-gallant-nobel","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"IjzRRzg9oSZHv7lbBXG8","created_at":"2024-08-30T04:59:23.938804332Z","id":"8058cd5b-887d-406f-855e-36d9d9209cf6","name":"tf-sns-credentials-gallant-nobel","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"d7bdbb81283be41242515644765a1d0a0611f2fc","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.892377ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/8058cd5b-887d-406f-855e-36d9d9209cf6
        method: GET
      response:
        body: '{"access_key":"IjzRRzg9oSZHv7lbBXG8","created_at":"2024-08-30T04:59:23.938804Z","id":"8058cd5b-887d-406f-855e-36d9d9209cf6","name":"tf-sns-credentials-gallant-nobel","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"d7bdbb81283be41242515644765a1d0a0611f2fc","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.263916ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"dc97c415-02a8-432a-b7fa-50b0c64af0e9","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.517326ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"dc97c415-02a8-432a-b7fa-50b0c64af0e9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.109188ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:59:24.051438Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ETlSfOvwBp0XT3P7I2SPOxWhOxI/Czt7NQgRhta3V4t5pwx6h3RlQ93t2GEJoIzm6zFi3dGhmUmUsBaZWJp29DedgawH2kZhKYXkpYfPjfQGERJiqk472DpPhd5oWZyX/CBvu9qGLoQy9JK1BlfVoMjQqSAfLSZitmm3NTxyP6ggWL0hIfT94yU0HJgJIkidpKIHxmMyPyAW2QHZ+9TPG19yuGiDUn2aUTWAyM1Z9tvOMItRUQ+GBVtmomBugITTwVTRev+y/TBu8SaEfKe81UTWStlWJmOJHxSwXazwwhTpwJ3HSVx8VSWono8I8UuoXqG3XR/iyd+ZAcMQbP5rwIDAQAB","id":"3a51401f-d593-4e81-9c5b-422e5f17eee3","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-08-30T04:59:24.051435486Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.559547ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"dc97c415-02a8-432a-b7fa-50b0c64af0e9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.498264ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=dc97c415-02a8-432a-b7fa-50b0c64af0e9&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"dc97c415-02a8-432a-b7fa-50b0c64af0e9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.52029ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3a51401f-d593-4e81-9c5b-422e5f17eee3
        method: GET
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:59:24.051438Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ETlSfOvwBp0XT3P7I2SPOxWhOxI/Czt7NQgRhta3V4t5pwx6h3RlQ93t2GEJoIzm6zFi3dGhmUmUsBaZWJp29DedgawH2kZhKYXkpYfPjfQGERJiqk472DpPhd5oWZyX/CBvu9qGLoQy9JK1BlfVoMjQqSAfLSZitmm3NTxyP6ggWL0hIfT94yU0HJgJIkidpKIHxmMyPyAW2QHZ+9TPG19yuGiDUn2aUTWAyM1Z9tvOMItRUQ+GBVtmomBugITTwVTRev+y/TBu8SaEfKe81UTWStlWJmOJHxSwXazwwhTpwJ3HSVx8VSWono8I8UuoXqG3XR/iyd+ZAcMQbP5rwIDAQAB","id":"3a51401f-d593-4e81-9c5b-422e5f17eee3","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.060671ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-08-30T04:59:23Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.836685ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3a51401f-d593-4e81-9c5b-422e5f17eee3/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:59:24.051438Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.tem.scaleway.com -all\"","id":"8aa63a38-8b59-438f-b5cc-2fee144710d1","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.289128ms
[...]
    - id: 23
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240830T045924Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx2a3a53fc-ff09-4b45-91a5-f871405221e6</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 427.772438ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.tem.scaleway.com -all\"","id":"8aa63a38-8b59-438f-b5cc-2fee144710d1","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ETlSfOvwBp0XT3P7I2SPOxWhOxI/Czt7NQgRhta3V4t5pwx6h3RlQ93t2GEJoIzm6zFi3dGhmUmUsBaZWJp29DedgawH2kZhKYXkpYfPjfQGERJiqk472DpPhd5oWZyX/CBvu9qGLoQy9JK1BlfVoMjQqSAfLSZitmm3NTxyP6ggWL0hIfT94yU0HJgJIkidpKIHxmMyPyAW2QHZ+9TPG19yuGiDUn2aUTWAyM1Z9tvOMItRUQ+GBVtmomBugITTwVTRev+y/TBu8SaEfKe81UTWStlWJmOJHxSwXazwwhTpwJ3HSVx8VSWono8I8UuoXqG3XR/iyd+ZAcMQbP5rwIDAQAB\"","id":"42c9ac40-7001-4097-a309-4be0e0d4cd19","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.152819ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ETlSfOvwBp0XT3P7I2SPOxWhOxI/Czt7NQgRhta3V4t5pwx6h3RlQ93t2GEJoIzm6zFi3dGhmUmUsBaZWJp29DedgawH2kZhKYXkpYfPjfQGERJiqk472DpPhd5oWZyX/CBvu9qGLoQy9JK1BlfVoMjQqSAfLSZitmm3NTxyP6ggWL0hIfT94yU0HJgJIkidpKIHxmMyPyAW2QHZ+9TPG19yuGiDUn2aUTWAyM1Z9tvOMItRUQ+GBVtmomBugITTwVTRev+y/TBu8SaEfKe81UTWStlWJmOJHxSwXazwwhTpwJ3HSVx8VSWono8I8UuoXqG3XR/iyd+ZAcMQbP5rwIDAQAB\"","id":"42c9ac40-7001-4097-a309-4be0e0d4cd19","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.826603ms
    - id: 27
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240830T045924Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txbf928de1-2fb3-4d88-ae00-3790bd3c181f</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 42.625006ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"d440a184-0099-4442-a094-b89d7b346009","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.426955ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ETlSfOvwBp0XT3P7I2SPOxWhOxI/Czt7NQgRhta3V4t5pwx6h3RlQ93t2GEJoIzm6zFi3dGhmUmUsBaZWJp29DedgawH2kZhKYXkpYfPjfQGERJiqk472DpPhd5oWZyX/CBvu9qGLoQy9JK1BlfVoMjQqSAfLSZitmm3NTxyP6ggWL0hIfT94yU0HJgJIkidpKIHxmMyPyAW2QHZ+9TPG19yuGiDUn2aUTWAyM1Z9tvOMItRUQ+GBVtmomBugITTwVTRev+y/TBu8SaEfKe81UTWStlWJmOJHxSwXazwwhTpwJ3HSVx8VSWono8I8UuoXqG3XR/iyd+ZAcMQbP5rwIDAQAB\"","id":"42c9ac40-7001-4097-a309-4be0e0d4cd19","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.862827ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"d440a184-0099-4442-a094-b89d7b346009","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.640968ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3a51401f-d593-4e81-9c5b-422e5f17eee3/check
        method: POST
      response:
        body: '{"autoconfig":false,"created_at":"2024-08-30T04:59:24.051438Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ETlSfOvwBp0XT3P7I2SPOxWhOxI/Czt7NQgRhta3V4t5pwx6h3RlQ93t2GEJoIzm6zFi3dGhmUmUsBaZWJp29DedgawH2kZhKYXkpYfPjfQGERJiqk472DpPhd5oWZyX/CBvu9qGLoQy9JK1BlfVoMjQqSAfLSZitmm3NTxyP6ggWL0hIfT94yU0HJgJIkidpKIHxmMyPyAW2QHZ+9TPG19yuGiDUn2aUTWAyM1Z9tvOMItRUQ+GBVtmomBugITTwVTRev+y/TBu8SaEfKe81UTWStlWJmOJHxSwXazwwhTpwJ3HSVx8VSWono8I8UuoXqG3XR/iyd+ZAcMQbP5rwIDAQAB","id":"3a51401f-d593-4e81-9c5b-422e5f17eee3","last_error":"no SPF record found\nfailed lookup for TXT record on the DKIM selector \"105bdce1-64c0-48ab-899d-868455867ecf._domainkey.scaleway-terraform.com\": nxdomain\nno MX record found\nfailed lookup for TXT record on the DMARC selector \"_dmarc.scaleway-terraform.com\": nxdomain","last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":"2024-08-30T05:00:32.239053Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.tem.scaleway.com","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.668805ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"domain_id":"3a51401f-d593-4e81-9c5b-422e5f17eee3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered","email_dropped"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-08-30T05:00:50.858036Z","domain_id":"3a51401f-d593-4e81-9c5b-422e5f17eee3","event_types":["email_delivered","email_dropped"],"id":"e49c1730-deb4-4ef7-b5bf-eebc324a8bb1","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-08-30T05:00:50.858036Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 598.267015ms
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/e49c1730-deb4-4ef7-b5bf-eebc324a8bb1
        method: GET
      response:
        body: '{"created_at":"2024-08-30T05:00:50.858036Z","domain_id":"3a51401f-d593-4e81-9c5b-422e5f17eee3","event_types":["email_delivered","email_dropped"],"id":"e49c1730-deb4-4ef7-b5bf-eebc324a8bb1","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic","updated_at":"2024-08-30T05:00:50.858036Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.378236ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=dc97c415-02a8-432a-b7fa-50b0c64af0e9&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"dc97c415-02a8-432a-b7fa-50b0c64af0e9","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.419031ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=d440a184-0099-4442-a094-b89d7b346009&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"d440a184-0099-4442-a094-b89d7b346009","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.536089ms
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=42c9ac40-7001-4097-a309-4be0e0d4cd19&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3ETlSfOvwBp0XT3P7I2SPOxWhOxI/Czt7NQgRhta3V4t5pwx6h3RlQ93t2GEJoIzm6zFi3dGhmUmUsBaZWJp29DedgawH2kZhKYXkpYfPjfQGERJiqk472DpPhd5oWZyX/CBvu9qGLoQy9JK1BlfVoMjQqSAfLSZitmm3NTxyP6ggWL0hIfT94yU0HJgJIkidpKIHxmMyPyAW2QHZ+9TPG19yuGiDUn2aUTWAyM1Z9tvOMItRUQ+GBVtmomBugITTwVTRev+y/TBu8SaEfKe81UTWStlWJmOJHxSwXazwwhTpwJ3HSVx8VSWono8I8UuoXqG3XR/iyd+ZAcMQbP5rwIDAQAB\"","id":"42c9ac40-7001-4097-a309-4be0e0d4cd19","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.570103ms
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=8aa63a38-8b59-438f-b5cc-2fee144710d1&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.tem.scaleway.com -all\"","id":"8aa63a38-8b59-438f-b5cc-2fee144710d1","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.303076ms
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"8aa63a38-8b59-438f-b5cc-2fee144710d1"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.50171ms
[...]
    - id: 82
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240830T050055Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx8480ed6e-51ba-4076-93f5-a88b7028eef2</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 97.417353ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/3a51401f-d593-4e81-9c5b-422e5f17eee3/revoke
        method: POST
      response:
[...]
