---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects?name=default&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"projects":[{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 827.691474ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2019-09-30T07:52:49.358300Z","description":"","id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2020-05-03T19:41:17.997124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.384387ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-07-31T07:53:05.904413055Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T07:53:05.904413055Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.764978ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":".","name":"","priority":0,"ttl":3600,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"755f78d2-3e08-4a2c-baf0-7c898bc1010d","name":"","priority":0,"ttl":3600,"type":"MX"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.903934ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"created_at":"2024-07-31T07:53:05.904413Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-07-31T07:53:05.904413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.80449ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"755f78d2-3e08-4a2c-baf0-7c898bc1010d","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.183724ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-sns-credentials-nifty-kilby","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"AdhGFOVNwrHa7pEcGg5t","created_at":"2024-07-31T07:53:06.099931779Z","id":"da5913b5-a135-47a4-8421-dc3b3f374091","name":"tf-sns-credentials-nifty-kilby","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"5e01bd435c4e9dc7ef3977ea8bec77294dc43ae4","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.060063ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"755f78d2-3e08-4a2c-baf0-7c898bc1010d","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.588484ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/da5913b5-a135-47a4-8421-dc3b3f374091
        method: GET
      response:
        body: '{"access_key":"AdhGFOVNwrHa7pEcGg5t","created_at":"2024-07-31T07:53:06.099931Z","id":"da5913b5-a135-47a4-8421-dc3b3f374091","name":"tf-sns-credentials-nifty-kilby","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","secret_checksum":"5e01bd435c4e9dc7ef3977ea8bec77294dc43ae4","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.530107ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","domain_name":"scaleway-terraform.com","accept_tos":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains
        method: POST
      response:
        body: '{"created_at":"2024-07-31T07:53:06.152378Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WXUC3ldXJm8S23hzQHRJzdQ8LDa/siZmQkhPmWTQ/ol+RxvWCcfZ0sz+Qq1oJbV+uMYgxM5HPj4IvzdI9/6lkXp2CyGYklfsJcrjfTbyKn1oFt9GY8VtYXPaV+pWtmOR+XTN0xwv5Pgf43yLnRx7sjP3p1+Mqp21ZQiy/08hnbRcLWEXe4Luw+5wRvdFqtOVl91cV7fbEqQfyl5XJ0oMXU9lD/1Rdj6qXB0ltx0LfgJLq5n515Ug8mGQNueI0BoqPYsIB1hNlnxjxEyHifBWMgFqTXgKLpfjXQ0/B11F9botdFZD9zyt+1PRdcg0PqQ+Ln2VfbM92jqgQIDAQAB","id":"941fd183-eb49-4274-905e-19ab0e7daa97","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":{"previous_score":null,"previous_scored_at":null,"score":100,"scored_at":"2024-07-31T07:53:06.152375769Z","status":"excellent"},"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.868634ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=755f78d2-3e08-4a2c-baf0-7c898bc1010d&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"755f78d2-3e08-4a2c-baf0-7c898bc1010d","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.675446ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2024-07-31T07:53:05Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.15203ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/941fd183-eb49-4274-905e-19ab0e7daa97
        method: GET
      response:
        body: '{"created_at":"2024-07-31T07:53:06.152378Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WXUC3ldXJm8S23hzQHRJzdQ8LDa/siZmQkhPmWTQ/ol+RxvWCcfZ0sz+Qq1oJbV+uMYgxM5HPj4IvzdI9/6lkXp2CyGYklfsJcrjfTbyKn1oFt9GY8VtYXPaV+pWtmOR+XTN0xwv5Pgf43yLnRx7sjP3p1+Mqp21ZQiy/08hnbRcLWEXe4Luw+5wRvdFqtOVl91cV7fbEqQfyl5XJ0oMXU9lD/1Rdj6qXB0ltx0LfgJLq5n515Ug8mGQNueI0BoqPYsIB1hNlnxjxEyHifBWMgFqTXgKLpfjXQ0/B11F9botdFZD9zyt+1PRdcg0PqQ+Ln2VfbM92jqgQIDAQAB","id":"941fd183-eb49-4274-905e-19ab0e7daa97","last_error":null,"last_valid_at":null,"name":"scaleway-terraform.com","next_check_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","records":{"dmarc":{"name":"_dmarc","value":"v=DMARC1; p=none"}},"region":"fr-par","reputation":null,"revoked_at":null,"spf_config":"include:_spf.scw-tem.cloud","statistics":{"canceled_count":0,"failed_count":0,"sent_count":0,"total_count":0},"status":"unchecked"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.914971ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/941fd183-eb49-4274-905e-19ab0e7daa97/check
        method: POST
      response:
        body: '{"created_at":"2024-07-31T07:53:06.152378Z","dkim_config":"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WX[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b124ab03-6dfa-4bf7-8f25-1b0dd0600d57","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.012667ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WXUC3ldXJm8S23hzQHRJzdQ8LDa/siZmQkhPmWTQ/ol+RxvWCcfZ0sz+Qq1oJbV+uMYgxM5HPj4IvzdI9/6lkXp2CyGYklfsJcrjfTbyKn1oFt9GY8VtYXPaV+pWtmOR+XTN0xwv5Pgf43yLnRx7sjP3p1+Mqp21ZQiy/08hnbRcLWEXe4Luw+5wRvdFqtOVl91cV7fbEqQfyl5XJ0oMXU9lD/1Rdj6qXB0ltx0LfgJLq5n515Ug8mGQNueI0BoqPYsIB1hNlnxjxEyHifBWMgFqTXgKLpfjXQ0/B11F9botdFZD9zyt+1PRdcg0PqQ+Ln2VfbM92jqgQIDAQAB\"","id":"324d4436-594e-4aec-b63c-331a9274ce72","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.83783ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b124ab03-6dfa-4bf7-8f25-1b0dd0600d57","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.393762ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"323d7331-e4e0-4d54-925a-6b6b45cb0d91","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WXUC3ldXJm8S23hzQHRJzdQ8LDa/siZmQkhPmWTQ/ol+RxvWCcfZ0sz+Qq1oJbV+uMYgxM5HPj4IvzdI9/6lkXp2CyGYklfsJcrjfTbyKn1oFt9GY8VtYXPaV+pWtmOR+XTN0xwv5Pgf43yLnRx7sjP3p1+Mqp21ZQiy/08hnbRcLWEXe4Luw+5wRvdFqtOVl91cV7fbEqQfyl5XJ0oMXU9lD/1Rdj6qXB0ltx0LfgJLq5n515Ug8mGQNueI0BoqPYsIB1hNlnxjxEyHifBWMgFqTXgKLpfjXQ0/B11F9botdFZD9zyt+1PRdcg0PqQ+Ln2VfbM92jqgQIDAQAB\"","id":"324d4436-594e-4aec-b63c-331a9274ce72","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b124ab03-6dfa-4bf7-8f25-1b0dd0600d57","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.886419ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WXUC3ldXJm8S23hzQHRJzdQ8LDa/siZmQkhPmWTQ/ol+RxvWCcfZ0sz+Qq1oJbV+uMYgxM5HPj4IvzdI9/6lkXp2CyGYklfsJcrjfTbyKn1oFt9GY8VtYXPaV+pWtmOR+XTN0xwv5Pgf43yLnRx7sjP3p1+Mqp21ZQiy/08hnbRcLWEXe4Luw+5wRvdFqtOVl91cV7fbEqQfyl5XJ0oMXU9lD/1Rdj6qXB0ltx0LfgJLq5n515Ug8mGQNueI0BoqPYsIB1hNlnxjxEyHifBWMgFqTXgKLpfjXQ0/B11F9botdFZD9zyt+1PRdcg0PqQ+Ln2VfbM92jqgQIDAQAB\"","id":"324d4436-594e-4aec-b63c-331a9274ce72","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.592437ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"323d7331-e4e0-4d54-925a-6b6b45cb0d91","name":"","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WXUC3ldXJm8S23hzQHRJzdQ8LDa/siZmQkhPmWTQ/ol+RxvWCcfZ0sz+Qq1oJbV+uMYgxM5HPj4IvzdI9/6lkXp2CyGYklfsJcrjfTbyKn1oFt9GY8VtYXPaV+pWtmOR+XTN0xwv5Pgf43yLnRx7sjP3p1+Mqp21ZQiy/08hnbRcLWEXe4Luw+5wRvdFqtOVl91cV7fbEqQfyl5XJ0oMXU9lD/1Rdj6qXB0ltx0LfgJLq5n515Ug8mGQNueI0BoqPYsIB1hNlnxjxEyHifBWMgFqTXgKLpfjXQ0/B11F9botdFZD9zyt+1PRdcg0PqQ+Ln2VfbM92jqgQIDAQAB\"","id":"324d4436-594e-4aec-b63c-331a9274ce72","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"},{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b124ab03-6dfa-4bf7-8f25-1b0dd0600d57","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.911868ms
[...]
    - id: 34
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Attributes:
                - ""
            Name:
                - test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T075306Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx506a89fc-0f5d-493c-9070-3f2044b0ad43</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 768.947994ms
    - id: 35
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T075307Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-105bdce1-64c0-48ab-899d-868455867ecf</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txc0f2d85d-0dfa-407a-a350-f414a26f35c9</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 49.203752ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"domain_id":"941fd183-eb49-4274-905e-19ab0e7daa97","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"terraform-webhook-test","event_types":["email_delivered"],"sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks
        method: POST
      response:
        body: '{"created_at":"2024-07-31T07:53:15.116361Z","domain_id":"941fd183-eb49-4274-905e-19ab0e7daa97","event_types":["email_delivered"],"id":"fca8170b-84b8-43a2-bf8a-db4e3fb56f25","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-07-31T07:53:15.116361Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 419.329589ms
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/webhooks/fca8170b-84b8-43a2-bf8a-db4e3fb56f25
        method: GET
      response:
        body: '{"created_at":"2024-07-31T07:53:15.116361Z","domain_id":"941fd183-eb49-4274-905e-19ab0e7daa97","event_types":["email_delivered"],"id":"fca8170b-84b8-43a2-bf8a-db4e3fb56f25","name":"terraform-webhook-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","sns_arn":"arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update","updated_at":"2024-07-31T07:53:15.116361Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.061754ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=755f78d2-3e08-4a2c-baf0-7c898bc1010d&name=&order_by=name_asc&page=1&type=MX
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"0 .","id":"755f78d2-3e08-4a2c-baf0-7c898bc1010d","name":"","priority":0,"ttl":3600,"type":"MX"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.28625ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=b124ab03-6dfa-4bf7-8f25-1b0dd0600d57&name=_dmarc&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DMARC1; p=none\"","id":"b124ab03-6dfa-4bf7-8f25-1b0dd0600d57","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.666703ms
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=323d7331-e4e0-4d54-925a-6b6b45cb0d91&name=&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=spf1 include:_spf.scw-tem.cloud -all\"","id":"323d7331-e4e0-4d54-925a-6b6b45cb0d91","name":"","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.999806ms
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=324d4436-594e-4aec-b63c-331a9274ce72&name=105bdce1-64c0-48ab-899d-868455867ecf._domainkey&order_by=name_asc&page=1&type=TXT
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"\"v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAziZ5H+cc2WXUC3ldXJm8S23hzQHRJzdQ8LDa/siZmQkhPmWTQ/ol+RxvWCcfZ0sz+Qq1oJbV+uMYgxM5HPj4IvzdI9/6lkXp2CyGYklfsJcrjfTbyKn1oFt9GY8VtYXPaV+pWtmOR+XTN0xwv5Pgf43yLnRx7sjP3p1+Mqp21ZQiy/08hnbRcLWEXe4Luw+5wRvdFqtOVl91cV7fbEqQfyl5XJ0oMXU9lD/1Rdj6qXB0ltx0LfgJLq5n515Ug8mGQNueI0BoqPYsIB1hNlnxjxEyHifBWMgFqTXgKLpfjXQ0/B11F9botdFZD9zyt+1PRdcg0PqQ+Ln2VfbM92jqgQIDAQAB\"","id":"324d4436-594e-4aec-b63c-331a9274ce72","name":"105bdce1-64c0-48ab-899d-868455867ecf._domainkey","priority":0,"ttl":3600,"type":"TXT"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.316769ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"b124ab03-6dfa-4bf7-8f25-1b0dd0600d57"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.800992ms
[...]
    - id: 108
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-105bdce1-64c0-48ab-899d-868455867ecf%3Atest-mnq-sns-topic-update&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-105bdce1-64c0-48ab-899d-868455867ecf:test-mnq-sns-topic-update
            Version:
                - "2010-03-31"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            X-Amz-Date:
                - 20240731T075326Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>txefd12146-fe80-4193-b435-8c4f6d3d407a</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 73.457531ms
[...]
    - id: 113
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.613579ms
    - id: 114
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/transactional-email/v1alpha1/regions/fr-par/domains/941fd183-eb49-4274-905e-19ab0e7daa97/revoke
        method: POST
      response:
[...]
