---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-7347798382570354210\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\", \"name\":\"test-acc-scaleway-project-7347798382570354210\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T12:06:01.804280Z\", \"updated_at\":\"2025-11-20T12:06:01.804280Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 869.991358ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-1013711428211345490\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"eb813ab2-0817-47be-a2ee-ed1842db8ad9\", \"name\":\"test-acc-scaleway-iam-app-1013711428211345490\", \"description\":\"\", \"created_at\":\"2025-11-20T12:06:02.339380Z\", \"updated_at\":\"2025-11-20T12:06:02.339380Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 369.713712ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-5226637828137966272\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"eb813ab2-0817-47be-a2ee-ed1842db8ad9\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"7fb02381-ae59-4fde-ad65-64e3f9d43343\", \"name\":\"test-acc-scaleway-iam-policy-5226637828137966272\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T12:06:02.699396Z\", \"updated_at\":\"2025-11-20T12:06:02.699396Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"eb813ab2-0817-47be-a2ee-ed1842db8ad9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 316.672742ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"eb813ab2-0817-47be-a2ee-ed1842db8ad9\",\"default_project_id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWGE813S5CH00TSYZJB\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-20T12:06:03.007321Z\", \"updated_at\":\"2025-11-20T12:06:03.007321Z\", \"expires_at\":null, \"default_project_id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"212.133.41.37\", \"application_id\":\"eb813ab2-0817-47be-a2ee-ed1842db8ad9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 266.610799ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\",\"name\":\"scalewayDataSourceAuditTrailSecret\",\"tags\":null,\"description\":\"DataSourceAuditTrail test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"bd884257-abd9-4aa0-85bc-eea53f6e54f2\", \"project_id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T12:06:03.586019Z\", \"updated_at\":\"2025-11-20T12:06:03.586019Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceAuditTrail test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.942318ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bd884257-abd9-4aa0-85bc-eea53f6e54f2
    method: GET
  response:
    body: "{\"id\":\"bd884257-abd9-4aa0-85bc-eea53f6e54f2\", \"project_id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T12:06:03.586019Z\", \"updated_at\":\"2025-11-20T12:06:03.586019Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceAuditTrail test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.157294ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/bd884257-abd9-4aa0-85bc-eea53f6e54f2/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 131.252592ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      method_name:
      - CreateSecret
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=CreateSecret&order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 379.026515ms
- id: 10
  request:
    host: api.scaleway.com
    form:
      method_name:
      - CreateSecret
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=CreateSecret&order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019aa128-4a4a-79f8-aca4-bbc6f56db1aa\", \"recorded_at\":\"2025-11-20T12:06:03.593624077Z\", \"locality\":\"fr-par\", \"principal\":{\"id\":\"0b8cc93b-dfd2-4427-b674-8d27affb0334\"}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\", \"source_ip\":\"212.133.41.37\", \"user_agent\":\"scaleway-sdk-go/v1.0.0-beta.7+dev (go1.25.3; linux; amd64) terraform-provider/develop terraform/terraform-tests\", \"product_name\":\"secret-manager\", \"service_name\":\"scaleway.secret_manager.v1beta1.Api\", \"method_name\":\"CreateSecret\", \"request_id\":\"fdb2f5a0-2142-4257-ab5c-3da19958bbf2\", \"request_body\":{\"description\":\"DataSourceAuditTrail test description\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"path\":\"/\", \"project_id\":\"51a224b5-49c0-4798-9131-356c7920ce2e\", \"protected\":false, \"tags\":[], \"type\":\"opaque\"}, \"status_code\":200, \"resources\":[{\"id\":\"bd884257-abd9-4aa0-85bc-eea53f6e54f2\", \"type\":\"secret_manager_secret\", \"created_at\":\"2025-11-20T12:06:03.586019Z\", \"updated_at\":\"2025-11-20T12:06:03.586019Z\", \"deleted_at\":null, \"name\":\"scalewayDataSourceAuditTrailSecret\", \"secret_manager_secret_info\":{\"path\":\"/\"}}]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.01881ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_id:
      - bd884257-abd9-4aa0-85bc-eea53f6e54f2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&resource_id=bd884257-abd9-4aa0-85bc-eea53f6e54f2&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019aa128-4a4a-79f8-aca4-bbc6f56db1aa\", \"recorded_at\":\[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      recorded_after:
      - "2025-11-01T00:00:00Z"
      recorded_before:
      - "2025-11-01T10:00:00Z"
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&recorded_after=2025-11-01T00%3A00%3A00Z&recorded_before=2025-11-01T10%3A00%3A00Z&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 166.958933ms
- id: 15
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&resource_typ[...]
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
      status:
      - "200"
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-91[...]
- id: 18
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
      service_name:
      - scaleway.secret_manager.v1beta1.Api
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111[...]
[...]
- id: 20
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      product_name:
      - secret-manager
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&product_name=secr[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - secret_manager_secret
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&res[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&resource_type=[...]
- id: 23
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
      source_ip:
      - 212.133.41.37
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=51a224b5-4[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      principal_id:
      - 0b8cc93b-dfd2-4427-b674-8d27affb0334
      project_id:
      - 51a224b5-49c0-4798-9131-356c7920ce2e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&principal_id=0b8cc93b-dfd2-4427-b674-8d27affb0334&project_id=51a224b5-49c0-4798-9131-356c7920ce2e&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"[...]
[...]
- id: 57
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 233.815433ms
- id: 58
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/7fb02381-ae59-4fde-ad65-64e3f9d43343
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 338.110193ms
- id: 59
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/eb813ab2-0817-47be-a2ee-ed1842db8ad9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 198.880725ms
- id: 60
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/51a224b5-49c0-4798-9131-356c7920ce2e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.644316026s
