---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-6140646650981259830\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\", \"name\":\"test-acc-scaleway-project-6140646650981259830\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T15:39:57.339894Z\", \"updated_at\":\"2025-11-17T15:39:57.339894Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 646.928518ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-8053323351462598461\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"9f10efd0-2acf-4b54-8389-96e7e1a707cb\", \"name\":\"test-acc-scaleway-iam-app-8053323351462598461\", \"description\":\"\", \"created_at\":\"2025-11-17T15:39:57.778469Z\", \"updated_at\":\"2025-11-17T15:39:57.778469Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 187.633138ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-6688288908813754972\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"9f10efd0-2acf-4b54-8389-96e7e1a707cb\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"4e2ac864-1560-483a-902e-9080bda7a888\", \"name\":\"test-acc-scaleway-iam-policy-6688288908813754972\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T15:39:57.991646Z\", \"updated_at\":\"2025-11-17T15:39:57.991646Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"9f10efd0-2acf-4b54-8389-96e7e1a707cb\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 304.67754ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"9f10efd0-2acf-4b54-8389-96e7e1a707cb\",\"default_project_id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWJEZSVTFZJWR0WT5RF\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T15:39:58.434691Z\", \"updated_at\":\"2025-11-17T15:39:58.434691Z\", \"expires_at\":null, \"default_project_id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"9f10efd0-2acf-4b54-8389-96e7e1a707cb\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 366.401765ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\",\"name\":\"scalewayDataSourceAuditTrailSecret\",\"tags\":null,\"description\":\"DataSourceAuditTrail test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"9196316b-be62-4fd5-bade-b654d76db148\", \"project_id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-17T15:39:59.001304Z\", \"updated_at\":\"2025-11-17T15:39:59.001304Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceAuditTrail test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 243.456548ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9196316b-be62-4fd5-bade-b654d76db148
    method: GET
  response:
    body: "{\"id\":\"9196316b-be62-4fd5-bade-b654d76db148\", \"project_id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-17T15:39:59.001304Z\", \"updated_at\":\"2025-11-17T15:39:59.001304Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceAuditTrail test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.006304ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9196316b-be62-4fd5-bade-b654d76db148/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.62179ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      method_name:
      - CreateSecret
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=CreateSecret&order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019a9279-10a6-7bb5-a77a-038231ef61b0\", \"recorded_at\":\"2025-11-17T15:39:59.013747457Z\", \"locality\":\"fr-par\", \"principal\":{\"id\":\"0b8cc93b-dfd2-4427-b674-8d27affb0334\"}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\", \"source_ip\":\"51.159.46.153\", \"user_agent\":\"scaleway-sdk-go/v1.0.0-beta.7+dev (go1.25.3; linux; amd64) terraform-provider/develop terraform/terraform-tests\", \"product_name\":\"secret-manager\", \"service_name\":\"scaleway.secret_manager.v1beta1.Api\", \"method_name\":\"CreateSecret\", \"request_id\":\"e8ac3d0b-3f5a-4253-9d25-f068315a5371\", \"request_body\":{\"description\":\"DataSourceAuditTrail test description\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"path\":\"/\", \"project_id\":\"dc0cfde0-b3f6-4a70-bab7-042b2adbcee2\", \"protected\":false, \"tags\":[], \"type\":\"opaque\"}, \"status_code\":200, \"resources\":[{\"id\":\"9196316b-be62-4fd5-bade-b654d76db148\", \"type\":\"secret_manager_secret\", \"created_at\":\"2025-11-17T15:39:59.001304Z\", \"updated_at\":\"2025-11-17T15:39:59.001304Z\", \"deleted_at\":null, \"name\":\"scalewayDataSourceAuditTrailSecret\", \"secret_manager_secret_info\":{\"path\":\"/\"}}]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.547864ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
      status:
      - "200"
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-ba[...]
- id: 13
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&resource_type=[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      recorded_after:
      - "2025-11-17T16:29:58+01:00"
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&recorded_after=2025-11-17T16%3A29%3A58%2B01%3A00&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019a9279-10a6-7bb5-a77a-038231ef61b0\", \"recorded_at\":\"2025-11-[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_id:
      - 9196316b-be62-4fd5-bade-b654d76db148
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&resource_id=9196316b-be62-4fd5-bade-b654d76db148&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019a9279-10a6-7bb5-a77a-038231ef61b0\", \"recorded_at\":\[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
      service_name:
      - scaleway.secret_manager.v1beta1.Api
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - secret_manager_secret
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&res[...]
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&resource_typ[...]
- id: 20
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      product_name:
      - secret-manager
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&product_name=secr[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      recorded_before:
      - "2025-11-17T16:09:58+01:00"
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&recorded_before=2025-11-17T16%3A09%3A58%2B01%3A00&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.627501ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
      source_ip:
      - 51.159.46.153
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dc0cfde0-b[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      principal_id:
      - 0b8cc93b-dfd2-4427-b674-8d27affb0334
      project_id:
      - dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&principal_id=0b8cc93b-dfd2-4427-b674-8d27affb0334&project_id=dc0cfde0-b3f6-4a70-bab7-042b2adbcee2&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"[...]
[...]
- id: 59
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 156.028767ms
- id: 60
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4e2ac864-1560-483a-902e-9080bda7a888
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 274.463351ms
- id: 61
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9f10efd0-2acf-4b54-8389-96e7e1a707cb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 246.564133ms
- id: 62
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/dc0cfde0-b3f6-4a70-bab7-042b2adbcee2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.719273789s
