---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-4655653692067232878\",\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"name\":\"test-acc-scaleway-project-4655653692067232878\",\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\",\"created_at\":\"2025-11-07T15:58:17.198545Z\",\"updated_at\":\"2025-11-07T15:58:17.198545Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 425.623189ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-4105553045400918097\",\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"b4a88594-ebeb-4ce4-ae8b-7d3708ea5627\",\"name\":\"test-acc-scaleway-iam-app-4105553045400918097\",\"description\":\"\",\"created_at\":\"2025-11-07T15:58:17.472689Z\",\"updated_at\":\"2025-11-07T15:58:17.472689Z\",\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.997463ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-1621778848493574723\",\"description\":\"\",\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\"}],\"tags\":null,\"application_id\":\"b4a88594-ebeb-4ce4-ae8b-7d3708ea5627\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"1a56981f-445a-4394-a8f0-b26ac2f235fb\",\"name\":\"test-acc-scaleway-iam-policy-1621778848493574723\",\"description\":\"\",\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\",\"created_at\":\"2025-11-07T15:58:17.591852Z\",\"updated_at\":\"2025-11-07T15:58:17.591852Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"b4a88594-ebeb-4ce4-ae8b-7d3708ea5627\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 150.271641ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"b4a88594-ebeb-4ce4-ae8b-7d3708ea5627\",\"default_project_id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWPM3YZC11EF94NC85Z\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-11-07T15:58:17.765830Z\",\"updated_at\":\"2025-11-07T15:58:17.765830Z\",\"expires_at\":null,\"default_project_id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.46.153\",\"application_id\":\"b4a88594-ebeb-4ce4-ae8b-7d3708ea5627\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.358795ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"name\":\"scalewayDataSourceAuditTrailSecret\",\"tags\":null,\"description\":\"DataSourceAuditTrail test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"f184b15d-bb67-4215-91f7-82d565104954\",\"project_id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"name\":\"scalewayDataSourceAuditTrailSecret\",\"status\":\"ready\",\"created_at\":\"2025-11-07T15:58:18.253777Z\",\"updated_at\":\"2025-11-07T15:58:18.253777Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceAuditTrail test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.250931ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f184b15d-bb67-4215-91f7-82d565104954
    method: GET
  response:
    body: "{\"id\":\"f184b15d-bb67-4215-91f7-82d565104954\",\"project_id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"name\":\"scalewayDataSourceAuditTrailSecret\",\"status\":\"ready\",\"created_at\":\"2025-11-07T15:58:18.253777Z\",\"updated_at\":\"2025-11-07T15:58:18.253777Z\",\"tags\":[],\"version_count\":0,\"description\":\"DataSourceAuditTrail test description\",\"managed\":false,\"type\":\"opaque\",\"protected\":false,\"path\":\"/\",\"ephemeral_policy\":null,\"used_by\":[],\"deletion_requested_at\":null,\"key_id\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 63.629455ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f184b15d-bb67-4215-91f7-82d565104954/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.115505ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      method_name:
      - CreateSecret
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=CreateSecret&order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 75.895532ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    form:
      method_name:
      - CreateSecret
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=CreateSecret&order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019a5f0a-3e9d-7a68-8b14-1b02869cabeb\",\"recorded_at\":\"2025-11-07T15:58:18.267278744Z\",\"locality\":\"fr-par\",\"principal\":{\"id\":\"aa669c52-3448-42fb-94ba-f6350a4278d8\"},\"organization_id\":\"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e\",\"project_id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"source_ip\":\"51.159.46.153\",\"user_agent\":\"scaleway-sdk-go/v1.0.0-beta.7+dev (go1.25.3; linux; amd64) terraform-provider/develop terraform/terraform-tests\",\"product_name\":\"secret-manager\",\"service_name\":\"scaleway.secret_manager.v1beta1.Api\",\"method_name\":\"CreateSecret\",\"request_id\":\"0246da22-bfd8-4269-8b0b-49e132983a7e\",\"request_body\":{\"description\":\"DataSourceAuditTrail test description\",\"name\":\"scalewayDataSourceAuditTrailSecret\",\"path\":\"/\",\"project_id\":\"4ee61c1a-9c7f-40df-b234-861bf9dbc745\",\"protected\":false,\"tags\":[],\"type\":\"opaque\"},\"status_code\":200,\"resources\":[{\"id\":\"f184b15d-bb67-4215-91f7-82d565104954\",\"type\":\"secret_manager_secret\",\"created_at\":\"2025-11-07T15:58:18.253777Z\",\"updated_at\":\"2025-11-07T15:58:18.253777Z\",\"deleted_at\":null,\"name\":\"scalewayDataSourceAuditTrailSecret\",\"secret_manager_secret_info\":{\"path\":\"/\"}}]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.050571ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&resource_typ[...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - secret_manager_secret
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&res[...]
[...]
- id: 30
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_id:
      - f184b15d-bb67-4215-91f7-82d565104954
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&resource_id=f184b15d-bb67-4215-91f7-82d565104954&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019a5f0a-3e9d-7a68-8b14-1b02869cabeb\",\"recorded_at\":\"[...]
[...]
- id: 38
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      product_name:
      - secret-manager
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&product_name=secr[...]
[...]
- id: 46
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
      service_name:
      - scaleway.secret_manager.v1beta1.Api
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111[...]
[...]
- id: 63
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      principal_id:
      - aa669c52-3448-42fb-94ba-f6350a4278d8
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&principal_id=aa669c52-3448-42fb-94ba-f6350a4278d8&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"[...]
[...]
- id: 74
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
      source_ip:
      - 51.159.46.153
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9[...]
[...]
- id: 84
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
      status:
      - "200"
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b2[...]
[...]
- id: 92
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      recorded_after:
      - "2025-11-07T16:48:17+01:00"
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&recorded_after=2025-11-07T16%3A48%3A17%2B01%3A00&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019a5f0a-3e9d-7a68-8b14-1b02869cabeb\",\"recorded_at\":\"2025-11-0[...]
[...]
- id: 100
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      recorded_before:
      - "2025-11-07T16:28:17+01:00"
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&recorded_before=2025-11-07T16%3A28%3A17%2B01%3A00&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 68.146689ms
[...]
- id: 108
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_asc
      organization_id:
      - 57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e
      project_id:
      - 4ee61c1a-9c7f-40df-b234-861bf9dbc745
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=4ee61c1a-9c7f-40df-b234-861bf9dbc745&resource_type[...]
[...]
- id: 119
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 80.835978ms
- id: 120
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/1a56981f-445a-4394-a8f0-b26ac2f235fb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 70.013657ms
- id: 121
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b4a88594-ebeb-4ce4-ae8b-7d3708ea5627
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 63.250834ms
- id: 122
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/4ee61c1a-9c7f-40df-b234-861bf9dbc745
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.411764187s
