---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-1025590460721265996\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\", \"name\":\"test-acc-scaleway-project-1025590460721265996\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T11:11:22.244260Z\", \"updated_at\":\"2025-11-20T11:11:22.244260Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.289153675s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-9179245367276256050\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"9143f095-1caf-4baf-b025-7349be04b3d7\", \"name\":\"test-acc-scaleway-iam-app-9179245367276256050\", \"description\":\"\", \"created_at\":\"2025-11-20T11:11:22.860870Z\", \"updated_at\":\"2025-11-20T11:11:22.860870Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 408.662673ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-8022518720956197059\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"9143f095-1caf-4baf-b025-7349be04b3d7\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"7b98ffd3-8356-4a8e-b6f1-b4a8bb8f11c3\", \"name\":\"test-acc-scaleway-iam-policy-8022518720956197059\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-20T11:11:23.243493Z\", \"updated_at\":\"2025-11-20T11:11:23.243493Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"9143f095-1caf-4baf-b025-7349be04b3d7\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 392.174935ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"9143f095-1caf-4baf-b025-7349be04b3d7\",\"default_project_id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWAX43AN74D4TAGE4Z3\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-20T11:11:23.691413Z\", \"updated_at\":\"2025-11-20T11:11:23.691413Z\", \"expires_at\":null, \"default_project_id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"212.133.41.37\", \"application_id\":\"9143f095-1caf-4baf-b025-7349be04b3d7\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 386.81227ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\",\"name\":\"scalewayDataSourceAuditTrailSecret\",\"tags\":null,\"description\":\"DataSourceAuditTrail test description\",\"type\":\"opaque\",\"path\":\"/\",\"protected\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: "{\"id\":\"8e8638bb-41e9-4168-82fa-9229fb73d608\", \"project_id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T11:11:24.412353Z\", \"updated_at\":\"2025-11-20T11:11:24.412353Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceAuditTrail test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 298.670556ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8e8638bb-41e9-4168-82fa-9229fb73d608
    method: GET
  response:
    body: "{\"id\":\"8e8638bb-41e9-4168-82fa-9229fb73d608\", \"project_id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"status\":\"ready\", \"created_at\":\"2025-11-20T11:11:24.412353Z\", \"updated_at\":\"2025-11-20T11:11:24.412353Z\", \"tags\":[], \"version_count\":0, \"description\":\"DataSourceAuditTrail test description\", \"managed\":false, \"type\":\"opaque\", \"protected\":false, \"path\":\"/\", \"ephemeral_policy\":null, \"used_by\":[], \"deletion_requested_at\":null, \"key_id\":null, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.413466ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8e8638bb-41e9-4168-82fa-9229fb73d608/versions?page=1
    method: GET
  response:
    body: "{\"versions\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.064034ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      method_name:
      - CreateSecret
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?method_name=CreateSecret&order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dccbdd74-282a-4d70-8290-c0ed7e48d396&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019aa0f6-4113-702d-9b5c-8c747d629720\", \"recorded_at\":\"2025-11-20T11:11:24.434037252Z\", \"locality\":\"fr-par\", \"principal\":{\"id\":\"0b8cc93b-dfd2-4427-b674-8d27affb0334\"}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\", \"source_ip\":\"212.133.41.37\", \"user_agent\":\"scaleway-sdk-go/v1.0.0-beta.7+dev (go1.25.3; linux; amd64) terraform-provider/develop terraform/terraform-tests\", \"product_name\":\"secret-manager\", \"service_name\":\"scaleway.secret_manager.v1beta1.Api\", \"method_name\":\"CreateSecret\", \"request_id\":\"cc19b374-3b0b-433f-8d35-c7a87b35c735\", \"request_body\":{\"description\":\"DataSourceAuditTrail test description\", \"name\":\"scalewayDataSourceAuditTrailSecret\", \"path\":\"/\", \"project_id\":\"dccbdd74-282a-4d70-8290-c0ed7e48d396\", \"protected\":false, \"tags\":[], \"type\":\"opaque\"}, \"status_code\":200, \"resources\":[{\"id\":\"8e8638bb-41e9-4168-82fa-9229fb73d608\", \"type\":\"secret_manager_secret\", \"created_at\":\"2025-11-20T11:11:24.412353Z\", \"updated_at\":\"2025-11-20T11:11:24.412353Z\", \"deleted_at\":null, \"name\":\"scalewayDataSourceAuditTrailSecret\", \"secret_manager_secret_info\":{\"path\":\"/\"}}]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 177.784854ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      product_name:
      - secret-manager
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&product_name=secr[...]
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
      status:
      - "200"
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dccbdd74-282a-4d70-82[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_asc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dccbdd74-282a-4d70-8290-c0ed7e48d396&resource_type=[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
      service_name:
      - scaleway.secret_manager.v1beta1.Api
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_id:
      - 8e8638bb-41e9-4168-82fa-9229fb73d608
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dccbdd74-282a-4d70-8290-c0ed7e48d396&resource_id=8e8638bb-41e9-4168-82fa-9229fb73d608&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"id\":\"019aa0f6-4113-702d-9b5c-8c747d629720\", \"recorded_at\":\[...]
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dccbdd74-282a-4d70-8290-c0ed7e48d396&resource_typ[...]
- id: 20
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - secret_manager_secret
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dccbdd74-282a-4d70-8290-c0ed7e48d396&res[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
      source_ip:
      - 212.133.41.37
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&project_id=dccbdd74-2[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      order_by:
      - recorded_at_desc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      principal_id:
      - 0b8cc93b-dfd2-4427-b674-8d27affb0334
      project_id:
      - dccbdd74-282a-4d70-8290-c0ed7e48d396
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/audit-trail/v1alpha1/regions/fr-par/events?order_by=recorded_at_desc&organization_id=11111111-1111-1111-1111-111111111111&principal_id=0b8cc93b-dfd2-4427-b674-8d27affb0334&project_id=dccbdd74-282a-4d70-8290-c0ed7e48d396&resource_type=unknown_type
    method: GET
  response:
    body: "{\"events\":[{\"[...]
[...]
- id: 53
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 291.128989ms
- id: 54
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/7b98ffd3-8356-4a8e-b6f1-b4a8bb8f11c3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 288.234728ms
- id: 55
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9143f095-1caf-4baf-b025-7349be04b3d7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 302.821481ms
- id: 56
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/dccbdd74-282a-4d70-8290-c0ed7e48d396
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.681682962s
