{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "Baremetal"
page_title: "Scaleway: scaleway_baremetal_server_action"
---

# scaleway_baremetal_server_action (Action)

{{ .SchemaMarkdown }}
