{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "Cockpit"
page_title: "Scaleway: scaleway_cockpit_sync_grafana_data_sources_action"
---

# scaleway_cockpit_sync_grafana_data_sources_action (Action)

{{ .SchemaMarkdown }}

