{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "Cockpit"
page_title: "Scaleway: scaleway_cockpit_reset_grafana_user_password_action"
---

# scaleway_cockpit_reset_grafana_user_password_action (Action)

{{ .SchemaMarkdown }}

