{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "IAM"
page_title: "Scaleway: scaleway_iam_update_saml_configuration"
---

# Action: scaleway_iam_update_saml_configuration

{{ .Description }}

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}

{{ end -}}

{{ .SchemaMarkdown }}
