{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "Instances"
page_title: "Scaleway: scaleway_instance_server_action"
---

# scaleway_instance_server_action (Action)

{{ .Description }}

{{ .SchemaMarkdown }}
