{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "Jobs"
page_title: "Scaleway: {{ .Name }}"
---

# {{ .Name }} (Action)

{{ .Description }}

{{ .SchemaMarkdown }}
~> **Important:** If both command and startup_command are provided, only startup_command will be used.
