{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "MongoDB"
page_title: "Scaleway: {{ .Name }}"
---

# {{ .Name }} (Action)

{{ .Description }}

{{ .SchemaMarkdown }}
