{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "MongoDB"
page_title: "Scaleway: scaleway_mongodb_instance_snapshot_action"
---

# scaleway_mongodb_instance_snapshot_action (Action)

{{ .SchemaMarkdown }}
