{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "RDB"
page_title: "Scaleway: scaleway_rdb_instance_snapshot_action"
---

# scaleway_rdb_instance_snapshot_action (Action)

{{ .Description }}

{{ .SchemaMarkdown }}

