{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "Redis"
page_title: "Scaleway: scaleway_redis_cluster_renew_certificate_action"
---

# scaleway_redis_cluster_renew_certificate_action (Action)

{{ .SchemaMarkdown }}

