{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "S2S VPN"
page_title: "Scaleway: {{ .Name }}"
---

# {{ .Name }} (Action)

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/scaleway_s2s_vpn_connection/action-disable-route-propagation.tf" }}

{{ .SchemaMarkdown }}
