{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "VPC"
page_title: "Scaleway: scaleway_vpcgw_refresh_ssh_keys_action"
---

# scaleway_vpcgw_refresh_ssh_keys_action (Action)

{{ .SchemaMarkdown }}
