{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ActionTemplateType */ -}}
---
subcategory: "VPC"
page_title: "Scaleway: scaleway_vpc_public_gateway_refresh_ssh_keys_action"
---

# scaleway_vpc_public_gateway_refresh_ssh_keys_action (Action)

{{ .Description }}

{{ .SchemaMarkdown }}
