---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_focal
      order_by:
      - type_asc
      type:
      - instance_local
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"a02f91b9-de8a-4bd5-8f95-d79cb7d39806\", \"arch\":\"x86_64\", \"zone\":\"fr-par-1\", \"compatible_commercial_types\":[\"DEV1-L\", \"DEV1-M\", \"DEV1-S\", \"DEV1-XL\", \"GP1-L\", \"GP1-M\", \"GP1-S\", \"GP1-XL\", \"GP1-XS\", \"STARDUST1-S\", \"START1-L\", \"START1-M\", \"START1-S\", \"START1-XS\", \"VC1L\", \"VC1M\", \"VC1S\", \"X64-120GB\", \"X64-15GB\", \"X64-30GB\", \"X64-60GB\"], \"label\":\"ubuntu_focal\", \"type\":\"instance_local\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.757311ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a02f91b9-de8a-4bd5-8f95-d79cb7d39806
    method: GET
  response:
    body: "{\"image\": {\"id\": \"a02f91b9-de8a-4bd5-8f95-d79cb7d39806\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"e4e93065-045d-4e87-a627-068300e27a10\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:19:27.841572+00:00\", \"modification_date\": \"2025-09-12T09:19:27.841572+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 40.224659ms
[...]
