---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_focal
      order_by:
      - type_asc
      type:
      - instance_sbs
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=instance_sbs&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"066aa37f-004d-417d-9506-323c63f3ec8a\",\"arch\":\"arm64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"COPARM1-2C-8G\",\"COPARM1-4C-16G\",\"COPARM1-8C-32G\",\"COPARM1-16C-64G\",\"COPARM1-32C-128G\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_sbs\"},{\"id\":\"7f30a934-2f17-4868-b3a3-eb7a8b90792e\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\",\"ENT1-XXS\",\"ENT1-XS\",\"ENT1-S\",\"ENT1-M\",\"ENT1-L\",\"ENT1-XL\",\"ENT1-2XL\",\"PRO2-XXS\",\"PRO2-XS\",\"PRO2-S\",\"PRO2-M\",\"PRO2-L\",\"STARDUST1-S\",\"PLAY2-MICRO\",\"PLAY2-NANO\",\"PLAY2-PICO\",\"POP2-2C-8G\",\"POP2-4C-16G\",\"POP2-8C-32G\",\"POP2-16C-64G\",\"POP2-32C-128G\",\"POP2-48C-192G\",\"POP2-64C-256G\",\"POP2-HM-2C-16G\",\"POP2-HM-4C-32G\",\"POP2-HM-8C-64G\",\"POP2-HM-16C-128G\",\"POP2-HM-32C-256G\",\"POP2-HM-48C-384G\",\"POP2-HM-64C-512G\",\"POP2-HC-2C-4G\",\"POP2-HC-4C-8G\",\"POP2-HC-8C-16G\",\"POP2-HC-16C-32G\",\"POP2-HC-32C-64G\",\"POP2-HC-48C-96G\",\"POP2-HC-64C-128G\",\"POP2-HN-3\",\"POP2-HN-5\",\"POP2-HN-10\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_sbs\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 608.877595ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/7f30a934-2f17-4868-b3a3-eb7a8b90792e
    method: GET
  response:
    body: "{\"image\": {\"id\": \"7f30a934-2f17-4868-b3a3-eb7a8b90792e\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"71053b19-ee07-4a0f-ba0f-4764557f6b87\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-06-25T15:47:55.405944+00:00\", \"modification_date\": \"2025-06-25T15:47:55.405944+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.155949ms
[...]
