{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ResourceTemplateType */ -}}
---
subcategory: "Datalab"
page_title: "Scaleway: scaleway_datalab"
---

# scaleway_datalab (Data Source)

Retrieves information about a Scaleway Datalab instance.

## Example Usage

```terraform
data "scaleway_datalab" "by_id" {
  datalab_id = scaleway_datalab.main.id
}

data "scaleway_datalab" "by_name" {
  name    = "my-datalab"
  region  = "fr-par"
}
```

## Argument Reference

- `datalab_id` - (Optional) The ID of the Datalab instance to look up. Only one of `datalab_id` and `name` should be specified.
- `name` - (Optional) The name of the Datalab instance to look up. Only one of `datalab_id` and `name` should be specified.
- `project_id` - (Optional) The project ID the Datalab belongs to.
- `region` - (Defaults to [provider](../index.md#region) `region`) The region the Datalab is in.

## Attributes Reference

Exported attributes are the ones from `scaleway_datalab` [resource](../resources/datalab.md).
