{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ResourceTemplateType */ -}}
---
subcategory: "Edge Services"
page_title: "Scaleway: {{ .Name }}"
---

# {{ .Name }} (Data Source)

{{ .Description -}}

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}

{{ end -}}

## Argument Reference

One of `cache_stage_id` or filter arguments must be specified.

- `cache_stage_id` - (Optional) The ID of the cache stage. Conflicts with all filter arguments below.

The following filter arguments are supported (cannot be used with `cache_stage_id`):

- `pipeline_id` - (Required when `cache_stage_id` is not set) The ID of the pipeline.

## Attributes Reference

Exported attributes are the ones from `scaleway_edge_services_cache_stage` [resource](../resources/edge_services_cache_stage.md).
