{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ResourceTemplateType */ -}}
---
subcategory: "Interlink"
page_title: "Scaleway: {{ .Name }}"
---

# {{ .Name }} (Data Source)

{{ .Description }}

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}


{{ end -}}

## Argument Reference

- `name` - (Optional) PoP name to filter for.
- `hosting_provider_name` - (Optional) Hosting provider name to filter for.
- `partner_id` - (Optional) Filter for PoPs hosting an available shared connection from this partner.
- `link_bandwidth_mbps` - (Optional) Filter for PoPs with a shared connection allowing this bandwidth size.
- `dedicated_available` - (Optional) Filter for PoPs with a dedicated connection available for self-hosted links.
- `region` - (Defaults to [provider](../index.md#region) `region`) The [region](../guides/regions_and_zones.md#regions) to list PoPs from.

## Attributes Reference

- `pops` - List of PoPs matching the filters. Each entry contains:
    - `id` - ID of the PoP.
    - `name` - Name of the PoP.
    - `hosting_provider_name` - Name of the PoP's hosting provider.
    - `address` - Physical address of the PoP.
    - `city` - City where the PoP is located.
    - `logo_url` - URL of the PoP's logo.
    - `available_link_bandwidths_mbps` - List of available bandwidth options in Mbps.
    - `display_name` - Human-readable display name.
    - `region` - Region of the PoP.
