---
subcategory: "Key Manager"
page_title: "Scaleway: scaleway_key_manager_key"
---

# scaleway_key_manager_key

{{ .Description }}

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}

{{ end -}}

## Argument Reference

- `key_id` - ID of the key to target. Can be a plain UUID or a [regional](../guides/regions_and_zones.md#resource-ids) ID.

- `region` - (Defaults to [provider](../index.md#arguments-reference) `region`) The [region](../guides/regions_and_zones.md#regions) in which the key was created.

## Attributes Reference

Exported attributes are the ones from `scaleway_key_manager_key` [resource](../resources/key_manager_key.md)
