{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.DatasourceTemplateType */ -}}
---
subcategory: "MessageQ"
page_title: "Scaleway: scaleway_messageq_certificate_authority"
---

# Data Source: scaleway_messageq_certificate_authority

Downloads the certificate authority (CA) of a MessageQ deployment for TLS clients.

## Example Usage

{{ tffile "examples/data-sources/scaleway_messageq_certificate_authority/data-source.tf" }}

## Argument Reference

- `deployment_id` - (Required) The ID of the MessageQ deployment.
- `region` - (Defaults to [provider](../index.md#arguments-reference) `region`) The region in which the deployment exists.

## Attributes Reference

In addition to all above arguments, the following attributes are exported:

- `id` - The ID of the data source in the `{region}/{deployment_id}` format.
- `pem` - (Sensitive) PEM-encoded certificate authority content.
