---
subcategory: "Config"
page_title: "Scaleway: {{ .Name }}"
---

# {{ .Name }} (Ephemeral Resource)

{{ .Description }}

{{ if .HasExamples }}
## Example Usage

{{ range .ExampleFiles -}}
{{ tffile . }}

{{ end }}

{{ end -}}

{{ .SchemaMarkdown }}
