{{- /*gotype: github.com/hashicorp/terraform-plugin-docs/internal/provider.ResourceTemplateType */ -}}
---
subcategory: "Key Manager"
page_title: "Scaleway: scaleway_key_manager_sign"
---

# scaleway_key_manager_sign (Ephemeral Resource)

{{ .Description }}

{{ .SchemaMarkdown }}
