---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"706766e4-feb1-4724-ad81-658465d5a683","ip_address":"51.15.199.94","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-199-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.717583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/706766e4-feb1-4724-ad81-658465d5a683
        method: GET
      response:
        body: '{"id":"706766e4-feb1-4724-ad81-658465d5a683","ip_address":"51.15.199.94","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-199-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.027708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"706766e4-feb1-4724-ad81-658465d5a683","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-06-24T14:41:46.546252249Z","description":"","frontend_count":0,"id":"5d4774d9-0df5-4adb-8d9a-f99608135c11","instances":[],"ip":[{"id":"706766e4-feb1-4724-ad81-658465d5a683","ip_address":"51.15.199.94","lb_id":"5d4774d9-0df5-4adb-8d9a-f99608135c11","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-199-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-24T14:41:46.546252249Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 426.844916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5d4774d9-0df5-4adb-8d9a-f99608135c11
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-06-24T14:41:46.546252Z","description":"","frontend_count":0,"id":"5d4774d9-0df5-4adb-8d9a-f99608135c11","instances":[{"created_at":"2025-06-24T14:38:13.064571Z","id":"a64b1ac7-1e22-424e-bef8-819bda679de8","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-06-24T14:41:46.842022Z","zone":"fr-par-1"}],"ip":[{"id":"706766e4-feb1-4724-ad81-658465d5a683","ip_address":"51.15.199.94","lb_id":"5d4774d9-0df5-4adb-8d9a-f99608135c11","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-199-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-24T14:41:46.849729Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.274375ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5d4774d9-0df5-4adb-8d9a-f99608135c11/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.896208ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-cool-galois","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5d4774d9-0df5-4adb-8d9a-f99608135c11/backends
        method: POST
      response:
        body: '{"created_at":"2025-06-24T14:42:17.394179596Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"cf38f32b-9b7d-4daa-a07d-5b1778508c91","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-24T14:41:46.546252Z","description":"","frontend_count":0,"id":"5d4774d9-0df5-4adb-8d9a-f99608135c11","instances":[{"created_at":"2025-06-24T14:38:13.064571Z","id":"a64b1ac7-1e22-424e-bef8-819bda679de8","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-06-24T14:42:17.418222559Z","zone":"fr-par-1"}],"ip":[{"id":"706766e4-feb1-4724-ad81-658465d5a683","ip_address":"51.15.199.94","lb_id":"5d4774d9-0df5-4adb-8d9a-f99608135c11","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-199-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-24T14:41:50.308961Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-cool-galois","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-06-24T14:42:17.394179596Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.0125ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/cf38f32b-9b7d-4daa-a07d-5b1778508c91
        method: GET
      response:
        body: '{"created_at":"2025-06-24T14:42:17.394180Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"cf38f32b-9b7d-4daa-a07d-5b1778508c91","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5d4774d9-0df5-4adb-8d9a-f99608135c11/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-06-24T14:42:17.394180Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"cf38f32b-9b7d-4daa-a07d-5b1778508c91","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-24T14:41:46.546252Z","description":"","frontend_count":1,"id":"5d[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5a245aaa-b1e0-407c-8b69-ca04e8a7ba3c
        method: GET
      response:
        body: '{"backend":{"created_at":"2025-06-24T14:42:17.394180Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"test-acl-basic","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"ips_edge_services":false,"http_filter":"acl_http_filter_none","http_filter_value":null,"http_filter_option":null,"invert":true},"index":4,"description":"a description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5a245aaa-b1e0-407c-8b69-ca04e8a7ba3c/acls
        method: POST
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2025-06-24T14:42:18.758745753Z","description":"a description","frontend":{"backend":{"created_at":"2025-06-24T14:42:17.394180Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"cf38f32b-9b7d-4daa-a07d-5b1778508c91","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-24T14:41:46.546252Z","description":"","frontend_count"[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/0812569a-083f-4b48-8f51-cf060520bf18
        method: GET
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2025-06-24T14:42:18.758746Z","description":"a description","frontend":{"backend":{"created_at":"2025-06-24T14:42:17.394180Z","failover_host":null,"forward_port":80,"forward_port_alg[...]
[...]
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5d4774d9-0df5-4adb-8d9a-f99608135c11?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 339.375875ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5d4774d9-0df5-4adb-8d9a-f99608135c11
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.892208ms
[...]
