---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 181.71939ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/998ac4f3-e93a-4c83-a25a-9c7de7eeaf34
    method: GET
  response:
    body: "{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.261982ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-acl\",\"description\":\"\",\"ip_id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf\",\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.347563829Z\",\"updated_at\":\"2025-09-01T15:25:44.347563829Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 409.617925ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf
    method: GET
  response:
    body: "{\"id\":\"0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf\",\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.347564Z\",\"updated_at\":\"2025-09-01T15:25:44.347564Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.806863ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.440996ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-fervent-wozniak\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf/backends
    method: POST
  response:
    body: "{\"id\":\"eee39245-7933-4d21-84f4-cb6c261c8bfd\",\"name\":\"tf-lb-bkd-fervent-wozniak\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"2faf4d00-4ad8-48d2-b32f-b3c1811e3a38\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T13:30:19.997999Z\",\"updated_at\":\"2025-09-01T15:26:15.400786696Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf\",\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.347564Z\",\"updated_at\":\"2025-09-01T15:25:50.119218Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:15.381689953Z\",\"updated_at\":\"2025-09-01T15:26:15.381689953Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 469.122983ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/eee39245-7933-4d21-84f4-cb6c261c8bfd
    method: GET
  response:
    body: "{\"id\":\"eee39245-7933-4d21-84f4-cb6c261c8bfd\",\"name\":\"tf-lb-bkd-fervent-wozniak\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test\",\"inbound_port\":80,\"backend_id\":\"eee39245-7933-4d21-84f4-cb6c261c8bfd\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false,\"timeout_client\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf/frontends
    method: POST
  response:
    body: "{\"id\":\"7ffc7379-df31-48f3-98fe-39f33f66d25e\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"eee39245-7933-4d21-84f4-cb6c261c8bfd\",\"name\":\"tf-lb-bkd-fervent-wozniak\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf\",\"n[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/7ffc7379-df31-48f3-98fe-39f33f66d25e
    method: GET
  response:
    body: "{\"id\":\"7ffc7379-df31-48f3-98fe-39f33f66d25e\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"eee39245-7933-4d21-84f4-cb6c261c8bfd\",\"name\":\"tf-lb-bkd-fervent-wozniak\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acl-basic\",\"action\":{\"type\":\"allow\",\"redirect\":null},\"match\":{\"ip_subnet\":[\"192.168.0.1\",\"192.168.0.2\",\"192.168.10.0/24\"],\"ips_edge_services\":false,\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":null,\"http_filter_option\":null,\"invert\":true},\"index\":4,\"description\":\"a description\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/7ffc7379-df31-48f3-98fe-39f33f66d25e/acls
    method: POST
  response:
    body: "{\"id\":\"7c68f288-f918-4f3f-a76d-d0bdc3073825\",\"name\":\"test-acl-basic\",\"match\":{\"ip_subnet\":[\"192.168.0.1\",\"192.168.0.2\",\"192.168.10.0/24\"],\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":[],\"invert\":true,\"http_filter_option\":null,\"ips_edge_services\":false},\"action\":{\"type\":\"allow\",\"redirect\":null},\"frontend\":{\"id\":\"7ffc7379-df31-48f3-98fe-39f33f66d25e\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"eee39245-7933-4d21-84f4-cb6c261c8bfd\",\"name\":\"tf-lb-bkd-fervent-wozniak\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\"[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/7c68f288-f918-4f3f-a76d-d0bdc3073825
    method: GET
  response:
    body: "{\"id\":\"7c68f288-f918-4f3f-a76d-d0bdc3073825\",\"name\":\"test-acl-basic\",\"match\":{\"ip_subnet\":[\"192.168.0.1\",\"192.168.0.2\",\"192.168.10.0/24\"],\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":[],\"invert\":true,\"http_filter_option\":null,\"ips_edge_services\":false},\"action\[...]
[...]
- id: 98
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 332.156686ms
[...]
- id: 100
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0cafe6c5-b5d8-44fe-bcb1-d3b15abff0cf
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.68343ms
[...]
