---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.583042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/626882bd-c877-4c42-bfb6-540a2d61f33c
        method: GET
      response:
        body: '{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.188625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T07:09:14.739958722Z","description":"","frontend_count":0,"id":"9fe3563b-fbe5-4051-8a47-58bd620a708a","instances":[],"ip":[{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":"9fe3563b-fbe5-4051-8a47-58bd620a708a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T07:09:14.739958722Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.759125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9fe3563b-fbe5-4051-8a47-58bd620a708a
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T07:09:14.739959Z","description":"","frontend_count":0,"id":"9fe3563b-fbe5-4051-8a47-58bd620a708a","instances":[{"created_at":"2026-02-20T07:01:23.805187Z","id":"4523e0ed-5675-40f9-a50b-3a8f2a5e728d","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-20T07:09:14.945961Z","zone":"fr-par-1"}],"ip":[{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":"9fe3563b-fbe5-4051-8a47-58bd620a708a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T07:09:14.956010Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.626459ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9fe3563b-fbe5-4051-8a47-58bd620a708a/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.609583ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-angry-villani","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9fe3563b-fbe5-4051-8a47-58bd620a708a/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-20T07:09:45.530001502Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"57bba177-2391-4c2c-b5bb-68f9f8deea83","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-20T07:09:14.739959Z","description":"","frontend_count":0,"id":"9fe3563b-fbe5-4051-8a47-58bd620a708a","instances":[{"created_at":"2026-02-20T07:01:23.805187Z","id":"4523e0ed-5675-40f9-a50b-3a8f2a5e728d","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-20T07:09:45.554942577Z","zone":"fr-par-1"}],"ip":[{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":"9fe3563b-fbe5-4051-8a47-58bd620a708a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T07:09:18.339518Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-angry-villani","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-20T07:09:45.530001502Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.150666ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/57bba177-2391-4c2c-b5bb-68f9f8deea83
        method: GET
      response:
        body: '{"created_at":"2026-02-20T07:09:45.530002Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"57bba177-2391-4c2c-b5bb-68f9f8deea83","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9fe3563b-fbe5-4051-8a47-58bd620a708a/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-20T07:09:45.530002Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"57bba177-2391-4c2c-b5bb-68f9f8deea83","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-20T07:09:14.739959Z","description":"","frontend_count":1,"id":"9f[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e4f48e6b-abda-4c23-adb4-5003c6efa4d9
        method: GET
      response:
        body: '{"backend":{"created_at":"2026-02-20T07:09:45.530002Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"test-acl-basic","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"ips_edge_services":false,"http_filter":"acl_http_filter_none","http_filter_value":null,"http_filter_option":null,"invert":true},"index":4,"description":"a description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e4f48e6b-abda-4c23-adb4-5003c6efa4d9/acls
        method: POST
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2026-02-20T07:09:46.885132850Z","description":"a description","frontend":{"backend":{"created_at":"2026-02-20T07:09:45.530002Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"57bba177-2391-4c2c-b5bb-68f9f8deea83","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-20T07:09:14.739959Z","description":"","frontend_count"[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/6124fe5c-3792-4e3c-ae2d-c7ac9512d1e6
        method: GET
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2026-02-20T07:09:46.885133Z","description":"a description","frontend":{"backend":{"created_at":"2026-02-20T07:09:45.530002Z","failover_host":null,"forward_port":80,"forward_port_alg[...]
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9fe3563b-fbe5-4051-8a47-58bd620a708a?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 244.673208ms
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9fe3563b-fbe5-4051-8a47-58bd620a708a
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 96.223792ms
[...]
