---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"277925c8-b023-402f-b9fd-4333093de689","ip_address":"163.172.180.191","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"163-172-180-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.740166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/277925c8-b023-402f-b9fd-4333093de689
        method: GET
      response:
        body: '{"id":"277925c8-b023-402f-b9fd-4333093de689","ip_address":"163.172.180.191","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"163-172-180-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.408291ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"277925c8-b023-402f-b9fd-4333093de689","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-09-10T07:52:49.022559235Z","description":"","frontend_count":0,"id":"4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1","instances":[],"ip":[{"id":"277925c8-b023-402f-b9fd-4333093de689","ip_address":"163.172.180.191","lb_id":"4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"163-172-180-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-09-10T07:52:49.022559235Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.162791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-09-10T07:52:49.022559Z","description":"","frontend_count":0,"id":"4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1","instances":[],"ip":[{"id":"277925c8-b023-402f-b9fd-4333093de689","ip_address":"163.172.180.191","lb_id":"4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"163-172-180-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-09-10T07:52:49.022559Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.35225ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.066083ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-eloquent-edison","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1/backends
        method: POST
      response:
        body: '{"created_at":"2025-09-10T07:53:19.776056091Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"0beb5092-efe4-4219-99e2-79511a614841","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-09-10T07:52:49.022559Z","description":"","frontend_count":0,"id":"4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1","instances":[{"created_at":"2025-09-10T07:37:00.062184Z","id":"c59b84a2-c44c-4a85-981b-a29e7d9bf6e4","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-09-10T07:53:19.808886378Z","zone":"fr-par-1"}],"ip":[{"id":"277925c8-b023-402f-b9fd-4333093de689","ip_address":"163.172.180.191","lb_id":"4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"163-172-180-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-09-10T07:52:53.386983Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-eloquent-edison","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-09-10T07:53:19.776056091Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.846958ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/0beb5092-efe4-4219-99e2-79511a614841
        method: GET
      response:
        body: '{"created_at":"2025-09-10T07:53:19.776056Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"0beb5092-efe4-4219-99e2-79511a614841","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-09-10T07:53:19.776056Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"0beb5092-efe4-4219-99e2-79511a614841","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-09-10T07:52:49.022559Z","description":"","frontend_count":1,"id":"4a[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/3b780f1a-e188-48c4-b3b2-0a2c0790eb22
        method: GET
      response:
        body: '{"backend":{"created_at":"2025-09-10T07:53:19.776056Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"test-acl-basic","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"ips_edge_services":false,"http_filter":"acl_http_filter_none","http_filter_value":null,"http_filter_option":null,"invert":true},"index":4,"description":"a description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/3b780f1a-e188-48c4-b3b2-0a2c0790eb22/acls
        method: POST
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2025-09-10T07:53:21.064013523Z","description":"a description","frontend":{"backend":{"created_at":"2025-09-10T07:53:19.776056Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"0beb5092-efe4-4219-99e2-79511a614841","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-09-10T07:52:49.022559Z","description":"","frontend_count"[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/a27bd471-dbcc-4465-8b87-7ad3ee9e0968
        method: GET
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2025-09-10T07:53:21.064014Z","description":"a description","frontend":{"backend":{"created_at":"2025-09-10T07:53:19.776056Z","failover_host":null,"forward_port":80,"forward_port_alg[...]
[...]
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 313.027875ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a37f6d7-cd5f-4c6a-a195-0b74a6c9bdf1
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.642834ms
[...]
