---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"61375f77-5d7c-4809-92e2-1f37c5ccbed1","ip_address":"51.158.100.107","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-100-107.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.129292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/61375f77-5d7c-4809-92e2-1f37c5ccbed1
        method: GET
      response:
        body: '{"id":"61375f77-5d7c-4809-92e2-1f37c5ccbed1","ip_address":"51.158.100.107","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-100-107.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.450833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"61375f77-5d7c-4809-92e2-1f37c5ccbed1","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-06-24T13:13:21.732224039Z","description":"","frontend_count":0,"id":"bc188ea8-b63d-4448-af93-176c9aa8e16d","instances":[],"ip":[{"id":"61375f77-5d7c-4809-92e2-1f37c5ccbed1","ip_address":"51.158.100.107","lb_id":"bc188ea8-b63d-4448-af93-176c9aa8e16d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-100-107.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-24T13:13:21.732224039Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 393.823375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc188ea8-b63d-4448-af93-176c9aa8e16d
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-06-24T13:13:21.732224Z","description":"","frontend_count":0,"id":"bc188ea8-b63d-4448-af93-176c9aa8e16d","instances":[],"ip":[{"id":"61375f77-5d7c-4809-92e2-1f37c5ccbed1","ip_address":"51.158.100.107","lb_id":"bc188ea8-b63d-4448-af93-176c9aa8e16d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-100-107.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-24T13:13:21.732224Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.4705ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc188ea8-b63d-4448-af93-176c9aa8e16d/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.397542ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-reverent-montalcini","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc188ea8-b63d-4448-af93-176c9aa8e16d/backends
        method: POST
      response:
        body: '{"created_at":"2025-06-24T13:13:52.512355258Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"c6537c0e-edf2-4179-ba8e-86ffd42cc8bb","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-24T13:13:21.732224Z","description":"","frontend_count":0,"id":"bc188ea8-b63d-4448-af93-176c9aa8e16d","instances":[{"created_at":"2025-06-24T13:12:33.074888Z","id":"e407a146-99c3-403d-bccb-41499cd2cc2a","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-06-24T13:13:52.536665837Z","zone":"fr-par-1"}],"ip":[{"id":"61375f77-5d7c-4809-92e2-1f37c5ccbed1","ip_address":"51.158.100.107","lb_id":"bc188ea8-b63d-4448-af93-176c9aa8e16d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-100-107.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-24T13:13:25.189601Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-reverent-montalcini","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-06-24T13:13:52.512355258Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.686667ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c6537c0e-edf2-4179-ba8e-86ffd42cc8bb
        method: GET
      response:
        body: '{"created_at":"2025-06-24T13:13:52.512355Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"c6537c0e-edf2-4179-ba8e-86ffd42cc8bb","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc188ea8-b63d-4448-af93-176c9aa8e16d/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-06-24T13:13:52.512355Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"c6537c0e-edf2-4179-ba8e-86ffd42cc8bb","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-24T13:13:21.732224Z","description":"","frontend_count":1,"id":"bc[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8f01ab20-ce56-4e12-a173-4a1a85cfebf7
        method: GET
      response:
        body: '{"backend":{"created_at":"2025-06-24T13:13:52.512355Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"test-acl-basic","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"ips_edge_services":false,"http_filter":"acl_http_filter_none","http_filter_value":null,"http_filter_option":null,"invert":true},"index":4,"description":"a description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8f01ab20-ce56-4e12-a173-4a1a85cfebf7/acls
        method: POST
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2025-06-24T13:13:53.749786525Z","description":"a description","frontend":{"backend":{"created_at":"2025-06-24T13:13:52.512355Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"c6537c0e-edf2-4179-ba8e-86ffd42cc8bb","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-06-24T13:13:21.732224Z","description":"","frontend_count"[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/f9a060ce-e58b-41f8-99d8-19fafa96329e
        method: GET
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2025-06-24T13:13:53.749787Z","description":"a description","frontend":{"backend":{"created_at":"2025-06-24T13:13:52.512355Z","failover_host":null,"forward_port":80,"forward_port_alg[...]
[...]
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc188ea8-b63d-4448-af93-176c9aa8e16d?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 270.510792ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc188ea8-b63d-4448-af93-176c9aa8e16d
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.545708ms
[...]
