---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-9-195.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.871641ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5
    method: GET
  response:
    body: "{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-9-195.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.48112ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"fc5fb951-3926-42a5-9f85-1813330687fc\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fc5fb951-3926-42a5-9f85-1813330687fc\",\"reverse\":\"51-159-9-195.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.768744003Z\",\"updated_at\":\"2025-09-01T15:27:10.768744003Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 382.968879ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc5fb951-3926-42a5-9f85-1813330687fc
    method: GET
  response:
    body: "{\"id\":\"fc5fb951-3926-42a5-9f85-1813330687fc\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fc5fb951-3926-42a5-9f85-1813330687fc\",\"reverse\":\"51-159-9-195.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.768744Z\",\"updated_at\":\"2025-09-01T15:27:10.768744Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.81205ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc5fb951-3926-42a5-9f85-1813330687fc/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.426725ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":3333,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":3333,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc5fb951-3926-42a5-9f85-1813330687fc/backends
    method: POST
  response:
    body: "{\"id\":\"2b60f1c9-4982-463c-80ab-1df42da85b0b\",\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":3333,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":3333,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"fc5fb951-3926-42a5-9f85-1813330687fc\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"fce2b50a-a258-451a-a12f-433653bdf1ce\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:51.081161Z\",\"updated_at\":\"2025-09-01T15:27:41.818053581Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fc5fb951-3926-42a5-9f85-1813330687fc\",\"reverse\":\"51-159-9-195.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.768744Z\",\"updated_at\":\"2025-09-01T15:27:15.281429Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:27:41.792274591Z\",\"updated_at\":\"2025-09-01T15:27:41.792274591Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 463.323859ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/2b60f1c9-4982-463c-80ab-1df42da85b0b
    method: GET
  response:
    body: "{\"id\":\"2b60f1c9-4982-463c-80ab-1df42da85b0b\",\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":3333,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":3333,\"check_delay\":60000,\"check_timeout\":3[...]
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"port\":4444,\"check_max_retries\":2,\"check_send_proxy\":false,\"tcp_config\":{},\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/2b60f1c9-4982-463c-80ab-1df42da85b0b/healthcheck
    method: PUT
  response:
    body: "{\"port\":4444,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 338.850983ms
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"server_ip\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/2b60f1c9-4982-463c-80ab-1df42da85b0b/servers
    method: PUT
  response:
    body: "{\"id\":\"2b60f1c9-4982-463c-80ab-1df42da85b0b\",\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":4444,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_n[...]
[...]
- id: 76
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc5fb951-3926-42a5-9f85-1813330687fc?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 742.730849ms
[...]
- id: 78
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fc5fb951-3926-42a5-9f85-1813330687fc
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 52.183606ms
[...]
