---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"80cf4ff0-7090-4b1f-8871-57848c324b08","ip_address":"51.15.238.158","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-238-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.599792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/80cf4ff0-7090-4b1f-8871-57848c324b08
        method: GET
      response:
        body: '{"id":"80cf4ff0-7090-4b1f-8871-57848c324b08","ip_address":"51.15.238.158","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-238-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.804666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.206.239","id":"6beb293e-d9ce-44df-952a-766a01a51fe2","ipam_id":"6beb293e-d9ce-44df-952a-766a01a51fe2","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6beb293e-d9ce-44df-952a-766a01a51fe2
        status: 201 Created
        code: 201
        duration: 416.586709ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/6beb293e-d9ce-44df-952a-766a01a51fe2
        method: GET
      response:
        body: '{"ip":{"address":"51.15.206.239","id":"6beb293e-d9ce-44df-952a-766a01a51fe2","ipam_id":"6beb293e-d9ce-44df-952a-766a01a51fe2","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.017125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"80cf4ff0-7090-4b1f-8871-57848c324b08","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T07:25:23.863287400Z","description":"","frontend_count":0,"id":"5a32e433-92cb-4346-9ee0-4067e3db4616","instances":[],"ip":[{"id":"80cf4ff0-7090-4b1f-8871-57848c324b08","ip_address":"51.15.238.158","lb_id":"5a32e433-92cb-4346-9ee0-4067e3db4616","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-238-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T07:25:23.863287400Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.917583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a32e433-92cb-4346-9ee0-4067e3db4616
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T07:25:23.863287Z","description":"","frontend_count":0,"id":"5a32e433-92cb-4346-9ee0-4067e3db4616","instances":[{"created_at":"2026-02-20T07:03:53.809696Z","id":"71f46646-6024-448d-86be-95b20b1e6fab","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-20T07:25:24.036121Z","zone":"fr-par-1"}],"ip":[{"id":"80cf4ff0-7090-4b1f-8871-57848c324b08","ip_address":"51.15.238.158","lb_id":"5a32e433-92cb-4346-9ee0-4067e3db4616","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-238-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T07:25:24.048609Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.705042ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a32e433-92cb-4346-9ee0-4067e3db4616/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.5015ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":["51.15.206.239"],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a32e433-92cb-4346-9ee0-4067e3db4616/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-20T07:25:54.614156968Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"096c61bb-c204-409b-9192-3194af186c8e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-20T07:25:23.863287Z","description":"","frontend_count":0,"id":"5a32e433-92cb-4346-9ee0-4067e3db4616","instances":[{"created_at":"2026-02-20T07:03:53.809696Z","id":"71f46646-6024-448d-86be-95b20b1e6fab","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-20T07:25:54.644995152Z","zone":"fr-par-1"}],"ip":[{"id":"80cf4ff0-7090-4b1f-8871-57848c324b08","ip_address":"51.15.238.158","lb_id":"5a32e433-92cb-4346-9ee0-4067e3db4616","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-238-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T07:25:26.419635Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":["51.15.206.239"],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-20T07:25:54.614156968Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.8275ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/096c61bb-c204-409b-9192-3194af186c8e
        method: GET
      response:
        body: '{"created_at":"2026-02-20T07:25:54.614157Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"port":81,"check_max_retries":3,"check_send_proxy":true,"tcp_config":{},"transient_check_delay":"0.200000000s","check_delay":10000,"check_timeout":15000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/096c61bb-c204-409b-9192-3194af186c8e/healthcheck
        method: PUT
      response:
        body: '{"check_delay":10000,"check_max_retries":3,"check_send_proxy":true,"check_timeout":15000,"port":81,"tcp_config":{},"transient_check_delay":"0.200s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.666333ms
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"server_ip":["51.15.206.239","51.15.217.17"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/096c61bb-c204-409b-9192-3194af186c8e/servers
        method: PUT
      response:
        body: '{"created_at":"2026-02-20T07:25:54.614157Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"leastconn"[...]
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a32e433-92cb-4346-9ee0-4067e3db4616?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 299.869292ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a32e433-92cb-4346-9ee0-4067e3db4616
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.208291ms
[...]
