---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.970906ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/88120047-f14b-40cc-a864-7e7798b98c45
        method: GET
      response:
        body: '{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.763248ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:52.583002274Z","description":"","frontend_count":0,"id":"7c8abb87-22f7-4465-8820-dbd00b0deeeb","instances":[],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7c8abb87-22f7-4465-8820-dbd00b0deeeb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:52.583002274Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 364.90189ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c8abb87-22f7-4465-8820-dbd00b0deeeb
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:52.583002Z","description":"","frontend_count":0,"id":"7c8abb87-22f7-4465-8820-dbd00b0deeeb","instances":[],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7c8abb87-22f7-4465-8820-dbd00b0deeeb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:52.583002Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.25157ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c8abb87-22f7-4465-8820-dbd00b0deeeb/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.122935ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c8abb87-22f7-4465-8820-dbd00b0deeeb/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:19:23.271419078Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"8d7889c3-92fb-42b8-afd9-45e58c6bab56","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:52.583002Z","description":"","frontend_count":0,"id":"7c8abb87-22f7-4465-8820-dbd00b0deeeb","instances":[{"created_at":"2026-07-21T10:17:58.591011Z","id":"94c7ab64-7d59-49cc-8f52-db1249e40ec5","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:19:23.291981908Z","zone":"fr-par-1"}],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7c8abb87-22f7-4465-8820-dbd00b0deeeb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:55.442584Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:19:23.271419078Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.282669ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8d7889c3-92fb-42b8-afd9-45e58c6bab56
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:19:23.271419Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"port":80,"check_max_retries":2,"check_send_proxy":false,"http_config":{"uri":"http://test.com/health","method":"POST","code":404,"host_header":"test.com"},"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8d7889c3-92fb-42b8-afd9-45e58c6bab56/healthcheck
        method: PUT
      response:
        body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":404,"host_header":"test.com","method":"POST","uri":"http://test.com/health"},"port":80,"transient_check_delay":"0.500s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.675968ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"server_ip":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8d7889c3-92fb-42b8-afd9-45e58c6bab56/servers
        method: PUT
      response:
        body: '{"created_at":"2026-07-21T10:19:23.271419Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","he[...]
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"port":80,"check_max_retries":2,"check_send_proxy":false,"https_config":{"uri":"http://test.com/health","method":"POST","code":404,"host_header":"test.com","sni":"sni.test.com"},"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8d7889c3-92fb-42b8-afd9-45e58c6bab56/healthcheck
        method: PUT
      response:
        body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"https_config":{"code":404,"host_header":"test.com","method":"POST","sni":"sni.test.com","uri":"http://test.com/health"},"port":80,"transient_check_delay":"0.500s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.016178ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c8abb87-22f7-4465-8820-dbd00b0deeeb?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 271.055672ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c8abb87-22f7-4465-8820-dbd00b0deeeb
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.189735ms
[...]
