---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.998084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/eb88fc5d-4b65-4941-9807-a1f28aad4f71
        method: GET
      response:
        body: '{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.006375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:40.409472653Z","description":"","frontend_count":0,"id":"94263cea-ec5c-42dd-af38-ca72bddce589","instances":[],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"94263cea-ec5c-42dd-af38-ca72bddce589","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:40.409472653Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.284875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/94263cea-ec5c-42dd-af38-ca72bddce589
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:40.409473Z","description":"","frontend_count":0,"id":"94263cea-ec5c-42dd-af38-ca72bddce589","instances":[],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"94263cea-ec5c-42dd-af38-ca72bddce589","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:40.409473Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.889792ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/94263cea-ec5c-42dd-af38-ca72bddce589/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.413167ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/94263cea-ec5c-42dd-af38-ca72bddce589/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:11:11.166277969Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"45987921-97dc-4462-aae6-65577e9b5dc7","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:10:40.409473Z","description":"","frontend_count":0,"id":"94263cea-ec5c-42dd-af38-ca72bddce589","instances":[{"created_at":"2025-01-24T14:09:03.198603Z","id":"d26b5913-9d18-464f-8abf-a4c610a4ba0c","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:11:11.187215906Z","zone":"fr-par-1"}],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"94263cea-ec5c-42dd-af38-ca72bddce589","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:45.821088Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:11:11.166277969Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.563ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/45987921-97dc-4462-aae6-65577e9b5dc7
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:11:11.166278Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"port":80,"check_max_retries":2,"check_send_proxy":false,"http_config":{"uri":"http://test.com/health","method":"POST","code":404,"host_header":"test.com"},"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/45987921-97dc-4462-aae6-65577e9b5dc7/healthcheck
        method: PUT
      response:
        body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":404,"host_header":"test.com","method":"POST","uri":"http://test.com/health"},"port":80,"transient_check_delay":"0.500s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.709834ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"server_ip":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/45987921-97dc-4462-aae6-65577e9b5dc7/servers
        method: PUT
      response:
        body: '{"created_at":"2025-01-24T14:11:11.166278Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","he[...]
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"port":80,"check_max_retries":2,"check_send_proxy":false,"https_config":{"uri":"http://test.com/health","method":"POST","code":404,"host_header":"test.com","sni":"sni.test.com"},"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/45987921-97dc-4462-aae6-65577e9b5dc7/healthcheck
        method: PUT
      response:
        body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"https_config":{"code":404,"host_header":"test.com","method":"POST","sni":"sni.test.com","uri":"http://test.com/health"},"port":80,"transient_check_delay":"0.500s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.757584ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/94263cea-ec5c-42dd-af38-ca72bddce589?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 350.425834ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/94263cea-ec5c-42dd-af38-ca72bddce589
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.6855ms
[...]
