---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.025139ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/998ac4f3-e93a-4c83-a25a-9c7de7eeaf34
    method: GET
  response:
    body: "{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.183707ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6\",\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:26.159797231Z\",\"updated_at\":\"2025-09-01T15:27:26.159797231Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 374.050198ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6
    method: GET
  response:
    body: "{\"id\":\"bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6\",\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:26.159797Z\",\"updated_at\":\"2025-09-01T15:27:26.159797Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.695203ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.463833ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6/backends
    method: POST
  response:
    body: "{\"id\":\"8467c841-0519-4e26-9ffb-089549e6a74d\",\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"428b2b96-ce07-4acb-a9fd-fddaf36be6e9\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:26:39.856084Z\",\"updated_at\":\"2025-09-01T15:27:57.257606225Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"998ac4f3-e93a-4c83-a25a-9c7de7eeaf34\",\"ip_address\":\"51.159.206.6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6\",\"reverse\":\"51-159-206-6.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:26.159797Z\",\"updated_at\":\"2025-09-01T15:27:31.805715Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:27:57.235015843Z\",\"updated_at\":\"2025-09-01T15:27:57.235015843Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 347.245287ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8467c841-0519-4e26-9ffb-089549e6a74d
    method: GET
  response:
    body: "{\"id\":\"8467c841-0519-4e26-9ffb-089549e6a74d\",\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000[...]
[...]
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"http_config\":{\"uri\":\"http://test.com/health\",\"method\":\"POST\",\"code\":404,\"host_header\":\"test.com\"},\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8467c841-0519-4e26-9ffb-089549e6a74d/healthcheck
    method: PUT
  response:
    body: "{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"http_config\":{\"uri\":\"http://test.com/health\",\"method\":\"POST\",\"code\":404,\"host_header\":\"test.com\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 318.313794ms
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"server_ip\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8467c841-0519-4e26-9ffb-089549e6a74d/servers
    method: PUT
  response:
    body: "{\"id\":\"8467c841-0519-4e26-9ffb-089549e6a74d\",\"name\":\"bkd01\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_nam[...]
[...]
- id: 45
  request:
    host: api.scaleway.com
    body: "{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"https_config\":{\"uri\":\"http://test.com/health\",\"method\":\"POST\",\"code\":404,\"host_header\":\"test.com\",\"sni\":\"sni.test.com\"},\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8467c841-0519-4e26-9ffb-089549e6a74d/healthcheck
    method: PUT
  response:
    body: "{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"https_config\":{\"uri\":\"http://test.com/health\",\"method\":\"POST\",\"code\":404,\"host_header\":\"test.com\",\"sni\":\"sni.test.com\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 420.833888ms
[...]
- id: 60
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 314.651992ms
[...]
- id: 62
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bf4a92d2-cb8a-4fb7-ab7f-1c6e6aad34b6
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.124778ms
[...]
