---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.043882ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/28cf6394-757a-461e-abe0-fcd1a56756e7
        method: GET
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.788885ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:52.401333084Z","description":"","frontend_count":0,"id":"722a7d63-7c98-4a4a-ae7c-b9479dae5d7f","instances":[],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"722a7d63-7c98-4a4a-ae7c-b9479dae5d7f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:52.401333084Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.55001ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"ip":{"address":"51.15.199.75","id":"200a8689-a82f-4f27-bcc1-026e10dd4ce4","ipam_id":"200a8689-a82f-4f27-bcc1-026e10dd4ce4","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/200a8689-a82f-4f27-bcc1-026e10dd4ce4
        status: 201 Created
        code: 201
        duration: 578.795596ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/722a7d63-7c98-4a4a-ae7c-b9479dae5d7f
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:52.401333Z","description":"","frontend_count":0,"id":"722a7d63-7c98-4a4a-ae7c-b9479dae5d7f","instances":[],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"722a7d63-7c98-4a4a-ae7c-b9479dae5d7f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:52.401333Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.337506ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/722a7d63-7c98-4a4a-ae7c-b9479dae5d7f/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.942666ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":["51.15.199.75"],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/722a7d63-7c98-4a4a-ae7c-b9479dae5d7f/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:19:23.126925548Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"d0289722-f8e5-47af-a442-ccd15aa14787","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:52.401333Z","description":"","frontend_count":0,"id":"722a7d63-7c98-4a4a-ae7c-b9479dae5d7f","instances":[{"created_at":"2026-07-21T10:17:48.594202Z","id":"df79b5af-03f5-4c22-9290-1b08ee04f626","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:19:23.146662606Z","zone":"fr-par-1"}],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"722a7d63-7c98-4a4a-ae7c-b9479dae5d7f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:55.673819Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":["51.15.199.75"],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:19:23.126925548Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.007263ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d0289722-f8e5-47af-a442-ccd15aa14787
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:19:23.126926Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/200a8689-a82f-4f27-bcc1-026e10dd4ce4
        method: GET
      response:
        body: '{"ip":{"address":"51.15.199.75","id":"200a8689-a82f-4f27-bcc1-026e10dd4ce4","ipam_id":"200a8689-a82f-4f27-bcc1-026e10dd4ce4","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.017927ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"port":81,"check_max_retries":3,"check_send_proxy":true,"tcp_config":{},"transient_check_delay":"0.200000000s","check_delay":10000,"check_timeout":15000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d0289722-f8e5-47af-a442-ccd15aa14787/healthcheck
        method: PUT
      response:
        body: '{"check_delay":10000,"check_max_retries":3,"check_send_proxy":true,"check_timeout":15000,"port":81,"tcp_config":{},"transient_check_delay":"0.200s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.685366ms
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"server_ip":["51.15.199.75","163.172.141.5"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d0289722-f8e5-47af-a442-ccd15aa14787/servers
        method: PUT
      response:
        body: '{"created_at":"2026-07-21T10:19:23.126926Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"leastconn"[...]
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/722a7d63-7c98-4a4a-ae7c-b9479dae5d7f?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 251.68495ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/722a7d63-7c98-4a4a-ae7c-b9479dae5d7f
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.302596ms
[...]
