---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.762583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/df74cb2c-3245-49d9-b592-e67c753e77ac
        method: GET
      response:
        body: '{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.477083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:13.384866356Z","description":"","frontend_count":0,"id":"fb06e4d1-1126-4b44-bd74-f05fd7d02b5e","instances":[],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":"fb06e4d1-1126-4b44-bd74-f05fd7d02b5e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:13.384866356Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.848625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb06e4d1-1126-4b44-bd74-f05fd7d02b5e
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:13.384866Z","description":"","frontend_count":0,"id":"fb06e4d1-1126-4b44-bd74-f05fd7d02b5e","instances":[],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":"fb06e4d1-1126-4b44-bd74-f05fd7d02b5e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:13.384866Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.835833ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb06e4d1-1126-4b44-bd74-f05fd7d02b5e/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.178709ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":3333,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":3333,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb06e4d1-1126-4b44-bd74-f05fd7d02b5e/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:10:44.319576115Z","failover_host":null,"forward_port":3333,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":3333,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"a986b308-3530-4924-bf2b-66bdea8e6fc0","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:10:13.384866Z","description":"","frontend_count":0,"id":"fb06e4d1-1126-4b44-bd74-f05fd7d02b5e","instances":[{"created_at":"2025-01-24T14:09:01.460274Z","id":"1d0de874-0b58-4bb9-a51f-83565aab0f8c","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:10:44.347434346Z","zone":"fr-par-1"}],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":"fb06e4d1-1126-4b44-bd74-f05fd7d02b5e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:17.225188Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:10:44.319576115Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.429417ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a986b308-3530-4924-bf2b-66bdea8e6fc0
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:10:44.319576Z","failover_host":null,"forward_port":3333,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"ch[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"port":4444,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{},"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a986b308-3530-4924-bf2b-66bdea8e6fc0/healthcheck
        method: PUT
      response:
        body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":4444,"tcp_config":{},"transient_check_delay":"0.500s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.530833ms
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"server_ip":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a986b308-3530-4924-bf2b-66bdea8e6fc0/servers
        method: PUT
      response:
        body: '{"created_at":"2025-01-24T14:10:44.319576Z","failover_host":null,"forward_port":4444,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","[...]
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb06e4d1-1126-4b44-bd74-f05fd7d02b5e?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 303.246792ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb06e4d1-1126-4b44-bd74-f05fd7d02b5e
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.676792ms
[...]
