---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cb8d0570-47e3-484b-8014-e71363751d75","ip_address":"51.159.205.104","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-205-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cb8d0570-47e3-484b-8014-e71363751d75
    method: GET
  response:
    body: '{"id":"cb8d0570-47e3-484b-8014-e71363751d75","ip_address":"51.159.205.104","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-205-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"cb8d0570-47e3-484b-8014-e71363751d75","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-09-26T09:54:55.364267557Z","description":"","frontend_count":0,"id":"2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6","instances":[],"ip":[{"id":"cb8d0570-47e3-484b-8014-e71363751d75","ip_address":"51.159.205.104","lb_id":"2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-205-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-09-26T09:54:55.364267557Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-09-26T09:54:55.364268Z","description":"","frontend_count":0,"id":"2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6","instances":[{"created_at":"2023-09-26T09:53:10.186648Z","id":"91171335-eb11-42df-b955-5b9afe638797","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2023-09-26T09:54:55.607136Z","zone":"fr-par-1"}],"ip":[{"id":"cb8d0570-47e3-484b-8014-e71363751d75","ip_address":"51.159.205.104","lb_id":"2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-205-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-09-26T09:54:55.624553Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":3333,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":3333,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6/backends
    method: POST
  response:
    body: '{"created_at":"2023-09-26T09:55:26.153892629Z","failover_host":null,"forward_port":3333,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":3333,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"f46628e1-44f3-4fcc-b7f1-234f6f002eef","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-09-26T09:54:55.364268Z","description":"","frontend_count":0,"id":"2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6","instances":[{"created_at":"2023-09-26T09:53:10.186648Z","id":"91171335-eb11-42df-b955-5b9afe638797","ip_address":"","region":"fr-par","status":"pending","updated_at":"2023-09-26T09:55:26.191153154Z","zone":"fr-par-1"}],"ip":[{"id":"cb8d0570-47e3-484b-8014-e71363751d75","ip_address":"51.159.205.104","lb_id":"2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-205-104.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-09-26T09:55:00.441517Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-09-26T09:55:26.153892629Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f46628e1-44f3-4fcc-b7f1-234f6f002eef
    method: GET
  response:
    body: '{"created_at":"2023-09-26T09:55:26.153893Z","failover_host":null,"forward_port":3333,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":3333,"tcp_config":{},"transient_check_delay":"0.50[...]
[...]
- request:
    body: '{"port":4444,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{},"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f46628e1-44f3-4fcc-b7f1-234f6f002eef/healthcheck
    method: PUT
  response:
    body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":4444,"tcp_config":{},"transient_check_delay":"0.500s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"server_ip":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f46628e1-44f3-4fcc-b7f1-234f6f002eef/servers
    method: PUT
  response:
    body: '{"created_at":"2023-09-26T09:55:26.153893Z","failover_host":null,"forward_port":4444,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_t[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2da1bdb7-030b-4cd1-a31e-7fc805b9c3a6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
