---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.890125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/626882bd-c877-4c42-bfb6-540a2d61f33c
        method: GET
      response:
        body: '{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.795334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T14:14:45.333761740Z","description":"","frontend_count":0,"id":"8e003237-d039-44d0-8de9-e6e03f1cb5e0","instances":[],"ip":[{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":"8e003237-d039-44d0-8de9-e6e03f1cb5e0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T14:14:45.333761740Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.607208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e003237-d039-44d0-8de9-e6e03f1cb5e0
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T14:14:45.333762Z","description":"","frontend_count":0,"id":"8e003237-d039-44d0-8de9-e6e03f1cb5e0","instances":[{"created_at":"2026-02-20T14:13:13.673823Z","id":"ad794a9b-56a9-4ba5-9460-110f3a6e8f9d","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-20T14:14:45.507320Z","zone":"fr-par-1"}],"ip":[{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":"8e003237-d039-44d0-8de9-e6e03f1cb5e0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T14:14:45.516057Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.801708ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e003237-d039-44d0-8de9-e6e03f1cb5e0/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.02175ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-8-191.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e003237-d039-44d0-8de9-e6e03f1cb5e0/certificates
        method: POST
      response:
        body: '{"common_name":"51-159-8-191.lb.fr-par.scw.cloud","created_at":"2026-02-20T14:15:16.194685424Z","fingerprint":"","id":"dbdb9b34-3537-43c4-9d7f-2d4c7ce2f09e","lb":{"backend_count":0,"created_at":"2026-02-20T14:14:45.333762Z","description":"","frontend_count":0,"id":"8e003237-d039-44d0-8de9-e6e03f1cb5e0","instances":[{"created_at":"2026-02-20T14:13:13.673823Z","id":"ad794a9b-56a9-4ba5-9460-110f3a6e8f9d","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-02-20T14:14:47.144556Z","zone":"fr-par-1"}],"ip":[{"id":"626882bd-c877-4c42-bfb6-540a2d61f33c","ip_address":"51.159.8.191","lb_id":"8e003237-d039-44d0-8de9-e6e03f1cb5e0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-191.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T14:15:16.215639628Z","zone":"fr-par-1"},"name":"test-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencrypt","updated_at":"2026-02-20T14:15:16.194685424Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.909791ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/dbdb9b34-3537-43c4-9d7f-2d4c7ce2f09e
        method: GET
      response:
        body: '{"common_name":"51-159-8-191.lb.fr-par.scw.cloud","created_at":"2026-02-20T14:15:16.194685Z","fingerprint":"","id":"dbdb9b34-3537-43c4-9d7f-2d4c7ce2f09e","lb":{"backend_count":0,"created_at":"2026-02-20T14:14:45.333762Z","descripti[...]
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/dbdb9b34-3537-43c4-9d7f-2d4c7ce2f09e
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.01025ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN CERTIFICATE-----\nMIIEeDCCA2CgAwIBAgISA+78x4/3radnfUGMWDp4jLA+MA0GCSqGSIb3DQEBCwUA\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEyMjAxMzU1MDlaFw0yMjAzMjAxMzU1MDhaMCkxJzAlBgNVBAMT\nHnN0YWdpbmcuc2NhbGV3YXktdGVycmFmb3JtLmNvbTBZMBMGByqGSM49AgEGCCqG\nSM49AwEHA0IABPqtv8kzJW2QI3LG93ScS13SSm5SIJI2uAoIhny4Lj06g05ff7mM\ngmd+XgID6OmWOB+Paso3Udq6hccEUN/URlKjggJaMIICVjAOBgNVHQ8BAf8EBAMC\nB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAw\nHQYDVR0O[...]
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e003237-d039-44d0-8de9-e6e03f1cb5e0?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 288.847541ms
[...]
