---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"019dfaef-9678-43be-ba89-d72e3ca514b3","ip_address":"51.159.74.66","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-74-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.81316ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/019dfaef-9678-43be-ba89-d72e3ca514b3
        method: GET
      response:
        body: '{"id":"019dfaef-9678-43be-ba89-d72e3ca514b3","ip_address":"51.159.74.66","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-74-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.750722ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"019dfaef-9678-43be-ba89-d72e3ca514b3","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:34:31.173744350Z","description":"","frontend_count":0,"id":"96846c29-70d0-4d52-81f6-abc0c8649482","instances":[],"ip":[{"id":"019dfaef-9678-43be-ba89-d72e3ca514b3","ip_address":"51.159.74.66","lb_id":"96846c29-70d0-4d52-81f6-abc0c8649482","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-74-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:34:31.173744350Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.28307ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/96846c29-70d0-4d52-81f6-abc0c8649482
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:34:31.173744Z","description":"","frontend_count":0,"id":"96846c29-70d0-4d52-81f6-abc0c8649482","instances":[{"created_at":"2026-07-21T10:30:48.709715Z","id":"254db2ca-082e-46ef-b80f-f5c7aecbb680","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:34:31.354292Z","zone":"fr-par-1"}],"ip":[{"id":"019dfaef-9678-43be-ba89-d72e3ca514b3","ip_address":"51.159.74.66","lb_id":"96846c29-70d0-4d52-81f6-abc0c8649482","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-74-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:34:31.363257Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.45462ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/96846c29-70d0-4d52-81f6-abc0c8649482/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.10221ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-74-66.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/96846c29-70d0-4d52-81f6-abc0c8649482/certificates
        method: POST
      response:
        body: '{"common_name":"51-159-74-66.lb.fr-par.scw.cloud","created_at":"2026-07-21T10:35:02.805362129Z","fingerprint":"","id":"d414dbdb-fa19-44d7-afd4-358e5f0fc904","lb":{"backend_count":0,"created_at":"2026-07-21T10:34:31.173744Z","description":"","frontend_count":0,"id":"96846c29-70d0-4d52-81f6-abc0c8649482","instances":[{"created_at":"2026-07-21T10:30:48.709715Z","id":"254db2ca-082e-46ef-b80f-f5c7aecbb680","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-07-21T10:34:32.704511Z","zone":"fr-par-1"}],"ip":[{"id":"019dfaef-9678-43be-ba89-d72e3ca514b3","ip_address":"51.159.74.66","lb_id":"96846c29-70d0-4d52-81f6-abc0c8649482","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-74-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:35:02.821983911Z","zone":"fr-par-1"},"name":"test-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencrypt","updated_at":"2026-07-21T10:35:02.805362129Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 621.985554ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/d414dbdb-fa19-44d7-afd4-358e5f0fc904
        method: GET
      response:
        body: '{"common_name":"51-159-74-66.lb.fr-par.scw.cloud","created_at":"2026-07-21T10:35:02.805362Z","fingerprint":"","id":"d414dbdb-fa19-44d7-afd4-358e5f0fc904","lb":{"backend_count":0,"created_at":"2026-07-21T10:34:31.173744Z","descripti[...]
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/d414dbdb-fa19-44d7-afd4-358e5f0fc904
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.136088ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN PRIVATE KEY-----\nMIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQCrOmhsNsjDpZPB\n/nYdDAKY6mu+oP+e8IRGM4cio1lxumqc/XOxrlvsg2oJUQOuYbyaFlhwLmZJO/lc\nWIOolhG3nFnb2rzP3LLbRI1ZDIk3Jl3S1G8lLvRLNl9sAe3fngY1QwJ3JqH1eGse\nbbJMirgy6SYPh84AJvLeDo48ipjc5DbP2bra+hB6UMN9FNn2oOcQsep+FU1QYJOx\nNcmgul3f8sHeBVsFtBg0ZaIIJ+4wB7L/wyckLWYEj9AwKluDJRdomT5xfai1EBEC\nUIRU/2a7E+VffdQph7wa/8D/m51+t+VVmVzR94ICZuNQqZyJCKWq9nsStrxU39Fw\nYVwfCpo/4MjYZJdbRxw+y9FlS+r5Yvsh+yL6p94Myt7a3b5BWwZT43iuPxk8rxZV\n6dGC4l2+[...]
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/96846c29-70d0-4d52-81f6-abc0c8649482?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 278.204781ms
[...]
