---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.570209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/eaf33b2f-b3b0-444f-87a3-3643822538db
        method: GET
      response:
        body: '{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.481625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:07.866676881Z","description":"","frontend_count":0,"id":"ee75d034-0bfd-4832-8b25-27a3b12f4577","instances":[],"ip":[{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":"ee75d034-0bfd-4832-8b25-27a3b12f4577","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:07.866676881Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.804833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee75d034-0bfd-4832-8b25-27a3b12f4577
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:07.866677Z","description":"","frontend_count":0,"id":"ee75d034-0bfd-4832-8b25-27a3b12f4577","instances":[],"ip":[{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":"ee75d034-0bfd-4832-8b25-27a3b12f4577","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:07.866677Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.899208ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee75d034-0bfd-4832-8b25-27a3b12f4577/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.830541ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert","letsencrypt":{"common_name":"195-154-75-179.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee75d034-0bfd-4832-8b25-27a3b12f4577/certificates
        method: POST
      response:
        body: '{"common_name":"195-154-75-179.lb.fr-par.scw.cloud","created_at":"2025-01-24T14:10:38.708264974Z","fingerprint":"","id":"f43a4885-f988-4461-b71b-17786e49a7b8","lb":{"backend_count":0,"created_at":"2025-01-24T14:10:07.866677Z","description":"","frontend_count":0,"id":"ee75d034-0bfd-4832-8b25-27a3b12f4577","instances":[{"created_at":"2025-01-24T14:08:43.844170Z","id":"850147c1-52c9-45c4-b44f-30fbc0ed4ae9","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-01-24T14:10:11.308580Z","zone":"fr-par-1"}],"ip":[{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":"ee75d034-0bfd-4832-8b25-27a3b12f4577","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:38.721278231Z","zone":"fr-par-1"},"name":"test-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2025-01-24T14:10:38.708264974Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.012834ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/f43a4885-f988-4461-b71b-17786e49a7b8
        method: GET
      response:
        body: '{"common_name":"195-154-75-179.lb.fr-par.scw.cloud","created_at":"2025-01-24T14:10:38.708265Z","fingerprint":"","id":"f43a4885-f988-4461-b71b-17786e49a7b8","lb":{"backend_count":0,"created_at":"2025-01-24T14:10:07.866677Z","descrip[...]
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/f43a4885-f988-4461-b71b-17786e49a7b8
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.133208ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN CERTIFICATE-----\nMIIEeDCCA2CgAwIBAgISA+78x4/3radnfUGMWDp4jLA+MA0GCSqGSIb3DQEBCwUA\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEyMjAxMzU1MDlaFw0yMjAzMjAxMzU1MDhaMCkxJzAlBgNVBAMT\nHnN0YWdpbmcuc2NhbGV3YXktdGVycmFmb3JtLmNvbTBZMBMGByqGSM49AgEGCCqG\nSM49AwEHA0IABPqtv8kzJW2QI3LG93ScS13SSm5SIJI2uAoIhny4Lj06g05ff7mM\ngmd+XgID6OmWOB+Paso3Udq6hccEUN/URlKjggJaMIICVjAOBgNVHQ8BAf8EBAMC\nB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAw\nHQYDVR0O[...]
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee75d034-0bfd-4832-8b25-27a3b12f4577?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 300.44075ms
[...]
