---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.525781ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b75f95cc-ce33-4194-ac28-a9c58d7f0cf4
    method: GET
  response:
    body: "{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.945317ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"5aa93bc7-5e60-4be9-9d3e-860002c30cd8\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"5aa93bc7-5e60-4be9-9d3e-860002c30cd8\",\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.568346665Z\",\"updated_at\":\"2025-09-01T15:27:10.568346665Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 393.584061ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5aa93bc7-5e60-4be9-9d3e-860002c30cd8
    method: GET
  response:
    body: "{\"id\":\"5aa93bc7-5e60-4be9-9d3e-860002c30cd8\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"5aa93bc7-5e60-4be9-9d3e-860002c30cd8\",\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.568347Z\",\"updated_at\":\"2025-09-01T15:27:10.568347Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.037395ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5aa93bc7-5e60-4be9-9d3e-860002c30cd8/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.764306ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cert\",\"letsencrypt\":{\"common_name\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"subject_alternative_name\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5aa93bc7-5e60-4be9-9d3e-860002c30cd8/certificates
    method: POST
  response:
    body: "{\"id\":\"6775009b-63bb-4921-bd64-bd1796f811db\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",\"lb\":{\"id\":\"5aa93bc7-5e60-4be9-9d3e-860002c30cd8\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"943c032c-b405-4dfc-933d-5d4168860c2e\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:51.293837Z\",\"updated_at\":\"2025-09-01T15:27:13.051601Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"5aa93bc7-5e60-4be9-9d3e-860002c30cd8\",\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.568347Z\",\"updated_at\":\"2025-09-01T15:27:41.777102527Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"name\":\"test-cert\",\"created_at\":\"2025-09-01T15:27:41.762491675Z\",\"updated_at\":\"2025-09-01T15:27:41.762491675Z\",\"status_details\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 501.13683ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/6775009b-63bb-4921-bd64-bd1796f811db
    method: GET
  response:
    body: "{\"id\":\"6775009b-63bb-4921-bd64-bd1796f811db\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",\"[...]
[...]
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/6775009b-63bb-4921-bd64-bd1796f811db
    method: GET
  response:
    body: "{\"message\":\"certificate not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.704272ms
[...]
- id: 57
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-custom-cert\",\"custom_certificate\":{\"certificate_chain\":\"-----BEGIN CERTIFICATE-----\\nMIIEeDCCA2CgAwIBAgISA+78x4/3radnfUGMWDp4jLA+MA0GCSqGSIb3DQEBCwUA\\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\\nEwJSMzAeFw0yMTEyMjAxMzU1MDlaFw0yMjAzMjAxMzU1MDhaMCkxJzAlBgNVBAMT\\nHnN0YWdpbmcuc2NhbGV3YXktdGVycmFmb3JtLmNvbTBZMBMGByqGSM49AgEGCCqG\\nSM49AwEHA0IABPqtv8kzJW2QI3LG93ScS13SSm5SIJI2uAoIhny4Lj06g05ff7mM\\ngmd+XgID6OmWOB+Paso3Udq6hccEUN/URlKjggJaMIICVjAOBgNVHQ8BAf8EBAMC\\nB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAw\\[...]
[...]
- id: 69
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5aa93bc7-5e60-4be9-9d3e-860002c30cd8?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 334.732368ms
[...]
