---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.111665ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/383d2ba6-0a85-43f9-aaf3-3dba047a4003
        method: GET
      response:
        body: '{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.209356ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:40.704983098Z","description":"","frontend_count":0,"id":"4c6caa13-3faf-4196-b3e8-1e3195b42550","instances":[],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"4c6caa13-3faf-4196-b3e8-1e3195b42550","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:40.704983098Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.925777ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4c6caa13-3faf-4196-b3e8-1e3195b42550
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:40.704983Z","description":"","frontend_count":0,"id":"4c6caa13-3faf-4196-b3e8-1e3195b42550","instances":[{"created_at":"2026-07-21T10:16:38.715104Z","id":"b1942d9c-e1b2-4df3-9004-b8f1c0697dcc","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:17:40.900093Z","zone":"fr-par-1"}],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"4c6caa13-3faf-4196-b3e8-1e3195b42550","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:40.909204Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.534064ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4c6caa13-3faf-4196-b3e8-1e3195b42550/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.266955ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-ecstatic-kapitsa","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4c6caa13-3faf-4196-b3e8-1e3195b42550/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:18:11.591977407Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"f20520f7-8046-4a14-a69d-bfc90969b850","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:40.704983Z","description":"","frontend_count":0,"id":"4c6caa13-3faf-4196-b3e8-1e3195b42550","instances":[{"created_at":"2026-07-21T10:16:38.715104Z","id":"b1942d9c-e1b2-4df3-9004-b8f1c0697dcc","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:18:11.639787325Z","zone":"fr-par-1"}],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"4c6caa13-3faf-4196-b3e8-1e3195b42550","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:43.589734Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-ecstatic-kapitsa","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:18:11.591977407Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.528281ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f20520f7-8046-4a14-a69d-bfc90969b850
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:18:11.591977Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-eloquent-dirac","inbound_port":80,"backend_id":"f20520f7-8046-4a14-a69d-bfc90969b850","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4c6caa13-3faf-4196-b3e8-1e3195b42550/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:11.591977Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"f20520f7-8046-4a14-a69d-bfc90969b850","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:40.704983Z","description":"","frontend_count":1,[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-exciting-mayer","inbound_port":80,"backend_id":"f20520f7-8046-4a14-a69d-bfc90969b850","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/04962aad-34b8-4e41-a1f1-f1f51fcea841
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:11.591977Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/04962aad-34b8-4e41-a1f1-f1f51fcea841/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.652925ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"04962aad-34b8-4e41-a1f1-f1f51fcea841","backend_id":"f20520f7-8046-4a14-a69d-bfc90969b850","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"f20520f7-8046-4a14-a69d-bfc90969b850","created_at":"2026-07-21T10:18:13.955813468Z","frontend_id":"04962aad-34b8-4e41-a1f1-f1f51fcea841","id":"51291a75-c277-4034-9af0-ce33f5d0aaf3","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-07-21T10:18:13.955813468Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.2265ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/51291a75-c277-4034-9af0-ce33f5d0aaf3
        method: GET
      response:
        body: '{"backend_id":"f20520f7-8046-4a14-a69d-bfc90969b850","created_at":"2026-07-21T10:18:13.955813Z","frontend_id":"04962aad-34b8-4e41-a1f1-f1f51fcea841","id":"51291a75-c277-4034-9af0-ce33f5d0aaf3","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-07-21T10:18:13.955813Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.780168ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4c6caa13-3faf-4196-b3e8-1e3195b42550?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 222.472488ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4c6caa13-3faf-4196-b3e8-1e3195b42550
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.136958ms
[...]
