---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":["ipv4","ip"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"1d869a7f-564d-44ce-9b2f-b2f508ff834f","ip_address":"195.154.71.165","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-71-165.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.768827ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/1d869a7f-564d-44ce-9b2f-b2f508ff834f
        method: GET
      response:
        body: '{"id":"1d869a7f-564d-44ce-9b2f-b2f508ff834f","ip_address":"195.154.71.165","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-71-165.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.447311ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_type=all&tags=ipv4&tags=ip
        method: GET
      response:
        body: '{"ips":[{"id":"1dd46280-6412-43a2-bcb4-79ac204b09a2","ip_address":"51.159.10.73","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-73.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"},{"id":"1d869a7f-564d-44ce-9b2f-b2f508ff834f","ip_address":"195.154.71.165","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-71-165.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.153361ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/1d869a7f-564d-44ce-9b2f-b2f508ff834f
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.911543ms
[...]
