---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.74525ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/32af5f81-8366-435b-b55f-6a502a0a6480
        method: GET
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.846916ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:28:01.098815386Z","description":"","frontend_count":0,"id":"c67cf7f2-d138-494d-a3af-03172108d38f","instances":[],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"c67cf7f2-d138-494d-a3af-03172108d38f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:28:01.098815386Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 460.247167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c67cf7f2-d138-494d-a3af-03172108d38f
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:28:01.098815Z","description":"","frontend_count":0,"id":"c67cf7f2-d138-494d-a3af-03172108d38f","instances":[{"created_at":"2026-02-25T14:26:51.151312Z","id":"930f3b03-d478-4b71-a0c5-42895fb9cdc3","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-25T14:28:01.292718Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"c67cf7f2-d138-494d-a3af-03172108d38f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:28:01.300083Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.527333ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c67cf7f2-d138-494d-a3af-03172108d38f/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.390541ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-adoring-chaum","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c67cf7f2-d138-494d-a3af-03172108d38f/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-25T14:28:32.042447819Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:28:01.098815Z","description":"","frontend_count":0,"id":"c67cf7f2-d138-494d-a3af-03172108d38f","instances":[{"created_at":"2026-02-25T14:26:51.151312Z","id":"930f3b03-d478-4b71-a0c5-42895fb9cdc3","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-25T14:28:32.076297149Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"c67cf7f2-d138-494d-a3af-03172108d38f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:28:03.816699Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-adoring-chaum","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-25T14:28:32.042447819Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.288209ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/5cf8a3b0-a376-48dc-896f-afeb7d8f9aff
        method: GET
      response:
        body: '{"created_at":"2026-02-25T14:28:32.042448Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-dreamy-nobel","inbound_port":80,"backend_id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c67cf7f2-d138-494d-a3af-03172108d38f/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:28:32.042448Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:28:01.098815Z","description":"","frontend_count":1,"id":"c67[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-strange-yonath","inbound_port":80,"backend_id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/96777db7-4cdb-482e-ad55-c4e76e9a06af
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:28:32.042448Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/96777db7-4cdb-482e-ad55-c4e76e9a06af/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.719583ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"96777db7-4cdb-482e-ad55-c4e76e9a06af","backend_id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","created_at":"2026-02-25T14:28:34.084284848Z","frontend_id":"96777db7-4cdb-482e-ad55-c4e76e9a06af","id":"569dff9a-0f52-4cd7-87e6-47168c0297d8","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-25T14:28:34.084284848Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 293.176125ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/569dff9a-0f52-4cd7-87e6-47168c0297d8
        method: GET
      response:
        body: '{"backend_id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","created_at":"2026-02-25T14:28:34.084285Z","frontend_id":"96777db7-4cdb-482e-ad55-c4e76e9a06af","id":"569dff9a-0f52-4cd7-87e6-47168c0297d8","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-25T14:28:34.084285Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.307875ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=96777db7-4cdb-482e-ad55-c4e76e9a06af&order_by=created_at_asc
        method: GET
      response:
        body: '{"routes":[{"backend_id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","created_at":"2026-02-25T14:28:34.084285Z","frontend_id":"96777db7-4cdb-482e-ad55-c4e76e9a06af","id":"569dff9a-0f52-4cd7-87e6-47168c0297d8","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-25T14:28:34.084285Z"},{"backend_id":"5cf8a3b0-a376-48dc-896f-afeb7d8f9aff","created_at":"2026-02-25T14:28:36.626750Z","frontend_id":"96777db7-4cdb-482e-ad55-c4e76e9a06af","id":"cd719206-59a5-4477-a0bb-62f5bf28b870","match":{"match_subdomains":false,"sni":"sni2.scaleway.com"},"updated_at":"2026-02-25T14:28:36.626750Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.582708ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c67cf7f2-d138-494d-a3af-03172108d38f?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 278.744083ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c67cf7f2-d138-494d-a3af-03172108d38f
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.996125ms
[...]
