---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.984792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ebce515e-59f3-472d-89fc-205eaac8106d
        method: GET
      response:
        body: '{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.370209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:11.473295956Z","description":"","frontend_count":0,"id":"5602ace6-a936-4540-8ab0-b7c3f451ccb7","instances":[],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"5602ace6-a936-4540-8ab0-b7c3f451ccb7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:11.473295956Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.112ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5602ace6-a936-4540-8ab0-b7c3f451ccb7
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:11.473296Z","description":"","frontend_count":0,"id":"5602ace6-a936-4540-8ab0-b7c3f451ccb7","instances":[],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"5602ace6-a936-4540-8ab0-b7c3f451ccb7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:11.473296Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.386584ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5602ace6-a936-4540-8ab0-b7c3f451ccb7/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.923959ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-backend-datasource0","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5602ace6-a936-4540-8ab0-b7c3f451ccb7/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:10:42.284389311Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"34e9c92f-a396-40c0-b7ba-978a1c80c503","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:10:11.473296Z","description":"","frontend_count":0,"id":"5602ace6-a936-4540-8ab0-b7c3f451ccb7","instances":[{"created_at":"2025-01-24T14:08:47.761853Z","id":"af77a10b-67a5-402d-8429-ac1b4ad67b63","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:10:42.311613364Z","zone":"fr-par-1"}],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"5602ace6-a936-4540-8ab0-b7c3f451ccb7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:16.372465Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-backend-datasource0","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:10:42.284389311Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.773542ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/34e9c92f-a396-40c0-b7ba-978a1c80c503
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:10:42.284389Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5602ace6-a936-4540-8ab0-b7c3f451ccb7/backends?order_by=created_at_asc
        method: GET
      response:
        body: '{"backends":[{"created_at":"2025-01-24T14:10:42.284389Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"34e9c92f-a396-40c0-b7ba-978a1c80c503","ignore_ssl_server_verify":false,"lb":{"backend_count":2,"created_at":"2025-01-24T14:10:11.473296Z","description":"","frontend_count":0,"id":"56[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5602ace6-a936-4540-8ab0-b7c3f451ccb7/backends?name=tf-backend-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"backends":[{"created_at":"2025-01-24T14:10:42.284389Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"che[...]
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5602ace6-a936-4540-8ab0-b7c3f451ccb7?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 264.79725ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5602ace6-a936-4540-8ab0-b7c3f451ccb7
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.746917ms
[...]
