---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips
    method: POST
  response:
    body: "{\"id\":\"a4fc6923-2513-4ee9-a059-f3d68047f554\",\"ip_address\":\"51.159.85.106\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-85-106.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 350.239645ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/2296f49d-ef0f-4794-9481-15c3525e0c28
    method: GET
  response:
    body: "{\"id\":\"2296f49d-ef0f-4794-9481-15c3525e0c28\",\"ip_address\":\"51.159.74.63\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-74-63.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.024361324s
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      ip_address:
      - 51.159.85.106
      ip_type:
      - all
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips?ip_address=51.159.85.106&ip_type=all
    method: GET
  response:
    body: "{\"ips\":[{\"id\":\"a4fc6923-2513-4ee9-a059-f3d68047f554\",\"ip_address\":\"51.159.85.106\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-85-106.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-2\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 368.806379ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/2296f49d-ef0f-4794-9481-15c3525e0c28
    method: GET
  response:
    body: "{\"message\":\"ips not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.149934ms
[...]
