---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"id":"78592c5c-a79a-4bda-b012-9ef59c452a85","ip_address":"51.158.216.42","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","reverse":"51-158-216-42.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.687691ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/78592c5c-a79a-4bda-b012-9ef59c452a85
        method: GET
      response:
        body: '{"id":"78592c5c-a79a-4bda-b012-9ef59c452a85","ip_address":"51.158.216.42","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","reverse":"51-158-216-42.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.90605ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips?ip_type=ipv4
        method: GET
      response:
        body: '{"ips":[{"id":"78592c5c-a79a-4bda-b012-9ef59c452a85","ip_address":"51.158.216.42","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","reverse":"51-158-216-42.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"},{"id":"825a17be-6af8-441b-b947-c7c2688e71e9","ip_address":"51.158.216.74","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","reverse":"51-158-216-74.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.098733ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/78592c5c-a79a-4bda-b012-9ef59c452a85
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.02907ms
[...]
