---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":["test-ips-tags","ipv4"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":["test-ips-tags","ipv4"],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.175671ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3db2c29c-5414-4fa9-9b74-2f6e33a4aac0
        method: GET
      response:
        body: '{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":["test-ips-tags","ipv4"],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.21648ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_type=all&tags=test-ips-tags&tags=ipv4
        method: GET
      response:
        body: '{"ips":[{"id":"c845d681-5bc2-4812-8b46-003c0a60a89f","ip_address":"51.15.233.55","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-233-55.lb.fr-par.scw.cloud","tags":["test-ips-tags","ipv4"],"zone":"fr-par-1"},{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":["test-ips-tags","ipv4"],"zone":"fr-par-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.891048ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c845d681-5bc2-4812-8b46-003c0a60a89f
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.901463ms
[...]
