---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.552594ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a6154d85-af1e-452e-abba-5114c4a049f2
    method: GET
  response:
    body: "{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.122508ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-lb-datasource0\",\"description\":\"a description\",\"ip_id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_ids\":[],\"tags\":[\"terraform-test\",\"data_scaleway_lbs\",\"basic\"],\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"e2f67a75-3171-4a98-be93-68b2836952b3\",\"name\":\"tf-lb-datasource0\",\"description\":\"a description\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"e2f67a75-3171-4a98-be93-68b2836952b3\",\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[\"terraform-test\",\"data_scaleway_lbs\",\"basic\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:00.440594352Z\",\"updated_at\":\"2025-09-01T15:26:00.440594352Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 395.474435ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e2f67a75-3171-4a98-be93-68b2836952b3
    method: GET
  response:
    body: "{\"id\":\"e2f67a75-3171-4a98-be93-68b2836952b3\",\"name\":\"tf-lb-datasource0\",\"description\":\"a description\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"e2f67a75-3171-4a98-be93-68b2836952b3\",\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[\"terraform-test\",\"data_scaleway_lbs\",\"basic\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:00.440594Z\",\"updated_at\":\"2025-09-01T15:26:00.440594Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.599177ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e2f67a75-3171-4a98-be93-68b2836952b3/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.447493ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      tags:
      - terraform-test
      - data_scaleway_lbs
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&tags=terraform-test&tags=data_scaleway_lbs
    method: GET
  response:
    body: "{\"lbs\":[{\"id\":\"e2f67a75-3171-4a98-be93-68b2836952b3\",\"name\":\"tf-lb-datasource0\",\"description\":\"a description\",\"status\":\"ready\",\"instances\":[{\"id\":\"f95b6be1-1c0b-4ed0-ba2c-d9ecf1e1379e\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-08-28T06:47:01.952625Z\",\"updated_at\":\"2025-09-01T15:26:03.806932Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"[...]
- id: 43
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-lb-datasource
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/lbs?name=tf-lb-datasource&order_by=created_at_asc
    method: GET
  response:
    body: "{\"lbs\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.305027ms
[...]
- id: 67
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e2f67a75-3171-4a98-be93-68b2836952b3?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 482.307976ms
[...]
- id: 71
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e2f67a75-3171-4a98-be93-68b2836952b3
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 67.72166ms
[...]
