---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[\"ipv4\",\"ip\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"bd7c3c63-7f1d-427e-a5bb-e5660d353283\",\"ip_address\":\"212.47.231.50\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"212-47-231-50.lb.fr-par.scw.cloud\",\"tags\":[\"ipv4\",\"ip\"],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.831311ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/bd7c3c63-7f1d-427e-a5bb-e5660d353283
    method: GET
  response:
    body: "{\"id\":\"bd7c3c63-7f1d-427e-a5bb-e5660d353283\",\"ip_address\":\"212.47.231.50\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"212-47-231-50.lb.fr-par.scw.cloud\",\"tags\":[\"ipv4\",\"ip\"],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.416902ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      ip_type:
      - all
      tags:
      - ipv4
      - ip
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_type=all&tags=ipv4&tags=ip
    method: GET
  response:
    body: "{\"ips\":[{\"id\":\"c71971d6-cde6-44a2-9148-94c382bd5cc5\",\"ip_address\":\"62.210.39.126\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-39-126.lb.fr-par.scw.cloud\",\"tags\":[\"ipv4\",\"ip\"],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},{\"id\":\"bd7c3c63-7f1d-427e-a5bb-e5660d353283\",\"ip_address\":\"212.47.231.50\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"212-47-231-50.lb.fr-par.scw.cloud\",\"tags\":[\"ipv4\",\"ip\"],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.671029ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/bd7c3c63-7f1d-427e-a5bb-e5660d353283
    method: GET
  response:
    body: "{\"message\":\"ips not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 41.334674ms
[...]
