---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.180949ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b10c27d1-cd18-47c4-a2f8-a202ae9d0568
        method: GET
      response:
        body: '{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.789295ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb-backend","description":"","ip_id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.882763584Z","description":"","frontend_count":0,"id":"bfc9b046-31e2-4326-b4e8-513fbeff5155","instances":[],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"bfc9b046-31e2-4326-b4e8-513fbeff5155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:28.882763584Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.352817ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfc9b046-31e2-4326-b4e8-513fbeff5155
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.882764Z","description":"","frontend_count":0,"id":"bfc9b046-31e2-4326-b4e8-513fbeff5155","instances":[{"created_at":"2026-07-21T10:13:38.800937Z","id":"ed79c25e-22ab-433e-b69b-46372e5d7ce0","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:16:29.086269Z","zone":"fr-par-1"}],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"bfc9b046-31e2-4326-b4e8-513fbeff5155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:29.097155Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.396897ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfc9b046-31e2-4326-b4e8-513fbeff5155/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.162042ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfc9b046-31e2-4326-b4e8-513fbeff5155/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:16:59.567461684Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"1aa18221-a580-42bc-9086-f36f25dafe32","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.882764Z","description":"","frontend_count":0,"id":"bfc9b046-31e2-4326-b4e8-513fbeff5155","instances":[{"created_at":"2026-07-21T10:13:38.800937Z","id":"ed79c25e-22ab-433e-b69b-46372e5d7ce0","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:16:59.636164193Z","zone":"fr-par-1"}],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"bfc9b046-31e2-4326-b4e8-513fbeff5155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:31.790372Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"backend01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:16:59.567461684Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.286841ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/1aa18221-a580-42bc-9086-f36f25dafe32
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:16:59.567462Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfc9b046-31e2-4326-b4e8-513fbeff5155/backends?name=backend01&order_by=created_at_asc
        method: GET
      response:
        body: '{"backends":[{"created_at":"2026-07-21T10:16:59.567462Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"1aa18221-a580-42bc-9086-f36f25dafe32","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.882764Z","description":"","frontend_count":[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfc9b046-31e2-4326-b4e8-513fbeff5155?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 278.983842ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfc9b046-31e2-4326-b4e8-513fbeff5155
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.484479ms
[...]
