---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.996633ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/383d2ba6-0a85-43f9-aaf3-3dba047a4003
        method: GET
      response:
        body: '{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.86522ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:49.072719879Z","description":"","frontend_count":0,"id":"5bb7a74f-1635-4861-96df-5bf81ad8e9f2","instances":[],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"5bb7a74f-1635-4861-96df-5bf81ad8e9f2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:49.072719879Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.376138ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5bb7a74f-1635-4861-96df-5bf81ad8e9f2
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:49.072720Z","description":"","frontend_count":0,"id":"5bb7a74f-1635-4861-96df-5bf81ad8e9f2","instances":[],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"5bb7a74f-1635-4861-96df-5bf81ad8e9f2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:49.072720Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.835103ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5bb7a74f-1635-4861-96df-5bf81ad8e9f2/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.058473ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-condescending-chatelet","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5bb7a74f-1635-4861-96df-5bf81ad8e9f2/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:19:19.751960774Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"155c2c0b-e5ca-44e3-a221-acea91ef96a0","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:49.072720Z","description":"","frontend_count":0,"id":"5bb7a74f-1635-4861-96df-5bf81ad8e9f2","instances":[{"created_at":"2026-07-21T10:17:48.594009Z","id":"8786936a-a95b-4fab-adc9-4c9b0bce933f","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:19:19.786274035Z","zone":"fr-par-1"}],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"5bb7a74f-1635-4861-96df-5bf81ad8e9f2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:52.730918Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-condescending-chatelet","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:19:19.751960774Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.814993ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/155c2c0b-e5ca-44e3-a221-acea91ef96a0
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:19:19.751961Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-nifty-stonebraker","inbound_port":50000,"backend_id":"155c2c0b-e5ca-44e3-a221-acea91ef96a0","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5bb7a74f-1635-4861-96df-5bf81ad8e9f2/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:19.751961Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"155c2c0b-e5ca-44e3-a221-acea91ef96a0","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:49.072720Z","description":"","frontend_count":1[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-magical-merkle","inbound_port":50000,"backend_id":"155c2c0b-e5ca-44e3-a221-acea91ef96a0","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5cb6494a-ab0b-429d-ae14-5a5a66308d8b
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:19.751961Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_che[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5cb6494a-ab0b-429d-ae14-5a5a66308d8b/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.819016ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"tf-acl-datasource0","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1"],"ips_edge_services":false,"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5cb6494a-ab0b-429d-ae14-5a5a66308d8b/acls
        method: POST
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2026-07-21T10:19:21.391308251Z","description":"","frontend":{"backend":{"created_at":"2026-07-21T10:19:19.751961Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"155c2c0b-e5ca-44e3-a221-acea91ef96a0","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:49.072720Z","description":"","fronte[...]
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5cb6494a-ab0b-429d-ae14-5a5a66308d8b/acls?name=tf-acl-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2026-07-21T10:19:21.391308Z","description":"","frontend":{"backend":{"created_at":"2026-07-21T10:19:19.751961Z","fa[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5cb6494a-ab0b-429d-ae14-5a5a66308d8b/acls?order_by=created_at_asc
        method: GET
      response:
        body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2026-07-21T10:19:21.391308Z","description":"","frontend":{"backend":{"created_at":"2026-07-21T10:19:19.751961Z","failover_host":null,"forw[...]
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5bb7a74f-1635-4861-96df-5bf81ad8e9f2?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 303.836819ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5bb7a74f-1635-4861-96df-5bf81ad8e9f2
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.024607ms
[...]
