---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"cd01a098-dc9c-4f6a-85e8-38bb9d59b3d1\",\"ip_address\":\"195.154.197.156\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-197-156.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.510816ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cd01a098-dc9c-4f6a-85e8-38bb9d59b3d1
    method: GET
  response:
    body: "{\"id\":\"cd01a098-dc9c-4f6a-85e8-38bb9d59b3d1\",\"ip_address\":\"195.154.197.156\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-197-156.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.948534ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"cd01a098-dc9c-4f6a-85e8-38bb9d59b3d1\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"bb406183-5b18-469c-a90d-aea688b454af\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"cd01a098-dc9c-4f6a-85e8-38bb9d59b3d1\",\"ip_address\":\"195.154.197.156\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"bb406183-5b18-469c-a90d-aea688b454af\",\"reverse\":\"195-154-197-156.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:29.984747556Z\",\"updated_at\":\"2025-09-01T15:27:29.984747556Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 392.639574ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb406183-5b18-469c-a90d-aea688b454af
    method: GET
  response:
    body: "{\"id\":\"bb406183-5b18-469c-a90d-aea688b454af\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"cd01a098-dc9c-4f6a-85e8-38bb9d59b3d1\",\"ip_address\":\"195.154.197.156\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"bb406183-5b18-469c-a90d-aea688b454af\",\"reverse\":\"195-154-197-156.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:29.984748Z\",\"updated_at\":\"2025-09-01T15:27:29.984748Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.462315ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb406183-5b18-469c-a90d-aea688b454af/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 77.352984ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-wonderful-leakey\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb406183-5b18-469c-a90d-aea688b454af/backends
    method: POST
  response:
    body: "{\"id\":\"298a390c-7555-46d2-8d38-79d9956ed65c\",\"name\":\"tf-lb-bkd-wonderful-leakey\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"bb406183-5b18-469c-a90d-aea688b454af\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"73f20377-cf1d-4901-aa0f-3391ee0cb247\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:50.693994Z\",\"updated_at\":\"2025-09-01T15:28:00.976776188Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"cd01a098-dc9c-4f6a-85e8-38bb9d59b3d1\",\"ip_address\":\"195.154.197.156\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"bb406183-5b18-469c-a90d-aea688b454af\",\"reverse\":\"195-154-197-156.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:29.984748Z\",\"updated_at\":\"2025-09-01T15:27:35.651290Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:28:00.946748552Z\",\"updated_at\":\"2025-09-01T15:28:00.946748552Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 354.566054ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/298a390c-7555-46d2-8d38-79d9956ed65c
    method: GET
  response:
    body: "{\"id\":\"298a390c-7555-46d2-8d38-79d9956ed65c\",\"name\":\"tf-lb-bkd-wonderful-leakey\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-xenodochial-wright\",\"inbound_port\":50000,\"backend_id\":\"298a390c-7555-46d2-8d38-79d9956ed65c\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb406183-5b18-469c-a90d-aea688b454af/frontends
    method: POST
  response:
    body: "{\"id\":\"fd1a4367-be8c-4f09-aa13-05d8a517bea1\",\"name\":\"tf-lb-frt-xenodochial-wright\",\"inbound_port\":50000,\"backend\":{\"id\":\"298a390c-7555-46d2-8d38-79d9956ed65c\",\"name\":\"tf-lb-bkd-wonderful-leakey\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"bb406183-5b18-469c-a90d-aea688b454af\",\"[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-gifted-hugle\",\"inbound_port\":50000,\"backend_id\":\"298a390c-7555-46d2-8d38-79d9956ed65c\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/fd1a4367-be8c-4f09-aa13-05d8a517bea1
    method: PUT
  response:
    body: "{\"id\":\"fd1a4367-be8c-4f09-aa13-05d8a517bea1\",\"name\":\"tf-lb-frt-gifted-hugle\",\"inbound_port\":50000,\"backend\":{\"id\":\"298a390c-7555-46d2-8d38-79d9956ed65c\",\"name\":\"tf-lb-bkd-wonderful-leakey\",\"forwa[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/fd1a4367-be8c-4f09-aa13-05d8a517bea1/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 184.727671ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-acl-datasource0\",\"action\":{\"type\":\"allow\",\"redirect\":null},\"match\":{\"ip_subnet\":[\"192.168.0.1\"],\"ips_edge_services\":false,\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":[],\"http_filter_option\":null,\"invert\":true},\"index\":1,\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/fd1a4367-be8c-4f09-aa13-05d8a517bea1/acls
    method: POST
  response:
    body: "{\"id\":\"4e827182-338e-4e65-b687-0ae175429365\",\"name\":\"tf-acl-datasource0\",\"match\":{\"ip_subnet\":[\"192.168.0.1\"],\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":[],\"invert\":true,\"http_filter_option\":null,\"ips_edge_services\":false},\"action\":{\"type\":\"allow\",\"redirect\":null},\"frontend\":{\"id\":\"fd1a4367-be8c-4f09-aa13-05d8a517bea1\",\"name\":\"tf-lb-frt-gifted-hugle\",\"inbound_port\":50000,\"backend\":{\"id\":\"298a390c-7555-46d2-8d38-79d9956ed65c\",\"name\":\"tf-lb-bkd-wonderful-leakey\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"tran[...]
[...]
- id: 42
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-acl-datasource
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/fd1a4367-be8c-4f09-aa13-05d8a517bea1/acls?name=tf-acl-datasource&order_by=created_at_asc
    method: GET
  response:
    body: "{\"acls\":[{\"id\":\"4e827182-338e-4e65-b687-0ae175429365\",\"name\":\"tf-acl-datasource0\",\"match\":{\"ip_subnet\":[\"192.168.0.1\"],\"http_filter\":\"acl_htt[...]
- id: 43
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/fd1a4367-be8c-4f09-aa13-05d8a517bea1/acls?order_by=created_at_asc
    method: GET
  response:
    body: "{\"acls\":[{\"id\":\"4e827182-338e-4e65-b687-0ae175429365\",\"name\":\"tf-acl-datasource0\",\"match\":{\"ip_subnet\":[\"192.168.0.1\"],\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":[],\"invert\":true,\"ht[...]
[...]
- id: 64
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb406183-5b18-469c-a90d-aea688b454af?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 482.485213ms
[...]
- id: 66
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb406183-5b18-469c-a90d-aea688b454af
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.93099ms
[...]
