---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.878249ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b10c27d1-cd18-47c4-a2f8-a202ae9d0568
        method: GET
      response:
        body: '{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.79019ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:34.833610543Z","description":"","frontend_count":0,"id":"0e46ceb4-71e0-4f30-a360-401ade5c564d","instances":[],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"0e46ceb4-71e0-4f30-a360-401ade5c564d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:34.833610543Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.641737ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0e46ceb4-71e0-4f30-a360-401ade5c564d
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:34.833611Z","description":"","frontend_count":0,"id":"0e46ceb4-71e0-4f30-a360-401ade5c564d","instances":[{"created_at":"2026-07-21T10:16:38.748984Z","id":"d453fafd-faf5-476a-8048-b7a7f5f07f71","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:17:34.987177Z","zone":"fr-par-1"}],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"0e46ceb4-71e0-4f30-a360-401ade5c564d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:34.993642Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.188358ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0e46ceb4-71e0-4f30-a360-401ade5c564d/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.912835ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-backend-datasource0","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0e46ceb4-71e0-4f30-a360-401ade5c564d/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:18:05.482719784Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"0ab21aab-39c1-4547-8469-54571b2561eb","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:34.833611Z","description":"","frontend_count":0,"id":"0e46ceb4-71e0-4f30-a360-401ade5c564d","instances":[{"created_at":"2026-07-21T10:16:38.748984Z","id":"d453fafd-faf5-476a-8048-b7a7f5f07f71","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:18:05.526878117Z","zone":"fr-par-1"}],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"0e46ceb4-71e0-4f30-a360-401ade5c564d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:37.923882Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-backend-datasource0","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:18:05.482719784Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.593124ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/0ab21aab-39c1-4547-8469-54571b2561eb
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:18:05.482720Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0e46ceb4-71e0-4f30-a360-401ade5c564d/backends?name=tf-backend-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"backends":[{"created_at":"2026-07-21T10:18:05.482720Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"0ab21aab-39c1-4547-8469-54571b2561eb","ignore_ssl_server_verify":null,"lb":{"backend_count":2,"created_at":"2026-07-21T10:17:34.833611Z","description":"","frontend_count":0[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0e46ceb4-71e0-4f30-a360-401ade5c564d/backends?order_by=created_at_asc
        method: GET
      response:
        body: '{"backends":[{"created_at":"2026-07-21T10:18:05.482720Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_[...]
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0e46ceb4-71e0-4f30-a360-401ade5c564d?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 494.419574ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0e46ceb4-71e0-4f30-a360-401ade5c564d
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.360631ms
[...]
