---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.203976ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b75f95cc-ce33-4194-ac28-a9c58d7f0cf4
    method: GET
  response:
    body: "{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.081382ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"eb877dfc-1087-4c7a-938b-526c74f5e186\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"eb877dfc-1087-4c7a-938b-526c74f5e186\",\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.388047447Z\",\"updated_at\":\"2025-09-01T15:25:44.388047447Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 432.443791ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186
    method: GET
  response:
    body: "{\"id\":\"eb877dfc-1087-4c7a-938b-526c74f5e186\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"eb877dfc-1087-4c7a-938b-526c74f5e186\",\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.388047Z\",\"updated_at\":\"2025-09-01T15:25:44.388047Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.189111ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.23001ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-agitated-lovelace\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186/backends
    method: POST
  response:
    body: "{\"id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"name\":\"tf-lb-bkd-agitated-lovelace\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"eb877dfc-1087-4c7a-938b-526c74f5e186\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"e98bb251-0c1e-4e01-addc-8a3124054569\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T13:27:39.851074Z\",\"updated_at\":\"2025-09-01T15:26:15.445803757Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b75f95cc-ce33-4194-ac28-a9c58d7f0cf4\",\"ip_address\":\"195.154.196.93\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"eb877dfc-1087-4c7a-938b-526c74f5e186\",\"reverse\":\"195-154-196-93.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.388047Z\",\"updated_at\":\"2025-09-01T15:25:49.968764Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:15.420279275Z\",\"updated_at\":\"2025-09-01T15:26:15.420279275Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 515.352854ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/99694bc4-4859-4067-a4ef-08d76bf09cf0
    method: GET
  response:
    body: "{\"id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"name\":\"tf-lb-bkd-agitated-lovelace\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-frontend-datasource0\",\"inbound_port\":50000,\"backend_id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186/frontends
    method: POST
  response:
    body: "{\"id\":\"02358327-2e19-4c26-98df-fe0e3ce7c6d1\",\"name\":\"tf-frontend-datasource0\",\"inbound_port\":50000,\"backend\":{\"id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"name\":\"tf-lb-bkd-agitated-lovelace\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"eb877dfc-1087-4c7a-938b-526c74f5e186\",\[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-frontend-datasource0\",\"inbound_port\":50000,\"backend_id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/02358327-2e19-4c26-98df-fe0e3ce7c6d1
    method: PUT
  response:
    body: "{\"id\":\"02358327-2e19-4c26-98df-fe0e3ce7c6d1\",\"name\":\"tf-frontend-datasource0\",\"inbound_port\":50000,\"backend\":{\"id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"name\":\"tf-lb-bkd-agitated-lovelace\",\"for[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/02358327-2e19-4c26-98df-fe0e3ce7c6d1/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.297612ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-frontend-datasource
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186/frontends?name=tf-frontend-datasource&order_by=created_at_asc
    method: GET
  response:
    body: "{\"frontends\":[{\"id\":\"02358327-2e19-4c26-98df-fe0e3ce7c6d1\",\"name\":\"tf-frontend-datasource0\",\"inbound_port\":50000,\"backend\":{\"id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"name\":\"tf-lb-bkd-agitated-lovelace\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"t[...]
- id: 43
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186/frontends?order_by=created_at_asc
    method: GET
  response:
    body: "{\"frontends\":[{\"id\":\"02358327-2e19-4c26-98df-fe0e3ce7c6d1\",\"name\":\"tf-frontend-datasource0\",\"inbound_port\":50000,\"backend\":{\"id\":\"99694bc4-4859-4067-a4ef-08d76bf09cf0\",\"name\":\"tf-lb-bkd-agitated-lovela[...]
[...]
- id: 68
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 429.527928ms
[...]
- id: 70
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eb877dfc-1087-4c7a-938b-526c74f5e186
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.265308ms
[...]
