---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.451458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/eb88fc5d-4b65-4941-9807-a1f28aad4f71
        method: GET
      response:
        body: '{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.888333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:55.729427029Z","description":"","frontend_count":0,"id":"d53ddefe-e350-4a13-9ad6-7df95cd3fda2","instances":[],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"d53ddefe-e350-4a13-9ad6-7df95cd3fda2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:55.729427029Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.306625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d53ddefe-e350-4a13-9ad6-7df95cd3fda2
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:55.729427Z","description":"","frontend_count":0,"id":"d53ddefe-e350-4a13-9ad6-7df95cd3fda2","instances":[],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"d53ddefe-e350-4a13-9ad6-7df95cd3fda2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:55.729427Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.6385ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d53ddefe-e350-4a13-9ad6-7df95cd3fda2/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.68425ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-flamboyant-leavitt","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d53ddefe-e350-4a13-9ad6-7df95cd3fda2/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:12:26.521136767Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"d00ab230-b4d7-414f-adb6-4337d785dd20","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:11:55.729427Z","description":"","frontend_count":0,"id":"d53ddefe-e350-4a13-9ad6-7df95cd3fda2","instances":[{"created_at":"2025-01-24T14:10:17.123467Z","id":"7a791007-d61e-4ebb-9ba9-90779568f098","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:12:26.544245562Z","zone":"fr-par-1"}],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"d53ddefe-e350-4a13-9ad6-7df95cd3fda2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:12:05.391009Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-flamboyant-leavitt","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:12:26.521136767Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 407.249084ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d00ab230-b4d7-414f-adb6-4337d785dd20
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:12:26.521137Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-magical-tu","inbound_port":50000,"backend_id":"d00ab230-b4d7-414f-adb6-4337d785dd20","enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d53ddefe-e350-4a13-9ad6-7df95cd3fda2/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:12:26.521137Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"d00ab230-b4d7-414f-adb6-4337d785dd20","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:11:55.729427Z","description":"","frontend_count":1,"id":"d5[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-upbeat-grothendieck","inbound_port":50000,"backend_id":"d00ab230-b4d7-414f-adb6-4337d785dd20","certificate_ids":[],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/585e56d0-469b-42e4-8050-ae12ff2e1cd6
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:12:26.521137Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/585e56d0-469b-42e4-8050-ae12ff2e1cd6/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.89575ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"tf-acl-datasource0","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/585e56d0-469b-42e4-8050-ae12ff2e1cd6/acls
        method: POST
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2025-01-24T14:12:28.642116739Z","description":"","frontend":{"backend":{"created_at":"2025-01-24T14:12:26.521137Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"d00ab230-b4d7-414f-adb6-4337d785dd20","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:11:55.729427Z","description":"","frontend_count"[...]
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/585e56d0-469b-42e4-8050-ae12ff2e1cd6/acls?order_by=created_at_asc
        method: GET
      response:
        body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2025-01-24T14:12:28.642117Z","description":"","frontend":{"backend":{"created_at":"2025-01-24T14:12:26.521137Z","failover_host":null,"forw[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/585e56d0-469b-42e4-8050-ae12ff2e1cd6/acls?name=tf-acl-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2025-01-24T14:12:28.642117Z","description":"","frontend":{"backend":{"created_at":"2025-01-24T14:12:26.521137Z","fa[...]
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d53ddefe-e350-4a13-9ad6-7df95cd3fda2?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 319.394083ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d53ddefe-e350-4a13-9ad6-7df95cd3fda2
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.05675ms
[...]
