---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 177.632577ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/864980a2-38ba-46f2-94af-68925d4f2fdc
    method: GET
  response:
    body: "{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.269389ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"9784005c-4a20-488f-bedd-587f57c66429\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9784005c-4a20-488f-bedd-587f57c66429\",\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.327309908Z\",\"updated_at\":\"2025-09-01T15:25:44.327309908Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 411.000971ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9784005c-4a20-488f-bedd-587f57c66429
    method: GET
  response:
    body: "{\"id\":\"9784005c-4a20-488f-bedd-587f57c66429\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9784005c-4a20-488f-bedd-587f57c66429\",\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.327310Z\",\"updated_at\":\"2025-09-01T15:25:44.327310Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.738395ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9784005c-4a20-488f-bedd-587f57c66429/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.546194ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-silly-chatelet\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9784005c-4a20-488f-bedd-587f57c66429/backends
    method: POST
  response:
    body: "{\"id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"name\":\"tf-lb-bkd-silly-chatelet\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"9784005c-4a20-488f-bedd-587f57c66429\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"35cac55e-548c-4c1a-9cbe-183ad2de62fe\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:21:00.028789Z\",\"updated_at\":\"2025-09-01T15:26:15.371557348Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9784005c-4a20-488f-bedd-587f57c66429\",\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.327310Z\",\"updated_at\":\"2025-09-01T15:25:50.246443Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:15.345915434Z\",\"updated_at\":\"2025-09-01T15:26:15.345915434Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 458.088204ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ee58b791-14d7-46b7-9770-fe07f620868e
    method: GET
  response:
    body: "{\"id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"name\":\"tf-lb-bkd-silly-chatelet\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"ch[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-magical-davinci\",\"inbound_port\":80,\"backend_id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9784005c-4a20-488f-bedd-587f57c66429/frontends
    method: POST
  response:
    body: "{\"id\":\"e01809bf-bba8-4398-a795-4c28c111fd4e\",\"name\":\"tf-lb-frt-magical-davinci\",\"inbound_port\":80,\"backend\":{\"id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"name\":\"tf-lb-bkd-silly-chatelet\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"9784005c-4a20-488f-bedd-587f57c66429\",\"nam[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-intelligent-kapitsa\",\"inbound_port\":80,\"backend_id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e01809bf-bba8-4398-a795-4c28c111fd4e
    method: PUT
  response:
    body: "{\"id\":\"e01809bf-bba8-4398-a795-4c28c111fd4e\",\"name\":\"tf-lb-frt-intelligent-kapitsa\",\"inbound_port\":80,\"backend\":{\"id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"name\":\"tf-lb-bkd-silly-chatelet\",\"for[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e01809bf-bba8-4398-a795-4c28c111fd4e/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.263304ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"frontend_id\":\"e01809bf-bba8-4398-a795-4c28c111fd4e\",\"backend_id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: "{\"id\":\"33a28941-ff2a-4d34-aa05-c19b949eb3a4\",\"frontend_id\":\"e01809bf-bba8-4398-a795-4c28c111fd4e\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"created_at\":\"2025-09-01T15:26:18.240556443Z\",\"updated_at\":\"2025-09-01T15:26:18.240556443Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 463.765375ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/33a28941-ff2a-4d34-aa05-c19b949eb3a4
    method: GET
  response:
    body: "{\"id\":\"33a28941-ff2a-4d34-aa05-c19b949eb3a4\",\"frontend_id\":\"e01809bf-bba8-4398-a795-4c28c111fd4e\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"created_at\":\"2025-09-01T15:26:18.240556Z\",\"updated_at\":\"2025-09-01T15:26:18.240556Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.023007ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    form:
      frontend_id:
      - e01809bf-bba8-4398-a795-4c28c111fd4e
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=e01809bf-bba8-4398-a795-4c28c111fd4e&order_by=created_at_asc
    method: GET
  response:
    body: "{\"routes\":[{\"id\":\"33a28941-ff2a-4d34-aa05-c19b949eb3a4\",\"frontend_id\":\"e01809bf-bba8-4398-a795-4c28c111fd4e\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"created_at\":\"2025-09-01T15:26:18.240556Z\",\"updated_at\":\"2025-09-01T15:26:18.240556Z\"},{\"id\":\"4f9e612e-4bac-4a86-9ce4-568ea17efb5c\",\"frontend_id\":\"e01809bf-bba8-4398-a795-4c28c111fd4e\",\"match\":{\"sni\":\"sni2.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"ee58b791-14d7-46b7-9770-fe07f620868e\",\"created_at\":\"2025-09-01T15:26:26.248190Z\",\"updated_at\":\"2025-09-01T15:26:26.248190Z\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.394857ms
[...]
- id: 63
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9784005c-4a20-488f-bedd-587f57c66429?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 626.3217ms
[...]
- id: 65
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9784005c-4a20-488f-bedd-587f57c66429
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 16.01438ms
[...]
