---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.163917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/eaf33b2f-b3b0-444f-87a3-3643822538db
        method: GET
      response:
        body: '{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.648125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.921161770Z","description":"","frontend_count":0,"id":"0fa76084-4a2a-4cb6-b22c-d09fae816f4b","instances":[],"ip":[{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":"0fa76084-4a2a-4cb6-b22c-d09fae816f4b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:50.921161770Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.083167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.921162Z","description":"","frontend_count":0,"id":"0fa76084-4a2a-4cb6-b22c-d09fae816f4b","instances":[],"ip":[{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":"0fa76084-4a2a-4cb6-b22c-d09fae816f4b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:50.921162Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.19675ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.243333ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-unruffled-rubin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:09:21.793839344Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"646a21c5-3cad-4ce7-aefe-0e6d1bea883e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:50.921162Z","description":"","frontend_count":0,"id":"0fa76084-4a2a-4cb6-b22c-d09fae816f4b","instances":[{"created_at":"2025-01-23T00:44:54.556482Z","id":"131d8cad-adb7-4745-af07-2f104d6adcde","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:09:21.823424998Z","zone":"fr-par-1"}],"ip":[{"id":"eaf33b2f-b3b0-444f-87a3-3643822538db","ip_address":"195.154.75.179","lb_id":"0fa76084-4a2a-4cb6-b22c-d09fae816f4b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-179.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:13.404456Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-unruffled-rubin","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:09:21.793839344Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.432959ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/646a21c5-3cad-4ce7-aefe-0e6d1bea883e
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:09:21.793839Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"646a21c5-3cad-4ce7-aefe-0e6d1bea883e","enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.793839Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"646a21c5-3cad-4ce7-aefe-0e6d1bea883e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:50.921162Z","description":"","frontend_count":1,"id":"0f[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"646a21c5-3cad-4ce7-aefe-0e6d1bea883e","certificate_ids":[],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a14f9682-4de1-4971-8c3d-7baa80acdfa4
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.793839Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a14f9682-4de1-4971-8c3d-7baa80acdfa4/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.369833ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b/frontends?order_by=created_at_asc
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2025-01-24T14:09:21.793839Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"646a21c5-3cad-4ce7-aefe-0e6d1bea883e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:50.921162Z","description":"","frontend_count[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b/frontends?name=tf-frontend-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2025-01-24T14:09:21.793839Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","heal[...]
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 326.318ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0fa76084-4a2a-4cb6-b22c-d09fae816f4b
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 18.706333ms
[...]
