---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.639288ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c9eea8b9-0074-48c9-bd22-70fed474b983
    method: GET
  response:
    body: "{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.444068ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"b01ff733-afc5-408b-9ec8-e5e6e6f510ef\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"b01ff733-afc5-408b-9ec8-e5e6e6f510ef\",\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:52.426454919Z\",\"updated_at\":\"2025-09-01T15:26:52.426454919Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 411.71633ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b01ff733-afc5-408b-9ec8-e5e6e6f510ef
    method: GET
  response:
    body: "{\"id\":\"b01ff733-afc5-408b-9ec8-e5e6e6f510ef\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"b01ff733-afc5-408b-9ec8-e5e6e6f510ef\",\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:52.426455Z\",\"updated_at\":\"2025-09-01T15:26:52.426455Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.420294ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b01ff733-afc5-408b-9ec8-e5e6e6f510ef/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.885575ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-wonderful-snyder\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b01ff733-afc5-408b-9ec8-e5e6e6f510ef/backends
    method: POST
  response:
    body: "{\"id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"name\":\"tf-lb-bkd-wonderful-snyder\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"b01ff733-afc5-408b-9ec8-e5e6e6f510ef\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"ce9a9d54-12b7-45ec-a9fc-24176133a2cf\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:59.855871Z\",\"updated_at\":\"2025-09-01T15:27:23.465367540Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"b01ff733-afc5-408b-9ec8-e5e6e6f510ef\",\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:52.426455Z\",\"updated_at\":\"2025-09-01T15:26:56.698209Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:27:23.440889726Z\",\"updated_at\":\"2025-09-01T15:27:23.440889726Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 341.06355ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a0c5805a-e426-4626-8cb3-d2d0182fe28a
    method: GET
  response:
    body: "{\"id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"name\":\"tf-lb-bkd-wonderful-snyder\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-happy-chandrasekhar\",\"inbound_port\":80,\"backend_id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b01ff733-afc5-408b-9ec8-e5e6e6f510ef/frontends
    method: POST
  response:
    body: "{\"id\":\"76432d06-e205-4a26-a083-b068c38a0286\",\"name\":\"tf-lb-frt-happy-chandrasekhar\",\"inbound_port\":80,\"backend\":{\"id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"name\":\"tf-lb-bkd-wonderful-snyder\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"b01ff733-afc5-408b-9ec8-e5e6e6f510ef\",\"n[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-happy-hofstadter\",\"inbound_port\":80,\"backend_id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/76432d06-e205-4a26-a083-b068c38a0286
    method: PUT
  response:
    body: "{\"id\":\"76432d06-e205-4a26-a083-b068c38a0286\",\"name\":\"tf-lb-frt-happy-hofstadter\",\"inbound_port\":80,\"backend\":{\"id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"name\":\"tf-lb-bkd-wonderful-snyder\",\"forw[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/76432d06-e205-4a26-a083-b068c38a0286/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 157.216799ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"frontend_id\":\"76432d06-e205-4a26-a083-b068c38a0286\",\"backend_id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: "{\"id\":\"31f70772-1726-4e57-bd60-6cb7244af4bd\",\"frontend_id\":\"76432d06-e205-4a26-a083-b068c38a0286\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"created_at\":\"2025-09-01T15:27:25.963403040Z\",\"updated_at\":\"2025-09-01T15:27:25.963403040Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 334.90639ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/31f70772-1726-4e57-bd60-6cb7244af4bd
    method: GET
  response:
    body: "{\"id\":\"31f70772-1726-4e57-bd60-6cb7244af4bd\",\"frontend_id\":\"76432d06-e205-4a26-a083-b068c38a0286\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"a0c5805a-e426-4626-8cb3-d2d0182fe28a\",\"created_at\":\"2025-09-01T15:27:25.963403Z\",\"updated_at\":\"2025-09-01T15:27:25.963403Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.546474ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b01ff733-afc5-408b-9ec8-e5e6e6f510ef?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 624.364065ms
[...]
- id: 43
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b01ff733-afc5-408b-9ec8-e5e6e6f510ef
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 101.721612ms
[...]
