---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"e9a2c0ee-61bd-48bd-baaa-14508ecd7c39","ip_address":"195.154.75.157","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-157.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.846959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/e9a2c0ee-61bd-48bd-baaa-14508ecd7c39
        method: GET
      response:
        body: '{"id":"e9a2c0ee-61bd-48bd-baaa-14508ecd7c39","ip_address":"195.154.75.157","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-157.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.5725ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"e9a2c0ee-61bd-48bd-baaa-14508ecd7c39","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.849253423Z","description":"","frontend_count":0,"id":"ad25e149-93d2-4580-9c3a-9769791e1d29","instances":[],"ip":[{"id":"e9a2c0ee-61bd-48bd-baaa-14508ecd7c39","ip_address":"195.154.75.157","lb_id":"ad25e149-93d2-4580-9c3a-9769791e1d29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-157.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:50.849253423Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 439.309625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad25e149-93d2-4580-9c3a-9769791e1d29
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.849253Z","description":"","frontend_count":0,"id":"ad25e149-93d2-4580-9c3a-9769791e1d29","instances":[],"ip":[{"id":"e9a2c0ee-61bd-48bd-baaa-14508ecd7c39","ip_address":"195.154.75.157","lb_id":"ad25e149-93d2-4580-9c3a-9769791e1d29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-157.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:50.849253Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.124958ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad25e149-93d2-4580-9c3a-9769791e1d29/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.264084ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-cool-herschel","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad25e149-93d2-4580-9c3a-9769791e1d29/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:09:21.777767751Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"2a1ef9c7-d4f0-4405-be57-4f5be51d60c6","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:50.849253Z","description":"","frontend_count":0,"id":"ad25e149-93d2-4580-9c3a-9769791e1d29","instances":[{"created_at":"2025-01-16T01:07:17.300054Z","id":"04d6b8eb-9704-4e37-b760-d1f9ecbb6141","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:09:21.807271283Z","zone":"fr-par-1"}],"ip":[{"id":"e9a2c0ee-61bd-48bd-baaa-14508ecd7c39","ip_address":"195.154.75.157","lb_id":"ad25e149-93d2-4580-9c3a-9769791e1d29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-157.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:13.145417Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-cool-herschel","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:09:21.777767751Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.158125ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/2a1ef9c7-d4f0-4405-be57-4f5be51d60c6
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:09:21.777768Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-epic-johnson","inbound_port":80,"backend_id":"2a1ef9c7-d4f0-4405-be57-4f5be51d60c6","enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad25e149-93d2-4580-9c3a-9769791e1d29/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.777768Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"2a1ef9c7-d4f0-4405-be57-4f5be51d60c6","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:50.849253Z","description":"","frontend_count":1,"id":"ad2[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-sad-wright","inbound_port":80,"backend_id":"2a1ef9c7-d4f0-4405-be57-4f5be51d60c6","certificate_ids":[],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/13774055-b362-404e-82c6-701878c6cc31
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.777768Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/13774055-b362-404e-82c6-701878c6cc31/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.909208ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"13774055-b362-404e-82c6-701878c6cc31","backend_id":"2a1ef9c7-d4f0-4405-be57-4f5be51d60c6","match":{"sni":"sni.scaleway.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"2a1ef9c7-d4f0-4405-be57-4f5be51d60c6","created_at":"2025-01-24T14:09:24.033128694Z","frontend_id":"13774055-b362-404e-82c6-701878c6cc31","id":"2afa768e-ebf7-4723-9c53-0052ecf32ce3","match":{"sni":"sni.scaleway.com"},"updated_at":"2025-01-24T14:09:24.033128694Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.139208ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/2afa768e-ebf7-4723-9c53-0052ecf32ce3
        method: GET
      response:
        body: '{"backend_id":"2a1ef9c7-d4f0-4405-be57-4f5be51d60c6","created_at":"2025-01-24T14:09:24.033129Z","frontend_id":"13774055-b362-404e-82c6-701878c6cc31","id":"2afa768e-ebf7-4723-9c53-0052ecf32ce3","match":{"sni":"sni.scaleway.com"},"updated_at":"2025-01-24T14:09:24.033129Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.573291ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad25e149-93d2-4580-9c3a-9769791e1d29?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 416.86225ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ad25e149-93d2-4580-9c3a-9769791e1d29
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.251542ms
[...]
