---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.24225ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ec479512-0d90-4527-8610-70b12ab3cc8c
        method: GET
      response:
        body: '{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.577125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:51.107630187Z","description":"","frontend_count":0,"id":"4b45c583-d56e-4c9b-839d-15c6d15ca2f4","instances":[],"ip":[{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":"4b45c583-d56e-4c9b-839d-15c6d15ca2f4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:51.107630187Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 345.771041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4b45c583-d56e-4c9b-839d-15c6d15ca2f4
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:51.107630Z","description":"","frontend_count":0,"id":"4b45c583-d56e-4c9b-839d-15c6d15ca2f4","instances":[],"ip":[{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":"4b45c583-d56e-4c9b-839d-15c6d15ca2f4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:51.107630Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.41825ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4b45c583-d56e-4c9b-839d-15c6d15ca2f4/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.925625ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-epic-jepsen","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4b45c583-d56e-4c9b-839d-15c6d15ca2f4/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:09:21.935193964Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"3a7f4f06-a614-4e42-8902-092b12401818","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:51.107630Z","description":"","frontend_count":0,"id":"4b45c583-d56e-4c9b-839d-15c6d15ca2f4","instances":[{"created_at":"2025-01-03T00:49:09.559924Z","id":"1b4841cc-3821-4f8b-a8b5-a36f2afe9d80","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:09:21.956965233Z","zone":"fr-par-1"}],"ip":[{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":"4b45c583-d56e-4c9b-839d-15c6d15ca2f4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:13.227550Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-epic-jepsen","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:09:21.935193964Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.53475ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3a7f4f06-a614-4e42-8902-092b12401818
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:09:21.935194Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-amazing-pasteur","inbound_port":80,"backend_id":"3a7f4f06-a614-4e42-8902-092b12401818","enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4b45c583-d56e-4c9b-839d-15c6d15ca2f4/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.935194Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"3a7f4f06-a614-4e42-8902-092b12401818","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:51.107630Z","description":"","frontend_count":1,"id":"4b4[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-magical-goodall","inbound_port":80,"backend_id":"3a7f4f06-a614-4e42-8902-092b12401818","certificate_ids":[],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/515e0863-f97c-4d0e-9734-ea96d121dac6
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.935194Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/515e0863-f97c-4d0e-9734-ea96d121dac6/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.833541ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"515e0863-f97c-4d0e-9734-ea96d121dac6","backend_id":"3a7f4f06-a614-4e42-8902-092b12401818","match":{"sni":"sni.scaleway.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"3a7f4f06-a614-4e42-8902-092b12401818","created_at":"2025-01-24T14:09:24.132638703Z","frontend_id":"515e0863-f97c-4d0e-9734-ea96d121dac6","id":"605076c6-20ef-482e-a85b-b7472c6544fa","match":{"sni":"sni.scaleway.com"},"updated_at":"2025-01-24T14:09:24.132638703Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.07ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/605076c6-20ef-482e-a85b-b7472c6544fa
        method: GET
      response:
        body: '{"backend_id":"3a7f4f06-a614-4e42-8902-092b12401818","created_at":"2025-01-24T14:09:24.132639Z","frontend_id":"515e0863-f97c-4d0e-9734-ea96d121dac6","id":"605076c6-20ef-482e-a85b-b7472c6544fa","match":{"sni":"sni.scaleway.com"},"updated_at":"2025-01-24T14:09:24.132639Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.187917ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=515e0863-f97c-4d0e-9734-ea96d121dac6&order_by=created_at_asc
        method: GET
      response:
        body: '{"routes":[{"backend_id":"3a7f4f06-a614-4e42-8902-092b12401818","created_at":"2025-01-24T14:09:24.132639Z","frontend_id":"515e0863-f97c-4d0e-9734-ea96d121dac6","id":"605076c6-20ef-482e-a85b-b7472c6544fa","match":{"sni":"sni.scaleway.com"},"updated_at":"2025-01-24T14:09:24.132639Z"},{"backend_id":"3a7f4f06-a614-4e42-8902-092b12401818","created_at":"2025-01-24T14:09:29.224181Z","frontend_id":"515e0863-f97c-4d0e-9734-ea96d121dac6","id":"d6c1ff65-35c1-459b-9a55-8579d25dd633","match":{"sni":"sni2.scaleway.com"},"updated_at":"2025-01-24T14:09:29.224181Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.276291ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4b45c583-d56e-4c9b-839d-15c6d15ca2f4?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 295.003625ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4b45c583-d56e-4c9b-839d-15c6d15ca2f4
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.869834ms
[...]
