---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.920417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/32af5f81-8366-435b-b55f-6a502a0a6480
        method: GET
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.741083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:26:48.923285349Z","description":"","frontend_count":0,"id":"04a97d28-1fd0-49bd-b47b-4909345b9d90","instances":[],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"04a97d28-1fd0-49bd-b47b-4909345b9d90","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:26:48.923285349Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.009542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/04a97d28-1fd0-49bd-b47b-4909345b9d90
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:26:48.923285Z","description":"","frontend_count":0,"id":"04a97d28-1fd0-49bd-b47b-4909345b9d90","instances":[{"created_at":"2026-02-25T14:25:21.165155Z","id":"056c05da-ec64-41aa-9caa-0e5df53cf9b9","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-25T14:26:49.086443Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"04a97d28-1fd0-49bd-b47b-4909345b9d90","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:26:49.095663Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.224792ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/04a97d28-1fd0-49bd-b47b-4909345b9d90/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.851834ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-recursing-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/04a97d28-1fd0-49bd-b47b-4909345b9d90/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-25T14:27:19.636429937Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"c2b5ef53-bafe-41be-b527-8a1d0163a91b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:26:48.923285Z","description":"","frontend_count":0,"id":"04a97d28-1fd0-49bd-b47b-4909345b9d90","instances":[{"created_at":"2026-02-25T14:25:21.165155Z","id":"056c05da-ec64-41aa-9caa-0e5df53cf9b9","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-25T14:27:19.656590165Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"04a97d28-1fd0-49bd-b47b-4909345b9d90","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:26:51.360986Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-recursing-lehmann","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-25T14:27:19.636429937Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.679625ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c2b5ef53-bafe-41be-b527-8a1d0163a91b
        method: GET
      response:
        body: '{"created_at":"2026-02-25T14:27:19.636430Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-suspicious-khayyam","inbound_port":80,"backend_id":"c2b5ef53-bafe-41be-b527-8a1d0163a91b","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/04a97d28-1fd0-49bd-b47b-4909345b9d90/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:27:19.636430Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"c2b5ef53-bafe-41be-b527-8a1d0163a91b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:26:48.923285Z","description":"","frontend_count":1,"id":"04a[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-thirsty-stallman","inbound_port":80,"backend_id":"c2b5ef53-bafe-41be-b527-8a1d0163a91b","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/6607925d-10d9-4354-97ec-96469848fd40
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:27:19.636430Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/6607925d-10d9-4354-97ec-96469848fd40/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.139292ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"6607925d-10d9-4354-97ec-96469848fd40","backend_id":"c2b5ef53-bafe-41be-b527-8a1d0163a91b","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"c2b5ef53-bafe-41be-b527-8a1d0163a91b","created_at":"2026-02-25T14:27:21.901634410Z","frontend_id":"6607925d-10d9-4354-97ec-96469848fd40","id":"a36608f2-3c7c-4975-9944-ddaaabc9cc14","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-25T14:27:21.901634410Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.324542ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/a36608f2-3c7c-4975-9944-ddaaabc9cc14
        method: GET
      response:
        body: '{"backend_id":"c2b5ef53-bafe-41be-b527-8a1d0163a91b","created_at":"2026-02-25T14:27:21.901634Z","frontend_id":"6607925d-10d9-4354-97ec-96469848fd40","id":"a36608f2-3c7c-4975-9944-ddaaabc9cc14","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-25T14:27:21.901634Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.105292ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/04a97d28-1fd0-49bd-b47b-4909345b9d90?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 443.63825ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/04a97d28-1fd0-49bd-b47b-4909345b9d90
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.327208ms
[...]
