---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.262281ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/91e1f29d-f4e7-4670-8183-8e3ac50c9793
    method: GET
  response:
    body: "{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.545967ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"data-test-lb-backend\",\"description\":\"\",\"ip_id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_ids\":[],\"tags\":null,\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083\",\"name\":\"data-test-lb-backend\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083\",\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:28.975997434Z\",\"updated_at\":\"2025-09-01T15:27:28.975997434Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 483.869292ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083
    method: GET
  response:
    body: "{\"id\":\"9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083\",\"name\":\"data-test-lb-backend\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083\",\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:28.975997Z\",\"updated_at\":\"2025-09-01T15:27:28.975997Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.338393ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.052775ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"backend01\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083/backends
    method: POST
  response:
    body: "{\"id\":\"eae8f045-51a3-49de-b672-90f6b29f3f0d\",\"name\":\"backend01\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083\",\"name\":\"data-test-lb-backend\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"4967d0e8-07ba-4dd3-b12d-adab1de0c765\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:51.400689Z\",\"updated_at\":\"2025-09-01T15:28:00.125792644Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083\",\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:28.975997Z\",\"updated_at\":\"2025-09-01T15:27:34.282304Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:28:00.101247223Z\",\"updated_at\":\"2025-09-01T15:28:00.101247223Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 347.149467ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/eae8f045-51a3-49de-b672-90f6b29f3f0d
    method: GET
  response:
    body: "{\"id\":\"eae8f045-51a3-49de-b672-90f6b29f3f0d\",\"name\":\"backend01\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    form:
      name:
      - backend01
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083/backends?name=backend01&order_by=created_at_asc
    method: GET
  response:
    body: "{\"backends\":[{\"id\":\"eae8f045-51a3-49de-b672-90f6b29f3f0d\",\"name\":\"backend01\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083\",\"name\":\"data-te[...]
[...]
- id: 42
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 468.087795ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9ac3cbb9-65b3-41ba-8cfe-ec6f2d156083
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.093026ms
[...]
