---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 181.590097ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a6154d85-af1e-452e-abba-5114c4a049f2
    method: GET
  response:
    body: "{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.522942ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      ip_type:
      - all
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_type=all
    method: GET
  response:
    body: "{\"ips\":[{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      ip_type:
      - all
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips?ip_type=all
    method: GET
  response:
    body: "{\"ips\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 173.877036ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c71971d6-cde6-44a2-9148-94c382bd5cc5
    method: GET
  response:
    body: "{\"message\":\"ips not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.788327ms
[...]
