---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.872581ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/383d2ba6-0a85-43f9-aaf3-3dba047a4003
        method: GET
      response:
        body: '{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.284054ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.837997829Z","description":"","frontend_count":0,"id":"10f484bd-444f-4ca7-93c5-fee8ccbf3aac","instances":[],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"10f484bd-444f-4ca7-93c5-fee8ccbf3aac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:28.837997829Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.931122ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/10f484bd-444f-4ca7-93c5-fee8ccbf3aac
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.837998Z","description":"","frontend_count":0,"id":"10f484bd-444f-4ca7-93c5-fee8ccbf3aac","instances":[],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"10f484bd-444f-4ca7-93c5-fee8ccbf3aac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:28.837998Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.149511ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/10f484bd-444f-4ca7-93c5-fee8ccbf3aac/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.002914ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-wonderful-mcclintock","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/10f484bd-444f-4ca7-93c5-fee8ccbf3aac/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:16:59.452364661Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.837998Z","description":"","frontend_count":0,"id":"10f484bd-444f-4ca7-93c5-fee8ccbf3aac","instances":[{"created_at":"2026-07-21T10:13:48.586391Z","id":"4e123dc4-f5f1-42ad-a932-c681181b1752","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:16:59.496386292Z","zone":"fr-par-1"}],"ip":[{"id":"383d2ba6-0a85-43f9-aaf3-3dba047a4003","ip_address":"51.15.250.7","lb_id":"10f484bd-444f-4ca7-93c5-fee8ccbf3aac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-250-7.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:31.726796Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-wonderful-mcclintock","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:16:59.452364661Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.448449ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/33f7cdba-6e5c-49ef-ae90-15951dff6d28
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:16:59.452365Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-hungry-cohen","inbound_port":80,"backend_id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/10f484bd-444f-4ca7-93c5-fee8ccbf3aac/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:16:59.452365Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.837998Z","description":"","frontend_count":1,[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-zen-mirzakhani","inbound_port":80,"backend_id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f55addad-097e-425c-8bac-ce0fa4f5b058
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:16:59.452365Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f55addad-097e-425c-8bac-ce0fa4f5b058/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.617354ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"f55addad-097e-425c-8bac-ce0fa4f5b058","backend_id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","created_at":"2026-07-21T10:17:02.114209777Z","frontend_id":"f55addad-097e-425c-8bac-ce0fa4f5b058","id":"943981ff-e33b-4487-aa1c-c24f8f147b91","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-07-21T10:17:02.114209777Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.563205ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/943981ff-e33b-4487-aa1c-c24f8f147b91
        method: GET
      response:
        body: '{"backend_id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","created_at":"2026-07-21T10:17:02.114210Z","frontend_id":"f55addad-097e-425c-8bac-ce0fa4f5b058","id":"943981ff-e33b-4487-aa1c-c24f8f147b91","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-07-21T10:17:02.114210Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.136015ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=f55addad-097e-425c-8bac-ce0fa4f5b058&order_by=created_at_asc
        method: GET
      response:
        body: '{"routes":[{"backend_id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","created_at":"2026-07-21T10:17:02.114210Z","frontend_id":"f55addad-097e-425c-8bac-ce0fa4f5b058","id":"943981ff-e33b-4487-aa1c-c24f8f147b91","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-07-21T10:17:02.114210Z"},{"backend_id":"33f7cdba-6e5c-49ef-ae90-15951dff6d28","created_at":"2026-07-21T10:17:05.225441Z","frontend_id":"f55addad-097e-425c-8bac-ce0fa4f5b058","id":"1bfec951-55e9-495b-8869-fc1f656f1c6c","match":{"match_subdomains":false,"sni":"sni2.scaleway.com"},"updated_at":"2026-07-21T10:17:05.225441Z"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.461215ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/10f484bd-444f-4ca7-93c5-fee8ccbf3aac?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 295.317503ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/10f484bd-444f-4ca7-93c5-fee8ccbf3aac
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.875185ms
[...]
