---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"e9ea68b2-fe57-4539-bac3-87c8acab4f87","ip_address":"51.159.115.112","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-112.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.927041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/e9ea68b2-fe57-4539-bac3-87c8acab4f87
        method: GET
      response:
        body: '{"id":"e9ea68b2-fe57-4539-bac3-87c8acab4f87","ip_address":"51.159.115.112","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-112.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.284ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb","description":"","ip_id":"e9ea68b2-fe57-4539-bac3-87c8acab4f87","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:20.952388896Z","description":"","frontend_count":0,"id":"13b0fdaa-b87e-4814-8afc-0d8b48ce60ad","instances":[],"ip":[{"id":"e9ea68b2-fe57-4539-bac3-87c8acab4f87","ip_address":"51.159.115.112","lb_id":"13b0fdaa-b87e-4814-8afc-0d8b48ce60ad","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-112.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:20.952388896Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.6385ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/13b0fdaa-b87e-4814-8afc-0d8b48ce60ad
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:20.952389Z","description":"","frontend_count":0,"id":"13b0fdaa-b87e-4814-8afc-0d8b48ce60ad","instances":[],"ip":[{"id":"e9ea68b2-fe57-4539-bac3-87c8acab4f87","ip_address":"51.159.115.112","lb_id":"13b0fdaa-b87e-4814-8afc-0d8b48ce60ad","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-112.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:20.952389Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.902417ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/13b0fdaa-b87e-4814-8afc-0d8b48ce60ad/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.382583ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=data-test-lb&order_by=created_at_asc
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2025-01-24T14:11:20.952389Z","description":"","frontend_count":0,"id":"13b0fdaa-b87e-4814-8afc-0d8b48ce60ad","instances":[{"created_at":"2025-01-24T14:10:11.166344Z","id":"550087a0-2f17-4027-8f99-1b553db4f0b5","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-01-24T14:11:23.293245Z","zone":"fr-par-1"}],"ip":[{"id":"e9ea68b2-fe57-4539-bac3-87c8acab4f87","ip_address":"51.159.115.112","lb_id":"13b0fdaa-b87e-4814-8afc-0d8b48ce60ad","organization_[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/13b0fdaa-b87e-4814-8afc-0d8b48ce60ad?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 275.788958ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/13b0fdaa-b87e-4814-8afc-0d8b48ce60ad
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.96225ms
[...]
