---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.803666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d
        method: GET
      response:
        body: '{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.189625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb-backend","description":"","ip_id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:31.579132754Z","description":"","frontend_count":0,"id":"6942741e-9fe3-46d9-b50b-d2eebf8d99b4","instances":[],"ip":[{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":"6942741e-9fe3-46d9-b50b-d2eebf8d99b4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:31.579132754Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.511625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6942741e-9fe3-46d9-b50b-d2eebf8d99b4
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:31.579133Z","description":"","frontend_count":0,"id":"6942741e-9fe3-46d9-b50b-d2eebf8d99b4","instances":[],"ip":[{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":"6942741e-9fe3-46d9-b50b-d2eebf8d99b4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:31.579133Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.828833ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6942741e-9fe3-46d9-b50b-d2eebf8d99b4/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.900417ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6942741e-9fe3-46d9-b50b-d2eebf8d99b4/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:12:02.451028401Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"934f91d7-a23d-4502-b726-abda62668934","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:11:31.579133Z","description":"","frontend_count":0,"id":"6942741e-9fe3-46d9-b50b-d2eebf8d99b4","instances":[{"created_at":"2025-01-24T14:10:47.306475Z","id":"93b0cdef-a50f-4061-86aa-cd491c9de2a0","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:12:02.479796879Z","zone":"fr-par-1"}],"ip":[{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":"6942741e-9fe3-46d9-b50b-d2eebf8d99b4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:35.258426Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"backend01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:12:02.451028401Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.225333ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/934f91d7-a23d-4502-b726-abda62668934
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:12:02.451028Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6942741e-9fe3-46d9-b50b-d2eebf8d99b4/backends?name=backend01&order_by=created_at_asc
        method: GET
      response:
        body: '{"backends":[{"created_at":"2025-01-24T14:12:02.451028Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"934f91d7-a23d-4502-b726-abda62668934","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:11:31.579133Z","description":"","frontend_count":0,"id":"6[...]
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6942741e-9fe3-46d9-b50b-d2eebf8d99b4?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 325.947917ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6942741e-9fe3-46d9-b50b-d2eebf8d99b4
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.53125ms
[...]
