---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-212.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.933333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b9dceb0e-4055-4193-b36b-146e8ccd2552
        method: GET
      response:
        body: '{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-212.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.272167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb-cert","description":"","ip_id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:10.834121639Z","description":"","frontend_count":0,"id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","instances":[],"ip":[{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","lb_id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-212.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:10.834121639Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.900125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a926b50c-ee5f-44e6-88d0-3c2c07b3baf7
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:10.834122Z","description":"","frontend_count":0,"id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","instances":[],"ip":[{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","lb_id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-212.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:10.834122Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.275667ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a926b50c-ee5f-44e6-88d0-3c2c07b3baf7/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.0665ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"data-test-lb-cert","letsencrypt":{"common_name":"51-158-56-212.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a926b50c-ee5f-44e6-88d0-3c2c07b3baf7/certificates
        method: POST
      response:
        body: '{"common_name":"51-158-56-212.lb.fr-par.scw.cloud","created_at":"2025-01-24T14:10:41.731243526Z","fingerprint":"","id":"d89a6b84-8267-45b8-b6ca-e020c5214555","lb":{"backend_count":0,"created_at":"2025-01-24T14:10:10.834122Z","description":"","frontend_count":0,"id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","instances":[{"created_at":"2025-01-24T14:09:12.599942Z","id":"054c9443-0eb8-48f7-89f6-0a7037564476","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-01-24T14:10:13.517535Z","zone":"fr-par-1"}],"ip":[{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","lb_id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-212.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:41.744483448Z","zone":"fr-par-1"},"name":"data-test-lb-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2025-01-24T14:10:41.731243526Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.138667ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/d89a6b84-8267-45b8-b6ca-e020c5214555
        method: GET
      response:
        body: '{"common_name":"51-158-56-212.lb.fr-par.scw.cloud","created_at":"2025-01-24T14:10:41.731244Z","fingerprint":"","id":"d89a6b84-8267-45b8-b6ca-e020c5214555","lb":{"backend_count":0,"created_at":"2025-01-24T14:10:10.834122Z","descript[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a926b50c-ee5f-44e6-88d0-3c2c07b3baf7/certificates?name=data-test-lb-cert&order_by=created_at_asc
        method: GET
      response:
        body: '{"certificates":[{"common_name":"51-158-56-212.lb.fr-par.scw.cloud","created_at":"2025-01-24T14:10:41.731244Z","fingerprint":"a0c70524ea0d1b942ef2488828a187031af36090","id":"d89a6b84-8267-45b8-b6ca-e020c5214555","lb":{"backend_count":0,"created_at":"2025-01-24T14:10:10.834122Z","description":"","frontend_count":0,"id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","instances":[],"ip":[{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","lb_id":"a926b50c-ee5f-44e6-88d0-3c2c07b3baf7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-212.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:41.744483Z","zone":"fr-par-1"},"name":"data-test-lb-cert","not_valid_after":"2025-04-24T13:12:16Z","not_valid_before":"2025-01-24T13:12:17Z","status":"ready","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2025-01-24T14:10:47.876654Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.047625ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/d89a6b84-8267-45b8-b6ca-e020c5214555
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.366916ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a926b50c-ee5f-44e6-88d0-3c2c07b3baf7?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 270.403042ms
[...]
