---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.433569ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050
        method: GET
      response:
        body: '{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.491176ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb","description":"","ip_id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:08.133397836Z","description":"","frontend_count":0,"id":"eeb22ce2-18f1-4976-a037-20f771d8770d","instances":[],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"eeb22ce2-18f1-4976-a037-20f771d8770d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:08.133397836Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 517.645617ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eeb22ce2-18f1-4976-a037-20f771d8770d
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:08.133398Z","description":"","frontend_count":0,"id":"eeb22ce2-18f1-4976-a037-20f771d8770d","instances":[{"created_at":"2026-07-21T10:19:08.593958Z","id":"c6d289f5-08b4-46f4-b5b0-22639d3328f2","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:20:08.583207Z","zone":"fr-par-1"}],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"eeb22ce2-18f1-4976-a037-20f771d8770d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:08.599573Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.116963ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eeb22ce2-18f1-4976-a037-20f771d8770d/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.848636ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=data-test-lb&order_by=created_at_asc
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2026-07-21T10:20:08.133398Z","description":"","frontend_count":0,"id":"eeb22ce2-18f1-4976-a037-20f771d8770d","instances":[{"created_at":"2026-07-21T10:19:08.593958Z","id":"c6d289f5-08b4-46f4-b5b0-22639d3328f2","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-07-21T10:20:10.106181Z","zone":"fr-par-1"}],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"eeb22ce2-18f1-4976-a037-20f771d8770d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:11.440455Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.518433ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eeb22ce2-18f1-4976-a037-20f771d8770d?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 305.711998ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eeb22ce2-18f1-4976-a037-20f771d8770d
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.090081ms
[...]
