---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":["ipv4","ip"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.768667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d
        method: GET
      response:
        body: '{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.5425ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_type=all&tags=ipv4&tags=ip
        method: GET
      response:
        body: '{"ips":[{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"},{"id":"ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d","ip_address":"51.159.11.205","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-11-205.lb.fr-par.scw.cloud","tags":["ipv4","ip"],"zone":"fr-par-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.450208ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ea6c2ea3-18b0-43e0-8d34-a2bbb9df435d
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.347916ms
[...]
