---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.636145ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/28cf6394-757a-461e-abe0-fcd1a56756e7
        method: GET
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.654482ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-lb-datasource0","description":"a description","ip_id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_ids":[],"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:02.038072130Z","description":"a description","frontend_count":0,"id":"f9fe3608-8903-4df5-8e7f-cb4c0f464987","instances":[],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"f9fe3608-8903-4df5-8e7f-cb4c0f464987","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"lb-s","updated_at":"2026-07-21T10:20:02.038072130Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.146712ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f9fe3608-8903-4df5-8e7f-cb4c0f464987
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:02.038072Z","description":"a description","frontend_count":0,"id":"f9fe3608-8903-4df5-8e7f-cb4c0f464987","instances":[{"created_at":"2026-07-21T10:18:48.597916Z","id":"6ca71f94-4dc5-462d-95e[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f9fe3608-8903-4df5-8e7f-cb4c0f464987/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.755975ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/lbs?name=tf-lb-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"lbs":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.13556ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&tags=terraform-test&tags=data_scaleway_lbs
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2026-07-21T10:20:02.038072Z","description":"a description","frontend_count":0,"id":"f9fe3608-8903-4df5-8e7f-cb4c0f464987","instances":[{"created_at":"2026-07-21T10:18:4[...]
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f9fe3608-8903-4df5-8e7f-cb4c0f464987?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 375.207514ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f9fe3608-8903-4df5-8e7f-cb4c0f464987
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.42352ms
[...]
