---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.137147ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/88120047-f14b-40cc-a864-7e7798b98c45
        method: GET
      response:
        body: '{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.836275ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.911346913Z","description":"","frontend_count":0,"id":"7c3c4f3d-5e1a-4461-adfc-5e7481b2f907","instances":[],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7c3c4f3d-5e1a-4461-adfc-5e7481b2f907","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:28.911346913Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.395501ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.911347Z","description":"","frontend_count":0,"id":"7c3c4f3d-5e1a-4461-adfc-5e7481b2f907","instances":[{"created_at":"2026-07-21T10:13:38.819216Z","id":"777d1a58-8cdf-482e-9f89-9cd888c3e358","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:16:29.143860Z","zone":"fr-par-1"}],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7c3c4f3d-5e1a-4461-adfc-5e7481b2f907","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:29.153253Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.989828ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.629441ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-condescending-robinson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:16:59.643007460Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"3e946e51-b5ae-49e7-9550-2d18f984e0c8","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.911347Z","description":"","frontend_count":0,"id":"7c3c4f3d-5e1a-4461-adfc-5e7481b2f907","instances":[{"created_at":"2026-07-21T10:13:38.819216Z","id":"777d1a58-8cdf-482e-9f89-9cd888c3e358","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:16:59.666956994Z","zone":"fr-par-1"}],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7c3c4f3d-5e1a-4461-adfc-5e7481b2f907","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:31.869042Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-condescending-robinson","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:16:59.643007460Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.093825ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3e946e51-b5ae-49e7-9550-2d18f984e0c8
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:16:59.643007Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"3e946e51-b5ae-49e7-9550-2d18f984e0c8","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:16:59.643007Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"3e946e51-b5ae-49e7-9550-2d18f984e0c8","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.911347Z","description":"","frontend_count":1[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"3e946e51-b5ae-49e7-9550-2d18f984e0c8","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a3a38536-12f8-4eac-9ca5-cf705a084fea
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:16:59.643007Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_che[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a3a38536-12f8-4eac-9ca5-cf705a084fea/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.779292ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907/frontends?name=tf-frontend-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2026-07-21T10:16:59.643007Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"3e946e51-b5ae-49e7-9550-2d18f984e0c8","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.911347Z","description":"","front[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907/frontends?order_by=created_at_asc
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2026-07-21T10:16:59.643007Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":600[...]
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 287.759433ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7c3c4f3d-5e1a-4461-adfc-5e7481b2f907
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.095459ms
[...]
