---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.454833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/eb88fc5d-4b65-4941-9807-a1f28aad4f71
        method: GET
      response:
        body: '{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.028125ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-lb-datasource0","description":"a description","ip_id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_ids":[],"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:53.401514812Z","description":"a description","frontend_count":0,"id":"3eb9353d-4608-4b31-b141-0fe2c91e3027","instances":[],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"3eb9353d-4608-4b31-b141-0fe2c91e3027","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"lb-s","updated_at":"2025-01-24T14:08:53.401514812Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.18625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3eb9353d-4608-4b31-b141-0fe2c91e3027
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:53.401515Z","description":"a description","frontend_count":0,"id":"3eb9353d-4608-4b31-b141-0fe2c91e3027","instances":[],"ip":[{"id":"eb88fc5d-4b65-4941-9807-a1f28aad4f71","ip_address":"195.154.75.147","lb_id":"3eb9353d-4608-4b31-b141-0fe2c91e3027","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"lb-s","updated_at":"2025-01-24T14:08:53.401515Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.606417ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3eb9353d-4608-4b31-b141-0fe2c91e3027/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.10075ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/lbs?name=tf-lb-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"lbs":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.696542ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&tags=terraform-test&tags=data_scaleway_lbs
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2025-01-24T14:08:53.401515Z","description":"a description","frontend_count":0,"id":"3eb9353d-4608-4b31-b141-0fe2c91e3027","instances":[{"created_at":"2025-01-21T16:01:4[...]
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d0db2186-72d2-428f-9f10-0791bbc1575d?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 364.96475ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d0db2186-72d2-428f-9f10-0791bbc1575d
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.770125ms
[...]
