---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 166.479216ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c9eea8b9-0074-48c9-bd22-70fed474b983
    method: GET
  response:
    body: "{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.205276ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"data-test-lb\",\"description\":\"\",\"ip_id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_ids\":[],\"tags\":null,\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"6e891f43-ec97-4dd0-aabe-c7ab9df97550\",\"name\":\"data-test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"6e891f43-ec97-4dd0-aabe-c7ab9df97550\",\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:28:09.215320166Z\",\"updated_at\":\"2025-09-01T15:28:09.215320166Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 364.170931ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6e891f43-ec97-4dd0-aabe-c7ab9df97550
    method: GET
  response:
    body: "{\"id\":\"6e891f43-ec97-4dd0-aabe-c7ab9df97550\",\"name\":\"data-test-lb\",\"description\":\"\",\"status\":\"creating\",\"instances\":[{\"id\":\"b2754f20-6c03-4cc6-99fa-ccecef279a7c\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:27:29.855130Z\",\"updated_at\":\"2025-09-01T15:2[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6e891f43-ec97-4dd0-aabe-c7ab9df97550/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.000907ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - data-test-lb
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=data-test-lb&order_by=created_at_asc
    method: GET
  response:
    body: "{\"lbs\":[{\"id\":\"6e891f43-ec97-4dd0-aabe-c7ab9df97550\",\"name\":\"data-test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"b2754f20-6c03-4cc6-99fa-ccecef279a7c\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:27:29.855130Z\",\"updated_at\":\"2025-09-01T15:28:12.107979Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c9eea8b9-0074-48c9-bd22-70fed474b983\",\"ip_address\":\"62.210.111.197\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"6e891f43-ec97-4dd0-aabe-c7ab9df97550\",\"reverse\":\"62-210-111-197.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:28:09.215320Z\",\"updated_at\":\"2025-09-01T15:28:13.717442Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.719679ms
[...]
- id: 34
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6e891f43-ec97-4dd0-aabe-c7ab9df97550?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 359.065084ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6e891f43-ec97-4dd0-aabe-c7ab9df97550
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.285221ms
[...]
