---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips
    method: POST
  response:
    body: "{\"id\":\"7b4e81d4-744a-49c4-a5ae-9f284745c8cf\",\"ip_address\":\"51.159.86.86\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-86-86.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.719625ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips/7b4e81d4-744a-49c4-a5ae-9f284745c8cf
    method: GET
  response:
    body: "{\"id\":\"7b4e81d4-744a-49c4-a5ae-9f284745c8cf\",\"ip_address\":\"51.159.86.86\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-86-86.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.315255ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      ip_address:
      - 51.159.86.86
      ip_type:
      - all
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips?ip_address=51.159.86.86&ip_type=all
    method: GET
  response:
    body: "{\"ips\":[{\"id\":\"7b4e81d4-744a-49c4-a5ae-9f284745c8cf\",\"ip_address\":\"51.159.86.86\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-86-86.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-2\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.284323ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/71049f67-bd50-4943-abaa-f0643bd238c4
    method: GET
  response:
    body: "{\"message\":\"ips not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.643561ms
[...]
