---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: "{\"id\":\"8d665e1b-6e97-4f05-be38-2dee4dd2d939\",\"ip_address\":\"51.158.216.202\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-158-216-202.lb.nl-ams.scw.cloud\",\"tags\":[],\"region\":\"nl-ams\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 246.393813ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/8d665e1b-6e97-4f05-be38-2dee4dd2d939
    method: GET
  response:
    body: "{\"id\":\"8d665e1b-6e97-4f05-be38-2dee4dd2d939\",\"ip_address\":\"51.158.216.202\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-158-216-202.lb.nl-ams.scw.cloud\",\"tags\":[],\"region\":\"nl-ams\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.706049ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      ip_type:
      - ipv4
    headers:
    url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips?ip_type=ipv4
    method: GET
  response:
    body: "{\"ips\":[{\"id\":\"8d665e1b-6e97-4f05-be38-2dee4dd2d939\",\"ip_address\":\"51.158.216.202\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-158-216-202.lb.nl-ams.scw.cloud\",\"tags\":[],\"region\":\"nl-ams\",\"zone\":\"nl-ams-1\"},{\"id\":\"909262ad-909a-4744-8a62-291575e8987e\",\"ip_address\":\"51.158.216.252\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-158-216-252.lb.nl-ams.scw.cloud\",\"tags\":[],\"region\":\"nl-ams\",\"zone\":\"nl-ams-1\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.805815ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/8d665e1b-6e97-4f05-be38-2dee4dd2d939
    method: GET
  response:
    body: "{\"message\":\"ips not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 53.561533ms
[...]
