---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.752532ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/864980a2-38ba-46f2-94af-68925d4f2fdc
    method: GET
  response:
    body: "{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.094471ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"data-test-lb-cert\",\"description\":\"\",\"ip_id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_ids\":[],\"tags\":null,\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"9f0e6a24-b42a-4aad-8e37-9f6ff8665b60\",\"name\":\"data-test-lb-cert\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9f0e6a24-b42a-4aad-8e37-9f6ff8665b60\",\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.435253362Z\",\"updated_at\":\"2025-09-01T15:27:10.435253362Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 426.563555ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9f0e6a24-b42a-4aad-8e37-9f6ff8665b60
    method: GET
  response:
    body: "{\"id\":\"9f0e6a24-b42a-4aad-8e37-9f6ff8665b60\",\"name\":\"data-test-lb-cert\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9f0e6a24-b42a-4aad-8e37-9f6ff8665b60\",\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.435253Z\",\"updated_at\":\"2025-09-01T15:27:10.435253Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.249679ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9f0e6a24-b42a-4aad-8e37-9f6ff8665b60/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.935957ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"data-test-lb-cert\",\"letsencrypt\":{\"common_name\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"subject_alternative_name\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9f0e6a24-b42a-4aad-8e37-9f6ff8665b60/certificates
    method: POST
  response:
    body: "{\"id\":\"3f98fbac-8258-4cb9-ba7b-ddfe5c22cf76\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",\"lb\":{\"id\":\"9f0e6a24-b42a-4aad-8e37-9f6ff8665b60\",\"name\":\"data-test-lb-cert\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"ba1ca07f-eaae-436d-8438-2bee71f6b47c\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:54.290342Z\",\"updated_at\":\"2025-09-01T15:27:12.960579Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"864980a2-38ba-46f2-94af-68925d4f2fdc\",\"ip_address\":\"51.159.75.67\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"9f0e6a24-b42a-4aad-8e37-9f6ff8665b60\",\"reverse\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:10.435253Z\",\"updated_at\":\"2025-09-01T15:27:41.643752192Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"name\":\"data-test-lb-cert\",\"created_at\":\"2025-09-01T15:27:41.629448498Z\",\"updated_at\":\"2025-09-01T15:27:41.629448498Z\",\"status_details\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 518.972359ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/3f98fbac-8258-4cb9-ba7b-ddfe5c22cf76
    method: GET
  response:
    body: "{\"id\":\"3f98fbac-8258-4cb9-ba7b-ddfe5c22cf76\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",\"lb[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      name:
      - data-test-lb-cert
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9f0e6a24-b42a-4aad-8e37-9f6ff8665b60/certificates?name=data-test-lb-cert&order_by=created_at_asc
    method: GET
  response:
    body: "{\"certificates\":[{\"id\":\"3f98fbac-8258-4cb9-ba7b-ddfe5c22cf76\",\"type\":\"letsencryt\",\"status\":\"ready\",\"common_name\":\"51-159-75-67.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"c0535cad8c4f8659991e87e4bc7f588f0c62d9fa\",\"not_valid_before\":\"2025-09-01T14:29:16Z\",\"not_valid_after\":\"2025-11-30T14:29:15Z\",\"lb\":{\"id\":\"9f0e6a24-b42a-4aad-8e37-9f6ff8665b60\",\"name\":\"data-test-lb-cert\",\"description\":\"\",\"status\":\"ready\",\"instances\":[],\"organization_id\":\"[...]
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/3f98fbac-8258-4cb9-ba7b-ddfe5c22cf76
    method: GET
  response:
    body: "{\"message\":\"certificate not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.354152ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9f0e6a24-b42a-4aad-8e37-9f6ff8665b60?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 376.786381ms
[...]
