---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips
        method: POST
      response:
        body: '{"id":"b0e1de5a-a38f-4d9d-bd27-da63a0e644e2","ip_address":"51.159.87.60","lb_id":null,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","reverse":"51-159-87-60.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.720333ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips/b0e1de5a-a38f-4d9d-bd27-da63a0e644e2
        method: GET
      response:
        body: '{"id":"b0e1de5a-a38f-4d9d-bd27-da63a0e644e2","ip_address":"51.159.87.60","lb_id":null,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","reverse":"51-159-87-60.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.329792ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips?ip_address=51.159.87.60&ip_type=all
        method: GET
      response:
        body: '{"ips":[{"id":"b0e1de5a-a38f-4d9d-bd27-da63a0e644e2","ip_address":"51.159.87.60","lb_id":null,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","reverse":"51-159-87-60.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-2"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.433916ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips/b0e1de5a-a38f-4d9d-bd27-da63a0e644e2
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.129375ms
[...]
