---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":["test-ips-type"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"id":"8e320436-dfa9-4777-8cd3-a32481b01bdf","ip_address":"51.158.184.252","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-184-252.lb.nl-ams.scw.cloud","tags":["test-ips-type"],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.503036ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/8e320436-dfa9-4777-8cd3-a32481b01bdf
        method: GET
      response:
        body: '{"id":"8e320436-dfa9-4777-8cd3-a32481b01bdf","ip_address":"51.158.184.252","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-184-252.lb.nl-ams.scw.cloud","tags":["test-ips-type"],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.904638ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips?ip_type=ipv4&tags=test-ips-type
        method: GET
      response:
        body: '{"ips":[{"id":"93582b07-387c-482d-9155-cb900d2ecd73","ip_address":"51.15.85.241","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-15-85-241.lb.nl-ams.scw.cloud","tags":["test-ips-type"],"zone":"nl-ams-1"},{"id":"8e320436-dfa9-4777-8cd3-a32481b01bdf","ip_address":"51.158.184.252","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-184-252.lb.nl-ams.scw.cloud","tags":["test-ips-type"],"zone":"nl-ams-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.535154ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/8e320436-dfa9-4777-8cd3-a32481b01bdf
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.916645ms
[...]
