---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.786417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/556f7c62-a012-4e59-b919-aa0a4ee715e3
        method: GET
      response:
        body: '{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.792845ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:56.543429322Z","description":"","frontend_count":0,"id":"179493ce-fbf4-4581-a711-e329d2a26623","instances":[],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"179493ce-fbf4-4581-a711-e329d2a26623","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:56.543429322Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 556.410976ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/179493ce-fbf4-4581-a711-e329d2a26623
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:56.543429Z","description":"","frontend_count":0,"id":"179493ce-fbf4-4581-a711-e329d2a26623","instances":[{"created_at":"2026-07-21T10:17:38.700271Z","id":"5503002a-c23c-40f2-9ba4-8d331afc7f48","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:18:56.880413Z","zone":"fr-par-1"}],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"179493ce-fbf4-4581-a711-e329d2a26623","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:56.887474Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.577968ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/179493ce-fbf4-4581-a711-e329d2a26623/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.85912ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-crazy-shaw","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/179493ce-fbf4-4581-a711-e329d2a26623/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:19:27.450774823Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"93dc35d8-2146-41c9-af2a-4b545cbb09aa","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:56.543429Z","description":"","frontend_count":0,"id":"179493ce-fbf4-4581-a711-e329d2a26623","instances":[{"created_at":"2026-07-21T10:17:38.700271Z","id":"5503002a-c23c-40f2-9ba4-8d331afc7f48","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:19:27.478930440Z","zone":"fr-par-1"}],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"179493ce-fbf4-4581-a711-e329d2a26623","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:59.310494Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-crazy-shaw","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:19:27.450774823Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.673357ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/93dc35d8-2146-41c9-af2a-4b545cbb09aa
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:19:27.450775Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-ecstatic-bouman","inbound_port":80,"backend_id":"93dc35d8-2146-41c9-af2a-4b545cbb09aa","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/179493ce-fbf4-4581-a711-e329d2a26623/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:27.450775Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"93dc35d8-2146-41c9-af2a-4b545cbb09aa","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:56.543429Z","description":"","frontend_count":1,[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-heuristic-bell","inbound_port":80,"backend_id":"93dc35d8-2146-41c9-af2a-4b545cbb09aa","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8f181a86-b2d4-4fc6-81a8-8d682764eb8f
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:27.450775Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8f181a86-b2d4-4fc6-81a8-8d682764eb8f/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.272885ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/179493ce-fbf4-4581-a711-e329d2a26623/frontends?name=tf-lb-frt-heuristic-bell&order_by=created_at_asc
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2026-07-21T10:19:27.450775Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"93dc35d8-2146-41c9-af2a-4b545cbb09aa","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:56.543429Z","description":"","fronte[...]
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/179493ce-fbf4-4581-a711-e329d2a26623?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 288.169921ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/179493ce-fbf4-4581-a711-e329d2a26623
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.784975ms
[...]
