---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"id":"5c825a9c-f7c3-4c03-bfca-a786d3667ba0","ip_address":"51.158.129.65","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-129-65.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.570708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/5c825a9c-f7c3-4c03-bfca-a786d3667ba0
        method: GET
      response:
        body: '{"id":"5c825a9c-f7c3-4c03-bfca-a786d3667ba0","ip_address":"51.158.129.65","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-129-65.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.30025ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips?ip_type=ipv4
        method: GET
      response:
        body: '{"ips":[{"id":"76870b1d-b868-4598-ad05-2d89f512a132","ip_address":"51.158.128.186","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-128-186.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"},{"id":"5c825a9c-f7c3-4c03-bfca-a786d3667ba0","ip_address":"51.158.129.65","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-129-65.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.592292ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/5c825a9c-f7c3-4c03-bfca-a786d3667ba0
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.74125ms
[...]
