---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/86df9ff8-7a77-492d-9b03-4f6205127499
    method: GET
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"86df9ff8-7a77-492d-9b03-4f6205127499","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:19:45.604414991Z","description":"","frontend_count":0,"id":"fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0","instances":[],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:19:45.604414991Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:19:45.604415Z","description":"","frontend_count":0,"id":"fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0","instances":[{"created_at":"2023-07-03T20:18:34.660790Z","id":"e8a2e103-7300-4792-bde4-4e241dc7a003","ip_address":"10.64.146.23","region":"fr-par","status":"unknown","updated_at":"2023-07-03T20:19:45.851136Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:19:45.604415Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"tf-backend-datasource0","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0/backends
    method: POST
  response:
    body: '{"created_at":"2023-07-03T20:20:16.390150632Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"a50c2f67-f87c-4b55-884c-eb7ce720fe31","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:19:45.604415Z","description":"","frontend_count":0,"id":"fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0","instances":[{"created_at":"2023-07-03T20:18:34.660790Z","id":"e8a2e103-7300-4792-bde4-4e241dc7a003","ip_address":"10.64.146.23","region":"fr-par","status":"pending","updated_at":"2023-07-03T20:20:16.421194796Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:19:48.205428Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-backend-datasource0","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-03T20:20:16.390150632Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a50c2f67-f87c-4b55-884c-eb7ce720fe31
    method: GET
  response:
    body: '{"created_at":"2023-07-03T20:20:16.390151Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"}[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0/backends?name=tf-backend-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"backends":[{"created_at":"2023-07-03T20:20:16.390151Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"a50c2f67-f87c-4b55-884c-eb7ce720fe31","ignore_ssl_server_verify":false,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instan[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0/backends?order_by=created_at_asc
    method: GET
  response:
    body: '{"backends":[{"created_at":"2023-07-03T20:20:16.390151Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_con[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa21e7ee-8b10-4bbf-8fa7-a7b90c4083c0
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
