---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"5643c436-0ea7-4516-af07-a52dc90cb11f","ip_address":"51.159.206.94","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.339249ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5643c436-0ea7-4516-af07-a52dc90cb11f
        method: GET
      response:
        body: '{"id":"5643c436-0ea7-4516-af07-a52dc90cb11f","ip_address":"51.159.206.94","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.394809ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb-cert","description":"","ip_id":"5643c436-0ea7-4516-af07-a52dc90cb11f","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:34.657591249Z","description":"","frontend_count":0,"id":"1e238286-2130-4918-aee3-9a4a236c85a0","instances":[],"ip":[{"id":"5643c436-0ea7-4516-af07-a52dc90cb11f","ip_address":"51.159.206.94","lb_id":"1e238286-2130-4918-aee3-9a4a236c85a0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:34.657591249Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.696454ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1e238286-2130-4918-aee3-9a4a236c85a0
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:34.657591Z","description":"","frontend_count":0,"id":"1e238286-2130-4918-aee3-9a4a236c85a0","instances":[{"created_at":"2026-07-21T10:16:48.603281Z","id":"e090f265-d974-432d-92d0-c9fe4fe5eb14","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:17:34.814120Z","zone":"fr-par-1"}],"ip":[{"id":"5643c436-0ea7-4516-af07-a52dc90cb11f","ip_address":"51.159.206.94","lb_id":"1e238286-2130-4918-aee3-9a4a236c85a0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:34.821816Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.154252ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1e238286-2130-4918-aee3-9a4a236c85a0/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.301081ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"data-test-lb-cert","letsencrypt":{"common_name":"51-159-206-94.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1e238286-2130-4918-aee3-9a4a236c85a0/certificates
        method: POST
      response:
        body: '{"common_name":"51-159-206-94.lb.fr-par.scw.cloud","created_at":"2026-07-21T10:18:05.378408776Z","fingerprint":"","id":"68c0a03b-8118-4028-8237-1e5389791511","lb":{"backend_count":0,"created_at":"2026-07-21T10:17:34.657591Z","description":"","frontend_count":0,"id":"1e238286-2130-4918-aee3-9a4a236c85a0","instances":[{"created_at":"2026-07-21T10:16:48.603281Z","id":"e090f265-d974-432d-92d0-c9fe4fe5eb14","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-07-21T10:17:36.043564Z","zone":"fr-par-1"}],"ip":[{"id":"5643c436-0ea7-4516-af07-a52dc90cb11f","ip_address":"51.159.206.94","lb_id":"1e238286-2130-4918-aee3-9a4a236c85a0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:05.389009907Z","zone":"fr-par-1"},"name":"data-test-lb-cert","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencrypt","updated_at":"2026-07-21T10:18:05.378408776Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.303397ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/68c0a03b-8118-4028-8237-1e5389791511
        method: GET
      response:
        body: '{"common_name":"51-159-206-94.lb.fr-par.scw.cloud","created_at":"2026-07-21T10:18:05.378409Z","fingerprint":"","id":"68c0a03b-8118-4028-8237-1e5389791511","lb":{"backend_count":0,"created_at":"2026-07-21T10:17:34.657591Z","descript[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1e238286-2130-4918-aee3-9a4a236c85a0/certificates?name=data-test-lb-cert&order_by=created_at_asc
        method: GET
      response:
        body: '{"certificates":[{"common_name":"51-159-206-94.lb.fr-par.scw.cloud","created_at":"2026-07-21T10:18:05.378409Z","fingerprint":"064533e066270d5a0b5866bcb78dc6c9651bf962","id":"68c0a03b-8118-4028-8237-1e5389791511","lb":{"backend_count":0,"created_at":"2026-07-21T10:17:34.657591Z","description":"","frontend_count":0,"id":"1e238286-2130-4918-aee3-9a4a236c85a0","instances":[],"ip":[{"id":"5643c436-0ea7-4516-af07-a52dc90cb11f","ip_address":"51.159.206.94","lb_id":"1e238286-2130-4918-aee3-9a4a236c85a0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-94.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"data-test-lb-cert","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:05.389010Z","zone":"fr-par-1"},"name":"data-test-lb-cert","not_valid_after":"2026-10-19T09:19:40Z","not_valid_before":"2026-07-21T09:19:41Z","status":"ready","status_details":null,"subject_alternative_name":[],"type":"letsencrypt","updated_at":"2026-07-21T10:18:12.840471Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.2716ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/68c0a03b-8118-4028-8237-1e5389791511
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.545403ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1e238286-2130-4918-aee3-9a4a236c85a0?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 370.828354ms
[...]
