---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"cc53ed9d-dbcd-4194-bf5f-434480603009","ip_address":"51.159.114.42","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-42.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.981773ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cc53ed9d-dbcd-4194-bf5f-434480603009
        method: GET
      response:
        body: '{"id":"cc53ed9d-dbcd-4194-bf5f-434480603009","ip_address":"51.159.114.42","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-42.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.238143ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"cc53ed9d-dbcd-4194-bf5f-434480603009","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-03-18T15:01:27.731874756Z","description":"","frontend_count":0,"id":"423e88d2-9298-4bff-a6a6-9374ae8315a3","instances":[],"ip":[{"id":"cc53ed9d-dbcd-4194-bf5f-434480603009","ip_address":"51.159.114.42","lb_id":"423e88d2-9298-4bff-a6a6-9374ae8315a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-42.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-03-18T15:01:27.731874756Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.953845ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/423e88d2-9298-4bff-a6a6-9374ae8315a3
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-03-18T15:01:27.731875Z","description":"","frontend_count":0,"id":"423e88d2-9298-4bff-a6a6-9374ae8315a3","instances":[],"ip":[{"id":"cc53ed9d-dbcd-4194-bf5f-434480603009","ip_address":"51.159.114.42","lb_id":"423e88d2-9298-4bff-a6a6-9374ae8315a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-42.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-03-18T15:01:27.731875Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.499621ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/423e88d2-9298-4bff-a6a6-9374ae8315a3/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.844517ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-happy-lamarr","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/423e88d2-9298-4bff-a6a6-9374ae8315a3/backends
        method: POST
      response:
        body: '{"created_at":"2025-03-18T15:01:58.460374989Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"4c8d60db-83aa-489a-8d5a-2b0c5026f1be","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-03-18T15:01:27.731875Z","description":"","frontend_count":0,"id":"423e88d2-9298-4bff-a6a6-9374ae8315a3","instances":[{"created_at":"2025-03-18T14:59:45.126593Z","id":"d6a4d3fc-68cc-4539-a439-34b86555536b","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-03-18T15:01:58.488413123Z","zone":"fr-par-1"}],"ip":[{"id":"cc53ed9d-dbcd-4194-bf5f-434480603009","ip_address":"51.159.114.42","lb_id":"423e88d2-9298-4bff-a6a6-9374ae8315a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-42.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-03-18T15:01:31.447798Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-happy-lamarr","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-03-18T15:01:58.460374989Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.411101ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/4c8d60db-83aa-489a-8d5a-2b0c5026f1be
        method: GET
      response:
        body: '{"created_at":"2025-03-18T15:01:58.460375Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-unruffled-lichterman","inbound_port":80,"backend_id":"4c8d60db-83aa-489a-8d5a-2b0c5026f1be","enable_http3":false,"connection_rate_limit":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/423e88d2-9298-4bff-a6a6-9374ae8315a3/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-03-18T15:01:58.460375Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"4c8d60db-83aa-489a-8d5a-2b0c5026f1be","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-03-18T15:01:27.731875Z","description":"","frontend_count":1,"id":"423[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-mystifying-zhukovsky","inbound_port":80,"backend_id":"4c8d60db-83aa-489a-8d5a-2b0c5026f1be","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f0d6a42f-2b22-4c5e-bc96-9c07c66365b0
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-03-18T15:01:58.460375Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"ch[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f0d6a42f-2b22-4c5e-bc96-9c07c66365b0/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.255939ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":443,"backend_id":"4c8d60db-83aa-489a-8d5a-2b0c5026f1be","certificate_ids":[],"enable_http3":true,"connection_rate_limit":100,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f0d6a42f-2b22-4c5e-bc96-9c07c66365b0
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-03-18T15:01:58.460375Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,[...]
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/423e88d2-9298-4bff-a6a6-9374ae8315a3?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 446.864602ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/423e88d2-9298-4bff-a6a6-9374ae8315a3
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.376882ms
[...]
