---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.742728ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/28cf6394-757a-461e-abe0-fcd1a56756e7
        method: GET
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.547817ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.712547241Z","description":"","frontend_count":0,"id":"57595210-1a8b-497b-a9fd-b85a59d87858","instances":[],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"57595210-1a8b-497b-a9fd-b85a59d87858","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:28.712547241Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.823696ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57595210-1a8b-497b-a9fd-b85a59d87858
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.712547Z","description":"","frontend_count":0,"id":"57595210-1a8b-497b-a9fd-b85a59d87858","instances":[{"created_at":"2026-07-21T10:13:48.586277Z","id":"f639e597-31a4-4c5b-be9b-52af69979714","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:16:28.919594Z","zone":"fr-par-1"}],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"57595210-1a8b-497b-a9fd-b85a59d87858","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:28.932929Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.71785ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57595210-1a8b-497b-a9fd-b85a59d87858/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.835575ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-gifted-gould","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57595210-1a8b-497b-a9fd-b85a59d87858/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:16:59.491643189Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"97fe9995-949f-4266-88cb-e2caa8683833","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.712547Z","description":"","frontend_count":0,"id":"57595210-1a8b-497b-a9fd-b85a59d87858","instances":[{"created_at":"2026-07-21T10:13:48.586277Z","id":"f639e597-31a4-4c5b-be9b-52af69979714","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:16:59.516773934Z","zone":"fr-par-1"}],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"57595210-1a8b-497b-a9fd-b85a59d87858","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:31.891594Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-gifted-gould","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:16:59.491643189Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.135193ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/97fe9995-949f-4266-88cb-e2caa8683833
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:16:59.491643Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"97fe9995-949f-4266-88cb-e2caa8683833","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57595210-1a8b-497b-a9fd-b85a59d87858/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:16:59.491643Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"97fe9995-949f-4266-88cb-e2caa8683833","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.712547Z","description":"","frontend_count":1[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"97fe9995-949f-4266-88cb-e2caa8683833","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/72a14f3c-e132-4929-8087-b99b21b31c99
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:16:59.491643Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_proto[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/72a14f3c-e132-4929-8087-b99b21b31c99/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.87891ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"ips_edge_services":false,"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/72a14f3c-e132-4929-8087-b99b21b31c99/acls
        method: POST
      response:
        body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2026-07-21T10:17:01.758056947Z","description":"","frontend":{"backend":{"created_at":"2026-07-21T10:16:59.491643Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"97fe9995-949f-4266-88cb-e2caa8683833","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:16:28.712547Z","description":"","fronte[...]
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["10.0.0.10"],"ips_edge_services":false,"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/34671e7a-9ac9-4aa7-ac31-9c125b[...]
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57595210-1a8b-497b-a9fd-b85a59d87858?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 368.90007ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/57595210-1a8b-497b-a9fd-b85a59d87858
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.352358ms
[...]
