---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.79483ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b10c27d1-cd18-47c4-a2f8-a202ae9d0568
        method: GET
      response:
        body: '{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.031792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:42.938589957Z","description":"","frontend_count":0,"id":"6a4ff0c7-08bf-43e7-bc88-034764d2416f","instances":[],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"6a4ff0c7-08bf-43e7-bc88-034764d2416f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:42.938589957Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.107271ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6a4ff0c7-08bf-43e7-bc88-034764d2416f
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:42.938590Z","description":"","frontend_count":0,"id":"6a4ff0c7-08bf-43e7-bc88-034764d2416f","instances":[{"created_at":"2026-07-21T10:17:38.685758Z","id":"87f0225d-b1ff-46e4-83c6-a6ecc2c5c721","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:18:43.090498Z","zone":"fr-par-1"}],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"6a4ff0c7-08bf-43e7-bc88-034764d2416f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:43.097892Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.68006ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6a4ff0c7-08bf-43e7-bc88-034764d2416f/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.430563ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-epic-lederberg","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6a4ff0c7-08bf-43e7-bc88-034764d2416f/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:19:13.724974313Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"92c2785e-a56a-4e05-88e0-f7ed83aa1481","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:42.938590Z","description":"","frontend_count":0,"id":"6a4ff0c7-08bf-43e7-bc88-034764d2416f","instances":[{"created_at":"2026-07-21T10:17:38.685758Z","id":"87f0225d-b1ff-46e4-83c6-a6ecc2c5c721","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:19:13.746153746Z","zone":"fr-par-1"}],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"6a4ff0c7-08bf-43e7-bc88-034764d2416f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:46.107200Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-epic-lederberg","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:19:13.724974313Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.2876ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/92c2785e-a56a-4e05-88e0-f7ed83aa1481
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:19:13.724974Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-stupefied-panini","inbound_port":80,"backend_id":"92c2785e-a56a-4e05-88e0-f7ed83aa1481","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6a4ff0c7-08bf-43e7-bc88-034764d2416f/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:13.724974Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"92c2785e-a56a-4e05-88e0-f7ed83aa1481","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:42.938590Z","description":"","frontend_count":1,[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-happy-bassi","inbound_port":80,"backend_id":"92c2785e-a56a-4e05-88e0-f7ed83aa1481","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/53f922f2-9e21-4325-b130-b05107e3149b
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:13.724974Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/53f922f2-9e21-4325-b130-b05107e3149b/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.718275ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":443,"backend_id":"92c2785e-a56a-4e05-88e0-f7ed83aa1481","certificate_ids":[],"enable_http3":true,"connection_rate_limit":100,"enable_access_logs":true,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/53f922f2-9e21-4325-b130-b05107e3149b
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:13.724974Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,[...]
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6a4ff0c7-08bf-43e7-bc88-034764d2416f?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 287.357033ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6a4ff0c7-08bf-43e7-bc88-034764d2416f
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.433604ms
[...]
