---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"75cad6fd-1fa9-4c6e-9b61-d1037e484338","ip_address":"51.15.227.235","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-227-235.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.135375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/75cad6fd-1fa9-4c6e-9b61-d1037e484338
        method: GET
      response:
        body: '{"id":"75cad6fd-1fa9-4c6e-9b61-d1037e484338","ip_address":"51.15.227.235","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-227-235.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.970542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"75cad6fd-1fa9-4c6e-9b61-d1037e484338","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T14:27:11.021961632Z","description":"","frontend_count":0,"id":"2b4c7c1e-6b03-4307-9410-f74ae7923e23","instances":[],"ip":[{"id":"75cad6fd-1fa9-4c6e-9b61-d1037e484338","ip_address":"51.15.227.235","lb_id":"2b4c7c1e-6b03-4307-9410-f74ae7923e23","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-227-235.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T14:27:11.021961632Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.94725ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b4c7c1e-6b03-4307-9410-f74ae7923e23
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-20T14:27:11.021962Z","description":"","frontend_count":0,"id":"2b4c7c1e-6b03-4307-9410-f74ae7923e23","instances":[{"created_at":"2026-02-20T14:26:34.909635Z","id":"0b223ea8-6ecd-4b66-8ea8-9cdcf950f59e","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-20T14:27:11.209240Z","zone":"fr-par-1"}],"ip":[{"id":"75cad6fd-1fa9-4c6e-9b61-d1037e484338","ip_address":"51.15.227.235","lb_id":"2b4c7c1e-6b03-4307-9410-f74ae7923e23","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-227-235.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T14:27:11.226203Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.9595ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b4c7c1e-6b03-4307-9410-f74ae7923e23/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.535375ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-admiring-gagarin","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b4c7c1e-6b03-4307-9410-f74ae7923e23/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-20T14:27:41.792436444Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"8d4f9cca-cda1-48b1-b71d-c81dc52f6c62","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-20T14:27:11.021962Z","description":"","frontend_count":0,"id":"2b4c7c1e-6b03-4307-9410-f74ae7923e23","instances":[{"created_at":"2026-02-20T14:26:34.909635Z","id":"0b223ea8-6ecd-4b66-8ea8-9cdcf950f59e","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-20T14:27:41.818934590Z","zone":"fr-par-1"}],"ip":[{"id":"75cad6fd-1fa9-4c6e-9b61-d1037e484338","ip_address":"51.15.227.235","lb_id":"2b4c7c1e-6b03-4307-9410-f74ae7923e23","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-227-235.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-20T14:27:13.195993Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-admiring-gagarin","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-20T14:27:41.792436444Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.615167ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8d4f9cca-cda1-48b1-b71d-c81dc52f6c62
        method: GET
      response:
        body: '{"created_at":"2026-02-20T14:27:41.792436Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-zealous-lichterman","inbound_port":80,"backend_id":"8d4f9cca-cda1-48b1-b71d-c81dc52f6c62","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b4c7c1e-6b03-4307-9410-f74ae7923e23/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-20T14:27:41.792436Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"8d4f9cca-cda1-48b1-b71d-c81dc52f6c62","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-20T14:27:11.021962Z","description":"","frontend_count":1,"id":"2b4[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-xenodochial-fermi","inbound_port":80,"backend_id":"8d4f9cca-cda1-48b1-b71d-c81dc52f6c62","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e124ce52-b28d-477a-9a7d-ecef1bb65a81
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-20T14:27:41.792436Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e124ce52-b28d-477a-9a7d-ecef1bb65a81/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.901541ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":443,"backend_id":"8d4f9cca-cda1-48b1-b71d-c81dc52f6c62","certificate_ids":[],"enable_http3":true,"connection_rate_limit":100,"enable_access_logs":true,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e124ce52-b28d-477a-9a7d-ecef1bb65a81
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-20T14:27:41.792436Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,[...]
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b4c7c1e-6b03-4307-9410-f74ae7923e23?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 296.734625ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b4c7c1e-6b03-4307-9410-f74ae7923e23
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.604875ms
[...]
