---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.96292ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/91e1f29d-f4e7-4670-8183-8e3ac50c9793
    method: GET
  response:
    body: "{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.836054ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-acl\",\"description\":\"\",\"ip_id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"7d79e310-aba6-4832-a771-1a87a86c3bf7\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"7d79e310-aba6-4832-a771-1a87a86c3bf7\",\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:55.961333951Z\",\"updated_at\":\"2025-09-01T15:25:55.961333951Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 374.67469ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d79e310-aba6-4832-a771-1a87a86c3bf7
    method: GET
  response:
    body: "{\"id\":\"7d79e310-aba6-4832-a771-1a87a86c3bf7\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"7d79e310-aba6-4832-a771-1a87a86c3bf7\",\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:55.961334Z\",\"updated_at\":\"2025-09-01T15:25:55.961334Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.866157ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d79e310-aba6-4832-a771-1a87a86c3bf7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.201783ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-eloquent-galois\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d79e310-aba6-4832-a771-1a87a86c3bf7/backends
    method: POST
  response:
    body: "{\"id\":\"56974805-1ca3-4be6-ba72-7cac162933df\",\"name\":\"tf-lb-bkd-eloquent-galois\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"7d79e310-aba6-4832-a771-1a87a86c3bf7\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"3e7dfec4-5bf0-49ec-abda-909c3afb2c3a\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T01:12:59.335323Z\",\"updated_at\":\"2025-09-01T15:26:26.909905545Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"7d79e310-aba6-4832-a771-1a87a86c3bf7\",\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:55.961334Z\",\"updated_at\":\"2025-09-01T15:25:59.861491Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:26.885287138Z\",\"updated_at\":\"2025-09-01T15:26:26.885287138Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 519.41677ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/56974805-1ca3-4be6-ba72-7cac162933df
    method: GET
  response:
    body: "{\"id\":\"56974805-1ca3-4be6-ba72-7cac162933df\",\"name\":\"tf-lb-bkd-eloquent-galois\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test\",\"inbound_port\":80,\"backend_id\":\"56974805-1ca3-4be6-ba72-7cac162933df\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false,\"timeout_client\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d79e310-aba6-4832-a771-1a87a86c3bf7/frontends
    method: POST
  response:
    body: "{\"id\":\"33560f74-4a96-45cf-a701-7cf452a06a14\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"56974805-1ca3-4be6-ba72-7cac162933df\",\"name\":\"tf-lb-bkd-eloquent-galois\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"7d79e310-aba6-4832-a771-1a87a86c3bf7\",\"n[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test\",\"inbound_port\":80,\"backend_id\":\"56974805-1ca3-4be6-ba72-7cac162933df\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false,\"timeout_client\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/33560f74-4a96-45cf-a701-7cf452a06a14
    method: PUT
  response:
    body: "{\"id\":\"33560f74-4a96-45cf-a701-7cf452a06a14\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"56974805-1ca3-4be6-ba72-7cac162933df\",\"name\":\"tf-lb-bkd-eloquent-galois\",\[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/33560f74-4a96-45cf-a701-7cf452a06a14/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.65078ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acl\",\"action\":{\"type\":\"allow\",\"redirect\":null},\"match\":{\"ip_subnet\":[\"192.168.0.1\",\"192.168.0.2\",\"192.168.10.0/24\"],\"ips_edge_services\":false,\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":[],\"http_filter_option\":null,\"invert\":true},\"index\":1,\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/33560f74-4a96-45cf-a701-7cf452a06a14/acls
    method: POST
  response:
    body: "{\"id\":\"adea533a-0093-41eb-ab4e-deea7e9cdaf1\",\"name\":\"test-acl\",\"match\":{\"ip_subnet\":[\"192.168.0.1\",\"192.168.0.2\",\"192.168.10.0/24\"],\"http_filter\":\"acl_http_filter_none\",\"http_filter_value\":[],\"invert\":true,\"http_filter_option\":null,\"ips_edge_services\":false},\"action\":{\"type\":\"allow\",\"redirect\":null},\"frontend\":{\"id\":\"33560f74-4a96-45cf-a701-7cf452a06a14\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"56974805-1ca3-4be6-ba72-7cac162933df\",\"name\":\"tf-lb-bkd-eloquent-galois\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\"[...]
[...]
- id: 45
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acl\",\"action\":{\"type\":\"allow\",\"redirect\":null},\"match\":{\"ip_subnet\":[\"10.0.0.10\"],\"ips_edge_services\":false,\"http_filter\":\"path_begin\",\"http_filter_value\":[\"foo\",\"bar\"],\"http_filter_option\":null,\"invert\":false},\"index\":1}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/adea533a-0093-41eb-ab4e-deea7e9cdaf1
    method: PU[...]
[...]
- id: 76
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d79e310-aba6-4832-a771-1a87a86c3bf7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 529.43883ms
[...]
- id: 78
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7d79e310-aba6-4832-a771-1a87a86c3bf7
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 90.837531ms
[...]
