---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.359546ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c3531684-21e9-40cc-9855-12ed6371eab3
    method: GET
  response:
    body: "{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 246.481373ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0\",\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:00.532835156Z\",\"updated_at\":\"2025-09-01T15:27:00.532835156Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 361.294429ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0
    method: GET
  response:
    body: "{\"id\":\"6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0\",\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:00.532835Z\",\"updated_at\":\"2025-09-01T15:27:00.532835Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.470852ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.306675ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-wizardly-kepler\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0/backends
    method: POST
  response:
    body: "{\"id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"name\":\"tf-lb-bkd-wizardly-kepler\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"ad624045-73d5-4a41-baf9-ef0dabe39ca9\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:50.759605Z\",\"updated_at\":\"2025-09-01T15:27:31.554563047Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0\",\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:00.532835Z\",\"updated_at\":\"2025-09-01T15:27:04.335914Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:27:31.516384752Z\",\"updated_at\":\"2025-09-01T15:27:31.516384752Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 427.810804ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/16a6d6f3-f58c-4806-98f4-1e7cc62b8403
    method: GET
  response:
    body: "{\"id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"name\":\"tf-lb-bkd-wizardly-kepler\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"c[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-serene-buck\",\"inbound_port\":80,\"backend_id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0/frontends
    method: POST
  response:
    body: "{\"id\":\"649f381f-79ce-4473-9431-19f79e4ea1a0\",\"name\":\"tf-lb-frt-serene-buck\",\"inbound_port\":80,\"backend\":{\"id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"name\":\"tf-lb-bkd-wizardly-kepler\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0\",\"na[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-peaceful-wu\",\"inbound_port\":80,\"backend_id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/649f381f-79ce-4473-9431-19f79e4ea1a0
    method: PUT
  response:
    body: "{\"id\":\"649f381f-79ce-4473-9431-19f79e4ea1a0\",\"name\":\"tf-lb-frt-peaceful-wu\",\"inbound_port\":80,\"backend\":{\"id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"name\":\"tf-lb-bkd-wizardly-kepler\",\"forward_pr[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/649f381f-79ce-4473-9431-19f79e4ea1a0/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.041321ms
[...]
- id: 37
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test\",\"inbound_port\":443,\"backend_id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"certificate_ids\":[],\"enable_http3\":true,\"connection_rate_limit\":100,\"enable_access_logs\":true,\"timeout_client\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/649f381f-79ce-4473-9431-19f79e4ea1a0
    method: PUT
  response:
    body: "{\"id\":\"649f381f-79ce-4473-9431-19f79e4ea1a0\",\"name\":\"tf-test\",\"inbound_port\":443,\"backend\":{\"id\":\"16a6d6f3-f58c-4806-98f4-1e7cc62b8403\",\"name\":\"tf-lb-bkd-wizardly-kepler\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_se[...]
[...]
- id: 56
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 364.92447ms
[...]
- id: 58
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6cfcfcff-abb2-4bc2-afc2-ade2ae04b5a0
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 96.968157ms
[...]
