---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/86df9ff8-7a77-492d-9b03-4f6205127499
    method: GET
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"86df9ff8-7a77-492d-9b03-4f6205127499","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:07:18.803942985Z","description":"","frontend_count":0,"id":"957a1d7b-20e5-4f6e-9068-0ce89e548eb9","instances":[],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"957a1d7b-20e5-4f6e-9068-0ce89e548eb9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:07:18.803942985Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/957a1d7b-20e5-4f6e-9068-0ce89e548eb9
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:07:18.803943Z","description":"","frontend_count":0,"id":"957a1d7b-20e5-4f6e-9068-0ce89e548eb9","instances":[{"created_at":"2023-07-03T19:46:44.679933Z","id":"1b7fbeaa-c809-4be1-ac65-26773555f4b7","ip_address":"10.69.150.67","region":"fr-par","status":"unknown","updated_at":"2023-07-03T20:07:19.010871Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"957a1d7b-20e5-4f6e-9068-0ce89e548eb9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:07:19.021653Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/957a1d7b-20e5-4f6e-9068-0ce89e548eb9/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"tf-lb-bkd-sharp-turing","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/957a1d7b-20e5-4f6e-9068-0ce89e548eb9/backends
    method: POST
  response:
    body: '{"created_at":"2023-07-03T20:07:49.473277133Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"6243a9f4-1b47-4602-b540-87869a069d91","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:07:18.803943Z","description":"","frontend_count":0,"id":"957a1d7b-20e5-4f6e-9068-0ce89e548eb9","instances":[{"created_at":"2023-07-03T19:46:44.679933Z","id":"1b7fbeaa-c809-4be1-ac65-26773555f4b7","ip_address":"10.69.150.67","region":"fr-par","status":"pending","updated_at":"2023-07-03T20:07:49.502457035Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"957a1d7b-20e5-4f6e-9068-0ce89e548eb9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:07:21.335909Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-sharp-turing","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-03T20:07:49.473277133Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6243a9f4-1b47-4602-b540-87869a069d91
    method: GET
  response:
    body: '{"created_at":"2023-07-03T20:07:49.473277Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"6243a9f4-1b47-4602-b540-87869a069d91","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/957a1d7b-20e5-4f6e-9068-0ce89e548eb9/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:07:49.473277Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"6243a9f4-1b47-4602-b540-87869a069d91","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:07:18.803943Z","description":"","frontend_count":1,"id":"95[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"6243a9f4-1b47-4602-b540-87869a069d91","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/61dd02bd-ee89-4e84-a04a-624acfe025e2
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:07:49.473277Z","failover_host":null,"forward_port":80,"forward_port_a[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/61dd02bd-ee89-4e84-a04a-624acfe025e2/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/61dd02bd-ee89-4e84-a04a-624acfe025e2/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-07-03T20:07:50.990299296Z","description":"","frontend":{"backend":{"created_at":"2023-07-03T20:07:49.473277Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"6243a9f4-1b47-4602-b540-87869a069d91","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:07:18.803943Z","description":"","frontend_count"[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/e10ed9fd-947a-4d74-a9b7-e1db29d7a186
    method: PUT
  response:
    body: '{"action":{"redirect":null,"type":"allow"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/957a1d7b-20e5-4f6e-9068-0ce89e548eb9?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/957a1d7b-20e5-4f6e-9068-0ce89e548eb9
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
