---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.514862ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/88120047-f14b-40cc-a864-7e7798b98c45
        method: GET
      response:
        body: '{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.623808ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:03.060831701Z","description":"","frontend_count":0,"id":"7dc3a2fc-d247-46d2-8927-4698a17243ee","instances":[],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7dc3a2fc-d247-46d2-8927-4698a17243ee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:03.060831701Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.917628ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7dc3a2fc-d247-46d2-8927-4698a17243ee
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:03.060832Z","description":"","frontend_count":0,"id":"7dc3a2fc-d247-46d2-8927-4698a17243ee","instances":[{"created_at":"2026-07-21T10:18:58.688528Z","id":"7466bf0b-750e-4c86-9295-b82c58efc065","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:20:03.426201Z","zone":"fr-par-1"}],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7dc3a2fc-d247-46d2-8927-4698a17243ee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:03.060832Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.943115ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7dc3a2fc-d247-46d2-8927-4698a17243ee/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.816709ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-vigorous-keller","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7dc3a2fc-d247-46d2-8927-4698a17243ee/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:20:33.904323495Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"0ddda182-f3d2-44f7-b051-b16e25fa5b75","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:20:03.060832Z","description":"","frontend_count":0,"id":"7dc3a2fc-d247-46d2-8927-4698a17243ee","instances":[{"created_at":"2026-07-21T10:18:58.688528Z","id":"7466bf0b-750e-4c86-9295-b82c58efc065","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:20:33.937341520Z","zone":"fr-par-1"}],"ip":[{"id":"88120047-f14b-40cc-a864-7e7798b98c45","ip_address":"51.15.132.215","lb_id":"7dc3a2fc-d247-46d2-8927-4698a17243ee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-132-215.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:06.088520Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-vigorous-keller","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:20:33.904323495Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 403.38098ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/0ddda182-f3d2-44f7-b051-b16e25fa5b75
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:20:33.904323Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"0ddda182-f3d2-44f7-b051-b16e25fa5b75","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7dc3a2fc-d247-46d2-8927-4698a17243ee/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:20:33.904323Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"0ddda182-f3d2-44f7-b051-b16e25fa5b75","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:20:03.060832Z","description":"","frontend_count":1[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"0ddda182-f3d2-44f7-b051-b16e25fa5b75","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/66a65ee4-c476-44a7-9ae2-28677f4a67c2
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:20:33.904323Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_proto[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/66a65ee4-c476-44a7-9ae2-28677f4a67c2/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.003706ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-acl-charming-perlman","action":{"type":"redirect","redirect":{"type":"location","target":"https://example.com","code":307}},"match":{"ip_subnet":["10.0.0.10"],"ips_edge_services":false,"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/66a65ee4-c476-44a7-9ae2-28677f4a67c2/acls
        method: POST
      response:
        body: '{"action":{"redirect":{"code":307,"target":"https://example.com","type":"location"},"type":"redirect"},"created_at":"2026-07-21T10:20:35.768715434Z","description":"","frontend":{"backend":{"created_at":"2026-07-21T10:20:33.904323Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"0ddda182-f3d2-44f7-b051-b16e25fa5b75","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:20:03.060832Z","description":"","fronte[...]
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7dc3a2fc-d247-46d2-8927-4698a17243ee?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 251.283962ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7dc3a2fc-d247-46d2-8927-4698a17243ee
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.273978ms
[...]
