---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.452625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/e9821bd5-e65d-48a6-9f19-b64ab68ab6a7
        method: GET
      response:
        body: '{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.505ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:01.657349511Z","description":"","frontend_count":0,"id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","instances":[],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:01.657349511Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.521959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/05f8ed83-338e-49bf-96e8-a5c3fcc4e829
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:10:01.657350Z","description":"","frontend_count":0,"id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","instances":[],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:01.657350Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.945208ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/05f8ed83-338e-49bf-96e8-a5c3fcc4e829/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.059375ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-cranky-goldwasser","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/05f8ed83-338e-49bf-96e8-a5c3fcc4e829/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:10:32.649682895Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"a6f7a833-6b8e-4cda-ac7e-831e4b5ad96a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:10:01.657350Z","description":"","frontend_count":0,"id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","instances":[{"created_at":"2025-01-24T14:09:08.700854Z","id":"fd4402b6-8c11-46a3-a0af-ac85c87844f6","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:10:32.673768492Z","zone":"fr-par-1"}],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:10.427501Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-cranky-goldwasser","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:10:32.649682895Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.09075ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-159-206-53.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/05f8ed83-338e-49bf-96e8-a5c3fcc4e829/certificates
        method: POST
      response:
        body: '{"common_name":"51-159-206-53.lb.fr-par.scw.cloud","created_at":"2025-01-24T14:10:32.767197046Z","fingerprint":"","id":"264e738e-bd9c-4f92-a9d5-f977ef517102","lb":{"backend_count":1,"created_at":"2025-01-24T14:10:01.657350Z","description":"","frontend_count":0,"id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","instances":[{"created_at":"2025-01-24T14:09:08.700854Z","id":"fd4402b6-8c11-46a3-a0af-ac85c87844f6","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:10:32.673768Z","zone":"fr-par-1"}],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"05f8ed83-338e-49bf-96e8-a5c3fcc4e829","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:10:32.776271215Z","zone":"fr-par-1"},"name":"test-cert-front-end","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2025-01-24T14:10:32.767197046Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 450.427042ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a6f7a833-6b8e-4cda-ac7e-831e4b5ad96a
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:10:32.649683Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"ch[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/264e738e-bd9c-4f92-a9d5-f977ef517102
        method: GET
      response:
        body: '{"common_name":"51-159-206-53.lb.fr-par.scw.cloud","created_at":"2025-01-24T14:10:32.767197Z","fingerprint":"","id":"264e738e-bd9c-4f92-a9d5-f977ef517102","lb":{"backend_count":1,"created_at":"2025-01-24T14:10:01.657350Z","descrip[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-hardcore-cohen","inbound_port":443,"backend_id":"a6f7a833-6b8e-4cda-ac7e-831e4b5ad96a","certificate_ids":["264e738e-bd9c-4f92-a9d5-f977ef517102"],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/05f8ed83-338e-49bf-96e8-a5c3fcc4e829/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:10:32.649683Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"a6f7a833-6b8e-4cda-ac7e-831e4b5ad96a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:10:01.657350Z","description":"","frontend_count":1,"id":"[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-mystifying-stonebraker","inbound_port":443,"backend_id":"a6f7a833-6b8e-4cda-ac7e-831e4b5ad96a","certificate_ids":["264e738e-bd9c-4f92-a9d5-f977ef517102"],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/fed1d155-ea32-4bec-9d4a-f59326edd4a5
        method: PUT
      res[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/fed1d155-ea32-4bec-9d4a-f59326edd4a5/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.185917ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/264e738e-bd9c-4f92-a9d5-f977ef517102
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.270625ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/05f8ed83-338e-49bf-96e8-a5c3fcc4e829?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 540.325917ms
[...]
