---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"51151ed2-63ee-42e8-89c3-38ebf8864f0c\",\"ip_address\":\"51.159.206.90\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.476556ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/51151ed2-63ee-42e8-89c3-38ebf8864f0c
    method: GET
  response:
    body: "{\"id\":\"51151ed2-63ee-42e8-89c3-38ebf8864f0c\",\"ip_address\":\"51.159.206.90\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 69.555199ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"51151ed2-63ee-42e8-89c3-38ebf8864f0c\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"51151ed2-63ee-42e8-89c3-38ebf8864f0c\",\"ip_address\":\"51.159.206.90\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c\",\"reverse\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:58.130698375Z\",\"updated_at\":\"2025-09-01T15:26:58.130698375Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 350.931942ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4d69f45f-0ab6-49d0-b407-742f8168d43c
    method: GET
  response:
    body: "{\"id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"creating\",\"instances\":[{\"id\":\"1bfc57fe-6f15-46c0-ad85-e6a4f4a1ed56\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:51.173273Z\",\"updated_at\":\"2025-09-01T15:26:58.[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4d69f45f-0ab6-49d0-b407-742f8168d43c/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.379402ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-charming-cartwright\",\"forward_protocol\":\"http\",\"forward_port\":443,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":443,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4d69f45f-0ab6-49d0-b407-742f8168d43c/backends
    method: POST
  response:
    body: "{\"id\":\"721b2736-ab85-402c-b28b-ddaa23cdb702\",\"name\":\"tf-lb-bkd-charming-cartwright\",\"forward_protocol\":\"http\",\"forward_port\":443,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":443,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"1bfc57fe-6f15-46c0-ad85-e6a4f4a1ed56\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:51.173273Z\",\"updated_at\":\"2025-09-01T15:27:29.158388190Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"51151ed2-63ee-42e8-89c3-38ebf8864f0c\",\"ip_address\":\"51.159.206.90\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c\",\"reverse\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:58.130698Z\",\"updated_at\":\"2025-09-01T15:27:01.697382Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:27:29.132600786Z\",\"updated_at\":\"2025-09-01T15:27:29.132600786Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 442.778758ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cert-front-end\",\"letsencrypt\":{\"common_name\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"subject_alternative_name\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4d69f45f-0ab6-49d0-b407-742f8168d43c/certificates
    method: POST
  response:
    body: "{\"id\":\"31dd9450-81b8-41c6-9b56-fcaaeeb620a2\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",\"lb\":{\"id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"1bfc57fe-6f15-46c0-ad85-e6a4f4a1ed56\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:25:51.173273Z\",\"updated_at\":\"2025-09-01T15:27:29.158388Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"51151ed2-63ee-42e8-89c3-38ebf8864f0c\",\"ip_address\":\"51.159.206.90\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c\",\"reverse\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:26:58.130698Z\",\"updated_at\":\"2025-09-01T15:27:29.238733566Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"name\":\"test-cert-front-end\",\"created_at\":\"2025-09-01T15:27:29.216295437Z\",\"updated_at\":\"2025-09-01T15:27:29.216295437Z\",\"status_details\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 531.069618ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/31dd9450-81b8-41c6-9b56-fcaaeeb620a2
    method: GET
  response:
    body: "{\"id\":\"31dd9450-81b8-41c6-9b56-fcaaeeb620a2\",\"type\":\"letsencryt\",\"status\":\"pending\",\"common_name\":\"51-159-206-90.lb.fr-par.scw.cloud\",\"subject_alternative_name\":[],\"fingerprint\":\"\",\"not_valid_before\":\"0001-01-01T00:00:00Z\",\"not_valid_after\":\"0001-01-01T00:00:00Z\",\"[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/721b2736-ab85-402c-b28b-ddaa23cdb702
    method: GET
  response:
    body: "{\"id\":\"721b2736-ab85-402c-b28b-ddaa23cdb702\",\"name\":\"tf-lb-bkd-charming-cartwright\",\"forward_protocol\":\"http\",\"forward_port\":443,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":443,\"check_delay\":60[...]
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-goofy-mirzakhani\",\"inbound_port\":443,\"backend_id\":\"721b2736-ab85-402c-b28b-ddaa23cdb702\",\"certificate_ids\":[\"31dd9450-81b8-41c6-9b56-fcaaeeb620a2\"],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4d69f45f-0ab6-49d0-b407-742f8168d43c/frontends
    method: POST
  response:
    body: "{\"id\":\"4f1f5fbc-29ac-4942-91a7-5a4f437803a8\",\"name\":\"tf-lb-frt-goofy-mirzakhani\",\"inbound_port\":443,\"backend\":{\"id\":\"721b2736-ab85-402c-b28b-ddaa23cdb702\",\"name\":\"tf-lb-bkd-charming-cartwright\",\"forward_protocol\":\"http\",\"forward_port\":443,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":443,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"4d69f45f-0ab6-49d0-b407-742f8168d43c[...]
[...]
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-hungry-napier\",\"inbound_port\":443,\"backend_id\":\"721b2736-ab85-402c-b28b-ddaa23cdb702\",\"certificate_ids\":[\"31dd9450-81b8-41c6-9b56-fcaaeeb620a2\"],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4f1f5fbc-29ac-4942-91a7-5a4f437803a8
    method: PUT
  resp[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4f1f5fbc-29ac-4942-91a7-5a4f437803a8/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.896085ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/31dd9450-81b8-41c6-9b56-fcaaeeb620a2
    method: GET
  response:
    body: "{\"message\":\"certificate not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 35.018234ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4d69f45f-0ab6-49d0-b407-742f8168d43c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 730.528467ms
[...]
