---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.8255ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/df74cb2c-3245-49d9-b592-e67c753e77ac
        method: GET
      response:
        body: '{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.235292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:09:00.619543260Z","description":"","frontend_count":0,"id":"09ea0a52-a988-4843-a30d-25203935eb73","instances":[],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":"09ea0a52-a988-4843-a30d-25203935eb73","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:00.619543260Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.178125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/09ea0a52-a988-4843-a30d-25203935eb73
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:09:00.619543Z","description":"","frontend_count":0,"id":"09ea0a52-a988-4843-a30d-25203935eb73","instances":[],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":"09ea0a52-a988-4843-a30d-25203935eb73","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:00.619543Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.624375ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/09ea0a52-a988-4843-a30d-25203935eb73/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.729208ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-kind-noether","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/09ea0a52-a988-4843-a30d-25203935eb73/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:09:31.501747796Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"9a4ee0ac-57ee-4358-a963-639239964d65","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:09:00.619543Z","description":"","frontend_count":0,"id":"09ea0a52-a988-4843-a30d-25203935eb73","instances":[{"created_at":"2025-01-24T14:08:27.310465Z","id":"2d8b65f6-6f5f-4961-b4a2-c8c372c8aaa0","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:09:31.528377574Z","zone":"fr-par-1"}],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":"09ea0a52-a988-4843-a30d-25203935eb73","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:16.189289Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-kind-noether","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:09:31.501747796Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.729791ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/9a4ee0ac-57ee-4358-a963-639239964d65
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:09:31.501748Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"9a4ee0ac-57ee-4358-a963-639239964d65","enable_http3":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/09ea0a52-a988-4843-a30d-25203935eb73/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:31.501748Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"9a4ee0ac-57ee-4358-a963-639239964d65","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:09:00.619543Z","description":"","frontend_count":1,"id":"09[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":80,"backend_id":"9a4ee0ac-57ee-4358-a963-639239964d65","certificate_ids":[],"enable_http3":false,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d4bea344-cfc4-4134-a47d-e18dedc6c56d
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:31.501748Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d4bea344-cfc4-4134-a47d-e18dedc6c56d/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.534542ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-acl-vigilant-roentgen","action":{"type":"redirect","redirect":{"type":"location","target":"https://example.com","code":307}},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d4bea344-cfc4-4134-a47d-e18dedc6c56d/acls
        method: POST
      response:
        body: '{"action":{"redirect":{"code":307,"target":"https://example.com","type":"location"},"type":"redirect"},"created_at":"2025-01-24T14:09:33.707482733Z","description":"","frontend":{"backend":{"created_at":"2025-01-24T14:09:31.501748Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"9a4ee0ac-57ee-4358-a963-639239964d65","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:09:00.619543Z","description":"","frontend_count"[...]
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/09ea0a52-a988-4843-a30d-25203935eb73?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 360.74825ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/09ea0a52-a988-4843-a30d-25203935eb73
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.788958ms
[...]
