---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c81029a2-b368-480e-a562-bb4a38cd5a34\",\"ip_address\":\"51.15.220.201\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-15-220-201.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.547092ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c81029a2-b368-480e-a562-bb4a38cd5a34
    method: GET
  response:
    body: "{\"id\":\"c81029a2-b368-480e-a562-bb4a38cd5a34\",\"ip_address\":\"51.15.220.201\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-15-220-201.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 84.275854ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-acl\",\"description\":\"\",\"ip_id\":\"c81029a2-b368-480e-a562-bb4a38cd5a34\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"69da341a-ae6b-4964-99e6-b2aaacc241b8\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c81029a2-b368-480e-a562-bb4a38cd5a34\",\"ip_address\":\"51.15.220.201\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"69da341a-ae6b-4964-99e6-b2aaacc241b8\",\"reverse\":\"51-15-220-201.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:50.680101531Z\",\"updated_at\":\"2025-09-01T15:25:50.680101531Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 451.582919ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69da341a-ae6b-4964-99e6-b2aaacc241b8
    method: GET
  response:
    body: "{\"id\":\"69da341a-ae6b-4964-99e6-b2aaacc241b8\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"creating\",\"instances\":[{\"id\":\"81aa1faf-f25b-4f26-9fba-3f164372c597\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-08-28T08:04:30.633314Z\",\"updated_at\":\"2025-09-01T15:25[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69da341a-ae6b-4964-99e6-b2aaacc241b8/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.591769ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-cocky-bhabha\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69da341a-ae6b-4964-99e6-b2aaacc241b8/backends
    method: POST
  response:
    body: "{\"id\":\"0236df13-7dd5-44a7-b146-87f33e00a4b2\",\"name\":\"tf-lb-bkd-cocky-bhabha\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"69da341a-ae6b-4964-99e6-b2aaacc241b8\",\"name\":\"test-lb-acl\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"81aa1faf-f25b-4f26-9fba-3f164372c597\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-08-28T08:04:30.633314Z\",\"updated_at\":\"2025-09-01T15:26:21.896114198Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c81029a2-b368-480e-a562-bb4a38cd5a34\",\"ip_address\":\"51.15.220.201\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"69da341a-ae6b-4964-99e6-b2aaacc241b8\",\"reverse\":\"51-15-220-201.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:50.680102Z\",\"updated_at\":\"2025-09-01T15:25:54.981388Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:21.881058218Z\",\"updated_at\":\"2025-09-01T15:26:21.881058218Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 535.526275ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/0236df13-7dd5-44a7-b146-87f33e00a4b2
    method: GET
  response:
    body: "{\"id\":\"0236df13-7dd5-44a7-b146-87f33e00a4b2\",\"name\":\"tf-lb-bkd-cocky-bhabha\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"che[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test\",\"inbound_port\":80,\"backend_id\":\"0236df13-7dd5-44a7-b146-87f33e00a4b2\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false,\"timeout_client\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69da341a-ae6b-4964-99e6-b2aaacc241b8/frontends
    method: POST
  response:
    body: "{\"id\":\"20b2d92f-8413-4500-a6a4-1c9c7658c40d\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"0236df13-7dd5-44a7-b146-87f33e00a4b2\",\"name\":\"tf-lb-bkd-cocky-bhabha\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"69da341a-ae6b-4964-99e6-b2aaacc241b8\",\"name[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test\",\"inbound_port\":80,\"backend_id\":\"0236df13-7dd5-44a7-b146-87f33e00a4b2\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false,\"timeout_client\":30000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/20b2d92f-8413-4500-a6a4-1c9c7658c40d
    method: PUT
  response:
    body: "{\"id\":\"20b2d92f-8413-4500-a6a4-1c9c7658c40d\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"0236df13-7dd5-44a7-b146-87f33e00a4b2\",\"name\":\"tf-lb-bkd-cocky-bhabha\",\"fo[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/20b2d92f-8413-4500-a6a4-1c9c7658c40d/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.943321ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-acl-agitated-einstein\",\"action\":{\"type\":\"redirect\",\"redirect\":{\"type\":\"location\",\"target\":\"https://example.com\",\"code\":307}},\"match\":{\"ip_subnet\":[\"10.0.0.10\"],\"ips_edge_services\":false,\"http_filter\":\"path_begin\",\"http_filter_value\":[\"foo\",\"bar\"],\"http_filter_option\":null,\"invert\":false},\"index\":1,\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/20b2d92f-8413-4500-a6a4-1c9c7658c40d/acls
    method: POST
  response:
    body: "{\"id\":\"a3d645be-a68b-4ac6-9dcc-48835808699d\",\"name\":\"tf-lb-acl-agitated-einstein\",\"match\":{\"ip_subnet\":[\"10.0.0.10\"],\"http_filter\":\"path_begin\",\"http_filter_value\":[\"foo\",\"bar\"],\"invert\":false,\"http_filter_option\":null,\"ips_edge_services\":false},\"action\":{\"type\":\"redirect\",\"redirect\":{\"type\":\"location\",\"target\":\"https://example.com\",\"code\":307}},\"frontend\":{\"id\":\"20b2d92f-8413-4500-a6a4-1c9c7658c40d\",\"name\":\"tf-test\",\"inbound_port\":80,\"backend\":{\"id\":\"0236df13-7dd5-44a7-b146-87f33e00a4b2\",\"name\":\"tf-lb-bkd-cocky-bhabha\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"[...]
[...]
- id: 43
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69da341a-ae6b-4964-99e6-b2aaacc241b8?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 773.460208ms
[...]
- id: 45
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69da341a-ae6b-4964-99e6-b2aaacc241b8
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 19.357797ms
[...]
