---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"d8f9b59f-c9f7-4632-a8e4-bb54d578e18d","ip_address":"51.15.249.187","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-249-187.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.997916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d8f9b59f-c9f7-4632-a8e4-bb54d578e18d
        method: GET
      response:
        body: '{"id":"d8f9b59f-c9f7-4632-a8e4-bb54d578e18d","ip_address":"51.15.249.187","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-249-187.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.211709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d8f9b59f-c9f7-4632-a8e4-bb54d578e18d","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-07-17T08:56:12.919751189Z","description":"","frontend_count":0,"id":"d4c9fe16-e524-4f66-aebc-470a46172fb6","instances":[],"ip":[{"id":"d8f9b59f-c9f7-4632-a8e4-bb54d578e18d","ip_address":"51.15.249.187","lb_id":"d4c9fe16-e524-4f66-aebc-470a46172fb6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-249-187.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-07-17T08:56:12.919751189Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 418.900333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4c9fe16-e524-4f66-aebc-470a46172fb6
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-07-17T08:56:12.919751Z","description":"","frontend_count":0,"id":"d4c9fe16-e524-4f66-aebc-470a46172fb6","instances":[{"created_at":"2025-07-17T08:53:00.438990Z","id":"b78aac3a-ca5d-4c15-81d8-5aa676120706","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-07-17T08:56:13.232971Z","zone":"fr-par-1"}],"ip":[{"id":"d8f9b59f-c9f7-4632-a8e4-bb54d578e18d","ip_address":"51.15.249.187","lb_id":"d4c9fe16-e524-4f66-aebc-470a46172fb6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-249-187.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-07-17T08:56:13.240135Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.552625ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4c9fe16-e524-4f66-aebc-470a46172fb6/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.209833ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-mystifying-kare","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4c9fe16-e524-4f66-aebc-470a46172fb6/backends
        method: POST
      response:
        body: '{"created_at":"2025-07-17T08:56:43.728659389Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"e59e7145-3a1d-4eaf-be9e-bcb6f3cfaa46","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-07-17T08:56:12.919751Z","description":"","frontend_count":0,"id":"d4c9fe16-e524-4f66-aebc-470a46172fb6","instances":[{"created_at":"2025-07-17T08:53:00.438990Z","id":"b78aac3a-ca5d-4c15-81d8-5aa676120706","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-07-17T08:56:43.755846853Z","zone":"fr-par-1"}],"ip":[{"id":"d8f9b59f-c9f7-4632-a8e4-bb54d578e18d","ip_address":"51.15.249.187","lb_id":"d4c9fe16-e524-4f66-aebc-470a46172fb6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-249-187.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-07-17T08:56:16.294522Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-mystifying-kare","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-07-17T08:56:43.728659389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.007959ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/e59e7145-3a1d-4eaf-be9e-bcb6f3cfaa46
        method: GET
      response:
        body: '{"created_at":"2025-07-17T08:56:43.728659Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-gracious-bouman","inbound_port":80,"backend_id":"e59e7145-3a1d-4eaf-be9e-bcb6f3cfaa46","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4c9fe16-e524-4f66-aebc-470a46172fb6/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-07-17T08:56:43.728659Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"e59e7145-3a1d-4eaf-be9e-bcb6f3cfaa46","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-07-17T08:56:12.919751Z","description":"","frontend_count":1,"id":"d4c[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-agitated-hypatia","inbound_port":80,"backend_id":"e59e7145-3a1d-4eaf-be9e-bcb6f3cfaa46","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/818bad95-8a9a-4e3d-b68c-215211b9b97a
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-07-17T08:56:43.728659Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/818bad95-8a9a-4e3d-b68c-215211b9b97a/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.471209ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test","inbound_port":443,"backend_id":"e59e7145-3a1d-4eaf-be9e-bcb6f3cfaa46","certificate_ids":[],"enable_http3":true,"connection_rate_limit":100,"enable_access_logs":true,"timeout_client":30000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/818bad95-8a9a-4e3d-b68c-215211b9b97a
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-07-17T08:56:43.728659Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,[...]
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4c9fe16-e524-4f66-aebc-470a46172fb6?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 292.03775ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4c9fe16-e524-4f66-aebc-470a46172fb6
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.406708ms
[...]
