---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.781966ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3db2c29c-5414-4fa9-9b74-2f6e33a4aac0
        method: GET
      response:
        body: '{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.804094ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:40.129617056Z","description":"","frontend_count":0,"id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","instances":[],"ip":[{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:40.129617056Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 551.042124ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9a8dfdb0-a71a-4ff4-8579-9a0708792d04
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:40.129617Z","description":"","frontend_count":0,"id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","instances":[{"created_at":"2026-07-21T10:17:48.594037Z","id":"603fc745-0b6e-403c-8da8-343455d5daaa","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:18:40.570617Z","zone":"fr-par-1"}],"ip":[{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:40.577802Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.820644ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9a8dfdb0-a71a-4ff4-8579-9a0708792d04/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.191753ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-elastic-fermi","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9a8dfdb0-a71a-4ff4-8579-9a0708792d04/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:19:11.092315166Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"f2d57068-47f9-4f0c-b915-42ee3370428b","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:40.129617Z","description":"","frontend_count":0,"id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","instances":[{"created_at":"2026-07-21T10:17:48.594037Z","id":"603fc745-0b6e-403c-8da8-343455d5daaa","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:19:11.115411010Z","zone":"fr-par-1"}],"ip":[{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:43.633206Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-elastic-fermi","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:19:11.092315166Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.188095ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"212-47-237-78.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9a8dfdb0-a71a-4ff4-8579-9a0708792d04/certificates
        method: POST
      response:
        body: '{"common_name":"212-47-237-78.lb.fr-par.scw.cloud","created_at":"2026-07-21T10:19:11.183012812Z","fingerprint":"","id":"623ef97e-32c0-472d-ae56-4d66c1bc9037","lb":{"backend_count":1,"created_at":"2026-07-21T10:18:40.129617Z","description":"","frontend_count":0,"id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","instances":[{"created_at":"2026-07-21T10:17:48.594037Z","id":"603fc745-0b6e-403c-8da8-343455d5daaa","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:19:11.115411Z","zone":"fr-par-1"}],"ip":[{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":"9a8dfdb0-a71a-4ff4-8579-9a0708792d04","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:19:11.192685163Z","zone":"fr-par-1"},"name":"test-cert-front-end","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencrypt","updated_at":"2026-07-21T10:19:11.183012812Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.104183ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f2d57068-47f9-4f0c-b915-42ee3370428b
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:19:11.092315Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"ch[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/623ef97e-32c0-472d-ae56-4d66c1bc9037
        method: GET
      response:
        body: '{"common_name":"212-47-237-78.lb.fr-par.scw.cloud","created_at":"2026-07-21T10:19:11.183013Z","fingerprint":"","id":"623ef97e-32c0-472d-ae56-4d66c1bc9037","lb":{"backend_count":1,"created_at":"2026-07-21T10:18:40.129617Z","descrip[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-brave-dijkstra","inbound_port":443,"backend_id":"f2d57068-47f9-4f0c-b915-42ee3370428b","certificate_ids":["623ef97e-32c0-472d-ae56-4d66c1bc9037"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9a8dfdb0-a71a-4ff4-8579-9a0708792d04/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:19:11.092315Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"f2d57068-47f9-4f0c-b915-42ee3370428b","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:40.129617Z","description":"","frontend_count"[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-vigilant-swirles","inbound_port":443,"backend_id":"f2d57068-47f9-4f0c-b915-42ee3370428b","certificate_ids":["623ef97e-32c0-472d-ae56-4d66c1bc9037"],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8c3b8201-41f0-4239-[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8c3b8201-41f0-4239-a248-4b55abeb8277/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.473427ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/623ef97e-32c0-472d-ae56-4d66c1bc9037
        method: GET
      response:
        body: '{"message":"certificate not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.806334ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9a8dfdb0-a71a-4ff4-8579-9a0708792d04?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 408.56909ms
[...]
