---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: "{\"id\":\"8d665e1b-6e97-4f05-be38-2dee4dd2d939\",\"ip_address\":\"51.158.216.202\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-158-216-202.lb.nl-ams.scw.cloud\",\"tags\":[],\"region\":\"nl-ams\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.016705ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/8d665e1b-6e97-4f05-be38-2dee4dd2d939
    method: GET
  response:
    body: "{\"id\":\"8d665e1b-6e97-4f05-be38-2dee4dd2d939\",\"ip_address\":\"51.158.216.202\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-158-216-202.lb.nl-ams.scw.cloud\",\"tags\":[],\"region\":\"nl-ams\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.230356ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-9-195.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.925299ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5
    method: GET
  response:
    body: "{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-159-9-195.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 69.29681ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-with-release-ip\",\"description\":\"\",\"ip_id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_ids\":[],\"tags\":null,\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"c0daf597-db07-4aa4-bfef-9b3b71cdd19b\",\"name\":\"test-lb-with-release-ip\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"c0daf597-db07-4aa4-bfef-9b3b71cdd19b\",\"reverse\":\"myreverse.com\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:58.755948724Z\",\"updated_at\":\"2025-09-01T15:25:58.755948724Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 319.569357ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c0daf597-db07-4aa4-bfef-9b3b71cdd19b
    method: GET
  response:
    body: "{\"id\":\"c0daf597-db07-4aa4-bfef-9b3b71cdd19b\",\"name\":\"test-lb-with-release-ip\",\"description\":\"\",\"status\":\"creating\",\"instances\":[{\"id\":\"da43ab37-36d5-42db-bd01-0b7d074ed1cc\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T13:16:19.956310Z\",\"updated_at\":\"2025-09-01T15:25:59.004899Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c766ef13-e16e-4c5f-8967-ce5fcbcfb8b5\",\"ip_address\":\"51.159.9.195\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"c0daf597-db07-4aa4-bfef-9b3b71cdd19b\",\"reverse\":\"myreverse.com\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:58.755949Z\",\"updated_at\":\"2025-09-01T15:25:59.010995Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.403856ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c0daf597-db07-4aa4-bfef-9b3b71cdd19b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.989698ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c0daf597-db07-4aa4-bfef-9b3b71cdd19b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 459.690911ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c0daf597-db07-4aa4-bfef-9b3b71cdd19b
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.278036ms
[...]
