---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"id":"8e320436-dfa9-4777-8cd3-a32481b01bdf","ip_address":"51.158.184.252","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-184-252.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.959892ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/nl-ams-1/ips/8e320436-dfa9-4777-8cd3-a32481b01bdf
        method: GET
      response:
        body: '{"id":"8e320436-dfa9-4777-8cd3-a32481b01bdf","ip_address":"51.158.184.252","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","reverse":"51-158-184-252.lb.nl-ams.scw.cloud","tags":[],"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.384045ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"a7ccd21d-2acb-470f-9ce7-4bb506a2aceb","ip_address":"51.15.251.114","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-251-114.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.930607ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a7ccd21d-2acb-470f-9ce7-4bb506a2aceb
        method: GET
      response:
        body: '{"id":"a7ccd21d-2acb-470f-9ce7-4bb506a2aceb","ip_address":"51.15.251.114","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-251-114.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.221711ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-release-ip","description":"","ip_id":"a7ccd21d-2acb-470f-9ce7-4bb506a2aceb","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:50.699624193Z","description":"","frontend_count":0,"id":"af2c2603-b9e6-4f65-90d7-9912ea91d178","instances":[],"ip":[{"id":"a7ccd21d-2acb-470f-9ce7-4bb506a2aceb","ip_address":"51.15.251.114","lb_id":"af2c2603-b9e6-4f65-90d7-9912ea91d178","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"myreverse.com","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-release-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:50.699624193Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.649953ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/af2c2603-b9e6-4f65-90d7-9912ea91d178
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:50.699624Z","description":"","frontend_count":0,"id":"af2c2603-b9e6-4f65-90d7-9912ea91d178","instances":[{"created_at":"2026-07-21T10:17:48.594321Z","id":"c7965ce8-2440-4582-b1c5-ec8899863b18","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:18:50.899051Z","zone":"fr-par-1"}],"ip":[{"id":"a7ccd21d-2acb-470f-9ce7-4bb506a2aceb","ip_address":"51.15.251.114","lb_id":"af2c2603-b9e6-4f65-90d7-9912ea91d178","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"myreverse.com","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-release-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:50.906654Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.659137ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/af2c2603-b9e6-4f65-90d7-9912ea91d178/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.835563ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/af2c2603-b9e6-4f65-90d7-9912ea91d178?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 257.671326ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/af2c2603-b9e6-4f65-90d7-9912ea91d178
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.740292ms
[...]
