---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"3c2abc10-c9b9-43c1-9c42-6ace1b41a137","ip_address":"2001:bc8:710:37::","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.7.3.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.408063ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3c2abc10-c9b9-43c1-9c42-6ace1b41a137
        method: GET
      response:
        body: '{"id":"3c2abc10-c9b9-43c1-9c42-6ace1b41a137","ip_address":"2001:bc8:710:37::","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.7.3.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.476565ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3c2abc10-c9b9-43c1-9c42-6ace1b41a137
        method: GET
      response:
        body: '{"message":"ips not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.029373ms
