---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[\"terraform-test\",\"lb\",\"ip\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[\"terraform-test\",\"lb\",\"ip\"],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.849458ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/91e1f29d-f4e7-4670-8183-8e3ac50c9793
    method: GET
  response:
    body: "{\"id\":\"91e1f29d-f4e7-4670-8183-8e3ac50c9793\",\"ip_address\":\"195.154.75.111\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-111.lb.fr-par.scw.cloud\",\"tags\":[\"terraform-test\",\"lb\",\"ip\"],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.329695ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/91e1f29d-f4e7-4670-8183-8e3ac50c9793
    method: GET
  response:
    body: "{\"message\":\"ips not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.142827ms
