---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-assigned-ips","description":"a description","assign_flexible_ip":true,"assign_flexible_ipv6":true,"ip_ids":[],"tags":["basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:49.526464884Z","description":"a description","frontend_count":0,"id":"124034ae-f6b6-4492-8695-219b03d4e1eb","instances":[],"ip":[{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.158.56.212","lb_id":"124034ae-f6b6-4492-8695-219b03d4e1eb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-212.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"},{"id":"3ddc7fdf-9f71-4914-bfed-5ab003865654","ip_address":"2001:bc8:710:228d::","lb_id":"124034ae-f6b6-4492-8695-219b03d4e1eb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.d.8.2.2.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-assigned-ips","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2025-01-24T14:11:49.526464884Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.180708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/124034ae-f6b6-4492-8695-219b03d4e1eb
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:49.526465Z","description":"a description","frontend_count":0,"id":"124034ae-f6b6-4492-8695-219b03d4e1eb","instances":[],"ip":[{"id":"b9dceb0e-4055-4193-b36b-146e8ccd2552","ip_address":"51.15[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/124034ae-f6b6-4492-8695-219b03d4e1eb/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.846416ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/124034ae-f6b6-4492-8695-219b03d4e1eb?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 365.211ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/124034ae-f6b6-4492-8695-219b03d4e1eb
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.319042ms
[...]
