---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-assigned-ips","description":"a description","assign_flexible_ip":true,"assign_flexible_ipv6":true,"ip_ids":[],"tags":["basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2024-04-04T15:25:09.480601857Z","description":"a description","frontend_count":0,"id":"d5b30d30-92a6-48c5-bee2-cca9ac42a740","instances":[],"ip":[{"id":"7014c270-df40-4d4d-9e56-0912f5aa2bc0","ip_address":"51.159.26.245","lb_id":"d5b30d30-92a6-48c5-bee2-cca9ac42a740","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-245.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"3c04f2ae-e1ee-490f-ba03-1666e1048368","ip_address":"2001:bc8:710:35::","lb_id":"d5b30d30-92a6-48c5-bee2-cca9ac42a740","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.5.3.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-assigned-ips","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2024-04-04T15:25:09.480601857Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.505675ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d5b30d30-92a6-48c5-bee2-cca9ac42a740
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2024-04-04T15:25:09.480602Z","description":"a description","frontend_count":0,"id":"d5b30d30-92a6-48c5-bee2-cca9ac42a740","instances":[],"ip":[{"id":"7014c270-df40-4d4d-9e56-0912f5aa2bc0","ip_address":"51.15[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d5b30d30-92a6-48c5-bee2-cca9ac42a740/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.278354ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d5b30d30-92a6-48c5-bee2-cca9ac42a740?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 299.391211ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d5b30d30-92a6-48c5-bee2-cca9ac42a740
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.927886ms
[...]
