---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-assigned-ips","description":"a description","assign_flexible_ip":true,"assign_flexible_ipv6":true,"ip_ids":[],"tags":["basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:19:52.872573520Z","description":"a description","frontend_count":0,"id":"68f79fc3-ee4a-4cea-942e-fa21bcfb8d68","instances":[],"ip":[{"id":"b10c27d1-cd18-47c4-a2f8-a202ae9d0568","ip_address":"51.158.77.80","lb_id":"68f79fc3-ee4a-4cea-942e-fa21bcfb8d68","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-77-80.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"},{"id":"944f12a1-b9c9-41b5-941d-1e7e42985a19","ip_address":"2001:bc8:710:59::","lb_id":"68f79fc3-ee4a-4cea-942e-fa21bcfb8d68","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.9.5.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-assigned-ips","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2026-07-21T10:19:52.872573520Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 528.996172ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/68f79fc3-ee4a-4cea-942e-fa21bcfb8d68
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:19:52.872574Z","description":"a description","frontend_count":0,"id":"68f79fc3-ee4a-4cea-942e-fa21bcfb8d68","instances":[{"created_at":"2026-07-21T10:18:58.672329Z","id":"f07faf7f-804c-4f6d-9d7[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/68f79fc3-ee4a-4cea-942e-fa21bcfb8d68/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.746114ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/68f79fc3-ee4a-4cea-942e-fa21bcfb8d68?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 287.016609ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/68f79fc3-ee4a-4cea-942e-fa21bcfb8d68
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.504717ms
[...]
