---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-assigned-ips\",\"description\":\"a description\",\"assign_flexible_ip\":true,\"assign_flexible_ipv6\":true,\"ip_ids\":[],\"tags\":[\"basic\"],\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"8e1ca61f-612b-40ed-9528-bfb817352d4f\",\"name\":\"test-lb-assigned-ips\",\"description\":\"a description\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c2438375-a660-4572-a27a-9cef48cb1dbc\",\"ip_address\":\"51.159.25.150\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"8e1ca61f-612b-40ed-9528-bfb817352d4f\",\"reverse\":\"51-159-25-150.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},{\"id\":\"5e4c7a66-a05e-4680-9c16-2f898c7b490e\",\"ip_address\":\"2001:bc8:710:351::\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"8e1ca61f-612b-40ed-9528-bfb817352d4f\",\"reverse\":\"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.5.3.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[\"basic\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.090003203Z\",\"updated_at\":\"2025-09-01T15:25:44.090003203Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 432.805901ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e1ca61f-612b-40ed-9528-bfb817352d4f
    method: GET
  response:
    body: "{\"id\":\"8e1ca61f-612b-40ed-9528-bfb817352d4f\",\"name\":\"test-lb-assigned-ips\",\"description\":\"a description\",\"status\":\"creating\",\"instances\":[{\"id\":\"a6ee3562-6872-44ad-99b3-faeb2cfbcdd8\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:09:00.032075Z\",\"updated_a[...]
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e1ca61f-612b-40ed-9528-bfb817352d4f/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.642483ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e1ca61f-612b-40ed-9528-bfb817352d4f?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 492.468888ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e1ca61f-612b-40ed-9528-bfb817352d4f
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.917332ms
[...]
