---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"12d4d208-3e1e-4f02-b42d-2522b0e75da4\",\"ip_address\":\"195.154.72.176\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-72-176.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.175789ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/12d4d208-3e1e-4f02-b42d-2522b0e75da4
    method: GET
  response:
    body: "{\"id\":\"12d4d208-3e1e-4f02-b42d-2522b0e75da4\",\"ip_address\":\"195.154.72.176\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-72-176.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.169996ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-basic\",\"description\":\"a description\",\"ip_id\":\"12d4d208-3e1e-4f02-b42d-2522b0e75da4\",\"ip_ids\":[],\"tags\":[\"basic\"],\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"fa449a56-0822-4bc4-8824-ae2ad5fb5018\",\"name\":\"test-lb-basic\",\"description\":\"a description\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"12d4d208-3e1e-4f02-b42d-2522b0e75da4\",\"ip_address\":\"195.154.72.176\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fa449a56-0822-4bc4-8824-ae2ad5fb5018\",\"reverse\":\"195-154-72-176.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[\"basic\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:28:15.295175401Z\",\"updated_at\":\"2025-09-01T15:28:15.295175401Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 465.691056ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa449a56-0822-4bc4-8824-ae2ad5fb5018
    method: GET
  response:
    body: "{\"id\":\"fa449a56-0822-4bc4-8824-ae2ad5fb5018\",\"name\":\"test-lb-basic\",\"description\":\"a description\",\"status\":\"creating\",\"instances\":[{\"id\":\"c296102f-7c9b-4edc-81d3-e38ccb09a5d3\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:27:19.846504Z\",\"updated_at\":\"2[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa449a56-0822-4bc4-8824-ae2ad5fb5018/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.119873ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa449a56-0822-4bc4-8824-ae2ad5fb5018?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 452.275489ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fa449a56-0822-4bc4-8824-ae2ad5fb5018
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.683865ms
[...]
