---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips
        method: POST
      response:
        body: '{"id":"7a60b124-55b2-4fa5-ac5b-af3de0ba0376","ip_address":"51.159.182.163","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-182-163.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.772298ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips/7a60b124-55b2-4fa5-ac5b-af3de0ba0376
        method: GET
      response:
        body: '{"id":"7a60b124-55b2-4fa5-ac5b-af3de0ba0376","ip_address":"51.159.182.163","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-182-163.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.890849ms
[...]
