---
version: 2
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-113-101.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f83d83d1-cedb-41cf-9da7-2fc655bbef4b
    method: GET
  response:
    body: '{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-113-101.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"pn-with-lb-to-static","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T14:18:26.521911Z","dhcp_enabled":true,"id":"ae92d2fc-76fa-456b-8d09-39314e8c12ea","name":"pn-with-lb-to-static","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-20T14:18:26.521911Z","id":"3541405b-096a-4f5a-8d62-0d0dadf2e62b","subnet":"172.16.120.0/22","updated_at":"2023-10-20T14:18:26.521911Z"},{"created_at":"2023-10-20T14:18:26.521911Z","id":"3d294c2a-ca89-405a-9c11-44693a1cb257","subnet":"fd5f:519c:6d46:b50::/64","updated_at":"2023-10-20T14:18:26.521911Z"}],"tags":[],"updated_at":"2023-10-20T14:18:26.521911Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ae92d2fc-76fa-456b-8d09-39314e8c12ea
    method: GET
  response:
    body: '{"created_at":"2023-10-20T14:18:26.521911Z","dhcp_enabled":true,"id":"ae92d2fc-76fa-456b-8d09-39314e8c12ea","name":"pn-with-lb-to-static","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-20T14:18:26.521911Z","id":"3541405b-096a-4f5a-8d62-0d0dadf2e62b","subnet":"172.16.120.0/22","updated_at":"2023-10-20T14:18:26.521911Z"},{"created_at":"2023-10-20T14:18:26.521911Z","id":"3d294c2a-ca89-405a-9c11-44693a1cb257","subnet":"fd5f:519c:6d46:b50::/64","updated_at":"2023-10-20T14:18:26.521911Z"}],"tags":[],"updated_at":"2023-10-20T14:18:26.521911Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
