---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.250416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ebce515e-59f3-472d-89fc-205eaac8106d
        method: GET
      response:
        body: '{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.46125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-migration","description":"","ip_id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_ids":[],"tags":["basic","tag2"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:23.287936285Z","description":"","frontend_count":0,"id":"919275fc-be9d-42b1-b5b4-ac6f8e741da5","instances":[],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"919275fc-be9d-42b1-b5b4-ac6f8e741da5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-migration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic","tag2"],"type":"lb-s","updated_at":"2025-01-24T14:11:23.287936285Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.233292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/919275fc-be9d-42b1-b5b4-ac6f8e741da5
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:23.287936Z","description":"","frontend_count":0,"id":"919275fc-be9d-42b1-b5b4-ac6f8e741da5","instances":[],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"919275fc-be9d-42b1-b5b4-ac6f8e741da5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-migration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic","tag2"],"type":"lb-s","updated_at":"2025-01-24T14:11:23.287936Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.077417ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/919275fc-be9d-42b1-b5b4-ac6f8e741da5/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.36675ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"type":"LB-GP-M"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/919275fc-be9d-42b1-b5b4-ac6f8e741da5/migrate
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:23.287936Z","description":"","frontend_count":0,"id":"919275fc-be9d-42b1-b5b4-ac6f8e741da5","instance[...]
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/919275fc-be9d-42b1-b5b4-ac6f8e741da5?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 360.833209ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/919275fc-be9d-42b1-b5b4-ac6f8e741da5
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.641583ms
[...]
