---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"b8fc97ba-e2ac-44f7-a64b-f8e4304579aa\",\"ip_address\":\"62.210.39.215\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-39-215.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 245.695208ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b8fc97ba-e2ac-44f7-a64b-f8e4304579aa
    method: GET
  response:
    body: "{\"id\":\"b8fc97ba-e2ac-44f7-a64b-f8e4304579aa\",\"ip_address\":\"62.210.39.215\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-39-215.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.576826ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-migration\",\"description\":\"\",\"ip_id\":\"b8fc97ba-e2ac-44f7-a64b-f8e4304579aa\",\"ip_ids\":[],\"tags\":[\"basic\",\"tag2\"],\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"a771c9eb-9d6b-430d-b0c0-7d07c3aadc66\",\"name\":\"test-lb-migration\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b8fc97ba-e2ac-44f7-a64b-f8e4304579aa\",\"ip_address\":\"62.210.39.215\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"a771c9eb-9d6b-430d-b0c0-7d07c3aadc66\",\"reverse\":\"62-210-39-215.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[\"basic\",\"tag2\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.364692670Z\",\"updated_at\":\"2025-09-01T15:25:44.364692670Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 417.400366ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a771c9eb-9d6b-430d-b0c0-7d07c3aadc66
    method: GET
  response:
    body: "{\"id\":\"a771c9eb-9d6b-430d-b0c0-7d07c3aadc66\",\"name\":\"test-lb-migration\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"b8fc97ba-e2ac-44f7-a64b-f8e4304579aa\",\"ip_address\":\"62.210.39.215\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"a771c9eb-9d6b-430d-b0c0-7d07c3aadc66\",\"reverse\":\"62-210-39-215.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[\"basic\",\"tag2\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.364693Z\",\"updated_at\":\"2025-09-01T15:25:44.364693Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.625507ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a771c9eb-9d6b-430d-b0c0-7d07c3aadc66/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.797591ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"type\":\"LB-GP-M\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a771c9eb-9d6b-430d-b0c0-7d07c3aadc66/migrate
    method: POST
  response:
    body: "{\"id\":\"a771c9eb-9d6b-430d-b0c0-7d07c3aadc66\",\"name\":\"test-lb-migrate-lb-gp-m\",\"description\":\"\",\"status\":\"migrating\",\"instances\":[{\"id\":\"93c81be7-e389-4aab-82b2-e2608113bb81\",\"status\":\"ready\"[...]
[...]
- id: 60
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a771c9eb-9d6b-430d-b0c0-7d07c3aadc66?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 587.564962ms
[...]
- id: 62
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a771c9eb-9d6b-430d-b0c0-7d07c3aadc66
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.091705ms
[...]
