---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f13ffae4-4963-4f0e-95ef-3c939c988f7e
    method: GET
  response:
    body: '{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-migration","description":"","ip_id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","assign_flexible_ip":null,"tags":["basic","tag2"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:41:19.161590177Z","description":"","frontend_count":0,"id":"b3aa26af-f531-4260-bba9-2a2bdd3a6d24","instances":[],"ip":[{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":"b3aa26af-f531-4260-bba9-2a2bdd3a6d24","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-migration","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic","tag2"],"type":"lb-s","updated_at":"2023-09-19T14:41:19.161590177Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3aa26af-f531-4260-bba9-2a2bdd3a6d24
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:41:19.161590Z","description":"","frontend_count":0,"id":"b3aa26af-f531-4260-bba9-2a2bdd3a6d24","instances":[],"ip":[{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":"b3aa26af-f531-4260-bba9-2a2bdd3a6d24","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-migration","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic","tag2"],"type":"lb-s","updated_at":"2023-09-19T14:41:19.161590Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3aa26af-f531-4260-bba9-2a2bdd3a6d24/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"type":"LB-GP-M"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3aa26af-f531-4260-bba9-2a2bdd3a6d24/migrate
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:41:19.161590Z","description":"","frontend_count":0,"id":"b3aa26af-f531-4260-bba9-2a2bdd3a6d24","instances":[{"created_at":"2023-09-19T14:22:17.370379Z","id":"5c65d408-27b9-47e8-81f9-19c37c13cd4d","ip_address":"","region":"fr-par","status":"ready","updated_at":"2023-09-19T14:41:23.457738Z","zone":"fr-par-1"}],"ip":[{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":"b3aa26af-f531-4260-bba9-2a2bdd3a6d24","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-migrate-lb-gp-m","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"migrating","subscriber":null,"tags":["migration"],"type":"lb-s","updated_at":"2023-09-19T14:41:51.637341950Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3aa26af-f531-4260-bba9-2a2bdd3a6d24?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3aa26af-f531-4260-bba9-2a2bdd3a6d24
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
