---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.668625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3db2c29c-5414-4fa9-9b74-2f6e33a4aac0
        method: GET
      response:
        body: '{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.602255ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-migration","description":"","ip_id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_ids":[],"tags":["basic","tag2"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.974754588Z","description":"","frontend_count":0,"id":"8f885087-5130-4b56-9731-1b9a88ed459b","instances":[],"ip":[{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":"8f885087-5130-4b56-9731-1b9a88ed459b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-migration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic","tag2"],"type":"lb-s","updated_at":"2026-07-21T10:16:28.974754588Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 373.471722ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8f885087-5130-4b56-9731-1b9a88ed459b
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.974755Z","description":"","frontend_count":0,"id":"8f885087-5130-4b56-9731-1b9a88ed459b","instances":[{"created_at":"2026-07-21T10:13:58.587927Z","id":"ed35150a-c282-4566-8ba6-7ec7dad674b8","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:16:29.179629Z","zone":"fr-par-1"}],"ip":[{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":"8f885087-5130-4b56-9731-1b9a88ed459b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-migration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":["basic","tag2"],"type":"lb-s","updated_at":"2026-07-21T10:16:29.186726Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.94486ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8f885087-5130-4b56-9731-1b9a88ed459b/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.714539ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"type":"LB-GP-M"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8f885087-5130-4b56-9731-1b9a88ed459b/migrate
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.974755Z","description":"","frontend_count":0,"id":"8f885087-5130-4b56-9731-1b9a88ed459b","instance[...]
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8f885087-5130-4b56-9731-1b9a88ed459b?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 339.155435ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8f885087-5130-4b56-9731-1b9a88ed459b
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.721747ms
[...]
