---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-02-24T08:58:14.773597Z","custom_routes_propagation_enabled":true,"id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-24T08:58:14.773597Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.464209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2
        method: GET
      response:
        body: '{"created_at":"2026-02-24T08:58:14.773597Z","custom_routes_propagation_enabled":true,"id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-02-24T08:58:14.773597Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.901583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-private-network","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-24T08:58:14.820663278Z","description":"","frontend_count":0,"id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","instances":[],"ip":[{"id":"7a19b7fa-815a-49b1-8df0-75a52b793400","ip_address":"51.158.69.92","lb_id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-69-92.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-24T08:58:14.820663278Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 421.168375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/22d60bd4-30ae-4a4a-9782-6be8d76fcd3b
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-24T08:58:14.820663Z","description":"","frontend_count":0,"id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","instances":[{"created_at":"2026-02-24T08:56:43.764836Z","id":"6217a3ea-7236-4c51-a64a-1902e0be864e","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-24T08:58:15.012956Z","zone":"fr-par-1"}],"ip":[{"id":"7a19b7fa-815a-49b1-8df0-75a52b793400","ip_address":"51.158.69.92","lb_id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-69-92.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-24T08:58:15.019238Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.799083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-nice-hugle","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-02-24T08:58:14.920072Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","name":"tf-pn-nice-hugle","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-24T08:58:14.920072Z","id":"a8747245-ae8c-494d-a42e-b8415ab091e5","private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2026-02-24T08:58:14.920072Z","vpc_id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2"},{"created_at":"2026-02-24T08:58:14.920072Z","id":"0efee844-07ac-4701-a8f5-cb939a99d6df","private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:248e::/64","updated_at":"2026-02-24T08:58:14.920072Z","vpc_id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2"}],"tags":[],"updated_at":"2026-02-24T08:58:14.920072Z","vpc_id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 707.817ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/93e338ed-c96c-485f-a8ea-a10bc7dfd2bf
        method: GET
      response:
        body: '{"created_at":"2026-02-24T08:58:14.920072Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","name":"tf-pn-nice-hugle","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-02-24T08:58:14.920072Z","id":"a8747245-ae8c-494d-a42e-b8415ab091e5","private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2026-02-24T08:58:14.920072Z","vpc_id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2"},{"created_at":"2026-02-24T08:58:14.920072Z","id":"0efee844-07ac-4701-a8f5-cb939a99d6df","private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:248e::/64","updated_at":"2026-02-24T08:58:14.920072Z","vpc_id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2"}],"tags":[],"updated_at":"2026-02-24T08:58:14.920072Z","vpc_id":"aef8dbe0-b24b-4e4a-8133-6bf0e47f19c2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.165042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-02-24T08:58:15.772846Z","id":"18841249-bff6-4f4f-95a4-4ff0e0cac339","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a8747245-ae8c-494d-a42e-b8415ab091e5"},"tags":[],"updated_at":"2026-02-24T08:58:15.772846Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.627333ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/18841249-bff6-4f4f-95a4-4ff0e0cac339
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-02-24T08:58:15.772846Z","id":"18841249-bff6-4f4f-95a4-4ff0e0cac339","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a8747245-ae8c-494d-a42e-b8415ab091e5"},"tags":[],"updated_at":"2026-02-24T08:58:15.772846Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.835333ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/22d60bd4-30ae-4a4a-9782-6be8d76fcd3b/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.085375ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","ipam_ids":["18841249-bff6-4f4f-95a4-4ff0e0cac339"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/22d60bd4-30ae-4a4a-9782-6be8d76fcd3b/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-02-24T08:58:45.909811394Z","dhcp_config":{"ip_id":"18841249-bff6-4f4f-95a4-4ff0e0cac339"},"ipam_ids":["18841249-bff6-4f4f-95a4-4ff0e0cac339"],"lb":{"backend_count":0,"created_at":"2026-02-24T08:58:14.820663Z","description":"","frontend_count":0,"id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","instances":[{"created_at":"2026-02-24T08:56:43.764836Z","id":"6217a3ea-7236-4c51-a64a-1902e0be864e","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-02-24T08:58:16.372298Z","zone":"fr-par-1"}],"ip":[{"id":"7a19b7fa-815a-49b1-8df0-75a52b793400","ip_address":"51.158.69.92","lb_id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-69-92.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-24T08:58:17.475045Z","zone":"fr-par-1"},"private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","status":"pending","updated_at":"2026-02-24T08:58:45.909811394Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.692875ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/18841249-bff6-4f4f-95a4-4ff0e0cac339
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-02-24T08:58:15.772846Z","id":"18841249-bff6-4f4f-95a4-4ff0e0cac339","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","mac_address":"02:00:00:16:E6:F4","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"a8747245-ae8c-494d-a42e-b8415ab091e5"},"tags":[],"updated_at":"2026-02-24T08:58:46.468289Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.4135ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=93e338ed-c96c-485f-a8ea-a10bc7dfd2bf&resource_id=22d60bd4-30ae-4a4a-9782-6be8d76fcd3b&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2026-02-24T08:58:15.772846Z","id":"18841249-bff6-4f4f-95a4-4ff0e0cac339","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"22d60bd4-30ae-4a4a-9782-6be8d76fcd3b","mac_address":"02:00:00:16:E6:F4","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"a8747245-ae8c-494d-a42e-b8415ab091e5"},"tags":[],"updated_at":"2026-02-24T08:58:46.468289Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.845792ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/22d60bd4-30ae-4a4a-9782-6be8d76fcd3b/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 222.922167ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/22d60bd4-30ae-4a4a-9782-6be8d76fcd3b?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 217.531583ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/22d60bd4-30ae-4a4a-9782-6be8d76fcd3b
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.858917ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/93e338ed-c96c-485f-a8ea-a10bc7dfd2bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"93e338ed-c96c-485f-a8ea-a10bc7dfd2bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.333166ms
[...]
