---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-basic","description":"a description","assign_flexible_ip":false,"ip_ids":[],"tags":["basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.836715336Z","description":"a description","frontend_count":0,"id":"dcd17553-d3a0-4074-8b8b-87e2c5e604f5","instances":[],"ip":[],"name":"test-lb-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2025-01-24T14:08:50.836715336Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.425042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dcd17553-d3a0-4074-8b8b-87e2c5e604f5
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.836715Z","description":"a description","frontend_count":0,"id":"dcd17553-d3a0-4074-8b8b-87e2c5e604f5","instances":[],"ip":[],"name":"test-lb-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2025-01-24T14:08:50.836715Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.552959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dcd17553-d3a0-4074-8b8b-87e2c5e604f5
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.836715Z","description":"a description","frontend_count":0,"id":"dcd17553-d3a0-4074-8b8b-87e2c5e604f5","instances":[{"created_at":"2025-01-10T01:05:30.474437Z","id":"4ca500f5-83e7-4190-9cb4-67828ca59a80","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-01-24T14:09:03.276648Z","zone":"fr-par-1"}],"ip":[],"name":"test-lb-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2025-01-24T14:09:12.018008Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.904084ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dcd17553-d3a0-4074-8b8b-87e2c5e604f5/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.315334ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dcd17553-d3a0-4074-8b8b-87e2c5e604f5?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 257.998459ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dcd17553-d3a0-4074-8b8b-87e2c5e604f5
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.296834ms
[...]
