---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-11T12:45:13.313974Z","custom_routes_propagation_enabled":true,"id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-11T12:45:13.313974Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.301333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7b62f0f9-c718-460f-b3e1-fa09c73afe38
        method: GET
      response:
        body: '{"created_at":"2025-09-11T12:45:13.313974Z","custom_routes_propagation_enabled":true,"id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-11T12:45:13.313974Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.986917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-private-network","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-09-11T12:45:13.363219988Z","description":"","frontend_count":0,"id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","instances":[],"ip":[{"id":"295f252b-394b-42a5-9ffd-18295fe43ede","ip_address":"51.159.10.66","lb_id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-09-11T12:45:13.363219988Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 480.734917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5137f41e-d5a2-40f3-99bc-2ba876e20bb6
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-09-11T12:45:13.363220Z","description":"","frontend_count":0,"id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","instances":[],"ip":[{"id":"295f252b-394b-42a5-9ffd-18295fe43ede","ip_address":"51.159.10.66","lb_id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-09-11T12:45:13.363220Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.378042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-sharp-lichterman","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-11T12:45:13.465463Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","name":"tf-pn-sharp-lichterman","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-11T12:45:13.465463Z","id":"1f053730-9abc-4155-8044-0b581f90e7d9","private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-09-11T12:45:13.465463Z","vpc_id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38"},{"created_at":"2025-09-11T12:45:13.465463Z","id":"de672d7d-2c17-4996-a3b7-f7ad471ed101","private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6ebf::/64","updated_at":"2025-09-11T12:45:13.465463Z","vpc_id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38"}],"tags":[],"updated_at":"2025-09-11T12:45:13.465463Z","vpc_id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 580.105209ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d825cb56-c8cc-4c18-b878-0106efb67e7d
        method: GET
      response:
        body: '{"created_at":"2025-09-11T12:45:13.465463Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","name":"tf-pn-sharp-lichterman","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-11T12:45:13.465463Z","id":"1f053730-9abc-4155-8044-0b581f90e7d9","private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-09-11T12:45:13.465463Z","vpc_id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38"},{"created_at":"2025-09-11T12:45:13.465463Z","id":"de672d7d-2c17-4996-a3b7-f7ad471ed101","private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6ebf::/64","updated_at":"2025-09-11T12:45:13.465463Z","vpc_id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38"}],"tags":[],"updated_at":"2025-09-11T12:45:13.465463Z","vpc_id":"7b62f0f9-c718-460f-b3e1-fa09c73afe38"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.04775ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-09-11T12:45:14.212483Z","id":"df27792e-98a3-44be-9fe2-f633c15a56b0","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1f053730-9abc-4155-8044-0b581f90e7d9"},"tags":[],"updated_at":"2025-09-11T12:45:14.212483Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.303292ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/df27792e-98a3-44be-9fe2-f633c15a56b0
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-09-11T12:45:14.212483Z","id":"df27792e-98a3-44be-9fe2-f633c15a56b0","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1f053730-9abc-4155-8044-0b581f90e7d9"},"tags":[],"updated_at":"2025-09-11T12:45:14.212483Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.876959ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5137f41e-d5a2-40f3-99bc-2ba876e20bb6/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.68575ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","ipam_ids":["df27792e-98a3-44be-9fe2-f633c15a56b0"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5137f41e-d5a2-40f3-99bc-2ba876e20bb6/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-09-11T12:45:44.487409103Z","dhcp_config":{"ip_id":"df27792e-98a3-44be-9fe2-f633c15a56b0"},"ipam_ids":["df27792e-98a3-44be-9fe2-f633c15a56b0"],"lb":{"backend_count":0,"created_at":"2025-09-11T12:45:13.363220Z","description":"","frontend_count":0,"id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","instances":[{"created_at":"2025-09-11T12:29:49.856657Z","id":"03548d5b-270a-45bd-80be-ade2afb0606b","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-09-11T12:45:16.235496Z","zone":"fr-par-1"}],"ip":[{"id":"295f252b-394b-42a5-9ffd-18295fe43ede","ip_address":"51.159.10.66","lb_id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-09-11T12:45:17.866436Z","zone":"fr-par-1"},"private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d","status":"pending","updated_at":"2025-09-11T12:45:44.487409103Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 815.900458ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/df27792e-98a3-44be-9fe2-f633c15a56b0
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-09-11T12:45:14.212483Z","id":"df27792e-98a3-44be-9fe2-f633c15a56b0","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","mac_address":"02:00:00:15:1D:99","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"1f053730-9abc-4155-8044-0b581f90e7d9"},"tags":[],"updated_at":"2025-09-11T12:45:45.387570Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.799583ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d825cb56-c8cc-4c18-b878-0106efb67e7d&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-09-11T12:45:14.212483Z","id":"df27792e-98a3-44be-9fe2-f633c15a56b0","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"5137f41e-d5a2-40f3-99bc-2ba876e20bb6","mac_address":"02:00:00:15:1D:99","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"1f053730-9abc-4155-8044-0b581f90e7d9"},"tags":[],"updated_at":"2025-09-11T12:45:45.387570Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.376708ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"d825cb56-c8cc-4c18-b878-0106efb67e7d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5137f41e-d5a2-40f3-99bc-2ba876e20bb6/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 298.403875ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5137f41e-d5a2-40f3-99bc-2ba876e20bb6?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 335.512417ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5137f41e-d5a2-40f3-99bc-2ba876e20bb6
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.990541ms
[...]
