---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-11T09:42:50.027640Z","custom_routes_propagation_enabled":false,"id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-11T09:42:50.027640Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.144125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0
        method: GET
      response:
        body: '{"created_at":"2025-06-11T09:42:50.027640Z","custom_routes_propagation_enabled":false,"id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-11T09:42:50.027640Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.930834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-private-network","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-06-11T09:42:50.082451977Z","description":"","frontend_count":0,"id":"3bbd6941-24c4-4046-95d1-4d3f25347601","instances":[],"ip":[{"id":"693e546a-a973-465e-90af-969d6a0e38ba","ip_address":"195.154.197.181","lb_id":"3bbd6941-24c4-4046-95d1-4d3f25347601","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-181.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-11T09:42:50.082451977Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 483.772166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3bbd6941-24c4-4046-95d1-4d3f25347601
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-06-11T09:42:50.082452Z","description":"","frontend_count":0,"id":"3bbd6941-24c4-4046-95d1-4d3f25347601","instances":[],"ip":[{"id":"693e546a-a973-465e-90af-969d6a0e38ba","ip_address":"195.154.197.181","lb_id":"3bbd6941-24c4-4046-95d1-4d3f25347601","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-181.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-11T09:42:50.082452Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.037959ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-elastic-maxwell","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-11T09:42:50.150285Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","name":"tf-pn-elastic-maxwell","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-11T09:42:50.150285Z","id":"2c648193-742f-4b7e-8a44-d54afec2af6d","private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-11T09:42:50.150285Z","vpc_id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0"},{"created_at":"2025-06-11T09:42:50.150285Z","id":"f48e81d9-b363-4807-8ce3-6fa6882ebaf2","private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3985::/64","updated_at":"2025-06-11T09:42:50.150285Z","vpc_id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0"}],"tags":[],"updated_at":"2025-06-11T09:42:50.150285Z","vpc_id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.775208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a707c9d6-07c8-4b6e-979d-dfe31dff06aa
        method: GET
      response:
        body: '{"created_at":"2025-06-11T09:42:50.150285Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","name":"tf-pn-elastic-maxwell","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-11T09:42:50.150285Z","id":"2c648193-742f-4b7e-8a44-d54afec2af6d","private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-11T09:42:50.150285Z","vpc_id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0"},{"created_at":"2025-06-11T09:42:50.150285Z","id":"f48e81d9-b363-4807-8ce3-6fa6882ebaf2","private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3985::/64","updated_at":"2025-06-11T09:42:50.150285Z","vpc_id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0"}],"tags":[],"updated_at":"2025-06-11T09:42:50.150285Z","vpc_id":"9d0962ed-cf0d-46e4-a391-1b2fe0b5aef0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.080166ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-11T09:42:50.842758Z","id":"38c5c642-c701-4e85-9ed3-267dca8b1102","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"2c648193-742f-4b7e-8a44-d54afec2af6d"},"tags":[],"updated_at":"2025-06-11T09:42:50.842758Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.239875ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/38c5c642-c701-4e85-9ed3-267dca8b1102
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-11T09:42:50.842758Z","id":"38c5c642-c701-4e85-9ed3-267dca8b1102","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"2c648193-742f-4b7e-8a44-d54afec2af6d"},"tags":[],"updated_at":"2025-06-11T09:42:50.842758Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.455333ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3bbd6941-24c4-4046-95d1-4d3f25347601/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.592625ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","ipam_ids":["38c5c642-c701-4e85-9ed3-267dca8b1102"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3bbd6941-24c4-4046-95d1-4d3f25347601/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-06-11T09:43:20.960417107Z","dhcp_config":{"ip_id":"38c5c642-c701-4e85-9ed3-267dca8b1102"},"ipam_ids":["38c5c642-c701-4e85-9ed3-267dca8b1102"],"lb":{"backend_count":0,"created_at":"2025-06-11T09:42:50.082452Z","description":"","frontend_count":0,"id":"3bbd6941-24c4-4046-95d1-4d3f25347601","instances":[{"created_at":"2025-06-11T09:03:07.438458Z","id":"91418467-4ae9-4201-9d26-31aa2d10b2e5","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-06-11T09:42:52.276034Z","zone":"fr-par-1"}],"ip":[{"id":"693e546a-a973-465e-90af-969d6a0e38ba","ip_address":"195.154.197.181","lb_id":"3bbd6941-24c4-4046-95d1-4d3f25347601","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-181.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-11T09:42:53.491950Z","zone":"fr-par-1"},"private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa","status":"pending","updated_at":"2025-06-11T09:43:20.960417107Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 572.233583ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/38c5c642-c701-4e85-9ed3-267dca8b1102
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-11T09:42:50.842758Z","id":"38c5c642-c701-4e85-9ed3-267dca8b1102","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"3bbd6941-24c4-4046-95d1-4d3f25347601","mac_address":"02:00:00:12:42:56","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"2c648193-742f-4b7e-8a44-d54afec2af6d"},"tags":[],"updated_at":"2025-06-11T09:43:21.827966Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.7105ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a707c9d6-07c8-4b6e-979d-dfe31dff06aa&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-06-11T09:42:50.842758Z","id":"38c5c642-c701-4e85-9ed3-267dca8b1102","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"3bbd6941-24c4-4046-95d1-4d3f25347601","mac_address":"02:00:00:12:42:56","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"2c648193-742f-4b7e-8a44-d54afec2af6d"},"tags":[],"updated_at":"2025-06-11T09:43:21.827966Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.253791ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"a707c9d6-07c8-4b6e-979d-dfe31dff06aa"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3bbd6941-24c4-4046-95d1-4d3f25347601/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 311.0465ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3bbd6941-24c4-4046-95d1-4d3f25347601?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 259.934ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3bbd6941-24c4-4046-95d1-4d3f25347601
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.939375ms
[...]
