---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-basic","description":"a description","ip_ids":[],"tags":["basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:19:53.851510228Z","description":"a description","frontend_count":0,"id":"f39636c5-fc2f-4b25-922f-6f3517c4833a","instances":[],"ip":[{"id":"a7ccd21d-2acb-470f-9ce7-4bb506a2aceb","ip_address":"51.15.251.114","lb_id":"f39636c5-fc2f-4b25-922f-6f3517c4833a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-251-114.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2026-07-21T10:19:53.851510228Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.408447ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f39636c5-fc2f-4b25-922f-6f3517c4833a
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:19:53.851510Z","description":"a description","frontend_count":0,"id":"f39636c5-fc2f-4b25-922f-6f3517c4833a","instances":[{"created_at":"2026-07-21T10:18:58.659892Z","id":"69c59187-67a8-4850-989[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f39636c5-fc2f-4b25-922f-6f3517c4833a/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.968254ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f39636c5-fc2f-4b25-922f-6f3517c4833a?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 350.852224ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f39636c5-fc2f-4b25-922f-6f3517c4833a
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.924275ms
[...]
