---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:20:03.998005Z","custom_routes_propagation_enabled":true,"id":"8231a489-ea7c-4032-9124-589a80f0a0f7","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-21T10:20:03.998005Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.446628ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8231a489-ea7c-4032-9124-589a80f0a0f7
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:20:03.998005Z","custom_routes_propagation_enabled":true,"id":"8231a489-ea7c-4032-9124-589a80f0a0f7","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-21T10:20:03.998005Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.455918ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-private-network","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:04.148066571Z","description":"","frontend_count":0,"id":"46c80621-2079-4be1-969a-471392f6ac27","instances":[],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"46c80621-2079-4be1-969a-471392f6ac27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:04.148066571Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 528.384279ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46c80621-2079-4be1-969a-471392f6ac27
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:04.148067Z","description":"","frontend_count":0,"id":"46c80621-2079-4be1-969a-471392f6ac27","instances":[{"created_at":"2026-07-21T10:18:58.653841Z","id":"e1c1a549-9c98-4d19-b5c6-eac3605165bd","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:20:04.400520Z","zone":"fr-par-1"}],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"46c80621-2079-4be1-969a-471392f6ac27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:04.411367Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.104656ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-blissful-fermi","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"8231a489-ea7c-4032-9124-589a80f0a0f7","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:20:04.139186Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"925eac0c-4b14-4c81-b800-b83418e63593","name":"tf-pn-blissful-fermi","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-21T10:20:04.139186Z","id":"e5938e43-c746-4f99-ab3f-df59ad2dadfb","private_network_id":"925eac0c-4b14-4c81-b800-b83418e63593","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"172.16.32.0/22","updated_at":"2026-07-21T10:20:04.139186Z","vpc_id":"8231a489-ea7c-4032-9124-589a80f0a0f7"},{"created_at":"2026-07-21T10:20:04.139186Z","id":"11d035fe-b2f7-4455-8e1b-940b297f3ca6","private_network_id":"925eac0c-4b14-4c81-b800-b83418e63593","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:1347::/64","updated_at":"2026-07-21T10:20:04.139186Z","vpc_id":"8231a489-ea7c-4032-9124-589a80f0a0f7"}],"tags":[],"updated_at":"2026-07-21T10:20:04.139186Z","vpc_id":"8231a489-ea7c-4032-9124-589a80f0a0f7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 463.932264ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/925eac0c-4b14-4c81-b800-b83418e63593
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:20:04.139186Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"925eac0c-4b14-4c81-b800-b83418e63593","name":"tf-pn-blissful-fermi","organization_id":"105bdce1-64c0-48ab-899d-868[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"925eac0c-4b14-4c81-b800-b83418e63593"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-07-21T10:20:04.716144Z","id":"6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"e5938e43-c746-4f99-ab3f-df59ad2dadfb"},"tags":[],"updated_at":"2026-07-21T10:20:04.716144Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.970434ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-07-21T10:20:04.716144Z","id":"6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"e5938e43-c746-4f99-ab3f-df59ad2dadfb"},"tags":[],"updated_at":"2026-07-21T10:20:04.716144Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.098239ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46c80621-2079-4be1-969a-471392f6ac27/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.925954ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"925eac0c-4b14-4c81-b800-b83418e63593","ipam_ids":["6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46c80621-2079-4be1-969a-471392f6ac27/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:20:35.543233907Z","dhcp_config":{"ip_id":"6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf"},"ipam_ids":["6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf"],"lb":{"backend_count":0,"created_at":"2026-07-21T10:20:04.148067Z","description":"","frontend_count":0,"id":"46c80621-2079-4be1-969a-471392f6ac27","instances":[{"created_at":"2026-07-21T10:18:58.653841Z","id":"e1c1a549-9c98-4d19-b5c6-eac3605165bd","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-07-21T10:20:06.296183Z","zone":"fr-par-1"}],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"46c80621-2079-4be1-969a-471392f6ac27","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:07.755328Z","zone":"fr-par-1"},"private_network_id":"925eac0c-4b14-4c81-b800-b83418e63593","status":"pending","updated_at":"2026-07-21T10:20:35.543233907Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 870.389995ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-07-21T10:20:04.716144Z","id":"6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"46c80621-2079-4be1-969a-471392f6ac27","mac_address":"02:00:00:1E:73:65","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"e5938e43-c746-4f99-ab3f-df59ad2dadfb"},"tags":[],"updated_at":"2026-07-21T10:20:36.209953Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.215594ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=925eac0c-4b14-4c81-b800-b83418e63593&resource_id=46c80621-2079-4be1-969a-471392f6ac27&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2026-07-21T10:20:04.716144Z","id":"6f37ce50-98f4-4a8f-84ae-ef1e1b2f06bf","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"46c80621-2079-4be1-969a-471392f6ac27","mac_address":"02:00:00:1E:73:65","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"e5938e43-c746-4f99-ab3f-df59ad2dadfb"},"tags":[],"updated_at":"2026-07-21T10:20:36.209953Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.518818ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"925eac0c-4b14-4c81-b800-b83418e63593"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46c80621-2079-4be1-969a-471392f6ac27/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 679.653351ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46c80621-2079-4be1-969a-471392f6ac27?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 351.457087ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/46c80621-2079-4be1-969a-471392f6ac27
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.295938ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/925eac0c-4b14-4c81-b800-b83418e63593
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"925eac0c-4b14-4c81-b800-b83418e63593","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.024876ms
[...]
