---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-basic\",\"description\":\"a description\",\"assign_flexible_ip\":false,\"ip_ids\":[],\"tags\":[\"basic\"],\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"95a15847-ed78-44a2-8d87-d22636c1dadf\",\"name\":\"test-lb-basic\",\"description\":\"a description\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[],\"tags\":[\"basic\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.168536794Z\",\"updated_at\":\"2025-09-01T15:25:44.168536794Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 368.345483ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/95a15847-ed78-44a2-8d87-d22636c1dadf
    method: GET
  response:
    body: "{\"id\":\"95a15847-ed78-44a2-8d87-d22636c1dadf\",\"name\":\"test-lb-basic\",\"description\":\"a description\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[],\"tags\":[\"basic\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.168537Z\",\"updated_at\":\"2025-09-01T15:25:44.168537Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 124.799779ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/95a15847-ed78-44a2-8d87-d22636c1dadf
    method: GET
  response:
    body: "{\"id\":\"95a15847-ed78-44a2-8d87-d22636c1dadf\",\"name\":\"test-lb-basic\",\"description\":\"a description\",\"status\":\"ready\",\"instances\":[{\"id\":\"5099dbae-2bdd-4527-b039-e6a94f89bd73\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:09:09.882726Z\",\"updated_at\":\"2025-09-01T15:25:46.563788Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[],\"tags\":[\"basic\"],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.168537Z\",\"updated_at\":\"2025-09-01T15:25:48.346420Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.591002ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/95a15847-ed78-44a2-8d87-d22636c1dadf/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.197768ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/95a15847-ed78-44a2-8d87-d22636c1dadf?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 445.958965ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/95a15847-ed78-44a2-8d87-d22636c1dadf
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 19.842697ms
[...]
