---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-11-13T08:30:16.167966Z","custom_routes_propagation_enabled":true,"id":"b09847a5-7aef-4094-8577-6555ad502bcd","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-13T08:30:16.167966Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.259208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b09847a5-7aef-4094-8577-6555ad502bcd
        method: GET
      response:
        body: '{"created_at":"2025-11-13T08:30:16.167966Z","custom_routes_propagation_enabled":true,"id":"b09847a5-7aef-4094-8577-6555ad502bcd","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-13T08:30:16.167966Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.124917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-private-network","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-11-13T08:30:16.227661261Z","description":"","frontend_count":0,"id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","instances":[],"ip":[{"id":"93ece8b3-87e4-4c6c-a843-fff53bc59fd5","ip_address":"212.47.247.242","lb_id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-247-242.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-11-13T08:30:16.227661261Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.220083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0f3697c6-6062-4cf9-8589-a4b9196dc254
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-11-13T08:30:16.227661Z","description":"","frontend_count":0,"id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","instances":[{"created_at":"2025-11-13T08:29:21.758476Z","id":"2196a777-fe72-4c39-9aa0-d49ec833ea7e","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-11-13T08:30:16.505835Z","zone":"fr-par-1"}],"ip":[{"id":"93ece8b3-87e4-4c6c-a843-fff53bc59fd5","ip_address":"212.47.247.242","lb_id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-247-242.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-11-13T08:30:16.516573Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.0475ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-peaceful-allen","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"b09847a5-7aef-4094-8577-6555ad502bcd","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-13T08:30:16.357136Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"96507d6b-1872-408c-a11d-2da02881ec13","name":"tf-pn-peaceful-allen","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-13T08:30:16.357136Z","id":"89513aca-6c06-444d-bb05-15978d5ab242","private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-13T08:30:16.357136Z","vpc_id":"b09847a5-7aef-4094-8577-6555ad502bcd"},{"created_at":"2025-11-13T08:30:16.357136Z","id":"1be19094-395b-430f-8560-40700062de2f","private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ca94::/64","updated_at":"2025-11-13T08:30:16.357136Z","vpc_id":"b09847a5-7aef-4094-8577-6555ad502bcd"}],"tags":[],"updated_at":"2025-11-13T08:30:16.357136Z","vpc_id":"b09847a5-7aef-4094-8577-6555ad502bcd"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.638958ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/96507d6b-1872-408c-a11d-2da02881ec13
        method: GET
      response:
        body: '{"created_at":"2025-11-13T08:30:16.357136Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"96507d6b-1872-408c-a11d-2da02881ec13","name":"tf-pn-peaceful-allen","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-13T08:30:16.357136Z","id":"89513aca-6c06-444d-bb05-15978d5ab242","private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-13T08:30:16.357136Z","vpc_id":"b09847a5-7aef-4094-8577-6555ad502bcd"},{"created_at":"2025-11-13T08:30:16.357136Z","id":"1be19094-395b-430f-8560-40700062de2f","private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ca94::/64","updated_at":"2025-11-13T08:30:16.357136Z","vpc_id":"b09847a5-7aef-4094-8577-6555ad502bcd"}],"tags":[],"updated_at":"2025-11-13T08:30:16.357136Z","vpc_id":"b09847a5-7aef-4094-8577-6555ad502bcd"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.523125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-11-13T08:30:17.094370Z","id":"1fc774dc-b0e3-4b1f-b866-cce631f324c5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"89513aca-6c06-444d-bb05-15978d5ab242"},"tags":[],"updated_at":"2025-11-13T08:30:17.094370Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.366709ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/1fc774dc-b0e3-4b1f-b866-cce631f324c5
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-11-13T08:30:17.094370Z","id":"1fc774dc-b0e3-4b1f-b866-cce631f324c5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"89513aca-6c06-444d-bb05-15978d5ab242"},"tags":[],"updated_at":"2025-11-13T08:30:17.094370Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.96ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0f3697c6-6062-4cf9-8589-a4b9196dc254/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.315459ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13","ipam_ids":["1fc774dc-b0e3-4b1f-b866-cce631f324c5"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0f3697c6-6062-4cf9-8589-a4b9196dc254/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-11-13T08:30:47.405412930Z","dhcp_config":{"ip_id":"1fc774dc-b0e3-4b1f-b866-cce631f324c5"},"ipam_ids":["1fc774dc-b0e3-4b1f-b866-cce631f324c5"],"lb":{"backend_count":0,"created_at":"2025-11-13T08:30:16.227661Z","description":"","frontend_count":0,"id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","instances":[{"created_at":"2025-11-13T08:29:21.758476Z","id":"2196a777-fe72-4c39-9aa0-d49ec833ea7e","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-11-13T08:30:18.253538Z","zone":"fr-par-1"}],"ip":[{"id":"93ece8b3-87e4-4c6c-a843-fff53bc59fd5","ip_address":"212.47.247.242","lb_id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-247-242.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-11-13T08:30:19.390273Z","zone":"fr-par-1"},"private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13","status":"pending","updated_at":"2025-11-13T08:30:47.405412930Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 617.5245ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/1fc774dc-b0e3-4b1f-b866-cce631f324c5
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-11-13T08:30:17.094370Z","id":"1fc774dc-b0e3-4b1f-b866-cce631f324c5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","mac_address":"02:00:00:15:16:48","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"89513aca-6c06-444d-bb05-15978d5ab242"},"tags":[],"updated_at":"2025-11-13T08:30:48.063251Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.508208ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=96507d6b-1872-408c-a11d-2da02881ec13&resource_id=0f3697c6-6062-4cf9-8589-a4b9196dc254&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-11-13T08:30:17.094370Z","id":"1fc774dc-b0e3-4b1f-b866-cce631f324c5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"0f3697c6-6062-4cf9-8589-a4b9196dc254","mac_address":"02:00:00:15:16:48","name":"test-lb-private-network","type":"lb_server"},"reverses":[],"source":{"subnet_id":"89513aca-6c06-444d-bb05-15978d5ab242"},"tags":[],"updated_at":"2025-11-13T08:30:48.063251Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.743333ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"96507d6b-1872-408c-a11d-2da02881ec13"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0f3697c6-6062-4cf9-8589-a4b9196dc254/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 311.270916ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0f3697c6-6062-4cf9-8589-a4b9196dc254?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 371.386667ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0f3697c6-6062-4cf9-8589-a4b9196dc254
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.510208ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/96507d6b-1872-408c-a11d-2da02881ec13
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"96507d6b-1872-408c-a11d-2da02881ec13","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.926708ms
[...]
