---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"c70793c1-22c9-4214-9b83-fe69a410e096","ip_address":"163.172.167.229","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"163-172-167-229.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.236126ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c70793c1-22c9-4214-9b83-fe69a410e096
        method: GET
      response:
        body: '{"id":"c70793c1-22c9-4214-9b83-fe69a410e096","ip_address":"163.172.167.229","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"163-172-167-229.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.690734ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn-with-lb-static","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:20:02.074604Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"60b461e7-4c87-45fc-8948-decb8df952b1","name":"pn-with-lb-static","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-21T10:20:02.074604Z","id":"7a2f38da-8c73-46c2-91a6-3a80dcafa701","private_network_id":"60b461e7-4c87-45fc-8948-decb8df952b1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"172.31.216.0/22","updated_at":"2026-07-21T10:20:02.074604Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"},{"created_at":"2026-07-21T10:20:02.074604Z","id":"6d336c2e-e3e7-4d3c-8e40-32c1122a7026","private_network_id":"60b461e7-4c87-45fc-8948-decb8df952b1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:3152::/64","updated_at":"2026-07-21T10:20:02.074604Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}],"tags":[],"updated_at":"2026-07-21T10:20:02.074604Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 662.072365ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/60b461e7-4c87-45fc-8948-decb8df952b1
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:20:02.074604Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"60b461e7-4c87-45fc-8948-decb8df952b1","name":"pn-with-lb-static","organization_id":"105bdce1-64c0-48ab-899d-868455[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"c70793c1-22c9-4214-9b83-fe69a410e096","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:02.836748117Z","description":"","frontend_count":0,"id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","instances":[],"ip":[{"id":"c70793c1-22c9-4214-9b83-fe69a410e096","ip_address":"163.172.167.229","lb_id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"163-172-167-229.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:02.836748117Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.184217ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a3b138-7f39-46fe-bdcf-f5d360fe5f0d
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:02.836748Z","description":"","frontend_count":0,"id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","instances":[{"created_at":"2026-07-21T10:18:58.727832Z","id":"e2d9eb5b-4ed2-44f8-a53e-0844b77cf5e0","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:20:03.260358Z","zone":"fr-par-1"}],"ip":[{"id":"c70793c1-22c9-4214-9b83-fe69a410e096","ip_address":"163.172.167.229","lb_id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"163-172-167-229.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:03.269018Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.964575ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"60b461e7-4c87-45fc-8948-decb8df952b1","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a3b138-7f39-46fe-bdcf-f5d360fe5f0d/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:20:33.698767552Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-07-21T10:20:02.836748Z","description":"","frontend_count":0,"id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","instances":[{"created_at":"2026-07-21T10:18:58.727832Z","id":"e2d9eb5b-4ed2-44f8-a53e-0844b77cf5e0","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-07-21T10:20:05.393147Z","zone":"fr-par-1"}],"ip":[{"id":"c70793c1-22c9-4214-9b83-fe69a410e096","ip_address":"163.172.167.229","lb_id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"163-172-167-229.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:06.715419Z","zone":"fr-par-1"},"private_network_id":"60b461e7-4c87-45fc-8948-decb8df952b1","status":"pending","updated_at":"2026-07-21T10:20:33.698767552Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 624.999825ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a3b138-7f39-46fe-bdcf-f5d360fe5f0d/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2026-07-21T10:20:33.698768Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2026-07-21T10:20:02.836748Z","description":"","frontend_count":0,"id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","instances":[],"ip":[{"id":"c70793c1-22c9-4214-9b83-fe69a410e096","ip_address":"163.172.167.229","lb_id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"163-172-167-229.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:06.715419Z","zone":"fr-par-1"},"private_network_id":"60b461e7-4c87-45fc-8948-decb8df952b1","status":"pending","updated_at":"2026-07-21T10:20:33.698768Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.154055ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=60b461e7-4c87-45fc-8948-decb8df952b1&resource_id=67a3b138-7f39-46fe-bdcf-f5d360fe5f0d&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.31.216.2/22","created_at":"2026-07-21T10:20:34.267601Z","id":"5575091b-8e97-426c-ae15-03e828eb0b0e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"67a3b138-7f39-46fe-bdcf-f5d360fe5f0d","mac_address":"02:00:00:13:78:75","name":"test-lb-with-pn-static-cidr","type":"lb_server"},"reverses":[],"source":{"subnet_id":"7a2f38da-8c73-46c2-91a6-3a80dcafa701"},"tags":[],"updated_at":"2026-07-21T10:20:34.858458Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.975265ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"60b461e7-4c87-45fc-8948-decb8df952b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a3b138-7f39-46fe-bdcf-f5d360fe5f0d/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 438.417974ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a3b138-7f39-46fe-bdcf-f5d360fe5f0d?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 307.506772ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a3b138-7f39-46fe-bdcf-f5d360fe5f0d
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.067808ms
[...]
