---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:16:28.477327Z","custom_routes_propagation_enabled":true,"id":"3123d03e-1231-4456-b3a9-5930ebad4293","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-21T10:16:28.477327Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.944757ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3123d03e-1231-4456-b3a9-5930ebad4293
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:16:28.477327Z","custom_routes_propagation_enabled":true,"id":"3123d03e-1231-4456-b3a9-5930ebad4293","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-07-21T10:16:28.477327Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.341505ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-bold-sammet","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"3123d03e-1231-4456-b3a9-5930ebad4293","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:16:28.643966Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","name":"tf-pn-bold-sammet","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-07-21T10:16:28.643966Z","id":"8c8ecb80-61e6-4bd5-bf4c-ddd2efb8ed4b","private_network_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"172.16.32.0/22","updated_at":"2026-07-21T10:16:28.643966Z","vpc_id":"3123d03e-1231-4456-b3a9-5930ebad4293"},{"created_at":"2026-07-21T10:16:28.643966Z","id":"292d6545-5198-43f1-9d64-60a4eca6cecb","private_network_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:5cc6::/64","updated_at":"2026-07-21T10:16:28.643966Z","vpc_id":"3123d03e-1231-4456-b3a9-5930ebad4293"}],"tags":[],"updated_at":"2026-07-21T10:16:28.643966Z","vpc_id":"3123d03e-1231-4456-b3a9-5930ebad4293"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 551.369644ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/72f42432-cdd1-4dab-adc9-8fc049a257aa
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:16:28.643966Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","name":"tf-pn-bold-sammet","organization_id":"105bdce1-64c0-48ab-899d-868455[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-07-21T10:16:29.464023Z","id":"91ddecd5-c5c8-4ea1-95ec-2118bb60212e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8c8ecb80-61e6-4bd5-bf4c-ddd2efb8ed4b"},"tags":[],"updated_at":"2026-07-21T10:16:29.464023Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.819126ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/91ddecd5-c5c8-4ea1-95ec-2118bb60212e
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2026-07-21T10:16:29.464023Z","id":"91ddecd5-c5c8-4ea1-95ec-2118bb60212e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8c8ecb80-61e6-4bd5-bf4c-ddd2efb8ed4b"},"tags":[],"updated_at":"2026-07-21T10:16:29.464023Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.066357ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:29.712869167Z","description":"","frontend_count":0,"id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","instances":[],"ip":[{"id":"c2e25c99-774f-4420-9ec2-94ff327de629","ip_address":"212.47.236.100","lb_id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-236-100.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:29.712869167Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.12711ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/50e8b54a-c37a-4093-aad9-35d07d83e89a
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:29.712869Z","description":"","frontend_count":0,"id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","instances":[{"created_at":"2026-07-21T10:12:48.676277Z","id":"93582575-e033-4ff0-a714-90a8502ea6f[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","ipam_ids":["91ddecd5-c5c8-4ea1-95ec-2118bb60212e"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/50e8b54a-c37a-4093-aad9-35d07d83e89a/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:17:00.863042431Z","dhcp_config":{"ip_id":"91ddecd5-c5c8-4ea1-95ec-2118bb60212e"},"ipam_ids":["91ddecd5-c5c8-4ea1-95ec-2118bb60212e"],"lb":{"backend_count":0,"created_at":"2026-07-21T10:16:29.712869Z","description":"","frontend_count":0,"id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","instances":[{"created_at":"2026-07-21T10:12:48.676277Z","id":"93582575-e033-4ff0-a714-90a8502ea6f1","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-07-21T10:16:31.375136Z","zone":"fr-par-1"}],"ip":[{"id":"c2e25c99-774f-4420-9ec2-94ff327de629","ip_address":"212.47.236.100","lb_id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-236-100.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:32.354590Z","zone":"fr-par-1"},"private_network_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","status":"pending","updated_at":"2026-07-21T10:17:00.863042431Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.034804168s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/50e8b54a-c37a-4093-aad9-35d07d83e89a/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2026-07-21T10:17:00.863042Z","dhcp_config":{"ip_id":"91ddecd5-c5c8-4ea1-95ec-2118bb60212e"},"ipam_ids":["91ddecd5-c5c8-4ea1-95ec-2118bb60212e"],"lb":{"backend_count":0,"created_at":"2026-07-21T10:16:29.712869Z","description":"","frontend_count":0,"id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","instances":[],"ip":[{"id":"c2e25c99-774f-4420-9ec2-94ff327de629","ip_address":"212.47.236.100","lb_id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-236-100.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:32.354590Z","zone":"fr-par-1"},"private_network_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","status":"pending","updated_at":"2026-07-21T10:17:00.863042Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.079745ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=72f42432-cdd1-4dab-adc9-8fc049a257aa&resource_id=50e8b54a-c37a-4093-aad9-35d07d83e89a&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2026-07-21T10:16:29.464023Z","id":"91ddecd5-c5c8-4ea1-95ec-2118bb60212e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","mac_address":"02:00:00:15:17:8A","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"8c8ecb80-61e6-4bd5-bf4c-ddd2efb8ed4b"},"tags":[],"updated_at":"2026-07-21T10:17:01.832337Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.032363ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2026-07-21T10:16:29.464023Z","id":"91ddecd5-c5c8-4ea1-95ec-2118bb60212e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"50e8b54a-c37a-4093-aad9-35d07d83e89a","mac_address":"02:00:00:15:17:8A","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"8c8ecb80-61e6-4bd5-bf4c-ddd2efb8ed4b"},"tags":[],"updated_at":"2026-07-21T10:17:01.832337Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.003287ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/50e8b54a-c37a-4093-aad9-35d07d83e89a/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 480.672491ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/50e8b54a-c37a-4093-aad9-35d07d83e89a?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 316.315543ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/50e8b54a-c37a-4093-aad9-35d07d83e89a
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.916063ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/72f42432-cdd1-4dab-adc9-8fc049a257aa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"72f42432-cdd1-4dab-adc9-8fc049a257aa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.246883ms
