---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"4a920369-9b2d-46c1-9446-6cf504442322","ip_address":"51.159.26.194","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-194.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.824ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/4a920369-9b2d-46c1-9446-6cf504442322
        method: GET
      response:
        body: '{"id":"4a920369-9b2d-46c1-9446-6cf504442322","ip_address":"51.159.26.194","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-194.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.290583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-10-01T13:52:02.646532Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-10-01T13:52:02.646532Z","id":"83eb7b63-1a2f-4a6f-a4e4-38e6f9370f4b","private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.60.0/22","updated_at":"2025-10-01T13:52:02.646532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-10-01T13:52:02.646532Z","id":"566e87ac-7ec7-4c2e-8b0f-274d9d01b1e3","private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8ce2::/64","updated_at":"2025-10-01T13:52:02.646532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-10-01T13:52:02.646532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 904.926083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/65a64177-8af2-4fbe-94aa-3586310f7b1b
        method: GET
      response:
        body: '{"created_at":"2025-10-01T13:52:02.646532Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-10-01T13:52:02.646532Z","id":"83eb7b63-1a2f-4a6f-a4e4-38e6f9370f4b","private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.60.0/22","updated_at":"2025-10-01T13:52:02.646532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-10-01T13:52:02.646532Z","id":"566e87ac-7ec7-4c2e-8b0f-274d9d01b1e3","private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8ce2::/64","updated_at":"2025-10-01T13:52:02.646532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-10-01T13:52:02.646532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.153167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"4a920369-9b2d-46c1-9446-6cf504442322","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-10-01T13:52:03.430566Z","description":"","frontend_count":0,"id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","instances":[],"ip":[{"id":"4a920369-9b2d-46c1-9446-6cf504442322","ip_address":"51.159.26.194","lb_id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-194.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T13:52:03.430566Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.597458ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6717975e-beac-4edd-8ce8-4bb8d56359a7
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-10-01T13:52:03.430566Z","description":"","frontend_count":0,"id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","instances":[],"ip":[{"id":"4a920369-9b2d-46c1-9446-6cf504442322","ip_address":"51.159.26.194","lb_id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-194.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T13:52:03.430566Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.970916ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6717975e-beac-4edd-8ce8-4bb8d56359a7/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-10-01T13:52:34.004798254Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-10-01T13:52:03.430566Z","description":"","frontend_count":0,"id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","instances":[{"created_at":"2025-10-01T13:46:36.842626Z","id":"40b44dbf-dc3c-4807-a763-ee71275b5c59","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-10-01T13:52:05.399860Z","zone":"fr-par-1"}],"ip":[{"id":"4a920369-9b2d-46c1-9446-6cf504442322","ip_address":"51.159.26.194","lb_id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-194.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T13:52:06.385131Z","zone":"fr-par-1"},"private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","status":"pending","updated_at":"2025-10-01T13:52:34.004798254Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.247375ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6717975e-beac-4edd-8ce8-4bb8d56359a7/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-10-01T13:52:34.004798Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-10-01T13:52:03.430566Z","description":"","frontend_count":0,"id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","instances":[],"ip":[{"id":"4a920369-9b2d-46c1-9446-6cf504442322","ip_address":"51.159.26.194","lb_id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-194.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T13:52:06.385131Z","zone":"fr-par-1"},"private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b","status":"pending","updated_at":"2025-10-01T13:52:34.004798Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.012875ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=65a64177-8af2-4fbe-94aa-3586310f7b1b&resource_id=6717975e-beac-4edd-8ce8-4bb8d56359a7&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.60.2/22","created_at":"2025-10-01T13:52:34.305756Z","id":"97515832-63d1-4b76-b6ed-2f134ed35f74","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6717975e-beac-4edd-8ce8-4bb8d56359a7","mac_address":"02:00:00:12:C7:24","name":"test-lb-with-pn-static-cidr","type":"lb_server"},"reverses":[],"source":{"subnet_id":"83eb7b63-1a2f-4a6f-a4e4-38e6f9370f4b"},"tags":[],"updated_at":"2025-10-01T13:52:34.753538Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.812916ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"65a64177-8af2-4fbe-94aa-3586310f7b1b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6717975e-beac-4edd-8ce8-4bb8d56359a7/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 340.039542ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6717975e-beac-4edd-8ce8-4bb8d56359a7?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 327.749209ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6717975e-beac-4edd-8ce8-4bb8d56359a7
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.343292ms
[...]
