---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"0478e274-35ec-488d-9266-65927ffcceac","ip_address":"51.159.10.66","lb_id":null,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.786296ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/0478e274-35ec-488d-9266-65927ffcceac
        method: GET
      response:
        body: '{"id":"0478e274-35ec-488d-9266-65927ffcceac","ip_address":"51.159.10.66","lb_id":null,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.199331ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn-with-lb-static","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:42:46.075828Z","dhcp_enabled":true,"id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","name":"pn-with-lb-static","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:42:46.075828Z","id":"c7d05151-0d65-46cf-b4d7-de7e7ceadb1f","private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-05T18:42:46.075828Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:42:46.075828Z","id":"cdb13615-9e35-4e1c-8760-d5aff52dcf51","private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:3dc0::/64","updated_at":"2025-05-05T18:42:46.075828Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:42:46.075828Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.032880272s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4ecbed52-c0ed-44cc-9500-9348dc47fecb
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:42:46.075828Z","dhcp_enabled":true,"id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","name":"pn-with-lb-static","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:42:46.075828Z","id":"c7d05151-0d65-46cf-b4d7-de7e7ceadb1f","private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-05T18:42:46.075828Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:42:46.075828Z","id":"cdb13615-9e35-4e1c-8760-d5aff52dcf51","private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:3dc0::/64","updated_at":"2025-05-05T18:42:46.075828Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:42:46.075828Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.906667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"0478e274-35ec-488d-9266-65927ffcceac","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-05-05T18:42:47.045639012Z","description":"","frontend_count":0,"id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","instances":[],"ip":[{"id":"0478e274-35ec-488d-9266-65927ffcceac","ip_address":"51.159.10.66","lb_id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:47.045639012Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.236186ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/32898ce9-6bfc-4630-ba1b-4c83b3560c06
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-05-05T18:42:47.045639Z","description":"","frontend_count":0,"id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","instances":[{"created_at":"2025-05-05T18:15:34.885397Z","id":"d131910c-2fe7-4205-be1d-e6f066485c50","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-05-05T18:42:47.358462Z","zone":"fr-par-1"}],"ip":[{"id":"0478e274-35ec-488d-9266-65927ffcceac","ip_address":"51.159.10.66","lb_id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:47.367164Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.082672ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/32898ce9-6bfc-4630-ba1b-4c83b3560c06/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:43:17.782227069Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-05-05T18:42:47.045639Z","description":"","frontend_count":0,"id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","instances":[{"created_at":"2025-05-05T18:15:34.885397Z","id":"d131910c-2fe7-4205-be1d-e6f066485c50","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-05-05T18:42:49.210656Z","zone":"fr-par-1"}],"ip":[{"id":"0478e274-35ec-488d-9266-65927ffcceac","ip_address":"51.159.10.66","lb_id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":1,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:50.700324Z","zone":"fr-par-1"},"private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","status":"pending","updated_at":"2025-05-05T18:43:17.782227069Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.073729131s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/32898ce9-6bfc-4630-ba1b-4c83b3560c06/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-05-05T18:43:17.782227Z","dhcp_config":{"ip_id":"7db7a036-97f6-47a3-8d4f-bdc631f709d8"},"ipam_ids":["7db7a036-97f6-47a3-8d4f-bdc631f709d8"],"lb":{"backend_count":0,"created_at":"2025-05-05T18:42:47.045639Z","description":"","frontend_count":0,"id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","instances":[],"ip":[{"id":"0478e274-35ec-488d-9266-65927ffcceac","ip_address":"51.159.10.66","lb_id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":1,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:50.700324Z","zone":"fr-par-1"},"private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb","status":"pending","updated_at":"2025-05-05T18:43:18.470211Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.180289ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=4ecbed52-c0ed-44cc-9500-9348dc47fecb&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.4.2/22","created_at":"2025-05-05T18:43:18.328169Z","id":"7db7a036-97f6-47a3-8d4f-bdc631f709d8","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"32898ce9-6bfc-4630-ba1b-4c83b3560c06","mac_address":"02:00:00:1B:0F:7F","name":"test-lb-with-pn-static-cidr","type":"lb_server"},"reverses":[],"source":{"subnet_id":"c7d05151-0d65-46cf-b4d7-de7e7ceadb1f"},"tags":[],"updated_at":"2025-05-05T18:43:19.012181Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.904766ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"4ecbed52-c0ed-44cc-9500-9348dc47fecb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/32898ce9-6bfc-4630-ba1b-4c83b3560c06/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 428.791763ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/32898ce9-6bfc-4630-ba1b-4c83b3560c06?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 436.589967ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/32898ce9-6bfc-4630-ba1b-4c83b3560c06
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.385441ms
[...]
