---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"3c2abc10-c9b9-43c1-9c42-6ace1b41a137","ip_address":"2001:bc8:710:37::","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.7.3.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.712972ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3c2abc10-c9b9-43c1-9c42-6ace1b41a137
        method: GET
      response:
        body: '{"id":"3c2abc10-c9b9-43c1-9c42-6ace1b41a137","ip_address":"2001:bc8:710:37::","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.7.3.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.57573ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-ip-ids","description":"","ip_ids":["75d078b0-e55c-4cbd-b990-8f66617431e7","3c2abc10-c9b9-43c1-9c42-6ace1b41a137"],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2024-04-04T15:26:55.868368033Z","description":"","frontend_count":0,"id":"9878f57a-2553-4240-8b1a-3e7a5b73624e","instances":[],"ip":[{"id":"75d078b0-e55c-4cbd-b990-8f66617431e7","ip_address":"195.154.75.191","lb_id":"9878f57a-2553-4240-8b1a-3e7a5b73624e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-75-191.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"3c2abc10-c9b9-43c1-9c42-6ace1b41a137","ip_address":"2001:bc8:710:37::","lb_id":"9878f57a-2553-4240-8b1a-3e7a5b73624e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.7.3.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-ip-ids","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-04-04T15:26:55.868368033Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.772829ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9878f57a-2553-4240-8b1a-3e7a5b73624e
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2024-04-04T15:26:55.868368Z","description":"","frontend_count":0,"id":"9878f57a-2553-4240-8b1a-3e7a5b73624e","instances":[],"ip":[{"id":"75d078b0-e55c-4cbd-b990-8f66617431e7","ip_address":"195.154.75.191","l[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9878f57a-2553-4240-8b1a-3e7a5b73624e/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.745864ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9878f57a-2553-4240-8b1a-3e7a5b73624e?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 249.634601ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9878f57a-2553-4240-8b1a-3e7a5b73624e
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.090106ms
[...]
