---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-11-20T17:01:29.827774Z","custom_routes_propagation_enabled":true,"id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T17:01:29.827774Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.346167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/99385ba8-c566-4c29-99dc-9b1ad1a3ac57
        method: GET
      response:
        body: '{"created_at":"2025-11-20T17:01:29.827774Z","custom_routes_propagation_enabled":true,"id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-20T17:01:29.827774Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.543583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-reverent-beaver","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-20T17:01:30.104873Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","name":"tf-pn-reverent-beaver","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T17:01:30.104873Z","id":"1e5acd7f-3e70-423c-ac66-e1f31f90d73f","private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-20T17:01:30.104873Z","vpc_id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57"},{"created_at":"2025-11-20T17:01:30.104873Z","id":"4343716a-5ee2-4294-a7e0-1dc03462c8b8","private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ec4::/64","updated_at":"2025-11-20T17:01:30.104873Z","vpc_id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57"}],"tags":[],"updated_at":"2025-11-20T17:01:30.104873Z","vpc_id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 584.355208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3c93f9e5-7b7b-4b98-a09a-dacb0891b435
        method: GET
      response:
        body: '{"created_at":"2025-11-20T17:01:30.104873Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","name":"tf-pn-reverent-beaver","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-11-20T17:01:30.104873Z","id":"1e5acd7f-3e70-423c-ac66-e1f31f90d73f","private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-11-20T17:01:30.104873Z","vpc_id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57"},{"created_at":"2025-11-20T17:01:30.104873Z","id":"4343716a-5ee2-4294-a7e0-1dc03462c8b8","private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ec4::/64","updated_at":"2025-11-20T17:01:30.104873Z","vpc_id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57"}],"tags":[],"updated_at":"2025-11-20T17:01:30.104873Z","vpc_id":"99385ba8-c566-4c29-99dc-9b1ad1a3ac57"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.996542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-11-20T17:01:30.756705Z","id":"86776a97-e7a0-4d94-bf68-8444f9ceb5a9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1e5acd7f-3e70-423c-ac66-e1f31f90d73f"},"tags":[],"updated_at":"2025-11-20T17:01:30.756705Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.173917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/86776a97-e7a0-4d94-bf68-8444f9ceb5a9
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-11-20T17:01:30.756705Z","id":"86776a97-e7a0-4d94-bf68-8444f9ceb5a9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1e5acd7f-3e70-423c-ac66-e1f31f90d73f"},"tags":[],"updated_at":"2025-11-20T17:01:30.756705Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.351625ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-11-20T17:01:31.044929706Z","description":"","frontend_count":0,"id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","instances":[],"ip":[{"id":"b726e526-1026-44e7-bfec-e39531ffe255","ip_address":"51.159.112.20","lb_id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-20.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-11-20T17:01:31.044929706Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.067667ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcbf97c0-5e0a-45b1-8819-b8db8941ff4b
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-11-20T17:01:31.044930Z","description":"","frontend_count":0,"id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","instances":[{"created_at":"2025-11-20T16:55:11.777494Z","id":"700c6475-ab27-4130-aa19-6891fba85ce3","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-11-20T17:01:31.239515Z","zone":"fr-par-1"}],"ip":[{"id":"b726e526-1026-44e7-bfec-e39531ffe255","ip_address":"51.159.112.20","lb_id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-20.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-11-20T17:01:31.248934Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.867041ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","ipam_ids":["86776a97-e7a0-4d94-bf68-8444f9ceb5a9"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcbf97c0-5e0a-45b1-8819-b8db8941ff4b/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-11-20T17:02:01.831312093Z","dhcp_config":{"ip_id":"86776a97-e7a0-4d94-bf68-8444f9ceb5a9"},"ipam_ids":["86776a97-e7a0-4d94-bf68-8444f9ceb5a9"],"lb":{"backend_count":0,"created_at":"2025-11-20T17:01:31.044930Z","description":"","frontend_count":0,"id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","instances":[{"created_at":"2025-11-20T16:55:11.777494Z","id":"700c6475-ab27-4130-aa19-6891fba85ce3","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-11-20T17:01:32.691470Z","zone":"fr-par-1"}],"ip":[{"id":"b726e526-1026-44e7-bfec-e39531ffe255","ip_address":"51.159.112.20","lb_id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-20.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-11-20T17:01:33.801499Z","zone":"fr-par-1"},"private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","status":"pending","updated_at":"2025-11-20T17:02:01.831312093Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 729.175917ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcbf97c0-5e0a-45b1-8819-b8db8941ff4b/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-11-20T17:02:01.831312Z","dhcp_config":{"ip_id":"86776a97-e7a0-4d94-bf68-8444f9ceb5a9"},"ipam_ids":["86776a97-e7a0-4d94-bf68-8444f9ceb5a9"],"lb":{"backend_count":0,"created_at":"2025-11-20T17:01:31.044930Z","description":"","frontend_count":0,"id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","instances":[],"ip":[{"id":"b726e526-1026-44e7-bfec-e39531ffe255","ip_address":"51.159.112.20","lb_id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-20.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-11-20T17:01:33.801499Z","zone":"fr-par-1"},"private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","status":"pending","updated_at":"2025-11-20T17:02:01.831312Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.76175ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3c93f9e5-7b7b-4b98-a09a-dacb0891b435&resource_id=fcbf97c0-5e0a-45b1-8819-b8db8941ff4b&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-11-20T17:01:30.756705Z","id":"86776a97-e7a0-4d94-bf68-8444f9ceb5a9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","mac_address":"02:00:00:1C:A6:F1","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"1e5acd7f-3e70-423c-ac66-e1f31f90d73f"},"tags":[],"updated_at":"2025-11-20T17:02:02.575550Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.345458ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-11-20T17:01:30.756705Z","id":"86776a97-e7a0-4d94-bf68-8444f9ceb5a9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"fcbf97c0-5e0a-45b1-8819-b8db8941ff4b","mac_address":"02:00:00:1C:A6:F1","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"1e5acd7f-3e70-423c-ac66-e1f31f90d73f"},"tags":[],"updated_at":"2025-11-20T17:02:02.575550Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.378833ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcbf97c0-5e0a-45b1-8819-b8db8941ff4b/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 310.719708ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcbf97c0-5e0a-45b1-8819-b8db8941ff4b?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 299.639667ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcbf97c0-5e0a-45b1-8819-b8db8941ff4b
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.864959ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3c93f9e5-7b7b-4b98-a09a-dacb0891b435
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"3c93f9e5-7b7b-4b98-a09a-dacb0891b435","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.301625ms
