---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.467963ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca
        method: GET
      response:
        body: '{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.718255ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-07T14:19:07.704183Z","dhcp_enabled":true,"id":"d5250542-4f0f-42cf-8cf6-da132d987706","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-04-07T14:19:07.704183Z","id":"6798543a-31a3-4049-95ba-6d73795456b7","private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2025-04-07T14:19:07.704183Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-04-07T14:19:07.704183Z","id":"31483c49-b16f-40ad-a1b9-d350210f9d92","private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a40::/64","updated_at":"2025-04-07T14:19:07.704183Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-04-07T14:19:07.704183Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 795.922451ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d5250542-4f0f-42cf-8cf6-da132d987706
        method: GET
      response:
        body: '{"created_at":"2025-04-07T14:19:07.704183Z","dhcp_enabled":true,"id":"d5250542-4f0f-42cf-8cf6-da132d987706","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-04-07T14:19:07.704183Z","id":"6798543a-31a3-4049-95ba-6d73795456b7","private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2025-04-07T14:19:07.704183Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-04-07T14:19:07.704183Z","id":"31483c49-b16f-40ad-a1b9-d350210f9d92","private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a40::/64","updated_at":"2025-04-07T14:19:07.704183Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-04-07T14:19:07.704183Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.283903ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-04-07T14:19:08.567286722Z","description":"","frontend_count":0,"id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","instances":[],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:19:08.567286722Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.543618ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0bb91818-6d62-48ad-a4d9-fa595a2ef750
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-04-07T14:19:08.567287Z","description":"","frontend_count":0,"id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","instances":[],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:19:08.567287Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.045548ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706","ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0bb91818-6d62-48ad-a4d9-fa595a2ef750/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-04-07T14:19:39.061937496Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-04-07T14:19:08.567287Z","description":"","frontend_count":0,"id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","instances":[{"created_at":"2025-04-07T14:13:40.298772Z","id":"af674354-c3fe-40dd-b426-5894f50046e5","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-04-07T14:19:10.292132Z","zone":"fr-par-1"}],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:19:11.315718Z","zone":"fr-par-1"},"private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706","status":"pending","updated_at":"2025-04-07T14:19:39.061937496Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.965019ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0bb91818-6d62-48ad-a4d9-fa595a2ef750/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-04-07T14:19:39.061937Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-04-07T14:19:08.567287Z","description":"","frontend_count":0,"id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","instances":[],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"0bb91818-6d62-48ad-a4d9-fa595a2ef750","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:19:11.315718Z","zone":"fr-par-1"},"private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706","status":"pending","updated_at":"2025-04-07T14:19:39.061937Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.139236ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"d5250542-4f0f-42cf-8cf6-da132d987706"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0bb91818-6d62-48ad-a4d9-fa595a2ef750/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 288.706724ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0bb91818-6d62-48ad-a4d9-fa595a2ef750?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 362.37313ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0bb91818-6d62-48ad-a4d9-fa595a2ef750
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.856688ms
[...]
