---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"8b88c4db-62e1-45cf-ae16-b2b8649d1f0e","ip_address":"195.154.74.14","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-74-14.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.507588ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8b88c4db-62e1-45cf-ae16-b2b8649d1f0e
        method: GET
      response:
        body: '{"id":"8b88c4db-62e1-45cf-ae16-b2b8649d1f0e","ip_address":"195.154.74.14","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-74-14.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.950086ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-12T13:18:50.440858Z","dhcp_enabled":true,"id":"b7a8b51c-c92e-4d20-9c22-84d9600fb705","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-04-12T13:18:50.440858Z","id":"76cce250-9ab6-474c-9d19-327c3586de41","subnet":"172.16.152.0/22","updated_at":"2024-04-12T13:18:50.440858Z"},{"created_at":"2024-04-12T13:18:50.440858Z","id":"5b1011bb-b67d-45d7-9c1c-fbd7c519711e","subnet":"fd46:78ab:30b8:dcbe::/64","updated_at":"2024-04-12T13:18:50.440858Z"}],"tags":[],"updated_at":"2024-04-12T13:18:50.440858Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 633.504435ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b7a8b51c-c92e-4d20-9c22-84d9600fb705
        method: GET
      response:
        body: '{"created_at":"2024-04-12T13:18:50.440858Z","dhcp_enabled":true,"id":"b7a8b51c-c92e-4d20-9c22-84d9600fb705","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-04-12T13:18:50.440858Z","id":"76cce250-9ab6-474c-9d19-327c3586de41","subnet":"172.16.152.0/22","updated_at":"2024-04-12T13:18:50.440858Z"},{"created_at":"2024-04-12T13:18:50.440858Z","id":"5b1011bb-b67d-45d7-9c1c-fbd7c519711e","subnet":"fd46:78ab:30b8:dcbe::/64","updated_at":"2024-04-12T13:18:50.440858Z"}],"tags":[],"updated_at":"2024-04-12T13:18:50.440858Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.172629ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"8b88c4db-62e1-45cf-ae16-b2b8649d1f0e","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2024-04-12T13:18:51.154709595Z","description":"","frontend_count":0,"id":"207832fc-5a39-4587-941d-551fe4f93ce6","instances":[],"ip":[{"id":"8b88c4db-62e1-45cf-ae16-b2b8649d1f0e","ip_address":"195.154.74.14","lb_id":"207832fc-5a39-4587-941d-551fe4f93ce6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-74-14.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-04-12T13:18:51.154709595Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.685123ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/207832fc-5a39-4587-941d-551fe4f93ce6
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2024-04-12T13:18:51.154710Z","description":"","frontend_count":0,"id":"207832fc-5a39-4587-941d-551fe4f93ce6","instances":[{"created_at":"2024-04-12T13:13:30.551114Z","id":"c8490311-473b-4284-b015-488369961428","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2024-04-12T13:18:51.392225Z","zone":"fr-par-1"}],"ip":[{"id":"8b88c4db-62e1-45cf-ae16-b2b8649d1f0e","ip_address":"195.154.74.14","lb_id":"207832fc-5a39-4587-941d-551fe4f93ce6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-74-14.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-04-12T13:18:51.406583Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.258398ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/207832fc-5a39-4587-941d-551fe4f93ce6/private-networks/b7a8b51c-c92e-4d20-9c22-84d9600fb705/attach
        method: POST
      response:
        body: '{"created_at":"2024-04-12T13:19:21.813279385Z","ipam_ids":[],"lb":{"backend_count":0,"created_at":"2024-04-12T13:18:51.154710Z","description":"","frontend_count":0,"id":"207832fc-5a39-4587-941d-551fe4f93ce6","instances":[{"created_at":"2024-04-12T13:13:30.551114Z","id":"c8490311-473b-4284-b015-488369961428","ip_address":"","region":"fr-par","status":"ready","updated_at":"2024-04-12T13:18:57.162137Z","zone":"fr-par-1"}],"ip":[{"id":"8b88c4db-62e1-45cf-ae16-b2b8649d1f0e","ip_address":"195.154.74.14","lb_id":"207832fc-5a39-4587-941d-551fe4f93ce6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-74-14.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-04-12T13:18:58.292629Z","zone":"fr-par-1"},"private_network_id":"b7a8b51c-c92e-4d20-9c22-84d9600fb705","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2024-04-12T13:19:21.813279385Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.911755ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/207832fc-5a39-4587-941d-551fe4f93ce6/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2024-04-12T13:19:21.813279Z","ipam_ids":[],"lb":{"backend_count":0,"created_at":"2024-04-12T13:18:51.154710Z","description":"","frontend_count":0,"id":"207832fc-5a39-4587-941d-551fe4f93ce6","instances":[],"ip":[{"id":"8b88c4db-62e1-45cf-ae16-b2b8649d1f0e","ip_address":"195.154.74.14","lb_id":"207832fc-5a39-4587-941d-551fe4f93ce6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-74-14.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-04-12T13:18:58.292629Z","zone":"fr-par-1"},"private_network_id":"b7a8b51c-c92e-4d20-9c22-84d9600fb705","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2024-04-12T13:19:21.813279Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.174038ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/207832fc-5a39-4587-941d-551fe4f93ce6/private-networks/f3f5425e-883b-4d1f-8e3c-f03a5785cfc2/detach
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 258.471379ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/207832fc-5a39-4587-941d-551fe4f93ce6?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 216.805165ms
[...]
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/207832fc-5a39-4587-941d-551fe4f93ce6
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.513054ms
[...]
