---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"507fbc5f-249b-482f-843c-419df9f8f639\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:25:44.085513Z\",\"updated_at\":\"2025-09-01T15:25:44.085513Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.950817ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/507fbc5f-249b-482f-843c-419df9f8f639
    method: GET
  response:
    body: "{\"id\":\"507fbc5f-249b-482f-843c-419df9f8f639\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:25:44.085513Z\",\"updated_at\":\"2025-09-01T15:25:44.085513Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.618336ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-peaceful-ptolemy\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"vpc_id\":\"507fbc5f-249b-482f-843c-419df9f8f639\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"name\":\"tf-pn-peaceful-ptolemy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:25:44.377710Z\",\"updated_at\":\"2025-09-01T15:25:44.377710Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"89d30205-a9fa-42c4-8947-7af51eb4de64\",\"created_at\":\"2025-09-01T15:25:44.377710Z\",\"updated_at\":\"2025-09-01T15:25:44.377710Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"vpc_id\":\"507fbc5f-249b-482f-843c-419df9f8f639\"},{\"id\":\"9d0e14ae-a725-4ffc-82b9-c0a408e9cf73\",\"created_at\":\"2025-09-01T15:25:44.377710Z\",\"updated_at\":\"2025-09-01T15:25:44.377710Z\",\"subnet\":\"fd5f:519c:6d46:6270::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"vpc_id\":\"507fbc5f-249b-482f-843c-419df9f8f639\"}],\"vpc_id\":\"507fbc5f-249b-482f-843c-419df9f8f639\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 634.677859ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5dd3d49a-629d-4916-8bee-890d210fade9
    method: GET
  response:
    body: "{\"id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"name\":\"tf-pn-peaceful-ptolemy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:25:44.377710Z\",\"updated_at\":\"2025-09-01T15:25:44.377710Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"89d30205-a9fa-42c4-8947-7af51eb4de64\",\"created_at\":\"2025-09-01T15:25:44.377710Z\",\"updated_at\":\"2025-09-01T15:25:44.377710Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"vpc_id\":\"507fbc5f-249b-482f-843c-419df9f8f639\"},{\"id\":\"9d0e14ae-a725-4ffc-82b9-c0a408e9cf73\",\"created_at\":\"2025-09-01T15:25:44.377710Z\",\"updated_at\":\"2025-09-01T15:25:44.377710Z\",\"subnet\":\"fd5f:519c:6d46:6270::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"vpc_id\":\"507fbc5f-249b-482f-843c-419df9f8f639\"}],\"vpc_id\":\"507fbc5f-249b-482f-843c-419df9f8f639\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.580696ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"source\":{\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\"},\"is_ipv6\":false,\"address\":\"172.16.32.7\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"93a67868-2291-4044-8b16-502c22b26599\",\"address\":\"172.16.32.7/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T15:25:45.176062Z\",\"updated_at\":\"2025-09-01T15:25:45.176062Z\",\"source\":{\"subnet_id\":\"89d30205-a9fa-42c4-8947-7af51eb4de64\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 203.628035ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/93a67868-2291-4044-8b16-502c22b26599
    method: GET
  response:
    body: "{\"id\":\"93a67868-2291-4044-8b16-502c22b26599\",\"address\":\"172.16.32.7/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T15:25:45.176062Z\",\"updated_at\":\"2025-09-01T15:25:45.176062Z\",\"source\":{\"subnet_id\":\"89d30205-a9fa-42c4-8947-7af51eb4de64\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.918611ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-with-private-network-ipam\",\"description\":\"\",\"ip_ids\":[],\"tags\":null,\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"name\":\"test-lb-with-private-network-ipam\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c6407a0a-fc90-42b9-b483-4ecdf25ffbef\",\"ip_address\":\"51.159.205.18\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"reverse\":\"51-159-205-18.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:45.594954747Z\",\"updated_at\":\"2025-09-01T15:25:45.594954747Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 405.214537ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b0d293a-05b2-4f1b-9580-5734dfcb0ee2
    method: GET
  response:
    body: "{\"id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"name\":\"test-lb-with-private-network-ipam\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c6407a0a-fc90-42b9-b483-4ecdf25ffbef\",\"ip_address\":\"51.159.205.18\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"reverse\":\"51-159-205-18.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:45.594955Z\",\"updated_at\":\"2025-09-01T15:25:45.594955Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.586139ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"ipam_ids\":[\"93a67868-2291-4044-8b16-502c22b26599\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b0d293a-05b2-4f1b-9580-5734dfcb0ee2/attach-private-network
    method: POST
  response:
    body: "{\"lb\":{\"id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"name\":\"test-lb-with-private-network-ipam\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"e1f9e873-acdf-4316-9809-9e4387d22d34\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-08-28T09:45:09.308363Z\",\"updated_at\":\"2025-09-01T15:25:48.271015Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c6407a0a-fc90-42b9-b483-4ecdf25ffbef\",\"ip_address\":\"51.159.205.18\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"reverse\":\"51-159-205-18.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:45.594955Z\",\"updated_at\":\"2025-09-01T15:25:50.222037Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"status\":\"pending\",\"created_at\":\"2025-09-01T15:26:16.659482822Z\",\"updated_at\":\"2025-09-01T15:26:16.659482822Z\",\"dhcp_config\":{\"ip_id\":\"93a67868-2291-4044-8b16-502c22b26599\"},\"ipam_ids\":[\"93a67868-2291-4044-8b16-502c22b26599\"]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 815.479792ms
- id: 11
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b0d293a-05b2-4f1b-9580-5734dfcb0ee2/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[{\"lb\":{\"id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"name\":\"test-lb-with-private-network-ipam\",\"description\":\"\",\"status\":\"ready\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c6407a0a-fc90-42b9-b483-4ecdf25ffbef\",\"ip_address\":\"51.159.205.18\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"reverse\":\"51-159-205-18.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:45.594955Z\",\"updated_at\":\"2025-09-01T15:25:50.222037Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"status\":\"pending\",\"created_at\":\"2025-09-01T15:26:16.659483Z\",\"updated_at\":\"2025-09-01T15:26:16.659483Z\",\"dhcp_config\":{\"ip_id\":\"93a67868-2291-4044-8b16-502c22b26599\"},\"ipam_ids\":[\"93a67868-2291-4044-8b16-502c22b26599\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 282.184268ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 5dd3d49a-629d-4916-8bee-890d210fade9
      resource_type:
      - lb_server
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5dd3d49a-629d-4916-8bee-890d210fade9&resource_type=lb_server
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"93a67868-2291-4044-8b16-502c22b26599\",\"address\":\"172.16.32.7/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T15:25:45.176062Z\",\"updated_at\":\"2025-09-01T15:26:18.111516Z\",\"source\":{\"subnet_id\":\"89d30205-a9fa-42c4-8947-7af51eb4de64\"},\"resource\":{\"type\":\"lb_server\",\"id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"mac_address\":\"02:00:00:1B:0F:26\",\"name\":\"test-lb-with-private-network-ipam\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.050782ms
- id: 17
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
      order_by:
      - created_at_desc
      page:
      - "1"
      resource_name:
      - test-lb-with-private-network-ipam
      resource_type:
      - lb_server
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"93a67868-2291-4044-8b16-502c22b26599\",\"address\":\"172.16.32.7/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T15:25:45.176062Z\",\"updated_at\":\"2025-09-01T15:26:18.111516Z\",\"source\":{\"subnet_id\":\"89d30205-a9fa-42c4-8947-7af51eb4de64\"},\"resource\":{\"type\":\"lb_server\",\"id\":\"2b0d293a-05b2-4f1b-9580-5734dfcb0ee2\",\"mac_address\":\"02:00:00:1B:0F:26\",\"name\":\"test-lb-with-private-network-ipam\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.682668ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{\"private_network_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b0d293a-05b2-4f1b-9580-5734dfcb0ee2/detach-private-network
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 417.240503ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b0d293a-05b2-4f1b-9580-5734dfcb0ee2?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 391.736797ms
[...]
- id: 35
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2b0d293a-05b2-4f1b-9580-5734dfcb0ee2
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.237908ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5dd3d49a-629d-4916-8bee-890d210fade9
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"5dd3d49a-629d-4916-8bee-890d210fade9\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.597182ms
