---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:12:12.300336Z","custom_routes_propagation_enabled":false,"id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:12:12.300336Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.349292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:12:12.300336Z","custom_routes_propagation_enabled":true,"id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:12:12.356994Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.12025ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:12:12.300336Z","custom_routes_propagation_enabled":true,"id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:12:12.356994Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.716667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-admiring-gould","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:12:12.483517Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"da50beb2-d97f-4e14-8ead-60751924ee8d","name":"tf-pn-admiring-gould","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:12:12.483517Z","id":"018b66ab-c139-42f5-92c2-a62d9c95b732","private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:12:12.483517Z","vpc_id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee"},{"created_at":"2025-06-30T15:12:12.483517Z","id":"69ac7404-778c-4987-9894-1b9f944ab86d","private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:5d5c::/64","updated_at":"2025-06-30T15:12:12.483517Z","vpc_id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee"}],"tags":[],"updated_at":"2025-06-30T15:12:12.483517Z","vpc_id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 563.313917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/da50beb2-d97f-4e14-8ead-60751924ee8d
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:12:12.483517Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"da50beb2-d97f-4e14-8ead-60751924ee8d","name":"tf-pn-admiring-gould","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:12:12.483517Z","id":"018b66ab-c139-42f5-92c2-a62d9c95b732","private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-06-30T15:12:12.483517Z","vpc_id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee"},{"created_at":"2025-06-30T15:12:12.483517Z","id":"69ac7404-778c-4987-9894-1b9f944ab86d","private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:5d5c::/64","updated_at":"2025-06-30T15:12:12.483517Z","vpc_id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee"}],"tags":[],"updated_at":"2025-06-30T15:12:12.483517Z","vpc_id":"7b3c827f-7cdf-4ea2-bd63-2bff2e1413ee"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.578ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-30T15:12:14.368594Z","id":"83e0517b-d0dd-4479-aa01-cc9741f0dce9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"018b66ab-c139-42f5-92c2-a62d9c95b732"},"tags":[],"updated_at":"2025-06-30T15:12:14.368594Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.374342916s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/83e0517b-d0dd-4479-aa01-cc9741f0dce9
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-06-30T15:12:14.368594Z","id":"83e0517b-d0dd-4479-aa01-cc9741f0dce9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"018b66ab-c139-42f5-92c2-a62d9c95b732"},"tags":[],"updated_at":"2025-06-30T15:12:14.368594Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.157166ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-06-30T15:12:14.612147108Z","description":"","frontend_count":0,"id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","instances":[],"ip":[{"id":"740eeda8-89b6-4b66-95a6-f38285009834","ip_address":"51.15.221.147","lb_id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-221-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-30T15:12:14.612147108Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.808209ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7ede9c27-d2c2-41dc-9945-d35de57ebc06
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-06-30T15:12:14.612147Z","description":"","frontend_count":0,"id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","instances":[],"ip":[{"id":"740eeda8-89b6-4b66-95a6-f38285009834","ip_address":"51.15.221.147","lb_id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-221-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-30T15:12:14.612147Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.667333ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","ipam_ids":["83e0517b-d0dd-4479-aa01-cc9741f0dce9"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7ede9c27-d2c2-41dc-9945-d35de57ebc06/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:12:45.444081589Z","dhcp_config":{"ip_id":"83e0517b-d0dd-4479-aa01-cc9741f0dce9"},"ipam_ids":["83e0517b-d0dd-4479-aa01-cc9741f0dce9"],"lb":{"backend_count":0,"created_at":"2025-06-30T15:12:14.612147Z","description":"","frontend_count":0,"id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","instances":[{"created_at":"2025-06-30T15:10:43.079918Z","id":"37203385-3d3e-4d4e-8c5d-23826ef2333b","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-06-30T15:12:17.026014Z","zone":"fr-par-1"}],"ip":[{"id":"740eeda8-89b6-4b66-95a6-f38285009834","ip_address":"51.15.221.147","lb_id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-221-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-30T15:12:18.540679Z","zone":"fr-par-1"},"private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","status":"pending","updated_at":"2025-06-30T15:12:45.444081589Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 635.765625ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7ede9c27-d2c2-41dc-9945-d35de57ebc06/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-06-30T15:12:45.444082Z","dhcp_config":{"ip_id":"83e0517b-d0dd-4479-aa01-cc9741f0dce9"},"ipam_ids":["83e0517b-d0dd-4479-aa01-cc9741f0dce9"],"lb":{"backend_count":0,"created_at":"2025-06-30T15:12:14.612147Z","description":"","frontend_count":0,"id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","instances":[],"ip":[{"id":"740eeda8-89b6-4b66-95a6-f38285009834","ip_address":"51.15.221.147","lb_id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-221-147.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-06-30T15:12:18.540679Z","zone":"fr-par-1"},"private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","status":"pending","updated_at":"2025-06-30T15:12:45.444082Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.110417ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=da50beb2-d97f-4e14-8ead-60751924ee8d&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-06-30T15:12:14.368594Z","id":"83e0517b-d0dd-4479-aa01-cc9741f0dce9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","mac_address":"02:00:00:1A:FF:8C","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"018b66ab-c139-42f5-92c2-a62d9c95b732"},"tags":[],"updated_at":"2025-06-30T15:12:46.362698Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.79175ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-06-30T15:12:14.368594Z","id":"83e0517b-d0dd-4479-aa01-cc9741f0dce9","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"7ede9c27-d2c2-41dc-9945-d35de57ebc06","mac_address":"02:00:00:1A:FF:8C","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"018b66ab-c139-42f5-92c2-a62d9c95b732"},"tags":[],"updated_at":"2025-06-30T15:12:46.362698Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.652625ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"da50beb2-d97f-4e14-8ead-60751924ee8d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7ede9c27-d2c2-41dc-9945-d35de57ebc06/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 403.748959ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7ede9c27-d2c2-41dc-9945-d35de57ebc06?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 321.102125ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7ede9c27-d2c2-41dc-9945-d35de57ebc06
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.450375ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/da50beb2-d97f-4e14-8ead-60751924ee8d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"da50beb2-d97f-4e14-8ead-60751924ee8d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.4235ms
