---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.54675ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/df74cb2c-3245-49d9-b592-e67c753e77ac
        method: GET
      response:
        body: '{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.833333ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-ip-ids","description":"","ip_ids":["df74cb2c-3245-49d9-b592-e67c753e77ac","282aae4a-2c6e-4779-858f-539058b559a9"],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:35.647313579Z","description":"","frontend_count":0,"id":"02b59c40-f5e6-48c7-9bb2-fa88ff560c53","instances":[],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_id":"02b59c40-f5e6-48c7-9bb2-fa88ff560c53","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-25-55.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"},{"id":"282aae4a-2c6e-4779-858f-539058b559a9","ip_address":"2001:bc8:710:2f2a::","lb_id":"02b59c40-f5e6-48c7-9bb2-fa88ff560c53","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.2.f.2.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-ip-ids","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:35.647313579Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.427583ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02b59c40-f5e6-48c7-9bb2-fa88ff560c53
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:35.647314Z","description":"","frontend_count":0,"id":"02b59c40-f5e6-48c7-9bb2-fa88ff560c53","instances":[],"ip":[{"id":"df74cb2c-3245-49d9-b592-e67c753e77ac","ip_address":"51.159.25.55","lb_[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02b59c40-f5e6-48c7-9bb2-fa88ff560c53/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.427125ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02b59c40-f5e6-48c7-9bb2-fa88ff560c53?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 351.58925ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02b59c40-f5e6-48c7-9bb2-fa88ff560c53
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.568042ms
[...]
