---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:11:52.473902Z","id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:11:52.473902Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.741125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b1d81b64-bdb1-4d51-b29d-d74f3b914770
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:11:52.473902Z","id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:11:52.473902Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.317458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-confident-shtern","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:11:52.598526Z","dhcp_enabled":true,"id":"e223548b-52b9-43ab-ba75-22d7346e0a32","name":"tf-pn-confident-shtern","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:11:52.598526Z","id":"2ec1f5c3-9fff-4f22-a5b4-fec9b43b7f7b","private_network_id":"e223548b-52b9-43ab-ba75-22d7346e0a32","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:11:52.598526Z","vpc_id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770"},{"created_at":"2025-01-24T14:11:52.598526Z","id":"d8f53010-3265-4fa3-bb6d-81f27a8f4c01","private_network_id":"e223548b-52b9-43ab-ba75-22d7346e0a32","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3ed8::/64","updated_at":"2025-01-24T14:11:52.598526Z","vpc_id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770"}],"tags":[],"updated_at":"2025-01-24T14:11:52.598526Z","vpc_id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.293834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e223548b-52b9-43ab-ba75-22d7346e0a32
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:11:52.598526Z","dhcp_enabled":true,"id":"e223548b-52b9-43ab-ba75-22d7346e0a32","name":"tf-pn-confident-shtern","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:11:52.598526Z","id":"2ec1f5c3-9fff-4f22-a5b4-fec9b43b7f7b","private_network_id":"e223548b-52b9-43ab-ba75-22d7346e0a32","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:11:52.598526Z","vpc_id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770"},{"created_at":"2025-01-24T14:11:52.598526Z","id":"d8f53010-3265-4fa3-bb6d-81f27a8f4c01","private_network_id":"e223548b-52b9-43ab-ba75-22d7346e0a32","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3ed8::/64","updated_at":"2025-01-24T14:11:52.598526Z","vpc_id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770"}],"tags":[],"updated_at":"2025-01-24T14:11:52.598526Z","vpc_id":"b1d81b64-bdb1-4d51-b29d-d74f3b914770"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.16925ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"e223548b-52b9-43ab-ba75-22d7346e0a32"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-01-24T14:11:53.275551Z","id":"28d848bf-c09f-4481-b850-93192a12d13d","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"2ec1f5c3-9fff-4f22-a5b4-fec9b43b7f7b"},"tags":[],"updated_at":"2025-01-24T14:11:53.275551Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.87175ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/28d848bf-c09f-4481-b850-93192a12d13d
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-01-24T14:11:53.275551Z","id":"28d848bf-c09f-4481-b850-93192a12d13d","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"2ec1f5c3-9fff-4f22-a5b4-fec9b43b7f7b"},"tags":[],"updated_at":"2025-01-24T14:11:53.275551Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.336292ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:53.513527696Z","description":"","frontend_count":0,"id":"ac619eb7-de06-4c66-a5af-42a5367748a3","instances":[],"ip":[{"id":"eac13abf-7a89-429f-b421-e13cbcf3aad3","ip_address":"195.154.71.34","lb_id":"ac619eb7-de06-4c66-a5af-42a5367748a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-71-34.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:53.513527696Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.696333ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac619eb7-de06-4c66-a5af-42a5367748a3
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:53.513528Z","description":"","frontend_count":0,"id":"ac619eb7-de06-4c66-a5af-42a5367748a3","instances":[],"ip":[{"id":"eac13abf-7a89-429f-b421-e13cbcf3aad3","ip_address":"195.154.71.34","lb_id":"ac619eb7-de06-4c66-a5af-42a5367748a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-71-34.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:53.513528Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.661833ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"ipam_ids":["28d848bf-c09f-4481-b850-93192a12d13d"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac619eb7-de06-4c66-a5af-42a5367748a3/private-networks/e223548b-52b9-43ab-ba75-22d7346e0a32/attach
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:12:24.334950795Z","dhcp_config":{"ip_id":"28d848bf-c09f-4481-b850-93192a12d13d"},"ipam_ids":["28d848bf-c09f-4481-b850-93192a12d13d"],"lb":{"backend_count":0,"created_at":"2025-01-24T14:11:53.513528Z","description":"","frontend_count":0,"id":"ac619eb7-de06-4c66-a5af-42a5367748a3","instances":[{"created_at":"2025-01-24T14:08:59.379462Z","id":"0c32325d-96b5-4fe1-a7ff-6f3f2c443c5c","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-01-24T14:11:55.719161Z","zone":"fr-par-1"}],"ip":[{"id":"eac13abf-7a89-429f-b421-e13cbcf3aad3","ip_address":"195.154.71.34","lb_id":"ac619eb7-de06-4c66-a5af-42a5367748a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-71-34.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:58.773674Z","zone":"fr-par-1"},"private_network_id":"e223548b-52b9-43ab-ba75-22d7346e0a32","status":"pending","updated_at":"2025-01-24T14:12:24.334950795Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 595.862083ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac619eb7-de06-4c66-a5af-42a5367748a3/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-01-24T14:12:24.334951Z","dhcp_config":{"ip_id":"28d848bf-c09f-4481-b850-93192a12d13d"},"ipam_ids":["28d848bf-c09f-4481-b850-93192a12d13d"],"lb":{"backend_count":0,"created_at":"2025-01-24T14:11:53.513528Z","description":"","frontend_count":0,"id":"ac619eb7-de06-4c66-a5af-42a5367748a3","instances":[],"ip":[{"id":"eac13abf-7a89-429f-b421-e13cbcf3aad3","ip_address":"195.154.71.34","lb_id":"ac619eb7-de06-4c66-a5af-42a5367748a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-71-34.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:58.773674Z","zone":"fr-par-1"},"private_network_id":"e223548b-52b9-43ab-ba75-22d7346e0a32","status":"pending","updated_at":"2025-01-24T14:12:24.334951Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.325792ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-01-24T14:11:53.275551Z","id":"28d848bf-c09f-4481-b850-93192a12d13d","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"ac619eb7-de06-4c66-a5af-42a5367748a3","mac_address":"02:00:00:1E:6A:11","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"2ec1f5c3-9fff-4f22-a5b4-fec9b43b7f7b"},"tags":[],"updated_at":"2025-01-24T14:12:25.405441Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.047ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac619eb7-de06-4c66-a5af-42a5367748a3/private-networks/e223548b-52b9-43ab-ba75-22d7346e0a32/detach
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 285.834209ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac619eb7-de06-4c66-a5af-42a5367748a3?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 301.311792ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac619eb7-de06-4c66-a5af-42a5367748a3
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.222917ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e223548b-52b9-43ab-ba75-22d7346e0a32
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"e223548b-52b9-43ab-ba75-22d7346e0a32","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.164916ms
