---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-04-07T14:20:53.474867Z","id":"24dcd1fe-e882-47cb-9744-e3311395f5a4","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-04-07T14:20:53.474867Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.63133ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/24dcd1fe-e882-47cb-9744-e3311395f5a4
        method: GET
      response:
        body: '{"created_at":"2025-04-07T14:20:53.474867Z","id":"24dcd1fe-e882-47cb-9744-e3311395f5a4","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-04-07T14:20:53.474867Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.216493ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hungry-nobel","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"24dcd1fe-e882-47cb-9744-e3311395f5a4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-07T14:20:53.652436Z","dhcp_enabled":true,"id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","name":"tf-pn-hungry-nobel","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-04-07T14:20:53.652436Z","id":"7fd899b9-229f-4b3c-91b9-3834ed7774cb","private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-04-07T14:20:53.652436Z","vpc_id":"24dcd1fe-e882-47cb-9744-e3311395f5a4"},{"created_at":"2025-04-07T14:20:53.652436Z","id":"8d2ee3b0-14f8-4362-9c95-93d057bc626d","private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:1b84::/64","updated_at":"2025-04-07T14:20:53.652436Z","vpc_id":"24dcd1fe-e882-47cb-9744-e3311395f5a4"}],"tags":[],"updated_at":"2025-04-07T14:20:53.652436Z","vpc_id":"24dcd1fe-e882-47cb-9744-e3311395f5a4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 577.452797ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1824a7a5-d562-41ff-abd6-34f89c1fe1d4
        method: GET
      response:
        body: '{"created_at":"2025-04-07T14:20:53.652436Z","dhcp_enabled":true,"id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","name":"tf-pn-hungry-nobel","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-04-07T14:20:53.652436Z","id":"7fd899b9-229f-4b3c-91b9-3834ed7774cb","private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-04-07T14:20:53.652436Z","vpc_id":"24dcd1fe-e882-47cb-9744-e3311395f5a4"},{"created_at":"2025-04-07T14:20:53.652436Z","id":"8d2ee3b0-14f8-4362-9c95-93d057bc626d","private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:1b84::/64","updated_at":"2025-04-07T14:20:53.652436Z","vpc_id":"24dcd1fe-e882-47cb-9744-e3311395f5a4"}],"tags":[],"updated_at":"2025-04-07T14:20:53.652436Z","vpc_id":"24dcd1fe-e882-47cb-9744-e3311395f5a4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.057589ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-04-07T14:20:54.929961Z","id":"0d49fa8e-9c49-44f0-9d3b-fa746784762d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"7fd899b9-229f-4b3c-91b9-3834ed7774cb"},"tags":[],"updated_at":"2025-04-07T14:20:54.929961Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 787.403807ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/0d49fa8e-9c49-44f0-9d3b-fa746784762d
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-04-07T14:20:54.929961Z","id":"0d49fa8e-9c49-44f0-9d3b-fa746784762d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"7fd899b9-229f-4b3c-91b9-3834ed7774cb"},"tags":[],"updated_at":"2025-04-07T14:20:54.929961Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.153488ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-04-07T14:20:55.276754947Z","description":"","frontend_count":0,"id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","instances":[],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:20:55.276754947Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.858929ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2c35c9df-631e-4a48-b551-adfa3e8d72d4
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-04-07T14:20:55.276755Z","description":"","frontend_count":0,"id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","instances":[],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:20:55.276755Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.91779ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","ipam_ids":["0d49fa8e-9c49-44f0-9d3b-fa746784762d"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2c35c9df-631e-4a48-b551-adfa3e8d72d4/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-04-07T14:21:26.021736017Z","dhcp_config":{"ip_id":"0d49fa8e-9c49-44f0-9d3b-fa746784762d"},"ipam_ids":["0d49fa8e-9c49-44f0-9d3b-fa746784762d"],"lb":{"backend_count":0,"created_at":"2025-04-07T14:20:55.276755Z","description":"","frontend_count":0,"id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","instances":[{"created_at":"2025-04-07T13:22:23.951086Z","id":"3a218c6d-381b-4955-a711-83f91f56a1b7","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-04-07T14:20:57.701875Z","zone":"fr-par-1"}],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:20:59.109597Z","zone":"fr-par-1"},"private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","status":"pending","updated_at":"2025-04-07T14:21:26.021736017Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.641944ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2c35c9df-631e-4a48-b551-adfa3e8d72d4/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-04-07T14:21:26.021736Z","dhcp_config":{"ip_id":"0d49fa8e-9c49-44f0-9d3b-fa746784762d"},"ipam_ids":["0d49fa8e-9c49-44f0-9d3b-fa746784762d"],"lb":{"backend_count":0,"created_at":"2025-04-07T14:20:55.276755Z","description":"","frontend_count":0,"id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","instances":[],"ip":[{"id":"b2e2df2b-b3f0-4eb6-9e17-14e34d2f85ca","ip_address":"51.159.26.117","lb_id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-117.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-04-07T14:20:59.109597Z","zone":"fr-par-1"},"private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","status":"pending","updated_at":"2025-04-07T14:21:26.021736Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.154799ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-04-07T14:20:54.929961Z","id":"0d49fa8e-9c49-44f0-9d3b-fa746784762d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"2c35c9df-631e-4a48-b551-adfa3e8d72d4","mac_address":"02:00:00:12:F5:F0","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"7fd899b9-229f-4b3c-91b9-3834ed7774cb"},"tags":[],"updated_at":"2025-04-07T14:21:26.845123Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.982868ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2c35c9df-631e-4a48-b551-adfa3e8d72d4/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 369.183125ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2c35c9df-631e-4a48-b551-adfa3e8d72d4?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 307.18991ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2c35c9df-631e-4a48-b551-adfa3e8d72d4
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.624043ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1824a7a5-d562-41ff-abd6-34f89c1fe1d4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"1824a7a5-d562-41ff-abd6-34f89c1fe1d4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.067271ms
