---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-07-03T14:36:54.863555Z","id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-07-03T14:36:54.863555Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.108703ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5a9ffbf1-eb28-42aa-bd45-60938c64e1a8
        method: GET
      response:
        body: '{"created_at":"2024-07-03T14:36:54.863555Z","id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-07-03T14:36:54.863555Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.291725ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-laughing-kapitsa","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-07-03T14:36:55.106829Z","dhcp_enabled":true,"id":"80913562-dafa-4b37-a591-5af46234e229","name":"tf-pn-laughing-kapitsa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-07-03T14:36:55.106829Z","id":"a4604ca6-798e-46ba-9120-1c425c6951f6","private_network_id":"80913562-dafa-4b37-a591-5af46234e229","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-07-03T14:36:55.106829Z","vpc_id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8"},{"created_at":"2024-07-03T14:36:55.106829Z","id":"a3c2a3da-e883-44c1-9fcd-f1f1aed93644","private_network_id":"80913562-dafa-4b37-a591-5af46234e229","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a002::/64","updated_at":"2024-07-03T14:36:55.106829Z","vpc_id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8"}],"tags":[],"updated_at":"2024-07-03T14:36:55.106829Z","vpc_id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 608.992994ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/80913562-dafa-4b37-a591-5af46234e229
        method: GET
      response:
        body: '{"created_at":"2024-07-03T14:36:55.106829Z","dhcp_enabled":true,"id":"80913562-dafa-4b37-a591-5af46234e229","name":"tf-pn-laughing-kapitsa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-07-03T14:36:55.106829Z","id":"a4604ca6-798e-46ba-9120-1c425c6951f6","private_network_id":"80913562-dafa-4b37-a591-5af46234e229","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-07-03T14:36:55.106829Z","vpc_id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8"},{"created_at":"2024-07-03T14:36:55.106829Z","id":"a3c2a3da-e883-44c1-9fcd-f1f1aed93644","private_network_id":"80913562-dafa-4b37-a591-5af46234e229","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a002::/64","updated_at":"2024-07-03T14:36:55.106829Z","vpc_id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8"}],"tags":[],"updated_at":"2024-07-03T14:36:55.106829Z","vpc_id":"5a9ffbf1-eb28-42aa-bd45-60938c64e1a8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.089369ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"80913562-dafa-4b37-a591-5af46234e229"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2024-07-03T14:36:55.888663Z","id":"f0fdfe45-0bbb-4d4e-ba9e-304b020a502d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a4604ca6-798e-46ba-9120-1c425c6951f6"},"tags":[],"updated_at":"2024-07-03T14:36:55.888663Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.592672ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f0fdfe45-0bbb-4d4e-ba9e-304b020a502d
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2024-07-03T14:36:55.888663Z","id":"f0fdfe45-0bbb-4d4e-ba9e-304b020a502d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"a4604ca6-798e-46ba-9120-1c425c6951f6"},"tags":[],"updated_at":"2024-07-03T14:36:55.888663Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.705798ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2024-07-03T14:36:56.221722718Z","description":"","frontend_count":0,"id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","instances":[],"ip":[{"id":"1df060c8-4d56-4e9e-a18b-51ce0ac6ddc9","ip_address":"195.154.73.218","lb_id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-218.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-07-03T14:36:56.221722718Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 345.161138ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcb673ff-59d5-49f1-8c94-0f000e5df2e9
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2024-07-03T14:36:56.221723Z","description":"","frontend_count":0,"id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","instances":[],"ip":[{"id":"1df060c8-4d56-4e9e-a18b-51ce0ac6ddc9","ip_address":"195.154.73.218","lb_id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-218.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-07-03T14:36:56.221723Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.9372ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"ipam_ids":["f0fdfe45-0bbb-4d4e-ba9e-304b020a502d"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcb673ff-59d5-49f1-8c94-0f000e5df2e9/private-networks/80913562-dafa-4b37-a591-5af46234e229/attach
        method: POST
      response:
        body: '{"created_at":"2024-07-03T14:37:26.952603256Z","dhcp_config":{"ip_id":"f0fdfe45-0bbb-4d4e-ba9e-304b020a502d"},"ipam_ids":["f0fdfe45-0bbb-4d4e-ba9e-304b020a502d"],"lb":{"backend_count":0,"created_at":"2024-07-03T14:36:56.221723Z","description":"","frontend_count":0,"id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","instances":[{"created_at":"2024-07-03T14:35:43.231058Z","id":"6ab2983d-b543-440d-b4d6-2b66b4f5cd90","ip_address":"","region":"fr-par","status":"ready","updated_at":"2024-07-03T14:36:58.299968Z","zone":"fr-par-1"}],"ip":[{"id":"1df060c8-4d56-4e9e-a18b-51ce0ac6ddc9","ip_address":"195.154.73.218","lb_id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-218.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-07-03T14:36:59.383985Z","zone":"fr-par-1"},"private_network_id":"80913562-dafa-4b37-a591-5af46234e229","status":"pending","updated_at":"2024-07-03T14:37:26.952603256Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 507.706799ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcb673ff-59d5-49f1-8c94-0f000e5df2e9/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2024-07-03T14:37:26.952603Z","dhcp_config":{"ip_id":"f0fdfe45-0bbb-4d4e-ba9e-304b020a502d"},"ipam_ids":["f0fdfe45-0bbb-4d4e-ba9e-304b020a502d"],"lb":{"backend_count":0,"created_at":"2024-07-03T14:36:56.221723Z","description":"","frontend_count":0,"id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","instances":[],"ip":[{"id":"1df060c8-4d56-4e9e-a18b-51ce0ac6ddc9","ip_address":"195.154.73.218","lb_id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-218.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-07-03T14:36:59.383985Z","zone":"fr-par-1"},"private_network_id":"80913562-dafa-4b37-a591-5af46234e229","status":"pending","updated_at":"2024-07-03T14:37:26.952603Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.857309ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2024-07-03T14:36:55.888663Z","id":"f0fdfe45-0bbb-4d4e-ba9e-304b020a502d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"fcb673ff-59d5-49f1-8c94-0f000e5df2e9","mac_address":"02:00:00:1D:2B:F3","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"a4604ca6-798e-46ba-9120-1c425c6951f6"},"tags":[],"updated_at":"2024-07-03T14:37:27.827554Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.222951ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcb673ff-59d5-49f1-8c94-0f000e5df2e9/private-networks/80913562-dafa-4b37-a591-5af46234e229/detach
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 283.423041ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcb673ff-59d5-49f1-8c94-0f000e5df2e9?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 297.967678ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcb673ff-59d5-49f1-8c94-0f000e5df2e9
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.612654ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/80913562-dafa-4b37-a591-5af46234e229
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"80913562-dafa-4b37-a591-5af46234e229","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.812675ms
