---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:42:19.317771Z","id":"a8bd5ad5-656b-418b-b9f8-23e98443b809","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T18:42:19.317771Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.507606ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a8bd5ad5-656b-418b-b9f8-23e98443b809
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:42:19.317771Z","id":"a8bd5ad5-656b-418b-b9f8-23e98443b809","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T18:42:19.317771Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.765853ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-great-chatterjee","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"a8bd5ad5-656b-418b-b9f8-23e98443b809"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:42:19.452134Z","dhcp_enabled":true,"id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","name":"tf-pn-great-chatterjee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:42:19.452134Z","id":"727c4c6b-04d0-475b-bc89-d0bd35281902","private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-05T18:42:19.452134Z","vpc_id":"a8bd5ad5-656b-418b-b9f8-23e98443b809"},{"created_at":"2025-05-05T18:42:19.452134Z","id":"56891659-24cd-472f-874b-3116ebd40d2d","private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:f5b2::/64","updated_at":"2025-05-05T18:42:19.452134Z","vpc_id":"a8bd5ad5-656b-418b-b9f8-23e98443b809"}],"tags":[],"updated_at":"2025-05-05T18:42:19.452134Z","vpc_id":"a8bd5ad5-656b-418b-b9f8-23e98443b809"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 835.995734ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/70faaf5f-f6e2-4095-9379-8956fa73f1c5
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:42:19.452134Z","dhcp_enabled":true,"id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","name":"tf-pn-great-chatterjee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:42:19.452134Z","id":"727c4c6b-04d0-475b-bc89-d0bd35281902","private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-05T18:42:19.452134Z","vpc_id":"a8bd5ad5-656b-418b-b9f8-23e98443b809"},{"created_at":"2025-05-05T18:42:19.452134Z","id":"56891659-24cd-472f-874b-3116ebd40d2d","private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:f5b2::/64","updated_at":"2025-05-05T18:42:19.452134Z","vpc_id":"a8bd5ad5-656b-418b-b9f8-23e98443b809"}],"tags":[],"updated_at":"2025-05-05T18:42:19.452134Z","vpc_id":"a8bd5ad5-656b-418b-b9f8-23e98443b809"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.48544ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","source":{"private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-05-05T18:42:20.537586Z","id":"9607c05e-38c8-4b47-ad5a-735beb90bbef","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"727c4c6b-04d0-475b-bc89-d0bd35281902"},"tags":[],"updated_at":"2025-05-05T18:42:20.537586Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 423.604069ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/9607c05e-38c8-4b47-ad5a-735beb90bbef
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-05-05T18:42:20.537586Z","id":"9607c05e-38c8-4b47-ad5a-735beb90bbef","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"727c4c6b-04d0-475b-bc89-d0bd35281902"},"tags":[],"updated_at":"2025-05-05T18:42:20.537586Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.590049ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-05-05T18:42:21.020771407Z","description":"","frontend_count":0,"id":"2780636f-3813-4aac-a071-441a65fc5424","instances":[],"ip":[{"id":"02454f06-2654-48c3-b8bf-a91ab648113f","ip_address":"51.159.113.142","lb_id":"2780636f-3813-4aac-a071-441a65fc5424","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-113-142.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:21.020771407Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.07061ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2780636f-3813-4aac-a071-441a65fc5424
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-05-05T18:42:21.020771Z","description":"","frontend_count":0,"id":"2780636f-3813-4aac-a071-441a65fc5424","instances":[],"ip":[{"id":"02454f06-2654-48c3-b8bf-a91ab648113f","ip_address":"51.159.113.142","lb_id":"2780636f-3813-4aac-a071-441a65fc5424","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-113-142.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:21.020771Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.663683ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","ipam_ids":["9607c05e-38c8-4b47-ad5a-735beb90bbef"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2780636f-3813-4aac-a071-441a65fc5424/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:42:51.876667322Z","dhcp_config":{"ip_id":"9607c05e-38c8-4b47-ad5a-735beb90bbef"},"ipam_ids":["9607c05e-38c8-4b47-ad5a-735beb90bbef"],"lb":{"backend_count":0,"created_at":"2025-05-05T18:42:21.020771Z","description":"","frontend_count":0,"id":"2780636f-3813-4aac-a071-441a65fc5424","instances":[{"created_at":"2025-05-05T18:30:54.775240Z","id":"c8395f65-f12a-4cbb-8a73-cef89579f7e2","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-05-05T18:42:22.870330Z","zone":"fr-par-1"}],"ip":[{"id":"02454f06-2654-48c3-b8bf-a91ab648113f","ip_address":"51.159.113.142","lb_id":"2780636f-3813-4aac-a071-441a65fc5424","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-113-142.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":1,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:24.215546Z","zone":"fr-par-1"},"private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","status":"pending","updated_at":"2025-05-05T18:42:51.876667322Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.572146529s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2780636f-3813-4aac-a071-441a65fc5424/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-05-05T18:42:51.876667Z","dhcp_config":{"ip_id":"9607c05e-38c8-4b47-ad5a-735beb90bbef"},"ipam_ids":["9607c05e-38c8-4b47-ad5a-735beb90bbef"],"lb":{"backend_count":0,"created_at":"2025-05-05T18:42:21.020771Z","description":"","frontend_count":0,"id":"2780636f-3813-4aac-a071-441a65fc5424","instances":[],"ip":[{"id":"02454f06-2654-48c3-b8bf-a91ab648113f","ip_address":"51.159.113.142","lb_id":"2780636f-3813-4aac-a071-441a65fc5424","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","reverse":"51-159-113-142.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":1,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-05T18:42:24.215546Z","zone":"fr-par-1"},"private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","status":"pending","updated_at":"2025-05-05T18:42:51.876667Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 509.986718ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=70faaf5f-f6e2-4095-9379-8956fa73f1c5&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-05-05T18:42:20.537586Z","id":"9607c05e-38c8-4b47-ad5a-735beb90bbef","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"2780636f-3813-4aac-a071-441a65fc5424","mac_address":"02:00:00:18:3E:F9","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"727c4c6b-04d0-475b-bc89-d0bd35281902"},"tags":[],"updated_at":"2025-05-05T18:42:52.668001Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.578809ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-05-05T18:42:20.537586Z","id":"9607c05e-38c8-4b47-ad5a-735beb90bbef","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"2780636f-3813-4aac-a071-441a65fc5424","mac_address":"02:00:00:18:3E:F9","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"727c4c6b-04d0-475b-bc89-d0bd35281902"},"tags":[],"updated_at":"2025-05-05T18:42:52.668001Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.959913ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2780636f-3813-4aac-a071-441a65fc5424/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 511.395002ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2780636f-3813-4aac-a071-441a65fc5424?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 429.634764ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2780636f-3813-4aac-a071-441a65fc5424
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.227248ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/70faaf5f-f6e2-4095-9379-8956fa73f1c5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"70faaf5f-f6e2-4095-9379-8956fa73f1c5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.921474ms
