---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.473375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/e9821bd5-e65d-48a6-9f19-b64ab68ab6a7
        method: GET
      response:
        body: '{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.0295ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn-with-lb-static","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:11:41.351836Z","dhcp_enabled":true,"id":"80f5ff95-9406-4917-852f-002c5c885f86","name":"pn-with-lb-static","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:11:41.351836Z","id":"2bf3f556-c327-432f-8ca5-3d671e85c84e","private_network_id":"80f5ff95-9406-4917-852f-002c5c885f86","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:11:41.351836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:11:41.351836Z","id":"11986589-3098-4793-b423-0628c18146d4","private_network_id":"80f5ff95-9406-4917-852f-002c5c885f86","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2131::/64","updated_at":"2025-01-24T14:11:41.351836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:11:41.351836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 519.476958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/80f5ff95-9406-4917-852f-002c5c885f86
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:11:41.351836Z","dhcp_enabled":true,"id":"80f5ff95-9406-4917-852f-002c5c885f86","name":"pn-with-lb-static","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:11:41.351836Z","id":"2bf3f556-c327-432f-8ca5-3d671e85c84e","private_network_id":"80f5ff95-9406-4917-852f-002c5c885f86","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:11:41.351836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:11:41.351836Z","id":"11986589-3098-4793-b423-0628c18146d4","private_network_id":"80f5ff95-9406-4917-852f-002c5c885f86","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2131::/64","updated_at":"2025-01-24T14:11:41.351836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:11:41.351836Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.914708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:42.002556574Z","description":"","frontend_count":0,"id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","instances":[],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:42.002556574Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.360625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/255c0f2e-34ca-444f-9556-04eb3c22b34a
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:11:42.002557Z","description":"","frontend_count":0,"id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","instances":[{"created_at":"2025-01-24T14:09:14.653066Z","id":"c0587f85-e230-41a2-a7df-d24bd287f426","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-01-24T14:11:42.261071Z","zone":"fr-par-1"}],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:42.267455Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.326958ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/255c0f2e-34ca-444f-9556-04eb3c22b34a/private-networks/80f5ff95-9406-4917-852f-002c5c885f86/attach
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:12:12.999334377Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-01-24T14:11:42.002557Z","description":"","frontend_count":0,"id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","instances":[{"created_at":"2025-01-24T14:09:14.653066Z","id":"c0587f85-e230-41a2-a7df-d24bd287f426","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-01-24T14:11:44.005445Z","zone":"fr-par-1"}],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:45.456709Z","zone":"fr-par-1"},"private_network_id":"80f5ff95-9406-4917-852f-002c5c885f86","status":"pending","updated_at":"2025-01-24T14:12:12.999334377Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 402.441667ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/255c0f2e-34ca-444f-9556-04eb3c22b34a/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-01-24T14:12:12.999334Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2025-01-24T14:11:42.002557Z","description":"","frontend_count":0,"id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","instances":[],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"255c0f2e-34ca-444f-9556-04eb3c22b34a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:11:45.456709Z","zone":"fr-par-1"},"private_network_id":"80f5ff95-9406-4917-852f-002c5c885f86","status":"pending","updated_at":"2025-01-24T14:12:12.999334Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.016667ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/255c0f2e-34ca-444f-9556-04eb3c22b34a/private-networks/80f5ff95-9406-4917-852f-002c5c885f86/detach
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 295.3555ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/255c0f2e-34ca-444f-9556-04eb3c22b34a?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 309.147708ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/255c0f2e-34ca-444f-9556-04eb3c22b34a
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.486667ms
[...]
