---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.923029ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a6154d85-af1e-452e-abba-5114c4a049f2
    method: GET
  response:
    body: "{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.046295ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn-with-lb-static\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"name\":\"pn-with-lb-static\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:27:51.481886Z\",\"updated_at\":\"2025-09-01T15:27:51.481886Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"c0aa5395-0fd6-4a64-aeb9-3119bd64bee6\",\"created_at\":\"2025-09-01T15:27:51.481886Z\",\"updated_at\":\"2025-09-01T15:27:51.481886Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"dd302724-7c65-40a4-8db7-8ff3ffb75e82\",\"created_at\":\"2025-09-01T15:27:51.481886Z\",\"updated_at\":\"2025-09-01T15:27:51.481886Z\",\"subnet\":\"fd5f:519c:6d46:86e::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 699.34271ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6c12c302-2a3f-4aa5-b2c6-ef5dc689113c
    method: GET
  response:
    body: "{\"id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"name\":\"pn-with-lb-static\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:27:51.481886Z\",\"updated_at\":\"2025-09-01T15:27:51.481886Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"c0aa5395-0fd6-4a64-aeb9-3119bd64bee6\",\"created_at\":\"2025-09-01T15:27:51.481886Z\",\"updated_at\":\"2025-09-01T15:27:51.481886Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"dd302724-7c65-40a4-8db7-8ff3ffb75e82\",\"created_at\":\"2025-09-01T15:27:51.481886Z\",\"updated_at\":\"2025-09-01T15:27:51.481886Z\",\"subnet\":\"fd5f:519c:6d46:86e::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.271739ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb-with-pn-static-cidr\",\"description\":\"\",\"ip_id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_ids\":[],\"tags\":null,\"type\":\"LB-S\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"name\":\"test-lb-with-pn-static-cidr\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:52.360289441Z\",\"updated_at\":\"2025-09-01T15:27:52.360289441Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 431.058429ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3d7d1065-c2b1-4dd8-bed0-a1b927866519
    method: GET
  response:
    body: "{\"id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"name\":\"test-lb-with-pn-static-cidr\",\"description\":\"\",\"status\":\"creating\",\"instances\":[{\"id\":\"16f2e6c2-2893-4cfa-a8b8-bfbe95adaffe\",\"status\":\"unknown\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:27:09.972857Z\",\"updated_at\":\"[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"ipam_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3d7d1065-c2b1-4dd8-bed0-a1b927866519/attach-private-network
    method: POST
  response:
    body: "{\"lb\":{\"id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"name\":\"test-lb-with-pn-static-cidr\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"16f2e6c2-2893-4cfa-a8b8-bfbe95adaffe\",\"status\":\"ready\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T15:27:09.972857Z\",\"updated_at\":\"2025-09-01T15:27:55.043278Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:52.360289Z\",\"updated_at\":\"2025-09-01T15:27:56.378359Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"status\":\"pending\",\"created_at\":\"2025-09-01T15:28:23.085811848Z\",\"updated_at\":\"2025-09-01T15:28:23.085811848Z\",\"dhcp_config\":{\"ip_id\":null},\"ipam_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 630.74996ms
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3d7d1065-c2b1-4dd8-bed0-a1b927866519/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[{\"lb\":{\"id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"name\":\"test-lb-with-pn-static-cidr\",\"description\":\"\",\"status\":\"ready\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"a6154d85-af1e-452e-abba-5114c4a049f2\",\"ip_address\":\"195.154.75.4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"reverse\":\"195-154-75-4.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:27:52.360289Z\",\"updated_at\":\"2025-09-01T15:27:56.378359Z\",\"private_network_count\":1,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\",\"status\":\"pending\",\"created_at\":\"2025-09-01T15:28:23.085812Z\",\"updated_at\":\"2025-09-01T15:28:23.085812Z\",\"dhcp_config\":{\"ip_id\":null},\"ipam_ids\":[]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 211.352677ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 6c12c302-2a3f-4aa5-b2c6-ef5dc689113c
      resource_type:
      - lb_server
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=6c12c302-2a3f-4aa5-b2c6-ef5dc689113c&resource_type=lb_server
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"54d6bb31-f79c-491a-af53-d44f131f8c42\",\"address\":\"172.16.64.2/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-01T15:28:23.765092Z\",\"updated_at\":\"2025-09-01T15:28:24.477123Z\",\"source\":{\"subnet_id\":\"c0aa5395-0fd6-4a64-aeb9-3119bd64bee6\"},\"resource\":{\"type\":\"lb_server\",\"id\":\"3d7d1065-c2b1-4dd8-bed0-a1b927866519\",\"mac_address\":\"02:00:00:1D:04:85\",\"name\":\"test-lb-with-pn-static-cidr\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 245.410072ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    body: "{\"private_network_id\":\"6c12c302-2a3f-4aa5-b2c6-ef5dc689113c\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3d7d1065-c2b1-4dd8-bed0-a1b927866519/detach-private-network
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 393.574305ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3d7d1065-c2b1-4dd8-bed0-a1b927866519?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 379.058448ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3d7d1065-c2b1-4dd8-bed0-a1b927866519
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.710399ms
[...]
