---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-10-01T22:16:43.465934Z","id":"c2198b79-087a-45ac-9013-3a2d2649bf75","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-01T22:16:43.465934Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.996836ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c2198b79-087a-45ac-9013-3a2d2649bf75
        method: GET
      response:
        body: '{"created_at":"2024-10-01T22:16:43.465934Z","id":"c2198b79-087a-45ac-9013-3a2d2649bf75","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-01T22:16:43.465934Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.048271ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-confident-matsumoto","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"c2198b79-087a-45ac-9013-3a2d2649bf75"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-01T22:16:43.771152Z","dhcp_enabled":true,"id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","name":"tf-pn-confident-matsumoto","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:16:43.771152Z","id":"0fe9f208-f3a0-4885-ae2b-5a2bd771c5ae","private_network_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-10-01T22:16:43.771152Z","vpc_id":"c2198b79-087a-45ac-9013-3a2d2649bf75"},{"created_at":"2024-10-01T22:16:43.771152Z","id":"6d60f329-9cff-4f21-bf75-a719372a1ef4","private_network_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8fef::/64","updated_at":"2024-10-01T22:16:43.771152Z","vpc_id":"c2198b79-087a-45ac-9013-3a2d2649bf75"}],"tags":[],"updated_at":"2024-10-01T22:16:43.771152Z","vpc_id":"c2198b79-087a-45ac-9013-3a2d2649bf75"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 644.282975ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8
        method: GET
      response:
        body: '{"created_at":"2024-10-01T22:16:43.771152Z","dhcp_enabled":true,"id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","name":"tf-pn-confident-matsumoto","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:16:43.771152Z","id":"0fe9f208-f3a0-4885-ae2b-5a2bd771c5ae","private_network_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2024-10-01T22:16:43.771152Z","vpc_id":"c2198b79-087a-45ac-9013-3a2d2649bf75"},{"created_at":"2024-10-01T22:16:43.771152Z","id":"6d60f329-9cff-4f21-bf75-a719372a1ef4","private_network_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8fef::/64","updated_at":"2024-10-01T22:16:43.771152Z","vpc_id":"c2198b79-087a-45ac-9013-3a2d2649bf75"}],"tags":[],"updated_at":"2024-10-01T22:16:43.771152Z","vpc_id":"c2198b79-087a-45ac-9013-3a2d2649bf75"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.019284ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2024-10-01T22:16:44.512854Z","id":"fe510cb5-4e23-4cf0-bc40-b8d707cacb1e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"0fe9f208-f3a0-4885-ae2b-5a2bd771c5ae"},"tags":[],"updated_at":"2024-10-01T22:16:44.512854Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.441772ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/fe510cb5-4e23-4cf0-bc40-b8d707cacb1e
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2024-10-01T22:16:44.512854Z","id":"fe510cb5-4e23-4cf0-bc40-b8d707cacb1e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"0fe9f208-f3a0-4885-ae2b-5a2bd771c5ae"},"tags":[],"updated_at":"2024-10-01T22:16:44.512854Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.111058ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2024-10-01T22:16:44.779021657Z","description":"","frontend_count":0,"id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","instances":[],"ip":[{"id":"dc4468c8-97a7-445f-835c-712e5b99357e","ip_address":"195.154.73.244","lb_id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-244.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-10-01T22:16:44.779021657Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 426.293092ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/65d6aa07-ce4c-4967-b7cd-2fe51858ed8a
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2024-10-01T22:16:44.779022Z","description":"","frontend_count":0,"id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","instances":[{"created_at":"2024-10-01T22:11:00.938099Z","id":"44c2603c-b992-4c37-9ef8-74ff42105d1[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"ipam_ids":["fe510cb5-4e23-4cf0-bc40-b8d707cacb1e"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/65d6aa07-ce4c-4967-b7cd-2fe51858ed8a/private-networks/9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8/attach
        method: POST
      response:
        body: '{"created_at":"2024-10-01T22:17:15.552165444Z","dhcp_config":{"ip_id":"fe510cb5-4e23-4cf0-bc40-b8d707cacb1e"},"ipam_ids":["fe510cb5-4e23-4cf0-bc40-b8d707cacb1e"],"lb":{"backend_count":0,"created_at":"2024-10-01T22:16:44.779022Z","description":"","frontend_count":0,"id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","instances":[{"created_at":"2024-10-01T22:11:00.938099Z","id":"44c2603c-b992-4c37-9ef8-74ff42105d12","ip_address":"","region":"fr-par","status":"ready","updated_at":"2024-10-01T22:16:46.807809Z","zone":"fr-par-1"}],"ip":[{"id":"dc4468c8-97a7-445f-835c-712e5b99357e","ip_address":"195.154.73.244","lb_id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-244.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-10-01T22:16:48.229748Z","zone":"fr-par-1"},"private_network_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","status":"pending","updated_at":"2024-10-01T22:17:15.552165444Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 429.166942ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/65d6aa07-ce4c-4967-b7cd-2fe51858ed8a/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2024-10-01T22:17:15.552165Z","dhcp_config":{"ip_id":"fe510cb5-4e23-4cf0-bc40-b8d707cacb1e"},"ipam_ids":["fe510cb5-4e23-4cf0-bc40-b8d707cacb1e"],"lb":{"backend_count":0,"created_at":"2024-10-01T22:16:44.779022Z","description":"","frontend_count":0,"id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","instances":[],"ip":[{"id":"dc4468c8-97a7-445f-835c-712e5b99357e","ip_address":"195.154.73.244","lb_id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-244.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-10-01T22:16:48.229748Z","zone":"fr-par-1"},"private_network_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","status":"pending","updated_at":"2024-10-01T22:17:15.552165Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.95745ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2024-10-01T22:16:44.512854Z","id":"fe510cb5-4e23-4cf0-bc40-b8d707cacb1e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","mac_address":"02:00:00:1A:D0:E1","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"0fe9f208-f3a0-4885-ae2b-5a2bd771c5ae"},"tags":[],"updated_at":"2024-10-01T22:17:16.470275Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.758458ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2024-10-01T22:16:44.512854Z","id":"fe510cb5-4e23-4cf0-bc40-b8d707cacb1e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"65d6aa07-ce4c-4967-b7cd-2fe51858ed8a","mac_address":"02:00:00:1A:D0:E1","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"0fe9f208-f3a0-4885-ae2b-5a2bd771c5ae"},"tags":[],"updated_at":"2024-10-01T22:17:16.470275Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.752702ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/65d6aa07-ce4c-4967-b7cd-2fe51858ed8a/private-networks/9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8/detach
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 262.311351ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/65d6aa07-ce4c-4967-b7cd-2fe51858ed8a?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 358.021427ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/65d6aa07-ce4c-4967-b7cd-2fe51858ed8a
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.936408ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"9f7c1886-4ec4-4dcc-b3f8-2c946dc13aa8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.769227ms
