---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/6d04dadc-925a-4a56-a4b3-69d225e2230a
    method: GET
  response:
    body: '{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-13T16:00:15.049085Z","dhcp_enabled":true,"id":"19b5b527-5b61-429f-8b9d-9ad90cb3372d","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:00:15.049085Z","id":"103a84c4-054d-4299-b3fb-4dc55c2a09d8","subnet":"172.16.0.0/22","updated_at":"2023-10-13T16:00:15.049085Z"},{"created_at":"2023-10-13T16:00:15.049085Z","id":"0b450a3e-1039-4437-8793-1654d5ebf3c2","subnet":"fd46:78ab:30b8:cda9::/64","updated_at":"2023-10-13T16:00:15.049085Z"}],"tags":[],"updated_at":"2023-10-13T16:00:15.049085Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/19b5b527-5b61-429f-8b9d-9ad90cb3372d
    method: GET
  response:
    body: '{"created_at":"2023-10-13T16:00:15.049085Z","dhcp_enabled":true,"id":"19b5b527-5b61-429f-8b9d-9ad90cb3372d","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:00:15.049085Z","id":"103a84c4-054d-4299-b3fb-4dc55c2a09d8","subnet":"172.16.0.0/22","updated_at":"2023-10-13T16:00:15.049085Z"},{"created_at":"2023-10-13T16:00:15.049085Z","id":"0b450a3e-1039-4437-8793-1654d5ebf3c2","subnet":"fd46:78ab:30b8:cda9::/64","updated_at":"2023-10-13T16:00:15.049085Z"}],"tags":[],"updated_at":"2023-10-13T16:00:15.049085Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","assign_flexible_ip":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-10-13T16:00:17.156283199Z","description":"","frontend_count":0,"id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","instances":[],"ip":[{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-10-13T16:00:17.156283199Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/576ae01a-98e7-4527-8bf3-d0d97a1312fa
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-10-13T16:00:17.156283Z","description":"","frontend_count":0,"id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","instances":[],"ip":[{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-10-13T16:00:17.156283Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"static_config":{"ip_address":["192.168.1.1/25"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/576ae01a-98e7-4527-8bf3-d0d97a1312fa/private-networks/19b5b527-5b61-429f-8b9d-9ad90cb3372d/attach
    method: POST
  response:
    body: '{"created_at":"2023-10-13T16:00:47.686422776Z","ipam_ids":[],"lb":{"backend_count":0,"created_at":"2023-10-13T16:00:17.156283Z","description":"","frontend_count":0,"id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","instances":[{"created_at":"2023-10-13T15:58:12.806082Z","id":"4d3e8bb4-c489-4d91-8fc7-64de9030ba0a","ip_address":"","region":"fr-par","status":"ready","updated_at":"2023-10-13T16:00:23.406272Z","zone":"fr-par-1"}],"ip":[{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-10-13T16:00:24.713432Z","zone":"fr-par-1"},"private_network_id":"19b5b527-5b61-429f-8b9d-9ad90cb3372d","static_config":{"ip_address":["192.168.1.1/25"]},"status":"pending","updated_at":"2023-10-13T16:00:47.686422776Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/576ae01a-98e7-4527-8bf3-d0d97a1312fa/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-10-13T16:00:47.686423Z","ipam_ids":[],"lb":{"backend_count":0,"created_at":"2023-10-13T16:00:17.156283Z","description":"","frontend_count":0,"id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","instances":[],"ip":[{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":"576ae01a-98e7-4527-8bf3-d0d97a1312fa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-10-13T16:00:24.713432Z","zone":"fr-par-1"},"private_network_id":"19b5b527-5b61-429f-8b9d-9ad90cb3372d","static_config":{"ip_address":["192.168.1.1/25"]},"status":"pending","updated_at":"2023-10-13T16:00:47.686423Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/576ae01a-98e7-4527-8bf3-d0d97a1312fa/private-networks/19b5b527-5b61-429f-8b9d-9ad90cb3372d/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/576ae01a-98e7-4527-8bf3-d0d97a1312fa?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/576ae01a-98e7-4527-8bf3-d0d97a1312fa
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
