---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-10-01T14:00:58.681470Z","custom_routes_propagation_enabled":true,"id":"f6ff8af0-56d6-4fbd-9218-87f38020af72","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-10-01T14:00:58.681470Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.756083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f6ff8af0-56d6-4fbd-9218-87f38020af72
        method: GET
      response:
        body: '{"created_at":"2025-10-01T14:00:58.681470Z","custom_routes_propagation_enabled":true,"id":"f6ff8af0-56d6-4fbd-9218-87f38020af72","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-10-01T14:00:58.681470Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.187041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hopeful-wilbur","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"f6ff8af0-56d6-4fbd-9218-87f38020af72","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-10-01T14:00:58.845458Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","name":"tf-pn-hopeful-wilbur","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-10-01T14:00:58.845458Z","id":"6cca2372-36e4-456c-a641-19a981e7cdae","private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-10-01T14:00:58.845458Z","vpc_id":"f6ff8af0-56d6-4fbd-9218-87f38020af72"},{"created_at":"2025-10-01T14:00:58.845458Z","id":"8903b066-1f00-4ab4-ae7f-59d98908137d","private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:1b90::/64","updated_at":"2025-10-01T14:00:58.845458Z","vpc_id":"f6ff8af0-56d6-4fbd-9218-87f38020af72"}],"tags":[],"updated_at":"2025-10-01T14:00:58.845458Z","vpc_id":"f6ff8af0-56d6-4fbd-9218-87f38020af72"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.021167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/45ebb16d-77d9-4b8a-9097-2cab72f2dfaf
        method: GET
      response:
        body: '{"created_at":"2025-10-01T14:00:58.845458Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","name":"tf-pn-hopeful-wilbur","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-10-01T14:00:58.845458Z","id":"6cca2372-36e4-456c-a641-19a981e7cdae","private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.32.0/22","updated_at":"2025-10-01T14:00:58.845458Z","vpc_id":"f6ff8af0-56d6-4fbd-9218-87f38020af72"},{"created_at":"2025-10-01T14:00:58.845458Z","id":"8903b066-1f00-4ab4-ae7f-59d98908137d","private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:1b90::/64","updated_at":"2025-10-01T14:00:58.845458Z","vpc_id":"f6ff8af0-56d6-4fbd-9218-87f38020af72"}],"tags":[],"updated_at":"2025-10-01T14:00:58.845458Z","vpc_id":"f6ff8af0-56d6-4fbd-9218-87f38020af72"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.555667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf"},"is_ipv6":false,"address":"172.16.32.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-10-01T14:00:59.548483Z","id":"1c94458c-5e20-4052-9285-e06a47a927d5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"6cca2372-36e4-456c-a641-19a981e7cdae"},"tags":[],"updated_at":"2025-10-01T14:00:59.548483Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.019042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/1c94458c-5e20-4052-9285-e06a47a927d5
        method: GET
      response:
        body: '{"address":"172.16.32.7/22","created_at":"2025-10-01T14:00:59.548483Z","id":"1c94458c-5e20-4052-9285-e06a47a927d5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"6cca2372-36e4-456c-a641-19a981e7cdae"},"tags":[],"updated_at":"2025-10-01T14:00:59.548483Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.0025ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-private-network-ipam","description":"","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-10-01T14:00:59.774755177Z","description":"","frontend_count":0,"id":"b597ace6-b629-4590-89db-9b0b48283a07","instances":[],"ip":[{"id":"295f252b-394b-42a5-9ffd-18295fe43ede","ip_address":"51.159.10.66","lb_id":"b597ace6-b629-4590-89db-9b0b48283a07","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T14:00:59.774755177Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.939625ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b597ace6-b629-4590-89db-9b0b48283a07
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-10-01T14:00:59.774755Z","description":"","frontend_count":0,"id":"b597ace6-b629-4590-89db-9b0b48283a07","instances":[{"created_at":"2025-10-01T13:59:26.844287Z","id":"812ba4cf-f456-4277-bd48-9ea0988f6d13","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-10-01T14:01:00.034271Z","zone":"fr-par-1"}],"ip":[{"id":"295f252b-394b-42a5-9ffd-18295fe43ede","ip_address":"51.159.10.66","lb_id":"b597ace6-b629-4590-89db-9b0b48283a07","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T14:00:59.774755Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.308833ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","ipam_ids":["1c94458c-5e20-4052-9285-e06a47a927d5"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b597ace6-b629-4590-89db-9b0b48283a07/attach-private-network
        method: POST
      response:
        body: '{"created_at":"2025-10-01T14:01:30.774608743Z","dhcp_config":{"ip_id":"1c94458c-5e20-4052-9285-e06a47a927d5"},"ipam_ids":["1c94458c-5e20-4052-9285-e06a47a927d5"],"lb":{"backend_count":0,"created_at":"2025-10-01T14:00:59.774755Z","description":"","frontend_count":0,"id":"b597ace6-b629-4590-89db-9b0b48283a07","instances":[{"created_at":"2025-10-01T13:59:26.844287Z","id":"812ba4cf-f456-4277-bd48-9ea0988f6d13","ip_address":"","region":"fr-par","status":"ready","updated_at":"2025-10-01T14:01:02.049130Z","zone":"fr-par-1"}],"ip":[{"id":"295f252b-394b-42a5-9ffd-18295fe43ede","ip_address":"51.159.10.66","lb_id":"b597ace6-b629-4590-89db-9b0b48283a07","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T14:01:03.525921Z","zone":"fr-par-1"},"private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","status":"pending","updated_at":"2025-10-01T14:01:30.774608743Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 866.525459ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b597ace6-b629-4590-89db-9b0b48283a07/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2025-10-01T14:01:30.774609Z","dhcp_config":{"ip_id":"1c94458c-5e20-4052-9285-e06a47a927d5"},"ipam_ids":["1c94458c-5e20-4052-9285-e06a47a927d5"],"lb":{"backend_count":0,"created_at":"2025-10-01T14:00:59.774755Z","description":"","frontend_count":0,"id":"b597ace6-b629-4590-89db-9b0b48283a07","instances":[],"ip":[{"id":"295f252b-394b-42a5-9ffd-18295fe43ede","ip_address":"51.159.10.66","lb_id":"b597ace6-b629-4590-89db-9b0b48283a07","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-66.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-private-network-ipam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-10-01T14:01:03.525921Z","zone":"fr-par-1"},"private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","status":"pending","updated_at":"2025-10-01T14:01:30.774609Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.507667ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=45ebb16d-77d9-4b8a-9097-2cab72f2dfaf&resource_id=b597ace6-b629-4590-89db-9b0b48283a07&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-10-01T14:00:59.548483Z","id":"1c94458c-5e20-4052-9285-e06a47a927d5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"b597ace6-b629-4590-89db-9b0b48283a07","mac_address":"02:00:00:1A:98:2B","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"6cca2372-36e4-456c-a641-19a981e7cdae"},"tags":[],"updated_at":"2025-10-01T14:01:31.816420Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.272542ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-lb-with-private-network-ipam&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.7/22","created_at":"2025-10-01T14:00:59.548483Z","id":"1c94458c-5e20-4052-9285-e06a47a927d5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"b597ace6-b629-4590-89db-9b0b48283a07","mac_address":"02:00:00:1A:98:2B","name":"test-lb-with-private-network-ipam","type":"lb_server"},"reverses":[],"source":{"subnet_id":"6cca2372-36e4-456c-a641-19a981e7cdae"},"tags":[],"updated_at":"2025-10-01T14:01:31.816420Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.950417ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"private_network_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b597ace6-b629-4590-89db-9b0b48283a07/detach-private-network
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 504.097041ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b597ace6-b629-4590-89db-9b0b48283a07?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 636.8345ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b597ace6-b629-4590-89db-9b0b48283a07
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.765375ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/45ebb16d-77d9-4b8a-9097-2cab72f2dfaf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"45ebb16d-77d9-4b8a-9097-2cab72f2dfaf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.892334ms
