---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b9dbd021-4ac2-4861-9610-47b5aa91409e","ip_address":"51.159.8.46","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-46.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.421459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b9dbd021-4ac2-4861-9610-47b5aa91409e
        method: GET
      response:
        body: '{"id":"b9dbd021-4ac2-4861-9610-47b5aa91409e","ip_address":"51.159.8.46","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-46.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.61508ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:30:54.935264Z","dhcp_enabled":true,"id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:30:54.935264Z","id":"debceff1-7769-47d7-824f-49543cca802b","private_network_id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:30:54.935264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:30:54.935264Z","id":"389aa564-057d-4ede-bbd0-da8f31e7b583","private_network_id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7dde::/64","updated_at":"2024-10-03T17:30:54.935264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:30:54.935264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.556779ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:30:54.935264Z","dhcp_enabled":true,"id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:30:54.935264Z","id":"debceff1-7769-47d7-824f-49543cca802b","private_network_id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:30:54.935264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:30:54.935264Z","id":"389aa564-057d-4ede-bbd0-da8f31e7b583","private_network_id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7dde::/64","updated_at":"2024-10-03T17:30:54.935264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:30:54.935264Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.17283ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"b9dbd021-4ac2-4861-9610-47b5aa91409e","ip_ids":[],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2024-10-03T17:30:55.632172727Z","description":"","frontend_count":0,"id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","instances":[],"ip":[{"id":"b9dbd021-4ac2-4861-9610-47b5aa91409e","ip_address":"51.159.8.46","lb_id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-46.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-10-03T17:30:55.632172727Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.184662ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/275f49c4-7d26-478c-9a92-5d551ab7dafe
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2024-10-03T17:30:55.632173Z","description":"","frontend_count":0,"id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","instances":[],"ip":[{"id":"b9dbd021-4ac2-4861-9610-47b5aa91409e","ip_address":"51.159.8.46","lb_id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-46.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-10-03T17:30:55.632173Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.647724ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"ipam_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/275f49c4-7d26-478c-9a92-5d551ab7dafe/private-networks/5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd/attach
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:31:26.137726778Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2024-10-03T17:30:55.632173Z","description":"","frontend_count":0,"id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","instances":[{"created_at":"2024-10-03T17:29:29.586265Z","id":"a450bee1-124b-464a-90b4-e0fa85d8445b","ip_address":"","region":"fr-par","status":"ready","updated_at":"2024-10-03T17:30:57.547790Z","zone":"fr-par-1"}],"ip":[{"id":"b9dbd021-4ac2-4861-9610-47b5aa91409e","ip_address":"51.159.8.46","lb_id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-46.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-10-03T17:30:58.793994Z","zone":"fr-par-1"},"private_network_id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","status":"pending","updated_at":"2024-10-03T17:31:26.137726778Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.952743ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/275f49c4-7d26-478c-9a92-5d551ab7dafe/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[{"created_at":"2024-10-03T17:31:26.137727Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2024-10-03T17:30:55.632173Z","description":"","frontend_count":0,"id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","instances":[],"ip":[{"id":"b9dbd021-4ac2-4861-9610-47b5aa91409e","ip_address":"51.159.8.46","lb_id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-46.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-10-03T17:30:58.793994Z","zone":"fr-par-1"},"private_network_id":"5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd","status":"pending","updated_at":"2024-10-03T17:31:26.137727Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.472448ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd&resource_type=lb_server
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.116.2/22","created_at":"2024-10-03T17:31:26.639871Z","id":"542e7e92-1b92-4530-a442-84398c79491e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"275f49c4-7d26-478c-9a92-5d551ab7dafe","mac_address":"02:00:00:1B:FC:22","name":"test-lb-with-pn-static-cidr","type":"lb_server"},"reverses":[],"source":{"subnet_id":"debceff1-7769-47d7-824f-49543cca802b"},"tags":[],"updated_at":"2024-10-03T17:31:27.385013Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.607806ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/275f49c4-7d26-478c-9a92-5d551ab7dafe/private-networks/5cf2c395-0e7d-4fc7-97e8-0bf2c5b29afd/detach
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 229.582521ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/275f49c4-7d26-478c-9a92-5d551ab7dafe?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 328.17023ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/275f49c4-7d26-478c-9a92-5d551ab7dafe
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.112347ms
[...]
