---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-list-2","description":"","ip_ids":[],"tags":["test-lb-list-tagged"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-05-11T06:23:33.204604693Z","description":"","frontend_count":0,"id":"02ce6213-6c0f-4cf0-b030-c7ceb894561e","instances":[],"ip":[{"id":"26829a01-65fc-4c7c-bce4-be59e19e000f","ip_address":"195.154.69.193","lb_id":"02ce6213-6c0f-4cf0-b030-c7ceb894561e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-193.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["test-lb-list-tagged"],"type":"lb-s","updated_at":"2026-05-11T06:23:33.204604693Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.511875ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02ce6213-6c0f-4cf0-b030-c7ceb894561e
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-05-11T06:23:33.204605Z","description":"","frontend_count":0,"id":"02ce6213-6c0f-4cf0-b030-c7ceb894561e","instances":[{"created_at":"2026-05-11T06:18:46.564675Z","id":"141fc8b8-b7c2-4926-b8db-457755a069d[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8466da93-7380-4988-8c0d-9598be040113/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.072375ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=test-lb-list-1&order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2026-05-11T06:23:33.185609Z","description":"","frontend_count":0,"id":"8466da93-7380-4988-8c0d-9598be040113","instances":[{"created_at":"2026-05-11T06:00:06.900298Z","id":"dea002b3-8a80-4c03-aa1c-f74c102396a4","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-05-11T06:23:34.750728Z","zone":"fr-par-1"}],"ip":[{"id":"09a15891-ef55-4b4c-a856-471f9f48e407","ip_address":"51.15.211.150","lb_id":"8466da93-7380-4988-8c0d-9598be040113","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-15-211-150.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-list-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-05-11T06:23:35.834360Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.890292ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&tags=test-lb-list-tagged
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2026-05-11T06:23:33.204605Z","description":"","frontend_count":0,"id":"02ce6213-6c0f-4cf0-b030-c7ceb894561e","instances":[{"created[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8466da93-7380-4988-8c0d-9598be040113?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 211.863542ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8466da93-7380-4988-8c0d-9598be040113
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.300208ms
[...]
