---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"2375e706-dc2e-45b4-bf64-4aee1149216b","ip_address":"51.158.116.70","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-116-70.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.160791ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/2375e706-dc2e-45b4-bf64-4aee1149216b
        method: GET
      response:
        body: '{"id":"2375e706-dc2e-45b4-bf64-4aee1149216b","ip_address":"51.158.116.70","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-116-70.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.319625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-acc-backend-list","description":"","ip_ids":["2375e706-dc2e-45b4-bf64-4aee1149216b"],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-05-12T06:53:48.452266151Z","description":"","frontend_count":0,"id":"c38ddc39-d568-420a-9f69-747497174c2e","instances":[],"ip":[{"id":"2375e706-dc2e-45b4-bf64-4aee1149216b","ip_address":"51.158.116.70","lb_id":"c38ddc39-d568-420a-9f69-747497174c2e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-116-70.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-backend-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-05-12T06:53:48.452266151Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.69925ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c38ddc39-d568-420a-9f69-747497174c2e
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-05-12T06:53:48.452266Z","description":"","frontend_count":0,"id":"c38ddc39-d568-420a-9f69-747497174c2e","instances":[{"created_at":"2026-05-12T06:00:08.358601Z","id":"a1bf3c5e-d951-4eac-b94d-8c3c335a92c2","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-05-12T06:53:48.617666Z","zone":"fr-par-1"}],"ip":[{"id":"2375e706-dc2e-45b4-bf64-4aee1149216b","ip_address":"51.158.116.70","lb_id":"c38ddc39-d568-420a-9f69-747497174c2e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-116-70.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-backend-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-05-12T06:53:48.628834Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.659834ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c38ddc39-d568-420a-9f69-747497174c2e/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.194208ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-backend-list-one","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c38ddc39-d568-420a-9f69-747497174c2e/backends
        method: POST
      response:
        body: '{"created_at":"2026-05-12T06:54:19.163482990Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":null,"id":"7451633a-5418-42ef-9794-bcd36ef652cc","ignore_ssl_server_verify":false,"lb":{"backend_count":2,"created_at":"2026-05-12T06:53:48.452266Z","description":"","frontend_count":0,"id":"c38ddc39-d568-420a-9f69-747497174c2e","instances":[{"created_at":"2026-05-12T06:00:08.358601Z","id":"a1bf3c5e-d951-4eac-b94d-8c3c335a92c2","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-05-12T06:54:19.183314919Z","zone":"fr-par-1"}],"ip":[{"id":"2375e706-dc2e-45b4-bf64-4aee1149216b","ip_address":"51.158.116.70","lb_id":"c38ddc39-d568-420a-9f69-747497174c2e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-116-70.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-backend-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-05-12T06:53:50.645098Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"test-backend-list-one","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-05-12T06:54:19.163482990Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.377083ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/993254f3-f3a6-45bd-a124-1df5d4acf352
        method: GET
      response:
        body: '{"created_at":"2026-05-12T06:54:19.146801Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c38ddc39-d568-420a-9f69-747497174c2e/backends?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"backends":[{"created_at":"2026-05-12T06:54:19.146801Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":"0.500s"},"host":null,"id":"993254f3-f3a6-45bd-a124-1df5d4acf352","ignore_ssl_server_verify":false,"lb":{"backend_count":2,"created_at":"2026-05-12T06:53:48.452266Z","description":"","frontend_cou[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c38ddc39-d568-420a-9f69-747497174c2e/backends?name=test-backend-list-one&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"backends":[{"created_at":"2026-05-12T06:54:19.163483Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_chec[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c38ddc39-d568-420a-9f69-747497174c2e?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 194.557625ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c38ddc39-d568-420a-9f69-747497174c2e
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.325ms
[...]
