---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"c032741f-0847-45c9-94ac-c891ddb39bc3","ip_address":"51.158.104.96","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-104-96.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.650998ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c032741f-0847-45c9-94ac-c891ddb39bc3
        method: GET
      response:
        body: '{"id":"c032741f-0847-45c9-94ac-c891ddb39bc3","ip_address":"51.158.104.96","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-104-96.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.932267ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-acc-frontend-list","description":"","ip_ids":["c032741f-0847-45c9-94ac-c891ddb39bc3"],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:14.602433287Z","description":"","frontend_count":0,"id":"206a3461-1aeb-46a1-9794-554680b28088","instances":[],"ip":[{"id":"c032741f-0847-45c9-94ac-c891ddb39bc3","ip_address":"51.158.104.96","lb_id":"206a3461-1aeb-46a1-9794-554680b28088","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-104-96.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-frontend-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:14.602433287Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.440999ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:18:14.602433Z","description":"","frontend_count":0,"id":"206a3461-1aeb-46a1-9794-554680b28088","instances":[],"ip":[{"id":"c032741f-0847-45c9-94ac-c891ddb39bc3","ip_address":"51.158.104.96","lb_id":"206a3461-1aeb-46a1-9794-554680b28088","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-104-96.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-frontend-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:14.602433Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.253712ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.605942ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-frontend-list-backend","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:18:45.418899958Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"32669f91-3d27-42e0-bd14-febe41aa751f","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:14.602433Z","description":"","frontend_count":0,"id":"206a3461-1aeb-46a1-9794-554680b28088","instances":[{"created_at":"2026-07-21T10:17:38.713250Z","id":"54ba8416-c6cd-43ba-b6ec-8a8f5aaade43","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:18:45.449441895Z","zone":"fr-par-1"}],"ip":[{"id":"c032741f-0847-45c9-94ac-c891ddb39bc3","ip_address":"51.158.104.96","lb_id":"206a3461-1aeb-46a1-9794-554680b28088","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-104-96.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-frontend-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:18:17.334693Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"test-frontend-list-backend","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:18:45.418899958Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.240224ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/32669f91-3d27-42e0-bd14-febe41aa751f
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:18:45.418900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-frontend-list-one","inbound_port":80,"backend_id":"32669f91-3d27-42e0-bd14-febe41aa751f","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:45.418900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"32669f91-3d27-42e0-bd14-febe41aa751f","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:14.602433Z","description":"","frontend_count":2[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"test-frontend-list-two","inbound_port":443,"backend_id":"32669f91-3d27-42e0-bd14-febe41aa751f","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5769b1b8-a3b5-4e25-905f-a44c822560a3
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:45.418900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_che[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5769b1b8-a3b5-4e25-905f-a44c822560a3/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.936787ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088/frontends?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2026-07-21T10:18:45.418900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"32669f91-3d27-42e0-bd14-febe41aa751f","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:18:14.602433Z","description":"","front[...]
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088/frontends?name=test-frontend-list-one&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2026-07-21T10:18:45.418900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http[...]
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 308.328869ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/206a3461-1aeb-46a1-9794-554680b28088
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.166553ms
[...]
