---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-list-2","description":"","ip_ids":[],"tags":["test-lb-list-tagged"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:26.230117522Z","description":"","frontend_count":0,"id":"a1668f7b-1094-4c70-9015-4ff85602b9dc","instances":[],"ip":[{"id":"3db2c29c-5414-4fa9-9b74-2f6e33a4aac0","ip_address":"212.47.237.78","lb_id":"a1668f7b-1094-4c70-9015-4ff85602b9dc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-237-78.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-list-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["test-lb-list-tagged"],"type":"lb-s","updated_at":"2026-07-21T10:20:26.230117522Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.082581ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a1668f7b-1094-4c70-9015-4ff85602b9dc
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:20:26.230118Z","description":"","frontend_count":0,"id":"a1668f7b-1094-4c70-9015-4ff85602b9dc","instances":[{"created_at":"2026-07-21T10:19:18.589811Z","id":"bb0511cc-e78b-42db-9133-5033ad45146[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0f6ef327-b524-462a-b07c-fe820176d5f0/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.991085ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=test-lb-list-1&order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2026-07-21T10:20:26.253537Z","description":"","frontend_count":0,"id":"0f6ef327-b524-462a-b07c-fe820176d5f0","instances":[{"created_at":"2026-07-21T10:19:28.604799Z","id":"a63ae627-1e46-49ad-b3e6-3db1346f8c3c","ip_address":"","region":"fr-par","status":"ready","updated_at":"2026-07-21T10:20:28.022762Z","zone":"fr-par-1"}],"ip":[{"id":"c032741f-0847-45c9-94ac-c891ddb39bc3","ip_address":"51.158.104.96","lb_id":"0f6ef327-b524-462a-b07c-fe820176d5f0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-104-96.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb-list-1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:20:29.127406Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.175324ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&tags=test-lb-list-tagged
        method: GET
      response:
        body: '{"lbs":[{"backend_count":0,"created_at":"2026-07-21T10:20:26.230118Z","description":"","frontend_count":0,"id":"a1668f7b-1094-4c70-9015-4ff85602b9dc","instances":[{"created[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a1668f7b-1094-4c70-9015-4ff85602b9dc?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 567.752311ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a1668f7b-1094-4c70-9015-4ff85602b9dc
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.91946ms
[...]
