---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.862516ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050
        method: GET
      response:
        body: '{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.298989ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-acc-backend-list","description":"","ip_ids":["b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050"],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.867206046Z","description":"","frontend_count":0,"id":"823adbc0-84fb-4c71-978b-1d13b56bfc9c","instances":[],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"823adbc0-84fb-4c71-978b-1d13b56bfc9c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-backend-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:28.867206046Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.683267ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/823adbc0-84fb-4c71-978b-1d13b56bfc9c
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:16:28.867206Z","description":"","frontend_count":0,"id":"823adbc0-84fb-4c71-978b-1d13b56bfc9c","instances":[{"created_at":"2026-07-21T10:13:48.586461Z","id":"b69d57ac-e492-441c-827a-499eaaf6b9b3","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:16:29.051728Z","zone":"fr-par-1"}],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"823adbc0-84fb-4c71-978b-1d13b56bfc9c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-backend-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:29.058435Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.665525ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/823adbc0-84fb-4c71-978b-1d13b56bfc9c/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.871805ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-backend-list-one","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/823adbc0-84fb-4c71-978b-1d13b56bfc9c/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:16:59.626487026Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"46937c81-88a7-4932-8feb-f88bbb413439","ignore_ssl_server_verify":null,"lb":{"backend_count":2,"created_at":"2026-07-21T10:16:28.867206Z","description":"","frontend_count":0,"id":"823adbc0-84fb-4c71-978b-1d13b56bfc9c","instances":[{"created_at":"2026-07-21T10:13:48.586461Z","id":"b69d57ac-e492-441c-827a-499eaaf6b9b3","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:16:59.652323578Z","zone":"fr-par-1"}],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"823adbc0-84fb-4c71-978b-1d13b56bfc9c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-backend-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:16:31.734562Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"test-backend-list-one","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:16:59.626487026Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.186322ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/46937c81-88a7-4932-8feb-f88bbb413439
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:16:59.626487Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/823adbc0-84fb-4c71-978b-1d13b56bfc9c/backends?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"backends":[{"created_at":"2026-07-21T10:16:59.626487Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"46937c81-88a7-4932-8feb-f88bbb413439","ignore_ssl_server_verify":null,"lb":{"backend_count":2,"created_at":"2026-07-21T10:16:28.867206Z","description":"","frontend_count":[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/823adbc0-84fb-4c71-978b-1d13b56bfc9c/backends?name=test-backend-list-one&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"backends":[{"created_at":"2026-07-21T10:16:59.626487Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_chec[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/823adbc0-84fb-4c71-978b-1d13b56bfc9c?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 297.215072ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/823adbc0-84fb-4c71-978b-1d13b56bfc9c
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.325251ms
[...]
