---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"8f4081d3-43d3-4f14-a082-3ad00ec4c14d","ip_address":"212.47.254.255","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-254-255.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 499.930541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8f4081d3-43d3-4f14-a082-3ad00ec4c14d
        method: GET
      response:
        body: '{"id":"8f4081d3-43d3-4f14-a082-3ad00ec4c14d","ip_address":"212.47.254.255","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-254-255.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.886292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-acc-frontend-list","description":"","ip_ids":["8f4081d3-43d3-4f14-a082-3ad00ec4c14d"],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-05-12T07:26:48.509580881Z","description":"","frontend_count":0,"id":"4482e6b9-43de-4594-9f8a-392ccfc43ec3","instances":[],"ip":[{"id":"8f4081d3-43d3-4f14-a082-3ad00ec4c14d","ip_address":"212.47.254.255","lb_id":"4482e6b9-43de-4594-9f8a-392ccfc43ec3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-254-255.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-frontend-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-05-12T07:26:48.509580881Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.770125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-05-12T07:26:48.509581Z","description":"","frontend_count":0,"id":"4482e6b9-43de-4594-9f8a-392ccfc43ec3","instances":[{"created_at":"2026-05-12T07:25:36.667909Z","id":"2465304e-71c7-49ed-9629-82833983835c","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-05-12T07:26:48.692723Z","zone":"fr-par-1"}],"ip":[{"id":"8f4081d3-43d3-4f14-a082-3ad00ec4c14d","ip_address":"212.47.254.255","lb_id":"4482e6b9-43de-4594-9f8a-392ccfc43ec3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-254-255.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-frontend-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-05-12T07:26:48.698507Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.254458ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.53825ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"test-frontend-list-backend","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3/backends
        method: POST
      response:
        body: '{"created_at":"2026-05-12T07:27:19.347668080Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":null,"id":"28a7f16f-6d6f-40f3-91d0-04b726518a4c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-05-12T07:26:48.509581Z","description":"","frontend_count":0,"id":"4482e6b9-43de-4594-9f8a-392ccfc43ec3","instances":[{"created_at":"2026-05-12T07:25:36.667909Z","id":"2465304e-71c7-49ed-9629-82833983835c","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-05-12T07:27:19.368443519Z","zone":"fr-par-1"}],"ip":[{"id":"8f4081d3-43d3-4f14-a082-3ad00ec4c14d","ip_address":"212.47.254.255","lb_id":"4482e6b9-43de-4594-9f8a-392ccfc43ec3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"212-47-254-255.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-acc-frontend-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-05-12T07:26:50.925355Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"test-frontend-list-backend","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-05-12T07:27:19.347668080Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.669791ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/28a7f16f-6d6f-40f3-91d0-04b726518a4c
        method: GET
      response:
        body: '{"created_at":"2026-05-12T07:27:19.347668Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-frontend-list-two","inbound_port":443,"backend_id":"28a7f16f-6d6f-40f3-91d0-04b726518a4c","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-05-12T07:27:19.347668Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":null,"id":"28a7f16f-6d6f-40f3-91d0-04b726518a4c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-05-12T07:26:48.509581Z","description":"","frontend_count[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"test-frontend-list-two","inbound_port":443,"backend_id":"28a7f16f-6d6f-40f3-91d0-04b726518a4c","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e1237761-a5ca-4daa-9fd1-163920ff6523
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-05-12T07:27:19.347668Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_che[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e1237761-a5ca-4daa-9fd1-163920ff6523/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.580042ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3/frontends?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2026-05-12T07:27:19.347668Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":null,"id":"28a7f16f-6d6f-40f3-91d0-04b726518a4c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-05-12T07:26:48.509581Z","description":"","fr[...]
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3/frontends?name=test-frontend-list-one&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"frontends":[{"backend":{"created_at":"2026-05-12T07:27:19.347668Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http[...]
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 249.132458ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4482e6b9-43de-4594-9f8a-392ccfc43ec3
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.702958ms
[...]
