---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.824959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/28cf6394-757a-461e-abe0-fcd1a56756e7
        method: GET
      response:
        body: '{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.558074ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:45.122727418Z","description":"","frontend_count":0,"id":"34cc6e9e-7320-4bcd-bebb-17f8663c519c","instances":[],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"34cc6e9e-7320-4bcd-bebb-17f8663c519c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:45.122727418Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.75246ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/34cc6e9e-7320-4bcd-bebb-17f8663c519c
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:45.122727Z","description":"","frontend_count":0,"id":"34cc6e9e-7320-4bcd-bebb-17f8663c519c","instances":[{"created_at":"2026-07-21T10:16:38.717945Z","id":"a0343177-ce0e-495b-837f-e6a672c62984","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:17:45.387573Z","zone":"fr-par-1"}],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"34cc6e9e-7320-4bcd-bebb-17f8663c519c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:45.394503Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.473208ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/34cc6e9e-7320-4bcd-bebb-17f8663c519c/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.031145ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-youthful-bardeen","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/34cc6e9e-7320-4bcd-bebb-17f8663c519c/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:18:15.854999625Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"f0187c15-e579-41b1-b35b-6b00e08572be","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:45.122727Z","description":"","frontend_count":0,"id":"34cc6e9e-7320-4bcd-bebb-17f8663c519c","instances":[{"created_at":"2026-07-21T10:16:38.717945Z","id":"a0343177-ce0e-495b-837f-e6a672c62984","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:18:15.889037191Z","zone":"fr-par-1"}],"ip":[{"id":"28cf6394-757a-461e-abe0-fcd1a56756e7","ip_address":"51.158.70.159","lb_id":"34cc6e9e-7320-4bcd-bebb-17f8663c519c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-70-159.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:48.309408Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-youthful-bardeen","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:18:15.854999625Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.842202ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f0187c15-e579-41b1-b35b-6b00e08572be
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:18:15.855Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-cranky-wozniak","inbound_port":80,"backend_id":"f0187c15-e579-41b1-b35b-6b00e08572be","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/34cc6e9e-7320-4bcd-bebb-17f8663c519c/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:15.855Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"f0187c15-e579-41b1-b35b-6b00e08572be","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:45.122727Z","description":"","frontend_count":1,"i[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-unruffled-keldysh","inbound_port":80,"backend_id":"f0187c15-e579-41b1-b35b-6b00e08572be","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/51a384d6-8f7b-44f1-89e9-a453e383cb05
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:15.855Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check"[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/51a384d6-8f7b-44f1-89e9-a453e383cb05/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.551083ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"51a384d6-8f7b-44f1-89e9-a453e383cb05","backend_id":"f0187c15-e579-41b1-b35b-6b00e08572be","match":{"match_subdomains":false,"path_begin":"/api"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"f0187c15-e579-41b1-b35b-6b00e08572be","created_at":"2026-07-21T10:18:18.102071327Z","frontend_id":"51a384d6-8f7b-44f1-89e9-a453e383cb05","id":"1fa2ebd9-6795-401f-a2de-30ebb6dd6336","match":{"match_subdomains":false,"path_begin":"/api"},"updated_at":"2026-07-21T10:18:18.102071327Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.996173ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/1fa2ebd9-6795-401f-a2de-30ebb6dd6336
        method: GET
      response:
        body: '{"backend_id":"f0187c15-e579-41b1-b35b-6b00e08572be","created_at":"2026-07-21T10:18:18.102071Z","frontend_id":"51a384d6-8f7b-44f1-89e9-a453e383cb05","id":"1fa2ebd9-6795-401f-a2de-30ebb6dd6336","match":{"match_subdomains":false,"path_begin":"/api"},"updated_at":"2026-07-21T10:18:18.102071Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.895725ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/34cc6e9e-7320-4bcd-bebb-17f8663c519c?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 297.911043ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/34cc6e9e-7320-4bcd-bebb-17f8663c519c
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.93492ms
[...]
