---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.659115ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/556f7c62-a012-4e59-b919-aa0a4ee715e3
        method: GET
      response:
        body: '{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.151973ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:46.065962855Z","description":"","frontend_count":0,"id":"cefea795-69b5-4ca5-ae6d-1a23903fdb5c","instances":[],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"cefea795-69b5-4ca5-ae6d-1a23903fdb5c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:46.065962855Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.428046ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cefea795-69b5-4ca5-ae6d-1a23903fdb5c
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:46.065963Z","description":"","frontend_count":0,"id":"cefea795-69b5-4ca5-ae6d-1a23903fdb5c","instances":[{"created_at":"2026-07-21T10:16:38.712157Z","id":"d8d319a9-80e9-47eb-a0e3-2b1bf231a08e","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:17:46.273727Z","zone":"fr-par-1"}],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"cefea795-69b5-4ca5-ae6d-1a23903fdb5c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:46.291515Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.893848ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cefea795-69b5-4ca5-ae6d-1a23903fdb5c/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.031366ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-fervent-galileo","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cefea795-69b5-4ca5-ae6d-1a23903fdb5c/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:18:16.846270550Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"7d99bfa1-8541-4037-bca5-1add9dded70a","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:46.065963Z","description":"","frontend_count":0,"id":"cefea795-69b5-4ca5-ae6d-1a23903fdb5c","instances":[{"created_at":"2026-07-21T10:16:38.712157Z","id":"d8d319a9-80e9-47eb-a0e3-2b1bf231a08e","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:18:16.872972611Z","zone":"fr-par-1"}],"ip":[{"id":"556f7c62-a012-4e59-b919-aa0a4ee715e3","ip_address":"51.15.231.200","lb_id":"cefea795-69b5-4ca5-ae6d-1a23903fdb5c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-15-231-200.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:49.177438Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-fervent-galileo","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:18:16.846270550Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 420.589421ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/7d99bfa1-8541-4037-bca5-1add9dded70a
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:18:16.846271Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-nervous-carson","inbound_port":80,"backend_id":"7d99bfa1-8541-4037-bca5-1add9dded70a","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cefea795-69b5-4ca5-ae6d-1a23903fdb5c/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:16.846271Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"7d99bfa1-8541-4037-bca5-1add9dded70a","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:46.065963Z","description":"","frontend_count":1[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-nostalgic-heisenberg","inbound_port":80,"backend_id":"7d99bfa1-8541-4037-bca5-1add9dded70a","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a962fe5e-0564-4c27-9b70-86a62cf59119
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:16.846271Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_che[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a962fe5e-0564-4c27-9b70-86a62cf59119/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.090729ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"a962fe5e-0564-4c27-9b70-86a62cf59119","backend_id":"7d99bfa1-8541-4037-bca5-1add9dded70a","match":{"host_header":"host.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"7d99bfa1-8541-4037-bca5-1add9dded70a","created_at":"2026-07-21T10:18:19.264955348Z","frontend_id":"a962fe5e-0564-4c27-9b70-86a62cf59119","id":"277135b2-72a9-494a-a84b-3e7c73f47a42","match":{"host_header":"host.scaleway.com","match_subdomains":false},"updated_at":"2026-07-21T10:18:19.264955348Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 421.218514ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/277135b2-72a9-494a-a84b-3e7c73f47a42
        method: GET
      response:
        body: '{"backend_id":"7d99bfa1-8541-4037-bca5-1add9dded70a","created_at":"2026-07-21T10:18:19.264955Z","frontend_id":"a962fe5e-0564-4c27-9b70-86a62cf59119","id":"277135b2-72a9-494a-a84b-3e7c73f47a42","match":{"host_header":"host.scaleway.com","match_subdomains":false},"updated_at":"2026-07-21T10:18:19.264955Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.722715ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cefea795-69b5-4ca5-ae6d-1a23903fdb5c?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 259.026127ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cefea795-69b5-4ca5-ae6d-1a23903fdb5c
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.522441ms
[...]
