---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.027125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/e9821bd5-e65d-48a6-9f19-b64ab68ab6a7
        method: GET
      response:
        body: '{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.204958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.839291415Z","description":"","frontend_count":0,"id":"3a9aa0c9-f4a8-4548-ae62-1f48fe545e10","instances":[],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"3a9aa0c9-f4a8-4548-ae62-1f48fe545e10","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:50.839291415Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.219209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3a9aa0c9-f4a8-4548-ae62-1f48fe545e10
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:50.839291Z","description":"","frontend_count":0,"id":"3a9aa0c9-f4a8-4548-ae62-1f48fe545e10","instances":[],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"3a9aa0c9-f4a8-4548-ae62-1f48fe545e10","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:50.839291Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.298166ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3a9aa0c9-f4a8-4548-ae62-1f48fe545e10/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.844583ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-hopeful-mirzakhani","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3a9aa0c9-f4a8-4548-ae62-1f48fe545e10/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:09:21.736899958Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"afec9d14-9c93-4f08-919b-7350c9d72849","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:50.839291Z","description":"","frontend_count":0,"id":"3a9aa0c9-f4a8-4548-ae62-1f48fe545e10","instances":[{"created_at":"2025-01-08T01:09:07.419266Z","id":"e93ce3c7-a1b7-4aec-8f0c-0dee04923b3e","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:09:21.781877389Z","zone":"fr-par-1"}],"ip":[{"id":"e9821bd5-e65d-48a6-9f19-b64ab68ab6a7","ip_address":"51.159.206.53","lb_id":"3a9aa0c9-f4a8-4548-ae62-1f48fe545e10","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-206-53.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:12.964172Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-hopeful-mirzakhani","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:09:21.736899958Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.9485ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/afec9d14-9c93-4f08-919b-7350c9d72849
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:09:21.736900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-happy-dijkstra","inbound_port":80,"backend_id":"afec9d14-9c93-4f08-919b-7350c9d72849","enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3a9aa0c9-f4a8-4548-ae62-1f48fe545e10/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.736900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"afec9d14-9c93-4f08-919b-7350c9d72849","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:50.839291Z","description":"","frontend_count":1,"id":"3a[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-busy-raman","inbound_port":80,"backend_id":"afec9d14-9c93-4f08-919b-7350c9d72849","certificate_ids":[],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/996ed019-4c2f-4978-9993-f9c3d26026de
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.736900Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/996ed019-4c2f-4978-9993-f9c3d26026de/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.145833ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"996ed019-4c2f-4978-9993-f9c3d26026de","backend_id":"afec9d14-9c93-4f08-919b-7350c9d72849","match":{"host_header":"host.scaleway.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"afec9d14-9c93-4f08-919b-7350c9d72849","created_at":"2025-01-24T14:09:24.022604131Z","frontend_id":"996ed019-4c2f-4978-9993-f9c3d26026de","id":"b19a9072-0b97-4bbd-9949-cfdefb6b9884","match":{"host_header":"host.scaleway.com"},"updated_at":"2025-01-24T14:09:24.022604131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.455875ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/b19a9072-0b97-4bbd-9949-cfdefb6b9884
        method: GET
      response:
        body: '{"backend_id":"afec9d14-9c93-4f08-919b-7350c9d72849","created_at":"2025-01-24T14:09:24.022604Z","frontend_id":"996ed019-4c2f-4978-9993-f9c3d26026de","id":"b19a9072-0b97-4bbd-9949-cfdefb6b9884","match":{"host_header":"host.scaleway.com"},"updated_at":"2025-01-24T14:09:24.022604Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.255791ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3a9aa0c9-f4a8-4548-ae62-1f48fe545e10?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 452.054708ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3a9aa0c9-f4a8-4548-ae62-1f48fe545e10
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.334208ms
[...]
