---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.421752ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c3531684-21e9-40cc-9855-12ed6371eab3
    method: GET
  response:
    body: "{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.942638ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.379095798Z\",\"updated_at\":\"2025-09-01T15:25:44.379095798Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 391.949791ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fff5950a-3b7b-42e4-9dc4-8a97e469c633
    method: GET
  response:
    body: "{\"id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.379096Z\",\"updated_at\":\"2025-09-01T15:25:44.379096Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.281132ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fff5950a-3b7b-42e4-9dc4-8a97e469c633/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.847757ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-flamboyant-sammet\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fff5950a-3b7b-42e4-9dc4-8a97e469c633/backends
    method: POST
  response:
    body: "{\"id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"name\":\"tf-lb-bkd-flamboyant-sammet\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"fd0af53b-9b67-44df-bebb-a009c3aa866e\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-08-29T05:56:00.332968Z\",\"updated_at\":\"2025-09-01T15:26:15.524352232Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c3531684-21e9-40cc-9855-12ed6371eab3\",\"ip_address\":\"51.15.210.41\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\"reverse\":\"51-15-210-41.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.379096Z\",\"updated_at\":\"2025-09-01T15:25:49.970800Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:15.480625617Z\",\"updated_at\":\"2025-09-01T15:26:15.480625617Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 462.621516ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/67a71705-1c82-41f7-a19b-54d58105c705
    method: GET
  response:
    body: "{\"id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"name\":\"tf-lb-bkd-flamboyant-sammet\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-crazy-booth\",\"inbound_port\":80,\"backend_id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fff5950a-3b7b-42e4-9dc4-8a97e469c633/frontends
    method: POST
  response:
    body: "{\"id\":\"8143272b-860c-43bc-bb27-997ebba1b0ee\",\"name\":\"tf-lb-frt-crazy-booth\",\"inbound_port\":80,\"backend\":{\"id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"name\":\"tf-lb-bkd-flamboyant-sammet\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"fff5950a-3b7b-42e4-9dc4-8a97e469c633\",\[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-upbeat-johnson\",\"inbound_port\":80,\"backend_id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8143272b-860c-43bc-bb27-997ebba1b0ee
    method: PUT
  response:
    body: "{\"id\":\"8143272b-860c-43bc-bb27-997ebba1b0ee\",\"name\":\"tf-lb-frt-upbeat-johnson\",\"inbound_port\":80,\"backend\":{\"id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"name\":\"tf-lb-bkd-flamboyant-sammet\",\"forwa[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8143272b-860c-43bc-bb27-997ebba1b0ee/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.529539ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"frontend_id\":\"8143272b-860c-43bc-bb27-997ebba1b0ee\",\"backend_id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"match\":{\"match_subdomains\":false,\"path_begin\":\"/api\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: "{\"id\":\"6ba2669c-e6b5-4364-9dfc-337762f9f2c4\",\"frontend_id\":\"8143272b-860c-43bc-bb27-997ebba1b0ee\",\"match\":{\"path_begin\":\"/api\",\"match_subdomains\":false},\"backend_id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"created_at\":\"2025-09-01T15:26:18.440071751Z\",\"updated_at\":\"2025-09-01T15:26:18.440071751Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 415.83971ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/6ba2669c-e6b5-4364-9dfc-337762f9f2c4
    method: GET
  response:
    body: "{\"id\":\"6ba2669c-e6b5-4364-9dfc-337762f9f2c4\",\"frontend_id\":\"8143272b-860c-43bc-bb27-997ebba1b0ee\",\"match\":{\"path_begin\":\"/api\",\"match_subdomains\":false},\"backend_id\":\"67a71705-1c82-41f7-a19b-54d58105c705\",\"created_at\":\"2025-09-01T15:26:18.440072Z\",\"updated_at\":\"2025-09-01T15:26:18.440072Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.413317ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fff5950a-3b7b-42e4-9dc4-8a97e469c633?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 489.335349ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fff5950a-3b7b-42e4-9dc4-8a97e469c633
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 30.712417ms
[...]
