---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.79084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050
        method: GET
      response:
        body: '{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.35467ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:49.949960751Z","description":"","frontend_count":0,"id":"ba500f48-ccc4-4925-ac13-3dbdbc825354","instances":[],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"ba500f48-ccc4-4925-ac13-3dbdbc825354","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:49.949960751Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.985132ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ba500f48-ccc4-4925-ac13-3dbdbc825354
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-07-21T10:17:49.949961Z","description":"","frontend_count":0,"id":"ba500f48-ccc4-4925-ac13-3dbdbc825354","instances":[{"created_at":"2026-07-21T10:16:38.702519Z","id":"526e3608-7471-4a24-9c37-8163f9b4c1e3","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-07-21T10:17:50.168723Z","zone":"fr-par-1"}],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"ba500f48-ccc4-4925-ac13-3dbdbc825354","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:50.177583Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.543391ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ba500f48-ccc4-4925-ac13-3dbdbc825354/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.36405ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-fervent-taussig","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ba500f48-ccc4-4925-ac13-3dbdbc825354/backends
        method: POST
      response:
        body: '{"created_at":"2026-07-21T10:18:20.598310631Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"7e0694df-b356-4181-9349-ef3dab2b031c","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:49.949961Z","description":"","frontend_count":0,"id":"ba500f48-ccc4-4925-ac13-3dbdbc825354","instances":[{"created_at":"2026-07-21T10:16:38.702519Z","id":"526e3608-7471-4a24-9c37-8163f9b4c1e3","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-07-21T10:18:20.616921487Z","zone":"fr-par-1"}],"ip":[{"id":"b5e0fa3b-99cc-4b86-9c4c-6c6dbb236050","ip_address":"212.47.249.158","lb_id":"ba500f48-ccc4-4925-ac13-3dbdbc825354","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"212-47-249-158.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-07-21T10:17:52.655464Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-fervent-taussig","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-07-21T10:18:20.598310631Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.155595ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/7e0694df-b356-4181-9349-ef3dab2b031c
        method: GET
      response:
        body: '{"created_at":"2026-07-21T10:18:20.598311Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-upbeat-hypatia","inbound_port":80,"backend_id":"7e0694df-b356-4181-9349-ef3dab2b031c","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ba500f48-ccc4-4925-ac13-3dbdbc825354/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:20.598311Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"host":"","id":"7e0694df-b356-4181-9349-ef3dab2b031c","ignore_ssl_server_verify":null,"lb":{"backend_count":1,"created_at":"2026-07-21T10:17:49.949961Z","description":"","frontend_count":1,[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-nice-sutherland","inbound_port":80,"backend_id":"7e0694df-b356-4181-9349-ef3dab2b031c","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/6e5cc541-d251-4218-8f6c-dc0c980a7c08
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-07-21T10:18:20.598311Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/6e5cc541-d251-4218-8f6c-dc0c980a7c08/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.474844ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"6e5cc541-d251-4218-8f6c-dc0c980a7c08","backend_id":"7e0694df-b356-4181-9349-ef3dab2b031c","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"7e0694df-b356-4181-9349-ef3dab2b031c","created_at":"2026-07-21T10:18:22.725570169Z","frontend_id":"6e5cc541-d251-4218-8f6c-dc0c980a7c08","id":"13c90986-d817-4ac0-a21d-ec8209fa3b16","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-07-21T10:18:22.725570169Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.842371ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/13c90986-d817-4ac0-a21d-ec8209fa3b16
        method: GET
      response:
        body: '{"backend_id":"7e0694df-b356-4181-9349-ef3dab2b031c","created_at":"2026-07-21T10:18:22.725570Z","frontend_id":"6e5cc541-d251-4218-8f6c-dc0c980a7c08","id":"13c90986-d817-4ac0-a21d-ec8209fa3b16","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-07-21T10:18:22.725570Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.86ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ba500f48-ccc4-4925-ac13-3dbdbc825354?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 423.42959ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ba500f48-ccc4-4925-ac13-3dbdbc825354
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 115.446038ms
[...]
