---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"c55f9f26-d9dd-418f-8c74-d7b1ae622494\",\"ip_address\":\"62.210.111.149\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-111-149.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.800049ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c55f9f26-d9dd-418f-8c74-d7b1ae622494
    method: GET
  response:
    body: "{\"id\":\"c55f9f26-d9dd-418f-8c74-d7b1ae622494\",\"ip_address\":\"62.210.111.149\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"62-210-111-149.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.958887ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"c55f9f26-d9dd-418f-8c74-d7b1ae622494\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"d9e00150-3462-4cad-a333-0c83ec8b63e1\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c55f9f26-d9dd-418f-8c74-d7b1ae622494\",\"ip_address\":\"62.210.111.149\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"d9e00150-3462-4cad-a333-0c83ec8b63e1\",\"reverse\":\"62-210-111-149.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.601742133Z\",\"updated_at\":\"2025-09-01T15:25:44.601742133Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 456.52214ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e00150-3462-4cad-a333-0c83ec8b63e1
    method: GET
  response:
    body: "{\"id\":\"d9e00150-3462-4cad-a333-0c83ec8b63e1\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c55f9f26-d9dd-418f-8c74-d7b1ae622494\",\"ip_address\":\"62.210.111.149\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"d9e00150-3462-4cad-a333-0c83ec8b63e1\",\"reverse\":\"62-210-111-149.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.601742Z\",\"updated_at\":\"2025-09-01T15:25:44.601742Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 149.8222ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e00150-3462-4cad-a333-0c83ec8b63e1/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.787333ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-amazing-euler\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e00150-3462-4cad-a333-0c83ec8b63e1/backends
    method: POST
  response:
    body: "{\"id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"name\":\"tf-lb-bkd-amazing-euler\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"d9e00150-3462-4cad-a333-0c83ec8b63e1\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"0bd1341f-e2c4-412c-b983-2c7bf741a59e\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T01:28:49.123480Z\",\"updated_at\":\"2025-09-01T15:26:15.731487110Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"c55f9f26-d9dd-418f-8c74-d7b1ae622494\",\"ip_address\":\"62.210.111.149\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"d9e00150-3462-4cad-a333-0c83ec8b63e1\",\"reverse\":\"62-210-111-149.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.601742Z\",\"updated_at\":\"2025-09-01T15:25:50.005003Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:15.701495604Z\",\"updated_at\":\"2025-09-01T15:26:15.701495604Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 492.293858ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6
    method: GET
  response:
    body: "{\"id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"name\":\"tf-lb-bkd-amazing-euler\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"ch[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-distracted-almeida\",\"inbound_port\":80,\"backend_id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e00150-3462-4cad-a333-0c83ec8b63e1/frontends
    method: POST
  response:
    body: "{\"id\":\"e54fff63-5bc2-4ec1-a530-54ccb487d846\",\"name\":\"tf-lb-frt-distracted-almeida\",\"inbound_port\":80,\"backend\":{\"id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"name\":\"tf-lb-bkd-amazing-euler\",\"forward_protocol\":\"http\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"d9e00150-3462-4cad-a333-0c83ec8b63e1\",\"nam[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-objective-mcclintock\",\"inbound_port\":80,\"backend_id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e54fff63-5bc2-4ec1-a530-54ccb487d846
    method: PUT
  response:
    body: "{\"id\":\"e54fff63-5bc2-4ec1-a530-54ccb487d846\",\"name\":\"tf-lb-frt-objective-mcclintock\",\"inbound_port\":80,\"backend\":{\"id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"name\":\"tf-lb-bkd-amazing-euler\",\"for[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/e54fff63-5bc2-4ec1-a530-54ccb487d846/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.971361ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"frontend_id\":\"e54fff63-5bc2-4ec1-a530-54ccb487d846\",\"backend_id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"match\":{\"host_header\":\"host.scaleway.com\",\"match_subdomains\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: "{\"id\":\"db46340e-5c72-463f-b751-2b48feb17ef3\",\"frontend_id\":\"e54fff63-5bc2-4ec1-a530-54ccb487d846\",\"match\":{\"host_header\":\"host.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"created_at\":\"2025-09-01T15:26:18.752474482Z\",\"updated_at\":\"2025-09-01T15:26:18.752474482Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 536.46724ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/db46340e-5c72-463f-b751-2b48feb17ef3
    method: GET
  response:
    body: "{\"id\":\"db46340e-5c72-463f-b751-2b48feb17ef3\",\"frontend_id\":\"e54fff63-5bc2-4ec1-a530-54ccb487d846\",\"match\":{\"host_header\":\"host.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"417dcd27-2ce3-48c8-9ebc-bc99fec0a4d6\",\"created_at\":\"2025-09-01T15:26:18.752474Z\",\"updated_at\":\"2025-09-01T15:26:18.752474Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.043308ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e00150-3462-4cad-a333-0c83ec8b63e1?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 375.57367ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e00150-3462-4cad-a333-0c83ec8b63e1
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.244807ms
[...]
