---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"ab062793-1a86-446c-813f-6b1d47c218be","ip_address":"51.158.109.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-109-160.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.854709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ab062793-1a86-446c-813f-6b1d47c218be
        method: GET
      response:
        body: '{"id":"ab062793-1a86-446c-813f-6b1d47c218be","ip_address":"51.158.109.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-109-160.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.641875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"ab062793-1a86-446c-813f-6b1d47c218be","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-24T08:53:06.685778654Z","description":"","frontend_count":0,"id":"1c53a84c-f4d9-4fd9-9a34-d04124dfcce9","instances":[],"ip":[{"id":"ab062793-1a86-446c-813f-6b1d47c218be","ip_address":"51.158.109.160","lb_id":"1c53a84c-f4d9-4fd9-9a34-d04124dfcce9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-109-160.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-24T08:53:06.685778654Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.213542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1c53a84c-f4d9-4fd9-9a34-d04124dfcce9
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-24T08:53:06.685779Z","description":"","frontend_count":0,"id":"1c53a84c-f4d9-4fd9-9a34-d04124dfcce9","instances":[{"created_at":"2026-02-24T08:48:33.778485Z","id":"787a2bcd-c754-42fb-b72b-a767c8980f8d","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-24T08:53:06.850841Z","zone":"fr-par-1"}],"ip":[{"id":"ab062793-1a86-446c-813f-6b1d47c218be","ip_address":"51.158.109.160","lb_id":"1c53a84c-f4d9-4fd9-9a34-d04124dfcce9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-109-160.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-24T08:53:06.861839Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.5785ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1c53a84c-f4d9-4fd9-9a34-d04124dfcce9/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.081458ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-hungry-shtern","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1c53a84c-f4d9-4fd9-9a34-d04124dfcce9/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-24T08:53:37.417318611Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"90f98d78-9f4b-4bef-ac1c-29c61888749b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-24T08:53:06.685779Z","description":"","frontend_count":0,"id":"1c53a84c-f4d9-4fd9-9a34-d04124dfcce9","instances":[{"created_at":"2026-02-24T08:48:33.778485Z","id":"787a2bcd-c754-42fb-b72b-a767c8980f8d","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-24T08:53:37.441807995Z","zone":"fr-par-1"}],"ip":[{"id":"ab062793-1a86-446c-813f-6b1d47c218be","ip_address":"51.158.109.160","lb_id":"1c53a84c-f4d9-4fd9-9a34-d04124dfcce9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-109-160.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-24T08:53:09.370251Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-hungry-shtern","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-24T08:53:37.417318611Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.09425ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/90f98d78-9f4b-4bef-ac1c-29c61888749b
        method: GET
      response:
        body: '{"created_at":"2026-02-24T08:53:37.417319Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-goofy-montalcini","inbound_port":80,"backend_id":"90f98d78-9f4b-4bef-ac1c-29c61888749b","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1c53a84c-f4d9-4fd9-9a34-d04124dfcce9/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-24T08:53:37.417319Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"90f98d78-9f4b-4bef-ac1c-29c61888749b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-24T08:53:06.685779Z","description":"","frontend_count":1,"id":"1c5[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-happy-elgamal","inbound_port":80,"backend_id":"90f98d78-9f4b-4bef-ac1c-29c61888749b","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0963a0f0-ff76-495c-8705-e8ef8fe3eda5
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-24T08:53:37.417319Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_chec[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0963a0f0-ff76-495c-8705-e8ef8fe3eda5/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.420583ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"0963a0f0-ff76-495c-8705-e8ef8fe3eda5","backend_id":"90f98d78-9f4b-4bef-ac1c-29c61888749b","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"90f98d78-9f4b-4bef-ac1c-29c61888749b","created_at":"2026-02-24T08:53:39.976373316Z","frontend_id":"0963a0f0-ff76-495c-8705-e8ef8fe3eda5","id":"35a03575-707f-4238-a992-d6527e39de9e","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-24T08:53:39.976373316Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.215916ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/35a03575-707f-4238-a992-d6527e39de9e
        method: GET
      response:
        body: '{"backend_id":"90f98d78-9f4b-4bef-ac1c-29c61888749b","created_at":"2026-02-24T08:53:39.976373Z","frontend_id":"0963a0f0-ff76-495c-8705-e8ef8fe3eda5","id":"35a03575-707f-4238-a992-d6527e39de9e","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2026-02-24T08:53:39.976373Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.357125ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1c53a84c-f4d9-4fd9-9a34-d04124dfcce9?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 260.33525ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1c53a84c-f4d9-4fd9-9a34-d04124dfcce9
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.4835ms
[...]
