---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"71049f67-bd50-4943-abaa-f0643bd238c4\",\"ip_address\":\"195.154.74.217\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-74-217.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 167.213895ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/71049f67-bd50-4943-abaa-f0643bd238c4
    method: GET
  response:
    body: "{\"id\":\"71049f67-bd50-4943-abaa-f0643bd238c4\",\"ip_address\":\"195.154.74.217\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":null,\"reverse\":\"195-154-74-217.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.797782ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-lb\",\"description\":\"\",\"ip_id\":\"71049f67-bd50-4943-abaa-f0643bd238c4\",\"ip_ids\":[],\"tags\":null,\"type\":\"lb-s\",\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: "{\"id\":\"e313bc4a-6a5b-4baa-b0d0-896dea202d42\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"71049f67-bd50-4943-abaa-f0643bd238c4\",\"ip_address\":\"195.154.74.217\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"e313bc4a-6a5b-4baa-b0d0-896dea202d42\",\"reverse\":\"195-154-74-217.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.315972216Z\",\"updated_at\":\"2025-09-01T15:25:44.315972216Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 369.165422ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e313bc4a-6a5b-4baa-b0d0-896dea202d42
    method: GET
  response:
    body: "{\"id\":\"e313bc4a-6a5b-4baa-b0d0-896dea202d42\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"to_create\",\"instances\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"71049f67-bd50-4943-abaa-f0643bd238c4\",\"ip_address\":\"195.154.74.217\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"e313bc4a-6a5b-4baa-b0d0-896dea202d42\",\"reverse\":\"195-154-74-217.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":0,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.315972Z\",\"updated_at\":\"2025-09-01T15:25:44.315972Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.563745ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e313bc4a-6a5b-4baa-b0d0-896dea202d42/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_network\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.198375ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-bkd-thirsty-khorana\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500000000s\",\"check_delay\":60000,\"check_timeout\":30000},\"server_ip\":[],\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"max_retries\":3,\"timeout_queue\":\"0.000000000s\",\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e313bc4a-6a5b-4baa-b0d0-896dea202d42/backends
    method: POST
  response:
    body: "{\"id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"name\":\"tf-lb-bkd-thirsty-khorana\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"e313bc4a-6a5b-4baa-b0d0-896dea202d42\",\"name\":\"test-lb\",\"description\":\"\",\"status\":\"ready\",\"instances\":[{\"id\":\"2d267021-cba0-4ac7-9b92-8c30d4391e7f\",\"status\":\"pending\",\"ip_address\":\"\",\"created_at\":\"2025-09-01T13:27:39.851013Z\",\"updated_at\":\"2025-09-01T15:26:15.347310298Z\",\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"ip\":[{\"id\":\"71049f67-bd50-4943-abaa-f0643bd238c4\",\"ip_address\":\"195.154.74.217\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"lb_id\":\"e313bc4a-6a5b-4baa-b0d0-896dea202d42\",\"reverse\":\"195-154-74-217.lb.fr-par.scw.cloud\",\"tags\":[],\"region\":\"fr-par\",\"zone\":\"fr-par-1\"}],\"tags\":[],\"frontend_count\":0,\"backend_count\":1,\"type\":\"lb-s\",\"subscriber\":null,\"ssl_compatibility_level\":\"ssl_compatibility_level_intermediate\",\"created_at\":\"2025-09-01T15:25:44.315972Z\",\"updated_at\":\"2025-09-01T15:25:49.803045Z\",\"private_network_count\":0,\"route_count\":0,\"region\":\"fr-par\",\"zone\":\"fr-par-1\"},\"send_proxy_v2\":false,\"timeout_server\":300000,\"timeout_connect\":5000,\"timeout_tunnel\":900000,\"on_marked_down_action\":\"on_marked_down_action_none\",\"proxy_protocol\":\"proxy_protocol_none\",\"created_at\":\"2025-09-01T15:26:15.318105533Z\",\"updated_at\":\"2025-09-01T15:26:15.318105533Z\",\"failover_host\":null,\"ssl_bridging\":false,\"ignore_ssl_server_verify\":false,\"redispatch_attempt_count\":null,\"max_retries\":3,\"max_connections\":null,\"timeout_queue\":\"0s\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 459.63037ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a70cc14d-d86d-4911-8e42-3e5aed9d2c7f
    method: GET
  response:
    body: "{\"id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"name\":\"tf-lb-bkd-thirsty-khorana\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"c[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-suspicious-cohen\",\"inbound_port\":80,\"backend_id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e313bc4a-6a5b-4baa-b0d0-896dea202d42/frontends
    method: POST
  response:
    body: "{\"id\":\"acfc82ad-fc30-45b0-9ea8-6c419ac0e37b\",\"name\":\"tf-lb-frt-suspicious-cohen\",\"inbound_port\":80,\"backend\":{\"id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"name\":\"tf-lb-bkd-thirsty-khorana\",\"forward_protocol\":\"tcp\",\"forward_port\":80,\"forward_port_algorithm\":\"roundrobin\",\"sticky_sessions\":\"none\",\"sticky_sessions_cookie_name\":\"\",\"health_check\":{\"port\":80,\"check_delay\":60000,\"check_timeout\":30000,\"check_max_retries\":2,\"check_send_proxy\":false,\"transient_check_delay\":\"0.500s\",\"tcp_config\":{}},\"pool\":[],\"lb\":{\"id\":\"e313bc4a-6a5b-4baa-b0d0-896dea202d42\",\"na[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-lb-frt-awesome-volhard\",\"inbound_port\":80,\"backend_id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"certificate_ids\":[],\"enable_http3\":false,\"connection_rate_limit\":0,\"enable_access_logs\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/acfc82ad-fc30-45b0-9ea8-6c419ac0e37b
    method: PUT
  response:
    body: "{\"id\":\"acfc82ad-fc30-45b0-9ea8-6c419ac0e37b\",\"name\":\"tf-lb-frt-awesome-volhard\",\"inbound_port\":80,\"backend\":{\"id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"name\":\"tf-lb-bkd-thirsty-khorana\",\"forwar[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/acfc82ad-fc30-45b0-9ea8-6c419ac0e37b/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"acls\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.234234ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"frontend_id\":\"acfc82ad-fc30-45b0-9ea8-6c419ac0e37b\",\"backend_id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: "{\"id\":\"d2c9e3cb-6637-4db3-a22c-1af51fc8ec25\",\"frontend_id\":\"acfc82ad-fc30-45b0-9ea8-6c419ac0e37b\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"created_at\":\"2025-09-01T15:26:18.481970541Z\",\"updated_at\":\"2025-09-01T15:26:18.481970541Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 418.974566ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/d2c9e3cb-6637-4db3-a22c-1af51fc8ec25
    method: GET
  response:
    body: "{\"id\":\"d2c9e3cb-6637-4db3-a22c-1af51fc8ec25\",\"frontend_id\":\"acfc82ad-fc30-45b0-9ea8-6c419ac0e37b\",\"match\":{\"sni\":\"sni.scaleway.com\",\"match_subdomains\":false},\"backend_id\":\"a70cc14d-d86d-4911-8e42-3e5aed9d2c7f\",\"created_at\":\"2025-09-01T15:26:18.481971Z\",\"updated_at\":\"2025-09-01T15:26:18.481971Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.025585ms
[...]
- id: 59
  request:
    host: api.scaleway.com
    form:
      release_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e313bc4a-6a5b-4baa-b0d0-896dea202d42?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 464.200249ms
[...]
- id: 61
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e313bc4a-6a5b-4baa-b0d0-896dea202d42
    method: GET
  response:
    body: "{\"message\":\"lbs not Found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.8411ms
[...]
