---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.778166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/32af5f81-8366-435b-b55f-6a502a0a6480
        method: GET
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.419708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:29:14.949367334Z","description":"","frontend_count":0,"id":"87b5c63f-5c67-40b2-9927-04967e15e20c","instances":[],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"87b5c63f-5c67-40b2-9927-04967e15e20c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:29:14.949367334Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.82775ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/87b5c63f-5c67-40b2-9927-04967e15e20c
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:29:14.949367Z","description":"","frontend_count":0,"id":"87b5c63f-5c67-40b2-9927-04967e15e20c","instances":[{"created_at":"2026-02-25T14:28:11.477047Z","id":"72b4a149-566e-4c79-852a-39ec8b25f883","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-25T14:29:15.128904Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"87b5c63f-5c67-40b2-9927-04967e15e20c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:29:15.134685Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.404375ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/87b5c63f-5c67-40b2-9927-04967e15e20c/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.831ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-festive-nightingale","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/87b5c63f-5c67-40b2-9927-04967e15e20c/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-25T14:29:45.739960984Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"c7480b61-f415-4987-ad12-62f764189bb6","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:29:14.949367Z","description":"","frontend_count":0,"id":"87b5c63f-5c67-40b2-9927-04967e15e20c","instances":[{"created_at":"2026-02-25T14:28:11.477047Z","id":"72b4a149-566e-4c79-852a-39ec8b25f883","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-25T14:29:45.761188726Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"87b5c63f-5c67-40b2-9927-04967e15e20c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:29:17.226972Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-festive-nightingale","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-25T14:29:45.739960984Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.698458ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c7480b61-f415-4987-ad12-62f764189bb6
        method: GET
      response:
        body: '{"created_at":"2026-02-25T14:29:45.739961Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-condescending-wright","inbound_port":80,"backend_id":"c7480b61-f415-4987-ad12-62f764189bb6","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/87b5c63f-5c67-40b2-9927-04967e15e20c/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:29:45.739961Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"c7480b61-f415-4987-ad12-62f764189bb6","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:29:14.949367Z","description":"","frontend_count":1,"id":"87[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-distracted-hermann","inbound_port":80,"backend_id":"c7480b61-f415-4987-ad12-62f764189bb6","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2d3366c5-dad2-4cfe-ba21-d4c7131ba092
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:29:45.739961Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_che[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2d3366c5-dad2-4cfe-ba21-d4c7131ba092/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.880958ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"2d3366c5-dad2-4cfe-ba21-d4c7131ba092","backend_id":"c7480b61-f415-4987-ad12-62f764189bb6","match":{"host_header":"host.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"c7480b61-f415-4987-ad12-62f764189bb6","created_at":"2026-02-25T14:29:47.851422129Z","frontend_id":"2d3366c5-dad2-4cfe-ba21-d4c7131ba092","id":"db3f7cb2-aa18-4a7a-b64d-5c4b50e7d1d5","match":{"host_header":"host.scaleway.com","match_subdomains":false},"updated_at":"2026-02-25T14:29:47.851422129Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.051125ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/db3f7cb2-aa18-4a7a-b64d-5c4b50e7d1d5
        method: GET
      response:
        body: '{"backend_id":"c7480b61-f415-4987-ad12-62f764189bb6","created_at":"2026-02-25T14:29:47.851422Z","frontend_id":"2d3366c5-dad2-4cfe-ba21-d4c7131ba092","id":"db3f7cb2-aa18-4a7a-b64d-5c4b50e7d1d5","match":{"host_header":"host.scaleway.com","match_subdomains":false},"updated_at":"2026-02-25T14:29:47.851422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.566125ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/87b5c63f-5c67-40b2-9927-04967e15e20c?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 330.667833ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/87b5c63f-5c67-40b2-9927-04967e15e20c
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.855459ms
[...]
