---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.211292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/32af5f81-8366-435b-b55f-6a502a0a6480
        method: GET
      response:
        body: '{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.971083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:30:35.875839648Z","description":"","frontend_count":0,"id":"19edf328-a4f7-4577-a544-cf1e1fcaae8a","instances":[],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"19edf328-a4f7-4577-a544-cf1e1fcaae8a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:30:35.875839648Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.10775ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/19edf328-a4f7-4577-a544-cf1e1fcaae8a
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2026-02-25T14:30:35.875840Z","description":"","frontend_count":0,"id":"19edf328-a4f7-4577-a544-cf1e1fcaae8a","instances":[{"created_at":"2026-02-25T14:16:12.264280Z","id":"1d2e02ab-6d19-46d7-b919-f128ca356a16","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2026-02-25T14:30:36.118014Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"19edf328-a4f7-4577-a544-cf1e1fcaae8a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:30:36.128423Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.331875ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/19edf328-a4f7-4577-a544-cf1e1fcaae8a/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.879042ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-dazzling-dirac","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/19edf328-a4f7-4577-a544-cf1e1fcaae8a/backends
        method: POST
      response:
        body: '{"created_at":"2026-02-25T14:31:06.632633614Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"78dc409d-164f-41bd-ab39-edb7a11aa913","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:30:35.875840Z","description":"","frontend_count":0,"id":"19edf328-a4f7-4577-a544-cf1e1fcaae8a","instances":[{"created_at":"2026-02-25T14:16:12.264280Z","id":"1d2e02ab-6d19-46d7-b919-f128ca356a16","ip_address":"","region":"fr-par","status":"pending","updated_at":"2026-02-25T14:31:06.654543550Z","zone":"fr-par-1"}],"ip":[{"id":"32af5f81-8366-435b-b55f-6a502a0a6480","ip_address":"51.159.114.232","lb_id":"19edf328-a4f7-4577-a544-cf1e1fcaae8a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-232.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2026-02-25T14:30:38.908481Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-dazzling-dirac","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2026-02-25T14:31:06.632633614Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.919209ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/78dc409d-164f-41bd-ab39-edb7a11aa913
        method: GET
      response:
        body: '{"created_at":"2026-02-25T14:31:06.632634Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-trusting-grothendieck","inbound_port":80,"backend_id":"78dc409d-164f-41bd-ab39-edb7a11aa913","enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/19edf328-a4f7-4577-a544-cf1e1fcaae8a/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:31:06.632634Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"78dc409d-164f-41bd-ab39-edb7a11aa913","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2026-02-25T14:30:35.875840Z","description":"","frontend_count":1,"id":"19[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-musing-gould","inbound_port":80,"backend_id":"78dc409d-164f-41bd-ab39-edb7a11aa913","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0,"enable_access_logs":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0a3ca1d9-2800-4bd7-a107-e26a83f60567
        method: PUT
      response:
        body: '{"backend":{"created_at":"2026-02-25T14:31:06.632634Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_che[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0a3ca1d9-2800-4bd7-a107-e26a83f60567/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.775417ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"0a3ca1d9-2800-4bd7-a107-e26a83f60567","backend_id":"78dc409d-164f-41bd-ab39-edb7a11aa913","match":{"match_subdomains":false,"path_begin":"/api"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"78dc409d-164f-41bd-ab39-edb7a11aa913","created_at":"2026-02-25T14:31:09.285238282Z","frontend_id":"0a3ca1d9-2800-4bd7-a107-e26a83f60567","id":"3f6f0161-38a2-4eca-8dc4-06720fc9a597","match":{"match_subdomains":false,"path_begin":"/api"},"updated_at":"2026-02-25T14:31:09.285238282Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.999542ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/3f6f0161-38a2-4eca-8dc4-06720fc9a597
        method: GET
      response:
        body: '{"backend_id":"78dc409d-164f-41bd-ab39-edb7a11aa913","created_at":"2026-02-25T14:31:09.285238Z","frontend_id":"0a3ca1d9-2800-4bd7-a107-e26a83f60567","id":"3f6f0161-38a2-4eca-8dc4-06720fc9a597","match":{"match_subdomains":false,"path_begin":"/api"},"updated_at":"2026-02-25T14:31:09.285238Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.623833ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/19edf328-a4f7-4577-a544-cf1e1fcaae8a?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 274.766292ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/19edf328-a4f7-4577-a544-cf1e1fcaae8a
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.326417ms
[...]
