---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.200584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ebce515e-59f3-472d-89fc-205eaac8106d
        method: GET
      response:
        body: '{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.003333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:51.018335330Z","description":"","frontend_count":0,"id":"2a6734d2-6a97-4f8a-baf5-80f866f80406","instances":[],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"2a6734d2-6a97-4f8a-baf5-80f866f80406","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:51.018335330Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.109916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a6734d2-6a97-4f8a-baf5-80f866f80406
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-01-24T14:08:51.018335Z","description":"","frontend_count":0,"id":"2a6734d2-6a97-4f8a-baf5-80f866f80406","instances":[],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"2a6734d2-6a97-4f8a-baf5-80f866f80406","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:08:51.018335Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.69075ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a6734d2-6a97-4f8a-baf5-80f866f80406/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.7065ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-trusting-aryabhata","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a6734d2-6a97-4f8a-baf5-80f866f80406/backends
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:09:21.887055089Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"8ad4e962-95c6-49af-8ff6-aef1b27c8a97","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:51.018335Z","description":"","frontend_count":0,"id":"2a6734d2-6a97-4f8a-baf5-80f866f80406","instances":[{"created_at":"2025-01-03T01:08:41.801744Z","id":"a0c7dca7-ab0c-4aa1-9eff-391fc075f7b5","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-01-24T14:09:21.912504301Z","zone":"fr-par-1"}],"ip":[{"id":"ebce515e-59f3-472d-89fc-205eaac8106d","ip_address":"51.159.75.67","lb_id":"2a6734d2-6a97-4f8a-baf5-80f866f80406","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-75-67.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-01-24T14:09:13.459599Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-trusting-aryabhata","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-01-24T14:09:21.887055089Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.767292ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8ad4e962-95c6-49af-8ff6-aef1b27c8a97
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:09:21.887055Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-peaceful-keller","inbound_port":80,"backend_id":"8ad4e962-95c6-49af-8ff6-aef1b27c8a97","enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a6734d2-6a97-4f8a-baf5-80f866f80406/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.887055Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"8ad4e962-95c6-49af-8ff6-aef1b27c8a97","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-01-24T14:08:51.018335Z","description":"","frontend_count":1,"id":"2a6[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-hardcore-lamarr","inbound_port":80,"backend_id":"8ad4e962-95c6-49af-8ff6-aef1b27c8a97","certificate_ids":[],"enable_http3":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d7b5b80e-f209-4531-9fff-269e3645f134
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-01-24T14:09:21.887055Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d7b5b80e-f209-4531-9fff-269e3645f134/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.259125ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"d7b5b80e-f209-4531-9fff-269e3645f134","backend_id":"8ad4e962-95c6-49af-8ff6-aef1b27c8a97","match":{"sni":"sni.scaleway.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"8ad4e962-95c6-49af-8ff6-aef1b27c8a97","created_at":"2025-01-24T14:09:24.135802185Z","frontend_id":"d7b5b80e-f209-4531-9fff-269e3645f134","id":"59b699c3-0a1e-486f-9d51-7eaed5023c0a","match":{"sni":"sni.scaleway.com"},"updated_at":"2025-01-24T14:09:24.135802185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.885125ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/59b699c3-0a1e-486f-9d51-7eaed5023c0a
        method: GET
      response:
        body: '{"backend_id":"8ad4e962-95c6-49af-8ff6-aef1b27c8a97","created_at":"2025-01-24T14:09:24.135802Z","frontend_id":"d7b5b80e-f209-4531-9fff-269e3645f134","id":"59b699c3-0a1e-486f-9d51-7eaed5023c0a","match":{"sni":"sni.scaleway.com"},"updated_at":"2025-01-24T14:09:24.135802Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.948ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a6734d2-6a97-4f8a-baf5-80f866f80406?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 305.579458ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a6734d2-6a97-4f8a-baf5-80f866f80406
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.389333ms
[...]
