---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-251.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.439834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d04f5864-953c-445a-95e8-a6b300132422
        method: GET
      response:
        body: '{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-251.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.656083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d04f5864-953c-445a-95e8-a6b300132422","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-05-12T15:28:11.098362239Z","description":"","frontend_count":0,"id":"43f4b67e-8297-47cc-854a-e25845ae895d","instances":[],"ip":[{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","lb_id":"43f4b67e-8297-47cc-854a-e25845ae895d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-251.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-12T15:28:11.098362239Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.247833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/43f4b67e-8297-47cc-854a-e25845ae895d
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-05-12T15:28:11.098362Z","description":"","frontend_count":0,"id":"43f4b67e-8297-47cc-854a-e25845ae895d","instances":[{"created_at":"2025-05-12T15:24:12.829231Z","id":"4b85ce69-426e-490b-88fa-d5a6bc4dea57","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-05-12T15:28:11.376195Z","zone":"fr-par-1"}],"ip":[{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","lb_id":"43f4b67e-8297-47cc-854a-e25845ae895d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-251.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-12T15:28:11.098362Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.966208ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/43f4b67e-8297-47cc-854a-e25845ae895d/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.177208ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-beautiful-goodall","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/43f4b67e-8297-47cc-854a-e25845ae895d/backends
        method: POST
      response:
        body: '{"created_at":"2025-05-12T15:28:41.824901672Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"93d3078f-16ab-4215-9944-b84bd6d57a61","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-05-12T15:28:11.098362Z","description":"","frontend_count":0,"id":"43f4b67e-8297-47cc-854a-e25845ae895d","instances":[{"created_at":"2025-05-12T15:24:12.829231Z","id":"4b85ce69-426e-490b-88fa-d5a6bc4dea57","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-05-12T15:28:41.849162484Z","zone":"fr-par-1"}],"ip":[{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","lb_id":"43f4b67e-8297-47cc-854a-e25845ae895d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-251.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-05-12T15:28:15.042758Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-beautiful-goodall","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-05-12T15:28:41.824901672Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.015667ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/93d3078f-16ab-4215-9944-b84bd6d57a61
        method: GET
      response:
        body: '{"created_at":"2025-05-12T15:28:41.824902Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"che[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-compassionate-golick","inbound_port":80,"backend_id":"93d3078f-16ab-4215-9944-b84bd6d57a61","enable_http3":false,"connection_rate_limit":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/43f4b67e-8297-47cc-854a-e25845ae895d/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-05-12T15:28:41.824902Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"93d3078f-16ab-4215-9944-b84bd6d57a61","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-05-12T15:28:11.098362Z","description":"","frontend_count":1,"id":"43[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-cool-beaver","inbound_port":80,"backend_id":"93d3078f-16ab-4215-9944-b84bd6d57a61","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/618d4917-45c3-47ca-bf96-ad0bd2dfbe89
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-05-12T15:28:41.824902Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"c[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/618d4917-45c3-47ca-bf96-ad0bd2dfbe89/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.994917ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"618d4917-45c3-47ca-bf96-ad0bd2dfbe89","backend_id":"93d3078f-16ab-4215-9944-b84bd6d57a61","match":{"match_subdomains":false,"path_begin":"/api"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"93d3078f-16ab-4215-9944-b84bd6d57a61","created_at":"2025-05-12T15:28:43.711934404Z","frontend_id":"618d4917-45c3-47ca-bf96-ad0bd2dfbe89","id":"19035c29-e925-4c4a-b483-fa4de39ab7d9","match":{"match_subdomains":false,"path_begin":"/api"},"updated_at":"2025-05-12T15:28:43.711934404Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.17675ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/19035c29-e925-4c4a-b483-fa4de39ab7d9
        method: GET
      response:
        body: '{"backend_id":"93d3078f-16ab-4215-9944-b84bd6d57a61","created_at":"2025-05-12T15:28:43.711934Z","frontend_id":"618d4917-45c3-47ca-bf96-ad0bd2dfbe89","id":"19035c29-e925-4c4a-b483-fa4de39ab7d9","match":{"match_subdomains":false,"path_begin":"/api"},"updated_at":"2025-05-12T15:28:43.711934Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.773416ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/43f4b67e-8297-47cc-854a-e25845ae895d?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 345.907083ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/43f4b67e-8297-47cc-854a-e25845ae895d
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.883375ms
[...]
