---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"id":"80e07681-11d0-4159-a9fe-6e9d1a438bcb","ip_address":"51.159.24.2","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.211322ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/80e07681-11d0-4159-a9fe-6e9d1a438bcb
        method: GET
      response:
        body: '{"id":"80e07681-11d0-4159-a9fe-6e9d1a438bcb","ip_address":"51.159.24.2","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.554481ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"80e07681-11d0-4159-a9fe-6e9d1a438bcb","ip_ids":[],"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
        method: POST
      response:
        body: '{"backend_count":0,"created_at":"2025-03-18T15:23:38.556384662Z","description":"","frontend_count":0,"id":"55a8acd1-a227-42ee-bde5-af6e7ba2076b","instances":[],"ip":[{"id":"80e07681-11d0-4159-a9fe-6e9d1a438bcb","ip_address":"51.159.24.2","lb_id":"55a8acd1-a227-42ee-bde5-af6e7ba2076b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-03-18T15:23:38.556384662Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.520297ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/55a8acd1-a227-42ee-bde5-af6e7ba2076b
        method: GET
      response:
        body: '{"backend_count":0,"created_at":"2025-03-18T15:23:38.556385Z","description":"","frontend_count":0,"id":"55a8acd1-a227-42ee-bde5-af6e7ba2076b","instances":[{"created_at":"2025-03-18T15:14:25.174111Z","id":"7427841e-eeb7-4c19-a268-85a8c77b363d","ip_address":"","region":"fr-par","status":"unknown","updated_at":"2025-03-18T15:23:38.786095Z","zone":"fr-par-1"}],"ip":[{"id":"80e07681-11d0-4159-a9fe-6e9d1a438bcb","ip_address":"51.159.24.2","lb_id":"55a8acd1-a227-42ee-bde5-af6e7ba2076b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-03-18T15:23:38.794634Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.923087ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/55a8acd1-a227-42ee-bde5-af6e7ba2076b/private-networks?order_by=created_at_asc
        method: GET
      response:
        body: '{"private_network":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.422072ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-bkd-bold-einstein","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":[],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/55a8acd1-a227-42ee-bde5-af6e7ba2076b/backends
        method: POST
      response:
        body: '{"created_at":"2025-03-18T15:24:09.306716384Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"50a6f104-9322-4bbb-bd22-c4afc0b2acfe","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-03-18T15:23:38.556385Z","description":"","frontend_count":0,"id":"55a8acd1-a227-42ee-bde5-af6e7ba2076b","instances":[{"created_at":"2025-03-18T15:14:25.174111Z","id":"7427841e-eeb7-4c19-a268-85a8c77b363d","ip_address":"","region":"fr-par","status":"pending","updated_at":"2025-03-18T15:24:09.338586566Z","zone":"fr-par-1"}],"ip":[{"id":"80e07681-11d0-4159-a9fe-6e9d1a438bcb","ip_address":"51.159.24.2","lb_id":"55a8acd1-a227-42ee-bde5-af6e7ba2076b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-2.lb.fr-par.scw.cloud","tags":[],"zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2025-03-18T15:23:41.579953Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-bold-einstein","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2025-03-18T15:24:09.306716384Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.276612ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/50a6f104-9322-4bbb-bd22-c4afc0b2acfe
        method: GET
      response:
        body: '{"created_at":"2025-03-18T15:24:09.306716Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"chec[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-admiring-leavitt","inbound_port":80,"backend_id":"50a6f104-9322-4bbb-bd22-c4afc0b2acfe","enable_http3":false,"connection_rate_limit":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/55a8acd1-a227-42ee-bde5-af6e7ba2076b/frontends
        method: POST
      response:
        body: '{"backend":{"created_at":"2025-03-18T15:24:09.306716Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"50a6f104-9322-4bbb-bd22-c4afc0b2acfe","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2025-03-18T15:23:38.556385Z","description":"","frontend_count":1,"id":"55a[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tf-lb-frt-vibrant-cori","inbound_port":80,"backend_id":"50a6f104-9322-4bbb-bd22-c4afc0b2acfe","certificate_ids":[],"enable_http3":false,"connection_rate_limit":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9db0ada7-484f-4a51-8fa3-e288284113dd
        method: PUT
      response:
        body: '{"backend":{"created_at":"2025-03-18T15:24:09.306716Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"ch[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9db0ada7-484f-4a51-8fa3-e288284113dd/acls?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"acls":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.966878ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"frontend_id":"9db0ada7-484f-4a51-8fa3-e288284113dd","backend_id":"50a6f104-9322-4bbb-bd22-c4afc0b2acfe","match":{"sni":"sni.scaleway.com","match_subdomains":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
        method: POST
      response:
        body: '{"backend_id":"50a6f104-9322-4bbb-bd22-c4afc0b2acfe","created_at":"2025-03-18T15:24:11.118863155Z","frontend_id":"9db0ada7-484f-4a51-8fa3-e288284113dd","id":"c93afe0b-8cb9-43b1-9c6a-be02506f4af0","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2025-03-18T15:24:11.118863155Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.63582ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/c93afe0b-8cb9-43b1-9c6a-be02506f4af0
        method: GET
      response:
        body: '{"backend_id":"50a6f104-9322-4bbb-bd22-c4afc0b2acfe","created_at":"2025-03-18T15:24:11.118863Z","frontend_id":"9db0ada7-484f-4a51-8fa3-e288284113dd","id":"c93afe0b-8cb9-43b1-9c6a-be02506f4af0","match":{"match_subdomains":false,"sni":"sni.scaleway.com"},"updated_at":"2025-03-18T15:24:11.118863Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.759551ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/55a8acd1-a227-42ee-bde5-af6e7ba2076b?release_ip=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 296.595518ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/55a8acd1-a227-42ee-bde5-af6e7ba2076b
        method: GET
      response:
        body: '{"message":"lbs not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.460772ms
[...]
