---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-action","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"72f0adf7-c0a6-4464-a2f7-8d5010e89f90","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-action","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2025-12-11T10:04:58.330991Z","updated_at":"2025-12-11T10:04:58.336187Z","protected":false,"locked":false,"description":"Test key","tags":["tf","test"],"rotated_at":"2025-12-11T10:04:58.336187Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.661879ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/72f0adf7-c0a6-4464-a2f7-8d5010e89f90
        method: GET
      response:
        body: '{"id":"72f0adf7-c0a6-4464-a2f7-8d5010e89f90","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-action","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2025-12-11T10:04:58.330991Z","updated_at":"2025-12-11T10:04:58.336187Z","protected":false,"locked":false,"description":"Test key","tags":["tf","test"],"rotated_at":"2025-12-11T10:04:58.336187Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.988962ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/72f0adf7-c0a6-4464-a2f7-8d5010e89f90/rotate
        method: POST
      response:
        body: '{"id":"72f0adf7-c0a6-4464-a2f7-8d5010e89f90","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-action","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":2,"created_at":"2025-12-11T10:04:58.330991Z","updated_at":"2025-12-11T10:04:58.567736Z","protected":false,"locked":false,"description":"Test key","tags":["tf","test"],"rotated_at":"2025-12-11T10:04:58.567736Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.84669ms
[...]
