---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-action","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2025-12-08T17:20:14.550952Z","deletion_requested_at":null,"description":"Test key","id":"95897407-0389-4262-a9b2-cb251ce73f27","locked":false,"name":"tf-test-kms-key-rotation-action","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-12-08T17:20:14.562556Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":["tf","test"],"updated_at":"2025-12-08T17:20:14.562556Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 410.147091ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/95897407-0389-4262-a9b2-cb251ce73f27
        method: GET
      response:
        body: '{"created_at":"2025-12-08T17:20:14.550952Z","deletion_requested_at":null,"description":"Test key","id":"95897407-0389-4262-a9b2-cb251ce73f27","locked":false,"name":"tf-test-kms-key-rotation-action","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-12-08T17:20:14.562556Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":["tf","test"],"updated_at":"2025-12-08T17:20:14.562556Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.907524ms
[...]
