---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-test-kms-key-unprotected-a\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"unprotected\":true,\"origin\":\"unknown_origin\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
    method: POST
  response:
    body: "{\"id\":\"907b06aa-ff1a-4aab-bf88-e7d44cf4503c\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-test-kms-key-unprotected-a\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"state\":\"enabled\",\"rotation_count\":1,\"created_at\":\"2025-12-10T15:22:19.786066Z\",\"updated_at\":\"2025-12-10T15:22:19.790072Z\",\"protected\":false,\"locked\":false,\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"rotated_at\":\"2025-12-10T15:22:19.790072Z\",\"rotation_policy\":null,\"origin\":\"scaleway_kms\",\"deletion_requested_at\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 398.795423ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/907b06aa-ff1a-4aab-bf88-e7d44cf4503c
    method: GET
  response:
    body: "{\"id\":\"907b06aa-ff1a-4aab-bf88-e7d44cf4503c\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-test-kms-key-unprotected-a\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"state\":\"enabled\",\"rotation_count\":1,\"created_at\":\"2025-12-10T15:22:19.786066Z\",\"updated_at\":\"2025-12-10T15:22:19.790072Z\",\"protected\":false,\"locked\":false,\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"rotated_at\":\"2025-12-10T15:22:19.790072Z\",\"rotation_policy\":null,\"origin\":\"scaleway_kms\",\"deletion_requested_at\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 46.446705ms
[...]
