---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret-invalid","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"", "id":"5ec9c364-3a7b-4724-afbf-caaad1b7370d", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-verify-secret-invalid", "status":"ready", "created_at":"2026-10-07T13:45:19.302492Z", "updated_at":"2026-10-07T13:45:19.302492Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 165.982311ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 22.326956ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key-invalid","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/3c277237-fce4-4350-98f6-749394143cec","id":"3c277237-fce4-4350-98f6-749394143cec","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key-invalid","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:19.307252Z","updated_at":"2026-10-07T13:45:19.345355Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:19.345355Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 227.544083ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5ec9c364-3a7b-4724-afbf-caaad1b7370d
        method: GET
      response:
        body: '{"srn":"","id":"5ec9c364-3a7b-4724-afbf-caaad1b7370d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret-invalid","status":"ready","created_at":"2026-10-07T13:45:19.302492Z","updated_at":"2026-10-07T13:45:19.302492Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 77.6708ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/3c277237-fce4-4350-98f6-749394143cec
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/3c277237-fce4-4350-98f6-749394143cec", "id":"3c277237-fce4-4350-98f6-749394143cec", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-verify-key-invalid", "usage":{"asymmetric_signing":"rsa_pss_2048_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:19.307252Z", "updated_at":"2026-10-07T13:45:19.345355Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:19.345355Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.256181ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5ec9c364-3a7b-4724-afbf-caaad1b7370d/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.529685ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/3c277237-fce4-4350-98f6-749394143cec/sign
        method: POST
      response:
        body: '{"key_id":"3c277237-fce4-4350-98f6-749394143cec", "signature":"qH+eX4DC/KzdJswwFXWcEEmOO8zGRmnQxlr4sYDC3C6H8c6a4Q34HuVZ4uC0izqAgjCiAbmoLt8RPuw++DNFdM547Qmw67W3CogxK/QfxIqC5REocTeNOzfWSz1R50GtZK0SCjeWTuTyyWwPCSvtpXYm9Wf3104XUvKEzWasj1wPMsOMTj9+8h66OzcnnsfA4LlMPyjsu1QeT99H5TlxB0TQhy6QekaO7g/uy0SRqNp03SiLHdD5KKbVYfOtEZj7Zam360D6ptBAaw8vjeusaUI60zFrMDW3/i7n2w7IBbTb/gop6QExkTnOWIQTELbj2sLSRGU2s3P3n8AHoVVVtQ=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.14595ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"data":"cUgrZVg0REMvS3pkSnN3d0ZYV2NFRW1PTzh6R1JtblF4bHI0c1lEQzNDNkg4YzZhNFEzNEh1Vlo0dUMwaXpxQWdqQ2lBYm1vTHQ4UlB1dysrRE5GZE01NDdRbXc2N1czQ29neEsvUWZ4SXFDNVJFb2NUZU5PemZXU3oxUjUwR3RaSzBTQ2plV1R1VHl5V3dQQ1N2dHBYWW05V2YzMTA0WFV2S0V6V2FzajF3UE1zT01UajkrOGg2Nk96Y25uc2ZBNExsTVB5anN1MVFlVDk5SDVUbHhCMFRRaHk2UWVrYU83Zy91eTBTUnFOcDAzU2lMSGRENUtLYlZZZk90RVpqN1phbTM2MEQ2cHRCQWF3OHZqZXVzYVVJNjB6RnJNRFczL2k3bjJ3N0lCYlRiL2dvcDZRRXhrVG5PV0lRVEVMYmoyc0xTUkdVMnMzUDNuOEFIb1ZWVnRRPT0=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5ec9c364-3a7b-4724-afbf-caaad1b7370d/versions
        method: POST
      response:
        body: '{"srn":"", "revision":1, "secret_id":"5ec9c364-3a7b-4724-afbf-caaad1b7370d", "status":"enabled", "created_at":"2026-10-07T13:45:19.912291Z", "updated_at":"2026-10-07T13:45:19.912291Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 360.731422ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5ec9c364-3a7b-4724-afbf-caaad1b7370d/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"5ec9c364-3a7b-4724-afbf-caaad1b7370d","status":"enabled","created_at":"2026-10-07T13:45:19.912291Z","updated_at":"2026-10-07T13:45:19.912291Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.696318ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5ec9c364-3a7b-4724-afbf-caaad1b7370d/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"5ec9c364-3a7b-4724-afbf-caaad1b7370d", "revision":1, "data":"cUgrZVg0REMvS3pkSnN3d0ZYV2NFRW1PTzh6R1JtblF4bHI0c1lEQzNDNkg4YzZhNFEzNEh1Vlo0dUMwaXpxQWdqQ2lBYm1vTHQ4UlB1dysrRE5GZE01NDdRbXc2N1czQ29neEsvUWZ4SXFDNVJFb2NUZU5PemZXU3oxUjUwR3RaSzBTQ2plV1R1VHl5V3dQQ1N2dHBYWW05V2YzMTA0WFV2S0V6V2FzajF3UE1zT01UajkrOGg2Nk96Y25uc2ZBNExsTVB5anN1MVFlVDk5SDVUbHhCMFRRaHk2UWVrYU83Zy91eTBTUnFOcDAzU2lMSGRENUtLYlZZZk90RVpqN1phbTM2MEQ2cHRCQWF3OHZqZXVzYVVJNjB6RnJNRFczL2k3bjJ3N0lCYlRiL2dvcDZRRXhrVG5PV0lRVEVMYmoyc0xTUkdVMnMzUDNuOEFIb1ZWVnRRPT0=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "29"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 127.394431ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs=","signature":"qH+eX4DC/KzdJswwFXWcEEmOO8zGRmnQxlr4sYDC3C6H8c6a4Q34HuVZ4uC0izqAgjCiAbmoLt8RPuw++DNFdM547Qmw67W3CogxK/QfxIqC5REocTeNOzfWSz1R50GtZK0SCjeWTuTyyWwPCSvtpXYm9Wf3104XUvKEzWasj1wPMsOMTj9+8h66OzcnnsfA4LlMPyjsu1QeT99H5TlxB0TQhy6QekaO7g/uy0SRqNp03SiLHdD5KKbVYfOtEZj7Zam360D6ptBAaw8vjeusaUI60zFrMDW3/i7n2w7IBbTb/gop6QExkTnOWIQTELbj2sLSRGU2s3P3n8AHoVVVtQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/86d6256f-33d9-4f4e-b937-49da2f4774b5/verify
        method: POST
      response:
        body: '{"key_id":"86d6256f-33d9-4f4e-b937-49da2f4774b5","valid":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.446011ms
[...]
