---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"910dc2f0-caff-4ed9-bd92-f8ebe25ddaf5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-06-05T16:02:20.888879Z","updated_at":"2026-06-05T16:02:20.891268Z","protected":false,"locked":false,"description":"Test key","tags":["tf","test"],"rotated_at":"2026-06-05T16:02:20.891268Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.003359ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/910dc2f0-caff-4ed9-bd92-f8ebe25ddaf5
        method: GET
      response:
        body: '{"id":"910dc2f0-caff-4ed9-bd92-f8ebe25ddaf5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-ds","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-06-05T16:02:20.888879Z","updated_at":"2026-06-05T16:02:20.891268Z","protected":false,"locked":false,"description":"Test key","tags":["tf","test"],"rotated_at":"2026-06-05T16:02:20.891268Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.122629ms
[...]
