---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"cae3bb89-d677-4dc7-aecb-56a778307e3a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret","status":"ready","created_at":"2026-10-06T15:37:14.211277Z","updated_at":"2026-10-06T15:37:14.211277Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 410.260437ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.398823ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/da6d327c-ecab-4726-9e7d-66376c379ffd","id":"da6d327c-ecab-4726-9e7d-66376c379ffd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.222787Z","updated_at":"2026-10-06T15:37:14.267948Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:14.267948Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 475.057375ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/da6d327c-ecab-4726-9e7d-66376c379ffd
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/da6d327c-ecab-4726-9e7d-66376c379ffd","id":"da6d327c-ecab-4726-9e7d-66376c379ffd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.222787Z","updated_at":"2026-10-06T15:37:14.267948Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:14.267948Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.267619ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cae3bb89-d677-4dc7-aecb-56a778307e3a
        method: GET
      response:
        body: '{"srn":"","id":"cae3bb89-d677-4dc7-aecb-56a778307e3a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret","status":"ready","created_at":"2026-10-06T15:37:14.211277Z","updated_at":"2026-10-06T15:37:14.211277Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 135.473946ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cae3bb89-d677-4dc7-aecb-56a778307e3a/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.212882ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/da6d327c-ecab-4726-9e7d-66376c379ffd/sign
        method: POST
      response:
        body: '{"key_id":"da6d327c-ecab-4726-9e7d-66376c379ffd","signature":"e2bEBFmAOS6CPOW62XzTUlViOnM+13HRUjzdCNwV01uYTfcGrENim2gZsSOOIRg0lmwboTZQ4GVBlvHDFj4EuXwlMj8cQBzXTtRuBTEMdsS4Png3HRU2mliCXDfpaHKqOAYral/rdSKFzIlMb5ovwW8x873wrteF5PJ80sbB1t+VGwlav5KE/noO/xT4QaA7k/yMfUSGL452O+cSzAqTXO0Xk/7hgjnQPmfIqgZ5jocqPZe59Utf90DgFxaGt2K8OMwndbLOTL7JWkD3lIrtlyb0e6UdF4rm6IKpvD5zsQFGLUxPFkTGzWuOJe7W4qYkrOMNAd+avv/4FatqxpCEWw=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 103.242978ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"ZTJiRUJGbUFPUzZDUE9XNjJYelRVbFZpT25NKzEzSFJVanpkQ053VjAxdVlUZmNHckVOaW0yZ1pzU09PSVJnMGxtd2JvVFpRNEdWQmx2SERGajRFdVh3bE1qOGNRQnpYVHRSdUJURU1kc1M0UG5nM0hSVTJtbGlDWERmcGFIS3FPQVlyYWwvcmRTS0Z6SWxNYjVvdndXOHg4NzN3cnRlRjVQSjgwc2JCMXQrVkd3bGF2NUtFL25vTy94VDRRYUE3ay95TWZVU0dMNDUyTytjU3pBcVRYTzBYay83aGdqblFQbWZJcWdaNWpvY3FQWmU1OVV0ZjkwRGdGeGFHdDJLOE9Nd25kYkxPVEw3SldrRDNsSXJ0bHliMGU2VWRGNHJtNklLcHZENXpzUUZHTFV4UEZrVEd6V3VPSmU3VzRxWWtyT01OQWQrYXZ2LzRGYXRxeHBDRVd3PT0=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cae3bb89-d677-4dc7-aecb-56a778307e3a/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"cae3bb89-d677-4dc7-aecb-56a778307e3a","status":"enabled","created_at":"2026-10-06T15:37:15.026630Z","updated_at":"2026-10-06T15:37:15.026630Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 557.456134ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cae3bb89-d677-4dc7-aecb-56a778307e3a/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"cae3bb89-d677-4dc7-aecb-56a778307e3a","status":"enabled","created_at":"2026-10-06T15:37:15.026630Z","updated_at":"2026-10-06T15:37:15.026630Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 109.180026ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cae3bb89-d677-4dc7-aecb-56a778307e3a/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"cae3bb89-d677-4dc7-aecb-56a778307e3a","revision":1,"data":"ZTJiRUJGbUFPUzZDUE9XNjJYelRVbFZpT25NKzEzSFJVanpkQ053VjAxdVlUZmNHckVOaW0yZ1pzU09PSVJnMGxtd2JvVFpRNEdWQmx2SERGajRFdVh3bE1qOGNRQnpYVHRSdUJURU1kc1M0UG5nM0hSVTJtbGlDWERmcGFIS3FPQVlyYWwvcmRTS0Z6SWxNYjVvdndXOHg4NzN3cnRlRjVQSjgwc2JCMXQrVkd3bGF2NUtFL25vTy94VDRRYUE3ay95TWZVU0dMNDUyTytjU3pBcVRYTzBYay83aGdqblFQbWZJcWdaNWpvY3FQWmU1OVV0ZjkwRGdGeGFHdDJLOE9Nd25kYkxPVEw3SldrRDNsSXJ0bHliMGU2VWRGNHJtNklLcHZENXpzUUZHTFV4UEZrVEd6V3VPSmU3VzRxWWtyT01OQWQrYXZ2LzRGYXRxeHBDRVd3PT0=","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 137.346662ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs=","signature":"e2bEBFmAOS6CPOW62XzTUlViOnM+13HRUjzdCNwV01uYTfcGrENim2gZsSOOIRg0lmwboTZQ4GVBlvHDFj4EuXwlMj8cQBzXTtRuBTEMdsS4Png3HRU2mliCXDfpaHKqOAYral/rdSKFzIlMb5ovwW8x873wrteF5PJ80sbB1t+VGwlav5KE/noO/xT4QaA7k/yMfUSGL452O+cSzAqTXO0Xk/7hgjnQPmfIqgZ5jocqPZe59Utf90DgFxaGt2K8OMwndbLOTL7JWkD3lIrtlyb0e6UdF4rm6IKpvD5zsQFGLUxPFkTGzWuOJe7W4qYkrOMNAd+avv/4FatqxpCEWw=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/da6d327c-ecab-4726-9e7d-66376c379ffd/verify
        method: POST
      response:
        body: '{"key_id":"da6d327c-ecab-4726-9e7d-66376c379ffd","valid":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 96.232838ms
[...]
