---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret-invalid","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"5cdfdbb2-c34a-41f3-aeae-e831e54baed1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret-invalid","status":"ready","created_at":"2026-10-06T15:37:14.154658Z","updated_at":"2026-10-06T15:37:14.154658Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 349.287371ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.883596ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key-invalid","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e54abef6-e6c5-4e08-b6df-8a43e4c88868","id":"e54abef6-e6c5-4e08-b6df-8a43e4c88868","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key-invalid","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.130842Z","updated_at":"2026-10-06T15:37:14.173110Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:14.173110Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 395.950113ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5cdfdbb2-c34a-41f3-aeae-e831e54baed1
        method: GET
      response:
        body: '{"srn":"","id":"5cdfdbb2-c34a-41f3-aeae-e831e54baed1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret-invalid","status":"ready","created_at":"2026-10-06T15:37:14.154658Z","updated_at":"2026-10-06T15:37:14.154658Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 80.265463ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e54abef6-e6c5-4e08-b6df-8a43e4c88868
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e54abef6-e6c5-4e08-b6df-8a43e4c88868","id":"e54abef6-e6c5-4e08-b6df-8a43e4c88868","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key-invalid","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.130842Z","updated_at":"2026-10-06T15:37:14.173110Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:14.173110Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.7745ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5cdfdbb2-c34a-41f3-aeae-e831e54baed1/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 115.943131ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e54abef6-e6c5-4e08-b6df-8a43e4c88868/sign
        method: POST
      response:
        body: '{"key_id":"e54abef6-e6c5-4e08-b6df-8a43e4c88868","signature":"RsXy3URCs6hHxf0S2gUP6ULoXW253dDNmldJJi7yjmLjg/xBX4XFNSI7MwHIt6EbzdBIdCY0Vgh7w+vXgThU1nwTK2iepOJdnrgxn9YcMINQyAtsyhwi/2UIEGzB0UO6sPDhpnD8OHD5zcmLse+xbZhNnEnHu6xONxGtRw2k2KMFR2jRCFhQp9lfeetOyVWtWFfw6T8Yx+MYE+41vxvcbZKlALvSiYKoeNChSbSLsYdSWSWdTtvQWI7d5efv0ZQNE0yBOWrWyyEP8/OX+WV4QGjSzwWj+2Xw7srxXtmmoTs/lqjAdVgubZuj5NzsCtDAQDaMCRb4G9nIXuoso7WDuA=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 130.435279ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"UnNYeTNVUkNzNmhIeGYwUzJnVVA2VUxvWFcyNTNkRE5tbGRKSmk3eWptTGpnL3hCWDRYRk5TSTdNd0hJdDZFYnpkQklkQ1kwVmdoN3crdlhnVGhVMW53VEsyaWVwT0pkbnJneG45WWNNSU5ReUF0c3lod2kvMlVJRUd6QjBVTzZzUERocG5EOE9IRDV6Y21Mc2UreGJaaE5uRW5IdTZ4T054R3RSdzJrMktNRlIyalJDRmhRcDlsZmVldE95Vld0V0ZmdzZUOFl4K01ZRSs0MXZ4dmNiWktsQUx2U2lZS29lTkNoU2JTTHNZZFNXU1dkVHR2UVdJN2Q1ZWZ2MFpRTkUweUJPV3JXeXlFUDgvT1grV1Y0UUdqU3p3V2orMlh3N3NyeFh0bW1vVHMvbHFqQWRWZ3ViWnVqNU56c0N0REFRRGFNQ1JiNEc5bklYdW9zbzdXRHVBPT0=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5cdfdbb2-c34a-41f3-aeae-e831e54baed1/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"5cdfdbb2-c34a-41f3-aeae-e831e54baed1","status":"enabled","created_at":"2026-10-06T15:37:14.956690Z","updated_at":"2026-10-06T15:37:14.956690Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 539.663392ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5cdfdbb2-c34a-41f3-aeae-e831e54baed1/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"5cdfdbb2-c34a-41f3-aeae-e831e54baed1","status":"enabled","created_at":"2026-10-06T15:37:14.956690Z","updated_at":"2026-10-06T15:37:14.956690Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.951823ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5cdfdbb2-c34a-41f3-aeae-e831e54baed1/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"5cdfdbb2-c34a-41f3-aeae-e831e54baed1","revision":1,"data":"UnNYeTNVUkNzNmhIeGYwUzJnVVA2VUxvWFcyNTNkRE5tbGRKSmk3eWptTGpnL3hCWDRYRk5TSTdNd0hJdDZFYnpkQklkQ1kwVmdoN3crdlhnVGhVMW53VEsyaWVwT0pkbnJneG45WWNNSU5ReUF0c3lod2kvMlVJRUd6QjBVTzZzUERocG5EOE9IRDV6Y21Mc2UreGJaaE5uRW5IdTZ4T054R3RSdzJrMktNRlIyalJDRmhRcDlsZmVldE95Vld0V0ZmdzZUOFl4K01ZRSs0MXZ4dmNiWktsQUx2U2lZS29lTkNoU2JTTHNZZFNXU1dkVHR2UVdJN2Q1ZWZ2MFpRTkUweUJPV3JXeXlFUDgvT1grV1Y0UUdqU3p3V2orMlh3N3NyeFh0bW1vVHMvbHFqQWRWZ3ViWnVqNU56c0N0REFRRGFNQ1JiNEc5bklYdW9zbzdXRHVBPT0=","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.296747ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs=","signature":"RsXy3URCs6hHxf0S2gUP6ULoXW253dDNmldJJi7yjmLjg/xBX4XFNSI7MwHIt6EbzdBIdCY0Vgh7w+vXgThU1nwTK2iepOJdnrgxn9YcMINQyAtsyhwi/2UIEGzB0UO6sPDhpnD8OHD5zcmLse+xbZhNnEnHu6xONxGtRw2k2KMFR2jRCFhQp9lfeetOyVWtWFfw6T8Yx+MYE+41vxvcbZKlALvSiYKoeNChSbSLsYdSWSWdTtvQWI7d5efv0ZQNE0yBOWrWyyEP8/OX+WV4QGjSzwWj+2Xw7srxXtmmoTs/lqjAdVgubZuj5NzsCtDAQDaMCRb4G9nIXuoso7WDuA=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/1bd92288-2ddc-4c83-83dd-b16d3a0e1afd/verify
        method: POST
      response:
        body: '{"key_id":"1bd92288-2ddc-4c83-83dd-b16d3a0e1afd","valid":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 114.483422ms
[...]
