---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-verify-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"", "id":"d3386ffc-797d-429a-853c-d4910e61da91", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-verify-secret", "status":"ready", "created_at":"2026-10-07T13:45:23.566560Z", "updated_at":"2026-10-07T13:45:23.566560Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 152.443724ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.26909ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3386ffc-797d-429a-853c-d4910e61da91
        method: GET
      response:
        body: '{"srn":"", "id":"d3386ffc-797d-429a-853c-d4910e61da91", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-verify-secret", "status":"ready", "created_at":"2026-10-07T13:45:23.566560Z", "updated_at":"2026-10-07T13:45:23.566560Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.561685ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3386ffc-797d-429a-853c-d4910e61da91/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 81.602801ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb","id":"f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-verify-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.009398Z","updated_at":"2026-10-07T13:45:24.168103Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:24.168103Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 756.905789ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb", "id":"f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-verify-key", "usage":{"asymmetric_signing":"rsa_pss_2048_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:24.009398Z", "updated_at":"2026-10-07T13:45:24.168103Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:24.168103Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.984334ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb/sign
        method: POST
      response:
        body: '{"key_id":"f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb", "signature":"MvDMMqae7Rt1cTMvh4xFYpZmRZzFVLve3EH8cnfhdEF9UC54BdZie/Eu+d7HCKIIFrYXwyRChKafMHcA2Nl/8fYK6TH0cZ0L9kM5ghCStInWc5Sk2xbSXCjup30UEl5M2+CBCmciUeeRZPkDvjj8ZvXHovUf/P3MWY7grFrZ+r9Fuul3i2hDU4KhhJhlMcLVZuNskXlx3NDE9Nfni5i/mqCkwKRueKWDsjMXDrlWu9yvkNvsND+Za19mJ8HaYDDYyVapBs74NG7EpNLcYqEAn9+Xi7RT2WoYI+XK5VKtPcYDINGxPJot02VbJYztBwLKGIixOlJg+KgfU1/ZU7O5hg=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 113.339485ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"TXZETU1xYWU3UnQxY1RNdmg0eEZZcFptUlp6RlZMdmUzRUg4Y25maGRFRjlVQzU0QmRaaWUvRXUrZDdIQ0tJSUZyWVh3eVJDaEthZk1IY0EyTmwvOGZZSzZUSDBjWjBMOWtNNWdoQ1N0SW5XYzVTazJ4YlNYQ2p1cDMwVUVsNU0yK0NCQ21jaVVlZVJaUGtEdmpqOFp2WEhvdlVmL1AzTVdZN2dyRnJaK3I5RnV1bDNpMmhEVTRLaGhKaGxNY0xWWnVOc2tYbHgzTkRFOU5mbmk1aS9tcUNrd0tSdWVLV0Rzak1YRHJsV3U5eXZrTnZzTkQrWmExOW1KOEhhWUREWXlWYXBCczc0Tkc3RXBOTGNZcUVBbjkrWGk3UlQyV29ZSStYSzVWS3RQY1lESU5HeFBKb3QwMlZiSll6dEJ3TEtHSWl4T2xKZytLZ2ZVMS9aVTdPNWhnPT0=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3386ffc-797d-429a-853c-d4910e61da91/versions
        method: POST
      response:
        body: '{"srn":"", "revision":1, "secret_id":"d3386ffc-797d-429a-853c-d4910e61da91", "status":"enabled", "created_at":"2026-10-07T13:45:24.716131Z", "updated_at":"2026-10-07T13:45:24.716131Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 384.156345ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3386ffc-797d-429a-853c-d4910e61da91/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"d3386ffc-797d-429a-853c-d4910e61da91","status":"enabled","created_at":"2026-10-07T13:45:24.716131Z","updated_at":"2026-10-07T13:45:24.716131Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.165986ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3386ffc-797d-429a-853c-d4910e61da91/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"d3386ffc-797d-429a-853c-d4910e61da91", "revision":1, "data":"TXZETU1xYWU3UnQxY1RNdmg0eEZZcFptUlp6RlZMdmUzRUg4Y25maGRFRjlVQzU0QmRaaWUvRXUrZDdIQ0tJSUZyWVh3eVJDaEthZk1IY0EyTmwvOGZZSzZUSDBjWjBMOWtNNWdoQ1N0SW5XYzVTazJ4YlNYQ2p1cDMwVUVsNU0yK0NCQ21jaVVlZVJaUGtEdmpqOFp2WEhvdlVmL1AzTVdZN2dyRnJaK3I5RnV1bDNpMmhEVTRLaGhKaGxNY0xWWnVOc2tYbHgzTkRFOU5mbmk1aS9tcUNrd0tSdWVLV0Rzak1YRHJsV3U5eXZrTnZzTkQrWmExOW1KOEhhWUREWXlWYXBCczc0Tkc3RXBOTGNZcUVBbjkrWGk3UlQyV29ZSStYSzVWS3RQY1lESU5HeFBKb3QwMlZiSll6dEJ3TEtHSWl4T2xKZytLZ2ZVMS9aVTdPNWhnPT0=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.867407ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs=","signature":"MvDMMqae7Rt1cTMvh4xFYpZmRZzFVLve3EH8cnfhdEF9UC54BdZie/Eu+d7HCKIIFrYXwyRChKafMHcA2Nl/8fYK6TH0cZ0L9kM5ghCStInWc5Sk2xbSXCjup30UEl5M2+CBCmciUeeRZPkDvjj8ZvXHovUf/P3MWY7grFrZ+r9Fuul3i2hDU4KhhJhlMcLVZuNskXlx3NDE9Nfni5i/mqCkwKRueKWDsjMXDrlWu9yvkNvsND+Za19mJ8HaYDDYyVapBs74NG7EpNLcYqEAn9+Xi7RT2WoYI+XK5VKtPcYDINGxPJot02VbJYztBwLKGIixOlJg+KgfU1/ZU7O5hg=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb/verify
        method: POST
      response:
        body: '{"key_id":"f7d0dd0a-1836-4fb1-bbe5-6373885b3fdb","valid":true}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.724386ms
[...]
