---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"32af8a65-3d65-4f90-acac-0397db0bb8fc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:22:58.608279Z","updated_at":"2026-03-24T10:22:58.612677Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:22:58.612677Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 800.771185ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/32af8a65-3d65-4f90-acac-0397db0bb8fc
        method: GET
      response:
        body: '{"id":"32af8a65-3d65-4f90-acac-0397db0bb8fc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:22:58.608279Z","updated_at":"2026-03-24T10:22:58.612677Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:22:58.612677Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.688797ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzZWNyZXQ=","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/32af8a65-3d65-4f90-acac-0397db0bb8fc/encrypt
        method: POST
      response:
        body: '{"key_id":"32af8a65-3d65-4f90-acac-0397db0bb8fc","ciphertext":"AQAAAAFt9L5njx/gIrFsGWexSJq2DG4UH2EgwOmxXPZUNNg8GhiSTZY7NMuTUrg="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.561224ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAFt9L5njx/gIrFsGWexSJq2DG4UH2EgwOmxXPZUNNg8GhiSTZY7NMuTUrg=","associated_data":"cXdlcnR5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/32af8a65-3d65-4f90-acac-0397db0bb8fc/decrypt
        method: POST
      response:
        body: '{"details":[{"argument_name":"ciphertext","help_message":"cipher: message authentication failed","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 208.360032ms
[...]
