---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"0f1578c9-eecf-4096-9752-ee69e9fce948","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:22:58.396603Z","updated_at":"2026-03-24T10:22:58.403391Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:22:58.403391Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 584.536477ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"085a632d-baa5-4987-bff3-93cfac96b551","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","status":"ready","created_at":"2026-03-24T10:22:58.467508Z","updated_at":"2026-03-24T10:22:58.467508Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 632.702955ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/0f1578c9-eecf-4096-9752-ee69e9fce948
        method: GET
      response:
        body: '{"id":"0f1578c9-eecf-4096-9752-ee69e9fce948","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:22:58.396603Z","updated_at":"2026-03-24T10:22:58.403391Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:22:58.403391Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.330558ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/085a632d-baa5-4987-bff3-93cfac96b551
        method: GET
      response:
        body: '{"id":"085a632d-baa5-4987-bff3-93cfac96b551","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","status":"ready","created_at":"2026-03-24T10:22:58.467508Z","updated_at":"2026-03-24T10:22:58.467508Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.857446ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/0f1578c9-eecf-4096-9752-ee69e9fce948/encrypt
        method: POST
      response:
        body: '{"key_id":"0f1578c9-eecf-4096-9752-ee69e9fce948","ciphertext":"AQAAAAEqD/5P62MbGh5YEhwkPMJFVAx/01HaO+H0b1ZkPzp5o/Znx0pOxCHobzk1xGF5Bn5ZiGqk"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.760729ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAEqD/5P62MbGh5YEhwkPMJFVAx/01HaO+H0b1ZkPzp5o/Znx0pOxCHobzk1xGF5Bn5ZiGqk","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/0f1578c9-eecf-4096-9752-ee69e9fce948/decrypt
        method: POST
      response:
        body: '{"key_id":"0f1578c9-eecf-4096-9752-ee69e9fce948","plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.180433ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/085a632d-baa5-4987-bff3-93cfac96b551/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.722554769s
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/085a632d-baa5-4987-bff3-93cfac96b551/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"085a632d-baa5-4987-bff3-93cfac96b551","status":"enabled","created_at":"2026-03-24T10:23:00.908289Z","updated_at":"2026-03-24T10:23:00.908289Z","deleted_at":null,"description":"test decrypted","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 559.655898ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/085a632d-baa5-4987-bff3-93cfac96b551/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"085a632d-baa5-4987-bff3-93cfac96b551","status":"enabled","created_at":"2026-03-24T10:23:00.908289Z","updated_at":"2026-03-24T10:23:00.908289Z","deleted_at":null,"description":"test decrypted","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.181646ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/085a632d-baa5-4987-bff3-93cfac96b551/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"085a632d-baa5-4987-bff3-93cfac96b551","revision":1,"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.616003ms
[...]
