---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"6afc7598-9b93-4d2b-8580-4e2e88b6c46e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:05:20.546795Z", "updated_at":"2025-12-23T10:05:20.553560Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:05:20.553560Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.050445ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/6afc7598-9b93-4d2b-8580-4e2e88b6c46e
        method: GET
      response:
        body: '{"id":"6afc7598-9b93-4d2b-8580-4e2e88b6c46e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:05:20.546795Z", "updated_at":"2025-12-23T10:05:20.553560Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:05:20.553560Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.234152ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzZWNyZXQ=","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/6afc7598-9b93-4d2b-8580-4e2e88b6c46e/encrypt
        method: POST
      response:
        body: '{"key_id":"6afc7598-9b93-4d2b-8580-4e2e88b6c46e", "ciphertext":"AQAAAAFjVn5mEsYsQiO6ZVGNa2DXg6SsikWrVCA77fPBQghl4JFyOX600frqe3U="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.473601ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAFjVn5mEsYsQiO6ZVGNa2DXg6SsikWrVCA77fPBQghl4JFyOX600frqe3U=","associated_data":"cXdlcnR5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/6afc7598-9b93-4d2b-8580-4e2e88b6c46e/decrypt
        method: POST
      response:
        body: '{"details":[{"argument_name":"ciphertext","help_message":"cipher: message authentication failed","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 106.276079ms
[...]
