---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"3bb46cf5-824b-45b1-b249-6690e16b6742","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","status":"ready","created_at":"2026-07-03T15:28:18.762250Z","updated_at":"2026-07-03T15:28:18.762250Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.144477ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bb46cf5-824b-45b1-b249-6690e16b6742
        method: GET
      response:
        body: '{"id":"3bb46cf5-824b-45b1-b249-6690e16b6742","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","status":"ready","created_at":"2026-07-03T15:28:18.762250Z","updated_at":"2026-07-03T15:28:18.762250Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.496328ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bb46cf5-824b-45b1-b249-6690e16b6742/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.849544ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"f8880c35-46bf-4ecd-8185-c816231f0d78","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:19.387100Z","updated_at":"2026-07-03T15:28:19.391480Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:19.391480Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 773.315126ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f8880c35-46bf-4ecd-8185-c816231f0d78
        method: GET
      response:
        body: '{"id":"f8880c35-46bf-4ecd-8185-c816231f0d78","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:19.387100Z","updated_at":"2026-07-03T15:28:19.391480Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:19.391480Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.633901ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f8880c35-46bf-4ecd-8185-c816231f0d78/encrypt
        method: POST
      response:
        body: '{"key_id":"f8880c35-46bf-4ecd-8185-c816231f0d78","ciphertext":"AQAAAAHh0SpRwFRhgrqq4KZorrtG/Rtr8prBZviXJlDE7DlbHMXsd4aOjzDTM07Dd7AhGodmN5PY"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.549704ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAHh0SpRwFRhgrqq4KZorrtG/Rtr8prBZviXJlDE7DlbHMXsd4aOjzDTM07Dd7AhGodmN5PY","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f8880c35-46bf-4ecd-8185-c816231f0d78/decrypt
        method: POST
      response:
        body: '{"key_id":"f8880c35-46bf-4ecd-8185-c816231f0d78","plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.159655ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bb46cf5-824b-45b1-b249-6690e16b6742/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"3bb46cf5-824b-45b1-b249-6690e16b6742","status":"enabled","created_at":"2026-07-03T15:28:20.088597Z","updated_at":"2026-07-03T15:28:20.088597Z","deleted_at":null,"description":"test decrypted","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.696362ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bb46cf5-824b-45b1-b249-6690e16b6742/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"3bb46cf5-824b-45b1-b249-6690e16b6742","status":"enabled","created_at":"2026-07-03T15:28:20.088597Z","updated_at":"2026-07-03T15:28:20.088597Z","deleted_at":null,"description":"test decrypted","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.136429ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bb46cf5-824b-45b1-b249-6690e16b6742/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"3bb46cf5-824b-45b1-b249-6690e16b6742","revision":1,"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.502895ms
[...]
