---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"10445698-1de3-4a5e-937b-167308bb059a", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret-ad", "status":"ready", "created_at":"2026-06-09T13:18:31.667221Z", "updated_at":"2026-06-09T13:18:31.667221Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.445624ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10445698-1de3-4a5e-937b-167308bb059a
        method: GET
      response:
        body: '{"id":"10445698-1de3-4a5e-937b-167308bb059a", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret-ad", "status":"ready", "created_at":"2026-06-09T13:18:31.667221Z", "updated_at":"2026-06-09T13:18:31.667221Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.893645ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10445698-1de3-4a5e-937b-167308bb059a/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.460905ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"9a45977a-7588-4eef-a9f3-92fe85061aa4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-ad", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:31.836202Z", "updated_at":"2026-06-09T13:18:31.842638Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:31.842638Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 448.132734ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/9a45977a-7588-4eef-a9f3-92fe85061aa4
        method: GET
      response:
        body: '{"id":"9a45977a-7588-4eef-a9f3-92fe85061aa4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-ad", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:31.836202Z", "updated_at":"2026-06-09T13:18:31.842638Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:31.842638Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.259979ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/9a45977a-7588-4eef-a9f3-92fe85061aa4/encrypt
        method: POST
      response:
        body: '{"key_id":"9a45977a-7588-4eef-a9f3-92fe85061aa4", "ciphertext":"AQAAAAG7SJfFYuGj9eQ5662KZFeX2aY2o/TfeZcDKKxJ2xBpD4opQS24YFLggzwkDsNYjaMQYU92"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.890317ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAG7SJfFYuGj9eQ5662KZFeX2aY2o/TfeZcDKKxJ2xBpD4opQS24YFLggzwkDsNYjaMQYU92","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/9a45977a-7588-4eef-a9f3-92fe85061aa4/decrypt
        method: POST
      response:
        body: '{"key_id":"9a45977a-7588-4eef-a9f3-92fe85061aa4", "plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.870856ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted data"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10445698-1de3-4a5e-937b-167308bb059a/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"10445698-1de3-4a5e-937b-167308bb059a", "status":"enabled", "created_at":"2026-06-09T13:18:32.425540Z", "updated_at":"2026-06-09T13:18:32.425540Z", "deleted_at":null, "description":"test decrypted data", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.05423ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10445698-1de3-4a5e-937b-167308bb059a/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"10445698-1de3-4a5e-937b-167308bb059a", "status":"enabled", "created_at":"2026-06-09T13:18:32.425540Z", "updated_at":"2026-06-09T13:18:32.425540Z", "deleted_at":null, "description":"test decrypted data", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.591933ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/10445698-1de3-4a5e-937b-167308bb059a/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"10445698-1de3-4a5e-937b-167308bb059a", "revision":1, "data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.331376ms
[...]
