---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"44d633bd-8448-4c9f-8610-935305b165a0", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret", "status":"ready", "created_at":"2025-12-23T10:05:10.899420Z", "updated_at":"2025-12-23T10:05:10.899420Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.487346ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"488f7655-b768-4c50-9907-6286eab40f45", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:05:10.942409Z", "updated_at":"2025-12-23T10:05:10.953247Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:05:10.953247Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.025819ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/44d633bd-8448-4c9f-8610-935305b165a0
        method: GET
      response:
        body: '{"id":"44d633bd-8448-4c9f-8610-935305b165a0", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret", "status":"ready", "created_at":"2025-12-23T10:05:10.899420Z", "updated_at":"2025-12-23T10:05:10.899420Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.301776ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/488f7655-b768-4c50-9907-6286eab40f45
        method: GET
      response:
        body: '{"id":"488f7655-b768-4c50-9907-6286eab40f45", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:05:10.942409Z", "updated_at":"2025-12-23T10:05:10.953247Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:05:10.953247Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.190706ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/44d633bd-8448-4c9f-8610-935305b165a0/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.746137ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/488f7655-b768-4c50-9907-6286eab40f45/encrypt
        method: POST
      response:
        body: '{"key_id":"488f7655-b768-4c50-9907-6286eab40f45", "ciphertext":"AQAAAAGLEzOW5aBkkQoBdjgSXjiRVXxH2WD72XMDGd1gHTioIPDDWvrAeuwNC69pe+DG79WTuOl/"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.220909ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAGLEzOW5aBkkQoBdjgSXjiRVXxH2WD72XMDGd1gHTioIPDDWvrAeuwNC69pe+DG79WTuOl/","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/488f7655-b768-4c50-9907-6286eab40f45/decrypt
        method: POST
      response:
        body: '{"key_id":"488f7655-b768-4c50-9907-6286eab40f45", "plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.023853ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted data"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/44d633bd-8448-4c9f-8610-935305b165a0/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"44d633bd-8448-4c9f-8610-935305b165a0", "status":"enabled", "created_at":"2025-12-23T10:05:11.640835Z", "updated_at":"2025-12-23T10:05:11.640835Z", "deleted_at":null, "description":"test decrypted data", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 463.564118ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/44d633bd-8448-4c9f-8610-935305b165a0/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"44d633bd-8448-4c9f-8610-935305b165a0", "status":"enabled", "created_at":"2025-12-23T10:05:11.640835Z", "updated_at":"2025-12-23T10:05:11.640835Z", "deleted_at":null, "description":"test decrypted data", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.667125ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/44d633bd-8448-4c9f-8610-935305b165a0/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"44d633bd-8448-4c9f-8610-935305b165a0", "revision":1, "data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.100872ms
[...]
