---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"5c25202e-2d1b-478b-ac9d-aaeaa98ee65b", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret", "status":"ready", "created_at":"2025-12-23T10:04:51.197754Z", "updated_at":"2025-12-23T10:04:51.197754Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.2504ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"f0aae778-078b-42ed-b4bf-43a1025c594c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:04:51.267576Z", "updated_at":"2025-12-23T10:04:51.271892Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:04:51.271892Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.522432ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5c25202e-2d1b-478b-ac9d-aaeaa98ee65b
        method: GET
      response:
        body: '{"id":"5c25202e-2d1b-478b-ac9d-aaeaa98ee65b", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret", "status":"ready", "created_at":"2025-12-23T10:04:51.197754Z", "updated_at":"2025-12-23T10:04:51.197754Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.876855ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f0aae778-078b-42ed-b4bf-43a1025c594c
        method: GET
      response:
        body: '{"id":"f0aae778-078b-42ed-b4bf-43a1025c594c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:04:51.267576Z", "updated_at":"2025-12-23T10:04:51.271892Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:04:51.271892Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.862338ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5c25202e-2d1b-478b-ac9d-aaeaa98ee65b/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.108387ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f0aae778-078b-42ed-b4bf-43a1025c594c/encrypt
        method: POST
      response:
        body: '{"key_id":"f0aae778-078b-42ed-b4bf-43a1025c594c", "ciphertext":"AQAAAAGFlHjnm8Y93PzQn0mtnJpYuBWuSsIFh90F1MZbgqUm3GevSPNaZ9TipnTXrYzRUul6PCwa"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.111436ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAGFlHjnm8Y93PzQn0mtnJpYuBWuSsIFh90F1MZbgqUm3GevSPNaZ9TipnTXrYzRUul6PCwa","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f0aae778-078b-42ed-b4bf-43a1025c594c/decrypt
        method: POST
      response:
        body: '{"key_id":"f0aae778-078b-42ed-b4bf-43a1025c594c", "plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.070913ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5c25202e-2d1b-478b-ac9d-aaeaa98ee65b/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"5c25202e-2d1b-478b-ac9d-aaeaa98ee65b", "status":"enabled", "created_at":"2025-12-23T10:04:51.985217Z", "updated_at":"2025-12-23T10:04:51.985217Z", "deleted_at":null, "description":"test decrypted", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.79176ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5c25202e-2d1b-478b-ac9d-aaeaa98ee65b/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"5c25202e-2d1b-478b-ac9d-aaeaa98ee65b", "status":"enabled", "created_at":"2025-12-23T10:04:51.985217Z", "updated_at":"2025-12-23T10:04:51.985217Z", "deleted_at":null, "description":"test decrypted", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.288034ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/5c25202e-2d1b-478b-ac9d-aaeaa98ee65b/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"5c25202e-2d1b-478b-ac9d-aaeaa98ee65b", "revision":1, "data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.541276ms
[...]
