---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"01aeac4c-cfc7-4383-8a19-9fb8cf59b392","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","status":"ready","created_at":"2026-07-07T07:46:09.335350Z","updated_at":"2026-07-07T07:46:09.335350Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.130284ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"278f8b55-19be-4193-bc44-ae05d00ee8eb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:09.338590Z","updated_at":"2026-07-07T07:46:09.342697Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:09.342697Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.080175ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01aeac4c-cfc7-4383-8a19-9fb8cf59b392
        method: GET
      response:
        body: '{"id":"01aeac4c-cfc7-4383-8a19-9fb8cf59b392","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","status":"ready","created_at":"2026-07-07T07:46:09.335350Z","updated_at":"2026-07-07T07:46:09.335350Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.217069ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/278f8b55-19be-4193-bc44-ae05d00ee8eb
        method: GET
      response:
        body: '{"id":"278f8b55-19be-4193-bc44-ae05d00ee8eb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:09.338590Z","updated_at":"2026-07-07T07:46:09.342697Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:09.342697Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.118903ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01aeac4c-cfc7-4383-8a19-9fb8cf59b392/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.957365ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/278f8b55-19be-4193-bc44-ae05d00ee8eb/encrypt
        method: POST
      response:
        body: '{"key_id":"278f8b55-19be-4193-bc44-ae05d00ee8eb","ciphertext":"AQAAAAFdeQkGG9tj5NCdmxqx9M6B1G9fZU4iEm15WVfFTvBL+eVrbpPDBRGJYUAQUvlK1VM33SbT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.097731ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAFdeQkGG9tj5NCdmxqx9M6B1G9fZU4iEm15WVfFTvBL+eVrbpPDBRGJYUAQUvlK1VM33SbT","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/278f8b55-19be-4193-bc44-ae05d00ee8eb/decrypt
        method: POST
      response:
        body: '{"key_id":"278f8b55-19be-4193-bc44-ae05d00ee8eb","plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.7169ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted data"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01aeac4c-cfc7-4383-8a19-9fb8cf59b392/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"01aeac4c-cfc7-4383-8a19-9fb8cf59b392","status":"enabled","created_at":"2026-07-07T07:46:10.116474Z","updated_at":"2026-07-07T07:46:10.116474Z","deleted_at":null,"description":"test decrypted data","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 564.658869ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01aeac4c-cfc7-4383-8a19-9fb8cf59b392/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"01aeac4c-cfc7-4383-8a19-9fb8cf59b392","status":"enabled","created_at":"2026-07-07T07:46:10.116474Z","updated_at":"2026-07-07T07:46:10.116474Z","deleted_at":null,"description":"test decrypted data","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.928242ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/01aeac4c-cfc7-4383-8a19-9fb8cf59b392/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"01aeac4c-cfc7-4383-8a19-9fb8cf59b392","revision":1,"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.565371ms
[...]
