---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"e6bd7030-4fcf-43c9-8e49-35b25ea71196", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-invalid", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:31.687885Z", "updated_at":"2026-06-09T13:18:31.690423Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:31.690423Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.053059ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e6bd7030-4fcf-43c9-8e49-35b25ea71196
        method: GET
      response:
        body: '{"id":"e6bd7030-4fcf-43c9-8e49-35b25ea71196", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-invalid", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:31.687885Z", "updated_at":"2026-06-09T13:18:31.690423Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:31.690423Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.968504ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzZWNyZXQ=","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e6bd7030-4fcf-43c9-8e49-35b25ea71196/encrypt
        method: POST
      response:
        body: '{"key_id":"e6bd7030-4fcf-43c9-8e49-35b25ea71196", "ciphertext":"AQAAAAHS78ZDBQtI9FG9H0uE3/30h7JuDKz76TyOtAM53wvxIWuYqXkebzW9o/E="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.700169ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAHS78ZDBQtI9FG9H0uE3/30h7JuDKz76TyOtAM53wvxIWuYqXkebzW9o/E=","associated_data":"cXdlcnR5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e6bd7030-4fcf-43c9-8e49-35b25ea71196/decrypt
        method: POST
      response:
        body: '{"details":[{"argument_name":"ciphertext","help_message":"cipher: message authentication failed","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 106.386201ms
[...]
