---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"17201e86-698c-4fc4-ae8a-bb1f3ef3fa1e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:09.146809Z","updated_at":"2026-07-07T07:46:09.149902Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:09.149902Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.576421ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/17201e86-698c-4fc4-ae8a-bb1f3ef3fa1e
        method: GET
      response:
        body: '{"id":"17201e86-698c-4fc4-ae8a-bb1f3ef3fa1e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:09.146809Z","updated_at":"2026-07-07T07:46:09.149902Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:09.149902Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.580541ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzZWNyZXQ=","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/17201e86-698c-4fc4-ae8a-bb1f3ef3fa1e/encrypt
        method: POST
      response:
        body: '{"key_id":"17201e86-698c-4fc4-ae8a-bb1f3ef3fa1e","ciphertext":"AQAAAAG+zQBkO3cf3jDaM6HC23CR/BeaDhK32XWgkZT7g/Blx+AO+xLwGthKHlg="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.667477ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAG+zQBkO3cf3jDaM6HC23CR/BeaDhK32XWgkZT7g/Blx+AO+xLwGthKHlg=","associated_data":"cXdlcnR5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/17201e86-698c-4fc4-ae8a-bb1f3ef3fa1e/decrypt
        method: POST
      response:
        body: '{"details":[{"argument_name":"ciphertext","help_message":"cipher: message authentication failed","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 51.119214ms
[...]
