---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-invalid","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"7da39a6a-28c6-4cab-ac0b-06167d25fd75", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-invalid", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:50.474722Z", "updated_at":"2026-01-07T10:29:50.480649Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:50.480649Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.684646489s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/7da39a6a-28c6-4cab-ac0b-06167d25fd75
        method: GET
      response:
        body: '{"id":"7da39a6a-28c6-4cab-ac0b-06167d25fd75", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-invalid", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:50.474722Z", "updated_at":"2026-01-07T10:29:50.480649Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:50.480649Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.986774ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzZWNyZXQ=","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/7da39a6a-28c6-4cab-ac0b-06167d25fd75/encrypt
        method: POST
      response:
        body: '{"key_id":"7da39a6a-28c6-4cab-ac0b-06167d25fd75", "ciphertext":"AQAAAAG4sz5QESL5PpoD3s0BsnrH0feSDAnevPeCVK0U1TtET8SrxE6rQVkXXEg="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.704176ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAG4sz5QESL5PpoD3s0BsnrH0feSDAnevPeCVK0U1TtET8SrxE6rQVkXXEg=","associated_data":"cXdlcnR5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/7da39a6a-28c6-4cab-ac0b-06167d25fd75/decrypt
        method: POST
      response:
        body: '{"details":[{"argument_name":"ciphertext","help_message":"cipher: message authentication failed","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 67.134418ms
[...]
