---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"968da166-8e20-47fc-b58f-a0f71d2f9f77","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","status":"ready","created_at":"2026-03-24T10:22:58.542417Z","updated_at":"2026-03-24T10:22:58.542417Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 687.851813ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"9153bf5e-a23c-400e-8f46-73d3f957b116","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:22:58.506321Z","updated_at":"2026-03-24T10:22:58.510832Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:22:58.510832Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 686.638172ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/968da166-8e20-47fc-b58f-a0f71d2f9f77
        method: GET
      response:
        body: '{"id":"968da166-8e20-47fc-b58f-a0f71d2f9f77","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","status":"ready","created_at":"2026-03-24T10:22:58.542417Z","updated_at":"2026-03-24T10:22:58.542417Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.278333ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/9153bf5e-a23c-400e-8f46-73d3f957b116
        method: GET
      response:
        body: '{"id":"9153bf5e-a23c-400e-8f46-73d3f957b116","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:22:58.506321Z","updated_at":"2026-03-24T10:22:58.510832Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:22:58.510832Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.815322ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/9153bf5e-a23c-400e-8f46-73d3f957b116/encrypt
        method: POST
      response:
        body: '{"key_id":"9153bf5e-a23c-400e-8f46-73d3f957b116","ciphertext":"AQAAAAFNnQT4kp2ID+1psgOem8nQm0JtjgBR60W0Tjr3lDF4fyUwKTXGBC3Yvo9PJaISPplx4puc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.270104ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAFNnQT4kp2ID+1psgOem8nQm0JtjgBR60W0Tjr3lDF4fyUwKTXGBC3Yvo9PJaISPplx4puc","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/9153bf5e-a23c-400e-8f46-73d3f957b116/decrypt
        method: POST
      response:
        body: '{"key_id":"9153bf5e-a23c-400e-8f46-73d3f957b116","plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.203526ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/968da166-8e20-47fc-b58f-a0f71d2f9f77/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.692121413s
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted data"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/968da166-8e20-47fc-b58f-a0f71d2f9f77/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"968da166-8e20-47fc-b58f-a0f71d2f9f77","status":"enabled","created_at":"2026-03-24T10:23:01.043627Z","updated_at":"2026-03-24T10:23:01.043627Z","deleted_at":null,"description":"test decrypted data","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.322051ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/968da166-8e20-47fc-b58f-a0f71d2f9f77/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"968da166-8e20-47fc-b58f-a0f71d2f9f77","status":"enabled","created_at":"2026-03-24T10:23:01.043627Z","updated_at":"2026-03-24T10:23:01.043627Z","deleted_at":null,"description":"test decrypted data","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.298698ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/968da166-8e20-47fc-b58f-a0f71d2f9f77/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"968da166-8e20-47fc-b58f-a0f71d2f9f77","revision":1,"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.295972ms
[...]
