---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"de307ad2-b070-4d1b-bed2-49a51fca2fea", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret", "status":"ready", "created_at":"2026-06-09T13:18:31.640158Z", "updated_at":"2026-06-09T13:18:31.640158Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.939361ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de307ad2-b070-4d1b-bed2-49a51fca2fea
        method: GET
      response:
        body: '{"id":"de307ad2-b070-4d1b-bed2-49a51fca2fea", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret", "status":"ready", "created_at":"2026-06-09T13:18:31.640158Z", "updated_at":"2026-06-09T13:18:31.640158Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.449128ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"8b121519-3d5f-4145-ba31-c2be493ec743", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:31.757243Z", "updated_at":"2026-06-09T13:18:31.760319Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:31.760319Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.140466ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de307ad2-b070-4d1b-bed2-49a51fca2fea/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.171876ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/8b121519-3d5f-4145-ba31-c2be493ec743
        method: GET
      response:
        body: '{"id":"8b121519-3d5f-4145-ba31-c2be493ec743", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:31.757243Z", "updated_at":"2026-06-09T13:18:31.760319Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:31.760319Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.213274ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/8b121519-3d5f-4145-ba31-c2be493ec743/encrypt
        method: POST
      response:
        body: '{"key_id":"8b121519-3d5f-4145-ba31-c2be493ec743", "ciphertext":"AQAAAAETWb4XiTltylh3iJu5A2XHpf2yKFp1L+tlGBYyL8UE5r4a0NlQuc3sgE5sdsphIm6Q/V2k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.329888ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAETWb4XiTltylh3iJu5A2XHpf2yKFp1L+tlGBYyL8UE5r4a0NlQuc3sgE5sdsphIm6Q/V2k","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/8b121519-3d5f-4145-ba31-c2be493ec743/decrypt
        method: POST
      response:
        body: '{"key_id":"8b121519-3d5f-4145-ba31-c2be493ec743", "plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.74881ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de307ad2-b070-4d1b-bed2-49a51fca2fea/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"de307ad2-b070-4d1b-bed2-49a51fca2fea", "status":"enabled", "created_at":"2026-06-09T13:18:32.339205Z", "updated_at":"2026-06-09T13:18:32.339205Z", "deleted_at":null, "description":"test decrypted", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.636863ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de307ad2-b070-4d1b-bed2-49a51fca2fea/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"de307ad2-b070-4d1b-bed2-49a51fca2fea", "status":"enabled", "created_at":"2026-06-09T13:18:32.339205Z", "updated_at":"2026-06-09T13:18:32.339205Z", "deleted_at":null, "description":"test decrypted", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.264617ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/de307ad2-b070-4d1b-bed2-49a51fca2fea/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"de307ad2-b070-4d1b-bed2-49a51fca2fea", "revision":1, "data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.717872ms
[...]
