---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-decrypt-secret-ad","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"f3afacfb-a731-482a-86a0-13251d92d3dc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret-ad", "status":"ready", "created_at":"2026-01-07T10:29:51.164342Z", "updated_at":"2026-01-07T10:29:51.164342Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.365784ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f3afacfb-a731-482a-86a0-13251d92d3dc
        method: GET
      response:
        body: '{"id":"f3afacfb-a731-482a-86a0-13251d92d3dc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-decrypt-secret-ad", "status":"ready", "created_at":"2026-01-07T10:29:51.164342Z", "updated_at":"2026-01-07T10:29:51.164342Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.647514ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key-ad","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"1ad2da80-5ec9-453e-aaae-022c5b50b4b8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-ad", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:51.240998Z", "updated_at":"2026-01-07T10:29:51.244910Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:51.244910Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.584007ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/1ad2da80-5ec9-453e-aaae-022c5b50b4b8
        method: GET
      response:
        body: '{"id":"1ad2da80-5ec9-453e-aaae-022c5b50b4b8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-ad", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:51.240998Z", "updated_at":"2026-01-07T10:29:51.244910Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:51.244910Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.402358ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f3afacfb-a731-482a-86a0-13251d92d3dc/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.155222ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/1ad2da80-5ec9-453e-aaae-022c5b50b4b8/encrypt
        method: POST
      response:
        body: '{"key_id":"1ad2da80-5ec9-453e-aaae-022c5b50b4b8", "ciphertext":"AQAAAAEeoE455hEUqyuiC+yhMXw2TIj+8UjLUSNzp++Mv8/MUPkj4FKp6Fb4AunoqUQtugbtvc69"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.290146ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAEeoE455hEUqyuiC+yhMXw2TIj+8UjLUSNzp++Mv8/MUPkj4FKp6Fb4AunoqUQtugbtvc69","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/1ad2da80-5ec9-453e-aaae-022c5b50b4b8/decrypt
        method: POST
      response:
        body: '{"key_id":"1ad2da80-5ec9-453e-aaae-022c5b50b4b8", "plaintext":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.251952ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh","description":"test decrypted data"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f3afacfb-a731-482a-86a0-13251d92d3dc/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"f3afacfb-a731-482a-86a0-13251d92d3dc", "status":"enabled", "created_at":"2026-01-07T10:29:52.233495Z", "updated_at":"2026-01-07T10:29:52.233495Z", "deleted_at":null, "description":"test decrypted data", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 767.524282ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f3afacfb-a731-482a-86a0-13251d92d3dc/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"f3afacfb-a731-482a-86a0-13251d92d3dc", "status":"enabled", "created_at":"2026-01-07T10:29:52.233495Z", "updated_at":"2026-01-07T10:29:52.233495Z", "deleted_at":null, "description":"test decrypted data", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.366811ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f3afacfb-a731-482a-86a0-13251d92d3dc/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"f3afacfb-a731-482a-86a0-13251d92d3dc", "revision":1, "data":"dGhpcyBpcyBzb21lIHNlY3JldCBkYXRh", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.206455ms
[...]
