---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-decrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"42b1db6f-27da-423c-8708-d72c03e0d40e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:47:09.835317Z", "updated_at":"2025-12-23T10:47:09.839498Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:47:09.839498Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 363.526827ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/42b1db6f-27da-423c-8708-d72c03e0d40e
        method: GET
      response:
        body: '{"id":"42b1db6f-27da-423c-8708-d72c03e0d40e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-23T10:47:09.835317Z", "updated_at":"2025-12-23T10:47:09.839498Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-23T10:47:09.839498Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.376255ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGhpcyBpcyBzZWNyZXQ=","associated_data":"c29tZSBhc3NvY2lhdGVkIGRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/42b1db6f-27da-423c-8708-d72c03e0d40e/encrypt
        method: POST
      response:
        body: '{"key_id":"42b1db6f-27da-423c-8708-d72c03e0d40e", "ciphertext":"AQAAAAHGfvpk1QI4Qf71tRE+GfSuJgrBzQ+ipst5PmNW+MCRg2yYLnUgbQkdBxk="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.434962ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAHGfvpk1QI4Qf71tRE+GfSuJgrBzQ+ipst5PmNW+MCRg2yYLnUgbQkdBxk=","associated_data":"cXdlcnR5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/42b1db6f-27da-423c-8708-d72c03e0d40e/decrypt
        method: POST
      response:
        body: '{"details":[{"argument_name":"ciphertext","help_message":"cipher: message authentication failed","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 85.276491ms
[...]
