---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"b746988a-e0e2-4e6a-8bd7-c757769a28ce","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:23.213364Z","updated_at":"2026-07-03T15:28:23.217444Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:23.217444Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.421034ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"a21f2b97-7e87-400a-bc96-ede7323c15fb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-07-03T15:28:23.255629Z","updated_at":"2026-07-03T15:28:23.255629Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.49318ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b746988a-e0e2-4e6a-8bd7-c757769a28ce
        method: GET
      response:
        body: '{"id":"b746988a-e0e2-4e6a-8bd7-c757769a28ce","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:23.213364Z","updated_at":"2026-07-03T15:28:23.217444Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:23.217444Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.460182ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a21f2b97-7e87-400a-bc96-ede7323c15fb
        method: GET
      response:
        body: '{"id":"a21f2b97-7e87-400a-bc96-ede7323c15fb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-07-03T15:28:23.255629Z","updated_at":"2026-07-03T15:28:23.255629Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.409847ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b746988a-e0e2-4e6a-8bd7-c757769a28ce/encrypt
        method: POST
      response:
        body: '{"key_id":"b746988a-e0e2-4e6a-8bd7-c757769a28ce","ciphertext":"AQAAAAEXmPppIC/ijYfMTte/ECmqfPezPX0T0Ny2hvQigLAW79EMACZdAUOnY9wNBEPZFw=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.196979ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a21f2b97-7e87-400a-bc96-ede7323c15fb/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.865511ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRVhtUHBwSUMvaWpZZk1UdGUvRUNtcWZQZXpQWDBUME55Mmh2UWlnTEFXNzlFTUFDWmRBVU9uWTl3TkJFUFpGdz09","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a21f2b97-7e87-400a-bc96-ede7323c15fb/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"a21f2b97-7e87-400a-bc96-ede7323c15fb","status":"enabled","created_at":"2026-07-03T15:28:23.647646Z","updated_at":"2026-07-03T15:28:23.647646Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.9526ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a21f2b97-7e87-400a-bc96-ede7323c15fb/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"a21f2b97-7e87-400a-bc96-ede7323c15fb","status":"enabled","created_at":"2026-07-03T15:28:23.647646Z","updated_at":"2026-07-03T15:28:23.647646Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.964533ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a21f2b97-7e87-400a-bc96-ede7323c15fb/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"a21f2b97-7e87-400a-bc96-ede7323c15fb","revision":1,"data":"QVFBQUFBRVhtUHBwSUMvaWpZZk1UdGUvRUNtcWZQZXpQWDBUME55Mmh2UWlnTEFXNzlFTUFDWmRBVU9uWTl3TkJFUFpGdz09","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.452146ms
[...]
