---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"8b7f28dd-79eb-4a7d-8203-f1eac5886d3e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-10-07T13:45:29.441361Z","updated_at":"2026-10-07T13:45:29.441361Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 99.923188ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.690249ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e5fb5142-2d39-43c1-b8e8-b7ecb636e563", "id":"e5fb5142-2d39-43c1-b8e8-b7ecb636e563", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:29.442452Z", "updated_at":"2026-10-07T13:45:29.448200Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:29.448200Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 123.844792ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e5fb5142-2d39-43c1-b8e8-b7ecb636e563
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e5fb5142-2d39-43c1-b8e8-b7ecb636e563","id":"e5fb5142-2d39-43c1-b8e8-b7ecb636e563","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:29.442452Z","updated_at":"2026-10-07T13:45:29.448200Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:29.448200Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.700052ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b7f28dd-79eb-4a7d-8203-f1eac5886d3e
        method: GET
      response:
        body: '{"srn":"", "id":"8b7f28dd-79eb-4a7d-8203-f1eac5886d3e", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-encrypted-secret", "status":"ready", "created_at":"2026-10-07T13:45:29.441361Z", "updated_at":"2026-10-07T13:45:29.441361Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.339864ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b7f28dd-79eb-4a7d-8203-f1eac5886d3e/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 87.280665ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e5fb5142-2d39-43c1-b8e8-b7ecb636e563/encrypt
        method: POST
      response:
        body: '{"key_id":"e5fb5142-2d39-43c1-b8e8-b7ecb636e563", "ciphertext":"AQAAAAEuY7pJgLqYOaPHPRiMeKOQ+FVW9QW2VJMUrMVgcZgom9Lgj+D6cvQnTN0CistYYQ=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 87.279372ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRXVZN3BKZ0xxWU9hUEhQUmlNZUtPUStGVlc5UVcyVkpNVXJNVmdjWmdvbTlMZ2orRDZjdlFuVE4wQ2lzdFlZUT09","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b7f28dd-79eb-4a7d-8203-f1eac5886d3e/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"8b7f28dd-79eb-4a7d-8203-f1eac5886d3e","status":"enabled","created_at":"2026-10-07T13:45:29.924002Z","updated_at":"2026-10-07T13:45:29.924002Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 323.798559ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b7f28dd-79eb-4a7d-8203-f1eac5886d3e/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"8b7f28dd-79eb-4a7d-8203-f1eac5886d3e","status":"enabled","created_at":"2026-10-07T13:45:29.924002Z","updated_at":"2026-10-07T13:45:29.924002Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.258179ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8b7f28dd-79eb-4a7d-8203-f1eac5886d3e/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"8b7f28dd-79eb-4a7d-8203-f1eac5886d3e","revision":1,"data":"QVFBQUFBRXVZN3BKZ0xxWU9hUEhQUmlNZUtPUStGVlc5UVcyVkpNVXJNVmdjWmdvbTlMZ2orRDZjdlFuVE4wQ2lzdFlZUT09","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.074394ms
[...]
