---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"a9bcc07a-2250-44ae-bc26-efda42090aae", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-encrypted-secret", "status":"ready", "created_at":"2025-12-22T16:32:31.373570Z", "updated_at":"2025-12-22T16:32:31.373570Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 554.300088ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"f5301d38-ad6d-471e-80e0-6d5a3d9fa8e4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-22T16:32:31.432678Z", "updated_at":"2025-12-22T16:32:31.440824Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-22T16:32:31.440824Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 554.466956ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f5301d38-ad6d-471e-80e0-6d5a3d9fa8e4
        method: GET
      response:
        body: '{"id":"f5301d38-ad6d-471e-80e0-6d5a3d9fa8e4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-22T16:32:31.432678Z", "updated_at":"2025-12-22T16:32:31.440824Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-22T16:32:31.440824Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.588161ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a9bcc07a-2250-44ae-bc26-efda42090aae
        method: GET
      response:
        body: '{"id":"a9bcc07a-2250-44ae-bc26-efda42090aae", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-encrypted-secret", "status":"ready", "created_at":"2025-12-22T16:32:31.373570Z", "updated_at":"2025-12-22T16:32:31.373570Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.890591ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f5301d38-ad6d-471e-80e0-6d5a3d9fa8e4/encrypt
        method: POST
      response:
        body: '{"key_id":"f5301d38-ad6d-471e-80e0-6d5a3d9fa8e4", "ciphertext":"AQAAAAG9pl4E6fKhMifsCquHAT5TU1dhIGIgkarbX9qsTnggpgVcvKaptRO323jcxNjEmQ=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.485051ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a9bcc07a-2250-44ae-bc26-efda42090aae/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.614677ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAHvv73vv71eBO+/ve+/ve+/vTIn77+9Cu+/ve+/vQE+U1NXYSBiIO+/ve+/ve+/vV/arE54IO+/vQVc77+977+977+977+9E++/ve+/vXjvv73vv73vv73EmQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a9bcc07a-2250-44ae-bc26-efda42090aae/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"a9bcc07a-2250-44ae-bc26-efda42090aae", "status":"enabled", "created_at":"2025-12-22T16:32:32.255748Z", "updated_at":"2025-12-22T16:32:32.255748Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.086445ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a9bcc07a-2250-44ae-bc26-efda42090aae/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"a9bcc07a-2250-44ae-bc26-efda42090aae", "status":"enabled", "created_at":"2025-12-22T16:32:32.255748Z", "updated_at":"2025-12-22T16:32:32.255748Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.062357ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/a9bcc07a-2250-44ae-bc26-efda42090aae/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"a9bcc07a-2250-44ae-bc26-efda42090aae", "revision":1, "data":"AQAAAAHvv73vv71eBO+/ve+/ve+/vTIn77+9Cu+/ve+/vQE+U1NXYSBiIO+/ve+/ve+/vV/arE54IO+/vQVc77+977+977+977+9E++/ve+/vXjvv73vv73vv73EmQ==", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 542.246898ms
[...]
