---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"fc7cad12-56ed-4334-8120-6855db657a0b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:07.859941Z","updated_at":"2026-07-07T07:46:07.863185Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:07.863185Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.647784ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"72f44ba1-f0ae-4cf3-8b3d-7050286984d0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-07-07T07:46:07.914021Z","updated_at":"2026-07-07T07:46:07.914021Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.774662ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/fc7cad12-56ed-4334-8120-6855db657a0b
        method: GET
      response:
        body: '{"id":"fc7cad12-56ed-4334-8120-6855db657a0b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:07.859941Z","updated_at":"2026-07-07T07:46:07.863185Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:07.863185Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.72955ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/72f44ba1-f0ae-4cf3-8b3d-7050286984d0
        method: GET
      response:
        body: '{"id":"72f44ba1-f0ae-4cf3-8b3d-7050286984d0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-07-07T07:46:07.914021Z","updated_at":"2026-07-07T07:46:07.914021Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.756628ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/72f44ba1-f0ae-4cf3-8b3d-7050286984d0/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.993163ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/fc7cad12-56ed-4334-8120-6855db657a0b/encrypt
        method: POST
      response:
        body: '{"key_id":"fc7cad12-56ed-4334-8120-6855db657a0b","ciphertext":"AQAAAAF8HFPnyemkCeEQ3GiyUbRqPimTB/9qFjnqIYNxLDPBIck7RL029kwv62QUqs8dww=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.566741ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRjhIRlBueWVta0NlRVEzR2l5VWJScVBpbVRCLzlxRmpucUlZTnhMRFBCSWNrN1JMMDI5a3d2NjJRVXFzOGR3dz09","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/72f44ba1-f0ae-4cf3-8b3d-7050286984d0/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"72f44ba1-f0ae-4cf3-8b3d-7050286984d0","status":"enabled","created_at":"2026-07-07T07:46:08.362864Z","updated_at":"2026-07-07T07:46:08.362864Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.892273ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/72f44ba1-f0ae-4cf3-8b3d-7050286984d0/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"72f44ba1-f0ae-4cf3-8b3d-7050286984d0","status":"enabled","created_at":"2026-07-07T07:46:08.362864Z","updated_at":"2026-07-07T07:46:08.362864Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.204677ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/72f44ba1-f0ae-4cf3-8b3d-7050286984d0/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"72f44ba1-f0ae-4cf3-8b3d-7050286984d0","revision":1,"data":"QVFBQUFBRjhIRlBueWVta0NlRVEzR2l5VWJScVBpbVRCLzlxRmpucUlZTnhMRFBCSWNrN1JMMDI5a3d2NjJRVXFzOGR3dz09","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.745481ms
[...]
