---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"cac58eee-abec-416c-aadc-1db2e86fa823", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-encrypted-secret", "status":"ready", "created_at":"2026-01-07T10:29:49.021625Z", "updated_at":"2026-01-07T10:29:49.021625Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.43681ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cac58eee-abec-416c-aadc-1db2e86fa823
        method: GET
      response:
        body: '{"id":"cac58eee-abec-416c-aadc-1db2e86fa823", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-encrypted-secret", "status":"ready", "created_at":"2026-01-07T10:29:49.021625Z", "updated_at":"2026-01-07T10:29:49.021625Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.146439ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cac58eee-abec-416c-aadc-1db2e86fa823/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.998272ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"c4ead631-1468-48e0-a760-cbe2da1ce728", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.257672Z", "updated_at":"2026-01-07T10:29:49.261174Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:49.261174Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.847112ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/c4ead631-1468-48e0-a760-cbe2da1ce728
        method: GET
      response:
        body: '{"id":"c4ead631-1468-48e0-a760-cbe2da1ce728", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.257672Z", "updated_at":"2026-01-07T10:29:49.261174Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:49.261174Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.725333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/c4ead631-1468-48e0-a760-cbe2da1ce728/encrypt
        method: POST
      response:
        body: '{"key_id":"c4ead631-1468-48e0-a760-cbe2da1ce728", "ciphertext":"AQAAAAGyrl5KUBevTTFNRUkAz4ZfMNckFxR54T3mMpOVbOgw8ucXfV28LV2BA72Nv/TqPA=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.468407ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAHvv73vv71eSlAX77+9TTFNRUkAz4ZfMO+/vSQXFHnvv70977+9Mu+/ve+/vWzvv70w77+977+9F31d77+9LV3vv70D77+977+977+977+977+9PA==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cac58eee-abec-416c-aadc-1db2e86fa823/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"cac58eee-abec-416c-aadc-1db2e86fa823", "status":"enabled", "created_at":"2026-01-07T10:29:49.780764Z", "updated_at":"2026-01-07T10:29:49.780764Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 424.802708ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cac58eee-abec-416c-aadc-1db2e86fa823/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"cac58eee-abec-416c-aadc-1db2e86fa823", "status":"enabled", "created_at":"2026-01-07T10:29:49.780764Z", "updated_at":"2026-01-07T10:29:49.780764Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.414679ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cac58eee-abec-416c-aadc-1db2e86fa823/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"cac58eee-abec-416c-aadc-1db2e86fa823", "revision":1, "data":"AQAAAAHvv73vv71eSlAX77+9TTFNRUkAz4ZfMO+/vSQXFHnvv70977+9Mu+/ve+/vWzvv70w77+977+9F31d77+9LV3vv70D77+977+977+977+977+9PA==", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.505784ms
[...]
