---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"c7e712ce-2751-40c7-88b6-8174c1e839a4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:18.636421Z", "updated_at":"2026-06-09T13:18:18.639516Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:18.639516Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.192572ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"e7e7538a-90d7-4efc-8428-956bb1fe8f89", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-encrypted-secret", "status":"ready", "created_at":"2026-06-09T13:18:18.665797Z", "updated_at":"2026-06-09T13:18:18.665797Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.047111ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/c7e712ce-2751-40c7-88b6-8174c1e839a4
        method: GET
      response:
        body: '{"id":"c7e712ce-2751-40c7-88b6-8174c1e839a4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:18:18.636421Z", "updated_at":"2026-06-09T13:18:18.639516Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:18:18.639516Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.022417ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7e7538a-90d7-4efc-8428-956bb1fe8f89
        method: GET
      response:
        body: '{"id":"e7e7538a-90d7-4efc-8428-956bb1fe8f89", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-encrypted-secret", "status":"ready", "created_at":"2026-06-09T13:18:18.665797Z", "updated_at":"2026-06-09T13:18:18.665797Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.738796ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/c7e712ce-2751-40c7-88b6-8174c1e839a4/encrypt
        method: POST
      response:
        body: '{"key_id":"c7e712ce-2751-40c7-88b6-8174c1e839a4", "ciphertext":"AQAAAAFT2pbYnv29A+0lF25Yt9/YuVbrfLkvXnWwiD90R0jSZK2RJKm/B6Sdy3h/8JuzMA=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.959995ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7e7538a-90d7-4efc-8428-956bb1fe8f89/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.444819ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRlQycGJZbnYyOUErMGxGMjVZdDkvWXVWYnJmTGt2WG5Xd2lEOTBSMGpTWksyUkpLbS9CNlNkeTNoLzhKdXpNQT09","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7e7538a-90d7-4efc-8428-956bb1fe8f89/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"e7e7538a-90d7-4efc-8428-956bb1fe8f89", "status":"enabled", "created_at":"2026-06-09T13:18:19.271143Z", "updated_at":"2026-06-09T13:18:19.271143Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.494857ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7e7538a-90d7-4efc-8428-956bb1fe8f89/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"e7e7538a-90d7-4efc-8428-956bb1fe8f89", "status":"enabled", "created_at":"2026-06-09T13:18:19.271143Z", "updated_at":"2026-06-09T13:18:19.271143Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.72873ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7e7538a-90d7-4efc-8428-956bb1fe8f89/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"e7e7538a-90d7-4efc-8428-956bb1fe8f89", "revision":1, "data":"QVFBQUFBRlQycGJZbnYyOUErMGxGMjVZdDkvWXVWYnJmTGt2WG5Xd2lEOTBSMGpTWksyUkpLbS9CNlNkeTNoLzhKdXpNQT09", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.459295ms
[...]
