---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/23963606-6b56-4379-a405-01cf22f496f5","id":"23963606-6b56-4379-a405-01cf22f496f5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:22.097940Z","updated_at":"2026-10-06T15:37:22.100763Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:22.100763Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 94.574685ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 24.894704ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/23963606-6b56-4379-a405-01cf22f496f5
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/23963606-6b56-4379-a405-01cf22f496f5","id":"23963606-6b56-4379-a405-01cf22f496f5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:22.097940Z","updated_at":"2026-10-06T15:37:22.100763Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:22.100763Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.800795ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"45e15414-2eb4-40c4-98cb-6ab05cea3dc4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-10-06T15:37:22.233806Z","updated_at":"2026-10-06T15:37:22.233806Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 201.804738ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/45e15414-2eb4-40c4-98cb-6ab05cea3dc4
        method: GET
      response:
        body: '{"srn":"","id":"45e15414-2eb4-40c4-98cb-6ab05cea3dc4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-10-06T15:37:22.233806Z","updated_at":"2026-10-06T15:37:22.233806Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.034534ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/23963606-6b56-4379-a405-01cf22f496f5/encrypt
        method: POST
      response:
        body: '{"key_id":"23963606-6b56-4379-a405-01cf22f496f5","ciphertext":"AQAAAAFr9XxEC3/6MWxPj/ypQcmKycOms8lC7rM72VgGH3Lc9ifqVYvXvn4g7xUA00GgQA=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 87.031451ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/45e15414-2eb4-40c4-98cb-6ab05cea3dc4/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.993203ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRnI5WHhFQzMvNk1XeFBqL3lwUWNtS3ljT21zOGxDN3JNNzJWZ0dIM0xjOWlmcVZZdlh2bjRnN3hVQTAwR2dRQT09","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/45e15414-2eb4-40c4-98cb-6ab05cea3dc4/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"45e15414-2eb4-40c4-98cb-6ab05cea3dc4","status":"enabled","created_at":"2026-10-06T15:37:22.604851Z","updated_at":"2026-10-06T15:37:22.604851Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 288.20986ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/45e15414-2eb4-40c4-98cb-6ab05cea3dc4/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"45e15414-2eb4-40c4-98cb-6ab05cea3dc4","status":"enabled","created_at":"2026-10-06T15:37:22.604851Z","updated_at":"2026-10-06T15:37:22.604851Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.524921ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/45e15414-2eb4-40c4-98cb-6ab05cea3dc4/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"45e15414-2eb4-40c4-98cb-6ab05cea3dc4","revision":1,"data":"QVFBQUFBRnI5WHhFQzMvNk1XeFBqL3lwUWNtS3ljT21zOGxDN3JNNzJWZ0dIM0xjOWlmcVZZdlh2bjRnN3hVQTAwR2dRQT09","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.730896ms
[...]
