---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-03-24T10:23:30.109975Z","updated_at":"2026-03-24T10:23:30.109975Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.427415ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"ceeacffc-5403-4901-8176-faa31508c984","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:23:30.133702Z","updated_at":"2026-03-24T10:23:30.140008Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:23:30.140008Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.823711ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5
        method: GET
      response:
        body: '{"id":"69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-encrypted-secret","status":"ready","created_at":"2026-03-24T10:23:30.109975Z","updated_at":"2026-03-24T10:23:30.109975Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 365.61428ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ceeacffc-5403-4901-8176-faa31508c984
        method: GET
      response:
        body: '{"id":"ceeacffc-5403-4901-8176-faa31508c984","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-03-24T10:23:30.133702Z","updated_at":"2026-03-24T10:23:30.140008Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-03-24T10:23:30.140008Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.538691ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.428867ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ceeacffc-5403-4901-8176-faa31508c984/encrypt
        method: POST
      response:
        body: '{"key_id":"ceeacffc-5403-4901-8176-faa31508c984","ciphertext":"AQAAAAFKU/L4HJ1RBrAGx7ELT5yUbH7+6yKM4qwxJ5FP20GfsyyvZhkKM+qAzSpm9ai7lg=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.256884ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAFKU++/ve+/vRzvv71RBu+/vQbHsQtP77+977+9bH7vv73vv70i77+977+977+9MSfvv71P77+9Qe+/ve+/vSzvv71mGQoz77+977+977+9Kmbvv73vv73vv73vv70=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5","status":"enabled","created_at":"2026-03-24T10:23:31.488598Z","updated_at":"2026-03-24T10:23:31.488598Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 914.832168ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5","status":"enabled","created_at":"2026-03-24T10:23:31.488598Z","updated_at":"2026-03-24T10:23:31.488598Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.680916ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"69f2e3c8-e219-4459-9dd5-5d61d9fd5cb5","revision":1,"data":"AQAAAAFKU++/ve+/vRzvv71RBu+/vQbHsQtP77+977+9bH7vv73vv70i77+977+977+9MSfvv71P77+9Qe+/ve+/vSzvv71mGQoz77+977+977+9Kmbvv73vv73vv73vv70=","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 975.724983ms
[...]
