---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","name":"test-encrypted-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"cf7d3ab3-b033-4e6e-8239-e24cf3c9b270", "project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e", "name":"test-encrypted-secret", "status":"ready", "created_at":"2025-12-15T14:29:47.882504Z", "updated_at":"2025-12-15T14:29:47.882504Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 331.588211ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","name":"tf-test-encrypt-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"f6f804cd-4722-4bd2-b8b7-64e7166cbf80", "project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-15T14:29:47.933710Z", "updated_at":"2025-12-15T14:29:47.937926Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-15T14:29:47.937926Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.565018ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cf7d3ab3-b033-4e6e-8239-e24cf3c9b270
        method: GET
      response:
        body: '{"id":"cf7d3ab3-b033-4e6e-8239-e24cf3c9b270", "project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e", "name":"test-encrypted-secret", "status":"ready", "created_at":"2025-12-15T14:29:47.882504Z", "updated_at":"2025-12-15T14:29:47.882504Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.357163ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f6f804cd-4722-4bd2-b8b7-64e7166cbf80
        method: GET
      response:
        body: '{"id":"f6f804cd-4722-4bd2-b8b7-64e7166cbf80", "project_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e", "name":"tf-test-encrypt-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-15T14:29:47.933710Z", "updated_at":"2025-12-15T14:29:47.937926Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-15T14:29:47.937926Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.016989ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cf7d3ab3-b033-4e6e-8239-e24cf3c9b270/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.266427ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"plaintext":"dGVzdCBwbGFpbnRleHQgZGF0YQ==","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f6f804cd-4722-4bd2-b8b7-64e7166cbf80/encrypt
        method: POST
      response:
        body: '{"key_id":"f6f804cd-4722-4bd2-b8b7-64e7166cbf80", "ciphertext":"AQAAAAF4rQLGkdpQUMB95oQPOeoB+HOTHhp+m890ajVhGAw8YfIlUp0ma+I+rp6ZrvImgQ=="}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.147218ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAF477+9AsaR77+9UFDvv71977+977+9Dznvv70B77+9c++/vR4afu+/ve+/vXRqNWEYDDxh77+9JVLvv70ma++/vT7vv73vv73vv73vv73vv70m77+9","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cf7d3ab3-b033-4e6e-8239-e24cf3c9b270/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"cf7d3ab3-b033-4e6e-8239-e24cf3c9b270", "status":"enabled", "created_at":"2025-12-15T14:29:48.412399Z", "updated_at":"2025-12-15T14:29:48.412399Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.207676ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cf7d3ab3-b033-4e6e-8239-e24cf3c9b270/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"cf7d3ab3-b033-4e6e-8239-e24cf3c9b270", "status":"enabled", "created_at":"2025-12-15T14:29:48.412399Z", "updated_at":"2025-12-15T14:29:48.412399Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.802663ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/cf7d3ab3-b033-4e6e-8239-e24cf3c9b270/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"cf7d3ab3-b033-4e6e-8239-e24cf3c9b270", "revision":1, "data":"AQAAAAF477+9AsaR77+9UFDvv71977+977+9Dznvv70B77+9c++/vR4afu+/ve+/vXRqNWEYDDxh77+9JVLvv70ma++/vT7vv73vv73vv73vv73vv70m77+9", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.335545ms
[...]
