---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/ffe83fc9-ba81-4f53-a83f-818142390c9f","id":"ffe83fc9-ba81-4f53-a83f-818142390c9f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:22.289859Z","updated_at":"2026-10-06T15:37:22.295116Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:22.295116Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.347761ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"52e382a4-5c5d-4007-bb43-8546b9424df6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","status":"ready","created_at":"2026-10-06T15:37:22.310950Z","updated_at":"2026-10-06T15:37:22.310950Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 94.277134ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.175393ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52e382a4-5c5d-4007-bb43-8546b9424df6
        method: GET
      response:
        body: '{"srn":"","id":"52e382a4-5c5d-4007-bb43-8546b9424df6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","status":"ready","created_at":"2026-10-06T15:37:22.310950Z","updated_at":"2026-10-06T15:37:22.310950Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.783942ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ffe83fc9-ba81-4f53-a83f-818142390c9f
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/ffe83fc9-ba81-4f53-a83f-818142390c9f","id":"ffe83fc9-ba81-4f53-a83f-818142390c9f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:22.289859Z","updated_at":"2026-10-06T15:37:22.295116Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:22.295116Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.771979ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52e382a4-5c5d-4007-bb43-8546b9424df6/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.848542ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ffe83fc9-ba81-4f53-a83f-818142390c9f/generate-data-key
        method: POST
      response:
        body: '{"key_id":"ffe83fc9-ba81-4f53-a83f-818142390c9f","algorithm":"aes_256_gcm","ciphertext":"AQAAAAF0MhuoSdBbPBqmS+JWV3AS3xrkj+5A+4Zf7aKLvGh8Eggyd9ck0haSHRKA4rPOGOO5F9m9v+M2DNiqeV4=","plaintext":"8iJchxonYNP9TealAQi6O6P42tPXEm+U/OEBYI05NTY=","created_at":"2026-10-06T15:37:22.488676596Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.619649ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAF0MhuoSdBbPBqmS+JWV3AS3xrkj+5A+4Zf7aKLvGh8Eggyd9ck0haSHRKA4rPOGOO5F9m9v+M2DNiqeV4=","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ffe83fc9-ba81-4f53-a83f-818142390c9f/decrypt
        method: POST
      response:
        body: '{"key_id":"ffe83fc9-ba81-4f53-a83f-818142390c9f","plaintext":"8iJchxonYNP9TealAQi6O6P42tPXEm+U/OEBYI05NTY=","ciphertext":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.890514ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRjBNaHVvU2RCYlBCcW1TK0pXVjNBUzN4cmtqKzVBKzRaZjdhS0x2R2g4RWdneWQ5Y2swaGFTSFJLQTRyUE9HT081RjltOXYrTTJETmlxZVY0PQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52e382a4-5c5d-4007-bb43-8546b9424df6/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"52e382a4-5c5d-4007-bb43-8546b9424df6","status":"enabled","created_at":"2026-10-06T15:37:22.831403Z","updated_at":"2026-10-06T15:37:22.831403Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 375.403987ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52e382a4-5c5d-4007-bb43-8546b9424df6/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"52e382a4-5c5d-4007-bb43-8546b9424df6","status":"enabled","created_at":"2026-10-06T15:37:22.831403Z","updated_at":"2026-10-06T15:37:22.831403Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.863004ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/52e382a4-5c5d-4007-bb43-8546b9424df6/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"52e382a4-5c5d-4007-bb43-8546b9424df6","revision":1,"data":"QVFBQUFBRjBNaHVvU2RCYlBCcW1TK0pXVjNBUzN4cmtqKzVBKzRaZjdhS0x2R2g4RWdneWQ5Y2swaGFTSFJLQTRyUE9HT081RjltOXYrTTJETmlxZVY0PQ==","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.679286ms
[...]
