---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"3c4f819b-4405-49ee-ba4d-07a3ad0dd114", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2025-12-24T13:44:26.873936Z", "updated_at":"2025-12-24T13:44:26.873936Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.801492ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"959c83d3-627a-4e37-a4e7-b7f8db54b598", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-24T13:44:26.912169Z", "updated_at":"2025-12-24T13:44:26.916437Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-24T13:44:26.916437Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.788035ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3c4f819b-4405-49ee-ba4d-07a3ad0dd114
        method: GET
      response:
        body: '{"id":"3c4f819b-4405-49ee-ba4d-07a3ad0dd114", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2025-12-24T13:44:26.873936Z", "updated_at":"2025-12-24T13:44:26.873936Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.773086ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3c4f819b-4405-49ee-ba4d-07a3ad0dd114/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.220614ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/959c83d3-627a-4e37-a4e7-b7f8db54b598
        method: GET
      response:
        body: '{"id":"959c83d3-627a-4e37-a4e7-b7f8db54b598", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-24T13:44:26.912169Z", "updated_at":"2025-12-24T13:44:26.916437Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-24T13:44:26.916437Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.999711ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/959c83d3-627a-4e37-a4e7-b7f8db54b598/generate-data-key
        method: POST
      response:
        body: '{"key_id":"959c83d3-627a-4e37-a4e7-b7f8db54b598", "algorithm":"aes_256_gcm", "ciphertext":"AQAAAAFCsNewhOnZw3jmV1WDsD5j7SnjZdOhGm7A1d087CjUw1Isy2EllKj+nVu7SnPqNKUkLGEKQFTF5NSwJaE=", "plaintext":"q0oDlGrI3Yo1tWflTMxwkhQsWYM8z66N3BTceFF1q8c=", "created_at":"2025-12-24T13:44:27.289596075Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.571857ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAFCsNewhOnZw3jmV1WDsD5j7SnjZdOhGm7A1d087CjUw1Isy2EllKj+nVu7SnPqNKUkLGEKQFTF5NSwJaE=","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/959c83d3-627a-4e37-a4e7-b7f8db54b598/decrypt
        method: POST
      response:
        body: '{"key_id":"959c83d3-627a-4e37-a4e7-b7f8db54b598", "plaintext":"q0oDlGrI3Yo1tWflTMxwkhQsWYM8z66N3BTceFF1q8c=", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.903723ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAFC77+917Dvv73vv73vv73vv71477+9V1Xvv73vv70+Y++/vSnvv71l06Eabu+/ve+/ve+/vTzvv70o77+977+9Uizvv71hJe+/ve+/ve+/ve+/vVvvv71Kc++/vTTvv70kLGEKQFTvv73vv73UsCXvv70=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3c4f819b-4405-49ee-ba4d-07a3ad0dd114/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"3c4f819b-4405-49ee-ba4d-07a3ad0dd114", "status":"enabled", "created_at":"2025-12-24T13:44:27.673801Z", "updated_at":"2025-12-24T13:44:27.673801Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 446.60152ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3c4f819b-4405-49ee-ba4d-07a3ad0dd114/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"3c4f819b-4405-49ee-ba4d-07a3ad0dd114", "status":"enabled", "created_at":"2025-12-24T13:44:27.673801Z", "updated_at":"2025-12-24T13:44:27.673801Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.120977ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3c4f819b-4405-49ee-ba4d-07a3ad0dd114/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"3c4f819b-4405-49ee-ba4d-07a3ad0dd114", "revision":1, "data":"AQAAAAFC77+917Dvv73vv73vv73vv71477+9V1Xvv73vv70+Y++/vSnvv71l06Eabu+/ve+/ve+/vTzvv70o77+977+9Uizvv71hJe+/ve+/ve+/ve+/vVvvv71Kc++/vTTvv70kLGEKQFTvv73vv73UsCXvv70=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.459918ms
[...]
