---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"8d173cae-bb8b-43ec-a539-274ef498f9db", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret-no-plaintext", "status":"ready", "created_at":"2026-06-09T13:25:52.437340Z", "updated_at":"2026-06-09T13:25:52.437340Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.982354ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8d173cae-bb8b-43ec-a539-274ef498f9db
        method: GET
      response:
        body: '{"id":"8d173cae-bb8b-43ec-a539-274ef498f9db", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret-no-plaintext", "status":"ready", "created_at":"2026-06-09T13:25:52.437340Z", "updated_at":"2026-06-09T13:25:52.437340Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.276466ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"a5ff5882-80a6-4b81-8d28-f3450cfc2f73", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-no-plaintext", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:25:52.555111Z", "updated_at":"2026-06-09T13:25:52.558456Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:25:52.558456Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.678554ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8d173cae-bb8b-43ec-a539-274ef498f9db/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.868174ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/a5ff5882-80a6-4b81-8d28-f3450cfc2f73
        method: GET
      response:
        body: '{"id":"a5ff5882-80a6-4b81-8d28-f3450cfc2f73", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-no-plaintext", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:25:52.555111Z", "updated_at":"2026-06-09T13:25:52.558456Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:25:52.558456Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.892616ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/a5ff5882-80a6-4b81-8d28-f3450cfc2f73/generate-data-key
        method: POST
      response:
        body: '{"key_id":"a5ff5882-80a6-4b81-8d28-f3450cfc2f73", "algorithm":"aes_256_gcm", "ciphertext":"AQAAAAGkK78eSSAP78R6hidK0Y1rS3z6eD1m9UXwYPnc+fEaNIFWf2oUIvj9wjLDhlOgHVmN5o+Umx3MQZPjpPo=", "plaintext":null, "created_at":"2026-06-09T13:25:52.752191226Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.950629ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBR2tLNzhlU1NBUDc4UjZoaWRLMFkxclMzejZlRDFtOVVYd1lQbmMrZkVhTklGV2Yyb1VJdmo5d2pMRGhsT2dIVm1ONW8rVW14M01RWlBqcFBvPQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8d173cae-bb8b-43ec-a539-274ef498f9db/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"8d173cae-bb8b-43ec-a539-274ef498f9db", "status":"enabled", "created_at":"2026-06-09T13:25:53.080358Z", "updated_at":"2026-06-09T13:25:53.080358Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.13941ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8d173cae-bb8b-43ec-a539-274ef498f9db/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"8d173cae-bb8b-43ec-a539-274ef498f9db", "status":"enabled", "created_at":"2026-06-09T13:25:53.080358Z", "updated_at":"2026-06-09T13:25:53.080358Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.276786ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8d173cae-bb8b-43ec-a539-274ef498f9db/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"8d173cae-bb8b-43ec-a539-274ef498f9db", "revision":1, "data":"QVFBQUFBR2tLNzhlU1NBUDc4UjZoaWRLMFkxclMzejZlRDFtOVVYd1lQbmMrZkVhTklGV2Yyb1VJdmo5d2pMRGhsT2dIVm1ONW8rVW14M01RWlBqcFBvPQ==", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.495664ms
[...]
