---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"23871059-a682-4a9d-9cc7-f9e5588a7555","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:22.769593Z","updated_at":"2026-07-03T15:28:22.772636Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:22.772636Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.903429ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"64b52306-403c-4d7c-be75-1ae72babf99d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","status":"ready","created_at":"2026-07-03T15:28:22.792157Z","updated_at":"2026-07-03T15:28:22.792157Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.964464ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/23871059-a682-4a9d-9cc7-f9e5588a7555
        method: GET
      response:
        body: '{"id":"23871059-a682-4a9d-9cc7-f9e5588a7555","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:22.769593Z","updated_at":"2026-07-03T15:28:22.772636Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:22.772636Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.368264ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64b52306-403c-4d7c-be75-1ae72babf99d
        method: GET
      response:
        body: '{"id":"64b52306-403c-4d7c-be75-1ae72babf99d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","status":"ready","created_at":"2026-07-03T15:28:22.792157Z","updated_at":"2026-07-03T15:28:22.792157Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.322573ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/23871059-a682-4a9d-9cc7-f9e5588a7555/generate-data-key
        method: POST
      response:
        body: '{"key_id":"23871059-a682-4a9d-9cc7-f9e5588a7555","algorithm":"aes_256_gcm","ciphertext":"AQAAAAEGUgHxjUD/MrVtJ7GNV+R8iqUwPBD49I8Y9jawCNLQSbLTfu4dvk64yL8hYKIb6fe1O0WCGiwjnByWhug=","plaintext":null,"created_at":"2026-07-03T15:28:22.920607339Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.640474ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64b52306-403c-4d7c-be75-1ae72babf99d/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.539134ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRUdVZ0h4alVEL01yVnRKN0dOVitSOGlxVXdQQkQ0OUk4WTlqYXdDTkxRU2JMVGZ1NGR2azY0eUw4aFlLSWI2ZmUxTzBXQ0dpd2puQnlXaHVnPQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64b52306-403c-4d7c-be75-1ae72babf99d/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"64b52306-403c-4d7c-be75-1ae72babf99d","status":"enabled","created_at":"2026-07-03T15:28:23.222459Z","updated_at":"2026-07-03T15:28:23.222459Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.622704ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64b52306-403c-4d7c-be75-1ae72babf99d/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"64b52306-403c-4d7c-be75-1ae72babf99d","status":"enabled","created_at":"2026-07-03T15:28:23.222459Z","updated_at":"2026-07-03T15:28:23.222459Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.750091ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/64b52306-403c-4d7c-be75-1ae72babf99d/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"64b52306-403c-4d7c-be75-1ae72babf99d","revision":1,"data":"QVFBQUFBRUdVZ0h4alVEL01yVnRKN0dOVitSOGlxVXdQQkQ0OUk4WTlqYXdDTkxRU2JMVGZ1NGR2azY0eUw4aFlLSWI2ZmUxTzBXQ0dpd2puQnlXaHVnPQ==","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.031658ms
[...]
