---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"aa521c09-4993-4841-8b4c-9de335bf6ab4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2026-01-07T10:29:49.042399Z", "updated_at":"2026-01-07T10:29:49.042399Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.492757ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"102467bc-bfdc-416d-bbaa-b52ea4b53b54", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.086787Z", "updated_at":"2026-01-07T10:29:49.090470Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:49.090470Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.593406ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aa521c09-4993-4841-8b4c-9de335bf6ab4
        method: GET
      response:
        body: '{"id":"aa521c09-4993-4841-8b4c-9de335bf6ab4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2026-01-07T10:29:49.042399Z", "updated_at":"2026-01-07T10:29:49.042399Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.187789ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/102467bc-bfdc-416d-bbaa-b52ea4b53b54
        method: GET
      response:
        body: '{"id":"102467bc-bfdc-416d-bbaa-b52ea4b53b54", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.086787Z", "updated_at":"2026-01-07T10:29:49.090470Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:49.090470Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.169587ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aa521c09-4993-4841-8b4c-9de335bf6ab4/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.017881ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/102467bc-bfdc-416d-bbaa-b52ea4b53b54/generate-data-key
        method: POST
      response:
        body: '{"key_id":"102467bc-bfdc-416d-bbaa-b52ea4b53b54", "algorithm":"aes_256_gcm", "ciphertext":"AQAAAAEdn62+7jprE3XFaEx0qarP3GreNVfg26h5XG5mCNse9/5n6S9Qc17nHLnzENX3bxaKGiH0dkb8ElH2npY=", "plaintext":"7KjyWAt0mlWCPT/ztB3/tEWG9kvao89ZGrbj0Wz0uGA=", "created_at":"2026-01-07T10:29:49.342349757Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.551383ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAEdn62+7jprE3XFaEx0qarP3GreNVfg26h5XG5mCNse9/5n6S9Qc17nHLnzENX3bxaKGiH0dkb8ElH2npY=","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/102467bc-bfdc-416d-bbaa-b52ea4b53b54/decrypt
        method: POST
      response:
        body: '{"key_id":"102467bc-bfdc-416d-bbaa-b52ea4b53b54", "plaintext":"7KjyWAt0mlWCPT/ztB3/tEWG9kvao89ZGrbj0Wz0uGA=", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.416808ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAEd77+977+977+977+9OmsTde+/vWhMdO+/ve+/ve+/ve+/vWrvv701V++/vduoeVxuZgjvv70e77+977+9Z++/vS9Qc17vv70c77+977+9EO+/ve+/vW8W77+9GiHvv712Ru+/vRJR77+977+977+9","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aa521c09-4993-4841-8b4c-9de335bf6ab4/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"aa521c09-4993-4841-8b4c-9de335bf6ab4", "status":"enabled", "created_at":"2026-01-07T10:29:49.668936Z", "updated_at":"2026-01-07T10:29:49.668936Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.677967ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aa521c09-4993-4841-8b4c-9de335bf6ab4/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"aa521c09-4993-4841-8b4c-9de335bf6ab4", "status":"enabled", "created_at":"2026-01-07T10:29:49.668936Z", "updated_at":"2026-01-07T10:29:49.668936Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.386427ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/aa521c09-4993-4841-8b4c-9de335bf6ab4/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"aa521c09-4993-4841-8b4c-9de335bf6ab4", "revision":1, "data":"AQAAAAEd77+977+977+977+9OmsTde+/vWhMdO+/ve+/ve+/ve+/vWrvv701V++/vduoeVxuZgjvv70e77+977+9Z++/vS9Qc17vv70c77+977+9EO+/ve+/vW8W77+9GiHvv712Ru+/vRJR77+977+977+9", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 499.931532ms
[...]
