---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","status":"ready","created_at":"2026-07-03T15:28:21.122392Z","updated_at":"2026-07-03T15:28:21.122392Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.462773ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969
        method: GET
      response:
        body: '{"id":"f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","status":"ready","created_at":"2026-07-03T15:28:21.122392Z","updated_at":"2026-07-03T15:28:21.122392Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.26912ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.255605ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"eb04b054-d2ff-4deb-9d9e-c3b297c9a814","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:21.457910Z","updated_at":"2026-07-03T15:28:21.463281Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:21.463281Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.611834ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/eb04b054-d2ff-4deb-9d9e-c3b297c9a814
        method: GET
      response:
        body: '{"id":"eb04b054-d2ff-4deb-9d9e-c3b297c9a814","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:21.457910Z","updated_at":"2026-07-03T15:28:21.463281Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:21.463281Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.09628ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/eb04b054-d2ff-4deb-9d9e-c3b297c9a814/generate-data-key
        method: POST
      response:
        body: '{"key_id":"eb04b054-d2ff-4deb-9d9e-c3b297c9a814","algorithm":"aes_256_gcm","ciphertext":"AQAAAAEUGAFMTAyAWC00hLs5M97uE30RZBwuUD+Pru4GHUkPfBb+ou9pe8MZsNEugmq14RKzLNHa0+jLS2oRXI0=","plaintext":"LvdnBKEFJEGqQIi+LCXCI+dpZWlELeWfFTzVl/DmGgI=","created_at":"2026-07-03T15:28:21.636549274Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.155337ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAEUGAFMTAyAWC00hLs5M97uE30RZBwuUD+Pru4GHUkPfBb+ou9pe8MZsNEugmq14RKzLNHa0+jLS2oRXI0=","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/eb04b054-d2ff-4deb-9d9e-c3b297c9a814/decrypt
        method: POST
      response:
        body: '{"key_id":"eb04b054-d2ff-4deb-9d9e-c3b297c9a814","plaintext":"LvdnBKEFJEGqQIi+LCXCI+dpZWlELeWfFTzVl/DmGgI=","ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.208983ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRVVHQUZNVEF5QVdDMDBoTHM1TTk3dUUzMFJaQnd1VUQrUHJ1NEdIVWtQZkJiK291OXBlOE1ac05FdWdtcTE0Ukt6TE5IYTArakxTMm9SWEkwPQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969","status":"enabled","created_at":"2026-07-03T15:28:21.922749Z","updated_at":"2026-07-03T15:28:21.922749Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.921122ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969","status":"enabled","created_at":"2026-07-03T15:28:21.922749Z","updated_at":"2026-07-03T15:28:21.922749Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.176142ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"f0fc2ac5-81e0-4dd6-96d8-d4e3dca47969","revision":1,"data":"QVFBQUFBRVVHQUZNVEF5QVdDMDBoTHM1TTk3dUUzMFJaQnd1VUQrUHJ1NEdIVWtQZkJiK291OXBlOE1ac05FdWdtcTE0Ukt6TE5IYTArakxTMm9SWEkwPQ==","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.346991ms
[...]
