---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"18d0279f-9a5b-4794-9a9a-f6d386af983e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","status":"ready","created_at":"2026-07-07T07:46:08.303970Z","updated_at":"2026-07-07T07:46:08.303970Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.031025ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18d0279f-9a5b-4794-9a9a-f6d386af983e
        method: GET
      response:
        body: '{"id":"18d0279f-9a5b-4794-9a9a-f6d386af983e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","status":"ready","created_at":"2026-07-07T07:46:08.303970Z","updated_at":"2026-07-07T07:46:08.303970Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.680209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"d4f12236-7e6e-4042-8693-751f819f2095","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:08.340831Z","updated_at":"2026-07-07T07:46:08.344193Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:08.344193Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.116676ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18d0279f-9a5b-4794-9a9a-f6d386af983e/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.365191ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/d4f12236-7e6e-4042-8693-751f819f2095
        method: GET
      response:
        body: '{"id":"d4f12236-7e6e-4042-8693-751f819f2095","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:08.340831Z","updated_at":"2026-07-07T07:46:08.344193Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-07T07:46:08.344193Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.69107ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/d4f12236-7e6e-4042-8693-751f819f2095/generate-data-key
        method: POST
      response:
        body: '{"key_id":"d4f12236-7e6e-4042-8693-751f819f2095","algorithm":"aes_256_gcm","ciphertext":"AQAAAAHuPgWdpYFqkLRzVYrDQ1P0uUVdIaxwtzbMAmW1e+3FW78NSCpNU4rd8m6r0cPE+VJQCz51pPiOCPGNatU=","plaintext":null,"created_at":"2026-07-07T07:46:08.527122639Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.471246ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBSHVQZ1dkcFlGcWtMUnpWWXJEUTFQMHVVVmRJYXh3dHpiTUFtVzFlKzNGVzc4TlNDcE5VNHJkOG02cjBjUEUrVkpRQ3o1MXBQaU9DUEdOYXRVPQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18d0279f-9a5b-4794-9a9a-f6d386af983e/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"18d0279f-9a5b-4794-9a9a-f6d386af983e","status":"enabled","created_at":"2026-07-07T07:46:08.797567Z","updated_at":"2026-07-07T07:46:08.797567Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.525567ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18d0279f-9a5b-4794-9a9a-f6d386af983e/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"18d0279f-9a5b-4794-9a9a-f6d386af983e","status":"enabled","created_at":"2026-07-07T07:46:08.797567Z","updated_at":"2026-07-07T07:46:08.797567Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.853981ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/18d0279f-9a5b-4794-9a9a-f6d386af983e/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"18d0279f-9a5b-4794-9a9a-f6d386af983e","revision":1,"data":"QVFBQUFBSHVQZ1dkcFlGcWtMUnpWWXJEUTFQMHVVVmRJYXh3dHpiTUFtVzFlKzNGVzc4TlNDcE5VNHJkOG02cjBjUEUrVkpRQ3o1MXBQaU9DUEdOYXRVPQ==","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.816337ms
[...]
