---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"f0840c43-4a52-473b-87e8-e457089fe0af", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret-no-plaintext", "status":"ready", "created_at":"2026-01-07T10:29:49.003841Z", "updated_at":"2026-01-07T10:29:49.003841Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.920374ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0840c43-4a52-473b-87e8-e457089fe0af
        method: GET
      response:
        body: '{"id":"f0840c43-4a52-473b-87e8-e457089fe0af", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret-no-plaintext", "status":"ready", "created_at":"2026-01-07T10:29:49.003841Z", "updated_at":"2026-01-07T10:29:49.003841Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.874896ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0840c43-4a52-473b-87e8-e457089fe0af/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.306864ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-no-plaintext","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"6fb86296-6c81-4762-a379-f9fd84c5db5f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-no-plaintext", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.630561Z", "updated_at":"2026-01-07T10:29:49.635833Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:49.635833Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 996.977617ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/6fb86296-6c81-4762-a379-f9fd84c5db5f
        method: GET
      response:
        body: '{"id":"6fb86296-6c81-4762-a379-f9fd84c5db5f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-no-plaintext", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.630561Z", "updated_at":"2026-01-07T10:29:49.635833Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-01-07T10:29:49.635833Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.415293ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/6fb86296-6c81-4762-a379-f9fd84c5db5f/generate-data-key
        method: POST
      response:
        body: '{"key_id":"6fb86296-6c81-4762-a379-f9fd84c5db5f", "algorithm":"aes_256_gcm", "ciphertext":"AQAAAAEGPvJMpzbYSA11PhblAVyfO+79M4VxBr9DXu53glpVgR0XNpvOfD4rowta+JBGvusl97mMVVJBQHmD8eo=", "plaintext":null, "created_at":"2026-01-07T10:29:50.065434253Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.189782ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAEGPu+/vUzvv70277+9SA11Phbvv70BXO+/vTvvv73vv70z77+9cQbvv71DXu+/vXfvv71aVe+/vR0XNu+/ve+/vXw+K++/vQta77+977+9Ru+/ve+/vSXvv73vv73vv71VUkFAee+/ve+/ve+/vQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0840c43-4a52-473b-87e8-e457089fe0af/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"f0840c43-4a52-473b-87e8-e457089fe0af", "status":"enabled", "created_at":"2026-01-07T10:29:50.712695Z", "updated_at":"2026-01-07T10:29:50.712695Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.615641ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0840c43-4a52-473b-87e8-e457089fe0af/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"f0840c43-4a52-473b-87e8-e457089fe0af", "status":"enabled", "created_at":"2026-01-07T10:29:50.712695Z", "updated_at":"2026-01-07T10:29:50.712695Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.107699ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/f0840c43-4a52-473b-87e8-e457089fe0af/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"f0840c43-4a52-473b-87e8-e457089fe0af", "revision":1, "data":"AQAAAAEGPu+/vUzvv70277+9SA11Phbvv70BXO+/vTvvv73vv70z77+9cQbvv71DXu+/vXfvv71aVe+/vR0XNu+/ve+/vXw+K++/vQta77+977+9Ru+/ve+/vSXvv73vv73vv71VUkFAee+/ve+/ve+/vQ==", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.294919ms
[...]
