---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4c429175-d7fa-456e-a9e2-bff60a9a619d","id":"4c429175-d7fa-456e-a9e2-bff60a9a619d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:30.135626Z","updated_at":"2026-10-07T13:45:30.141559Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:30.141559Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 138.135081ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"", "id":"e7570172-7a93-43c2-8514-d7353a8df5fc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2026-10-07T13:45:30.154229Z", "updated_at":"2026-10-07T13:45:30.154229Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.827542ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.909334ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4c429175-d7fa-456e-a9e2-bff60a9a619d
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4c429175-d7fa-456e-a9e2-bff60a9a619d","id":"4c429175-d7fa-456e-a9e2-bff60a9a619d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:30.135626Z","updated_at":"2026-10-07T13:45:30.141559Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:30.141559Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.080346ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7570172-7a93-43c2-8514-d7353a8df5fc
        method: GET
      response:
        body: '{"srn":"", "id":"e7570172-7a93-43c2-8514-d7353a8df5fc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2026-10-07T13:45:30.154229Z", "updated_at":"2026-10-07T13:45:30.154229Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.977209ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4c429175-d7fa-456e-a9e2-bff60a9a619d/generate-data-key
        method: POST
      response:
        body: '{"key_id":"4c429175-d7fa-456e-a9e2-bff60a9a619d", "algorithm":"aes_256_gcm", "ciphertext":"AQAAAAGOJ+f2d4C3SKSMyAWv1RD1efgQr8jK4rxOrBuMn2Fbea+jIYam3Ejp8oqNbWcfginHE39zpPMi2Xf2I98=", "plaintext":"AC/x+kuGqciuhwixvkYLowKQ6Hv+DLnsrnBSWMHExsc=", "created_at":"2026-10-07T13:45:30.291468798Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.351609ms
    - id: 7
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7570172-7a93-43c2-8514-d7353a8df5fc/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 80.61684ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAGOJ+f2d4C3SKSMyAWv1RD1efgQr8jK4rxOrBuMn2Fbea+jIYam3Ejp8oqNbWcfginHE39zpPMi2Xf2I98=","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4c429175-d7fa-456e-a9e2-bff60a9a619d/decrypt
        method: POST
      response:
        body: '{"key_id":"4c429175-d7fa-456e-a9e2-bff60a9a619d", "plaintext":"AC/x+kuGqciuhwixvkYLowKQ6Hv+DLnsrnBSWMHExsc=", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.665106ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBR09KK2YyZDRDM1NLU015QVd2MVJEMWVmZ1FyOGpLNHJ4T3JCdU1uMkZiZWEraklZYW0zRWpwOG9xTmJXY2ZnaW5IRTM5enBQTWkyWGYySTk4PQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7570172-7a93-43c2-8514-d7353a8df5fc/versions
        method: POST
      response:
        body: '{"srn":"", "revision":1, "secret_id":"e7570172-7a93-43c2-8514-d7353a8df5fc", "status":"enabled", "created_at":"2026-10-07T13:45:30.621152Z", "updated_at":"2026-10-07T13:45:30.621152Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 331.724046ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7570172-7a93-43c2-8514-d7353a8df5fc/versions/1
        method: GET
      response:
        body: '{"srn":"", "revision":1, "secret_id":"e7570172-7a93-43c2-8514-d7353a8df5fc", "status":"enabled", "created_at":"2026-10-07T13:45:30.621152Z", "updated_at":"2026-10-07T13:45:30.621152Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.464029ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e7570172-7a93-43c2-8514-d7353a8df5fc/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"e7570172-7a93-43c2-8514-d7353a8df5fc","revision":1,"data":"QVFBQUFBR09KK2YyZDRDM1NLU015QVd2MVJEMWVmZ1FyOGpLNHJ4T3JCdU1uMkZiZWEraklZYW0zRWpwOG9xTmJXY2ZnaW5IRTM5enBQTWkyWGYySTk4PQ==","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.102306ms
[...]
