---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret-no-plaintext","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"24b7837f-7fa3-40e4-b007-6be0de590cbf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret-no-plaintext", "status":"ready", "created_at":"2025-12-24T13:44:38.476510Z", "updated_at":"2025-12-24T13:44:38.476510Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.13822ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"dbe412dc-8f15-49cf-87dd-a19b4661556f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-24T13:44:38.519893Z", "updated_at":"2025-12-24T13:44:38.523564Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-24T13:44:38.523564Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.356198ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/dbe412dc-8f15-49cf-87dd-a19b4661556f
        method: GET
      response:
        body: '{"id":"dbe412dc-8f15-49cf-87dd-a19b4661556f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2025-12-24T13:44:38.519893Z", "updated_at":"2025-12-24T13:44:38.523564Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2025-12-24T13:44:38.523564Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.118521ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24b7837f-7fa3-40e4-b007-6be0de590cbf
        method: GET
      response:
        body: '{"id":"24b7837f-7fa3-40e4-b007-6be0de590cbf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret-no-plaintext", "status":"ready", "created_at":"2025-12-24T13:44:38.476510Z", "updated_at":"2025-12-24T13:44:38.476510Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.622865ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24b7837f-7fa3-40e4-b007-6be0de590cbf/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.291182ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/dbe412dc-8f15-49cf-87dd-a19b4661556f/generate-data-key
        method: POST
      response:
        body: '{"key_id":"dbe412dc-8f15-49cf-87dd-a19b4661556f", "algorithm":"aes_256_gcm", "ciphertext":"AQAAAAF39ob9os//dALW5ZXRrX+/350x4+Sd5J6BDWv+y84iokstynZm2otd96tEyjHxzt1MaxXgHx03iaHwT2k=", "plaintext":null, "created_at":"2025-12-24T13:44:38.754256309Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.545923ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"AQAAAAF377+977+977+977+977+977+9dALvv73vv73vv73RrX/vv73fnTHvv73vv73vv73knoENa++/ve+/ve+/vSLvv71LLe+/vXZm2otd77+977+9RO+/vTHvv73vv73vv71MaxXvv70fHTfvv73vv73vv71PaQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24b7837f-7fa3-40e4-b007-6be0de590cbf/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"24b7837f-7fa3-40e4-b007-6be0de590cbf", "status":"enabled", "created_at":"2025-12-24T13:44:39.127784Z", "updated_at":"2025-12-24T13:44:39.127784Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.573332ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24b7837f-7fa3-40e4-b007-6be0de590cbf/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"24b7837f-7fa3-40e4-b007-6be0de590cbf", "status":"enabled", "created_at":"2025-12-24T13:44:39.127784Z", "updated_at":"2025-12-24T13:44:39.127784Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.365708ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/24b7837f-7fa3-40e4-b007-6be0de590cbf/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"24b7837f-7fa3-40e4-b007-6be0de590cbf", "revision":1, "data":"AQAAAAF377+977+977+977+977+977+9dALvv73vv73vv73RrX/vv73fnTHvv73vv73vv73knoENa++/ve+/ve+/vSLvv71LLe+/vXZm2otd77+977+9RO+/vTHvv73vv73vv71MaxXvv70fHTfvv73vv73vv71PaQ==", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.392198ms
[...]
