---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-data-key-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"3bf74147-d3cb-44d5-a6bd-696bcb228a0a", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2026-06-09T13:25:52.463206Z", "updated_at":"2026-06-09T13:25:52.463206Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.222373ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-generate-data-key","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"b45ce445-6827-4bd9-8a80-36d701b376cf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:25:52.480379Z", "updated_at":"2026-06-09T13:25:52.484329Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:25:52.484329Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.113847ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bf74147-d3cb-44d5-a6bd-696bcb228a0a
        method: GET
      response:
        body: '{"id":"3bf74147-d3cb-44d5-a6bd-696bcb228a0a", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-data-key-secret", "status":"ready", "created_at":"2026-06-09T13:25:52.463206Z", "updated_at":"2026-06-09T13:25:52.463206Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.821222ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b45ce445-6827-4bd9-8a80-36d701b376cf
        method: GET
      response:
        body: '{"id":"b45ce445-6827-4bd9-8a80-36d701b376cf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-generate-data-key", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-09T13:25:52.480379Z", "updated_at":"2026-06-09T13:25:52.484329Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-09T13:25:52.484329Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.124161ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bf74147-d3cb-44d5-a6bd-696bcb228a0a/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.637506ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"algorithm":"aes_256_gcm","without_plaintext":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b45ce445-6827-4bd9-8a80-36d701b376cf/generate-data-key
        method: POST
      response:
        body: '{"key_id":"b45ce445-6827-4bd9-8a80-36d701b376cf", "algorithm":"aes_256_gcm", "ciphertext":"AQAAAAEWuqRPRzWlVQAvYYkoi/556jN0imSbtFZgFDhUIVi23x1x8oZ+QOkO1mn4e0/w8z0WNFre7AXSQszxUDc=", "plaintext":"cZYkp7DivFiQiQXFh8nHhc1QA6aUH2RTz1XRPB0DRqk=", "created_at":"2026-06-09T13:25:52.683903287Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.042122ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"ciphertext":"AQAAAAEWuqRPRzWlVQAvYYkoi/556jN0imSbtFZgFDhUIVi23x1x8oZ+QOkO1mn4e0/w8z0WNFre7AXSQszxUDc=","associated_data":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b45ce445-6827-4bd9-8a80-36d701b376cf/decrypt
        method: POST
      response:
        body: '{"key_id":"b45ce445-6827-4bd9-8a80-36d701b376cf", "plaintext":"cZYkp7DivFiQiQXFh8nHhc1QA6aUH2RTz1XRPB0DRqk=", "ciphertext":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.950777ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"QVFBQUFBRVd1cVJQUnpXbFZRQXZZWWtvaS81NTZqTjBpbVNidEZaZ0ZEaFVJVmkyM3gxeDhvWitRT2tPMW1uNGUwL3c4ejBXTkZyZTdBWFNRc3p4VURjPQ==","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bf74147-d3cb-44d5-a6bd-696bcb228a0a/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"3bf74147-d3cb-44d5-a6bd-696bcb228a0a", "status":"enabled", "created_at":"2026-06-09T13:25:52.948906Z", "updated_at":"2026-06-09T13:25:52.948906Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.468386ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bf74147-d3cb-44d5-a6bd-696bcb228a0a/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"3bf74147-d3cb-44d5-a6bd-696bcb228a0a", "status":"enabled", "created_at":"2026-06-09T13:25:52.948906Z", "updated_at":"2026-06-09T13:25:52.948906Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.830772ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/3bf74147-d3cb-44d5-a6bd-696bcb228a0a/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"3bf74147-d3cb-44d5-a6bd-696bcb228a0a", "revision":1, "data":"QVFBQUFBRVd1cVJQUnpXbFZRQXZZWWtvaS81NTZqTjBpbVNidEZaZ0ZEaFVJVmkyM3gxeDhvWitRT2tPMW1uNGUwL3c4ejBXTkZyZTdBWFNRc3p4VURjPQ==", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.639522ms
[...]
