---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-legacy","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with deprecated usage field","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2025-10-14T04:45:01.147929Z","deletion_requested_at":null,"description":"Test key with deprecated usage field","id":"d43b1bd9-3d26-4ad4-a86e-571d09325eb6","locked":false,"name":"tf-test-kms-key-legacy","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T04:45:01.156743Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2025-10-14T04:45:01.156743Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.526677333s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/d43b1bd9-3d26-4ad4-a86e-571d09325eb6
        method: GET
      response:
        body: '{"created_at":"2025-10-14T04:45:01.147929Z","deletion_requested_at":null,"description":"Test key with deprecated usage field","id":"d43b1bd9-3d26-4ad4-a86e-571d09325eb6","locked":false,"name":"tf-test-kms-key-legacy","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T04:45:01.156743Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2025-10-14T04:45:01.156743Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.858125ms
[...]
