---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-default-alg","usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"},"description":"Test key with RSA-3072 algorithm","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"c08d3f48-d422-4a01-a051-eb2bd1be1ba1", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-default-alg", "usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:51.606268Z", "updated_at":"2026-01-07T10:29:52.186105Z", "protected":false, "locked":false, "description":"Test key with RSA-3072 algorithm", "tags":[], "rotated_at":"2026-01-07T10:29:52.186105Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 757.830068ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/c08d3f48-d422-4a01-a051-eb2bd1be1ba1
        method: GET
      response:
        body: '{"id":"c08d3f48-d422-4a01-a051-eb2bd1be1ba1", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-default-alg", "usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:51.606268Z", "updated_at":"2026-01-07T10:29:52.186105Z", "protected":false, "locked":false, "description":"Test key with RSA-3072 algorithm", "tags":[], "rotated_at":"2026-01-07T10:29:52.186105Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.630755ms
[...]
