---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-test-kms-key-unprotected-a\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"unprotected\":true,\"origin\":\"unknown_origin\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
    method: POST
  response:
    body: "{\"id\":\"04a49f5c-39ab-488f-803c-bc007abdb8ab\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-test-kms-key-unprotected-a\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"state\":\"enabled\",\"rotation_count\":1,\"created_at\":\"2025-08-26T16:28:13.315972Z\",\"updated_at\":\"2025-08-26T16:28:13.324115Z\",\"protected\":false,\"locked\":false,\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"rotated_at\":\"2025-08-26T16:28:13.324115Z\",\"rotation_policy\":null,\"origin\":\"scaleway_kms\",\"deletion_requested_at\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.759953279s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/04a49f5c-39ab-488f-803c-bc007abdb8ab
    method: GET
  response:
    body: "{\"id\":\"04a49f5c-39ab-488f-803c-bc007abdb8ab\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-test-kms-key-unprotected-a\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"state\":\"enabled\",\"rotation_count\":1,\"created_at\":\"2025-08-26T16:28:13.315972Z\",\"updated_at\":\"2025-08-26T16:28:13.324115Z\",\"protected\":false,\"locked\":false,\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"rotated_at\":\"2025-08-26T16:28:13.324115Z\",\"rotation_policy\":null,\"origin\":\"scaleway_kms\",\"deletion_requested_at\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.060123ms
[...]
