---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-default-alg","usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"},"description":"Test key with default algorithm","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2025-10-13T13:07:50.991520Z","deletion_requested_at":null,"description":"Test key with default algorithm","id":"baf818b5-31fd-4c47-a46a-b7c94235f846","locked":false,"name":"tf-test-kms-key-default-alg","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-13T13:07:51.237551Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2025-10-13T13:07:51.237551Z","usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 689.005709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/baf818b5-31fd-4c47-a46a-b7c94235f846
        method: GET
      response:
        body: '{"created_at":"2025-10-13T13:07:50.991520Z","deletion_requested_at":null,"description":"Test key with default algorithm","id":"baf818b5-31fd-4c47-a46a-b7c94235f846","locked":false,"name":"tf-test-kms-key-default-alg","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-13T13:07:51.237551Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2025-10-13T13:07:51.237551Z","usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.879833ms
[...]
