---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-protection-level","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with protection level","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin","protection_level":"hsm"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/41e1f5b0-ca90-4624-acea-962e4ba3440b","id":"41e1f5b0-ca90-4624-acea-962e4ba3440b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-protection-level","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:18.185854Z","updated_at":"2026-10-06T15:37:18.357145Z","protected":false,"locked":false,"description":"Test key with protection level","tags":["tf","test"],"rotated_at":"2026-10-06T15:37:18.357145Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"hsm","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 301.752803ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.497489ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/41e1f5b0-ca90-4624-acea-962e4ba3440b
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/41e1f5b0-ca90-4624-acea-962e4ba3440b","id":"41e1f5b0-ca90-4624-acea-962e4ba3440b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-protection-level","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:18.185854Z","updated_at":"2026-10-06T15:37:18.357145Z","protected":false,"locked":false,"description":"Test key with protection level","tags":["tf","test"],"rotated_at":"2026-10-06T15:37:18.357145Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"hsm","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.987305ms
[...]
