---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with rotation policy","tags":null,"rotation_policy":{"rotation_period":"3153600000.000000000s","next_rotation_at":"2027-01-01T00:00:00Z"},"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"3dbb0ef7-be5d-4d0c-aa7b-141f9a4990a1", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-rotation", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.533100Z", "updated_at":"2026-01-07T10:29:49.537112Z", "protected":false, "locked":false, "description":"Test key with rotation policy", "tags":[], "rotated_at":"2026-01-07T10:29:49.537112Z", "rotation_policy":{"rotation_period":"3153600000s", "next_rotation_at":"2027-01-01T00:00:00Z"}, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 717.044475ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/3dbb0ef7-be5d-4d0c-aa7b-141f9a4990a1
        method: GET
      response:
        body: '{"id":"3dbb0ef7-be5d-4d0c-aa7b-141f9a4990a1", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-rotation", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-01-07T10:29:49.533100Z", "updated_at":"2026-01-07T10:29:49.537112Z", "protected":false, "locked":false, "description":"Test key with rotation policy", "tags":[], "rotated_at":"2026-01-07T10:29:49.537112Z", "rotation_policy":{"rotation_period":"3153600000s", "next_rotation_at":"2027-01-01T00:00:00Z"}, "origin":"scaleway_kms", "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.810785ms
[...]
