---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-update","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"fbb79521-f01a-4ab1-9467-2505388bf8b6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-update","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-06-05T16:02:09.477240Z","updated_at":"2026-06-05T16:02:09.481066Z","protected":false,"locked":false,"description":"Test key","tags":["tf","test"],"rotated_at":"2026-06-05T16:02:09.481066Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 425.713378ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/fbb79521-f01a-4ab1-9467-2505388bf8b6
        method: GET
      response:
        body: '{"id":"fbb79521-f01a-4ab1-9467-2505388bf8b6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-update","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-06-05T16:02:09.477240Z","updated_at":"2026-06-05T16:02:09.481066Z","protected":false,"locked":false,"description":"Test key","tags":["tf","test"],"rotated_at":"2026-06-05T16:02:09.481066Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.410763ms
[...]
