---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-test-kms-key-update\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"unprotected\":true,\"origin\":\"unknown_origin\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
    method: POST
  response:
    body: "{\"id\":\"adbb8b08-dc09-442c-9f7b-e7c8314dff07\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-test-kms-key-update\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"state\":\"enabled\",\"rotation_count\":1,\"created_at\":\"2025-08-26T16:28:13.214211Z\",\"updated_at\":\"2025-08-26T16:28:13.223108Z\",\"protected\":false,\"locked\":false,\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"rotated_at\":\"2025-08-26T16:28:13.223108Z\",\"rotation_policy\":null,\"origin\":\"scaleway_kms\",\"deletion_requested_at\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.62740934s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/adbb8b08-dc09-442c-9f7b-e7c8314dff07
    method: GET
  response:
    body: "{\"id\":\"adbb8b08-dc09-442c-9f7b-e7c8314dff07\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-test-kms-key-update\",\"usage\":{\"symmetric_encryption\":\"aes_256_gcm\"},\"state\":\"enabled\",\"rotation_count\":1,\"created_at\":\"2025-08-26T16:28:13.214211Z\",\"updated_at\":\"2025-08-26T16:28:13.223108Z\",\"protected\":false,\"locked\":false,\"description\":\"Test key\",\"tags\":[\"tf\",\"test\"],\"rotated_at\":\"2025-08-26T16:28:13.223108Z\",\"rotation_policy\":null,\"origin\":\"scaleway_kms\",\"deletion_requested_at\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.638ms
[...]
