---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material-wo","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with write-only key material","tags":["tf","test"],"unprotected":true,"origin":"external"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"5dce438b-49e2-42ea-843a-1fe8768e4fed", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material-wo", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"pending_key_material", "rotation_count":0, "created_at":"2026-07-09T13:58:54.693463Z", "updated_at":"2026-07-09T13:58:54.693463Z", "protected":false, "locked":false, "description":"Test key with write-only key material", "tags":["tf", "test"], "rotated_at":null, "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.602345ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/5dce438b-49e2-42ea-843a-1fe8768e4fed
        method: GET
      response:
        body: '{"id":"5dce438b-49e2-42ea-843a-1fe8768e4fed", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material-wo", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"pending_key_material", "rotation_count":0, "created_at":"2026-07-09T13:58:54.693463Z", "updated_at":"2026-07-09T13:58:54.693463Z", "protected":false, "locked":false, "description":"Test key with write-only key material", "tags":["tf", "test"], "rotated_at":null, "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.015313ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_material":"YTk4NzY1NDMyMWZlZGNiYTk4NzY1NDMyMWZlZGNiYQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/5dce438b-49e2-42ea-843a-1fe8768e4fed/import-key-material
        method: POST
      response:
        body: '{"id":"5dce438b-49e2-42ea-843a-1fe8768e4fed", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material-wo", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-09T13:58:54.693463Z", "updated_at":"2026-07-09T13:58:54.916377Z", "protected":false, "locked":false, "description":"Test key with write-only key material", "tags":["tf", "test"], "rotated_at":"2026-07-09T13:58:54.891103Z", "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.139459ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/5dce438b-49e2-42ea-843a-1fe8768e4fed/delete-key-material
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 120.990981ms
[...]
