---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-raw-bytes","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with raw bytes key material","tags":["tf","test"],"unprotected":true,"origin":"external"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"f0c8f506-3020-453b-8d06-48bdd0a932ea", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-raw-bytes", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"pending_key_material", "rotation_count":0, "created_at":"2026-07-09T13:58:54.725810Z", "updated_at":"2026-07-09T13:58:54.725810Z", "protected":false, "locked":false, "description":"Test key with raw bytes key material", "tags":["tf", "test"], "rotated_at":null, "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.718439ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f0c8f506-3020-453b-8d06-48bdd0a932ea
        method: GET
      response:
        body: '{"id":"f0c8f506-3020-453b-8d06-48bdd0a932ea", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-raw-bytes", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"pending_key_material", "rotation_count":0, "created_at":"2026-07-09T13:58:54.725810Z", "updated_at":"2026-07-09T13:58:54.725810Z", "protected":false, "locked":false, "description":"Test key with raw bytes key material", "tags":["tf", "test"], "rotated_at":null, "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.171812ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_material":"bXktc2VjcmV0LWtleS1tYXRlcmlhbC0zMmJ5dGVzISE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f0c8f506-3020-453b-8d06-48bdd0a932ea/import-key-material
        method: POST
      response:
        body: '{"id":"f0c8f506-3020-453b-8d06-48bdd0a932ea", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-raw-bytes", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-09T13:58:54.725810Z", "updated_at":"2026-07-09T13:58:54.956285Z", "protected":false, "locked":false, "description":"Test key with raw bytes key material", "tags":["tf", "test"], "rotated_at":"2026-07-09T13:58:54.935897Z", "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.130406ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f0c8f506-3020-453b-8d06-48bdd0a932ea/delete-key-material
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 106.101056ms
[...]
