---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with rotation policy","tags":null,"rotation_policy":{"rotation_period":"2592000.000000000s","next_rotation_at":"2026-01-01T00:00:00Z"},"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2025-10-14T09:00:15.810396Z","deletion_requested_at":null,"description":"Test key with rotation policy","id":"09637bcf-ea14-46c8-acd6-c52e8074b1fc","locked":false,"name":"tf-test-kms-key-rotation","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T09:00:15.822278Z","rotation_count":1,"rotation_policy":{"next_rotation_at":"2026-01-01T00:00:00Z","rotation_period":"2592000s"},"state":"enabled","tags":[],"updated_at":"2025-10-14T09:00:15.822278Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 823.193833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/09637bcf-ea14-46c8-acd6-c52e8074b1fc
        method: GET
      response:
        body: '{"created_at":"2025-10-14T09:00:15.810396Z","deletion_requested_at":null,"description":"Test key with rotation policy","id":"09637bcf-ea14-46c8-acd6-c52e8074b1fc","locked":false,"name":"tf-test-kms-key-rotation","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T09:00:15.822278Z","rotation_count":1,"rotation_policy":{"next_rotation_at":"2026-01-01T00:00:00Z","rotation_period":"2592000s"},"state":"enabled","tags":[],"updated_at":"2025-10-14T09:00:15.822278Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.188291ms
[...]
