---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-protection-level","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with protection level","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin","protection_level":"hsm"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b8815a08-1690-4ae2-b76c-92a2e92c0296","id":"b8815a08-1690-4ae2-b76c-92a2e92c0296","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-protection-level","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:19.264635Z","updated_at":"2026-10-07T13:45:19.464484Z","protected":false,"locked":false,"description":"Test key with protection level","tags":["tf","test"],"rotated_at":"2026-10-07T13:45:19.464484Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"hsm","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 376.994801ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.243521ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b8815a08-1690-4ae2-b76c-92a2e92c0296
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/b8815a08-1690-4ae2-b76c-92a2e92c0296","id":"b8815a08-1690-4ae2-b76c-92a2e92c0296","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-protection-level","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:19.264635Z","updated_at":"2026-10-07T13:45:19.464484Z","protected":false,"locked":false,"description":"Test key with protection level","tags":["tf","test"],"rotated_at":"2026-10-07T13:45:19.464484Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"hsm","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 104.689214ms
[...]
