---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-drift","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"rotation_policy":{"rotation_period":"2592000.000000000s","next_rotation_at":null},"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/8f4c29e7-445b-4e4e-a689-b496d1976946", "id":"8f4c29e7-445b-4e4e-a689-b496d1976946", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-rotation-drift", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:33.113230Z", "updated_at":"2026-10-07T13:45:33.116633Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:33.116633Z", "rotation_policy":{"rotation_period":"2592000s", "next_rotation_at":"2026-11-06T13:45:33.084034Z"}, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 79.5636ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.257799ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/8f4c29e7-445b-4e4e-a689-b496d1976946
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/8f4c29e7-445b-4e4e-a689-b496d1976946","id":"8f4c29e7-445b-4e4e-a689-b496d1976946","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-drift","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:33.113230Z","updated_at":"2026-10-07T13:45:33.116633Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:33.116633Z","rotation_policy":{"rotation_period":"2592000s","next_rotation_at":"2026-11-06T13:45:33.084034Z"},"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.704586ms
[...]
