---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation-drift","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"rotation_policy":{"rotation_period":"2592000.000000000s","next_rotation_at":null},"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"64bd5bfa-f432-4a1e-8cdd-e1e91d2797bc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-rotation-drift", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-22T10:26:52.981683Z", "updated_at":"2026-07-22T10:26:52.984851Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-07-22T10:26:52.984851Z", "rotation_policy":{"rotation_period":"2592000s", "next_rotation_at":"2026-08-21T10:26:52.942709Z"}, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.227959ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/64bd5bfa-f432-4a1e-8cdd-e1e91d2797bc
        method: GET
      response:
        body: '{"id":"64bd5bfa-f432-4a1e-8cdd-e1e91d2797bc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-rotation-drift", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-22T10:26:52.981683Z", "updated_at":"2026-07-22T10:26:52.984851Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-07-22T10:26:52.984851Z", "rotation_policy":{"rotation_period":"2592000s", "next_rotation_at":"2026-08-21T10:26:52.942709Z"}, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.0035ms
[...]
