---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-unprotected","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2025-07-03T09:42:49.374233Z","deletion_requested_at":null,"description":"Test key","id":"6dc099f2-cd8d-4069-bc4d-4ff22d58130e","locked":false,"name":"tf-test-kms-key-unprotected","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-07-03T09:42:49.378365Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":["tf","test"],"updated_at":"2025-07-03T09:42:49.378365Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 439.321708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/6dc099f2-cd8d-4069-bc4d-4ff22d58130e
        method: GET
      response:
        body: '{"created_at":"2025-07-03T09:42:49.374233Z","deletion_requested_at":null,"description":"Test key","id":"6dc099f2-cd8d-4069-bc4d-4ff22d58130e","locked":false,"name":"tf-test-kms-key-unprotected","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-07-03T09:42:49.378365Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":["tf","test"],"updated_at":"2025-07-03T09:42:49.378365Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.221708ms
[...]
