---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with external key material","tags":["tf","test"],"unprotected":true,"origin":"external"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"25324afb-a2b2-48e2-8e7d-eb57147c0541", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"pending_key_material", "rotation_count":0, "created_at":"2026-07-09T13:58:54.740125Z", "updated_at":"2026-07-09T13:58:54.740125Z", "protected":false, "locked":false, "description":"Test key with external key material", "tags":["tf", "test"], "rotated_at":null, "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.916031ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/25324afb-a2b2-48e2-8e7d-eb57147c0541
        method: GET
      response:
        body: '{"id":"25324afb-a2b2-48e2-8e7d-eb57147c0541", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"pending_key_material", "rotation_count":0, "created_at":"2026-07-09T13:58:54.740125Z", "updated_at":"2026-07-09T13:58:54.740125Z", "protected":false, "locked":false, "description":"Test key with external key material", "tags":["tf", "test"], "rotated_at":null, "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.215524ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_material":"YTk4NzY1NDMyMWZlZGNiYTk4NzY1NDMyMWZlZGNiYQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/25324afb-a2b2-48e2-8e7d-eb57147c0541/import-key-material
        method: POST
      response:
        body: '{"id":"25324afb-a2b2-48e2-8e7d-eb57147c0541", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-07-09T13:58:54.740125Z", "updated_at":"2026-07-09T13:58:54.930111Z", "protected":false, "locked":false, "description":"Test key with external key material", "tags":["tf", "test"], "rotated_at":"2026-07-09T13:58:54.915220Z", "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.997623ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/25324afb-a2b2-48e2-8e7d-eb57147c0541/delete-key-material
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 112.482511ms
[...]
