---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rsa4096","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"Test key with RSA-4096 algorithm","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2025-10-14T13:00:18.493346Z","deletion_requested_at":null,"description":"Test key with RSA-4096 algorithm","id":"328290aa-9f95-4b76-846e-9f6e1f815582","locked":false,"name":"tf-test-kms-key-rsa4096","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T13:00:19.048343Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2025-10-14T13:00:19.048343Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.397133333s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/328290aa-9f95-4b76-846e-9f6e1f815582
        method: GET
      response:
        body: '{"created_at":"2025-10-14T13:00:18.493346Z","deletion_requested_at":null,"description":"Test key with RSA-4096 algorithm","id":"328290aa-9f95-4b76-846e-9f6e1f815582","locked":false,"name":"tf-test-kms-key-rsa4096","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T13:00:19.048343Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2025-10-14T13:00:19.048343Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.261333ms
[...]
