---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-regional","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with regional ID","tags":["tf","test"],"unprotected":true,"origin":"external"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"301f557e-81e4-46d1-a873-4481d52681e3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-regional","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"pending_key_material","rotation_count":0,"created_at":"2026-07-10T15:37:48.744457Z","updated_at":"2026-07-10T15:37:48.744457Z","protected":false,"locked":false,"description":"Test key with regional ID","tags":["tf","test"],"rotated_at":null,"rotation_policy":null,"origin":"external","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.040899ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/301f557e-81e4-46d1-a873-4481d52681e3
        method: GET
      response:
        body: '{"id":"301f557e-81e4-46d1-a873-4481d52681e3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-regional","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"pending_key_material","rotation_count":0,"created_at":"2026-07-10T15:37:48.744457Z","updated_at":"2026-07-10T15:37:48.744457Z","protected":false,"locked":false,"description":"Test key with regional ID","tags":["tf","test"],"rotated_at":null,"rotation_policy":null,"origin":"external","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.196439ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_material":"YTk4NzY1NDMyMWZlZGNiYTk4NzY1NDMyMWZlZGNiYQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/301f557e-81e4-46d1-a873-4481d52681e3/import-key-material
        method: POST
      response:
        body: '{"id":"301f557e-81e4-46d1-a873-4481d52681e3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-regional","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-10T15:37:48.744457Z","updated_at":"2026-07-10T15:37:48.957221Z","protected":false,"locked":false,"description":"Test key with regional ID","tags":["tf","test"],"rotated_at":"2026-07-10T15:37:48.945613Z","rotation_policy":null,"origin":"external","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.323462ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/301f557e-81e4-46d1-a873-4481d52681e3/delete-key-material
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 102.36468ms
[...]
