---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-default-alg","usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"},"description":"Test key with RSA-3072 algorithm","tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/24a66fd4-7d09-421d-a581-3384461aca76","id":"24a66fd4-7d09-421d-a581-3384461aca76","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-default-alg","usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.295434Z","updated_at":"2026-10-06T15:37:14.540992Z","protected":false,"locked":false,"description":"Test key with RSA-3072 algorithm","tags":[],"rotated_at":"2026-10-06T15:37:14.540992Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 796.665387ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "29"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 27.53187ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/24a66fd4-7d09-421d-a581-3384461aca76
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/24a66fd4-7d09-421d-a581-3384461aca76","id":"24a66fd4-7d09-421d-a581-3384461aca76","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-default-alg","usage":{"asymmetric_encryption":"rsa_oaep_3072_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.295434Z","updated_at":"2026-10-06T15:37:14.540992Z","protected":false,"locked":false,"description":"Test key with RSA-3072 algorithm","tags":[],"rotated_at":"2026-10-06T15:37:14.540992Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 146.738186ms
[...]
