---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material-salt","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with salt","tags":["tf","test"],"unprotected":true,"origin":"external"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"74a402c2-8126-4a9d-8880-6c0d9834a496","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material-salt","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"pending_key_material","rotation_count":0,"created_at":"2026-07-10T15:37:48.841034Z","updated_at":"2026-07-10T15:37:48.841034Z","protected":false,"locked":false,"description":"Test key with salt","tags":["tf","test"],"rotated_at":null,"rotation_policy":null,"origin":"external","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.494881ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/74a402c2-8126-4a9d-8880-6c0d9834a496
        method: GET
      response:
        body: '{"id":"74a402c2-8126-4a9d-8880-6c0d9834a496","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material-salt","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"pending_key_material","rotation_count":0,"created_at":"2026-07-10T15:37:48.841034Z","updated_at":"2026-07-10T15:37:48.841034Z","protected":false,"locked":false,"description":"Test key with salt","tags":["tf","test"],"rotated_at":null,"rotation_policy":null,"origin":"external","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.114039ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"key_material":"YTk4NzY1NDMyMWZlZGNiYTk4NzY1NDMyMWZlZGNiYQ==","salt":"c2FsdHZhbHVlMTZieXRlcw=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/74a402c2-8126-4a9d-8880-6c0d9834a496/import-key-material
        method: POST
      response:
        body: '{"id":"74a402c2-8126-4a9d-8880-6c0d9834a496","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material-salt","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-10T15:37:48.841034Z","updated_at":"2026-07-10T15:37:49.029873Z","protected":false,"locked":false,"description":"Test key with salt","tags":["tf","test"],"rotated_at":"2026-07-10T15:37:49.015434Z","rotation_policy":null,"origin":"external","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.574775ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/74a402c2-8126-4a9d-8880-6c0d9834a496/delete-key-material
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 101.914963ms
[...]
