---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-update","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key","tags":["tf","test"],"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2025-10-14T04:45:01.053597Z","deletion_requested_at":null,"description":"Test key","id":"ec4c6ff5-6cac-46bd-9f79-1f71aec60e4a","locked":false,"name":"tf-test-kms-key-update","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T04:45:01.061211Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":["tf","test"],"updated_at":"2025-10-14T04:45:01.061211Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.199010916s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ec4c6ff5-6cac-46bd-9f79-1f71aec60e4a
        method: GET
      response:
        body: '{"created_at":"2025-10-14T04:45:01.053597Z","deletion_requested_at":null,"description":"Test key","id":"ec4c6ff5-6cac-46bd-9f79-1f71aec60e4a","locked":false,"name":"tf-test-kms-key-update","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","rotated_at":"2025-10-14T04:45:01.061211Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":["tf","test"],"updated_at":"2025-10-14T04:45:01.061211Z","usage":{"symmetric_encryption":"aes_256_gcm"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 402.942208ms
[...]
