---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rsa4096","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"Test key with RSA-4096 algorithm","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"a34645d0-4d68-4f52-8773-55ec94d3870d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rsa4096","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-06-05T16:02:10.445801Z","updated_at":"2026-06-05T16:02:10.793381Z","protected":false,"locked":false,"description":"Test key with RSA-4096 algorithm","tags":[],"rotated_at":"2026-06-05T16:02:10.793381Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.725045978s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/a34645d0-4d68-4f52-8773-55ec94d3870d
        method: GET
      response:
        body: '{"id":"a34645d0-4d68-4f52-8773-55ec94d3870d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rsa4096","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-06-05T16:02:10.445801Z","updated_at":"2026-06-05T16:02:10.793381Z","protected":false,"locked":false,"description":"Test key with RSA-4096 algorithm","tags":[],"rotated_at":"2026-06-05T16:02:10.793381Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.711162ms
[...]
