---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with external key material","tags":["tf","test"],"unprotected":true,"origin":"external","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/58b088ad-76ef-4f9c-bdd8-a01d570dfce6","id":"58b088ad-76ef-4f9c-bdd8-a01d570dfce6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-material","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"pending_key_material","rotation_count":0,"created_at":"2026-10-07T13:45:19.473607Z","updated_at":"2026-10-07T13:45:19.473607Z","protected":false,"locked":false,"description":"Test key with external key material","tags":["tf","test"],"rotated_at":null,"rotation_policy":null,"origin":"external","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 99.787962ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.873645ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/58b088ad-76ef-4f9c-bdd8-a01d570dfce6
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/58b088ad-76ef-4f9c-bdd8-a01d570dfce6", "id":"58b088ad-76ef-4f9c-bdd8-a01d570dfce6", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"pending_key_material", "rotation_count":0, "created_at":"2026-10-07T13:45:19.473607Z", "updated_at":"2026-10-07T13:45:19.473607Z", "protected":false, "locked":false, "description":"Test key with external key material", "tags":["tf", "test"], "rotated_at":null, "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 73.873573ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"key_material":"YTk4NzY1NDMyMWZlZGNiYTk4NzY1NDMyMWZlZGNiYQ=="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/58b088ad-76ef-4f9c-bdd8-a01d570dfce6/import-key-material
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/58b088ad-76ef-4f9c-bdd8-a01d570dfce6", "id":"58b088ad-76ef-4f9c-bdd8-a01d570dfce6", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-kms-key-material", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:19.473607Z", "updated_at":"2026-10-07T13:45:19.654768Z", "protected":false, "locked":false, "description":"Test key with external key material", "tags":["tf", "test"], "rotated_at":"2026-10-07T13:45:19.640587Z", "rotation_policy":null, "origin":"external", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.416514ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/58b088ad-76ef-4f9c-bdd8-a01d570dfce6/delete-key-material
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 100.92536ms
[...]
