---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation","usage":{"symmetric_encryption":"aes_256_gcm"},"description":"Test key with rotation policy","tags":null,"rotation_policy":{"rotation_period":"3153600000.000000000s","next_rotation_at":"2027-01-01T00:00:00Z"},"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"8005ec5a-9322-4fa3-a132-33413536914a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:05.216567Z","updated_at":"2026-07-07T07:46:05.224532Z","protected":false,"locked":false,"description":"Test key with rotation policy","tags":[],"rotated_at":"2026-07-07T07:46:05.224532Z","rotation_policy":{"rotation_period":"3153600000s","next_rotation_at":"2027-01-01T00:00:00Z"},"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.159584788s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/8005ec5a-9322-4fa3-a132-33413536914a
        method: GET
      response:
        body: '{"id":"8005ec5a-9322-4fa3-a132-33413536914a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-kms-key-rotation","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-07T07:46:05.216567Z","updated_at":"2026-07-07T07:46:05.224532Z","protected":false,"locked":false,"description":"Test key with rotation policy","tags":[],"rotated_at":"2026-07-07T07:46:05.224532Z","rotation_policy":{"rotation_period":"3153600000s","next_rotation_at":"2027-01-01T00:00:00Z"},"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.967795ms
[...]
