---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"95dd1a29-c2b3-475e-86e8-9ca48aea09fa", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-usage-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:07.460947Z", "updated_at":"2026-06-17T08:18:07.465475Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:07.465475Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.311907625s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/95dd1a29-c2b3-475e-86e8-9ca48aea09fa
        method: GET
      response:
        body: '{"id":"95dd1a29-c2b3-475e-86e8-9ca48aea09fa", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-usage-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:07.460947Z", "updated_at":"2026-06-17T08:18:07.465475Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:07.465475Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.588875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-2","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"fc9d4560-7413-4d34-8f61-8ec278577a7c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-usage-2", "usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:09.559660Z", "updated_at":"2026-06-17T08:18:10.041872Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:10.041872Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.04398125s
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - asymmetric_encryption
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=asymmetric_encryption
        method: GET
      response:
        body: '{"keys":[{"id":"fc9d4560-7413-4d34-8f61-8ec278577a7c", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-usage-2", "usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:09.559660Z", "updated_at":"2026-06-17T08:18:10.041872Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:10.041872Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.144375ms
[...]
