---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-name-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"bdcb8971-05cd-42f7-ba77-e72e72096e79","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-name-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-06-08T07:11:12.796917Z","updated_at":"2026-06-08T07:11:12.799938Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-06-08T07:11:12.799938Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.179827ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/bdcb8971-05cd-42f7-ba77-e72e72096e79
        method: GET
      response:
        body: '{"id":"bdcb8971-05cd-42f7-ba77-e72e72096e79","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-name-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-06-08T07:11:12.796917Z","updated_at":"2026-06-08T07:11:12.799938Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-06-08T07:11:12.799938Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.212432ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - tf-test-km-by-name-1
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?name=tf-test-km-by-name-1&order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"id":"bdcb8971-05cd-42f7-ba77-e72e72096e79","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-name-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-06-08T07:11:12.796917Z","updated_at":"2026-06-08T07:11:12.799938Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-06-08T07:11:12.799938Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.397878ms
[...]
