---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":["env:test","team:test"],"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"e80439f0-7aa1-4b4a-bf7e-9ae6e35bebe9", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-tags-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:07.339678Z", "updated_at":"2026-06-17T08:18:07.343509Z", "protected":false, "locked":false, "description":null, "tags":["env:test", "team:test"], "rotated_at":"2026-06-17T08:18:07.343509Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.258220958s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e80439f0-7aa1-4b4a-bf7e-9ae6e35bebe9
        method: GET
      response:
        body: '{"id":"e80439f0-7aa1-4b4a-bf7e-9ae6e35bebe9", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-tags-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:07.339678Z", "updated_at":"2026-06-17T08:18:07.343509Z", "protected":false, "locked":false, "description":null, "tags":["env:test", "team:test"], "rotated_at":"2026-06-17T08:18:07.343509Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.803917ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            tags:
                - env:test
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&protection_level=unknown_protection_level&scheduled_for_deletion=false&tags=env%3Atest&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"id":"e80439f0-7aa1-4b4a-bf7e-9ae6e35bebe9", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-tags-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:07.339678Z", "updated_at":"2026-06-17T08:18:07.343509Z", "protected":false, "locked":false, "description":null, "tags":["env:test", "team:test"], "rotated_at":"2026-06-17T08:18:07.343509Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.703459ms
[...]
