---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-keymanager-key-list-tags","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/b54a057c-f4f8-48c1-8ccb-078023f762ca","id":"b54a057c-f4f8-48c1-8ccb-078023f762ca","name":"tf-tests-keymanager-key-list-tags","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:45:23.148374Z","updated_at":"2026-10-07T13:45:23.148374Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 871.747786ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.896479ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/b54a057c-f4f8-48c1-8ccb-078023f762ca
        method: GET
      response:
        body: '{"srn":"srn://account.scw.eu/projects/b54a057c-f4f8-48c1-8ccb-078023f762ca","id":"b54a057c-f4f8-48c1-8ccb-078023f762ca","name":"tf-tests-keymanager-key-list-tags","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:45:23.148374Z","updated_at":"2026-10-07T13:45:23.148374Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"},"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 32.77295ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"b54a057c-f4f8-48c1-8ccb-078023f762ca","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":["env:test","team:test"],"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/04187285-ac18-428b-88de-13c5daf514d9", "id":"04187285-ac18-428b-88de-13c5daf514d9", "project_id":"b54a057c-f4f8-48c1-8ccb-078023f762ca", "name":"tf-test-km-by-tags-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:24.235591Z", "updated_at":"2026-10-07T13:45:24.240902Z", "protected":false, "locked":false, "description":null, "tags":["env:test", "team:test"], "rotated_at":"2026-10-07T13:45:24.240902Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 500.490999ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/04187285-ac18-428b-88de-13c5daf514d9
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/04187285-ac18-428b-88de-13c5daf514d9","id":"04187285-ac18-428b-88de-13c5daf514d9","project_id":"b54a057c-f4f8-48c1-8ccb-078023f762ca","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.235591Z","updated_at":"2026-10-07T13:45:24.240902Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-10-07T13:45:24.240902Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 144.976018ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - b54a057c-f4f8-48c1-8ccb-078023f762ca
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            tags:
                - env:test
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=b54a057c-f4f8-48c1-8ccb-078023f762ca&protection_level=unknown_protection_level&scheduled_for_deletion=false&tags=env%3Atest&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/04187285-ac18-428b-88de-13c5daf514d9","id":"04187285-ac18-428b-88de-13c5daf514d9","project_id":"b54a057c-f4f8-48c1-8ccb-078023f762ca","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.235591Z","updated_at":"2026-10-07T13:45:24.240902Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-10-07T13:45:24.240902Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 110.627578ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/b54a057c-f4f8-48c1-8ccb-078023f762ca
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"b54a057c-f4f8-48c1-8ccb-078023f762ca","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 43.384687ms
