---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-keymanager-key-list-usage","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/0443ce49-f773-41f2-b058-34b740384482","id":"0443ce49-f773-41f2-b058-34b740384482","name":"tf-tests-keymanager-key-list-usage","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:45:19.460535Z","updated_at":"2026-10-07T13:45:19.460535Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 729.162927ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "31"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.586927ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/0443ce49-f773-41f2-b058-34b740384482
        method: GET
      response:
        body: '{"srn":"srn://account.scw.eu/projects/0443ce49-f773-41f2-b058-34b740384482", "id":"0443ce49-f773-41f2-b058-34b740384482", "name":"tf-tests-keymanager-key-list-usage", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:45:19.460535Z", "updated_at":"2026-10-07T13:45:19.460535Z", "description":"", "qualification":{"architecture_type":"unknown_architecture_type"}, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 324.874215ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"0443ce49-f773-41f2-b058-34b740384482","name":"tf-test-km-by-usage-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/6596499b-a3ed-4506-b868-826fca2b106c","id":"6596499b-a3ed-4506-b868-826fca2b106c","project_id":"0443ce49-f773-41f2-b058-34b740384482","name":"tf-test-km-by-usage-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:20.348184Z","updated_at":"2026-10-07T13:45:20.353239Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:20.353239Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.082131ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/6596499b-a3ed-4506-b868-826fca2b106c
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/6596499b-a3ed-4506-b868-826fca2b106c","id":"6596499b-a3ed-4506-b868-826fca2b106c","project_id":"0443ce49-f773-41f2-b058-34b740384482","name":"tf-test-km-by-usage-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:20.348184Z","updated_at":"2026-10-07T13:45:20.353239Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:20.353239Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 77.638489ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"0443ce49-f773-41f2-b058-34b740384482","name":"tf-test-km-by-usage-2","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/c6d6e570-8eff-4d70-8dea-f59cf20aa7b7","id":"c6d6e570-8eff-4d70-8dea-f59cf20aa7b7","project_id":"0443ce49-f773-41f2-b058-34b740384482","name":"tf-test-km-by-usage-2","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:22.922504Z","updated_at":"2026-10-07T13:45:23.735315Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:23.735315Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 970.848347ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 0443ce49-f773-41f2-b058-34b740384482
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - asymmetric_encryption
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=0443ce49-f773-41f2-b058-34b740384482&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=asymmetric_encryption
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/c6d6e570-8eff-4d70-8dea-f59cf20aa7b7", "id":"c6d6e570-8eff-4d70-8dea-f59cf20aa7b7", "project_id":"0443ce49-f773-41f2-b058-34b740384482", "name":"tf-test-km-by-usage-2", "usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:22.922504Z", "updated_at":"2026-10-07T13:45:23.735315Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:23.735315Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 85.807264ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/0443ce49-f773-41f2-b058-34b740384482
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"0443ce49-f773-41f2-b058-34b740384482","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 28.535807ms
