---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"20e66fb8-c308-4552-9101-eac53e33349f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-scheduled-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:06.660362Z", "updated_at":"2026-06-17T08:18:06.663034Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:06.663034Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.675831041s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/20e66fb8-c308-4552-9101-eac53e33349f
        method: GET
      response:
        body: '{"id":"20e66fb8-c308-4552-9101-eac53e33349f", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-scheduled-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:06.660362Z", "updated_at":"2026-06-17T08:18:06.663034Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:06.663034Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.70075ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"id":"f82bf0a8-1bd6-4ee5-985a-4549bcee5182", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-decrypt-key-ad", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:08.061842Z", "updated_at":"2026-06-17T08:18:08.065106Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:08.065106Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "pr[...]
[...]
