---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":["env:test","team:test"],"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"62a30059-9199-4f5b-b16d-7fc491b85dd0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:19.878293Z","updated_at":"2026-07-03T15:28:19.882699Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-07-03T15:28:19.882699Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.269782838s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/62a30059-9199-4f5b-b16d-7fc491b85dd0
        method: GET
      response:
        body: '{"id":"62a30059-9199-4f5b-b16d-7fc491b85dd0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:19.878293Z","updated_at":"2026-07-03T15:28:19.882699Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-07-03T15:28:19.882699Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.028258ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            tags:
                - env:test
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&protection_level=unknown_protection_level&scheduled_for_deletion=false&tags=env%3Atest&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"id":"62a30059-9199-4f5b-b16d-7fc491b85dd0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:19.878293Z","updated_at":"2026-07-03T15:28:19.882699Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-07-03T15:28:19.882699Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.021117ms
[...]
