---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":["env:test","team:test"],"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/26cdc54c-5a96-4c4b-ae8e-5f22655f47c2","id":"26cdc54c-5a96-4c4b-ae8e-5f22655f47c2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:20.873471Z","updated_at":"2026-10-06T15:37:20.878835Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-10-06T15:37:20.878835Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 90.615911ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.526771ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/26cdc54c-5a96-4c4b-ae8e-5f22655f47c2
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/26cdc54c-5a96-4c4b-ae8e-5f22655f47c2","id":"26cdc54c-5a96-4c4b-ae8e-5f22655f47c2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:20.873471Z","updated_at":"2026-10-06T15:37:20.878835Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-10-06T15:37:20.878835Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.474351ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            tags:
                - env:test
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&protection_level=unknown_protection_level&scheduled_for_deletion=false&tags=env%3Atest&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/26cdc54c-5a96-4c4b-ae8e-5f22655f47c2","id":"26cdc54c-5a96-4c4b-ae8e-5f22655f47c2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-tags-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:20.873471Z","updated_at":"2026-10-06T15:37:20.878835Z","protected":false,"locked":false,"description":null,"tags":["env:test","team:test"],"rotated_at":"2026-10-06T15:37:20.878835Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.575962ms
[...]
