---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"5180620d-12d4-4ff6-8d8e-fae5a52e6219","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:19.233790Z","updated_at":"2026-07-03T15:28:19.237469Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:19.237469Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.743943ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/5180620d-12d4-4ff6-8d8e-fae5a52e6219
        method: GET
      response:
        body: '{"id":"5180620d-12d4-4ff6-8d8e-fae5a52e6219","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:19.233790Z","updated_at":"2026-07-03T15:28:19.237469Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:19.237469Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.550823ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-2","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"a6bcfe1d-58dc-4ff7-8cd8-641dd5374f13","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-2","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:20.545511Z","updated_at":"2026-07-03T15:28:21.411434Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:21.411434Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 949.366811ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - asymmetric_encryption
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=asymmetric_encryption
        method: GET
      response:
        body: '{"keys":[{"id":"a6bcfe1d-58dc-4ff7-8cd8-641dd5374f13","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-usage-2","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-07-03T15:28:20.545511Z","updated_at":"2026-07-03T15:28:21.411434Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-07-03T15:28:21.411434Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.083225ms
[...]
