---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"","id":"995adcc4-a849-4e48-afec-9dc021bfb17d","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-09-24T10:49:31.016045Z","updated_at":"2026-09-24T10:49:31.019576Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-09-24T10:49:31.019576Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 500.302833ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 12.368209ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/995adcc4-a849-4e48-afec-9dc021bfb17d
        method: GET
      response:
        body: '{"srn":"","id":"995adcc4-a849-4e48-afec-9dc021bfb17d","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-09-24T10:49:31.016045Z","updated_at":"2026-09-24T10:49:31.019576Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-09-24T10:49:31.019576Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.8955ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 951df375-e094-4d26-97c1-ba548eeb9c42
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"","id":"995adcc4-a849-4e48-afec-9dc021bfb17d","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-09-24T10:49:31.016045Z","updated_at":"2026-09-24T10:49:31.019576Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-09-24T10:49:31.019576Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"},{"srn":"","id":"783b52b7-1cd2-44aa-948a-268905d68c1b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-test-km-by-scheduled-2","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-09-24T10:49:31.907713Z","updated_at":"2026-09-24T10:49:31.910754Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-09-24T10:49:31.910754Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.821833ms
[...]
