---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-keymanager-key-list-protection-level","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/dfb92b03-9887-44d4-9442-47e12f158279","id":"dfb92b03-9887-44d4-9442-47e12f158279","name":"tf-tests-keymanager-key-list-protection-level","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-06T15:37:20.182522Z","updated_at":"2026-10-06T15:37:20.182522Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 676.784179ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.09837ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/dfb92b03-9887-44d4-9442-47e12f158279
        method: GET
      response:
        body: '{"srn":"srn://account.scw.eu/projects/dfb92b03-9887-44d4-9442-47e12f158279","id":"dfb92b03-9887-44d4-9442-47e12f158279","name":"tf-tests-keymanager-key-list-protection-level","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-06T15:37:20.182522Z","updated_at":"2026-10-06T15:37:20.182522Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"},"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 267.145449ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"dfb92b03-9887-44d4-9442-47e12f158279","name":"tf-test-km-by-protection-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"software"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/3c0c4734-0613-4650-95a8-9e2549d6c3fe","id":"3c0c4734-0613-4650-95a8-9e2549d6c3fe","project_id":"dfb92b03-9887-44d4-9442-47e12f158279","name":"tf-test-km-by-protection-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:21.055296Z","updated_at":"2026-10-06T15:37:21.059190Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:21.059190Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.163492ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/3c0c4734-0613-4650-95a8-9e2549d6c3fe
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/3c0c4734-0613-4650-95a8-9e2549d6c3fe","id":"3c0c4734-0613-4650-95a8-9e2549d6c3fe","project_id":"dfb92b03-9887-44d4-9442-47e12f158279","name":"tf-test-km-by-protection-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:21.055296Z","updated_at":"2026-10-06T15:37:21.059190Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:21.059190Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 103.792702ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - dfb92b03-9887-44d4-9442-47e12f158279
            protection_level:
                - software
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=dfb92b03-9887-44d4-9442-47e12f158279&protection_level=software&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/3c0c4734-0613-4650-95a8-9e2549d6c3fe","id":"3c0c4734-0613-4650-95a8-9e2549d6c3fe","project_id":"dfb92b03-9887-44d4-9442-47e12f158279","name":"tf-test-km-by-protection-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:21.055296Z","updated_at":"2026-10-06T15:37:21.059190Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:21.059190Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"},{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/f3548c6d-e4c0-4514-92f3-109512cba952","id":"f3548c6d-e4c0-4514-92f3-109512cba952","project_id":"dfb92b03-9887-44d4-9442-47e12f158279","name":"tf-test-km-by-protection-2","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:23.065964Z","updated_at":"2026-10-06T15:37:23.069027Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:23.069027Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 93.460967ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/dfb92b03-9887-44d4-9442-47e12f158279
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"dfb92b03-9887-44d4-9442-47e12f158279","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 30.467026ms
