---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-keymanager-key-list-protection-level","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/f7ad4e29-0de6-44c0-b35d-798012bae8af", "id":"f7ad4e29-0de6-44c0-b35d-798012bae8af", "name":"tf-tests-keymanager-key-list-protection-level", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:45:22.970784Z", "updated_at":"2026-10-07T13:45:22.970784Z", "description":"", "qualification":null, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 662.761083ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.139696ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/f7ad4e29-0de6-44c0-b35d-798012bae8af
        method: GET
      response:
        body: '{"srn":"srn://account.scw.eu/projects/f7ad4e29-0de6-44c0-b35d-798012bae8af","id":"f7ad4e29-0de6-44c0-b35d-798012bae8af","name":"tf-tests-keymanager-key-list-protection-level","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:45:22.970784Z","updated_at":"2026-10-07T13:45:22.970784Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"},"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 261.078506ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"f7ad4e29-0de6-44c0-b35d-798012bae8af","name":"tf-test-km-by-protection-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"software"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e22e6bc4-a99f-4dcc-871b-37cee4eea096","id":"e22e6bc4-a99f-4dcc-871b-37cee4eea096","project_id":"f7ad4e29-0de6-44c0-b35d-798012bae8af","name":"tf-test-km-by-protection-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.187605Z","updated_at":"2026-10-07T13:45:24.193019Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:24.193019Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 567.985142ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/e22e6bc4-a99f-4dcc-871b-37cee4eea096
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e22e6bc4-a99f-4dcc-871b-37cee4eea096","id":"e22e6bc4-a99f-4dcc-871b-37cee4eea096","project_id":"f7ad4e29-0de6-44c0-b35d-798012bae8af","name":"tf-test-km-by-protection-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.187605Z","updated_at":"2026-10-07T13:45:24.193019Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:24.193019Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 97.924631ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - f7ad4e29-0de6-44c0-b35d-798012bae8af
            protection_level:
                - software
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=f7ad4e29-0de6-44c0-b35d-798012bae8af&protection_level=software&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e22e6bc4-a99f-4dcc-871b-37cee4eea096", "id":"e22e6bc4-a99f-4dcc-871b-37cee4eea096", "project_id":"f7ad4e29-0de6-44c0-b35d-798012bae8af", "name":"tf-test-km-by-protection-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:24.187605Z", "updated_at":"2026-10-07T13:45:24.193019Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:24.193019Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}, {"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/73a45e69-70f9-431b-bfd9-0c3bd4cd50a8", "id":"73a45e69-70f9-431b-bfd9-0c3bd4cd50a8", "project_id":"f7ad4e29-0de6-44c0-b35d-798012bae8af", "name":"tf-test-km-by-protection-2", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:26.671973Z", "updated_at":"2026-10-07T13:45:26.675304Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:26.675304Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 103.066776ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/f7ad4e29-0de6-44c0-b35d-798012bae8af
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"f7ad4e29-0de6-44c0-b35d-798012bae8af","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 32.238356ms
