---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-keymanager-key-list-regions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/863db458-4e51-4461-a601-ba7b290f0c99","id":"863db458-4e51-4461-a601-ba7b290f0c99","name":"tf-tests-keymanager-key-list-regions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:45:22.440511Z","updated_at":"2026-10-07T13:45:22.440511Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 610.984101ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.040239ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/863db458-4e51-4461-a601-ba7b290f0c99
        method: GET
      response:
        body: '{"srn":"srn://account.scw.eu/projects/863db458-4e51-4461-a601-ba7b290f0c99", "id":"863db458-4e51-4461-a601-ba7b290f0c99", "name":"tf-tests-keymanager-key-list-regions", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:45:22.440511Z", "updated_at":"2026-10-07T13:45:22.440511Z", "description":"", "qualification":{"architecture_type":"unknown_architecture_type"}, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 304.641807ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"863db458-4e51-4461-a601-ba7b290f0c99","name":"tf-test-key-by-region","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4e84ed73-900d-41ea-9391-2019285afd6e", "id":"4e84ed73-900d-41ea-9391-2019285afd6e", "project_id":"863db458-4e51-4461-a601-ba7b290f0c99", "name":"tf-test-key-by-region", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:23.793018Z", "updated_at":"2026-10-07T13:45:23.796624Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:23.796624Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 670.099777ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4e84ed73-900d-41ea-9391-2019285afd6e
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4e84ed73-900d-41ea-9391-2019285afd6e", "id":"4e84ed73-900d-41ea-9391-2019285afd6e", "project_id":"863db458-4e51-4461-a601-ba7b290f0c99", "name":"tf-test-key-by-region", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:23.793018Z", "updated_at":"2026-10-07T13:45:23.796624Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:23.796624Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.365047ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 863db458-4e51-4461-a601-ba7b290f0c99
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=863db458-4e51-4461-a601-ba7b290f0c99&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4e84ed73-900d-41ea-9391-2019285afd6e","id":"4e84ed73-900d-41ea-9391-2019285afd6e","project_id":"863db458-4e51-4461-a601-ba7b290f0c99","name":"tf-test-key-by-region","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:23.793018Z","updated_at":"2026-10-07T13:45:23.796624Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:23.796624Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.572274ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4e84ed73-900d-41ea-9391-2019285afd6e
        method: GET
      response:
        body: '{"details":[{"action":"get","resource":"key","service":"","srn":""}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 403 Forbidden
        code: 403
        duration: 65.181306ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/863db458-4e51-4461-a601-ba7b290f0c99
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"863db458-4e51-4461-a601-ba7b290f0c99","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 28.795064ms
