---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-keymanager-key-list-project-ids","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/3cb77423-b326-4436-b9d4-8df665947f8d", "id":"3cb77423-b326-4436-b9d4-8df665947f8d", "name":"tf-tests-keymanager-key-list-project-ids", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:45:29.216657Z", "updated_at":"2026-10-07T13:45:29.216657Z", "description":"", "qualification":null, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 486.444421ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 23.672665ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/3cb77423-b326-4436-b9d4-8df665947f8d
        method: GET
      response:
        body: '{"srn":"srn://account.scw.eu/projects/3cb77423-b326-4436-b9d4-8df665947f8d","id":"3cb77423-b326-4436-b9d4-8df665947f8d","name":"tf-tests-keymanager-key-list-project-ids","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:45:29.216657Z","updated_at":"2026-10-07T13:45:29.216657Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"},"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 240.999207ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"3cb77423-b326-4436-b9d4-8df665947f8d","name":"tf-test-km-by-proj-id-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/f98ce473-0232-4328-9ec6-4a4ec6ba52bf", "id":"f98ce473-0232-4328-9ec6-4a4ec6ba52bf", "project_id":"3cb77423-b326-4436-b9d4-8df665947f8d", "name":"tf-test-km-by-proj-id-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:30.059759Z", "updated_at":"2026-10-07T13:45:30.066083Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:30.066083Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 159.280196ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/f98ce473-0232-4328-9ec6-4a4ec6ba52bf
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/f98ce473-0232-4328-9ec6-4a4ec6ba52bf", "id":"f98ce473-0232-4328-9ec6-4a4ec6ba52bf", "project_id":"3cb77423-b326-4436-b9d4-8df665947f8d", "name":"tf-test-km-by-proj-id-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:30.059759Z", "updated_at":"2026-10-07T13:45:30.066083Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:30.066083Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 81.306395ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 3cb77423-b326-4436-b9d4-8df665947f8d
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=3cb77423-b326-4436-b9d4-8df665947f8d&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/f98ce473-0232-4328-9ec6-4a4ec6ba52bf","id":"f98ce473-0232-4328-9ec6-4a4ec6ba52bf","project_id":"3cb77423-b326-4436-b9d4-8df665947f8d","name":"tf-test-km-by-proj-id-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:30.059759Z","updated_at":"2026-10-07T13:45:30.066083Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:30.066083Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.568317ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/3cb77423-b326-4436-b9d4-8df665947f8d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"3cb77423-b326-4436-b9d4-8df665947f8d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 29.173345ms
