---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-km-by-name-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"id":"d24a46fd-6fff-4252-a602-204289dd23d8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-name-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:08.437363Z", "updated_at":"2026-06-17T08:18:08.440373Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:08.440373Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.695333ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/d24a46fd-6fff-4252-a602-204289dd23d8
        method: GET
      response:
        body: '{"id":"d24a46fd-6fff-4252-a602-204289dd23d8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-name-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:08.437363Z", "updated_at":"2026-06-17T08:18:08.440373Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:08.440373Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.604875ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - tf-test-km-by-name-1
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?name=tf-test-km-by-name-1&order_by=name_asc&page=1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"id":"d24a46fd-6fff-4252-a602-204289dd23d8", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-km-by-name-1", "usage":{"symmetric_encryption":"aes_256_gcm"}, "state":"enabled", "rotation_count":1, "created_at":"2026-06-17T08:18:08.437363Z", "updated_at":"2026-06-17T08:18:08.440373Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-06-17T08:18:08.440373Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"unknown_protection_level", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.376208ms
[...]
