---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-keymanager-key-list-scheduled-for-deletion","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/514fe13b-1149-4306-a20e-cdd42a48ab76", "id":"514fe13b-1149-4306-a20e-cdd42a48ab76", "name":"tf-tests-keymanager-key-list-scheduled-for-deletion", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:45:23.042051Z", "updated_at":"2026-10-07T13:45:23.042051Z", "description":"", "qualification":null, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 754.168563ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.925063ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/514fe13b-1149-4306-a20e-cdd42a48ab76
        method: GET
      response:
        body: '{"srn":"srn://account.scw.eu/projects/514fe13b-1149-4306-a20e-cdd42a48ab76", "id":"514fe13b-1149-4306-a20e-cdd42a48ab76", "name":"tf-tests-keymanager-key-list-scheduled-for-deletion", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:45:23.042051Z", "updated_at":"2026-10-07T13:45:23.042051Z", "description":"", "qualification":{"architecture_type":"unknown_architecture_type"}, "status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 243.405708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"514fe13b-1149-4306-a20e-cdd42a48ab76","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/00375f60-79db-4297-8129-38b49ac09395","id":"00375f60-79db-4297-8129-38b49ac09395","project_id":"514fe13b-1149-4306-a20e-cdd42a48ab76","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.214316Z","updated_at":"2026-10-07T13:45:24.217141Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:24.217141Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 441.717808ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/00375f60-79db-4297-8129-38b49ac09395
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/00375f60-79db-4297-8129-38b49ac09395","id":"00375f60-79db-4297-8129-38b49ac09395","project_id":"514fe13b-1149-4306-a20e-cdd42a48ab76","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.214316Z","updated_at":"2026-10-07T13:45:24.217141Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:24.217141Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.713742ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            project_id:
                - 514fe13b-1149-4306-a20e-cdd42a48ab76
            protection_level:
                - unknown_protection_level
            scheduled_for_deletion:
                - "false"
            usage:
                - unknown_usage
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys?order_by=name_asc&page=1&project_id=514fe13b-1149-4306-a20e-cdd42a48ab76&protection_level=unknown_protection_level&scheduled_for_deletion=false&usage=unknown_usage
        method: GET
      response:
        body: '{"keys":[{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/00375f60-79db-4297-8129-38b49ac09395","id":"00375f60-79db-4297-8129-38b49ac09395","project_id":"514fe13b-1149-4306-a20e-cdd42a48ab76","name":"tf-test-km-by-scheduled-1","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.214316Z","updated_at":"2026-10-07T13:45:24.217141Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:24.217141Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"},{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/e6370c34-7eeb-4c8a-b8d6-50f9a15ba6b0","id":"e6370c34-7eeb-4c8a-b8d6-50f9a15ba6b0","project_id":"514fe13b-1149-4306-a20e-cdd42a48ab76","name":"tf-test-km-by-scheduled-2","usage":{"symmetric_encryption":"aes_256_gcm"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:26.782447Z","updated_at":"2026-10-07T13:45:26.786064Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:26.786064Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 94.280782ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/00375f60-79db-4297-8129-38b49ac09395
        method: GET
      response:
        body: '{"details":[{"action":"get","resource":"key","service":"","srn":""}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 403 Forbidden
        code: 403
        duration: 40.484285ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/514fe13b-1149-4306-a20e-cdd42a48ab76
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"514fe13b-1149-4306-a20e-cdd42a48ab76","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 24.427604ms
