---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-sign-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"", "id":"07c9b4dd-494c-46a3-a818-60235293077d", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-sign-secret", "status":"ready", "created_at":"2026-10-07T13:45:23.910632Z", "updated_at":"2026-10-07T13:45:23.910632Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 142.64632ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.986919ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/07c9b4dd-494c-46a3-a818-60235293077d
        method: GET
      response:
        body: '{"srn":"", "id":"07c9b4dd-494c-46a3-a818-60235293077d", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"test-sign-secret", "status":"ready", "created_at":"2026-10-07T13:45:23.910632Z", "updated_at":"2026-10-07T13:45:23.910632Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.764408ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/07c9b4dd-494c-46a3-a818-60235293077d/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.832651ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-sign-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4e529099-81e8-4681-aacd-5d02231ab6a4", "id":"4e529099-81e8-4681-aacd-5d02231ab6a4", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-test-sign-key", "usage":{"asymmetric_signing":"rsa_pss_2048_sha256"}, "state":"enabled", "rotation_count":1, "created_at":"2026-10-07T13:45:24.273960Z", "updated_at":"2026-10-07T13:45:24.423124Z", "protected":false, "locked":false, "description":null, "tags":[], "rotated_at":"2026-10-07T13:45:24.423124Z", "rotation_policy":null, "origin":"scaleway_kms", "deletion_requested_at":null, "protection_level":"software", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 678.047827ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4e529099-81e8-4681-aacd-5d02231ab6a4
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/4e529099-81e8-4681-aacd-5d02231ab6a4","id":"4e529099-81e8-4681-aacd-5d02231ab6a4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-sign-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-07T13:45:24.273960Z","updated_at":"2026-10-07T13:45:24.423124Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-07T13:45:24.423124Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.020364ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/4e529099-81e8-4681-aacd-5d02231ab6a4/sign
        method: POST
      response:
        body: '{"key_id":"4e529099-81e8-4681-aacd-5d02231ab6a4","signature":"Pe6Z85l7WUsgp67aQtEuXs6WpS4RGWKyp9rUWjWE0OzrwlX0En+WpT0Vbkn16Hd/5PDBpoBR+wFayjDen8EVMYOCl9XFUEkHpvlbUhhUQu60zy8qUUciKPiKUWWvn7BMci91Q7tpqSHjO5xvwqPr6PzQZUHyUmMXGHfBbPnIv2VwBuZYouftyQzFkxhIB8cgRwjNa6WliB9U16gwpkM1m4/S9okiU/NXcSefa5OrOYWgHlYey3WPSbdd622OLQL/jq0UgMMj3WE14AfwnZNQSPSfp0l11F/dlK6iX4IL8+mFXFRZuLnVWgw/G277zi3bvFexXUrFCET8mI5+OyTOcA=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 122.713984ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"UGU2Wjg1bDdXVXNncDY3YVF0RXVYczZXcFM0UkdXS3lwOXJVV2pXRTBPenJ3bFgwRW4rV3BUMFZia24xNkhkLzVQREJwb0JSK3dGYXlqRGVuOEVWTVlPQ2w5WEZVRWtIcHZsYlVoaFVRdTYwenk4cVVVY2lLUGlLVVdXdm43Qk1jaTkxUTd0cHFTSGpPNXh2d3FQcjZQelFaVUh5VW1NWEdIZkJiUG5JdjJWd0J1WllvdWZ0eVF6Rmt4aElCOGNnUndqTmE2V2xpQjlVMTZnd3BrTTFtNC9TOW9raVUvTlhjU2VmYTVPck9ZV2dIbFlleTNXUFNiZGQ2MjJPTFFML2pxMFVnTU1qM1dFMTRBZnduWk5RU1BTZnAwbDExRi9kbEs2aVg0SUw4K21GWEZSWnVMblZXZ3cvRzI3N3ppM2J2RmV4WFVyRkNFVDhtSTUrT3lUT2NBPT0=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/07c9b4dd-494c-46a3-a818-60235293077d/versions
        method: POST
      response:
        body: '{"srn":"", "revision":1, "secret_id":"07c9b4dd-494c-46a3-a818-60235293077d", "status":"enabled", "created_at":"2026-10-07T13:45:24.930462Z", "updated_at":"2026-10-07T13:45:24.930462Z", "deleted_at":null, "description":"version1", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 301.001155ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/07c9b4dd-494c-46a3-a818-60235293077d/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"07c9b4dd-494c-46a3-a818-60235293077d","status":"enabled","created_at":"2026-10-07T13:45:24.930462Z","updated_at":"2026-10-07T13:45:24.930462Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.01533ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/07c9b4dd-494c-46a3-a818-60235293077d/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"07c9b4dd-494c-46a3-a818-60235293077d", "revision":1, "data":"UGU2Wjg1bDdXVXNncDY3YVF0RXVYczZXcFM0UkdXS3lwOXJVV2pXRTBPenJ3bFgwRW4rV3BUMFZia24xNkhkLzVQREJwb0JSK3dGYXlqRGVuOEVWTVlPQ2w5WEZVRWtIcHZsYlVoaFVRdTYwenk4cVVVY2lLUGlLVVdXdm43Qk1jaTkxUTd0cHFTSGpPNXh2d3FQcjZQelFaVUh5VW1NWEdIZkJiUG5JdjJWd0J1WllvdWZ0eVF6Rmt4aElCOGNnUndqTmE2V2xpQjlVMTZnd3BrTTFtNC9TOW9raVUvTlhjU2VmYTVPck9ZV2dIbFlleTNXUFNiZGQ2MjJPTFFML2pxMFVnTU1qM1dFMTRBZnduWk5RU1BTZnAwbDExRi9kbEs2aVg0SUw4K21GWEZSWnVMblZXZ3cvRzI3N3ppM2J2RmV4WFVyRkNFVDhtSTUrT3lUT2NBPT0=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 172.722922ms
[...]
