---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-sign-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/7d0fab01-729f-46dc-bf5a-fc05d486b01f","id":"7d0fab01-729f-46dc-bf5a-fc05d486b01f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-sign-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.030384Z","updated_at":"2026-10-06T15:37:14.076461Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:14.076461Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 301.125255ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.031318ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/7d0fab01-729f-46dc-bf5a-fc05d486b01f
        method: GET
      response:
        body: '{"srn":"srn://key-manager.scw.eu/regions/fr-par/keys/7d0fab01-729f-46dc-bf5a-fc05d486b01f","id":"7d0fab01-729f-46dc-bf5a-fc05d486b01f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-sign-key","usage":{"asymmetric_signing":"rsa_pss_2048_sha256"},"state":"enabled","rotation_count":1,"created_at":"2026-10-06T15:37:14.030384Z","updated_at":"2026-10-06T15:37:14.076461Z","protected":false,"locked":false,"description":null,"tags":[],"rotated_at":"2026-10-06T15:37:14.076461Z","rotation_policy":null,"origin":"scaleway_kms","deletion_requested_at":null,"protection_level":"software","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 136.959293ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-sign-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"8094f123-7ef8-45bd-ba34-cd8a3701e386","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-sign-secret","status":"ready","created_at":"2026-10-06T15:37:14.264857Z","updated_at":"2026-10-06T15:37:14.264857Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 489.37294ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8094f123-7ef8-45bd-ba34-cd8a3701e386
        method: GET
      response:
        body: '{"srn":"","id":"8094f123-7ef8-45bd-ba34-cd8a3701e386","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-sign-secret","status":"ready","created_at":"2026-10-06T15:37:14.264857Z","updated_at":"2026-10-06T15:37:14.264857Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.320121ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8094f123-7ef8-45bd-ba34-cd8a3701e386/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "32"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 98.673514ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"digest":"+wxGDJPL0C0K00FBHoXsjM0xaYYPTtIHSfdfjlvQEMs="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/7d0fab01-729f-46dc-bf5a-fc05d486b01f/sign
        method: POST
      response:
        body: '{"key_id":"7d0fab01-729f-46dc-bf5a-fc05d486b01f","signature":"ney/zzuTy9sLbDa8sQ6Mt6HwOFOwTgloc8eM9VB6o/lDqwa6VXoYBJ61hj85fPAKLwme6UiKlAOoLFv3AM1Mw5hgyKYIG43yjAA0HE6PUq9DRHHhBAnx/vbrGE0OXg/WH6W0tFgvBdKA2hv0nE+JPxuJkHymdrsBygy1Vrq9wOkBRrSdYQxJCNBVmPZmKe8St+IX7K27xEbUGrd4jE026pcFVAJG0A32V7lTmNtqdufK56fo7aXYX2XFgc9ao4YtjlBcfS+eKJDAxYBT+s29LuAZhPkfISqDpnRDdlHMjz1Bk4hzfjq9oLIf3c//a/LXdp5RFRfFhNaM1he35HpSCw=="}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 239.406493ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"bmV5L3p6dVR5OXNMYkRhOHNRNk10Nkh3T0ZPd1RnbG9jOGVNOVZCNm8vbERxd2E2VlhvWUJKNjFoajg1ZlBBS0x3bWU2VWlLbEFPb0xGdjNBTTFNdzVoZ3lLWUlHNDN5akFBMEhFNlBVcTlEUkhIaEJBbngvdmJyR0UwT1hnL1dINlcwdEZndkJkS0EyaHYwbkUrSlB4dUprSHltZHJzQnlneTFWcnE5d09rQlJyU2RZUXhKQ05CVm1QWm1LZThTdCtJWDdLMjd4RWJVR3JkNGpFMDI2cGNGVkFKRzBBMzJWN2xUbU50cWR1Zks1NmZvN2FYWVgyWEZnYzlhbzRZdGpsQmNmUytlS0pEQXhZQlQrczI5THVBWmhQa2ZJU3FEcG5SRGRsSE1qejFCazRoemZqcTlvTElmM2MvL2EvTFhkcDVSRlJmRmhOYU0xaGUzNUhwU0N3PT0=","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8094f123-7ef8-45bd-ba34-cd8a3701e386/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"8094f123-7ef8-45bd-ba34-cd8a3701e386","status":"enabled","created_at":"2026-10-06T15:37:15.203653Z","updated_at":"2026-10-06T15:37:15.203653Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 729.207238ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8094f123-7ef8-45bd-ba34-cd8a3701e386/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"8094f123-7ef8-45bd-ba34-cd8a3701e386","status":"enabled","created_at":"2026-10-06T15:37:15.203653Z","updated_at":"2026-10-06T15:37:15.203653Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.920521ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/8094f123-7ef8-45bd-ba34-cd8a3701e386/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"8094f123-7ef8-45bd-ba34-cd8a3701e386","revision":1,"data":"bmV5L3p6dVR5OXNMYkRhOHNRNk10Nkh3T0ZPd1RnbG9jOGVNOVZCNm8vbERxd2E2VlhvWUJKNjFoajg1ZlBBS0x3bWU2VWlLbEFPb0xGdjNBTTFNdzVoZ3lLWUlHNDN5akFBMEhFNlBVcTlEUkhIaEJBbngvdmJyR0UwT1hnL1dINlcwdEZndkJkS0EyaHYwbkUrSlB4dUprSHltZHJzQnlneTFWcnE5d09rQlJyU2RZUXhKQ05CVm1QWm1LZThTdCtJWDdLMjd4RWJVR3JkNGpFMDI2cGNGVkFKRzBBMzJWN2xUbU50cWR1Zks1NmZvN2FYWVgyWEZnYzlhbzRZdGpsQmNmUytlS0pEQXhZQlQrczI5THVBWmhQa2ZJU3FEcG5SRGRsSE1qejFCazRoemZqcTlvTElmM2MvL2EvTFhkcDVSRlJmRmhOYU0xaGUzNUhwU0N3PT0=","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.660043ms
[...]
