---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-namespace-2","description":"Test namespace for Docker image","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:09:08.030212671Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"5ac57b0d-e658-4cff-935c-a4f99176d116","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2025-09-05T15:09:08.030212671Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 666.582959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/5ac57b0d-e658-4cff-935c-a4f99176d116
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:09:08.030213Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"5ac57b0d-e658-4cff-935c-a4f99176d116","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2025-09-05T15:09:08.030213Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.66825ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-namespace-2&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2025-09-05T15:09:08.030213Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"5ac57b0d-e658-4cff-935c-a4f99176d116","image_count":1,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":4131347,"status":"ready","status_message":"","updated_at":"2025-09-05T15:09:23.022873Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.110667ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=alpine&order_by=created_at_asc
        method: GET
      response:
        body: '{"images":[{"created_at":"2025-09-05T15:09:21.831814Z","id":"b8409493-d83f-4cd1-98a7-9983a4db2291","name":"alpine","namespace_id":"5ac57b0d-e658-4cff-935c-a4f99176d116","size":4131347,"status":"ready","status_message":"","tags":["test"],"updated_at":"2025-09-05T15:09:23.016584Z","visibility":"inherit"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.777292ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/b8409493-d83f-4cd1-98a7-9983a4db2291/tags?order_by=created_at_asc
        method: GET
      response:
        body: '{"tags":[{"created_at":"2025-09-05T15:09:21.847469Z","digest":"sha256:a19367999603840546b8612572e338ec076c6d1f2fec61760a9e11410f546733","id":"60b86b56-11d1-448a-8912-fba8d3a96195","image_id":"b8409493-d83f-4cd1-98a7-9983a4db2291","name":"test","status":"ready","updated_at":"2025-09-05T15:09:23.028907Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.519959ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/60b86b56-11d1-448a-8912-fba8d3a96195
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:09:21.847469Z","digest":"sha256:a19367999603840546b8612572e338ec076c6d1f2fec61760a9e11410f546733","id":"60b86b56-11d1-448a-8912-fba8d3a96195","image_id":"b8409493-d83f-4cd1-98a7-9983a4db2291","name":"test","status":"ready","updated_at":"2025-09-05T15:09:23.028907Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.262792ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/b8409493-d83f-4cd1-98a7-9983a4db2291
        method: DELETE
      response:
        body: '{"created_at":"2025-09-05T15:09:21.831814Z","id":"b8409493-d83f-4cd1-98a7-9983a4db2291","name":"alpine","namespace_id":"5ac57b0d-e658-4cff-935c-a4f99176d116","size":4131347,"status":"deleting","status_message":"","tags":["test"],"updated_at":"2025-09-05T15:09:26.197117229Z","visibility":"inherit"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.065542ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/5ac57b0d-e658-4cff-935c-a4f99176d116
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.688167ms
[...]
