---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-namespace-2\",\"description\":\"Test namespace for Docker image\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"7bcb86c7-0e14-42d7-a38e-b4dd31ca5882\",\"name\":\"test-namespace-2\",\"description\":\"Test namespace for Docker image\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.fr-par.scw.cloud/test-namespace-2\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-08-26T16:31:13.449832678Z\",\"updated_at\":\"2025-08-26T16:31:13.449832678Z\",\"image_count\":0,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 628.624687ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/7bcb86c7-0e14-42d7-a38e-b4dd31ca5882
    method: GET
  response:
    body: "{\"id\":\"7bcb86c7-0e14-42d7-a38e-b4dd31ca5882\",\"name\":\"test-namespace-2\",\"description\":\"Test namespace for Docker image\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.fr-par.scw.cloud/test-namespace-2\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-08-26T16:31:13.449833Z\",\"updated_at\":\"2025-08-26T16:31:13.449833Z\",\"image_count\":0,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.838758ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - test-namespace-2
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-namespace-2&order_by=created_at_asc
    method: GET
  response:
    body: "{\"namespaces\":[{\"id\":\"7bcb86c7-0e14-42d7-a38e-b4dd31ca5882\",\"name\":\"test-namespace-2\",\"description\":\"Test namespace for Docker image\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.fr-par.scw.cloud/test-namespace-2\",\"is_public\":false,\"size\":3800270,\"created_at\":\"2025-08-26T16:31:13.449833Z\",\"updated_at\":\"2025-08-26T16:31:23.106333Z\",\"image_count\":1,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.209511ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      name:
      - alpine
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=alpine&order_by=created_at_asc
    method: GET
  response:
    body: "{\"images\":[{\"id\":\"a8d27f55-8745-4449-a233-2ef50c2d19a5\",\"name\":\"alpine\",\"namespace_id\":\"7bcb86c7-0e14-42d7-a38e-b4dd31ca5882\",\"status\":\"ready\",\"status_message\":\"\",\"visibility\":\"inherit\",\"size\":3800270,\"created_at\":\"2025-08-26T16:31:22.328733Z\",\"updated_at\":\"2025-08-26T16:31:23.101186Z\",\"tags\":[\"test\"]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.22044ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/a8d27f55-8745-4449-a233-2ef50c2d19a5/tags?order_by=created_at_asc
    method: GET
  response:
    body: "{\"tags\":[{\"id\":\"276d2207-14d0-4dbf-a00e-b4328d5793d7\",\"name\":\"test\",\"image_id\":\"a8d27f55-8745-4449-a233-2ef50c2d19a5\",\"status\":\"ready\",\"digest\":\"sha256:7b9b6a044d921dfcaea2a843ff19d725948590352198f93cb878fd2c19d7ba3c\",\"created_at\":\"2025-08-26T16:31:22.343406Z\",\"updated_at\":\"2025-08-26T16:31:23.113274Z\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.964212ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/276d2207-14d0-4dbf-a00e-b4328d5793d7
    method: GET
  response:
    body: "{\"id\":\"276d2207-14d0-4dbf-a00e-b4328d5793d7\",\"name\":\"test\",\"image_id\":\"a8d27f55-8745-4449-a233-2ef50c2d19a5\",\"status\":\"ready\",\"digest\":\"sha256:7b9b6a044d921dfcaea2a843ff19d725948590352198f93cb878fd2c19d7ba3c\",\"created_at\":\"2025-08-26T16:31:22.343406Z\",\"updated_at\":\"2025-08-26T16:31:23.113274Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.037882ms
[...]
- id: 35
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/images/a8d27f55-8745-4449-a233-2ef50c2d19a5
    method: DELETE
  response:
    body: "{\"id\":\"a8d27f55-8745-4449-a233-2ef50c2d19a5\",\"name\":\"alpine\",\"namespace_id\":\"7bcb86c7-0e14-42d7-a38e-b4dd31ca5882\",\"status\":\"deleting\",\"status_message\":\"\",\"visibility\":\"inherit\",\"size\":3800270,\"created_at\":\"2025-08-26T16:31:22.328733Z\",\"updated_at\":\"2025-08-26T16:31:39.227709525Z\",\"tags\":[\"test\"]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 362.863008ms
[...]
- id: 48
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/7bcb86c7-0e14-42d7-a38e-b4dd31ca5882
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.116801ms
[...]
