---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-namespace-2","description":"Test namespace for Docker image","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-17T09:50:00.553562212Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"42a09a31-9f99-43aa-931b-6257a16afb1d","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:00.553562212Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.168625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/42a09a31-9f99-43aa-931b-6257a16afb1d
        method: GET
      response:
        body: '{"created_at":"2026-07-17T09:50:00.553562Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"42a09a31-9f99-43aa-931b-6257a16afb1d","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:00.553562Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.039404429s
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=alpine&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"images":[{"created_at":"2026-07-17T09:50:07.430796Z","id":"97acc09a-89cb-4c45-8b75-207be248b202","name":"alpine","namespace_id":"42a09a31-9f99-43aa-931b-6257a16afb1d","size":3847002,"status":"ready","status_message":"","tags":["test"],"updated_at":"2026-07-17T09:50:08.319162Z","visibility":"inherit"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.773825ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-namespace-2&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2026-07-17T09:50:00.553562Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"42a09a31-9f99-43aa-931b-6257a16afb1d","image_count":1,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":3847002,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:08.335288Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.659343ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/97acc09a-89cb-4c45-8b75-207be248b202/tags?order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"tags":[{"created_at":"2026-07-17T09:50:07.445813Z","digest":"sha256:96e9340afe8cd4ab5ee2989f5a544c3405ff2fc2450dd1a6f9eee2a63e6cda56","id":"325e15bf-bd80-4c38-8c78-d169a20e031c","image_id":"97acc09a-89cb-4c45-8b75-207be248b202","name":"test","status":"ready","updated_at":"2026-07-17T09:50:08.351151Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.018503ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/325e15bf-bd80-4c38-8c78-d169a20e031c
        method: GET
      response:
        body: '{"created_at":"2026-07-17T09:50:07.445813Z","digest":"sha256:96e9340afe8cd4ab5ee2989f5a544c3405ff2fc2450dd1a6f9eee2a63e6cda56","id":"325e15bf-bd80-4c38-8c78-d169a20e031c","image_id":"97acc09a-89cb-4c45-8b75-207be248b202","name":"test","status":"ready","updated_at":"2026-07-17T09:50:08.351151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.424592ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/97acc09a-89cb-4c45-8b75-207be248b202
        method: DELETE
      response:
        body: '{"created_at":"2026-07-17T09:50:07.430796Z","id":"97acc09a-89cb-4c45-8b75-207be248b202","name":"alpine","namespace_id":"42a09a31-9f99-43aa-931b-6257a16afb1d","size":3847002,"status":"deleting","status_message":"","tags":["test"],"updated_at":"2026-07-17T09:50:11.181781482Z","visibility":"inherit"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.266934ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/42a09a31-9f99-43aa-931b-6257a16afb1d
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.764423ms
[...]
