---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-data\",\"description\":\"\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
    method: POST
  response:
    body: "{\"id\":\"e8b5d566-c907-4cea-84cc-a9ccd0f3b390\",\"name\":\"test-cr-data\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-data\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-09-23T10:20:42.802289371Z\",\"updated_at\":\"2025-09-23T10:20:42.802289371Z\",\"image_count\":0,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.623847516s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/e8b5d566-c907-4cea-84cc-a9ccd0f3b390
    method: GET
  response:
    body: "{\"id\":\"e8b5d566-c907-4cea-84cc-a9ccd0f3b390\",\"name\":\"test-cr-data\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-data\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-09-23T10:20:42.802289Z\",\"updated_at\":\"2025-09-23T10:20:42.802289Z\",\"image_count\":0,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 298.020269ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - test-cr-data
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc
    method: GET
  response:
    body: "{\"namespaces\":[{\"id\":\"e8b5d566-c907-4cea-84cc-a9ccd0f3b390\",\"name\":\"test-cr-data\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-data\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-09-23T10:20:42.802289Z\",\"updated_at\":\"2025-09-23T10:20:42.802289Z\",\"image_count\":0,\"region\":\"pl-waw\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 300.804367ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/e8b5d566-c907-4cea-84cc-a9ccd0f3b390
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 608.605193ms
[...]
