---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/086381ac-24da-476f-9d76-a21ac193b88d
        method: GET
      response:
        body: '{"created_at":"2024-08-30T10:06:48.994410Z","digest":"sha256:506f330a66a341888e5c3fbcff9f97d2b1f19a31a5c359f766bcc70a4d7bd39a","id":"086381ac-24da-476f-9d76-a21ac193b88d","image_id":"8f572987-ceb3-4cde-9732-d4febbb821c3","name":"latest","status":"ready","updated_at":"2024-08-30T10:06:49.587384Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.978217ms
[...]
