---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-namespace-2","description":"Test namespace for Docker image","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-09-05T09:04:11.399292188Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"837eb73d-1eec-40a2-a30e-9b9dabb946bd","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2024-09-05T09:04:11.399292188Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.12808ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/837eb73d-1eec-40a2-a30e-9b9dabb946bd
        method: GET
      response:
        body: '{"created_at":"2024-09-05T09:04:11.399292Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"837eb73d-1eec-40a2-a30e-9b9dabb946bd","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2024-09-05T09:04:11.399292Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.768471ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-namespace-2&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2024-09-05T09:04:11.399292Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"837eb73d-1eec-40a2-a30e-9b9dabb946bd","image_count":1,"is_public":false,"name":"test-namespace-2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","size":3624363,"status":"ready","status_message":"","updated_at":"2024-09-05T09:04:25.387447Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.556285ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=alpine&order_by=created_at_asc
        method: GET
      response:
        body: '{"images":[{"created_at":"2024-09-05T09:04:24.016820Z","id":"3bb51371-ef69-4110-a697-3e7dbe6ca2c6","name":"alpine","namespace_id":"837eb73d-1eec-40a2-a30e-9b9dabb946bd","size":3624363,"status":"ready","status_message":"","tags":["test"],"updated_at":"2024-09-05T09:04:25.381480Z","visibility":"inherit"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.307883ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/3bb51371-ef69-4110-a697-3e7dbe6ca2c6/tags?order_by=created_at_asc
        method: GET
      response:
        body: '{"tags":[{"created_at":"2024-09-05T09:04:24.036172Z","digest":"sha256:eddacbc7e24bf8799a4ed3cdcfa50d4b88a323695ad80f317b6629883b2c2a78","id":"a651d9e0-2498-4343-9eda-5ed6e48e547c","image_id":"3bb51371-ef69-4110-a697-3e7dbe6ca2c6","name":"test","status":"ready","updated_at":"2024-09-05T09:04:25.395342Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.404252ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/a651d9e0-2498-4343-9eda-5ed6e48e547c
        method: GET
      response:
        body: '{"created_at":"2024-09-05T09:04:24.036172Z","digest":"sha256:eddacbc7e24bf8799a4ed3cdcfa50d4b88a323695ad80f317b6629883b2c2a78","id":"a651d9e0-2498-4343-9eda-5ed6e48e547c","image_id":"3bb51371-ef69-4110-a697-3e7dbe6ca2c6","name":"test","status":"ready","updated_at":"2024-09-05T09:04:25.395342Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.031129ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/3bb51371-ef69-4110-a697-3e7dbe6ca2c6
        method: DELETE
      response:
        body: '{"created_at":"2024-09-05T09:04:24.016820Z","id":"3bb51371-ef69-4110-a697-3e7dbe6ca2c6","name":"alpine","namespace_id":"837eb73d-1eec-40a2-a30e-9b9dabb946bd","size":3624363,"status":"deleting","status_message":"","tags":["test"],"updated_at":"2024-09-05T09:04:28.640270427Z","visibility":"inherit"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.937525ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/837eb73d-1eec-40a2-a30e-9b9dabb946bd
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.456103ms
[...]
