---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-data\",\"description\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
    method: POST
  response:
    body: "{\"id\":\"ebfa03b5-00be-4d53-b5a8-159ea391b8e9\",\"name\":\"test-cr-data\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-data\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-08-26T16:31:13.485147258Z\",\"updated_at\":\"2025-08-26T16:31:13.485147258Z\",\"image_count\":0,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 601.531812ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/ebfa03b5-00be-4d53-b5a8-159ea391b8e9
    method: GET
  response:
    body: "{\"id\":\"ebfa03b5-00be-4d53-b5a8-159ea391b8e9\",\"name\":\"test-cr-data\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-data\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-08-26T16:31:13.485147Z\",\"updated_at\":\"2025-08-26T16:31:13.485147Z\",\"image_count\":0,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.293457ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - test-cr-data
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc
    method: GET
  response:
    body: "{\"namespaces\":[{\"id\":\"ebfa03b5-00be-4d53-b5a8-159ea391b8e9\",\"name\":\"test-cr-data\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-data\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-08-26T16:31:13.485147Z\",\"updated_at\":\"2025-08-26T16:31:13.485147Z\",\"image_count\":0,\"region\":\"pl-waw\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.163061ms
[...]
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/ebfa03b5-00be-4d53-b5a8-159ea391b8e9
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 70.240428ms
[...]
