---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-data","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:56:34.231306545Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"0193af8f-7828-4006-bf0d-89fded135544","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T15:56:34.231306545Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 434.927885ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/0193af8f-7828-4006-bf0d-89fded135544
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:56:34.231307Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"0193af8f-7828-4006-bf0d-89fded135544","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T15:56:34.231307Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.415263ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2025-05-22T15:56:34.231307Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"0193af8f-7828-4006-bf0d-89fded135544","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T15:56:34.231307Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.00191ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/0193af8f-7828-4006-bf0d-89fded135544
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.377908ms
[...]
