---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-data","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:09:50.758553876Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"5742e64f-5b7c-4d58-98c7-7114176de0ef","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-09-05T15:09:50.758553876Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.121723292s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/5742e64f-5b7c-4d58-98c7-7114176de0ef
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:09:50.758554Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"5742e64f-5b7c-4d58-98c7-7114176de0ef","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-09-05T15:09:50.758554Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 806.771291ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2025-09-05T15:09:50.758554Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"5742e64f-5b7c-4d58-98c7-7114176de0ef","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-09-05T15:09:50.758554Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.230708ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/5742e64f-5b7c-4d58-98c7-7114176de0ef
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.166292ms
[...]
