---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-namespace-2","description":"Test namespace for Docker image","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:33:24.349278855Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"3eaff337-d32e-4aef-b176-667dfee5f259","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T14:33:24.349278855Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.555583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/3eaff337-d32e-4aef-b176-667dfee5f259
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:33:24.349279Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"3eaff337-d32e-4aef-b176-667dfee5f259","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T14:33:24.349279Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.862ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-namespace-2&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2025-05-22T14:33:24.349279Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"3eaff337-d32e-4aef-b176-667dfee5f259","image_count":1,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":3993626,"status":"ready","status_message":"","updated_at":"2025-05-22T14:33:30.396893Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.90775ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=alpine&order_by=created_at_asc
        method: GET
      response:
        body: '{"images":[{"created_at":"2025-05-22T14:33:30.007890Z","id":"1792e9ca-9434-49b4-bda4-5a05fdbf64c2","name":"alpine","namespace_id":"3eaff337-d32e-4aef-b176-667dfee5f259","size":3993626,"status":"ready","status_message":"","tags":["test"],"updated_at":"2025-05-22T14:33:30.380525Z","visibility":"inherit"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.666375ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/1792e9ca-9434-49b4-bda4-5a05fdbf64c2/tags?order_by=created_at_asc
        method: GET
      response:
        body: '{"tags":[{"created_at":"2025-05-22T14:33:30.025946Z","digest":"sha256:757d680068d77be46fd1ea20fb21db16f150468c5e7079a08a2e4705aec096ac","id":"9e30a352-4b40-4aef-8cc7-0f6989a01593","image_id":"1792e9ca-9434-49b4-bda4-5a05fdbf64c2","name":"test","status":"ready","updated_at":"2025-05-22T14:33:30.408441Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.427917ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/9e30a352-4b40-4aef-8cc7-0f6989a01593
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:33:30.025946Z","digest":"sha256:757d680068d77be46fd1ea20fb21db16f150468c5e7079a08a2e4705aec096ac","id":"9e30a352-4b40-4aef-8cc7-0f6989a01593","image_id":"1792e9ca-9434-49b4-bda4-5a05fdbf64c2","name":"test","status":"ready","updated_at":"2025-05-22T14:33:30.408441Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.084792ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/1792e9ca-9434-49b4-bda4-5a05fdbf64c2
        method: DELETE
      response:
        body: '{"created_at":"2025-05-22T14:33:30.007890Z","id":"1792e9ca-9434-49b4-bda4-5a05fdbf64c2","name":"alpine","namespace_id":"3eaff337-d32e-4aef-b176-667dfee5f259","size":3993626,"status":"deleting","status_message":"","tags":["test"],"updated_at":"2025-05-22T14:33:33.339525448Z","visibility":"inherit"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.717167ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/3eaff337-d32e-4aef-b176-667dfee5f259
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 99.272167ms
[...]
