---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-data","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-17T09:50:00.636593861Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"dc55a9a7-a43c-4fb8-96ca-325f9d3fa062","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:00.636593861Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 434.737939ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/dc55a9a7-a43c-4fb8-96ca-325f9d3fa062
        method: GET
      response:
        body: '{"created_at":"2026-07-17T09:50:00.636594Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"dc55a9a7-a43c-4fb8-96ca-325f9d3fa062","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:00.636594Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.324978ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2026-07-17T09:50:00.636594Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"dc55a9a7-a43c-4fb8-96ca-325f9d3fa062","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:00.636594Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.364275ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/dc55a9a7-a43c-4fb8-96ca-325f9d3fa062
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.115232ms
[...]
