---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-data","description":"","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:34:37.087917223Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"a0b5eb7f-7442-4710-9d71-5e02aba05b93","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T14:34:37.087917223Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.462542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/a0b5eb7f-7442-4710-9d71-5e02aba05b93
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:34:37.087917Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"a0b5eb7f-7442-4710-9d71-5e02aba05b93","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T14:34:37.087917Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.655792ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2025-05-22T14:34:37.087917Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"a0b5eb7f-7442-4710-9d71-5e02aba05b93","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-22T14:34:37.087917Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.285291ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/a0b5eb7f-7442-4710-9d71-5e02aba05b93
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.676375ms
[...]
