---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-data","description":"","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-12-26T10:26:36.712762117Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"490ae2ed-ad99-4c9b-9cc0-d1766df36378","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:26:36.712762117Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 531.753834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/490ae2ed-ad99-4c9b-9cc0-d1766df36378
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:26:36.712762Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"490ae2ed-ad99-4c9b-9cc0-d1766df36378","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:26:36.712762Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.445041ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2024-12-26T10:26:36.712762Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"490ae2ed-ad99-4c9b-9cc0-d1766df36378","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:26:36.712762Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.97ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/490ae2ed-ad99-4c9b-9cc0-d1766df36378
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.555ms
[...]
