---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"registry-namespace-basic","description":"","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-05-21T22:47:23.171568550Z","description":"","endpoint":"rg.pl-waw.scw.cloud/registry-namespace-basic","id":"03ccd9ae-4ee6-403e-9d76-919e7bb138ec","image_count":0,"is_public":false,"name":"registry-namespace-basic","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-21T22:47:23.171568550Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.893936ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/03ccd9ae-4ee6-403e-9d76-919e7bb138ec
        method: GET
      response:
        body: '{"created_at":"2025-05-21T22:47:23.171569Z","description":"","endpoint":"rg.pl-waw.scw.cloud/registry-namespace-basic","id":"03ccd9ae-4ee6-403e-9d76-919e7bb138ec","image_count":0,"is_public":false,"name":"registry-namespace-basic","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-21T22:47:23.171569Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.786282ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=registry-namespace-basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2025-05-21T22:47:23.171569Z","description":"","endpoint":"rg.pl-waw.scw.cloud/registry-namespace-basic","id":"03ccd9ae-4ee6-403e-9d76-919e7bb138ec","image_count":0,"is_public":false,"name":"registry-namespace-basic","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2025-05-21T22:47:23.171569Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.848577ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/03ccd9ae-4ee6-403e-9d76-919e7bb138ec
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 67.064313ms
[...]
