---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-namespace-2","description":"Test namespace for Docker image","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-12-26T10:21:38.713633376Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"f8287298-af41-4877-921a-1935448adac6","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:21:38.713633376Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.753042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/f8287298-af41-4877-921a-1935448adac6
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:21:38.713633Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"f8287298-af41-4877-921a-1935448adac6","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:21:38.713633Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.020709ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-namespace-2&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2024-12-26T10:21:38.713633Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"f8287298-af41-4877-921a-1935448adac6","image_count":1,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":3993783,"status":"ready","status_message":"","updated_at":"2024-12-26T10:21:42.287165Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.911209ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=alpine&order_by=created_at_asc
        method: GET
      response:
        body: '{"images":[{"created_at":"2024-12-26T10:21:41.846190Z","id":"9b52b0af-db59-4972-b089-ded7f70fbce7","name":"alpine","namespace_id":"f8287298-af41-4877-921a-1935448adac6","size":3993783,"status":"ready","status_message":"","tags":["test"],"updated_at":"2024-12-26T10:21:42.274228Z","visibility":"inherit"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.339083ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/9b52b0af-db59-4972-b089-ded7f70fbce7/tags?order_by=created_at_asc
        method: GET
      response:
        body: '{"tags":[{"created_at":"2024-12-26T10:21:41.867432Z","digest":"sha256:cf7e6d447a6bdf4d1ab120c418c7fd9bdbb9c4e838554fda3ed988592ba02936","id":"dd0166da-e9f5-4b01-9b68-82bed9627c0d","image_id":"9b52b0af-db59-4972-b089-ded7f70fbce7","name":"test","status":"ready","updated_at":"2024-12-26T10:21:42.383896Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.804291ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/dd0166da-e9f5-4b01-9b68-82bed9627c0d
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:21:41.867432Z","digest":"sha256:cf7e6d447a6bdf4d1ab120c418c7fd9bdbb9c4e838554fda3ed988592ba02936","id":"dd0166da-e9f5-4b01-9b68-82bed9627c0d","image_id":"9b52b0af-db59-4972-b089-ded7f70fbce7","name":"test","status":"ready","updated_at":"2024-12-26T10:21:42.383896Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.665666ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/9b52b0af-db59-4972-b089-ded7f70fbce7
        method: DELETE
      response:
        body: '{"created_at":"2024-12-26T10:21:41.846190Z","id":"9b52b0af-db59-4972-b089-ded7f70fbce7","name":"alpine","namespace_id":"f8287298-af41-4877-921a-1935448adac6","size":3993783,"status":"deleting","status_message":"","tags":["test"],"updated_at":"2024-12-26T10:21:45.030816598Z","visibility":"inherit"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.131167ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/f8287298-af41-4877-921a-1935448adac6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.983208ms
[...]
