---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-namespace-2","description":"Test namespace for Docker image","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-12-26T10:09:05.248855001Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"e8946a70-6a43-4f14-a238-76422718cc09","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:09:05.248855001Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.619542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/e8946a70-6a43-4f14-a238-76422718cc09
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:09:05.248855Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"e8946a70-6a43-4f14-a238-76422718cc09","image_count":0,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:09:05.248855Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.925333ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-namespace-2&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2024-12-26T10:09:05.248855Z","description":"Test namespace for Docker image","endpoint":"rg.fr-par.scw.cloud/test-namespace-2","id":"e8946a70-6a43-4f14-a238-76422718cc09","image_count":1,"is_public":false,"name":"test-namespace-2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","size":3993783,"status":"ready","status_message":"","updated_at":"2024-12-26T10:09:09.327859Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.356041ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images?name=alpine&order_by=created_at_asc
        method: GET
      response:
        body: '{"images":[{"created_at":"2024-12-26T10:09:08.858612Z","id":"76edbcc2-bd62-4fe3-b6db-6a5afad0b675","name":"alpine","namespace_id":"e8946a70-6a43-4f14-a238-76422718cc09","size":3993783,"status":"ready","status_message":"","tags":["test"],"updated_at":"2024-12-26T10:09:09.323085Z","visibility":"inherit"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.171792ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/76edbcc2-bd62-4fe3-b6db-6a5afad0b675/tags?order_by=created_at_asc
        method: GET
      response:
        body: '{"tags":[{"created_at":"2024-12-26T10:09:08.872365Z","digest":"sha256:cf7e6d447a6bdf4d1ab120c418c7fd9bdbb9c4e838554fda3ed988592ba02936","id":"ad59e9a2-06c5-428c-81e4-b03b81cf71fe","image_id":"76edbcc2-bd62-4fe3-b6db-6a5afad0b675","name":"test","status":"ready","updated_at":"2024-12-26T10:09:09.332597Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.742458ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/tags/ad59e9a2-06c5-428c-81e4-b03b81cf71fe
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:09:08.872365Z","digest":"sha256:cf7e6d447a6bdf4d1ab120c418c7fd9bdbb9c4e838554fda3ed988592ba02936","id":"ad59e9a2-06c5-428c-81e4-b03b81cf71fe","image_id":"76edbcc2-bd62-4fe3-b6db-6a5afad0b675","name":"test","status":"ready","updated_at":"2024-12-26T10:09:09.332597Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.859375ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/images/76edbcc2-bd62-4fe3-b6db-6a5afad0b675
        method: DELETE
      response:
        body: '{"created_at":"2024-12-26T10:09:08.858612Z","id":"76edbcc2-bd62-4fe3-b6db-6a5afad0b675","name":"alpine","namespace_id":"e8946a70-6a43-4f14-a238-76422718cc09","size":3993783,"status":"deleting","status_message":"","tags":["test"],"updated_at":"2024-12-26T10:09:11.658231416Z","visibility":"inherit"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.246042ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/e8946a70-6a43-4f14-a238-76422718cc09
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.809375ms
[...]
