---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","description":"","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-12-26T10:25:20.463071602Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"d520dbb2-4002-4513-8947-fc39b0c9e849","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:25:20.463071602Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 563.69125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/d520dbb2-4002-4513-8947-fc39b0c9e849
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:25:20.463072Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"d520dbb2-4002-4513-8947-fc39b0c9e849","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2024-12-26T10:25:20.463072Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.218917ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/d520dbb2-4002-4513-8947-fc39b0c9e849
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.481583ms
[...]
