---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2026-07-17T09:50:00.638933292Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"77e91a59-aa35-4d6d-ae0f-ccf15ac80639","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:00.638933292Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 435.183357ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/77e91a59-aa35-4d6d-ae0f-ccf15ac80639
        method: GET
      response:
        body: '{"created_at":"2026-07-17T09:50:00.638933Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"77e91a59-aa35-4d6d-ae0f-ccf15ac80639","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2026-07-17T09:50:00.638933Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.362718ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/77e91a59-aa35-4d6d-ae0f-ccf15ac80639
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.984057ms
[...]
