---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-01\",\"description\":\"\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
    method: POST
  response:
    body: "{\"id\":\"74c39f40-7d1f-4733-89c4-5486d32651bd\",\"name\":\"test-cr-ns-01\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-ns-01\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-08-26T16:31:13.437946456Z\",\"updated_at\":\"2025-08-26T16:31:13.437946456Z\",\"image_count\":0,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 900.846077ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/74c39f40-7d1f-4733-89c4-5486d32651bd
    method: GET
  response:
    body: "{\"id\":\"74c39f40-7d1f-4733-89c4-5486d32651bd\",\"name\":\"test-cr-ns-01\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"status_message\":\"\",\"endpoint\":\"rg.pl-waw.scw.cloud/test-cr-ns-01\",\"is_public\":false,\"size\":0,\"created_at\":\"2025-08-26T16:31:13.437946Z\",\"updated_at\":\"2025-08-26T16:31:13.437946Z\",\"image_count\":0,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.002541ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/74c39f40-7d1f-4733-89c4-5486d32651bd
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 66.37256ms
[...]
