---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-12-31T00:00:00Z","version":"4.2"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.976041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"MESSAGEQ-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"MESSAGEQ-SHARED-2C-8G","stock_status":"low_stock","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"MESSAGEQ-SHARED-4C-16G","stock_status":"low_stock","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.438542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-ds-messageq-ca","tags":null,"node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"4.2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:22:33.741047Z","endpoints":[{"dns_record":"","id":"4a6f8b3d-7146-407e-8bea-fbab43e0fb33","public":{},"services":[{"name":"ui-management","port":15671,"url":"b5719173-6b93-4c32-9c9a-ee3f7bd03b31.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"b5719173-6b93-4c32-9c9a-ee3f7bd03b31.scbl.fr-par.scw.cloud"}]}],"id":"b5719173-6b93-4c32-9c9a-ee3f7bd03b31","name":"tf-test-ds-messageq-ca","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 315.868333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/b5719173-6b93-4c32-9c9a-ee3f7bd03b31
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:22:33.741047Z","endpoints":[{"dns_record":"","id":"4a6f8b3d-7146-407e-8bea-fbab43e0fb33","public":{},"services":[{"name":"ui-management","port":15671,"url":"b5719173-6b93-4c32-9c9a-ee3f7bd03b31.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"b5719173-6b93-4c32-9c9a-ee3f7bd03b31.scbl.fr-par.scw.cloud"}]}],"id":"b5719173-6b93-4c32-9c9a-ee3f7bd03b31","name":"tf-test-ds-messageq-ca","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 49.168875ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/b5719173-6b93-4c32-9c9a-ee3f7bd03b31/certificate-authority
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNDekNDQWIyZ0F3SUJBZ0lRRDk0RStSeHc4dlVza2JyU01FTzVlakFGQmdNclpYQXdkakVMTUFrR0ExVUUKQmhNQ1JsSXhEakFNQmdOVkJBY1RCVkJoY21sek1SMHdHd1lEVlFRS0V4UlRZMkZzWlhkaGVTQlRZMkZzWldKcwpiMk5yY3pFNE1EWUdBMVVFQ3hNdlJHVndiRzk1YldWdWRDQmlOVGN4T1RFM015MDJZamt6TFRSak16SXRPV001CllTMWxaVE5tTjJKa01ETmlNekV3SGhjTk1qWXdPVEV3TURjeU1qTXpXaGNOTXpZd09UQTNNRGN5TWpNeldqQjIKTVFzd0NRWURWUVFHRXdKR1VqRU9NQXdHQTFVRUJ4TUZVR0Z5YVhNeEhUQWJCZ05WQkFvVEZGTmpZV3hsZDJGNQpJRk5qWVd4bFlteHZZMnR6TVRnd05nWURWUVFMRXk5RVpYQnNiM2x0Wlc1MElHSTFOekU1TVRjekxUWmlPVE10Ck5HTXpNaTA1WXpsaExXVmxNMlkzWW1Rd00ySXpNVEFxTUFVR0F5dGxjQU1oQURESms4ZnU1Nm44RGgrQjdvZFEKNUhycjRWR2VBNW1kR1hMRWNlTmhUbTJybzJFd1h6QU9CZ05WSFE4QkFmOEVCQU1DQWdRd0hRWURWUjBsQkJZdwpGQVlJS3dZQkJRVUhBd0lHQ0NzR0FRVUZCd01CTUE4R0ExVWRFd0VCL3dRRk1BTUJBZjh3SFFZRFZSME9CQllFCkZHblhBNGc4QjRRUTJ2bE1aL0oybXpnTTlRcmZNQVVHQXl0bGNBTkJBQ2NJT2Z5R3BuZm9INUo1WWZvb1pmVWsKaU9TMVpEVkd1RHl3YkU1SjJ4S3prT3ZNMCs5OUxJMkhNWXlKc0R0bE5mVlJMRDJ1TVpRQWVaQzJtTHBtZFFzPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==","content_type":"application/x-pem-file","name":"CA-b5719173-6b93-4c32-9c9a-ee3f7bd03b31.pem"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 224.558959ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/b5719173-6b93-4c32-9c9a-ee3f7bd03b31
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"b5719173-6b93-4c32-9c9a-ee3f7bd03b31","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 61.7415ms
[...]
