---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-12-31T00:00:00Z","version":"4.2"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.26725ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"MESSAGEQ-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"MESSAGEQ-SHARED-2C-8G","stock_status":"low_stock","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"MESSAGEQ-SHARED-4C-16G","stock_status":"low_stock","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.171334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-messageq-vpc-update","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:32:23.349314Z","custom_routes_propagation_enabled":true,"id":"93fc5b7b-1da7-40d8-ada5-7b7135b929f4","is_default":false,"name":"tf-test-messageq-vpc-update","object_storage_private_access_enabled":false,"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-10T07:32:23.349314Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 190.601ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.003375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/93fc5b7b-1da7-40d8-ada5-7b7135b929f4
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:32:23.349314Z","custom_routes_propagation_enabled":true,"id":"93fc5b7b-1da7-40d8-ada5-7b7135b929f4","is_default":false,"name":"tf-test-messageq-vpc-update","object_storage_private_access_enabled":false,"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-10T07:32:23.349314Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 91.937875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-messageq-pn1","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"subnets":null,"vpc_id":"93fc5b7b-1da7-40d8-ada5-7b7135b929f4","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:32:23.752481Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"e4efb734-8af0-4b90-99c3-a51e53b8a016","name":"tf-test-messageq-pn1","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnets":[{"created_at":"2026-09-10T07:32:23.752481Z","id":"9985e7ad-37b6-4861-be0b-1dfd78cf4d66","private_network_id":"e4efb734-8af0-4b90-99c3-a51e53b8a016","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnet":"172.16.28.0/22","updated_at":"2026-09-10T07:32:23.752481Z","vpc_id":"93fc5b7b-1da7-40d8-ada5-7b7135b929f4"},{"created_at":"2026-09-10T07:32:23.752481Z","id":"6904ab6c-8ba4-4ebb-b459-e3ea9d7c9bf5","private_network_id":"e4efb734-8af0-4b90-99c3-a51e53b8a016","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnet":"fd5d:9132:befe:968b::/64","updated_at":"2026-09-10T07:32:23.752481Z","vpc_id":"93fc5b7b-1da7-40d8-ada5-7b7135b929f4"}],"tags":[],"updated_at":"2026-09-10T07:32:23.752481Z","vpc_id":"93fc5b7b-1da7-40d8-ada5-7b7135b929f4"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 694.554209ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e4efb734-8af0-4b90-99c3-a51e53b8a016
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:32:23.752481Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"e4efb734-8af0-4b90-99c3-a51e53b8a016","name":"tf-test-messageq-pn1","org[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-messageq-pn-update","tags":null,"node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"private_network":{"private_network_id":"e4efb734-8af0-4b90-99c3-a51e53b8a016"}}],"version":"4.2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:32:25.203453Z","endpoints":[{"dns_record":"","id":"a597ac6f-0398-4628-8308-f11f2740643c","private_network":{"private_network_id":"e4efb734-8af0-4b90-99c3-a51e53b8a016"},"services":[{"name":"api-amqp","port":5671,"url":"7699886f-085f-4a61-95cd-b0b7c823f08c.e4efb734-8af0-4b90-99c3-a51e53b8a016.internal"}]},{"dns_record":"","id":"fb49cad5-7a78-4ccc-ae61-280f5a103297","public":{},"services":[{"name":"ui-management","port":15671,"url":"7699886f-085f-4a61-95cd-b0b7c823f08c.scbl.fr-par.scw.cloud"}]}],"id":"7699886f-085f-4a61-95cd-b0b7c823f08c","name":"tf-test-messageq-pn-update","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 393.544833ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/7699886f-085f-4a61-95cd-b0b7c823f08c
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:32:25.203453Z","endpoints":[{"dns_record":"","id":"a597ac6f-0398-4628-8308-f11f2740643c","private_network":{"private_network_id":"e4efb734-8af0-4b90-99c3-a51e53b8a016"},"services":[{"name":"[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/endpoints/a597ac6f-0398-4628-8308-f11f2740643c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 187.961125ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"7699886f-085f-4a61-95cd-b0b7c823f08c","endpoint_spec":{"private_network":{"private_network_id":"a64c4ae2-b991-440f-9e70-1fc3aeda30d3"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"002a6b3d-b971-4d0c-94ae-832e57d54f88","private_network":{"private_network_id":"a64c4ae2-b991-440f-9e70-1fc3aeda30d3"},"services":[{"name":"api-amqp","port":5671,"url":"7699886f-085f-4a61-95cd-b0b7c823f08c.a64c4ae2-b991-440f-9e70-1fc3aeda30d3.internal"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 209.499084ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/7699886f-085f-4a61-95cd-b0b7c823f08c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"7699886f-085f-4a61-95cd-b0b7c823f08c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 186.576666ms
[...]
