---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-12-31T00:00:00Z","version":"4.2"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 369.055792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"MESSAGEQ-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"MESSAGEQ-SHARED-2C-8G","stock_status":"low_stock","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"MESSAGEQ-SHARED-4C-16G","stock_status":"low_stock","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 262.055625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-messageq-vpc","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-15T12:38:03.950790Z","custom_routes_propagation_enabled":true,"id":"113edfaf-a9b5-4f4c-84df-eb8f8314f0ab","is_default":false,"name":"tf-test-messageq-vpc","object_storage_private_access_enabled":false,"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-15T12:38:03.950790Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 200.909791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.013083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/113edfaf-a9b5-4f4c-84df-eb8f8314f0ab
        method: GET
      response:
        body: '{"created_at":"2026-09-15T12:38:03.950790Z","custom_routes_propagation_enabled":true,"id":"113edfaf-a9b5-4f4c-84df-eb8f8314f0ab","is_default":false,"name":"tf-test-messageq-vpc","object_storage_private_access_enabled":false,"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"srn":"","tags":[],"transitivity_enabled":false,"updated_at":"2026-09-15T12:38:03.950790Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 139.057792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-messageq-pn","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"subnets":null,"vpc_id":"113edfaf-a9b5-4f4c-84df-eb8f8314f0ab","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-15T12:38:04.324087Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"d1d99f60-8737-4955-a51a-bc6df0b09449","name":"tf-test-messageq-pn","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","srn":"","subnets":[{"created_at":"2026-09-15T12:38:04.324087Z","id":"b01ca784-bc5e-46ae-a530-ac6f0bbcd3a9","private_network_id":"d1d99f60-8737-4955-a51a-bc6df0b09449","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","srn":"","subnet":"172.16.24.0/22","updated_at":"2026-09-15T12:38:04.324087Z","vpc_id":"113edfaf-a9b5-4f4c-84df-eb8f8314f0ab"},{"created_at":"2026-09-15T12:38:04.324087Z","id":"2a37b1f2-cdc5-4bbf-bb7f-f0d8eec0a2d2","private_network_id":"d1d99f60-8737-4955-a51a-bc6df0b09449","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","srn":"","subnet":"fd5d:9132:befe:439::/64","updated_at":"2026-09-15T12:38:04.324087Z","vpc_id":"113edfaf-a9b5-4f4c-84df-eb8f8314f0ab"}],"tags":[],"updated_at":"2026-09-15T12:38:04.324087Z","vpc_id":"113edfaf-a9b5-4f4c-84df-eb8f8314f0ab"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 661.854041ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d1d99f60-8737-4955-a51a-bc6df0b09449
        method: GET
      response:
        body: '{"created_at":"2026-09-15T12:38:04.324087Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"d1d99f60-8737-4955-a51a-bc6df0b09449","name":"tf-test-messageq-pn","orga[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-messageq-pn","tags":null,"node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"4.2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-15T12:38:05.164038Z","endpoints":[{"dns_record":"","id":"23468a02-4933-4215-8316-b06c6da54059","public":{},"services":[{"name":"ui-management","port":15671,"url":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd.scbl.fr-par.scw.cloud"}]}],"id":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd","name":"tf-test-messageq-pn","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 400.538875ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/f794139b-7cbb-41cb-bd65-8cc28ba8d8fd
        method: GET
      response:
        body: '{"created_at":"2026-09-15T12:38:05.164038Z","endpoints":[{"dns_record":"","id":"23468a02-4933-4215-8316-b06c6da54059","public":{},"services":[{"name":"ui-management","port":15671,"url":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd.scbl.fr-par.scw.cloud"}]}],"id":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd","name":"tf-test-messageq-pn","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 61.739542ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd","endpoint_spec":{"private_network":{"private_network_id":"d1d99f60-8737-4955-a51a-bc6df0b09449"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"4220e5ed-5ea8-4efe-a778-ee5fc22f2d1e","private_network":{"private_network_id":"d1d99f60-8737-4955-a51a-bc6df0b09449"},"services":[{"name":"api-amqp","port":5671,"url":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd.d1d99f60-8737-4955-a51a-bc6df0b09449.internal"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 230.836416ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/endpoints/4220e5ed-5ea8-4efe-a778-ee5fc22f2d1e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 155.066666ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/f794139b-7cbb-41cb-bd65-8cc28ba8d8fd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"f794139b-7cbb-41cb-bd65-8cc28ba8d8fd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 74.337959ms
[...]
