---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-12-31T00:00:00Z","version":"4.2"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 372.572875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"MESSAGEQ-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"MESSAGEQ-SHARED-2C-8G","stock_status":"low_stock","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"MESSAGEQ-SHARED-4C-16G","stock_status":"low_stock","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 251.602042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-messageq-vpc","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:32:23.389748Z","custom_routes_propagation_enabled":true,"id":"8fb70dd0-9bb1-4d94-ba61-486b3cf5ed2e","is_default":false,"name":"tf-test-messageq-vpc","object_storage_private_access_enabled":false,"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-10T07:32:23.389748Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 181.599375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 19.044ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8fb70dd0-9bb1-4d94-ba61-486b3cf5ed2e
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:32:23.389748Z","custom_routes_propagation_enabled":true,"id":"8fb70dd0-9bb1-4d94-ba61-486b3cf5ed2e","is_default":false,"name":"tf-test-messageq-vpc","object_storage_private_access_enabled":false,"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_count":0,"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-10T07:32:23.389748Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 60.840708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-messageq-pn","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"subnets":null,"vpc_id":"8fb70dd0-9bb1-4d94-ba61-486b3cf5ed2e","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:32:23.640507Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"a6c3d244-141f-434e-a2cc-d55db51729e5","name":"tf-test-messageq-pn","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnets":[{"created_at":"2026-09-10T07:32:23.640507Z","id":"a563a333-7131-405d-8680-56eeec302c80","private_network_id":"a6c3d244-141f-434e-a2cc-d55db51729e5","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnet":"172.16.24.0/22","updated_at":"2026-09-10T07:32:23.640507Z","vpc_id":"8fb70dd0-9bb1-4d94-ba61-486b3cf5ed2e"},{"created_at":"2026-09-10T07:32:23.640507Z","id":"046f69ac-5388-422e-be48-0d1fcaccf15d","private_network_id":"a6c3d244-141f-434e-a2cc-d55db51729e5","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","subnet":"fd5d:9132:befe:9dda::/64","updated_at":"2026-09-10T07:32:23.640507Z","vpc_id":"8fb70dd0-9bb1-4d94-ba61-486b3cf5ed2e"}],"tags":[],"updated_at":"2026-09-10T07:32:23.640507Z","vpc_id":"8fb70dd0-9bb1-4d94-ba61-486b3cf5ed2e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 680.55325ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a6c3d244-141f-434e-a2cc-d55db51729e5
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:32:23.640507Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"a6c3d244-141f-434e-a2cc-d55db51729e5","name":"tf-test-messageq-pn","orga[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-messageq-pn","tags":null,"node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"4.2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:32:24.532374Z","endpoints":[{"dns_record":"","id":"f340d352-dea4-4af4-b802-dd818c263be2","public":{},"services":[{"name":"ui-management","port":15671,"url":"d6b80068-ac0e-4650-9fca-7a925ab6c1af.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"d6b80068-ac0e-4650-9fca-7a925ab6c1af.scbl.fr-par.scw.cloud"}]}],"id":"d6b80068-ac0e-4650-9fca-7a925ab6c1af","name":"tf-test-messageq-pn","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 266.830042ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/d6b80068-ac0e-4650-9fca-7a925ab6c1af
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:32:24.532374Z","endpoints":[{"dns_record":"","id":"f340d352-dea4-4af4-b802-dd818c263be2","public":{},"services":[{"name":"ui-management","port":15671,"url":"d6b80068-ac0e-4650-9fca-7a925ab6c1af.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"d6b80068-ac0e-4650-9fca-7a925ab6c1af.scbl.fr-par.scw.cloud"}]}],"id":"d6b80068-ac0e-4650-9fca-7a925ab6c1af","name":"tf-test-messageq-pn","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.417584ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"deployment_id":"d6b80068-ac0e-4650-9fca-7a925ab6c1af","endpoint_spec":{"private_network":{"private_network_id":"a6c3d244-141f-434e-a2cc-d55db51729e5"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/endpoints
        method: POST
      response:
        body: '{"dns_record":"","id":"3ff77a3b-80ff-4bd3-a0db-7b8115d89946","private_network":{"private_network_id":"a6c3d244-141f-434e-a2cc-d55db51729e5"},"services":[{"name":"api-amqp","port":5671,"url":"d6b80068-ac0e-4650-9fca-7a925ab6c1af.a6c3d244-141f-434e-a2cc-d55db51729e5.internal"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 236.924542ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/endpoints/3ff77a3b-80ff-4bd3-a0db-7b8115d89946
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 215.697625ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/d6b80068-ac0e-4650-9fca-7a925ab6c1af
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"d6b80068-ac0e-4650-9fca-7a925ab6c1af","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 155.276083ms
[...]
