---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/versions?order_by=version_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"versions":[{"beta":true,"disabled":false,"end_of_life":"2027-12-31T00:00:00Z","version":"4.2"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.8665ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/node-types?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Dedicated node type","disabled":false,"instance_range":"DEDICATED","memory_bytes":8000000000,"name":"MESSAGEQ-DEDICATED2-2C-8G","stock_status":"available","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"A smaller node type","disabled":false,"instance_range":"STANDARD","memory_bytes":8000000000,"name":"MESSAGEQ-SHARED-2C-8G","stock_status":"low_stock","vcpus":2},{"available_volume_types":[{"chunk_size_bytes":5000000000,"description":"Block Storage NVMe with 5K IOPS","max_size_bytes":10000000000000,"min_size_bytes":5000000000,"type":"sbs_5k"}],"beta":true,"description":"Shared node type","disabled":false,"instance_range":"STANDARD","memory_bytes":16000000000,"name":"MESSAGEQ-SHARED-4C-16G","stock_status":"low_stock","vcpus":4}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 26.812708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf-test-messageq-user","tags":null,"node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","user_name":"my_initial_user","password":"ThisIsASecurePassword123!","volume":{"type":"sbs_5k","size_bytes":5000000000},"endpoints":[{"public":{}}],"version":"4.2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments
        method: POST
      response:
        body: '{"created_at":"2026-09-10T07:22:33.739650Z","endpoints":[{"dns_record":"","id":"09f1c263-ef4b-4efa-b57c-e79264d32f4c","public":{},"services":[{"name":"ui-management","port":15671,"url":"943a596d-be5e-4282-9036-a950957a4e7c.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"943a596d-be5e-4282-9036-a950957a4e7c.scbl.fr-par.scw.cloud"}]}],"id":"943a596d-be5e-4282-9036-a950957a4e7c","name":"tf-test-messageq-user","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 191.588834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/943a596d-be5e-4282-9036-a950957a4e7c
        method: GET
      response:
        body: '{"created_at":"2026-09-10T07:22:33.739650Z","endpoints":[{"dns_record":"","id":"09f1c263-ef4b-4efa-b57c-e79264d32f4c","public":{},"services":[{"name":"ui-management","port":15671,"url":"943a596d-be5e-4282-9036-a950957a4e7c.scbl.fr-par.scw.cloud"},{"name":"api-amqp","port":5671,"url":"943a596d-be5e-4282-9036-a950957a4e7c.scbl.fr-par.scw.cloud"}]}],"id":"943a596d-be5e-4282-9036-a950957a4e7c","name":"tf-test-messageq-user","node_count":1,"node_type":"MESSAGEQ-DEDICATED2-2C-8G","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","status":"creating","tags":[],"updated_at":null,"version":"4.2","volume":{"size_bytes":5000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.919083ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"username":"app-user","password":"AnotherSecurePassword123!"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/943a596d-be5e-4282-9036-a950957a4e7c/users
        method: POST
      response:
        body: '{"username":"app-user"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 115.375416ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/943a596d-be5e-4282-9036-a950957a4e7c/users?name=app-user&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"username":"app-user"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.299ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"password":"RotatedSecurePassword123!"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/943a596d-be5e-4282-9036-a950957a4e7c/users/app-user
        method: PATCH
      response:
        body: '{"username":"app-user"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 112.631291ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/messageq/v1alpha1/regions/fr-par/deployments/943a596d-be5e-4282-9036-a950957a4e7c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"deployment","resource_id":"943a596d-be5e-4282-9036-a950957a4e7c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 22.467375ms
[...]
