<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/scaleway/index.html">Scaleway Provider</a>
        </li>

        <li>
          <a href="#">Guides</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/guides/migration_guide_v2.html">Migrating to v2</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/guides/regions_and_zones.html">Region and Zones</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Account Resources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/account_ssh_key.html">scaleway_scaleway_account_ssh_key</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Account Data Sources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/account_ssh_key.html">scaleway_account_ssh_key</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Instance Resources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/instance_ip.html">scaleway_instance_ip</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/instance_ip_reverse_dns.html">instance_ip_reverse_dns</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/instance_placement_group.html">scaleway_instance_placement_group</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/instance_security_group.html">scaleway_instance_security_group</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/instance_security_group_rules.html">scaleway_instance_security_group_rules</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/instance_server.html">scaleway_instance_server</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/instance_volume.html">scaleway_instance_volume</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Instance Data Sources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/instance_server.html">scaleway_instance_server</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/instance_image.html">scaleway_instance_image</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/instance_volume.html">scaleway_instance_volume</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/instance_security_group.html">scaleway_instance_security_group</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Object Storage Resources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/object_bucket.html">scaleway_object_bucket</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Baremetal Resources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/baremetal_server.html">scaleway_baremetal_server</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Baremetal Data Sources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/baremetal_offer.html">scaleway_baremetal_offer</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Container Registry Resources (Beta)</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/registry_namespace_beta.html">scaleway_registry_namespace_beta</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Container Registry Data Sources (Beta)</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/registry_namespace_beta.html">scaleway_registry_namespace_beta</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/registry_image_beta.html">scaleway_registry_image_beta</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Kubernetes Resources (Beta)</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/k8s_cluster_beta.html">scaleway_k8s_cluster_beta</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/k8s_pool_beta.html">scaleway_k8s_pool_beta</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Load-Balancer Resources (Beta)</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/lb_beta.html">scaleway_lb_beta</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/lb_ip_beta.html">scaleway_lb_ip_beta</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/lb_backend_beta.html">scaleway_lb_backend_beta</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/lb_certificate_beta.html">scaleway_lb_certificate_beta</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/lb_frontend_beta.html">scaleway_lb_frontend_beta</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Load-Balancer Data Sources (Beta)</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/lb_ip_beta.html">scaleway_lb_ip_beta</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Database Resources (Beta)</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/rdb_instance_beta.html">scaleway_rdb_instance_beta</a>
            </li>
            <li>
               <a href="/docs/providers/scaleway/r/rdb_user_beta.html">scaleway_rdb_user_beta</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Database Data Sources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/rdb_instance.html">scaleway_rdb_instance</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Marketplace Data Sources (Beta)</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/marketplace_image_beta.html">scaleway_marketplace_image_beta</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Deprecated Resources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/r/ip.html">scaleway_ip</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/security_group.html">scaleway_security_group</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/security_group_rule.html">scaleway_security_group_rule</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/server.html">scaleway_server</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/ssh_key.html">scaleway_ssh_key</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/token.html">scaleway_token</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/user_data.html">scaleway_user_data</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/volume.html">scaleway_volume</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/volume_attachment.html">scaleway_volume_attachment</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Deprecated Data Sources</a>
          <ul class="nav">
            <li>
              <a href="/docs/providers/scaleway/d/bootscript.html">scaleway_bootscript</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/security_group.html">scaleway_security_group</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/image.html">scaleway_image</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/volume.html">scaleway_volume</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
