<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/scaleway/index.html">Scaleway Provider</a>
        </li>

        <li>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/scaleway/d/bootscript.html">scaleway_bootscript</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/image.html">scaleway_image</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/security_group.html">scaleway_security_group</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/d/volume.html">scaleway_volume</a>
            </li>
          </ul>
        </li>

        <li>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/scaleway/r/bucket.html">scaleway_bucket</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/ip.html">scaleway_ip</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/security_group.html">scaleway_security_group</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/security_group_rule.html">scaleway_security_group_rule</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/server.html">scaleway_server</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/ssh_key.html">scaleway_ssh_key</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/token.html">scaleway_token</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/user_data.html">scaleway_user_data</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/volume.html">scaleway_volume</a>
            </li>
            <li>
              <a href="/docs/providers/scaleway/r/volume_attachment.html">scaleway_volume_attachment</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-scaleway-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-scaleway-resource-compute-instance-ip") %>>
              <a href="/docs/providers/scaleway/r/compute_instance_ip.html">scaleway_compute_instance_ip</a>
            </li>
          </ul>
        </li>


      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
