---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.35.1", "label":"Kubernetes 1.35.1", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-01-19T00:00:00Z", "end_of_life_at":"2027-03-19T00:00:00Z", "released_at":"2026-01-19T00:00:00Z"}, {"region":"fr-par", "name":"1.34.4", "label":"Kubernetes 1.34.4", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccACL_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"04ba746c-dc02-4455-ac78-550c20c4f46b", "name":"TestAccACL_Basic", "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-02-24T10:56:53.320022Z", "updated_at":"2026-02-24T10:56:53.320022Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.634416ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/04ba746c-dc02-4455-ac78-550c20c4f46b
        method: GET
      response:
        body: '{"id":"04ba746c-dc02-4455-ac78-550c20c4f46b", "name":"TestAccACL_Basic", "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-02-24T10:56:53.320022Z", "updated_at":"2026-02-24T10:56:53.320022Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.499458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-kind-albattani","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"04ba746c-dc02-4455-ac78-550c20c4f46b","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"70691261-0264-46bc-a25a-506d7ec60d8d", "name":"tf-pn-kind-albattani", "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-02-24T10:56:53.485564Z", "updated_at":"2026-02-24T10:56:53.485564Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "subnets":[{"id":"f899e638-5bd5-4168-9517-70ed3f5bc83e", "created_at":"2026-02-24T10:56:53.485564Z", "updated_at":"2026-02-24T10:56:53.485564Z", "subnet":"172.16.12.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"70691261-0264-46bc-a25a-506d7ec60d8d", "vpc_id":"04ba746c-dc02-4455-ac78-550c20c4f46b"}, {"id":"51c9d8c8-b3ac-46f0-90a4-bd1397bea303", "created_at":"2026-02-24T10:56:53.485564Z", "updated_at":"2026-02-24T10:56:53.485564Z", "subnet":"fd49:821a:a311:2984::/64", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"70691261-0264-46bc-a25a-506d7ec60d8d", "vpc_id":"04ba746c-dc02-4455-ac78-550c20c4f46b"}], "vpc_id":"04ba746c-dc02-4455-ac78-550c20c4f46b", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 707.519208ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/70691261-0264-46bc-a25a-506d7ec60d8d
        method: GET
      response:
        body: '{"id":"70691261-0264-46bc-a25a-506d7ec60d8d", "name":"tf-pn-kind-albattani", "tags":[], "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-02-24T10:56:53.485564Z", "updated_at":"2026-02-24T10:56:53.485564Z", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "subnets":[{"id":"f899e638-5bd5-4168-9517-70ed3f5bc83e", "created_at":"2026-02-24T10:56:53.485564Z", "updated_at":"2026-02-24T10:56:53.485564Z", "subnet":"172.16.12.0/22", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"70691261-0264-46bc-a25a-506d7ec60d8d", "vpc_id":"04ba746c-dc02-4455-ac78-550c20c4f46b"}, {"id":"51c9d8c8-b3ac-46f0-90a4-bd1397bea303", "created_at":"2026-02-24T10:56:53.485564Z", "updated_at":"2026-02-24T10:56:53.485564Z", "subnet":"fd49:821a:a311:2984::/64", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "private_network_id":"70691261-0264-46bc-a25a-506d7ec60d8d", "vpc_id":"04ba746c-dc02-4455-ac78-550c20c4f46b"}], "vpc_id":"04ba746c-dc02-4455-ac78-550c20c4f46b", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.513375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"k8s-acl-basic","description":"","tags":[],"version":"1.35.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"70691261-0264-46bc-a25a-506d7ec60d8d"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"a9ef09e3-829b-45fd-9fd9-7064a9e7861a", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-02-24T10:56:54.536852Z", "updated_at":"2026-02-24T10:56:54.536852Z", "type":"kapsule", "name":"k8s-acl-basic", "description":"", "status":"creating", "version":"1.35.1", "cni":"cilium", "tags":[], "cluster_url":"https://a9ef09e3-829b-45fd-9fd9-7064a9e7861a.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.a9ef09e3-829b-45fd-9fd9-7064a9e7861a.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"70691261-0264-46bc-a25a-506d7ec60d8d", "commitment_ends_at":"2026-02-24T10:56:54.536861Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.973208ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a9ef09e3-829b-45fd-9fd9-7064a9e7861a
        method: GET
      response:
        body: '{"region":"fr-par", "id":"a9ef09e3-829b-45fd-9fd9-7064a9e7861a", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-02-24T10:56:54.536852Z", "updated_at":"2026-02-24T10:56:54.536852Z", "typ[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a9ef09e3-829b-45fd-9fd9-7064a9e7861a/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.104958ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a9ef09e3-829b-45fd-9fd9-7064a9e7861a/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUkplVTE2UlhkT1ZGa3hUa1p2V0VSVVRUSk5SRWw1VFhwRmQwNVVXVEZPUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNUMkoxY3k[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a9ef09e3-829b-45fd-9fd9-7064a9e7861a/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"4d544eda-4aa5-42e4-945d-d8bbe76839b0", "ip":"1.2.3.4/32", "description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.029916ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"},{"scaleway_ranges":true,"description":"Scaleway ranges rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a9ef09e3-829b-45fd-9fd9-7064a9e7861a/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"8c4ea100-79f2-4083-ba6a-02b6bf68f0fe", "ip":"1.2.3.4/32", "description":"First rule"}, {"id":"f6009bcc-f165-4240-b1f2-fb5fc669975d", "scaleway_ranges":true, "description":"Scaleway ranges rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.248417ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a9ef09e3-829b-45fd-9fd9-7064a9e7861a?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"a9ef09e3-829b-45fd-9fd9-7064a9e7861a", "organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "project_id":"951df375-e094-4d26-97c1-ba548eeb9c42", "created_at":"2026-02-24T10:56:54.536852Z", "updated_at":"2026-02-24T10:57:33.648197Z", "t[...]
[...]
    - id: 93
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a9ef09e3-829b-45fd-9fd9-7064a9e7861a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"a9ef09e3-829b-45fd-9fd9-7064a9e7861a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.683791ms
[...]
