---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-eloquent-blackwell","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-29T13:21:26.647170Z","custom_routes_propagation_enabled":true,"id":"66ca4275-9356-4dd4-908b-4bfd2a30023d","is_default":false,"name":"tf-vpc-eloquent-blackwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-29T13:21:26.647170Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.946083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/66ca4275-9356-4dd4-908b-4bfd2a30023d
        method: GET
      response:
        body: '{"created_at":"2025-09-29T13:21:26.647170Z","custom_routes_propagation_enabled":true,"id":"66ca4275-9356-4dd4-908b-4bfd2a30023d","is_default":false,"name":"tf-vpc-eloquent-blackwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-29T13:21:26.647170Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.93275ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-heuristic-mendel","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"66ca4275-9356-4dd4-908b-4bfd2a30023d","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-29T13:21:26.879886Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6a5500cb-5551-442a-b135-6a39ec1ea720","name":"tf-pn-heuristic-mendel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-29T13:21:26.879886Z","id":"b7f0af8d-a679-4e26-b0eb-e0456c59bea5","private_network_id":"6a5500cb-5551-442a-b135-6a39ec1ea720","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.48.0/22","updated_at":"2025-09-29T13:21:26.879886Z","vpc_id":"66ca4275-9356-4dd4-908b-4bfd2a30023d"},{"created_at":"2025-09-29T13:21:26.879886Z","id":"527de8f2-1a26-4bd8-a85b-3bd5d5155996","private_network_id":"6a5500cb-5551-442a-b135-6a39ec1ea720","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b97b::/64","updated_at":"2025-09-29T13:21:26.879886Z","vpc_id":"66ca4275-9356-4dd4-908b-4bfd2a30023d"}],"tags":[],"updated_at":"2025-09-29T13:21:26.879886Z","vpc_id":"66ca4275-9356-4dd4-908b-4bfd2a30023d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 719.813917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6a5500cb-5551-442a-b135-6a39ec1ea720
        method: GET
      response:
        body: '{"created_at":"2025-09-29T13:21:26.879886Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6a5500cb-5551-442a-b135-6a39ec1ea720","name":"tf-pn-heuristic-mendel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-29T13:21:26.879886Z","id":"b7f0af8d-a679-4e26-b0eb-e0456c59bea5","private_network_id":"6a5500cb-5551-442a-b135-6a39ec1ea720","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.48.0/22","updated_at":"2025-09-29T13:21:26.879886Z","vpc_id":"66ca4275-9356-4dd4-908b-4bfd2a30023d"},{"created_at":"2025-09-29T13:21:26.879886Z","id":"527de8f2-1a26-4bd8-a85b-3bd5d5155996","private_network_id":"6a5500cb-5551-442a-b135-6a39ec1ea720","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b97b::/64","updated_at":"2025-09-29T13:21:26.879886Z","vpc_id":"66ca4275-9356-4dd4-908b-4bfd2a30023d"}],"tags":[],"updated_at":"2025-09-29T13:21:26.879886Z","vpc_id":"66ca4275-9356-4dd4-908b-4bfd2a30023d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.66125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-acl-basic","description":"","tags":[],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"6a5500cb-5551-442a-b135-6a39ec1ea720"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-29T13:21:28.045977Z","created_at":"2025-09-29T13:21:28.045970Z","description":"","dns_wildcard":"*.e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399","name":"k8s-acl-basic","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"6a5500cb-5551-442a-b135-6a39ec1ea720","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":[],"type":"kapsule","updated_at":"2025-09-29T13:21:28.045970Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 465.112042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.409583ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGFrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRVUnJlVTlFUlhwTmFrVjVUMFp2V0VSVVRURk5SR3Q1VDBSRmVrMXFSWGxQUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNRbEp3ZFd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399/acls
        method: PUT
      response:
        body: '{"rules":[{"description":"First rule","id":"e959bb07-e848-4e05-8d42-db03cbcf4583","ip":"1.2.3.4/32"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.8825ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"},{"scaleway_ranges":true,"description":"Scaleway ranges rule"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399/acls
        method: PUT
      response:
        body: '{"rules":[{"description":"First rule","id":"9e53c24a-d62a-45aa-8cf2-9768062e019c","ip":"1.2.3.4/32"},{"description":"Scaleway ranges rule","id":"47cc52db-6e4d-42f6-968f-64efbe0406db","scaleway_ranges":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.040916ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399?with_additional_resources=true
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gro[...]
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"e7ec57b8-d26a-4502-9cbe-3d8e8d8a0399","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.93225ms
[...]
