---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.35.1", "label":"Kubernetes 1.35.1", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-01-19T00:00:00Z", "end_of_life_at":"2027-03-19T00:00:00Z", "released_at":"2026-01-19T00:00:00Z"}, {"region":"fr-par", "name":"1.34.4", "label":"Kubernetes 1.34.4", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-dazzling-feynman","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7", "name":"tf-vpc-dazzling-feynman", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:38:03.917835Z", "updated_at":"2026-02-24T10:38:03.917835Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.241083ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e1571be4-e2b8-4dfd-ac42-a78b9ae099b7
        method: GET
      response:
        body: '{"id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7", "name":"tf-vpc-dazzling-feynman", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:38:03.917835Z", "updated_at":"2026-02-24T10:38:03.917835Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.157333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hardcore-black","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"e36a47d8-4008-4832-95d9-402480e2d5fe", "name":"tf-pn-hardcore-black", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:38:04.183828Z", "updated_at":"2026-02-24T10:38:04.183828Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"89b51788-2a08-406d-84ff-558bb52cf488", "created_at":"2026-02-24T10:38:04.183828Z", "updated_at":"2026-02-24T10:38:04.183828Z", "subnet":"172.19.20.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"e36a47d8-4008-4832-95d9-402480e2d5fe", "vpc_id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7"}, {"id":"ae6bc4f6-d607-4a53-b645-d20869194655", "created_at":"2026-02-24T10:38:04.183828Z", "updated_at":"2026-02-24T10:38:04.183828Z", "subnet":"fd5f:519c:6d46:ea91::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"e36a47d8-4008-4832-95d9-402480e2d5fe", "vpc_id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7"}], "vpc_id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 733.778166ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e36a47d8-4008-4832-95d9-402480e2d5fe
        method: GET
      response:
        body: '{"id":"e36a47d8-4008-4832-95d9-402480e2d5fe", "name":"tf-pn-hardcore-black", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:38:04.183828Z", "updated_at":"2026-02-24T10:38:04.183828Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"89b51788-2a08-406d-84ff-558bb52cf488", "created_at":"2026-02-24T10:38:04.183828Z", "updated_at":"2026-02-24T10:38:04.183828Z", "subnet":"172.19.20.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"e36a47d8-4008-4832-95d9-402480e2d5fe", "vpc_id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7"}, {"id":"ae6bc4f6-d607-4a53-b645-d20869194655", "created_at":"2026-02-24T10:38:04.183828Z", "updated_at":"2026-02-24T10:38:04.183828Z", "subnet":"fd5f:519c:6d46:ea91::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"e36a47d8-4008-4832-95d9-402480e2d5fe", "vpc_id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7"}], "vpc_id":"e1571be4-e2b8-4dfd-ac42-a78b9ae099b7", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.638125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-acl-order","description":"","tags":[],"version":"1.35.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e36a47d8-4008-4832-95d9-402480e2d5fe"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"31ce3012-0aaf-452a-a4b3-9061e1dd72e5", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:38:05.611131Z", "updated_at":"2026-02-24T10:38:05.611131Z", "type":"kapsule", "name":"k8s-acl-order", "description":"", "status":"creating", "version":"1.35.1", "cni":"cilium", "tags":[], "cluster_url":"https://31ce3012-0aaf-452a-a4b3-9061e1dd72e5.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.31ce3012-0aaf-452a-a4b3-9061e1dd72e5.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"e36a47d8-4008-4832-95d9-402480e2d5fe", "commitment_ends_at":"2026-02-24T10:38:05.611139Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 563.507292ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/31ce3012-0aaf-452a-a4b3-9061e1dd72e5
        method: GET
      response:
        body: '{"region":"fr-par", "id":"31ce3012-0aaf-452a-a4b3-9061e1dd72e5", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:38:05.611131Z", "updated_at":"2026-02-24T10:38:05.611131Z", "typ[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/31ce3012-0aaf-452a-a4b3-9061e1dd72e5/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.515708ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/31ce3012-0aaf-452a-a4b3-9061e1dd72e5/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtb3JkZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUkplVTE2UlhkTmVtZDNUbFp2V0VSVVRUSk5SRWw1VFhwRmQwMTZaM2RPVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNSek0wVUV[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"12.2.3.4/32","description":"First rule"},{"ip":"1.2.3.4/32","description":"Fourth rule"},{"ip":"11.2.3.4/32","description":"Second rule"},{"ip":"1.2.3.7/32","description":"Third rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/31ce3012-0aaf-452a-a4b3-9061e1dd72e5/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"406ebe78-7b38-4b62-b919-a2e26c0200af", "ip":"12.2.3.4/32", "description":"First rule"}, {"id":"f7595b94-e305-4806-a12e-9b93135b8da9", "ip":"1.2.3.4/32", "description":"Fourth rule"}, {"id":"99902f6f-9b36-46bd-a3d9-ad77326bcfd6", "ip":"11.2.3.4/32", "description":"Second rule"}, {"id":"726e612a-1d07-44e6-b4c8-d65b1cbb67f2", "ip":"1.2.3.7/32", "description":"Third rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.95425ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"0.0.0.0/0","description":"Automatically generated after scaleway_k8s_acl resource deletion"},{"scaleway_ranges":true,"description":"Automatically generated after scaleway_k8s_acl resource deletion"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/31ce3012-0aaf-452a-a4b3-9061e1dd72e5/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"f98198e8-ca7c-47ca-9868-17e471b52384", "ip":"0.0.0.0/0", "description":"Automatically generated after scaleway_k8s_acl resource deletion"}, {"id":"4043d01e-acc6-4d61-a854-ca6b6dc35bfb", "scaleway_ranges":true, "description":"Automatically generated after scaleway_k8s_acl resource deletion"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.697584ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/31ce3012-0aaf-452a-a4b3-9061e1dd72e5?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"31ce3012-0aaf-452a-a4b3-9061e1dd72e5", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:38:05.611131Z", "updated_at":"2026-02-24T10:38:24.357107Z", "t[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/31ce3012-0aaf-452a-a4b3-9061e1dd72e5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"31ce3012-0aaf-452a-a4b3-9061e1dd72e5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.897458ms
[...]
