---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.3","label":"Kubernetes 1.35.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.6","label":"Kubernetes 1.34.6","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccACL_Basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"af8da1d4-a607-429c-90be-20a064f3ae24","name":"TestAccACL_Basic","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:41:18.922598Z","updated_at":"2026-07-03T09:41:18.922598Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.022813ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/af8da1d4-a607-429c-90be-20a064f3ae24
        method: GET
      response:
        body: '{"id":"af8da1d4-a607-429c-90be-20a064f3ae24","name":"TestAccACL_Basic","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:41:18.922598Z","updated_at":"2026-07-03T09:41:18.922598Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.093662ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-gifted-dirac","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"af8da1d4-a607-429c-90be-20a064f3ae24","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"295b122b-4626-4567-86f3-5f7bc8a213e2","name":"tf-pn-gifted-dirac","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:41:19.189601Z","updated_at":"2026-07-03T09:41:19.189601Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"c603e32e-6f1a-42a0-ac86-ce0eda660e49","created_at":"2026-07-03T09:41:19.189601Z","updated_at":"2026-07-03T09:41:19.189601Z","subnet":"172.16.48.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"295b122b-4626-4567-86f3-5f7bc8a213e2","vpc_id":"af8da1d4-a607-429c-90be-20a064f3ae24","region":"fr-par"},{"id":"7c614ffa-664d-4288-a32b-59c533cb8d94","created_at":"2026-07-03T09:41:19.189601Z","updated_at":"2026-07-03T09:41:19.189601Z","subnet":"fd63:256c:45f7:65ab::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"295b122b-4626-4567-86f3-5f7bc8a213e2","vpc_id":"af8da1d4-a607-429c-90be-20a064f3ae24","region":"fr-par"}],"vpc_id":"af8da1d4-a607-429c-90be-20a064f3ae24","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 669.036232ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/295b122b-4626-4567-86f3-5f7bc8a213e2
        method: GET
      response:
        body: '{"id":"295b122b-4626-4567-86f3-5f7bc8a213e2","name":"tf-pn-gifted-dirac","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:41:19.189601Z","updated_at":"2026-07-03T09:41:19.189601Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"c603e32e-6f1a-42a0-ac86-ce0eda660e49","created_at":"2026-07-03T09:41:19.189601Z","updated_at":"2026-07-03T09:41:19.189601Z","subnet":"172.16.48.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"295b122b-4626-4567-86f3-5f7bc8a213e2","vpc_id":"af8da1d4-a607-429c-90be-20a064f3ae24","region":"fr-par"},{"id":"7c614ffa-664d-4288-a32b-59c533cb8d94","created_at":"2026-07-03T09:41:19.189601Z","updated_at":"2026-07-03T09:41:19.189601Z","subnet":"fd63:256c:45f7:65ab::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"295b122b-4626-4567-86f3-5f7bc8a213e2","vpc_id":"af8da1d4-a607-429c-90be-20a064f3ae24","region":"fr-par"}],"vpc_id":"af8da1d4-a607-429c-90be-20a064f3ae24","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.69935ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"k8s-acl-basic","description":"","tags":[],"version":"1.35.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"295b122b-4626-4567-86f3-5f7bc8a213e2"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"96559af3-12e6-4bc0-9283-9df58cba397a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:41:20.113867Z","updated_at":"2026-07-03T09:41:20.113867Z","type":"kapsule","name":"k8s-acl-basic","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":[],"cluster_url":"https://96559af3-12e6-4bc0-9283-9df58cba397a.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.96559af3-12e6-4bc0-9283-9df58cba397a.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"295b122b-4626-4567-86f3-5f7bc8a213e2","commitment_ends_at":"2026-07-03T09:41:20.113875Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.483889ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/96559af3-12e6-4bc0-9283-9df58cba397a
        method: GET
      response:
        body: '{"region":"fr-par","id":"96559af3-12e6-4bc0-9283-9df58cba397a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:41:20.113867Z","updated_at":"2026-07-03T09:41:20.113867Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/96559af3-12e6-4bc0-9283-9df58cba397a/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.266017ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/96559af3-12e6-4bc0-9283-9df58cba397a/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUmpkMDFxUVRWT1JFVjVUVVp2V0VSVVRUSk5SR04zVFdwQk5VNUVSWGxOUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNSRTlNVlR[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/96559af3-12e6-4bc0-9283-9df58cba397a/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"6b0f61c2-3e7e-4f5d-ae8b-ec997248c8eb","region":"","ip":"1.2.3.4/32","description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.453117ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"},{"scaleway_ranges":true,"description":"Scaleway ranges rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/96559af3-12e6-4bc0-9283-9df58cba397a/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"df2cdcff-dc28-482f-a9b9-2d5dfd5cdac1","region":"","ip":"1.2.3.4/32","description":"First rule"},{"id":"27ccd853-5989-413b-aa56-dd875995c969","region":"","scaleway_ranges":true,"description":"Scaleway ranges rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.298803ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/96559af3-12e6-4bc0-9283-9df58cba397a?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"96559af3-12e6-4bc0-9283-9df58cba397a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:41:20.113867Z","updated_at":"2026-07-03T09:41:32.607071Z","type":"[...]
[...]
    - id: 90
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/96559af3-12e6-4bc0-9283-9df58cba397a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"96559af3-12e6-4bc0-9283-9df58cba397a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.16233ms
[...]
