---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.36.4", "label":"Kubernetes 1.36.4", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-07-07T00:00:00Z", "end_of_life_at":"2027-09-07T00:00:00Z", "released_at":"2026-07-07T00:00:00Z"}, {"region":"fr-par", "name":"1.35.8", "label":"Kubernetes 1.35.8", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccACL_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"4a4f0dc4-9612-44b6-a51e-82ce761a1bbf", "name":"TestAccACL_Basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:02:47.086357Z", "updated_at":"2026-08-24T14:02:47.086357Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.233606ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.972956ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4a4f0dc4-9612-44b6-a51e-82ce761a1bbf
        method: GET
      response:
        body: '{"id":"4a4f0dc4-9612-44b6-a51e-82ce761a1bbf", "name":"TestAccACL_Basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:02:47.086357Z", "updated_at":"2026-08-24T14:02:47.086357Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.412001ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-agitated-nightingale","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"4a4f0dc4-9612-44b6-a51e-82ce761a1bbf","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"e43d05d9-7ee5-409a-b0f6-1dce88a8296c", "name":"tf-pn-agitated-nightingale", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:02:47.463512Z", "updated_at":"2026-08-24T14:02:47.463512Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"8a16b492-8db1-4be6-8df8-b7173b208689", "created_at":"2026-08-24T14:02:47.463512Z", "updated_at":"2026-08-24T14:02:47.463512Z", "subnet":"10.4.132.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"e43d05d9-7ee5-409a-b0f6-1dce88a8296c", "vpc_id":"4a4f0dc4-9612-44b6-a51e-82ce761a1bbf", "region":"fr-par"}, {"id":"1bf2f1fb-398a-4145-b384-5997977ca6d3", "created_at":"2026-08-24T14:02:47.463512Z", "updated_at":"2026-08-24T14:02:47.463512Z", "subnet":"fd5f:519c:6d46:5c94::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"e43d05d9-7ee5-409a-b0f6-1dce88a8296c", "vpc_id":"4a4f0dc4-9612-44b6-a51e-82ce761a1bbf", "region":"fr-par"}], "vpc_id":"4a4f0dc4-9612-44b6-a51e-82ce761a1bbf", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_s3_integration":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 921.827639ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e43d05d9-7ee5-409a-b0f6-1dce88a8296c
        method: GET
      response:
        body: '{"id":"e43d05d9-7ee5-409a-b0f6-1dce88a8296c", "name":"tf-pn-agitated-nightingale", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:02:47.463512Z", "updated_at":"2026-08-24T14:02:47.463512Z", "project_id":"105bdc[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-acl-basic","description":"","tags":[],"version":"1.36.4","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e43d05d9-7ee5-409a-b0f6-1dce88a8296c"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"2d31f43c-c352-48b0-8a14-2e9a16df6469", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:02:48.988717Z", "updated_at":"2026-08-24T14:02:48.988718Z", "type":"kapsule", "name":"k8s-acl-basic", "description":"", "status":"creating", "version":"1.36.4", "cni":"cilium", "tags":[], "cluster_url":"https://2d31f43c-c352-48b0-8a14-2e9a16df6469.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.2d31f43c-c352-48b0-8a14-2e9a16df6469.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0, "skip_nodes_with_local_storage":false, "log_level":2}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"e43d05d9-7ee5-409a-b0f6-1dce88a8296c", "commitment_ends_at":"2026-08-24T14:02:48.988726Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 672.722246ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2d31f43c-c352-48b0-8a14-2e9a16df6469
        method: GET
      response:
        body: '{"region":"fr-par", "id":"2d31f43c-c352-48b0-8a14-2e9a16df6469", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:02:48.988717Z", "updated_at":"2026-08-24T14:02:49.092755Z", "typ[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2d31f43c-c352-48b0-8a14-2e9a16df6469/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.295431ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2d31f43c-c352-48b0-8a14-2e9a16df6469/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUm5lVTE2UlRCTlJFa3dUMVp2V0VSVVRUSk5SR2Q1VFhwRk1FMUVTVEJQVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNUMUZRWWt[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2d31f43c-c352-48b0-8a14-2e9a16df6469/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"4c44c82b-209e-4da3-88d3-ced0e2812ee8", "region":"", "ip":"1.2.3.4/32", "description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.507637ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"0.0.0.0/0","description":"Automatically generated after scaleway_k8s_acl resource deletion"},{"scaleway_ranges":true,"description":"Automatically generated after scaleway_k8s_acl resource deletion"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2d31f43c-c352-48b0-8a14-2e9a16df6469/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"359b31c2-6f2b-498d-99bf-9ec8cb7dae94", "region":"", "ip":"0.0.0.0/0", "description":"Automatically generated after scaleway_k8s_acl resource deletion"}, {"id":"d93682c2-ac64-48db-a7e6-561a4130ec66", "region":"", "scaleway_ranges":true, "description":"Automatically generated after scaleway_k8s_acl resource deletion"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.02862ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2d31f43c-c352-48b0-8a14-2e9a16df6469?with_additional_resources=true
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"2d31f43c-c352-48b0-8a14-2e9a16df6469", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T14:02:48.988717Z", "updated_at":"2026-08-24T14:02:56.414092Z", "t[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2d31f43c-c352-48b0-8a14-2e9a16df6469
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"2d31f43c-c352-48b0-8a14-2e9a16df6469","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.286285ms
[...]
