---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-strange-gagarin\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\",\"name\":\"tf-pn-strange-gagarin\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:14:13.425677Z\",\"updated_at\":\"2025-08-28T14:14:13.425677Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"1cb94c13-6da2-4630-b145-3b954c5049a7\",\"created_at\":\"2025-08-28T14:14:13.425677Z\",\"updated_at\":\"2025-08-28T14:14:13.425677Z\",\"subnet\":\"172.16.132.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"e6a3a4a8-5bee-4d19-b463-7816c6b5598a\",\"created_at\":\"2025-08-28T14:14:13.425677Z\",\"updated_at\":\"2025-08-28T14:14:13.425677Z\",\"subnet\":\"fde7:767f:1bb5:1853::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 804.222764ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e91ddd20-821a-4285-bbf0-03b5da9f271e
    method: GET
  response:
    body: "{\"id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\",\"name\":\"tf-pn-strange-gagarin\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:14:13.425677Z\",\"updated_at\":\"2025-08-28T14:14:13.425677Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"1cb94c13-6da2-4630-b145-3b954c5049a7\",\"created_at\":\"2025-08-28T14:14:13.425677Z\",\"updated_at\":\"2025-08-28T14:14:13.425677Z\",\"subnet\":\"172.16.132.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"e6a3a4a8-5bee-4d19-b463-7816c6b5598a\",\"created_at\":\"2025-08-28T14:14:13.425677Z\",\"updated_at\":\"2025-08-28T14:14:13.425677Z\",\"subnet\":\"fde7:767f:1bb5:1853::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 30.405684ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"k8s-acl-order\",\"description\":\"\",\"tags\":[],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d5028cdb-6cbb-40e8-bfb5-2e390cbab55a\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:14:14.619632Z\",\"updated_at\":\"2025-08-28T14:14:14.619633Z\",\"type\":\"kapsule\",\"name\":\"k8s-acl-order\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[],\"cluster_url\":\"https://d5028cdb-6cbb-40e8-bfb5-2e390cbab55a.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.d5028cdb-6cbb-40e8-bfb5-2e390cbab55a.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"e91ddd20-821a-4285-bbf0-03b5da9f271e\",\"commitment_ends_at\":\"2025-08-28T14:14:14.619642Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 426.300826ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d5028cdb-6cbb-40e8-bfb5-2e390cbab55a
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d5028cdb-6cbb-40e8-bfb5-2e390cbab55a\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:14:14.619632Z\",\"updated_at\":\"2025-08-28T14:14:14.619633Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d5028cdb-6cbb-40e8-bfb5-2e390cbab55a/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.871555ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d5028cdb-6cbb-40e8-bfb5-2e390cbab55a/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtb3JkZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFWjNsT2VrVXdUVlJSZUU1V2IxaEVWRTB4VFVSbmVVNTZSVEJOVkZGNFRsWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUV[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"acls\":[{\"ip\":\"12.2.3.4/32\",\"description\":\"First rule\"},{\"ip\":\"1.2.3.4/32\",\"description\":\"Fourth rule\"},{\"ip\":\"11.2.3.4/32\",\"description\":\"Second rule\"},{\"ip\":\"1.2.3.7/32\",\"description\":\"Third rule\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d5028cdb-6cbb-40e8-bfb5-2e390cbab55a/acls
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"c3f1d613-c939-4859-a194-5718fc845136\",\"ip\":\"12.2.3.4/32\",\"description\":\"First rule\"},{\"id\":\"7f3bdff9-8706-411c-a541-48205d342ce6\",\"ip\":\"1.2.3.4/32\",\"description\":\"Fourth rule\"},{\"id\":\"c39d798d-801f-4005-aea7-15da08bef014\",\"ip\":\"11.2.3.4/32\",\"description\":\"Second rule\"},{\"id\":\"8b1af77d-970a-4c91-8060-1c59acae24b2\",\"ip\":\"1.2.3.7/32\",\"description\":\"Third rule\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.929039ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d5028cdb-6cbb-40e8-bfb5-2e390cbab55a?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d5028cdb-6cbb-40e8-bfb5-2e390cbab55a\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:14:14.619632Z\",\"updated_at\":\"2025-08-28T14:14:33.778139Z\",\"type\":\"kap[...]
[...]
- id: 35
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d5028cdb-6cbb-40e8-bfb5-2e390cbab55a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"d5028cdb-6cbb-40e8-bfb5-2e390cbab55a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.141944ms
[...]
