---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccACL_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:54.373281Z","custom_routes_propagation_enabled":true,"id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec","is_default":false,"name":"TestAccACL_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:54.373281Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.888917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:54.373281Z","custom_routes_propagation_enabled":true,"id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec","is_default":false,"name":"TestAccACL_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:54.373281Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.356792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-flamboyant-boyd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:54.493057Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a8921c95-7b18-4e43-a98d-adb63752c525","name":"tf-pn-flamboyant-boyd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:54.493057Z","id":"0a62a707-bac7-4dbd-97ef-9f64383e7e19","private_network_id":"a8921c95-7b18-4e43-a98d-adb63752c525","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.168.0/22","updated_at":"2025-09-30T09:22:54.493057Z","vpc_id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec"},{"created_at":"2025-09-30T09:22:54.493057Z","id":"5858aff8-0fec-4a2c-ae92-f4d9c2db2678","private_network_id":"a8921c95-7b18-4e43-a98d-adb63752c525","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:aa0e::/64","updated_at":"2025-09-30T09:22:54.493057Z","vpc_id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec"}],"tags":[],"updated_at":"2025-09-30T09:22:54.493057Z","vpc_id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 721.618625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a8921c95-7b18-4e43-a98d-adb63752c525
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:54.493057Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a8921c95-7b18-4e43-a98d-adb63752c525","name":"tf-pn-flamboyant-boyd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:54.493057Z","id":"0a62a707-bac7-4dbd-97ef-9f64383e7e19","private_network_id":"a8921c95-7b18-4e43-a98d-adb63752c525","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.168.0/22","updated_at":"2025-09-30T09:22:54.493057Z","vpc_id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec"},{"created_at":"2025-09-30T09:22:54.493057Z","id":"5858aff8-0fec-4a2c-ae92-f4d9c2db2678","private_network_id":"a8921c95-7b18-4e43-a98d-adb63752c525","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:aa0e::/64","updated_at":"2025-09-30T09:22:54.493057Z","vpc_id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec"}],"tags":[],"updated_at":"2025-09-30T09:22:54.493057Z","vpc_id":"8a2b9f2c-d814-4699-9fd2-63ad7f6b31ec"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.548875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-acl-basic","description":"","tags":[],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"a8921c95-7b18-4e43-a98d-adb63752c525"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://3321a5a6-7268-43a7-952e-8e910f0a8fff.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T09:22:55.498157Z","created_at":"2025-09-30T09:22:55.498148Z","description":"","dns_wildcard":"*.3321a5a6-7268-43a7-952e-8e910f0a8fff.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"3321a5a6-7268-43a7-952e-8e910f0a8fff","name":"k8s-acl-basic","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"a8921c95-7b18-4e43-a98d-adb63752c525","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":[],"type":"kapsule","updated_at":"2025-09-30T09:22:55.498148Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.67075ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3321a5a6-7268-43a7-952e-8e910f0a8fff
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3321a5a6-7268-43a7-952e-8e910f0a8fff/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.020209ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3321a5a6-7268-43a7-952e-8e910f0a8fff/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRVUnJlVTlVUVRWTmFra3hUbFp2V0VSVVRURk5SR3Q1VDFSQk5VMXFTVEZPVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNTMWR2VGp[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3321a5a6-7268-43a7-952e-8e910f0a8fff/acls
        method: PUT
      response:
        body: '{"rules":[{"description":"First rule","id":"0e8052df-34e4-46bf-bbed-b48a243d49f2","ip":"1.2.3.4/32"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.189667ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"},{"scaleway_ranges":true,"description":"Scaleway ranges rule"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3321a5a6-7268-43a7-952e-8e910f0a8fff/acls
        method: PUT
      response:
        body: '{"rules":[{"description":"First rule","id":"e47b47f6-af66-40af-a68d-840a7638bc28","ip":"1.2.3.4/32"},{"description":"Scaleway ranges rule","id":"8c0db71d-d695-4a78-acb6-ceddc4e4524d","scaleway_ranges":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.296959ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3321a5a6-7268-43a7-952e-8e910f0a8fff?with_additional_resources=true
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gro[...]
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3321a5a6-7268-43a7-952e-8e910f0a8fff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"3321a5a6-7268-43a7-952e-8e910f0a8fff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.065667ms
[...]
