---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"srn":"","region":"fr-par","name":"1.37.0","label":"Kubernetes 1.37.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-08-28T00:00:00Z","end_of_life_at":"2027-10-28T00:00:00Z","released_at":"2026-08-26T00:00:00Z","additional_components":{}},{"srn":"","region":"fr-par","name":"1.36.4","label":"Kubernetes 1.36.4","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQ[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-hardcore-rhodes","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/c1eb497b-ea57-4452-bccc-21644b9072dc","id":"c1eb497b-ea57-4452-bccc-21644b9072dc","name":"tf-vpc-hardcore-rhodes","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:27.152621Z","updated_at":"2026-09-24T11:29:27.152621Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 159.117125ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 9.352208ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c1eb497b-ea57-4452-bccc-21644b9072dc
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/c1eb497b-ea57-4452-bccc-21644b9072dc","id":"c1eb497b-ea57-4452-bccc-21644b9072dc","name":"tf-vpc-hardcore-rhodes","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:27.152621Z","updated_at":"2026-09-24T11:29:27.152621Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 26.225125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-infallible-ramanujan","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"c1eb497b-ea57-4452-bccc-21644b9072dc","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/b233069e-08df-4709-ae26-7467ba830b53","id":"b233069e-08df-4709-ae26-7467ba830b53","name":"tf-pn-infallible-ramanujan","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:27.325647Z","updated_at":"2026-09-24T11:29:27.325647Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/08a2e15f-c5dd-41ff-8eef-930f3e641970","id":"08a2e15f-c5dd-41ff-8eef-930f3e641970","created_at":"2026-09-24T11:29:27.325647Z","updated_at":"2026-09-24T11:29:27.325647Z","subnet":"172.16.80.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"b233069e-08df-4709-ae26-7467ba830b53","vpc_id":"c1eb497b-ea57-4452-bccc-21644b9072dc","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/ed73484c-a331-4ee6-807c-ec5b0b323cb7","id":"ed73484c-a331-4ee6-807c-ec5b0b323cb7","created_at":"2026-09-24T11:29:27.325647Z","updated_at":"2026-09-24T11:29:27.325647Z","subnet":"fd49:821a:a311:87ab::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"b233069e-08df-4709-ae26-7467ba830b53","vpc_id":"c1eb497b-ea57-4452-bccc-21644b9072dc","region":"fr-par"}],"vpc_id":"c1eb497b-ea57-4452-bccc-21644b9072dc","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 736.039917ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b233069e-08df-4709-ae26-7467ba830b53
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/b233069e-08df-4709-ae26-7467ba830b53","id":"b233069e-08df-4709-ae26-7467ba830b53","name":"tf-pn-infallible-ramanujan","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"k8s-acl-order","description":"","tags":[],"version":"1.37.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"b233069e-08df-4709-ae26-7467ba830b53"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"srn":"","region":"fr-par","id":"81d04fe8-9501-49d7-b023-4f06ba27188e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:28.234888Z","updated_at":"2026-09-24T11:29:28.234888Z","type":"kapsule","name":"k8s-acl-order","description":"","status":"creating","version":"1.37.0","cni":"cilium","tags":[],"cluster_url":"https://81d04fe8-9501-49d7-b023-4f06ba27188e.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.81d04fe8-9501-49d7-b023-4f06ba27188e.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"b233069e-08df-4709-ae26-7467ba830b53","commitment_ends_at":"2026-09-24T11:29:28.234896Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 277.74175ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/81d04fe8-9501-49d7-b023-4f06ba27188e
        method: GET
      response:
        body: '{"srn":"","region":"fr-par","id":"81d04fe8-9501-49d7-b023-4f06ba27188e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:28.234888Z","updated_at":"2026-09-24T11:29:28.234888Z","[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/81d04fe8-9501-49d7-b023-4f06ba27188e/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 29.273ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            endpoint:
                - unknown_endpoint
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/81d04fe8-9501-49d7-b023-4f06ba27188e/kubeconfig?endpoint=unknown_endpoint
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtb3JkZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWVJFTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUnJlVTE2UlhoTmFtdDVUMFp2V0VSVVRUSk5SR3Q1VFhwRmVFMXFhM2xQUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNUbnBoZER[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"12.2.3.4/32","description":"First rule"},{"ip":"1.2.3.4/32","description":"Fourth rule"},{"ip":"11.2.3.4/32","description":"Second rule"},{"ip":"1.2.3.7/32","description":"Third rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/81d04fe8-9501-49d7-b023-4f06ba27188e/acls
        method: PUT
      response:
        body: '{"rules":[{"srn":"","id":"9e0dccbb-0527-4a1d-8d1f-40498fc851d3","region":"fr-par","ip":"12.2.3.4/32","description":"First rule"},{"srn":"","id":"e46d8070-d0af-4d4c-81ad-bf2e62531aba","region":"fr-par","ip":"1.2.3.4/32","description":"Fourth rule"},{"srn":"","id":"a61a1d2f-cb9d-49eb-99c9-41c266b63003","region":"fr-par","ip":"11.2.3.4/32","description":"Second rule"},{"srn":"","id":"bee4aac9-9156-42de-a2a7-86a306f5bf35","region":"fr-par","ip":"1.2.3.7/32","description":"Third rule"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.855791ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"0.0.0.0/0","description":"Automatically generated after scaleway_k8s_acl resource deletion"},{"scaleway_ranges":true,"description":"Automatically generated after scaleway_k8s_acl resource deletion"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/81d04fe8-9501-49d7-b023-4f06ba27188e/acls
        method: PUT
      response:
        body: '{"rules":[{"srn":"","id":"6e0d5e5e-be5d-4927-8ca9-34d32d89ba58","region":"fr-par","ip":"0.0.0.0/0","description":"Automatically generated after scaleway_k8s_acl resource deletion"},{"srn":"","id":"39690e25-f40b-472f-9cd7-1853e6ec0f50","region":"fr-par","scaleway_ranges":true,"description":"Automatically generated after scaleway_k8s_acl resource deletion"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.309916ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/81d04fe8-9501-49d7-b023-4f06ba27188e?with_additional_resources=true
        method: DELETE
      response:
        body: '{"srn":"","region":"fr-par","id":"81d04fe8-9501-49d7-b023-4f06ba27188e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:28.234888Z","updated_at":"2026-09-24T11:29:35.567177Z"[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/81d04fe8-9501-49d7-b023-4f06ba27188e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"81d04fe8-9501-49d7-b023-4f06ba27188e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 34.862458ms
[...]
