---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-wonderful-payne","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T13:04:20.309920Z","custom_routes_propagation_enabled":true,"id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a","is_default":false,"name":"tf-vpc-wonderful-payne","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T13:04:20.309920Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.647542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2872e0fd-b4a3-42a5-97cf-063b4e164e1a
        method: GET
      response:
        body: '{"created_at":"2025-09-30T13:04:20.309920Z","custom_routes_propagation_enabled":true,"id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a","is_default":false,"name":"tf-vpc-wonderful-payne","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T13:04:20.309920Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.473917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-eloquent-pascal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T13:04:20.552019Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299","name":"tf-pn-eloquent-pascal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T13:04:20.552019Z","id":"9f686449-8a94-445b-8412-d4fc50a8d7bb","private_network_id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.164.0/22","updated_at":"2025-09-30T13:04:20.552019Z","vpc_id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a"},{"created_at":"2025-09-30T13:04:20.552019Z","id":"683cd010-1297-4a3e-b8c0-12b731fb1567","private_network_id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3ebd::/64","updated_at":"2025-09-30T13:04:20.552019Z","vpc_id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a"}],"tags":[],"updated_at":"2025-09-30T13:04:20.552019Z","vpc_id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 721.225333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c6d6ca3e-7f4f-4455-ac35-8c8ba2875299
        method: GET
      response:
        body: '{"created_at":"2025-09-30T13:04:20.552019Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299","name":"tf-pn-eloquent-pascal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T13:04:20.552019Z","id":"9f686449-8a94-445b-8412-d4fc50a8d7bb","private_network_id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.164.0/22","updated_at":"2025-09-30T13:04:20.552019Z","vpc_id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a"},{"created_at":"2025-09-30T13:04:20.552019Z","id":"683cd010-1297-4a3e-b8c0-12b731fb1567","private_network_id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3ebd::/64","updated_at":"2025-09-30T13:04:20.552019Z","vpc_id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a"}],"tags":[],"updated_at":"2025-09-30T13:04:20.552019Z","vpc_id":"2872e0fd-b4a3-42a5-97cf-063b4e164e1a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.823167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-acl-order","description":"","tags":[],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://73daa9e6-576e-4fa0-af36-930a62b03155.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T13:04:21.773049Z","created_at":"2025-09-30T13:04:21.773040Z","description":"","dns_wildcard":"*.73daa9e6-576e-4fa0-af36-930a62b03155.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"73daa9e6-576e-4fa0-af36-930a62b03155","name":"k8s-acl-order","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"c6d6ca3e-7f4f-4455-ac35-8c8ba2875299","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":[],"type":"kapsule","updated_at":"2025-09-30T13:04:21.773041Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 498.342917ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/73daa9e6-576e-4fa0-af36-930a62b03155
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/73daa9e6-576e-4fa0-af36-930a62b03155/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.124417ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/73daa9e6-576e-4fa0-af36-930a62b03155/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtb3JkZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWVJFTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRVUnJlVTlVUlhwTlJGRjVUVlp2V0VSVVRURk5SR3Q1VDFSRmVrMUVVWGxOVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNTR0ZyV0h[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"12.2.3.4/32","description":"First rule"},{"ip":"1.2.3.4/32","description":"Fourth rule"},{"ip":"11.2.3.4/32","description":"Second rule"},{"ip":"1.2.3.7/32","description":"Third rule"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/73daa9e6-576e-4fa0-af36-930a62b03155/acls
        method: PUT
      response:
        body: '{"rules":[{"description":"First rule","id":"3c95cb31-7af8-40f1-93e9-274cf2628723","ip":"12.2.3.4/32"},{"description":"Fourth rule","id":"a92574d5-5087-4bcc-9a54-e52eca7991f7","ip":"1.2.3.4/32"},{"description":"Second rule","id":"b95fd353-d99e-4a51-b255-cc0deac4cce1","ip":"11.2.3.4/32"},{"description":"Third rule","id":"b44cadca-9cc7-491d-bdff-ad7c630c879c","ip":"1.2.3.7/32"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.642375ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/73daa9e6-576e-4fa0-af36-930a62b03155?with_additional_resources=true
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gro[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/73daa9e6-576e-4fa0-af36-930a62b03155
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"73daa9e6-576e-4fa0-af36-930a62b03155","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.932292ms
[...]
