---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-sad-pascal\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"cccfb611-9890-49c2-b967-2511eb2665c8\", \"name\":\"tf-vpc-sad-pascal\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:50:50.619505Z\", \"updated_at\":\"2025-10-30T16:50:50.619505Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.492872ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cccfb611-9890-49c2-b967-2511eb2665c8
    method: GET
  response:
    body: "{\"id\":\"cccfb611-9890-49c2-b967-2511eb2665c8\", \"name\":\"tf-vpc-sad-pascal\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:50:50.619505Z\", \"updated_at\":\"2025-10-30T16:50:50.619505Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 22.238859ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-affectionate-thompson\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"cccfb611-9890-49c2-b967-2511eb2665c8\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"6bc06c52-da10-46f8-ae86-1282af76c7d2\", \"name\":\"tf-pn-affectionate-thompson\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:50:50.759575Z\", \"updated_at\":\"2025-10-30T16:50:50.759575Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"dfee0834-5780-41ee-a065-29a350443c0a\", \"created_at\":\"2025-10-30T16:50:50.759575Z\", \"updated_at\":\"2025-10-30T16:50:50.759575Z\", \"subnet\":\"172.18.44.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"6bc06c52-da10-46f8-ae86-1282af76c7d2\", \"vpc_id\":\"cccfb611-9890-49c2-b967-2511eb2665c8\"}, {\"id\":\"8c8182d8-1d27-4386-8558-15cb879c648c\", \"created_at\":\"2025-10-30T16:50:50.759575Z\", \"updated_at\":\"2025-10-30T16:50:50.759575Z\", \"subnet\":\"fd5f:519c:6d46:ab81::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"6bc06c52-da10-46f8-ae86-1282af76c7d2\", \"vpc_id\":\"cccfb611-9890-49c2-b967-2511eb2665c8\"}], \"vpc_id\":\"cccfb611-9890-49c2-b967-2511eb2665c8\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 644.244514ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6bc06c52-da10-46f8-ae86-1282af76c7d2
    method: GET
  response:
    body: "{\"id\":\"6bc06c52-da10-46f8-ae86-1282af76c7d2\", \"name\":\"tf-pn-affectionate-thompson\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:50:50.759575Z\", \"updated_at\":\"2025-10-30T16:50:50.759575Z\", \"project_id\":\"105bdce1-64c[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"k8s-acl-order\",\"description\":\"\",\"tags\":[],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"6bc06c52-da10-46f8-ae86-1282af76c7d2\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"beca2e31-8066-4ad3-9f59-33cb1ba81656\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:50:51.665410Z\", \"updated_at\":\"2025-10-30T16:50:51.665410Z\", \"type\":\"kapsule\", \"name\":\"k8s-acl-order\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://beca2e31-8066-4ad3-9f59-33cb1ba81656.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.beca2e31-8066-4ad3-9f59-33cb1ba81656.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"6bc06c52-da10-46f8-ae86-1282af76c7d2\", \"commitment_ends_at\":\"2025-10-30T16:50:51.665418Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 334.218188ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/beca2e31-8066-4ad3-9f59-33cb1ba81656
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"beca2e31-8066-4ad3-9f59-33cb1ba81656\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:50:51.665410Z\", \"updated_at\":\"2025-10-30T16:50:51.665410Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/beca2e31-8066-4ad3-9f59-33cb1ba81656/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.884466ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/beca2e31-8066-4ad3-9f59-33cb1ba81656/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtb3JkZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkJlVTlVUlRKT1ZFRXhUVlp2V0VSVVRURk5WRUY1VDFSRk1rNVVRVEZOVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNTMmx6Vm[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"acls\":[{\"ip\":\"12.2.3.4/32\",\"description\":\"First rule\"},{\"ip\":\"1.2.3.4/32\",\"description\":\"Fourth rule\"},{\"ip\":\"11.2.3.4/32\",\"description\":\"Second rule\"},{\"ip\":\"1.2.3.7/32\",\"description\":\"Third rule\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/beca2e31-8066-4ad3-9f59-33cb1ba81656/acls
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"9245180e-9ffc-498b-ae4b-d933b356e772\", \"ip\":\"12.2.3.4/32\", \"description\":\"First rule\"}, {\"id\":\"e62395b8-be85-456c-98cf-0d7d9c6671af\", \"ip\":\"1.2.3.4/32\", \"description\":\"Fourth rule\"}, {\"id\":\"e24b9c76-8e2d-4d1b-a460-d48414e30902\", \"ip\":\"11.2.3.4/32\", \"description\":\"Second rule\"}, {\"id\":\"f42e128d-2c22-4008-b097-feaefc697301\", \"ip\":\"1.2.3.7/32\", \"description\":\"Third rule\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 57.141625ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/beca2e31-8066-4ad3-9f59-33cb1ba81656?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"beca2e31-8066-4ad3-9f59-33cb1ba81656\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:50:51.665410Z\", \"updated_at\":\"2025-10-30T16:51:34.758899Z\", \"type\"[...]
[...]
- id: 34
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/beca2e31-8066-4ad3-9f59-33cb1ba81656
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"beca2e31-8066-4ad3-9f59-33cb1ba81656\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.201492ms
[...]
