---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-recursing-zhukovsky\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"message\":\"upstream request timeout\"}"
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: 30.019715252s
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-recursing-zhukovsky\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\",\"name\":\"tf-pn-recursing-zhukovsky\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:43.548450Z\",\"updated_at\":\"2025-08-28T14:13:43.548450Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f0098629-6a78-4cc3-8bce-b0d61f2610a3\",\"created_at\":\"2025-08-28T14:13:43.548450Z\",\"updated_at\":\"2025-08-28T14:13:43.548450Z\",\"subnet\":\"172.16.112.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"a64ddd53-5ed8-4452-8908-dd9bf97bc24c\",\"created_at\":\"2025-08-28T14:13:43.548450Z\",\"updated_at\":\"2025-08-28T14:13:43.548450Z\",\"subnet\":\"fde7:767f:1bb5:7b03::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 970.900674ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/29b51b87-5ab0-4728-b4a6-291c37f4da7c
    method: GET
  response:
    body: "{\"id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\",\"name\":\"tf-pn-recursing-zhukovsky\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:43.548450Z\",\"updated_at\":\"2025-08-28T14:13:43.548450Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f0098629-6a78-4cc3-8bce-b0d61f2610a3\",\"created_at\":\"2025-08-28T14:13:43.548450Z\",\"updated_at\":\"2025-08-28T14:13:43.548450Z\",\"subnet\":\"172.16.112.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"a64ddd53-5ed8-4452-8908-dd9bf97bc24c\",\"created_at\":\"2025-08-28T14:13:43.548450Z\",\"updated_at\":\"2025-08-28T14:13:43.548450Z\",\"subnet\":\"fde7:767f:1bb5:7b03::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 26.622656ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"k8s-acl-basic\",\"description\":\"\",\"tags\":[],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"5043f53e-f15f-4cd3-80c1-c91c76191982\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:44.565894Z\",\"updated_at\":\"2025-08-28T14:13:44.565894Z\",\"type\":\"kapsule\",\"name\":\"k8s-acl-basic\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[],\"cluster_url\":\"https://5043f53e-f15f-4cd3-80c1-c91c76191982.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.5043f53e-f15f-4cd3-80c1-c91c76191982.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"29b51b87-5ab0-4728-b4a6-291c37f4da7c\",\"commitment_ends_at\":\"2025-08-28T14:13:44.565902Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 340.710615ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5043f53e-f15f-4cd3-80c1-c91c76191982
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"5043f53e-f15f-4cd3-80c1-c91c76191982\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:44.565894Z\",\"updated_at\":\"2025-08-28T14:13:44.565894Z\",\"type\":\"kapsule[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5043f53e-f15f-4cd3-80c1-c91c76191982/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.156479ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5043f53e-f15f-4cd3-80c1-c91c76191982/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFWjNsT2VrVXdUVlJOTUU1R2IxaEVWRTB4VFVSbmVVNTZSVEJOVkUwd1RrWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUV[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"acls\":[{\"ip\":\"1.2.3.4/32\",\"description\":\"First rule\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5043f53e-f15f-4cd3-80c1-c91c76191982/acls
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"f786ff9d-059c-44a9-a9a3-11d86f8b35c0\",\"ip\":\"1.2.3.4/32\",\"description\":\"First rule\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.274194ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    body: "{\"acls\":[{\"ip\":\"1.2.3.4/32\",\"description\":\"First rule\"},{\"scaleway_ranges\":true,\"description\":\"Scaleway ranges rule\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5043f53e-f15f-4cd3-80c1-c91c76191982/acls
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"705ae311-491a-40fb-81bd-4d17b7b47143\",\"ip\":\"1.2.3.4/32\",\"description\":\"First rule\"},{\"id\":\"cc68d525-4aa9-4a18-b5fe-5ef70fb85809\",\"scaleway_ranges\":true,\"description\":\"Scaleway ranges rule\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.490286ms
[...]
- id: 81
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5043f53e-f15f-4cd3-80c1-c91c76191982?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"5043f53e-f15f-4cd3-80c1-c91c76191982\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:44.565894Z\",\"updated_at\":\"2025-08-28T14:14:26.047239Z\",\"type\":\"kap[...]
[...]
- id: 83
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5043f53e-f15f-4cd3-80c1-c91c76191982
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"5043f53e-f15f-4cd3-80c1-c91c76191982\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.122952ms
[...]
