---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-zen-matsumoto","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-16T12:24:03.923827Z","dhcp_enabled":true,"id":"442c578b-9d85-4be7-992d-2c537212bed2","name":"tf-pn-zen-matsumoto","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-04-16T12:24:03.923827Z","id":"173f7f04-cb9f-456a-bc5e-08f0c258546a","private_network_id":"442c578b-9d85-4be7-992d-2c537212bed2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-04-16T12:24:03.923827Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-04-16T12:24:03.923827Z","id":"69ff4856-a6e0-41d2-a762-b96a6bd20a24","private_network_id":"442c578b-9d85-4be7-992d-2c537212bed2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b8ca::/64","updated_at":"2025-04-16T12:24:03.923827Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-04-16T12:24:03.923827Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 961.102231ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/442c578b-9d85-4be7-992d-2c537212bed2
        method: GET
      response:
        body: '{"created_at":"2025-04-16T12:24:03.923827Z","dhcp_enabled":true,"id":"442c578b-9d85-4be7-992d-2c537212bed2","name":"tf-pn-zen-matsumoto","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-04-16T12:24:03.923827Z","id":"173f7f04-cb9f-456a-bc5e-08f0c258546a","private_network_id":"442c578b-9d85-4be7-992d-2c537212bed2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-04-16T12:24:03.923827Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-04-16T12:24:03.923827Z","id":"69ff4856-a6e0-41d2-a762-b96a6bd20a24","private_network_id":"442c578b-9d85-4be7-992d-2c537212bed2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b8ca::/64","updated_at":"2025-04-16T12:24:03.923827Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-04-16T12:24:03.923827Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.692547ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"k8s-acl-basic","description":"","tags":[],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"442c578b-9d85-4be7-992d-2c537212bed2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://04897873-2342-47f1-92d0-1a4133397707.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-04-16T12:24:06.361426Z","created_at":"2025-04-16T12:24:06.361414Z","description":"","dns_wildcard":"*.04897873-2342-47f1-92d0-1a4133397707.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"04897873-2342-47f1-92d0-1a4133397707","name":"k8s-acl-basic","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"442c578b-9d85-4be7-992d-2c537212bed2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":[],"type":"kapsule","updated_at":"2025-04-16T12:24:06.361415Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.92941764s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04897873-2342-47f1-92d0-1a4133397707
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04897873-2342-47f1-92d0-1a4133397707/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.788434ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04897873-2342-47f1-92d0-1a4133397707/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFVVhoT1ZFVjVUV3BSZDA0eGIxaEVWRTB4VFVSUmVFNVVSWGxOYWxGM1RqRnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04897873-2342-47f1-92d0-1a4133397707/acls
        method: PUT
      response:
        body: '{"rules":[{"description":"First rule","id":"241705f7-9ca4-48d8-a1f4-b79c86ce6328","ip":"1.2.3.4/32"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.02615ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"},{"scaleway_ranges":true,"description":"Scaleway ranges rule"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04897873-2342-47f1-92d0-1a4133397707/acls
        method: PUT
      response:
        body: '{"rules":[{"description":"First rule","id":"b3037539-1165-4c68-810f-a7423adfdfea","ip":"1.2.3.4/32"},{"description":"Scaleway ranges rule","id":"7a72dfd7-939d-4de9-9582-d9e532858625","scaleway_ranges":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.238133ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04897873-2342-47f1-92d0-1a4133397707?with_additional_resources=true
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gro[...]
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04897873-2342-47f1-92d0-1a4133397707
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"04897873-2342-47f1-92d0-1a4133397707","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 621.94834ms
[...]
