---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccACL_Basic\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"f2b1547d-ad40-4a92-b011-01a2c106c24d\", \"name\":\"TestAccACL_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:52:37.588215Z\", \"updated_at\":\"2025-10-30T16:52:37.588215Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.582181ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f2b1547d-ad40-4a92-b011-01a2c106c24d
    method: GET
  response:
    body: "{\"id\":\"f2b1547d-ad40-4a92-b011-01a2c106c24d\", \"name\":\"TestAccACL_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:52:37.588215Z\", \"updated_at\":\"2025-10-30T16:52:37.588215Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.054233ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-stupefied-mendel\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"f2b1547d-ad40-4a92-b011-01a2c106c24d\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"0059c445-4e79-448d-bc80-800c472201a3\", \"name\":\"tf-pn-stupefied-mendel\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:52:38.073538Z\", \"updated_at\":\"2025-10-30T16:52:38.073538Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"cf0c73a4-66f5-46ba-929f-d6f11a04a526\", \"created_at\":\"2025-10-30T16:52:38.073538Z\", \"updated_at\":\"2025-10-30T16:52:38.073538Z\", \"subnet\":\"172.18.40.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"0059c445-4e79-448d-bc80-800c472201a3\", \"vpc_id\":\"f2b1547d-ad40-4a92-b011-01a2c106c24d\"}, {\"id\":\"7a3c640a-ff6b-4df0-825d-58a471e349ea\", \"created_at\":\"2025-10-30T16:52:38.073538Z\", \"updated_at\":\"2025-10-30T16:52:38.073538Z\", \"subnet\":\"fd5f:519c:6d46:d024::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"0059c445-4e79-448d-bc80-800c472201a3\", \"vpc_id\":\"f2b1547d-ad40-4a92-b011-01a2c106c24d\"}], \"vpc_id\":\"f2b1547d-ad40-4a92-b011-01a2c106c24d\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.033514687s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0059c445-4e79-448d-bc80-800c472201a3
    method: GET
  response:
    body: "{\"id\":\"0059c445-4e79-448d-bc80-800c472201a3\", \"name\":\"tf-pn-stupefied-mendel\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:52:38.073538Z\", \"updated_at\":\"2025-10-30T16:52:38.073538Z\", \"project_id\":\"105bdce1-64c0-48a[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"k8s-acl-basic\",\"description\":\"\",\"tags\":[],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"0059c445-4e79-448d-bc80-800c472201a3\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"b1bdbee9-59fd-4200-a17f-1707f915da60\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:52:39.048681Z\", \"updated_at\":\"2025-10-30T16:52:39.048681Z\", \"type\":\"kapsule\", \"name\":\"k8s-acl-basic\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://b1bdbee9-59fd-4200-a17f-1707f915da60.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.b1bdbee9-59fd-4200-a17f-1707f915da60.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"0059c445-4e79-448d-bc80-800c472201a3\", \"commitment_ends_at\":\"2025-10-30T16:52:39.048690Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 351.610541ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b1bdbee9-59fd-4200-a17f-1707f915da60
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"b1bdbee9-59fd-4200-a17f-1707f915da60\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:52:39.048681Z\", \"updated_at\":\"2025-10-30T16:52:39.048681Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b1bdbee9-59fd-4200-a17f-1707f915da60/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.482181ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b1bdbee9-59fd-4200-a17f-1707f915da60/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGFrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkJlVTlVUlRKT1ZFbDZUMVp2V0VSVVRURk5WRUY1VDFSRk1rNVVTWHBQVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNTV2Q0ZU[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"acls\":[{\"ip\":\"1.2.3.4/32\",\"description\":\"First rule\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b1bdbee9-59fd-4200-a17f-1707f915da60/acls
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"07fea4b3-8b3d-46f1-8a47-c70b08a54005\", \"ip\":\"1.2.3.4/32\", \"description\":\"First rule\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.802ms
[...]
- id: 46
  request:
    host: api.scaleway.com
    body: "{\"acls\":[{\"ip\":\"1.2.3.4/32\",\"description\":\"First rule\"},{\"scaleway_ranges\":true,\"description\":\"Scaleway ranges rule\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b1bdbee9-59fd-4200-a17f-1707f915da60/acls
    method: PUT
  response:
    body: "{\"rules\":[{\"id\":\"544b64c6-7053-4e08-b563-6815978ca36c\", \"ip\":\"1.2.3.4/32\", \"description\":\"First rule\"}, {\"id\":\"878cf4fb-ccf4-474e-ae85-824802c99ab7\", \"scaleway_ranges\":true, \"description\":\"Scaleway ranges rule\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 65.311498ms
[...]
- id: 91
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "true"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b1bdbee9-59fd-4200-a17f-1707f915da60?with_additional_resources=true
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"b1bdbee9-59fd-4200-a17f-1707f915da60\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:52:39.048681Z\", \"updated_at\":\"2025-10-30T16:53:31.389434Z\", \"type\"[...]
[...]
- id: 93
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b1bdbee9-59fd-4200-a17f-1707f915da60
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"b1bdbee9-59fd-4200-a17f-1707f915da60\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.002919ms
[...]
