---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.35.1", "label":"Kubernetes 1.35.1", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-01-19T00:00:00Z", "end_of_life_at":"2027-03-19T00:00:00Z", "released_at":"2026-01-19T00:00:00Z"}, {"region":"fr-par", "name":"1.34.4", "label":"Kubernetes 1.34.4", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccACL_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"efcbdcac-eb98-4ffe-a906-28f36226bae9", "name":"TestAccACL_Basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:47:18.619466Z", "updated_at":"2026-02-24T10:47:18.619466Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.32525ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/efcbdcac-eb98-4ffe-a906-28f36226bae9
        method: GET
      response:
        body: '{"id":"efcbdcac-eb98-4ffe-a906-28f36226bae9", "name":"TestAccACL_Basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:47:18.619466Z", "updated_at":"2026-02-24T10:47:18.619466Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.604459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-pedantic-neumann","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"efcbdcac-eb98-4ffe-a906-28f36226bae9","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f", "name":"tf-pn-pedantic-neumann", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:47:18.786204Z", "updated_at":"2026-02-24T10:47:18.786204Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"00cc7af6-a539-4d1e-986b-4dab543d82cf", "created_at":"2026-02-24T10:47:18.786204Z", "updated_at":"2026-02-24T10:47:18.786204Z", "subnet":"172.18.104.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f", "vpc_id":"efcbdcac-eb98-4ffe-a906-28f36226bae9"}, {"id":"e6a5c717-ad0d-4521-806c-732b752296eb", "created_at":"2026-02-24T10:47:18.786204Z", "updated_at":"2026-02-24T10:47:18.786204Z", "subnet":"fd5f:519c:6d46:ad72::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f", "vpc_id":"efcbdcac-eb98-4ffe-a906-28f36226bae9"}], "vpc_id":"efcbdcac-eb98-4ffe-a906-28f36226bae9", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 757.5815ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f
        method: GET
      response:
        body: '{"id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f", "name":"tf-pn-pedantic-neumann", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:47:18.786204Z", "updated_at":"2026-02-24T10:47:18.786204Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"00cc7af6-a539-4d1e-986b-4dab543d82cf", "created_at":"2026-02-24T10:47:18.786204Z", "updated_at":"2026-02-24T10:47:18.786204Z", "subnet":"172.18.104.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f", "vpc_id":"efcbdcac-eb98-4ffe-a906-28f36226bae9"}, {"id":"e6a5c717-ad0d-4521-806c-732b752296eb", "created_at":"2026-02-24T10:47:18.786204Z", "updated_at":"2026-02-24T10:47:18.786204Z", "subnet":"fd5f:519c:6d46:ad72::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f", "vpc_id":"efcbdcac-eb98-4ffe-a906-28f36226bae9"}], "vpc_id":"efcbdcac-eb98-4ffe-a906-28f36226bae9", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.402125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-acl-basic","description":"","tags":[],"version":"1.35.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"474104da-f015-405f-b8a8-f8f48140a033", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:47:19.862052Z", "updated_at":"2026-02-24T10:47:19.862053Z", "type":"kapsule", "name":"k8s-acl-basic", "description":"", "status":"creating", "version":"1.35.1", "cni":"cilium", "tags":[], "cluster_url":"https://474104da-f015-405f-b8a8-f8f48140a033.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.474104da-f015-405f-b8a8-f8f48140a033.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"8bebe9fb-1f6a-4c89-a9ba-0cb09fb5ce0f", "commitment_ends_at":"2026-02-24T10:47:19.862063Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 378.292125ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/474104da-f015-405f-b8a8-f8f48140a033
        method: GET
      response:
        body: '{"region":"fr-par", "id":"474104da-f015-405f-b8a8-f8f48140a033", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-24T10:47:19.862052Z", "updated_at":"2026-02-24T10:47:19.862053Z", "typ[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/474104da-f015-405f-b8a8-f8f48140a033/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.774375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/474104da-f015-405f-b8a8-f8f48140a033/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1hY2wtYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUkplVTE2UlhkT1JHTjRUMVp2V0VSVVRUSk5SRWw1VFhwRmQwNUVZM2hQVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNSVEExV1V[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/474104da-f015-405f-b8a8-f8f48140a033/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"07441ce9-bf6b-45d1-8da7-f11e9a906495", "ip":"1.2.3.4/32", "description":"First rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.7975ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"acls":[{"ip":"1.2.3.4/32","description":"First rule"},{"scaleway_ranges":true,"description":"Scaleway ranges rule"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/474104da-f015-405f-b8a8-f8f48140a033/acls
        method: PUT
      response:
        body: '{"rules":[{"id":"0cf094ca-f1ef-495f-9e46-051ad5da207f", "ip":"1.2.3.4/32", "description":"First rule"}, {"id":"55066af0-a4db-4f2c-ab06-2d7fe75de452", "scaleway_ranges":true, "description":"Scaleway ranges rule"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.235125ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/474104da-f015-405f-b8a8-f8f48140a033?with_additional_resources=true
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"474104da-f015-405f-b8a8-f8f48140a033","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 531.181708ms
[...]
