---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"srn":"","region":"fr-par","name":"1.37.0","label":"Kubernetes 1.37.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-08-28T00:00:00Z","end_of_life_at":"2027-10-28T00:00:00Z","released_at":"2026-08-26T00:00:00Z","additional_components":{}},{"srn":"","region":"fr-par","name":"1.36.4","label":"Kubernetes 1.36.4","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQ[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","id":"4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","name":"TestAccCluster_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:26.652058Z","updated_at":"2026-09-24T11:26:26.652058Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 137.741625ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 8.96475ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","id":"4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","name":"TestAccCluster_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:26.652058Z","updated_at":"2026-09-24T11:26:26.652058Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 30.589ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"test-minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/69f37347-ad08-42c1-a74c-0d3951aa7618","id":"69f37347-ad08-42c1-a74c-0d3951aa7618","name":"test-minimal","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:26.836454Z","updated_at":"2026-09-24T11:26:26.836454Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/98a3cfe2-9d02-4af2-97c5-51e818eaa099","id":"98a3cfe2-9d02-4af2-97c5-51e818eaa099","created_at":"2026-09-24T11:26:26.836454Z","updated_at":"2026-09-24T11:26:26.836454Z","subnet":"172.16.32.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"69f37347-ad08-42c1-a74c-0d3951aa7618","vpc_id":"4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/ef13e8cc-ccc2-447a-ad44-31100a58a751","id":"ef13e8cc-ccc2-447a-ad44-31100a58a751","created_at":"2026-09-24T11:26:26.836454Z","updated_at":"2026-09-24T11:26:26.836454Z","subnet":"fd49:821a:a311:cd2a::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"69f37347-ad08-42c1-a74c-0d3951aa7618","vpc_id":"4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","region":"fr-par"}],"vpc_id":"4157c8cf-3d2c-4e1b-86a0-822d09c9ec6f","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 732.907917ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/69f37347-ad08-42c1-a74c-0d3951aa7618
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/69f37347-ad08-42c1-a74c-0d3951aa7618","id":"69f37347-ad08-42c1-a74c-0d3951aa7618","name":"test-minimal","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:2[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"test-minimal","description":"terraform basic test cluster","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.36.4","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"69f37347-ad08-42c1-a74c-0d3951aa7618"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"srn":"","region":"fr-par","id":"adf13f79-45d3-43c0-9df0-a352dce1381e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:27.762360Z","updated_at":"2026-09-24T11:26:27.762360Z","type":"kapsule","name":"test-minimal","description":"terraform basic test cluster","status":"creating","version":"1.36.4","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://adf13f79-45d3-43c0-9df0-a352dce1381e.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.adf13f79-45d3-43c0-9df0-a352dce1381e.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"69f37347-ad08-42c1-a74c-0d3951aa7618","commitment_ends_at":"2026-09-24T11:26:27.762370Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 275.550584ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/adf13f79-45d3-43c0-9df0-a352dce1381e
        method: GET
      response:
        body: '{"srn":"","region":"fr-par","id":"adf13f79-45d3-43c0-9df0-a352dce1381e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:27.762360Z","updated_at":"2026-09-24T11:26:27.762360Z","[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/adf13f79-45d3-43c0-9df0-a352dce1381e/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 106.9705ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            endpoint:
                - unknown_endpoint
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/adf13f79-45d3-43c0-9df0-a352dce1381e/kubeconfig?endpoint=unknown_endpoint
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbWluaW1hbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVScmVVMTZSWGhOYWxsNVRqRnZXRVJVVFRKTlJHdDVUWHBGZUUxcVdYbE9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1MySTFOVTV[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"description":"","autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/adf13f79-45d3-43c0-9df0-a352dce1381e
        method: PATCH
      response:
        body: '{"srn":"","region":"fr-par","id":"adf13f79-45d3-43c0-9df0-a[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"version":"1.37.0","upgrade_pools":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/adf13f79-45d3-43c0-9df0-a352dce1381e/upgrade
        method: POST
      response:
        body: '{"srn":"","region":"fr-par","id":"adf13f79-45d3-43c0-9df0-a352dce1381e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:27.762360Z","updated_at":"2026-09-24T[...]
[...]
    - id: 39
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/adf13f79-45d3-43c0-9df0-a352dce1381e?with_additional_resources=false
        method: DELETE
      response:
        body: '{"srn":"","region":"fr-par","id":"adf13f79-45d3-43c0-9df0-a352dce1381e","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:26:27.762360Z","updated_at":"2026-09-24T11:26:40.987517[...]
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/adf13f79-45d3-43c0-9df0-a352dce1381e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"adf13f79-45d3-43c0-9df0-a352dce1381e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 23.45125ms
[...]
