---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.3","label":"Kubernetes 1.35.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.6","label":"Kubernetes 1.34.6","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"f26f5fcd-f7be-4106-964a-a63178c820f2","name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:51.209742Z","updated_at":"2026-07-03T09:15:51.209742Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.078657ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f26f5fcd-f7be-4106-964a-a63178c820f2
        method: GET
      response:
        body: '{"id":"f26f5fcd-f7be-4106-964a-a63178c820f2","name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:51.209742Z","updated_at":"2026-07-03T09:15:51.209742Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.590427ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"f26f5fcd-f7be-4106-964a-a63178c820f2","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"17db5fba-02f3-42f3-9699-89ade05ad9b3","name":"k8s-private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:51.313312Z","updated_at":"2026-07-03T09:15:51.313312Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"865c9c8a-f837-40f5-82d2-7ceccc3cd4fe","created_at":"2026-07-03T09:15:51.313312Z","updated_at":"2026-07-03T09:15:51.313312Z","subnet":"172.16.56.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"17db5fba-02f3-42f3-9699-89ade05ad9b3","vpc_id":"f26f5fcd-f7be-4106-964a-a63178c820f2","region":"fr-par"},{"id":"12b7a1a1-e0a2-4cd5-985c-eec83b7bb23e","created_at":"2026-07-03T09:15:51.313312Z","updated_at":"2026-07-03T09:15:51.313312Z","subnet":"fd63:256c:45f7:be2f::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"17db5fba-02f3-42f3-9699-89ade05ad9b3","vpc_id":"f26f5fcd-f7be-4106-964a-a63178c820f2","region":"fr-par"}],"vpc_id":"f26f5fcd-f7be-4106-964a-a63178c820f2","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 637.979192ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/17db5fba-02f3-42f3-9699-89ade05ad9b3
        method: GET
      response:
        body: '{"id":"17db5fba-02f3-42f3-9699-89ade05ad9b3","name":"k8s-private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:51.313312Z","updated_at":"2026-07-03T09:15:51.313312Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"865c9c8a-f837-40f5-82d2-7ceccc3cd4fe","created_at":"2026-07-03T09:15:51.313312Z","updated_at":"2026-07-03T09:15:51.313312Z","subnet":"172.16.56.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"17db5fba-02f3-42f3-9699-89ade05ad9b3","vpc_id":"f26f5fcd-f7be-4106-964a-a63178c820f2","region":"fr-par"},{"id":"12b7a1a1-e0a2-4cd5-985c-eec83b7bb23e","created_at":"2026-07-03T09:15:51.313312Z","updated_at":"2026-07-03T09:15:51.313312Z","subnet":"fd63:256c:45f7:be2f::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"17db5fba-02f3-42f3-9699-89ade05ad9b3","vpc_id":"f26f5fcd-f7be-4106-964a-a63178c820f2","region":"fr-par"}],"vpc_id":"f26f5fcd-f7be-4106-964a-a63178c820f2","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.509611ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.35.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"17db5fba-02f3-42f3-9699-89ade05ad9b3"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"e98f1225-e5a3-4c66-80f3-4066ece75a7f","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:52.132107Z","updated_at":"2026-07-03T09:15:52.132107Z","type":"kapsule","name":"k8s-private-network-cluster","description":"","status":"creating","version":"1.35.3","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"cluster_url":"https://e98f1225-e5a3-4c66-80f3-4066ece75a7f.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.e98f1225-e5a3-4c66-80f3-4066ece75a7f.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"17db5fba-02f3-42f3-9699-89ade05ad9b3","commitment_ends_at":"2026-07-03T09:15:52.132115Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.524446ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e98f1225-e5a3-4c66-80f3-4066ece75a7f
        method: GET
      response:
        body: '{"region":"fr-par","id":"e98f1225-e5a3-4c66-80f3-4066ece75a7f","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:52.132107Z","updated_at":"2026-07-03T09:15:52.132107Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e98f1225-e5a3-4c66-80f3-4066ece75a7f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.672326ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e98f1225-e5a3-4c66-80f3-4066ece75a7f/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSamQwMXFRVFZOVkZVeFRXeHZXRVJVVFRKTlJHTjNUV3BCTlUxVVZURk5iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZ[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e98f1225-e5a3-4c66-80f3-4066ece75a7f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"e98f1225-e5a3-4c66-80f3-4066ece75a7f","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:52.132107Z","updated_at":"2026-07-03T09:15:58.402413Z","type"[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e98f1225-e5a3-4c66-80f3-4066ece75a7f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"e98f1225-e5a3-4c66-80f3-4066ece75a7f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.301741ms
[...]
