---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-romantic-wright","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf","name":"tf-vpc-romantic-wright","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:44:22.325226Z","updated_at":"2026-01-29T16:44:22.325226Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.518291ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f443530a-2cf1-42eb-ad2d-68e70ae94ecf
        method: GET
      response:
        body: '{"id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf","name":"tf-vpc-romantic-wright","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:44:22.325226Z","updated_at":"2026-01-29T16:44:22.325226Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.593375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-type-change","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"1d889915-4f5d-4647-854a-e47bd7e607e9","name":"test-type-change","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:44:22.501581Z","updated_at":"2026-01-29T16:44:22.501581Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"ea465289-b8f3-46c1-bd65-c8c596ee7842","created_at":"2026-01-29T16:44:22.501581Z","updated_at":"2026-01-29T16:44:22.501581Z","subnet":"172.17.36.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"1d889915-4f5d-4647-854a-e47bd7e607e9","vpc_id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf"},{"id":"962b38dc-1ed0-4ad1-83ef-5e5149b5f143","created_at":"2026-01-29T16:44:22.501581Z","updated_at":"2026-01-29T16:44:22.501581Z","subnet":"fd5f:519c:6d46:637b::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"1d889915-4f5d-4647-854a-e47bd7e607e9","vpc_id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf"}],"vpc_id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 803.736ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1d889915-4f5d-4647-854a-e47bd7e607e9
        method: GET
      response:
        body: '{"id":"1d889915-4f5d-4647-854a-e47bd7e607e9","name":"test-type-change","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:44:22.501581Z","updated_at":"2026-01-29T16:44:22.501581Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"ea465289-b8f3-46c1-bd65-c8c596ee7842","created_at":"2026-01-29T16:44:22.501581Z","updated_at":"2026-01-29T16:44:22.501581Z","subnet":"172.17.36.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"1d889915-4f5d-4647-854a-e47bd7e607e9","vpc_id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf"},{"id":"962b38dc-1ed0-4ad1-83ef-5e5149b5f143","created_at":"2026-01-29T16:44:22.501581Z","updated_at":"2026-01-29T16:44:22.501581Z","subnet":"fd5f:519c:6d46:637b::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"1d889915-4f5d-4647-854a-e47bd7e607e9","vpc_id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf"}],"vpc_id":"f443530a-2cf1-42eb-ad2d-68e70ae94ecf","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.387708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"kapsule","name":"test-type-change","description":"","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"version":"1.35.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"1d889915-4f5d-4647-854a-e47bd7e607e9"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"dbc84686-54d8-4f1c-be68-a421bb582575","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:44:23.581744Z","updated_at":"2026-01-29T16:44:23.581744Z","type":"kapsule","name":"test-type-change","description":"","status":"creating","version":"1.35.0","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"cluster_url":"https://dbc84686-54d8-4f1c-be68-a421bb582575.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.dbc84686-54d8-4f1c-be68-a421bb582575.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"1d889915-4f5d-4647-854a-e47bd7e607e9","commitment_ends_at":"2026-01-29T16:44:23.581757Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 453.46275ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575
        method: GET
      response:
        body: '{"region":"fr-par","id":"dbc84686-54d8-4f1c-be68-a421bb582575","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:44:23.581744Z","updated_at":"2026-01-29T16:44:23.692982Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.501541ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtdHlwZS1jaGFuZ2UiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUkZlVTlFUlRKT1JGRjVUVEZ2V0VSVVRUSk5SRVY1VDBSRk1rNUVVWGxOTVc5M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNTSGh[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"name":"kapsule","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kapsule-dedicated-16","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":16000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.931833ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"type":"kapsule-dedicated-4"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575/set-type
        method: POST
      response:
        body: '{"region":"fr-par","id":"dbc84686-54d8-4f1c-be68-a421bb582575","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-4[...]
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575
        method: PATCH
      response:
        body: '{"region":"fr-par","id":"dbc84686-54d8-4f1c-be68-a421bb5825[...]
[...]
    - id: 185
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"dbc84686-54d8-4f1c-be68-a421bb582575","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:44:23.581744Z","updated_at":"2026-01-29T16:55:17.616944Z","type"[...]
[...]
    - id: 187
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dbc84686-54d8-4f1c-be68-a421bb582575
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"dbc84686-54d8-4f1c-be68-a421bb582575","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.860167ms
[...]
    - id: 190
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"multicloud-dedicated-4","name":"test-type-change","description":"","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"version":"1.35.0","cni":"kilo","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"details":[{"argument_name":"version","help_message":"creating Kosmos clusters with Kubernetes 1.35+ is not yet supported","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 94.308542ms
