---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.36.1", "label":"Kubernetes 1.36.1", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-07-07T00:00:00Z", "end_of_life_at":"2027-09-07T00:00:00Z", "released_at":"2026-07-07T00:00:00Z"}, {"region":"fr-par", "name":"1.35.3", "label":"Kubernetes 1.35.3", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-autoscaling","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"id":"ccce88b6-8bc7-4896-867b-dcb5704fcc53", "name":"test-cluster-autoscaling", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-07T12:43:32.708637Z", "updated_at":"2026-08-07T12:43:32.708637Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.880366ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/ccce88b6-8bc7-4896-867b-dcb5704fcc53
        method: GET
      response:
        body: '{"id":"ccce88b6-8bc7-4896-867b-dcb5704fcc53", "name":"test-cluster-autoscaling", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-07T12:43:32.708637Z", "updated_at":"2026-08-07T12:43:32.708637Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.795347ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-autoscaling","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"ccce88b6-8bc7-4896-867b-dcb5704fcc53","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"id":"f21a8e85-5310-4e83-9542-aaa357cc3656", "name":"test-cluster-autoscaling", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-07T12:43:32.966818Z", "updated_at":"2026-08-07T12:43:32.966818Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"bd748a69-587f-488c-9d32-9c8d2ab1dac7", "created_at":"2026-08-07T12:43:32.966818Z", "updated_at":"2026-08-07T12:43:32.966818Z", "subnet":"172.16.8.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"f21a8e85-5310-4e83-9542-aaa357cc3656", "vpc_id":"ccce88b6-8bc7-4896-867b-dcb5704fcc53", "region":"nl-ams"}, {"id":"060fc98b-e5b8-4504-bdf3-d809abe34723", "created_at":"2026-08-07T12:43:32.966818Z", "updated_at":"2026-08-07T12:43:32.966818Z", "subnet":"fd68:d440:21c4:5c39::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"f21a8e85-5310-4e83-9542-aaa357cc3656", "vpc_id":"ccce88b6-8bc7-4896-867b-dcb5704fcc53", "region":"nl-ams"}], "vpc_id":"ccce88b6-8bc7-4896-867b-dcb5704fcc53", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_s3_integration":false, "region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.644816ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/f21a8e85-5310-4e83-9542-aaa357cc3656
        method: GET
      response:
        body: '{"id":"f21a8e85-5310-4e83-9542-aaa357cc3656", "name":"test-cluster-autoscaling", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-07T12:43:32.966818Z", "updated_at":"2026-08-07T12:43:32.966818Z", "project_id":"fa1e3217[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-cluster-autoscaling","description":"","tags":["terraform-test","scaleway_k8s_cluster","autoscaling"],"version":"1.36.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337,"skip_nodes_with_local_storage":false,"log_level":4},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"f21a8e85-5310-4e83-9542-aaa357cc3656"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters
        method: POST
      response:
        body: '{"region":"nl-ams", "id":"c62b27a8-5ee4-4280-9aba-b15a6a143a59", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-07T12:43:33.889560Z", "updated_at":"2026-08-07T12:43:33.889560Z", "type":"kapsule", "name":"test-cluster-autoscaling", "description":"", "status":"creating", "version":"1.36.1", "cni":"cilium", "tags":["terraform-test", "scaleway_k8s_cluster", "autoscaling"], "cluster_url":"https://c62b27a8-5ee4-4280-9aba-b15a6a143a59.api.k8s.nl-ams.scw.cloud:6443", "dns_wildcard":"*.c62b27a8-5ee4-4280-9aba-b15a6a143a59.nodes.k8s.nl-ams.scw.cloud", "autoscaler_config":{"scale_down_disabled":true, "scale_down_delay_after_add":"20m", "estimator":"binpacking", "expander":"most_pods", "ignore_daemonsets_utilization":true, "balance_similar_node_groups":true, "expendable_pods_priority_cutoff":10, "scale_down_unneeded_time":"20m", "scale_down_utilization_threshold":0.77, "max_graceful_termination_sec":1337, "skip_nodes_with_local_storage":false, "log_level":4}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"f21a8e85-5310-4e83-9542-aaa357cc3656", "commitment_ends_at":"2026-08-07T12:43:33.889568Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.975211ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c62b27a8-5ee4-4280-9aba-b15a6a143a59
        method: GET
      response:
        body: '{"region":"nl-ams", "id":"c62b27a8-5ee4-4280-9aba-b15a6a143a59", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-07T12:43:33.889560Z", "updated_at":"2026-08-07T12:43:33.889560Z", "typ[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c62b27a8-5ee4-4280-9aba-b15a6a143a59/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.104099ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c62b27a8-5ee4-4280-9aba-b15a6a143a59/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtY2x1c3Rlci1hdXRvc2NhbGluZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpZUkVORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSbmQwNXFSWGxPUkUxNlRURnZXRVJVVFRKTlJHZDNUbXBGZVU1RVRYcE5NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m","scale_down_utilization_threshold":0.33,"max_graceful_termination_sec":2664,"skip_nodes_with_local_storage":false,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c62b27a8-5ee4-4280-9aba-b15a6a143a59
        method: PATCH
      response:
        body: '{"region":"nl-ams", "id":"c62b27a8-5ee4-4280-9aba-b15a6a143[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c62b27a8-5ee4-4280-9aba-b15a6a143a59?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"nl-ams", "id":"c62b27a8-5ee4-4280-9aba-b15a6a143a59", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-08-07T12:43:33.889560Z", "updated_at":"2026-08-07T12:43:42.013036Z", [...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c62b27a8-5ee4-4280-9aba-b15a6a143a59
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c62b27a8-5ee4-4280-9aba-b15a6a143a59","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.540482ms
[...]
