---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterConfigAutoscaler","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"id":"01731e79-5560-47a6-ac9d-ae26545bc6b6","name":"testAccCheckK8SClusterConfigAutoscaler","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:16.426680Z","updated_at":"2026-01-29T16:43:16.426680Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.138625ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/01731e79-5560-47a6-ac9d-ae26545bc6b6
        method: GET
      response:
        body: '{"id":"01731e79-5560-47a6-ac9d-ae26545bc6b6","name":"testAccCheckK8SClusterConfigAutoscaler","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:16.426680Z","updated_at":"2026-01-29T16:43:16.426680Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.665459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-autoscaler","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"01731e79-5560-47a6-ac9d-ae26545bc6b6","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c","name":"test-autoscaler","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:16.802213Z","updated_at":"2026-01-29T16:43:16.802213Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"a359e478-cfcc-4cd7-b3c8-f3745d065846","created_at":"2026-01-29T16:43:16.802213Z","updated_at":"2026-01-29T16:43:16.802213Z","subnet":"172.16.12.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c","vpc_id":"01731e79-5560-47a6-ac9d-ae26545bc6b6"},{"id":"86dceff1-d112-4c6a-8858-10e5495fd180","created_at":"2026-01-29T16:43:16.802213Z","updated_at":"2026-01-29T16:43:16.802213Z","subnet":"fd5c:d510:d730:3c66::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c","vpc_id":"01731e79-5560-47a6-ac9d-ae26545bc6b6"}],"vpc_id":"01731e79-5560-47a6-ac9d-ae26545bc6b6","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 797.47625ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/19a5240c-7c96-4f49-86ae-68ed888a0c4c
        method: GET
      response:
        body: '{"id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c","name":"test-autoscaler","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:16.802213Z","updated_at":"2026-01-29T16:43:16.802213Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"a359e478-cfcc-4cd7-b3c8-f3745d065846","created_at":"2026-01-29T16:43:16.802213Z","updated_at":"2026-01-29T16:43:16.802213Z","subnet":"172.16.12.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c","vpc_id":"01731e79-5560-47a6-ac9d-ae26545bc6b6"},{"id":"86dceff1-d112-4c6a-8858-10e5495fd180","created_at":"2026-01-29T16:43:16.802213Z","updated_at":"2026-01-29T16:43:16.802213Z","subnet":"fd5c:d510:d730:3c66::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c","vpc_id":"01731e79-5560-47a6-ac9d-ae26545bc6b6"}],"vpc_id":"01731e79-5560-47a6-ac9d-ae26545bc6b6","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.965166ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-autoscaler-01","description":"","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"version":"1.35.0","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters
        method: POST
      response:
        body: '{"region":"nl-ams","id":"738358bb-32b2-44de-814b-bd9017dc6fd4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:17.920729Z","updated_at":"2026-01-29T16:43:17.920729Z","type":"kapsule","name":"test-autoscaler-01","description":"","status":"creating","version":"1.35.0","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"cluster_url":"https://738358bb-32b2-44de-814b-bd9017dc6fd4.api.k8s.nl-ams.scw.cloud:6443","dns_wildcard":"*.738358bb-32b2-44de-814b-bd9017dc6fd4.nodes.k8s.nl-ams.scw.cloud","autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"19a5240c-7c96-4f49-86ae-68ed888a0c4c","commitment_ends_at":"2026-01-29T16:43:17.920738Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.842291ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/738358bb-32b2-44de-814b-bd9017dc6fd4
        method: GET
      response:
        body: '{"region":"nl-ams","id":"738358bb-32b2-44de-814b-bd9017dc6fd4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:17.920729Z","updated_at":"2026-01-29T16:43:17.920729Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/738358bb-32b2-44de-814b-bd9017dc6fd4/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.815583ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/738358bb-32b2-44de-814b-bd9017dc6fd4/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0b3NjYWxlci0wMSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSRmVVOUVSVEpPUkUxNFRqRnZXRVJVVFRKTlJFVjVUMFJGTWs1RVRYaE9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1M[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"test-autoscaler-02","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m","scale_down_utilization_threshold":0.33,"max_graceful_termination_sec":2664},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/738358bb-32b2-44de-814b-bd9017dc6fd4
        method: PATCH
      response:
        body: '{"region":"nl-ams","id":"738358bb-32b2-44de-814b-bd9017dc6f[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/738358bb-32b2-44de-814b-bd9017dc6fd4?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"nl-ams","id":"738358bb-32b2-44de-814b-bd9017dc6fd4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:17.920729Z","updated_at":"2026-01-29T16:43:27.850149Z","type"[...]
[...]
    - id: 35
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/738358bb-32b2-44de-814b-bd9017dc6fd4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"738358bb-32b2-44de-814b-bd9017dc6fd4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.606208ms
[...]
