---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-autoscaler","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T15:50:21.200044Z","dhcp_enabled":true,"id":"bb3caf20-9897-4fc1-924f-e3485b452b64","name":"test-autoscaler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-08T15:50:21.200044Z","id":"c59bb87a-8e1d-4d38-aab1-85075784f9e0","subnet":"172.16.8.0/22","updated_at":"2024-04-08T15:50:21.200044Z"},{"created_at":"2024-04-08T15:50:21.200044Z","id":"ba20417a-56a5-4155-9973-6a776287bbe2","subnet":"fd5c:d510:d730:2e59::/64","updated_at":"2024-04-08T15:50:21.200044Z"}],"tags":[],"updated_at":"2024-04-08T15:50:21.200044Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 588.123115ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/bb3caf20-9897-4fc1-924f-e3485b452b64
        method: GET
      response:
        body: '{"created_at":"2024-04-08T15:50:21.200044Z","dhcp_enabled":true,"id":"bb3caf20-9897-4fc1-924f-e3485b452b64","name":"test-autoscaler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-08T15:50:21.200044Z","id":"c59bb87a-8e1d-4d38-aab1-85075784f9e0","subnet":"172.16.8.0/22","updated_at":"2024-04-08T15:50:21.200044Z"},{"created_at":"2024-04-08T15:50:21.200044Z","id":"ba20417a-56a5-4155-9973-6a776287bbe2","subnet":"fd5c:d510:d730:2e59::/64","updated_at":"2024-04-08T15:50:21.200044Z"}],"tags":[],"updated_at":"2024-04-08T15:50:21.200044Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.87535ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-autoscaler-01","description":"","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"bb3caf20-9897-4fc1-924f-e3485b452b64"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":true,"estimator":"binpacking","expander":"most_pods","expendable_pods_priority_cutoff":10,"ignore_daemonsets_utilization":true,"max_graceful_termination_sec":1337,"scale_down_delay_after_add":"20m","scale_down_disabled":true,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77},"cluster_url":"https://8c6fc516-808a-4889-8a26-282562b73d72.api.k8s.nl-ams.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-08T15:50:21.999687933Z","created_at":"2024-04-08T15:50:21.999687933Z","description":"","dns_wildcard":"*.8c6fc516-808a-4889-8a26-282562b73d72.nodes.k8s.nl-ams.scw.cloud","feature_gates":[],"id":"8c6fc516-808a-4889-8a26-282562b73d72","name":"test-autoscaler-01","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"bb3caf20-9897-4fc1-924f-e3485b452b64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"type":"kapsule","updated_at":"2024-04-08T15:50:22.021561724Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.151723ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8c6fc516-808a-4889-8a26-282562b73d72
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":true,"estimator":"binpacking","expander":"most_pods[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8c6fc516-808a-4889-8a26-282562b73d72/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.109527ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8c6fc516-808a-4889-8a26-282562b73d72/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0b3NjYWxlci0wMSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVVWGRPZWtVeFRsUkJlVTB4YjFoRVZFMHdUVVJSZDA1NlJURk9WRUY1VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"name":"test-autoscaler-02","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m","scale_down_utilization_threshold":0.33,"max_graceful_termination_sec":2664},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8c6fc516-808a-4889-8a26-282562b73d72
        method: PATCH
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sa[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8c6fc516-808a-4889-8a26-282562b73d72?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimato[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8c6fc516-808a-4889-8a26-282562b73d72
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"8c6fc516-808a-4889-8a26-282562b73d72","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.886503ms
[...]
