---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"srn":"","region":"fr-par","name":"1.37.0","label":"Kubernetes 1.37.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-08-28T00:00:00Z","end_of_life_at":"2027-10-28T00:00:00Z","released_at":"2026-08-26T00:00:00Z","additional_components":{}},{"srn":"","region":"fr-par","name":"1.36.4","label":"Kubernetes 1.36.4","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQ[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-oidc-config","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/69bbd061-13d1-44e5-b92a-0c6e4dd1c983","id":"69bbd061-13d1-44e5-b92a-0c6e4dd1c983","name":"test-cluster-oidc-config","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:50.024462Z","updated_at":"2026-09-24T11:28:50.024462Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 126.140625ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.164417ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/69bbd061-13d1-44e5-b92a-0c6e4dd1c983
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/69bbd061-13d1-44e5-b92a-0c6e4dd1c983","id":"69bbd061-13d1-44e5-b92a-0c6e4dd1c983","name":"test-cluster-oidc-config","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:50.024462Z","updated_at":"2026-09-24T11:28:50.024462Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.329166ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-oidc-config","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"69bbd061-13d1-44e5-b92a-0c6e4dd1c983","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/11088a06-d062-445f-b333-4a6fa925a53d","id":"11088a06-d062-445f-b333-4a6fa925a53d","name":"test-cluster-oidc-config","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:50.188593Z","updated_at":"2026-09-24T11:28:50.188593Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/1ae2d9ad-f14c-485a-9fad-47defe5769e2","id":"1ae2d9ad-f14c-485a-9fad-47defe5769e2","created_at":"2026-09-24T11:28:50.188593Z","updated_at":"2026-09-24T11:28:50.188593Z","subnet":"172.16.88.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"11088a06-d062-445f-b333-4a6fa925a53d","vpc_id":"69bbd061-13d1-44e5-b92a-0c6e4dd1c983","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/98b9941e-cd19-4190-aa21-fd3d898e0cfe","id":"98b9941e-cd19-4190-aa21-fd3d898e0cfe","created_at":"2026-09-24T11:28:50.188593Z","updated_at":"2026-09-24T11:28:50.188593Z","subnet":"fd49:821a:a311:7124::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"11088a06-d062-445f-b333-4a6fa925a53d","vpc_id":"69bbd061-13d1-44e5-b92a-0c6e4dd1c983","region":"fr-par"}],"vpc_id":"69bbd061-13d1-44e5-b92a-0c6e4dd1c983","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 621.061833ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/11088a06-d062-445f-b333-4a6fa925a53d
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/11088a06-d062-445f-b333-4a6fa925a53d","id":"11088a06-d062-445f-b333-4a6fa925a53d","name":"test-cluster-oidc-config","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-0[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"test-cluster-oidc-config","description":"","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"version":"1.37.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://accounts.google.com","client_id":"my-super-id","username_claim":"mario","username_prefix":null,"groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":null},"apiserver_cert_sans":[],"private_network_id":"11088a06-d062-445f-b333-4a6fa925a53d"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"srn":"","region":"fr-par","id":"8fd72c92-7682-4ef4-9ee9-da4e8100213c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:51.000022Z","updated_at":"2026-09-24T11:28:51.000022Z","type":"kapsule","name":"test-cluster-oidc-config","description":"","status":"creating","version":"1.37.0","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"cluster_url":"https://8fd72c92-7682-4ef4-9ee9-da4e8100213c.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.8fd72c92-7682-4ef4-9ee9-da4e8100213c.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://accounts.google.com","client_id":"my-super-id","username_claim":"mario","username_prefix":"","groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"11088a06-d062-445f-b333-4a6fa925a53d","commitment_ends_at":"2026-09-24T11:28:51.000032Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 259.950792ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8fd72c92-7682-4ef4-9ee9-da4e8100213c
        method: GET
      response:
        body: '{"srn":"","region":"fr-par","id":"8fd72c92-7682-4ef4-9ee9-da4e8100213c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:51.000022Z","updated_at":"2026-09-24T11:28:51.000022Z","[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8fd72c92-7682-4ef4-9ee9-da4e8100213c/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.925875ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"open_id_connect_config":{"issuer_url":"https://accounts.google.com/","client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8fd72c92-7682-4ef4-9ee9-da4e8100213c
        method: PATCH
      response:
     [...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            endpoint:
                - unknown_endpoint
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8fd72c92-7682-4ef4-9ee9-da4e8100213c/kubeconfig?endpoint=unknown_endpoint
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtY2x1c3Rlci1vaWRjLWNvbmZpZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVScmVVMTZSWGhOYW1jeFRWWnZXRVJVVFRKTlJHdDVUWHBGZUUxcVp6Rk5WbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":"https://gitlab.com","client_id":"my-even-more-awesome-id","username_claim":"luigi","username_prefix":"boo","groups_claim":[],"groups_prefix":"","required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8fd72c92-7682-4ef4-9ee9-da4e8100213c
        method: PATCH
      response:
        body: '{"srn":"","region":"fr[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8fd72c92-7682-4ef4-9ee9-da4e8100213c?with_additional_resources=false
        method: DELETE
      response:
        body: '{"srn":"","region":"fr-par","id":"8fd72c92-7682-4ef4-9ee9-da4e8100213c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:51.000022Z","updated_at":"2026-09-24T11:29:03.785133[...]
[...]
    - id: 36
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8fd72c92-7682-4ef4-9ee9-da4e8100213c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"8fd72c92-7682-4ef4-9ee9-da4e8100213c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 29.111584ms
[...]
