---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterAutoUpgrade","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:08:38.965021Z","custom_routes_propagation_enabled":true,"id":"cab1333e-6709-4caa-889e-c68e2379734a","is_default":false,"name":"testAccCheckK8SClusterAutoUpgrade","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:08:38.965021Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.947291ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cab1333e-6709-4caa-889e-c68e2379734a
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:08:38.965021Z","custom_routes_propagation_enabled":true,"id":"cab1333e-6709-4caa-889e-c68e2379734a","is_default":false,"name":"testAccCheckK8SClusterAutoUpgrade","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:08:38.965021Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.726417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-auto-upgrade","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"cab1333e-6709-4caa-889e-c68e2379734a","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:08:39.155239Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8c7b7682-eab4-49e3-b597-20c0a425926e","name":"test-auto-upgrade","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:08:39.155239Z","id":"7dea2fc4-7f75-4ef6-9613-1c02220b34c0","private_network_id":"8c7b7682-eab4-49e3-b597-20c0a425926e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.148.0/22","updated_at":"2025-09-30T14:08:39.155239Z","vpc_id":"cab1333e-6709-4caa-889e-c68e2379734a"},{"created_at":"2025-09-30T14:08:39.155239Z","id":"87483877-27b6-4707-b634-334f9e4ea592","private_network_id":"8c7b7682-eab4-49e3-b597-20c0a425926e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3569::/64","updated_at":"2025-09-30T14:08:39.155239Z","vpc_id":"cab1333e-6709-4caa-889e-c68e2379734a"}],"tags":[],"updated_at":"2025-09-30T14:08:39.155239Z","vpc_id":"cab1333e-6709-4caa-889e-c68e2379734a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 671.472709ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8c7b7682-eab4-49e3-b597-20c0a425926e
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:08:39.155239Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"8c7b7682-eab4-49e3-b597-20c0a425926e","name":"test-auto-upgrade","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:08:39.155239Z","id":"7dea2fc4-7f75-4ef6-9613-1c02220b34c0","private_network_id":"8c7b7682-eab4-49e3-b597-20c0a425926e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.148.0/22","updated_at":"2025-09-30T14:08:39.155239Z","vpc_id":"cab1333e-6709-4caa-889e-c68e2379734a"},{"created_at":"2025-09-30T14:08:39.155239Z","id":"87483877-27b6-4707-b634-334f9e4ea592","private_network_id":"8c7b7682-eab4-49e3-b597-20c0a425926e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3569::/64","updated_at":"2025-09-30T14:08:39.155239Z","vpc_id":"cab1333e-6709-4caa-889e-c68e2379734a"}],"tags":[],"updated_at":"2025-09-30T14:08:39.155239Z","vpc_id":"cab1333e-6709-4caa-889e-c68e2379734a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.007291ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-auto-upgrade","description":"","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"version":"1.33.4","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":false,"maintenance_window":{"start_hour":0,"day":"any"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"8c7b7682-eab4-49e3-b597-20c0a425926e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://b5256091-67fe-4d67-b8ce-8145f469e04f.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-09-30T14:08:40.212660Z","created_at":"2025-09-30T14:08:40.212652Z","description":"","dns_wildcard":"*.b5256091-67fe-4d67-b8ce-8145f469e04f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"b5256091-67fe-4d67-b8ce-8145f469e04f","name":"test-auto-upgrade","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"8c7b7682-eab4-49e3-b597-20c0a425926e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"type":"kapsule","updated_at":"2025-09-30T14:08:40.212652Z","upgrade_available":true,"version":"1.33.4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.907458ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5256091-67fe-4d67-b8ce-8145f469e04f
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5256091-67fe-4d67-b8ce-8145f469e04f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.016958ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5256091-67fe-4d67-b8ce-8145f469e04f/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0by11cGdyYWRlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSllSRU5EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVVJyZVU5VVJUQk5SR2N3VFVadldFUlVUVEZOUkd0NVQxUkZNRTFFWnpCTlJtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVDJ[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":true,"maintenance_window":null},"ope[...]
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"version":"1.34.1","upgrade_pools":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5256091-67fe-4d67-b8ce-8145f469e04f/upgrade
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5256091-67fe-4d67-b8ce-8145f469e04f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gro[...]
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b5256091-67fe-4d67-b8ce-8145f469e04f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"b5256091-67fe-4d67-b8ce-8145f469e04f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.311875ms
[...]
