---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-vigorous-cannon","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:20.268698Z","custom_routes_propagation_enabled":true,"id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034","is_default":false,"name":"tf-vpc-vigorous-cannon","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:20.268698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.839208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a5cd8dff-ed19-4db5-a986-e55bbe4fa034
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:20.268698Z","custom_routes_propagation_enabled":true,"id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034","is_default":false,"name":"tf-vpc-vigorous-cannon","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:20.268698Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.275125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-type-change","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:20.398218Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"04329939-ef6e-4e34-936a-b41177a6938f","name":"test-type-change","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:20.398218Z","id":"28e7c81b-0f16-42e1-b502-684f65d82bfa","private_network_id":"04329939-ef6e-4e34-936a-b41177a6938f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.192.0/22","updated_at":"2025-09-30T09:22:20.398218Z","vpc_id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034"},{"created_at":"2025-09-30T09:22:20.398218Z","id":"57d0f67e-55fb-4b01-bb22-f7943ffdfd31","private_network_id":"04329939-ef6e-4e34-936a-b41177a6938f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:391a::/64","updated_at":"2025-09-30T09:22:20.398218Z","vpc_id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034"}],"tags":[],"updated_at":"2025-09-30T09:22:20.398218Z","vpc_id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 633.68775ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/04329939-ef6e-4e34-936a-b41177a6938f
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:20.398218Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"04329939-ef6e-4e34-936a-b41177a6938f","name":"test-type-change","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:20.398218Z","id":"28e7c81b-0f16-42e1-b502-684f65d82bfa","private_network_id":"04329939-ef6e-4e34-936a-b41177a6938f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.192.0/22","updated_at":"2025-09-30T09:22:20.398218Z","vpc_id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034"},{"created_at":"2025-09-30T09:22:20.398218Z","id":"57d0f67e-55fb-4b01-bb22-f7943ffdfd31","private_network_id":"04329939-ef6e-4e34-936a-b41177a6938f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:391a::/64","updated_at":"2025-09-30T09:22:20.398218Z","vpc_id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034"}],"tags":[],"updated_at":"2025-09-30T09:22:20.398218Z","vpc_id":"a5cd8dff-ed19-4db5-a986-e55bbe4fa034"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.640792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"kapsule","name":"test-type-change","description":"","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"04329939-ef6e-4e34-936a-b41177a6938f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://764def72-38d6-486d-ae4d-dca8a8abfb81.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T09:22:21.329695Z","created_at":"2025-09-30T09:22:21.329687Z","description":"","dns_wildcard":"*.764def72-38d6-486d-ae4d-dca8a8abfb81.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"764def72-38d6-486d-ae4d-dca8a8abfb81","name":"test-type-change","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"04329939-ef6e-4e34-936a-b41177a6938f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"type":"kapsule","updated_at":"2025-09-30T09:22:21.329687Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 345.801042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.60725ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtdHlwZS1jaGFuZ2UiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGFrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRVUnJlVTlVUVRWTmFrbDVUVlp2V0VSVVRURk5SR3Q1VDFSQk5VMXFTWGxOVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNTRFJ[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_etcd_size":55000000,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.84175ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"type":"kapsule-dedicated-4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81/set-type
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"a[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/764def72-38d6-486d-ae4d-dca8a8abfb81
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"764def72-38d6-486d-ae4d-dca8a8abfb81","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.5905ms
[...]
