---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"multicloud","name":"test-multicloud","description":"","tags":[],"version":"1.31.2","cni":"kilo","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://0c660fcc-ca16-4e6a-8a72-3023e992aa33.api.k8s.fr-par.scw.cloud:6443","cni":"kilo","commitment_ends_at":"2025-01-24T14:46:52.405132Z","created_at":"2025-01-24T14:46:52.405120Z","description":"","dns_wildcard":"*.0c660fcc-ca16-4e6a-8a72-3023e992aa33.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"0c660fcc-ca16-4e6a-8a72-3023e992aa33","name":"test-multicloud","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":[],"type":"multicloud","updated_at":"2025-01-24T14:46:52.405120Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.547496083s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c660fcc-ca16-4e6a-8a72-3023e992aa33
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c660fcc-ca16-4e6a-8a72-3023e992aa33/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbXVsdGljbG91ZCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVSWGxOZWtVd1RrUlpNVTB4YjFoRVZFMHhUVVJGZVUxNlJUQk9SRmt4VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"name":"test-multicloud","node_type":"DEV1-M","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c660fcc-ca16-4e6a-8a72-3023e992aa33/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"0c660fcc-ca16-4e6a-8a72-3023e992aa33","container_runtime":"containerd","created_at":"2025-01-24T14:48:44.745724Z","id":"4c4a2566-7740-4026-9346-ada5fffa99b0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-multicloud","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:48:44.745724Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.750208ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/4c4a2566-7740-4026-9346-ada5fffa99b0
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"0c660fcc-ca16-4e6a-8a72-3023e992aa33","container_runtime":"containerd","created_at":"2025-01-24T14:48:44.745724Z","id":"4c4a2566-7740-4026-9346-ada5fffa99b0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-multicloud","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:48:44.745724Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.035917ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c660fcc-ca16-4e6a-8a72-3023e992aa33/nodes?order_by=created_at_asc&page=1&pool_id=4c4a2566-7740-4026-9346-ada5fffa99b0&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0c660fcc-ca16-4e6a-8a72-3023e992aa33","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-01-24T14:48:45.325175Z","error_message":"","id":"86fa92c6-f20a-4b29-839c-acfb73664b11","name":"scw-test-multicloud-test-multicloud-86fa92c6f2","pool_id":"4c4a2566-7740-4026-9346-ada5fffa99b0","provider_id":"scaleway://instance/fr-par-1/f6f0913b-6dcb-4b0e-b393-7711b378387b","public_ip_v4":"163.172.145.106","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:21.253647Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.17825ms
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/4c4a2566-7740-4026-9346-ada5fffa99b0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"4c4a2566-7740-4026-9346-ada5fffa99b0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 219.319583ms
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c660fcc-ca16-4e6a-8a72-3023e992aa33?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
