---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"8e9364ec-6d40-4592-a354-c4db75699fb2","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8e9364ec-6d40-4592-a354-c4db75699fb2
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8e9364ec-6d40-4592-a354-c4db75699fb2
    method: GET
  response:
    body: '{"placement_group":{"id":"8e9364ec-6d40-4592-a354-c4db75699fb2","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:05:44.085486Z","dhcp_enabled":true,"id":"394cd884-a684-4686-8d91-450ac3f1817b","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:05:44.085486Z","id":"a61da39c-7dc3-4edb-b97b-26b1ff5da17d","subnet":"172.16.28.0/22","updated_at":"2024-02-28T14:05:44.085486Z"},{"created_at":"2024-02-28T14:05:44.085486Z","id":"b3206b11-821c-43a3-bbdb-5a62feafba80","subnet":"fd5f:519c:6d46:3f36::/64","updated_at":"2024-02-28T14:05:44.085486Z"}],"tags":[],"updated_at":"2024-02-28T14:05:44.085486Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/394cd884-a684-4686-8d91-450ac3f1817b
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:05:44.085486Z","dhcp_enabled":true,"id":"394cd884-a684-4686-8d91-450ac3f1817b","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:05:44.085486Z","id":"a61da39c-7dc3-4edb-b97b-26b1ff5da17d","subnet":"172.16.28.0/22","updated_at":"2024-02-28T14:05:44.085486Z"},{"created_at":"2024-02-28T14:05:44.085486Z","id":"b3206b11-821c-43a3-bbdb-5a62feafba80","subnet":"fd5f:519c:6d46:3f36::/64","updated_at":"2024-02-28T14:05:44.085486Z"}],"tags":[],"updated_at":"2024-02-28T14:05:44.085486Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"394cd884-a684-4686-8d91-450ac3f1817b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2983c052-b6bf-451a-bc39-aa5a536da092.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-02-28T14:05:45.596207050Z","created_at":"2024-02-28T14:05:45.596207050Z","description":"","dns_wildcard":"*.2983c052-b6bf-451a-bc39-aa5a536da092.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"2983c052-b6bf-451a-bc39-aa5a536da092","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"394cd884-a684-4686-8d91-450ac3f1817b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2024-02-28T14:05:45.611799397Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2983c052-b6bf-451a-bc39-aa5a536da092
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2983c052-b6bf-451a-bc39-aa5a536da092/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2983c052-b6bf-451a-bc39-aa5a536da092/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFU1hsT2VrVXdUVVJWTUU0eGIxaEVWRTB3VFVSSmVVNTZSVEJOUkZVd1RqRnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"8e9364ec-6d40-4592-a354-c4db75699fb2","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2983c052-b6bf-451a-bc39-aa5a536da092/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"2983c052-b6bf-451a-bc39-aa5a536da092","container_runtime":"containerd","created_at":"2024-02-28T14:05:51.173716Z","id":"e0c612ed-05ee-476b-89c8-040f673a74d5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"8e9364ec-6d40-4592-a354-c4db75699fb2","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:05:51.182867894Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e0c612ed-05ee-476b-89c8-040f673a74d5
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"2983c052-b6bf-451a-bc39-aa5a536da092","container_runtime":"containerd","created_at":"2024-02-28T14:05:51.173716Z","id":"e0c612ed-05ee-476b-89c8-040f673a74d5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"8e9364ec-6d40-4592-a354-c4db75699fb2","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:05:51.182868Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2983c052-b6bf-451a-bc39-aa5a536da092/nodes?order_by=created_at_asc&page=1&pool_id=e0c612ed-05ee-476b-89c8-040f673a74d5&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"2983c052-b6bf-451a-bc39-aa5a536da092","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:11:03.720132Z","error_message":null,"id":"5c91b760-84b7-4909-b5ca-ce44fad0bd13","name":"scw-test-pool-placeme-test-pool-placeme-5c91b7","pool_id":"e0c612ed-05ee-476b-89c8-040f673a74d5","provider_id":"scaleway://instance/fr-par-1/7598684c-27ed-4cb2-8b28-e02041405a5a","public_ip_v4":"51.15.212.31","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:13:33.437929Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e0c612ed-05ee-476b-89c8-040f673a74d5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"e0c612ed-05ee-476b-89c8-040f673a74d5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2983c052-b6bf-451a-bc39-aa5a536da092?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"d8aed88f-f147-4970-b891-4d79d4973b9b","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/d8aed88f-f147-4970-b891-4d79d4973b9b
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/d8aed88f-f147-4970-b891-4d79d4973b9b
    method: GET
  response:
    body: '{"placement_group":{"id":"d8aed88f-f147-4970-b891-4d79d4973b9b","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:14:37.568345Z","dhcp_enabled":true,"id":"af19c50a-f151-42df-9d3d-511a17215ea2","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-02-28T14:14:37.568345Z","id":"89e396fe-ce3b-4254-99af-79257dd14555","subnet":"172.16.12.0/22","updated_at":"2024-02-28T14:14:37.568345Z"},{"created_at":"2024-02-28T14:14:37.568345Z","id":"42943d86-8873-4e5d-b108-1644008f293f","subnet":"fd5c:d510:d730:fe2::/64","updated_at":"2024-02-28T14:14:37.568345Z"}],"tags":[],"updated_at":"2024-02-28T14:14:37.568345Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/af19c50a-f151-42df-9d3d-511a17215ea2
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:14:37.568345Z","dhcp_enabled":true,"id":"af19c50a-f151-42df-9d3d-511a17215ea2","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-02-28T14:14:37.568345Z","id":"89e396fe-ce3b-4254-99af-79257dd14555","subnet":"172.16.12.0/22","updated_at":"2024-02-28T14:14:37.568345Z"},{"created_at":"2024-02-28T14:14:37.568345Z","id":"42943d86-8873-4e5d-b108-1644008f293f","subnet":"fd5c:d510:d730:fe2::/64","updated_at":"2024-02-28T14:14:37.568345Z"}],"tags":[],"updated_at":"2024-02-28T14:14:37.568345Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutof[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8a3664e3-b285-4971-b696-dd51b3948cb3
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8a3664e3-b285-4971-b696-dd51b3948cb3/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8a3664e3-b285-4971-b696-dd51b3948cb3/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"d8aed88f-f147-4970-b891-4d79d4973b9b","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8a3664e3-b285-4971-b696-dd51b3948cb3/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"8a3664e3-b285-4971-b696-dd51b3948cb3","container_runtime":"containerd","created_at":"2024-02-28T14:14:44.130146Z","id":"8a9f6ee6-976d-4fb4-bf4d-d81a0fdf5d52","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"d8aed88f-f147-4970-b891-4d79d4973b9b","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:14:44.153408317Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/8a9f6ee6-976d-4fb4-bf4d-d81a0fdf5d52
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"8a3664e3-b285-4971-b696-dd51b3948cb3","container_runtime":"containerd","created_at":"2024-02-28T14:14:44.130146Z","id":"8a9f6ee6-976d-4fb4-bf4d-d81a0fdf5d52","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"d8aed88f-f147-4970-b891-4d79d4973b9b","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:14:44.153408Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8a3664e3-b285-4971-b696-dd51b3948cb3/nodes?order_by=created_at_asc&page=1&pool_id=8a9f6ee6-976d-4fb4-bf4d-d81a0fdf5d52&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"8a3664e3-b285-4971-b696-dd51b3948cb3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:19:55.872164Z","error_message":null,"id":"09602f7f-76cf-469b-be79-2b865e8039ad","name":"scw-test-pool-placeme-test-pool-placeme-09602f","pool_id":"8a9f6ee6-976d-4fb4-bf4d-d81a0fdf5d52","provider_id":"scaleway://instance/nl-ams-2/829488ed-b710-49bc-923b-bd7a891bcc06","public_ip_v4":"51.158.236.40","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2024-02-28T14:22:37.801538Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8a3664e3-b285-4971-b696-dd51b3948cb3/available-types
    method: GET
  response:
    body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8a3664e3-b285-4971-b696-dd51b3948cb3?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
