---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"be996539-a1a7-4d7e-b822-f86e52948901\",\"name\":\"test-minimal\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:18.643066Z\",\"updated_at\":\"2025-08-28T14:13:18.643066Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"34a1492e-1fd6-4f39-856e-b2293d474744\",\"created_at\":\"2025-08-28T14:13:18.643066Z\",\"updated_at\":\"2025-08-28T14:13:18.643066Z\",\"subnet\":\"172.16.120.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"be996539-a1a7-4d7e-b822-f86e52948901\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"4fb8bf6d-9b88-461c-842e-b81e57fab0ba\",\"created_at\":\"2025-08-28T14:13:18.643066Z\",\"updated_at\":\"2025-08-28T14:13:18.643066Z\",\"subnet\":\"fde7:767f:1bb5:f258::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"be996539-a1a7-4d7e-b822-f86e52948901\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 949.572949ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/be996539-a1a7-4d7e-b822-f86e52948901
    method: GET
  response:
    body: "{\"id\":\"be996539-a1a7-4d7e-b822-f86e52948901\",\"name\":\"test-minimal\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:18.643066Z\",\"updated_at\":\"2025-08-28T14:13:18.643066Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"34a1492e-1fd6-4f39-856e-b2293d474744\",\"created_at\":\"2025-08-28T14:13:18.643066Z\",\"updated_at\":\"2025-08-28T14:13:18.643066Z\",\"subnet\":\"172.16.120.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"be996539-a1a7-4d7e-b822-f86e52948901\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"4fb8bf6d-9b88-461c-842e-b81e57fab0ba\",\"created_at\":\"2025-08-28T14:13:18.643066Z\",\"updated_at\":\"2025-08-28T14:13:18.643066Z\",\"subnet\":\"fde7:767f:1bb5:f258::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"be996539-a1a7-4d7e-b822-f86e52948901\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.44387ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-minimal\",\"description\":\"terraform basic test cluster\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"version\":\"1.31.11\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"be996539-a1a7-4d7e-b822-f86e52948901\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"message\":\"upstream request timeout\"}"
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: 30.038279008s
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/989f6690-707b-4bcd-95ae-54778e25f891
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"989f6690-707b-4bcd-95ae-54778e25f891\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:52.087131Z\",\"updated_at\":\"2025-08-28T14:13:52.087132Z\",\"type\":\"kapsule\",\"name\":\"test-minimal\",\"description\":\"terraform basic test cluster\",\"status\":\"creating\",\"version\":\"1.31.11\",\"cni\":\"calico\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"cluster_url\":\"https://989f6690-707b-4bcd-95ae-54778e25f891.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.989f6690-707b-4bcd-95ae-54778e25f891.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":true,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"be996539-a1a7-4d7e-b822-f86e52948901\",\"commitment_ends_at\":\"2025-08-28T14:13:52.087140Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":true,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.112754ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/989f6690-707b-4bcd-95ae-54778e25f891/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 74.807084ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/989f6690-707b-4bcd-95ae-54778e25f891/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbWluaW1hbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVaM2xPZWtVd1RWUk5NVTFzYjFoRVZFMHhUVVJuZVU1NlJUQk5WRTB4VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkRRVk[...]
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"description\":\"\",\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":null,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":null},\"auto_upgrade\":{\"enable\":null,\"maintenance_window\":null},\"open_id_connect_config\":{\"issuer_url\":null,\"client_id\":null,\"username_claim\":null,\"username_prefix\":null,\"groups_claim\":null,\"groups_prefix\":null,\"required_claim\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/989f6690-707b-4bcd-95ae-54778e25f891
    method: PATCH
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"989f6690-707b-4bcd-95ae-54778e25f891\",\"orga[...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"version\":\"1.32.7\",\"upgrade_pools\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/989f6690-707b-4bcd-95ae-54778e25f891/upgrade
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"989f6690-707b-4bcd-95ae-54778e25f891\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:52.087131Z\",\"updated_at\":\"2025-08-28T14:14:04.613528Z\",\"t[...]
[...]
- id: 32
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/989f6690-707b-4bcd-95ae-54778e25f891?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"989f6690-707b-4bcd-95ae-54778e25f891\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:52.087131Z\",\"updated_at\":\"2025-08-28T14:14:06.194394Z\",\"type\":\"k[...]
[...]
- id: 34
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/989f6690-707b-4bcd-95ae-54778e25f891
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"989f6690-707b-4bcd-95ae-54778e25f891\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.145999ms
[...]
