---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"multicloud\",\"name\":\"test-multicloud\",\"description\":\"\",\"tags\":[],\"version\":\"1.32.7\",\"cni\":\"kilo\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"db667ab3-6665-4559-996e-b06dec7b2992\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:12.164296Z\",\"updated_at\":\"2025-08-28T14:13:12.164296Z\",\"type\":\"multicloud\",\"name\":\"test-multicloud\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"kilo\",\"tags\":[],\"cluster_url\":\"https://db667ab3-6665-4559-996e-b06dec7b2992.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.db667ab3-6665-4559-996e-b06dec7b2992.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":null,\"commitment_ends_at\":\"2025-08-28T14:13:12.164305Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 280.155415ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/db667ab3-6665-4559-996e-b06dec7b2992
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"db667ab3-6665-4559-996e-b06dec7b2992\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:12.164296Z\",\"updated_at\":\"2025-08-28T14:13:12.164296Z\",\"type\":\"multicl[...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/db667ab3-6665-4559-996e-b06dec7b2992/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbXVsdGljbG91ZCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVaM2xPZWtVd1RWUk5lRTFzYjFoRVZFMHhUVVJuZVU1NlJUQk5WRTE0VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTk[...]
[...]
- id: 24
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-multicloud\",\"node_type\":\"DEV1-M\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/db667ab3-6665-4559-996e-b06dec7b2992/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"9f7d99e0-e55d-41e4-a2bf-b8893edb532a\",\"cluster_id\":\"db667ab3-6665-4559-996e-b06dec7b2992\",\"created_at\":\"2025-08-28T14:14:45.073366Z\",\"updated_at\":\"2025-08-28T14:14:45.073366Z\",\"name\":\"test-multicloud\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"2987fd45-5eee-4140-b40f-5c604e4d9dbe\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 294.617209ms
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/9f7d99e0-e55d-41e4-a2bf-b8893edb532a
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"9f7d99e0-e55d-41e4-a2bf-b8893edb532a\",\"cluster_id\":\"db667ab3-6665-4559-996e-b06dec7b2992\",\"created_at\":\"2025-08-28T14:14:45.073366Z\",\"updated_at\":\"2025-08-28T14:14:45.073366Z\",\"name\":\"test-multicloud\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"2987fd45-5eee-4140-b40f-5c604e4d9dbe\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.146917ms
[...]
- id: 80
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 9f7d99e0-e55d-41e4-a2bf-b8893edb532a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/db667ab3-6665-4559-996e-b06dec7b2992/nodes?order_by=created_at_asc&page=1&pool_id=9f7d99e0-e55d-41e4-a2bf-b8893edb532a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"23e542ed-5f1d-4a4d-a95a-4f8fa00e9b40\",\"cluster_id\":\"db667ab3-6665-4559-996e-b06dec7b2992\",\"created_at\":\"2025-08-28T14:17:19.564272Z\",\"updated_at\":\"2025-08-28T14:19:10.124075Z\",\"pool_id\":\"9f7d99e0-e55d-41e4-a2bf-b8893edb532a\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-multicloud-test-multicloud-23e542ed5f\",\"public_ip_v4\":\"51.158.106.169\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/0c93fe6a-bf5d-4fae-b011-4136d3833028\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.830865ms
[...]
- id: 82
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-multicloud-test-multicloud-23e542ed5f
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-multicloud-test-multicloud-23e542ed5f&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":0,\"ips\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 32.09536ms
[...]
- id: 98
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/9f7d99e0-e55d-41e4-a2bf-b8893edb532a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"9f7d99e0-e55d-41e4-a2bf-b8893edb532a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.139331ms
- id: 99
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/db667ab3-6665-4559-996e-b06dec7b2992?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"db667ab3-6665-4559-996e-b06dec7b2992\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:12.164296Z\",\"updated_at\":\"2025-08-28T14:19:48.001200Z\",\"type\":\"m[...]
[...]
