---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-type-change","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:46:51.341276Z","dhcp_enabled":true,"id":"09305fec-a837-49b3-b695-e40ded2ef867","name":"test-type-change","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:51.341276Z","id":"cd93c85e-8572-4c88-849c-046b9dd52a8a","private_network_id":"09305fec-a837-49b3-b695-e40ded2ef867","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T14:46:51.341276Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:51.341276Z","id":"cb4626f0-fc61-42b8-97e4-0bf90faf3673","private_network_id":"09305fec-a837-49b3-b695-e40ded2ef867","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:33b4::/64","updated_at":"2025-01-24T14:46:51.341276Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:51.341276Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 917.881791ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/09305fec-a837-49b3-b695-e40ded2ef867
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:46:51.341276Z","dhcp_enabled":true,"id":"09305fec-a837-49b3-b695-e40ded2ef867","name":"test-type-change","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:51.341276Z","id":"cd93c85e-8572-4c88-849c-046b9dd52a8a","private_network_id":"09305fec-a837-49b3-b695-e40ded2ef867","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T14:46:51.341276Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:51.341276Z","id":"cb4626f0-fc61-42b8-97e4-0bf90faf3673","private_network_id":"09305fec-a837-49b3-b695-e40ded2ef867","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:33b4::/64","updated_at":"2025-01-24T14:46:51.341276Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:51.341276Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.295417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"kapsule","name":"test-type-change","description":"","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"09305fec-a837-49b3-b695-e40ded2ef867"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://0a9702dd-8c73-435a-b260-d802e4e83b2c.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-24T14:46:52.579721Z","created_at":"2025-01-24T14:46:52.579712Z","description":"","dns_wildcard":"*.0a9702dd-8c73-435a-b260-d802e4e83b2c.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"0a9702dd-8c73-435a-b260-d802e4e83b2c","name":"test-type-change","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"09305fec-a837-49b3-b695-e40ded2ef867","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"type":"kapsule","updated_at":"2025-01-24T14:46:52.579712Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.125892s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.679083ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtdHlwZS1jaGFuZ2UiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFUlhsTmVrVXdUa1JaTVU1R2IxaEVWRTB4VFVSRmVVMTZSVEJPUkZreFRrWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_etcd_size":55000000,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 540.989709ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"type":"kapsule-dedicated-4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c/set-type
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c
        method: PATCH
      response:
        body: '{"acl_available":false,"admission_plugins"[...]
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0a9702dd-8c73-435a-b260-d802e4e83b2c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"0a9702dd-8c73-435a-b260-d802e4e83b2c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.957959ms
[...]
