---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccCluster_Basic\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"b663ff1a-dc80-4fc9-b037-334585a1b5f6\", \"name\":\"TestAccCluster_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.057069Z\", \"updated_at\":\"2025-10-30T16:18:17.057069Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.699494ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b663ff1a-dc80-4fc9-b037-334585a1b5f6
    method: GET
  response:
    body: "{\"id\":\"b663ff1a-dc80-4fc9-b037-334585a1b5f6\", \"name\":\"TestAccCluster_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.057069Z\", \"updated_at\":\"2025-10-30T16:18:17.057069Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.317284ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-minimal\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"b663ff1a-dc80-4fc9-b037-334585a1b5f6\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"d4d7e1aa-480f-4d59-a229-83d72581af29\", \"name\":\"test-minimal\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.727966Z\", \"updated_at\":\"2025-10-30T16:18:17.727966Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"4a162d1b-5c2c-416b-8fc6-4e02a27461be\", \"created_at\":\"2025-10-30T16:18:17.727966Z\", \"updated_at\":\"2025-10-30T16:18:17.727966Z\", \"subnet\":\"172.18.24.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"d4d7e1aa-480f-4d59-a229-83d72581af29\", \"vpc_id\":\"b663ff1a-dc80-4fc9-b037-334585a1b5f6\"}, {\"id\":\"bac17832-2469-47c8-94c1-01edb0c37d3a\", \"created_at\":\"2025-10-30T16:18:17.727966Z\", \"updated_at\":\"2025-10-30T16:18:17.727966Z\", \"subnet\":\"fd5f:519c:6d46:4b22::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"d4d7e1aa-480f-4d59-a229-83d72581af29\", \"vpc_id\":\"b663ff1a-dc80-4fc9-b037-334585a1b5f6\"}], \"vpc_id\":\"b663ff1a-dc80-4fc9-b037-334585a1b5f6\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.215448806s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d4d7e1aa-480f-4d59-a229-83d72581af29
    method: GET
  response:
    body: "{\"id\":\"d4d7e1aa-480f-4d59-a229-83d72581af29\", \"name\":\"test-minimal\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.727966Z\", \"updated_at\":\"2025-10-30T16:18:17.727966Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-minimal\",\"description\":\"terraform basic test cluster\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"version\":\"1.33.4\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"d4d7e1aa-480f-4d59-a229-83d72581af29\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"0458331a-adcf-4312-8bc6-0eb53b1107b6\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:18.794627Z\", \"updated_at\":\"2025-10-30T16:18:18.794627Z\", \"type\":\"kapsule\", \"name\":\"test-minimal\", \"description\":\"terraform basic test cluster\", \"status\":\"creating\", \"version\":\"1.33.4\", \"cni\":\"calico\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"minimal\"], \"cluster_url\":\"https://0458331a-adcf-4312-8bc6-0eb53b1107b6.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.0458331a-adcf-4312-8bc6-0eb53b1107b6.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":true, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"d4d7e1aa-480f-4d59-a229-83d72581af29\", \"commitment_ends_at\":\"2025-10-30T16:18:18.794638Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 272.431873ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0458331a-adcf-4312-8bc6-0eb53b1107b6
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"0458331a-adcf-4312-8bc6-0eb53b1107b6\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:18.794627Z\", \"updated_at\":\"2025-10-30T16:18:18.794627Z\", \"type\":\"k[...]
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0458331a-adcf-4312-8bc6-0eb53b1107b6/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.061939ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0458331a-adcf-4312-8bc6-0eb53b1107b6/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbWluaW1hbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSQmVVOVVSVEpOVkdkNFQwWnZXRVJVVFRGTlZFRjVUMVJGTWsxVVozaFBSbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1JsSkRiam[...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"description\":\"\",\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":null,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":null},\"auto_upgrade\":{\"enable\":null,\"maintenance_window\":null},\"open_id_connect_config\":{\"issuer_url\":null,\"client_id\":null,\"username_claim\":null,\"username_prefix\":null,\"groups_claim\":null,\"groups_prefix\":null,\"required_claim\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0458331a-adcf-4312-8bc6-0eb53b1107b6
    method: PATCH
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"0458331a-adcf-4312-8bc6-0eb53b1107b6\", \"or[...]
[...]
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"version\":\"1.34.1\",\"upgrade_pools\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0458331a-adcf-4312-8bc6-0eb53b1107b6/upgrade
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"0458331a-adcf-4312-8bc6-0eb53b1107b6\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:18.794627Z\", \"updated_at\":\"2025-10-30T16:18:30.567115Z\[...]
[...]
- id: 36
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0458331a-adcf-4312-8bc6-0eb53b1107b6?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"0458331a-adcf-4312-8bc6-0eb53b1107b6\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:18.794627Z\", \"updated_at\":\"2025-10-30T16:18:31.539150Z\", \"type[...]
[...]
- id: 38
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0458331a-adcf-4312-8bc6-0eb53b1107b6
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"0458331a-adcf-4312-8bc6-0eb53b1107b6\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.532567ms
[...]
