---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"multicloud","name":"test-multicloud","description":"","tags":[],"version":"1.30.2","cni":"kilo","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://ffa01428-e89e-4808-ba31-edc1f0e4be45.api.k8s.fr-par.scw.cloud:6443","cni":"kilo","commitment_ends_at":"2024-10-03T18:42:21.341236Z","created_at":"2024-10-03T18:42:21.341222Z","description":"","dns_wildcard":"*.ffa01428-e89e-4808-ba31-edc1f0e4be45.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"ffa01428-e89e-4808-ba31-edc1f0e4be45","name":"test-multicloud","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":[],"type":"multicloud","updated_at":"2024-10-03T18:42:21.341223Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.207337369s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ffa01428-e89e-4808-ba31-edc1f0e4be45
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ffa01428-e89e-4808-ba31-edc1f0e4be45/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbXVsdGljbG91ZCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMVVRWGROYWtVMFRrUkplVTFzYjFoRVZFMHdUVlJCZDAxcVJUUk9SRWw1VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"name":"test-multicloud","node_type":"DEV1-M","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ffa01428-e89e-4808-ba31-edc1f0e4be45/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"ffa01428-e89e-4808-ba31-edc1f0e4be45","container_runtime":"containerd","created_at":"2024-10-03T18:44:22.837411Z","id":"311a8943-1f22-4a89-ad73-f257ab347989","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-multicloud","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:44:22.837411Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.707455ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/311a8943-1f22-4a89-ad73-f257ab347989
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"ffa01428-e89e-4808-ba31-edc1f0e4be45","container_runtime":"containerd","created_at":"2024-10-03T18:44:22.837411Z","id":"311a8943-1f22-4a89-ad73-f257ab347989","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-multicloud","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:44:22.837411Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.072848ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ffa01428-e89e-4808-ba31-edc1f0e4be45/nodes?order_by=created_at_asc&page=1&pool_id=311a8943-1f22-4a89-ad73-f257ab347989&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"ffa01428-e89e-4808-ba31-edc1f0e4be45","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2024-10-03T18:45:24.051433Z","error_message":null,"id":"0c58f186-207f-4795-b603-6df239c58329","name":"scw-test-multicloud-test-multicloud-0c58f18620","pool_id":"311a8943-1f22-4a89-ad73-f257ab347989","provider_id":"scaleway://instance/fr-par-1/d800a549-fb34-49d3-95dd-4dcd26c37b72","public_ip_v4":"163.172.181.108","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:46:59.498140Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.703963ms
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-multicloud-test-multicloud-0c58f18620&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.412074ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/311a8943-1f22-4a89-ad73-f257ab347989
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"311a8943-1f22-4a89-ad73-f257ab347989","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.024686ms
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ffa01428-e89e-4808-ba31-edc1f0e4be45?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimato[...]
[...]
