---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:10:30.760761Z","custom_routes_propagation_enabled":true,"id":"48e129cc-40c6-458b-a446-9b5081611683","is_default":false,"name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:10:30.760761Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.614334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/48e129cc-40c6-458b-a446-9b5081611683
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:10:30.760761Z","custom_routes_propagation_enabled":true,"id":"48e129cc-40c6-458b-a446-9b5081611683","is_default":false,"name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:10:30.760761Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.467041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"k8s-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"48e129cc-40c6-458b-a446-9b5081611683","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:10:30.956618Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f","name":"k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:10:30.956618Z","id":"733096e7-4d91-4a1d-aacf-6df38835d215","private_network_id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.148.0/22","updated_at":"2025-09-30T14:10:30.956618Z","vpc_id":"48e129cc-40c6-458b-a446-9b5081611683"},{"created_at":"2025-09-30T14:10:30.956618Z","id":"6640c21d-4364-41a5-b18b-384dcddead5b","private_network_id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:57f6::/64","updated_at":"2025-09-30T14:10:30.956618Z","vpc_id":"48e129cc-40c6-458b-a446-9b5081611683"}],"tags":[],"updated_at":"2025-09-30T14:10:30.956618Z","vpc_id":"48e129cc-40c6-458b-a446-9b5081611683"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 749.077708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:10:30.956618Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f","name":"k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:10:30.956618Z","id":"733096e7-4d91-4a1d-aacf-6df38835d215","private_network_id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.148.0/22","updated_at":"2025-09-30T14:10:30.956618Z","vpc_id":"48e129cc-40c6-458b-a446-9b5081611683"},{"created_at":"2025-09-30T14:10:30.956618Z","id":"6640c21d-4364-41a5-b18b-384dcddead5b","private_network_id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:57f6::/64","updated_at":"2025-09-30T14:10:30.956618Z","vpc_id":"48e129cc-40c6-458b-a446-9b5081611683"}],"tags":[],"updated_at":"2025-09-30T14:10:30.956618Z","vpc_id":"48e129cc-40c6-458b-a446-9b5081611683"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.76825ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.34.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://ab4b9e30-faf8-467c-af20-34f9c3ed7caa.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-09-30T14:10:31.968285Z","created_at":"2025-09-30T14:10:31.968277Z","description":"","dns_wildcard":"*.ab4b9e30-faf8-467c-af20-34f9c3ed7caa.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"ab4b9e30-faf8-467c-af20-34f9c3ed7caa","name":"k8s-private-network-cluster","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"d92aa4b8-5f1d-49cc-8d49-056f8b94fd6f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2025-09-30T14:10:31.968277Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.037167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab4b9e30-faf8-467c-af20-34f9c3ed7caa
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab4b9e30-faf8-467c-af20-34f9c3ed7caa/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.59125ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab4b9e30-faf8-467c-af20-34f9c3ed7caa/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFVScmVVOVVSVEJOVkVGNlRXeHZXRVJVVFRGTlJHdDVUMVJGTUUxVVFYcE5iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZ[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab4b9e30-faf8-467c-af20-34f9c3ed7caa?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab4b9e30-faf8-467c-af20-34f9c3ed7caa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"ab4b9e30-faf8-467c-af20-34f9c3ed7caa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.240375ms
[...]
