---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"srn":"","region":"fr-par","name":"1.37.0","label":"Kubernetes 1.37.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-08-28T00:00:00Z","end_of_life_at":"2027-10-28T00:00:00Z","released_at":"2026-08-26T00:00:00Z","additional_components":{}},{"srn":"","region":"fr-par","name":"1.36.4","label":"Kubernetes 1.36.4","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQ[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"vpc-networking","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/e3f301e4-a6bb-4250-abb7-eb040a0bee97","id":"e3f301e4-a6bb-4250-abb7-eb040a0bee97","name":"vpc-networking","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:57.784761Z","updated_at":"2026-09-24T11:28:57.784761Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 130.634792ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.010416ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e3f301e4-a6bb-4250-abb7-eb040a0bee97
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/e3f301e4-a6bb-4250-abb7-eb040a0bee97","id":"e3f301e4-a6bb-4250-abb7-eb040a0bee97","name":"vpc-networking","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:57.784761Z","updated_at":"2026-09-24T11:28:57.784761Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 24.807167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"pn-networking","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"e3f301e4-a6bb-4250-abb7-eb040a0bee97","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/8ca2b02c-6abf-467d-a6e3-89c09bcd53b7","id":"8ca2b02c-6abf-467d-a6e3-89c09bcd53b7","name":"pn-networking","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:57.946995Z","updated_at":"2026-09-24T11:28:57.946995Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/ea609294-4397-4c7f-a456-7c2fa76905ef","id":"ea609294-4397-4c7f-a456-7c2fa76905ef","created_at":"2026-09-24T11:28:57.946995Z","updated_at":"2026-09-24T11:28:57.946995Z","subnet":"172.16.92.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"8ca2b02c-6abf-467d-a6e3-89c09bcd53b7","vpc_id":"e3f301e4-a6bb-4250-abb7-eb040a0bee97","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/b2719f03-af4d-4978-96cf-0c40051c26e0","id":"b2719f03-af4d-4978-96cf-0c40051c26e0","created_at":"2026-09-24T11:28:57.946995Z","updated_at":"2026-09-24T11:28:57.946995Z","subnet":"fd49:821a:a311:8da4::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"8ca2b02c-6abf-467d-a6e3-89c09bcd53b7","vpc_id":"e3f301e4-a6bb-4250-abb7-eb040a0bee97","region":"fr-par"}],"vpc_id":"e3f301e4-a6bb-4250-abb7-eb040a0bee97","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 753.905541ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ca2b02c-6abf-467d-a6e3-89c09bcd53b7
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/8ca2b02c-6abf-467d-a6e3-89c09bcd53b7","id":"8ca2b02c-6abf-467d-a6e3-89c09bcd53b7","name":"pn-networking","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"test-networking","description":"","tags":["terraform-test","scaleway_k8s_cluster","networking"],"version":"1.37.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"8ca2b02c-6abf-467d-a6e3-89c09bcd53b7"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"srn":"","region":"fr-par","id":"c675753e-8229-4112-87b1-67ecc3f46c3a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:58.960109Z","updated_at":"2026-09-24T11:28:58.960109Z","type":"kapsule","name":"test-networking","description":"","status":"creating","version":"1.37.0","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","networking"],"cluster_url":"https://c675753e-8229-4112-87b1-67ecc3f46c3a.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.c675753e-8229-4112-87b1-67ecc3f46c3a.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"8ca2b02c-6abf-467d-a6e3-89c09bcd53b7","commitment_ends_at":"2026-09-24T11:28:58.960120Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 341.30175ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c675753e-8229-4112-87b1-67ecc3f46c3a
        method: GET
      response:
        body: '{"srn":"","region":"fr-par","id":"c675753e-8229-4112-87b1-67ecc3f46c3a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:58.960109Z","updated_at":"2026-09-24T11:28:58.960109Z","[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c675753e-8229-4112-87b1-67ecc3f46c3a/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.370625ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            endpoint:
                - unknown_endpoint
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c675753e-8229-4112-87b1-67ecc3f46c3a/kubeconfig?endpoint=unknown_endpoint
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbmV0d29ya2luZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVScmVVMTZSWGhOYW1jeFQxWnZXRVJVVFRKTlJHdDVUWHBGZUUxcVp6RlBWbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1F5czJ[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c675753e-8229-4112-87b1-67ecc3f46c3a?with_additional_resources=false
        method: DELETE
      response:
        body: '{"srn":"","region":"fr-par","id":"c675753e-8229-4112-87b1-67ecc3f46c3a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:28:58.960109Z","updated_at":"2026-09-24T11:29:05.183499[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c675753e-8229-4112-87b1-67ecc3f46c3a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c675753e-8229-4112-87b1-67ecc3f46c3a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 24.403667ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4977f8b6-fb7d-410c-b838-f63ba9b30759
        method: PATCH
      response:
        body: '{"srn":"","region":"fr-par","id":"4977f8b6-fb7d-410c-b838-f[...]
[...]
    - id: 67
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "true"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4977f8b6-fb7d-410c-b838-f63ba9b30759?with_additional_resources=true
        method: DELETE
      response:
        body: '{"srn":"","region":"fr-par","id":"4977f8b6-fb7d-410c-b838-f63ba9b30759","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e09[...]
[...]
