---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.3","label":"Kubernetes 1.35.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.6","label":"Kubernetes 1.34.6","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-autoscaling","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1","name":"test-cluster-autoscaling","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-28T14:23:05.877148Z","updated_at":"2026-05-28T14:23:05.877148Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.891029ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/3cfd5dcc-a5a4-4460-b6da-656723e06bd1
        method: GET
      response:
        body: '{"id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1","name":"test-cluster-autoscaling","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-28T14:23:05.877148Z","updated_at":"2026-05-28T14:23:05.877148Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.860878ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-autoscaling","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928","name":"test-cluster-autoscaling","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-28T14:23:06.087089Z","updated_at":"2026-05-28T14:23:06.087089Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"7558375a-3818-4ada-9f6c-2b684d258f24","created_at":"2026-05-28T14:23:06.087089Z","updated_at":"2026-05-28T14:23:06.087089Z","subnet":"172.16.8.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928","vpc_id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1"},{"id":"bf0455f4-7934-4654-a3c4-588705d97994","created_at":"2026-05-28T14:23:06.087089Z","updated_at":"2026-05-28T14:23:06.087089Z","subnet":"fd68:d440:21c4:cc6::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928","vpc_id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1"}],"vpc_id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 582.50978ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/ad5a03f6-25d7-42e4-bf47-e480c4ff2928
        method: GET
      response:
        body: '{"id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928","name":"test-cluster-autoscaling","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-28T14:23:06.087089Z","updated_at":"2026-05-28T14:23:06.087089Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"7558375a-3818-4ada-9f6c-2b684d258f24","created_at":"2026-05-28T14:23:06.087089Z","updated_at":"2026-05-28T14:23:06.087089Z","subnet":"172.16.8.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928","vpc_id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1"},{"id":"bf0455f4-7934-4654-a3c4-588705d97994","created_at":"2026-05-28T14:23:06.087089Z","updated_at":"2026-05-28T14:23:06.087089Z","subnet":"fd68:d440:21c4:cc6::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928","vpc_id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1"}],"vpc_id":"3cfd5dcc-a5a4-4460-b6da-656723e06bd1","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.748855ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-cluster-autoscaling","description":"","tags":["terraform-test","scaleway_k8s_cluster","autoscaling"],"version":"1.35.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337,"skip_nodes_with_local_storage":false,"log_level":4},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters
        method: POST
      response:
        body: '{"region":"nl-ams","id":"0e383bf0-ab27-4edf-80cc-9c65914d23f9","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-28T14:23:06.979296Z","updated_at":"2026-05-28T14:23:06.979296Z","type":"kapsule","name":"test-cluster-autoscaling","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","autoscaling"],"cluster_url":"https://0e383bf0-ab27-4edf-80cc-9c65914d23f9.api.k8s.nl-ams.scw.cloud:6443","dns_wildcard":"*.0e383bf0-ab27-4edf-80cc-9c65914d23f9.nodes.k8s.nl-ams.scw.cloud","autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337,"skip_nodes_with_local_storage":false,"log_level":4},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"ad5a03f6-25d7-42e4-bf47-e480c4ff2928","commitment_ends_at":"2026-05-28T14:23:06.979304Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.268089ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/0e383bf0-ab27-4edf-80cc-9c65914d23f9
        method: GET
      response:
        body: '{"region":"nl-ams","id":"0e383bf0-ab27-4edf-80cc-9c65914d23f9","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-28T14:23:06.979296Z","updated_at":"2026-05-28T14:23:06.979296Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/0e383bf0-ab27-4edf-80cc-9c65914d23f9/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.899105ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/0e383bf0-ab27-4edf-80cc-9c65914d23f9/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtY2x1c3Rlci1hdXRvc2NhbGluZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSVmVVNTZSVEJOYWsxM1RqRnZXRVJVVFRKTlJGVjVUbnBGTUUxcVRYZE9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m","scale_down_utilization_threshold":0.33,"max_graceful_termination_sec":2664,"skip_nodes_with_local_storage":false,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/0e383bf0-ab27-4edf-80cc-9c65914d23f9
        method: PATCH
      response:
        body: '{"region":"nl-ams","id":"0e383bf0-ab27-4edf-80cc-9c65914d23[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/0e383bf0-ab27-4edf-80cc-9c65914d23f9?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"nl-ams","id":"0e383bf0-ab27-4edf-80cc-9c65914d23f9","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-28T14:23:06.979296Z","updated_at":"2026-05-28T14:23:14.787149Z","type"[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/0e383bf0-ab27-4edf-80cc-9c65914d23f9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"0e383bf0-ab27-4edf-80cc-9c65914d23f9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.412499ms
[...]
