---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.3","label":"Kubernetes 1.35.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.6","label":"Kubernetes 1.34.6","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-oidc-config","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","name":"test-cluster-oidc-config","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:13:58.159656Z","updated_at":"2026-07-03T09:13:58.159656Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.756424ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e4acc3a1-d508-42af-b3a0-a8b85092631c
        method: GET
      response:
        body: '{"id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","name":"test-cluster-oidc-config","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:13:58.159656Z","updated_at":"2026-07-03T09:13:58.159656Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.591331ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-oidc-config","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"633416d3-14f7-41fc-9e62-3c63f1baa00e","name":"test-cluster-oidc-config","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:13:58.281635Z","updated_at":"2026-07-03T09:13:58.281635Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"43a17fc8-bd8f-42ad-95a7-e9854f48b407","created_at":"2026-07-03T09:13:58.281635Z","updated_at":"2026-07-03T09:13:58.281635Z","subnet":"172.16.56.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"633416d3-14f7-41fc-9e62-3c63f1baa00e","vpc_id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","region":"fr-par"},{"id":"7ffcc064-629d-4071-a21f-f84302ecf309","created_at":"2026-07-03T09:13:58.281635Z","updated_at":"2026-07-03T09:13:58.281635Z","subnet":"fd63:256c:45f7:d4f4::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"633416d3-14f7-41fc-9e62-3c63f1baa00e","vpc_id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","region":"fr-par"}],"vpc_id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.404314ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/633416d3-14f7-41fc-9e62-3c63f1baa00e
        method: GET
      response:
        body: '{"id":"633416d3-14f7-41fc-9e62-3c63f1baa00e","name":"test-cluster-oidc-config","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:13:58.281635Z","updated_at":"2026-07-03T09:13:58.281635Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"43a17fc8-bd8f-42ad-95a7-e9854f48b407","created_at":"2026-07-03T09:13:58.281635Z","updated_at":"2026-07-03T09:13:58.281635Z","subnet":"172.16.56.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"633416d3-14f7-41fc-9e62-3c63f1baa00e","vpc_id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","region":"fr-par"},{"id":"7ffcc064-629d-4071-a21f-f84302ecf309","created_at":"2026-07-03T09:13:58.281635Z","updated_at":"2026-07-03T09:13:58.281635Z","subnet":"fd63:256c:45f7:d4f4::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"633416d3-14f7-41fc-9e62-3c63f1baa00e","vpc_id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","region":"fr-par"}],"vpc_id":"e4acc3a1-d508-42af-b3a0-a8b85092631c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.833581ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-cluster-oidc-config","description":"","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"version":"1.35.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://accounts.google.com","client_id":"my-super-id","username_claim":"mario","username_prefix":null,"groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":null},"apiserver_cert_sans":[],"private_network_id":"633416d3-14f7-41fc-9e62-3c63f1baa00e"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"d0abc72c-feb0-4442-8817-e0fd155dd6fa","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:13:59.300254Z","updated_at":"2026-07-03T09:13:59.300254Z","type":"kapsule","name":"test-cluster-oidc-config","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"cluster_url":"https://d0abc72c-feb0-4442-8817-e0fd155dd6fa.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d0abc72c-feb0-4442-8817-e0fd155dd6fa.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://accounts.google.com","client_id":"my-super-id","username_claim":"mario","username_prefix":"","groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"633416d3-14f7-41fc-9e62-3c63f1baa00e","commitment_ends_at":"2026-07-03T09:13:59.300262Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.041921ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0abc72c-feb0-4442-8817-e0fd155dd6fa
        method: GET
      response:
        body: '{"region":"fr-par","id":"d0abc72c-feb0-4442-8817-e0fd155dd6fa","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:13:59.300254Z","updated_at":"2026-07-03T09:13:59.300254Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0abc72c-feb0-4442-8817-e0fd155dd6fa/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.988869ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"open_id_connect_config":{"issuer_url":"https://accounts.google.com/","client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0abc72c-feb0-4442-8817-e0fd155dd6fa
        method: PATCH
      response:
      [...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0abc72c-feb0-4442-8817-e0fd155dd6fa/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtY2x1c3Rlci1vaWRjLWNvbmZpZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSamQwMXFRVFZOVkUweFQxWnZXRVJVVFRKTlJHTjNUV3BCTlUxVVRURlBWbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":"https://gitlab.com","client_id":"my-even-more-awesome-id","username_claim":"luigi","username_prefix":"boo","groups_claim":[],"groups_prefix":"","required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0abc72c-feb0-4442-8817-e0fd155dd6fa
        method: PATCH
      response:
        body: '{"region":"fr-par","id[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0abc72c-feb0-4442-8817-e0fd155dd6fa?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"d0abc72c-feb0-4442-8817-e0fd155dd6fa","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:13:59.300254Z","updated_at":"2026-07-03T09:14:07.084963Z","type"[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d0abc72c-feb0-4442-8817-e0fd155dd6fa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"d0abc72c-feb0-4442-8817-e0fd155dd6fa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.426832ms
[...]
