---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-type-change\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"message\":\"upstream request timeout\"}"
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: 30.014520655s
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-type-change\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\",\"name\":\"test-type-change\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:43.303234Z\",\"updated_at\":\"2025-08-28T14:13:43.303234Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"0dd428a8-b721-4ac4-a292-b617adc2912f\",\"created_at\":\"2025-08-28T14:13:43.303234Z\",\"updated_at\":\"2025-08-28T14:13:43.303234Z\",\"subnet\":\"172.16.60.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"26c1d75e-2ebb-4784-b83b-5956148fe87f\",\"created_at\":\"2025-08-28T14:13:43.303234Z\",\"updated_at\":\"2025-08-28T14:13:43.303234Z\",\"subnet\":\"fde7:767f:1bb5:df1a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 917.946589ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5f535e20-6256-46f6-9287-2333bf6ec7a7
    method: GET
  response:
    body: "{\"id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\",\"name\":\"test-type-change\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:43.303234Z\",\"updated_at\":\"2025-08-28T14:13:43.303234Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"0dd428a8-b721-4ac4-a292-b617adc2912f\",\"created_at\":\"2025-08-28T14:13:43.303234Z\",\"updated_at\":\"2025-08-28T14:13:43.303234Z\",\"subnet\":\"172.16.60.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"26c1d75e-2ebb-4784-b83b-5956148fe87f\",\"created_at\":\"2025-08-28T14:13:43.303234Z\",\"updated_at\":\"2025-08-28T14:13:43.303234Z\",\"subnet\":\"fde7:767f:1bb5:df1a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 22.513507ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"kapsule\",\"name\":\"test-type-change\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"type-change\"],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:44.569567Z\",\"updated_at\":\"2025-08-28T14:13:44.569567Z\",\"type\":\"kapsule\",\"name\":\"test-type-change\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"type-change\"],\"cluster_url\":\"https://0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"5f535e20-6256-46f6-9287-2333bf6ec7a7\",\"commitment_ends_at\":\"2025-08-28T14:13:44.569575Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 404.384194ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:44.569567Z\",\"updated_at\":\"2025-08-28T14:13:44.569567Z\",\"type\":\"kapsule[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.984713ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtdHlwZS1jaGFuZ2UiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFWjNsT2VrVXdUVlJOTUU1R2IxaEVWRTB4VFVSbmVVNTZSVEJOVkUwd1RrWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU[...]
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666/available-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\",\"availability\":\"available\",\"max_nodes\":150,\"commitment_delay\":\"0s\",\"sla\":0,\"resiliency\":\"standard\",\"memory\":4000000000,\"dedicated\":false,\"audit_logs_supported\":false,\"max_etcd_size\":55000000},{\"name\":\"kapsule-dedicated-4\",\"availability\":\"available\",\"max_nodes\":250,\"commitment_delay\":\"2592000s\",\"sla\":99.5,\"resiliency\":\"high_availability\",\"memory\":4000000000,\"dedicated\":true,\"audit_logs_supported\":true,\"max_etcd_size\":200000000},{\"name\":\"kapsule-dedicated-8\",\"availability\":\"available\",\"max_nodes\":500,\"commitment_delay\":\"2592000s\",\"sla\":99.5,\"resiliency\":\"high_availability\",\"memory\":8000000000,\"dedicated\":true,\"audit_logs_supported\":true,\"max_etcd_size\":200000000},{\"name\":\"kapsule-dedicated-16\",\"availability\":\"available\",\"max_nodes\":500,\"commitment_delay\":\"2592000s\",\"sla\":99.5,\"resiliency\":\"high_availability\",\"memory\":16000000000,\"dedicated\":true,\"audit_logs_supported\":true,\"max_etcd_size\":200000000}],\"total_count\":4}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 185.204867ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    body: "{\"type\":\"kapsule-dedicated-4\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666/set-type
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created[...]
[...]
- id: 62
  request:
    host: api.scaleway.com
    body: "{\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":null,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":null},\"auto_upgrade\":{\"enable\":null,\"maintenance_window\":null},\"open_id_connect_config\":{\"issuer_url\":null,\"client_id\":null,\"username_claim\":null,\"username_prefix\":null,\"groups_claim\":null,\"groups_prefix\":null,\"required_claim\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666
    method: PATCH
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666\",\"orga[...]
[...]
- id: 185
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:44.569567Z\",\"updated_at\":\"2025-08-28T14:25:00.672775Z\",\"type\":\"k[...]
[...]
- id: 187
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"0e968cf1-7bc3-43cf-bd0e-ddc0b65c5666\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.331106ms
[...]
