---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.35.2", "label":"Kubernetes 1.35.2", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-01-19T00:00:00Z", "end_of_life_at":"2027-03-19T00:00:00Z", "released_at":"2026-01-19T00:00:00Z"}, {"region":"fr-par", "name":"1.34.5", "label":"Kubernetes 1.34.5", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-oidc-config","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104", "name":"test-cluster-oidc-config", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-03-30T21:37:37.598823Z", "updated_at":"2026-03-30T21:37:37.598823Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.964385ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0efcd1fd-b3d6-4f03-adb3-214b9f4d6104
        method: GET
      response:
        body: '{"id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104", "name":"test-cluster-oidc-config", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-03-30T21:37:37.598823Z", "updated_at":"2026-03-30T21:37:37.598823Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.080016ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-oidc-config","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"0f1374e9-5809-45a4-9d43-eff727eaebc6", "name":"test-cluster-oidc-config", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-03-30T21:37:37.750957Z", "updated_at":"2026-03-30T21:37:37.750957Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b826ecaa-b1eb-4d2d-a7a6-defc6f967021", "created_at":"2026-03-30T21:37:37.750957Z", "updated_at":"2026-03-30T21:37:37.750957Z", "subnet":"172.16.16.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0f1374e9-5809-45a4-9d43-eff727eaebc6", "vpc_id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104"}, {"id":"d4614a17-1a8c-4cf6-894f-87a82022c625", "created_at":"2026-03-30T21:37:37.750957Z", "updated_at":"2026-03-30T21:37:37.750957Z", "subnet":"fd63:256c:45f7:caaa::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0f1374e9-5809-45a4-9d43-eff727eaebc6", "vpc_id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104"}], "vpc_id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 650.044705ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0f1374e9-5809-45a4-9d43-eff727eaebc6
        method: GET
      response:
        body: '{"id":"0f1374e9-5809-45a4-9d43-eff727eaebc6", "name":"test-cluster-oidc-config", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-03-30T21:37:37.750957Z", "updated_at":"2026-03-30T21:37:37.750957Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"b826ecaa-b1eb-4d2d-a7a6-defc6f967021", "created_at":"2026-03-30T21:37:37.750957Z", "updated_at":"2026-03-30T21:37:37.750957Z", "subnet":"172.16.16.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0f1374e9-5809-45a4-9d43-eff727eaebc6", "vpc_id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104"}, {"id":"d4614a17-1a8c-4cf6-894f-87a82022c625", "created_at":"2026-03-30T21:37:37.750957Z", "updated_at":"2026-03-30T21:37:37.750957Z", "subnet":"fd63:256c:45f7:caaa::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"0f1374e9-5809-45a4-9d43-eff727eaebc6", "vpc_id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104"}], "vpc_id":"0efcd1fd-b3d6-4f03-adb3-214b9f4d6104", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.336074ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-cluster-oidc-config","description":"","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"version":"1.35.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://accounts.google.com","client_id":"my-super-id","username_claim":"mario","username_prefix":null,"groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":null},"apiserver_cert_sans":[],"private_network_id":"0f1374e9-5809-45a4-9d43-eff727eaebc6"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"c5967378-45eb-4b8b-85cd-eb5b8e9fee4f", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-03-30T21:37:38.841662Z", "updated_at":"2026-03-30T21:37:38.841662Z", "type":"kapsule", "name":"test-cluster-oidc-config", "description":"", "status":"creating", "version":"1.35.2", "cni":"cilium", "tags":["terraform-test", "scaleway_k8s_cluster", "oidc-config"], "cluster_url":"https://c5967378-45eb-4b8b-85cd-eb5b8e9fee4f.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.c5967378-45eb-4b8b-85cd-eb5b8e9fee4f.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"https://accounts.google.com", "client_id":"my-super-id", "username_claim":"mario", "username_prefix":"", "groups_claim":["k8s", "admin"], "groups_prefix":"pouf", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"0f1374e9-5809-45a4-9d43-eff727eaebc6", "commitment_ends_at":"2026-03-30T21:37:38.841669Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 466.083103ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c5967378-45eb-4b8b-85cd-eb5b8e9fee4f
        method: GET
      response:
        body: '{"region":"fr-par", "id":"c5967378-45eb-4b8b-85cd-eb5b8e9fee4f", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-03-30T21:37:38.841662Z", "updated_at":"2026-03-30T21:37:38.841662Z", "typ[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c5967378-45eb-4b8b-85cd-eb5b8e9fee4f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.511225ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"open_id_connect_config":{"issuer_url":"https://accounts.google.com/","client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c5967378-45eb-4b8b-85cd-eb5b8e9fee4f
        method: PATCH
      response:
      [...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c5967378-45eb-4b8b-85cd-eb5b8e9fee4f/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtY2x1c3Rlci1vaWRjLWNvbmZpZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSTmVVOVVTWGhOZW1ONlQwWnZXRVJVVFRKTlJFMTVUMVJKZUUxNlkzcFBSbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":"https://gitlab.com","client_id":"my-even-more-awesome-id","username_claim":"luigi","username_prefix":"boo","groups_claim":[],"groups_prefix":"","required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c5967378-45eb-4b8b-85cd-eb5b8e9fee4f
        method: PATCH
      response:
        body: '{"region":"fr-par", "i[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c5967378-45eb-4b8b-85cd-eb5b8e9fee4f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"c5967378-45eb-4b8b-85cd-eb5b8e9fee4f", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-03-30T21:37:38.841662Z", "updated_at":"2026-03-30T21:37:46.565408Z", [...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c5967378-45eb-4b8b-85cd-eb5b8e9fee4f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"c5967378-45eb-4b8b-85cd-eb5b8e9fee4f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.581333ms
[...]
