---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.3","label":"Kubernetes 1.35.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.6","label":"Kubernetes 1.34.6","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterAutoUpgrade","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"606f8833-b710-475d-ab9e-619b42e73fe6","name":"testAccCheckK8SClusterAutoUpgrade","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:21.931995Z","updated_at":"2026-07-03T09:15:21.931995Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.758884ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/606f8833-b710-475d-ab9e-619b42e73fe6
        method: GET
      response:
        body: '{"id":"606f8833-b710-475d-ab9e-619b42e73fe6","name":"testAccCheckK8SClusterAutoUpgrade","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:21.931995Z","updated_at":"2026-07-03T09:15:21.931995Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 18.993255ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-auto-upgrade","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"606f8833-b710-475d-ab9e-619b42e73fe6","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"d7b63e97-e57b-4de5-b157-8d365565094f","name":"test-auto-upgrade","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:22.042853Z","updated_at":"2026-07-03T09:15:22.042853Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"104d3439-e5f6-4033-8ea0-78876be0e0ec","created_at":"2026-07-03T09:15:22.042853Z","updated_at":"2026-07-03T09:15:22.042853Z","subnet":"172.16.48.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d7b63e97-e57b-4de5-b157-8d365565094f","vpc_id":"606f8833-b710-475d-ab9e-619b42e73fe6","region":"fr-par"},{"id":"228edebc-062d-43f9-809e-d177beca8f22","created_at":"2026-07-03T09:15:22.042853Z","updated_at":"2026-07-03T09:15:22.042853Z","subnet":"fd63:256c:45f7:877f::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d7b63e97-e57b-4de5-b157-8d365565094f","vpc_id":"606f8833-b710-475d-ab9e-619b42e73fe6","region":"fr-par"}],"vpc_id":"606f8833-b710-475d-ab9e-619b42e73fe6","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 656.380594ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d7b63e97-e57b-4de5-b157-8d365565094f
        method: GET
      response:
        body: '{"id":"d7b63e97-e57b-4de5-b157-8d365565094f","name":"test-auto-upgrade","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:22.042853Z","updated_at":"2026-07-03T09:15:22.042853Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"104d3439-e5f6-4033-8ea0-78876be0e0ec","created_at":"2026-07-03T09:15:22.042853Z","updated_at":"2026-07-03T09:15:22.042853Z","subnet":"172.16.48.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d7b63e97-e57b-4de5-b157-8d365565094f","vpc_id":"606f8833-b710-475d-ab9e-619b42e73fe6","region":"fr-par"},{"id":"228edebc-062d-43f9-809e-d177beca8f22","created_at":"2026-07-03T09:15:22.042853Z","updated_at":"2026-07-03T09:15:22.042853Z","subnet":"fd63:256c:45f7:877f::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d7b63e97-e57b-4de5-b157-8d365565094f","vpc_id":"606f8833-b710-475d-ab9e-619b42e73fe6","region":"fr-par"}],"vpc_id":"606f8833-b710-475d-ab9e-619b42e73fe6","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.824752ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-auto-upgrade","description":"","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"version":"1.34.6","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"auto_upgrade":{"enable":false,"maintenance_window":{"start_hour":0,"day":"any"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"d7b63e97-e57b-4de5-b157-8d365565094f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"37f503c2-65e0-4b84-9041-b0227269c842","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:22.971891Z","updated_at":"2026-07-03T09:15:22.971891Z","type":"kapsule","name":"test-auto-upgrade","description":"","status":"creating","version":"1.34.6","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"cluster_url":"https://37f503c2-65e0-4b84-9041-b0227269c842.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.37f503c2-65e0-4b84-9041-b0227269c842.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"d7b63e97-e57b-4de5-b157-8d365565094f","commitment_ends_at":"2026-07-03T09:15:22.971900Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.862584ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37f503c2-65e0-4b84-9041-b0227269c842
        method: GET
      response:
        body: '{"region":"fr-par","id":"37f503c2-65e0-4b84-9041-b0227269c842","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:22.971891Z","updated_at":"2026-07-03T09:15:22.971891Z","type":"ka[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37f503c2-65e0-4b84-9041-b0227269c842/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.792624ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37f503c2-65e0-4b84-9041-b0227269c842/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0by11cGdyYWRlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSllSRU5EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3lUVVJqZDAxcVFUVk5WRlY1VFRGdldFUlVUVEpOUkdOM1RXcEJOVTFVVlhsTk1XOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDU1d[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_u[...]
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"version":"1.35.3","upgrade_pools":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37f503c2-65e0-4b84-9041-b0227269c842/upgrade
        method: POST
      response:
        body: '{"region":"fr-par","id":"37f503c2-65e0-4b84-9041-b0227269c842","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:22.971891Z","updated_at":"2026-07-03T09:15:31.[...]
[...]
    - id: 100
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37f503c2-65e0-4b84-9041-b0227269c842?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"37f503c2-65e0-4b84-9041-b0227269c842","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:15:22.971891Z","updated_at":"2026-07-03T09:15:46.569597Z","type"[...]
[...]
    - id: 102
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/37f503c2-65e0-4b84-9041-b0227269c842
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"37f503c2-65e0-4b84-9041-b0227269c842","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 18.948901ms
[...]
