---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"multicloud","name":"test-multicloud","description":"","tags":[],"version":"1.34.1","cni":"kilo","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7af5fad2-ef0e-4df6-b042-e012a5e58bb8.api.k8s.fr-par.scw.cloud:6443","cni":"kilo","commitment_ends_at":"2025-09-30T14:09:47.803632Z","created_at":"2025-09-30T14:09:47.803616Z","description":"","dns_wildcard":"*.7af5fad2-ef0e-4df6-b042-e012a5e58bb8.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"7af5fad2-ef0e-4df6-b042-e012a5e58bb8","name":"test-multicloud","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":[],"type":"multicloud","updated_at":"2025-09-30T14:09:47.803616Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.082542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7af5fad2-ef0e-4df6-b042-e012a5e58bb8
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7af5fad2-ef0e-4df6-b042-e012a5e58bb8/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbXVsdGljbG91ZCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpZUkVORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFVScmVVOVVSVEJOUkdzd1RqRnZXRVJVVFRGTlJHdDVUMVJGTUUxRWF6Qk9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1FWWjF[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-multicloud","node_type":"DEV1-M","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7af5fad2-ef0e-4df6-b042-e012a5e58bb8/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"7af5fad2-ef0e-4df6-b042-e012a5e58bb8","container_runtime":"containerd","created_at":"2025-09-30T14:11:14.938262Z","id":"a2aea7bf-bd52-4607-abd7-b8dcd1bece27","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-multicloud","new_images_enabled":true,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"aada8d59-bd7f-41ff-9a51-e3c2bd49cb87","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T14:11:14.938262Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.703916ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a2aea7bf-bd52-4607-abd7-b8dcd1bece27
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"7af5fad2-ef0e-4df6-b042-e012a5e58bb8","container_runtime":"containerd","created_at":"2025-09-30T14:11:14.938262Z","id":"a2aea7bf-bd52-4607-abd7-b8dcd1bece27","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-multicloud","new_images_enabled":true,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"aada8d59-bd7f-41ff-9a51-e3c2bd49cb87","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T14:11:14.938262Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.228ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7af5fad2-ef0e-4df6-b042-e012a5e58bb8/nodes?order_by=created_at_asc&page=1&pool_id=a2aea7bf-bd52-4607-abd7-b8dcd1bece27&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"7af5fad2-ef0e-4df6-b042-e012a5e58bb8","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T14:14:29.732914Z","error_message":"","id":"4dee1094-2230-4df0-b43e-092b0704f65c","name":"scw-test-multicloud-test-multicloud-4dee109422","pool_id":"a2aea7bf-bd52-4607-abd7-b8dcd1bece27","provider_id":"scaleway://instance/fr-par-1/94d70608-f8ef-4a32-9cd3-2f2577aac150","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T14:15:57.604866Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.309667ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-multicloud-test-multicloud-4dee109422&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.502584ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a2aea7bf-bd52-4607-abd7-b8dcd1bece27
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"a2aea7bf-bd52-4607-abd7-b8dcd1bece27","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.316875ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7af5fad2-ef0e-4df6-b042-e012a5e58bb8?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
