---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc","name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:50.193690Z","updated_at":"2026-01-29T16:43:50.193690Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.129375ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8648ff25-d958-4fc0-b7fb-8e42302db6fc
        method: GET
      response:
        body: '{"id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc","name":"testAccCheckK8SClusterConfigPrivateNetworkLinked","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:50.193690Z","updated_at":"2026-01-29T16:43:50.193690Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.960166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"k8s-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"7ff5b292-8c78-41af-b45a-bf1d9d813447","name":"k8s-private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:50.293523Z","updated_at":"2026-01-29T16:43:50.293523Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"2d55fdb0-b991-4f2c-8997-b83e73736d44","created_at":"2026-01-29T16:43:50.293523Z","updated_at":"2026-01-29T16:43:50.293523Z","subnet":"172.17.120.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"7ff5b292-8c78-41af-b45a-bf1d9d813447","vpc_id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc"},{"id":"8c10d2bf-67b6-4b6b-acc2-1a0fef02aab4","created_at":"2026-01-29T16:43:50.293523Z","updated_at":"2026-01-29T16:43:50.293523Z","subnet":"fd5f:519c:6d46:b3fb::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"7ff5b292-8c78-41af-b45a-bf1d9d813447","vpc_id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc"}],"vpc_id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 624.021667ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7ff5b292-8c78-41af-b45a-bf1d9d813447
        method: GET
      response:
        body: '{"id":"7ff5b292-8c78-41af-b45a-bf1d9d813447","name":"k8s-private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:50.293523Z","updated_at":"2026-01-29T16:43:50.293523Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"2d55fdb0-b991-4f2c-8997-b83e73736d44","created_at":"2026-01-29T16:43:50.293523Z","updated_at":"2026-01-29T16:43:50.293523Z","subnet":"172.17.120.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"7ff5b292-8c78-41af-b45a-bf1d9d813447","vpc_id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc"},{"id":"8c10d2bf-67b6-4b6b-acc2-1a0fef02aab4","created_at":"2026-01-29T16:43:50.293523Z","updated_at":"2026-01-29T16:43:50.293523Z","subnet":"fd5f:519c:6d46:b3fb::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"7ff5b292-8c78-41af-b45a-bf1d9d813447","vpc_id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc"}],"vpc_id":"8648ff25-d958-4fc0-b7fb-8e42302db6fc","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.7465ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.35.0","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"7ff5b292-8c78-41af-b45a-bf1d9d813447"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"cbf135f0-4fbd-4d2d-a604-a257cf171ad1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:51.148707Z","updated_at":"2026-01-29T16:43:51.148708Z","type":"kapsule","name":"k8s-private-network-cluster","description":"","status":"creating","version":"1.35.0","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"cluster_url":"https://cbf135f0-4fbd-4d2d-a604-a257cf171ad1.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.cbf135f0-4fbd-4d2d-a604-a257cf171ad1.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"7ff5b292-8c78-41af-b45a-bf1d9d813447","commitment_ends_at":"2026-01-29T16:43:51.148717Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.930417ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbf135f0-4fbd-4d2d-a604-a257cf171ad1
        method: GET
      response:
        body: '{"region":"fr-par","id":"cbf135f0-4fbd-4d2d-a604-a257cf171ad1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:51.148707Z","updated_at":"2026-01-29T16:43:51.148708Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbf135f0-4fbd-4d2d-a604-a257cf171ad1/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.395709ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbf135f0-4fbd-4d2d-a604-a257cf171ad1/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSRmVVOUVSVEpPUkUweFRWWnZXRVJVVFRKTlJFVjVUMFJGTWs1RVRURk5WbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZ[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbf135f0-4fbd-4d2d-a604-a257cf171ad1?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"cbf135f0-4fbd-4d2d-a604-a257cf171ad1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:51.148707Z","updated_at":"2026-01-29T16:43:57.855778Z","type"[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbf135f0-4fbd-4d2d-a604-a257cf171ad1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"cbf135f0-4fbd-4d2d-a604-a257cf171ad1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.644208ms
[...]
