---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2026-09-29T00:00:00Z","end_of_life_at":"2026-11-29T00:00:00Z","label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par","released_at":null},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","c[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"vpc-networking","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-10-20T15:38:35.899569Z","custom_routes_propagation_enabled":true,"id":"d8211fc7-1926-4bfc-a3db-bc2253e44026","is_default":false,"name":"vpc-networking","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-10-20T15:38:35.899569Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.048211ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d8211fc7-1926-4bfc-a3db-bc2253e44026
        method: GET
      response:
        body: '{"created_at":"2025-10-20T15:38:35.899569Z","custom_routes_propagation_enabled":true,"id":"d8211fc7-1926-4bfc-a3db-bc2253e44026","is_default":false,"name":"vpc-networking","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-10-20T15:38:35.899569Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.484884ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"pn-networking","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"d8211fc7-1926-4bfc-a3db-bc2253e44026","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-10-20T15:38:36.037413Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"425801e2-fe3f-4611-a7b9-72d75b37e270","name":"pn-networking","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-10-20T15:38:36.037413Z","id":"9cc54f2a-c8cc-4606-a218-5dfaaf196054","private_network_id":"425801e2-fe3f-4611-a7b9-72d75b37e270","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.28.0/22","updated_at":"2025-10-20T15:38:36.037413Z","vpc_id":"d8211fc7-1926-4bfc-a3db-bc2253e44026"},{"created_at":"2025-10-20T15:38:36.037413Z","id":"18b069df-b8a7-46db-83a2-a82c91def3af","private_network_id":"425801e2-fe3f-4611-a7b9-72d75b37e270","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a79d::/64","updated_at":"2025-10-20T15:38:36.037413Z","vpc_id":"d8211fc7-1926-4bfc-a3db-bc2253e44026"}],"tags":[],"updated_at":"2025-10-20T15:38:36.037413Z","vpc_id":"d8211fc7-1926-4bfc-a3db-bc2253e44026"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 625.38847ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/425801e2-fe3f-4611-a7b9-72d75b37e270
        method: GET
      response:
        body: '{"created_at":"2025-10-20T15:38:36.037413Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"425801e2-fe3f-4611-a7b9-72d75b37e270","name":"pn-networking","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-10-20T15:38:36.037413Z","id":"9cc54f2a-c8cc-4606-a218-5dfaaf196054","private_network_id":"425801e2-fe3f-4611-a7b9-72d75b37e270","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.28.0/22","updated_at":"2025-10-20T15:38:36.037413Z","vpc_id":"d8211fc7-1926-4bfc-a3db-bc2253e44026"},{"created_at":"2025-10-20T15:38:36.037413Z","id":"18b069df-b8a7-46db-83a2-a82c91def3af","private_network_id":"425801e2-fe3f-4611-a7b9-72d75b37e270","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:a79d::/64","updated_at":"2025-10-20T15:38:36.037413Z","vpc_id":"d8211fc7-1926-4bfc-a3db-bc2253e44026"}],"tags":[],"updated_at":"2025-10-20T15:38:36.037413Z","vpc_id":"d8211fc7-1926-4bfc-a3db-bc2253e44026"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.147856ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-networking","description":"","tags":["terraform-test","scaleway_k8s_cluster","networking"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"425801e2-fe3f-4611-a7b9-72d75b37e270"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://41a606d6-abf0-437d-b9f4-62a0625e0f4b.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-10-20T15:38:37.008040Z","created_at":"2025-10-20T15:38:37.008032Z","description":"","dns_wildcard":"*.41a606d6-abf0-437d-b9f4-62a0625e0f4b.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"41a606d6-abf0-437d-b9f4-62a0625e0f4b","name":"test-networking","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"425801e2-fe3f-4611-a7b9-72d75b37e270","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","networking"],"type":"kapsule","updated_at":"2025-10-20T15:38:37.008032Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.429439ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41a606d6-abf0-437d-b9f4-62a0625e0f4b
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41a606d6-abf0-437d-b9f4-62a0625e0f4b/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.085819ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41a606d6-abf0-437d-b9f4-62a0625e0f4b/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbmV0d29ya2luZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSQmVFOVVSVEZOZW1kNlRqRnZXRVJVVFRGTlZFRjRUMVJGTVUxNlozcE9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1JuRlJ[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41a606d6-abf0-437d-b9f4-62a0625e0f4b?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41a606d6-abf0-437d-b9f4-62a0625e0f4b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"41a606d6-abf0-437d-b9f4-62a0625e0f4b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.600115ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2a330082-1da7-4f91-b4d6-208d90096661
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2a330082-1da7-4f91-b4d6-208d90096661?with_additional_resources=true
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gro[...]
[...]
