---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterAutoUpgrade","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"0ba4f63c-caaf-4586-840c-acac83f07055","name":"testAccCheckK8SClusterAutoUpgrade","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:34.035098Z","updated_at":"2026-01-29T16:43:34.035098Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.295875ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0ba4f63c-caaf-4586-840c-acac83f07055
        method: GET
      response:
        body: '{"id":"0ba4f63c-caaf-4586-840c-acac83f07055","name":"testAccCheckK8SClusterAutoUpgrade","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:34.035098Z","updated_at":"2026-01-29T16:43:34.035098Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.246291ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-auto-upgrade","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"0ba4f63c-caaf-4586-840c-acac83f07055","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde","name":"test-auto-upgrade","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:34.174185Z","updated_at":"2026-01-29T16:43:34.174185Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"45633e61-fb39-4669-88fc-6380c1bb3afd","created_at":"2026-01-29T16:43:34.174185Z","updated_at":"2026-01-29T16:43:34.174185Z","subnet":"172.16.96.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde","vpc_id":"0ba4f63c-caaf-4586-840c-acac83f07055"},{"id":"85b0e4b2-7fe9-4f32-8422-43503056477c","created_at":"2026-01-29T16:43:34.174185Z","updated_at":"2026-01-29T16:43:34.174185Z","subnet":"fd5f:519c:6d46:e914::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde","vpc_id":"0ba4f63c-caaf-4586-840c-acac83f07055"}],"vpc_id":"0ba4f63c-caaf-4586-840c-acac83f07055","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 705.052917ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9a9d9b1c-5f1c-40eb-8707-fdf9be165bde
        method: GET
      response:
        body: '{"id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde","name":"test-auto-upgrade","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:34.174185Z","updated_at":"2026-01-29T16:43:34.174185Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"45633e61-fb39-4669-88fc-6380c1bb3afd","created_at":"2026-01-29T16:43:34.174185Z","updated_at":"2026-01-29T16:43:34.174185Z","subnet":"172.16.96.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde","vpc_id":"0ba4f63c-caaf-4586-840c-acac83f07055"},{"id":"85b0e4b2-7fe9-4f32-8422-43503056477c","created_at":"2026-01-29T16:43:34.174185Z","updated_at":"2026-01-29T16:43:34.174185Z","subnet":"fd5f:519c:6d46:e914::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde","vpc_id":"0ba4f63c-caaf-4586-840c-acac83f07055"}],"vpc_id":"0ba4f63c-caaf-4586-840c-acac83f07055","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.802166ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-auto-upgrade","description":"","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"version":"1.34.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":false,"maintenance_window":{"start_hour":0,"day":"any"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"181afdfb-1cc3-4000-b736-caed9add71f0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:35.031388Z","updated_at":"2026-01-29T16:43:35.031388Z","type":"kapsule","name":"test-auto-upgrade","description":"","status":"creating","version":"1.34.3","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"cluster_url":"https://181afdfb-1cc3-4000-b736-caed9add71f0.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.181afdfb-1cc3-4000-b736-caed9add71f0.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"9a9d9b1c-5f1c-40eb-8707-fdf9be165bde","commitment_ends_at":"2026-01-29T16:43:35.031398Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.679583ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/181afdfb-1cc3-4000-b736-caed9add71f0
        method: GET
      response:
        body: '{"region":"fr-par","id":"181afdfb-1cc3-4000-b736-caed9add71f0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:35.031388Z","updated_at":"2026-01-29T16:43:35.031388Z","type":"ka[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/181afdfb-1cc3-4000-b736-caed9add71f0/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.873792ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/181afdfb-1cc3-4000-b736-caed9add71f0/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0by11cGdyYWRlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhha05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3lUVVJGZVU5RVJUSk9SRTE2VGxadldFUlVUVEpOUkVWNVQwUkZNazVFVFhwT1ZtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVEh[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":true,"maintenance_window":null},"ope[...]
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"version":"1.35.0","upgrade_pools":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/181afdfb-1cc3-4000-b736-caed9add71f0/upgrade
        method: POST
      response:
        body: '{"region":"fr-par","id":"181afdfb-1cc3-4000-b736-caed9add71f0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:35.031388Z","updated_at":"2026-01-29T16:43:48.[...]
[...]
    - id: 100
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/181afdfb-1cc3-4000-b736-caed9add71f0?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"181afdfb-1cc3-4000-b736-caed9add71f0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:35.031388Z","updated_at":"2026-01-29T16:44:00.264255Z","type"[...]
[...]
    - id: 102
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/181afdfb-1cc3-4000-b736-caed9add71f0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"181afdfb-1cc3-4000-b736-caed9add71f0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.515833ms
[...]
