---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"f5387075-cd2a-424e-903a-9edb57250c20","name":"TestAccCluster_Basic","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:15.536202Z","updated_at":"2026-01-29T16:42:15.536202Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.579583ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f5387075-cd2a-424e-903a-9edb57250c20
        method: GET
      response:
        body: '{"id":"f5387075-cd2a-424e-903a-9edb57250c20","name":"TestAccCluster_Basic","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:15.536202Z","updated_at":"2026-01-29T16:42:15.536202Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.799334ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f5387075-cd2a-424e-903a-9edb57250c20","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"54b52210-48dc-4ca2-a764-ab94ab01410a","name":"test-minimal","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:16.055777Z","updated_at":"2026-01-29T16:42:16.055777Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"e4d8980a-5180-4e36-88ec-70dbf1295c11","created_at":"2026-01-29T16:42:16.055777Z","updated_at":"2026-01-29T16:42:16.055777Z","subnet":"172.17.36.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"54b52210-48dc-4ca2-a764-ab94ab01410a","vpc_id":"f5387075-cd2a-424e-903a-9edb57250c20"},{"id":"e0fc93de-68c2-4d85-9be4-0c038ead52c5","created_at":"2026-01-29T16:42:16.055777Z","updated_at":"2026-01-29T16:42:16.055777Z","subnet":"fd5f:519c:6d46:b4cd::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"54b52210-48dc-4ca2-a764-ab94ab01410a","vpc_id":"f5387075-cd2a-424e-903a-9edb57250c20"}],"vpc_id":"f5387075-cd2a-424e-903a-9edb57250c20","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.022729625s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/54b52210-48dc-4ca2-a764-ab94ab01410a
        method: GET
      response:
        body: '{"id":"54b52210-48dc-4ca2-a764-ab94ab01410a","name":"test-minimal","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:16.055777Z","updated_at":"2026-01-29T16:42:16.055777Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"e4d8980a-5180-4e36-88ec-70dbf1295c11","created_at":"2026-01-29T16:42:16.055777Z","updated_at":"2026-01-29T16:42:16.055777Z","subnet":"172.17.36.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"54b52210-48dc-4ca2-a764-ab94ab01410a","vpc_id":"f5387075-cd2a-424e-903a-9edb57250c20"},{"id":"e0fc93de-68c2-4d85-9be4-0c038ead52c5","created_at":"2026-01-29T16:42:16.055777Z","updated_at":"2026-01-29T16:42:16.055777Z","subnet":"fd5f:519c:6d46:b4cd::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"54b52210-48dc-4ca2-a764-ab94ab01410a","vpc_id":"f5387075-cd2a-424e-903a-9edb57250c20"}],"vpc_id":"f5387075-cd2a-424e-903a-9edb57250c20","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.138334ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-minimal","description":"terraform basic test cluster","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.34.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"54b52210-48dc-4ca2-a764-ab94ab01410a"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"4aae2258-2256-41a8-90d5-1dcf3c36bbef","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:17.623447Z","updated_at":"2026-01-29T16:42:17.623447Z","type":"kapsule","name":"test-minimal","description":"terraform basic test cluster","status":"creating","version":"1.34.3","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://4aae2258-2256-41a8-90d5-1dcf3c36bbef.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.4aae2258-2256-41a8-90d5-1dcf3c36bbef.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"54b52210-48dc-4ca2-a764-ab94ab01410a","commitment_ends_at":"2026-01-29T16:42:17.623455Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 511.476833ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4aae2258-2256-41a8-90d5-1dcf3c36bbef
        method: GET
      response:
        body: '{"region":"fr-par","id":"4aae2258-2256-41a8-90d5-1dcf3c36bbef","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:17.623447Z","updated_at":"2026-01-29T16:42:17.733794Z","type":"ka[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4aae2258-2256-41a8-90d5-1dcf3c36bbef/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.016875ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4aae2258-2256-41a8-90d5-1dcf3c36bbef/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbWluaW1hbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSRmVVOUVSVEpPUkVsNFRqRnZXRVJVVFRKTlJFVjVUMFJGTWs1RVNYaE9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1EyWXhXRGh[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"description":"","autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4aae2258-2256-41a8-90d5-1dcf3c36bbef
        method: PATCH
      response:
        body: '{"region":"fr-par","id":"4aae2258-2256-41a8-90d5-1dcf3c36bb[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"version":"1.35.0","upgrade_pools":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4aae2258-2256-41a8-90d5-1dcf3c36bbef/upgrade
        method: POST
      response:
        body: '{"region":"fr-par","id":"4aae2258-2256-41a8-90d5-1dcf3c36bbef","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:17.623447Z","updated_at":"2026-01-29T16:42:27.[...]
[...]
    - id: 38
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4aae2258-2256-41a8-90d5-1dcf3c36bbef?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"4aae2258-2256-41a8-90d5-1dcf3c36bbef","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:42:17.623447Z","updated_at":"2026-01-29T16:42:34.401567Z","type"[...]
[...]
    - id: 40
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4aae2258-2256-41a8-90d5-1dcf3c36bbef
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"4aae2258-2256-41a8-90d5-1dcf3c36bbef","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.944833ms
[...]
