---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterConfigAutoscaler","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:11:11.215293Z","custom_routes_propagation_enabled":true,"id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62","is_default":false,"name":"testAccCheckK8SClusterConfigAutoscaler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:11:11.215293Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.154209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/e0e2dda6-e752-4178-b690-f8c76d4a5c62
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:11:11.215293Z","custom_routes_propagation_enabled":true,"id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62","is_default":false,"name":"testAccCheckK8SClusterConfigAutoscaler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:11:11.215293Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.932375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-autoscaler","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:11:11.551793Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"85d46df6-4c20-4d8d-9599-c7db9bea8885","name":"test-autoscaler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-09-30T14:11:11.551793Z","id":"4c1588af-a324-425f-99d0-41f54c5a1f91","private_network_id":"85d46df6-4c20-4d8d-9599-c7db9bea8885","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-09-30T14:11:11.551793Z","vpc_id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62"},{"created_at":"2025-09-30T14:11:11.551793Z","id":"a8b43d2d-0408-4d54-8ccc-fe6c1081efe8","private_network_id":"85d46df6-4c20-4d8d-9599-c7db9bea8885","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:1b95::/64","updated_at":"2025-09-30T14:11:11.551793Z","vpc_id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62"}],"tags":[],"updated_at":"2025-09-30T14:11:11.551793Z","vpc_id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 716.566666ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/85d46df6-4c20-4d8d-9599-c7db9bea8885
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:11:11.551793Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"85d46df6-4c20-4d8d-9599-c7db9bea8885","name":"test-autoscaler","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-09-30T14:11:11.551793Z","id":"4c1588af-a324-425f-99d0-41f54c5a1f91","private_network_id":"85d46df6-4c20-4d8d-9599-c7db9bea8885","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-09-30T14:11:11.551793Z","vpc_id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62"},{"created_at":"2025-09-30T14:11:11.551793Z","id":"a8b43d2d-0408-4d54-8ccc-fe6c1081efe8","private_network_id":"85d46df6-4c20-4d8d-9599-c7db9bea8885","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:1b95::/64","updated_at":"2025-09-30T14:11:11.551793Z","vpc_id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62"}],"tags":[],"updated_at":"2025-09-30T14:11:11.551793Z","vpc_id":"e0e2dda6-e752-4178-b690-f8c76d4a5c62"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.425333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-autoscaler-01","description":"","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"version":"1.34.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"85d46df6-4c20-4d8d-9599-c7db9bea8885"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":true,"estimator":"binpacking","expander":"most_pods","expendable_pods_priority_cutoff":10,"ignore_daemonsets_utilization":true,"max_graceful_termination_sec":1337,"scale_down_delay_after_add":"20m","scale_down_disabled":true,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77},"cluster_url":"https://84bf1203-16f6-4a3d-9f74-96d9421b4b69.api.k8s.nl-ams.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-09-30T14:11:12.661631Z","created_at":"2025-09-30T14:11:12.661623Z","description":"","dns_wildcard":"*.84bf1203-16f6-4a3d-9f74-96d9421b4b69.nodes.k8s.nl-ams.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"84bf1203-16f6-4a3d-9f74-96d9421b4b69","name":"test-autoscaler-01","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"85d46df6-4c20-4d8d-9599-c7db9bea8885","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"type":"kapsule","updated_at":"2025-09-30T14:11:12.661623Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 506.132167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/84bf1203-16f6-4a3d-9f74-96d9421b4b69
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":true,"estimator":"binpacking",[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/84bf1203-16f6-4a3d-9f74-96d9421b4b69/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.4805ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/84bf1203-16f6-4a3d-9f74-96d9421b4b69/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0b3NjYWxlci0wMSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpZUkVORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFVScmVVOVVSVEJOVkVWNFRXeHZXRVJVVFRGTlJHdDVUMVJGTUUxVVJYaE5iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1I[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"test-autoscaler-02","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m","scale_down_utilization_threshold":0.33,"max_graceful_termination_sec":2664},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/84bf1203-16f6-4a3d-9f74-96d9421b4b69
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/84bf1203-16f6-4a3d-9f74-96d9421b4b69?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/84bf1203-16f6-4a3d-9f74-96d9421b4b69
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"84bf1203-16f6-4a3d-9f74-96d9421b4b69","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.88475ms
[...]
