---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.36.1", "label":"Kubernetes 1.36.1", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-07-07T00:00:00Z", "end_of_life_at":"2027-09-07T00:00:00Z", "released_at":"2026-07-07T00:00:00Z"}, {"region":"fr-par", "name":"1.35.3", "label":"Kubernetes 1.35.3", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"f37abb98-a51f-4f79-8d2e-60f546d1f2ff", "name":"TestAccCluster_Basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:06.966769Z", "updated_at":"2026-08-24T13:26:06.966769Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.95298ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.55412ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f37abb98-a51f-4f79-8d2e-60f546d1f2ff
        method: GET
      response:
        body: '{"id":"f37abb98-a51f-4f79-8d2e-60f546d1f2ff", "name":"TestAccCluster_Basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:06.966769Z", "updated_at":"2026-08-24T13:26:06.966769Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "transitivity_enabled":false, "s3_integration_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.375167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"test-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f37abb98-a51f-4f79-8d2e-60f546d1f2ff","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"f7b4bfec-4d04-40c6-b3dd-e87ca6eb8c41", "name":"test-minimal", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:07.377064Z", "updated_at":"2026-08-24T13:26:07.377064Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"40490e3a-e0ca-4dd3-836e-8eb2bfd76bc8", "created_at":"2026-08-24T13:26:07.377064Z", "updated_at":"2026-08-24T13:26:07.377064Z", "subnet":"10.4.132.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"f7b4bfec-4d04-40c6-b3dd-e87ca6eb8c41", "vpc_id":"f37abb98-a51f-4f79-8d2e-60f546d1f2ff", "region":"fr-par"}, {"id":"08a1a7b1-8a2e-44a7-81b7-93c9d972d1d2", "created_at":"2026-08-24T13:26:07.377064Z", "updated_at":"2026-08-24T13:26:07.377064Z", "subnet":"fd5f:519c:6d46:e5fd::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"f7b4bfec-4d04-40c6-b3dd-e87ca6eb8c41", "vpc_id":"f37abb98-a51f-4f79-8d2e-60f546d1f2ff", "region":"fr-par"}], "vpc_id":"f37abb98-a51f-4f79-8d2e-60f546d1f2ff", "dhcp_enabled":true, "default_route_propagation_enabled":false, "has_s3_integration":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 947.33559ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f7b4bfec-4d04-40c6-b3dd-e87ca6eb8c41
        method: GET
      response:
        body: '{"id":"f7b4bfec-4d04-40c6-b3dd-e87ca6eb8c41", "name":"test-minimal", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:07.377064Z", "updated_at":"2026-08-24T13:26:07.377064Z", "project_id":"105bdce1-64c0-48ab-8[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-minimal","description":"terraform basic test cluster","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.35.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"f7b4bfec-4d04-40c6-b3dd-e87ca6eb8c41"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"8320bc2c-a3aa-411d-b9ea-d8075e579d9c", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:08.773944Z", "updated_at":"2026-08-24T13:26:08.773944Z", "type":"kapsule", "name":"test-minimal", "description":"terraform basic test cluster", "status":"creating", "version":"1.35.3", "cni":"calico", "tags":["terraform-test", "scaleway_k8s_cluster", "minimal"], "cluster_url":"https://8320bc2c-a3aa-411d-b9ea-d8075e579d9c.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.8320bc2c-a3aa-411d-b9ea-d8075e579d9c.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0, "skip_nodes_with_local_storage":false, "log_level":2}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":true, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"f7b4bfec-4d04-40c6-b3dd-e87ca6eb8c41", "commitment_ends_at":"2026-08-24T13:26:08.773953Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 509.700385ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8320bc2c-a3aa-411d-b9ea-d8075e579d9c
        method: GET
      response:
        body: '{"region":"fr-par", "id":"8320bc2c-a3aa-411d-b9ea-d8075e579d9c", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:08.773944Z", "updated_at":"2026-08-24T13:26:08.773944Z", "typ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8320bc2c-a3aa-411d-b9ea-d8075e579d9c/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.527674ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8320bc2c-a3aa-411d-b9ea-d8075e579d9c/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbWluaW1hbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSbmVVMTZSWHBOYWxsM1QwWnZXRVJVVFRKTlJHZDVUWHBGZWsxcVdYZFBSbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1RHcFJRVm9[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"description":"","autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8320bc2c-a3aa-411d-b9ea-d8075e579d9c
        method: PATCH
      response:
        body: '{"region":"fr-par", "id":"8320bc2c-a3aa-411d-b9ea-d8075e579[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"version":"1.36.1","upgrade_pools":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8320bc2c-a3aa-411d-b9ea-d8075e579d9c/upgrade
        method: POST
      response:
        body: '{"region":"fr-par", "id":"8320bc2c-a3aa-411d-b9ea-d8075e579d9c", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:08.773944Z", "updated_at":"2026-08-24T13:2[...]
[...]
    - id: 39
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8320bc2c-a3aa-411d-b9ea-d8075e579d9c?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"8320bc2c-a3aa-411d-b9ea-d8075e579d9c", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-24T13:26:08.773944Z", "updated_at":"2026-08-24T13:26:24.156372Z", [...]
[...]
    - id: 41
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8320bc2c-a3aa-411d-b9ea-d8075e579d9c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"8320bc2c-a3aa-411d-b9ea-d8075e579d9c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.266772ms
[...]
