---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-autoscaler\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: "{\"id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\",\"name\":\"test-autoscaler\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:10.227784Z\",\"updated_at\":\"2025-08-28T14:13:10.227784Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"117b925b-766c-49da-b1eb-f8b96cc7b443\",\"created_at\":\"2025-08-28T14:13:10.227784Z\",\"updated_at\":\"2025-08-28T14:13:10.227784Z\",\"subnet\":\"172.16.0.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\",\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\"},{\"id\":\"4f36bf92-ad37-4877-9874-5d8f8e3f0163\",\"created_at\":\"2025-08-28T14:13:10.227784Z\",\"updated_at\":\"2025-08-28T14:13:10.227784Z\",\"subnet\":\"fdc9:de1b:b200:80a2::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\",\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\"}],\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.018999914s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/0a60f525-6165-459b-86e2-a3fccb970e2a
    method: GET
  response:
    body: "{\"id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\",\"name\":\"test-autoscaler\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:10.227784Z\",\"updated_at\":\"2025-08-28T14:13:10.227784Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"117b925b-766c-49da-b1eb-f8b96cc7b443\",\"created_at\":\"2025-08-28T14:13:10.227784Z\",\"updated_at\":\"2025-08-28T14:13:10.227784Z\",\"subnet\":\"172.16.0.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\",\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\"},{\"id\":\"4f36bf92-ad37-4877-9874-5d8f8e3f0163\",\"created_at\":\"2025-08-28T14:13:10.227784Z\",\"updated_at\":\"2025-08-28T14:13:10.227784Z\",\"subnet\":\"fdc9:de1b:b200:80a2::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\",\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\"}],\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.65058ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-autoscaler-01\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"autoscaler-config\"],\"version\":\"1.32.7\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":true,\"scale_down_delay_after_add\":\"20m\",\"estimator\":\"binpacking\",\"expander\":\"most_pods\",\"ignore_daemonsets_utilization\":true,\"balance_similar_node_groups\":true,\"expendable_pods_priority_cutoff\":10,\"scale_down_unneeded_time\":\"20m\",\"scale_down_utilization_threshold\":0.77,\"max_graceful_termination_sec\":1337},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters
    method: POST
  response:
    body: "{\"region\":\"nl-ams\",\"id\":\"cddddbc7-ffd0-4a10-a108-0a043e31760e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:11.639047Z\",\"updated_at\":\"2025-08-28T14:13:11.639048Z\",\"type\":\"kapsule\",\"name\":\"test-autoscaler-01\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"calico\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"autoscaler-config\"],\"cluster_url\":\"https://cddddbc7-ffd0-4a10-a108-0a043e31760e.api.k8s.nl-ams.scw.cloud:6443\",\"dns_wildcard\":\"*.cddddbc7-ffd0-4a10-a108-0a043e31760e.nodes.k8s.nl-ams.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":true,\"scale_down_delay_after_add\":\"20m\",\"estimator\":\"binpacking\",\"expander\":\"most_pods\",\"ignore_daemonsets_utilization\":true,\"balance_similar_node_groups\":true,\"expendable_pods_priority_cutoff\":10,\"scale_down_unneeded_time\":\"20m\",\"scale_down_utilization_threshold\":0.77,\"max_graceful_termination_sec\":1337},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"0a60f525-6165-459b-86e2-a3fccb970e2a\",\"commitment_ends_at\":\"2025-08-28T14:13:11.639065Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 379.826794ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cddddbc7-ffd0-4a10-a108-0a043e31760e
    method: GET
  response:
    body: "{\"region\":\"nl-ams\",\"id\":\"cddddbc7-ffd0-4a10-a108-0a043e31760e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:11.639047Z\",\"updated_at\":\"2025-08-28T14:13:11.639048Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cddddbc7-ffd0-4a10-a108-0a043e31760e/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.219837ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cddddbc7-ffd0-4a10-a108-0a043e31760e/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0b3NjYWxlci0wMSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVaM2xPZWtVd1RWUk5lRTFXYjFoRVZFMHhUVVJuZVU1NlJUQk5WRTE0VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQl[...]
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-autoscaler-02\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"5m\",\"scale_down_utilization_threshold\":0.33,\"max_graceful_termination_sec\":2664},\"auto_upgrade\":{\"enable\":null,\"maintenance_window\":null},\"open_id_connect_config\":{\"issuer_url\":null,\"client_id\":null,\"username_claim\":null,\"username_prefix\":null,\"groups_claim\":null,\"groups_prefix\":null,\"required_claim\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cddddbc7-ffd0-4a10-a108-0a043e31760e
    method: PATCH
  response:
    body: "{\"region\":\"nl-ams\",\"id\":\"cddddbc7-ffd0-4a10-a108-0a043e31760e\",\"orga[...]
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cddddbc7-ffd0-4a10-a108-0a043e31760e?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"nl-ams\",\"id\":\"cddddbc7-ffd0-4a10-a108-0a043e31760e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:11.639047Z\",\"updated_at\":\"2025-08-28T14:13:34.352938Z\",\"type\":\"k[...]
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cddddbc7-ffd0-4a10-a108-0a043e31760e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"cddddbc7-ffd0-4a10-a108-0a043e31760e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 41.254188ms
[...]
