---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"multicloud\",\"name\":\"test-multicloud\",\"description\":\"\",\"tags\":[],\"version\":\"1.34.1\",\"cni\":\"kilo\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"06bfd950-07bf-40ed-a582-9d7204fdda6b\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.388390Z\", \"updated_at\":\"2025-10-30T16:18:17.388391Z\", \"type\":\"multicloud\", \"name\":\"test-multicloud\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"kilo\", \"tags\":[], \"cluster_url\":\"https://06bfd950-07bf-40ed-a582-9d7204fdda6b.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.06bfd950-07bf-40ed-a582-9d7204fdda6b.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":null, \"commitment_ends_at\":\"2025-10-30T16:18:17.388405Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 507.342315ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06bfd950-07bf-40ed-a582-9d7204fdda6b
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"06bfd950-07bf-40ed-a582-9d7204fdda6b\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.388390Z\", \"updated_at\":\"2025-10-30T16:18:17.388391Z\", \"type\":\"m[...]
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06bfd950-07bf-40ed-a582-9d7204fdda6b/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbXVsdGljbG91ZCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpZUkVORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSQmVVOVVSVEpOVkdkNFRqRnZXRVJVVFRGTlZFRjVUMVJGTWsxVVozaE9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1NrWX[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-multicloud\",\"node_type\":\"DEV1-M\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06bfd950-07bf-40ed-a582-9d7204fdda6b/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"8430bc40-cdd3-4572-96ad-c2f65aa12b79\", \"cluster_id\":\"06bfd950-07bf-40ed-a582-9d7204fdda6b\", \"created_at\":\"2025-10-30T16:20:04.770530Z\", \"updated_at\":\"2025-10-30T16:20:04.770530Z\", \"name\":\"test-multicloud\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"e781706d-7e9d-4c15-b416-5445fc7b0fe5\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.19438ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8430bc40-cdd3-4572-96ad-c2f65aa12b79
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"8430bc40-cdd3-4572-96ad-c2f65aa12b79\", \"cluster_id\":\"06bfd950-07bf-40ed-a582-9d7204fdda6b\", \"created_at\":\"2025-10-30T16:20:04.770530Z\", \"updated_at\":\"2025-10-30T16:20:04.770530Z\", \"name\":\"test-multicloud\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"e781706d-7e9d-4c15-b416-5445fc7b0fe5\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.196209ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 8430bc40-cdd3-4572-96ad-c2f65aa12b79
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06bfd950-07bf-40ed-a582-9d7204fdda6b/nodes?order_by=created_at_asc&page=1&pool_id=8430bc40-cdd3-4572-96ad-c2f65aa12b79&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"444266c1-7a84-4283-824a-2fae23a4f596\", \"cluster_id\":\"06bfd950-07bf-40ed-a582-9d7204fdda6b\", \"created_at\":\"2025-10-30T16:22:32.021633Z\", \"updated_at\":\"2025-10-30T16:23:45.072102Z\", \"pool_id\":\"8430bc40-cdd3-4572-96ad-c2f65aa12b79\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-multicloud-test-multicloud-444266c17a\", \"public_ip_v4\":\"51.158.97.50\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/561b7d5a-8487-432e-b009-242d42760f87\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.421965ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-multicloud-test-multicloud-444266c17a
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-multicloud-test-multicloud-444266c17a&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":0, \"ips\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.186157ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8430bc40-cdd3-4572-96ad-c2f65aa12b79
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"8430bc40-cdd3-4572-96ad-c2f65aa12b79\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.975391ms
- id: 25
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06bfd950-07bf-40ed-a582-9d7204fdda6b?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"06bfd950-07bf-40ed-a582-9d7204fdda6b\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.388390Z\", \"updated_at\":\"2025-10-30T16:26:02.597406Z\", \"type[...]
[...]
