---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SClusterConfigOIDC","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"042162cd-dbf2-481d-923d-ea171bed7941","name":"testAccCheckK8SClusterConfigOIDC","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:21.655080Z","updated_at":"2026-01-29T16:43:21.655080Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.139375ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/042162cd-dbf2-481d-923d-ea171bed7941
        method: GET
      response:
        body: '{"id":"042162cd-dbf2-481d-923d-ea171bed7941","name":"testAccCheckK8SClusterConfigOIDC","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:21.655080Z","updated_at":"2026-01-29T16:43:21.655080Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.66ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-oidc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"042162cd-dbf2-481d-923d-ea171bed7941","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280","name":"test-oidc","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:21.882645Z","updated_at":"2026-01-29T16:43:21.882645Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"c7233681-f73c-4b34-afbe-847d73a0cbf9","created_at":"2026-01-29T16:43:21.882645Z","updated_at":"2026-01-29T16:43:21.882645Z","subnet":"172.17.88.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280","vpc_id":"042162cd-dbf2-481d-923d-ea171bed7941"},{"id":"d4e726f8-3a47-4bb7-af2c-d221b2d08462","created_at":"2026-01-29T16:43:21.882645Z","updated_at":"2026-01-29T16:43:21.882645Z","subnet":"fd5f:519c:6d46:cda5::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280","vpc_id":"042162cd-dbf2-481d-923d-ea171bed7941"}],"vpc_id":"042162cd-dbf2-481d-923d-ea171bed7941","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 634.767208ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4f3503c0-d6ec-46c2-ab35-ae47203fb280
        method: GET
      response:
        body: '{"id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280","name":"test-oidc","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:21.882645Z","updated_at":"2026-01-29T16:43:21.882645Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"c7233681-f73c-4b34-afbe-847d73a0cbf9","created_at":"2026-01-29T16:43:21.882645Z","updated_at":"2026-01-29T16:43:21.882645Z","subnet":"172.17.88.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280","vpc_id":"042162cd-dbf2-481d-923d-ea171bed7941"},{"id":"d4e726f8-3a47-4bb7-af2c-d221b2d08462","created_at":"2026-01-29T16:43:21.882645Z","updated_at":"2026-01-29T16:43:21.882645Z","subnet":"fd5f:519c:6d46:cda5::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280","vpc_id":"042162cd-dbf2-481d-923d-ea171bed7941"}],"vpc_id":"042162cd-dbf2-481d-923d-ea171bed7941","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.358375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-oidc","description":"","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"version":"1.35.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://accounts.google.com","client_id":"my-super-id","username_claim":"mario","username_prefix":null,"groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":null},"apiserver_cert_sans":[],"private_network_id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"f01c436e-4502-495d-9785-a1f0d7ef4834","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:22.875319Z","updated_at":"2026-01-29T16:43:22.875319Z","type":"kapsule","name":"test-oidc","description":"","status":"creating","version":"1.35.0","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"cluster_url":"https://f01c436e-4502-495d-9785-a1f0d7ef4834.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.f01c436e-4502-495d-9785-a1f0d7ef4834.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://accounts.google.com","client_id":"my-super-id","username_claim":"mario","username_prefix":"","groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"4f3503c0-d6ec-46c2-ab35-ae47203fb280","commitment_ends_at":"2026-01-29T16:43:22.875331Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 420.934041ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f01c436e-4502-495d-9785-a1f0d7ef4834
        method: GET
      response:
        body: '{"region":"fr-par","id":"f01c436e-4502-495d-9785-a1f0d7ef4834","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:22.875319Z","updated_at":"2026-01-29T16:43:22.875319Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f01c436e-4502-495d-9785-a1f0d7ef4834/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.267833ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f01c436e-4502-495d-9785-a1f0d7ef4834/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3Qtb2lkYyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSRmVVOUVSVEpPUkUxNVRXeHZXRVJVVFRKTlJFVjVUMFJGTWs1RVRYbE5iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1QxSk9XVWwyWkV[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":"https://gitlab.com","client_id":"my-even-more-awesome-id","username_claim":"luigi","username_prefix":"boo","groups_claim":[],"groups_prefix":"","required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f01c436e-4502-495d-9785-a1f0d7ef4834
        method: PATCH
      response:
        body: '{"region":"fr-par","id[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f01c436e-4502-495d-9785-a1f0d7ef4834?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"f01c436e-4502-495d-9785-a1f0d7ef4834","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:43:22.875319Z","updated_at":"2026-01-29T16:43:31.801930Z","type"[...]
[...]
    - id: 35
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f01c436e-4502-495d-9785-a1f0d7ef4834
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"f01c436e-4502-495d-9785-a1f0d7ef4834","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.6725ms
[...]
