---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:11:28.872204Z","dhcp_enabled":true,"id":"d0bc2666-f415-408d-828a-4492c5380e2e","name":"k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:11:28.872204Z","id":"0e5afc5c-ae58-436c-a4f1-da59430bccfb","subnet":"172.16.88.0/22","updated_at":"2024-02-28T14:11:28.872204Z"},{"created_at":"2024-02-28T14:11:28.872204Z","id":"3f931508-bafa-42a8-bd0e-7d09e1ad76fe","subnet":"fd5f:519c:6d46:d36d::/64","updated_at":"2024-02-28T14:11:28.872204Z"}],"tags":[],"updated_at":"2024-02-28T14:11:28.872204Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d0bc2666-f415-408d-828a-4492c5380e2e
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:11:28.872204Z","dhcp_enabled":true,"id":"d0bc2666-f415-408d-828a-4492c5380e2e","name":"k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:11:28.872204Z","id":"0e5afc5c-ae58-436c-a4f1-da59430bccfb","subnet":"172.16.88.0/22","updated_at":"2024-02-28T14:11:28.872204Z"},{"created_at":"2024-02-28T14:11:28.872204Z","id":"3f931508-bafa-42a8-bd0e-7d09e1ad76fe","subnet":"fd5f:519c:6d46:d36d::/64","updated_at":"2024-02-28T14:11:28.872204Z"}],"tags":[],"updated_at":"2024-02-28T14:11:28.872204Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"d0bc2666-f415-408d-828a-4492c5380e2e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a59bff2c-5043-405b-ac7f-e90e4a987c8f.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-02-28T14:11:30.546753310Z","created_at":"2024-02-28T14:11:30.546753310Z","description":"","dns_wildcard":"*.a59bff2c-5043-405b-ac7f-e90e4a987c8f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"a59bff2c-5043-405b-ac7f-e90e4a987c8f","name":"k8s-private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"d0bc2666-f415-408d-828a-4492c5380e2e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2024-02-28T14:11:30.580164066Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a59bff2c-5043-405b-ac7f-e90e4a987c8f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a59bff2c-5043-405b-ac7f-e90e4a987c8f/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a59bff2c-5043-405b-ac7f-e90e4a987c8f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVTWGxPZWtVd1RWUkZlazFXYjFoRVZFMHdUVVJKZVU1NlJUQk5WRVY2VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a59bff2c-5043-405b-ac7f-e90e4a987c8f?with_additional_resources=false
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_prior[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a59bff2c-5043-405b-ac7f-e90e4a987c8f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a59bff2c-5043-405b-ac7f-e90e4a987c8f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
