---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.3","label":"Kubernetes 1.35.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.6","label":"Kubernetes 1.34.6","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-friendly-satoshi","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","name":"tf-vpc-friendly-satoshi","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:16:53.619753Z","updated_at":"2026-07-03T09:16:53.619753Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.520872ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/054e0874-fecf-41f5-a2cb-5f9f61c90fbf
        method: GET
      response:
        body: '{"id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","name":"tf-vpc-friendly-satoshi","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:16:53.619753Z","updated_at":"2026-07-03T09:16:53.619753Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.368827ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-type-change","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3","name":"test-type-change","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:16:53.749530Z","updated_at":"2026-07-03T09:16:53.749530Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"292177b6-39b1-4e18-9d28-6ef807b0e487","created_at":"2026-07-03T09:16:53.749530Z","updated_at":"2026-07-03T09:16:53.749530Z","subnet":"172.16.52.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3","vpc_id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","region":"fr-par"},{"id":"1300e5f1-cb67-4b8b-b00c-e15bb3b2dfae","created_at":"2026-07-03T09:16:53.749530Z","updated_at":"2026-07-03T09:16:53.749530Z","subnet":"fd63:256c:45f7:db4a::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3","vpc_id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","region":"fr-par"}],"vpc_id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.002115ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9a5f4124-3725-4f81-ab9a-d82d8c99d3f3
        method: GET
      response:
        body: '{"id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3","name":"test-type-change","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:16:53.749530Z","updated_at":"2026-07-03T09:16:53.749530Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"292177b6-39b1-4e18-9d28-6ef807b0e487","created_at":"2026-07-03T09:16:53.749530Z","updated_at":"2026-07-03T09:16:53.749530Z","subnet":"172.16.52.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3","vpc_id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","region":"fr-par"},{"id":"1300e5f1-cb67-4b8b-b00c-e15bb3b2dfae","created_at":"2026-07-03T09:16:53.749530Z","updated_at":"2026-07-03T09:16:53.749530Z","subnet":"fd63:256c:45f7:db4a::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3","vpc_id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","region":"fr-par"}],"vpc_id":"054e0874-fecf-41f5-a2cb-5f9f61c90fbf","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.642421ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"kapsule","name":"test-type-change","description":"","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"version":"1.35.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"f374278e-dadb-43b3-a7c6-f0411795e657","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:16:54.560954Z","updated_at":"2026-07-03T09:16:54.560955Z","type":"kapsule","name":"test-type-change","description":"","status":"creating","version":"1.35.3","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","type-change"],"cluster_url":"https://f374278e-dadb-43b3-a7c6-f0411795e657.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.f374278e-dadb-43b3-a7c6-f0411795e657.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"9a5f4124-3725-4f81-ab9a-d82d8c99d3f3","commitment_ends_at":"2026-07-03T09:16:54.560966Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.961231ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657
        method: GET
      response:
        body: '{"region":"fr-par","id":"f374278e-dadb-43b3-a7c6-f0411795e657","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:16:54.560954Z","updated_at":"2026-07-03T09:16:54.560955Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.840108ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtdHlwZS1jaGFuZ2UiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWVJFTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUmpkMDFxUVRWTlZGa3hUa1p2V0VSVVRUSk5SR04zVFdwQk5VMVVXVEZPUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNSbk1[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"name":"kapsule","region":"","availability":"available","max_nodes":150,"commitment_delay":"0s","sla":0,"resiliency":"standard","memory":4000000000,"dedicated":false,"audit_logs_supported":false,"max_etcd_size":55000000},{"name":"kapsule-dedicated-4","region":"","availability":"available","max_nodes":250,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":4000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kapsule-dedicated-8","region":"","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":8000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000},{"name":"kapsule-dedicated-16","region":"","availability":"available","max_nodes":500,"commitment_delay":"2592000s","sla":99.5,"resiliency":"high_availability","memory":16000000000,"dedicated":true,"audit_logs_supported":true,"max_etcd_size":200000000}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.965422ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"type":"kapsule-dedicated-4"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657/set-type
        method: POST
      response:
        body: '{"region":"fr-par","id":"f374278e-dadb-43b3-a7c6-f0411795e657","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-4[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657
        method: PATCH
      response:
        body: '{"region":"fr-par","id":"f374278e-dadb-43b3-a7c6-f0411795e6[...]
[...]
    - id: 63
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"f374278e-dadb-43b3-a7c6-f0411795e657","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:16:54.560954Z","updated_at":"2026-07-03T09:29:33.436431Z","type"[...]
[...]
    - id: 65
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f374278e-dadb-43b3-a7c6-f0411795e657
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"f374278e-dadb-43b3-a7c6-f0411795e657","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.949474ms
[...]
