---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.3","label":"Kubernetes 1.35.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.6","label":"Kubernetes 1.34.6","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccCluster_Basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","name":"TestAccCluster_Basic","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:07.685878Z","updated_at":"2026-07-03T09:14:07.685878Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.321611ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0303c1fe-9de1-40b7-b5d5-abced59f84d0
        method: GET
      response:
        body: '{"id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","name":"TestAccCluster_Basic","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:07.685878Z","updated_at":"2026-07-03T09:14:07.685878Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.424346ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"0f9efdac-56e8-4eda-81db-30bade72cff8","name":"test-minimal","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:07.836145Z","updated_at":"2026-07-03T09:14:07.836145Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"f88cecc4-a379-4754-bc64-59f30d3f0357","created_at":"2026-07-03T09:14:07.836145Z","updated_at":"2026-07-03T09:14:07.836145Z","subnet":"172.16.40.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"0f9efdac-56e8-4eda-81db-30bade72cff8","vpc_id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","region":"fr-par"},{"id":"3eb1b429-5dd8-442e-bfaf-43bcc6db8066","created_at":"2026-07-03T09:14:07.836145Z","updated_at":"2026-07-03T09:14:07.836145Z","subnet":"fd63:256c:45f7:b1bc::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"0f9efdac-56e8-4eda-81db-30bade72cff8","vpc_id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","region":"fr-par"}],"vpc_id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 620.759392ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0f9efdac-56e8-4eda-81db-30bade72cff8
        method: GET
      response:
        body: '{"id":"0f9efdac-56e8-4eda-81db-30bade72cff8","name":"test-minimal","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:07.836145Z","updated_at":"2026-07-03T09:14:07.836145Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[{"id":"f88cecc4-a379-4754-bc64-59f30d3f0357","created_at":"2026-07-03T09:14:07.836145Z","updated_at":"2026-07-03T09:14:07.836145Z","subnet":"172.16.40.0/22","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"0f9efdac-56e8-4eda-81db-30bade72cff8","vpc_id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","region":"fr-par"},{"id":"3eb1b429-5dd8-442e-bfaf-43bcc6db8066","created_at":"2026-07-03T09:14:07.836145Z","updated_at":"2026-07-03T09:14:07.836145Z","subnet":"fd63:256c:45f7:b1bc::/64","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"0f9efdac-56e8-4eda-81db-30bade72cff8","vpc_id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","region":"fr-par"}],"vpc_id":"0303c1fe-9de1-40b7-b5d5-abced59f84d0","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.801358ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-minimal","description":"terraform basic test cluster","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.34.6","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"0f9efdac-56e8-4eda-81db-30bade72cff8"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"ca7275b9-00b8-40c8-851b-72593e5fb0b7","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:08.593938Z","updated_at":"2026-07-03T09:14:08.593939Z","type":"kapsule","name":"test-minimal","description":"terraform basic test cluster","status":"creating","version":"1.34.6","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://ca7275b9-00b8-40c8-851b-72593e5fb0b7.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.ca7275b9-00b8-40c8-851b-72593e5fb0b7.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"0f9efdac-56e8-4eda-81db-30bade72cff8","commitment_ends_at":"2026-07-03T09:14:08.593947Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.743903ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ca7275b9-00b8-40c8-851b-72593e5fb0b7
        method: GET
      response:
        body: '{"region":"fr-par","id":"ca7275b9-00b8-40c8-851b-72593e5fb0b7","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:08.593938Z","updated_at":"2026-07-03T09:14:08.593939Z","type":"ka[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ca7275b9-00b8-40c8-851b-72593e5fb0b7/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.654308ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ca7275b9-00b8-40c8-851b-72593e5fb0b7/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbWluaW1hbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpZUkVORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSamQwMXFRVFZOVkZGM1QwWnZXRVJVVFRKTlJHTjNUV3BCTlUxVVVYZFBSbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1EwbzRTa1o[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"description":"","autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null,"skip_nodes_with_local_storage":null,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ca7275b9-00b8-40c8-851b-72593e5fb0b7
        method: PATCH
      response:
        body: '{"region":"fr-par","id":"ca7275b9-00b8-40c8-851b-72593e5fb0[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"version":"1.35.3","upgrade_pools":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ca7275b9-00b8-40c8-851b-72593e5fb0b7/upgrade
        method: POST
      response:
        body: '{"region":"fr-par","id":"ca7275b9-00b8-40c8-851b-72593e5fb0b7","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:08.593938Z","updated_at":"2026-07-03T09:14:15.[...]
[...]
    - id: 38
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ca7275b9-00b8-40c8-851b-72593e5fb0b7?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"ca7275b9-00b8-40c8-851b-72593e5fb0b7","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-07-03T09:14:08.593938Z","updated_at":"2026-07-03T09:14:21.488078Z","type"[...]
[...]
    - id: 40
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ca7275b9-00b8-40c8-851b-72593e5fb0b7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"ca7275b9-00b8-40c8-851b-72593e5fb0b7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.140243ms
[...]
