---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"srn":"","region":"fr-par","name":"1.37.0","label":"Kubernetes 1.37.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-08-28T00:00:00Z","end_of_life_at":"2027-10-28T00:00:00Z","released_at":"2026-08-26T00:00:00Z","additional_components":{}},{"srn":"","region":"fr-par","name":"1.36.4","label":"Kubernetes 1.36.4","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQ[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-autoscaling","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/nl-ams/vpcs/d72b584e-2ab7-4497-a10a-ff7d7a7e385b","id":"d72b584e-2ab7-4497-a10a-ff7d7a7e385b","name":"test-cluster-autoscaling","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:17.995917Z","updated_at":"2026-09-24T11:29:17.995917Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 283.043834ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.827209ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/d72b584e-2ab7-4497-a10a-ff7d7a7e385b
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/nl-ams/vpcs/d72b584e-2ab7-4497-a10a-ff7d7a7e385b","id":"d72b584e-2ab7-4497-a10a-ff7d7a7e385b","name":"test-cluster-autoscaling","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:17.995917Z","updated_at":"2026-09-24T11:29:17.995917Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 115.970125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-cluster-autoscaling","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"d72b584e-2ab7-4497-a10a-ff7d7a7e385b","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/nl-ams/private-networks/842bf098-2d78-42cc-a0e2-1f8e88f2c920","id":"842bf098-2d78-42cc-a0e2-1f8e88f2c920","name":"test-cluster-autoscaling","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:18.406961Z","updated_at":"2026-09-24T11:29:18.406961Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"srn":"srn://vpc.scw.eu/regions/nl-ams/subnets/881eb455-2873-420d-8b5e-6600312c77e9","id":"881eb455-2873-420d-8b5e-6600312c77e9","created_at":"2026-09-24T11:29:18.406961Z","updated_at":"2026-09-24T11:29:18.406961Z","subnet":"172.16.12.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"842bf098-2d78-42cc-a0e2-1f8e88f2c920","vpc_id":"d72b584e-2ab7-4497-a10a-ff7d7a7e385b","region":"nl-ams"},{"srn":"srn://vpc.scw.eu/regions/nl-ams/subnets/f83dc469-990e-4c54-803e-3e8288765246","id":"f83dc469-990e-4c54-803e-3e8288765246","created_at":"2026-09-24T11:29:18.406961Z","updated_at":"2026-09-24T11:29:18.406961Z","subnet":"fdd6:6cd1:142f:4173::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"842bf098-2d78-42cc-a0e2-1f8e88f2c920","vpc_id":"d72b584e-2ab7-4497-a10a-ff7d7a7e385b","region":"nl-ams"}],"vpc_id":"d72b584e-2ab7-4497-a10a-ff7d7a7e385b","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"nl-ams"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 764.598375ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/842bf098-2d78-42cc-a0e2-1f8e88f2c920
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/nl-ams/private-networks/842bf098-2d78-42cc-a0e2-1f8e88f2c920","id":"842bf098-2d78-42cc-a0e2-1f8e88f2c920","name":"test-cluster-autoscaling","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-0[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"test-cluster-autoscaling","description":"","tags":["terraform-test","scaleway_k8s_cluster","autoscaling"],"version":"1.37.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337,"skip_nodes_with_local_storage":false,"log_level":4},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"842bf098-2d78-42cc-a0e2-1f8e88f2c920"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters
        method: POST
      response:
        body: '{"srn":"","region":"nl-ams","id":"5ffbfc22-505a-4da0-98c0-d827dbf43ad8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:19.571765Z","updated_at":"2026-09-24T11:29:19.571765Z","type":"kapsule","name":"test-cluster-autoscaling","description":"","status":"creating","version":"1.37.0","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","autoscaling"],"cluster_url":"https://5ffbfc22-505a-4da0-98c0-d827dbf43ad8.api.k8s.nl-ams.scw.cloud:6443","dns_wildcard":"*.5ffbfc22-505a-4da0-98c0-d827dbf43ad8.nodes.k8s.nl-ams.scw.cloud","autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337,"skip_nodes_with_local_storage":false,"log_level":4},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"842bf098-2d78-42cc-a0e2-1f8e88f2c920","commitment_ends_at":"2026-09-24T11:29:19.571775Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 508.957875ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5ffbfc22-505a-4da0-98c0-d827dbf43ad8
        method: GET
      response:
        body: '{"srn":"","region":"nl-ams","id":"5ffbfc22-505a-4da0-98c0-d827dbf43ad8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:19.571765Z","updated_at":"2026-09-24T11:29:19.730054Z","[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5ffbfc22-505a-4da0-98c0-d827dbf43ad8/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 109.573916ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            endpoint:
                - unknown_endpoint
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5ffbfc22-505a-4da0-98c0-d827dbf43ad8/kubeconfig?endpoint=unknown_endpoint
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtY2x1c3Rlci1hdXRvc2NhbGluZyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVScmVVMTZSWGhOYW10NFQxWnZXRVJVVFRKTlJHdDVUWHBGZUUxcWEzaFBWbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m","scale_down_utilization_threshold":0.33,"max_graceful_termination_sec":2664,"skip_nodes_with_local_storage":false,"log_level":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5ffbfc22-505a-4da0-98c0-d827dbf43ad8
        method: PATCH
      response:
        body: '{"srn":"","region":"nl-ams","id":"5ffbfc22-505a-4da0-98c0-d[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5ffbfc22-505a-4da0-98c0-d827dbf43ad8?with_additional_resources=false
        method: DELETE
      response:
        body: '{"srn":"","region":"nl-ams","id":"5ffbfc22-505a-4da0-98c0-d827dbf43ad8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:29:19.571765Z","updated_at":"2026-09-24T11:29:28.011272[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5ffbfc22-505a-4da0-98c0-d827dbf43ad8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"cluster","resource_id":"5ffbfc22-505a-4da0-98c0-d827dbf43ad8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 40.668917ms
[...]
