---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:46:51.128834Z","dhcp_enabled":true,"id":"da6ae50e-baf4-4bbf-a742-ec4639de471a","name":"test-data-source-cluster","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:51.128834Z","id":"9aef185b-822d-4c89-90f8-96ea8b7da90a","private_network_id":"da6ae50e-baf4-4bbf-a742-ec4639de471a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:46:51.128834Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:51.128834Z","id":"e8f13575-a5c2-4442-a57a-c20965621d97","private_network_id":"da6ae50e-baf4-4bbf-a742-ec4639de471a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3779::/64","updated_at":"2025-01-24T14:46:51.128834Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:51.128834Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 973.307542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/da6ae50e-baf4-4bbf-a742-ec4639de471a
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:46:51.128834Z","dhcp_enabled":true,"id":"da6ae50e-baf4-4bbf-a742-ec4639de471a","name":"test-data-source-cluster","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:51.128834Z","id":"9aef185b-822d-4c89-90f8-96ea8b7da90a","private_network_id":"da6ae50e-baf4-4bbf-a742-ec4639de471a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-24T14:46:51.128834Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:51.128834Z","id":"e8f13575-a5c2-4442-a57a-c20965621d97","private_network_id":"da6ae50e-baf4-4bbf-a742-ec4639de471a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3779::/64","updated_at":"2025-01-24T14:46:51.128834Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:51.128834Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.414791ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"da6ae50e-baf4-4bbf-a742-ec4639de471a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1dd37aee-0d6f-46ee-88a2-6173f6b18fc1.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-24T14:46:52.494551Z","created_at":"2025-01-24T14:46:52.494422Z","description":"","dns_wildcard":"*.1dd37aee-0d6f-46ee-88a2-6173f6b18fc1.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"1dd37aee-0d6f-46ee-88a2-6173f6b18fc1","name":"tf-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"da6ae50e-baf4-4bbf-a742-ec4639de471a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2025-01-24T14:46:52.494422Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 639.4475ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1dd37aee-0d6f-46ee-88a2-6173f6b18fc1
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1dd37aee-0d6f-46ee-88a2-6173f6b18fc1/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.105333ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1dd37aee-0d6f-46ee-88a2-6173f6b18fc1/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFUlhsTmVrVXdUa1JaTVUweGIxaEVWRTB4VFVSRmVVMTZSVEJPUkZreFRURnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZGdlE[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"clusters":[{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1dd37aee-0d6f-46ee-88a2-6173f6b18fc1/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1dd37aee-0d6f-46ee-88a2-6173f6b18fc1","container_runtime":"containerd","created_at":"2025-01-24T14:46:58.448989Z","id":"5016415d-7da0-46cf-9d3b-0ef746f60b56","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:46:58.448989Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.079542ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5016415d-7da0-46cf-9d3b-0ef746f60b56
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1dd37aee-0d6f-46ee-88a2-6173f6b18fc1","container_runtime":"containerd","created_at":"2025-01-24T14:46:58.448989Z","id":"5016415d-7da0-46cf-9d3b-0ef746f60b56","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:46:58.448989Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.749833ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1dd37aee-0d6f-46ee-88a2-6173f6b18fc1/nodes?order_by=created_at_asc&page=1&pool_id=5016415d-7da0-46cf-9d3b-0ef746f60b56&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"1dd37aee-0d6f-46ee-88a2-6173f6b18fc1","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:49:59.462216Z","error_message":"","id":"dcb7f149-e3e0-4b52-8fe6-4ddab32f623d","name":"scw-tf-cluster-default-dcb7f149e3e04b528fe64dd","pool_id":"5016415d-7da0-46cf-9d3b-0ef746f60b56","provider_id":"scaleway://instance/fr-par-1/471d7593-60e5-48ef-815e-976b95b60b0e","public_ip_v4":"51.158.65.65","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:43.688939Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.848542ms
[...]
    - id: 162
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5016415d-7da0-46cf-9d3b-0ef746f60b56
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"5016415d-7da0-46cf-9d3b-0ef746f60b56","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.290292ms
    - id: 163
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1dd37aee-0d6f-46ee-88a2-6173f6b18fc1?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
