---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:46:50.992243Z","dhcp_enabled":true,"id":"6367ceff-f0ab-4998-bca7-427e4e93a857","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:50.992243Z","id":"68e7fe70-73bc-4def-a8fa-be2c7f3c74d2","private_network_id":"6367ceff-f0ab-4998-bca7-427e4e93a857","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.44.0/22","updated_at":"2025-01-24T14:46:50.992243Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:50.992243Z","id":"3ebcc8e5-6c7b-44bf-8ea0-e7386c40fb5e","private_network_id":"6367ceff-f0ab-4998-bca7-427e4e93a857","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9c9f::/64","updated_at":"2025-01-24T14:46:50.992243Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:50.992243Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 636.161167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6367ceff-f0ab-4998-bca7-427e4e93a857
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:46:50.992243Z","dhcp_enabled":true,"id":"6367ceff-f0ab-4998-bca7-427e4e93a857","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:50.992243Z","id":"68e7fe70-73bc-4def-a8fa-be2c7f3c74d2","private_network_id":"6367ceff-f0ab-4998-bca7-427e4e93a857","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.44.0/22","updated_at":"2025-01-24T14:46:50.992243Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:50.992243Z","id":"3ebcc8e5-6c7b-44bf-8ea0-e7386c40fb5e","private_network_id":"6367ceff-f0ab-4998-bca7-427e4e93a857","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9c9f::/64","updated_at":"2025-01-24T14:46:50.992243Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:50.992243Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.113834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"6367ceff-f0ab-4998-bca7-427e4e93a857"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://234791fe-27cd-41ee-a2c8-13a97f0a6e1d.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-24T14:46:52.497083Z","created_at":"2025-01-24T14:46:52.497072Z","description":"","dns_wildcard":"*.234791fe-27cd-41ee-a2c8-13a97f0a6e1d.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"234791fe-27cd-41ee-a2c8-13a97f0a6e1d","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"6367ceff-f0ab-4998-bca7-427e4e93a857","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2025-01-24T14:46:52.497072Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 728.849917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.477ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVSWGxOZWtVd1RrUlpNVTVHYjFoRVZFMHhUVVJGZVUxNlJUQk9SRmt4VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"234791fe-27cd-41ee-a2c8-13a97f0a6e1d","container_runtime":"containerd","created_at":"2025-01-24T14:46:58.458127Z","id":"1db15087-bf79-4523-9f5e-6bd6cfdfa72e","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-01-24T14:46:58.458127Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.944583ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1db15087-bf79-4523-9f5e-6bd6cfdfa72e
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"234791fe-27cd-41ee-a2c8-13a97f0a6e1d","container_runtime":"containerd","created_at":"2025-01-24T14:46:58.458127Z","id":"1db15087-bf79-4523-9f5e-6bd6cfdfa72e","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-01-24T14:46:58.458127Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.844125ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d/nodes?order_by=created_at_asc&page=1&pool_id=1db15087-bf79-4523-9f5e-6bd6cfdfa72e&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"234791fe-27cd-41ee-a2c8-13a97f0a6e1d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:48:57.331802Z","error_message":"","id":"21a50d16-0183-47a1-a298-27d6c09a3b79","name":"scw-tf-cluster-pool-tf-pool-21a50d16018347a1a2","pool_id":"1db15087-bf79-4523-9f5e-6bd6cfdfa72e","provider_id":"scaleway://instance/fr-par-1/e4b4f1dc-de10-4ce9-90c6-f757e7d32228","public_ip_v4":"51.15.236.240","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:53.847504Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.447292ms
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d
        method: PATCH
      response:
        body: '{"acl_available":false,"admission_plugins"[...]
[...]
    - id: 120
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"234791fe-27cd-41ee-a2c8-13a97f0a6e1d","container_runtime":"containerd","created_at":"2025-01-24T14:46:58.458127Z","id":"1db15087-bf79-4523-9f5e-6bd6cfdfa72e","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-01-24T14:52:51.526250Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.461708ms
[...]
    - id: 122
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d/nodes?order_by=created_at_asc&page=1&pool_id=1db15087-bf79-4523-9f5e-6bd6cfdfa72e&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"234791fe-27cd-41ee-a2c8-13a97f0a6e1d","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:48:57.331802Z","error_message":"","id":"21a50d16-0183-47a1-a298-27d6c09a3b79","name":"scw-tf-cluster-pool-tf-pool-21a50d16018347a1a2","pool_id":"1db15087-bf79-4523-9f5e-6bd6cfdfa72e","provider_id":"scaleway://instance/fr-par-1/e4b4f1dc-de10-4ce9-90c6-f757e7d32228","public_ip_v4":"51.15.236.240","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:53:15.923073Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.378708ms
[...]
    - id: 172
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1db15087-bf79-4523-9f5e-6bd6cfdfa72e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"1db15087-bf79-4523-9f5e-6bd6cfdfa72e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.231791ms
    - id: 173
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/234791fe-27cd-41ee-a2c8-13a97f0a6e1d?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
