---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:34:57.723226Z","dhcp_enabled":true,"id":"61a947a6-4761-48ac-9255-541448a04325","name":"test-data-source-cluster","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:34:57.723226Z","id":"81859b65-cc30-48dc-9917-f36c480d7122","private_network_id":"61a947a6-4761-48ac-9255-541448a04325","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T17:34:57.723226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:34:57.723226Z","id":"bdc693cf-c7f7-4ba4-b079-a0cf5b66895f","private_network_id":"61a947a6-4761-48ac-9255-541448a04325","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b6a::/64","updated_at":"2024-10-03T17:34:57.723226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:34:57.723226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 518.316504ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/61a947a6-4761-48ac-9255-541448a04325
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:34:57.723226Z","dhcp_enabled":true,"id":"61a947a6-4761-48ac-9255-541448a04325","name":"test-data-source-cluster","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:34:57.723226Z","id":"81859b65-cc30-48dc-9917-f36c480d7122","private_network_id":"61a947a6-4761-48ac-9255-541448a04325","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T17:34:57.723226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:34:57.723226Z","id":"bdc693cf-c7f7-4ba4-b079-a0cf5b66895f","private_network_id":"61a947a6-4761-48ac-9255-541448a04325","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:b6a::/64","updated_at":"2024-10-03T17:34:57.723226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:34:57.723226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.553399ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"tf-cluster","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.30.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"61a947a6-4761-48ac-9255-541448a04325"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2aad625d-98a1-4fbe-84d2-2cee3d376945.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-10-03T17:34:59.144227Z","created_at":"2024-10-03T17:34:59.144214Z","description":"","dns_wildcard":"*.2aad625d-98a1-4fbe-84d2-2cee3d376945.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"2aad625d-98a1-4fbe-84d2-2cee3d376945","name":"tf-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"61a947a6-4761-48ac-9255-541448a04325","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2024-10-03T17:34:59.144214Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.098054912s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2aad625d-98a1-4fbe-84d2-2cee3d376945
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2aad625d-98a1-4fbe-84d2-2cee3d376945/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.078057ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2aad625d-98a1-4fbe-84d2-2cee3d376945/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFVUVhkTmFrVXpUWHBWZDAxR2IxaEVWRTB3VFZSQmQwMXFSVE5OZWxWM1RVWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZGdlE[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"clusters":[{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https:/[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2aad625d-98a1-4fbe-84d2-2cee3d376945/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"2aad625d-98a1-4fbe-84d2-2cee3d376945","container_runtime":"containerd","created_at":"2024-10-03T17:35:04.674636Z","id":"f47091ac-d48f-4dad-9198-e5e27ca14f90","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T17:35:04.674636Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 476.896007ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f47091ac-d48f-4dad-9198-e5e27ca14f90
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"2aad625d-98a1-4fbe-84d2-2cee3d376945","container_runtime":"containerd","created_at":"2024-10-03T17:35:04.674636Z","id":"f47091ac-d48f-4dad-9198-e5e27ca14f90","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T17:35:04.674636Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.48084ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2aad625d-98a1-4fbe-84d2-2cee3d376945/nodes?order_by=created_at_asc&page=1&pool_id=f47091ac-d48f-4dad-9198-e5e27ca14f90&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2aad625d-98a1-4fbe-84d2-2cee3d376945","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T17:38:14.350982Z","error_message":null,"id":"3be4dc03-790d-4440-a17d-3aca30a287ca","name":"scw-tf-cluster-default-3be4dc03790d4440a17d3ac","pool_id":"f47091ac-d48f-4dad-9198-e5e27ca14f90","provider_id":"scaleway://instance/fr-par-1/9201698d-b877-4b92-8e22-3cdb1072128e","public_ip_v4":"212.47.236.112","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T17:41:07.239411Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.658544ms
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-tf-cluster-default-3be4dc03790d4440a17d3ac&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:b6a:a2e5:3a14:7a9d:d1e0/64","created_at":"2024-10-03T17:38:18.478110Z","id":"f03f82ca-9803-4d86-a954-1bfe40a5dc2d","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"598548d8-c056-4250-94a9-426ff798cdb4","mac_address":"02:00:00:10:E9:62","name":"scw-tf-cluster-default-3be4dc03790d4440a17d3ac","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"bdc693cf-c7f7-4ba4-b079-a0cf5b66895f"},"tags":[],"updated_at":"2024-10-03T17:38:18.478110Z","zone":null},{"address":"172.16.112.2/22","created_at":"2024-10-03T17:38:18.046588Z","id":"ef81e923-648c-47f3-8689-e30d72994c51","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"598548d8-c056-4250-94a9-426ff798cdb4","mac_address":"02:00:00:10:E9:62","name":"scw-tf-cluster-default-3be4dc03790d4440a17d3ac","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"81859b65-cc30-48dc-9917-f36c480d7122"},"tags":[],"updated_at":"2024-10-03T17:38:18.046588Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.692424ms
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f47091ac-d48f-4dad-9198-e5e27ca14f90
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"f47091ac-d48f-4dad-9198-e5e27ca14f90","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.396723ms
    - id: 117
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2aad625d-98a1-4fbe-84d2-2cee3d376945?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
