---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDataSourceCluster_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"dc7a2cf9-cd23-4470-8882-42107624cbf9","name":"TestAccDataSourceCluster_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:54.537233Z","updated_at":"2026-01-29T15:52:54.537233Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.940958ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/dc7a2cf9-cd23-4470-8882-42107624cbf9
        method: GET
      response:
        body: '{"id":"dc7a2cf9-cd23-4470-8882-42107624cbf9","name":"TestAccDataSourceCluster_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:54.537233Z","updated_at":"2026-01-29T15:52:54.537233Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.683083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"dc7a2cf9-cd23-4470-8882-42107624cbf9","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"fd5e67b7-c340-44fa-b047-ebe26c429cab","name":"test-data-source-cluster","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:54.668392Z","updated_at":"2026-01-29T15:52:54.668392Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"id":"f7408809-d2e2-4a70-9528-b543ea7a8298","created_at":"2026-01-29T15:52:54.668392Z","updated_at":"2026-01-29T15:52:54.668392Z","subnet":"172.16.0.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"fd5e67b7-c340-44fa-b047-ebe26c429cab","vpc_id":"dc7a2cf9-cd23-4470-8882-42107624cbf9"},{"id":"d5edf67b-de5a-4cad-998e-7e4ae03501ea","created_at":"2026-01-29T15:52:54.668392Z","updated_at":"2026-01-29T15:52:54.668392Z","subnet":"fd49:821a:a311:f207::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"fd5e67b7-c340-44fa-b047-ebe26c429cab","vpc_id":"dc7a2cf9-cd23-4470-8882-42107624cbf9"}],"vpc_id":"dc7a2cf9-cd23-4470-8882-42107624cbf9","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 674.379292ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fd5e67b7-c340-44fa-b047-ebe26c429cab
        method: GET
      response:
        body: '{"id":"fd5e67b7-c340-44fa-b047-ebe26c429cab","name":"test-data-source-cluster","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:54.668392Z","updated_at":"2026-01-29T15:52:54.668392Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"id":"f7408809-d2e2-4a70-9528-b543ea7a8298","created_at":"2026-01-29T15:52:54.668392Z","updated_at":"2026-01-29T15:52:54.668392Z","subnet":"172.16.0.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"fd5e67b7-c340-44fa-b047-ebe26c429cab","vpc_id":"dc7a2cf9-cd23-4470-8882-42107624cbf9"},{"id":"d5edf67b-de5a-4cad-998e-7e4ae03501ea","created_at":"2026-01-29T15:52:54.668392Z","updated_at":"2026-01-29T15:52:54.668392Z","subnet":"fd49:821a:a311:f207::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"fd5e67b7-c340-44fa-b047-ebe26c429cab","vpc_id":"dc7a2cf9-cd23-4470-8882-42107624cbf9"}],"vpc_id":"dc7a2cf9-cd23-4470-8882-42107624cbf9","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.116041ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"tf-cluster-basic","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.35.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"fd5e67b7-c340-44fa-b047-ebe26c429cab"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"c9d638d4-957e-4e45-8e1d-19937267cd84","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:55.660965Z","updated_at":"2026-01-29T15:52:55.660965Z","type":"kapsule","name":"tf-cluster-basic","description":"","status":"creating","version":"1.35.0","cni":"cilium","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"cluster_url":"https://c9d638d4-957e-4e45-8e1d-19937267cd84.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.c9d638d4-957e-4e45-8e1d-19937267cd84.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"fd5e67b7-c340-44fa-b047-ebe26c429cab","commitment_ends_at":"2026-01-29T15:52:55.660973Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.603958ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c9d638d4-957e-4e45-8e1d-19937267cd84
        method: GET
      response:
        body: '{"region":"fr-par","id":"c9d638d4-957e-4e45-8e1d-19937267cd84","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:55.660965Z","updated_at":"2026-01-29T15:52:55.660965Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c9d638d4-957e-4e45-8e1d-19937267cd84/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.788875ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c9d638d4-957e-4e45-8e1d-19937267cd84/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWVJFTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreVRVUkZlVTlFUlRGT1ZFa3hUbFp2V0VSVVRUSk5SRVY1VDBSRk1VNVVTVEZPVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNUREp[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/fr-par/c9d638d4-957e-4e45-8e1d-19937267cd84
        method: GET
      response:
        body: '{"message":"Not Found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 13.105958ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        form:
            name:
                - tf-cluster-basic
            order_by:
                - created_at_asc
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster-basic&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"clusters":[{"region":"fr-par","id":"c9d638d4-957e-4e45-8e1d-19937267cd84","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:55.660965Z","updated_at":"2026-01-29T15:52:56.135586Z","type":"kapsule","name":"tf-cluster-basic","description":"","status":"pool_required","version":"1.35.0","cni":"cilium","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"cluster_url":"https://c9d638d4-957e-4e45-8e1d-19937267cd84.[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c9d638d4-957e-4e45-8e1d-19937267cd84/pools
        method: POST
      response:
        body: '{"region":"fr-par","id":"c6712aa3-6409-465a-90ac-9bb9d74d832e","cluster_id":"c9d638d4-957e-4e45-8e1d-19937267cd84","created_at":"2026-01-29T15:53:01.033350Z","updated_at":"2026-01-29T15:53:01.033350Z","name":"default","status":"scaling","version":"1.35.0","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"sbs_5k","root_volume_size":20000000000,"public_ip_disabled":false,"security_group_id":"9c112286-dc28-4a93-b195-5410396ef0a0","labels":{},"taints":[],"startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 537.120209ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c6712aa3-6409-465a-90ac-9bb9d74d832e
        method: GET
      response:
        body: '{"region":"fr-par","id":"c6712aa3-6409-465a-90ac-9bb9d74d832e","cluster_id":"c9d638d4-957e-4e45-8e1d-19937267cd84","created_at":"2026-01-29T15:53:01.033350Z","updated_at":"2026-01-29T15:53:01.033350Z","name":"default","status":"scaling","version":"1.35.0","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"sbs_5k","root_volume_size":20000000000,"public_ip_disabled":false,"security_group_id":"9c112286-dc28-4a93-b195-5410396ef0a0","labels":{},"taints":[],"startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.437958ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            pool_id:
                - c6712aa3-6409-465a-90ac-9bb9d74d832e
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c9d638d4-957e-4e45-8e1d-19937267cd84/nodes?order_by=created_at_asc&page=1&pool_id=c6712aa3-6409-465a-90ac-9bb9d74d832e&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"ababb1cf-fa50-4600-8fe5-3e95b15cc2a6","cluster_id":"c9d638d4-957e-4e45-8e1d-19937267cd84","created_at":"2026-01-29T15:54:21.948143Z","updated_at":"2026-01-29T15:55:26.845119Z","pool_id":"c6712aa3-6409-465a-90ac-9bb9d74d832e","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-tf-cluster-basic-default-ababb1cffa5046008","public_ip_v4":"51.158.109.166","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/462a7dfa-1775-4aa1-a4bb-25b36c537f7d","error_message":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.0685ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - 951df375-e094-4d26-97c1-ba548eeb9c42
            resource_name:
                - scw-tf-cluster-basic-default-ababb1cffa5046008
            resource_type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&resource_name=scw-tf-cluster-basic-default-ababb1cffa5046008&resource_type=unknown_type
        method: GET
      response:
        body: '{"total_count":2,"ips":[{"id":"978db02b-1dba-4ca4-9d2c-49f9361868ec","address":"fd49:821a:a311:f207:bd41:dd18:9e4b:adf4/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_ipv6":true,"created_at":"2026-01-29T15:54:24.851731Z","updated_at":"2026-01-29T15:54:24.851731Z","source":{"subnet_id":"d5edf67b-de5a-4cad-998e-7e4ae03501ea"},"resource":{"type":"instance_private_nic","id":"f18516d7-88ad-4904-9a39-77f9791ec591","mac_address":"02:00:00:15:57:E9","name":"scw-tf-cluster-basic-default-ababb1cffa5046008"},"tags":[],"reverses":[],"region":"fr-par","zone":null},{"id":"9d43be7a-6647-441e-93c4-3a67d5e74b4c","address":"172.16.0.3/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_ipv6":false,"created_at":"2026-01-29T15:54:24.751108Z","updated_at":"2026-01-29T15:54:24.751108Z","source":{"subnet_id":"f7408809-d2e2-4a70-9528-b543ea7a8298"},"resource":{"type":"instance_private_nic","id":"f18516d7-88ad-4904-9a39-77f9791ec591","mac_address":"02:00:00:15:57:E9","name":"scw-tf-cluster-basic-default-ababb1cffa5046008"},"tags":[],"reverses":[],"region":"fr-par","zone":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.25275ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c6712aa3-6409-465a-90ac-9bb9d74d832e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"c6712aa3-6409-465a-90ac-9bb9d74d832e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.80725ms
    - id: 75
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c9d638d4-957e-4e45-8e1d-19937267cd84?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"c9d638d4-957e-4e45-8e1d-19937267cd84","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-01-29T15:52:55.660965Z","updated_at":"2026-01-29T15:56:43.856980Z","type"[...]
[...]
