---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-data-source-pool\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\",\"name\":\"test-data-source-pool\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:15.104677Z\",\"updated_at\":\"2025-08-28T14:13:15.104677Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"a16dbc6f-e82a-4cbb-b2db-acb82041a89a\",\"created_at\":\"2025-08-28T14:13:15.104677Z\",\"updated_at\":\"2025-08-28T14:13:15.104677Z\",\"subnet\":\"172.16.72.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"6beb1fba-43d2-4ac7-8f10-6a169736f3ce\",\"created_at\":\"2025-08-28T14:13:15.104677Z\",\"updated_at\":\"2025-08-28T14:13:15.104677Z\",\"subnet\":\"fde7:767f:1bb5:f6f::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.687791629s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/42dd73c0-ed0e-45fc-bc00-db290f30802f
    method: GET
  response:
    body: "{\"id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\",\"name\":\"test-data-source-pool\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:15.104677Z\",\"updated_at\":\"2025-08-28T14:13:15.104677Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"a16dbc6f-e82a-4cbb-b2db-acb82041a89a\",\"created_at\":\"2025-08-28T14:13:15.104677Z\",\"updated_at\":\"2025-08-28T14:13:15.104677Z\",\"subnet\":\"172.16.72.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"6beb1fba-43d2-4ac7-8f10-6a169736f3ce\",\"created_at\":\"2025-08-28T14:13:15.104677Z\",\"updated_at\":\"2025-08-28T14:13:15.104677Z\",\"subnet\":\"fde7:767f:1bb5:f6f::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 32.084393ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"tf-cluster-pool\",\"description\":\"\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:16.399917Z\",\"updated_at\":\"2025-08-28T14:13:16.399917Z\",\"type\":\"kapsule\",\"name\":\"tf-cluster-pool\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"cluster_url\":\"https://71330c68-9822-4d8b-845c-b25bb1c880af.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.71330c68-9822-4d8b-845c-b25bb1c880af.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"42dd73c0-ed0e-45fc-bc00-db290f30802f\",\"commitment_ends_at\":\"2025-08-28T14:13:16.399924Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 341.104727ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:16.399917Z\",\"updated_at\":\"2025-08-28T14:13:16.399917Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.958273ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVaM2xPZWtVd1RWUk5lRTVzYjFoRVZFMHhUVVJuZVU1NlJUQk5WRTE0VG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTk[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pool\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0f5dd834-2f96-45e7-89e3-f21f97cdd21e\",\"cluster_id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"created_at\":\"2025-08-28T14:13:22.100212Z\",\"updated_at\":\"2025-08-28T14:13:22.100212Z\",\"name\":\"tf-pool\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.073133ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0f5dd834-2f96-45e7-89e3-f21f97cdd21e
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"0f5dd834-2f96-45e7-89e3-f21f97cdd21e\",\"cluster_id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"created_at\":\"2025-08-28T14:13:22.100212Z\",\"updated_at\":\"2025-08-28T14:13:22.100212Z\",\"name\":\"tf-pool\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 77.371475ms
[...]
- id: 66
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 0f5dd834-2f96-45e7-89e3-f21f97cdd21e
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af/nodes?order_by=created_at_asc&page=1&pool_id=0f5dd834-2f96-45e7-89e3-f21f97cdd21e&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"ec0ebe14-6748-4b4c-8adc-2d299464d312\",\"cluster_id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"created_at\":\"2025-08-28T14:15:11.395841Z\",\"updated_at\":\"2025-08-28T14:17:45.996886Z\",\"pool_id\":\"0f5dd834-2f96-45e7-89e3-f21f97cdd21e\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-tf-cluster-pool-tf-pool-ec0ebe1467484b4c8a\",\"public_ip_v4\":\"51.15.209.117\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/05d0b73e-a33c-4664-93ae-9e841b262962\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.31019ms
[...]
- id: 68
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-tf-cluster-pool-tf-pool-ec0ebe1467484b4c8a
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-tf-cluster-pool-tf-pool-ec0ebe1467484b4c8a&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"0effe1be-ada5-4baf-b442-157ddffaedcd\",\"address\":\"fde7:767f:1bb5:f6f:295:687:ddc3:70f9/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:15:15.038870Z\",\"updated_at\":\"2025-08-28T14:15:15.038870Z\",\"source\":{\"subnet_id\":\"6beb1fba-43d2-4ac7-8f10-6a169736f3ce\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"f6055aea-c225-47ff-b7a0-3e10ed767695\",\"mac_address\":\"02:00:00:19:5B:0C\",\"name\":\"scw-tf-cluster-pool-tf-pool-ec0ebe1467484b4c8a\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"a498eb67-223c-4ff7-b349-a718eb5b0c65\",\"address\":\"172.16.72.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:15:14.854988Z\",\"updated_at\":\"2025-08-28T14:15:14.854988Z\",\"source\":{\"subnet_id\":\"a16dbc6f-e82a-4cbb-b2db-acb82041a89a\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"f6055aea-c225-47ff-b7a0-3e10ed767695\",\"mac_address\":\"02:00:00:19:5B:0C\",\"name\":\"scw-tf-cluster-pool-tf-pool-ec0ebe1467484b4c8a\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.05441ms
[...]
- id: 91
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"terraform-test\",\"data_scaleway_k8s_cluster\",\"basic\"],\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":null,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":null},\"auto_upgrade\":{\"enable\":null,\"maintenance_window\":null},\"open_id_connect_config\":{\"issuer_url\":null,\"client_id\":null,\"username_claim\":null,\"username_prefix\":null,\"groups_claim\":null,\"groups_prefix\":null,\"required_claim\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af
    method: PATCH
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"orga[...]
[...]
- id: 107
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-pool
      order_by:
      - created_at_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"pools\":[{\"region\":\"fr-par\",\"id\":\"0f5dd834-2f96-45e7-89e3-f21f97cdd21e\",\"cluster_id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"created_at\":\"2025-08-28T14:13:22.100212Z\",\"updated_at\":\"2025-08-28T14:17:46.017184Z\",\"name\":\"tf-pool\",\"status\":\"ready\",\"version\":\"1.32.7\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.324654ms
[...]
- id: 109
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 0f5dd834-2f96-45e7-89e3-f21f97cdd21e
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af/nodes?order_by=created_at_asc&page=1&pool_id=0f5dd834-2f96-45e7-89e3-f21f97cdd21e&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"ec0ebe14-6748-4b4c-8adc-2d299464d312\",\"cluster_id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"created_at\":\"2025-08-28T14:15:11.395841Z\",\"updated_at\":\"2025-08-28T14:18:08.914739Z\",\"pool_id\":\"0f5dd834-2f96-45e7-89e3-f21f97cdd21e\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"NetworkUnavailable\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-tf-cluster-pool-tf-pool-ec0ebe1467484b4c8a\",\"public_ip_v4\":\"51.15.209.117\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/05d0b73e-a33c-4664-93ae-9e841b262962\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.801483ms
[...]
- id: 178
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0f5dd834-2f96-45e7-89e3-f21f97cdd21e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"0f5dd834-2f96-45e7-89e3-f21f97cdd21e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 40.451825ms
- id: 179
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/71330c68-9822-4d8b-845c-b25bb1c880af?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"71330c68-9822-4d8b-845c-b25bb1c880af\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:16.399917Z\",\"updated_at\":\"2025-08-28T14:21:23.176986Z\",\"type\":\"k[...]
[...]
