---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDataSourcePool_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:07:58.055540Z","custom_routes_propagation_enabled":true,"id":"267d5484-8293-404e-840e-9005c27308da","is_default":false,"name":"TestAccDataSourcePool_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:07:58.055540Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.655208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/267d5484-8293-404e-840e-9005c27308da
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:07:58.055540Z","custom_routes_propagation_enabled":true,"id":"267d5484-8293-404e-840e-9005c27308da","is_default":false,"name":"TestAccDataSourcePool_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:07:58.055540Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.859833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"267d5484-8293-404e-840e-9005c27308da","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:07:58.272532Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"48a917a0-83cd-40c6-a95a-98c595c79271","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:07:58.272532Z","id":"c2b68223-9890-4d29-b633-d3c9bd8e8337","private_network_id":"48a917a0-83cd-40c6-a95a-98c595c79271","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.88.0/22","updated_at":"2025-09-30T14:07:58.272532Z","vpc_id":"267d5484-8293-404e-840e-9005c27308da"},{"created_at":"2025-09-30T14:07:58.272532Z","id":"1858a5e1-eeb1-4cd4-afe2-60e60e517304","private_network_id":"48a917a0-83cd-40c6-a95a-98c595c79271","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4d5f::/64","updated_at":"2025-09-30T14:07:58.272532Z","vpc_id":"267d5484-8293-404e-840e-9005c27308da"}],"tags":[],"updated_at":"2025-09-30T14:07:58.272532Z","vpc_id":"267d5484-8293-404e-840e-9005c27308da"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 691.882542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/48a917a0-83cd-40c6-a95a-98c595c79271
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:07:58.272532Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"48a917a0-83cd-40c6-a95a-98c595c79271","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:07:58.272532Z","id":"c2b68223-9890-4d29-b633-d3c9bd8e8337","private_network_id":"48a917a0-83cd-40c6-a95a-98c595c79271","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.88.0/22","updated_at":"2025-09-30T14:07:58.272532Z","vpc_id":"267d5484-8293-404e-840e-9005c27308da"},{"created_at":"2025-09-30T14:07:58.272532Z","id":"1858a5e1-eeb1-4cd4-afe2-60e60e517304","private_network_id":"48a917a0-83cd-40c6-a95a-98c595c79271","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4d5f::/64","updated_at":"2025-09-30T14:07:58.272532Z","vpc_id":"267d5484-8293-404e-840e-9005c27308da"}],"tags":[],"updated_at":"2025-09-30T14:07:58.272532Z","vpc_id":"267d5484-8293-404e-840e-9005c27308da"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.478292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"48a917a0-83cd-40c6-a95a-98c595c79271"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://763b2605-6351-4380-ab67-bb6d02d1f912.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T14:07:59.456747Z","created_at":"2025-09-30T14:07:59.456730Z","description":"","dns_wildcard":"*.763b2605-6351-4380-ab67-bb6d02d1f912.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"763b2605-6351-4380-ab67-bb6d02d1f912","name":"tf-cluster-pool","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"48a917a0-83cd-40c6-a95a-98c595c79271","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2025-09-30T14:07:59.456730Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 589.416959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.245ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpZUkVORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFVScmVVOVVSVEJOUkdNeFQxWnZXRVJVVFRGTlJHdDVUMVJGTUUxRVl6RlBWbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1NYRmx[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"763b2605-6351-4380-ab67-bb6d02d1f912","container_runtime":"containerd","created_at":"2025-09-30T14:08:05.253104Z","id":"830d33b8-1d12-4f38-8c40-658492e93f02","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":true,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-09-30T14:08:05.253104Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.212834ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/830d33b8-1d12-4f38-8c40-658492e93f02
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"763b2605-6351-4380-ab67-bb6d02d1f912","container_runtime":"containerd","created_at":"2025-09-30T14:08:05.253104Z","id":"830d33b8-1d12-4f38-8c40-658492e93f02","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":true,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-09-30T14:08:05.253104Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.881583ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912/nodes?order_by=created_at_asc&page=1&pool_id=830d33b8-1d12-4f38-8c40-658492e93f02&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"763b2605-6351-4380-ab67-bb6d02d1f912","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T14:11:15.375288Z","error_message":"","id":"f036cc58-d3fc-4078-bcbc-f3d97a93c075","name":"scw-tf-cluster-pool-tf-pool-f036cc58d3fc4078bc","pool_id":"830d33b8-1d12-4f38-8c40-658492e93f02","provider_id":"scaleway://instance/fr-par-1/e27b5956-8fbc-4283-a484-a1071792fb72","public_ip_v4":"212.47.234.198","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T14:13:13.783571Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.345ms
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-tf-cluster-pool-tf-pool-f036cc58d3fc4078bc&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:4d5f:1423:e563:ba0b:991b/64","created_at":"2025-09-30T14:11:19.172756Z","id":"10f4be9e-116a-4ab4-97d2-dd22973527f3","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"f1fca815-eb49-4e20-b6fa-1928052d5896","mac_address":"02:00:00:15:85:BD","name":"scw-tf-cluster-pool-tf-pool-f036cc58d3fc4078bc","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"1858a5e1-eeb1-4cd4-afe2-60e60e517304"},"tags":[],"updated_at":"2025-09-30T14:11:19.172756Z","zone":null},{"address":"172.17.88.3/22","created_at":"2025-09-30T14:11:19.032428Z","id":"4ea74dfb-d0dc-4bb4-84f3-af8c0ee9711e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"f1fca815-eb49-4e20-b6fa-1928052d5896","mac_address":"02:00:00:15:85:BD","name":"scw-tf-cluster-pool-tf-pool-f036cc58d3fc4078bc","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"c2b68223-9890-4d29-b633-d3c9bd8e8337"},"tags":[],"updated_at":"2025-09-30T14:11:19.032428Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.78425ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"763b2605-6351-4380-ab67-bb6d02d1f912","container_runtime":"containerd","created_at":"2025-09-30T14:08:05.253104Z","id":"830d33b8-1d12-4f38-8c40-658492e93f02","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":true,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-09-30T14:13:13.796222Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.075917ms
[...]
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912/nodes?order_by=created_at_asc&page=1&pool_id=830d33b8-1d12-4f38-8c40-658492e93f02&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"763b2605-6351-4380-ab67-bb6d02d1f912","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T14:11:15.375288Z","error_message":"","id":"f036cc58-d3fc-4078-bcbc-f3d97a93c075","name":"scw-tf-cluster-pool-tf-pool-f036cc58d3fc4078bc","pool_id":"830d33b8-1d12-4f38-8c40-658492e93f02","provider_id":"scaleway://instance/fr-par-1/e27b5956-8fbc-4283-a484-a1071792fb72","public_ip_v4":"212.47.234.198","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T14:13:37.035977Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.663334ms
[...]
    - id: 178
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/830d33b8-1d12-4f38-8c40-658492e93f02
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"830d33b8-1d12-4f38-8c40-658492e93f02","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.03375ms
    - id: 179
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/763b2605-6351-4380-ab67-bb6d02d1f912?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
