---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.33.4","name":"1.33.4","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSi[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:25:04.375756Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148","name":"test-data-source-pool","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T15:25:04.375756Z","id":"84716dc2-7094-49e2-96cd-592775399e28","private_network_id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.60.0/22","updated_at":"2025-09-05T15:25:04.375756Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-09-05T15:25:04.375756Z","id":"3afe005f-c706-472b-bcdc-8a0776749cde","private_network_id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f00a::/64","updated_at":"2025-09-05T15:25:04.375756Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-09-05T15:25:04.375756Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 649.842917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:25:04.375756Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148","name":"test-data-source-pool","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T15:25:04.375756Z","id":"84716dc2-7094-49e2-96cd-592775399e28","private_network_id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.60.0/22","updated_at":"2025-09-05T15:25:04.375756Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-09-05T15:25:04.375756Z","id":"3afe005f-c706-472b-bcdc-8a0776749cde","private_network_id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:f00a::/64","updated_at":"2025-09-05T15:25:04.375756Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-09-05T15:25:04.375756Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.714833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.33.4","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://bc0d5ec7-e0ad-4eed-8526-e1b1264588cc.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-05T15:25:05.376898Z","created_at":"2025-09-05T15:25:05.376894Z","description":"","dns_wildcard":"*.bc0d5ec7-e0ad-4eed-8526-e1b1264588cc.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"bc0d5ec7-e0ad-4eed-8526-e1b1264588cc","name":"tf-cluster-pool","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pod_cidr":"","private_network_id":"5ee1a360-e9b9-4b14-96e9-fb3e7d6d9148","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","service_cidr":"","service_dns_ip":"","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2025-09-05T15:25:05.376894Z","upgrade_available":false,"version":"1.33.4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.9635ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.579541ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVhM2RPUkVVeFRXcFZkMDVzYjFoRVZFMHhUVVJyZDA1RVJURk5hbFYzVG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"bc0d5ec7-e0ad-4eed-8526-e1b1264588cc","container_runtime":"containerd","created_at":"2025-09-05T15:25:11.009970Z","id":"f5880d98-59fc-40fe-82a5-ecb33bb5e569","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":false,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"cbb13cb3-6cca-4ff6-bf7c-e722a43e1a79","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-09-05T15:25:11.009970Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.335125ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f5880d98-59fc-40fe-82a5-ecb33bb5e569
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"bc0d5ec7-e0ad-4eed-8526-e1b1264588cc","container_runtime":"containerd","created_at":"2025-09-05T15:25:11.009970Z","id":"f5880d98-59fc-40fe-82a5-ecb33bb5e569","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":false,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"cbb13cb3-6cca-4ff6-bf7c-e722a43e1a79","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-09-05T15:25:11.009970Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.093458ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc/nodes?order_by=created_at_asc&page=1&pool_id=f5880d98-59fc-40fe-82a5-ecb33bb5e569&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"bc0d5ec7-e0ad-4eed-8526-e1b1264588cc","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-09-05T15:27:26.059406Z","error_message":"","id":"bc45e32c-aff0-4b4f-b881-63e5b4301baa","name":"scw-tf-cluster-pool-tf-pool-bc45e32caff04b4fb8","pool_id":"f5880d98-59fc-40fe-82a5-ecb33bb5e569","provider_id":"scaleway://instance/fr-par-1/816b3d9e-0f0b-4366-aa03-8f7bdcf92f6b","public_ip_v4":"51.15.208.174","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-05T15:30:04.292297Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.259459ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_name=scw-tf-cluster-pool-tf-pool-bc45e32caff04b4fb8&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:f00a:2f54:a409:e303:47ef/64","created_at":"2025-09-05T15:27:29.214547Z","id":"503a6dde-6cee-497f-be66-52611d4f2ae4","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"d935c720-91dc-4b22-a29b-bb807a79af78","mac_address":"02:00:00:1A:65:DC","name":"scw-tf-cluster-pool-tf-pool-bc45e32caff04b4fb8","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"3afe005f-c706-472b-bcdc-8a0776749cde"},"tags":[],"updated_at":"2025-09-05T15:27:29.214547Z","zone":null},{"address":"172.16.60.3/22","created_at":"2025-09-05T15:27:29.093999Z","id":"f9045d83-c811-4180-a6cb-ed4d4c1bf030","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"d935c720-91dc-4b22-a29b-bb807a79af78","mac_address":"02:00:00:1A:65:DC","name":"scw-tf-cluster-pool-tf-pool-bc45e32caff04b4fb8","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"84716dc2-7094-49e2-96cd-592775399e28"},"tags":[],"updated_at":"2025-09-05T15:27:29.093999Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.442666ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"bc0d5ec7-e0ad-4eed-8526-e1b1264588cc","container_runtime":"containerd","created_at":"2025-09-05T15:25:11.009970Z","id":"f5880d98-59fc-40fe-82a5-ecb33bb5e569","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":false,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","security_group_id":"cbb13cb3-6cca-4ff6-bf7c-e722a43e1a79","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-09-05T15:30:04.302198Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.036125ms
[...]
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc/nodes?order_by=created_at_asc&page=1&pool_id=f5880d98-59fc-40fe-82a5-ecb33bb5e569&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"bc0d5ec7-e0ad-4eed-8526-e1b1264588cc","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-09-05T15:27:26.059406Z","error_message":"","id":"bc45e32c-aff0-4b4f-b881-63e5b4301baa","name":"scw-tf-cluster-pool-tf-pool-bc45e32caff04b4fb8","pool_id":"f5880d98-59fc-40fe-82a5-ecb33bb5e569","provider_id":"scaleway://instance/fr-par-1/816b3d9e-0f0b-4366-aa03-8f7bdcf92f6b","public_ip_v4":"51.15.208.174","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-05T15:30:31.722174Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.095125ms
[...]
    - id: 156
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f5880d98-59fc-40fe-82a5-ecb33bb5e569
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"f5880d98-59fc-40fe-82a5-ecb33bb5e569","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.836083ms
    - id: 157
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bc0d5ec7-e0ad-4eed-8526-e1b1264588cc?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
