---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccDataSourceCluster_Basic\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"60284594-bb0a-4343-bed9-f7375e44e80b\", \"name\":\"TestAccDataSourceCluster_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:13.728379Z\", \"updated_at\":\"2025-10-30T16:51:13.728379Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 67.61433ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/60284594-bb0a-4343-bed9-f7375e44e80b
    method: GET
  response:
    body: "{\"id\":\"60284594-bb0a-4343-bed9-f7375e44e80b\", \"name\":\"TestAccDataSourceCluster_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:13.728379Z\", \"updated_at\":\"2025-10-30T16:51:13.728379Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 30.155607ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-data-source-cluster\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"60284594-bb0a-4343-bed9-f7375e44e80b\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"66470a27-4266-4f37-8e20-6bf15260d20b\", \"name\":\"test-data-source-cluster\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:13.852665Z\", \"updated_at\":\"2025-10-30T16:51:13.852665Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"468952b2-af55-4445-bbef-dd440556b291\", \"created_at\":\"2025-10-30T16:51:13.852665Z\", \"updated_at\":\"2025-10-30T16:51:13.852665Z\", \"subnet\":\"172.17.108.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"66470a27-4266-4f37-8e20-6bf15260d20b\", \"vpc_id\":\"60284594-bb0a-4343-bed9-f7375e44e80b\"}, {\"id\":\"74ca9ee6-21e1-4d13-a7ca-a9f2e5b2adac\", \"created_at\":\"2025-10-30T16:51:13.852665Z\", \"updated_at\":\"2025-10-30T16:51:13.852665Z\", \"subnet\":\"fd5f:519c:6d46:2cac::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"66470a27-4266-4f37-8e20-6bf15260d20b\", \"vpc_id\":\"60284594-bb0a-4343-bed9-f7375e44e80b\"}], \"vpc_id\":\"60284594-bb0a-4343-bed9-f7375e44e80b\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 642.605819ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/66470a27-4266-4f37-8e20-6bf15260d20b
    method: GET
  response:
    body: "{\"id\":\"66470a27-4266-4f37-8e20-6bf15260d20b\", \"name\":\"test-data-source-cluster\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:13.852665Z\", \"updated_at\":\"2025-10-30T16:51:13.852665Z\", \"project_id\":\"105bdce1-64c0-4[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"tf-cluster-basic\",\"description\":\"\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_cluster\",\"basic\"],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"66470a27-4266-4f37-8e20-6bf15260d20b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"a4c16505-bffe-478e-a0d3-5d6a31986e90\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:14.772780Z\", \"updated_at\":\"2025-10-30T16:51:14.772781Z\", \"type\":\"kapsule\", \"name\":\"tf-cluster-basic\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[\"terraform-test\", \"data_scaleway_k8s_cluster\", \"basic\"], \"cluster_url\":\"https://a4c16505-bffe-478e-a0d3-5d6a31986e90.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.a4c16505-bffe-478e-a0d3-5d6a31986e90.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"66470a27-4266-4f37-8e20-6bf15260d20b\", \"commitment_ends_at\":\"2025-10-30T16:51:14.772791Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 315.806042ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4c16505-bffe-478e-a0d3-5d6a31986e90
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"a4c16505-bffe-478e-a0d3-5d6a31986e90\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:14.772780Z\", \"updated_at\":\"2025-10-30T16:51:14.772781Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4c16505-bffe-478e-a0d3-5d6a31986e90/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.681356ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4c16505-bffe-478e-a0d3-5d6a31986e90/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGFrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkJlVTlVUlRKT1ZFVjRUa1p2V0VSVVRURk5WRUY1VDFSRk1rNVVSWGhPUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNTbk[...]
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-cluster-basic
      order_by:
      - created_at_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster-basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"clusters\":[{\"region\":\"fr-par\", \"id\":\"a4c16505-bffe-478e-a0d3-5d6a31986e90\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:14.772780Z\", \"updated_at\":\"2025-10-30T16:51:15.263781Z\", \"type\":\"kapsule\", \"name\":\"tf-cluster-basic\", \"description\":\"\", \"status\":\"pool_required\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[\"terraform-test\", \"data_scaleway_k8s_cluster\", \[...]
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4c16505-bffe-478e-a0d3-5d6a31986e90/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"16c99ed8-da30-4867-b6a9-e35deb88ccab\", \"cluster_id\":\"a4c16505-bffe-478e-a0d3-5d6a31986e90\", \"created_at\":\"2025-10-30T16:51:20.352813Z\", \"updated_at\":\"2025-10-30T16:51:20.352813Z\", \"name\":\"default\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 209.144478ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/16c99ed8-da30-4867-b6a9-e35deb88ccab
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"16c99ed8-da30-4867-b6a9-e35deb88ccab\", \"cluster_id\":\"a4c16505-bffe-478e-a0d3-5d6a31986e90\", \"created_at\":\"2025-10-30T16:51:20.352813Z\", \"updated_at\":\"2025-10-30T16:51:20.352813Z\", \"name\":\"default\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.812788ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 16c99ed8-da30-4867-b6a9-e35deb88ccab
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4c16505-bffe-478e-a0d3-5d6a31986e90/nodes?order_by=created_at_asc&page=1&pool_id=16c99ed8-da30-4867-b6a9-e35deb88ccab&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"0171d1b9-9bd3-4f55-abaa-af8f0521b849\", \"cluster_id\":\"a4c16505-bffe-478e-a0d3-5d6a31986e90\", \"created_at\":\"2025-10-30T16:54:36.556869Z\", \"updated_at\":\"2025-10-30T16:55:32.020365Z\", \"pool_id\":\"16c99ed8-da30-4867-b6a9-e35deb88ccab\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-tf-cluster-basic-default-0171d1b99bd34f55a\", \"public_ip_v4\":\"163.172.149.221\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/d723decb-3358-416a-9104-299752ba1318\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.85288ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-tf-cluster-basic-default-0171d1b99bd34f55a
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-tf-cluster-basic-default-0171d1b99bd34f55a&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"75fd09c2-c088-4df6-a341-69e97c22d1d0\", \"address\":\"fd5f:519c:6d46:2cac:5439:8e0a:6e84:7c91/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:54:39.822358Z\", \"updated_at\":\"2025-10-30T16:54:39.822358Z\", \"source\":{\"subnet_id\":\"74ca9ee6-21e1-4d13-a7ca-a9f2e5b2adac\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"fc741fdb-c948-4e98-bfb3-23dd10397490\", \"mac_address\":\"02:00:00:14:C7:F1\", \"name\":\"scw-tf-cluster-basic-default-0171d1b99bd34f55a\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"bf735446-f6d3-4b4d-bf2f-866409f4bed1\", \"address\":\"172.17.108.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:54:39.706019Z\", \"updated_at\":\"2025-10-30T16:54:39.706019Z\", \"source\":{\"subnet_id\":\"468952b2-af55-4445-bbef-dd440556b291\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"fc741fdb-c948-4e98-bfb3-23dd10397490\", \"mac_address\":\"02:00:00:14:C7:F1\", \"name\":\"scw-tf-cluster-basic-default-0171d1b99bd34f55a\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 32.729368ms
[...]
- id: 47
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/16c99ed8-da30-4867-b6a9-e35deb88ccab
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"16c99ed8-da30-4867-b6a9-e35deb88ccab\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.83646ms
- id: 48
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4c16505-bffe-478e-a0d3-5d6a31986e90?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"a4c16505-bffe-478e-a0d3-5d6a31986e90\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:14.772780Z\", \"updated_at\":\"2025-10-30T16:59:56.872905Z\", \"type[...]
[...]
