---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T16:10:40.225955Z","dhcp_enabled":true,"id":"c00be6f1-ce16-4ee4-b100-ccaaa70c1776","name":"test-data-source-cluster","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-04-17T16:10:40.225955Z","id":"7c69a1c1-48a0-456f-b4eb-3fa55e856b54","subnet":"172.16.32.0/22","updated_at":"2024-04-17T16:10:40.225955Z"},{"created_at":"2024-04-17T16:10:40.225955Z","id":"afaf1ad7-6a06-475d-bb96-fa693555104b","subnet":"fd63:256c:45f7:e18e::/64","updated_at":"2024-04-17T16:10:40.225955Z"}],"tags":[],"updated_at":"2024-04-17T16:10:40.225955Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 724.08567ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c00be6f1-ce16-4ee4-b100-ccaaa70c1776
        method: GET
      response:
        body: '{"created_at":"2024-04-17T16:10:40.225955Z","dhcp_enabled":true,"id":"c00be6f1-ce16-4ee4-b100-ccaaa70c1776","name":"test-data-source-cluster","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-04-17T16:10:40.225955Z","id":"7c69a1c1-48a0-456f-b4eb-3fa55e856b54","subnet":"172.16.32.0/22","updated_at":"2024-04-17T16:10:40.225955Z"},{"created_at":"2024-04-17T16:10:40.225955Z","id":"afaf1ad7-6a06-475d-bb96-fa693555104b","subnet":"fd63:256c:45f7:e18e::/64","updated_at":"2024-04-17T16:10:40.225955Z"}],"tags":[],"updated_at":"2024-04-17T16:10:40.225955Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.3996ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"tf-cluster","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"c00be6f1-ce16-4ee4-b100-ccaaa70c1776"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://8780b6b3-9a8a-4c11-85d4-ee0285fc30cd.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-17T16:10:43.645263248Z","created_at":"2024-04-17T16:10:43.645263248Z","description":"","dns_wildcard":"*.8780b6b3-9a8a-4c11-85d4-ee0285fc30cd.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"8780b6b3-9a8a-4c11-85d4-ee0285fc30cd","name":"tf-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"c00be6f1-ce16-4ee4-b100-ccaaa70c1776","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2024-04-17T16:10:43.674283228Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.811409921s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8780b6b3-9a8a-4c11-85d4-ee0285fc30cd
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8780b6b3-9a8a-4c11-85d4-ee0285fc30cd/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.568646ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8780b6b3-9a8a-4c11-85d4-ee0285fc30cd/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFVVhoT2FrVXlUVlJCTUU1V2IxaEVWRTB3VFVSUmVFNXFSVEpOVkVFd1RsWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZGdlE[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"clusters":[{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https:/[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8780b6b3-9a8a-4c11-85d4-ee0285fc30cd/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"8780b6b3-9a8a-4c11-85d4-ee0285fc30cd","container_runtime":"containerd","created_at":"2024-04-17T16:10:49.178537Z","id":"2040f7a5-2853-4fb8-a30b-ce649ffb6c32","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T16:10:49.191082841Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 377.039058ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2040f7a5-2853-4fb8-a30b-ce649ffb6c32
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"8780b6b3-9a8a-4c11-85d4-ee0285fc30cd","container_runtime":"containerd","created_at":"2024-04-17T16:10:49.178537Z","id":"2040f7a5-2853-4fb8-a30b-ce649ffb6c32","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T16:10:49.191083Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.119596ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8780b6b3-9a8a-4c11-85d4-ee0285fc30cd/nodes?order_by=created_at_asc&page=1&pool_id=2040f7a5-2853-4fb8-a30b-ce649ffb6c32&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8780b6b3-9a8a-4c11-85d4-ee0285fc30cd","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T16:12:46.820834Z","error_message":null,"id":"13623027-ce1f-4b5f-9ec5-b8a8f6b6513e","name":"scw-tf-cluster-default-13623027ce1f4b5f9ec5b8a","pool_id":"2040f7a5-2853-4fb8-a30b-ce649ffb6c32","provider_id":"scaleway://instance/fr-par-1/97a2b659-cd30-4693-9e46-79f4d4f75a70","public_ip_v4":"51.158.105.236","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T16:16:29.147293Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.778682ms
[...]
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2040f7a5-2853-4fb8-a30b-ce649ffb6c32
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"2040f7a5-2853-4fb8-a30b-ce649ffb6c32","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.303724ms
    - id: 114
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8780b6b3-9a8a-4c11-85d4-ee0285fc30cd?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
