---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-data-source-cluster\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\",\"name\":\"test-data-source-cluster\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:10.285060Z\",\"updated_at\":\"2025-08-28T14:13:10.285060Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f6d9748b-f7a5-4ca2-9f34-f17bd2c061a5\",\"created_at\":\"2025-08-28T14:13:10.285060Z\",\"updated_at\":\"2025-08-28T14:13:10.285060Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"f3e3dedb-ae26-40a8-b81c-d9700fc1a47f\",\"created_at\":\"2025-08-28T14:13:10.285060Z\",\"updated_at\":\"2025-08-28T14:13:10.285060Z\",\"subnet\":\"fde7:767f:1bb5:7587::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 921.500476ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9614355e-2e6b-44a0-9f32-db401af9d9e4
    method: GET
  response:
    body: "{\"id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\",\"name\":\"test-data-source-cluster\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:10.285060Z\",\"updated_at\":\"2025-08-28T14:13:10.285060Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"f6d9748b-f7a5-4ca2-9f34-f17bd2c061a5\",\"created_at\":\"2025-08-28T14:13:10.285060Z\",\"updated_at\":\"2025-08-28T14:13:10.285060Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"f3e3dedb-ae26-40a8-b81c-d9700fc1a47f\",\"created_at\":\"2025-08-28T14:13:10.285060Z\",\"updated_at\":\"2025-08-28T14:13:10.285060Z\",\"subnet\":\"fde7:767f:1bb5:7587::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.901547ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"tf-cluster-basic\",\"description\":\"\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_cluster\",\"basic\"],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"3ffa6df4-2a83-4449-b46b-9751b94f13cd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:11.646823Z\",\"updated_at\":\"2025-08-28T14:13:11.646823Z\",\"type\":\"kapsule\",\"name\":\"tf-cluster-basic\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_cluster\",\"basic\"],\"cluster_url\":\"https://3ffa6df4-2a83-4449-b46b-9751b94f13cd.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.3ffa6df4-2a83-4449-b46b-9751b94f13cd.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"9614355e-2e6b-44a0-9f32-db401af9d9e4\",\"commitment_ends_at\":\"2025-08-28T14:13:11.646832Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 424.646998ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3ffa6df4-2a83-4449-b46b-9751b94f13cd
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"3ffa6df4-2a83-4449-b46b-9751b94f13cd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:11.646823Z\",\"updated_at\":\"2025-08-28T14:13:11.646823Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3ffa6df4-2a83-4449-b46b-9751b94f13cd/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.006986ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3ffa6df4-2a83-4449-b46b-9751b94f13cd/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFWjNsT2VrVXdUVlJOZUUxc2IxaEVWRTB4VFVSbmVVNTZSVEJOVkUxNFRXeHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-cluster-basic
      order_by:
      - created_at_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster-basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"clusters\":[{\"region\":\"fr-par\",\"id\":\"3ffa6df4-2a83-4449-b46b-9751b94f13cd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:11.646823Z\",\"updated_at\":\"2025-08-28T14:13:12.484570Z\",\"type\":\"kapsule\",\"name\":\"tf-cluster-basic\",\"description\":\"\",\"status\":\"pool_required\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_cluster\",\"basic\"],\"cl[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"default\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3ffa6df4-2a83-4449-b46b-9751b94f13cd/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"1e71df15-b5ce-4760-ac9e-00d0e3561a02\",\"cluster_id\":\"3ffa6df4-2a83-4449-b46b-9751b94f13cd\",\"created_at\":\"2025-08-28T14:13:17.847369Z\",\"updated_at\":\"2025-08-28T14:13:17.847369Z\",\"name\":\"default\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 309.349272ms
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1e71df15-b5ce-4760-ac9e-00d0e3561a02
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"1e71df15-b5ce-4760-ac9e-00d0e3561a02\",\"cluster_id\":\"3ffa6df4-2a83-4449-b46b-9751b94f13cd\",\"created_at\":\"2025-08-28T14:13:17.847369Z\",\"updated_at\":\"2025-08-28T14:13:17.847369Z\",\"name\":\"default\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.852332ms
[...]
- id: 74
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 1e71df15-b5ce-4760-ac9e-00d0e3561a02
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3ffa6df4-2a83-4449-b46b-9751b94f13cd/nodes?order_by=created_at_asc&page=1&pool_id=1e71df15-b5ce-4760-ac9e-00d0e3561a02&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"6fa8335b-0406-4e53-8025-58523dc690e1\",\"cluster_id\":\"3ffa6df4-2a83-4449-b46b-9751b94f13cd\",\"created_at\":\"2025-08-28T14:15:42.837239Z\",\"updated_at\":\"2025-08-28T14:17:55.191228Z\",\"pool_id\":\"1e71df15-b5ce-4760-ac9e-00d0e3561a02\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-tf-cluster-basic-default-6fa8335b04064e538\",\"public_ip_v4\":\"51.15.244.85\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/ed5acbd9-c267-43d4-aa5f-5ebb7fb18103\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.504777ms
[...]
- id: 76
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-tf-cluster-basic-default-6fa8335b04064e538
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-tf-cluster-basic-default-6fa8335b04064e538&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"5c9daf1c-206b-4938-8be0-4e5d60e8aa91\",\"address\":\"fde7:767f:1bb5:7587:40c5:4954:b2c:b104/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:15:46.601250Z\",\"updated_at\":\"2025-08-28T14:15:46.601250Z\",\"source\":{\"subnet_id\":\"f3e3dedb-ae26-40a8-b81c-d9700fc1a47f\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"24ac93fc-74c1-4f0c-8539-3ed1fd9e3db0\",\"mac_address\":\"02:00:00:1D:DB:EE\",\"name\":\"scw-tf-cluster-basic-default-6fa8335b04064e538\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"9e2d6f0c-2b4f-4848-8ab8-5a43b15c9b40\",\"address\":\"172.16.32.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:15:46.494126Z\",\"updated_at\":\"2025-08-28T14:15:46.494126Z\",\"source\":{\"subnet_id\":\"f6d9748b-f7a5-4ca2-9f34-f17bd2c061a5\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"24ac93fc-74c1-4f0c-8539-3ed1fd9e3db0\",\"mac_address\":\"02:00:00:1D:DB:EE\",\"name\":\"scw-tf-cluster-basic-default-6fa8335b04064e538\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 33.069617ms
[...]
- id: 153
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1e71df15-b5ce-4760-ac9e-00d0e3561a02
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"1e71df15-b5ce-4760-ac9e-00d0e3561a02\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.553066ms
- id: 154
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3ffa6df4-2a83-4449-b46b-9751b94f13cd?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"3ffa6df4-2a83-4449-b46b-9751b94f13cd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:11.646823Z\",\"updated_at\":\"2025-08-28T14:22:22.016836Z\",\"type\":\"k[...]
[...]
