---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:42:23.085103Z","dhcp_enabled":true,"id":"1864af59-738d-48a2-8163-83f03b24ae58","name":"test-data-source-pool","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:42:23.085103Z","id":"7f5477bb-887a-43d4-90e9-d54036318e5e","private_network_id":"1864af59-738d-48a2-8163-83f03b24ae58","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T17:42:23.085103Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:42:23.085103Z","id":"a809800f-875d-407f-afbe-d383a96c380b","private_network_id":"1864af59-738d-48a2-8163-83f03b24ae58","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c8d4::/64","updated_at":"2024-10-03T17:42:23.085103Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:42:23.085103Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 589.655589ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1864af59-738d-48a2-8163-83f03b24ae58
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:42:23.085103Z","dhcp_enabled":true,"id":"1864af59-738d-48a2-8163-83f03b24ae58","name":"test-data-source-pool","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:42:23.085103Z","id":"7f5477bb-887a-43d4-90e9-d54036318e5e","private_network_id":"1864af59-738d-48a2-8163-83f03b24ae58","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T17:42:23.085103Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:42:23.085103Z","id":"a809800f-875d-407f-afbe-d383a96c380b","private_network_id":"1864af59-738d-48a2-8163-83f03b24ae58","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c8d4::/64","updated_at":"2024-10-03T17:42:23.085103Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:42:23.085103Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.580708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.30.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"1864af59-738d-48a2-8163-83f03b24ae58"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1ceb4887-859b-4a5f-880f-885f8ea1cfa7.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-10-03T17:42:24.494159Z","created_at":"2024-10-03T17:42:24.494148Z","description":"","dns_wildcard":"*.1ceb4887-859b-4a5f-880f-885f8ea1cfa7.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"1ceb4887-859b-4a5f-880f-885f8ea1cfa7","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"1864af59-738d-48a2-8163-83f03b24ae58","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2024-10-03T17:42:24.494148Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 851.737733ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.220057ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMVVRWGROYWtVelRrUkplVTVXYjFoRVZFMHdUVlJCZDAxcVJUTk9SRWw1VGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"1ceb4887-859b-4a5f-880f-885f8ea1cfa7","container_runtime":"containerd","created_at":"2024-10-03T17:42:29.902408Z","id":"2c8083d1-200f-419a-9b37-8dfe67ea069f","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-10-03T17:42:29.902408Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.96271ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2c8083d1-200f-419a-9b37-8dfe67ea069f
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"1ceb4887-859b-4a5f-880f-885f8ea1cfa7","container_runtime":"containerd","created_at":"2024-10-03T17:42:29.902408Z","id":"2c8083d1-200f-419a-9b37-8dfe67ea069f","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-10-03T17:42:29.902408Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.24839ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7/nodes?order_by=created_at_asc&page=1&pool_id=2c8083d1-200f-419a-9b37-8dfe67ea069f&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"1ceb4887-859b-4a5f-880f-885f8ea1cfa7","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T17:45:40.157933Z","error_message":null,"id":"80c18edd-6d4c-4bca-9c31-c70ce4bcbd79","name":"scw-tf-cluster-pool-tf-pool-80c18edd6d4c4bca9c","pool_id":"2c8083d1-200f-419a-9b37-8dfe67ea069f","provider_id":"scaleway://instance/fr-par-1/b81f8717-84f6-4a94-b7fc-0a7e31e0158a","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T17:47:59.092505Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.011837ms
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-tf-cluster-pool-tf-pool-80c18edd6d4c4bca9c&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:c8d4:83fe:57a4:a837:6b25/64","created_at":"2024-10-03T17:45:44.174461Z","id":"52fc97f9-7daf-47bf-9c51-c51a13cca3ec","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"e3dd9d34-a81a-45b4-8c82-5cafb68d9a93","mac_address":"02:00:00:11:D6:B6","name":"scw-tf-cluster-pool-tf-pool-80c18edd6d4c4bca9c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"a809800f-875d-407f-afbe-d383a96c380b"},"tags":[],"updated_at":"2024-10-03T17:45:44.174461Z","zone":null},{"address":"172.16.112.2/22","created_at":"2024-10-03T17:45:43.802154Z","id":"4dedbf35-52ee-4cfa-b124-9e945c1a50a2","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"e3dd9d34-a81a-45b4-8c82-5cafb68d9a93","mac_address":"02:00:00:11:D6:B6","name":"scw-tf-cluster-pool-tf-pool-80c18edd6d4c4bca9c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"7f5477bb-887a-43d4-90e9-d54036318e5e"},"tags":[],"updated_at":"2024-10-03T17:45:43.802154Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.666478ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7
        method: PATCH
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sa[...]
[...]
    - id: 119
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"1ceb4887-859b-4a5f-880f-885f8ea1cfa7","container_runtime":"containerd","created_at":"2024-10-03T17:42:29.902408Z","id":"2c8083d1-200f-419a-9b37-8dfe67ea069f","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-10-03T17:47:59.109721Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.507983ms
[...]
    - id: 121
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7/nodes?order_by=created_at_asc&page=1&pool_id=2c8083d1-200f-419a-9b37-8dfe67ea069f&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"1ceb4887-859b-4a5f-880f-885f8ea1cfa7","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T17:45:40.157933Z","error_message":null,"id":"80c18edd-6d4c-4bca-9c31-c70ce4bcbd79","name":"scw-tf-cluster-pool-tf-pool-80c18edd6d4c4bca9c","pool_id":"2c8083d1-200f-419a-9b37-8dfe67ea069f","provider_id":"scaleway://instance/fr-par-1/b81f8717-84f6-4a94-b7fc-0a7e31e0158a","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T17:48:18.469930Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.586482ms
[...]
    - id: 159
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2c8083d1-200f-419a-9b37-8dfe67ea069f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"2c8083d1-200f-419a-9b37-8dfe67ea069f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.510349ms
    - id: 160
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ceb4887-859b-4a5f-880f-885f8ea1cfa7?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
