---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:14:05.337876Z","dhcp_enabled":true,"id":"8ea967c0-2e88-4b6b-9102-354754daa69c","name":"test-data-source-pool","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:14:05.337876Z","id":"6be7f2f5-47cd-41a2-a682-38ffa1487435","private_network_id":"8ea967c0-2e88-4b6b-9102-354754daa69c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.40.0/22","updated_at":"2025-05-05T18:14:05.337876Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:14:05.337876Z","id":"998af32a-f955-4040-9462-157f2c6a8999","private_network_id":"8ea967c0-2e88-4b6b-9102-354754daa69c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:e5f4::/64","updated_at":"2025-05-05T18:14:05.337876Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:14:05.337876Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 956.585168ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ea967c0-2e88-4b6b-9102-354754daa69c
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:14:05.337876Z","dhcp_enabled":true,"id":"8ea967c0-2e88-4b6b-9102-354754daa69c","name":"test-data-source-pool","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:14:05.337876Z","id":"6be7f2f5-47cd-41a2-a682-38ffa1487435","private_network_id":"8ea967c0-2e88-4b6b-9102-354754daa69c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.40.0/22","updated_at":"2025-05-05T18:14:05.337876Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:14:05.337876Z","id":"998af32a-f955-4040-9462-157f2c6a8999","private_network_id":"8ea967c0-2e88-4b6b-9102-354754daa69c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:e5f4::/64","updated_at":"2025-05-05T18:14:05.337876Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:14:05.337876Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.804916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"8ea967c0-2e88-4b6b-9102-354754daa69c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://78bf9e08-01ce-4ff5-8104-08a1bc9078fe.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-05T18:14:06.507599Z","created_at":"2025-05-05T18:14:06.507592Z","description":"","dns_wildcard":"*.78bf9e08-01ce-4ff5-8104-08a1bc9078fe.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"78bf9e08-01ce-4ff5-8104-08a1bc9078fe","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"8ea967c0-2e88-4b6b-9102-354754daa69c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2025-05-05T18:14:06.507592Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 444.20105ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.726482ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGRPUkVVMFRWUlJkMDR4YjFoRVZFMHhUVVJWZDA1RVJUUk5WRkYzVGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"78bf9e08-01ce-4ff5-8104-08a1bc9078fe","container_runtime":"containerd","created_at":"2025-05-05T18:14:12.181824Z","id":"05e5c048-be02-458e-a00b-829e016d7527","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-05T18:14:12.181824Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.360575919s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/05e5c048-be02-458e-a00b-829e016d7527
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"78bf9e08-01ce-4ff5-8104-08a1bc9078fe","container_runtime":"containerd","created_at":"2025-05-05T18:14:12.181824Z","id":"05e5c048-be02-458e-a00b-829e016d7527","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-05T18:14:12.181824Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.262195ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe/nodes?order_by=created_at_asc&page=1&pool_id=05e5c048-be02-458e-a00b-829e016d7527&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"78bf9e08-01ce-4ff5-8104-08a1bc9078fe","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:15:41.583871Z","error_message":"","id":"3f287033-ff33-4ece-822b-3fdd49e9b30c","name":"scw-tf-cluster-pool-tf-pool-3f287033ff334ece82","pool_id":"05e5c048-be02-458e-a00b-829e016d7527","provider_id":"scaleway://instance/fr-par-1/63523d9b-9d2f-401b-9412-5ee4d74e3995","public_ip_v4":"212.47.241.179","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:18:40.997591Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.440823ms
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-tf-cluster-pool-tf-pool-3f287033ff334ece82&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:e5f4:d022:c191:fa76:d8a5/64","created_at":"2025-05-05T18:15:45.287715Z","id":"9461a6fd-5d3a-4dbe-a245-d0777c22979c","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"fa445d73-12af-47d5-90b7-4c1f3e8af9e5","mac_address":"02:00:00:1A:EA:F9","name":"scw-tf-cluster-pool-tf-pool-3f287033ff334ece82","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"998af32a-f955-4040-9462-157f2c6a8999"},"tags":[],"updated_at":"2025-05-05T18:15:45.287715Z","zone":null},{"address":"172.16.40.3/22","created_at":"2025-05-05T18:15:44.923131Z","id":"28aa527b-438b-4389-8cfa-661ef466e25f","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"fa445d73-12af-47d5-90b7-4c1f3e8af9e5","mac_address":"02:00:00:1A:EA:F9","name":"scw-tf-cluster-pool-tf-pool-3f287033ff334ece82","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"6be7f2f5-47cd-41a2-a682-38ffa1487435"},"tags":[],"updated_at":"2025-05-05T18:15:44.923131Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.300271ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"78bf9e08-01ce-4ff5-8104-08a1bc9078fe","container_runtime":"containerd","created_at":"2025-05-05T18:14:12.181824Z","id":"05e5c048-be02-458e-a00b-829e016d7527","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-05T18:18:41.011704Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.774846ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe/nodes?order_by=created_at_asc&page=1&pool_id=05e5c048-be02-458e-a00b-829e016d7527&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"78bf9e08-01ce-4ff5-8104-08a1bc9078fe","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:15:41.583871Z","error_message":"","id":"3f287033-ff33-4ece-822b-3fdd49e9b30c","name":"scw-tf-cluster-pool-tf-pool-3f287033ff334ece82","pool_id":"05e5c048-be02-458e-a00b-829e016d7527","provider_id":"scaleway://instance/fr-par-1/63523d9b-9d2f-401b-9412-5ee4d74e3995","public_ip_v4":"212.47.241.179","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:19:06.307763Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.023569ms
[...]
    - id: 167
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/05e5c048-be02-458e-a00b-829e016d7527
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"05e5c048-be02-458e-a00b-829e016d7527","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.197664ms
    - id: 168
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/78bf9e08-01ce-4ff5-8104-08a1bc9078fe?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
