---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.34.1\",\"label\":\"Kubernetes 1.34.1\",\"available_cnis\":[\"cilium\",\"cilium_native\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"CPUManagerPolicyAlphaOptions\",\"ImageVolume\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"},\"deprecated_at\":\"2026-09-29T00:00:00Z\",\"end_of_life_at\":\"2026-11-29T00:00:00Z\",\"released_at\":\"2025-09-29T00:00:00Z\"},{\"region\":\"fr-par\",\"name\":\"1.33.4\",\"label\":\"Kubernetes 1.33.4\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"DRAAdminAccess\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\",\"ImageVolume\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kub[...]
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"testAccCheckK8SClusterAutoUpgrade\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\",\"name\":\"testAccCheckK8SClusterAutoUpgrade\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-10T21:19:38.629626Z\",\"updated_at\":\"2025-11-10T21:19:38.629626Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 143.739925ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/55e16b08-b4d2-4a29-935a-0fa7f6c5c186
    method: GET
  response:
    body: "{\"id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\",\"name\":\"testAccCheckK8SClusterAutoUpgrade\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-10T21:19:38.629626Z\",\"updated_at\":\"2025-11-10T21:19:38.629626Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.692867ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-auto-upgrade\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\",\"name\":\"test-auto-upgrade\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-10T21:19:38.834193Z\",\"updated_at\":\"2025-11-10T21:19:38.834193Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"aa4179f0-1c2d-4695-bd9e-7047b957661b\",\"created_at\":\"2025-11-10T21:19:38.834193Z\",\"updated_at\":\"2025-11-10T21:19:38.834193Z\",\"subnet\":\"172.18.68.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\",\"vpc_id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\"},{\"id\":\"c14471f0-7926-4739-92f9-fc1aed2832a8\",\"created_at\":\"2025-11-10T21:19:38.834193Z\",\"updated_at\":\"2025-11-10T21:19:38.834193Z\",\"subnet\":\"fd5f:519c:6d46:aaf2::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\",\"vpc_id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\"}],\"vpc_id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 624.935176ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3651dbf1-066e-476f-847a-7afaad1ffd8a
    method: GET
  response:
    body: "{\"id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\",\"name\":\"test-auto-upgrade\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-10T21:19:38.834193Z\",\"updated_at\":\"2025-11-10T21:19:38.834193Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"aa4179f0-1c2d-4695-bd9e-7047b957661b\",\"created_at\":\"2025-11-10T21:19:38.834193Z\",\"updated_at\":\"2025-11-10T21:19:38.834193Z\",\"subnet\":\"172.18.68.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\",\"vpc_id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\"},{\"id\":\"c14471f0-7926-4739-92f9-fc1aed2832a8\",\"created_at\":\"2025-11-10T21:19:38.834193Z\",\"updated_at\":\"2025-11-10T21:19:38.834193Z\",\"subnet\":\"fd5f:519c:6d46:aaf2::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\",\"vpc_id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\"}],\"vpc_id\":\"55e16b08-b4d2-4a29-935a-0fa7f6c5c186\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 81.480567ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-auto-upgrade\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"auto_upgrade\"],\"version\":\"1.34.1\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enable\":true,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"4da16559-8ad6-45a2-a512-67d3f9943958\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-10T21:19:39.893188Z\",\"updated_at\":\"2025-11-10T21:19:39.893189Z\",\"type\":\"kapsule\",\"name\":\"test-auto-upgrade\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.34.1\",\"cni\":\"calico\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"auto_upgrade\"],\"cluster_url\":\"https://4da16559-8ad6-45a2-a512-67d3f9943958.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.4da16559-8ad6-45a2-a512-67d3f9943958.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":true,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"3651dbf1-066e-476f-847a-7afaad1ffd8a\",\"commitment_ends_at\":\"2025-11-10T21:19:39.893200Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"100.64.0.0/15\",\"service_cidr\":\"10.32.0.0/20\",\"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 404.669071ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4da16559-8ad6-45a2-a512-67d3f9943958
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"4da16559-8ad6-45a2-a512-67d3f9943958\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-10T21:19:39.893188Z\",\"updated_at\":\"2025-11-10T21:19:39.893189Z\",\"type\":\"kapsule[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4da16559-8ad6-45a2-a512-67d3f9943958/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.486688ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4da16559-8ad6-45a2-a512-67d3f9943958/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0by11cGdyYWRlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJGZDA5VVNYaE5WR3Q2VDFadldFUlVUVEZOVkVWM1QxUkplRTFVYTNwUFZtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDUl[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions/1.34.1
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"name\":\"1.34.1\",\"label\":\"Kubernetes 1.34.1\",\"available_cnis\":[\"cilium\",\"cilium_native\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"CPUManagerPolicyAlphaOptions\",\"ImageVolume\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"},\"deprecated_at\":\"2026-09-29T00:00:00Z\",\"end_of_life_at\":\"2026-11-29T00:00:00Z\",\"released_at\":\"2025-09-29T00:00:00Z\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 18.002431ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4da16559-8ad6-45a2-a512-67d3f9943958?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"4da16559-8ad6-45a2-a512-67d3f9943958\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-10T21:19:39.893188Z\",\"updated_at\":\"2025-11-10T21:19:46.493663Z\",\"type\":\"k[...]
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4da16559-8ad6-45a2-a512-67d3f9943958
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"cluster\",\"resource_id\":\"4da16559-8ad6-45a2-a512-67d3f9943958\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.412805ms
[...]
