---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-15T00:19:18.319714Z","dhcp_enabled":true,"id":"6f1cfadd-648b-4f6c-8677-12748d3c0322","name":"test-data-source-pool","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:19:18.319714Z","id":"fba87d09-259e-41a9-a6b6-c3c231d44bdf","private_network_id":"6f1cfadd-648b-4f6c-8677-12748d3c0322","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-15T00:19:18.319714Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:19:18.319714Z","id":"902c723a-6bcd-491a-8047-c03664f5321e","private_network_id":"6f1cfadd-648b-4f6c-8677-12748d3c0322","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b615::/64","updated_at":"2025-05-15T00:19:18.319714Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:19:18.319714Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.029779836s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6f1cfadd-648b-4f6c-8677-12748d3c0322
        method: GET
      response:
        body: '{"created_at":"2025-05-15T00:19:18.319714Z","dhcp_enabled":true,"id":"6f1cfadd-648b-4f6c-8677-12748d3c0322","name":"test-data-source-pool","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:19:18.319714Z","id":"fba87d09-259e-41a9-a6b6-c3c231d44bdf","private_network_id":"6f1cfadd-648b-4f6c-8677-12748d3c0322","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-15T00:19:18.319714Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:19:18.319714Z","id":"902c723a-6bcd-491a-8047-c03664f5321e","private_network_id":"6f1cfadd-648b-4f6c-8677-12748d3c0322","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b615::/64","updated_at":"2025-05-15T00:19:18.319714Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:19:18.319714Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.185042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"6f1cfadd-648b-4f6c-8677-12748d3c0322"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a5aec5a6-b608-438e-aaa4-7d7e764aef90.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-15T00:19:20.159926Z","created_at":"2025-05-15T00:19:20.159916Z","description":"","dns_wildcard":"*.a5aec5a6-b608-438e-aaa4-7d7e764aef90.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"a5aec5a6-b608-438e-aaa4-7d7e764aef90","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"6f1cfadd-648b-4f6c-8677-12748d3c0322","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2025-05-15T00:19:20.159916Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.330996ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 610.140004ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGhPUkVGM1RWUnJlVTFXYjFoRVZFMHhUVVJWZUU1RVFYZE5WR3Q1VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a5aec5a6-b608-438e-aaa4-7d7e764aef90","container_runtime":"containerd","created_at":"2025-05-15T00:19:27.430473Z","id":"6484d690-2020-4263-bac9-f5ea3f9d7e84","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-15T00:19:27.430473Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.52907ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/6484d690-2020-4263-bac9-f5ea3f9d7e84
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a5aec5a6-b608-438e-aaa4-7d7e764aef90","container_runtime":"containerd","created_at":"2025-05-15T00:19:27.430473Z","id":"6484d690-2020-4263-bac9-f5ea3f9d7e84","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-15T00:19:27.430473Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 562.886361ms
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90/nodes?order_by=created_at_asc&page=1&pool_id=6484d690-2020-4263-bac9-f5ea3f9d7e84&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"a5aec5a6-b608-438e-aaa4-7d7e764aef90","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:22:29.169142Z","error_message":"","id":"2b329ace-3b08-4832-882b-985c11abb149","name":"scw-tf-cluster-pool-tf-pool-2b329ace3b08483288","pool_id":"6484d690-2020-4263-bac9-f5ea3f9d7e84","provider_id":"scaleway://instance/fr-par-1/ccf80c98-f6f8-4eda-8a62-9d919b130c3f","public_ip_v4":"212.47.241.179","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:25:57.720005Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.652326ms
[...]
    - id: 91
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-tf-cluster-pool-tf-pool-2b329ace3b08483288&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:b615:d245:b2a8:7c4d:3f4e/64","created_at":"2025-05-15T00:22:33.124396Z","id":"f6f8fb9f-b896-4193-b5ac-b00c7197baac","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"efb1e821-e6dc-46c3-872e-ae0582011150","mac_address":"02:00:00:1D:DA:0D","name":"scw-tf-cluster-pool-tf-pool-2b329ace3b08483288","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"902c723a-6bcd-491a-8047-c03664f5321e"},"tags":[],"updated_at":"2025-05-15T00:22:33.124396Z","zone":null},{"address":"172.16.12.3/22","created_at":"2025-05-15T00:22:32.715090Z","id":"5f883ac4-f511-4e75-b28b-7c0e39746091","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"efb1e821-e6dc-46c3-872e-ae0582011150","mac_address":"02:00:00:1D:DA:0D","name":"scw-tf-cluster-pool-tf-pool-2b329ace3b08483288","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"fba87d09-259e-41a9-a6b6-c3c231d44bdf"},"tags":[],"updated_at":"2025-05-15T00:22:32.715090Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.507641ms
[...]
    - id: 114
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 128
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"a5aec5a6-b608-438e-aaa4-7d7e764aef90","container_runtime":"containerd","created_at":"2025-05-15T00:19:27.430473Z","id":"6484d690-2020-4263-bac9-f5ea3f9d7e84","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-15T00:25:57.729948Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.03036ms
[...]
    - id: 130
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90/nodes?order_by=created_at_asc&page=1&pool_id=6484d690-2020-4263-bac9-f5ea3f9d7e84&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"a5aec5a6-b608-438e-aaa4-7d7e764aef90","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:22:29.169142Z","error_message":"","id":"2b329ace-3b08-4832-882b-985c11abb149","name":"scw-tf-cluster-pool-tf-pool-2b329ace3b08483288","pool_id":"6484d690-2020-4263-bac9-f5ea3f9d7e84","provider_id":"scaleway://instance/fr-par-1/ccf80c98-f6f8-4eda-8a62-9d919b130c3f","public_ip_v4":"212.47.241.179","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:26:24.333350Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.399363647s
[...]
    - id: 197
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/6484d690-2020-4263-bac9-f5ea3f9d7e84
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"6484d690-2020-4263-bac9-f5ea3f9d7e84","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.250035ms
    - id: 198
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a5aec5a6-b608-438e-aaa4-7d7e764aef90?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
