---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.33.4\",\"label\":\"Kubernetes 1.33.4\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"DRAAdminAccess\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.32.8\",\"label\":\"Kubernetes 1.32.8\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSe[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-data-source-pool\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"55291eb9-82f3-4c30-b295-4548e21def76\",\"name\":\"test-data-source-pool\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:16.057895Z\",\"updated_at\":\"2025-09-23T10:24:16.057895Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"672be2b5-c4da-4b7d-858b-18601e50408f\",\"created_at\":\"2025-09-23T10:24:16.057895Z\",\"updated_at\":\"2025-09-23T10:24:16.057895Z\",\"subnet\":\"172.17.8.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"55291eb9-82f3-4c30-b295-4548e21def76\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"6cc196e6-6464-448c-83d8-77bada695440\",\"created_at\":\"2025-09-23T10:24:16.057895Z\",\"updated_at\":\"2025-09-23T10:24:16.057895Z\",\"subnet\":\"fd5f:519c:6d46:60d2::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"55291eb9-82f3-4c30-b295-4548e21def76\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.30249382s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/55291eb9-82f3-4c30-b295-4548e21def76
    method: GET
  response:
    body: "{\"id\":\"55291eb9-82f3-4c30-b295-4548e21def76\",\"name\":\"test-data-source-pool\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:16.057895Z\",\"updated_at\":\"2025-09-23T10:24:16.057895Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"672be2b5-c4da-4b7d-858b-18601e50408f\",\"created_at\":\"2025-09-23T10:24:16.057895Z\",\"updated_at\":\"2025-09-23T10:24:16.057895Z\",\"subnet\":\"172.17.8.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"55291eb9-82f3-4c30-b295-4548e21def76\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"6cc196e6-6464-448c-83d8-77bada695440\",\"created_at\":\"2025-09-23T10:24:16.057895Z\",\"updated_at\":\"2025-09-23T10:24:16.057895Z\",\"subnet\":\"fd5f:519c:6d46:60d2::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"55291eb9-82f3-4c30-b295-4548e21def76\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.929269ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"tf-cluster-pool\",\"description\":\"\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"version\":\"1.33.4\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"55291eb9-82f3-4c30-b295-4548e21def76\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:17.965007Z\",\"updated_at\":\"2025-09-23T10:24:17.965007Z\",\"type\":\"kapsule\",\"name\":\"tf-cluster-pool\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.33.4\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"cluster_url\":\"https://9ccb634b-d1ca-4884-a78a-647a998d9565.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.9ccb634b-d1ca-4884-a78a-647a998d9565.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"55291eb9-82f3-4c30-b295-4548e21def76\",\"commitment_ends_at\":\"2025-09-23T10:24:17.965022Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 567.224886ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:17.965007Z\",\"updated_at\":\"2025-09-23T10:24:17.965007Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 403.142408ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVhM2xOYWtWM1RXcFJlRTlHYjFoRVZFMHhUVVJyZVUxcVJYZE5hbEY0VDBadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTk[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pool\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"673e200b-d262-4c80-b6b0-6fc768661567\",\"cluster_id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"created_at\":\"2025-09-23T10:24:26.066093Z\",\"updated_at\":\"2025-09-23T10:24:26.066093Z\",\"name\":\"tf-pool\",\"status\":\"scaling\",\"version\":\"1.33.4\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":true,\"security_group_id\":\"4212283f-28b3-466e-adfe-a1d3123ca46e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 916.002707ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/673e200b-d262-4c80-b6b0-6fc768661567
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"673e200b-d262-4c80-b6b0-6fc768661567\",\"cluster_id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"created_at\":\"2025-09-23T10:24:26.066093Z\",\"updated_at\":\"2025-09-23T10:24:26.066093Z\",\"name\":\"tf-pool\",\"status\":\"scaling\",\"version\":\"1.33.4\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":true,\"security_group_id\":\"4212283f-28b3-466e-adfe-a1d3123ca46e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 509.417336ms
[...]
- id: 92
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 673e200b-d262-4c80-b6b0-6fc768661567
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565/nodes?order_by=created_at_asc&page=1&pool_id=673e200b-d262-4c80-b6b0-6fc768661567&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"b9a2084c-5ebd-43e1-9975-e1dcbd389ecc\",\"cluster_id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"created_at\":\"2025-09-23T10:29:52.436999Z\",\"updated_at\":\"2025-09-23T10:31:27.209362Z\",\"pool_id\":\"673e200b-d262-4c80-b6b0-6fc768661567\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-tf-cluster-pool-tf-pool-b9a2084c5ebd43e199\",\"public_ip_v4\":\"51.15.140.102\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/d0e61b52-84a6-40d5-83c2-ae785c712b9e\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.995982ms
[...]
- id: 94
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-tf-cluster-pool-tf-pool-b9a2084c5ebd43e199
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-tf-cluster-pool-tf-pool-b9a2084c5ebd43e199&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"f0520285-4e65-4274-8aa0-32e224cb7b5b\",\"address\":\"fd5f:519c:6d46:60d2:ff31:74df:a2a:532e/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":true,\"created_at\":\"2025-09-23T10:29:56.315381Z\",\"updated_at\":\"2025-09-23T10:29:56.315381Z\",\"source\":{\"subnet_id\":\"6cc196e6-6464-448c-83d8-77bada695440\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"c4cf71e6-67cc-4a65-a609-5370a6df982b\",\"mac_address\":\"02:00:00:18:BF:5D\",\"name\":\"scw-tf-cluster-pool-tf-pool-b9a2084c5ebd43e199\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"df80ab23-19a4-49a5-a2c1-15425e195437\",\"address\":\"172.17.8.3/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T10:29:56.159150Z\",\"updated_at\":\"2025-09-23T10:29:56.159150Z\",\"source\":{\"subnet_id\":\"672be2b5-c4da-4b7d-858b-18601e50408f\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"c4cf71e6-67cc-4a65-a609-5370a6df982b\",\"mac_address\":\"02:00:00:18:BF:5D\",\"name\":\"scw-tf-cluster-pool-tf-pool-b9a2084c5ebd43e199\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.993891ms
[...]
- id: 113
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"terraform-test\",\"data_scaleway_k8s_cluster\",\"basic\"],\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":null,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":null},\"auto_upgrade\":{\"enable\":null,\"maintenance_window\":null},\"open_id_connect_config\":{\"issuer_url\":null,\"client_id\":null,\"username_claim\":null,\"username_prefix\":null,\"groups_claim\":null,\"groups_prefix\":null,\"required_claim\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565
    method: PATCH
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"orga[...]
[...]
- id: 129
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-pool
      order_by:
      - created_at_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"pools\":[{\"region\":\"fr-par\",\"id\":\"673e200b-d262-4c80-b6b0-6fc768661567\",\"cluster_id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"created_at\":\"2025-09-23T10:24:26.066093Z\",\"updated_at\":\"2025-09-23T10:31:27.220329Z\",\"name\":\"tf-pool\",\"status\":\"ready\",\"version\":\"1.33.4\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"l_ssd\",\"root_volume_size\":40000000000,\"public_ip_disabled\":false,\"new_images_enabled\":true,\"security_group_id\":\"4212283f-28b3-466e-adfe-a1d3123ca46e\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 674.413631ms
[...]
- id: 131
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 673e200b-d262-4c80-b6b0-6fc768661567
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565/nodes?order_by=created_at_asc&page=1&pool_id=673e200b-d262-4c80-b6b0-6fc768661567&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"b9a2084c-5ebd-43e1-9975-e1dcbd389ecc\",\"cluster_id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"created_at\":\"2025-09-23T10:29:52.436999Z\",\"updated_at\":\"2025-09-23T10:32:12.309577Z\",\"pool_id\":\"673e200b-d262-4c80-b6b0-6fc768661567\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"NetworkUnavailable\":\"False\",\"PIDPressure\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-tf-cluster-pool-tf-pool-b9a2084c5ebd43e199\",\"public_ip_v4\":\"51.15.140.102\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/d0e61b52-84a6-40d5-83c2-ae785c712b9e\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 172.48135ms
[...]
- id: 186
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/673e200b-d262-4c80-b6b0-6fc768661567
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"673e200b-d262-4c80-b6b0-6fc768661567\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 39.213567ms
- id: 187
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ccb634b-d1ca-4884-a78a-647a998d9565?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"9ccb634b-d1ca-4884-a78a-647a998d9565\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:17.965007Z\",\"updated_at\":\"2025-09-23T10:35:12.236814Z\",\"type\":\"k[...]
[...]
