---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.33.4","name":"1.33.4","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSi[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:23:46.309467Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6","name":"test-data-source-cluster","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-05T15:23:46.309467Z","id":"39a32407-4de4-4bfe-a507-3659e5b59545","private_network_id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.128.0/22","updated_at":"2025-09-05T15:23:46.309467Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-05T15:23:46.309467Z","id":"47d74ba3-cc60-401e-9aee-565cda433ea8","private_network_id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7d3c::/64","updated_at":"2025-09-05T15:23:46.309467Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-05T15:23:46.309467Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 742.1345ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/48db4cef-3881-4759-9d83-f0aa4be4c8c6
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:23:46.309467Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6","name":"test-data-source-cluster","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-05T15:23:46.309467Z","id":"39a32407-4de4-4bfe-a507-3659e5b59545","private_network_id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.128.0/22","updated_at":"2025-09-05T15:23:46.309467Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-05T15:23:46.309467Z","id":"47d74ba3-cc60-401e-9aee-565cda433ea8","private_network_id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7d3c::/64","updated_at":"2025-09-05T15:23:46.309467Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-05T15:23:46.309467Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.872875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-basic","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.33.4","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://b0cb5ab5-f378-474e-8abc-d9f3a172ae47.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-05T15:23:47.478452Z","created_at":"2025-09-05T15:23:47.478443Z","description":"","dns_wildcard":"*.b0cb5ab5-f378-474e-8abc-d9f3a172ae47.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"b0cb5ab5-f378-474e-8abc-d9f3a172ae47","name":"tf-cluster-basic","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"","private_network_id":"48db4cef-3881-4759-9d83-f0aa4be4c8c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"","service_dns_ip":"","status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2025-09-05T15:23:47.478443Z","upgrade_available":false,"version":"1.33.4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.638375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b0cb5ab5-f378-474e-8abc-d9f3a172ae47
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b0cb5ab5-f378-474e-8abc-d9f3a172ae47/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.804166ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b0cb5ab5-f378-474e-8abc-d9f3a172ae47/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFYTNkT1JFVXhUV3BOTUU0eGIxaEVWRTB4VFVScmQwNUVSVEZOYWswd1RqRnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster-basic&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"clusters":[{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b0cb5ab5-f378-474e-8abc-d9f3a172ae47/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"b0cb5ab5-f378-474e-8abc-d9f3a172ae47","container_runtime":"containerd","created_at":"2025-09-05T15:23:53.590909Z","id":"001a08d7-d11a-4015-b0af-bcf05fc74c40","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d027c50e-80da-4ecb-b40c-6ac3b772796f","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-05T15:23:53.590909Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.340333ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/001a08d7-d11a-4015-b0af-bcf05fc74c40
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"b0cb5ab5-f378-474e-8abc-d9f3a172ae47","container_runtime":"containerd","created_at":"2025-09-05T15:23:53.590909Z","id":"001a08d7-d11a-4015-b0af-bcf05fc74c40","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d027c50e-80da-4ecb-b40c-6ac3b772796f","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-05T15:23:53.590909Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.635625ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b0cb5ab5-f378-474e-8abc-d9f3a172ae47/nodes?order_by=created_at_asc&page=1&pool_id=001a08d7-d11a-4015-b0af-bcf05fc74c40&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"b0cb5ab5-f378-474e-8abc-d9f3a172ae47","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-09-05T15:25:54.450744Z","error_message":"","id":"e2343480-6331-4793-98d3-6dda872e607e","name":"scw-tf-cluster-basic-default-e2343480633147939","pool_id":"001a08d7-d11a-4015-b0af-bcf05fc74c40","provider_id":"scaleway://instance/fr-par-1/6e4b6aa5-05da-4599-b169-b18b21b59a17","public_ip_v4":"51.15.236.240","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-05T15:29:44.473865Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.626959ms
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-tf-cluster-basic-default-e2343480633147939&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:7d3c:8152:fe56:8a99:1e15/64","created_at":"2025-09-05T15:25:58.062082Z","id":"887c6f6c-4d52-40f3-99b7-b3d900cdf93e","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"669cadb0-c0f1-407b-a973-9a41aa90b56c","mac_address":"02:00:00:19:75:73","name":"scw-tf-cluster-basic-default-e2343480633147939","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"47d74ba3-cc60-401e-9aee-565cda433ea8"},"tags":[],"updated_at":"2025-09-05T15:25:58.062082Z","zone":null},{"address":"172.16.128.3/22","created_at":"2025-09-05T15:25:57.921444Z","id":"e06a7a0e-7819-4a90-9847-eb47c2409a81","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"669cadb0-c0f1-407b-a973-9a41aa90b56c","mac_address":"02:00:00:19:75:73","name":"scw-tf-cluster-basic-default-e2343480633147939","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"39a32407-4de4-4bfe-a507-3659e5b59545"},"tags":[],"updated_at":"2025-09-05T15:25:57.921444Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.728666ms
[...]
    - id: 161
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/001a08d7-d11a-4015-b0af-bcf05fc74c40
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"001a08d7-d11a-4015-b0af-bcf05fc74c40","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.125166ms
    - id: 162
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b0cb5ab5-f378-474e-8abc-d9f3a172ae47?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
