---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccDataSourcePool_Basic\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"64ee6fb8-81c6-4519-9f5e-e4dc82ef1776\", \"name\":\"TestAccDataSourcePool_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:40.167534Z\", \"updated_at\":\"2025-10-30T16:18:40.167534Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 53.673305ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/64ee6fb8-81c6-4519-9f5e-e4dc82ef1776
    method: GET
  response:
    body: "{\"id\":\"64ee6fb8-81c6-4519-9f5e-e4dc82ef1776\", \"name\":\"TestAccDataSourcePool_Basic\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:40.167534Z\", \"updated_at\":\"2025-10-30T16:18:40.167534Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 30.914401ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-data-source-pool\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"64ee6fb8-81c6-4519-9f5e-e4dc82ef1776\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"28ed0f4c-4af6-4e05-a656-423bf86b40b4\", \"name\":\"test-data-source-pool\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:40.270823Z\", \"updated_at\":\"2025-10-30T16:18:40.270823Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"69efb21f-5546-48f5-83df-aef63957de90\", \"created_at\":\"2025-10-30T16:18:40.270823Z\", \"updated_at\":\"2025-10-30T16:18:40.270823Z\", \"subnet\":\"172.18.100.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"28ed0f4c-4af6-4e05-a656-423bf86b40b4\", \"vpc_id\":\"64ee6fb8-81c6-4519-9f5e-e4dc82ef1776\"}, {\"id\":\"28394509-5e6b-4a35-abde-680e3d38cb46\", \"created_at\":\"2025-10-30T16:18:40.270823Z\", \"updated_at\":\"2025-10-30T16:18:40.270823Z\", \"subnet\":\"fd5f:519c:6d46:2576::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"28ed0f4c-4af6-4e05-a656-423bf86b40b4\", \"vpc_id\":\"64ee6fb8-81c6-4519-9f5e-e4dc82ef1776\"}], \"vpc_id\":\"64ee6fb8-81c6-4519-9f5e-e4dc82ef1776\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 654.410955ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/28ed0f4c-4af6-4e05-a656-423bf86b40b4
    method: GET
  response:
    body: "{\"id\":\"28ed0f4c-4af6-4e05-a656-423bf86b40b4\", \"name\":\"test-data-source-pool\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:40.270823Z\", \"updated_at\":\"2025-10-30T16:18:40.270823Z\", \"project_id\":\"105bdce1-64c0-48ab[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"tf-cluster-pool\",\"description\":\"\",\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"28ed0f4c-4af6-4e05-a656-423bf86b40b4\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:41.215920Z\", \"updated_at\":\"2025-10-30T16:18:41.215920Z\", \"type\":\"kapsule\", \"name\":\"tf-cluster-pool\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[\"terraform-test\", \"data_scaleway_k8s_pool\", \"basic\"], \"cluster_url\":\"https://f81d0594-be8f-40e1-a0d6-8c99353f3055.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.f81d0594-be8f-40e1-a0d6-8c99353f3055.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"28ed0f4c-4af6-4e05-a656-423bf86b40b4\", \"commitment_ends_at\":\"2025-10-30T16:18:41.215928Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 352.714428ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:41.215920Z\", \"updated_at\":\"2025-10-30T16:18:41.215920Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.606207ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSQmVVOVVSVEpOVkdjd1RWWnZXRVJVVFRGTlZFRjVUMVJGTWsxVVp6Qk5WbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1NVNX[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pool\",\"node_type\":\"dev1_m\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[\"terraform-test\",\"data_scaleway_k8s_pool\",\"basic\"],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"ed10ae0c-6203-42e9-acdc-0a3381bc3ae7\", \"cluster_id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"created_at\":\"2025-10-30T16:18:46.692174Z\", \"updated_at\":\"2025-10-30T16:18:46.692174Z\", \"name\":\"tf-pool\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[\"terraform-test\", \"data_scaleway_k8s_pool\", \"basic\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.480126ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ed10ae0c-6203-42e9-acdc-0a3381bc3ae7
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"ed10ae0c-6203-42e9-acdc-0a3381bc3ae7\", \"cluster_id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"created_at\":\"2025-10-30T16:18:46.692174Z\", \"updated_at\":\"2025-10-30T16:18:46.692174Z\", \"name\":\"tf-pool\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[\"terraform-test\", \"data_scaleway_k8s_pool\", \"basic\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.66106ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - ed10ae0c-6203-42e9-acdc-0a3381bc3ae7
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055/nodes?order_by=created_at_asc&page=1&pool_id=ed10ae0c-6203-42e9-acdc-0a3381bc3ae7&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"484a8212-0083-479f-9e1b-eeaabea357a8\", \"cluster_id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"created_at\":\"2025-10-30T16:22:17.922768Z\", \"updated_at\":\"2025-10-30T16:24:03.751299Z\", \"pool_id\":\"ed10ae0c-6203-42e9-acdc-0a3381bc3ae7\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-tf-cluster-pool-tf-pool-484a82120083479f9e\", \"public_ip_v4\":\"51.15.230.164\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/5edb9a82-efcc-4293-98e4-3009c814813b\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 26.336729ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-tf-cluster-pool-tf-pool-484a82120083479f9e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-tf-cluster-pool-tf-pool-484a82120083479f9e&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"fd701627-2304-4588-a2b9-cb6814399727\", \"address\":\"fd5f:519c:6d46:2576:2854:c3eb:4592:7809/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:22:21.162635Z\", \"updated_at\":\"2025-10-30T16:22:21.162635Z\", \"source\":{\"subnet_id\":\"28394509-5e6b-4a35-abde-680e3d38cb46\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"27adfd84-c338-4356-82b0-000a0cef4837\", \"mac_address\":\"02:00:00:1F:1E:83\", \"name\":\"scw-tf-cluster-pool-tf-pool-484a82120083479f9e\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"95d38f4a-5570-4b6f-bc45-4eb2d49ff948\", \"address\":\"172.18.100.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:22:21.040168Z\", \"updated_at\":\"2025-10-30T16:22:21.040168Z\", \"source\":{\"subnet_id\":\"69efb21f-5546-48f5-83df-aef63957de90\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"27adfd84-c338-4356-82b0-000a0cef4837\", \"mac_address\":\"02:00:00:1F:1E:83\", \"name\":\"scw-tf-cluster-pool-tf-pool-484a82120083479f9e\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 58.523908ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"terraform-test\",\"data_scaleway_k8s_cluster\",\"basic\"],\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":null,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":null},\"auto_upgrade\":{\"enable\":null,\"maintenance_window\":null},\"open_id_connect_config\":{\"issuer_url\":null,\"client_id\":null,\"username_claim\":null,\"username_prefix\":null,\"groups_claim\":null,\"groups_prefix\":null,\"required_claim\":null}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055
    method: PATCH
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"or[...]
[...]
- id: 45
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-pool
      order_by:
      - created_at_asc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"pools\":[{\"region\":\"fr-par\", \"id\":\"ed10ae0c-6203-42e9-acdc-0a3381bc3ae7\", \"cluster_id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"created_at\":\"2025-10-30T16:18:46.692174Z\", \"updated_at\":\"2025-10-30T16:24:03.761826Z\", \"name\":\"tf-pool\", \"status\":\"ready\", \"version\":\"1.34.1\", \"node_type\":\"dev1_m\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[\"terraform-test\", \"data_scaleway_k8s_pool\", \"basic\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"l_ssd\", \"root_volume_size\":40000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.471002ms
[...]
- id: 47
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - ed10ae0c-6203-42e9-acdc-0a3381bc3ae7
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055/nodes?order_by=created_at_asc&page=1&pool_id=ed10ae0c-6203-42e9-acdc-0a3381bc3ae7&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"484a8212-0083-479f-9e1b-eeaabea357a8\", \"cluster_id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"created_at\":\"2025-10-30T16:22:17.922768Z\", \"updated_at\":\"2025-10-30T16:24:58.184772Z\", \"pool_id\":\"ed10ae0c-6203-42e9-acdc-0a3381bc3ae7\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"NetworkUnavailable\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-tf-cluster-pool-tf-pool-484a82120083479f9e\", \"public_ip_v4\":\"51.15.230.164\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/5edb9a82-efcc-4293-98e4-3009c814813b\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.074901ms
[...]
- id: 80
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ed10ae0c-6203-42e9-acdc-0a3381bc3ae7
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"ed10ae0c-6203-42e9-acdc-0a3381bc3ae7\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 32.021118ms
- id: 81
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f81d0594-be8f-40e1-a0d6-8c99353f3055?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"f81d0594-be8f-40e1-a0d6-8c99353f3055\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:41.215920Z\", \"updated_at\":\"2025-10-30T16:27:34.797181Z\", \"type[...]
[...]
