---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T19:44:11.447226Z","dhcp_enabled":true,"id":"25a03dac-2aa9-4c40-8f13-a22a6ef4c078","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:11.447226Z","id":"040f4592-0fe1-47eb-a309-53d64e70a56b","subnet":"172.17.108.0/22","updated_at":"2024-04-08T19:44:11.447226Z"},{"created_at":"2024-04-08T19:44:11.447226Z","id":"b265dea8-dd2d-4fb5-818d-a3425f685d80","subnet":"fd5f:519c:6d46:686::/64","updated_at":"2024-04-08T19:44:11.447226Z"}],"tags":[],"updated_at":"2024-04-08T19:44:11.447226Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.015487907s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/25a03dac-2aa9-4c40-8f13-a22a6ef4c078
        method: GET
      response:
        body: '{"created_at":"2024-04-08T19:44:11.447226Z","dhcp_enabled":true,"id":"25a03dac-2aa9-4c40-8f13-a22a6ef4c078","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:11.447226Z","id":"040f4592-0fe1-47eb-a309-53d64e70a56b","subnet":"172.17.108.0/22","updated_at":"2024-04-08T19:44:11.447226Z"},{"created_at":"2024-04-08T19:44:11.447226Z","id":"b265dea8-dd2d-4fb5-818d-a3425f685d80","subnet":"fd5f:519c:6d46:686::/64","updated_at":"2024-04-08T19:44:11.447226Z"}],"tags":[],"updated_at":"2024-04-08T19:44:11.447226Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.388424ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"25a03dac-2aa9-4c40-8f13-a22a6ef4c078"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-08T19:44:12.481238678Z","created_at":"2024-04-08T19:44:12.481238678Z","description":"","dns_wildcard":"*.dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"25a03dac-2aa9-4c40-8f13-a22a6ef4c078","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2024-04-08T19:44:12.523606679Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 726.702761ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.847803ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVVWGRPZWtVMVRrUlJlRTB4YjFoRVZFMHdUVVJSZDA1NlJUVk9SRkY0VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd","container_runtime":"containerd","created_at":"2024-04-08T19:44:18.039126Z","id":"3d0fd0cc-b722-41ec-ad37-e355b07154bf","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-04-08T19:44:18.060705562Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.875997ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3d0fd0cc-b722-41ec-ad37-e355b07154bf
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd","container_runtime":"containerd","created_at":"2024-04-08T19:44:18.039126Z","id":"3d0fd0cc-b722-41ec-ad37-e355b07154bf","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-04-08T19:44:18.060706Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.439105ms
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd/nodes?order_by=created_at_asc&page=1&pool_id=3d0fd0cc-b722-41ec-ad37-e355b07154bf&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:46:23.801175Z","error_message":null,"id":"99d00817-a5e0-4b45-8b7a-eb102bf1ee5c","name":"scw-tf-cluster-pool-tf-pool-99d00817a5e04b458b","pool_id":"3d0fd0cc-b722-41ec-ad37-e355b07154bf","provider_id":"scaleway://instance/fr-par-1/147919b3-2454-4357-a515-4adef1b5a78a","public_ip_v4":"51.15.216.37","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:50:05.635831Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.518069ms
[...]
    - id: 98
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd
        method: PATCH
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sa[...]
[...]
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd","container_runtime":"containerd","created_at":"2024-04-08T19:44:18.039126Z","id":"3d0fd0cc-b722-41ec-ad37-e355b07154bf","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-04-08T19:50:05.656683Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.766843ms
[...]
    - id: 120
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd/nodes?order_by=created_at_asc&page=1&pool_id=3d0fd0cc-b722-41ec-ad37-e355b07154bf&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:46:23.801175Z","error_message":null,"id":"99d00817-a5e0-4b45-8b7a-eb102bf1ee5c","name":"scw-tf-cluster-pool-tf-pool-99d00817a5e04b458b","pool_id":"3d0fd0cc-b722-41ec-ad37-e355b07154bf","provider_id":"scaleway://instance/fr-par-1/147919b3-2454-4357-a515-4adef1b5a78a","public_ip_v4":"51.15.216.37","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:51:28.383276Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.10255ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3d0fd0cc-b722-41ec-ad37-e355b07154bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"3d0fd0cc-b722-41ec-ad37-e355b07154bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 16.305343ms
    - id: 149
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dfcdcb92-9a06-41b3-aac2-2c02ea1e41cd?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
