---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-pool","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-23T11:59:58.931756Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee","name":"test-data-source-pool","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-23T11:59:58.931756Z","id":"ff252821-3763-4b5f-a760-5190e46956c9","private_network_id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.4.0/22","updated_at":"2025-05-23T11:59:58.931756Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-05-23T11:59:58.931756Z","id":"8fc6f0fd-e93f-4676-9ff4-c5d9edc8e980","private_network_id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:c04f::/64","updated_at":"2025-05-23T11:59:58.931756Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-05-23T11:59:58.931756Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 558.974666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee
        method: GET
      response:
        body: '{"created_at":"2025-05-23T11:59:58.931756Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee","name":"test-data-source-pool","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-23T11:59:58.931756Z","id":"ff252821-3763-4b5f-a760-5190e46956c9","private_network_id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.4.0/22","updated_at":"2025-05-23T11:59:58.931756Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-05-23T11:59:58.931756Z","id":"8fc6f0fd-e93f-4676-9ff4-c5d9edc8e980","private_network_id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:c04f::/64","updated_at":"2025-05-23T11:59:58.931756Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-05-23T11:59:58.931756Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.380583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://94bed328-6efa-4c50-bc7c-77037728b9b2.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-23T11:59:59.688119Z","created_at":"2025-05-23T11:59:59.688106Z","description":"","dns_wildcard":"*.94bed328-6efa-4c50-bc7c-77037728b9b2.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"94bed328-6efa-4c50-bc7c-77037728b9b2","name":"tf-cluster-pool","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"cb4b50aa-f1f6-4cd4-b6f6-ea80d0355fee","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2025-05-23T11:59:59.688106Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.278291ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.383666ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGxOYWtWNVRVUkJkMDFHYjFoRVZFMHhUVVJWZVUxcVJYbE5SRUYzVFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"94bed328-6efa-4c50-bc7c-77037728b9b2","container_runtime":"containerd","created_at":"2025-05-23T12:00:05.069576Z","id":"336efa1f-f93a-4d4e-854d-dd4599338f05","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":false,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-23T12:00:05.069576Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.840833ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/336efa1f-f93a-4d4e-854d-dd4599338f05
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"94bed328-6efa-4c50-bc7c-77037728b9b2","container_runtime":"containerd","created_at":"2025-05-23T12:00:05.069576Z","id":"336efa1f-f93a-4d4e-854d-dd4599338f05","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":false,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-23T12:00:05.069576Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.609458ms
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2/nodes?order_by=created_at_asc&page=1&pool_id=336efa1f-f93a-4d4e-854d-dd4599338f05&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"94bed328-6efa-4c50-bc7c-77037728b9b2","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-23T12:05:15.594638Z","error_message":"","id":"4a37ddbe-ceea-4127-a51e-38e3fb37db51","name":"scw-tf-cluster-pool-tf-pool-4a37ddbeceea4127a5","pool_id":"336efa1f-f93a-4d4e-854d-dd4599338f05","provider_id":"scaleway://instance/fr-par-1/88dcb285-0d85-4dc6-bb4f-0c775cac8b57","public_ip_v4":"51.15.232.84","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-23T12:08:40.516702Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.354334ms
[...]
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&resource_name=scw-tf-cluster-pool-tf-pool-4a37ddbeceea4127a5&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd49:821a:a311:c04f:7555:e88c:2cb9:9f89/64","created_at":"2025-05-23T12:05:22.642370Z","id":"561ff09c-2b66-4711-a119-0cd948b3e7ec","is_ipv6":true,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":{"id":"2dbb0933-2deb-458b-ba04-49bdc5c97745","mac_address":"02:00:00:14:FD:A9","name":"scw-tf-cluster-pool-tf-pool-4a37ddbeceea4127a5","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"8fc6f0fd-e93f-4676-9ff4-c5d9edc8e980"},"tags":[],"updated_at":"2025-05-23T12:05:22.642370Z","zone":null},{"address":"172.16.4.3/22","created_at":"2025-05-23T12:05:22.073405Z","id":"2f5a0e42-687f-4bb1-a1a4-3ae9be93d509","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":{"id":"2dbb0933-2deb-458b-ba04-49bdc5c97745","mac_address":"02:00:00:14:FD:A9","name":"scw-tf-cluster-pool-tf-pool-4a37ddbeceea4127a5","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"ff252821-3763-4b5f-a760-5190e46956c9"},"tags":[],"updated_at":"2025-05-23T12:05:22.073405Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.887666ms
[...]
    - id: 137
      request:
        host: api.scaleway.com
        body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2
        method: PATCH
      response:
        body: '{"acl_available":true,"admission_plugins":[...]
[...]
    - id: 159
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2/pools?name=tf-pool&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"94bed328-6efa-4c50-bc7c-77037728b9b2","container_runtime":"containerd","created_at":"2025-05-23T12:00:05.069576Z","id":"336efa1f-f93a-4d4e-854d-dd4599338f05","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","new_images_enabled":false,"node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2025-05-23T12:08:40.529169Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.330583ms
[...]
    - id: 161
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2/nodes?order_by=created_at_asc&page=1&pool_id=336efa1f-f93a-4d4e-854d-dd4599338f05&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"94bed328-6efa-4c50-bc7c-77037728b9b2","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-23T12:05:15.594638Z","error_message":"","id":"4a37ddbe-ceea-4127-a51e-38e3fb37db51","name":"scw-tf-cluster-pool-tf-pool-4a37ddbeceea4127a5","pool_id":"336efa1f-f93a-4d4e-854d-dd4599338f05","provider_id":"scaleway://instance/fr-par-1/88dcb285-0d85-4dc6-bb4f-0c775cac8b57","public_ip_v4":"51.15.232.84","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-23T12:09:02.273950Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.645083ms
[...]
    - id: 218
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/336efa1f-f93a-4d4e-854d-dd4599338f05
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"336efa1f-f93a-4d4e-854d-dd4599338f05","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.441958ms
    - id: 219
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/94bed328-6efa-4c50-bc7c-77037728b9b2?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
