---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-10T16:12:06.899875Z","dhcp_enabled":true,"id":"d602f263-5646-4df0-bc99-1671c0523b7b","name":"test-data-source-cluster","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-02-10T16:12:06.899875Z","id":"b65e83e2-260d-4f76-a4f5-36148fbbcc34","private_network_id":"d602f263-5646-4df0-bc99-1671c0523b7b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.16.0/22","updated_at":"2025-02-10T16:12:06.899875Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-02-10T16:12:06.899875Z","id":"474c8b89-0a81-45cc-a400-554c746fc982","private_network_id":"d602f263-5646-4df0-bc99-1671c0523b7b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:83f9::/64","updated_at":"2025-02-10T16:12:06.899875Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-02-10T16:12:06.899875Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 553.505666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d602f263-5646-4df0-bc99-1671c0523b7b
        method: GET
      response:
        body: '{"created_at":"2025-02-10T16:12:06.899875Z","dhcp_enabled":true,"id":"d602f263-5646-4df0-bc99-1671c0523b7b","name":"test-data-source-cluster","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-02-10T16:12:06.899875Z","id":"b65e83e2-260d-4f76-a4f5-36148fbbcc34","private_network_id":"d602f263-5646-4df0-bc99-1671c0523b7b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.16.0/22","updated_at":"2025-02-10T16:12:06.899875Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-02-10T16:12:06.899875Z","id":"474c8b89-0a81-45cc-a400-554c746fc982","private_network_id":"d602f263-5646-4df0-bc99-1671c0523b7b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:83f9::/64","updated_at":"2025-02-10T16:12:06.899875Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-02-10T16:12:06.899875Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.250333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"tf-cluster-basic","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"d602f263-5646-4df0-bc99-1671c0523b7b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://61376e8a-1d95-4bc9-9c10-2d76ef96329e.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-02-10T16:12:08.255119Z","created_at":"2025-02-10T16:12:08.255108Z","description":"","dns_wildcard":"*.61376e8a-1d95-4bc9-9c10-2d76ef96329e.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"61376e8a-1d95-4bc9-9c10-2d76ef96329e","name":"tf-cluster-basic","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"d602f263-5646-4df0-bc99-1671c0523b7b","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2025-02-10T16:12:08.255108Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 861.17225ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61376e8a-1d95-4bc9-9c10-2d76ef96329e
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61376e8a-1d95-4bc9-9c10-2d76ef96329e/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.78175ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61376e8a-1d95-4bc9-9c10-2d76ef96329e/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFU1hkUFZFVXlUVlJKZDA5V2IxaEVWRTB4VFVSSmQwOVVSVEpOVkVsM1QxWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster-basic&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"clusters":[{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61376e8a-1d95-4bc9-9c10-2d76ef96329e/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"61376e8a-1d95-4bc9-9c10-2d76ef96329e","container_runtime":"containerd","created_at":"2025-02-10T16:12:13.720795Z","id":"b462ca6a-8916-4bae-bcc2-1fd4fb4d7b55","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-02-10T16:12:13.720795Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.637125ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b462ca6a-8916-4bae-bcc2-1fd4fb4d7b55
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"61376e8a-1d95-4bc9-9c10-2d76ef96329e","container_runtime":"containerd","created_at":"2025-02-10T16:12:13.720795Z","id":"b462ca6a-8916-4bae-bcc2-1fd4fb4d7b55","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-02-10T16:12:13.720795Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.839084ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61376e8a-1d95-4bc9-9c10-2d76ef96329e/nodes?order_by=created_at_asc&page=1&pool_id=b462ca6a-8916-4bae-bcc2-1fd4fb4d7b55&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"61376e8a-1d95-4bc9-9c10-2d76ef96329e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-02-10T16:13:44.017481Z","error_message":"","id":"d17bdef8-b862-4a6d-b098-1d3f653c3424","name":"scw-tf-cluster-basic-default-d17bdef8b8624a6db","pool_id":"b462ca6a-8916-4bae-bcc2-1fd4fb4d7b55","provider_id":"scaleway://instance/fr-par-1/4b810f8a-96cd-45e2-9e4e-ee43dab8a8cb","public_ip_v4":"51.158.118.208","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-02-10T16:16:29.937759Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.543375ms
[...]
    - id: 120
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b462ca6a-8916-4bae-bcc2-1fd4fb4d7b55
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"b462ca6a-8916-4bae-bcc2-1fd4fb4d7b55","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.236958ms
    - id: 121
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61376e8a-1d95-4bc9-9c10-2d76ef96329e?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
