---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDataSourceCluster_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:00:00.589520Z","custom_routes_propagation_enabled":true,"id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5","is_default":false,"name":"TestAccDataSourceCluster_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:00:00.589520Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.915666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/9b54ff81-5442-49b0-9c8a-fe5c739ea3e5
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:00:00.589520Z","custom_routes_propagation_enabled":true,"id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5","is_default":false,"name":"TestAccDataSourceCluster_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:00:00.589520Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.395167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:00:00.699398Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579","name":"test-data-source-cluster","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:00:00.699398Z","id":"8f670988-395d-4476-9b26-633a24b5b42e","private_network_id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.4.0/22","updated_at":"2025-09-30T14:00:00.699398Z","vpc_id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5"},{"created_at":"2025-09-30T14:00:00.699398Z","id":"c944be7e-e197-456e-9388-7c4578610753","private_network_id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:f60c::/64","updated_at":"2025-09-30T14:00:00.699398Z","vpc_id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5"}],"tags":[],"updated_at":"2025-09-30T14:00:00.699398Z","vpc_id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 670.759334ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:00:00.699398Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579","name":"test-data-source-cluster","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:00:00.699398Z","id":"8f670988-395d-4476-9b26-633a24b5b42e","private_network_id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.4.0/22","updated_at":"2025-09-30T14:00:00.699398Z","vpc_id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5"},{"created_at":"2025-09-30T14:00:00.699398Z","id":"c944be7e-e197-456e-9388-7c4578610753","private_network_id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:f60c::/64","updated_at":"2025-09-30T14:00:00.699398Z","vpc_id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5"}],"tags":[],"updated_at":"2025-09-30T14:00:00.699398Z","vpc_id":"9b54ff81-5442-49b0-9c8a-fe5c739ea3e5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.249042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"tf-cluster-basic","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4397d484-905d-4744-a995-d137a28948a2.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T14:00:01.658465Z","created_at":"2025-09-30T14:00:01.658455Z","description":"","dns_wildcard":"*.4397d484-905d-4744-a995-d137a28948a2.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"4397d484-905d-4744-a995-d137a28948a2","name":"tf-cluster-basic","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","pod_cidr":"100.64.0.0/15","private_network_id":"de7796cb-5c2f-4bd2-b51a-5e0ee2fcf579","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2025-09-30T14:00:01.658456Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.748791ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4397d484-905d-4744-a995-d137a28948a2
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4397d484-905d-4744-a995-d137a28948a2/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.567667ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4397d484-905d-4744-a995-d137a28948a2/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRVUnJlVTlVUlRCTlJFRjNUVlp2V0VSVVRURk5SR3Q1VDFSRk1FMUVRWGROVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1NVRkNUMEo[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster-basic&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"clusters":[{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4397d484-905d-4744-a995-d137a28948a2/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4397d484-905d-4744-a995-d137a28948a2","container_runtime":"containerd","created_at":"2025-09-30T14:00:07.089589Z","id":"c137fd10-844e-4f8e-a1d0-81a227912373","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"9c112286-dc28-4a93-b195-5410396ef0a0","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T14:00:07.089589Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.519792ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c137fd10-844e-4f8e-a1d0-81a227912373
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4397d484-905d-4744-a995-d137a28948a2","container_runtime":"containerd","created_at":"2025-09-30T14:00:07.089589Z","id":"c137fd10-844e-4f8e-a1d0-81a227912373","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"9c112286-dc28-4a93-b195-5410396ef0a0","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T14:00:07.089589Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.894792ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4397d484-905d-4744-a995-d137a28948a2/nodes?order_by=created_at_asc&page=1&pool_id=c137fd10-844e-4f8e-a1d0-81a227912373&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4397d484-905d-4744-a995-d137a28948a2","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T14:03:13.320895Z","error_message":"","id":"3ed8ca9b-65f7-4e13-b35c-074838bf0c82","name":"scw-tf-cluster-basic-default-3ed8ca9b65f74e13b","pool_id":"c137fd10-844e-4f8e-a1d0-81a227912373","provider_id":"scaleway://instance/fr-par-1/54da6d5f-8e0d-49e9-94a3-f27092bd5e86","public_ip_v4":"163.172.166.45","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T14:04:23.324582Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.755334ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&resource_name=scw-tf-cluster-basic-default-3ed8ca9b65f74e13b&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd49:821a:a311:f60c:f674:8100:793d:5f42/64","created_at":"2025-09-30T14:03:16.871758Z","id":"e0d007ae-26b1-40ec-a179-b54960b6115c","is_ipv6":true,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":{"id":"5ddc18c0-c06f-4003-b0de-f618de0debbe","mac_address":"02:00:00:11:04:29","name":"scw-tf-cluster-basic-default-3ed8ca9b65f74e13b","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"c944be7e-e197-456e-9388-7c4578610753"},"tags":[],"updated_at":"2025-09-30T14:03:16.871758Z","zone":null},{"address":"172.16.4.3/22","created_at":"2025-09-30T14:03:16.751366Z","id":"fba25b56-f503-4e35-a92c-e4b543aab8f4","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":{"id":"5ddc18c0-c06f-4003-b0de-f618de0debbe","mac_address":"02:00:00:11:04:29","name":"scw-tf-cluster-basic-default-3ed8ca9b65f74e13b","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"8f670988-395d-4476-9b26-633a24b5b42e"},"tags":[],"updated_at":"2025-09-30T14:03:16.751366Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.588208ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c137fd10-844e-4f8e-a1d0-81a227912373
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"c137fd10-844e-4f8e-a1d0-81a227912373","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.572042ms
    - id: 149
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4397d484-905d-4744-a995-d137a28948a2?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
