---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-data-source-cluster","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-15T01:01:23.287776Z","dhcp_enabled":true,"id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1","name":"test-data-source-cluster","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T01:01:23.287776Z","id":"6dbb985a-a15c-452e-bd69-f977e6514117","private_network_id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-15T01:01:23.287776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T01:01:23.287776Z","id":"bda4357b-f560-4664-b20e-6ced19ecbfb5","private_network_id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:929d::/64","updated_at":"2025-05-15T01:01:23.287776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T01:01:23.287776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 666.07994ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ac54e6e7-5e4e-430c-ad83-87c082ab38d1
        method: GET
      response:
        body: '{"created_at":"2025-05-15T01:01:23.287776Z","dhcp_enabled":true,"id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1","name":"test-data-source-cluster","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T01:01:23.287776Z","id":"6dbb985a-a15c-452e-bd69-f977e6514117","private_network_id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-15T01:01:23.287776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T01:01:23.287776Z","id":"bda4357b-f560-4664-b20e-6ced19ecbfb5","private_network_id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:929d::/64","updated_at":"2025-05-15T01:01:23.287776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T01:01:23.287776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.446288ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"tf-cluster-basic","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4a275b34-ba15-4e7a-8acb-d71bd0953155.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-15T01:01:24.233256Z","created_at":"2025-05-15T01:01:24.233245Z","description":"","dns_wildcard":"*.4a275b34-ba15-4e7a-8acb-d71bd0953155.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"4a275b34-ba15-4e7a-8acb-d71bd0953155","name":"tf-cluster-basic","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"ac54e6e7-5e4e-430c-ad83-87c082ab38d1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2025-05-15T01:01:24.233246Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 668.309088ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a275b34-ba15-4e7a-8acb-d71bd0953155
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a275b34-ba15-4e7a-8acb-d71bd0953155/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.108355ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a275b34-ba15-4e7a-8acb-d71bd0953155/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItYmFzaWMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFVlhoT1JFRjRUVVJGZVU1V2IxaEVWRTB4VFVSVmVFNUVRWGhOUkVWNVRsWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster-basic&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"clusters":[{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"default","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a275b34-ba15-4e7a-8acb-d71bd0953155/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4a275b34-ba15-4e7a-8acb-d71bd0953155","container_runtime":"containerd","created_at":"2025-05-15T01:01:30.494128Z","id":"8a3d46a5-2573-4410-a347-b0c8d56f832f","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-15T01:01:30.494128Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.341772ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8a3d46a5-2573-4410-a347-b0c8d56f832f
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4a275b34-ba15-4e7a-8acb-d71bd0953155","container_runtime":"containerd","created_at":"2025-05-15T01:01:30.494128Z","id":"8a3d46a5-2573-4410-a347-b0c8d56f832f","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-15T01:01:30.494128Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.80561ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a275b34-ba15-4e7a-8acb-d71bd0953155/nodes?order_by=created_at_asc&page=1&pool_id=8a3d46a5-2573-4410-a347-b0c8d56f832f&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4a275b34-ba15-4e7a-8acb-d71bd0953155","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T01:04:38.097002Z","error_message":"","id":"ac1d3e0d-dd45-4118-a4db-d55ec3938d54","name":"scw-tf-cluster-basic-default-ac1d3e0ddd454118a","pool_id":"8a3d46a5-2573-4410-a347-b0c8d56f832f","provider_id":"scaleway://instance/fr-par-1/ffa07cbb-3c44-474c-bf39-26df5408a22a","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T01:08:24.361324Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 609.581793ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-tf-cluster-basic-default-ac1d3e0ddd454118a&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:929d:ea9:75ae:d1d7:5dfb/64","created_at":"2025-05-15T01:04:42.167757Z","id":"8dc02949-47c8-4534-963a-c1fd8c90beac","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"32a5f318-6d11-4d81-8f94-70f44a46b56f","mac_address":"02:00:00:1C:64:C2","name":"scw-tf-cluster-basic-default-ac1d3e0ddd454118a","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"bda4357b-f560-4664-b20e-6ced19ecbfb5"},"tags":[],"updated_at":"2025-05-15T01:04:42.167757Z","zone":null},{"address":"172.16.4.3/22","created_at":"2025-05-15T01:04:41.738507Z","id":"038b5b81-59ba-4bf8-8aaf-37b62704b29a","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"32a5f318-6d11-4d81-8f94-70f44a46b56f","mac_address":"02:00:00:1C:64:C2","name":"scw-tf-cluster-basic-default-ac1d3e0ddd454118a","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"6dbb985a-a15c-452e-bd69-f977e6514117"},"tags":[],"updated_at":"2025-05-15T01:04:41.738507Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.937244ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8a3d46a5-2573-4410-a347-b0c8d56f832f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"8a3d46a5-2573-4410-a347-b0c8d56f832f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.110421ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a275b34-ba15-4e7a-8acb-d71bd0953155?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
