---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:08:37.177052Z","dhcp_enabled":true,"id":"b57c5470-1b7f-475b-9277-8c29df3a27e9","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:08:37.177052Z","id":"ed67a10f-adc1-4b1a-99f2-aec76442e1f3","private_network_id":"b57c5470-1b7f-475b-9277-8c29df3a27e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.16.0/22","updated_at":"2025-05-05T18:08:37.177052Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:08:37.177052Z","id":"7ace3fe8-7a25-4951-b26f-7352a58e20fc","private_network_id":"b57c5470-1b7f-475b-9277-8c29df3a27e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b02c::/64","updated_at":"2025-05-05T18:08:37.177052Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:08:37.177052Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.329082034s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b57c5470-1b7f-475b-9277-8c29df3a27e9
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:08:37.177052Z","dhcp_enabled":true,"id":"b57c5470-1b7f-475b-9277-8c29df3a27e9","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:08:37.177052Z","id":"ed67a10f-adc1-4b1a-99f2-aec76442e1f3","private_network_id":"b57c5470-1b7f-475b-9277-8c29df3a27e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.16.0/22","updated_at":"2025-05-05T18:08:37.177052Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:08:37.177052Z","id":"7ace3fe8-7a25-4951-b26f-7352a58e20fc","private_network_id":"b57c5470-1b7f-475b-9277-8c29df3a27e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b02c::/64","updated_at":"2025-05-05T18:08:37.177052Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:08:37.177052Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.476836ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"b57c5470-1b7f-475b-9277-8c29df3a27e9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://064a5448-52aa-45fe-b47c-23d545fa77c1.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-05T18:08:38.715702Z","created_at":"2025-05-05T18:08:38.715691Z","description":"","dns_wildcard":"*.064a5448-52aa-45fe-b47c-23d545fa77c1.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"064a5448-52aa-45fe-b47c-23d545fa77c1","name":"test-pool-zone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"b57c5470-1b7f-475b-9277-8c29df3a27e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2025-05-05T18:08:38.715691Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 437.008315ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/064a5448-52aa-45fe-b47c-23d545fa77c1
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/064a5448-52aa-45fe-b47c-23d545fa77c1/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.310943ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/064a5448-52aa-45fe-b47c-23d545fa77c1/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYZE9SRVUwVFVSbmVrOVdiMWhFVkUweFRVUlZkMDVFUlRSTlJHZDZUMVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/064a5448-52aa-45fe-b47c-23d545fa77c1/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"064a5448-52aa-45fe-b47c-23d545fa77c1","container_runtime":"containerd","created_at":"2025-05-05T18:08:44.426393Z","id":"eccd8410-b7a9-4edc-b897-66847376765c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2025-05-05T18:08:44.426393Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.683962ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/eccd8410-b7a9-4edc-b897-66847376765c
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"064a5448-52aa-45fe-b47c-23d545fa77c1","container_runtime":"containerd","created_at":"2025-05-05T18:08:44.426393Z","id":"eccd8410-b7a9-4edc-b897-66847376765c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2025-05-05T18:08:44.426393Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.305148ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/064a5448-52aa-45fe-b47c-23d545fa77c1/nodes?order_by=created_at_asc&page=1&pool_id=eccd8410-b7a9-4edc-b897-66847376765c&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"064a5448-52aa-45fe-b47c-23d545fa77c1","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:11:50.388290Z","error_message":"","id":"30e5e955-0798-4d56-8a9e-3dcf1e1d17e3","name":"scw-test-pool-zone-test-pool-zone-30e5e9550798","pool_id":"eccd8410-b7a9-4edc-b897-66847376765c","provider_id":"scaleway://instance/fr-par-2/dbcf590f-cac1-419d-88a6-6ede6d61e928","public_ip_v4":"51.159.188.208","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:14:16.503022Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.502968ms
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-zone-test-pool-zone-30e5e9550798&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:b02c:c8b7:93e9:962:f253/64","created_at":"2025-05-05T18:11:55.486599Z","id":"04e8c93e-8749-425a-aae1-4e0eacd68986","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"5d437e16-7a0b-4505-a8aa-d71402065cf2","mac_address":"02:00:00:21:BD:80","name":"scw-test-pool-zone-test-pool-zone-30e5e9550798","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"7ace3fe8-7a25-4951-b26f-7352a58e20fc"},"tags":[],"updated_at":"2025-05-05T18:11:55.486599Z","zone":null},{"address":"172.16.16.3/22","created_at":"2025-05-05T18:11:55.157653Z","id":"df3aede6-fd19-4a5d-88d9-2f349f66ce57","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"5d437e16-7a0b-4505-a8aa-d71402065cf2","mac_address":"02:00:00:21:BD:80","name":"scw-test-pool-zone-test-pool-zone-30e5e9550798","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"ed67a10f-adc1-4b1a-99f2-aec76442e1f3"},"tags":[],"updated_at":"2025-05-05T18:11:55.157653Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.331736ms
[...]
    - id: 143
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/eccd8410-b7a9-4edc-b897-66847376765c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"eccd8410-b7a9-4edc-b897-66847376765c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.292009ms
    - id: 144
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/064a5448-52aa-45fe-b47c-23d545fa77c1?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
