---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:09:13.532089Z","dhcp_enabled":true,"id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:09:13.532089Z","id":"9b209897-3b0f-4b24-b6a9-45db480e36bd","private_network_id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-05T18:09:13.532089Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:09:13.532089Z","id":"ed8847c0-45be-4830-8d5d-62d38ca1c11e","private_network_id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:fea4::/64","updated_at":"2025-05-05T18:09:13.532089Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:09:13.532089Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 894.644271ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a477ccdf-9e5d-48d7-a369-64fcd8c58594
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:09:13.532089Z","dhcp_enabled":true,"id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:09:13.532089Z","id":"9b209897-3b0f-4b24-b6a9-45db480e36bd","private_network_id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-05T18:09:13.532089Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:09:13.532089Z","id":"ed8847c0-45be-4830-8d5d-62d38ca1c11e","private_network_id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:fea4::/64","updated_at":"2025-05-05T18:09:13.532089Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:09:13.532089Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.963726ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://f9c951a4-7209-466a-9058-a85ddf386038.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-05T18:09:14.535365Z","created_at":"2025-05-05T18:09:14.535349Z","description":"","dns_wildcard":"*.f9c951a4-7209-466a-9058-a85ddf386038.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"f9c951a4-7209-466a-9058-a85ddf386038","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"a477ccdf-9e5d-48d7-a369-64fcd8c58594","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2025-05-05T18:09:14.535349Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.255128ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f9c951a4-7209-466a-9058-a85ddf386038
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f9c951a4-7209-466a-9058-a85ddf386038/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.895755ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f9c951a4-7209-466a-9058-a85ddf386038/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGRPUkVVMFRVUnJlRTVzYjFoRVZFMHhUVVJWZDA1RVJUUk5SR3Q0VG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f9c951a4-7209-466a-9058-a85ddf386038/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"f9c951a4-7209-466a-9058-a85ddf386038","container_runtime":"containerd","created_at":"2025-05-05T18:09:20.094732Z","id":"8184e3a0-11cb-4b1a-994a-4805ad85a82e","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-05-05T18:09:20.094732Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.651255ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8184e3a0-11cb-4b1a-994a-4805ad85a82e
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"f9c951a4-7209-466a-9058-a85ddf386038","container_runtime":"containerd","created_at":"2025-05-05T18:09:20.094732Z","id":"8184e3a0-11cb-4b1a-994a-4805ad85a82e","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-05-05T18:09:20.094732Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.595762ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f9c951a4-7209-466a-9058-a85ddf386038/nodes?order_by=created_at_asc&page=1&pool_id=8184e3a0-11cb-4b1a-994a-4805ad85a82e&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"f9c951a4-7209-466a-9058-a85ddf386038","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:10:50.591030Z","error_message":"","id":"d0fd9536-3d62-46f9-b3a7-e4017691ab82","name":"scw-test-pool-upgrade-test-pool-upgrade-d0fd95","pool_id":"8184e3a0-11cb-4b1a-994a-4805ad85a82e","provider_id":"scaleway://instance/fr-par-1/bb105312-ff45-441f-8c0d-d78596555693","public_ip_v4":"163.172.178.192","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:13:40.280006Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.026586ms
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-upgrade-test-pool-upgrade-d0fd95&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:fea4:b2fe:9a10:46a9:acc3/64","created_at":"2025-05-05T18:10:54.535082Z","id":"d1899e30-f6b4-44d5-87ab-87653e267055","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"23f5c14f-e4d1-4d03-8d97-4d9140d11fa2","mac_address":"02:00:00:16:D9:26","name":"scw-test-pool-upgrade-test-pool-upgrade-d0fd95","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"ed8847c0-45be-4830-8d5d-62d38ca1c11e"},"tags":[],"updated_at":"2025-05-05T18:10:54.535082Z","zone":null},{"address":"172.16.20.3/22","created_at":"2025-05-05T18:10:54.232579Z","id":"20232d9a-7947-4bab-a629-89a0712dbf3f","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"23f5c14f-e4d1-4d03-8d97-4d9140d11fa2","mac_address":"02:00:00:16:D9:26","name":"scw-test-pool-upgrade-test-pool-upgrade-d0fd95","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"9b209897-3b0f-4b24-b6a9-45db480e36bd"},"tags":[],"updated_at":"2025-05-05T18:10:54.232579Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.340546ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8184e3a0-11cb-4b1a-994a-4805ad85a82e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"8184e3a0-11cb-4b1a-994a-4805ad85a82e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.979878ms
    - id: 149
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f9c951a4-7209-466a-9058-a85ddf386038?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
