---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par","name":"1.35.0","label":"Kubernetes 1.35.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-01-19T00:00:00Z","end_of_life_at":"2027-03-19T00:00:00Z","released_at":"2026-01-19T00:00:00Z"},{"region":"fr-par","name":"1.34.3","label":"Kubernetes 1.34.3","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantit[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-tender-wilbur","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad","name":"tf-vpc-tender-wilbur","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:36:03.488510Z","updated_at":"2026-01-29T16:36:03.488510Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.246208ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/54cd177b-d51b-4eff-b2f0-336dd3f426ad
        method: GET
      response:
        body: '{"id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad","name":"tf-vpc-tender-wilbur","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:36:03.488510Z","updated_at":"2026-01-29T16:36:03.488510Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.186042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911","name":"test-pool-minimal","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:36:03.974533Z","updated_at":"2026-01-29T16:36:03.974533Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"8760de28-4cb7-43c7-801d-373901f545a9","created_at":"2026-01-29T16:36:03.974533Z","updated_at":"2026-01-29T16:36:03.974533Z","subnet":"172.17.88.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911","vpc_id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad"},{"id":"7318d640-cfa0-48da-8e40-c16772f9d0c2","created_at":"2026-01-29T16:36:03.974533Z","updated_at":"2026-01-29T16:36:03.974533Z","subnet":"fd5f:519c:6d46:ec4c::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911","vpc_id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad"}],"vpc_id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 745.295167ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0ab4d4d6-5d6e-47ef-8394-acdadd31e911
        method: GET
      response:
        body: '{"id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911","name":"test-pool-minimal","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:36:03.974533Z","updated_at":"2026-01-29T16:36:03.974533Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"8760de28-4cb7-43c7-801d-373901f545a9","created_at":"2026-01-29T16:36:03.974533Z","updated_at":"2026-01-29T16:36:03.974533Z","subnet":"172.17.88.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911","vpc_id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad"},{"id":"7318d640-cfa0-48da-8e40-c16772f9d0c2","created_at":"2026-01-29T16:36:03.974533Z","updated_at":"2026-01-29T16:36:03.974533Z","subnet":"fd5f:519c:6d46:ec4c::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911","vpc_id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad"}],"vpc_id":"54cd177b-d51b-4eff-b2f0-336dd3f426ad","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.06675ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.35.0","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par","id":"d3b82400-e284-4c22-862a-ce2f8399176e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:36:05.457784Z","updated_at":"2026-01-29T16:36:05.457784Z","type":"kapsule","name":"test-pool-minimal","description":"","status":"creating","version":"1.35.0","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://d3b82400-e284-4c22-862a-ce2f8399176e.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d3b82400-e284-4c22-862a-ce2f8399176e.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"0ab4d4d6-5d6e-47ef-8394-acdadd31e911","commitment_ends_at":"2026-01-29T16:36:05.457792Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.307513333s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e
        method: GET
      response:
        body: '{"region":"fr-par","id":"d3b82400-e284-4c22-862a-ce2f8399176e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:36:05.457784Z","updated_at":"2026-01-29T16:36:05.854833Z","type":"ka[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.352ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhha05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3lUVVJGZVU5RVJUSk5lbGwzVGxadldFUlVUVEpOUkVWNVQwUkZNazE2V1hkT1ZtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDU20[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e/pools
        method: POST
      response:
        body: '{"region":"fr-par","id":"d230793a-c334-4f86-89e5-5f5237b160e2","cluster_id":"d3b82400-e284-4c22-862a-ce2f8399176e","created_at":"2026-01-29T16:36:12.033440Z","updated_at":"2026-01-29T16:36:12.033440Z","name":"test-pool-minimal","status":"scaling","version":"1.35.0","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"sbs_5k","root_volume_size":20000000000,"public_ip_disabled":false,"security_group_id":"040288eb-a7e7-42b4-9756-80e196b43a2c","labels":{},"taints":[],"startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.596208ms
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d230793a-c334-4f86-89e5-5f5237b160e2
        method: GET
      response:
        body: '{"region":"fr-par","id":"d230793a-c334-4f86-89e5-5f5237b160e2","cluster_id":"d3b82400-e284-4c22-862a-ce2f8399176e","created_at":"2026-01-29T16:36:12.033440Z","updated_at":"2026-01-29T16:36:12.033440Z","name":"test-pool-minimal","status":"scaling","version":"1.35.0","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"sbs_5k","root_volume_size":20000000000,"public_ip_disabled":false,"security_group_id":"040288eb-a7e7-42b4-9756-80e196b43a2c","labels":{},"taints":[],"startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.291042ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            pool_id:
                - d230793a-c334-4f86-89e5-5f5237b160e2
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e/nodes?order_by=created_at_asc&page=1&pool_id=d230793a-c334-4f86-89e5-5f5237b160e2&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"01870108-1112-499a-b9c0-d06b45a0e4af","cluster_id":"d3b82400-e284-4c22-862a-ce2f8399176e","created_at":"2026-01-29T16:37:37.134340Z","updated_at":"2026-01-29T16:38:22.213757Z","pool_id":"d230793a-c334-4f86-89e5-5f5237b160e2","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-test-pool-minimal-test-pool-minimal-018701","public_ip_v4":"51.158.97.50","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/351411b7-4677-45c0-8cae-ef244936eaaa","error_message":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.453083ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            resource_name:
                - scw-test-pool-minimal-test-pool-minimal-018701
            resource_type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-minimal-test-pool-minimal-018701&resource_type=unknown_type
        method: GET
      response:
        body: '{"total_count":2,"ips":[{"id":"cb2063de-c269-4ea2-824d-48123ef8e6f9","address":"fd5f:519c:6d46:ec4c:9dd9:eb9d:5806:7f69/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":true,"created_at":"2026-01-29T16:37:40.370617Z","updated_at":"2026-01-29T16:37:40.370617Z","source":{"subnet_id":"7318d640-cfa0-48da-8e40-c16772f9d0c2"},"resource":{"type":"instance_private_nic","id":"68774b01-47a1-41a5-b7a9-5380c7227e37","mac_address":"02:00:00:14:AE:DD","name":"scw-test-pool-minimal-test-pool-minimal-018701"},"tags":[],"reverses":[],"region":"fr-par","zone":null},{"id":"859096ac-aa72-4f27-b896-3eebbb09304c","address":"172.17.88.3/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false,"created_at":"2026-01-29T16:37:40.265625Z","updated_at":"2026-01-29T16:37:40.265625Z","source":{"subnet_id":"8760de28-4cb7-43c7-801d-373901f545a9"},"resource":{"type":"instance_private_nic","id":"68774b01-47a1-41a5-b7a9-5380c7227e37","mac_address":"02:00:00:14:AE:DD","name":"scw-test-pool-minimal-test-pool-minimal-018701"},"tags":[],"reverses":[],"region":"fr-par","zone":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.67825ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            pool_id:
                - d230793a-c334-4f86-89e5-5f5237b160e2
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e/nodes?order_by=created_at_asc&pool_id=d230793a-c334-4f86-89e5-5f5237b160e2&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"01870108-1112-499a-b9c0-d06b45a0e4af","cluster_id":"d3b82400-e284-4c22-862a-ce2f8399176e","created_at":"2026-01-29T16:37:37.134340Z","updated_at":"2026-01-29T16:38:22.213757Z","pool_id":"d230793a-c334-4f86-89e5-5f5237b160e2","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-test-pool-minimal-test-pool-minimal-018701","public_ip_v4":"51.158.97.50","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/351411b7-4677-45c0-8cae-ef244936eaaa","error_message":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.852833ms
    - id: 48
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/351411b7-4677-45c0-8cae-ef244936eaaa
        method: GET
      response:
        body: '{"server": {"id": "351411b7-4677-45c0-8cae-ef244936eaaa", "name": "scw-test-pool-minimal-test-pool-minimal-018701", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "hostname": "scw-test-pool-minimal-test-pool-minimal-018701", "image": {"id": "26ed5fcc-53e8-415b-807d-f4a284d55d87", "name": "k8s_base_node_instance", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "eb7e3383-7b15-4189-b284-a2bba45cb2b5", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-01-07T13:09:03.361333+00:00", "modification_date": "2026-01-07T13:09:03.361333+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": true, "volume_type": "sbs_volume", "id": "3565a99e-9aab-4a1c-858a-c6a35efb1fb7", "state": "available", "zone": "fr-par-1"}}, "tags": ["kapsule=d3b82400-e284-4c22-862a-ce2f8399176e", "pool=d230793a-c334-4f86-89e5-5f5237b160e2", "pool-name=test-pool-minimal", "runtime=containerd", "managed=true", "terraform-test", "scaleway_k8s_cluster", "default", "node=01870108-1112-499a-b9c0-d06b45a0e4af"], "state": "running", "protected": false, "state_detail": "booting kernel", "public_ip": {"id": "ea40d5d5-ff55-4e66-965a-2b2f32c21928", "address": "51.158.97.50", "dynamic": false, "gateway": "62.210.0.1", "netmask": "32", "family": "inet", "provisioning_mode": "dhcp", "tags": ["kapsule=d3b82400-e284-4c22-862a-ce2f8399176e", "node-name=scw-test-pool-minimal-test-pool-minimal-018701"], "state": "attached", "ipam_id": "ea40d5d5-ff55-4e66-965a-2b2f32c21928"}, "public_ips": [{"id": "ea40d5d5-ff55-4e66-965a-2b2f32c21928", "address": "51.158.97.50", "dynamic": false, "gateway": "62.210.0.1", "netmask": "32", "family": "inet", "provisioning_mode": "dhcp", "tags": ["kapsule=d3b82400-e284-4c22-862a-ce2f8399176e", "node-name=scw-test-pool-minimal-test-pool-minimal-018701"], "state": "attached", "ipam_id": "ea40d5d5-ff55-4e66-965a-2b2f32c21928"}, {"id": "25ad55d2-813a-481d-bc8f-fb80c3cc6c1a", "address": "2001:bc8:710:a9cf:dc00:ff:feea:c87d", "dynamic": false, "gateway": "fe80::dc00:ff:feea:c87e", "netmask": "64", "family": "inet6", "provisioning_mode": "slaac", "tags": ["kapsule=d3b82400-e284-4c22-862a-ce2f8399176e", "node-name=scw-test-pool-minimal-test-pool-minimal-018701"], "state": "attached", "ipam_id": "25ad55d2-813a-481d-bc8f-fb80c3cc6c1a"}], "mac_address": "de:00:00:ea:c8:7d", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-01-29T16:37:38.156699+00:00", "modification_date": "2026-01-29T16:37:43.393943+00:00", "bootscript": null, "security_group": {"id": "040288eb-a7e7-42b4-9756-80e196b43a2c", "name": "Kapsule default security group"}, "location": {"zone_id": "fr-par-1", "platform_id": "14", "cluster_id": "59", "hypervisor_id": "401", "node_id": "26"}, "maintenances": [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place", "backup"], "placement_group": null, "private_nics": [{"id": "68774b01-47a1-41a5-b7a9-5380c7227e37", "private_network_id": "0ab4d4d6-5d6e-47ef-8394-acdadd31e911", "server_id": "351411b7-4677-45c0-8cae-ef244936eaaa", "mac_address": "02:00:00:14:ae:dd", "state": "available", "creation_date": "2026-01-29T16:37:40.076641+00:00", "modification_date": "2026-01-29T16:37:40.176659+00:00", "zone": "fr-par-1", "tags": [], "ipam_ip_ids": ["859096ac-aa72-4f27-b896-3eebbb09304c", "cb2063de-c269-4ea2-824d-48123ef8e6f9"]}], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "351411b7-4677-45c0-8cae-ef244936eaaa.pub.instances.scw.cloud"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.376542ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            resource_name:
                - scw-test-pool-minima-test-pool-minimal--753fa7
            resource_type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-[...]
[...]
    - id: 84
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            pool_id:
                - d230793a-c334-4f86-89e5-5f5237b160e2
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e/nodes?order_by=created_at_asc&pool_id=d230793a-c334-4f86-89e5-5f5237b160e2&status=unknown
        method: GET
      response:
        body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"01870108-1112-499a-b9c0-d06b45a0e4af","cluster_id":"d3b82400-e284-4c22-862a-ce2f8399176e","created_at":"2026-01-29T16:37:37.134340Z","updated_at":"2026-01-29T16:39:10.856054Z","pool_id":"d230793a-c334-4f86-89e5-5f5237b160e2","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"name":"scw-test-pool-minimal-test-pool-minimal-018701","public_ip_v4":"51.158.97.50","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/351411b7-4677-45c0-8cae-ef244936eaaa","error_message":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.415083ms
[...]
    - id: 118
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/79f32ab2-8e91-43f1-acf5-f3547efea8a2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"79f32ab2-8e91-43f1-acf5-f3547efea8a2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.3885ms
[...]
    - id: 142
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b82400-e284-4c22-862a-ce2f8399176e?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par","id":"d3b82400-e284-4c22-862a-ce2f8399176e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-01-29T16:36:05.457784Z","updated_at":"2026-01-29T16:41:48.795157Z","type"[...]
[...]
