---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"0af13627-6550-4ae6-82b3-d576c5076ee8","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/0af13627-6550-4ae6-82b3-d576c5076ee8
        status: 201 Created
        code: 201
        duration: 378.265208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/0af13627-6550-4ae6-82b3-d576c5076ee8
        method: GET
      response:
        body: '{"placement_group":{"id":"0af13627-6550-4ae6-82b3-d576c5076ee8","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 425.23505ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-14T21:17:48.453208Z","dhcp_enabled":true,"id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.453208Z","id":"6d424f9e-cb02-4d0d-a69d-41f567b8c424","private_network_id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.36.0/22","updated_at":"2025-05-14T21:17:48.453208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.453208Z","id":"3b05a298-b81d-4f1b-a8be-7b609cb67f16","private_network_id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:bd9f::/64","updated_at":"2025-05-14T21:17:48.453208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.453208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.142083092s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c89df270-cf7f-4a17-bfd0-3d96ed31412b
        method: GET
      response:
        body: '{"created_at":"2025-05-14T21:17:48.453208Z","dhcp_enabled":true,"id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.453208Z","id":"6d424f9e-cb02-4d0d-a69d-41f567b8c424","private_network_id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.36.0/22","updated_at":"2025-05-14T21:17:48.453208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.453208Z","id":"3b05a298-b81d-4f1b-a8be-7b609cb67f16","private_network_id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:bd9f::/64","updated_at":"2025-05-14T21:17:48.453208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.453208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.265743ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://621e01a2-0a33-4314-98e1-5a0b9af4af47.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-05-14T21:17:49.287890Z","created_at":"2025-05-14T21:17:49.287881Z","description":"","dns_wildcard":"*.621e01a2-0a33-4314-98e1-5a0b9af4af47.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"621e01a2-0a33-4314-98e1-5a0b9af4af47","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"c89df270-cf7f-4a17-bfd0-3d96ed31412b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2025-05-14T21:17:49.287881Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.070704ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/621e01a2-0a33-4314-98e1-5a0b9af4af47
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/621e01a2-0a33-4314-98e1-5a0b9af4af47/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.017849ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/621e01a2-0a33-4314-98e1-5a0b9af4af47/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFVlhoTmVrbDRUVlJqTVUxR2IxaEVWRTB4VFVSVmVFMTZTWGhOVkdNeFRVWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"0af13627-6550-4ae6-82b3-d576c5076ee8","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/621e01a2-0a33-4314-98e1-5a0b9af4af47/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"621e01a2-0a33-4314-98e1-5a0b9af4af47","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.242167Z","id":"7330454a-b2e8-4553-9daa-26eff0210f0d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"0af13627-6550-4ae6-82b3-d576c5076ee8","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:17:55.242167Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.707078ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7330454a-b2e8-4553-9daa-26eff0210f0d
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"621e01a2-0a33-4314-98e1-5a0b9af4af47","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.242167Z","id":"7330454a-b2e8-4553-9daa-26eff0210f0d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"0af13627-6550-4ae6-82b3-d576c5076ee8","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:17:55.242167Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 609.230168ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/621e01a2-0a33-4314-98e1-5a0b9af4af47/nodes?order_by=created_at_asc&page=1&pool_id=7330454a-b2e8-4553-9daa-26eff0210f0d&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"621e01a2-0a33-4314-98e1-5a0b9af4af47","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T21:21:04.933198Z","error_message":"","id":"43df7977-0520-40e1-99a2-ce691000f93d","name":"scw-test-pool-placeme-test-pool-placeme-43df79","pool_id":"7330454a-b2e8-4553-9daa-26eff0210f0d","provider_id":"scaleway://instance/fr-par-1/dbaf349e-d13d-4b07-861f-58cb2aacd0f1","public_ip_v4":"51.15.128.91","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T21:23:21.633641Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.576169ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-placeme-test-pool-placeme-43df79&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:bd9f:69:1d7e:177b:2055/64","created_at":"2025-05-14T21:21:09.343142Z","id":"42c8fa82-0e92-47c7-979f-2979f6db51cc","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"77d81ed0-2dab-4e79-b00f-bb1070413f87","mac_address":"02:00:00:1A:42:3E","name":"scw-test-pool-placeme-test-pool-placeme-43df79","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"3b05a298-b81d-4f1b-a8be-7b609cb67f16"},"tags":[],"updated_at":"2025-05-14T21:21:09.343142Z","zone":null},{"address":"172.16.36.3/22","created_at":"2025-05-14T21:21:08.950146Z","id":"9f1887d7-ac9f-4141-b832-37a56fab233c","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"77d81ed0-2dab-4e79-b00f-bb1070413f87","mac_address":"02:00:00:1A:42:3E","name":"scw-test-pool-placeme-test-pool-placeme-43df79","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"6d424f9e-cb02-4d0d-a69d-41f567b8c424"},"tags":[],"updated_at":"2025-05-14T21:21:08.950146Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.147908ms
[...]
    - id: 149
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7330454a-b2e8-4553-9daa-26eff0210f0d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"7330454a-b2e8-4553-9daa-26eff0210f0d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.154107ms
[...]
    - id: 151
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"cb4b8578-e568-49cb-aa27-b70881d3ec8c","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/cb4b8578-e568-49cb-aa27-b70881d3ec8c
        status: 201 Created
        code: 201
        duration: 364.081842ms
    - id: 152
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/621e01a2-0a33-4314-98e1-5a0b9af4af47?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 154
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/cb4b8578-e568-49cb-aa27-b70881d3ec8c
        method: GET
      response:
        body: '{"placement_group":{"id":"cb4b8578-e568-49cb-aa27-b70881d3ec8c","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.521956ms
[...]
    - id: 162
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-14T21:28:28.983768Z","dhcp_enabled":true,"id":"99712971-9d0f-45[...]
    - id: 163
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/99712971-9d0f-4570-9735-f28615d486b4
        method: GET
      response:
        body: '{"created_at":"2025-05-14T21:28:28.983768Z","dhcp_enabled":true,"id":"99712971-9d0f-4570-9735-f28615d486b4","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2025-05-14T21:28:28.983768Z","id":"26b12c71-d4a0-43f7-9767-8c71502390f1","private_network_id":"99712971-9d0f-4570-9735-f28615d486b4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-14T21:28:28.983768Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"},{"created_at":"2025-05-14T21:28:28.983768Z","id":"23820ee6-6ca7-417d-8b69-745737271d01","private_network_id":"99712971-9d0f-4570-9735-f28615d486b4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd68:d440:21c4:80c0::/64","updated_at":"2025-05-14T21:28:28.983768Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}],"tags":[],"updated_at":"2025-05-14T21:28:28.983768Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.716397ms
    - id: 164
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 165
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/bc1fe189-3030-4a9d-8e9a-d174c34297cc
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpackin[...]
[...]
    - id: 167
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/bc1fe189-3030-4a9d-8e9a-d174c34297cc/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.394534ms
[...]
    - id: 169
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/bc1fe189-3030-4a9d-8e9a-d174c34297cc/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 171
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"cb4b8578-e568-49cb-aa27-b70881d3ec8c","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/bc1fe189-3030-4a9d-8e9a-d174c34297cc/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"bc1fe189-3030-4a9d-8e9a-d174c34297cc","container_runtime":"containerd","created_at":"2025-05-14T21:28:37.253321Z","id":"63105eb1-e845-4eec-a860-e6dd7e0dda93","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"cb4b8578-e568-49cb-aa27-b70881d3ec8c","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:28:37.253321Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 825.257918ms
    - id: 172
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/63105eb1-e845-4eec-a860-e6dd7e0dda93
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"bc1fe189-3030-4a9d-8e9a-d174c34297cc","container_runtime":"containerd","created_at":"2025-05-14T21:28:37.253321Z","id":"63105eb1-e845-4eec-a860-e6dd7e0dda93","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"cb4b8578-e568-49cb-aa27-b70881d3ec8c","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:28:37.253321Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 610.067482ms
[...]
    - id: 237
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/bc1fe189-3030-4a9d-8e9a-d174c34297cc/nodes?order_by=created_at_asc&page=1&pool_id=63105eb1-e845-4eec-a860-e6dd7e0dda93&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"bc1fe189-3030-4a9d-8e9a-d174c34297cc","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T21:30:41.303146Z","error_message":"","id":"8bba697b-7076-4aa9-a873-fdf1ad587ea5","name":"scw-test-pool-placeme-test-pool-placeme-8bba69","pool_id":"63105eb1-e845-4eec-a860-e6dd7e0dda93","provider_id":"scaleway://instance/nl-ams-2/12aad953-eb96-468b-919b-3712c3ac3758","public_ip_v4":"51.158.236.112","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2025-05-14T21:34:05.772192Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.330899652s
[...]
    - id: 239
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-placeme-test-pool-placeme-8bba69&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd68:d440:21c4:80c0:784c:c43b:ca1b:547b/64","created_at":"2025-05-14T21:30:45.561878Z","id":[...]
[...]
    - id: 254
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/bc1fe189-3030-4a9d-8e9a-d174c34297cc/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_etcd_size":55000000,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.735115ms
[...]
    - id: 313
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/bc1fe189-3030-4a9d-8e9a-d174c34297cc?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
