---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:18:35.898171Z","dhcp_enabled":true,"id":"c781c943-c632-4c99-8335-b71d7dbd5570","name":"test-pool-wait","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:18:35.898171Z","id":"0877de6a-0bdc-4813-8f9f-94b81e782c61","private_network_id":"c781c943-c632-4c99-8335-b71d7dbd5570","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.120.0/22","updated_at":"2024-10-03T18:18:35.898171Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:18:35.898171Z","id":"d1c0ab20-586e-40a5-a294-4743f472ab39","private_network_id":"c781c943-c632-4c99-8335-b71d7dbd5570","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:d9ac::/64","updated_at":"2024-10-03T18:18:35.898171Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:18:35.898171Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 728.44142ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c781c943-c632-4c99-8335-b71d7dbd5570
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:18:35.898171Z","dhcp_enabled":true,"id":"c781c943-c632-4c99-8335-b71d7dbd5570","name":"test-pool-wait","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:18:35.898171Z","id":"0877de6a-0bdc-4813-8f9f-94b81e782c61","private_network_id":"c781c943-c632-4c99-8335-b71d7dbd5570","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.120.0/22","updated_at":"2024-10-03T18:18:35.898171Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:18:35.898171Z","id":"d1c0ab20-586e-40a5-a294-4743f472ab39","private_network_id":"c781c943-c632-4c99-8335-b71d7dbd5570","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:d9ac::/64","updated_at":"2024-10-03T18:18:35.898171Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:18:35.898171Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.282001ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.30.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"c781c943-c632-4c99-8335-b71d7dbd5570"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://0b94b42a-4b0e-45d5-b581-a16a0392ea49.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-10-03T18:18:37.043357Z","created_at":"2024-10-03T18:18:37.043348Z","description":"","dns_wildcard":"*.0b94b42a-4b0e-45d5-b581-a16a0392ea49.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"0b94b42a-4b0e-45d5-b581-a16a0392ea49","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"c781c943-c632-4c99-8335-b71d7dbd5570","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-10-03T18:18:37.043348Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 480.11064ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b94b42a-4b0e-45d5-b581-a16a0392ea49
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b94b42a-4b0e-45d5-b581-a16a0392ea49/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.533169ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b94b42a-4b0e-45d5-b581-a16a0392ea49/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxVVFYZE5ha1UwVFZSbmVrOUdiMWhFVkUwd1RWUkJkMDFxUlRSTlZHZDZUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b94b42a-4b0e-45d5-b581-a16a0392ea49/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"0b94b42a-4b0e-45d5-b581-a16a0392ea49","container_runtime":"containerd","created_at":"2024-10-03T18:18:42.462009Z","id":"fefc285e-292e-4aac-85f0-226c079eb7d0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:18:42.462009Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.392097ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/fefc285e-292e-4aac-85f0-226c079eb7d0
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"0b94b42a-4b0e-45d5-b581-a16a0392ea49","container_runtime":"containerd","created_at":"2024-10-03T18:18:42.462009Z","id":"fefc285e-292e-4aac-85f0-226c079eb7d0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:18:42.462009Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.73647ms
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b94b42a-4b0e-45d5-b581-a16a0392ea49/nodes?order_by=created_at_asc&page=1&pool_id=fefc285e-292e-4aac-85f0-226c079eb7d0&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0b94b42a-4b0e-45d5-b581-a16a0392ea49","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:21:41.278319Z","error_message":null,"id":"de54e6da-4749-4252-b822-fb7dc8c70c48","name":"scw-test-pool-wait-test-pool-wait-de54e6da4749","pool_id":"fefc285e-292e-4aac-85f0-226c079eb7d0","provider_id":"scaleway://instance/fr-par-1/565fbe35-35f1-46f9-a7d8-1958b59aa25b","public_ip_v4":"163.172.181.108","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:24:30.814792Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.777037ms
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-wait-test-pool-wait-de54e6da4749&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:d9ac:bb26:df6e:75ac:4ed0/64","created_at":"2024-10-03T18:21:47.406202Z","id":"b55a86a8-6b34-4214-9756-1c6b9f1f266c","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"dd3f89f0-17e1-4723-b3f6-41f1a783d368","mac_address":"02:00:00:1E:45:A1","name":"scw-test-pool-wait-test-pool-wait-de54e6da4749","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"d1c0ab20-586e-40a5-a294-4743f472ab39"},"tags":[],"updated_at":"2024-10-03T18:21:47.406202Z","zone":null},{"address":"172.16.120.2/22","created_at":"2024-10-03T18:21:47.095083Z","id":"f3655bdd-3a94-4c34-b96e-6177c281036d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"dd3f89f0-17e1-4723-b3f6-41f1a783d368","mac_address":"02:00:00:1E:45:A1","name":"scw-test-pool-wait-test-pool-wait-de54e6da4749","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"0877de6a-0bdc-4813-8f9f-94b81e782c61"},"tags":[],"updated_at":"2024-10-03T18:21:47.095083Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.62732ms
[...]
    - id: 146
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b94b42a-4b0e-45d5-b581-a16a0392ea49/nodes?order_by=created_at_asc&page=1&pool_id=fefc285e-292e-4aac-85f0-226c079eb7d0&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0b94b42a-4b0e-45d5-b581-a16a0392ea49","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:21:41.278319Z","error_message":null,"id":"de54e6da-4749-4252-b822-fb7dc8c70c48","name":"scw-test-pool-wait-test-pool-wait-de54e6da4749","pool_id":"fefc285e-292e-4aac-85f0-226c079eb7d0","provider_id":"scaleway://instance/fr-par-1/565fbe35-35f1-46f9-a7d8-1958b59aa25b","public_ip_v4":"163.172.181.108","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:27:19.645862Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.979148ms
[...]
    - id: 254
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b8bff6f8-e9f6-41be-a6fb-4ec568ba6151
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"b8bff6f8-e9f6-41be-a6fb-4ec568ba6151","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.861245ms
[...]
    - id: 271
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b94b42a-4b0e-45d5-b581-a16a0392ea49?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
