---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T19:44:11.123506Z","dhcp_enabled":true,"id":"099801f1-95a1-4e90-8731-44c641064280","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:11.123506Z","id":"70d932b1-f10e-4462-9f45-963b3933f1a1","subnet":"172.17.76.0/22","updated_at":"2024-04-08T19:44:11.123506Z"},{"created_at":"2024-04-08T19:44:11.123506Z","id":"b897c8f3-0a4c-40d5-99bb-345521f2c763","subnet":"fd5f:519c:6d46:ba5c::/64","updated_at":"2024-04-08T19:44:11.123506Z"}],"tags":[],"updated_at":"2024-04-08T19:44:11.123506Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 793.568201ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/099801f1-95a1-4e90-8731-44c641064280
        method: GET
      response:
        body: '{"created_at":"2024-04-08T19:44:11.123506Z","dhcp_enabled":true,"id":"099801f1-95a1-4e90-8731-44c641064280","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:11.123506Z","id":"70d932b1-f10e-4462-9f45-963b3933f1a1","subnet":"172.17.76.0/22","updated_at":"2024-04-08T19:44:11.123506Z"},{"created_at":"2024-04-08T19:44:11.123506Z","id":"b897c8f3-0a4c-40d5-99bb-345521f2c763","subnet":"fd5f:519c:6d46:ba5c::/64","updated_at":"2024-04-08T19:44:11.123506Z"}],"tags":[],"updated_at":"2024-04-08T19:44:11.123506Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.78316ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"099801f1-95a1-4e90-8731-44c641064280"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://0c78e010-b247-45e0-b9e6-ee3433aa0d1f.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-08T19:44:12.420117022Z","created_at":"2024-04-08T19:44:12.420117022Z","description":"","dns_wildcard":"*.0c78e010-b247-45e0-b9e6-ee3433aa0d1f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"0c78e010-b247-45e0-b9e6-ee3433aa0d1f","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"099801f1-95a1-4e90-8731-44c641064280","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-04-08T19:44:12.428815381Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 786.046779ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.844349ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYZE9la1UxVGtSUmVFMHhiMWhFVkUwd1RVUlJkMDU2UlRWT1JGRjRUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"0c78e010-b247-45e0-b9e6-ee3433aa0d1f","container_runtime":"containerd","created_at":"2024-04-08T19:44:17.891237Z","id":"3ac50a5d-b678-4132-a475-a0e965e1e2c9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-04-08T19:44:17.905343049Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.647893ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3ac50a5d-b678-4132-a475-a0e965e1e2c9
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"0c78e010-b247-45e0-b9e6-ee3433aa0d1f","container_runtime":"containerd","created_at":"2024-04-08T19:44:17.891237Z","id":"3ac50a5d-b678-4132-a475-a0e965e1e2c9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-04-08T19:44:17.905343Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.685198ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f/nodes?order_by=created_at_asc&page=1&pool_id=3ac50a5d-b678-4132-a475-a0e965e1e2c9&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0c78e010-b247-45e0-b9e6-ee3433aa0d1f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:47:29.928354Z","error_message":null,"id":"afddbf26-72c4-4c5a-9f26-889b3f42b695","name":"scw-test-pool-minimal-test-pool-minimal-afddbf","pool_id":"3ac50a5d-b678-4132-a475-a0e965e1e2c9","provider_id":"scaleway://instance/fr-par-1/7c4cfeca-83a2-4cb6-b44c-b79c0f80ecff","public_ip_v4":"51.158.119.230","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:49:39.036709Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.782716ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f/nodes?order_by=created_at_asc&pool_id=3ac50a5d-b678-4132-a475-a0e965e1e2c9&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0c78e010-b247-45e0-b9e6-ee3433aa0d1f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:47:29.928354Z","error_message":null,"id":"afddbf26-72c4-4c5a-9f26-889b3f42b695","name":"scw-test-pool-minimal-test-pool-minimal-afddbf","pool_id":"3ac50a5d-b678-4132-a475-a0e965e1e2c9","provider_id":"scaleway://instance/fr-par-1/7c4cfeca-83a2-4cb6-b44c-b79c0f80ecff","public_ip_v4":"51.158.119.230","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:49:39.036709Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.484333ms
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7c4cfeca-83a2-4cb6-b44c-b79c0f80ecff
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64 mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2024-04-08T19:47:30.582948+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-afddbf","id":"7c4cfeca-83a2-4cb6-b44c-b79c0f80ecff","image":{"arch":"x86_64","creation_date":"2024-03-06T10:45:29.062159+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"814de558-35c6-4048-a84e-8602a4dd9ac7","modification_date":"2024-03-06T14:16:35.219919+00:00","name":"k8s_base_node_2024-03-05","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"7b206b8a-defd-4387-ab8e-f2e5eb1f800b","name":"k8s_base_node_2024-03-05","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:680:e01::1","gateway":"2001:bc8:680:e01::","netmask":"64"},"location":{"cluster_id":"92","hypervisor_id":"403","node_id":"2","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:4a:ec:4d","maintenances":[],"modification_date":"2024-04-08T19:47:46.372043+00:00","name":"scw-test-pool-minimal-test-pool-minimal-afddbf","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.66.235.131","private_nics":[{"creation_date":"2024-04-08T19:47:31.146488+00:00","id":"f06e82f7-144c-4eaf-ab2f-3e10657afde6","mac_address":"02:00:00:19:af:e4","modification_date":"2024-04-08T19:47:31.714192+00:00","private_network_id":"099801f1-95a1-4e90-8731-44c641064280","server_id":"7c4cfeca-83a2-4cb6-b44c-b79c0f80ecff","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.158.119.230","dynamic":true,"family":"inet","gateway":null,"id":"4c806a3a-2261-4614-ae39-718ec51f1c84","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.158.119.230","dynamic":true,"family":"inet","gateway":null,"id":"4c806a3a-2261-4614-ae39-718ec51f1c84","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"729f7586-8e1f-449c-a084-7c3e7c2d90c6","name":"kubernetes 0c78e010-b247-45e0-b9e6-ee3433aa0d1f"},"state":"running","state_detail":"booting kernel","tags":["kapsule=0c78e010-b247-45e0-b9e6-ee3433aa0d1f","pool=3ac50a5d-b678-4132-a475-a0e965e1e2c9","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=afddbf26-72c4-4c5a-9f26-889b3f42b695"],"volumes":{"0":{"boot":false,"creation_date":"2024-04-08T19:47:30.582948+00:00","export_uri":null,"id":"f90b649b-c579-4b40-aed6-726f9c446759","modification_date":"2024-04-08T19:47:30.582948+00:00","name":"k8s_base_node_2024-03-05","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"7c4cfeca-83a2-4cb6-b44c-b79c0f80ecff","name":"scw-test-pool-minimal-test-pool-minimal-afddbf"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.007969ms
[...]
    - id: 133
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f/nodes?order_by=created_at_asc&pool_id=3ac50a5d-b678-4132-a475-a0e965e1e2c9&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0c78e010-b247-45e0-b9e6-ee3433aa0d1f","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:47:29.928354Z","error_message":null,"id":"afddbf26-72c4-4c5a-9f26-889b3f42b695","name":"scw-test-pool-minimal-test-pool-minimal-afddbf","pool_id":"3ac50a5d-b678-4132-a475-a0e965e1e2c9","provider_id":"scaleway://instance/fr-par-1/7c4cfeca-83a2-4cb6-b44c-b79c0f80ecff","public_ip_v4":"51.158.119.230","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:52:21.032456Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.569039ms
[...]
    - id: 156
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/69a27f25-0d80-4512-bebc-e686e2b7ff03
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"69a27f25-0d80-4512-bebc-e686e2b7ff03","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.742822ms
[...]
    - id: 175
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0c78e010-b247-45e0-b9e6-ee3433aa0d1f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
