---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.33.4","name":"1.33.4","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSi[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-size","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-05T15:24:53.840354Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2","name":"test-pool-size","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T15:24:53.840354Z","id":"d42a0993-b412-430f-8041-e95aaab1f1c4","private_network_id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.80.0/22","updated_at":"2025-09-05T15:24:53.840354Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-09-05T15:24:53.840354Z","id":"edae71e5-13d6-4927-ac61-4e5ba1b6f381","private_network_id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c222::/64","updated_at":"2025-09-05T15:24:53.840354Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-09-05T15:24:53.840354Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 656.737792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/af3edd26-911f-4cfb-8e95-6f4156bf83f2
        method: GET
      response:
        body: '{"created_at":"2025-09-05T15:24:53.840354Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2","name":"test-pool-size","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T15:24:53.840354Z","id":"d42a0993-b412-430f-8041-e95aaab1f1c4","private_network_id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.80.0/22","updated_at":"2025-09-05T15:24:53.840354Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-09-05T15:24:53.840354Z","id":"edae71e5-13d6-4927-ac61-4e5ba1b6f381","private_network_id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c222::/64","updated_at":"2025-09-05T15:24:53.840354Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-09-05T15:24:53.840354Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.757667ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-size","description":"","tags":[],"version":"1.33.4","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://8709caaa-682c-4a2a-84d0-1c011e953065.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-05T15:24:54.907126Z","created_at":"2025-09-05T15:24:54.907118Z","description":"","dns_wildcard":"*.8709caaa-682c-4a2a-84d0-1c011e953065.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"8709caaa-682c-4a2a-84d0-1c011e953065","name":"test-pool-size","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pod_cidr":"","private_network_id":"af3edd26-911f-4cfb-8e95-6f4156bf83f2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","service_cidr":"","service_dns_ip":"","status":"creating","tags":[],"type":"kapsule","updated_at":"2025-09-05T15:24:54.907118Z","upgrade_available":false,"version":"1.33.4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.521875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8709caaa-682c-4a2a-84d0-1c011e953065
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacki[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8709caaa-682c-4a2a-84d0-1c011e953065/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.389583ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8709caaa-682c-4a2a-84d0-1c011e953065/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRWEzZE9SRVV4VFdwUk1VNVdiMWhFVkUweFRVUnJkMDVFUlRGTmFsRXhUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"pool","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8709caaa-682c-4a2a-84d0-1c011e953065/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"8709caaa-682c-4a2a-84d0-1c011e953065","container_runtime":"containerd","created_at":"2025-09-05T15:25:00.538313Z","id":"18248484-4bde-4aa6-8749-b22081d6e139","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"cbb13cb3-6cca-4ff6-bf7c-e722a43e1a79","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-05T15:25:00.538313Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.469833ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/18248484-4bde-4aa6-8749-b22081d6e139
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"8709caaa-682c-4a2a-84d0-1c011e953065","container_runtime":"containerd","created_at":"2025-09-05T15:25:00.538313Z","id":"18248484-4bde-4aa6-8749-b22081d6e139","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"cbb13cb3-6cca-4ff6-bf7c-e722a43e1a79","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-05T15:25:00.538313Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.6925ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8709caaa-682c-4a2a-84d0-1c011e953065/nodes?order_by=created_at_asc&page=1&pool_id=18248484-4bde-4aa6-8749-b22081d6e139&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8709caaa-682c-4a2a-84d0-1c011e953065","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-09-05T15:27:07.796337Z","error_message":"","id":"14a90ffc-a86f-4586-a8b5-08880fcd28e3","name":"scw-test-pool-size-pool-14a90ffca86f4586a8b508","pool_id":"18248484-4bde-4aa6-8749-b22081d6e139","provider_id":"scaleway://instance/fr-par-1/84b6afc9-800b-4945-bb4e-35a5b9167040","public_ip_v4":"212.47.238.10","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-05T15:30:19.700897Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.306792ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_name=scw-test-pool-size-pool-14a90ffca86f4586a8b508&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:c222:d257:50a9:6fed:d99/64","created_at":"2025-09-05T15:27:11.554245Z","id":"090cbf13-78f9-4750-a060-00c8f83d67e5","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"d7f00368-ff67-4362-93a7-4654a9cd64de","mac_address":"02:00:00:14:6D:01","name":"scw-test-pool-size-pool-14a90ffca86f4586a8b508","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"edae71e5-13d6-4927-ac61-4e5ba1b6f381"},"tags":[],"updated_at":"2025-09-05T15:27:11.554245Z","zone":null},{"address":"172.16.80.3/22","created_at":"2025-09-05T15:27:11.407622Z","id":"ada43473-b789-4eec-b84b-3be5af53884b","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"d7f00368-ff67-4362-93a7-4654a9cd64de","mac_address":"02:00:00:14:6D:01","name":"scw-test-pool-size-pool-14a90ffca86f4586a8b508","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"d42a0993-b412-430f-8041-e95aaab1f1c4"},"tags":[],"updated_at":"2025-09-05T15:27:11.407622Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.722209ms
[...]
    - id: 147
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/18248484-4bde-4aa6-8749-b22081d6e139
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"18248484-4bde-4aa6-8749-b22081d6e139","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.71025ms
    - id: 148
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8709caaa-682c-4a2a-84d0-1c011e953065?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_nod[...]
[...]
