---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-15T00:19:59.031538Z","dhcp_enabled":true,"id":"95c45492-441f-4176-bb6f-b12fd28a809c","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:19:59.031538Z","id":"01991fc6-bde9-44d2-92de-15a553de0fab","private_network_id":"95c45492-441f-4176-bb6f-b12fd28a809c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-15T00:19:59.031538Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:19:59.031538Z","id":"2bcafea1-89bb-4f32-8eba-c2cbce82c9f9","private_network_id":"95c45492-441f-4176-bb6f-b12fd28a809c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:c011::/64","updated_at":"2025-05-15T00:19:59.031538Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:19:59.031538Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 772.628272ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/95c45492-441f-4176-bb6f-b12fd28a809c
        method: GET
      response:
        body: '{"created_at":"2025-05-15T00:19:59.031538Z","dhcp_enabled":true,"id":"95c45492-441f-4176-bb6f-b12fd28a809c","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:19:59.031538Z","id":"01991fc6-bde9-44d2-92de-15a553de0fab","private_network_id":"95c45492-441f-4176-bb6f-b12fd28a809c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-15T00:19:59.031538Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:19:59.031538Z","id":"2bcafea1-89bb-4f32-8eba-c2cbce82c9f9","private_network_id":"95c45492-441f-4176-bb6f-b12fd28a809c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:c011::/64","updated_at":"2025-05-15T00:19:59.031538Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:19:59.031538Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.893109ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"95c45492-441f-4176-bb6f-b12fd28a809c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-15T00:20:00.140943Z","created_at":"2025-05-15T00:20:00.140932Z","description":"","dns_wildcard":"*.65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"95c45492-441f-4176-bb6f-b12fd28a809c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2025-05-15T00:20:00.140933Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.379143ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.547104ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGhPUkVGM1RXcEJkMDFXYjFoRVZFMHhUVVJWZUU1RVFYZE5ha0YzVFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9","container_runtime":"containerd","created_at":"2025-05-15T00:20:06.537876Z","id":"51ac736a-585a-4bac-a490-ff7ea60da517","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-05-15T00:20:06.537876Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 516.028216ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/51ac736a-585a-4bac-a490-ff7ea60da517
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9","container_runtime":"containerd","created_at":"2025-05-15T00:20:06.537876Z","id":"51ac736a-585a-4bac-a490-ff7ea60da517","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-05-15T00:20:06.537876Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 607.721171ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9/nodes?order_by=created_at_asc&page=1&pool_id=51ac736a-585a-4bac-a490-ff7ea60da517&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:25:20.926791Z","error_message":"","id":"9efd1c24-6bb5-4343-ae4b-bd3861535569","name":"scw-test-pool-upgrade-test-pool-upgrade-9efd1c","pool_id":"51ac736a-585a-4bac-a490-ff7ea60da517","provider_id":"scaleway://instance/fr-par-1/e0a27e1e-c035-41ba-9eb4-aac312174968","public_ip_v4":"51.15.200.7","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:27:55.765138Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 521.13575ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-upgrade-test-pool-upgrade-9efd1c&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:c011:9e00:f9e0:933a:d1f3/64","created_at":"2025-05-15T00:25:24.880145Z","id":"a4fa80f9-c9e2-4140-8fd0-6dd82d05e9c0","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"567d4caf-2e95-4f8d-8275-d95f7f0fa948","mac_address":"02:00:00:10:17:3C","name":"scw-test-pool-upgrade-test-pool-upgrade-9efd1c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"2bcafea1-89bb-4f32-8eba-c2cbce82c9f9"},"tags":[],"updated_at":"2025-05-15T00:25:24.880145Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-05-15T00:25:24.507720Z","id":"dd1dfc80-ae63-4c89-9795-428f4cd2997d","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"567d4caf-2e95-4f8d-8275-d95f7f0fa948","mac_address":"02:00:00:10:17:3C","name":"scw-test-pool-upgrade-test-pool-upgrade-9efd1c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"01991fc6-bde9-44d2-92de-15a553de0fab"},"tags":[],"updated_at":"2025-05-15T00:25:24.507720Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.374456ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9/nodes?order_by=created_at_asc&page=1&pool_id=51ac736a-585a-4bac-a490-ff7ea60da517&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:25:20.926791Z","error_message":"","id":"9efd1c24-6bb5-4343-ae4b-bd3861535569","name":"scw-test-pool-upgrade-test-pool-upgrade-9efd1c","pool_id":"51ac736a-585a-4bac-a490-ff7ea60da517","provider_id":"scaleway://instance/fr-par-1/e0a27e1e-c035-41ba-9eb4-aac312174968","public_ip_v4":"51.15.200.7","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:28:09.776692Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.3883ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/51ac736a-585a-4bac-a490-ff7ea60da517
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"51ac736a-585a-4bac-a490-ff7ea60da517","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.843991ms
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/65dd39a4-06a7-4283-b43c-ec1e8bcc0ff9?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
