---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-kind-cohen","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:23:26.830186Z","custom_routes_propagation_enabled":true,"id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4","is_default":false,"name":"tf-vpc-kind-cohen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:23:26.830186Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.473709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2b75c506-21b7-471c-ae9a-32fc0bc776d4
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:23:26.830186Z","custom_routes_propagation_enabled":true,"id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4","is_default":false,"name":"tf-vpc-kind-cohen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:23:26.830186Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.717792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:23:26.924056Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e8031540-8456-4577-8eca-b22aefcce41f","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:23:26.924056Z","id":"1a606aee-b81a-4842-a8fd-3a157af97f7b","private_network_id":"e8031540-8456-4577-8eca-b22aefcce41f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.212.0/22","updated_at":"2025-09-30T09:23:26.924056Z","vpc_id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4"},{"created_at":"2025-09-30T09:23:26.924056Z","id":"e70a771a-4279-43b8-9356-c2f0eb5753e1","private_network_id":"e8031540-8456-4577-8eca-b22aefcce41f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7b7d::/64","updated_at":"2025-09-30T09:23:26.924056Z","vpc_id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4"}],"tags":[],"updated_at":"2025-09-30T09:23:26.924056Z","vpc_id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 634.395958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e8031540-8456-4577-8eca-b22aefcce41f
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:23:26.924056Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e8031540-8456-4577-8eca-b22aefcce41f","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:23:26.924056Z","id":"1a606aee-b81a-4842-a8fd-3a157af97f7b","private_network_id":"e8031540-8456-4577-8eca-b22aefcce41f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.212.0/22","updated_at":"2025-09-30T09:23:26.924056Z","vpc_id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4"},{"created_at":"2025-09-30T09:23:26.924056Z","id":"e70a771a-4279-43b8-9356-c2f0eb5753e1","private_network_id":"e8031540-8456-4577-8eca-b22aefcce41f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:7b7d::/64","updated_at":"2025-09-30T09:23:26.924056Z","vpc_id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4"}],"tags":[],"updated_at":"2025-09-30T09:23:26.924056Z","vpc_id":"2b75c506-21b7-471c-ae9a-32fc0bc776d4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.789875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.34.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e8031540-8456-4577-8eca-b22aefcce41f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://9b283563-32f4-4736-9c0c-f5e94a8b15c5.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-09-30T09:23:27.855054Z","created_at":"2025-09-30T09:23:27.855043Z","description":"","dns_wildcard":"*.9b283563-32f4-4736-9c0c-f5e94a8b15c5.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"9b283563-32f4-4736-9c0c-f5e94a8b15c5","name":"test-pool-wait","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"e8031540-8456-4577-8eca-b22aefcce41f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-09-30T09:23:27.855044Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.066875ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9b283563-32f4-4736-9c0c-f5e94a8b15c5
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9b283563-32f4-4736-9c0c-f5e94a8b15c5/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.908791ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9b283563-32f4-4736-9c0c-f5e94a8b15c5/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVVJyZVU5VVFUVk5hazE1VGpGdldFUlVUVEZOUkd0NVQxUkJOVTFxVFhsT01XOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVUhKUEw[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9b283563-32f4-4736-9c0c-f5e94a8b15c5/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9b283563-32f4-4736-9c0c-f5e94a8b15c5","container_runtime":"containerd","created_at":"2025-09-30T09:23:33.546561Z","id":"b5f9447f-c5e8-4033-9d8e-dfacfaba08a9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:23:33.546561Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.684ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b5f9447f-c5e8-4033-9d8e-dfacfaba08a9
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9b283563-32f4-4736-9c0c-f5e94a8b15c5","container_runtime":"containerd","created_at":"2025-09-30T09:23:33.546561Z","id":"b5f9447f-c5e8-4033-9d8e-dfacfaba08a9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:23:33.546561Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.627209ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9b283563-32f4-4736-9c0c-f5e94a8b15c5/nodes?order_by=created_at_asc&page=1&pool_id=b5f9447f-c5e8-4033-9d8e-dfacfaba08a9&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"9b283563-32f4-4736-9c0c-f5e94a8b15c5","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:29:00.316675Z","error_message":"","id":"a31a7dca-b585-4184-a5d5-958d56f65066","name":"scw-test-pool-wait-test-pool-wait-a31a7dcab585","pool_id":"b5f9447f-c5e8-4033-9d8e-dfacfaba08a9","provider_id":"scaleway://instance/fr-par-1/00522319-26a3-4602-833a-d085bc2a8ae0","public_ip_v4":"212.47.234.198","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:29:36.480729Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.798708ms
[...]
    - id: 90
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-wait-test-pool-wait-a31a7dcab585&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:7b7d:cd40:e2d7:2c0d:48c5/64","created_at":"2025-09-30T09:29:05.114401Z","id":"16abe70a-02f8-4661-9c18-7285ca12daf7","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"da79e85c-b55b-4a0a-9d35-3e6ac893af6a","mac_address":"02:00:00:1E:7E:50","name":"scw-test-pool-wait-test-pool-wait-a31a7dcab585","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"e70a771a-4279-43b8-9356-c2f0eb5753e1"},"tags":[],"updated_at":"2025-09-30T09:29:05.114401Z","zone":null},{"address":"172.17.212.3/22","created_at":"2025-09-30T09:29:04.995629Z","id":"eaddda75-ad46-4a0c-aa0e-c7fabbb7115e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"da79e85c-b55b-4a0a-9d35-3e6ac893af6a","mac_address":"02:00:00:1E:7E:50","name":"scw-test-pool-wait-test-pool-wait-a31a7dcab585","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"1a606aee-b81a-4842-a8fd-3a157af97f7b"},"tags":[],"updated_at":"2025-09-30T09:29:04.995629Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.370292ms
[...]
    - id: 134
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9b283563-32f4-4736-9c0c-f5e94a8b15c5/nodes?order_by=created_at_asc&page=1&pool_id=b5f9447f-c5e8-4033-9d8e-dfacfaba08a9&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"9b283563-32f4-4736-9c0c-f5e94a8b15c5","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:29:00.316675Z","error_message":"","id":"a31a7dca-b585-4184-a5d5-958d56f65066","name":"scw-test-pool-wait-test-pool-wait-a31a7dcab585","pool_id":"b5f9447f-c5e8-4033-9d8e-dfacfaba08a9","provider_id":"scaleway://instance/fr-par-1/00522319-26a3-4602-833a-d085bc2a8ae0","public_ip_v4":"212.47.234.198","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:30:23.168175Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.525041ms
[...]
    - id: 262
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e3b97d34-64e0-4102-95cd-aa49642c28b8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"e3b97d34-64e0-4102-95cd-aa49642c28b8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.696ms
[...]
    - id: 325
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9b283563-32f4-4736-9c0c-f5e94a8b15c5?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
