---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-wait\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\",\"name\":\"test-pool-wait\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:12.366077Z\",\"updated_at\":\"2025-08-28T14:13:12.366077Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"4d2e9173-d195-4a37-8ef6-03e58962e099\",\"created_at\":\"2025-08-28T14:13:12.366077Z\",\"updated_at\":\"2025-08-28T14:13:12.366077Z\",\"subnet\":\"172.16.56.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"112519f1-3b69-484c-9497-0ae48324a4c8\",\"created_at\":\"2025-08-28T14:13:12.366077Z\",\"updated_at\":\"2025-08-28T14:13:12.366077Z\",\"subnet\":\"fde7:767f:1bb5:d1a7::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.665221822s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0c2f2052-980e-4ba3-ac55-9d228d2eced1
    method: GET
  response:
    body: "{\"id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\",\"name\":\"test-pool-wait\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:12.366077Z\",\"updated_at\":\"2025-08-28T14:13:12.366077Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"4d2e9173-d195-4a37-8ef6-03e58962e099\",\"created_at\":\"2025-08-28T14:13:12.366077Z\",\"updated_at\":\"2025-08-28T14:13:12.366077Z\",\"subnet\":\"172.16.56.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"112519f1-3b69-484c-9497-0ae48324a4c8\",\"created_at\":\"2025-08-28T14:13:12.366077Z\",\"updated_at\":\"2025-08-28T14:13:12.366077Z\",\"subnet\":\"fde7:767f:1bb5:d1a7::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.260146ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-wait\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"version\":\"1.32.7\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"f56bf34a-7162-47d4-93d2-11e702f9b4cd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:13.957728Z\",\"updated_at\":\"2025-08-28T14:13:13.957728Z\",\"type\":\"kapsule\",\"name\":\"test-pool-wait\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"calico\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"cluster_url\":\"https://f56bf34a-7162-47d4-93d2-11e702f9b4cd.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.f56bf34a-7162-47d4-93d2-11e702f9b4cd.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"0c2f2052-980e-4ba3-ac55-9d228d2eced1\",\"commitment_ends_at\":\"2025-08-28T14:13:13.957735Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 373.251174ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f56bf34a-7162-47d4-93d2-11e702f9b4cd
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"f56bf34a-7162-47d4-93d2-11e702f9b4cd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:13.957728Z\",\"updated_at\":\"2025-08-28T14:13:13.957728Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f56bf34a-7162-47d4-93d2-11e702f9b4cd/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.614838ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f56bf34a-7162-47d4-93d2-11e702f9b4cd/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVozbE9la1V3VFZSTmVFNUdiMWhFVkUweFRVUm5lVTU2UlRCTlZFMTRUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORF[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-wait\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f56bf34a-7162-47d4-93d2-11e702f9b4cd/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"501cd2be-be57-4cd4-b6e0-0fcf383ef1dd\",\"cluster_id\":\"f56bf34a-7162-47d4-93d2-11e702f9b4cd\",\"created_at\":\"2025-08-28T14:13:19.687982Z\",\"updated_at\":\"2025-08-28T14:13:19.687982Z\",\"name\":\"test-pool-wait\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 166.38093ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/501cd2be-be57-4cd4-b6e0-0fcf383ef1dd
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"501cd2be-be57-4cd4-b6e0-0fcf383ef1dd\",\"cluster_id\":\"f56bf34a-7162-47d4-93d2-11e702f9b4cd\",\"created_at\":\"2025-08-28T14:13:19.687982Z\",\"updated_at\":\"2025-08-28T14:13:19.687982Z\",\"name\":\"test-pool-wait\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.198939ms
[...]
- id: 65
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 501cd2be-be57-4cd4-b6e0-0fcf383ef1dd
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f56bf34a-7162-47d4-93d2-11e702f9b4cd/nodes?order_by=created_at_asc&page=1&pool_id=501cd2be-be57-4cd4-b6e0-0fcf383ef1dd&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"1b46f23b-46d2-4b81-b7f4-1b40fb1eeb29\",\"cluster_id\":\"f56bf34a-7162-47d4-93d2-11e702f9b4cd\",\"created_at\":\"2025-08-28T14:15:21.976943Z\",\"updated_at\":\"2025-08-28T14:17:39.981597Z\",\"pool_id\":\"501cd2be-be57-4cd4-b6e0-0fcf383ef1dd\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-wait-test-pool-wait-1b46f23b46d2\",\"public_ip_v4\":\"51.15.212.136\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/5fc2b350-2e39-4f13-a573-6e76cf3f03f1\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.332477ms
[...]
- id: 67
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-wait-test-pool-wait-1b46f23b46d2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-wait-test-pool-wait-1b46f23b46d2&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"41220f4b-2afd-49c3-9232-c8b6ff7b2eb8\",\"address\":\"fde7:767f:1bb5:d1a7:ff15:74ab:b9b2:58e/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:15:26.240141Z\",\"updated_at\":\"2025-08-28T14:15:26.240141Z\",\"source\":{\"subnet_id\":\"112519f1-3b69-484c-9497-0ae48324a4c8\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"9d33fa83-283c-414c-b3ec-8487731d4353\",\"mac_address\":\"02:00:00:14:15:45\",\"name\":\"scw-test-pool-wait-test-pool-wait-1b46f23b46d2\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"31b4dbeb-a013-40f8-aedd-795cd40543d2\",\"address\":\"172.16.56.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:15:26.115577Z\",\"updated_at\":\"2025-08-28T14:15:26.115577Z\",\"source\":{\"subnet_id\":\"4d2e9173-d195-4a37-8ef6-03e58962e099\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"9d33fa83-283c-414c-b3ec-8487731d4353\",\"mac_address\":\"02:00:00:14:15:45\",\"name\":\"scw-test-pool-wait-test-pool-wait-1b46f23b46d2\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.092618ms
[...]
- id: 131
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 501cd2be-be57-4cd4-b6e0-0fcf383ef1dd
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f56bf34a-7162-47d4-93d2-11e702f9b4cd/nodes?order_by=created_at_asc&page=1&pool_id=501cd2be-be57-4cd4-b6e0-0fcf383ef1dd&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"1b46f23b-46d2-4b81-b7f4-1b40fb1eeb29\",\"cluster_id\":\"f56bf34a-7162-47d4-93d2-11e702f9b4cd\",\"created_at\":\"2025-08-28T14:15:21.976943Z\",\"updated_at\":\"2025-08-28T14:20:20.929750Z\",\"pool_id\":\"501cd2be-be57-4cd4-b6e0-0fcf383ef1dd\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"NetworkUnavailable\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-wait-test-pool-wait-1b46f23b46d2\",\"public_ip_v4\":\"51.15.212.136\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/5fc2b350-2e39-4f13-a573-6e76cf3f03f1\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.957602ms
[...]
- id: 271
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0b9d69a5-4ee9-41ea-81cf-7498c606c199
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"0b9d69a5-4ee9-41ea-81cf-7498c606c199\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.867544ms
[...]
- id: 333
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f56bf34a-7162-47d4-93d2-11e702f9b4cd?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"f56bf34a-7162-47d4-93d2-11e702f9b4cd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:13.957728Z\",\"updated_at\":\"2025-08-28T14:29:42.195290Z\",\"type\":\"k[...]
[...]
