---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-upgrade-policy\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\",\"name\":\"test-pool-upgrade-policy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:11.746802Z\",\"updated_at\":\"2025-08-28T14:13:11.746802Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"c76c7eaf-ebd5-4c94-9822-f71d627c5007\",\"created_at\":\"2025-08-28T14:13:11.746802Z\",\"updated_at\":\"2025-08-28T14:13:11.746802Z\",\"subnet\":\"172.16.16.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"328f9df8-f9d9-4a82-802f-5be0a138dab0\",\"created_at\":\"2025-08-28T14:13:11.746802Z\",\"updated_at\":\"2025-08-28T14:13:11.746802Z\",\"subnet\":\"fde7:767f:1bb5:2e37::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.582339145s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e683a297-6f62-40c3-8e7c-eea7d36a060d
    method: GET
  response:
    body: "{\"id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\",\"name\":\"test-pool-upgrade-policy\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:11.746802Z\",\"updated_at\":\"2025-08-28T14:13:11.746802Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"c76c7eaf-ebd5-4c94-9822-f71d627c5007\",\"created_at\":\"2025-08-28T14:13:11.746802Z\",\"updated_at\":\"2025-08-28T14:13:11.746802Z\",\"subnet\":\"172.16.16.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"328f9df8-f9d9-4a82-802f-5be0a138dab0\",\"created_at\":\"2025-08-28T14:13:11.746802Z\",\"updated_at\":\"2025-08-28T14:13:11.746802Z\",\"subnet\":\"fde7:767f:1bb5:2e37::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.695333ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-upgrade-policy\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"upgrade_policy\"],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"c4f7b35b-fe44-4112-8b80-b85a8b60007c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:13.432949Z\",\"updated_at\":\"2025-08-28T14:13:13.432950Z\",\"type\":\"kapsule\",\"name\":\"test-pool-upgrade-policy\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"upgrade_policy\"],\"cluster_url\":\"https://c4f7b35b-fe44-4112-8b80-b85a8b60007c.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.c4f7b35b-fe44-4112-8b80-b85a8b60007c.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"e683a297-6f62-40c3-8e7c-eea7d36a060d\",\"commitment_ends_at\":\"2025-08-28T14:13:13.432957Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 458.498291ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c4f7b35b-fe44-4112-8b80-b85a8b60007c
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"c4f7b35b-fe44-4112-8b80-b85a8b60007c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:13.432949Z\",\"updated_at\":\"2025-08-28T14:13:13.432950Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c4f7b35b-fe44-4112-8b80-b85a8b60007c/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.584726ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c4f7b35b-fe44-4112-8b80-b85a8b60007c/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVaM2xPZWtVd1RWUk5lRTB4YjFoRVZFMHhUVVJuZVU1NlJUQk5WRTE0VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-upgrade-policy\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"upgrade_policy\"],\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":3,\"max_surge\":2},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c4f7b35b-fe44-4112-8b80-b85a8b60007c/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"7e5c927d-07a6-41e5-9b14-6e67a21850d5\",\"cluster_id\":\"c4f7b35b-fe44-4112-8b80-b85a8b60007c\",\"created_at\":\"2025-08-28T14:13:19.280583Z\",\"updated_at\":\"2025-08-28T14:13:19.280583Z\",\"name\":\"test-pool-upgrade-policy\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"upgrade_policy\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":3,\"max_surge\":2},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.614233ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7e5c927d-07a6-41e5-9b14-6e67a21850d5
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"7e5c927d-07a6-41e5-9b14-6e67a21850d5\",\"cluster_id\":\"c4f7b35b-fe44-4112-8b80-b85a8b60007c\",\"created_at\":\"2025-08-28T14:13:19.280583Z\",\"updated_at\":\"2025-08-28T14:13:19.280583Z\",\"name\":\"test-pool-upgrade-policy\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"upgrade_policy\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":3,\"max_surge\":2},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.322333ms
[...]
- id: 108
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 7e5c927d-07a6-41e5-9b14-6e67a21850d5
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c4f7b35b-fe44-4112-8b80-b85a8b60007c/nodes?order_by=created_at_asc&page=1&pool_id=7e5c927d-07a6-41e5-9b14-6e67a21850d5&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"13fac09c-5659-40eb-8b5f-6aec35cfd582\",\"cluster_id\":\"c4f7b35b-fe44-4112-8b80-b85a8b60007c\",\"created_at\":\"2025-08-28T14:18:56.956464Z\",\"updated_at\":\"2025-08-28T14:21:13.696746Z\",\"pool_id\":\"7e5c927d-07a6-41e5-9b14-6e67a21850d5\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-upgrade-test-pool-upgrade-13fac0\",\"public_ip_v4\":\"51.15.218.174\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/a379b11d-d626-41d4-979e-ed12d8886aa6\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.330203ms
[...]
- id: 110
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-upgrade-test-pool-upgrade-13fac0
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-upgrade-test-pool-upgrade-13fac0&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"48a013f3-c0bb-4be3-b0a7-3d0ef79c7410\",\"address\":\"fde7:767f:1bb5:2e37:c064:e655:da95:9282/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:19:01.716812Z\",\"updated_at\":\"2025-08-28T14:19:01.716812Z\",\"source\":{\"subnet_id\":\"328f9df8-f9d9-4a82-802f-5be0a138dab0\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"6fe2569c-b3fd-4d77-a386-fb4da14df029\",\"mac_address\":\"02:00:00:13:CE:1B\",\"name\":\"scw-test-pool-upgrade-test-pool-upgrade-13fac0\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"25a13280-cd60-4323-9e96-b9cd2b94d339\",\"address\":\"172.16.16.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:19:01.543371Z\",\"updated_at\":\"2025-08-28T14:19:01.543371Z\",\"source\":{\"subnet_id\":\"c76c7eaf-ebd5-4c94-9822-f71d627c5007\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"6fe2569c-b3fd-4d77-a386-fb4da14df029\",\"mac_address\":\"02:00:00:13:CE:1B\",\"name\":\"scw-test-pool-upgrade-test-pool-upgrade-13fac0\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.566749ms
[...]
- id: 139
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 7e5c927d-07a6-41e5-9b14-6e67a21850d5
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c4f7b35b-fe44-4112-8b80-b85a8b60007c/nodes?order_by=created_at_asc&page=1&pool_id=7e5c927d-07a6-41e5-9b14-6e67a21850d5&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"13fac09c-5659-40eb-8b5f-6aec35cfd582\",\"cluster_id\":\"c4f7b35b-fe44-4112-8b80-b85a8b60007c\",\"created_at\":\"2025-08-28T14:18:56.956464Z\",\"updated_at\":\"2025-08-28T14:21:23.982156Z\",\"pool_id\":\"7e5c927d-07a6-41e5-9b14-6e67a21850d5\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"NetworkUnavailable\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-upgrade-test-pool-upgrade-13fac0\",\"public_ip_v4\":\"51.15.218.174\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/a379b11d-d626-41d4-979e-ed12d8886aa6\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.121177ms
[...]
- id: 169
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7e5c927d-07a6-41e5-9b14-6e67a21850d5
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"7e5c927d-07a6-41e5-9b14-6e67a21850d5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.556907ms
- id: 170
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c4f7b35b-fe44-4112-8b80-b85a8b60007c?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"c4f7b35b-fe44-4112-8b80-b85a8b60007c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:13.432949Z\",\"updated_at\":\"2025-08-28T14:23:37.219973Z\",\"type\":\"k[...]
[...]
