---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-15T00:19:52.613941Z","dhcp_enabled":true,"id":"11aad4dc-cd48-4503-a531-8c1bdaa21793","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:19:52.613941Z","id":"4330f42e-32c6-4330-9f7c-a9752f155e05","private_network_id":"11aad4dc-cd48-4503-a531-8c1bdaa21793","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-15T00:19:52.613941Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:19:52.613941Z","id":"8920f0e0-5c15-465b-898f-03ac0895814a","private_network_id":"11aad4dc-cd48-4503-a531-8c1bdaa21793","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:f237::/64","updated_at":"2025-05-15T00:19:52.613941Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:19:52.613941Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 950.120348ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/11aad4dc-cd48-4503-a531-8c1bdaa21793
        method: GET
      response:
        body: '{"created_at":"2025-05-15T00:19:52.613941Z","dhcp_enabled":true,"id":"11aad4dc-cd48-4503-a531-8c1bdaa21793","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:19:52.613941Z","id":"4330f42e-32c6-4330-9f7c-a9752f155e05","private_network_id":"11aad4dc-cd48-4503-a531-8c1bdaa21793","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-15T00:19:52.613941Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:19:52.613941Z","id":"8920f0e0-5c15-465b-898f-03ac0895814a","private_network_id":"11aad4dc-cd48-4503-a531-8c1bdaa21793","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:f237::/64","updated_at":"2025-05-15T00:19:52.613941Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:19:52.613941Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.275378ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"11aad4dc-cd48-4503-a531-8c1bdaa21793"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://eab70cb8-7f8d-477f-b3d9-0c97aa092fff.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-05-15T00:19:53.905018Z","created_at":"2025-05-15T00:19:53.905007Z","description":"","dns_wildcard":"*.eab70cb8-7f8d-477f-b3d9-0c97aa092fff.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"eab70cb8-7f8d-477f-b3d9-0c97aa092fff","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"11aad4dc-cd48-4503-a531-8c1bdaa21793","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-05-15T00:19:53.905007Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.421975ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eab70cb8-7f8d-477f-b3d9-0c97aa092fff
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eab70cb8-7f8d-477f-b3d9-0c97aa092fff/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.7464ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eab70cb8-7f8d-477f-b3d9-0c97aa092fff/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYaE9SRUYzVFZSck1VNVdiMWhFVkUweFRVUlZlRTVFUVhkTlZHc3hUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eab70cb8-7f8d-477f-b3d9-0c97aa092fff/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"eab70cb8-7f8d-477f-b3d9-0c97aa092fff","container_runtime":"containerd","created_at":"2025-05-15T00:20:00.490170Z","id":"174608df-f765-460a-93b9-ca3fc379f12a","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-15T00:20:00.490170Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.331465ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/174608df-f765-460a-93b9-ca3fc379f12a
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"eab70cb8-7f8d-477f-b3d9-0c97aa092fff","container_runtime":"containerd","created_at":"2025-05-15T00:20:00.490170Z","id":"174608df-f765-460a-93b9-ca3fc379f12a","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-15T00:20:00.490170Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.831295ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eab70cb8-7f8d-477f-b3d9-0c97aa092fff/nodes?order_by=created_at_asc&page=1&pool_id=174608df-f765-460a-93b9-ca3fc379f12a&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"eab70cb8-7f8d-477f-b3d9-0c97aa092fff","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:21:30.823440Z","error_message":"","id":"789e5bb9-5348-484d-97c4-2825296758b2","name":"scw-test-pool-wait-test-pool-wait-789e5bb95348","pool_id":"174608df-f765-460a-93b9-ca3fc379f12a","provider_id":"scaleway://instance/fr-par-1/ca4d92bb-86ef-4dd0-a8c2-c51df07e5a6b","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:25:01.701770Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.71302ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-wait-test-pool-wait-789e5bb95348&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:f237:8dc4:f5cd:c2f7:5eb2/64","created_at":"2025-05-15T00:21:35.902334Z","id":"a08447cd-e9a5-4daf-bfad-034b09c5f64d","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"e03a394a-5b3e-4081-b9d8-3ad3f3b6715f","mac_address":"02:00:00:1C:FC:0E","name":"scw-test-pool-wait-test-pool-wait-789e5bb95348","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"8920f0e0-5c15-465b-898f-03ac0895814a"},"tags":[],"updated_at":"2025-05-15T00:21:35.902334Z","zone":null},{"address":"172.16.20.3/22","created_at":"2025-05-15T00:21:35.345050Z","id":"20fbf0b0-b39f-4312-8f60-180c2160c2e5","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"e03a394a-5b3e-4081-b9d8-3ad3f3b6715f","mac_address":"02:00:00:1C:FC:0E","name":"scw-test-pool-wait-test-pool-wait-789e5bb95348","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"4330f42e-32c6-4330-9f7c-a9752f155e05"},"tags":[],"updated_at":"2025-05-15T00:21:35.345050Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 809.711988ms
[...]
    - id: 140
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eab70cb8-7f8d-477f-b3d9-0c97aa092fff/nodes?order_by=created_at_asc&page=1&pool_id=174608df-f765-460a-93b9-ca3fc379f12a&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"eab70cb8-7f8d-477f-b3d9-0c97aa092fff","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:21:30.823440Z","error_message":"","id":"789e5bb9-5348-484d-97c4-2825296758b2","name":"scw-test-pool-wait-test-pool-wait-789e5bb95348","pool_id":"174608df-f765-460a-93b9-ca3fc379f12a","provider_id":"scaleway://instance/fr-par-1/ca4d92bb-86ef-4dd0-a8c2-c51df07e5a6b","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:28:12.682217Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.907401ms
[...]
    - id: 280
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/76ebc38c-fe2d-4bcd-bd7b-d99c3fdd4742
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"76ebc38c-fe2d-4bcd-bd7b-d99c3fdd4742","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.735302ms
[...]
    - id: 340
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/eab70cb8-7f8d-477f-b3d9-0c97aa092fff?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
