---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"6f551e91-fcfe-4de7-8cca-5a4610dc0edc","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/6f551e91-fcfe-4de7-8cca-5a4610dc0edc
        status: 201 Created
        code: 201
        duration: 703.309772ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:09:23.891477Z","dhcp_enabled":true,"id":"3483f572-fec1-4540-a9e5-7b0eb446e80a","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:09:23.891477Z","id":"b20ee6b8-39cc-4a09-bc08-decd3a87eae2","private_network_id":"3483f572-fec1-4540-a9e5-7b0eb446e80a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-05T18:09:23.891477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:09:23.891477Z","id":"ae99e942-7dfd-4393-82f2-863a03967b4d","private_network_id":"3483f572-fec1-4540-a9e5-7b0eb446e80a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:e1b9::/64","updated_at":"2025-05-05T18:09:23.891477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:09:23.891477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 703.601966ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3483f572-fec1-4540-a9e5-7b0eb446e80a
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:09:23.891477Z","dhcp_enabled":true,"id":"3483f572-fec1-4540-a9e5-7b0eb446e80a","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:09:23.891477Z","id":"b20ee6b8-39cc-4a09-bc08-decd3a87eae2","private_network_id":"3483f572-fec1-4540-a9e5-7b0eb446e80a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-05T18:09:23.891477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:09:23.891477Z","id":"ae99e942-7dfd-4393-82f2-863a03967b4d","private_network_id":"3483f572-fec1-4540-a9e5-7b0eb446e80a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:e1b9::/64","updated_at":"2025-05-05T18:09:23.891477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:09:23.891477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.871252ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/6f551e91-fcfe-4de7-8cca-5a4610dc0edc
        method: GET
      response:
        body: '{"placement_group":{"id":"6f551e91-fcfe-4de7-8cca-5a4610dc0edc","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.960348ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"3483f572-fec1-4540-a9e5-7b0eb446e80a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://c533df4e-7f50-4d52-a5c9-e01b3b58ca9c.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-05-05T18:09:24.736944Z","created_at":"2025-05-05T18:09:24.736931Z","description":"","dns_wildcard":"*.c533df4e-7f50-4d52-a5c9-e01b3b58ca9c.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"c533df4e-7f50-4d52-a5c9-e01b3b58ca9c","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"3483f572-fec1-4540-a9e5-7b0eb446e80a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2025-05-05T18:09:24.736931Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.528121ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c533df4e-7f50-4d52-a5c9-e01b3b58ca9c
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c533df4e-7f50-4d52-a5c9-e01b3b58ca9c/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.953617ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c533df4e-7f50-4d52-a5c9-e01b3b58ca9c/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFVlhkT1JFVTBUVVJyZVU1V2IxaEVWRTB4VFVSVmQwNUVSVFJOUkd0NVRsWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"6f551e91-fcfe-4de7-8cca-5a4610dc0edc","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c533df4e-7f50-4d52-a5c9-e01b3b58ca9c/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"c533df4e-7f50-4d52-a5c9-e01b3b58ca9c","container_runtime":"containerd","created_at":"2025-05-05T18:09:30.205344Z","id":"fef6a1b1-a938-404f-a3ad-64965bcc2bc8","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"6f551e91-fcfe-4de7-8cca-5a4610dc0edc","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:09:30.205344Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 428.463862ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/fef6a1b1-a938-404f-a3ad-64965bcc2bc8
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"c533df4e-7f50-4d52-a5c9-e01b3b58ca9c","container_runtime":"containerd","created_at":"2025-05-05T18:09:30.205344Z","id":"fef6a1b1-a938-404f-a3ad-64965bcc2bc8","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"6f551e91-fcfe-4de7-8cca-5a4610dc0edc","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:09:30.205344Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.797464ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c533df4e-7f50-4d52-a5c9-e01b3b58ca9c/nodes?order_by=created_at_asc&page=1&pool_id=fef6a1b1-a938-404f-a3ad-64965bcc2bc8&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"c533df4e-7f50-4d52-a5c9-e01b3b58ca9c","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:12:31.345622Z","error_message":"","id":"ea5bcac4-f640-4e3f-8fdc-0641895ca020","name":"scw-test-pool-placeme-test-pool-placeme-ea5bca","pool_id":"fef6a1b1-a938-404f-a3ad-64965bcc2bc8","provider_id":"scaleway://instance/fr-par-1/c8c182ba-bb10-42fb-ac3e-1d77d5fce2d1","public_ip_v4":"51.15.128.91","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:14:50.327068Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.894674ms
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-placeme-test-pool-placeme-ea5bca&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:e1b9:d4d1:992f:9853:6c71/64","created_at":"2025-05-05T18:12:35.551809Z","id":"9a85e810-f53e-4aba-ae07-1a9dcd04ecd4","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"b7350a3c-3425-49d8-953f-0f8cd0d6d720","mac_address":"02:00:00:1A:2F:29","name":"scw-test-pool-placeme-test-pool-placeme-ea5bca","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"ae99e942-7dfd-4393-82f2-863a03967b4d"},"tags":[],"updated_at":"2025-05-05T18:12:35.551809Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-05-05T18:12:35.236292Z","id":"f49fc359-4eca-4b42-8132-e00b7107c2f5","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"b7350a3c-3425-49d8-953f-0f8cd0d6d720","mac_address":"02:00:00:1A:2F:29","name":"scw-test-pool-placeme-test-pool-placeme-ea5bca","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"b20ee6b8-39cc-4a09-bc08-decd3a87eae2"},"tags":[],"updated_at":"2025-05-05T18:12:35.236292Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.934569ms
[...]
    - id: 151
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/fef6a1b1-a938-404f-a3ad-64965bcc2bc8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"fef6a1b1-a938-404f-a3ad-64965bcc2bc8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 44.072568ms
    - id: 152
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c533df4e-7f50-4d52-a5c9-e01b3b58ca9c?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 155
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"532258ed-5990-417a-ac0c-ce2037dc00a5","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/532258ed-5990-417a-ac0c-ce2037dc00a5
        status: 201 Created
        code: 201
        duration: 554.987462ms
    - id: 156
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/532258ed-5990-417a-ac0c-ce2037dc00a5
        method: GET
      response:
        body: '{"placement_group":{"id":"532258ed-5990-417a-ac0c-ce2037dc00a5","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.5225ms
[...]
    - id: 161
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:19:37.145276Z","dhcp_enabled":true,"id":"3951d79f-10bf-47[...]
    - id: 162
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/3951d79f-10bf-47d2-abf0-f9aafb2d1c2b
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:19:37.145276Z","dhcp_enabled":true,"id":"3951d79f-10bf-47d2-abf0-f9aafb2d1c2b","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2025-05-05T18:19:37.145276Z","id":"3ff4e8a4-f670-4a7c-ad6d-c338b3467e74","private_network_id":"3951d79f-10bf-47d2-abf0-f9aafb2d1c2b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-05T18:19:37.145276Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"},{"created_at":"2025-05-05T18:19:37.145276Z","id":"9adb46a1-8c91-4c76-a1d2-1dfb7710deea","private_network_id":"3951d79f-10bf-47d2-abf0-f9aafb2d1c2b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd68:d440:21c4:2c32::/64","updated_at":"2025-05-05T18:19:37.145276Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}],"tags":[],"updated_at":"2025-05-05T18:19:37.145276Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.984758ms
    - id: 163
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 164
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cedacc23-0c8d-47eb-bbba-8611784e6a63
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpackin[...]
[...]
    - id: 166
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cedacc23-0c8d-47eb-bbba-8611784e6a63/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.880055ms
[...]
    - id: 168
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cedacc23-0c8d-47eb-bbba-8611784e6a63/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 170
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"532258ed-5990-417a-ac0c-ce2037dc00a5","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cedacc23-0c8d-47eb-bbba-8611784e6a63/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"cedacc23-0c8d-47eb-bbba-8611784e6a63","container_runtime":"containerd","created_at":"2025-05-05T18:19:44.321928Z","id":"0ab0b416-a9df-4912-8d5c-718a3909ab7d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"532258ed-5990-417a-ac0c-ce2037dc00a5","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:19:44.321928Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 855.120796ms
    - id: 171
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/0ab0b416-a9df-4912-8d5c-718a3909ab7d
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"cedacc23-0c8d-47eb-bbba-8611784e6a63","container_runtime":"containerd","created_at":"2025-05-05T18:19:44.321928Z","id":"0ab0b416-a9df-4912-8d5c-718a3909ab7d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"532258ed-5990-417a-ac0c-ce2037dc00a5","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:19:44.321928Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.332266ms
[...]
    - id: 249
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cedacc23-0c8d-47eb-bbba-8611784e6a63/nodes?order_by=created_at_asc&page=1&pool_id=0ab0b416-a9df-4912-8d5c-718a3909ab7d&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"cedacc23-0c8d-47eb-bbba-8611784e6a63","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:21:44.615049Z","error_message":"","id":"1b152138-741b-4957-8271-a402870e9654","name":"scw-test-pool-placeme-test-pool-placeme-1b1521","pool_id":"0ab0b416-a9df-4912-8d5c-718a3909ab7d","provider_id":"scaleway://instance/nl-ams-2/f7e2da92-f40f-475a-8f1c-afdbecd5e74f","public_ip_v4":"51.158.236.112","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2025-05-05T18:26:05.585870Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.025316ms
    - id: 250
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&resource_name=scw-test-pool-placeme-test-pool-placeme-1b1521&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd68:d440:21c4:2c32:1805:2a55:4a80:189/64","created_at":"2025-05-05T18:21:49.452376Z","id":"26f30098-eee6-4245-976c-086aa31eb7c3","is_ipv6":[...]
[...]
    - id: 264
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cedacc23-0c8d-47eb-bbba-8611784e6a63/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_etcd_size":55000000,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.694742ms
[...]
    - id: 323
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cedacc23-0c8d-47eb-bbba-8611784e6a63?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
