---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T15:41:38.102101Z","dhcp_enabled":true,"id":"2c7801d4-dcdf-47eb-806e-3cd285aa9499","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:38.102101Z","id":"5c9c4534-1cff-46a5-8b0d-b05e91264b7a","subnet":"172.17.64.0/22","updated_at":"2024-04-08T15:41:38.102101Z"},{"created_at":"2024-04-08T15:41:38.102101Z","id":"50840980-9ee1-4735-bd4a-57ec14b2e662","subnet":"fd5f:519c:6d46:302::/64","updated_at":"2024-04-08T15:41:38.102101Z"}],"tags":[],"updated_at":"2024-04-08T15:41:38.102101Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 996.904433ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2c7801d4-dcdf-47eb-806e-3cd285aa9499
        method: GET
      response:
        body: '{"created_at":"2024-04-08T15:41:38.102101Z","dhcp_enabled":true,"id":"2c7801d4-dcdf-47eb-806e-3cd285aa9499","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:38.102101Z","id":"5c9c4534-1cff-46a5-8b0d-b05e91264b7a","subnet":"172.17.64.0/22","updated_at":"2024-04-08T15:41:38.102101Z"},{"created_at":"2024-04-08T15:41:38.102101Z","id":"50840980-9ee1-4735-bd4a-57ec14b2e662","subnet":"fd5f:519c:6d46:302::/64","updated_at":"2024-04-08T15:41:38.102101Z"}],"tags":[],"updated_at":"2024-04-08T15:41:38.102101Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.086589ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"2c7801d4-dcdf-47eb-806e-3cd285aa9499"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://e50791e1-7b2e-4d41-9476-d8577b985e0d.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-08T15:41:40.262322812Z","created_at":"2024-04-08T15:41:40.262322812Z","description":"","dns_wildcard":"*.e50791e1-7b2e-4d41-9476-d8577b985e0d.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"e50791e1-7b2e-4d41-9476-d8577b985e0d","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"2c7801d4-dcdf-47eb-806e-3cd285aa9499","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-04-08T15:41:40.280185422Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.667048143s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.015063ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYZE9la1V4VGtSRk1FMVdiMWhFVkUwd1RVUlJkMDU2UlRGT1JFVXdUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"e50791e1-7b2e-4d41-9476-d8577b985e0d","container_runtime":"containerd","created_at":"2024-04-08T15:41:45.810542Z","id":"a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-04-08T15:41:45.820939429Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.77318ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"e50791e1-7b2e-4d41-9476-d8577b985e0d","container_runtime":"containerd","created_at":"2024-04-08T15:41:45.810542Z","id":"a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-04-08T15:41:45.820939Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.594706ms
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d/nodes?order_by=created_at_asc&page=1&pool_id=a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"e50791e1-7b2e-4d41-9476-d8577b985e0d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:47:01.879270Z","error_message":null,"id":"7ce4011a-b46c-43b6-a1b4-8d3a03c3a3ba","name":"scw-test-pool-minimal-test-pool-minimal-7ce401","pool_id":"a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a","provider_id":"scaleway://instance/fr-par-1/7cdbaf7f-985e-4766-b153-ccab1dbd41b9","public_ip_v4":"212.47.237.129","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:48:55.707125Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.653866ms
[...]
    - id: 102
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d/nodes?order_by=created_at_asc&pool_id=a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"e50791e1-7b2e-4d41-9476-d8577b985e0d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:47:01.879270Z","error_message":null,"id":"7ce4011a-b46c-43b6-a1b4-8d3a03c3a3ba","name":"scw-test-pool-minimal-test-pool-minimal-7ce401","pool_id":"a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a","provider_id":"scaleway://instance/fr-par-1/7cdbaf7f-985e-4766-b153-ccab1dbd41b9","public_ip_v4":"212.47.237.129","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:48:55.707125Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.811146ms
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7cdbaf7f-985e-4766-b153-ccab1dbd41b9
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64 mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2024-04-08T15:47:02.808358+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-7ce401","id":"7cdbaf7f-985e-4766-b153-ccab1dbd41b9","image":{"arch":"x86_64","creation_date":"2024-03-06T10:45:29.062159+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"814de558-35c6-4048-a84e-8602a4dd9ac7","modification_date":"2024-03-06T14:16:35.219919+00:00","name":"k8s_base_node_2024-03-05","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"7b206b8a-defd-4387-ab8e-f2e5eb1f800b","name":"k8s_base_node_2024-03-05","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:64c:302::1","gateway":"2001:bc8:64c:302::","netmask":"64"},"location":{"cluster_id":"45","hypervisor_id":"104","node_id":"3","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:4a:e3:57","maintenances":[],"modification_date":"2024-04-08T15:47:16.514829+00:00","name":"scw-test-pool-minimal-test-pool-minimal-7ce401","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.66.27.197","private_nics":[{"creation_date":"2024-04-08T15:47:03.449169+00:00","id":"9a02cd3d-9b0e-432b-bad0-296b2eeb2758","mac_address":"02:00:00:19:ae:c1","modification_date":"2024-04-08T15:47:03.931886+00:00","private_network_id":"2c7801d4-dcdf-47eb-806e-3cd285aa9499","server_id":"7cdbaf7f-985e-4766-b153-ccab1dbd41b9","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"212.47.237.129","dynamic":true,"family":"inet","gateway":null,"id":"8919704c-c4af-492e-a3ce-bdedffedb993","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"212.47.237.129","dynamic":true,"family":"inet","gateway":null,"id":"8919704c-c4af-492e-a3ce-bdedffedb993","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"47c56f62-5479-425e-8d30-f1deb1afaf80","name":"kubernetes e50791e1-7b2e-4d41-9476-d8577b985e0d"},"state":"running","state_detail":"booting kernel","tags":["kapsule=e50791e1-7b2e-4d41-9476-d8577b985e0d","pool=a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=7ce4011a-b46c-43b6-a1b4-8d3a03c3a3ba"],"volumes":{"0":{"boot":false,"creation_date":"2024-04-08T15:47:02.808358+00:00","export_uri":null,"id":"96af69d8-f963-4802-b4e9-5930eb8161d4","modification_date":"2024-04-08T15:47:02.808358+00:00","name":"k8s_base_node_2024-03-05","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"7cdbaf7f-985e-4766-b153-ccab1dbd41b9","name":"scw-test-pool-minimal-test-pool-minimal-7ce401"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.848001ms
[...]
    - id: 147
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d/nodes?order_by=created_at_asc&pool_id=a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"e50791e1-7b2e-4d41-9476-d8577b985e0d","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:47:01.879270Z","error_message":null,"id":"7ce4011a-b46c-43b6-a1b4-8d3a03c3a3ba","name":"scw-test-pool-minimal-test-pool-minimal-7ce401","pool_id":"a9f0372c-f9a6-49a7-95fc-e0c5d0603a9a","provider_id":"scaleway://instance/fr-par-1/7cdbaf7f-985e-4766-b153-ccab1dbd41b9","public_ip_v4":"212.47.237.129","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:51:00.790147Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.824128ms
[...]
    - id: 170
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/053948bb-871c-489b-b1f3-3d4567aeab18
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"053948bb-871c-489b-b1f3-3d4567aeab18","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.339592ms
[...]
    - id: 189
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e50791e1-7b2e-4d41-9476-d8577b985e0d?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
