---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:07:07.035692Z","dhcp_enabled":true,"id":"289b1a58-09d2-409a-ac45-deba9e279e4b","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:07:07.035692Z","id":"f6141ed2-c30f-46bc-a418-2c4402972718","private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-05T18:07:07.035692Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:07:07.035692Z","id":"95048c49-e4ac-41bf-876b-0e530f63ae21","private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:aa1::/64","updated_at":"2025-05-05T18:07:07.035692Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:07:07.035692Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 636.884643ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/289b1a58-09d2-409a-ac45-deba9e279e4b
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:07:07.035692Z","dhcp_enabled":true,"id":"289b1a58-09d2-409a-ac45-deba9e279e4b","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:07:07.035692Z","id":"f6141ed2-c30f-46bc-a418-2c4402972718","private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-05T18:07:07.035692Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:07:07.035692Z","id":"95048c49-e4ac-41bf-876b-0e530f63ae21","private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:aa1::/64","updated_at":"2025-05-05T18:07:07.035692Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:07:07.035692Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.800822ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://751910ab-a8e0-402d-9383-c423525be006.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-05T18:07:07.953920Z","created_at":"2025-05-05T18:07:07.953907Z","description":"","dns_wildcard":"*.751910ab-a8e0-402d-9383-c423525be006.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"751910ab-a8e0-402d-9383-c423525be006","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-05-05T18:07:07.953907Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.324578ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751910ab-a8e0-402d-9383-c423525be006
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751910ab-a8e0-402d-9383-c423525be006/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.108136ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751910ab-a8e0-402d-9383-c423525be006/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGRPUkVVMFRVUmpkMDlXYjFoRVZFMHhUVVJWZDA1RVJUUk5SR04zVDFadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751910ab-a8e0-402d-9383-c423525be006/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"751910ab-a8e0-402d-9383-c423525be006","container_runtime":"containerd","created_at":"2025-05-05T18:07:13.520382Z","id":"94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:07:13.520382Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.602405ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"751910ab-a8e0-402d-9383-c423525be006","container_runtime":"containerd","created_at":"2025-05-05T18:07:13.520382Z","id":"94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:07:13.520382Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.736152ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751910ab-a8e0-402d-9383-c423525be006/nodes?order_by=created_at_asc&page=1&pool_id=94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"751910ab-a8e0-402d-9383-c423525be006","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:10:19.206874Z","error_message":"","id":"0fb78193-3cae-46f2-a4bf-320ce7e77e7d","name":"scw-test-k8s-public-i-test-k8s-public-i-0fb781","pool_id":"94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d","provider_id":"scaleway://instance/fr-par-1/4a9432b2-d807-45b2-930d-ca32656a810e","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:13:45.668101Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.466289ms
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-k8s-public-i-test-k8s-public-i-0fb781&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:aa1:505:c352:f99e:f992/64","created_at":"2025-05-05T18:10:23.159239Z","id":"b565bef8-bb4b-4937-8797-05833d792132","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"e993e322-d3f4-4bac-8f5f-f77b7ecde2b5","mac_address":"02:00:00:1D:D8:A7","name":"scw-test-k8s-public-i-test-k8s-public-i-0fb781","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"95048c49-e4ac-41bf-876b-0e530f63ae21"},"tags":[],"updated_at":"2025-05-05T18:10:23.159239Z","zone":null},{"address":"172.16.4.3/22","created_at":"2025-05-05T18:10:22.805720Z","id":"94f3fbdd-c556-4239-aadb-69c5eb92fe4e","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"e993e322-d3f4-4bac-8f5f-f77b7ecde2b5","mac_address":"02:00:00:1D:D8:A7","name":"scw-test-k8s-public-i-test-k8s-public-i-0fb781","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"f6141ed2-c30f-46bc-a418-2c4402972718"},"tags":[],"updated_at":"2025-05-05T18:10:22.805720Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.797521ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751910ab-a8e0-402d-9383-c423525be006/nodes?order_by=created_at_asc&pool_id=94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"751910ab-a8e0-402d-9383-c423525be006","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:10:19.206874Z","error_message":"","id":"0fb78193-3cae-46f2-a4bf-320ce7e77e7d","name":"scw-test-k8s-public-i-test-k8s-public-i-0fb781","pool_id":"94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d","provider_id":"scaleway://instance/fr-par-1/4a9432b2-d807-45b2-930d-ca32656a810e","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:13:45.668101Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.999368ms
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4a9432b2-d807-45b2-930d-ca32656a810e
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-05-05T18:10:21.262363+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-0fb781","id":"4a9432b2-d807-45b2-930d-ca32656a810e","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"12","hypervisor_id":"401","node_id":"7","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ab:63:e9","maintenances":[],"modification_date":"2025-05-05T18:10:26.041480+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-0fb781","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-05-05T18:10:22.420427+00:00","id":"e993e322-d3f4-4bac-8f5f-f77b7ecde2b5","ipam_ip_ids":["94f3fbdd-c556-4239-aadb-69c5eb92fe4e","b565bef8-bb4b-4937-8797-05833d792132"],"mac_address":"02:00:00:1d:d8:a7","modification_date":"2025-05-05T18:10:22.560584+00:00","private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","server_id":"4a9432b2-d807-45b2-930d-ca32656a810e","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.79.133","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"dc0ca1fe-a12f-4b6f-89c8-a83424fcf017","ipam_id":"9dfdbeb0-dee1-4be6-b83d-bfd02771179d","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=751910ab-a8e0-402d-9383-c423525be006","node-name=scw-test-k8s-public-i-test-k8s-public-i-0fb781"]},"public_ips":[{"address":"51.158.79.133","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"dc0ca1fe-a12f-4b6f-89c8-a83424fcf017","ipam_id":"9dfdbeb0-dee1-4be6-b83d-bfd02771179d","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=751910ab-a8e0-402d-9383-c423525be006","node-name=scw-test-k8s-public-i-test-k8s-public-i-0fb781"]},{"address":"2001:bc8:710:722b:dc00:ff:feab:63e9","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feab:63ea","id":"971b3ea2-590d-46ab-97f1-dbe860c2675d","ipam_id":"1600a022-aeb0-4a87-8f5e-f581d2b9f253","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=751910ab-a8e0-402d-9383-c423525be006","node-name=scw-test-k8s-public-i-test-k8s-public-i-0fb781"]}],"routed_ip_enabled":true,"security_group":{"id":"406380fd-734d-4533-9037-423a7967eb34","name":"kubernetes 751910ab-a8e0-402d-9383-c423525be006"},"state":"running","state_detail":"booted","tags":["kapsule=751910ab-a8e0-402d-9383-c423525be006","pool=94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=0fb78193-3cae-46f2-a4bf-320ce7e77e7d"],"volumes":{"0":{"boot":true,"id":"11d4a196-d3f7-4f90-b123-b8b81e3be6c9","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.14091ms
[...]
    - id: 164
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"94bea7c3-6c86-4e4b-ac6a-d26aabcbe40d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.535042ms
    - id: 165
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-05T18:18:16.905872Z","gateway_networks":[],"id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","ipv4":{"address":"51.158.71.77","created_at":"2025-05-05T18:18:16.876926Z","gateway_id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","id":"eea622cd-b5d0-4ad2-8210-62389e499808","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"77-71-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-05T18:18:16.876926Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-05T18:18:16.905872Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.833976554s
    - id: 166
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4177f6bf-a921-432f-bbe6-8959cf91b7a7
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-05T18:18:16.905872Z","gateway_networks":[],"id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","ipv4":{"address":"51.158.71.77","created_at":"2025-05-05T18:18:16.876926Z","gateway_id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","id":"eea622cd-b5d0-4ad2-8210-62389e499808","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"77-71-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-05T18:18:16.876926Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-05T18:18:16.958023Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.587782ms
[...]
    - id: 170
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:18:22.898703Z","gateway_id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","id":"263954c4-142d-4e3e-8182-530237f3227d","ipam_ip_id":"801126d4-5313-441c-a93e-4097995b9639","masquerade_enabled":true,"private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","push_default_route":true,"status":"created","updated_at":"2025-05-05T18:18:22.898703Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 871.711646ms
[...]
    - id: 175
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/263954c4-142d-4e3e-8182-530237f3227d
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:18:22.898703Z","gateway_id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","id":"263954c4-142d-4e3e-8182-530237f3227d","ipam_ip_id":"801126d4-5313-441c-a93e-4097995b9639","mac_address":"02:00:00:1E:9C:A2","masquerade_enabled":true,"private_network_id":"289b1a58-09d2-409a-ac45-deba9e279e4b","push_default_route":true,"status":"ready","updated_at":"2025-05-05T18:18:33.626136Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.535586ms
[...]
    - id: 328
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751910ab-a8e0-402d-9383-c423525be006?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 336
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4177f6bf-a921-432f-bbe6-8959cf91b7a7?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-05T18:18:16.905872Z","gateway_networks":[],"id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","ipv4":{"address":"51.158.71.77","created_at":"2025-05-05T18:18:16.876926Z","gateway_id":"4177f6bf-a921-432f-bbe6-8959cf91b7a7","id":"eea622cd-b5d0-4ad2-8210-62389e499808","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"77-71-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-05T18:18:16.876926Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-05T18:29:46.682700Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.728329ms
[...]
