---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 483.008334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:46:53.295598Z","dhcp_enabled":true,"id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:53.295598Z","id":"7fc27aa7-da8b-4563-b809-059992f9636c","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-24T14:46:53.295598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:53.295598Z","id":"8fa66604-4334-48b5-a1db-051bbd824f71","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4715::/64","updated_at":"2025-01-24T14:46:53.295598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:53.295598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 561.536792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/37d8cce0-0e9b-4d79-918a-ea5d70588395
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:46:53.295598Z","dhcp_enabled":true,"id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:53.295598Z","id":"7fc27aa7-da8b-4563-b809-059992f9636c","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-24T14:46:53.295598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:53.295598Z","id":"8fa66604-4334-48b5-a1db-051bbd824f71","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4715::/64","updated_at":"2025-01-24T14:46:53.295598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:53.295598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.7655ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7b892c19-45b9-4e67-8eb8-606429d644cf.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-24T14:46:54.168224Z","created_at":"2025-01-24T14:46:54.168214Z","description":"","dns_wildcard":"*.7b892c19-45b9-4e67-8eb8-606429d644cf.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7b892c19-45b9-4e67-8eb8-606429d644cf","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-01-24T14:46:54.168214Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.852875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b892c19-45b9-4e67-8eb8-606429d644cf
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b892c19-45b9-4e67-8eb8-606429d644cf/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.818458ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b892c19-45b9-4e67-8eb8-606429d644cf/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVSWGxOZWtVd1RrUlpNVTVXYjFoRVZFMHhUVVJGZVUxNlJUQk9SRmt4VGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b892c19-45b9-4e67-8eb8-606429d644cf/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7b892c19-45b9-4e67-8eb8-606429d644cf","container_runtime":"containerd","created_at":"2025-01-24T14:46:59.701312Z","id":"934e706e-650b-48a1-b4b2-08377d2f3a24","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:46:59.701312Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.943375ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/934e706e-650b-48a1-b4b2-08377d2f3a24
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7b892c19-45b9-4e67-8eb8-606429d644cf","container_runtime":"containerd","created_at":"2025-01-24T14:46:59.701312Z","id":"934e706e-650b-48a1-b4b2-08377d2f3a24","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:46:59.701312Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.012167ms
[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b892c19-45b9-4e67-8eb8-606429d644cf/nodes?order_by=created_at_asc&page=1&pool_id=934e706e-650b-48a1-b4b2-08377d2f3a24&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"7b892c19-45b9-4e67-8eb8-606429d644cf","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:11.587931Z","error_message":"","id":"68d4ac2c-c955-4890-b431-904419130988","name":"scw-test-k8s-public-i-test-k8s-public-i-68d4ac","pool_id":"934e706e-650b-48a1-b4b2-08377d2f3a24","provider_id":"scaleway://instance/fr-par-1/5445ee5e-ea6f-41f6-a68f-d059efab381e","public_ip_v4":"163.172.184.73","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:37.205681Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.464625ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b892c19-45b9-4e67-8eb8-606429d644cf/nodes?order_by=created_at_asc&pool_id=934e706e-650b-48a1-b4b2-08377d2f3a24&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"7b892c19-45b9-4e67-8eb8-606429d644cf","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:11.587931Z","error_message":"","id":"68d4ac2c-c955-4890-b431-904419130988","name":"scw-test-k8s-public-i-test-k8s-public-i-68d4ac","pool_id":"934e706e-650b-48a1-b4b2-08377d2f3a24","provider_id":"scaleway://instance/fr-par-1/5445ee5e-ea6f-41f6-a68f-d059efab381e","public_ip_v4":"163.172.184.73","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:37.205681Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.885875ms
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/5445ee5e-ea6f-41f6-a68f-d059efab381e
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-01-24T14:50:13.460203+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-68d4ac","id":"5445ee5e-ea6f-41f6-a68f-d059efab381e","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"28","hypervisor_id":"501","node_id":"21","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:8f:86:27","maintenances":[],"modification_date":"2025-01-24T14:50:19.552781+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-68d4ac","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-01-24T14:50:14.755806+00:00","id":"ed9e021b-5c47-4326-b283-997bcd5fd992","ipam_ip_ids":["036a513e-c6fb-4ea7-8ef0-f7c640ce1ac7","0813a303-759a-4a5e-9544-4749dafbac72"],"mac_address":"02:00:00:19:e9:2e","modification_date":"2025-01-24T14:50:14.937330+00:00","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","server_id":"5445ee5e-ea6f-41f6-a68f-d059efab381e","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"163.172.184.73","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"78e88e26-6047-4670-9c65-d34f3eeb338d","ipam_id":"e3b38427-57b2-4f68-87f6-e6e7185e50f6","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=7b892c19-45b9-4e67-8eb8-606429d644cf","node-name=scw-test-k8s-public-i-test-k8s-public-i-68d4ac"]},"public_ips":[{"address":"163.172.184.73","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"78e88e26-6047-4670-9c65-d34f3eeb338d","ipam_id":"e3b38427-57b2-4f68-87f6-e6e7185e50f6","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=7b892c19-45b9-4e67-8eb8-606429d644cf","node-name=scw-test-k8s-public-i-test-k8s-public-i-68d4ac"]},{"address":"2001:bc8:710:a9cf:dc00:ff:fe8f:8627","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe8f:8628","id":"00d759df-c6f1-4823-84fa-cb1cd78f9466","ipam_id":"e5a5524f-cd16-4c91-a36c-bc570cbe6d04","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=7b892c19-45b9-4e67-8eb8-606429d644cf","node-name=scw-test-k8s-public-i-test-k8s-public-i-68d4ac"]}],"routed_ip_enabled":true,"security_group":{"id":"57f18af2-3429-4c5c-8a6e-dea92a697936","name":"kubernetes 7b892c19-45b9-4e67-8eb8-606429d644cf"},"state":"running","state_detail":"booted","tags":["kapsule=7b892c19-45b9-4e67-8eb8-606429d644cf","pool=934e706e-650b-48a1-b4b2-08377d2f3a24","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=68d4ac2c-c955-4890-b431-904419130988"],"volumes":{"0":{"boot":true,"id":"876ad043-fe89-4147-a8a4-c0029afd3467","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.583167ms
[...]
    - id: 150
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/934e706e-650b-48a1-b4b2-08377d2f3a24
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"934e706e-650b-48a1-b4b2-08377d2f3a24","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.446875ms
    - id: 151
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.0.1","created_at":"2025-01-24T14:57:03.311768Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b84f7dae-2b2a-4ba7-aece-5d381dccac59","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-24T14:57:03.311768Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.341917ms
    - id: 152
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/b84f7dae-2b2a-4ba7-aece-5d381dccac59
        method: GET
      response:
        body: '{"address":"192.168.0.1","created_at":"2025-01-24T14:57:03.311768Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b84f7dae-2b2a-4ba7-aece-5d381dccac59","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-24T14:57:03.311768Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.323833ms
    - id: 153
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:57:05.316415Z","gateway_networks":[],"id":"c96c4bda-9548-4d85-9e10-6a769af5a06c","ip":{"address":"51.15.238.232","created_at":"2025-01-24T14:57:05.290673Z","gateway_id":"c96c4bda-9548-4d85-9e10-6a769af5a06c","id":"67a9dd2d-157e-44c5-8bed-ff60b050f1a5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"232-238-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:57:05.290673Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:57:05.316415Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.095087125s
    - id: 154
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c96c4bda-9548-4d85-9e10-6a769af5a06c
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:57:05.316415Z","gateway_networks":[],"id":"c96c4bda-9548-4d85-9e10-6a769af5a06c","ip":{"address":"51.15.238.232","created_at":"2025-01-24T14:57:05.290673Z","gateway_id":"c96c4bda-9548-4d85-9e10-6a769af5a06c","id":"67a9dd2d-157e-44c5-8bed-ff60b050f1a5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"232-238-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:57:05.290673Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:57:05.357382Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.011541ms
[...]
    - id: 158
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"c96c4bda-9548-4d85-9e10-6a769af5a06c","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"b84f7dae-2b2a-4ba7-aece-5d381dccac59"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:57:12.365016Z","dhcp":{"address":"192.168.0.1","created_at":"2025-01-24T14:57:03.311768Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b84f7dae-2b2a-4ba7-aece-5d381dccac59","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-24T14:57:03.311768Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"c96c4bda-9548-4d85-9e10-6a769af5a06c","id":"50d7e15a-073c-4601-86e8-f9f945319d42","ipam_config":null,"mac_address":null,"private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","status":"created","updated_at":"2025-01-24T14:57:12.365016Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.003243959s
[...]
    - id: 163
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/50d7e15a-073c-4601-86e8-f9f945319d42
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:57:12.365016Z","dhcp":{"address":"192.168.0.1","created_at":"2025-01-24T14:57:03.311768Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b84f7dae-2b2a-4ba7-aece-5d381dccac59","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-24T14:57:03.311768Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"c96c4bda-9548-4d85-9e10-6a769af5a06c","id":"50d7e15a-073c-4601-86e8-f9f945319d42","ipam_config":null,"mac_address":"02:00:00:1D:0C:9A","private_network_id":"37d8cce0-0e9b-4d79-918a-ea5d70588395","status":"ready","updated_at":"2025-01-24T14:57:23.443635Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.460833ms
[...]
    - id: 371
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b892c19-45b9-4e67-8eb8-606429d644cf?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
    - id: 376
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/50d7e15a-073c-4601-86e8-f9f945319d42?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.785042ms
[...]
    - id: 382
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c96c4bda-9548-4d85-9e10-6a769af5a06c?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 58.948375ms
[...]
