---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"b1183b6c-be9a-470d-93d1-9b8a64dea362","name":"test-pool-placement-group","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b1183b6c-be9a-470d-93d1-9b8a64dea362
        status: 201 Created
        code: 201
        duration: 165.324509ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b1183b6c-be9a-470d-93d1-9b8a64dea362
        method: GET
      response:
        body: '{"placement_group":{"id":"b1183b6c-be9a-470d-93d1-9b8a64dea362","name":"test-pool-placement-group","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.871092ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:18:10.005226Z","dhcp_enabled":true,"id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613","name":"test-pool-placement-group","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:18:10.005226Z","id":"a4ff69e9-f4a5-42f0-89d8-95c8bc9e5463","private_network_id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2024-10-03T18:18:10.005226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:18:10.005226Z","id":"a71b8c1e-3415-4753-b269-3d6586a37269","private_network_id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7501::/64","updated_at":"2024-10-03T18:18:10.005226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:18:10.005226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 556.695721ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b193d2d6-e00c-4cd0-87e4-b4f2e3dff613
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:18:10.005226Z","dhcp_enabled":true,"id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613","name":"test-pool-placement-group","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:18:10.005226Z","id":"a4ff69e9-f4a5-42f0-89d8-95c8bc9e5463","private_network_id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2024-10-03T18:18:10.005226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:18:10.005226Z","id":"a71b8c1e-3415-4753-b269-3d6586a37269","private_network_id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:7501::/64","updated_at":"2024-10-03T18:18:10.005226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:18:10.005226Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.162121ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.30.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://c157b2ba-5b55-42d5-8a11-338c962deec5.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-10-03T18:18:11.370268Z","created_at":"2024-10-03T18:18:11.370256Z","description":"","dns_wildcard":"*.c157b2ba-5b55-42d5-8a11-338c962deec5.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"c157b2ba-5b55-42d5-8a11-338c962deec5","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"b193d2d6-e00c-4cd0-87e4-b4f2e3dff613","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2024-10-03T18:18:11.370256Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 899.996758ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c157b2ba-5b55-42d5-8a11-338c962deec5
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c157b2ba-5b55-42d5-8a11-338c962deec5/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.224966ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c157b2ba-5b55-42d5-8a11-338c962deec5/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFVUVhkTmFrVTBUVlJuZUUxc2IxaEVWRTB3VFZSQmQwMXFSVFJOVkdkNFRXeHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"b1183b6c-be9a-470d-93d1-9b8a64dea362","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c157b2ba-5b55-42d5-8a11-338c962deec5/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"c157b2ba-5b55-42d5-8a11-338c962deec5","container_runtime":"containerd","created_at":"2024-10-03T18:18:16.816552Z","id":"e4cbbf46-9c02-4b1e-9416-06bdba705e8f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"b1183b6c-be9a-470d-93d1-9b8a64dea362","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:18:16.816552Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.347993ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e4cbbf46-9c02-4b1e-9416-06bdba705e8f
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"c157b2ba-5b55-42d5-8a11-338c962deec5","container_runtime":"containerd","created_at":"2024-10-03T18:18:16.816552Z","id":"e4cbbf46-9c02-4b1e-9416-06bdba705e8f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"b1183b6c-be9a-470d-93d1-9b8a64dea362","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:18:16.816552Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.339709ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c157b2ba-5b55-42d5-8a11-338c962deec5/nodes?order_by=created_at_asc&page=1&pool_id=e4cbbf46-9c02-4b1e-9416-06bdba705e8f&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"c157b2ba-5b55-42d5-8a11-338c962deec5","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:21:15.960300Z","error_message":null,"id":"de00e4c8-7d2d-4e09-8a0b-619b7cc59846","name":"scw-test-pool-placeme-test-pool-placeme-de00e4","pool_id":"e4cbbf46-9c02-4b1e-9416-06bdba705e8f","provider_id":"scaleway://instance/fr-par-1/52d8eb2f-b6a7-4056-8275-c84ccddc50c6","public_ip_v4":"212.47.236.112","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:23:19.845292Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.895743ms
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-placeme-test-pool-placeme-de00e4&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:7501:be4d:ae29:f69a:c39/64","created_at":"2024-10-03T18:21:19.827346Z","id":"c342ad15-5b11-4fba-a321-36f436bfdafd","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"951bdf88-c64f-461c-9150-b74572bbd8cf","mac_address":"02:00:00:1D:9F:C9","name":"scw-test-pool-placeme-test-pool-placeme-de00e4","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"a71b8c1e-3415-4753-b269-3d6586a37269"},"tags":[],"updated_at":"2024-10-03T18:21:19.827346Z","zone":null},{"address":"172.16.108.2/22","created_at":"2024-10-03T18:21:19.474170Z","id":"bb15ba54-82a0-4ffc-8a48-b7c734b5bfdf","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"951bdf88-c64f-461c-9150-b74572bbd8cf","mac_address":"02:00:00:1D:9F:C9","name":"scw-test-pool-placeme-test-pool-placeme-de00e4","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"a4ff69e9-f4a5-42f0-89d8-95c8bc9e5463"},"tags":[],"updated_at":"2024-10-03T18:21:19.474170Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.320418ms
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e4cbbf46-9c02-4b1e-9416-06bdba705e8f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"e4cbbf46-9c02-4b1e-9416-06bdba705e8f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.806698ms
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c157b2ba-5b55-42d5-8a11-338c962deec5?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"b0d556f2-7d96-40cf-8993-46c78b744189","name":"test-pool-placement-group","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b0d556f2-7d96-40cf-8993-46c78b744189
        status: 201 Created
        code: 201
        duration: 218.314799ms
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b0d556f2-7d96-40cf-8993-46c78b744189
        method: GET
      response:
        body: '{"placement_group":{"id":"b0d556f2-7d96-40cf-8993-46c78b744189","name":"test-pool-placement-group","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.611515ms
[...]
    - id: 107
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:23:48.965633Z","dhcp_enabled":true,"id":"c45169a0-7ba3-43[...]
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/c45169a0-7ba3-43ff-a958-472949eb43af
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:23:48.965633Z","dhcp_enabled":true,"id":"c45169a0-7ba3-43ff-a958-472949eb43af","name":"test-pool-placement-group","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-03T18:23:48.965633Z","id":"b98d4eb0-9af4-4f30-a420-bfe792b9b05d","private_network_id":"c45169a0-7ba3-43ff-a958-472949eb43af","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2024-10-03T18:23:48.965633Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"},{"created_at":"2024-10-03T18:23:48.965633Z","id":"476315c8-7981-4721-b45a-912b333b58cc","private_network_id":"c45169a0-7ba3-43ff-a958-472949eb43af","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:9f30::/64","updated_at":"2024-10-03T18:23:48.965633Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}],"tags":[],"updated_at":"2024-10-03T18:23:48.965633Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.935622ms
    - id: 109
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.30.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/f6c8892d-6794-42f1-81c4-523bff0f863a
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random[...]
[...]
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/f6c8892d-6794-42f1-81c4-523bff0f863a/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.849852ms
[...]
    - id: 115
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/f6c8892d-6794-42f1-81c4-523bff0f863a/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 117
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"b0d556f2-7d96-40cf-8993-46c78b744189","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/f6c8892d-6794-42f1-81c4-523bff0f863a/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"f6c8892d-6794-42f1-81c4-523bff0f863a","container_runtime":"containerd","created_at":"2024-10-03T18:24:00.557651Z","id":"2449be58-517f-46fe-97ee-c237513ae79c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"b0d556f2-7d96-40cf-8993-46c78b744189","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:24:00.557651Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.695577ms
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/2449be58-517f-46fe-97ee-c237513ae79c
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"f6c8892d-6794-42f1-81c4-523bff0f863a","container_runtime":"containerd","created_at":"2024-10-03T18:24:00.557651Z","id":"2449be58-517f-46fe-97ee-c237513ae79c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"b0d556f2-7d96-40cf-8993-46c78b744189","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:24:00.557651Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.021199ms
[...]
    - id: 194
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/f6c8892d-6794-42f1-81c4-523bff0f863a/nodes?order_by=created_at_asc&page=1&pool_id=2449be58-517f-46fe-97ee-c237513ae79c&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"f6c8892d-6794-42f1-81c4-523bff0f863a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:26:54.081776Z","error_message":null,"id":"fb24703a-beee-42dd-ac86-e8911e961632","name":"scw-test-pool-placeme-test-pool-placeme-fb2470","pool_id":"2449be58-517f-46fe-97ee-c237513ae79c","provider_id":"scaleway://instance/nl-ams-2/07320b66-7ca6-4191-8ec6-270e2ecc0a7c","public_ip_v4":"51.158.240.22","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2024-10-03T18:30:10.078581Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.705977ms
    - id: 195
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&resource_name=scw-test-pool-placeme-test-pool-placeme-fb2470&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd2c:2ff0:469a:9f30:28d8:b12:2a66:bf41/64","created_at":"2024-10-03T18:26:59.476359Z","id":"a8d6715c-d153-4d46-9e6a-6e3c1e1dd743","is_ipv6":[...]
[...]
    - id: 209
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/f6c8892d-6794-42f1-81c4-523bff0f863a/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_etcd_size":55000000,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.393235ms
[...]
    - id: 220
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/f6c8892d-6794-42f1-81c4-523bff0f863a?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
