---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-silly-dubinsky","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:08.452388Z","custom_routes_propagation_enabled":true,"id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db","is_default":false,"name":"tf-vpc-silly-dubinsky","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:08.452388Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.885083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/42ae893c-84fb-4b2d-8565-3ecc8bd5e3db
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:08.452388Z","custom_routes_propagation_enabled":true,"id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db","is_default":false,"name":"tf-vpc-silly-dubinsky","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:08.452388Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.89775ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:08.571805Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"844e8249-84ef-46ed-849c-107a9d4bc198","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:08.571805Z","id":"d3ea0d84-77d4-4a60-aff6-4504b4ebbba8","private_network_id":"844e8249-84ef-46ed-849c-107a9d4bc198","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-30T09:22:08.571805Z","vpc_id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db"},{"created_at":"2025-09-30T09:22:08.571805Z","id":"739580f1-fe66-46ed-a22d-cbab77b70cab","private_network_id":"844e8249-84ef-46ed-849c-107a9d4bc198","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4eaa::/64","updated_at":"2025-09-30T09:22:08.571805Z","vpc_id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db"}],"tags":[],"updated_at":"2025-09-30T09:22:08.571805Z","vpc_id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 621.612292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/844e8249-84ef-46ed-849c-107a9d4bc198
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:08.571805Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"844e8249-84ef-46ed-849c-107a9d4bc198","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:08.571805Z","id":"d3ea0d84-77d4-4a60-aff6-4504b4ebbba8","private_network_id":"844e8249-84ef-46ed-849c-107a9d4bc198","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-30T09:22:08.571805Z","vpc_id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db"},{"created_at":"2025-09-30T09:22:08.571805Z","id":"739580f1-fe66-46ed-a22d-cbab77b70cab","private_network_id":"844e8249-84ef-46ed-849c-107a9d4bc198","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4eaa::/64","updated_at":"2025-09-30T09:22:08.571805Z","vpc_id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db"}],"tags":[],"updated_at":"2025-09-30T09:22:08.571805Z","vpc_id":"42ae893c-84fb-4b2d-8565-3ecc8bd5e3db"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.002708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.34.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"844e8249-84ef-46ed-849c-107a9d4bc198"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-09-30T09:22:09.469486Z","created_at":"2025-09-30T09:22:09.469479Z","description":"","dns_wildcard":"*.8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","name":"test-pool-minimal","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"844e8249-84ef-46ed-849c-107a9d4bc198","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-09-30T09:22:09.469479Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.389875ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.73025ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVVJyZVU5VVFUVk5ha2wzVDFadldFUlVUVEZOUkd0NVQxUkJOVTFxU1hkUFZtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVUd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","container_runtime":"containerd","created_at":"2025-09-30T09:22:15.168956Z","id":"771f6283-cd8e-49e7-9371-2cb5f3b386f5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-09-30T09:22:15.168956Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.712958ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/771f6283-cd8e-49e7-9371-2cb5f3b386f5
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","container_runtime":"containerd","created_at":"2025-09-30T09:22:15.168956Z","id":"771f6283-cd8e-49e7-9371-2cb5f3b386f5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-09-30T09:22:15.168956Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.407791ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4/nodes?order_by=created_at_asc&page=1&pool_id=771f6283-cd8e-49e7-9371-2cb5f3b386f5&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:28:49.372108Z","error_message":"","id":"ab5bd627-6009-4be1-a52a-551e2805c4e0","name":"scw-test-pool-minimal-test-pool-minimal-ab5bd6","pool_id":"771f6283-cd8e-49e7-9371-2cb5f3b386f5","provider_id":"scaleway://instance/fr-par-1/145967b5-1025-4373-ae68-3bfc2d56cfd0","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:29:53.542498Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.35375ms
[...]
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-minimal-test-pool-minimal-ab5bd6&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:4eaa:40a7:58cd:8494:9080/64","created_at":"2025-09-30T09:28:52.607864Z","id":"a14678f5-b50d-4dcf-9bbd-316badd65cc2","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"e2f3853b-7292-4d33-8742-26a6d62353c5","mac_address":"02:00:00:12:97:19","name":"scw-test-pool-minimal-test-pool-minimal-ab5bd6","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"739580f1-fe66-46ed-a22d-cbab77b70cab"},"tags":[],"updated_at":"2025-09-30T09:28:52.607864Z","zone":null},{"address":"172.17.124.3/22","created_at":"2025-09-30T09:28:52.511807Z","id":"8c300470-e347-43eb-bf9a-579237e71e35","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"e2f3853b-7292-4d33-8742-26a6d62353c5","mac_address":"02:00:00:12:97:19","name":"scw-test-pool-minimal-test-pool-minimal-ab5bd6","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"d3ea0d84-77d4-4a60-aff6-4504b4ebbba8"},"tags":[],"updated_at":"2025-09-30T09:28:52.511807Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.97ms
[...]
    - id: 111
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4/nodes?order_by=created_at_asc&pool_id=771f6283-cd8e-49e7-9371-2cb5f3b386f5&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:28:49.372108Z","error_message":"","id":"ab5bd627-6009-4be1-a52a-551e2805c4e0","name":"scw-test-pool-minimal-test-pool-minimal-ab5bd6","pool_id":"771f6283-cd8e-49e7-9371-2cb5f3b386f5","provider_id":"scaleway://instance/fr-par-1/145967b5-1025-4373-ae68-3bfc2d56cfd0","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:29:53.542498Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.298834ms
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/145967b5-1025-4373-ae68-3bfc2d56cfd0
        method: GET
      response:
        body: '{"server":{"admin_password_encrypted_value":null,"admin_password_encryption_ssh_key_id":null,"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-09-30T09:28:50.114571+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-ab5bd6","id":"145967b5-1025-4373-ae68-3bfc2d56cfd0","image":{"arch":"x86_64","creation_date":"2025-09-29T14:12:08.272227+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"ff54ca27-0181-4a39-8446-4b3c85f97898","modification_date":"2025-09-29T14:12:08.272227+00:00","name":"k8s_base_node_instance","organization":"51b656e3-4865-41e8-adbc-0c45bdd780db","project":"51b656e3-4865-41e8-adbc-0c45bdd780db","public":true,"root_volume":{"id":"db438ad9-80c6-4640-a43d-9cb076cc57bb","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"96","hypervisor_id":"401","node_id":"33","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ca:fc:df","maintenances":[],"modification_date":"2025-09-30T09:28:55.126042+00:00","name":"scw-test-pool-minimal-test-pool-minimal-ab5bd6","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-09-30T09:28:52.292933+00:00","id":"e2f3853b-7292-4d33-8742-26a6d62353c5","ipam_ip_ids":["8c300470-e347-43eb-bf9a-579237e71e35","a14678f5-b50d-4dcf-9bbd-316badd65cc2"],"mac_address":"02:00:00:12:97:19","modification_date":"2025-09-30T09:28:52.403100+00:00","private_network_id":"844e8249-84ef-46ed-849c-107a9d4bc198","server_id":"145967b5-1025-4373-ae68-3bfc2d56cfd0","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"163.172.149.221","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"5e1fe2cf-537e-4763-9643-89980a20a0b0","ipam_id":"e88cc028-d2c9-4a9a-a857-4cb90d34f6a3","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","node-name=scw-test-pool-minimal-test-pool-minimal-ab5bd6"]},"public_ips":[{"address":"163.172.149.221","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"5e1fe2cf-537e-4763-9643-89980a20a0b0","ipam_id":"e88cc028-d2c9-4a9a-a857-4cb90d34f6a3","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","node-name=scw-test-pool-minimal-test-pool-minimal-ab5bd6"]},{"address":"2001:bc8:710:a9cf:dc00:ff:feca:fcdf","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feca:fce0","id":"00d759df-c6f1-4823-84fa-cb1cd78f9466","ipam_id":"bff2e976-be9f-4f8e-a465-71281e11fbb9","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","node-name=scw-test-pool-minimal-test-pool-minimal-ab5bd6"]}],"routed_ip_enabled":true,"security_group":{"id":"d49109f7-0bad-4991-b0fb-853c658463d2","name":"Kapsule default security group"},"state":"running","state_detail":"booting kernel","tags":["kapsule=8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","pool=771f6283-cd8e-49e7-9371-2cb5f3b386f5","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=ab5bd627-6009-4be1-a52a-551e2805c4e0"],"volumes":{"0":{"boot":true,"id":"00a4f04a-5a53-4080-b196-b0ec95ebf189","state":"available","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.005042ms
[...]
    - id: 151
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-minima-test-pool-minimal--9d2b5e&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:4eaa:783d:df0:5b1e:f326/64","created_at":"2025-09-30T09:30:01.599651Z","id":"[...]
[...]
    - id: 154
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4/nodes?order_by=created_at_asc&pool_id=771f6283-cd8e-49e7-9371-2cb5f3b386f5&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:28:49.372108Z","error_message":"","id":"ab5bd627-6009-4be1-a52a-551e2805c4e0","name":"scw-test-pool-minimal-test-pool-minimal-ab5bd6","pool_id":"771f6283-cd8e-49e7-9371-2cb5f3b386f5","provider_id":"scaleway://instance/fr-par-1/145967b5-1025-4373-ae68-3bfc2d56cfd0","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:31:11.546622Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.703667ms
[...]
    - id: 198
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/60bcad8a-8b03-428c-bfca-150ef3631b9a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"60bcad8a-8b03-428c-bfca-150ef3631b9a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.773125ms
[...]
    - id: 266
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e27bf96-2e0b-42f8-85fa-71e5faf5ccd4?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
