---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-wonderful-elgamal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:41.268334Z","custom_routes_propagation_enabled":true,"id":"0353b515-6eca-4815-a179-ac7fad3262a3","is_default":false,"name":"tf-vpc-wonderful-elgamal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:41.268334Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.716417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0353b515-6eca-4815-a179-ac7fad3262a3
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:41.268334Z","custom_routes_propagation_enabled":true,"id":"0353b515-6eca-4815-a179-ac7fad3262a3","is_default":false,"name":"tf-vpc-wonderful-elgamal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:22:41.268334Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.150375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"0353b515-6eca-4815-a179-ac7fad3262a3","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:22:41.391598Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:41.391598Z","id":"a8bc6c89-83fa-43ab-b361-5799ff35dcc7","private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.188.0/22","updated_at":"2025-09-30T09:22:41.391598Z","vpc_id":"0353b515-6eca-4815-a179-ac7fad3262a3"},{"created_at":"2025-09-30T09:22:41.391598Z","id":"88efbfed-7127-47ee-8bff-ec6ff2011f42","private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bfe8::/64","updated_at":"2025-09-30T09:22:41.391598Z","vpc_id":"0353b515-6eca-4815-a179-ac7fad3262a3"}],"tags":[],"updated_at":"2025-09-30T09:22:41.391598Z","vpc_id":"0353b515-6eca-4815-a179-ac7fad3262a3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 633.243458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/600a4d63-05bc-43d1-bd9e-fb6c43d36d85
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:22:41.391598Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:22:41.391598Z","id":"a8bc6c89-83fa-43ab-b361-5799ff35dcc7","private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.188.0/22","updated_at":"2025-09-30T09:22:41.391598Z","vpc_id":"0353b515-6eca-4815-a179-ac7fad3262a3"},{"created_at":"2025-09-30T09:22:41.391598Z","id":"88efbfed-7127-47ee-8bff-ec6ff2011f42","private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bfe8::/64","updated_at":"2025-09-30T09:22:41.391598Z","vpc_id":"0353b515-6eca-4815-a179-ac7fad3262a3"}],"tags":[],"updated_at":"2025-09-30T09:22:41.391598Z","vpc_id":"0353b515-6eca-4815-a179-ac7fad3262a3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.773208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://d13dbe0a-26cd-4cb6-8a38-771de3f6715f.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T09:22:42.280238Z","created_at":"2025-09-30T09:22:42.280225Z","description":"","dns_wildcard":"*.d13dbe0a-26cd-4cb6-8a38-771de3f6715f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"d13dbe0a-26cd-4cb6-8a38-771de3f6715f","name":"test-k8s-public-ip","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-09-30T09:22:42.280226Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.583042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d13dbe0a-26cd-4cb6-8a38-771de3f6715f
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d13dbe0a-26cd-4cb6-8a38-771de3f6715f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.229375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d13dbe0a-26cd-4cb6-8a38-771de3f6715f/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFVScmVVOVVRVFZOYWtrd1RXeHZXRVJVVFRGTlJHdDVUMVJCTlUxcVNUQk5iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1I[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d13dbe0a-26cd-4cb6-8a38-771de3f6715f/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"d13dbe0a-26cd-4cb6-8a38-771de3f6715f","container_runtime":"containerd","created_at":"2025-09-30T09:22:48.232011Z","id":"d85ba64d-4b6b-49f7-afac-6532ee6cc508","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:22:48.232011Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.665625ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d85ba64d-4b6b-49f7-afac-6532ee6cc508
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"d13dbe0a-26cd-4cb6-8a38-771de3f6715f","container_runtime":"containerd","created_at":"2025-09-30T09:22:48.232011Z","id":"d85ba64d-4b6b-49f7-afac-6532ee6cc508","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:22:48.232011Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.460834ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d13dbe0a-26cd-4cb6-8a38-771de3f6715f/nodes?order_by=created_at_asc&page=1&pool_id=d85ba64d-4b6b-49f7-afac-6532ee6cc508&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"d13dbe0a-26cd-4cb6-8a38-771de3f6715f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:25:54.806775Z","error_message":"","id":"18c70418-9d4d-4d7b-9ed9-bb3dbbdcb7d9","name":"scw-test-k8s-public-i-test-k8s-public-i-18c704","pool_id":"d85ba64d-4b6b-49f7-afac-6532ee6cc508","provider_id":"scaleway://instance/fr-par-1/2cb0ded9-b6b0-4131-8630-1c00ca19ed00","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:27:05.786150Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.767333ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-k8s-public-i-test-k8s-public-i-18c704&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:bfe8:902b:1e6e:4ab5:da11/64","created_at":"2025-09-30T09:25:58.922905Z","id":"eab1f386-adfc-4d6c-9722-fcc791402cae","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"0410921c-88ce-4690-81c3-ee2303d6f94c","mac_address":"02:00:00:14:D3:C6","name":"scw-test-k8s-public-i-test-k8s-public-i-18c704","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"88efbfed-7127-47ee-8bff-ec6ff2011f42"},"tags":[],"updated_at":"2025-09-30T09:25:58.922905Z","zone":null},{"address":"172.17.188.3/22","created_at":"2025-09-30T09:25:58.813588Z","id":"12bda4f3-fc54-4973-bda3-71c3c03361b4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"0410921c-88ce-4690-81c3-ee2303d6f94c","mac_address":"02:00:00:14:D3:C6","name":"scw-test-k8s-public-i-test-k8s-public-i-18c704","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"a8bc6c89-83fa-43ab-b361-5799ff35dcc7"},"tags":[],"updated_at":"2025-09-30T09:25:58.813588Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.258667ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d13dbe0a-26cd-4cb6-8a38-771de3f6715f/nodes?order_by=created_at_asc&pool_id=d85ba64d-4b6b-49f7-afac-6532ee6cc508&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"d13dbe0a-26cd-4cb6-8a38-771de3f6715f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:25:54.806775Z","error_message":"","id":"18c70418-9d4d-4d7b-9ed9-bb3dbbdcb7d9","name":"scw-test-k8s-public-i-test-k8s-public-i-18c704","pool_id":"d85ba64d-4b6b-49f7-afac-6532ee6cc508","provider_id":"scaleway://instance/fr-par-1/2cb0ded9-b6b0-4131-8630-1c00ca19ed00","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:27:05.786150Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.122917ms
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2cb0ded9-b6b0-4131-8630-1c00ca19ed00
        method: GET
      response:
        body: '{"server":{"admin_password_encrypted_value":null,"admin_password_encryption_ssh_key_id":null,"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-09-30T09:25:55.319327+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-18c704","id":"2cb0ded9-b6b0-4131-8630-1c00ca19ed00","image":{"arch":"x86_64","creation_date":"2025-09-29T14:12:08.272227+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"ff54ca27-0181-4a39-8446-4b3c85f97898","modification_date":"2025-09-29T14:12:08.272227+00:00","name":"k8s_base_node_instance","organization":"51b656e3-4865-41e8-adbc-0c45bdd780db","project":"51b656e3-4865-41e8-adbc-0c45bdd780db","public":true,"root_volume":{"id":"db438ad9-80c6-4640-a43d-9cb076cc57bb","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"12","hypervisor_id":"101","node_id":"29","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ca:fc:c7","maintenances":[],"modification_date":"2025-09-30T09:26:01.735084+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-18c704","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-09-30T09:25:58.563713+00:00","id":"0410921c-88ce-4690-81c3-ee2303d6f94c","ipam_ip_ids":["12bda4f3-fc54-4973-bda3-71c3c03361b4","eab1f386-adfc-4d6c-9722-fcc791402cae"],"mac_address":"02:00:00:14:d3:c6","modification_date":"2025-09-30T09:25:58.706588+00:00","private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","server_id":"2cb0ded9-b6b0-4131-8630-1c00ca19ed00","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"163.172.149.221","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"5e1fe2cf-537e-4763-9643-89980a20a0b0","ipam_id":"32dbd7fc-c6fb-458c-a73e-7fc68aa8dea4","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=d13dbe0a-26cd-4cb6-8a38-771de3f6715f","node-name=scw-test-k8s-public-i-test-k8s-public-i-18c704"]},"public_ips":[{"address":"163.172.149.221","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"5e1fe2cf-537e-4763-9643-89980a20a0b0","ipam_id":"32dbd7fc-c6fb-458c-a73e-7fc68aa8dea4","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=d13dbe0a-26cd-4cb6-8a38-771de3f6715f","node-name=scw-test-k8s-public-i-test-k8s-public-i-18c704"]},{"address":"2001:bc8:710:a9cf:dc00:ff:feca:fcc7","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feca:fcc8","id":"00d759df-c6f1-4823-84fa-cb1cd78f9466","ipam_id":"36d77bd5-b932-46ec-b6c5-3f2715719328","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=d13dbe0a-26cd-4cb6-8a38-771de3f6715f","node-name=scw-test-k8s-public-i-test-k8s-public-i-18c704"]}],"routed_ip_enabled":true,"security_group":{"id":"d49109f7-0bad-4991-b0fb-853c658463d2","name":"Kapsule default security group"},"state":"running","state_detail":"booting kernel","tags":["kapsule=d13dbe0a-26cd-4cb6-8a38-771de3f6715f","pool=d85ba64d-4b6b-49f7-afac-6532ee6cc508","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=18c70418-9d4d-4d7b-9ed9-bb3dbbdcb7d9"],"volumes":{"0":{"boot":true,"id":"94d7d1e2-8437-47cc-ac62-f8d84c7396ec","state":"available","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.251541ms
[...]
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d85ba64d-4b6b-49f7-afac-6532ee6cc508
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"d85ba64d-4b6b-49f7-afac-6532ee6cc508","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.568333ms
    - id: 119
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-30T09:29:25.025935Z","gateway_networks":[],"id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","ipv4":{"address":"163.172.149.50","created_at":"2025-09-30T09:29:25.000465Z","gateway_id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","id":"60a58107-d33a-4b23-af68-3faf68832327","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"50-149-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-30T09:29:25.000465Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-30T09:29:25.025935Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 693.528583ms
    - id: 120
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/a4e2e85a-7441-4bb3-93a2-cf0b9d609430
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-30T09:29:25.025935Z","gateway_networks":[],"id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","ipv4":{"address":"163.172.149.50","created_at":"2025-09-30T09:29:25.000465Z","gateway_id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","id":"60a58107-d33a-4b23-af68-3faf68832327","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"50-149-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-30T09:29:25.000465Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-30T09:29:25.061752Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.663417ms
[...]
    - id: 124
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:29:30.466765Z","gateway_id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","id":"0376ee26-295d-4e9d-9f99-d5bc8dcefdf9","ipam_ip_id":"b1061d73-13b2-4f48-a974-12fc847d7c05","masquerade_enabled":true,"private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","push_default_route":true,"status":"created","updated_at":"2025-09-30T09:29:30.466765Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.167875ms
[...]
    - id: 128
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/0376ee26-295d-4e9d-9f99-d5bc8dcefdf9
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:29:30.466765Z","gateway_id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","id":"0376ee26-295d-4e9d-9f99-d5bc8dcefdf9","ipam_ip_id":"b1061d73-13b2-4f48-a974-12fc847d7c05","mac_address":"02:00:00:16:FC:FF","masquerade_enabled":true,"private_network_id":"600a4d63-05bc-43d1-bd9e-fb6c43d36d85","push_default_route":true,"status":"ready","updated_at":"2025-09-30T09:29:40.306907Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.287292ms
[...]
    - id: 131
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=600a4d63-05bc-43d1-bd9e-fb6c43d36d85&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=0376ee26-295d-4e9d-9f99-d5bc8dcefdf9&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.188.4/22","created_at":"2025-09-30T09:29:30.441732Z","id":"b1061d73-13b2-4f48-a974-12fc847d7c05","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"0376ee26-295d-4e9d-9f99-d5bc8dcefdf9","mac_address":"02:00:00:16:FC:FF","name":"test-k8s-public-ip","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"a8bc6c89-83fa-43ab-b361-5799ff35dcc7"},"tags":[],"updated_at":"2025-09-30T09:29:30.858419Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.627834ms
[...]
    - id: 262
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d13dbe0a-26cd-4cb6-8a38-771de3f6715f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 272
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/a4e2e85a-7441-4bb3-93a2-cf0b9d609430?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-30T09:29:25.025935Z","gateway_networks":[],"id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","ipv4":{"address":"163.172.149.50","created_at":"2025-09-30T09:29:25.000465Z","gateway_id":"a4e2e85a-7441-4bb3-93a2-cf0b9d609430","id":"60a58107-d33a-4b23-af68-3faf68832327","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"50-149-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-30T09:29:25.000465Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-30T09:38:50.382143Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.651333ms
[...]
