---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"testAccCheckK8SPoolConfigPlacementGroup\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"f3ec978c-ac7e-4f09-b168-577fbba93617\", \"name\":\"testAccCheckK8SPoolConfigPlacementGroup\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:45:29.579681Z\", \"updated_at\":\"2025-10-30T17:45:29.579681Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.440768ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f3ec978c-ac7e-4f09-b168-577fbba93617
    method: GET
  response:
    body: "{\"id\":\"f3ec978c-ac7e-4f09-b168-577fbba93617\", \"name\":\"testAccCheckK8SPoolConfigPlacementGroup\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:45:29.579681Z\", \"updated_at\":\"2025-10-30T17:45:29.579681Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.049842ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"policy_mode\":\"optional\",\"policy_type\":\"max_availability\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: "{\"placement_group\": {\"id\": \"b679f0a9-4937-48ec-9789-91f0198f3026\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b679f0a9-4937-48ec-9789-91f0198f3026
    status: 201 Created
    code: 201
    duration: 209.022917ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b679f0a9-4937-48ec-9789-91f0198f3026
    method: GET
  response:
    body: "{\"placement_group\": {\"id\": \"b679f0a9-4937-48ec-9789-91f0198f3026\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.093871ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"f3ec978c-ac7e-4f09-b168-577fbba93617\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"a6e03343-b4f2-464c-91d9-fbf821df60a9\", \"name\":\"test-pool-placement-group\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:45:29.724802Z\", \"updated_at\":\"2025-10-30T17:45:29.724802Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"d0de5f08-a5b5-4b74-910f-074464b7628c\", \"created_at\":\"2025-10-30T17:45:29.724802Z\", \"updated_at\":\"2025-10-30T17:45:29.724802Z\", \"subnet\":\"172.18.36.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"a6e03343-b4f2-464c-91d9-fbf821df60a9\", \"vpc_id\":\"f3ec978c-ac7e-4f09-b168-577fbba93617\"}, {\"id\":\"6d2c167e-e877-4762-911a-5b108ec599c5\", \"created_at\":\"2025-10-30T17:45:29.724802Z\", \"updated_at\":\"2025-10-30T17:45:29.724802Z\", \"subnet\":\"fd5f:519c:6d46:3cb1::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"a6e03343-b4f2-464c-91d9-fbf821df60a9\", \"vpc_id\":\"f3ec978c-ac7e-4f09-b168-577fbba93617\"}], \"vpc_id\":\"f3ec978c-ac7e-4f09-b168-577fbba93617\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 699.388178ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a6e03343-b4f2-464c-91d9-fbf821df60a9
    method: GET
  response:
    body: "{\"id\":\"a6e03343-b4f2-464c-91d9-fbf821df60a9\", \"name\":\"test-pool-placement-group\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:45:29.724802Z\", \"updated_at\":\"2025-10-30T17:45:29.724802Z\", \"project_id\":\"105bdce1-64c0-[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-placement-group\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"placement_group\"],\"version\":\"1.34.1\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"a6e03343-b4f2-464c-91d9-fbf821df60a9\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"318aad8d-b93e-45fa-b437-a04479335018\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:45:30.773233Z\", \"updated_at\":\"2025-10-30T17:45:30.773233Z\", \"type\":\"kapsule\", \"name\":\"test-pool-placement-group\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"calico\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"placement_group\"], \"cluster_url\":\"https://318aad8d-b93e-45fa-b437-a04479335018.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.318aad8d-b93e-45fa-b437-a04479335018.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"a6e03343-b4f2-464c-91d9-fbf821df60a9\", \"commitment_ends_at\":\"2025-10-30T17:45:30.773242Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 447.259324ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/318aad8d-b93e-45fa-b437-a04479335018
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"318aad8d-b93e-45fa-b437-a04479335018\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:45:30.773233Z\", \"updated_at\":\"2025-10-30T17:45:30.773233Z\", \"type\":\"k[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/318aad8d-b93e-45fa-b437-a04479335018/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 24.521842ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/318aad8d-b93e-45fa-b437-a04479335018/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkJlVTlVUlROT1JGVjZUVVp2V0VSVVRURk5WRUY1VDFSRk0wNUVWWHBOUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0[...]
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"node_type\":\"pro2_xxs\",\"placement_group_id\":\"b679f0a9-4937-48ec-9789-91f0198f3026\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/318aad8d-b93e-45fa-b437-a04479335018/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"fabf3205-5e2b-4119-9624-91f3fd4f9af2\", \"cluster_id\":\"318aad8d-b93e-45fa-b437-a04479335018\", \"created_at\":\"2025-10-30T17:45:36.337310Z\", \"updated_at\":\"2025-10-30T17:45:36.337310Z\", \"name\":\"test-pool-placement-group\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":\"b679f0a9-4937-48ec-9789-91f0198f3026\", \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 258.723545ms
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/fabf3205-5e2b-4119-9624-91f3fd4f9af2
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"fabf3205-5e2b-4119-9624-91f3fd4f9af2\", \"cluster_id\":\"318aad8d-b93e-45fa-b437-a04479335018\", \"created_at\":\"2025-10-30T17:45:36.337310Z\", \"updated_at\":\"2025-10-30T17:45:36.337310Z\", \"name\":\"test-pool-placement-group\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":\"b679f0a9-4937-48ec-9789-91f0198f3026\", \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 22.892787ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - fabf3205-5e2b-4119-9624-91f3fd4f9af2
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/318aad8d-b93e-45fa-b437-a04479335018/nodes?order_by=created_at_asc&page=1&pool_id=fabf3205-5e2b-4119-9624-91f3fd4f9af2&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"046d87c5-5633-44b8-b7d5-de075a08aa4f\", \"cluster_id\":\"318aad8d-b93e-45fa-b437-a04479335018\", \"created_at\":\"2025-10-30T17:50:42.420824Z\", \"updated_at\":\"2025-10-30T17:51:18.341157Z\", \"pool_id\":\"fabf3205-5e2b-4119-9624-91f3fd4f9af2\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-placeme-test-pool-placeme-046d87\", \"public_ip_v4\":\"51.15.236.240\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/48201a01-ad07-4809-92af-588df31167e0\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 34.975858ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-placeme-test-pool-placeme-046d87
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-placeme-test-pool-placeme-046d87&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"8d879388-074e-4835-90fc-32ef09afdcb0\", \"address\":\"fd5f:519c:6d46:3cb1:1a34:ef11:4b6a:46c5/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T17:50:46.508424Z\", \"updated_at\":\"2025-10-30T17:50:46.508424Z\", \"source\":{\"subnet_id\":\"6d2c167e-e877-4762-911a-5b108ec599c5\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"f7117353-47c3-4ba3-8f9a-e2038c9a4dda\", \"mac_address\":\"02:00:00:1F:EA:24\", \"name\":\"scw-test-pool-placeme-test-pool-placeme-046d87\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"cb27ced9-cac2-4839-afa7-639514152cec\", \"address\":\"172.18.36.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T17:50:46.349722Z\", \"updated_at\":\"2025-10-30T17:50:46.349722Z\", \"source\":{\"subnet_id\":\"d0de5f08-a5b5-4b74-910f-074464b7628c\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"f7117353-47c3-4ba3-8f9a-e2038c9a4dda\", \"mac_address\":\"02:00:00:1F:EA:24\", \"name\":\"scw-test-pool-placeme-test-pool-placeme-046d87\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.152177ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/fabf3205-5e2b-4119-9624-91f3fd4f9af2
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"fabf3205-5e2b-4119-9624-91f3fd4f9af2\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.54197ms
[...]
- id: 46
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/318aad8d-b93e-45fa-b437-a04479335018?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"318aad8d-b93e-45fa-b437-a04479335018\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:45:30.773233Z\", \"updated_at\":\"2025-10-30T17:55:44.920902Z\", \"type[...]
[...]
- id: 48
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"policy_mode\":\"optional\",\"policy_type\":\"max_availability\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: "{\"placement_group\": {\"id\": \"92444188-3b2e-4515-a75d-f228a9ef8202\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"nl-ams-2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/92444188-3b2e-4515-a75d-f228a9ef8202
    status: 201 Created
    code: 201
    duration: 270.361169ms
- id: 49
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/92444188-3b2e-4515-a75d-f228a9ef8202
    method: GET
  response:
    body: "{\"placement_group\": {\"id\": \"92444188-3b2e-4515-a75d-f228a9ef8202\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"nl-ams-2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 132.768785ms
[...]
- id: 54
  request:
    host: api.scaleway.com
    body: "{\"name\":\"testAccCheckK8SPoolConfigPlacementGroupWithCustomZone\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
    method: POST
  response:
    body: "{\"id\":\"cffbd660-4df5-4f5c-bd63-351d28eb1f85\", \"name\":\"testAccCheckK8SPoolConfigPlacementGroupWithCustomZone\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:56:01.666659Z\", \"updated_at\":\"2025-10-30T17:56:01.666659Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.736076ms
- id: 55
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/cffbd660-4df5-4f5c-bd63-351d28eb1f85
    method: GET
  response:
    body: "{\"id\":\"cffbd660-4df5-4f5c-bd63-351d28eb1f85\", \"name\":\"testAccCheckK8SPoolConfigPlacementGroupWithCustomZone\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:56:01.666659Z\", \"updated_at\":\"2025-10-30T17:56:01.666659Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.530293ms
- id: 56
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"cffbd660-4df5-4f5c-bd63-351d28eb1f85\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: "{\"id\":\"9b711663-f2a0-491c-9671-b2de399ebdad\"[...]
- id: 57
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/9b711663-f2a0-491c-9671-b2de399ebdad
    method: GET
  response:
    body: "{\"id\":\"9b711663-f2a0-491c-9671-b2de399ebdad\", \"name\":\"test-pool-placement-group\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:56:01.965238Z\", \"updated_at\":\"2025-10-30T17:56:01.965238Z\", \"project_id\":\"105bdce1-64c0[...]
- id: 58
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-placement-group-2\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"placement_group\"],\"version\":\"1.34.1\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets[...]
- id: 59
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/51cd429b-6235-4520-9ce3-88deeb88bac1
    method: GET
  response:
    body: "{\"region\":\"nl-ams\", \"id\":\"51cd429b-6235-4520-9ce3-88deeb88bac1\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T17:56:02.955990Z\", \"updated_at\":\"2025-10-30T17:56:02.955991Z\", \"type\":\"[...]
[...]
- id: 61
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/51cd429b-6235-4520-9ce3-88deeb88bac1/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 38.868483ms
[...]
- id: 63
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/51cd429b-6235-4520-9ce3-88deeb88bac1/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZ[...]
[...]
- id: 65
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group-2\",\"node_type\":\"pro2_xxs\",\"placement_group_id\":\"92444188-3b2e-4515-a75d-f228a9ef8202\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"nl-ams-2\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json[...]
- id: 66
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/4ecf20a5-b4a3-4b2c-a4f4-903716060d4d
    method: GET
  response:
    body: "{\"region\":\"nl-ams\", \"id\":\"4ecf20a5-b4a3-4b2c-a4f4-903716060d4d\", \"cluster_id\":\"51cd429b-6235-4520-9ce3-88deeb88bac1\", \"created_at\":\"2025-10-30T17:56:08.596157Z\", \"updated_at\":\"2025-10-30T17:56:08.596157Z\", \"name\":\"test-pool-placement-group-2\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":\"92444188-3b2e-4515-a75d-f228a9ef8202\", \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"nl-ams-2\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"20b640cd-1ccd-4f6f-93fa-7e309efc00b8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 37.784487ms
[...]
- id: 70
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 4ecf20a5-b4a3-4b2c-a4f4-903716060d4d
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/51cd429b-6235-4520-9ce3-88deeb88bac1/nodes?order_by=created_at_asc&page=1&pool_id=4ecf20a5-b4a3-4b2c-a4f4-903716060d4d&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"nl-ams\", \"id\":\"e56b8ed7-b8ff-4f84-9aa3-9fbc5ea86a05\", \"cluster_id\":\"51cd429b-6235-4520-9ce3-88deeb88bac1\", \"created_at\":\"2025-10-30T17:57:36.760847Z\", \"updated_at\":\"2025-10-30T17:58:42.078049Z\", \"pool_id\":\"4ecf20a5-b4a3-4b2c-a4f4-903716060d4d\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-placeme-test-pool-placeme-e56b8e\", \"public_ip_v4\":\"51.158.232.111\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/nl-ams-2/40cc1cc2-6de1-465d-9fbf-f02130d3f939\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.571161ms
[...]
- id: 72
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-placeme-test-pool-placeme-e56b8e
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-placeme-test-pool-placeme-e56b8e&resource_type=[...]
[...]
- id: 89
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/51cd429b-6235-4520-9ce3-88deeb88bac1/available-types
    method: GET
  response:
[...]
