---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T15:41:37.961475Z","dhcp_enabled":true,"id":"b14b1e3d-6332-450f-8739-d2c6352b3bd5","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:37.961475Z","id":"b4d8c722-ad69-4936-9e1b-0983a4be5e47","subnet":"172.16.216.0/22","updated_at":"2024-04-08T15:41:37.961475Z"},{"created_at":"2024-04-08T15:41:37.961475Z","id":"593f262a-3332-4fd3-ab76-0c2db293e76e","subnet":"fd5f:519c:6d46:d927::/64","updated_at":"2024-04-08T15:41:37.961475Z"}],"tags":[],"updated_at":"2024-04-08T15:41:37.961475Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 902.399596ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b14b1e3d-6332-450f-8739-d2c6352b3bd5
        method: GET
      response:
        body: '{"created_at":"2024-04-08T15:41:37.961475Z","dhcp_enabled":true,"id":"b14b1e3d-6332-450f-8739-d2c6352b3bd5","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:37.961475Z","id":"b4d8c722-ad69-4936-9e1b-0983a4be5e47","subnet":"172.16.216.0/22","updated_at":"2024-04-08T15:41:37.961475Z"},{"created_at":"2024-04-08T15:41:37.961475Z","id":"593f262a-3332-4fd3-ab76-0c2db293e76e","subnet":"fd5f:519c:6d46:d927::/64","updated_at":"2024-04-08T15:41:37.961475Z"}],"tags":[],"updated_at":"2024-04-08T15:41:37.961475Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.903249ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"b14b1e3d-6332-450f-8739-d2c6352b3bd5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://f0bf8432-d32a-4b19-8f6d-9bdcb66765ec.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-08T15:41:40.228797448Z","created_at":"2024-04-08T15:41:40.228797448Z","description":"","dns_wildcard":"*.f0bf8432-d32a-4b19-8f6d-9bdcb66765ec.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"f0bf8432-d32a-4b19-8f6d-9bdcb66765ec","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"b14b1e3d-6332-450f-8739-d2c6352b3bd5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-04-08T15:41:40.242625218Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.61544139s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0bf8432-d32a-4b19-8f6d-9bdcb66765ec
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0bf8432-d32a-4b19-8f6d-9bdcb66765ec/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.32911ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0bf8432-d32a-4b19-8f6d-9bdcb66765ec/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYZE9la1V4VGtSRk1FNHhiMWhFVkUwd1RVUlJkMDU2UlRGT1JFVXdUakZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0bf8432-d32a-4b19-8f6d-9bdcb66765ec/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"f0bf8432-d32a-4b19-8f6d-9bdcb66765ec","container_runtime":"containerd","created_at":"2024-04-08T15:41:50.960032Z","id":"3b7ef945-7707-4395-8b1b-b8cbd87a6a32","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:41:50.997832758Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.641105ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3b7ef945-7707-4395-8b1b-b8cbd87a6a32
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"f0bf8432-d32a-4b19-8f6d-9bdcb66765ec","container_runtime":"containerd","created_at":"2024-04-08T15:41:50.960032Z","id":"3b7ef945-7707-4395-8b1b-b8cbd87a6a32","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:41:50.997833Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.704604ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0bf8432-d32a-4b19-8f6d-9bdcb66765ec/nodes?order_by=created_at_asc&page=1&pool_id=3b7ef945-7707-4395-8b1b-b8cbd87a6a32&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"f0bf8432-d32a-4b19-8f6d-9bdcb66765ec","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:44:54.580492Z","error_message":null,"id":"46d5526f-e834-4287-a0d8-4305d8f7e331","name":"scw-test-pool-wait-test-pool-wait-46d5526fe834","pool_id":"3b7ef945-7707-4395-8b1b-b8cbd87a6a32","provider_id":"scaleway://instance/fr-par-1/fe29a41f-8ca5-4861-b9c3-b5827f3c69fe","public_ip_v4":"51.15.139.91","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:47:07.317710Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.35554ms
[...]
    - id: 128
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0bf8432-d32a-4b19-8f6d-9bdcb66765ec/nodes?order_by=created_at_asc&page=1&pool_id=3b7ef945-7707-4395-8b1b-b8cbd87a6a32&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"f0bf8432-d32a-4b19-8f6d-9bdcb66765ec","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:44:54.580492Z","error_message":null,"id":"46d5526f-e834-4287-a0d8-4305d8f7e331","name":"scw-test-pool-wait-test-pool-wait-46d5526fe834","pool_id":"3b7ef945-7707-4395-8b1b-b8cbd87a6a32","provider_id":"scaleway://instance/fr-par-1/fe29a41f-8ca5-4861-b9c3-b5827f3c69fe","public_ip_v4":"51.15.139.91","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:49:07.277768Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.514993ms
[...]
    - id: 204
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/19af2d49-0fca-4117-9cbc-b0ca70ef779b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"19af2d49-0fca-4117-9cbc-b0ca70ef779b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.231919ms
[...]
    - id: 220
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f0bf8432-d32a-4b19-8f6d-9bdcb66765ec?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
