---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-size\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\",\"name\":\"test-pool-size\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:11.087057Z\",\"updated_at\":\"2025-08-28T14:13:11.087057Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"2147bde9-6ffc-4e7e-bb6b-19c261effb68\",\"created_at\":\"2025-08-28T14:13:11.087057Z\",\"updated_at\":\"2025-08-28T14:13:11.087057Z\",\"subnet\":\"172.16.8.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"327c2ac8-64d1-43a4-85b8-cf9be9b67e99\",\"created_at\":\"2025-08-28T14:13:11.087057Z\",\"updated_at\":\"2025-08-28T14:13:11.087057Z\",\"subnet\":\"fde7:767f:1bb5:dc0a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 928.88104ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8f7c0ff6-f986-4b4c-9106-07526d26a3ee
    method: GET
  response:
    body: "{\"id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\",\"name\":\"test-pool-size\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:11.087057Z\",\"updated_at\":\"2025-08-28T14:13:11.087057Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"2147bde9-6ffc-4e7e-bb6b-19c261effb68\",\"created_at\":\"2025-08-28T14:13:11.087057Z\",\"updated_at\":\"2025-08-28T14:13:11.087057Z\",\"subnet\":\"172.16.8.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"327c2ac8-64d1-43a4-85b8-cf9be9b67e99\",\"created_at\":\"2025-08-28T14:13:11.087057Z\",\"updated_at\":\"2025-08-28T14:13:11.087057Z\",\"subnet\":\"fde7:767f:1bb5:dc0a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 33.614196ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-size\",\"description\":\"\",\"tags\":[],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enable\":true,\"maintenance_window\":{\"start_hour\":12,\"day\":\"monday\"}},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"04c7f498-6948-471b-87f0-eabca2740352\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:12.391598Z\",\"updated_at\":\"2025-08-28T14:13:12.391598Z\",\"type\":\"kapsule\",\"name\":\"test-pool-size\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[],\"cluster_url\":\"https://04c7f498-6948-471b-87f0-eabca2740352.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.04c7f498-6948-471b-87f0-eabca2740352.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":true,\"maintenance_window\":{\"start_hour\":12,\"day\":\"monday\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"8f7c0ff6-f986-4b4c-9106-07526d26a3ee\",\"commitment_ends_at\":\"2025-08-28T14:13:12.391606Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 329.930515ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04c7f498-6948-471b-87f0-eabca2740352
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"04c7f498-6948-471b-87f0-eabca2740352\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:12.391598Z\",\"updated_at\":\"2025-08-28T14:13:12.391598Z\",\"type\":\"kapsule[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04c7f498-6948-471b-87f0-eabca2740352/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.882119ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04c7f498-6948-471b-87f0-eabca2740352/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVozbE9la1V3VFZSTmVFMXNiMWhFVkUweFRVUm5lVTU2UlRCTlZFMTRUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORF[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pool\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04c7f498-6948-471b-87f0-eabca2740352/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"c70962aa-56aa-4986-9ebc-fc983cb97368\",\"cluster_id\":\"04c7f498-6948-471b-87f0-eabca2740352\",\"created_at\":\"2025-08-28T14:13:18.251654Z\",\"updated_at\":\"2025-08-28T14:13:18.251654Z\",\"name\":\"pool\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.319152ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c70962aa-56aa-4986-9ebc-fc983cb97368
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"c70962aa-56aa-4986-9ebc-fc983cb97368\",\"cluster_id\":\"04c7f498-6948-471b-87f0-eabca2740352\",\"created_at\":\"2025-08-28T14:13:18.251654Z\",\"updated_at\":\"2025-08-28T14:13:18.251654Z\",\"name\":\"pool\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.914709ms
[...]
- id: 79
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - c70962aa-56aa-4986-9ebc-fc983cb97368
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04c7f498-6948-471b-87f0-eabca2740352/nodes?order_by=created_at_asc&page=1&pool_id=c70962aa-56aa-4986-9ebc-fc983cb97368&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"add8a625-29d5-4f0f-9bbe-ccdfe2375ec1\",\"cluster_id\":\"04c7f498-6948-471b-87f0-eabca2740352\",\"created_at\":\"2025-08-28T14:16:26.038300Z\",\"updated_at\":\"2025-08-28T14:18:43.555514Z\",\"pool_id\":\"c70962aa-56aa-4986-9ebc-fc983cb97368\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-size-pool-add8a62529d54f0f9bbecc\",\"public_ip_v4\":\"51.158.79.137\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/48bbe1ce-63e4-4f77-992a-e8d2664339af\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.678769ms
[...]
- id: 81
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-size-pool-add8a62529d54f0f9bbecc
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-size-pool-add8a62529d54f0f9bbecc&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"80e57b49-c784-430e-b339-b7aa7c61ec6b\",\"address\":\"fde7:767f:1bb5:dc0a:6271:7f31:4ee1:891b/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:16:29.523068Z\",\"updated_at\":\"2025-08-28T14:16:29.523068Z\",\"source\":{\"subnet_id\":\"327c2ac8-64d1-43a4-85b8-cf9be9b67e99\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"61c9686d-5059-4827-ba35-41ba15657464\",\"mac_address\":\"02:00:00:1F:7D:80\",\"name\":\"scw-test-pool-size-pool-add8a62529d54f0f9bbecc\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"cf87472a-e6ca-400c-83ef-404be1ca8978\",\"address\":\"172.16.8.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:16:29.382576Z\",\"updated_at\":\"2025-08-28T14:16:29.382576Z\",\"source\":{\"subnet_id\":\"2147bde9-6ffc-4e7e-bb6b-19c261effb68\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"61c9686d-5059-4827-ba35-41ba15657464\",\"mac_address\":\"02:00:00:1F:7D:80\",\"name\":\"scw-test-pool-size-pool-add8a62529d54f0f9bbecc\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 31.775558ms
[...]
- id: 155
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c70962aa-56aa-4986-9ebc-fc983cb97368
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"c70962aa-56aa-4986-9ebc-fc983cb97368\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 239.780551ms
- id: 156
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04c7f498-6948-471b-87f0-eabca2740352?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"04c7f498-6948-471b-87f0-eabca2740352\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:12.391598Z\",\"updated_at\":\"2025-08-28T14:23:08.659769Z\",\"type\":\"k[...]
[...]
