---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:40:17.663036Z","dhcp_enabled":true,"id":"787574e1-b095-4228-85f9-7e4fc0a0e578","name":"test-pool-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:40:17.663036Z","id":"608bd8e0-cfc0-4150-9d83-2494baffec4a","private_network_id":"787574e1-b095-4228-85f9-7e4fc0a0e578","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T18:40:17.663036Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:40:17.663036Z","id":"dc425149-89af-4c46-9192-acd80877ef98","private_network_id":"787574e1-b095-4228-85f9-7e4fc0a0e578","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:fd31::/64","updated_at":"2024-10-03T18:40:17.663036Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:40:17.663036Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 585.585975ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/787574e1-b095-4228-85f9-7e4fc0a0e578
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:40:17.663036Z","dhcp_enabled":true,"id":"787574e1-b095-4228-85f9-7e4fc0a0e578","name":"test-pool-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:40:17.663036Z","id":"608bd8e0-cfc0-4150-9d83-2494baffec4a","private_network_id":"787574e1-b095-4228-85f9-7e4fc0a0e578","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T18:40:17.663036Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:40:17.663036Z","id":"dc425149-89af-4c46-9192-acd80877ef98","private_network_id":"787574e1-b095-4228-85f9-7e4fc0a0e578","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:fd31::/64","updated_at":"2024-10-03T18:40:17.663036Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:40:17.663036Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.836237ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.30.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"787574e1-b095-4228-85f9-7e4fc0a0e578"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://5b846401-0349-4f79-a2ef-8f9959bf0698.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-10-03T18:40:19.313238Z","created_at":"2024-10-03T18:40:19.313225Z","description":"","dns_wildcard":"*.5b846401-0349-4f79-a2ef-8f9959bf0698.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"5b846401-0349-4f79-a2ef-8f9959bf0698","name":"test-pool-zone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"787574e1-b095-4228-85f9-7e4fc0a0e578","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2024-10-03T18:40:19.313225Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.129009345s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b846401-0349-4f79-a2ef-8f9959bf0698
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b846401-0349-4f79-a2ef-8f9959bf0698/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.511815ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b846401-0349-4f79-a2ef-8f9959bf0698/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxVVFYZE5ha1UwVGtSQmVVMUdiMWhFVkUwd1RWUkJkMDFxUlRST1JFRjVUVVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b846401-0349-4f79-a2ef-8f9959bf0698/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"5b846401-0349-4f79-a2ef-8f9959bf0698","container_runtime":"containerd","created_at":"2024-10-03T18:40:24.727510Z","id":"ca43b023-2cdd-417d-b0d9-e6280ca04d7c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2024-10-03T18:40:24.727510Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.438104ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ca43b023-2cdd-417d-b0d9-e6280ca04d7c
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"5b846401-0349-4f79-a2ef-8f9959bf0698","container_runtime":"containerd","created_at":"2024-10-03T18:40:24.727510Z","id":"ca43b023-2cdd-417d-b0d9-e6280ca04d7c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2024-10-03T18:40:24.727510Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.3792ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b846401-0349-4f79-a2ef-8f9959bf0698/nodes?order_by=created_at_asc&page=1&pool_id=ca43b023-2cdd-417d-b0d9-e6280ca04d7c&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"5b846401-0349-4f79-a2ef-8f9959bf0698","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:43:24.440578Z","error_message":null,"id":"9bee506f-f897-44ae-b75f-886b3e3bc78e","name":"scw-test-pool-zone-test-pool-zone-9bee506ff897","pool_id":"ca43b023-2cdd-417d-b0d9-e6280ca04d7c","provider_id":"scaleway://instance/fr-par-2/d7b0892e-6154-4ce6-9053-832e96e2200e","public_ip_v4":"51.159.166.251","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:45:40.106513Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.992533ms
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-zone-test-pool-zone-9bee506ff897&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:fd31:d0ed:82ab:40b2:7ae8/64","created_at":"2024-10-03T18:43:29.481173Z","id":"80a7ac41-ffc3-4c05-968c-ca770931f85f","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f932340b-493f-4869-9ea0-7733ba67b988","mac_address":"02:00:00:2A:9F:7B","name":"scw-test-pool-zone-test-pool-zone-9bee506ff897","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"dc425149-89af-4c46-9192-acd80877ef98"},"tags":[],"updated_at":"2024-10-03T18:43:29.481173Z","zone":null},{"address":"172.16.112.2/22","created_at":"2024-10-03T18:43:29.098358Z","id":"f9a57285-2ba1-4863-b59e-c8af4e3d1f61","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"f932340b-493f-4869-9ea0-7733ba67b988","mac_address":"02:00:00:2A:9F:7B","name":"scw-test-pool-zone-test-pool-zone-9bee506ff897","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"608bd8e0-cfc0-4150-9d83-2494baffec4a"},"tags":[],"updated_at":"2024-10-03T18:43:29.098358Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.734859ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ca43b023-2cdd-417d-b0d9-e6280ca04d7c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"ca43b023-2cdd-417d-b0d9-e6280ca04d7c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.052467ms
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b846401-0349-4f79-a2ef-8f9959bf0698?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimato[...]
[...]
