---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-friendly-williams\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"fb5cd7b8-e592-4b6e-8216-66fca3c089b6\", \"name\":\"tf-vpc-friendly-williams\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:47.163149Z\", \"updated_at\":\"2025-10-30T16:18:47.163149Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.321999ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/fb5cd7b8-e592-4b6e-8216-66fca3c089b6
    method: GET
  response:
    body: "{\"id\":\"fb5cd7b8-e592-4b6e-8216-66fca3c089b6\", \"name\":\"tf-vpc-friendly-williams\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:47.163149Z\", \"updated_at\":\"2025-10-30T16:18:47.163149Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.25042ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-minimal\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"fb5cd7b8-e592-4b6e-8216-66fca3c089b6\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"dd4ca113-1e98-4ef4-851b-44e9acdda76c\", \"name\":\"test-pool-minimal\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:47.286292Z\", \"updated_at\":\"2025-10-30T16:18:47.286292Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"0bede021-b29d-4922-8b51-970671def39d\", \"created_at\":\"2025-10-30T16:18:47.286292Z\", \"updated_at\":\"2025-10-30T16:18:47.286292Z\", \"subnet\":\"172.18.88.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"dd4ca113-1e98-4ef4-851b-44e9acdda76c\", \"vpc_id\":\"fb5cd7b8-e592-4b6e-8216-66fca3c089b6\"}, {\"id\":\"d7af6fd0-cb67-4b07-9c7f-5555b52eee58\", \"created_at\":\"2025-10-30T16:18:47.286292Z\", \"updated_at\":\"2025-10-30T16:18:47.286292Z\", \"subnet\":\"fd5f:519c:6d46:22e5::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"dd4ca113-1e98-4ef4-851b-44e9acdda76c\", \"vpc_id\":\"fb5cd7b8-e592-4b6e-8216-66fca3c089b6\"}], \"vpc_id\":\"fb5cd7b8-e592-4b6e-8216-66fca3c089b6\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 683.06304ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dd4ca113-1e98-4ef4-851b-44e9acdda76c
    method: GET
  response:
    body: "{\"id\":\"dd4ca113-1e98-4ef4-851b-44e9acdda76c\", \"name\":\"test-pool-minimal\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:47.286292Z\", \"updated_at\":\"2025-10-30T16:18:47.286292Z\", \"project_id\":\"105bdce1-64c0-48ab-899[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-minimal\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"version\":\"1.34.1\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"dd4ca113-1e98-4ef4-851b-44e9acdda76c\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:48.262115Z\", \"updated_at\":\"2025-10-30T16:18:48.262115Z\", \"type\":\"kapsule\", \"name\":\"test-pool-minimal\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"calico\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"minimal\"], \"cluster_url\":\"https://bd51a0ad-80a1-4d46-8acb-9adaa4108410.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.bd51a0ad-80a1-4d46-8acb-9adaa4108410.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"dd4ca113-1e98-4ef4-851b-44e9acdda76c\", \"commitment_ends_at\":\"2025-10-30T16:18:48.262121Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 340.875208ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:48.262115Z\", \"updated_at\":\"2025-10-30T16:18:48.262115Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.296373ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJCZVU5VVJUSk5WR2N3VDBadldFUlVUVEZOVkVGNVQxUkZNazFVWnpCUFJtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVD[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-minimal\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"default\"],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"76a92752-3eea-4625-b05e-532277914a3a\", \"cluster_id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"created_at\":\"2025-10-30T16:18:53.744787Z\", \"updated_at\":\"2025-10-30T16:18:53.744787Z\", \"name\":\"test-pool-minimal\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"default\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.298677ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/76a92752-3eea-4625-b05e-532277914a3a
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"76a92752-3eea-4625-b05e-532277914a3a\", \"cluster_id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"created_at\":\"2025-10-30T16:18:53.744787Z\", \"updated_at\":\"2025-10-30T16:18:53.744787Z\", \"name\":\"test-pool-minimal\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"default\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.994329ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 76a92752-3eea-4625-b05e-532277914a3a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410/nodes?order_by=created_at_asc&page=1&pool_id=76a92752-3eea-4625-b05e-532277914a3a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"21553d0d-15c0-4b71-b557-7efd0d478398\", \"cluster_id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"created_at\":\"2025-10-30T16:24:58.266436Z\", \"updated_at\":\"2025-10-30T16:25:33.345091Z\", \"pool_id\":\"76a92752-3eea-4625-b05e-532277914a3a\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-minimal-test-pool-minimal-21553d\", \"public_ip_v4\":\"51.15.236.240\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/fb51e515-671f-4e80-875b-52c3de6157e9\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.043513ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-minimal-test-pool-minimal-21553d
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-minimal-test-pool-minimal-21553d&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"28c1d7a8-0419-4979-8eec-043331fe2c84\", \"address\":\"fd5f:519c:6d46:22e5:34fe:8c68:418c:3ac7/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:25:01.810746Z\", \"updated_at\":\"2025-10-30T16:25:01.810746Z\", \"source\":{\"subnet_id\":\"d7af6fd0-cb67-4b07-9c7f-5555b52eee58\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"a36f58d2-bfe1-4eca-86d9-f9c78f19628f\", \"mac_address\":\"02:00:00:1A:35:26\", \"name\":\"scw-test-pool-minimal-test-pool-minimal-21553d\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"454ad022-4c4c-4a26-b209-e5a4b0c0f6b7\", \"address\":\"172.18.88.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:25:01.646647Z\", \"updated_at\":\"2025-10-30T16:25:01.646647Z\", \"source\":{\"subnet_id\":\"0bede021-b29d-4922-8b51-970671def39d\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"a36f58d2-bfe1-4eca-86d9-f9c78f19628f\", \"mac_address\":\"02:00:00:1A:35:26\", \"name\":\"scw-test-pool-minimal-test-pool-minimal-21553d\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 49.703434ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      pool_id:
      - 76a92752-3eea-4625-b05e-532277914a3a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410/nodes?order_by=created_at_asc&pool_id=76a92752-3eea-4625-b05e-532277914a3a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"21553d0d-15c0-4b71-b557-7efd0d478398\", \"cluster_id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"created_at\":\"2025-10-30T16:24:58.266436Z\", \"updated_at\":\"2025-10-30T16:25:33.345091Z\", \"pool_id\":\"76a92752-3eea-4625-b05e-532277914a3a\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-minimal-test-pool-minimal-21553d\", \"public_ip_v4\":\"51.15.236.240\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/fb51e515-671f-4e80-875b-52c3de6157e9\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 43.860318ms
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fb51e515-671f-4e80-875b-52c3de6157e9
    method: GET
  response:
    body: "{\"server\": {\"id\": \"fb51e515-671f-4e80-875b-52c3de6157e9\", \"name\": \"scw-test-pool-minimal-test-pool-minimal-21553d\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"scw-test-pool-minimal-test-pool-minimal-21553d\", \"image\": {\"id\": \"5b4b5f3f-c2a1-451e-8603-4c0179b4de03\", \"name\": \"k8s_base_node_instance\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"c6b09a14-4a4d-44cd-a772-4f235fef4826\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-10-27T10:01:33.994085+00:00\", \"modification_date\": \"2025-10-27T10:01:33.994085+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": true, \"volume_type\": \"sbs_volume\", \"id\": \"bbd33d9f-6a04-4271-be87-174a742b855c\", \"state\": \"available\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"kapsule=bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"pool=76a92752-3eea-4625-b05e-532277914a3a\", \"pool-name=test-pool-minimal\", \"runtime=containerd\", \"managed=true\", \"terraform-test\", \"scaleway_k8s_cluster\", \"default\", \"node=21553d0d-15c0-4b71-b557-7efd0d478398\"], \"state\": \"running\", \"protected\": false, \"state_detail\": \"booting kernel\", \"public_ip\": {\"id\": \"65a60f6b-fa89-4e49-bc25-fced17fa3df3\", \"address\": \"51.15.236.240\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"kapsule=bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"node-name=scw-test-pool-minimal-test-pool-minimal-21553d\"], \"state\": \"attached\", \"ipam_id\": \"d13243cf-f7a2-47a2-82cb-b82803e8ab66\"}, \"public_ips\": [{\"id\": \"65a60f6b-fa89-4e49-bc25-fced17fa3df3\", \"address\": \"51.15.236.240\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"kapsule=bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"node-name=scw-test-pool-minimal-test-pool-minimal-21553d\"], \"state\": \"attached\", \"ipam_id\": \"d13243cf-f7a2-47a2-82cb-b82803e8ab66\"}, {\"id\": \"6e0fde74-7588-46f5-9ca0-c0791b471188\", \"address\": \"2001:bc8:710:404b:dc00:ff:fed0:7057\", \"dynamic\": false, \"gateway\": \"fe80::dc00:ff:fed0:7058\", \"netmask\": \"64\", \"family\": \"inet6\", \"provisioning_mode\": \"slaac\", \"tags\": [\"kapsule=bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"node-name=scw-test-pool-minimal-test-pool-minimal-21553d\"], \"state\": \"attached\", \"ipam_id\": \"2df7f8b1-6bd3-43dd-b660-b453c3836e98\"}], \"mac_address\": \"de:00:00:d0:70:57\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": false, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-10-30T16:24:58.918229+00:00\", \"modification_date\": \"2025-10-30T16:25:05.142326+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"4ef16f7a-478c-4b72-b932-982f4b04974b\", \"name\": \"Kapsule default security group\"}, \"location\": {\"zone_id\": \"fr-par-1\", \"platform_id\": \"14\", \"cluster_id\": \"12\", \"hypervisor_id\": \"101\", \"node_id\": \"31\"}, \"maintenances\": [], \"allowed_actions\": [\"poweroff\", \"terminate\", \"reboot\", \"stop_in_place\", \"backup\"], \"placement_group\": null, \"private_nics\": [{\"id\": \"a36f58d2-bfe1-4eca-86d9-f9c78f19628f\", \"private_network_id\": \"dd4ca113-1e98-4ef4-851b-44e9acdda76c\", \"server_id\": \"fb51e515-671f-4e80-875b-52c3de6157e9\", \"mac_address\": \"02:00:00:1a:35:26\", \"state\": \"available\", \"creation_date\": \"2025-10-30T16:25:01.398380+00:00\", \"modification_date\": \"2025-10-30T16:25:01.565852+00:00\", \"zone\": \"fr-par-1\", \"tags\": [], \"ipam_ip_ids\": [\"454ad022-4c4c-4a26-b209-e5a4b0c0f6b7\", \"28c1d7a8-0419-4979-8eec-043331fe2c84\"]}], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 176.624041ms
[...]
- id: 48
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-minima-test-pool-minimal--a34ec0
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-minima-test-pool-minimal--a34ec0&resource_type=[...]
[...]
- id: 51
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      pool_id:
      - 76a92752-3eea-4625-b05e-532277914a3a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410/nodes?order_by=created_at_asc&pool_id=76a92752-3eea-4625-b05e-532277914a3a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"21553d0d-15c0-4b71-b557-7efd0d478398\", \"cluster_id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"created_at\":\"2025-10-30T16:24:58.266436Z\", \"updated_at\":\"2025-10-30T16:26:51.139802Z\", \"pool_id\":\"76a92752-3eea-4625-b05e-532277914a3a\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"NetworkUnavailable\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-minimal-test-pool-minimal-21553d\", \"public_ip_v4\":\"51.15.236.240\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/fb51e515-671f-4e80-875b-52c3de6157e9\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 33.788766ms
[...]
- id: 81
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/329660c2-2ae9-4907-a4cc-c8ae7ce7ca37
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"329660c2-2ae9-4907-a4cc-c8ae7ce7ca37\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 30.146119ms
[...]
- id: 97
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bd51a0ad-80a1-4d46-8acb-9adaa4108410?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"bd51a0ad-80a1-4d46-8acb-9adaa4108410\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:48.262115Z\", \"updated_at\":\"2025-10-30T16:30:23.088229Z\", \"type[...]
[...]
