---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-01T21:40:46.686418Z","dhcp_enabled":true,"id":"657bb8b4-397b-4a74-9556-6d4c24326888","name":"test-pool-minimal","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T21:40:46.686418Z","id":"bb9d469d-e744-423a-ab8f-f35932da1594","private_network_id":"657bb8b4-397b-4a74-9556-6d4c24326888","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-01T21:40:46.686418Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T21:40:46.686418Z","id":"a38f7a3c-9a2d-4460-b6ab-dc823dc99ffb","private_network_id":"657bb8b4-397b-4a74-9556-6d4c24326888","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a340::/64","updated_at":"2024-10-01T21:40:46.686418Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T21:40:46.686418Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.495656ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/657bb8b4-397b-4a74-9556-6d4c24326888
        method: GET
      response:
        body: '{"created_at":"2024-10-01T21:40:46.686418Z","dhcp_enabled":true,"id":"657bb8b4-397b-4a74-9556-6d4c24326888","name":"test-pool-minimal","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T21:40:46.686418Z","id":"bb9d469d-e744-423a-ab8f-f35932da1594","private_network_id":"657bb8b4-397b-4a74-9556-6d4c24326888","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-01T21:40:46.686418Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T21:40:46.686418Z","id":"a38f7a3c-9a2d-4460-b6ab-dc823dc99ffb","private_network_id":"657bb8b4-397b-4a74-9556-6d4c24326888","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a340::/64","updated_at":"2024-10-01T21:40:46.686418Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T21:40:46.686418Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.885238ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.30.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"657bb8b4-397b-4a74-9556-6d4c24326888"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://d211222c-8d8d-4d6f-a62d-bb9ceed4b029.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-10-01T21:40:48.289211Z","created_at":"2024-10-01T21:40:48.289199Z","description":"","dns_wildcard":"*.d211222c-8d8d-4d6f-a62d-bb9ceed4b029.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"d211222c-8d8d-4d6f-a62d-bb9ceed4b029","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"657bb8b4-397b-4a74-9556-6d4c24326888","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-10-01T21:40:48.289199Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 966.437388ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.231178ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRWEzcE5SRWw0VGtSQk1FOVdiMWhFVkUwd1RVUnJlazFFU1hoT1JFRXdUMVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"d211222c-8d8d-4d6f-a62d-bb9ceed4b029","container_runtime":"containerd","created_at":"2024-10-01T21:40:53.708808Z","id":"e168964a-b6db-41e7-aa77-efbe5b1b7798","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-10-01T21:40:53.708808Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 418.721956ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e168964a-b6db-41e7-aa77-efbe5b1b7798
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"d211222c-8d8d-4d6f-a62d-bb9ceed4b029","container_runtime":"containerd","created_at":"2024-10-01T21:40:53.708808Z","id":"e168964a-b6db-41e7-aa77-efbe5b1b7798","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-10-01T21:40:53.708808Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.02173ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029/nodes?order_by=created_at_asc&page=1&pool_id=e168964a-b6db-41e7-aa77-efbe5b1b7798&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"d211222c-8d8d-4d6f-a62d-bb9ceed4b029","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-01T21:43:51.727560Z","error_message":null,"id":"7e94ceb2-b288-487d-80ae-bbe6e1ef8618","name":"scw-test-pool-minimal-test-pool-minimal-7e94ce","pool_id":"e168964a-b6db-41e7-aa77-efbe5b1b7798","provider_id":"scaleway://instance/fr-par-1/a61236b4-96c4-4fad-a702-510dc694f544","public_ip_v4":"212.47.236.112","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-01T21:46:27.377206Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.754205ms
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-minimal-test-pool-minimal-7e94ce&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:a340:45b4:43a6:1e87:f2b5/64","created_at":"2024-10-01T21:43:55.753844Z","id":"33bd9573-cf68-40e5-b25f-eb0333a73c4b","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"976267e0-5897-4208-bc82-6708958c46cc","mac_address":"02:00:00:18:0A:5C","name":"scw-test-pool-minimal-test-pool-minimal-7e94ce","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"a38f7a3c-9a2d-4460-b6ab-dc823dc99ffb"},"tags":[],"updated_at":"2024-10-01T21:43:55.753844Z","zone":null},{"address":"172.16.56.2/22","created_at":"2024-10-01T21:43:55.345295Z","id":"a30f2be1-69a5-4ee2-9f88-b312ba8fe05a","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"976267e0-5897-4208-bc82-6708958c46cc","mac_address":"02:00:00:18:0A:5C","name":"scw-test-pool-minimal-test-pool-minimal-7e94ce","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"bb9d469d-e744-423a-ab8f-f35932da1594"},"tags":[],"updated_at":"2024-10-01T21:43:55.345295Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.444598ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029/nodes?order_by=created_at_asc&pool_id=e168964a-b6db-41e7-aa77-efbe5b1b7798&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"d211222c-8d8d-4d6f-a62d-bb9ceed4b029","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-01T21:43:51.727560Z","error_message":null,"id":"7e94ceb2-b288-487d-80ae-bbe6e1ef8618","name":"scw-test-pool-minimal-test-pool-minimal-7e94ce","pool_id":"e168964a-b6db-41e7-aa77-efbe5b1b7798","provider_id":"scaleway://instance/fr-par-1/a61236b4-96c4-4fad-a702-510dc694f544","public_ip_v4":"212.47.236.112","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-01T21:46:27.377206Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.11822ms
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a61236b4-96c4-4fad-a702-510dc694f544
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2024-10-01T21:43:53.684698+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-7e94ce","id":"a61236b4-96c4-4fad-a702-510dc694f544","image":{"arch":"x86_64","creation_date":"2024-07-28T22:25:40.074466+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"d36c812a-24cf-4563-968a-10893ed0cc81","modification_date":"2024-07-28T22:33:03.235792+00:00","name":"k8s_base_node_2024-07-26","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"906e409f-f4f2-4bcd-b421-d6f1ec180040","name":"k8s_base_node_2024-07-26","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"28","hypervisor_id":"501","node_id":"20","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:73:14:db","maintenances":[],"modification_date":"2024-10-01T21:44:00.459029+00:00","name":"scw-test-pool-minimal-test-pool-minimal-7e94ce","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2024-10-01T21:43:54.708403+00:00","id":"976267e0-5897-4208-bc82-6708958c46cc","mac_address":"02:00:00:18:0a:5c","modification_date":"2024-10-01T21:43:55.011745+00:00","private_network_id":"657bb8b4-397b-4a74-9556-6d4c24326888","server_id":"a61236b4-96c4-4fad-a702-510dc694f544","state":"available","tags":[],"zone":"fr-par-1"}],"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"public_ip":{"address":"212.47.236.112","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"b305b103-0fdd-4c56-b1fa-9f3cb311e11c","ipam_id":"423da6af-42f5-4131-9083-e6fae47290a6","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=d211222c-8d8d-4d6f-a62d-bb9ceed4b029","node-name=scw-test-pool-minimal-test-pool-minimal-7e94ce"]},"public_ips":[{"address":"212.47.236.112","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"b305b103-0fdd-4c56-b1fa-9f3cb311e11c","ipam_id":"423da6af-42f5-4131-9083-e6fae47290a6","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=d211222c-8d8d-4d6f-a62d-bb9ceed4b029","node-name=scw-test-pool-minimal-test-pool-minimal-7e94ce"]},{"address":"2001:bc8:710:20dc:dc00:ff:fe73:14db","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe73:14dc","id":"5bbd7194-a8bf-461c-bef2-bf98043b6475","ipam_id":"35e13161-47ed-431e-a08d-974b46aae07c","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=d211222c-8d8d-4d6f-a62d-bb9ceed4b029","node-name=scw-test-pool-minimal-test-pool-minimal-7e94ce"]}],"routed_ip_enabled":true,"security_group":{"id":"d0e00c87-1084-47e0-acb7-54ffb93bb325","name":"kubernetes d211222c-8d8d-4d6f-a62d-bb9ceed4b029"},"state":"running","state_detail":"booting kernel","tags":["kapsule=d211222c-8d8d-4d6f-a62d-bb9ceed4b029","pool=e168964a-b6db-41e7-aa77-efbe5b1b7798","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=7e94ceb2-b288-487d-80ae-bbe6e1ef8618"],"volumes":{"0":{"boot":false,"creation_date":"2024-10-01T21:43:53.684698+00:00","export_uri":null,"id":"77c35569-d0c1-4677-92fb-0a5f96c97c82","modification_date":"2024-10-01T21:43:53.684698+00:00","name":"k8s_base_node_2024-07-26","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server":{"id":"a61236b4-96c4-4fad-a702-510dc694f544","name":"scw-test-pool-minimal-test-pool-minimal-7e94ce"},"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.862804ms
[...]
    - id: 134
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-minima-test-pool-minimal--81f86c&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:a340:23c6:62d6:5b7a:98a/64","created_at":"2024-10-01T21:46:39.130522Z","id":"bc356cb4-35a2-4380-a32b-fcffcd204ec7","is_ipv6":[...]
[...]
    - id: 137
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029/nodes?order_by=created_at_asc&pool_id=e168964a-b6db-41e7-aa77-efbe5b1b7798&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"d211222c-8d8d-4d6f-a62d-bb9ceed4b029","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-01T21:43:51.727560Z","error_message":null,"id":"7e94ceb2-b288-487d-80ae-bbe6e1ef8618","name":"scw-test-pool-minimal-test-pool-minimal-7e94ce","pool_id":"e168964a-b6db-41e7-aa77-efbe5b1b7798","provider_id":"scaleway://instance/fr-par-1/a61236b4-96c4-4fad-a702-510dc694f544","public_ip_v4":"212.47.236.112","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-01T21:49:01.220356Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.287571ms
[...]
    - id: 164
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b09545f5-c2ed-4589-8e51-970566e0dbac
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"b09545f5-c2ed-4589-8e51-970566e0dbac","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.962949ms
[...]
    - id: 184
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d211222c-8d8d-4d6f-a62d-bb9ceed4b029?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
