---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-14T21:17:48.001776Z","dhcp_enabled":true,"id":"28893acf-2ac7-4a68-b533-a8580d6d646b","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.001776Z","id":"be549372-8a82-4316-9e18-75bd661ec0b5","private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-14T21:17:48.001776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.001776Z","id":"1b155fd5-2e6b-4694-851e-7cf2effd7b11","private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:3d67::/64","updated_at":"2025-05-14T21:17:48.001776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.001776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 760.019695ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/28893acf-2ac7-4a68-b533-a8580d6d646b
        method: GET
      response:
        body: '{"created_at":"2025-05-14T21:17:48.001776Z","dhcp_enabled":true,"id":"28893acf-2ac7-4a68-b533-a8580d6d646b","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.001776Z","id":"be549372-8a82-4316-9e18-75bd661ec0b5","private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-14T21:17:48.001776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.001776Z","id":"1b155fd5-2e6b-4694-851e-7cf2effd7b11","private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:3d67::/64","updated_at":"2025-05-14T21:17:48.001776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.001776Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.922106ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4a7071f5-217e-44ea-83bf-ec1e80ebf31b.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-14T21:17:49.266426Z","created_at":"2025-05-14T21:17:49.266415Z","description":"","dns_wildcard":"*.4a7071f5-217e-44ea-83bf-ec1e80ebf31b.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"4a7071f5-217e-44ea-83bf-ec1e80ebf31b","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-05-14T21:17:49.266415Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.490564ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a7071f5-217e-44ea-83bf-ec1e80ebf31b
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a7071f5-217e-44ea-83bf-ec1e80ebf31b/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.069105ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a7071f5-217e-44ea-83bf-ec1e80ebf31b/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGhOZWtsNFRWUmpNVTFHYjFoRVZFMHhUVVJWZUUxNlNYaE5WR014VFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a7071f5-217e-44ea-83bf-ec1e80ebf31b/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"4a7071f5-217e-44ea-83bf-ec1e80ebf31b","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.591250Z","id":"ce140703-aa33-4356-abcc-2b8589517a60","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:17:55.591250Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.544818ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ce140703-aa33-4356-abcc-2b8589517a60
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"4a7071f5-217e-44ea-83bf-ec1e80ebf31b","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.591250Z","id":"ce140703-aa33-4356-abcc-2b8589517a60","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:17:55.591250Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.350972ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a7071f5-217e-44ea-83bf-ec1e80ebf31b/nodes?order_by=created_at_asc&page=1&pool_id=ce140703-aa33-4356-abcc-2b8589517a60&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4a7071f5-217e-44ea-83bf-ec1e80ebf31b","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T21:19:25.732515Z","error_message":"","id":"deac0a80-9549-4fce-a36a-35e51a87a14b","name":"scw-test-k8s-public-i-test-k8s-public-i-deac0a","pool_id":"ce140703-aa33-4356-abcc-2b8589517a60","provider_id":"scaleway://instance/fr-par-1/68282a7f-e528-43a8-9e1b-09640e5ae157","public_ip_v4":"163.172.178.192","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T21:22:46.775091Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.631036ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-k8s-public-i-test-k8s-public-i-deac0a&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:3d67:131:5e29:ed58:b31e/64","created_at":"2025-05-14T21:19:29.668522Z","id":"92a3fffd-bf8a-4385-b8df-0ad53c9d03c8","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d5530aa8-f8a6-4e0a-9dd9-25df5a523bc1","mac_address":"02:00:00:1A:A7:BB","name":"scw-test-k8s-public-i-test-k8s-public-i-deac0a","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"1b155fd5-2e6b-4694-851e-7cf2effd7b11"},"tags":[],"updated_at":"2025-05-14T21:19:29.668522Z","zone":null},{"address":"172.16.4.3/22","created_at":"2025-05-14T21:19:29.260708Z","id":"7662f8b9-d2a8-4bc9-95d7-f9c289f42404","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d5530aa8-f8a6-4e0a-9dd9-25df5a523bc1","mac_address":"02:00:00:1A:A7:BB","name":"scw-test-k8s-public-i-test-k8s-public-i-deac0a","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"be549372-8a82-4316-9e18-75bd661ec0b5"},"tags":[],"updated_at":"2025-05-14T21:19:29.260708Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.026298ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a7071f5-217e-44ea-83bf-ec1e80ebf31b/nodes?order_by=created_at_asc&pool_id=ce140703-aa33-4356-abcc-2b8589517a60&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4a7071f5-217e-44ea-83bf-ec1e80ebf31b","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T21:19:25.732515Z","error_message":"","id":"deac0a80-9549-4fce-a36a-35e51a87a14b","name":"scw-test-k8s-public-i-test-k8s-public-i-deac0a","pool_id":"ce140703-aa33-4356-abcc-2b8589517a60","provider_id":"scaleway://instance/fr-par-1/68282a7f-e528-43a8-9e1b-09640e5ae157","public_ip_v4":"163.172.178.192","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T21:22:46.775091Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.361886ms
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/68282a7f-e528-43a8-9e1b-09640e5ae157
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-05-14T21:19:27.793319+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-deac0a","id":"68282a7f-e528-43a8-9e1b-09640e5ae157","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"28","hypervisor_id":"201","node_id":"7","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ae:16:8f","maintenances":[],"modification_date":"2025-05-14T21:19:32.605179+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-deac0a","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-05-14T21:19:28.899325+00:00","id":"d5530aa8-f8a6-4e0a-9dd9-25df5a523bc1","ipam_ip_ids":["7662f8b9-d2a8-4bc9-95d7-f9c289f42404","92a3fffd-bf8a-4385-b8df-0ad53c9d03c8"],"mac_address":"02:00:00:1a:a7:bb","modification_date":"2025-05-14T21:19:29.034013+00:00","private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","server_id":"68282a7f-e528-43a8-9e1b-09640e5ae157","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.178.192","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"93ed3fd8-41f6-49b6-a95f-62d153ed7a25","ipam_id":"b36ef608-96cd-405f-8521-c615dfe08ed9","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=4a7071f5-217e-44ea-83bf-ec1e80ebf31b","node-name=scw-test-k8s-public-i-test-k8s-public-i-deac0a"]},"public_ips":[{"address":"163.172.178.192","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"93ed3fd8-41f6-49b6-a95f-62d153ed7a25","ipam_id":"b36ef608-96cd-405f-8521-c615dfe08ed9","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=4a7071f5-217e-44ea-83bf-ec1e80ebf31b","node-name=scw-test-k8s-public-i-test-k8s-public-i-deac0a"]},{"address":"2001:bc8:710:722b:dc00:ff:feae:168f","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feae:1690","id":"971b3ea2-590d-46ab-97f1-dbe860c2675d","ipam_id":"d4858c0b-712b-4a38-8f40-a6f610d0bcdc","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=4a7071f5-217e-44ea-83bf-ec1e80ebf31b","node-name=scw-test-k8s-public-i-test-k8s-public-i-deac0a"]}],"routed_ip_enabled":true,"security_group":{"id":"a106b718-becb-4c3f-ac4b-c3f00c59b263","name":"kubernetes 4a7071f5-217e-44ea-83bf-ec1e80ebf31b"},"state":"running","state_detail":"booted","tags":["kapsule=4a7071f5-217e-44ea-83bf-ec1e80ebf31b","pool=ce140703-aa33-4356-abcc-2b8589517a60","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=deac0a80-9549-4fce-a36a-35e51a87a14b"],"volumes":{"0":{"boot":true,"id":"63580ee6-819d-4b1b-af8f-87ccdd583793","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.920067ms
[...]
    - id: 142
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ce140703-aa33-4356-abcc-2b8589517a60
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"ce140703-aa33-4356-abcc-2b8589517a60","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 80.433861ms
    - id: 143
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-14T21:27:27.953694Z","gateway_networks":[],"id":"6a72dc63-a270-4c70-9a44-92adc611c026","ipv4":{"address":"51.15.230.105","created_at":"2025-05-14T21:27:27.926171Z","gateway_id":"6a72dc63-a270-4c70-9a44-92adc611c026","id":"dd9afb60-3a67-4744-b365-809fd2ccdab4","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"105-230-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-14T21:27:27.926171Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-14T21:27:27.953694Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.595341192s
    - id: 144
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6a72dc63-a270-4c70-9a44-92adc611c026
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-14T21:27:27.953694Z","gateway_networks":[],"id":"6a72dc63-a270-4c70-9a44-92adc611c026","ipv4":{"address":"51.15.230.105","created_at":"2025-05-14T21:27:27.926171Z","gateway_id":"6a72dc63-a270-4c70-9a44-92adc611c026","id":"dd9afb60-3a67-4744-b365-809fd2ccdab4","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"105-230-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-14T21:27:27.926171Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-14T21:27:28.009028Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.184553ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"6a72dc63-a270-4c70-9a44-92adc611c026","private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-14T21:27:34.439658Z","gateway_id":"6a72dc63-a270-4c70-9a44-92adc611c026","id":"9fc32409-9835-4057-ae64-1a2d7858e99b","ipam_ip_id":"6c7c5d22-4f6e-4ea8-8283-642586ede3ce","masquerade_enabled":true,"private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","push_default_route":true,"status":"created","updated_at":"2025-05-14T21:27:34.439658Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.042841614s
[...]
    - id: 152
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/9fc32409-9835-4057-ae64-1a2d7858e99b
        method: GET
      response:
        body: '{"created_at":"2025-05-14T21:27:34.439658Z","gateway_id":"6a72dc63-a270-4c70-9a44-92adc611c026","id":"9fc32409-9835-4057-ae64-1a2d7858e99b","ipam_ip_id":"6c7c5d22-4f6e-4ea8-8283-642586ede3ce","mac_address":"02:00:00:14:49:84","masquerade_enabled":true,"private_network_id":"28893acf-2ac7-4a68-b533-a8580d6d646b","push_default_route":true,"status":"ready","updated_at":"2025-05-14T21:27:43.638760Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 449.546939ms
[...]
    - id: 154
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=28893acf-2ac7-4a68-b533-a8580d6d646b&resource_id=9fc32409-9835-4057-ae64-1a2d7858e99b&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.4.4/22","created_at":"2025-05-14T21:27:34.315565Z","id":"6c7c5d22-4f6e-4ea8-8283-642586ede3ce","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"9fc32409-9835-4057-ae64-1a2d7858e99b","mac_address":"02:00:00:14:49:84","name":"test-k8s-public-ip","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"be549372-8a82-4316-9e18-75bd661ec0b5"},"tags":[],"updated_at":"2025-05-14T21:27:34.846511Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.002011ms
[...]
    - id: 312
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4a7071f5-217e-44ea-83bf-ec1e80ebf31b?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 320
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6a72dc63-a270-4c70-9a44-92adc611c026?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-14T21:27:27.953694Z","gateway_networks":[],"id":"6a72dc63-a270-4c70-9a44-92adc611c026","ipv4":{"address":"51.15.230.105","created_at":"2025-05-14T21:27:27.926171Z","gateway_id":"6a72dc63-a270-4c70-9a44-92adc611c026","id":"dd9afb60-3a67-4744-b365-809fd2ccdab4","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"105-230-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-14T21:27:27.926171Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-14T21:39:44.250637Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 451.601529ms
[...]
