---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-heuristic-mirzakhani\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"6baec7f2-6583-4805-9b7d-ef0603a2cff6\", \"name\":\"tf-vpc-heuristic-mirzakhani\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:41.869540Z\", \"updated_at\":\"2025-10-30T16:51:41.869540Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 70.709479ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6baec7f2-6583-4805-9b7d-ef0603a2cff6
    method: GET
  response:
    body: "{\"id\":\"6baec7f2-6583-4805-9b7d-ef0603a2cff6\", \"name\":\"tf-vpc-heuristic-mirzakhani\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:41.869540Z\", \"updated_at\":\"2025-10-30T16:51:41.869540Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 27.960136ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-size\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"6baec7f2-6583-4805-9b7d-ef0603a2cff6\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"8cc7d8e5-b56e-44ad-8001-d2fa3796163e\", \"name\":\"test-pool-size\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:41.989202Z\", \"updated_at\":\"2025-10-30T16:51:41.989202Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"792887f6-0210-4d72-85e3-631bf1861aa4\", \"created_at\":\"2025-10-30T16:51:41.989202Z\", \"updated_at\":\"2025-10-30T16:51:41.989202Z\", \"subnet\":\"172.18.56.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"8cc7d8e5-b56e-44ad-8001-d2fa3796163e\", \"vpc_id\":\"6baec7f2-6583-4805-9b7d-ef0603a2cff6\"}, {\"id\":\"83a37010-9e4f-443f-ab9c-1dfd0d17cdf3\", \"created_at\":\"2025-10-30T16:51:41.989202Z\", \"updated_at\":\"2025-10-30T16:51:41.989202Z\", \"subnet\":\"fd5f:519c:6d46:8b07::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"8cc7d8e5-b56e-44ad-8001-d2fa3796163e\", \"vpc_id\":\"6baec7f2-6583-4805-9b7d-ef0603a2cff6\"}], \"vpc_id\":\"6baec7f2-6583-4805-9b7d-ef0603a2cff6\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 626.568329ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8cc7d8e5-b56e-44ad-8001-d2fa3796163e
    method: GET
  response:
    body: "{\"id\":\"8cc7d8e5-b56e-44ad-8001-d2fa3796163e\", \"name\":\"test-pool-size\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:41.989202Z\", \"updated_at\":\"2025-10-30T16:51:41.989202Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-8[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-size\",\"description\":\"\",\"tags\":[],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enable\":true,\"maintenance_window\":{\"start_hour\":12,\"day\":\"monday\"}},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"8cc7d8e5-b56e-44ad-8001-d2fa3796163e\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"72af4d6f-f77b-4a30-94d7-95e9d20d7c7c\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:42.964774Z\", \"updated_at\":\"2025-10-30T16:51:42.964774Z\", \"type\":\"kapsule\", \"name\":\"test-pool-size\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[], \"cluster_url\":\"https://72af4d6f-f77b-4a30-94d7-95e9d20d7c7c.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.72af4d6f-f77b-4a30-94d7-95e9d20d7c7c.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":true, \"maintenance_window\":{\"start_hour\":12, \"day\":\"monday\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"8cc7d8e5-b56e-44ad-8001-d2fa3796163e\", \"commitment_ends_at\":\"2025-10-30T16:51:42.964783Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 385.478336ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/72af4d6f-f77b-4a30-94d7-95e9d20d7c7c
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"72af4d6f-f77b-4a30-94d7-95e9d20d7c7c\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:42.964774Z\", \"updated_at\":\"2025-10-30T16:51:42.964774Z\", \"type\":\"k[...]
[...]
- id: 9
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/72af4d6f-f77b-4a30-94d7-95e9d20d7c7c/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.812574ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/72af4d6f-f77b-4a30-94d7-95e9d20d7c7c/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJCZVU5VVJUSk9WRVV3VFRGdldFUlVUVEZOVkVGNVQxUkZNazVVUlRCTk1XOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVFU4cm[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pool\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/72af4d6f-f77b-4a30-94d7-95e9d20d7c7c/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"0ccff165-4abf-4eaf-b15b-f015df945404\", \"cluster_id\":\"72af4d6f-f77b-4a30-94d7-95e9d20d7c7c\", \"created_at\":\"2025-10-30T16:51:48.468973Z\", \"updated_at\":\"2025-10-30T16:51:48.468973Z\", \"name\":\"pool\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.467081ms
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0ccff165-4abf-4eaf-b15b-f015df945404
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"0ccff165-4abf-4eaf-b15b-f015df945404\", \"cluster_id\":\"72af4d6f-f77b-4a30-94d7-95e9d20d7c7c\", \"created_at\":\"2025-10-30T16:51:48.468973Z\", \"updated_at\":\"2025-10-30T16:51:48.468973Z\", \"name\":\"pool\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.61575ms
[...]
- id: 65
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 0ccff165-4abf-4eaf-b15b-f015df945404
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/72af4d6f-f77b-4a30-94d7-95e9d20d7c7c/nodes?order_by=created_at_asc&page=1&pool_id=0ccff165-4abf-4eaf-b15b-f015df945404&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"49bcc1f6-133f-4938-9f5a-bbca5c23cc31\", \"cluster_id\":\"72af4d6f-f77b-4a30-94d7-95e9d20d7c7c\", \"created_at\":\"2025-10-30T16:54:54.764720Z\", \"updated_at\":\"2025-10-30T16:55:52.833238Z\", \"pool_id\":\"0ccff165-4abf-4eaf-b15b-f015df945404\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-size-pool-49bcc1f6133f49389f5abb\", \"public_ip_v4\":\"51.15.236.240\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/6eb38208-a5b7-466c-ba47-ec9fc6bab30c\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.86252ms
[...]
- id: 67
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-size-pool-49bcc1f6133f49389f5abb
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-size-pool-49bcc1f6133f49389f5abb&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"0461f29b-4b0e-45ea-abba-9b80a0cca4c9\", \"address\":\"fd5f:519c:6d46:8b07:57fd:7a14:5813:b86/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:54:58.251406Z\", \"updated_at\":\"2025-10-30T16:54:58.251406Z\", \"source\":{\"subnet_id\":\"83a37010-9e4f-443f-ab9c-1dfd0d17cdf3\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"cdf2a35f-fc87-448f-a83b-1e0d7689f523\", \"mac_address\":\"02:00:00:16:0B:D2\", \"name\":\"scw-test-pool-size-pool-49bcc1f6133f49389f5abb\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"0cfb1399-091a-4e24-bf6d-0e4a3877b504\", \"address\":\"172.18.56.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:54:58.095801Z\", \"updated_at\":\"2025-10-30T16:54:58.095801Z\", \"source\":{\"subnet_id\":\"792887f6-0210-4d72-85e3-631bf1861aa4\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"cdf2a35f-fc87-448f-a83b-1e0d7689f523\", \"mac_address\":\"02:00:00:16:0B:D2\", \"name\":\"scw-test-pool-size-pool-49bcc1f6133f49389f5abb\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 57.262461ms
[...]
- id: 111
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0ccff165-4abf-4eaf-b15b-f015df945404
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"0ccff165-4abf-4eaf-b15b-f015df945404\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.823379ms
- id: 112
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/72af4d6f-f77b-4a30-94d7-95e9d20d7c7c?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"72af4d6f-f77b-4a30-94d7-95e9d20d7c7c\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:51:42.964774Z\", \"updated_at\":\"2025-10-30T16:58:07.699283Z\", \"type[...]
[...]
