---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-kubelet-args\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\",\"name\":\"test-pool-kubelet-args\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:14.641623Z\",\"updated_at\":\"2025-08-28T14:13:14.641623Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"7a6a2c99-a723-470a-968d-98bc39a0d660\",\"created_at\":\"2025-08-28T14:13:14.641623Z\",\"updated_at\":\"2025-08-28T14:13:14.641623Z\",\"subnet\":\"172.16.40.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"97d5496e-8e7f-436a-8ede-8c93c00c7b13\",\"created_at\":\"2025-08-28T14:13:14.641623Z\",\"updated_at\":\"2025-08-28T14:13:14.641623Z\",\"subnet\":\"fde7:767f:1bb5:9d89::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.930696194s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/61a98e72-30b8-4748-b9d8-cdee6294823d
    method: GET
  response:
    body: "{\"id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\",\"name\":\"test-pool-kubelet-args\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:14.641623Z\",\"updated_at\":\"2025-08-28T14:13:14.641623Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"7a6a2c99-a723-470a-968d-98bc39a0d660\",\"created_at\":\"2025-08-28T14:13:14.641623Z\",\"updated_at\":\"2025-08-28T14:13:14.641623Z\",\"subnet\":\"172.16.40.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"97d5496e-8e7f-436a-8ede-8c93c00c7b13\",\"created_at\":\"2025-08-28T14:13:14.641623Z\",\"updated_at\":\"2025-08-28T14:13:14.641623Z\",\"subnet\":\"fde7:767f:1bb5:9d89::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.689696ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-kubelet-args\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"kubelet_args\"],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"ac8abb82-05e5-42cf-989c-159b0b26a431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:16.074905Z\",\"updated_at\":\"2025-08-28T14:13:16.074905Z\",\"type\":\"kapsule\",\"name\":\"test-pool-kubelet-args\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"kubelet_args\"],\"cluster_url\":\"https://ac8abb82-05e5-42cf-989c-159b0b26a431.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.ac8abb82-05e5-42cf-989c-159b0b26a431.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"61a98e72-30b8-4748-b9d8-cdee6294823d\",\"commitment_ends_at\":\"2025-08-28T14:13:16.074913Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 422.253025ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ac8abb82-05e5-42cf-989c-159b0b26a431
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"ac8abb82-05e5-42cf-989c-159b0b26a431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:16.074905Z\",\"updated_at\":\"2025-08-28T14:13:16.074905Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ac8abb82-05e5-42cf-989c-159b0b26a431/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.999194ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ac8abb82-05e5-42cf-989c-159b0b26a431/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFWjNsT2VrVXdUVlJOZUU1c2IxaEVWRTB4VFVSbmVVNTZSVEJOVkUxNFRteHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkbl[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-kubelet-args\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"kubelet_args\"],\"kubelet_args\":{\"maxPods\":\"1337\"},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ac8abb82-05e5-42cf-989c-159b0b26a431/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"2f6e340e-723f-468d-970b-a38018fda4c7\",\"cluster_id\":\"ac8abb82-05e5-42cf-989c-159b0b26a431\",\"created_at\":\"2025-08-28T14:13:21.884277Z\",\"updated_at\":\"2025-08-28T14:13:21.884277Z\",\"name\":\"test-pool-kubelet-args\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"kubelet_args\"],\"placement_group_id\":null,\"kubelet_args\":{\"maxPods\":\"1337\"},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.226885ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2f6e340e-723f-468d-970b-a38018fda4c7
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"2f6e340e-723f-468d-970b-a38018fda4c7\",\"cluster_id\":\"ac8abb82-05e5-42cf-989c-159b0b26a431\",\"created_at\":\"2025-08-28T14:13:21.884277Z\",\"updated_at\":\"2025-08-28T14:13:21.884277Z\",\"name\":\"test-pool-kubelet-args\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"kubelet_args\"],\"placement_group_id\":null,\"kubelet_args\":{\"maxPods\":\"1337\"},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 71.911931ms
[...]
- id: 67
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 2f6e340e-723f-468d-970b-a38018fda4c7
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ac8abb82-05e5-42cf-989c-159b0b26a431/nodes?order_by=created_at_asc&page=1&pool_id=2f6e340e-723f-468d-970b-a38018fda4c7&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"1219acbd-8800-4409-a471-7a171ca12f1b\",\"cluster_id\":\"ac8abb82-05e5-42cf-989c-159b0b26a431\",\"created_at\":\"2025-08-28T14:15:40.941404Z\",\"updated_at\":\"2025-08-28T14:17:49.987769Z\",\"pool_id\":\"2f6e340e-723f-468d-970b-a38018fda4c7\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-kubelet-test-pool-kubelet-1219ac\",\"public_ip_v4\":\"51.15.224.110\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/605254ed-8c04-4950-ab0d-f5d9160cf43d\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.608686ms
[...]
- id: 69
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-kubelet-test-pool-kubelet-1219ac
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-kubelet-test-pool-kubelet-1219ac&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"58a55ead-8fd0-4253-ad07-0b9e296da072\",\"address\":\"fde7:767f:1bb5:9d89:f48f:4ed0:e85a:9111/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:15:44.758248Z\",\"updated_at\":\"2025-08-28T14:15:44.758248Z\",\"source\":{\"subnet_id\":\"97d5496e-8e7f-436a-8ede-8c93c00c7b13\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"8bf902c5-8cf3-451a-87ac-05faffe36c4a\",\"mac_address\":\"02:00:00:18:0A:36\",\"name\":\"scw-test-pool-kubelet-test-pool-kubelet-1219ac\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"1c472df7-cf31-4d97-a622-4078842526d1\",\"address\":\"172.16.40.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:15:44.612646Z\",\"updated_at\":\"2025-08-28T14:15:44.612646Z\",\"source\":{\"subnet_id\":\"7a6a2c99-a723-470a-968d-98bc39a0d660\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"8bf902c5-8cf3-451a-87ac-05faffe36c4a\",\"mac_address\":\"02:00:00:18:0A:36\",\"name\":\"scw-test-pool-kubelet-test-pool-kubelet-1219ac\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.254101ms
[...]
- id: 153
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2f6e340e-723f-468d-970b-a38018fda4c7
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"2f6e340e-723f-468d-970b-a38018fda4c7\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.930513ms
- id: 154
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ac8abb82-05e5-42cf-989c-159b0b26a431?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"ac8abb82-05e5-42cf-989c-159b0b26a431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:16.074905Z\",\"updated_at\":\"2025-08-28T14:22:16.954028Z\",\"type\":\"k[...]
[...]
