---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:11:12.870477Z","dhcp_enabled":true,"id":"a771314c-8cf1-4ff0-9928-f07c9060de77","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:11:12.870477Z","id":"1f9653a1-b26f-49fc-984b-0e217af4e353","private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-13T18:11:12.870477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-13T18:11:12.870477Z","id":"e3d34e8a-e95d-4f66-bfdd-fe6597cb8f2f","private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:edaa::/64","updated_at":"2025-05-13T18:11:12.870477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-13T18:11:12.870477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.050855639s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a771314c-8cf1-4ff0-9928-f07c9060de77
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:11:12.870477Z","dhcp_enabled":true,"id":"a771314c-8cf1-4ff0-9928-f07c9060de77","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:11:12.870477Z","id":"1f9653a1-b26f-49fc-984b-0e217af4e353","private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-13T18:11:12.870477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-13T18:11:12.870477Z","id":"e3d34e8a-e95d-4f66-bfdd-fe6597cb8f2f","private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:edaa::/64","updated_at":"2025-05-13T18:11:12.870477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-13T18:11:12.870477Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.295311ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://14105434-fcb6-4b87-ac57-c2e9afd7e201.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-13T18:11:14.158397Z","created_at":"2025-05-13T18:11:14.158387Z","description":"","dns_wildcard":"*.14105434-fcb6-4b87-ac57-c2e9afd7e201.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"14105434-fcb6-4b87-ac57-c2e9afd7e201","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-05-13T18:11:14.158387Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 968.508828ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/14105434-fcb6-4b87-ac57-c2e9afd7e201
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/14105434-fcb6-4b87-ac57-c2e9afd7e201/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.961729ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/14105434-fcb6-4b87-ac57-c2e9afd7e201/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGhOYWtVMFRWUkZlRTVXYjFoRVZFMHhUVVJWZUUxcVJUUk5WRVY0VGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/14105434-fcb6-4b87-ac57-c2e9afd7e201/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"14105434-fcb6-4b87-ac57-c2e9afd7e201","container_runtime":"containerd","created_at":"2025-05-13T18:11:20.323790Z","id":"bdd8513d-cb40-4400-a72b-5e87ca547af1","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-13T18:11:20.323790Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 799.938292ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bdd8513d-cb40-4400-a72b-5e87ca547af1
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"14105434-fcb6-4b87-ac57-c2e9afd7e201","container_runtime":"containerd","created_at":"2025-05-13T18:11:20.323790Z","id":"bdd8513d-cb40-4400-a72b-5e87ca547af1","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-13T18:11:20.323790Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.875264ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/14105434-fcb6-4b87-ac57-c2e9afd7e201/nodes?order_by=created_at_asc&page=1&pool_id=bdd8513d-cb40-4400-a72b-5e87ca547af1&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"14105434-fcb6-4b87-ac57-c2e9afd7e201","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-13T18:13:18.963372Z","error_message":"","id":"6f7909e0-61e8-44d3-9d22-8f25da782a4b","name":"scw-test-k8s-public-i-test-k8s-public-i-6f7909","pool_id":"bdd8513d-cb40-4400-a72b-5e87ca547af1","provider_id":"scaleway://instance/fr-par-1/01210b02-15ec-4a3e-b7c1-815205325bec","public_ip_v4":"163.172.178.192","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-13T18:16:11.382676Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.544189ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/14105434-fcb6-4b87-ac57-c2e9afd7e201/nodes?order_by=created_at_asc&pool_id=bdd8513d-cb40-4400-a72b-5e87ca547af1&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"14105434-fcb6-4b87-ac57-c2e9afd7e201","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-13T18:13:18.963372Z","error_message":"","id":"6f7909e0-61e8-44d3-9d22-8f25da782a4b","name":"scw-test-k8s-public-i-test-k8s-public-i-6f7909","pool_id":"bdd8513d-cb40-4400-a72b-5e87ca547af1","provider_id":"scaleway://instance/fr-par-1/01210b02-15ec-4a3e-b7c1-815205325bec","public_ip_v4":"163.172.178.192","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-13T18:16:11.382676Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.701907ms
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/01210b02-15ec-4a3e-b7c1-815205325bec
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-05-13T18:13:20.839668+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-6f7909","id":"01210b02-15ec-4a3e-b7c1-815205325bec","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"28","hypervisor_id":"201","node_id":"7","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ad:c7:cd","maintenances":[],"modification_date":"2025-05-13T18:13:25.719122+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-6f7909","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-05-13T18:13:22.170807+00:00","id":"25f8312c-629c-4543-8d26-5f8a3252079f","ipam_ip_ids":["d7cc136c-6a75-45ec-8661-401504eb57af","b5fc9e50-f2cd-4ac6-b692-3ea3a577c1d3"],"mac_address":"02:00:00:12:75:c1","modification_date":"2025-05-13T18:13:22.329848+00:00","private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","server_id":"01210b02-15ec-4a3e-b7c1-815205325bec","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.178.192","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"93ed3fd8-41f6-49b6-a95f-62d153ed7a25","ipam_id":"bccffe1b-40be-4fa6-99d6-eb5c477cf0b3","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=14105434-fcb6-4b87-ac57-c2e9afd7e201","node-name=scw-test-k8s-public-i-test-k8s-public-i-6f7909"]},"public_ips":[{"address":"163.172.178.192","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"93ed3fd8-41f6-49b6-a95f-62d153ed7a25","ipam_id":"bccffe1b-40be-4fa6-99d6-eb5c477cf0b3","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=14105434-fcb6-4b87-ac57-c2e9afd7e201","node-name=scw-test-k8s-public-i-test-k8s-public-i-6f7909"]},{"address":"2001:bc8:710:722b:dc00:ff:fead:c7cd","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fead:c7ce","id":"971b3ea2-590d-46ab-97f1-dbe860c2675d","ipam_id":"d88251b8-e7a3-468d-91a8-4ab2b5e75669","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=14105434-fcb6-4b87-ac57-c2e9afd7e201","node-name=scw-test-k8s-public-i-test-k8s-public-i-6f7909"]}],"routed_ip_enabled":true,"security_group":{"id":"e4df395e-e8cf-4820-996b-d143f928732d","name":"kubernetes 14105434-fcb6-4b87-ac57-c2e9afd7e201"},"state":"running","state_detail":"booted","tags":["kapsule=14105434-fcb6-4b87-ac57-c2e9afd7e201","pool=bdd8513d-cb40-4400-a72b-5e87ca547af1","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=6f7909e0-61e8-44d3-9d22-8f25da782a4b"],"volumes":{"0":{"boot":true,"id":"d44b95a9-b0d8-4e28-8928-f3dd402c803c","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.381595ms
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bdd8513d-cb40-4400-a72b-5e87ca547af1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"bdd8513d-cb40-4400-a72b-5e87ca547af1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.283748ms
    - id: 142
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:20:41.547230Z","gateway_networks":[],"id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","ipv4":{"address":"51.15.237.159","created_at":"2025-05-13T18:20:41.501289Z","gateway_id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","id":"3eb51b96-bfe5-4eb7-8ce5-a8eff1f5638c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"159-237-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:20:41.501289Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:20:41.547230Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 881.146647ms
    - id: 143
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/069d9b64-64da-4c5b-a719-9f6b4dba3f7c
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:20:41.547230Z","gateway_networks":[],"id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","ipv4":{"address":"51.15.237.159","created_at":"2025-05-13T18:20:41.501289Z","gateway_id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","id":"3eb51b96-bfe5-4eb7-8ce5-a8eff1f5638c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"159-237-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:20:41.501289Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:20:41.611591Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.613917ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:20:53.461793Z","gateway_id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","id":"a95c046c-9c0b-49e5-a9be-f80ca85d5375","ipam_ip_id":"2b78dc8b-f58a-449e-87fb-fbdd153eaec2","masquerade_enabled":true,"private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","push_default_route":true,"status":"created","updated_at":"2025-05-13T18:20:53.461793Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.005416479s
[...]
    - id: 153
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/a95c046c-9c0b-49e5-a9be-f80ca85d5375
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:20:53.461793Z","gateway_id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","id":"a95c046c-9c0b-49e5-a9be-f80ca85d5375","ipam_ip_id":"2b78dc8b-f58a-449e-87fb-fbdd153eaec2","mac_address":"02:00:00:12:8A:27","masquerade_enabled":true,"private_network_id":"a771314c-8cf1-4ff0-9928-f07c9060de77","push_default_route":true,"status":"ready","updated_at":"2025-05-13T18:21:04.620516Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.454214ms
[...]
    - id: 155
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a771314c-8cf1-4ff0-9928-f07c9060de77&resource_id=a95c046c-9c0b-49e5-a9be-f80ca85d5375&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.20.4/22","created_at":"2025-05-13T18:20:53.344204Z","id":"2b78dc8b-f58a-449e-87fb-fbdd153eaec2","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"a95c046c-9c0b-49e5-a9be-f80ca85d5375","mac_address":"02:00:00:12:8A:27","name":"test-k8s-public-ip","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"1f9653a1-b26f-49fc-984b-0e217af4e353"},"tags":[],"updated_at":"2025-05-13T18:20:53.828795Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.171546ms
[...]
    - id: 315
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/14105434-fcb6-4b87-ac57-c2e9afd7e201?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 323
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/069d9b64-64da-4c5b-a719-9f6b4dba3f7c?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:20:41.547230Z","gateway_networks":[],"id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","ipv4":{"address":"51.15.237.159","created_at":"2025-05-13T18:20:41.501289Z","gateway_id":"069d9b64-64da-4c5b-a719-9f6b4dba3f7c","id":"3eb51b96-bfe5-4eb7-8ce5-a8eff1f5638c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"159-237-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:20:41.501289Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:33:02.278923Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.021759ms
[...]
