---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigZone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T15:28:23.207506Z","custom_routes_propagation_enabled":true,"id":"1dd3124a-1195-4bbd-a430-dfd715ab224e","is_default":false,"name":"testAccCheckK8SPoolConfigZone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T15:28:23.207506Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.883417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1dd3124a-1195-4bbd-a430-dfd715ab224e
        method: GET
      response:
        body: '{"created_at":"2025-09-30T15:28:23.207506Z","custom_routes_propagation_enabled":true,"id":"1dd3124a-1195-4bbd-a430-dfd715ab224e","is_default":false,"name":"testAccCheckK8SPoolConfigZone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T15:28:23.207506Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.46175ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"1dd3124a-1195-4bbd-a430-dfd715ab224e","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T15:28:23.439238Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T15:28:23.439238Z","id":"8644fb21-ddd0-47e8-b422-3f2d4f115dfb","private_network_id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.112.0/22","updated_at":"2025-09-30T15:28:23.439238Z","vpc_id":"1dd3124a-1195-4bbd-a430-dfd715ab224e"},{"created_at":"2025-09-30T15:28:23.439238Z","id":"22c46458-d044-44d9-8e21-9c67262e6e6e","private_network_id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:234c::/64","updated_at":"2025-09-30T15:28:23.439238Z","vpc_id":"1dd3124a-1195-4bbd-a430-dfd715ab224e"}],"tags":[],"updated_at":"2025-09-30T15:28:23.439238Z","vpc_id":"1dd3124a-1195-4bbd-a430-dfd715ab224e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 655.272875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2f30018e-f3ff-4b14-89ae-d65bef03f23e
        method: GET
      response:
        body: '{"created_at":"2025-09-30T15:28:23.439238Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T15:28:23.439238Z","id":"8644fb21-ddd0-47e8-b422-3f2d4f115dfb","private_network_id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.112.0/22","updated_at":"2025-09-30T15:28:23.439238Z","vpc_id":"1dd3124a-1195-4bbd-a430-dfd715ab224e"},{"created_at":"2025-09-30T15:28:23.439238Z","id":"22c46458-d044-44d9-8e21-9c67262e6e6e","private_network_id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:234c::/64","updated_at":"2025-09-30T15:28:23.439238Z","vpc_id":"1dd3124a-1195-4bbd-a430-dfd715ab224e"}],"tags":[],"updated_at":"2025-09-30T15:28:23.439238Z","vpc_id":"1dd3124a-1195-4bbd-a430-dfd715ab224e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.295875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://59377433-077c-4ef6-bd1f-209d19c82eb4.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T15:28:24.469985Z","created_at":"2025-09-30T15:28:24.469977Z","description":"","dns_wildcard":"*.59377433-077c-4ef6-bd1f-209d19c82eb4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"59377433-077c-4ef6-bd1f-209d19c82eb4","name":"test-pool-zone","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"2f30018e-f3ff-4b14-89ae-d65bef03f23e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2025-09-30T15:28:24.469977Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 526.217792ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/59377433-077c-4ef6-bd1f-209d19c82eb4
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/59377433-077c-4ef6-bd1f-209d19c82eb4/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.838834ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/59377433-077c-4ef6-bd1f-209d19c82eb4/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhha05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVVJyZVU5VVJURk5hbWQ1VGtadldFUlVUVEZOUkd0NVQxUkZNVTFxWjNsT1JtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVFVWR1E[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/59377433-077c-4ef6-bd1f-209d19c82eb4/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"59377433-077c-4ef6-bd1f-209d19c82eb4","container_runtime":"containerd","created_at":"2025-09-30T15:28:30.237220Z","id":"19dcdaf1-5c09-4fb5-a58e-2671dc0a7f9e","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"3bf76273-ddfe-45ed-bfde-44a48b4b32d0","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2025-09-30T15:28:30.237220Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.863375ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/19dcdaf1-5c09-4fb5-a58e-2671dc0a7f9e
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"59377433-077c-4ef6-bd1f-209d19c82eb4","container_runtime":"containerd","created_at":"2025-09-30T15:28:30.237220Z","id":"19dcdaf1-5c09-4fb5-a58e-2671dc0a7f9e","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"3bf76273-ddfe-45ed-bfde-44a48b4b32d0","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2025-09-30T15:28:30.237220Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.002792ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/59377433-077c-4ef6-bd1f-209d19c82eb4/nodes?order_by=created_at_asc&page=1&pool_id=19dcdaf1-5c09-4fb5-a58e-2671dc0a7f9e&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"59377433-077c-4ef6-bd1f-209d19c82eb4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T15:31:41.046767Z","error_message":"","id":"da4ee180-9b07-4743-9c6f-383e0229e5ea","name":"scw-test-pool-zone-test-pool-zone-da4ee1809b07","pool_id":"19dcdaf1-5c09-4fb5-a58e-2671dc0a7f9e","provider_id":"scaleway://instance/fr-par-2/6a1a13c6-cc23-4b51-9e8f-1a01081dfd91","public_ip_v4":"51.159.173.252","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T15:32:38.355624Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.008458ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-zone-test-pool-zone-da4ee1809b07&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:234c:5537:993a:3c23:26b6/64","created_at":"2025-09-30T15:31:45.641218Z","id":"3c497a51-2a2d-4a67-b5cf-27543dcb9207","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"59af31ee-8bf4-4347-91d4-bd857bd86eca","mac_address":"02:00:00:2D:33:0E","name":"scw-test-pool-zone-test-pool-zone-da4ee1809b07","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"22c46458-d044-44d9-8e21-9c67262e6e6e"},"tags":[],"updated_at":"2025-09-30T15:31:45.641218Z","zone":null},{"address":"172.17.112.3/22","created_at":"2025-09-30T15:31:45.516870Z","id":"9a2fc511-be9b-4264-984b-c807c2615a2a","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"59af31ee-8bf4-4347-91d4-bd857bd86eca","mac_address":"02:00:00:2D:33:0E","name":"scw-test-pool-zone-test-pool-zone-da4ee1809b07","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"8644fb21-ddd0-47e8-b422-3f2d4f115dfb"},"tags":[],"updated_at":"2025-09-30T15:31:45.516870Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.882708ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/19dcdaf1-5c09-4fb5-a58e-2671dc0a7f9e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"19dcdaf1-5c09-4fb5-a58e-2671dc0a7f9e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.698583ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/59377433-077c-4ef6-bd1f-209d19c82eb4?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
