---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-size","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T15:41:38.298794Z","dhcp_enabled":true,"id":"89a0f2da-2881-45a3-bae7-c96e38c4755f","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:38.298794Z","id":"86513cb1-0e22-4851-ac2f-bcc12e9036f9","subnet":"172.17.60.0/22","updated_at":"2024-04-08T15:41:38.298794Z"},{"created_at":"2024-04-08T15:41:38.298794Z","id":"b4276d76-0646-4a0a-b8e2-6eec3e2bc6ac","subnet":"fd5f:519c:6d46:dd04::/64","updated_at":"2024-04-08T15:41:38.298794Z"}],"tags":[],"updated_at":"2024-04-08T15:41:38.298794Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.10015034s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/89a0f2da-2881-45a3-bae7-c96e38c4755f
        method: GET
      response:
        body: '{"created_at":"2024-04-08T15:41:38.298794Z","dhcp_enabled":true,"id":"89a0f2da-2881-45a3-bae7-c96e38c4755f","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:38.298794Z","id":"86513cb1-0e22-4851-ac2f-bcc12e9036f9","subnet":"172.17.60.0/22","updated_at":"2024-04-08T15:41:38.298794Z"},{"created_at":"2024-04-08T15:41:38.298794Z","id":"b4276d76-0646-4a0a-b8e2-6eec3e2bc6ac","subnet":"fd5f:519c:6d46:dd04::/64","updated_at":"2024-04-08T15:41:38.298794Z"}],"tags":[],"updated_at":"2024-04-08T15:41:38.298794Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.927241ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-size","description":"","tags":[],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"89a0f2da-2881-45a3-bae7-c96e38c4755f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-08T15:41:40.262381017Z","created_at":"2024-04-08T15:41:40.262381017Z","description":"","dns_wildcard":"*.6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"89a0f2da-2881-45a3-bae7-c96e38c4755f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"type":"kapsule","updated_at":"2024-04-08T15:41:40.278012032Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.525160588s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"rando[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.28541ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYZE9la1V4VGtSRk1FMHhiMWhFVkUwd1RVUlJkMDU2UlRGT1JFVXdUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"pool","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2","container_runtime":"containerd","created_at":"2024-04-08T15:41:45.826844Z","id":"3dbd30f0-0cde-46ae-b10e-d6e485b0b013","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:41:45.835881232Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.120734ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3dbd30f0-0cde-46ae-b10e-d6e485b0b013
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2","container_runtime":"containerd","created_at":"2024-04-08T15:41:45.826844Z","id":"3dbd30f0-0cde-46ae-b10e-d6e485b0b013","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:41:45.835881Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.976543ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2/nodes?order_by=created_at_asc&page=1&pool_id=3dbd30f0-0cde-46ae-b10e-d6e485b0b013&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:44:53.647837Z","error_message":null,"id":"db732e70-3088-44e7-bcbf-d56c8fdc464b","name":"scw-test-pool-size-pool-db732e70308844e7bcbfd5","pool_id":"3dbd30f0-0cde-46ae-b10e-d6e485b0b013","provider_id":"scaleway://instance/fr-par-1/56c6d973-2b22-4c09-bf36-ad5923713b17","public_ip_v4":"51.15.216.37","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:47:54.208741Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.332962ms
[...]
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3dbd30f0-0cde-46ae-b10e-d6e485b0b013
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"3dbd30f0-0cde-46ae-b10e-d6e485b0b013","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.839085ms
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6ad9bf88-1daa-4d6e-b6f4-590d5bbf36c2?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"esti[...]
[...]
