---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:30.344029Z","dhcp_enabled":true,"id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:30.344029Z","id":"73327e9c-1ad4-4d6a-9c4d-106e6d7135dd","private_network_id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.68.0/22","updated_at":"2025-01-24T14:47:30.344029Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:30.344029Z","id":"cb8db600-b4e7-4693-8c93-0f81351dfc66","private_network_id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2ed0::/64","updated_at":"2025-01-24T14:47:30.344029Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:30.344029Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.002875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a247ae1e-53c0-46d2-8088-8b41b81bb899
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:30.344029Z","dhcp_enabled":true,"id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:30.344029Z","id":"73327e9c-1ad4-4d6a-9c4d-106e6d7135dd","private_network_id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.68.0/22","updated_at":"2025-01-24T14:47:30.344029Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:30.344029Z","id":"cb8db600-b4e7-4693-8c93-0f81351dfc66","private_network_id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2ed0::/64","updated_at":"2025-01-24T14:47:30.344029Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:30.344029Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.915875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.31.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"a247ae1e-53c0-46d2-8088-8b41b81bb899"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://46624af2-0bd8-4731-97a9-55f16692af26.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-01-24T14:47:31.493748Z","created_at":"2025-01-24T14:47:31.493735Z","description":"","dns_wildcard":"*.46624af2-0bd8-4731-97a9-55f16692af26.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"46624af2-0bd8-4731-97a9-55f16692af26","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-01-24T14:47:31.493735Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.585917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.582292ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVJYbE5la1V3VGtSamVrMXNiMWhFVkUweFRVUkZlVTE2UlRCT1JHTjZUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"46624af2-0bd8-4731-97a9-55f16692af26","container_runtime":"containerd","created_at":"2025-01-24T14:47:37.116942Z","id":"f5a5fc9e-fa23-41ac-820e-a569367fd549","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-01-24T14:47:37.116942Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.076166ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f5a5fc9e-fa23-41ac-820e-a569367fd549
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"46624af2-0bd8-4731-97a9-55f16692af26","container_runtime":"containerd","created_at":"2025-01-24T14:47:37.116942Z","id":"f5a5fc9e-fa23-41ac-820e-a569367fd549","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-01-24T14:47:37.116942Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.584791ms
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26/nodes?order_by=created_at_asc&page=1&pool_id=f5a5fc9e-fa23-41ac-820e-a569367fd549&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"46624af2-0bd8-4731-97a9-55f16692af26","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:57.936120Z","error_message":"","id":"cede326f-9e38-4f4f-82c7-b7057fb4dbea","name":"scw-test-pool-minimal-test-pool-minimal-cede32","pool_id":"f5a5fc9e-fa23-41ac-820e-a569367fd549","provider_id":"scaleway://instance/fr-par-1/7920231e-f873-48ae-9b42-94de710ee187","public_ip_v4":"51.15.250.217","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:53:06.103900Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.635334ms
[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26/nodes?order_by=created_at_asc&pool_id=f5a5fc9e-fa23-41ac-820e-a569367fd549&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"46624af2-0bd8-4731-97a9-55f16692af26","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:57.936120Z","error_message":"","id":"cede326f-9e38-4f4f-82c7-b7057fb4dbea","name":"scw-test-pool-minimal-test-pool-minimal-cede32","pool_id":"f5a5fc9e-fa23-41ac-820e-a569367fd549","provider_id":"scaleway://instance/fr-par-1/7920231e-f873-48ae-9b42-94de710ee187","public_ip_v4":"51.15.250.217","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:53:06.103900Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.799417ms
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7920231e-f873-48ae-9b42-94de710ee187
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-01-24T14:50:59.492966+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-cede32","id":"7920231e-f873-48ae-9b42-94de710ee187","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"58","hypervisor_id":"801","node_id":"24","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:8f:86:3b","maintenances":[],"modification_date":"2025-01-24T14:51:05.659235+00:00","name":"scw-test-pool-minimal-test-pool-minimal-cede32","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-01-24T14:51:00.773339+00:00","id":"4b634254-425c-421d-b85b-a59ca74ce494","ipam_ip_ids":["e1168741-be6a-48b6-a002-e388823e3691","bc6de632-c267-467b-a13e-3c705db8431b"],"mac_address":"02:00:00:19:de:7b","modification_date":"2025-01-24T14:51:00.908383+00:00","private_network_id":"a247ae1e-53c0-46d2-8088-8b41b81bb899","server_id":"7920231e-f873-48ae-9b42-94de710ee187","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.250.217","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"2136a5a4-5f73-43b1-b390-9cfeac46050f","ipam_id":"fcb58238-a7a4-41f8-9b7c-b94ce5be291d","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=46624af2-0bd8-4731-97a9-55f16692af26","node-name=scw-test-pool-minimal-test-pool-minimal-cede32"]},"public_ips":[{"address":"51.15.250.217","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"2136a5a4-5f73-43b1-b390-9cfeac46050f","ipam_id":"fcb58238-a7a4-41f8-9b7c-b94ce5be291d","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=46624af2-0bd8-4731-97a9-55f16692af26","node-name=scw-test-pool-minimal-test-pool-minimal-cede32"]},{"address":"2001:bc8:710:2883:dc00:ff:fe8f:863b","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe8f:863c","id":"b0a149f5-38d7-40f1-bc76-a707a9eb92c0","ipam_id":"869efa7e-9f63-468c-a69e-8fd413dff20c","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=46624af2-0bd8-4731-97a9-55f16692af26","node-name=scw-test-pool-minimal-test-pool-minimal-cede32"]}],"routed_ip_enabled":true,"security_group":{"id":"b8077f32-e829-4c34-b811-fdbbc84031c2","name":"kubernetes 46624af2-0bd8-4731-97a9-55f16692af26"},"state":"running","state_detail":"booted","tags":["kapsule=46624af2-0bd8-4731-97a9-55f16692af26","pool=f5a5fc9e-fa23-41ac-820e-a569367fd549","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=cede326f-9e38-4f4f-82c7-b7057fb4dbea"],"volumes":{"0":{"boot":true,"id":"d8b13b82-0df6-4c43-96d7-5ab77e712a06","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.990083ms
[...]
    - id: 136
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26/nodes?order_by=created_at_asc&pool_id=f5a5fc9e-fa23-41ac-820e-a569367fd549&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"46624af2-0bd8-4731-97a9-55f16692af26","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:57.936120Z","error_message":"","id":"cede326f-9e38-4f4f-82c7-b7057fb4dbea","name":"scw-test-pool-minimal-test-pool-minimal-cede32","pool_id":"f5a5fc9e-fa23-41ac-820e-a569367fd549","provider_id":"scaleway://instance/fr-par-1/7920231e-f873-48ae-9b42-94de710ee187","public_ip_v4":"51.15.250.217","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:56:03.843735Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.508292ms
[...]
    - id: 183
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/93f9396d-d292-4058-98d8-234730fafebe
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"93f9396d-d292-4058-98d8-234730fafebe","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.957959ms
[...]
    - id: 246
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/46624af2-0bd8-4731-97a9-55f16692af26?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
