---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"testAccCheckK8SPoolConfigKubeletArgs\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"757134d2-30bd-4caa-9d46-09ad011350a0\", \"name\":\"testAccCheckK8SPoolConfigKubeletArgs\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.256670Z\", \"updated_at\":\"2025-10-30T16:18:38.256670Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 65.304524ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/757134d2-30bd-4caa-9d46-09ad011350a0
    method: GET
  response:
    body: "{\"id\":\"757134d2-30bd-4caa-9d46-09ad011350a0\", \"name\":\"testAccCheckK8SPoolConfigKubeletArgs\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.256670Z\", \"updated_at\":\"2025-10-30T16:18:38.256670Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.255633ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-kubelet-args\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"757134d2-30bd-4caa-9d46-09ad011350a0\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"311bbfd7-a420-4c55-acd1-7ac7b435bddc\", \"name\":\"test-pool-kubelet-args\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.362471Z\", \"updated_at\":\"2025-10-30T16:18:38.362471Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"497f92f0-a2d8-48b5-81df-1f3debbc78d9\", \"created_at\":\"2025-10-30T16:18:38.362471Z\", \"updated_at\":\"2025-10-30T16:18:38.362471Z\", \"subnet\":\"172.18.80.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"311bbfd7-a420-4c55-acd1-7ac7b435bddc\", \"vpc_id\":\"757134d2-30bd-4caa-9d46-09ad011350a0\"}, {\"id\":\"ae2e852f-cee4-41a9-81bc-ec7cdff5871d\", \"created_at\":\"2025-10-30T16:18:38.362471Z\", \"updated_at\":\"2025-10-30T16:18:38.362471Z\", \"subnet\":\"fd5f:519c:6d46:f47a::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"311bbfd7-a420-4c55-acd1-7ac7b435bddc\", \"vpc_id\":\"757134d2-30bd-4caa-9d46-09ad011350a0\"}], \"vpc_id\":\"757134d2-30bd-4caa-9d46-09ad011350a0\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 610.049647ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/311bbfd7-a420-4c55-acd1-7ac7b435bddc
    method: GET
  response:
    body: "{\"id\":\"311bbfd7-a420-4c55-acd1-7ac7b435bddc\", \"name\":\"test-pool-kubelet-args\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.362471Z\", \"updated_at\":\"2025-10-30T16:18:38.362471Z\", \"project_id\":\"105bdce1-64c0-48a[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-kubelet-args\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"kubelet_args\"],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"311bbfd7-a420-4c55-acd1-7ac7b435bddc\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"89bdb97e-5814-4666-b0a3-c084a7989330\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:39.351223Z\", \"updated_at\":\"2025-10-30T16:18:39.351223Z\", \"type\":\"kapsule\", \"name\":\"test-pool-kubelet-args\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"kubelet_args\"], \"cluster_url\":\"https://89bdb97e-5814-4666-b0a3-c084a7989330.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.89bdb97e-5814-4666-b0a3-c084a7989330.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"311bbfd7-a420-4c55-acd1-7ac7b435bddc\", \"commitment_ends_at\":\"2025-10-30T16:18:39.351230Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 328.841142ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/89bdb97e-5814-4666-b0a3-c084a7989330
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"89bdb97e-5814-4666-b0a3-c084a7989330\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:39.351223Z\", \"updated_at\":\"2025-10-30T16:18:39.351223Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/89bdb97e-5814-4666-b0a3-c084a7989330/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 46.517475ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/89bdb97e-5814-4666-b0a3-c084a7989330/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGVrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRWUkJlVTlVUlRKTlZHZDZUMVp2V0VSVVRURk5WRUY1VDFSRk1rMVVaM3BQVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-kubelet-args\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"kubelet_args\"],\"kubelet_args\":{\"maxPods\":\"1337\"},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/89bdb97e-5814-4666-b0a3-c084a7989330/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"00be490a-0cde-4c1d-84dd-0337a62e8e10\", \"cluster_id\":\"89bdb97e-5814-4666-b0a3-c084a7989330\", \"created_at\":\"2025-10-30T16:18:44.862648Z\", \"updated_at\":\"2025-10-30T16:18:44.862648Z\", \"name\":\"test-pool-kubelet-args\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"kubelet_args\"], \"placement_group_id\":null, \"kubelet_args\":{\"maxPods\":\"1337\"}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 196.15209ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/00be490a-0cde-4c1d-84dd-0337a62e8e10
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"00be490a-0cde-4c1d-84dd-0337a62e8e10\", \"cluster_id\":\"89bdb97e-5814-4666-b0a3-c084a7989330\", \"created_at\":\"2025-10-30T16:18:44.862648Z\", \"updated_at\":\"2025-10-30T16:18:44.862648Z\", \"name\":\"test-pool-kubelet-args\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"kubelet_args\"], \"placement_group_id\":null, \"kubelet_args\":{\"maxPods\":\"1337\"}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.838561ms
[...]
- id: 68
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 00be490a-0cde-4c1d-84dd-0337a62e8e10
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/89bdb97e-5814-4666-b0a3-c084a7989330/nodes?order_by=created_at_asc&page=1&pool_id=00be490a-0cde-4c1d-84dd-0337a62e8e10&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"e9988f4c-6e67-4971-a5da-ed84e3b94eed\", \"cluster_id\":\"89bdb97e-5814-4666-b0a3-c084a7989330\", \"created_at\":\"2025-10-30T16:21:58.256391Z\", \"updated_at\":\"2025-10-30T16:23:06.928101Z\", \"pool_id\":\"00be490a-0cde-4c1d-84dd-0337a62e8e10\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-kubelet-test-pool-kubelet-e9988f\", \"public_ip_v4\":\"163.172.149.221\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/61933569-0297-49d7-a572-a33bddd8a8a3\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.353629ms
[...]
- id: 70
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-kubelet-test-pool-kubelet-e9988f
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-kubelet-test-pool-kubelet-e9988f&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"bc3e4c14-a364-41ee-b6f0-6ae249c6bee9\", \"address\":\"fd5f:519c:6d46:f47a:2d8e:8ff0:d31f:490a/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:22:03.275624Z\", \"updated_at\":\"2025-10-30T16:22:03.275624Z\", \"source\":{\"subnet_id\":\"ae2e852f-cee4-41a9-81bc-ec7cdff5871d\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"f27805ac-b9e6-4880-a239-ae3cbc951e74\", \"mac_address\":\"02:00:00:12:EC:B8\", \"name\":\"scw-test-pool-kubelet-test-pool-kubelet-e9988f\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"c232d4dd-1c3b-4cb2-a0c6-7fcc452e1c5c\", \"address\":\"172.18.80.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:22:03.154121Z\", \"updated_at\":\"2025-10-30T16:22:03.154121Z\", \"source\":{\"subnet_id\":\"497f92f0-a2d8-48b5-81df-1f3debbc78d9\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"f27805ac-b9e6-4880-a239-ae3cbc951e74\", \"mac_address\":\"02:00:00:12:EC:B8\", \"name\":\"scw-test-pool-kubelet-test-pool-kubelet-e9988f\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 48.296674ms
[...]
- id: 132
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/00be490a-0cde-4c1d-84dd-0337a62e8e10
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"00be490a-0cde-4c1d-84dd-0337a62e8e10\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 33.213255ms
- id: 133
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/89bdb97e-5814-4666-b0a3-c084a7989330?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"89bdb97e-5814-4666-b0a3-c084a7989330\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:39.351223Z\", \"updated_at\":\"2025-10-30T16:25:25.307070Z\", \"type[...]
[...]
