---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-k8s-public-ip\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T15:48:55.990800Z\",\"updated_at\":\"2025-08-29T15:48:55.990800Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"ec5204a2-6aa6-4293-a0b2-344883934c2e\",\"created_at\":\"2025-08-29T15:48:55.990800Z\",\"updated_at\":\"2025-08-29T15:48:55.990800Z\",\"subnet\":\"172.16.84.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"7764a920-e410-403e-9236-bf8565621654\",\"created_at\":\"2025-08-29T15:48:55.990800Z\",\"updated_at\":\"2025-08-29T15:48:55.990800Z\",\"subnet\":\"fde7:767f:1bb5:6a9a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 775.191957ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5f90fafa-4fa2-46fc-99ed-2b038d51cf48
    method: GET
  response:
    body: "{\"id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-29T15:48:55.990800Z\",\"updated_at\":\"2025-08-29T15:48:55.990800Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"ec5204a2-6aa6-4293-a0b2-344883934c2e\",\"created_at\":\"2025-08-29T15:48:55.990800Z\",\"updated_at\":\"2025-08-29T15:48:55.990800Z\",\"subnet\":\"172.16.84.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"7764a920-e410-403e-9236-bf8565621654\",\"created_at\":\"2025-08-29T15:48:55.990800Z\",\"updated_at\":\"2025-08-29T15:48:55.990800Z\",\"subnet\":\"fde7:767f:1bb5:6a9a::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.718877ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.855890Z\",\"updated_at\":\"2025-08-29T15:48:56.855890Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"ipv4\":{\"id\":\"bcc17f92-f8c3-4a43-9f0e-97fa80e7657f\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.835184Z\",\"updated_at\":\"2025-08-29T15:48:56.835184Z\",\"tags\":[],\"address\":\"51.158.69.133\",\"reverse\":\"133-69-158-51.instances.scw.cloud\",\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 995.790911ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/189e51f6-658d-499a-b45b-4648cd56c905
    method: GET
  response:
    body: "{\"id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.855890Z\",\"updated_at\":\"2025-08-29T15:48:56.855890Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"ipv4\":{\"id\":\"bcc17f92-f8c3-4a43-9f0e-97fa80e7657f\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.835184Z\",\"updated_at\":\"2025-08-29T15:48:56.835184Z\",\"tags\":[],\"address\":\"51.158.69.133\",\"reverse\":\"133-69-158-51.instances.scw.cloud\",\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.91198ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"enable_masquerade\":true,\"push_default_route\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: "{\"id\":\"3d242725-ef29-4754-a4ed-c89c5918a3ad\",\"created_at\":\"2025-08-29T15:49:07.702425Z\",\"updated_at\":\"2025-08-29T15:49:07.702425Z\",\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"masquerade_enabled\":true,\"status\":\"created\",\"push_default_route\":true,\"ipam_ip_id\":\"4873f1ef-a02e-498f-bd7a-0bdcd5dc27df\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 470.742222ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/189e51f6-658d-499a-b45b-4648cd56c905
    method: GET
  response:
    body: "{\"id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.855890Z\",\"updated_at\":\"2025-08-29T15:49:07.792038Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"configuring\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"ipv4\":{\"id\":\"bcc17f92-f8c3-4a43-9f0e-97fa80e7657f\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.835184Z\",\"updated_at\":\"2025-08-29T15:48:56.835184Z\",\"tags\":[],\"address\":\"51.158.69.133\",\"reverse\":\"133-69-158-51.instances.scw.cloud\",\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[{\"id\":\"3d242725-ef29-4754-a4ed-c89c5918a3ad\",\"created_at\":\"2025-08-29T15:49:07.702425Z\",\"updated_at\":\"2025-08-29T15:49:13.311054Z\",\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"mac_address\":\"02:00:00:19:42:C1\",\"masquerade_enabled\":true,\"status\":\"configuring\",\"push_default_route\":true,\"ipam_ip_id\":\"4873f1ef-a02e-498f-bd7a-0bdcd5dc27df\",\"zone\":\"fr-par-1\"}],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 22.573664ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/3d242725-ef29-4754-a4ed-c89c5918a3ad
    method: GET
  response:
    body: "{\"id\":\"3d242725-ef29-4754-a4ed-c89c5918a3ad\",\"created_at\":\"2025-08-29T15:49:07.702425Z\",\"updated_at\":\"2025-08-29T15:49:18.530204Z\",\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"mac_address\":\"02:00:00:19:42:C1\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":true,\"ipam_ip_id\":\"4873f1ef-a02e-498f-bd7a-0bdcd5dc27df\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.35302ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 5f90fafa-4fa2-46fc-99ed-2b038d51cf48
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - 3d242725-ef29-4754-a4ed-c89c5918a3ad
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5f90fafa-4fa2-46fc-99ed-2b038d51cf48&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=3d242725-ef29-4754-a4ed-c89c5918a3ad&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"4873f1ef-a02e-498f-bd7a-0bdcd5dc27df\",\"address\":\"172.16.84.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-29T15:49:07.646177Z\",\"updated_at\":\"2025-08-29T15:49:08.067901Z\",\"source\":{\"subnet_id\":\"ec5204a2-6aa6-4293-a0b2-344883934c2e\"},\"resource\":{\"type\":\"vpc_gateway_network\",\"id\":\"3d242725-ef29-4754-a4ed-c89c5918a3ad\",\"mac_address\":\"02:00:00:19:42:C1\",\"name\":\"test-k8s-public-ip\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 158.621273ms
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-k8s-public-ip\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"public_ip\"],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"083b5a51-a552-488d-896a-d27f05e76282\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:49:23.933014Z\",\"updated_at\":\"2025-08-29T15:49:23.933014Z\",\"type\":\"kapsule\",\"name\":\"test-k8s-public-ip\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"public_ip\"],\"cluster_url\":\"https://083b5a51-a552-488d-896a-d27f05e76282.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.083b5a51-a552-488d-896a-d27f05e76282.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\",\"commitment_ends_at\":\"2025-08-29T15:49:23.933030Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 583.318538ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/083b5a51-a552-488d-896a-d27f05e76282
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"083b5a51-a552-488d-896a-d27f05e76282\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:49:23.933014Z\",\"updated_at\":\"2025-08-29T15:49:23.933014Z\",\"type\":\"kapsul[...]
[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/083b5a51-a552-488d-896a-d27f05e76282/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.26529ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/083b5a51-a552-488d-896a-d27f05e76282/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVaM2xQUkVVeFRrUnJlVTVHYjFoRVZFMHhUVVJuZVU5RVJURk9SR3Q1VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQl[...]
[...]
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-k8s-public-ip\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/083b5a51-a552-488d-896a-d27f05e76282/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"b5fe2cb0-f1c3-4c11-a16b-ac2981dba814\",\"cluster_id\":\"083b5a51-a552-488d-896a-d27f05e76282\",\"created_at\":\"2025-08-29T15:49:29.669038Z\",\"updated_at\":\"2025-08-29T15:49:29.669038Z\",\"name\":\"test-k8s-public-ip\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":true,\"new_images_enabled\":false,\"security_group_id\":\"689e9b39-0dfa-4ff6-b06b-c2f0e4d00961\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 268.658456ms
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b5fe2cb0-f1c3-4c11-a16b-ac2981dba814
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"b5fe2cb0-f1c3-4c11-a16b-ac2981dba814\",\"cluster_id\":\"083b5a51-a552-488d-896a-d27f05e76282\",\"created_at\":\"2025-08-29T15:49:29.669038Z\",\"updated_at\":\"2025-08-29T15:49:29.669038Z\",\"name\":\"test-k8s-public-ip\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":true,\"new_images_enabled\":false,\"security_group_id\":\"689e9b39-0dfa-4ff6-b06b-c2f0e4d00961\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.348283ms
[...]
- id: 125
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - b5fe2cb0-f1c3-4c11-a16b-ac2981dba814
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/083b5a51-a552-488d-896a-d27f05e76282/nodes?order_by=created_at_asc&page=1&pool_id=b5fe2cb0-f1c3-4c11-a16b-ac2981dba814&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"e61f0264-ea13-479b-853c-b5b427956902\",\"cluster_id\":\"083b5a51-a552-488d-896a-d27f05e76282\",\"created_at\":\"2025-08-29T15:52:43.807794Z\",\"updated_at\":\"2025-08-29T15:57:35.667558Z\",\"pool_id\":\"b5fe2cb0-f1c3-4c11-a16b-ac2981dba814\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-k8s-public-i-test-k8s-public-i-e61f02\",\"public_ip_v4\":\"\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/1f0f42a3-ef96-4f39-862d-c113c0ab33d3\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.567618ms
[...]
- id: 127
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-k8s-public-i-test-k8s-public-i-e61f02
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-k8s-public-i-test-k8s-public-i-e61f02&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"24f9bf39-b999-41b1-a56e-d69cd2797ecb\",\"address\":\"fde7:767f:1bb5:6a9a:10dc:561b:c6bf:c0[...]
[...]
- id: 131
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      pool_id:
      - b5fe2cb0-f1c3-4c11-a16b-ac2981dba814
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/083b5a51-a552-488d-896a-d27f05e76282/nodes?order_by=created_at_asc&pool_id=b5fe2cb0-f1c3-4c11-a16b-ac2981dba814&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"e61f0264-ea13-479b-853c-b5b427956902\",\"cluster_id\":\"083b5a51-a552-488d-896a-d27f05e76282\",\"created_at\":\"2025-08-29T15:52:43.807794Z\",\"updated_at\":\"2025-08-29T15:57:35.667558Z\",\"pool_id\":\"b5fe2cb0-f1c3-4c11-a16b-ac2981dba814\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-k8s-public-i-test-k8s-public-i-e61f02\",\"public_ip_v4\":\"\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/1f0f42a3-ef96-4f39-862d-c113c0ab33d3\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.393156ms
- id: 132
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1f0f42a3-ef96-4f39-862d-c113c0ab33d3
    method: GET
  response:
    body: "{\"server\": {\"id\": \"1f0f42a3-ef96-4f39-862d-c113c0ab33d3\", \"name\": \"scw-test-k8s-public-i-test-k8s-public-i-e61f02\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"d03c0af1-fec9-44aa-a12c-54cb13072778\", \"hostname\": \"scw-test-k8s-public-i-test-k8s-public-i-e61f02\", \"image\": {\"id\": \"f587416b-3d51-4582-808f-dbbaa617a61a\", \"name\": \"k8s_base_node_2024-12-13_sbs\", \"organization\": \"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d\", \"project\": \"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"164c4014-2874-481f-b194-ce63ab76f0da\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2024-12-13T14:25:42.929071+00:00\", \"modification_date\": \"2024-12-13T14:25:42.929071+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": true, \"volume_type\": \"sbs_volume\", \"id\": \"a24bf613-0123-40e6-93f7-ae82e6fa227d\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"kapsule=083b5a51-a552-488d-896a-d27f05e76282\", \"pool=b5fe2cb0-f1c3-4c11-a16b-ac2981dba814\", \"pool-name=test-k8s-public-ip\", \"runtime=containerd\", \"managed=true\", \"node=e61f0264-ea13-479b-853c-b5b427956902\"], \"state\": \"running\", \"protected\": false, \"state_detail\": \"booted\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c5:d4:e7\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": false, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-08-29T15:52:44.236943+00:00\", \"modification_date\": \"2025-08-29T15:52:48.029457+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"689e9b39-0dfa-4ff6-b06b-c2f0e4d00961\", \"name\": \"Kapsule default security group\"}, \"location\": {\"zone_id\": \"fr-par-1\", \"platform_id\": \"14\", \"cluster_id\": \"12\", \"hypervisor_id\": \"201\", \"node_id\": \"37\"}, \"maintenances\": [], \"allowed_actions\": [\"poweroff\", \"terminate\", \"reboot\", \"stop_in_place\", \"backup\"], \"placement_group\": null, \"private_nics\": [{\"id\": \"7eb3f55b-ac11-432f-bb53-802665a6db91\", \"private_network_id\": \"5f90fafa-4fa2-46fc-99ed-2b038d51cf48\", \"server_id\": \"1f0f42a3-ef96-4f39-862d-c113c0ab33d3\", \"mac_address\": \"02:00:00:1b:74:4e\", \"state\": \"available\", \"creation_date\": \"2025-08-29T15:52:45.066841+00:00\", \"modification_date\": \"2025-08-29T15:52:45.209546+00:00\", \"zone\": \"fr-par-1\", \"tags\": [], \"ipam_ip_ids\": [\"43c0a736-8b82-45ac-9c81-76b0f1dcade9\", \"24f9bf39-b999-41b1-a56e-d69cd2797ecb\"]}], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.163245ms
[...]
- id: 206
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b5fe2cb0-f1c3-4c11-a16b-ac2981dba814
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"b5fe2cb0-f1c3-4c11-a16b-ac2981dba814\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 108.294822ms
[...]
- id: 212
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/189e51f6-658d-499a-b45b-4648cd56c905?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.855890Z\",\"updated_at\":\"2025-08-29T16:02:10.591454Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"ipv4\":{\"id\":\"bcc17f92-f8c3-4a43-9f0e-97fa80e7657f\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:48:56.835184Z\",\"updated_at\":\"2025-08-29T15:48:56.835184Z\",\"tags\":[],\"address\":\"51.158.69.133\",\"reverse\":\"133-69-158-51.instances.scw.cloud\",\"gateway_id\":\"189e51f6-658d-499a-b45b-4648cd56c905\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.8411ms
[...]
- id: 347
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/083b5a51-a552-488d-896a-d27f05e76282?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"083b5a51-a552-488d-896a-d27f05e76282\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-29T15:49:23.933014Z\",\"updated_at\":\"2025-08-29T16:11:44.265510Z\",\"type\":\"k[...]
[...]
