---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.35.1", "label":"Kubernetes 1.35.1", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-01-19T00:00:00Z", "end_of_life_at":"2027-03-19T00:00:00Z", "released_at":"2026-01-19T00:00:00Z"}, {"region":"fr-par", "name":"1.34.4", "label":"Kubernetes 1.34.4", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigSecurityGroup","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c", "name":"testAccCheckK8SPoolConfigSecurityGroup", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:03:55.586652Z", "updated_at":"2026-02-26T16:03:55.586652Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.148583ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c
        method: GET
      response:
        body: '{"id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c", "name":"testAccCheckK8SPoolConfigSecurityGroup", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:03:55.586652Z", "updated_at":"2026-02-26T16:03:55.586652Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.215458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"drop","outbound_default_policy":"accept","enable_default_security":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "3a15250c-9410-49f5-949c-03b3b75ec43a", "creation_date": "2026-02-26T16:03:55.677178+00:00", "modification_date": "2026-02-26T16:03:55.677178+00:00", "name": "test-pool-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "drop", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3a15250c-9410-49f5-949c-03b3b75ec43a
        status: 201 Created
        code: 201
        duration: 247.318209ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","enable_default_security":true,"inbound_default_policy":"drop","tags":[],"outbound_default_policy":"accept","stateful":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3a15250c-9410-49f5-949c-03b3b75ec43a
        method: PATCH
      response:
        body: '{"security_group": {"id": "3a15250c-9410-49f5-949c-03b3b75ec43a", "creation_date": "2026-02-26T16:03:55.677178+00:00", "modification_date": "2026-02-26T16:03:55.677178+00:00", "name": "test-pool-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "drop", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.92925ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":null,"action":"accept","protocol":"TCP","direction":"inbound","ip_range":"0.0.0.0/0","dest_port_from":80,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3a15250c-9410-49f5-949c-03b3b75ec43a/rules
        method: PUT
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "de[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"ced4b945-12f6-4557-b23b-76e6008ec3cb", "name":"test-pool-security-group", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:03:55.829138Z", "updated_at":"2026-02-26T16:03:55.829138Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"067f8555-092c-4c37-b641-214cbcea2fd9", "created_at":"2026-02-26T16:03:55.829138Z", "updated_at":"2026-02-26T16:03:55.829138Z", "subnet":"172.19.32.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"ced4b945-12f6-4557-b23b-76e6008ec3cb", "vpc_id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c"}, {"id":"aa8eefae-313b-498a-a4c7-61a222e11b94", "created_at":"2026-02-26T16:03:55.829138Z", "updated_at":"2026-02-26T16:03:55.829138Z", "subnet":"fd5f:519c:6d46:6fc9::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"ced4b945-12f6-4557-b23b-76e6008ec3cb", "vpc_id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c"}], "vpc_id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 724.984916ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ced4b945-12f6-4557-b23b-76e6008ec3cb
        method: GET
      response:
        body: '{"id":"ced4b945-12f6-4557-b23b-76e6008ec3cb", "name":"test-pool-security-group", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:03:55.829138Z", "updated_at":"2026-02-26T16:03:55.829138Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"067f8555-092c-4c37-b641-214cbcea2fd9", "created_at":"2026-02-26T16:03:55.829138Z", "updated_at":"2026-02-26T16:03:55.829138Z", "subnet":"172.19.32.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"ced4b945-12f6-4557-b23b-76e6008ec3cb", "vpc_id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c"}, {"id":"aa8eefae-313b-498a-a4c7-61a222e11b94", "created_at":"2026-02-26T16:03:55.829138Z", "updated_at":"2026-02-26T16:03:55.829138Z", "subnet":"fd5f:519c:6d46:6fc9::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"ced4b945-12f6-4557-b23b-76e6008ec3cb", "vpc_id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c"}], "vpc_id":"5e412ae8-8a0b-4d56-9d8a-e68884dfcc1c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.208167ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3a15250c-9410-49f5-949c-03b3b75ec43a/rules?page=1
        method: GET
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "111[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-security-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","security_group"],"version":"1.35.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"ced4b945-12f6-4557-b23b-76e6008ec3cb"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:03:57.166222Z", "updated_at":"2026-02-26T16:03:57.166222Z", "type":"kapsule", "name":"test-pool-security-group", "description":"", "status":"creating", "version":"1.35.1", "cni":"cilium", "tags":["terraform-test", "scaleway_k8s_cluster", "security_group"], "cluster_url":"https://df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"ced4b945-12f6-4557-b23b-76e6008ec3cb", "commitment_ends_at":"2026-02-26T16:03:57.166230Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 651.962709ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea
        method: GET
      response:
        body: '{"region":"fr-par", "id":"df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:03:57.166222Z", "updated_at":"2026-02-26T16:03:57.166222Z", "ty[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.586333ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zZWN1cml0eS1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSSmVVNVVSVEpOUkUweFRqRnZXRVJVVFRKTlJFbDVUbFJGTWsxRVRURk9NVzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","security_group"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false,"security_group_id":"3a15250c-9410-49f5-949c-03b3b75ec43a"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea/pools
        method: POST
      response:
        body: '{"region":"fr-par", "id":"85f40e73-1259-42dd-b0b6-adc0630f315a", "cluster_id":"df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea", "created_at":"2026-02-26T16:04:02.649169Z", "updated_at":"2026-02-26T16:04:02.649169Z", "name":"test-pool-security-group", "status":"scaling", "version":"1.35.1", "node_type":"pro2_xxs", "autoscaling":true, "size":1, "min_size":1, "max_size":1, "container_runtime":"containerd", "autohealing":true, "tags":["terraform-test", "scaleway_k8s_cluster", "security_group"], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"sbs_5k", "root_volume_size":20000000000, "public_ip_disabled":false, "security_group_id":"3a15250c-9410-49f5-949c-03b3b75ec43a", "labels":{}, "taints":[], "startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.889ms
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/85f40e73-1259-42dd-b0b6-adc0630f315a
        method: GET
      response:
        body: '{"region":"fr-par", "id":"85f40e73-1259-42dd-b0b6-adc0630f315a", "cluster_id":"df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea", "created_at":"2026-02-26T16:04:02.649169Z", "updated_at":"2026-02-26T16:04:02.649169Z", "name":"test-pool-security-group", "status":"scaling", "version":"1.35.1", "node_type":"pro2_xxs", "autoscaling":true, "size":1, "min_size":1, "max_size":1, "container_runtime":"containerd", "autohealing":true, "tags":["terraform-test", "scaleway_k8s_cluster", "security_group"], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"sbs_5k", "root_volume_size":20000000000, "public_ip_disabled":false, "security_group_id":"3a15250c-9410-49f5-949c-03b3b75ec43a", "labels":{}, "taints":[], "startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.32975ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            pool_id:
                - 85f40e73-1259-42dd-b0b6-adc0630f315a
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea/nodes?order_by=created_at_asc&page=1&pool_id=85f40e73-1259-42dd-b0b6-adc0630f315a&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "nodes":[{"region":"fr-par", "id":"e9424660-4851-4029-958a-aa2ece959add", "cluster_id":"df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea", "created_at":"2026-02-26T16:05:29.419959Z", "updated_at":"2026-02-26T16:06:38.175726Z", "pool_id":"85f40e73-1259-42dd-b0b6-adc0630f315a", "status":"ready", "conditions":{"DiskPressure":"False", "MemoryPressure":"False", "PIDPressure":"False", "Ready":"True"}, "name":"scw-test-pool-securit-test-pool-securit-e94246", "public_ip_v4":"51.158.74.64", "public_ip_v6":null, "provider_id":"scaleway://instance/fr-par-1/87945af8-af40-4b2f-a879-d52078e02c97", "error_message":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.266583ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            resource_name:
                - scw-test-pool-securit-test-pool-securit-e94246
            resource_type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-securit-test-pool-securit-e94246&resource_type=unknown_type
        method: GET
      response:
        body: '{"total_count":2, "ips":[{"id":"908c51a3-0ad9-4a3b-9d23-2749200c2cd0", "address":"fd5f:519c:6d46:6fc9:5804:b8d3:3eca:95f3/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_ipv6":true, "created_at":"2026-02-26T16:05:32.914257Z", "updated_at":"2026-02-26T16:05:32.914257Z", "source":{"subnet_id":"aa8eefae-313b-498a-a4c7-61a222e11b94"}, "resource":{"type":"instance_private_nic", "id":"f4b2c46a-dc27-48d5-90c3-5464bf84dac3", "mac_address":"02:00:00:10:72:1B", "name":"scw-test-pool-securit-test-pool-securit-e94246"}, "tags":[], "reverses":[], "region":"fr-par", "zone":null}, {"id":"6e7757e5-2f59-4d7e-bb19-c6a65bcf5b47", "address":"172.19.32.3/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_ipv6":false, "created_at":"2026-02-26T16:05:32.771739Z", "updated_at":"2026-02-26T16:05:32.771739Z", "source":{"subnet_id":"067f8555-092c-4c37-b641-214cbcea2fd9"}, "resource":{"type":"instance_private_nic", "id":"f4b2c46a-dc27-48d5-90c3-5464bf84dac3", "mac_address":"02:00:00:10:72:1B", "name":"scw-test-pool-securit-test-pool-securit-e94246"}, "tags":[], "reverses":[], "region":"fr-par", "zone":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.308584ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/85f40e73-1259-42dd-b0b6-adc0630f315a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"85f40e73-1259-42dd-b0b6-adc0630f315a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.996333ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"df1ef9e0-8cc8-4118-9aff-3c81ae7db9ea", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:03:57.166222Z", "updated_at":"2026-02-26T16:07:58.616716Z", [...]
[...]
