---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T15:06:35.091027Z","dhcp_enabled":true,"id":"855910b8-71e9-464c-8696-e1cd32d5b7a8","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-04-17T15:06:35.091027Z","id":"89673267-3231-479e-9a02-a37be7794bd7","subnet":"172.16.24.0/22","updated_at":"2024-04-17T15:06:35.091027Z"},{"created_at":"2024-04-17T15:06:35.091027Z","id":"fd2bfa69-ff08-4025-ae45-756778071217","subnet":"fd63:256c:45f7:ee4a::/64","updated_at":"2024-04-17T15:06:35.091027Z"}],"tags":[],"updated_at":"2024-04-17T15:06:35.091027Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 592.946571ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/855910b8-71e9-464c-8696-e1cd32d5b7a8
        method: GET
      response:
        body: '{"created_at":"2024-04-17T15:06:35.091027Z","dhcp_enabled":true,"id":"855910b8-71e9-464c-8696-e1cd32d5b7a8","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-04-17T15:06:35.091027Z","id":"89673267-3231-479e-9a02-a37be7794bd7","subnet":"172.16.24.0/22","updated_at":"2024-04-17T15:06:35.091027Z"},{"created_at":"2024-04-17T15:06:35.091027Z","id":"fd2bfa69-ff08-4025-ae45-756778071217","subnet":"fd63:256c:45f7:ee4a::/64","updated_at":"2024-04-17T15:06:35.091027Z"}],"tags":[],"updated_at":"2024-04-17T15:06:35.091027Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.795517ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"855910b8-71e9-464c-8696-e1cd32d5b7a8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://21487928-c38f-4570-9208-b50bd7bc3ff4.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-17T15:06:36.496875677Z","created_at":"2024-04-17T15:06:36.496875677Z","description":"","dns_wildcard":"*.21487928-c38f-4570-9208-b50bd7bc3ff4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"21487928-c38f-4570-9208-b50bd7bc3ff4","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"855910b8-71e9-464c-8696-e1cd32d5b7a8","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2024-04-17T15:06:36.509861388Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.199245693s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/21487928-c38f-4570-9208-b50bd7bc3ff4
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/21487928-c38f-4570-9208-b50bd7bc3ff4/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.720706ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/21487928-c38f-4570-9208-b50bd7bc3ff4/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVVWGhPYWtVeFRVUlplazR4YjFoRVZFMHdUVVJSZUU1cVJURk5SRmw2VGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/21487928-c38f-4570-9208-b50bd7bc3ff4/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"21487928-c38f-4570-9208-b50bd7bc3ff4","container_runtime":"containerd","created_at":"2024-04-17T15:06:42.236966Z","id":"16e6d4fb-e125-4491-a0ad-aad156a7f80c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T15:06:42.253072091Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.90595ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/16e6d4fb-e125-4491-a0ad-aad156a7f80c
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"21487928-c38f-4570-9208-b50bd7bc3ff4","container_runtime":"containerd","created_at":"2024-04-17T15:06:42.236966Z","id":"16e6d4fb-e125-4491-a0ad-aad156a7f80c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-17T15:06:42.253072Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.2508ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/21487928-c38f-4570-9208-b50bd7bc3ff4/nodes?order_by=created_at_asc&page=1&pool_id=16e6d4fb-e125-4491-a0ad-aad156a7f80c&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"21487928-c38f-4570-9208-b50bd7bc3ff4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T15:08:37.304247Z","error_message":null,"id":"6e5a3427-f26d-4640-bb68-6b56051b1fb5","name":"scw-test-k8s-public-i-test-k8s-public-i-6e5a34","pool_id":"16e6d4fb-e125-4491-a0ad-aad156a7f80c","provider_id":"scaleway://instance/fr-par-1/ad64e578-6cf2-4e05-ad07-ec7e6f8399d2","public_ip_v4":"163.172.184.182","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T15:11:43.870643Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.738454ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/21487928-c38f-4570-9208-b50bd7bc3ff4/nodes?order_by=created_at_asc&pool_id=16e6d4fb-e125-4491-a0ad-aad156a7f80c&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"21487928-c38f-4570-9208-b50bd7bc3ff4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T15:08:37.304247Z","error_message":null,"id":"6e5a3427-f26d-4640-bb68-6b56051b1fb5","name":"scw-test-k8s-public-i-test-k8s-public-i-6e5a34","pool_id":"16e6d4fb-e125-4491-a0ad-aad156a7f80c","provider_id":"scaleway://instance/fr-par-1/ad64e578-6cf2-4e05-ad07-ec7e6f8399d2","public_ip_v4":"163.172.184.182","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T15:11:43.870643Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.58833ms
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/ad64e578-6cf2-4e05-ad07-ec7e6f8399d2
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64 mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"PRO2-XXS","creation_date":"2024-04-17T15:08:39.018021+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-6e5a34","id":"ad64e578-6cf2-4e05-ad07-ec7e6f8399d2","image":{"arch":"x86_64","creation_date":"2024-04-10T16:02:53.170520+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"5594dd33-d845-45f5-8f61-f5d67c8f24d6","modification_date":"2024-04-10T16:14:43.219824+00:00","name":"k8s_base_node_2024-04-10.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"68ef7f45-d5ed-4722-bcf3-e86b94cfd7bd","name":"k8s_base_node_2024-04-10.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"95","hypervisor_id":"901","node_id":"9","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:4c:c7:dd","maintenances":[],"modification_date":"2024-04-17T15:08:49.777650+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-6e5a34","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2024-04-17T15:08:40.075066+00:00","id":"551d443b-7cbf-49ce-8e81-a74ee9e624a9","mac_address":"02:00:00:19:e9:47","modification_date":"2024-04-17T15:08:40.620285+00:00","private_network_id":"855910b8-71e9-464c-8696-e1cd32d5b7a8","server_id":"ad64e578-6cf2-4e05-ad07-ec7e6f8399d2","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.184.182","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"fcaad097-e9f7-441f-8a46-291c0dd5f533","ipam_id":"40ed5c40-edb1-4048-8e91-91ecf3a69919","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=21487928-c38f-4570-9208-b50bd7bc3ff4","node-name=scw-test-k8s-public-i-test-k8s-public-i-6e5a34"]},"public_ips":[{"address":"163.172.184.182","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"fcaad097-e9f7-441f-8a46-291c0dd5f533","ipam_id":"40ed5c40-edb1-4048-8e91-91ecf3a69919","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=21487928-c38f-4570-9208-b50bd7bc3ff4","node-name=scw-test-k8s-public-i-test-k8s-public-i-6e5a34"]},{"address":"2001:bc8:710:3c3b:dc00:ff:fe4c:c7dd","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe4c:c7de","id":"a81b021c-d607-4479-aa5b-816afdadec9f","ipam_id":"790cae81-e893-4b92-a33b-c1428da5ac56","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=21487928-c38f-4570-9208-b50bd7bc3ff4","node-name=scw-test-k8s-public-i-test-k8s-public-i-6e5a34"]}],"routed_ip_enabled":true,"security_group":{"id":"e205952c-0b44-4288-b1b3-0828941b3505","name":"kubernetes 21487928-c38f-4570-9208-b50bd7bc3ff4"},"state":"running","state_detail":"booting kernel","tags":["kapsule=21487928-c38f-4570-9208-b50bd7bc3ff4","pool=16e6d4fb-e125-4491-a0ad-aad156a7f80c","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=6e5a3427-f26d-4640-bb68-6b56051b1fb5"],"volumes":{"0":{"boot":false,"creation_date":"2024-04-17T15:08:39.018021+00:00","export_uri":null,"id":"f5942e97-eacf-44e6-8935-6cee1ce251e2","modification_date":"2024-04-17T15:08:39.018021+00:00","name":"k8s_base_node_2024-04-10.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"ad64e578-6cf2-4e05-ad07-ec7e6f8399d2","name":"scw-test-k8s-public-i-test-k8s-public-i-6e5a34"},"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.796654ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/16e6d4fb-e125-4491-a0ad-aad156a7f80c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"16e6d4fb-e125-4491-a0ad-aad156a7f80c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.556512ms
    - id: 94
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-17T15:11:57.941264Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"cb5e1963-01a9-48c9-9bd9-5799c6c816a8","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T15:11:57.941264Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.688682ms
    - id: 95
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/cb5e1963-01a9-48c9-9bd9-5799c6c816a8
        method: GET
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-17T15:11:57.941264Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"cb5e1963-01a9-48c9-9bd9-5799c6c816a8","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T15:11:57.941264Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.540434ms
    - id: 96
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T15:11:58.601922Z","gateway_networks":[],"id":"b1c266d3-70de-4f88-921f-855324288c85","ip":{"address":"163.172.153.208","created_at":"2024-04-17T15:11:58.568240Z","gateway_id":"b1c266d3-70de-4f88-921f-855324288c85","id":"ad8c9072-5462-484e-ac28-147e2caf3237","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"208-153-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T15:11:58.568240Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-17T15:11:58.601922Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 816.581704ms
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b1c266d3-70de-4f88-921f-855324288c85
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T15:11:58.601922Z","gateway_networks":[],"id":"b1c266d3-70de-4f88-921f-855324288c85","ip":{"address":"163.172.153.208","created_at":"2024-04-17T15:11:58.568240Z","gateway_id":"b1c266d3-70de-4f88-921f-855324288c85","id":"ad8c9072-5462-484e-ac28-147e2caf3237","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"208-153-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T15:11:58.568240Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-17T15:11:58.650095Z","upstream_dns_servers":[],"version":"0.6.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.198518ms
[...]
    - id: 103
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"b1c266d3-70de-4f88-921f-855324288c85","private_network_id":"855910b8-71e9-464c-8696-e1cd32d5b7a8","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"cb5e1963-01a9-48c9-9bd9-5799c6c816a8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-04-17T15:12:15.881732Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-17T15:11:57.941264Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"cb5e1963-01a9-48c9-9bd9-5799c6c816a8","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T15:11:57.941264Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b1c266d3-70de-4f88-921f-855324288c85","id":"b14b7cb1-3f2d-4c35-9022-385d1fafed14","ipam_config":null,"mac_address":null,"private_network_id":"855910b8-71e9-464c-8696-e1cd32d5b7a8","status":"created","updated_at":"2024-04-17T15:12:15.881732Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.109773027s
[...]
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b14b7cb1-3f2d-4c35-9022-385d1fafed14
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-04-17T15:12:15.881732Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-17T15:11:57.941264Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"cb5e1963-01a9-48c9-9bd9-5799c6c816a8","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-17T15:11:57.941264Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b1c266d3-70de-4f88-921f-855324288c85","id":"b14b7cb1-3f2d-4c35-9022-385d1fafed14","ipam_config":null,"mac_address":"02:00:00:19:E9:4C","private_network_id":"855910b8-71e9-464c-8696-e1cd32d5b7a8","status":"ready","updated_at":"2024-04-17T15:12:29.495724Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.233953ms
[...]
    - id: 231
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/21487928-c38f-4570-9208-b50bd7bc3ff4?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 235
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b14b7cb1-3f2d-4c35-9022-385d1fafed14?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 78.641405ms
[...]
    - id: 241
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b1c266d3-70de-4f88-921f-855324288c85?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 55.27509ms
[...]
