---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"15ad0540-1218-4a2e-863c-746d440009b6","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/15ad0540-1218-4a2e-863c-746d440009b6
        status: 201 Created
        code: 201
        duration: 138.944517ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/15ad0540-1218-4a2e-863c-746d440009b6
        method: GET
      response:
        body: '{"placement_group":{"id":"15ad0540-1218-4a2e-863c-746d440009b6","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.04228ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T19:44:10.829384Z","dhcp_enabled":true,"id":"64915c51-04a5-41b9-9bfc-fb72d3e0b61d","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:10.829384Z","id":"2fdf1c7e-3ea3-44e4-9781-23a17511c553","subnet":"172.17.92.0/22","updated_at":"2024-04-08T19:44:10.829384Z"},{"created_at":"2024-04-08T19:44:10.829384Z","id":"4fcddb57-585e-4b62-b4aa-606cd20d127c","subnet":"fd5f:519c:6d46:eab1::/64","updated_at":"2024-04-08T19:44:10.829384Z"}],"tags":[],"updated_at":"2024-04-08T19:44:10.829384Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 662.713309ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/64915c51-04a5-41b9-9bfc-fb72d3e0b61d
        method: GET
      response:
        body: '{"created_at":"2024-04-08T19:44:10.829384Z","dhcp_enabled":true,"id":"64915c51-04a5-41b9-9bfc-fb72d3e0b61d","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:10.829384Z","id":"2fdf1c7e-3ea3-44e4-9781-23a17511c553","subnet":"172.17.92.0/22","updated_at":"2024-04-08T19:44:10.829384Z"},{"created_at":"2024-04-08T19:44:10.829384Z","id":"4fcddb57-585e-4b62-b4aa-606cd20d127c","subnet":"fd5f:519c:6d46:eab1::/64","updated_at":"2024-04-08T19:44:10.829384Z"}],"tags":[],"updated_at":"2024-04-08T19:44:10.829384Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.057498ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"64915c51-04a5-41b9-9bfc-fb72d3e0b61d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://d910440c-4383-43e9-a16b-a3f26d9180e5.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-08T19:44:12.005609116Z","created_at":"2024-04-08T19:44:12.005609116Z","description":"","dns_wildcard":"*.d910440c-4383-43e9-a16b-a3f26d9180e5.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"d910440c-4383-43e9-a16b-a3f26d9180e5","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"64915c51-04a5-41b9-9bfc-fb72d3e0b61d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2024-04-08T19:44:12.016577508Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 567.519289ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d910440c-4383-43e9-a16b-a3f26d9180e5
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d910440c-4383-43e9-a16b-a3f26d9180e5/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.272209ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d910440c-4383-43e9-a16b-a3f26d9180e5/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFVVhkT2VrVTFUa1JSZUUweGIxaEVWRTB3VFVSUmQwNTZSVFZPUkZGNFRURnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"15ad0540-1218-4a2e-863c-746d440009b6","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d910440c-4383-43e9-a16b-a3f26d9180e5/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"d910440c-4383-43e9-a16b-a3f26d9180e5","container_runtime":"containerd","created_at":"2024-04-08T19:44:17.553611Z","id":"cbd0b936-6e80-42c9-b914-c52316784ea4","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"15ad0540-1218-4a2e-863c-746d440009b6","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:44:17.565564310Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 425.895576ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/cbd0b936-6e80-42c9-b914-c52316784ea4
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"d910440c-4383-43e9-a16b-a3f26d9180e5","container_runtime":"containerd","created_at":"2024-04-08T19:44:17.553611Z","id":"cbd0b936-6e80-42c9-b914-c52316784ea4","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"15ad0540-1218-4a2e-863c-746d440009b6","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:44:17.565564Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.245978ms
[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d910440c-4383-43e9-a16b-a3f26d9180e5/nodes?order_by=created_at_asc&page=1&pool_id=cbd0b936-6e80-42c9-b914-c52316784ea4&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"d910440c-4383-43e9-a16b-a3f26d9180e5","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:49:28.094746Z","error_message":null,"id":"37b00379-d56b-424c-b8cd-c56d197b9128","name":"scw-test-pool-placeme-test-pool-placeme-37b003","pool_id":"cbd0b936-6e80-42c9-b914-c52316784ea4","provider_id":"scaleway://instance/fr-par-1/1c70e6ed-64ba-4cdc-8314-84e89766fbc3","public_ip_v4":"51.158.105.131","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:51:38.099589Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.121314ms
[...]
    - id: 124
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/cbd0b936-6e80-42c9-b914-c52316784ea4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"cbd0b936-6e80-42c9-b914-c52316784ea4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.822047ms
    - id: 125
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d910440c-4383-43e9-a16b-a3f26d9180e5?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 128
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"03f4aff9-02ef-494d-8389-f6674bc62fe1","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/03f4aff9-02ef-494d-8389-f6674bc62fe1
        status: 201 Created
        code: 201
        duration: 297.364864ms
    - id: 129
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/03f4aff9-02ef-494d-8389-f6674bc62fe1
        method: GET
      response:
        body: '{"placement_group":{"id":"03f4aff9-02ef-494d-8389-f6674bc62fe1","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.616048ms
[...]
    - id: 132
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T19:52:10.870982Z","dhcp_enabled":true,"id":"f72c8492-b24a-4b95-b9b1-8fd76c82b922","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-08T19:52:10.870982Z","id":"46cd969b-a2fc-44e9-8825-ed63732f3c6f","subnet":"172.16.8.0/22","updated_at":"2024-04-08T19:52:10.870982Z"},{"created_at":"2024-04-08T19:52:10.870982Z","id":"0065d40d-aeba-4329-bba3-b37928eb2471","subnet":"fd5c:d510:d730:689e::/64","updated_at":"2024-04-08T19:52:10.870982Z"}],"tags":[],"updated_at":"2024-04-08T19:52:10.870982Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.660071ms
    - id: 133
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/f72c8492-b24a-4b95-b9b1-8fd76c82b922
        method: GET
      response:
        body: '{"created_at":"2024-04-08T19:52:10.870982Z","dhcp_enabled":true,"id":"f72c8492-b24a-4b95-b9b1-8fd76c82b922","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-08T19:52:10.870982Z","id":"46cd969b-a2fc-44e9-8825-ed63732f3c6f","subnet":"172.16.8.0/22","updated_at":"2024-04-08T19:52:10.870982Z"},{"created_at":"2024-04-08T19:52:10.870982Z","id":"0065d40d-aeba-4329-bba3-b37928eb2471","subnet":"fd5c:d510:d730:689e::/64","updated_at":"2024-04-08T19:52:10.870982Z"}],"tags":[],"updated_at":"2024-04-08T19:52:10.870982Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.511522ms
    - id: 134
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 135
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9c5eb9ff-1cf0-4048-943e-f6342de97266
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random[...]
[...]
    - id: 137
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9c5eb9ff-1cf0-4048-943e-f6342de97266/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.298499ms
[...]
    - id: 139
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9c5eb9ff-1cf0-4048-943e-f6342de97266/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"03f4aff9-02ef-494d-8389-f6674bc62fe1","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9c5eb9ff-1cf0-4048-943e-f6342de97266/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9c5eb9ff-1cf0-4048-943e-f6342de97266","container_runtime":"containerd","created_at":"2024-04-08T19:52:17.412125Z","id":"12e72711-fa3b-4f8b-8776-436e2e62a6a1","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"03f4aff9-02ef-494d-8389-f6674bc62fe1","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:52:17.425343861Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 575.351639ms
    - id: 142
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/12e72711-fa3b-4f8b-8776-436e2e62a6a1
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9c5eb9ff-1cf0-4048-943e-f6342de97266","container_runtime":"containerd","created_at":"2024-04-08T19:52:17.412125Z","id":"12e72711-fa3b-4f8b-8776-436e2e62a6a1","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"03f4aff9-02ef-494d-8389-f6674bc62fe1","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:52:17.425344Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.955134ms
[...]
    - id: 214
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9c5eb9ff-1cf0-4048-943e-f6342de97266/nodes?order_by=created_at_asc&page=1&pool_id=12e72711-fa3b-4f8b-8776-436e2e62a6a1&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"9c5eb9ff-1cf0-4048-943e-f6342de97266","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:55:18.332079Z","error_message":null,"id":"057d52e1-cbcd-4856-a2d1-54390b7c8417","name":"scw-test-pool-placeme-test-pool-placeme-057d52","pool_id":"12e72711-fa3b-4f8b-8776-436e2e62a6a1","provider_id":"scaleway://instance/nl-ams-2/3a89c408-0f35-405a-878a-0e92170b1f16","public_ip_v4":"51.158.239.17","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2024-04-08T19:58:07.544327Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.248835ms
[...]
    - id: 227
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9c5eb9ff-1cf0-4048-943e-f6342de97266/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.932094ms
[...]
    - id: 235
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9c5eb9ff-1cf0-4048-943e-f6342de97266?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
