---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigZone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:26:11.138714Z","custom_routes_propagation_enabled":true,"id":"0e278e26-25f1-4177-ba4f-cd1375c810c6","is_default":false,"name":"testAccCheckK8SPoolConfigZone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:26:11.138714Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.945ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0e278e26-25f1-4177-ba4f-cd1375c810c6
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:26:11.138714Z","custom_routes_propagation_enabled":true,"id":"0e278e26-25f1-4177-ba4f-cd1375c810c6","is_default":false,"name":"testAccCheckK8SPoolConfigZone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T14:26:11.138714Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.32075ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"0e278e26-25f1-4177-ba4f-cd1375c810c6","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T14:26:11.278288Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:26:11.278288Z","id":"ba371356-3165-4b17-964f-d36b75dc0ffa","private_network_id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.88.0/22","updated_at":"2025-09-30T14:26:11.278288Z","vpc_id":"0e278e26-25f1-4177-ba4f-cd1375c810c6"},{"created_at":"2025-09-30T14:26:11.278288Z","id":"b307de10-42b7-4b1e-a374-8ac10a4c325f","private_network_id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:99a2::/64","updated_at":"2025-09-30T14:26:11.278288Z","vpc_id":"0e278e26-25f1-4177-ba4f-cd1375c810c6"}],"tags":[],"updated_at":"2025-09-30T14:26:11.278288Z","vpc_id":"0e278e26-25f1-4177-ba4f-cd1375c810c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 626.502208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e65664c4-0ed0-4ceb-a9d8-dd272f2274c8
        method: GET
      response:
        body: '{"created_at":"2025-09-30T14:26:11.278288Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T14:26:11.278288Z","id":"ba371356-3165-4b17-964f-d36b75dc0ffa","private_network_id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.88.0/22","updated_at":"2025-09-30T14:26:11.278288Z","vpc_id":"0e278e26-25f1-4177-ba4f-cd1375c810c6"},{"created_at":"2025-09-30T14:26:11.278288Z","id":"b307de10-42b7-4b1e-a374-8ac10a4c325f","private_network_id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:99a2::/64","updated_at":"2025-09-30T14:26:11.278288Z","vpc_id":"0e278e26-25f1-4177-ba4f-cd1375c810c6"}],"tags":[],"updated_at":"2025-09-30T14:26:11.278288Z","vpc_id":"0e278e26-25f1-4177-ba4f-cd1375c810c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.554208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"details":[{"argument_name":"name","help_message":"cluster name must be unique across the project","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 147.74925ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e65664c4-0ed0-4ceb-a9d8-dd272f2274c8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"e65664c4-0ed0-4ceb-a9d8-dd272f2274c8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.979208ms
