---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-size","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:35:30.124532Z","dhcp_enabled":true,"id":"c1beb69a-65fb-41ed-86a4-9377125fc663","name":"test-pool-size","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:35:30.124532Z","id":"a9cef608-0476-4dd7-acde-a8a071d765cb","private_network_id":"c1beb69a-65fb-41ed-86a4-9377125fc663","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T18:35:30.124532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:35:30.124532Z","id":"9d722b67-b554-41bd-809d-0dfb3cb8970a","private_network_id":"c1beb69a-65fb-41ed-86a4-9377125fc663","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a181::/64","updated_at":"2024-10-03T18:35:30.124532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:35:30.124532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 615.121838ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c1beb69a-65fb-41ed-86a4-9377125fc663
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:35:30.124532Z","dhcp_enabled":true,"id":"c1beb69a-65fb-41ed-86a4-9377125fc663","name":"test-pool-size","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:35:30.124532Z","id":"a9cef608-0476-4dd7-acde-a8a071d765cb","private_network_id":"c1beb69a-65fb-41ed-86a4-9377125fc663","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T18:35:30.124532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:35:30.124532Z","id":"9d722b67-b554-41bd-809d-0dfb3cb8970a","private_network_id":"c1beb69a-65fb-41ed-86a4-9377125fc663","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a181::/64","updated_at":"2024-10-03T18:35:30.124532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:35:30.124532Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.764161ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-size","description":"","tags":[],"version":"1.30.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"c1beb69a-65fb-41ed-86a4-9377125fc663"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://e5c732a7-02b9-478b-a40b-04c40c6ae156.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-10-03T18:35:31.641555Z","created_at":"2024-10-03T18:35:31.641544Z","description":"","dns_wildcard":"*.e5c732a7-02b9-478b-a40b-04c40c6ae156.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"e5c732a7-02b9-478b-a40b-04c40c6ae156","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"c1beb69a-65fb-41ed-86a4-9377125fc663","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":[],"type":"kapsule","updated_at":"2024-10-03T18:35:31.641544Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 946.597233ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e5c732a7-02b9-478b-a40b-04c40c6ae156
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"rando[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e5c732a7-02b9-478b-a40b-04c40c6ae156/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.006376ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e5c732a7-02b9-478b-a40b-04c40c6ae156/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxVVFYZE5ha1UwVFhwVmVrMXNiMWhFVkUwd1RWUkJkMDFxUlRSTmVsVjZUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"pool","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e5c732a7-02b9-478b-a40b-04c40c6ae156/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"e5c732a7-02b9-478b-a40b-04c40c6ae156","container_runtime":"containerd","created_at":"2024-10-03T18:35:37.065760Z","id":"66bc624f-921c-4040-947a-1f63bd97f9a1","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:35:37.065760Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.554182ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/66bc624f-921c-4040-947a-1f63bd97f9a1
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"e5c732a7-02b9-478b-a40b-04c40c6ae156","container_runtime":"containerd","created_at":"2024-10-03T18:35:37.065760Z","id":"66bc624f-921c-4040-947a-1f63bd97f9a1","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:35:37.065760Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.923916ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e5c732a7-02b9-478b-a40b-04c40c6ae156/nodes?order_by=created_at_asc&page=1&pool_id=66bc624f-921c-4040-947a-1f63bd97f9a1&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"e5c732a7-02b9-478b-a40b-04c40c6ae156","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:38:36.109167Z","error_message":null,"id":"d8d63840-4c0a-4a5c-a37c-6c974595aed1","name":"scw-test-pool-size-pool-d8d638404c0a4a5ca37c6c","pool_id":"66bc624f-921c-4040-947a-1f63bd97f9a1","provider_id":"scaleway://instance/fr-par-1/ab3c8075-8d08-409c-ba04-c92e2606e130","public_ip_v4":"163.172.181.108","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:41:24.376277Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.726782ms
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-size-pool-d8d638404c0a4a5ca37c6c&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:a181:be6d:cb91:6345:42a1/64","created_at":"2024-10-03T18:38:40.243208Z","id":"c25cac07-259a-4561-a544-5c2436b0c9fe","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"10218bd6-a7e9-4a6d-a199-3fac7075561f","mac_address":"02:00:00:13:7E:02","name":"scw-test-pool-size-pool-d8d638404c0a4a5ca37c6c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"9d722b67-b554-41bd-809d-0dfb3cb8970a"},"tags":[],"updated_at":"2024-10-03T18:38:40.243208Z","zone":null},{"address":"172.16.116.2/22","created_at":"2024-10-03T18:38:39.896839Z","id":"4873da12-b0ed-4a34-b7c9-2543b9b51a70","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"10218bd6-a7e9-4a6d-a199-3fac7075561f","mac_address":"02:00:00:13:7E:02","name":"scw-test-pool-size-pool-d8d638404c0a4a5ca37c6c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"a9cef608-0476-4dd7-acde-a8a071d765cb"},"tags":[],"updated_at":"2024-10-03T18:38:39.896839Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.897635ms
[...]
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/66bc624f-921c-4040-947a-1f63bd97f9a1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"66bc624f-921c-4040-947a-1f63bd97f9a1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.619634ms
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e5c732a7-02b9-478b-a40b-04c40c6ae156?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"esti[...]
[...]
