---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-14T21:17:48.307586Z","dhcp_enabled":true,"id":"797a31c2-5c99-48d1-82a9-4c726e057a0b","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.307586Z","id":"02652050-f881-4267-ae2d-4ddcb231d057","private_network_id":"797a31c2-5c99-48d1-82a9-4c726e057a0b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-14T21:17:48.307586Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.307586Z","id":"93f5be3b-088d-4c1c-900e-8d63a093fe9b","private_network_id":"797a31c2-5c99-48d1-82a9-4c726e057a0b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:a20d::/64","updated_at":"2025-05-14T21:17:48.307586Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.307586Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.072066901s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/797a31c2-5c99-48d1-82a9-4c726e057a0b
        method: GET
      response:
        body: '{"created_at":"2025-05-14T21:17:48.307586Z","dhcp_enabled":true,"id":"797a31c2-5c99-48d1-82a9-4c726e057a0b","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.307586Z","id":"02652050-f881-4267-ae2d-4ddcb231d057","private_network_id":"797a31c2-5c99-48d1-82a9-4c726e057a0b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-14T21:17:48.307586Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.307586Z","id":"93f5be3b-088d-4c1c-900e-8d63a093fe9b","private_network_id":"797a31c2-5c99-48d1-82a9-4c726e057a0b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:a20d::/64","updated_at":"2025-05-14T21:17:48.307586Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.307586Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.164844ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"797a31c2-5c99-48d1-82a9-4c726e057a0b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4c7a2f23-241f-445e-a7c1-518d7e55b6ad.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-14T21:17:49.293929Z","created_at":"2025-05-14T21:17:49.293919Z","description":"","dns_wildcard":"*.4c7a2f23-241f-445e-a7c1-518d7e55b6ad.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"4c7a2f23-241f-445e-a7c1-518d7e55b6ad","name":"test-pool-zone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"797a31c2-5c99-48d1-82a9-4c726e057a0b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2025-05-14T21:17:49.293919Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.554776ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c7a2f23-241f-445e-a7c1-518d7e55b6ad
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c7a2f23-241f-445e-a7c1-518d7e55b6ad/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.255931ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c7a2f23-241f-445e-a7c1-518d7e55b6ad/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYaE5la2w0VFZSak1VMUdiMWhFVkUweFRVUlZlRTE2U1hoTlZHTXhUVVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c7a2f23-241f-445e-a7c1-518d7e55b6ad/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4c7a2f23-241f-445e-a7c1-518d7e55b6ad","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.223333Z","id":"3ceec757-9ca9-42f9-85cb-8d9d0deeaf55","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2025-05-14T21:17:55.223333Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.953337ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3ceec757-9ca9-42f9-85cb-8d9d0deeaf55
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4c7a2f23-241f-445e-a7c1-518d7e55b6ad","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.223333Z","id":"3ceec757-9ca9-42f9-85cb-8d9d0deeaf55","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2025-05-14T21:17:55.223333Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.363238ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c7a2f23-241f-445e-a7c1-518d7e55b6ad/nodes?order_by=created_at_asc&page=1&pool_id=3ceec757-9ca9-42f9-85cb-8d9d0deeaf55&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4c7a2f23-241f-445e-a7c1-518d7e55b6ad","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T21:20:59.137419Z","error_message":"","id":"567318b2-3118-4496-a2bd-962a773c18b4","name":"scw-test-pool-zone-test-pool-zone-567318b23118","pool_id":"3ceec757-9ca9-42f9-85cb-8d9d0deeaf55","provider_id":"scaleway://instance/fr-par-2/6b901205-1c26-41b9-92e1-cf9fa4c5bd8d","public_ip_v4":"51.159.188.208","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T21:23:16.049344Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.820925ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-zone-test-pool-zone-567318b23118&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:a20d:a1:7776:b02b:816e/64","created_at":"2025-05-14T21:21:04.712078Z","id":"c4a8a0ac-d524-4386-bcd7-055502986290","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"089153ea-ab6e-4e58-84fc-3f5b3a7c9bae","mac_address":"02:00:00:2F:88:B0","name":"scw-test-pool-zone-test-pool-zone-567318b23118","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"93f5be3b-088d-4c1c-900e-8d63a093fe9b"},"tags":[],"updated_at":"2025-05-14T21:21:04.712078Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-05-14T21:21:04.277700Z","id":"632aebbf-43d4-4d89-940a-35499959c3cd","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"089153ea-ab6e-4e58-84fc-3f5b3a7c9bae","mac_address":"02:00:00:2F:88:B0","name":"scw-test-pool-zone-test-pool-zone-567318b23118","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"02652050-f881-4267-ae2d-4ddcb231d057"},"tags":[],"updated_at":"2025-05-14T21:21:04.277700Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 457.723813ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3ceec757-9ca9-42f9-85cb-8d9d0deeaf55
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"3ceec757-9ca9-42f9-85cb-8d9d0deeaf55","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 386.676821ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c7a2f23-241f-445e-a7c1-518d7e55b6ad?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
