---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"message\":\"upstream request timeout\"}"
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: 30.019932376s
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-minimal\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\",\"name\":\"test-pool-minimal\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:53.885497Z\",\"updated_at\":\"2025-08-28T14:13:53.885497Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"88a1b0e7-5b20-4fa0-b05d-7a775a191600\",\"created_at\":\"2025-08-28T14:13:53.885497Z\",\"updated_at\":\"2025-08-28T14:13:53.885497Z\",\"subnet\":\"172.16.124.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"de9cab98-e49f-4004-8464-032ee70fbac1\",\"created_at\":\"2025-08-28T14:13:53.885497Z\",\"updated_at\":\"2025-08-28T14:13:53.885497Z\",\"subnet\":\"fde7:767f:1bb5:aa11::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 780.04892ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f1f2b408-83ac-4e8f-bf52-65b656e3da55
    method: GET
  response:
    body: "{\"id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\",\"name\":\"test-pool-minimal\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:53.885497Z\",\"updated_at\":\"2025-08-28T14:13:53.885497Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"88a1b0e7-5b20-4fa0-b05d-7a775a191600\",\"created_at\":\"2025-08-28T14:13:53.885497Z\",\"updated_at\":\"2025-08-28T14:13:53.885497Z\",\"subnet\":\"172.16.124.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"de9cab98-e49f-4004-8464-032ee70fbac1\",\"created_at\":\"2025-08-28T14:13:53.885497Z\",\"updated_at\":\"2025-08-28T14:13:53.885497Z\",\"subnet\":\"fde7:767f:1bb5:aa11::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 27.239946ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-minimal\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"version\":\"1.32.7\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:54.977565Z\",\"updated_at\":\"2025-08-28T14:13:54.977565Z\",\"type\":\"kapsule\",\"name\":\"test-pool-minimal\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"calico\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"cluster_url\":\"https://966d9a81-34bc-431a-8e6c-fd51081c84a6.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.966d9a81-34bc-431a-8e6c-fd51081c84a6.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"f1f2b408-83ac-4e8f-bf52-65b656e3da55\",\"commitment_ends_at\":\"2025-08-28T14:13:54.977570Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 352.556262ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:54.977565Z\",\"updated_at\":\"2025-08-28T14:13:54.977565Z\",\"type\":\"kapsule[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.796847ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVozbE9la1V3VFZSTk1VNVdiMWhFVkUweFRVUm5lVTU2UlRCTlZFMHhUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUk[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-minimal\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"default\"],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a\",\"cluster_id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"created_at\":\"2025-08-28T14:14:00.740884Z\",\"updated_at\":\"2025-08-28T14:14:00.740884Z\",\"name\":\"test-pool-minimal\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"default\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.887358ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a\",\"cluster_id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"created_at\":\"2025-08-28T14:14:00.740884Z\",\"updated_at\":\"2025-08-28T14:14:00.740884Z\",\"name\":\"test-pool-minimal\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"default\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.861718ms
[...]
- id: 68
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6/nodes?order_by=created_at_asc&page=1&pool_id=fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"1f7070c5-cd13-43db-8a23-477ff1fc3a4f\",\"cluster_id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"created_at\":\"2025-08-28T14:15:50.941910Z\",\"updated_at\":\"2025-08-28T14:18:28.492548Z\",\"pool_id\":\"fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-minimal-test-pool-minimal-1f7070\",\"public_ip_v4\":\"51.15.249.119\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/d1fe6151-456d-48e3-9250-8e18a7af5f4b\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.039324ms
[...]
- id: 70
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-minimal-test-pool-minimal-1f7070
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-minimal-test-pool-minimal-1f7070&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"7f7f3136-12f1-4d2f-b14f-55f71cd10bf8\",\"address\":\"fde7:767f:1bb5:aa11:7582:aaec:c39e:573e/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:15:54.312633Z\",\"updated_at\":\"2025-08-28T14:15:54.312633Z\",\"source\":{\"subnet_id\":\"de9cab98-e49f-4004-8464-032ee70fbac1\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"844ffcd6-56f9-4c92-b0b6-7d2bf9142e4e\",\"mac_address\":\"02:00:00:17:72:C4\",\"name\":\"scw-test-pool-minimal-test-pool-minimal-1f7070\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"2053b957-7e19-4cae-a4b5-fe81156001ef\",\"address\":\"172.16.124.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:15:54.208745Z\",\"updated_at\":\"2025-08-28T14:15:54.208745Z\",\"source\":{\"subnet_id\":\"88a1b0e7-5b20-4fa0-b05d-7a775a191600\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"844ffcd6-56f9-4c92-b0b6-7d2bf9142e4e\",\"mac_address\":\"02:00:00:17:72:C4\",\"name\":\"scw-test-pool-minimal-test-pool-minimal-1f7070\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 34.393486ms
[...]
- id: 73
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      pool_id:
      - fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6/nodes?order_by=created_at_asc&pool_id=fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"1f7070c5-cd13-43db-8a23-477ff1fc3a4f\",\"cluster_id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"created_at\":\"2025-08-28T14:15:50.941910Z\",\"updated_at\":\"2025-08-28T14:18:28.492548Z\",\"pool_id\":\"fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-minimal-test-pool-minimal-1f7070\",\"public_ip_v4\":\"51.15.249.119\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/d1fe6151-456d-48e3-9250-8e18a7af5f4b\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.504501ms
- id: 74
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1fe6151-456d-48e3-9250-8e18a7af5f4b
    method: GET
  response:
    body: "{\"server\": {\"id\": \"d1fe6151-456d-48e3-9250-8e18a7af5f4b\", \"name\": \"scw-test-pool-minimal-test-pool-minimal-1f7070\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"d03c0af1-fec9-44aa-a12c-54cb13072778\", \"hostname\": \"scw-test-pool-minimal-test-pool-minimal-1f7070\", \"image\": {\"id\": \"f587416b-3d51-4582-808f-dbbaa617a61a\", \"name\": \"k8s_base_node_2024-12-13_sbs\", \"organization\": \"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d\", \"project\": \"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"164c4014-2874-481f-b194-ce63ab76f0da\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2024-12-13T14:25:42.929071+00:00\", \"modification_date\": \"2024-12-13T14:25:42.929071+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": true, \"volume_type\": \"sbs_volume\", \"id\": \"79dc6a34-045d-4d62-8ada-1dcb32cf74b9\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"kapsule=966d9a81-34bc-431a-8e6c-fd51081c84a6\", \"pool=fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a\", \"pool-name=test-pool-minimal\", \"runtime=containerd\", \"managed=true\", \"terraform-test\", \"scaleway_k8s_cluster\", \"default\", \"node=1f7070c5-cd13-43db-8a23-477ff1fc3a4f\"], \"state\": \"running\", \"protected\": false, \"state_detail\": \"booted\", \"public_ip\": {\"id\": \"9791341a-9534-4d1f-a4ff-0b4d635c0f4e\", \"address\": \"51.15.249.119\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"kapsule=966d9a81-34bc-431a-8e6c-fd51081c84a6\", \"node-name=scw-test-pool-minimal-test-pool-minimal-1f7070\"], \"state\": \"attached\", \"ipam_id\": \"770a2eb9-d943-4588-9a14-84f3c1dfc8a3\"}, \"public_ips\": [{\"id\": \"9791341a-9534-4d1f-a4ff-0b4d635c0f4e\", \"address\": \"51.15.249.119\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"kapsule=966d9a81-34bc-431a-8e6c-fd51081c84a6\", \"node-name=scw-test-pool-minimal-test-pool-minimal-1f7070\"], \"state\": \"attached\", \"ipam_id\": \"770a2eb9-d943-4588-9a14-84f3c1dfc8a3\"}, {\"id\": \"4981be18-0b4d-4fd4-8972-4b6fb6e50baa\", \"address\": \"2001:bc8:710:ee38:dc00:ff:fec5:a639\", \"dynamic\": false, \"gateway\": \"fe80::dc00:ff:fec5:a63a\", \"netmask\": \"64\", \"family\": \"inet6\", \"provisioning_mode\": \"slaac\", \"tags\": [\"kapsule=966d9a81-34bc-431a-8e6c-fd51081c84a6\", \"node-name=scw-test-pool-minimal-test-pool-minimal-1f7070\"], \"state\": \"attached\", \"ipam_id\": \"a29fcca3-4e61-4445-ab31-c7e79c6b260b\"}], \"mac_address\": \"de:00:00:c5:a6:39\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": false, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-08-28T14:15:51.401529+00:00\", \"modification_date\": \"2025-08-28T14:15:57.126825+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"685db100-a215-4d06-a2bf-08d7b28a64d8\", \"name\": \"Kapsule default security group\"}, \"location\": {\"zone_id\": \"fr-par-1\", \"platform_id\": \"14\", \"cluster_id\": \"58\", \"hypervisor_id\": \"501\", \"node_id\": \"25\"}, \"maintenances\": [], \"allowed_actions\": [\"poweroff\", \"terminate\", \"reboot\", \"stop_in_place\", \"backup\"], \"placement_group\": null, \"private_nics\": [{\"id\": \"844ffcd6-56f9-4c92-b0b6-7d2bf9142e4e\", \"private_network_id\": \"f1f2b408-83ac-4e8f-bf52-65b656e3da55\", \"server_id\": \"d1fe6151-456d-48e3-9250-8e18a7af5f4b\", \"mac_address\": \"02:00:00:17:72:c4\", \"state\": \"available\", \"creation_date\": \"2025-08-28T14:15:53.970129+00:00\", \"modification_date\": \"2025-08-28T14:15:54.122976+00:00\", \"zone\": \"fr-par-1\", \"tags\": [], \"ipam_ip_ids\": [\"2053b957-7e19-4cae-a4b5-fe81156001ef\", \"7f7f3136-12f1-4d2f-b14f-55f71cd10bf8\"]}], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 177.735258ms
[...]
- id: 127
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-minima-test-pool-minimal--923d92
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-minima-test-pool-minimal--923d92&resource_type[...]
[...]
- id: 130
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      pool_id:
      - fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6/nodes?order_by=created_at_asc&pool_id=fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"1f7070c5-cd13-43db-8a23-477ff1fc3a4f\",\"cluster_id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"created_at\":\"2025-08-28T14:15:50.941910Z\",\"updated_at\":\"2025-08-28T14:21:07.575224Z\",\"pool_id\":\"fd7dbcc3-eaf3-4ef1-8bd1-c5ae03b05a0a\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"NetworkUnavailable\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-minimal-test-pool-minimal-1f7070\",\"public_ip_v4\":\"51.15.249.119\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/d1fe6151-456d-48e3-9250-8e18a7af5f4b\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.929745ms
[...]
- id: 183
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d706ad07-9cb5-4202-b0a5-24d1c10a9aba
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"d706ad07-9cb5-4202-b0a5-24d1c10a9aba\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.247091ms
[...]
- id: 248
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/966d9a81-34bc-431a-8e6c-fd51081c84a6?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"966d9a81-34bc-431a-8e6c-fd51081c84a6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:54.977565Z\",\"updated_at\":\"2025-08-28T14:27:50.689724Z\",\"type\":\"k[...]
[...]
