---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-19T16:03:23.015298Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f21053e3-a035-49a3-8670-0c14906312f2","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-19T16:03:23.015298Z","id":"4eceaf4a-2b93-4954-a3cd-84c032e7948e","private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-19T16:03:23.015298Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-19T16:03:23.015298Z","id":"5913e97d-132e-4088-bf3a-afd8e3b2ad1f","private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:ca05::/64","updated_at":"2025-05-19T16:03:23.015298Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-19T16:03:23.015298Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 683.175828ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f21053e3-a035-49a3-8670-0c14906312f2
        method: GET
      response:
        body: '{"created_at":"2025-05-19T16:03:23.015298Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"f21053e3-a035-49a3-8670-0c14906312f2","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-19T16:03:23.015298Z","id":"4eceaf4a-2b93-4954-a3cd-84c032e7948e","private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-19T16:03:23.015298Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-19T16:03:23.015298Z","id":"5913e97d-132e-4088-bf3a-afd8e3b2ad1f","private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:ca05::/64","updated_at":"2025-05-19T16:03:23.015298Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-19T16:03:23.015298Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.730586ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://3437e554-4ece-401e-8928-c938b276ae45.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-19T16:03:24.135235Z","created_at":"2025-05-19T16:03:24.135221Z","description":"","dns_wildcard":"*.3437e554-4ece-401e-8928-c938b276ae45.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"3437e554-4ece-401e-8928-c938b276ae45","name":"test-k8s-public-ip","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-05-19T16:03:24.135221Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 477.679378ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3437e554-4ece-401e-8928-c938b276ae45
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3437e554-4ece-401e-8928-c938b276ae45/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.440317ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3437e554-4ece-401e-8928-c938b276ae45/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVWWGhQUkVVeVRVUk5lVTVXYjFoRVZFMHhUVVJWZUU5RVJUSk5SRTE1VGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3437e554-4ece-401e-8928-c938b276ae45/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"3437e554-4ece-401e-8928-c938b276ae45","container_runtime":"containerd","created_at":"2025-05-19T16:03:29.626565Z","id":"20cc9e82-b617-403c-a020-3161906c4751","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-19T16:03:29.626565Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 736.532718ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/20cc9e82-b617-403c-a020-3161906c4751
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"3437e554-4ece-401e-8928-c938b276ae45","container_runtime":"containerd","created_at":"2025-05-19T16:03:29.626565Z","id":"20cc9e82-b617-403c-a020-3161906c4751","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-19T16:03:29.626565Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.555549ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3437e554-4ece-401e-8928-c938b276ae45/nodes?order_by=created_at_asc&page=1&pool_id=20cc9e82-b617-403c-a020-3161906c4751&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"3437e554-4ece-401e-8928-c938b276ae45","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-19T16:04:54.994518Z","error_message":"","id":"8e40ba6f-7f76-4380-a066-e622ca4168ac","name":"scw-test-k8s-public-i-test-k8s-public-i-8e40ba","pool_id":"20cc9e82-b617-403c-a020-3161906c4751","provider_id":"scaleway://instance/fr-par-1/16f3aa99-e813-49a4-bb4b-fb5d4a7b3a98","public_ip_v4":"51.158.116.64","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-19T16:07:57.258771Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.426724ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-k8s-public-i-test-k8s-public-i-8e40ba&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:ca05:233d:2c6b:fe78:ac1/64","created_at":"2025-05-19T16:05:00.131284Z","id":"508c8da4-286f-4c0e-a788-1cec081e884c","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"1d58d496-7e2c-47a6-8d95-e9ba1222b3a1","mac_address":"02:00:00:1B:C1:15","name":"scw-test-k8s-public-i-test-k8s-public-i-8e40ba","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"5913e97d-132e-4088-bf3a-afd8e3b2ad1f"},"tags":[],"updated_at":"2025-05-19T16:05:00.131284Z","zone":null},{"address":"172.16.32.3/22","created_at":"2025-05-19T16:04:59.744047Z","id":"b3ff7c97-2109-4fc2-b24a-f9616eeece32","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"1d58d496-7e2c-47a6-8d95-e9ba1222b3a1","mac_address":"02:00:00:1B:C1:15","name":"scw-test-k8s-public-i-test-k8s-public-i-8e40ba","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"4eceaf4a-2b93-4954-a3cd-84c032e7948e"},"tags":[],"updated_at":"2025-05-19T16:04:59.744047Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.497669ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3437e554-4ece-401e-8928-c938b276ae45/nodes?order_by=created_at_asc&pool_id=20cc9e82-b617-403c-a020-3161906c4751&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"3437e554-4ece-401e-8928-c938b276ae45","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-19T16:04:54.994518Z","error_message":"","id":"8e40ba6f-7f76-4380-a066-e622ca4168ac","name":"scw-test-k8s-public-i-test-k8s-public-i-8e40ba","pool_id":"20cc9e82-b617-403c-a020-3161906c4751","provider_id":"scaleway://instance/fr-par-1/16f3aa99-e813-49a4-bb4b-fb5d4a7b3a98","public_ip_v4":"51.158.116.64","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-19T16:07:57.258771Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.888197ms
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/16f3aa99-e813-49a4-bb4b-fb5d4a7b3a98
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-05-19T16:04:56.991310+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-8e40ba","id":"16f3aa99-e813-49a4-bb4b-fb5d4a7b3a98","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"33","hypervisor_id":"101","node_id":"2","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:af:46:89","maintenances":[],"modification_date":"2025-05-19T16:05:03.593618+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-8e40ba","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-05-19T16:04:58.081392+00:00","id":"1d58d496-7e2c-47a6-8d95-e9ba1222b3a1","ipam_ip_ids":["b3ff7c97-2109-4fc2-b24a-f9616eeece32","508c8da4-286f-4c0e-a788-1cec081e884c"],"mac_address":"02:00:00:1b:c1:15","modification_date":"2025-05-19T16:04:58.220704+00:00","private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","server_id":"16f3aa99-e813-49a4-bb4b-fb5d4a7b3a98","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.116.64","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"5ea5ea21-3e4d-44c3-99d4-0e0848e19d2b","ipam_id":"fa0f250e-5d55-4e58-a8db-8053be000463","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=3437e554-4ece-401e-8928-c938b276ae45","node-name=scw-test-k8s-public-i-test-k8s-public-i-8e40ba"]},"public_ips":[{"address":"51.158.116.64","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"5ea5ea21-3e4d-44c3-99d4-0e0848e19d2b","ipam_id":"fa0f250e-5d55-4e58-a8db-8053be000463","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=3437e554-4ece-401e-8928-c938b276ae45","node-name=scw-test-k8s-public-i-test-k8s-public-i-8e40ba"]},{"address":"2001:bc8:710:3c3b:dc00:ff:feaf:4689","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feaf:468a","id":"a81b021c-d607-4479-aa5b-816afdadec9f","ipam_id":"1b2c08b4-a33a-4796-8605-6c9f4d404f22","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=3437e554-4ece-401e-8928-c938b276ae45","node-name=scw-test-k8s-public-i-test-k8s-public-i-8e40ba"]}],"routed_ip_enabled":true,"security_group":{"id":"a2eeefe5-49ac-417d-8bef-290add793862","name":"kubernetes 3437e554-4ece-401e-8928-c938b276ae45"},"state":"running","state_detail":"booted","tags":["kapsule=3437e554-4ece-401e-8928-c938b276ae45","pool=20cc9e82-b617-403c-a020-3161906c4751","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=8e40ba6f-7f76-4380-a066-e622ca4168ac"],"volumes":{"0":{"boot":true,"id":"7dfcb5b1-b5ae-42e7-b7be-53684886e53e","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.090052ms
[...]
    - id: 142
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/20cc9e82-b617-403c-a020-3161906c4751
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"20cc9e82-b617-403c-a020-3161906c4751","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.591337ms
    - id: 143
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-19T16:12:27.155664Z","gateway_networks":[],"id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","ipv4":{"address":"163.172.152.33","created_at":"2025-05-19T16:12:27.129871Z","gateway_id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","id":"c5fbdb19-9364-4d9e-9ce1-2473033961f1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"33-152-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-05-19T16:12:27.129871Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-19T16:12:27.155664Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.854924444s
    - id: 144
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0290d1aa-cc6a-4b5d-9f08-4388b3365d2f
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-19T16:12:27.155664Z","gateway_networks":[],"id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","ipv4":{"address":"163.172.152.33","created_at":"2025-05-19T16:12:27.129871Z","gateway_id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","id":"c5fbdb19-9364-4d9e-9ce1-2473033961f1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"33-152-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-05-19T16:12:27.129871Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-19T16:12:27.415019Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.757457ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-19T16:12:33.431479Z","gateway_id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","id":"735e4622-7499-4751-baa3-bf6c6d43b3cb","ipam_ip_id":"210a79e6-4822-41cc-a9da-7f221c3c6403","masquerade_enabled":true,"private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","push_default_route":true,"status":"created","updated_at":"2025-05-19T16:12:33.431479Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 930.415494ms
[...]
    - id: 153
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/735e4622-7499-4751-baa3-bf6c6d43b3cb
        method: GET
      response:
        body: '{"created_at":"2025-05-19T16:12:33.431479Z","gateway_id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","id":"735e4622-7499-4751-baa3-bf6c6d43b3cb","ipam_ip_id":"210a79e6-4822-41cc-a9da-7f221c3c6403","mac_address":"02:00:00:11:0C:A0","masquerade_enabled":true,"private_network_id":"f21053e3-a035-49a3-8670-0c14906312f2","push_default_route":true,"status":"ready","updated_at":"2025-05-19T16:12:44.583179Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.569458ms
[...]
    - id: 156
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=f21053e3-a035-49a3-8670-0c14906312f2&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=735e4622-7499-4751-baa3-bf6c6d43b3cb&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.4/22","created_at":"2025-05-19T16:12:33.320444Z","id":"210a79e6-4822-41cc-a9da-7f221c3c6403","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"735e4622-7499-4751-baa3-bf6c6d43b3cb","mac_address":"02:00:00:11:0C:A0","name":"test-k8s-public-ip","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"4eceaf4a-2b93-4954-a3cd-84c032e7948e"},"tags":[],"updated_at":"2025-05-19T16:12:33.803984Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.608569ms
[...]
    - id: 316
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3437e554-4ece-401e-8928-c938b276ae45?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 324
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0290d1aa-cc6a-4b5d-9f08-4388b3365d2f?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-19T16:12:27.155664Z","gateway_networks":[],"id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","ipv4":{"address":"163.172.152.33","created_at":"2025-05-19T16:12:27.129871Z","gateway_id":"0290d1aa-cc6a-4b5d-9f08-4388b3365d2f","id":"c5fbdb19-9364-4d9e-9ce1-2473033961f1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"33-152-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-05-19T16:12:27.129871Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-19T16:24:17.307Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.400347ms
[...]
