---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:09:52.929066Z","dhcp_enabled":true,"id":"b64ed78e-715b-44e4-a688-17614f04df74","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:09:52.929066Z","id":"1731871e-248a-45d8-a77c-e5f38bea0ff2","private_network_id":"b64ed78e-715b-44e4-a688-17614f04df74","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T18:09:52.929066Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:09:52.929066Z","id":"f809c5b3-4c35-4329-bd99-7119ec72a6b7","private_network_id":"b64ed78e-715b-44e4-a688-17614f04df74","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:db7b::/64","updated_at":"2025-05-05T18:09:52.929066Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:09:52.929066Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 831.191493ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b64ed78e-715b-44e4-a688-17614f04df74
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:09:52.929066Z","dhcp_enabled":true,"id":"b64ed78e-715b-44e4-a688-17614f04df74","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:09:52.929066Z","id":"1731871e-248a-45d8-a77c-e5f38bea0ff2","private_network_id":"b64ed78e-715b-44e4-a688-17614f04df74","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T18:09:52.929066Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:09:52.929066Z","id":"f809c5b3-4c35-4329-bd99-7119ec72a6b7","private_network_id":"b64ed78e-715b-44e4-a688-17614f04df74","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:db7b::/64","updated_at":"2025-05-05T18:09:52.929066Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:09:52.929066Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.520133ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"b64ed78e-715b-44e4-a688-17614f04df74"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://91619e38-d0a5-4292-b91c-6de28488c155.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-05-05T18:09:53.957335Z","created_at":"2025-05-05T18:09:53.957325Z","description":"","dns_wildcard":"*.91619e38-d0a5-4292-b91c-6de28488c155.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"91619e38-d0a5-4292-b91c-6de28488c155","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"b64ed78e-715b-44e4-a688-17614f04df74","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-05-05T18:09:53.957325Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.173073ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/91619e38-d0a5-4292-b91c-6de28488c155
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/91619e38-d0a5-4292-b91c-6de28488c155/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.630374ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/91619e38-d0a5-4292-b91c-6de28488c155/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYZE9SRVUwVFVSck1VNVdiMWhFVkUweFRVUlZkMDVFUlRSTlJHc3hUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/91619e38-d0a5-4292-b91c-6de28488c155/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"91619e38-d0a5-4292-b91c-6de28488c155","container_runtime":"containerd","created_at":"2025-05-05T18:09:59.634483Z","id":"4fa581d9-9b22-465b-b1bb-84bf8c6833b0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:09:59.634483Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 581.9508ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/4fa581d9-9b22-465b-b1bb-84bf8c6833b0
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"91619e38-d0a5-4292-b91c-6de28488c155","container_runtime":"containerd","created_at":"2025-05-05T18:09:59.634483Z","id":"4fa581d9-9b22-465b-b1bb-84bf8c6833b0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:09:59.634483Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.04937ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/91619e38-d0a5-4292-b91c-6de28488c155/nodes?order_by=created_at_asc&page=1&pool_id=4fa581d9-9b22-465b-b1bb-84bf8c6833b0&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"91619e38-d0a5-4292-b91c-6de28488c155","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:13:05.812487Z","error_message":"","id":"edcbba60-f510-484d-8345-e1d31d15cb4b","name":"scw-test-pool-wait-test-pool-wait-edcbba60f510","pool_id":"4fa581d9-9b22-465b-b1bb-84bf8c6833b0","provider_id":"scaleway://instance/fr-par-1/5d039a82-44f9-41fd-8c34-37ef8f1a28c9","public_ip_v4":"51.15.252.83","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:15:38.369862Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.788868ms
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-wait-test-pool-wait-edcbba60f510&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:db7b:1bc5:d500:a905:7bf/64","created_at":"2025-05-05T18:13:09.679217Z","id":"1dbc7583-92e9-4909-8972-88ef028ac2bf","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d866f9e0-b10e-4f68-814b-b382e017a6d1","mac_address":"02:00:00:1D:2C:47","name":"scw-test-pool-wait-test-pool-wait-edcbba60f510","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"f809c5b3-4c35-4329-bd99-7119ec72a6b7"},"tags":[],"updated_at":"2025-05-05T18:13:09.679217Z","zone":null},{"address":"172.16.0.3/22","created_at":"2025-05-05T18:13:09.368869Z","id":"8b17441b-1558-43ab-ab06-9a572b5f6874","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d866f9e0-b10e-4f68-814b-b382e017a6d1","mac_address":"02:00:00:1D:2C:47","name":"scw-test-pool-wait-test-pool-wait-edcbba60f510","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"1731871e-248a-45d8-a77c-e5f38bea0ff2"},"tags":[],"updated_at":"2025-05-05T18:13:09.368869Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.530034ms
[...]
    - id: 143
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/91619e38-d0a5-4292-b91c-6de28488c155/nodes?order_by=created_at_asc&page=1&pool_id=4fa581d9-9b22-465b-b1bb-84bf8c6833b0&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"91619e38-d0a5-4292-b91c-6de28488c155","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:13:05.812487Z","error_message":"","id":"edcbba60-f510-484d-8345-e1d31d15cb4b","name":"scw-test-pool-wait-test-pool-wait-edcbba60f510","pool_id":"4fa581d9-9b22-465b-b1bb-84bf8c6833b0","provider_id":"scaleway://instance/fr-par-1/5d039a82-44f9-41fd-8c34-37ef8f1a28c9","public_ip_v4":"51.15.252.83","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:18:20.774337Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.244684ms
[...]
    - id: 259
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5566de91-6ca8-48d3-aba5-b4fb810bf534
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"5566de91-6ca8-48d3-aba5-b4fb810bf534","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.703953ms
[...]
    - id: 321
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/91619e38-d0a5-4292-b91c-6de28488c155?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
