---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-size","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T18:07:26.498967Z","dhcp_enabled":true,"id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99","name":"test-pool-size","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:07:26.498967Z","id":"7046aa4d-e46e-4080-a8e1-7fadb3bb43b0","private_network_id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-05T18:07:26.498967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:07:26.498967Z","id":"4a797181-b7a1-4ec7-840f-df56e96a6207","private_network_id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:4601::/64","updated_at":"2025-05-05T18:07:26.498967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:07:26.498967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 618.783039ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6f9b288e-67e2-4209-8e42-5fe53ec53c99
        method: GET
      response:
        body: '{"created_at":"2025-05-05T18:07:26.498967Z","dhcp_enabled":true,"id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99","name":"test-pool-size","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T18:07:26.498967Z","id":"7046aa4d-e46e-4080-a8e1-7fadb3bb43b0","private_network_id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-05T18:07:26.498967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T18:07:26.498967Z","id":"4a797181-b7a1-4ec7-840f-df56e96a6207","private_network_id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:4601::/64","updated_at":"2025-05-05T18:07:26.498967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T18:07:26.498967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.868981ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-size","description":"","tags":[],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://704a855c-da72-4209-b534-a58da322d2bd.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-05T18:07:27.406525Z","created_at":"2025-05-05T18:07:27.406516Z","description":"","dns_wildcard":"*.704a855c-da72-4209-b534-a58da322d2bd.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"704a855c-da72-4209-b534-a58da322d2bd","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"6f9b288e-67e2-4209-8e42-5fe53ec53c99","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":[],"type":"kapsule","updated_at":"2025-05-05T18:07:27.406516Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 413.590207ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/704a855c-da72-4209-b534-a58da322d2bd
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacki[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/704a855c-da72-4209-b534-a58da322d2bd/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.299892ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/704a855c-da72-4209-b534-a58da322d2bd/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYZE9SRVUwVFVSamVVOUdiMWhFVkUweFRVUlZkMDVFUlRSTlJHTjVUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"pool","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/704a855c-da72-4209-b534-a58da322d2bd/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"704a855c-da72-4209-b534-a58da322d2bd","container_runtime":"containerd","created_at":"2025-05-05T18:07:32.955927Z","id":"2a06aa6a-9678-4a59-876d-d495dc9f1f24","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:07:32.955927Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 809.006275ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2a06aa6a-9678-4a59-876d-d495dc9f1f24
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"704a855c-da72-4209-b534-a58da322d2bd","container_runtime":"containerd","created_at":"2025-05-05T18:07:32.955927Z","id":"2a06aa6a-9678-4a59-876d-d495dc9f1f24","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-05T18:07:32.955927Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.938367ms
[...]
    - id: 111
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/704a855c-da72-4209-b534-a58da322d2bd/nodes?order_by=created_at_asc&page=1&pool_id=2a06aa6a-9678-4a59-876d-d495dc9f1f24&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"704a855c-da72-4209-b534-a58da322d2bd","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T18:13:25.251940Z","error_message":"","id":"c165c823-2805-4983-9ff3-a67752251ce2","name":"scw-test-pool-size-pool-c165c823280549839ff3a6","pool_id":"2a06aa6a-9678-4a59-876d-d495dc9f1f24","provider_id":"scaleway://instance/fr-par-1/841eeb02-756c-4241-bc36-d494a4640d14","public_ip_v4":"51.15.143.84","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T18:15:37.827405Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.030007ms
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-size-pool-c165c823280549839ff3a6&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:4601:f3fb:cad8:7b8e:26ac/64","created_at":"2025-05-05T18:13:29.359358Z","id":"8b3ff68b-c5cf-42f6-b389-e001e095726c","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"7963c0a3-516b-40f3-85e4-d35cf88a86f1","mac_address":"02:00:00:11:30:7D","name":"scw-test-pool-size-pool-c165c823280549839ff3a6","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"4a797181-b7a1-4ec7-840f-df56e96a6207"},"tags":[],"updated_at":"2025-05-05T18:13:29.359358Z","zone":null},{"address":"172.16.12.3/22","created_at":"2025-05-05T18:13:28.961913Z","id":"089aabc4-67c4-497e-967b-4fd3e6858aac","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"7963c0a3-516b-40f3-85e4-d35cf88a86f1","mac_address":"02:00:00:11:30:7D","name":"scw-test-pool-size-pool-c165c823280549839ff3a6","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"7046aa4d-e46e-4080-a8e1-7fadb3bb43b0"},"tags":[],"updated_at":"2025-05-05T18:13:28.961913Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.707982ms
[...]
    - id: 184
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2a06aa6a-9678-4a59-876d-d495dc9f1f24
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"2a06aa6a-9678-4a59-876d-d495dc9f1f24","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.188076ms
    - id: 185
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/704a855c-da72-4209-b534-a58da322d2bd?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_nod[...]
[...]
