---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-15T00:20:02.731445Z","dhcp_enabled":true,"id":"e5d52848-7356-4b92-89cc-844dd677b7c4","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:20:02.731445Z","id":"6e6a7e6f-1757-45d5-abe0-347a48bc92f0","private_network_id":"e5d52848-7356-4b92-89cc-844dd677b7c4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-05-15T00:20:02.731445Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:20:02.731445Z","id":"34ba73ec-2fa8-4e30-bcd1-7a57c32db5cd","private_network_id":"e5d52848-7356-4b92-89cc-844dd677b7c4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:27ca::/64","updated_at":"2025-05-15T00:20:02.731445Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:20:02.731445Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 765.090811ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e5d52848-7356-4b92-89cc-844dd677b7c4
        method: GET
      response:
        body: '{"created_at":"2025-05-15T00:20:02.731445Z","dhcp_enabled":true,"id":"e5d52848-7356-4b92-89cc-844dd677b7c4","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-15T00:20:02.731445Z","id":"6e6a7e6f-1757-45d5-abe0-347a48bc92f0","private_network_id":"e5d52848-7356-4b92-89cc-844dd677b7c4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-05-15T00:20:02.731445Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-15T00:20:02.731445Z","id":"34ba73ec-2fa8-4e30-bcd1-7a57c32db5cd","private_network_id":"e5d52848-7356-4b92-89cc-844dd677b7c4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:27ca::/64","updated_at":"2025-05-15T00:20:02.731445Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-15T00:20:02.731445Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.568678ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e5d52848-7356-4b92-89cc-844dd677b7c4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4c8e2bfd-60ac-44f3-8dee-f36f5bacf419.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-15T00:20:03.642513Z","created_at":"2025-05-15T00:20:03.642502Z","description":"","dns_wildcard":"*.4c8e2bfd-60ac-44f3-8dee-f36f5bacf419.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"4c8e2bfd-60ac-44f3-8dee-f36f5bacf419","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"e5d52848-7356-4b92-89cc-844dd677b7c4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2025-05-15T00:20:03.642502Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.168073ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c8e2bfd-60ac-44f3-8dee-f36f5bacf419
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c8e2bfd-60ac-44f3-8dee-f36f5bacf419/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.781366ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c8e2bfd-60ac-44f3-8dee-f36f5bacf419/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFVlhoT1JFRjNUV3BCZDA1V2IxaEVWRTB4VFVSVmVFNUVRWGROYWtGM1RsWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c8e2bfd-60ac-44f3-8dee-f36f5bacf419/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4c8e2bfd-60ac-44f3-8dee-f36f5bacf419","container_runtime":"containerd","created_at":"2025-05-15T00:20:09.967143Z","id":"438d52d1-37ac-491f-a3e7-8a5853b6109a","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2025-05-15T00:20:09.967143Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 572.682751ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/438d52d1-37ac-491f-a3e7-8a5853b6109a
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4c8e2bfd-60ac-44f3-8dee-f36f5bacf419","container_runtime":"containerd","created_at":"2025-05-15T00:20:09.967143Z","id":"438d52d1-37ac-491f-a3e7-8a5853b6109a","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2025-05-15T00:20:09.967143Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.972795ms
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c8e2bfd-60ac-44f3-8dee-f36f5bacf419/nodes?order_by=created_at_asc&page=1&pool_id=438d52d1-37ac-491f-a3e7-8a5853b6109a&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4c8e2bfd-60ac-44f3-8dee-f36f5bacf419","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:23:15.011182Z","error_message":"","id":"cdeeb6cc-a326-4c5d-b689-12a9dce59d21","name":"scw-test-pool-kubelet-test-pool-kubelet-cdeeb6","pool_id":"438d52d1-37ac-491f-a3e7-8a5853b6109a","provider_id":"scaleway://instance/fr-par-1/e6817123-1de2-45f9-8665-2758766ea7f9","public_ip_v4":"51.15.226.69","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:25:52.335333Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.37219ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-kubelet-test-pool-kubelet-cdeeb6&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:27ca:d01:7f85:8977:92f9/64","created_at":"2025-05-15T00:23:18.993562Z","id":"557241d8-e688-41f2-9b8a-71297ab74026","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"ea3cc74d-0c36-473c-8149-56220c557940","mac_address":"02:00:00:10:CA:0D","name":"scw-test-pool-kubelet-test-pool-kubelet-cdeeb6","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"34ba73ec-2fa8-4e30-bcd1-7a57c32db5cd"},"tags":[],"updated_at":"2025-05-15T00:23:18.993562Z","zone":null},{"address":"172.16.28.3/22","created_at":"2025-05-15T00:23:18.624546Z","id":"808a869d-1f2d-4c9e-8b8e-1f4e872c1aba","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"ea3cc74d-0c36-473c-8149-56220c557940","mac_address":"02:00:00:10:CA:0D","name":"scw-test-pool-kubelet-test-pool-kubelet-cdeeb6","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"6e6a7e6f-1757-45d5-abe0-347a48bc92f0"},"tags":[],"updated_at":"2025-05-15T00:23:18.624546Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.134298ms
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c8e2bfd-60ac-44f3-8dee-f36f5bacf419/nodes?order_by=created_at_asc&page=1&pool_id=438d52d1-37ac-491f-a3e7-8a5853b6109a&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4c8e2bfd-60ac-44f3-8dee-f36f5bacf419","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-15T00:23:15.011182Z","error_message":"","id":"cdeeb6cc-a326-4c5d-b689-12a9dce59d21","name":"scw-test-pool-kubelet-test-pool-kubelet-cdeeb6","pool_id":"438d52d1-37ac-491f-a3e7-8a5853b6109a","provider_id":"scaleway://instance/fr-par-1/e6817123-1de2-45f9-8665-2758766ea7f9","public_ip_v4":"51.15.226.69","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-15T00:26:01.619732Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.028423ms
[...]
    - id: 164
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/438d52d1-37ac-491f-a3e7-8a5853b6109a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"438d52d1-37ac-491f-a3e7-8a5853b6109a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.620412ms
    - id: 165
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c8e2bfd-60ac-44f3-8dee-f36f5bacf419?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
