---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:17:34.075599Z","dhcp_enabled":true,"id":"71caf406-90cf-45d6-94f1-5d576a932d5e","name":"test-pool-upgrade-policy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:17:34.075599Z","id":"7692147d-456d-41c4-8f1e-45cb955cada6","private_network_id":"71caf406-90cf-45d6-94f1-5d576a932d5e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T18:17:34.075599Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:17:34.075599Z","id":"5b4187f1-741f-4b12-8297-b834ec2a3d7d","private_network_id":"71caf406-90cf-45d6-94f1-5d576a932d5e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:84e7::/64","updated_at":"2024-10-03T18:17:34.075599Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:17:34.075599Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 586.208206ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/71caf406-90cf-45d6-94f1-5d576a932d5e
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:17:34.075599Z","dhcp_enabled":true,"id":"71caf406-90cf-45d6-94f1-5d576a932d5e","name":"test-pool-upgrade-policy","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:17:34.075599Z","id":"7692147d-456d-41c4-8f1e-45cb955cada6","private_network_id":"71caf406-90cf-45d6-94f1-5d576a932d5e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T18:17:34.075599Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:17:34.075599Z","id":"5b4187f1-741f-4b12-8297-b834ec2a3d7d","private_network_id":"71caf406-90cf-45d6-94f1-5d576a932d5e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:84e7::/64","updated_at":"2024-10-03T18:17:34.075599Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:17:34.075599Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.641356ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.30.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"71caf406-90cf-45d6-94f1-5d576a932d5e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://26a12c11-a890-474e-bc4e-876d6c95637d.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-10-03T18:17:35.564605Z","created_at":"2024-10-03T18:17:35.564595Z","description":"","dns_wildcard":"*.26a12c11-a890-474e-bc4e-876d6c95637d.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"26a12c11-a890-474e-bc4e-876d6c95637d","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"71caf406-90cf-45d6-94f1-5d576a932d5e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2024-10-03T18:17:35.564595Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.070790249s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/26a12c11-a890-474e-bc4e-876d6c95637d
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/26a12c11-a890-474e-bc4e-876d6c95637d/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.840754ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/26a12c11-a890-474e-bc4e-876d6c95637d/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMVVRWGROYWtVMFRWUmplazVzYjFoRVZFMHdUVlJCZDAxcVJUUk5WR042VG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/26a12c11-a890-474e-bc4e-876d6c95637d/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"26a12c11-a890-474e-bc4e-876d6c95637d","container_runtime":"containerd","created_at":"2024-10-03T18:17:41.065561Z","id":"f5e8b258-4684-47be-985e-95d097533610","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2024-10-03T18:17:41.065561Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 365.968675ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f5e8b258-4684-47be-985e-95d097533610
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"26a12c11-a890-474e-bc4e-876d6c95637d","container_runtime":"containerd","created_at":"2024-10-03T18:17:41.065561Z","id":"f5e8b258-4684-47be-985e-95d097533610","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2024-10-03T18:17:41.065561Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.435205ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/26a12c11-a890-474e-bc4e-876d6c95637d/nodes?order_by=created_at_asc&page=1&pool_id=f5e8b258-4684-47be-985e-95d097533610&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"26a12c11-a890-474e-bc4e-876d6c95637d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:20:30.356905Z","error_message":null,"id":"a0d0e3fb-542d-4901-9211-24e355b45e7a","name":"scw-test-pool-upgrade-test-pool-upgrade-a0d0e3","pool_id":"f5e8b258-4684-47be-985e-95d097533610","provider_id":"scaleway://instance/fr-par-1/b160d4fe-0c4b-41ca-b1fd-0dbc5018bfff","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:23:03.574765Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.498254ms
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-upgrade-test-pool-upgrade-a0d0e3&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:84e7:50e4:3a15:5ffd:1c52/64","created_at":"2024-10-03T18:20:34.679730Z","id":"0d226486-8f6c-4eba-9c1f-2acab1575a27","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"88b157d8-f2b5-4664-a429-2e440cb68e18","mac_address":"02:00:00:18:37:4D","name":"scw-test-pool-upgrade-test-pool-upgrade-a0d0e3","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"5b4187f1-741f-4b12-8297-b834ec2a3d7d"},"tags":[],"updated_at":"2024-10-03T18:20:34.679730Z","zone":null},{"address":"172.16.112.2/22","created_at":"2024-10-03T18:20:34.223588Z","id":"3b417db4-4d40-4aba-9151-08a45e6e5c03","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"88b157d8-f2b5-4664-a429-2e440cb68e18","mac_address":"02:00:00:18:37:4D","name":"scw-test-pool-upgrade-test-pool-upgrade-a0d0e3","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"7692147d-456d-41c4-8f1e-45cb955cada6"},"tags":[],"updated_at":"2024-10-03T18:20:34.223588Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.535541ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/26a12c11-a890-474e-bc4e-876d6c95637d/nodes?order_by=created_at_asc&page=1&pool_id=f5e8b258-4684-47be-985e-95d097533610&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"26a12c11-a890-474e-bc4e-876d6c95637d","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:20:30.356905Z","error_message":null,"id":"a0d0e3fb-542d-4901-9211-24e355b45e7a","name":"scw-test-pool-upgrade-test-pool-upgrade-a0d0e3","pool_id":"f5e8b258-4684-47be-985e-95d097533610","provider_id":"scaleway://instance/fr-par-1/b160d4fe-0c4b-41ca-b1fd-0dbc5018bfff","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:23:07.518981Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.938916ms
[...]
    - id: 112
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f5e8b258-4684-47be-985e-95d097533610
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"f5e8b258-4684-47be-985e-95d097533610","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 18.804002ms
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/26a12c11-a890-474e-bc4e-876d6c95637d?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
