---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-size","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-14T21:17:48.190196Z","dhcp_enabled":true,"id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3","name":"test-pool-size","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.190196Z","id":"90c3cc05-d56e-4277-bc52-34500446f1a3","private_network_id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-14T21:17:48.190196Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.190196Z","id":"bd5b6c4c-6573-4786-a20b-02f3c754e7ea","private_network_id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:15e3::/64","updated_at":"2025-05-14T21:17:48.190196Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.190196Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 788.022587ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2cfb6391-f5c4-4473-8d22-e31e6ad615a3
        method: GET
      response:
        body: '{"created_at":"2025-05-14T21:17:48.190196Z","dhcp_enabled":true,"id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3","name":"test-pool-size","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T21:17:48.190196Z","id":"90c3cc05-d56e-4277-bc52-34500446f1a3","private_network_id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-14T21:17:48.190196Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T21:17:48.190196Z","id":"bd5b6c4c-6573-4786-a20b-02f3c754e7ea","private_network_id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:15e3::/64","updated_at":"2025-05-14T21:17:48.190196Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T21:17:48.190196Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.729054ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-size","description":"","tags":[],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://6c0254b5-a5be-40aa-a902-d914c733b19f.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-05-14T21:17:49.272667Z","created_at":"2025-05-14T21:17:49.272654Z","description":"","dns_wildcard":"*.6c0254b5-a5be-40aa-a902-d914c733b19f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"6c0254b5-a5be-40aa-a902-d914c733b19f","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"2cfb6391-f5c4-4473-8d22-e31e6ad615a3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":[],"type":"kapsule","updated_at":"2025-05-14T21:17:49.272654Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.88747ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0254b5-a5be-40aa-a902-d914c733b19f
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacki[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0254b5-a5be-40aa-a902-d914c733b19f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.812146ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0254b5-a5be-40aa-a902-d914c733b19f/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYaE5la2w0VFZSak1VMUdiMWhFVkUweFRVUlZlRTE2U1hoTlZHTXhUVVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"pool","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0254b5-a5be-40aa-a902-d914c733b19f/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6c0254b5-a5be-40aa-a902-d914c733b19f","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.504881Z","id":"81663005-2761-4611-a228-991dd36a47f2","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:17:55.504881Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 970.460274ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/81663005-2761-4611-a228-991dd36a47f2
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6c0254b5-a5be-40aa-a902-d914c733b19f","container_runtime":"containerd","created_at":"2025-05-14T21:17:55.504881Z","id":"81663005-2761-4611-a228-991dd36a47f2","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-05-14T21:17:55.504881Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.537273ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0254b5-a5be-40aa-a902-d914c733b19f/nodes?order_by=created_at_asc&page=1&pool_id=81663005-2761-4611-a228-991dd36a47f2&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"6c0254b5-a5be-40aa-a902-d914c733b19f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T21:19:58.872293Z","error_message":"","id":"48b14a34-5740-45ce-8cf5-ee495b3e66af","name":"scw-test-pool-size-pool-48b14a34574045ce8cf5ee","pool_id":"81663005-2761-4611-a228-991dd36a47f2","provider_id":"scaleway://instance/fr-par-1/9183f521-ffad-4416-a17d-b647e5fce15a","public_ip_v4":"51.15.143.84","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T21:22:49.090198Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.573633ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-size-pool-48b14a34574045ce8cf5ee&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:15e3:5a33:90fc:76c1:bab0/64","created_at":"2025-05-14T21:20:04.093334Z","id":"da260492-5014-48ab-b3a0-9d602b28e95f","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"95e7fcde-6c10-4358-86f0-efdf97663f1e","mac_address":"02:00:00:17:CA:AE","name":"scw-test-pool-size-pool-48b14a34574045ce8cf5ee","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"bd5b6c4c-6573-4786-a20b-02f3c754e7ea"},"tags":[],"updated_at":"2025-05-14T21:20:04.093334Z","zone":null},{"address":"172.16.20.3/22","created_at":"2025-05-14T21:20:03.664596Z","id":"bc21b292-50a2-4f8d-a86d-0fbb8b702214","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"95e7fcde-6c10-4358-86f0-efdf97663f1e","mac_address":"02:00:00:17:CA:AE","name":"scw-test-pool-size-pool-48b14a34574045ce8cf5ee","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"90c3cc05-d56e-4277-bc52-34500446f1a3"},"tags":[],"updated_at":"2025-05-14T21:20:03.664596Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.826731ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/81663005-2761-4611-a228-991dd36a47f2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"81663005-2761-4611-a228-991dd36a47f2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.765071ms
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0254b5-a5be-40aa-a902-d914c733b19f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node[...]
[...]
