---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigUpgradePolicy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:20:50.270717Z","custom_routes_propagation_enabled":true,"id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454","is_default":false,"name":"testAccCheckK8SPoolConfigUpgradePolicy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:20:50.270717Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.314667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c8c9a05c-9a3e-4db6-8391-c2cabe914454
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:20:50.270717Z","custom_routes_propagation_enabled":true,"id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454","is_default":false,"name":"testAccCheckK8SPoolConfigUpgradePolicy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:20:50.270717Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.614125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:20:50.387850Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:20:50.387850Z","id":"8d6d6086-ae08-4922-a601-6e1dffb2ef65","private_network_id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.176.0/22","updated_at":"2025-09-30T09:20:50.387850Z","vpc_id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454"},{"created_at":"2025-09-30T09:20:50.387850Z","id":"6b8c7aab-2155-4232-a04c-182912fbd86d","private_network_id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3479::/64","updated_at":"2025-09-30T09:20:50.387850Z","vpc_id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454"}],"tags":[],"updated_at":"2025-09-30T09:20:50.387850Z","vpc_id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 610.396833ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/71bce322-1dcb-42cb-a9d8-18e2b8bea85e
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:20:50.387850Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:20:50.387850Z","id":"8d6d6086-ae08-4922-a601-6e1dffb2ef65","private_network_id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.176.0/22","updated_at":"2025-09-30T09:20:50.387850Z","vpc_id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454"},{"created_at":"2025-09-30T09:20:50.387850Z","id":"6b8c7aab-2155-4232-a04c-182912fbd86d","private_network_id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3479::/64","updated_at":"2025-09-30T09:20:50.387850Z","vpc_id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454"}],"tags":[],"updated_at":"2025-09-30T09:20:50.387850Z","vpc_id":"c8c9a05c-9a3e-4db6-8391-c2cabe914454"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.551625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T09:20:51.462961Z","created_at":"2025-09-30T09:20:51.462950Z","description":"","dns_wildcard":"*.8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea","name":"test-pool-upgrade-policy","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"71bce322-1dcb-42cb-a9d8-18e2b8bea85e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2025-09-30T09:20:51.462950Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.952ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.710167ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFVScmVVOVVRVFZOYWtFeFRWWnZXRVJVVFRGTlJHdDVUMVJCTlUxcVFURk5WbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea","container_runtime":"containerd","created_at":"2025-09-30T09:20:57.192148Z","id":"9fec31cd-4715-4264-a2ce-3cdeb91a2fdf","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-09-30T09:20:57.192148Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.471084ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/9fec31cd-4715-4264-a2ce-3cdeb91a2fdf
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea","container_runtime":"containerd","created_at":"2025-09-30T09:20:57.192148Z","id":"9fec31cd-4715-4264-a2ce-3cdeb91a2fdf","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-09-30T09:20:57.192148Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.668375ms
[...]
    - id: 130
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea/nodes?order_by=created_at_asc&page=1&pool_id=9fec31cd-4715-4264-a2ce-3cdeb91a2fdf&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:29:34.485833Z","error_message":"","id":"785673a2-f30c-489c-8e77-d4f957ec660b","name":"scw-test-pool-upgrade-test-pool-upgrade-785673","pool_id":"9fec31cd-4715-4264-a2ce-3cdeb91a2fdf","provider_id":"scaleway://instance/fr-par-1/3301cd73-49db-4eb8-9a43-f92da8adedb8","public_ip_v4":"51.158.97.50","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:30:33.709545Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.667875ms
[...]
    - id: 132
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-upgrade-test-pool-upgrade-785673&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:3479:f669:983d:e1da:4dcd/64","created_at":"2025-09-30T09:29:38.454619Z","id":"416b35bb-6276-4bfb-8248-7a2892702d92","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"25cf093b-e17e-4c10-bf1f-0504a9020043","mac_address":"02:00:00:1F:DF:7A","name":"scw-test-pool-upgrade-test-pool-upgrade-785673","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"6b8c7aab-2155-4232-a04c-182912fbd86d"},"tags":[],"updated_at":"2025-09-30T09:29:38.454619Z","zone":null},{"address":"172.17.176.3/22","created_at":"2025-09-30T09:29:38.349142Z","id":"49b48c31-77a6-466b-862b-63c54590f1d1","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"25cf093b-e17e-4c10-bf1f-0504a9020043","mac_address":"02:00:00:1F:DF:7A","name":"scw-test-pool-upgrade-test-pool-upgrade-785673","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"8d6d6086-ae08-4922-a601-6e1dffb2ef65"},"tags":[],"updated_at":"2025-09-30T09:29:38.349142Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.830917ms
[...]
    - id: 164
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea/nodes?order_by=created_at_asc&page=1&pool_id=9fec31cd-4715-4264-a2ce-3cdeb91a2fdf&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:29:34.485833Z","error_message":"","id":"785673a2-f30c-489c-8e77-d4f957ec660b","name":"scw-test-pool-upgrade-test-pool-upgrade-785673","pool_id":"9fec31cd-4715-4264-a2ce-3cdeb91a2fdf","provider_id":"scaleway://instance/fr-par-1/3301cd73-49db-4eb8-9a43-f92da8adedb8","public_ip_v4":"51.158.97.50","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:30:41.590479Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.466083ms
[...]
    - id: 219
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/9fec31cd-4715-4264-a2ce-3cdeb91a2fdf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"9fec31cd-4715-4264-a2ce-3cdeb91a2fdf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.737166ms
    - id: 220
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8db6f9d7-72f3-4620-8a4f-f242f4c9c3ea?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
