---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 972.594933ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T15:41:40.697167Z","dhcp_enabled":true,"id":"ffa463be-3918-4282-86bd-2a93e674b149","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:40.697167Z","id":"d7a81117-0dd2-4877-a741-5e045699125f","subnet":"172.17.44.0/22","updated_at":"2024-04-08T15:41:40.697167Z"},{"created_at":"2024-04-08T15:41:40.697167Z","id":"08f4fb3a-aa2e-4b14-af15-e5c2599d455a","subnet":"fd5f:519c:6d46:ea5::/64","updated_at":"2024-04-08T15:41:40.697167Z"}],"tags":[],"updated_at":"2024-04-08T15:41:40.697167Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 764.950011ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ffa463be-3918-4282-86bd-2a93e674b149
        method: GET
      response:
        body: '{"created_at":"2024-04-08T15:41:40.697167Z","dhcp_enabled":true,"id":"ffa463be-3918-4282-86bd-2a93e674b149","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:41:40.697167Z","id":"d7a81117-0dd2-4877-a741-5e045699125f","subnet":"172.17.44.0/22","updated_at":"2024-04-08T15:41:40.697167Z"},{"created_at":"2024-04-08T15:41:40.697167Z","id":"08f4fb3a-aa2e-4b14-af15-e5c2599d455a","subnet":"fd5f:519c:6d46:ea5::/64","updated_at":"2024-04-08T15:41:40.697167Z"}],"tags":[],"updated_at":"2024-04-08T15:41:40.697167Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.614262ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"ffa463be-3918-4282-86bd-2a93e674b149"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://5327113e-fe39-4147-80dd-9cb374e719f3.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-08T15:41:42.083081261Z","created_at":"2024-04-08T15:41:42.083081261Z","description":"","dns_wildcard":"*.5327113e-fe39-4147-80dd-9cb374e719f3.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"5327113e-fe39-4147-80dd-9cb374e719f3","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"ffa463be-3918-4282-86bd-2a93e674b149","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2024-04-08T15:41:42.095389065Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 843.742882ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5327113e-fe39-4147-80dd-9cb374e719f3
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5327113e-fe39-4147-80dd-9cb374e719f3/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.962058ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5327113e-fe39-4147-80dd-9cb374e719f3/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVVWGRPZWtVeFRrUkZNRTB4YjFoRVZFMHdUVVJSZDA1NlJURk9SRVV3VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5327113e-fe39-4147-80dd-9cb374e719f3/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"5327113e-fe39-4147-80dd-9cb374e719f3","container_runtime":"containerd","created_at":"2024-04-08T15:41:47.836143Z","id":"131105d5-31b3-4849-bdea-dba01d235bfc","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:41:47.846678648Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.151592ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/131105d5-31b3-4849-bdea-dba01d235bfc
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"5327113e-fe39-4147-80dd-9cb374e719f3","container_runtime":"containerd","created_at":"2024-04-08T15:41:47.836143Z","id":"131105d5-31b3-4849-bdea-dba01d235bfc","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:41:47.846679Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.678165ms
[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5327113e-fe39-4147-80dd-9cb374e719f3/nodes?order_by=created_at_asc&page=1&pool_id=131105d5-31b3-4849-bdea-dba01d235bfc&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"5327113e-fe39-4147-80dd-9cb374e719f3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:45:00.726102Z","error_message":null,"id":"55553109-9a6d-414c-a7b1-ed5d6a4d6704","name":"scw-test-k8s-public-i-test-k8s-public-i-555531","pool_id":"131105d5-31b3-4849-bdea-dba01d235bfc","provider_id":"scaleway://instance/fr-par-1/324e5b82-b6f9-4657-9a99-5ad0bc294f2c","public_ip_v4":"51.158.109.10","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:47:22.233849Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.205112ms
[...]
    - id: 86
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5327113e-fe39-4147-80dd-9cb374e719f3/nodes?order_by=created_at_asc&pool_id=131105d5-31b3-4849-bdea-dba01d235bfc&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"5327113e-fe39-4147-80dd-9cb374e719f3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:45:00.726102Z","error_message":null,"id":"55553109-9a6d-414c-a7b1-ed5d6a4d6704","name":"scw-test-k8s-public-i-test-k8s-public-i-555531","pool_id":"131105d5-31b3-4849-bdea-dba01d235bfc","provider_id":"scaleway://instance/fr-par-1/324e5b82-b6f9-4657-9a99-5ad0bc294f2c","public_ip_v4":"51.158.109.10","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:47:22.233849Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.716597ms
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/324e5b82-b6f9-4657-9a99-5ad0bc294f2c
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64 mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2024-04-08T15:45:01.436657+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-555531","id":"324e5b82-b6f9-4657-9a99-5ad0bc294f2c","image":{"arch":"x86_64","creation_date":"2024-03-06T10:45:29.062159+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"814de558-35c6-4048-a84e-8602a4dd9ac7","modification_date":"2024-03-06T14:16:35.219919+00:00","name":"k8s_base_node_2024-03-05","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"7b206b8a-defd-4387-ab8e-f2e5eb1f800b","name":"k8s_base_node_2024-03-05","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:61c:303::1","gateway":"2001:bc8:61c:303::","netmask":"64"},"location":{"cluster_id":"25","hypervisor_id":"202","node_id":"4","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:4a:e3:3d","maintenances":[],"modification_date":"2024-04-08T15:45:16.396970+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-555531","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.66.20.199","private_nics":[{"creation_date":"2024-04-08T15:45:02.239963+00:00","id":"d1bb2596-9c35-4237-b0fe-eb50fd4e3cbf","mac_address":"02:00:00:19:ae:be","modification_date":"2024-04-08T15:45:02.778060+00:00","private_network_id":"ffa463be-3918-4282-86bd-2a93e674b149","server_id":"324e5b82-b6f9-4657-9a99-5ad0bc294f2c","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.158.109.10","dynamic":true,"family":"inet","gateway":null,"id":"0e5f89f2-9941-4444-8e88-9a7db19f51c3","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.158.109.10","dynamic":true,"family":"inet","gateway":null,"id":"0e5f89f2-9941-4444-8e88-9a7db19f51c3","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"5406fce9-0add-4ebc-b6f9-d1dd7fa5407e","name":"kubernetes 5327113e-fe39-4147-80dd-9cb374e719f3"},"state":"running","state_detail":"booting kernel","tags":["kapsule=5327113e-fe39-4147-80dd-9cb374e719f3","pool=131105d5-31b3-4849-bdea-dba01d235bfc","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=55553109-9a6d-414c-a7b1-ed5d6a4d6704"],"volumes":{"0":{"boot":false,"creation_date":"2024-04-08T15:45:01.436657+00:00","export_uri":null,"id":"189e74da-4f1a-4665-8fbb-a4c6c539c208","modification_date":"2024-04-08T15:45:01.436657+00:00","name":"k8s_base_node_2024-03-05","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"324e5b82-b6f9-4657-9a99-5ad0bc294f2c","name":"scw-test-k8s-public-i-test-k8s-public-i-555531"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.651161ms
[...]
    - id: 102
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/131105d5-31b3-4849-bdea-dba01d235bfc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"131105d5-31b3-4849-bdea-dba01d235bfc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.439304ms
    - id: 103
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-08T15:47:44.184682Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"17a3be90-3174-4f43-9617-a5526d69dca0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T15:47:44.184682Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.284724ms
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/17a3be90-3174-4f43-9617-a5526d69dca0
        method: GET
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-08T15:47:44.184682Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"17a3be90-3174-4f43-9617-a5526d69dca0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T15:47:44.184682Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.057992ms
    - id: 105
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-08T15:47:45.050718Z","gateway_networks":[],"id":"43a40d8c-986c-4a0d-8002-a497e1305e06","ip":{"address":"212.47.231.57","created_at":"2024-04-08T15:47:45.012207Z","gateway_id":"43a40d8c-986c-4a0d-8002-a497e1305e06","id":"b0e66dc4-6915-4c2e-b607-f796ef299f10","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"57-231-47-212.instances.scw.cloud","tags":[],"updated_at":"2024-04-08T15:47:45.012207Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-08T15:47:45.050718Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 965.323156ms
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/43a40d8c-986c-4a0d-8002-a497e1305e06
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-08T15:47:45.050718Z","gateway_networks":[],"id":"43a40d8c-986c-4a0d-8002-a497e1305e06","ip":{"address":"212.47.231.57","created_at":"2024-04-08T15:47:45.012207Z","gateway_id":"43a40d8c-986c-4a0d-8002-a497e1305e06","id":"b0e66dc4-6915-4c2e-b607-f796ef299f10","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"57-231-47-212.instances.scw.cloud","tags":[],"updated_at":"2024-04-08T15:47:45.012207Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-08T15:47:45.050718Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.175766ms
[...]
    - id: 112
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"43a40d8c-986c-4a0d-8002-a497e1305e06","private_network_id":"ffa463be-3918-4282-86bd-2a93e674b149","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"17a3be90-3174-4f43-9617-a5526d69dca0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-04-08T15:48:02.421709Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-08T15:47:44.184682Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"17a3be90-3174-4f43-9617-a5526d69dca0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T15:47:44.184682Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"43a40d8c-986c-4a0d-8002-a497e1305e06","id":"617f5baa-fbdd-4b18-8d1f-d7b1443926b7","ipam_config":null,"mac_address":null,"private_network_id":"ffa463be-3918-4282-86bd-2a93e674b149","status":"created","updated_at":"2024-04-08T15:48:02.421709Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.289328669s
[...]
    - id: 117
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/617f5baa-fbdd-4b18-8d1f-d7b1443926b7
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-04-08T15:48:02.421709Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-08T15:47:44.184682Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"17a3be90-3174-4f43-9617-a5526d69dca0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T15:47:44.184682Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"43a40d8c-986c-4a0d-8002-a497e1305e06","id":"617f5baa-fbdd-4b18-8d1f-d7b1443926b7","ipam_config":null,"mac_address":"02:00:00:19:AE:C4","private_network_id":"ffa463be-3918-4282-86bd-2a93e674b149","status":"ready","updated_at":"2024-04-08T15:48:14.703370Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.012767ms
[...]
    - id: 231
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5327113e-fe39-4147-80dd-9cb374e719f3?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 235
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/617f5baa-fbdd-4b18-8d1f-d7b1443926b7?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 92.436971ms
[...]
    - id: 241
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/43a40d8c-986c-4a0d-8002-a497e1305e06?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 57.342539ms
[...]
