---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:35:55.249878Z","dhcp_enabled":true,"id":"3f832309-f452-4717-91be-d75dd47258b6","name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:35:55.249878Z","id":"9437bfc2-3724-4102-bd6c-a3365e3d727c","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2024-10-03T18:35:55.249878Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:35:55.249878Z","id":"5403acff-b435-4077-8cdc-7a9ec4d048af","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a720::/64","updated_at":"2024-10-03T18:35:55.249878Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:35:55.249878Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 554.609149ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3f832309-f452-4717-91be-d75dd47258b6
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:35:55.249878Z","dhcp_enabled":true,"id":"3f832309-f452-4717-91be-d75dd47258b6","name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:35:55.249878Z","id":"9437bfc2-3724-4102-bd6c-a3365e3d727c","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2024-10-03T18:35:55.249878Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:35:55.249878Z","id":"5403acff-b435-4077-8cdc-7a9ec4d048af","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a720::/64","updated_at":"2024-10-03T18:35:55.249878Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:35:55.249878Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.998301ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.30.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"3f832309-f452-4717-91be-d75dd47258b6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://8e0dfd94-0a42-4b2d-941a-c827d797237e.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-10-03T18:35:56.492296Z","created_at":"2024-10-03T18:35:56.492287Z","description":"","dns_wildcard":"*.8e0dfd94-0a42-4b2d-941a-c827d797237e.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"8e0dfd94-0a42-4b2d-941a-c827d797237e","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2024-10-03T18:35:56.492287Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 784.294195ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e0dfd94-0a42-4b2d-941a-c827d797237e
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e0dfd94-0a42-4b2d-941a-c827d797237e/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.784949ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e0dfd94-0a42-4b2d-941a-c827d797237e/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMVVRWGROYWtVMFRYcFZNVTlHYjFoRVZFMHdUVlJCZDAxcVJUUk5lbFV4VDBadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e0dfd94-0a42-4b2d-941a-c827d797237e/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"8e0dfd94-0a42-4b2d-941a-c827d797237e","container_runtime":"containerd","created_at":"2024-10-03T18:36:01.959871Z","id":"4dd2db2b-46a8-413a-8a6f-a0281e6413bf","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:36:01.959871Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 354.439115ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/4dd2db2b-46a8-413a-8a6f-a0281e6413bf
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"8e0dfd94-0a42-4b2d-941a-c827d797237e","container_runtime":"containerd","created_at":"2024-10-03T18:36:01.959871Z","id":"4dd2db2b-46a8-413a-8a6f-a0281e6413bf","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-10-03T18:36:01.959871Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.850837ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e0dfd94-0a42-4b2d-941a-c827d797237e/nodes?order_by=created_at_asc&page=1&pool_id=4dd2db2b-46a8-413a-8a6f-a0281e6413bf&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8e0dfd94-0a42-4b2d-941a-c827d797237e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:39:01.244191Z","error_message":null,"id":"02356d15-5ec0-43cf-aedb-9034d7763c40","name":"scw-test-k8s-public-i-test-k8s-public-i-02356d","pool_id":"4dd2db2b-46a8-413a-8a6f-a0281e6413bf","provider_id":"scaleway://instance/fr-par-1/af093d69-80cd-4665-a377-02e9ab4341ec","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:41:18.201886Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.467862ms
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-k8s-public-i-test-k8s-public-i-02356d&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:a720:79aa:125:c888:7cc9/64","created_at":"2024-10-03T18:39:05.179149Z","id":"79645d78-0460-4dcf-ad9d-e06516b824d9","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"07915c12-ff72-4783-b9db-1b31909e80a8","mac_address":"02:00:00:1A:D9:EE","name":"scw-test-k8s-public-i-test-k8s-public-i-02356d","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"5403acff-b435-4077-8cdc-7a9ec4d048af"},"tags":[],"updated_at":"2024-10-03T18:39:05.179149Z","zone":null},{"address":"172.16.108.2/22","created_at":"2024-10-03T18:39:04.809421Z","id":"85635ce0-2bf6-473a-ab72-0cc33c47fd07","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"07915c12-ff72-4783-b9db-1b31909e80a8","mac_address":"02:00:00:1A:D9:EE","name":"scw-test-k8s-public-i-test-k8s-public-i-02356d","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"9437bfc2-3724-4102-bd6c-a3365e3d727c"},"tags":[],"updated_at":"2024-10-03T18:39:04.809421Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.518766ms
[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e0dfd94-0a42-4b2d-941a-c827d797237e/nodes?order_by=created_at_asc&pool_id=4dd2db2b-46a8-413a-8a6f-a0281e6413bf&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8e0dfd94-0a42-4b2d-941a-c827d797237e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T18:39:01.244191Z","error_message":null,"id":"02356d15-5ec0-43cf-aedb-9034d7763c40","name":"scw-test-k8s-public-i-test-k8s-public-i-02356d","pool_id":"4dd2db2b-46a8-413a-8a6f-a0281e6413bf","provider_id":"scaleway://instance/fr-par-1/af093d69-80cd-4665-a377-02e9ab4341ec","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T18:41:18.201886Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.402612ms
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/af093d69-80cd-4665-a377-02e9ab4341ec
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2024-10-03T18:39:02.921809+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-02356d","id":"af093d69-80cd-4665-a377-02e9ab4341ec","image":{"arch":"x86_64","creation_date":"2024-09-23T20:23:11.800385+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"33351643-5427-4cb6-9277-a80d44b47cea","modification_date":"2024-09-23T20:30:21.837664+00:00","name":"k8s_base_node_2024-09-20","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"41245918-fc62-4d1b-b447-085a1919a6a3","name":"k8s_base_node_2024-09-20","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"28","hypervisor_id":"801","node_id":"19","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:73:7b:e1","maintenances":[],"modification_date":"2024-10-03T18:39:09.588954+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-02356d","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2024-10-03T18:39:03.943528+00:00","id":"07915c12-ff72-4783-b9db-1b31909e80a8","mac_address":"02:00:00:1a:d9:ee","modification_date":"2024-10-03T18:39:04.501252+00:00","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","server_id":"af093d69-80cd-4665-a377-02e9ab4341ec","state":"available","tags":[],"zone":"fr-par-1"}],"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"public_ip":{"address":"51.15.221.96","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"9b01864d-a326-4041-aaff-fda1324d5b0a","ipam_id":"2732d384-b82d-4136-8227-30d89edb0954","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=8e0dfd94-0a42-4b2d-941a-c827d797237e","node-name=scw-test-k8s-public-i-test-k8s-public-i-02356d"]},"public_ips":[{"address":"51.15.221.96","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"9b01864d-a326-4041-aaff-fda1324d5b0a","ipam_id":"2732d384-b82d-4136-8227-30d89edb0954","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=8e0dfd94-0a42-4b2d-941a-c827d797237e","node-name=scw-test-k8s-public-i-test-k8s-public-i-02356d"]},{"address":"2001:bc8:710:20dd:dc00:ff:fe73:7be1","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe73:7be2","id":"7ebaa442-7683-4423-b38f-379350d550bd","ipam_id":"ba6f3497-e179-4641-90e6-1fd2fb19e610","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=8e0dfd94-0a42-4b2d-941a-c827d797237e","node-name=scw-test-k8s-public-i-test-k8s-public-i-02356d"]}],"routed_ip_enabled":true,"security_group":{"id":"f2251b62-8167-467d-9256-cd3832dbc19f","name":"kubernetes 8e0dfd94-0a42-4b2d-941a-c827d797237e"},"state":"running","state_detail":"booting kernel","tags":["kapsule=8e0dfd94-0a42-4b2d-941a-c827d797237e","pool=4dd2db2b-46a8-413a-8a6f-a0281e6413bf","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=02356d15-5ec0-43cf-aedb-9034d7763c40"],"volumes":{"0":{"boot":false,"creation_date":"2024-10-03T18:39:02.921809+00:00","export_uri":null,"id":"5f5963da-9480-4f0a-9bdd-cef96fb372b4","modification_date":"2024-10-03T18:39:02.921809+00:00","name":"k8s_base_node_2024-09-20","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server":{"id":"af093d69-80cd-4665-a377-02e9ab4341ec","name":"scw-test-k8s-public-i-test-k8s-public-i-02356d"},"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.815835ms
[...]
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/4dd2db2b-46a8-413a-8a6f-a0281e6413bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"4dd2db2b-46a8-413a-8a6f-a0281e6413bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.649286ms
    - id: 102
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.0.0/22","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-10-03T18:41:43.096508Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"be535307-6af8-4402-9c41-de37a56c3307","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-10-03T18:41:43.096508Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.079559ms
    - id: 103
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/be535307-6af8-4402-9c41-de37a56c3307
        method: GET
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-10-03T18:41:43.096508Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"be535307-6af8-4402-9c41-de37a56c3307","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-10-03T18:41:43.096508Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.3585ms
    - id: 104
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T18:41:44.011274Z","gateway_networks":[],"id":"871a5d02-9a9c-4fd3-aed2-a410515b4b90","ip":{"address":"51.158.99.172","created_at":"2024-10-03T18:41:43.985708Z","gateway_id":"871a5d02-9a9c-4fd3-aed2-a410515b4b90","id":"019bc0cc-fbf5-49d0-aedf-9ab2c196e0ca","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"172-99-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T18:41:43.985708Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T18:41:44.011274Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 991.021522ms
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/871a5d02-9a9c-4fd3-aed2-a410515b4b90
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T18:41:44.011274Z","gateway_networks":[],"id":"871a5d02-9a9c-4fd3-aed2-a410515b4b90","ip":{"address":"51.158.99.172","created_at":"2024-10-03T18:41:43.985708Z","gateway_id":"871a5d02-9a9c-4fd3-aed2-a410515b4b90","id":"019bc0cc-fbf5-49d0-aedf-9ab2c196e0ca","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"172-99-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T18:41:43.985708Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T18:41:44.047990Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.605473ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"871a5d02-9a9c-4fd3-aed2-a410515b4b90","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"be535307-6af8-4402-9c41-de37a56c3307"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-03T18:41:56.523622Z","dhcp":{"address":"192.168.0.1","created_at":"2024-10-03T18:41:43.096508Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"be535307-6af8-4402-9c41-de37a56c3307","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-10-03T18:41:43.096508Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"871a5d02-9a9c-4fd3-aed2-a410515b4b90","id":"9340146c-9a31-4401-92e5-4d019cec07ad","ipam_config":null,"mac_address":null,"private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","status":"created","updated_at":"2024-10-03T18:41:56.523622Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.494500236s
[...]
    - id: 115
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9340146c-9a31-4401-92e5-4d019cec07ad
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-03T18:41:56.523622Z","dhcp":{"address":"192.168.0.1","created_at":"2024-10-03T18:41:43.096508Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"be535307-6af8-4402-9c41-de37a56c3307","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-10-03T18:41:43.096508Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"871a5d02-9a9c-4fd3-aed2-a410515b4b90","id":"9340146c-9a31-4401-92e5-4d019cec07ad","ipam_config":null,"mac_address":"02:00:00:12:B7:9F","private_network_id":"3f832309-f452-4717-91be-d75dd47258b6","status":"ready","updated_at":"2024-10-03T18:42:08.593326Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.291203ms
[...]
    - id: 119
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3f832309-f452-4717-91be-d75dd47258b6&resource_id=9340146c-9a31-4401-92e5-4d019cec07ad&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.0.1/22","created_at":"2024-10-03T18:41:56.479660Z","id":"9df410f9-5fc9-48fa-9dab-7cd7040fbe8d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"9340146c-9a31-4401-92e5-4d019cec07ad","mac_address":"02:00:00:12:B7:9F","name":"test-k8s-public-ip","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"9437bfc2-3724-4102-bd6c-a3365e3d727c"},"tags":[],"updated_at":"2024-10-03T18:41:57.110737Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.993217ms
[...]
    - id: 244
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e0dfd94-0a42-4b2d-941a-c827d797237e?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 248
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9340146c-9a31-4401-92e5-4d019cec07ad?cleanup_dhcp=false
        method: DELETE
[...]
