---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.33.4\",\"label\":\"Kubernetes 1.33.4\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"DRAAdminAccess\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.32.8\",\"label\":\"Kubernetes 1.32.8\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSe[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-size\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\",\"name\":\"test-pool-size\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:42.493053Z\",\"updated_at\":\"2025-09-23T10:24:42.493053Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"7d33bfa2-3c8c-4ca1-bc2a-085cf6acf7ba\",\"created_at\":\"2025-09-23T10:24:42.493053Z\",\"updated_at\":\"2025-09-23T10:24:42.493053Z\",\"subnet\":\"172.17.76.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"39ac8926-f872-4c70-b8f6-c6ad4dc626f6\",\"created_at\":\"2025-09-23T10:24:42.493053Z\",\"updated_at\":\"2025-09-23T10:24:42.493053Z\",\"subnet\":\"fd5f:519c:6d46:7876::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 736.88979ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/64b67d85-370d-4373-b51c-ec54fe54b6c5
    method: GET
  response:
    body: "{\"id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\",\"name\":\"test-pool-size\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:42.493053Z\",\"updated_at\":\"2025-09-23T10:24:42.493053Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"7d33bfa2-3c8c-4ca1-bc2a-085cf6acf7ba\",\"created_at\":\"2025-09-23T10:24:42.493053Z\",\"updated_at\":\"2025-09-23T10:24:42.493053Z\",\"subnet\":\"172.17.76.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"39ac8926-f872-4c70-b8f6-c6ad4dc626f6\",\"created_at\":\"2025-09-23T10:24:42.493053Z\",\"updated_at\":\"2025-09-23T10:24:42.493053Z\",\"subnet\":\"fd5f:519c:6d46:7876::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 32.10291ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-size\",\"description\":\"\",\"tags\":[],\"version\":\"1.33.4\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enable\":true,\"maintenance_window\":{\"start_hour\":12,\"day\":\"monday\"}},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d97484bd-164c-44fd-8510-c886332ec2bd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:43.759220Z\",\"updated_at\":\"2025-09-23T10:24:43.759220Z\",\"type\":\"kapsule\",\"name\":\"test-pool-size\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.33.4\",\"cni\":\"cilium\",\"tags\":[],\"cluster_url\":\"https://d97484bd-164c-44fd-8510-c886332ec2bd.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.d97484bd-164c-44fd-8510-c886332ec2bd.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":true,\"maintenance_window\":{\"start_hour\":12,\"day\":\"monday\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"64b67d85-370d-4373-b51c-ec54fe54b6c5\",\"commitment_ends_at\":\"2025-09-23T10:24:43.759227Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 638.036522ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d97484bd-164c-44fd-8510-c886332ec2bd
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d97484bd-164c-44fd-8510-c886332ec2bd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:43.759220Z\",\"updated_at\":\"2025-09-23T10:24:43.759220Z\",\"type\":\"kapsule[...]
[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d97484bd-164c-44fd-8510-c886332ec2bd/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 608.894862ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d97484bd-164c-44fd-8510-c886332ec2bd/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRWEzbE5ha1YzVFdwUk1FMHhiMWhFVkUweFRVUnJlVTFxUlhkTmFsRXdUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORF[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pool\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d97484bd-164c-44fd-8510-c886332ec2bd/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"ab738e5a-8fac-40ec-b7e7-2369834c693f\",\"cluster_id\":\"d97484bd-164c-44fd-8510-c886332ec2bd\",\"created_at\":\"2025-09-23T10:24:51.227962Z\",\"updated_at\":\"2025-09-23T10:24:51.227962Z\",\"name\":\"pool\",\"status\":\"scaling\",\"version\":\"1.33.4\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":true,\"security_group_id\":\"4212283f-28b3-466e-adfe-a1d3123ca46e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 184.618408ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ab738e5a-8fac-40ec-b7e7-2369834c693f
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"ab738e5a-8fac-40ec-b7e7-2369834c693f\",\"cluster_id\":\"d97484bd-164c-44fd-8510-c886332ec2bd\",\"created_at\":\"2025-09-23T10:24:51.227962Z\",\"updated_at\":\"2025-09-23T10:24:51.227962Z\",\"name\":\"pool\",\"status\":\"scaling\",\"version\":\"1.33.4\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":true,\"security_group_id\":\"4212283f-28b3-466e-adfe-a1d3123ca46e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.370055328s
[...]
- id: 60
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - ab738e5a-8fac-40ec-b7e7-2369834c693f
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d97484bd-164c-44fd-8510-c886332ec2bd/nodes?order_by=created_at_asc&page=1&pool_id=ab738e5a-8fac-40ec-b7e7-2369834c693f&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"0a76fc04-37b1-4ba7-98ea-b22bbac4d2cd\",\"cluster_id\":\"d97484bd-164c-44fd-8510-c886332ec2bd\",\"created_at\":\"2025-09-23T10:28:01.711430Z\",\"updated_at\":\"2025-09-23T10:28:55.310621Z\",\"pool_id\":\"ab738e5a-8fac-40ec-b7e7-2369834c693f\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-size-pool-0a76fc0437b14ba798eab2\",\"public_ip_v4\":\"51.158.97.50\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/8a3d79e1-7b46-4a54-be8c-70bd8a68fef6\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 511.157027ms
[...]
- id: 62
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-size-pool-0a76fc0437b14ba798eab2
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-size-pool-0a76fc0437b14ba798eab2&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"970bde47-01d2-4f25-a1be-a5630cd9af0f\",\"address\":\"fd5f:519c:6d46:7876:1c36:da97:7816:8c6/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":true,\"created_at\":\"2025-09-23T10:28:05.874336Z\",\"updated_at\":\"2025-09-23T10:28:05.874336Z\",\"source\":{\"subnet_id\":\"39ac8926-f872-4c70-b8f6-c6ad4dc626f6\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"e1c1e2e1-62b7-4219-ad69-18e9fa2a01f7\",\"mac_address\":\"02:00:00:1D:7E:77\",\"name\":\"scw-test-pool-size-pool-0a76fc0437b14ba798eab2\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"08d3d576-a6b0-497a-96e8-19967ae177e6\",\"address\":\"172.17.76.3/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T10:28:05.710485Z\",\"updated_at\":\"2025-09-23T10:28:05.710485Z\",\"source\":{\"subnet_id\":\"7d33bfa2-3c8c-4ca1-bc2a-085cf6acf7ba\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"e1c1e2e1-62b7-4219-ad69-18e9fa2a01f7\",\"mac_address\":\"02:00:00:1D:7E:77\",\"name\":\"scw-test-pool-size-pool-0a76fc0437b14ba798eab2\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 375.645968ms
[...]
- id: 126
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ab738e5a-8fac-40ec-b7e7-2369834c693f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"ab738e5a-8fac-40ec-b7e7-2369834c693f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 32.346314ms
- id: 127
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d97484bd-164c-44fd-8510-c886332ec2bd?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d97484bd-164c-44fd-8510-c886332ec2bd\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:24:43.759220Z\",\"updated_at\":\"2025-09-23T10:33:29.006700Z\",\"type\":\"k[...]
[...]
