---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T19:44:10.963609Z","dhcp_enabled":true,"id":"29365136-f26d-4eeb-bdfc-54738f5f06fb","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:10.963609Z","id":"ebcbdfa1-453b-4db9-9baa-77f3d41294d8","subnet":"172.17.36.0/22","updated_at":"2024-04-08T19:44:10.963609Z"},{"created_at":"2024-04-08T19:44:10.963609Z","id":"494e2caf-a2a1-460c-8942-d07e1a667e4b","subnet":"fd5f:519c:6d46:4b83::/64","updated_at":"2024-04-08T19:44:10.963609Z"}],"tags":[],"updated_at":"2024-04-08T19:44:10.963609Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 764.580715ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/29365136-f26d-4eeb-bdfc-54738f5f06fb
        method: GET
      response:
        body: '{"created_at":"2024-04-08T19:44:10.963609Z","dhcp_enabled":true,"id":"29365136-f26d-4eeb-bdfc-54738f5f06fb","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:10.963609Z","id":"ebcbdfa1-453b-4db9-9baa-77f3d41294d8","subnet":"172.17.36.0/22","updated_at":"2024-04-08T19:44:10.963609Z"},{"created_at":"2024-04-08T19:44:10.963609Z","id":"494e2caf-a2a1-460c-8942-d07e1a667e4b","subnet":"fd5f:519c:6d46:4b83::/64","updated_at":"2024-04-08T19:44:10.963609Z"}],"tags":[],"updated_at":"2024-04-08T19:44:10.963609Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.972144ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"29365136-f26d-4eeb-bdfc-54738f5f06fb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://57668577-7db6-46d4-9774-3707b64e4903.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-08T19:44:12.235775546Z","created_at":"2024-04-08T19:44:12.235775546Z","description":"","dns_wildcard":"*.57668577-7db6-46d4-9774-3707b64e4903.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"57668577-7db6-46d4-9774-3707b64e4903","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"29365136-f26d-4eeb-bdfc-54738f5f06fb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-04-08T19:44:12.251571054Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 893.997496ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/57668577-7db6-46d4-9774-3707b64e4903
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/57668577-7db6-46d4-9774-3707b64e4903/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.508895ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/57668577-7db6-46d4-9774-3707b64e4903/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVVYZE9la1UxVGtSUmVFMHhiMWhFVkUwd1RVUlJkMDU2UlRWT1JGRjRUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/57668577-7db6-46d4-9774-3707b64e4903/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"57668577-7db6-46d4-9774-3707b64e4903","container_runtime":"containerd","created_at":"2024-04-08T19:44:17.886295Z","id":"0fe6b0c0-6ecc-4153-bf03-3e634cc555d4","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:44:17.902065241Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.608022ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0fe6b0c0-6ecc-4153-bf03-3e634cc555d4
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"57668577-7db6-46d4-9774-3707b64e4903","container_runtime":"containerd","created_at":"2024-04-08T19:44:17.886295Z","id":"0fe6b0c0-6ecc-4153-bf03-3e634cc555d4","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:44:17.902065Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.795701ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/57668577-7db6-46d4-9774-3707b64e4903/nodes?order_by=created_at_asc&page=1&pool_id=0fe6b0c0-6ecc-4153-bf03-3e634cc555d4&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"57668577-7db6-46d4-9774-3707b64e4903","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:47:43.369623Z","error_message":null,"id":"8ae51763-5483-45bd-84d0-e570147aca0d","name":"scw-test-pool-wait-test-pool-wait-8ae517635483","pool_id":"0fe6b0c0-6ecc-4153-bf03-3e634cc555d4","provider_id":"scaleway://instance/fr-par-1/5a10f691-8ce0-4258-9163-41c02b006ff6","public_ip_v4":"51.15.255.140","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:49:41.791589Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.052994ms
[...]
    - id: 127
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/57668577-7db6-46d4-9774-3707b64e4903/nodes?order_by=created_at_asc&page=1&pool_id=0fe6b0c0-6ecc-4153-bf03-3e634cc555d4&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"57668577-7db6-46d4-9774-3707b64e4903","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:47:43.369623Z","error_message":null,"id":"8ae51763-5483-45bd-84d0-e570147aca0d","name":"scw-test-pool-wait-test-pool-wait-8ae517635483","pool_id":"0fe6b0c0-6ecc-4153-bf03-3e634cc555d4","provider_id":"scaleway://instance/fr-par-1/5a10f691-8ce0-4258-9163-41c02b006ff6","public_ip_v4":"51.15.255.140","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:51:37.132426Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.271863ms
[...]
    - id: 210
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b00baf93-f230-4129-8239-7a78229054dd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"b00baf93-f230-4129-8239-7a78229054dd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.133102ms
[...]
    - id: 226
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/57668577-7db6-46d4-9774-3707b64e4903?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
