---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-confident-bose\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"1a7a1e1e-2b33-478e-8f1a-faa0303a1c43\", \"name\":\"tf-vpc-confident-bose\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:49:00.136298Z\", \"updated_at\":\"2025-10-30T16:49:00.136298Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.417556ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1a7a1e1e-2b33-478e-8f1a-faa0303a1c43
    method: GET
  response:
    body: "{\"id\":\"1a7a1e1e-2b33-478e-8f1a-faa0303a1c43\", \"name\":\"tf-vpc-confident-bose\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:49:00.136298Z\", \"updated_at\":\"2025-10-30T16:49:00.136298Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.635573ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-wait\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"1a7a1e1e-2b33-478e-8f1a-faa0303a1c43\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"363e7214-8a98-40d0-9357-9e4026c21b76\", \"name\":\"test-pool-wait\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:49:00.384609Z\", \"updated_at\":\"2025-10-30T16:49:00.384609Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"da10d014-609b-48cc-9b9a-437dc31f4497\", \"created_at\":\"2025-10-30T16:49:00.384609Z\", \"updated_at\":\"2025-10-30T16:49:00.384609Z\", \"subnet\":\"172.18.20.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"363e7214-8a98-40d0-9357-9e4026c21b76\", \"vpc_id\":\"1a7a1e1e-2b33-478e-8f1a-faa0303a1c43\"}, {\"id\":\"7493d1b7-5773-41c2-be8c-52e4ec098fc3\", \"created_at\":\"2025-10-30T16:49:00.384609Z\", \"updated_at\":\"2025-10-30T16:49:00.384609Z\", \"subnet\":\"fd5f:519c:6d46:90dd::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"363e7214-8a98-40d0-9357-9e4026c21b76\", \"vpc_id\":\"1a7a1e1e-2b33-478e-8f1a-faa0303a1c43\"}], \"vpc_id\":\"1a7a1e1e-2b33-478e-8f1a-faa0303a1c43\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 663.481036ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/363e7214-8a98-40d0-9357-9e4026c21b76
    method: GET
  response:
    body: "{\"id\":\"363e7214-8a98-40d0-9357-9e4026c21b76\", \"name\":\"test-pool-wait\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:49:00.384609Z\", \"updated_at\":\"2025-10-30T16:49:00.384609Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-8[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-wait\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"minimal\"],\"version\":\"1.34.1\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"363e7214-8a98-40d0-9357-9e4026c21b76\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"5114e066-aa93-4560-9be0-5ae445715a75\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:49:01.607119Z\", \"updated_at\":\"2025-10-30T16:49:01.607120Z\", \"type\":\"kapsule\", \"name\":\"test-pool-wait\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"calico\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"minimal\"], \"cluster_url\":\"https://5114e066-aa93-4560-9be0-5ae445715a75.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.5114e066-aa93-4560-9be0-5ae445715a75.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"363e7214-8a98-40d0-9357-9e4026c21b76\", \"commitment_ends_at\":\"2025-10-30T16:49:01.607128Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 624.563876ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5114e066-aa93-4560-9be0-5ae445715a75
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"5114e066-aa93-4560-9be0-5ae445715a75\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:49:01.607119Z\", \"updated_at\":\"2025-10-30T16:49:01.607120Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5114e066-aa93-4560-9be0-5ae445715a75/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 79.143649ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5114e066-aa93-4560-9be0-5ae445715a75/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSllSRU5EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJCZVU5VVJUSk9SR3QzVFZadldFUlVUVEZOVkVGNVQxUkZNazVFYTNkTlZtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVFhsNl[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-wait\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5114e066-aa93-4560-9be0-5ae445715a75/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"034a502a-1d52-470d-84bd-4a8edd935ba3\", \"cluster_id\":\"5114e066-aa93-4560-9be0-5ae445715a75\", \"created_at\":\"2025-10-30T16:49:07.243810Z\", \"updated_at\":\"2025-10-30T16:49:07.243810Z\", \"name\":\"test-pool-wait\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.175497ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/034a502a-1d52-470d-84bd-4a8edd935ba3
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"034a502a-1d52-470d-84bd-4a8edd935ba3\", \"cluster_id\":\"5114e066-aa93-4560-9be0-5ae445715a75\", \"created_at\":\"2025-10-30T16:49:07.243810Z\", \"updated_at\":\"2025-10-30T16:49:07.243810Z\", \"name\":\"test-pool-wait\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":false, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.851482ms
[...]
- id: 54
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 034a502a-1d52-470d-84bd-4a8edd935ba3
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5114e066-aa93-4560-9be0-5ae445715a75/nodes?order_by=created_at_asc&page=1&pool_id=034a502a-1d52-470d-84bd-4a8edd935ba3&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"3e073c76-a98f-4e6b-ad3c-7a6ca77e15fd\", \"cluster_id\":\"5114e066-aa93-4560-9be0-5ae445715a75\", \"created_at\":\"2025-10-30T16:51:15.736647Z\", \"updated_at\":\"2025-10-30T16:52:20.249886Z\", \"pool_id\":\"034a502a-1d52-470d-84bd-4a8edd935ba3\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-wait-test-pool-wait-3e073c76a98f\", \"public_ip_v4\":\"51.158.97.50\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/6ba8f808-ce5f-4e0a-b30e-a83f7f79f945\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 31.958661ms
[...]
- id: 56
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-wait-test-pool-wait-3e073c76a98f
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-wait-test-pool-wait-3e073c76a98f&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"54c6f7a2-4ca0-43bb-bc9a-b4a3905c0487\", \"address\":\"fd5f:519c:6d46:90dd:c183:ab7b:59b9:fc92/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:51:19.698188Z\", \"updated_at\":\"2025-10-30T16:51:19.698188Z\", \"source\":{\"subnet_id\":\"7493d1b7-5773-41c2-be8c-52e4ec098fc3\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"45715cb9-7532-4c78-93a4-2fef3fa3b71a\", \"mac_address\":\"02:00:00:1D:E4:BA\", \"name\":\"scw-test-pool-wait-test-pool-wait-3e073c76a98f\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"ddc7378f-48eb-4ae3-af3e-4d5ee60054c4\", \"address\":\"172.18.20.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:51:19.565119Z\", \"updated_at\":\"2025-10-30T16:51:19.565119Z\", \"source\":{\"subnet_id\":\"da10d014-609b-48cc-9b9a-437dc31f4497\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"45715cb9-7532-4c78-93a4-2fef3fa3b71a\", \"mac_address\":\"02:00:00:1D:E4:BA\", \"name\":\"scw-test-pool-wait-test-pool-wait-3e073c76a98f\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 31.920799ms
[...]
- id: 101
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 034a502a-1d52-470d-84bd-4a8edd935ba3
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5114e066-aa93-4560-9be0-5ae445715a75/nodes?order_by=created_at_asc&page=1&pool_id=034a502a-1d52-470d-84bd-4a8edd935ba3&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"3e073c76-a98f-4e6b-ad3c-7a6ca77e15fd\", \"cluster_id\":\"5114e066-aa93-4560-9be0-5ae445715a75\", \"created_at\":\"2025-10-30T16:51:15.736647Z\", \"updated_at\":\"2025-10-30T16:53:10.517490Z\", \"pool_id\":\"034a502a-1d52-470d-84bd-4a8edd935ba3\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"NetworkUnavailable\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-wait-test-pool-wait-3e073c76a98f\", \"public_ip_v4\":\"51.158.97.50\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/6ba8f808-ce5f-4e0a-b30e-a83f7f79f945\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 19.400762ms
[...]
- id: 217
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b0c262ac-e3c4-4a41-9b7c-fac43b180e81
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"b0c262ac-e3c4-4a41-9b7c-fac43b180e81\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 19.281267ms
[...]
- id: 280
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5114e066-aa93-4560-9be0-5ae445715a75?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"5114e066-aa93-4560-9be0-5ae445715a75\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:49:01.607119Z\", \"updated_at\":\"2025-10-30T16:59:57.587481Z\", \"type[...]
[...]
