---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.33.4","name":"1.33.4","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSi[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"c47ca146-2adf-4d96-aaf8-9d93b3143424","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/c47ca146-2adf-4d96-aaf8-9d93b3143424
        status: 201 Created
        code: 201
        duration: 211.855959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/c47ca146-2adf-4d96-aaf8-9d93b3143424
        method: GET
      response:
        body: '{"placement_group":{"id":"c47ca146-2adf-4d96-aaf8-9d93b3143424","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.842375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-29T12:43:35.532597Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b06e6283-18ed-48f2-8a82-617eb19d927b","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-29T12:43:35.532597Z","id":"129976ac-0a1b-4817-874b-ff2e92359ba0","private_network_id":"b06e6283-18ed-48f2-8a82-617eb19d927b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-29T12:43:35.532597Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-29T12:43:35.532597Z","id":"19167b44-ca10-4664-8216-729c770ad427","private_network_id":"b06e6283-18ed-48f2-8a82-617eb19d927b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:adc::/64","updated_at":"2025-09-29T12:43:35.532597Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-29T12:43:35.532597Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 639.393625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b06e6283-18ed-48f2-8a82-617eb19d927b
        method: GET
      response:
        body: '{"created_at":"2025-09-29T12:43:35.532597Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b06e6283-18ed-48f2-8a82-617eb19d927b","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-29T12:43:35.532597Z","id":"129976ac-0a1b-4817-874b-ff2e92359ba0","private_network_id":"b06e6283-18ed-48f2-8a82-617eb19d927b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.124.0/22","updated_at":"2025-09-29T12:43:35.532597Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-29T12:43:35.532597Z","id":"19167b44-ca10-4664-8216-729c770ad427","private_network_id":"b06e6283-18ed-48f2-8a82-617eb19d927b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:adc::/64","updated_at":"2025-09-29T12:43:35.532597Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-29T12:43:35.532597Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.392167ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.33.4","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"b06e6283-18ed-48f2-8a82-617eb19d927b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-09-29T12:43:36.740979Z","created_at":"2025-09-29T12:43:36.740971Z","description":"","dns_wildcard":"*.304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88","name":"test-pool-placement-group","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"","private_network_id":"b06e6283-18ed-48f2-8a82-617eb19d927b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"","service_dns_ip":"","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2025-09-29T12:43:36.740971Z","upgrade_available":false,"version":"1.33.4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 665.049458ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.220833ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFYTNsUFJFVjVUa1JOZWs0eGIxaEVWRTB4VFVScmVVOUVSWGxPUkUxNlRqRnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"c47ca146-2adf-4d96-aaf8-9d93b3143424","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88","container_runtime":"containerd","created_at":"2025-09-29T12:43:42.521377Z","id":"389d8fee-f635-4a9f-8f9f-fad52c4dfabe","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":"c47ca146-2adf-4d96-aaf8-9d93b3143424","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"bd9514f6-cbb1-490c-92aa-4a705500c5d4","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-29T12:43:42.521377Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.382ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/389d8fee-f635-4a9f-8f9f-fad52c4dfabe
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88","container_runtime":"containerd","created_at":"2025-09-29T12:43:42.521377Z","id":"389d8fee-f635-4a9f-8f9f-fad52c4dfabe","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":"c47ca146-2adf-4d96-aaf8-9d93b3143424","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"bd9514f6-cbb1-490c-92aa-4a705500c5d4","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-29T12:43:42.521377Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.822ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88/nodes?order_by=created_at_asc&page=1&pool_id=389d8fee-f635-4a9f-8f9f-fad52c4dfabe&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-29T12:46:48.348252Z","error_message":"","id":"4f2391f1-7f2b-42d4-9184-5ba0081b9495","name":"scw-test-pool-placeme-test-pool-placeme-4f2391","pool_id":"389d8fee-f635-4a9f-8f9f-fad52c4dfabe","provider_id":"scaleway://instance/fr-par-1/b1057342-aa83-46f1-a389-203c6cf78083","public_ip_v4":"51.15.230.164","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-29T12:47:33.819309Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.235208ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-placeme-test-pool-placeme-4f2391&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:adc:e743:2a21:f62f:9774/64","created_at":"2025-09-29T12:46:52.301417Z","id":"c5db4d31-7273-4037-99df-910aa4651e84","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"e4ddc9c2-1f9d-4550-a592-083d53e5327e","mac_address":"02:00:00:19:1D:4E","name":"scw-test-pool-placeme-test-pool-placeme-4f2391","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"19167b44-ca10-4664-8216-729c770ad427"},"tags":[],"updated_at":"2025-09-29T12:46:52.301417Z","zone":null},{"address":"172.17.124.3/22","created_at":"2025-09-29T12:46:52.107896Z","id":"1a59dd6b-39bb-4c7b-a10a-20d99d4e9e72","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"e4ddc9c2-1f9d-4550-a592-083d53e5327e","mac_address":"02:00:00:19:1D:4E","name":"scw-test-pool-placeme-test-pool-placeme-4f2391","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"129976ac-0a1b-4817-874b-ff2e92359ba0"},"tags":[],"updated_at":"2025-09-29T12:46:52.107896Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.358083ms
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/389d8fee-f635-4a9f-8f9f-fad52c4dfabe
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"389d8fee-f635-4a9f-8f9f-fad52c4dfabe","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 133.963375ms
[...]
    - id: 118
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/304cedaa-e4fd-4785-9fe5-2ec3ee2f1a88?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 120
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"bd6eed37-b56d-4d7d-8eb1-135e611e9131","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/bd6eed37-b56d-4d7d-8eb1-135e611e9131
        status: 201 Created
        code: 201
        duration: 462.0165ms
    - id: 121
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/bd6eed37-b56d-4d7d-8eb1-135e611e9131
        method: GET
      response:
        body: '{"placement_group":{"id":"bd6eed37-b56d-4d7d-8eb1-135e611e9131","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.063542ms
[...]
    - id: 126
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-quirky-brown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-29T12:53:30.046313Z","custom_routes_propagation_enabled":true,"id":"722e84f5-2588-45d2-9e78-3655a1f6e7d9","is_default":false,"name":"tf-vpc-quirky-brown","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-09-29T12:53:30.046313Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.748083ms
    - id: 127
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/722e84f5-2588-45d2-9e78-3655a1f6e7d9
        method: GET
      response:
        body: '{"created_at":"2025-09-29T12:53:30.046313Z","custom_routes_propagation_enabled":true,"id":"722e84f5-2588-45d2-9e78-3655a1f6e7d9","is_default":false,"name":"tf-vpc-quirky-brown","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-09-29T12:53:30.046313Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.553917ms
    - id: 128
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"722e84f5-2588-45d2-9e78-3655a1f6e7d9","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        bod[...]
    - id: 129
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/5041a076-106c-442d-a1be-15ec2e9628ca
        method: GET
      response:
        body: '{"created_at":"2025-09-29T12:53:30.363611Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5041a076-106c-442d-a1be-15ec2e9628ca","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-09-29T12:53:30.363611Z","id":"0985d052-f8fd-4e16-a4a1-f2a8605480d7","private_network_id":"5041a076-106c-442d-a1be-15ec2e9628ca","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-09-29T12:53:30.363611Z","vpc_id":"722e84f5-2588-45d2-9e78-3655a1f6e7d9"},{"created_at":"2025-09-29T12:53:30.363611Z","id":"f57e031c-6db2-4dd8-b2b4-07540ea97430","private_network_id":"5041a076-106c-442d-a1be-15ec2e9628ca","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:9fe5::/64","updated_at":"2025-09-29T12:53:30.363611Z","vpc_id":"722e84f5-2588-45d2-9e78-3655a1f6e7d9"}],"tags":[],"updated_at":"2025-09-29T12:53:30.363611Z","vpc_id":"722e84f5-2588-45d2-9e78-3655a1f6e7d9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.180625ms
    - id: 130
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.33.4","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 131
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/da2a3d3a-568f-4498-b9da-69d5d29315d9
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpackin[...]
[...]
    - id: 133
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/da2a3d3a-568f-4498-b9da-69d5d29315d9/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.414667ms
[...]
    - id: 135
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/da2a3d3a-568f-4498-b9da-69d5d29315d9/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 137
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"bd6eed37-b56d-4d7d-8eb1-135e611e9131","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - ap[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/14a34fe8-a3d3-4f71-a587-144fbf74177f
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"da2a3d3a-568f-4498-b9da-69d5d29315d9","container_runtime":"containerd","created_at":"2025-09-29T12:53:37.191255Z","id":"14a34fe8-a3d3-4f71-a587-144fbf74177f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":"bd6eed37-b56d-4d7d-8eb1-135e611e9131","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"e82c264b-3665-4570-9ed4-b8c551f909f1","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-29T12:53:37.191255Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.33.4","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.724834ms
[...]
    - id: 166
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/da2a3d3a-568f-4498-b9da-69d5d29315d9/nodes?order_by=created_at_asc&page=1&pool_id=14a34fe8-a3d3-4f71-a587-144fbf74177f&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"da2a3d3a-568f-4498-b9da-69d5d29315d9","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-29T12:55:14.719222Z","error_message":"","id":"5021b9c5-41e6-4927-8e52-614f12894d23","name":"scw-test-pool-placeme-test-pool-placeme-5021b9","pool_id":"14a34fe8-a3d3-4f71-a587-144fbf74177f","provider_id":"scaleway://instance/nl-ams-2/a40898ba-f45e-4a35-acff-83a4bd14e3fa","public_ip_v4":"51.158.232.111","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2025-09-29T12:55:52.894328Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.401667ms
[...]
    - id: 168
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-placeme-test-pool-placeme-5021b9&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5c:d510:d730:9fe5:652c:d696:4949:6291/64","created_at":"2025-09-29T12:55:19.740534Z","id":[...]
[...]
    - id: 185
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/da2a3d3a-568f-4498-b9da-69d5d29315d9/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_etcd_size":55000000,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
[...]
