---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"testAccCheckK8SPoolConfigUpgradePolicy\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"dd5d440a-1d83-4da9-8b96-a00117e9e556\", \"name\":\"testAccCheckK8SPoolConfigUpgradePolicy\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.164975Z\", \"updated_at\":\"2025-10-30T16:18:17.164975Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.785035ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/dd5d440a-1d83-4da9-8b96-a00117e9e556
    method: GET
  response:
    body: "{\"id\":\"dd5d440a-1d83-4da9-8b96-a00117e9e556\", \"name\":\"testAccCheckK8SPoolConfigUpgradePolicy\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.164975Z\", \"updated_at\":\"2025-10-30T16:18:17.164975Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.025646ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-upgrade-policy\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"dd5d440a-1d83-4da9-8b96-a00117e9e556\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"74a6a859-c6bc-4b60-8958-25ff1bbd8455\", \"name\":\"test-pool-upgrade-policy\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.477653Z\", \"updated_at\":\"2025-10-30T16:18:17.477653Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"cef98600-43da-45c1-86ef-bf950d181fe4\", \"created_at\":\"2025-10-30T16:18:17.477653Z\", \"updated_at\":\"2025-10-30T16:18:17.477653Z\", \"subnet\":\"172.18.40.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"74a6a859-c6bc-4b60-8958-25ff1bbd8455\", \"vpc_id\":\"dd5d440a-1d83-4da9-8b96-a00117e9e556\"}, {\"id\":\"5e346ce9-89d2-4840-b81c-91fdb41de63e\", \"created_at\":\"2025-10-30T16:18:17.477653Z\", \"updated_at\":\"2025-10-30T16:18:17.477653Z\", \"subnet\":\"fd5f:519c:6d46:729e::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"74a6a859-c6bc-4b60-8958-25ff1bbd8455\", \"vpc_id\":\"dd5d440a-1d83-4da9-8b96-a00117e9e556\"}], \"vpc_id\":\"dd5d440a-1d83-4da9-8b96-a00117e9e556\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 991.542927ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/74a6a859-c6bc-4b60-8958-25ff1bbd8455
    method: GET
  response:
    body: "{\"id\":\"74a6a859-c6bc-4b60-8958-25ff1bbd8455\", \"name\":\"test-pool-upgrade-policy\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.477653Z\", \"updated_at\":\"2025-10-30T16:18:17.477653Z\", \"project_id\":\"105bdce1-64c0-4[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-upgrade-policy\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"upgrade_policy\"],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"74a6a859-c6bc-4b60-8958-25ff1bbd8455\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"93dac97a-3326-46c7-9fd2-048a92c9ded6\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:18.600925Z\", \"updated_at\":\"2025-10-30T16:18:18.600925Z\", \"type\":\"kapsule\", \"name\":\"test-pool-upgrade-policy\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"upgrade_policy\"], \"cluster_url\":\"https://93dac97a-3326-46c7-9fd2-048a92c9ded6.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.93dac97a-3326-46c7-9fd2-048a92c9ded6.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"74a6a859-c6bc-4b60-8958-25ff1bbd8455\", \"commitment_ends_at\":\"2025-10-30T16:18:18.600935Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 256.981255ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/93dac97a-3326-46c7-9fd2-048a92c9ded6
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"93dac97a-3326-46c7-9fd2-048a92c9ded6\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:18.600925Z\", \"updated_at\":\"2025-10-30T16:18:18.600925Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/93dac97a-3326-46c7-9fd2-048a92c9ded6/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.384661ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/93dac97a-3326-46c7-9fd2-048a92c9ded6/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpZUkVORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSQmVVOVVSVEpOVkdkNFQwWnZXRVJVVFRGTlZFRjVUMVJGTWsxVVozaFBSbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRU[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-upgrade-policy\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"upgrade_policy\"],\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":3,\"max_surge\":2},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/93dac97a-3326-46c7-9fd2-048a92c9ded6/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"77e85934-bc25-40eb-82a3-c9be33dbfebc\", \"cluster_id\":\"93dac97a-3326-46c7-9fd2-048a92c9ded6\", \"created_at\":\"2025-10-30T16:18:24.093162Z\", \"updated_at\":\"2025-10-30T16:18:24.093162Z\", \"name\":\"test-pool-upgrade-policy\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"upgrade_policy\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":3, \"max_surge\":2}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 139.995946ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/77e85934-bc25-40eb-82a3-c9be33dbfebc
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"77e85934-bc25-40eb-82a3-c9be33dbfebc\", \"cluster_id\":\"93dac97a-3326-46c7-9fd2-048a92c9ded6\", \"created_at\":\"2025-10-30T16:18:24.093162Z\", \"updated_at\":\"2025-10-30T16:18:24.093162Z\", \"name\":\"test-pool-upgrade-policy\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"upgrade_policy\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":3, \"max_surge\":2}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.60179ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 77e85934-bc25-40eb-82a3-c9be33dbfebc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/93dac97a-3326-46c7-9fd2-048a92c9ded6/nodes?order_by=created_at_asc&page=1&pool_id=77e85934-bc25-40eb-82a3-c9be33dbfebc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"ee4b8845-54d5-4d1d-90f9-21fc2cf08ad3\", \"cluster_id\":\"93dac97a-3326-46c7-9fd2-048a92c9ded6\", \"created_at\":\"2025-10-30T16:27:58.467151Z\", \"updated_at\":\"2025-10-30T16:29:06.843774Z\", \"pool_id\":\"77e85934-bc25-40eb-82a3-c9be33dbfebc\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-upgrade-test-pool-upgrade-ee4b88\", \"public_ip_v4\":\"163.172.149.221\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/f1165d08-4196-46ba-aacf-b7ff44270653\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.02073ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-upgrade-test-pool-upgrade-ee4b88
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-upgrade-test-pool-upgrade-ee4b88&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"b26f0305-dbed-443b-8ef7-38d6bdb3970b\", \"address\":\"fd5f:519c:6d46:729e:9c83:ac54:b58d:6d88/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:28:02.283024Z\", \"updated_at\":\"2025-10-30T16:28:02.283024Z\", \"source\":{\"subnet_id\":\"5e346ce9-89d2-4840-b81c-91fdb41de63e\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"ab2031e3-c16a-419b-a37b-789be329a6d0\", \"mac_address\":\"02:00:00:1A:5F:6B\", \"name\":\"scw-test-pool-upgrade-test-pool-upgrade-ee4b88\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"69f40e88-11ea-40ff-b77b-95c398b5b3e0\", \"address\":\"172.18.40.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:28:02.137809Z\", \"updated_at\":\"2025-10-30T16:28:02.137809Z\", \"source\":{\"subnet_id\":\"cef98600-43da-45c1-86ef-bf950d181fe4\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"ab2031e3-c16a-419b-a37b-789be329a6d0\", \"mac_address\":\"02:00:00:1A:5F:6B\", \"name\":\"scw-test-pool-upgrade-test-pool-upgrade-ee4b88\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 47.51647ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 77e85934-bc25-40eb-82a3-c9be33dbfebc
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/93dac97a-3326-46c7-9fd2-048a92c9ded6/nodes?order_by=created_at_asc&page=1&pool_id=77e85934-bc25-40eb-82a3-c9be33dbfebc&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"ee4b8845-54d5-4d1d-90f9-21fc2cf08ad3\", \"cluster_id\":\"93dac97a-3326-46c7-9fd2-048a92c9ded6\", \"created_at\":\"2025-10-30T16:27:58.467151Z\", \"updated_at\":\"2025-10-30T16:29:13.442850Z\", \"pool_id\":\"77e85934-bc25-40eb-82a3-c9be33dbfebc\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"NetworkUnavailable\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-upgrade-test-pool-upgrade-ee4b88\", \"public_ip_v4\":\"163.172.149.221\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/f1165d08-4196-46ba-aacf-b7ff44270653\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.762761ms
[...]
- id: 56
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/77e85934-bc25-40eb-82a3-c9be33dbfebc
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"77e85934-bc25-40eb-82a3-c9be33dbfebc\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.402545ms
- id: 57
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/93dac97a-3326-46c7-9fd2-048a92c9ded6?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"93dac97a-3326-46c7-9fd2-048a92c9ded6\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:18.600925Z\", \"updated_at\":\"2025-10-30T16:31:26.810497Z\", \"type[...]
[...]
