---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"f9aa0f1c-13b5-48be-88a9-bd913c38e57e","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/f9aa0f1c-13b5-48be-88a9-bd913c38e57e
        status: 201 Created
        code: 201
        duration: 329.819458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/f9aa0f1c-13b5-48be-88a9-bd913c38e57e
        method: GET
      response:
        body: '{"placement_group":{"id":"f9aa0f1c-13b5-48be-88a9-bd913c38e57e","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.953209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:23.783457Z","dhcp_enabled":true,"id":"b538775a-0d53-41e6-a986-40c2601c6236","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:23.783457Z","id":"dcf2bc8e-9fff-4298-88ad-6fe463fdc4b1","private_network_id":"b538775a-0d53-41e6-a986-40c2601c6236","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.120.0/22","updated_at":"2025-01-24T14:47:23.783457Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:23.783457Z","id":"99679f56-97c3-4d4a-93e2-3cc597014da6","private_network_id":"b538775a-0d53-41e6-a986-40c2601c6236","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:235f::/64","updated_at":"2025-01-24T14:47:23.783457Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:23.783457Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 767.0695ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b538775a-0d53-41e6-a986-40c2601c6236
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:23.783457Z","dhcp_enabled":true,"id":"b538775a-0d53-41e6-a986-40c2601c6236","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:23.783457Z","id":"dcf2bc8e-9fff-4298-88ad-6fe463fdc4b1","private_network_id":"b538775a-0d53-41e6-a986-40c2601c6236","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.120.0/22","updated_at":"2025-01-24T14:47:23.783457Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:23.783457Z","id":"99679f56-97c3-4d4a-93e2-3cc597014da6","private_network_id":"b538775a-0d53-41e6-a986-40c2601c6236","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:235f::/64","updated_at":"2025-01-24T14:47:23.783457Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:23.783457Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.863916ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.31.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"b538775a-0d53-41e6-a986-40c2601c6236"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://32aa1d1b-5c64-476f-98ec-3e4c7f87779d.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-01-24T14:47:24.904916Z","created_at":"2025-01-24T14:47:24.904904Z","description":"","dns_wildcard":"*.32aa1d1b-5c64-476f-98ec-3e4c7f87779d.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"32aa1d1b-5c64-476f-98ec-3e4c7f87779d","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"b538775a-0d53-41e6-a986-40c2601c6236","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2025-01-24T14:47:24.904904Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 413.935166ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/32aa1d1b-5c64-476f-98ec-3e4c7f87779d
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/32aa1d1b-5c64-476f-98ec-3e4c7f87779d/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.729667ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/32aa1d1b-5c64-476f-98ec-3e4c7f87779d/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFUlhsTmVrVXdUa1JqZVU1c2IxaEVWRTB4VFVSRmVVMTZSVEJPUkdONVRteHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"f9aa0f1c-13b5-48be-88a9-bd913c38e57e","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/32aa1d1b-5c64-476f-98ec-3e4c7f87779d/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"32aa1d1b-5c64-476f-98ec-3e4c7f87779d","container_runtime":"containerd","created_at":"2025-01-24T14:47:30.790812Z","id":"0b6db721-5f41-49ec-b294-002495578bff","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"f9aa0f1c-13b5-48be-88a9-bd913c38e57e","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:47:30.790812Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 462.618834ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0b6db721-5f41-49ec-b294-002495578bff
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"32aa1d1b-5c64-476f-98ec-3e4c7f87779d","container_runtime":"containerd","created_at":"2025-01-24T14:47:30.790812Z","id":"0b6db721-5f41-49ec-b294-002495578bff","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"f9aa0f1c-13b5-48be-88a9-bd913c38e57e","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:47:30.790812Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.512083ms
[...]
    - id: 123
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/32aa1d1b-5c64-476f-98ec-3e4c7f87779d/nodes?order_by=created_at_asc&page=1&pool_id=0b6db721-5f41-49ec-b294-002495578bff&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"32aa1d1b-5c64-476f-98ec-3e4c7f87779d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:52:57.076701Z","error_message":"","id":"15c1db6a-9b39-4390-b532-65debd1e4add","name":"scw-test-pool-placeme-test-pool-placeme-15c1db","pool_id":"0b6db721-5f41-49ec-b294-002495578bff","provider_id":"scaleway://instance/fr-par-1/61846f5f-d0e0-4755-b5e5-0b242d27b810","public_ip_v4":"163.172.145.106","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:56:32.471417Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.234334ms
[...]
    - id: 190
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0b6db721-5f41-49ec-b294-002495578bff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"0b6db721-5f41-49ec-b294-002495578bff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.143416ms
    - id: 191
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/32aa1d1b-5c64-476f-98ec-3e4c7f87779d?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
    - id: 194
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"f3423e6c-62ad-466f-bf56-90e9a4b06d88","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f3423e6c-62ad-466f-bf56-90e9a4b06d88
        status: 201 Created
        code: 201
        duration: 231.953459ms
    - id: 195
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f3423e6c-62ad-466f-bf56-90e9a4b06d88
        method: GET
      response:
        body: '{"placement_group":{"id":"f3423e6c-62ad-466f-bf56-90e9a4b06d88","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.422792ms
[...]
    - id: 199
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:01:09.133892Z","dhcp_enabled":true,"id":"1396a292-b170-49[...]
    - id: 200
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/1396a292-b170-4975-8da4-639a0817ccbd
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:01:09.133892Z","dhcp_enabled":true,"id":"1396a292-b170-4975-8da4-639a0817ccbd","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-01-24T15:01:09.133892Z","id":"5e28b5b3-9210-440f-bdbe-3d13248a50e1","private_network_id":"1396a292-b170-4975-8da4-639a0817ccbd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T15:01:09.133892Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"},{"created_at":"2025-01-24T15:01:09.133892Z","id":"6d16796b-f78c-4f71-9495-5685f10c6b99","private_network_id":"1396a292-b170-4975-8da4-639a0817ccbd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:c52d::/64","updated_at":"2025-01-24T15:01:09.133892Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}],"tags":[],"updated_at":"2025-01-24T15:01:09.133892Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.445541ms
    - id: 201
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.31.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 202
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5b43f136-b0c3-42c7-9b64-763ca6286b2d
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacki[...]
[...]
    - id: 204
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5b43f136-b0c3-42c7-9b64-763ca6286b2d/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.166417ms
[...]
    - id: 206
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5b43f136-b0c3-42c7-9b64-763ca6286b2d/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 208
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"f3423e6c-62ad-466f-bf56-90e9a4b06d88","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5b43f136-b0c3-42c7-9b64-763ca6286b2d/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"5b43f136-b0c3-42c7-9b64-763ca6286b2d","container_runtime":"containerd","created_at":"2025-01-24T15:01:16.161504Z","id":"6033d250-25e8-4ba3-a263-ee769e225a8c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"f3423e6c-62ad-466f-bf56-90e9a4b06d88","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T15:01:16.161504Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 422.341667ms
    - id: 209
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/6033d250-25e8-4ba3-a263-ee769e225a8c
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"5b43f136-b0c3-42c7-9b64-763ca6286b2d","container_runtime":"containerd","created_at":"2025-01-24T15:01:16.161504Z","id":"6033d250-25e8-4ba3-a263-ee769e225a8c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"f3423e6c-62ad-466f-bf56-90e9a4b06d88","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T15:01:16.161504Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.639417ms
[...]
    - id: 294
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5b43f136-b0c3-42c7-9b64-763ca6286b2d/nodes?order_by=created_at_asc&page=1&pool_id=6033d250-25e8-4ba3-a263-ee769e225a8c&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"5b43f136-b0c3-42c7-9b64-763ca6286b2d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T15:04:34.380165Z","error_message":"","id":"51508164-85ed-4109-92ee-a3e75be6f048","name":"scw-test-pool-placeme-test-pool-placeme-515081","pool_id":"6033d250-25e8-4ba3-a263-ee769e225a8c","provider_id":"scaleway://instance/nl-ams-2/bc075c23-2c50-447b-94d6-109e38312e1e","public_ip_v4":"51.158.241.17","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2025-01-24T15:08:10.337106Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.399542ms
[...]
    - id: 307
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5b43f136-b0c3-42c7-9b64-763ca6286b2d/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_etcd_size":55000000,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":true,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_etcd_size":200000000,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.200833ms
[...]
    - id: 339
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5b43f136-b0c3-42c7-9b64-763ca6286b2d?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
