---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-condescending-wu","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:21:45.924758Z","custom_routes_propagation_enabled":true,"id":"7eea8c01-3d8a-4836-9093-d933c75715dc","is_default":false,"name":"tf-vpc-condescending-wu","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:21:45.924758Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.909292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7eea8c01-3d8a-4836-9093-d933c75715dc
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:21:45.924758Z","custom_routes_propagation_enabled":true,"id":"7eea8c01-3d8a-4836-9093-d933c75715dc","is_default":false,"name":"tf-vpc-condescending-wu","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:21:45.924758Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.164875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-size","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"7eea8c01-3d8a-4836-9093-d933c75715dc","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:21:46.031330Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:21:46.031330Z","id":"d6c6bab3-4b55-40c7-9a9f-d758709635df","private_network_id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.172.0/22","updated_at":"2025-09-30T09:21:46.031330Z","vpc_id":"7eea8c01-3d8a-4836-9093-d933c75715dc"},{"created_at":"2025-09-30T09:21:46.031330Z","id":"8261f69c-c66d-4960-bea7-8afa34f6b466","private_network_id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:dc1e::/64","updated_at":"2025-09-30T09:21:46.031330Z","vpc_id":"7eea8c01-3d8a-4836-9093-d933c75715dc"}],"tags":[],"updated_at":"2025-09-30T09:21:46.031330Z","vpc_id":"7eea8c01-3d8a-4836-9093-d933c75715dc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 610.813708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9d21ef8a-fa30-435b-a864-8cb5abf78ecb
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:21:46.031330Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:21:46.031330Z","id":"d6c6bab3-4b55-40c7-9a9f-d758709635df","private_network_id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.172.0/22","updated_at":"2025-09-30T09:21:46.031330Z","vpc_id":"7eea8c01-3d8a-4836-9093-d933c75715dc"},{"created_at":"2025-09-30T09:21:46.031330Z","id":"8261f69c-c66d-4960-bea7-8afa34f6b466","private_network_id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:dc1e::/64","updated_at":"2025-09-30T09:21:46.031330Z","vpc_id":"7eea8c01-3d8a-4836-9093-d933c75715dc"}],"tags":[],"updated_at":"2025-09-30T09:21:46.031330Z","vpc_id":"7eea8c01-3d8a-4836-9093-d933c75715dc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.821084ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-size","description":"","tags":[],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://135cebc6-501d-430e-82ef-2901f3c6b668.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T09:21:46.978752Z","created_at":"2025-09-30T09:21:46.978744Z","description":"","dns_wildcard":"*.135cebc6-501d-430e-82ef-2901f3c6b668.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"135cebc6-501d-430e-82ef-2901f3c6b668","name":"test-pool-size","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"9d21ef8a-fa30-435b-a864-8cb5abf78ecb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":[],"type":"kapsule","updated_at":"2025-09-30T09:21:46.978745Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.72425ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/135cebc6-501d-430e-82ef-2901f3c6b668
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacki[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/135cebc6-501d-430e-82ef-2901f3c6b668/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.801958ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/135cebc6-501d-430e-82ef-2901f3c6b668/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSllSRU5EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVVJyZVU5VVFUVk5ha1V3VGpGdldFUlVUVEZOUkd0NVQxUkJOVTFxUlRCT01XOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDUVhwWFk[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"pool","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/135cebc6-501d-430e-82ef-2901f3c6b668/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"135cebc6-501d-430e-82ef-2901f3c6b668","container_runtime":"containerd","created_at":"2025-09-30T09:21:52.709582Z","id":"dac6530b-857b-443c-ac43-ca9855ad024f","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:21:52.709582Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.808083ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/dac6530b-857b-443c-ac43-ca9855ad024f
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"135cebc6-501d-430e-82ef-2901f3c6b668","container_runtime":"containerd","created_at":"2025-09-30T09:21:52.709582Z","id":"dac6530b-857b-443c-ac43-ca9855ad024f","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:21:52.709582Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.976083ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/135cebc6-501d-430e-82ef-2901f3c6b668/nodes?order_by=created_at_asc&page=1&pool_id=dac6530b-857b-443c-ac43-ca9855ad024f&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"135cebc6-501d-430e-82ef-2901f3c6b668","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:25:20.842726Z","error_message":"","id":"7cb91f4d-3884-4987-bf4d-c1efd9892f61","name":"scw-test-pool-size-pool-7cb91f4d38844987bf4dc1","pool_id":"dac6530b-857b-443c-ac43-ca9855ad024f","provider_id":"scaleway://instance/fr-par-1/260c0836-fcea-40a7-9cad-1b31ca9991dd","public_ip_v4":"212.47.234.198","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:26:22.451896Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.499209ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-size-pool-7cb91f4d38844987bf4dc1&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:dc1e:e379:92aa:e996:89f0/64","created_at":"2025-09-30T09:25:25.479Z","id":"42568659-58ec-43b4-aa13-3356cda04b37","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"cf49bbbd-7750-4148-a9c2-320004a032a4","mac_address":"02:00:00:1E:AD:01","name":"scw-test-pool-size-pool-7cb91f4d38844987bf4dc1","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"8261f69c-c66d-4960-bea7-8afa34f6b466"},"tags":[],"updated_at":"2025-09-30T09:25:25.479Z","zone":null},{"address":"172.17.172.3/22","created_at":"2025-09-30T09:25:25.338984Z","id":"6296fb8f-7263-4c82-8eed-bffda0c9df7d","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"cf49bbbd-7750-4148-a9c2-320004a032a4","mac_address":"02:00:00:1E:AD:01","name":"scw-test-pool-size-pool-7cb91f4d38844987bf4dc1","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"d6c6bab3-4b55-40c7-9a9f-d758709635df"},"tags":[],"updated_at":"2025-09-30T09:25:25.338984Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.762625ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/dac6530b-857b-443c-ac43-ca9855ad024f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"dac6530b-857b-443c-ac43-ca9855ad024f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.486458ms
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/135cebc6-501d-430e-82ef-2901f3c6b668?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node[...]
[...]
