---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-sad-dewdney\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"3e2453e5-8d39-4842-920a-480ff1be2078\", \"name\":\"tf-vpc-sad-dewdney\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.246369Z\", \"updated_at\":\"2025-10-30T16:18:17.246369Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 204.078737ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3e2453e5-8d39-4842-920a-480ff1be2078
    method: GET
  response:
    body: "{\"id\":\"3e2453e5-8d39-4842-920a-480ff1be2078\", \"name\":\"tf-vpc-sad-dewdney\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.246369Z\", \"updated_at\":\"2025-10-30T16:18:17.246369Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.76685ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-k8s-public-ip\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"3e2453e5-8d39-4842-920a-480ff1be2078\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"name\":\"test-k8s-public-ip\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.970395Z\", \"updated_at\":\"2025-10-30T16:18:17.970395Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"af2c5aa2-55c5-4e53-a1e5-91f9a8103b6f\", \"created_at\":\"2025-10-30T16:18:17.970395Z\", \"updated_at\":\"2025-10-30T16:18:17.970395Z\", \"subnet\":\"172.18.44.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"vpc_id\":\"3e2453e5-8d39-4842-920a-480ff1be2078\"}, {\"id\":\"7adff8c4-babb-4a82-8d99-2372f50ef5d3\", \"created_at\":\"2025-10-30T16:18:17.970395Z\", \"updated_at\":\"2025-10-30T16:18:17.970395Z\", \"subnet\":\"fd5f:519c:6d46:99a::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"vpc_id\":\"3e2453e5-8d39-4842-920a-480ff1be2078\"}], \"vpc_id\":\"3e2453e5-8d39-4842-920a-480ff1be2078\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.324286383s
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3b0ad589-f167-4c39-a0fe-af124411f0c6
    method: GET
  response:
    body: "{\"id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"name\":\"test-k8s-public-ip\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:17.970395Z\", \"updated_at\":\"2025-10-30T16:18:17.970395Z\", \"project_id\":\"105bdce1-64c0-48ab-89[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-k8s-public-ip\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"public_ip\"],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"f5839d47-dfad-407f-b09b-089476114f21\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:19.128996Z\", \"updated_at\":\"2025-10-30T16:18:19.128997Z\", \"type\":\"kapsule\", \"name\":\"test-k8s-public-ip\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"public_ip\"], \"cluster_url\":\"https://f5839d47-dfad-407f-b09b-089476114f21.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.f5839d47-dfad-407f-b09b-089476114f21.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"commitment_ends_at\":\"2025-10-30T16:18:19.129003Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 443.791241ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f5839d47-dfad-407f-b09b-089476114f21
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"f5839d47-dfad-407f-b09b-089476114f21\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:19.128996Z\", \"updated_at\":\"2025-10-30T16:18:19.128997Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f5839d47-dfad-407f-b09b-089476114f21/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 21.606371ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f5839d47-dfad-407f-b09b-089476114f21/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt4VFZSQmVVOVVSVEpOVkdkNFQxWnZXRVJVVFRGTlZFRjVUMVJGTWsxVVozaFBWbTkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV3U1VGQ1[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-k8s-public-ip\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f5839d47-dfad-407f-b09b-089476114f21/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"a0939e15-9220-4497-95fa-e799c0cd7b3c\", \"cluster_id\":\"f5839d47-dfad-407f-b09b-089476114f21\", \"created_at\":\"2025-10-30T16:18:24.676140Z\", \"updated_at\":\"2025-10-30T16:18:24.676140Z\", \"name\":\"test-k8s-public-ip\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.683244ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a0939e15-9220-4497-95fa-e799c0cd7b3c
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"a0939e15-9220-4497-95fa-e799c0cd7b3c\", \"cluster_id\":\"f5839d47-dfad-407f-b09b-089476114f21\", \"created_at\":\"2025-10-30T16:18:24.676140Z\", \"updated_at\":\"2025-10-30T16:18:24.676140Z\", \"name\":\"test-k8s-public-ip\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":false, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-1\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"4ef16f7a-478c-4b72-b932-982f4b04974b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 40.997845ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - a0939e15-9220-4497-95fa-e799c0cd7b3c
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f5839d47-dfad-407f-b09b-089476114f21/nodes?order_by=created_at_asc&page=1&pool_id=a0939e15-9220-4497-95fa-e799c0cd7b3c&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"c1062fff-3cc6-4c64-8037-138eb644b773\", \"cluster_id\":\"f5839d47-dfad-407f-b09b-089476114f21\", \"created_at\":\"2025-10-30T16:28:09.097801Z\", \"updated_at\":\"2025-10-30T16:29:20.638599Z\", \"pool_id\":\"a0939e15-9220-4497-95fa-e799c0cd7b3c\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-k8s-public-i-test-k8s-public-i-c1062f\", \"public_ip_v4\":\"51.158.76.222\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/87a442c4-5537-432c-ae3b-f67eb8ae4d2e\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.612226ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-k8s-public-i-test-k8s-public-i-c1062f
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-k8s-public-i-test-k8s-public-i-c1062f&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"71c3829a-3168-4b5d-b8b5-a200e6185a7a\", \"address\":\"fd5f:519c:6d46:99a:5f89:1169:f0f0:c01e/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:28:12.721158Z\", \"updated_at\":\"2025-10-30T16:28:12.721158Z\", \"source\":{\"subnet_id\":\"7adff8c4-babb-4a82-8d99-2372f50ef5d3\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"e490ea7d-a59d-4001-a927-b3a4393cac33\", \"mac_address\":\"02:00:00:19:28:73\", \"name\":\"scw-test-k8s-public-i-test-k8s-public-i-c1062f\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"749692a4-02e5-4a20-8764-1b78515e798a\", \"address\":\"172.18.44.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:28:12.542836Z\", \"updated_at\":\"2025-10-30T16:28:12.542836Z\", \"source\":{\"subnet_id\":\"af2c5aa2-55c5-4e53-a1e5-91f9a8103b6f\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"e490ea7d-a59d-4001-a927-b3a4393cac33\", \"mac_address\":\"02:00:00:19:28:73\", \"name\":\"scw-test-k8s-public-i-test-k8s-public-i-c1062f\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 51.120434ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      pool_id:
      - a0939e15-9220-4497-95fa-e799c0cd7b3c
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f5839d47-dfad-407f-b09b-089476114f21/nodes?order_by=created_at_asc&pool_id=a0939e15-9220-4497-95fa-e799c0cd7b3c&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"c1062fff-3cc6-4c64-8037-138eb644b773\", \"cluster_id\":\"f5839d47-dfad-407f-b09b-089476114f21\", \"created_at\":\"2025-10-30T16:28:09.097801Z\", \"updated_at\":\"2025-10-30T16:29:20.638599Z\", \"pool_id\":\"a0939e15-9220-4497-95fa-e799c0cd7b3c\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-k8s-public-i-test-k8s-public-i-c1062f\", \"public_ip_v4\":\"51.158.76.222\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-1/87a442c4-5537-432c-ae3b-f67eb8ae4d2e\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.658687ms
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/87a442c4-5537-432c-ae3b-f67eb8ae4d2e
    method: GET
  response:
    body: "{\"server\": {\"id\": \"87a442c4-5537-432c-ae3b-f67eb8ae4d2e\", \"name\": \"scw-test-k8s-public-i-test-k8s-public-i-c1062f\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"scw-test-k8s-public-i-test-k8s-public-i-c1062f\", \"image\": {\"id\": \"5b4b5f3f-c2a1-451e-8603-4c0179b4de03\", \"name\": \"k8s_base_node_instance\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"c6b09a14-4a4d-44cd-a772-4f235fef4826\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-10-27T10:01:33.994085+00:00\", \"modification_date\": \"2025-10-27T10:01:33.994085+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": true, \"volume_type\": \"sbs_volume\", \"id\": \"a9862539-ae1c-4beb-9fda-aab1533d0bb2\", \"state\": \"available\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"kapsule=f5839d47-dfad-407f-b09b-089476114f21\", \"pool=a0939e15-9220-4497-95fa-e799c0cd7b3c\", \"pool-name=test-k8s-public-ip\", \"runtime=containerd\", \"managed=true\", \"node=c1062fff-3cc6-4c64-8037-138eb644b773\"], \"state\": \"running\", \"protected\": false, \"state_detail\": \"booting kernel\", \"public_ip\": {\"id\": \"1d2e96c2-a32c-4233-a580-b2f48aea84ec\", \"address\": \"51.158.76.222\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"kapsule=f5839d47-dfad-407f-b09b-089476114f21\", \"node-name=scw-test-k8s-public-i-test-k8s-public-i-c1062f\"], \"state\": \"attached\", \"ipam_id\": \"87c45bbc-0c33-431f-93a1-0ae466a4d82a\"}, \"public_ips\": [{\"id\": \"1d2e96c2-a32c-4233-a580-b2f48aea84ec\", \"address\": \"51.158.76.222\", \"dynamic\": false, \"gateway\": \"62.210.0.1\", \"netmask\": \"32\", \"family\": \"inet\", \"provisioning_mode\": \"dhcp\", \"tags\": [\"kapsule=f5839d47-dfad-407f-b09b-089476114f21\", \"node-name=scw-test-k8s-public-i-test-k8s-public-i-c1062f\"], \"state\": \"attached\", \"ipam_id\": \"87c45bbc-0c33-431f-93a1-0ae466a4d82a\"}, {\"id\": \"00d759df-c6f1-4823-84fa-cb1cd78f9466\", \"address\": \"2001:bc8:710:a9cf:dc00:ff:fed0:7087\", \"dynamic\": false, \"gateway\": \"fe80::dc00:ff:fed0:7088\", \"netmask\": \"64\", \"family\": \"inet6\", \"provisioning_mode\": \"slaac\", \"tags\": [\"kapsule=f5839d47-dfad-407f-b09b-089476114f21\", \"node-name=scw-test-k8s-public-i-test-k8s-public-i-c1062f\"], \"state\": \"attached\", \"ipam_id\": \"755514d6-a077-4ae6-9e4e-e5d3846c92b3\"}], \"mac_address\": \"de:00:00:d0:70:87\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": false, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-10-30T16:28:09.689469+00:00\", \"modification_date\": \"2025-10-30T16:28:14.963070+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"4ef16f7a-478c-4b72-b932-982f4b04974b\", \"name\": \"Kapsule default security group\"}, \"location\": {\"zone_id\": \"fr-par-1\", \"platform_id\": \"14\", \"cluster_id\": \"12\", \"hypervisor_id\": \"901\", \"node_id\": \"28\"}, \"maintenances\": [], \"allowed_actions\": [\"poweroff\", \"terminate\", \"reboot\", \"stop_in_place\", \"backup\"], \"placement_group\": null, \"private_nics\": [{\"id\": \"e490ea7d-a59d-4001-a927-b3a4393cac33\", \"private_network_id\": \"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"server_id\": \"87a442c4-5537-432c-ae3b-f67eb8ae4d2e\", \"mac_address\": \"02:00:00:19:28:73\", \"state\": \"available\", \"creation_date\": \"2025-10-30T16:28:12.305517+00:00\", \"modification_date\": \"2025-10-30T16:28:12.423955+00:00\", \"zone\": \"fr-par-1\", \"tags\": [], \"ipam_ip_ids\": [\"749692a4-02e5-4a20-8764-1b78515e798a\", \"71c3829a-3168-4b5d-b8b5-a200e6185a7a\"]}], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 157.453081ms
[...]
- id: 43
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a0939e15-9220-4497-95fa-e799c0cd7b3c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"a0939e15-9220-4497-95fa-e799c0cd7b3c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.821909ms
- id: 44
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-k8s-public-ip\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:33:44.521117Z\", \"updated_at\":\"2025-10-30T16:33:44.521117Z\", \"type\":\"VPC-GW-S\", \"bandwidth\":100, \"status\":\"allocating\", \"name\":\"test-k8s-public-ip\", \"tags\":[], \"ipv4\":{\"id\":\"1a95086f-202d-44ed-83f2-50a2725deb74\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:33:44.496040Z\", \"updated_at\":\"2025-10-30T16:33:44.496040Z\", \"tags\":[], \"address\":\"51.15.215.84\", \"reverse\":\"84-215-15-51.instances.scw.cloud\", \"gateway_id\":\"4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4\", \"zone\":\"fr-par-1\"}, \"gateway_networks\":[], \"bastion_enabled\":false, \"bastion_port\":61000, \"smtp_enabled\":false, \"is_legacy\":false, \"bastion_allowed_ips\":[\"0.0.0.0/0\"], \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 856.61301ms
- id: 45
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4
    method: GET
  response:
    body: "{\"id\":\"4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:33:44.521117Z\", \"updated_at\":\"2025-10-30T16:33:44.563781Z\", \"type\":\"VPC-GW-S\", \"bandwidth\":100, \"status\":\"allocating\", \"name\":\"test-k8s-public-ip\", \"tags\":[], \"ipv4\":{\"id\":\"1a95086f-202d-44ed-83f2-50a2725deb74\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:33:44.496040Z\", \"updated_at\":\"2025-10-30T16:33:44.496040Z\", \"tags\":[], \"address\":\"51.15.215.84\", \"reverse\":\"84-215-15-51.instances.scw.cloud\", \"gateway_id\":\"4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4\", \"zone\":\"fr-par-1\"}, \"gateway_networks\":[], \"version\":\"0.7.4\", \"bastion_enabled\":false, \"bastion_port\":61000, \"smtp_enabled\":false, \"is_legacy\":false, \"bastion_allowed_ips\":[\"0.0.0.0/0\"], \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.258681ms
[...]
- id: 49
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4\",\"private_network_id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\",\"enable_masquerade\":true,\"push_default_route\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: "{\"id\":\"e3f44092-59f7-4966-9d13-6a31591a18e9\", \"created_at\":\"2025-10-30T16:33:50.125382Z\", \"updated_at\":\"2025-10-30T16:33:50.125382Z\", \"gateway_id\":\"4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4\", \"private_network_id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"masquerade_enabled\":true, \"status\":\"created\", \"push_default_route\":true, \"ipam_ip_id\":\"2282d01d-3705-4eb3-a3c0-6849cd9b9e0b\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 376.887972ms
[...]
- id: 52
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/e3f44092-59f7-4966-9d13-6a31591a18e9
    method: GET
  response:
    body: "{\"id\":\"e3f44092-59f7-4966-9d13-6a31591a18e9\", \"created_at\":\"2025-10-30T16:33:50.125382Z\", \"updated_at\":\"2025-10-30T16:34:00.958302Z\", \"gateway_id\":\"4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4\", \"private_network_id\":\"3b0ad589-f167-4c39-a0fe-af124411f0c6\", \"mac_address\":\"02:00:00:1D:CF:65\", \"masquerade_enabled\":true, \"status\":\"ready\", \"push_default_route\":true, \"ipam_ip_id\":\"2282d01d-3705-4eb3-a3c0-6849cd9b9e0b\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.729746ms
[...]
- id: 55
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 3b0ad589-f167-4c39-a0fe-af124411f0c6
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_id:
      - e3f44092-59f7-4966-9d13-6a31591a18e9
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3b0ad589-f167-4c39-a0fe-af124411f0c6&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=e3f44092-59f7-4966-9d13-6a31591a18e9&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1, \"ips\":[{\"id\":\"2282d01d-3705-4eb3-a3c0-6849cd9b9e0b\", \"address\":\"172.18.44.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:33:50.087880Z\", \"updated_at\":\"2025-10-30T16:33:50.576557Z\", \"source\":{\"subnet_id\":\"af2c5aa2-55c5-4e53-a1e5-91f9a8103b6f\"}, \"resource\":{\"type\":\"vpc_gateway_network\", \"id\":\"e3f44092-59f7-4966-9d13-6a31591a18e9\", \"mac_address\":\"02:00:00:1D:CF:65\", \"name\":\"test-k8s-public-ip\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 43.040199ms
[...]
- id: 85
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f5839d47-dfad-407f-b09b-089476114f21?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"f5839d47-dfad-407f-b09b-089476114f21\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:19.128996Z\", \"updated_at\":\"2025-10-30T16:42:57.444382Z\", \"type[...]
[...]
- id: 93
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4e5fe8f2-7126-4ef0-9da5-64dcbf031bb4?delete_ip=false
    method: DELETE
  response:
[...]
