---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"fcfed0a0-6964-404f-8bee-3f01cc927a2c","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/fcfed0a0-6964-404f-8bee-3f01cc927a2c
        status: 201 Created
        code: 201
        duration: 234.613298ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/fcfed0a0-6964-404f-8bee-3f01cc927a2c
        method: GET
      response:
        body: '{"placement_group":{"id":"fcfed0a0-6964-404f-8bee-3f01cc927a2c","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.831684ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T15:48:03.992314Z","dhcp_enabled":true,"id":"984dc652-e513-49cf-b33f-c290ba0576c3","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:48:03.992314Z","id":"69c318f7-1d92-4086-b282-c2a8b0299254","subnet":"172.17.36.0/22","updated_at":"2024-04-08T15:48:03.992314Z"},{"created_at":"2024-04-08T15:48:03.992314Z","id":"d26e9811-84bd-4f2e-991c-14984b08e852","subnet":"fd5f:519c:6d46:3510::/64","updated_at":"2024-04-08T15:48:03.992314Z"}],"tags":[],"updated_at":"2024-04-08T15:48:03.992314Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 542.240588ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/984dc652-e513-49cf-b33f-c290ba0576c3
        method: GET
      response:
        body: '{"created_at":"2024-04-08T15:48:03.992314Z","dhcp_enabled":true,"id":"984dc652-e513-49cf-b33f-c290ba0576c3","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T15:48:03.992314Z","id":"69c318f7-1d92-4086-b282-c2a8b0299254","subnet":"172.17.36.0/22","updated_at":"2024-04-08T15:48:03.992314Z"},{"created_at":"2024-04-08T15:48:03.992314Z","id":"d26e9811-84bd-4f2e-991c-14984b08e852","subnet":"fd5f:519c:6d46:3510::/64","updated_at":"2024-04-08T15:48:03.992314Z"}],"tags":[],"updated_at":"2024-04-08T15:48:03.992314Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.442072ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"984dc652-e513-49cf-b33f-c290ba0576c3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2ea769bf-155a-49c3-98ea-7457eecf687d.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-04-08T15:48:05.484446818Z","created_at":"2024-04-08T15:48:05.484446818Z","description":"","dns_wildcard":"*.2ea769bf-155a-49c3-98ea-7457eecf687d.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"2ea769bf-155a-49c3-98ea-7457eecf687d","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"984dc652-e513-49cf-b33f-c290ba0576c3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2024-04-08T15:48:05.499101135Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.080940739s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ea769bf-155a-49c3-98ea-7457eecf687d
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ea769bf-155a-49c3-98ea-7457eecf687d/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.340427ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ea769bf-155a-49c3-98ea-7457eecf687d/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFVVhkT2VrVXhUa1JuZDA1c2IxaEVWRTB3VFVSUmQwNTZSVEZPUkdkM1RteHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"fcfed0a0-6964-404f-8bee-3f01cc927a2c","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ea769bf-155a-49c3-98ea-7457eecf687d/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"2ea769bf-155a-49c3-98ea-7457eecf687d","container_runtime":"containerd","created_at":"2024-04-08T15:48:11.114725Z","id":"14d6d0e5-15ab-40df-a6b1-a0030fa6bb50","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"fcfed0a0-6964-404f-8bee-3f01cc927a2c","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:48:11.123473538Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.379978ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/14d6d0e5-15ab-40df-a6b1-a0030fa6bb50
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"2ea769bf-155a-49c3-98ea-7457eecf687d","container_runtime":"containerd","created_at":"2024-04-08T15:48:11.114725Z","id":"14d6d0e5-15ab-40df-a6b1-a0030fa6bb50","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"fcfed0a0-6964-404f-8bee-3f01cc927a2c","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:48:11.123474Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.496171ms
[...]
    - id: 104
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ea769bf-155a-49c3-98ea-7457eecf687d/nodes?order_by=created_at_asc&page=1&pool_id=14d6d0e5-15ab-40df-a6b1-a0030fa6bb50&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2ea769bf-155a-49c3-98ea-7457eecf687d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:53:23.402688Z","error_message":null,"id":"76383da5-4802-4919-93c6-243a179e8d12","name":"scw-test-pool-placeme-test-pool-placeme-76383d","pool_id":"14d6d0e5-15ab-40df-a6b1-a0030fa6bb50","provider_id":"scaleway://instance/fr-par-1/88055b0d-2f87-43d2-991f-528a4160e4c0","public_ip_v4":"51.15.136.76","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T15:55:31.807424Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.613106ms
[...]
    - id: 124
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/14d6d0e5-15ab-40df-a6b1-a0030fa6bb50
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"14d6d0e5-15ab-40df-a6b1-a0030fa6bb50","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.97495ms
    - id: 125
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2ea769bf-155a-49c3-98ea-7457eecf687d?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 128
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"7b321152-78db-4f2d-be0a-00fa141c9915","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/7b321152-78db-4f2d-be0a-00fa141c9915
        status: 201 Created
        code: 201
        duration: 298.251022ms
    - id: 129
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/7b321152-78db-4f2d-be0a-00fa141c9915
        method: GET
      response:
        body: '{"placement_group":{"id":"7b321152-78db-4f2d-be0a-00fa141c9915","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.814362ms
[...]
    - id: 132
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T15:56:04.719438Z","dhcp_enabled":true,"id":"1b2db9bb-e7bd-47a4-ae81-33c35fde10a6","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-08T15:56:04.719438Z","id":"429ad632-e047-40f9-bb46-5d7c931f5ca7","subnet":"172.16.0.0/22","updated_at":"2024-04-08T15:56:04.719438Z"},{"created_at":"2024-04-08T15:56:04.719438Z","id":"5b2a300b-ece7-43d2-ad0f-a5b1dbf46a77","subnet":"fd5c:d510:d730:a1c0::/64","updated_at":"2024-04-08T15:56:04.719438Z"}],"tags":[],"updated_at":"2024-04-08T15:56:04.719438Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 606.420083ms
    - id: 133
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/1b2db9bb-e7bd-47a4-ae81-33c35fde10a6
        method: GET
      response:
        body: '{"created_at":"2024-04-08T15:56:04.719438Z","dhcp_enabled":true,"id":"1b2db9bb-e7bd-47a4-ae81-33c35fde10a6","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-08T15:56:04.719438Z","id":"429ad632-e047-40f9-bb46-5d7c931f5ca7","subnet":"172.16.0.0/22","updated_at":"2024-04-08T15:56:04.719438Z"},{"created_at":"2024-04-08T15:56:04.719438Z","id":"5b2a300b-ece7-43d2-ad0f-a5b1dbf46a77","subnet":"fd5c:d510:d730:a1c0::/64","updated_at":"2024-04-08T15:56:04.719438Z"}],"tags":[],"updated_at":"2024-04-08T15:56:04.719438Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.581492ms
    - id: 134
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simi[...]
    - id: 135
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8b7376f0-f5b7-4869-a002-1aa8d542afc3
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random[...]
[...]
    - id: 137
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8b7376f0-f5b7-4869-a002-1aa8d542afc3/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.525125ms
[...]
    - id: 139
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8b7376f0-f5b7-4869-a002-1aa8d542afc3/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXT[...]
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"7b321152-78db-4f2d-be0a-00fa141c9915","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8b7376f0-f5b7-4869-a002-1aa8d542afc3/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"8b7376f0-f5b7-4869-a002-1aa8d542afc3","container_runtime":"containerd","created_at":"2024-04-08T15:56:11.648917Z","id":"2c9eb58b-12f3-4e40-b544-16b5113858eb","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"7b321152-78db-4f2d-be0a-00fa141c9915","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:56:11.668232339Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 463.692468ms
    - id: 142
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/2c9eb58b-12f3-4e40-b544-16b5113858eb
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"8b7376f0-f5b7-4869-a002-1aa8d542afc3","container_runtime":"containerd","created_at":"2024-04-08T15:56:11.648917Z","id":"2c9eb58b-12f3-4e40-b544-16b5113858eb","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"7b321152-78db-4f2d-be0a-00fa141c9915","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T15:56:11.668232Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.630897ms
[...]
    - id: 217
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8b7376f0-f5b7-4869-a002-1aa8d542afc3/nodes?order_by=created_at_asc&page=1&pool_id=2c9eb58b-12f3-4e40-b544-16b5113858eb&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"8b7376f0-f5b7-4869-a002-1aa8d542afc3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T15:59:13.604236Z","error_message":null,"id":"392e605f-123a-491b-aaff-d92f853ea0c1","name":"scw-test-pool-placeme-test-pool-placeme-392e60","pool_id":"2c9eb58b-12f3-4e40-b544-16b5113858eb","provider_id":"scaleway://instance/nl-ams-2/05da677e-ba36-4c57-994e-c6a0aa9d4fa9","public_ip_v4":"51.158.231.130","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2024-04-08T16:02:17.571902Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.563317ms
[...]
    - id: 230
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8b7376f0-f5b7-4869-a002-1aa8d542afc3/available-types
        method: GET
      response:
        body: '{"cluster_types":[{"audit_logs_supported":false,"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"audit_logs_supported":false,"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.681543ms
[...]
    - id: 238
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8b7376f0-f5b7-4869-a002-1aa8d542afc3?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
