---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"region":"fr-par", "name":"1.35.1", "label":"Kubernetes 1.35.1", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLogMaxSize":"quantity", "cpuCFSQuota":"bool", "cpuCFSQuotaPeriod":"duration", "cpuManagerPolicy":"enum:none|static", "cpuManagerPolicyOptions":"map[string]string", "enableDebuggingHandlers":"bool", "evictionHard":"map[string]string", "evictionMinimumReclaim":"map[string]string", "imageGCHighThresholdPercent":"uint32", "imageGCLowThresholdPercent":"uint32", "maxParallelImagePulls":"int32", "maxPods":"uint16", "registryBurst":"int32", "registryPullQPS":"int32", "serializeImagePulls":"bool"}, "deprecated_at":"2027-01-19T00:00:00Z", "end_of_life_at":"2027-03-19T00:00:00Z", "released_at":"2026-01-19T00:00:00Z"}, {"region":"fr-par", "name":"1.34.4", "label":"Kubernetes 1.34.4", "available_cnis":["cilium", "cilium_native", "calico", "kilo", "none"], "available_container_runtimes":["containerd"], "available_feature_gates":["HPAScaleToZero", "CPUManagerPolicyAlphaOptions", "ImageVolume", "MutatingAdmissionPolicy"], "available_admission_plugins":["AlwaysPullImages", "PodNodeSelector", "PodTolerationRestriction"], "available_kubelet_args":{"containerLogMaxFiles":"uint16", "containerLo[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigSecurityGroup","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"10e574d8-52ff-458f-96ab-4322edbb7e08", "name":"testAccCheckK8SPoolConfigSecurityGroup", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:31:25.433498Z", "updated_at":"2026-02-26T16:31:25.433498Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.6515ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/10e574d8-52ff-458f-96ab-4322edbb7e08
        method: GET
      response:
        body: '{"id":"10e574d8-52ff-458f-96ab-4322edbb7e08", "name":"testAccCheckK8SPoolConfigSecurityGroup", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:31:25.433498Z", "updated_at":"2026-02-26T16:31:25.433498Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.867166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"drop","outbound_default_policy":"accept","enable_default_security":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
        method: POST
      response:
        body: '{"security_group": {"id": "96472440-146f-407c-a840-288468e0b877", "creation_date": "2026-02-26T16:31:25.486824+00:00", "modification_date": "2026-02-26T16:31:25.486824+00:00", "name": "test-pool-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "drop", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/96472440-146f-407c-a840-288468e0b877
        status: 201 Created
        code: 201
        duration: 196.955ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","enable_default_security":true,"inbound_default_policy":"drop","tags":[],"outbound_default_policy":"accept","stateful":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/96472440-146f-407c-a840-288468e0b877
        method: PATCH
      response:
        body: '{"security_group": {"id": "96472440-146f-407c-a840-288468e0b877", "creation_date": "2026-02-26T16:31:25.486824+00:00", "modification_date": "2026-02-26T16:31:25.486824+00:00", "name": "test-pool-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful": true, "inbound_default_policy": "drop", "outbound_default_policy": "accept", "organization_default": false, "project_default": false, "enable_default_security": true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.34775ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"rules":[{"id":null,"action":"accept","protocol":"TCP","direction":"inbound","ip_range":"0.0.0.0/0","dest_port_from":80,"dest_port_to":null,"position":0,"editable":null,"zone":"fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/96472440-146f-407c-a840-288468e0b877/rules
        method: PUT
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000002", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 465, "dest_port_to": null, "position": 2, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "11111111-2222-4333-8444-000000000003", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "de[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"10e574d8-52ff-458f-96ab-4322edbb7e08","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d", "name":"test-pool-security-group", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:31:25.607607Z", "updated_at":"2026-02-26T16:31:25.607607Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"754cfb30-e45c-4770-ad6a-8cf677fa536c", "created_at":"2026-02-26T16:31:25.607607Z", "updated_at":"2026-02-26T16:31:25.607607Z", "subnet":"172.19.24.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d", "vpc_id":"10e574d8-52ff-458f-96ab-4322edbb7e08"}, {"id":"9219f91b-35cd-4d14-a38a-6c0cdd8b89c8", "created_at":"2026-02-26T16:31:25.607607Z", "updated_at":"2026-02-26T16:31:25.607607Z", "subnet":"fd46:78ab:30b8:710f::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d", "vpc_id":"10e574d8-52ff-458f-96ab-4322edbb7e08"}], "vpc_id":"10e574d8-52ff-458f-96ab-4322edbb7e08", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 657.326292ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/96472440-146f-407c-a840-288468e0b877/rules?page=1
        method: GET
      response:
        body: '{"rules": [{"id": "11111111-2222-4333-8444-000000000001", "protocol": "TCP", "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_ip_range": null, "dest_port_from": 25, "dest_port_to": null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "111[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d9badd59-98c2-47a0-bae6-9f264dc6e78d
        method: GET
      response:
        body: '{"id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d", "name":"test-pool-security-group", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:31:25.607607Z", "updated_at":"2026-02-26T16:31:25.607607Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"754cfb30-e45c-4770-ad6a-8cf677fa536c", "created_at":"2026-02-26T16:31:25.607607Z", "updated_at":"2026-02-26T16:31:25.607607Z", "subnet":"172.19.24.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d", "vpc_id":"10e574d8-52ff-458f-96ab-4322edbb7e08"}, {"id":"9219f91b-35cd-4d14-a38a-6c0cdd8b89c8", "created_at":"2026-02-26T16:31:25.607607Z", "updated_at":"2026-02-26T16:31:25.607607Z", "subnet":"fd46:78ab:30b8:710f::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d", "vpc_id":"10e574d8-52ff-458f-96ab-4322edbb7e08"}], "vpc_id":"10e574d8-52ff-458f-96ab-4322edbb7e08", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.549458ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-security-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","security_group"],"version":"1.35.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"region":"fr-par", "id":"e060a66c-ba9c-4495-a253-0d8c861f13fa", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:31:26.710736Z", "updated_at":"2026-02-26T16:31:26.710736Z", "type":"kapsule", "name":"test-pool-security-group", "description":"", "status":"creating", "version":"1.35.1", "cni":"cilium", "tags":["terraform-test", "scaleway_k8s_cluster", "security_group"], "cluster_url":"https://e060a66c-ba9c-4495-a253-0d8c861f13fa.api.k8s.fr-par.scw.cloud:6443", "dns_wildcard":"*.e060a66c-ba9c-4495-a253-0d8c861f13fa.nodes.k8s.fr-par.scw.cloud", "autoscaler_config":{"scale_down_disabled":false, "scale_down_delay_after_add":"10m", "estimator":"binpacking", "expander":"random", "ignore_daemonsets_utilization":false, "balance_similar_node_groups":false, "expendable_pods_priority_cutoff":0, "scale_down_unneeded_time":"10m", "scale_down_utilization_threshold":0.5, "max_graceful_termination_sec":0}, "auto_upgrade":{"enabled":false, "maintenance_window":{"start_hour":0, "day":"any"}}, "upgrade_available":false, "feature_gates":[], "admission_plugins":[], "open_id_connect_config":{"issuer_url":"", "client_id":"", "username_claim":"", "username_prefix":"", "groups_claim":[], "groups_prefix":"", "required_claim":[]}, "apiserver_cert_sans":[], "private_network_id":"d9badd59-98c2-47a0-bae6-9f264dc6e78d", "commitment_ends_at":"2026-02-26T16:31:26.710743Z", "acl_available":true, "iam_nodes_group_id":"", "pod_cidr":"100.64.0.0/15", "service_cidr":"10.32.0.0/20", "service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 611.464667ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e060a66c-ba9c-4495-a253-0d8c861f13fa
        method: GET
      response:
        body: '{"region":"fr-par", "id":"e060a66c-ba9c-4495-a253-0d8c861f13fa", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:31:26.710736Z", "updated_at":"2026-02-26T16:31:26.875740Z", "ty[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e060a66c-ba9c-4495-a253-0d8c861f13fa/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0, "pools":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.24575ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e060a66c-ba9c-4495-a253-0d8c861f13fa/kubeconfig
        method: GET
      response:
        body: '{"name":"kubeconfig", "content_type":"application/octet-stream", "content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zZWN1cml0eS1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYZWtORFFWRkhaMEYzU1VKQlowbENRVVJCUzBKblozRm9hMnBQVUZGUlJFRnFRVlpOVWsxM1JWRlpSRlpSVVVSRmQzQnlaRmRLYkdOdE5Xd0taRWRXZWsxQ05GaEVWRWt5VFVSSmVVNVVSVEpOZWtWNVRteHZXRVJVVFRKTlJFbDVUbFJGTWsxNlJYbE9iRzkzUmxSRlZFMUNSVWRCTVZWRlFYaE5Td3BoTTFacFdsaEtkVnBZVW14amVrSmFUVUpOUjBKNWNVZFRUVFE1UVdkRlIwTkRjVWRUVFRRNVFYZEZTRUV[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-security-group","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","security_group"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false,"security_group_id":"96472440-146f-407c-a840-288468e0b877"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e060a66c-ba9c-4495-a253-0d8c861f13fa/pools
        method: POST
      response:
        body: '{"region":"fr-par", "id":"f5f7a68c-ee18-4d3f-a5df-12a663634061", "cluster_id":"e060a66c-ba9c-4495-a253-0d8c861f13fa", "created_at":"2026-02-26T16:31:32.477645Z", "updated_at":"2026-02-26T16:31:32.477645Z", "name":"test-pool-security-group", "status":"scaling", "version":"1.35.1", "node_type":"pro2_xxs", "autoscaling":true, "size":1, "min_size":1, "max_size":1, "container_runtime":"containerd", "autohealing":true, "tags":["terraform-test", "scaleway_k8s_cluster", "security_group"], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"sbs_5k", "root_volume_size":20000000000, "public_ip_disabled":false, "security_group_id":"96472440-146f-407c-a840-288468e0b877", "labels":{}, "taints":[], "startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.411583ms
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f5f7a68c-ee18-4d3f-a5df-12a663634061
        method: GET
      response:
        body: '{"region":"fr-par", "id":"f5f7a68c-ee18-4d3f-a5df-12a663634061", "cluster_id":"e060a66c-ba9c-4495-a253-0d8c861f13fa", "created_at":"2026-02-26T16:31:32.477645Z", "updated_at":"2026-02-26T16:31:32.477645Z", "name":"test-pool-security-group", "status":"scaling", "version":"1.35.1", "node_type":"pro2_xxs", "autoscaling":true, "size":1, "min_size":1, "max_size":1, "container_runtime":"containerd", "autohealing":true, "tags":["terraform-test", "scaleway_k8s_cluster", "security_group"], "placement_group_id":null, "kubelet_args":{}, "upgrade_policy":{"max_unavailable":1, "max_surge":0}, "zone":"fr-par-1", "root_volume_type":"sbs_5k", "root_volume_size":20000000000, "public_ip_disabled":false, "security_group_id":"96472440-146f-407c-a840-288468e0b877", "labels":{}, "taints":[], "startup_taints":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.460042ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            pool_id:
                - f5f7a68c-ee18-4d3f-a5df-12a663634061
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e060a66c-ba9c-4495-a253-0d8c861f13fa/nodes?order_by=created_at_asc&page=1&pool_id=f5f7a68c-ee18-4d3f-a5df-12a663634061&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "nodes":[{"region":"fr-par", "id":"e82f6ee4-fd99-4423-ae5c-91e11159d095", "cluster_id":"e060a66c-ba9c-4495-a253-0d8c861f13fa", "created_at":"2026-02-26T16:33:01.515461Z", "updated_at":"2026-02-26T16:34:08.482931Z", "pool_id":"f5f7a68c-ee18-4d3f-a5df-12a663634061", "status":"ready", "conditions":{"DiskPressure":"False", "MemoryPressure":"False", "PIDPressure":"False", "Ready":"True"}, "name":"scw-test-pool-securit-test-pool-securit-e82f6e", "public_ip_v4":"51.158.74.64", "public_ip_v6":null, "provider_id":"scaleway://instance/fr-par-1/0d9af659-915d-445d-8954-79e12e115733", "error_message":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.015917ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_desc
            project_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            resource_name:
                - scw-test-pool-securit-test-pool-securit-e82f6e
            resource_type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-securit-test-pool-securit-e82f6e&resource_type=unknown_type
        method: GET
      response:
        body: '{"total_count":2, "ips":[{"id":"0938fb2f-cd40-4a50-a94e-c6e1c5c61059", "address":"fd46:78ab:30b8:710f:4e3f:9170:9569:b03/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_ipv6":true, "created_at":"2026-02-26T16:33:04.080655Z", "updated_at":"2026-02-26T16:33:04.080655Z", "source":{"subnet_id":"9219f91b-35cd-4d14-a38a-6c0cdd8b89c8"}, "resource":{"type":"instance_private_nic", "id":"eb788a90-c947-4f60-b82e-62b44c1026ce", "mac_address":"02:00:00:16:A1:99", "name":"scw-test-pool-securit-test-pool-securit-e82f6e"}, "tags":[], "reverses":[], "region":"fr-par", "zone":null}, {"id":"df48e003-7181-425f-af76-1a207da8f9f5", "address":"172.19.24.3/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_ipv6":false, "created_at":"2026-02-26T16:33:03.939698Z", "updated_at":"2026-02-26T16:33:03.939698Z", "source":{"subnet_id":"754cfb30-e45c-4770-ad6a-8cf677fa536c"}, "resource":{"type":"instance_private_nic", "id":"eb788a90-c947-4f60-b82e-62b44c1026ce", "mac_address":"02:00:00:16:A1:99", "name":"scw-test-pool-securit-test-pool-securit-e82f6e"}, "tags":[], "reverses":[], "region":"fr-par", "zone":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.75275ms
[...]
    - id: 99
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            pool_id:
                - f5f7a68c-ee18-4d3f-a5df-12a663634061
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e060a66c-ba9c-4495-a253-0d8c861f13fa/nodes?order_by=created_at_asc&page=1&pool_id=f5f7a68c-ee18-4d3f-a5df-12a663634061&status=unknown
        method: GET
      response:
        body: '{"total_count":1, "nodes":[{"region":"fr-par", "id":"e82f6ee4-fd99-4423-ae5c-91e11159d095", "cluster_id":"e060a66c-ba9c-4495-a253-0d8c861f13fa", "created_at":"2026-02-26T16:33:01.515461Z", "updated_at":"2026-02-26T16:34:14.257874Z", "pool_id":"f5f7a68c-ee18-4d3f-a5df-12a663634061", "status":"ready", "conditions":{"DiskPressure":"False", "MemoryPressure":"False", "NetworkUnavailable":"False", "PIDPressure":"False", "Ready":"True"}, "name":"scw-test-pool-securit-test-pool-securit-e82f6e", "public_ip_v4":"51.158.74.64", "public_ip_v6":null, "provider_id":"scaleway://instance/fr-par-1/0d9af659-915d-445d-8954-79e12e115733", "error_message":""}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.615125ms
[...]
    - id: 109
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f5f7a68c-ee18-4d3f-a5df-12a663634061
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"f5f7a68c-ee18-4d3f-a5df-12a663634061","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.123292ms
    - id: 110
      request:
        host: api.scaleway.com
        form:
            with_additional_resources:
                - "false"
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e060a66c-ba9c-4495-a253-0d8c861f13fa?with_additional_resources=false
        method: DELETE
      response:
        body: '{"region":"fr-par", "id":"e060a66c-ba9c-4495-a253-0d8c861f13fa", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-02-26T16:31:26.710736Z", "updated_at":"2026-02-26T16:35:31.151351Z", [...]
[...]
