---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:46:49.038912Z","dhcp_enabled":true,"id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:46:49.038912Z","id":"3db6da28-f723-46f3-9bb4-782831943e11","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-28T10:46:49.038912Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:46:49.038912Z","id":"02dcd8f7-49ca-46a9-a94e-3dc3859187f9","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:faec::/64","updated_at":"2025-01-28T10:46:49.038912Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:46:49.038912Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 807.840334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:46:49.038912Z","dhcp_enabled":true,"id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:46:49.038912Z","id":"3db6da28-f723-46f3-9bb4-782831943e11","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-28T10:46:49.038912Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:46:49.038912Z","id":"02dcd8f7-49ca-46a9-a94e-3dc3859187f9","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:faec::/64","updated_at":"2025-01-28T10:46:49.038912Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:46:49.038912Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.792959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2174cb82-2a48-41ac-94f0-68305bb9a28a.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-28T10:46:50.481031Z","created_at":"2025-01-28T10:46:50.481019Z","description":"","dns_wildcard":"*.2174cb82-2a48-41ac-94f0-68305bb9a28a.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"2174cb82-2a48-41ac-94f0-68305bb9a28a","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-01-28T10:46:50.481019Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 644.885ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2174cb82-2a48-41ac-94f0-68305bb9a28a
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2174cb82-2a48-41ac-94f0-68305bb9a28a/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.834875ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2174cb82-2a48-41ac-94f0-68305bb9a28a/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVSWGxPZWtWM1RrUlpNVTFXYjFoRVZFMHhUVVJGZVU1NlJYZE9SRmt4VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2174cb82-2a48-41ac-94f0-68305bb9a28a/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"2174cb82-2a48-41ac-94f0-68305bb9a28a","container_runtime":"containerd","created_at":"2025-01-28T10:46:56.127375Z","id":"37cfc820-5fcd-44bd-88f8-8217f75013a0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-28T10:46:56.127375Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 392.541083ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/37cfc820-5fcd-44bd-88f8-8217f75013a0
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"2174cb82-2a48-41ac-94f0-68305bb9a28a","container_runtime":"containerd","created_at":"2025-01-28T10:46:56.127375Z","id":"37cfc820-5fcd-44bd-88f8-8217f75013a0","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-28T10:46:56.127375Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.282625ms
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2174cb82-2a48-41ac-94f0-68305bb9a28a/nodes?order_by=created_at_asc&page=1&pool_id=37cfc820-5fcd-44bd-88f8-8217f75013a0&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2174cb82-2a48-41ac-94f0-68305bb9a28a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-28T10:49:57.595147Z","error_message":"","id":"3dea235f-46a4-47ea-a974-233e8b583838","name":"scw-test-k8s-public-i-test-k8s-public-i-3dea23","pool_id":"37cfc820-5fcd-44bd-88f8-8217f75013a0","provider_id":"scaleway://instance/fr-par-1/4e6dfdf1-8a9c-49f8-bd52-ba6efc28cd6a","public_ip_v4":"51.15.236.240","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-28T10:53:17.230057Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.158791ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2174cb82-2a48-41ac-94f0-68305bb9a28a/nodes?order_by=created_at_asc&pool_id=37cfc820-5fcd-44bd-88f8-8217f75013a0&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2174cb82-2a48-41ac-94f0-68305bb9a28a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-28T10:49:57.595147Z","error_message":"","id":"3dea235f-46a4-47ea-a974-233e8b583838","name":"scw-test-k8s-public-i-test-k8s-public-i-3dea23","pool_id":"37cfc820-5fcd-44bd-88f8-8217f75013a0","provider_id":"scaleway://instance/fr-par-1/4e6dfdf1-8a9c-49f8-bd52-ba6efc28cd6a","public_ip_v4":"51.15.236.240","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-28T10:53:17.230057Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.686208ms
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4e6dfdf1-8a9c-49f8-bd52-ba6efc28cd6a
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-01-28T10:49:59.299513+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-3dea23","id":"4e6dfdf1-8a9c-49f8-bd52-ba6efc28cd6a","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"28","hypervisor_id":"801","node_id":"28","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:90:37:b9","maintenances":[],"modification_date":"2025-01-28T10:50:07.796715+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-3dea23","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-01-28T10:50:01.515365+00:00","id":"b4906567-a66e-40bd-8707-5a57d6351eb7","ipam_ip_ids":["61cf0e79-f081-4c4c-a7dc-2f9f73b30192","28ac92d6-0579-4116-b5ef-a2d07402e512"],"mac_address":"02:00:00:11:98:17","modification_date":"2025-01-28T10:50:01.771842+00:00","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","server_id":"4e6dfdf1-8a9c-49f8-bd52-ba6efc28cd6a","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.236.240","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"65a60f6b-fa89-4e49-bc25-fced17fa3df3","ipam_id":"8680a1b8-bad7-4e50-b02a-cdc34cd058e2","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=2174cb82-2a48-41ac-94f0-68305bb9a28a","node-name=scw-test-k8s-public-i-test-k8s-public-i-3dea23"]},"public_ips":[{"address":"51.15.236.240","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"65a60f6b-fa89-4e49-bc25-fced17fa3df3","ipam_id":"8680a1b8-bad7-4e50-b02a-cdc34cd058e2","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=2174cb82-2a48-41ac-94f0-68305bb9a28a","node-name=scw-test-k8s-public-i-test-k8s-public-i-3dea23"]},{"address":"2001:bc8:710:11:dc00:ff:fe90:37b9","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe90:37ba","id":"20c09e4c-acb5-4e87-8e09-18000ce63c69","ipam_id":"eecad1c3-4f41-4089-b9fc-6873ad7f03ea","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=2174cb82-2a48-41ac-94f0-68305bb9a28a","node-name=scw-test-k8s-public-i-test-k8s-public-i-3dea23"]}],"routed_ip_enabled":true,"security_group":{"id":"3a97a5d7-420e-4eea-b29e-53f154037db5","name":"kubernetes 2174cb82-2a48-41ac-94f0-68305bb9a28a"},"state":"running","state_detail":"booted","tags":["kapsule=2174cb82-2a48-41ac-94f0-68305bb9a28a","pool=37cfc820-5fcd-44bd-88f8-8217f75013a0","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=3dea235f-46a4-47ea-a974-233e8b583838"],"volumes":{"0":{"boot":true,"id":"55e529e5-8d64-4cbd-b06f-8892d721b886","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.321833ms
[...]
    - id: 158
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/37cfc820-5fcd-44bd-88f8-8217f75013a0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"37cfc820-5fcd-44bd-88f8-8217f75013a0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.899833ms
    - id: 159
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.0.1","created_at":"2025-01-28T10:57:46.417152Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5a90a96f-ded2-4c5f-89a0-f0ed9a5404a8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-28T10:57:46.417152Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.374ms
    - id: 160
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/5a90a96f-ded2-4c5f-89a0-f0ed9a5404a8
        method: GET
      response:
        body: '{"address":"192.168.0.1","created_at":"2025-01-28T10:57:46.417152Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5a90a96f-ded2-4c5f-89a0-f0ed9a5404a8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-28T10:57:46.417152Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.297541ms
    - id: 161
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-28T10:57:47.540138Z","gateway_networks":[],"id":"cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5","ip":{"address":"51.15.255.93","created_at":"2025-01-28T10:57:47.521305Z","gateway_id":"cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5","id":"0b2dc034-88ec-4a16-addf-35b6b9d4b496","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"93-255-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-28T10:57:47.521305Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-28T10:57:47.540138Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.444362833s
    - id: 162
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-28T10:57:47.540138Z","gateway_networks":[],"id":"cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5","ip":{"address":"51.15.255.93","created_at":"2025-01-28T10:57:47.521305Z","gateway_id":"cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5","id":"0b2dc034-88ec-4a16-addf-35b6b9d4b496","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"93-255-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-28T10:57:47.521305Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"configuring","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-28T10:57:47.791143Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.577041ms
[...]
    - id: 166
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"5a90a96f-ded2-4c5f-89a0-f0ed9a5404a8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-28T10:57:55.340591Z","dhcp":{"address":"192.168.0.1","created_at":"2025-01-28T10:57:46.417152Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5a90a96f-ded2-4c5f-89a0-f0ed9a5404a8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-28T10:57:46.417152Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5","id":"3e88db28-c513-41e5-9a53-eed54a3db4ee","ipam_config":null,"mac_address":null,"private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","status":"created","updated_at":"2025-01-28T10:57:55.340591Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.509141208s
[...]
    - id: 171
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/3e88db28-c513-41e5-9a53-eed54a3db4ee
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-28T10:57:55.340591Z","dhcp":{"address":"192.168.0.1","created_at":"2025-01-28T10:57:46.417152Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5a90a96f-ded2-4c5f-89a0-f0ed9a5404a8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2025-01-28T10:57:46.417152Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5","id":"3e88db28-c513-41e5-9a53-eed54a3db4ee","ipam_config":null,"mac_address":"02:00:00:19:1C:B1","private_network_id":"8d2862f3-cd01-4ec4-a3b6-ec35ac664f0d","status":"ready","updated_at":"2025-01-28T10:58:06.050540Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.501458ms
[...]
    - id: 311
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2174cb82-2a48-41ac-94f0-68305bb9a28a?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
    - id: 315
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/3e88db28-c513-41e5-9a53-eed54a3db4ee?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 78.153583ms
[...]
    - id: 321
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/cf92051f-c2eb-4f71-ae1d-68d8fa92e2a5?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 132.796417ms
[...]
