---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T19:44:11.339169Z","dhcp_enabled":true,"id":"73d9b026-46f5-4ced-a0b3-4d5ac5be29ec","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:11.339169Z","id":"50bbe6a2-5d8d-41d9-9c1f-13fc75e09607","subnet":"172.17.96.0/22","updated_at":"2024-04-08T19:44:11.339169Z"},{"created_at":"2024-04-08T19:44:11.339169Z","id":"d30cbf07-a4f0-497f-badf-322030c2b3d3","subnet":"fd5f:519c:6d46:7680::/64","updated_at":"2024-04-08T19:44:11.339169Z"}],"tags":[],"updated_at":"2024-04-08T19:44:11.339169Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 891.026452ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/73d9b026-46f5-4ced-a0b3-4d5ac5be29ec
        method: GET
      response:
        body: '{"created_at":"2024-04-08T19:44:11.339169Z","dhcp_enabled":true,"id":"73d9b026-46f5-4ced-a0b3-4d5ac5be29ec","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:44:11.339169Z","id":"50bbe6a2-5d8d-41d9-9c1f-13fc75e09607","subnet":"172.17.96.0/22","updated_at":"2024-04-08T19:44:11.339169Z"},{"created_at":"2024-04-08T19:44:11.339169Z","id":"d30cbf07-a4f0-497f-badf-322030c2b3d3","subnet":"fd5f:519c:6d46:7680::/64","updated_at":"2024-04-08T19:44:11.339169Z"}],"tags":[],"updated_at":"2024-04-08T19:44:11.339169Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.121999ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"73d9b026-46f5-4ced-a0b3-4d5ac5be29ec"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7552dbd9-31f1-49f2-9a86-22d91feae6f1.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-08T19:44:12.448748817Z","created_at":"2024-04-08T19:44:12.448748817Z","description":"","dns_wildcard":"*.7552dbd9-31f1-49f2-9a86-22d91feae6f1.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7552dbd9-31f1-49f2-9a86-22d91feae6f1","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"73d9b026-46f5-4ced-a0b3-4d5ac5be29ec","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2024-04-08T19:44:12.473143594Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 809.872488ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7552dbd9-31f1-49f2-9a86-22d91feae6f1
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7552dbd9-31f1-49f2-9a86-22d91feae6f1/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.707675ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7552dbd9-31f1-49f2-9a86-22d91feae6f1/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFVVhkT2VrVTFUa1JSZUUweGIxaEVWRTB3VFVSUmQwNTZSVFZPUkZGNFRURnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7552dbd9-31f1-49f2-9a86-22d91feae6f1/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"7552dbd9-31f1-49f2-9a86-22d91feae6f1","container_runtime":"containerd","created_at":"2024-04-08T19:44:18.056958Z","id":"19ad8b78-5056-441a-8569-ca282686a051","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-04-08T19:44:18.067556262Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.374398ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/19ad8b78-5056-441a-8569-ca282686a051
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"7552dbd9-31f1-49f2-9a86-22d91feae6f1","container_runtime":"containerd","created_at":"2024-04-08T19:44:18.056958Z","id":"19ad8b78-5056-441a-8569-ca282686a051","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-04-08T19:44:18.067556Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.355469ms
[...]
    - id: 113
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7552dbd9-31f1-49f2-9a86-22d91feae6f1/nodes?order_by=created_at_asc&page=1&pool_id=19ad8b78-5056-441a-8569-ca282686a051&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"7552dbd9-31f1-49f2-9a86-22d91feae6f1","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:49:29.928281Z","error_message":null,"id":"72b8d5e9-5156-48ed-a732-7d796605a013","name":"scw-test-pool-kubelet-test-pool-kubelet-72b8d5","pool_id":"19ad8b78-5056-441a-8569-ca282686a051","provider_id":"scaleway://instance/fr-par-1/154793f7-78c1-42ae-b640-0f9ac26c0500","public_ip_v4":"163.172.141.85","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:52:37.491633Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.889421ms
[...]
    - id: 142
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/19ad8b78-5056-441a-8569-ca282686a051
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"19ad8b78-5056-441a-8569-ca282686a051","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.061456ms
    - id: 143
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7552dbd9-31f1-49f2-9a86-22d91feae6f1?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
