---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:54:24.577022Z","dhcp_enabled":true,"id":"e8f9384e-5848-46fc-80a9-cd1695904af9","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:54:24.577022Z","id":"a481c764-c57d-4d48-a47d-2ab32ade05a7","private_network_id":"e8f9384e-5848-46fc-80a9-cd1695904af9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.40.0/22","updated_at":"2025-01-24T14:54:24.577022Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:54:24.577022Z","id":"c31a14d7-338f-435b-81c9-2fbfa3d8aa7a","private_network_id":"e8f9384e-5848-46fc-80a9-cd1695904af9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8f79::/64","updated_at":"2025-01-24T14:54:24.577022Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:54:24.577022Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 567.108042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e8f9384e-5848-46fc-80a9-cd1695904af9
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:54:24.577022Z","dhcp_enabled":true,"id":"e8f9384e-5848-46fc-80a9-cd1695904af9","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:54:24.577022Z","id":"a481c764-c57d-4d48-a47d-2ab32ade05a7","private_network_id":"e8f9384e-5848-46fc-80a9-cd1695904af9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.40.0/22","updated_at":"2025-01-24T14:54:24.577022Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:54:24.577022Z","id":"c31a14d7-338f-435b-81c9-2fbfa3d8aa7a","private_network_id":"e8f9384e-5848-46fc-80a9-cd1695904af9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8f79::/64","updated_at":"2025-01-24T14:54:24.577022Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:54:24.577022Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.131584ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.31.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e8f9384e-5848-46fc-80a9-cd1695904af9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://30ecd574-03ad-43bc-ad7c-0d17e24c65e4.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-01-24T14:54:25.522022Z","created_at":"2025-01-24T14:54:25.522010Z","description":"","dns_wildcard":"*.30ecd574-03ad-43bc-ad7c-0d17e24c65e4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"30ecd574-03ad-43bc-ad7c-0d17e24c65e4","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"e8f9384e-5848-46fc-80a9-cd1695904af9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-01-24T14:54:25.522010Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 435.986ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/30ecd574-03ad-43bc-ad7c-0d17e24c65e4
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/30ecd574-03ad-43bc-ad7c-0d17e24c65e4/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.225625ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/30ecd574-03ad-43bc-ad7c-0d17e24c65e4/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVJYbE5la1V3VGxSUmVVNXNiMWhFVkUweFRVUkZlVTE2UlRCT1ZGRjVUbXh2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-wait","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/30ecd574-03ad-43bc-ad7c-0d17e24c65e4/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"30ecd574-03ad-43bc-ad7c-0d17e24c65e4","container_runtime":"containerd","created_at":"2025-01-24T14:54:31.091221Z","id":"33a8d60f-1d1e-4f66-b6c8-3c4dca92a606","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:54:31.091221Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 456.541458ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/33a8d60f-1d1e-4f66-b6c8-3c4dca92a606
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"30ecd574-03ad-43bc-ad7c-0d17e24c65e4","container_runtime":"containerd","created_at":"2025-01-24T14:54:31.091221Z","id":"33a8d60f-1d1e-4f66-b6c8-3c4dca92a606","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:54:31.091221Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.507083ms
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/30ecd574-03ad-43bc-ad7c-0d17e24c65e4/nodes?order_by=created_at_asc&page=1&pool_id=33a8d60f-1d1e-4f66-b6c8-3c4dca92a606&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"30ecd574-03ad-43bc-ad7c-0d17e24c65e4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:57:38.912286Z","error_message":"","id":"8c3fa7f9-bbfe-4798-85b9-1701dbd040b3","name":"scw-test-pool-wait-test-pool-wait-8c3fa7f9bbfe","pool_id":"33a8d60f-1d1e-4f66-b6c8-3c4dca92a606","provider_id":"scaleway://instance/fr-par-1/e051439c-74e7-408c-b910-eb8628ca8c85","public_ip_v4":"163.172.142.230","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T15:01:12.241879Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.945875ms
[...]
    - id: 159
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/30ecd574-03ad-43bc-ad7c-0d17e24c65e4/nodes?order_by=created_at_asc&page=1&pool_id=33a8d60f-1d1e-4f66-b6c8-3c4dca92a606&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"30ecd574-03ad-43bc-ad7c-0d17e24c65e4","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:57:38.912286Z","error_message":"","id":"8c3fa7f9-bbfe-4798-85b9-1701dbd040b3","name":"scw-test-pool-wait-test-pool-wait-8c3fa7f9bbfe","pool_id":"33a8d60f-1d1e-4f66-b6c8-3c4dca92a606","provider_id":"scaleway://instance/fr-par-1/e051439c-74e7-408c-b910-eb8628ca8c85","public_ip_v4":"163.172.142.230","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T15:04:37.037994Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.522625ms
[...]
    - id: 252
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/23e8f630-a659-43d8-8e55-0c013e39797f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"23e8f630-a659-43d8-8e55-0c013e39797f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.893667ms
[...]
    - id: 313
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/30ecd574-03ad-43bc-ad7c-0d17e24c65e4?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
