---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigKubeletArgs","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T15:28:38.307027Z","custom_routes_propagation_enabled":true,"id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33","is_default":false,"name":"testAccCheckK8SPoolConfigKubeletArgs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T15:28:38.307027Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.667958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b1895d78-4de4-4a1e-98f0-8cf55cfffd33
        method: GET
      response:
        body: '{"created_at":"2025-09-30T15:28:38.307027Z","custom_routes_propagation_enabled":true,"id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33","is_default":false,"name":"testAccCheckK8SPoolConfigKubeletArgs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T15:28:38.307027Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.533042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T15:28:38.593285Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T15:28:38.593285Z","id":"b3af8ba0-398d-42e1-aa7a-88d1cd002472","private_network_id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.164.0/22","updated_at":"2025-09-30T15:28:38.593285Z","vpc_id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33"},{"created_at":"2025-09-30T15:28:38.593285Z","id":"e6573a92-ec9f-4ec2-bd71-cc659a80b622","private_network_id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2634::/64","updated_at":"2025-09-30T15:28:38.593285Z","vpc_id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33"}],"tags":[],"updated_at":"2025-09-30T15:28:38.593285Z","vpc_id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 831.102917ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19
        method: GET
      response:
        body: '{"created_at":"2025-09-30T15:28:38.593285Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T15:28:38.593285Z","id":"b3af8ba0-398d-42e1-aa7a-88d1cd002472","private_network_id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.164.0/22","updated_at":"2025-09-30T15:28:38.593285Z","vpc_id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33"},{"created_at":"2025-09-30T15:28:38.593285Z","id":"e6573a92-ec9f-4ec2-bd71-cc659a80b622","private_network_id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:2634::/64","updated_at":"2025-09-30T15:28:38.593285Z","vpc_id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33"}],"tags":[],"updated_at":"2025-09-30T15:28:38.593285Z","vpc_id":"b1895d78-4de4-4a1e-98f0-8cf55cfffd33"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.759125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.34.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://9a9114c9-bfef-41b5-b14f-68a3bfca2ffe.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-09-30T15:28:39.685767Z","created_at":"2025-09-30T15:28:39.685750Z","description":"","dns_wildcard":"*.9a9114c9-bfef-41b5-b14f-68a3bfca2ffe.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"9a9114c9-bfef-41b5-b14f-68a3bfca2ffe","name":"test-pool-kubelet-args","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"6fa9fd74-d94d-4eeb-bdce-2b57abbc2f19","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2025-09-30T15:28:39.685750Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.883959ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9a9114c9-bfef-41b5-b14f-68a3bfca2ffe
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9a9114c9-bfef-41b5-b14f-68a3bfca2ffe/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.145542ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9a9114c9-bfef-41b5-b14f-68a3bfca2ffe/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWVJFTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRVUnJlVTlVUlRGTmFtZDZUMVp2V0VSVVRURk5SR3Q1VDFSRk1VMXFaM3BQVm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0VFd1N[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9a9114c9-bfef-41b5-b14f-68a3bfca2ffe/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"9a9114c9-bfef-41b5-b14f-68a3bfca2ffe","container_runtime":"containerd","created_at":"2025-09-30T15:28:45.446495Z","id":"6fa9a3bf-add6-477b-8e7b-eca980fce65b","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2025-09-30T15:28:45.446495Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.540917ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/6fa9a3bf-add6-477b-8e7b-eca980fce65b
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"9a9114c9-bfef-41b5-b14f-68a3bfca2ffe","container_runtime":"containerd","created_at":"2025-09-30T15:28:45.446495Z","id":"6fa9a3bf-add6-477b-8e7b-eca980fce65b","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2025-09-30T15:28:45.446495Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.183084ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9a9114c9-bfef-41b5-b14f-68a3bfca2ffe/nodes?order_by=created_at_asc&page=1&pool_id=6fa9a3bf-add6-477b-8e7b-eca980fce65b&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"9a9114c9-bfef-41b5-b14f-68a3bfca2ffe","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T15:34:03.547620Z","error_message":"","id":"6cdacd7f-096e-483d-9723-230d1c5d82d9","name":"scw-test-pool-kubelet-test-pool-kubelet-6cdacd","pool_id":"6fa9a3bf-add6-477b-8e7b-eca980fce65b","provider_id":"scaleway://instance/fr-par-1/a8ef77de-ad1b-4871-8143-d95acdb79185","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T15:35:01.251422Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.380125ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-kubelet-test-pool-kubelet-6cdacd&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:2634:2703:f23f:75d:8a21/64","created_at":"2025-09-30T15:34:07.149244Z","id":"bee33e92-9092-4800-981a-992b53cdae25","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"bf1da1e9-0c7e-4106-af5a-6cb1d7f2c5ef","mac_address":"02:00:00:11:D9:00","name":"scw-test-pool-kubelet-test-pool-kubelet-6cdacd","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"e6573a92-ec9f-4ec2-bd71-cc659a80b622"},"tags":[],"updated_at":"2025-09-30T15:34:07.149244Z","zone":null},{"address":"172.17.164.3/22","created_at":"2025-09-30T15:34:07.039193Z","id":"c90cd107-15f9-4c35-8f50-e8b8adef910f","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"bf1da1e9-0c7e-4106-af5a-6cb1d7f2c5ef","mac_address":"02:00:00:11:D9:00","name":"scw-test-pool-kubelet-test-pool-kubelet-6cdacd","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"b3af8ba0-398d-42e1-aa7a-88d1cd002472"},"tags":[],"updated_at":"2025-09-30T15:34:07.039193Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.490583ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9a9114c9-bfef-41b5-b14f-68a3bfca2ffe/nodes?order_by=created_at_asc&page=1&pool_id=6fa9a3bf-add6-477b-8e7b-eca980fce65b&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"9a9114c9-bfef-41b5-b14f-68a3bfca2ffe","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T15:34:03.547620Z","error_message":"","id":"6cdacd7f-096e-483d-9723-230d1c5d82d9","name":"scw-test-pool-kubelet-test-pool-kubelet-6cdacd","pool_id":"6fa9a3bf-add6-477b-8e7b-eca980fce65b","provider_id":"scaleway://instance/fr-par-1/a8ef77de-ad1b-4871-8143-d95acdb79185","public_ip_v4":"163.172.149.221","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T15:35:06.225029Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.492041ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/6fa9a3bf-add6-477b-8e7b-eca980fce65b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"6fa9a3bf-add6-477b-8e7b-eca980fce65b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.751417ms
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9a9114c9-bfef-41b5-b14f-68a3bfca2ffe?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
