---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-14T22:51:52.598330Z","dhcp_enabled":true,"id":"35884e2b-fd9f-4856-955d-24b7d834b63a","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T22:51:52.598330Z","id":"33b0da33-61ec-4d5d-954a-2d8751169751","private_network_id":"35884e2b-fd9f-4856-955d-24b7d834b63a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.16.0/22","updated_at":"2025-05-14T22:51:52.598330Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T22:51:52.598330Z","id":"1fb63a19-d443-4c1b-8fd1-ee273c301079","private_network_id":"35884e2b-fd9f-4856-955d-24b7d834b63a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:4d51::/64","updated_at":"2025-05-14T22:51:52.598330Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T22:51:52.598330Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 581.643208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/35884e2b-fd9f-4856-955d-24b7d834b63a
        method: GET
      response:
        body: '{"created_at":"2025-05-14T22:51:52.598330Z","dhcp_enabled":true,"id":"35884e2b-fd9f-4856-955d-24b7d834b63a","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-14T22:51:52.598330Z","id":"33b0da33-61ec-4d5d-954a-2d8751169751","private_network_id":"35884e2b-fd9f-4856-955d-24b7d834b63a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.16.0/22","updated_at":"2025-05-14T22:51:52.598330Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-14T22:51:52.598330Z","id":"1fb63a19-d443-4c1b-8fd1-ee273c301079","private_network_id":"35884e2b-fd9f-4856-955d-24b7d834b63a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:4d51::/64","updated_at":"2025-05-14T22:51:52.598330Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-14T22:51:52.598330Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.996699ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"35884e2b-fd9f-4856-955d-24b7d834b63a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://814d3a56-9d2a-4aa8-9908-f9959f056457.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-05-14T22:51:53.759899Z","created_at":"2025-05-14T22:51:53.759885Z","description":"","dns_wildcard":"*.814d3a56-9d2a-4aa8-9908-f9959f056457.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"814d3a56-9d2a-4aa8-9908-f9959f056457","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"35884e2b-fd9f-4856-955d-24b7d834b63a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-05-14T22:51:53.759885Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.071609928s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.280526ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYaE5la2w1VGxSRk1VNUdiMWhFVkUweFRVUlZlRTE2U1hsT1ZFVXhUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"814d3a56-9d2a-4aa8-9908-f9959f056457","container_runtime":"containerd","created_at":"2025-05-14T22:52:00.865163Z","id":"ac472215-e697-48cf-9769-734c32809297","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-05-14T22:52:00.865163Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.899822ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ac472215-e697-48cf-9769-734c32809297
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"814d3a56-9d2a-4aa8-9908-f9959f056457","container_runtime":"containerd","created_at":"2025-05-14T22:52:00.865163Z","id":"ac472215-e697-48cf-9769-734c32809297","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-05-14T22:52:00.865163Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.058998ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457/nodes?order_by=created_at_asc&page=1&pool_id=ac472215-e697-48cf-9769-734c32809297&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"814d3a56-9d2a-4aa8-9908-f9959f056457","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T22:53:30.155475Z","error_message":"","id":"0c4cb58e-cbe7-4115-b15b-5781a37a209c","name":"scw-test-pool-minimal-test-pool-minimal-0c4cb5","pool_id":"ac472215-e697-48cf-9769-734c32809297","provider_id":"scaleway://instance/fr-par-1/718de0fe-1508-4b04-8c64-59402d9b3332","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T22:57:01.985201Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 420.145392ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-minimal-test-pool-minimal-0c4cb5&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:4d51:c8c2:82e5:f8ca:7ade/64","created_at":"2025-05-14T22:53:35.371607Z","id":"a3a9f7ca-fbe7-4ebd-ba2f-9e70d99537b7","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"0ef3f33e-3e5e-47de-8653-466cb5cf1935","mac_address":"02:00:00:13:2B:03","name":"scw-test-pool-minimal-test-pool-minimal-0c4cb5","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"1fb63a19-d443-4c1b-8fd1-ee273c301079"},"tags":[],"updated_at":"2025-05-14T22:53:35.371607Z","zone":null},{"address":"172.16.16.3/22","created_at":"2025-05-14T22:53:35.018052Z","id":"62109d60-5f10-42c1-9a91-84c7e95be184","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"0ef3f33e-3e5e-47de-8653-466cb5cf1935","mac_address":"02:00:00:13:2B:03","name":"scw-test-pool-minimal-test-pool-minimal-0c4cb5","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"33b0da33-61ec-4d5d-954a-2d8751169751"},"tags":[],"updated_at":"2025-05-14T22:53:35.018052Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.940044ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457/nodes?order_by=created_at_asc&pool_id=ac472215-e697-48cf-9769-734c32809297&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"814d3a56-9d2a-4aa8-9908-f9959f056457","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T22:53:30.155475Z","error_message":"","id":"0c4cb58e-cbe7-4115-b15b-5781a37a209c","name":"scw-test-pool-minimal-test-pool-minimal-0c4cb5","pool_id":"ac472215-e697-48cf-9769-734c32809297","provider_id":"scaleway://instance/fr-par-1/718de0fe-1508-4b04-8c64-59402d9b3332","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T22:57:01.985201Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.194309ms
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/718de0fe-1508-4b04-8c64-59402d9b3332
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-05-14T22:53:32.483459+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-0c4cb5","id":"718de0fe-1508-4b04-8c64-59402d9b3332","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"59","hypervisor_id":"701","node_id":"1","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ae:19:b3","maintenances":[],"modification_date":"2025-05-14T22:53:38.596743+00:00","name":"scw-test-pool-minimal-test-pool-minimal-0c4cb5","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-05-14T22:53:34.394977+00:00","id":"0ef3f33e-3e5e-47de-8653-466cb5cf1935","ipam_ip_ids":["62109d60-5f10-42c1-9a91-84c7e95be184","a3a9f7ca-fbe7-4ebd-ba2f-9e70d99537b7"],"mac_address":"02:00:00:13:2b:03","modification_date":"2025-05-14T22:53:34.576702+00:00","private_network_id":"35884e2b-fd9f-4856-955d-24b7d834b63a","server_id":"718de0fe-1508-4b04-8c64-59402d9b3332","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.79.133","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"dc0ca1fe-a12f-4b6f-89c8-a83424fcf017","ipam_id":"2d7d346f-b2cd-4ed7-9a61-16d769afdd91","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=814d3a56-9d2a-4aa8-9908-f9959f056457","node-name=scw-test-pool-minimal-test-pool-minimal-0c4cb5"]},"public_ips":[{"address":"51.158.79.133","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"dc0ca1fe-a12f-4b6f-89c8-a83424fcf017","ipam_id":"2d7d346f-b2cd-4ed7-9a61-16d769afdd91","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=814d3a56-9d2a-4aa8-9908-f9959f056457","node-name=scw-test-pool-minimal-test-pool-minimal-0c4cb5"]},{"address":"2001:bc8:710:3c3b:dc00:ff:feae:19b3","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feae:19b4","id":"a81b021c-d607-4479-aa5b-816afdadec9f","ipam_id":"934bc724-8681-409f-9ae4-811f60681893","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=814d3a56-9d2a-4aa8-9908-f9959f056457","node-name=scw-test-pool-minimal-test-pool-minimal-0c4cb5"]}],"routed_ip_enabled":true,"security_group":{"id":"3d493a95-7afe-43e7-8321-d8b41c45f8f9","name":"kubernetes 814d3a56-9d2a-4aa8-9908-f9959f056457"},"state":"running","state_detail":"booted","tags":["kapsule=814d3a56-9d2a-4aa8-9908-f9959f056457","pool=ac472215-e697-48cf-9769-734c32809297","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=0c4cb58e-cbe7-4115-b15b-5781a37a209c"],"volumes":{"0":{"boot":true,"id":"087d0966-9a9b-4350-8789-e8b3dce39f8b","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.680323ms
[...]
    - id: 135
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-minima-test-pool-minimal--bc672f&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:4d51:ef77:c3d1:156d:414b/64","created_at":"2025-05-14T22:57:23.636594Z","id":[...]
[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457/nodes?order_by=created_at_asc&pool_id=ac472215-e697-48cf-9769-734c32809297&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"814d3a56-9d2a-4aa8-9908-f9959f056457","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-14T22:53:30.155475Z","error_message":"","id":"0c4cb58e-cbe7-4115-b15b-5781a37a209c","name":"scw-test-pool-minimal-test-pool-minimal-0c4cb5","pool_id":"ac472215-e697-48cf-9769-734c32809297","provider_id":"scaleway://instance/fr-par-1/718de0fe-1508-4b04-8c64-59402d9b3332","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-14T23:00:24.697218Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.845783ms
[...]
    - id: 178
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/411b24b4-d59f-4cdc-a120-c0390b4dc6da
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"411b24b4-d59f-4cdc-a120-c0390b4dc6da","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.40103ms
[...]
    - id: 217
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/814d3a56-9d2a-4aa8-9908-f9959f056457?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
