---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-02T13:00:15.671991Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-07-02T13:00:15.671991Z","id":"9ae24bfb-30c5-42c4-af3f-5349982a4cea","private_network_id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.40.0/22","updated_at":"2025-07-02T13:00:15.671991Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-07-02T13:00:15.671991Z","id":"6df73fc0-0011-4f66-ae24-79a32f105e45","private_network_id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:e7f7::/64","updated_at":"2025-07-02T13:00:15.671991Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-07-02T13:00:15.671991Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 772.958669ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a50ecde9-0ba2-4072-a11d-696dd3a54e90
        method: GET
      response:
        body: '{"created_at":"2025-07-02T13:00:15.671991Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-07-02T13:00:15.671991Z","id":"9ae24bfb-30c5-42c4-af3f-5349982a4cea","private_network_id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.40.0/22","updated_at":"2025-07-02T13:00:15.671991Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-07-02T13:00:15.671991Z","id":"6df73fc0-0011-4f66-ae24-79a32f105e45","private_network_id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:e7f7::/64","updated_at":"2025-07-02T13:00:15.671991Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-07-02T13:00:15.671991Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.013099ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://768474b5-dae6-4c11-b6ae-f09aeaf40e2f.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-07-02T13:00:16.853880Z","created_at":"2025-07-02T13:00:16.853871Z","description":"","dns_wildcard":"*.768474b5-dae6-4c11-b6ae-f09aeaf40e2f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"768474b5-dae6-4c11-b6ae-f09aeaf40e2f","name":"test-pool-minimal","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-07-02T13:00:16.853871Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.266485ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.354634ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVkzZE5WRVY2VFVSQmVFOUdiMWhFVkUweFRVUmpkMDFVUlhwTlJFRjRUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"768474b5-dae6-4c11-b6ae-f09aeaf40e2f","container_runtime":"containerd","created_at":"2025-07-02T13:00:22.340911Z","id":"be768bf4-0f23-4988-a220-584b21e8b414","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"a50aef46-6769-4252-aa3a-596b1389f4cb","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-07-02T13:00:22.340911Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 492.469785ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/be768bf4-0f23-4988-a220-584b21e8b414
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"768474b5-dae6-4c11-b6ae-f09aeaf40e2f","container_runtime":"containerd","created_at":"2025-07-02T13:00:22.340911Z","id":"be768bf4-0f23-4988-a220-584b21e8b414","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","new_images_enabled":false,"node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"a50aef46-6769-4252-aa3a-596b1389f4cb","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-07-02T13:00:22.340911Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.521673ms
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f/nodes?order_by=created_at_asc&page=1&pool_id=be768bf4-0f23-4988-a220-584b21e8b414&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"768474b5-dae6-4c11-b6ae-f09aeaf40e2f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-07-02T13:03:28.793946Z","error_message":"","id":"4863e259-aad1-4223-8c98-517ad3423f64","name":"scw-test-pool-minimal-test-pool-minimal-4863e2","pool_id":"be768bf4-0f23-4988-a220-584b21e8b414","provider_id":"scaleway://instance/fr-par-1/1639c176-60e0-426e-a7f2-144b197f3564","public_ip_v4":"51.158.110.138","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-07-02T13:06:07.500916Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.676459ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-minimal-test-pool-minimal-4863e2&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:e7f7:a98b:3c93:6600:8fa8/64","created_at":"2025-07-02T13:03:41.030585Z","id":"af3e6b49-88e0-44c4-b3cf-3e032e2541af","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"7fcc093a-db98-4f93-a471-06243d12052a","mac_address":"02:00:00:12:19:FE","name":"scw-test-pool-minimal-test-pool-minimal-4863e2","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"6df73fc0-0011-4f66-ae24-79a32f105e45"},"tags":[],"updated_at":"2025-07-02T13:03:41.030585Z","zone":null},{"address":"172.16.40.3/22","created_at":"2025-07-02T13:03:38.449915Z","id":"85bba0fa-4856-4ad3-b24e-8ce81fd67aae","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"7fcc093a-db98-4f93-a471-06243d12052a","mac_address":"02:00:00:12:19:FE","name":"scw-test-pool-minimal-test-pool-minimal-4863e2","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"9ae24bfb-30c5-42c4-af3f-5349982a4cea"},"tags":[],"updated_at":"2025-07-02T13:03:38.449915Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.997985ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f/nodes?order_by=created_at_asc&pool_id=be768bf4-0f23-4988-a220-584b21e8b414&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"768474b5-dae6-4c11-b6ae-f09aeaf40e2f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-07-02T13:03:28.793946Z","error_message":"","id":"4863e259-aad1-4223-8c98-517ad3423f64","name":"scw-test-pool-minimal-test-pool-minimal-4863e2","pool_id":"be768bf4-0f23-4988-a220-584b21e8b414","provider_id":"scaleway://instance/fr-par-1/1639c176-60e0-426e-a7f2-144b197f3564","public_ip_v4":"51.158.110.138","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-07-02T13:06:07.500916Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.324671ms
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1639c176-60e0-426e-a7f2-144b197f3564
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-07-02T13:03:30.620968+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-4863e2","id":"1639c176-60e0-426e-a7f2-144b197f3564","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"33","hypervisor_id":"501","node_id":"34","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ba:a8:51","maintenances":[],"modification_date":"2025-07-02T13:03:45.155775+00:00","name":"scw-test-pool-minimal-test-pool-minimal-4863e2","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-07-02T13:03:32.004964+00:00","id":"7fcc093a-db98-4f93-a471-06243d12052a","ipam_ip_ids":["85bba0fa-4856-4ad3-b24e-8ce81fd67aae","af3e6b49-88e0-44c4-b3cf-3e032e2541af"],"mac_address":"02:00:00:12:19:fe","modification_date":"2025-07-02T13:03:32.243854+00:00","private_network_id":"a50ecde9-0ba2-4072-a11d-696dd3a54e90","server_id":"1639c176-60e0-426e-a7f2-144b197f3564","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.110.138","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"17809277-e1b3-4a07-97cf-d90aea81ccb2","ipam_id":"323e2334-50b1-4066-bd22-27c8c90c67bb","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=768474b5-dae6-4c11-b6ae-f09aeaf40e2f","node-name=scw-test-pool-minimal-test-pool-minimal-4863e2"]},"public_ips":[{"address":"51.158.110.138","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"17809277-e1b3-4a07-97cf-d90aea81ccb2","ipam_id":"323e2334-50b1-4066-bd22-27c8c90c67bb","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=768474b5-dae6-4c11-b6ae-f09aeaf40e2f","node-name=scw-test-pool-minimal-test-pool-minimal-4863e2"]},{"address":"2001:bc8:710:3c3b:dc00:ff:feba:a851","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feba:a852","id":"a81b021c-d607-4479-aa5b-816afdadec9f","ipam_id":"5f942481-f9ca-45fc-9d3e-e2f634c4eadc","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=768474b5-dae6-4c11-b6ae-f09aeaf40e2f","node-name=scw-test-pool-minimal-test-pool-minimal-4863e2"]}],"routed_ip_enabled":true,"security_group":{"id":"a50aef46-6769-4252-aa3a-596b1389f4cb","name":"Kapsule default security group"},"state":"running","state_detail":"booted","tags":["kapsule=768474b5-dae6-4c11-b6ae-f09aeaf40e2f","pool=be768bf4-0f23-4988-a220-584b21e8b414","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=4863e259-aad1-4223-8c98-517ad3423f64"],"volumes":{"0":{"boot":true,"id":"2bfe7ce6-aac8-4013-9e36-bfabcb5651a1","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.634884ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_name=scw-test-pool-minima-test-pool-minimal--824de7&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:e7f7:33ed:c222:88:6b39/64","created_at":"2025-07-02T13:06:25.811983Z","id":"2[...]
[...]
    - id: 151
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f/nodes?order_by=created_at_asc&pool_id=be768bf4-0f23-4988-a220-584b21e8b414&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"768474b5-dae6-4c11-b6ae-f09aeaf40e2f","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-07-02T13:03:28.793946Z","error_message":"","id":"4863e259-aad1-4223-8c98-517ad3423f64","name":"scw-test-pool-minimal-test-pool-minimal-4863e2","pool_id":"be768bf4-0f23-4988-a220-584b21e8b414","provider_id":"scaleway://instance/fr-par-1/1639c176-60e0-426e-a7f2-144b197f3564","public_ip_v4":"51.158.110.138","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-07-02T13:09:17.928019Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.27954ms
[...]
    - id: 191
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f2a7a899-5f71-49db-bff5-b894bdf77d91
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"f2a7a899-5f71-49db-bff5-b894bdf77d91","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.809667ms
[...]
    - id: 257
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/768474b5-dae6-4c11-b6ae-f09aeaf40e2f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
