---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:13:40.115789Z","dhcp_enabled":true,"id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-24T08:13:40.115789Z","id":"75b9567d-37a3-4569-8d17-afedfcc4befa","private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2025-03-24T08:13:40.115789Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-03-24T08:13:40.115789Z","id":"866214a1-7134-45c3-9414-b914c8766708","private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ec3b::/64","updated_at":"2025-03-24T08:13:40.115789Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-03-24T08:13:40.115789Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 629.747371ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2177e306-fcad-4127-ba67-ba1abe0d58cb
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:13:40.115789Z","dhcp_enabled":true,"id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-24T08:13:40.115789Z","id":"75b9567d-37a3-4569-8d17-afedfcc4befa","private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2025-03-24T08:13:40.115789Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-03-24T08:13:40.115789Z","id":"866214a1-7134-45c3-9414-b914c8766708","private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ec3b::/64","updated_at":"2025-03-24T08:13:40.115789Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-03-24T08:13:40.115789Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.422144ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.32.3","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2fd5d612-425f-4b4b-ae74-16eda80368e6.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-03-24T08:13:42.105610Z","created_at":"2025-03-24T08:13:42.105600Z","description":"","dns_wildcard":"*.2fd5d612-425f-4b4b-ae74-16eda80368e6.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"2fd5d612-425f-4b4b-ae74-16eda80368e6","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2025-03-24T08:13:42.105600Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.344905451s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2fd5d612-425f-4b4b-ae74-16eda80368e6
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2fd5d612-425f-4b4b-ae74-16eda80368e6/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.73513ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2fd5d612-425f-4b4b-ae74-16eda80368e6/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVUWGxOZWtFMFRWUk5NRTB4YjFoRVZFMHhUVVJOZVUxNlFUUk5WRTB3VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2fd5d612-425f-4b4b-ae74-16eda80368e6/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"2fd5d612-425f-4b4b-ae74-16eda80368e6","container_runtime":"containerd","created_at":"2025-03-24T08:13:47.980909Z","id":"f0556a65-6164-4778-b0b2-2039c6164319","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-03-24T08:13:47.980909Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.335631ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f0556a65-6164-4778-b0b2-2039c6164319
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"2fd5d612-425f-4b4b-ae74-16eda80368e6","container_runtime":"containerd","created_at":"2025-03-24T08:13:47.980909Z","id":"f0556a65-6164-4778-b0b2-2039c6164319","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-03-24T08:13:47.980909Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.100862ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2fd5d612-425f-4b4b-ae74-16eda80368e6/nodes?order_by=created_at_asc&page=1&pool_id=f0556a65-6164-4778-b0b2-2039c6164319&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2fd5d612-425f-4b4b-ae74-16eda80368e6","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-03-24T08:15:12.585532Z","error_message":"","id":"e8a66a4f-fd00-4c5d-9087-b13c53f889a9","name":"scw-test-k8s-public-i-test-k8s-public-i-e8a66a","pool_id":"f0556a65-6164-4778-b0b2-2039c6164319","provider_id":"scaleway://instance/fr-par-1/6f5502f4-0f68-4158-83bc-3a3e06c02b2c","public_ip_v4":"51.158.118.212","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-03-24T08:20:06.962240Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.151343ms
[...]
    - id: 92
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2fd5d612-425f-4b4b-ae74-16eda80368e6/nodes?order_by=created_at_asc&pool_id=f0556a65-6164-4778-b0b2-2039c6164319&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2fd5d612-425f-4b4b-ae74-16eda80368e6","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-03-24T08:15:12.585532Z","error_message":"","id":"e8a66a4f-fd00-4c5d-9087-b13c53f889a9","name":"scw-test-k8s-public-i-test-k8s-public-i-e8a66a","pool_id":"f0556a65-6164-4778-b0b2-2039c6164319","provider_id":"scaleway://instance/fr-par-1/6f5502f4-0f68-4158-83bc-3a3e06c02b2c","public_ip_v4":"51.158.118.212","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-03-24T08:20:06.962240Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.795326ms
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/6f5502f4-0f68-4158-83bc-3a3e06c02b2c
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-03-24T08:15:14.749349+00:00","dynamic_ip_required":false,"enable_ipv6":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-e8a66a","id":"6f5502f4-0f68-4158-83bc-3a3e06c02b2c","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"33","hypervisor_id":"601","node_id":"12","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:9e:89:45","maintenances":[],"modification_date":"2025-03-24T08:15:20.944702+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-e8a66a","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-03-24T08:15:16.342657+00:00","id":"4f617585-14ff-4891-af43-65ddec762b00","ipam_ip_ids":["6fb09529-3f62-4f34-8080-3222166ec032","57f509d3-8403-4d44-80a6-d2bb83140d82"],"mac_address":"02:00:00:1b:07:1e","modification_date":"2025-03-24T08:15:16.476827+00:00","private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","server_id":"6f5502f4-0f68-4158-83bc-3a3e06c02b2c","state":"available","tags":[],"zone":"fr-par-1"}],"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"public_ip":{"address":"51.158.118.212","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"77c55ccf-e1dd-4052-ace3-32be2de61ffd","ipam_id":"0b6f884f-11d3-47b3-9f1f-4a9682a56fce","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=2fd5d612-425f-4b4b-ae74-16eda80368e6","node-name=scw-test-k8s-public-i-test-k8s-public-i-e8a66a"]},"public_ips":[{"address":"51.158.118.212","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"77c55ccf-e1dd-4052-ace3-32be2de61ffd","ipam_id":"0b6f884f-11d3-47b3-9f1f-4a9682a56fce","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=2fd5d612-425f-4b4b-ae74-16eda80368e6","node-name=scw-test-k8s-public-i-test-k8s-public-i-e8a66a"]},{"address":"2001:bc8:710:2859:dc00:ff:fe9e:8945","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:fe9e:8946","id":"b0c299e8-80ec-4ffc-b5b7-3c6a43f74d7a","ipam_id":"c970cbdd-17e0-47b7-a86c-585fbbc24b8d","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=2fd5d612-425f-4b4b-ae74-16eda80368e6","node-name=scw-test-k8s-public-i-test-k8s-public-i-e8a66a"]}],"routed_ip_enabled":true,"security_group":{"id":"5d95afbd-06ce-4334-b477-ee883e89524b","name":"kubernetes 2fd5d612-425f-4b4b-ae74-16eda80368e6"},"state":"running","state_detail":"booted","tags":["kapsule=2fd5d612-425f-4b4b-ae74-16eda80368e6","pool=f0556a65-6164-4778-b0b2-2039c6164319","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=e8a66a4f-fd00-4c5d-9087-b13c53f889a9"],"volumes":{"0":{"boot":true,"id":"d680a2df-2d58-4502-9ec6-032865905c83","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.20316ms
[...]
    - id: 156
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f0556a65-6164-4778-b0b2-2039c6164319
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"f0556a65-6164-4778-b0b2-2039c6164319","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.630716ms
    - id: 157
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:24:34.029175Z","gateway_networks":[],"id":"1145fd31-3b8f-463d-9619-deadccd4509a","ipv4":{"address":"51.15.244.79","created_at":"2025-03-24T08:24:34.007617Z","gateway_id":"1145fd31-3b8f-463d-9619-deadccd4509a","id":"609cc4ed-e6f5-4492-b760-c2bb8d63d89c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"79-244-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:24:34.007617Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:24:34.029175Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.352759495s
    - id: 158
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/1145fd31-3b8f-463d-9619-deadccd4509a
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:24:34.029175Z","gateway_networks":[],"id":"1145fd31-3b8f-463d-9619-deadccd4509a","ipv4":{"address":"51.15.244.79","created_at":"2025-03-24T08:24:34.007617Z","gateway_id":"1145fd31-3b8f-463d-9619-deadccd4509a","id":"609cc4ed-e6f5-4492-b760-c2bb8d63d89c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"79-244-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:24:34.007617Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:24:34.070278Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.100726ms
[...]
    - id: 162
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"1145fd31-3b8f-463d-9619-deadccd4509a","private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:24:40.139725Z","gateway_id":"1145fd31-3b8f-463d-9619-deadccd4509a","id":"2abc0259-8211-43f6-a20f-e539ba8ef8f9","ipam_ip_id":"efb1ff2a-f554-409c-bf2b-061db36a95b7","masquerade_enabled":true,"private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","push_default_route":true,"status":"created","updated_at":"2025-03-24T08:24:40.139725Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.534296ms
[...]
    - id: 167
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/2abc0259-8211-43f6-a20f-e539ba8ef8f9
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:24:40.139725Z","gateway_id":"1145fd31-3b8f-463d-9619-deadccd4509a","id":"2abc0259-8211-43f6-a20f-e539ba8ef8f9","ipam_ip_id":"efb1ff2a-f554-409c-bf2b-061db36a95b7","mac_address":"02:00:00:14:F8:6B","masquerade_enabled":true,"private_network_id":"2177e306-fcad-4127-ba67-ba1abe0d58cb","push_default_route":true,"status":"ready","updated_at":"2025-03-24T08:24:50.577797Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.124853ms
[...]
    - id: 322
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2fd5d612-425f-4b4b-ae74-16eda80368e6?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
    - id: 330
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/1145fd31-3b8f-463d-9619-deadccd4509a?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:24:34.029175Z","gateway_networks":[],"id":"1145fd31-3b8f-463d-9619-deadccd4509a","ipv4":{"address":"51.15.244.79","created_at":"2025-03-24T08:24:34.007617Z","gateway_id":"1145fd31-3b8f-463d-9619-deadccd4509a","id":"609cc4ed-e6f5-4492-b760-c2bb8d63d89c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"79-244-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:24:34.007617Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:36:36.084053Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.873583ms
[...]
