---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:46:51.211895Z","dhcp_enabled":true,"id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:51.211895Z","id":"797e35f6-8124-4811-b4b0-af736a554905","private_network_id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.56.0/22","updated_at":"2025-01-24T14:46:51.211895Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:51.211895Z","id":"aeb4ef1a-01a5-43b5-a71b-5069716acca9","private_network_id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:27fe::/64","updated_at":"2025-01-24T14:46:51.211895Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:51.211895Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 843.530083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/81e939c3-89bf-4d7e-b01e-196d1d48db8a
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:46:51.211895Z","dhcp_enabled":true,"id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a","name":"test-pool-kubelet-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:46:51.211895Z","id":"797e35f6-8124-4811-b4b0-af736a554905","private_network_id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.56.0/22","updated_at":"2025-01-24T14:46:51.211895Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:46:51.211895Z","id":"aeb4ef1a-01a5-43b5-a71b-5069716acca9","private_network_id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:27fe::/64","updated_at":"2025-01-24T14:46:51.211895Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:46:51.211895Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.611459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://9ac58b2d-145d-4cd5-85b9-c355ca935310.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-24T14:46:52.472437Z","created_at":"2025-01-24T14:46:52.472427Z","description":"","dns_wildcard":"*.9ac58b2d-145d-4cd5-85b9-c355ca935310.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"9ac58b2d-145d-4cd5-85b9-c355ca935310","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"81e939c3-89bf-4d7e-b01e-196d1d48db8a","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2025-01-24T14:46:52.472427Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 608.425958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ac58b2d-145d-4cd5-85b9-c355ca935310
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ac58b2d-145d-4cd5-85b9-c355ca935310/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.205ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ac58b2d-145d-4cd5-85b9-c355ca935310/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFUlhsTmVrVXdUa1JaTVUweGIxaEVWRTB4VFVSRmVVMTZSVEJPUkZreFRURnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ac58b2d-145d-4cd5-85b9-c355ca935310/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"9ac58b2d-145d-4cd5-85b9-c355ca935310","container_runtime":"containerd","created_at":"2025-01-24T14:46:58.042011Z","id":"14cb4d5e-c799-4e0a-9eb9-bd68022f98cd","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2025-01-24T14:46:58.042011Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.928416ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/14cb4d5e-c799-4e0a-9eb9-bd68022f98cd
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"9ac58b2d-145d-4cd5-85b9-c355ca935310","container_runtime":"containerd","created_at":"2025-01-24T14:46:58.042011Z","id":"14cb4d5e-c799-4e0a-9eb9-bd68022f98cd","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2025-01-24T14:46:58.042011Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.162542ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ac58b2d-145d-4cd5-85b9-c355ca935310/nodes?order_by=created_at_asc&page=1&pool_id=14cb4d5e-c799-4e0a-9eb9-bd68022f98cd&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"9ac58b2d-145d-4cd5-85b9-c355ca935310","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:49:49.636603Z","error_message":"","id":"6dade09d-f9bf-4ec8-85b2-48f093397f41","name":"scw-test-pool-kubelet-test-pool-kubelet-6dade0","pool_id":"14cb4d5e-c799-4e0a-9eb9-bd68022f98cd","provider_id":"scaleway://instance/fr-par-1/a4789ff8-6ead-46de-9ede-5b7724d9b626","public_ip_v4":"51.15.234.137","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:37.703760Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.436166ms
[...]
    - id: 157
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/14cb4d5e-c799-4e0a-9eb9-bd68022f98cd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"14cb4d5e-c799-4e0a-9eb9-bd68022f98cd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.697791ms
    - id: 158
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ac58b2d-145d-4cd5-85b9-c355ca935310?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
