---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T13:57:35.287706Z","dhcp_enabled":true,"id":"205df83f-a270-4318-b228-326057bb48d8","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.287706Z","id":"d3c86ec0-8553-4617-9a0a-8aa5e63fc3c8","subnet":"172.16.216.0/22","updated_at":"2024-04-17T13:57:35.287706Z"},{"created_at":"2024-04-17T13:57:35.287706Z","id":"d819f82d-3eb3-46f1-9deb-79cc366c4364","subnet":"fd5f:519c:6d46:3078::/64","updated_at":"2024-04-17T13:57:35.287706Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.287706Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 753.763329ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/205df83f-a270-4318-b228-326057bb48d8
        method: GET
      response:
        body: '{"created_at":"2024-04-17T13:57:35.287706Z","dhcp_enabled":true,"id":"205df83f-a270-4318-b228-326057bb48d8","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T13:57:35.287706Z","id":"d3c86ec0-8553-4617-9a0a-8aa5e63fc3c8","subnet":"172.16.216.0/22","updated_at":"2024-04-17T13:57:35.287706Z"},{"created_at":"2024-04-17T13:57:35.287706Z","id":"d819f82d-3eb3-46f1-9deb-79cc366c4364","subnet":"fd5f:519c:6d46:3078::/64","updated_at":"2024-04-17T13:57:35.287706Z"}],"tags":[],"updated_at":"2024-04-17T13:57:35.287706Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.570046ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"205df83f-a270-4318-b228-326057bb48d8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://5b6a0e51-86a0-4079-9f13-684cbf86f49f.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-17T13:57:39.645787387Z","created_at":"2024-04-17T13:57:39.645787387Z","description":"","dns_wildcard":"*.5b6a0e51-86a0-4079-9f13-684cbf86f49f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"5b6a0e51-86a0-4079-9f13-684cbf86f49f","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"205df83f-a270-4318-b228-326057bb48d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2024-04-17T13:57:39.669057040Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.809239015s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b6a0e51-86a0-4079-9f13-684cbf86f49f
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b6a0e51-86a0-4079-9f13-684cbf86f49f/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.20641ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b6a0e51-86a0-4079-9f13-684cbf86f49f/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVVWGhPYWtWNlRsUmpNRTFzYjFoRVZFMHdUVVJSZUU1cVJYcE9WR013VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b6a0e51-86a0-4079-9f13-684cbf86f49f/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"5b6a0e51-86a0-4079-9f13-684cbf86f49f","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.165690Z","id":"391868b4-70ec-4775-87f5-f284483b0920","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2024-04-17T13:57:45.182894924Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 483.554709ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/391868b4-70ec-4775-87f5-f284483b0920
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"5b6a0e51-86a0-4079-9f13-684cbf86f49f","container_runtime":"containerd","created_at":"2024-04-17T13:57:45.165690Z","id":"391868b4-70ec-4775-87f5-f284483b0920","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2024-04-17T13:57:45.182895Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.159727ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b6a0e51-86a0-4079-9f13-684cbf86f49f/nodes?order_by=created_at_asc&page=1&pool_id=391868b4-70ec-4775-87f5-f284483b0920&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"5b6a0e51-86a0-4079-9f13-684cbf86f49f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T14:03:00.927543Z","error_message":null,"id":"97524905-f4b2-414c-8189-c174862c2cc8","name":"scw-test-pool-upgrade-test-pool-upgrade-975249","pool_id":"391868b4-70ec-4775-87f5-f284483b0920","provider_id":"scaleway://instance/fr-par-1/255736bb-ec3b-40de-82e8-cea9f0833391","public_ip_v4":"51.15.234.12","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T14:05:25.160584Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.331712ms
[...]
    - id: 134
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/391868b4-70ec-4775-87f5-f284483b0920
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"391868b4-70ec-4775-87f5-f284483b0920","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.058412ms
    - id: 135
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5b6a0e51-86a0-4079-9f13-684cbf86f49f?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
