---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-zone\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\",\"name\":\"test-pool-zone\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:14.107170Z\",\"updated_at\":\"2025-08-28T14:13:14.107170Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"a11e37e1-e8bf-49f7-9696-e092ec7d9895\",\"created_at\":\"2025-08-28T14:13:14.107170Z\",\"updated_at\":\"2025-08-28T14:13:14.107170Z\",\"subnet\":\"172.16.100.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"b5de4c8a-1de8-441e-be86-4210522172d5\",\"created_at\":\"2025-08-28T14:13:14.107170Z\",\"updated_at\":\"2025-08-28T14:13:14.107170Z\",\"subnet\":\"fde7:767f:1bb5:ca92::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.974558786s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/298c6b09-bbee-476f-bdb4-fceb2ea56f52
    method: GET
  response:
    body: "{\"id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\",\"name\":\"test-pool-zone\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:13:14.107170Z\",\"updated_at\":\"2025-08-28T14:13:14.107170Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"a11e37e1-e8bf-49f7-9696-e092ec7d9895\",\"created_at\":\"2025-08-28T14:13:14.107170Z\",\"updated_at\":\"2025-08-28T14:13:14.107170Z\",\"subnet\":\"172.16.100.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"b5de4c8a-1de8-441e-be86-4210522172d5\",\"created_at\":\"2025-08-28T14:13:14.107170Z\",\"updated_at\":\"2025-08-28T14:13:14.107170Z\",\"subnet\":\"fde7:767f:1bb5:ca92::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 28.318429ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-zone\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"zone\"],\"version\":\"1.32.7\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"b578432e-543e-4dcb-9dd2-34cbc22a246c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:15.588616Z\",\"updated_at\":\"2025-08-28T14:13:15.588616Z\",\"type\":\"kapsule\",\"name\":\"test-pool-zone\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"cilium\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"zone\"],\"cluster_url\":\"https://b578432e-543e-4dcb-9dd2-34cbc22a246c.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.b578432e-543e-4dcb-9dd2-34cbc22a246c.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"298c6b09-bbee-476f-bdb4-fceb2ea56f52\",\"commitment_ends_at\":\"2025-08-28T14:13:15.588623Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 362.454156ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b578432e-543e-4dcb-9dd2-34cbc22a246c
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"b578432e-543e-4dcb-9dd2-34cbc22a246c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:15.588616Z\",\"updated_at\":\"2025-08-28T14:13:15.588616Z\",\"type\":\"kapsule[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b578432e-543e-4dcb-9dd2-34cbc22a246c/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.845792ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b578432e-543e-4dcb-9dd2-34cbc22a246c/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVozbE9la1V3VFZSTmVFNVdiMWhFVkUweFRVUm5lVTU2UlRCTlZFMTRUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORF[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-zone\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"zone\"],\"kubelet_args\":{},\"zone\":\"fr-par-2\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b578432e-543e-4dcb-9dd2-34cbc22a246c/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"923462d6-6c5c-4d7c-823f-2fecde8da229\",\"cluster_id\":\"b578432e-543e-4dcb-9dd2-34cbc22a246c\",\"created_at\":\"2025-08-28T14:13:21.373280Z\",\"updated_at\":\"2025-08-28T14:13:21.373280Z\",\"name\":\"test-pool-zone\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"zone\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-2\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"15ca1d8c-59d8-4bb0-af32-e44f33e65c99\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 292.708298ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/923462d6-6c5c-4d7c-823f-2fecde8da229
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"923462d6-6c5c-4d7c-823f-2fecde8da229\",\"cluster_id\":\"b578432e-543e-4dcb-9dd2-34cbc22a246c\",\"created_at\":\"2025-08-28T14:13:21.373280Z\",\"updated_at\":\"2025-08-28T14:13:21.373280Z\",\"name\":\"test-pool-zone\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"zone\"],\"placement_group_id\":null,\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-2\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"15ca1d8c-59d8-4bb0-af32-e44f33e65c99\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.305108ms
[...]
- id: 69
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 923462d6-6c5c-4d7c-823f-2fecde8da229
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b578432e-543e-4dcb-9dd2-34cbc22a246c/nodes?order_by=created_at_asc&page=1&pool_id=923462d6-6c5c-4d7c-823f-2fecde8da229&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"ad26431e-8244-4668-9767-e71f2f62483d\",\"cluster_id\":\"b578432e-543e-4dcb-9dd2-34cbc22a246c\",\"created_at\":\"2025-08-28T14:15:49.586369Z\",\"updated_at\":\"2025-08-28T14:18:02.047427Z\",\"pool_id\":\"923462d6-6c5c-4d7c-823f-2fecde8da229\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-zone-test-pool-zone-ad26431e8244\",\"public_ip_v4\":\"51.159.150.87\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-2/57e66052-37ad-4812-931b-f36303fe6c52\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.61751ms
[...]
- id: 71
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-zone-test-pool-zone-ad26431e8244
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-zone-test-pool-zone-ad26431e8244&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"4a4e49e4-bf6d-43a3-8ecc-a158ef509718\",\"address\":\"fde7:767f:1bb5:ca92:ebcd:1500:de52:3cc3/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:15:53.125706Z\",\"updated_at\":\"2025-08-28T14:15:53.125706Z\",\"source\":{\"subnet_id\":\"b5de4c8a-1de8-441e-be86-4210522172d5\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"a8576327-640e-4bef-9b50-9e6238057a86\",\"mac_address\":\"02:00:00:27:17:0B\",\"name\":\"scw-test-pool-zone-test-pool-zone-ad26431e8244\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"c0036aac-b3b4-4570-8e6f-ad0da2739b89\",\"address\":\"172.16.100.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:15:52.972125Z\",\"updated_at\":\"2025-08-28T14:15:52.972125Z\",\"source\":{\"subnet_id\":\"a11e37e1-e8bf-49f7-9696-e092ec7d9895\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"a8576327-640e-4bef-9b50-9e6238057a86\",\"mac_address\":\"02:00:00:27:17:0B\",\"name\":\"scw-test-pool-zone-test-pool-zone-ad26431e8244\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 36.396289ms
[...]
- id: 133
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/923462d6-6c5c-4d7c-823f-2fecde8da229
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"923462d6-6c5c-4d7c-823f-2fecde8da229\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 19.434446ms
- id: 134
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b578432e-543e-4dcb-9dd2-34cbc22a246c?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"b578432e-543e-4dcb-9dd2-34cbc22a246c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:13:15.588616Z\",\"updated_at\":\"2025-08-28T14:22:24.204282Z\",\"type\":\"k[...]
[...]
