---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\",\"name\":\"1.32.7\",\"label\":\"Kubernetes 1.32.7\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"DRAAdminAccess\",\"DRAResourceClaimDeviceStatus\",\"DynamicResourceAllocation\",\"PodLevelResources\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\",\"containerLogMaxSize\":\"quantity\",\"cpuCFSQuota\":\"bool\",\"cpuCFSQuotaPeriod\":\"duration\",\"cpuManagerPolicy\":\"enum:none|static\",\"cpuManagerPolicyOptions\":\"map[string]string\",\"enableDebuggingHandlers\":\"bool\",\"evictionHard\":\"map[string]string\",\"evictionMinimumReclaim\":\"map[string]string\",\"imageGCHighThresholdPercent\":\"uint32\",\"imageGCLowThresholdPercent\":\"uint32\",\"maxParallelImagePulls\":\"int32\",\"maxPods\":\"uint16\",\"registryBurst\":\"int32\",\"registryPullQPS\":\"int32\",\"serializeImagePulls\":\"bool\"}},{\"region\":\"fr-par\",\"name\":\"1.31.11\",\"label\":\"Kubernetes 1.31.11\",\"available_cnis\":[\"cilium\",\"calico\",\"kilo\",\"none\"],\"available_container_runtimes\":[\"containerd\"],\"available_feature_gates\":[\"HPAScaleToZero\",\"InPlacePodVerticalScaling\",\"SidecarContainers\",\"CPUManagerPolicyAlphaOptions\"],\"available_admission_plugins\":[\"AlwaysPullImages\",\"PodNodeSelector\",\"PodTolerationRestriction\"],\"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"policy_mode\":\"optional\",\"policy_type\":\"max_availability\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: "{\"placement_group\": {\"id\": \"e1231fdc-fb0b-46ee-9ab2-a3e0a3393917\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"d03c0af1-fec9-44aa-a12c-54cb13072778\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e1231fdc-fb0b-46ee-9ab2-a3e0a3393917
    status: 201 Created
    code: 201
    duration: 267.096849ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e1231fdc-fb0b-46ee-9ab2-a3e0a3393917
    method: GET
  response:
    body: "{\"placement_group\": {\"id\": \"e1231fdc-fb0b-46ee-9ab2-a3e0a3393917\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"d03c0af1-fec9-44aa-a12c-54cb13072778\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.882995ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"674214e4-362c-49dc-896d-8e992806bd17\",\"name\":\"test-pool-placement-group\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:14:13.621520Z\",\"updated_at\":\"2025-08-28T14:14:13.621520Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"c45431b2-7d00-482a-a2e5-0c8c770fff37\",\"created_at\":\"2025-08-28T14:14:13.621520Z\",\"updated_at\":\"2025-08-28T14:14:13.621520Z\",\"subnet\":\"172.16.120.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"674214e4-362c-49dc-896d-8e992806bd17\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"b2016235-6844-4328-b1d2-7282819f58b5\",\"created_at\":\"2025-08-28T14:14:13.621520Z\",\"updated_at\":\"2025-08-28T14:14:13.621520Z\",\"subnet\":\"fde7:767f:1bb5:87ba::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"674214e4-362c-49dc-896d-8e992806bd17\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 861.824983ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/674214e4-362c-49dc-896d-8e992806bd17
    method: GET
  response:
    body: "{\"id\":\"674214e4-362c-49dc-896d-8e992806bd17\",\"name\":\"test-pool-placement-group\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:14:13.621520Z\",\"updated_at\":\"2025-08-28T14:14:13.621520Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"c45431b2-7d00-482a-a2e5-0c8c770fff37\",\"created_at\":\"2025-08-28T14:14:13.621520Z\",\"updated_at\":\"2025-08-28T14:14:13.621520Z\",\"subnet\":\"172.16.120.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"674214e4-362c-49dc-896d-8e992806bd17\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"b2016235-6844-4328-b1d2-7282819f58b5\",\"created_at\":\"2025-08-28T14:14:13.621520Z\",\"updated_at\":\"2025-08-28T14:14:13.621520Z\",\"subnet\":\"fde7:767f:1bb5:87ba::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"674214e4-362c-49dc-896d-8e992806bd17\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 34.746457ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-placement-group\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"placement_group\"],\"version\":\"1.32.7\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"674214e4-362c-49dc-896d-8e992806bd17\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d692309f-3176-4230-a456-7835c54fbec0\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:14:14.732229Z\",\"updated_at\":\"2025-08-28T14:14:14.732229Z\",\"type\":\"kapsule\",\"name\":\"test-pool-placement-group\",\"description\":\"\",\"status\":\"creating\",\"version\":\"1.32.7\",\"cni\":\"calico\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"placement_group\"],\"cluster_url\":\"https://d692309f-3176-4230-a456-7835c54fbec0.api.k8s.fr-par.scw.cloud:6443\",\"dns_wildcard\":\"*.d692309f-3176-4230-a456-7835c54fbec0.nodes.k8s.fr-par.scw.cloud\",\"autoscaler_config\":{\"scale_down_disabled\":false,\"scale_down_delay_after_add\":\"10m\",\"estimator\":\"binpacking\",\"expander\":\"random\",\"ignore_daemonsets_utilization\":false,\"balance_similar_node_groups\":false,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":\"10m\",\"scale_down_utilization_threshold\":0.5,\"max_graceful_termination_sec\":0},\"auto_upgrade\":{\"enabled\":false,\"maintenance_window\":{\"start_hour\":0,\"day\":\"any\"}},\"upgrade_available\":false,\"feature_gates\":[],\"admission_plugins\":[],\"open_id_connect_config\":{\"issuer_url\":\"\",\"client_id\":\"\",\"username_claim\":\"\",\"username_prefix\":\"\",\"groups_claim\":[],\"groups_prefix\":\"\",\"required_claim\":[]},\"apiserver_cert_sans\":[],\"private_network_id\":\"674214e4-362c-49dc-896d-8e992806bd17\",\"commitment_ends_at\":\"2025-08-28T14:14:14.732237Z\",\"acl_available\":true,\"iam_nodes_group_id\":\"\",\"new_images_enabled\":false,\"pod_cidr\":\"\",\"service_cidr\":\"\",\"service_dns_ip\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 388.237979ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d692309f-3176-4230-a456-7835c54fbec0
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d692309f-3176-4230-a456-7835c54fbec0\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:14:14.732229Z\",\"updated_at\":\"2025-08-28T14:14:14.732229Z\",\"type\":\"kapsule[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d692309f-3176-4230-a456-7835c54fbec0/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.786357ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d692309f-3176-4230-a456-7835c54fbec0/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNVTFFWjNsT2VrVXdUVlJSZUU1V2IxaEVWRTB4VFVSbmVVNTZSVEJOVkZGNFRsWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUk[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"node_type\":\"pro2_xxs\",\"placement_group_id\":\"e1231fdc-fb0b-46ee-9ab2-a3e0a3393917\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"fr-par-1\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d692309f-3176-4230-a456-7835c54fbec0/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"102c6ed9-d41c-40e2-a1f2-e301be0b51fa\",\"cluster_id\":\"d692309f-3176-4230-a456-7835c54fbec0\",\"created_at\":\"2025-08-28T14:14:20.368287Z\",\"updated_at\":\"2025-08-28T14:14:20.368287Z\",\"name\":\"test-pool-placement-group\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"placement_group_id\":\"e1231fdc-fb0b-46ee-9ab2-a3e0a3393917\",\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.892062ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/102c6ed9-d41c-40e2-a1f2-e301be0b51fa
    method: GET
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"102c6ed9-d41c-40e2-a1f2-e301be0b51fa\",\"cluster_id\":\"d692309f-3176-4230-a456-7835c54fbec0\",\"created_at\":\"2025-08-28T14:14:20.368287Z\",\"updated_at\":\"2025-08-28T14:14:20.368287Z\",\"name\":\"test-pool-placement-group\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"placement_group_id\":\"e1231fdc-fb0b-46ee-9ab2-a3e0a3393917\",\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"fr-par-1\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"685db100-a215-4d06-a2bf-08d7b28a64d8\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.328317ms
[...]
- id: 70
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 102c6ed9-d41c-40e2-a1f2-e301be0b51fa
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d692309f-3176-4230-a456-7835c54fbec0/nodes?order_by=created_at_asc&page=1&pool_id=102c6ed9-d41c-40e2-a1f2-e301be0b51fa&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"fr-par\",\"id\":\"c57f0508-38f4-41fa-a1c7-39f9282e4529\",\"cluster_id\":\"d692309f-3176-4230-a456-7835c54fbec0\",\"created_at\":\"2025-08-28T14:16:23.337686Z\",\"updated_at\":\"2025-08-28T14:18:55.829913Z\",\"pool_id\":\"102c6ed9-d41c-40e2-a1f2-e301be0b51fa\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-placeme-test-pool-placeme-c57f05\",\"public_ip_v4\":\"51.15.250.81\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/fr-par-1/96e4990d-24e1-4276-b7bd-7232c55a3ab3\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.760142ms
[...]
- id: 72
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-placeme-test-pool-placeme-c57f05
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-placeme-test-pool-placeme-c57f05&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2,\"ips\":[{\"id\":\"9be9750b-0a8c-472d-9862-35777a3c9669\",\"address\":\"fde7:767f:1bb5:87ba:789c:d9bb:6252:de1e/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":true,\"created_at\":\"2025-08-28T14:16:27.049470Z\",\"updated_at\":\"2025-08-28T14:16:27.049470Z\",\"source\":{\"subnet_id\":\"b2016235-6844-4328-b1d2-7282819f58b5\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"d4d81b1c-cbde-455c-9a8c-50dee972c744\",\"mac_address\":\"02:00:00:1C:F8:12\",\"name\":\"scw-test-pool-placeme-test-pool-placeme-c57f05\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null},{\"id\":\"13f85985-b1c4-4f7f-84cb-e939326931ea\",\"address\":\"172.16.120.3/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T14:16:26.930687Z\",\"updated_at\":\"2025-08-28T14:16:26.930687Z\",\"source\":{\"subnet_id\":\"c45431b2-7d00-482a-a2e5-0c8c770fff37\"},\"resource\":{\"type\":\"instance_private_nic\",\"id\":\"d4d81b1c-cbde-455c-9a8c-50dee972c744\",\"mac_address\":\"02:00:00:1C:F8:12\",\"name\":\"scw-test-pool-placeme-test-pool-placeme-c57f05\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 32.092444ms
[...]
- id: 143
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/102c6ed9-d41c-40e2-a1f2-e301be0b51fa
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"102c6ed9-d41c-40e2-a1f2-e301be0b51fa\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.228783ms
- id: 144
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d692309f-3176-4230-a456-7835c54fbec0?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\",\"id\":\"d692309f-3176-4230-a456-7835c54fbec0\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:14:14.732229Z\",\"updated_at\":\"2025-08-28T14:23:18.935365Z\",\"type\":\"k[...]
[...]
- id: 147
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"policy_mode\":\"optional\",\"policy_type\":\"max_availability\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: "{\"placement_group\": {\"id\": \"77abfb27-06d8-485b-876f-7e9028ecfcc2\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"d03c0af1-fec9-44aa-a12c-54cb13072778\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"nl-ams-2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/77abfb27-06d8-485b-876f-7e9028ecfcc2
    status: 201 Created
    code: 201
    duration: 237.907192ms
- id: 148
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/77abfb27-06d8-485b-876f-7e9028ecfcc2
    method: GET
  response:
    body: "{\"placement_group\": {\"id\": \"77abfb27-06d8-485b-876f-7e9028ecfcc2\", \"name\": \"test-pool-placement-group\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"d03c0af1-fec9-44aa-a12c-54cb13072778\", \"policy_mode\": \"optional\", \"policy_type\": \"max_availability\", \"policy_respected\": true, \"tags\": [], \"zone\": \"nl-ams-2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.68327ms
[...]
- id: 153
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: "{\"id\":\"4aa552db-584a-4a72-8cc5-3f32da4930be\",\"name\":\"test-pool-placement-group\",\"tags\":[][...]
- id: 154
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/4aa552db-584a-4a72-8cc5-3f32da4930be
    method: GET
  response:
    body: "{\"id\":\"4aa552db-584a-4a72-8cc5-3f32da4930be\",\"name\":\"test-pool-placement-group\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-28T14:23:35.869294Z\",\"updated_at\":\"2025-08-28T14:23:35.869294Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"71873c5e-d62e-4e17-9550-a55a55203e7f\",\"created_at\":\"2025-08-28T14:23:35.869294Z\",\"updated_at\":\"2025-08-28T14:23:35.869294Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"4aa552db-584a-4a72-8cc5-3f32da4930be\",\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\"},{\"id\":\"d31500d8-d714-4d6a-9423-bf951396e81d\",\"created_at\":\"2025-08-28T14:23:35.869294Z\",\"updated_at\":\"2025-08-28T14:23:35.869294Z\",\"subnet\":\"fdc9:de1b:b200:32b2::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"4aa552db-584a-4a72-8cc5-3f32da4930be\",\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\"}],\"vpc_id\":\"dae8c7e9-41fc-4aae-a9f7-003f49d980b6\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 51.533782ms
- id: 155
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"type\":\"\",\"name\":\"test-pool-placement-group-2\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"placement_group\"],\"version\":\"1.32.7\",\"cni\":\"calico\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonset[...]
- id: 156
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8fbe63f1-46b0-4f9d-aa65-2b7836515028
    method: GET
  response:
    body: "{\"region\":\"nl-ams\",\"id\":\"8fbe63f1-46b0-4f9d-aa65-2b7836515028\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-28T14:23:36.873435Z\",\"updated_at\":\"2025-08-28T14:23:36.873435Z\",\"type\":\"kapsu[...]
[...]
- id: 158
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8fbe63f1-46b0-4f9d-aa65-2b7836515028/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0,\"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.697249ms
[...]
- id: 160
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8fbe63f1-46b0-4f9d-aa65-2b7836515028/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\",\"content_type\":\"application/octet-stream\",\"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZW[...]
[...]
- id: 162
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-placement-group-2\",\"node_type\":\"pro2_xxs\",\"placement_group_id\":\"77abfb27-06d8-485b-876f-7e9028ecfcc2\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"kubelet_args\":{},\"zone\":\"nl-ams-2\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/jso[...]
- id: 163
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/2addcbd7-e7b0-4938-a282-c3d329ce7f73
    method: GET
  response:
    body: "{\"region\":\"nl-ams\",\"id\":\"2addcbd7-e7b0-4938-a282-c3d329ce7f73\",\"cluster_id\":\"8fbe63f1-46b0-4f9d-aa65-2b7836515028\",\"created_at\":\"2025-08-28T14:23:42.736871Z\",\"updated_at\":\"2025-08-28T14:23:42.736871Z\",\"name\":\"test-pool-placement-group-2\",\"status\":\"scaling\",\"version\":\"1.32.7\",\"node_type\":\"pro2_xxs\",\"autoscaling\":false,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":false,\"tags\":[],\"placement_group_id\":\"77abfb27-06d8-485b-876f-7e9028ecfcc2\",\"kubelet_args\":{},\"upgrade_policy\":{\"max_unavailable\":1,\"max_surge\":0},\"zone\":\"nl-ams-2\",\"root_volume_type\":\"sbs_5k\",\"root_volume_size\":20000000000,\"public_ip_disabled\":false,\"new_images_enabled\":false,\"security_group_id\":\"eda151cc-0858-427b-98c1-da69b204b170\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.826044ms
[...]
- id: 216
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 2addcbd7-e7b0-4938-a282-c3d329ce7f73
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8fbe63f1-46b0-4f9d-aa65-2b7836515028/nodes?order_by=created_at_asc&page=1&pool_id=2addcbd7-e7b0-4938-a282-c3d329ce7f73&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"nodes\":[{\"region\":\"nl-ams\",\"id\":\"3612e60c-11bc-4417-97ba-852af2e06d3b\",\"cluster_id\":\"8fbe63f1-46b0-4f9d-aa65-2b7836515028\",\"created_at\":\"2025-08-28T14:25:41.963521Z\",\"updated_at\":\"2025-08-28T14:27:56.759333Z\",\"pool_id\":\"2addcbd7-e7b0-4938-a282-c3d329ce7f73\",\"status\":\"ready\",\"conditions\":{\"DiskPressure\":\"False\",\"MemoryPressure\":\"False\",\"PIDPressure\":\"False\",\"PrivateNetworkUnavailable\":\"False\",\"Ready\":\"True\"},\"name\":\"scw-test-pool-placeme-test-pool-placeme-3612e6\",\"public_ip_v4\":\"51.158.235.224\",\"public_ip_v6\":null,\"provider_id\":\"scaleway://instance/nl-ams-2/d77a5ff0-823a-40ef-b674-f81510f87cde\",\"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.433355ms
[...]
- id: 218
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_name:
      - scw-test-pool-placeme-test-pool-placeme-3612e6
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_name=scw-test-pool-placeme-test-pool-placeme-3612e6&resource_type[...]
[...]
- id: 233
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8fbe63f1-46b0-4f9d-aa65-2b7836515028/available-types
    method: GET
  response:
    body: "{\"cluster_types\":[{\"name\":\"kapsule\",\"availability\":\"available\",\"max_nodes\":150,\"commitment_delay\":\"0s\",\"sla\":0,\"resiliency\":\"standard\",\"memory\":4000000000,\"dedicated\":false,\"audit_logs_supported\":false,\"max_etcd_size\":55000000},{\"name\":\"kapsule-dedicated-4\",\"availability\":\"available\",\"max_nodes\":250,\"commitment_delay\":\"2592000s\",\"sla\":99.5,\"resiliency\":\"high_availability\",\"memory\":4000000000,\"dedicated\":true,\"audit_logs_supported\":true,\"max_etcd_size\":200000000},{\"name\":\"kapsule-dedicated-8\",\"availability\":\"available\",\"max_nodes\":500,\"commitment_delay\":\"2592000s\",\"sla\":99.5,\"resiliency\":\"high_availability\",\"memory\":8000000000,\"dedicated\":true,\"audit_logs_supported\":true,\"max_etcd_size\":200000000},{\"name\":\"kapsule-dedicated-16\",\"availability\":\"available\",\"max_nodes\":500,\"commitment_delay\":\"2592000s\",\"sla\":99.5,\"resiliency\":\"high_availability\",\"memory\":16000000000,\"dedicated\":true,\"audit_logs_supported\":true,\"max_etcd_size\":200000000}],\"total_count\":4}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.177763ms
[...]
- id: 255
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/8fbe63f1-46b0-4f9d-aa65-2b7836515028?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"nl-ams\",\"id\":\"8fbe63f1-46b0-4f9d-aa65-2b7836515028\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\[...]
[...]
