---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers","DRAAdminAccess","DRAResourceClaimDeviceStatus","DynamicResourceAllocation"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.32.3","name":"1.32.3","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T16:06:49.371648Z","dhcp_enabled":true,"id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T16:06:49.371648Z","id":"4c41c730-bd59-4d1e-a288-601a7aaf0223","private_network_id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-05T16:06:49.371648Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T16:06:49.371648Z","id":"4a9a01f6-4469-44c5-ab19-bf76ae22680d","private_network_id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:8706::/64","updated_at":"2025-05-05T16:06:49.371648Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T16:06:49.371648Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 883.559123ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4ca65aa2-6bd8-416a-b7d0-29705b304408
        method: GET
      response:
        body: '{"created_at":"2025-05-05T16:06:49.371648Z","dhcp_enabled":true,"id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T16:06:49.371648Z","id":"4c41c730-bd59-4d1e-a288-601a7aaf0223","private_network_id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-05T16:06:49.371648Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T16:06:49.371648Z","id":"4a9a01f6-4469-44c5-ab19-bf76ae22680d","private_network_id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:8706::/64","updated_at":"2025-05-05T16:06:49.371648Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T16:06:49.371648Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.673442ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.32.3","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"4ca65aa2-6bd8-416a-b7d0-29705b304408"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://da8fc745-2a2c-4570-bcc1-f934ad6284cc.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-05-05T16:06:50.557380Z","created_at":"2025-05-05T16:06:50.557369Z","description":"","dns_wildcard":"*.da8fc745-2a2c-4570-bcc1-f934ad6284cc.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"da8fc745-2a2c-4570-bcc1-f934ad6284cc","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","sbs_csi_enabled":false,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2025-05-05T16:06:50.557369Z","upgrade_available":false,"version":"1.32.3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 534.860636ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.363464ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVZYZE9SRVV5VFVSWk1VMVdiMWhFVkUweFRVUlZkMDVFUlRKTlJGa3hUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-minimal","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"da8fc745-2a2c-4570-bcc1-f934ad6284cc","container_runtime":"containerd","created_at":"2025-05-05T16:06:56.207439Z","id":"a3569928-328a-4e1a-be89-2daa4b8fcc70","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-05-05T16:06:56.207439Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.854763ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a3569928-328a-4e1a-be89-2daa4b8fcc70
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"da8fc745-2a2c-4570-bcc1-f934ad6284cc","container_runtime":"containerd","created_at":"2025-05-05T16:06:56.207439Z","id":"a3569928-328a-4e1a-be89-2daa4b8fcc70","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2025-05-05T16:06:56.207439Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.32.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.78388ms
[...]
    - id: 96
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc/nodes?order_by=created_at_asc&page=1&pool_id=a3569928-328a-4e1a-be89-2daa4b8fcc70&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"da8fc745-2a2c-4570-bcc1-f934ad6284cc","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T16:10:03.637973Z","error_message":"","id":"12fc8c9f-81f5-426c-adef-13abf3dd6b5f","name":"scw-test-pool-minimal-test-pool-minimal-12fc8c","pool_id":"a3569928-328a-4e1a-be89-2daa4b8fcc70","provider_id":"scaleway://instance/fr-par-1/0534fa80-e596-4905-8e31-7b982186f802","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T16:13:48.573885Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.894071ms
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-minimal-test-pool-minimal-12fc8c&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:8706:d9fc:c0cc:8064:7546/64","created_at":"2025-05-05T16:10:08.270636Z","id":"38a0c11a-5c22-4a7c-a28a-9f23f5ca2880","is_ipv6":true,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d2b90b5f-41c6-4fef-8e07-11b16a998d58","mac_address":"02:00:00:18:43:D1","name":"scw-test-pool-minimal-test-pool-minimal-12fc8c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"4a9a01f6-4469-44c5-ab19-bf76ae22680d"},"tags":[],"updated_at":"2025-05-05T16:10:08.270636Z","zone":null},{"address":"172.16.12.3/22","created_at":"2025-05-05T16:10:07.861449Z","id":"651d936b-3cff-49ae-b85e-bc478432e74c","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d2b90b5f-41c6-4fef-8e07-11b16a998d58","mac_address":"02:00:00:18:43:D1","name":"scw-test-pool-minimal-test-pool-minimal-12fc8c","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"4c41c730-bd59-4d1e-a288-601a7aaf0223"},"tags":[],"updated_at":"2025-05-05T16:10:07.861449Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.602071ms
[...]
    - id: 100
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc/nodes?order_by=created_at_asc&pool_id=a3569928-328a-4e1a-be89-2daa4b8fcc70&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"da8fc745-2a2c-4570-bcc1-f934ad6284cc","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T16:10:03.637973Z","error_message":"","id":"12fc8c9f-81f5-426c-adef-13abf3dd6b5f","name":"scw-test-pool-minimal-test-pool-minimal-12fc8c","pool_id":"a3569928-328a-4e1a-be89-2daa4b8fcc70","provider_id":"scaleway://instance/fr-par-1/0534fa80-e596-4905-8e31-7b982186f802","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T16:13:48.573885Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.665914ms
    - id: 101
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/0534fa80-e596-4905-8e31-7b982186f802
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":null,"commercial_type":"PRO2-XXS","creation_date":"2025-05-05T16:10:05.627058+00:00","dynamic_ip_required":false,"enable_ipv6":false,"end_of_service":false,"extra_networks":[],"filesystems":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-12fc8c","id":"0534fa80-e596-4905-8e31-7b982186f802","image":{"arch":"x86_64","creation_date":"2024-12-13T14:25:42.929071+00:00","default_bootscript":null,"extra_volumes":{},"from_server":"","id":"f587416b-3d51-4582-808f-dbbaa617a61a","modification_date":"2024-12-13T14:25:42.929071+00:00","name":"k8s_base_node_2024-12-13_sbs","organization":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","project":"a6c1e019-9bc0-49c8-81c6-1d7e6d25426d","public":true,"root_volume":{"id":"164c4014-2874-481f-b194-ce63ab76f0da","name":"","size":0,"volume_type":"sbs_snapshot"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":null,"location":{"cluster_id":"14","hypervisor_id":"201","node_id":"19","platform_id":"14","zone_id":"fr-par-1"},"mac_address":"de:00:00:ab:5b:59","maintenances":[],"modification_date":"2025-05-05T16:10:11.761361+00:00","name":"scw-test-pool-minimal-test-pool-minimal-12fc8c","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":null,"private_nics":[{"creation_date":"2025-05-05T16:10:07.435274+00:00","id":"d2b90b5f-41c6-4fef-8e07-11b16a998d58","ipam_ip_ids":["651d936b-3cff-49ae-b85e-bc478432e74c","38a0c11a-5c22-4a7c-a28a-9f23f5ca2880"],"mac_address":"02:00:00:18:43:d1","modification_date":"2025-05-05T16:10:07.586701+00:00","private_network_id":"4ca65aa2-6bd8-416a-b7d0-29705b304408","server_id":"0534fa80-e596-4905-8e31-7b982186f802","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.79.133","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"dc0ca1fe-a12f-4b6f-89c8-a83424fcf017","ipam_id":"3b14f4ec-0406-423e-ab93-48d17cd55d35","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=da8fc745-2a2c-4570-bcc1-f934ad6284cc","node-name=scw-test-pool-minimal-test-pool-minimal-12fc8c"]},"public_ips":[{"address":"51.158.79.133","dynamic":false,"family":"inet","gateway":"62.210.0.1","id":"dc0ca1fe-a12f-4b6f-89c8-a83424fcf017","ipam_id":"3b14f4ec-0406-423e-ab93-48d17cd55d35","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":["kapsule=da8fc745-2a2c-4570-bcc1-f934ad6284cc","node-name=scw-test-pool-minimal-test-pool-minimal-12fc8c"]},{"address":"2001:bc8:710:722b:dc00:ff:feab:5b59","dynamic":false,"family":"inet6","gateway":"fe80::dc00:ff:feab:5b5a","id":"971b3ea2-590d-46ab-97f1-dbe860c2675d","ipam_id":"d59e90ad-a36b-4720-897f-25fd23639cb4","netmask":"64","provisioning_mode":"slaac","state":"attached","tags":["kapsule=da8fc745-2a2c-4570-bcc1-f934ad6284cc","node-name=scw-test-pool-minimal-test-pool-minimal-12fc8c"]}],"routed_ip_enabled":true,"security_group":{"id":"e32dc2e9-b1d9-4414-890e-ed37db2440bc","name":"kubernetes da8fc745-2a2c-4570-bcc1-f934ad6284cc"},"state":"running","state_detail":"booted","tags":["kapsule=da8fc745-2a2c-4570-bcc1-f934ad6284cc","pool=a3569928-328a-4e1a-be89-2daa4b8fcc70","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=12fc8c9f-81f5-426c-adef-13abf3dd6b5f"],"volumes":{"0":{"boot":true,"id":"2d47ffea-1d68-44dd-9801-11251c7a0a03","volume_type":"sbs_volume","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 404.309179ms
[...]
    - id: 164
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-minima-test-pool-minimal--866f58&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd63:256c:45f7:8706:35ab:8635:6521:4187/64","created_at":"2025-05-05T16:13:59.437445Z","id":"0ed3a680-2596-49a0-a6d9-fa3de2b3c2ad","is_ipv6"[...]
[...]
    - id: 167
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc/nodes?order_by=created_at_asc&pool_id=a3569928-328a-4e1a-be89-2daa4b8fcc70&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"da8fc745-2a2c-4570-bcc1-f934ad6284cc","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-05-05T16:10:03.637973Z","error_message":"","id":"12fc8c9f-81f5-426c-adef-13abf3dd6b5f","name":"scw-test-pool-minimal-test-pool-minimal-12fc8c","pool_id":"a3569928-328a-4e1a-be89-2daa4b8fcc70","provider_id":"scaleway://instance/fr-par-1/0534fa80-e596-4905-8e31-7b982186f802","public_ip_v4":"51.158.79.133","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-05-05T16:17:34.628736Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.502926ms
[...]
    - id: 203
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5b359f61-78c9-48f7-ac70-ea96d6a28ff5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"5b359f61-78c9-48f7-ac70-ea96d6a28ff5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.547287ms
[...]
    - id: 268
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da8fc745-2a2c-4570-bcc1-f934ad6284cc?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_g[...]
[...]
