---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-size","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:18.685153Z","dhcp_enabled":true,"id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:18.685153Z","id":"617e5b98-45b6-4de9-b93f-05c05b271a33","private_network_id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.104.0/22","updated_at":"2025-01-24T14:47:18.685153Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:18.685153Z","id":"7b7bedd1-036d-4326-880c-9497868ae658","private_network_id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e359::/64","updated_at":"2025-01-24T14:47:18.685153Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:18.685153Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.9095ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7de32c93-13c9-4297-88ac-e8cfa2d7da1f
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:18.685153Z","dhcp_enabled":true,"id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:18.685153Z","id":"617e5b98-45b6-4de9-b93f-05c05b271a33","private_network_id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.104.0/22","updated_at":"2025-01-24T14:47:18.685153Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:18.685153Z","id":"7b7bedd1-036d-4326-880c-9497868ae658","private_network_id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e359::/64","updated_at":"2025-01-24T14:47:18.685153Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:18.685153Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.827125ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-size","description":"","tags":[],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2dade528-e57c-4e11-b9c6-d52b45cb6715.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-24T14:47:19.853794Z","created_at":"2025-01-24T14:47:19.853782Z","description":"","dns_wildcard":"*.2dade528-e57c-4e11-b9c6-d52b45cb6715.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"2dade528-e57c-4e11-b9c6-d52b45cb6715","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"7de32c93-13c9-4297-88ac-e8cfa2d7da1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":[],"type":"kapsule","updated_at":"2025-01-24T14:47:19.853782Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 537.561833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2dade528-e57c-4e11-b9c6-d52b45cb6715
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpack[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2dade528-e57c-4e11-b9c6-d52b45cb6715/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.037292ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2dade528-e57c-4e11-b9c6-d52b45cb6715/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTVUxRVJYbE5la1V3VGtSamVVMVdiMWhFVkUweFRVUkZlVTE2UlRCT1JHTjVUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"pool","node_type":"pro2_xxs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2dade528-e57c-4e11-b9c6-d52b45cb6715/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"2dade528-e57c-4e11-b9c6-d52b45cb6715","container_runtime":"containerd","created_at":"2025-01-24T14:47:25.624208Z","id":"21b96408-e7fa-463b-b718-1d4a3a68b447","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:47:25.624208Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.316291ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/21b96408-e7fa-463b-b718-1d4a3a68b447
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"2dade528-e57c-4e11-b9c6-d52b45cb6715","container_runtime":"containerd","created_at":"2025-01-24T14:47:25.624208Z","id":"21b96408-e7fa-463b-b718-1d4a3a68b447","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":[],"updated_at":"2025-01-24T14:47:25.624208Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.835708ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2dade528-e57c-4e11-b9c6-d52b45cb6715/nodes?order_by=created_at_asc&page=1&pool_id=21b96408-e7fa-463b-b718-1d4a3a68b447&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"2dade528-e57c-4e11-b9c6-d52b45cb6715","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:34.728636Z","error_message":"","id":"4e41ebbe-4aaa-4ecb-bded-0830240ddc41","name":"scw-test-pool-size-pool-4e41ebbe4aaa4ecbbded08","pool_id":"21b96408-e7fa-463b-b718-1d4a3a68b447","provider_id":"scaleway://instance/fr-par-1/8ae7e558-ae7e-4040-a206-67e65e32c0e6","public_ip_v4":"51.15.219.146","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:52.026544Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.497625ms
[...]
    - id: 148
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/21b96408-e7fa-463b-b718-1d4a3a68b447
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"21b96408-e7fa-463b-b718-1d4a3a68b447","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.614917ms
    - id: 149
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2dade528-e57c-4e11-b9c6-d52b45cb6715?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_no[...]
[...]
