---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.30.2","name":"1.30.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:33:53.304408Z","dhcp_enabled":true,"id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c","name":"test-pool-kubelet-args","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:33:53.304408Z","id":"27e1e108-e3d0-4b25-a77d-94b0a339cef0","private_network_id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:33:53.304408Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:33:53.304408Z","id":"a932b2d0-352c-45b3-a60a-1952eba3bc86","private_network_id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ee8::/64","updated_at":"2024-10-03T17:33:53.304408Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:33:53.304408Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 593.004508ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e89e6a46-5077-4fbc-82b8-677e95b8c47c
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:33:53.304408Z","dhcp_enabled":true,"id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c","name":"test-pool-kubelet-args","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:33:53.304408Z","id":"27e1e108-e3d0-4b25-a77d-94b0a339cef0","private_network_id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:33:53.304408Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:33:53.304408Z","id":"a932b2d0-352c-45b3-a60a-1952eba3bc86","private_network_id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:ee8::/64","updated_at":"2024-10-03T17:33:53.304408Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:33:53.304408Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.271051ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.30.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://5c80165c-729a-4159-9222-9b36ffd9b9d7.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-10-03T17:33:54.660175Z","created_at":"2024-10-03T17:33:54.660163Z","description":"","dns_wildcard":"*.5c80165c-729a-4159-9222-9b36ffd9b9d7.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"full_vpc_integraton_enabled":false,"id":"5c80165c-729a-4159-9222-9b36ffd9b9d7","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"e89e6a46-5077-4fbc-82b8-677e95b8c47c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routed_ip_enabled":true,"sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2024-10-03T17:33:54.660163Z","upgrade_available":false,"version":"1.30.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 834.868673ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c80165c-729a-4159-9222-9b36ffd9b9d7
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c80165c-729a-4159-9222-9b36ffd9b9d7/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.558375ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c80165c-729a-4159-9222-9b36ffd9b9d7/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFVUVhkTmFrVXpUWHBOTVU1V2IxaEVWRTB3VFZSQmQwMXFSVE5OZWsweFRsWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c80165c-729a-4159-9222-9b36ffd9b9d7/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"5c80165c-729a-4159-9222-9b36ffd9b9d7","container_runtime":"containerd","created_at":"2024-10-03T17:34:00.090482Z","id":"0b5f0f73-9a90-4053-9f52-19def12d40fa","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-10-03T17:34:00.090482Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.837503ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0b5f0f73-9a90-4053-9f52-19def12d40fa
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"5c80165c-729a-4159-9222-9b36ffd9b9d7","container_runtime":"containerd","created_at":"2024-10-03T17:34:00.090482Z","id":"0b5f0f73-9a90-4053-9f52-19def12d40fa","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-10-03T17:34:00.090482Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.30.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.703618ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c80165c-729a-4159-9222-9b36ffd9b9d7/nodes?order_by=created_at_asc&page=1&pool_id=0b5f0f73-9a90-4053-9f52-19def12d40fa&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"5c80165c-729a-4159-9222-9b36ffd9b9d7","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T17:38:56.478375Z","error_message":null,"id":"a052c401-5de9-46e9-b0cd-23d035851e23","name":"scw-test-pool-kubelet-test-pool-kubelet-a052c4","pool_id":"0b5f0f73-9a90-4053-9f52-19def12d40fa","provider_id":"scaleway://instance/fr-par-1/fbfe9ec6-0691-4064-8960-ce21604b12d6","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T17:41:39.084346Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.107999ms
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&resource_name=scw-test-pool-kubelet-test-pool-kubelet-a052c4&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd46:78ab:30b8:ee8:c1ba:5047:7d99:2bcc/64","created_at":"2024-10-03T17:39:00.259799Z","id":"9be90698-dd56-409a-aaab-f10a49abf496","is_ipv6":true,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"aad72efa-25db-4353-a043-4fb90d1fa42f","mac_address":"02:00:00:10:77:69","name":"scw-test-pool-kubelet-test-pool-kubelet-a052c4","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"a932b2d0-352c-45b3-a60a-1952eba3bc86"},"tags":[],"updated_at":"2024-10-03T17:39:00.259799Z","zone":null},{"address":"172.16.116.2/22","created_at":"2024-10-03T17:38:59.915850Z","id":"40976317-0a42-4005-b39a-67fcd212eb13","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"aad72efa-25db-4353-a043-4fb90d1fa42f","mac_address":"02:00:00:10:77:69","name":"scw-test-pool-kubelet-test-pool-kubelet-a052c4","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"27e1e108-e3d0-4b25-a77d-94b0a339cef0"},"tags":[],"updated_at":"2024-10-03T17:38:59.915850Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.302802ms
[...]
    - id: 124
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c80165c-729a-4159-9222-9b36ffd9b9d7/nodes?order_by=created_at_asc&page=1&pool_id=0b5f0f73-9a90-4053-9f52-19def12d40fa&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"5c80165c-729a-4159-9222-9b36ffd9b9d7","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-10-03T17:38:56.478375Z","error_message":null,"id":"a052c401-5de9-46e9-b0cd-23d035851e23","name":"scw-test-pool-kubelet-test-pool-kubelet-a052c4","pool_id":"0b5f0f73-9a90-4053-9f52-19def12d40fa","provider_id":"scaleway://instance/fr-par-1/fbfe9ec6-0691-4064-8960-ce21604b12d6","public_ip_v4":"51.15.221.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-10-03T17:41:43.475798Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.319751ms
[...]
    - id: 131
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0b5f0f73-9a90-4053-9f52-19def12d40fa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"0b5f0f73-9a90-4053-9f52-19def12d40fa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.43853ms
    - id: 132
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/5c80165c-729a-4159-9222-9b36ffd9b9d7?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
