---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","InPlacePodVerticalScaling","SidecarContainers"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.31.2","name":"1.31.2","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandle[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:29.582328Z","dhcp_enabled":true,"id":"97d7b6a9-dc66-4571-811d-03e02b4d634e","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:29.582328Z","id":"7f0a944b-bd26-40ad-9638-b9e7849c4d57","private_network_id":"97d7b6a9-dc66-4571-811d-03e02b4d634e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.96.0/22","updated_at":"2025-01-24T14:47:29.582328Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:29.582328Z","id":"f9c3290a-2104-48f8-9185-eb7fe5808f59","private_network_id":"97d7b6a9-dc66-4571-811d-03e02b4d634e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:28ed::/64","updated_at":"2025-01-24T14:47:29.582328Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:29.582328Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 639.244083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/97d7b6a9-dc66-4571-811d-03e02b4d634e
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:29.582328Z","dhcp_enabled":true,"id":"97d7b6a9-dc66-4571-811d-03e02b4d634e","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:29.582328Z","id":"7f0a944b-bd26-40ad-9638-b9e7849c4d57","private_network_id":"97d7b6a9-dc66-4571-811d-03e02b4d634e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.96.0/22","updated_at":"2025-01-24T14:47:29.582328Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:47:29.582328Z","id":"f9c3290a-2104-48f8-9185-eb7fe5808f59","private_network_id":"97d7b6a9-dc66-4571-811d-03e02b4d634e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:28ed::/64","updated_at":"2025-01-24T14:47:29.582328Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:47:29.582328Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.922875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.31.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"97d7b6a9-dc66-4571-811d-03e02b4d634e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1fc7ba57-14b5-4d38-a5c4-64c83adef507.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2025-01-24T14:47:30.639607Z","created_at":"2025-01-24T14:47:30.639595Z","description":"","dns_wildcard":"*.1fc7ba57-14b5-4d38-a5c4-64c83adef507.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"1fc7ba57-14b5-4d38-a5c4-64c83adef507","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"97d7b6a9-dc66-4571-811d-03e02b4d634e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","sbs_csi_enabled":true,"status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2025-01-24T14:47:30.639595Z","upgrade_available":false,"version":"1.31.2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.951583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1fc7ba57-14b5-4d38-a5c4-64c83adef507
        method: GET
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1fc7ba57-14b5-4d38-a5c4-64c83adef507/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.003625ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1fc7ba57-14b5-4d38-a5c4-64c83adef507/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1VMUVSWGxOZWtVd1RrUmplazFzYjFoRVZFMHhUVVJGZVUxNlJUQk9SR042VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1fc7ba57-14b5-4d38-a5c4-64c83adef507/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1fc7ba57-14b5-4d38-a5c4-64c83adef507","container_runtime":"containerd","created_at":"2025-01-24T14:47:36.278017Z","id":"f1b7aafd-3232-44f5-b202-5c8f0a02bdc5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-01-24T14:47:36.278017Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.375583ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f1b7aafd-3232-44f5-b202-5c8f0a02bdc5
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1fc7ba57-14b5-4d38-a5c4-64c83adef507","container_runtime":"containerd","created_at":"2025-01-24T14:47:36.278017Z","id":"f1b7aafd-3232-44f5-b202-5c8f0a02bdc5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2025-01-24T14:47:36.278017Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.31.2","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.961125ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1fc7ba57-14b5-4d38-a5c4-64c83adef507/nodes?order_by=created_at_asc&page=1&pool_id=f1b7aafd-3232-44f5-b202-5c8f0a02bdc5&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"1fc7ba57-14b5-4d38-a5c4-64c83adef507","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:43.018739Z","error_message":"","id":"d643806f-8dbe-4abe-85f3-2b05565e5405","name":"scw-test-pool-upgrade-test-pool-upgrade-d64380","pool_id":"f1b7aafd-3232-44f5-b202-5c8f0a02bdc5","provider_id":"scaleway://instance/fr-par-1/6a920cd1-6eb0-4b6f-b4cd-ba026711ba1c","public_ip_v4":"51.158.107.2","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:52:57.906301Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.284083ms
[...]
    - id: 94
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1fc7ba57-14b5-4d38-a5c4-64c83adef507/nodes?order_by=created_at_asc&page=1&pool_id=f1b7aafd-3232-44f5-b202-5c8f0a02bdc5&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"1fc7ba57-14b5-4d38-a5c4-64c83adef507","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2025-01-24T14:50:43.018739Z","error_message":"","id":"d643806f-8dbe-4abe-85f3-2b05565e5405","name":"scw-test-pool-upgrade-test-pool-upgrade-d64380","pool_id":"f1b7aafd-3232-44f5-b202-5c8f0a02bdc5","provider_id":"scaleway://instance/fr-par-1/6a920cd1-6eb0-4b6f-b4cd-ba026711ba1c","public_ip_v4":"51.158.107.2","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-01-24T14:53:06.044020Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.946959ms
[...]
    - id: 154
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f1b7aafd-3232-44f5-b202-5c8f0a02bdc5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"f1b7aafd-3232-44f5-b202-5c8f0a02bdc5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.914042ms
    - id: 155
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1fc7ba57-14b5-4d38-a5c4-64c83adef507?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":false,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_[...]
[...]
