---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"label":"Kubernetes 1.34.1","name":"1.34.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","DRAAdminAccess","DynamicResourceAllocation","PodLevelResources","CPUManagerPolicyAlphaOptions","ImageVolume"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigPlacementGroup","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:21:57.713160Z","custom_routes_propagation_enabled":true,"id":"f34798fe-4541-4e5f-b82c-60fd319b098b","is_default":false,"name":"testAccCheckK8SPoolConfigPlacementGroup","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:21:57.713160Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.980875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f34798fe-4541-4e5f-b82c-60fd319b098b
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:21:57.713160Z","custom_routes_propagation_enabled":true,"id":"f34798fe-4541-4e5f-b82c-60fd319b098b","is_default":false,"name":"testAccCheckK8SPoolConfigPlacementGroup","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:21:57.713160Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.210875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"54ef3b8e-a871-44d7-8adc-d04802063c41","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/54ef3b8e-a871-44d7-8adc-d04802063c41
        status: 201 Created
        code: 201
        duration: 223.649292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/54ef3b8e-a871-44d7-8adc-d04802063c41
        method: GET
      response:
        body: '{"placement_group":{"id":"54ef3b8e-a871-44d7-8adc-d04802063c41","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.148917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f34798fe-4541-4e5f-b82c-60fd319b098b","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:21:57.848121Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2391a821-5410-457d-847e-a5d92c71c894","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:21:57.848121Z","id":"bfb35653-ff09-40e0-a2ff-dc3d3092cdd8","private_network_id":"2391a821-5410-457d-847e-a5d92c71c894","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.184.0/22","updated_at":"2025-09-30T09:21:57.848121Z","vpc_id":"f34798fe-4541-4e5f-b82c-60fd319b098b"},{"created_at":"2025-09-30T09:21:57.848121Z","id":"77d0c0a8-ccce-46f6-aae7-a10db5e5ccbb","private_network_id":"2391a821-5410-457d-847e-a5d92c71c894","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:766e::/64","updated_at":"2025-09-30T09:21:57.848121Z","vpc_id":"f34798fe-4541-4e5f-b82c-60fd319b098b"}],"tags":[],"updated_at":"2025-09-30T09:21:57.848121Z","vpc_id":"f34798fe-4541-4e5f-b82c-60fd319b098b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 651.684292ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2391a821-5410-457d-847e-a5d92c71c894
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:21:57.848121Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2391a821-5410-457d-847e-a5d92c71c894","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:21:57.848121Z","id":"bfb35653-ff09-40e0-a2ff-dc3d3092cdd8","private_network_id":"2391a821-5410-457d-847e-a5d92c71c894","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.184.0/22","updated_at":"2025-09-30T09:21:57.848121Z","vpc_id":"f34798fe-4541-4e5f-b82c-60fd319b098b"},{"created_at":"2025-09-30T09:21:57.848121Z","id":"77d0c0a8-ccce-46f6-aae7-a10db5e5ccbb","private_network_id":"2391a821-5410-457d-847e-a5d92c71c894","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:766e::/64","updated_at":"2025-09-30T09:21:57.848121Z","vpc_id":"f34798fe-4541-4e5f-b82c-60fd319b098b"}],"tags":[],"updated_at":"2025-09-30T09:21:57.848121Z","vpc_id":"f34798fe-4541-4e5f-b82c-60fd319b098b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.808ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.34.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"2391a821-5410-457d-847e-a5d92c71c894"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://67369b9c-9815-48d9-9ed2-d9764b23cf46.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2025-09-30T09:21:58.812250Z","created_at":"2025-09-30T09:21:58.812241Z","description":"","dns_wildcard":"*.67369b9c-9815-48d9-9ed2-d9764b23cf46.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"iam_nodes_group_id":"","id":"67369b9c-9815-48d9-9ed2-d9764b23cf46","name":"test-pool-placement-group","new_images_enabled":false,"open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pod_cidr":"100.64.0.0/15","private_network_id":"2391a821-5410-457d-847e-a5d92c71c894","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2025-09-30T09:21:58.812242Z","upgrade_available":false,"version":"1.34.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 377.2305ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/67369b9c-9815-48d9-9ed2-d9764b23cf46
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking"[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/67369b9c-9815-48d9-9ed2-d9764b23cf46/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.086333ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/67369b9c-9815-48d9-9ed2-d9764b23cf46/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VKWGFrTkRRVkZIWjBGM1NVSkJaMGxDUVVSQlMwSm5aM0ZvYTJwUFVGRlJSRUZxUVZaTlVrMTNSVkZaUkZaUlVVUkZkM0J5WkZkS2JHTnROV3dLWkVkV2VrMUNORmhFVkVreFRVUnJlVTlVUVRWTmFrVXhUMFp2V0VSVVRURk5SR3Q1VDFSQk5VMXFSVEZQUm05M1JsUkZWRTFDUlVkQk1WVkZRWGhOU3dwaE0xWnBXbGhLZFZwWVVteGpla0phVFVKTlIwSjVjVWRUVFRRNVFXZEZSME5EY1VkVFRUUTVRWGRGU0V[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","node_type":"pro2_xxs","placement_group_id":"54ef3b8e-a871-44d7-8adc-d04802063c41","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/67369b9c-9815-48d9-9ed2-d9764b23cf46/pools
        method: POST
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"67369b9c-9815-48d9-9ed2-d9764b23cf46","container_runtime":"containerd","created_at":"2025-09-30T09:22:04.479226Z","id":"8683876a-54e1-4e3d-a857-b0cb55312d87","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":"54ef3b8e-a871-44d7-8adc-d04802063c41","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:22:04.479226Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.652417ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8683876a-54e1-4e3d-a857-b0cb55312d87
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"67369b9c-9815-48d9-9ed2-d9764b23cf46","container_runtime":"containerd","created_at":"2025-09-30T09:22:04.479226Z","id":"8683876a-54e1-4e3d-a857-b0cb55312d87","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":"54ef3b8e-a871-44d7-8adc-d04802063c41","public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"d49109f7-0bad-4991-b0fb-853c658463d2","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:22:04.479226Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.188125ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/67369b9c-9815-48d9-9ed2-d9764b23cf46/nodes?order_by=created_at_asc&page=1&pool_id=8683876a-54e1-4e3d-a857-b0cb55312d87&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"67369b9c-9815-48d9-9ed2-d9764b23cf46","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:29:38.044441Z","error_message":"","id":"b608bd38-f0d3-4ce8-9b3e-85713d23ee8f","name":"scw-test-pool-placeme-test-pool-placeme-b608bd","pool_id":"8683876a-54e1-4e3d-a857-b0cb55312d87","provider_id":"scaleway://instance/fr-par-1/6c36a9f4-c143-4865-86f1-fd3baf75e4dd","public_ip_v4":"51.15.230.164","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2025-09-30T09:30:52.252775Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.428709ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-placeme-test-pool-placeme-b608bd&resource_type=unknown_type
        method: GET
      response:
        body: '{"ips":[{"address":"fd5f:519c:6d46:766e:68dd:a7f2:aad0:390a/64","created_at":"2025-09-30T09:29:41.462591Z","id":"17edf6d7-ea29-40ce-9c21-7257e78d63b4","is_ipv6":true,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"e21c7bbd-d5bf-42a9-89c7-6cf879c9e2e5","mac_address":"02:00:00:1A:F5:05","name":"scw-test-pool-placeme-test-pool-placeme-b608bd","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"77d0c0a8-ccce-46f6-aae7-a10db5e5ccbb"},"tags":[],"updated_at":"2025-09-30T09:29:41.462591Z","zone":null},{"address":"172.17.184.3/22","created_at":"2025-09-30T09:29:41.339965Z","id":"d18796ce-eb8e-4069-803f-9f45ce75bf73","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"e21c7bbd-d5bf-42a9-89c7-6cf879c9e2e5","mac_address":"02:00:00:1A:F5:05","name":"scw-test-pool-placeme-test-pool-placeme-b608bd","type":"instance_private_nic"},"reverses":[],"source":{"subnet_id":"bfb35653-ff09-40e0-a2ff-dc3d3092cdd8"},"tags":[],"updated_at":"2025-09-30T09:29:41.339965Z","zone":null}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.133584ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8683876a-54e1-4e3d-a857-b0cb55312d87
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"8683876a-54e1-4e3d-a857-b0cb55312d87","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.018875ms
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/67369b9c-9815-48d9-9ed2-d9764b23cf46?with_additional_resources=false
        method: DELETE
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_gr[...]
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
        method: POST
      response:
        body: '{"placement_group":{"id":"b60e8acb-5cdd-4e0a-884e-19133968b38b","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b60e8acb-5cdd-4e0a-884e-19133968b38b
        status: 201 Created
        code: 201
        duration: 256.490708ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b60e8acb-5cdd-4e0a-884e-19133968b38b
        method: GET
      response:
        body: '{"placement_group":{"id":"b60e8acb-5cdd-4e0a-884e-19133968b38b","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.708667ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigPlacementGroupWithCustomZone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:35:40.356275Z","custom_routes_propagation_enabled":true,"id":"f3544c0d-108e-47de-a399-3b50b2e6de6a","is_default":false,"name":"testAccCheckK8SPoolConfigPlacementGroupWithCustomZone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:35:40.356275Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.26625ms
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/f3544c0d-108e-47de-a399-3b50b2e6de6a
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:35:40.356275Z","custom_routes_propagation_enabled":true,"id":"f3544c0d-108e-47de-a399-3b50b2e6de6a","is_default":false,"name":"testAccCheckK8SPoolConfigPlacementGroupWithCustomZone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:35:40.356275Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.903083ms
    - id: 56
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f3544c0d-108e-47de-a399-3b50b2e6de6a","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/142dc759-fe27-4158-a427-839af820dd01
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:35:40.660814Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"142dc759-fe27-4158-a427-839af820dd01","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-09-30T09:35:40.660814Z","id":"b1d439f0-a522-46a2-922f-831b09370bc4","private_network_id":"142dc759-fe27-4158-a427-839af820dd01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.12.0/22","updated_at":"2025-09-30T09:35:40.660814Z","vpc_id":"f3544c0d-108e-47de-a399-3b50b2e6de6a"},{"created_at":"2025-09-30T09:35:40.660814Z","id":"db8b0266-0e28-4655-80a7-7e0ff2862bfc","private_network_id":"142dc759-fe27-4158-a427-839af820dd01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:a270::/64","updated_at":"2025-09-30T09:35:40.660814Z","vpc_id":"f3544c0d-108e-47de-a399-3b50b2e6de6a"}],"tags":[],"updated_at":"2025-09-30T09:35:40.660814Z","vpc_id":"f3544c0d-108e-47de-a399-3b50b2e6de6a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.232833ms
    - id: 58
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.34.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_simil[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/4433fbcd-6387-4c95-b52a-19e032698d4a
        method: GET
      response:
        body: '{"acl_available":true,"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking[...]
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/4433fbcd-6387-4c95-b52a-19e032698d4a/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.070542ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/4433fbcd-6387-4c95-b52a-19e032698d4a/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVUpYYWtORFFWRk[...]
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-placement-group-2","node_type":"pro2_xxs","placement_group_id":"b60e8acb-5cdd-4e0a-884e-19133968b38b","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - app[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/84130e53-e8d0-4098-9ecd-7cd476a5d05d
        method: GET
      response:
        body: '{"autohealing":false,"autoscaling":false,"cluster_id":"4433fbcd-6387-4c95-b52a-19e032698d4a","container_runtime":"containerd","created_at":"2025-09-30T09:35:47.576408Z","id":"84130e53-e8d0-4098-9ecd-7cd476a5d05d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","new_images_enabled":true,"node_type":"pro2_xxs","placement_group_id":"b60e8acb-5cdd-4e0a-884e-19133968b38b","public_ip_disabled":false,"region":"nl-ams","root_volume_size":20000000000,"root_volume_type":"sbs_5k","security_group_id":"2945e7dc-e7f7-4825-bf92-6762417bc82b","size":1,"status":"scaling","tags":[],"updated_at":"2025-09-30T09:35:47.576408Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.34.1","zone":"nl-ams-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.740583ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/4433fbcd-6387-4c95-b52a-19e032698d4a/nodes?order_by=created_at_asc&page=1&pool_id=84130e53-e8d0-4098-9ecd-7cd476a5d05d&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"4433fbcd-6387-4c95-b52a-19e032698d4a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2025-09-30T09:37:23.127369Z","error_message":"","id":"3231ac43-3150-41d2-be29-8bbd20adc21e","name":"scw-test-pool-placeme-test-pool-placeme-3231ac","pool_id":"84130e53-e8d0-4098-9ecd-7cd476a5d05d","provider_id":"scaleway://instance/nl-ams-2/7c331670-fc66-4525-a511-494f0a596769","public_ip_v4":"51.158.232.111","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2025-09-30T09:38:29.804537Z"}],"total_count":1}'
[...]
