---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-08T19:50:30.696825Z","dhcp_enabled":true,"id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:50:30.696825Z","id":"0513242d-4995-427d-a683-568eb0bd228f","subnet":"172.17.24.0/22","updated_at":"2024-04-08T19:50:30.696825Z"},{"created_at":"2024-04-08T19:50:30.696825Z","id":"b7d11f86-3678-44c2-8f58-36f2c795c5f5","subnet":"fd5f:519c:6d46:36e0::/64","updated_at":"2024-04-08T19:50:30.696825Z"}],"tags":[],"updated_at":"2024-04-08T19:50:30.696825Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 604.15055ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2ff06d91-e981-4201-8d2f-3b9c8d5a0f06
        method: GET
      response:
        body: '{"created_at":"2024-04-08T19:50:30.696825Z","dhcp_enabled":true,"id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-08T19:50:30.696825Z","id":"0513242d-4995-427d-a683-568eb0bd228f","subnet":"172.17.24.0/22","updated_at":"2024-04-08T19:50:30.696825Z"},{"created_at":"2024-04-08T19:50:30.696825Z","id":"b7d11f86-3678-44c2-8f58-36f2c795c5f5","subnet":"fd5f:519c:6d46:36e0::/64","updated_at":"2024-04-08T19:50:30.696825Z"}],"tags":[],"updated_at":"2024-04-08T19:50:30.696825Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.220865ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://0b4190cc-3557-4cd6-9dd6-571db5ee3349.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-08T19:50:32.082219182Z","created_at":"2024-04-08T19:50:32.082219182Z","description":"","dns_wildcard":"*.0b4190cc-3557-4cd6-9dd6-571db5ee3349.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"0b4190cc-3557-4cd6-9dd6-571db5ee3349","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2024-04-08T19:50:32.095438397Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 841.33811ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b4190cc-3557-4cd6-9dd6-571db5ee3349
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b4190cc-3557-4cd6-9dd6-571db5ee3349/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.367562ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b4190cc-3557-4cd6-9dd6-571db5ee3349/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVVWGRPZWtVMVRsUkJlazB4YjFoRVZFMHdUVVJSZDA1NlJUVk9WRUY2VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b4190cc-3557-4cd6-9dd6-571db5ee3349/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"0b4190cc-3557-4cd6-9dd6-571db5ee3349","container_runtime":"containerd","created_at":"2024-04-08T19:50:37.568755Z","id":"60c544f7-79e8-4d68-b1e2-a6b72aaff655","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:50:37.580452263Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.425047ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/60c544f7-79e8-4d68-b1e2-a6b72aaff655
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":false,"cluster_id":"0b4190cc-3557-4cd6-9dd6-571db5ee3349","container_runtime":"containerd","created_at":"2024-04-08T19:50:37.568755Z","id":"60c544f7-79e8-4d68-b1e2-a6b72aaff655","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-04-08T19:50:37.580452Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.659217ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b4190cc-3557-4cd6-9dd6-571db5ee3349/nodes?order_by=created_at_asc&page=1&pool_id=60c544f7-79e8-4d68-b1e2-a6b72aaff655&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0b4190cc-3557-4cd6-9dd6-571db5ee3349","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:55:46.111765Z","error_message":null,"id":"3ce71300-eb11-4ad7-8736-cdc4f9ea7b94","name":"scw-test-k8s-public-i-test-k8s-public-i-3ce713","pool_id":"60c544f7-79e8-4d68-b1e2-a6b72aaff655","provider_id":"scaleway://instance/fr-par-1/86ad75b0-4080-46bb-a489-e7021d2eef9e","public_ip_v4":"51.15.205.29","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:58:15.548044Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.365346ms
[...]
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b4190cc-3557-4cd6-9dd6-571db5ee3349/nodes?order_by=created_at_asc&pool_id=60c544f7-79e8-4d68-b1e2-a6b72aaff655&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"0b4190cc-3557-4cd6-9dd6-571db5ee3349","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-08T19:55:46.111765Z","error_message":null,"id":"3ce71300-eb11-4ad7-8736-cdc4f9ea7b94","name":"scw-test-k8s-public-i-test-k8s-public-i-3ce713","pool_id":"60c544f7-79e8-4d68-b1e2-a6b72aaff655","provider_id":"scaleway://instance/fr-par-1/86ad75b0-4080-46bb-a489-e7021d2eef9e","public_ip_v4":"51.15.205.29","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-08T19:58:15.548044Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.817981ms
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/86ad75b0-4080-46bb-a489-e7021d2eef9e
        method: GET
      response:
        body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64 mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2024-04-08T19:55:46.779070+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-3ce713","id":"86ad75b0-4080-46bb-a489-e7021d2eef9e","image":{"arch":"x86_64","creation_date":"2024-03-06T10:45:29.062159+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"814de558-35c6-4048-a84e-8602a4dd9ac7","modification_date":"2024-03-06T14:16:35.219919+00:00","name":"k8s_base_node_2024-03-05","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"7b206b8a-defd-4387-ab8e-f2e5eb1f800b","name":"k8s_base_node_2024-03-05","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:4900::1","gateway":"2001:bc8:610:4900::","netmask":"64"},"location":{"cluster_id":"50","hypervisor_id":"1501","node_id":"1","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:4a:ec:8f","maintenances":[],"modification_date":"2024-04-08T19:56:03.103486+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-3ce713","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.194.73.1","private_nics":[{"creation_date":"2024-04-08T19:55:47.408039+00:00","id":"ea3cc146-d866-4e0c-990f-4c0a46d0abdf","mac_address":"02:00:00:19:af:f6","modification_date":"2024-04-08T19:55:47.909391+00:00","private_network_id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06","server_id":"86ad75b0-4080-46bb-a489-e7021d2eef9e","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.205.29","dynamic":true,"family":"inet","gateway":null,"id":"95be265c-31f6-4f7a-bce8-531c926cba73","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.205.29","dynamic":true,"family":"inet","gateway":null,"id":"95be265c-31f6-4f7a-bce8-531c926cba73","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"6ffb0a49-d4ad-4648-8db7-75ad2759b19b","name":"kubernetes 0b4190cc-3557-4cd6-9dd6-571db5ee3349"},"state":"running","state_detail":"booting kernel","tags":["kapsule=0b4190cc-3557-4cd6-9dd6-571db5ee3349","pool=60c544f7-79e8-4d68-b1e2-a6b72aaff655","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=3ce71300-eb11-4ad7-8736-cdc4f9ea7b94"],"volumes":{"0":{"boot":false,"creation_date":"2024-04-08T19:55:46.779070+00:00","export_uri":null,"id":"83d49148-e8b8-4c8c-a2a1-8820aadc8d1d","modification_date":"2024-04-08T19:55:46.779070+00:00","name":"k8s_base_node_2024-03-05","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"86ad75b0-4080-46bb-a489-e7021d2eef9e","name":"scw-test-k8s-public-i-test-k8s-public-i-3ce713"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.708474ms
[...]
    - id: 126
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/60c544f7-79e8-4d68-b1e2-a6b72aaff655
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"60c544f7-79e8-4d68-b1e2-a6b72aaff655","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.592182ms
    - id: 127
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-08T19:58:40.397157Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"07ed3e25-5acc-4e7c-977d-f9365579b1dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T19:58:40.397157Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.929447ms
    - id: 128
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/07ed3e25-5acc-4e7c-977d-f9365579b1dd
        method: GET
      response:
        body: '{"address":"192.168.0.1","created_at":"2024-04-08T19:58:40.397157Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"07ed3e25-5acc-4e7c-977d-f9365579b1dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T19:58:40.397157Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.887592ms
    - id: 129
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-08T19:58:41.214568Z","gateway_networks":[],"id":"8b79661a-b16e-4e57-bf43-c1ea3664dcce","ip":{"address":"212.47.241.108","created_at":"2024-04-08T19:58:41.181994Z","gateway_id":"8b79661a-b16e-4e57-bf43-c1ea3664dcce","id":"57b1f521-cfb7-46d4-bce5-adb4d4f35d5c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"108-241-47-212.instances.scw.cloud","tags":[],"updated_at":"2024-04-08T19:58:41.181994Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-08T19:58:41.214568Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 990.490779ms
    - id: 130
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/8b79661a-b16e-4e57-bf43-c1ea3664dcce
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-08T19:58:41.214568Z","gateway_networks":[],"id":"8b79661a-b16e-4e57-bf43-c1ea3664dcce","ip":{"address":"212.47.241.108","created_at":"2024-04-08T19:58:41.181994Z","gateway_id":"8b79661a-b16e-4e57-bf43-c1ea3664dcce","id":"57b1f521-cfb7-46d4-bce5-adb4d4f35d5c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"108-241-47-212.instances.scw.cloud","tags":[],"updated_at":"2024-04-08T19:58:41.181994Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-04-08T19:58:41.278197Z","upstream_dns_servers":[],"version":"0.6.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.760544ms
[...]
    - id: 136
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8b79661a-b16e-4e57-bf43-c1ea3664dcce","private_network_id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"07ed3e25-5acc-4e7c-977d-f9365579b1dd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-04-08T19:58:58.716016Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-08T19:58:40.397157Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"07ed3e25-5acc-4e7c-977d-f9365579b1dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T19:58:40.397157Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8b79661a-b16e-4e57-bf43-c1ea3664dcce","id":"1dff58fe-fd30-4d68-8aaa-c6ca5c3de087","ipam_config":null,"mac_address":null,"private_network_id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06","status":"created","updated_at":"2024-04-08T19:58:58.716016Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.388374902s
[...]
    - id: 141
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/1dff58fe-fd30-4d68-8aaa-c6ca5c3de087
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-04-08T19:58:58.716016Z","dhcp":{"address":"192.168.0.1","created_at":"2024-04-08T19:58:40.397157Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"07ed3e25-5acc-4e7c-977d-f9365579b1dd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-04-08T19:58:40.397157Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8b79661a-b16e-4e57-bf43-c1ea3664dcce","id":"1dff58fe-fd30-4d68-8aaa-c6ca5c3de087","ipam_config":null,"mac_address":"02:00:00:19:AF:F9","private_network_id":"2ff06d91-e981-4201-8d2f-3b9c8d5a0f06","status":"ready","updated_at":"2024-04-08T19:59:10.928586Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.403102ms
[...]
    - id: 263
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0b4190cc-3557-4cd6-9dd6-571db5ee3349?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
    - id: 267
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/1dff58fe-fd30-4d68-8aaa-c6ca5c3de087?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 73.700058ms
[...]
    - id: 273
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/8b79661a-b16e-4e57-bf43-c1ea3664dcce?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 104.505944ms
[...]
