---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: "{\"versions\":[{\"region\":\"fr-par\", \"name\":\"1.34.1\", \"label\":\"Kubernetes 1.34.1\", \"available_cnis\":[\"cilium\", \"cilium_native\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"], \"available_kubelet_args\":{\"containerLogMaxFiles\":\"uint16\", \"containerLogMaxSize\":\"quantity\", \"cpuCFSQuota\":\"bool\", \"cpuCFSQuotaPeriod\":\"duration\", \"cpuManagerPolicy\":\"enum:none|static\", \"cpuManagerPolicyOptions\":\"map[string]string\", \"enableDebuggingHandlers\":\"bool\", \"evictionHard\":\"map[string]string\", \"evictionMinimumReclaim\":\"map[string]string\", \"imageGCHighThresholdPercent\":\"uint32\", \"imageGCLowThresholdPercent\":\"uint32\", \"maxParallelImagePulls\":\"int32\", \"maxPods\":\"uint16\", \"registryBurst\":\"int32\", \"registryPullQPS\":\"int32\", \"serializeImagePulls\":\"bool\"}, \"deprecated_at\":\"2026-09-29T00:00:00Z\", \"end_of_life_at\":\"2026-11-29T00:00:00Z\", \"released_at\":\"2025-09-29T00:00:00Z\"}, {\"region\":\"fr-par\", \"name\":\"1.33.4\", \"label\":\"Kubernetes 1.33.4\", \"available_cnis\":[\"cilium\", \"calico\", \"kilo\", \"none\"], \"available_container_runtimes\":[\"containerd\"], \"available_feature_gates\":[\"HPAScaleToZero\", \"DRAAdminAccess\", \"DynamicResourceAllocation\", \"PodLevelResources\", \"CPUManagerPolicyAlphaOptions\", \"ImageVolume\"], \"available_admission_plugins\":[\"AlwaysPullImages\", \"PodNodeSelector\", \"PodTolerationRestriction\"[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"testAccCheckK8SPoolConfigZone\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"292d9618-7ef0-4404-9408-efd679d9baeb\", \"name\":\"testAccCheckK8SPoolConfigZone\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.597202Z\", \"updated_at\":\"2025-10-30T16:18:38.597202Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 68.444587ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/292d9618-7ef0-4404-9408-efd679d9baeb
    method: GET
  response:
    body: "{\"id\":\"292d9618-7ef0-4404-9408-efd679d9baeb\", \"name\":\"testAccCheckK8SPoolConfigZone\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.597202Z\", \"updated_at\":\"2025-10-30T16:18:38.597202Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.106276ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-zone\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"292d9618-7ef0-4404-9408-efd679d9baeb\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"27ac07db-b4f0-46c0-b33c-fda26a546295\", \"name\":\"test-pool-zone\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.685380Z\", \"updated_at\":\"2025-10-30T16:18:38.685380Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"33a3e721-7289-4305-975f-e325f5fa6a82\", \"created_at\":\"2025-10-30T16:18:38.685380Z\", \"updated_at\":\"2025-10-30T16:18:38.685380Z\", \"subnet\":\"172.18.56.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"27ac07db-b4f0-46c0-b33c-fda26a546295\", \"vpc_id\":\"292d9618-7ef0-4404-9408-efd679d9baeb\"}, {\"id\":\"b450b883-5f61-4703-856e-3bed5e617812\", \"created_at\":\"2025-10-30T16:18:38.685380Z\", \"updated_at\":\"2025-10-30T16:18:38.685380Z\", \"subnet\":\"fd5f:519c:6d46:f63d::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"27ac07db-b4f0-46c0-b33c-fda26a546295\", \"vpc_id\":\"292d9618-7ef0-4404-9408-efd679d9baeb\"}], \"vpc_id\":\"292d9618-7ef0-4404-9408-efd679d9baeb\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 644.102037ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/27ac07db-b4f0-46c0-b33c-fda26a546295
    method: GET
  response:
    body: "{\"id\":\"27ac07db-b4f0-46c0-b33c-fda26a546295\", \"name\":\"test-pool-zone\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:38.685380Z\", \"updated_at\":\"2025-10-30T16:18:38.685380Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-8[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"type\":\"\",\"name\":\"test-pool-zone\",\"description\":\"\",\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"zone\"],\"version\":\"1.34.1\",\"cni\":\"cilium\",\"pools\":null,\"autoscaler_config\":{\"scale_down_disabled\":null,\"scale_down_delay_after_add\":null,\"estimator\":\"unknown_estimator\",\"expander\":\"unknown_expander\",\"ignore_daemonsets_utilization\":null,\"balance_similar_node_groups\":null,\"expendable_pods_priority_cutoff\":0,\"scale_down_unneeded_time\":null,\"scale_down_utilization_threshold\":null,\"max_graceful_termination_sec\":0},\"feature_gates\":[],\"admission_plugins\":[],\"apiserver_cert_sans\":[],\"private_network_id\":\"27ac07db-b4f0-46c0-b33c-fda26a546295\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"d791f1d5-dc37-4c4f-93d7-8af7989c1049\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:39.505931Z\", \"updated_at\":\"2025-10-30T16:18:39.505931Z\", \"type\":\"kapsule\", \"name\":\"test-pool-zone\", \"description\":\"\", \"status\":\"creating\", \"version\":\"1.34.1\", \"cni\":\"cilium\", \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"zone\"], \"cluster_url\":\"https://d791f1d5-dc37-4c4f-93d7-8af7989c1049.api.k8s.fr-par.scw.cloud:6443\", \"dns_wildcard\":\"*.d791f1d5-dc37-4c4f-93d7-8af7989c1049.nodes.k8s.fr-par.scw.cloud\", \"autoscaler_config\":{\"scale_down_disabled\":false, \"scale_down_delay_after_add\":\"10m\", \"estimator\":\"binpacking\", \"expander\":\"random\", \"ignore_daemonsets_utilization\":false, \"balance_similar_node_groups\":false, \"expendable_pods_priority_cutoff\":0, \"scale_down_unneeded_time\":\"10m\", \"scale_down_utilization_threshold\":0.5, \"max_graceful_termination_sec\":0}, \"auto_upgrade\":{\"enabled\":false, \"maintenance_window\":{\"start_hour\":0, \"day\":\"any\"}}, \"upgrade_available\":false, \"feature_gates\":[], \"admission_plugins\":[], \"open_id_connect_config\":{\"issuer_url\":\"\", \"client_id\":\"\", \"username_claim\":\"\", \"username_prefix\":\"\", \"groups_claim\":[], \"groups_prefix\":\"\", \"required_claim\":[]}, \"apiserver_cert_sans\":[], \"private_network_id\":\"27ac07db-b4f0-46c0-b33c-fda26a546295\", \"commitment_ends_at\":\"2025-10-30T16:18:39.505941Z\", \"acl_available\":true, \"iam_nodes_group_id\":\"\", \"new_images_enabled\":false, \"pod_cidr\":\"100.64.0.0/15\", \"service_cidr\":\"10.32.0.0/20\", \"service_dns_ip\":\"10.32.0.10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.340994ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d791f1d5-dc37-4c4f-93d7-8af7989c1049
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"d791f1d5-dc37-4c4f-93d7-8af7989c1049\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:39.505931Z\", \"updated_at\":\"2025-10-30T16:18:39.505931Z\", \"type\":\"k[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d791f1d5-dc37-4c4f-93d7-8af7989c1049/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: "{\"total_count\":0, \"pools\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.799697ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d791f1d5-dc37-4c4f-93d7-8af7989c1049/kubeconfig
    method: GET
  response:
    body: "{\"name\":\"kubeconfig\", \"content_type\":\"application/octet-stream\", \"content\":\"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhha05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3hUVlJCZVU5VVJUSk5WR2Q2VDFadldFUlVUVEZOVkVGNVQxUkZNazFVWjNwUFZtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDUVdaM1[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-pool-zone\",\"node_type\":\"pro2_xxs\",\"autoscaling\":true,\"size\":1,\"min_size\":1,\"max_size\":1,\"container_runtime\":\"containerd\",\"autohealing\":true,\"tags\":[\"terraform-test\",\"scaleway_k8s_cluster\",\"zone\"],\"kubelet_args\":{},\"zone\":\"fr-par-2\",\"root_volume_type\":\"default_volume_type\",\"public_ip_disabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d791f1d5-dc37-4c4f-93d7-8af7989c1049/pools
    method: POST
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"854794fd-a48f-4acc-a2d3-906acdf6aa4a\", \"cluster_id\":\"d791f1d5-dc37-4c4f-93d7-8af7989c1049\", \"created_at\":\"2025-10-30T16:18:45.058907Z\", \"updated_at\":\"2025-10-30T16:18:45.058907Z\", \"name\":\"test-pool-zone\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"zone\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-2\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"f7133f1e-2498-4f60-a705-67938d64c8d7\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.24725ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/854794fd-a48f-4acc-a2d3-906acdf6aa4a
    method: GET
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"854794fd-a48f-4acc-a2d3-906acdf6aa4a\", \"cluster_id\":\"d791f1d5-dc37-4c4f-93d7-8af7989c1049\", \"created_at\":\"2025-10-30T16:18:45.058907Z\", \"updated_at\":\"2025-10-30T16:18:45.058907Z\", \"name\":\"test-pool-zone\", \"status\":\"scaling\", \"version\":\"1.34.1\", \"node_type\":\"pro2_xxs\", \"autoscaling\":true, \"size\":1, \"min_size\":1, \"max_size\":1, \"container_runtime\":\"containerd\", \"autohealing\":true, \"tags\":[\"terraform-test\", \"scaleway_k8s_cluster\", \"zone\"], \"placement_group_id\":null, \"kubelet_args\":{}, \"upgrade_policy\":{\"max_unavailable\":1, \"max_surge\":0}, \"zone\":\"fr-par-2\", \"root_volume_type\":\"sbs_5k\", \"root_volume_size\":20000000000, \"public_ip_disabled\":false, \"new_images_enabled\":true, \"security_group_id\":\"f7133f1e-2498-4f60-a705-67938d64c8d7\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 20.811378ms
[...]
- id: 90
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      page:
      - "1"
      pool_id:
      - 854794fd-a48f-4acc-a2d3-906acdf6aa4a
      status:
      - unknown
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d791f1d5-dc37-4c4f-93d7-8af7989c1049/nodes?order_by=created_at_asc&page=1&pool_id=854794fd-a48f-4acc-a2d3-906acdf6aa4a&status=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"nodes\":[{\"region\":\"fr-par\", \"id\":\"0bce5ac7-df73-41bc-9fc3-7d34bb1d1fd6\", \"cluster_id\":\"d791f1d5-dc37-4c4f-93d7-8af7989c1049\", \"created_at\":\"2025-10-30T16:24:01.851586Z\", \"updated_at\":\"2025-10-30T16:25:00.308344Z\", \"pool_id\":\"854794fd-a48f-4acc-a2d3-906acdf6aa4a\", \"status\":\"ready\", \"conditions\":{\"DiskPressure\":\"False\", \"MemoryPressure\":\"False\", \"PIDPressure\":\"False\", \"Ready\":\"True\"}, \"name\":\"scw-test-pool-zone-test-pool-zone-0bce5ac7df73\", \"public_ip_v4\":\"51.159.173.252\", \"public_ip_v6\":null, \"provider_id\":\"scaleway://instance/fr-par-2/26105214-77b0-4ba3-b555-cda300203d9a\", \"error_message\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 24.299626ms
[...]
- id: 92
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_name:
      - scw-test-pool-zone-test-pool-zone-0bce5ac7df73
      resource_type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_name=scw-test-pool-zone-test-pool-zone-0bce5ac7df73&resource_type=unknown_type
    method: GET
  response:
    body: "{\"total_count\":2, \"ips\":[{\"id\":\"2bb2f1b5-10a7-4053-8335-e4b5a2276916\", \"address\":\"fd5f:519c:6d46:f63d:a663:f01c:6ca6:8321/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":true, \"created_at\":\"2025-10-30T16:24:05.050137Z\", \"updated_at\":\"2025-10-30T16:24:05.050137Z\", \"source\":{\"subnet_id\":\"b450b883-5f61-4703-856e-3bed5e617812\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"4e408267-7d6c-44e7-847a-7c10a3f17a9e\", \"mac_address\":\"02:00:00:2A:15:86\", \"name\":\"scw-test-pool-zone-test-pool-zone-0bce5ac7df73\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}, {\"id\":\"87c7c36d-97a9-4607-a211-0b1d7d22d646\", \"address\":\"172.18.56.3/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_ipv6\":false, \"created_at\":\"2025-10-30T16:24:04.940610Z\", \"updated_at\":\"2025-10-30T16:24:04.940610Z\", \"source\":{\"subnet_id\":\"33a3e721-7289-4305-975f-e325f5fa6a82\"}, \"resource\":{\"type\":\"instance_private_nic\", \"id\":\"4e408267-7d6c-44e7-847a-7c10a3f17a9e\", \"mac_address\":\"02:00:00:2A:15:86\", \"name\":\"scw-test-pool-zone-test-pool-zone-0bce5ac7df73\"}, \"tags\":[], \"reverses\":[], \"region\":\"fr-par\", \"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 27.113076ms
[...]
- id: 155
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/854794fd-a48f-4acc-a2d3-906acdf6aa4a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"pool\",\"resource_id\":\"854794fd-a48f-4acc-a2d3-906acdf6aa4a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.988652ms
- id: 156
  request:
    host: api.scaleway.com
    form:
      with_additional_resources:
      - "false"
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d791f1d5-dc37-4c4f-93d7-8af7989c1049?with_additional_resources=false
    method: DELETE
  response:
    body: "{\"region\":\"fr-par\", \"id\":\"d791f1d5-dc37-4c4f-93d7-8af7989c1049\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-30T16:18:39.505931Z\", \"updated_at\":\"2025-10-30T16:29:23.512376Z\", \"type[...]
[...]
