---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"srn":"","region":"fr-par","name":"1.37.0","label":"Kubernetes 1.37.0","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","cpuManagerPolicyOptions":"map[string]string","enableDebuggingHandlers":"bool","evictionHard":"map[string]string","evictionMinimumReclaim":"map[string]string","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxParallelImagePulls":"int32","maxPods":"uint16","registryBurst":"int32","registryPullQPS":"int32","serializeImagePulls":"bool"},"deprecated_at":"2027-08-28T00:00:00Z","end_of_life_at":"2027-10-28T00:00:00Z","released_at":"2026-08-26T00:00:00Z","additional_components":{}},{"srn":"","region":"fr-par","name":"1.36.4","label":"Kubernetes 1.36.4","available_cnis":["cilium","cilium_native","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","CPUManagerPolicyAlphaOptions","ImageVolume","MutatingAdmissionPolicy"],"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQ[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"testAccCheckK8SPoolConfigZone","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/c23c5db7-b2da-4a7e-9225-7e69891c10ee","id":"c23c5db7-b2da-4a7e-9225-7e69891c10ee","name":"testAccCheckK8SPoolConfigZone","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:27:43.858599Z","updated_at":"2026-09-24T11:27:43.858599Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 184.905125ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.488ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c23c5db7-b2da-4a7e-9225-7e69891c10ee
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/c23c5db7-b2da-4a7e-9225-7e69891c10ee","id":"c23c5db7-b2da-4a7e-9225-7e69891c10ee","name":"testAccCheckK8SPoolConfigZone","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:27:43.858599Z","updated_at":"2026-09-24T11:27:43.858599Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.233ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-zone","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"c23c5db7-b2da-4a7e-9225-7e69891c10ee","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/7aba4096-e396-46ce-8043-4932a5122351","id":"7aba4096-e396-46ce-8043-4932a5122351","name":"test-pool-zone","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:27:44.021134Z","updated_at":"2026-09-24T11:27:44.021134Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/0df94c2d-4b50-4363-bf11-ab2e586a6278","id":"0df94c2d-4b50-4363-bf11-ab2e586a6278","created_at":"2026-09-24T11:27:44.021134Z","updated_at":"2026-09-24T11:27:44.021134Z","subnet":"172.16.56.0/22","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"7aba4096-e396-46ce-8043-4932a5122351","vpc_id":"c23c5db7-b2da-4a7e-9225-7e69891c10ee","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/1062e4b5-af93-4ba7-927d-81a9190024f6","id":"1062e4b5-af93-4ba7-927d-81a9190024f6","created_at":"2026-09-24T11:27:44.021134Z","updated_at":"2026-09-24T11:27:44.021134Z","subnet":"fd49:821a:a311:b9cb::/64","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_id":"7aba4096-e396-46ce-8043-4932a5122351","vpc_id":"c23c5db7-b2da-4a7e-9225-7e69891c10ee","region":"fr-par"}],"vpc_id":"c23c5db7-b2da-4a7e-9225-7e69891c10ee","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 625.893167ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7aba4096-e396-46ce-8043-4932a5122351
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/7aba4096-e396-46ce-8043-4932a5122351","id":"7aba4096-e396-46ce-8043-4932a5122351","name":"test-pool-zone","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:27[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.37.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":null},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"7aba4096-e396-46ce-8043-4932a5122351"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"srn":"","region":"fr-par","id":"82aa1d76-116c-4966-a9f1-61089efa3ec3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:27:44.819256Z","updated_at":"2026-09-24T11:27:44.819256Z","type":"kapsule","name":"test-pool-zone","description":"","status":"creating","version":"1.37.0","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","zone"],"cluster_url":"https://82aa1d76-116c-4966-a9f1-61089efa3ec3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.82aa1d76-116c-4966-a9f1-61089efa3ec3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0,"skip_nodes_with_local_storage":false,"log_level":2},"auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[],"private_network_id":"7aba4096-e396-46ce-8043-4932a5122351","commitment_ends_at":"2026-09-24T11:27:44.819264Z","acl_available":true,"iam_nodes_group_id":"","pod_cidr":"100.64.0.0/15","service_cidr":"10.32.0.0/20","service_dns_ip":"10.32.0.10"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 239.522541ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/82aa1d76-116c-4966-a9f1-61089efa3ec3
        method: GET
      response:
        body: '{"srn":"","region":"fr-par","id":"82aa1d76-116c-4966-a9f1-61089efa3ec3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2026-09-24T11:27:44.819256Z","updated_at":"2026-09-24T11:27:44.819256Z","[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            page:
                - "1"
            status:
                - unknown
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/82aa1d76-116c-4966-a9f1-61089efa3ec3/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"total_count":0,"pools":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 31.616792ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            endpoint:
                - unknown_endpoint
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/82aa1d76-116c-4966-a9f1-61089efa3ec3/kubeconfig?endpoint=unknown_endpoint
        method: GET
      response:
        body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVSlhla05EUVZGSFowRjNTVUpCWjBsQ1FVUkJTMEpuWjNGb2EycFBVRkZSUkVGcVFWWk5VazEzUlZGWlJGWlJVVVJGZDNCeVpGZEtiR050Tld3S1pFZFdlazFDTkZoRVZFa3lUVVJyZVUxNlJYaE5hbU13VGtadldFUlVUVEpOUkd0NVRYcEZlRTFxWXpCT1JtOTNSbFJGVkUxQ1JVZEJNVlZGUVhoTlN3cGhNMVpwV2xoS2RWcFlVbXhqZWtKYVRVSk5SMEo1Y1VkVFRUUTVRV2RGUjBORGNVZFRUVFE1UVhkRlNFRXdTVUZDVEZGcmR[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/products/servers?page=1
        method: GET
      response:
        body: '{"servers": {"B300-SXM-8-288G": {"alt_names": [], "arch": "x86_64", "ncpus": 224, "ram": 4123168604160, "gpu": 8, "gpu_info": {"gpu_manufacturer": "NVIDIA", "gpu_name": "B300-SXM", "gpu_memory": 309237645312}, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 24000000000000, "scratch_storage_max_volumes_count": 1, "monthly_price": 43800.0, "hourly_price": 60.0, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 16}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 20000000000, "sum_internet_bandwidth": 20000000000, "interfaces": [{"internal_bandwidth": 20000000000, "internet_bandwidth": 20000000000}]}, "block_bandwidth": 5242880000, "end_of_service": false}, "BASIC2-A12C-24G": {"alt_names": [], "arch": "arm64", "ncpus": 12, "ram": 25769803776, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 115.194, "hourly_price": 0.1578, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1200000000, "sum_internet_bandwidth": 1200000000, "interfaces": [{"internal_bandwidth": 1200000000, "internet_bandwidth": 1200000000}]}, "block_bandwidth": 335544320, "end_of_service": false}, "BASIC2-A12C-48G": {"alt_names": [], "arch": "arm64", "ncpus": 12, "ram": 51539607552, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 131.911, "hourly_price": 0.1807, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1200000000, "sum_internet_bandwidth": 1200000000, "interfaces": [{"internal_bandwidth": 1200000000, "internet_bandwidth": 1200000000}]}, "block_bandwidth": 335544320, "end_of_service": false}, "BASIC2-A16C-32G": {"alt_names": [], "arch": "arm64", "ncpus": 16, "ram": 34359738368, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 150.891, "hourly_price": 0.2067, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": 1600000000}]}, "block_bandwidth": 503316480, "end_of_service": false}, "BASIC2-A16C-64G": {"alt_names": [], "arch": "arm64", "ncpus": 16, "ram": 68719476736, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 201.188, "hourly_price": 0.2756, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000, "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": 1600000000}]}, "block_bandwidth": 503316480, "end_of_service": false}, "BASIC2-A2C-4G": {"alt_names": [], "arch": "arm64", "ncpus": 2, "ram": 4294967296, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 16.79, "hourly_price": 0.023, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": 200000000}]}, "block_bandwidth": 83886080, "end_of_service": false}, "BASIC2-A2C-8G": {"alt_names": [], "arch": "arm64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 25.185, "hourly_price": 0.0345, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": 200000000}]}, "block_bandwidth": 83886080, "end_of_service": false}, "BASIC2-A4C-16G": {"alt_names": [], "arch": "arm64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 50.297, "hourly_price": 0.0689, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]}, "block_bandwidth": 125829120, "end_of_service": false}, "BASIC2-A4C-8G": {"alt_names": [], "arch": "arm64", "ncpus": 4, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 37.741, "hourly_price": 0.0517, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": 400000000}]}, "block_bandwidth": 125829120, "end_of_service": false}, "BASIC2-A6C-12G": {"alt_names": [], "arch": "arm64", "ncpus": 6, "ram": 12884901888, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 57.597, "hourly_price": 0.0789, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 600000000, "sum_internet_bandwidth": 600000000, "interfaces": [{"internal_bandwidth": 600000000, "internet_bandwidth": 600000000}]}, "block_bandwidth": 188743680, "end_of_service": false}, "BASIC2-A6C-24G": {"alt_names": [], "arch": "arm64", "ncpus": 6, "ram": 25769803776, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 65.919, "hourly_price": 0.0903, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 600000000, "sum_internet_bandwidth": 600000000, "interfaces": [{"internal_bandwidth": 600000000, "internet_bandwidth": 600000000}]}, "block_bandwidth": 188743680, "end_of_service": false}, "BASIC2-A8C-16G": {"alt_names": [], "arch": "arm64", "ncpus": 8, "ram": 17179869184, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 75.482, "hourly_price": 0.1034, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]}, "block_bandwidth": 251658240, "end_of_service": false}, "BASIC2-A8C-32G": {"alt_names": [], "arch": "arm64", "ncpus": 8, "ram": 34359738368, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 100.594, "hourly_price": 0.1378, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth": 800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth": 800000000}]}, "block_bandwidth": 251658240, "end_of_service": false}, "BASIC3-X12C-24G": {"alt_names": [], "arch": "x86_64", "ncpus": 12, "ram": 25769803776, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 197.903, "hourly_price": 0.2711, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 2250000000, "sum_internet_bandwidth": 2250000000, "interfaces": [{"internal_bandwidth": 2250000000, "internet_bandwidth": 2250000000}]}, "block_bandwidth": 786432000, "end_of_service": false}, "BASIC3-X12C-48G": {"alt_names": [], "arch": "x86_64", "ncpus": 12, "ram": 51539607552, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 226.592, "hourly_price": 0.3104, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 2250000000, "sum_internet_bandwidth": 2250000000, "interfaces": [{"internal_bandwidth": 2250000000, "internet_bandwidth": 2250000000}]}, "block_bandwidth": 786432000, "end_of_service": false}, "BASIC3-X16C-32G": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 34359738368, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 259.33031, "hourly_price": 0.355247, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 4}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 3000000000, "sum_internet_bandwidth": 3000000000, "interfaces": [{"internal_bandwidth": 3000000000, "internet_bandwidth": 3000000000}]}, "block_bandwidth": 1048576000, "end_of_service": false}, "BASIC3-X16C-64G": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 345.49805, "hourly_price": 0.473285, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 3000000000, "sum_internet_bandwidth": 3000000000, "interfaces": [{"internal_bandwidth": 3000000000, "internet_bandwidth": 3000000000}]}, "block_bandwidth": 1048576000, "end_of_service": false}, "BASIC3-X2C-4G": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 28.79777, "hourly_price": 0.039449, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 350000000, "sum_internet_bandwidth": 350000000, "interfaces": [{"internal_bandwidth": 350000000, "internet_bandwidth": 350000000}]}, "block_bandwidth": 131072000, "end_of_service": false}, "BASIC3-X2C-8G": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 43.23425, "hourly_price": 0.059225, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 350000000, "sum_internet_bandwidth": 350000000, "interfaces": [{"internal_bandwidth": 350000000, "internet_bandwidth": 350000000}]}, "block_bandwidth": 131072000, "end_of_service": false}, "BASIC3-X4C-16G": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 86.4685, "hourly_price": 0.11845, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 2}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 700000000, "sum_internet_bandwidth": 700000000, "interfaces": [{"internal_bandwidth": 700000000, "internet_bandwidth": 700000000}]}, "block_bandwidth": 262144000, "end_of_service": false}, "BASIC3-X4C-8G": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": 0, "gpu_info": null, "mig_profile": null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "scratch_storage_max_size": 0, "scratch_storage_max_volumes_count": 0, "monthly_price": 57.67073, "hourly_price": 0.079001, "capabilities": {"boot_types": ["local", "rescue"], "placement_groups": true, "block_storage": true, "hot_snapshots_local_volume": false, "private_network": 8, "max_file_systems": 1}, "network": {"ipv6_support": true, "sum_internal_bandwidth": 700000000, "sum_internet_bandwidth": 700000000, "interfaces": [
[...]
