---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
        method: GET
      response:
        body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes 1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo","none"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|st[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T15:23:49.837212Z","dhcp_enabled":true,"id":"7bb6b303-a40c-4fb8-b4d1-8d084a02ef4e","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-04-17T15:23:49.837212Z","id":"354748cc-61f1-4329-9e0b-b3f1646da00a","subnet":"172.16.24.0/22","updated_at":"2024-04-17T15:23:49.837212Z"},{"created_at":"2024-04-17T15:23:49.837212Z","id":"176f57c6-97d2-400e-970b-7089b1ec19ce","subnet":"fd63:256c:45f7:dcdb::/64","updated_at":"2024-04-17T15:23:49.837212Z"}],"tags":[],"updated_at":"2024-04-17T15:23:49.837212Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 829.649541ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7bb6b303-a40c-4fb8-b4d1-8d084a02ef4e
        method: GET
      response:
        body: '{"created_at":"2024-04-17T15:23:49.837212Z","dhcp_enabled":true,"id":"7bb6b303-a40c-4fb8-b4d1-8d084a02ef4e","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-04-17T15:23:49.837212Z","id":"354748cc-61f1-4329-9e0b-b3f1646da00a","subnet":"172.16.24.0/22","updated_at":"2024-04-17T15:23:49.837212Z"},{"created_at":"2024-04-17T15:23:49.837212Z","id":"176f57c6-97d2-400e-970b-7089b1ec19ce","subnet":"fd63:256c:45f7:dcdb::/64","updated_at":"2024-04-17T15:23:49.837212Z"}],"tags":[],"updated_at":"2024-04-17T15:23:49.837212Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.213056ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"7bb6b303-a40c-4fb8-b4d1-8d084a02ef4e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
        method: POST
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1c265bec-54c1-4eaf-93e0-765be3133c29.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-04-17T15:23:51.701368837Z","created_at":"2024-04-17T15:23:51.701368837Z","description":"","dns_wildcard":"*.1c265bec-54c1-4eaf-93e0-765be3133c29.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"1c265bec-54c1-4eaf-93e0-765be3133c29","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"7bb6b303-a40c-4fb8-b4d1-8d084a02ef4e","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2024-04-17T15:23:51.732434246Z","upgrade_available":false,"version":"1.29.1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.177486451s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1c265bec-54c1-4eaf-93e0-765be3133c29
        method: GET
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random",[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1c265bec-54c1-4eaf-93e0-765be3133c29/pools?order_by=created_at_asc&page=1&status=unknown
        method: GET
      response:
        body: '{"pools":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.916663ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1c265bec-54c1-4eaf-93e0-765be3133c29/kubeconfig
        method: GET
      response:
        body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFVVhoT2FrVXhUV3BOTVUxc2IxaEVWRTB3VFVSUmVFNXFSVEZOYWsweFRXeHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"test-pool-kubelet-args","node_type":"pro2_xxs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1c265bec-54c1-4eaf-93e0-765be3133c29/pools
        method: POST
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1c265bec-54c1-4eaf-93e0-765be3133c29","container_runtime":"containerd","created_at":"2024-04-17T15:23:57.187537Z","id":"951d2c86-cd59-4407-a6e7-fc36b9aa166e","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-04-17T15:23:57.203428163Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 427.487856ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/951d2c86-cd59-4407-a6e7-fc36b9aa166e
        method: GET
      response:
        body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1c265bec-54c1-4eaf-93e0-765be3133c29","container_runtime":"containerd","created_at":"2024-04-17T15:23:57.187537Z","id":"951d2c86-cd59-4407-a6e7-fc36b9aa166e","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"pro2_xxs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":20000000000,"root_volume_type":"b_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2024-04-17T15:23:57.203428Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.89404ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1c265bec-54c1-4eaf-93e0-765be3133c29/nodes?order_by=created_at_asc&page=1&pool_id=951d2c86-cd59-4407-a6e7-fc36b9aa166e&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"1c265bec-54c1-4eaf-93e0-765be3133c29","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T15:29:09.577131Z","error_message":null,"id":"ce433f50-0d45-4d6c-8b92-e949a7bfcbe1","name":"scw-test-pool-kubelet-test-pool-kubelet-ce433f","pool_id":"951d2c86-cd59-4407-a6e7-fc36b9aa166e","provider_id":"scaleway://instance/fr-par-1/f4587047-cdd7-40ec-ab8f-60e23a3c4e3a","public_ip_v4":"51.158.105.236","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T15:31:59.575072Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.343136ms
[...]
    - id: 133
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1c265bec-54c1-4eaf-93e0-765be3133c29/nodes?order_by=created_at_asc&page=1&pool_id=951d2c86-cd59-4407-a6e7-fc36b9aa166e&status=unknown
        method: GET
      response:
        body: '{"nodes":[{"cluster_id":"1c265bec-54c1-4eaf-93e0-765be3133c29","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-04-17T15:29:09.577131Z","error_message":null,"id":"ce433f50-0d45-4d6c-8b92-e949a7bfcbe1","name":"scw-test-pool-kubelet-test-pool-kubelet-ce433f","pool_id":"951d2c86-cd59-4407-a6e7-fc36b9aa166e","provider_id":"scaleway://instance/fr-par-1/f4587047-cdd7-40ec-ab8f-60e23a3c4e3a","public_ip_v4":"51.158.105.236","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-04-17T15:32:06.438950Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.008018ms
[...]
    - id: 139
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/951d2c86-cd59-4407-a6e7-fc36b9aa166e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"pool","resource_id":"951d2c86-cd59-4407-a6e7-fc36b9aa166e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.237286ms
    - id: 140
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1c265bec-54c1-4eaf-93e0-765be3133c29?with_additional_resources=false
        method: DELETE
      response:
        body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimat[...]
[...]
