---
version: 2
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ds-document_db-database-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.969596Z","retention":7},"created_at":"2023-11-16T16:25:33.969596Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6e708723-cacf-4792-86b6-0eb90f5f3a0b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-database-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6e708723-cacf-4792-86b6-0eb90f5f3a0b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.969596Z","retention":7},"created_at":"2023-11-16T16:25:33.969596Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6e708723-cacf-4792-86b6-0eb90f5f3a0b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-database-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6e708723-cacf-4792-86b6-0eb90f5f3a0b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.969596Z","retention":7},"created_at":"2023-11-16T16:25:33.969596Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6e708723-cacf-4792-86b6-0eb90f5f3a0b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-database-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6e708723-cacf-4792-86b6-0eb90f5f3a0b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.969596Z","retention":7},"created_at":"2023-11-16T16:25:33.969596Z","endpoint":{"id":"2e5f9256-9b09-4101-95f7-fbfcaecdb4dd","ip":"51.159.113.173","load_balancer":{},"name":null,"port":27122},"endpoints":[{"id":"2e5f9256-9b09-4101-95f7-fbfcaecdb4dd","ip":"51.159.113.173","load_balancer":{},"name":null,"port":27122}],"engine":"FerretDB-1","id":"6e708723-cacf-4792-86b6-0eb90f5f3a0b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-database-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"test-ds-document_db-database-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6e708723-cacf-4792-86b6-0eb90f5f3a0b/databases
    method: POST
  response:
    body: '{"managed":true,"name":"test-ds-document_db-database-basic","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6e708723-cacf-4792-86b6-0eb90f5f3a0b/databases?name=test-ds-document_db-database-basic&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"test-ds-document_db-database-basic","owner":"_rdb_superadmin","size":8758051}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6e708723-cacf-4792-86b6-0eb90f5f3a0b/databases/test-ds-document_db-database-basic
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6e708723-cacf-4792-86b6-0eb90f5f3a0b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6e708723-cacf-4792-86b6-0eb90f5f3a0b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
