---
version: 2
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-documentdb-instance-endpoint-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:34.019068Z","retention":7},"created_at":"2023-11-16T16:25:34.019068Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:34.019068Z","retention":7},"created_at":"2023-11-16T16:25:34.019068Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:25:33.817844Z","dhcp_enabled":true,"id":"b32cd1ac-6744-4329-b253-879341686871","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:25:33.817844Z","id":"2a6938d5-b0f0-4cab-923a-529231729ead","subnet":"172.16.56.0/22","updated_at":"2023-11-16T16:25:33.817844Z"},{"created_at":"2023-11-16T16:25:33.817844Z","id":"2197ec1d-bca9-4919-b33e-d990efe05d28","subnet":"fd5f:519c:6d46:308::/64","updated_at":"2023-11-16T16:25:33.817844Z"}],"tags":[],"updated_at":"2023-11-16T16:25:33.817844Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b32cd1ac-6744-4329-b253-879341686871
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:25:33.817844Z","dhcp_enabled":true,"id":"b32cd1ac-6744-4329-b253-879341686871","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:25:33.817844Z","id":"2a6938d5-b0f0-4cab-923a-529231729ead","subnet":"172.16.56.0/22","updated_at":"2023-11-16T16:25:33.817844Z"},{"created_at":"2023-11-16T16:25:33.817844Z","id":"2197ec1d-bca9-4919-b33e-d990efe05d28","subnet":"fd5f:519c:6d46:308::/64","updated_at":"2023-11-16T16:25:33.817844Z"}],"tags":[],"updated_at":"2023-11-16T16:25:33.817844Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:34.019068Z","retention":7},"created_at":"2023-11-16T16:25:34.019068Z","endpoint":{"id":"0eb071bc-bea4-4868-b109-542077ef3010","ip":"51.159.74.238","load_balancer":{},"name":null,"port":13356},"endpoints":[{"id":"0eb071bc-bea4-4868-b109-542077ef3010","ip":"51.159.74.238","load_balancer":{},"name":null,"port":13356}],"engine":"FerretDB-1","id":"c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"b32cd1ac-6744-4329-b253-879341686871","service_ip":"172.16.32.3/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9/endpoints
    method: POST
  response:
    body: '{"id":"f4813b17-d645-4613-9216-c46f15afd8e1","ip":"172.16.32.3","name":null,"port":27017,"private_network":{"private_network_id":"b32cd1ac-6744-4329-b253-879341686871","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/f4813b17-d645-4613-9216-c46f15afd8e1
    method: GET
  response:
    body: '{"id":"f4813b17-d645-4613-9216-c46f15afd8e1","ip":"172.16.32.3","name":null,"port":27017,"private_network":{"private_network_id":"b32cd1ac-6744-4329-b253-879341686871","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:29:38.949401Z","id":"4dcc81f2-7a4e-4d02-b190-a23807ab0d6c","is_default":false,"name":"my
      vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-11-16T16:29:38.949401Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4dcc81f2-7a4e-4d02-b190-a23807ab0d6c
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:29:38.949401Z","id":"4dcc81f2-7a4e-4d02-b190-a23807ab0d6c","is_default":false,"name":"my
      vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-11-16T16:29:38.949401Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"c35ed8f0-5779-4c3d-93c6-1fd8bb6b33f9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
