---
version: 2
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-documentdb-instance-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_documentdb_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.127200Z","retention":7},"created_at":"2023-11-16T16:30:12.127200Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.127200Z","retention":7},"created_at":"2023-11-16T16:30:12.127200Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.127200Z","retention":7},"created_at":"2023-11-16T16:30:12.127200Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":["terraform-test","scaleway_documentdb_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.127200Z","retention":7},"created_at":"2023-11-16T16:30:12.127200Z","endpoint":{"id":"c2a090a2-11f7-46df-943c-a08fc1221ff5","ip":"51.159.113.173","load_balancer":{},"name":null,"port":2615},"endpoints":[{"id":"c2a090a2-11f7-46df-943c-a08fc1221ff5","ip":"51.159.113.173","load_balancer":{},"name":null,"port":2615}],"engine":"FerretDB-1","id":"9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_documentdb_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"9a1b3ed8-7b51-4eef-a0a4-904eab4db3a6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
