---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"vpcDocumentDB","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-05-23T13:25:25.403270Z","id":"87a71305-60fd-4dc3-8040-55be135df9df","is_default":false,"name":"vpcDocumentDB","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-23T13:25:25.403270Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.610256ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/87a71305-60fd-4dc3-8040-55be135df9df
        method: GET
      response:
        body: '{"created_at":"2024-05-23T13:25:25.403270Z","id":"87a71305-60fd-4dc3-8040-55be135df9df","is_default":false,"name":"vpcDocumentDB","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-23T13:25:25.403270Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.175398ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-cranky-meninsky","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["10.10.64.0/22"],"vpc_id":"87a71305-60fd-4dc3-8040-55be135df9df"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-23T13:25:25.633073Z","dhcp_enabled":true,"id":"6d6d5031-0a2d-4cce-80e7-ea34f80f940b","name":"tf-pn-cranky-meninsky","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-05-23T13:25:25.633073Z","id":"684275a3-09c5-4a49-8be2-c95fb6d205e1","subnet":"10.10.64.0/22","updated_at":"2024-05-23T13:25:25.633073Z"},{"created_at":"2024-05-23T13:25:25.633073Z","id":"8f49e635-f5d5-4384-b7e1-69e3c0a575cb","subnet":"fd46:78ab:30b8:9abc::/64","updated_at":"2024-05-23T13:25:25.633073Z"}],"tags":[],"updated_at":"2024-05-23T13:25:25.633073Z","vpc_id":"87a71305-60fd-4dc3-8040-55be135df9df"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 484.566081ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6d6d5031-0a2d-4cce-80e7-ea34f80f940b
        method: GET
      response:
        body: '{"created_at":"2024-05-23T13:25:25.633073Z","dhcp_enabled":true,"id":"6d6d5031-0a2d-4cce-80e7-ea34f80f940b","name":"tf-pn-cranky-meninsky","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-05-23T13:25:25.633073Z","id":"684275a3-09c5-4a49-8be2-c95fb6d205e1","subnet":"10.10.64.0/22","updated_at":"2024-05-23T13:25:25.633073Z"},{"created_at":"2024-05-23T13:25:25.633073Z","id":"8f49e635-f5d5-4384-b7e1-69e3c0a575cb","subnet":"fd46:78ab:30b8:9abc::/64","updated_at":"2024-05-23T13:25:25.633073Z"}],"tags":[],"updated_at":"2024-05-23T13:25:25.633073Z","vpc_id":"87a71305-60fd-4dc3-8040-55be135df9df"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.911019ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-documentdb-instance-endpoint-migration","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-24T13:25:26.045380Z","retention":7},"created_at":"2024-05-23T13:25:26.045380Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"851f6353-5fe4-49e4-92f9-43b222a0aef6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"class":"bssd","size":20000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.011349606s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/851f6353-5fe4-49e4-92f9-43b222a0aef6
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-24T13:25:26.045380Z","retention":7},"created_at":"2024-05-23T13:25:26.045380Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"851f6353-5fe4-49e4-92f9-43b222a0aef6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"class":"bssd","size":20000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.707932ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/851f6353-5fe4-49e4-92f9-43b222a0aef6
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-24T13:25:26.045380Z","retention":7},"created_at":"2024-05-23T13:25:26.045380Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"851f6353-5fe4-49e4-92f9-43b222a0aef6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"class":"bssd","size":20000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.375846ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/851f6353-5fe4-49e4-92f9-43b222a0aef6
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-24T13:25:26.045380Z","retention":7},"created_at":"2024-05-23T13:25:26.045380Z","endpoint":{"id":"8fb24ee3-8412-4e72-af9d-ba7e310de8e7","ip":"195.154.196.126","load_balancer":{},"name":null,"port":27619},"endpoints":[{"id":"8fb24ee3-8412-4e72-af9d-ba7e310de8e7","ip":"195.154.196.126","load_balancer":{},"name":null,"port":27619}],"engine":"FerretDB-1","id":"851f6353-5fe4-49e4-92f9-43b222a0aef6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"class":"bssd","size":20000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.187324ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"6d6d5031-0a2d-4cce-80e7-ea34f80f940b","service_ip":"10.10.64.4/22"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/851f6353-5fe4-49e4-92f9-43b222a0aef6/endpoints
        method: POST
      response:
        body: '{"id":"dffe978e-5448-4e93-8fa5-b0dc49c1b789","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"6d6d5031-0a2d-4cce-80e7-ea34f80f940b","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 440.243775ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/dffe978e-5448-4e93-8fa5-b0dc49c1b789
        method: GET
      response:
        body: '{"id":"dffe978e-5448-4e93-8fa5-b0dc49c1b789","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"6d6d5031-0a2d-4cce-80e7-ea34f80f940b","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.240929ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/851f6353-5fe4-49e4-92f9-43b222a0aef6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"851f6353-5fe4-49e4-92f9-43b222a0aef6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.316733ms
[...]
