---
version: 2
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:34.048858Z","retention":7},"created_at":"2023-11-16T16:25:34.048858Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"fc706ef5-a78f-4ac5-8deb-1c4b1a050417","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/fc706ef5-a78f-4ac5-8deb-1c4b1a050417
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:34.048858Z","retention":7},"created_at":"2023-11-16T16:25:34.048858Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"fc706ef5-a78f-4ac5-8deb-1c4b1a050417","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-amazing-rhodes","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:25:33.626542Z","dhcp_enabled":true,"id":"c1b5ee7b-96ff-4fbd-8d82-7067e61d32a0","name":"tf-pn-amazing-rhodes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:25:33.626542Z","id":"5d7df8d7-1c51-4af1-bc14-17d643e9d244","subnet":"172.16.32.0/22","updated_at":"2023-11-16T16:25:33.626542Z"},{"created_at":"2023-11-16T16:25:33.626542Z","id":"eda12359-a543-4c0c-9a8e-400facc5dcb4","subnet":"fd5f:519c:6d46:8529::/64","updated_at":"2023-11-16T16:25:33.626542Z"}],"tags":[],"updated_at":"2023-11-16T16:25:33.626542Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c1b5ee7b-96ff-4fbd-8d82-7067e61d32a0
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:25:33.626542Z","dhcp_enabled":true,"id":"c1b5ee7b-96ff-4fbd-8d82-7067e61d32a0","name":"tf-pn-amazing-rhodes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:25:33.626542Z","id":"5d7df8d7-1c51-4af1-bc14-17d643e9d244","subnet":"172.16.32.0/22","updated_at":"2023-11-16T16:25:33.626542Z"},{"created_at":"2023-11-16T16:25:33.626542Z","id":"eda12359-a543-4c0c-9a8e-400facc5dcb4","subnet":"fd5f:519c:6d46:8529::/64","updated_at":"2023-11-16T16:25:33.626542Z"}],"tags":[],"updated_at":"2023-11-16T16:25:33.626542Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/fc706ef5-a78f-4ac5-8deb-1c4b1a050417
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:34.048858Z","retention":7},"created_at":"2023-11-16T16:25:34.048858Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"fc706ef5-a78f-4ac5-8deb-1c4b1a050417","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/fc706ef5-a78f-4ac5-8deb-1c4b1a050417
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:34.048858Z","retention":7},"created_at":"2023-11-16T16:25:34.048858Z","endpoint":{"id":"8f985273-df14-4c84-8410-be04717c5eca","ip":"51.159.113.173","load_balancer":{},"name":null,"port":1869},"endpoints":[{"id":"8f985273-df14-4c84-8410-be04717c5eca","ip":"51.159.113.173","load_balancer":{},"name":null,"port":1869}],"engine":"FerretDB-1","id":"fc706ef5-a78f-4ac5-8deb-1c4b1a050417","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"instance_id":"fc706ef5-a78f-4ac5-8deb-1c4b1a050417","endpoint_spec":[{"private_network":{"private_network_id":"c1b5ee7b-96ff-4fbd-8d82-7067e61d32a0","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"0227cf8b-2029-4492-b4c4-fd5fe2975c54","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"c1b5ee7b-96ff-4fbd-8d82-7067e61d32a0","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"cf64e2e1-b186-4fbb-a210-ad556aa8f34c","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/cf64e2e1-b186-4fbb-a210-ad556aa8f34c
    method: GET
  response:
    body: '{"endpoints":[{"id":"0227cf8b-2029-4492-b4c4-fd5fe2975c54","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"c1b5ee7b-96ff-4fbd-8d82-7067e61d32a0","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"cf64e2e1-b186-4fbb-a210-ad556aa8f34c","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/cf64e2e1-b186-4fbb-a210-ad556aa8f34c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"cf64e2e1-b186-4fbb-a210-ad556aa8f34c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
