---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"d62c56aa-a712-43fe-bc0b-283675412c05\", \"address\": \"51.158.75.207\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"3812c14a-9dee-4948-bdda-61db059cd830\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d62c56aa-a712-43fe-bc0b-283675412c05
    status: 201 Created
    code: 201
    duration: 408.334436ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"rdb-acl-basic\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"\",\"password\":\"\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":false,\"tags\":null,\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"fc801687-ca26-4858-80a9-2f5780ae9052\",\"name\":\"rdb-acl-basic\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:05:25.742170Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:05:25.742170Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 424.901779ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d62c56aa-a712-43fe-bc0b-283675412c05
    method: GET
  response:
    body: "{\"ip\": {\"id\": \"d62c56aa-a712-43fe-bc0b-283675412c05\", \"address\": \"51.158.75.207\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"3812c14a-9dee-4948-bdda-61db059cd830\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.440857ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052
    method: GET
  response:
    body: "{\"id\":\"fc801687-ca26-4858-80a9-2f5780ae9052\",\"name\":\"rdb-acl-basic\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:05:25.742170Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:05:25.742170Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.478723ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052
    method: GET
  response:
    body: "{\"id\":\"fc801687-ca26-4858-80a9-2f5780ae9052\",\"name\":\"rdb-acl-basic\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:05:25.742170Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:05:25.742170Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.147507ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052
    method: GET
  response:
    body: "{\"id\":\"fc801687-ca26-4858-80a9-2f5780ae9052\",\"name\":\"rdb-acl-basic\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.204.248\",\"port\":10320,\"name\":null,\"id\":\"d0a27bdd-b2ff-4dc9-bded-6f6b42361ec9\",\"load_balancer\":{}},\"tags\":[],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:05:25.742170Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.204.248\",\"port\":10320,\"name\":null,\"id\":\"d0a27bdd-b2ff-4dc9-bded-6f6b42361ec9\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:05:25.742170Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.734281ms
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"is_backup_schedule_disabled\":false,\"backup_same_region\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052
    method: PATCH
  response:
    body: "{\"id\":\"fc801687-ca26-4858-80a9-2f5780ae9052\",\"name\":\"rdb-acl-basic\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_versi[...]
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      order_by:
      - name_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052/users?order_by=name_asc&page=1
    method: GET
  response:
    body: "{\"users\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.241791ms
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVVUNURUNUVEI2dlV0Yk8wSm96UlFXenJPSDlvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURRdU1qUTRNQjRYCkRUSTFNRGd5T0RFeU1EY3pORm9YRFRNMU1EZ3lOakV5TURjek5Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU[...]
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"rules\":[{\"ip\":\"51.158.75.207/32\",\"description\":\"\"},{\"ip\":\"51.158.97.101/32\",\"description\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052/acls
    method: PUT
  response:
    body: "{\"rules\":[{\"ip\":\"51.158.75.207/32\",\"port\":10320,\"protocol\":\"tcp\",\"direction\":\"inbound\",\"action\":\"allow\",\"description\":\"IP allowed\"},{\"ip\":\"51.158.97.101/32\",\"port\":10320,\"protocol\":\"tcp\",\"direction\":\"inbound\",\"action\":\"allow\",\"description\":\"IP allowed\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 246.577102ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052/acls?page=1
    method: GET
  response:
    body: "{\"rules\":[{\"ip\":\"51.158.75.207/32\",\"port\":10320,\"protocol\":\"tcp\",\"direction\":\"inbound\",\"action\":\"allow\",\"description\":\"IP allowed\"},{\"ip\":\"51.158.97.101/32\",\"port\":10320,\"protocol\":\"tcp\",\"direction\":\"inbound\",\"action\":\"allow\",\"description\":\"IP allowed\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.077318ms
[...]
- id: 70
  request:
    host: api.scaleway.com
    body: "{\"acl_rule_ips\":[\"1.2.3.4/32\",\"9.0.0.0/16\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052/acls
    method: DELETE
  response:
    body: "{\"rules\":[{\"ip\":\"1.2.3.4/32\",\"port\":10320,\"protocol\":\"tcp\",\"direction\":\"inbound\",\"action\":\"allow\",\"description\":\"foo\"},{\"ip\":\"9.0.0.0/16\",\"port\":10320,\"protocol\":\"tcp\",\"direction\":\"inbound\",\"action\":\"allow\",\"description\":\"baz\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.502933ms
[...]
- id: 79
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fc801687-ca26-4858-80a9-2f5780ae9052
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"fc801687-ca26-4858-80a9-2f5780ae9052\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 70.810756ms
[...]
