---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"rdb-acl-pagination","engine":"PostgreSQL-16","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-07-11T09:07:07.470921Z","retention":7},"created_at":"2025-07-10T09:07:07.470921Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-16","id":"ef3bb311-077c-4de8-bc9a-0ede7ad0ad91","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-pagination","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.095075792s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-07-11T09:07:07.470921Z","retention":7},"created_at":"2025-07-10T09:07:07.470921Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-16","id":"ef3bb311-077c-4de8-bc9a-0ede7ad0ad91","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-pagination","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.434783041s
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-07-11T09:07:07.470921Z","retention":7},"created_at":"2025-07-10T09:07:07.470921Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-16","id":"ef3bb311-077c-4de8-bc9a-0ede7ad0ad91","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-pagination","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.302813166s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-07-11T09:07:07.470921Z","retention":7},"created_at":"2025-07-10T09:07:07.470921Z","encryption":{"enabled":false},"endpoint":{"id":"d91c9e86-72ef-4b10-841d-92c0b9dbf7c8","ip":"195.154.71.82","load_balancer":{},"name":null,"port":1126},"endpoints":[{"id":"d91c9e86-72ef-4b10-841d-92c0b9dbf7c8","ip":"195.154.71.82","load_balancer":{},"name":null,"port":1126}],"engine":"PostgreSQL-16","id":"ef3bb311-077c-4de8-bc9a-0ede7ad0ad91","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-pagination","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.11375ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-07-11T09:07:07.470921Z","retention":7},"created_at":"2025-07-10T09:07:07.470921Z","encryption":{"enabled":false[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":0,"users":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.418083ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVQVNya2JqblJsYU9IN3VGNXJnaENGMnRxYXU4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU5TNHhOVFF1TnpFdU9ESXdIaGNOCk1qVXdOekV3TURrd09UVXlXaGNOTXpVd056QTRNRGt3T1RVeVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGsxTGpFMU5[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"rules":[{"ip":"192.168.1.0/24","description":"test-rule-1"},{"ip":"192.168.2.0/24","description":"test-rule-2"},{"ip":"192.168.3.0/24","description":"test-rule-3"},{"ip":"192.168.4.0/24","description":"test-rule-4"},{"ip":"192.168.5.0/24","description":"test-rule-5"},{"ip":"192.168.6.0/24","description":"test-rule-6"},{"ip":"192.168.7.0/24","description":"test-rule-7"},{"ip":"192.168.8.0/24","description":"test-rule-8"},{"ip":"192.168.9.0/24","description":"test-rule-9"},{"ip":"192.168.10.0/24","descri[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91/acls?page=1
        method: GET
      response:
        body: '{"rules":[{"action":"allow","description":"test-rule-1","direction":"inbound","ip":"192.168.1.0/24","port":1126,"protocol":"tcp"},{"action":"allow","description":"test-rule-2","direction":"inbound","ip":"192.168.2.0/24","port":1126,"protocol":"tcp"},{"action":"allow","description":"test-rule-3","direction":"inbound","ip":"192.168.3.0/24","port":1126,"protocol":"tcp"},{"action":"allow","description":"test-rule-4","direction":"inbound","ip":"192.168.4.0/24","port":1126,"protocol":"tcp"},{"action":"allow","description":"test-rule-5","direction":"inbound","ip":"192.168.5.0/24","port":1126,"protocol":"tcp"},{"action":"al[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"acl_rule_ips":["192.168.1.0/24","192.168.2.0/24","192.168.3.0/24","192.168.4.0/24","192.168.5.0/24","192.168.6.0/24","192.168.7.0/24","192.168.8.0/24","192.168.9.0/24","192.168.10.0/24","192.168.11.0/24","192.168.12.0/24","192.168.13.0/24","192.168.14.0/24","192.168.15.0/24","192.168.16.0/24","192.168.17.0/24","192.168.18.0/24","192.168.19.0/24","192.168.20.0/24","192.168.21.0/24","192.168.22.0/24","192.168.23.0/24","192.168.24.0/24","192.168.25.0/24"]}'
        form: {}
        headers:
            Content-T[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ef3bb311-077c-4de8-bc9a-0ede7ad0ad91
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"ef3bb311-077c-4de8-bc9a-0ede7ad0ad91","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 159.52625ms
[...]
