---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-action-backup-restore","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:18:29.321883Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-restore","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.198358917s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7e1c9c7-0335-4659-9faf-6370dcf87b29
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:18:29.321883Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-restore","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 476.40125ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7e1c9c7-0335-4659-9faf-6370dcf87b29
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:18:29.321883Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-restore","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.898375ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7e1c9c7-0335-4659-9faf-6370dcf87b29
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:18:29.321883Z","encryption":{"enabled":false},"endpoint":{"id":"f1a99472-4570-4b50-b993-9501dc94f496","ip":"51.15.207.59","load_balancer":{},"name":null,"port":4690},"endpoints":[{"id":"f1a99472-4570-4b50-b993-9501dc94f496","ip":"51.15.207.59","load_balancer":{},"name":null,"port":4690}],"engine":"PostgreSQL-15","id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-restore","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.521792ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7e1c9c7-0335-4659-9faf-6370dcf87b29/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrRENDQXVDZ0F3SUJBZ0lVWkJkd21kdFF2cDBYNXFsNkhyTWVORzBSNGk0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERVeExqRTFMakl3Tnk0MU9UQWVGdzB5Ck5URXlNVEF3TlRJeE1qWmFGdzB6TlRFeU1EZ3dOVEl4TWpaYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBdzFNUzR4TlM0eU1[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"name":"test_db"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7e1c9c7-0335-4659-9faf-6370dcf87b29/databases
        method: POST
      response:
        body: '{"managed":true,"name":"test_db","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.267458ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7e1c9c7-0335-4659-9faf-6370dcf87b29/databases?name=test_db&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"test_db","owner":"_rdb_superadmin","size":7639855}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.954083ms
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"instance_id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","database_name":"test_db","name":"test-backup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2025-12-10T05:22:04.322205Z","database_name":"test_db","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"23558133-00ed-474d-bf9b-c7724e53e3a9","instance_id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","instance_name":"test-rdb-action-backup-restore","name":"test-backup","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.197587834s
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/23558133-00ed-474d-bf9b-c7724e53e3a9
        method: GET
      response:
        body: '{"created_at":"2025-12-10T05:22:04.322205Z","database_name":"test_db","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"23558133-00ed-474d-bf9b-c7724e53e3a9","instance_id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","instance_name":"test-rdb-action-backup-restore","name":"test-backup","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.249167ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"database_name":"test_db","instance_id":"29b5958a-7e54-4427-8d91-128ff6972045"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/23558133-00ed-474d-bf9b-c7724e53e3a9/restore
        method: POST
      response:
        body: '{"created_at":"2025-12-10T05:22:04.322205Z","database_name":"test_db","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"23558133-00ed-474d-bf9b-c7724e53e3a9","instance_id":"f7e1c9c7-0335-4659-9faf-6370dcf87b29","instance_name":"test-rdb-action-backup-restore","name":"test-backup","region":"fr-par","same_region":false,"size":1255,"status":"restoring","updated_at":"2025-12-10T05:22:08.039682Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.098792ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/23558133-00ed-474d-bf9b-c7724e53e3a9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"23558133-00ed-474d-bf9b-c7724e53e3a9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.443625ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7e1c9c7-0335-4659-9faf-6370dcf87b29/databases/test_db
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 232.764125ms
[...]
