---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8aaa73d9-e7ea-4f4a-9287-83162b19e8a2
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-06-24T08:57:46.603848Z","retention":7},"created_at":"2026-06-23T08:57:46.603848Z","encryption":{"enabled":false},"endpoint":{"id":"6e37c828-cd5d-4469-a34e-c1cf463898a9","ip":"51.159.112.190","load_balancer":{},"name":null,"port":29182},"endpoints":[{"id":"6e37c828-cd5d-4469-a34e-c1cf463898a9","ip":"51.159.112.190","load_balancer":{},"name":null,"port":29182}],"engine":"PostgreSQL-14","id":"8aaa73d9-e7ea-4f4a-9287-83162b19e8a2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[{"closed_at":null,"forced_at":"2026-06-30T08:00:00Z","is_applicable":true,"reason":"A maintenance will be applied on your instance. The database will be unavailable for a few minutes.","starts_at":"2026-06-23T08:00:00Z","status":"pending","stops_at":"2026-06-30T08:00:00Z"}],"name":"test-maint-01","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","apply-maintenance"],"upgradable_version":[{"id":"3415608d-39a7-4ac4-addd-d6eb9a1220b9","minor_version":"15.18","name":"PostgreSQL-15","version":"15"},{"id":"a8c86a61-4b5a-4ea1-a2a2-fafdae88b10d","minor_version":"16.14","name":"PostgreSQL-16","version":"16"},{"id":"92b7da70-c790-4120-b8fe-6b61448747ad","minor_version":"17.10","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 410.112667ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8aaa73d9-e7ea-4f4a-9287-83162b19e8a2/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":true,"name":"admin"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.740459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8aaa73d9-e7ea-4f4a-9287-83162b19e8a2/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVR2hGUEVXZ1BkS2c5ZTQvd3dmSWFKSm9seG1Zd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR4TVRJdU1Ua3dNQjRYCkRUSTJNRFl5TXpBNU1ERTFNRm9YRFRNMk1EWXlNREE1TURFMU1Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8aaa73d9-e7ea-4f4a-9287-83162b19e8a2
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-23T08:57:46.603848Z","encryption":{"enabled":false},"endpoint":{"id":"6e37c828-cd5d-4469-a34e-c1cf463898[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8aaa73d9-e7ea-4f4a-9287-83162b19e8a2/apply-maintenance
        method: POST
      response:
        body: '{"closed_at":null,"forced_at":"2026-06-30T08:00:00Z","is_applicable":true,"reason":"A maintenance will be applied on your instance. The database will be unavailable for a few minutes.","starts_at":"2026-06-23T08:00:00Z","status":"ongoing","stops_at":"2026-06-30T08:00:00Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 387.321542ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8aaa73d9-e7ea-4f4a-9287-83162b19e8a2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"8aaa73d9-e7ea-4f4a-9287-83162b19e8a2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 351.213958ms
