---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-action-snapshot","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T04:43:14.348581Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"fa5ef655-c68c-460d-9e01-35197529d5bf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-snapshot","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 868.984833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5ef655-c68c-460d-9e01-35197529d5bf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T04:43:14.348581Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"fa5ef655-c68c-460d-9e01-35197529d5bf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-snapshot","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.463ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5ef655-c68c-460d-9e01-35197529d5bf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T04:43:14.348581Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"fa5ef655-c68c-460d-9e01-35197529d5bf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-snapshot","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.766833ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5ef655-c68c-460d-9e01-35197529d5bf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T04:43:14.348581Z","encryption":{"enabled":false},"endpoint":{"id":"055fd4b2-bce5-4c52-b7f7-a8ff84f7f23a","ip":"51.159.11.111","load_balancer":{},"name":null,"port":23993},"endpoints":[{"id":"055fd4b2-bce5-4c52-b7f7-a8ff84f7f23a","ip":"51.159.11.111","load_balancer":{},"name":null,"port":23993}],"engine":"PostgreSQL-15","id":"fa5ef655-c68c-460d-9e01-35197529d5bf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-snapshot","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.06725ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5ef655-c68c-460d-9e01-35197529d5bf/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVT2FwaHBEZGNMNVpDblVnSzc2SzVkOVJUSk80d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TVM0eE1URXdIaGNOCk1qVXhNakV3TURRME5qVTJXaGNOTXpVeE1qQTRNRFEwTmpVMldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"tf-rdb-snapshot"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5ef655-c68c-460d-9e01-35197529d5bf/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-12-10T04:47:18.417271Z","expires_at":"2026-12-10T04:47:18.417271Z","id":"763bdd4f-cda0-4dec-8d1f-21759fb368fa","instance_id":"fa5ef655-c68c-460d-9e01-35197529d5bf","instance_name":"test-rdb-action-snapshot","name":"tf-rdb-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 851.599583ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/763bdd4f-cda0-4dec-8d1f-21759fb368fa
        method: GET
      response:
        body: '{"created_at":"2025-12-10T04:47:18.417271Z","expires_at":"2026-12-10T04:47:18.417271Z","id":"763bdd4f-cda0-4dec-8d1f-21759fb368fa","instance_id":"fa5ef655-c68c-460d-9e01-35197529d5bf","instance_name":"test-rdb-action-snapshot","name":"tf-rdb-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.514792ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots?instance_id=fa5ef655-c68c-460d-9e01-35197529d5bf&name=tf-rdb-snapshot&order_by=created_at_asc
        method: GET
      response:
        body: '{"snapshots":[{"created_at":"2025-12-10T04:47:18.417271Z","expires_at":"2026-12-10T04:47:18.417271Z","id":"763bdd4f-cda0-4dec-8d1f-21759fb368fa","instance_id":"fa5ef655-c68c-460d-9e01-35197529d5bf","instance_name":"test-rdb-action-snapshot","name":"tf-rdb-snapshot","node_type":"db-dev-s","region":"fr-par","size":10000000000,"status":"ready","updated_at":"2025-12-10T04:47:27.472444Z","volume_type":{"class":"sbs","type":"sbs_5k"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.54625ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5ef655-c68c-460d-9e01-35197529d5bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"fa5ef655-c68c-460d-9e01-35197529d5bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 166.122083ms
