---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-action-backup-export","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:02:19.853827Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-export","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 939.113666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c7a95b39-a057-4188-a1e9-183b7ff6acf8
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:02:19.853827Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-export","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.070458ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c7a95b39-a057-4188-a1e9-183b7ff6acf8
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:02:19.853827Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-export","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.5135ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c7a95b39-a057-4188-a1e9-183b7ff6acf8
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T05:02:19.853827Z","encryption":{"enabled":false},"endpoint":{"id":"91583aa8-d355-4112-b5f0-bb3d2c41bece","ip":"163.172.171.16","load_balancer":{},"name":null,"port":4433},"endpoints":[{"id":"91583aa8-d355-4112-b5f0-bb3d2c41bece","ip":"163.172.171.16","load_balancer":{},"name":null,"port":4433}],"engine":"PostgreSQL-15","id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-backup-export","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.472875ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c7a95b39-a057-4188-a1e9-183b7ff6acf8/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVRE4ydTVjc1ExWnUyQ2pzejZXVGk2bGxGSWJ3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFMk15NHhOekl1TVRjeExqRTJNQjRYCkRUSTFNVEl4TURBMU1EVXpObG9YRFRNMU1USXdPREExTURVek5sb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakUyTXk0eE5[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"name":"test_db"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c7a95b39-a057-4188-a1e9-183b7ff6acf8/databases
        method: POST
      response:
        body: '{"managed":true,"name":"test_db","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.308542ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c7a95b39-a057-4188-a1e9-183b7ff6acf8/databases?name=test_db&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"test_db","owner":"_rdb_superadmin","size":7713583}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.832416ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"instance_id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","database_name":"test_db","name":"test-backup-export"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2025-12-10T05:06:25.211540Z","database_name":"test_db","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"f2d83106-4278-4133-8b76-8b8665c6cc16","instance_id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","instance_name":"test-rdb-action-backup-export","name":"test-backup-export","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.3539335s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/f2d83106-4278-4133-8b76-8b8665c6cc16
        method: GET
      response:
        body: '{"created_at":"2025-12-10T05:06:25.211540Z","database_name":"test_db","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"f2d83106-4278-4133-8b76-8b8665c6cc16","instance_id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","instance_name":"test-rdb-action-backup-export","name":"test-backup-export","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.57225ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/f2d83106-4278-4133-8b76-8b8665c6cc16/export
        method: POST
      response:
        body: '{"created_at":"2025-12-10T05:06:25.211540Z","database_name":"test_db","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"f2d83106-4278-4133-8b76-8b8665c6cc16","instance_id":"c7a95b39-a057-4188-a1e9-183b7ff6acf8","instance_name":"test-rdb-action-backup-export","name":"test-backup-export","region":"fr-par","same_region":false,"size":1255,"status":"exporting","updated_at":"2025-12-10T05:06:27.896647Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.586167ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/f2d83106-4278-4133-8b76-8b8665c6cc16
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"f2d83106-4278-4133-8b76-8b8665c6cc16","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 246.777792ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c7a95b39-a057-4188-a1e9-183b7ff6acf8/databases/test_db
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 520.642042ms
[...]
