---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-action-read-replica-promote","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T08:55:35.281830Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"06f09801-fdf7-4f17-9821-165a167c3308","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-read-replica-promote","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 903.333083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/06f09801-fdf7-4f17-9821-165a167c3308
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T08:55:35.281830Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"06f09801-fdf7-4f17-9821-165a167c3308","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-read-replica-promote","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.114167ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/06f09801-fdf7-4f17-9821-165a167c3308
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T08:55:35.281830Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"06f09801-fdf7-4f17-9821-165a167c3308","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-read-replica-promote","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.214541ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/06f09801-fdf7-4f17-9821-165a167c3308
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T08:55:35.281830Z","encryption":{"enabled":false},"endpoint":{"id":"aa1008a4-dc3d-4eb6-808a-f92fe810e69d","ip":"51.159.11.200","load_balancer":{},"name":null,"port":3154},"endpoints":[{"id":"aa1008a4-dc3d-4eb6-808a-f92fe810e69d","ip":"51.159.11.200","load_balancer":{},"name":null,"port":3154}],"engine":"PostgreSQL-15","id":"06f09801-fdf7-4f17-9821-165a167c3308","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-action-read-replica-promote","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[{"id":"7b94ce61-24cf-42e7-b598-9c7e957fda9d","minor_version":"16.11","name":"PostgreSQL-16","version":"16"},{"id":"fa0d1d64-5753-4792-8af2-668b5c10ffd2","minor_version":"17.7","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.34225ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/06f09801-fdf7-4f17-9821-165a167c3308/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVRTY5SUVnc1VKTm9ZbDBtZmlBZXF1K2dPRlNJd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TVM0eU1EQXdIaGNOCk1qVXhNakV3TURnMU9ESXpXaGNOTXpVeE1qQTRNRGcxT0RJeldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"instance_id":"06f09801-fdf7-4f17-9821-165a167c3308","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[],"id":"4798c99d-0a32-499e-8a0d-7969a619b0a1","instance_id":"06f09801-fdf7-4f17-9821-165a167c3308","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.272386542s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/4798c99d-0a32-499e-8a0d-7969a619b0a1
        method: GET
      response:
        body: '{"endpoints":[],"id":"4798c99d-0a32-499e-8a0d-7969a619b0a1","instance_id":"06f09801-fdf7-4f17-9821-165a167c3308","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.229958ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/4798c99d-0a32-499e-8a0d-7969a619b0a1/promote
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-12-10T09:02:11.256380Z","[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/4798c99d-0a32-499e-8a0d-7969a619b0a1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"4798c99d-0a32-499e-8a0d-7969a619b0a1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 169.116917ms
[...]
