---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayRdbDatabaseBackup_Basic","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-01-23T11:17:45.166390Z","retention":7},"created_at":"2025-01-22T11:17:45.166390Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"66df68df-3e0f-4605-97c7-a250f6962a09","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbDatabaseBackup_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 629.098875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-01-23T11:17:45.166390Z","retention":7},"created_at":"2025-01-22T11:17:45.166390Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"66df68df-3e0f-4605-97c7-a250f6962a09","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbDatabaseBackup_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.406958ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-01-23T11:17:45.166390Z","retention":7},"created_at":"2025-01-22T11:17:45.166390Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"66df68df-3e0f-4605-97c7-a250f6962a09","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbDatabaseBackup_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.756584ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-01-23T11:17:45.166390Z","retention":7},"created_at":"2025-01-22T11:17:45.166390Z","encryption":{"enabled":false},"endpoint":{"id":"7e4ca6ee-4df9-4ca0-bd5c-a9c5eeee1aa7","ip":"51.158.58.19","load_balancer":{},"name":null,"port":18098},"endpoints":[{"id":"7e4ca6ee-4df9-4ca0-bd5c-a9c5eeee1aa7","ip":"51.158.58.19","load_balancer":{},"name":null,"port":18098}],"engine":"PostgreSQL-15","id":"66df68df-3e0f-4605-97c7-a250f6962a09","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbDatabaseBackup_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.22725ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-01-23T11:17:45.166390Z","retention":7},"created_at":"2025-01-22T11:17:45.166390Z","encryption":{"enabled":false[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":0,"users":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.122542ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrRENDQXVDZ0F3SUJBZ0lVUGlZSk1QK2RTaFdBR1hJUW1XelJld0FsZVBzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERVeExqRTFPQzQxT0M0eE9UQWVGdzB5Ck5UQXhNakl4TVRJeE1ERmFGdzB6TlRBeE1qQXhNVEl4TURGYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBdzFNUzR4TlRndU5[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"name":"foo"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09/databases
        method: POST
      response:
        body: '{"managed":true,"name":"foo","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 459.560458ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09/databases?name=foo&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"foo","owner":"_rdb_superadmin","size":7705391}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.967209ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"instance_id":"66df68df-3e0f-4605-97c7-a250f6962a09","database_name":"foo","name":"test_backup"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:21:55.705907Z","database_name":"foo","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d41894f8-b916-4067-9aec-faefb68e5a9c","instance_id":"66df68df-3e0f-4605-97c7-a250f6962a09","instance_name":"TestAccScalewayRdbDatabaseBackup_Basic","name":"test_backup","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.586388625s
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d41894f8-b916-4067-9aec-faefb68e5a9c
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:21:55.705907Z","database_name":"foo","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d41894f8-b916-4067-9aec-faefb68e5a9c","instance_id":"66df68df-3e0f-4605-97c7-a250f6962a09","instance_name":"TestAccScalewayRdbDatabaseBackup_Basic","name":"test_backup","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.589667ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d41894f8-b916-4067-9aec-faefb68e5a9c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"d41894f8-b916-4067-9aec-faefb68e5a9c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.736166ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/66df68df-3e0f-4605-97c7-a250f6962a09/databases/foo
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 720.144792ms
[...]
