---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-terraform","engine":"PostgreSQL-16","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-10-17T14:59:37.100785Z","retention":7},"created_at":"2025-10-16T14:59:37.100785Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-16","id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 520.676166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-10-17T14:59:37.100785Z","retention":7},"created_at":"2025-10-16T14:59:37.100785Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-16","id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.743916ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-10-17T14:59:37.100785Z","retention":7},"created_at":"2025-10-16T14:59:37.100785Z","encryption":{"enabled":false},"endpoint":{"id":"423c7663-b611-45f5-9c66-67c20f7e1c24","ip":"51.159.10.216","load_balancer":{},"name":null,"port":27573},"endpoints":[{"id":"423c7663-b611-45f5-9c66-67c20f7e1c24","ip":"51.159.10.216","load_balancer":{},"name":null,"port":27573}],"engine":"PostgreSQL-16","id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.663833ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2025-10-17T14:59:37.100785Z","retention":7},"created_at":"2025-10-16T14:59:37.100785Z","encryption":{"enabled":false[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":0,"users":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.77275ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVUC84MzByRmhsZ3hWaUVMSkVEQnpWSFVkSE5jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TUM0eU1UWXdIaGNOCk1qVXhNREUyTVRVd01qTTNXaGNOTXpVeE1ERTBNVFV3TWpNM1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"test-terraform"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4/databases
        method: POST
      response:
        body: '{"managed":true,"name":"test-terraform","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 488.098375ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4/databases?name=test-terraform&order_by=name_asc&skip_size_retrieval=false
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"test-terraform","owner":"_rdb_superadmin","size":7672291}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.030875ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"instance_id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","database_name":"test-terraform","name":"test_backup_datasource"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2025-10-16T15:03:10.900800Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"e9b3659e-4a8d-4dd9-ac63-38cfa82a32e9","instance_id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.519646042s
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/e9b3659e-4a8d-4dd9-ac63-38cfa82a32e9
        method: GET
      response:
        body: '{"created_at":"2025-10-16T15:03:10.900800Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"e9b3659e-4a8d-4dd9-ac63-38cfa82a32e9","instance_id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.051709ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=3675c163-68da-4001-9cb7-15c3f09e8fd4&name=test_backup_datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2025-10-16T15:03:10.900800Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"e9b3659e-4a8d-4dd9-ac63-38cfa82a32e9","instance_id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1301,"status":"ready","updated_at":"2025-10-16T15:03:14.014954Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.159583ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?name=test_backup_datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2025-10-16T15:03:10.900800Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"e9b3659e-4a8d-4dd9-ac63-38cfa82a32e9","instance_id":"3675c163-68da-4001-9cb7-15c3f09e8fd4","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1301,"status":"ready","updated_at":"2025-10-16T15:03:14.014954Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.69317475s
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/e9b3659e-4a8d-4dd9-ac63-38cfa82a32e9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"e9b3659e-4a8d-4dd9-ac63-38cfa82a32e9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.505958ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3675c163-68da-4001-9cb7-15c3f09e8fd4/databases/test-terraform
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 606.696083ms
[...]
