---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-terraform","engine":"PostgreSQL-17","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-02-20T06:01:49.953740Z","retention":7},"created_at":"2026-02-19T06:01:49.953740Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 732.802666ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-02-20T06:01:49.953740Z","retention":7},"created_at":"2026-02-19T06:01:49.953740Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.43375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-02-20T06:01:49.953740Z","retention":7},"created_at":"2026-02-19T06:01:49.953740Z","encryption":{"enabled":false},"endpoint":{"id":"d7d4ec90-addc-4ca0-a617-c74cdaa3250e","ip":"51.159.26.137","load_balancer":{},"name":null,"port":2866},"endpoints":[{"id":"d7d4ec90-addc-4ca0-a617-c74cdaa3250e","ip":"51.159.26.137","load_balancer":{},"name":null,"port":2866}],"engine":"PostgreSQL-17","id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.385333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-02-20T06:01:49.953740Z","retention":7},"created_at":"2026-02-19T06:01:49.953740Z","encryption":{"enabled":false[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":0,"users":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.134209ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVR29IeFRFWFpXNmoyeDErdXRaWi9vdS8yZWZFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tmk0eE16Y3dIaGNOCk1qWXdNakU1TURZd05ETTVXaGNOTXpZd01qRTNNRFl3TkRNNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-terraform"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0/databases
        method: POST
      response:
        body: '{"managed":true,"name":"test-terraform","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.010791ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0/databases?name=test-terraform&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"test-terraform","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.224042ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"instance_id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","database_name":"test-terraform","name":"test_backup_datasource"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2026-02-19T06:05:29.791650Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"c7b259a8-5491-40eb-96b4-ba24cc1b32c1","instance_id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.334913125s
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/c7b259a8-5491-40eb-96b4-ba24cc1b32c1
        method: GET
      response:
        body: '{"created_at":"2026-02-19T06:05:29.791650Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"c7b259a8-5491-40eb-96b4-ba24cc1b32c1","instance_id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.457417ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=d0818b5d-a2f6-4ac0-a58d-3891614d78d0&name=test_backup_datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2026-02-19T06:05:29.791650Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"c7b259a8-5491-40eb-96b4-ba24cc1b32c1","instance_id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1327,"status":"ready","updated_at":"2026-02-19T06:05:34.170218Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.044417ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?name=test_backup_datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2026-02-19T06:05:29.791650Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"c7b259a8-5491-40eb-96b4-ba24cc1b32c1","instance_id":"d0818b5d-a2f6-4ac0-a58d-3891614d78d0","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1327,"status":"ready","updated_at":"2026-02-19T06:05:34.170218Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 8.357460083s
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/c7b259a8-5491-40eb-96b4-ba24cc1b32c1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"c7b259a8-5491-40eb-96b4-ba24cc1b32c1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.942417ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d0818b5d-a2f6-4ac0-a58d-3891614d78d0/databases/test-terraform
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 382.39075ms
[...]
