---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-terraform\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"\",\"password\":\"\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":false,\"tags\":null,\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:04:57.615726Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:57.615726Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 512.053338ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7
    method: GET
  response:
    body: "{\"id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:04:57.615726Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:57.615726Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.524278ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7
    method: GET
  response:
    body: "{\"id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:04:57.615726Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:57.615726Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.340186ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7
    method: GET
  response:
    body: "{\"id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.11.187\",\"port\":24742,\"name\":null,\"id\":\"3c9a9ea3-81c0-4177-9902-628b695f9208\",\"load_balancer\":{}},\"tags\":[],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:04:57.615726Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.11.187\",\"port\":24742,\"name\":null,\"id\":\"3c9a9ea3-81c0-4177-9902-628b695f9208\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:57.615726Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.492247ms
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"is_backup_schedule_disabled\":false,\"backup_same_region\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7
    method: PATCH
  response:
    body: "{\"id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_vers[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    form:
      order_by:
      - name_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7/users?order_by=name_asc&page=1
    method: GET
  response:
    body: "{\"users\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.972771ms
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVVUxsTjFQZjRSY1Q2a1dTYnNPaldLdUl2YzdNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TVM0eE9EY3dIaGNOCk1qVXdPREk0TVRJd09ERTBXaGNOTXpVd09ESTJNVEl3T0RFMFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNU[...]
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-terraform\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7/databases
    method: POST
  response:
    body: "{\"name\":\"test-terraform\",\"owner\":\"\",\"managed\":true,\"size\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 373.546609ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    form:
      name:
      - test-terraform
      order_by:
      - name_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7/databases?name=test-terraform&order_by=name_asc
    method: GET
  response:
    body: "{\"databases\":[{\"name\":\"test-terraform\",\"owner\":\"_rdb_superadmin\",\"managed\":true,\"size\":7737827}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.209856ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"database_name\":\"test-terraform\",\"name\":\"test_backup_datasource\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: "{\"id\":\"fb3185f7-c5a2-4a5c-84c1-0fb432b314ce\",\"instance_id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"database_name\":\"test-terraform\",\"name\":\"test_backup_datasource\",\"status\":\"creating\",\"size\":null,\"expires_at\":null,\"created_at\":\"2025-08-28T12:09:02.661386Z\",\"updated_at\":null,\"instance_name\":\"test-terraform\",\"download_url\":null,\"download_url_expires_at\":null,\"same_region\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 780.670433ms
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/fb3185f7-c5a2-4a5c-84c1-0fb432b314ce
    method: GET
  response:
    body: "{\"id\":\"fb3185f7-c5a2-4a5c-84c1-0fb432b314ce\",\"instance_id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"database_name\":\"test-terraform\",\"name\":\"test_backup_datasource\",\"status\":\"creating\",\"size\":null,\"expires_at\":null,\"created_at\":\"2025-08-28T12:09:02.661386Z\",\"updated_at\":null,\"instance_name\":\"test-terraform\",\"download_url\":null,\"download_url_expires_at\":null,\"same_region\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 70.017062ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    form:
      instance_id:
      - 0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7
      name:
      - test_backup_datasource
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7&name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: "{\"database_backups\":[{\"id\":\"fb3185f7-c5a2-4a5c-84c1-0fb432b314ce\",\"instance_id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"database_name\":\"test-terraform\",\"name\":\"test_backup_datasource\",\"status\":\"ready\",\"size\":1275,\"expires_at\":null,\"created_at\":\"2025-08-28T12:09:02.661386Z\",\"updated_at\":\"2025-08-28T12:09:04.843551Z\",\"instance_name\":\"test-terraform\",\"download_url\":null,\"download_url_expires_at\":null,\"same_region\":false,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.272481ms
[...]
- id: 34
  request:
    host: api.scaleway.com
    form:
      name:
      - test_backup_datasource
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: "{\"database_backups\":[{\"id\":\"fb3185f7-c5a2-4a5c-84c1-0fb432b314ce\",\"instance_id\":\"0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7\",\"database_name\":\"test-terraform\",\"name\":\"test_backup_datasource\",\"status\":\"ready\",\"size\":1275,\"expires_at\":null,\"created_at\":\"2025-08-28T12:09:02.661386Z\",\"updated_at\":\"2025-08-28T12:09:04.843551Z\",\"instance_name\":\"test-terraform\",\"download_url\":null,\"download_url_expires_at\":null,\"same_region\":false,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 351.004114ms
[...]
- id: 60
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/fb3185f7-c5a2-4a5c-84c1-0fb432b314ce
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"database_backup\",\"resource_id\":\"fb3185f7-c5a2-4a5c-84c1-0fb432b314ce\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.25492ms
[...]
- id: 62
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0cb339c5-40e8-42d2-a1c7-4a5f4241a2f7/databases/test-terraform
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 801.980579ms
[...]
