---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayDataSourceRDBAcl_Basic","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-04-18T12:21:32.320188Z","retention":7},"created_at":"2024-04-17T12:21:32.320188Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"e878ea80-b3bc-4a00-a34d-13f4bd344fa1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayDataSourceRDBAcl_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.375003228s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-04-18T12:21:32.320188Z","retention":7},"created_at":"2024-04-17T12:21:32.320188Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"e878ea80-b3bc-4a00-a34d-13f4bd344fa1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayDataSourceRDBAcl_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 458.775363ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-04-18T12:21:32.320188Z","retention":7},"created_at":"2024-04-17T12:21:32.320188Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"e878ea80-b3bc-4a00-a34d-13f4bd344fa1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayDataSourceRDBAcl_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.543341ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-04-18T12:21:32.320188Z","retention":7},"created_at":"2024-04-17T12:21:32.320188Z","endpoint":{"id":"a8010bd1-2fba-4197-91f4-e9b4edf31e0b","ip":"51.158.57.150","load_balancer":{},"name":null,"port":20006},"endpoints":[{"id":"a8010bd1-2fba-4197-91f4-e9b4edf31e0b","ip":"51.158.57.150","load_balancer":{},"name":null,"port":20006}],"engine":"PostgreSQL-15","id":"e878ea80-b3bc-4a00-a34d-13f4bd344fa1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayDataSourceRDBAcl_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.203704ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-04-18T12:21:32.320188Z","retention":7},"created_at":"2024-04-17T12:21:32.320188Z","endpoint":{"id":"a8010bd1-2f[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":0,"users":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.95984ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVSC91eVdlNlJBOG5mR21tZCtkNFk1YUczb0xrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPQzQxTnk0eE5UQXdIaGNOCk1qUXdOREUzTVRJeU5ETTRXaGNOTXpRd05ERTFNVEl5TkRNNFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNEx[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"rules":[{"ip":"1.2.3.4/32","description":"foo"},{"ip":"4.5.6.7/32","description":"bar"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1/acls
        method: PUT
      response:
        body: '{"rules":[{"action":"allow","description":"foo","direction":"inbound","ip":"1.2.3.4/32","port":20006,"protocol":"tcp"},{"action":"allow","description":"bar","direction":"inbound","ip":"4.5.6.7/32","port":20006,"protocol":"tcp"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 297.9022ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"acl_rule_ips":["1.2.3.4/32","4.5.6.7/32"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1/acls
        method: DELETE
      response:
        body: '{"rules":[{"action":"allow","description":"foo","direction":"inbound","ip":"1.2.3.4/32","port":20006,"protocol":"tcp"},{"action":"allow","description":"bar","direction":"inbound","ip":"4.5.6.7/32","port":20006,"protocol":"tcp"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.143404ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e878ea80-b3bc-4a00-a34d-13f4bd344fa1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"e878ea80-b3bc-4a00-a34d-13f4bd344fa1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 75.915681ms
[...]
