---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/node-types?include_disabled_types=false&page=1
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size":0,"class":"lssd","description":"Local NVMe","max_size":5000000000,"min_size":5000000000,"type":"lssd"},{"chunk_size":5000000000,"class":"bssd","description":"Block Storage drive","max_size":10000000000000,"min_size":5000000000,"type":"bssd"},{"chunk_size":5000000000,"class":"sbs","description":"Block Storage NVMe with 5K IOPS","max_size":10000000000000,"min_size":5000000000,"type":"sbs_5k"},{"chunk_size":5000000000,"class":"sbs","description":"Block Storage NVMe with 15K IOPS","max_size":10000000000000,"min_size":5000000000,"type":"sbs_15k"}],"beta":false,"description":"2 GB RAM; 2 vCPU; 5 GB LSSD Storage","disabled":false,"generation":"generation_v1","instance_range":"Cost Optimized","is_bssd_compatible":true,"is_ha_required":false,"memory":2000000000,"name":"db-dev-s","region":"fr-par","stock_status":"available","vcpus":2,"volume_constraint":{"max_size":5000000000,"min_size":5000000000}},{"available_volume_types":[{"chunk_size":5000000000,"class":"bssd","description":"Block Storage drive","max_size":10000000000000,"min_size":5000000000,"type":"bssd"},{"chunk_size":5000000000,"class":"sbs","description":"Block Storage NVMe with 5K IOPS","max_size":10000000000000,"min_size":5000000000,"type":"sbs_5k"},{"chunk_size":5000000000,"class":"sbs","description":"Block Storage NVMe with 15K IOPS","max_size":10000000000000,"min_size":5000000000[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/node-types?include_disabled_types=false&page=2
        method: GET
      response:
        body: '{"node_types":[{"available_volume_types":[{"chunk_size":0,"class":"lssd","description":"Local NVMe","max_size":585000000000,"min_size":585000000000,"type":"lssd"},{"chunk_size":5000000000,"class":"bssd","description":"Block Storage drive","max_size":10000000000000,"min_size":10000000000,"type":"bssd"},{"chunk_size":5000000000,"class":"sbs","description":"Block Storage NVMe with 5K IOPS","max_size":10000000000000,"min_size":10000000000,"type":"sbs_5k"},{"chunk_size":5000000000,"class":"sbs","description":"Block Storage NVMe with 15K IOPS","max_size":10000000000000,"min_size":10000000000,"type":"sbs_15k"}],"beta":false,"description":"256 GB RAM; 48 vCPU; 585 GB LSSD Storage","disabled":false,"generation":"generation_v1","instance_range":"Cost Optimized","is_bssd_compatible":true,"is_ha_required":true,"memory":256000000000,"name":"db-gp-xl","region":"fr-par","stock_status":"available","vcpus":48,"volume_constraint":{"max_size":585000000000,"min_size":585000000000}}],"total_count":21}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 226.988042ms
[...]
