---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-terraform\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"\",\"password\":\"\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":false,\"tags\":null,\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"9f8e2f5c-8b8e-46fd-bd30-e532408837f0\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:00:19.546862Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:19.546862Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 831.159734ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0
    method: GET
  response:
    body: "{\"id\":\"9f8e2f5c-8b8e-46fd-bd30-e532408837f0\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:00:19.546862Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:19.546862Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 256.83131ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0
    method: GET
  response:
    body: "{\"id\":\"9f8e2f5c-8b8e-46fd-bd30-e532408837f0\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"195.154.196.110\",\"port\":10860,\"name\":null,\"id\":\"1e574983-45c4-479f-8136-ccce2d51ffb6\",\"load_balancer\":{}},\"tags\":[],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-08-29T12:00:19.546862Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"195.154.196.110\",\"port\":10860,\"name\":null,\"id\":\"1e574983-45c4-479f-8136-ccce2d51ffb6\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:19.546862Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.120557ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"is_backup_schedule_disabled\":false,\"backup_same_region\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0
    method: PATCH
  response:
    body: "{\"id\":\"9f8e2f5c-8b8e-46fd-bd30-e532408837f0\",\"name\":\"test-terraform\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_vers[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - name_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0/users?order_by=name_asc&page=1
    method: GET
  response:
    body: "{\"users\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.558661ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVRTVSblp3bklrOE5YUGZORU8ycE1vaUdpQTN3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrMkxqRXhNREFlCkZ3MHlOVEE0TWpneE1qQXpNek5hRncwek5UQTRNall4TWpBek16TmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-terraform\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0/databases
    method: POST
  response:
    body: "{\"name\":\"test-terraform\",\"owner\":\"\",\"managed\":true,\"size\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 401.491643ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      name:
      - test-terraform
      order_by:
      - name_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0/databases?name=test-terraform&order_by=name_asc
    method: GET
  response:
    body: "{\"databases\":[{\"name\":\"test-terraform\",\"owner\":\"_rdb_superadmin\",\"managed\":true,\"size\":7672291}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.214387ms
[...]
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0/databases/test-terraform
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 597.244162ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f8e2f5c-8b8e-46fd-bd30-e532408837f0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"9f8e2f5c-8b8e-46fd-bd30-e532408837f0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 78.140764ms
[...]
