---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"bug\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"admin\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-m\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"bug\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"55082690-9de9-4096-97b2-a4424b507708\",\"name\":\"bug\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"bug\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-m\",\"volume\":{\"type\":\"lssd\",\"size\":25000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:22.196930Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.545398569s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708
    method: GET
  response:
    body: "{\"id\":\"55082690-9de9-4096-97b2-a4424b507708\",\"name\":\"bug\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"bug\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-m\",\"volume\":{\"type\":\"lssd\",\"size\":25000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:22.196930Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 173.207252ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708
    method: GET
  response:
    body: "{\"id\":\"55082690-9de9-4096-97b2-a4424b507708\",\"name\":\"bug\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"bug\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"2700\"},{\"name\":\"maintenance_work_mem\",\"value\":\"300\"},{\"name\":\"max_connections\",\"value\":\"150\"},{\"name\":\"max_parallel_workers\",\"value\":\"1\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"8\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-m\",\"volume\":{\"type\":\"lssd\",\"size\":25000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:22.196930Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.921093ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708
    method: GET
  response:
    body: "{\"id\":\"55082690-9de9-4096-97b2-a4424b507708\",\"name\":\"bug\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.11.187\",\"port\":22906,\"name\":null,\"id\":\"0d4aac78-0753-477a-ad1c-43f075f9753d\",\"load_balancer\":{}},\"tags\":[\"bug\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"2700\"},{\"name\":\"maintenance_work_mem\",\"value\":\"300\"},{\"name\":\"max_connections\",\"value\":\"150\"},{\"name\":\"max_parallel_workers\",\"value\":\"1\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"8\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-m\",\"volume\":{\"type\":\"lssd\",\"size\":25000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.11.187\",\"port\":22906,\"name\":null,\"id\":\"0d4aac78-0753-477a-ad1c-43f075f9753d\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:22.196930Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 124.058445ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVYzkydmZ5bFY4ZUdON2xyaXMyUVpvTVI4RVo0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TVM0eE9EY3dIaGNOCk1qVXdPREk0TVRJd01qVXlXaGNOTXpVd09ESTJNVEl3TWpVeVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNU[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"name\":\"bug\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"is_admin\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/users
    method: POST
  response:
    body: "{\"name\":\"bug\",\"is_admin\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 180.886977ms
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"name\":\"bug\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/databases
    method: POST
  response:
    body: "{\"name\":\"bug\",\"owner\":\"\",\"managed\":true,\"size\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 240.080662ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      name:
      - bug
      order_by:
      - name_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/users?name=bug&order_by=name_asc
    method: GET
  response:
    body: "{\"users\":[{\"name\":\"bug\",\"is_admin\":false}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.473613ms
- id: 17
  request:
    host: api.scaleway.com
    form:
      name:
      - bug
      order_by:
      - name_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/databases?name=bug&order_by=name_asc
    method: GET
  response:
    body: "{\"databases\":[{\"name\":\"bug\",\"owner\":\"_rdb_superadmin\",\"managed\":true,\"size\":7737827}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 137.719542ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"database_name\":\"bug\",\"user_name\":\"bug\",\"permission\":\"all\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/privileges
    method: PUT
  response:
    body: "{\"permission\":\"all\",\"database_name\":\"bug\",\"user_name\":\"bug\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.83628ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    form:
      database_name:
      - bug
      order_by:
      - user_name_asc
      user_name:
      - bug
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/privileges?database_name=bug&order_by=user_name_asc&user_name=bug
    method: GET
  response:
    body: "{\"privileges\":[{\"permission\":\"all\",\"database_name\":\"bug\",\"user_name\":\"bug\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.016507ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/users/bug
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 188.670199ms
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708/databases/bug
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 448.065387ms
[...]
- id: 46
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/55082690-9de9-4096-97b2-a4424b507708
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"55082690-9de9-4096-97b2-a4424b507708\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 67.743243ms
[...]
