---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines?name=PostgreSQL&page=1
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/postgresql.svg","name":"PostgreSQL","region":"fr-par","versions":[{"available_init_settings":[],"available_settings":[{"default_value":"0.2","description":"Specifies a fraction of the table size to add to autovacuum_vacuum_insert_threshold when deciding whether to trigger a VACUUM.","float_max":100,"float_min":0.1,"hot_configurable":true,"int_max":null,"int_min":null,"name":"autovacuum_vacuum_insert_scale_factor","property_type":"FLOAT","string_constraint":null,"unit":null},{"default_value":"1000","description":"Specifies the number of inserted tuples needed to trigger a VACUUM in any one table.","float_max":null,"float_min":null,"hot_configurable":true,"int_max":1147483647,"int_min":-1,"name":"autovacuum_vacuum_insert_threshold","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"0.2","description":"Specifies a fraction of the table size to add to autovacuum_vacuum_threshold when deciding whether to trigger a VACUUM.","float_max":10[...]
[...]
