---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"bug","engine":"PostgreSQL-15","user_name":"admin","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-m","is_ha_cluster":false,"disable_backup":true,"tags":["bug"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:13:35.000680Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"10f0e900-a1bc-4c10-8ab2-55c54cec950c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"bug","node_type":"db-dev-m","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["bug"],"upgradable_version":[],"volume":{"class":"lssd","size":25000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.109832459s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:13:35.000680Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"10f0e900-a1bc-4c10-8ab2-55c54cec950c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"bug","node_type":"db-dev-m","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["bug"],"upgradable_version":[],"volume":{"class":"lssd","size":25000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.815708ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:13:35.000680Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"10f0e900-a1bc-4c10-8ab2-55c54cec950c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"bug","node_type":"db-dev-m","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"2700"},{"name":"maintenance_work_mem","value":"300"},{"name":"max_connections","value":"150"},{"name":"max_parallel_workers","value":"1"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"8"}],"status":"initializing","tags":["bug"],"upgradable_version":[],"volume":{"class":"lssd","size":25000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.671958ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:13:35.000680Z","encryption":{"enabled":false},"endpoint":{"id":"6c22a3db-8b2e-49bf-975c-27dc7a89cbe7","ip":"51.159.206.51","load_balancer":{},"name":null,"port":21711},"endpoints":[{"id":"6c22a3db-8b2e-49bf-975c-27dc7a89cbe7","ip":"51.159.206.51","load_balancer":{},"name":null,"port":21711}],"engine":"PostgreSQL-15","id":"10f0e900-a1bc-4c10-8ab2-55c54cec950c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"bug","node_type":"db-dev-m","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"2700"},{"name":"maintenance_work_mem","value":"300"},{"name":"max_connections","value":"150"},{"name":"max_parallel_workers","value":"1"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"8"}],"status":"ready","tags":["bug"],"upgradable_version":[],"volume":{"class":"lssd","size":25000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.481291ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVYUxjS0IzRS96UnVBdSs5d1I4a0tFa3NVbHlBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5TURZdU5URXdIaGNOCk1qVXdNVEl5TVRFeE5qSTFXaGNOTXpVd01USXdNVEV4TmpJMVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"name":"bug","password":"thiZ_is_v\u0026ry_s3cret","is_admin":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/users
        method: POST
      response:
        body: '{"is_admin":false,"name":"bug"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.407875ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"bug"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/databases
        method: POST
      response:
        body: '{"managed":true,"name":"bug","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.748333ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/users?name=bug&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":false,"name":"bug"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.6105ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/databases?name=bug&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"bug","owner":"_rdb_superadmin","size":7639855}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.083208ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"database_name":"bug","user_name":"bug","permission":"all"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/privileges
        method: PUT
      response:
        body: '{"database_name":"bug","permission":"all","user_name":"bug"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.277334ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/privileges?database_name=bug&order_by=user_name_asc&user_name=bug
        method: GET
      response:
        body: '{"privileges":[{"database_name":"bug","permission":"all","user_name":"bug"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.12725ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/users/bug
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 175.138333ms
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c/databases/bug
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 519.332917ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/10f0e900-a1bc-4c10-8ab2-55c54cec950c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"10f0e900-a1bc-4c10-8ab2-55c54cec950c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 97.055834ms
[...]
