---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-06T13:41:20.570812Z","dhcp_enabled":true,"id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-02-06T13:41:20.570812Z","id":"5adcafd5-04f6-45af-9ec1-fdd92d6ff03a","private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-02-06T13:41:20.570812Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"},{"created_at":"2025-02-06T13:41:20.570812Z","id":"90f0b514-8d8b-4dff-9c2f-a99f2598ae51","private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:e822::/64","updated_at":"2025-02-06T13:41:20.570812Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}],"tags":[],"updated_at":"2025-02-06T13:41:20.570812Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 600.485125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff
        method: GET
      response:
        body: '{"created_at":"2025-02-06T13:41:20.570812Z","dhcp_enabled":true,"id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-02-06T13:41:20.570812Z","id":"5adcafd5-04f6-45af-9ec1-fdd92d6ff03a","private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-02-06T13:41:20.570812Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"},{"created_at":"2025-02-06T13:41:20.570812Z","id":"90f0b514-8d8b-4dff-9c2f-a99f2598ae51","private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:e822::/64","updated_at":"2025-02-06T13:41:20.570812Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}],"tags":[],"updated_at":"2025-02-06T13:41:20.570812Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.346834ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","service_ip":"192.168.1.42/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:41:24.397115Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e49b16ee-034a-4d0c-88e5-10a30975cba8","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"3876750e-71f5-49c6-a89d-ea83d6b6f18e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 887.167083ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3876750e-71f5-49c6-a89d-ea83d6b6f18e
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:41:24.397115Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e49b16ee-034a-4d0c-88e5-10a30975cba8","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"3876750e-71f5-49c6-a89d-ea83d6b6f18e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.185542ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3876750e-71f5-49c6-a89d-ea83d6b6f18e
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:41:24.397115Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e49b16ee-034a-4d0c-88e5-10a30975cba8","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"31872a9a-fa0a-4c9a-b4e0-7c1ca4be0cff","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"3876750e-71f5-49c6-a89d-ea83d6b6f18e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.04775ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3876750e-71f5-49c6-a89d-ea83d6b6f18e/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVRkx5dXhHNG80UXluWk9QTXRLb0pNb1V3MEVNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5UQXlNRFl4TXpReU16bGFGdzB6TlRBeU1EUXhNelF5TXpsYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/e49b16ee-034a-4d0c-88e5-10a30975cba8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 368.032084ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"d9e77bff-80da-4a0f-af19-50f6a6351ee3","service_ip":"192.168.1.254/24"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3876750e-71f5-49c6-a89d-ea83d6b6f18e/endpoints
        method: POST
      response:
        body: '{"id":"a92094cc-9294-4bbf-947e-1d100db454c5","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"d9e77bff-80da-4a0f-af19-50f6a6351ee3","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.624875ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-02-06T13:46:07.337972Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"0ef9e983-12c1-4a4d-9522-0da204e23193","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-02-06T13:46:07.337972Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.963417ms
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/0ef9e983-12c1-4a4d-9522-0da204e23193
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-02-06T13:46:07.337972Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"0ef9e983-12c1-4a4d-9522-0da204e23193","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-02-06T13:46:07.337972Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.747209ms
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.186.43","created_at":"2025-02-06T13:46:08.019129Z","gateway_id":null,"id":"4dd6d53b-dbbc-493e-ab3f-4321bce6cc37","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"43-186-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:46:08.019129Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 916.115417ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/4dd6d53b-dbbc-493e-ab3f-4321bce6cc37
        method: GET
      response:
        body: '{"address":"51.158.186.43","created_at":"2025-02-06T13:46:08.019129Z","gateway_id":null,"id":"4dd6d53b-dbbc-493e-ab3f-4321bce6cc37","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"43-186-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:46:08.019129Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.707209ms
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"4dd6d53b-dbbc-493e-ab3f-4321bce6cc37","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-02-06T13:46:08.342597Z","gateway_networks":[],"id":"b0d90017-9561-4e04-a14f-642b796c3d3b","ip":{"address":"51.158.186.43","created_at":"2025-02-06T13:46:08.019129Z","gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","id":"4dd6d53b-dbbc-493e-ab3f-4321bce6cc37","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"43-186-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:46:08.019129Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-02-06T13:46:08.342597Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.112791ms
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/b0d90017-9561-4e04-a14f-642b796c3d3b
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-02-06T13:46:08.342597Z","gateway_networks":[],"id":"b0d90017-9561-4e04-a14f-642b796c3d3b","ip":{"address":"51.158.186.43","created_at":"2025-02-06T13:46:08.019129Z","gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","id":"4dd6d53b-dbbc-493e-ab3f-4321bce6cc37","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"43-186-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:46:08.019129Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-02-06T13:46:08.399490Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.330542ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","private_network_id":"d9e77bff-80da-4a0f-af19-50f6a6351ee3","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"0ef9e983-12c1-4a4d-9522-0da204e23193"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-02-06T13:46:16.106202Z","dhcp":{"address":"192.168.1.1","created_at":"2025-02-06T13:46:07.337972Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"0ef9e983-12c1-4a4d-9522-0da204e23193","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-02-06T13:46:07.337972Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","id":"7b30df70-988f-4f93-a566-39c9e031bad5","ipam_config":null,"mac_address":null,"private_network_id":"d9e77bff-80da-4a0f-af19-50f6a6351ee3","status":"created","updated_at":"2025-02-06T13:46:16.106202Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.720779s
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/7b30df70-988f-4f93-a566-39c9e031bad5
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-02-06T13:46:16.106202Z","dhcp":{"address":"192.168.1.1","created_at":"2025-02-06T13:46:07.337972Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"0ef9e983-12c1-4a4d-9522-0da204e23193","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-02-06T13:46:07.337972Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","id":"7b30df70-988f-4f93-a566-39c9e031bad5","ipam_config":null,"mac_address":"02:00:00:1C:4B:7C","private_network_id":"d9e77bff-80da-4a0f-af19-50f6a6351ee3","status":"ready","updated_at":"2025-02-06T13:46:26.993886Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.519625ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-02-06T13:46:32.103477Z","gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","id":"36c08dfe-569a-4088-8bd7-9f38f9d223e5","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-02-06T13:46:32.103477Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.041583ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/36c08dfe-569a-4088-8bd7-9f38f9d223e5
        method: GET
      response:
        body: '{"created_at":"2025-02-06T13:46:32.103477Z","gateway_id":"b0d90017-9561-4e04-a14f-642b796c3d3b","id":"36c08dfe-569a-4088-8bd7-9f38f9d223e5","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-02-06T13:46:32.103477Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.628166ms
[...]
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/7b30df70-988f-4f93-a566-39c9e031bad5?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 174.461208ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/7b30df70-988f-4f93-a566-39c9e031bad5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"7b30df70-988f-4f93-a566-39c9e031bad5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.681291ms
[...]
    - id: 110
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/b0d90017-9561-4e04-a14f-642b796c3d3b?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 89.75525ms
[...]
