---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:12:33.297380Z","id":"7935e15d-9e07-4855-ac23-2e17a27793e7","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T18:12:33.297380Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.542872ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/7935e15d-9e07-4855-ac23-2e17a27793e7
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:12:33.297380Z","id":"7935e15d-9e07-4855-ac23-2e17a27793e7","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T18:12:33.297380Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.599413ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"7935e15d-9e07-4855-ac23-2e17a27793e7"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:12:33.523205Z","dhcp_enabled":true,"id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2025-05-13T18:12:33.523205Z","id":"02dd42f7-47f4-499d-a68b-e7946a5e1b7e","private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24","updated_at":"2025-05-13T18:12:33.523205Z","vpc_id":"7935e15d-9e07-4855-ac23-2e17a27793e7"},{"created_at":"2025-05-13T18:12:33.523205Z","id":"65a544cf-874a-4c91-b563-198dacbb97f0","private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd68:d440:21c4:54f8::/64","updated_at":"2025-05-13T18:12:33.523205Z","vpc_id":"7935e15d-9e07-4855-ac23-2e17a27793e7"}],"tags":[],"updated_at":"2025-05-13T18:12:33.523205Z","vpc_id":"7935e15d-9e07-4855-ac23-2e17a27793e7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 645.689519ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.98.158","created_at":"2025-05-13T18:12:34.131679Z","id":"a9ee3deb-363a-4ba6-8fea-4ba3690947cd","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"158-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:12:34.131679Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 939.996234ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/dbeb5f42-86aa-4015-b624-7f492ae6c85a
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:12:33.523205Z","dhcp_enabled":true,"id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2025-05-13T18:12:33.523205Z","id":"02dd42f7-47f4-499d-a68b-e7946a5e1b7e","private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24","updated_at":"2025-05-13T18:12:33.523205Z","vpc_id":"7935e15d-9e07-4855-ac23-2e17a27793e7"},{"created_at":"2025-05-13T18:12:33.523205Z","id":"65a544cf-874a-4c91-b563-198dacbb97f0","private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd68:d440:21c4:54f8::/64","updated_at":"2025-05-13T18:12:33.523205Z","vpc_id":"7935e15d-9e07-4855-ac23-2e17a27793e7"}],"tags":[],"updated_at":"2025-05-13T18:12:33.523205Z","vpc_id":"7935e15d-9e07-4855-ac23-2e17a27793e7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.065439ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/a9ee3deb-363a-4ba6-8fea-4ba3690947cd
        method: GET
      response:
        body: '{"address":"51.15.98.158","created_at":"2025-05-13T18:12:34.131679Z","id":"a9ee3deb-363a-4ba6-8fea-4ba3690947cd","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"158-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:12:34.131679Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.402098ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":[],"type":"VPC-GW-S","ip_id":"a9ee3deb-363a-4ba6-8fea-4ba3690947cd","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:12:34.337181Z","gateway_networks":[],"id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","ipv4":{"address":"51.15.98.158","created_at":"2025-05-13T18:12:34.131679Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"a9ee3deb-363a-4ba6-8fea-4ba3690947cd","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"158-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:12:34.131679Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:12:34.337181Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.293723ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/6c496025-03ac-4348-b7b2-6980a4a0c5e3
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:12:34.337181Z","gateway_networks":[],"id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","ipv4":{"address":"51.15.98.158","created_at":"2025-05-13T18:12:34.131679Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"a9ee3deb-363a-4ba6-8fea-4ba3690947cd","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"158-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:12:34.131679Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:12:34.400964Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.304908ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-13T18:12:34.575999Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"7d6edb7a-4143-4070-863e-8dea782a997f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"dee31a0f-30a7-474a-9a59-b8e39c0d2537","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 838.355817ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/dee31a0f-30a7-474a-9a59-b8e39c0d2537
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-13T18:12:34.575999Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"7d6edb7a-4143-4070-863e-8dea782a997f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"dee31a0f-30a7-474a-9a59-b8e39c0d2537","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.461231ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:12:40.199589Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"e32f53ef-b814-4fc2-a750-523359dbb88a","ipam_ip_id":"4977ced3-9854-46d1-b257-444488069b19","masquerade_enabled":true,"private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","push_default_route":true,"status":"created","updated_at":"2025-05-13T18:12:40.199589Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 593.061412ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/6c496025-03ac-4348-b7b2-6980a4a0c5e3
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:12:34.337181Z","gateway_networks":[{"created_at":"2025-05-13T18:12:40.199589Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"e32f53ef-b814-4fc2-a750-523359dbb88a","ipam_ip_id":"4977ced3-9854-46d1-b257-444488069b19","mac_address":"02:00:00:16:0B:04","masquerade_enabled":true,"private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","push_default_route":true,"status":"configuring","updated_at":"2025-05-13T18:12:46.249868Z","zone":"nl-ams-1"}],"id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","ipv4":{"address":"51.15.98.158","created_at":"2025-05-13T18:12:34.131679Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"a9ee3deb-363a-4ba6-8fea-4ba3690947cd","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"158-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:12:34.131679Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:12:40.349461Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.336554ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/e32f53ef-b814-4fc2-a750-523359dbb88a
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:12:40.199589Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"e32f53ef-b814-4fc2-a750-523359dbb88a","ipam_ip_id":"4977ced3-9854-46d1-b257-444488069b19","mac_address":"02:00:00:16:0B:04","masquerade_enabled":true,"private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","push_default_route":true,"status":"ready","updated_at":"2025-05-13T18:12:51.265130Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 625.632207ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=dbeb5f42-86aa-4015-b624-7f492ae6c85a&resource_id=e32f53ef-b814-4fc2-a750-523359dbb88a&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-05-13T18:12:40.125118Z","id":"4977ced3-9854-46d1-b257-444488069b19","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","resource":{"id":"e32f53ef-b814-4fc2-a750-523359dbb88a","mac_address":"02:00:00:16:0B:04","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"02dd42f7-47f4-499d-a68b-e7946a5e1b7e"},"tags":[],"updated_at":"2025-05-13T18:12:40.760622Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.468386ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=e32f53ef-b814-4fc2-a750-523359dbb88a&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-05-13T18:12:40.125118Z","id":"4977ced3-9854-46d1-b257-444488069b19","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","resource":{"id":"e32f53ef-b814-4fc2-a750-523359dbb88a","mac_address":"02:00:00:16:0B:04","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"02dd42f7-47f4-499d-a68b-e7946a5e1b7e"},"tags":[],"updated_at":"2025-05-13T18:12:40.760622Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.871943ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/dee31a0f-30a7-474a-9a59-b8e39c0d2537
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-13T18:12:34.575999Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"7d6edb7a-4143-4070-863e-8dea782a997f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"dbeb5f42-86aa-4015-b624-7f492ae6c85a","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"dee31a0f-30a7-474a-9a59-b8e39c0d2537","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.519076ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/dee31a0f-30a7-474a-9a59-b8e39c0d2537/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVRkF4UGtHZWVRY2I5aVQ1eHJjRVh0WW5xS3hBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdOVEV6TVRneE16UXlXaGNOTXpVd05URXhNVGd4TXpReVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:15:37.501839Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"d5d474ac-fac5-44bf-9192-fbc88c3b7738","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-05-13T18:15:37.501839Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.252991ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules/d5d474ac-fac5-44bf-9192-fbc88c3b7738
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:15:37.501839Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"d5d474ac-fac5-44bf-9192-fbc88c3b7738","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-05-13T18:15:37.501839Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.707653ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/7d6edb7a-4143-4070-863e-8dea782a997f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 316.743141ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/e32f53ef-b814-4fc2-a750-523359dbb88a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"e32f53ef-b814-4fc2-a750-523359dbb88a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.441263ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/6c496025-03ac-4348-b7b2-6980a4a0c5e3?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:12:34.337181Z","gateway_networks":[],"id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","ipv4":{"address":"51.15.98.158","created_at":"2025-05-13T18:12:34.131679Z","gateway_id":"6c496025-03ac-4348-b7b2-6980a4a0c5e3","id":"a9ee3deb-363a-4ba6-8fea-4ba3690947cd","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"158-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:12:34.131679Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:15:47.057666Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.879515ms
[...]
