---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T09:06:42.295252Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7d4eb8ce-c98f-44d2-a12e-0d403d999ea6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:06:42.295252Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.433844ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/7d4eb8ce-c98f-44d2-a12e-0d403d999ea6
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T09:06:42.295252Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7d4eb8ce-c98f-44d2-a12e-0d403d999ea6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:06:42.295252Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.94425ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:06:42.294166Z","dhcp_enabled":true,"id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T09:06:42.294166Z","id":"1c3afa97-01af-4126-9802-c88b7851fe3e","subnet":"172.16.16.0/22","updated_at":"2024-05-14T09:06:42.294166Z"},{"created_at":"2024-05-14T09:06:42.294166Z","id":"524ab668-c0c5-4229-8ff2-decc5041fd56","subnet":"fd5c:d510:d730:2cba::/64","updated_at":"2024-05-14T09:06:42.294166Z"}],"tags":[],"updated_at":"2024-05-14T09:06:42.294166Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 558.777537ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:06:42.294166Z","dhcp_enabled":true,"id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T09:06:42.294166Z","id":"1c3afa97-01af-4126-9802-c88b7851fe3e","subnet":"172.16.16.0/22","updated_at":"2024-05-14T09:06:42.294166Z"},{"created_at":"2024-05-14T09:06:42.294166Z","id":"524ab668-c0c5-4229-8ff2-decc5041fd56","subnet":"fd5c:d510:d730:2cba::/64","updated_at":"2024-05-14T09:06:42.294166Z"}],"tags":[],"updated_at":"2024-05-14T09:06:42.294166Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.838317ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.183.79","created_at":"2024-05-14T09:06:43.000527Z","gateway_id":null,"id":"33a83f9d-c32d-4013-a0d9-d6a86d8b19e2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:06:43.000527Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 829.098317ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/33a83f9d-c32d-4013-a0d9-d6a86d8b19e2
        method: GET
      response:
        body: '{"address":"51.158.183.79","created_at":"2024-05-14T09:06:43.000527Z","gateway_id":null,"id":"33a83f9d-c32d-4013-a0d9-d6a86d8b19e2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:06:43.000527Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.242928ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"33a83f9d-c32d-4013-a0d9-d6a86d8b19e2","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T09:06:43.233572Z","gateway_networks":[],"id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","ip":{"address":"51.158.183.79","created_at":"2024-05-14T09:06:43.000527Z","gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","id":"33a83f9d-c32d-4013-a0d9-d6a86d8b19e2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:06:43.000527Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T09:06:43.233572Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.266566ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T09:06:43.233572Z","gateway_networks":[],"id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","ip":{"address":"51.158.183.79","created_at":"2024-05-14T09:06:43.000527Z","gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","id":"33a83f9d-c32d-4013-a0d9-d6a86d8b19e2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:06:43.000527Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T09:06:43.296391Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.926789ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:43.182848Z","endpoint":null,"endpoints":[{"id":"63c8bff5-c3d8-41b7-8726-ea019c188e5f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"6ab9f17b-184f-4f17-835e-0b72c21c7d5a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 934.583906ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/6ab9f17b-184f-4f17-835e-0b72c21c7d5a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:43.182848Z","endpoint":null,"endpoints":[{"id":"63c8bff5-c3d8-41b7-8726-ea019c188e5f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"6ab9f17b-184f-4f17-835e-0b72c21c7d5a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.95089ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","private_network_id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"7d4eb8ce-c98f-44d2-a12e-0d403d999ea6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-05-14T09:06:55.718278Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T09:06:42.295252Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7d4eb8ce-c98f-44d2-a12e-0d403d999ea6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:06:42.295252Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","id":"1e80e4e6-2bd0-45d6-b3b3-3dfb917325c9","ipam_config":null,"mac_address":null,"private_network_id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","status":"created","updated_at":"2024-05-14T09:06:55.718278Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.35505438s
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/1e80e4e6-2bd0-45d6-b3b3-3dfb917325c9
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-05-14T09:06:55.718278Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T09:06:42.295252Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7d4eb8ce-c98f-44d2-a12e-0d403d999ea6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:06:42.295252Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","id":"1e80e4e6-2bd0-45d6-b3b3-3dfb917325c9","ipam_config":null,"mac_address":"02:00:00:13:AF:3C","private_network_id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","status":"ready","updated_at":"2024-05-14T09:07:07.224472Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.660842ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/6ab9f17b-184f-4f17-835e-0b72c21c7d5a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:43.182848Z","endpoint":null,"endpoints":[{"id":"63c8bff5-c3d8-41b7-8726-ea019c188e5f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"1e7b2811-05e5-463a-9d0f-e0b74c7bfd1c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"6ab9f17b-184f-4f17-835e-0b72c21c7d5a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.739786ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/6ab9f17b-184f-4f17-835e-0b72c21c7d5a/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVZTNubTlkR1VMcWdIVi9jSjJ6OUhTc1pLUVc4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qUXdOVEUwTURrd056UTRXaGNOTXpRd05URXlNRGt3TnpRNFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:10:16.029303Z","gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","id":"40a001f7-4df3-464c-90d8-d72264331d9b","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T09:10:16.029303Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.138491ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/40a001f7-4df3-464c-90d8-d72264331d9b
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:10:16.029303Z","gateway_id":"89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6","id":"40a001f7-4df3-464c-90d8-d72264331d9b","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T09:10:16.029303Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.542307ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/1e80e4e6-2bd0-45d6-b3b3-3dfb917325c9?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 499.429068ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/63c8bff5-c3d8-41b7-8726-ea019c188e5f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 572.076577ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/1e80e4e6-2bd0-45d6-b3b3-3dfb917325c9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"1e80e4e6-2bd0-45d6-b3b3-3dfb917325c9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.838232ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/89d1c0e4-8cc5-40c6-8ef5-dc9800d9f2c6?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 77.51393ms
[...]
