---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-outputs","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_outputs"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-18T13:12:29.137511Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"4c71a6bc-2467-404a-878d-936bc7d53909","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-outputs","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_outputs"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 660.920125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-outputs","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-18T13:12:28.804645Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","name":"test-rdb-outputs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-18T13:12:28.804645Z","id":"5c0e9dd2-71d9-4895-9619-10d45aac9d00","private_network_id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.26.180.0/22","updated_at":"2026-05-18T13:12:28.804645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2026-05-18T13:12:28.804645Z","id":"55fd5d19-06fe-43ad-acff-3ca3967d4862","private_network_id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3b65::/64","updated_at":"2026-05-18T13:12:28.804645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2026-05-18T13:12:28.804645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 697.901292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d4f658cf-f88f-43f3-8320-2ce0610785e7
        method: GET
      response:
        body: '{"created_at":"2026-05-18T13:12:28.804645Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","name":"test-rdb-outputs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-18T13:12:28.804645Z","id":"5c0e9dd2-71d9-4895-9619-10d45aac9d00","private_network_id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.26.180.0/22","updated_at":"2026-05-18T13:12:28.804645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2026-05-18T13:12:28.804645Z","id":"55fd5d19-06fe-43ad-acff-3ca3967d4862","private_network_id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3b65::/64","updated_at":"2026-05-18T13:12:28.804645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2026-05-18T13:12:28.804645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.092708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4c71a6bc-2467-404a-878d-936bc7d53909
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-18T13:12:29.137511Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"4c71a6bc-2467-404a-878d-936bc7d53909","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-outputs","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_outputs"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.208375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4c71a6bc-2467-404a-878d-936bc7d53909
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-18T13:12:29.137511Z","encryption":{"enabled":false},"endpoint":{"id":"0fa4dbe9-fec6-4440-bc5b-3a8fbd0548a3","ip":"51.158.123.170","load_balancer":{},"name":null,"port":20065},"endpoints":[{"id":"0fa4dbe9-fec6-4440-bc5b-3a8fbd0548a3","ip":"51.158.123.170","load_balancer":{},"name":null,"port":20065}],"engine":"PostgreSQL-17","id":"4c71a6bc-2467-404a-878d-936bc7d53909","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-outputs","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_outputs"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.286792ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4c71a6bc-2467-404a-878d-936bc7d53909/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVVFlGMlZqUEg0OXNEV3RJSkFzTUo0UDlSNndRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPQzR4TWpNdU1UY3dNQjRYCkRUSTJNRFV4T0RFek1UVTFPVm9YRFRNMk1EVXhOVEV6TVRVMU9Wb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4c71a6bc-2467-404a-878d-936bc7d53909/endpoints
        method: POST
      response:
        body: '{"id":"9d7664aa-fd24-47af-ae3a-527a72b05732","ip":"172.26.180.2","name":null,"port":5432,"private_network":{"private_network_id":"d4f658cf-f88f-43f3-8320-2ce0610785e7","provisioning_mode":"ipam","service_ip":"172.26.180.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 822.8325ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d4f658cf-f88f-43f3-8320-2ce0610785e7&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=4c71a6bc-2467-404a-878d-936bc7d53909&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.26.180.2/22","created_at":"2026-05-18T13:16:35.725489Z","id":"5b0a698d-28fa-4f15-b541-1c5401670522","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"4c71a6bc-2467-404a-878d-936bc7d53909","mac_address":"02:00:00:12:65:6A","name":"test-rdb-outputs","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"5c0e9dd2-71d9-4895-9619-10d45aac9d00"},"tags":["managed","scwdbaas"],"updated_at":"2026-05-18T13:16:36.288975Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.517208ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4c71a6bc-2467-404a-878d-936bc7d53909
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"4c71a6bc-2467-404a-878d-936bc7d53909","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.526875ms
[...]
