---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-instance-volume\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: "{\"id\":\"826c609c-4fc3-432a-a8da-20657d60735a\",\"name\":\"test-rdb-instance-volume\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:25.260908Z\",\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 579.398261ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/826c609c-4fc3-432a-a8da-20657d60735a
    method: GET
  response:
    body: "{\"id\":\"826c609c-4fc3-432a-a8da-20657d60735a\",\"name\":\"test-rdb-instance-volume\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:25.260908Z\",\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.876723ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/826c609c-4fc3-432a-a8da-20657d60735a
    method: GET
  response:
    body: "{\"id\":\"826c609c-4fc3-432a-a8da-20657d60735a\",\"name\":\"test-rdb-instance-volume\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:25.260908Z\",\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 124.164513ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/826c609c-4fc3-432a-a8da-20657d60735a
    method: GET
  response:
    body: "{\"id\":\"826c609c-4fc3-432a-a8da-20657d60735a\",\"name\":\"test-rdb-instance-volume\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.158.210.11\",\"port\":12609,\"name\":null,\"id\":\"5c0b22e6-e4ca-4c17-8118-6d2e8521deb1\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.158.210.11\",\"port\":12609,\"name\":null,\"id\":\"5c0b22e6-e4ca-4c17-8118-6d2e8521deb1\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:25.260908Z\",\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.404772ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/826c609c-4fc3-432a-a8da-20657d60735a/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVSTdmaE1vSUxTTGRGRTFJeCtBSjVXcElFMHRvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPQzR5TVRBdU1URXdIaGNOCk1qVXdPREk0TVRJd01qVTVXaGNOTXpVd09ESTJNVEl3TWpVNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNE[...]
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"volume_type\":\"sbs_5k\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/826c609c-4fc3-432a-a8da-20657d60735a/upgrade
    method: POST
  response:
    body: "{\"id\":\"826c609c-4fc3-432a-a8da-20657d60735a\",\"name\":\"test-rdb-instance-volume\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\"[...]
[...]
- id: 91
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/826c609c-4fc3-432a-a8da-20657d60735a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"826c609c-4fc3-432a-a8da-20657d60735a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 109.765591ms
[...]
