---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-04-24T14:10:11.480363Z","id":"4c5303bd-c381-477a-b010-4964cccbd90d","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-04-24T14:10:11.480363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.976209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/4c5303bd-c381-477a-b010-4964cccbd90d
        method: GET
      response:
        body: '{"created_at":"2025-04-24T14:10:11.480363Z","id":"4c5303bd-c381-477a-b010-4964cccbd90d","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-04-24T14:10:11.480363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.14725ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.74.80","created_at":"2025-04-24T14:10:12.151491Z","id":"04051e58-1827-4ecb-8220-fc455968cf71","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"80-74-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-04-24T14:10:12.151491Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 842.955375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"4c5303bd-c381-477a-b010-4964cccbd90d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-24T14:10:11.753061Z","dhcp_enabled":true,"id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-04-24T14:10:11.753061Z","id":"cd6fee93-f092-473a-bc54-e68e583890e1","private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","updated_at":"2025-04-24T14:10:11.753061Z","vpc_id":"4c5303bd-c381-477a-b010-4964cccbd90d"},{"created_at":"2025-04-24T14:10:11.753061Z","id":"7db2ce1f-2981-4e0b-b220-3f156245ec47","private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:6f6e::/64","updated_at":"2025-04-24T14:10:11.753061Z","vpc_id":"4c5303bd-c381-477a-b010-4964cccbd90d"}],"tags":[],"updated_at":"2025-04-24T14:10:11.753061Z","vpc_id":"4c5303bd-c381-477a-b010-4964cccbd90d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 557.494875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/04051e58-1827-4ecb-8220-fc455968cf71
        method: GET
      response:
        body: '{"address":"51.15.74.80","created_at":"2025-04-24T14:10:12.151491Z","id":"04051e58-1827-4ecb-8220-fc455968cf71","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"80-74-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-04-24T14:10:12.151491Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.714041ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c
        method: GET
      response:
        body: '{"created_at":"2025-04-24T14:10:11.753061Z","dhcp_enabled":true,"id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-04-24T14:10:11.753061Z","id":"cd6fee93-f092-473a-bc54-e68e583890e1","private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","updated_at":"2025-04-24T14:10:11.753061Z","vpc_id":"4c5303bd-c381-477a-b010-4964cccbd90d"},{"created_at":"2025-04-24T14:10:11.753061Z","id":"7db2ce1f-2981-4e0b-b220-3f156245ec47","private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:6f6e::/64","updated_at":"2025-04-24T14:10:11.753061Z","vpc_id":"4c5303bd-c381-477a-b010-4964cccbd90d"}],"tags":[],"updated_at":"2025-04-24T14:10:11.753061Z","vpc_id":"4c5303bd-c381-477a-b010-4964cccbd90d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.59125ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","ip_id":"04051e58-1827-4ecb-8220-fc455968cf71","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-04-24T14:10:12.504322Z","gateway_networks":[],"id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","ipv4":{"address":"51.15.74.80","created_at":"2025-04-24T14:10:12.151491Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"04051e58-1827-4ecb-8220-fc455968cf71","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"80-74-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-04-24T14:10:12.151491Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-04-24T14:10:12.504322Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.273ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/b101f076-2a87-4fce-9e8b-66aea9c4e010
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-04-24T14:10:12.504322Z","gateway_networks":[],"id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","ipv4":{"address":"51.15.74.80","created_at":"2025-04-24T14:10:12.151491Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"04051e58-1827-4ecb-8220-fc455968cf71","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"80-74-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-04-24T14:10:12.151491Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-04-24T14:10:12.572790Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.477ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-04-24T14:10:12.707141Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3461d49a-bc90-4367-920c-abc6dc6bd51f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"c5f65b94-ab6c-4203-8d76-4a6e29efe2d4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 862.041167ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c5f65b94-ab6c-4203-8d76-4a6e29efe2d4
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-04-24T14:10:12.707141Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3461d49a-bc90-4367-920c-abc6dc6bd51f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"c5f65b94-ab6c-4203-8d76-4a6e29efe2d4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.010416ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-24T14:10:23.384339Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"7c600c0f-7a03-4fc9-a306-25c68c334da3","ipam_ip_id":"e49e6840-0b42-48a5-a638-9b151f0bbaad","masquerade_enabled":true,"private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","push_default_route":true,"status":"created","updated_at":"2025-04-24T14:10:23.384339Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 543.373708ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/b101f076-2a87-4fce-9e8b-66aea9c4e010
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-04-24T14:10:12.504322Z","gateway_networks":[{"created_at":"2025-04-24T14:10:23.384339Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"7c600c0f-7a03-4fc9-a306-25c68c334da3","ipam_ip_id":"e49e6840-0b42-48a5-a638-9b151f0bbaad","mac_address":"02:00:00:18:86:4D","masquerade_enabled":true,"private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","push_default_route":true,"status":"configuring","updated_at":"2025-04-24T14:10:29.453290Z","zone":"nl-ams-1"}],"id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","ipv4":{"address":"51.15.74.80","created_at":"2025-04-24T14:10:12.151491Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"04051e58-1827-4ecb-8220-fc455968cf71","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"80-74-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-04-24T14:10:12.151491Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-04-24T14:10:23.538286Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.977167ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/7c600c0f-7a03-4fc9-a306-25c68c334da3
        method: GET
      response:
        body: '{"created_at":"2025-04-24T14:10:23.384339Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"7c600c0f-7a03-4fc9-a306-25c68c334da3","ipam_ip_id":"e49e6840-0b42-48a5-a638-9b151f0bbaad","mac_address":"02:00:00:18:86:4D","masquerade_enabled":true,"private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","push_default_route":true,"status":"ready","updated_at":"2025-04-24T14:10:34.241929Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.282333ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=7c600c0f-7a03-4fc9-a306-25c68c334da3&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-04-24T14:10:23.295437Z","id":"e49e6840-0b42-48a5-a638-9b151f0bbaad","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","resource":{"id":"7c600c0f-7a03-4fc9-a306-25c68c334da3","mac_address":"02:00:00:18:86:4D","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"cd6fee93-f092-473a-bc54-e68e583890e1"},"tags":[],"updated_at":"2025-04-24T14:10:23.971961Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.052417ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c5f65b94-ab6c-4203-8d76-4a6e29efe2d4
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-04-24T14:10:12.707141Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3461d49a-bc90-4367-920c-abc6dc6bd51f","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"83a0cb07-68bf-4d05-a1cf-f19ed5a68d9c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"c5f65b94-ab6c-4203-8d76-4a6e29efe2d4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.113291ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c5f65b94-ab6c-4203-8d76-4a6e29efe2d4/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVSXFJNHhMQ3VPUU1qRTlOa0NHWWgvZHZqZVgwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdOREkwTVRReE1USXdXaGNOTXpVd05ESXlNVFF4TVRJd1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-04-24T14:13:45.879327Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"88f24c0f-d87e-444f-bc03-0ee2bbcc730c","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-04-24T14:13:45.879327Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.145584ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules/88f24c0f-d87e-444f-bc03-0ee2bbcc730c
        method: GET
      response:
        body: '{"created_at":"2025-04-24T14:13:45.879327Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"88f24c0f-d87e-444f-bc03-0ee2bbcc730c","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-04-24T14:13:45.879327Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.049042ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/3461d49a-bc90-4367-920c-abc6dc6bd51f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 231.156708ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/7c600c0f-7a03-4fc9-a306-25c68c334da3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"7c600c0f-7a03-4fc9-a306-25c68c334da3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.471ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/b101f076-2a87-4fce-9e8b-66aea9c4e010?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-04-24T14:10:12.504322Z","gateway_networks":[],"id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","ipv4":{"address":"51.15.74.80","created_at":"2025-04-24T14:10:12.151491Z","gateway_id":"b101f076-2a87-4fce-9e8b-66aea9c4e010","id":"04051e58-1827-4ecb-8220-fc455968cf71","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"80-74-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-04-24T14:10:12.151491Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-04-24T14:13:55.799789Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.479625ms
[...]
