---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:19:07.405345Z","id":"3c716461-9ad4-4913-8eb7-6ca375c1079d","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-03-24T08:19:07.405345Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.064777ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/3c716461-9ad4-4913-8eb7-6ca375c1079d
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:19:07.405345Z","id":"3c716461-9ad4-4913-8eb7-6ca375c1079d","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-03-24T08:19:07.405345Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.172182ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.86.163","created_at":"2025-03-24T08:19:08.081581Z","id":"082691b0-5c14-4c7a-aaaf-1b81cab577c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-86-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:19:08.081581Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 929.421923ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/082691b0-5c14-4c7a-aaaf-1b81cab577c7
        method: GET
      response:
        body: '{"address":"51.15.86.163","created_at":"2025-03-24T08:19:08.081581Z","id":"082691b0-5c14-4c7a-aaaf-1b81cab577c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-86-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:19:08.081581Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.70295ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","ip_id":"082691b0-5c14-4c7a-aaaf-1b81cab577c7","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:19:08.484649Z","gateway_networks":[],"id":"7b2081fd-5a76-4edc-b281-6458c646918d","ipv4":{"address":"51.15.86.163","created_at":"2025-03-24T08:19:08.081581Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"082691b0-5c14-4c7a-aaaf-1b81cab577c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-86-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:19:08.081581Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:19:08.484649Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.860445ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"3c716461-9ad4-4913-8eb7-6ca375c1079d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:19:07.815832Z","dhcp_enabled":true,"id":"be233441-59eb-4637-8768-a358f57d5908","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2025-03-24T08:19:07.815832Z","id":"cfa5097a-e710-4b44-b848-1190c9c17444","private_network_id":"be233441-59eb-4637-8768-a358f57d5908","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","updated_at":"2025-03-24T08:19:07.815832Z","vpc_id":"3c716461-9ad4-4913-8eb7-6ca375c1079d"},{"created_at":"2025-03-24T08:19:07.815832Z","id":"76035f22-317b-4bd7-8368-8ec0f38d1baa","private_network_id":"be233441-59eb-4637-8768-a358f57d5908","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:3715::/64","updated_at":"2025-03-24T08:19:07.815832Z","vpc_id":"3c716461-9ad4-4913-8eb7-6ca375c1079d"}],"tags":[],"updated_at":"2025-03-24T08:19:07.815832Z","vpc_id":"3c716461-9ad4-4913-8eb7-6ca375c1079d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 973.64939ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/7b2081fd-5a76-4edc-b281-6458c646918d
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:19:08.484649Z","gateway_networks":[],"id":"7b2081fd-5a76-4edc-b281-6458c646918d","ipv4":{"address":"51.15.86.163","created_at":"2025-03-24T08:19:08.081581Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"082691b0-5c14-4c7a-aaaf-1b81cab577c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-86-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:19:08.081581Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:19:08.536509Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.993367ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/be233441-59eb-4637-8768-a358f57d5908
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:19:07.815832Z","dhcp_enabled":true,"id":"be233441-59eb-4637-8768-a358f57d5908","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2025-03-24T08:19:07.815832Z","id":"cfa5097a-e710-4b44-b848-1190c9c17444","private_network_id":"be233441-59eb-4637-8768-a358f57d5908","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","updated_at":"2025-03-24T08:19:07.815832Z","vpc_id":"3c716461-9ad4-4913-8eb7-6ca375c1079d"},{"created_at":"2025-03-24T08:19:07.815832Z","id":"76035f22-317b-4bd7-8368-8ec0f38d1baa","private_network_id":"be233441-59eb-4637-8768-a358f57d5908","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:3715::/64","updated_at":"2025-03-24T08:19:07.815832Z","vpc_id":"3c716461-9ad4-4913-8eb7-6ca375c1079d"}],"tags":[],"updated_at":"2025-03-24T08:19:07.815832Z","vpc_id":"3c716461-9ad4-4913-8eb7-6ca375c1079d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.163056ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"be233441-59eb-4637-8768-a358f57d5908","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-03-24T08:19:09.337633Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8543e57e-833b-455c-a2b5-3cc56c7313f0","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"be233441-59eb-4637-8768-a358f57d5908","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"91136575-4b1d-4c79-b240-08afeae48b00","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.031156616s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/91136575-4b1d-4c79-b240-08afeae48b00
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-03-24T08:19:09.337633Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8543e57e-833b-455c-a2b5-3cc56c7313f0","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"be233441-59eb-4637-8768-a358f57d5908","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"91136575-4b1d-4c79-b240-08afeae48b00","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.509792ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","private_network_id":"be233441-59eb-4637-8768-a358f57d5908","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:19:14.551023Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"77c99056-c673-4496-a073-44e35ce1c9fc","ipam_ip_id":"20e3e50c-a02c-42e9-bace-11b7992f31cd","masquerade_enabled":true,"private_network_id":"be233441-59eb-4637-8768-a358f57d5908","push_default_route":true,"status":"created","updated_at":"2025-03-24T08:19:14.551023Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 708.976328ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/7b2081fd-5a76-4edc-b281-6458c646918d
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:19:08.484649Z","gateway_networks":[{"created_at":"2025-03-24T08:19:14.551023Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"77c99056-c673-4496-a073-44e35ce1c9fc","ipam_ip_id":"20e3e50c-a02c-42e9-bace-11b7992f31cd","mac_address":"02:00:00:13:4E:9C","masquerade_enabled":true,"private_network_id":"be233441-59eb-4637-8768-a358f57d5908","push_default_route":true,"status":"configuring","updated_at":"2025-03-24T08:19:20.662384Z","zone":"nl-ams-1"}],"id":"7b2081fd-5a76-4edc-b281-6458c646918d","ipv4":{"address":"51.15.86.163","created_at":"2025-03-24T08:19:08.081581Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"082691b0-5c14-4c7a-aaaf-1b81cab577c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-86-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:19:08.081581Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:19:14.732019Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.347068ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/77c99056-c673-4496-a073-44e35ce1c9fc
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:19:14.551023Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"77c99056-c673-4496-a073-44e35ce1c9fc","ipam_ip_id":"20e3e50c-a02c-42e9-bace-11b7992f31cd","mac_address":"02:00:00:13:4E:9C","masquerade_enabled":true,"private_network_id":"be233441-59eb-4637-8768-a358f57d5908","push_default_route":true,"status":"ready","updated_at":"2025-03-24T08:19:26.197363Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.422701ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=77c99056-c673-4496-a073-44e35ce1c9fc&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-03-24T08:19:14.469410Z","id":"20e3e50c-a02c-42e9-bace-11b7992f31cd","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","resource":{"id":"77c99056-c673-4496-a073-44e35ce1c9fc","mac_address":"02:00:00:13:4E:9C","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"cfa5097a-e710-4b44-b848-1190c9c17444"},"tags":[],"updated_at":"2025-03-24T08:19:15.165736Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.041386ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/91136575-4b1d-4c79-b240-08afeae48b00
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-03-24T08:19:09.337633Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8543e57e-833b-455c-a2b5-3cc56c7313f0","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"be233441-59eb-4637-8768-a358f57d5908","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"91136575-4b1d-4c79-b240-08afeae48b00","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.818149ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/91136575-4b1d-4c79-b240-08afeae48b00/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVRjVEblNTUDEyS0V6cWV3dzRXb1FyUkk2amQwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdNekkwTURneU1EQTVXaGNOTXpVd016SXlNRGd5TURBNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:21:43.029293Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"d759f012-85dc-4a38-91f4-df3bf7a8c220","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-03-24T08:21:43.029293Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.068179ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules/d759f012-85dc-4a38-91f4-df3bf7a8c220
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:21:43.029293Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"d759f012-85dc-4a38-91f4-df3bf7a8c220","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-03-24T08:21:43.029293Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.860637ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/8543e57e-833b-455c-a2b5-3cc56c7313f0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 237.015561ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/77c99056-c673-4496-a073-44e35ce1c9fc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"77c99056-c673-4496-a073-44e35ce1c9fc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 106.062549ms
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/7b2081fd-5a76-4edc-b281-6458c646918d?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:19:08.484649Z","gateway_networks":[],"id":"7b2081fd-5a76-4edc-b281-6458c646918d","ipv4":{"address":"51.15.86.163","created_at":"2025-03-24T08:19:08.081581Z","gateway_id":"7b2081fd-5a76-4edc-b281-6458c646918d","id":"082691b0-5c14-4c7a-aaaf-1b81cab577c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-86-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:19:08.081581Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:21:53.084895Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.201586ms
[...]
