---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:11:37.771964Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:11:37.771964Z","id":"33fdeff0-2ff4-405c-a825-e6585816e41b","private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-06-30T15:11:37.771964Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:11:37.771964Z","id":"fb17db93-9acc-487d-b2f5-7a3ab56f3bd9","private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:78d1::/64","updated_at":"2025-06-30T15:11:37.771964Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:11:37.771964Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 614.360375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2d737efb-a7f9-4a8d-8a5d-c2a1922b922c
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:11:37.771964Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:11:37.771964Z","id":"33fdeff0-2ff4-405c-a825-e6585816e41b","private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2025-06-30T15:11:37.771964Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:11:37.771964Z","id":"fb17db93-9acc-487d-b2f5-7a3ab56f3bd9","private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:78d1::/64","updated_at":"2025-06-30T15:11:37.771964Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:11:37.771964Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.814625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-update","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:11:38.764942Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"097047a6-a8b0-4610-b5c0-7a599084b266","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"572165b4-742f-4d6f-9809-d775a7219240","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.888122584s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/572165b4-742f-4d6f-9809-d775a7219240
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:11:38.764942Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"097047a6-a8b0-4610-b5c0-7a599084b266","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"572165b4-742f-4d6f-9809-d775a7219240","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.33775ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/572165b4-742f-4d6f-9809-d775a7219240
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:11:38.764942Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"097047a6-a8b0-4610-b5c0-7a599084b266","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"2d737efb-a7f9-4a8d-8a5d-c2a1922b922c","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"572165b4-742f-4d6f-9809-d775a7219240","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.832833ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/572165b4-742f-4d6f-9809-d775a7219240/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVTVFzckdURXFRazNyVkNsME0zZi9lek50Mi9jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5TUM0eU1CNFhEVEkxCk1EWXpNREUxTVRNd01Gb1hEVE0xTURZeU9ERTFNVE13TUZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=2d737efb-a7f9-4a8d-8a5d-c2a1922b922c&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=572165b4-742f-4d6f-9809-d775a7219240&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.20.2/22","created_at":"2025-06-30T15:11:40.357876Z","id":"78fedf81-2719-407b-a1fa-f4d5cff2357d","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"572165b4-742f-4d6f-9809-d775a7219240","mac_address":"02:00:00:1F:98:08","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"33fdeff0-2ff4-405c-a825-e6585816e41b"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:12:05.101547Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.007541ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/097047a6-a8b0-4610-b5c0-7a599084b266
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 298.454791ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"04cee5e1-57cc-474a-8d0f-b0b1bb39ce32","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/572165b4-742f-4d6f-9809-d775a7219240/endpoints
        method: POST
      response:
        body: '{"id":"d0ace651-29cb-40ac-aeeb-4c7539d8be8a","ip":"172.16.12.2","name":null,"port":5432,"private_network":{"private_network_id":"04cee5e1-57cc-474a-8d0f-b0b1bb39ce32","provisioning_mode":"ipam","service_ip":"172.16.12.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.917245792s
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/04cee5e1-57cc-474a-8d0f-b0b1bb39ce32
        method: GET
      response:
        body: '{"message":"upstream connect error or disconnect/reset before headers. reset reason: connection termination"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 1.652637166s
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/572165b4-742f-4d6f-9809-d775a7219240
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"572165b4-742f-4d6f-9809-d775a7219240","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 98.593791ms
[...]
