---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T19:15:24.124436Z","dhcp_enabled":true,"id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-03T19:15:24.124436Z","id":"fa832b37-9291-4c0d-94ca-e7e06dcf3af0","private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2024-10-03T19:15:24.124436Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"},{"created_at":"2024-10-03T19:15:24.124436Z","id":"fc93b57f-5ba8-4223-90cf-2fa603fc41b3","private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:76bc::/64","updated_at":"2024-10-03T19:15:24.124436Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}],"tags":[],"updated_at":"2024-10-03T19:15:24.124436Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 723.91469ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a
        method: GET
      response:
        body: '{"created_at":"2024-10-03T19:15:24.124436Z","dhcp_enabled":true,"id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-03T19:15:24.124436Z","id":"fa832b37-9291-4c0d-94ca-e7e06dcf3af0","private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.20.0/22","updated_at":"2024-10-03T19:15:24.124436Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"},{"created_at":"2024-10-03T19:15:24.124436Z","id":"fc93b57f-5ba8-4223-90cf-2fa603fc41b3","private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:76bc::/64","updated_at":"2024-10-03T19:15:24.124436Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}],"tags":[],"updated_at":"2024-10-03T19:15:24.124436Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.050057ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","service_ip":"192.168.1.42/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:26.585629Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"1712ab24-f15e-492a-9e6a-166aef748e6c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"ee553c83-7db1-456f-9ee6-9807f2d055cd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 882.530918ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/ee553c83-7db1-456f-9ee6-9807f2d055cd
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:26.585629Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"1712ab24-f15e-492a-9e6a-166aef748e6c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"ee553c83-7db1-456f-9ee6-9807f2d055cd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.606246ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/ee553c83-7db1-456f-9ee6-9807f2d055cd
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:26.585629Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"1712ab24-f15e-492a-9e6a-166aef748e6c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"ee553c83-7db1-456f-9ee6-9807f2d055cd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.51213ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/ee553c83-7db1-456f-9ee6-9807f2d055cd/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVSnJ1UGsrTW54MDR1Q1BhYzI0blNpL0lzNlRRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5ERXdNRE14T1RFMk16RmFGdzB6TkRFd01ERXhPVEUyTXpGYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=75f38c74-a2ce-45b2-a8cb-e3f0d42caf8a&resource_id=ee553c83-7db1-456f-9ee6-9807f2d055cd&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.306369ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/1712ab24-f15e-492a-9e6a-166aef748e6c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 202.098203ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"e86e3240-e69d-4fd1-9553-d39c40affc35","service_ip":"192.168.1.254/24"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/ee553c83-7db1-456f-9ee6-9807f2d055cd/endpoints
        method: POST
      response:
        body: '{"id":"f69fc0a4-953c-44e0-9f72-70c1b7c46419","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"e86e3240-e69d-4fd1-9553-d39c40affc35","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.485423ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T19:20:35.892061Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f3e8eb42-4631-4ec5-a873-201a6f318f77","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:20:35.892061Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.516251ms
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/f3e8eb42-4631-4ec5-a873-201a6f318f77
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T19:20:35.892061Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f3e8eb42-4631-4ec5-a873-201a6f318f77","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:20:35.892061Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.833873ms
    - id: 55
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.116.2","created_at":"2024-10-03T19:20:36.568895Z","gateway_id":null,"id":"20b30132-4383-46fe-a3bc-1941b3890886","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:20:36.568895Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 817.786242ms
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/20b30132-4383-46fe-a3bc-1941b3890886
        method: GET
      response:
        body: '{"address":"51.15.116.2","created_at":"2024-10-03T19:20:36.568895Z","gateway_id":null,"id":"20b30132-4383-46fe-a3bc-1941b3890886","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:20:36.568895Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.805778ms
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"20b30132-4383-46fe-a3bc-1941b3890886","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T19:20:36.803817Z","gateway_networks":[],"id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","ip":{"address":"51.15.116.2","created_at":"2024-10-03T19:20:36.568895Z","gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","id":"20b30132-4383-46fe-a3bc-1941b3890886","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:20:36.568895Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-03T19:20:36.803817Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.142047ms
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8f46a5d0-164e-4553-be04-d5f94dba73fc
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T19:20:36.803817Z","gateway_networks":[],"id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","ip":{"address":"51.15.116.2","created_at":"2024-10-03T19:20:36.568895Z","gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","id":"20b30132-4383-46fe-a3bc-1941b3890886","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:20:36.568895Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-03T19:20:36.856821Z","upstream_dns_servers":[],"version":"0.6.7","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.340346ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","private_network_id":"e86e3240-e69d-4fd1-9553-d39c40affc35","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"f3e8eb42-4631-4ec5-a873-201a6f318f77"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-03T19:20:49.322930Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T19:20:35.892061Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f3e8eb42-4631-4ec5-a873-201a6f318f77","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:20:35.892061Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","id":"dae876cb-26d1-4e9d-aa32-540582e48a36","ipam_config":null,"mac_address":null,"private_network_id":"e86e3240-e69d-4fd1-9553-d39c40affc35","status":"created","updated_at":"2024-10-03T19:20:49.322930Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.326719778s
[...]
    - id: 68
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/dae876cb-26d1-4e9d-aa32-540582e48a36
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-03T19:20:49.322930Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T19:20:35.892061Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f3e8eb42-4631-4ec5-a873-201a6f318f77","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:20:35.892061Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","id":"dae876cb-26d1-4e9d-aa32-540582e48a36","ipam_config":null,"mac_address":"02:00:00:14:19:FF","private_network_id":"e86e3240-e69d-4fd1-9553-d39c40affc35","status":"ready","updated_at":"2024-10-03T19:21:01.457664Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.98643ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=e86e3240-e69d-4fd1-9553-d39c40affc35&resource_id=dae876cb-26d1-4e9d-aa32-540582e48a36&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.1/24","created_at":"2024-10-03T19:20:49.263189Z","id":"2fe0a319-5888-46d4-b6c2-b1cf8381f4b2","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","resource":{"id":"dae876cb-26d1-4e9d-aa32-540582e48a36","mac_address":"02:00:00:14:19:FF","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"1b71945c-a51b-49fc-9de8-3816f05197bb"},"tags":[],"updated_at":"2024-10-03T19:20:49.918159Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.141788ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-10-03T19:21:05.257215Z","gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","id":"cc5a3656-f316-46fc-8e31-bc18084fa4bd","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-03T19:21:05.257215Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.219563ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/cc5a3656-f316-46fc-8e31-bc18084fa4bd
        method: GET
      response:
        body: '{"created_at":"2024-10-03T19:21:05.257215Z","gateway_id":"8f46a5d0-164e-4553-be04-d5f94dba73fc","id":"cc5a3656-f316-46fc-8e31-bc18084fa4bd","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-03T19:21:05.257215Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.261308ms
[...]
    - id: 111
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/dae876cb-26d1-4e9d-aa32-540582e48a36?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 113.595947ms
[...]
    - id: 119
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/dae876cb-26d1-4e9d-aa32-540582e48a36
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"dae876cb-26d1-4e9d-aa32-540582e48a36","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.914544ms
[...]
    - id: 123
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8f46a5d0-164e-4553-be04-d5f94dba73fc?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 82.372779ms
[...]
