---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T22:09:26.557229Z","dhcp_enabled":true,"id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","name":"test-rdb-endpoints","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:09:26.557229Z","id":"6f0752cd-dc92-4fd9-8ba4-8a5412f4d98e","private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.8.0/22","updated_at":"2025-05-05T22:09:26.557229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:09:26.557229Z","id":"ac9e8f1b-aae9-492e-82ef-48b7fca20b6e","private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:4800::/64","updated_at":"2025-05-05T22:09:26.557229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:09:26.557229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 570.791689ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/49f714ab-d62e-4616-9c4b-f4ef9d4396f5
        method: GET
      response:
        body: '{"created_at":"2025-05-05T22:09:26.557229Z","dhcp_enabled":true,"id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","name":"test-rdb-endpoints","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:09:26.557229Z","id":"6f0752cd-dc92-4fd9-8ba4-8a5412f4d98e","private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.8.0/22","updated_at":"2025-05-05T22:09:26.557229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:09:26.557229Z","id":"ac9e8f1b-aae9-492e-82ef-48b7fca20b6e","private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:4800::/64","updated_at":"2025-05-05T22:09:26.557229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:09:26.557229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.021913ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-endpoints","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:09:27.428584Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e2d5280b-1959-4e1b-ba84-2f2c40bc7c0e","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","provisioning_mode":"ipam","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"91962954-7883-4ce7-889c-7359abbe59bb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.705593752s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/91962954-7883-4ce7-889c-7359abbe59bb
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:09:27.428584Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e2d5280b-1959-4e1b-ba84-2f2c40bc7c0e","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","provisioning_mode":"ipam","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"91962954-7883-4ce7-889c-7359abbe59bb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 490.432252ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/91962954-7883-4ce7-889c-7359abbe59bb
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:09:27.428584Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e2d5280b-1959-4e1b-ba84-2f2c40bc7c0e","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"49f714ab-d62e-4616-9c4b-f4ef9d4396f5","provisioning_mode":"ipam","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"91962954-7883-4ce7-889c-7359abbe59bb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.246721ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/91962954-7883-4ce7-889c-7359abbe59bb/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVTkFibEowSzhYWW5oaUlITi9veEhsYnNqQVdzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTQ0TGpJd0hoY05NalV3Ck5UQTFNakl4TURJMldoY05NelV3TlRBek1qSXhNREkyV2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpndU1[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=49f714ab-d62e-4616-9c4b-f4ef9d4396f5&resource_id=91962954-7883-4ce7-889c-7359abbe59bb&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.8.2/22","created_at":"2025-05-05T22:09:27.985328Z","id":"f8c3030a-2369-49d0-8263-d0b69608df73","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"91962954-7883-4ce7-889c-7359abbe59bb","mac_address":"02:00:00:19:9E:BA","name":"test-rdb-endpoints","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"6f0752cd-dc92-4fd9-8ba4-8a5412f4d98e"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T22:09:54.502707Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.195989ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/91962954-7883-4ce7-889c-7359abbe59bb/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.171248ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/e2d5280b-1959-4e1b-ba84-2f2c40bc7c0e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 429.347052ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/91962954-7883-4ce7-889c-7359abbe59bb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"91962954-7883-4ce7-889c-7359abbe59bb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 102.489636ms
[...]
