---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T22:00:19.550526Z","dhcp_enabled":true,"id":"df93d876-9d46-434b-9193-d7ef4f38f6da","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:00:19.550526Z","id":"15cec6d7-8e4d-4e2b-a367-28884f3800d5","private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T22:00:19.550526Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:00:19.550526Z","id":"4047a6a1-defa-490c-89db-6b95204979fc","private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d662::/64","updated_at":"2025-05-05T22:00:19.550526Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:00:19.550526Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.227275ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/df93d876-9d46-434b-9193-d7ef4f38f6da
        method: GET
      response:
        body: '{"created_at":"2025-05-05T22:00:19.550526Z","dhcp_enabled":true,"id":"df93d876-9d46-434b-9193-d7ef4f38f6da","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:00:19.550526Z","id":"15cec6d7-8e4d-4e2b-a367-28884f3800d5","private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.0.0/22","updated_at":"2025-05-05T22:00:19.550526Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:00:19.550526Z","id":"4047a6a1-defa-490c-89db-6b95204979fc","private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d662::/64","updated_at":"2025-05-05T22:00:19.550526Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:00:19.550526Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.919776ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-private-network-update","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:00:20.477851Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"0b29a79c-2981-42d2-9f34-44ce8a354edc","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"d8ebe2f3-6bfa-45a0-9deb-734f10cef75c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.53732182s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8ebe2f3-6bfa-45a0-9deb-734f10cef75c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:00:20.477851Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"0b29a79c-2981-42d2-9f34-44ce8a354edc","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"d8ebe2f3-6bfa-45a0-9deb-734f10cef75c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.30987ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8ebe2f3-6bfa-45a0-9deb-734f10cef75c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:00:20.477851Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"0b29a79c-2981-42d2-9f34-44ce8a354edc","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"df93d876-9d46-434b-9193-d7ef4f38f6da","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"d8ebe2f3-6bfa-45a0-9deb-734f10cef75c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.374126ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8ebe2f3-6bfa-45a0-9deb-734f10cef75c/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVRTJPZTFoTWJobVNqc3lPODZnL3U4ekRBM0Q0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck5UQTFNakl3TVRJNFdoY05NelV3TlRBek1qSXdNVEk0V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=df93d876-9d46-434b-9193-d7ef4f38f6da&resource_id=d8ebe2f3-6bfa-45a0-9deb-734f10cef75c&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2025-05-05T22:00:21.017710Z","id":"09d7c64e-811e-4b81-ace7-55cfa4862dd2","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d8ebe2f3-6bfa-45a0-9deb-734f10cef75c","mac_address":"02:00:00:10:46:02","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"15cec6d7-8e4d-4e2b-a367-28884f3800d5"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T22:00:55.785263Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.38689ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/0b29a79c-2981-42d2-9f34-44ce8a354edc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 513.493882ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"b95d993b-d835-4b70-ab4f-700b07518d5f","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8ebe2f3-6bfa-45a0-9deb-734f10cef75c/endpoints
        method: POST
      response:
        body: '{"id":"9fede7e9-b103-41eb-9057-1171550b2c3f","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"b95d993b-d835-4b70-ab4f-700b07518d5f","provisioning_mode":"ipam","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.022729083s
[...]
    - id: 114
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8ebe2f3-6bfa-45a0-9deb-734f10cef75c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"d8ebe2f3-6bfa-45a0-9deb-734f10cef75c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 165.729355ms
[...]
