---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:10:02.048008Z","id":"5233265a-56b8-4295-b51d-0e7b343ee9c9","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-01-22T11:10:02.048008Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.394041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/5233265a-56b8-4295-b51d-0e7b343ee9c9
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:10:02.048008Z","id":"5233265a-56b8-4295-b51d-0e7b343ee9c9","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-01-22T11:10:02.048008Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.953208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.183.141","created_at":"2025-01-22T11:10:02.646838Z","gateway_id":null,"id":"1d82c719-231b-4809-879a-2bfcc6d5d8d2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:10:02.646838Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 707.421458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/1d82c719-231b-4809-879a-2bfcc6d5d8d2
        method: GET
      response:
        body: '{"address":"51.158.183.141","created_at":"2025-01-22T11:10:02.646838Z","gateway_id":null,"id":"1d82c719-231b-4809-879a-2bfcc6d5d8d2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:10:02.646838Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.215125ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"1d82c719-231b-4809-879a-2bfcc6d5d8d2","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-22T11:10:02.809674Z","gateway_networks":[],"id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","ip":{"address":"51.158.183.141","created_at":"2025-01-22T11:10:02.646838Z","gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","id":"1d82c719-231b-4809-879a-2bfcc6d5d8d2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:10:02.646838Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-22T11:10:02.809674Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.930333ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"5233265a-56b8-4295-b51d-0e7b343ee9c9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:10:02.256497Z","dhcp_enabled":true,"id":"0a434da0-5490-4846-9baf-311e125d6cc6","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-01-22T11:10:02.256497Z","id":"db1d93d0-94e4-44b7-95a6-211efe67c322","private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","updated_at":"2025-01-22T11:10:02.256497Z","vpc_id":"5233265a-56b8-4295-b51d-0e7b343ee9c9"},{"created_at":"2025-01-22T11:10:02.256497Z","id":"e712af5a-8d28-4ef8-9fba-2a583ddf44d3","private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:1511::/64","updated_at":"2025-01-22T11:10:02.256497Z","vpc_id":"5233265a-56b8-4295-b51d-0e7b343ee9c9"}],"tags":[],"updated_at":"2025-01-22T11:10:02.256497Z","vpc_id":"5233265a-56b8-4295-b51d-0e7b343ee9c9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 644.396625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/0a434da0-5490-4846-9baf-311e125d6cc6
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:10:02.256497Z","dhcp_enabled":true,"id":"0a434da0-5490-4846-9baf-311e125d6cc6","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-01-22T11:10:02.256497Z","id":"db1d93d0-94e4-44b7-95a6-211efe67c322","private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","updated_at":"2025-01-22T11:10:02.256497Z","vpc_id":"5233265a-56b8-4295-b51d-0e7b343ee9c9"},{"created_at":"2025-01-22T11:10:02.256497Z","id":"e712af5a-8d28-4ef8-9fba-2a583ddf44d3","private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:1511::/64","updated_at":"2025-01-22T11:10:02.256497Z","vpc_id":"5233265a-56b8-4295-b51d-0e7b343ee9c9"}],"tags":[],"updated_at":"2025-01-22T11:10:02.256497Z","vpc_id":"5233265a-56b8-4295-b51d-0e7b343ee9c9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.067166ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/81980cbc-4f65-4b4f-8157-768f4ae216d0
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-22T11:10:02.809674Z","gateway_networks":[],"id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","ip":{"address":"51.158.183.141","created_at":"2025-01-22T11:10:02.646838Z","gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","id":"1d82c719-231b-4809-879a-2bfcc6d5d8d2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:10:02.646838Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-22T11:10:02.857981Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.855083ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:10:03.263513Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"fc276c72-cd77-4d94-8075-bc8aba11a7e6","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"32e6b88c-6ef6-4c61-8def-27f3dc69a638","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 944.659833ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/32e6b88c-6ef6-4c61-8def-27f3dc69a638
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:10:03.263513Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"fc276c72-cd77-4d94-8075-bc8aba11a7e6","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"32e6b88c-6ef6-4c61-8def-27f3dc69a638","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.653625ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":"192.168.1.2/24","created_at":"2025-01-22T11:10:13.440795Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","id":"40a4aa8f-2677-4217-8b9b-997bd8d07a2c","ipam_config":{"ipam_ip_id":"6aafa89e-dbeb-49bb-bfca-97f5950edc40","push_default_route":true},"mac_address":null,"private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","status":"created","updated_at":"2025-01-22T11:10:13.440795Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 480.680458ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/40a4aa8f-2677-4217-8b9b-997bd8d07a2c
        method: GET
      response:
        body: '{"address":"192.168.1.2/24","created_at":"2025-01-22T11:10:13.440795Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","id":"40a4aa8f-2677-4217-8b9b-997bd8d07a2c","ipam_config":{"ipam_ip_id":"6aafa89e-dbeb-49bb-bfca-97f5950edc40","push_default_route":true},"mac_address":"02:00:00:16:63:2E","private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","status":"ready","updated_at":"2025-01-22T11:10:24.668899Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.211292ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=40a4aa8f-2677-4217-8b9b-997bd8d07a2c&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-01-22T11:10:13.359386Z","id":"6aafa89e-dbeb-49bb-bfca-97f5950edc40","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","resource":{"id":"40a4aa8f-2677-4217-8b9b-997bd8d07a2c","mac_address":"02:00:00:16:63:2E","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"db1d93d0-94e4-44b7-95a6-211efe67c322"},"tags":[],"updated_at":"2025-01-22T11:10:13.907088Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.028209ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/32e6b88c-6ef6-4c61-8def-27f3dc69a638
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:10:03.263513Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"fc276c72-cd77-4d94-8075-bc8aba11a7e6","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"0a434da0-5490-4846-9baf-311e125d6cc6","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"32e6b88c-6ef6-4c61-8def-27f3dc69a638","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.884125ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/32e6b88c-6ef6-4c61-8def-27f3dc69a638/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVTkxmazRkQVl0c0ozbHUvZCtleEVmQVFObDdZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdNVEl5TVRFeE1EVTRXaGNOTXpVd01USXdNVEV4TURVNFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:12:35.153558Z","gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","id":"5553fcdf-6744-41ed-a178-d8b9e769fc28","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-01-22T11:12:35.153558Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.797917ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/5553fcdf-6744-41ed-a178-d8b9e769fc28
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:12:35.153558Z","gateway_id":"81980cbc-4f65-4b4f-8157-768f4ae216d0","id":"5553fcdf-6744-41ed-a178-d8b9e769fc28","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-01-22T11:12:35.153558Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.698084ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/40a4aa8f-2677-4217-8b9b-997bd8d07a2c?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 143.216125ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/fc276c72-cd77-4d94-8075-bc8aba11a7e6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 305.2815ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/40a4aa8f-2677-4217-8b9b-997bd8d07a2c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"40a4aa8f-2677-4217-8b9b-997bd8d07a2c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.378208ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/81980cbc-4f65-4b4f-8157-768f4ae216d0?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 79.674875ms
[...]
