---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-04-24T14:17:43.378120Z","dhcp_enabled":true,"id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-24T14:17:43.378120Z","id":"478ab733-6551-4f81-9c32-4889dbf14d3a","private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.4.0/22","updated_at":"2025-04-24T14:17:43.378120Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-24T14:17:43.378120Z","id":"719bf3f1-5e2d-43d7-a2f0-e7155b608149","private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4708::/64","updated_at":"2025-04-24T14:17:43.378120Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-24T14:17:43.378120Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 649.569167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ae8ef55-78b3-457e-b0c0-53267a47bbac
        method: GET
      response:
        body: '{"created_at":"2025-04-24T14:17:43.378120Z","dhcp_enabled":true,"id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-04-24T14:17:43.378120Z","id":"478ab733-6551-4f81-9c32-4889dbf14d3a","private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.4.0/22","updated_at":"2025-04-24T14:17:43.378120Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-04-24T14:17:43.378120Z","id":"719bf3f1-5e2d-43d7-a2f0-e7155b608149","private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4708::/64","updated_at":"2025-04-24T14:17:43.378120Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-04-24T14:17:43.378120Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.672834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-04-24T14:17:44.806179Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e56a829f-84ed-4b79-8c62-2b1be03c04ce","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","provisioning_mode":"ipam","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"adaef843-d8eb-46c4-9b51-bed7917c131f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.98132325s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/adaef843-d8eb-46c4-9b51-bed7917c131f
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-04-24T14:17:44.806179Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e56a829f-84ed-4b79-8c62-2b1be03c04ce","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","provisioning_mode":"ipam","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"adaef843-d8eb-46c4-9b51-bed7917c131f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.72525ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/adaef843-d8eb-46c4-9b51-bed7917c131f
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-04-24T14:17:44.806179Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e56a829f-84ed-4b79-8c62-2b1be03c04ce","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"8ae8ef55-78b3-457e-b0c0-53267a47bbac","provisioning_mode":"ipam","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"adaef843-d8eb-46c4-9b51-bed7917c131f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.097292ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/adaef843-d8eb-46c4-9b51-bed7917c131f/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVSDNLMTZZaExiSjVCKzV5MXVmL21BMENoRXFzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTQwTGpJd0hoY05NalV3Ck5ESTBNVFF4T0RReldoY05NelV3TkRJeU1UUXhPRFF6V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpRdU1[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/e56a829f-84ed-4b79-8c62-2b1be03c04ce
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 226.622791ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"78230d88-8dba-4c62-9e5d-25683e446c08","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/adaef843-d8eb-46c4-9b51-bed7917c131f/endpoints
        method: POST
      response:
        body: '{"id":"8e4aad6c-938b-401d-8da3-517bb062ccb6","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"78230d88-8dba-4c62-9e5d-25683e446c08","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.098100792s
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/adaef843-d8eb-46c4-9b51-bed7917c131f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"adaef843-d8eb-46c4-9b51-bed7917c131f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 110.570541ms
[...]
