---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-04-17T12:21:32.860118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c8772296-f170-44d1-8d24-f1a58de10d94","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:21:32.860118Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.963373ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/c8772296-f170-44d1-8d24-f1a58de10d94
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-04-17T12:21:32.860118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c8772296-f170-44d1-8d24-f1a58de10d94","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:21:32.860118Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.923081ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:21:32.876512Z","dhcp_enabled":true,"id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-17T12:21:32.876512Z","id":"985d84cd-058d-42a2-8a9a-62eca7b6b9a5","subnet":"172.16.16.0/22","updated_at":"2024-04-17T12:21:32.876512Z"},{"created_at":"2024-04-17T12:21:32.876512Z","id":"a65b9774-d96b-4c8e-beeb-f617a963aee6","subnet":"fd5c:d510:d730:d9f0::/64","updated_at":"2024-04-17T12:21:32.876512Z"}],"tags":[],"updated_at":"2024-04-17T12:21:32.876512Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 637.469275ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/d5acfec9-91e9-4a87-8455-d49a49ca3643
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:21:32.876512Z","dhcp_enabled":true,"id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-17T12:21:32.876512Z","id":"985d84cd-058d-42a2-8a9a-62eca7b6b9a5","subnet":"172.16.16.0/22","updated_at":"2024-04-17T12:21:32.876512Z"},{"created_at":"2024-04-17T12:21:32.876512Z","id":"a65b9774-d96b-4c8e-beeb-f617a963aee6","subnet":"fd5c:d510:d730:d9f0::/64","updated_at":"2024-04-17T12:21:32.876512Z"}],"tags":[],"updated_at":"2024-04-17T12:21:32.876512Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.382256ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.167.39","created_at":"2024-04-17T12:21:33.494810Z","gateway_id":null,"id":"80173d33-8ace-47a9-ad5d-23177fedf54c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:21:33.494810Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 755.103863ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/80173d33-8ace-47a9-ad5d-23177fedf54c
        method: GET
      response:
        body: '{"address":"51.158.167.39","created_at":"2024-04-17T12:21:33.494810Z","gateway_id":null,"id":"80173d33-8ace-47a9-ad5d-23177fedf54c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:21:33.494810Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.136145ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"80173d33-8ace-47a9-ad5d-23177fedf54c","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T12:21:33.807805Z","gateway_networks":[],"id":"2bb832e9-68cd-4758-9a75-a38b155d620c","ip":{"address":"51.158.167.39","created_at":"2024-04-17T12:21:33.494810Z","gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","id":"80173d33-8ace-47a9-ad5d-23177fedf54c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:21:33.494810Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-04-17T12:21:33.807805Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.066727ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/2bb832e9-68cd-4758-9a75-a38b155d620c
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T12:21:33.807805Z","gateway_networks":[],"id":"2bb832e9-68cd-4758-9a75-a38b155d620c","ip":{"address":"51.158.167.39","created_at":"2024-04-17T12:21:33.494810Z","gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","id":"80173d33-8ace-47a9-ad5d-23177fedf54c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:21:33.494810Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-04-17T12:21:33.878628Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.75747ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:21:33.882684Z","endpoint":null,"endpoints":[{"id":"b3d8c644-efe6-4819-89a1-9d379811bc34","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"1c65bb5a-b260-4190-b18d-504535c50bcd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 770.648496ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/1c65bb5a-b260-4190-b18d-504535c50bcd
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:21:33.882684Z","endpoint":null,"endpoints":[{"id":"b3d8c644-efe6-4819-89a1-9d379811bc34","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"1c65bb5a-b260-4190-b18d-504535c50bcd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.509699ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","private_network_id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"c8772296-f170-44d1-8d24-f1a58de10d94"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-04-17T12:21:46.286815Z","dhcp":{"address":"192.168.1.1","created_at":"2024-04-17T12:21:32.860118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c8772296-f170-44d1-8d24-f1a58de10d94","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:21:32.860118Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","id":"1d4d7090-9d15-4d64-bb08-07013cd4adb2","ipam_config":null,"mac_address":null,"private_network_id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","status":"created","updated_at":"2024-04-17T12:21:46.286815Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.157473468s
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/1d4d7090-9d15-4d64-bb08-07013cd4adb2
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-04-17T12:21:46.286815Z","dhcp":{"address":"192.168.1.1","created_at":"2024-04-17T12:21:32.860118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c8772296-f170-44d1-8d24-f1a58de10d94","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:21:32.860118Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","id":"1d4d7090-9d15-4d64-bb08-07013cd4adb2","ipam_config":null,"mac_address":"02:00:00:13:9C:07","private_network_id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","status":"ready","updated_at":"2024-04-17T12:22:00.150780Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.352264ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/1c65bb5a-b260-4190-b18d-504535c50bcd
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:21:33.882684Z","endpoint":null,"endpoints":[{"id":"b3d8c644-efe6-4819-89a1-9d379811bc34","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"d5acfec9-91e9-4a87-8455-d49a49ca3643","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"1c65bb5a-b260-4190-b18d-504535c50bcd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.526165ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/1c65bb5a-b260-4190-b18d-504535c50bcd/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVSk5YUVFXSjhGcGJ5ZGNLcGtKVE0wL1hRY3ZBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qUXdOREUzTVRJeU5ETTNXaGNOTXpRd05ERTFNVEl5TkRNM1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=1c65bb5a-b260-4190-b18d-504535c50bcd&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.274817ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:27:06.872944Z","gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","id":"40de3baa-2831-4da1-83e7-6951401a0b45","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-04-17T12:27:06.872944Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.186784ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/40de3baa-2831-4da1-83e7-6951401a0b45
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:27:06.872944Z","gateway_id":"2bb832e9-68cd-4758-9a75-a38b155d620c","id":"40de3baa-2831-4da1-83e7-6951401a0b45","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-04-17T12:27:06.872944Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.410191ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/1d4d7090-9d15-4d64-bb08-07013cd4adb2?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 128.365257ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/b3d8c644-efe6-4819-89a1-9d379811bc34
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 245.312303ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/1d4d7090-9d15-4d64-bb08-07013cd4adb2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"1d4d7090-9d15-4d64-bb08-07013cd4adb2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.912923ms
[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/2bb832e9-68cd-4758-9a75-a38b155d620c?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 84.026248ms
[...]
