---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccInstance_PrivateNetworkUpdate","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-05-21T08:14:39.205954Z","custom_routes_propagation_enabled":true,"id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986","is_default":false,"name":"TestAccInstance_PrivateNetworkUpdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-21T08:14:39.205954Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.8555ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c6d6bb39-0a54-408e-93f5-a58ab6af3986
        method: GET
      response:
        body: '{"created_at":"2026-05-21T08:14:39.205954Z","custom_routes_propagation_enabled":true,"id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986","is_default":false,"name":"TestAccInstance_PrivateNetworkUpdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-21T08:14:39.205954Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.563417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-21T08:14:39.502163Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"cc595c06-ef70-49ca-b45a-ca8862a25116","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-21T08:14:39.502163Z","id":"47802034-49a9-4103-b833-ed462dab9cfe","private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.27.164.0/22","updated_at":"2026-05-21T08:14:39.502163Z","vpc_id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986"},{"created_at":"2026-05-21T08:14:39.502163Z","id":"33a38bfb-1ef0-4a94-a7e1-b55b4a91ba31","private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:be89::/64","updated_at":"2026-05-21T08:14:39.502163Z","vpc_id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986"}],"tags":[],"updated_at":"2026-05-21T08:14:39.502163Z","vpc_id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 876.140042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cc595c06-ef70-49ca-b45a-ca8862a25116
        method: GET
      response:
        body: '{"created_at":"2026-05-21T08:14:39.502163Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"cc595c06-ef70-49ca-b45a-ca8862a25116","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-21T08:14:39.502163Z","id":"47802034-49a9-4103-b833-ed462dab9cfe","private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.27.164.0/22","updated_at":"2026-05-21T08:14:39.502163Z","vpc_id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986"},{"created_at":"2026-05-21T08:14:39.502163Z","id":"33a38bfb-1ef0-4a94-a7e1-b55b4a91ba31","private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:be89::/64","updated_at":"2026-05-21T08:14:39.502163Z","vpc_id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986"}],"tags":[],"updated_at":"2026-05-21T08:14:39.502163Z","vpc_id":"c6d6bb39-0a54-408e-93f5-a58ab6af3986"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.29975ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:14:40.776598Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"56d411fd-cfb6-41d3-9347-fceb75141f4e","ip":"172.27.164.2","name":null,"port":5432,"private_network":{"private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","provisioning_mode":"ipam","service_ip":"172.27.164.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"d8a077cc-2c43-44b4-a6d5-c9941b11f100","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.23016425s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8a077cc-2c43-44b4-a6d5-c9941b11f100
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:14:40.776598Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"56d411fd-cfb6-41d3-9347-fceb75141f4e","ip":"172.27.164.2","name":null,"port":5432,"private_network":{"private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","provisioning_mode":"ipam","service_ip":"172.27.164.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"d8a077cc-2c43-44b4-a6d5-c9941b11f100","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.684417ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8a077cc-2c43-44b4-a6d5-c9941b11f100
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:14:40.776598Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"56d411fd-cfb6-41d3-9347-fceb75141f4e","ip":"172.27.164.2","name":null,"port":5432,"private_network":{"private_network_id":"cc595c06-ef70-49ca-b45a-ca8862a25116","provisioning_mode":"ipam","service_ip":"172.27.164.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"d8a077cc-2c43-44b4-a6d5-c9941b11f100","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.2785ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8a077cc-2c43-44b4-a6d5-c9941b11f100/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVWllnbU54VS9aRGZZdHM3V2xkVG8wbUtjN1Jjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHlOeTR4TmpRdU1qQWVGdzB5Ck5qQTFNakV3T0RFMU5EUmFGdzB6TmpBMU1UZ3dPREUxTkRSYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TWpjdU1[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=cc595c06-ef70-49ca-b45a-ca8862a25116&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=d8a077cc-2c43-44b4-a6d5-c9941b11f100&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.27.164.2/22","created_at":"2026-05-21T08:14:41.254765Z","id":"63c1db8d-aa65-463e-a758-308e5a29921e","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"d8a077cc-2c43-44b4-a6d5-c9941b11f100","mac_address":"02:00:00:10:2F:A8","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"47802034-49a9-4103-b833-ed462dab9cfe"},"tags":["managed","scwdbaas"],"updated_at":"2026-05-21T08:15:03.930417Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.569666ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/56d411fd-cfb6-41d3-9347-fceb75141f4e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 256.189959ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"8317152e-3d75-4128-8825-a60e9fdc8a6d","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8a077cc-2c43-44b4-a6d5-c9941b11f100/endpoints
        method: POST
      response:
        body: '{"id":"8575bcbb-ae21-48d1-89ec-27e28a2245c5","ip":"172.27.184.2","name":null,"port":5432,"private_network":{"private_network_id":"8317152e-3d75-4128-8825-a60e9fdc8a6d","provisioning_mode":"ipam","service_ip":"172.27.184.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 835.692708ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8317152e-3d75-4128-8825-a60e9fdc8a6d
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"8317152e-3d75-4128-8825-a60e9fdc8a6d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 247.927333ms
[...]
