---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"test-rdb-instance\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"init_settings\":null,\"volume_type\":\"sbs_5k\",\"volume_size\":10000000000,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"b13c1146-bf5e-41ed-a117-fadd9460435c\",\"name\":\"test-rdb-instance\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:34:26.219775Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 565.676968ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b13c1146-bf5e-41ed-a117-fadd9460435c
    method: GET
  response:
    body: "{\"id\":\"b13c1146-bf5e-41ed-a117-fadd9460435c\",\"name\":\"test-rdb-instance\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:34:26.219775Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.23931ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b13c1146-bf5e-41ed-a117-fadd9460435c
    method: GET
  response:
    body: "{\"id\":\"b13c1146-bf5e-41ed-a117-fadd9460435c\",\"name\":\"test-rdb-instance\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:34:26.219775Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 194.020156ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b13c1146-bf5e-41ed-a117-fadd9460435c
    method: GET
  response:
    body: "{\"id\":\"b13c1146-bf5e-41ed-a117-fadd9460435c\",\"name\":\"test-rdb-instance\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.8.83\",\"port\":28095,\"name\":null,\"id\":\"d522d697-eaa0-461e-b77c-e0269cc5389a\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.8.83\",\"port\":28095,\"name\":null,\"id\":\"d522d697-eaa0-461e-b77c-e0269cc5389a\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:34:26.219775Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.700381ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b13c1146-bf5e-41ed-a117-fadd9460435c/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5RENDQXR5Z0F3SUJBZ0lVQzdWd1I5eGxnQ1pwR2VMak1iMGtZblFGc3Q0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pVeExqRTFPUzQ0TGpnek1CNFhEVEkxCk1EZ3lPREV5TXpZME9Gb1hEVE0xTURneU5qRXlNelkwT0Zvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6VXhMakUxT1M0NE[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-snapshot\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b13c1146-bf5e-41ed-a117-fadd9460435c/snapshots
    method: POST
  response:
    body: "{\"id\":\"b2786af5-669b-4d2e-89b3-886ffcb01fa6\",\"instance_id\":\"b13c1146-bf5e-41ed-a117-fadd9460435c\",\"name\":\"test-snapshot\",\"status\":\"creating\",\"size\":null,\"expires_at\":\"2026-08-28T12:37:28.346926Z\",\"created_at\":\"2025-08-28T12:37:28.346926Z\",\"updated_at\":null,\"instance_name\":\"test-rdb-instance\",\"node_type\":\"db-dev-s\",\"volume_type\":{\"type\":\"sbs_5k\",\"class\":\"sbs\"},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 829.070255ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/b2786af5-669b-4d2e-89b3-886ffcb01fa6
    method: GET
  response:
    body: "{\"id\":\"b2786af5-669b-4d2e-89b3-886ffcb01fa6\",\"instance_id\":\"b13c1146-bf5e-41ed-a117-fadd9460435c\",\"name\":\"test-snapshot\",\"status\":\"creating\",\"size\":null,\"expires_at\":\"2026-08-28T12:37:28.346926Z\",\"created_at\":\"2025-08-28T12:37:28.346926Z\",\"updated_at\":null,\"instance_name\":\"test-rdb-instance\",\"node_type\":\"db-dev-s\",\"volume_type\":{\"type\":\"sbs_5k\",\"class\":\"sbs\"},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.708408ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"instance_name\":\"test-instance-from-snapshot\",\"is_ha_cluster\":false,\"node_type\":\"db-dev-s\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/b2786af5-669b-4d2e-89b3-886ffcb01fa6/create-instance
    method: POST
  response:
    body: "{\"id\":\"0691ba8d-bb1f-46e7-b488-90625dc7f81e\",\"name\":\"test-instance-from-snapshot\",\"organization_id\":\"105bdce1-[...]
[...]
- id: 25
  request:
    host: api.scaleway.com
    form:
      order_by:
      - name_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0691ba8d-bb1f-46e7-b488-90625dc7f81e/users?order_by=name_asc&page=1
    method: GET
  response:
    body: "{\"users\":[{\"name\":\"my_initial_user\",\"is_admin\":true}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.126073ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0691ba8d-bb1f-46e7-b488-90625dc7f81e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"0691ba8d-bb1f-46e7-b488-90625dc7f81e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 438.320912ms
[...]
