---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:26:43.218722Z","dhcp_enabled":true,"id":"b0deb543-f82f-4585-9ec2-fdba54c7f242","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:26:43.218722Z","id":"89a6a16e-44f7-4f60-a818-d12bc83fdc4f","subnet":"172.17.108.0/22","updated_at":"2024-04-17T12:26:43.218722Z"},{"created_at":"2024-04-17T12:26:43.218722Z","id":"1b22d29d-a8f7-4e04-84db-0323d182aa4b","subnet":"fd5f:519c:6d46:1662::/64","updated_at":"2024-04-17T12:26:43.218722Z"}],"tags":[],"updated_at":"2024-04-17T12:26:43.218722Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 565.482719ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b0deb543-f82f-4585-9ec2-fdba54c7f242
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:26:43.218722Z","dhcp_enabled":true,"id":"b0deb543-f82f-4585-9ec2-fdba54c7f242","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:26:43.218722Z","id":"89a6a16e-44f7-4f60-a818-d12bc83fdc4f","subnet":"172.17.108.0/22","updated_at":"2024-04-17T12:26:43.218722Z"},{"created_at":"2024-04-17T12:26:43.218722Z","id":"1b22d29d-a8f7-4e04-84db-0323d182aa4b","subnet":"fd5f:519c:6d46:1662::/64","updated_at":"2024-04-17T12:26:43.218722Z"}],"tags":[],"updated_at":"2024-04-17T12:26:43.218722Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.828137ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"b0deb543-f82f-4585-9ec2-fdba54c7f242","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:44.179335Z","endpoint":null,"endpoints":[{"id":"8b696738-348c-48b1-a1ce-633d84ce74b6","ip":"172.17.108.2","name":null,"port":5432,"private_network":{"private_network_id":"b0deb543-f82f-4585-9ec2-fdba54c7f242","service_ip":"172.17.108.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"4706169c-8d69-4869-b2c8-202d6dfe301e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.021675783s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4706169c-8d69-4869-b2c8-202d6dfe301e
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:44.179335Z","endpoint":null,"endpoints":[{"id":"8b696738-348c-48b1-a1ce-633d84ce74b6","ip":"172.17.108.2","name":null,"port":5432,"private_network":{"private_network_id":"b0deb543-f82f-4585-9ec2-fdba54c7f242","service_ip":"172.17.108.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"4706169c-8d69-4869-b2c8-202d6dfe301e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.169133ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4706169c-8d69-4869-b2c8-202d6dfe301e
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:44.179335Z","endpoint":null,"endpoints":[{"id":"8b696738-348c-48b1-a1ce-633d84ce74b6","ip":"172.17.108.2","name":null,"port":5432,"private_network":{"private_network_id":"b0deb543-f82f-4585-9ec2-fdba54c7f242","service_ip":"172.17.108.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"4706169c-8d69-4869-b2c8-202d6dfe301e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.002723ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4706169c-8d69-4869-b2c8-202d6dfe301e/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVSERsVTFSWGJyNUlPSGl5RTlXa1ZIMXhyQUZjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOeTR4TURndU1qQWVGdzB5Ck5EQTBNVGN4TWpJM05UZGFGdzB6TkRBME1UVXhNakkzTlRkYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRjdU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=4706169c-8d69-4869-b2c8-202d6dfe301e&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.108.2/22","created_at":"2024-04-17T12:26:44.549692Z","id":"db6fea00-bf2d-4f14-9ef8-ae4b22880fd7","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"4706169c-8d69-4869-b2c8-202d6dfe301e","mac_address":"02:00:00:19:E7:BF","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"89a6a16e-44f7-4f60-a818-d12bc83fdc4f"},"tags":["managed","scwdbaas"],"updated_at":"2024-04-17T12:27:26.116644Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.646009ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/8b696738-348c-48b1-a1ce-633d84ce74b6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 213.452253ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"c06ec491-b24e-416b-ab19-f69a81fe6689","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4706169c-8d69-4869-b2c8-202d6dfe301e/endpoints
        method: POST
      response:
        body: '{"id":"3df17e7f-4611-47e0-9080-a8af0ccf8c2f","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"c06ec491-b24e-416b-ab19-f69a81fe6689","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 799.452819ms
[...]
    - id: 121
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4706169c-8d69-4869-b2c8-202d6dfe301e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"4706169c-8d69-4869-b2c8-202d6dfe301e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 71.781334ms
[...]
