---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:51:04.226814Z","dhcp_enabled":true,"id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:51:04.226814Z","id":"8563fe8a-39d4-4e60-944c-be2f258ba16f","private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.100.0/22","updated_at":"2024-10-03T18:51:04.226814Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:51:04.226814Z","id":"17d6cadd-7737-4422-998d-43209c3263b1","private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:14e0::/64","updated_at":"2024-10-03T18:51:04.226814Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:51:04.226814Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 549.930133ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f9321b9e-ee34-4b8f-8812-8809e4ee337c
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:51:04.226814Z","dhcp_enabled":true,"id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T18:51:04.226814Z","id":"8563fe8a-39d4-4e60-944c-be2f258ba16f","private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.100.0/22","updated_at":"2024-10-03T18:51:04.226814Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T18:51:04.226814Z","id":"17d6cadd-7737-4422-998d-43209c3263b1","private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:14e0::/64","updated_at":"2024-10-03T18:51:04.226814Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T18:51:04.226814Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.762796ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T18:51:05.322856Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c1652543-c3eb-40d4-b432-cf9924615129","ip":"172.16.100.2","name":null,"port":5432,"private_network":{"private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","provisioning_mode":"ipam","service_ip":"172.16.100.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"6771f57f-b7d5-49f4-9ad0-36515bcccde0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.772356056s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6771f57f-b7d5-49f4-9ad0-36515bcccde0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T18:51:05.322856Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c1652543-c3eb-40d4-b432-cf9924615129","ip":"172.16.100.2","name":null,"port":5432,"private_network":{"private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","provisioning_mode":"ipam","service_ip":"172.16.100.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"6771f57f-b7d5-49f4-9ad0-36515bcccde0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.116143ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6771f57f-b7d5-49f4-9ad0-36515bcccde0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T18:51:05.322856Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c1652543-c3eb-40d4-b432-cf9924615129","ip":"172.16.100.2","name":null,"port":5432,"private_network":{"private_network_id":"f9321b9e-ee34-4b8f-8812-8809e4ee337c","provisioning_mode":"ipam","service_ip":"172.16.100.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"6771f57f-b7d5-49f4-9ad0-36515bcccde0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.631103ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6771f57f-b7d5-49f4-9ad0-36515bcccde0/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVWmZGbnQ5UWx6Mnc2c0o0OS9FQmJCbWJhNVEwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR4TURBdU1qQWVGdzB5Ck5ERXdNRE14T0RVeU1qSmFGdzB6TkRFd01ERXhPRFV5TWpKYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=f9321b9e-ee34-4b8f-8812-8809e4ee337c&resource_id=6771f57f-b7d5-49f4-9ad0-36515bcccde0&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.100.2/22","created_at":"2024-10-03T18:51:06.039421Z","id":"cb128b3a-252c-4038-890a-6973b93faa00","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"6771f57f-b7d5-49f4-9ad0-36515bcccde0","mac_address":"02:00:00:13:26:28","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"8563fe8a-39d4-4e60-944c-be2f258ba16f"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T18:51:49.405513Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.419193ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/c1652543-c3eb-40d4-b432-cf9924615129
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 180.387462ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"652654d4-374d-4171-862f-3730184215d3","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6771f57f-b7d5-49f4-9ad0-36515bcccde0/endpoints
        method: POST
      response:
        body: '{"id":"14b3fdeb-21f8-4a18-9747-7b1780f29e73","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"652654d4-374d-4171-862f-3730184215d3","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.19927382s
[...]
    - id: 121
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6771f57f-b7d5-49f4-9ad0-36515bcccde0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"6771f57f-b7d5-49f4-9ad0-36515bcccde0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 78.434253ms
[...]
