---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccInstance_PrivateNetworkUpdate","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:15:32.080984Z","custom_routes_propagation_enabled":true,"id":"b13bb522-a049-49f6-b605-a8e15a3bc405","is_default":false,"name":"TestAccInstance_PrivateNetworkUpdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:15:32.080984Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.258792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b13bb522-a049-49f6-b605-a8e15a3bc405
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:15:32.080984Z","custom_routes_propagation_enabled":true,"id":"b13bb522-a049-49f6-b605-a8e15a3bc405","is_default":false,"name":"TestAccInstance_PrivateNetworkUpdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:15:32.080984Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.170042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"b13bb522-a049-49f6-b605-a8e15a3bc405","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:15:32.197746Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:15:32.197746Z","id":"081e4df1-29e8-4f3b-a42a-7a536a299032","private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.148.0/22","updated_at":"2025-09-30T09:15:32.197746Z","vpc_id":"b13bb522-a049-49f6-b605-a8e15a3bc405"},{"created_at":"2025-09-30T09:15:32.197746Z","id":"f7dffecc-5db5-4ae6-9ef5-a449d1d4e476","private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:20ff::/64","updated_at":"2025-09-30T09:15:32.197746Z","vpc_id":"b13bb522-a049-49f6-b605-a8e15a3bc405"}],"tags":[],"updated_at":"2025-09-30T09:15:32.197746Z","vpc_id":"b13bb522-a049-49f6-b605-a8e15a3bc405"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 624.91975ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b7e53fcf-2583-4395-aa1c-ccf531defaa1
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:15:32.197746Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:15:32.197746Z","id":"081e4df1-29e8-4f3b-a42a-7a536a299032","private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.148.0/22","updated_at":"2025-09-30T09:15:32.197746Z","vpc_id":"b13bb522-a049-49f6-b605-a8e15a3bc405"},{"created_at":"2025-09-30T09:15:32.197746Z","id":"f7dffecc-5db5-4ae6-9ef5-a449d1d4e476","private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:20ff::/64","updated_at":"2025-09-30T09:15:32.197746Z","vpc_id":"b13bb522-a049-49f6-b605-a8e15a3bc405"}],"tags":[],"updated_at":"2025-09-30T09:15:32.197746Z","vpc_id":"b13bb522-a049-49f6-b605-a8e15a3bc405"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.423375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-09-30T09:15:33.219419Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3500397c-1c20-43fe-84b4-d69e0e8ba197","ip":"172.17.148.2","name":null,"port":5432,"private_network":{"private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","provisioning_mode":"ipam","service_ip":"172.17.148.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"2efbdf89-ac48-421c-974e-e99e531b8327","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.147974917s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2efbdf89-ac48-421c-974e-e99e531b8327
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-09-30T09:15:33.219419Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3500397c-1c20-43fe-84b4-d69e0e8ba197","ip":"172.17.148.2","name":null,"port":5432,"private_network":{"private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","provisioning_mode":"ipam","service_ip":"172.17.148.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"2efbdf89-ac48-421c-974e-e99e531b8327","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.961292ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2efbdf89-ac48-421c-974e-e99e531b8327
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-09-30T09:15:33.219419Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3500397c-1c20-43fe-84b4-d69e0e8ba197","ip":"172.17.148.2","name":null,"port":5432,"private_network":{"private_network_id":"b7e53fcf-2583-4395-aa1c-ccf531defaa1","provisioning_mode":"ipam","service_ip":"172.17.148.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"2efbdf89-ac48-421c-974e-e99e531b8327","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.859833ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2efbdf89-ac48-421c-974e-e99e531b8327/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVRUNuZTdKaGNZMCs0YVNmb3lJS1pVME1rZGFJd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOeTR4TkRndU1qQWVGdzB5Ck5UQTVNekF3T1RFMk5EUmFGdzB6TlRBNU1qZ3dPVEUyTkRSYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRjdU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=b7e53fcf-2583-4395-aa1c-ccf531defaa1&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=2efbdf89-ac48-421c-974e-e99e531b8327&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.148.2/22","created_at":"2025-09-30T09:15:33.702022Z","id":"81d262ee-34cb-438f-9cde-f9c66cde9826","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"2efbdf89-ac48-421c-974e-e99e531b8327","mac_address":"02:00:00:1A:AD:52","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"081e4df1-29e8-4f3b-a42a-7a536a299032"},"tags":["managed","scwdbaas"],"updated_at":"2025-09-30T09:15:56.956292Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.574625ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/3500397c-1c20-43fe-84b4-d69e0e8ba197
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 495.839ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"f54a1a22-0a4f-4c20-ad4b-fbb49022638d","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2efbdf89-ac48-421c-974e-e99e531b8327/endpoints
        method: POST
      response:
        body: '{"id":"954c094c-be4c-4461-a2f7-12daa1eac273","ip":"172.17.172.2","name":null,"port":5432,"private_network":{"private_network_id":"f54a1a22-0a4f-4c20-ad4b-fbb49022638d","provisioning_mode":"ipam","service_ip":"172.17.172.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 777.965542ms
[...]
    - id: 125
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2efbdf89-ac48-421c-974e-e99e531b8327
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"2efbdf89-ac48-421c-974e-e99e531b8327","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 153.255042ms
[...]
