---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"test-rdb-engine-upgrade","engine":"PostgreSQL-16","user_name":"test_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","disable_backup":true,"tags":["terraform-test","engine-upgrade"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-23T14:15:44.743612Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-16","high_availability_mode":"disabled","id":"35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-engine-upgrade","node_type":"db-dev-s","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","engine-upgrade"],"upgradable_version":[{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","minor_version":"17.11","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 953.11525ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-23T14:15:44.743612Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"Postgr[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-23T14:15:44.743612Z","encryption":{"enabled":false},"endpoint":{"id":"45f827c3-c240-4cb8-8ba9-0a5a717a0777","ip":"195.154.68.173","load_balancer":{},"name":null,"port":9354},"endpoints":[{"id":"45f827c3-c240-4cb8-8ba9-0a5a717a0777","ip":"195.154.68.173","load_balancer":{},"name":null,"port":9354}],"engine":"PostgreSQL-16","high_availability_mode":"disabled","id":"35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-engine-upgrade","node_type":"db-dev-s","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","engine-upgrade"],"upgradable_version":[{"id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","minor_version":"17.11","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 221.198625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVTWxpUmd0Y2hoZ3VqTlJheVd4OXZ2ZHNSYTIwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFNU5TNHhOVFF1TmpndU1UY3pNQjRYCkRUSTJNRGt5TXpFME1UZ3hPVm9YRFRNMk1Ea3lNREUwTVRneE9Wb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakU1TlM0eE5[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"major_upgrade_workflow":{"upgradable_version_id":"16903b5b-dfe2-4a17-b741-46ebb22e1222","with_endpoints":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2/upgrade
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-23T14:18:50.389659Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"Pos[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2/acls?page=1
        method: GET
      response:
        body: '{"rules":[{"action":"allow","description":"Allow All","direction":"inbound","ip":"0.0.0.0/0","port":0,"protocol":"tcp"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 499.020584ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"rules":[{"ip":"0.0.0.0/0","description":"Allow All"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a0a2c649-2574-4b54-9335-1b33c7f50161/acls
        method: PUT
      response:
        body: '{"rules":[{"action":"allow","description":"Allow All","direction":"inbound","ip":"0.0.0.0/0","port":9354,"protocol":"tcp"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 541.076334ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"35cbe4d1-66ec-416f-9b16-79d8b2d7a2e2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 271.5255ms
[...]
