---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:26:38.036304Z","dhcp_enabled":true,"id":"f66351ff-459b-44ba-810e-5ddb8ff7e32f","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-17T12:26:38.036304Z","id":"2d3cc013-d927-4f18-b01d-2ff39cd54743","subnet":"172.16.8.0/22","updated_at":"2024-04-17T12:26:38.036304Z"},{"created_at":"2024-04-17T12:26:38.036304Z","id":"910ecce6-2016-4278-9140-ea68ff5eaba2","subnet":"fd5c:d510:d730:56d1::/64","updated_at":"2024-04-17T12:26:38.036304Z"}],"tags":[],"updated_at":"2024-04-17T12:26:38.036304Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.553635ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/f66351ff-459b-44ba-810e-5ddb8ff7e32f
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:26:38.036304Z","dhcp_enabled":true,"id":"f66351ff-459b-44ba-810e-5ddb8ff7e32f","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-04-17T12:26:38.036304Z","id":"2d3cc013-d927-4f18-b01d-2ff39cd54743","subnet":"172.16.8.0/22","updated_at":"2024-04-17T12:26:38.036304Z"},{"created_at":"2024-04-17T12:26:38.036304Z","id":"910ecce6-2016-4278-9140-ea68ff5eaba2","subnet":"fd5c:d510:d730:56d1::/64","updated_at":"2024-04-17T12:26:38.036304Z"}],"tags":[],"updated_at":"2024-04-17T12:26:38.036304Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.72768ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"f66351ff-459b-44ba-810e-5ddb8ff7e32f","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:40.844777Z","endpoint":null,"endpoints":[{"id":"aedeb39f-b086-49fd-bd31-c7f3e7a7434d","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f66351ff-459b-44ba-810e-5ddb8ff7e32f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"b5d0c40f-5a37-487b-9b0c-b98265f49f8a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.001086853s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b5d0c40f-5a37-487b-9b0c-b98265f49f8a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:40.844777Z","endpoint":null,"endpoints":[{"id":"aedeb39f-b086-49fd-bd31-c7f3e7a7434d","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f66351ff-459b-44ba-810e-5ddb8ff7e32f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"b5d0c40f-5a37-487b-9b0c-b98265f49f8a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.957329ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b5d0c40f-5a37-487b-9b0c-b98265f49f8a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:40.844777Z","endpoint":null,"endpoints":[{"id":"aedeb39f-b086-49fd-bd31-c7f3e7a7434d","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f66351ff-459b-44ba-810e-5ddb8ff7e32f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"b5d0c40f-5a37-487b-9b0c-b98265f49f8a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.780898ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b5d0c40f-5a37-487b-9b0c-b98265f49f8a/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVYkRSMmZncm1wdmdUejBpWW1XdnErajkxdHpvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5EQTBNVGN4TWpJM05EVmFGdzB6TkRBME1UVXhNakkzTkRWYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=b5d0c40f-5a37-487b-9b0c-b98265f49f8a&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.223002ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/aedeb39f-b086-49fd-bd31-c7f3e7a7434d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 200.01074ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"20acd31e-1ea7-464a-ae38-dc4abbf9dd64","service_ip":"192.168.1.254/24"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b5d0c40f-5a37-487b-9b0c-b98265f49f8a/endpoints
        method: POST
      response:
        body: '{"id":"38af0655-ca89-402e-9650-53ad113f65d8","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"20acd31e-1ea7-464a-ae38-dc4abbf9dd64","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 899.313627ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-04-17T12:30:53.962285Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ec15a6ce-7fd8-4a23-befc-cb185402541e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:30:53.962285Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.495562ms
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/ec15a6ce-7fd8-4a23-befc-cb185402541e
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-04-17T12:30:53.962285Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ec15a6ce-7fd8-4a23-befc-cb185402541e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:30:53.962285Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.324683ms
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.167.39","created_at":"2024-04-17T12:30:54.634389Z","gateway_id":null,"id":"36c3cd18-2945-4c4c-a1b0-7a745d6d74aa","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:30:54.634389Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 758.887388ms
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/36c3cd18-2945-4c4c-a1b0-7a745d6d74aa
        method: GET
      response:
        body: '{"address":"51.158.167.39","created_at":"2024-04-17T12:30:54.634389Z","gateway_id":null,"id":"36c3cd18-2945-4c4c-a1b0-7a745d6d74aa","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:30:54.634389Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.077746ms
    - id: 55
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"36c3cd18-2945-4c4c-a1b0-7a745d6d74aa","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T12:30:54.837307Z","gateway_networks":[],"id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","ip":{"address":"51.158.167.39","created_at":"2024-04-17T12:30:54.634389Z","gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","id":"36c3cd18-2945-4c4c-a1b0-7a745d6d74aa","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:30:54.634389Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-04-17T12:30:54.837307Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.123657ms
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-04-17T12:30:54.837307Z","gateway_networks":[],"id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","ip":{"address":"51.158.167.39","created_at":"2024-04-17T12:30:54.634389Z","gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","id":"36c3cd18-2945-4c4c-a1b0-7a745d6d74aa","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"39-167-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-04-17T12:30:54.634389Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-04-17T12:30:54.897014Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.61976ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","private_network_id":"20acd31e-1ea7-464a-ae38-dc4abbf9dd64","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"ec15a6ce-7fd8-4a23-befc-cb185402541e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-04-17T12:31:12.734511Z","dhcp":{"address":"192.168.1.1","created_at":"2024-04-17T12:30:53.962285Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ec15a6ce-7fd8-4a23-befc-cb185402541e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:30:53.962285Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","id":"9ed5a9e0-6835-4ddf-9486-cc83a83435b6","ipam_config":null,"mac_address":null,"private_network_id":"20acd31e-1ea7-464a-ae38-dc4abbf9dd64","status":"created","updated_at":"2024-04-17T12:31:12.734511Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.407652893s
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/9ed5a9e0-6835-4ddf-9486-cc83a83435b6
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-04-17T12:31:12.734511Z","dhcp":{"address":"192.168.1.1","created_at":"2024-04-17T12:30:53.962285Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ec15a6ce-7fd8-4a23-befc-cb185402541e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-04-17T12:30:53.962285Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","id":"9ed5a9e0-6835-4ddf-9486-cc83a83435b6","ipam_config":null,"mac_address":"02:00:00:13:9C:10","private_network_id":"20acd31e-1ea7-464a-ae38-dc4abbf9dd64","status":"ready","updated_at":"2024-04-17T12:31:24.303534Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.762777ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:31:28.751112Z","gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","id":"7d4f4863-577a-464b-9b5e-897b3c912f1e","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-04-17T12:31:28.751112Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.800164ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/7d4f4863-577a-464b-9b5e-897b3c912f1e
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:31:28.751112Z","gateway_id":"994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd","id":"7d4f4863-577a-464b-9b5e-897b3c912f1e","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-04-17T12:31:28.751112Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.651151ms
[...]
    - id: 107
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/9ed5a9e0-6835-4ddf-9486-cc83a83435b6?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 107.66241ms
[...]
    - id: 115
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/9ed5a9e0-6835-4ddf-9486-cc83a83435b6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"9ed5a9e0-6835-4ddf-9486-cc83a83435b6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.551763ms
[...]
    - id: 119
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/994a6d1e-fd8e-4bf6-81ac-ab9180ff9abd?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.49991ms
[...]
