---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T19:15:24.141182Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"79ec29b0-c686-4f84-8135-29e5a9d14c6f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:15:24.141182Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.270227ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/79ec29b0-c686-4f84-8135-29e5a9d14c6f
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T19:15:24.141182Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"79ec29b0-c686-4f84-8135-29e5a9d14c6f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:15:24.141182Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.170732ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.116.2","created_at":"2024-10-03T19:15:24.802169Z","gateway_id":null,"id":"1bce9690-a896-4f15-a83b-6d645dae8f1e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:15:24.802169Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 757.243735ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T19:15:24.255981Z","dhcp_enabled":true,"id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-03T19:15:24.255981Z","id":"863f6548-c0a7-4c54-81c8-cc06b8934f87","private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2024-10-03T19:15:24.255981Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"},{"created_at":"2024-10-03T19:15:24.255981Z","id":"78788d5c-0b41-4a3b-92c3-f23fcf7ab19b","private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:30a6::/64","updated_at":"2024-10-03T19:15:24.255981Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}],"tags":[],"updated_at":"2024-10-03T19:15:24.255981Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 765.407319ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/1bce9690-a896-4f15-a83b-6d645dae8f1e
        method: GET
      response:
        body: '{"address":"51.15.116.2","created_at":"2024-10-03T19:15:24.802169Z","gateway_id":null,"id":"1bce9690-a896-4f15-a83b-6d645dae8f1e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:15:24.802169Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.196015ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/8c76f4a4-cbcc-4e18-819a-8083ccaad0c5
        method: GET
      response:
        body: '{"created_at":"2024-10-03T19:15:24.255981Z","dhcp_enabled":true,"id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-03T19:15:24.255981Z","id":"863f6548-c0a7-4c54-81c8-cc06b8934f87","private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2024-10-03T19:15:24.255981Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"},{"created_at":"2024-10-03T19:15:24.255981Z","id":"78788d5c-0b41-4a3b-92c3-f23fcf7ab19b","private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:30a6::/64","updated_at":"2024-10-03T19:15:24.255981Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}],"tags":[],"updated_at":"2024-10-03T19:15:24.255981Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.204455ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"1bce9690-a896-4f15-a83b-6d645dae8f1e","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T19:15:25.002423Z","gateway_networks":[],"id":"dd4c7325-2773-4102-84cb-b83627d6f006","ip":{"address":"51.15.116.2","created_at":"2024-10-03T19:15:24.802169Z","gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","id":"1bce9690-a896-4f15-a83b-6d645dae8f1e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:15:24.802169Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-03T19:15:25.002423Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.892418ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/dd4c7325-2773-4102-84cb-b83627d6f006
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T19:15:25.002423Z","gateway_networks":[],"id":"dd4c7325-2773-4102-84cb-b83627d6f006","ip":{"address":"51.15.116.2","created_at":"2024-10-03T19:15:24.802169Z","gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","id":"1bce9690-a896-4f15-a83b-6d645dae8f1e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T19:15:24.802169Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-03T19:15:25.062796Z","upstream_dns_servers":[],"version":"0.6.7","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.452569ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:25.328819Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"631a3215-9a88-4208-92ed-5313acbbe830","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"50adf802-9185-4548-b45e-c2d53b9a4c1a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 875.692578ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/50adf802-9185-4548-b45e-c2d53b9a4c1a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:25.328819Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"631a3215-9a88-4208-92ed-5313acbbe830","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"50adf802-9185-4548-b45e-c2d53b9a4c1a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.94201ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"79ec29b0-c686-4f84-8135-29e5a9d14c6f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-03T19:15:37.529127Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T19:15:24.141182Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"79ec29b0-c686-4f84-8135-29e5a9d14c6f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:15:24.141182Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","id":"db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa","ipam_config":null,"mac_address":null,"private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","status":"created","updated_at":"2024-10-03T19:15:37.529127Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.420108578s
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-03T19:15:37.529127Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T19:15:24.141182Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"79ec29b0-c686-4f84-8135-29e5a9d14c6f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T19:15:24.141182Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","id":"db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa","ipam_config":null,"mac_address":"02:00:00:17:F1:81","private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","status":"ready","updated_at":"2024-10-03T19:15:49.994735Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.453357ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=8c76f4a4-cbcc-4e18-819a-8083ccaad0c5&resource_id=db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.1/24","created_at":"2024-10-03T19:15:37.466327Z","id":"cb1b408f-7ab3-4936-93f0-f14c0962a933","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","resource":{"id":"db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa","mac_address":"02:00:00:17:F1:81","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"863f6548-c0a7-4c54-81c8-cc06b8934f87"},"tags":[],"updated_at":"2024-10-03T19:15:38.278829Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.894328ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/50adf802-9185-4548-b45e-c2d53b9a4c1a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:25.328819Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"631a3215-9a88-4208-92ed-5313acbbe830","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"8c76f4a4-cbcc-4e18-819a-8083ccaad0c5","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"50adf802-9185-4548-b45e-c2d53b9a4c1a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.8513ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/50adf802-9185-4548-b45e-c2d53b9a4c1a/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVUklNdkpoQ0pNYmRVTUpWM0JMMU15UWhteUJRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qUXhNREF6TVRreE5qTXhXaGNOTXpReE1EQXhNVGt4TmpNeFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=8c76f4a4-cbcc-4e18-819a-8083ccaad0c5&resource_id=50adf802-9185-4548-b45e-c2d53b9a4c1a&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.861538ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-10-03T19:18:27.267286Z","gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","id":"8b322943-237f-4220-99c2-66b0dfeb5c77","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-03T19:18:27.267286Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.001898ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/8b322943-237f-4220-99c2-66b0dfeb5c77
        method: GET
      response:
        body: '{"created_at":"2024-10-03T19:18:27.267286Z","gateway_id":"dd4c7325-2773-4102-84cb-b83627d6f006","id":"8b322943-237f-4220-99c2-66b0dfeb5c77","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-03T19:18:27.267286Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.83434ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 115.383325ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/631a3215-9a88-4208-92ed-5313acbbe830
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 305.688961ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"db92a0cd-bdbf-4cbc-88a5-4f7ea7eab4fa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.783863ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/dd4c7325-2773-4102-84cb-b83627d6f006?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 94.064953ms
[...]
