---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-10-22T13:15:30.781606Z","id":"75a45c10-8ca0-49a7-a062-c91c5148edba","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2024-10-22T13:15:30.781606Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.818864ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/75a45c10-8ca0-49a7-a062-c91c5148edba
        method: GET
      response:
        body: '{"created_at":"2024-10-22T13:15:30.781606Z","id":"75a45c10-8ca0-49a7-a062-c91c5148edba","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2024-10-22T13:15:30.781606Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.62844ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"75a45c10-8ca0-49a7-a062-c91c5148edba"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-22T13:15:31.020207Z","dhcp_enabled":true,"id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-22T13:15:31.020207Z","id":"f5490a24-d55f-4f89-8f17-ee00a2cbc131","private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","updated_at":"2024-10-22T13:15:31.020207Z","vpc_id":"75a45c10-8ca0-49a7-a062-c91c5148edba"},{"created_at":"2024-10-22T13:15:31.020207Z","id":"bb671a8a-d699-4b3f-beee-e81a34d372e3","private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:e950::/64","updated_at":"2024-10-22T13:15:31.020207Z","vpc_id":"75a45c10-8ca0-49a7-a062-c91c5148edba"}],"tags":[],"updated_at":"2024-10-22T13:15:31.020207Z","vpc_id":"75a45c10-8ca0-49a7-a062-c91c5148edba"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 528.989768ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/61afa66f-80bf-4f31-9b28-649b0c3bc9b3
        method: GET
      response:
        body: '{"created_at":"2024-10-22T13:15:31.020207Z","dhcp_enabled":true,"id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-22T13:15:31.020207Z","id":"f5490a24-d55f-4f89-8f17-ee00a2cbc131","private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","updated_at":"2024-10-22T13:15:31.020207Z","vpc_id":"75a45c10-8ca0-49a7-a062-c91c5148edba"},{"created_at":"2024-10-22T13:15:31.020207Z","id":"bb671a8a-d699-4b3f-beee-e81a34d372e3","private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:e950::/64","updated_at":"2024-10-22T13:15:31.020207Z","vpc_id":"75a45c10-8ca0-49a7-a062-c91c5148edba"}],"tags":[],"updated_at":"2024-10-22T13:15:31.020207Z","vpc_id":"75a45c10-8ca0-49a7-a062-c91c5148edba"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.952354ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.179.16","created_at":"2024-10-22T13:15:31.506029Z","gateway_id":null,"id":"39fec5a0-53d9-405b-af02-17948f96980b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"16-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-22T13:15:31.506029Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 836.565657ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/39fec5a0-53d9-405b-af02-17948f96980b
        method: GET
      response:
        body: '{"address":"51.158.179.16","created_at":"2024-10-22T13:15:31.506029Z","gateway_id":null,"id":"39fec5a0-53d9-405b-af02-17948f96980b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"16-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-22T13:15:31.506029Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.651083ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"39fec5a0-53d9-405b-af02-17948f96980b","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-22T13:15:31.685262Z","gateway_networks":[],"id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","ip":{"address":"51.158.179.16","created_at":"2024-10-22T13:15:31.506029Z","gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","id":"39fec5a0-53d9-405b-af02-17948f96980b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"16-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-22T13:15:31.506029Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-22T13:15:31.685262Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.768355ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8d9f16f0-1b57-4786-a415-2b7dec3ef447
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-22T13:15:31.685262Z","gateway_networks":[],"id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","ip":{"address":"51.158.179.16","created_at":"2024-10-22T13:15:31.506029Z","gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","id":"39fec5a0-53d9-405b-af02-17948f96980b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"16-179-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-22T13:15:31.506029Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-22T13:15:31.733308Z","upstream_dns_servers":[],"version":"0.7.2","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.332557ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-22T13:15:31.870898Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"db683a6d-0998-4f25-aa32-312b8403fa6b","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"61b54824-9439-4688-b81d-83b5eb2c2400","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 804.001544ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/61b54824-9439-4688-b81d-83b5eb2c2400
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-22T13:15:31.870898Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"db683a6d-0998-4f25-aa32-312b8403fa6b","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"61b54824-9439-4688-b81d-83b5eb2c2400","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.369769ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":"192.168.1.2/24","created_at":"2024-10-22T13:15:37.223115Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","id":"90d980f9-ebe2-47f5-a479-b403babe38a0","ipam_config":{"ipam_ip_id":"e901afd7-eaf1-45b0-b63a-5cb40c5ee6e6","push_default_route":true},"mac_address":null,"private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","status":"created","updated_at":"2024-10-22T13:15:37.223115Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 376.010105ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/90d980f9-ebe2-47f5-a479-b403babe38a0
        method: GET
      response:
        body: '{"address":"192.168.1.2/24","created_at":"2024-10-22T13:15:37.223115Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","id":"90d980f9-ebe2-47f5-a479-b403babe38a0","ipam_config":{"ipam_ip_id":"e901afd7-eaf1-45b0-b63a-5cb40c5ee6e6","push_default_route":true},"mac_address":"02:00:00:19:F7:18","private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","status":"ready","updated_at":"2024-10-22T13:15:45.871237Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.543979ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=90d980f9-ebe2-47f5-a479-b403babe38a0&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2024-10-22T13:15:37.163982Z","id":"e901afd7-eaf1-45b0-b63a-5cb40c5ee6e6","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","resource":{"id":"90d980f9-ebe2-47f5-a479-b403babe38a0","mac_address":"02:00:00:19:F7:18","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"f5490a24-d55f-4f89-8f17-ee00a2cbc131"},"tags":[],"updated_at":"2024-10-22T13:15:37.754798Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.545604ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/61b54824-9439-4688-b81d-83b5eb2c2400
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-22T13:15:31.870898Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"db683a6d-0998-4f25-aa32-312b8403fa6b","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"61afa66f-80bf-4f31-9b28-649b0c3bc9b3","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"61b54824-9439-4688-b81d-83b5eb2c2400","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.430085ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/61b54824-9439-4688-b81d-83b5eb2c2400/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVSmdLYlFiSDRzM2xKbmZYMm1KZUs2N1NBOTlZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qUXhNREl5TVRNeE5qTTJXaGNOTXpReE1ESXdNVE14TmpNMldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-10-22T13:19:03.976727Z","gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","id":"79c4fd87-1845-4590-aea6-5fe57f98c406","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-22T13:19:03.976727Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.987256ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/79c4fd87-1845-4590-aea6-5fe57f98c406
        method: GET
      response:
        body: '{"created_at":"2024-10-22T13:19:03.976727Z","gateway_id":"8d9f16f0-1b57-4786-a415-2b7dec3ef447","id":"79c4fd87-1845-4590-aea6-5fe57f98c406","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-22T13:19:03.976727Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.91769ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/90d980f9-ebe2-47f5-a479-b403babe38a0?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 84.782276ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/db683a6d-0998-4f25-aa32-312b8403fa6b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 255.183366ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/90d980f9-ebe2-47f5-a479-b403babe38a0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"90d980f9-ebe2-47f5-a479-b403babe38a0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.519192ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8d9f16f0-1b57-4786-a415-2b7dec3ef447?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 86.33281ms
[...]
