---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:45:36.577289Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"793dc253-54ba-4634-8693-511977de1571","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:45:36.577289Z","id":"9da48d40-d974-4cdf-b0fb-1a87814c4644","private_network_id":"793dc253-54ba-4634-8693-511977de1571","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.52.0/22","updated_at":"2025-06-30T15:45:36.577289Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:45:36.577289Z","id":"cc3f4c10-89c5-412f-b64f-963c792cdf93","private_network_id":"793dc253-54ba-4634-8693-511977de1571","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3503::/64","updated_at":"2025-06-30T15:45:36.577289Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:45:36.577289Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.385833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/793dc253-54ba-4634-8693-511977de1571
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:45:36.577289Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"793dc253-54ba-4634-8693-511977de1571","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:45:36.577289Z","id":"9da48d40-d974-4cdf-b0fb-1a87814c4644","private_network_id":"793dc253-54ba-4634-8693-511977de1571","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.52.0/22","updated_at":"2025-06-30T15:45:36.577289Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:45:36.577289Z","id":"cc3f4c10-89c5-412f-b64f-963c792cdf93","private_network_id":"793dc253-54ba-4634-8693-511977de1571","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3503::/64","updated_at":"2025-06-30T15:45:36.577289Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:45:36.577289Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.770167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-update","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"793dc253-54ba-4634-8693-511977de1571","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:45:37.438594Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"08787911-7f63-4e39-9bb7-f6dc428b2fdb","ip":"172.16.52.2","name":null,"port":5432,"private_network":{"private_network_id":"793dc253-54ba-4634-8693-511977de1571","provisioning_mode":"ipam","service_ip":"172.16.52.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"ab898779-65a3-4dd0-ac28-2d294e0e2ec9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.896414666s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab898779-65a3-4dd0-ac28-2d294e0e2ec9
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:45:37.438594Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"08787911-7f63-4e39-9bb7-f6dc428b2fdb","ip":"172.16.52.2","name":null,"port":5432,"private_network":{"private_network_id":"793dc253-54ba-4634-8693-511977de1571","provisioning_mode":"ipam","service_ip":"172.16.52.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"ab898779-65a3-4dd0-ac28-2d294e0e2ec9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.263959ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab898779-65a3-4dd0-ac28-2d294e0e2ec9
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:45:37.438594Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"08787911-7f63-4e39-9bb7-f6dc428b2fdb","ip":"172.16.52.2","name":null,"port":5432,"private_network":{"private_network_id":"793dc253-54ba-4634-8693-511977de1571","provisioning_mode":"ipam","service_ip":"172.16.52.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"ab898779-65a3-4dd0-ac28-2d294e0e2ec9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.444459ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab898779-65a3-4dd0-ac28-2d294e0e2ec9/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVSnloNCtwUUY5VktWT1RWWnhMc3czckp0WUJnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTQxTWk0eU1CNFhEVEkxCk1EWXpNREUxTkRjek1sb1hEVE0xTURZeU9ERTFORGN6TWxvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0MU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=793dc253-54ba-4634-8693-511977de1571&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=ab898779-65a3-4dd0-ac28-2d294e0e2ec9&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.52.2/22","created_at":"2025-06-30T15:45:39.082331Z","id":"e0941ed0-ca65-4182-8bd6-abd4c98e7c94","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"ab898779-65a3-4dd0-ac28-2d294e0e2ec9","mac_address":"02:00:00:1B:57:FB","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"9da48d40-d974-4cdf-b0fb-1a87814c4644"},"tags":["managed","scwdbaas"],"updated_at":"2025-06-30T15:46:13.782219Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.074833ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/08787911-7f63-4e39-9bb7-f6dc428b2fdb
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 196.335625ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"04ed2bfc-c084-405a-8658-8df7dfa42e05","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab898779-65a3-4dd0-ac28-2d294e0e2ec9/endpoints
        method: POST
      response:
        body: '{"id":"c6d98bfb-7dcb-446c-a5e6-ed230d0e21e9","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"04ed2bfc-c084-405a-8658-8df7dfa42e05","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.772778042s
[...]
    - id: 116
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ab898779-65a3-4dd0-ac28-2d294e0e2ec9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"ab898779-65a3-4dd0-ac28-2d294e0e2ec9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.729125ms
[...]
