---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-25T17:34:15.513864Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-11-25T17:34:15.513864Z","id":"e8f64339-4f0a-4a2a-bef5-2f50f4bd680b","private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.164.0/22","updated_at":"2025-11-25T17:34:15.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-11-25T17:34:15.513864Z","id":"076c49f4-72c2-4986-8db3-8284b89c10ea","private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bb7c::/64","updated_at":"2025-11-25T17:34:15.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-11-25T17:34:15.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.321356625s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e8473e76-2980-44aa-9406-dedf0b12f0c7
        method: GET
      response:
        body: '{"created_at":"2025-11-25T17:34:15.513864Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-11-25T17:34:15.513864Z","id":"e8f64339-4f0a-4a2a-bef5-2f50f4bd680b","private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.164.0/22","updated_at":"2025-11-25T17:34:15.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-11-25T17:34:15.513864Z","id":"076c49f4-72c2-4986-8db3-8284b89c10ea","private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bb7c::/64","updated_at":"2025-11-25T17:34:15.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-11-25T17:34:15.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.569083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-endpoints","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-25T17:34:16.771872Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"fd7a2e0f-e31f-47e5-b37d-cb6b9a119d67","ip":"172.18.164.2","name":null,"port":5432,"private_network":{"private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","provisioning_mode":"ipam","service_ip":"172.18.164.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"ad0121af-f7b8-4840-ac09-35f87de0744f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.044171916s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ad0121af-f7b8-4840-ac09-35f87de0744f
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-25T17:34:16.771872Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"fd7a2e0f-e31f-47e5-b37d-cb6b9a119d67","ip":"172.18.164.2","name":null,"port":5432,"private_network":{"private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","provisioning_mode":"ipam","service_ip":"172.18.164.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"ad0121af-f7b8-4840-ac09-35f87de0744f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.1905ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ad0121af-f7b8-4840-ac09-35f87de0744f
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-25T17:34:16.771872Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"fd7a2e0f-e31f-47e5-b37d-cb6b9a119d67","ip":"172.18.164.2","name":null,"port":5432,"private_network":{"private_network_id":"e8473e76-2980-44aa-9406-dedf0b12f0c7","provisioning_mode":"ipam","service_ip":"172.18.164.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"ad0121af-f7b8-4840-ac09-35f87de0744f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.072292ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ad0121af-f7b8-4840-ac09-35f87de0744f/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVSjlFL2JCTHpycldwRTNSclp1eWoveDBRSHdrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhPQzR4TmpRdU1qQWVGdzB5Ck5URXhNalV4TnpNMU16SmFGdzB6TlRFeE1qTXhOek0xTXpKYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRndU1[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=e8473e76-2980-44aa-9406-dedf0b12f0c7&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=ad0121af-f7b8-4840-ac09-35f87de0744f&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.18.164.2/22","created_at":"2025-11-25T17:34:17.280638Z","id":"92c481d5-130b-4821-9eaa-fe9b3f528941","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"ad0121af-f7b8-4840-ac09-35f87de0744f","mac_address":"02:00:00:13:8A:FE","name":"test-rdb-endpoints","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"e8f64339-4f0a-4a2a-bef5-2f50f4bd680b"},"tags":["managed","scwdbaas"],"updated_at":"2025-11-25T17:34:37.286051Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.229666ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ad0121af-f7b8-4840-ac09-35f87de0744f/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.061833ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/fd7a2e0f-e31f-47e5-b37d-cb6b9a119d67
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 212.820584ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ad0121af-f7b8-4840-ac09-35f87de0744f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"ad0121af-f7b8-4840-ac09-35f87de0744f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 310.22875ms
[...]
