---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my_private_network\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:04:24.504864Z\",\"updated_at\":\"2025-08-28T12:04:24.504864Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"0a5b6443-2f32-4143-9ae4-d36b9160ccd0\",\"created_at\":\"2025-08-28T12:04:24.504864Z\",\"updated_at\":\"2025-08-28T12:04:24.504864Z\",\"subnet\":\"172.16.0.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"b804375f-58f7-4753-b050-a62b284c70c2\",\"created_at\":\"2025-08-28T12:04:24.504864Z\",\"updated_at\":\"2025-08-28T12:04:24.504864Z\",\"subnet\":\"fd63:256c:45f7:3627::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 751.764777ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fe511393-e1e7-4e02-b770-a5c4663ea902
    method: GET
  response:
    body: "{\"id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:04:24.504864Z\",\"updated_at\":\"2025-08-28T12:04:24.504864Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"0a5b6443-2f32-4143-9ae4-d36b9160ccd0\",\"created_at\":\"2025-08-28T12:04:24.504864Z\",\"updated_at\":\"2025-08-28T12:04:24.504864Z\",\"subnet\":\"172.16.0.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"b804375f-58f7-4753-b050-a62b284c70c2\",\"created_at\":\"2025-08-28T12:04:24.504864Z\",\"updated_at\":\"2025-08-28T12:04:24.504864Z\",\"subnet\":\"fd63:256c:45f7:3627::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 52.672426ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-private-network-update\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\",\"rdb_pn\"],\"init_settings\":null,\"volume_type\":\"sbs_5k\",\"volume_size\":10000000000,\"init_endpoints\":[{\"private_network\":{\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"ipam_config\":{}}}],\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"0ee89a91-eec4-4401-8710-93ddb6db1cc7\",\"name\":\"test-rdb-private-network-update\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\",\"rdb_pn\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.0.2\",\"port\":5432,\"name\":null,\"id\":\"52185eb9-60a0-4ead-9393-24d2e879bb1b\",\"private_network\":{\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"service_ip\":\"172.16.0.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:25.579942Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 980.269619ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0ee89a91-eec4-4401-8710-93ddb6db1cc7
    method: GET
  response:
    body: "{\"id\":\"0ee89a91-eec4-4401-8710-93ddb6db1cc7\",\"name\":\"test-rdb-private-network-update\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\",\"rdb_pn\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.0.2\",\"port\":5432,\"name\":null,\"id\":\"52185eb9-60a0-4ead-9393-24d2e879bb1b\",\"private_network\":{\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"service_ip\":\"172.16.0.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:25.579942Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.706852ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0ee89a91-eec4-4401-8710-93ddb6db1cc7
    method: GET
  response:
    body: "{\"id\":\"0ee89a91-eec4-4401-8710-93ddb6db1cc7\",\"name\":\"test-rdb-private-network-update\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\",\"rdb_pn\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.0.2\",\"port\":5432,\"name\":null,\"id\":\"52185eb9-60a0-4ead-9393-24d2e879bb1b\",\"private_network\":{\"private_network_id\":\"fe511393-e1e7-4e02-b770-a5c4663ea902\",\"service_ip\":\"172.16.0.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:25.579942Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.841003ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0ee89a91-eec4-4401-8710-93ddb6db1cc7/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVRFJVWU9yd1FvVTRrVjVXSUl5bXVvRThoZGdjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck9ESTRNVEl3TlRJeVdoY05NelV3T0RJMk1USXdOVEl5V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU[...]
- id: 11
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - fe511393-e1e7-4e02-b770-a5c4663ea902
      project_id:
      - fa1e3217-dc80-42ac-85c3-3f034b78b552
      resource_id:
      - 0ee89a91-eec4-4401-8710-93ddb6db1cc7
      resource_type:
      - rdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=fe511393-e1e7-4e02-b770-a5c4663ea902&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=0ee89a91-eec4-4401-8710-93ddb6db1cc7&resource_type=rdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"8eb8ba57-ed61-41eb-9824-56f48811263c\",\"address\":\"172.16.0.2/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T12:04:26.024740Z\",\"updated_at\":\"2025-08-28T12:04:49.925536Z\",\"source\":{\"subnet_id\":\"0a5b6443-2f32-4143-9ae4-d36b9160ccd0\"},\"resource\":{\"type\":\"rdb_instance\",\"id\":\"0ee89a91-eec4-4401-8710-93ddb6db1cc7\",\"mac_address\":\"02:00:00:12:36:77\",\"name\":\"test-rdb-private-network-update\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 62.927195ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/52185eb9-60a0-4ead-9393-24d2e879bb1b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 142.900581ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":{\"private_network\":{\"private_network_id\":\"9d52d005-71d9-4eef-872d-368ff0353cf3\",\"ipam_config\":{}}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0ee89a91-eec4-4401-8710-93ddb6db1cc7/endpoints
    method: POST
  response:
    body: "{\"ip\":\"172.16.20.2\",\"port\":5432,\"name\":null,\"id\":\"eb0cb524-5f20-4cfe-bbdd-a3843c0484fe\",\"private_network\":{\"private_network_id\":\"9d52d005-71d9-4eef-872d-368ff0353cf3\",\"service_ip\":\"172.16.20.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 758.848914ms
[...]
- id: 114
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0ee89a91-eec4-4401-8710-93ddb6db1cc7
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"0ee89a91-eec4-4401-8710-93ddb6db1cc7\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 71.716442ms
[...]
