---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:04:55.105910Z","dhcp_enabled":true,"id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-01-22T11:04:55.105910Z","id":"5aa0d14c-77a0-421a-b0ec-e5705017f39d","private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-22T11:04:55.105910Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"},{"created_at":"2025-01-22T11:04:55.105910Z","id":"e16196d7-d137-4817-8caf-736005bdb3f6","private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:b6d::/64","updated_at":"2025-01-22T11:04:55.105910Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}],"tags":[],"updated_at":"2025-01-22T11:04:55.105910Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 550.282875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/4ddd55bd-3157-4349-b465-bf8ee918b84b
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:04:55.105910Z","dhcp_enabled":true,"id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-01-22T11:04:55.105910Z","id":"5aa0d14c-77a0-421a-b0ec-e5705017f39d","private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-22T11:04:55.105910Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"},{"created_at":"2025-01-22T11:04:55.105910Z","id":"e16196d7-d137-4817-8caf-736005bdb3f6","private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:b6d::/64","updated_at":"2025-01-22T11:04:55.105910Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}],"tags":[],"updated_at":"2025-01-22T11:04:55.105910Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.597375ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","service_ip":"192.168.1.42/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:04:58.153988Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"5fcfebe9-db7a-4b26-a881-318df2449cf9","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"c4f219e4-fa7e-4dd7-bdc3-c750a98b396d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.048067167s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c4f219e4-fa7e-4dd7-bdc3-c750a98b396d
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:04:58.153988Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"5fcfebe9-db7a-4b26-a881-318df2449cf9","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"c4f219e4-fa7e-4dd7-bdc3-c750a98b396d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.826875ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c4f219e4-fa7e-4dd7-bdc3-c750a98b396d
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:04:58.153988Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"5fcfebe9-db7a-4b26-a881-318df2449cf9","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"4ddd55bd-3157-4349-b465-bf8ee918b84b","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"c4f219e4-fa7e-4dd7-bdc3-c750a98b396d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.121292ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c4f219e4-fa7e-4dd7-bdc3-c750a98b396d/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVUWE1NkxzeEJpY1FhQzZqMWd4dmZVallxa1Zzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5UQXhNakl4TVRBMk1ETmFGdzB6TlRBeE1qQXhNVEEyTUROYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/5fcfebe9-db7a-4b26-a881-318df2449cf9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 296.765083ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"5f00bc19-e44f-433c-a506-343d350beeb8","service_ip":"192.168.1.254/24"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c4f219e4-fa7e-4dd7-bdc3-c750a98b396d/endpoints
        method: POST
      response:
        body: '{"id":"da5887c0-c370-4023-86f2-28a258731397","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"5f00bc19-e44f-433c-a506-343d350beeb8","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 562.919584ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-22T11:09:09.348179Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b9293763-7977-4c21-a6d1-1e63b6387cd8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-22T11:09:09.348179Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.478792ms
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/b9293763-7977-4c21-a6d1-1e63b6387cd8
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-22T11:09:09.348179Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b9293763-7977-4c21-a6d1-1e63b6387cd8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-22T11:09:09.348179Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.566334ms
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.183.141","created_at":"2025-01-22T11:09:10.108319Z","gateway_id":null,"id":"a8353e9d-7855-48ba-84ab-afe4172521ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:09:10.108319Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 867.864541ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/a8353e9d-7855-48ba-84ab-afe4172521ed
        method: GET
      response:
        body: '{"address":"51.158.183.141","created_at":"2025-01-22T11:09:10.108319Z","gateway_id":null,"id":"a8353e9d-7855-48ba-84ab-afe4172521ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:09:10.108319Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.404167ms
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"a8353e9d-7855-48ba-84ab-afe4172521ed","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-22T11:09:10.390884Z","gateway_networks":[],"id":"724b30ae-348d-4501-8846-aa1e0b692499","ip":{"address":"51.158.183.141","created_at":"2025-01-22T11:09:10.108319Z","gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","id":"a8353e9d-7855-48ba-84ab-afe4172521ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:09:10.108319Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-22T11:09:10.390884Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.514458ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/724b30ae-348d-4501-8846-aa1e0b692499
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-22T11:09:10.390884Z","gateway_networks":[],"id":"724b30ae-348d-4501-8846-aa1e0b692499","ip":{"address":"51.158.183.141","created_at":"2025-01-22T11:09:10.108319Z","gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","id":"a8353e9d-7855-48ba-84ab-afe4172521ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"141-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-22T11:09:10.108319Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-22T11:09:10.390884Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.143083ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","private_network_id":"5f00bc19-e44f-433c-a506-343d350beeb8","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"b9293763-7977-4c21-a6d1-1e63b6387cd8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-22T11:09:19.455315Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-22T11:09:09.348179Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b9293763-7977-4c21-a6d1-1e63b6387cd8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-22T11:09:09.348179Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","id":"31071cd4-07eb-46cd-bb94-725b1d546a0d","ipam_config":null,"mac_address":null,"private_network_id":"5f00bc19-e44f-433c-a506-343d350beeb8","status":"created","updated_at":"2025-01-22T11:09:19.455315Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.91751175s
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/31071cd4-07eb-46cd-bb94-725b1d546a0d
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-22T11:09:19.455315Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-22T11:09:09.348179Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b9293763-7977-4c21-a6d1-1e63b6387cd8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-22T11:09:09.348179Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","id":"31071cd4-07eb-46cd-bb94-725b1d546a0d","ipam_config":null,"mac_address":"02:00:00:17:DC:D4","private_network_id":"5f00bc19-e44f-433c-a506-343d350beeb8","status":"ready","updated_at":"2025-01-22T11:09:30.317422Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.728792ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:09:35.436885Z","gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","id":"a1d25035-97f8-4a71-9fa1-f46672cfcff4","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-01-22T11:09:35.436885Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.947667ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/a1d25035-97f8-4a71-9fa1-f46672cfcff4
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:09:35.436885Z","gateway_id":"724b30ae-348d-4501-8846-aa1e0b692499","id":"a1d25035-97f8-4a71-9fa1-f46672cfcff4","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-01-22T11:09:35.436885Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.860917ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/31071cd4-07eb-46cd-bb94-725b1d546a0d?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 140.136875ms
[...]
    - id: 105
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/31071cd4-07eb-46cd-bb94-725b1d546a0d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"31071cd4-07eb-46cd-bb94-725b1d546a0d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.918625ms
[...]
    - id: 109
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/724b30ae-348d-4501-8846-aa1e0b692499?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 85.568792ms
[...]
