---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:34:36.518706Z","dhcp_enabled":true,"id":"0ebe47fa-bc41-428a-9bf5-e97d93c4a9c3","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:34:36.518706Z","id":"d691f4fb-3790-4be9-aabb-81687ca51808","subnet":"172.17.96.0/22","updated_at":"2024-04-17T12:34:36.518706Z"},{"created_at":"2024-04-17T12:34:36.518706Z","id":"503a2dd0-ac72-4537-a6b3-768a61f979e3","subnet":"fd5f:519c:6d46:1c4f::/64","updated_at":"2024-04-17T12:34:36.518706Z"}],"tags":[],"updated_at":"2024-04-17T12:34:36.518706Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.692824ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0ebe47fa-bc41-428a-9bf5-e97d93c4a9c3
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:34:36.518706Z","dhcp_enabled":true,"id":"0ebe47fa-bc41-428a-9bf5-e97d93c4a9c3","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:34:36.518706Z","id":"d691f4fb-3790-4be9-aabb-81687ca51808","subnet":"172.17.96.0/22","updated_at":"2024-04-17T12:34:36.518706Z"},{"created_at":"2024-04-17T12:34:36.518706Z","id":"503a2dd0-ac72-4537-a6b3-768a61f979e3","subnet":"fd5f:519c:6d46:1c4f::/64","updated_at":"2024-04-17T12:34:36.518706Z"}],"tags":[],"updated_at":"2024-04-17T12:34:36.518706Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.260238ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"0ebe47fa-bc41-428a-9bf5-e97d93c4a9c3","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:34:37.613754Z","endpoint":null,"endpoints":[{"id":"a0cd3d77-1fe0-477d-9fa1-6ed4982ed51d","ip":"172.17.96.2","name":null,"port":5432,"private_network":{"private_network_id":"0ebe47fa-bc41-428a-9bf5-e97d93c4a9c3","service_ip":"172.17.96.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"68353f4e-3a07-428a-9ebb-bd829a6806c7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.218004949s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/68353f4e-3a07-428a-9ebb-bd829a6806c7
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:34:37.613754Z","endpoint":null,"endpoints":[{"id":"a0cd3d77-1fe0-477d-9fa1-6ed4982ed51d","ip":"172.17.96.2","name":null,"port":5432,"private_network":{"private_network_id":"0ebe47fa-bc41-428a-9bf5-e97d93c4a9c3","service_ip":"172.17.96.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"68353f4e-3a07-428a-9ebb-bd829a6806c7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.635107ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/68353f4e-3a07-428a-9ebb-bd829a6806c7
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:34:37.613754Z","endpoint":null,"endpoints":[{"id":"a0cd3d77-1fe0-477d-9fa1-6ed4982ed51d","ip":"172.17.96.2","name":null,"port":5432,"private_network":{"private_network_id":"0ebe47fa-bc41-428a-9bf5-e97d93c4a9c3","service_ip":"172.17.96.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"68353f4e-3a07-428a-9ebb-bd829a6806c7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.215706ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/68353f4e-3a07-428a-9ebb-bd829a6806c7/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVVG0zMXBYMFUvZXhlbi9GV2RjbEFvUSt1NVFvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOeTQ1Tmk0eU1CNFhEVEkwCk1EUXhOekV5TXpVME1Gb1hEVE0wTURReE5URXlNelUwTUZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tnk0NU5[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=68353f4e-3a07-428a-9ebb-bd829a6806c7&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.96.2/22","created_at":"2024-04-17T12:34:37.970857Z","id":"bd7c9004-4c00-4a3e-9971-201d7139b001","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"68353f4e-3a07-428a-9ebb-bd829a6806c7","mac_address":"02:00:00:19:E7:D8","name":"test-rdb-endpoints","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"d691f4fb-3790-4be9-aabb-81687ca51808"},"tags":["managed","scwdbaas"],"updated_at":"2024-04-17T12:35:09.055763Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.777977ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/68353f4e-3a07-428a-9ebb-bd829a6806c7/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.29475ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/a0cd3d77-1fe0-477d-9fa1-6ed4982ed51d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 179.697057ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/68353f4e-3a07-428a-9ebb-bd829a6806c7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"68353f4e-3a07-428a-9ebb-bd829a6806c7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.414365ms
[...]
