---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-vpc\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\",\"name\":\"test-vpc\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:18.982654Z\",\"updated_at\":\"2025-08-28T12:00:18.982654Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 252.218152ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/dba7744f-de0d-4feb-a7f9-84d27a971f36
    method: GET
  response:
    body: "{\"id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\",\"name\":\"test-vpc\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:18.982654Z\",\"updated_at\":\"2025-08-28T12:00:18.982654Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 63.328045ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-adoring-lumiere\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":[\"192.168.0.0/24\"],\"vpc_id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"name\":\"tf-pn-adoring-lumiere\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:19.284359Z\",\"updated_at\":\"2025-08-28T12:00:19.284359Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"cae5b89d-1ef1-41a4-af8f-7f7ea75343c1\",\"created_at\":\"2025-08-28T12:00:19.284359Z\",\"updated_at\":\"2025-08-28T12:00:19.284359Z\",\"subnet\":\"192.168.0.0/24\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"vpc_id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\"},{\"id\":\"a2b0c69f-49b1-4b46-9340-286d73fccda5\",\"created_at\":\"2025-08-28T12:00:19.284359Z\",\"updated_at\":\"2025-08-28T12:00:19.284359Z\",\"subnet\":\"fd63:256c:45f7:6a::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"vpc_id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\"}],\"vpc_id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 742.070815ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2ab0469b-4ad5-45ab-8fb9-0a46acb2233a
    method: GET
  response:
    body: "{\"id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"name\":\"tf-pn-adoring-lumiere\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:19.284359Z\",\"updated_at\":\"2025-08-28T12:00:19.284359Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"cae5b89d-1ef1-41a4-af8f-7f7ea75343c1\",\"created_at\":\"2025-08-28T12:00:19.284359Z\",\"updated_at\":\"2025-08-28T12:00:19.284359Z\",\"subnet\":\"192.168.0.0/24\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"vpc_id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\"},{\"id\":\"a2b0c69f-49b1-4b46-9340-286d73fccda5\",\"created_at\":\"2025-08-28T12:00:19.284359Z\",\"updated_at\":\"2025-08-28T12:00:19.284359Z\",\"subnet\":\"fd63:256c:45f7:6a::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"vpc_id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\"}],\"vpc_id\":\"dba7744f-de0d-4feb-a7f9-84d27a971f36\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 46.233468ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-instance\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"init_settings\":null,\"volume_type\":\"sbs_5k\",\"volume_size\":10000000000,\"init_endpoints\":[{\"private_network\":{\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"ipam_config\":{}}}],\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"eb1396ee-9a48-4442-b1dc-cd533bae83ce\",\"name\":\"test-rdb-instance\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"192.168.0.2\",\"port\":5432,\"name\":null,\"id\":\"44c7fdf3-2c0e-4097-b807-bfb30f3870bb\",\"private_network\":{\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"service_ip\":\"192.168.0.2/24\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:21.115639Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.839159036s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eb1396ee-9a48-4442-b1dc-cd533bae83ce
    method: GET
  response:
    body: "{\"id\":\"eb1396ee-9a48-4442-b1dc-cd533bae83ce\",\"name\":\"test-rdb-instance\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"192.168.0.2\",\"port\":5432,\"name\":null,\"id\":\"44c7fdf3-2c0e-4097-b807-bfb30f3870bb\",\"private_network\":{\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"service_ip\":\"192.168.0.2/24\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:21.115639Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 114.422988ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eb1396ee-9a48-4442-b1dc-cd533bae83ce
    method: GET
  response:
    body: "{\"id\":\"eb1396ee-9a48-4442-b1dc-cd533bae83ce\",\"name\":\"test-rdb-instance\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"192.168.0.2\",\"port\":5432,\"name\":null,\"id\":\"44c7fdf3-2c0e-4097-b807-bfb30f3870bb\",\"private_network\":{\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"service_ip\":\"192.168.0.2/24\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:21.115639Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.072345ms
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eb1396ee-9a48-4442-b1dc-cd533bae83ce/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVVldLUDBpRHk4OC8veWlkZVZNNnJKdjNtNDJNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFNU1pNHhOamd1TUM0eU1CNFhEVEkxCk1EZ3lPREV5TURFMU4xb1hEVE0xTURneU5qRXlNREUxTjFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTVNaTR4TmpndU[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 2ab0469b-4ad5-45ab-8fb9-0a46acb2233a
      project_id:
      - fa1e3217-dc80-42ac-85c3-3f034b78b552
      resource_id:
      - eb1396ee-9a48-4442-b1dc-cd533bae83ce
      resource_type:
      - rdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=2ab0469b-4ad5-45ab-8fb9-0a46acb2233a&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=eb1396ee-9a48-4442-b1dc-cd533bae83ce&resource_type=rdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"63f4af9a-7972-4a34-acdb-13c1a4c22a71\",\"address\":\"192.168.0.2/24\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T12:00:21.560285Z\",\"updated_at\":\"2025-08-28T12:01:02.653664Z\",\"source\":{\"subnet_id\":\"cae5b89d-1ef1-41a4-af8f-7f7ea75343c1\"},\"resource\":{\"type\":\"rdb_instance\",\"id\":\"eb1396ee-9a48-4442-b1dc-cd533bae83ce\",\"mac_address\":\"02:00:00:1A:D9:7E\",\"name\":\"test-rdb-instance\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 70.366488ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-snapshot\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eb1396ee-9a48-4442-b1dc-cd533bae83ce/snapshots
    method: POST
  response:
    body: "{\"id\":\"430c7c80-3663-42b0-9786-734e1ff89868\",\"instance_id\":\"eb1396ee-9a48-4442-b1dc-cd533bae83ce\",\"name\":\"test-snapshot\",\"status\":\"creating\",\"size\":null,\"expires_at\":\"2026-08-28T12:04:23.379674Z\",\"created_at\":\"2025-08-28T12:04:23.379674Z\",\"updated_at\":null,\"instance_name\":\"test-rdb-instance\",\"node_type\":\"db-dev-s\",\"volume_type\":{\"type\":\"sbs_5k\",\"class\":\"sbs\"},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 419.921471ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/430c7c80-3663-42b0-9786-734e1ff89868
    method: GET
  response:
    body: "{\"id\":\"430c7c80-3663-42b0-9786-734e1ff89868\",\"instance_id\":\"eb1396ee-9a48-4442-b1dc-cd533bae83ce\",\"name\":\"test-snapshot\",\"status\":\"creating\",\"size\":null,\"expires_at\":\"2026-08-28T12:04:23.379674Z\",\"created_at\":\"2025-08-28T12:04:23.379674Z\",\"updated_at\":null,\"instance_name\":\"test-rdb-instance\",\"node_type\":\"db-dev-s\",\"volume_type\":{\"type\":\"sbs_5k\",\"class\":\"sbs\"},\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 79.262382ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    body: "{\"instance_name\":\"test-instance-from-snapshot\",\"is_ha_cluster\":false,\"node_type\":\"db-dev-s\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/430c7c80-3663-42b0-9786-734e1ff89868/create-instance
    method: POST
  response:
    body: "{\"id\":\"ba07258f-6486-4998-aca2-4a4acde2cc5a\",\"name\":\"test-instance-from-snapshot\",\"organization_id\":\"fa1e3217-[...]
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba07258f-6486-4998-aca2-4a4acde2cc5a
    method: GET
  response:
    body: "{\"id\":\"ba07258f-6486-4998-aca2-4a4acde2cc5a\",\"name\":\"test-instance-from-snapshot\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.8.83\",\"port\":26191,\"name\":null,\"id\":\"4100a629-6f7e-4d56-8c08-1eb80de4bc1e\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.8.83\",\"port\":26191,\"name\":null,\"id\":\"4100a629-6f7e-4d56-8c08-1eb80de4bc1e\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:54.131969Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.078108ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":{\"private_network\":{\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"ipam_config\":{}}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba07258f-6486-4998-aca2-4a4acde2cc5a/endpoints
    method: POST
  response:
    body: "{\"ip\":\"192.168.0.3\",\"port\":5432,\"name\":null,\"id\":\"4af50fe9-527f-4a47-ab15-49e8e6a883ad\",\"private_network\":{\"private_network_id\":\"2ab0469b-4ad5-45ab-8fb9-0a46acb2233a\",\"service_ip\":\"192.168.0.3/24\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 680.414896ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    form:
      order_by:
      - name_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba07258f-6486-4998-aca2-4a4acde2cc5a/users?order_by=name_asc&page=1
    method: GET
  response:
    body: "{\"users\":[{\"name\":\"my_initial_user\",\"is_admin\":true}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 168.516572ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba07258f-6486-4998-aca2-4a4acde2cc5a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"ba07258f-6486-4998-aca2-4a4acde2cc5a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 69.095284ms
[...]
