---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:11:37.810168Z","custom_routes_propagation_enabled":false,"id":"c1169f28-275b-4afb-88d0-7b729349fe3e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:11:37.810168Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.276917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/c1169f28-275b-4afb-88d0-7b729349fe3e/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:11:37.810168Z","custom_routes_propagation_enabled":true,"id":"c1169f28-275b-4afb-88d0-7b729349fe3e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:11:37.943798Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.150709ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/c1169f28-275b-4afb-88d0-7b729349fe3e
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:11:37.810168Z","custom_routes_propagation_enabled":true,"id":"c1169f28-275b-4afb-88d0-7b729349fe3e","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:11:37.943798Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.943166ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.73.63","created_at":"2025-06-30T15:11:38.606065Z","id":"e33579ba-a7f0-4c02-acd8-f50a455b4621","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"63-73-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:11:38.606065Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.005725167s
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"c1169f28-275b-4afb-88d0-7b729349fe3e","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:11:38.142145Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2025-06-30T15:11:38.142145Z","id":"65772ff3-f815-4595-abb5-b4b08d0cc4dd","private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","updated_at":"2025-06-30T15:11:38.142145Z","vpc_id":"c1169f28-275b-4afb-88d0-7b729349fe3e"},{"created_at":"2025-06-30T15:11:38.142145Z","id":"2313843b-88bd-4303-a803-a903359541c4","private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:e916::/64","updated_at":"2025-06-30T15:11:38.142145Z","vpc_id":"c1169f28-275b-4afb-88d0-7b729349fe3e"}],"tags":[],"updated_at":"2025-06-30T15:11:38.142145Z","vpc_id":"c1169f28-275b-4afb-88d0-7b729349fe3e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 663.132041ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/e33579ba-a7f0-4c02-acd8-f50a455b4621
        method: GET
      response:
        body: '{"address":"51.15.73.63","created_at":"2025-06-30T15:11:38.606065Z","id":"e33579ba-a7f0-4c02-acd8-f50a455b4621","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"63-73-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:11:38.606065Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.061208ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:11:38.142145Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2025-06-30T15:11:38.142145Z","id":"65772ff3-f815-4595-abb5-b4b08d0cc4dd","private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","updated_at":"2025-06-30T15:11:38.142145Z","vpc_id":"c1169f28-275b-4afb-88d0-7b729349fe3e"},{"created_at":"2025-06-30T15:11:38.142145Z","id":"2313843b-88bd-4303-a803-a903359541c4","private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:e916::/64","updated_at":"2025-06-30T15:11:38.142145Z","vpc_id":"c1169f28-275b-4afb-88d0-7b729349fe3e"}],"tags":[],"updated_at":"2025-06-30T15:11:38.142145Z","vpc_id":"c1169f28-275b-4afb-88d0-7b729349fe3e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.385792ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","ip_id":"e33579ba-a7f0-4c02-acd8-f50a455b4621","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:11:38.924103Z","gateway_networks":[],"id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","ipv4":{"address":"51.15.73.63","created_at":"2025-06-30T15:11:38.606065Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"e33579ba-a7f0-4c02-acd8-f50a455b4621","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"63-73-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:11:38.606065Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:11:38.924103Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.843834ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/4a26e138-bcf7-43ea-9a1b-3fd5e76e008a
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:11:38.924103Z","gateway_networks":[],"id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","ipv4":{"address":"51.15.73.63","created_at":"2025-06-30T15:11:38.606065Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"e33579ba-a7f0-4c02-acd8-f50a455b4621","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"63-73-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:11:38.606065Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:11:38.979163Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.241ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:11:39.217450Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"2c1d60e6-f725-4642-b8ef-af49d9ba610c","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"742f5d20-620c-4197-8bf1-8d29c4dbf3dc","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.00951225s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/742f5d20-620c-4197-8bf1-8d29c4dbf3dc
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:11:39.217450Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"2c1d60e6-f725-4642-b8ef-af49d9ba610c","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"742f5d20-620c-4197-8bf1-8d29c4dbf3dc","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.437125ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:11:54.772431Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"2bf31e99-bdf2-4d96-a67e-d48c69656a8e","ipam_ip_id":"dd970aaf-e1da-4a41-b807-bd6e0cbb5060","masquerade_enabled":true,"private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","push_default_route":true,"status":"created","updated_at":"2025-06-30T15:11:54.772431Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 601.188125ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/4a26e138-bcf7-43ea-9a1b-3fd5e76e008a
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:11:38.924103Z","gateway_networks":[{"created_at":"2025-06-30T15:11:54.772431Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"2bf31e99-bdf2-4d96-a67e-d48c69656a8e","ipam_ip_id":"dd970aaf-e1da-4a41-b807-bd6e0cbb5060","mac_address":"02:00:00:12:85:D5","masquerade_enabled":true,"private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","push_default_route":true,"status":"configuring","updated_at":"2025-06-30T15:12:00.940451Z","zone":"nl-ams-1"}],"id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","ipv4":{"address":"51.15.73.63","created_at":"2025-06-30T15:11:38.606065Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"e33579ba-a7f0-4c02-acd8-f50a455b4621","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"63-73-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:11:38.606065Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:11:54.925396Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.098708ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/2bf31e99-bdf2-4d96-a67e-d48c69656a8e
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:11:54.772431Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"2bf31e99-bdf2-4d96-a67e-d48c69656a8e","ipam_ip_id":"dd970aaf-e1da-4a41-b807-bd6e0cbb5060","mac_address":"02:00:00:12:85:D5","masquerade_enabled":true,"private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","push_default_route":true,"status":"ready","updated_at":"2025-06-30T15:12:06.531928Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.771ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=2bf31e99-bdf2-4d96-a67e-d48c69656a8e&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-06-30T15:11:54.676445Z","id":"dd970aaf-e1da-4a41-b807-bd6e0cbb5060","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","resource":{"id":"2bf31e99-bdf2-4d96-a67e-d48c69656a8e","mac_address":"02:00:00:12:85:D5","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"65772ff3-f815-4595-abb5-b4b08d0cc4dd"},"tags":[],"updated_at":"2025-06-30T15:11:55.336353Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.045209ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=2bf31e99-bdf2-4d96-a67e-d48c69656a8e&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-06-30T15:11:54.676445Z","id":"dd970aaf-e1da-4a41-b807-bd6e0cbb5060","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","resource":{"id":"2bf31e99-bdf2-4d96-a67e-d48c69656a8e","mac_address":"02:00:00:12:85:D5","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"65772ff3-f815-4595-abb5-b4b08d0cc4dd"},"tags":[],"updated_at":"2025-06-30T15:11:55.336353Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.674791ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/742f5d20-620c-4197-8bf1-8d29c4dbf3dc
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-06-30T15:11:39.217450Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"2c1d60e6-f725-4642-b8ef-af49d9ba610c","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"9bf1e809-2659-4e8b-bbf7-7c70acf2cbc2","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"742f5d20-620c-4197-8bf1-8d29c4dbf3dc","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.0135ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/742f5d20-620c-4197-8bf1-8d29c4dbf3dc/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVWkd1cDNkM2I3QTVhRW1QcDBySDc0dTY4ZTBVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdOak13TVRVeE1qVTJXaGNOTXpVd05qSTRNVFV4TWpVMldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:14:11.293366Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"a7bbfe37-196c-49f6-afb8-7937c137e897","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-06-30T15:14:11.293366Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.937458ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules/a7bbfe37-196c-49f6-afb8-7937c137e897
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:14:11.293366Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"a7bbfe37-196c-49f6-afb8-7937c137e897","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-06-30T15:14:11.293366Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.388834ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/2c1d60e6-f725-4642-b8ef-af49d9ba610c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 272.373583ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/2bf31e99-bdf2-4d96-a67e-d48c69656a8e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"2bf31e99-bdf2-4d96-a67e-d48c69656a8e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.662542ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/4a26e138-bcf7-43ea-9a1b-3fd5e76e008a?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:11:38.924103Z","gateway_networks":[],"id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","ipv4":{"address":"51.15.73.63","created_at":"2025-06-30T15:11:38.606065Z","gateway_id":"4a26e138-bcf7-43ea-9a1b-3fd5e76e008a","id":"e33579ba-a7f0-4c02-acd8-f50a455b4621","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"63-73-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:11:38.606065Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:14:18.992863Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.399625ms
[...]
