---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:11:23.555626Z","dhcp_enabled":true,"id":"1323157f-6683-4f6d-b957-8d49960e4cfb","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T09:11:23.555626Z","id":"e530de49-d554-4ccc-a87b-fbd5cccc9287","subnet":"172.16.16.0/22","updated_at":"2024-05-14T09:11:23.555626Z"},{"created_at":"2024-05-14T09:11:23.555626Z","id":"79a800b2-f8d5-4cc1-800e-463601f93ee7","subnet":"fd5c:d510:d730:8b6d::/64","updated_at":"2024-05-14T09:11:23.555626Z"}],"tags":[],"updated_at":"2024-05-14T09:11:23.555626Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 559.239941ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/1323157f-6683-4f6d-b957-8d49960e4cfb
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:11:23.555626Z","dhcp_enabled":true,"id":"1323157f-6683-4f6d-b957-8d49960e4cfb","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-05-14T09:11:23.555626Z","id":"e530de49-d554-4ccc-a87b-fbd5cccc9287","subnet":"172.16.16.0/22","updated_at":"2024-05-14T09:11:23.555626Z"},{"created_at":"2024-05-14T09:11:23.555626Z","id":"79a800b2-f8d5-4cc1-800e-463601f93ee7","subnet":"fd5c:d510:d730:8b6d::/64","updated_at":"2024-05-14T09:11:23.555626Z"}],"tags":[],"updated_at":"2024-05-14T09:11:23.555626Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.931077ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"1323157f-6683-4f6d-b957-8d49960e4cfb","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:11:24.965774Z","endpoint":null,"endpoints":[{"id":"47c4b571-4a64-425c-96ba-81bf65ecbf74","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"1323157f-6683-4f6d-b957-8d49960e4cfb","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4f44e010-b681-4393-af07-957628e21e18","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.034099624s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4f44e010-b681-4393-af07-957628e21e18
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:11:24.965774Z","endpoint":null,"endpoints":[{"id":"47c4b571-4a64-425c-96ba-81bf65ecbf74","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"1323157f-6683-4f6d-b957-8d49960e4cfb","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4f44e010-b681-4393-af07-957628e21e18","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.780663ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4f44e010-b681-4393-af07-957628e21e18
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:11:24.965774Z","endpoint":null,"endpoints":[{"id":"47c4b571-4a64-425c-96ba-81bf65ecbf74","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"1323157f-6683-4f6d-b957-8d49960e4cfb","provisioning_mode":"static","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4f44e010-b681-4393-af07-957628e21e18","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.962227ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4f44e010-b681-4393-af07-957628e21e18/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVS1lwbzhHRlE0QTVnN2pyM2dVbVY1QWNXV2RNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5EQTFNVFF3T1RFeU16QmFGdzB6TkRBMU1USXdPVEV5TXpCYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/47c4b571-4a64-425c-96ba-81bf65ecbf74
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 306.89533ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"1e397f7e-fd2a-4f5e-9960-b237fe4b0f45","service_ip":"192.168.1.254/24"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4f44e010-b681-4393-af07-957628e21e18/endpoints
        method: POST
      response:
        body: '{"id":"047f01ca-a9d3-4202-8314-6c81506055e7","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"1e397f7e-fd2a-4f5e-9960-b237fe4b0f45","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 626.661865ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T09:15:37.832983Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1a80bfd6-981c-4d28-a9a7-66ffba7d91fe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:15:37.832983Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.960146ms
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/1a80bfd6-981c-4d28-a9a7-66ffba7d91fe
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-05-14T09:15:37.832983Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1a80bfd6-981c-4d28-a9a7-66ffba7d91fe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:15:37.832983Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.582692ms
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.183.79","created_at":"2024-05-14T09:15:38.560567Z","gateway_id":null,"id":"a2e2e072-afd6-4da3-aaa4-a90cd97effbb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:15:38.560567Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 829.254528ms
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/a2e2e072-afd6-4da3-aaa4-a90cd97effbb
        method: GET
      response:
        body: '{"address":"51.158.183.79","created_at":"2024-05-14T09:15:38.560567Z","gateway_id":null,"id":"a2e2e072-afd6-4da3-aaa4-a90cd97effbb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:15:38.560567Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.898933ms
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"a2e2e072-afd6-4da3-aaa4-a90cd97effbb","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T09:15:38.707767Z","gateway_networks":[],"id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","ip":{"address":"51.158.183.79","created_at":"2024-05-14T09:15:38.560567Z","gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","id":"a2e2e072-afd6-4da3-aaa4-a90cd97effbb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:15:38.560567Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T09:15:38.707767Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.28467ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-14T09:15:38.707767Z","gateway_networks":[],"id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","ip":{"address":"51.158.183.79","created_at":"2024-05-14T09:15:38.560567Z","gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","id":"a2e2e072-afd6-4da3-aaa4-a90cd97effbb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"79-183-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-05-14T09:15:38.560567Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-05-14T09:15:38.779374Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.797324ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","private_network_id":"1e397f7e-fd2a-4f5e-9960-b237fe4b0f45","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"1a80bfd6-981c-4d28-a9a7-66ffba7d91fe"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-05-14T09:15:56.202828Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T09:15:37.832983Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1a80bfd6-981c-4d28-a9a7-66ffba7d91fe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:15:37.832983Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","id":"09052438-4322-451d-8a34-20ee635dea8d","ipam_config":null,"mac_address":null,"private_network_id":"1e397f7e-fd2a-4f5e-9960-b237fe4b0f45","status":"created","updated_at":"2024-05-14T09:15:56.202828Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.31949455s
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/09052438-4322-451d-8a34-20ee635dea8d
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-05-14T09:15:56.202828Z","dhcp":{"address":"192.168.1.1","created_at":"2024-05-14T09:15:37.832983Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1a80bfd6-981c-4d28-a9a7-66ffba7d91fe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-05-14T09:15:37.832983Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","id":"09052438-4322-451d-8a34-20ee635dea8d","ipam_config":null,"mac_address":"02:00:00:13:AF:41","private_network_id":"1e397f7e-fd2a-4f5e-9960-b237fe4b0f45","status":"ready","updated_at":"2024-05-14T09:16:10.179791Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.85159ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:16:12.067406Z","gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","id":"c8245b8f-0ae7-4fd6-ae1c-2480d9dd9f51","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T09:16:12.067406Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.784657ms
[...]
    - id: 69
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/c8245b8f-0ae7-4fd6-ae1c-2480d9dd9f51
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:16:12.067406Z","gateway_id":"5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a","id":"c8245b8f-0ae7-4fd6-ae1c-2480d9dd9f51","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-05-14T09:16:12.067406Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.436431ms
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/09052438-4322-451d-8a34-20ee635dea8d?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 103.456074ms
[...]
    - id: 107
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/09052438-4322-451d-8a34-20ee635dea8d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"09052438-4322-451d-8a34-20ee635dea8d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.757683ms
[...]
    - id: 111
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/5b5ae72f-152d-4f00-a9c1-8e5f8abcd23a?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.344226ms
[...]
