---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:10:49.109906Z","dhcp_enabled":true,"id":"df2e46db-d99d-4bf9-a85d-a5921af51503","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:10:49.109906Z","id":"aca40e52-e0d2-4df3-ada4-bc0dc43ec455","subnet":"172.17.136.0/22","updated_at":"2024-05-14T09:10:49.109906Z"},{"created_at":"2024-05-14T09:10:49.109906Z","id":"325c3687-c47e-457e-86fc-ced0a7b5dca8","subnet":"fd5f:519c:6d46:1492::/64","updated_at":"2024-05-14T09:10:49.109906Z"}],"tags":[],"updated_at":"2024-05-14T09:10:49.109906Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 598.623181ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/df2e46db-d99d-4bf9-a85d-a5921af51503
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:10:49.109906Z","dhcp_enabled":true,"id":"df2e46db-d99d-4bf9-a85d-a5921af51503","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:10:49.109906Z","id":"aca40e52-e0d2-4df3-ada4-bc0dc43ec455","subnet":"172.17.136.0/22","updated_at":"2024-05-14T09:10:49.109906Z"},{"created_at":"2024-05-14T09:10:49.109906Z","id":"325c3687-c47e-457e-86fc-ced0a7b5dca8","subnet":"fd5f:519c:6d46:1492::/64","updated_at":"2024-05-14T09:10:49.109906Z"}],"tags":[],"updated_at":"2024-05-14T09:10:49.109906Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.058504ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"df2e46db-d99d-4bf9-a85d-a5921af51503","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:10:50.058328Z","endpoint":null,"endpoints":[{"id":"81f7e75a-3229-4217-be5b-28fee2e22ed5","ip":"172.17.136.2","name":null,"port":5432,"private_network":{"private_network_id":"df2e46db-d99d-4bf9-a85d-a5921af51503","provisioning_mode":"ipam","service_ip":"172.17.136.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"de72a631-b222-4d83-b026-46b2e3baaf20","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.059411176s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/de72a631-b222-4d83-b026-46b2e3baaf20
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:10:50.058328Z","endpoint":null,"endpoints":[{"id":"81f7e75a-3229-4217-be5b-28fee2e22ed5","ip":"172.17.136.2","name":null,"port":5432,"private_network":{"private_network_id":"df2e46db-d99d-4bf9-a85d-a5921af51503","provisioning_mode":"ipam","service_ip":"172.17.136.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"de72a631-b222-4d83-b026-46b2e3baaf20","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 407.833364ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/de72a631-b222-4d83-b026-46b2e3baaf20
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:10:50.058328Z","endpoint":null,"endpoints":[{"id":"81f7e75a-3229-4217-be5b-28fee2e22ed5","ip":"172.17.136.2","name":null,"port":5432,"private_network":{"private_network_id":"df2e46db-d99d-4bf9-a85d-a5921af51503","provisioning_mode":"ipam","service_ip":"172.17.136.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"de72a631-b222-4d83-b026-46b2e3baaf20","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 363.559525ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/de72a631-b222-4d83-b026-46b2e3baaf20/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVT0c1S0x0ZXY5STU1NEt2RDJrUmVDbmJBTlFVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOeTR4TXpZdU1qQWVGdzB5Ck5EQTFNVFF3T1RFeE5UUmFGdzB6TkRBMU1USXdPVEV4TlRSYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRjdU1[...]
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/81f7e75a-3229-4217-be5b-28fee2e22ed5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 165.524726ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"a942d8e6-064a-48ef-930d-19b6c7f86890","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/de72a631-b222-4d83-b026-46b2e3baaf20/endpoints
        method: POST
      response:
        body: '{"id":"2217ad0f-d4de-4010-88ab-7e6744eb2e6e","ip":"172.16.216.2","name":null,"port":5432,"private_network":{"private_network_id":"a942d8e6-064a-48ef-930d-19b6c7f86890","provisioning_mode":"ipam","service_ip":"172.16.216.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 755.754045ms
[...]
    - id: 108
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/de72a631-b222-4d83-b026-46b2e3baaf20
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"de72a631-b222-4d83-b026-46b2e3baaf20","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 199.348778ms
[...]
