---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-07-31T12:58:30.570500Z","custom_routes_propagation_enabled":true,"id":"24fc04e9-bea4-4c85-9850-6534b198d7da","is_default":false,"name":"test-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-31T12:58:30.570500Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.328959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/24fc04e9-bea4-4c85-9850-6534b198d7da/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-07-31T12:58:30.570500Z","custom_routes_propagation_enabled":true,"id":"24fc04e9-bea4-4c85-9850-6534b198d7da","is_default":false,"name":"test-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-31T12:58:30.570500Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.733125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/24fc04e9-bea4-4c85-9850-6534b198d7da
        method: GET
      response:
        body: '{"created_at":"2025-07-31T12:58:30.570500Z","custom_routes_propagation_enabled":true,"id":"24fc04e9-bea4-4c85-9850-6534b198d7da","is_default":false,"name":"test-vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-31T12:58:30.570500Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 557.410708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-strange-jang","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["192.168.0.0/24"],"vpc_id":"24fc04e9-bea4-4c85-9850-6534b198d7da","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-07-31T12:58:31.391119Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","name":"tf-pn-strange-jang","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-31T12:58:31.391119Z","id":"be9d4984-3e70-425b-bf5c-307512fe8ab9","private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/24","updated_at":"2025-07-31T12:58:31.391119Z","vpc_id":"24fc04e9-bea4-4c85-9850-6534b198d7da"},{"created_at":"2025-07-31T12:58:31.391119Z","id":"1baf21b8-5661-4acf-b6f3-1782d8234048","private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3692::/64","updated_at":"2025-07-31T12:58:31.391119Z","vpc_id":"24fc04e9-bea4-4c85-9850-6534b198d7da"}],"tags":[],"updated_at":"2025-07-31T12:58:31.391119Z","vpc_id":"24fc04e9-bea4-4c85-9850-6534b198d7da"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 664.909208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/540699f7-4c56-4b7e-b8a6-d8a55397ca69
        method: GET
      response:
        body: '{"created_at":"2025-07-31T12:58:31.391119Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","name":"tf-pn-strange-jang","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-07-31T12:58:31.391119Z","id":"be9d4984-3e70-425b-bf5c-307512fe8ab9","private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/24","updated_at":"2025-07-31T12:58:31.391119Z","vpc_id":"24fc04e9-bea4-4c85-9850-6534b198d7da"},{"created_at":"2025-07-31T12:58:31.391119Z","id":"1baf21b8-5661-4acf-b6f3-1782d8234048","private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3692::/64","updated_at":"2025-07-31T12:58:31.391119Z","vpc_id":"24fc04e9-bea4-4c85-9850-6534b198d7da"}],"tags":[],"updated_at":"2025-07-31T12:58:31.391119Z","vpc_id":"24fc04e9-bea4-4c85-9850-6534b198d7da"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.721584ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-instance","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-07-31T12:58:32.807961Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"1985b8b1-937a-46c9-8dce-154d7e2f5d3b","ip":"192.168.0.2","name":null,"port":5432,"private_network":{"private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","provisioning_mode":"ipam","service_ip":"192.168.0.2/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"fe57d11d-bb98-425e-8075-68be160d0a7c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.276308125s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fe57d11d-bb98-425e-8075-68be160d0a7c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-07-31T12:58:32.807961Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"1985b8b1-937a-46c9-8dce-154d7e2f5d3b","ip":"192.168.0.2","name":null,"port":5432,"private_network":{"private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","provisioning_mode":"ipam","service_ip":"192.168.0.2/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"fe57d11d-bb98-425e-8075-68be160d0a7c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.419792ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fe57d11d-bb98-425e-8075-68be160d0a7c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-07-31T12:58:32.807961Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"1985b8b1-937a-46c9-8dce-154d7e2f5d3b","ip":"192.168.0.2","name":null,"port":5432,"private_network":{"private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","provisioning_mode":"ipam","service_ip":"192.168.0.2/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"fe57d11d-bb98-425e-8075-68be160d0a7c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.103667ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fe57d11d-bb98-425e-8075-68be160d0a7c/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVUmQ0aFEzUGEzTnhaWFJJaUU2cUllVm1wZE5jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFNU1pNHhOamd1TUM0eU1CNFhEVEkxCk1EY3pNVEV5TlRrMU0xb1hEVE0xTURjeU9URXlOVGsxTTFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTVNaTR4TmpndU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=540699f7-4c56-4b7e-b8a6-d8a55397ca69&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=fe57d11d-bb98-425e-8075-68be160d0a7c&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.0.2/24","created_at":"2025-07-31T12:58:34.554402Z","id":"55e72e3b-1f57-4342-825e-7d3010330898","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"fe57d11d-bb98-425e-8075-68be160d0a7c","mac_address":"02:00:00:14:62:18","name":"test-rdb-instance","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"be9d4984-3e70-425b-bf5c-307512fe8ab9"},"tags":["managed","scwdbaas"],"updated_at":"2025-07-31T12:59:05.390694Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.036ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fe57d11d-bb98-425e-8075-68be160d0a7c/snapshots
        method: POST
      response:
        body: '{"created_at":"2025-07-31T13:01:09.924249Z","expires_at":"2026-07-31T13:01:09.924249Z","id":"fb395960-3fe8-4bea-a44a-6567f306c45e","instance_id":"fe57d11d-bb98-425e-8075-68be160d0a7c","instance_name":"test-rdb-instance","name":"test-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.93897525s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/fb395960-3fe8-4bea-a44a-6567f306c45e
        method: GET
      response:
        body: '{"created_at":"2025-07-31T13:01:09.924249Z","expires_at":"2026-07-31T13:01:09.924249Z","id":"fb395960-3fe8-4bea-a44a-6567f306c45e","instance_id":"fe57d11d-bb98-425e-8075-68be160d0a7c","instance_name":"test-rdb-instance","name":"test-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.841667ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"instance_name":"test-instance-from-snapshot","is_ha_cluster":false,"node_type":"db-dev-s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/fb395960-3fe8-4bea-a44a-6567f306c45e/create-instance
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true[...]
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9e85dba4-0920-4966-b90f-6b671c26fb74
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-07-31T13:01:41.088983Z","encryption":{"enabled":false},"endpoint":{"id":"81096b90-0e5d-49c7-a630-68b3db637a03","ip":"195.154.196.130","load_balancer":{},"name":null,"port":13438},"endpoints":[{"id":"81096b90-0e5d-49c7-a630-68b3db637a03","ip":"195.154.196.130","load_balancer":{},"name":null,"port":13438}],"engine":"PostgreSQL-16","id":"9e85dba4-0920-4966-b90f-6b671c26fb74","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-instance-from-snapshot","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.188875ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9e85dba4-0920-4966-b90f-6b671c26fb74/endpoints
        method: POST
      response:
        body: '{"id":"85723a5c-22f8-4d08-8f56-7d97fe9591a2","ip":"192.168.0.3","name":null,"port":5432,"private_network":{"private_network_id":"540699f7-4c56-4b7e-b8a6-d8a55397ca69","provisioning_mode":"ipam","service_ip":"192.168.0.3/24","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.848700833s
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9e85dba4-0920-4966-b90f-6b671c26fb74/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":true,"name":"my_initial_user"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.377708ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9e85dba4-0920-4966-b90f-6b671c26fb74
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"9e85dba4-0920-4966-b90f-6b671c26fb74","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 167.539958ms
[...]
