---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"test-rdb-endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:07:40.963988Z","dhcp_enabled":true,"id":"dfbe6449-bc74-429c-9b7f-52257ab7e48d","name":"test-rdb-endpoints","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:07:40.963988Z","id":"5d9fb5ca-6cec-4958-9d8a-b2dd410e0670","subnet":"172.16.24.0/22","updated_at":"2024-02-20T14:07:40.963988Z"},{"created_at":"2024-02-20T14:07:40.963988Z","id":"8bdea823-3cfd-41b1-bcf9-eb1bf48ab800","subnet":"fd63:256c:45f7:fdf1::/64","updated_at":"2024-02-20T14:07:40.963988Z"}],"tags":[],"updated_at":"2024-02-20T14:07:40.963988Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dfbe6449-bc74-429c-9b7f-52257ab7e48d
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:07:40.963988Z","dhcp_enabled":true,"id":"dfbe6449-bc74-429c-9b7f-52257ab7e48d","name":"test-rdb-endpoints","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:07:40.963988Z","id":"5d9fb5ca-6cec-4958-9d8a-b2dd410e0670","subnet":"172.16.24.0/22","updated_at":"2024-02-20T14:07:40.963988Z"},{"created_at":"2024-02-20T14:07:40.963988Z","id":"8bdea823-3cfd-41b1-bcf9-eb1bf48ab800","subnet":"fd63:256c:45f7:fdf1::/64","updated_at":"2024-02-20T14:07:40.963988Z"}],"tags":[],"updated_at":"2024-02-20T14:07:40.963988Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"dfbe6449-bc74-429c-9b7f-52257ab7e48d","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:07:43.185561Z","endpoint":null,"endpoints":[{"id":"8ce2edf9-7578-465c-80aa-cb96bd10d256","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"dfbe6449-bc74-429c-9b7f-52257ab7e48d","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"f5d5030c-716e-4800-b495-c39be3c06b66","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f5d5030c-716e-4800-b495-c39be3c06b66
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:07:43.185561Z","endpoint":null,"endpoints":[{"id":"8ce2edf9-7578-465c-80aa-cb96bd10d256","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"dfbe6449-bc74-429c-9b7f-52257ab7e48d","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"f5d5030c-716e-4800-b495-c39be3c06b66","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f5d5030c-716e-4800-b495-c39be3c06b66
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:07:43.185561Z","endpoint":null,"endpoints":[{"id":"8ce2edf9-7578-465c-80aa-cb96bd10d256","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"dfbe6449-bc74-429c-9b7f-52257ab7e48d","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"f5d5030c-716e-4800-b495-c39be3c06b66","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f5d5030c-716e-4800-b495-c39be3c06b66/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVWlJiaitWeDBoMjdHV0plMFZnOVRGYy9WT3hZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5TkM0eU1CNFhEVEkwCk1ESXlNREUwTURnME4xb1hEVE0wTURJeE56RTBNRGcwTjFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU5[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=f5d5030c-716e-4800-b495-c39be3c06b66&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.24.2/22","created_at":"2024-02-20T14:07:43.689923Z","id":"a1f3843d-a3d1-4399-a128-a714772842d1","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"f5d5030c-716e-4800-b495-c39be3c06b66","mac_address":"02:00:00:18:83:50","name":"test-rdb-endpoints","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"5d9fb5ca-6cec-4958-9d8a-b2dd410e0670"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-20T14:08:15.420365Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"endpoint_spec":{"load_balancer":{}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f5d5030c-716e-4800-b495-c39be3c06b66/endpoints
    method: POST
  response:
    body: '{"id":"","name":null,"port":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/8ce2edf9-7578-465c-80aa-cb96bd10d256
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f5d5030c-716e-4800-b495-c39be3c06b66
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"f5d5030c-716e-4800-b495-c39be3c06b66","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
