---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T19:15:24.102151Z","dhcp_enabled":true,"id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T19:15:24.102151Z","id":"0e92c251-ff50-4ea3-98a5-d64651185e4f","private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.120.0/22","updated_at":"2024-10-03T19:15:24.102151Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T19:15:24.102151Z","id":"14e3a0c1-b5fe-49ea-b948-92782724c4a1","private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9b7c::/64","updated_at":"2024-10-03T19:15:24.102151Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T19:15:24.102151Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 709.781042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c89cb6a5-a0b8-428f-83a2-c807fc86613e
        method: GET
      response:
        body: '{"created_at":"2024-10-03T19:15:24.102151Z","dhcp_enabled":true,"id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T19:15:24.102151Z","id":"0e92c251-ff50-4ea3-98a5-d64651185e4f","private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.120.0/22","updated_at":"2024-10-03T19:15:24.102151Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T19:15:24.102151Z","id":"14e3a0c1-b5fe-49ea-b948-92782724c4a1","private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9b7c::/64","updated_at":"2024-10-03T19:15:24.102151Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T19:15:24.102151Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.904062ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:25.710395Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"bad6bfdf-6870-4a2e-9f3e-5cf96abf1990","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"5731e0d7-554b-4507-8d6e-a571c120fc0a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.918676154s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5731e0d7-554b-4507-8d6e-a571c120fc0a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:25.710395Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"bad6bfdf-6870-4a2e-9f3e-5cf96abf1990","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"5731e0d7-554b-4507-8d6e-a571c120fc0a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.748059ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5731e0d7-554b-4507-8d6e-a571c120fc0a
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:15:25.710395Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"bad6bfdf-6870-4a2e-9f3e-5cf96abf1990","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"c89cb6a5-a0b8-428f-83a2-c807fc86613e","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"5731e0d7-554b-4507-8d6e-a571c120fc0a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.828955ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5731e0d7-554b-4507-8d6e-a571c120fc0a/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVYkxmZFU4ZDh2TE5rSXBZTTRCWldLSENpSFpZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR4TWpBdU1qQWVGdzB5Ck5ERXdNRE14T1RFMk16SmFGdzB6TkRFd01ERXhPVEUyTXpKYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=c89cb6a5-a0b8-428f-83a2-c807fc86613e&resource_id=5731e0d7-554b-4507-8d6e-a571c120fc0a&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.120.2/22","created_at":"2024-10-03T19:15:26.391372Z","id":"ada66e76-9102-442a-9a23-365958294825","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"5731e0d7-554b-4507-8d6e-a571c120fc0a","mac_address":"02:00:00:17:44:76","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"0e92c251-ff50-4ea3-98a5-d64651185e4f"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T19:15:59.467972Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.603954ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/bad6bfdf-6870-4a2e-9f3e-5cf96abf1990
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 185.701049ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"e14ca2eb-fa36-4c34-b398-c7c5c511aed3","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5731e0d7-554b-4507-8d6e-a571c120fc0a/endpoints
        method: POST
      response:
        body: '{"id":"b91b18dd-b87e-4e1a-8aa4-104f11376e7b","ip":"172.16.100.2","name":null,"port":5432,"private_network":{"private_network_id":"e14ca2eb-fa36-4c34-b398-c7c5c511aed3","provisioning_mode":"ipam","service_ip":"172.16.100.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 903.768747ms
[...]
    - id: 120
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5731e0d7-554b-4507-8d6e-a571c120fc0a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"5731e0d7-554b-4507-8d6e-a571c120fc0a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.095835ms
[...]
