---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-09T08:00:27.840736Z","custom_routes_propagation_enabled":true,"id":"2324de60-5d7f-4e64-b663-a041ce00f110","is_default":false,"name":"test-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-09T08:00:27.840736Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 241.083166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 13.235167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2324de60-5d7f-4e64-b663-a041ce00f110
        method: GET
      response:
        body: '{"created_at":"2026-09-09T08:00:27.840736Z","custom_routes_propagation_enabled":true,"id":"2324de60-5d7f-4e64-b663-a041ce00f110","is_default":false,"name":"test-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-09T08:00:27.840736Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 156.129ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-crazy-feistel","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["192.168.0.0/24"],"vpc_id":"2324de60-5d7f-4e64-b663-a041ce00f110","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-09T08:00:28.249975Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","name":"tf-pn-crazy-feistel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-09-09T08:00:28.249975Z","id":"97401c4f-da67-46b6-b594-0e408ee5b044","private_network_id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"192.168.0.0/24","updated_at":"2026-09-09T08:00:28.249975Z","vpc_id":"2324de60-5d7f-4e64-b663-a041ce00f110"},{"created_at":"2026-09-09T08:00:28.249975Z","id":"0c73588d-4b0e-41ec-9894-a8e399d0f02a","private_network_id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:e35a::/64","updated_at":"2026-09-09T08:00:28.249975Z","vpc_id":"2324de60-5d7f-4e64-b663-a041ce00f110"}],"tags":[],"updated_at":"2026-09-09T08:00:28.249975Z","vpc_id":"2324de60-5d7f-4e64-b663-a041ce00f110"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 822.309792ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8db394f9-5956-4ffd-a1a2-51a2967399e4
        method: GET
      response:
        body: '{"created_at":"2026-09-09T08:00:28.249975Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","name":"tf-pn-crazy-feistel","orga[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-instance","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-09T08:00:30.141365Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e53913d9-8bc3-4d92-b7da-e094dc264b53","ip":"192.168.0.2","name":null,"port":5432,"private_network":{"private_network_id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","provisioning_mode":"ipam","service_ip":"192.168.0.2/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","high_availability_mode":"disabled","id":"ccb7a7c2-780b-49ea-8619-eb1af0f8f071","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 2.187974917s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ccb7a7c2-780b-49ea-8619-eb1af0f8f071
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-09T08:00:30.141365Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e53913d9-8b[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ccb7a7c2-780b-49ea-8619-eb1af0f8f071
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-09T08:00:30.141365Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"e53913d9-8bc3-4d92-b7da-e094dc264b53","ip":"192.168.0.2","name":null,"port":5432,"private_network":{"private_network_id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","provisioning_mode":"ipam","service_ip":"192.168.0.2/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","high_availability_mode":"disabled","id":"ccb7a7c2-780b-49ea-8619-eb1af0f8f071","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 233.844125ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ccb7a7c2-780b-49ea-8619-eb1af0f8f071/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVZktCVG0xeVRKRGd4VnN0djUybmFZandQRVhBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFNU1pNHhOamd1TUM0eU1CNFhEVEkyCk1Ea3dPVEE0TURFMU5sb1hEVE0yTURrd05qQTRNREUxTmxvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTVNaTR4TmpndU1[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=8db394f9-5956-4ffd-a1a2-51a2967399e4&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=ccb7a7c2-780b-49ea-8619-eb1af0f8f071&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.0.2/24","created_at":"2026-09-09T08:00:30.909301Z","id":"1cb5daa8-5c55-49bd-9e34-43cb58d659cf","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"ccb7a7c2-780b-49ea-8619-eb1af0f8f071","mac_address":"02:00:00:1F:EB:FF","name":"test-rdb-instance","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"97401c4f-da67-46b6-b594-0e408ee5b044"},"tags":["managed","scwdbaas"],"updated_at":"2026-09-09T08:01:06.324190Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 299.206167ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ccb7a7c2-780b-49ea-8619-eb1af0f8f071/snapshots
        method: POST
      response:
        body: '{"created_at":"2026-09-09T08:04:36.178221Z","expires_at":"2027-09-09T08:04:36.178221Z","id":"af93bbbf-a2a6-4b0d-b71b-b0e5b2dc198e","instance_id":"ccb7a7c2-780b-49ea-8619-eb1af0f8f071","instance_name":"test-rdb-instance","name":"test-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.559971167s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/af93bbbf-a2a6-4b0d-b71b-b0e5b2dc198e
        method: GET
      response:
        body: '{"created_at":"2026-09-09T08:04:36.178221Z","expires_at":"2027-09-09T08:04:36.178221Z","id":"af93bbbf-a2a6-4b0d-b71b-b0e5b2dc198e","instance_id":"ccb7a7c2-780b-49ea-8619-eb1af0f8f071","instance_name":"test-rdb-instance","name":"test-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 221.9835ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"instance_name":"test-instance-from-snapshot-pn-lb","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","node_type":"db-dev-s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/af93bbbf-a2a6-4b0d-b71b-b0e5b2dc198e/create-instance
        method: POST
      response:
        body:[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/45ab9c90-19c8-4cd1-9b5a-291c1b20f9ff
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-09T08:05:07.948007Z","encryption":{"enabled":false},"endpoint":{"id":"9a933bcc-cae0-4c22-ae3b-f4c9ecdeef58","ip":"195.154.156.189","load_balancer":{},"name":null,"port":1197},"endpoints":[{"id":"9a933bcc-cae0-4c22-ae3b-f4c9ecdeef58","ip":"195.154.156.189","load_balancer":{},"name":null,"port":1197}],"engine":"PostgreSQL-17","high_availability_mode":"disabled","id":"45ab9c90-19c8-4cd1-9b5a-291c1b20f9ff","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-instance-from-snapshot-pn-lb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 404.304584ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/45ab9c90-19c8-4cd1-9b5a-291c1b20f9ff/endpoints
        method: POST
      response:
        body: '{"id":"16c34a6a-560c-4887-b312-6aca0cf2ebef","ip":"192.168.0.3","name":null,"port":5432,"private_network":{"private_network_id":"8db394f9-5956-4ffd-a1a2-51a2967399e4","provisioning_mode":"ipam","service_ip":"192.168.0.3/24","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.050858667s
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/45ab9c90-19c8-4cd1-9b5a-291c1b20f9ff/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":true,"name":"my_initial_user"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 249.025541ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/45ab9c90-19c8-4cd1-9b5a-291c1b20f9ff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"45ab9c90-19c8-4cd1-9b5a-291c1b20f9ff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 216.058458ms
[...]
