---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-03T13:26:07.481176Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3f138a06-6f18-4339-9866-590f00ac6838","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-03T13:26:07.481176Z","id":"6a7e247e-0073-4e6f-8dc1-9616e2bed2e8","private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.120.0/22","updated_at":"2025-09-03T13:26:07.481176Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-03T13:26:07.481176Z","id":"ac7eeaa6-ea9e-4d13-b167-932e4c4950a6","private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:72bf::/64","updated_at":"2025-09-03T13:26:07.481176Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-03T13:26:07.481176Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 746.038167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3f138a06-6f18-4339-9866-590f00ac6838
        method: GET
      response:
        body: '{"created_at":"2025-09-03T13:26:07.481176Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3f138a06-6f18-4339-9866-590f00ac6838","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-03T13:26:07.481176Z","id":"6a7e247e-0073-4e6f-8dc1-9616e2bed2e8","private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.120.0/22","updated_at":"2025-09-03T13:26:07.481176Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-09-03T13:26:07.481176Z","id":"ac7eeaa6-ea9e-4d13-b167-932e4c4950a6","private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:72bf::/64","updated_at":"2025-09-03T13:26:07.481176Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-09-03T13:26:07.481176Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.937084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-endpoints","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-09-03T13:26:08.750928Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"7f585f8f-f987-4546-8078-1b6348be95f2","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"254b0919-794b-4131-adcb-a144a2969888","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.339785458s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/254b0919-794b-4131-adcb-a144a2969888
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-09-03T13:26:08.750928Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"7f585f8f-f987-4546-8078-1b6348be95f2","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"254b0919-794b-4131-adcb-a144a2969888","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.931ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/254b0919-794b-4131-adcb-a144a2969888
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-09-03T13:26:08.750928Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"7f585f8f-f987-4546-8078-1b6348be95f2","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"3f138a06-6f18-4339-9866-590f00ac6838","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"254b0919-794b-4131-adcb-a144a2969888","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.778875ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/254b0919-794b-4131-adcb-a144a2969888/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVYU8rREhJa25MNkI2akovSVJsYUN2SjEwVk5Bd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR4TWpBdU1qQWVGdzB5Ck5UQTVNRE14TXpJM016ZGFGdzB6TlRBNU1ERXhNekkzTXpkYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3f138a06-6f18-4339-9866-590f00ac6838&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=254b0919-794b-4131-adcb-a144a2969888&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.120.2/22","created_at":"2025-09-03T13:26:09.232571Z","id":"1c77c3fc-5cb6-4cd1-8249-ad2ccab6cb3c","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"254b0919-794b-4131-adcb-a144a2969888","mac_address":"02:00:00:12:6A:7C","name":"test-rdb-endpoints","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"6a7e247e-0073-4e6f-8dc1-9616e2bed2e8"},"tags":["managed","scwdbaas"],"updated_at":"2025-09-03T13:26:35.630258Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.2565ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/254b0919-794b-4131-adcb-a144a2969888/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.749125ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/7f585f8f-f987-4546-8078-1b6348be95f2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 270.860209ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/254b0919-794b-4131-adcb-a144a2969888
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"254b0919-794b-4131-adcb-a144a2969888","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 102.142917ms
[...]
