---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-rdb-endpoints\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"name\":\"test-rdb-endpoints\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:04:25.573653Z\",\"updated_at\":\"2025-08-28T12:04:25.573653Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"14524732-de54-48e3-9266-ab3fec25208e\",\"created_at\":\"2025-08-28T12:04:25.573653Z\",\"updated_at\":\"2025-08-28T12:04:25.573653Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"e1019d0d-3948-4935-8931-320e16cc53b7\",\"created_at\":\"2025-08-28T12:04:25.573653Z\",\"updated_at\":\"2025-08-28T12:04:25.573653Z\",\"subnet\":\"fd63:256c:45f7:8224::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 611.725965ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ea3903a9-e94e-47d7-bd9a-fd70637768b2
    method: GET
  response:
    body: "{\"id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"name\":\"test-rdb-endpoints\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:04:25.573653Z\",\"updated_at\":\"2025-08-28T12:04:25.573653Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"14524732-de54-48e3-9266-ab3fec25208e\",\"created_at\":\"2025-08-28T12:04:25.573653Z\",\"updated_at\":\"2025-08-28T12:04:25.573653Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"e1019d0d-3948-4935-8931-320e16cc53b7\",\"created_at\":\"2025-08-28T12:04:25.573653Z\",\"updated_at\":\"2025-08-28T12:04:25.573653Z\",\"subnet\":\"fd63:256c:45f7:8224::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 58.267798ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-endpoints\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"test_endpoints\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":[{\"private_network\":{\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"ipam_config\":{}}}],\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400\",\"name\":\"test-rdb-endpoints\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"test_endpoints\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.4.2\",\"port\":5432,\"name\":null,\"id\":\"db9ac67c-8e5b-41fc-a5c0-e5cda541b82b\",\"private_network\":{\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"service_ip\":\"172.16.4.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:26.468379Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 915.814696ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400
    method: GET
  response:
    body: "{\"id\":\"3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400\",\"name\":\"test-rdb-endpoints\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"test_endpoints\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.4.2\",\"port\":5432,\"name\":null,\"id\":\"db9ac67c-8e5b-41fc-a5c0-e5cda541b82b\",\"private_network\":{\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"service_ip\":\"172.16.4.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:26.468379Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.185046ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400
    method: GET
  response:
    body: "{\"id\":\"3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400\",\"name\":\"test-rdb-endpoints\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"test_endpoints\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.4.2\",\"port\":5432,\"name\":null,\"id\":\"db9ac67c-8e5b-41fc-a5c0-e5cda541b82b\",\"private_network\":{\"private_network_id\":\"ea3903a9-e94e-47d7-bd9a-fd70637768b2\",\"service_ip\":\"172.16.4.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:04:26.468379Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.509032ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVSk5vR3BFWnN6aFVaYTFTY3QrdjhncGNpV2Uwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTQwTGpJd0hoY05NalV3Ck9ESTRNVEl3TlRRNVdoY05NelV3T0RJMk1USXdOVFE1V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpRdU[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - ea3903a9-e94e-47d7-bd9a-fd70637768b2
      project_id:
      - fa1e3217-dc80-42ac-85c3-3f034b78b552
      resource_id:
      - 3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400
      resource_type:
      - rdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=ea3903a9-e94e-47d7-bd9a-fd70637768b2&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400&resource_type=rdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"b5f0e495-e6b8-4914-8af1-517da50f3478\",\"address\":\"172.16.4.2/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T12:04:26.906308Z\",\"updated_at\":\"2025-08-28T12:04:58.117079Z\",\"source\":{\"subnet_id\":\"14524732-de54-48e3-9266-ab3fec25208e\"},\"resource\":{\"type\":\"rdb_instance\",\"id\":\"3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400\",\"mac_address\":\"02:00:00:19:7C:BD\",\"name\":\"test-rdb-endpoints\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 48.661276ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":{\"load_balancer\":{}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400/endpoints
    method: POST
  response:
    body: "{\"port\":0,\"name\":null,\"id\":\"\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.307663ms
[...]
- id: 47
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/db9ac67c-8e5b-41fc-a5c0-e5cda541b82b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 130.175787ms
[...]
- id: 60
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"3d982fc5-b2e3-4c0a-b4a7-f3a8faacc400\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 64.982095ms
[...]
