---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-error-handling","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-08-25T13:24:25.747645Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","name":"test-rdb-error-handling","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-08-25T13:24:25.747645Z","id":"e9f81eb9-ebfa-4c07-a3a0-e70daca7caf2","private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.216.0/22","updated_at":"2025-08-25T13:24:25.747645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-08-25T13:24:25.747645Z","id":"10fbce52-4a61-43a2-ac71-c0b908c98905","private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:aad1::/64","updated_at":"2025-08-25T13:24:25.747645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-08-25T13:24:25.747645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 783.32025ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5521b495-b5e0-4514-93d3-0b111e2a1df4
        method: GET
      response:
        body: '{"created_at":"2025-08-25T13:24:25.747645Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","name":"test-rdb-error-handling","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-08-25T13:24:25.747645Z","id":"e9f81eb9-ebfa-4c07-a3a0-e70daca7caf2","private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.18.216.0/22","updated_at":"2025-08-25T13:24:25.747645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-08-25T13:24:25.747645Z","id":"10fbce52-4a61-43a2-ac71-c0b908c98905","private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:aad1::/64","updated_at":"2025-08-25T13:24:25.747645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-08-25T13:24:25.747645Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.422542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-error-handling","engine":"PostgreSQL-16","user_name":"test_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","rdb-error-handling"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-08-25T13:24:27.009080Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b60378ff-e4f5-4151-bd2a-0fd4e566d466","ip":"172.18.216.2","name":null,"port":5432,"private_network":{"private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","provisioning_mode":"ipam","service_ip":"172.18.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"5ac76d76-b010-4cad-87ff-e061bcf3c0e0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-error-handling","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","rdb-error-handling"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.378782917s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ac76d76-b010-4cad-87ff-e061bcf3c0e0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-08-25T13:24:27.009080Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b60378ff-e4f5-4151-bd2a-0fd4e566d466","ip":"172.18.216.2","name":null,"port":5432,"private_network":{"private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","provisioning_mode":"ipam","service_ip":"172.18.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"5ac76d76-b010-4cad-87ff-e061bcf3c0e0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-error-handling","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","rdb-error-handling"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.523458ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ac76d76-b010-4cad-87ff-e061bcf3c0e0
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-08-25T13:24:27.009080Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b60378ff-e4f5-4151-bd2a-0fd4e566d466","ip":"172.18.216.2","name":null,"port":5432,"private_network":{"private_network_id":"5521b495-b5e0-4514-93d3-0b111e2a1df4","provisioning_mode":"ipam","service_ip":"172.18.216.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"5ac76d76-b010-4cad-87ff-e061bcf3c0e0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-error-handling","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","rdb-error-handling"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.68970725s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ac76d76-b010-4cad-87ff-e061bcf3c0e0/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVQUxGZmRYVmtjT3lQQ0tIZWJoVEViRFM5NU9Jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhPQzR5TVRZdU1qQWVGdzB5Ck5UQTRNalV4TXpJMU16SmFGdzB6TlRBNE1qTXhNekkxTXpKYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRndU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5521b495-b5e0-4514-93d3-0b111e2a1df4&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=5ac76d76-b010-4cad-87ff-e061bcf3c0e0&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.18.216.2/22","created_at":"2025-08-25T13:24:27.531411Z","id":"ffdd283c-a23f-4904-955d-e9185c41aae0","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"5ac76d76-b010-4cad-87ff-e061bcf3c0e0","mac_address":"02:00:00:11:E8:29","name":"test-rdb-error-handling","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"e9f81eb9-ebfa-4c07-a3a0-e70daca7caf2"},"tags":["managed","scwdbaas"],"updated_at":"2025-08-25T13:25:02.371342Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.528875ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ac76d76-b010-4cad-87ff-e061bcf3c0e0/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.887ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5ac76d76-b010-4cad-87ff-e061bcf3c0e0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"5ac76d76-b010-4cad-87ff-e061bcf3c0e0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 187.112291ms
[...]
