---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-02-06T13:43:34.546289Z","id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-02-06T13:43:34.546289Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.559708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/1bcb4a6c-5c95-4dc2-8192-9352327134aa
        method: GET
      response:
        body: '{"created_at":"2025-02-06T13:43:34.546289Z","id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-02-06T13:43:34.546289Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.275958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.93.165","created_at":"2025-02-06T13:43:35.256930Z","gateway_id":null,"id":"6c3cdd24-5120-4be8-8e9a-f9967737e8ec","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"165-93-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:43:35.256930Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 848.496625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-06T13:43:34.810562Z","dhcp_enabled":true,"id":"cea34083-2a5e-4581-8373-4ead36ce72cd","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-02-06T13:43:34.810562Z","id":"96a6eff5-15b1-4a9b-b35e-9e9f72dab3e1","private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","updated_at":"2025-02-06T13:43:34.810562Z","vpc_id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa"},{"created_at":"2025-02-06T13:43:34.810562Z","id":"6bca3abc-8fc1-4936-9cd1-245ddc06199a","private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:b611::/64","updated_at":"2025-02-06T13:43:34.810562Z","vpc_id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa"}],"tags":[],"updated_at":"2025-02-06T13:43:34.810562Z","vpc_id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 588.648ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/6c3cdd24-5120-4be8-8e9a-f9967737e8ec
        method: GET
      response:
        body: '{"address":"51.15.93.165","created_at":"2025-02-06T13:43:35.256930Z","gateway_id":null,"id":"6c3cdd24-5120-4be8-8e9a-f9967737e8ec","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"165-93-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:43:35.256930Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.748042ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/cea34083-2a5e-4581-8373-4ead36ce72cd
        method: GET
      response:
        body: '{"created_at":"2025-02-06T13:43:34.810562Z","dhcp_enabled":true,"id":"cea34083-2a5e-4581-8373-4ead36ce72cd","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2025-02-06T13:43:34.810562Z","id":"96a6eff5-15b1-4a9b-b35e-9e9f72dab3e1","private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","updated_at":"2025-02-06T13:43:34.810562Z","vpc_id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa"},{"created_at":"2025-02-06T13:43:34.810562Z","id":"6bca3abc-8fc1-4936-9cd1-245ddc06199a","private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5c:d510:d730:b611::/64","updated_at":"2025-02-06T13:43:34.810562Z","vpc_id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa"}],"tags":[],"updated_at":"2025-02-06T13:43:34.810562Z","vpc_id":"1bcb4a6c-5c95-4dc2-8192-9352327134aa"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.685625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"6c3cdd24-5120-4be8-8e9a-f9967737e8ec","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-02-06T13:43:35.536786Z","gateway_networks":[],"id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","ip":{"address":"51.15.93.165","created_at":"2025-02-06T13:43:35.256930Z","gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","id":"6c3cdd24-5120-4be8-8e9a-f9967737e8ec","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"165-93-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:43:35.256930Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-02-06T13:43:35.536786Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.350041ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/f8c0e45e-12fc-4b7c-a83d-dc071077d5e6
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-02-06T13:43:35.536786Z","gateway_networks":[],"id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","ip":{"address":"51.15.93.165","created_at":"2025-02-06T13:43:35.256930Z","gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","id":"6c3cdd24-5120-4be8-8e9a-f9967737e8ec","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"165-93-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-02-06T13:43:35.256930Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-02-06T13:43:35.582081Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.788208ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:43:35.796469Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8ab84ab9-5ca6-4158-96c9-e5b10678247e","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0e00c77b-289b-4aa7-92e8-8353c9fab5ff","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 867.807ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0e00c77b-289b-4aa7-92e8-8353c9fab5ff
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:43:35.796469Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8ab84ab9-5ca6-4158-96c9-e5b10678247e","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0e00c77b-289b-4aa7-92e8-8353c9fab5ff","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.817709ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":"192.168.1.2/24","created_at":"2025-02-06T13:43:41.658283Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","id":"365617f1-5a22-43de-a8c0-2e5b64d09513","ipam_config":{"ipam_ip_id":"d2793bef-10af-4ea0-bf40-53d70c54830a","push_default_route":true},"mac_address":null,"private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","status":"created","updated_at":"2025-02-06T13:43:41.658283Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.58825ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/365617f1-5a22-43de-a8c0-2e5b64d09513
        method: GET
      response:
        body: '{"address":"192.168.1.2/24","created_at":"2025-02-06T13:43:41.658283Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","id":"365617f1-5a22-43de-a8c0-2e5b64d09513","ipam_config":{"ipam_ip_id":"d2793bef-10af-4ea0-bf40-53d70c54830a","push_default_route":true},"mac_address":"02:00:00:1B:D8:53","private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","status":"ready","updated_at":"2025-02-06T13:43:53.000159Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.1155ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=365617f1-5a22-43de-a8c0-2e5b64d09513&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-02-06T13:43:41.563497Z","id":"d2793bef-10af-4ea0-bf40-53d70c54830a","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","resource":{"id":"365617f1-5a22-43de-a8c0-2e5b64d09513","mac_address":"02:00:00:1B:D8:53","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"96a6eff5-15b1-4a9b-b35e-9e9f72dab3e1"},"tags":[],"updated_at":"2025-02-06T13:43:42.239452Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.166417ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0e00c77b-289b-4aa7-92e8-8353c9fab5ff
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:43:35.796469Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8ab84ab9-5ca6-4158-96c9-e5b10678247e","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"cea34083-2a5e-4581-8373-4ead36ce72cd","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0e00c77b-289b-4aa7-92e8-8353c9fab5ff","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.689542ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0e00c77b-289b-4aa7-92e8-8353c9fab5ff/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVTVY5SmhuVDZhOUdsMTcrTVkxV1hhanVLTWRnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdNakEyTVRNME5ETXdXaGNOTXpVd01qQTBNVE0wTkRNd1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-02-06T13:46:37.834944Z","gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","id":"3366ce39-1936-46a9-8ef8-a939413bc0d2","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-02-06T13:46:37.834944Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.85725ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/3366ce39-1936-46a9-8ef8-a939413bc0d2
        method: GET
      response:
        body: '{"created_at":"2025-02-06T13:46:37.834944Z","gateway_id":"f8c0e45e-12fc-4b7c-a83d-dc071077d5e6","id":"3366ce39-1936-46a9-8ef8-a939413bc0d2","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-02-06T13:46:37.834944Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.974958ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/365617f1-5a22-43de-a8c0-2e5b64d09513?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 139.907083ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/8ab84ab9-5ca6-4158-96c9-e5b10678247e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 267.217583ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/365617f1-5a22-43de-a8c0-2e5b64d09513
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"365617f1-5a22-43de-a8c0-2e5b64d09513","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 47.221667ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/f8c0e45e-12fc-4b7c-a83d-dc071077d5e6?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.52375ms
[...]
