---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-standalone-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-11-04T14:35:22.240334Z","custom_routes_propagation_enabled":true,"id":"43151f3a-3b90-4033-a278-05c818c16b27","is_default":false,"name":"test-rdb-standalone-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-04T14:35:22.240334Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.649625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/43151f3a-3b90-4033-a278-05c818c16b27
        method: GET
      response:
        body: '{"created_at":"2025-11-04T14:35:22.240334Z","custom_routes_propagation_enabled":true,"id":"43151f3a-3b90-4033-a278-05c818c16b27","is_default":false,"name":"test-rdb-standalone-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-04T14:35:22.240334Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.823708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-pn-standalone-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.213.254.0/24"],"vpc_id":"43151f3a-3b90-4033-a278-05c818c16b27","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-04T14:35:22.378237Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","name":"test-pn-standalone-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-11-04T14:35:22.378237Z","id":"b8997b39-192f-4ea1-8d59-ee6248f47247","private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"10.213.254.0/24","updated_at":"2025-11-04T14:35:22.378237Z","vpc_id":"43151f3a-3b90-4033-a278-05c818c16b27"},{"created_at":"2025-11-04T14:35:22.378237Z","id":"0272202d-ff0f-43e2-b077-ce3a1f67d36d","private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:c60d::/64","updated_at":"2025-11-04T14:35:22.378237Z","vpc_id":"43151f3a-3b90-4033-a278-05c818c16b27"}],"tags":[],"updated_at":"2025-11-04T14:35:22.378237Z","vpc_id":"43151f3a-3b90-4033-a278-05c818c16b27"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 590.01475ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3dc5769b-36d1-428c-8d9e-bcca532a1d85
        method: GET
      response:
        body: '{"created_at":"2025-11-04T14:35:22.378237Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","name":"test-pn-standalone-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-11-04T14:35:22.378237Z","id":"b8997b39-192f-4ea1-8d59-ee6248f47247","private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"10.213.254.0/24","updated_at":"2025-11-04T14:35:22.378237Z","vpc_id":"43151f3a-3b90-4033-a278-05c818c16b27"},{"created_at":"2025-11-04T14:35:22.378237Z","id":"0272202d-ff0f-43e2-b077-ce3a1f67d36d","private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:c60d::/64","updated_at":"2025-11-04T14:35:22.378237Z","vpc_id":"43151f3a-3b90-4033-a278-05c818c16b27"}],"tags":[],"updated_at":"2025-11-04T14:35:22.378237Z","vpc_id":"43151f3a-3b90-4033-a278-05c818c16b27"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.354834ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-standalone-ip","engine":"PostgreSQL-16","user_name":"test_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","rdb-standalone-ip"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","service_ip":"10.213.254.4/28"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-04T14:35:23.389830Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8fc70d3c-ea6e-4bca-8d31-e4352c7653e9","ip":"10.213.254.4","name":null,"port":5432,"private_network":{"private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","provisioning_mode":"static","service_ip":"10.213.254.4/28","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6f779f86-8391-4f1b-a21f-fa9c504ce0e6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-standalone-ip","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","rdb-standalone-ip"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 939.422375ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6f779f86-8391-4f1b-a21f-fa9c504ce0e6
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-04T14:35:23.389830Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8fc70d3c-ea6e-4bca-8d31-e4352c7653e9","ip":"10.213.254.4","name":null,"port":5432,"private_network":{"private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","provisioning_mode":"static","service_ip":"10.213.254.4/28","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6f779f86-8391-4f1b-a21f-fa9c504ce0e6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-standalone-ip","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","rdb-standalone-ip"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.324458ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6f779f86-8391-4f1b-a21f-fa9c504ce0e6
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-04T14:35:23.389830Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"8fc70d3c-ea6e-4bca-8d31-e4352c7653e9","ip":"10.213.254.4","name":null,"port":5432,"private_network":{"private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","provisioning_mode":"static","service_ip":"10.213.254.4/28","zone":"fr-par-1"}}],"engine":"PostgreSQL-16","id":"6f779f86-8391-4f1b-a21f-fa9c504ce0e6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-standalone-ip","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","rdb-standalone-ip"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.692791ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6f779f86-8391-4f1b-a21f-fa9c504ce0e6/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVVTIwR2FsOThjUnlvSkVDUlVxUDFMTjJ6aDhrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFd0xqSXhNeTR5TlRRdU5EQWVGdzB5Ck5URXhNRFF4TkRNMk5URmFGdzB6TlRFeE1ESXhORE0yTlRGYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hNQzR5TVRNdU1[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/8fc70d3c-ea6e-4bca-8d31-e4352c7653e9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 191.988166ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","service_ip":"10.213.254.20/28"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6f779f86-8391-4f1b-a21f-fa9c504ce0e6/endpoints
        method: POST
      response:
        body: '{"id":"0f1798cb-4715-4f26-8fbc-44ecfb9940a1","ip":"10.213.254.20","name":null,"port":5432,"private_network":{"private_network_id":"3dc5769b-36d1-428c-8d9e-bcca532a1d85","provisioning_mode":"static","service_ip":"10.213.254.20/28","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 720.221834ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6f779f86-8391-4f1b-a21f-fa9c504ce0e6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"6f779f86-8391-4f1b-a21f-fa9c504ce0e6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 178.491959ms
[...]
