---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:19:27.639970Z","dhcp_enabled":true,"id":"50b733a2-0408-4cbc-9a2f-29c28f8dd081","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:19:27.639970Z","id":"b7dfff05-fc7c-483f-9882-655d46e05c77","subnet":"172.17.24.0/22","updated_at":"2024-05-14T09:19:27.639970Z"},{"created_at":"2024-05-14T09:19:27.639970Z","id":"2258f2bb-1d56-48cd-aa6c-f072222c6aff","subnet":"fd5f:519c:6d46:f3bc::/64","updated_at":"2024-05-14T09:19:27.639970Z"}],"tags":[],"updated_at":"2024-05-14T09:19:27.639970Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 839.131041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/50b733a2-0408-4cbc-9a2f-29c28f8dd081
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:19:27.639970Z","dhcp_enabled":true,"id":"50b733a2-0408-4cbc-9a2f-29c28f8dd081","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:19:27.639970Z","id":"b7dfff05-fc7c-483f-9882-655d46e05c77","subnet":"172.17.24.0/22","updated_at":"2024-05-14T09:19:27.639970Z"},{"created_at":"2024-05-14T09:19:27.639970Z","id":"2258f2bb-1d56-48cd-aa6c-f072222c6aff","subnet":"fd5f:519c:6d46:f3bc::/64","updated_at":"2024-05-14T09:19:27.639970Z"}],"tags":[],"updated_at":"2024-05-14T09:19:27.639970Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.282599ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"50b733a2-0408-4cbc-9a2f-29c28f8dd081","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:19:29.145820Z","endpoint":null,"endpoints":[{"id":"c1448a13-75f5-43ec-99e6-d1953bb92269","ip":"172.17.24.2","name":null,"port":5432,"private_network":{"private_network_id":"50b733a2-0408-4cbc-9a2f-29c28f8dd081","provisioning_mode":"ipam","service_ip":"172.17.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.482645586s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:19:29.145820Z","endpoint":null,"endpoints":[{"id":"c1448a13-75f5-43ec-99e6-d1953bb92269","ip":"172.17.24.2","name":null,"port":5432,"private_network":{"private_network_id":"50b733a2-0408-4cbc-9a2f-29c28f8dd081","provisioning_mode":"ipam","service_ip":"172.17.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 407.995041ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:19:29.145820Z","endpoint":null,"endpoints":[{"id":"c1448a13-75f5-43ec-99e6-d1953bb92269","ip":"172.17.24.2","name":null,"port":5432,"private_network":{"private_network_id":"50b733a2-0408-4cbc-9a2f-29c28f8dd081","provisioning_mode":"ipam","service_ip":"172.17.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.666907ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVUXhIWUN5VDFKaTk5MzdMajRteTJhckdnZ2Mwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOeTR5TkM0eU1CNFhEVEkwCk1EVXhOREE1TWpBek0xb1hEVE0wTURVeE1qQTVNakF6TTFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tnk0eU5[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.826951ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/c1448a13-75f5-43ec-99e6-d1953bb92269
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 298.897265ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"22d9cbcf-e380-4c9e-8ff2-5f3e8a3a2aed","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.140721ms
[...]
