---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T18:48:58.633118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"4b44bef7-aa81-42d6-92c6-edc4b2ecb295","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T18:48:58.633118Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.131817ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/4b44bef7-aa81-42d6-92c6-edc4b2ecb295
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T18:48:58.633118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"4b44bef7-aa81-42d6-92c6-edc4b2ecb295","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T18:48:58.633118Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.618954ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:48:58.635003Z","dhcp_enabled":true,"id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-03T18:48:58.635003Z","id":"f1e6693f-8d47-4cab-ad1f-61432dcb68e2","private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.0.0/22","updated_at":"2024-10-03T18:48:58.635003Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"},{"created_at":"2024-10-03T18:48:58.635003Z","id":"be600791-9714-4bc8-9fc6-4d71b52ac80b","private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:3b62::/64","updated_at":"2024-10-03T18:48:58.635003Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}],"tags":[],"updated_at":"2024-10-03T18:48:58.635003Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 682.408991ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/efee04a6-5ab6-464a-93c4-c74e9cf28a14
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:48:58.635003Z","dhcp_enabled":true,"id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2024-10-03T18:48:58.635003Z","id":"f1e6693f-8d47-4cab-ad1f-61432dcb68e2","private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.0.0/22","updated_at":"2024-10-03T18:48:58.635003Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"},{"created_at":"2024-10-03T18:48:58.635003Z","id":"be600791-9714-4bc8-9fc6-4d71b52ac80b","private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd2c:2ff0:469a:3b62::/64","updated_at":"2024-10-03T18:48:58.635003Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}],"tags":[],"updated_at":"2024-10-03T18:48:58.635003Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.774182ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.116.2","created_at":"2024-10-03T18:48:59.400654Z","gateway_id":null,"id":"e1f8f48d-5290-44d4-be3f-426caefa4472","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T18:48:59.400654Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 891.077361ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/e1f8f48d-5290-44d4-be3f-426caefa4472
        method: GET
      response:
        body: '{"address":"51.15.116.2","created_at":"2024-10-03T18:48:59.400654Z","gateway_id":null,"id":"e1f8f48d-5290-44d4-be3f-426caefa4472","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T18:48:59.400654Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.339615ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"e1f8f48d-5290-44d4-be3f-426caefa4472","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T18:48:59.659702Z","gateway_networks":[],"id":"1aa3a104-c257-4e34-a687-fed570299237","ip":{"address":"51.15.116.2","created_at":"2024-10-03T18:48:59.400654Z","gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","id":"e1f8f48d-5290-44d4-be3f-426caefa4472","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T18:48:59.400654Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-03T18:48:59.659702Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.441566ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/1aa3a104-c257-4e34-a687-fed570299237
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T18:48:59.659702Z","gateway_networks":[],"id":"1aa3a104-c257-4e34-a687-fed570299237","ip":{"address":"51.15.116.2","created_at":"2024-10-03T18:48:59.400654Z","gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","id":"e1f8f48d-5290-44d4-be3f-426caefa4472","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"2-116-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T18:48:59.400654Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-10-03T18:48:59.736348Z","upstream_dns_servers":[],"version":"0.6.7","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.631516ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T18:48:59.664351Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"6be8f454-16fe-4915-a98f-26b13054be40","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"5f2a94ca-3098-46d3-af68-743e9cfefd74","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.029688758s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5f2a94ca-3098-46d3-af68-743e9cfefd74
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T18:48:59.664351Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"6be8f454-16fe-4915-a98f-26b13054be40","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"5f2a94ca-3098-46d3-af68-743e9cfefd74","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.619754ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"4b44bef7-aa81-42d6-92c6-edc4b2ecb295"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-03T18:49:12.131798Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T18:48:58.633118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"4b44bef7-aa81-42d6-92c6-edc4b2ecb295","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T18:48:58.633118Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","id":"edb1c318-ab34-4e9e-a040-937b6dccbb6b","ipam_config":null,"mac_address":null,"private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","status":"created","updated_at":"2024-10-03T18:49:12.131798Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.324783498s
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/edb1c318-ab34-4e9e-a040-937b6dccbb6b
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-03T18:49:12.131798Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T18:48:58.633118Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"4b44bef7-aa81-42d6-92c6-edc4b2ecb295","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T18:48:58.633118Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","id":"edb1c318-ab34-4e9e-a040-937b6dccbb6b","ipam_config":null,"mac_address":"02:00:00:1E:C8:8F","private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","status":"ready","updated_at":"2024-10-03T18:49:24.502378Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.783449ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=efee04a6-5ab6-464a-93c4-c74e9cf28a14&resource_id=edb1c318-ab34-4e9e-a040-937b6dccbb6b&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.1/24","created_at":"2024-10-03T18:49:12.078128Z","id":"1e8226e6-db5f-4e9e-bc9d-8685689add48","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","resource":{"id":"edb1c318-ab34-4e9e-a040-937b6dccbb6b","mac_address":"02:00:00:1E:C8:8F","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"f1e6693f-8d47-4cab-ad1f-61432dcb68e2"},"tags":[],"updated_at":"2024-10-03T18:49:12.749544Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.297266ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5f2a94ca-3098-46d3-af68-743e9cfefd74
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T18:48:59.664351Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"6be8f454-16fe-4915-a98f-26b13054be40","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"efee04a6-5ab6-464a-93c4-c74e9cf28a14","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"5f2a94ca-3098-46d3-af68-743e9cfefd74","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.310506ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5f2a94ca-3098-46d3-af68-743e9cfefd74/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVRDQ5NmUyOEhIcVJrazNvZnZqWDN3QzNZNGxNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qUXhNREF6TVRnMU1EQTJXaGNOTXpReE1EQXhNVGcxTURBMldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=efee04a6-5ab6-464a-93c4-c74e9cf28a14&resource_id=5f2a94ca-3098-46d3-af68-743e9cfefd74&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.644315ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-10-03T18:52:32.043324Z","gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","id":"c6144c94-4983-43f2-9ab8-0c00ec78ef81","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-03T18:52:32.043324Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.599461ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/c6144c94-4983-43f2-9ab8-0c00ec78ef81
        method: GET
      response:
        body: '{"created_at":"2024-10-03T18:52:32.043324Z","gateway_id":"1aa3a104-c257-4e34-a687-fed570299237","id":"c6144c94-4983-43f2-9ab8-0c00ec78ef81","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-10-03T18:52:32.043324Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.752942ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/edb1c318-ab34-4e9e-a040-937b6dccbb6b?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 118.342631ms
[...]
    - id: 75
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/6be8f454-16fe-4915-a98f-26b13054be40
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 310.815905ms
[...]
    - id: 77
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/edb1c318-ab34-4e9e-a040-937b6dccbb6b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"edb1c318-ab34-4e9e-a040-937b6dccbb6b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.99117ms
[...]
    - id: 81
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/1aa3a104-c257-4e34-a687-fed570299237?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 82.100069ms
[...]
