---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-16T15:08:03.043045Z","custom_routes_propagation_enabled":false,"id":"b1a4f7bb-2fac-4376-adc4-189807a14886","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-05-16T15:08:03.043045Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.950986ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/b1a4f7bb-2fac-4376-adc4-189807a14886
        method: GET
      response:
        body: '{"created_at":"2025-05-16T15:08:03.043045Z","custom_routes_propagation_enabled":false,"id":"b1a4f7bb-2fac-4376-adc4-189807a14886","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2025-05-16T15:08:03.043045Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.454242ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.47.221","created_at":"2025-05-16T15:08:03.660419Z","id":"baef0419-58b1-4a71-9bb4-6e40aefda46e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"221-47-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T15:08:03.660419Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 855.545397ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["192.168.1.0/24"],"vpc_id":"b1a4f7bb-2fac-4376-adc4-189807a14886"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-16T15:08:03.234262Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"81e18a36-837f-4ce0-8e62-29232a3e926c","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2025-05-16T15:08:03.234262Z","id":"0901ef2f-2689-4c13-8215-8b0dbd87b3f4","private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24","updated_at":"2025-05-16T15:08:03.234262Z","vpc_id":"b1a4f7bb-2fac-4376-adc4-189807a14886"},{"created_at":"2025-05-16T15:08:03.234262Z","id":"e03ed66a-62f7-4f39-b1c2-2accd32bfcc5","private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd68:d440:21c4:509f::/64","updated_at":"2025-05-16T15:08:03.234262Z","vpc_id":"b1a4f7bb-2fac-4376-adc4-189807a14886"}],"tags":[],"updated_at":"2025-05-16T15:08:03.234262Z","vpc_id":"b1a4f7bb-2fac-4376-adc4-189807a14886"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 615.650333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/81e18a36-837f-4ce0-8e62-29232a3e926c
        method: GET
      response:
        body: '{"created_at":"2025-05-16T15:08:03.234262Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"81e18a36-837f-4ce0-8e62-29232a3e926c","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2025-05-16T15:08:03.234262Z","id":"0901ef2f-2689-4c13-8215-8b0dbd87b3f4","private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24","updated_at":"2025-05-16T15:08:03.234262Z","vpc_id":"b1a4f7bb-2fac-4376-adc4-189807a14886"},{"created_at":"2025-05-16T15:08:03.234262Z","id":"e03ed66a-62f7-4f39-b1c2-2accd32bfcc5","private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd68:d440:21c4:509f::/64","updated_at":"2025-05-16T15:08:03.234262Z","vpc_id":"b1a4f7bb-2fac-4376-adc4-189807a14886"}],"tags":[],"updated_at":"2025-05-16T15:08:03.234262Z","vpc_id":"b1a4f7bb-2fac-4376-adc4-189807a14886"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.658036ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/baef0419-58b1-4a71-9bb4-6e40aefda46e
        method: GET
      response:
        body: '{"address":"51.15.47.221","created_at":"2025-05-16T15:08:03.660419Z","id":"baef0419-58b1-4a71-9bb4-6e40aefda46e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"221-47-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T15:08:03.660419Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.984383ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":[],"type":"VPC-GW-S","ip_id":"baef0419-58b1-4a71-9bb4-6e40aefda46e","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T15:08:03.969575Z","gateway_networks":[],"id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","ipv4":{"address":"51.15.47.221","created_at":"2025-05-16T15:08:03.660419Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"baef0419-58b1-4a71-9bb4-6e40aefda46e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"221-47-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T15:08:03.660419Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T15:08:03.969575Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.457338ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/fa4ff311-6456-4dc1-9f43-e2af26662dac
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T15:08:03.969575Z","gateway_networks":[],"id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","ipv4":{"address":"51.15.47.221","created_at":"2025-05-16T15:08:03.660419Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"baef0419-58b1-4a71-9bb4-6e40aefda46e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"221-47-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T15:08:03.660419Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T15:08:04.032896Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.360255ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-16","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","service_ip":"192.168.1.254/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-16T15:08:04.197521Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c75c88db-abc0-4a72-9788-885a5c0703d5","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"5fe94e6c-b723-49e9-84e4-1cbe88c81347","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 876.258288ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5fe94e6c-b723-49e9-84e4-1cbe88c81347
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-16T15:08:04.197521Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c75c88db-abc0-4a72-9788-885a5c0703d5","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"5fe94e6c-b723-49e9-84e4-1cbe88c81347","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.006807ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-16T15:08:09.555794Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"80b74932-27a3-4e34-aaef-2601be3dadc7","ipam_ip_id":"910e4f3d-3a6f-494d-9d20-419c2a7a6685","masquerade_enabled":true,"private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","push_default_route":true,"status":"created","updated_at":"2025-05-16T15:08:09.555794Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 460.625415ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/fa4ff311-6456-4dc1-9f43-e2af26662dac
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T15:08:03.969575Z","gateway_networks":[{"created_at":"2025-05-16T15:08:09.555794Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"80b74932-27a3-4e34-aaef-2601be3dadc7","ipam_ip_id":"910e4f3d-3a6f-494d-9d20-419c2a7a6685","mac_address":"02:00:00:17:CC:7B","masquerade_enabled":true,"private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","push_default_route":true,"status":"configuring","updated_at":"2025-05-16T15:08:15.520828Z","zone":"nl-ams-1"}],"id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","ipv4":{"address":"51.15.47.221","created_at":"2025-05-16T15:08:03.660419Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"baef0419-58b1-4a71-9bb4-6e40aefda46e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"221-47-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T15:08:03.660419Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T15:08:09.696094Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.551851ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/80b74932-27a3-4e34-aaef-2601be3dadc7
        method: GET
      response:
        body: '{"created_at":"2025-05-16T15:08:09.555794Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"80b74932-27a3-4e34-aaef-2601be3dadc7","ipam_ip_id":"910e4f3d-3a6f-494d-9d20-419c2a7a6685","mac_address":"02:00:00:17:CC:7B","masquerade_enabled":true,"private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","push_default_route":true,"status":"ready","updated_at":"2025-05-16T15:08:20.424281Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.847002ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=81e18a36-837f-4ce0-8e62-29232a3e926c&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=80b74932-27a3-4e34-aaef-2601be3dadc7&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-05-16T15:08:09.491265Z","id":"910e4f3d-3a6f-494d-9d20-419c2a7a6685","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","resource":{"id":"80b74932-27a3-4e34-aaef-2601be3dadc7","mac_address":"02:00:00:17:CC:7B","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"0901ef2f-2689-4c13-8215-8b0dbd87b3f4"},"tags":[],"updated_at":"2025-05-16T15:08:10.084438Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.061859ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=80b74932-27a3-4e34-aaef-2601be3dadc7&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.2/24","created_at":"2025-05-16T15:08:09.491265Z","id":"910e4f3d-3a6f-494d-9d20-419c2a7a6685","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","resource":{"id":"80b74932-27a3-4e34-aaef-2601be3dadc7","mac_address":"02:00:00:17:CC:7B","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"0901ef2f-2689-4c13-8215-8b0dbd87b3f4"},"tags":[],"updated_at":"2025-05-16T15:08:10.084438Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.999126ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5fe94e6c-b723-49e9-84e4-1cbe88c81347
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-16T15:08:04.197521Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c75c88db-abc0-4a72-9788-885a5c0703d5","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"81e18a36-837f-4ce0-8e62-29232a3e926c","provisioning_mode":"static","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-16","id":"5fe94e6c-b723-49e9-84e4-1cbe88c81347","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.628977ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5fe94e6c-b723-49e9-84e4-1cbe88c81347/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVRm9kY3dBbTBtUEd4T3RlRHRyNStMYTN0WEJJd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdOVEUyTVRVd09UQTNXaGNOTXpVd05URTBNVFV3T1RBM1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","public_port":42,"private_ip":"192.168.1.2","private_port":5432,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-05-16T15:10:36.302389Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"206c264c-839f-4995-95a4-5474bac6d936","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-05-16T15:10:36.302389Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.214247ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules/206c264c-839f-4995-95a4-5474bac6d936
        method: GET
      response:
        body: '{"created_at":"2025-05-16T15:10:36.302389Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"206c264c-839f-4995-95a4-5474bac6d936","private_ip":"192.168.1.2","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2025-05-16T15:10:36.302389Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.83129ms
[...]
    - id: 70
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/c75c88db-abc0-4a72-9788-885a5c0703d5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 330.073213ms
[...]
    - id: 72
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/80b74932-27a3-4e34-aaef-2601be3dadc7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"80b74932-27a3-4e34-aaef-2601be3dadc7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.950421ms
[...]
    - id: 74
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/fa4ff311-6456-4dc1-9f43-e2af26662dac?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T15:08:03.969575Z","gateway_networks":[],"id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","ipv4":{"address":"51.15.47.221","created_at":"2025-05-16T15:08:03.660419Z","gateway_id":"fa4ff311-6456-4dc1-9f43-e2af26662dac","id":"baef0419-58b1-4a71-9bb4-6e40aefda46e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"221-47-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T15:08:03.660419Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T15:10:45.462261Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.820045ms
[...]
