---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-01T22:18:40.109444Z","dhcp_enabled":true,"id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","name":"test-rdb-endpoints","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:18:40.109444Z","id":"c3c5eb9a-828e-4a39-848e-27a1fd9eda3c","private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-01T22:18:40.109444Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T22:18:40.109444Z","id":"666668a7-4a29-43ee-aa7d-d5b39c136dbc","private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2be7::/64","updated_at":"2024-10-01T22:18:40.109444Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T22:18:40.109444Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 795.428409ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5f5d9be2-27cf-470f-a0f1-285f03df0b96
        method: GET
      response:
        body: '{"created_at":"2024-10-01T22:18:40.109444Z","dhcp_enabled":true,"id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","name":"test-rdb-endpoints","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:18:40.109444Z","id":"c3c5eb9a-828e-4a39-848e-27a1fd9eda3c","private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-01T22:18:40.109444Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T22:18:40.109444Z","id":"666668a7-4a29-43ee-aa7d-d5b39c136dbc","private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:2be7::/64","updated_at":"2024-10-01T22:18:40.109444Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T22:18:40.109444Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.73872ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-01T22:18:41.216183Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3fced075-2fb0-4f15-a57f-3e5b45de8888","ip":"172.16.112.2","name":null,"port":5432,"private_network":{"private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","provisioning_mode":"ipam","service_ip":"172.16.112.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"2f300f74-d9e5-4d83-b54e-eb2060099556","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.292645242s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2f300f74-d9e5-4d83-b54e-eb2060099556
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-01T22:18:41.216183Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3fced075-2fb0-4f15-a57f-3e5b45de8888","ip":"172.16.112.2","name":null,"port":5432,"private_network":{"private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","provisioning_mode":"ipam","service_ip":"172.16.112.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"2f300f74-d9e5-4d83-b54e-eb2060099556","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.779908ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2f300f74-d9e5-4d83-b54e-eb2060099556
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-01T22:18:41.216183Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"3fced075-2fb0-4f15-a57f-3e5b45de8888","ip":"172.16.112.2","name":null,"port":5432,"private_network":{"private_network_id":"5f5d9be2-27cf-470f-a0f1-285f03df0b96","provisioning_mode":"ipam","service_ip":"172.16.112.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"2f300f74-d9e5-4d83-b54e-eb2060099556","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.675806ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2f300f74-d9e5-4d83-b54e-eb2060099556/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVV2RyeUs4ZVcvSTNOWDJXVERseStXNkdWNXU0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR4TVRJdU1qQWVGdzB5Ck5ERXdNREV5TWpFNU5EZGFGdzB6TkRBNU1qa3lNakU1TkRkYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5f5d9be2-27cf-470f-a0f1-285f03df0b96&resource_id=2f300f74-d9e5-4d83-b54e-eb2060099556&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.112.2/22","created_at":"2024-10-01T22:18:41.832410Z","id":"3d7eb7f0-4a8d-46db-8d29-93d186ae4f02","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"2f300f74-d9e5-4d83-b54e-eb2060099556","mac_address":"02:00:00:14:CE:B8","name":"test-rdb-endpoints","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"c3c5eb9a-828e-4a39-848e-27a1fd9eda3c"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-01T22:19:14.157860Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.792689ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2f300f74-d9e5-4d83-b54e-eb2060099556/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.380125ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/3fced075-2fb0-4f15-a57f-3e5b45de8888
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 195.881975ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2f300f74-d9e5-4d83-b54e-eb2060099556
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"2f300f74-d9e5-4d83-b54e-eb2060099556","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 532.432955ms
[...]
