---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-ipam-cidr","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-11-25T06:16:45.778874Z","custom_routes_propagation_enabled":true,"id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0","is_default":false,"name":"test-rdb-ipam-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-25T06:16:45.778874Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.558834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/76170ed0-aafa-4b5a-ada3-cdb17535ebb0
        method: GET
      response:
        body: '{"created_at":"2025-11-25T06:16:45.778874Z","custom_routes_propagation_enabled":true,"id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0","is_default":false,"name":"test-rdb-ipam-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-11-25T06:16:45.778874Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.871792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-ipam-cidr","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["10.213.254.0/24"],"vpc_id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-11-25T06:16:46.073479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","name":"test-rdb-ipam-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-11-25T06:16:46.073479Z","id":"1e508496-5291-415c-b930-cb1182e6ac6e","private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"10.213.254.0/24","updated_at":"2025-11-25T06:16:46.073479Z","vpc_id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0"},{"created_at":"2025-11-25T06:16:46.073479Z","id":"5aaf499e-4b60-43d6-88b1-eff7d08b082b","private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8855::/64","updated_at":"2025-11-25T06:16:46.073479Z","vpc_id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0"}],"tags":[],"updated_at":"2025-11-25T06:16:46.073479Z","vpc_id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 712.816708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/189d41d0-8c46-45a7-85d3-4ab6256b9924
        method: GET
      response:
        body: '{"created_at":"2025-11-25T06:16:46.073479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","name":"test-rdb-ipam-cidr","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-11-25T06:16:46.073479Z","id":"1e508496-5291-415c-b930-cb1182e6ac6e","private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"10.213.254.0/24","updated_at":"2025-11-25T06:16:46.073479Z","vpc_id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0"},{"created_at":"2025-11-25T06:16:46.073479Z","id":"5aaf499e-4b60-43d6-88b1-eff7d08b082b","private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:8855::/64","updated_at":"2025-11-25T06:16:46.073479Z","vpc_id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0"}],"tags":[],"updated_at":"2025-11-25T06:16:46.073479Z","vpc_id":"76170ed0-aafa-4b5a-ada3-cdb17535ebb0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.1375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924"},"is_ipv6":false,"address":"10.213.254.10","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"10.213.254.10/24","created_at":"2025-11-25T06:16:46.950109Z","id":"8b2b7dd2-0ac9-427e-87aa-787642e1b5f7","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1e508496-5291-415c-b930-cb1182e6ac6e"},"tags":[],"updated_at":"2025-11-25T06:16:46.950109Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.0095ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/8b2b7dd2-0ac9-427e-87aa-787642e1b5f7
        method: GET
      response:
        body: '{"address":"10.213.254.10/24","created_at":"2025-11-25T06:16:46.950109Z","id":"8b2b7dd2-0ac9-427e-87aa-787642e1b5f7","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1e508496-5291-415c-b930-cb1182e6ac6e"},"tags":[],"updated_at":"2025-11-25T06:16:46.950109Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.621791ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-ipam-cidr","engine":"PostgreSQL-17","user_name":"test_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","rdb-ipam-cidr"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","service_ip":"10.213.254.10/24"}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-25T06:16:47.550558Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b073987a-d2ac-4b95-b4e4-a793bf98ff83","ip":"10.213.254.10","name":null,"port":5432,"private_network":{"private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","provisioning_mode":"static","service_ip":"10.213.254.10/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-ipam-cidr","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","rdb-ipam-cidr"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 825.949583ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-25T06:16:47.550558Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b073987a-d2ac-4b95-b4e4-a793bf98ff83","ip":"10.213.254.10","name":null,"port":5432,"private_network":{"private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","provisioning_mode":"static","service_ip":"10.213.254.10/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-ipam-cidr","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","rdb-ipam-cidr"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.474833ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-11-25T06:16:47.550558Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b073987a-d2ac-4b95-b4e4-a793bf98ff83","ip":"10.213.254.10","name":null,"port":5432,"private_network":{"private_network_id":"189d41d0-8c46-45a7-85d3-4ab6256b9924","provisioning_mode":"static","service_ip":"10.213.254.10/24","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-ipam-cidr","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","rdb-ipam-cidr"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.962542ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVU0FsK3BycDFHZGRrTmZDWlBJUlhwQThlbm1Nd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFd0xqSXhNeTR5TlRRdU1UQXdIaGNOCk1qVXhNVEkxTURZeE9ERXhXaGNOTXpVeE1USXpNRFl4T0RFeFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVEF1TWpFekx[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"ee7ee84f-99e5-44c8-b6d6-bc9a53bf4c41","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 213.479375ms
[...]
