---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-21T08:14:43.304087Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-21T08:14:43.304087Z","id":"ce670a82-7e5f-4a11-81cc-f1118b737be0","private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.27.96.0/22","updated_at":"2026-05-21T08:14:43.304087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2026-05-21T08:14:43.304087Z","id":"a2938e22-6ce3-4736-9bc8-544d8db50b5e","private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b233::/64","updated_at":"2026-05-21T08:14:43.304087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2026-05-21T08:14:43.304087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 713.134583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/15f6e40b-c1d2-4089-bb55-f43c941b3cb0
        method: GET
      response:
        body: '{"created_at":"2026-05-21T08:14:43.304087Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-21T08:14:43.304087Z","id":"ce670a82-7e5f-4a11-81cc-f1118b737be0","private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.27.96.0/22","updated_at":"2026-05-21T08:14:43.304087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2026-05-21T08:14:43.304087Z","id":"a2938e22-6ce3-4736-9bc8-544d8db50b5e","private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b233::/64","updated_at":"2026-05-21T08:14:43.304087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2026-05-21T08:14:43.304087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.476667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-endpoints","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:14:44.596988Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"aab54dea-71f1-410b-b95b-a9a463b3279e","ip":"172.27.96.2","name":null,"port":5432,"private_network":{"private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","provisioning_mode":"ipam","service_ip":"172.27.96.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"998c0676-312d-4ae9-b87f-a01236a7bfb9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.102294625s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/998c0676-312d-4ae9-b87f-a01236a7bfb9
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:14:44.596988Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"aab54dea-71f1-410b-b95b-a9a463b3279e","ip":"172.27.96.2","name":null,"port":5432,"private_network":{"private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","provisioning_mode":"ipam","service_ip":"172.27.96.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"998c0676-312d-4ae9-b87f-a01236a7bfb9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.20575ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/998c0676-312d-4ae9-b87f-a01236a7bfb9
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:14:44.596988Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"aab54dea-71f1-410b-b95b-a9a463b3279e","ip":"172.27.96.2","name":null,"port":5432,"private_network":{"private_network_id":"15f6e40b-c1d2-4089-bb55-f43c941b3cb0","provisioning_mode":"ipam","service_ip":"172.27.96.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-17","id":"998c0676-312d-4ae9-b87f-a01236a7bfb9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.0705ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/998c0676-312d-4ae9-b87f-a01236a7bfb9/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVWjgyV3MwTGN1dnpzRDE5TjJyd2lmUlBuempRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHlOeTQ1Tmk0eU1CNFhEVEkyCk1EVXlNVEE0TVRVME4xb1hEVE0yTURVeE9EQTRNVFUwTjFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR5Tnk0NU5[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=15f6e40b-c1d2-4089-bb55-f43c941b3cb0&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=998c0676-312d-4ae9-b87f-a01236a7bfb9&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.27.96.2/22","created_at":"2026-05-21T08:14:45.049408Z","id":"d2ca9cdd-834a-42bb-b9cf-207730cc0b0b","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"998c0676-312d-4ae9-b87f-a01236a7bfb9","mac_address":"02:00:00:1A:40:EC","name":"test-rdb-endpoints","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"ce670a82-7e5f-4a11-81cc-f1118b737be0"},"tags":["managed","scwdbaas"],"updated_at":"2026-05-21T08:15:15.352804Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.012125ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"load_balancer":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/998c0676-312d-4ae9-b87f-a01236a7bfb9/endpoints
        method: POST
      response:
        body: '{"id":"","name":null,"port":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.581084ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/aab54dea-71f1-410b-b95b-a9a463b3279e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 273.561417ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/998c0676-312d-4ae9-b87f-a01236a7bfb9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"998c0676-312d-4ae9-b87f-a01236a7bfb9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 142.110375ms
[...]
