---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-case-sensitive","engine":"POSTGRESQL15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"details":[{"argument_name":"engine","help_message":"engine must contains engine name and version","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 63.214902ms
