---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
    method: POST
  response:
    body: "{\"id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.036790Z\",\"updated_at\":\"2025-08-28T12:00:25.036790Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 143.295127ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9
    method: GET
  response:
    body: "{\"id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.036790Z\",\"updated_at\":\"2025-08-28T12:00:25.036790Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.882642ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
    method: POST
  response:
    body: "{\"id\":\"bdec16bf-709f-4b0f-80c2-a793297bc814\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.740441Z\",\"updated_at\":\"2025-08-28T12:00:25.740441Z\",\"tags\":[],\"address\":\"51.158.166.78\",\"reverse\":\"78-166-158-51.instances.scw.cloud\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 812.947802ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/bdec16bf-709f-4b0f-80c2-a793297bc814
    method: GET
  response:
    body: "{\"id\":\"bdec16bf-709f-4b0f-80c2-a793297bc814\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.740441Z\",\"updated_at\":\"2025-08-28T12:00:25.740441Z\",\"tags\":[],\"address\":\"51.158.166.78\",\"reverse\":\"78-166-158-51.instances.scw.cloud\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.957715ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my_private_network\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":[\"192.168.1.0/24\"],\"vpc_id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: "{\"id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.241795Z\",\"updated_at\":\"2025-08-28T12:00:25.241795Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"d2a6668c-ff09-4695-8707-130f44e5ced8\",\"created_at\":\"2025-08-28T12:00:25.241795Z\",\"updated_at\":\"2025-08-28T12:00:25.241795Z\",\"subnet\":\"192.168.1.0/24\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"vpc_id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\"},{\"id\":\"d64681fc-0486-4b14-9652-e53a7027a41b\",\"created_at\":\"2025-08-28T12:00:25.241795Z\",\"updated_at\":\"2025-08-28T12:00:25.241795Z\",\"subnet\":\"fd68:d440:21c4:72f3::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"vpc_id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\"}],\"vpc_id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 676.437628ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/271b5a40-415a-411a-b3fc-e098674dc718
    method: GET
  response:
    body: "{\"id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"name\":\"my_private_network\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.241795Z\",\"updated_at\":\"2025-08-28T12:00:25.241795Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"d2a6668c-ff09-4695-8707-130f44e5ced8\",\"created_at\":\"2025-08-28T12:00:25.241795Z\",\"updated_at\":\"2025-08-28T12:00:25.241795Z\",\"subnet\":\"192.168.1.0/24\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"vpc_id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\"},{\"id\":\"d64681fc-0486-4b14-9652-e53a7027a41b\",\"created_at\":\"2025-08-28T12:00:25.241795Z\",\"updated_at\":\"2025-08-28T12:00:25.241795Z\",\"subnet\":\"fd68:d440:21c4:72f3::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"vpc_id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\"}],\"vpc_id\":\"0f1f0cd8-4263-4e35-9a94-cebbdd7dcaf9\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 81.713505ms
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"foobar\",\"tags\":[],\"type\":\"VPC-GW-S\",\"ip_id\":\"bdec16bf-709f-4b0f-80c2-a793297bc814\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
    method: POST
  response:
    body: "{\"id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.950571Z\",\"updated_at\":\"2025-08-28T12:00:25.950571Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"bdec16bf-709f-4b0f-80c2-a793297bc814\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.740441Z\",\"updated_at\":\"2025-08-28T12:00:25.740441Z\",\"tags\":[],\"address\":\"51.158.166.78\",\"reverse\":\"78-166-158-51.instances.scw.cloud\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.137896ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/b0b7462e-4d17-4891-ad65-f721701a21b1
    method: GET
  response:
    body: "{\"id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.950571Z\",\"updated_at\":\"2025-08-28T12:00:25.997416Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"bdec16bf-709f-4b0f-80c2-a793297bc814\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.740441Z\",\"updated_at\":\"2025-08-28T12:00:25.740441Z\",\"tags\":[],\"address\":\"51.158.166.78\",\"reverse\":\"78-166-158-51.instances.scw.cloud\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 58.182754ms
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-private-network-dhcp\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\",\"rdb_pn\"],\"init_settings\":null,\"volume_type\":\"sbs_5k\",\"volume_size\":10000000000,\"init_endpoints\":[{\"private_network\":{\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"service_ip\":\"192.168.1.254/24\"}}],\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: "{\"id\":\"c4861dbf-bfd2-4308-ac36-e1585393a1a5\",\"name\":\"test-rdb-private-network-dhcp\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\",\"rdb_pn\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"192.168.1.254\",\"port\":5432,\"name\":null,\"id\":\"9a4d92fd-de5d-4599-82c2-b39e721dd207\",\"private_network\":{\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"service_ip\":\"192.168.1.254/24\",\"zone\":\"nl-ams-1\",\"provisioning_mode\":\"static\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:26.280779Z\",\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 912.813507ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c4861dbf-bfd2-4308-ac36-e1585393a1a5
    method: GET
  response:
    body: "{\"id\":\"c4861dbf-bfd2-4308-ac36-e1585393a1a5\",\"name\":\"test-rdb-private-network-dhcp\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endp[...]
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"enable_masquerade\":true,\"push_default_route\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: "{\"id\":\"829078ab-4d28-4c68-8695-50b48e9a1449\",\"created_at\":\"2025-08-28T12:00:31.550531Z\",\"updated_at\":\"2025-08-28T12:00:31.550531Z\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"masquerade_enabled\":true,\"status\":\"created\",\"push_default_route\":true,\"ipam_ip_id\":\"9fe93045-7552-4fd5-ba86-c3737705061c\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 430.064837ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/b0b7462e-4d17-4891-ad65-f721701a21b1
    method: GET
  response:
    body: "{\"id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.950571Z\",\"updated_at\":\"2025-08-28T12:00:31.666891Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"configuring\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"bdec16bf-709f-4b0f-80c2-a793297bc814\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.740441Z\",\"updated_at\":\"2025-08-28T12:00:25.740441Z\",\"tags\":[],\"address\":\"51.158.166.78\",\"reverse\":\"78-166-158-51.instances.scw.cloud\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[{\"id\":\"829078ab-4d28-4c68-8695-50b48e9a1449\",\"created_at\":\"2025-08-28T12:00:31.550531Z\",\"updated_at\":\"2025-08-28T12:00:37.484642Z\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"mac_address\":\"02:00:00:1A:35:6A\",\"masquerade_enabled\":true,\"status\":\"configuring\",\"push_default_route\":true,\"ipam_ip_id\":\"9fe93045-7552-4fd5-ba86-c3737705061c\",\"zone\":\"nl-ams-1\"}],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 35.118436ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/829078ab-4d28-4c68-8695-50b48e9a1449
    method: GET
  response:
    body: "{\"id\":\"829078ab-4d28-4c68-8695-50b48e9a1449\",\"created_at\":\"2025-08-28T12:00:31.550531Z\",\"updated_at\":\"2025-08-28T12:00:42.256171Z\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"mac_address\":\"02:00:00:1A:35:6A\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":true,\"ipam_ip_id\":\"9fe93045-7552-4fd5-ba86-c3737705061c\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.427199ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 271b5a40-415a-411a-b3fc-e098674dc718
      project_id:
      - fa1e3217-dc80-42ac-85c3-3f034b78b552
      resource_id:
      - 829078ab-4d28-4c68-8695-50b48e9a1449
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?order_by=created_at_desc&private_network_id=271b5a40-415a-411a-b3fc-e098674dc718&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=829078ab-4d28-4c68-8695-50b48e9a1449&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"9fe93045-7552-4fd5-ba86-c3737705061c\",\"address\":\"192.168.1.2/24\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T12:00:31.509269Z\",\"updated_at\":\"2025-08-28T12:00:32.024463Z\",\"source\":{\"subnet_id\":\"d2a6668c-ff09-4695-8707-130f44e5ced8\"},\"resource\":{\"type\":\"vpc_gateway_network\",\"id\":\"829078ab-4d28-4c68-8695-50b48e9a1449\",\"mac_address\":\"02:00:00:1A:35:6A\",\"name\":\"foobar\"},\"tags\":[],\"reverses\":[],\"region\":\"nl-ams\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.566864ms
- id: 23
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
      order_by:
      - created_at_desc
      page:
      - "1"
      resource_id:
      - 829078ab-4d28-4c68-8695-50b48e9a1449
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=829078ab-4d28-4c68-8695-50b48e9a1449&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"9fe93045-7552-4fd5-ba86-c3737705061c\",\"address\":\"192.168.1.2/24\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T12:00:31.509269Z\",\"updated_at\":\"2025-08-28T12:00:32.024463Z\",\"source\":{\"subnet_id\":\"d2a6668c-ff09-4695-8707-130f44e5ced8\"},\"resource\":{\"type\":\"vpc_gateway_network\",\"id\":\"829078ab-4d28-4c68-8695-50b48e9a1449\",\"mac_address\":\"02:00:00:1A:35:6A\",\"name\":\"foobar\"},\"tags\":[],\"reverses\":[],\"region\":\"nl-ams\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 67.916742ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c4861dbf-bfd2-4308-ac36-e1585393a1a5
    method: GET
  response:
    body: "{\"id\":\"c4861dbf-bfd2-4308-ac36-e1585393a1a5\",\"name\":\"test-rdb-private-network-dhcp\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_instance\",\"volume\",\"rdb_pn\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"sbs_5k\",\"size\":10000000000,\"class\":\"sbs\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"192.168.1.254\",\"port\":5432,\"name\":null,\"id\":\"9a4d92fd-de5d-4599-82c2-b39e721dd207\",\"private_network\":{\"private_network_id\":\"271b5a40-415a-411a-b3fc-e098674dc718\",\"service_ip\":\"192.168.1.254/24\",\"zone\":\"nl-ams-1\",\"provisioning_mode\":\"static\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:26.280779Z\",\"region\":\"nl-ams\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 120.721878ms
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c4861dbf-bfd2-4308-ac36-e1585393a1a5/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVYnREdFBuT0pSQWlWQkhUbXNVcEhjMUk2ZTBzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qVXdPREk0TVRJd01UUTVXaGNOTXpVd09ESTJNVEl3TVRRNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk[...]
[...]
- id: 34
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"public_port\":42,\"private_ip\":\"192.168.1.2\",\"private_port\":5432,\"protocol\":\"both\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: "{\"id\":\"0155f8cb-a7aa-459c-93f3-f15d3781f5c0\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"created_at\":\"2025-08-28T12:03:58.163115Z\",\"updated_at\":\"2025-08-28T12:03:58.163115Z\",\"public_port\":42,\"private_ip\":\"192.168.1.2\",\"private_port\":5432,\"protocol\":\"both\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.089974ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/pat-rules/0155f8cb-a7aa-459c-93f3-f15d3781f5c0
    method: GET
  response:
    body: "{\"id\":\"0155f8cb-a7aa-459c-93f3-f15d3781f5c0\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"created_at\":\"2025-08-28T12:03:58.163115Z\",\"updated_at\":\"2025-08-28T12:03:58.163115Z\",\"public_port\":42,\"private_ip\":\"192.168.1.2\",\"private_port\":5432,\"protocol\":\"both\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 39.9679ms
[...]
- id: 72
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/9a4d92fd-de5d-4599-82c2-b39e721dd207
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 233.515147ms
[...]
- id: 74
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateway-networks/829078ab-4d28-4c68-8695-50b48e9a1449
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway_network\",\"resource_id\":\"829078ab-4d28-4c68-8695-50b48e9a1449\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 36.377945ms
[...]
- id: 76
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/b0b7462e-4d17-4891-ad65-f721701a21b1?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.950571Z\",\"updated_at\":\"2025-08-28T12:04:05.977351Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"bdec16bf-709f-4b0f-80c2-a793297bc814\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:00:25.740441Z\",\"updated_at\":\"2025-08-28T12:00:25.740441Z\",\"tags\":[],\"address\":\"51.158.166.78\",\"reverse\":\"78-166-158-51.instances.scw.cloud\",\"gateway_id\":\"b0b7462e-4d17-4891-ad65-f721701a21b1\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 71.631318ms
[...]
