---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-instance","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance"],"init_settings":null,"volume_type":"sbs_5k","volume_size":10000000000,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-09T07:58:20.107839Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","high_availability_mode":"disabled","id":"a269851c-eeba-4f0f-b7ac-d71b8849be56","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.580268333s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a269851c-eeba-4f0f-b7ac-d71b8849be56
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-09T07:58:20.107839Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","high_availability_mode":"disabled","id":"a269851c-eeba-4f0f-b7ac-d71b8849be56","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 247.719209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a269851c-eeba-4f0f-b7ac-d71b8849be56
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-09-09T07:58:20.107839Z","encryption":{"enabled":false},"endpoint":{"id":"283b36a8-e8c2-448f-9daf-072628fa3b58","ip":"195.154.156.189","load_balancer":{},"name":null,"port":23140},"endpoints":[{"id":"283b36a8-e8c2-448f-9daf-072628fa3b58","ip":"195.154.156.189","load_balancer":{},"name":null,"port":23140}],"engine":"PostgreSQL-17","high_availability_mode":"disabled","id":"a269851c-eeba-4f0f-b7ac-d71b8849be56","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-instance","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance"],"upgradable_version":[],"volume":{"class":"sbs","size":10000000000,"type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 377.572292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a269851c-eeba-4f0f-b7ac-d71b8849be56/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVTy82dzFydmJxOVhRcUVaTTJTYzI5eWlDdVpFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRVMkxqRTRPVEFlCkZ3MHlOakE1TURrd09EQXhNREJhRncwek5qQTVNRFl3T0RBeE1EQmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"test-snapshot"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a269851c-eeba-4f0f-b7ac-d71b8849be56/snapshots
        method: POST
      response:
        body: '{"created_at":"2026-09-09T08:01:28.380857Z","expires_at":"2027-09-09T08:01:28.380857Z","id":"56391b23-3592-4b47-b28b-2f2967ac44f8","instance_id":"a269851c-eeba-4f0f-b7ac-d71b8849be56","instance_name":"test-rdb-instance","name":"test-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.867514375s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/56391b23-3592-4b47-b28b-2f2967ac44f8
        method: GET
      response:
        body: '{"created_at":"2026-09-09T08:01:28.380857Z","expires_at":"2027-09-09T08:01:28.380857Z","id":"56391b23-3592-4b47-b28b-2f2967ac44f8","instance_id":"a269851c-eeba-4f0f-b7ac-d71b8849be56","instance_name":"test-rdb-instance","name":"test-snapshot","node_type":"db-dev-s","region":"fr-par","size":null,"status":"creating","updated_at":null,"volume_type":{"class":"sbs","type":"sbs_5k"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 170.672459ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"instance_name":"test-instance-from-snapshot-lb","is_ha_cluster":false,"high_availability_mode":"unknown_high_availability_mode","node_type":"db-dev-s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/snapshots/56391b23-3592-4b47-b28b-2f2967ac44f8/create-instance
        method: POST
      response:
        body: '{"[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/385f323f-98d9-467a-a328-2de41135544e/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":true,"name":"my_initial_user"}]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 449.271291ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/385f323f-98d9-467a-a328-2de41135544e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"385f323f-98d9-467a-a328-2de41135544e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 372.985792ms
[...]
