---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-modest-maxwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-22T12:55:39.983214Z","description":"","id":"b8609ac7-cfd0-400c-aaf0-2ce98ae41483","name":"tf-project-modest-maxwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-06-22T12:55:39.983214Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.970691ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b8609ac7-cfd0-400c-aaf0-2ce98ae41483
        method: GET
      response:
        body: '{"created_at":"2026-06-22T12:55:39.983214Z","description":"","id":"b8609ac7-cfd0-400c-aaf0-2ce98ae41483","name":"tf-project-modest-maxwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-06-22T12:55:39.983214Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.58074ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"b8609ac7-cfd0-400c-aaf0-2ce98ae41483","name":"tf-test-rdb-backup-list-4823616331525728375","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["rdb-backup-list-test"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-22T12:55:41.355847Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b8609ac7-cfd0-400c-aaf0-2ce98ae41483","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.669531319s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d13e88d-46a8-49c1-bfe1-8921fad66c96
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-22T12:55:41.355847Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b8609ac7-cfd0-400c-aaf0-2ce98ae41483","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.07284ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d13e88d-46a8-49c1-bfe1-8921fad66c96
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-22T12:55:41.355847Z","encryption":{"enabled":false},"endpoint":{"id":"82b37d06-e598-4909-b77b-5ec0e1d49ae8","ip":"51.159.27.100","load_balancer":{},"name":null,"port":9420},"endpoints":[{"id":"82b37d06-e598-4909-b77b-5ec0e1d49ae8","ip":"51.159.27.100","load_balancer":{},"name":null,"port":9420}],"engine":"PostgreSQL-17","id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b8609ac7-cfd0-400c-aaf0-2ce98ae41483","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.942682ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d13e88d-46a8-49c1-bfe1-8921fad66c96/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVVEx5UndxN3pSMFJjYkFkUG5WVHlvWWZzQzlVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tnk0eE1EQXdIaGNOCk1qWXdOakl5TVRJMU9ERXpXaGNOTXpZd05qRTVNVEkxT0RFeldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tfdb_backup_list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d13e88d-46a8-49c1-bfe1-8921fad66c96/databases
        method: POST
      response:
        body: '{"managed":true,"name":"tfdb_backup_list","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 403.347891ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d13e88d-46a8-49c1-bfe1-8921fad66c96/databases?name=tfdb_backup_list&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_backup_list","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.146739ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"instance_id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","database_name":"tfdb_backup_list","name":"tf_backup_list_2078923807392667811"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2026-06-22T12:58:46.497631Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"429c745b-d79b-4a86-89b7-e544be515a59","instance_id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.81026596s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/429c745b-d79b-4a86-89b7-e544be515a59
        method: GET
      response:
        body: '{"created_at":"2026-06-22T12:58:46.497631Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"429c745b-d79b-4a86-89b7-e544be515a59","instance_id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.427115ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=6d13e88d-46a8-49c1-bfe1-8921fad66c96&name=tf_backup_list_2078923807392667811&order_by=created_at_asc&page=1&project_id=b8609ac7-cfd0-400c-aaf0-2ce98ae41483
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2026-06-22T12:58:46.497631Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"429c745b-d79b-4a86-89b7-e544be515a59","instance_id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":1333,"status":"ready","updated_at":"2026-06-22T12:58:50.493142Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.739295ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=b8609ac7-cfd0-400c-aaf0-2ce98ae41483
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-22T12:55:41.355847Z","encryption":{"enabled":false},"endpoint":{"id":"82b37d06-e598-4909-b77b-5ec0e1d49ae8","ip":"51.159.27.100","load_balancer":{},"name":null,"port":9420},"endpoints":[{"id":"82b37d06-e598-4909-b77b-5ec0e1d49ae8","ip":"51.159.27.100","load_balancer":{},"name":null,"port":9420}],"engine":"PostgreSQL-17","id":"6d13e88d-46a8-49c1-bfe1-8921fad66c96","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"b8609ac7-cfd0-400c-aaf0-2ce98ae41483","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.487035ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/429c745b-d79b-4a86-89b7-e544be515a59
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"429c745b-d79b-4a86-89b7-e544be515a59","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.081963ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6d13e88d-46a8-49c1-bfe1-8921fad66c96/databases/tfdb_backup_list
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 457.61499ms
[...]
