---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-objective-mcnulty","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-13T13:37:05.415010Z","description":"","id":"198c059d-edc0-4104-a7ea-1215eca20c28","name":"tf-project-objective-mcnulty","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-05-13T13:37:05.415010Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.712958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/198c059d-edc0-4104-a7ea-1215eca20c28
        method: GET
      response:
        body: '{"created_at":"2026-05-13T13:37:05.415010Z","description":"","id":"198c059d-edc0-4104-a7ea-1215eca20c28","name":"tf-project-objective-mcnulty","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-13T13:37:05.415010Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.301708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"198c059d-edc0-4104-a7ea-1215eca20c28","name":"tf-test-rdb-db-list-4823616331525728375","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["rdb-db-list-test"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-13T13:37:06.663560Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"1c33e6a7-9eb5-46f7-9488-59a1adf9637d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"198c059d-edc0-4104-a7ea-1215eca20c28","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 786.923167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-13T13:37:06.663560Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"1c33e6a7-9eb5-46f7-9488-59a1adf9637d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"198c059d-edc0-4104-a7ea-1215eca20c28","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 307.092542ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-13T13:37:06.663560Z","encryption":{"enabled":false},"endpoint":{"id":"337603b5-c501-481b-a7c8-044692e8cd1d","ip":"163.172.148.69","load_balancer":{},"name":null,"port":2117},"endpoints":[{"id":"337603b5-c501-481b-a7c8-044692e8cd1d","ip":"163.172.148.69","load_balancer":{},"name":null,"port":2117}],"engine":"PostgreSQL-17","id":"1c33e6a7-9eb5-46f7-9488-59a1adf9637d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"198c059d-edc0-4104-a7ea-1215eca20c28","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.41125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVVmxMNGR3OVBqRGJIMFQ1Zy9tTTJWTGtCWms0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFMk15NHhOekl1TVRRNExqWTVNQjRYCkRUSTJNRFV4TXpFek5EQXhNVm9YRFRNMk1EVXhNREV6TkRBeE1Wb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakUyTXk0eE5[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tfdb_list_2078923807392667811"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d/databases
        method: POST
      response:
        body: '{"managed":true,"name":"tfdb_list_2078923807392667811","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 539.672833ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d/databases?name=tfdb_list_2078923807392667811&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_list_2078923807392667811","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.689583ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d/databases?name=tfdb_list_2078923807392667811&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_list_2078923807392667811","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.438625ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=198c059d-edc0-4104-a7ea-1215eca20c28
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-13T13:37:06.663560Z","encryption":{"enabled":false},"endpoint":{"id":"337603b5-c501-481b-a7c8-044692e8cd1d","ip":"163.172.148.69","load_balancer":{},"name":null,"port":2117},"endpoints":[{"id":"337603b5-c501-481b-a7c8-044692e8cd1d","ip":"163.172.148.69","load_balancer":{},"name":null,"port":2117}],"engine":"PostgreSQL-17","id":"1c33e6a7-9eb5-46f7-9488-59a1adf9637d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"198c059d-edc0-4104-a7ea-1215eca20c28","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.219ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d/databases/tfdb_list_2078923807392667811
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.172372292s
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1c33e6a7-9eb5-46f7-9488-59a1adf9637d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"1c33e6a7-9eb5-46f7-9488-59a1adf9637d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 462.79175ms
[...]
