---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-rdb-instance-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T16:00:49.456926Z","description":"","id":"ffd3ed28-aed8-4359-8a03-6d23a568ef60","name":"tf-tests-rdb-instance-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T16:00:49.456926Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 708.150268ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ffd3ed28-aed8-4359-8a03-6d23a568ef60
        method: GET
      response:
        body: '{"created_at":"2026-08-17T16:00:49.456926Z","description":"","id":"ffd3ed28-aed8-4359-8a03-6d23a568ef60","name":"tf-tests-rdb-instance-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T16:00:49.456926Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.524501ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"ffd3ed28-aed8-4359-8a03-6d23a568ef60","name":"test-rdb-list-1","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["list-test"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T16:00:50.674447Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"f7430d4e-a5bb-4480-be0a-6cb6152dd3f8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-list-1","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"ffd3ed28-aed8-4359-8a03-6d23a568ef60","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 667.380963ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7430d4e-a5bb-4480-be0a-6cb6152dd3f8
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T16:00:50.674447Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"f7430d4e-a5bb-4480-be0a-6cb6152dd3f8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-list-1","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"ffd3ed28-aed8-4359-8a03-6d23a568ef60","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.359468ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7430d4e-a5bb-4480-be0a-6cb6152dd3f8
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T16:00:50.674447Z","encryption":{"enabled":false},"endpoint":{"id":"de3a1590-6638-41c4-8e65-d9e2499d1e7d","ip":"51.15.207.144","load_balancer":{},"name":null,"port":5480},"endpoints":[{"id":"de3a1590-6638-41c4-8e65-d9e2499d1e7d","ip":"51.15.207.144","load_balancer":{},"name":null,"port":5480}],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"f7430d4e-a5bb-4480-be0a-6cb6152dd3f8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-list-1","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"ffd3ed28-aed8-4359-8a03-6d23a568ef60","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.114205ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7430d4e-a5bb-4480-be0a-6cb6152dd3f8/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVRFh1bHQzNG5vTnFrcE9DR3hLMlN1NTVqS2ZRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFMakl3Tnk0eE5EUXdIaGNOCk1qWXdPREUzTVRZd016UTFXaGNOTXpZd09ERTBNVFl3TXpRMVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVdU1[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=ffd3ed28-aed8-4359-8a03-6d23a568ef60
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T16:00:50.674447Z","encryption":{"enabled":false},"endpoint":{"id":"de3a1590-6638-41c4-8e65-d9e2499d1e7d","ip":"51.15.207.144","load_balancer":{},"name":null,"port":5480},"endpoints":[{"id":"de3a1590-6638-41c4-8e65-d9e2499d1e7d","ip":"51.15.207.144","load_balancer":{},"name":null,"port":5480}],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"f7430d4e-a5bb-4480-be0a-6cb6152dd3f8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-list-1","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"ffd3ed28-aed8-4359-8a03-6d23a568ef60","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.255323ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7430d4e-a5bb-4480-be0a-6cb6152dd3f8/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":true,"name":"my_initial_user"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.878371ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?name=test-rdb-list-1&order_by=created_at_asc&page=1&project_id=ffd3ed28-aed8-4359-8a03-6d23a568ef60
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T16:00:50.674447Z",[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=ffd3ed28-aed8-4359-8a03-6d23a568ef60&tags=list-test
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T16:00:50.674447Z","encry[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?has_maintenances=false&order_by=created_at_asc&page=1&project_id=ffd3ed28-aed8-4359-8a03-6d23a568ef60
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T16:00:50.674447Z[...]
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f7430d4e-a5bb-4480-be0a-6cb6152dd3f8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"f7430d4e-a5bb-4480-be0a-6cb6152dd3f8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 166.389216ms
[...]
