---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-great-ptolemy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-11T14:15:13.018885Z","description":"","id":"13a90e88-193a-4e91-9d8c-b6945753e337","name":"tf-project-great-ptolemy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-05-11T14:15:13.018885Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.211690417s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/13a90e88-193a-4e91-9d8c-b6945753e337
        method: GET
      response:
        body: '{"created_at":"2026-05-11T14:15:13.018885Z","description":"","id":"13a90e88-193a-4e91-9d8c-b6945753e337","name":"tf-project-great-ptolemy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-11T14:15:13.018885Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.832416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"13a90e88-193a-4e91-9d8c-b6945753e337","name":"tf-test-rdb-db-list-4823616331525728375","engine":"PostgreSQL-17","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":["rdb-db-list-test"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-05-12T14:15:13.951382Z","retention":7},"created_at":"2026-05-11T14:15:13.951382Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"c4d3789e-3b84-449d-96b0-31ce8b9e6caf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"13a90e88-193a-4e91-9d8c-b6945753e337","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 732.624542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-05-12T14:15:13.951382Z","retention":7},"created_at":"2026-05-11T14:15:13.951382Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"c4d3789e-3b84-449d-96b0-31ce8b9e6caf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"13a90e88-193a-4e91-9d8c-b6945753e337","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.43425ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-05-12T14:15:13.951382Z","retention":7},"created_at":"2026-05-11T14:15:13.951382Z","encryption":{"enabled":false},"endpoint":{"id":"b8179ef3-097b-4243-badd-ea896508c616","ip":"51.159.9.33","load_balancer":{},"name":null,"port":21383},"endpoints":[{"id":"b8179ef3-097b-4243-badd-ea896508c616","ip":"51.159.9.33","load_balancer":{},"name":null,"port":21383}],"engine":"PostgreSQL-17","id":"c4d3789e-3b84-449d-96b0-31ce8b9e6caf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"13a90e88-193a-4e91-9d8c-b6945753e337","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.328375ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-05-12T14:15:13.951382Z","retention":7},"created_at":"2026-05-11T14:15:13.951382Z","encryption":{"enabled":false[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":0,"users":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.012333ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5RENDQXR5Z0F3SUJBZ0lVRTIxMVA3Q3d1ZEV1L2tFWUNYdUhNQ25kQmxvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pVeExqRTFPUzQ1TGpNek1CNFhEVEkyCk1EVXhNVEUwTVRneE4xb1hEVE0yTURVd09ERTBNVGd4TjFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6VXhMakUxT1M0NUx[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"tfdb_list_2078923807392667811"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf/databases
        method: POST
      response:
        body: '{"managed":true,"name":"tfdb_list_2078923807392667811","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 666.033167ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf/databases?name=tfdb_list_2078923807392667811&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_list_2078923807392667811","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.472375ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf/databases?name=tfdb_list_2078923807392667811&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_list_2078923807392667811","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.484042ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=13a90e88-193a-4e91-9d8c-b6945753e337
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2026-05-12T14:15:13.951382Z","retention":7},"created_at":"2026-05-11T14:15:13.951382Z","encryption":{"enabled":false},"endpoint":{"id":"b8179ef3-097b-4243-badd-ea896508c616","ip":"51.159.9.33","load_balancer":{},"name":null,"port":21383},"endpoints":[{"id":"b8179ef3-097b-4243-badd-ea896508c616","ip":"51.159.9.33","load_balancer":{},"name":null,"port":21383}],"engine":"PostgreSQL-17","id":"c4d3789e-3b84-449d-96b0-31ce8b9e6caf","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-db-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"13a90e88-193a-4e91-9d8c-b6945753e337","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-db-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.875458ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf/databases/tfdb_list_2078923807392667811
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 478.391875ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c4d3789e-3b84-449d-96b0-31ce8b9e6caf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"c4d3789e-3b84-449d-96b0-31ce8b9e6caf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 153.841917ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/13a90e88-193a-4e91-9d8c-b6945753e337
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"13a90e88-193a-4e91-9d8c-b6945753e337\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 1.645108292s
[...]
