---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-rdb-database-backup-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T15:51:43.828893Z","description":"","id":"46d61fb3-cfdb-444f-b60c-e7e0eb53525d","name":"tf-tests-rdb-database-backup-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T15:51:43.828893Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 828.998072ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/46d61fb3-cfdb-444f-b60c-e7e0eb53525d
        method: GET
      response:
        body: '{"created_at":"2026-08-17T15:51:43.828893Z","description":"","id":"46d61fb3-cfdb-444f-b60c-e7e0eb53525d","name":"tf-tests-rdb-database-backup-list","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-17T15:51:43.828893Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.072315ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"46d61fb3-cfdb-444f-b60c-e7e0eb53525d","name":"tf-test-rdb-backup-list-4823616331525728375","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["rdb-backup-list-test"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T15:51:45.071571Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"46d61fb3-cfdb-444f-b60c-e7e0eb53525d","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 796.719621ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5b85f4-38a3-44f0-92d4-9f9357a088ea
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T15:51:45.071571Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"46d61fb3-cfdb-444f-b60c-e7e0eb53525d","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.052994ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5b85f4-38a3-44f0-92d4-9f9357a088ea
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T15:51:45.071571Z","encryption":{"enabled":false},"endpoint":{"id":"bc6bd4c4-744a-4a33-8878-cb2b27eba0b9","ip":"51.15.207.144","load_balancer":{},"name":null,"port":23801},"endpoints":[{"id":"bc6bd4c4-744a-4a33-8878-cb2b27eba0b9","ip":"51.15.207.144","load_balancer":{},"name":null,"port":23801}],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"46d61fb3-cfdb-444f-b60c-e7e0eb53525d","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.859121ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5b85f4-38a3-44f0-92d4-9f9357a088ea/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVSUIxYnlFN1hYbWJBRmxyRnpsSzM4dEcrczFJd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFMakl3Tnk0eE5EUXdIaGNOCk1qWXdPREUzTVRVMU5ERXhXaGNOTXpZd09ERTBNVFUxTkRFeFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVdU1[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tfdb_backup_list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5b85f4-38a3-44f0-92d4-9f9357a088ea/databases
        method: POST
      response:
        body: '{"managed":true,"name":"tfdb_backup_list","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.584493ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5b85f4-38a3-44f0-92d4-9f9357a088ea/databases?name=tfdb_backup_list&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_backup_list","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.609632ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"instance_id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","database_name":"tfdb_backup_list","name":"tf_backup_list_2078923807392667811"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2026-08-17T15:54:49.891845Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d243fcfe-b16a-47c7-8dfe-6a5ea25eac68","instance_id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.96574076s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d243fcfe-b16a-47c7-8dfe-6a5ea25eac68
        method: GET
      response:
        body: '{"created_at":"2026-08-17T15:54:49.891845Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d243fcfe-b16a-47c7-8dfe-6a5ea25eac68","instance_id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.52415ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=fa5b85f4-38a3-44f0-92d4-9f9357a088ea&name=tf_backup_list_2078923807392667811&order_by=created_at_asc&page=1&project_id=46d61fb3-cfdb-444f-b60c-e7e0eb53525d
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2026-08-17T15:54:49.891845Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d243fcfe-b16a-47c7-8dfe-6a5ea25eac68","instance_id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":1335,"status":"ready","updated_at":"2026-08-17T15:54:53.502794Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.483524ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=46d61fb3-cfdb-444f-b60c-e7e0eb53525d
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-08-17T15:51:45.071571Z","encryption":{"enabled":false},"endpoint":{"id":"bc6bd4c4-744a-4a33-8878-cb2b27eba0b9","ip":"51.15.207.144","load_balancer":{},"name":null,"port":23801},"endpoints":[{"id":"bc6bd4c4-744a-4a33-8878-cb2b27eba0b9","ip":"51.15.207.144","load_balancer":{},"name":null,"port":23801}],"engine":"PostgreSQL-17","high_availability_mode":"unknown_high_availability_mode","id":"fa5b85f4-38a3-44f0-92d4-9f9357a088ea","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"46d61fb3-cfdb-444f-b60c-e7e0eb53525d","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.099687ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d243fcfe-b16a-47c7-8dfe-6a5ea25eac68
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"d243fcfe-b16a-47c7-8dfe-6a5ea25eac68","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.462986ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5b85f4-38a3-44f0-92d4-9f9357a088ea/databases/tfdb_backup_list
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 562.933949ms
[...]
