---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-determined-varahamihira","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-20T08:30:17.168208Z","description":"","id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","name":"tf-project-determined-varahamihira","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-05-20T08:30:17.168208Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 517.733667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/4c776e68-6fa1-4d62-b15b-c1fb5e83be71
        method: GET
      response:
        body: '{"created_at":"2026-05-20T08:30:17.168208Z","description":"","id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","name":"tf-project-determined-varahamihira","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-20T08:30:17.168208Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.858166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","name":"tf-test-rdb-backup-list-4823616331525728375","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["rdb-backup-list-test"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-20T08:30:18.127075Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"df4e4044-d714-4c87-a663-3e8524115a19","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 674.697459ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/df4e4044-d714-4c87-a663-3e8524115a19
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-20T08:30:18.127075Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"df4e4044-d714-4c87-a663-3e8524115a19","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.748833ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/df4e4044-d714-4c87-a663-3e8524115a19
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-20T08:30:18.127075Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"df4e4044-d714-4c87-a663-3e8524115a19","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.257042ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/df4e4044-d714-4c87-a663-3e8524115a19
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-20T08:30:18.127075Z","encryption":{"enabled":false},"endpoint":{"id":"6d8d2e66-477a-4419-a255-d8712a25a868","ip":"51.159.10.117","load_balancer":{},"name":null,"port":27974},"endpoints":[{"id":"6d8d2e66-477a-4419-a255-d8712a25a868","ip":"51.159.10.117","load_balancer":{},"name":null,"port":27974}],"engine":"PostgreSQL-17","id":"df4e4044-d714-4c87-a663-3e8524115a19","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.95675ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/df4e4044-d714-4c87-a663-3e8524115a19/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVTC9rOFJ4R281QzVSMmU3Qi91VHVtSjdFSGtRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TUM0eE1UY3dIaGNOCk1qWXdOVEl3TURnek5EQXdXaGNOTXpZd05URTNNRGd6TkRBd1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"tfdb_backup_list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/df4e4044-d714-4c87-a663-3e8524115a19/databases
        method: POST
      response:
        body: '{"managed":true,"name":"tfdb_backup_list","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 535.951541ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/df4e4044-d714-4c87-a663-3e8524115a19/databases?name=tfdb_backup_list&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_backup_list","owner":"_rdb_superadmin","size":7681715}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.774083ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"instance_id":"df4e4044-d714-4c87-a663-3e8524115a19","database_name":"tfdb_backup_list","name":"tf_backup_list_2078923807392667811"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2026-05-20T08:34:23.031126Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d2d9cb39-4efb-4133-8c56-2cf655de343e","instance_id":"df4e4044-d714-4c87-a663-3e8524115a19","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.286224709s
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d2d9cb39-4efb-4133-8c56-2cf655de343e
        method: GET
      response:
        body: '{"created_at":"2026-05-20T08:34:23.031126Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d2d9cb39-4efb-4133-8c56-2cf655de343e","instance_id":"df4e4044-d714-4c87-a663-3e8524115a19","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.485334ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=df4e4044-d714-4c87-a663-3e8524115a19&name=tf_backup_list_2078923807392667811&order_by=created_at_asc&page=1&project_id=4c776e68-6fa1-4d62-b15b-c1fb5e83be71
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2026-05-20T08:34:23.031126Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"d2d9cb39-4efb-4133-8c56-2cf655de343e","instance_id":"df4e4044-d714-4c87-a663-3e8524115a19","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":1333,"status":"ready","updated_at":"2026-05-20T08:34:26.436687Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.352125ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=4c776e68-6fa1-4d62-b15b-c1fb5e83be71
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-20T08:30:18.127075Z","encryption":{"enabled":false},"endpoint":{"id":"6d8d2e66-477a-4419-a255-d8712a25a868","ip":"51.159.10.117","load_balancer":{},"name":null,"port":27974},"endpoints":[{"id":"6d8d2e66-477a-4419-a255-d8712a25a868","ip":"51.159.10.117","load_balancer":{},"name":null,"port":27974}],"engine":"PostgreSQL-17","id":"df4e4044-d714-4c87-a663-3e8524115a19","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4c776e68-6fa1-4d62-b15b-c1fb5e83be71","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.088583ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d2d9cb39-4efb-4133-8c56-2cf655de343e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"d2d9cb39-4efb-4133-8c56-2cf655de343e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.431375ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/df4e4044-d714-4c87-a663-3e8524115a19/databases/tfdb_backup_list
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 502.535125ms
[...]
