---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-silly-gates","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-18T10:37:34.036620Z","description":"","id":"4e23ecb4-14a1-428d-826d-59003f746cb0","name":"tf-project-silly-gates","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-06-18T10:37:34.036620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 648.950725ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/4e23ecb4-14a1-428d-826d-59003f746cb0
        method: GET
      response:
        body: '{"created_at":"2026-06-18T10:37:34.036620Z","description":"","id":"4e23ecb4-14a1-428d-826d-59003f746cb0","name":"tf-project-silly-gates","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-06-18T10:37:34.036620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.412351ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"4e23ecb4-14a1-428d-826d-59003f746cb0","name":"tf-test-rdb-backup-list-4823616331525728375","engine":"PostgreSQL-17","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["rdb-backup-list-test"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-18T10:37:35.132115Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4e23ecb4-14a1-428d-826d-59003f746cb0","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 937.330642ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0a52ba9a-e8d9-47c6-ae98-f7c224ade976
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-18T10:37:35.132115Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-17","id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4e23ecb4-14a1-428d-826d-59003f746cb0","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.844971ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0a52ba9a-e8d9-47c6-ae98-f7c224ade976
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-18T10:37:35.132115Z","encryption":{"enabled":false},"endpoint":{"id":"db704b91-ebf7-47a2-b3f7-08c6606af968","ip":"51.159.206.182","load_balancer":{},"name":null,"port":10469},"endpoints":[{"id":"db704b91-ebf7-47a2-b3f7-08c6606af968","ip":"51.159.206.182","load_balancer":{},"name":null,"port":10469}],"engine":"PostgreSQL-17","id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4e23ecb4-14a1-428d-826d-59003f746cb0","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.251417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0a52ba9a-e8d9-47c6-ae98-f7c224ade976/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVU0ZKTjB4YWp5WmdiaWdyLzdFMGIyVmFxY3RNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURZdU1UZ3lNQjRYCkRUSTJNRFl4T0RFd05EQXlObG9YRFRNMk1EWXhOVEV3TkRBeU5sb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"name":"tfdb_backup_list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0a52ba9a-e8d9-47c6-ae98-f7c224ade976/databases
        method: POST
      response:
        body: '{"managed":true,"name":"tfdb_backup_list","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.626039ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0a52ba9a-e8d9-47c6-ae98-f7c224ade976/databases?name=tfdb_backup_list&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"tfdb_backup_list","owner":"_rdb_superadmin","size":7739059}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.208679ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"instance_id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","database_name":"tfdb_backup_list","name":"tf_backup_list_2078923807392667811"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
        method: POST
      response:
        body: '{"created_at":"2026-06-18T10:41:09.656480Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"46f379f3-9df6-4a65-bc6d-6afdac57ae73","instance_id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.639572309s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/46f379f3-9df6-4a65-bc6d-6afdac57ae73
        method: GET
      response:
        body: '{"created_at":"2026-06-18T10:41:09.656480Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"46f379f3-9df6-4a65-bc6d-6afdac57ae73","instance_id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.500504ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=0a52ba9a-e8d9-47c6-ae98-f7c224ade976&name=tf_backup_list_2078923807392667811&order_by=created_at_asc&page=1&project_id=4e23ecb4-14a1-428d-826d-59003f746cb0
        method: GET
      response:
        body: '{"database_backups":[{"created_at":"2026-06-18T10:41:09.656480Z","database_name":"tfdb_backup_list","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"46f379f3-9df6-4a65-bc6d-6afdac57ae73","instance_id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","instance_name":"tf-test-rdb-backup-list-4823616331525728375","name":"tf_backup_list_2078923807392667811","region":"fr-par","same_region":false,"size":1333,"status":"ready","updated_at":"2026-06-18T10:41:13.035327Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.859092ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances?order_by=created_at_asc&page=1&project_id=4e23ecb4-14a1-428d-826d-59003f746cb0
        method: GET
      response:
        body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-06-18T10:37:35.132115Z","encryption":{"enabled":false},"endpoint":{"id":"db704b91-ebf7-47a2-b3f7-08c6606af968","ip":"51.159.206.182","load_balancer":{},"name":null,"port":10469},"endpoints":[{"id":"db704b91-ebf7-47a2-b3f7-08c6606af968","ip":"51.159.206.182","load_balancer":{},"name":null,"port":10469}],"engine":"PostgreSQL-17","id":"0a52ba9a-e8d9-47c6-ae98-f7c224ade976","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"tf-test-rdb-backup-list-4823616331525728375","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"4e23ecb4-14a1-428d-826d-59003f746cb0","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["rdb-backup-list-test"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.53553ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/46f379f3-9df6-4a65-bc6d-6afdac57ae73
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"database_backup","resource_id":"46f379f3-9df6-4a65-bc6d-6afdac57ae73","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.403659ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/0a52ba9a-e8d9-47c6-ae98-f7c224ade976/databases/tfdb_backup_list
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 955.379352ms
[...]
