---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayRdbPrivilege_Basic","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_rdb_user","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-15T09:06:46.014340Z","retention":7},"created_at":"2024-05-14T09:06:46.014340Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"8f38781c-e352-4b43-9765-c7f0cf843257","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbPrivilege_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.298647716s
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-15T09:06:46.014340Z","retention":7},"created_at":"2024-05-14T09:06:46.014340Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"8f38781c-e352-4b43-9765-c7f0cf843257","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbPrivilege_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 751.482143ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-15T09:06:46.014340Z","retention":7},"created_at":"2024-05-14T09:06:46.014340Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"8f38781c-e352-4b43-9765-c7f0cf843257","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbPrivilege_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.181791ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-15T09:06:46.014340Z","retention":7},"created_at":"2024-05-14T09:06:46.014340Z","endpoint":{"id":"85d7d46b-0a7b-4971-9b93-80713685e158","ip":"51.159.204.219","load_balancer":{},"name":null,"port":18448},"endpoints":[{"id":"85d7d46b-0a7b-4971-9b93-80713685e158","ip":"51.159.204.219","load_balancer":{},"name":null,"port":18448}],"engine":"PostgreSQL-15","id":"8f38781c-e352-4b43-9765-c7f0cf843257","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbPrivilege_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 422.140985ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257
        method: PATCH
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-05-15T09:06:46.014340Z","retention":7},"created_at":"2024-05-14T09:06:46.014340Z","endpoint":{"id":"85d7d46b-0a[...]
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/users?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"total_count":0,"users":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.454105ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVSDEvS3YxQlRqWFlUcWdjaGhONUNIN2U0OFdNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURRdU1qRTVNQjRYCkRUSTBNRFV4TkRBNU1Ea3hNMW9YRFRNME1EVXhNakE1TURreE0xb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"name":"user_01","password":"R34lP4sSw#Rd","is_admin":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/users
        method: POST
      response:
        body: '{"is_admin":true,"name":"user_01"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.605491ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"name":"foo"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/databases
        method: POST
      response:
        body: '{"managed":true,"name":"foo","owner":"","size":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.443552ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/users?name=user_01&order_by=name_asc
        method: GET
      response:
        body: '{"total_count":1,"users":[{"is_admin":true,"name":"user_01"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.750115ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/databases?name=foo&order_by=name_asc
        method: GET
      response:
        body: '{"databases":[{"managed":true,"name":"foo","owner":"_rdb_superadmin","size":7631663}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.583684ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"database_name":"foo","user_name":"user_01","permission":"all"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/privileges
        method: PUT
      response:
        body: '{"database_name":"foo","permission":"all","user_name":"user_01"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.271589ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/privileges?database_name=foo&order_by=user_name_asc&user_name=user_01
        method: GET
      response:
        body: '{"privileges":[{"database_name":"foo","permission":"all","user_name":"user_01"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.63464ms
[...]
    - id: 130
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/users/user_03
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 120.252501ms
[...]
    - id: 133
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257/databases/foo
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 608.198933ms
[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8f38781c-e352-4b43-9765-c7f0cf843257
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"instance","resource_id":"8f38781c-e352-4b43-9765-c7f0cf843257","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 2.921606596s
[...]
