---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"TestAccScalewayRdbPrivilege_Basic\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"\",\"password\":\"\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":false,\"tags\":[\"terraform-test\",\"scaleway_rdb_user\",\"minimal\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"f422a24b-e5d2-48ad-bf7a-db8201601b77\",\"name\":\"TestAccScalewayRdbPrivilege_Basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_user\",\"minimal\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-09-24T15:54:50.833785Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-09-23T15:54:50.833785Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 545.353966ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77
    method: GET
  response:
    body: "{\"id\":\"f422a24b-e5d2-48ad-bf7a-db8201601b77\",\"name\":\"TestAccScalewayRdbPrivilege_Basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_user\",\"minimal\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-09-24T15:54:50.833785Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-09-23T15:54:50.833785Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.68994ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77
    method: GET
  response:
    body: "{\"id\":\"f422a24b-e5d2-48ad-bf7a-db8201601b77\",\"name\":\"TestAccScalewayRdbPrivilege_Basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_user\",\"minimal\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-09-24T15:54:50.833785Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-09-23T15:54:50.833785Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 267.292231ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77
    method: GET
  response:
    body: "{\"id\":\"f422a24b-e5d2-48ad-bf7a-db8201601b77\",\"name\":\"TestAccScalewayRdbPrivilege_Basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"195.154.196.110\",\"port\":29997,\"name\":null,\"id\":\"b1ae3daa-194a-454e-b7fb-17e01518dc55\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_user\",\"minimal\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":false,\"next_run_at\":\"2025-09-24T15:54:50.833785Z\"},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"195.154.196.110\",\"port\":29997,\"name\":null,\"id\":\"b1ae3daa-194a-454e-b7fb-17e01518dc55\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-09-23T15:54:50.833785Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 648.283755ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"is_backup_schedule_disabled\":false,\"backup_same_region\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77
    method: PATCH
  response:
    body: "{\"id\":\"f422a24b-e5d2-48ad-bf7a-db8201601b77\",\"name\":\"TestAccScalewayRdbPrivilege_Basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\[...]
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - name_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/users?order_by=name_asc&page=1
    method: GET
  response:
    body: "{\"users\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 479.883439ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVRzRUc08wcStlVGlBYjZDODVhb0ZnTkZ0V2Jvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrMkxqRXhNREFlCkZ3MHlOVEE1TWpNeE5UVTNNemhhRncwek5UQTVNakV4TlRVM016aGFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU[...]
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"name\":\"user_01\",\"password\":\"R34lP4sSw#Rd\",\"is_admin\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/users
    method: POST
  response:
    body: "{\"name\":\"user_01\",\"is_admin\":true}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 229.249471ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"foo\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/databases
    method: POST
  response:
    body: "{\"name\":\"foo\",\"owner\":\"\",\"managed\":true,\"size\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 523.825835ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      name:
      - user_01
      order_by:
      - name_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/users?name=user_01&order_by=name_asc
    method: GET
  response:
    body: "{\"users\":[{\"name\":\"user_01\",\"is_admin\":true}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 606.420992ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      name:
      - foo
      order_by:
      - name_asc
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/databases?name=foo&order_by=name_asc
    method: GET
  response:
    body: "{\"databases\":[{\"name\":\"foo\",\"owner\":\"_rdb_superadmin\",\"managed\":true,\"size\":7737827}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 372.193731ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    body: "{\"database_name\":\"foo\",\"user_name\":\"user_01\",\"permission\":\"all\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/privileges
    method: PUT
  response:
    body: "{\"permission\":\"all\",\"database_name\":\"foo\",\"user_name\":\"user_01\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 614.012999ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    form:
      database_name:
      - foo
      order_by:
      - user_name_asc
      user_name:
      - user_01
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/privileges?database_name=foo&order_by=user_name_asc&user_name=user_01
    method: GET
  response:
    body: "{\"privileges\":[{\"permission\":\"all\",\"database_name\":\"foo\",\"user_name\":\"user_01\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 604.850791ms
[...]
- id: 124
  request:
    host: api.scaleway.com
    body: "{\"database_name\":\"foo\",\"user_name\":\"user_01\",\"permission\":\"none\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/privileges
    method: PUT
  response:
    body: "{\"message\":\"Tuple concurrently updated\"}"
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: 921.400581ms
[...]
- id: 130
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/users/user_03
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 195.931139ms
[...]
- id: 137
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77/databases/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 926.745899ms
[...]
- id: 143
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f422a24b-e5d2-48ad-bf7a-db8201601b77
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"instance\",\"resource_id\":\"f422a24b-e5d2-48ad-bf7a-db8201601b77\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 511.115214ms
[...]
