---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-rr-pn\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"private-network\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"b866d81d-192b-4f06-b998-31fd898052a1\",\"name\":\"test-rdb-rr-pn\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"private-network\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.768756Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 441.197212ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b866d81d-192b-4f06-b998-31fd898052a1
    method: GET
  response:
    body: "{\"id\":\"b866d81d-192b-4f06-b998-31fd898052a1\",\"name\":\"test-rdb-rr-pn\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"private-network\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.768756Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.641726ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-agitated-merkle\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"name\":\"tf-pn-agitated-merkle\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:09:06.497739Z\",\"updated_at\":\"2025-08-28T12:09:06.497739Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"d226c85c-3068-4e2c-bc8a-6c87cd077a73\",\"created_at\":\"2025-08-28T12:09:06.497739Z\",\"updated_at\":\"2025-08-28T12:09:06.497739Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"75513f7c-022f-45a7-a8e8-555249d93832\",\"created_at\":\"2025-08-28T12:09:06.497739Z\",\"updated_at\":\"2025-08-28T12:09:06.497739Z\",\"subnet\":\"fd63:256c:45f7:7f59::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 633.157217ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/624aef35-aaa4-4bbe-a8bc-fdb733705c6f
    method: GET
  response:
    body: "{\"id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"name\":\"tf-pn-agitated-merkle\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:09:06.497739Z\",\"updated_at\":\"2025-08-28T12:09:06.497739Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"d226c85c-3068-4e2c-bc8a-6c87cd077a73\",\"created_at\":\"2025-08-28T12:09:06.497739Z\",\"updated_at\":\"2025-08-28T12:09:06.497739Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"75513f7c-022f-45a7-a8e8-555249d93832\",\"created_at\":\"2025-08-28T12:09:06.497739Z\",\"updated_at\":\"2025-08-28T12:09:06.497739Z\",\"subnet\":\"fd63:256c:45f7:7f59::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 38.766274ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b866d81d-192b-4f06-b998-31fd898052a1
    method: GET
  response:
    body: "{\"id\":\"b866d81d-192b-4f06-b998-31fd898052a1\",\"name\":\"test-rdb-rr-pn\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"private-network\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.768756Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.227628ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b866d81d-192b-4f06-b998-31fd898052a1
    method: GET
  response:
    body: "{\"id\":\"b866d81d-192b-4f06-b998-31fd898052a1\",\"name\":\"test-rdb-rr-pn\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.114.140\",\"port\":19532,\"name\":null,\"id\":\"60205ff8-22bd-4714-85ba-c222153f14c5\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"private-network\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.114.140\",\"port\":19532,\"name\":null,\"id\":\"60205ff8-22bd-4714-85ba-c222153f14c5\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.768756Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.659235ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b866d81d-192b-4f06-b998-31fd898052a1/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVZnd3QU5tZUVWeXVTeHdLNG81d2FGMy9sS293d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR4TVRRdU1UUXdNQjRYCkRUSTFNRGd5T0RFeU1USXhNMW9YRFRNMU1EZ3lOakV5TVRJeE0xb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU[...]
- id: 13
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"b866d81d-192b-4f06-b998-31fd898052a1\",\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"service_ip\":\"10.12.1.0/20\"}}],\"same_zone\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: "{\"id\":\"d0a9830e-e2e8-4ffc-b5b6-4e06d32626cd\",\"endpoints\":[{\"ip\":\"10.12.1.0\",\"port\":5432,\"name\":null,\"id\":\"2dac5936-18fb-4b73-a04e-d6b911e0e724\",\"private_network\":{\"private_network_id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"service_ip\":\"10.12.1.0/20\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"static\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"b866d81d-192b-4f06-b998-31fd898052a1\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 737.476213ms
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d0a9830e-e2e8-4ffc-b5b6-4e06d32626cd
    method: GET
  response:
    body: "{\"id\":\"d0a9830e-e2e8-4ffc-b5b6-4e06d32626cd\",\"endpoints\":[{\"ip\":\"10.12.1.0\",\"port\":5432,\"name\":null,\"id\":\"2dac5936-18fb-4b73-a04e-d6b911e0e724\",\"private_network\":{\"private_network_id\":\"624aef35-aaa4-4bbe-a8bc-fdb733705c6f\",\"service_ip\":\"10.12.1.0/20\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"static\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"b866d81d-192b-4f06-b998-31fd898052a1\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 70.952054ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d0a9830e-e2e8-4ffc-b5b6-4e06d32626cd
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"read_replica\",\"resource_id\":\"d0a9830e-e2e8-4ffc-b5b6-4e06d32626cd\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 78.146575ms
[...]
