---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-21T08:39:49.269262Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-21T08:39:49.269262Z","id":"300a4531-106e-44be-906b-3eab63170d5d","private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.27.192.0/22","updated_at":"2026-05-21T08:39:49.269262Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2026-05-21T08:39:49.269262Z","id":"9457a9f1-47eb-4fdf-ae8a-7829f02aef24","private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6512::/64","updated_at":"2026-05-21T08:39:49.269262Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2026-05-21T08:39:49.269262Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 886.87475ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d6eaf000-fad5-49ce-857f-a6db8955d3b5
        method: GET
      response:
        body: '{"created_at":"2026-05-21T08:39:49.269262Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-05-21T08:39:49.269262Z","id":"300a4531-106e-44be-906b-3eab63170d5d","private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.27.192.0/22","updated_at":"2026-05-21T08:39:49.269262Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2026-05-21T08:39:49.269262Z","id":"9457a9f1-47eb-4fdf-ae8a-7829f02aef24","private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:6512::/64","updated_at":"2026-05-21T08:39:49.269262Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2026-05-21T08:39:49.269262Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.768125ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:39:50.420172Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"0a59c036-7a4b-4b1c-8ea6-fdda9c1142cc","ip":"172.27.192.2","name":null,"port":5432,"private_network":{"private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","provisioning_mode":"ipam","service_ip":"172.27.192.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[{"id":"c5ab758a-7bef-4b43-9333-4ce1ebc98bd7","minor_version":"16.14","name":"PostgreSQL-16","version":"16"},{"id":"cee2b377-525d-40c0-aeec-502e559e3432","minor_version":"17.10","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.186958958s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:39:50.420172Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"0a59c036-7a[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2026-05-21T08:39:50.420172Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"0a59c036-7a4b-4b1c-8ea6-fdda9c1142cc","ip":"172.27.192.2","name":null,"port":5432,"private_network":{"private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","provisioning_mode":"ipam","service_ip":"172.27.192.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[{"id":"c5ab758a-7bef-4b43-9333-4ce1ebc98bd7","minor_version":"16.14","name":"PostgreSQL-16","version":"16"},{"id":"cee2b377-525d-40c0-aeec-502e559e3432","minor_version":"17.10","name":"PostgreSQL-17","version":"17"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.880458ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVQW92L3pSZ2UxTHNzcDhpbVBCTWFxYkZVQ0ljd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHlOeTR4T1RJdU1qQWVGdzB5Ck5qQTFNakV3T0RRd05UUmFGdzB6TmpBMU1UZ3dPRFF3TlRSYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TWpjdU1[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d6eaf000-fad5-49ce-857f-a6db8955d3b5&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.27.192.2/22","created_at":"2026-05-21T08:39:50.945288Z","id":"bbfdfba5-b01c-4244-b34b-e3743d54e789","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6","mac_address":"02:00:00:18:8E:C0","name":"test-rdb-rr-instance-in-pn","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"300a4531-106e-44be-906b-3eab63170d5d"},"tags":["managed","scwdbaas"],"updated_at":"2026-05-21T08:40:16.122009Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.398208ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"instance_id":"cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6","endpoint_spec":[{"private_network":{"private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"89d40852-4241-480f-8d66-b141043b81ef","ip":"172.27.192.3","name":null,"port":5432,"private_network":{"private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","provisioning_mode":"ipam","service_ip":"172.27.192.3/22","zone":"fr-par-1"}}],"id":"c14aebf0-c6e5-4f76-a733-058d53d30258","instance_id":"cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.1092105s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c14aebf0-c6e5-4f76-a733-058d53d30258
        method: GET
      response:
        body: '{"endpoints":[{"id":"89d40852-4241-480f-8d66-b141043b81ef","ip":"172.27.192.3","name":null,"port":5432,"private_network":{"private_network_id":"d6eaf000-fad5-49ce-857f-a6db8955d3b5","provisioning_mode":"ipam","service_ip":"172.27.192.3/22","zone":"fr-par-1"}}],"id":"c14aebf0-c6e5-4f76-a733-058d53d30258","instance_id":"cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.415667ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/0a59c036-7a4b-4b1c-8ea6-fdda9c1142cc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 315.454375ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"a1ec94d1-0433-41ef-baae-37944e81f1ba","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6/endpoints
        method: POST
      response:
        body: '{"id":"80dd0929-1fe1-4c58-8666-4d8e3cf4e5e7","ip":"172.27.184.2","name":null,"port":5432,"private_network":{"private_network_id":"a1ec94d1-0433-41ef-baae-37944e81f1ba","provisioning_mode":"ipam","service_ip":"172.27.184.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 968.922292ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"a1ec94d1-0433-41ef-baae-37944e81f1ba","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c14aebf0-c6e5-4f76-a733-058d53d30258/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"b390758c-044c-4699-86f7-2c96f78a21cd","ip":"172.27.184.3","name":null,"port":5432,"private_network":{"private_network_id":"a1ec94d1-0433-41ef-baae-37944e81f1ba","provisioning_mode":"ipam","service_ip":"172.27.184.3/22","zone":"fr-par-1"}}],"id":"c14aebf0-c6e5-4f76-a733-058d53d30258","instance_id":"cc5b2a98-9e32-4c3e-88ae-83c89dd06bb6","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 972.448583ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c14aebf0-c6e5-4f76-a733-058d53d30258
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"c14aebf0-c6e5-4f76-a733-058d53d30258","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 338.096125ms
[...]
