---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:16:09.857470Z","dhcp_enabled":true,"id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-22T11:16:09.857470Z","id":"3dc582d7-52b0-45eb-8731-b5be99c620cd","private_network_id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.52.0/22","updated_at":"2025-01-22T11:16:09.857470Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-22T11:16:09.857470Z","id":"edcad6cc-6eb3-4f88-80a2-f9f866a8dde1","private_network_id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:585c::/64","updated_at":"2025-01-22T11:16:09.857470Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-22T11:16:09.857470Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.4365ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0799679f-a33c-40ad-b3e2-00dc345f28d8
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:16:09.857470Z","dhcp_enabled":true,"id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-22T11:16:09.857470Z","id":"3dc582d7-52b0-45eb-8731-b5be99c620cd","private_network_id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.52.0/22","updated_at":"2025-01-22T11:16:09.857470Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-22T11:16:09.857470Z","id":"edcad6cc-6eb3-4f88-80a2-f9f866a8dde1","private_network_id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:585c::/64","updated_at":"2025-01-22T11:16:09.857470Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-22T11:16:09.857470Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.911334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:16:10.165728Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"fd8f9703-e1cc-4594-865f-41c0f081c0a7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 519.583458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fd8f9703-e1cc-4594-865f-41c0f081c0a7
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:16:10.165728Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"fd8f9703-e1cc-4594-865f-41c0f081c0a7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.049791ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fd8f9703-e1cc-4594-865f-41c0f081c0a7
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:16:10.165728Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"fd8f9703-e1cc-4594-865f-41c0f081c0a7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.445583ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fd8f9703-e1cc-4594-865f-41c0f081c0a7
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:16:10.165728Z","encryption":{"enabled":false},"endpoint":{"id":"82a50c15-26a9-4eb4-b238-2b1e606fe01c","ip":"51.159.206.51","load_balancer":{},"name":null,"port":12587},"endpoints":[{"id":"82a50c15-26a9-4eb4-b238-2b1e606fe01c","ip":"51.159.206.51","load_balancer":{},"name":null,"port":12587}],"engine":"PostgreSQL-14","id":"fd8f9703-e1cc-4594-865f-41c0f081c0a7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.120708ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fd8f9703-e1cc-4594-865f-41c0f081c0a7/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVQnBPVDFsVVJZOCttTEpjR1l3cTNZOWh4bTlVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5TURZdU5URXdIaGNOCk1qVXdNVEl5TVRFeE9UQTRXaGNOTXpVd01USXdNVEV4T1RBNFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"instance_id":"fd8f9703-e1cc-4594-865f-41c0f081c0a7","endpoint_spec":[{"private_network":{"private_network_id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"a9202fcb-ff9d-41fd-91eb-f3e9ac2634a2","ip":"172.16.52.2","name":null,"port":5432,"private_network":{"private_network_id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","provisioning_mode":"ipam","service_ip":"172.16.52.2/22","zone":"fr-par-1"}}],"id":"d0137fdb-4064-4afe-b77d-1adebbea7118","instance_id":"fd8f9703-e1cc-4594-865f-41c0f081c0a7","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.220100209s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d0137fdb-4064-4afe-b77d-1adebbea7118
        method: GET
      response:
        body: '{"endpoints":[{"id":"a9202fcb-ff9d-41fd-91eb-f3e9ac2634a2","ip":"172.16.52.2","name":null,"port":5432,"private_network":{"private_network_id":"0799679f-a33c-40ad-b3e2-00dc345f28d8","provisioning_mode":"ipam","service_ip":"172.16.52.2/22","zone":"fr-par-1"}}],"id":"d0137fdb-4064-4afe-b77d-1adebbea7118","instance_id":"fd8f9703-e1cc-4594-865f-41c0f081c0a7","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.052541ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d0137fdb-4064-4afe-b77d-1adebbea7118
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"d0137fdb-4064-4afe-b77d-1adebbea7118","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.068042ms
[...]
