---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-rr-different-zone\",\"engine\":\"PostgreSQL-14\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"different-zone\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"780fb99d-7feb-4a83-8f38-b27a39f7c57b\",\"name\":\"test-rdb-rr-different-zone\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-14\",\"upgradable_version\":[{\"id\":\"fe589ec4-e13e-4a44-a89a-cb4bc65f5b58\",\"name\":\"PostgreSQL-15\",\"version\":\"15\",\"minor_version\":\"15.14\"},{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"different-zone\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:08:17.548255Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 427.166133ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/780fb99d-7feb-4a83-8f38-b27a39f7c57b
    method: GET
  response:
    body: "{\"id\":\"780fb99d-7feb-4a83-8f38-b27a39f7c57b\",\"name\":\"test-rdb-rr-different-zone\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-14\",\"upgradable_version\":[{\"id\":\"fe589ec4-e13e-4a44-a89a-cb4bc65f5b58\",\"name\":\"PostgreSQL-15\",\"version\":\"15\",\"minor_version\":\"15.14\"},{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"different-zone\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:08:17.548255Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.69254ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-rdb-rr-different-zone\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"name\":\"test-rdb-rr-different-zone\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:08:17.327352Z\",\"updated_at\":\"2025-08-28T12:08:17.327352Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"e230f9d7-ce02-448c-bd8c-f38ab1f1527b\",\"created_at\":\"2025-08-28T12:08:17.327352Z\",\"updated_at\":\"2025-08-28T12:08:17.327352Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"78c828a9-58f7-4255-a821-88816eb6d1b8\",\"created_at\":\"2025-08-28T12:08:17.327352Z\",\"updated_at\":\"2025-08-28T12:08:17.327352Z\",\"subnet\":\"fd63:256c:45f7:920b::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 664.452639ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/31e0a179-3a69-4c9d-995d-5016b41fa82c
    method: GET
  response:
    body: "{\"id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"name\":\"test-rdb-rr-different-zone\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:08:17.327352Z\",\"updated_at\":\"2025-08-28T12:08:17.327352Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"e230f9d7-ce02-448c-bd8c-f38ab1f1527b\",\"created_at\":\"2025-08-28T12:08:17.327352Z\",\"updated_at\":\"2025-08-28T12:08:17.327352Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"78c828a9-58f7-4255-a821-88816eb6d1b8\",\"created_at\":\"2025-08-28T12:08:17.327352Z\",\"updated_at\":\"2025-08-28T12:08:17.327352Z\",\"subnet\":\"fd63:256c:45f7:920b::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 30.423916ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/780fb99d-7feb-4a83-8f38-b27a39f7c57b
    method: GET
  response:
    body: "{\"id\":\"780fb99d-7feb-4a83-8f38-b27a39f7c57b\",\"name\":\"test-rdb-rr-different-zone\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-14\",\"upgradable_version\":[{\"id\":\"fe589ec4-e13e-4a44-a89a-cb4bc65f5b58\",\"name\":\"PostgreSQL-15\",\"version\":\"15\",\"minor_version\":\"15.14\"},{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"different-zone\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:08:17.548255Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.374734ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/780fb99d-7feb-4a83-8f38-b27a39f7c57b
    method: GET
  response:
    body: "{\"id\":\"780fb99d-7feb-4a83-8f38-b27a39f7c57b\",\"name\":\"test-rdb-rr-different-zone\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-14\",\"upgradable_version\":[{\"id\":\"fe589ec4-e13e-4a44-a89a-cb4bc65f5b58\",\"name\":\"PostgreSQL-15\",\"version\":\"15\",\"minor_version\":\"15.14\"},{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":{\"ip\":\"51.159.8.83\",\"port\":25913,\"name\":null,\"id\":\"5f7b126c-cfe1-4d30-b87e-e33d61148336\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"different-zone\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.8.83\",\"port\":25913,\"name\":null,\"id\":\"5f7b126c-cfe1-4d30-b87e-e33d61148336\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:08:17.548255Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 174.442193ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/780fb99d-7feb-4a83-8f38-b27a39f7c57b/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5RENDQXR5Z0F3SUJBZ0lVRFRvdlVHSlhLRzE5K2Q4SEkwQnVuU3U4UW9vd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pVeExqRTFPUzQ0TGpnek1CNFhEVEkxCk1EZ3lPREV5TVRBeU5Wb1hEVE0xTURneU5qRXlNVEF5TlZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6VXhMakUxT1M0NE[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"780fb99d-7feb-4a83-8f38-b27a39f7c57b\",\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"ipam_config\":{}}}],\"same_zone\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: "{\"id\":\"eb63b6d3-d2b2-43b8-80fc-42364772d47f\",\"endpoints\":[{\"ip\":\"172.16.32.2\",\"port\":5432,\"name\":null,\"id\":\"a3b2bcf9-f295-4baf-9613-ac1cce280873\",\"private_network\":{\"private_network_id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"service_ip\":\"172.16.32.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"780fb99d-7feb-4a83-8f38-b27a39f7c57b\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.468820455s
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/eb63b6d3-d2b2-43b8-80fc-42364772d47f
    method: GET
  response:
    body: "{\"id\":\"eb63b6d3-d2b2-43b8-80fc-42364772d47f\",\"endpoints\":[{\"ip\":\"172.16.32.2\",\"port\":5432,\"name\":null,\"id\":\"a3b2bcf9-f295-4baf-9613-ac1cce280873\",\"private_network\":{\"private_network_id\":\"31e0a179-3a69-4c9d-995d-5016b41fa82c\",\"service_ip\":\"172.16.32.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"780fb99d-7feb-4a83-8f38-b27a39f7c57b\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 131.295617ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/eb63b6d3-d2b2-43b8-80fc-42364772d47f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"read_replica\",\"resource_id\":\"eb63b6d3-d2b2-43b8-80fc-42364772d47f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 77.051848ms
[...]
