---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-confident-wu","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:04:55.222702Z","dhcp_enabled":true,"id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","name":"tf-pn-confident-wu","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-22T11:04:55.222702Z","id":"42e9452c-77db-45be-9ad0-fcb2d027ad2b","private_network_id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.24.0/22","updated_at":"2025-01-22T11:04:55.222702Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-22T11:04:55.222702Z","id":"8206c707-f9e4-4175-873a-6ca0a26d0e88","private_network_id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:256a::/64","updated_at":"2025-01-22T11:04:55.222702Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-22T11:04:55.222702Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.892959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/45e9947b-12cf-4ed4-bc81-5727a59ee62e
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:04:55.222702Z","dhcp_enabled":true,"id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","name":"tf-pn-confident-wu","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-22T11:04:55.222702Z","id":"42e9452c-77db-45be-9ad0-fcb2d027ad2b","private_network_id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.24.0/22","updated_at":"2025-01-22T11:04:55.222702Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-22T11:04:55.222702Z","id":"8206c707-f9e4-4175-873a-6ca0a26d0e88","private_network_id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:256a::/64","updated_at":"2025-01-22T11:04:55.222702Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-22T11:04:55.222702Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.794708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:04:55.556879Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"665095d1-9b39-4ed0-9ed3-1aac793d5585","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 684.750209ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/665095d1-9b39-4ed0-9ed3-1aac793d5585
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:04:55.556879Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"665095d1-9b39-4ed0-9ed3-1aac793d5585","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.160917ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/665095d1-9b39-4ed0-9ed3-1aac793d5585
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:04:55.556879Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"665095d1-9b39-4ed0-9ed3-1aac793d5585","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.610709ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/665095d1-9b39-4ed0-9ed3-1aac793d5585
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:04:55.556879Z","encryption":{"enabled":false},"endpoint":{"id":"b63ae589-654c-4698-9c89-340bd6decd63","ip":"195.154.196.130","load_balancer":{},"name":null,"port":22878},"endpoints":[{"id":"b63ae589-654c-4698-9c89-340bd6decd63","ip":"195.154.196.130","load_balancer":{},"name":null,"port":22878}],"engine":"PostgreSQL-15","id":"665095d1-9b39-4ed0-9ed3-1aac793d5585","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.592625ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/665095d1-9b39-4ed0-9ed3-1aac793d5585/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVVk1NL0VmM1IvVkcvV0NPSERBYmNXR1IwVHNVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrMkxqRXpNREFlCkZ3MHlOVEF4TWpJeE1UQTRNek5hRncwek5UQXhNakF4TVRBNE16TmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"instance_id":"665095d1-9b39-4ed0-9ed3-1aac793d5585","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"b20bd1a4-db3a-4fcc-995c-7b07cf26bacf","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","provisioning_mode":"static","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"f2b2bbc2-095c-48b9-995c-e92f6457db76","instance_id":"665095d1-9b39-4ed0-9ed3-1aac793d5585","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 827.567291ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/f2b2bbc2-095c-48b9-995c-e92f6457db76
        method: GET
      response:
        body: '{"endpoints":[{"id":"b20bd1a4-db3a-4fcc-995c-7b07cf26bacf","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"45e9947b-12cf-4ed4-bc81-5727a59ee62e","provisioning_mode":"static","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"f2b2bbc2-095c-48b9-995c-e92f6457db76","instance_id":"665095d1-9b39-4ed0-9ed3-1aac793d5585","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.044666ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/f2b2bbc2-095c-48b9-995c-e92f6457db76
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"f2b2bbc2-095c-48b9-995c-e92f6457db76","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 115.045708ms
[...]
