---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:06:42.219612Z","dhcp_enabled":true,"id":"33250dab-b81b-4c17-9d0b-537d62de6677","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:06:42.219612Z","id":"ad50b419-1088-4c4f-9264-fea537566fc1","subnet":"172.17.76.0/22","updated_at":"2024-05-14T09:06:42.219612Z"},{"created_at":"2024-05-14T09:06:42.219612Z","id":"c49aaf0e-288a-4901-8fd5-429406aa3f4c","subnet":"fd5f:519c:6d46:aa79::/64","updated_at":"2024-05-14T09:06:42.219612Z"}],"tags":[],"updated_at":"2024-05-14T09:06:42.219612Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 591.585616ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/33250dab-b81b-4c17-9d0b-537d62de6677
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:06:42.219612Z","dhcp_enabled":true,"id":"33250dab-b81b-4c17-9d0b-537d62de6677","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:06:42.219612Z","id":"ad50b419-1088-4c4f-9264-fea537566fc1","subnet":"172.17.76.0/22","updated_at":"2024-05-14T09:06:42.219612Z"},{"created_at":"2024-05-14T09:06:42.219612Z","id":"c49aaf0e-288a-4901-8fd5-429406aa3f4c","subnet":"fd5f:519c:6d46:aa79::/64","updated_at":"2024-05-14T09:06:42.219612Z"}],"tags":[],"updated_at":"2024-05-14T09:06:42.219612Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.284861ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:43.295033Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"63916045-c855-43df-a55a-1e8a4344188c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.339579974s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/63916045-c855-43df-a55a-1e8a4344188c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:43.295033Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"63916045-c855-43df-a55a-1e8a4344188c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.641894861s
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/63916045-c855-43df-a55a-1e8a4344188c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:43.295033Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"63916045-c855-43df-a55a-1e8a4344188c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.419107077s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/63916045-c855-43df-a55a-1e8a4344188c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:43.295033Z","endpoint":{"id":"e51a5e75-eee7-4b34-af71-22d8a0be9792","ip":"195.154.196.126","load_balancer":{},"name":null,"port":18705},"endpoints":[{"id":"e51a5e75-eee7-4b34-af71-22d8a0be9792","ip":"195.154.196.126","load_balancer":{},"name":null,"port":18705}],"engine":"PostgreSQL-14","id":"63916045-c855-43df-a55a-1e8a4344188c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.259067ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/63916045-c855-43df-a55a-1e8a4344188c/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVVjdKTHRiejJyUjc0VGt3eFJtNXVUbmNBY0VVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrMkxqRXlOakFlCkZ3MHlOREExTVRRd09UQTVOREZhRncwek5EQTFNVEl3T1RBNU5ERmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"instance_id":"63916045-c855-43df-a55a-1e8a4344188c","endpoint_spec":[{"private_network":{"private_network_id":"33250dab-b81b-4c17-9d0b-537d62de6677","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"987ed46e-065c-4707-bf42-af2e8082d7d8","ip":"172.17.76.2","name":null,"port":5432,"private_network":{"private_network_id":"33250dab-b81b-4c17-9d0b-537d62de6677","provisioning_mode":"ipam","service_ip":"172.17.76.2/22","zone":"fr-par-1"}}],"id":"08c767a9-9591-4d43-9668-aca3d1451035","instance_id":"63916045-c855-43df-a55a-1e8a4344188c","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.003358942s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/08c767a9-9591-4d43-9668-aca3d1451035
        method: GET
      response:
        body: '{"endpoints":[{"id":"987ed46e-065c-4707-bf42-af2e8082d7d8","ip":"172.17.76.2","name":null,"port":5432,"private_network":{"private_network_id":"33250dab-b81b-4c17-9d0b-537d62de6677","provisioning_mode":"ipam","service_ip":"172.17.76.2/22","zone":"fr-par-1"}}],"id":"08c767a9-9591-4d43-9668-aca3d1451035","instance_id":"63916045-c855-43df-a55a-1e8a4344188c","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.037504ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/08c767a9-9591-4d43-9668-aca3d1451035
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"08c767a9-9591-4d43-9668-aca3d1451035","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 5.974732579s
[...]
