---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"tf-pn-epic-burnell","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-23T13:56:35.185808Z","dhcp_enabled":true,"id":"ccdba967-d92c-4648-947b-9f7874f2aaef","name":"tf-pn-epic-burnell","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:35.185808Z","id":"49c4f800-97fa-4f4a-a0fb-3c4e4bd76f7a","subnet":"172.16.32.0/22","updated_at":"2024-02-23T13:56:35.185808Z"},{"created_at":"2024-02-23T13:56:35.185808Z","id":"39530717-533a-49f1-8fc0-6f012d4d5192","subnet":"fd63:256c:45f7:bbb8::/64","updated_at":"2024-02-23T13:56:35.185808Z"}],"tags":[],"updated_at":"2024-02-23T13:56:35.185808Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ccdba967-d92c-4648-947b-9f7874f2aaef
    method: GET
  response:
    body: '{"created_at":"2024-02-23T13:56:35.185808Z","dhcp_enabled":true,"id":"ccdba967-d92c-4648-947b-9f7874f2aaef","name":"tf-pn-epic-burnell","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:35.185808Z","id":"49c4f800-97fa-4f4a-a0fb-3c4e4bd76f7a","subnet":"172.16.32.0/22","updated_at":"2024-02-23T13:56:35.185808Z"},{"created_at":"2024-02-23T13:56:35.185808Z","id":"39530717-533a-49f1-8fc0-6f012d4d5192","subnet":"fd63:256c:45f7:bbb8::/64","updated_at":"2024-02-23T13:56:35.185808Z"}],"tags":[],"updated_at":"2024-02-23T13:56:35.185808Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.279043Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"58b0064a-b921-46fc-b41a-6ddf65980005","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/58b0064a-b921-46fc-b41a-6ddf65980005
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.279043Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"58b0064a-b921-46fc-b41a-6ddf65980005","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/58b0064a-b921-46fc-b41a-6ddf65980005
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.279043Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"58b0064a-b921-46fc-b41a-6ddf65980005","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/58b0064a-b921-46fc-b41a-6ddf65980005
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.279043Z","endpoint":{"id":"379c900a-a580-4f14-a494-e194e61ed5c1","ip":"51.159.74.225","load_balancer":{},"name":null,"port":28071},"endpoints":[{"id":"379c900a-a580-4f14-a494-e194e61ed5c1","ip":"51.159.74.225","load_balancer":{},"name":null,"port":28071}],"engine":"PostgreSQL-15","id":"58b0064a-b921-46fc-b41a-6ddf65980005","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/58b0064a-b921-46fc-b41a-6ddf65980005/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVSVBBZlYvWThxWUg1NjNnUlB5RTBYRUdad0tRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzQzTkM0eU1qVXdIaGNOCk1qUXdNakl6TVRNMU9UTTVXaGNOTXpRd01qSXdNVE0xT1RNNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"58b0064a-b921-46fc-b41a-6ddf65980005","endpoint_spec":[{"private_network":{"private_network_id":"ccdba967-d92c-4648-947b-9f7874f2aaef","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"4eb2d942-f623-4e31-8755-5c9d4f630e29","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"ccdba967-d92c-4648-947b-9f7874f2aaef","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"2f9b68f7-56a4-4028-9983-c84741ca40ea","instance_id":"58b0064a-b921-46fc-b41a-6ddf65980005","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/2f9b68f7-56a4-4028-9983-c84741ca40ea
    method: GET
  response:
    body: '{"endpoints":[{"id":"4eb2d942-f623-4e31-8755-5c9d4f630e29","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"ccdba967-d92c-4648-947b-9f7874f2aaef","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"2f9b68f7-56a4-4028-9983-c84741ca40ea","instance_id":"58b0064a-b921-46fc-b41a-6ddf65980005","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=58b0064a-b921-46fc-b41a-6ddf65980005&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/2f9b68f7-56a4-4028-9983-c84741ca40ea
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"2f9b68f7-56a4-4028-9983-c84741ca40ea","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
