---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn1","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T22:00:39.211208Z","dhcp_enabled":true,"id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","name":"test-rdb-rr-instance-in-pn1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:00:39.211208Z","id":"8d2d841d-b6e0-4274-b299-38a2371788a2","private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-05T22:00:39.211208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:00:39.211208Z","id":"390c1a74-a9da-4c2a-a376-e1fa66636fe3","private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:89ef::/64","updated_at":"2025-05-05T22:00:39.211208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:00:39.211208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 852.723209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/196b153a-a6b9-42f2-ab24-ef3eb5a94145
        method: GET
      response:
        body: '{"created_at":"2025-05-05T22:00:39.211208Z","dhcp_enabled":true,"id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","name":"test-rdb-rr-instance-in-pn1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T22:00:39.211208Z","id":"8d2d841d-b6e0-4274-b299-38a2371788a2","private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.20.0/22","updated_at":"2025-05-05T22:00:39.211208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-05T22:00:39.211208Z","id":"390c1a74-a9da-4c2a-a376-e1fa66636fe3","private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:89ef::/64","updated_at":"2025-05-05T22:00:39.211208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-05T22:00:39.211208Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.976692ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:00:40.208494Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c4e2e3e6-5096-45a9-a7df-53fbe2558fea","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[{"id":"bf79ca4c-afdd-4226-b5ec-658b34e28a08","minor_version":"16.8","name":"PostgreSQL-16","version":"16"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.151853014s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:00:40.208494Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c4e2e3e6-50[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-05-05T22:00:40.208494Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"c4e2e3e6-5096-45a9-a7df-53fbe2558fea","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[{"id":"bf79ca4c-afdd-4226-b5ec-658b34e28a08","minor_version":"16.8","name":"PostgreSQL-16","version":"16"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.935261ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVUG5iVW1sSmZEc0dHaWhWOWFyc2NJOUlHaE1jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5TUM0eU1CNFhEVEkxCk1EVXdOVEl5TURFME1Gb1hEVE0xTURVd016SXlNREUwTUZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU1[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=196b153a-a6b9-42f2-ab24-ef3eb5a94145&resource_id=16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.20.2/22","created_at":"2025-05-05T22:00:40.718661Z","id":"278b2b61-88a9-41aa-8d03-8a8d20f8080d","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3","mac_address":"02:00:00:18:3F:54","name":"test-rdb-rr-instance-in-pn","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"8d2d841d-b6e0-4274-b299-38a2371788a2"},"tags":["managed","scwdbaas"],"updated_at":"2025-05-05T22:01:07.398744Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.993231ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"instance_id":"16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3","endpoint_spec":[{"private_network":{"private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"46db0cc6-16cf-45bd-8cf2-65a803e770e2","ip":"172.16.20.3","name":null,"port":5432,"private_network":{"private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","provisioning_mode":"ipam","service_ip":"172.16.20.3/22","zone":"fr-par-1"}}],"id":"6d0a9879-42fc-4ede-9547-908a76440ce0","instance_id":"16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.560408549s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6d0a9879-42fc-4ede-9547-908a76440ce0
        method: GET
      response:
        body: '{"endpoints":[{"id":"46db0cc6-16cf-45bd-8cf2-65a803e770e2","ip":"172.16.20.3","name":null,"port":5432,"private_network":{"private_network_id":"196b153a-a6b9-42f2-ab24-ef3eb5a94145","provisioning_mode":"ipam","service_ip":"172.16.20.3/22","zone":"fr-par-1"}}],"id":"6d0a9879-42fc-4ede-9547-908a76440ce0","instance_id":"16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.746805ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/c4e2e3e6-5096-45a9-a7df-53fbe2558fea
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 512.097329ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"8bcd6f77-fb0e-4559-a9e6-c9fd58916324","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3/endpoints
        method: POST
      response:
        body: '{"id":"e61b220a-d325-49cf-af73-7588be0b8b5c","ip":"172.16.12.2","name":null,"port":5432,"private_network":{"private_network_id":"8bcd6f77-fb0e-4559-a9e6-c9fd58916324","provisioning_mode":"ipam","service_ip":"172.16.12.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.633398069s
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"8bcd6f77-fb0e-4559-a9e6-c9fd58916324","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6d0a9879-42fc-4ede-9547-908a76440ce0/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"1e0f130e-f3b0-44af-9528-b727c8caf225","ip":"172.16.12.3","name":null,"port":5432,"private_network":{"private_network_id":"8bcd6f77-fb0e-4559-a9e6-c9fd58916324","provisioning_mode":"ipam","service_ip":"172.16.12.3/22","zone":"fr-par-1"}}],"id":"6d0a9879-42fc-4ede-9547-908a76440ce0","instance_id":"16a958f5-af8d-4fb5-b42f-cfa7c1c06fc3","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.167194381s
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6d0a9879-42fc-4ede-9547-908a76440ce0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"6d0a9879-42fc-4ede-9547-908a76440ce0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 83.174046ms
[...]
