---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","update"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:13.888957Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"5e291433-7324-4e73-8edb-12924d7b2557","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.638744ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5e291433-7324-4e73-8edb-12924d7b2557
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:13.888957Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"5e291433-7324-4e73-8edb-12924d7b2557","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.765373ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5e291433-7324-4e73-8edb-12924d7b2557
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:13.888957Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"5e291433-7324-4e73-8edb-12924d7b2557","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.013218ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5e291433-7324-4e73-8edb-12924d7b2557
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:26:13.888957Z","endpoint":{"id":"1a839acf-8b51-49b0-a9c4-904322e4a8a5","ip":"195.154.197.57","load_balancer":{},"name":null,"port":15280},"endpoints":[{"id":"1a839acf-8b51-49b0-a9c4-904322e4a8a5","ip":"195.154.197.57","load_balancer":{},"name":null,"port":15280}],"engine":"PostgreSQL-15","id":"5e291433-7324-4e73-8edb-12924d7b2557","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.939224ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5e291433-7324-4e73-8edb-12924d7b2557/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVUmcwbVptQm1TRDdBSUtKRExBUFJJc3JOelVjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFNU5TNHhOVFF1TVRrM0xqVTNNQjRYCkRUSTBNRFF4TnpFeU1qZ3pNRm9YRFRNME1EUXhOVEV5TWpnek1Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakU1TlM0eE5[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"instance_id":"5e291433-7324-4e73-8edb-12924d7b2557","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[],"id":"e5e95372-93ef-443d-9d9f-20e04fb378be","instance_id":"5e291433-7324-4e73-8edb-12924d7b2557","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.852162ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/e5e95372-93ef-443d-9d9f-20e04fb378be
        method: GET
      response:
        body: '{"endpoints":[],"id":"e5e95372-93ef-443d-9d9f-20e04fb378be","instance_id":"5e291433-7324-4e73-8edb-12924d7b2557","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.741023ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-dazzling-feynman","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:31:19.338521Z","dhcp_enabled":true,"id":"e274ab94-7d70-43b3-9f98-9a255b0e3d0f","name":"tf-pn-dazzling-feynman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:31:19.338521Z","id":"bb414deb-5514-4358-ab42-ae35f845c410","subnet":"172.17.112.0/22","updated_at":"2024-04-17T12:31:19.338521Z"},{"created_at":"2024-04-17T12:31:19.338521Z","id":"78414fea-60be-4380-a26f-78211bcc3f5a","subnet":"fd5f:519c:6d46:56c8::/64","updated_at":"2024-04-17T12:31:19.338521Z"}],"tags":[],"updated_at":"2024-04-17T12:31:19.338521Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.875346ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e274ab94-7d70-43b3-9f98-9a255b0e3d0f
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:31:19.338521Z","dhcp_enabled":true,"id":"e274ab94-7d70-43b3-9f98-9a255b0e3d0f","name":"tf-pn-dazzling-feynman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:31:19.338521Z","id":"bb414deb-5514-4358-ab42-ae35f845c410","subnet":"172.17.112.0/22","updated_at":"2024-04-17T12:31:19.338521Z"},{"created_at":"2024-04-17T12:31:19.338521Z","id":"78414fea-60be-4380-a26f-78211bcc3f5a","subnet":"fd5f:519c:6d46:56c8::/64","updated_at":"2024-04-17T12:31:19.338521Z"}],"tags":[],"updated_at":"2024-04-17T12:31:19.338521Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.580306ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/db97764f-24a2-4bbb-80ab-154dd39fce40
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 225.777152ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"e274ab94-7d70-43b3-9f98-9a255b0e3d0f","service_ip":"10.12.1.0/20"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/e5e95372-93ef-443d-9d9f-20e04fb378be/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"40c83ad4-902a-4b12-b202-b85ee00dab8b","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"e274ab94-7d70-43b3-9f98-9a255b0e3d0f","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"e5e95372-93ef-443d-9d9f-20e04fb378be","instance_id":"5e291433-7324-4e73-8edb-12924d7b2557","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.331574ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=5e291433-7324-4e73-8edb-12924d7b2557&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.474123ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"e274ab94-7d70-43b3-9f98-9a255b0e3d0f","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/e5e95372-93ef-443d-9d9f-20e04fb378be/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"3a625d55-7298-46b5-9286-cbe3fd8aba15","ip":"172.17.112.3","name":null,"port":5432,"private_network":{"private_network_id":"e274ab94-7d70-43b3-9f98-9a255b0e3d0f","service_ip":"172.17.112.3/22","zone":"fr-par-1"}}],"id":"e5e95372-93ef-443d-9d9f-20e04fb378be","instance_id":"5e291433-7324-4e73-8edb-12924d7b2557","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 824.209565ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=5e291433-7324-4e73-8edb-12924d7b2557&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.112.3/22","created_at":"2024-04-17T12:32:59.705827Z","id":"bcb92453-c8c7-4822-bd46-c50061f58681","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"5e291433-7324-4e73-8edb-12924d7b2557","mac_address":"02:00:00:19:E7:D0","name":"read-replica-e5e95372","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"bb414deb-5514-4358-ab42-ae35f845c410"},"tags":["managed","scwdbaas"],"updated_at":"2024-04-17T12:33:00.585114Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.859209ms
[...]
    - id: 138
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/e5e95372-93ef-443d-9d9f-20e04fb378be
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"e5e95372-93ef-443d-9d9f-20e04fb378be","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.459586ms
[...]
