---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:34:10.777277Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"07020239-1c0e-4d38-8d39-001369ab2777","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 515.781583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-06T13:34:10.603930Z","dhcp_enabled":true,"id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-02-06T13:34:10.603930Z","id":"63f72d16-6cd9-44ac-bfea-c8c1bd455486","private_network_id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-02-06T13:34:10.603930Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-02-06T13:34:10.603930Z","id":"fdebd4d8-a940-4e6f-9223-06e8e72b54a7","private_network_id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:666f::/64","updated_at":"2025-02-06T13:34:10.603930Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-02-06T13:34:10.603930Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 592.848834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0217fea9-0d29-482b-ab11-d9a11bb6dd1f
        method: GET
      response:
        body: '{"created_at":"2025-02-06T13:34:10.603930Z","dhcp_enabled":true,"id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-02-06T13:34:10.603930Z","id":"63f72d16-6cd9-44ac-bfea-c8c1bd455486","private_network_id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-02-06T13:34:10.603930Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-02-06T13:34:10.603930Z","id":"fdebd4d8-a940-4e6f-9223-06e8e72b54a7","private_network_id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:666f::/64","updated_at":"2025-02-06T13:34:10.603930Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-02-06T13:34:10.603930Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.33ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07020239-1c0e-4d38-8d39-001369ab2777
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:34:10.777277Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"07020239-1c0e-4d38-8d39-001369ab2777","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.49875ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07020239-1c0e-4d38-8d39-001369ab2777
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:34:10.777277Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"07020239-1c0e-4d38-8d39-001369ab2777","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.511167ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07020239-1c0e-4d38-8d39-001369ab2777
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:34:10.777277Z","encryption":{"enabled":false},"endpoint":{"id":"64ca89cb-c413-4647-b969-196d714eb2b7","ip":"51.159.204.170","load_balancer":{},"name":null,"port":20421},"endpoints":[{"id":"64ca89cb-c413-4647-b969-196d714eb2b7","ip":"51.159.204.170","load_balancer":{},"name":null,"port":20421}],"engine":"PostgreSQL-14","id":"07020239-1c0e-4d38-8d39-001369ab2777","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"b6f419f8-bc2d-41cf-9f82-176bcd65768d","minor_version":"15.10","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.567443083s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07020239-1c0e-4d38-8d39-001369ab2777/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVYUw0MHZwL1p4MHBvc3BGOU9DRHdmcEg2dnBFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURRdU1UY3dNQjRYCkRUSTFNREl3TmpFek16Y3hNbG9YRFRNMU1ESXdOREV6TXpjeE1sb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"instance_id":"07020239-1c0e-4d38-8d39-001369ab2777","endpoint_spec":[{"private_network":{"private_network_id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"76762d9a-7f90-4f5d-a753-05efa53cf41b","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","provisioning_mode":"ipam","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"id":"ae7d87bd-8850-46e9-b7b7-fe7a7080c74f","instance_id":"07020239-1c0e-4d38-8d39-001369ab2777","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.149252375s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ae7d87bd-8850-46e9-b7b7-fe7a7080c74f
        method: GET
      response:
        body: '{"endpoints":[{"id":"76762d9a-7f90-4f5d-a753-05efa53cf41b","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"0217fea9-0d29-482b-ab11-d9a11bb6dd1f","provisioning_mode":"ipam","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"id":"ae7d87bd-8850-46e9-b7b7-fe7a7080c74f","instance_id":"07020239-1c0e-4d38-8d39-001369ab2777","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.452ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ae7d87bd-8850-46e9-b7b7-fe7a7080c74f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"ae7d87bd-8850-46e9-b7b7-fe7a7080c74f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 105.393167ms
[...]
