---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:16:09.421157Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"2c53c467-8458-4351-8196-c04f79756b58","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 654.114147ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-zealous-archimedes","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:16:09.049279Z","dhcp_enabled":true,"id":"2fa4ecd7-994b-4d1b-86d2-8e8171fd4028","name":"tf-pn-zealous-archimedes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:16:09.049279Z","id":"419ff979-c93b-497a-96ae-060c55a18af5","subnet":"172.16.0.0/22","updated_at":"2024-05-14T09:16:09.049279Z"},{"created_at":"2024-05-14T09:16:09.049279Z","id":"55d3622c-0333-453e-8538-00bf600bea21","subnet":"fd5f:519c:6d46:dc8::/64","updated_at":"2024-05-14T09:16:09.049279Z"}],"tags":[],"updated_at":"2024-05-14T09:16:09.049279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 730.109ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2fa4ecd7-994b-4d1b-86d2-8e8171fd4028
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:16:09.049279Z","dhcp_enabled":true,"id":"2fa4ecd7-994b-4d1b-86d2-8e8171fd4028","name":"tf-pn-zealous-archimedes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:16:09.049279Z","id":"419ff979-c93b-497a-96ae-060c55a18af5","subnet":"172.16.0.0/22","updated_at":"2024-05-14T09:16:09.049279Z"},{"created_at":"2024-05-14T09:16:09.049279Z","id":"55d3622c-0333-453e-8538-00bf600bea21","subnet":"fd5f:519c:6d46:dc8::/64","updated_at":"2024-05-14T09:16:09.049279Z"}],"tags":[],"updated_at":"2024-05-14T09:16:09.049279Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.031199ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c53c467-8458-4351-8196-c04f79756b58
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:16:09.421157Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"2c53c467-8458-4351-8196-c04f79756b58","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.200472ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c53c467-8458-4351-8196-c04f79756b58
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:16:09.421157Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"2c53c467-8458-4351-8196-c04f79756b58","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 291.263865ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c53c467-8458-4351-8196-c04f79756b58
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:16:09.421157Z","endpoint":{"id":"8d63f7c0-c158-4c5f-b885-9eb73bf24ea8","ip":"51.159.204.219","load_balancer":{},"name":null,"port":15615},"endpoints":[{"id":"8d63f7c0-c158-4c5f-b885-9eb73bf24ea8","ip":"51.159.204.219","load_balancer":{},"name":null,"port":15615}],"engine":"PostgreSQL-15","id":"2c53c467-8458-4351-8196-c04f79756b58","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","private-network"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.776385ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c53c467-8458-4351-8196-c04f79756b58/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVRXVjRWF2cUdxZUlHVEpkWEZpdTdGcUJHUGtjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURRdU1qRTVNQjRYCkRUSTBNRFV4TkRBNU1UZ3pPRm9YRFRNME1EVXhNakE1TVRnek9Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"instance_id":"2c53c467-8458-4351-8196-c04f79756b58","endpoint_spec":[{"private_network":{"private_network_id":"2fa4ecd7-994b-4d1b-86d2-8e8171fd4028","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"991d8947-eea2-4d0b-b94f-ef5a982b0d7e","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"2fa4ecd7-994b-4d1b-86d2-8e8171fd4028","provisioning_mode":"static","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"71254fc8-993a-439b-b89f-c072878d220a","instance_id":"2c53c467-8458-4351-8196-c04f79756b58","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 801.600295ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/71254fc8-993a-439b-b89f-c072878d220a
        method: GET
      response:
        body: '{"endpoints":[{"id":"991d8947-eea2-4d0b-b94f-ef5a982b0d7e","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"2fa4ecd7-994b-4d1b-86d2-8e8171fd4028","provisioning_mode":"static","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"71254fc8-993a-439b-b89f-c072878d220a","instance_id":"2c53c467-8458-4351-8196-c04f79756b58","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.105861ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/71254fc8-993a-439b-b89f-c072878d220a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"71254fc8-993a-439b-b89f-c072878d220a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 73.79004ms
[...]
