---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-22T11:13:50.471103Z","dhcp_enabled":true,"id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-22T11:13:50.471103Z","id":"7d74287c-50d2-4abc-bb22-1b15a575c784","private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.24.0/22","updated_at":"2025-01-22T11:13:50.471103Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-22T11:13:50.471103Z","id":"e2c80a7f-4003-4039-83d8-d94100c05daf","private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:cd9e::/64","updated_at":"2025-01-22T11:13:50.471103Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-22T11:13:50.471103Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 530.441625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3ecfea8d-ed24-41ce-b003-87cf1bcf477c
        method: GET
      response:
        body: '{"created_at":"2025-01-22T11:13:50.471103Z","dhcp_enabled":true,"id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-22T11:13:50.471103Z","id":"7d74287c-50d2-4abc-bb22-1b15a575c784","private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.24.0/22","updated_at":"2025-01-22T11:13:50.471103Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-22T11:13:50.471103Z","id":"e2c80a7f-4003-4039-83d8-d94100c05daf","private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:cd9e::/64","updated_at":"2025-01-22T11:13:50.471103Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-22T11:13:50.471103Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.056ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:13:51.332014Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b839436d-65e4-440f-95c7-67968544678c","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","provisioning_mode":"ipam","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"fb9c6f5d-994f-443a-bbc9-29ea8f489654","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.950536834s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fb9c6f5d-994f-443a-bbc9-29ea8f489654
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:13:51.332014Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b839436d-65e4-440f-95c7-67968544678c","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","provisioning_mode":"ipam","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"fb9c6f5d-994f-443a-bbc9-29ea8f489654","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.397917ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fb9c6f5d-994f-443a-bbc9-29ea8f489654
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-01-22T11:13:51.332014Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"b839436d-65e4-440f-95c7-67968544678c","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","provisioning_mode":"ipam","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"fb9c6f5d-994f-443a-bbc9-29ea8f489654","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.3875ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fb9c6f5d-994f-443a-bbc9-29ea8f489654/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVTkdSL1J2THFsOE9vQWNBSTNFRVdpYjErZDFrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5TkM0eU1CNFhEVEkxCk1ERXlNakV4TVRRME5sb1hEVE0xTURFeU1ERXhNVFEwTmxvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU5[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"instance_id":"fb9c6f5d-994f-443a-bbc9-29ea8f489654","endpoint_spec":[{"private_network":{"private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"359cc653-aabf-4b47-91f6-0300312f8f94","ip":"172.16.24.3","name":null,"port":5432,"private_network":{"private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","provisioning_mode":"ipam","service_ip":"172.16.24.3/22","zone":"fr-par-1"}}],"id":"8a177080-9953-4c90-8607-7398172cc67d","instance_id":"fb9c6f5d-994f-443a-bbc9-29ea8f489654","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.19931975s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/8a177080-9953-4c90-8607-7398172cc67d
        method: GET
      response:
        body: '{"endpoints":[{"id":"359cc653-aabf-4b47-91f6-0300312f8f94","ip":"172.16.24.3","name":null,"port":5432,"private_network":{"private_network_id":"3ecfea8d-ed24-41ce-b003-87cf1bcf477c","provisioning_mode":"ipam","service_ip":"172.16.24.3/22","zone":"fr-par-1"}}],"id":"8a177080-9953-4c90-8607-7398172cc67d","instance_id":"fb9c6f5d-994f-443a-bbc9-29ea8f489654","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.759208ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/b839436d-65e4-440f-95c7-67968544678c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 276.503042ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"24e870a0-87eb-4e79-ad2e-49b9366df09b","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fb9c6f5d-994f-443a-bbc9-29ea8f489654/endpoints
        method: POST
      response:
        body: '{"id":"5f3fbc2f-fef5-4663-b28d-1d4ce8cc9bad","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"24e870a0-87eb-4e79-ad2e-49b9366df09b","provisioning_mode":"ipam","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.104703541s
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"24e870a0-87eb-4e79-ad2e-49b9366df09b","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/8a177080-9953-4c90-8607-7398172cc67d/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"68089892-9e3b-4cfa-a02a-319f953c53bd","ip":"172.16.28.3","name":null,"port":5432,"private_network":{"private_network_id":"24e870a0-87eb-4e79-ad2e-49b9366df09b","provisioning_mode":"ipam","service_ip":"172.16.28.3/22","zone":"fr-par-1"}}],"id":"8a177080-9953-4c90-8607-7398172cc67d","instance_id":"fb9c6f5d-994f-443a-bbc9-29ea8f489654","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.031842292s
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/8a177080-9953-4c90-8607-7398172cc67d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"8a177080-9953-4c90-8607-7398172cc67d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 88.205625ms
[...]
