---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:25:48.145446Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.651907ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:25:47.921847Z","dhcp_enabled":true,"id":"0dde4eb5-eaa0-49a0-b6f8-be85ad1a6f18","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:25:47.921847Z","id":"04e49dcc-6a08-492f-b9de-796eab831db5","subnet":"172.17.64.0/22","updated_at":"2024-04-17T12:25:47.921847Z"},{"created_at":"2024-04-17T12:25:47.921847Z","id":"7ca82fc2-5c38-4f80-90d2-d5f7c792c7fa","subnet":"fd5f:519c:6d46:52c6::/64","updated_at":"2024-04-17T12:25:47.921847Z"}],"tags":[],"updated_at":"2024-04-17T12:25:47.921847Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 599.874741ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0dde4eb5-eaa0-49a0-b6f8-be85ad1a6f18
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:25:47.921847Z","dhcp_enabled":true,"id":"0dde4eb5-eaa0-49a0-b6f8-be85ad1a6f18","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:25:47.921847Z","id":"04e49dcc-6a08-492f-b9de-796eab831db5","subnet":"172.17.64.0/22","updated_at":"2024-04-17T12:25:47.921847Z"},{"created_at":"2024-04-17T12:25:47.921847Z","id":"7ca82fc2-5c38-4f80-90d2-d5f7c792c7fa","subnet":"fd5f:519c:6d46:52c6::/64","updated_at":"2024-04-17T12:25:47.921847Z"}],"tags":[],"updated_at":"2024-04-17T12:25:47.921847Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.186293ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88bd87b8-f830-4b36-9b44-7b1e18291b3d
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:25:48.145446Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.421404ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88bd87b8-f830-4b36-9b44-7b1e18291b3d
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:25:48.145446Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.893355ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88bd87b8-f830-4b36-9b44-7b1e18291b3d
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:25:48.145446Z","endpoint":{"id":"842fca86-66da-4293-b03d-44cca25bfcff","ip":"195.154.197.248","load_balancer":{},"name":null,"port":18627},"endpoints":[{"id":"842fca86-66da-4293-b03d-44cca25bfcff","ip":"195.154.197.248","load_balancer":{},"name":null,"port":18627}],"engine":"PostgreSQL-14","id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.308061ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88bd87b8-f830-4b36-9b44-7b1e18291b3d/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVQk5xUFlwbnZhMTFid0RSOEw1cFU3MFNUVHlnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrM0xqSTBPREFlCkZ3MHlOREEwTVRjeE1qSTROREZhRncwek5EQTBNVFV4TWpJNE5ERmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"instance_id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","endpoint_spec":[{"private_network":{"private_network_id":"0dde4eb5-eaa0-49a0-b6f8-be85ad1a6f18","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"24a20abe-93b6-46a1-b304-cfd90b7babc0","ip":"172.17.64.2","name":null,"port":5432,"private_network":{"private_network_id":"0dde4eb5-eaa0-49a0-b6f8-be85ad1a6f18","service_ip":"172.17.64.2/22","zone":"fr-par-1"}}],"id":"ebd64cf6-d33f-45d6-9da1-a6b525825b42","instance_id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 950.165435ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ebd64cf6-d33f-45d6-9da1-a6b525825b42
        method: GET
      response:
        body: '{"endpoints":[{"id":"24a20abe-93b6-46a1-b304-cfd90b7babc0","ip":"172.17.64.2","name":null,"port":5432,"private_network":{"private_network_id":"0dde4eb5-eaa0-49a0-b6f8-be85ad1a6f18","service_ip":"172.17.64.2/22","zone":"fr-par-1"}}],"id":"ebd64cf6-d33f-45d6-9da1-a6b525825b42","instance_id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.7981ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=88bd87b8-f830-4b36-9b44-7b1e18291b3d&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.64.2/22","created_at":"2024-04-17T12:29:20.543541Z","id":"1931f36f-b2b1-48f7-8dd8-967b4377ed48","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"88bd87b8-f830-4b36-9b44-7b1e18291b3d","mac_address":"02:00:00:19:E7:C5","name":"read-replica-ebd64cf6","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"04e49dcc-6a08-492f-b9de-796eab831db5"},"tags":["managed","scwdbaas"],"updated_at":"2024-04-17T12:29:51.848660Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.090895ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ebd64cf6-d33f-45d6-9da1-a6b525825b42
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"ebd64cf6-d33f-45d6-9da1-a6b525825b42","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.964966ms
[...]
