---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-rdb-rr-instance-in-pn2\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"name\":\"test-rdb-rr-instance-in-pn2\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:08:42.974949Z\",\"updated_at\":\"2025-08-28T12:08:42.974949Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"95c264eb-b434-4057-abb0-21bc08dc50a4\",\"created_at\":\"2025-08-28T12:08:42.974949Z\",\"updated_at\":\"2025-08-28T12:08:42.974949Z\",\"subnet\":\"172.16.12.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"72d8882b-05e6-47a9-ab88-ad6e0fda4f07\",\"created_at\":\"2025-08-28T12:08:42.974949Z\",\"updated_at\":\"2025-08-28T12:08:42.974949Z\",\"subnet\":\"fd63:256c:45f7:d7de::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 614.182134ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a
    method: GET
  response:
    body: "{\"id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"name\":\"test-rdb-rr-instance-in-pn2\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:08:42.974949Z\",\"updated_at\":\"2025-08-28T12:08:42.974949Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"95c264eb-b434-4057-abb0-21bc08dc50a4\",\"created_at\":\"2025-08-28T12:08:42.974949Z\",\"updated_at\":\"2025-08-28T12:08:42.974949Z\",\"subnet\":\"172.16.12.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"72d8882b-05e6-47a9-ab88-ad6e0fda4f07\",\"created_at\":\"2025-08-28T12:08:42.974949Z\",\"updated_at\":\"2025-08-28T12:08:42.974949Z\",\"subnet\":\"fd63:256c:45f7:d7de::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 23.935018ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-rr-instance-in-pn\",\"engine\":\"PostgreSQL-15\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"instance-also-in-pn\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":[{\"private_network\":{\"private_network_id\":\"5c374675-39b6-4c84-a5f6-4361489c28ca\",\"ipam_config\":{}}}],\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"name\":\"test-rdb-rr-instance-in-pn\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-15\",\"upgradable_version\":[{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"instance-also-in-pn\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.44.2\",\"port\":5432,\"name\":null,\"id\":\"a681868e-d01f-4994-a810-6f3c184cd158\",\"private_network\":{\"private_network_id\":\"5c374675-39b6-4c84-a5f6-4361489c28ca\",\"service_ip\":\"172.16.44.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:08:43.917473Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 969.431381ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4fdbba62-43a0-4c46-8832-372c4a568e1f
    method: GET
  response:
    body: "{\"id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"name\":\"test-rdb-rr-instance-in-pn\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-15\",\"upgradable_version\":[{\"id\":\"fe[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4fdbba62-43a0-4c46-8832-372c4a568e1f
    method: GET
  response:
    body: "{\"id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"name\":\"test-rdb-rr-instance-in-pn\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-15\",\"upgradable_version\":[{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"instance-also-in-pn\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.16.44.2\",\"port\":5432,\"name\":null,\"id\":\"a681868e-d01f-4994-a810-6f3c184cd158\",\"private_network\":{\"private_network_id\":\"5c374675-39b6-4c84-a5f6-4361489c28ca\",\"service_ip\":\"172.16.44.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:08:43.917473Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 124.78405ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4fdbba62-43a0-4c46-8832-372c4a568e1f/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVTGhsYUkzQVprL3RDL0YyUUJkQmFpMkZqdkdZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTQwTkM0eU1CNFhEVEkxCk1EZ3lPREV5TVRBd01sb1hEVE0xTURneU5qRXlNVEF3TWxvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0ME[...]
- id: 13
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 5c374675-39b6-4c84-a5f6-4361489c28ca
      project_id:
      - fa1e3217-dc80-42ac-85c3-3f034b78b552
      resource_id:
      - 4fdbba62-43a0-4c46-8832-372c4a568e1f
      resource_type:
      - rdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5c374675-39b6-4c84-a5f6-4361489c28ca&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=4fdbba62-43a0-4c46-8832-372c4a568e1f&resource_type=rdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"e7bce7d3-f363-4c16-8e58-761b1a8d1bf5\",\"address\":\"172.16.44.2/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_ipv6\":false,\"created_at\":\"2025-08-28T12:08:44.387749Z\",\"updated_at\":\"2025-08-28T12:09:10.681478Z\",\"source\":{\"subnet_id\":\"14103b2b-a553-40d9-b9c2-de09967f36fa\"},\"resource\":{\"type\":\"rdb_instance\",\"id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"mac_address\":\"02:00:00:1F:A2:51\",\"name\":\"test-rdb-rr-instance-in-pn\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 50.185214ms
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"5c374675-39b6-4c84-a5f6-4361489c28ca\",\"ipam_config\":{}}}],\"same_zone\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: "{\"id\":\"5354ae46-0440-496c-bfd3-8fddcdcd973a\",\"endpoints\":[{\"ip\":\"172.16.44.3\",\"port\":5432,\"name\":null,\"id\":\"44ed4223-df92-42de-b75c-ce2edf8984c9\",\"private_network\":{\"private_network_id\":\"5c374675-39b6-4c84-a5f6-4361489c28ca\",\"service_ip\":\"172.16.44.3/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.00640655s
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/5354ae46-0440-496c-bfd3-8fddcdcd973a
    method: GET
  response:
    body: "{\"id\":\"5354ae46-0440-496c-bfd3-8fddcdcd973a\",\"endpoints\":[{\"ip\":\"172.16.44.3\",\"port\":5432,\"name\":null,\"id\":\"44ed4223-df92-42de-b75c-ce2edf8984c9\",\"private_network\":{\"private_network_id\":\"5c374675-39b6-4c84-a5f6-4361489c28ca\",\"service_ip\":\"172.16.44.3/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.493284ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/a681868e-d01f-4994-a810-6f3c184cd158
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 134.623773ms
[...]
- id: 43
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":{\"private_network\":{\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"ipam_config\":{}}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4fdbba62-43a0-4c46-8832-372c4a568e1f/endpoints
    method: POST
  response:
    body: "{\"ip\":\"172.16.12.2\",\"port\":5432,\"name\":null,\"id\":\"1abcbe39-7568-4ea3-a18a-c329dba5338b\",\"private_network\":{\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"service_ip\":\"172.16.12.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 674.428113ms
[...]
- id: 53
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"ipam_config\":{}}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/5354ae46-0440-496c-bfd3-8fddcdcd973a/endpoints
    method: POST
  response:
    body: "{\"id\":\"5354ae46-0440-496c-bfd3-8fddcdcd973a\",\"endpoints\":[{\"ip\":\"172.16.12.3\",\"port\":5432,\"name\":null,\"id\":\"d7df7c80-1765-45da-a7a3-24192923cad3\",\"private_network\":{\"private_network_id\":\"47d75bc9-cbd9-4727-9b0b-ced5e0c1ef8a\",\"service_ip\":\"172.16.12.3/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"initializing\",\"same_zone\":true,\"instance_id\":\"4fdbba62-43a0-4c46-8832-372c4a568e1f\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 680.204156ms
[...]
- id: 68
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/5354ae46-0440-496c-bfd3-8fddcdcd973a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"read_replica\",\"resource_id\":\"5354ae46-0440-496c-bfd3-8fddcdcd973a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 85.303283ms
[...]
