---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-04-17T12:25:46.768333Z","dhcp_enabled":true,"id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:25:46.768333Z","id":"6efc9eaa-f557-4624-8200-37b347c4a70a","subnet":"172.17.92.0/22","updated_at":"2024-04-17T12:25:46.768333Z"},{"created_at":"2024-04-17T12:25:46.768333Z","id":"5d66e63a-fe88-46a5-8e53-d28592b150e1","subnet":"fd5f:519c:6d46:cec2::/64","updated_at":"2024-04-17T12:25:46.768333Z"}],"tags":[],"updated_at":"2024-04-17T12:25:46.768333Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 912.746995ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/817468ee-a5c8-4457-849d-bd7f6474ab4e
        method: GET
      response:
        body: '{"created_at":"2024-04-17T12:25:46.768333Z","dhcp_enabled":true,"id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-04-17T12:25:46.768333Z","id":"6efc9eaa-f557-4624-8200-37b347c4a70a","subnet":"172.17.92.0/22","updated_at":"2024-04-17T12:25:46.768333Z"},{"created_at":"2024-04-17T12:25:46.768333Z","id":"5d66e63a-fe88-46a5-8e53-d28592b150e1","subnet":"fd5f:519c:6d46:cec2::/64","updated_at":"2024-04-17T12:25:46.768333Z"}],"tags":[],"updated_at":"2024-04-17T12:25:46.768333Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.616256ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:25:48.068285Z","endpoint":null,"endpoints":[{"id":"e2cdad6b-27f8-4911-808e-2f116f5ab1d7","ip":"172.17.92.2","name":null,"port":5432,"private_network":{"private_network_id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","service_ip":"172.17.92.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"8a61b56e-2eaf-43d0-a884-52a425092b61","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.074744472s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8a61b56e-2eaf-43d0-a884-52a425092b61
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:25:48.068285Z","endpoint":null,"endpoints":[{"id":"e2cdad6b-27f8-4911-808e-2f116f5ab1d7","ip":"172.17.92.2","name":null,"port":5432,"private_network":{"private_network_id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","service_ip":"172.17.92.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"8a61b56e-2eaf-43d0-a884-52a425092b61","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.227035ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8a61b56e-2eaf-43d0-a884-52a425092b61
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-04-17T12:25:48.068285Z","endpoint":null,"endpoints":[{"id":"e2cdad6b-27f8-4911-808e-2f116f5ab1d7","ip":"172.17.92.2","name":null,"port":5432,"private_network":{"private_network_id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","service_ip":"172.17.92.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"8a61b56e-2eaf-43d0-a884-52a425092b61","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.512764ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8a61b56e-2eaf-43d0-a884-52a425092b61/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVWktqT1pwNlZiWVoyNTQwa0xsRnF4Zk56bDg0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOeTQ1TWk0eU1CNFhEVEkwCk1EUXhOekV5TWpZMU1Wb1hEVE0wTURReE5URXlNalkxTVZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tnk0NU1[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=8a61b56e-2eaf-43d0-a884-52a425092b61&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.92.2/22","created_at":"2024-04-17T12:25:48.503119Z","id":"cccbc8d4-3dd5-4d72-aaea-4c2fbf34fe19","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"8a61b56e-2eaf-43d0-a884-52a425092b61","mac_address":"02:00:00:19:E7:BE","name":"test-rdb-rr-instance-in-pn","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"6efc9eaa-f557-4624-8200-37b347c4a70a"},"tags":["managed","scwdbaas"],"updated_at":"2024-04-17T12:26:19.872095Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.686451ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"instance_id":"8a61b56e-2eaf-43d0-a884-52a425092b61","endpoint_spec":[{"private_network":{"private_network_id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"770d4c06-76d4-45f5-803b-3204f17223c4","ip":"172.17.92.3","name":null,"port":5432,"private_network":{"private_network_id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","service_ip":"172.17.92.3/22","zone":"fr-par-1"}}],"id":"b0734d36-d1ed-47f8-aadd-a0a3bf66cf70","instance_id":"8a61b56e-2eaf-43d0-a884-52a425092b61","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 991.991656ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b0734d36-d1ed-47f8-aadd-a0a3bf66cf70
        method: GET
      response:
        body: '{"endpoints":[{"id":"770d4c06-76d4-45f5-803b-3204f17223c4","ip":"172.17.92.3","name":null,"port":5432,"private_network":{"private_network_id":"817468ee-a5c8-4457-849d-bd7f6474ab4e","service_ip":"172.17.92.3/22","zone":"fr-par-1"}}],"id":"b0734d36-d1ed-47f8-aadd-a0a3bf66cf70","instance_id":"8a61b56e-2eaf-43d0-a884-52a425092b61","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.836534ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/e2cdad6b-27f8-4911-808e-2f116f5ab1d7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 187.814814ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"59842cc8-16b7-47c7-a9d3-7ef8abeb0155","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8a61b56e-2eaf-43d0-a884-52a425092b61/endpoints
        method: POST
      response:
        body: '{"id":"56c1b89c-c2b9-4966-8b27-4ff7b75d818b","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"59842cc8-16b7-47c7-a9d3-7ef8abeb0155","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 920.080027ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"59842cc8-16b7-47c7-a9d3-7ef8abeb0155","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b0734d36-d1ed-47f8-aadd-a0a3bf66cf70/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"7fc8fcc8-f08e-4d6e-82a8-b12d977568c3","ip":"172.16.0.3","name":null,"port":5432,"private_network":{"private_network_id":"59842cc8-16b7-47c7-a9d3-7ef8abeb0155","service_ip":"172.16.0.3/22","zone":"fr-par-1"}}],"id":"b0734d36-d1ed-47f8-aadd-a0a3bf66cf70","instance_id":"8a61b56e-2eaf-43d0-a884-52a425092b61","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 754.926495ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b0734d36-d1ed-47f8-aadd-a0a3bf66cf70
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"b0734d36-d1ed-47f8-aadd-a0a3bf66cf70","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 94.510878ms
[...]
