---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-rr-multiple-endpoints\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"multiple-endpoints\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"2c0c899a-96cd-44f5-8edf-30427eeedfc8\",\"name\":\"test-rdb-rr-multiple-endpoints\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"multiple-endpoints\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.236286Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 349.069391ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c0c899a-96cd-44f5-8edf-30427eeedfc8
    method: GET
  response:
    body: "{\"id\":\"2c0c899a-96cd-44f5-8edf-30427eeedfc8\",\"name\":\"test-rdb-rr-multiple-endpoints\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"multiple-endpoints\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.236286Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.166397ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-goofy-einstein\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"name\":\"tf-pn-goofy-einstein\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:09:06.046315Z\",\"updated_at\":\"2025-08-28T12:09:06.046315Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"2a5b9da5-365b-41b1-8d3b-437efd3ca1ed\",\"created_at\":\"2025-08-28T12:09:06.046315Z\",\"updated_at\":\"2025-08-28T12:09:06.046315Z\",\"subnet\":\"172.16.40.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"b9b28045-9805-487b-895a-faeb3550e129\",\"created_at\":\"2025-08-28T12:09:06.046315Z\",\"updated_at\":\"2025-08-28T12:09:06.046315Z\",\"subnet\":\"fd63:256c:45f7:c6d0::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 675.165971ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/678e243a-eaf7-40b2-9b8c-fd66aa385b6e
    method: GET
  response:
    body: "{\"id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"name\":\"tf-pn-goofy-einstein\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:09:06.046315Z\",\"updated_at\":\"2025-08-28T12:09:06.046315Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"2a5b9da5-365b-41b1-8d3b-437efd3ca1ed\",\"created_at\":\"2025-08-28T12:09:06.046315Z\",\"updated_at\":\"2025-08-28T12:09:06.046315Z\",\"subnet\":\"172.16.40.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"b9b28045-9805-487b-895a-faeb3550e129\",\"created_at\":\"2025-08-28T12:09:06.046315Z\",\"updated_at\":\"2025-08-28T12:09:06.046315Z\",\"subnet\":\"fd63:256c:45f7:c6d0::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 26.196575ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c0c899a-96cd-44f5-8edf-30427eeedfc8
    method: GET
  response:
    body: "{\"id\":\"2c0c899a-96cd-44f5-8edf-30427eeedfc8\",\"name\":\"test-rdb-rr-multiple-endpoints\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"multiple-endpoints\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.236286Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.477056ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c0c899a-96cd-44f5-8edf-30427eeedfc8
    method: GET
  response:
    body: "{\"id\":\"2c0c899a-96cd-44f5-8edf-30427eeedfc8\",\"name\":\"test-rdb-rr-multiple-endpoints\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.11.187\",\"port\":13570,\"name\":null,\"id\":\"a2f2f030-f049-4543-99ca-0f87cdf8ddf5\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"multiple-endpoints\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.11.187\",\"port\":13570,\"name\":null,\"id\":\"a2f2f030-f049-4543-99ca-0f87cdf8ddf5\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:09:06.236286Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.319022ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2c0c899a-96cd-44f5-8edf-30427eeedfc8/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVRWxzbWhxNkk5YW9SWEJvdEZRVmlsMEFES3lNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TVM0eE9EY3dIaGNOCk1qVXdPREk0TVRJeE1URTJXaGNOTXpVd09ESTJNVEl4TVRFMldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNU[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"2c0c899a-96cd-44f5-8edf-30427eeedfc8\",\"endpoint_spec\":[{\"direct_access\":{}},{\"private_network\":{\"private_network_id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"service_ip\":\"10.12.1.0/20\"}}],\"same_zone\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: "{\"id\":\"b3d6d7b0-dd2d-42b8-bdad-3b652024efb2\",\"endpoints\":[{\"ip\":\"10.12.1.0\",\"port\":5432,\"name\":null,\"id\":\"ad0fa65d-e339-4982-a461-f6072a9ec35d\",\"private_network\":{\"private_network_id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"service_ip\":\"10.12.1.0/20\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"static\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"2c0c899a-96cd-44f5-8edf-30427eeedfc8\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 674.625817ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b3d6d7b0-dd2d-42b8-bdad-3b652024efb2
    method: GET
  response:
    body: "{\"id\":\"b3d6d7b0-dd2d-42b8-bdad-3b652024efb2\",\"endpoints\":[{\"ip\":\"10.12.1.0\",\"port\":5432,\"name\":null,\"id\":\"ad0fa65d-e339-4982-a461-f6072a9ec35d\",\"private_network\":{\"private_network_id\":\"678e243a-eaf7-40b2-9b8c-fd66aa385b6e\",\"service_ip\":\"10.12.1.0/20\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"static\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"2c0c899a-96cd-44f5-8edf-30427eeedfc8\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.749274ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b3d6d7b0-dd2d-42b8-bdad-3b652024efb2
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"read_replica\",\"resource_id\":\"b3d6d7b0-dd2d-42b8-bdad-3b652024efb2\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 73.224588ms
[...]
