---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-02-06T13:34:10.410223Z","dhcp_enabled":true,"id":"8dd20f46-d972-478e-811c-4f53f936c50f","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-02-06T13:34:10.410223Z","id":"b99a5cd2-42af-4e81-be97-bb692d065b53","private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-02-06T13:34:10.410223Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-02-06T13:34:10.410223Z","id":"6d84b0ed-7521-43b8-86e8-7f1273917f02","private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:28ca::/64","updated_at":"2025-02-06T13:34:10.410223Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-02-06T13:34:10.410223Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.772542ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8dd20f46-d972-478e-811c-4f53f936c50f
        method: GET
      response:
        body: '{"created_at":"2025-02-06T13:34:10.410223Z","dhcp_enabled":true,"id":"8dd20f46-d972-478e-811c-4f53f936c50f","name":"test-rdb-rr-instance-in-pn1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-02-06T13:34:10.410223Z","id":"b99a5cd2-42af-4e81-be97-bb692d065b53","private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-02-06T13:34:10.410223Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-02-06T13:34:10.410223Z","id":"6d84b0ed-7521-43b8-86e8-7f1273917f02","private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:28ca::/64","updated_at":"2025-02-06T13:34:10.410223Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-02-06T13:34:10.410223Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.466417ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:34:11.444983Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"60dd3455-fdf0-447c-9d8c-cf1e2b381332","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"5a954e09-1737-49c9-ae9a-1b5242575b28","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.322126375s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5a954e09-1737-49c9-ae9a-1b5242575b28
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:34:11.444983Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"60dd3455-fdf0-447c-9d8c-cf1e2b381332","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"5a954e09-1737-49c9-ae9a-1b5242575b28","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.181167ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5a954e09-1737-49c9-ae9a-1b5242575b28
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2025-02-06T13:34:11.444983Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"60dd3455-fdf0-447c-9d8c-cf1e2b381332","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"5a954e09-1737-49c9-ae9a-1b5242575b28","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.471125ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5a954e09-1737-49c9-ae9a-1b5242575b28/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVWGovczAwcHFsMmxQRFpXNVNybFZlSlp6bENrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalV3Ck1qQTJNVE16TlRBNFdoY05NelV3TWpBME1UTXpOVEE0V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"instance_id":"5a954e09-1737-49c9-ae9a-1b5242575b28","endpoint_spec":[{"private_network":{"private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"e32f9b20-c47b-4223-97ba-9d530410a605","ip":"172.16.0.3","name":null,"port":5432,"private_network":{"private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","provisioning_mode":"ipam","service_ip":"172.16.0.3/22","zone":"fr-par-1"}}],"id":"7f33d9b7-67d3-4c9a-af45-ad095d026507","instance_id":"5a954e09-1737-49c9-ae9a-1b5242575b28","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.244588625s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/7f33d9b7-67d3-4c9a-af45-ad095d026507
        method: GET
      response:
        body: '{"endpoints":[{"id":"e32f9b20-c47b-4223-97ba-9d530410a605","ip":"172.16.0.3","name":null,"port":5432,"private_network":{"private_network_id":"8dd20f46-d972-478e-811c-4f53f936c50f","provisioning_mode":"ipam","service_ip":"172.16.0.3/22","zone":"fr-par-1"}}],"id":"7f33d9b7-67d3-4c9a-af45-ad095d026507","instance_id":"5a954e09-1737-49c9-ae9a-1b5242575b28","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.498084ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/60dd3455-fdf0-447c-9d8c-cf1e2b381332
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 172.689708ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"f1888ccc-5c27-46f3-a79e-5ca795b2ca23","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5a954e09-1737-49c9-ae9a-1b5242575b28/endpoints
        method: POST
      response:
        body: '{"id":"c2834781-9296-43b2-97c1-dc616da909df","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"f1888ccc-5c27-46f3-a79e-5ca795b2ca23","provisioning_mode":"ipam","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 833.628708ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"f1888ccc-5c27-46f3-a79e-5ca795b2ca23","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/7f33d9b7-67d3-4c9a-af45-ad095d026507/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"960950ee-ae10-45dd-b0b5-3343f43908f5","ip":"172.16.20.3","name":null,"port":5432,"private_network":{"private_network_id":"f1888ccc-5c27-46f3-a79e-5ca795b2ca23","provisioning_mode":"ipam","service_ip":"172.16.20.3/22","zone":"fr-par-1"}}],"id":"7f33d9b7-67d3-4c9a-af45-ad095d026507","instance_id":"5a954e09-1737-49c9-ae9a-1b5242575b28","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 918.80825ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/7f33d9b7-67d3-4c9a-af45-ad095d026507
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"7f33d9b7-67d3-4c9a-af45-ad095d026507","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 98.280541ms
[...]
