---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.202551Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"e2a6df65-91aa-4ab3-a83e-124d902a98b0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-stupefied-wright","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-23T13:56:35.109297Z","dhcp_enabled":true,"id":"ecc633db-5843-4f7f-aa8f-a7e46026e0cd","name":"tf-pn-stupefied-wright","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:35.109297Z","id":"f8d82682-3b75-4c60-8f6b-07de6e2e2ca0","subnet":"172.16.16.0/22","updated_at":"2024-02-23T13:56:35.109297Z"},{"created_at":"2024-02-23T13:56:35.109297Z","id":"07f1ad4f-7e5c-4df9-8f5a-5483a8459af8","subnet":"fd63:256c:45f7:e5b1::/64","updated_at":"2024-02-23T13:56:35.109297Z"}],"tags":[],"updated_at":"2024-02-23T13:56:35.109297Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e2a6df65-91aa-4ab3-a83e-124d902a98b0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.202551Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"e2a6df65-91aa-4ab3-a83e-124d902a98b0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ecc633db-5843-4f7f-aa8f-a7e46026e0cd
    method: GET
  response:
    body: '{"created_at":"2024-02-23T13:56:35.109297Z","dhcp_enabled":true,"id":"ecc633db-5843-4f7f-aa8f-a7e46026e0cd","name":"tf-pn-stupefied-wright","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:35.109297Z","id":"f8d82682-3b75-4c60-8f6b-07de6e2e2ca0","subnet":"172.16.16.0/22","updated_at":"2024-02-23T13:56:35.109297Z"},{"created_at":"2024-02-23T13:56:35.109297Z","id":"07f1ad4f-7e5c-4df9-8f5a-5483a8459af8","subnet":"fd63:256c:45f7:e5b1::/64","updated_at":"2024-02-23T13:56:35.109297Z"}],"tags":[],"updated_at":"2024-02-23T13:56:35.109297Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e2a6df65-91aa-4ab3-a83e-124d902a98b0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.202551Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"e2a6df65-91aa-4ab3-a83e-124d902a98b0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e2a6df65-91aa-4ab3-a83e-124d902a98b0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.202551Z","endpoint":{"id":"f99f7be6-ce24-4d58-be44-5ce7ac7e8998","ip":"195.154.197.252","load_balancer":{},"name":null,"port":7487},"endpoints":[{"id":"f99f7be6-ce24-4d58-be44-5ce7ac7e8998","ip":"195.154.197.252","load_balancer":{},"name":null,"port":7487}],"engine":"PostgreSQL-15","id":"e2a6df65-91aa-4ab3-a83e-124d902a98b0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e2a6df65-91aa-4ab3-a83e-124d902a98b0/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVZkYzSUJBbXVhWG5VWWxCRFVOeG9HL3lFVEhVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrM0xqSTFNakFlCkZ3MHlOREF5TWpNeE5EQXdNVGRhRncwek5EQXlNakF4TkRBd01UZGFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
- request:
    body: '{"instance_id":"e2a6df65-91aa-4ab3-a83e-124d902a98b0","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"ecc633db-5843-4f7f-aa8f-a7e46026e0cd","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"5f88fca5-442f-4522-9857-36840fbc823e","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"ecc633db-5843-4f7f-aa8f-a7e46026e0cd","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"76dd0b35-0b11-4078-bd5a-aac3effc24b6","instance_id":"e2a6df65-91aa-4ab3-a83e-124d902a98b0","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/76dd0b35-0b11-4078-bd5a-aac3effc24b6
    method: GET
  response:
    body: '{"endpoints":[{"id":"5f88fca5-442f-4522-9857-36840fbc823e","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"ecc633db-5843-4f7f-aa8f-a7e46026e0cd","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"76dd0b35-0b11-4078-bd5a-aac3effc24b6","instance_id":"e2a6df65-91aa-4ab3-a83e-124d902a98b0","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=e2a6df65-91aa-4ab3-a83e-124d902a98b0&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/76dd0b35-0b11-4078-bd5a-aac3effc24b6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"76dd0b35-0b11-4078-bd5a-aac3effc24b6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
