---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:06:42.341003Z","dhcp_enabled":true,"id":"fe5c8768-b891-4968-995f-98c12a9bd004","name":"test-rdb-rr-instance-in-pn2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:06:42.341003Z","id":"bfd4c130-5019-4e0d-b612-d87a04c48c73","subnet":"172.17.24.0/22","updated_at":"2024-05-14T09:06:42.341003Z"},{"created_at":"2024-05-14T09:06:42.341003Z","id":"b071375e-39cc-48a3-a0d6-ab8950145a22","subnet":"fd5f:519c:6d46:1b82::/64","updated_at":"2024-05-14T09:06:42.341003Z"}],"tags":[],"updated_at":"2024-05-14T09:06:42.341003Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.107062ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fe5c8768-b891-4968-995f-98c12a9bd004
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:06:42.341003Z","dhcp_enabled":true,"id":"fe5c8768-b891-4968-995f-98c12a9bd004","name":"test-rdb-rr-instance-in-pn2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:06:42.341003Z","id":"bfd4c130-5019-4e0d-b612-d87a04c48c73","subnet":"172.17.24.0/22","updated_at":"2024-05-14T09:06:42.341003Z"},{"created_at":"2024-05-14T09:06:42.341003Z","id":"b071375e-39cc-48a3-a0d6-ab8950145a22","subnet":"fd5f:519c:6d46:1b82::/64","updated_at":"2024-05-14T09:06:42.341003Z"}],"tags":[],"updated_at":"2024-05-14T09:06:42.341003Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.22024ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"73bd0662-fc1b-4c19-bb22-fbd02d4b27a3","ipam_config":{}}}],"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:44.391807Z","endpoint":null,"endpoints":[{"id":"1e5ea347-0dcf-4ddd-8213-23242dc50339","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"73bd0662-fc1b-4c19-bb22-fbd02d4b27a3","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"eebec704-77a1-4e09-8c70-53d5b86925ce","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.089704304s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eebec704-77a1-4e09-8c70-53d5b86925ce
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:44.391807Z","endpoint":null,"endpoints":[{"id":"1e5ea347-0dcf-4ddd-8213-23242dc50339","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"73bd0662-fc1b-4c19-bb22-fbd02d4b27a3","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"eebec704-77a1-4e09-8c70-53d5b86925ce","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.210142ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eebec704-77a1-4e09-8c70-53d5b86925ce
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:06:44.391807Z","endpoint":null,"endpoints":[{"id":"1e5ea347-0dcf-4ddd-8213-23242dc50339","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"73bd0662-fc1b-4c19-bb22-fbd02d4b27a3","provisioning_mode":"ipam","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"eebec704-77a1-4e09-8c70-53d5b86925ce","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.677612ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eebec704-77a1-4e09-8c70-53d5b86925ce/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVYnJibi9ZZEhSdExkby9WZDhBVXh4MVRhUmVjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05NalF3Ck5URTBNRGt3TnpRNVdoY05NelF3TlRFeU1Ea3dOelE1V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"instance_id":"eebec704-77a1-4e09-8c70-53d5b86925ce","endpoint_spec":[{"private_network":{"private_network_id":"73bd0662-fc1b-4c19-bb22-fbd02d4b27a3","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"4a4ee87c-ad77-4722-8f40-06a492c3c931","ip":"172.16.0.3","name":null,"port":5432,"private_network":{"private_network_id":"73bd0662-fc1b-4c19-bb22-fbd02d4b27a3","provisioning_mode":"ipam","service_ip":"172.16.0.3/22","zone":"fr-par-1"}}],"id":"9c7c17e1-c91a-4e5d-955e-7a9e33821c09","instance_id":"eebec704-77a1-4e09-8c70-53d5b86925ce","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 932.200233ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/9c7c17e1-c91a-4e5d-955e-7a9e33821c09
        method: GET
      response:
        body: '{"endpoints":[{"id":"4a4ee87c-ad77-4722-8f40-06a492c3c931","ip":"172.16.0.3","name":null,"port":5432,"private_network":{"private_network_id":"73bd0662-fc1b-4c19-bb22-fbd02d4b27a3","provisioning_mode":"ipam","service_ip":"172.16.0.3/22","zone":"fr-par-1"}}],"id":"9c7c17e1-c91a-4e5d-955e-7a9e33821c09","instance_id":"eebec704-77a1-4e09-8c70-53d5b86925ce","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.891233ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/1e5ea347-0dcf-4ddd-8213-23242dc50339
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 135.78864ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"fe5c8768-b891-4968-995f-98c12a9bd004","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eebec704-77a1-4e09-8c70-53d5b86925ce/endpoints
        method: POST
      response:
        body: '{"id":"5662f569-7477-43ff-b9cb-62eebea39125","ip":"172.17.24.2","name":null,"port":5432,"private_network":{"private_network_id":"fe5c8768-b891-4968-995f-98c12a9bd004","provisioning_mode":"ipam","service_ip":"172.17.24.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 709.821645ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"fe5c8768-b891-4968-995f-98c12a9bd004","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/9c7c17e1-c91a-4e5d-955e-7a9e33821c09/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"a20c5ce6-044e-4625-a4d2-01be88ee2078","ip":"172.17.24.3","name":null,"port":5432,"private_network":{"private_network_id":"fe5c8768-b891-4968-995f-98c12a9bd004","provisioning_mode":"ipam","service_ip":"172.17.24.3/22","zone":"fr-par-1"}}],"id":"9c7c17e1-c91a-4e5d-955e-7a9e33821c09","instance_id":"eebec704-77a1-4e09-8c70-53d5b86925ce","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 724.195917ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/9c7c17e1-c91a-4e5d-955e-7a9e33821c09
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"9c7c17e1-c91a-4e5d-955e-7a9e33821c09","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 80.786742ms
[...]
