---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-rdb-rr-instance-in-pn1\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"name\":\"test-rdb-rr-instance-in-pn1\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:21:54.453644Z\",\"updated_at\":\"2025-09-23T10:21:54.453644Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"20728ee6-9a86-47fe-883e-0d679da54104\",\"created_at\":\"2025-09-23T10:21:54.453644Z\",\"updated_at\":\"2025-09-23T10:21:54.453644Z\",\"subnet\":\"172.17.36.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"ae533166-ac66-4f39-b7b9-3a1c89e1f802\",\"created_at\":\"2025-09-23T10:21:54.453644Z\",\"updated_at\":\"2025-09-23T10:21:54.453644Z\",\"subnet\":\"fd5f:519c:6d46:f18d::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.394039977s
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4f96dc4c-458b-447a-b9a2-41d5bb01d521
    method: GET
  response:
    body: "{\"id\":\"4f96dc4c-458b-447a-b9a2-41d5bb01d521\",\"name\":\"test-rdb-rr-instance-in-pn2\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:21:54.554242Z\",\"updated_at\":\"2025-09-23T10:21:54.554242Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"3242c743-47c4-47f6-a72f-943a3515f725\",\"created_at\":\"2025-09-23T10:21:54.554242Z\",\"updated_at\":\"2025-09-23T10:21:54.554242Z\",\"subnet\":\"172.17.44.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"4f96dc4c-458b-447a-b9a2-41d5bb01d521\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"114cf51e-711d-40e7-84ea-b7bfb6e44cf4\",\"created_at\":\"2025-09-23T10:21:54.554242Z\",\"updated_at\":\"2025-09-23T10:21:54.554242Z\",\"subnet\":\"fd5f:519c:6d46:c4bb::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"4f96dc4c-458b-447a-b9a2-41d5bb01d521\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 32.119654ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"test-rdb-rr-instance-in-pn\",\"engine\":\"PostgreSQL-15\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"instance-also-in-pn\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":[{\"private_network\":{\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"ipam_config\":{}}}],\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"name\":\"test-rdb-rr-instance-in-pn\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-15\",\"upgradable_version\":[{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"instance-also-in-pn\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.17.36.2\",\"port\":5432,\"name\":null,\"id\":\"5d41a788-e28d-4e75-8b66-3b1255b29a8e\",\"private_network\":{\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"service_ip\":\"172.17.36.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-09-23T10:21:56.115857Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.48253853s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2a1dc10-d57c-4f68-acdd-47baae219828
    method: GET
  response:
    body: "{\"id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"name\":\"test-rdb-rr-instance-in-pn\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-15\",\"upgradable_version\":[{\"id\":\"fe[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2a1dc10-d57c-4f68-acdd-47baae219828
    method: GET
  response:
    body: "{\"id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"name\":\"test-rdb-rr-instance-in-pn\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"ready\",\"engine\":\"PostgreSQL-15\",\"upgradable_version\":[{\"id\":\"fedf21fd-2e4f-49eb-89f4-e7fb878dcf9f\",\"name\":\"PostgreSQL-16\",\"version\":\"16\",\"minor_version\":\"16.10\"}],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"instance-also-in-pn\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"172.17.36.2\",\"port\":5432,\"name\":null,\"id\":\"5d41a788-e28d-4e75-8b66-3b1255b29a8e\",\"private_network\":{\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"service_ip\":\"172.17.36.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-09-23T10:21:56.115857Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 556.636808ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2a1dc10-d57c-4f68-acdd-47baae219828/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVVElBRlo1TWlSRk1xWW4zWVdadHpGemJ0Zjg0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOeTR6Tmk0eU1CNFhEVEkxCk1Ea3lNekV3TWpJMU1Wb1hEVE0xTURreU1URXdNakkxTVZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tnk0ek[...]
- id: 13
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - f43d7694-3a2e-4cd7-a98c-24d0fc42750c
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_id:
      - d2a1dc10-d57c-4f68-acdd-47baae219828
      resource_type:
      - rdb_instance
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=f43d7694-3a2e-4cd7-a98c-24d0fc42750c&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=d2a1dc10-d57c-4f68-acdd-47baae219828&resource_type=rdb_instance
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"87ed97f1-2e5a-4c83-a60a-da2bb1c87109\",\"address\":\"172.17.36.2/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T10:21:56.603180Z\",\"updated_at\":\"2025-09-23T10:22:27.467902Z\",\"source\":{\"subnet_id\":\"20728ee6-9a86-47fe-883e-0d679da54104\"},\"resource\":{\"type\":\"rdb_instance\",\"id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"mac_address\":\"02:00:00:1E:82:ED\",\"name\":\"test-rdb-rr-instance-in-pn\"},\"tags\":[\"managed\",\"scwdbaas\"],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 546.795186ms
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"ipam_config\":{}}}],\"same_zone\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: "{\"id\":\"c51cc1ee-3cef-423a-ac69-56f4910d4bb8\",\"endpoints\":[{\"ip\":\"172.17.36.3\",\"port\":5432,\"name\":null,\"id\":\"83e4bdb0-34b0-4ec2-951c-199ea6db3430\",\"private_network\":{\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"service_ip\":\"172.17.36.3/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.435100443s
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c51cc1ee-3cef-423a-ac69-56f4910d4bb8
    method: GET
  response:
    body: "{\"id\":\"c51cc1ee-3cef-423a-ac69-56f4910d4bb8\",\"endpoints\":[{\"ip\":\"172.17.36.3\",\"port\":5432,\"name\":null,\"id\":\"83e4bdb0-34b0-4ec2-951c-199ea6db3430\",\"private_network\":{\"private_network_id\":\"f43d7694-3a2e-4cd7-a98c-24d0fc42750c\",\"service_ip\":\"172.17.36.3/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 486.499306ms
[...]
- id: 39
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/5d41a788-e28d-4e75-8b66-3b1255b29a8e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 400.312109ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":{\"private_network\":{\"private_network_id\":\"4f96dc4c-458b-447a-b9a2-41d5bb01d521\",\"ipam_config\":{}}}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d2a1dc10-d57c-4f68-acdd-47baae219828/endpoints
    method: POST
  response:
    body: "{\"ip\":\"172.17.44.2\",\"port\":5432,\"name\":null,\"id\":\"53891742-9c5f-47d2-a65b-bf30f2fc6c4e\",\"private_network\":{\"private_network_id\":\"4f96dc4c-458b-447a-b9a2-41d5bb01d521\",\"service_ip\":\"172.17.44.2/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.574372629s
[...]
- id: 52
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"4f96dc4c-458b-447a-b9a2-41d5bb01d521\",\"ipam_config\":{}}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c51cc1ee-3cef-423a-ac69-56f4910d4bb8/endpoints
    method: POST
  response:
    body: "{\"id\":\"c51cc1ee-3cef-423a-ac69-56f4910d4bb8\",\"endpoints\":[{\"ip\":\"172.17.44.3\",\"port\":5432,\"name\":null,\"id\":\"1983005a-2afb-41e8-947a-e71205cdcd6a\",\"private_network\":{\"private_network_id\":\"4f96dc4c-458b-447a-b9a2-41d5bb01d521\",\"service_ip\":\"172.17.44.3/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"initializing\",\"same_zone\":true,\"instance_id\":\"d2a1dc10-d57c-4f68-acdd-47baae219828\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.261439196s
[...]
- id: 67
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c51cc1ee-3cef-423a-ac69-56f4910d4bb8
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"read_replica\",\"resource_id\":\"c51cc1ee-3cef-423a-ac69-56f4910d4bb8\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 274.374392ms
[...]
