---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-rdb-rr-instance-in-pn2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T19:49:57.718931Z","dhcp_enabled":true,"id":"8b11c5ba-4328-4209-89db-8593348b1b8c","name":"test-rdb-rr-instance-in-pn2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T19:49:57.718931Z","id":"a82fe635-15f0-4b85-ac47-0a4fbff11be4","private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T19:49:57.718931Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T19:49:57.718931Z","id":"ab95c313-b2d1-4901-b96f-010e7f98a4da","private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a699::/64","updated_at":"2024-10-03T19:49:57.718931Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T19:49:57.718931Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 607.606909ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8b11c5ba-4328-4209-89db-8593348b1b8c
        method: GET
      response:
        body: '{"created_at":"2024-10-03T19:49:57.718931Z","dhcp_enabled":true,"id":"8b11c5ba-4328-4209-89db-8593348b1b8c","name":"test-rdb-rr-instance-in-pn2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T19:49:57.718931Z","id":"a82fe635-15f0-4b85-ac47-0a4fbff11be4","private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-03T19:49:57.718931Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T19:49:57.718931Z","id":"ab95c313-b2d1-4901-b96f-010e7f98a4da","private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a699::/64","updated_at":"2024-10-03T19:49:57.718931Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T19:49:57.718931Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.300054ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7","ipam_config":{}}}],"backup_same_region":false,"encryption":{"enabled":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:49:58.711926Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"96560a5b-2f49-4bea-95cd-e41d8a06bcd7","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.212138905s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ea32c1c1-c618-486a-b31e-51f7ffcf314c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:49:58.711926Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"96560a5b-2f49-4bea-95cd-e41d8a06bcd7","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.449213ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ea32c1c1-c618-486a-b31e-51f7ffcf314c
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-10-03T19:49:58.711926Z","encryption":{"enabled":false},"endpoint":null,"endpoints":[{"id":"96560a5b-2f49-4bea-95cd-e41d8a06bcd7","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7","provisioning_mode":"ipam","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.590385ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ea32c1c1-c618-486a-b31e-51f7ffcf314c/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVU1B2RTBnYW5rSE1DTElUR0FiSEpVQmh0OExrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR4TWpBdU1qQWVGdzB5Ck5ERXdNRE14T1RVeE1EUmFGdzB6TkRFd01ERXhPVFV4TURSYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7&resource_id=ea32c1c1-c618-486a-b31e-51f7ffcf314c&resource_type=rdb_instance
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.120.2/22","created_at":"2024-10-03T19:49:59.228219Z","id":"e2c5baab-4ac0-46b6-8763-deeaf596ac80","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","mac_address":"02:00:00:10:B1:66","name":"test-rdb-rr-instance-in-pn","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"43aeaa52-3d72-4ecc-96c4-6b3bbd9a7cbc"},"tags":["managed","scwdbaas"],"updated_at":"2024-10-03T19:50:31.310025Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.699026ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"instance_id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","endpoint_spec":[{"private_network":{"private_network_id":"a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7","ipam_config":{}}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[{"id":"d1abfe1f-9440-495b-93fb-7ae8fe1252bd","ip":"172.16.120.3","name":null,"port":5432,"private_network":{"private_network_id":"a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7","provisioning_mode":"ipam","service_ip":"172.16.120.3/22","zone":"fr-par-1"}}],"id":"3e9d8c87-b29e-4a79-9b99-d0f86344aff4","instance_id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.27928351s
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/3e9d8c87-b29e-4a79-9b99-d0f86344aff4
        method: GET
      response:
        body: '{"endpoints":[{"id":"d1abfe1f-9440-495b-93fb-7ae8fe1252bd","ip":"172.16.120.3","name":null,"port":5432,"private_network":{"private_network_id":"a6ad2fd0-a8ea-4527-90f0-dd31b8e5e2b7","provisioning_mode":"ipam","service_ip":"172.16.120.3/22","zone":"fr-par-1"}}],"id":"3e9d8c87-b29e-4a79-9b99-d0f86344aff4","instance_id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.742788ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/96560a5b-2f49-4bea-95cd-e41d8a06bcd7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 261.209323ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":{"private_network":{"private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","ipam_config":{}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ea32c1c1-c618-486a-b31e-51f7ffcf314c/endpoints
        method: POST
      response:
        body: '{"id":"4d2252cc-dd31-4ebd-ae91-2b221e748d8e","ip":"172.16.112.2","name":null,"port":5432,"private_network":{"private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","provisioning_mode":"ipam","service_ip":"172.16.112.2/22","zone":"fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.203173349s
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/3e9d8c87-b29e-4a79-9b99-d0f86344aff4/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"99f8feb6-297f-481b-8d38-6b729de27da8","ip":"172.16.112.3","name":null,"port":5432,"private_network":{"private_network_id":"8b11c5ba-4328-4209-89db-8593348b1b8c","provisioning_mode":"ipam","service_ip":"172.16.112.3/22","zone":"fr-par-1"}}],"id":"3e9d8c87-b29e-4a79-9b99-d0f86344aff4","instance_id":"ea32c1c1-c618-486a-b31e-51f7ffcf314c","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 892.555439ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/3e9d8c87-b29e-4a79-9b99-d0f86344aff4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"3e9d8c87-b29e-4a79-9b99-d0f86344aff4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.385896ms
[...]
