---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: "{\"engines\":[{\"name\":\"MySQL\",\"logo_url\":\"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg\",\"versions\":[{\"version\":\"8\",\"name\":\"MySQL-8\",\"end_of_life\":\"2026-04-01T00:00:00Z\",\"available_settings\":[{\"name\":\"auto_increment_increment\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Controls the AUTO_INCREMENT interval between successive column values\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"auto_increment_offset\",\"default_value\":\"1\",\"hot_configurable\":true,\"description\":\"Determines the starting point for the AUTO_INCREMENT column value\",\"property_type\":\"INT\",\"unit\":null,\"string_constraint\":null,\"int_min\":1,\"int_max\":65535,\"float_min\":null,\"float_max\":null},{\"name\":\"character_set_server\",\"default_value\":\"utf8mb4\",\"hot_configurable\":true,\"description\":\"Specify a specific server side character-set encoding\",\"property_type\":\[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"test-rdb-rr-update\",\"engine\":\"PostgreSQL-16\",\"user_name\":\"my_initial_user\",\"password\":\"thiZ_is_v\\u0026ry_s3cret\",\"node_type\":\"db-dev-s\",\"is_ha_cluster\":false,\"disable_backup\":true,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"update\"],\"init_settings\":null,\"volume_type\":\"lssd\",\"volume_size\":0,\"init_endpoints\":null,\"backup_same_region\":false,\"encryption\":{\"enabled\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: "{\"id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"name\":\"test-rdb-rr-update\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"update\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:19.730504Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.136639762s
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d3701160-db56-4608-81e8-9777fc4aea61
    method: GET
  response:
    body: "{\"id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"name\":\"test-rdb-rr-update\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"provisioning\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"update\"],\"settings\":[],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:19.730504Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 269.982546ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d3701160-db56-4608-81e8-9777fc4aea61
    method: GET
  response:
    body: "{\"id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"name\":\"test-rdb-rr-update\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"initializing\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":null,\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"update\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:19.730504Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.119725ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d3701160-db56-4608-81e8-9777fc4aea61
    method: GET
  response:
    body: "{\"id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"name\":\"test-rdb-rr-update\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"status\":\"ready\",\"engine\":\"PostgreSQL-16\",\"upgradable_version\":[],\"endpoint\":{\"ip\":\"51.159.114.140\",\"port\":4649,\"name\":null,\"id\":\"0237e69d-1227-4fc7-8d54-6b18aa8a108f\",\"load_balancer\":{}},\"tags\":[\"terraform-test\",\"scaleway_rdb_read_replica\",\"update\"],\"settings\":[{\"name\":\"effective_cache_size\",\"value\":\"1300\"},{\"name\":\"maintenance_work_mem\",\"value\":\"150\"},{\"name\":\"max_connections\",\"value\":\"100\"},{\"name\":\"max_parallel_workers\",\"value\":\"0\"},{\"name\":\"max_parallel_workers_per_gather\",\"value\":\"0\"},{\"name\":\"work_mem\",\"value\":\"4\"}],\"backup_schedule\":{\"frequency\":24,\"retention\":7,\"disabled\":true,\"next_run_at\":null},\"is_ha_cluster\":false,\"read_replicas\":[],\"node_type\":\"db-dev-s\",\"volume\":{\"type\":\"lssd\",\"size\":5000000000,\"class\":\"lssd\"},\"init_settings\":[],\"endpoints\":[{\"ip\":\"51.159.114.140\",\"port\":4649,\"name\":null,\"id\":\"0237e69d-1227-4fc7-8d54-6b18aa8a108f\",\"load_balancer\":{}}],\"logs_policy\":{\"max_age_retention\":30,\"total_disk_retention\":null},\"backup_same_region\":false,\"maintenances\":[],\"encryption\":{\"enabled\":false},\"created_at\":\"2025-08-28T12:00:19.730504Z\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.702086ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d3701160-db56-4608-81e8-9777fc4aea61/certificate
    method: GET
  response:
    body: "{\"name\":\"ssl_certificate\",\"content_type\":\"application/x-pem-file\",\"content\":\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVTFVHMm1OTHFUcUlnRzVHL2szeTU4aENMRFlrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR4TVRRdU1UUXdNQjRYCkRUSTFNRGd5T0RFeU1ETXdNVm9YRFRNMU1EZ3lOakV5TURNd01Wb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"instance_id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"endpoint_spec\":[{\"direct_access\":{}}],\"same_zone\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: "{\"id\":\"d29231d5-7150-424f-b236-498495e6a8e8\",\"endpoints\":[],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 448.325163ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d29231d5-7150-424f-b236-498495e6a8e8
    method: GET
  response:
    body: "{\"id\":\"d29231d5-7150-424f-b236-498495e6a8e8\",\"endpoints\":[],\"status\":\"provisioning\",\"same_zone\":true,\"instance_id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 74.25316ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-ecstatic-maxwell\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"name\":\"tf-pn-ecstatic-maxwell\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:05:53.919130Z\",\"updated_at\":\"2025-08-28T12:05:53.919130Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"1c8f38d7-2060-4e68-ab90-50c9a91a041a\",\"created_at\":\"2025-08-28T12:05:53.919130Z\",\"updated_at\":\"2025-08-28T12:05:53.919130Z\",\"subnet\":\"172.16.28.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"eefb1fc5-87ae-4033-baa6-2aa98cd4d31b\",\"created_at\":\"2025-08-28T12:05:53.919130Z\",\"updated_at\":\"2025-08-28T12:05:53.919130Z\",\"subnet\":\"fd63:256c:45f7:d2cf::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 728.545447ms
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/387fd82e-ad15-410a-9a84-1debae117790
    method: GET
  response:
    body: "{\"id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"name\":\"tf-pn-ecstatic-maxwell\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-28T12:05:53.919130Z\",\"updated_at\":\"2025-08-28T12:05:53.919130Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"1c8f38d7-2060-4e68-ab90-50c9a91a041a\",\"created_at\":\"2025-08-28T12:05:53.919130Z\",\"updated_at\":\"2025-08-28T12:05:53.919130Z\",\"subnet\":\"172.16.28.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"eefb1fc5-87ae-4033-baa6-2aa98cd4d31b\",\"created_at\":\"2025-08-28T12:05:53.919130Z\",\"updated_at\":\"2025-08-28T12:05:53.919130Z\",\"subnet\":\"fd63:256c:45f7:d2cf::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 18.954878ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/f64318e0-ce6a-4b33-b16d-eb8edc702e45
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 195.460212ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"service_ip\":\"10.12.1.0/20\"}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d29231d5-7150-424f-b236-498495e6a8e8/endpoints
    method: POST
  response:
    body: "{\"id\":\"d29231d5-7150-424f-b236-498495e6a8e8\",\"endpoints\":[{\"ip\":\"10.12.1.0\",\"port\":5432,\"name\":null,\"id\":\"8a2cb401-cc03-4c65-8acc-3b9e8be18f25\",\"private_network\":{\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"service_ip\":\"10.12.1.0/20\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"static\"}}],\"status\":\"initializing\",\"same_zone\":true,\"instance_id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 474.073586ms
[...]
- id: 51
  request:
    host: api.scaleway.com
    body: "{\"endpoint_spec\":[{\"private_network\":{\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"ipam_config\":{}}}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d29231d5-7150-424f-b236-498495e6a8e8/endpoints
    method: POST
  response:
    body: "{\"id\":\"d29231d5-7150-424f-b236-498495e6a8e8\",\"endpoints\":[{\"ip\":\"172.16.28.3\",\"port\":5432,\"name\":null,\"id\":\"8d58264f-6c2b-4cf8-a056-383fbe55cb6b\",\"private_network\":{\"private_network_id\":\"387fd82e-ad15-410a-9a84-1debae117790\",\"service_ip\":\"172.16.28.3/22\",\"zone\":\"fr-par-1\",\"provisioning_mode\":\"ipam\"}}],\"status\":\"initializing\",\"same_zone\":true,\"instance_id\":\"d3701160-db56-4608-81e8-9777fc4aea61\",\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 710.330208ms
[...]
- id: 125
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d29231d5-7150-424f-b236-498495e6a8e8
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"read_replica\",\"resource_id\":\"d29231d5-7150-424f-b236-498495e6a8e8\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 74.945938ms
[...]
