---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
        method: GET
      response:
        body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If set to 0, table names are stored as specified and comparisons are case-sensitive. If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","update"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
        method: POST
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:17:18.373156Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.999208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:17:18.373156Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.304183ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:17:18.373156Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.036928ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5
        method: GET
      response:
        body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-05-14T09:17:18.373156Z","endpoint":{"id":"6bec4628-6dbf-4944-a234-8c7167165215","ip":"51.159.204.219","load_balancer":{},"name":null,"port":10379},"endpoints":[{"id":"6bec4628-6dbf-4944-a234-8c7167165215","ip":"51.159.204.219","load_balancer":{},"name":null,"port":10379}],"engine":"PostgreSQL-15","id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.130035ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5/certificate
        method: GET
      response:
        body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVZmk3QWozcWJaVW5GN2lsZjczT2pzQ1VsSGM0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURRdU1qRTVNQjRYCkRUSTBNRFV4TkRBNU1qQXlPRm9YRFRNME1EVXhNakE1TWpBeU9Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"instance_id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
        method: POST
      response:
        body: '{"endpoints":[],"id":"b2884c0c-837f-4592-8e55-e377772b088f","instance_id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.622669207s
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b2884c0c-837f-4592-8e55-e377772b088f
        method: GET
      response:
        body: '{"endpoints":[],"id":"b2884c0c-837f-4592-8e55-e377772b088f","instance_id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","region":"fr-par","same_zone":true,"status":"provisioning"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.861683ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-amazing-poincare","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-05-14T09:23:32.513864Z","dhcp_enabled":true,"id":"f0504fd3-09aa-45e2-9e5c-e7b2741fdee0","name":"tf-pn-amazing-poincare","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:23:32.513864Z","id":"273ecd64-c1cb-450b-91e4-cc28220f33ea","subnet":"172.17.76.0/22","updated_at":"2024-05-14T09:23:32.513864Z"},{"created_at":"2024-05-14T09:23:32.513864Z","id":"80fb4b6d-ea0d-41be-9219-f4898efa3332","subnet":"fd5f:519c:6d46:2e42::/64","updated_at":"2024-05-14T09:23:32.513864Z"}],"tags":[],"updated_at":"2024-05-14T09:23:32.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 570.752836ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f0504fd3-09aa-45e2-9e5c-e7b2741fdee0
        method: GET
      response:
        body: '{"created_at":"2024-05-14T09:23:32.513864Z","dhcp_enabled":true,"id":"f0504fd3-09aa-45e2-9e5c-e7b2741fdee0","name":"tf-pn-amazing-poincare","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-05-14T09:23:32.513864Z","id":"273ecd64-c1cb-450b-91e4-cc28220f33ea","subnet":"172.17.76.0/22","updated_at":"2024-05-14T09:23:32.513864Z"},{"created_at":"2024-05-14T09:23:32.513864Z","id":"80fb4b6d-ea0d-41be-9219-f4898efa3332","subnet":"fd5f:519c:6d46:2e42::/64","updated_at":"2024-05-14T09:23:32.513864Z"}],"tags":[],"updated_at":"2024-05-14T09:23:32.513864Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.271784ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/93eede0d-5db2-4efc-9bb4-5102cb3e4dc1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 157.420921ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"f0504fd3-09aa-45e2-9e5c-e7b2741fdee0","service_ip":"10.12.1.0/20"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b2884c0c-837f-4592-8e55-e377772b088f/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"8248464a-9b30-4c15-82c0-ffa37643cbb9","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"f0504fd3-09aa-45e2-9e5c-e7b2741fdee0","provisioning_mode":"static","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"b2884c0c-837f-4592-8e55-e377772b088f","instance_id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.409095ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: '{"endpoint_spec":[{"private_network":{"private_network_id":"f0504fd3-09aa-45e2-9e5c-e7b2741fdee0","ipam_config":{}}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b2884c0c-837f-4592-8e55-e377772b088f/endpoints
        method: POST
      response:
        body: '{"endpoints":[{"id":"0d30ab43-6a8f-4559-9cae-57b63be76187","ip":"172.17.76.3","name":null,"port":5432,"private_network":{"private_network_id":"f0504fd3-09aa-45e2-9e5c-e7b2741fdee0","provisioning_mode":"ipam","service_ip":"172.17.76.3/22","zone":"fr-par-1"}}],"id":"b2884c0c-837f-4592-8e55-e377772b088f","instance_id":"9b74caf4-a7f4-485a-9c1b-b53c3cc6fcb5","region":"fr-par","same_zone":true,"status":"initializing"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 944.29238ms
[...]
    - id: 126
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b2884c0c-837f-4592-8e55-e377772b088f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"read_replica","resource_id":"b2884c0c-837f-4592-8e55-e377772b088f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.691162ms
[...]
