---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-http-otion","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","name":"tf-acctest-http-otion","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:28.437723Z","updated_at":"2026-05-05T14:42:28.437723Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 18.406499232s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/0b589cb8-e289-41d8-ac02-0300d72ca9df
        method: GET
      response:
        body: '{"id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","name":"tf-acctest-http-otion","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:28.437723Z","updated_at":"2026-05-05T14:42:28.437723Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.679371ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","name":"tf-co-boring-morse","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"db6d3e73-b489-4263-815c-8aa6788e764d","name":"tf-co-boring-morse","namespace_id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","description":"","status":"creating","created_at":"2026-05-05T14:42:36.284112Z","updated_at":"2026-05-05T14:42:36.284112Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthttpotion0b589cb8-tf-co-boring-morse.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.892631ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/db6d3e73-b489-4263-815c-8aa6788e764d
        method: GET
      response:
        body: '{"id":"db6d3e73-b489-4263-815c-8aa6788e764d","name":"tf-co-boring-morse","namespace_id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","description":"","status":"creating","created_at":"2026-05-05T14:42:36.284112Z","updated_at":"2026-05-05T14:42:36.284112Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthttpotion0b589cb8-tf-co-boring-morse.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.239753ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/db6d3e73-b489-4263-815c-8aa6788e764d
        method: GET
      response:
        body: '{"id":"db6d3e73-b489-4263-815c-8aa6788e764d","name":"tf-co-boring-morse","namespace_id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:36.284112Z","updated_at":"2026-05-05T14:42:43Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthttpotion0b589cb8-tf-co-boring-morse.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.078858ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","https_connection_only":true,"sandbox":"unknown_sandbox"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/db6d3e73-b489-4263-815c-8aa6788e764d
        method: PATCH
      response:
        body: '{"id":"db6d3e73-b489-4263-815c-8aa6788e764d","name":"tf-co-boring-morse","namespace_id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","description":"","status":"updating","created_at":"2026-05-05T14:42:36.284112Z","updated_at":"2026-05-05T14:42:47.689871Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":true,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthttpotion0b589cb8-tf-co-boring-morse.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.478562ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/0b589cb8-e289-41d8-ac02-0300d72ca9df
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"0b589cb8-e289-41d8-ac02-0300d72ca9df","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.515365ms
[...]
