---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-02","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","description":"test container","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:41.257824453Z","description":"test container","environment_variables":{},"error_message":null,"id":"339f34c3-4c1c-4744-8539-c0f01ed0e6c3","name":"test-cr-ns-02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.257824453Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.230426386s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/339f34c3-4c1c-4744-8539-c0f01ed0e6c3
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:41.257824Z","description":"test container","environment_variables":{},"error_message":null,"id":"339f34c3-4c1c-4744-8539-c0f01ed0e6c3","name":"test-cr-ns-02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.257824Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.382678ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"339f34c3-4c1c-4744-8539-c0f01ed0e6c3","name":"my-container-02","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600.000000000s","privacy":"private","description":"environment variables test","registry_image":"nginx:latest","max_concurrency":80,"protocol":"h2c","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":140,"created_at":"2025-08-27T15:05:59.174365224Z","description":"environment variables test","domain_name":"testcrns02pmr43ixn-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5009f716-393c-4be9-850e-3d93380648fc","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"339f34c3-4c1c-4744-8539-c0f01ed0e6c3","port":80,"privacy":"private","private_network_id":null,"protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"nginx:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"600s","updated_at":"2025-08-27T15:05:59.174365224Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.322407821s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5009f716-393c-4be9-850e-3d93380648fc
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":140,"created_at":"2025-08-27T15:05:59.174365Z","description":"environment variables test","domain_name":"testcrns02pmr43ixn-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5009f716-393c-4be9-850e-3d93380648fc","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"339f34c3-4c1c-4744-8539-c0f01ed0e6c3","port":80,"privacy":"private","private_network_id":null,"protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"nginx:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"600s","updated_at":"2025-08-27T15:05:59.174365Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.541059ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5009f716-393c-4be9-850e-3d93380648fc
        method: PATCH
      response:
        body: '{"args":[],"command":[],"cpu_limit":140,"created_at":"2025-08-27T15:05:59.174365Z","description":"environment variables test","domain_name":"testcrns02pmr43ixn-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5009f716-393c-4be9-850e-3d93380648fc","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"339f34c3-4c1c-4744-8539-c0f01ed0e6c3","port":80,"privacy":"private","private_network_id":null,"protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"nginx:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"pending","tags":[],"timeout":"600s","updated_at":"2025-08-27T15:05:59.368572193Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.477078ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/339f34c3-4c1c-4744-8539-c0f01ed0e6c3
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.136129ms
[...]
