---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-nervous-mclean\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"93d0ef99-29f0-4a3f-80f4-bd365b9d4b87\",\"name\":\"tf-ns-nervous-mclean\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.995043715Z\",\"updated_at\":\"2025-09-01T15:54:49.995043715Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 10.945228748s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/93d0ef99-29f0-4a3f-80f4-bd365b9d4b87
    method: GET
  response:
    body: "{\"id\":\"93d0ef99-29f0-4a3f-80f4-bd365b9d4b87\",\"name\":\"tf-ns-nervous-mclean\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.995044Z\",\"updated_at\":\"2025-09-01T15:54:49.995044Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.595937ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"93d0ef99-29f0-4a3f-80f4-bd365b9d4b87\",\"name\":\"tf-co-intelligent-williamson\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"6ccdd6de-fea2-487a-a1ec-11aa6143087f\",\"name\":\"tf-co-intelligent-williamson\",\"namespace_id\":\"93d0ef99-29f0-4a3f-80f4-bd365b9d4b87\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsnervousmcleanqyp74uku/tf-co-intelligent-williamson:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsnervousmcleanqyp74uku-tf-co-intelligent-williamson.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:18.808789868Z\",\"updated_at\":\"2025-09-01T15:55:18.808789868Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.72044678s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/6ccdd6de-fea2-487a-a1ec-11aa6143087f
    method: GET
  response:
    body: "{\"id\":\"6ccdd6de-fea2-487a-a1ec-11aa6143087f\",\"name\":\"tf-co-intelligent-williamson\",\"namespace_id\":\"93d0ef99-29f0-4a3f-80f4-bd365b9d4b87\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsnervousmcleanqyp74uku/tf-co-intelligent-williamson:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsnervousmcleanqyp74uku-tf-co-intelligent-williamson.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:18.808790Z\",\"updated_at\":\"2025-09-01T15:55:18.808790Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.426754ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\",\"health_check\":{\"http\":{\"path\":\"/test\"},\"failure_threshold\":40,\"interval\":\"12.000000000s\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/6ccdd6de-fea2-487a-a1ec-11aa6143087f
    method: PATCH
  response:
    body: "{\"id\":\"6ccdd6de-fea2-487a-a1ec-11aa6143087f\",\"name\":\"tf-co-intelligent-williamson\",\"namespace_id\":\"93d0ef99-29f0-4a3f-80f4-bd365b9d4b87\",\"status\":\"pending\",\"environment_variables\":{},\"min_scale\":[...]
[...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/93d0ef99-29f0-4a3f-80f4-bd365b9d4b87
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.006821ms
[...]
