---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-tender-pasteur","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:38:03.249776263Z","description":"","environment_variables":{},"error_message":null,"id":"f9ec5c49-a55d-47ed-8464-9545eb0d52bf","name":"tf-ns-tender-pasteur","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:38:03.249776263Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.121458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f9ec5c49-a55d-47ed-8464-9545eb0d52bf
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:38:03.249776Z","description":"","environment_variables":{},"error_message":null,"id":"f9ec5c49-a55d-47ed-8464-9545eb0d52bf","name":"tf-ns-tender-pasteur","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:38:03.249776Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.778ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"f9ec5c49-a55d-47ed-8464-9545eb0d52bf","name":"tf-co-vibrant-wilbur","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:24.127100992Z","description":"","domain_name":"tfnstenderpasteurjsqa1wcn-tf-co-vibrant-wilbur.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f1d21e7d-cdb4-4233-bc8b-1ea62911c468","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-vibrant-wilbur","namespace_id":"f9ec5c49-a55d-47ed-8464-9545eb0d52bf","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnstenderpasteurjsqa1wcn/tf-co-vibrant-wilbur:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:24.127100992Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.688ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f1d21e7d-cdb4-4233-bc8b-1ea62911c468
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:24.127101Z","description":"","domain_name":"tfnstenderpasteurjsqa1wcn-tf-co-vibrant-wilbur.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f1d21e7d-cdb4-4233-bc8b-1ea62911c468","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-vibrant-wilbur","namespace_id":"f9ec5c49-a55d-47ed-8464-9545eb0d52bf","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnstenderpasteurjsqa1wcn/tf-co-vibrant-wilbur:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:24.127101Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.468167ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f9ec5c49-a55d-47ed-8464-9545eb0d52bf
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.412792ms
[...]
