---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-upbeat-shaw","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:33.454403919Z","description":"","environment_variables":{},"error_message":null,"id":"7dee86bf-b2e0-4c8f-ac76-1228e1dbd887","name":"tf-ns-upbeat-shaw","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:33.454403919Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.435834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/7dee86bf-b2e0-4c8f-ac76-1228e1dbd887
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:33.454404Z","description":"","environment_variables":{},"error_message":null,"id":"7dee86bf-b2e0-4c8f-ac76-1228e1dbd887","name":"tf-ns-upbeat-shaw","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:33.454404Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.745292ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"7dee86bf-b2e0-4c8f-ac76-1228e1dbd887","name":"tf-co-elated-bhabha","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:38.953647677Z","description":"","domain_name":"tfnsupbeatshawffvyn3ar-tf-co-elated-bhabha.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"d9739c42-2b3d-419b-8a70-2e4d7f04f5a2","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-elated-bhabha","namespace_id":"7dee86bf-b2e0-4c8f-ac76-1228e1dbd887","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeatshawffvyn3ar/tf-co-elated-bhabha:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:38.953647677Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.005667ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d9739c42-2b3d-419b-8a70-2e4d7f04f5a2
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:38.953648Z","description":"","domain_name":"tfnsupbeatshawffvyn3ar-tf-co-elated-bhabha.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"d9739c42-2b3d-419b-8a70-2e4d7f04f5a2","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-elated-bhabha","namespace_id":"7dee86bf-b2e0-4c8f-ac76-1228e1dbd887","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeatshawffvyn3ar/tf-co-elated-bhabha:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:38.953648Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.445042ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/7dee86bf-b2e0-4c8f-ac76-1228e1dbd887
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.921958ms
[...]
