---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-basic","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"ba55c9db-935b-44dc-b94f-437d8734b9f8","name":"tf-acctest-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:04.719230Z","updated_at":"2026-05-05T14:43:04.719230Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.199864559s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ba55c9db-935b-44dc-b94f-437d8734b9f8
        method: GET
      response:
        body: '{"id":"ba55c9db-935b-44dc-b94f-437d8734b9f8","name":"tf-acctest-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:04.719230Z","updated_at":"2026-05-05T14:43:04.719230Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.919687ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"ba55c9db-935b-44dc-b94f-437d8734b9f8","name":"tf-co-dreamy-joliot","environment_variables":null,"secret_environment_variables":null,"privacy":"public","description":"This container has a description","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":["terraform-test","scaleway_container","basic"],"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"48b2547f-0c30-4985-9bcb-5bfeeb88d666","name":"tf-co-dreamy-joliot","namespace_id":"ba55c9db-935b-44dc-b94f-437d8734b9f8","description":"This container has a description","status":"creating","created_at":"2026-05-05T14:43:10.670343Z","updated_at":"2026-05-05T14:43:10.670343Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":["terraform-test","scaleway_container","basic"],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestbasicba55c9db-tf-co-dreamy-joliot.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.042211ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/48b2547f-0c30-4985-9bcb-5bfeeb88d666
        method: GET
      response:
        body: '{"id":"48b2547f-0c30-4985-9bcb-5bfeeb88d666","name":"tf-co-dreamy-joliot","namespace_id":"ba55c9db-935b-44dc-b94f-437d8734b9f8","description":"This container has a description","status":"creating","created_at":"2026-05-05T14:43:10.670343Z","updated_at":"2026-05-05T14:43:10.670343Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":["terraform-test","scaleway_container","basic"],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestbasicba55c9db-tf-co-dreamy-joliot.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.009107ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/48b2547f-0c30-4985-9bcb-5bfeeb88d666
        method: GET
      response:
        body: '{"id":"48b2547f-0c30-4985-9bcb-5bfeeb88d666","name":"tf-co-dreamy-joliot","namespace_id":"ba55c9db-935b-44dc-b94f-437d8734b9f8","description":"This container has a description","status":"ready","error_message":"","created_at":"2026-05-05T14:43:10.670343Z","updated_at":"2026-05-05T14:43:28Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":["terraform-test","scaleway_container","basic"],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestbasicba55c9db-tf-co-dreamy-joliot.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.687768ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ba55c9db-935b-44dc-b94f-437d8734b9f8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ba55c9db-935b-44dc-b94f-437d8734b9f8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.744934ms
[...]
