---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-elegant-driscoll","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-06-10T15:56:55.059877057Z","description":"","environment_variables":{},"error_message":null,"id":"ddbb61fa-0fa7-41f1-9ceb-928650aeb62c","name":"tf-ns-elegant-driscoll","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-10T15:56:55.059877057Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 608.160123ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ddbb61fa-0fa7-41f1-9ceb-928650aeb62c
        method: GET
      response:
        body: '{"created_at":"2025-06-10T15:56:55.059877Z","description":"","environment_variables":{},"error_message":null,"id":"ddbb61fa-0fa7-41f1-9ceb-928650aeb62c","name":"tf-ns-elegant-driscoll","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-10T15:56:55.059877Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.847985ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"ddbb61fa-0fa7-41f1-9ceb-928650aeb62c","name":"tf-co-friendly-proskuriakova","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":["bash","-c","my-script.sh"],"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":["bash","-c","my-script.sh"],"cpu_limit":1000,"created_at":"2025-06-10T15:57:00.522363271Z","description":"","domain_name":"tfnselegantdriscollwnsj30w0-tf-co-friendly-proskuriakova.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b7902931-c4d7-4d30-a86b-e11b0704c39f","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-friendly-proskuriakova","namespace_id":"ddbb61fa-0fa7-41f1-9ceb-928650aeb62c","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnselegantdriscollwnsj30w0/tf-co-friendly-proskuriakova:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-10T15:57:00.522363271Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.828881ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b7902931-c4d7-4d30-a86b-e11b0704c39f
        method: GET
      response:
        body: '{"args":[],"command":["bash","-c","my-script.sh"],"cpu_limit":1000,"created_at":"2025-06-10T15:57:00.522363Z","description":"","domain_name":"tfnselegantdriscollwnsj30w0-tf-co-friendly-proskuriakova.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b7902931-c4d7-4d30-a86b-e11b0704c39f","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-friendly-proskuriakova","namespace_id":"ddbb61fa-0fa7-41f1-9ceb-928650aeb62c","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnselegantdriscollwnsj30w0/tf-co-friendly-proskuriakova:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-10T15:57:00.522363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.594221ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ddbb61fa-0fa7-41f1-9ceb-928650aeb62c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.845001ms
[...]
