---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-blissful-borg","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-06-13T15:41:00.785173276Z","description":"","environment_variables":{},"error_message":null,"id":"ece166d7-9dbf-4c7e-b8db-baecfc2f8b1b","name":"tf-ns-blissful-borg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-13T15:41:00.785173276Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 387.902359ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ece166d7-9dbf-4c7e-b8db-baecfc2f8b1b
        method: GET
      response:
        body: '{"created_at":"2025-06-13T15:41:00.785173Z","description":"","environment_variables":{},"error_message":null,"id":"ece166d7-9dbf-4c7e-b8db-baecfc2f8b1b","name":"tf-ns-blissful-borg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-13T15:41:00.785173Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.538553ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-cranky-shannon","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-13T15:41:00.650199Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b830ff3d-6048-47ae-8c9e-910b1c7d0ece","name":"tf-pn-cranky-shannon","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-13T15:41:00.650199Z","id":"c3bb7152-8b0e-4c7c-9c6d-f935a89956c4","private_network_id":"b830ff3d-6048-47ae-8c9e-910b1c7d0ece","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-06-13T15:41:00.650199Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-13T15:41:00.650199Z","id":"4ce0d555-a781-40ac-9a50-c498d03b5935","private_network_id":"b830ff3d-6048-47ae-8c9e-910b1c7d0ece","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:ff00::/64","updated_at":"2025-06-13T15:41:00.650199Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-13T15:41:00.650199Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 860.026949ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ee85951c-2ae9-4f93-a132-28df37dcb50c
        method: GET
      response:
        body: '{"created_at":"2025-06-13T15:41:00.736343Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"ee85951c-2ae9-4f93-a132-28df37dcb50c","name":"tf-pn-heuristic-joliot","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-13T15:41:00.736343Z","id":"c3d38f4c-ae5d-4758-b858-798140408831","private_network_id":"ee85951c-2ae9-4f93-a132-28df37dcb50c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.36.0/22","updated_at":"2025-06-13T15:41:00.736343Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-13T15:41:00.736343Z","id":"f1bbb75e-3d21-4e52-89a0-a5c41867f295","private_network_id":"ee85951c-2ae9-4f93-a132-28df37dcb50c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b58e::/64","updated_at":"2025-06-13T15:41:00.736343Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-13T15:41:00.736343Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.101449ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"ece166d7-9dbf-4c7e-b8db-baecfc2f8b1b","name":"tf-co-blissful-cartwright","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"b830ff3d-6048-47ae-8c9e-910b1c7d0ece","command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-06-13T15:41:06.349126682Z","description":"","domain_name":"tfnsblissfulborg9jiz37li-tf-co-blissful-cartwright.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b70d2a60-220b-479f-b52d-4fd148c37a12","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-blissful-cartwright","namespace_id":"ece166d7-9dbf-4c7e-b8db-baecfc2f8b1b","port":8080,"privacy":"public","private_network_id":"b830ff3d-6048-47ae-8c9e-910b1c7d0ece","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsblissfulborg9jiz37li/tf-co-blissful-cartwright:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-13T15:41:06.349126682Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.725831ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b70d2a60-220b-479f-b52d-4fd148c37a12
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-06-13T15:41:06.349127Z","description":"","domain_name":"tfnsblissfulborg9jiz37li-tf-co-blissful-cartwright.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b70d2a60-220b-479f-b52d-4fd148c37a12","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-blissful-cartwright","namespace_id":"ece166d7-9dbf-4c7e-b8db-baecfc2f8b1b","port":8080,"privacy":"public","private_network_id":"b830ff3d-6048-47ae-8c9e-910b1c7d0ece","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsblissfulborg9jiz37li/tf-co-blissful-cartwright:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-13T15:41:06.349127Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.16227ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ece166d7-9dbf-4c7e-b8db-baecfc2f8b1b
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 133.770074ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b830ff3d-6048-47ae-8c9e-910b1c7d0ece
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"b830ff3d-6048-47ae-8c9e-910b1c7d0ece","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.601573ms
[...]
