---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"tf-acctest-default-public-endpoint","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"3deb8c7a-791f-461d-8cd9-8ff3642fc759","name":"tf-acctest-default-public-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-09-24T12:43:47.932826Z","updated_at":"2026-09-24T12:43:47.932826Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 2.764989976s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/3deb8c7a-791f-461d-8cd9-8ff3642fc759
        method: GET
      response:
        body: '{"id":"3deb8c7a-791f-461d-8cd9-8ff3642fc759","name":"tf-acctest-default-public-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-09-24T12:43:47.932826Z","updated_at":"2026-09-24T12:43:47.932826Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.958912ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"3deb8c7a-791f-461d-8cd9-8ff3642fc759","name":"tf-co-loving-diffie","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null,"enable_default_public_endpoint":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"3cef41c2-e804-4682-9c2b-5c9c592a9f0a","name":"tf-co-loving-diffie","namespace_id":"3deb8c7a-791f-461d-8cd9-8ff3642fc759","description":"","status":"creating","created_at":"2026-09-24T12:43:54.040228Z","updated_at":"2026-09-24T12:43:54.040228Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestdefaultpubl3deb8c7a-tf-co-loving-diffie.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"default_public_endpoint_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 218.424448ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/3cef41c2-e804-4682-9c2b-5c9c592a9f0a
        method: GET
      response:
        body: '{"id":"3cef41c2-e804-4682-9c2b-5c9c592a9f0a","name":"tf-co-loving-diffie","namespace_id":"3deb8c7a-791f-461d-8cd9-8ff3642fc759","description":"","status":"creating","created_at":"2026-09-24T12:43:54.040228Z","updated_at":"2026-09-24T12:43:54.040228Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestdefaultpubl3deb8c7a-tf-co-loving-diffie.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"default_public_endpoint_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.570663ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/3cef41c2-e804-4682-9c2b-5c9c592a9f0a
        method: GET
      response:
        body: '{"id":"3cef41c2-e804-4682-9c2b-5c9c592a9f0a","name":"tf-co-loving-diffie","namespace_id":"3deb8c7a-791f-461d-8cd9-8ff3642fc759","description":"","status":"ready","error_message":"","created_at":"2026-09-24T12:43:54.040228Z","updated_at":"2026-09-24T12:44:03Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestdefaultpubl3deb8c7a-tf-co-loving-diffie.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"default_public_endpoint_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.156454ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/3deb8c7a-791f-461d-8cd9-8ff3642fc759
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"3deb8c7a-791f-461d-8cd9-8ff3642fc759","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 253.885142ms
[...]
