---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccContainer_PrivateNetwork\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"37a4716a-a938-49de-b8fb-b0d26e2c437e\", \"name\":\"TestAccContainer_PrivateNetwork\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:41:22.332638Z\", \"updated_at\":\"2025-10-31T16:41:22.332638Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.501213ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/37a4716a-a938-49de-b8fb-b0d26e2c437e
    method: GET
  response:
    body: "{\"id\":\"37a4716a-a938-49de-b8fb-b0d26e2c437e\", \"name\":\"TestAccContainer_PrivateNetwork\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:41:22.332638Z\", \"updated_at\":\"2025-10-31T16:41:22.332638Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 33.523688ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-container-pn-pn00\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"37a4716a-a938-49de-b8fb-b0d26e2c437e\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"972b7fd8-196a-4711-8150-390fa074700a\", \"name\":\"test-acc-container-pn-pn00\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:41:22.476978Z\", \"updated_at\":\"2025-10-31T16:41:22.476978Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"2d2e8618-96ff-4a46-898f-b84f2eec4504\", \"created_at\":\"2025-10-31T16:41:22.476978Z\", \"updated_at\":\"2025-10-31T16:41:22.476978Z\", \"subnet\":\"172.17.28.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"972b7fd8-196a-4711-8150-390fa074700a\", \"vpc_id\":\"37a4716a-a938-49de-b8fb-b0d26e2c437e\"}, {\"id\":\"aeb57d5c-b70e-4010-bdbd-99858b2930a7\", \"created_at\":\"2025-10-31T16:41:22.476978Z\", \"updated_at\":\"2025-10-31T16:41:22.476978Z\", \"subnet\":\"fd5f:519c:6d46:49b8::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"972b7fd8-196a-4711-8150-390fa074700a\", \"vpc_id\":\"37a4716a-a938-49de-b8fb-b0d26e2c437e\"}], \"vpc_id\":\"37a4716a-a938-49de-b8fb-b0d26e2c437e\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 639.673072ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/972b7fd8-196a-4711-8150-390fa074700a
    method: GET
  response:
    body: "{\"id\":\"972b7fd8-196a-4711-8150-390fa074700a\", \"name\":\"test-acc-container-pn-pn00\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:41:22.476978Z\", \"updated_at\":\"2025-10-31T16:41:22.476978Z\", \"project_id\":\"105bdce1-64c0[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-tender-tu\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"308dc281-2682-475a-9d59-ee88dbd6bd04\", \"name\":\"tf-ns-tender-tu\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:41:23.529724961Z\", \"updated_at\":\"2025-10-31T16:41:23.529724961Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.350912593s
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/308dc281-2682-475a-9d59-ee88dbd6bd04
    method: GET
  response:
    body: "{\"id\":\"308dc281-2682-475a-9d59-ee88dbd6bd04\", \"name\":\"tf-ns-tender-tu\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:41:23.529725Z\", \"updated_at\":\"2025-10-31T16:41:23.529725Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.276865ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"308dc281-2682-475a-9d59-ee88dbd6bd04\",\"name\":\"test-acc-container-pn-c00\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":[\"c00\"],\"private_network_id\":\"972b7fd8-196a-4711-8150-390fa074700a\",\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"0df5861c-c2ab-49ec-bc8e-add835e29aa3\", \"name\":\"test-acc-container-pn-c00\", \"namespace_id\":\"308dc281-2682-475a-9d59-ee88dbd6bd04\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnstendertu6g9sulfw/test-acc-container-pn-c00:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnstendertu6g9sulfw-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:41:29.592405383Z\", \"updated_at\":\"2025-10-31T16:41:29.592405383Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[\"c00\"], \"private_network_id\":\"972b7fd8-196a-4711-8150-390fa074700a\", \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 684.346066ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/0df5861c-c2ab-49ec-bc8e-add835e29aa3
    method: GET
  response:
    body: "{\"id\":\"0df5861c-c2ab-49ec-bc8e-add835e29aa3\", \"name\":\"test-acc-container-pn-c00\", \"namespace_id\":\"308dc281-2682-475a-9d59-ee88dbd6bd04\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnstendertu6g9sulfw/test-acc-container-pn-c00:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnstendertu6g9sulfw-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:41:29.592405Z\", \"updated_at\":\"2025-10-31T16:41:29.592405Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[\"c00\"], \"private_network_id\":\"972b7fd8-196a-4711-8150-390fa074700a\", \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.203998ms
[...]
- id: 80
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/308dc281-2682-475a-9d59-ee88dbd6bd04
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.043571ms
[...]
- id: 83
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/972b7fd8-196a-4711-8150-390fa074700a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"972b7fd8-196a-4711-8150-390fa074700a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.326384ms
[...]
