---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-command-and-args","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"2a99bb4d-d2d7-4297-b3c6-fb08994366c6","name":"tf-acctest-command-and-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:20.115425Z","updated_at":"2026-05-05T14:42:20.115425Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 8.652364228s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/2a99bb4d-d2d7-4297-b3c6-fb08994366c6
        method: GET
      response:
        body: '{"id":"2a99bb4d-d2d7-4297-b3c6-fb08994366c6","name":"tf-acctest-command-and-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:20.115425Z","updated_at":"2026-05-05T14:42:20.115425Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.101744ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"2a99bb4d-d2d7-4297-b3c6-fb08994366c6","name":"tf-co-elated-galileo","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":["bash","-c","my-script.sh"],"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"5fc39698-726e-42ed-a0d2-22566bcc9149","name":"tf-co-elated-galileo","namespace_id":"2a99bb4d-d2d7-4297-b3c6-fb08994366c6","description":"","status":"creating","created_at":"2026-05-05T14:42:26.511589Z","updated_at":"2026-05-05T14:42:26.511589Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":["bash","-c","my-script.sh"],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcommandanda2a99bb4d-tf-co-elated-galileo.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.523689ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/5fc39698-726e-42ed-a0d2-22566bcc9149
        method: GET
      response:
        body: '{"id":"5fc39698-726e-42ed-a0d2-22566bcc9149","name":"tf-co-elated-galileo","namespace_id":"2a99bb4d-d2d7-4297-b3c6-fb08994366c6","description":"","status":"creating","created_at":"2026-05-05T14:42:26.511589Z","updated_at":"2026-05-05T14:42:26.511589Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":["bash","-c","my-script.sh"],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcommandanda2a99bb4d-tf-co-elated-galileo.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.754732ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/5fc39698-726e-42ed-a0d2-22566bcc9149
        method: GET
      response:
        body: '{"id":"5fc39698-726e-42ed-a0d2-22566bcc9149","name":"tf-co-elated-galileo","namespace_id":"2a99bb4d-d2d7-4297-b3c6-fb08994366c6","description":"","status":"error","error_message":"Container is unable to start OR is not listening on port 80","created_at":"2026-05-05T14:42:26.511589Z","updated_at":"2026-05-05T14:47:27Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":["bash","-c","my-script.sh"],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcommandanda2a99bb4d-tf-co-elated-galileo.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.405248ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/2a99bb4d-d2d7-4297-b3c6-fb08994366c6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"2a99bb4d-d2d7-4297-b3c6-fb08994366c6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.385428ms
[...]
