---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-bold-greider\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"0eb5bcc9-1838-49c8-8bff-6df7e7d08229\", \"name\":\"tf-ns-bold-greider\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:56.053856742Z\", \"updated_at\":\"2025-10-31T16:31:56.053856742Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.222853566s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/0eb5bcc9-1838-49c8-8bff-6df7e7d08229
    method: GET
  response:
    body: "{\"id\":\"0eb5bcc9-1838-49c8-8bff-6df7e7d08229\", \"name\":\"tf-ns-bold-greider\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:56.053857Z\", \"updated_at\":\"2025-10-31T16:31:56.053857Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.482266ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"0eb5bcc9-1838-49c8-8bff-6df7e7d08229\",\"name\":\"tf-co-serene-dhawan\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"2a74ce89-307d-435e-8ab2-57c3e12869eb\", \"name\":\"tf-co-serene-dhawan\", \"namespace_id\":\"0eb5bcc9-1838-49c8-8bff-6df7e7d08229\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsboldgreider4pnre3ss/tf-co-serene-dhawan:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsboldgreider4pnre3ss-tf-co-serene-dhawan.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:32:27.569290400Z\", \"updated_at\":\"2025-10-31T16:32:27.569290400Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 441.448542ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/2a74ce89-307d-435e-8ab2-57c3e12869eb
    method: GET
  response:
    body: "{\"id\":\"2a74ce89-307d-435e-8ab2-57c3e12869eb\", \"name\":\"tf-co-serene-dhawan\", \"namespace_id\":\"0eb5bcc9-1838-49c8-8bff-6df7e7d08229\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsboldgreider4pnre3ss/tf-co-serene-dhawan:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsboldgreider4pnre3ss-tf-co-serene-dhawan.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:32:27.569290Z\", \"updated_at\":\"2025-10-31T16:32:27.569290Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.754984ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\",\"health_check\":{\"http\":{\"path\":\"/test\"},\"failure_threshold\":40,\"interval\":\"12.000000000s\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/2a74ce89-307d-435e-8ab2-57c3e12869eb
    method: PATCH
  response:
    body: "{\"id\":\"2a74ce89-307d-435e-8ab2-57c3e12869eb\", \"name\":\"tf-co-serene-dhawan\", \"namespace_id\":\"0eb5bcc9-1838-49c8-8bff-6df7e7d08229\", \"status\":\"pending\", \"environment_variables\":{}, \"min_scale\":0, \[...]
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/0eb5bcc9-1838-49c8-8bff-6df7e7d08229
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.389122ms
[...]
