---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-epic-curran","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:41.431613964Z","description":"","environment_variables":{},"error_message":null,"id":"97c8830e-6d1b-42c0-8ce3-7230e241dd40","name":"tf-ns-epic-curran","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.431613964Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.477515374s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/97c8830e-6d1b-42c0-8ce3-7230e241dd40
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:41.431614Z","description":"","environment_variables":{},"error_message":null,"id":"97c8830e-6d1b-42c0-8ce3-7230e241dd40","name":"tf-ns-epic-curran","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.431614Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.971759ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"97c8830e-6d1b-42c0-8ce3-7230e241dd40","name":"tf-co-confident-tu","environment_variables":{"test":"test"},"privacy":"public","protocol":"http1","secret_environment_variables":[{"key":"first_secret","value":"first_secret"},{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:54.308424894Z","description":"","domain_name":"tfnsepiccurransflacvv1-tf-co-confident-tu.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"0b6ea900-e5ac-4145-947b-785fe8f7143b","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-confident-tu","namespace_id":"97c8830e-6d1b-42c0-8ce3-7230e241dd40","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsepiccurransflacvv1/tf-co-confident-tu:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$xV25hSvhb8ynFb4GTTSVJQ$aQe1AfGWkSRQqKfDWoyGjrNipWD0LD/Zj0pGv2uABWI","key":"first_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$imNLN12H3zoKm8ptBqS87Q$jRQyWWEjcrg29UUzfq4PUVTVtYOC4Ok/+i7ccSCfJ80","key":"test_secret"}],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:54.308424894Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.31318506s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/0b6ea900-e5ac-4145-947b-785fe8f7143b
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:54.308425Z","description":"","domain_name":"tfnsepiccurransflacvv1-tf-co-confident-tu.functions.fnc.fr-par.scw.cloud","environment_variables":{"test[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":[{"key":"test_secret","value":"updated_secret"},{"key":"foo_secret","value":"bar_secret"},{"key":"first_secret","value":null}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/0b6ea900-e5ac-4145-947b-785fe8f71[...]
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/97c8830e-6d1b-42c0-8ce3-7230e241dd40
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.218754ms
[...]
