---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-02","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"test container","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.279671570Z","description":"test container","environment_variables":{},"error_message":null,"id":"0f7cb2d4-469a-4dbe-995b-9e8947611a18","name":"test-cr-ns-02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.279671570Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.00173525s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/0f7cb2d4-469a-4dbe-995b-9e8947611a18
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.279672Z","description":"test container","environment_variables":{},"error_message":null,"id":"0f7cb2d4-469a-4dbe-995b-9e8947611a18","name":"test-cr-ns-02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.279672Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.899958ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"0f7cb2d4-469a-4dbe-995b-9e8947611a18","name":"my-container-02","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600.000000000s","privacy":"private","description":"environment variables test","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02c1j0hsbc/nginx:test","max_concurrency":80,"protocol":"h2c","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":140,"created_at":"2025-01-24T15:38:20.937009289Z","description":"environment variables test","domain_name":"testcrns02c1j0hsbc-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"9998419a-8765-47f3-a3d2-36dc747c4967","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"0f7cb2d4-469a-4dbe-995b-9e8947611a18","port":80,"privacy":"private","protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02c1j0hsbc/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"created","timeout":"600s","updated_at":"2025-01-24T15:38:20.937009289Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 738.050666ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9998419a-8765-47f3-a3d2-36dc747c4967
        method: GET
      response:
        body: '{"cpu_limit":140,"created_at":"2025-01-24T15:38:20.937009Z","description":"environment variables test","domain_name":"testcrns02c1j0hsbc-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"9998419a-8765-47f3-a3d2-36dc747c4967","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"0f7cb2d4-469a-4dbe-995b-9e8947611a18","port":80,"privacy":"private","protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02c1j0hsbc/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"created","timeout":"600s","updated_at":"2025-01-24T15:38:20.937009Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.978542ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9998419a-8765-47f3-a3d2-36dc747c4967
        method: PATCH
      response:
        body: '{"cpu_limit":140,"created_at":"2025-01-24T15:38:20.937009Z","description":"environment variables test","domain_name":"testcrns02c1j0hsbc-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"9998419a-8765-47f3-a3d2-36dc747c4967","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"0f7cb2d4-469a-4dbe-995b-9e8947611a18","port":80,"privacy":"private","protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02c1j0hsbc/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"pending","timeout":"600s","updated_at":"2025-01-24T15:38:21.121854678Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.785208ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/0f7cb2d4-469a-4dbe-995b-9e8947611a18
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.698625ms
[...]
