---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-02\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"description\":\"test container\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"539e0e41-b071-4a01-b78c-b1b9247e0bad\",\"name\":\"test-cr-ns-02\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"test container\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.637895856Z\",\"updated_at\":\"2025-09-01T15:54:49.637895856Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 10.828045607s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/539e0e41-b071-4a01-b78c-b1b9247e0bad
    method: GET
  response:
    body: "{\"id\":\"539e0e41-b071-4a01-b78c-b1b9247e0bad\",\"name\":\"test-cr-ns-02\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"test container\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.637896Z\",\"updated_at\":\"2025-09-01T15:54:49.637896Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.942153ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"539e0e41-b071-4a01-b78c-b1b9247e0bad\",\"name\":\"my-container-02\",\"environment_variables\":{\"foo\":\"var\"},\"min_scale\":3,\"max_scale\":5,\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"600.000000000s\",\"privacy\":\"private\",\"description\":\"environment variables test\",\"registry_image\":\"nginx:latest\",\"max_concurrency\":80,\"protocol\":\"h2c\",\"port\":80,\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"7188b438-4d89-461c-acf8-765680763fad\",\"name\":\"my-container-02\",\"namespace_id\":\"539e0e41-b071-4a01-b78c-b1b9247e0bad\",\"status\":\"created\",\"environment_variables\":{\"foo\":\"var\"},\"min_scale\":3,\"max_scale\":5,\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"600s\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"environment variables test\",\"registry_image\":\"nginx:latest\",\"max_concurrency\":80,\"domain_name\":\"testcrns026ja2iwsq-my-container-02.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"h2c\",\"port\":80,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":80},\"created_at\":\"2025-09-01T15:55:15.028175652Z\",\"updated_at\":\"2025-09-01T15:55:15.028175652Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.440735664s
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7188b438-4d89-461c-acf8-765680763fad
    method: GET
  response:
    body: "{\"id\":\"7188b438-4d89-461c-acf8-765680763fad\",\"name\":\"my-container-02\",\"namespace_id\":\"539e0e41-b071-4a01-b78c-b1b9247e0bad\",\"status\":\"created\",\"environment_variables\":{\"foo\":\"var\"},\"min_scale\":3,\"max_scale\":5,\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"600s\",\"error_message\":null,\"privacy\":\"private\",\"description\":\"environment variables test\",\"registry_image\":\"nginx:latest\",\"max_concurrency\":80,\"domain_name\":\"testcrns026ja2iwsq-my-container-02.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"h2c\",\"port\":80,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":80},\"created_at\":\"2025-09-01T15:55:15.028176Z\",\"updated_at\":\"2025-09-01T15:55:15.028176Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.92025ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"redeploy\":true,\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7188b438-4d89-461c-acf8-765680763fad
    method: PATCH
  response:
    body: "{\"id\":\"7188b438-4d89-461c-acf8-765680763fad\",\"name\":\"my-container-02\",\"namespace_id\":\"539e0[...]
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/539e0e41-b071-4a01-b78c-b1b9247e0bad
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 45.981248ms
[...]
