---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-blissful-minsky\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"d0adda7d-d4f6-41bd-b982-1bff988efa35\", \"name\":\"tf-ns-blissful-minsky\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:04.914287795Z\", \"updated_at\":\"2025-10-31T16:31:04.914287795Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.940561259s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d0adda7d-d4f6-41bd-b982-1bff988efa35
    method: GET
  response:
    body: "{\"id\":\"d0adda7d-d4f6-41bd-b982-1bff988efa35\", \"name\":\"tf-ns-blissful-minsky\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:04.914288Z\", \"updated_at\":\"2025-10-31T16:31:04.914288Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.452764ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"d0adda7d-d4f6-41bd-b982-1bff988efa35\",\"name\":\"tf-co-pensive-swanson\",\"environment_variables\":{\"test\":\"test\"},\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"test_secret\"},{\"key\":\"first_secret\",\"value\":\"first_secret\"}],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"aabecefd-e15b-45ef-9b06-8a1406e44697\", \"name\":\"tf-co-pensive-swanson\", \"namespace_id\":\"d0adda7d-d4f6-41bd-b982-1bff988efa35\", \"status\":\"created\", \"environment_variables\":{\"test\":\"test\"}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsblissfulminskyrw7yaybp/tf-co-pensive-swanson:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsblissfulminskyrw7yaybp-tf-co-pensive-swanson.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[{\"key\":\"test_secret\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$VjBFwAc2B70AI1RqSvnq7A$MH3AcyAzyTbOgt1wXgz1TB0Op08w01vElgyWpwoG4+I\"}, {\"key\":\"first_secret\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$lrwXxtL6nmNWPUTGWyBL/g$KAjPEUs90PsLH90yesT9FUIdt6dLlYU/zGy/gtQfuCg\"}], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.915901653Z\", \"updated_at\":\"2025-10-31T16:31:16.915901653Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.62416908s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/aabecefd-e15b-45ef-9b06-8a1406e44697
    method: GET
  response:
    body: "{\"id\":\"aabecefd-e15b-45ef-9b06-8a1406e44697\", \"name\":\"tf-co-pensive-swanson\", \"namespace_id\":\"d0adda7d-d4f6-41bd-b982-1bff988efa35\", \"status\":\"created\", \"environment_variables\":{\"test\":\"test\"}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\"[...]
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"foo\":\"bar\"},\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"updated_secret\"},{\"key\":\"foo_secret\",\"value\":\"bar_secret\"},{\"key\":\"first_secret\",\"value\":null}],\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/aabecefd-e15b-45ef-9b06-8a1406e4[...]
[...]
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d0adda7d-d4f6-41bd-b982-1bff988efa35
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.219962ms
[...]
