---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-probes","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"d7c7fc3d-f221-43f3-8832-b800e7af1b2d","name":"tf-acctest-probes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:27.615275Z","updated_at":"2026-05-05T14:42:27.615275Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 15.437051575s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/d7c7fc3d-f221-43f3-8832-b800e7af1b2d
        method: GET
      response:
        body: '{"id":"d7c7fc3d-f221-43f3-8832-b800e7af1b2d","name":"tf-acctest-probes","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:27.615275Z","updated_at":"2026-05-05T14:42:27.615275Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.395922ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"d7c7fc3d-f221-43f3-8832-b800e7af1b2d","name":"tf-co-quirky-grothendieck","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","liveness_probe":{"failure_threshold":3,"interval":"10.000000000s","timeout":"30.000000000s","http":{"path":"/test"}},"startup_probe":{"failure_threshold":5,"interval":"15.000000000s","timeout":"60.000000000s","tcp":{}},"tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"aa6cf9f8-8130-494b-980f-4d3d0d11290b","name":"tf-co-quirky-grothendieck","namespace_id":"d7c7fc3d-f221-43f3-8832-b800e7af1b2d","description":"","status":"creating","created_at":"2026-05-05T14:42:33.337878Z","updated_at":"2026-05-05T14:42:33.337878Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestprobesd7c7fc3d-tf-co-quirky-grothendieck.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":3,"interval":"10s","timeout":"30s","http":{"path":"/test"}},"startup_probe":{"failure_threshold":5,"interval":"15s","timeout":"60s","tcp":{}},"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.225314ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/aa6cf9f8-8130-494b-980f-4d3d0d11290b
        method: GET
      response:
        body: '{"id":"aa6cf9f8-8130-494b-980f-4d3d0d11290b","name":"tf-co-quirky-grothendieck","namespace_id":"d7c7fc3d-f221-43f3-8832-b800e7af1b2d","description":"","status":"creating","created_at":"2026-05-05T14:42:33.337878Z","updated_at":"2026-05-05T14:42:33.337878Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestprobesd7c7fc3d-tf-co-quirky-grothendieck.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":3,"interval":"10s","timeout":"30s","http":{"path":"/test"}},"startup_probe":{"failure_threshold":5,"interval":"15s","timeout":"60s","tcp":{}},"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.963121ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/aa6cf9f8-8130-494b-980f-4d3d0d11290b
        method: GET
      response:
        body: '{"id":"aa6cf9f8-8130-494b-980f-4d3d0d11290b","name":"tf-co-quirky-grothendieck","namespace_id":"d7c7fc3d-f221-43f3-8832-b800e7af1b2d","description":"","status":"error","error_message":"Container is unable to start OR does not respond to HTTP requests on port 80 and path /test","created_at":"2026-05-05T14:42:33.337878Z","updated_at":"2026-05-05T14:43:05Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestprobesd7c7fc3d-tf-co-quirky-grothendieck.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":3,"interval":"10s","timeout":"30s","http":{"path":"/test"}},"startup_probe":{"failure_threshold":5,"interval":"15s","timeout":"60s","tcp":{}},"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.204346ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/d7c7fc3d-f221-43f3-8832-b800e7af1b2d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"d7c7fc3d-f221-43f3-8832-b800e7af1b2d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.189658ms
[...]
