---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-gallant-haibt","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-06-16T16:33:23.753071204Z","description":"","environment_variables":{},"error_message":null,"id":"36b36416-4c12-41cd-ba2b-52a002600f06","name":"tf-ns-gallant-haibt","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-16T16:33:23.753071204Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.885337ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/36b36416-4c12-41cd-ba2b-52a002600f06
        method: GET
      response:
        body: '{"created_at":"2025-06-16T16:33:23.753071Z","description":"","environment_variables":{},"error_message":null,"id":"36b36416-4c12-41cd-ba2b-52a002600f06","name":"tf-ns-gallant-haibt","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-16T16:33:23.753071Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.987187ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-container-pn-pn01","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-16T16:33:23.625701Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c806474f-01fa-47a9-b59a-a57f0ddfce80","name":"test-acc-container-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-16T16:33:23.625701Z","id":"d2bc5535-6dc9-4782-bd4d-d36deb39b558","private_network_id":"c806474f-01fa-47a9-b59a-a57f0ddfce80","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-06-16T16:33:23.625701Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-16T16:33:23.625701Z","id":"a38e59ef-cd3c-443f-ae15-6c0d8ff3508a","private_network_id":"c806474f-01fa-47a9-b59a-a57f0ddfce80","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:ce3b::/64","updated_at":"2025-06-16T16:33:23.625701Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-16T16:33:23.625701Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 755.457175ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c806474f-01fa-47a9-b59a-a57f0ddfce80
        method: GET
      response:
        body: '{"created_at":"2025-06-16T16:33:23.625701Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"c806474f-01fa-47a9-b59a-a57f0ddfce80","name":"test-acc-container-pn-pn01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-16T16:33:23.625701Z","id":"d2bc5535-6dc9-4782-bd4d-d36deb39b558","private_network_id":"c806474f-01fa-47a9-b59a-a57f0ddfce80","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-06-16T16:33:23.625701Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-16T16:33:23.625701Z","id":"a38e59ef-cd3c-443f-ae15-6c0d8ff3508a","private_network_id":"c806474f-01fa-47a9-b59a-a57f0ddfce80","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:ce3b::/64","updated_at":"2025-06-16T16:33:23.625701Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-16T16:33:23.625701Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.619786ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"36b36416-4c12-41cd-ba2b-52a002600f06","name":"test-acc-container-pn-c00","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"8a415abf-00cd-4db2-bdc4-12408ad70c98","command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-06-16T16:33:29.364422515Z","description":"","domain_name":"tfnsgallanthaibtku6hfpsd-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"aa1afb40-4da5-4bf9-a989-3cfb175fb432","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-acc-container-pn-c00","namespace_id":"36b36416-4c12-41cd-ba2b-52a002600f06","port":8080,"privacy":"public","private_network_id":"8a415abf-00cd-4db2-bdc4-12408ad70c98","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallanthaibtku6hfpsd/test-acc-container-pn-c00:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-16T16:33:29.364422515Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.974478ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/aa1afb40-4da5-4bf9-a989-3cfb175fb432
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-06-16T16:33:29.364423Z","description":"","domain_name":"tfnsgallanthaibtku6hfpsd-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"aa1afb40-4da5-4bf9-a989-3cfb175fb432","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-acc-container-pn-c00","namespace_id":"36b36416-4c12-41cd-ba2b-52a002600f06","port":8080,"privacy":"public","private_network_id":"8a415abf-00cd-4db2-bdc4-12408ad70c98","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsgallanthaibtku6hfpsd/test-acc-container-pn-c00:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-16T16:33:29.364423Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.399798ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/36b36416-4c12-41cd-ba2b-52a002600f06
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.425004ms
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8a415abf-00cd-4db2-bdc4-12408ad70c98
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"8a415abf-00cd-4db2-bdc4-12408ad70c98","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.31941ms
[...]
