---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-musing-blackwell\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"e5cde25a-673e-40eb-90e5-ae20da58ab7c\",\"name\":\"tf-ns-musing-blackwell\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.669209798Z\",\"updated_at\":\"2025-09-01T15:54:49.669209798Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 10.914032212s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e5cde25a-673e-40eb-90e5-ae20da58ab7c
    method: GET
  response:
    body: "{\"id\":\"e5cde25a-673e-40eb-90e5-ae20da58ab7c\",\"name\":\"tf-ns-musing-blackwell\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.669210Z\",\"updated_at\":\"2025-09-01T15:54:49.669210Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 126.682984ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"e5cde25a-673e-40eb-90e5-ae20da58ab7c\",\"name\":\"tf-co-naughty-noether\",\"environment_variables\":{\"test\":\"test\"},\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"test_secret\"},{\"key\":\"first_secret\",\"value\":\"first_secret\"}],\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"99ab811d-d2a2-4393-9425-9e69ce90aba0\",\"name\":\"tf-co-naughty-noether\",\"namespace_id\":\"e5cde25a-673e-40eb-90e5-ae20da58ab7c\",\"status\":\"created\",\"environment_variables\":{\"test\":\"test\"},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsmusingblackwellcxmoqk6q/tf-co-naughty-noether:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsmusingblackwellcxmoqk6q-tf-co-naughty-noether.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$HlkE/eJT2sVMpkauBe1Mpw$Vc5M/Pg8lXxgdXLQdkV8n4iWZlJ5sbNexaPlYEAXnqE\"},{\"key\":\"first_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$gdpsZysYrQDHnkiAWlCebA$8hJ8IPQq7OLaCgdVOStIGKd4gOldqtRypHUEJTpSq5U\"}],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:20.970908912Z\",\"updated_at\":\"2025-09-01T15:55:20.970908912Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.128770425s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/99ab811d-d2a2-4393-9425-9e69ce90aba0
    method: GET
  response:
    body: "{\"id\":\"99ab811d-d2a2-4393-9425-9e69ce90aba0\",\"name\":\"tf-co-naughty-noether\",\"namespace_id\":\"e5cde25a-673e-40eb-90e5-ae20da58ab7c\",\"status\":\"created\",\"environment_variables\":{\"test\":\"test\"},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\[...]
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"foo\":\"bar\"},\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":[{\"key\":\"foo_secret\",\"value\":\"bar_secret\"},{\"key\":\"test_secret\",\"value\":\"updated_secret\"},{\"key\":\"first_secret\",\"value\":null}],\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/99ab811d-d2a2-4393-9425-9e69ce90[...]
[...]
- id: 43
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e5cde25a-673e-40eb-90e5-ae20da58ab7c
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.524646ms
[...]
