---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-sandbox","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"830b0066-75fd-4df4-a3bc-66e275caefd3","name":"tf-acctest-sandbox","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:34.092385Z","updated_at":"2026-05-05T14:42:34.092385Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.082627374s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/830b0066-75fd-4df4-a3bc-66e275caefd3
        method: GET
      response:
        body: '{"id":"830b0066-75fd-4df4-a3bc-66e275caefd3","name":"tf-acctest-sandbox","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:34.092385Z","updated_at":"2026-05-05T14:42:34.092385Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.576683ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"830b0066-75fd-4df4-a3bc-66e275caefd3","name":"tf-co-funny-bohr","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"a1c49147-cf3f-412a-bd94-9ce31c30683c","name":"tf-co-funny-bohr","namespace_id":"830b0066-75fd-4df4-a3bc-66e275caefd3","description":"","status":"creating","created_at":"2026-05-05T14:42:42.019884Z","updated_at":"2026-05-05T14:42:42.019884Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestsandbox830b0066-tf-co-funny-bohr.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.230753ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/a1c49147-cf3f-412a-bd94-9ce31c30683c
        method: GET
      response:
        body: '{"id":"a1c49147-cf3f-412a-bd94-9ce31c30683c","name":"tf-co-funny-bohr","namespace_id":"830b0066-75fd-4df4-a3bc-66e275caefd3","description":"","status":"creating","created_at":"2026-05-05T14:42:42.019884Z","updated_at":"2026-05-05T14:42:42.019884Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestsandbox830b0066-tf-co-funny-bohr.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.201297ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/a1c49147-cf3f-412a-bd94-9ce31c30683c
        method: GET
      response:
        body: '{"id":"a1c49147-cf3f-412a-bd94-9ce31c30683c","name":"tf-co-funny-bohr","namespace_id":"830b0066-75fd-4df4-a3bc-66e275caefd3","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:42.019884Z","updated_at":"2026-05-05T14:42:50Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestsandbox830b0066-tf-co-funny-bohr.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.323046ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/830b0066-75fd-4df4-a3bc-66e275caefd3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"830b0066-75fd-4df4-a3bc-66e275caefd3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.888129ms
[...]
