---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-relaxed-rosalind","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:20.653339713Z","description":"","environment_variables":{},"error_message":null,"id":"b7fc2718-2361-4086-a786-11cb94ac2a21","name":"tf-ns-relaxed-rosalind","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.653339713Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.174159833s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/b7fc2718-2361-4086-a786-11cb94ac2a21
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:20.653340Z","description":"","environment_variables":{},"error_message":null,"id":"b7fc2718-2361-4086-a786-11cb94ac2a21","name":"tf-ns-relaxed-rosalind","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.653340Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.935ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"b7fc2718-2361-4086-a786-11cb94ac2a21","name":"tf-co-laughing-black","environment_variables":{"test":"test"},"privacy":"public","protocol":"http1","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:26.454707419Z","description":"","domain_name":"tfnsrelaxedrosalindulczffj6-tf-co-laughing-black.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"61712a19-4cca-4088-a395-0dc92bbbf7e7","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-laughing-black","namespace_id":"b7fc2718-2361-4086-a786-11cb94ac2a21","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrelaxedrosalindulczffj6/tf-co-laughing-black:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$lSkvqO2i3jqr1N5JMF7G9g$sdpyESopLehtAX5dvD3LvtGrS2aOQbpV5qxbVRW4yUc","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:26.454707419Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 490.42625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/61712a19-4cca-4088-a395-0dc92bbbf7e7
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:26.454707Z","description":"","domain_name":"tfnsrelaxedrosalindulczffj6-tf-co-laughing-black.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"61712a19-4cca-4088-a395-0dc92bbbf7e7","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-laughing-black","namespace_id":"b7fc2718-2361-4086-a786-11cb94ac2a21","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrelaxedrosalindulczffj6/tf-co-laughing-black:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$lSkvqO2i3jqr1N5JMF7G9g$sdpyESopLehtAX5dvD3LvtGrS2aOQbpV5qxbVRW4yUc","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:26.454707Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.481458ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/61712a19-4cca-4088-a395-0dc92bbbf7e7
        method: PATCH
      response:
        body: '{"cpu_limit":1000,"created[...]
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/b7fc2718-2361-4086-a786-11cb94ac2a21
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.31425ms
[...]
