---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-image","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"4f13e588-4c08-4113-b6da-5ae1003f1453","name":"tf-acctest-image","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:47.149676Z","updated_at":"2026-05-05T14:42:47.149676Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 899.029743ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/4f13e588-4c08-4113-b6da-5ae1003f1453
        method: GET
      response:
        body: '{"id":"4f13e588-4c08-4113-b6da-5ae1003f1453","name":"tf-acctest-image","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:47.149676Z","updated_at":"2026-05-05T14:42:47.149676Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.061618ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"4f13e588-4c08-4113-b6da-5ae1003f1453","name":"tf-co-nostalgic-pike","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"hello-world:latest","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"62dd522e-7ff8-4ee9-aaf9-a5775fd3886f","name":"tf-co-nostalgic-pike","namespace_id":"4f13e588-4c08-4113-b6da-5ae1003f1453","description":"","status":"creating","created_at":"2026-05-05T14:42:52.835039Z","updated_at":"2026-05-05T14:42:52.835039Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestimage4f13e588-tf-co-nostalgic-pike.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.197672ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/62dd522e-7ff8-4ee9-aaf9-a5775fd3886f
        method: GET
      response:
        body: '{"id":"62dd522e-7ff8-4ee9-aaf9-a5775fd3886f","name":"tf-co-nostalgic-pike","namespace_id":"4f13e588-4c08-4113-b6da-5ae1003f1453","description":"","status":"creating","created_at":"2026-05-05T14:42:52.835039Z","updated_at":"2026-05-05T14:42:52.835039Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestimage4f13e588-tf-co-nostalgic-pike.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.308869ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/62dd522e-7ff8-4ee9-aaf9-a5775fd3886f
        method: GET
      response:
        body: '{"id":"62dd522e-7ff8-4ee9-aaf9-a5775fd3886f","name":"tf-co-nostalgic-pike","namespace_id":"4f13e588-4c08-4113-b6da-5ae1003f1453","description":"","status":"error","error_message":"Container is unable to start OR is not listening on port 80","created_at":"2026-05-05T14:42:52.835039Z","updated_at":"2026-05-05T14:47:54Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"hello-world:latest","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestimage4f13e588-tf-co-nostalgic-pike.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.837865ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/4f13e588-4c08-4113-b6da-5ae1003f1453
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"4f13e588-4c08-4113-b6da-5ae1003f1453","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.40303ms
[...]
