---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-acctest-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"9824317e-8873-417c-b51d-3ebdd19665c1","name":"tf-acctest-private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-05-05T14:42:12.845402Z","updated_at":"2026-05-05T14:42:12.845402Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.390327ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/9824317e-8873-417c-b51d-3ebdd19665c1
        method: GET
      response:
        body: '{"id":"9824317e-8873-417c-b51d-3ebdd19665c1","name":"tf-acctest-private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-05-05T14:42:12.845402Z","updated_at":"2026-05-05T14:42:12.845402Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.479821ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-container-pn-start","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"9824317e-8873-417c-b51d-3ebdd19665c1","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","name":"test-acc-container-pn-start","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-05-05T14:42:13.084414Z","updated_at":"2026-05-05T14:42:13.084414Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"c35f375b-a0aa-45b5-8f8b-2d964e6e8ccf","created_at":"2026-05-05T14:42:13.084414Z","updated_at":"2026-05-05T14:42:13.084414Z","subnet":"172.25.184.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","vpc_id":"9824317e-8873-417c-b51d-3ebdd19665c1"},{"id":"1d3b6f0f-b812-409c-9cb6-eadea772d9fb","created_at":"2026-05-05T14:42:13.084414Z","updated_at":"2026-05-05T14:42:13.084414Z","subnet":"fd5f:519c:6d46:36c4::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","vpc_id":"9824317e-8873-417c-b51d-3ebdd19665c1"}],"vpc_id":"9824317e-8873-417c-b51d-3ebdd19665c1","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 715.106464ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046
        method: GET
      response:
        body: '{"id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","name":"test-acc-container-pn-start","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-05-05T14:42:13.084414Z","updated_at":"2026-05-05T14:42:13.084414Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[{"id":"c35f375b-a0aa-45b5-8f8b-2d964e6e8ccf","created_at":"2026-05-05T14:42:13.084414Z","updated_at":"2026-05-05T14:42:13.084414Z","subnet":"172.25.184.0/22","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","vpc_id":"9824317e-8873-417c-b51d-3ebdd19665c1"},{"id":"1d3b6f0f-b812-409c-9cb6-eadea772d9fb","created_at":"2026-05-05T14:42:13.084414Z","updated_at":"2026-05-05T14:42:13.084414Z","subnet":"fd5f:519c:6d46:36c4::/64","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","vpc_id":"9824317e-8873-417c-b51d-3ebdd19665c1"}],"vpc_id":"9824317e-8873-417c-b51d-3ebdd19665c1","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.383098ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-private-network","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"b8a99bd6-454e-4c0f-80ac-dcb284c75e51","name":"tf-acctest-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:37.159007Z","updated_at":"2026-05-05T14:42:37.159007Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.126276897s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b8a99bd6-454e-4c0f-80ac-dcb284c75e51
        method: GET
      response:
        body: '{"id":"b8a99bd6-454e-4c0f-80ac-dcb284c75e51","name":"tf-acctest-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:37.159007Z","updated_at":"2026-05-05T14:42:37.159007Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.232381ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"b8a99bd6-454e-4c0f-80ac-dcb284c75e51","name":"test-acc-container-pn-to-stay","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"v1","tags":["to-stay"],"private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"0fb07434-00cc-4e28-8006-56447c86ca6d","name":"test-acc-container-pn-to-stay","namespace_id":"b8a99bd6-454e-4c0f-80ac-dcb284c75e51","description":"","status":"creating","created_at":"2026-05-05T14:42:43.244941Z","updated_at":"2026-05-05T14:42:43.244941Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v1","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":["to-stay"],"private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestprivatenetwb8a99bd6-test-acc-container-pn-to-stay.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.331813ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/0fb07434-00cc-4e28-8006-56447c86ca6d
        method: GET
      response:
        body: '{"id":"0fb07434-00cc-4e28-8006-56447c86ca6d","name":"test-acc-container-pn-to-stay","namespace_id":"b8a99bd6-454e-4c0f-80ac-dcb284c75e51","description":"","status":"creating","created_at":"2026-05-05T14:42:43.244941Z","updated_at":"2026-05-05T14:42:43.244941Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v1","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":["to-stay"],"private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestprivatenetwb8a99bd6-test-acc-container-pn-to-stay.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.321703ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/0fb07434-00cc-4e28-8006-56447c86ca6d
        method: GET
      response:
        body: '{"id":"0fb07434-00cc-4e28-8006-56447c86ca6d","name":"test-acc-container-pn-to-stay","namespace_id":"b8a99bd6-454e-4c0f-80ac-dcb284c75e51","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:43.244941Z","updated_at":"2026-05-05T14:43:06Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v1","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":["to-stay"],"private_network_id":"00c7e9f4-3b09-4bd6-8b2b-2df6b5f8b046","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestprivatenetwb8a99bd6-test-acc-container-pn-to-stay.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.703219ms
[...]
    - id: 85
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b8a99bd6-454e-4c0f-80ac-dcb284c75e51
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"b8a99bd6-454e-4c0f-80ac-dcb284c75e51","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.508008ms
[...]
