---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-objective-haibt","environment_variables":{},"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-04-17T11:42:04.084993889Z","description":"","environment_variables":{},"error_message":null,"id":"8a9798e3-ed28-49a0-8e23-149ed68fd3a0","name":"tf-ns-objective-haibt","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-17T11:42:04.084993889Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 792.301417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8a9798e3-ed28-49a0-8e23-149ed68fd3a0
        method: GET
      response:
        body: '{"created_at":"2025-04-17T11:42:04.084994Z","description":"","environment_variables":{},"error_message":null,"id":"8a9798e3-ed28-49a0-8e23-149ed68fd3a0","name":"tf-ns-objective-haibt","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-17T11:42:04.084994Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.828ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"8a9798e3-ed28-49a0-8e23-149ed68fd3a0","name":"tf-co-peaceful-meninsky","environment_variables":{"test":"test"},"privacy":"public","protocol":"http1","secret_environment_variables":[{"key":"first_secret","value":"first_secret"},{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-04-17T11:42:10.039194046Z","description":"","domain_name":"tfnsobjectivehaibtcrvvgesx-tf-co-peaceful-meninsky.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5553d036-eed1-49d6-a81e-85f41cf83bb4","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-peaceful-meninsky","namespace_id":"8a9798e3-ed28-49a0-8e23-149ed68fd3a0","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsobjectivehaibtcrvvgesx/tf-co-peaceful-meninsky:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$06vLAUfpxNMaD0Dkful3Vg$U2pI9ovP3fVTc7JUgcJcqHXKAwUGmHDBWcOWRn+YNBU","key":"first_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$zGcj87kpSi69SupEBJMN3g$nG+5QgfeRmgxY49JIExjzIci4ezmHUxsjfKEbld0EwA","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-04-17T11:42:10.039194046Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 718.734958ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5553d036-eed1-49d6-a81e-85f41cf83bb4
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-04-17T11:42:10.039194Z","description":"","domain_name":"tfnsobjectivehaibtcrvvgesx-tf-co-peaceful-meninsky.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"err[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":[{"key":"test_secret","value":"updated_secret"},{"key":"foo_secret","value":"bar_secret"},{"key":"first_secret","value":null}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5553d036-eed1-49d6-a81e-85f41cf83[...]
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/8a9798e3-ed28-49a0-8e23-149ed68fd3a0
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.011459ms
[...]
