---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-hungry-raman","environment_variables":{},"project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-15T14:25:06.718105673Z","description":"","environment_variables":{},"error_message":null,"id":"9c64cf6f-986b-43f5-add0-1c27794ab564","name":"tf-ns-hungry-raman","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-15T14:25:06.718105673Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.24725ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9c64cf6f-986b-43f5-add0-1c27794ab564
        method: GET
      response:
        body: '{"created_at":"2025-01-15T14:25:06.718106Z","description":"","environment_variables":{},"error_message":null,"id":"9c64cf6f-986b-43f5-add0-1c27794ab564","name":"tf-ns-hungry-raman","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-15T14:25:06.718106Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.630541ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"9c64cf6f-986b-43f5-add0-1c27794ab564","name":"tf-co-jolly-fermat","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-15T14:25:12.144068658Z","description":"","domain_name":"tfnshungryramanms1v4s2f-tf-co-jolly-fermat.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f65c58fe-37f2-4510-aff4-007a09dde1d4","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-jolly-fermat","namespace_id":"9c64cf6f-986b-43f5-add0-1c27794ab564","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungryramanms1v4s2f/tf-co-jolly-fermat:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-15T14:25:12.144068658Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.932333ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f65c58fe-37f2-4510-aff4-007a09dde1d4
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-15T14:25:12.144069Z","description":"","domain_name":"tfnshungryramanms1v4s2f-tf-co-jolly-fermat.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f65c58fe-37f2-4510-aff4-007a09dde1d4","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-jolly-fermat","namespace_id":"9c64cf6f-986b-43f5-add0-1c27794ab564","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungryramanms1v4s2f/tf-co-jolly-fermat:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-15T14:25:12.144069Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.1205ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"min_scale":1,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","scaling_option":{"cpu_usage_threshold":72}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f65c58fe-37f2-4510-aff4-007a09dde1d4
        method: PATCH
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-15T14:25:12.144069Z","description":"","domain_name":"tfnshungryramanms1v4s2f-tf-co-jolly-fermat.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f65c58fe-37f2-4510-aff4-007a09dde1d4","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":1,"name":"tf-co-jolly-fermat","namespace_id":"9c64cf6f-986b-43f5-add0-1c27794ab564","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungryramanms1v4s2f/tf-co-jolly-fermat:latest","sandbox":"v2","scaling_option":{"cpu_usage_threshold":72},"secret_environment_variables":[],"status":"pending","timeout":"300s","updated_at":"2025-01-15T14:25:24.337405525Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.097584ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","scaling_option":{"memory_usage_threshold":66}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f65c58fe-37f2-4510-aff4-007a09dde1d4
        method: PATCH
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-15T14:25:12.144069Z","description":"","domain_name":"tfnshungryramanms1v4s2f-tf-co-jolly-fermat.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f65c58fe-37f2-4510-aff4-007a09dde1d4","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":1,"name":"tf-co-jolly-fermat","namespace_id":"9c64cf6f-986b-43f5-add0-1c27794ab564","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshungryramanms1v4s2f/tf-co-jolly-fermat:latest","sandbox":"v2","scaling_option":{"memory_usage_threshold":66},"secret_environment_variables":[],"status":"pending","timeout":"300s","updated_at":"2025-01-15T14:25:35.505085545Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.10525ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9c64cf6f-986b-43f5-add0-1c27794ab564
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.173708ms
[...]
