---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccContainer_PrivateNetwork\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"c8e8b6cf-8884-436c-baa0-0f36862f0ca8\", \"name\":\"TestAccContainer_PrivateNetwork\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T10:09:30.388424Z\", \"updated_at\":\"2025-11-04T10:09:30.388424Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.35128ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c8e8b6cf-8884-436c-baa0-0f36862f0ca8
    method: GET
  response:
    body: "{\"id\":\"c8e8b6cf-8884-436c-baa0-0f36862f0ca8\", \"name\":\"TestAccContainer_PrivateNetwork\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T10:09:30.388424Z\", \"updated_at\":\"2025-11-04T10:09:30.388424Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.073305ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-container-pn-pn01\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"c8e8b6cf-8884-436c-baa0-0f36862f0ca8\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"d466f3ff-62e9-4d99-9649-0cd9807db9c4\", \"name\":\"test-acc-container-pn-pn01\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T10:09:30.590903Z\", \"updated_at\":\"2025-11-04T10:09:30.590903Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"2e47e08d-66e8-4f7d-a609-ff9b57f59376\", \"created_at\":\"2025-11-04T10:09:30.590903Z\", \"updated_at\":\"2025-11-04T10:09:30.590903Z\", \"subnet\":\"172.18.68.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"d466f3ff-62e9-4d99-9649-0cd9807db9c4\", \"vpc_id\":\"c8e8b6cf-8884-436c-baa0-0f36862f0ca8\"}, {\"id\":\"3278657f-8765-4e2f-a54e-f5183d65d8f8\", \"created_at\":\"2025-11-04T10:09:30.590903Z\", \"updated_at\":\"2025-11-04T10:09:30.590903Z\", \"subnet\":\"fd5f:519c:6d46:31f5::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"d466f3ff-62e9-4d99-9649-0cd9807db9c4\", \"vpc_id\":\"c8e8b6cf-8884-436c-baa0-0f36862f0ca8\"}], \"vpc_id\":\"c8e8b6cf-8884-436c-baa0-0f36862f0ca8\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 656.621901ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d466f3ff-62e9-4d99-9649-0cd9807db9c4
    method: GET
  response:
    body: "{\"id\":\"d466f3ff-62e9-4d99-9649-0cd9807db9c4\", \"name\":\"test-acc-container-pn-pn01\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T10:09:30.590903Z\", \"updated_at\":\"2025-11-04T10:09:30.590903Z\", \"project_id\":\"105bdce1-64c0[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-funny-lichterman\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"70cf4e14-23bd-4e7c-aaee-01dda1b5d9d6\", \"name\":\"tf-ns-funny-lichterman\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-11-04T10:09:32.390181541Z\", \"updated_at\":\"2025-11-04T10:09:32.390181541Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.199567529s
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/70cf4e14-23bd-4e7c-aaee-01dda1b5d9d6
    method: GET
  response:
    body: "{\"id\":\"70cf4e14-23bd-4e7c-aaee-01dda1b5d9d6\", \"name\":\"tf-ns-funny-lichterman\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-11-04T10:09:32.390182Z\", \"updated_at\":\"2025-11-04T10:09:32.390182Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.525114ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"70cf4e14-23bd-4e7c-aaee-01dda1b5d9d6\",\"name\":\"test-acc-container-pn-c00\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":[\"c00\"],\"private_network_id\":\"aa407589-5c6d-4266-9dcc-80e7e789dcdd\",\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"e58bdd16-1b33-4dcb-a3be-ede705c4d5fe\", \"name\":\"test-acc-container-pn-c00\", \"namespace_id\":\"70cf4e14-23bd-4e7c-aaee-01dda1b5d9d6\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsfunnylichtermanlnhygznj/test-acc-container-pn-c00:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsfunnylichtermanlnhygznj-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-11-04T10:09:38.526383861Z\", \"updated_at\":\"2025-11-04T10:09:38.526383861Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[\"c00\"], \"private_network_id\":\"aa407589-5c6d-4266-9dcc-80e7e789dcdd\", \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 718.839099ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/e58bdd16-1b33-4dcb-a3be-ede705c4d5fe
    method: GET
  response:
    body: "{\"id\":\"e58bdd16-1b33-4dcb-a3be-ede705c4d5fe\", \"name\":\"test-acc-container-pn-c00\", \"namespace_id\":\"70cf4e14-23bd-4e7c-aaee-01dda1b5d9d6\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsfunnylichtermanlnhygznj/test-acc-container-pn-c00:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsfunnylichtermanlnhygznj-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-11-04T10:09:38.526384Z\", \"updated_at\":\"2025-11-04T10:09:38.526384Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[\"c00\"], \"private_network_id\":\"aa407589-5c6d-4266-9dcc-80e7e789dcdd\", \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.264995ms
[...]
- id: 82
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/70cf4e14-23bd-4e7c-aaee-01dda1b5d9d6
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.482774ms
[...]
- id: 85
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/aa407589-5c6d-4266-9dcc-80e7e789dcdd
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"aa407589-5c6d-4266-9dcc-80e7e789dcdd\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.363033ms
[...]
