---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-inspiring-beaver\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"c732ff1e-729d-46e8-81fc-cefbe7eb2290\", \"name\":\"tf-ns-inspiring-beaver\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.458574976Z\", \"updated_at\":\"2025-10-31T16:31:05.458574976Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.42469664s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c732ff1e-729d-46e8-81fc-cefbe7eb2290
    method: GET
  response:
    body: "{\"id\":\"c732ff1e-729d-46e8-81fc-cefbe7eb2290\", \"name\":\"tf-ns-inspiring-beaver\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.458575Z\", \"updated_at\":\"2025-10-31T16:31:05.458575Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.402809ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"c732ff1e-729d-46e8-81fc-cefbe7eb2290\",\"name\":\"tf-co-xenodochial-golick\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"7e9839fb-1131-4f2d-8ce9-90ad354b1868\", \"name\":\"tf-co-xenodochial-golick\", \"namespace_id\":\"c732ff1e-729d-46e8-81fc-cefbe7eb2290\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsinspiringbeaveruteyccjg/tf-co-xenodochial-golick:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsinspiringbeaveruteyccjg-tf-co-xenodochial-golick.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.960542245Z\", \"updated_at\":\"2025-10-31T16:31:16.960542245Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.096006729s
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7e9839fb-1131-4f2d-8ce9-90ad354b1868
    method: GET
  response:
    body: "{\"id\":\"7e9839fb-1131-4f2d-8ce9-90ad354b1868\", \"name\":\"tf-co-xenodochial-golick\", \"namespace_id\":\"c732ff1e-729d-46e8-81fc-cefbe7eb2290\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsinspiringbeaveruteyccjg/tf-co-xenodochial-golick:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsinspiringbeaveruteyccjg-tf-co-xenodochial-golick.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.960542Z\", \"updated_at\":\"2025-10-31T16:31:16.960542Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.717851ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c732ff1e-729d-46e8-81fc-cefbe7eb2290
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.943601ms
[...]
