---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-env","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"e655373c-b27f-4096-b60e-3c519973294c","name":"tf-acctest-env","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:12.873213Z","updated_at":"2026-05-05T14:42:12.873213Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.162855041s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e655373c-b27f-4096-b60e-3c519973294c
        method: GET
      response:
        body: '{"id":"e655373c-b27f-4096-b60e-3c519973294c","name":"tf-acctest-env","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:12.873213Z","updated_at":"2026-05-05T14:42:12.873213Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.068739ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"e655373c-b27f-4096-b60e-3c519973294c","name":"tf-co-upbeat-pike","environment_variables":{"test":"test"},"secret_environment_variables":{"first_secret":"first_secret","test_secret":"test_secret"},"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"a519c24f-20bd-4578-bfae-95ed51eac791","name":"tf-co-upbeat-pike","namespace_id":"e655373c-b27f-4096-b60e-3c519973294c","description":"","status":"creating","created_at":"2026-05-05T14:42:18.882085Z","updated_at":"2026-05-05T14:42:18.882085Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{"test":"test"},"public_endpoint":"https://tfacctestenve655373c-tf-co-upbeat-pike.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{"first_secret":"$argon2id$v=19$m=65536,t=3,p=64$JqBQsAF0antLrtoOB770NA$3LEfXQ2aeXzru+RCHi5XicsAKkNqiF128V51eDKcfoo","test_secret":"$argon2id$v=19$m=65536,t=3,p=64$76pzpy0vgCXYIJQ0Vkk31A$O7D6dScQHqWxruIYlB1HttG4diPQuGk3N79C6n4/ZEY"},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.423117382s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/a519c24f-20bd-4578-bfae-95ed51eac791
        method: GET
      response:
        body: '{"id":"a519c24f-20bd-4578-bfae-95ed51eac791","name":"tf-co-upbeat-pike","namespace_id":"e655373c-b27f-4096-b60e-3c519973294c","description":"","status":"creating","created_at":"2026-05-05T14:42:18.882085Z","updated_at":"2026-05-05T14:42:18.882085Z","min_scale[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/a519c24f-20bd-4578-bfae-95ed51eac791
        method: GET
      response:
        body: '{"id":"a519c24f-20bd-4578-bfae-95ed51eac791","name":"tf-co-upbeat-pike","namespace_id":"e655373c-b27f-4096-b60e-3c519973294c","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:18.882085Z","updated_at":"2026-05-05T14:42:29Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{"test":"test"},"public_endpoint":"https://tfacctestenve655373c-tf-co-upbeat-pike.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{"first_secret":"$argon2id$v=19$m=65536,t=3,p=64$JqBQsAF0antLrtoOB770NA$3LEfXQ2aeXzru+RCHi5XicsAKkNqiF128V51eDKcfoo","test_secret":"$argon2id$v=19$m=65536,t=3,p=64$76pzpy0vgCXYIJQ0Vkk31A$O7D6dScQHqWxruIYlB1HttG4diPQuGk3N79C6n4/ZEY"},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.522907ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar","test":"test"},"secret_environment_variables":{"foo_secret":"bar_secret","test_secret":"updated_secret"},"privacy":"unknown_privacy","protocol":"unknown_protocol","sandbox":"unknown_sandbox"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/a519c24f-20bd-4578-bfae-95ed51eac791
        method: PATCH
      response:
        body: '{"id":"a519c24f-20bd-4578-bfae-95ed51eac791","name":"tf-co-upbeat-pike","namespace_id":"e655373c-b27f-4096-b60e-3c5199732[...]
[...]
    - id: 38
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e655373c-b27f-4096-b60e-3c519973294c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"e655373c-b27f-4096-b60e-3c519973294c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.565588ms
[...]
