---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-container-pn-pn01\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"5a31fed2-1fdd-4426-b2bb-e6c895dfddb1\",\"name\":\"test-acc-container-pn-pn01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:39.025514Z\",\"updated_at\":\"2025-09-01T15:54:39.025514Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"8e2cdc3c-4b27-4abf-b200-416079606426\",\"created_at\":\"2025-09-01T15:54:39.025514Z\",\"updated_at\":\"2025-09-01T15:54:39.025514Z\",\"subnet\":\"172.16.84.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5a31fed2-1fdd-4426-b2bb-e6c895dfddb1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"c84ce5a4-bf28-482c-adde-19f3808ecb52\",\"created_at\":\"2025-09-01T15:54:39.025514Z\",\"updated_at\":\"2025-09-01T15:54:39.025514Z\",\"subnet\":\"fde7:767f:1bb5:8c21::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5a31fed2-1fdd-4426-b2bb-e6c895dfddb1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 863.041735ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5a31fed2-1fdd-4426-b2bb-e6c895dfddb1
    method: GET
  response:
    body: "{\"id\":\"5a31fed2-1fdd-4426-b2bb-e6c895dfddb1\",\"name\":\"test-acc-container-pn-pn01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:39.025514Z\",\"updated_at\":\"2025-09-01T15:54:39.025514Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"8e2cdc3c-4b27-4abf-b200-416079606426\",\"created_at\":\"2025-09-01T15:54:39.025514Z\",\"updated_at\":\"2025-09-01T15:54:39.025514Z\",\"subnet\":\"172.16.84.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5a31fed2-1fdd-4426-b2bb-e6c895dfddb1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"c84ce5a4-bf28-482c-adde-19f3808ecb52\",\"created_at\":\"2025-09-01T15:54:39.025514Z\",\"updated_at\":\"2025-09-01T15:54:39.025514Z\",\"subnet\":\"fde7:767f:1bb5:8c21::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"5a31fed2-1fdd-4426-b2bb-e6c895dfddb1\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.415258ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-loving-colden\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"ac18d31c-58ae-4190-ae54-321a9597a89f\",\"name\":\"tf-ns-loving-colden\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.660327677Z\",\"updated_at\":\"2025-09-01T15:54:49.660327677Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 10.740961619s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ac18d31c-58ae-4190-ae54-321a9597a89f
    method: GET
  response:
    body: "{\"id\":\"ac18d31c-58ae-4190-ae54-321a9597a89f\",\"name\":\"tf-ns-loving-colden\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.660328Z\",\"updated_at\":\"2025-09-01T15:54:49.660328Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.042862ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"ac18d31c-58ae-4190-ae54-321a9597a89f\",\"name\":\"test-acc-container-pn-c00\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":null,\"private_network_id\":\"e9e88953-3b34-49eb-9562-33cf0a975ff0\",\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"4109a97a-e182-4e47-8f6c-d1db5968a086\",\"name\":\"test-acc-container-pn-c00\",\"namespace_id\":\"ac18d31c-58ae-4190-ae54-321a9597a89f\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnslovingcolden5yo0aqfa/test-acc-container-pn-c00:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnslovingcolden5yo0aqfa-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:16.282343039Z\",\"updated_at\":\"2025-09-01T15:55:16.282343039Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":\"e9e88953-3b34-49eb-9562-33cf0a975ff0\",\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.774754287s
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/4109a97a-e182-4e47-8f6c-d1db5968a086
    method: GET
  response:
    body: "{\"id\":\"4109a97a-e182-4e47-8f6c-d1db5968a086\",\"name\":\"test-acc-container-pn-c00\",\"namespace_id\":\"ac18d31c-58ae-4190-ae54-321a9597a89f\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnslovingcolden5yo0aqfa/test-acc-container-pn-c00:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnslovingcolden5yo0aqfa-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:16.282343Z\",\"updated_at\":\"2025-09-01T15:55:16.282343Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":\"e9e88953-3b34-49eb-9562-33cf0a975ff0\",\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.268244ms
[...]
- id: 84
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ac18d31c-58ae-4190-ae54-321a9597a89f
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.438295ms
[...]
- id: 87
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e9e88953-3b34-49eb-9562-33cf0a975ff0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"e9e88953-3b34-49eb-9562-33cf0a975ff0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 76.53307ms
[...]
