---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-exciting-euler","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"013c8893-a40d-4895-9741-6f0ede354814","name":"tf-ns-exciting-euler","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.294851ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/013c8893-a40d-4895-9741-6f0ede354814
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"013c8893-a40d-4895-9741-6f0ede354814","name":"tf-ns-exciting-euler","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.83165ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"013c8893-a40d-4895-9741-6f0ede354814","name":"tf-co-amazing-bassi","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":140,"description":"","domain_name":"tfnsexcitingeulerdng4rczk-tf-co-amazing-bassi.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"01440c4e-4192-43de-a8ab-bf8f4cf81595","local_storage_limit":0,"max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-amazing-bassi","namespace_id":"013c8893-a40d-4895-9741-6f0ede354814","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsexcitingeulerdng4rczk/tf-co-amazing-bassi:latest","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.586287ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/01440c4e-4192-43de-a8ab-bf8f4cf81595
        method: GET
      response:
        body: '{"cpu_limit":140,"description":"","domain_name":"tfnsexcitingeulerdng4rczk-tf-co-amazing-bassi.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"01440c4e-4192-43de-a8ab-bf8f4cf81595","local_storage_limit":0,"max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-amazing-bassi","namespace_id":"013c8893-a40d-4895-9741-6f0ede354814","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsexcitingeulerdng4rczk/tf-co-amazing-bassi:latest","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.205353ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/013c8893-a40d-4895-9741-6f0ede354814
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.031298ms
[...]
