---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-reverent-shannon\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"9322d62d-698b-438a-adeb-f2bc87db92a1\",\"name\":\"tf-ns-reverent-shannon\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.326176202Z\",\"updated_at\":\"2025-09-01T15:54:50.326176202Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 11.617110335s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9322d62d-698b-438a-adeb-f2bc87db92a1
    method: GET
  response:
    body: "{\"id\":\"9322d62d-698b-438a-adeb-f2bc87db92a1\",\"name\":\"tf-ns-reverent-shannon\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.326176Z\",\"updated_at\":\"2025-09-01T15:54:50.326176Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.238699ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"9322d62d-698b-438a-adeb-f2bc87db92a1\",\"name\":\"tf-co-pedantic-ritchie\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"d06ce918-a390-4a3a-b026-f6a052508fa0\",\"name\":\"tf-co-pedantic-ritchie\",\"namespace_id\":\"9322d62d-698b-438a-adeb-f2bc87db92a1\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsreverentshannonsmbhwsy8/tf-co-pedantic-ritchie:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsreverentshannonsmbhwsy8-tf-co-pedantic-ritchie.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:23.110032385Z\",\"updated_at\":\"2025-09-01T15:55:23.110032385Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 6.664810046s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d06ce918-a390-4a3a-b026-f6a052508fa0
    method: GET
  response:
    body: "{\"id\":\"d06ce918-a390-4a3a-b026-f6a052508fa0\",\"name\":\"tf-co-pedantic-ritchie\",\"namespace_id\":\"9322d62d-698b-438a-adeb-f2bc87db92a1\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsreverentshannonsmbhwsy8/tf-co-pedantic-ritchie:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsreverentshannonsmbhwsy8-tf-co-pedantic-ritchie.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:23.110032Z\",\"updated_at\":\"2025-09-01T15:55:23.110032Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.520066ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    body: "{\"min_scale\":1,\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\",\"scaling_option\":{\"cpu_usage_threshold\":72}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d06ce918-a390-4a3a-b026-f6a052508fa0
    method: PATCH
  response:
    body: "{\"id\":\"d06ce918-a390-4a3a-b026-f6a052508fa0\",\"name\":\"tf-co-pedantic-ritchie\",\"namespace_id\":\"9322d62d-698b-438a-adeb-f2bc87db92a1\",\"status\":\"pending\",\"environment_variables\":{},\"min_scale\":1,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsreverentshannonsmbhwsy8/tf-co-pedantic-ritchie:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsreverentshannonsmbhwsy8-tf-co-pedantic-ritchie.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"cpu_usage_threshold\":72},\"created_at\":\"2025-09-01T15:55:23.110032Z\",\"updated_at\":\"2025-09-01T15:55:55.118636177Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.568369ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    body: "{\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\",\"scaling_option\":{\"memory_usage_threshold\":66}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d06ce918-a390-4a3a-b026-f6a052508fa0
    method: PATCH
  response:
    body: "{\"id\":\"d06ce918-a390-4a3a-b026-f6a052508fa0\",\"name\":\"tf-co-pedantic-ritchie\",\"namespace_id\":\"9322d62d-698b-438a-adeb-f2bc87db92a1\",\"status\":\"pending\",\"environment_variables\":{},\"min_scale\":1,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsreverentshannonsmbhwsy8/tf-co-pedantic-ritchie:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsreverentshannonsmbhwsy8-tf-co-pedantic-ritchie.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"memory_usage_threshold\":66},\"created_at\":\"2025-09-01T15:55:23.110032Z\",\"updated_at\":\"2025-09-01T15:56:10.823159639Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 174.765676ms
[...]
- id: 64
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9322d62d-698b-438a-adeb-f2bc87db92a1
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.498007ms
[...]
