---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-acctest-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/4408f3a7-53e7-4e08-9d26-45bc6fbd3764","id":"4408f3a7-53e7-4e08-9d26-45bc6fbd3764","name":"tf-acctest-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-01T12:36:35.836010Z","updated_at":"2026-10-01T12:36:35.836010Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 184.273173ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 12.177745ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4408f3a7-53e7-4e08-9d26-45bc6fbd3764
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/4408f3a7-53e7-4e08-9d26-45bc6fbd3764","id":"4408f3a7-53e7-4e08-9d26-45bc6fbd3764","name":"tf-acctest-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-01T12:36:35.836010Z","updated_at":"2026-10-01T12:36:35.836010Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.958136ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"subnets":null,"vpc_id":"4408f3a7-53e7-4e08-9d26-45bc6fbd3764","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/eec006c7-4206-4288-b67b-2ce69809e6cc","id":"eec006c7-4206-4288-b67b-2ce69809e6cc","name":"test-acc-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-01T12:36:36.014619Z","updated_at":"2026-10-01T12:36:36.014619Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/fd0dc6ce-8ac6-444d-b11b-732ed3c22d8b","id":"fd0dc6ce-8ac6-444d-b11b-732ed3c22d8b","created_at":"2026-10-01T12:36:36.014619Z","updated_at":"2026-10-01T12:36:36.014619Z","subnet":"172.16.12.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"eec006c7-4206-4288-b67b-2ce69809e6cc","vpc_id":"4408f3a7-53e7-4e08-9d26-45bc6fbd3764","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/fed56270-d489-450e-8de0-fbe2e9b246c8","id":"fed56270-d489-450e-8de0-fbe2e9b246c8","created_at":"2026-10-01T12:36:36.014619Z","updated_at":"2026-10-01T12:36:36.014619Z","subnet":"fdb9:eb31:3ccc:1420::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"eec006c7-4206-4288-b67b-2ce69809e6cc","vpc_id":"4408f3a7-53e7-4e08-9d26-45bc6fbd3764","region":"fr-par"}],"vpc_id":"4408f3a7-53e7-4e08-9d26-45bc6fbd3764","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 741.981686ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/eec006c7-4206-4288-b67b-2ce69809e6cc
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/eec006c7-4206-4288-b67b-2ce69809e6cc","id":"eec006c7-4206-4288-b67b-2ce69809e6cc","name":"test-acc-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"tf-acctest-container-private-endpoint","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"f566764a-96e6-4e70-983d-c5929ccddd83","name":"tf-acctest-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-10-01T12:36:36.055321Z","updated_at":"2026-10-01T12:36:36.055321Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.792310247s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/f566764a-96e6-4e70-983d-c5929ccddd83
        method: GET
      response:
        body: '{"id":"f566764a-96e6-4e70-983d-c5929ccddd83","name":"tf-acctest-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-10-01T12:36:36.055321Z","updated_at":"2026-10-01T12:36:36.055321Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.344675ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"f566764a-96e6-4e70-983d-c5929ccddd83","name":"tf-co-gracious-davinci","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"private_network_id":"eec006c7-4206-4288-b67b-2ce69809e6cc","command":null,"args":null,"enable_private_endpoint":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"148368d1-817a-4258-b321-2eef8cd8c1d8","name":"tf-co-gracious-davinci","namespace_id":"f566764a-96e6-4e70-983d-c5929ccddd83","description":"","status":"creating","created_at":"2026-10-01T12:36:42.815349Z","updated_at":"2026-10-01T12:36:42.815349Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"eec006c7-4206-4288-b67b-2ce69809e6cc","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcontainerprf566764a-tf-co-gracious-davinci.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://148368d1-817a-4258-b321-2eef8cd8c1d8.eec006c7-4206-4288-b67b-2ce69809e6cc.internal","default_public_endpoint_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 468.339006ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/148368d1-817a-4258-b321-2eef8cd8c1d8
        method: GET
      response:
        body: '{"id":"148368d1-817a-4258-b321-2eef8cd8c1d8","name":"tf-co-gracious-davinci","namespace_id":"f566764a-96e6-4e70-983d-c5929ccddd83","description":"","status":"creating","created_at":"2026-10-01T12:36:42.815349Z","updated_at":"2026-10-01T12:36:42.815349Z","min[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/148368d1-817a-4258-b321-2eef8cd8c1d8
        method: GET
      response:
        body: '{"id":"148368d1-817a-4258-b321-2eef8cd8c1d8","name":"tf-co-gracious-davinci","namespace_id":"f566764a-96e6-4e70-983d-c5929ccddd83","description":"","status":"ready","error_message":"","created_at":"2026-10-01T12:36:42.815349Z","updated_at":"2026-10-01T12:36:55Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"eec006c7-4206-4288-b67b-2ce69809e6cc","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcontainerprf566764a-tf-co-gracious-davinci.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://148368d1-817a-4258-b321-2eef8cd8c1d8.eec006c7-4206-4288-b67b-2ce69809e6cc.internal","default_public_endpoint_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.145121ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/f566764a-96e6-4e70-983d-c5929ccddd83
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"f566764a-96e6-4e70-983d-c5929ccddd83","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 229.894947ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/eec006c7-4206-4288-b67b-2ce69809e6cc
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 412 Precondition Failed
        code: 412
        duration: 680.555101ms
[...]
