---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-cocky-satoshi\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"b56ceba1-66ed-4de4-b698-47825aa70d14\",\"name\":\"tf-ns-cocky-satoshi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.351899232Z\",\"updated_at\":\"2025-09-01T15:54:50.351899232Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 11.473866372s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/b56ceba1-66ed-4de4-b698-47825aa70d14
    method: GET
  response:
    body: "{\"id\":\"b56ceba1-66ed-4de4-b698-47825aa70d14\",\"name\":\"tf-ns-cocky-satoshi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.351899Z\",\"updated_at\":\"2025-09-01T15:54:50.351899Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.203731ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"b56ceba1-66ed-4de4-b698-47825aa70d14\",\"name\":\"tf-co-goofy-jackson\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":[\"tag1\",\"tag2\"],\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"9568b858-5bf9-41ca-bee9-b8aff5e32ebf\",\"name\":\"tf-co-goofy-jackson\",\"namespace_id\":\"b56ceba1-66ed-4de4-b698-47825aa70d14\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscockysatoshiqqgwslma/tf-co-goofy-jackson:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscockysatoshiqqgwslma-tf-co-goofy-jackson.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:13.887891248Z\",\"updated_at\":\"2025-09-01T15:55:13.887891248Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[\"tag1\",\"tag2\"],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.232385782s
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9568b858-5bf9-41ca-bee9-b8aff5e32ebf
    method: GET
  response:
    body: "{\"id\":\"9568b858-5bf9-41ca-bee9-b8aff5e32ebf\",\"name\":\"tf-co-goofy-jackson\",\"namespace_id\":\"b56ceba1-66ed-4de4-b698-47825aa70d14\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscockysatoshiqqgwslma/tf-co-goofy-jackson:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscockysatoshiqqgwslma-tf-co-goofy-jackson.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:13.887891Z\",\"updated_at\":\"2025-09-01T15:55:13.887891Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[\"tag1\",\"tag2\"],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.898242ms
[...]
- id: 41
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/b56ceba1-66ed-4de4-b698-47825aa70d14
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.325857ms
[...]
