---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-scaling-option","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"672b78e4-b700-42fb-92d1-a2c60c391b65","name":"tf-acctest-scaling-option","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:40.527450Z","updated_at":"2026-05-05T14:42:40.527450Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 13.541334484s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/672b78e4-b700-42fb-92d1-a2c60c391b65
        method: GET
      response:
        body: '{"id":"672b78e4-b700-42fb-92d1-a2c60c391b65","name":"tf-acctest-scaling-option","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:40.527450Z","updated_at":"2026-05-05T14:42:40.527450Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.159524ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"672b78e4-b700-42fb-92d1-a2c60c391b65","name":"tf-co-adoring-franklin","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"fe69fd88-3d53-464c-ab5a-cfa763665b2e","name":"tf-co-adoring-franklin","namespace_id":"672b78e4-b700-42fb-92d1-a2c60c391b65","description":"","status":"creating","created_at":"2026-05-05T14:42:46.943569Z","updated_at":"2026-05-05T14:42:46.943569Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestscalingopti672b78e4-tf-co-adoring-franklin.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.747419ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/fe69fd88-3d53-464c-ab5a-cfa763665b2e
        method: GET
      response:
        body: '{"id":"fe69fd88-3d53-464c-ab5a-cfa763665b2e","name":"tf-co-adoring-franklin","namespace_id":"672b78e4-b700-42fb-92d1-a2c60c391b65","description":"","status":"creating","created_at":"2026-05-05T14:42:46.943569Z","updated_at":"2026-05-05T14:42:46.943569Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestscalingopti672b78e4-tf-co-adoring-franklin.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.139114ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/fe69fd88-3d53-464c-ab5a-cfa763665b2e
        method: GET
      response:
        body: '{"id":"fe69fd88-3d53-464c-ab5a-cfa763665b2e","name":"tf-co-adoring-franklin","namespace_id":"672b78e4-b700-42fb-92d1-a2c60c391b65","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:46.943569Z","updated_at":"2026-05-05T14:42:59Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestscalingopti672b78e4-tf-co-adoring-franklin.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.163258ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"min_scale":1,"privacy":"unknown_privacy","protocol":"unknown_protocol","sandbox":"unknown_sandbox","scaling_option":{"cpu_usage_threshold":72}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/fe69fd88-3d53-464c-ab5a-cfa763665b2e
        method: PATCH
      response:
        body: '{"id":"fe69fd88-3d53-464c-ab5a-cfa763665b2e","name":"tf-co-adoring-franklin","namespace_id":"672b78e4-b700-42fb-92d1-a2c60c391b65","description":"","status":"updating","created_at":"2026-05-05T14:42:46.943569Z","updated_at":"2026-05-05T14:43:19.568112Z","min_scale":1,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"cpu_usage_threshold":72},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestscalingopti672b78e4-tf-co-adoring-franklin.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.725078ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","sandbox":"unknown_sandbox","scaling_option":{"memory_usage_threshold":66}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/fe69fd88-3d53-464c-ab5a-cfa763665b2e
        method: PATCH
      response:
        body: '{"id":"fe69fd88-3d53-464c-ab5a-cfa763665b2e","name":"tf-co-adoring-franklin","namespace_id":"672b78e4-b700-42fb-92d1-a2c60c391b65","description":"","status":"updating","created_at":"2026-05-05T14:42:46.943569Z","updated_at":"2026-05-05T14:43:35.746150Z","min_scale":1,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"memory_usage_threshold":66},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestscalingopti672b78e4-tf-co-adoring-franklin.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.220653ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/672b78e4-b700-42fb-92d1-a2c60c391b65
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"672b78e4-b700-42fb-92d1-a2c60c391b65","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.735134ms
[...]
