---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-acctest-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/4d90f194-3a5e-43fd-80a9-e2d740240e18","id":"4d90f194-3a5e-43fd-80a9-e2d740240e18","name":"tf-acctest-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T14:05:39.910068Z","updated_at":"2026-09-24T14:05:39.910068Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 164.288558ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 11.678681ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4d90f194-3a5e-43fd-80a9-e2d740240e18
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/4d90f194-3a5e-43fd-80a9-e2d740240e18","id":"4d90f194-3a5e-43fd-80a9-e2d740240e18","name":"tf-acctest-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T14:05:39.910068Z","updated_at":"2026-09-24T14:05:39.910068Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.847139ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"subnets":null,"vpc_id":"4d90f194-3a5e-43fd-80a9-e2d740240e18","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/c678ec9b-565d-4bca-a077-1bd22e7a66bd","id":"c678ec9b-565d-4bca-a077-1bd22e7a66bd","name":"test-acc-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T14:05:40.210425Z","updated_at":"2026-09-24T14:05:40.210425Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/5b92a192-28b9-479c-9652-5a7a20b44236","id":"5b92a192-28b9-479c-9652-5a7a20b44236","created_at":"2026-09-24T14:05:40.210425Z","updated_at":"2026-09-24T14:05:40.210425Z","subnet":"172.16.40.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"c678ec9b-565d-4bca-a077-1bd22e7a66bd","vpc_id":"4d90f194-3a5e-43fd-80a9-e2d740240e18","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/d9679e58-f1c7-48c1-bbc3-f7c4c36033d2","id":"d9679e58-f1c7-48c1-bbc3-f7c4c36033d2","created_at":"2026-09-24T14:05:40.210425Z","updated_at":"2026-09-24T14:05:40.210425Z","subnet":"fdb9:eb31:3ccc:9551::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"c678ec9b-565d-4bca-a077-1bd22e7a66bd","vpc_id":"4d90f194-3a5e-43fd-80a9-e2d740240e18","region":"fr-par"}],"vpc_id":"4d90f194-3a5e-43fd-80a9-e2d740240e18","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 927.031923ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c678ec9b-565d-4bca-a077-1bd22e7a66bd
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/c678ec9b-565d-4bca-a077-1bd22e7a66bd","id":"c678ec9b-565d-4bca-a077-1bd22e7a66bd","name":"test-acc-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"tf-acctest-container-private-endpoint","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"b83a2967-7066-421d-8e0b-81f2384a598a","name":"tf-acctest-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-09-24T14:05:44.816004Z","updated_at":"2026-09-24T14:05:44.816004Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 5.757664883s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b83a2967-7066-421d-8e0b-81f2384a598a
        method: GET
      response:
        body: '{"id":"b83a2967-7066-421d-8e0b-81f2384a598a","name":"tf-acctest-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-09-24T14:05:44.816004Z","updated_at":"2026-09-24T14:05:44.816004Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.317743ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"b83a2967-7066-421d-8e0b-81f2384a598a","name":"tf-co-exciting-shamir","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"private_network_id":"c678ec9b-565d-4bca-a077-1bd22e7a66bd","command":null,"args":null,"enable_private_endpoint":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"cd7a5b0f-d797-4992-a033-63a87d7b5cb1","name":"tf-co-exciting-shamir","namespace_id":"b83a2967-7066-421d-8e0b-81f2384a598a","description":"","status":"creating","created_at":"2026-09-24T14:05:50.811210Z","updated_at":"2026-09-24T14:05:50.811210Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"c678ec9b-565d-4bca-a077-1bd22e7a66bd","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcontainerprb83a2967-tf-co-exciting-shamir.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://cd7a5b0f-d797-4992-a033-63a87d7b5cb1.c678ec9b-565d-4bca-a077-1bd22e7a66bd.internal","default_public_endpoint_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.092106744s
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/cd7a5b0f-d797-4992-a033-63a87d7b5cb1
        method: GET
      response:
        body: '{"id":"cd7a5b0f-d797-4992-a033-63a87d7b5cb1","name":"tf-co-exciting-shamir","namespace_id":"b83a2967-7066-421d-8e0b-81f2384a598a","description":"","status":"creating","created_at":"2026-09-24T14:05:50.811210Z","updated_at":"2026-09-24T14:05:50.811210Z","min_[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/cd7a5b0f-d797-4992-a033-63a87d7b5cb1
        method: GET
      response:
        body: '{"id":"cd7a5b0f-d797-4992-a033-63a87d7b5cb1","name":"tf-co-exciting-shamir","namespace_id":"b83a2967-7066-421d-8e0b-81f2384a598a","description":"","status":"ready","error_message":"","created_at":"2026-09-24T14:05:50.811210Z","updated_at":"2026-09-24T14:06:21Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"c678ec9b-565d-4bca-a077-1bd22e7a66bd","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcontainerprb83a2967-tf-co-exciting-shamir.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://cd7a5b0f-d797-4992-a033-63a87d7b5cb1.c678ec9b-565d-4bca-a077-1bd22e7a66bd.internal","default_public_endpoint_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 61.8051ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b83a2967-7066-421d-8e0b-81f2384a598a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"b83a2967-7066-421d-8e0b-81f2384a598a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 124.828795ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c678ec9b-565d-4bca-a077-1bd22e7a66bd
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 412 Precondition Failed
        code: 412
        duration: 846.73038ms
[...]
