---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-heuristic-sammet","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:16.964906782Z","description":"","environment_variables":{},"error_message":null,"id":"0b830e97-cdcb-43db-a86f-4cb8727c5611","name":"tf-ns-heuristic-sammet","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:16.964906782Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.540401407s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/0b830e97-cdcb-43db-a86f-4cb8727c5611
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:16.964907Z","description":"","environment_variables":{},"error_message":null,"id":"0b830e97-cdcb-43db-a86f-4cb8727c5611","name":"tf-ns-heuristic-sammet","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:16.964907Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.934831ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"0b830e97-cdcb-43db-a86f-4cb8727c5611","name":"tf-co-eloquent-moore","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:28.506116283Z","description":"","domain_name":"tfnsheuristicsammetwk0agki7-tf-co-eloquent-moore.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b1cef340-3301-441f-ab2e-7397cf47e5e6","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-eloquent-moore","namespace_id":"0b830e97-cdcb-43db-a86f-4cb8727c5611","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicsammetwk0agki7/tf-co-eloquent-moore:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:28.506116283Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.00304669s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b1cef340-3301-441f-ab2e-7397cf47e5e6
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:28.506116Z","description":"","domain_name":"tfnsheuristicsammetwk0agki7-tf-co-eloquent-moore.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b1cef340-3301-441f-ab2e-7397cf47e5e6","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-eloquent-moore","namespace_id":"0b830e97-cdcb-43db-a86f-4cb8727c5611","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicsammetwk0agki7/tf-co-eloquent-moore:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:28.506116Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.857654ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","health_check":{"http":{"path":"/test"},"failure_threshold":40,"interval":"12.000000000s"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b1cef340-3301-441f-ab2e-7397cf47e5e6
        method: PATCH
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:28.506116Z","description":"","domain_name":"tfnsheuristicsammetwk0agki7-tf-co-eloquent-moore.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":40,"http":{"path":"/test"},"interval":"12s"},"http_option":"enabled","id":"b1cef340-3301-441f-ab2e-7397cf47e5e6","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-eloquent-moore","namespace_id":"0b830e97-cdcb-43db-a86f-4cb8727c5611","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsheuristicsammetwk0agki7/tf-co-eloquent-moore:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"pending","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:30.454507476Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.829887ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/0b830e97-cdcb-43db-a86f-4cb8727c5611
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.200561ms
[...]
