---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-02\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"test container\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"592f093b-d702-4c48-b46f-931ae1549f0c\", \"name\":\"test-cr-ns-02\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"test container\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:56.227642221Z\", \"updated_at\":\"2025-10-31T16:31:56.227642221Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.130324473s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/592f093b-d702-4c48-b46f-931ae1549f0c
    method: GET
  response:
    body: "{\"id\":\"592f093b-d702-4c48-b46f-931ae1549f0c\", \"name\":\"test-cr-ns-02\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"test container\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:56.227642Z\", \"updated_at\":\"2025-10-31T16:31:56.227642Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.913375ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"592f093b-d702-4c48-b46f-931ae1549f0c\",\"name\":\"my-container-02\",\"environment_variables\":{\"foo\":\"var\"},\"min_scale\":3,\"max_scale\":5,\"memory_limit\":256,\"cpu_limit\":140,\"timeout\":\"600.000000000s\",\"privacy\":\"private\",\"description\":\"environment variables test\",\"registry_image\":\"nginx:latest\",\"max_concurrency\":80,\"protocol\":\"h2c\",\"port\":80,\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"d6aac6a2-2ebb-4bf7-907f-2e325336773e\", \"name\":\"my-container-02\", \"namespace_id\":\"592f093b-d702-4c48-b46f-931ae1549f0c\", \"status\":\"created\", \"environment_variables\":{\"foo\":\"var\"}, \"min_scale\":3, \"max_scale\":5, \"memory_limit\":256, \"cpu_limit\":140, \"timeout\":\"600s\", \"error_message\":null, \"privacy\":\"private\", \"description\":\"environment variables test\", \"registry_image\":\"nginx:latest\", \"max_concurrency\":80, \"domain_name\":\"testcrns0215z3log2-my-container-02.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"h2c\", \"port\":80, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":80}, \"created_at\":\"2025-10-31T16:32:22.697964103Z\", \"updated_at\":\"2025-10-31T16:32:22.697964103Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 412.577132ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d6aac6a2-2ebb-4bf7-907f-2e325336773e
    method: GET
  response:
    body: "{\"id\":\"d6aac6a2-2ebb-4bf7-907f-2e325336773e\", \"name\":\"my-container-02\", \"namespace_id\":\"592f093b-d702-4c48-b46f-931ae1549f0c\", \"status\":\"created\", \"environment_variables\":{\"foo\":\"var\"}, \"min_scale\":3, \"max_scale\":5, \"memory_limit\":256, \"cpu_limit\":140, \"timeout\":\"600s\", \"error_message\":null, \"privacy\":\"private\", \"description\":\"environment variables test\", \"registry_image\":\"nginx:latest\", \"max_concurrency\":80, \"domain_name\":\"testcrns0215z3log2-my-container-02.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"h2c\", \"port\":80, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":80}, \"created_at\":\"2025-10-31T16:32:22.697964Z\", \"updated_at\":\"2025-10-31T16:32:22.697964Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.85213ms
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"redeploy\":true,\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d6aac6a2-2ebb-4bf7-907f-2e325336773e
    method: PATCH
  response:
    body: "{\"id\":\"d6aac6a2-2ebb-4bf7-907f-2e325336773e\", \"name\":\"my-container-02\", \"namespace_id\":\"592[...]
[...]
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/592f093b-d702-4c48-b46f-931ae1549f0c
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.188917ms
[...]
