---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccContainer_PrivateNetwork\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"72a40579-630f-470e-ba29-9178394d609d\", \"name\":\"TestAccContainer_PrivateNetwork\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T13:30:29.464266Z\", \"updated_at\":\"2025-11-04T13:30:29.464266Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 248.370114ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/72a40579-630f-470e-ba29-9178394d609d
    method: GET
  response:
    body: "{\"id\":\"72a40579-630f-470e-ba29-9178394d609d\", \"name\":\"TestAccContainer_PrivateNetwork\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T13:30:29.464266Z\", \"updated_at\":\"2025-11-04T13:30:29.464266Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.57001ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-container-pn-pn00\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"72a40579-630f-470e-ba29-9178394d609d\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\", \"name\":\"test-acc-container-pn-pn00\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T13:30:29.739626Z\", \"updated_at\":\"2025-11-04T13:30:29.739626Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"463db95d-2cd0-4a7e-835c-520da3cc78ce\", \"created_at\":\"2025-11-04T13:30:29.739626Z\", \"updated_at\":\"2025-11-04T13:30:29.739626Z\", \"subnet\":\"172.18.20.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\", \"vpc_id\":\"72a40579-630f-470e-ba29-9178394d609d\"}, {\"id\":\"73398618-a17f-4095-84eb-621913d58c63\", \"created_at\":\"2025-11-04T13:30:29.739626Z\", \"updated_at\":\"2025-11-04T13:30:29.739626Z\", \"subnet\":\"fd5f:519c:6d46:e3bb::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\", \"vpc_id\":\"72a40579-630f-470e-ba29-9178394d609d\"}], \"vpc_id\":\"72a40579-630f-470e-ba29-9178394d609d\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 628.563149ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bf9475ab-cb4b-47f8-9719-76659c0284cc
    method: GET
  response:
    body: "{\"id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\", \"name\":\"test-acc-container-pn-pn00\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-04T13:30:29.739626Z\", \"updated_at\":\"2025-11-04T13:30:29.739626Z\", \"project_id\":\"105bdce1-64c0[...]
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-dreamy-hertz\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"51b0c7b8-6da0-4a91-9182-03f4ef34c330\", \"name\":\"tf-ns-dreamy-hertz\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-11-04T13:30:30.753922732Z\", \"updated_at\":\"2025-11-04T13:30:30.753922732Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.524035939s
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/51b0c7b8-6da0-4a91-9182-03f4ef34c330
    method: GET
  response:
    body: "{\"id\":\"51b0c7b8-6da0-4a91-9182-03f4ef34c330\", \"name\":\"tf-ns-dreamy-hertz\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-11-04T13:30:30.753923Z\", \"updated_at\":\"2025-11-04T13:30:30.753923Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.112859ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"51b0c7b8-6da0-4a91-9182-03f4ef34c330\",\"name\":\"test-acc-container-pn-c00\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":[\"c00\"],\"private_network_id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\",\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"951236cf-0fe6-4ab4-a67a-0a31d87c335d\", \"name\":\"test-acc-container-pn-c00\", \"namespace_id\":\"51b0c7b8-6da0-4a91-9182-03f4ef34c330\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsdreamyhertzdbqctkob/test-acc-container-pn-c00:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsdreamyhertzdbqctkob-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-11-04T13:30:36.899643724Z\", \"updated_at\":\"2025-11-04T13:30:36.899643724Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[\"c00\"], \"private_network_id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\", \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 722.471597ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/951236cf-0fe6-4ab4-a67a-0a31d87c335d
    method: GET
  response:
    body: "{\"id\":\"951236cf-0fe6-4ab4-a67a-0a31d87c335d\", \"name\":\"test-acc-container-pn-c00\", \"namespace_id\":\"51b0c7b8-6da0-4a91-9182-03f4ef34c330\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsdreamyhertzdbqctkob/test-acc-container-pn-c00:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsdreamyhertzdbqctkob-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-11-04T13:30:36.899644Z\", \"updated_at\":\"2025-11-04T13:30:36.899644Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[\"c00\"], \"private_network_id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\", \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.720989ms
[...]
- id: 88
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/51b0c7b8-6da0-4a91-9182-03f4ef34c330
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 45.911782ms
[...]
- id: 91
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bf9475ab-cb4b-47f8-9719-76659c0284cc
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"bf9475ab-cb4b-47f8-9719-76659c0284cc\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 41.812573ms
[...]
