---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccContainer_PrivateNetwork\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\",\"name\":\"TestAccContainer_PrivateNetwork\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-06T16:27:23.152679Z\",\"updated_at\":\"2025-11-06T16:27:23.152679Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 132.698423ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ef1ef8d9-d147-46df-97eb-e7cc8df6616d
    method: GET
  response:
    body: "{\"id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\",\"name\":\"TestAccContainer_PrivateNetwork\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-06T16:27:23.152679Z\",\"updated_at\":\"2025-11-06T16:27:23.152679Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 37.812028ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-container-pn-start\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"name\":\"test-acc-container-pn-start\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-06T16:27:23.282603Z\",\"updated_at\":\"2025-11-06T16:27:23.282603Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"c962a4de-5426-4d3a-b6b3-aa60d8690392\",\"created_at\":\"2025-11-06T16:27:23.282603Z\",\"updated_at\":\"2025-11-06T16:27:23.282603Z\",\"subnet\":\"172.18.80.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"vpc_id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\"},{\"id\":\"e59bfdfb-6290-4e43-8875-fc4d71de6c50\",\"created_at\":\"2025-11-06T16:27:23.282603Z\",\"updated_at\":\"2025-11-06T16:27:23.282603Z\",\"subnet\":\"fd5f:519c:6d46:e1e1::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"vpc_id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\"}],\"vpc_id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 629.845708ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/acdbc6b7-b7ca-49c6-b242-1a8566007121
    method: GET
  response:
    body: "{\"id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"name\":\"test-acc-container-pn-start\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-11-06T16:27:23.282603Z\",\"updated_at\":\"2025-11-06T16:27:23.282603Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"c962a4de-5426-4d3a-b6b3-aa60d8690392\",\"created_at\":\"2025-11-06T16:27:23.282603Z\",\"updated_at\":\"2025-11-06T16:27:23.282603Z\",\"subnet\":\"172.18.80.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"vpc_id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\"},{\"id\":\"e59bfdfb-6290-4e43-8875-fc4d71de6c50\",\"created_at\":\"2025-11-06T16:27:23.282603Z\",\"updated_at\":\"2025-11-06T16:27:23.282603Z\",\"subnet\":\"fd5f:519c:6d46:e1e1::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"vpc_id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\"}],\"vpc_id\":\"ef1ef8d9-d147-46df-97eb-e7cc8df6616d\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 45.540219ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-naughty-lumiere\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"c18ebd34-5f04-4bff-84af-37d6ab6d7d24\",\"name\":\"tf-ns-naughty-lumiere\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-11-06T16:27:24.175287435Z\",\"updated_at\":\"2025-11-06T16:27:24.175287435Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.15667322s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c18ebd34-5f04-4bff-84af-37d6ab6d7d24
    method: GET
  response:
    body: "{\"id\":\"c18ebd34-5f04-4bff-84af-37d6ab6d7d24\",\"name\":\"tf-ns-naughty-lumiere\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-11-06T16:27:24.175287Z\",\"updated_at\":\"2025-11-06T16:27:24.175287Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.806696ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"c18ebd34-5f04-4bff-84af-37d6ab6d7d24\",\"name\":\"test-acc-container-pn-to-stay\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":[\"to-stay\"],\"private_network_id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"eb2fda56-d637-445f-9092-ec4ac8a9c2b9\",\"name\":\"test-acc-container-pn-to-stay\",\"namespace_id\":\"c18ebd34-5f04-4bff-84af-37d6ab6d7d24\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsnaughtylumierej7ymhfdn/test-acc-container-pn-to-stay:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsnaughtylumierej7ymhfdn-test-acc-container-pn-to-stay.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-11-06T16:27:30.106490820Z\",\"updated_at\":\"2025-11-06T16:27:30.106490820Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[\"to-stay\"],\"private_network_id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 551.863789ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/eb2fda56-d637-445f-9092-ec4ac8a9c2b9
    method: GET
  response:
    body: "{\"id\":\"eb2fda56-d637-445f-9092-ec4ac8a9c2b9\",\"name\":\"test-acc-container-pn-to-stay\",\"namespace_id\":\"c18ebd34-5f04-4bff-84af-37d6ab6d7d24\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsnaughtylumierej7ymhfdn/test-acc-container-pn-to-stay:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsnaughtylumierej7ymhfdn-test-acc-container-pn-to-stay.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-11-06T16:27:30.106491Z\",\"updated_at\":\"2025-11-06T16:27:30.106491Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[\"to-stay\"],\"private_network_id\":\"acdbc6b7-b7ca-49c6-b242-1a8566007121\",\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.682118ms
[...]
- id: 78
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c18ebd34-5f04-4bff-84af-37d6ab6d7d24
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.058961ms
[...]
- id: 81
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/be1f4252-a826-4ca7-901b-068a0ebfd402
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"be1f4252-a826-4ca7-901b-068a0ebfd402\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.048982ms
[...]
