---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-healthcheck","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","name":"tf-acctest-healthcheck","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:19.585138Z","updated_at":"2026-05-05T14:42:19.585138Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.260080043s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e6143e39-79f6-4bd2-aa09-3ea5d752d27f
        method: GET
      response:
        body: '{"id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","name":"tf-acctest-healthcheck","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:19.585138Z","updated_at":"2026-05-05T14:42:19.585138Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.089756ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","name":"tf-co-clever-black","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"435519ca-0ba4-44b7-8893-e0e1dd733f82","name":"tf-co-clever-black","namespace_id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","description":"","status":"creating","created_at":"2026-05-05T14:42:25.047743Z","updated_at":"2026-05-05T14:42:25.047743Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthealthchecke6143e39-tf-co-clever-black.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.362669ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/435519ca-0ba4-44b7-8893-e0e1dd733f82
        method: GET
      response:
        body: '{"id":"435519ca-0ba4-44b7-8893-e0e1dd733f82","name":"tf-co-clever-black","namespace_id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","description":"","status":"creating","created_at":"2026-05-05T14:42:25.047743Z","updated_at":"2026-05-05T14:42:25.047743Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthealthchecke6143e39-tf-co-clever-black.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.176344ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/435519ca-0ba4-44b7-8893-e0e1dd733f82
        method: GET
      response:
        body: '{"id":"435519ca-0ba4-44b7-8893-e0e1dd733f82","name":"tf-co-clever-black","namespace_id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:25.047743Z","updated_at":"2026-05-05T14:42:35Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthealthchecke6143e39-tf-co-clever-black.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.806879ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","sandbox":"unknown_sandbox","liveness_probe":{"failure_threshold":40,"interval":"12.000000000s","timeout":"1.000000000s","http":{"path":"/test"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/435519ca-0ba4-44b7-8893-e0e1dd733f82
        method: PATCH
      response:
        body: '{"id":"435519ca-0ba4-44b7-8893-e0e1dd733f82","name":"tf-co-clever-black","namespace_id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","description":"","status":"updating","created_at":"2026-05-05T14:42:25.047743Z","updated_at":"2026-05-05T14:42:41.592857Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesthealthchecke6143e39-tf-co-clever-black.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":40,"interval":"12s","timeout":"1s","http":{"path":"/test"}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.921268ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e6143e39-79f6-4bd2-aa09-3ea5d752d27f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"e6143e39-79f6-4bd2-aa09-3ea5d752d27f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.80532ms
[...]
