---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-upbeat-albattani","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:40.897114734Z","description":"","environment_variables":{},"error_message":null,"id":"e2d2ff72-d1c8-4df2-bb44-b0187305141a","name":"tf-ns-upbeat-albattani","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:40.897114734Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.969894382s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e2d2ff72-d1c8-4df2-bb44-b0187305141a
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:40.897115Z","description":"","environment_variables":{},"error_message":null,"id":"e2d2ff72-d1c8-4df2-bb44-b0187305141a","name":"tf-ns-upbeat-albattani","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:40.897115Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.739068ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"e2d2ff72-d1c8-4df2-bb44-b0187305141a","name":"tf-co-objective-rhodes","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.361820263Z","description":"","domain_name":"tfnsupbeatalbattani1cgtihmg-tf-co-objective-rhodes.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"378df471-6405-4f31-8455-697bb9300641","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-objective-rhodes","namespace_id":"e2d2ff72-d1c8-4df2-bb44-b0187305141a","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeatalbattani1cgtihmg/tf-co-objective-rhodes:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:58.361820263Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.874927771s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/378df471-6405-4f31-8455-697bb9300641
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.361820Z","description":"","domain_name":"tfnsupbeatalbattani1cgtihmg-tf-co-objective-rhodes.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"378df471-6405-4f31-8455-697bb9300641","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-objective-rhodes","namespace_id":"e2d2ff72-d1c8-4df2-bb44-b0187305141a","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeatalbattani1cgtihmg/tf-co-objective-rhodes:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:58.361820Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.838165ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"min_scale":1,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","scaling_option":{"cpu_usage_threshold":72}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/378df471-6405-4f31-8455-697bb9300641
        method: PATCH
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.361820Z","description":"","domain_name":"tfnsupbeatalbattani1cgtihmg-tf-co-objective-rhodes.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"378df471-6405-4f31-8455-697bb9300641","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":1,"name":"tf-co-objective-rhodes","namespace_id":"e2d2ff72-d1c8-4df2-bb44-b0187305141a","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeatalbattani1cgtihmg/tf-co-objective-rhodes:latest","sandbox":"v2","scaling_option":{"cpu_usage_threshold":72},"secret_environment_variables":[],"status":"pending","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:12.677620781Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.443803ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","scaling_option":{"memory_usage_threshold":66}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/378df471-6405-4f31-8455-697bb9300641
        method: PATCH
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.361820Z","description":"","domain_name":"tfnsupbeatalbattani1cgtihmg-tf-co-objective-rhodes.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"378df471-6405-4f31-8455-697bb9300641","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":1,"name":"tf-co-objective-rhodes","namespace_id":"e2d2ff72-d1c8-4df2-bb44-b0187305141a","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeatalbattani1cgtihmg/tf-co-objective-rhodes:latest","sandbox":"v2","scaling_option":{"memory_usage_threshold":66},"secret_environment_variables":[],"status":"pending","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:24.939739666Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.379793ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e2d2ff72-d1c8-4df2-bb44-b0187305141a
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.377155ms
[...]
