---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-inspiring-mclean","environment_variables":{},"project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-16T10:10:38.995185196Z","description":"","environment_variables":{},"error_message":null,"id":"d25385c3-2c74-4f72-ae77-4aadd7a28183","name":"tf-ns-inspiring-mclean","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-16T10:10:38.995185196Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.876958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d25385c3-2c74-4f72-ae77-4aadd7a28183
        method: GET
      response:
        body: '{"created_at":"2025-01-16T10:10:38.995185Z","description":"","environment_variables":{},"error_message":null,"id":"d25385c3-2c74-4f72-ae77-4aadd7a28183","name":"tf-ns-inspiring-mclean","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-16T10:10:38.995185Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.923709ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"d25385c3-2c74-4f72-ae77-4aadd7a28183","name":"tf-co-inspiring-goodall","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-16T10:10:44.459725160Z","description":"","domain_name":"tfnsinspiringmclean2azlpkfl-tf-co-inspiring-goodall.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"4e144a2b-ac2c-4c54-a008-43e95b784b21","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-inspiring-goodall","namespace_id":"d25385c3-2c74-4f72-ae77-4aadd7a28183","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsinspiringmclean2azlpkfl/tf-co-inspiring-goodall:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-16T10:10:44.459725160Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.160916ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/4e144a2b-ac2c-4c54-a008-43e95b784b21
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-16T10:10:44.459725Z","description":"","domain_name":"tfnsinspiringmclean2azlpkfl-tf-co-inspiring-goodall.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"4e144a2b-ac2c-4c54-a008-43e95b784b21","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-inspiring-goodall","namespace_id":"d25385c3-2c74-4f72-ae77-4aadd7a28183","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsinspiringmclean2azlpkfl/tf-co-inspiring-goodall:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-16T10:10:44.459725Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.6975ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","health_check":{"http":{"path":"/test"},"failure_threshold":40,"interval":"12.000000000s"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/4e144a2b-ac2c-4c54-a008-43e95b784b21
        method: PATCH
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-16T10:10:44.459725Z","description":"","domain_name":"tfnsinspiringmclean2azlpkfl-tf-co-inspiring-goodall.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":40,"http":{"path":"/test"},"interval":"12s"},"http_option":"enabled","id":"4e144a2b-ac2c-4c54-a008-43e95b784b21","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-inspiring-goodall","namespace_id":"d25385c3-2c74-4f72-ae77-4aadd7a28183","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsinspiringmclean2azlpkfl/tf-co-inspiring-goodall:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"pending","timeout":"300s","updated_at":"2025-01-16T10:10:45.483608760Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.926666ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d25385c3-2c74-4f72-ae77-4aadd7a28183
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.005583ms
[...]
