---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-clever-grothendieck\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"65315e1d-7451-4beb-9aa4-7f4579ee4673\",\"name\":\"tf-ns-clever-grothendieck\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.019158578Z\",\"updated_at\":\"2025-09-01T15:54:50.019158578Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 11.525218411s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/65315e1d-7451-4beb-9aa4-7f4579ee4673
    method: GET
  response:
    body: "{\"id\":\"65315e1d-7451-4beb-9aa4-7f4579ee4673\",\"name\":\"tf-ns-clever-grothendieck\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.019159Z\",\"updated_at\":\"2025-09-01T15:54:50.019159Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 235.407784ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"65315e1d-7451-4beb-9aa4-7f4579ee4673\",\"name\":\"tf-co-recursing-bohr\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"03fd7e2e-6124-45cd-942f-a06e5d5fcb57\",\"name\":\"tf-co-recursing-bohr\",\"namespace_id\":\"65315e1d-7451-4beb-9aa4-7f4579ee4673\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsclevergrothendie6bwnyd00/tf-co-recursing-bohr:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsclevergrothendie6bwnyd00-tf-co-recursing-bohr.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:25.827007134Z\",\"updated_at\":\"2025-09-01T15:55:25.827007134Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.418383s
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/03fd7e2e-6124-45cd-942f-a06e5d5fcb57
    method: GET
  response:
    body: "{\"id\":\"03fd7e2e-6124-45cd-942f-a06e5d5fcb57\",\"name\":\"tf-co-recursing-bohr\",\"namespace_id\":\"65315e1d-7451-4beb-9aa4-7f4579ee4673\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsclevergrothendie6bwnyd00/tf-co-recursing-bohr:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsclevergrothendie6bwnyd00-tf-co-recursing-bohr.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:25.827007Z\",\"updated_at\":\"2025-09-01T15:55:25.827007Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.13334ms
[...]
- id: 43
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/65315e1d-7451-4beb-9aa4-7f4579ee4673
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 70.484094ms
[...]
