---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-bold-cray\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"88583de2-9120-4a8d-a199-7fa9f00c0a78\", \"name\":\"tf-ns-bold-cray\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.022257742Z\", \"updated_at\":\"2025-10-31T16:31:05.022257742Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.055603498s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/88583de2-9120-4a8d-a199-7fa9f00c0a78
    method: GET
  response:
    body: "{\"id\":\"88583de2-9120-4a8d-a199-7fa9f00c0a78\", \"name\":\"tf-ns-bold-cray\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.022258Z\", \"updated_at\":\"2025-10-31T16:31:05.022258Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.430849ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"88583de2-9120-4a8d-a199-7fa9f00c0a78\",\"name\":\"tf-co-cocky-haslett\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"3d57df1c-3ac0-4b01-a1f6-d2b1f608a3db\", \"name\":\"tf-co-cocky-haslett\", \"namespace_id\":\"88583de2-9120-4a8d-a199-7fa9f00c0a78\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsboldcray37i0gb5l/tf-co-cocky-haslett:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsboldcray37i0gb5l-tf-co-cocky-haslett.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:11.221593304Z\", \"updated_at\":\"2025-10-31T16:31:11.221593304Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 758.069188ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3d57df1c-3ac0-4b01-a1f6-d2b1f608a3db
    method: GET
  response:
    body: "{\"id\":\"3d57df1c-3ac0-4b01-a1f6-d2b1f608a3db\", \"name\":\"tf-co-cocky-haslett\", \"namespace_id\":\"88583de2-9120-4a8d-a199-7fa9f00c0a78\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsboldcray37i0gb5l/tf-co-cocky-haslett:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsboldcray37i0gb5l-tf-co-cocky-haslett.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:11.221593Z\", \"updated_at\":\"2025-10-31T16:31:11.221593Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.116509ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"min_scale\":1,\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\",\"scaling_option\":{\"cpu_usage_threshold\":72}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3d57df1c-3ac0-4b01-a1f6-d2b1f608a3db
    method: PATCH
  response:
    body: "{\"id\":\"3d57df1c-3ac0-4b01-a1f6-d2b1f608a3db\", \"name\":\"tf-co-cocky-haslett\", \"namespace_id\":\"88583de2-9120-4a8d-a199-7fa9f00c0a78\", \"status\":\"pending\", \"environment_variables\":{}, \"min_scale\":1, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsboldcray37i0gb5l/tf-co-cocky-haslett:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsboldcray37i0gb5l-tf-co-cocky-haslett.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"cpu_usage_threshold\":72}, \"created_at\":\"2025-10-31T16:31:11.221593Z\", \"updated_at\":\"2025-10-31T16:31:24.822280622Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 383.227572ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    body: "{\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\",\"scaling_option\":{\"memory_usage_threshold\":66}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3d57df1c-3ac0-4b01-a1f6-d2b1f608a3db
    method: PATCH
  response:
    body: "{\"id\":\"3d57df1c-3ac0-4b01-a1f6-d2b1f608a3db\", \"name\":\"tf-co-cocky-haslett\", \"namespace_id\":\"88583de2-9120-4a8d-a199-7fa9f00c0a78\", \"status\":\"pending\", \"environment_variables\":{}, \"min_scale\":1, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsboldcray37i0gb5l/tf-co-cocky-haslett:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsboldcray37i0gb5l-tf-co-cocky-haslett.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"memory_usage_threshold\":66}, \"created_at\":\"2025-10-31T16:31:11.221593Z\", \"updated_at\":\"2025-10-31T16:31:56.956213711Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 146.961147ms
[...]
- id: 48
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/88583de2-9120-4a8d-a199-7fa9f00c0a78
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.951883ms
[...]
