---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-container-pn-pn00\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"8267ee8c-8d5f-4f95-bd7f-f129b3359848\",\"name\":\"test-acc-container-pn-pn00\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:52:04.192969Z\",\"updated_at\":\"2025-09-23T14:52:04.192969Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"eba9ef28-a0df-4781-aaf7-6ffa4bec170e\",\"created_at\":\"2025-09-23T14:52:04.192969Z\",\"updated_at\":\"2025-09-23T14:52:04.192969Z\",\"subnet\":\"172.17.36.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"8267ee8c-8d5f-4f95-bd7f-f129b3359848\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"3363e75e-f7b9-4f2e-9940-5c3fa585ce21\",\"created_at\":\"2025-09-23T14:52:04.192969Z\",\"updated_at\":\"2025-09-23T14:52:04.192969Z\",\"subnet\":\"fd5f:519c:6d46:3b8d::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"8267ee8c-8d5f-4f95-bd7f-f129b3359848\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 905.358301ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/78c5a27d-5171-4f20-b16e-facbd63c5f59
    method: GET
  response:
    body: "{\"id\":\"78c5a27d-5171-4f20-b16e-facbd63c5f59\",\"name\":\"test-acc-container-pn-pn01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T14:52:04.312722Z\",\"updated_at\":\"2025-09-23T14:52:04.312722Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"d616fe2c-642f-445e-8662-fcf032a2ec54\",\"created_at\":\"2025-09-23T14:52:04.312722Z\",\"updated_at\":\"2025-09-23T14:52:04.312722Z\",\"subnet\":\"172.17.8.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"78c5a27d-5171-4f20-b16e-facbd63c5f59\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"86e8ae0d-04fb-4114-8e5b-3faed6f22fbd\",\"created_at\":\"2025-09-23T14:52:04.312722Z\",\"updated_at\":\"2025-09-23T14:52:04.312722Z\",\"subnet\":\"fd5f:519c:6d46:4b5a::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"78c5a27d-5171-4f20-b16e-facbd63c5f59\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 29.220083ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-clever-bassi\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"303fb3bf-6d77-472f-bac3-5644a7916136\",\"name\":\"tf-ns-clever-bassi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-23T14:52:06.360431553Z\",\"updated_at\":\"2025-09-23T14:52:06.360431553Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.856345443s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/303fb3bf-6d77-472f-bac3-5644a7916136
    method: GET
  response:
    body: "{\"id\":\"303fb3bf-6d77-472f-bac3-5644a7916136\",\"name\":\"tf-ns-clever-bassi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-23T14:52:06.360432Z\",\"updated_at\":\"2025-09-23T14:52:06.360432Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.554852ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"303fb3bf-6d77-472f-bac3-5644a7916136\",\"name\":\"test-acc-container-pn-c00\",\"privacy\":\"public\",\"description\":\"Container with index 0\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":null,\"private_network_id\":\"8267ee8c-8d5f-4f95-bd7f-f129b3359848\",\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"607d854a-7d87-4a62-bf00-487e8f9599e6\",\"name\":\"test-acc-container-pn-c00\",\"namespace_id\":\"303fb3bf-6d77-472f-bac3-5644a7916136\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"Container with index 0\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscleverbassir3fgk92j/test-acc-container-pn-c00:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscleverbassir3fgk92j-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-23T14:52:14.437532101Z\",\"updated_at\":\"2025-09-23T14:52:14.437532101Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":\"8267ee8c-8d5f-4f95-bd7f-f129b3359848\",\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 607.057075ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/607d854a-7d87-4a62-bf00-487e8f9599e6
    method: GET
  response:
    body: "{\"id\":\"607d854a-7d87-4a62-bf00-487e8f9599e6\",\"name\":\"test-acc-container-pn-c00\",\"namespace_id\":\"303fb3bf-6d77-472f-bac3-5644a7916136\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"Container with index 0\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscleverbassir3fgk92j/test-acc-container-pn-c00:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscleverbassir3fgk92j-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-23T14:52:14.437532Z\",\"updated_at\":\"2025-09-23T14:52:14.437532Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":\"8267ee8c-8d5f-4f95-bd7f-f129b3359848\",\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 284.434491ms
[...]
- id: 71
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/303fb3bf-6d77-472f-bac3-5644a7916136
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.876607ms
[...]
- id: 76
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8267ee8c-8d5f-4f95-bd7f-f129b3359848
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"8267ee8c-8d5f-4f95-bd7f-f129b3359848\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 17.640014ms
[...]
