---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-gracious-galois\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"ebaf31d2-965d-42e0-a49e-ce7f5cf5b730\",\"name\":\"tf-ns-gracious-galois\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.636184206Z\",\"updated_at\":\"2025-09-01T15:54:49.636184206Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 10.616300515s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ebaf31d2-965d-42e0-a49e-ce7f5cf5b730
    method: GET
  response:
    body: "{\"id\":\"ebaf31d2-965d-42e0-a49e-ce7f5cf5b730\",\"name\":\"tf-ns-gracious-galois\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.636184Z\",\"updated_at\":\"2025-09-01T15:54:49.636184Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.785132ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"ebaf31d2-965d-42e0-a49e-ce7f5cf5b730\",\"name\":\"tf-co-crazy-jackson\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":[\"bash\",\"-c\",\"my-script.sh\"],\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"c01dc332-24be-41a4-8f99-a0d7ddcaa102\",\"name\":\"tf-co-crazy-jackson\",\"namespace_id\":\"ebaf31d2-965d-42e0-a49e-ce7f5cf5b730\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgraciousgaloiscei3lkgr/tf-co-crazy-jackson:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsgraciousgaloiscei3lkgr-tf-co-crazy-jackson.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:14.937229600Z\",\"updated_at\":\"2025-09-01T15:55:14.937229600Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[\"bash\",\"-c\",\"my-script.sh\"],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.472398257s
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c01dc332-24be-41a4-8f99-a0d7ddcaa102
    method: GET
  response:
    body: "{\"id\":\"c01dc332-24be-41a4-8f99-a0d7ddcaa102\",\"name\":\"tf-co-crazy-jackson\",\"namespace_id\":\"ebaf31d2-965d-42e0-a49e-ce7f5cf5b730\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgraciousgaloiscei3lkgr/tf-co-crazy-jackson:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsgraciousgaloiscei3lkgr-tf-co-crazy-jackson.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:14.937230Z\",\"updated_at\":\"2025-09-01T15:55:14.937230Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[\"bash\",\"-c\",\"my-script.sh\"],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.298864ms
[...]
- id: 62
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ebaf31d2-965d-42e0-a49e-ce7f5cf5b730
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.893252ms
[...]
