---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-hardcore-solomon\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"2a8b7898-0a08-4cda-9876-64d19edcd69e\", \"name\":\"tf-ns-hardcore-solomon\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-11-06T08:41:17.451010775Z\", \"updated_at\":\"2025-11-06T08:41:17.451010775Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.697716875s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2a8b7898-0a08-4cda-9876-64d19edcd69e
    method: GET
  response:
    body: "{\"id\":\"2a8b7898-0a08-4cda-9876-64d19edcd69e\", \"name\":\"tf-ns-hardcore-solomon\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-11-06T08:41:17.451011Z\", \"updated_at\":\"2025-11-06T08:41:17.451011Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.701ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"2a8b7898-0a08-4cda-9876-64d19edcd69e\",\"name\":\"tf-co-condescending-mirzakhani\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"e37cafbd-22e3-4afa-b4ae-8f2016167955\", \"name\":\"tf-co-condescending-mirzakhani\", \"namespace_id\":\"2a8b7898-0a08-4cda-9876-64d19edcd69e\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnshardcoresolomon94btbbi1/tf-co-condescending-mirzakhani:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnshardcoresolomon94btbbi1-tf-co-condescending-mirzakhani.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-11-06T08:41:23.438052001Z\", \"updated_at\":\"2025-11-06T08:41:23.438052001Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 463.935958ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/e37cafbd-22e3-4afa-b4ae-8f2016167955
    method: GET
  response:
    body: "{\"id\":\"e37cafbd-22e3-4afa-b4ae-8f2016167955\", \"name\":\"tf-co-condescending-mirzakhani\", \"namespace_id\":\"2a8b7898-0a08-4cda-9876-64d19edcd69e\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnshardcoresolomon94btbbi1/tf-co-condescending-mirzakhani:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnshardcoresolomon94btbbi1-tf-co-condescending-mirzakhani.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-11-06T08:41:23.438052Z\", \"updated_at\":\"2025-11-06T08:41:23.438052Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.083292ms
[...]
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2a8b7898-0a08-4cda-9876-64d19edcd69e
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 176.226333ms
[...]
