---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-elated-leakey","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.279769606Z","description":"","environment_variables":{},"error_message":null,"id":"2705d86a-1ff1-46d2-8f0b-afaba8bc81c3","name":"tf-ns-elated-leakey","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.279769606Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 897.09425ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2705d86a-1ff1-46d2-8f0b-afaba8bc81c3
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.279770Z","description":"","environment_variables":{},"error_message":null,"id":"2705d86a-1ff1-46d2-8f0b-afaba8bc81c3","name":"tf-ns-elated-leakey","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.279770Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.691666ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"2705d86a-1ff1-46d2-8f0b-afaba8bc81c3","name":"tf-co-vigorous-swartz","environment_variables":{"test":"test"},"privacy":"public","protocol":"http1","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.869086390Z","description":"","domain_name":"tfnselatedleakeyottmxtte-tf-co-vigorous-swartz.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"70ca1e2d-3887-48d7-8d4f-1eb1fa716edd","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-vigorous-swartz","namespace_id":"2705d86a-1ff1-46d2-8f0b-afaba8bc81c3","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnselatedleakeyottmxtte/tf-co-vigorous-swartz:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$Y+TXcpntj+WqVZg06bfrbg$wQwgaT4uFJofyZVqv9HCHkIg9YvBeqpfnlyzQlB+Y0g","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.869086390Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 997.511208ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/70ca1e2d-3887-48d7-8d4f-1eb1fa716edd
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.869086Z","description":"","domain_name":"tfnselatedleakeyottmxtte-tf-co-vigorous-swartz.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"70ca1e2d-3887-48d7-8d4f-1eb1fa716edd","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-vigorous-swartz","namespace_id":"2705d86a-1ff1-46d2-8f0b-afaba8bc81c3","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnselatedleakeyottmxtte/tf-co-vigorous-swartz:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$Y+TXcpntj+WqVZg06bfrbg$wQwgaT4uFJofyZVqv9HCHkIg9YvBeqpfnlyzQlB+Y0g","key":"test_secret"}],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.869086Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.122833ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/70ca1e2d-3887-48d7-8d4f-1eb1fa716edd
        method: PATCH
      response:
        body: '{"cpu_limit":1000,"created[...]
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2705d86a-1ff1-46d2-8f0b-afaba8bc81c3
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.498208ms
[...]
