---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-dazzling-gagarin","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-05-27T17:51:15.981349925Z","description":"","environment_variables":{},"error_message":null,"id":"f4723ef3-baa7-4279-822f-4a90aad58cd2","name":"tf-ns-dazzling-gagarin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-05-27T17:51:15.981349925Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 630.325431ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f4723ef3-baa7-4279-822f-4a90aad58cd2
        method: GET
      response:
        body: '{"created_at":"2025-05-27T17:51:15.981350Z","description":"","environment_variables":{},"error_message":null,"id":"f4723ef3-baa7-4279-822f-4a90aad58cd2","name":"tf-ns-dazzling-gagarin","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-05-27T17:51:15.981350Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.263825ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"f4723ef3-baa7-4279-822f-4a90aad58cd2","name":"tf-co-lucid-ride","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":["tag1","tag2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-05-27T17:51:21.536359627Z","description":"","domain_name":"tfnsdazzlinggagarinporaatc0-tf-co-lucid-ride.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"3f54ea9c-8ee3-40e7-be47-eced407a286d","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-lucid-ride","namespace_id":"f4723ef3-baa7-4279-822f-4a90aad58cd2","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsdazzlinggagarinporaatc0/tf-co-lucid-ride:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":["tag1","tag2"],"timeout":"300s","updated_at":"2025-05-27T17:51:21.536359627Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.272269ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3f54ea9c-8ee3-40e7-be47-eced407a286d
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-05-27T17:51:21.536360Z","description":"","domain_name":"tfnsdazzlinggagarinporaatc0-tf-co-lucid-ride.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"3f54ea9c-8ee3-40e7-be47-eced407a286d","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-lucid-ride","namespace_id":"f4723ef3-baa7-4279-822f-4a90aad58cd2","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsdazzlinggagarinporaatc0/tf-co-lucid-ride:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":["tag1","tag2"],"timeout":"300s","updated_at":"2025-05-27T17:51:21.536360Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.802675ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f4723ef3-baa7-4279-822f-4a90aad58cd2
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.364452ms
[...]
