---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccContainer_PrivateNetwork","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:31:23.113977Z","custom_routes_propagation_enabled":true,"id":"f20135c6-9771-447f-a870-8d697080c310","is_default":false,"name":"TestAccContainer_PrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:31:23.113977Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.547875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f20135c6-9771-447f-a870-8d697080c310
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:31:23.113977Z","custom_routes_propagation_enabled":true,"id":"f20135c6-9771-447f-a870-8d697080c310","is_default":false,"name":"TestAccContainer_PrivateNetwork","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:31:23.113977Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.684125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-container-pn-pn00","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f20135c6-9771-447f-a870-8d697080c310","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:31:23.218925Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","name":"test-acc-container-pn-pn00","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:31:23.218925Z","id":"e0a4341f-af5b-4495-a8f9-a9c4f6df1b7a","private_network_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.180.0/22","updated_at":"2025-09-30T09:31:23.218925Z","vpc_id":"f20135c6-9771-447f-a870-8d697080c310"},{"created_at":"2025-09-30T09:31:23.218925Z","id":"fcde73ee-00af-4bfb-bb06-9ebbc1991f6a","private_network_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b1bc::/64","updated_at":"2025-09-30T09:31:23.218925Z","vpc_id":"f20135c6-9771-447f-a870-8d697080c310"}],"tags":[],"updated_at":"2025-09-30T09:31:23.218925Z","vpc_id":"f20135c6-9771-447f-a870-8d697080c310"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 655.567875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9a4035d4-f459-4f84-8cff-dfeba6821d72
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:31:23.218925Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","name":"test-acc-container-pn-pn00","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:31:23.218925Z","id":"e0a4341f-af5b-4495-a8f9-a9c4f6df1b7a","private_network_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.180.0/22","updated_at":"2025-09-30T09:31:23.218925Z","vpc_id":"f20135c6-9771-447f-a870-8d697080c310"},{"created_at":"2025-09-30T09:31:23.218925Z","id":"fcde73ee-00af-4bfb-bb06-9ebbc1991f6a","private_network_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b1bc::/64","updated_at":"2025-09-30T09:31:23.218925Z","vpc_id":"f20135c6-9771-447f-a870-8d697080c310"}],"tags":[],"updated_at":"2025-09-30T09:31:23.218925Z","vpc_id":"f20135c6-9771-447f-a870-8d697080c310"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.967167ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-festive-leavitt","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:31:23.982324564Z","description":"","environment_variables":{},"error_message":null,"id":"70df7340-92b9-4ef9-880f-69a02c0a912c","name":"tf-ns-festive-leavitt","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:31:23.982324564Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.071492s
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/70df7340-92b9-4ef9-880f-69a02c0a912c
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:31:23.982325Z","description":"","environment_variables":{},"error_message":null,"id":"70df7340-92b9-4ef9-880f-69a02c0a912c","name":"tf-ns-festive-leavitt","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:31:23.982325Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.110875ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"70df7340-92b9-4ef9-880f-69a02c0a912c","name":"test-acc-container-pn-c00","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-09-30T09:31:30.019295993Z","description":"","domain_name":"tfnsfestiveleavittp8ml3dbd-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f15927ae-cdf0-4749-a0aa-1e34cdb67fb2","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-acc-container-pn-c00","namespace_id":"70df7340-92b9-4ef9-880f-69a02c0a912c","port":8080,"privacy":"public","private_network_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfestiveleavittp8ml3dbd/test-acc-container-pn-c00:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:31:30.019295993Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 643.3635ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f15927ae-cdf0-4749-a0aa-1e34cdb67fb2
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-09-30T09:31:30.019296Z","description":"","domain_name":"tfnsfestiveleavittp8ml3dbd-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f15927ae-cdf0-4749-a0aa-1e34cdb67fb2","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-acc-container-pn-c00","namespace_id":"70df7340-92b9-4ef9-880f-69a02c0a912c","port":8080,"privacy":"public","private_network_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfestiveleavittp8ml3dbd/test-acc-container-pn-c00:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:31:30.019296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.271959ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/70df7340-92b9-4ef9-880f-69a02c0a912c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.211333ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9a4035d4-f459-4f84-8cff-dfeba6821d72
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"9a4035d4-f459-4f84-8cff-dfeba6821d72","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.495959ms
[...]
