---
version: 2
interactions:
- request:
    body: '{"name":"tf-ns-funny-mclean","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"89e8affd-9cef-46af-bd67-7d10a879704a","name":"tf-ns-funny-mclean","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/89e8affd-9cef-46af-bd67-7d10a879704a
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"89e8affd-9cef-46af-bd67-7d10a879704a","name":"tf-ns-funny-mclean","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"namespace_id":"89e8affd-9cef-46af-bd67-7d10a879704a","name":"tf-co-elated-moser","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsfunnymcleanyd5slvj4-tf-co-elated-moser.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"300411a6-d35c-405f-bfbf-d5a631920adf","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-elated-moser","namespace_id":"89e8affd-9cef-46af-bd67-7d10a879704a","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfunnymcleanyd5slvj4/tf-co-elated-moser:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/300411a6-d35c-405f-bfbf-d5a631920adf
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsfunnymcleanyd5slvj4-tf-co-elated-moser.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"300411a6-d35c-405f-bfbf-d5a631920adf","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-elated-moser","namespace_id":"89e8affd-9cef-46af-bd67-7d10a879704a","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfunnymcleanyd5slvj4/tf-co-elated-moser:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"environment_variables":null,"min_scale":1,"max_scale":2,"memory_limit":256,"cpu_limit":280,"timeout":null,"redeploy":null,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":80,"protocol":"unknown_protocol","port":5000,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/15bac260-7a0b-46b8-b14c-4413524b04e3
    method: PATCH
  response:
    body: '{"cpu_limit":280,"description":"","domain_name":"tfnsfunnymcleanyd5slvj4-my-container-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"15bac260-7a0b-46b8-b14c-4413524b04e3","max_concurrency":80,"max_scale":2,"memory_limit":256,"min_scale":1,"name":"my-container-tf","namespace_id":"89e8affd-9cef-46af-bd67-7d10a879704a","port":5000,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfunnymcleanyd5slvj4/my-container-tf:latest","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/89e8affd-9cef-46af-bd67-7d10a879704a
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
