---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-02","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"test container","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:19:06.696363160Z","description":"test container","environment_variables":{},"error_message":null,"id":"a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1","name":"test-cr-ns-02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:19:06.696363160Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 501.958542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:19:06.696363Z","description":"test container","environment_variables":{},"error_message":null,"id":"a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1","name":"test-cr-ns-02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:19:06.696363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.189084ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1","name":"my-container-02","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"600.000000000s","privacy":"private","description":"environment variables test","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02l1m7qq6i/nginx:test","max_concurrency":80,"protocol":"h2c","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":140,"created_at":"2025-01-22T15:19:33.702558608Z","description":"environment variables test","domain_name":"testcrns02l1m7qq6i-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"013c17dd-d0c9-4e9f-a636-3d508d962127","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1","port":80,"privacy":"private","protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02l1m7qq6i/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"created","timeout":"600s","updated_at":"2025-01-22T15:19:33.702558608Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 428.992167ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/013c17dd-d0c9-4e9f-a636-3d508d962127
        method: GET
      response:
        body: '{"cpu_limit":140,"created_at":"2025-01-22T15:19:33.702559Z","description":"environment variables test","domain_name":"testcrns02l1m7qq6i-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"013c17dd-d0c9-4e9f-a636-3d508d962127","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1","port":80,"privacy":"private","protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02l1m7qq6i/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"created","timeout":"600s","updated_at":"2025-01-22T15:19:33.702559Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.218084ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/013c17dd-d0c9-4e9f-a636-3d508d962127
        method: PATCH
      response:
        body: '{"cpu_limit":140,"created_at":"2025-01-22T15:19:33.702559Z","description":"environment variables test","domain_name":"testcrns02l1m7qq6i-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"013c17dd-d0c9-4e9f-a636-3d508d962127","local_storage_limit":1000,"max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1","port":80,"privacy":"private","protocol":"h2c","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02l1m7qq6i/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":80},"secret_environment_variables":[],"status":"pending","timeout":"600s","updated_at":"2025-01-22T15:19:33.908351736Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.535291ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a7d9b5b4-1ed8-4e3e-ac25-9dab8d2b66d1
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.775917ms
[...]
