---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-youthful-nightingale","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-03-10T12:46:30.096442287Z","description":"","environment_variables":{},"error_message":null,"id":"3d4b7c0e-b906-40a0-97c0-e5ab10c8b1d4","name":"tf-ns-youthful-nightingale","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-03-10T12:46:30.096442287Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 564.786542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/3d4b7c0e-b906-40a0-97c0-e5ab10c8b1d4
        method: GET
      response:
        body: '{"created_at":"2025-03-10T12:46:30.096442Z","description":"","environment_variables":{},"error_message":null,"id":"3d4b7c0e-b906-40a0-97c0-e5ab10c8b1d4","name":"tf-ns-youthful-nightingale","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-03-10T12:46:30.096442Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.704334ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"3d4b7c0e-b906-40a0-97c0-e5ab10c8b1d4","name":"tf-co-laughing-almeida","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-03-10T12:46:35.543397614Z","description":"","domain_name":"tfnsyouthfulnightingss65ennh-tf-co-laughing-almeida.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"ce220609-6dcb-4dd3-b127-dded9c9ef9d0","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-laughing-almeida","namespace_id":"3d4b7c0e-b906-40a0-97c0-e5ab10c8b1d4","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsyouthfulnightingss65ennh/tf-co-laughing-almeida:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-03-10T12:46:35.543397614Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.723833ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/ce220609-6dcb-4dd3-b127-dded9c9ef9d0
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-03-10T12:46:35.543398Z","description":"","domain_name":"tfnsyouthfulnightingss65ennh-tf-co-laughing-almeida.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"ce220609-6dcb-4dd3-b127-dded9c9ef9d0","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-laughing-almeida","namespace_id":"3d4b7c0e-b906-40a0-97c0-e5ab10c8b1d4","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsyouthfulnightingss65ennh/tf-co-laughing-almeida:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-03-10T12:46:35.543398Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.249166ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/3d4b7c0e-b906-40a0-97c0-e5ab10c8b1d4
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.864916ms
[...]
