---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-upbeat-tereshkova","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"1e3c35a7-8cce-4e44-b74e-13af6193c9ac","name":"tf-ns-upbeat-tereshkova","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.703717ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1e3c35a7-8cce-4e44-b74e-13af6193c9ac
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"1e3c35a7-8cce-4e44-b74e-13af6193c9ac","name":"tf-ns-upbeat-tereshkova","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.557396ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"1e3c35a7-8cce-4e44-b74e-13af6193c9ac","name":"tf-co-interesting-mestorf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":140,"description":"","domain_name":"tfnsupbeattereshkovad2zyw4f2-tf-co-interesting-mestorf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"7d7ac447-6a3e-477f-b693-baf81c5bb1f3","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-interesting-mestorf","namespace_id":"1e3c35a7-8cce-4e44-b74e-13af6193c9ac","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeattereshkovad2zyw4f2/tf-co-interesting-mestorf:latest","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.722749ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7d7ac447-6a3e-477f-b693-baf81c5bb1f3
        method: GET
      response:
        body: '{"cpu_limit":140,"description":"","domain_name":"tfnsupbeattereshkovad2zyw4f2-tf-co-interesting-mestorf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"7d7ac447-6a3e-477f-b693-baf81c5bb1f3","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-interesting-mestorf","namespace_id":"1e3c35a7-8cce-4e44-b74e-13af6193c9ac","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsupbeattereshkovad2zyw4f2/tf-co-interesting-mestorf:latest","sandbox":"v1","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.361005ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1e3c35a7-8cce-4e44-b74e-13af6193c9ac
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.869173ms
[...]
