---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-container-pn-pn00","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:02.065728Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","name":"test-acc-container-pn-pn00","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:06:02.065728Z","id":"0229a8c6-bc1d-4c1d-a39f-757914bf3e21","private_network_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"172.16.32.0/22","updated_at":"2025-08-27T15:06:02.065728Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"},{"created_at":"2025-08-27T15:06:02.065728Z","id":"40f741ae-c39f-4f7f-a05c-440b603b61d7","private_network_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"fde7:767f:1bb5:e3b7::/64","updated_at":"2025-08-27T15:06:02.065728Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}],"tags":[],"updated_at":"2025-08-27T15:06:02.065728Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 923.829189ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/932f31bb-f882-443f-be0e-9cc4f0bd70fa
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:02.065728Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","name":"test-acc-container-pn-pn00","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:06:02.065728Z","id":"0229a8c6-bc1d-4c1d-a39f-757914bf3e21","private_network_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"172.16.32.0/22","updated_at":"2025-08-27T15:06:02.065728Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"},{"created_at":"2025-08-27T15:06:02.065728Z","id":"40f741ae-c39f-4f7f-a05c-440b603b61d7","private_network_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"fde7:767f:1bb5:e3b7::/64","updated_at":"2025-08-27T15:06:02.065728Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}],"tags":[],"updated_at":"2025-08-27T15:06:02.065728Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.316456ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-stoic-visvesvaraya","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:03.495906682Z","description":"","environment_variables":{},"error_message":null,"id":"627dd919-7422-43e4-bc7b-ce02de6605c9","name":"tf-ns-stoic-visvesvaraya","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:03.495906682Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.521193308s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/627dd919-7422-43e4-bc7b-ce02de6605c9
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:03.495907Z","description":"","environment_variables":{},"error_message":null,"id":"627dd919-7422-43e4-bc7b-ce02de6605c9","name":"tf-ns-stoic-visvesvaraya","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:03.495907Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.400688ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"627dd919-7422-43e4-bc7b-ce02de6605c9","name":"test-acc-container-pn-c00","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"private_network_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:10.000783803Z","description":"","domain_name":"tfnsstoicvisvesvarayusdiiaiq-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"a574568d-5c43-482b-9d82-513f27e7d2ad","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-acc-container-pn-c00","namespace_id":"627dd919-7422-43e4-bc7b-ce02de6605c9","port":8080,"privacy":"public","private_network_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsstoicvisvesvarayusdiiaiq/test-acc-container-pn-c00:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:10.000783803Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.246078881s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/a574568d-5c43-482b-9d82-513f27e7d2ad
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:10.000784Z","description":"","domain_name":"tfnsstoicvisvesvarayusdiiaiq-test-acc-container-pn-c00.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"a574568d-5c43-482b-9d82-513f27e7d2ad","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-acc-container-pn-c00","namespace_id":"627dd919-7422-43e4-bc7b-ce02de6605c9","port":8080,"privacy":"public","private_network_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsstoicvisvesvarayusdiiaiq/test-acc-container-pn-c00:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:10.000784Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.575764ms
[...]
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/627dd919-7422-43e4-bc7b-ce02de6605c9
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.765148ms
[...]
    - id: 82
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/932f31bb-f882-443f-be0e-9cc4f0bd70fa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"932f31bb-f882-443f-be0e-9cc4f0bd70fa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.943746ms
[...]
