---
version: 2
interactions:
- request:
    body: '{"name":"test-cr-ns-02","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"test
      container","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"test container","environment_variables":{},"error_message":null,"id":"bdf36af3-7b65-4d12-b981-f1ed5191ab6d","name":"test-cr-ns-02","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/bdf36af3-7b65-4d12-b981-f1ed5191ab6d
    method: GET
  response:
    body: '{"description":"test container","environment_variables":{},"error_message":null,"id":"bdf36af3-7b65-4d12-b981-f1ed5191ab6d","name":"test-cr-ns-02","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"namespace_id":"bdf36af3-7b65-4d12-b981-f1ed5191ab6d","name":"my-container-02","environment_variables":{"foo":"var"},"min_scale":3,"max_scale":5,"memory_limit":256,"timeout":"600.000000000s","privacy":"private","description":"environment
      variables test","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02gldwnhkb/nginx:test","max_concurrency":80,"protocol":"h2c","port":80,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"environment variables test","domain_name":"testcrns02gldwnhkb-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"http_option":"enabled","id":"cdf9828c-e1a9-4787-af19-1b1ccfaca8f5","max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"bdf36af3-7b65-4d12-b981-f1ed5191ab6d","port":80,"privacy":"private","protocol":"h2c","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02gldwnhkb/nginx:test","secret_environment_variables":[],"status":"created","timeout":"600s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/cdf9828c-e1a9-4787-af19-1b1ccfaca8f5
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"environment variables test","domain_name":"testcrns02gldwnhkb-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"http_option":"enabled","id":"cdf9828c-e1a9-4787-af19-1b1ccfaca8f5","max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"bdf36af3-7b65-4d12-b981-f1ed5191ab6d","port":80,"privacy":"private","protocol":"h2c","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02gldwnhkb/nginx:test","secret_environment_variables":[],"status":"created","timeout":"600s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"redeploy":true,"privacy":"unknown_privacy","description":null,"registry_image":null,"max_concurrency":null,"protocol":"unknown_protocol","port":null,"secret_environment_variables":null,"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/cdf9828c-e1a9-4787-af19-1b1ccfaca8f5
    method: PATCH
  response:
    body: '{"cpu_limit":140,"description":"environment variables test","domain_name":"testcrns02gldwnhkb-my-container-02.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"var"},"error_message":null,"http_option":"enabled","id":"cdf9828c-e1a9-4787-af19-1b1ccfaca8f5","max_concurrency":80,"max_scale":5,"memory_limit":256,"min_scale":3,"name":"my-container-02","namespace_id":"bdf36af3-7b65-4d12-b981-f1ed5191ab6d","port":80,"privacy":"private","protocol":"h2c","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcrns02gldwnhkb/nginx:test","secret_environment_variables":[],"status":"pending","timeout":"600s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/bdf36af3-7b65-4d12-b981-f1ed5191ab6d
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
