---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-great-noyce\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"3667ae4b-ffc3-45ba-b1db-4f2ac38ac694\",\"name\":\"tf-ns-great-noyce\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.672222990Z\",\"updated_at\":\"2025-09-01T15:54:49.672222990Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 11.154830328s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/3667ae4b-ffc3-45ba-b1db-4f2ac38ac694
    method: GET
  response:
    body: "{\"id\":\"3667ae4b-ffc3-45ba-b1db-4f2ac38ac694\",\"name\":\"tf-ns-great-noyce\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.672223Z\",\"updated_at\":\"2025-09-01T15:54:49.672223Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 77.588167ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"3667ae4b-ffc3-45ba-b1db-4f2ac38ac694\",\"name\":\"my-container-with-cron-tf\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"8cb7df69-51e0-4ff3-a451-62d018a18e17\",\"name\":\"my-container-with-cron-tf\",\"namespace_id\":\"3667ae4b-ffc3-45ba-b1db-4f2ac38ac694\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgreatnoycelg2tgrjt/my-container-with-cron-tf:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsgreatnoycelg2tgrjt-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:19.077681707Z\",\"updated_at\":\"2025-09-01T15:55:19.077681707Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.313777911s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/8cb7df69-51e0-4ff3-a451-62d018a18e17
    method: GET
  response:
    body: "{\"id\":\"8cb7df69-51e0-4ff3-a451-62d018a18e17\",\"name\":\"my-container-with-cron-tf\",\"namespace_id\":\"3667ae4b-ffc3-45ba-b1db-4f2ac38ac694\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgreatnoycelg2tgrjt/my-container-with-cron-tf:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsgreatnoycelg2tgrjt-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:19.077682Z\",\"updated_at\":\"2025-09-01T15:55:19.077682Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.805317ms
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"container_id\":\"8cb7df69-51e0-4ff3-a451-62d018a18e17\",\"schedule\":\"5 4 * * *\",\"args\":{\"test\":\"scw\"},\"name\":\"tf-tests-container-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: "{\"id\":\"fb2d75db-78a1-4db5-a88a-6d6bfbfde141\",\"container_id\":\"8cb7df69-51e0-4ff3-a451-62d018a18e17\",\"schedule\":\"5 4 * * *\",\"args\":{\"test\":\"scw\"},\"status\":\"pending\",\"name\":\"tf-tests-container-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 211.052072ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/fb2d75db-78a1-4db5-a88a-6d6bfbfde141
    method: GET
  response:
    body: "{\"id\":\"fb2d75db-78a1-4db5-a88a-6d6bfbfde141\",\"container_id\":\"8cb7df69-51e0-4ff3-a451-62d018a18e17\",\"schedule\":\"5 4 * * *\",\"args\":{\"test\":\"scw\"},\"status\":\"ready\",\"name\":\"tf-tests-container-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.11584ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/3667ae4b-ffc3-45ba-b1db-4f2ac38ac694
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.811851ms
[...]
