---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-crazy-bouman\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"44f8f87f-d44a-468e-992c-d5c642eef108\",\"name\":\"tf-ns-crazy-bouman\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.584738239Z\",\"updated_at\":\"2025-09-01T15:54:50.584738239Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 11.433986455s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/44f8f87f-d44a-468e-992c-d5c642eef108
    method: GET
  response:
    body: "{\"id\":\"44f8f87f-d44a-468e-992c-d5c642eef108\",\"name\":\"tf-ns-crazy-bouman\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.584738Z\",\"updated_at\":\"2025-09-01T15:54:50.584738Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.851897ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"44f8f87f-d44a-468e-992c-d5c642eef108\",\"name\":\"my-container-with-cron-tf\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"03c0e8c1-d4e7-40c5-bb27-3966cb4306d9\",\"name\":\"my-container-with-cron-tf\",\"namespace_id\":\"44f8f87f-d44a-468e-992c-d5c642eef108\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscrazyboumanfube7zri/my-container-with-cron-tf:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscrazyboumanfube7zri-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:05.253516484Z\",\"updated_at\":\"2025-09-01T15:55:05.253516484Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.836788921s
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/03c0e8c1-d4e7-40c5-bb27-3966cb4306d9
    method: GET
  response:
    body: "{\"id\":\"03c0e8c1-d4e7-40c5-bb27-3966cb4306d9\",\"name\":\"my-container-with-cron-tf\",\"namespace_id\":\"44f8f87f-d44a-468e-992c-d5c642eef108\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscrazyboumanfube7zri/my-container-with-cron-tf:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscrazyboumanfube7zri-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:05.253516Z\",\"updated_at\":\"2025-09-01T15:55:05.253516Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 239.643734ms
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"container_id\":\"03c0e8c1-d4e7-40c5-bb27-3966cb4306d9\",\"schedule\":\"5 4 1 * *\",\"args\":{\"address\":{\"city\":\"Paris\",\"country\":\"FR\"},\"age\":23,\"firstName\":\"John\",\"isAlive\":true,\"lastName\":\"Smith\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: "{\"id\":\"b7ce6bbf-5372-4995-b0ef-9d9424843d3e\",\"container_id\":\"03c0e8c1-d4e7-40c5-bb27-3966cb4306d9\",\"schedule\":\"5 4 1 * *\",\"args\":{\"address\":{\"city\":\"Paris\",\"country\":\"FR\"},\"age\":23,\"firstName\":\"John\",\"isAlive\":true,\"lastName\":\"Smith\"},\"status\":\"pending\",\"name\":\"cron-b7ce6bbf-5372-4995-b0ef-9d9424843d3e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 266.162917ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/b7ce6bbf-5372-4995-b0ef-9d9424843d3e
    method: GET
  response:
    body: "{\"id\":\"b7ce6bbf-5372-4995-b0ef-9d9424843d3e\",\"container_id\":\"03c0e8c1-d4e7-40c5-bb27-3966cb4306d9\",\"schedule\":\"5 4 1 * *\",\"args\":{\"address\":{\"city\":\"Paris\",\"country\":\"FR\"},\"age\":23,\"firstName\":\"John\",\"isAlive\":true,\"lastName\":\"Smith\"},\"status\":\"ready\",\"name\":\"cron-b7ce6bbf-5372-4995-b0ef-9d9424843d3e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 268.435042ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"container_id\":\"03c0e8c1-d4e7-40c5-bb27-3966cb4306d9\",\"schedule\":\"5 4 * * 1\",\"args\":{\"test\":\"scw\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/b7ce6bbf-5372-4995-b0ef-9d9424843d3e
    method: PATCH
  response:
    body: "{\"id\":\"b7ce6bbf-5372-4995-b0ef-9d9424843d3e\",\"container_id\":\"03c0e8c1-d4e7-40c5-bb27-3966cb4306d9\",\"schedule\":\"5 4 * * 1\",\"args\":{\"test\":\"scw\"},\"status\":\"pending\",\"name\":\"cron-b7ce6bbf-5372-4995-b0ef-9d9424843d3e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 277.138525ms
[...]
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/44f8f87f-d44a-468e-992c-d5c642eef108
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.892298ms
[...]
