---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-happy-mayer","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:20.677254817Z","description":"","environment_variables":{},"error_message":null,"id":"72c9e571-c348-408c-97df-9d904293db4f","name":"tf-ns-happy-mayer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.677254817Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.335271667s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/72c9e571-c348-408c-97df-9d904293db4f
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:20.677255Z","description":"","environment_variables":{},"error_message":null,"id":"72c9e571-c348-408c-97df-9d904293db4f","name":"tf-ns-happy-mayer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.677255Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.272375ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"72c9e571-c348-408c-97df-9d904293db4f","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:31.437794091Z","description":"","domain_name":"tfnshappymayeryhrs4n2b-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5e76e197-6e26-4f49-978a-c0afe533a788","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"72c9e571-c348-408c-97df-9d904293db4f","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshappymayeryhrs4n2b/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:31.437794091Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 402.645917ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5e76e197-6e26-4f49-978a-c0afe533a788
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:31.437794Z","description":"","domain_name":"tfnshappymayeryhrs4n2b-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5e76e197-6e26-4f49-978a-c0afe533a788","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"72c9e571-c348-408c-97df-9d904293db4f","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshappymayeryhrs4n2b/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:31.437794Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.11625ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"container_id":"5e76e197-6e26-4f49-978a-c0afe533a788","schedule":"5 4 * * *","args":{"test":"scw"},"name":"tf-tests-container-cron-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"test":"scw"},"container_id":"5e76e197-6e26-4f49-978a-c0afe533a788","id":"c151e726-0004-4090-9e1d-6051e2be08a3","name":"tf-tests-container-cron-basic","schedule":"5 4 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.749375ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/c151e726-0004-4090-9e1d-6051e2be08a3
        method: GET
      response:
        body: '{"args":{"test":"scw"},"container_id":"5e76e197-6e26-4f49-978a-c0afe533a788","id":"c151e726-0004-4090-9e1d-6051e2be08a3","name":"tf-tests-container-cron-basic","schedule":"5 4 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.24325ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/72c9e571-c348-408c-97df-9d904293db4f
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.673542ms
[...]
