---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-quizzical-nobel","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.343394333Z","description":"","environment_variables":{},"error_message":null,"id":"1732421d-58af-4b37-ab1f-a138dda68cf0","name":"tf-ns-quizzical-nobel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.343394333Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 969.276916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1732421d-58af-4b37-ab1f-a138dda68cf0
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.343394Z","description":"","environment_variables":{},"error_message":null,"id":"1732421d-58af-4b37-ab1f-a138dda68cf0","name":"tf-ns-quizzical-nobel","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.343394Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.768375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"1732421d-58af-4b37-ab1f-a138dda68cf0","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.573131718Z","description":"","domain_name":"tfnsquizzicalnobelq4aextoz-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"732824f2-d0e1-43cb-8e3a-dce98dc443b9","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"1732421d-58af-4b37-ab1f-a138dda68cf0","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsquizzicalnobelq4aextoz/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.573131718Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 646.917667ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/732824f2-d0e1-43cb-8e3a-dce98dc443b9
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.573132Z","description":"","domain_name":"tfnsquizzicalnobelq4aextoz-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"732824f2-d0e1-43cb-8e3a-dce98dc443b9","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"1732421d-58af-4b37-ab1f-a138dda68cf0","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsquizzicalnobelq4aextoz/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.573132Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.496666ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"container_id":"732824f2-d0e1-43cb-8e3a-dce98dc443b9","schedule":"5 4 * * *","args":{"test":"scw"},"name":"tf-tests-container-cron-basic"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"test":"scw"},"container_id":"732824f2-d0e1-43cb-8e3a-dce98dc443b9","id":"8c9d6d52-337d-4334-9c0b-1667d856def8","name":"tf-tests-container-cron-basic","schedule":"5 4 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.109125ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/8c9d6d52-337d-4334-9c0b-1667d856def8
        method: GET
      response:
        body: '{"args":{"test":"scw"},"container_id":"732824f2-d0e1-43cb-8e3a-dce98dc443b9","id":"8c9d6d52-337d-4334-9c0b-1667d856def8","name":"tf-tests-container-cron-basic","schedule":"5 4 * * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.01275ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1732421d-58af-4b37-ab1f-a138dda68cf0
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.498708ms
[...]
