---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-vigorous-benz","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.278499805Z","description":"","environment_variables":{},"error_message":null,"id":"34594269-f6d6-4973-81e7-e8aa89beb825","name":"tf-ns-vigorous-benz","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.278499805Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 931.459541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/34594269-f6d6-4973-81e7-e8aa89beb825
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.278500Z","description":"","environment_variables":{},"error_message":null,"id":"34594269-f6d6-4973-81e7-e8aa89beb825","name":"tf-ns-vigorous-benz","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.278500Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.6655ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"34594269-f6d6-4973-81e7-e8aa89beb825","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.833469920Z","description":"","domain_name":"tfnsvigorousbenzcxr4zoly-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"d2562792-6988-4059-8647-6fd43f9abc6f","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"34594269-f6d6-4973-81e7-e8aa89beb825","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsvigorousbenzcxr4zoly/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.833469920Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 911.429583ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d2562792-6988-4059-8647-6fd43f9abc6f
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.833470Z","description":"","domain_name":"tfnsvigorousbenzcxr4zoly-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"d2562792-6988-4059-8647-6fd43f9abc6f","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"34594269-f6d6-4973-81e7-e8aa89beb825","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsvigorousbenzcxr4zoly/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.833470Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.294291ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"container_id":"d2562792-6988-4059-8647-6fd43f9abc6f","schedule":"5 4 1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"d2562792-6988-4059-8647-6fd43f9abc6f","id":"e1095853-6479-4944-9116-732dbc5d51ae","name":"cron-e1095853-6479-4944-9116-732dbc5d51ae","schedule":"5 4 1 * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.246167ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/e1095853-6479-4944-9116-732dbc5d51ae
        method: GET
      response:
        body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"d2562792-6988-4059-8647-6fd43f9abc6f","id":"e1095853-6479-4944-9116-732dbc5d51ae","name":"cron-e1095853-6479-4944-9116-732dbc5d51ae","schedule":"5 4 1 * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.943625ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"container_id":"d2562792-6988-4059-8647-6fd43f9abc6f","schedule":"5 4 * * 1","args":{"test":"scw"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/e1095853-6479-4944-9116-732dbc5d51ae
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"container_id":"d2562792-6988-4059-8647-6fd43f9abc6f","id":"e1095853-6479-4944-9116-732dbc5d51ae","name":"cron-e1095853-6479-4944-9116-732dbc5d51ae","schedule":"5 4 * * 1","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.596625ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/34594269-f6d6-4973-81e7-e8aa89beb825
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.91525ms
[...]
