---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-relaxed-pasteur\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"e63198db-b09e-4827-8921-9a352d7f59dc\", \"name\":\"tf-ns-relaxed-pasteur\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.030250318Z\", \"updated_at\":\"2025-10-31T16:31:05.030250318Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.986591686s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e63198db-b09e-4827-8921-9a352d7f59dc
    method: GET
  response:
    body: "{\"id\":\"e63198db-b09e-4827-8921-9a352d7f59dc\", \"name\":\"tf-ns-relaxed-pasteur\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.030250Z\", \"updated_at\":\"2025-10-31T16:31:05.030250Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.488471ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"e63198db-b09e-4827-8921-9a352d7f59dc\",\"name\":\"my-container-with-cron-tf\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"f21b936e-8109-4019-8c27-aa4b4182c6fd\", \"name\":\"my-container-with-cron-tf\", \"namespace_id\":\"e63198db-b09e-4827-8921-9a352d7f59dc\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsrelaxedpasteurexja20jg/my-container-with-cron-tf:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsrelaxedpasteurexja20jg-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.563832838Z\", \"updated_at\":\"2025-10-31T16:31:16.563832838Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 962.297573ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f21b936e-8109-4019-8c27-aa4b4182c6fd
    method: GET
  response:
    body: "{\"id\":\"f21b936e-8109-4019-8c27-aa4b4182c6fd\", \"name\":\"my-container-with-cron-tf\", \"namespace_id\":\"e63198db-b09e-4827-8921-9a352d7f59dc\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsrelaxedpasteurexja20jg/my-container-with-cron-tf:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsrelaxedpasteurexja20jg-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.563833Z\", \"updated_at\":\"2025-10-31T16:31:16.563833Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.967384ms
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"container_id\":\"f21b936e-8109-4019-8c27-aa4b4182c6fd\",\"schedule\":\"5 4 1 * *\",\"args\":{\"address\":{\"city\":\"Paris\",\"country\":\"FR\"},\"age\":23,\"firstName\":\"John\",\"isAlive\":true,\"lastName\":\"Smith\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: "{\"id\":\"c464250a-ca57-4bc4-87ff-d505577e4ed5\", \"container_id\":\"f21b936e-8109-4019-8c27-aa4b4182c6fd\", \"schedule\":\"5 4 1 * *\", \"args\":{\"address\":{\"city\":\"Paris\", \"country\":\"FR\"}, \"age\":23, \"firstName\":\"John\", \"isAlive\":true, \"lastName\":\"Smith\"}, \"status\":\"pending\", \"name\":\"cron-c464250a-ca57-4bc4-87ff-d505577e4ed5\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.549131ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/c464250a-ca57-4bc4-87ff-d505577e4ed5
    method: GET
  response:
    body: "{\"id\":\"c464250a-ca57-4bc4-87ff-d505577e4ed5\", \"container_id\":\"f21b936e-8109-4019-8c27-aa4b4182c6fd\", \"schedule\":\"5 4 1 * *\", \"args\":{\"address\":{\"city\":\"Paris\", \"country\":\"FR\"}, \"age\":23, \"firstName\":\"John\", \"isAlive\":true, \"lastName\":\"Smith\"}, \"status\":\"pending\", \"name\":\"cron-c464250a-ca57-4bc4-87ff-d505577e4ed5\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.467462ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"container_id\":\"f21b936e-8109-4019-8c27-aa4b4182c6fd\",\"schedule\":\"5 4 * * 1\",\"args\":{\"test\":\"scw\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/c464250a-ca57-4bc4-87ff-d505577e4ed5
    method: PATCH
  response:
    body: "{\"id\":\"c464250a-ca57-4bc4-87ff-d505577e4ed5\", \"container_id\":\"f21b936e-8109-4019-8c27-aa4b4182c6fd\", \"schedule\":\"5 4 * * 1\", \"args\":{\"test\":\"scw\"}, \"status\":\"pending\", \"name\":\"cron-c464250a-ca57-4bc4-87ff-d505577e4ed5\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.172672ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e63198db-b09e-4827-8921-9a352d7f59dc
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 101.241663ms
[...]
