---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-cron-multi-args","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"84fcc2f4-dcfc-43d6-897b-8eb601627763","name":"tf-acctest-cron-multi-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:25.841131Z","updated_at":"2026-05-05T14:42:25.841131Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 14.488992292s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/84fcc2f4-dcfc-43d6-897b-8eb601627763
        method: GET
      response:
        body: '{"id":"84fcc2f4-dcfc-43d6-897b-8eb601627763","name":"tf-acctest-cron-multi-args","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:25.841131Z","updated_at":"2026-05-05T14:42:25.841131Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.022812ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"84fcc2f4-dcfc-43d6-897b-8eb601627763","name":"my-container-with-cron-tf","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"fced8d67-3001-43e0-a7eb-e4b9273b626d","name":"my-container-with-cron-tf","namespace_id":"84fcc2f4-dcfc-43d6-897b-8eb601627763","description":"","status":"creating","created_at":"2026-05-05T14:42:32.570199Z","updated_at":"2026-05-05T14:42:32.570199Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcronmultiar84fcc2f4-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 999.560848ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/fced8d67-3001-43e0-a7eb-e4b9273b626d
        method: GET
      response:
        body: '{"id":"fced8d67-3001-43e0-a7eb-e4b9273b626d","name":"my-container-with-cron-tf","namespace_id":"84fcc2f4-dcfc-43d6-897b-8eb601627763","description":"","status":"creating","created_at":"2026-05-05T14:42:32.570199Z","updated_at":"2026-05-05T14:42:32.570199Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcronmultiar84fcc2f4-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.002416ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/fced8d67-3001-43e0-a7eb-e4b9273b626d
        method: GET
      response:
        body: '{"id":"fced8d67-3001-43e0-a7eb-e4b9273b626d","name":"my-container-with-cron-tf","namespace_id":"84fcc2f4-dcfc-43d6-897b-8eb601627763","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:32.570199Z","updated_at":"2026-05-05T14:42:48Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcronmultiar84fcc2f4-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.324982ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"container_id":"fced8d67-3001-43e0-a7eb-e4b9273b626d","name":"tf-cron-compassionate-minsky","tags":null,"cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"{\"address\":{\"city\":\"Paris\",\"country\":\"FR\"},\"age\":23,\"firstName\":\"John\",\"isAlive\":true,\"lastName\":\"Smith\"}","headers":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"203a6c10-d8f2-48be-998d-8a393d00eec5","name":"tf-cron-compassionate-minsky","description":"","tags":[],"status":"creating","container_id":"fced8d67-3001-43e0-a7eb-e4b9273b626d","destination_config":{"http_path":"/","http_method":"post"},"source_type":"cron","created_at":"2026-05-05T14:42:48.705849Z","updated_at":"2026-05-05T14:42:48.705849Z","cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"{\"address\":{\"city\":\"Paris\",\"country\":\"FR\"},\"age\":23,\"firstName\":\"John\",\"isAlive\":true,\"lastName\":\"Smith\"}","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.718951ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/203a6c10-d8f2-48be-998d-8a393d00eec5
        method: GET
      response:
        body: '{"id":"203a6c10-d8f2-48be-998d-8a393d00eec5","name":"tf-cron-compassionate-minsky","description":"","tags":[],"status":"creating","container_id":"fced8d67-3001-43e0-a7eb-e4b9273b626d","destination_config":{"http_path":"/","http_method":"post"},"source_type":"cron","created_at":"2026-05-05T14:42:48.705849Z","updated_at":"2026-05-05T14:42:48.705849Z","cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"{\"address\":{\"city\":\"Paris\",\"country\":\"FR\"},\"age\":23,\"firstName\":\"John\",\"isAlive\":true,\"lastName\":\"Smith\"}","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.268713ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"cron_config":{"schedule":"5 4 * * 1","timezone":null,"body":"{\"test\":\"scw\"}","headers":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/203a6c10-d8f2-48be-998d-8a393d00eec5
        method: PATCH
      response:
        body: '{"id":"203a6c10-d8f2-48be-998d-8a393d00eec5","name":"tf-cron-compassionate-minsky","description":"","tags":[],"status":"updating","container_id":"fced8d67-3001-43e0-a7eb-e4b9273b626d","destination_config":{"http_path":"/","http_method":"post"},"source_type":"cron","created_at":"2026-05-05T14:42:48.705849Z","updated_at":"2026-05-05T14:42:55.134520Z","cron_config":{"schedule":"5 4 * * 1","timezone":"Europe/Paris","body":"{\"test\":\"scw\"}","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.732631ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/84fcc2f4-dcfc-43d6-897b-8eb601627763
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"84fcc2f4-dcfc-43d6-897b-8eb601627763","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.354819ms
[...]
