---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-focused-jones","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:20.732670064Z","description":"","environment_variables":{},"error_message":null,"id":"2f2e3617-4f4a-4038-94ec-a5d7ab5c19e5","name":"tf-ns-focused-jones","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.732670064Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.336434167s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2f2e3617-4f4a-4038-94ec-a5d7ab5c19e5
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:20.732670Z","description":"","environment_variables":{},"error_message":null,"id":"2f2e3617-4f4a-4038-94ec-a5d7ab5c19e5","name":"tf-ns-focused-jones","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.732670Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.727042ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"2f2e3617-4f4a-4038-94ec-a5d7ab5c19e5","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:26.376230345Z","description":"","domain_name":"tfnsfocusedjonesfzpq8kct-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"ca23897a-a7ad-4a82-b137-27cca51391e7","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"2f2e3617-4f4a-4038-94ec-a5d7ab5c19e5","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfocusedjonesfzpq8kct/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:26.376230345Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.618083ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/ca23897a-a7ad-4a82-b137-27cca51391e7
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:26.376230Z","description":"","domain_name":"tfnsfocusedjonesfzpq8kct-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"ca23897a-a7ad-4a82-b137-27cca51391e7","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"2f2e3617-4f4a-4038-94ec-a5d7ab5c19e5","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfocusedjonesfzpq8kct/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:26.376230Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.872208ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"container_id":"ca23897a-a7ad-4a82-b137-27cca51391e7","schedule":"5 4 1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"ca23897a-a7ad-4a82-b137-27cca51391e7","id":"35bb8fe8-006d-4c42-b927-41a07ba21de3","name":"cron-35bb8fe8-006d-4c42-b927-41a07ba21de3","schedule":"5 4 1 * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.546542ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/35bb8fe8-006d-4c42-b927-41a07ba21de3
        method: GET
      response:
        body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"ca23897a-a7ad-4a82-b137-27cca51391e7","id":"35bb8fe8-006d-4c42-b927-41a07ba21de3","name":"cron-35bb8fe8-006d-4c42-b927-41a07ba21de3","schedule":"5 4 1 * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.596791ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"container_id":"ca23897a-a7ad-4a82-b137-27cca51391e7","schedule":"5 4 * * 1","args":{"test":"scw"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/35bb8fe8-006d-4c42-b927-41a07ba21de3
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"container_id":"ca23897a-a7ad-4a82-b137-27cca51391e7","id":"35bb8fe8-006d-4c42-b927-41a07ba21de3","name":"cron-35bb8fe8-006d-4c42-b927-41a07ba21de3","schedule":"5 4 * * 1","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.416833ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2f2e3617-4f4a-4038-94ec-a5d7ab5c19e5
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.449458ms
[...]
