---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-cron-basic","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"ac2aa07c-64db-4dbd-a9a5-0270954ed8ff","name":"tf-acctest-cron-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:08.260676Z","updated_at":"2026-05-05T14:43:08.260676Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.033934983s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ac2aa07c-64db-4dbd-a9a5-0270954ed8ff
        method: GET
      response:
        body: '{"id":"ac2aa07c-64db-4dbd-a9a5-0270954ed8ff","name":"tf-acctest-cron-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:08.260676Z","updated_at":"2026-05-05T14:43:08.260676Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.309349ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"ac2aa07c-64db-4dbd-a9a5-0270954ed8ff","name":"tf-co-fervent-knuth","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"a34fa732-6931-4bd3-8c0c-31da4f54d260","name":"tf-co-fervent-knuth","namespace_id":"ac2aa07c-64db-4dbd-a9a5-0270954ed8ff","description":"","status":"creating","created_at":"2026-05-05T14:43:15.152955Z","updated_at":"2026-05-05T14:43:15.152955Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcronbasicac2aa07c-tf-co-fervent-knuth.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.900435ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/a34fa732-6931-4bd3-8c0c-31da4f54d260
        method: GET
      response:
        body: '{"id":"a34fa732-6931-4bd3-8c0c-31da4f54d260","name":"tf-co-fervent-knuth","namespace_id":"ac2aa07c-64db-4dbd-a9a5-0270954ed8ff","description":"","status":"creating","created_at":"2026-05-05T14:43:15.152955Z","updated_at":"2026-05-05T14:43:15.152955Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcronbasicac2aa07c-tf-co-fervent-knuth.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.711441ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/a34fa732-6931-4bd3-8c0c-31da4f54d260
        method: GET
      response:
        body: '{"id":"a34fa732-6931-4bd3-8c0c-31da4f54d260","name":"tf-co-fervent-knuth","namespace_id":"ac2aa07c-64db-4dbd-a9a5-0270954ed8ff","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:43:15.152955Z","updated_at":"2026-05-05T14:43:29Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestcronbasicac2aa07c-tf-co-fervent-knuth.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.525819ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"container_id":"a34fa732-6931-4bd3-8c0c-31da4f54d260","name":"tf-tests-container-cron-basic","tags":null,"cron_config":{"schedule":"5 4 * * *","timezone":"Europe/Paris","body":"{\"test\":\"scw\"}","headers":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"378a0db5-9cba-47bf-87d7-577b48eefdc7","name":"tf-tests-container-cron-basic","description":"","tags":[],"status":"creating","container_id":"a34fa732-6931-4bd3-8c0c-31da4f54d260","destination_config":{"http_path":"/","http_method":"post"},"source_type":"cron","created_at":"2026-05-05T14:43:30.631597Z","updated_at":"2026-05-05T14:43:30.631597Z","cron_config":{"schedule":"5 4 * * *","timezone":"Europe/Paris","body":"{\"test\":\"scw\"}","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.251906ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/378a0db5-9cba-47bf-87d7-577b48eefdc7
        method: GET
      response:
        body: '{"id":"378a0db5-9cba-47bf-87d7-577b48eefdc7","name":"tf-tests-container-cron-basic","description":"","tags":[],"status":"creating","container_id":"a34fa732-6931-4bd3-8c0c-31da4f54d260","destination_config":{"http_path":"/","http_method":"post"},"source_type":"cron","created_at":"2026-05-05T14:43:30.631597Z","updated_at":"2026-05-05T14:43:30.631597Z","cron_config":{"schedule":"5 4 * * *","timezone":"Europe/Paris","body":"{\"test\":\"scw\"}","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.664748ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ac2aa07c-64db-4dbd-a9a5-0270954ed8ff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ac2aa07c-64db-4dbd-a9a5-0270954ed8ff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.501864ms
[...]
