---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-interesting-bartik","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:40.873326819Z","description":"","environment_variables":{},"error_message":null,"id":"d3220d1b-aadd-4201-8bc2-87a62beaf139","name":"tf-ns-interesting-bartik","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:40.873326819Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.893191757s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d3220d1b-aadd-4201-8bc2-87a62beaf139
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:40.873327Z","description":"","environment_variables":{},"error_message":null,"id":"d3220d1b-aadd-4201-8bc2-87a62beaf139","name":"tf-ns-interesting-bartik","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:40.873327Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.714624ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"d3220d1b-aadd-4201-8bc2-87a62beaf139","name":"my-container-with-cron-tf","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:07.424453167Z","description":"","domain_name":"tfnsinterestingbartirzq5ntud-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5c1cc97b-82ca-491b-b321-6403bb9a7015","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"d3220d1b-aadd-4201-8bc2-87a62beaf139","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsinterestingbartirzq5ntud/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:07.424453167Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 852.697727ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5c1cc97b-82ca-491b-b321-6403bb9a7015
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:07.424453Z","description":"","domain_name":"tfnsinterestingbartirzq5ntud-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5c1cc97b-82ca-491b-b321-6403bb9a7015","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"my-container-with-cron-tf","namespace_id":"d3220d1b-aadd-4201-8bc2-87a62beaf139","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsinterestingbartirzq5ntud/my-container-with-cron-tf:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:07.424453Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.426627ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"container_id":"5c1cc97b-82ca-491b-b321-6403bb9a7015","schedule":"5 4 1 * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
        method: POST
      response:
        body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"5c1cc97b-82ca-491b-b321-6403bb9a7015","id":"bb651f5b-6196-43f9-86c7-9981169641ad","name":"cron-bb651f5b-6196-43f9-86c7-9981169641ad","schedule":"5 4 1 * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.305141ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/bb651f5b-6196-43f9-86c7-9981169641ad
        method: GET
      response:
        body: '{"args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"container_id":"5c1cc97b-82ca-491b-b321-6403bb9a7015","id":"bb651f5b-6196-43f9-86c7-9981169641ad","name":"cron-bb651f5b-6196-43f9-86c7-9981169641ad","schedule":"5 4 1 * *","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.227759ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"container_id":"5c1cc97b-82ca-491b-b321-6403bb9a7015","schedule":"5 4 * * 1","args":{"test":"scw"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/bb651f5b-6196-43f9-86c7-9981169641ad
        method: PATCH
      response:
        body: '{"args":{"test":"scw"},"container_id":"5c1cc97b-82ca-491b-b321-6403bb9a7015","id":"bb651f5b-6196-43f9-86c7-9981169641ad","name":"cron-bb651f5b-6196-43f9-86c7-9981169641ad","schedule":"5 4 * * 1","status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.328427ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d3220d1b-aadd-4201-8bc2-87a62beaf139
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.570786ms
[...]
