---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-epic-shamir\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"867f08cf-c99a-447c-89d4-78112748be18\", \"name\":\"tf-ns-epic-shamir\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.229529072Z\", \"updated_at\":\"2025-10-31T16:31:05.229529072Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.22773501s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/867f08cf-c99a-447c-89d4-78112748be18
    method: GET
  response:
    body: "{\"id\":\"867f08cf-c99a-447c-89d4-78112748be18\", \"name\":\"tf-ns-epic-shamir\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.229529Z\", \"updated_at\":\"2025-10-31T16:31:05.229529Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 86.128795ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"867f08cf-c99a-447c-89d4-78112748be18\",\"name\":\"my-container-with-cron-tf\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"fdb905fa-2e16-4293-ae1f-e4b9bce7106d\", \"name\":\"my-container-with-cron-tf\", \"namespace_id\":\"867f08cf-c99a-447c-89d4-78112748be18\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsepicshamirnbmpfpxp/my-container-with-cron-tf:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsepicshamirnbmpfpxp-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:11.426176447Z\", \"updated_at\":\"2025-10-31T16:31:11.426176447Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 676.053786ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/fdb905fa-2e16-4293-ae1f-e4b9bce7106d
    method: GET
  response:
    body: "{\"id\":\"fdb905fa-2e16-4293-ae1f-e4b9bce7106d\", \"name\":\"my-container-with-cron-tf\", \"namespace_id\":\"867f08cf-c99a-447c-89d4-78112748be18\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsepicshamirnbmpfpxp/my-container-with-cron-tf:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsepicshamirnbmpfpxp-my-container-with-cron-tf.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:11.426176Z\", \"updated_at\":\"2025-10-31T16:31:11.426176Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.364351ms
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"container_id\":\"fdb905fa-2e16-4293-ae1f-e4b9bce7106d\",\"schedule\":\"5 4 * * *\",\"args\":{\"test\":\"scw\"},\"name\":\"tf-tests-container-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: "{\"id\":\"831f7b44-9d19-4598-bfa2-027bf53ca578\", \"container_id\":\"fdb905fa-2e16-4293-ae1f-e4b9bce7106d\", \"schedule\":\"5 4 * * *\", \"args\":{\"test\":\"scw\"}, \"status\":\"pending\", \"name\":\"tf-tests-container-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.661537ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/crons/831f7b44-9d19-4598-bfa2-027bf53ca578
    method: GET
  response:
    body: "{\"id\":\"831f7b44-9d19-4598-bfa2-027bf53ca578\", \"container_id\":\"fdb905fa-2e16-4293-ae1f-e4b9bce7106d\", \"schedule\":\"5 4 * * *\", \"args\":{\"test\":\"scw\"}, \"status\":\"pending\", \"name\":\"tf-tests-container-cron-basic\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.036496ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/867f08cf-c99a-447c-89d4-78112748be18
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 18.963845ms
[...]
