---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-happy-gould","environment_variables":{},"project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-15T14:43:21.307205802Z","description":"","environment_variables":{},"error_message":null,"id":"c3c7af1b-4e47-45af-99da-e8a3bb5a5c86","name":"tf-ns-happy-gould","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-15T14:43:21.307205802Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.462875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c3c7af1b-4e47-45af-99da-e8a3bb5a5c86
        method: GET
      response:
        body: '{"created_at":"2025-01-15T14:43:21.307206Z","description":"","environment_variables":{},"error_message":null,"id":"c3c7af1b-4e47-45af-99da-e8a3bb5a5c86","name":"tf-ns-happy-gould","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-15T14:43:21.307206Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.378291ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"c3c7af1b-4e47-45af-99da-e8a3bb5a5c86","name":"tf-co-hardcore-agnesi","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-15T14:43:58.056116619Z","description":"","domain_name":"tfnshappygouldsn1vqbrl-tf-co-hardcore-agnesi.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"93e0702b-9a39-4ee2-be0c-d43edb3eff3c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-hardcore-agnesi","namespace_id":"c3c7af1b-4e47-45af-99da-e8a3bb5a5c86","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshappygouldsn1vqbrl/tf-co-hardcore-agnesi:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-15T14:43:58.056116619Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.138833ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/93e0702b-9a39-4ee2-be0c-d43edb3eff3c
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-15T14:43:58.056117Z","description":"","domain_name":"tfnshappygouldsn1vqbrl-tf-co-hardcore-agnesi.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"93e0702b-9a39-4ee2-be0c-d43edb3eff3c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-hardcore-agnesi","namespace_id":"c3c7af1b-4e47-45af-99da-e8a3bb5a5c86","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnshappygouldsn1vqbrl/tf-co-hardcore-agnesi:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-15T14:43:58.056117Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.921417ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c3c7af1b-4e47-45af-99da-e8a3bb5a5c86
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.563125ms
[...]
