---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-cr-data","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"cc276ec9-9b18-41e2-957d-e042b1977ec3", "name":"test-cr-data", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:14.296065Z", "updated_at":"2026-04-20T12:59:14.296065Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.118637957s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/cc276ec9-9b18-41e2-957d-e042b1977ec3
        method: GET
      response:
        body: '{"id":"cc276ec9-9b18-41e2-957d-e042b1977ec3", "name":"test-cr-data", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:14.296065Z", "updated_at":"2026-04-20T12:59:14.296065Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.715929ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - test-cr-data
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"id":"7d69e92a-2a77-4990-b1a9-4f3328288562", "name":"test-logs", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-02T14:39:58.610096Z", "updated_at":"2026-04-02T14:39:58.610096Z", "region":"fr-par"}, {"id":"08795313-7d08-4a6b-9dd6-f3643b28ae73", "name":"cli-cns-practical-thompson", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-09T13:29:14.902511Z", "updated_at":"2026-04-09T13:29:14.902511Z", "region":"fr-par"}, {"id":"294d85ae-7daa-442d-b5c6-62f6bea9a306", "name":"test-secret-ns", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"updating", "environment_variables":{}, "secret_environment_variables":{"SECRET_1":"$argon2id$v=19$m=65536,t=3,p=64$27Mh8CUFWIMTHs9TPBdDjA$8lncsDM6Hhh4vMC+mFtiGD1rysNfCqE/6oVunh8KW/I", "SECRET_2":"$argon2id$v=19$m=65536,t=3,p=64$hrzIHDkclSPSTcJSdIk/lQ$DeRm3u1D0/HW2QF0V7nZsA0qPG/cXFiEb2OjTDid+jk"}, "tags":[], "created_at":"2026-04-20T12:59:10.654964Z", "updated_at":"2026-04-20T12:59:19.240348Z", "region":"fr-par"}, {"id":"54233f6d-b955-4f2c-a189-79bd36129c00", "name":"test-cr-ns-01", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"test container namespace 01", "status":"ready", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:12.830852Z", "updated_at":"2026-04-20T12:59:19.377593Z", "region":"fr-par"}, {"id":"5ac102a1-4e6b-487c-8a23-f94721271831", "name":"tf-ns-gracious-stallman", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:13.375073Z", "updated_at":"2026-04-20T12:59:13.375073Z", "region":"fr-par"}, {"id":"cc276ec9-9b18-41e2-957d-e042b1977ec3", "name":"test-cr-data", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"ready", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:14.296065Z", "updated_at":"2026-04-20T12:59:14.296065Z", "region":"fr-par"}], "total_count":6}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.14004ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/cc276ec9-9b18-41e2-957d-e042b1977ec3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"cc276ec9-9b18-41e2-957d-e042b1977ec3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.064831ms
[...]
