---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-datasource-scalingoption","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"e0dda080-7d03-436f-9b3f-a80d94354a36","name":"tf-test-datasource-scalingoption","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:05.800264Z","updated_at":"2026-05-05T14:43:05.800264Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.240988108s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e0dda080-7d03-436f-9b3f-a80d94354a36
        method: GET
      response:
        body: '{"id":"e0dda080-7d03-436f-9b3f-a80d94354a36","name":"tf-test-datasource-scalingoption","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:05.800264Z","updated_at":"2026-05-05T14:43:05.800264Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.18929ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"e0dda080-7d03-436f-9b3f-a80d94354a36","name":"tf-co-hungry-hermann","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"f59d15a3-8975-426f-a828-ce85945b42ce","name":"tf-co-hungry-hermann","namespace_id":"e0dda080-7d03-436f-9b3f-a80d94354a36","description":"","status":"creating","created_at":"2026-05-05T14:43:11.563035Z","updated_at":"2026-05-05T14:43:11.563035Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourcescale0dda080-tf-co-hungry-hermann.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.536654ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/f59d15a3-8975-426f-a828-ce85945b42ce
        method: GET
      response:
        body: '{"id":"f59d15a3-8975-426f-a828-ce85945b42ce","name":"tf-co-hungry-hermann","namespace_id":"e0dda080-7d03-436f-9b3f-a80d94354a36","description":"","status":"creating","created_at":"2026-05-05T14:43:11.563035Z","updated_at":"2026-05-05T14:43:11.563035Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourcescale0dda080-tf-co-hungry-hermann.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.963921ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/f59d15a3-8975-426f-a828-ce85945b42ce
        method: GET
      response:
        body: '{"id":"f59d15a3-8975-426f-a828-ce85945b42ce","name":"tf-co-hungry-hermann","namespace_id":"e0dda080-7d03-436f-9b3f-a80d94354a36","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:43:11.563035Z","updated_at":"2026-05-05T14:43:28Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourcescale0dda080-tf-co-hungry-hermann.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.737128ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e0dda080-7d03-436f-9b3f-a80d94354a36
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"e0dda080-7d03-436f-9b3f-a80d94354a36","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.190978ms
[...]
