---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-datasource-basic","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"b201aa9b-db14-4270-a29e-78c25490123a","name":"tf-test-datasource-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:22.180143Z","updated_at":"2026-05-05T14:43:22.180143Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 894.935641ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b201aa9b-db14-4270-a29e-78c25490123a
        method: GET
      response:
        body: '{"id":"b201aa9b-db14-4270-a29e-78c25490123a","name":"tf-test-datasource-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:22.180143Z","updated_at":"2026-05-05T14:43:22.180143Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.051576ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"b201aa9b-db14-4270-a29e-78c25490123a","name":"test-container-data","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"e943d94c-dcb8-4670-b8ae-8efa3cd6baef","name":"test-container-data","namespace_id":"b201aa9b-db14-4270-a29e-78c25490123a","description":"","status":"creating","created_at":"2026-05-05T14:43:27.793871Z","updated_at":"2026-05-05T14:43:27.793871Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourcebasib201aa9b-test-container-data.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.695817ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/e943d94c-dcb8-4670-b8ae-8efa3cd6baef
        method: GET
      response:
        body: '{"id":"e943d94c-dcb8-4670-b8ae-8efa3cd6baef","name":"test-container-data","namespace_id":"b201aa9b-db14-4270-a29e-78c25490123a","description":"","status":"creating","created_at":"2026-05-05T14:43:27.793871Z","updated_at":"2026-05-05T14:43:27.793871Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourcebasib201aa9b-test-container-data.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.925932ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/e943d94c-dcb8-4670-b8ae-8efa3cd6baef
        method: GET
      response:
        body: '{"id":"e943d94c-dcb8-4670-b8ae-8efa3cd6baef","name":"test-container-data","namespace_id":"b201aa9b-db14-4270-a29e-78c25490123a","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:43:27.793871Z","updated_at":"2026-05-05T14:43:34Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourcebasib201aa9b-test-container-data.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.496539ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - test-container-data
            namespace_id:
                - b201aa9b-db14-4270-a29e-78c25490123a
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers?name=test-container-data&namespace_id=b201aa9b-db14-4270-a29e-78c25490123a&order_by=created_at_asc
        method: GET
      response:
        body: '{"containers":[{"id":"e943d94c-dcb8-4670-b8ae-8efa3cd6baef","name":"test-container-data","namespace_id":"b201aa9b-db14-4270-a29e-78c25490123a","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:43:27.793871Z","updated_at":"2026-05-05T14:43:34Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourcebasib201aa9b-test-container-data.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.034775ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b201aa9b-db14-4270-a29e-78c25490123a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"b201aa9b-db14-4270-a29e-78c25490123a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.050676ms
[...]
