---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-acctest-datasource-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","id":"f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","name":"tf-acctest-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T12:43:46.192309Z","updated_at":"2026-09-24T12:43:46.192309Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 174.762607ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 6.72694ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f91cf9cd-33ac-4b0f-b148-a64ca3666ed5
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","id":"f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","name":"tf-acctest-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T12:43:46.192309Z","updated_at":"2026-09-24T12:43:46.192309Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.490225ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-datasource-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"subnets":null,"vpc_id":"f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/002bceb0-0b89-4339-952e-1ccee8bc77e4","id":"002bceb0-0b89-4339-952e-1ccee8bc77e4","name":"test-acc-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-09-24T12:43:46.395718Z","updated_at":"2026-09-24T12:43:46.395718Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/3616f499-adee-42d9-958e-076a74c739a6","id":"3616f499-adee-42d9-958e-076a74c739a6","created_at":"2026-09-24T12:43:46.395718Z","updated_at":"2026-09-24T12:43:46.395718Z","subnet":"172.16.12.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"002bceb0-0b89-4339-952e-1ccee8bc77e4","vpc_id":"f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/08c51c64-e36a-412c-b282-5e96a92d7604","id":"08c51c64-e36a-412c-b282-5e96a92d7604","created_at":"2026-09-24T12:43:46.395718Z","updated_at":"2026-09-24T12:43:46.395718Z","subnet":"fdb9:eb31:3ccc:25ee::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"002bceb0-0b89-4339-952e-1ccee8bc77e4","vpc_id":"f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","region":"fr-par"}],"vpc_id":"f91cf9cd-33ac-4b0f-b148-a64ca3666ed5","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 586.404754ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/002bceb0-0b89-4339-952e-1ccee8bc77e4
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/002bceb0-0b89-4339-952e-1ccee8bc77e4","id":"002bceb0-0b89-4339-952e-1ccee8bc77e4","name":"test-acc-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"tf-acctest-datasource-container-private-endpoint","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"6d7b3cba-ffdc-4807-a87a-7713c3244d44","name":"tf-acctest-datasource-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-09-24T12:43:50.987311Z","updated_at":"2026-09-24T12:43:50.987311Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 6.484412907s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/6d7b3cba-ffdc-4807-a87a-7713c3244d44
        method: GET
      response:
        body: '{"id":"6d7b3cba-ffdc-4807-a87a-7713c3244d44","name":"tf-acctest-datasource-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-09-24T12:43:50.987311Z","updated_at":"2026-09-24T12:43:50.987311Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.885518ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"6d7b3cba-ffdc-4807-a87a-7713c3244d44","name":"tf-co-stupefied-tharp","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"private_network_id":"002bceb0-0b89-4339-952e-1ccee8bc77e4","command":null,"args":null,"enable_private_endpoint":true,"enable_default_public_endpoint":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"9429da34-0cdb-4402-897f-dfa6c32f6bd7","name":"tf-co-stupefied-tharp","namespace_id":"6d7b3cba-ffdc-4807-a87a-7713c3244d44","description":"","status":"creating","created_at":"2026-09-24T12:43:57.833653Z","updated_at":"2026-09-24T12:43:57.833653Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"002bceb0-0b89-4339-952e-1ccee8bc77e4","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestdatasourcec6d7b3cba-tf-co-stupefied-tharp.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://9429da34-0cdb-4402-897f-dfa6c32f6bd7.002bceb0-0b89-4339-952e-1ccee8bc77e4.internal","default_public_endpoint_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 377.895274ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9429da34-0cdb-4402-897f-dfa6c32f6bd7
        method: GET
      response:
        body: '{"id":"9429da34-0cdb-4402-897f-dfa6c32f6bd7","name":"tf-co-stupefied-tharp","namespace_id":"6d7b3cba-ffdc-4807-a87a-7713c3244d44","description":"","status":"creating","created_at":"2026-09-24T12:43:57.833653Z","updated_at":"2026-09-24T12:43:57.833653Z","min_[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9429da34-0cdb-4402-897f-dfa6c32f6bd7
        method: GET
      response:
        body: '{"id":"9429da34-0cdb-4402-897f-dfa6c32f6bd7","name":"tf-co-stupefied-tharp","namespace_id":"6d7b3cba-ffdc-4807-a87a-7713c3244d44","description":"","status":"ready","error_message":"","created_at":"2026-09-24T12:43:57.833653Z","updated_at":"2026-09-24T12:44:45Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"002bceb0-0b89-4339-952e-1ccee8bc77e4","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestdatasourcec6d7b3cba-tf-co-stupefied-tharp.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://9429da34-0cdb-4402-897f-dfa6c32f6bd7.002bceb0-0b89-4339-952e-1ccee8bc77e4.internal","default_public_endpoint_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 71.36456ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/002bceb0-0b89-4339-952e-1ccee8bc77e4
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 412 Precondition Failed
        code: 412
        duration: 448.578653ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/6d7b3cba-ffdc-4807-a87a-7713c3244d44
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"6d7b3cba-ffdc-4807-a87a-7713c3244d44","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 40.325221ms
[...]
