---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-datasource-healthcheck","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"e013adef-aeba-4070-8e22-9f6704527ab3","name":"tf-test-datasource-healthcheck","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:06.768520Z","updated_at":"2026-05-05T14:43:06.768520Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.339937638s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e013adef-aeba-4070-8e22-9f6704527ab3
        method: GET
      response:
        body: '{"id":"e013adef-aeba-4070-8e22-9f6704527ab3","name":"tf-test-datasource-healthcheck","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:43:06.768520Z","updated_at":"2026-05-05T14:43:06.768520Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.454324ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"e013adef-aeba-4070-8e22-9f6704527ab3","name":"tf-co-keen-blackwell","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"7106da9c-e397-4573-bc6d-f44556514e09","name":"tf-co-keen-blackwell","namespace_id":"e013adef-aeba-4070-8e22-9f6704527ab3","description":"","status":"creating","created_at":"2026-05-05T14:43:12.924701Z","updated_at":"2026-05-05T14:43:12.924701Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourceheale013adef-tf-co-keen-blackwell.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.750475ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/7106da9c-e397-4573-bc6d-f44556514e09
        method: GET
      response:
        body: '{"id":"7106da9c-e397-4573-bc6d-f44556514e09","name":"tf-co-keen-blackwell","namespace_id":"e013adef-aeba-4070-8e22-9f6704527ab3","description":"","status":"creating","created_at":"2026-05-05T14:43:12.924701Z","updated_at":"2026-05-05T14:43:12.924701Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourceheale013adef-tf-co-keen-blackwell.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.733553ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/7106da9c-e397-4573-bc6d-f44556514e09
        method: GET
      response:
        body: '{"id":"7106da9c-e397-4573-bc6d-f44556514e09","name":"tf-co-keen-blackwell","namespace_id":"e013adef-aeba-4070-8e22-9f6704527ab3","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:43:12.924701Z","updated_at":"2026-05-05T14:43:31Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdatasourceheale013adef-tf-co-keen-blackwell.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.752262ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/e013adef-aeba-4070-8e22-9f6704527ab3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"e013adef-aeba-4070-8e22-9f6704527ab3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.034493ms
[...]
