---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-acctest-datasource-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"enable_routing":false,"enable_transitivity":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/19219a3a-9501-4fae-82fd-61d61472f722","id":"19219a3a-9501-4fae-82fd-61d61472f722","name":"tf-acctest-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-01T12:39:44.019893Z","updated_at":"2026-10-01T12:39:44.019893Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 168.226339ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 10.241999ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/19219a3a-9501-4fae-82fd-61d61472f722
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/vpcs/19219a3a-9501-4fae-82fd-61d61472f722","id":"19219a3a-9501-4fae-82fd-61d61472f722","name":"tf-acctest-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-01T12:39:44.019893Z","updated_at":"2026-10-01T12:39:44.019893Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"transitivity_enabled":false,"object_storage_private_access_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 30.799076ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-datasource-container-private-endpoint","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","tags":[],"subnets":null,"vpc_id":"19219a3a-9501-4fae-82fd-61d61472f722","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/475c9ff6-dfdf-420f-9360-c6f4a364bb26","id":"475c9ff6-dfdf-420f-9360-c6f4a364bb26","name":"test-acc-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","created_at":"2026-10-01T12:39:44.208343Z","updated_at":"2026-10-01T12:39:44.208343Z","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","subnets":[{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/46617c65-30f9-4e6e-974d-686742885b14","id":"46617c65-30f9-4e6e-974d-686742885b14","created_at":"2026-10-01T12:39:44.208343Z","updated_at":"2026-10-01T12:39:44.208343Z","subnet":"172.16.28.0/22","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"475c9ff6-dfdf-420f-9360-c6f4a364bb26","vpc_id":"19219a3a-9501-4fae-82fd-61d61472f722","region":"fr-par"},{"srn":"srn://vpc.scw.eu/regions/fr-par/subnets/0de2b76b-75e8-45be-a36b-09d269b8e65c","id":"0de2b76b-75e8-45be-a36b-09d269b8e65c","created_at":"2026-10-01T12:39:44.208343Z","updated_at":"2026-10-01T12:39:44.208343Z","subnet":"fdb9:eb31:3ccc:12f4::/64","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","private_network_id":"475c9ff6-dfdf-420f-9360-c6f4a364bb26","vpc_id":"19219a3a-9501-4fae-82fd-61d61472f722","region":"fr-par"}],"vpc_id":"19219a3a-9501-4fae-82fd-61d61472f722","dhcp_enabled":true,"default_route_propagation_enabled":false,"has_object_storage_private_access":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 904.459211ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","name":"tf-acctest-datasource-container-private-endpoint","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"60f1e73c-83f8-408c-9c14-c423b14f34a3","name":"tf-acctest-datasource-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-10-01T12:39:44.183241Z","updated_at":"2026-10-01T12:39:44.183241Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.122755241s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/60f1e73c-83f8-408c-9c14-c423b14f34a3
        method: GET
      response:
        body: '{"id":"60f1e73c-83f8-408c-9c14-c423b14f34a3","name":"tf-acctest-datasource-container-private-endpoint","organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","project_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-10-01T12:39:44.183241Z","updated_at":"2026-10-01T12:39:44.183241Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.541593ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/475c9ff6-dfdf-420f-9360-c6f4a364bb26
        method: GET
      response:
        body: '{"srn":"srn://vpc.scw.eu/regions/fr-par/private-networks/475c9ff6-dfdf-420f-9360-c6f4a364bb26","id":"475c9ff6-dfdf-420f-9360-c6f4a364bb26","name":"test-acc-datasource-container-private-endpoint","tags":[],"organization_id":"de2b260d-2c2e-4be9-baa0-99d8ed17f1da[...]
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"60f1e73c-83f8-408c-9c14-c423b14f34a3","name":"tf-co-happy-curran","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"private_network_id":"475c9ff6-dfdf-420f-9360-c6f4a364bb26","command":null,"args":null,"enable_private_endpoint":true,"enable_default_public_endpoint":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"cbd9c9ee-bc29-45ea-83d5-4ea492571ee5","name":"tf-co-happy-curran","namespace_id":"60f1e73c-83f8-408c-9c14-c423b14f34a3","description":"","status":"creating","created_at":"2026-10-01T12:39:50.386037Z","updated_at":"2026-10-01T12:39:50.386037Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"475c9ff6-dfdf-420f-9360-c6f4a364bb26","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestdatasourcec60f1e73c-tf-co-happy-curran.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://cbd9c9ee-bc29-45ea-83d5-4ea492571ee5.475c9ff6-dfdf-420f-9360-c6f4a364bb26.internal","default_public_endpoint_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 574.261781ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/cbd9c9ee-bc29-45ea-83d5-4ea492571ee5
        method: GET
      response:
        body: '{"id":"cbd9c9ee-bc29-45ea-83d5-4ea492571ee5","name":"tf-co-happy-curran","namespace_id":"60f1e73c-83f8-408c-9c14-c423b14f34a3","description":"","status":"creating","created_at":"2026-10-01T12:39:50.386037Z","updated_at":"2026-10-01T12:39:50.386037Z","min_sca[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/cbd9c9ee-bc29-45ea-83d5-4ea492571ee5
        method: GET
      response:
        body: '{"id":"cbd9c9ee-bc29-45ea-83d5-4ea492571ee5","name":"tf-co-happy-curran","namespace_id":"60f1e73c-83f8-408c-9c14-c423b14f34a3","description":"","status":"ready","error_message":"","created_at":"2026-10-01T12:39:50.386037Z","updated_at":"2026-10-01T12:40:14Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"private_network_id":"475c9ff6-dfdf-420f-9360-c6f4a364bb26","command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctestdatasourcec60f1e73c-tf-co-happy-curran.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"private_endpoint":"http://cbd9c9ee-bc29-45ea-83d5-4ea492571ee5.475c9ff6-dfdf-420f-9360-c6f4a364bb26.internal","default_public_endpoint_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 63.512005ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/475c9ff6-dfdf-420f-9360-c6f4a364bb26
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 412 Precondition Failed
        code: 412
        duration: 509.76123ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/60f1e73c-83f8-408c-9c14-c423b14f34a3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"60f1e73c-83f8-408c-9c14-c423b14f34a3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 36.288941ms
[...]
