---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-data","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-12-26T10:05:34.490646182Z","description":"","environment_variables":{},"error_message":null,"id":"c56942a4-2a63-4f14-8711-948a60c1a596","name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2024-12-26T10:05:34.490646182Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 532.607167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c56942a4-2a63-4f14-8711-948a60c1a596
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:05:34.490646Z","description":"","environment_variables":{},"error_message":null,"id":"c56942a4-2a63-4f14-8711-948a60c1a596","name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2024-12-26T10:05:34.490646Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.503083ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"created_at":"2024-12-26T10:05:34.490646Z","description":"","environment_variables":{},"error_message":null,"id":"c56942a4-2a63-4f14-8711-948a60c1a596","name":"test-cr-data","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrdata3azvlvfs","registry_namespace_id":"a626572b-d4c3-4404-b466-39ce2968e54d","secret_environment_variables":[],"status":"ready","tags":[],"updated_at":"2024-12-26T10:05:35.859356Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.128667ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c56942a4-2a63-4f14-8711-948a60c1a596
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.030791ms
[...]
