---
version: 2
interactions:
- request:
    body: '{"name":"tf-ns-affectionate-shtern","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c4c3132d-95f8-4344-8330-215b42580346","name":"tf-ns-affectionate-shtern","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c4c3132d-95f8-4344-8330-215b42580346
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c4c3132d-95f8-4344-8330-215b42580346","name":"tf-ns-affectionate-shtern","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"namespace_id":"c4c3132d-95f8-4344-8330-215b42580346","name":"test-container-data","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsaffectionateshte46tdxpkn-test-container-data.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"9008ef7a-b9a1-4edb-b459-5e10a33f8ac6","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"test-container-data","namespace_id":"c4c3132d-95f8-4344-8330-215b42580346","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsaffectionateshte46tdxpkn/test-container-data:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9008ef7a-b9a1-4edb-b459-5e10a33f8ac6
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnsaffectionateshte46tdxpkn-test-container-data.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"9008ef7a-b9a1-4edb-b459-5e10a33f8ac6","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"test-container-data","namespace_id":"c4c3132d-95f8-4344-8330-215b42580346","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsaffectionateshte46tdxpkn/test-container-data:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=test-container-data&namespace_id=c4c3132d-95f8-4344-8330-215b42580346&order_by=created_at_asc
    method: GET
  response:
    body: '{"containers":[{"cpu_limit":140,"description":"","domain_name":"tfnsaffectionateshte46tdxpkn-test-container-data.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"9008ef7a-b9a1-4edb-b459-5e10a33f8ac6","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"test-container-data","namespace_id":"c4c3132d-95f8-4344-8330-215b42580346","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsaffectionateshte46tdxpkn/test-container-data:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c4c3132d-95f8-4344-8330-215b42580346
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
