---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-cr-data","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"ec5ec523-5891-442e-a572-32519dc1ee5d","name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:15.992389Z","updated_at":"2026-05-05T14:42:15.992389Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.771911186s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ec5ec523-5891-442e-a572-32519dc1ee5d
        method: GET
      response:
        body: '{"id":"ec5ec523-5891-442e-a572-32519dc1ee5d","name":"test-cr-data","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:15.992389Z","updated_at":"2026-05-05T14:42:15.992389Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.08438ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - test-cr-data
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
        method: GET
      response:
        body: '{"namespaces":[{"id":"e655373c-b27f-4096-b60e-3c519973294c","name":"tf-acctest-env","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"ready","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:12.873213Z","updated_at":"2026-05-05T14:42:12.873213Z","region":"fr-par"},{"id":"d054c7c0-6fc3-44a0-8471-0d06d9dda987","name":"tf-acctest-trigger-nats","organization_id":"105bdce1-64c0-[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ec5ec523-5891-442e-a572-32519dc1ee5d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ec5ec523-5891-442e-a572-32519dc1ee5d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.343251ms
[...]
