---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-data\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"406a5344-2a59-439d-a78a-0845a6a3d637\", \"name\":\"test-cr-data\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:14.742286519Z\", \"updated_at\":\"2025-10-31T16:31:14.742286519Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.570826198s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/406a5344-2a59-439d-a78a-0845a6a3d637
    method: GET
  response:
    body: "{\"id\":\"406a5344-2a59-439d-a78a-0845a6a3d637\", \"name\":\"test-cr-data\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:14.742287Z\", \"updated_at\":\"2025-10-31T16:31:14.742287Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.316748ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - test-cr-data
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
    method: GET
  response:
    body: "{\"namespaces\":[{\"id\":\"406a5344-2a59-439d-a78a-0845a6a3d637\", \"name\":\"test-cr-data\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"ready\", \"registry_namespace_id\":\"22965b41-19d3-495d-a8c4-3e8505bd62d7\", \"error_message\":null, \"registry_endpoint\":\"rg.fr-par.scw.cloud/funcscwtestcrdatakc0jsenu\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:14.742287Z\", \"updated_at\":\"2025-10-31T16:31:31.122877Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.274136ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/406a5344-2a59-439d-a78a-0845a6a3d637
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.229711ms
[...]
