---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-recursing-meninsky","environment_variables":{},"project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-16T10:19:12.487939807Z","description":"","environment_variables":{},"error_message":null,"id":"ee1cc53d-416f-42c5-80db-9876f49941b6","name":"tf-ns-recursing-meninsky","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-16T10:19:12.487939807Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 435.492583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ee1cc53d-416f-42c5-80db-9876f49941b6
        method: GET
      response:
        body: '{"created_at":"2025-01-16T10:19:12.487940Z","description":"","environment_variables":{},"error_message":null,"id":"ee1cc53d-416f-42c5-80db-9876f49941b6","name":"tf-ns-recursing-meninsky","organization_id":"c252b25c-29e2-4ee0-a1ea-ea9840df7bba","project_id":"d7c3e412-ea77-486f-8b36-2b40967ca636","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-16T10:19:12.487940Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.161042ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"ee1cc53d-416f-42c5-80db-9876f49941b6","name":"tf-co-pedantic-feynman","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-16T10:19:18.026133228Z","description":"","domain_name":"tfnsrecursingmeninskriz6ksue-tf-co-pedantic-feynman.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"ee289584-2c21-49b4-8d7f-dc1191d0f23e","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-pedantic-feynman","namespace_id":"ee1cc53d-416f-42c5-80db-9876f49941b6","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrecursingmeninskriz6ksue/tf-co-pedantic-feynman:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-16T10:19:18.026133228Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.538167ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/ee289584-2c21-49b4-8d7f-dc1191d0f23e
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-16T10:19:18.026133Z","description":"","domain_name":"tfnsrecursingmeninskriz6ksue-tf-co-pedantic-feynman.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"ee289584-2c21-49b4-8d7f-dc1191d0f23e","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-pedantic-feynman","namespace_id":"ee1cc53d-416f-42c5-80db-9876f49941b6","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrecursingmeninskriz6ksue/tf-co-pedantic-feynman:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-16T10:19:18.026133Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.85875ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ee1cc53d-416f-42c5-80db-9876f49941b6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.735833ms
[...]
