---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-flamboyant-fermat","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.306737749Z","description":"","environment_variables":{},"error_message":null,"id":"9221ae3f-2829-4d59-8e25-74fe97c3ad8c","name":"tf-ns-flamboyant-fermat","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.306737749Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 981.345625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9221ae3f-2829-4d59-8e25-74fe97c3ad8c
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.306738Z","description":"","environment_variables":{},"error_message":null,"id":"9221ae3f-2829-4d59-8e25-74fe97c3ad8c","name":"tf-ns-flamboyant-fermat","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.306738Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.048041ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"9221ae3f-2829-4d59-8e25-74fe97c3ad8c","name":"test-container-data","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:37:54.861590476Z","description":"","domain_name":"tfnsflamboyantfermat8qnpjnod-test-container-data.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"a34c8df8-42cb-4819-a0c2-13ba96c0a82c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-container-data","namespace_id":"9221ae3f-2829-4d59-8e25-74fe97c3ad8c","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsflamboyantfermat8qnpjnod/test-container-data:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:37:54.861590476Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.258458ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/a34c8df8-42cb-4819-a0c2-13ba96c0a82c
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:37:54.861590Z","description":"","domain_name":"tfnsflamboyantfermat8qnpjnod-test-container-data.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"a34c8df8-42cb-4819-a0c2-13ba96c0a82c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-container-data","namespace_id":"9221ae3f-2829-4d59-8e25-74fe97c3ad8c","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsflamboyantfermat8qnpjnod/test-container-data:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:37:54.861590Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.396ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=test-container-data&namespace_id=9221ae3f-2829-4d59-8e25-74fe97c3ad8c&order_by=created_at_asc
        method: GET
      response:
        body: '{"containers":[{"cpu_limit":1000,"created_at":"2025-01-24T15:37:54.861590Z","description":"","domain_name":"tfnsflamboyantfermat8qnpjnod-test-container-data.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"a34c8df8-42cb-4819-a0c2-13ba96c0a82c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"test-container-data","namespace_id":"9221ae3f-2829-4d59-8e25-74fe97c3ad8c","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsflamboyantfermat8qnpjnod/test-container-data:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:37:54.861590Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.672667ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9221ae3f-2829-4d59-8e25-74fe97c3ad8c
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.282333ms
[...]
