---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-tender-hellman\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"35b5ed0c-9606-4f10-b4f9-65ce870a887f\", \"name\":\"tf-ns-tender-hellman\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.290209144Z\", \"updated_at\":\"2025-10-31T16:31:05.290209144Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.247868847s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/35b5ed0c-9606-4f10-b4f9-65ce870a887f
    method: GET
  response:
    body: "{\"id\":\"35b5ed0c-9606-4f10-b4f9-65ce870a887f\", \"name\":\"tf-ns-tender-hellman\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.290209Z\", \"updated_at\":\"2025-10-31T16:31:05.290209Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.048842ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"35b5ed0c-9606-4f10-b4f9-65ce870a887f\",\"name\":\"test-container-data\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"e95121be-a516-46b4-8811-ba024a36ac26\", \"name\":\"test-container-data\", \"namespace_id\":\"35b5ed0c-9606-4f10-b4f9-65ce870a887f\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnstenderhellmant79r8z5s/test-container-data:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnstenderhellmant79r8z5s-test-container-data.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.699596317Z\", \"updated_at\":\"2025-10-31T16:31:16.699596317Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 861.157584ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/e95121be-a516-46b4-8811-ba024a36ac26
    method: GET
  response:
    body: "{\"id\":\"e95121be-a516-46b4-8811-ba024a36ac26\", \"name\":\"test-container-data\", \"namespace_id\":\"35b5ed0c-9606-4f10-b4f9-65ce870a887f\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnstenderhellmant79r8z5s/test-container-data:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnstenderhellmant79r8z5s-test-container-data.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.699596Z\", \"updated_at\":\"2025-10-31T16:31:16.699596Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.726788ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - test-container-data
      namespace_id:
      - 35b5ed0c-9606-4f10-b4f9-65ce870a887f
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=test-container-data&namespace_id=35b5ed0c-9606-4f10-b4f9-65ce870a887f&order_by=created_at_asc
    method: GET
  response:
    body: "{\"containers\":[{\"id\":\"e95121be-a516-46b4-8811-ba024a36ac26\", \"name\":\"test-container-data\", \"namespace_id\":\"35b5ed0c-9606-4f10-b4f9-65ce870a887f\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnstenderhellmant79r8z5s/test-container-data:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnstenderhellmant79r8z5s-test-container-data.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.699596Z\", \"updated_at\":\"2025-10-31T16:31:16.699596Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.011167ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/35b5ed0c-9606-4f10-b4f9-65ce870a887f
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 61.86675ms
[...]
