---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-recursing-mayer","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"5d6e041a-a116-4dc5-b707-c0630d2c7c5d","name":"tf-ns-recursing-mayer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 585.238941ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5d6e041a-a116-4dc5-b707-c0630d2c7c5d
        method: GET
      response:
        body: '{"description":"","environment_variables":{},"error_message":null,"id":"5d6e041a-a116-4dc5-b707-c0630d2c7c5d","name":"tf-ns-recursing-mayer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.289961ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"5d6e041a-a116-4dc5-b707-c0630d2c7c5d","name":"tf-co-heuristic-gates","privacy":"public","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrecursingmayeryoogsrc2/nginx:test","protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":140,"description":"","domain_name":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"ad916058-4116-4c83-a697-a5fad8e5b342","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-heuristic-gates","namespace_id":"5d6e041a-a116-4dc5-b707-c0630d2c7c5d","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrecursingmayeryoogsrc2/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.538034ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/ad916058-4116-4c83-a697-a5fad8e5b342
        method: GET
      response:
        body: '{"cpu_limit":140,"description":"","domain_name":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"ad916058-4116-4c83-a697-a5fad8e5b342","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-heuristic-gates","namespace_id":"5d6e041a-a116-4dc5-b707-c0630d2c7c5d","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrecursingmayeryoogsrc2/nginx:test","secret_environment_variables":[],"status":"created","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.409734ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/ad916058-4116-4c83-a697-a5fad8e5b342
        method: PATCH
      response:
        body: '{"cpu_limit":140,"description":"","domain_name":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"ad916058-4116-4c83-a697-a5fad8e5b342","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-heuristic-gates","namespace_id":"5d6e041a-a116-4dc5-b707-c0630d2c7c5d","port":80,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsrecursingmayeryoogsrc2/nginx:test","secret_environment_variables":[],"status":"pending","timeout":"300s"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.64819ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud.","id":"28febe60-61f8-4e3e-8b7e-17423bf3f44c","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 549.625158ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud.","id":"28febe60-61f8-4e3e-8b7e-17423bf3f44c","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.824779ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud.","id":"28febe60-61f8-4e3e-8b7e-17423bf3f44c","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.656562ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=28febe60-61f8-4e3e-8b7e-17423bf3f44c&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud.","id":"28febe60-61f8-4e3e-8b7e-17423bf3f44c","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.992037ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2024-06-26T12:46:42Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.707552ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"ad916058-4116-4c83-a697-a5fad8e5b342"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
        method: POST
      response:
        body: '{"container_id":"ad916058-4116-4c83-a697-a5fad8e5b342","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"5ed466d2-6a23-4b82-a944-e9e98417b42d","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.451999ms
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/5ed466d2-6a23-4b82-a944-e9e98417b42d
        method: GET
      response:
        body: '{"container_id":"ad916058-4116-4c83-a697-a5fad8e5b342","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"5ed466d2-6a23-4b82-a944-e9e98417b42d","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.797899ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=28febe60-61f8-4e3e-8b7e-17423bf3f44c&name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsrecursingmayeryoogsrc2-tf-co-heuristic-gates.functions.fnc.fr-par.scw.cloud.","id":"28febe60-61f8-4e3e-8b7e-17423bf3f44c","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.971183ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"28febe60-61f8-4e3e-8b7e-17423bf3f44c"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.165476ms
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"2680cdf6-82b6-4b32-afdc-858565ec92cb","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"e63f3b3a-e26a-456f-954b-8c67f77fccd3","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.062151ms
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2024-06-26T12:47:00Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.301227ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.481432ms
[...]
