---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-strange-wilson","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:41.286324360Z","description":"","environment_variables":{},"error_message":null,"id":"97800be4-3f61-4f2e-b568-790018772ed1","name":"tf-ns-strange-wilson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.286324360Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.338710983s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/97800be4-3f61-4f2e-b568-790018772ed1
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:41.286324Z","description":"","environment_variables":{},"error_message":null,"id":"97800be4-3f61-4f2e-b568-790018772ed1","name":"tf-ns-strange-wilson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.286324Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.948071ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"97800be4-3f61-4f2e-b568-790018772ed1","name":"tf-co-dazzling-cartwright","privacy":"public","registry_image":"nginx:latest","protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.583265342Z","description":"","domain_name":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"9822575a-a230-47ab-96e5-ac82fcb42849","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-dazzling-cartwright","namespace_id":"97800be4-3f61-4f2e-b568-790018772ed1","port":80,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"nginx:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:58.583265342Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.776090448s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9822575a-a230-47ab-96e5-ac82fcb42849
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.583265Z","description":"","domain_name":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"9822575a-a230-47ab-96e5-ac82fcb42849","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-dazzling-cartwright","namespace_id":"97800be4-3f61-4f2e-b568-790018772ed1","port":80,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"nginx:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:58.583265Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.367558ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9822575a-a230-47ab-96e5-ac82fcb42849
        method: PATCH
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.583265Z","description":"","domain_name":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"9822575a-a230-47ab-96e5-ac82fcb42849","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-dazzling-cartwright","namespace_id":"97800be4-3f61-4f2e-b568-790018772ed1","port":80,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"nginx:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"pending","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:58.818229202Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.40306ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud.","id":"74837750-e0d6-40d2-a1c1-946d35c2c81d","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.876772ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud.","id":"74837750-e0d6-40d2-a1c1-946d35c2c81d","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.079923ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud.","id":"74837750-e0d6-40d2-a1c1-946d35c2c81d","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.277249ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=74837750-e0d6-40d2-a1c1-946d35c2c81d&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud.","id":"74837750-e0d6-40d2-a1c1-946d35c2c81d","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.340368ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2025-08-27T15:06:14Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.231307ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"9822575a-a230-47ab-96e5-ac82fcb42849"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
        method: POST
      response:
        body: '{"container_id":"9822575a-a230-47ab-96e5-ac82fcb42849","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"cd5bc7a5-c035-4897-886e-5f6cc5838d59","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.619984ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/cd5bc7a5-c035-4897-886e-5f6cc5838d59
        method: GET
      response:
        body: '{"container_id":"9822575a-a230-47ab-96e5-ac82fcb42849","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"cd5bc7a5-c035-4897-886e-5f6cc5838d59","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.732393ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=74837750-e0d6-40d2-a1c1-946d35c2c81d&name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsstrangewilsonhbofpena-tf-co-dazzling-cartwright.functions.fnc.fr-par.scw.cloud.","id":"74837750-e0d6-40d2-a1c1-946d35c2c81d","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.91901ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"74837750-e0d6-40d2-a1c1-946d35c2c81d"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.854723ms
[...]
