---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-exciting-volhard","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:14:27.164104844Z","description":"","environment_variables":{},"error_message":null,"id":"10289d31-4a9f-4d29-a841-9c29489e268c","name":"tf-ns-exciting-volhard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:14:27.164104844Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 683.633084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/10289d31-4a9f-4d29-a841-9c29489e268c
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:14:27.164105Z","description":"","environment_variables":{},"error_message":null,"id":"10289d31-4a9f-4d29-a841-9c29489e268c","name":"tf-ns-exciting-volhard","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T15:14:27.164105Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.337666ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"10289d31-4a9f-4d29-a841-9c29489e268c","name":"tf-co-focused-lovelace","privacy":"public","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsexcitingvolhardosvqblgs/nginx:test","protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T15:14:49.390153489Z","description":"","domain_name":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"48f2c2d5-b280-477b-ad7b-a8c65d734e3c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-focused-lovelace","namespace_id":"10289d31-4a9f-4d29-a841-9c29489e268c","port":80,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsexcitingvolhardosvqblgs/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:14:49.390153489Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 514.806417ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/48f2c2d5-b280-477b-ad7b-a8c65d734e3c
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T15:14:49.390153Z","description":"","domain_name":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"48f2c2d5-b280-477b-ad7b-a8c65d734e3c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-focused-lovelace","namespace_id":"10289d31-4a9f-4d29-a841-9c29489e268c","port":80,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsexcitingvolhardosvqblgs/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T15:14:49.390153Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.176542ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/48f2c2d5-b280-477b-ad7b-a8c65d734e3c
        method: PATCH
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T15:14:49.390153Z","description":"","domain_name":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"48f2c2d5-b280-477b-ad7b-a8c65d734e3c","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-focused-lovelace","namespace_id":"10289d31-4a9f-4d29-a841-9c29489e268c","port":80,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsexcitingvolhardosvqblgs/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"pending","timeout":"300s","updated_at":"2025-01-22T15:14:49.667092717Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.851917ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud.","id":"e1f1bab1-f9be-4a37-87f8-2a4202b60e96","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 465.743708ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud.","id":"e1f1bab1-f9be-4a37-87f8-2a4202b60e96","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.947042ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud.","id":"e1f1bab1-f9be-4a37-87f8-2a4202b60e96","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.472791ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=e1f1bab1-f9be-4a37-87f8-2a4202b60e96&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud.","id":"e1f1bab1-f9be-4a37-87f8-2a4202b60e96","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.202667ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2025-01-22T15:14:55Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.94575ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"48f2c2d5-b280-477b-ad7b-a8c65d734e3c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
        method: POST
      response:
        body: '{"container_id":"48f2c2d5-b280-477b-ad7b-a8c65d734e3c","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"3e18dee9-3b5f-420e-a0f5-071fb3915ad7","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.925875ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/3e18dee9-3b5f-420e-a0f5-071fb3915ad7
        method: GET
      response:
        body: '{"container_id":"48f2c2d5-b280-477b-ad7b-a8c65d734e3c","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"3e18dee9-3b5f-420e-a0f5-071fb3915ad7","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.698791ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=e1f1bab1-f9be-4a37-87f8-2a4202b60e96&name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsexcitingvolhardosvqblgs-tf-co-focused-lovelace.functions.fnc.fr-par.scw.cloud.","id":"e1f1bab1-f9be-4a37-87f8-2a4202b60e96","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.937375ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"e1f1bab1-f9be-4a37-87f8-2a4202b60e96"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.897167ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"d61937ff-d7dd-4386-ab8c-449a5edcce99","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"55aa53a4-a92d-4bdc-b54c-b09e1a704944","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.3885ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2025-01-22T15:15:18Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.589833ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.644792ms
[...]
