---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-wonderful-burnell\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"18261b11-dc92-4ffc-8258-e982db1cf1a5\",\"name\":\"tf-ns-wonderful-burnell\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.528227429Z\",\"updated_at\":\"2025-09-01T15:54:49.528227429Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 11.035222108s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/18261b11-dc92-4ffc-8258-e982db1cf1a5
    method: GET
  response:
    body: "{\"id\":\"18261b11-dc92-4ffc-8258-e982db1cf1a5\",\"name\":\"tf-ns-wonderful-burnell\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:49.528227Z\",\"updated_at\":\"2025-09-01T15:54:49.528227Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.907349ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"18261b11-dc92-4ffc-8258-e982db1cf1a5\",\"name\":\"tf-co-elated-morse\",\"privacy\":\"public\",\"registry_image\":\"nginx:latest\",\"protocol\":\"http1\",\"port\":80,\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"89da8d26-7fa0-492d-9c1f-b1d4c756671d\",\"name\":\"tf-co-elated-morse\",\"namespace_id\":\"18261b11-dc92-4ffc-8258-e982db1cf1a5\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"nginx:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":80,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:21.181710587Z\",\"updated_at\":\"2025-09-01T15:55:21.181710587Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.824441119s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/89da8d26-7fa0-492d-9c1f-b1d4c756671d
    method: GET
  response:
    body: "{\"id\":\"89da8d26-7fa0-492d-9c1f-b1d4c756671d\",\"name\":\"tf-co-elated-morse\",\"namespace_id\":\"18261b11-dc92-4ffc-8258-e982db1cf1a5\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"nginx:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":80,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:21.181711Z\",\"updated_at\":\"2025-09-01T15:55:21.181711Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.20665ms
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"redeploy\":true,\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/89da8d26-7fa0-492d-9c1f-b1d4c756671d
    method: PATCH
  response:
    body: "{\"id\":\"89da8d26-7fa0-492d-9c1f-b1d4c756671d\",\"name\":\"tf-co-elated-morse\",\"namespace_id\":\"18[...]
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud.\",\"name\":\"container\",\"priority\":0,\"ttl\":60,\"type\":\"CNAME\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"b80725a3-8f95-4147-b27a-4e71350a008a\",\"data\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud.\",\"name\":\"container\",\"priority\":0,\"ttl\":60,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 200.969082ms
- id: 20
  request:
    host: api.scaleway.com
    form:
      name:
      - container
      order_by:
      - name_asc
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"b80725a3-8f95-4147-b27a-4e71350a008a\",\"data\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud.\",\"name\":\"container\",\"priority\":0,\"ttl\":60,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.630247ms
- id: 21
  request:
    host: api.scaleway.com
    form:
      name:
      - container
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"b80725a3-8f95-4147-b27a-4e71350a008a\",\"data\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud.\",\"name\":\"container\",\"priority\":0,\"ttl\":60,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.579981ms
- id: 22
  request:
    host: api.scaleway.com
    form:
      id:
      - b80725a3-8f95-4147-b27a-4e71350a008a
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=b80725a3-8f95-4147-b27a-4e71350a008a&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"b80725a3-8f95-4147-b27a-4e71350a008a\",\"data\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud.\",\"name\":\"container\",\"priority\":0,\"ttl\":60,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.681244ms
- id: 23
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - container-basic.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"container-basic\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-09-01T15:55:47Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.741137ms
[...]
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"hostname\":\"container.container-basic.scaleway-terraform.com\",\"container_id\":\"89da8d26-7fa0-492d-9c1f-b1d4c756671d\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"e1397115-d14d-4ece-8c27-34bd4c7013cc\",\"hostname\":\"container.container-basic.scaleway-terraform.com\",\"container_id\":\"89da8d26-7fa0-492d-9c1f-b1d4c756671d\",\"url\":\"\",\"status\":\"pending\",\"error_message\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.625027ms
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/e1397115-d14d-4ece-8c27-34bd4c7013cc
    method: GET
  response:
    body: "{\"id\":\"e1397115-d14d-4ece-8c27-34bd4c7013cc\",\"hostname\":\"container.container-basic.scaleway-terraform.com\",\"container_id\":\"89da8d26-7fa0-492d-9c1f-b1d4c756671d\",\"url\":\"\",\"status\":\"pending\",\"error_message\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 143.557672ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    form:
      id:
      - b80725a3-8f95-4147-b27a-4e71350a008a
      name:
      - container
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=b80725a3-8f95-4147-b27a-4e71350a008a&name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"b80725a3-8f95-4147-b27a-4e71350a008a\",\"data\":\"tfnswonderfulburnellioa2ekhj-tf-co-elated-morse.functions.fnc.fr-par.scw.cloud.\",\"name\":\"container\",\"priority\":0,\"ttl\":60,\"type\":\"CNAME\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.349294ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"b80725a3-8f95-4147-b27a-4e71350a008a\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 165.692705ms
[...]
