---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-goofy-benz","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"d9e2baa2-6b32-4ee2-b569-ae8b64f20189", "name":"tf-ns-goofy-benz", "environment_variables":{}, "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2026-02-23T16:16:35.420003497Z", "updated_at":"2026-02-23T16:16:35.420003497Z", "vpc_integration_activated":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.022363458s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d9e2baa2-6b32-4ee2-b569-ae8b64f20189
        method: GET
      response:
        body: '{"id":"d9e2baa2-6b32-4ee2-b569-ae8b64f20189", "name":"tf-ns-goofy-benz", "environment_variables":{}, "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2026-02-23T16:16:35.420003Z", "updated_at":"2026-02-23T16:16:35.420003Z", "vpc_integration_activated":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.108583ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"d9e2baa2-6b32-4ee2-b569-ae8b64f20189","name":"tf-co-stoic-mendeleev","privacy":"public","registry_image":"nginx:latest","protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"f89c391b-f793-4009-aeec-0ac7c97f3395", "name":"tf-co-stoic-mendeleev", "namespace_id":"d9e2baa2-6b32-4ee2-b569-ae8b64f20189", "status":"created", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"nginx:latest", "max_concurrency":50, "domain_name":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2026-02-23T16:16:41.744091713Z", "updated_at":"2026-02-23T16:16:41.744091713Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 565.999709ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f89c391b-f793-4009-aeec-0ac7c97f3395
        method: GET
      response:
        body: '{"id":"f89c391b-f793-4009-aeec-0ac7c97f3395", "name":"tf-co-stoic-mendeleev", "namespace_id":"d9e2baa2-6b32-4ee2-b569-ae8b64f20189", "status":"created", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"nginx:latest", "max_concurrency":50, "domain_name":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2026-02-23T16:16:41.744092Z", "updated_at":"2026-02-23T16:16:41.744092Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.874625ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f89c391b-f793-4009-aeec-0ac7c97f3395
        method: PATCH
      response:
        body: '{"id":"f89c391b-f793-4009-aeec-0ac7c97f3395", "name":"tf-co-stoic-mendeleev", "namespace_id":"d9e2baa2-6b32-4ee2-b569-ae8b64f20189", "status":"pending", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"nginx:latest", "max_concurrency":50, "domain_name":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2026-02-23T16:16:41.744092Z", "updated_at":"2026-02-23T16:16:42.033612331Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.380292ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"e2ee885f-3b48-4412-a49a-89eba435aca3", "data":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud.", "name":"container", "priority":0, "ttl":60, "type":"CNAME", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.528792ms
    - id: 13
      request:
        host: api.scaleway.com
        form:
            name:
                - container
            order_by:
                - name_asc
            type:
                - CNAME
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"e2ee885f-3b48-4412-a49a-89eba435aca3", "data":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud.", "name":"container", "priority":0, "ttl":60, "type":"CNAME", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.685292ms
    - id: 14
      request:
        host: api.scaleway.com
        form:
            name:
                - container
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - CNAME
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"e2ee885f-3b48-4412-a49a-89eba435aca3", "data":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud.", "name":"container", "priority":0, "ttl":60, "type":"CNAME", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.594625ms
    - id: 15
      request:
        host: api.scaleway.com
        form:
            id:
                - e2ee885f-3b48-4412-a49a-89eba435aca3
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=e2ee885f-3b48-4412-a49a-89eba435aca3&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1, "records":[{"id":"e2ee885f-3b48-4412-a49a-89eba435aca3", "data":"tfnsgoofybenz9ijg9bqp-tf-co-stoic-mendeleev.functions.fnc.fr-par.scw.cloud.", "name":"container", "priority":0, "ttl":60, "type":"CNAME", "comment":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.462625ms
    - id: 16
      request:
        host: api.scaleway.com
        form:
            dns_zones:
                - container-basic.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1, "dns_zones":[{"domain":"scaleway-terraform.com", "subdomain":"container-basic", "ns":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_default":["ns0.dom.scw.cloud", "ns1.dom.scw.cloud"], "ns_master":[], "status":"pending", "message":null, "updated_at":"2026-02-23T16:16:52Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.3515ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"f89c391b-f793-4009-aeec-0ac7c97f3395"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
        method: POST
      response:
        body: '{"id":"015ea1cb-d974-47f3-9f7e-697923df30ed", "hostname":"container.container-basic.scaleway-terraform.com", "container_id":"f89c391b-f793-4009-aeec-0ac7c97f3395", "url":"", "status":"pending", "error_message":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.7855ms
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/015ea1cb-d974-47f3-9f7e-697923df30ed
        method: GET
      response:
        body: '{"id":"015ea1cb-d974-47f3-9f7e-697923df30ed", "hostname":"container.container-basic.scaleway-terraform.com", "container_id":"f89c391b-f793-4009-aeec-0ac7c97f3395", "url":"", "status":"pending", "error_message":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.447583ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"e2ee885f-3b48-4412-a49a-89eba435aca3"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.613375ms
[...]
