---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-gallant-keller\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"1018b320-ddb9-424f-a880-522422526cc6\", \"name\":\"tf-ns-gallant-keller\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:32.816741107Z\", \"updated_at\":\"2025-10-31T16:31:32.816741107Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.16778599s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1018b320-ddb9-424f-a880-522422526cc6
    method: GET
  response:
    body: "{\"id\":\"1018b320-ddb9-424f-a880-522422526cc6\", \"name\":\"tf-ns-gallant-keller\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:32.816741Z\", \"updated_at\":\"2025-10-31T16:31:32.816741Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.946103ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"1018b320-ddb9-424f-a880-522422526cc6\",\"name\":\"tf-co-elegant-bohr\",\"privacy\":\"public\",\"registry_image\":\"nginx:latest\",\"protocol\":\"http1\",\"port\":80,\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"7853a625-d3c1-4454-a7c7-4bf8610a7c1c\", \"name\":\"tf-co-elegant-bohr\", \"namespace_id\":\"1018b320-ddb9-424f-a880-522422526cc6\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"nginx:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":80, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:32:24.753822337Z\", \"updated_at\":\"2025-10-31T16:32:24.753822337Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 496.076925ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7853a625-d3c1-4454-a7c7-4bf8610a7c1c
    method: GET
  response:
    body: "{\"id\":\"7853a625-d3c1-4454-a7c7-4bf8610a7c1c\", \"name\":\"tf-co-elegant-bohr\", \"namespace_id\":\"1018b320-ddb9-424f-a880-522422526cc6\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"nginx:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":80, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:32:24.753822Z\", \"updated_at\":\"2025-10-31T16:32:24.753822Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.6715ms
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"redeploy\":true,\"privacy\":\"unknown_privacy\",\"protocol\":\"unknown_protocol\",\"secret_environment_variables\":null,\"http_option\":\"unknown_http_option\",\"sandbox\":\"unknown_sandbox\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/7853a625-d3c1-4454-a7c7-4bf8610a7c1c
    method: PATCH
  response:
    body: "{\"id\":\"7853a625-d3c1-4454-a7c7-4bf8610a7c1c\", \"name\":\"tf-co-elegant-bohr\", \"namespace_id\":\"[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud.\",\"name\":\"container\",\"priority\":0,\"ttl\":60,\"type\":\"CNAME\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"ffdb0a28-2741-45b5-ac3e-d8d06252e95e\", \"data\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud.\", \"name\":\"container\", \"priority\":0, \"ttl\":60, \"type\":\"CNAME\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 150.582257ms
- id: 12
  request:
    host: api.scaleway.com
    form:
      name:
      - container
      order_by:
      - name_asc
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"ffdb0a28-2741-45b5-ac3e-d8d06252e95e\", \"data\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud.\", \"name\":\"container\", \"priority\":0, \"ttl\":60, \"type\":\"CNAME\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.218599ms
- id: 13
  request:
    host: api.scaleway.com
    form:
      name:
      - container
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"ffdb0a28-2741-45b5-ac3e-d8d06252e95e\", \"data\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud.\", \"name\":\"container\", \"priority\":0, \"ttl\":60, \"type\":\"CNAME\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.594939ms
- id: 14
  request:
    host: api.scaleway.com
    form:
      id:
      - ffdb0a28-2741-45b5-ac3e-d8d06252e95e
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=ffdb0a28-2741-45b5-ac3e-d8d06252e95e&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"ffdb0a28-2741-45b5-ac3e-d8d06252e95e\", \"data\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud.\", \"name\":\"container\", \"priority\":0, \"ttl\":60, \"type\":\"CNAME\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.835616ms
- id: 15
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - container-basic.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1, \"dns_zones\":[{\"domain\":\"scaleway-terraform.com\", \"subdomain\":\"container-basic\", \"ns\":[\"ns0.dom.scw.cloud\", \"ns1.dom.scw.cloud\"], \"ns_default\":[\"ns0.dom.scw.cloud\", \"ns1.dom.scw.cloud\"], \"ns_master\":[], \"status\":\"pending\", \"message\":null, \"updated_at\":\"2025-10-31T16:32:56Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.315232ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"hostname\":\"container.container-basic.scaleway-terraform.com\",\"container_id\":\"7853a625-d3c1-4454-a7c7-4bf8610a7c1c\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: "{\"id\":\"87469a9d-ca01-466d-ab31-bbb4a712a97a\", \"hostname\":\"container.container-basic.scaleway-terraform.com\", \"container_id\":\"7853a625-d3c1-4454-a7c7-4bf8610a7c1c\", \"url\":\"\", \"status\":\"pending\", \"error_message\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.344511ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/87469a9d-ca01-466d-ab31-bbb4a712a97a
    method: GET
  response:
    body: "{\"id\":\"87469a9d-ca01-466d-ab31-bbb4a712a97a\", \"hostname\":\"container.container-basic.scaleway-terraform.com\", \"container_id\":\"7853a625-d3c1-4454-a7c7-4bf8610a7c1c\", \"url\":\"\", \"status\":\"pending\", \"error_message\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.971743ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      id:
      - ffdb0a28-2741-45b5-ac3e-d8d06252e95e
      name:
      - container
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - CNAME
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=ffdb0a28-2741-45b5-ac3e-d8d06252e95e&name=container&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: "{\"total_count\":1, \"records\":[{\"id\":\"ffdb0a28-2741-45b5-ac3e-d8d06252e95e\", \"data\":\"tfnsgallantkellerxssnqvfe-tf-co-elegant-bohr.functions.fnc.fr-par.scw.cloud.\", \"name\":\"container\", \"priority\":0, \"ttl\":60, \"type\":\"CNAME\", \"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.406496ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"ffdb0a28-2741-45b5-ac3e-d8d06252e95e\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 119.011587ms
[...]
