---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-optimistic-pascal","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:38:50.562037002Z","description":"","environment_variables":{},"error_message":null,"id":"ea15459a-7ec5-4257-b225-cc5c3c219775","name":"tf-ns-optimistic-pascal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:38:50.562037002Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.050667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ea15459a-7ec5-4257-b225-cc5c3c219775
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:38:50.562037Z","description":"","environment_variables":{},"error_message":null,"id":"ea15459a-7ec5-4257-b225-cc5c3c219775","name":"tf-ns-optimistic-pascal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:38:50.562037Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.906709ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"ea15459a-7ec5-4257-b225-cc5c3c219775","name":"tf-co-strange-gates","privacy":"public","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsoptimisticpascalyljs1pkb/nginx:test","protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:39:13.354761319Z","description":"","domain_name":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-strange-gates","namespace_id":"ea15459a-7ec5-4257-b225-cc5c3c219775","port":80,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsoptimisticpascalyljs1pkb/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:39:13.354761319Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.941542ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:39:13.354761Z","description":"","domain_name":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-strange-gates","namespace_id":"ea15459a-7ec5-4257-b225-cc5c3c219775","port":80,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsoptimisticpascalyljs1pkb/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:39:13.354761Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.496917ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"redeploy":true,"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea
        method: PATCH
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:39:13.354761Z","description":"","domain_name":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-strange-gates","namespace_id":"ea15459a-7ec5-4257-b225-cc5c3c219775","port":80,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsoptimisticpascalyljs1pkb/nginx:test","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"pending","timeout":"300s","updated_at":"2025-01-24T15:39:13.573313679Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.159917ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud.","id":"9d16f107-7cf7-43af-a785-e2ffcae3f237","name":"container","priority":0,"ttl":60,"type":"CNAME"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.384417ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud.","id":"9d16f107-7cf7-43af-a785-e2ffcae3f237","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.498208ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud.","id":"9d16f107-7cf7-43af-a785-e2ffcae3f237","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.503542ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=9d16f107-7cf7-43af-a785-e2ffcae3f237&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud.","id":"9d16f107-7cf7-43af-a785-e2ffcae3f237","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.046333ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2025-01-24T15:39:19Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.1975ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"hostname":"container.container-basic.scaleway-terraform.com","container_id":"b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains
        method: POST
      response:
        body: '{"container_id":"b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"91e9f9bf-0b37-4333-bceb-5750af336a41","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.833542ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/domains/91e9f9bf-0b37-4333-bceb-5750af336a41
        method: GET
      response:
        body: '{"container_id":"b8baa1b9-c6eb-4aa8-bc3b-eab7301a35ea","error_message":null,"hostname":"container.container-basic.scaleway-terraform.com","id":"91e9f9bf-0b37-4333-bceb-5750af336a41","status":"pending","url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.69525ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=9d16f107-7cf7-43af-a785-e2ffcae3f237&name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"tfnsoptimisticpascalyljs1pkb-tf-co-strange-gates.functions.fnc.fr-par.scw.cloud.","id":"9d16f107-7cf7-43af-a785-e2ffcae3f237","name":"container","priority":0,"ttl":60,"type":"CNAME"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.730875ms
[...]
    - id: 83
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"9d16f107-7cf7-43af-a785-e2ffcae3f237"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.358334ms
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"cd1109e5-8fd5-4438-83a4-6d0b2112ab94","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"e8c7b03d-f728-40ea-9b8c-0a74a54c91b2","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.53225ms
    - id: 85
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"container-basic","updated_at":"2025-01-24T15:43:48Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.949083ms
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.148708ms
[...]
