---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-test-domain-basic","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"ea77052c-426d-4d45-a5c6-c2be7f23568f","name":"tf-test-domain-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:18.406710Z","updated_at":"2026-05-05T14:42:18.406710Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 6.82145947s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ea77052c-426d-4d45-a5c6-c2be7f23568f
        method: GET
      response:
        body: '{"id":"ea77052c-426d-4d45-a5c6-c2be7f23568f","name":"tf-test-domain-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:18.406710Z","updated_at":"2026-05-05T14:42:18.406710Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.800235ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"ea77052c-426d-4d45-a5c6-c2be7f23568f","name":"tf-co-fervent-wilbur","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"feec359a-4a1c-44c5-a9df-611cb692f11b","name":"tf-co-fervent-wilbur","namespace_id":"ea77052c-426d-4d45-a5c6-c2be7f23568f","description":"","status":"creating","created_at":"2026-05-05T14:42:24.786785Z","updated_at":"2026-05-05T14:42:24.786785Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.824394ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/feec359a-4a1c-44c5-a9df-611cb692f11b
        method: GET
      response:
        body: '{"id":"feec359a-4a1c-44c5-a9df-611cb692f11b","name":"tf-co-fervent-wilbur","namespace_id":"ea77052c-426d-4d45-a5c6-c2be7f23568f","description":"","status":"creating","created_at":"2026-05-05T14:42:24.786785Z","updated_at":"2026-05-05T14:42:24.786785Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.821084ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/feec359a-4a1c-44c5-a9df-611cb692f11b
        method: GET
      response:
        body: '{"id":"feec359a-4a1c-44c5-a9df-611cb692f11b","name":"tf-co-fervent-wilbur","namespace_id":"ea77052c-426d-4d45-a5c6-c2be7f23568f","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:24.786785Z","updated_at":"2026-05-05T14:42:34Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.785248ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"id":"9a053ab6-69f3-4df6-9827-2a4ca19339d9","data":"tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"updated_at":"2026-05-05T14:42:35Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.909311ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            name:
                - container
            order_by:
                - name_asc
            type:
                - CNAME
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&type=CNAME
        method: GET
      response:
        body: '{"total_count":1,"records":[{"id":"9a053ab6-69f3-4df6-9827-2a4ca19339d9","data":"tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"updated_at":"2026-05-05T14:42:35Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.124231ms
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - container
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - CNAME
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?name=container&order_by=name_asc&page=1&type=CNAME
        method: GET
      response:
        body: '{"total_count":1,"records":[{"id":"9a053ab6-69f3-4df6-9827-2a4ca19339d9","data":"tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"updated_at":"2026-05-05T14:42:35Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.029658ms
    - id: 11
      request:
        host: api.scaleway.com
        form:
            id:
                - 9a053ab6-69f3-4df6-9827-2a4ca19339d9
            name:
                - ""
            order_by:
                - name_asc
            page:
                - "1"
            type:
                - unknown
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records?id=9a053ab6-69f3-4df6-9827-2a4ca19339d9&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"total_count":1,"records":[{"id":"9a053ab6-69f3-4df6-9827-2a4ca19339d9","data":"tftestdomainbasicea77052c-tf-co-fervent-wilbur.functions.fnc.fr-par.scw.cloud.","name":"container","priority":0,"ttl":60,"type":"CNAME","comment":null,"updated_at":"2026-05-05T14:42:35Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.782152ms
    - id: 12
      request:
        host: api.scaleway.com
        form:
            dns_zones:
                - container-basic.scaleway-terraform.com
            domain:
                - ""
            order_by:
                - domain_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=container-basic.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"container-basic","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2026-05-05T14:42:35Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","linked_products":[]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.603105ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"container_id":"feec359a-4a1c-44c5-a9df-611cb692f11b","hostname":"container.container-basic.scaleway-terraform.com","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/domains
        method: POST
      response:
        body: '{"id":"cdf9bfbd-60b5-4694-8d1b-5ac9bc79c009","hostname":"container.container-basic.scaleway-terraform.com","container_id":"feec359a-4a1c-44c5-a9df-611cb692f11b","status":"creating","created_at":"2026-05-05T14:42:41.040104Z","updated_at":"2026-05-05T14:42:41.040104Z","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.716864ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/domains/cdf9bfbd-60b5-4694-8d1b-5ac9bc79c009
        method: GET
      response:
        body: '{"id":"cdf9bfbd-60b5-4694-8d1b-5ac9bc79c009","hostname":"container.container-basic.scaleway-terraform.com","container_id":"feec359a-4a1c-44c5-a9df-611cb692f11b","status":"creating","created_at":"2026-05-05T14:42:41.040104Z","updated_at":"2026-05-05T14:42:41.040104Z","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.066287ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"9a053ab6-69f3-4df6-9827-2a4ca19339d9"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/container-basic.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.604778ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/ea77052c-426d-4d45-a5c6-c2be7f23568f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ea77052c-426d-4d45-a5c6-c2be7f23568f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.953323ms
[...]
