---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-secret-ns\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[{\"key\":\"SECRET_1\",\"value\":\"value1\"},{\"key\":\"SECRET_2\",\"value\":\"value2\"}],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"08ac9b33-4509-4009-a0ac-ae2cab93f7fb\",\"name\":\"test-secret-ns\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"SECRET_1\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$LTj0CazrW4LJG8YUgpmxRQ$Vix/LIDu0hS0cy7HmtdpJUXnKMPHfg9dCPgCtODAqvk\"},{\"key\":\"SECRET_2\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$k/VsVmA6kOve124SIaBTsA$q6bjSpqLz+yxHqqqYrww5Qp1TIzFwqymN7A3030aGzw\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:55:52.863721533Z\",\"updated_at\":\"2025-09-01T15:55:52.863721533Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 6.311491724s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/08ac9b33-4509-4009-a0ac-ae2cab93f7fb
    method: GET
  response:
    body: "{\"id\":\"08ac9b33-4509-4009-a0ac-ae2cab93f7fb\",\"name\":\"test-secret-ns\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"SECRET_1\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$LTj0CazrW4LJG8YUgpmxRQ$Vix/LIDu0hS0cy7HmtdpJUXnKMPHfg9dCPgCtODAqvk\"},{\"key\":\"SECRET_2\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$k/VsVmA6kOve124SIaBTsA$q6bjSpqLz+yxHqqqYrww5Qp1TIzFwqymN7A3030aGzw\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:55:52.863722Z\",\"updated_at\":\"2025-09-01T15:55:52.863722Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.172464ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/08ac9b33-4509-4009-a0ac-ae2cab93f7fb
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.162258ms
[...]
