---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:40.893278559Z","description":"","environment_variables":{},"error_message":null,"id":"fe36e013-0701-45ac-8557-8b5c8bf88ca3","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:40.893278559Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.933983078s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/fe36e013-0701-45ac-8557-8b5c8bf88ca3
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:40.893279Z","description":"","environment_variables":{},"error_message":null,"id":"fe36e013-0701-45ac-8557-8b5c8bf88ca3","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:40.893279Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.286609ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/fe36e013-0701-45ac-8557-8b5c8bf88ca3
        method: PATCH
      response:
        body: '{"created_at":"2025-08-27T15:05:40.893279Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"fe36e013-0701-45ac-8557-8b5c8bf88ca3","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01v0ub2dfr","registry_namespace_id":"7d818049-2cb7-4a3f-b528-c128b00545a5","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$B6SfRhJ82SUrThHEaR7hZA$idtcyqNALsMPkFg+kobNUASAebMVR4QlM+yogRJmIUs","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:59.838562228Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.787476ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/fe36e013-0701-45ac-8557-8b5c8bf88ca3
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.824705ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"},{"key":"test_secret","value":null}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f448ff7b-cbe1-4ca6-b781-bc383d1f16e7
        method: PATCH
      response:
        body: '{"created_at":"2025-08-27T15:06:26.624225Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"f448ff7b-cbe1-4ca6-b781-bc383d1f16e7","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestzxhxhgvl","registry_namespace_id":"ecb388b1-8150-4a47-b5da-b43c6a91e350","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$w7hAhE+8fUjCtDVlB8I8DA$nez1WvvOe/f3kEIgJ279R+xOB+JbFVZW48j0AfA2OZE","key":"foo_secret"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:33.778860725Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.723621ms
[...]
