---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-03-20T15:37:51.165249013Z","description":"","environment_variables":{},"error_message":null,"id":"d3ea43f7-031c-4f39-b9fe-e77d4f88ed19","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-03-20T15:37:51.165249013Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.12923575s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d3ea43f7-031c-4f39-b9fe-e77d4f88ed19
        method: GET
      response:
        body: '{"created_at":"2025-03-20T15:37:51.165249Z","description":"","environment_variables":{},"error_message":null,"id":"d3ea43f7-031c-4f39-b9fe-e77d4f88ed19","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-03-20T15:37:51.165249Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.9015ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d3ea43f7-031c-4f39-b9fe-e77d4f88ed19
        method: PATCH
      response:
        body: '{"created_at":"2025-03-20T15:37:51.165249Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"d3ea43f7-031c-4f39-b9fe-e77d4f88ed19","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01oyh0b39b","registry_namespace_id":"e8bc8146-8f2c-4933-8965-dfa08c6249df","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$+mlX2Ly9Se9vhxhONc1asA$YJorbZSbzb7Ff7osaVxOFtqwgFA2bU33JjoNXgaweiU","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-03-20T15:38:28.682944385Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 619.82925ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d3ea43f7-031c-4f39-b9fe-e77d4f88ed19
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 3.070887458s
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"test_secret","value":null},{"key":"foo_secret","value":"bar_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f7005319-4a56-461b-a290-560845eb022e
        method: PATCH
      response:
        body: '{"created_at":"2025-03-20T15:38:56.984648Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"f7005319-4a56-461b-a290-560845eb022e","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestygtqmskl","registry_namespace_id":"afd3a8cf-81e0-4cb2-8689-4b4ff0476def","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$TDgvNFO1IMwCMXF0srXBTA$tYygS0hbYubuyUvlDbrNSjEZYJ0LiIJG5dtP7SOKeB4","key":"foo_secret"}],"status":"pending","tags":[],"updated_at":"2025-03-20T15:39:05.383770407Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.674583ms
[...]
