---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-11-20T13:55:24.460045284Z","description":"","environment_variables":{},"error_message":null,"id":"57731da3-53e6-412b-8df6-cc46a60efc6f","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2024-11-20T13:55:24.460045284Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.027125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/57731da3-53e6-412b-8df6-cc46a60efc6f
        method: GET
      response:
        body: '{"created_at":"2024-11-20T13:55:24.460045Z","description":"","environment_variables":{},"error_message":null,"id":"57731da3-53e6-412b-8df6-cc46a60efc6f","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2024-11-20T13:55:24.460045Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.723709ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/57731da3-53e6-412b-8df6-cc46a60efc6f
        method: PATCH
      response:
        body: '{"created_at":"2024-11-20T13:55:24.460045Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"57731da3-53e6-412b-8df6-cc46a60efc6f","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01fq4qoexf","registry_namespace_id":"1dddc1cb-e87e-4309-b616-372186cbe1a8","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$5ZfjSKN6XIxYC0dr+ZlcrQ$B8KWAYKZx5Ec8ggMFJ2i0AaDK+9ArnCMTic8l6a3Dtc","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2024-11-20T13:55:32.147061173Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 516.158375ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/57731da3-53e6-412b-8df6-cc46a60efc6f
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.3725ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d2756edf-f733-460b-8388-c6def00006c6
        method: PATCH
      response:
        body: '{"created_at":"2024-11-20T13:55:51.850172Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"d2756edf-f733-460b-8388-c6def00006c6","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestlrvltljy","registry_namespace_id":"ee42d292-cd3f-4646-b50e-1df027e9fa3a","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$s9zhY4r7Ip0aMafY68C2UQ$3wLMsMuxss/QFKDp2gor2LK8eTgUq2UL0tsjWTK8hSY","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$uaKMRvfnmPmNo3WLwo/zJQ$fPy//CpQ4oMSkh4yGdWvYmR6ddzZ8Bca6FEu1BFuk7I","key":"foo_secret"}],"status":"pending","tags":[],"updated_at":"2024-11-20T13:56:28.634251275Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.0425ms
[...]
