---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"5e20f139-9343-4ec1-b1f6-cfd73836ffb8\", \"name\":\"test-cr-ns-01\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.038384839Z\", \"updated_at\":\"2025-10-31T16:31:05.038384839Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.060117682s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5e20f139-9343-4ec1-b1f6-cfd73836ffb8
    method: GET
  response:
    body: "{\"id\":\"5e20f139-9343-4ec1-b1f6-cfd73836ffb8\", \"name\":\"test-cr-ns-01\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.038385Z\", \"updated_at\":\"2025-10-31T16:31:05.038385Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.318248ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"test\":\"test\"},\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"test_secret\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5e20f139-9343-4ec1-b1f6-cfd73836ffb8
    method: PATCH
  response:
    body: "{\"id\":\"5e20f139-9343-4ec1-b1f6-cfd73836ffb8\", \"name\":\"test-cr-ns-01\", \"environment_variables\":{\"test\":\"test\"}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"378edcc6-5ea7-4910-81ab-291244609d29\", \"error_message\":null, \"registry_endpoint\":\"rg.fr-par.scw.cloud/funcscwtestcrns01evabxn6s\", \"description\":\"\", \"secret_environment_variables\":[{\"key\":\"test_secret\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$qPZlxDN8qyGiy3LTNsA85Q$o937FGeJoZoplR32kc9xHk+92l0j4yAFw69Q7kUlWzg\"}], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.038385Z\", \"updated_at\":\"2025-10-31T16:31:18.021391380Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 186.263686ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5e20f139-9343-4ec1-b1f6-cfd73836ffb8
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.291172ms
[...]
- id: 45
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"foo\":\"bar\"},\"secret_environment_variables\":[{\"key\":\"foo_secret\",\"value\":\"bar_secret\"},{\"key\":\"test_secret\",\"value\":null}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f0187c5e-f8b1-41ad-b96a-414631d83843
    method: PATCH
  response:
    body: "{\"id\":\"f0187c5e-f8b1-41ad-b96a-414631d83843\", \"name\":\"tf-env-test\", \"environment_variables\":{\"foo\":\"bar\"}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"e93f469b-8dc3-42a5-8cf6-5c377ceff712\", \"error_message\":null, \"registry_endpoint\":\"rg.fr-par.scw.cloud/funcscwtfenvtestcwa2gyhw\", \"description\":\"\", \"secret_environment_variables\":[{\"key\":\"foo_secret\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$Mouk8OgSUP+UvYjhq2pOEQ$TF3hQHVJqRFseozIi4SS83E3FrP3t9H1HoAVSU/bvms\"}], \"tags\":[], \"created_at\":\"2025-10-31T16:32:30.057734Z\", \"updated_at\":\"2025-10-31T16:32:36.702577236Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 213.164634ms
[...]
