---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-04-28T09:37:13.373444566Z","description":"","environment_variables":{},"error_message":null,"id":"86805fb7-b304-4d12-a85b-8ed65b1da533","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"pl-waw","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:13.373444566Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 612.678875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/86805fb7-b304-4d12-a85b-8ed65b1da533
        method: GET
      response:
        body: '{"created_at":"2025-04-28T09:37:13.373445Z","description":"","environment_variables":{},"error_message":null,"id":"86805fb7-b304-4d12-a85b-8ed65b1da533","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"pl-waw","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:13.373445Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.662833ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/86805fb7-b304-4d12-a85b-8ed65b1da533
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.403833ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/0bdb7279-8038-475e-9273-81c0a57b5145
        method: DELETE
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.03975ms
[...]
