---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-04-28T09:37:13.753352673Z","description":"","environment_variables":{},"error_message":null,"id":"739ec6ae-53ee-40dd-949f-67bb90f5bceb","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:13.753352673Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 940.125833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/739ec6ae-53ee-40dd-949f-67bb90f5bceb
        method: GET
      response:
        body: '{"created_at":"2025-04-28T09:37:13.753353Z","description":"","environment_variables":{},"error_message":null,"id":"739ec6ae-53ee-40dd-949f-67bb90f5bceb","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:13.753353Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.92875ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/739ec6ae-53ee-40dd-949f-67bb90f5bceb
        method: PATCH
      response:
        body: '{"created_at":"2025-04-28T09:37:13.753353Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"739ec6ae-53ee-40dd-949f-67bb90f5bceb","name":"test-cr-ns-01","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01acrymz2v","registry_namespace_id":"82c49ce2-a6bf-4518-84b6-6ff9ad138bca","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$KRi5fL1eXTZH0eN3A3+WSQ$Rw4ck/IGCoWLzol+x/oGWiffRVIfTWZP7H3kX3Kc9Dc","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:21.069278059Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.286791ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/739ec6ae-53ee-40dd-949f-67bb90f5bceb
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.829209ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"},{"key":"test_secret","value":null}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9a02f592-bb53-4c3e-8336-012076fad92e
        method: PATCH
      response:
        body: '{"created_at":"2025-04-28T09:37:39.730990Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"9a02f592-bb53-4c3e-8336-012076fad92e","name":"tf-env-test","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtest5lopdqs6","registry_namespace_id":"8143e3ee-48ef-4829-a20f-a477cf6c1bce","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$LRWZ4maW4VIqSDPxGsoe1w$vdGYUWrJHs2Ztq9Yecx62+BSDkn5ZYEvGYhAMVjU6tY","key":"foo_secret"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:46.245920682Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 415.2715ms
[...]
