---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-cr-ns-01","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"643b8707-3a02-4327-9628-e7b41a628952","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:31.507120Z","updated_at":"2026-05-05T14:42:31.507120Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.027229867s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/643b8707-3a02-4327-9628-e7b41a628952
        method: GET
      response:
        body: '{"id":"643b8707-3a02-4327-9628-e7b41a628952","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:31.507120Z","updated_at":"2026-05-05T14:42:31.507120Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.859213ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"description":"","environment_variables":{"test":"test"},"secret_environment_variables":{"test_secret":"test_secret"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/643b8707-3a02-4327-9628-e7b41a628952
        method: PATCH
      response:
        body: '{"id":"643b8707-3a02-4327-9628-e7b41a628952","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"updating","environment_variables":{"test":"test"},"secret_environment_variables":{"test_secret":"$argon2id$v=19$m=65536,t=3,p=64$c6tAnHNLFySu1gpT7LQfWg$tOF0p0MNKVr8IYB5hl4X2dZw3FdkXlp8FgpK59Dsc5s"},"tags":[],"created_at":"2026-05-05T14:42:31.507120Z","updated_at":"2026-05-05T14:42:40.435586Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 566.865132ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/643b8707-3a02-4327-9628-e7b41a628952
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"643b8707-3a02-4327-9628-e7b41a628952","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.988528ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":{"foo_secret":"bar_secret"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/52c0bde2-0285-423b-a66e-2903690e59d8
        method: PATCH
      response:
        body: '{"id":"52c0bde2-0285-423b-a66e-2903690e59d8","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"updating","environment_variables":{"foo":"bar"},"secret_environment_variables":{"foo_secret":"$argon2id$v=19$m=65536,t=3,p=64$rjqgogI+KpI2eMZBv55UGg$iIWHyvRc+6y5epsp1bdNrPQaYKTBC/NaDlrLQcF775I"},"tags":[],"created_at":"2026-05-05T14:42:59.925609Z","updated_at":"2026-05-05T14:43:07.884811Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 793.392821ms
[...]
