---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-secret-ns","environment_variables":{},"secret_environment_variables":{"SECRET_1":"value1","SECRET_2":"value2"},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"294d85ae-7daa-442d-b5c6-62f6bea9a306", "name":"test-secret-ns", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{"SECRET_1":"$argon2id$v=19$m=65536,t=3,p=64$27Mh8CUFWIMTHs9TPBdDjA$8lncsDM6Hhh4vMC+mFtiGD1rysNfCqE/6oVunh8KW/I", "SECRET_2":"$argon2id$v=19$m=65536,t=3,p=64$D/XdZUIIcPr+JtphtE+OEA$MZ0NuaxmPK4ipM6E7OoWHwgjkvnPQNPP+ZQ5mmNU7rc"}, "tags":[], "created_at":"2026-04-20T12:59:10.654964Z", "updated_at":"2026-04-20T12:59:10.654964Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.4452016s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/294d85ae-7daa-442d-b5c6-62f6bea9a306
        method: GET
      response:
        body: '{"id":"294d85ae-7daa-442d-b5c6-62f6bea9a306", "name":"test-secret-ns", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{"SECRET_1":"$argon2id$v=19$m=65536,t=3,p=64$27Mh8CUFWIMTHs9TPBdDjA$8lncsDM6Hhh4vMC+mFtiGD1rysNfCqE/6oVunh8KW/I", "SECRET_2":"$argon2id$v=19$m=65536,t=3,p=64$D/XdZUIIcPr+JtphtE+OEA$MZ0NuaxmPK4ipM6E7OoWHwgjkvnPQNPP+ZQ5mmNU7rc"}, "tags":[], "created_at":"2026-04-20T12:59:10.654964Z", "updated_at":"2026-04-20T12:59:10.654964Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.885555ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"secret_environment_variables":{"SECRET_2":"","SECRET_KEY_1":"value1"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/294d85ae-7daa-442d-b5c6-62f6bea9a306
        method: PATCH
      response:
        body: '{"id":"294d85ae-7daa-442d-b5c6-62f6bea9a306", "name":"test-secret-ns", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"updating", "environment_variables":{}, "secret_environment_variables":{"SECRET_2":"$argon2id$v=19$m=65536,t=3,p=64$hrzIHDkclSPSTcJSdIk/lQ$DeRm3u1D0/HW2QF0V7nZsA0qPG/cXFiEb2OjTDid+jk", "SECRET_KEY_1":"$argon2id$v=19$m=65536,t=3,p=64$Rj8pj3EVCUIdtYe5v6CNCQ$8PAGKirJ+sj6eOYj21XkRvDNG1OJYD38FCUmuZ6Z8W4"}, "tags":[], "created_at":"2026-04-20T12:59:10.654964Z", "updated_at":"2026-04-20T12:59:26.982777Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 639.527921ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/294d85ae-7daa-442d-b5c6-62f6bea9a306
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"294d85ae-7daa-442d-b5c6-62f6bea9a306","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.903364ms
[...]
