---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces
    method: POST
  response:
    body: "{\"id\":\"2e8b6008-2c43-43e6-ab4e-2cca9352263e\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:47.644914199Z\",\"updated_at\":\"2025-09-01T15:55:47.644914199Z\",\"vpc_integration_activated\":true,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 453.741259ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/2e8b6008-2c43-43e6-ab4e-2cca9352263e
    method: GET
  response:
    body: "{\"id\":\"2e8b6008-2c43-43e6-ab4e-2cca9352263e\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:55:47.644914Z\",\"updated_at\":\"2025-09-01T15:55:47.644914Z\",\"vpc_integration_activated\":true,\"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 135.989904ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/2e8b6008-2c43-43e6-ab4e-2cca9352263e
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 61.719431ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/db6c12f0-c712-4b45-a95d-1fe39ea34d50
    method: DELETE
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 55.051976ms
[...]
