---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-import-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[{"key":"foo","value":"bar"}],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-02-28T13:05:12.503818548Z","description":"","environment_variables":{},"error_message":null,"id":"43b67f48-24a7-4a1e-b0bd-41d09ad1afe1","name":"test-cr-ns-import-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$QsHEAaFmIS/TiV548k/6ow$cgDKWHzeZJXYZ9GKe2yriLpmpFkOFa0Njt7vhIS0goM","key":"foo"}],"status":"pending","tags":[],"updated_at":"2025-02-28T13:05:12.503818548Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.145185584s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/43b67f48-24a7-4a1e-b0bd-41d09ad1afe1
        method: GET
      response:
        body: '{"created_at":"2025-02-28T13:05:12.503819Z","description":"","environment_variables":{},"error_message":null,"id":"43b67f48-24a7-4a1e-b0bd-41d09ad1afe1","name":"test-cr-ns-import-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$QsHEAaFmIS/TiV548k/6ow$cgDKWHzeZJXYZ9GKe2yriLpmpFkOFa0Njt7vhIS0goM","key":"foo"}],"status":"pending","tags":[],"updated_at":"2025-02-28T13:05:12.503819Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.645ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/43b67f48-24a7-4a1e-b0bd-41d09ad1afe1
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.046917ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/1743f14c-ee20-4ef6-8bde-5018615196b2
        method: DELETE
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.673209ms
[...]
