---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-blissful-edison\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"3b277aee-b7ed-4500-84a2-4b431fb8ddf6\",\"name\":\"tf-pn-blissful-edison\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:39.482471Z\",\"updated_at\":\"2025-09-01T15:54:39.482471Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"2f42ed92-f300-4321-8d20-c0f9cd0d0144\",\"created_at\":\"2025-09-01T15:54:39.482471Z\",\"updated_at\":\"2025-09-01T15:54:39.482471Z\",\"subnet\":\"172.16.124.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3b277aee-b7ed-4500-84a2-4b431fb8ddf6\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"5549460c-56a8-4009-9a4e-c1fb88f0ba4d\",\"created_at\":\"2025-09-01T15:54:39.482471Z\",\"updated_at\":\"2025-09-01T15:54:39.482471Z\",\"subnet\":\"fde7:767f:1bb5:13fc::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3b277aee-b7ed-4500-84a2-4b431fb8ddf6\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.035984186s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3b277aee-b7ed-4500-84a2-4b431fb8ddf6
    method: GET
  response:
    body: "{\"id\":\"3b277aee-b7ed-4500-84a2-4b431fb8ddf6\",\"name\":\"tf-pn-blissful-edison\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:54:39.482471Z\",\"updated_at\":\"2025-09-01T15:54:39.482471Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"2f42ed92-f300-4321-8d20-c0f9cd0d0144\",\"created_at\":\"2025-09-01T15:54:39.482471Z\",\"updated_at\":\"2025-09-01T15:54:39.482471Z\",\"subnet\":\"172.16.124.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3b277aee-b7ed-4500-84a2-4b431fb8ddf6\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"5549460c-56a8-4009-9a4e-c1fb88f0ba4d\",\"created_at\":\"2025-09-01T15:54:39.482471Z\",\"updated_at\":\"2025-09-01T15:54:39.482471Z\",\"subnet\":\"fde7:767f:1bb5:13fc::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"3b277aee-b7ed-4500-84a2-4b431fb8ddf6\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.446782ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-ecstatic-bassi\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"b21bb2e9-47c1-430b-ba62-ed7fd435cdfd\",\"name\":\"tf-ns-ecstatic-bassi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.028203979Z\",\"updated_at\":\"2025-09-01T15:54:50.028203979Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 10.956283961s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/b21bb2e9-47c1-430b-ba62-ed7fd435cdfd
    method: GET
  response:
    body: "{\"id\":\"b21bb2e9-47c1-430b-ba62-ed7fd435cdfd\",\"name\":\"tf-ns-ecstatic-bassi\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:54:50.028204Z\",\"updated_at\":\"2025-09-01T15:54:50.028204Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 205.85443ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"b21bb2e9-47c1-430b-ba62-ed7fd435cdfd\",\"name\":\"tf-co-musing-kare\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"f617ba3d-73ee-4af2-be7f-82a9394a53fb\",\"name\":\"tf-co-musing-kare\",\"namespace_id\":\"b21bb2e9-47c1-430b-ba62-ed7fd435cdfd\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsecstaticbassirujup33j/tf-co-musing-kare:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsecstaticbassirujup33j-tf-co-musing-kare.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:27.191544332Z\",\"updated_at\":\"2025-09-01T15:55:27.191544332Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.794009101s
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f617ba3d-73ee-4af2-be7f-82a9394a53fb
    method: GET
  response:
    body: "{\"id\":\"f617ba3d-73ee-4af2-be7f-82a9394a53fb\",\"name\":\"tf-co-musing-kare\",\"namespace_id\":\"b21bb2e9-47c1-430b-ba62-ed7fd435cdfd\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsecstaticbassirujup33j/tf-co-musing-kare:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsecstaticbassirujup33j-tf-co-musing-kare.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:55:27.191544Z\",\"updated_at\":\"2025-09-01T15:55:27.191544Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 145.726084ms
[...]
- id: 39
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/b21bb2e9-47c1-430b-ba62-ed7fd435cdfd
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.915654ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3b277aee-b7ed-4500-84a2-4b431fb8ddf6
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"3b277aee-b7ed-4500-84a2-4b431fb8ddf6\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.293598ms
