---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-ns","environment_variables":{},"secret_environment_variables":{"SECRET_1":"value1","SECRET_2":"value2"},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"72809142-92c4-4d0e-a717-de1f420addec","name":"test-secret-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{"SECRET_1":"$argon2id$v=19$m=65536,t=3,p=64$XSiPYmw7aqyc/ycunqPt7g$L7ZFigq2ZXr7XjOb8J5DxE3Ne2bf2qlvJFSuChZwow4","SECRET_2":"$argon2id$v=19$m=65536,t=3,p=64$tLaJIa1blHGGF7MqgrwONw$bEhSoyEpqLDshEYURwLAJsH71ZeF10jwR+E2brHkCNQ"},"tags":[],"created_at":"2026-05-05T14:42:38.279876Z","updated_at":"2026-05-05T14:42:38.279876Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.313149867s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/72809142-92c4-4d0e-a717-de1f420addec
        method: GET
      response:
        body: '{"id":"72809142-92c4-4d0e-a717-de1f420addec","name":"test-secret-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{"SECRET_1":"$argon2id$v=19$m=65536,t=3,p=64$XSiPYmw7aqyc/ycunqPt7g$L7ZFigq2ZXr7XjOb8J5DxE3Ne2bf2qlvJFSuChZwow4","SECRET_2":"$argon2id$v=19$m=65536,t=3,p=64$tLaJIa1blHGGF7MqgrwONw$bEhSoyEpqLDshEYURwLAJsH71ZeF10jwR+E2brHkCNQ"},"tags":[],"created_at":"2026-05-05T14:42:38.279876Z","updated_at":"2026-05-05T14:42:38.279876Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.842268ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"secret_environment_variables":{"SECRET_2":"","SECRET_KEY_1":"value1"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/72809142-92c4-4d0e-a717-de1f420addec
        method: PATCH
      response:
        body: '{"id":"72809142-92c4-4d0e-a717-de1f420addec","name":"test-secret-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"updating","environment_variables":{},"secret_environment_variables":{"SECRET_2":"$argon2id$v=19$m=65536,t=3,p=64$oIaOUQkmCdnqSPdo2pthsQ$E+1y/uBn8l/6nu7sjg/ybrR+D6PfXQxbqaffcRrHWEM","SECRET_KEY_1":"$argon2id$v=19$m=65536,t=3,p=64$ZXw5dimzzi+mdjBl4SLDLA$a6YC8HFcVsnrh1Gt4gyI+SAdfLTMrAXCLNG6rx8xOVU"},"tags":[],"created_at":"2026-05-05T14:42:38.279876Z","updated_at":"2026-05-05T14:42:54.134762Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 641.829445ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/72809142-92c4-4d0e-a717-de1f420addec
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"72809142-92c4-4d0e-a717-de1f420addec","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.497379ms
[...]
