---
version: 2
interactions:
- request:
    body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"bb2ee806-26e6-446a-8252-cb1af94fe215","name":"test-cr-ns-01","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/bb2ee806-26e6-446a-8252-cb1af94fe215
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"bb2ee806-26e6-446a-8252-cb1af94fe215","name":"test-cr-ns-01","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/bb2ee806-26e6-446a-8252-cb1af94fe215
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/c1a87f29-c3a3-4f68-bd43-2859a701426f
    method: DELETE
  response:
    body: '{"created_at":"2023-01-23T09:57:39.738187Z","description":"","endpoint":"rg.pl-waw.scw.cloud/funcscwtestcrns01vkgqc4qe","id":"c1a87f29-c3a3-4f68-bd43-2859a701426f","image_count":0,"is_public":false,"name":"funcscwtestcrns01vkgqc4qe","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","size":0,"status":"deleting","status_message":"","updated_at":"2023-01-23T09:57:43.454420715Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
