---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-cr-ns-01","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"54233f6d-b955-4f2c-a189-79bd36129c00", "name":"test-cr-ns-01", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:12.830852Z", "updated_at":"2026-04-20T12:59:12.830852Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.032915987s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/54233f6d-b955-4f2c-a189-79bd36129c00
        method: GET
      response:
        body: '{"id":"54233f6d-b955-4f2c-a189-79bd36129c00", "name":"test-cr-ns-01", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:12.830852Z", "updated_at":"2026-04-20T12:59:12.830852Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.941467ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"description":"","environment_variables":{"test":"test"},"secret_environment_variables":{"test_secret":"test_secret"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/54233f6d-b955-4f2c-a189-79bd36129c00
        method: PATCH
      response:
        body: '{"id":"54233f6d-b955-4f2c-a189-79bd36129c00", "name":"test-cr-ns-01", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"updating", "environment_variables":{"test":"test"}, "secret_environment_variables":{"test_secret":"$argon2id$v=19$m=65536,t=3,p=64$qGrZP4jv4L3M48RS1tkt1Q$ebTrVDLPNnCUEB8FhcPwWoNWZASMMybl5ICLtFhOdwg"}, "tags":[], "created_at":"2026-04-20T12:59:12.830852Z", "updated_at":"2026-04-20T12:59:20.439276Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 598.536178ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/54233f6d-b955-4f2c-a189-79bd36129c00
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"54233f6d-b955-4f2c-a189-79bd36129c00","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.872248ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":{"foo_secret":"bar_secret"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/1562309b-fbc6-468b-8a8c-abed4eed6e70
        method: PATCH
      response:
        body: '{"id":"1562309b-fbc6-468b-8a8c-abed4eed6e70", "name":"tf-env-test", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"updating", "environment_variables":{"foo":"bar"}, "secret_environment_variables":{"foo_secret":"$argon2id$v=19$m=65536,t=3,p=64$ACw5Ap+CRu4YFOZqTJ+xAw$7PTb61lN45C9x5QtNbHJLqzWEY4tw+A0CYJUz1VEt2M"}, "tags":[], "created_at":"2026-04-20T12:59:40.842446Z", "updated_at":"2026-04-20T12:59:48.388825Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 515.380445ms
[...]
