---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-pensive-galois","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:36.152051Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b3c3c64b-8111-4fd7-91ba-792cb0f36cdb","name":"tf-pn-pensive-galois","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:05:36.152051Z","id":"88d99377-0b6a-489b-9b82-11f9d78419c5","private_network_id":"b3c3c64b-8111-4fd7-91ba-792cb0f36cdb","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"172.16.8.0/22","updated_at":"2025-08-27T15:05:36.152051Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"},{"created_at":"2025-08-27T15:05:36.152051Z","id":"a3e83579-c651-4648-87b2-5c39a546ed11","private_network_id":"b3c3c64b-8111-4fd7-91ba-792cb0f36cdb","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"fde7:767f:1bb5:98d9::/64","updated_at":"2025-08-27T15:05:36.152051Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}],"tags":[],"updated_at":"2025-08-27T15:05:36.152051Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 945.992298ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b3c3c64b-8111-4fd7-91ba-792cb0f36cdb
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:36.152051Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"b3c3c64b-8111-4fd7-91ba-792cb0f36cdb","name":"tf-pn-pensive-galois","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","subnets":[{"created_at":"2025-08-27T15:05:36.152051Z","id":"88d99377-0b6a-489b-9b82-11f9d78419c5","private_network_id":"b3c3c64b-8111-4fd7-91ba-792cb0f36cdb","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"172.16.8.0/22","updated_at":"2025-08-27T15:05:36.152051Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"},{"created_at":"2025-08-27T15:05:36.152051Z","id":"a3e83579-c651-4648-87b2-5c39a546ed11","private_network_id":"b3c3c64b-8111-4fd7-91ba-792cb0f36cdb","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","subnet":"fde7:767f:1bb5:98d9::/64","updated_at":"2025-08-27T15:05:36.152051Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}],"tags":[],"updated_at":"2025-08-27T15:05:36.152051Z","vpc_id":"bfef8344-f496-473e-af67-31ea9afc407c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.079454ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-musing-kalam","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:41.346205317Z","description":"","environment_variables":{},"error_message":null,"id":"95c0fd0f-9afe-4c03-80ef-557a38a2e187","name":"tf-ns-musing-kalam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.346205317Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.320374105s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/95c0fd0f-9afe-4c03-80ef-557a38a2e187
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:41.346205Z","description":"","environment_variables":{},"error_message":null,"id":"95c0fd0f-9afe-4c03-80ef-557a38a2e187","name":"tf-ns-musing-kalam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.346205Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.373534ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"95c0fd0f-9afe-4c03-80ef-557a38a2e187","name":"tf-co-sharp-curie","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.490381047Z","description":"","domain_name":"tfnsmusingkalamif5vsq3b-tf-co-sharp-curie.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f2ae88c1-6bf4-4bbe-804d-27eb540f8fec","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-sharp-curie","namespace_id":"95c0fd0f-9afe-4c03-80ef-557a38a2e187","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmusingkalamif5vsq3b/tf-co-sharp-curie:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:58.490381047Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.723452816s
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f2ae88c1-6bf4-4bbe-804d-27eb540f8fec
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:05:58.490381Z","description":"","domain_name":"tfnsmusingkalamif5vsq3b-tf-co-sharp-curie.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"f2ae88c1-6bf4-4bbe-804d-27eb540f8fec","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-sharp-curie","namespace_id":"95c0fd0f-9afe-4c03-80ef-557a38a2e187","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsmusingkalamif5vsq3b/tf-co-sharp-curie:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:05:58.490381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.790438ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/95c0fd0f-9afe-4c03-80ef-557a38a2e187
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.470333ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b3c3c64b-8111-4fd7-91ba-792cb0f36cdb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"b3c3c64b-8111-4fd7-91ba-792cb0f36cdb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.997115ms
