---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-secret-ns\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[{\"key\":\"SECRET_2\",\"value\":\"value2\"},{\"key\":\"SECRET_1\",\"value\":\"value1\"}],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"735fb1fa-61f9-4001-8c98-6facbb6c14a0\", \"name\":\"test-secret-ns\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[{\"key\":\"SECRET_2\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$VdtdFDf0lSW8qHfwKDUp5Q$RUulbQ16gkleb6DqYHS9Y3kFiqdGNQcQF+oX2aaRB2I\"}, {\"key\":\"SECRET_1\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$+7jtKLjaC8VUGHAjKTvkhg$MMCMCwenHI51490WQhbgJB3Z6OOJr/zY9bfS5HBujc0\"}], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.401175603Z\", \"updated_at\":\"2025-10-31T16:31:05.401175603Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.364208483s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/735fb1fa-61f9-4001-8c98-6facbb6c14a0
    method: GET
  response:
    body: "{\"id\":\"735fb1fa-61f9-4001-8c98-6facbb6c14a0\", \"name\":\"test-secret-ns\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[{\"key\":\"SECRET_2\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$VdtdFDf0lSW8qHfwKDUp5Q$RUulbQ16gkleb6DqYHS9Y3kFiqdGNQcQF+oX2aaRB2I\"}, {\"key\":\"SECRET_1\", \"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$+7jtKLjaC8VUGHAjKTvkhg$MMCMCwenHI51490WQhbgJB3Z6OOJr/zY9bfS5HBujc0\"}], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.401176Z\", \"updated_at\":\"2025-10-31T16:31:05.401176Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 84.198557ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/735fb1fa-61f9-4001-8c98-6facbb6c14a0
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.510079ms
[...]
