---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces
    method: POST
  response:
    body: "{\"id\":\"78c5fee4-c17b-4a8f-9382-c37d698202b7\", \"name\":\"test-cr-ns-01\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:00.711853988Z\", \"updated_at\":\"2025-10-31T16:31:00.711853988Z\", \"vpc_integration_activated\":true, \"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 700.458426ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/78c5fee4-c17b-4a8f-9382-c37d698202b7
    method: GET
  response:
    body: "{\"id\":\"78c5fee4-c17b-4a8f-9382-c37d698202b7\", \"name\":\"test-cr-ns-01\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:00.711854Z\", \"updated_at\":\"2025-10-31T16:31:00.711854Z\", \"vpc_integration_activated\":true, \"region\":\"pl-waw\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.703013ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/pl-waw/namespaces/78c5fee4-c17b-4a8f-9382-c37d698202b7
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 61.973455ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/5a2d9926-5e37-4d89-b9fd-378605e54822
    method: DELETE
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 61.393705ms
[...]
