---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccNamespace_VPCIntegration\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"f0061987-efc2-42b1-927e-6305bc72e13c\", \"name\":\"TestAccNamespace_VPCIntegration\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:31:00.200357Z\", \"updated_at\":\"2025-10-31T16:31:00.200357Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.696725ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f0061987-efc2-42b1-927e-6305bc72e13c
    method: GET
  response:
    body: "{\"id\":\"f0061987-efc2-42b1-927e-6305bc72e13c\", \"name\":\"TestAccNamespace_VPCIntegration\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:31:00.200357Z\", \"updated_at\":\"2025-10-31T16:31:00.200357Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"is_default\":false, \"private_network_count\":0, \"routing_enabled\":true, \"custom_routes_propagation_enabled\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 93.025693ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-sweet-stonebraker\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"f0061987-efc2-42b1-927e-6305bc72e13c\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"dc0f6008-2c24-4e87-9167-aa90e787e0bc\", \"name\":\"tf-pn-sweet-stonebraker\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:31:00.572610Z\", \"updated_at\":\"2025-10-31T16:31:00.572610Z\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"subnets\":[{\"id\":\"8e04dd9c-9d97-4875-8382-fa0d43d3d966\", \"created_at\":\"2025-10-31T16:31:00.572610Z\", \"updated_at\":\"2025-10-31T16:31:00.572610Z\", \"subnet\":\"172.17.108.0/22\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"dc0f6008-2c24-4e87-9167-aa90e787e0bc\", \"vpc_id\":\"f0061987-efc2-42b1-927e-6305bc72e13c\"}, {\"id\":\"95c0e764-9fc1-4de9-bf89-38d7e3aaa630\", \"created_at\":\"2025-10-31T16:31:00.572610Z\", \"updated_at\":\"2025-10-31T16:31:00.572610Z\", \"subnet\":\"fd5f:519c:6d46:b2c8::/64\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"private_network_id\":\"dc0f6008-2c24-4e87-9167-aa90e787e0bc\", \"vpc_id\":\"f0061987-efc2-42b1-927e-6305bc72e13c\"}], \"vpc_id\":\"f0061987-efc2-42b1-927e-6305bc72e13c\", \"dhcp_enabled\":true, \"default_route_propagation_enabled\":false, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 881.379288ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dc0f6008-2c24-4e87-9167-aa90e787e0bc
    method: GET
  response:
    body: "{\"id\":\"dc0f6008-2c24-4e87-9167-aa90e787e0bc\", \"name\":\"tf-pn-sweet-stonebraker\", \"tags\":[], \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:31:00.572610Z\", \"updated_at\":\"2025-10-31T16:31:00.572610Z\", \"project_id\":\"105bdce1-64c0-48[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-beautiful-tesla\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"74dd1ed4-9cf1-4bf8-be35-def8f451fda0\", \"name\":\"tf-ns-beautiful-tesla\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.226205944Z\", \"updated_at\":\"2025-10-31T16:31:05.226205944Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.240170498s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/74dd1ed4-9cf1-4bf8-be35-def8f451fda0
    method: GET
  response:
    body: "{\"id\":\"74dd1ed4-9cf1-4bf8-be35-def8f451fda0\", \"name\":\"tf-ns-beautiful-tesla\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.226206Z\", \"updated_at\":\"2025-10-31T16:31:05.226206Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.614735ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"74dd1ed4-9cf1-4bf8-be35-def8f451fda0\",\"name\":\"tf-co-cool-rhodes\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"v1\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"1c7180d5-4815-43e0-be67-34aa705cd079\", \"name\":\"tf-co-cool-rhodes\", \"namespace_id\":\"74dd1ed4-9cf1-4bf8-be35-def8f451fda0\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsbeautifultesladbjc6dzd/tf-co-cool-rhodes:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsbeautifultesladbjc6dzd-tf-co-cool-rhodes.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.706137889Z\", \"updated_at\":\"2025-10-31T16:31:16.706137889Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 919.860591ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/1c7180d5-4815-43e0-be67-34aa705cd079
    method: GET
  response:
    body: "{\"id\":\"1c7180d5-4815-43e0-be67-34aa705cd079\", \"name\":\"tf-co-cool-rhodes\", \"namespace_id\":\"74dd1ed4-9cf1-4bf8-be35-def8f451fda0\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsbeautifultesladbjc6dzd/tf-co-cool-rhodes:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsbeautifultesladbjc6dzd-tf-co-cool-rhodes.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v1\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.706138Z\", \"updated_at\":\"2025-10-31T16:31:16.706138Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.716825ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/74dd1ed4-9cf1-4bf8-be35-def8f451fda0
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 70.635702ms
[...]
- id: 43
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dc0f6008-2c24-4e87-9167-aa90e787e0bc
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"dc0f6008-2c24-4e87-9167-aa90e787e0bc\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 17.836863ms
