---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccNamespace_VPCIntegration","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:31:08.902537Z","custom_routes_propagation_enabled":true,"id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac","is_default":false,"name":"TestAccNamespace_VPCIntegration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:31:08.902537Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.540666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1f7de8f6-ec57-4de4-949f-993a07d4d4ac
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:31:08.902537Z","custom_routes_propagation_enabled":true,"id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac","is_default":false,"name":"TestAccNamespace_VPCIntegration","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-30T09:31:08.902537Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.003209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-vibrant-franklin","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:31:09.015781Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"19a442de-4995-4186-80d1-5a6f54aa254e","name":"tf-pn-vibrant-franklin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:31:09.015781Z","id":"96c658ec-8d04-4416-a0e7-c34de77d39fd","private_network_id":"19a442de-4995-4186-80d1-5a6f54aa254e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.172.0/22","updated_at":"2025-09-30T09:31:09.015781Z","vpc_id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac"},{"created_at":"2025-09-30T09:31:09.015781Z","id":"f4ef3989-5786-46f6-ab9e-c13c78268da7","private_network_id":"19a442de-4995-4186-80d1-5a6f54aa254e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bdeb::/64","updated_at":"2025-09-30T09:31:09.015781Z","vpc_id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac"}],"tags":[],"updated_at":"2025-09-30T09:31:09.015781Z","vpc_id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 631.753666ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/19a442de-4995-4186-80d1-5a6f54aa254e
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:31:09.015781Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"19a442de-4995-4186-80d1-5a6f54aa254e","name":"tf-pn-vibrant-franklin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-09-30T09:31:09.015781Z","id":"96c658ec-8d04-4416-a0e7-c34de77d39fd","private_network_id":"19a442de-4995-4186-80d1-5a6f54aa254e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.17.172.0/22","updated_at":"2025-09-30T09:31:09.015781Z","vpc_id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac"},{"created_at":"2025-09-30T09:31:09.015781Z","id":"f4ef3989-5786-46f6-ab9e-c13c78268da7","private_network_id":"19a442de-4995-4186-80d1-5a6f54aa254e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bdeb::/64","updated_at":"2025-09-30T09:31:09.015781Z","vpc_id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac"}],"tags":[],"updated_at":"2025-09-30T09:31:09.015781Z","vpc_id":"1f7de8f6-ec57-4de4-949f-993a07d4d4ac"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.973667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-peaceful-bartik","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-30T09:31:09.841363132Z","description":"","environment_variables":{},"error_message":null,"id":"dfc2bf98-173e-470f-ab3a-8ccd7f3edce5","name":"tf-ns-peaceful-bartik","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:31:09.841363132Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.150724666s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/dfc2bf98-173e-470f-ab3a-8ccd7f3edce5
        method: GET
      response:
        body: '{"created_at":"2025-09-30T09:31:09.841363Z","description":"","environment_variables":{},"error_message":null,"id":"dfc2bf98-173e-470f-ab3a-8ccd7f3edce5","name":"tf-ns-peaceful-bartik","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-30T09:31:09.841363Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.984541ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"dfc2bf98-173e-470f-ab3a-8ccd7f3edce5","name":"tf-co-compassionate-feynman","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-09-30T09:31:15.650526490Z","description":"","domain_name":"tfnspeacefulbartikukx16ute-tf-co-compassionate-feynman.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"2996caa8-fbe6-4798-9a21-7c63b37f4b4b","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-compassionate-feynman","namespace_id":"dfc2bf98-173e-470f-ab3a-8ccd7f3edce5","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspeacefulbartikukx16ute/tf-co-compassionate-feynman:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:31:15.650526490Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 434.596583ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/2996caa8-fbe6-4798-9a21-7c63b37f4b4b
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-09-30T09:31:15.650526Z","description":"","domain_name":"tfnspeacefulbartikukx16ute-tf-co-compassionate-feynman.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"2996caa8-fbe6-4798-9a21-7c63b37f4b4b","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-compassionate-feynman","namespace_id":"dfc2bf98-173e-470f-ab3a-8ccd7f3edce5","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspeacefulbartikukx16ute/tf-co-compassionate-feynman:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-30T09:31:15.650526Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.891291ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/dfc2bf98-173e-470f-ab3a-8ccd7f3edce5
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.529458ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/19a442de-4995-4186-80d1-5a6f54aa254e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"19a442de-4995-4186-80d1-5a6f54aa254e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.242292ms
