---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-musing-chatterjee","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-08-27T14:01:37.966124Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1510a03d-65c6-4fb4-ad5f-e10774ccf565","name":"tf-pn-musing-chatterjee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T14:01:37.966124Z","id":"504966e9-c06d-4586-91da-f503ffe8974e","private_network_id":"1510a03d-65c6-4fb4-ad5f-e10774ccf565","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-08-27T14:01:37.966124Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T14:01:37.966124Z","id":"52043d70-ee6a-4801-bc3b-d21486df6925","private_network_id":"1510a03d-65c6-4fb4-ad5f-e10774ccf565","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b5ee::/64","updated_at":"2025-08-27T14:01:37.966124Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T14:01:37.966124Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 905.880226ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1510a03d-65c6-4fb4-ad5f-e10774ccf565
        method: GET
      response:
        body: '{"created_at":"2025-08-27T14:01:37.966124Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1510a03d-65c6-4fb4-ad5f-e10774ccf565","name":"tf-pn-musing-chatterjee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-08-27T14:01:37.966124Z","id":"504966e9-c06d-4586-91da-f503ffe8974e","private_network_id":"1510a03d-65c6-4fb4-ad5f-e10774ccf565","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-08-27T14:01:37.966124Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-08-27T14:01:37.966124Z","id":"52043d70-ee6a-4801-bc3b-d21486df6925","private_network_id":"1510a03d-65c6-4fb4-ad5f-e10774ccf565","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b5ee::/64","updated_at":"2025-08-27T14:01:37.966124Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-08-27T14:01:37.966124Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.798263ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-brave-mccarthy","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T14:01:39.604469939Z","description":"","environment_variables":{},"error_message":null,"id":"03e50d0f-56d9-451b-ab35-5392d4489fbf","name":"tf-ns-brave-mccarthy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T14:01:39.604469939Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.982691746s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/03e50d0f-56d9-451b-ab35-5392d4489fbf
        method: GET
      response:
        body: '{"created_at":"2025-08-27T14:01:39.604470Z","description":"","environment_variables":{},"error_message":null,"id":"03e50d0f-56d9-451b-ab35-5392d4489fbf","name":"tf-ns-brave-mccarthy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T14:01:39.604470Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.16435ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"03e50d0f-56d9-451b-ab35-5392d4489fbf","name":"tf-co-wizardly-kowalevski","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T14:01:45.494935898Z","description":"","domain_name":"tfnsbravemccarthyq2moobr5-tf-co-wizardly-kowalevski.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"2e7019af-d628-4889-b30f-b346fe6fa0c8","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-wizardly-kowalevski","namespace_id":"03e50d0f-56d9-451b-ab35-5392d4489fbf","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsbravemccarthyq2moobr5/tf-co-wizardly-kowalevski:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T14:01:45.494935898Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 489.159179ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/2e7019af-d628-4889-b30f-b346fe6fa0c8
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T14:01:45.494936Z","description":"","domain_name":"tfnsbravemccarthyq2moobr5-tf-co-wizardly-kowalevski.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"2e7019af-d628-4889-b30f-b346fe6fa0c8","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-wizardly-kowalevski","namespace_id":"03e50d0f-56d9-451b-ab35-5392d4489fbf","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsbravemccarthyq2moobr5/tf-co-wizardly-kowalevski:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T14:01:45.494936Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.89981ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/03e50d0f-56d9-451b-ab35-5392d4489fbf
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.513734ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1510a03d-65c6-4fb4-ad5f-e10774ccf565
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"1510a03d-65c6-4fb4-ad5f-e10774ccf565","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.291314ms
