---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccNamespace_VPCIntegration","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"fedc841d-a454-4a77-8927-1ccd6feb4d17", "name":"TestAccNamespace_VPCIntegration", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-04-20T12:59:10.158458Z", "updated_at":"2026-04-20T12:59:10.158458Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.09164ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/fedc841d-a454-4a77-8927-1ccd6feb4d17
        method: GET
      response:
        body: '{"id":"fedc841d-a454-4a77-8927-1ccd6feb4d17", "name":"TestAccNamespace_VPCIntegration", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-04-20T12:59:10.158458Z", "updated_at":"2026-04-20T12:59:10.158458Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.328145ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-wizardly-maxwell","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"fedc841d-a454-4a77-8927-1ccd6feb4d17","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"b1dff21f-35e9-4f21-b8c2-ecc561445902", "name":"tf-pn-wizardly-maxwell", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-04-20T12:59:10.320473Z", "updated_at":"2026-04-20T12:59:10.320473Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"533611a8-7a75-4de6-90ba-4519274fe3f6", "created_at":"2026-04-20T12:59:10.320473Z", "updated_at":"2026-04-20T12:59:10.320473Z", "subnet":"172.16.4.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b1dff21f-35e9-4f21-b8c2-ecc561445902", "vpc_id":"fedc841d-a454-4a77-8927-1ccd6feb4d17"}, {"id":"92166d9a-0036-45b9-810d-d0ee6457eb7a", "created_at":"2026-04-20T12:59:10.320473Z", "updated_at":"2026-04-20T12:59:10.320473Z", "subnet":"fd63:256c:45f7:6251::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b1dff21f-35e9-4f21-b8c2-ecc561445902", "vpc_id":"fedc841d-a454-4a77-8927-1ccd6feb4d17"}], "vpc_id":"fedc841d-a454-4a77-8927-1ccd6feb4d17", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.718672ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b1dff21f-35e9-4f21-b8c2-ecc561445902
        method: GET
      response:
        body: '{"id":"b1dff21f-35e9-4f21-b8c2-ecc561445902", "name":"tf-pn-wizardly-maxwell", "tags":[], "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-04-20T12:59:10.320473Z", "updated_at":"2026-04-20T12:59:10.320473Z", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "subnets":[{"id":"533611a8-7a75-4de6-90ba-4519274fe3f6", "created_at":"2026-04-20T12:59:10.320473Z", "updated_at":"2026-04-20T12:59:10.320473Z", "subnet":"172.16.4.0/22", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b1dff21f-35e9-4f21-b8c2-ecc561445902", "vpc_id":"fedc841d-a454-4a77-8927-1ccd6feb4d17"}, {"id":"92166d9a-0036-45b9-810d-d0ee6457eb7a", "created_at":"2026-04-20T12:59:10.320473Z", "updated_at":"2026-04-20T12:59:10.320473Z", "subnet":"fd63:256c:45f7:6251::/64", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "private_network_id":"b1dff21f-35e9-4f21-b8c2-ecc561445902", "vpc_id":"fedc841d-a454-4a77-8927-1ccd6feb4d17"}], "vpc_id":"fedc841d-a454-4a77-8927-1ccd6feb4d17", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.764482ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-ns-gracious-stallman","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"5ac102a1-4e6b-487c-8a23-f94721271831", "name":"tf-ns-gracious-stallman", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:13.375073Z", "updated_at":"2026-04-20T12:59:13.375073Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.852402486s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/5ac102a1-4e6b-487c-8a23-f94721271831
        method: GET
      response:
        body: '{"id":"5ac102a1-4e6b-487c-8a23-f94721271831", "name":"tf-ns-gracious-stallman", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "description":"", "status":"creating", "environment_variables":{}, "secret_environment_variables":{}, "tags":[], "created_at":"2026-04-20T12:59:13.375073Z", "updated_at":"2026-04-20T12:59:13.375073Z", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.119413ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"5ac102a1-4e6b-487c-8a23-f94721271831","name":"tf-co-compassionate-roentgen","environment_variables":null,"secret_environment_variables":null,"privacy":"public","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"v1","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"cbb5877d-df46-431f-99f9-e8704ab82b97", "name":"tf-co-compassionate-roentgen", "namespace_id":"5ac102a1-4e6b-487c-8a23-f94721271831", "description":"", "status":"creating", "created_at":"2026-04-20T12:59:19.165214Z", "updated_at":"2026-04-20T12:59:19.165214Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"nginx:1.29.4-alpine", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v1", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://tfnsgraciousstallman5ac102a1-tf-co-compassionate-roentgen.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 453.227697ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/cbb5877d-df46-431f-99f9-e8704ab82b97
        method: GET
      response:
        body: '{"id":"cbb5877d-df46-431f-99f9-e8704ab82b97", "name":"tf-co-compassionate-roentgen", "namespace_id":"5ac102a1-4e6b-487c-8a23-f94721271831", "description":"", "status":"creating", "created_at":"2026-04-20T12:59:19.165214Z", "updated_at":"2026-04-20T12:59:19.165214Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"nginx:1.29.4-alpine", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v1", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://tfnsgraciousstallman5ac102a1-tf-co-compassionate-roentgen.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.958772ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/cbb5877d-df46-431f-99f9-e8704ab82b97
        method: GET
      response:
        body: '{"id":"cbb5877d-df46-431f-99f9-e8704ab82b97", "name":"tf-co-compassionate-roentgen", "namespace_id":"5ac102a1-4e6b-487c-8a23-f94721271831", "description":"", "status":"ready", "error_message":"", "created_at":"2026-04-20T12:59:19.165214Z", "updated_at":"2026-04-20T12:59:31Z", "min_scale":0, "max_scale":5, "memory_limit_bytes":2048000000, "mvcpu_limit":1000, "timeout":"300s", "privacy":"public", "image":"nginx:1.29.4-alpine", "protocol":"http1", "port":80, "https_connections_only":false, "sandbox":"v1", "local_storage_limit_bytes":1000000000, "scaling_option":{"concurrent_requests_threshold":50}, "tags":[], "command":[], "args":[], "environment_variables":{}, "public_endpoint":"https://tfnsgraciousstallman5ac102a1-tf-co-compassionate-roentgen.functions.fnc.fr-par.scw.cloud", "liveness_probe":{"failure_threshold":30, "interval":"10s", "timeout":"1s", "tcp":{}}, "startup_probe":null, "secret_environment_variables":{}, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 450.750573ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b1dff21f-35e9-4f21-b8c2-ecc561445902
        method: DELETE
      response:
        body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 879.050448ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/5ac102a1-4e6b-487c-8a23-f94721271831
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"5ac102a1-4e6b-487c-8a23-f94721271831","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.099323ms
[...]
