---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-secret-ns","environment_variables":{},"project_id":"6867048b-fe12-4e96-835e-41c79a39604b","secret_environment_variables":[{"key":"SECRET_2","value":"value2"},{"key":"SECRET_1","value":"value1"}],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-04-28T09:37:14.091018389Z","description":"","environment_variables":{},"error_message":null,"id":"731c9efa-a0ca-41d3-9f4b-dd0255aa426a","name":"test-secret-ns","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$CQZQjDm9jPa/jPMNe//MUA$UCuaruLHHsw5FLfElD6NcX7jnhyw3KnN3F4TfNmf3Kg","key":"SECRET_2"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$dj82rMT7WUj6InUn7AJK5Q$6rKtK8ZSH8pduhhg1Ga0XpQsstTW29H8Lo7rggcXzUg","key":"SECRET_1"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:14.091018389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.277447792s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/731c9efa-a0ca-41d3-9f4b-dd0255aa426a
        method: GET
      response:
        body: '{"created_at":"2025-04-28T09:37:14.091018Z","description":"","environment_variables":{},"error_message":null,"id":"731c9efa-a0ca-41d3-9f4b-dd0255aa426a","name":"test-secret-ns","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","project_id":"6867048b-fe12-4e96-835e-41c79a39604b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$CQZQjDm9jPa/jPMNe//MUA$UCuaruLHHsw5FLfElD6NcX7jnhyw3KnN3F4TfNmf3Kg","key":"SECRET_2"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$dj82rMT7WUj6InUn7AJK5Q$6rKtK8ZSH8pduhhg1Ga0XpQsstTW29H8Lo7rggcXzUg","key":"SECRET_1"}],"status":"pending","tags":[],"updated_at":"2025-04-28T09:37:14.091018Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.667083ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/731c9efa-a0ca-41d3-9f4b-dd0255aa426a
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.536875ms
[...]
