---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2024-12-26T10:02:33.898618377Z","description":"","environment_variables":{},"error_message":null,"id":"ad69ca5d-0d26-4ee6-8130-62995497d7b6","name":"test-cr-ns-01","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2024-12-26T10:02:33.898618377Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.964625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ad69ca5d-0d26-4ee6-8130-62995497d7b6
        method: GET
      response:
        body: '{"created_at":"2024-12-26T10:02:33.898618Z","description":"","environment_variables":{},"error_message":null,"id":"ad69ca5d-0d26-4ee6-8130-62995497d7b6","name":"test-cr-ns-01","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2024-12-26T10:02:33.898618Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.208083ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ad69ca5d-0d26-4ee6-8130-62995497d7b6
        method: PATCH
      response:
        body: '{"created_at":"2024-12-26T10:02:33.898618Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"ad69ca5d-0d26-4ee6-8130-62995497d7b6","name":"test-cr-ns-01","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns019ohjjbfv","registry_namespace_id":"97224bfb-1e83-4ddd-b806-2c4ae5cf507b","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$5kpF1/FSfEgx8s0c2rkl2w$gM1edovyTgiSgRRuPfb6dUU18hPTYT2Vlb7qkPrrxrc","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2024-12-26T10:02:41.309854244Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.325417ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ad69ca5d-0d26-4ee6-8130-62995497d7b6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.034ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/934d7cb7-0e6b-4d39-8cb4-6141b7d365e8
        method: PATCH
      response:
        body: '{"created_at":"2024-12-26T10:03:00.094168Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"934d7cb7-0e6b-4d39-8cb4-6141b7d365e8","name":"tf-env-test","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtest1huf4etk","registry_namespace_id":"62fbfcb8-09e4-4bb0-a334-cff45a6f24d2","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$c1HDVtCJQRtCQAcjUJ3gig$yEMdRbJcX8pc+GZWDrVz3HizOI6JaAp2C7Z/XS0IRRI","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$xwkY5WwptCUw+FhkxDG53A$vwZH1St5fi3gF++R/3ALxujAuM3o2NjxsXvvmnGlqx4","key":"foo_secret"}],"status":"pending","tags":[],"updated_at":"2024-12-26T10:03:06.432835060Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.191375ms
[...]
