---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:38:35.801111848Z","description":"","environment_variables":{},"error_message":null,"id":"a6a8eb51-b32a-4b10-bca9-3beb7a52dd33","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:38:35.801111848Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.080042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a6a8eb51-b32a-4b10-bca9-3beb7a52dd33
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:38:35.801112Z","description":"","environment_variables":{},"error_message":null,"id":"a6a8eb51-b32a-4b10-bca9-3beb7a52dd33","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:38:35.801112Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.6785ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a6a8eb51-b32a-4b10-bca9-3beb7a52dd33
        method: PATCH
      response:
        body: '{"created_at":"2025-01-24T15:38:35.801112Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"a6a8eb51-b32a-4b10-bca9-3beb7a52dd33","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01dehesq1t","registry_namespace_id":"4734cf16-08ca-4eac-8709-c9a30cf2894b","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$6tLW/5Pn9KWiTaIrVs0Q+g$+5KA8neLdNnzqXzovFAcKymXikKQPcbyGYgT1Y45sHA","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-01-24T15:38:46.253975337Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.487ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a6a8eb51-b32a-4b10-bca9-3beb7a52dd33
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.2585ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/04b69cb5-04e2-4d95-8bb9-7c08306b54e3
        method: PATCH
      response:
        body: '{"created_at":"2025-01-24T15:39:10.160964Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"04b69cb5-04e2-4d95-8bb9-7c08306b54e3","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestu6ictxdj","registry_namespace_id":"5fa1b3e4-d14d-4873-8ea0-440e754adba6","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$z1FaNLbA75K+MU65ss4lMg$T3MpFaDGRBTxYixU5HyBc2KaA9KvVWt5TqU+0qfY1Oo","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$G5o70NYj3KT+wxdyGSnVmQ$ik3UcOHazk9AGPgDhRMZaI/tHu4r0EpES4F1q/HT1DA","key":"foo_secret"}],"status":"pending","tags":[],"updated_at":"2025-01-24T15:39:18.096340281Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.426542ms
[...]
