---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-secret-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[{"key":"SECRET_1","value":"value1"}],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-03-20T14:55:43.552210872Z","description":"","environment_variables":{},"error_message":null,"id":"77631cab-a9b6-49d5-9c90-0b3e21db0da6","name":"test-secret-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$jWJH8iJ8X0g24+3aKRRn5g$xCbRhWIGLeIb+SuBUJJQMHKJ/aNqaCeBqCu7eOF1PP8","key":"SECRET_1"}],"status":"pending","tags":[],"updated_at":"2025-03-20T14:55:43.552210872Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 513.715959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/77631cab-a9b6-49d5-9c90-0b3e21db0da6
        method: GET
      response:
        body: '{"created_at":"2025-03-20T14:55:43.552211Z","description":"","environment_variables":{},"error_message":null,"id":"77631cab-a9b6-49d5-9c90-0b3e21db0da6","name":"test-secret-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$jWJH8iJ8X0g24+3aKRRn5g$xCbRhWIGLeIb+SuBUJJQMHKJ/aNqaCeBqCu7eOF1PP8","key":"SECRET_1"}],"status":"pending","tags":[],"updated_at":"2025-03-20T14:55:43.552211Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.886042ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/77631cab-a9b6-49d5-9c90-0b3e21db0da6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.168292ms
[...]
