---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:20.676056275Z","description":"","environment_variables":{},"error_message":null,"id":"dfe516dd-a008-4d40-95d2-83cd6ae032fa","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.676056275Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.357966125s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/dfe516dd-a008-4d40-95d2-83cd6ae032fa
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:20.676056Z","description":"","environment_variables":{},"error_message":null,"id":"dfe516dd-a008-4d40-95d2-83cd6ae032fa","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:20.676056Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.155166ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/dfe516dd-a008-4d40-95d2-83cd6ae032fa
        method: PATCH
      response:
        body: '{"created_at":"2025-01-22T13:42:20.676056Z","description":"","environment_variables":{"test":"test"},"error_message":null,"id":"dfe516dd-a008-4d40-95d2-83cd6ae032fa","name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01xi55xezf","registry_namespace_id":"dc74306d-b21a-476d-bcf8-2262557bc2bb","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$hqum3UAZDtxtIO6+Atzmgg$3j2VKH2i9ZrSCpnnkuCFvzp/yJpwcSk+61E2rzU1ySA","key":"test_secret"}],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:31.051950922Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.777208ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/dfe516dd-a008-4d40-95d2-83cd6ae032fa
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.309042ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"environment_variables":{"foo":"bar"},"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c1353715-551d-4f68-a441-534fe8abcabc
        method: PATCH
      response:
        body: '{"created_at":"2025-01-22T13:42:54.783518Z","description":"","environment_variables":{"foo":"bar"},"error_message":null,"id":"c1353715-551d-4f68-a441-534fe8abcabc","name":"tf-env-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestrd2cnmpd","registry_namespace_id":"11611413-12bb-4155-bc85-ef57c78517c5","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$JgHwQMZd+1iIOaTiJamI8w$P0EU+s1Nf4rSxJLULUz2oxyaOolx602Uz57mA7giztc","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$P0QGZ4wBbTFOvoLlDMvWQw$k4B7xWCRInQ8t4J2ICgu6nSdMMr14uNwuTAD+8dSln4","key":"foo_secret"}],"status":"pending","tags":[],"updated_at":"2025-01-22T13:43:02.643883872Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.202416ms
[...]
