---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-dreamy-bohr","environment_variables":{},"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","secret_environment_variables":[],"tags":null,"activate_vpc_integration":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-06-12T15:37:36.195110285Z","description":"","environment_variables":{},"error_message":null,"id":"042eadee-2132-44c8-bc71-36edef3f629e","name":"tf-ns-dreamy-bohr","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-12T15:37:36.195110285Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 614.411207ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/042eadee-2132-44c8-bc71-36edef3f629e
        method: GET
      response:
        body: '{"created_at":"2025-06-12T15:37:36.195110Z","description":"","environment_variables":{},"error_message":null,"id":"042eadee-2132-44c8-bc71-36edef3f629e","name":"tf-ns-dreamy-bohr","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-06-12T15:37:36.195110Z","vpc_integration_activated":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.471879ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-fervent-goldwasser","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-12T15:37:35.776479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231","name":"tf-pn-fervent-goldwasser","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-12T15:37:35.776479Z","id":"a2de567e-8b38-400a-8753-2f25a169541d","private_network_id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-06-12T15:37:35.776479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-12T15:37:35.776479Z","id":"684ab2a7-d28c-439b-9bf8-2f16ef28f0f8","private_network_id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:36c0::/64","updated_at":"2025-06-12T15:37:35.776479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-12T15:37:35.776479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 818.630863ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/defa2ddd-f588-426e-b9a8-9c9a1fa7e231
        method: GET
      response:
        body: '{"created_at":"2025-06-12T15:37:35.776479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231","name":"tf-pn-fervent-goldwasser","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-06-12T15:37:35.776479Z","id":"a2de567e-8b38-400a-8753-2f25a169541d","private_network_id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-06-12T15:37:35.776479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-06-12T15:37:35.776479Z","id":"684ab2a7-d28c-439b-9bf8-2f16ef28f0f8","private_network_id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:36c0::/64","updated_at":"2025-06-12T15:37:35.776479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-06-12T15:37:35.776479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.553093ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"042eadee-2132-44c8-bc71-36edef3f629e","name":"tf-co-jovial-dirac","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"v1","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-06-12T15:37:41.830705644Z","description":"","domain_name":"tfnsdreamybohr12kvm0zg-tf-co-jovial-dirac.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"484195a3-2d06-4e91-97d1-7bb2012cf139","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-jovial-dirac","namespace_id":"042eadee-2132-44c8-bc71-36edef3f629e","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsdreamybohr12kvm0zg/tf-co-jovial-dirac:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-12T15:37:41.830705644Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.465512ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/484195a3-2d06-4e91-97d1-7bb2012cf139
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-06-12T15:37:41.830706Z","description":"","domain_name":"tfnsdreamybohr12kvm0zg-tf-co-jovial-dirac.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"484195a3-2d06-4e91-97d1-7bb2012cf139","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-jovial-dirac","namespace_id":"042eadee-2132-44c8-bc71-36edef3f629e","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsdreamybohr12kvm0zg/tf-co-jovial-dirac:latest","sandbox":"v1","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-06-12T15:37:41.830706Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.319226ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"privacy":"unknown_privacy","protocol":"unknown_protocol","secret_environment_variables":null,"http_option":"unknown_http_option","sandbox":"unknown_sandbox","private_network_id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/484195a3-2d06-4e91-97d1-7bb2012cf139
        method: PATCH
      response:
        body: '{"message":"Application can''t be attached to private network, vpc integration must be activated on its parent namespace"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 34.793321ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/defa2ddd-f588-426e-b9a8-9c9a1fa7e231
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"defa2ddd-f588-426e-b9a8-9c9a1fa7e231","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.99134ms
