---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-secret-ns","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[{"key":"SECRET_2","value":"value2"},{"key":"SECRET_1","value":"value1"}],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:41.465618877Z","description":"","environment_variables":{},"error_message":null,"id":"1485b2ec-4ea1-45e3-8daf-ce30ee313880","name":"test-secret-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$KvLQF7t0+sl1TquheAEJdQ$keV09aqt5cf4flyON/yzUF6LCvcu4ZWPKl+IJk2GkU0","key":"SECRET_2"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$bWGAwxM/2UBStSx4BLPl4A$SbLs3B089xJnSUkl4qcV172LvcnrU8bwbHibYUjm+zM","key":"SECRET_1"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.465618877Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.53132291s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1485b2ec-4ea1-45e3-8daf-ce30ee313880
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:41.465619Z","description":"","environment_variables":{},"error_message":null,"id":"1485b2ec-4ea1-45e3-8daf-ce30ee313880","name":"test-secret-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$KvLQF7t0+sl1TquheAEJdQ$keV09aqt5cf4flyON/yzUF6LCvcu4ZWPKl+IJk2GkU0","key":"SECRET_2"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$bWGAwxM/2UBStSx4BLPl4A$SbLs3B089xJnSUkl4qcV172LvcnrU8bwbHibYUjm+zM","key":"SECRET_1"}],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:41.465619Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.775741ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1485b2ec-4ea1-45e3-8daf-ce30ee313880
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.65453ms
[...]
