---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"9b250b7b-6be6-41f9-bd1e-67930357178d\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:56:03.017890799Z\",\"updated_at\":\"2025-09-01T15:56:03.017890799Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 6.903911544s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9b250b7b-6be6-41f9-bd1e-67930357178d
    method: GET
  response:
    body: "{\"id\":\"9b250b7b-6be6-41f9-bd1e-67930357178d\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:56:03.017891Z\",\"updated_at\":\"2025-09-01T15:56:03.017891Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 81.493278ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"test\":\"test\"},\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"value\":\"test_secret\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9b250b7b-6be6-41f9-bd1e-67930357178d
    method: PATCH
  response:
    body: "{\"id\":\"9b250b7b-6be6-41f9-bd1e-67930357178d\",\"name\":\"test-cr-ns-01\",\"environment_variables\":{\"test\":\"test\"},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"46889837-dfa9-4c21-b608-c8d13d85c34f\",\"error_message\":null,\"registry_endpoint\":\"rg.fr-par.scw.cloud/funcscwtestcrns01jdm79l2m\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"test_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$mhQ9bkQXiBQuEfPyPVj/5A$ENTIqq+fSGXDbuUoG6heKmX8kmykQfLuUMt5KZMgaSE\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:56:03.017891Z\",\"updated_at\":\"2025-09-01T15:56:18.316151510Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 384.476415ms
[...]
- id: 40
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/9b250b7b-6be6-41f9-bd1e-67930357178d
    method: GET
  response:
    body: "{\"message\":\"Namespace was not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.873978ms
[...]
- id: 49
  request:
    host: api.scaleway.com
    body: "{\"environment_variables\":{\"foo\":\"bar\"},\"secret_environment_variables\":[{\"key\":\"foo_secret\",\"value\":\"bar_secret\"},{\"key\":\"test_secret\",\"value\":null}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/f799968f-364b-40dd-ba6e-99aa8df74daa
    method: PATCH
  response:
    body: "{\"id\":\"f799968f-364b-40dd-ba6e-99aa8df74daa\",\"name\":\"tf-env-test\",\"environment_variables\":{\"foo\":\"bar\"},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"c935936f-46c5-4c01-8e55-691a73b87498\",\"error_message\":null,\"registry_endpoint\":\"rg.fr-par.scw.cloud/funcscwtfenvtest2lmpll2f\",\"description\":\"\",\"secret_environment_variables\":[{\"key\":\"foo_secret\",\"hashed_value\":\"$argon2id$v=19$m=65536,t=1,p=2$nDcQZLGf6h9Wt8KKXMAoSA$/GkDMT/7IP35eXfxfYnvphwV9CZY4KZk/jhST4AJGQU\"}],\"tags\":[],\"created_at\":\"2025-09-01T15:57:18.911169Z\",\"updated_at\":\"2025-09-01T15:57:30.505576099Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 288.855758ms
[...]
