---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-token-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-27T14:28:17.230570372Z","description":"","environment_variables":{},"error_message":null,"id":"99e97ccb-1674-4512-be2f-49af20af694f","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-27T14:28:17.230570372Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 591.061917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/99e97ccb-1674-4512-be2f-49af20af694f
        method: GET
      response:
        body: '{"created_at":"2025-01-27T14:28:17.230570Z","description":"","environment_variables":{},"error_message":null,"id":"99e97ccb-1674-4512-be2f-49af20af694f","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-27T14:28:17.230570Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.709334ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"99e97ccb-1674-4512-be2f-49af20af694f","expires_at":"2025-01-28T15:28:16+01:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-01-28T14:28:16Z","id":"b32fb58d-ca08-435d-974e-3b1ae1ad02a4","namespace_id":"99e97ccb-1674-4512-be2f-49af20af694f","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEArst9TSyYxe7APQ5/oaaT547c/XNpZQgxuhjSUMlKWqZlh6EK+qdi\nmslJOGZnJ4yXorLQGLHAXMhU0B5lGFXGfLGjJE4RPa3B39CwYUkRN9p7vKJWCyMI\nuoFu+ayeHoGvWgyWypwAnIV+H8C9rjKOzByfXgWxQAjwPDnbOi6mt7lDuGjlVGHu\nBBC/gPVC1fvGwREgzls8H16XXj4QA5izY/lB5rKbS87kacWamGCWXOVeKLCX6Lfl\nBU/gtV5puq/8nZ5IHsWSOmn7jAuB3A9Jkx/5bd0DlY3yIbBmb/awvX/PVhQPhQhk\nEqgDj+N0ahtoaByI4SeQrHij73jcXxCPpZj92+OVao1DV+pPc8VHYpSVgcy60+iT\nDhGeQo6zTvDfvanzwmeESH2RN0XWA/0N3awyNNXk4y6zc+4OrKJ0A1gy8J7JBwuq\n72F0pv99t8TnRi9XlqCD4Q/6EM7zBQiv5axqieSUBC9IIGQVcPkjFrmy/lHOvedU\ngcGyFdUMZPJXZdK0iu2aghRFq88D47mEoP39k6eiTzmKZjTgK13fGYZFxVAgnuyW\nKsThygTsvyV66TQfg38pCw0sIYYE3pEXguEEMHQMOEqLc9RywCfgdsmQnjWOQ6/V\n2HsST12d9ude8I+IUh1WXSkXVzUE1nrYopsnTl792G6W6GN3juXoOOsCAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiOTllOTdjY2ItMTY3NC00NTEyLWJlMmYtNDlhZjIwYWY2OTRmIiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTczODA3NDQ5NiwianRpIjoiYjMyZmI1OGQtY2EwOC00MzVkLTk3NGUtM2IxYWUxYWQwMmE0IiwiaWF0IjoxNzM3OTg4MTMzLCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTczNzk4ODEzMywic3ViIjoidG9rZW4ifQ.V3tbRm0-Q_UOceOMUIuSrfWyU01a5WMQFwDjGVNpnJ_c9R87mU0jmdUGv9oZ686t6W1X9UQxT7_WbMJ4f6ppP1PF2WcfaHTSGdC0NwbwBbYXb90pwcKo5otoFejhGb_7KZ87L7Od70tvGoiXC7r7A3w-syUb58jL6jAFMRsSLvfeiQ7s3p1KvHP2Iw6Qesx6UiGiQOGgV3kJF9XVgZkWCui7RPa36d8dBEDh9goxajDYCTYzYe9IGzbumV1ut3Lis2CmeS6guZo8x-CQ4CgK5dId7hBGe3Hzyf8qH1k5Ej5xDEgYr-MvqI49RKGdl6ZFSMre_MBKpmpYmveqrEbtXsIGSsYgHB0hOg8obhdbTPQd2vBt7kd87pQkyd_QgDN2SiWFim7yhTSD9YVYN6Weo0TmxWh4SPH4eUeqqVC8E0EijAfUlnKYxbNiQV1RFs2c7Esm_xln_tSfBe9Lpv3oJ3RCQziKuLLBTINmWddzPltnoLNJrdkoe7m8AEHV0VOIQhyldogB0w-IdquV0isQANkN3B6YKFs6m7i8M3bj6oF2ghAnyCE3IpIbQVH-O1exslJGaPhNA-tsxaL5bpJ_6iTU_MYJO66fguz87IZapX44SE2ubVj_qRYn9gGPJzf4Za_Z_Em6YJSxiOQD1QA_NCXlUvwV9lQm3clqIUUbKPc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.990916ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/b32fb58d-ca08-435d-974e-3b1ae1ad02a4
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-01-28T14:28:16Z","id":"b32fb58d-ca08-435d-974e-3b1ae1ad02a4","namespace_id":"99e97ccb-1674-4512-be2f-49af20af694f","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.013416ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"99e97ccb-1674-4512-be2f-49af20af694f","name":"tf-co-suspicious-leakey","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-27T14:28:53.359204470Z","description":"","domain_name":"testcontainertokennsiwvvoenn-tf-co-suspicious-leakey.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"6e8c4f40-1ae3-4009-991e-aa742e2f6578","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-suspicious-leakey","namespace_id":"99e97ccb-1674-4512-be2f-49af20af694f","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokennsiwvvoenn/tf-co-suspicious-leakey:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-27T14:28:53.359204470Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.131083ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/6e8c4f40-1ae3-4009-991e-aa742e2f6578
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-27T14:28:53.359204Z","description":"","domain_name":"testcontainertokennsiwvvoenn-tf-co-suspicious-leakey.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"6e8c4f40-1ae3-4009-991e-aa742e2f6578","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-suspicious-leakey","namespace_id":"99e97ccb-1674-4512-be2f-49af20af694f","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokennsiwvvoenn/tf-co-suspicious-leakey:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-27T14:28:53.359204Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.766ms
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"container_id":"6e8c4f40-1ae3-4009-991e-aa742e2f6578"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"container_id":"6e8c4f40-1ae3-4009-991e-aa742e2f6578","description":"","expires_at":null,"id":"0d5627d5-2e3d-41d9-b413-1866590f7bac","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEArst9TSyYxe7APQ5/oaaT547c/XNpZQgxuhjSUMlKW[...]
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/99e97ccb-1674-4512-be2f-49af20af694f
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.6415ms
[...]
