---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-token-ns","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:05:50.219203381Z","description":"","environment_variables":{},"error_message":null,"id":"bb0c03ad-4243-4a03-bbcb-83721935a599","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:50.219203381Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 821.913515ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/bb0c03ad-4243-4a03-bbcb-83721935a599
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:05:50.219203Z","description":"","environment_variables":{},"error_message":null,"id":"bb0c03ad-4243-4a03-bbcb-83721935a599","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:05:50.219203Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.95045ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"bb0c03ad-4243-4a03-bbcb-83721935a599","expires_at":"2025-08-28T17:05:34+02:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-08-28T15:05:34Z","id":"e39d6f5e-edc4-488e-8121-101c6dfaa778","namespace_id":"bb0c03ad-4243-4a03-bbcb-83721935a599","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA4rTYdVC9XWWAI/9OhYcUgAgvJS1jwLgElJAuqrJSQxtrVIPbHYee\nslhB//O+MgyS+jG+mlNizi901QksIg2qcO9yqgBczYwZUn4vsiX7kOABtLMR5b1n\nLxafptwAiaYYIJT5+OXZ84NhVW/y1atZH3lcc1SqBGYExesfLyWW+8zdRRGNwTtf\nJ7aF7r88H5Ahxwy/o/2yoCJZaFaJifSGEeQJLZs4vZljwUgJUCA5qWEGydeAoZJv\n5kJCu0Flrxi5DS/JT2PsIa4SO25fH9xodusxMH7faYWpEqajNtQS7EWtCgbLsPgl\nZbagozrNPAuOIVo96BKP680pxa4XfOd7/SMM3fdSf7NSHGncdzE0/6cCvmqrh9qQ\nzU66N7GwIDo9lM2YQOlYaVmndq20W5/9ZGkj9lY+fkNWzeaHE8N1Js2UDd8KzPE0\nMAdmBYlDyaWz9qV5LRuGHcC0XXjXHZ0uLMxoxF1YK03vWBHy24A6L/eUOzGUQCGK\nxWzaFLx82e30AaH4EWwtj3lWzvdFE240344i1HafflAuTeswNFakMSUVXQEEx/aN\nffa946zR9mF9mIok8OnZXHZ1JpKvD5kwlNKvy++AMv4wC6Eyt/rLC+r9sjd2pPdL\n/tfAQn9w7e6hv5nXsHHGTYr7kZZbPJ4qs8N0xNQl4XNG7RN8yU20RNUCAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiYmIwYzAzYWQtNDI0My00YTAzLWJiY2ItODM3MjE5MzVhNTk5IiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTc1NjM5MzUzNCwianRpIjoiZTM5ZDZmNWUtZWRjNC00ODhlLTgxMjEtMTAxYzZkZmFhNzc4IiwiaWF0IjoxNzU2MzA3MTY1LCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTc1NjMwNzE2NSwic3ViIjoidG9rZW4ifQ.xvEw44b9CxssNYULIZsHC-IJ1LMbeg7xosRuzG0OBV07anmSySUcTDvhIr29kN6M0XPmzngGAafOGYOE-axdoZgDJNQrXEpuI108NaBiXAGa611qkx4-wfY9zDGPPU6m-SGzAajxD31IyfJiAzyauA7uBmLON0et-V5rJtL0_UIYGDi2NSpVK9k761F9eu9Xbb9XV8wouPJaBPHhxfAZi803mCiejilN-t5bAiUaBDaAUIC96vUgjNAeRGAHmaGxwPRCkKvexJ8asN6tW05QHMothZ-fG20CaxeYr8Od8BPLUxPYU7Iy5hN9qUeUawDghefcf_4qCI9uamJe_KdM5emNVbu9RdKMZ7EWMfXrWUo6GQCgtYjXx5ZulOiEoRFiQBp6pZ4eGzw8EdBszw3KWrmXesZmCIhTGlaX2-H49MhwOttzvxciTiVM4aLCwAw9s45v97EPSdOLinbjr9P4hJTLsRMy8Tu5Mg--HEV26jSWB2wRAsSDgp5evWVbI4ncviQPsmbvUgQRvjPxn8lz8e2fKHhIRbLiOPSVSDiS2_vpveHJohWK5gjRMPPBTQ8JIsSr3Z8JeVLf5ko_-DWadEK4ZwrfjQORVdSW8Qb5fPGv2-HD2UoPC13ICz_UmWq1OoECpuTme8Bz8SS5oeSJj4efbVMVHhYHQEmbbqaUGzE"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.882057ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/e39d6f5e-edc4-488e-8121-101c6dfaa778
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-08-28T15:05:34Z","id":"e39d6f5e-edc4-488e-8121-101c6dfaa778","namespace_id":"bb0c03ad-4243-4a03-bbcb-83721935a599","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.361488ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"bb0c03ad-4243-4a03-bbcb-83721935a599","name":"tf-co-condescending-aryabhata","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:06.590067148Z","description":"","domain_name":"testcontainertokenns4sheziip-tf-co-condescending-aryabhata.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"12e72f95-3f8c-4b83-bc75-752f74cdfedc","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-condescending-aryabhata","namespace_id":"bb0c03ad-4243-4a03-bbcb-83721935a599","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokenns4sheziip/tf-co-condescending-aryabhata:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:06.590067148Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 887.876887ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/12e72f95-3f8c-4b83-bc75-752f74cdfedc
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:06.590067Z","description":"","domain_name":"testcontainertokenns4sheziip-tf-co-condescending-aryabhata.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"12e72f95-3f8c-4b83-bc75-752f74cdfedc","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-condescending-aryabhata","namespace_id":"bb0c03ad-4243-4a03-bbcb-83721935a599","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokenns4sheziip/tf-co-condescending-aryabhata:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:06.590067Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.232546ms
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"container_id":"12e72f95-3f8c-4b83-bc75-752f74cdfedc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"container_id":"12e72f95-3f8c-4b83-bc75-752f74cdfedc","description":"","expires_at":null,"id":"e345de0a-9a63-4a34-ad95-5a145ecb376e","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA4rTYdVC9XWWAI/9OhYcUgAgvJS1jwLgElJAuqrJSQ[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/bb0c03ad-4243-4a03-bbcb-83721935a599
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.531407ms
[...]
