---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-token-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.398305466Z","description":"","environment_variables":{},"error_message":null,"id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.398305466Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 778.026291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a3f7e1be-c73d-403f-8126-c34477e2b6b6
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.398305Z","description":"","environment_variables":{},"error_message":null,"id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.398305Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.966333ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","expires_at":"2025-01-25T16:37:45+01:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-01-25T15:37:45Z","id":"cee2ff69-542b-44b0-8b8f-b4b2d93af9ac","namespace_id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA1C4G8vw+onSdUykDSwUsrim1XLJYT7E3F8AjeNJOxa2/ZJUWy6uD\nRyR6tJJplOlv1FfuPwejmaX9TXOgdwaiFzrAdkqROqi5iiY9q1os4I6uqimSZgMg\nHbCB4QYG+L2XqER+2+H75lMejueZFTpQU+y94pEVWcSmWjRaOGOrJ/3MqkCxLCSk\nKyAuaGJ2T/XxHsqfAuKTgQaisVXH8YDa8pNOsHtMT3CPwLOJdXnzLZRl1mVBfyue\nWNzxon+Q+gRqBx6b72L+2Vvx1bamo7K3tGPvLAazlv53uABoz0m3cgDj4G+PmSgt\n/sSKvqTRBw8EncKBv0zRhBiLf0MZw+Qlki+WG6ti2BkJ9h8ltbIWtbA6Pzj9lLmS\nRshOKKJQL+f6M5WMmPrud1Z8DbZSE1aXUvnbUOPtGX5DM5xSVN9sNSOm7SxzG1D/\nnNIS8dp5htjiNW8KrpFdbYyHGALpg17XD1aeuhL/hCf4qtxKLHAEBzcYuun9cTOA\nu1xUd3GZKRWUpD/GWAco9Oz3EwDjmu84uQfqaqjZPAhK+KZCIHfxGJDMhTZq+nkJ\n04HTBIRUTBDn7lpeMdytoErbzcS+/PfeOfJcHxVuGZrRliRdwoJszixlIrsgyn2R\nkXdXp8Dyx723iDOk0amp5+JsF8m/DdVRJwBUGKcr7ATaaBiBf720DTUCAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiYTNmN2UxYmUtYzczZC00MDNmLTgxMjYtYzM0NDc3ZTJiNmI2IiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTczNzgxOTQ2NSwianRpIjoiY2VlMmZmNjktNTQyYi00NGIwLThiOGYtYjRiMmQ5M2FmOWFjIiwiaWF0IjoxNzM3NzMzMTAwLCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTczNzczMzEwMCwic3ViIjoidG9rZW4ifQ.ZwBL2Rr3l2UkZzJELSQ4yG-nGvNkwAq4djiucAGOx7ZTEw6MmP2etAT3kD1wPO9cXCfc-TtuQDYjAl7B468wkx0P1rqhoFnuUSb-4BGJWxLcnIDdVX6UXwFDQRSSqtiS5z9oSI7bnSMEK5EhcB5w32qqrp7H38OrQkS8s-P3GOVV37xFbp_oLr_Y7FkBgCTjj_uLGOp1TxYag4zAC8_KPhvByOEVK5H1t60sq9S9mqxm5SeQF8LNQUVTGXQJt859XwDbK2aGkJVB8Wxvf5R7MFQxGA3zRclGq8kWGoric84WK97zgPvbywSUa6l8YxezWnWEPoLuOczOyq3ZnKaW2RxPkVWqe8LW_Mf6_VyGDtpwQGGLc1A1bc-Jl0L59bYIaVwr_AVJ5uwF3zIww7I9KbtM6AfxveBHLAjNhN1tL02DxPH__L-2cHe-OAyGnZkZjH79eDuOVcqGfyDyzgIOVter76zY4DC4Gr0Su7Eymm3RBeo_j-HB_COgzH0YOJxyGJzOnB9q3gJ2kNiR7tduOFF0u1a3vgngvA-k-VzN3BYvFSWO5-_6x7QkQv0Q44niQ33kpg8ueNxwxn14fTbIIaUWbWmtAckcRLbradopABKUaeg7U1u6RmYs13eMPR69owqAFxTm6C_SwYvvGmUdhwj4MaeukVFQJNYznVSI02o"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 323.503875ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/cee2ff69-542b-44b0-8b8f-b4b2d93af9ac
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-01-25T15:37:45Z","id":"cee2ff69-542b-44b0-8b8f-b4b2d93af9ac","namespace_id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.279792ms
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","name":"tf-co-friendly-euler","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.677086821Z","description":"","domain_name":"testcontainertokennshxnyvo2o-tf-co-friendly-euler.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"cf5937a7-d460-422e-8746-982d02996e76","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-friendly-euler","namespace_id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokennshxnyvo2o/tf-co-friendly-euler:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.677086821Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.192875ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/cf5937a7-d460-422e-8746-982d02996e76
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.677087Z","description":"","domain_name":"testcontainertokennshxnyvo2o-tf-co-friendly-euler.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"cf5937a7-d460-422e-8746-982d02996e76","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-friendly-euler","namespace_id":"a3f7e1be-c73d-403f-8126-c34477e2b6b6","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokennshxnyvo2o/tf-co-friendly-euler:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.677087Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.460541ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"container_id":"cf5937a7-d460-422e-8746-982d02996e76"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"container_id":"cf5937a7-d460-422e-8746-982d02996e76","description":"","expires_at":null,"id":"b2be89f5-cab5-4802-966c-7c307f6ea898","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEA1C4G8vw+onSdUykDSwUsrim1XLJYT7E3F8AjeNJOx[...]
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/a3f7e1be-c73d-403f-8126-c34477e2b6b6
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.245708ms
[...]
