---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-token-ns","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:48:50.243303137Z","description":"","environment_variables":{},"error_message":null,"id":"afd1c67e-2278-4118-822c-3d483b9db627","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:48:50.243303137Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.254125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/afd1c67e-2278-4118-822c-3d483b9db627
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:48:50.243303Z","description":"","environment_variables":{},"error_message":null,"id":"afd1c67e-2278-4118-822c-3d483b9db627","name":"test-container-token-ns","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:48:50.243303Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.142208ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"afd1c67e-2278-4118-822c-3d483b9db627","expires_at":"2025-01-25T16:48:48+01:00"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"description":"","expires_at":"2025-01-25T15:48:48Z","id":"36c6ed92-8f04-4778-8374-cad78d618d18","namespace_id":"afd1c67e-2278-4118-822c-3d483b9db627","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAtK1PsvREkgZmiQKY9iwPKkALMIzE+sCbLrIAKXhKmmsGG+kHcdKl\nZjAEmF9hezDjodYgsTfzo6JXEyzNsUF3L2saZc6GISjDlADWb4sCvC9SWxChsg/M\nyAU9tyM4yXb1ltJqykeKDgkYRoKHKLoRgjqMaczd+j/ubXnuqkUEVlWrqErpklhS\nmebzYbero8Ox9gk+1Y92MnveLj0Ud9bmKgjPUHhCVnTQwJoRkn1nfQWMmkDYX+Ym\nrwFeeMJELOkqHTGg3Kq41ARvEgzGs2hY2IdM/h4MGU7pV8Jdj+YtfdaZkBBvEEKq\nXD5nlMn4L8+3UCmIJy8uwoJqqp6bm9W5lxNGzMGJGgkdEQGLSJGut7B4P1erc3OQ\nECQ1FLM9R/W8xYVsKndxpT0Quc0MvKDDdmknW+EZ9FM1/SUXCS9aKO81n1eQRbt1\nv5W3ztURPPhmnhtjlMytMc3uioM8PNydtLf8xwrsZtsgHgS2PBK5NZDlzYRsK2Ak\nRHaOAr8jN1pqTvTfDrIrIkUfUUQfYazjoiJYi4SQ2sbr5v4/DQZP6I262QuFDl1n\n73qua7NUlkUE6Gmf9V1K5JK9ICOfHkScQE+0TvhzCCyHVA9kEHa9axuMABKi1Xm1\n5gmh2iZUndpGTN1nz/XYYb+klER9/G/FZrwM71AWlOaMXgJuDjRQoe8CAwEAAQ==\n-----END RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiYWZkMWM2N2UtMjI3OC00MTE4LTgyMmMtM2Q0ODNiOWRiNjI3IiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTczNzgyMDEyOCwianRpIjoiMzZjNmVkOTItOGYwNC00Nzc4LTgzNzQtY2FkNzhkNjE4ZDE4IiwiaWF0IjoxNzM3NzMzNzM1LCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTczNzczMzczNSwic3ViIjoidG9rZW4ifQ.S6q39v8nkLqMASTb-WZhyamwH8T75jky8IzCPgEOq7qNWKeAv5XWbJ0TqbDtMO8swPZlg1itcEXj0V2aP1skn6twLx_oXjt4y9Kbyb8pKbHlx3isYIWhDKgbL2X3n1577jlJpBqRfh3kFG4dxmJw-DJpmErdGbtw7Bu4RgCK4wTMxDlGWaUs8MXNbYgjW3pjv1K_p7Fcx0_NuA6M5cIkRSRDwwJ8Dxa63ZJf-WIjHRYQEj_M4qi0bp1EwigDmzXeqPcb1LAbamJHhsuCzsQNyKUX_nZt4A0gyGND2LB1dSFDI7IWt-vhlwDv5bIuJjDnxysfWWAKiEObQm1n_ICWqHOUgTdpxvL-I_J8kKnPOOZLYdN5pU3VkkPDgZk17eDRV-7L5vc9NG8gdFn2h28M_JNHLZr919vRvIKdJSfHuaBHvjuWwyuyL1jNtf_FfDsNh4FPQulaip-BxmRdpfJrygk5EJLQU_Ki3rbIujacTJTwdyEqBeP_i_koQGIKigmwrhrAJHi-1c-2umPK6Huz7Fl8SLjZC0Q2RTjYTCtycZ81FvbTjxMIN1DGcqntGqARPq1Nuy609RrBsigvOEa-psCsxlmd60KLe8Y6MSmwSTzoCMVKBbH1PYlENB4cxyxu7iBG4r1o6OVsm0wIiEYGwe9V-UwtJVsBKjvu7gtMQ_I"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.370792ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/36c6ed92-8f04-4778-8374-cad78d618d18
        method: GET
      response:
        body: '{"description":"","expires_at":"2025-01-25T15:48:48Z","id":"36c6ed92-8f04-4778-8374-cad78d618d18","namespace_id":"afd1c67e-2278-4118-822c-3d483b9db627","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.521958ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"afd1c67e-2278-4118-822c-3d483b9db627","name":"tf-co-gallant-albattani","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:48:55.765137663Z","description":"","domain_name":"testcontainertokennsfe4wiaqd-tf-co-gallant-albattani.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"6bf118a8-ebb5-4afb-ae8e-60314f156e75","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-gallant-albattani","namespace_id":"afd1c67e-2278-4118-822c-3d483b9db627","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokennsfe4wiaqd/tf-co-gallant-albattani:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:48:55.765137663Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.831833ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/6bf118a8-ebb5-4afb-ae8e-60314f156e75
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:48:55.765138Z","description":"","domain_name":"testcontainertokennsfe4wiaqd-tf-co-gallant-albattani.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"6bf118a8-ebb5-4afb-ae8e-60314f156e75","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-gallant-albattani","namespace_id":"afd1c67e-2278-4118-822c-3d483b9db627","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtestcontainertokennsfe4wiaqd/tf-co-gallant-albattani:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:48:55.765138Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.61075ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"container_id":"6bf118a8-ebb5-4afb-ae8e-60314f156e75"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens
        method: POST
      response:
        body: '{"container_id":"6bf118a8-ebb5-4afb-ae8e-60314f156e75","description":"","expires_at":null,"id":"58d32552-8903-43d8-8d6f-dae4ec97703a","public_key":"-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAtK1PsvREkgZmiQKY9iwPKkALMIzE+sCbLrIAKXhKm[...]
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/afd1c67e-2278-4118-822c-3d483b9db627
        method: GET
      response:
        body: '{"message":"Namespace was not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.640916ms
[...]
