---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_container_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"name\":\"tf_tests_container_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:56:00.271120Z\",\"updated_at\":\"2025-09-01T15:56:00.271120Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 509.582865ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/d2789e51-614d-427a-9467-c29adc77f748
    method: GET
  response:
    body: "{\"id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"name\":\"tf_tests_container_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-01T15:56:00.271120Z\",\"updated_at\":\"2025-09-01T15:56:00.271120Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 186.015808ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:56:00.784913747Z\",\"updated_at\":\"2025-09-01T15:56:00.784913747Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 199.433576ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - d2789e51-614d-427a-9467-c29adc77f748
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=d2789e51-614d-427a-9467-c29adc77f748
    method: GET
  response:
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:56:00.784913Z\",\"updated_at\":\"2025-09-01T15:56:00.784913Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.116533ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"name\":\"tf-sqs-credentials-wizardly-cartwright\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:56:01.105429515Z\",\"updated_at\":\"2025-09-01T15:56:01.105429515Z\",\"id\":\"1ca47c3a-778d-4e3b-9cb6-da7773a22929\",\"name\":\"tf-sqs-credentials-wizardly-cartwright\",\"access_key\":\"L1ZOYZFthjFalZnyso1f\",\"secret_key\":\"qkatfIfLZmMTyn7AyG1VKFOTdOGQBNF2WDzTlH70X7135BbulDi3ZfhtTg52FzFF\",\"secret_checksum\":\"a5e1d24524569ba2ab77f5eb68b56e05bc7cd063\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 125.074261ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/1ca47c3a-778d-4e3b-9cb6-da7773a22929
    method: GET
  response:
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:56:01.105429Z\",\"updated_at\":\"2025-09-01T15:56:01.105429Z\",\"id\":\"1ca47c3a-778d-4e3b-9cb6-da7773a22929\",\"name\":\"tf-sqs-credentials-wizardly-cartwright\",\"access_key\":\"L1ZOYZFthjFalZnyso1f\",\"secret_key\":\"\",\"secret_checksum\":\"a5e1d24524569ba2ab77f5eb68b56e05bc7cd063\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.693892ms
[...]
- id: 7
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"VisibilityTimeout\":\"30\",\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\"},\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 85ad87f5-f7f8-4d78-8f48-9033ef2d6568
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250901T155601Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-d2789e51-614d-427a-9467-c29adc77f748/TestQueue\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txc8264225-a524-48c1-807f-b6dcae234755
    status: 200 OK
    code: 200
    duration: 190.978126ms
[...]
- id: 9
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"MessageRetentionPeriod\",\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\",\"VisibilityTimeout\",\"MaximumMessageSize\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-d2789e51-614d-427a-9467-c29adc77f748/TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - e5614efb-3e40-44ec-b84a-5fb23e2f12e7
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250901T155601Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx38cf3675-151b-4187-b8cd-31291955afcc
    status: 200 OK
    code: 200
    duration: 24.997917ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-pensive-cartwright\",\"environment_variables\":{},\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"df3bb92f-f8e2-4ee7-97dc-476470f1a436\",\"name\":\"tf-ns-pensive-cartwright\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:56:07.860621045Z\",\"updated_at\":\"2025-09-01T15:56:07.860621045Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.172928266s
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/df3bb92f-f8e2-4ee7-97dc-476470f1a436
    method: GET
  response:
    body: "{\"id\":\"df3bb92f-f8e2-4ee7-97dc-476470f1a436\",\"name\":\"tf-ns-pensive-cartwright\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:56:07.860621Z\",\"updated_at\":\"2025-09-01T15:56:07.860621Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.530693ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"df3bb92f-f8e2-4ee7-97dc-476470f1a436\",\"name\":\"tf-co-compassionate-matsumoto\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"5776e2ce-8333-4e99-b270-2148ff69b7d9\",\"name\":\"tf-co-compassionate-matsumoto\",\"namespace_id\":\"df3bb92f-f8e2-4ee7-97dc-476470f1a436\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnspensivecartwrighjr7hnped/tf-co-compassionate-matsumoto:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnspensivecartwrighjr7hnped-tf-co-compassionate-matsumoto.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:56:14.713198465Z\",\"updated_at\":\"2025-09-01T15:56:14.713198465Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.44011038s
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5776e2ce-8333-4e99-b270-2148ff69b7d9
    method: GET
  response:
    body: "{\"id\":\"5776e2ce-8333-4e99-b270-2148ff69b7d9\",\"name\":\"tf-co-compassionate-matsumoto\",\"namespace_id\":\"df3bb92f-f8e2-4ee7-97dc-476470f1a436\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnspensivecartwrighjr7hnped/tf-co-compassionate-matsumoto:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnspensivecartwrighjr7hnped-tf-co-compassionate-matsumoto.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:56:14.713198Z\",\"updated_at\":\"2025-09-01T15:56:14.713198Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.693046ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-container-trigger-sqs\",\"container_id\":\"5776e2ce-8333-4e99-b270-2148ff69b7d9\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"mnq_region\":\"fr-par\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: "{\"id\":\"a94c54e8-2869-4459-b242-7d00a6cd7d0c\",\"name\":\"test-container-trigger-sqs\",\"description\":\"\",\"input_type\":\"scw_sqs\",\"status\":\"creating\",\"error_message\":null,\"container_id\":\"5776e2ce-8333-4e99-b270-2148ff69b7d9\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 738.210162ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/a94c54e8-2869-4459-b242-7d00a6cd7d0c
    method: GET
  response:
    body: "{\"id\":\"a94c54e8-2869-4459-b242-7d00a6cd7d0c\",\"name\":\"test-container-trigger-sqs\",\"description\":\"\",\"input_type\":\"scw_sqs\",\"status\":\"creating\",\"error_message\":null,\"container_id\":\"5776e2ce-8333-4e99-b270-2148ff69b7d9\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.709551ms
[...]
- id: 56
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - b7d3b916-fcbd-437b-9078-b4007451e68e
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250901T155700Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"TestQueue\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - txea234d79-8de0-4f25-a1b5-4f7844a1eb78
    status: 404 Not Found
    code: 404
    duration: 38.346688ms
[...]
- id: 65
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"d2789e51-614d-427a-9467-c29adc77f748\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 238.951196ms
[...]
