---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-keen-curie","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:48.531129261Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AADGULIBDPUFWKRCVLGGIE5EEVIIOD2BSIQ3T3WAFOT4YC3TV6AN52VR","name":"tf-nats-account-keen-curie","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-24T15:37:48.531129261Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.99175ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AADGULIBDPUFWKRCVLGGIE5EEVIIOD2BSIQ3T3WAFOT4YC3TV6AN52VR
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:48.531129Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AADGULIBDPUFWKRCVLGGIE5EEVIIOD2BSIQ3T3WAFOT4YC3TV6AN52VR","name":"tf-nats-account-keen-curie","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-24T15:37:48.531129Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.924708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-peaceful-tesla","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.310909455Z","description":"","environment_variables":{},"error_message":null,"id":"c3645d3e-a96e-4120-a453-4a3e19d1d3a9","name":"tf-ns-peaceful-tesla","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.310909455Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 912.12325ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/c3645d3e-a96e-4120-a453-4a3e19d1d3a9
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.310909Z","description":"","environment_variables":{},"error_message":null,"id":"c3645d3e-a96e-4120-a453-4a3e19d1d3a9","name":"tf-ns-peaceful-tesla","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.310909Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.607208ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"c3645d3e-a96e-4120-a453-4a3e19d1d3a9","name":"tf-co-admiring-swanson","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.625765511Z","description":"","domain_name":"tfnspeacefultesla9odbwvna-tf-co-admiring-swanson.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"4d0677d4-ccbe-4abd-8665-bc5f9fd674fe","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-admiring-swanson","namespace_id":"c3645d3e-a96e-4120-a453-4a3e19d1d3a9","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspeacefultesla9odbwvna/tf-co-admiring-swanson:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.625765511Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 694.775666ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/4d0677d4-ccbe-4abd-8665-bc5f9fd674fe
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.625766Z","description":"","domain_name":"tfnspeacefultesla9odbwvna-tf-co-admiring-swanson.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"4d0677d4-ccbe-4abd-8665-bc5f9fd674fe","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-admiring-swanson","namespace_id":"c3645d3e-a96e-4120-a453-4a3e19d1d3a9","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnspeacefultesla9odbwvna/tf-co-admiring-swanson:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.625766Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.154375ms
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-nats","container_id":"4d0677d4-ccbe-4abd-8665-bc5f9fd674fe","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"AADGULIBDPUFWKRCVLGGIE5EEVIIOD2BSIQ3T3WAFOT4YC3TV6AN52VR","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"container_id":"4d0677d4-ccbe-4abd-8665-bc5f9fd674fe","description":"","error_message":null,"id":"4d187890-6763-4b38-84b5-4cda753f9a89","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AADGULIBDPUFWKRCVLGGIE5EEVIIOD2BSIQ3T3WAFOT4YC3TV6AN52VR","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.491042ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/4d187890-6763-4b38-84b5-4cda753f9a89
        method: GET
      response:
        body: '{"container_id":"4d0677d4-ccbe-4abd-8665-bc5f9fd674fe","description":"","error_message":null,"id":"4d187890-6763-4b38-84b5-4cda753f9a89","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"AADGULIBDPUFWKRCVLGGIE5EEVIIOD2BSIQ3T3WAFOT4YC3TV6AN52VR","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.514792ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/4d187890-6763-4b38-84b5-4cda753f9a89
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.554541ms
[...]
