---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-bold-vaughan","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "region":"fr-par", "created_at":"2026-04-13T08:50:33.965469802Z", "updated_at":"2026-04-13T08:50:33.965469802Z", "id":"AD6CMPHV5ITZOKYWY7QRQGZDNFHS7WYF2ULES75E6SFS2JN3APDSHIY4", "name":"tf-nats-account-bold-vaughan", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 508.268125ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AD6CMPHV5ITZOKYWY7QRQGZDNFHS7WYF2ULES75E6SFS2JN3APDSHIY4
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "region":"fr-par", "created_at":"2026-04-13T08:50:33.965469Z", "updated_at":"2026-04-13T08:50:33.965469Z", "id":"AD6CMPHV5ITZOKYWY7QRQGZDNFHS7WYF2ULES75E6SFS2JN3APDSHIY4", "name":"tf-nats-account-bold-vaughan", "endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.20025ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-heuristic-allen","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"7fbc8ec7-e4f8-4824-8aff-abcf8059305c", "name":"tf-ns-heuristic-allen", "environment_variables":{}, "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2026-04-13T08:50:34.386724Z", "updated_at":"2026-04-13T08:50:34.386724Z", "vpc_integration_activated":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.035603542s
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/7fbc8ec7-e4f8-4824-8aff-abcf8059305c
        method: GET
      response:
        body: '{"id":"7fbc8ec7-e4f8-4824-8aff-abcf8059305c", "name":"tf-ns-heuristic-allen", "environment_variables":{}, "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2026-04-13T08:50:34.386724Z", "updated_at":"2026-04-13T08:50:34.386724Z", "vpc_integration_activated":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.272417ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"7fbc8ec7-e4f8-4824-8aff-abcf8059305c","name":"tf-co-epic-roentgen","privacy":"public","registry_image":"nginx:latest","protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"c9030c0a-80f3-44ef-949f-ebad58dc487c", "name":"tf-co-epic-roentgen", "namespace_id":"7fbc8ec7-e4f8-4824-8aff-abcf8059305c", "status":"pending", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"nginx:latest", "max_concurrency":50, "domain_name":"tfnsheuristicallen7fbc8ec7-tf-co-epic-roentgen.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2026-04-13T08:50:40.214686Z", "updated_at":"2026-04-13T08:50:40.214686Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.424333ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/c9030c0a-80f3-44ef-949f-ebad58dc487c
        method: GET
      response:
        body: '{"id":"c9030c0a-80f3-44ef-949f-ebad58dc487c", "name":"tf-co-epic-roentgen", "namespace_id":"7fbc8ec7-e4f8-4824-8aff-abcf8059305c", "status":"pending", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"nginx:latest", "max_concurrency":1, "domain_name":"tfnsheuristicallen7fbc8ec7-tf-co-epic-roentgen.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":80, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2026-04-13T08:50:40.214686Z", "updated_at":"2026-04-13T08:50:40.214686Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.977458ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-nats","container_id":"c9030c0a-80f3-44ef-949f-ebad58dc487c","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"AD6CMPHV5ITZOKYWY7QRQGZDNFHS7WYF2ULES75E6SFS2JN3APDSHIY4","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"beff387f-b94c-4509-a6ab-033212f1565f", "name":"test-container-trigger-nats", "description":"", "input_type":"scw_nats", "status":"pending", "error_message":null, "container_id":"c9030c0a-80f3-44ef-949f-ebad58dc487c", "scw_nats_config":{"subject":"TestSubject", "mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "mnq_region":"fr-par", "mnq_credential_id":null, "mnq_nats_account_id":"AD6CMPHV5ITZOKYWY7QRQGZDNFHS7WYF2ULES75E6SFS2JN3APDSHIY4"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.098208ms
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/beff387f-b94c-4509-a6ab-033212f1565f
        method: GET
      response:
        body: '{"id":"beff387f-b94c-4509-a6ab-033212f1565f", "name":"test-container-trigger-nats", "description":"", "input_type":"scw_nats", "status":"pending", "error_message":null, "container_id":"c9030c0a-80f3-44ef-949f-ebad58dc487c", "scw_nats_config":{"subject":"TestSubject", "mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "mnq_region":"fr-par", "mnq_credential_id":"37efd5eb-57a2-46f4-b0dd-a092a654fb46", "mnq_nats_account_id":"AD6CMPHV5ITZOKYWY7QRQGZDNFHS7WYF2ULES75E6SFS2JN3APDSHIY4"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.003041ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/beff387f-b94c-4509-a6ab-033212f1565f
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.833917ms
[...]
