---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "name":"tf_tests_container_trigger_sqs", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-01-09T15:57:19.754096Z", "updated_at":"2026-01-09T15:57:19.754096Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.44294ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/bde6bbc3-a71f-478c-b95f-ae9be3497e1e
        method: GET
      response:
        body: '{"id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "name":"tf_tests_container_trigger_sqs", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-01-09T15:57:19.754096Z", "updated_at":"2026-01-09T15:57:19.754096Z", "description":"", "qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.90668ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "region":"fr-par", "created_at":"2026-01-09T15:57:19.959401928Z", "updated_at":"2026-01-09T15:57:19.959401928Z", "status":"enabled", "sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.897519ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            project_id:
                - bde6bbc3-a71f-478c-b95f-ae9be3497e1e
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=bde6bbc3-a71f-478c-b95f-ae9be3497e1e
        method: GET
      response:
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "region":"fr-par", "created_at":"2026-01-09T15:57:19.959401Z", "updated_at":"2026-01-09T15:57:19.959401Z", "status":"enabled", "sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.322661ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e","name":"tf-sqs-credentials-competent-poitras","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "region":"fr-par", "created_at":"2026-01-09T15:57:20.129377919Z", "updated_at":"2026-01-09T15:57:20.129377919Z", "id":"3d90a29f-1bca-4f09-9c72-96a79f9243ec", "name":"tf-sqs-credentials-competent-poitras", "access_key":"TaI3j1QDO7EGpJBuqwvl", "secret_key":"4kQNJwhDT6bP692UCTSMZHr390tj4Nt74ecKaY0zNS3wuWPPkyCRU8AeF6VRtwn8", "secret_checksum":"02880540664634844ac6a69ed1163846df32a9bd", "permissions":{"can_publish":true, "can_receive":true, "can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.854202ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/3d90a29f-1bca-4f09-9c72-96a79f9243ec
        method: GET
      response:
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "region":"fr-par", "created_at":"2026-01-09T15:57:20.129377Z", "updated_at":"2026-01-09T15:57:20.129377Z", "id":"3d90a29f-1bca-4f09-9c72-96a79f9243ec", "name":"tf-sqs-credentials-competent-poitras", "access_key":"TaI3j1QDO7EGpJBuqwvl", "secret_key":"", "secret_checksum":"02880540664634844ac6a69ed1163846df32a9bd", "permissions":{"can_publish":true, "can_receive":true, "can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.635071ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - bcb3e630-2d20-4bb1-adea-9f557206ddda
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260109T155720Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-bde6bbc3-a71f-478c-b95f-ae9be3497e1e/TestQueue"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx8ff63759-4076-413a-a53a-bba2e18f3b3d
        status: 200 OK
        code: 200
        duration: 178.782055ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-bde6bbc3-a71f-478c-b95f-ae9be3497e1e/TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 220ef5dd-2154-4a03-98eb-2cd8a995871f
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260109T155720Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-bde6bbc3-a71f-478c-b95f-ae9be3497e1e:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txf6bd56de-f229-4d4a-897d-ede9512d6d31
        status: 200 OK
        code: 200
        duration: 23.376155ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-flamboyant-jackson","environment_variables":{},"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"da48bc35-db0b-4bcf-886b-5c2b538bc4dc", "name":"tf-ns-flamboyant-jackson", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2026-01-09T15:57:21.430782535Z", "updated_at":"2026-01-09T15:57:21.430782535Z", "vpc_integration_activated":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.526774162s
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/da48bc35-db0b-4bcf-886b-5c2b538bc4dc
        method: GET
      response:
        body: '{"id":"da48bc35-db0b-4bcf-886b-5c2b538bc4dc", "name":"tf-ns-flamboyant-jackson", "environment_variables":{}, "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "status":"pending", "registry_namespace_id":"", "error_message":null, "registry_endpoint":"", "description":"", "secret_environment_variables":[], "tags":[], "created_at":"2026-01-09T15:57:21.430783Z", "updated_at":"2026-01-09T15:57:21.430783Z", "vpc_integration_activated":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.779781ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"da48bc35-db0b-4bcf-886b-5c2b538bc4dc","name":"tf-co-gracious-faraday","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"f23c8754-d2d9-4393-863b-8ba1f2150211", "name":"tf-co-gracious-faraday", "namespace_id":"da48bc35-db0b-4bcf-886b-5c2b538bc4dc", "status":"created", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwtfnsflamboyantjacksonub8ppoa/tf-co-gracious-faraday:latest", "max_concurrency":50, "domain_name":"tfnsflamboyantjacksonub8ppoa-tf-co-gracious-faraday.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2026-01-09T15:57:26.776871471Z", "updated_at":"2026-01-09T15:57:26.776871471Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.441541ms
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/f23c8754-d2d9-4393-863b-8ba1f2150211
        method: GET
      response:
        body: '{"id":"f23c8754-d2d9-4393-863b-8ba1f2150211", "name":"tf-co-gracious-faraday", "namespace_id":"da48bc35-db0b-4bcf-886b-5c2b538bc4dc", "status":"created", "environment_variables":{}, "min_scale":0, "max_scale":5, "memory_limit":2048, "cpu_limit":1000, "timeout":"300s", "error_message":null, "privacy":"public", "description":"", "registry_image":"rg.fr-par.scw.cloud/funcscwtfnsflamboyantjacksonub8ppoa/tf-co-gracious-faraday:latest", "max_concurrency":50, "domain_name":"tfnsflamboyantjacksonub8ppoa-tf-co-gracious-faraday.functions.fnc.fr-par.scw.cloud", "protocol":"http1", "port":8080, "secret_environment_variables":[], "http_option":"enabled", "sandbox":"v2", "local_storage_limit":1000, "scaling_option":{"concurrent_requests_threshold":50}, "created_at":"2026-01-09T15:57:26.776871Z", "updated_at":"2026-01-09T15:57:26.776871Z", "ready_at":null, "health_check":{"failure_threshold":30, "interval":"10s", "tcp":{}}, "tags":[], "private_network_id":null, "command":[], "args":[], "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.173743ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-sqs","container_id":"f23c8754-d2d9-4393-863b-8ba1f2150211","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e","mnq_region":"fr-par"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"23b2c667-c8df-48dc-85ee-05aae89d892a", "name":"test-container-trigger-sqs", "description":"", "input_type":"scw_sqs", "status":"creating", "error_message":null, "container_id":"f23c8754-d2d9-4393-863b-8ba1f2150211", "scw_sqs_config":{"queue":"TestQueue", "mnq_project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "mnq_region":"fr-par", "mnq_credential_id":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.463859ms
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/23b2c667-c8df-48dc-85ee-05aae89d892a
        method: GET
      response:
        body: '{"id":"23b2c667-c8df-48dc-85ee-05aae89d892a", "name":"test-container-trigger-sqs", "description":"", "input_type":"scw_sqs", "status":"creating", "error_message":null, "container_id":"f23c8754-d2d9-4393-863b-8ba1f2150211", "scw_sqs_config":{"queue":"TestQueue", "mnq_project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "mnq_region":"fr-par", "mnq_credential_id":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.522526ms
[...]
    - id: 44
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 1fb6489b-d4ba-459c-80f6-4c798a3b5b37
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260109T155743Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - txcd9eddb1-5e74-4713-bc23-03ea29bc4704
        status: 404 Not Found
        code: 404
        duration: 17.539112ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"project_id":"bde6bbc3-a71f-478c-b95f-ae9be3497e1e", "region":"fr-par", "created_at":null, "updated_at":null, "status":"disabled", "sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.367569ms
[...]
