---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_container_trigger_sqs_1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":"Initial project for SQS trigger testing"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"ab17275c-d17c-4a20-8d71-15dea52fb655","name":"tf_tests_container_trigger_sqs_1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-05T08:40:34.592177Z","updated_at":"2026-05-05T08:40:34.592177Z","description":"Initial project for SQS trigger testing","qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.968993ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/ab17275c-d17c-4a20-8d71-15dea52fb655
        method: GET
      response:
        body: '{"id":"ab17275c-d17c-4a20-8d71-15dea52fb655","name":"tf_tests_container_trigger_sqs_1","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-05-05T08:40:34.592177Z","updated_at":"2026-05-05T08:40:34.592177Z","description":"Initial project for SQS trigger testing","qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.960241ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","region":"fr-par","created_at":"2026-05-05T08:41:04.923594802Z","updated_at":"2026-05-05T08:41:04.923594802Z","status":"enabled","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.391505ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            project_id:
                - ab17275c-d17c-4a20-8d71-15dea52fb655
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=ab17275c-d17c-4a20-8d71-15dea52fb655
        method: GET
      response:
        body: '{"project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","region":"fr-par","created_at":"2026-05-05T08:41:04.923594Z","updated_at":"2026-05-05T08:41:04.923594Z","status":"enabled","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.634054ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","name":"tf-sqs-credentials-objective-mendeleev","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","region":"fr-par","created_at":"2026-05-05T08:41:05.088441014Z","updated_at":"2026-05-05T08:41:05.088441014Z","id":"c736365f-19e1-40f0-b54b-37e223b66a4f","name":"tf-sqs-credentials-objective-mendeleev","access_key":"DXosmXr9xIrT5iLlWflz","secret_key":"IwS5ZMNhaEnGwEZP8qhThK8mOPbop5PTxpcCC9YbszSbjuuKSZi1oZe7IrJT4Eqs","secret_checksum":"785db6688c8a1905df11928b11034568c12ebe0b","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.914851ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/c736365f-19e1-40f0-b54b-37e223b66a4f
        method: GET
      response:
        body: '{"project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","region":"fr-par","created_at":"2026-05-05T08:41:05.088441Z","updated_at":"2026-05-05T08:41:05.088441Z","id":"c736365f-19e1-40f0-b54b-37e223b66a4f","name":"tf-sqs-credentials-objective-mendeleev","access_key":"DXosmXr9xIrT5iLlWflz","secret_key":"","secret_checksum":"785db6688c8a1905df11928b11034568c12ebe0b","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.296054ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MessageRetentionPeriod":"345600","VisibilityTimeout":"30","MaximumMessageSize":"262144"},"QueueName":"TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 8c96c3cd-4156-4345-9f67-8467ae91758c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260505T084105Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-ab17275c-d17c-4a20-8d71-15dea52fb655/TestQueue"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txfdd101cb-8e14-45fb-ace6-30ea90c80675
        status: 200 OK
        code: 200
        duration: 234.208415ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-ab17275c-d17c-4a20-8d71-15dea52fb655/TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 0234d6c6-0f39-4d3b-bd5b-685d08f69e33
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260505T084105Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-ab17275c-d17c-4a20-8d71-15dea52fb655:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx7fd8580e-07d3-4f61-ac0c-a418403efffb
        status: 200 OK
        code: 200
        duration: 26.607851ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","name":"tf-acctest-trigger-sqs","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"b4b784e6-95cf-4811-9158-f0a4753991ec","name":"tf-acctest-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T08:41:05.348592Z","updated_at":"2026-05-05T08:41:05.348592Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.125009612s
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/b4b784e6-95cf-4811-9158-f0a4753991ec
        method: GET
      response:
        body: '{"id":"b4b784e6-95cf-4811-9158-f0a4753991ec","name":"tf-acctest-trigger-sqs","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"ab17275c-d17c-4a20-8d71-15dea52fb655","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T08:41:05.348592Z","updated_at":"2026-05-05T08:41:05.348592Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.258732ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"b4b784e6-95cf-4811-9158-f0a4753991ec","name":"tf-co-busy-volhard","environment_variables":null,"secret_environment_variables":null,"privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"855d9c1b-39c4-4eed-b618-33b42df9fb6c","name":"tf-co-busy-volhard","namespace_id":"b4b784e6-95cf-4811-9158-f0a4753991ec","description":"","status":"creating","created_at":"2026-05-05T08:41:11.249153Z","updated_at":"2026-05-05T08:41:11.249153Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggersqsb4b784e6-tf-co-busy-volhard.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.253541ms
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/855d9c1b-39c4-4eed-b618-33b42df9fb6c
        method: GET
      response:
        body: '{"id":"855d9c1b-39c4-4eed-b618-33b42df9fb6c","name":"tf-co-busy-volhard","namespace_id":"b4b784e6-95cf-4811-9158-f0a4753991ec","description":"","status":"creating","created_at":"2026-05-05T08:41:11.249153Z","updated_at":"2026-05-05T08:41:11.249153Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggersqsb4b784e6-tf-co-busy-volhard.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.401437ms
    - id: 17
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/855d9c1b-39c4-4eed-b618-33b42df9fb6c
        method: GET
      response:
        body: '{"id":"855d9c1b-39c4-4eed-b618-33b42df9fb6c","name":"tf-co-busy-volhard","namespace_id":"b4b784e6-95cf-4811-9158-f0a4753991ec","description":"","status":"ready","error_message":"","created_at":"2026-05-05T08:41:11.249153Z","updated_at":"2026-05-05T08:41:21Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggersqsb4b784e6-tf-co-busy-volhard.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.613451ms
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"container_id":"855d9c1b-39c4-4eed-b618-33b42df9fb6c","name":"test-container-trigger-sqs","description":"This trigger was created with a description","tags":null,"destination_config":{"http_path":"/","http_method":"get"},"sqs_config":{"region":"fr-par","endpoint":"https://sqs.mnq.fr-par.scaleway.com","access_key_id":"DXosmXr9xIrT5iLlWflz","secret_access_key":"IwS5ZMNhaEnGwEZP8qhThK8mOPbop5PTxpcCC9YbszSbjuuKSZi1oZe7IrJT4Eqs","queue_url":"https://sqs.mnq.fr-par.scaleway.com/project-ab17275c-d17c-4a20-8d71-15dea52fb655/TestQueue"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"8d2e6bcb-13dd-48b9-af85-452776a72049","name":"test-container-trigger-sqs","description":"This trigger was created with a description","tags":[],"status":"creating","container_id":"855d9c1b-39c4-4eed-b618-33b42df9fb6c","destination_config":{"http_path":"/","http_method":"get"},"source_type":"sqs","created_at":"2026-05-05T08:41:21.668565Z","updated_at":"2026-05-05T08:41:21.668565Z","sqs_config":{"region":"fr-par","endpoint":"https://sqs.mnq.fr-par.scaleway.com","queue_url":"https://sqs.mnq.fr-par.scaleway.com/project-ab17275c-d17c-4a20-8d71-15dea52fb655/TestQueue","access_key_id":"DXosmXr9xIrT5iLlWflz"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.419881ms
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/8d2e6bcb-13dd-48b9-af85-452776a72049
        method: GET
      response:
        body: '{"id":"8d2e6bcb-13dd-48b9-af85-452776a72049","name":"test-container-trigger-sqs","description":"This trigger was created with a description","tags":[],"status":"creating","container_id":"855d9c1b-39c4-4eed-b618-33b42df9fb6c","destination_config":{"http_path":"/","http_method":"get"},"source_type":"sqs","created_at":"2026-05-05T08:41:21.668565Z","updated_at":"2026-05-05T08:41:21.668565Z","sqs_config":{"region":"fr-par","endpoint":"https://sqs.mnq.fr-par.scaleway.com","queue_url":"https://sqs.mnq.fr-par.scaleway.com/project-ab17275c-d17c-4a20-8d71-15dea52fb655/TestQueue","access_key_id":"DXosmXr9xIrT5iLlWflz"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.986152ms
[...]
    - id: 49
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-8891995e-209d-400d-93a6-d4f34c0565b9/OtherQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - c4088d03-37a3-454a-8608-eb5d486825d4
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260505T084159Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-8891995e-209d-400d-93a6-d4f34c0565b9:OtherQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txec6411de-c159-44a6-bcb9-f232c78957d2
        status: 200 OK
        code: 200
        duration: 26.687678ms
[...]
    - id: 84
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"OtherQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - aafe6c90-1189-485a-ab7c-e5102e19d3b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260505T084205Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"OtherQueue\" does not exist."}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx9cd1d3aa-f1b2-4717-a3ea-6c4fdfb12d07
        status: 404 Not Found
        code: 404
        duration: 24.890523ms
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: '{"project_id":"8891995e-209d-400d-93a6-d4f34c0565b9"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"project_id":"8891995e-209d-400d-93a6-d4f34c0565b9","region":"fr-par","created_at":null,"updated_at":null,"status":"disabled","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.092269ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/8d2e6bcb-13dd-48b9-af85-452776a72049
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"trigger","resource_id":"8d2e6bcb-13dd-48b9-af85-452776a72049","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.503774ms
[...]
