---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-trigger-change-source","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"40ee41a1-95f3-463a-89b9-3ecececeb8e9","name":"tf-acctest-trigger-change-source","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:51:14.789600Z","updated_at":"2026-05-05T14:51:14.789600Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.462610908s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/40ee41a1-95f3-463a-89b9-3ecececeb8e9
        method: GET
      response:
        body: '{"id":"40ee41a1-95f3-463a-89b9-3ecececeb8e9","name":"tf-acctest-trigger-change-source","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:51:14.789600Z","updated_at":"2026-05-05T14:51:14.789600Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.020142ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"40ee41a1-95f3-463a-89b9-3ecececeb8e9","name":"tf-co-trusting-noether","environment_variables":null,"secret_environment_variables":null,"privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"22132298-9cc5-4703-95ab-ce2e44f49552","name":"tf-co-trusting-noether","namespace_id":"40ee41a1-95f3-463a-89b9-3ecececeb8e9","description":"","status":"creating","created_at":"2026-05-05T14:51:21.077093Z","updated_at":"2026-05-05T14:51:21.077093Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggerchan40ee41a1-tf-co-trusting-noether.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.930838ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/22132298-9cc5-4703-95ab-ce2e44f49552
        method: GET
      response:
        body: '{"id":"22132298-9cc5-4703-95ab-ce2e44f49552","name":"tf-co-trusting-noether","namespace_id":"40ee41a1-95f3-463a-89b9-3ecececeb8e9","description":"","status":"creating","created_at":"2026-05-05T14:51:21.077093Z","updated_at":"2026-05-05T14:51:21.077093Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggerchan40ee41a1-tf-co-trusting-noether.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.010426ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/22132298-9cc5-4703-95ab-ce2e44f49552
        method: GET
      response:
        body: '{"id":"22132298-9cc5-4703-95ab-ce2e44f49552","name":"tf-co-trusting-noether","namespace_id":"40ee41a1-95f3-463a-89b9-3ecececeb8e9","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:51:21.077093Z","updated_at":"2026-05-05T14:51:28Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggerchan40ee41a1-tf-co-trusting-noether.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.540815ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"container_id":"22132298-9cc5-4703-95ab-ce2e44f49552","name":"test-container-trigger-change-cron","tags":null,"destination_config":{"http_path":"/patch.here","http_method":"patch"},"cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"6107ff0e-6dab-4466-87ee-7015ed6f84a4","name":"test-container-trigger-change-cron","description":"","tags":[],"status":"creating","container_id":"22132298-9cc5-4703-95ab-ce2e44f49552","destination_config":{"http_path":"/patch.here","http_method":"patch"},"source_type":"cron","created_at":"2026-05-05T14:51:31.598001Z","updated_at":"2026-05-05T14:51:31.598001Z","cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.007023ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/6107ff0e-6dab-4466-87ee-7015ed6f84a4
        method: GET
      response:
        body: '{"id":"6107ff0e-6dab-4466-87ee-7015ed6f84a4","name":"test-container-trigger-change-cron","description":"","tags":[],"status":"creating","container_id":"22132298-9cc5-4703-95ab-ce2e44f49552","destination_config":{"http_path":"/patch.here","http_method":"patch"},"source_type":"cron","created_at":"2026-05-05T14:51:31.598001Z","updated_at":"2026-05-05T14:51:31.598001Z","cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.848971ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/6107ff0e-6dab-4466-87ee-7015ed6f84a4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"trigger","resource_id":"6107ff0e-6dab-4466-87ee-7015ed6f84a4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.148573ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-pensive-germain","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","created_at":"2026-05-05T14:51:43.588909623Z","updated_at":"2026-05-05T14:51:43.588909623Z","id":"AAXOX6NFEGGVFXLIPROCGGXXIJWHKLCXI5XCMHD3AR7R3YQBAR53STDS","name":"tf-nats-account-pensive-germain","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.120561ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AAXOX6NFEGGVFXLIPROCGGXXIJWHKLCXI5XCMHD3AR7R3YQBAR53STDS
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","created_at":"2026-05-05T14:51:43.588909Z","updated_at":"2026-05-05T14:51:43.588909Z","id":"AAXOX6NFEGGVFXLIPROCGGXXIJWHKLCXI5XCMHD3AR7R3YQBAR53STDS","name":"tf-nats-account-pensive-germain","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.848719ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AAXOX6NFEGGVFXLIPROCGGXXIJWHKLCXI5XCMHD3AR7R3YQBAR53STDS","name":"tf-nats-credentials-distracted-dhawan"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"nats_account_id":"AAXOX6NFEGGVFXLIPROCGGXXIJWHKLCXI5XCMHD3AR7R3YQBAR53STDS","region":"fr-par","created_at":"2026-05-05T14:51:44.028803750Z","updated_at":"2026-05-05T14:51:44.028803863Z","id":"649cf2bf-3e48-4454-a013-bf93e492b218","name":"tf-nats-credentials-distracted-dhawan","credentials":{"name":"user.creds","content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJOVVUyWkNRUFdXUU5TV1ZUQlVPT1M3RDNDSFhYQjQ0MlZCNlM0UlRCRUJGT0VSTVE3NlRBIiwiaWF0IjoxNzc3OTkyNzA0LCJpc3MiOiJBQk5ESktGUjZJVkVaVVVFVVRVTFpKQTY0NUNJTDVFUEdCRzVSU0xDTTZETkZCMzU2UUg0RElBTSIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLWRpc3RyYWN0ZWQtZGhhd2FuIiwic3ViIjoiVUNBVFVBMkI0N1ZYV0pCQlAzSldTVTJTNjdYWFRVV0RJUFVJS0laNzZFTENLVVFMQ0NBNFlUWEMiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUFYT1g2TkZFR0dWRlhMSVBST0NHR1hYSUpXSEtMQ1hJNVhDTUhEM0FSN1IzWVFCQVI1M1NURFMiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.hyA7svw8qaqNm69_JQPAHbfKjIFKR1oVWS_3lBPVxSFZx2VnNa6T9d7LhiRozgBewxNkGlICRqYGDpnESq1GAQ\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAHS6N74RPVQ5RFTJKEPLTSJDQCI5JURNQDNM7M3EAM6VBR6OM7WW35QI\n------END USER NKEY SEED------\n\n*************************************************************\n"},"checksum":"ffcd30e37ba2a78e12f69ab467a63a025d80b5fc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.711238ms
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/649cf2bf-3e48-4454-a013-bf93e492b218
        method: GET
      response:
        body: '{"nats_account_id":"AAXOX6NFEGGVFXLIPROCGGXXIJWHKLCXI5XCMHD3AR7R3YQBAR53STDS","region":"fr-par","created_at":"2026-05-05T14:51:44.028803Z","updated_at":"2026-05-05T14:51:44.028803Z","id":"649cf2bf-3e48-4454-a013-bf93e492b218","name":"tf-nats-credentials-distracted-dhawan","credentials":null,"checksum":"ffcd30e37ba2a78e12f69ab467a63a025d80b5fc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.414088ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"container_id":"a1c7548a-4a0b-4e55-8022-31b29df7305c","name":"test-container-trigger-change-nats","tags":null,"destination_config":{"http_path":"/patch.here","http_method":"patch"},"nats_config":{"server_urls":["nats://nats.mnq.fr-par.scaleway.com:4222"],"subject":"TestSubject","credentials_file_content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJOVVUyWkNRUFdXUU5TV1ZUQlVPT1M3RDNDSFhYQjQ0MlZCNlM0UlRCRUJGT0VSTVE3NlRBIiwiaWF0IjoxNzc3OTkyNzA0LCJpc3MiOiJBQk5ESktGUjZJVkVaVVVFVVRVTFpKQTY0NUNJTDVFUEdCRzVSU0xDTTZETkZCMzU2UUg0RElBTSIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLWRpc3RyYWN0ZWQtZGhhd2FuIiwic3ViIjoiVUNBVFVBMkI0N1ZYV0pCQlAzSldTVTJTNjdYWFRVV0RJUFVJS0laNzZFTENLVVFMQ0NBNFlUWEMiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsI[...]
[...]
