---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:28.183860Z","description":"","id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-08-27T15:06:28.183860Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.900162ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/451a75ce-766a-43f9-9b0f-77a056b7e1ed
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:28.183860Z","description":"","id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-08-27T15:06:28.183860Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.264822ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:28.684881912Z","project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-08-27T15:06:28.684881912Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.432007ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=451a75ce-766a-43f9-9b0f-77a056b7e1ed
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:28.684881Z","project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-08-27T15:06:28.684881Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.417916ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","name":"tf-sqs-credentials-dazzling-visvesvaraya","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"6q9lhzw6NRO0iF3k2A4d","created_at":"2025-08-27T15:06:28.976527189Z","id":"4637a1d0-51e8-4863-957f-ce050f8f97e8","name":"tf-sqs-credentials-dazzling-visvesvaraya","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","region":"fr-par","secret_checksum":"571dc5b9999c5ba7a5e4d1a15402dd416b2a043d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-08-27T15:06:28.976527189Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.681855ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/4637a1d0-51e8-4863-957f-ce050f8f97e8
        method: GET
      response:
        body: '{"access_key":"6q9lhzw6NRO0iF3k2A4d","created_at":"2025-08-27T15:06:28.976527Z","id":"4637a1d0-51e8-4863-957f-ce050f8f97e8","name":"tf-sqs-credentials-dazzling-visvesvaraya","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","region":"fr-par","secret_checksum":"571dc5b9999c5ba7a5e4d1a15402dd416b2a043d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-08-27T15:06:28.976527Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.726464ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ea3d6990-0439-4365-adb2-12374ffb6071
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250827T150629Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-451a75ce-766a-43f9-9b0f-77a056b7e1ed/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txb2b7de24-ee47-4c43-85f5-9ec6c0cbdaa0
        status: 200 OK
        code: 200
        duration: 186.306795ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-451a75ce-766a-43f9-9b0f-77a056b7e1ed/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8093a29e-0992-4a67-b0a0-d65e81876373
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250827T150629Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx1ef795f8-700b-4ab7-85ef-d0934d0be3e3
        status: 200 OK
        code: 200
        duration: 30.859249ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-vibrant-hofstadter","environment_variables":{},"project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:30.153439509Z","description":"","environment_variables":{},"error_message":null,"id":"e7e9218b-d951-4020-a0d5-1f0f613bd6cd","name":"tf-ns-vibrant-hofstadter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:30.153439509Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.624708466s
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/e7e9218b-d951-4020-a0d5-1f0f613bd6cd
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:30.153440Z","description":"","environment_variables":{},"error_message":null,"id":"e7e9218b-d951-4020-a0d5-1f0f613bd6cd","name":"tf-ns-vibrant-hofstadter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:30.153440Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.800133ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"e7e9218b-d951-4020-a0d5-1f0f613bd6cd","name":"tf-co-xenodochial-lumiere","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:51.253340464Z","description":"","domain_name":"tfnsvibranthofstadtexf2vueoe-tf-co-xenodochial-lumiere.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"58f5113a-2906-471f-87fe-727be3c9a3fa","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-xenodochial-lumiere","namespace_id":"e7e9218b-d951-4020-a0d5-1f0f613bd6cd","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsvibranthofstadtexf2vueoe/tf-co-xenodochial-lumiere:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:51.253340464Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 599.036514ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/58f5113a-2906-471f-87fe-727be3c9a3fa
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:51.253340Z","description":"","domain_name":"tfnsvibranthofstadtexf2vueoe-tf-co-xenodochial-lumiere.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"58f5113a-2906-471f-87fe-727be3c9a3fa","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-xenodochial-lumiere","namespace_id":"e7e9218b-d951-4020-a0d5-1f0f613bd6cd","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsvibranthofstadtexf2vueoe/tf-co-xenodochial-lumiere:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:51.253340Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.283728ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-sqs","container_id":"58f5113a-2906-471f-87fe-727be3c9a3fa","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"container_id":"58f5113a-2906-471f-87fe-727be3c9a3fa","description":"","error_message":null,"id":"145cc115-791d-479c-bd32-19e29f05916b","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.294245ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/145cc115-791d-479c-bd32-19e29f05916b
        method: GET
      response:
        body: '{"container_id":"58f5113a-2906-471f-87fe-727be3c9a3fa","description":"","error_message":null,"id":"145cc115-791d-479c-bd32-19e29f05916b","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.143294ms
[...]
    - id: 57
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d781c4c3-12e0-4724-8850-4d524d6154a1
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250827T150726Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx795a86c4-13b0-471d-9b2a-d37d904c0eeb
        status: 404 Not Found
        code: 404
        duration: 23.38679ms
[...]
    - id: 71
      request:
        host: api.scaleway.com
        body: '{"project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"451a75ce-766a-43f9-9b0f-77a056b7e1ed","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.306116ms
[...]
