---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_container_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"name\":\"tf_tests_container_trigger_sqs\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:31:00.292067Z\", \"updated_at\":\"2025-10-31T16:31:00.292067Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 471.002778ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/555712db-398a-4f7f-9089-b1d7e7ab981c
    method: GET
  response:
    body: "{\"id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"name\":\"tf_tests_container_trigger_sqs\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-10-31T16:31:00.292067Z\", \"updated_at\":\"2025-10-31T16:31:00.292067Z\", \"description\":\"\", \"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 207.668953ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"region\":\"fr-par\", \"created_at\":\"2025-10-31T16:31:00.853831922Z\", \"updated_at\":\"2025-10-31T16:31:00.853831922Z\", \"status\":\"enabled\", \"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 159.401859ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 555712db-398a-4f7f-9089-b1d7e7ab981c
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=555712db-398a-4f7f-9089-b1d7e7ab981c
    method: GET
  response:
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"region\":\"fr-par\", \"created_at\":\"2025-10-31T16:31:00.853831Z\", \"updated_at\":\"2025-10-31T16:31:00.853831Z\", \"status\":\"enabled\", \"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.891699ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\",\"name\":\"tf-sqs-credentials-cranky-rosalind\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"region\":\"fr-par\", \"created_at\":\"2025-10-31T16:31:01.201032524Z\", \"updated_at\":\"2025-10-31T16:31:01.201032524Z\", \"id\":\"7ab5bce8-def1-4716-ad6c-b19593959ec9\", \"name\":\"tf-sqs-credentials-cranky-rosalind\", \"access_key\":\"jkmdqZHnhTj7uH84Yajg\", \"secret_key\":\"QQUJoJ3JJl1x0JpKndR5bAgaKwxwNADPdbCkQRDsm9nSA8FhiyM2dCHtTMDZ3lbw\", \"secret_checksum\":\"faf3f01c94a30bbb9799617d02842a9a7ae64ce8\", \"permissions\":{\"can_publish\":true, \"can_receive\":true, \"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.096571ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/7ab5bce8-def1-4716-ad6c-b19593959ec9
    method: GET
  response:
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"region\":\"fr-par\", \"created_at\":\"2025-10-31T16:31:01.201032Z\", \"updated_at\":\"2025-10-31T16:31:01.201032Z\", \"id\":\"7ab5bce8-def1-4716-ad6c-b19593959ec9\", \"name\":\"tf-sqs-credentials-cranky-rosalind\", \"access_key\":\"jkmdqZHnhTj7uH84Yajg\", \"secret_key\":\"\", \"secret_checksum\":\"faf3f01c94a30bbb9799617d02842a9a7ae64ce8\", \"permissions\":{\"can_publish\":true, \"can_receive\":true, \"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.456673ms
[...]
- id: 7
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"VisibilityTimeout\":\"30\",\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\"},\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 926faf84-6d36-4385-a334-d5432a463289
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20251031T163101Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-555712db-398a-4f7f-9089-b1d7e7ab981c/TestQueue\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx5630e385-6c17-4939-b8c9-bb84e091559f
    status: 200 OK
    code: 200
    duration: 183.221605ms
[...]
- id: 9
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\",\"VisibilityTimeout\",\"RedrivePolicy\",\"QueueArn\",\"MaximumMessageSize\",\"MessageRetentionPeriod\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-555712db-398a-4f7f-9089-b1d7e7ab981c/TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 2e4a1872-d3af-4f41-86ea-f38e0004cab0
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20251031T163101Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"QueueArn\":\"arn:scw:sqs:fr-par:project-555712db-398a-4f7f-9089-b1d7e7ab981c:TestQueue\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx0e072518-eb86-4098-a84d-b9b89acd3aa2
    status: 200 OK
    code: 200
    duration: 40.091966ms
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-great-bouman\",\"environment_variables\":{},\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"2f972f1e-d5d1-4373-b5fe-73a0cef4a638\", \"name\":\"tf-ns-great-bouman\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.693021432Z\", \"updated_at\":\"2025-10-31T16:31:05.693021432Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.95204223s
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/2f972f1e-d5d1-4373-b5fe-73a0cef4a638
    method: GET
  response:
    body: "{\"id\":\"2f972f1e-d5d1-4373-b5fe-73a0cef4a638\", \"name\":\"tf-ns-great-bouman\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.693021Z\", \"updated_at\":\"2025-10-31T16:31:05.693021Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.999774ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"2f972f1e-d5d1-4373-b5fe-73a0cef4a638\",\"name\":\"tf-co-epic-cori\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"ab87d4dc-8e73-4d35-bbb6-eb703b6045db\", \"name\":\"tf-co-epic-cori\", \"namespace_id\":\"2f972f1e-d5d1-4373-b5fe-73a0cef4a638\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgreatboumanqe8exkpm/tf-co-epic-cori:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsgreatboumanqe8exkpm-tf-co-epic-cori.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.935262206Z\", \"updated_at\":\"2025-10-31T16:31:16.935262206Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 720.321668ms
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/ab87d4dc-8e73-4d35-bbb6-eb703b6045db
    method: GET
  response:
    body: "{\"id\":\"ab87d4dc-8e73-4d35-bbb6-eb703b6045db\", \"name\":\"tf-co-epic-cori\", \"namespace_id\":\"2f972f1e-d5d1-4373-b5fe-73a0cef4a638\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgreatboumanqe8exkpm/tf-co-epic-cori:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnsgreatboumanqe8exkpm-tf-co-epic-cori.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.935262Z\", \"updated_at\":\"2025-10-31T16:31:16.935262Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.134199ms
- id: 17
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-container-trigger-sqs\",\"container_id\":\"ab87d4dc-8e73-4d35-bbb6-eb703b6045db\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\",\"mnq_region\":\"fr-par\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: "{\"id\":\"bd3a9241-4866-4d89-b8ba-930590e7a88a\", \"name\":\"test-container-trigger-sqs\", \"description\":\"\", \"input_type\":\"scw_sqs\", \"status\":\"creating\", \"error_message\":null, \"container_id\":\"ab87d4dc-8e73-4d35-bbb6-eb703b6045db\", \"scw_sqs_config\":{\"queue\":\"TestQueue\", \"mnq_project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"mnq_region\":\"fr-par\", \"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 538.929415ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/bd3a9241-4866-4d89-b8ba-930590e7a88a
    method: GET
  response:
    body: "{\"id\":\"bd3a9241-4866-4d89-b8ba-930590e7a88a\", \"name\":\"test-container-trigger-sqs\", \"description\":\"\", \"input_type\":\"scw_sqs\", \"status\":\"creating\", \"error_message\":null, \"container_id\":\"ab87d4dc-8e73-4d35-bbb6-eb703b6045db\", \"scw_sqs_config\":{\"queue\":\"TestQueue\", \"mnq_project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"mnq_region\":\"fr-par\", \"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.497786ms
[...]
- id: 42
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 3dd23de4-aee3-47aa-a4a3-b7112c7255de
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20251031T163135Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"TestQueue\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - txff35bdbf-6ef0-4a48-970b-c634e65d6711
    status: 404 Not Found
    code: 404
    duration: 28.36711ms
[...]
- id: 50
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"555712db-398a-4f7f-9089-b1d7e7ab981c\", \"region\":\"fr-par\", \"created_at\":null, \"updated_at\":null, \"status\":\"disabled\", \"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 218.436411ms
[...]
