---
version: 2
interactions:
- request:
    body: '{"name":"tf-ns-sweet-raman","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d1fecb59-a985-492c-af3a-af27579ab2e6","name":"tf-ns-sweet-raman","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/d1fecb59-a985-492c-af3a-af27579ab2e6
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d1fecb59-a985-492c-af3a-af27579ab2e6","name":"tf-ns-sweet-raman","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-nats-account-relaxed-noyce","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: '{"created_at":"2023-10-19T09:30:33.053320804Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AD2EC4WXRBOQBQGWMUTQR4PDZKJUONE6B22NBXJRY72M5JUOTPZ5FLT6","name":"tf-nats-account-relaxed-noyce","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2023-10-19T09:30:33.053320804Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AD2EC4WXRBOQBQGWMUTQR4PDZKJUONE6B22NBXJRY72M5JUOTPZ5FLT6
    method: GET
  response:
    body: '{"created_at":"2023-10-19T09:30:33.053320Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AD2EC4WXRBOQBQGWMUTQR4PDZKJUONE6B22NBXJRY72M5JUOTPZ5FLT6","name":"tf-nats-account-relaxed-noyce","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2023-10-19T09:30:33.053320Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"namespace_id":"d1fecb59-a985-492c-af3a-af27579ab2e6","name":"tf-co-festive-aryabhata","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"cpu_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null,"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnssweetraman6knnp8ej-tf-co-festive-aryabhata.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"d3150242-7187-41e1-955d-66f80c978eb7","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-festive-aryabhata","namespace_id":"d1fecb59-a985-492c-af3a-af27579ab2e6","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnssweetraman6knnp8ej/tf-co-festive-aryabhata:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/d3150242-7187-41e1-955d-66f80c978eb7
    method: GET
  response:
    body: '{"cpu_limit":140,"description":"","domain_name":"tfnssweetraman6knnp8ej-tf-co-festive-aryabhata.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"http_option":"enabled","id":"d3150242-7187-41e1-955d-66f80c978eb7","max_concurrency":50,"max_scale":5,"memory_limit":256,"min_scale":0,"name":"tf-co-festive-aryabhata","namespace_id":"d1fecb59-a985-492c-af3a-af27579ab2e6","port":8080,"privacy":"public","protocol":"http1","region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnssweetraman6knnp8ej/tf-co-festive-aryabhata:latest","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-container-trigger-nats","description":null,"container_id":"d3150242-7187-41e1-955d-66f80c978eb7","scw_nats_config":{"subject":"TestSubject","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","mnq_nats_account_id":"AD2EC4WXRBOQBQGWMUTQR4PDZKJUONE6B22NBXJRY72M5JUOTPZ5FLT6"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"container_id":"d3150242-7187-41e1-955d-66f80c978eb7","description":"","error_message":null,"id":"7ef48c6a-6eba-4e13-a7e1-48cc52ce902a","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_nats_account_id":"AD2EC4WXRBOQBQGWMUTQR4PDZKJUONE6B22NBXJRY72M5JUOTPZ5FLT6","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/7ef48c6a-6eba-4e13-a7e1-48cc52ce902a
    method: GET
  response:
    body: '{"container_id":"d3150242-7187-41e1-955d-66f80c978eb7","description":"","error_message":null,"id":"7ef48c6a-6eba-4e13-a7e1-48cc52ce902a","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_nats_account_id":"AD2EC4WXRBOQBQGWMUTQR4PDZKJUONE6B22NBXJRY72M5JUOTPZ5FLT6","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/7ef48c6a-6eba-4e13-a7e1-48cc52ce902a
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
