---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-hopeful-archimedes","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","created_at":"2026-05-05T14:42:12.558112241Z","updated_at":"2026-05-05T14:42:12.558112241Z","id":"AAJVNVYH262QDQ23646CHVTUN3XXSQUH7UK7NJVL4PQ27XVX2SBCXO3T","name":"tf-nats-account-hopeful-archimedes","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.93795ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AAJVNVYH262QDQ23646CHVTUN3XXSQUH7UK7NJVL4PQ27XVX2SBCXO3T
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","created_at":"2026-05-05T14:42:12.558112Z","updated_at":"2026-05-05T14:42:12.558112Z","id":"AAJVNVYH262QDQ23646CHVTUN3XXSQUH7UK7NJVL4PQ27XVX2SBCXO3T","name":"tf-nats-account-hopeful-archimedes","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.27354ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AAJVNVYH262QDQ23646CHVTUN3XXSQUH7UK7NJVL4PQ27XVX2SBCXO3T","name":"tf-nats-credentials-tender-brown"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"nats_account_id":"AAJVNVYH262QDQ23646CHVTUN3XXSQUH7UK7NJVL4PQ27XVX2SBCXO3T","region":"fr-par","created_at":"2026-05-05T14:42:12.889274147Z","updated_at":"2026-05-05T14:42:12.889274376Z","id":"bb462f97-e1c4-41e1-a55c-3bcef559e8a6","name":"tf-nats-credentials-tender-brown","credentials":{"name":"user.creds","content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJNRlhHMlhLMlpSWjVVUldJMkM1NEFFUk0yN1RCMjJRQldHUUFXTVRBVTJYUDdHVExJRE5RIiwiaWF0IjoxNzc3OTkyMTMyLCJpc3MiOiJBQk1NSllTNUhWNFlSQUQ0NFpESlJUTUJKV1dON0hVV0hWMkpOWFhBUkpDWDdPTUZMTDY0SVBTRiIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLXRlbmRlci1icm93biIsInN1YiI6IlVCTURGMlVRSjIzRUZXV0JOQUhWVUI2N0lHVzdXT0tFRjJBTkdaRkJGN0UzT1ZHUFhQV1gyNE5PIiwibmF0cyI6eyJwdWIiOnt9LCJzdWIiOnt9LCJzdWJzIjotMSwiZGF0YSI6LTEsInBheWxvYWQiOi0xLCJpc3N1ZXJfYWNjb3VudCI6IkFBSlZOVllIMjYyUURRMjM2NDZDSFZUVU4zWFhTUVVIN1VLN05KVkw0UFEyN1hWWDJTQkNYTzNUIiwidHlwZSI6InVzZXIiLCJ2ZXJzaW9uIjoyfX0.GZfiXKl2zBpdcYz-dGnTxeUYyfQjAI_obISKep0jmZfQc5tSTXi3y7ChMxWevRJNLm2Q7hT1jBsZIrNjOAniBA\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAFEH333PCYLAQN3BK37WZQRWF3P3IRSKOWTQWHT7K5OTELN7GZJLAMLA\n------END USER NKEY SEED------\n\n*************************************************************\n"},"checksum":"f45c40b02212dfee58c1524c2a177221a7c12420"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.16416ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/bb462f97-e1c4-41e1-a55c-3bcef559e8a6
        method: GET
      response:
        body: '{"nats_account_id":"AAJVNVYH262QDQ23646CHVTUN3XXSQUH7UK7NJVL4PQ27XVX2SBCXO3T","region":"fr-par","created_at":"2026-05-05T14:42:12.889274Z","updated_at":"2026-05-05T14:42:12.889274Z","id":"bb462f97-e1c4-41e1-a55c-3bcef559e8a6","name":"tf-nats-credentials-tender-brown","credentials":null,"checksum":"f45c40b02212dfee58c1524c2a177221a7c12420"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.432661ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-trigger-nats","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"d054c7c0-6fc3-44a0-8471-0d06d9dda987","name":"tf-acctest-trigger-nats","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:13.864714Z","updated_at":"2026-05-05T14:42:13.864714Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.291119831s
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/d054c7c0-6fc3-44a0-8471-0d06d9dda987
        method: GET
      response:
        body: '{"id":"d054c7c0-6fc3-44a0-8471-0d06d9dda987","name":"tf-acctest-trigger-nats","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:13.864714Z","updated_at":"2026-05-05T14:42:13.864714Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.945657ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"d054c7c0-6fc3-44a0-8471-0d06d9dda987","name":"tf-co-exciting-jones","environment_variables":null,"secret_environment_variables":null,"privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"eaf20559-f198-47cf-8687-b0b92363f6ce","name":"tf-co-exciting-jones","namespace_id":"d054c7c0-6fc3-44a0-8471-0d06d9dda987","description":"","status":"creating","created_at":"2026-05-05T14:42:20.951548Z","updated_at":"2026-05-05T14:42:20.951548Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggernatsd054c7c0-tf-co-exciting-jones.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.34462ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/eaf20559-f198-47cf-8687-b0b92363f6ce
        method: GET
      response:
        body: '{"id":"eaf20559-f198-47cf-8687-b0b92363f6ce","name":"tf-co-exciting-jones","namespace_id":"d054c7c0-6fc3-44a0-8471-0d06d9dda987","description":"","status":"creating","created_at":"2026-05-05T14:42:20.951548Z","updated_at":"2026-05-05T14:42:20.951548Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggernatsd054c7c0-tf-co-exciting-jones.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.592646ms
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/eaf20559-f198-47cf-8687-b0b92363f6ce
        method: GET
      response:
        body: '{"id":"eaf20559-f198-47cf-8687-b0b92363f6ce","name":"tf-co-exciting-jones","namespace_id":"d054c7c0-6fc3-44a0-8471-0d06d9dda987","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:20.951548Z","updated_at":"2026-05-05T14:42:27Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggernatsd054c7c0-tf-co-exciting-jones.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.549515ms
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"container_id":"eaf20559-f198-47cf-8687-b0b92363f6ce","name":"test-container-trigger-nats","tags":null,"destination_config":{"http_path":"/endpoint","http_method":"post"},"nats_config":{"server_urls":["nats://nats.mnq.fr-par.scaleway.com:4222"],"subject":"TestSubject","credentials_file_content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJNRlhHMlhLMlpSWjVVUldJMkM1NEFFUk0yN1RCMjJRQldHUUFXTVRBVTJYUDdHVExJRE5RIiwiaWF0IjoxNzc3OTkyMTMyLCJpc3MiOiJBQk1NSllTNUhWNFlSQUQ0NFpESlJUTUJKV1dON0hVV0hWMkpOWFhBUkpDWDdPTUZMTDY0SVBTRiIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLXRlbmRlci1icm93biIsInN1YiI6IlVCTURGMlVRSjIzRUZXV0JOQUhWVUI2N0lHVzdXT0tFRjJBTkdaRkJGN0UzT1ZHUFhQV1gyNE5PIiwibmF0cyI6eyJwdWIiOnt9LCJzdWIiOnt9LCJzdWJzIjotMSwiZGF0YSI6LTEsInBheWxvYWQiOi0xLCJpc3N1Z[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/69f7e478-05b0-4feb-9763-c9682e07c488
        method: GET
      response:
        body: '{"id":"69f7e478-05b0-4feb-9763-c9682e07c488","name":"test-container-trigger-nats","description":"","tags":[],"status":"creating","container_id":"eaf20559-f198-47cf-8687-b0b92363f6ce","destination_config":{"http_path":"/endpoint","http_method":"post"},"source_type":"nats","created_at":"2026-05-05T14:42:31.337471Z","updated_at":"2026-05-05T14:42:31.337471Z","nats_config":{"server_urls":["nats://nats.mnq.fr-par.scaleway.com:4222"],"subject":"TestSubject"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.298382ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABXWWLHQ7JSKQ2VZRZ2DG4ZKLG4FMICQDNBS5CPLVTB3C4CWFAIFEEUF
        method: GET
      response:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","created_at":"2026-05-05T14:42:43.067573Z","updated_at":"2026-05-05T14:42:43.067573Z","id":"ABXWWLHQ7JSKQ2VZRZ2DG4ZKLG4FMICQDNBS5CPLVTB3C4CWFAIFEEUF","name":"tf-nats-account-crazy-moore","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.708413ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-nats-updated","tags":["add","tags"],"destination_config":{"http_path":"/endpoint/has/changed","http_method":"post"},"nats_config":{"server_urls":["nats://nats.mnq.fr-par.scaleway.com:4222"],"subject":"ChangeSubject","credentials_file_content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJVUUMzRDdKTVNIV0YzSE9FTVFCQ1lBSzNJR0hYVEJFREJUMlVWVUdGSEFVM0U0[...]
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/69f7e478-05b0-4feb-9763-c9682e07c488
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"trigger","resource_id":"69f7e478-05b0-4feb-9763-c9682e07c488","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.480023ms
[...]
