---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-pedantic-pike","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:35.900004687Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACWQS4MENMC5DMLRN5VXP2ZQUYJLHF3NM7BXBW4B6PBL74OFHCI3OVX6","name":"tf-nats-account-pedantic-pike","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-22T13:42:35.900004687Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.137042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-vigorous-perlman","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:36.049643672Z","description":"","environment_variables":{},"error_message":null,"id":"78f70c3f-7fc0-4d09-97ef-f614dd32bc32","name":"tf-ns-vigorous-perlman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:36.049643672Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.681542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACWQS4MENMC5DMLRN5VXP2ZQUYJLHF3NM7BXBW4B6PBL74OFHCI3OVX6
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:35.900004Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACWQS4MENMC5DMLRN5VXP2ZQUYJLHF3NM7BXBW4B6PBL74OFHCI3OVX6","name":"tf-nats-account-pedantic-pike","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2025-01-22T13:42:35.900004Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.703792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/78f70c3f-7fc0-4d09-97ef-f614dd32bc32
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:36.049644Z","description":"","environment_variables":{},"error_message":null,"id":"78f70c3f-7fc0-4d09-97ef-f614dd32bc32","name":"tf-ns-vigorous-perlman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:36.049644Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.704125ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"78f70c3f-7fc0-4d09-97ef-f614dd32bc32","name":"tf-co-elegant-hodgkin","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:41.527426629Z","description":"","domain_name":"tfnsvigorousperlmanurthx0v2-tf-co-elegant-hodgkin.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"a87f95a5-5c21-456e-9251-4b438bc574ff","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-elegant-hodgkin","namespace_id":"78f70c3f-7fc0-4d09-97ef-f614dd32bc32","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsvigorousperlmanurthx0v2/tf-co-elegant-hodgkin:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:41.527426629Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.850625ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/a87f95a5-5c21-456e-9251-4b438bc574ff
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:41.527427Z","description":"","domain_name":"tfnsvigorousperlmanurthx0v2-tf-co-elegant-hodgkin.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"a87f95a5-5c21-456e-9251-4b438bc574ff","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-elegant-hodgkin","namespace_id":"78f70c3f-7fc0-4d09-97ef-f614dd32bc32","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsvigorousperlmanurthx0v2/tf-co-elegant-hodgkin:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:41.527427Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.396667ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-nats","container_id":"a87f95a5-5c21-456e-9251-4b438bc574ff","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"ACWQS4MENMC5DMLRN5VXP2ZQUYJLHF3NM7BXBW4B6PBL74OFHCI3OVX6","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"container_id":"a87f95a5-5c21-456e-9251-4b438bc574ff","description":"","error_message":null,"id":"803018ac-d656-4f5d-8e81-560110d6eea7","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ACWQS4MENMC5DMLRN5VXP2ZQUYJLHF3NM7BXBW4B6PBL74OFHCI3OVX6","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.646125ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/803018ac-d656-4f5d-8e81-560110d6eea7
        method: GET
      response:
        body: '{"container_id":"a87f95a5-5c21-456e-9251-4b438bc574ff","description":"","error_message":null,"id":"803018ac-d656-4f5d-8e81-560110d6eea7","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ACWQS4MENMC5DMLRN5VXP2ZQUYJLHF3NM7BXBW4B6PBL74OFHCI3OVX6","mnq_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.82875ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/803018ac-d656-4f5d-8e81-560110d6eea7
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.097458ms
[...]
