---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:31:46.331532Z","description":"","id":"a892113d-791f-446e-a109-72e043e12999","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-02T09:31:46.331532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 710.075458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a892113d-791f-446e-a109-72e043e12999
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:31:46.331532Z","description":"","id":"a892113d-791f-446e-a109-72e043e12999","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-02T09:31:46.331532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.43275ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a892113d-791f-446e-a109-72e043e12999"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:31:47.110780777Z","project_id":"a892113d-791f-446e-a109-72e043e12999","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:31:47.110780777Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.326333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=a892113d-791f-446e-a109-72e043e12999
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:31:47.110780Z","project_id":"a892113d-791f-446e-a109-72e043e12999","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:31:47.110780Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.278167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"a892113d-791f-446e-a109-72e043e12999","name":"tf-sqs-credentials-pedantic-booth","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"0P6UrJA08IYJIajE9uzT","created_at":"2025-09-02T09:31:47.518620625Z","id":"d278b54f-5b18-4522-a086-962f6acebeb3","name":"tf-sqs-credentials-pedantic-booth","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"a892113d-791f-446e-a109-72e043e12999","region":"fr-par","secret_checksum":"82b2569d825e348bb6f670fe282b935d86a2d325","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:31:47.518620625Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.69875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/d278b54f-5b18-4522-a086-962f6acebeb3
        method: GET
      response:
        body: '{"access_key":"0P6UrJA08IYJIajE9uzT","created_at":"2025-09-02T09:31:47.518620Z","id":"d278b54f-5b18-4522-a086-962f6acebeb3","name":"tf-sqs-credentials-pedantic-booth","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"a892113d-791f-446e-a109-72e043e12999","region":"fr-par","secret_checksum":"82b2569d825e348bb6f670fe282b935d86a2d325","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:31:47.518620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.004416ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-cool-williamson","environment_variables":{},"project_id":"a892113d-791f-446e-a109-72e043e12999","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:31:47.977224140Z","description":"","environment_variables":{},"error_message":null,"id":"1bbdce24-d9ef-4104-bc70-acd1c5669480","name":"tf-ns-cool-williamson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"a892113d-791f-446e-a109-72e043e12999","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-02T09:31:47.977224140Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.146385917s
    - id: 8
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MessageRetentionPeriod":"345600","VisibilityTimeout":"30","MaximumMessageSize":"262144"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 73bea0fe-1705-4410-abf1-4d2bc29e3695
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T093147Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-a892113d-791f-446e-a109-72e043e12999/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txa0378ff1-8567-4ac1-8262-0d42edcde095
        status: 200 OK
        code: 200
        duration: 247.930167ms
[...]
    - id: 10
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-a892113d-791f-446e-a109-72e043e12999/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bc0aa7f1-d36d-47f1-99c4-3ea42edb8456
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T093148Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-a892113d-791f-446e-a109-72e043e12999:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txb996df08-d1e4-46b5-b9b2-b4f51aaf37b5
        status: 200 OK
        code: 200
        duration: 89.313417ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/1bbdce24-d9ef-4104-bc70-acd1c5669480
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:31:47.977224Z","description":"","environment_variables":{},"error_message":null,"id":"1bbdce24-d9ef-4104-bc70-acd1c5669480","name":"tf-ns-cool-williamson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"a892113d-791f-446e-a109-72e043e12999","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-09-02T09:31:47.977224Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.475541ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"1bbdce24-d9ef-4104-bc70-acd1c5669480","name":"tf-co-busy-shaw","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-09-02T09:31:54.029902555Z","description":"","domain_name":"tfnscoolwilliamson2albvzj4-tf-co-busy-shaw.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"cee76d2f-fe87-4787-8acd-10c11308e695","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-busy-shaw","namespace_id":"1bbdce24-d9ef-4104-bc70-acd1c5669480","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnscoolwilliamson2albvzj4/tf-co-busy-shaw:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-02T09:31:54.029902555Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 807.973833ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/cee76d2f-fe87-4787-8acd-10c11308e695
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-09-02T09:31:54.029903Z","description":"","domain_name":"tfnscoolwilliamson2albvzj4-tf-co-busy-shaw.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"cee76d2f-fe87-4787-8acd-10c11308e695","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-busy-shaw","namespace_id":"1bbdce24-d9ef-4104-bc70-acd1c5669480","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnscoolwilliamson2albvzj4/tf-co-busy-shaw:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-09-02T09:31:54.029903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.149708ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-sqs","container_id":"cee76d2f-fe87-4787-8acd-10c11308e695","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"a892113d-791f-446e-a109-72e043e12999","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"container_id":"cee76d2f-fe87-4787-8acd-10c11308e695","description":"","error_message":null,"id":"bbbc17c1-986d-4335-a657-3c78b92b697f","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"a892113d-791f-446e-a109-72e043e12999","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.079709ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/bbbc17c1-986d-4335-a657-3c78b92b697f
        method: GET
      response:
        body: '{"container_id":"cee76d2f-fe87-4787-8acd-10c11308e695","description":"","error_message":null,"id":"bbbc17c1-986d-4335-a657-3c78b92b697f","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"a892113d-791f-446e-a109-72e043e12999","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.018208ms
[...]
    - id: 52
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f8aec67a-770b-4593-a575-5b889fbb68c8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T093221Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx6d352f57-f5ab-4d32-81f1-cba3990aae83
        status: 404 Not Found
        code: 404
        duration: 25.95475ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: '{"project_id":"a892113d-791f-446e-a109-72e043e12999"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"a892113d-791f-446e-a109-72e043e12999","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.455958ms
[...]
