---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:40.698610Z","description":"","id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:42:40.698610Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.532958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5f98aa7d-1dfe-4717-af03-14cc08155ba5
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:40.698610Z","description":"","id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-22T13:42:40.698610Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.518042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:41.144868391Z","project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-22T13:42:41.144868391Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.965459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=5f98aa7d-1dfe-4717-af03-14cc08155ba5
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:41.144868Z","project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-22T13:42:41.144868Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.281542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-friendly-mendeleev","environment_variables":{},"project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-22T13:42:41.329145820Z","description":"","environment_variables":{},"error_message":null,"id":"bc1b04e3-8ca4-4419-a9f9-ad1229a28c5d","name":"tf-ns-friendly-mendeleev","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:41.329145820Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.464959ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/bc1b04e3-8ca4-4419-a9f9-ad1229a28c5d
        method: GET
      response:
        body: '{"created_at":"2025-01-22T13:42:41.329146Z","description":"","environment_variables":{},"error_message":null,"id":"bc1b04e3-8ca4-4419-a9f9-ad1229a28c5d","name":"tf-ns-friendly-mendeleev","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-22T13:42:41.329146Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.329792ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","name":"tf-sqs-credentials-relaxed-leavitt","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"nYohbjm4GvLxUg1SBcXa","created_at":"2025-01-22T13:42:41.402069715Z","id":"762dc4f1-c987-43f5-9254-42a0834f3448","name":"tf-sqs-credentials-relaxed-leavitt","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","region":"fr-par","secret_checksum":"f4f4bfb7669d6ce7c10a7e5f38192372f543da66","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T13:42:41.402069715Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.464209ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/762dc4f1-c987-43f5-9254-42a0834f3448
        method: GET
      response:
        body: '{"access_key":"nYohbjm4GvLxUg1SBcXa","created_at":"2025-01-22T13:42:41.402069Z","id":"762dc4f1-c987-43f5-9254-42a0834f3448","name":"tf-sqs-credentials-relaxed-leavitt","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","region":"fr-par","secret_checksum":"f4f4bfb7669d6ce7c10a7e5f38192372f543da66","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T13:42:41.402069Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.830083ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - efe535d8-9918-4e2a-8df7-f6de6162d469
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250122T134241Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-5f98aa7d-1dfe-4717-af03-14cc08155ba5/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx6605a49c-4a6c-4302-8e65-0e21bc0eeb53
        status: 200 OK
        code: 200
        duration: 1.544528084s
[...]
    - id: 11
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","MaximumMessageSize","MessageRetentionPeriod","FifoQueue"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-5f98aa7d-1dfe-4717-af03-14cc08155ba5/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8742a624-1580-482b-bb34-0b59cb61708c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250122T134243Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx033f93ea-21e0-487f-a4f7-23288e5b23cf
        status: 200 OK
        code: 200
        duration: 35.884917ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"bc1b04e3-8ca4-4419-a9f9-ad1229a28c5d","name":"tf-co-hungry-cohen","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:46.887991456Z","description":"","domain_name":"tfnsfriendlymendelee1j68amb5-tf-co-hungry-cohen.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5eddcc10-66d4-4faa-90cb-d8ddbdd4a4fb","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-hungry-cohen","namespace_id":"bc1b04e3-8ca4-4419-a9f9-ad1229a28c5d","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfriendlymendelee1j68amb5/tf-co-hungry-cohen:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:46.887991456Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.082667ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/5eddcc10-66d4-4faa-90cb-d8ddbdd4a4fb
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-22T13:42:46.887991Z","description":"","domain_name":"tfnsfriendlymendelee1j68amb5-tf-co-hungry-cohen.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"5eddcc10-66d4-4faa-90cb-d8ddbdd4a4fb","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-hungry-cohen","namespace_id":"bc1b04e3-8ca4-4419-a9f9-ad1229a28c5d","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfriendlymendelee1j68amb5/tf-co-hungry-cohen:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-22T13:42:46.887991Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.31075ms
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-sqs","container_id":"5eddcc10-66d4-4faa-90cb-d8ddbdd4a4fb","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"container_id":"5eddcc10-66d4-4faa-90cb-d8ddbdd4a4fb","description":"","error_message":null,"id":"59dfffc4-06de-4290-b83c-7e8d420cb5d1","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.16775ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/59dfffc4-06de-4290-b83c-7e8d420cb5d1
        method: GET
      response:
        body: '{"container_id":"5eddcc10-66d4-4faa-90cb-d8ddbdd4a4fb","description":"","error_message":null,"id":"59dfffc4-06de-4290-b83c-7e8d420cb5d1","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.750709ms
[...]
    - id: 52
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 01d54231-acd4-46ef-835a-fb0f655e62e7
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250122T134307Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - txd323595b-b306-4f84-91eb-3ae69e605df5
        status: 404 Not Found
        code: 404
        duration: 27.530458ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"5f98aa7d-1dfe-4717-af03-14cc08155ba5","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.199875ms
[...]
