---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"c670ff07-b5c8-442d-af80-20c84069cd75","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-04-13T14:04:01.289583Z","updated_at":"2026-04-13T14:04:01.289583Z","description":"","qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 839.523542ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/c670ff07-b5c8-442d-af80-20c84069cd75
        method: GET
      response:
        body: '{"id":"c670ff07-b5c8-442d-af80-20c84069cd75","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-04-13T14:04:01.289583Z","updated_at":"2026-04-13T14:04:01.289583Z","description":"","qualification":{"architecture_type":"unknown_architecture_type"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.588875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","region":"fr-par","created_at":"2026-04-13T14:04:01.956018080Z","updated_at":"2026-04-13T14:04:01.956018080Z","status":"enabled","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.902708ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            project_id:
                - c670ff07-b5c8-442d-af80-20c84069cd75
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=c670ff07-b5c8-442d-af80-20c84069cd75
        method: GET
      response:
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","region":"fr-par","created_at":"2026-04-13T14:04:01.956018Z","updated_at":"2026-04-13T14:04:01.956018Z","status":"enabled","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.109459ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","name":"tf-sqs-credentials-nostalgic-ride","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","region":"fr-par","created_at":"2026-04-13T14:04:02.344816240Z","updated_at":"2026-04-13T14:04:02.344816240Z","id":"187b6480-aed8-409c-9caa-d30f2ff55d31","name":"tf-sqs-credentials-nostalgic-ride","access_key":"dYHB5opy6ostEfpDtWMM","secret_key":"A086NMdFRVBlj7xn9RtB6ZrVG3gaJizKJqcAm5xIf9yeb3nFrM7Xjy0k47l0MzN7","secret_checksum":"8e353863f4d43f71ea0e844619ce66409bfdc029","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.487375ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/187b6480-aed8-409c-9caa-d30f2ff55d31
        method: GET
      response:
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","region":"fr-par","created_at":"2026-04-13T14:04:02.344816Z","updated_at":"2026-04-13T14:04:02.344816Z","id":"187b6480-aed8-409c-9caa-d30f2ff55d31","name":"tf-sqs-credentials-nostalgic-ride","access_key":"dYHB5opy6ostEfpDtWMM","secret_key":"","secret_checksum":"8e353863f4d43f71ea0e844619ce66409bfdc029","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.583125ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"VisibilityTimeout":"30","MaximumMessageSize":"262144","MessageRetentionPeriod":"345600"},"QueueName":"TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 79f5084a-9b34-473e-b93b-a61b1985315c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260413T140402Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-c670ff07-b5c8-442d-af80-20c84069cd75/TestQueue"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx1c0605e5-60df-46a4-a637-396d235f110b
        status: 200 OK
        code: 200
        duration: 281.471875ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-c670ff07-b5c8-442d-af80-20c84069cd75/TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 8b79a4b6-de68-4ea0-a75c-0618664b8a8d
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260413T140402Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-c670ff07-b5c8-442d-af80-20c84069cd75:TestQueue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx66949172-c6fe-4f6b-89b8-3b781fbfb416
        status: 200 OK
        code: 200
        duration: 26.201417ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-fervent-feynman","environment_variables":{},"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"053d1443-6ddf-40d1-a08d-dd584b5d4034","name":"tf-ns-fervent-feynman","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2026-04-13T14:04:02.807920Z","updated_at":"2026-04-13T14:04:02.807920Z","vpc_integration_activated":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.03518875s
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/053d1443-6ddf-40d1-a08d-dd584b5d4034
        method: GET
      response:
        body: '{"id":"053d1443-6ddf-40d1-a08d-dd584b5d4034","name":"tf-ns-fervent-feynman","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"tags":[],"created_at":"2026-04-13T14:04:02.807920Z","updated_at":"2026-04-13T14:04:02.807920Z","vpc_integration_activated":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.772542ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"053d1443-6ddf-40d1-a08d-dd584b5d4034","name":"tf-co-keen-leavitt","privacy":"public","registry_image":"nginx:latest","protocol":"http1","port":80,"secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"574a0d7c-944e-486e-9c7c-b6f01807112a","name":"tf-co-keen-leavitt","namespace_id":"053d1443-6ddf-40d1-a08d-dd584b5d4034","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"nginx:latest","max_concurrency":50,"domain_name":"tfnsferventfeynman053d1443-tf-co-keen-leavitt.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2026-04-13T14:04:09.485883Z","updated_at":"2026-04-13T14:04:09.485883Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.597416ms
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/574a0d7c-944e-486e-9c7c-b6f01807112a
        method: GET
      response:
        body: '{"id":"574a0d7c-944e-486e-9c7c-b6f01807112a","name":"tf-co-keen-leavitt","namespace_id":"053d1443-6ddf-40d1-a08d-dd584b5d4034","status":"pending","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":2048,"cpu_limit":1000,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"nginx:latest","max_concurrency":1,"domain_name":"tfnsferventfeynman053d1443-tf-co-keen-leavitt.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":80,"secret_environment_variables":[],"http_option":"enabled","sandbox":"v2","local_storage_limit":1000,"scaling_option":{"concurrent_requests_threshold":50},"created_at":"2026-04-13T14:04:09.485883Z","updated_at":"2026-04-13T14:04:09.485883Z","ready_at":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"tags":[],"private_network_id":null,"command":[],"args":[],"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.850042ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-sqs","container_id":"574a0d7c-944e-486e-9c7c-b6f01807112a","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","mnq_region":"fr-par"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"2cd7e99a-8f52-45dc-bac8-910373565ef2","name":"test-container-trigger-sqs","description":"","input_type":"scw_sqs","status":"pending","error_message":null,"container_id":"574a0d7c-944e-486e-9c7c-b6f01807112a","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","mnq_region":"fr-par","mnq_credential_id":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.65525ms
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/2cd7e99a-8f52-45dc-bac8-910373565ef2
        method: GET
      response:
        body: '{"id":"2cd7e99a-8f52-45dc-bac8-910373565ef2","name":"test-container-trigger-sqs","description":"","input_type":"scw_sqs","status":"pending","error_message":null,"container_id":"574a0d7c-944e-486e-9c7c-b6f01807112a","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","mnq_region":"fr-par","mnq_credential_id":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.4535ms
[...]
    - id: 45
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 5293a144-9d17-4be6-923a-13e637b17cb3
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260413T140434Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |
            {"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx5515b28a-4b04-475f-aaa4-b08affbd8e88
        status: 404 Not Found
        code: 404
        duration: 29.680167ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"project_id":"c670ff07-b5c8-442d-af80-20c84069cd75","region":"fr-par","created_at":null,"updated_at":null,"status":"disabled","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.292375ms
[...]
