---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_container_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"name\":\"tf_tests_container_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:41:12.645484Z\",\"updated_at\":\"2025-09-23T09:41:12.645484Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 621.221408ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/706f8e7e-a414-4e36-a40a-3cedc0bcbe72
    method: GET
  response:
    body: "{\"id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"name\":\"tf_tests_container_trigger_sqs\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:41:12.645484Z\",\"updated_at\":\"2025-09-23T09:41:12.645484Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 910.853868ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T09:41:13.982926862Z\",\"updated_at\":\"2025-09-23T09:41:13.982926862Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 712.320939ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 706f8e7e-a414-4e36-a40a-3cedc0bcbe72
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=706f8e7e-a414-4e36-a40a-3cedc0bcbe72
    method: GET
  response:
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T09:41:13.982926Z\",\"updated_at\":\"2025-09-23T09:41:13.982926Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 925.042588ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-clever-leakey\",\"environment_variables\":{},\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"fa1e20a1-b511-4a0f-837c-d9a8c6db9c15\",\"name\":\"tf-ns-clever-leakey\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-23T09:41:15.090105778Z\",\"updated_at\":\"2025-09-23T09:41:15.090105778Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.638066316s
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"name\":\"tf-sqs-credentials-vigorous-noether\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T09:41:15.709663512Z\",\"updated_at\":\"2025-09-23T09:41:15.709663512Z\",\"id\":\"8c6f1bcc-7ff0-4073-b15c-a4a5a9d37603\",\"name\":\"tf-sqs-credentials-vigorous-noether\",\"access_key\":\"7pOKgXnNGwDvrqk0glZ1\",\"secret_key\":\"JKssNTGTPWMtaEWoCIrhMJWiFQ0vOsTI5YoepRtHdv4kM0LGNlqSTK1XLvwNcF0w\",\"secret_checksum\":\"f22b2cd7e3e9a7c037d435640051b2c29abf4a2b\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 591.580163ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/fa1e20a1-b511-4a0f-837c-d9a8c6db9c15
    method: GET
  response:
    body: "{\"id\":\"fa1e20a1-b511-4a0f-837c-d9a8c6db9c15\",\"name\":\"tf-ns-clever-leakey\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-23T09:41:15.090106Z\",\"updated_at\":\"2025-09-23T09:41:15.090106Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 608.651143ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/8c6f1bcc-7ff0-4073-b15c-a4a5a9d37603
    method: GET
  response:
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T09:41:15.709663Z\",\"updated_at\":\"2025-09-23T09:41:15.709663Z\",\"id\":\"8c6f1bcc-7ff0-4073-b15c-a4a5a9d37603\",\"name\":\"tf-sqs-credentials-vigorous-noether\",\"access_key\":\"7pOKgXnNGwDvrqk0glZ1\",\"secret_key\":\"\",\"secret_checksum\":\"f22b2cd7e3e9a7c037d435640051b2c29abf4a2b\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 210.130609ms
[...]
- id: 9
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"VisibilityTimeout\":\"30\",\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\"},\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - a952de0d-84c9-401c-9695-78c28f0edd68
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T094117Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-706f8e7e-a414-4e36-a40a-3cedc0bcbe72/TestQueue\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx042fc588-64f7-4406-95e8-f9eadd4d70d2
    status: 200 OK
    code: 200
    duration: 612.120032ms
[...]
- id: 11
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"RedrivePolicy\",\"QueueArn\",\"MaximumMessageSize\",\"MessageRetentionPeriod\",\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\",\"VisibilityTimeout\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-706f8e7e-a414-4e36-a40a-3cedc0bcbe72/TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 6c673447-5d45-495a-802b-8586ba2bc084
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T094117Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"QueueArn\":\"arn:scw:sqs:fr-par:project-706f8e7e-a414-4e36-a40a-3cedc0bcbe72:TestQueue\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txa5f10884-8fe6-48af-b79e-060f75bb106d
    status: 200 OK
    code: 200
    duration: 30.60791ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"fa1e20a1-b511-4a0f-837c-d9a8c6db9c15\",\"name\":\"tf-co-funny-poincare\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"1968230e-2d8b-4ec5-9b77-f67af49f8847\",\"name\":\"tf-co-funny-poincare\",\"namespace_id\":\"fa1e20a1-b511-4a0f-837c-d9a8c6db9c15\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscleverleakeyi7ht4hrz/tf-co-funny-poincare:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscleverleakeyi7ht4hrz-tf-co-funny-poincare.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-23T09:41:28.781447465Z\",\"updated_at\":\"2025-09-23T09:41:28.781447465Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.132262268s
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/1968230e-2d8b-4ec5-9b77-f67af49f8847
    method: GET
  response:
    body: "{\"id\":\"1968230e-2d8b-4ec5-9b77-f67af49f8847\",\"name\":\"tf-co-funny-poincare\",\"namespace_id\":\"fa1e20a1-b511-4a0f-837c-d9a8c6db9c15\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnscleverleakeyi7ht4hrz/tf-co-funny-poincare:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnscleverleakeyi7ht4hrz-tf-co-funny-poincare.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-23T09:41:28.781447Z\",\"updated_at\":\"2025-09-23T09:41:28.781447Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 348.675661ms
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-container-trigger-sqs\",\"container_id\":\"1968230e-2d8b-4ec5-9b77-f67af49f8847\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"mnq_region\":\"fr-par\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: "{\"id\":\"7a7a8a17-4d6c-4f07-a302-cea60309b6c7\",\"name\":\"test-container-trigger-sqs\",\"description\":\"\",\"input_type\":\"scw_sqs\",\"status\":\"creating\",\"error_message\":null,\"container_id\":\"1968230e-2d8b-4ec5-9b77-f67af49f8847\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 752.863431ms
- id: 19
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/7a7a8a17-4d6c-4f07-a302-cea60309b6c7
    method: GET
  response:
    body: "{\"id\":\"7a7a8a17-4d6c-4f07-a302-cea60309b6c7\",\"name\":\"test-container-trigger-sqs\",\"description\":\"\",\"input_type\":\"scw_sqs\",\"status\":\"creating\",\"error_message\":null,\"container_id\":\"1968230e-2d8b-4ec5-9b77-f67af49f8847\",\"scw_sqs_config\":{\"queue\":\"TestQueue\",\"mnq_project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 172.059636ms
[...]
- id: 44
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"TestQueue\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - eb2b708b-58ea-4369-897d-11812220c078
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T094151Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"TestQueue\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx082dc43d-48f3-475a-8c8a-7e2145fd29de
    status: 404 Not Found
    code: 404
    duration: 23.147703ms
[...]
- id: 55
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"706f8e7e-a414-4e36-a40a-3cedc0bcbe72\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 261.775151ms
[...]
