---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-nats-account-strange-wright\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:55:58.208707774Z\",\"updated_at\":\"2025-09-01T15:55:58.208707774Z\",\"id\":\"ACWF6ZYXNZLXJOTCKGCLOXLRLWPBXZQSDAORJFJ7DEQKEGXPPE3LKAFV\",\"name\":\"tf-nats-account-strange-wright\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 215.5699ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACWF6ZYXNZLXJOTCKGCLOXLRLWPBXZQSDAORJFJ7DEQKEGXPPE3LKAFV
    method: GET
  response:
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"region\":\"fr-par\",\"created_at\":\"2025-09-01T15:55:58.208707Z\",\"updated_at\":\"2025-09-01T15:55:58.208707Z\",\"id\":\"ACWF6ZYXNZLXJOTCKGCLOXLRLWPBXZQSDAORJFJ7DEQKEGXPPE3LKAFV\",\"name\":\"tf-nats-account-strange-wright\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 79.515077ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-goofy-wu\",\"environment_variables\":{},\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"12fcdeb5-af6a-405f-b6c9-a165e801c699\",\"name\":\"tf-ns-goofy-wu\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:56:05.238077169Z\",\"updated_at\":\"2025-09-01T15:56:05.238077169Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 7.149799138s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/12fcdeb5-af6a-405f-b6c9-a165e801c699
    method: GET
  response:
    body: "{\"id\":\"12fcdeb5-af6a-405f-b6c9-a165e801c699\",\"name\":\"tf-ns-goofy-wu\",\"environment_variables\":{},\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"status\":\"pending\",\"registry_namespace_id\":\"\",\"error_message\":null,\"registry_endpoint\":\"\",\"description\":\"\",\"secret_environment_variables\":[],\"tags\":[],\"created_at\":\"2025-09-01T15:56:05.238077Z\",\"updated_at\":\"2025-09-01T15:56:05.238077Z\",\"vpc_integration_activated\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.553223ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"12fcdeb5-af6a-405f-b6c9-a165e801c699\",\"name\":\"tf-co-recursing-ritchie\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"2984f5b4-a5da-4a1d-9272-4c0d9f3a90d8\",\"name\":\"tf-co-recursing-ritchie\",\"namespace_id\":\"12fcdeb5-af6a-405f-b6c9-a165e801c699\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgoofywupzwgjypb/tf-co-recursing-ritchie:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsgoofywupzwgjypb-tf-co-recursing-ritchie.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:56:12.969021235Z\",\"updated_at\":\"2025-09-01T15:56:12.969021235Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.350056734s
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/2984f5b4-a5da-4a1d-9272-4c0d9f3a90d8
    method: GET
  response:
    body: "{\"id\":\"2984f5b4-a5da-4a1d-9272-4c0d9f3a90d8\",\"name\":\"tf-co-recursing-ritchie\",\"namespace_id\":\"12fcdeb5-af6a-405f-b6c9-a165e801c699\",\"status\":\"created\",\"environment_variables\":{},\"min_scale\":0,\"max_scale\":5,\"memory_limit\":2048,\"cpu_limit\":1000,\"timeout\":\"300s\",\"error_message\":null,\"privacy\":\"public\",\"description\":\"\",\"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnsgoofywupzwgjypb/tf-co-recursing-ritchie:latest\",\"max_concurrency\":50,\"domain_name\":\"tfnsgoofywupzwgjypb-tf-co-recursing-ritchie.functions.fnc.fr-par.scw.cloud\",\"protocol\":\"http1\",\"port\":8080,\"secret_environment_variables\":[],\"http_option\":\"enabled\",\"sandbox\":\"v2\",\"local_storage_limit\":1000,\"scaling_option\":{\"concurrent_requests_threshold\":50},\"created_at\":\"2025-09-01T15:56:12.969021Z\",\"updated_at\":\"2025-09-01T15:56:12.969021Z\",\"ready_at\":null,\"health_check\":{\"failure_threshold\":30,\"interval\":\"10s\",\"tcp\":{}},\"tags\":[],\"private_network_id\":null,\"command\":[],\"args\":[],\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.203125ms
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-container-trigger-nats\",\"container_id\":\"2984f5b4-a5da-4a1d-9272-4c0d9f3a90d8\",\"scw_nats_config\":{\"subject\":\"TestSubject\",\"mnq_nats_account_id\":\"ACWF6ZYXNZLXJOTCKGCLOXLRLWPBXZQSDAORJFJ7DEQKEGXPPE3LKAFV\",\"mnq_project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"mnq_region\":\"fr-par\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: "{\"id\":\"95fe0a16-c7ee-424e-8ed7-026012139f31\",\"name\":\"test-container-trigger-nats\",\"description\":\"\",\"input_type\":\"scw_nats\",\"status\":\"creating\",\"error_message\":null,\"container_id\":\"2984f5b4-a5da-4a1d-9272-4c0d9f3a90d8\",\"scw_nats_config\":{\"subject\":\"TestSubject\",\"mnq_project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null,\"mnq_nats_account_id\":\"ACWF6ZYXNZLXJOTCKGCLOXLRLWPBXZQSDAORJFJ7DEQKEGXPPE3LKAFV\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.009593202s
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/95fe0a16-c7ee-424e-8ed7-026012139f31
    method: GET
  response:
    body: "{\"id\":\"95fe0a16-c7ee-424e-8ed7-026012139f31\",\"name\":\"test-container-trigger-nats\",\"description\":\"\",\"input_type\":\"scw_nats\",\"status\":\"creating\",\"error_message\":null,\"container_id\":\"2984f5b4-a5da-4a1d-9272-4c0d9f3a90d8\",\"scw_nats_config\":{\"subject\":\"TestSubject\",\"mnq_project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"mnq_region\":\"fr-par\",\"mnq_credential_id\":null,\"mnq_nats_account_id\":\"ACWF6ZYXNZLXJOTCKGCLOXLRLWPBXZQSDAORJFJ7DEQKEGXPPE3LKAFV\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.334981ms
[...]
- id: 37
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/95fe0a16-c7ee-424e-8ed7-026012139f31
    method: GET
  response:
    body: "{\"message\":\"trigger does not exist\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.373338ms
[...]
