---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-nats-account-lucid-thompson\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"region\":\"fr-par\", \"created_at\":\"2025-10-31T16:31:00.251060245Z\", \"updated_at\":\"2025-10-31T16:31:00.251060245Z\", \"id\":\"AD2AVLPJ3U5EXDNPZFZUKRAZV5UPOLT53V5XL6HHM6IXKUQ47GK6ADXS\", \"name\":\"tf-nats-account-lucid-thompson\", \"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 269.636001ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AD2AVLPJ3U5EXDNPZFZUKRAZV5UPOLT53V5XL6HHM6IXKUQ47GK6ADXS
    method: GET
  response:
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"region\":\"fr-par\", \"created_at\":\"2025-10-31T16:31:00.251060Z\", \"updated_at\":\"2025-10-31T16:31:00.251060Z\", \"id\":\"AD2AVLPJ3U5EXDNPZFZUKRAZV5UPOLT53V5XL6HHM6IXKUQ47GK6ADXS\", \"name\":\"tf-nats-account-lucid-thompson\", \"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.991651ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-ns-tender-nightingale\",\"environment_variables\":{},\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"secret_environment_variables\":[],\"tags\":null,\"activate_vpc_integration\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: "{\"id\":\"6ddec73c-158d-4060-87b6-f1c4ce6e91b9\", \"name\":\"tf-ns-tender-nightingale\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.268790875Z\", \"updated_at\":\"2025-10-31T16:31:05.268790875Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 5.24022575s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/6ddec73c-158d-4060-87b6-f1c4ce6e91b9
    method: GET
  response:
    body: "{\"id\":\"6ddec73c-158d-4060-87b6-f1c4ce6e91b9\", \"name\":\"tf-ns-tender-nightingale\", \"environment_variables\":{}, \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"status\":\"pending\", \"registry_namespace_id\":\"\", \"error_message\":null, \"registry_endpoint\":\"\", \"description\":\"\", \"secret_environment_variables\":[], \"tags\":[], \"created_at\":\"2025-10-31T16:31:05.268791Z\", \"updated_at\":\"2025-10-31T16:31:05.268791Z\", \"vpc_integration_activated\":true, \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.993848ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"namespace_id\":\"6ddec73c-158d-4060-87b6-f1c4ce6e91b9\",\"name\":\"tf-co-infallible-curie\",\"privacy\":\"public\",\"protocol\":\"http1\",\"secret_environment_variables\":null,\"http_option\":\"enabled\",\"sandbox\":\"unknown_sandbox\",\"tags\":null,\"command\":null,\"args\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: "{\"id\":\"9d72fdde-fbf1-4e08-8ffc-da4216869bc5\", \"name\":\"tf-co-infallible-curie\", \"namespace_id\":\"6ddec73c-158d-4060-87b6-f1c4ce6e91b9\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnstendernightingalfjqxclft/tf-co-infallible-curie:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnstendernightingalfjqxclft-tf-co-infallible-curie.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.888353694Z\", \"updated_at\":\"2025-10-31T16:31:16.888353694Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.144669182s
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/9d72fdde-fbf1-4e08-8ffc-da4216869bc5
    method: GET
  response:
    body: "{\"id\":\"9d72fdde-fbf1-4e08-8ffc-da4216869bc5\", \"name\":\"tf-co-infallible-curie\", \"namespace_id\":\"6ddec73c-158d-4060-87b6-f1c4ce6e91b9\", \"status\":\"created\", \"environment_variables\":{}, \"min_scale\":0, \"max_scale\":5, \"memory_limit\":2048, \"cpu_limit\":1000, \"timeout\":\"300s\", \"error_message\":null, \"privacy\":\"public\", \"description\":\"\", \"registry_image\":\"rg.fr-par.scw.cloud/funcscwtfnstendernightingalfjqxclft/tf-co-infallible-curie:latest\", \"max_concurrency\":50, \"domain_name\":\"tfnstendernightingalfjqxclft-tf-co-infallible-curie.functions.fnc.fr-par.scw.cloud\", \"protocol\":\"http1\", \"port\":8080, \"secret_environment_variables\":[], \"http_option\":\"enabled\", \"sandbox\":\"v2\", \"local_storage_limit\":1000, \"scaling_option\":{\"concurrent_requests_threshold\":50}, \"created_at\":\"2025-10-31T16:31:16.888354Z\", \"updated_at\":\"2025-10-31T16:31:16.888354Z\", \"ready_at\":null, \"health_check\":{\"failure_threshold\":30, \"interval\":\"10s\", \"tcp\":{}}, \"tags\":[], \"private_network_id\":null, \"command\":[], \"args\":[], \"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 148.37168ms
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-container-trigger-nats\",\"container_id\":\"9d72fdde-fbf1-4e08-8ffc-da4216869bc5\",\"scw_nats_config\":{\"subject\":\"TestSubject\",\"mnq_nats_account_id\":\"AD2AVLPJ3U5EXDNPZFZUKRAZV5UPOLT53V5XL6HHM6IXKUQ47GK6ADXS\",\"mnq_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"mnq_region\":\"fr-par\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: "{\"id\":\"1a2c7ae1-a3d4-4e4d-9486-70ac00e89c49\", \"name\":\"test-container-trigger-nats\", \"description\":\"\", \"input_type\":\"scw_nats\", \"status\":\"creating\", \"error_message\":null, \"container_id\":\"9d72fdde-fbf1-4e08-8ffc-da4216869bc5\", \"scw_nats_config\":{\"subject\":\"TestSubject\", \"mnq_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"mnq_region\":\"fr-par\", \"mnq_credential_id\":null, \"mnq_nats_account_id\":\"AD2AVLPJ3U5EXDNPZFZUKRAZV5UPOLT53V5XL6HHM6IXKUQ47GK6ADXS\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 361.806931ms
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/1a2c7ae1-a3d4-4e4d-9486-70ac00e89c49
    method: GET
  response:
    body: "{\"id\":\"1a2c7ae1-a3d4-4e4d-9486-70ac00e89c49\", \"name\":\"test-container-trigger-nats\", \"description\":\"\", \"input_type\":\"scw_nats\", \"status\":\"creating\", \"error_message\":null, \"container_id\":\"9d72fdde-fbf1-4e08-8ffc-da4216869bc5\", \"scw_nats_config\":{\"subject\":\"TestSubject\", \"mnq_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"mnq_region\":\"fr-par\", \"mnq_credential_id\":null, \"mnq_nats_account_id\":\"AD2AVLPJ3U5EXDNPZFZUKRAZV5UPOLT53V5XL6HHM6IXKUQ47GK6ADXS\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.02398ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/1a2c7ae1-a3d4-4e4d-9486-70ac00e89c49
    method: GET
  response:
    body: "{\"message\":\"trigger does not exist\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 32.089802ms
[...]
