---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:48.585732Z","description":"","id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-24T15:37:48.585732Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 477.129083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f450679c-9a35-4b8e-a910-f2dd97e60f10
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:48.585732Z","description":"","id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","name":"tf_tests_container_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-01-24T15:37:48.585732Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.119292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.062843571Z","project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-24T15:37:49.062843571Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.866958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=f450679c-9a35-4b8e-a910-f2dd97e60f10
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.062843Z","project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-01-24T15:37:49.062843Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.204875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","name":"tf-sqs-credentials-busy-cori","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"aPESevK1s7NaoiJKQZIF","created_at":"2025-01-24T15:37:49.341192860Z","id":"90077722-0c4a-4b09-b1d0-a3b1cdf2369e","name":"tf-sqs-credentials-busy-cori","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","region":"fr-par","secret_checksum":"9bdf90f793f77ea9b556728a7116d6dec89359ab","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-24T15:37:49.341192860Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.231708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/90077722-0c4a-4b09-b1d0-a3b1cdf2369e
        method: GET
      response:
        body: '{"access_key":"aPESevK1s7NaoiJKQZIF","created_at":"2025-01-24T15:37:49.341192Z","id":"90077722-0c4a-4b09-b1d0-a3b1cdf2369e","name":"tf-sqs-credentials-busy-cori","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","region":"fr-par","secret_checksum":"9bdf90f793f77ea9b556728a7116d6dec89359ab","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-24T15:37:49.341192Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.947ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-funny-dewdney","environment_variables":{},"project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","secret_environment_variables":[],"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-01-24T15:37:49.458163832Z","description":"","environment_variables":{},"error_message":null,"id":"5dd58b8d-e67f-481c-abf4-863baae060c4","name":"tf-ns-funny-dewdney","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.458163832Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.835042ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/5dd58b8d-e67f-481c-abf4-863baae060c4
        method: GET
      response:
        body: '{"created_at":"2025-01-24T15:37:49.458164Z","description":"","environment_variables":{},"error_message":null,"id":"5dd58b8d-e67f-481c-abf4-863baae060c4","name":"tf-ns-funny-dewdney","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-01-24T15:37:49.458164Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.51025ms
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 75f3f843-3383-4fd1-aad1-a2cbeeb86fba
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250124T153749Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-f450679c-9a35-4b8e-a910-f2dd97e60f10/TestQueue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txcb6bd4df-f177-46b8-8a09-69cb2bb7ea02
        status: 200 OK
        code: 200
        duration: 483.867209ms
[...]
    - id: 11
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-f450679c-9a35-4b8e-a910-f2dd97e60f10/TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9a1a3dcf-94bf-42e5-a332-ea5e179a9a35
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250124T153750Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx7b534712-3565-435c-a1ab-739d327bc22e
        status: 200 OK
        code: 200
        duration: 35.718833ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"5dd58b8d-e67f-481c-abf4-863baae060c4","name":"tf-co-ecstatic-grothendieck","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.757753029Z","description":"","domain_name":"tfnsfunnydewdneym4jo1cgp-tf-co-ecstatic-grothendieck.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"0ed78a5a-133b-4a7f-a1a1-48de372de485","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-ecstatic-grothendieck","namespace_id":"5dd58b8d-e67f-481c-abf4-863baae060c4","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfunnydewdneym4jo1cgp/tf-co-ecstatic-grothendieck:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.757753029Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 555.521041ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/0ed78a5a-133b-4a7f-a1a1-48de372de485
        method: GET
      response:
        body: '{"cpu_limit":1000,"created_at":"2025-01-24T15:38:20.757753Z","description":"","domain_name":"tfnsfunnydewdneym4jo1cgp-tf-co-ecstatic-grothendieck.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"0ed78a5a-133b-4a7f-a1a1-48de372de485","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-ecstatic-grothendieck","namespace_id":"5dd58b8d-e67f-481c-abf4-863baae060c4","port":8080,"privacy":"public","protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsfunnydewdneym4jo1cgp/tf-co-ecstatic-grothendieck:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","timeout":"300s","updated_at":"2025-01-24T15:38:20.757753Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.701667ms
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-sqs","container_id":"0ed78a5a-133b-4a7f-a1a1-48de372de485","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"container_id":"0ed78a5a-133b-4a7f-a1a1-48de372de485","description":"","error_message":null,"id":"8f59c57b-e90c-49bc-9572-bc08ad70b6a2","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.60725ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/8f59c57b-e90c-49bc-9572-bc08ad70b6a2
        method: GET
      response:
        body: '{"container_id":"0ed78a5a-133b-4a7f-a1a1-48de372de485","description":"","error_message":null,"id":"8f59c57b-e90c-49bc-9572-bc08ad70b6a2","input_type":"scw_sqs","name":"test-container-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.118125ms
[...]
    - id: 56
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"TestQueue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0263e024-655f-47f6-8f84-a36c35ee9351
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250124T153840Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"TestQueue\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - txf220a68b-3ef3-40dc-ac81-32880fbde649
        status: 404 Not Found
        code: 404
        duration: 19.484625ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        body: '{"project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"f450679c-9a35-4b8e-a910-f2dd97e60f10","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.921ms
[...]
