---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-nats-account-vibrant-beaver","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:01.829958102Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABJMP6QEPGMC33K3SPDM6EKFDOCNUFH7FSUJGZCDGU5UNKOH2AFEMHFR","name":"tf-nats-account-vibrant-beaver","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","updated_at":"2025-08-27T15:06:01.829958102Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.81685ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABJMP6QEPGMC33K3SPDM6EKFDOCNUFH7FSUJGZCDGU5UNKOH2AFEMHFR
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:01.829958Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABJMP6QEPGMC33K3SPDM6EKFDOCNUFH7FSUJGZCDGU5UNKOH2AFEMHFR","name":"tf-nats-account-vibrant-beaver","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","updated_at":"2025-08-27T15:06:01.829958Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.202205ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ns-reverent-hamilton","environment_variables":{},"project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","secret_environment_variables":[],"tags":null,"activate_vpc_integration":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"created_at":"2025-08-27T15:06:03.177790196Z","description":"","environment_variables":{},"error_message":null,"id":"786e9702-5c8d-4eec-aaef-1407003b8ac8","name":"tf-ns-reverent-hamilton","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:03.177790196Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.492783616s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/786e9702-5c8d-4eec-aaef-1407003b8ac8
        method: GET
      response:
        body: '{"created_at":"2025-08-27T15:06:03.177790Z","description":"","environment_variables":{},"error_message":null,"id":"786e9702-5c8d-4eec-aaef-1407003b8ac8","name":"tf-ns-reverent-hamilton","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending","tags":[],"updated_at":"2025-08-27T15:06:03.177790Z","vpc_integration_activated":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.811178ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"786e9702-5c8d-4eec-aaef-1407003b8ac8","name":"tf-co-pensive-mirzakhani","privacy":"public","protocol":"http1","secret_environment_variables":null,"http_option":"enabled","sandbox":"unknown_sandbox","tags":null,"command":null,"args":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
        method: POST
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:09.663036959Z","description":"","domain_name":"tfnsreverenthamiltonttyhqt3d-tf-co-pensive-mirzakhani.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"0ac2c960-6aed-4d4e-9bd3-79b08029f7ca","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-pensive-mirzakhani","namespace_id":"786e9702-5c8d-4eec-aaef-1407003b8ac8","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsreverenthamiltonttyhqt3d/tf-co-pensive-mirzakhani:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:09.663036959Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.26857962s
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/0ac2c960-6aed-4d4e-9bd3-79b08029f7ca
        method: GET
      response:
        body: '{"args":[],"command":[],"cpu_limit":1000,"created_at":"2025-08-27T15:06:09.663037Z","description":"","domain_name":"tfnsreverenthamiltonttyhqt3d-tf-co-pensive-mirzakhani.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"health_check":{"failure_threshold":30,"interval":"10s","tcp":{}},"http_option":"enabled","id":"0ac2c960-6aed-4d4e-9bd3-79b08029f7ca","local_storage_limit":1000,"max_concurrency":50,"max_scale":5,"memory_limit":2048,"min_scale":0,"name":"tf-co-pensive-mirzakhani","namespace_id":"786e9702-5c8d-4eec-aaef-1407003b8ac8","port":8080,"privacy":"public","private_network_id":null,"protocol":"http1","ready_at":null,"region":"fr-par","registry_image":"rg.fr-par.scw.cloud/funcscwtfnsreverenthamiltonttyhqt3d/tf-co-pensive-mirzakhani:latest","sandbox":"v2","scaling_option":{"concurrent_requests_threshold":50},"secret_environment_variables":[],"status":"created","tags":[],"timeout":"300s","updated_at":"2025-08-27T15:06:09.663037Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.114721ms
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"name":"test-container-trigger-nats","container_id":"0ac2c960-6aed-4d4e-9bd3-79b08029f7ca","scw_nats_config":{"subject":"TestSubject","mnq_nats_account_id":"ABJMP6QEPGMC33K3SPDM6EKFDOCNUFH7FSUJGZCDGU5UNKOH2AFEMHFR","mnq_project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","mnq_region":"fr-par"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"container_id":"0ac2c960-6aed-4d4e-9bd3-79b08029f7ca","description":"","error_message":null,"id":"e9b9d7b6-7df0-4431-ba74-87461bd71d38","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ABJMP6QEPGMC33K3SPDM6EKFDOCNUFH7FSUJGZCDGU5UNKOH2AFEMHFR","mnq_project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.617459ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/e9b9d7b6-7df0-4431-ba74-87461bd71d38
        method: GET
      response:
        body: '{"container_id":"0ac2c960-6aed-4d4e-9bd3-79b08029f7ca","description":"","error_message":null,"id":"e9b9d7b6-7df0-4431-ba74-87461bd71d38","input_type":"scw_nats","name":"test-container-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_nats_account_id":"ABJMP6QEPGMC33K3SPDM6EKFDOCNUFH7FSUJGZCDGU5UNKOH2AFEMHFR","mnq_project_id":"d03c0af1-fec9-44aa-a12c-54cb13072778","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.505579ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/triggers/e9b9d7b6-7df0-4431-ba74-87461bd71d38
        method: GET
      response:
        body: '{"message":"trigger does not exist"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.672107ms
[...]
