---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-acctest-trigger-cron","environment_variables":{},"secret_environment_variables":{},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces
        method: POST
      response:
        body: '{"id":"0b4446fe-91cb-4f5c-b4a3-7db636e8f5a1","name":"tf-acctest-trigger-cron","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:22.355698Z","updated_at":"2026-05-05T14:42:22.355698Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 12.855138267s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/namespaces/0b4446fe-91cb-4f5c-b4a3-7db636e8f5a1
        method: GET
      response:
        body: '{"id":"0b4446fe-91cb-4f5c-b4a3-7db636e8f5a1","name":"tf-acctest-trigger-cron","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","status":"creating","environment_variables":{},"secret_environment_variables":{},"tags":[],"created_at":"2026-05-05T14:42:22.355698Z","updated_at":"2026-05-05T14:42:22.355698Z","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.014468ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"namespace_id":"0b4446fe-91cb-4f5c-b4a3-7db636e8f5a1","name":"tf-co-strange-elion","environment_variables":null,"secret_environment_variables":null,"privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"sandbox":"v2","tags":null,"command":null,"args":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers
        method: POST
      response:
        body: '{"id":"9001700a-da3d-4d72-8ed0-53eb40ec2216","name":"tf-co-strange-elion","namespace_id":"0b4446fe-91cb-4f5c-b4a3-7db636e8f5a1","description":"","status":"creating","created_at":"2026-05-05T14:42:30.689999Z","updated_at":"2026-05-05T14:42:30.689999Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggercron0b4446fe-tf-co-strange-elion.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.645514ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9001700a-da3d-4d72-8ed0-53eb40ec2216
        method: GET
      response:
        body: '{"id":"9001700a-da3d-4d72-8ed0-53eb40ec2216","name":"tf-co-strange-elion","namespace_id":"0b4446fe-91cb-4f5c-b4a3-7db636e8f5a1","description":"","status":"creating","created_at":"2026-05-05T14:42:30.689999Z","updated_at":"2026-05-05T14:42:30.689999Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggercron0b4446fe-tf-co-strange-elion.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.427226ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/containers/9001700a-da3d-4d72-8ed0-53eb40ec2216
        method: GET
      response:
        body: '{"id":"9001700a-da3d-4d72-8ed0-53eb40ec2216","name":"tf-co-strange-elion","namespace_id":"0b4446fe-91cb-4f5c-b4a3-7db636e8f5a1","description":"","status":"ready","error_message":"","created_at":"2026-05-05T14:42:30.689999Z","updated_at":"2026-05-05T14:42:49Z","min_scale":0,"max_scale":5,"memory_limit_bytes":2048000000,"mvcpu_limit":1000,"timeout":"300s","privacy":"private","image":"nginx:1.29.4-alpine","protocol":"http1","port":80,"https_connections_only":false,"sandbox":"v2","local_storage_limit_bytes":1000000000,"scaling_option":{"concurrent_requests_threshold":50},"tags":[],"command":[],"args":[],"environment_variables":{},"public_endpoint":"https://tfacctesttriggercron0b4446fe-tf-co-strange-elion.functions.fnc.fr-par.scw.cloud","liveness_probe":{"failure_threshold":30,"interval":"10s","timeout":"1s","tcp":{}},"startup_probe":null,"secret_environment_variables":{},"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.480763ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"container_id":"9001700a-da3d-4d72-8ed0-53eb40ec2216","name":"test-container-trigger-cron","tags":["test","cron","tags"],"destination_config":{"http_path":"/path","http_method":"get"},"cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"{\"message\": \"This is the content to send to the container.\"}","headers":{"Content-Type":"application/json"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers
        method: POST
      response:
        body: '{"id":"8f5d9521-e950-41e0-b980-b85131050aff","name":"test-container-trigger-cron","description":"","tags":["test","cron","tags"],"status":"creating","container_id":"9001700a-da3d-4d72-8ed0-53eb40ec2216","destination_config":{"http_path":"/path","http_method":"get"},"source_type":"cron","created_at":"2026-05-05T14:42:51.232279Z","updated_at":"2026-05-05T14:42:51.232279Z","cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"{\"message\": \"This is the content to send to the container.\"}","headers":{"Content-Type":"application/json"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.987588ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/8f5d9521-e950-41e0-b980-b85131050aff
        method: GET
      response:
        body: '{"id":"8f5d9521-e950-41e0-b980-b85131050aff","name":"test-container-trigger-cron","description":"","tags":["test","cron","tags"],"status":"creating","container_id":"9001700a-da3d-4d72-8ed0-53eb40ec2216","destination_config":{"http_path":"/path","http_method":"get"},"source_type":"cron","created_at":"2026-05-05T14:42:51.232279Z","updated_at":"2026-05-05T14:42:51.232279Z","cron_config":{"schedule":"5 4 1 * *","timezone":"Europe/Paris","body":"{\"message\": \"This is the content to send to the container.\"}","headers":{"Content-Type":"application/json"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.501141ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"description":"","tags":["test"],"destination_config":{"http_path":"/path-has-changed","http_method":"delete"},"cron_config":{"schedule":"*/5 * * * SUN","timezone":"Asia/Seoul","body":"","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/8f5d9521-e950-41e0-b980-b85131050aff
        method: PATCH
      response:
        body: '{"id":"8f5d9521-e950-41e0-b980-b85131050aff","name":"test-container-trigger-cron","description":"","tags":["test"],"status":"updating","container_id":"9001700a-da3d-4d72-8ed0-53eb40ec2216","destination_config":{"http_path":"/path-has-changed","http_method":"delete"},"source_type":"cron","created_at":"2026-05-05T14:42:51.232279Z","updated_at":"2026-05-05T14:43:04.003710Z","cron_config":{"schedule":"*/5 * * * SUN","timezone":"Asia/Seoul","body":"","headers":{}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.821913ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/containers/v1/regions/fr-par/triggers/8f5d9521-e950-41e0-b980-b85131050aff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"trigger","resource_id":"8f5d9521-e950-41e0-b980-b85131050aff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.131201ms
[...]
