---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"b6731e09-3813-44ff-bd00-dcf45846d0fb", "name":"tf_tests_datalabs_ds_basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.781768Z", "updated_at":"2026-06-10T04:21:49.781768Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 498.345208ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b6731e09-3813-44ff-bd00-dcf45846d0fb
        method: GET
      response:
        body: '{"id":"b6731e09-3813-44ff-bd00-dcf45846d0fb", "name":"tf_tests_datalabs_ds_basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.781768Z", "updated_at":"2026-06-10T04:21:49.781768Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.039917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-quirky-golick","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"b6731e09-3813-44ff-bd00-dcf45846d0fb","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"03936d9d-d395-497b-b6c4-793c4ce71816", "name":"tf-pn-quirky-golick", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.711240Z", "updated_at":"2026-06-10T04:21:51.711240Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"18769af6-bc14-4a5e-9d53-9818b5604b58", "created_at":"2026-06-10T04:21:51.711240Z", "updated_at":"2026-06-10T04:21:51.711240Z", "subnet":"172.30.28.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"03936d9d-d395-497b-b6c4-793c4ce71816", "vpc_id":"b6731e09-3813-44ff-bd00-dcf45846d0fb"}, {"id":"fc24f705-8fdd-4e33-bd89-00eb8aeed1e8", "created_at":"2026-06-10T04:21:51.711240Z", "updated_at":"2026-06-10T04:21:51.711240Z", "subnet":"fd5f:519c:6d46:1ca3::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"03936d9d-d395-497b-b6c4-793c4ce71816", "vpc_id":"b6731e09-3813-44ff-bd00-dcf45846d0fb"}], "vpc_id":"b6731e09-3813-44ff-bd00-dcf45846d0fb", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.480175584s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/03936d9d-d395-497b-b6c4-793c4ce71816
        method: GET
      response:
        body: '{"id":"03936d9d-d395-497b-b6c4-793c4ce71816", "name":"tf-pn-quirky-golick", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.711240Z", "updated_at":"2026-06-10T04:21:51.711240Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"18769af6-bc14-4a5e-9d53-9818b5604b58", "created_at":"2026-06-10T04:21:51.711240Z", "updated_at":"2026-06-10T04:21:51.711240Z", "subnet":"172.30.28.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"03936d9d-d395-497b-b6c4-793c4ce71816", "vpc_id":"b6731e09-3813-44ff-bd00-dcf45846d0fb"}, {"id":"fc24f705-8fdd-4e33-bd89-00eb8aeed1e8", "created_at":"2026-06-10T04:21:51.711240Z", "updated_at":"2026-06-10T04:21:51.711240Z", "subnet":"fd5f:519c:6d46:1ca3::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"03936d9d-d395-497b-b6c4-793c4ce71816", "vpc_id":"b6731e09-3813-44ff-bd00-dcf45846d0fb"}], "vpc_id":"b6731e09-3813-44ff-bd00-dcf45846d0fb", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.183042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalabs_ds_basic","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"03936d9d-d395-497b-b6c4-793c4ce71816"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"21bc991f-fc08-4058-984d-236d47c03aed", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_basic", "description":"", "tags":[], "created_at":"2026-06-10T04:21:52.682575Z", "updated_at":"2026-06-10T04:21:52.682575Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://21bc991f-fc08-4058-984d-236d47c03aed.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-21bc991f-fc08-4058-984d-236d47c03aed.03936d9d-d395-497b-b6c4-793c4ce71816.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"03936d9d-d395-497b-b6c4-793c4ce71816", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.951875ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/21bc991f-fc08-4058-984d-236d47c03aed
        method: GET
      response:
        body: '{"id":"21bc991f-fc08-4058-984d-236d47c03aed", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_basic", "description":"", "tags":[], "created_at":"2026-06-10T04:21:52.682575Z", "updated_at":"2026-06-10T04:21:52.682575Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://21bc991f-fc08-4058-984d-236d47c03aed.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-21bc991f-fc08-4058-984d-236d47c03aed.03936d9d-d395-497b-b6c4-793c4ce71816.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"03936d9d-d395-497b-b6c4-793c4ce71816", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 365.796542ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"datalabs":[{"id":"37f04383-9b35-4ac7-93fb-751d4dad1a65", "status":"deleting", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_basic", "description":"", "tags":[], "created_at":"2026-06-10T04:21:52.758812Z", "updated_at":"2026-06-10T04:27:56.661309Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://37f04383-9b35-4ac7-93fb-751d4dad1a65.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-37f04383-9b35-4ac7-93fb-751d4dad1a65.fda3abd3-b3d3-48[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/21bc991f-fc08-4058-984d-236d47c03aed
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"21bc991f-fc08-4058-984d-236d47c03aed","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.3215ms
[...]
