---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_import","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2", "name":"tf_tests_datalab_import", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.743215Z", "updated_at":"2026-06-10T04:21:49.743215Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.095792ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e10eb280-0c40-4a9e-817d-1b92f2d54df2
        method: GET
      response:
        body: '{"id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2", "name":"tf_tests_datalab_import", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.743215Z", "updated_at":"2026-06-10T04:21:49.743215Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.095333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-eloquent-aryabhata","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"598d2c85-302b-406c-964f-ae76238ee26d", "name":"tf-pn-eloquent-aryabhata", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.477804Z", "updated_at":"2026-06-10T04:21:51.477804Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"71ac1c16-d4c1-4e9a-90c2-8a71fe6d404e", "created_at":"2026-06-10T04:21:51.477804Z", "updated_at":"2026-06-10T04:21:51.477804Z", "subnet":"172.19.20.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"598d2c85-302b-406c-964f-ae76238ee26d", "vpc_id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2"}, {"id":"1eacf043-ca34-4840-886d-178e5dee14b6", "created_at":"2026-06-10T04:21:51.477804Z", "updated_at":"2026-06-10T04:21:51.477804Z", "subnet":"fd5f:519c:6d46:c4d3::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"598d2c85-302b-406c-964f-ae76238ee26d", "vpc_id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2"}], "vpc_id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.337818708s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/598d2c85-302b-406c-964f-ae76238ee26d
        method: GET
      response:
        body: '{"id":"598d2c85-302b-406c-964f-ae76238ee26d", "name":"tf-pn-eloquent-aryabhata", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.477804Z", "updated_at":"2026-06-10T04:21:51.477804Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"71ac1c16-d4c1-4e9a-90c2-8a71fe6d404e", "created_at":"2026-06-10T04:21:51.477804Z", "updated_at":"2026-06-10T04:21:51.477804Z", "subnet":"172.19.20.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"598d2c85-302b-406c-964f-ae76238ee26d", "vpc_id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2"}, {"id":"1eacf043-ca34-4840-886d-178e5dee14b6", "created_at":"2026-06-10T04:21:51.477804Z", "updated_at":"2026-06-10T04:21:51.477804Z", "subnet":"fd5f:519c:6d46:c4d3::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"598d2c85-302b-406c-964f-ae76238ee26d", "vpc_id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2"}], "vpc_id":"e10eb280-0c40-4a9e-817d-1b92f2d54df2", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.307209ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalab_import","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"598d2c85-302b-406c-964f-ae76238ee26d"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"bd1cdf7b-7e73-43ce-b730-17bd08dee6ad", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_import", "description":"", "tags":[], "created_at":"2026-06-10T04:21:52.751664Z", "updated_at":"2026-06-10T04:21:52.751664Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://bd1cdf7b-7e73-43ce-b730-17bd08dee6ad.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-bd1cdf7b-7e73-43ce-b730-17bd08dee6ad.598d2c85-302b-406c-964f-ae76238ee26d.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"598d2c85-302b-406c-964f-ae76238ee26d", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.307125ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/bd1cdf7b-7e73-43ce-b730-17bd08dee6ad
        method: GET
      response:
        body: '{"id":"bd1cdf7b-7e73-43ce-b730-17bd08dee6ad", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_import", "description":"", "tags":[], "created_at":"2026-06-10T04:21:52.751664Z", "updated_at":"2026-06-10T04:21:52.751664Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://bd1cdf7b-7e73-43ce-b730-17bd08dee6ad.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-bd1cdf7b-7e73-43ce-b730-17bd08dee6ad.598d2c85-302b-406c-964f-ae76238ee26d.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"598d2c85-302b-406c-964f-ae76238ee26d", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.785125ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/bd1cdf7b-7e73-43ce-b730-17bd08dee6ad
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"bd1cdf7b-7e73-43ce-b730-17bd08dee6ad","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 105.214542ms
[...]
