---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_name","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae", "name":"tf_tests_datalabs_ds_name", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.704145Z", "updated_at":"2026-06-10T04:21:49.704145Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.049583ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2bc11989-9761-4fb4-8a7a-9bfb750165ae
        method: GET
      response:
        body: '{"id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae", "name":"tf_tests_datalabs_ds_name", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.704145Z", "updated_at":"2026-06-10T04:21:49.704145Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.481584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-hardcore-stallman","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "name":"tf-pn-hardcore-stallman", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.964693Z", "updated_at":"2026-06-10T04:21:49.964693Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"598420f5-f9a0-462b-b563-43bace4cd194", "created_at":"2026-06-10T04:21:49.964693Z", "updated_at":"2026-06-10T04:21:49.964693Z", "subnet":"172.28.248.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "vpc_id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae"}, {"id":"e831e441-9003-4163-9322-4bf83e403341", "created_at":"2026-06-10T04:21:49.964693Z", "updated_at":"2026-06-10T04:21:49.964693Z", "subnet":"fd5f:519c:6d46:d56f::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "vpc_id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae"}], "vpc_id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.085884583s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/100cb6f0-9fb3-4a25-8572-7435682b1e14
        method: GET
      response:
        body: '{"id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "name":"tf-pn-hardcore-stallman", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.964693Z", "updated_at":"2026-06-10T04:21:49.964693Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"598420f5-f9a0-462b-b563-43bace4cd194", "created_at":"2026-06-10T04:21:49.964693Z", "updated_at":"2026-06-10T04:21:49.964693Z", "subnet":"172.28.248.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "vpc_id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae"}, {"id":"e831e441-9003-4163-9322-4bf83e403341", "created_at":"2026-06-10T04:21:49.964693Z", "updated_at":"2026-06-10T04:21:49.964693Z", "subnet":"fd5f:519c:6d46:d56f::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "vpc_id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae"}], "vpc_id":"2bc11989-9761-4fb4-8a7a-9bfb750165ae", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.490708ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalabs_ds_name","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"c13eb191-44e8-440c-bda5-23ce59c484d6", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_name", "description":"", "tags":[], "created_at":"2026-06-10T04:21:51.469492Z", "updated_at":"2026-06-10T04:21:51.469492Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://c13eb191-44e8-440c-bda5-23ce59c484d6.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-c13eb191-44e8-440c-bda5-23ce59c484d6.100cb6f0-9fb3-4a25-8572-7435682b1e14.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 649.906833ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/c13eb191-44e8-440c-bda5-23ce59c484d6
        method: GET
      response:
        body: '{"id":"c13eb191-44e8-440c-bda5-23ce59c484d6", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_name", "description":"", "tags":[], "created_at":"2026-06-10T04:21:51.469492Z", "updated_at":"2026-06-10T04:21:51.469492Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://c13eb191-44e8-440c-bda5-23ce59c484d6.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-c13eb191-44e8-440c-bda5-23ce59c484d6.100cb6f0-9fb3-4a25-8572-7435682b1e14.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.347958ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_datalabs_ds_name
            order_by:
                - name_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?name=tf_tests_datalabs_ds_name&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"datalabs":[{"id":"c13eb191-44e8-440c-bda5-23ce59c484d6", "status":"ready", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_name", "description":"", "tags":[], "created_at":"2026-06-10T04:21:51.469492Z", "updated_at":"2026-06-10T04:28:17.581715Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://c13eb191-44e8-440c-bda5-23ce59c484d6.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-c13eb191-44e8-440c-bda5-23ce59c484d6.100cb6f0-9fb3-4a25-8572-7435682b1e14.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"100cb6f0-9fb3-4a25-8572-7435682b1e14", "notebook_master_url":"", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.670834ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/c13eb191-44e8-440c-bda5-23ce59c484d6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"c13eb191-44e8-440c-bda5-23ce59c484d6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 116.454209ms
[...]
