---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_tags","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"9a2c31ba-023d-426c-8f47-d73348a4df86","name":"tf_tests_datalabs_ds_tags","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.611217Z","updated_at":"2026-03-26T11:39:01.611217Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.4118ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/9a2c31ba-023d-426c-8f47-d73348a4df86
        method: GET
      response:
        body: '{"id":"9a2c31ba-023d-426c-8f47-d73348a4df86","name":"tf_tests_datalabs_ds_tags","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.611217Z","updated_at":"2026-03-26T11:39:01.611217Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.567561ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-sharp-franklin","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"9a2c31ba-023d-426c-8f47-d73348a4df86","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"8ea78e26-d683-4221-a7fd-29fad84deed0","name":"tf-pn-sharp-franklin","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.988433Z","updated_at":"2026-03-26T11:39:01.988433Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"36388d9c-cd3f-43ac-bc13-706505327306","created_at":"2026-03-26T11:39:01.988433Z","updated_at":"2026-03-26T11:39:01.988433Z","subnet":"172.16.20.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0","vpc_id":"9a2c31ba-023d-426c-8f47-d73348a4df86"},{"id":"d7e8677f-daf5-4ba9-915f-7ccb30b81723","created_at":"2026-03-26T11:39:01.988433Z","updated_at":"2026-03-26T11:39:01.988433Z","subnet":"fd40:e277:fdde:adc4::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0","vpc_id":"9a2c31ba-023d-426c-8f47-d73348a4df86"}],"vpc_id":"9a2c31ba-023d-426c-8f47-d73348a4df86","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 935.986719ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ea78e26-d683-4221-a7fd-29fad84deed0
        method: GET
      response:
        body: '{"id":"8ea78e26-d683-4221-a7fd-29fad84deed0","name":"tf-pn-sharp-franklin","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.988433Z","updated_at":"2026-03-26T11:39:01.988433Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"36388d9c-cd3f-43ac-bc13-706505327306","created_at":"2026-03-26T11:39:01.988433Z","updated_at":"2026-03-26T11:39:01.988433Z","subnet":"172.16.20.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0","vpc_id":"9a2c31ba-023d-426c-8f47-d73348a4df86"},{"id":"d7e8677f-daf5-4ba9-915f-7ccb30b81723","created_at":"2026-03-26T11:39:01.988433Z","updated_at":"2026-03-26T11:39:01.988433Z","subnet":"fd40:e277:fdde:adc4::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0","vpc_id":"9a2c31ba-023d-426c-8f47-d73348a4df86"}],"vpc_id":"9a2c31ba-023d-426c-8f47-d73348a4df86","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.916864ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_tags","description":"","tags":["ds-filter-test","env:test"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"dd60f6d3-d5d5-42f5-8c94-e11f13458bbd","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_tags","description":"","tags":["ds-filter-test","env:test"],"created_at":"2026-03-26T11:39:02.854954Z","updated_at":"2026-03-26T11:39:02.854954Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://dd60f6d3-d5d5-42f5-8c94-e11f13458bbd.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-dd60f6d3-d5d5-42f5-8c94-e11f13458bbd.8ea78e26-d683-4221-a7fd-29fad84deed0.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 749.707654ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/dd60f6d3-d5d5-42f5-8c94-e11f13458bbd
        method: GET
      response:
        body: '{"id":"dd60f6d3-d5d5-42f5-8c94-e11f13458bbd","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_tags","description":"","tags":["ds-filter-test","env:test"],"created_at":"2026-03-26T11:39:02.854954Z","updated_at":"2026-03-26T11:39:02.854954Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://dd60f6d3-d5d5-42f5-8c94-e11f13458bbd.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-dd60f6d3-d5d5-42f5-8c94-e11f13458bbd.8ea78e26-d683-4221-a7fd-29fad84deed0.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.740655ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            page_size:
                - "100"
            tags:
                - ds-filter-test
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?order_by=name_asc&page=1&page_size=100&tags=ds-filter-test
        method: GET
      response:
        body: '{"datalabs":[{"id":"dd60f6d3-d5d5-42f5-8c94-e11f13458bbd","status":"ready","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_tags","description":"","tags":["ds-filter-test","env:test"],"created_at":"2026-03-26T11:39:02.854954Z","updated_at":"2026-03-26T11:44:38.291481Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://dd60f6d3-d5d5-42f5-8c94-e11f13458bbd.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-dd60f6d3-d5d5-42f5-8c94-e11f13458bbd.8ea78e26-d683-4221-a7fd-29fad84deed0.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"8ea78e26-d683-4221-a7fd-29fad84deed0","notebook_master_url":"","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.725892ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/dd60f6d3-d5d5-42f5-8c94-e11f13458bbd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"dd60f6d3-d5d5-42f5-8c94-e11f13458bbd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.687569ms
[...]
