---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_ds_by_id","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce", "name":"tf_tests_datalab_ds_by_id", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.721456Z", "updated_at":"2026-06-10T04:21:49.721456Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 470.812209ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/28a7ab16-ddf0-491f-be9d-a315bc70dcce
        method: GET
      response:
        body: '{"id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce", "name":"tf_tests_datalab_ds_by_id", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.721456Z", "updated_at":"2026-06-10T04:21:49.721456Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.313167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-ecstatic-ritchie","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "name":"tf-pn-ecstatic-ritchie", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:50.788176Z", "updated_at":"2026-06-10T04:21:50.788176Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"b625475c-3010-48f6-b694-3c0a9a15571f", "created_at":"2026-06-10T04:21:50.788176Z", "updated_at":"2026-06-10T04:21:50.788176Z", "subnet":"172.30.88.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "vpc_id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce"}, {"id":"9183efb5-ca6a-49a1-80ff-024fcf7223c3", "created_at":"2026-06-10T04:21:50.788176Z", "updated_at":"2026-06-10T04:21:50.788176Z", "subnet":"fd5f:519c:6d46:ca1a::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "vpc_id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce"}], "vpc_id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.687034208s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5916fb3b-eb03-480c-8b68-3f4d8409ba4f
        method: GET
      response:
        body: '{"id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "name":"tf-pn-ecstatic-ritchie", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:50.788176Z", "updated_at":"2026-06-10T04:21:50.788176Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"b625475c-3010-48f6-b694-3c0a9a15571f", "created_at":"2026-06-10T04:21:50.788176Z", "updated_at":"2026-06-10T04:21:50.788176Z", "subnet":"172.30.88.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "vpc_id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce"}, {"id":"9183efb5-ca6a-49a1-80ff-024fcf7223c3", "created_at":"2026-06-10T04:21:50.788176Z", "updated_at":"2026-06-10T04:21:50.788176Z", "subnet":"fd5f:519c:6d46:ca1a::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "vpc_id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce"}], "vpc_id":"28a7ab16-ddf0-491f-be9d-a315bc70dcce", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.567875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalab_ds_by_id","description":"test datalab for data source by id","tags":["ds-test"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"79268c41-ba59-40da-bc6b-8cb540c1d2bc", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_ds_by_id", "description":"test datalab for data source by id", "tags":["ds-test"], "created_at":"2026-06-10T04:21:52.168593Z", "updated_at":"2026-06-10T04:21:52.168593Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://79268c41-ba59-40da-bc6b-8cb540c1d2bc.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-79268c41-ba59-40da-bc6b-8cb540c1d2bc.5916fb3b-eb03-480c-8b68-3f4d8409ba4f.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 476.567875ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/79268c41-ba59-40da-bc6b-8cb540c1d2bc
        method: GET
      response:
        body: '{"id":"79268c41-ba59-40da-bc6b-8cb540c1d2bc", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_ds_by_id", "description":"test datalab for data source by id", "tags":["ds-test"], "created_at":"2026-06-10T04:21:52.168593Z", "updated_at":"2026-06-10T04:21:52.168593Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://79268c41-ba59-40da-bc6b-8cb540c1d2bc.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-79268c41-ba59-40da-bc6b-8cb540c1d2bc.5916fb3b-eb03-480c-8b68-3f4d8409ba4f.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"5916fb3b-eb03-480c-8b68-3f4d8409ba4f", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 419.92125ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/79268c41-ba59-40da-bc6b-8cb540c1d2bc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"79268c41-ba59-40da-bc6b-8cb540c1d2bc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.205833ms
[...]
