---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293", "name":"tf_tests_datalab_basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.795493Z", "updated_at":"2026-06-10T04:21:49.795493Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 570.06425ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5bf26dc8-9c57-4e5d-9067-6c9978c74293
        method: GET
      response:
        body: '{"id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293", "name":"tf_tests_datalab_basic", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.795493Z", "updated_at":"2026-06-10T04:21:49.795493Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.80975ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-blissful-mclaren","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"fda3abd3-b3d3-4849-9495-815b967a6305", "name":"tf-pn-blissful-mclaren", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.873867Z", "updated_at":"2026-06-10T04:21:51.873867Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"2460a093-4e54-46cc-b61e-5efcb686bdc1", "created_at":"2026-06-10T04:21:51.873867Z", "updated_at":"2026-06-10T04:21:51.873867Z", "subnet":"172.30.116.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"fda3abd3-b3d3-4849-9495-815b967a6305", "vpc_id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293"}, {"id":"5c3f434b-f117-40ed-b9ee-01b530b5d185", "created_at":"2026-06-10T04:21:51.873867Z", "updated_at":"2026-06-10T04:21:51.873867Z", "subnet":"fd5f:519c:6d46:c876::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"fda3abd3-b3d3-4849-9495-815b967a6305", "vpc_id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293"}], "vpc_id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.246951042s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fda3abd3-b3d3-4849-9495-815b967a6305
        method: GET
      response:
        body: '{"id":"fda3abd3-b3d3-4849-9495-815b967a6305", "name":"tf-pn-blissful-mclaren", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.873867Z", "updated_at":"2026-06-10T04:21:51.873867Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"2460a093-4e54-46cc-b61e-5efcb686bdc1", "created_at":"2026-06-10T04:21:51.873867Z", "updated_at":"2026-06-10T04:21:51.873867Z", "subnet":"172.30.116.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"fda3abd3-b3d3-4849-9495-815b967a6305", "vpc_id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293"}, {"id":"5c3f434b-f117-40ed-b9ee-01b530b5d185", "created_at":"2026-06-10T04:21:51.873867Z", "updated_at":"2026-06-10T04:21:51.873867Z", "subnet":"fd5f:519c:6d46:c876::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"fda3abd3-b3d3-4849-9495-815b967a6305", "vpc_id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293"}], "vpc_id":"5bf26dc8-9c57-4e5d-9067-6c9978c74293", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.36425ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalab_basic","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"fda3abd3-b3d3-4849-9495-815b967a6305"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"37f04383-9b35-4ac7-93fb-751d4dad1a65", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_basic", "description":"", "tags":[], "created_at":"2026-06-10T04:21:52.758812Z", "updated_at":"2026-06-10T04:21:52.758812Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://37f04383-9b35-4ac7-93fb-751d4dad1a65.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-37f04383-9b35-4ac7-93fb-751d4dad1a65.fda3abd3-b3d3-4849-9495-815b967a6305.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"fda3abd3-b3d3-4849-9495-815b967a6305", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 669.902125ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/37f04383-9b35-4ac7-93fb-751d4dad1a65
        method: GET
      response:
        body: '{"id":"37f04383-9b35-4ac7-93fb-751d4dad1a65", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_basic", "description":"", "tags":[], "created_at":"2026-06-10T04:21:52.758812Z", "updated_at":"2026-06-10T04:21:52.758812Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://37f04383-9b35-4ac7-93fb-751d4dad1a65.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-37f04383-9b35-4ac7-93fb-751d4dad1a65.fda3abd3-b3d3-4849-9495-815b967a6305.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"fda3abd3-b3d3-4849-9495-815b967a6305", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 354.254292ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/37f04383-9b35-4ac7-93fb-751d4dad1a65
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"37f04383-9b35-4ac7-93fb-751d4dad1a65","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.370208ms
[...]
