---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_update","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d", "name":"tf_tests_datalab_update", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.683349Z", "updated_at":"2026-06-10T04:21:49.683349Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 469.282083ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8dcec6d8-9b6a-4864-9fad-bb6b5029353d
        method: GET
      response:
        body: '{"id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d", "name":"tf_tests_datalab_update", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.683349Z", "updated_at":"2026-06-10T04:21:49.683349Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.591208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-flamboyant-zhukovsky","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "name":"tf-pn-flamboyant-zhukovsky", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:50.429976Z", "updated_at":"2026-06-10T04:21:50.429976Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"58fc1e07-6f24-4f9d-bdd4-16b38904073a", "created_at":"2026-06-10T04:21:50.429976Z", "updated_at":"2026-06-10T04:21:50.429976Z", "subnet":"172.30.32.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "vpc_id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d"}, {"id":"a5def2ee-4be8-4d19-a1df-a0cc6f6a0f48", "created_at":"2026-06-10T04:21:50.429976Z", "updated_at":"2026-06-10T04:21:50.429976Z", "subnet":"fd5f:519c:6d46:988e::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "vpc_id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d"}], "vpc_id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.424413916s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0e96f38e-4e00-4fda-8100-cf57878c7782
        method: GET
      response:
        body: '{"id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "name":"tf-pn-flamboyant-zhukovsky", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:50.429976Z", "updated_at":"2026-06-10T04:21:50.429976Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"58fc1e07-6f24-4f9d-bdd4-16b38904073a", "created_at":"2026-06-10T04:21:50.429976Z", "updated_at":"2026-06-10T04:21:50.429976Z", "subnet":"172.30.32.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "vpc_id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d"}, {"id":"a5def2ee-4be8-4d19-a1df-a0cc6f6a0f48", "created_at":"2026-06-10T04:21:50.429976Z", "updated_at":"2026-06-10T04:21:50.429976Z", "subnet":"fd5f:519c:6d46:988e::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "vpc_id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d"}], "vpc_id":"8dcec6d8-9b6a-4864-9fad-bb6b5029353d", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.91675ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalab_update","description":"initial description","tags":["tag1"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"0e96f38e-4e00-4fda-8100-cf57878c7782"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"07a741cf-b105-4be3-b682-45071425293c", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_update", "description":"initial description", "tags":["tag1"], "created_at":"2026-06-10T04:21:51.783821Z", "updated_at":"2026-06-10T04:21:51.783821Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://07a741cf-b105-4be3-b682-45071425293c.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-07a741cf-b105-4be3-b682-45071425293c.0e96f38e-4e00-4fda-8100-cf57878c7782.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 703.59775ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/07a741cf-b105-4be3-b682-45071425293c
        method: GET
      response:
        body: '{"id":"07a741cf-b105-4be3-b682-45071425293c", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_update", "description":"initial description", "tags":["tag1"], "created_at":"2026-06-10T04:21:51.783821Z", "updated_at":"2026-06-10T04:21:51.783821Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://07a741cf-b105-4be3-b682-45071425293c.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-07a741cf-b105-4be3-b682-45071425293c.0e96f38e-4e00-4fda-8100-cf57878c7782.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"0e96f38e-4e00-4fda-8100-cf57878c7782", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.307458ms
[...]
    - id: 64
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/07a741cf-b105-4be3-b682-45071425293c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"07a741cf-b105-4be3-b682-45071425293c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.919ms
[...]
