---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_basic","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"238e523d-a741-46c4-bb6c-a703314c0f40", "name":"tf_tests_datalabs_ds_basic", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:02:25.955095Z", "updated_at":"2026-04-01T08:02:25.955095Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.738573ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/238e523d-a741-46c4-bb6c-a703314c0f40
        method: GET
      response:
        body: '{"id":"238e523d-a741-46c4-bb6c-a703314c0f40", "name":"tf_tests_datalabs_ds_basic", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:02:25.955095Z", "updated_at":"2026-04-01T08:02:25.955095Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.95212ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-heuristic-mirzakhani","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"238e523d-a741-46c4-bb6c-a703314c0f40","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"624d976f-2cea-41d2-9a24-9931db474a2b", "name":"tf-pn-heuristic-mirzakhani", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:02:26.313003Z", "updated_at":"2026-04-01T08:02:26.313003Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "subnets":[{"id":"fe2964f4-1744-4760-9726-167cf158f31d", "created_at":"2026-04-01T08:02:26.313003Z", "updated_at":"2026-04-01T08:02:26.313003Z", "subnet":"172.16.0.0/22", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"624d976f-2cea-41d2-9a24-9931db474a2b", "vpc_id":"238e523d-a741-46c4-bb6c-a703314c0f40"}, {"id":"7fd9f017-4e13-439b-98d0-2f95c3c5577e", "created_at":"2026-04-01T08:02:26.313003Z", "updated_at":"2026-04-01T08:02:26.313003Z", "subnet":"fd40:e277:fdde:3bb::/64", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"624d976f-2cea-41d2-9a24-9931db474a2b", "vpc_id":"238e523d-a741-46c4-bb6c-a703314c0f40"}], "vpc_id":"238e523d-a741-46c4-bb6c-a703314c0f40", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 873.011632ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/624d976f-2cea-41d2-9a24-9931db474a2b
        method: GET
      response:
        body: '{"id":"624d976f-2cea-41d2-9a24-9931db474a2b", "name":"tf-pn-heuristic-mirzakhani", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:02:26.313003Z", "updated_at":"2026-04-01T08:02:26.313003Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "subnets":[{"id":"fe2964f4-1744-4760-9726-167cf158f31d", "created_at":"2026-04-01T08:02:26.313003Z", "updated_at":"2026-04-01T08:02:26.313003Z", "subnet":"172.16.0.0/22", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"624d976f-2cea-41d2-9a24-9931db474a2b", "vpc_id":"238e523d-a741-46c4-bb6c-a703314c0f40"}, {"id":"7fd9f017-4e13-439b-98d0-2f95c3c5577e", "created_at":"2026-04-01T08:02:26.313003Z", "updated_at":"2026-04-01T08:02:26.313003Z", "subnet":"fd40:e277:fdde:3bb::/64", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"624d976f-2cea-41d2-9a24-9931db474a2b", "vpc_id":"238e523d-a741-46c4-bb6c-a703314c0f40"}], "vpc_id":"238e523d-a741-46c4-bb6c-a703314c0f40", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.067907ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_basic","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"624d976f-2cea-41d2-9a24-9931db474a2b"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"33c4e902-0db5-4cff-9cde-086c86acdf5b", "status":"creating", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_basic", "description":"", "tags":[], "created_at":"2026-04-01T08:02:27.165967Z", "updated_at":"2026-04-01T08:02:27.165967Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://33c4e902-0db5-4cff-9cde-086c86acdf5b.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-33c4e902-0db5-4cff-9cde-086c86acdf5b.624d976f-2cea-41d2-9a24-9931db474a2b.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"624d976f-2cea-41d2-9a24-9931db474a2b", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 701.956747ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/33c4e902-0db5-4cff-9cde-086c86acdf5b
        method: GET
      response:
        body: '{"id":"33c4e902-0db5-4cff-9cde-086c86acdf5b", "status":"creating", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_basic", "description":"", "tags":[], "created_at":"2026-04-01T08:02:27.165967Z", "updated_at":"2026-04-01T08:02:27.165967Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://33c4e902-0db5-4cff-9cde-086c86acdf5b.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-33c4e902-0db5-4cff-9cde-086c86acdf5b.624d976f-2cea-41d2-9a24-9931db474a2b.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"624d976f-2cea-41d2-9a24-9931db474a2b", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.979389ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?order_by=name_asc&page=1
        method: GET
      response:
        body: '{"datalabs":[{"id":"a95f64a0-aac2-448d-8e6e-3e33ad795cd4", "status":"error", "project_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "name":"tf-test-lower", "description":"", "tags":[], "created_at":"2026-03-20T18:03:19.423808Z", "updated_at":"2026-03-25T13:01:47.946037Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://a95f64a0-aac2-448d-8e6e-3e33ad795cd4.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-a95f64a0-aac2-448d-8e6e-3e33ad795cd4.08e54e14-d2a4-4020-b8d3-77a1[...]
[...]
    - id: 55
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/33c4e902-0db5-4cff-9cde-086c86acdf5b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"33c4e902-0db5-4cff-9cde-086c86acdf5b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.819591ms
[...]
