---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_update","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"420188e5-1c68-4d96-85fa-ab1564e31edf","name":"tf_tests_datalab_update","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.536262Z","updated_at":"2026-03-26T11:08:52.536262Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.094403ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/420188e5-1c68-4d96-85fa-ab1564e31edf
        method: GET
      response:
        body: '{"id":"420188e5-1c68-4d96-85fa-ab1564e31edf","name":"tf_tests_datalab_update","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.536262Z","updated_at":"2026-03-26T11:08:52.536262Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.679828ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-lucid-cerf","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"420188e5-1c68-4d96-85fa-ab1564e31edf","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"b06128e1-b918-4f09-b986-e01e50ebb31f","name":"tf-pn-lucid-cerf","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:54.229255Z","updated_at":"2026-03-26T11:08:54.229255Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"70c806df-b79f-4fd1-a605-49d715cf7d23","created_at":"2026-03-26T11:08:54.229255Z","updated_at":"2026-03-26T11:08:54.229255Z","subnet":"172.16.8.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"b06128e1-b918-4f09-b986-e01e50ebb31f","vpc_id":"420188e5-1c68-4d96-85fa-ab1564e31edf"},{"id":"0379f4e5-811d-465e-955d-1ccf56ec4caa","created_at":"2026-03-26T11:08:54.229255Z","updated_at":"2026-03-26T11:08:54.229255Z","subnet":"fd40:e277:fdde:2dd5::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"b06128e1-b918-4f09-b986-e01e50ebb31f","vpc_id":"420188e5-1c68-4d96-85fa-ab1564e31edf"}],"vpc_id":"420188e5-1c68-4d96-85fa-ab1564e31edf","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.46761033s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b06128e1-b918-4f09-b986-e01e50ebb31f
        method: GET
      response:
        body: '{"id":"b06128e1-b918-4f09-b986-e01e50ebb31f","name":"tf-pn-lucid-cerf","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:54.229255Z","updated_at":"2026-03-26T11:08:54.229255Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"70c806df-b79f-4fd1-a605-49d715cf7d23","created_at":"2026-03-26T11:08:54.229255Z","updated_at":"2026-03-26T11:08:54.229255Z","subnet":"172.16.8.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"b06128e1-b918-4f09-b986-e01e50ebb31f","vpc_id":"420188e5-1c68-4d96-85fa-ab1564e31edf"},{"id":"0379f4e5-811d-465e-955d-1ccf56ec4caa","created_at":"2026-03-26T11:08:54.229255Z","updated_at":"2026-03-26T11:08:54.229255Z","subnet":"fd40:e277:fdde:2dd5::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"b06128e1-b918-4f09-b986-e01e50ebb31f","vpc_id":"420188e5-1c68-4d96-85fa-ab1564e31edf"}],"vpc_id":"420188e5-1c68-4d96-85fa-ab1564e31edf","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.32232ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_update","description":"initial description","tags":["tag1"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"b06128e1-b918-4f09-b986-e01e50ebb31f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"c144958a-3b89-4384-b70b-9f567cc61129","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_update","description":"initial description","tags":["tag1"],"created_at":"2026-03-26T11:08:56.309962Z","updated_at":"2026-03-26T11:08:56.309962Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://c144958a-3b89-4384-b70b-9f567cc61129.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-c144958a-3b89-4384-b70b-9f567cc61129.b06128e1-b918-4f09-b986-e01e50ebb31f.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"b06128e1-b918-4f09-b986-e01e50ebb31f","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.813262ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/c144958a-3b89-4384-b70b-9f567cc61129
        method: GET
      response:
        body: '{"id":"c144958a-3b89-4384-b70b-9f567cc61129","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_update","description":"initial description","tags":["tag1"],"created_at":"2026-03-26T11:08:56.309962Z","updated_at":"2026-03-26T11:08:56.309962Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://c144958a-3b89-4384-b70b-9f567cc61129.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-c144958a-3b89-4384-b70b-9f567cc61129.b06128e1-b918-4f09-b986-e01e50ebb31f.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"b06128e1-b918-4f09-b986-e01e50ebb31f","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.701668ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/c144958a-3b89-4384-b70b-9f567cc61129
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"c144958a-3b89-4384-b70b-9f567cc61129","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.647454ms
[...]
