---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_tags","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"f52e2f11-9584-4232-a496-a8529d07436c", "name":"tf_tests_datalabs_ds_tags", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.761038Z", "updated_at":"2026-06-10T04:21:49.761038Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 484.639083ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f52e2f11-9584-4232-a496-a8529d07436c
        method: GET
      response:
        body: '{"id":"f52e2f11-9584-4232-a496-a8529d07436c", "name":"tf_tests_datalabs_ds_tags", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.761038Z", "updated_at":"2026-06-10T04:21:49.761038Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.057375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-awesome-carson","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"message":"internal error"}'
        headers:
            Content-Type:
                - application/json
        status: 503 Service Unavailable
        code: 503
        duration: 1.829653459s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-awesome-carson","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "name":"tf-pn-awesome-carson", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:53.833223Z", "updated_at":"2026-06-10T04:21:53.833223Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"9328e264-b663-47f5-8c46-8686fb484e7f", "created_at":"2026-06-10T04:21:53.833223Z", "updated_at":"2026-06-10T04:21:53.833223Z", "subnet":"172.30.56.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c"}, {"id":"36395b9a-3913-4cff-b3af-07092c640844", "created_at":"2026-06-10T04:21:53.833223Z", "updated_at":"2026-06-10T04:21:53.833223Z", "subnet":"fd5f:519c:6d46:6670::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c"}], "vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 606.146959ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d91757e5-9b80-457b-847c-a93efecb5a4d
        method: GET
      response:
        body: '{"id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "name":"tf-pn-awesome-carson", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:53.833223Z", "updated_at":"2026-06-10T04:21:53.833223Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"9328e264-b663-47f5-8c46-8686fb484e7f", "created_at":"2026-06-10T04:21:53.833223Z", "updated_at":"2026-06-10T04:21:53.833223Z", "subnet":"172.30.56.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c"}, {"id":"36395b9a-3913-4cff-b3af-07092c640844", "created_at":"2026-06-10T04:21:53.833223Z", "updated_at":"2026-06-10T04:21:53.833223Z", "subnet":"fd5f:519c:6d46:6670::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c"}], "vpc_id":"f52e2f11-9584-4232-a496-a8529d07436c", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.008708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalabs_ds_tags","description":"","tags":["ds-filter-test","env:test"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"26789916-e713-4402-a9b8-fd7ca3f02788", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_tags", "description":"", "tags":["ds-filter-test", "env:test"], "created_at":"2026-06-10T04:21:55.025900Z", "updated_at":"2026-06-10T04:21:55.025900Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://26789916-e713-4402-a9b8-fd7ca3f02788.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-26789916-e713-4402-a9b8-fd7ca3f02788.d91757e5-9b80-457b-847c-a93efecb5a4d.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 723.395541ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/26789916-e713-4402-a9b8-fd7ca3f02788
        method: GET
      response:
        body: '{"id":"26789916-e713-4402-a9b8-fd7ca3f02788", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_tags", "description":"", "tags":["ds-filter-test", "env:test"], "created_at":"2026-06-10T04:21:55.025900Z", "updated_at":"2026-06-10T04:21:55.025900Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://26789916-e713-4402-a9b8-fd7ca3f02788.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-26789916-e713-4402-a9b8-fd7ca3f02788.d91757e5-9b80-457b-847c-a93efecb5a4d.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.02575ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            tags:
                - ds-filter-test
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?order_by=name_asc&page=1&tags=ds-filter-test
        method: GET
      response:
        body: '{"datalabs":[{"id":"26789916-e713-4402-a9b8-fd7ca3f02788", "status":"ready", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalabs_ds_tags", "description":"", "tags":["ds-filter-test", "env:test"], "created_at":"2026-06-10T04:21:55.025900Z", "updated_at":"2026-06-10T04:27:59.666268Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://26789916-e713-4402-a9b8-fd7ca3f02788.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-26789916-e713-4402-a9b8-fd7ca3f02788.d91757e5-9b80-457b-847c-a93efecb5a4d.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"d91757e5-9b80-457b-847c-a93efecb5a4d", "notebook_master_url":"", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.149833ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/26789916-e713-4402-a9b8-fd7ca3f02788
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"26789916-e713-4402-a9b8-fd7ca3f02788","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.792583ms
[...]
