---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_tags","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"16a6c4e4-63d1-4161-967f-274ce1acb20d", "name":"tf_tests_datalabs_ds_tags", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.038619Z", "updated_at":"2026-04-01T08:11:17.038619Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.005913ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/16a6c4e4-63d1-4161-967f-274ce1acb20d
        method: GET
      response:
        body: '{"id":"16a6c4e4-63d1-4161-967f-274ce1acb20d", "name":"tf_tests_datalabs_ds_tags", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.038619Z", "updated_at":"2026-04-01T08:11:17.038619Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.840453ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-jovial-gagarin","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"16a6c4e4-63d1-4161-967f-274ce1acb20d","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "name":"tf-pn-jovial-gagarin", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.252046Z", "updated_at":"2026-04-01T08:11:17.252046Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "subnets":[{"id":"54296e22-01ca-4ea8-982d-eb185f8f7978", "created_at":"2026-04-01T08:11:17.252046Z", "updated_at":"2026-04-01T08:11:17.252046Z", "subnet":"172.16.0.0/22", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "vpc_id":"16a6c4e4-63d1-4161-967f-274ce1acb20d"}, {"id":"9cefcd2b-8c0d-4e93-8aa0-3b97786e2369", "created_at":"2026-04-01T08:11:17.252046Z", "updated_at":"2026-04-01T08:11:17.252046Z", "subnet":"fd40:e277:fdde:ebef::/64", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "vpc_id":"16a6c4e4-63d1-4161-967f-274ce1acb20d"}], "vpc_id":"16a6c4e4-63d1-4161-967f-274ce1acb20d", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.2339477s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/60b434b2-3457-47f5-a569-33ec437ae1c0
        method: GET
      response:
        body: '{"id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "name":"tf-pn-jovial-gagarin", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.252046Z", "updated_at":"2026-04-01T08:11:17.252046Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "subnets":[{"id":"54296e22-01ca-4ea8-982d-eb185f8f7978", "created_at":"2026-04-01T08:11:17.252046Z", "updated_at":"2026-04-01T08:11:17.252046Z", "subnet":"172.16.0.0/22", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "vpc_id":"16a6c4e4-63d1-4161-967f-274ce1acb20d"}, {"id":"9cefcd2b-8c0d-4e93-8aa0-3b97786e2369", "created_at":"2026-04-01T08:11:17.252046Z", "updated_at":"2026-04-01T08:11:17.252046Z", "subnet":"fd40:e277:fdde:ebef::/64", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "vpc_id":"16a6c4e4-63d1-4161-967f-274ce1acb20d"}], "vpc_id":"16a6c4e4-63d1-4161-967f-274ce1acb20d", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.57118ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_tags","description":"","tags":["ds-filter-test","env:test"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"8648bc98-cfe9-4002-8979-43f67bd1259a", "status":"creating", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_tags", "description":"", "tags":["ds-filter-test", "env:test"], "created_at":"2026-04-01T08:11:18.608362Z", "updated_at":"2026-04-01T08:11:18.608362Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://8648bc98-cfe9-4002-8979-43f67bd1259a.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-8648bc98-cfe9-4002-8979-43f67bd1259a.60b434b2-3457-47f5-a569-33ec437ae1c0.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 728.171129ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/8648bc98-cfe9-4002-8979-43f67bd1259a
        method: GET
      response:
        body: '{"id":"8648bc98-cfe9-4002-8979-43f67bd1259a", "status":"creating", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_tags", "description":"", "tags":["ds-filter-test", "env:test"], "created_at":"2026-04-01T08:11:18.608362Z", "updated_at":"2026-04-01T08:11:18.608362Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://8648bc98-cfe9-4002-8979-43f67bd1259a.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-8648bc98-cfe9-4002-8979-43f67bd1259a.60b434b2-3457-47f5-a569-33ec437ae1c0.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.265502ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            tags:
                - ds-filter-test
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?order_by=name_asc&page=1&tags=ds-filter-test
        method: GET
      response:
        body: '{"datalabs":[{"id":"8648bc98-cfe9-4002-8979-43f67bd1259a", "status":"ready", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_tags", "description":"", "tags":["ds-filter-test", "env:test"], "created_at":"2026-04-01T08:11:18.608362Z", "updated_at":"2026-04-01T08:17:04.165220Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://8648bc98-cfe9-4002-8979-43f67bd1259a.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-8648bc98-cfe9-4002-8979-43f67bd1259a.60b434b2-3457-47f5-a569-33ec437ae1c0.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"60b434b2-3457-47f5-a569-33ec437ae1c0", "notebook_master_url":"", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.415971ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/8648bc98-cfe9-4002-8979-43f67bd1259a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"8648bc98-cfe9-4002-8979-43f67bd1259a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.587945ms
[...]
