---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_worker","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c","name":"tf_tests_datalab_worker","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.686211Z","updated_at":"2026-03-26T11:08:52.686211Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.001929ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6f36cd90-e0d9-4549-a4d6-e70c03b7799c
        method: GET
      response:
        body: '{"id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c","name":"tf_tests_datalab_worker","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.686211Z","updated_at":"2026-03-26T11:08:52.686211Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.982031ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-gallant-galois","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","name":"tf-pn-gallant-galois","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:53.834938Z","updated_at":"2026-03-26T11:08:53.834938Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"59b07c6a-ee87-4608-8055-10a27d42c58c","created_at":"2026-03-26T11:08:53.834938Z","updated_at":"2026-03-26T11:08:53.834938Z","subnet":"172.16.20.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","vpc_id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c"},{"id":"b6ef062a-a28d-4ee4-9714-4b54094b4cdf","created_at":"2026-03-26T11:08:53.834938Z","updated_at":"2026-03-26T11:08:53.834938Z","subnet":"fd40:e277:fdde:8a01::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","vpc_id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c"}],"vpc_id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.98893273s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7b913cf8-e4fb-42ca-89ff-c04b99838378
        method: GET
      response:
        body: '{"id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","name":"tf-pn-gallant-galois","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:53.834938Z","updated_at":"2026-03-26T11:08:53.834938Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"59b07c6a-ee87-4608-8055-10a27d42c58c","created_at":"2026-03-26T11:08:53.834938Z","updated_at":"2026-03-26T11:08:53.834938Z","subnet":"172.16.20.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","vpc_id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c"},{"id":"b6ef062a-a28d-4ee4-9714-4b54094b4cdf","created_at":"2026-03-26T11:08:53.834938Z","updated_at":"2026-03-26T11:08:53.834938Z","subnet":"fd40:e277:fdde:8a01::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","vpc_id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c"}],"vpc_id":"6f36cd90-e0d9-4549-a4d6-e70c03b7799c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.924998ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_worker","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"7b913cf8-e4fb-42ca-89ff-c04b99838378"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"617acbf0-ae58-4470-a541-1e0dadfe4351","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_worker","description":"","tags":[],"created_at":"2026-03-26T11:08:54.994916Z","updated_at":"2026-03-26T11:08:54.994916Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://617acbf0-ae58-4470-a541-1e0dadfe4351.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-617acbf0-ae58-4470-a541-1e0dadfe4351.7b913cf8-e4fb-42ca-89ff-c04b99838378.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 465.673097ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/617acbf0-ae58-4470-a541-1e0dadfe4351
        method: GET
      response:
        body: '{"id":"617acbf0-ae58-4470-a541-1e0dadfe4351","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_worker","description":"","tags":[],"created_at":"2026-03-26T11:08:54.994916Z","updated_at":"2026-03-26T11:08:54.994916Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://617acbf0-ae58-4470-a541-1e0dadfe4351.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-617acbf0-ae58-4470-a541-1e0dadfe4351.7b913cf8-e4fb-42ca-89ff-c04b99838378.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"7b913cf8-e4fb-42ca-89ff-c04b99838378","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.67588ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/617acbf0-ae58-4470-a541-1e0dadfe4351
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"617acbf0-ae58-4470-a541-1e0dadfe4351","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.646945ms
[...]
