---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_ds_by_name","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"c8436ba4-533a-4715-be7b-461b84e64288","name":"tf_tests_datalab_ds_by_name","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.483257Z","updated_at":"2026-03-26T11:30:00.483257Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.990086ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c8436ba4-533a-4715-be7b-461b84e64288
        method: GET
      response:
        body: '{"id":"c8436ba4-533a-4715-be7b-461b84e64288","name":"tf_tests_datalab_ds_by_name","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.483257Z","updated_at":"2026-03-26T11:30:00.483257Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.344661ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-stupefied-haslett","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"c8436ba4-533a-4715-be7b-461b84e64288","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","name":"tf-pn-stupefied-haslett","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.993913Z","updated_at":"2026-03-26T11:30:00.993913Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"36bb0108-8b3c-468d-a941-029533ec0797","created_at":"2026-03-26T11:30:00.993913Z","updated_at":"2026-03-26T11:30:00.993913Z","subnet":"172.16.20.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","vpc_id":"c8436ba4-533a-4715-be7b-461b84e64288"},{"id":"eb17edd0-58f7-4e5d-803e-0bb405bacafc","created_at":"2026-03-26T11:30:00.993913Z","updated_at":"2026-03-26T11:30:00.993913Z","subnet":"fd40:e277:fdde:57a5::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","vpc_id":"c8436ba4-533a-4715-be7b-461b84e64288"}],"vpc_id":"c8436ba4-533a-4715-be7b-461b84e64288","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.189837998s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/434418ef-7ec2-41e7-a139-9f30d56acb6f
        method: GET
      response:
        body: '{"id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","name":"tf-pn-stupefied-haslett","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.993913Z","updated_at":"2026-03-26T11:30:00.993913Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"36bb0108-8b3c-468d-a941-029533ec0797","created_at":"2026-03-26T11:30:00.993913Z","updated_at":"2026-03-26T11:30:00.993913Z","subnet":"172.16.20.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","vpc_id":"c8436ba4-533a-4715-be7b-461b84e64288"},{"id":"eb17edd0-58f7-4e5d-803e-0bb405bacafc","created_at":"2026-03-26T11:30:00.993913Z","updated_at":"2026-03-26T11:30:00.993913Z","subnet":"fd40:e277:fdde:57a5::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","vpc_id":"c8436ba4-533a-4715-be7b-461b84e64288"}],"vpc_id":"c8436ba4-533a-4715-be7b-461b84e64288","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.613712ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_ds_by_name","description":"test datalab for data source by name","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"4d183142-c753-4c02-baa3-b5af60ecf718","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_ds_by_name","description":"test datalab for data source by name","tags":[],"created_at":"2026-03-26T11:30:01.995071Z","updated_at":"2026-03-26T11:30:01.995071Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://4d183142-c753-4c02-baa3-b5af60ecf718.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-4d183142-c753-4c02-baa3-b5af60ecf718.434418ef-7ec2-41e7-a139-9f30d56acb6f.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 918.793462ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/4d183142-c753-4c02-baa3-b5af60ecf718
        method: GET
      response:
        body: '{"id":"4d183142-c753-4c02-baa3-b5af60ecf718","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_ds_by_name","description":"test datalab for data source by name","tags":[],"created_at":"2026-03-26T11:30:01.995071Z","updated_at":"2026-03-26T11:30:01.995071Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://4d183142-c753-4c02-baa3-b5af60ecf718.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-4d183142-c753-4c02-baa3-b5af60ecf718.434418ef-7ec2-41e7-a139-9f30d56acb6f.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.082964ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_datalab_ds_by_name
            order_by:
                - name_asc
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?name=tf_tests_datalab_ds_by_name&order_by=name_asc
        method: GET
      response:
        body: '{"datalabs":[{"id":"4d183142-c753-4c02-baa3-b5af60ecf718","status":"ready","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_ds_by_name","description":"test datalab for data source by name","tags":[],"created_at":"2026-03-26T11:30:01.995071Z","updated_at":"2026-03-26T11:35:51.150089Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://4d183142-c753-4c02-baa3-b5af60ecf718.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-4d183142-c753-4c02-baa3-b5af60ecf718.434418ef-7ec2-41e7-a139-9f30d56acb6f.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"434418ef-7ec2-41e7-a139-9f30d56acb6f","notebook_master_url":"","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.680859ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/4d183142-c753-4c02-baa3-b5af60ecf718
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"4d183142-c753-4c02-baa3-b5af60ecf718","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.270763ms
[...]
