---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_ds_by_name","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"ec271068-9bba-4654-bc41-f43eb3140675", "name":"tf_tests_datalab_ds_by_name", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.812229Z", "updated_at":"2026-06-10T04:21:49.812229Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 574.574667ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ec271068-9bba-4654-bc41-f43eb3140675
        method: GET
      response:
        body: '{"id":"ec271068-9bba-4654-bc41-f43eb3140675", "name":"tf_tests_datalab_ds_by_name", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.812229Z", "updated_at":"2026-06-10T04:21:49.812229Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.847333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-busy-kare","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"ec271068-9bba-4654-bc41-f43eb3140675","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "name":"tf-pn-busy-kare", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.145027Z", "updated_at":"2026-06-10T04:21:51.145027Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"b2b43697-af37-47c7-a4f6-6a4af2186dc1", "created_at":"2026-06-10T04:21:51.145027Z", "updated_at":"2026-06-10T04:21:51.145027Z", "subnet":"172.30.100.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "vpc_id":"ec271068-9bba-4654-bc41-f43eb3140675"}, {"id":"6cbdb33a-43bf-4177-a7e6-1b43295043da", "created_at":"2026-06-10T04:21:51.145027Z", "updated_at":"2026-06-10T04:21:51.145027Z", "subnet":"fd5f:519c:6d46:816e::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "vpc_id":"ec271068-9bba-4654-bc41-f43eb3140675"}], "vpc_id":"ec271068-9bba-4654-bc41-f43eb3140675", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.059398583s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f1b00b42-6bc0-4d58-a108-afbee3f288d5
        method: GET
      response:
        body: '{"id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "name":"tf-pn-busy-kare", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:51.145027Z", "updated_at":"2026-06-10T04:21:51.145027Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"b2b43697-af37-47c7-a4f6-6a4af2186dc1", "created_at":"2026-06-10T04:21:51.145027Z", "updated_at":"2026-06-10T04:21:51.145027Z", "subnet":"172.30.100.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "vpc_id":"ec271068-9bba-4654-bc41-f43eb3140675"}, {"id":"6cbdb33a-43bf-4177-a7e6-1b43295043da", "created_at":"2026-06-10T04:21:51.145027Z", "updated_at":"2026-06-10T04:21:51.145027Z", "subnet":"fd5f:519c:6d46:816e::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "vpc_id":"ec271068-9bba-4654-bc41-f43eb3140675"}], "vpc_id":"ec271068-9bba-4654-bc41-f43eb3140675", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.801709ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalab_ds_by_name","description":"test datalab for data source by name","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"f3785f10-42fc-49e8-af36-ac9f5d6a823e", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_ds_by_name", "description":"test datalab for data source by name", "tags":[], "created_at":"2026-06-10T04:21:52.620886Z", "updated_at":"2026-06-10T04:21:52.620886Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://f3785f10-42fc-49e8-af36-ac9f5d6a823e.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-f3785f10-42fc-49e8-af36-ac9f5d6a823e.f1b00b42-6bc0-4d58-a108-afbee3f288d5.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 685.201208ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/f3785f10-42fc-49e8-af36-ac9f5d6a823e
        method: GET
      response:
        body: '{"id":"f3785f10-42fc-49e8-af36-ac9f5d6a823e", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_ds_by_name", "description":"test datalab for data source by name", "tags":[], "created_at":"2026-06-10T04:21:52.620886Z", "updated_at":"2026-06-10T04:21:52.620886Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://f3785f10-42fc-49e8-af36-ac9f5d6a823e.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-f3785f10-42fc-49e8-af36-ac9f5d6a823e.f1b00b42-6bc0-4d58-a108-afbee3f288d5.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.036625ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_datalab_ds_by_name
            order_by:
                - name_asc
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?name=tf_tests_datalab_ds_by_name&order_by=name_asc
        method: GET
      response:
        body: '{"datalabs":[{"id":"f3785f10-42fc-49e8-af36-ac9f5d6a823e", "status":"ready", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_ds_by_name", "description":"test datalab for data source by name", "tags":[], "created_at":"2026-06-10T04:21:52.620886Z", "updated_at":"2026-06-10T04:27:44.284129Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://f3785f10-42fc-49e8-af36-ac9f5d6a823e.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-f3785f10-42fc-49e8-af36-ac9f5d6a823e.f1b00b42-6bc0-4d58-a108-afbee3f288d5.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"f1b00b42-6bc0-4d58-a108-afbee3f288d5", "notebook_master_url":"", "region":"fr-par"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.365375ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/f3785f10-42fc-49e8-af36-ac9f5d6a823e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"f3785f10-42fc-49e8-af36-ac9f5d6a823e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.050375ms
[...]
