---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_name","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"030c3bf4-c4a8-4021-94af-42e80bd4039b", "name":"tf_tests_datalabs_ds_name", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.051818Z", "updated_at":"2026-04-01T08:11:17.051818Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.923461ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/030c3bf4-c4a8-4021-94af-42e80bd4039b
        method: GET
      response:
        body: '{"id":"030c3bf4-c4a8-4021-94af-42e80bd4039b", "name":"tf_tests_datalabs_ds_name", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.051818Z", "updated_at":"2026-04-01T08:11:17.051818Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.808512ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-angry-germain","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"030c3bf4-c4a8-4021-94af-42e80bd4039b","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "name":"tf-pn-angry-germain", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.912814Z", "updated_at":"2026-04-01T08:11:17.912814Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "subnets":[{"id":"3dfa3e4f-0021-4ebd-97d3-6d7e75facb29", "created_at":"2026-04-01T08:11:17.912814Z", "updated_at":"2026-04-01T08:11:17.912814Z", "subnet":"172.16.20.0/22", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "vpc_id":"030c3bf4-c4a8-4021-94af-42e80bd4039b"}, {"id":"87a8bd6e-857a-4524-b035-300f7b2738c2", "created_at":"2026-04-01T08:11:17.912814Z", "updated_at":"2026-04-01T08:11:17.912814Z", "subnet":"fd40:e277:fdde:323c::/64", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "vpc_id":"030c3bf4-c4a8-4021-94af-42e80bd4039b"}], "vpc_id":"030c3bf4-c4a8-4021-94af-42e80bd4039b", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.409791895s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ebcf14ad-0c72-4ff9-b741-d26bee430b14
        method: GET
      response:
        body: '{"id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "name":"tf-pn-angry-germain", "tags":[], "organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8", "created_at":"2026-04-01T08:11:17.912814Z", "updated_at":"2026-04-01T08:11:17.912814Z", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "subnets":[{"id":"3dfa3e4f-0021-4ebd-97d3-6d7e75facb29", "created_at":"2026-04-01T08:11:17.912814Z", "updated_at":"2026-04-01T08:11:17.912814Z", "subnet":"172.16.20.0/22", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "vpc_id":"030c3bf4-c4a8-4021-94af-42e80bd4039b"}, {"id":"87a8bd6e-857a-4524-b035-300f7b2738c2", "created_at":"2026-04-01T08:11:17.912814Z", "updated_at":"2026-04-01T08:11:17.912814Z", "subnet":"fd40:e277:fdde:323c::/64", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "private_network_id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "vpc_id":"030c3bf4-c4a8-4021-94af-42e80bd4039b"}], "vpc_id":"030c3bf4-c4a8-4021-94af-42e80bd4039b", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.814403ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_name","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"c31a7c2b-27df-479c-847b-4e0f5ff288bf", "status":"creating", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_name", "description":"", "tags":[], "created_at":"2026-04-01T08:11:18.734699Z", "updated_at":"2026-04-01T08:11:18.734699Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://c31a7c2b-27df-479c-847b-4e0f5ff288bf.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-c31a7c2b-27df-479c-847b-4e0f5ff288bf.ebcf14ad-0c72-4ff9-b741-d26bee430b14.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.337452411s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/c31a7c2b-27df-479c-847b-4e0f5ff288bf
        method: GET
      response:
        body: '{"id":"c31a7c2b-27df-479c-847b-4e0f5ff288bf", "status":"creating", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_name", "description":"", "tags":[], "created_at":"2026-04-01T08:11:18.734699Z", "updated_at":"2026-04-01T08:11:18.734699Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://c31a7c2b-27df-479c-847b-4e0f5ff288bf.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-c31a7c2b-27df-479c-847b-4e0f5ff288bf.ebcf14ad-0c72-4ff9-b741-d26bee430b14.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"ebcf14ad-0c72-4ff9-b741-d26bee430b14", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.656602ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_datalabs_ds_name
            order_by:
                - name_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?name=tf_tests_datalabs_ds_name&order_by=name_asc&page=1
        method: GET
      response:
        body: '{"datalabs":[{"id":"0047ff02-6953-4ef0-bfb1-c093796e0477", "status":"ready", "project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1", "name":"tf_tests_datalabs_ds_name", "description":"", "tags":[], "created_at":"2026-04-01T08:02:27.052181Z", "updated_at":"2026-04-01T08:08:03.972492Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://0047ff02-6953-4ef0-bfb1-c093796e0477.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-0047ff02-6953-4ef0-bfb1-c093796e0477.593f0960-2d24-40[...]
[...]
    - id: 57
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/c31a7c2b-27df-479c-847b-4e0f5ff288bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"c31a7c2b-27df-479c-847b-4e0f5ff288bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 75.054021ms
[...]
