---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_name","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562","name":"tf_tests_datalabs_ds_name","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.632082Z","updated_at":"2026-03-26T11:39:01.632082Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.523815ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8e81a4c5-69ad-44f4-98e8-2e7f99bff562
        method: GET
      response:
        body: '{"id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562","name":"tf_tests_datalabs_ds_name","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.632082Z","updated_at":"2026-03-26T11:39:01.632082Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.076488ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-magical-spence","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"d0432486-ef71-414c-9fcc-021be4d0e690","name":"tf-pn-magical-spence","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.791069Z","updated_at":"2026-03-26T11:39:01.791069Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"f1f9a42e-347f-40f4-af69-3389174d2d6b","created_at":"2026-03-26T11:39:01.791069Z","updated_at":"2026-03-26T11:39:01.791069Z","subnet":"172.16.8.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690","vpc_id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562"},{"id":"65278186-e46c-4714-9d84-ac2e5df4024a","created_at":"2026-03-26T11:39:01.791069Z","updated_at":"2026-03-26T11:39:01.791069Z","subnet":"fd40:e277:fdde:b157::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690","vpc_id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562"}],"vpc_id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 940.543786ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d0432486-ef71-414c-9fcc-021be4d0e690
        method: GET
      response:
        body: '{"id":"d0432486-ef71-414c-9fcc-021be4d0e690","name":"tf-pn-magical-spence","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:39:01.791069Z","updated_at":"2026-03-26T11:39:01.791069Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"f1f9a42e-347f-40f4-af69-3389174d2d6b","created_at":"2026-03-26T11:39:01.791069Z","updated_at":"2026-03-26T11:39:01.791069Z","subnet":"172.16.8.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690","vpc_id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562"},{"id":"65278186-e46c-4714-9d84-ac2e5df4024a","created_at":"2026-03-26T11:39:01.791069Z","updated_at":"2026-03-26T11:39:01.791069Z","subnet":"fd40:e277:fdde:b157::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690","vpc_id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562"}],"vpc_id":"8e81a4c5-69ad-44f4-98e8-2e7f99bff562","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.926938ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_name","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"1c0a7701-764b-49f7-9d79-3ad797c3dff7","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_name","description":"","tags":[],"created_at":"2026-03-26T11:39:02.860650Z","updated_at":"2026-03-26T11:39:02.860650Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://1c0a7701-764b-49f7-9d79-3ad797c3dff7.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-1c0a7701-764b-49f7-9d79-3ad797c3dff7.d0432486-ef71-414c-9fcc-021be4d0e690.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.263914788s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/1c0a7701-764b-49f7-9d79-3ad797c3dff7
        method: GET
      response:
        body: '{"id":"1c0a7701-764b-49f7-9d79-3ad797c3dff7","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_name","description":"","tags":[],"created_at":"2026-03-26T11:39:02.860650Z","updated_at":"2026-03-26T11:39:02.860650Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://1c0a7701-764b-49f7-9d79-3ad797c3dff7.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-1c0a7701-764b-49f7-9d79-3ad797c3dff7.d0432486-ef71-414c-9fcc-021be4d0e690.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.97726ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_datalabs_ds_name
            order_by:
                - name_asc
            page:
                - "1"
            page_size:
                - "100"
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?name=tf_tests_datalabs_ds_name&order_by=name_asc&page=1&page_size=100
        method: GET
      response:
        body: '{"datalabs":[{"id":"1c0a7701-764b-49f7-9d79-3ad797c3dff7","status":"ready","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_name","description":"","tags":[],"created_at":"2026-03-26T11:39:02.860650Z","updated_at":"2026-03-26T11:44:46.213359Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://1c0a7701-764b-49f7-9d79-3ad797c3dff7.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-1c0a7701-764b-49f7-9d79-3ad797c3dff7.d0432486-ef71-414c-9fcc-021be4d0e690.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"d0432486-ef71-414c-9fcc-021be4d0e690","notebook_master_url":"","region":"fr-par"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.37248ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/1c0a7701-764b-49f7-9d79-3ad797c3dff7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"1c0a7701-764b-49f7-9d79-3ad797c3dff7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.938955ms
[...]
