---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_update","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"67eca28e-6c70-4be3-a110-5a3b7683900c","name":"tf_tests_datalab_update","tags":[],"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","created_at":"2026-05-29T09:40:03.722323Z","updated_at":"2026-05-29T09:40:03.722323Z","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 460.891625ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/67eca28e-6c70-4be3-a110-5a3b7683900c
        method: GET
      response:
        body: '{"id":"67eca28e-6c70-4be3-a110-5a3b7683900c","name":"tf_tests_datalab_update","tags":[],"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","created_at":"2026-05-29T09:40:03.722323Z","updated_at":"2026-05-29T09:40:03.722323Z","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.546917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-admiring-shamir","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","tags":[],"subnets":null,"vpc_id":"67eca28e-6c70-4be3-a110-5a3b7683900c","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"542f157c-9959-4752-8fb8-64713a27533e","name":"tf-pn-admiring-shamir","tags":[],"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","created_at":"2026-05-29T09:40:04.110737Z","updated_at":"2026-05-29T09:40:04.110737Z","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnets":[{"id":"1238a99e-4f85-4a1f-9a98-f91ca6ab6f23","created_at":"2026-05-29T09:40:04.110737Z","updated_at":"2026-05-29T09:40:04.110737Z","subnet":"172.16.0.0/22","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_id":"542f157c-9959-4752-8fb8-64713a27533e","vpc_id":"67eca28e-6c70-4be3-a110-5a3b7683900c"},{"id":"17152fcc-39c2-474a-b841-e4d7d3696715","created_at":"2026-05-29T09:40:04.110737Z","updated_at":"2026-05-29T09:40:04.110737Z","subnet":"fd5d:9132:befe:cb91::/64","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_id":"542f157c-9959-4752-8fb8-64713a27533e","vpc_id":"67eca28e-6c70-4be3-a110-5a3b7683900c"}],"vpc_id":"67eca28e-6c70-4be3-a110-5a3b7683900c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 976.366042ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/542f157c-9959-4752-8fb8-64713a27533e
        method: GET
      response:
        body: '{"id":"542f157c-9959-4752-8fb8-64713a27533e","name":"tf-pn-admiring-shamir","tags":[],"organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","created_at":"2026-05-29T09:40:04.110737Z","updated_at":"2026-05-29T09:40:04.110737Z","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","subnets":[{"id":"1238a99e-4f85-4a1f-9a98-f91ca6ab6f23","created_at":"2026-05-29T09:40:04.110737Z","updated_at":"2026-05-29T09:40:04.110737Z","subnet":"172.16.0.0/22","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_id":"542f157c-9959-4752-8fb8-64713a27533e","vpc_id":"67eca28e-6c70-4be3-a110-5a3b7683900c"},{"id":"17152fcc-39c2-474a-b841-e4d7d3696715","created_at":"2026-05-29T09:40:04.110737Z","updated_at":"2026-05-29T09:40:04.110737Z","subnet":"fd5d:9132:befe:cb91::/64","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","private_network_id":"542f157c-9959-4752-8fb8-64713a27533e","vpc_id":"67eca28e-6c70-4be3-a110-5a3b7683900c"}],"vpc_id":"67eca28e-6c70-4be3-a110-5a3b7683900c","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.978667ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf_tests_datalab_update","description":"initial description","tags":["tag1"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"542f157c-9959-4752-8fb8-64713a27533e"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"478ebf54-6a73-467d-ba46-51a39654dd6a","status":"creating","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf_tests_datalab_update","description":"initial description","tags":["tag1"],"created_at":"2026-05-29T09:40:05.243549Z","updated_at":"2026-05-29T09:40:05.243549Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://478ebf54-6a73-467d-ba46-51a39654dd6a.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-478ebf54-6a73-467d-ba46-51a39654dd6a.542f157c-9959-4752-8fb8-64713a27533e.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"542f157c-9959-4752-8fb8-64713a27533e","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.064837875s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/478ebf54-6a73-467d-ba46-51a39654dd6a
        method: GET
      response:
        body: '{"id":"478ebf54-6a73-467d-ba46-51a39654dd6a","status":"creating","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","name":"tf_tests_datalab_update","description":"initial description","tags":["tag1"],"created_at":"2026-05-29T09:40:05.243549Z","updated_at":"2026-05-29T09:40:05.243549Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://478ebf54-6a73-467d-ba46-51a39654dd6a.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-478ebf54-6a73-467d-ba46-51a39654dd6a.542f157c-9959-4752-8fb8-64713a27533e.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"542f157c-9959-4752-8fb8-64713a27533e","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.455708ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/478ebf54-6a73-467d-ba46-51a39654dd6a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"478ebf54-6a73-467d-ba46-51a39654dd6a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.759791ms
[...]
