---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalabs_ds_basic","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"4eb78672-f8f2-436b-b87c-f3332f7b0265","name":"tf_tests_datalabs_ds_basic","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.558454Z","updated_at":"2026-03-26T11:30:00.558454Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.068783ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4eb78672-f8f2-436b-b87c-f3332f7b0265
        method: GET
      response:
        body: '{"id":"4eb78672-f8f2-436b-b87c-f3332f7b0265","name":"tf_tests_datalabs_ds_basic","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.558454Z","updated_at":"2026-03-26T11:30:00.558454Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.484444ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-beautiful-lovelace","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"4eb78672-f8f2-436b-b87c-f3332f7b0265","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"6da7884d-b156-4286-a6c6-4106e34df100","name":"tf-pn-beautiful-lovelace","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.699375Z","updated_at":"2026-03-26T11:30:00.699375Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"6c49683f-81f0-4c57-99b1-c42c1477813d","created_at":"2026-03-26T11:30:00.699375Z","updated_at":"2026-03-26T11:30:00.699375Z","subnet":"172.16.12.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"6da7884d-b156-4286-a6c6-4106e34df100","vpc_id":"4eb78672-f8f2-436b-b87c-f3332f7b0265"},{"id":"b8089b94-73ab-4dce-82f7-a41f66231036","created_at":"2026-03-26T11:30:00.699375Z","updated_at":"2026-03-26T11:30:00.699375Z","subnet":"fd40:e277:fdde:bcd::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"6da7884d-b156-4286-a6c6-4106e34df100","vpc_id":"4eb78672-f8f2-436b-b87c-f3332f7b0265"}],"vpc_id":"4eb78672-f8f2-436b-b87c-f3332f7b0265","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 842.672093ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6da7884d-b156-4286-a6c6-4106e34df100
        method: GET
      response:
        body: '{"id":"6da7884d-b156-4286-a6c6-4106e34df100","name":"tf-pn-beautiful-lovelace","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:30:00.699375Z","updated_at":"2026-03-26T11:30:00.699375Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"6c49683f-81f0-4c57-99b1-c42c1477813d","created_at":"2026-03-26T11:30:00.699375Z","updated_at":"2026-03-26T11:30:00.699375Z","subnet":"172.16.12.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"6da7884d-b156-4286-a6c6-4106e34df100","vpc_id":"4eb78672-f8f2-436b-b87c-f3332f7b0265"},{"id":"b8089b94-73ab-4dce-82f7-a41f66231036","created_at":"2026-03-26T11:30:00.699375Z","updated_at":"2026-03-26T11:30:00.699375Z","subnet":"fd40:e277:fdde:bcd::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"6da7884d-b156-4286-a6c6-4106e34df100","vpc_id":"4eb78672-f8f2-436b-b87c-f3332f7b0265"}],"vpc_id":"4eb78672-f8f2-436b-b87c-f3332f7b0265","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.305254ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_basic","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"6da7884d-b156-4286-a6c6-4106e34df100"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"5eaf5a73-25f3-4cc6-9d82-70685974e831","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_basic","description":"","tags":[],"created_at":"2026-03-26T11:30:01.652478Z","updated_at":"2026-03-26T11:30:01.652478Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://5eaf5a73-25f3-4cc6-9d82-70685974e831.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-5eaf5a73-25f3-4cc6-9d82-70685974e831.6da7884d-b156-4286-a6c6-4106e34df100.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"6da7884d-b156-4286-a6c6-4106e34df100","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 667.629033ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/5eaf5a73-25f3-4cc6-9d82-70685974e831
        method: GET
      response:
        body: '{"id":"5eaf5a73-25f3-4cc6-9d82-70685974e831","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalabs_ds_basic","description":"","tags":[],"created_at":"2026-03-26T11:30:01.652478Z","updated_at":"2026-03-26T11:30:01.652478Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://5eaf5a73-25f3-4cc6-9d82-70685974e831.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-5eaf5a73-25f3-4cc6-9d82-70685974e831.6da7884d-b156-4286-a6c6-4106e34df100.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"6da7884d-b156-4286-a6c6-4106e34df100","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.907999ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        form:
            order_by:
                - name_asc
            page:
                - "1"
            page_size:
                - "100"
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs?order_by=name_asc&page=1&page_size=100
        method: GET
      response:
        body: '{"datalabs":[{"id":"a95f64a0-aac2-448d-8e6e-3e33ad795cd4","status":"error","project_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","name":"tf-test-lower","description":"","tags":[],"created_at":"2026-03-20T18:03:19.423808Z","updated_at":"2026-03-25T13:01:47.946037Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://a95f64a0-aac2-448d-8e6e-3e33ad795cd4.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-a95f64a0-aac2-448d-8e6e-3e33ad795cd4.08e54e14-d2a4-4020-b8d3-77a1aac8c40f.i[...]
[...]
    - id: 56
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/5eaf5a73-25f3-4cc6-9d82-70685974e831
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"5eaf5a73-25f3-4cc6-9d82-70685974e831","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.696205ms
[...]
