---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_basic","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"1ef8336c-285e-4613-beae-907c50e4120f","name":"tf_tests_datalab_basic","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.506906Z","updated_at":"2026-03-26T11:08:52.506906Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.226449ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1ef8336c-285e-4613-beae-907c50e4120f
        method: GET
      response:
        body: '{"id":"1ef8336c-285e-4613-beae-907c50e4120f","name":"tf_tests_datalab_basic","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.506906Z","updated_at":"2026-03-26T11:08:52.506906Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.413293ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-objective-napier","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"1ef8336c-285e-4613-beae-907c50e4120f","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","name":"tf-pn-objective-napier","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.701127Z","updated_at":"2026-03-26T11:08:52.701127Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"b906e043-9336-4ed5-8286-dc3c0da5a4ad","created_at":"2026-03-26T11:08:52.701127Z","updated_at":"2026-03-26T11:08:52.701127Z","subnet":"172.16.0.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","vpc_id":"1ef8336c-285e-4613-beae-907c50e4120f"},{"id":"55d2a007-b3df-402c-a0eb-94f186a14b36","created_at":"2026-03-26T11:08:52.701127Z","updated_at":"2026-03-26T11:08:52.701127Z","subnet":"fd40:e277:fdde:9a22::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","vpc_id":"1ef8336c-285e-4613-beae-907c50e4120f"}],"vpc_id":"1ef8336c-285e-4613-beae-907c50e4120f","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.643171428s
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8748c884-d99a-4058-a16c-b83a72c2f4e5
        method: GET
      response:
        body: '{"id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","name":"tf-pn-objective-napier","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:08:52.701127Z","updated_at":"2026-03-26T11:08:52.701127Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"b906e043-9336-4ed5-8286-dc3c0da5a4ad","created_at":"2026-03-26T11:08:52.701127Z","updated_at":"2026-03-26T11:08:52.701127Z","subnet":"172.16.0.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","vpc_id":"1ef8336c-285e-4613-beae-907c50e4120f"},{"id":"55d2a007-b3df-402c-a0eb-94f186a14b36","created_at":"2026-03-26T11:08:52.701127Z","updated_at":"2026-03-26T11:08:52.701127Z","subnet":"fd40:e277:fdde:9a22::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","vpc_id":"1ef8336c-285e-4613-beae-907c50e4120f"}],"vpc_id":"1ef8336c-285e-4613-beae-907c50e4120f","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.872213ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_basic","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"8748c884-d99a-4058-a16c-b83a72c2f4e5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"cd5a1b92-8dca-4280-90c0-2c7528f3dc98","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_basic","description":"","tags":[],"created_at":"2026-03-26T11:08:54.606552Z","updated_at":"2026-03-26T11:08:54.606552Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://cd5a1b92-8dca-4280-90c0-2c7528f3dc98.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-cd5a1b92-8dca-4280-90c0-2c7528f3dc98.8748c884-d99a-4058-a16c-b83a72c2f4e5.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 848.839255ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/cd5a1b92-8dca-4280-90c0-2c7528f3dc98
        method: GET
      response:
        body: '{"id":"cd5a1b92-8dca-4280-90c0-2c7528f3dc98","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_basic","description":"","tags":[],"created_at":"2026-03-26T11:08:54.606552Z","updated_at":"2026-03-26T11:08:54.606552Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://cd5a1b92-8dca-4280-90c0-2c7528f3dc98.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-cd5a1b92-8dca-4280-90c0-2c7528f3dc98.8748c884-d99a-4058-a16c-b83a72c2f4e5.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"8748c884-d99a-4058-a16c-b83a72c2f4e5","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.825598ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/cd5a1b92-8dca-4280-90c0-2c7528f3dc98
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"cd5a1b92-8dca-4280-90c0-2c7528f3dc98","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.509908ms
[...]
