---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_ds_by_id","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7","name":"tf_tests_datalab_ds_by_id","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:14.936395Z","updated_at":"2026-03-26T11:21:14.936395Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.247298ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/71a53def-f2cc-43d7-ad53-0cbb035ffcd7
        method: GET
      response:
        body: '{"id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7","name":"tf_tests_datalab_ds_by_id","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:14.936395Z","updated_at":"2026-03-26T11:21:14.936395Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.868661ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-sharp-mccarthy","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"3589ad86-bbef-457e-bc57-7e355a773820","name":"tf-pn-sharp-mccarthy","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:15.091800Z","updated_at":"2026-03-26T11:21:15.091800Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"b6259fb5-5b1f-4883-a33e-7c548bdb1f1e","created_at":"2026-03-26T11:21:15.091800Z","updated_at":"2026-03-26T11:21:15.091800Z","subnet":"172.16.8.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"3589ad86-bbef-457e-bc57-7e355a773820","vpc_id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7"},{"id":"928991f7-a406-4312-b10b-f4cbb268ef97","created_at":"2026-03-26T11:21:15.091800Z","updated_at":"2026-03-26T11:21:15.091800Z","subnet":"fd40:e277:fdde:b5::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"3589ad86-bbef-457e-bc57-7e355a773820","vpc_id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7"}],"vpc_id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 824.845003ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3589ad86-bbef-457e-bc57-7e355a773820
        method: GET
      response:
        body: '{"id":"3589ad86-bbef-457e-bc57-7e355a773820","name":"tf-pn-sharp-mccarthy","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:15.091800Z","updated_at":"2026-03-26T11:21:15.091800Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"b6259fb5-5b1f-4883-a33e-7c548bdb1f1e","created_at":"2026-03-26T11:21:15.091800Z","updated_at":"2026-03-26T11:21:15.091800Z","subnet":"172.16.8.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"3589ad86-bbef-457e-bc57-7e355a773820","vpc_id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7"},{"id":"928991f7-a406-4312-b10b-f4cbb268ef97","created_at":"2026-03-26T11:21:15.091800Z","updated_at":"2026-03-26T11:21:15.091800Z","subnet":"fd40:e277:fdde:b5::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"3589ad86-bbef-457e-bc57-7e355a773820","vpc_id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7"}],"vpc_id":"71a53def-f2cc-43d7-ad53-0cbb035ffcd7","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.237381ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_ds_by_id","description":"test datalab for data source by id","tags":["ds-test"],"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"3589ad86-bbef-457e-bc57-7e355a773820"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"0196e41a-0381-455f-9a99-9a6945293567","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_ds_by_id","description":"test datalab for data source by id","tags":["ds-test"],"created_at":"2026-03-26T11:21:16.085672Z","updated_at":"2026-03-26T11:21:16.085672Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://0196e41a-0381-455f-9a99-9a6945293567.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-0196e41a-0381-455f-9a99-9a6945293567.3589ad86-bbef-457e-bc57-7e355a773820.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"3589ad86-bbef-457e-bc57-7e355a773820","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.247786869s
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/0196e41a-0381-455f-9a99-9a6945293567
        method: GET
      response:
        body: '{"id":"0196e41a-0381-455f-9a99-9a6945293567","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_ds_by_id","description":"test datalab for data source by id","tags":["ds-test"],"created_at":"2026-03-26T11:21:16.085672Z","updated_at":"2026-03-26T11:21:16.085672Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://0196e41a-0381-455f-9a99-9a6945293567.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-0196e41a-0381-455f-9a99-9a6945293567.3589ad86-bbef-457e-bc57-7e355a773820.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"3589ad86-bbef-457e-bc57-7e355a773820","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.73108ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/0196e41a-0381-455f-9a99-9a6945293567
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"0196e41a-0381-455f-9a99-9a6945293567","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.534813ms
[...]
