---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_import","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6","name":"tf_tests_datalab_import","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:14.915361Z","updated_at":"2026-03-26T11:21:14.915361Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.140529ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/29f1336a-848c-45b3-a2d8-37fa0492c0e6
        method: GET
      response:
        body: '{"id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6","name":"tf_tests_datalab_import","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:14.915361Z","updated_at":"2026-03-26T11:21:14.915361Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","is_default":false,"private_network_count":0,"routing_enabled":true,"custom_routes_propagation_enabled":true,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.721309ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-confident-thompson","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","tags":[],"subnets":null,"vpc_id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"10002fd4-8aed-442e-96e6-1615dc721df4","name":"tf-pn-confident-thompson","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:15.247998Z","updated_at":"2026-03-26T11:21:15.247998Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"f5f29390-309a-41cf-a8ea-b388edbf4b9f","created_at":"2026-03-26T11:21:15.247998Z","updated_at":"2026-03-26T11:21:15.247998Z","subnet":"172.16.0.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"10002fd4-8aed-442e-96e6-1615dc721df4","vpc_id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6"},{"id":"20fd42f8-fe2e-46a7-b70e-53ec6bd9868b","created_at":"2026-03-26T11:21:15.247998Z","updated_at":"2026-03-26T11:21:15.247998Z","subnet":"fd40:e277:fdde:500a::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"10002fd4-8aed-442e-96e6-1615dc721df4","vpc_id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6"}],"vpc_id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 832.618187ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/10002fd4-8aed-442e-96e6-1615dc721df4
        method: GET
      response:
        body: '{"id":"10002fd4-8aed-442e-96e6-1615dc721df4","name":"tf-pn-confident-thompson","tags":[],"organization_id":"6c298059-5271-47b4-a5ff-06b50cfa0ea8","created_at":"2026-03-26T11:21:15.247998Z","updated_at":"2026-03-26T11:21:15.247998Z","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","subnets":[{"id":"f5f29390-309a-41cf-a8ea-b388edbf4b9f","created_at":"2026-03-26T11:21:15.247998Z","updated_at":"2026-03-26T11:21:15.247998Z","subnet":"172.16.0.0/22","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"10002fd4-8aed-442e-96e6-1615dc721df4","vpc_id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6"},{"id":"20fd42f8-fe2e-46a7-b70e-53ec6bd9868b","created_at":"2026-03-26T11:21:15.247998Z","updated_at":"2026-03-26T11:21:15.247998Z","subnet":"fd40:e277:fdde:500a::/64","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","private_network_id":"10002fd4-8aed-442e-96e6-1615dc721df4","vpc_id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6"}],"vpc_id":"29f1336a-848c-45b3-a2d8-37fa0492c0e6","dhcp_enabled":true,"default_route_propagation_enabled":false,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.93188ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_import","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"10002fd4-8aed-442e-96e6-1615dc721df4"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"416ee08c-b051-4ae7-9116-338de8c851d2","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_import","description":"","tags":[],"created_at":"2026-03-26T11:21:16.037689Z","updated_at":"2026-03-26T11:21:16.037689Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://416ee08c-b051-4ae7-9116-338de8c851d2.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-416ee08c-b051-4ae7-9116-338de8c851d2.10002fd4-8aed-442e-96e6-1615dc721df4.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"10002fd4-8aed-442e-96e6-1615dc721df4","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 652.900181ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/416ee08c-b051-4ae7-9116-338de8c851d2
        method: GET
      response:
        body: '{"id":"416ee08c-b051-4ae7-9116-338de8c851d2","status":"creating","project_id":"473b66fe-d8f4-4cc5-a3ff-0e98eab4b3f1","name":"tf_tests_datalab_import","description":"","tags":[],"created_at":"2026-03-26T11:21:16.037689Z","updated_at":"2026-03-26T11:21:16.037689Z","main":{"node_type":"DATALAB-SHARED-4C-8G","spark_ui_url":"https://416ee08c-b051-4ae7-9116-338de8c851d2.ddl.fr-par.scw.cloud:4040","spark_master_url":"spark://master-datalab-416ee08c-b051-4ae7-9116-338de8c851d2.10002fd4-8aed-442e-96e6-1615dc721df4.internal:7077","root_volume":{"type":"sbs_5k","size":50000000000}},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1,"root_volume":{"type":"sbs_5k","size":50000000000}},"has_notebook":false,"notebook_url":"","spark_version":"4.0.0","total_storage":{"type":"unknown_type","size":0},"private_network_id":"10002fd4-8aed-442e-96e6-1615dc721df4","notebook_master_url":"","region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.220541ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/416ee08c-b051-4ae7-9116-338de8c851d2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"416ee08c-b051-4ae7-9116-338de8c851d2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.459012ms
[...]
