---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_datalab_worker","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac", "name":"tf_tests_datalab_worker", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.731860Z", "updated_at":"2026-06-10T04:21:49.731860Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.814125ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac
        method: GET
      response:
        body: '{"id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac", "name":"tf_tests_datalab_worker", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:49.731860Z", "updated_at":"2026-06-10T04:21:49.731860Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "is_default":false, "private_network_count":0, "routing_enabled":true, "custom_routes_propagation_enabled":true, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.309458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-epic-blackburn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac","default_route_propagation_enabled":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "name":"tf-pn-epic-blackburn", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:54.162137Z", "updated_at":"2026-06-10T04:21:54.162137Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"eb1fbf01-fdd7-41d2-86ba-138a8c8845e9", "created_at":"2026-06-10T04:21:54.162137Z", "updated_at":"2026-06-10T04:21:54.162137Z", "subnet":"172.30.20.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "vpc_id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac"}, {"id":"ed010d70-4766-43b0-a5c0-8bdb499038ec", "created_at":"2026-06-10T04:21:54.162137Z", "updated_at":"2026-06-10T04:21:54.162137Z", "subnet":"fd5f:519c:6d46:838::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "vpc_id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac"}], "vpc_id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 824.795625ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79
        method: GET
      response:
        body: '{"id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "name":"tf-pn-epic-blackburn", "tags":[], "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-10T04:21:54.162137Z", "updated_at":"2026-06-10T04:21:54.162137Z", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "subnets":[{"id":"eb1fbf01-fdd7-41d2-86ba-138a8c8845e9", "created_at":"2026-06-10T04:21:54.162137Z", "updated_at":"2026-06-10T04:21:54.162137Z", "subnet":"172.30.20.0/22", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "vpc_id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac"}, {"id":"ed010d70-4766-43b0-a5c0-8bdb499038ec", "created_at":"2026-06-10T04:21:54.162137Z", "updated_at":"2026-06-10T04:21:54.162137Z", "subnet":"fd5f:519c:6d46:838::/64", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "private_network_id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "vpc_id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac"}], "vpc_id":"6ed0fc63-21fd-4c6e-b263-d1d0f85d59ac", "dhcp_enabled":true, "default_route_propagation_enabled":false, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.395625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_datalab_worker","description":"","tags":null,"main":{"node_type":"DATALAB-SHARED-4C-8G"},"worker":{"node_type":"DATALAB-DEDICATED2-2C-8G","node_count":1},"has_notebook":false,"spark_version":"4.0.0","private_network_id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs
        method: POST
      response:
        body: '{"id":"b5bded14-c5fe-4f49-a66e-355132c22e68", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_worker", "description":"", "tags":[], "created_at":"2026-06-10T04:21:55.228414Z", "updated_at":"2026-06-10T04:21:55.228414Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://b5bded14-c5fe-4f49-a66e-355132c22e68.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-b5bded14-c5fe-4f49-a66e-355132c22e68.08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 486.937ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/b5bded14-c5fe-4f49-a66e-355132c22e68
        method: GET
      response:
        body: '{"id":"b5bded14-c5fe-4f49-a66e-355132c22e68", "status":"creating", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_datalab_worker", "description":"", "tags":[], "created_at":"2026-06-10T04:21:55.228414Z", "updated_at":"2026-06-10T04:21:55.228414Z", "main":{"node_type":"DATALAB-SHARED-4C-8G", "spark_ui_url":"https://b5bded14-c5fe-4f49-a66e-355132c22e68.ddl.fr-par.scw.cloud:4040", "spark_master_url":"spark://master-datalab-b5bded14-c5fe-4f49-a66e-355132c22e68.08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79.internal:7077", "root_volume":{"type":"sbs_5k", "size":50000000000}}, "worker":{"node_type":"DATALAB-DEDICATED2-2C-8G", "node_count":1, "root_volume":{"type":"sbs_5k", "size":50000000000}}, "has_notebook":false, "notebook_url":"", "spark_version":"4.0.0", "total_storage":{"type":"unknown_type", "size":0}, "private_network_id":"08e0caf2-7b38-42e3-8a72-8d4bcbd0ad79", "notebook_master_url":"", "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.982583ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/datalab/v1beta1/regions/fr-par/datalabs/b5bded14-c5fe-4f49-a66e-355132c22e68
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"datalab","resource_id":"b5bded14-c5fe-4f49-a66e-355132c22e68","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.128375ms
[...]
