{{- /*gotype: tftemplate/models.ResourceTemplate*/ -}}
package {{.API}}_test

import (
	"testing"

	"github.com/hashicorp/terraform-plugin-testing/helper/resource"
)

func TestAccDataSource{{.Resource}}_Basic(t *testing.T) {
	tt := acctest.NewTestTools(t)
	defer tt.Cleanup()
	resource.ParallelTest(t, resource.TestCase{
		PreCheck:          func() { testAccPreCheck(t) },
		ProviderFactories: tt.ProviderFactories,
		CheckDestroy: resource.ComposeTestCheckFunc(
			testAccCheck{{.Resource}}Destroy(tt),
		),
		Steps: []resource.TestStep{
			{
				Config: `
					resource scaleway_{{.ResourceHCL}} main {
  						name = "test-ds-{{.API}}-{{ .ResourceCleanLow}}-basic"
					}

					data scaleway_{{.ResourceHCL}} find_by_name {
						name = scaleway_{{.ResourceHCL}}.main.name
					}

					data scaleway_{{.ResourceHCL}} find_by_id {
						{{.ResourceCleanLow}}_id = scaleway_{{.ResourceHCL}}.main.id
					}
				`,
				Check: resource.ComposeTestCheckFunc(
					testAccCheck{{.Resource}}Exists(tt, "scaleway_{{.ResourceHCL}}.main"),

					resource.TestCheckResourceAttrPair("scaleway_{{.ResourceHCL}}.main", "name", "data.scaleway_{{.ResourceHCL}}.find_by_name", "name"),
					resource.TestCheckResourceAttrPair("scaleway_{{.ResourceHCL}}.main", "name", "data.scaleway_{{.ResourceHCL}}.find_by_id", "name"),
					resource.TestCheckResourceAttrPair("scaleway_{{.ResourceHCL}}.main", "id", "data.scaleway_{{.ResourceHCL}}.find_by_name", "id"),
					resource.TestCheckResourceAttrPair("scaleway_{{.ResourceHCL}}.main", "id", "data.scaleway_{{.ResourceHCL}}.find_by_id", "id"),
				),
			},
		},
	})
}
