{{- /*gotype: tftemplate/models.ResourceTemplate*/ -}}
package scaleway

import (
    "github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
    "github.com/scaleway/scaleway-sdk-go/scw"
)

// {{.API}}APIWith{{.LocalityUpper}} returns a new {{.API}} API and the {{.Locality}} for a Create request
func {{.API}}APIWith{{.LocalityUpper}}(d *schema.ResourceData, m interface{}) (*{{.API}}.API, scw.{{.LocalityUpper}}, error) {
    meta := m.(*Meta)
    {{.API}}API := {{.API}}.NewAPI(meta.scwClient)

    {{.Locality}}, err := extract{{.LocalityUpper}}(d, meta)
    if err != nil {
        return nil, "", err
    }

    return {{.API}}API, {{.Locality}}, nil
}

// {{.API}}APIWith{{.LocalityAdjectiveUpper}}AndID returns a new {{.API }} API with {{.Locality}} and ID extracted from the state
func {{.API}}APIWith{{.LocalityUpper}}AndID(m interface{}, {{.LocalityAdjective}}ID string) (*{{.API}}.API, scw.{{.LocalityUpper}}, string, error) {
    meta := m.(*Meta)
    {{.API}}API := {{.API}}.NewAPI(meta.scwClient)

    {{.Locality}}, ID, err := parse{{.LocalityAdjectiveUpper}}ID({{.LocalityAdjective}}ID)
    if err != nil {
        return nil, "", "", err
    }

    return {{.API}}API, {{.Locality}}, ID, nil
}

