{{- /*gotype: tftemplate/models.ResourceTemplate*/ -}}
package {{.API}}

import (
	"context"

	"github.com/hashicorp/terraform-plugin-sdk/v2/diag"
	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
	"github.com/scaleway/scaleway-sdk-go/scw"
	_ "time"
)

func Resource{{ .Resource }}() *schema.Resource {
	return &schema.Resource{
		CreateContext: Resource{{ .Resource }}Create,
		ReadContext:   Resource{{ .Resource }}Read,
		UpdateContext: Resource{{ .Resource }}Update,
		DeleteContext: Resource{{ .Resource }}Delete,
		Importer: &schema.ResourceImporter{
			StateContext: schema.ImportStatePassthroughContext,
		},
		Timeouts: &schema.ResourceTimeout{ // TODO: remove unused timeouts
			Create: schema.DefaultTimeout(default{{.APIFirstLetterUpper}}{{.Resource}}Timeout),
			Read:   schema.DefaultTimeout(default{{.APIFirstLetterUpper}}{{.Resource}}Timeout),
			Update: schema.DefaultTimeout(default{{.APIFirstLetterUpper}}{{.Resource}}Timeout),
			Delete: schema.DefaultTimeout(default{{.APIFirstLetterUpper}}{{.Resource}}Timeout),
			Default: schema.DefaultTimeout(default{{.APIFirstLetterUpper}}{{.Resource}}Timeout),
		},
		SchemaVersion: 0,
		Schema: map[string]*schema.Schema{
			"name": {
				Type:        schema.TypeString,
				Computed:    true,
				Optional:    true,
				Description: "The {{ .ResourceCleanLow }} name",
			},
			"{{ .Locality }}":          {{.LocalityAdjective}}.Schema(),
			"project_id":      account.ProjectIDSchema(),
			"organization_id": account.OrganizationIDSchema(),
		},
	}
}

func Resource{{ .Resource }}Create(ctx context.Context, d *schema.ResourceData, m interface{}) diag.Diagnostics {
	api, {{ .Locality }}, err := newAPIWith{{ .LocalityUpper }}(d, m)
	if err != nil {
		return diag.FromErr(err)
	}

	req := &{{ .API }}.Create{{ .ResourceClean }}Request{
			{{.LocalityUpper}}: {{.Locality}},
			ProjectID: types.ExpandStringPtr(d.Get("project_id").(string)),
			Name: types.ExpandOrGenerateString(d.Get("name").(string), "{{ .ResourceCleanLow }}"),
	}

	{{ .ResourceCleanLow }}, err := api.Create{{.ResourceClean}}(req, scw.WithContext(ctx))
	if err != nil {
		return diag.FromErr(err)
	}

	d.SetId({{.LocalityAdjective}}.NewIDString({{ .Locality }}, {{ .ResourceCleanLow }}.ID))

{{if .SupportWaiters}}
	_, err = waitFor{{ .Resource }}(ctx, api, {{ .Locality }}, {{ .ResourceCleanLow }}.ID, d.Timeout(schema.TimeoutCreate))
	if err != nil {
		return diag.FromErr(err)
	}
{{end}}

	return Resource{{ .Resource }}Read(ctx, d, m)
}

func Resource{{ .Resource }}Read(ctx context.Context, d *schema.ResourceData, m interface{}) diag.Diagnostics {
	api, id, zone, err := NewAPIWith{{ .LocalityUpper }}AndID(m, d.Id())
	if err != nil {
		return diag.FromErr(err)
	}

{{if .SupportWaiters}}
	{{ .ResourceCleanLow }}, err := waitFor{{ .Resource }}(ctx, api, {{ .Locality }}, id, d.Timeout(schema.TimeoutRead))
{{- else}}
	{{.ResourceCleanLow}}, err = api.Get{{.ResourceClean}}(&{{ .API }}.Get{{.ResourceClean}}Request
	{
		{{.ResourceClean}}ID: id,
		{{.LocalityUpper}}: {{.Locality}},
	}, scw.WithContext(ctx))
{{- end }}
	if err != nil {
		if httperrors.Is404(err) {
			d.SetId("")
			return nil
		}
		return diag.FromErr(err)
	}

	_ = d.Set("name", {{ .ResourceCleanLow }}.Name)
	_ = d.Set("{{.Locality}}", {{.ResourceCleanLow}}.{{.LocalityUpper}})
	_ = d.Set("project_id", {{.ResourceCleanLow}}.ProjectID)

	return nil
}

func Resource{{ .Resource }}Update(ctx context.Context, d *schema.ResourceData, m interface{}) diag.Diagnostics {
	api, {{ .Locality }}, id, err := NewAPIWith{{ .LocalityUpper }}AndID(m, d.Id())
	if err != nil {
		return diag.FromErr(err)
	}
{{if .SupportWaiters }}
	{{ .ResourceCleanLow }}, err := waitFor{{ .Resource }}(ctx, api, {{ .Locality }}, id, d.Timeout(schema.TimeoutUpdate))
	if err != nil {
		if httperrors.Is404(err) {
			d.SetId("")
			return nil
		}
		return diag.FromErr(err)
	}
{{- end}}
	req := &{{ .API }}.Update{{ .ResourceClean }}Request{
		{{ .LocalityUpper }}:      {{.Locality}},
		{{ .ResourceClean }}ID: {{if .SupportWaiters}}{{ .ResourceCleanLow }}.ID{{else}}id{{end}},
	}

	if d.HasChange("name") {
		req.Name = types.ExpandUpdatedStringPtr(d.Get("name"))
	}

	if _, err := api.Update{{ .ResourceClean }}(req, scw.WithContext(ctx)); err != nil {
		return diag.FromErr(err)
	}

	return Resource{{ .Resource }}Read(ctx, d, m)
}

func Resource{{ .Resource }}Delete(ctx context.Context, d *schema.ResourceData, m interface{}) diag.Diagnostics {
	api, {{ .Locality }}, id, err := NewAPIWith{{ .LocalityUpper }}AndID(m, d.Id())
	if err != nil {
		return diag.FromErr(err)
	}
{{if .SupportWaiters}}
	_, err = waitFor{{ .Resource }}(ctx, api, {{ .Locality }}, id, d.Timeout(schema.TimeoutDelete))
	if err != nil {
		return diag.FromErr(err)
	}
{{- end}}
	_, err = api.Delete{{ .ResourceClean }}(&{{ .API }}.Delete{{ .ResourceClean}}Request{
		{{ .LocalityUpper }}:      {{ .Locality }},
		{{ .ResourceClean }}ID: id,
	}, scw.WithContext(ctx))
	if err != nil {
		return diag.FromErr(err)
	}

{{- if .SupportWaiters}}
	_, err = waitFor{{ .Resource }}(ctx, api, {{ .Locality }}, id, d.Timeout(schema.TimeoutDelete))
	if err != nil && !httperrors.Is404(err) {
		return diag.FromErr(err)
	}
{{- end}}

	return nil
}
