{{- /*gotype: tftemplate/models.ResourceTemplate*/ -}}
package {{.API}}testfuncs

import (
	"fmt"

	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource"
)

func init() {
	{{.API}}testfuncs.AddTestSweepers()
}

func TestMain(m *testing.M) {
	resource.TestMain(m)
}

