{{- /*gotype: tftemplate/models.ResourceTemplate*/ -}}
package {{.API}}

import (
    "github.com/scaleway/terraform-provider-scaleway/v2/internal/transport"
    "github.com/scaleway/scaleway-sdk-go/scw"
)

func waitFor{{.Resource}}(ctx context.Context, {{.API}}API *{{.API}}.API, {{.Locality}} scw.{{.LocalityUpper}}, id string, timeout time.Duration) (*{{.API}}.{{.ResourceClean}}, error) {
    retryInterval := default{{.ResourceClean}}RetryInterval
    if DefaultWaitRetryInterval != nil {
        retryInterval = *DefaultWaitRetryInterval
    }

    {{.ResourceCleanLow}}, err := {{.API}}API.WaitFor{{.ResourceClean}}(&{{.API}}.WaitFor{{.ResourceClean}}Request{
        {{.LocalityUpper}}:        {{.Locality}},
        {{.ResourceClean}}ID:   id,
        RetryInterval: &retryInterval,
        Timeout:       scw.TimeDurationPtr(timeout),
    }, scw.WithContext(ctx))

    return {{.ResourceCleanLow}}, err
}