name: Documentation Checks

permissions:
  contents: read

on:
  push:
    branches:
      - master
  merge_group:
  pull_request:
    paths:
      - .markdownlinkcheck.json
      - .markdownlint.yml
      - .github/workflows/documentation.yml
      - docs/**

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: tcort/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          config-file: '.markdownlinkcheck.json'
          folder-path: 'docs'
          file-extension: '.md'
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: avto-dev/markdown-lint@v1.5.0
        with:
          config: '.markdownlint.yml'
          args: 'docs templates/** README.md TESTING.md'
  misspell:
    runs-on: ubuntu-latest
    steps:
      # Checkout should always be before setup-go to ensure caching is working
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: actions/cache@v4
        continue-on-error: true
        timeout-minutes: 2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}
      - run: go install github.com/client9/misspell/cmd/misspell@latest
      - run: misspell -error -source text docs/

  tfplugindocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
      - run: go tool tfplugindocs validate
      - run: rm -fr ./docs
      - run: go tool tfplugindocs generate
      - run: git diff --exit-code docs
