name: Nightly Acceptance Tests

permissions:
  contents: read

on:
  schedule:
    # Will run at 00:00 every day
    - cron: "0 0 * * *"

jobs:
  nightly:
    strategy:
      fail-fast: false
      matrix:
        products:
          - account
          - applesilicon
          - audittrail
          - autoscaling
          - az
          - baremetal
          - billing
          - block
          - cockpit
          - container
          - datawarehouse
          - domain
          - edgeservices
          - file
          - flexibleip
          - function
          - iam
          - inference
          - instance
          - iot
          - ipam
          - jobs
          - k8s
          - keymanager
          - lb
          - marketplace
          - mnq
          - mongodb
          - object
          - rdb
          - redis
          - registry
          - s2svpn
          - sdb
          - secret
          - tem
          - vpc
          - vpcgw
          - webhosting
    runs-on: ubuntu-latest
    steps:
      # Checkout should always be before setup-go to ensure caching is working
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
      - name: Run Acceptance Tests
        run: go tool gotestsum --format github-actions -- -v ./internal/services/${{ matrix.products }} -timeout=4h
        env:
          TF_LOG: DEBUG
          # https://www.terraform.io/docs/extend/testing/acceptance-tests/index.html#running-acceptance-tests
          TF_ACC: 1
          # Enable recording with the cassette system. By doing so, we ensure that real HTTPS requests are made.
          TF_UPDATE_CASSETTES: true
          TF_TEST_DOMAIN: scaleway-terraform.com
          TF_TEST_DOMAIN_ZONE: tf
          SCW_DEBUG: 1
          SCW_ACCESS_KEY: ${{ secrets.SCW_ACCESS_KEY }}
          SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
          SCW_DEFAULT_ORGANIZATION_ID: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
          SCW_DEFAULT_PROJECT_ID: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          # Having long retry intervals will ensure that we have few requests done while waiting on call to complete (using time.ParseDuration)
          TF_RETRY_DELAY: 30s
      - name: Ping on failure
        if: ${{ failure() }}
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{
          	"blocks": [
              {
                "type": "section",
                "text": {
                    "type": "mrkdwn",
                    "text": "'"Terraform Nightly workflow failed: <https://github.com/scaleway/terraform-provider-scaleway/actions/runs/${GITHUB_RUN_ID}|${FAILED_PRODUCT}>"'"
                  }
              }
            ]
          }' \
          ${SLACK_WEBHOOK_NIGHTLY};
        env:
          SLACK_WEBHOOK_NIGHTLY: ${{ secrets.SLACK_WEBHOOK_NIGHTLY }}
          FAILED_PRODUCT: ${{ matrix.products }}
      - name: Run acceptance test for cassettes
        if: success() || failure() # If the job is not cancelled, run it regardless of the result of the previous step
        run: go test -v github.com/scaleway/terraform-provider-scaleway/v2/internal/acctest -run TestAccCassettes_Validator

  # sweeper needs to run after nightly completed
  # no matter what are the results of the jobs
  sweeper:
    runs-on: ubuntu-latest
    needs: nightly
    if: always()
    steps:
      # Checkout should always be before setup-go to ensure caching is working
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
      - name: Install Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: Run sweepers
        run: make sweep
        env:
          TF_TEST_DOMAIN: scaleway-terraform.com
          SCW_ACCESS_KEY: ${{ secrets.SCW_ACCESS_KEY }}
          SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
          SCW_DEFAULT_ORGANIZATION_ID: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
          SCW_DEFAULT_PROJECT_ID: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
