name: Tests

permissions:
  contents: read

on:
  pull_request:
  merge_group:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    # Checkout should always be before setup-go to ensure caching is working
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: stable
    - name: Install Terraform
      uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
    - name: Build binaries
      run: make build
    - name: Verify go.mod is tidy
      run: |
        go mod tidy
        git diff --exit-code
    - name: Run unit tests
      run: make test
    - name: Check with go vet
      run: make vet
