---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-27T14:36:21.829165Z","description":"","id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-27T14:36:21.829165Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 354.688743ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ee21f22b-4319-4b3c-b3c8-8e964d8e5e04
        method: GET
      response:
        body: '{"created_at":"2024-08-27T14:36:21.829165Z","description":"","id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-27T14:36:21.829165Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.36096ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-08-27T14:36:22.235084127Z","project_id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-08-27T14:36:22.235084127Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.904697ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=ee21f22b-4319-4b3c-b3c8-8e964d8e5e04
        method: GET
      response:
        body: '{"created_at":"2024-08-27T14:36:22.235084Z","project_id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-08-27T14:36:22.235084Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.825233ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.935924ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"ee21f22b-4319-4b3c-b3c8-8e964d8e5e04","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.679929ms
