---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-15T09:21:15.306763Z","description":"","id":"dda848c0-133d-4ad5-84da-aa30c690e7b0","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-15T09:21:15.306763Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 707.45425ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/dda848c0-133d-4ad5-84da-aa30c690e7b0
        method: GET
      response:
        body: '{"created_at":"2026-04-15T09:21:15.306763Z","description":"","id":"dda848c0-133d-4ad5-84da-aa30c690e7b0","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-15T09:21:15.306763Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.772375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"dda848c0-133d-4ad5-84da-aa30c690e7b0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-04-15T09:21:15.945911233Z","project_id":"dda848c0-133d-4ad5-84da-aa30c690e7b0","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T09:21:15.945911233Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.226792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=dda848c0-133d-4ad5-84da-aa30c690e7b0
        method: GET
      response:
        body: '{"created_at":"2026-04-15T09:21:15.945911Z","project_id":"dda848c0-133d-4ad5-84da-aa30c690e7b0","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T09:21:15.945911Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.032834ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"dda848c0-133d-4ad5-84da-aa30c690e7b0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"dda848c0-133d-4ad5-84da-aa30c690e7b0","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.598959ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"dda848c0-133d-4ad5-84da-aa30c690e7b0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"dda848c0-133d-4ad5-84da-aa30c690e7b0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.061ms
