---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_ds_mnq_sns_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\",\"name\":\"tf_tests_ds_mnq_sns_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.996Z\",\"updated_at\":\"2025-08-26T16:28:57.996Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 631.635133ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/1196bc97-b668-42b9-b569-16549dfde9ce
    method: GET
  response:
    body: "{\"id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\",\"name\":\"tf_tests_ds_mnq_sns_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.996Z\",\"updated_at\":\"2025-08-26T16:28:57.996Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 204.401611ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: "{\"project_id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.725158503Z\",\"updated_at\":\"2025-08-26T16:28:58.725158503Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 297.517841ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 1196bc97-b668-42b9-b569-16549dfde9ce
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=1196bc97-b668-42b9-b569-16549dfde9ce
    method: GET
  response:
    body: "{\"project_id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.725158Z\",\"updated_at\":\"2025-08-26T16:28:58.725158Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.136877ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: "{\"project_id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 252.592398ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"MnqSNSNamespace\",\"resource_id\":\"1196bc97-b668-42b9-b569-16549dfde9ce\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.904017ms
