---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_ds_mnq_sqs_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"c6ea5402-3098-4dee-8310-ab2801062578\",\"name\":\"tf_tests_ds_mnq_sqs_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:58.276827Z\",\"updated_at\":\"2025-08-26T16:28:58.276827Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 424.892836ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/c6ea5402-3098-4dee-8310-ab2801062578
    method: GET
  response:
    body: "{\"id\":\"c6ea5402-3098-4dee-8310-ab2801062578\",\"name\":\"tf_tests_ds_mnq_sqs_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:58.276827Z\",\"updated_at\":\"2025-08-26T16:28:58.276827Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 202.899423ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"c6ea5402-3098-4dee-8310-ab2801062578\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"c6ea5402-3098-4dee-8310-ab2801062578\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.827640982Z\",\"updated_at\":\"2025-08-26T16:28:58.827640982Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 207.485214ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - c6ea5402-3098-4dee-8310-ab2801062578
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=c6ea5402-3098-4dee-8310-ab2801062578
    method: GET
  response:
    body: "{\"project_id\":\"c6ea5402-3098-4dee-8310-ab2801062578\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.827640Z\",\"updated_at\":\"2025-08-26T16:28:58.827640Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 196.357539ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"c6ea5402-3098-4dee-8310-ab2801062578\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"c6ea5402-3098-4dee-8310-ab2801062578\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 310.105503ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"c6ea5402-3098-4dee-8310-ab2801062578\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"MnqSQSNamespace\",\"resource_id\":\"c6ea5402-3098-4dee-8310-ab2801062578\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.508733ms
