---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.027300Z","description":"","id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:57.027300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 460.403709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7f2ca264-9747-4154-93ed-2a41c5b5eadf
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.027300Z","description":"","id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:57.027300Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.731834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.527813621Z","project_id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.527813621Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.030958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=7f2ca264-9747-4154-93ed-2a41c5b5eadf
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.527813Z","project_id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.527813Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.06575ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.642ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"7f2ca264-9747-4154-93ed-2a41c5b5eadf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.702375ms
