---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:00:28.743113Z","description":"","id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:00:28.743113Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 582.819417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8fe3f434-2a49-4fb0-984f-2f473ff081dc
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:00:28.743113Z","description":"","id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:00:28.743113Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.734166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:00:29.383667201Z","project_id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:00:29.383667201Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.47925ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=8fe3f434-2a49-4fb0-984f-2f473ff081dc
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:00:29.383667Z","project_id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:00:29.383667Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.214625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=8fe3f434-2a49-4fb0-984f-2f473ff081dc
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 38.738833ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"project_id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.995417ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"project_id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"8fe3f434-2a49-4fb0-984f-2f473ff081dc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.920584ms
