---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-08-27T14:27:10.244622Z","description":"","id":"7fcd768c-e291-4088-8d67-aba98e67e9c1","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-27T14:27:10.244622Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 558.970026ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7fcd768c-e291-4088-8d67-aba98e67e9c1
        method: GET
      response:
        body: '{"created_at":"2024-08-27T14:27:10.244622Z","description":"","id":"7fcd768c-e291-4088-8d67-aba98e67e9c1","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-08-27T14:27:10.244622Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.700011ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7fcd768c-e291-4088-8d67-aba98e67e9c1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-08-27T14:27:10.836519071Z","project_id":"7fcd768c-e291-4088-8d67-aba98e67e9c1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-08-27T14:27:10.836519071Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.914273ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=7fcd768c-e291-4088-8d67-aba98e67e9c1
        method: GET
      response:
        body: '{"created_at":"2024-08-27T14:27:10.836519Z","project_id":"7fcd768c-e291-4088-8d67-aba98e67e9c1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-08-27T14:27:10.836519Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.897481ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"7fcd768c-e291-4088-8d67-aba98e67e9c1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"7fcd768c-e291-4088-8d67-aba98e67e9c1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.365221ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"7fcd768c-e291-4088-8d67-aba98e67e9c1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"7fcd768c-e291-4088-8d67-aba98e67e9c1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.523809ms
