---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:03:02.130668Z","description":"","id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:03:02.130668Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 535.652416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a181a7f2-f32b-4ed7-ad31-13fd1e73d702
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:03:02.130668Z","description":"","id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:03:02.130668Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.366958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:03:02.550611008Z","project_id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:03:02.550611008Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.480958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=a181a7f2-f32b-4ed7-ad31-13fd1e73d702
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 35.201ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"project_id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.112791ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"project_id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"a181a7f2-f32b-4ed7-ad31-13fd1e73d702","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.383208ms
