---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.805083Z","description":"","id":"7ef2a636-c9b5-493b-bab5-b5fceb924998","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.805083Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 532.018916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/7ef2a636-c9b5-493b-bab5-b5fceb924998
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.805083Z","description":"","id":"7ef2a636-c9b5-493b-bab5-b5fceb924998","name":"tf_tests_ds_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.805083Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.605ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"7ef2a636-c9b5-493b-bab5-b5fceb924998"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.378442423Z","project_id":"7ef2a636-c9b5-493b-bab5-b5fceb924998","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.378442423Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.674041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=7ef2a636-c9b5-493b-bab5-b5fceb924998
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.378442Z","project_id":"7ef2a636-c9b5-493b-bab5-b5fceb924998","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.378442Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.088958ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"project_id":"7ef2a636-c9b5-493b-bab5-b5fceb924998"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"7ef2a636-c9b5-493b-bab5-b5fceb924998","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.908ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"7ef2a636-c9b5-493b-bab5-b5fceb924998"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"7ef2a636-c9b5-493b-bab5-b5fceb924998","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.074791ms
