---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-21T10:10:47.493156Z","description":"","id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-21T10:10:47.493156Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-21T10:10:50.537172512Z","project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-21T10:10:50.537172512Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=6e1993ba-3d40-4c22-8f9e-6c400395d7c0
    method: GET
  response:
    body: '{"created_at":"2023-12-21T10:10:50.537172Z","project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-21T10:10:50.537172Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","name":"tf-sqs-credentials-bold-dewdney","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"ZM83L68eCSkKEixSoPmS","created_at":"2023-12-21T10:10:50.837999349Z","id":"43726ee8-2a24-44a7-b188-0b5b95e4a663","name":"tf-sqs-credentials-bold-dewdney","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","region":"fr-par","secret_checksum":"275161dcf86cae53d7d2892d3989df4b070e0aed","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/43726ee8-2a24-44a7-b188-0b5b95e4a663
    method: GET
  response:
    body: '{"access_key":"ZM83L68eCSkKEixSoPmS","created_at":"2023-12-21T10:10:50.837999Z","id":"43726ee8-2a24-44a7-b188-0b5b95e4a663","name":"tf-sqs-credentials-bold-dewdney","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","region":"fr-par","secret_checksum":"275161dcf86cae53d7d2892d3989df4b070e0aed","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T101051Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-6e1993ba-3d40-4c22-8f9e-6c400395d7c0/test-mnq-sqs-queue-basic"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - txa5349daa-1d52-47c3-af14-20ebf6539e09
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"AttributeNames":["ReceiveMessageWaitTimeSeconds","VisibilityTimeout","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-6e1993ba-3d40-4c22-8f9e-6c400395d7c0/test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T101052Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - tx73a8652b-69b2-4457-ac01-08596f2f1557
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T101057Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"__type":"com.scaleway.sqs#AWS.SimpleQueueService.NonExistentQueue","message":"Queue
      \"test-mnq-sqs-queue-basic\" does not exist."}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - txc0f4a795-88bb-48e1-90d9-892737bf6246
    status: 400 Bad Request
    code: 400
[...]
- request:
    body: '{"project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/6e1993ba-3d40-4c22-8f9e-6c400395d7c0
    method: GET
  response:
    body: '{"created_at":"2023-12-21T10:10:47.493156Z","description":"","id":"6e1993ba-3d40-4c22-8f9e-6c400395d7c0","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-21T10:10:47.493156Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
