---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-credentials-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-08-29T14:17:13.740673207Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACPGQI6SSHACHWCK4YFTJZSNBCO6JJTGFQLGVSPZK5RDBANGDI4YXJ6P","name":"test-mnq-nats-credentials-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2024-08-29T14:17:13.740673207Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.292599ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACPGQI6SSHACHWCK4YFTJZSNBCO6JJTGFQLGVSPZK5RDBANGDI4YXJ6P
        method: GET
      response:
        body: '{"created_at":"2024-08-29T14:17:13.740673Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACPGQI6SSHACHWCK4YFTJZSNBCO6JJTGFQLGVSPZK5RDBANGDI4YXJ6P","name":"test-mnq-nats-credentials-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":"2024-08-29T14:17:13.740673Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.986779ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"ACPGQI6SSHACHWCK4YFTJZSNBCO6JJTGFQLGVSPZK5RDBANGDI4YXJ6P","name":"tf-nats-credentials-determined-robinson"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"checksum":"303d602923c5c9e0eda21bac3cf4fee222c4208b","created_at":"2024-08-29T14:17:13.909919326Z","credentials":{"content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJVMjM2NFFGTUxQQVNSUVVUQ1Q1STRLRk5QMlpFUlVHQjdST1hQUUlGQlZUVkFDSTNRQVZBIiwiaWF0IjoxNzI0OTQxMDMzLCJpc3MiOiJBQk1JS0xUT1k2Q0lGWEFETTM1NFZLS1lIN09JUDJHUk1VSEhJRjQ2M00zQUlEU1RFSFkzNUFDUSIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLWRldGVybWluZWQtcm9iaW5zb24iLCJzdWIiOiJVQlhTMkE1UFJWU0VKQzRBSFhaTEdDT00yWlJCT1pERTI1Nk4zVDM2UUZQNDRSQkZYQjY3MjJIMiIsIm5hdHMiOnsicHViIjp7fSwic3ViIjp7fSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiaXNzdWVyX2FjY291bnQiOiJBQ1BHUUk2U1NIQUNIV0NLNFlGVEpaU05CQ082SkpUR0ZRTEdWU1BaSzVSREJBTkdESTRZWEo2UCIsInR5cGUiOiJ1c2VyIiwidmVyc2lvbiI6Mn19.V1N7QL29gyvuONWrVag9QBE-MtXfiJAN4cdgzzdbSYDwIXDxlKu8WBMRcfQBFdUvUCK6C7O9i70O7Znt6WTSCA\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAPXRZZG23WJZ4AHI75U5JKCW7LDE55A6IXTBPMYKQFE3WXZOE4HUK3QY\n------END USER NKEY SEED------\n\n*************************************************************\n","name":"user.creds"},"id":"2dd16bea-efbc-4a6f-8e03-25c62bc57f49","name":"tf-nats-credentials-determined-robinson","nats_account_id":"ACPGQI6SSHACHWCK4YFTJZSNBCO6JJTGFQLGVSPZK5RDBANGDI4YXJ6P","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.412927ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/2dd16bea-efbc-4a6f-8e03-25c62bc57f49
        method: GET
      response:
        body: '{"checksum":"303d602923c5c9e0eda21bac3cf4fee222c4208b","created_at":"2024-08-29T14:17:13.910115Z","credentials":null,"id":"2dd16bea-efbc-4a6f-8e03-25c62bc57f49","name":"tf-nats-credentials-determined-robinson","nats_account_id":"ACPGQI6SSHACHWCK4YFTJZSNBCO6JJTGFQLGVSPZK5RDBANGDI4YXJ6P","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.284433ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/e520f383-3256-4af5-8e3f-f18ce2c106bd
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credential","resource_id":"e520f383-3256-4af5-8e3f-f18ce2c106bd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.889256ms
