---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-10T09:30:29.085054Z","description":"","id":"c9ebaf73-e459-45a7-82a9-cdb74d848025","name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-10T09:30:29.085054Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.165035ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c9ebaf73-e459-45a7-82a9-cdb74d848025
        method: GET
      response:
        body: '{"created_at":"2024-09-10T09:30:29.085054Z","description":"","id":"c9ebaf73-e459-45a7-82a9-cdb74d848025","name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-10T09:30:29.085054Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.147475ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-credentials-basic-test","project_id":"c9ebaf73-e459-45a7-82a9-cdb74d848025"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-09-10T09:30:29.446683977Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACKFWDY5DG55HXTNSGQWNQBZQFBME2QMFJHWF7EZJJM3GZ6RNPEVLDIV","name":"test-mnq-nats-credentials-basic-test","project_id":"c9ebaf73-e459-45a7-82a9-cdb74d848025","region":"fr-par","updated_at":"2024-09-10T09:30:29.446683977Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.14909ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACKFWDY5DG55HXTNSGQWNQBZQFBME2QMFJHWF7EZJJM3GZ6RNPEVLDIV
        method: GET
      response:
        body: '{"created_at":"2024-09-10T09:30:29.446683Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACKFWDY5DG55HXTNSGQWNQBZQFBME2QMFJHWF7EZJJM3GZ6RNPEVLDIV","name":"test-mnq-nats-credentials-basic-test","project_id":"c9ebaf73-e459-45a7-82a9-cdb74d848025","region":"fr-par","updated_at":"2024-09-10T09:30:29.446683Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.652385ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"ACKFWDY5DG55HXTNSGQWNQBZQFBME2QMFJHWF7EZJJM3GZ6RNPEVLDIV","name":"tf-nats-credentials-gracious-bell"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"checksum":"4871b4ee442f55ef6ee0369cdcee4fe053e13111","created_at":"2024-09-10T09:30:29.718047865Z","credentials":{"content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiI3QlhIN0JETTJKRkRCMkQ3U1hOTlA3NlE3Q1FZSktQRVJESVAzUTZZVElNQ09TSFpaTlVBIiwiaWF0IjoxNzI1OTYwNjI5LCJpc3MiOiJBQURCSjZMU0xBVU1MWk5MU0ZIRE1TM0lPRks1QkxGQjYzVzNTR0xQR0Q1M0lMUERENjJXTjc0QSIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLWdyYWNpb3VzLWJlbGwiLCJzdWIiOiJVQ0tTRklMTFhHTEdLN1dTQlJPVUdHN1hDVlBJQkpORVU1REVKU1NMU0hNSUlYTFZBN1YzVVRONCIsIm5hdHMiOnsicHViIjp7fSwic3ViIjp7fSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiaXNzdWVyX2FjY291bnQiOiJBQ0tGV0RZNURHNTVIWFROU0dRV05RQlpRRkJNRTJRTUZKSFdGN0VaSkpNM0daNlJOUEVWTERJViIsInR5cGUiOiJ1c2VyIiwidmVyc2lvbiI6Mn19.t6ZcjhnbXR8ZTa-EL_6VL3y2X2qcYTCYdo06mwD1F1nO6G0qjIRt-B5mGl27u6rFhttp13sVLDIzmaN6J8YJDQ\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUABUZKV4ZZGTMAENIGOCLVEC2NNQZPIPJMVFUGIMOYENDZIVRLGVR7YGE\n------END USER NKEY SEED------\n\n*************************************************************\n","name":"user.creds"},"id":"d1900821-4077-4333-8f6e-055b4286ba43","name":"tf-nats-credentials-gracious-bell","nats_account_id":"ACKFWDY5DG55HXTNSGQWNQBZQFBME2QMFJHWF7EZJJM3GZ6RNPEVLDIV","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.526556ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/d1900821-4077-4333-8f6e-055b4286ba43
        method: GET
      response:
        body: '{"checksum":"4871b4ee442f55ef6ee0369cdcee4fe053e13111","created_at":"2024-09-10T09:30:29.718291Z","credentials":null,"id":"d1900821-4077-4333-8f6e-055b4286ba43","name":"tf-nats-credentials-gracious-bell","nats_account_id":"ACKFWDY5DG55HXTNSGQWNQBZQFBME2QMFJHWF7EZJJM3GZ6RNPEVLDIV","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.87175ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/d1900821-4077-4333-8f6e-055b4286ba43
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credential","resource_id":"d1900821-4077-4333-8f6e-055b4286ba43","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.967612ms
