---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_nats_account_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"c32c34b8-2cab-40bb-94d9-716a6a2bac81\",\"name\":\"tf_tests_mnq_nats_account_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.847048Z\",\"updated_at\":\"2025-08-26T16:28:57.847048Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 599.856117ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/c32c34b8-2cab-40bb-94d9-716a6a2bac81
    method: GET
  response:
    body: "{\"id\":\"c32c34b8-2cab-40bb-94d9-716a6a2bac81\",\"name\":\"tf_tests_mnq_nats_account_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.847048Z\",\"updated_at\":\"2025-08-26T16:28:57.847048Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 179.997977ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-mnq-nats-account-basic\",\"project_id\":\"c32c34b8-2cab-40bb-94d9-716a6a2bac81\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: "{\"project_id\":\"c32c34b8-2cab-40bb-94d9-716a6a2bac81\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.615321539Z\",\"updated_at\":\"2025-08-26T16:28:58.615321539Z\",\"id\":\"ADRGJ42AGVZFE4A36PXCNPE5PYRSP3OVKF2ZQ6NIGNCLXCEDJU2MLJJB\",\"name\":\"test-mnq-nats-account-basic\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 289.336702ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADRGJ42AGVZFE4A36PXCNPE5PYRSP3OVKF2ZQ6NIGNCLXCEDJU2MLJJB
    method: GET
  response:
    body: "{\"project_id\":\"c32c34b8-2cab-40bb-94d9-716a6a2bac81\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.615321Z\",\"updated_at\":\"2025-08-26T16:28:58.615321Z\",\"id\":\"ADRGJ42AGVZFE4A36PXCNPE5PYRSP3OVKF2ZQ6NIGNCLXCEDJU2MLJJB\",\"name\":\"test-mnq-nats-account-basic\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.466626ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADRGJ42AGVZFE4A36PXCNPE5PYRSP3OVKF2ZQ6NIGNCLXCEDJU2MLJJB
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"namespace\",\"resource_id\":\"ADRGJ42AGVZFE4A36PXCNPE5PYRSP3OVKF2ZQ6NIGNCLXCEDJU2MLJJB\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.751974ms
