---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:06.330838Z","description":"","id":"af51833e-7ef9-4b06-b308-02d95c86f7fa","name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T10:59:06.330838Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 505.218584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/af51833e-7ef9-4b06-b308-02d95c86f7fa
        method: GET
      response:
        body: '{"created_at":"2026-04-10T10:59:06.330838Z","description":"","id":"af51833e-7ef9-4b06-b308-02d95c86f7fa","name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T10:59:06.330838Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.527667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-credentials-basic-test","project_id":"af51833e-7ef9-4b06-b308-02d95c86f7fa"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:07.138468378Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADES3CGQKR6ZABSF26Q4NOK6POEJ7H3Y5CLM4NLP4RIFS5TTAY7755Q3","name":"test-mnq-nats-credentials-basic-test","project_id":"af51833e-7ef9-4b06-b308-02d95c86f7fa","region":"fr-par","updated_at":"2026-04-10T10:59:07.138468378Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.196083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADES3CGQKR6ZABSF26Q4NOK6POEJ7H3Y5CLM4NLP4RIFS5TTAY7755Q3
        method: GET
      response:
        body: '{"created_at":"2026-04-10T10:59:07.138468Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADES3CGQKR6ZABSF26Q4NOK6POEJ7H3Y5CLM4NLP4RIFS5TTAY7755Q3","name":"test-mnq-nats-credentials-basic-test","project_id":"af51833e-7ef9-4b06-b308-02d95c86f7fa","region":"fr-par","updated_at":"2026-04-10T10:59:07.138468Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.207375ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"ADES3CGQKR6ZABSF26Q4NOK6POEJ7H3Y5CLM4NLP4RIFS5TTAY7755Q3","name":"tf-nats-credentials-wonderful-perlman"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"checksum":"690430dc4339d534c74bcd612cfaa715cd4d8c24","created_at":"2026-04-10T10:59:07.622800575Z","credentials":{"content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJTSEFNTlI0VkxCVlo3RVcyWllGWlFaTllKRENMRVEyQ0RVVzNOSlZER1RaREVRTElOTlFBIiwiaWF0IjoxNzc1ODE4NzQ3LCJpc3MiOiJBQUZGT0VQUDNGWVZTWFVHRkdYTTJHQ0xCV1hNVkoyN1Y3N1oyUFlTVUJPNzdaUjdMRzRYV1ozWCIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLXdvbmRlcmZ1bC1wZXJsbWFuIiwic3ViIjoiVUJDSkJVNVpHTE5JVTRTUjVaRVhJS1BOMzZCTENFRFMzTlpQTUw1TkQyM0ZKR0k0SERSMk5KWDYiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsI[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/e759e709-16c5-4a3f-b616-ac1ea1e1f0ee
        method: GET
      response:
        body: '{"checksum":"690430dc4339d534c74bcd612cfaa715cd4d8c24","created_at":"2026-04-10T10:59:07.622800Z","credentials":null,"id":"e759e709-16c5-4a3f-b616-ac1ea1e1f0ee","name":"tf-nats-credentials-wonderful-perlman","nats_account_id":"ADES3CGQKR6ZABSF26Q4NOK6POEJ7H3Y5CLM4NLP4RIFS5TTAY7755Q3","region":"fr-par","updated_at":"2026-04-10T10:59:07.622800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.84675ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/e759e709-16c5-4a3f-b616-ac1ea1e1f0ee
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credentials","resource_id":"e759e709-16c5-4a3f-b616-ac1ea1e1f0ee","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.118208ms
