---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_nats_credential_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"b04756f6-2803-4ea3-91ff-85d93b99f9bc\",\"name\":\"tf_tests_mnq_nats_credential_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.529160Z\",\"updated_at\":\"2025-08-26T16:28:57.529160Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 500.381679ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/b04756f6-2803-4ea3-91ff-85d93b99f9bc
    method: GET
  response:
    body: "{\"id\":\"b04756f6-2803-4ea3-91ff-85d93b99f9bc\",\"name\":\"tf_tests_mnq_nats_credential_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.529160Z\",\"updated_at\":\"2025-08-26T16:28:57.529160Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 178.048117ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-mnq-nats-credentials-basic-test\",\"project_id\":\"b04756f6-2803-4ea3-91ff-85d93b99f9bc\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: "{\"project_id\":\"b04756f6-2803-4ea3-91ff-85d93b99f9bc\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.125022810Z\",\"updated_at\":\"2025-08-26T16:28:58.125022810Z\",\"id\":\"ABY4PMMDSPQOBXX7K7R4KBBR4YR3THEKCJRSTGYTQJOBM5FGA4UPTBV5\",\"name\":\"test-mnq-nats-credentials-basic-test\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.819571ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABY4PMMDSPQOBXX7K7R4KBBR4YR3THEKCJRSTGYTQJOBM5FGA4UPTBV5
    method: GET
  response:
    body: "{\"project_id\":\"b04756f6-2803-4ea3-91ff-85d93b99f9bc\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.125022Z\",\"updated_at\":\"2025-08-26T16:28:58.125022Z\",\"id\":\"ABY4PMMDSPQOBXX7K7R4KBBR4YR3THEKCJRSTGYTQJOBM5FGA4UPTBV5\",\"name\":\"test-mnq-nats-credentials-basic-test\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 180.9191ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"nats_account_id\":\"ABY4PMMDSPQOBXX7K7R4KBBR4YR3THEKCJRSTGYTQJOBM5FGA4UPTBV5\",\"name\":\"tf-nats-credentials-quirky-almeida\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
    method: POST
  response:
    body: "{\"nats_account_id\":\"ABY4PMMDSPQOBXX7K7R4KBBR4YR3THEKCJRSTGYTQJOBM5FGA4UPTBV5\",\"created_at\":\"2025-08-26T16:28:58.619164859Z\",\"updated_at\":\"2025-08-26T16:28:58.619165064Z\",\"id\":\"a9eec4cf-3aea-444d-aa60-406f236bfbde\",\"name\":\"tf-nats-credentials-quirky-almeida\",\"credentials\":{\"name\":\"user.creds\",\"content\":\"-----BEGIN NATS USER JWT-----\\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJUWFdJUlY2NlBJMjYyTDRTT0ZHTjc2MktRWkpORFFRQVJSWDRBU1E0QVBBTUlYUFFUNDdBIiwiaWF0IjoxNzU2MjI1NzM4LCJpc3MiOiJBQzJCUjVEVEdISE9KUUtZNkJNVVpQN0JUT1dESktaSUhPU1hPV0o1RVdTWVA1TktLR1JHRzQyUyIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLXF1aXJreS1hbG1laWRhIiwic3ViIjoiVUFBT0tNR0w2NEtDRzJQRkVZRVozWkhRWlNJWDVNQTVQVkpOV1VSR1dSQk5RQTY0UllIRjZJR0kiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUJZNFBNTURTUFFPQlhYN0s3UjRLQkJSNFlSM1RIRUtDSlJTVEdZVFFKT0JNNUZHQTRVUFRCVjUiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.45rdf60WmmuopfO0QWJEC1weXWyhOl34c-_A42lpeKeuvqgSFKCBOCMtYZFU4LTp_dDGQ3CsRUdruPIl4e5lAw\\n------END NATS USER JWT------\\n\\n************************* IMPORTANT *************************\\nNKEY Seed printed below can be used to sign and prove identity.\\nNKEYs are sensitive and should be treated as secrets.\\n\\n-----BEGIN USER NKEY SEED-----\\nSUAECH4KTH3YZF5ZFR3IWGL4O5OENS6BYGMMNYNBB22WWSAMOF7KPWC4KA\\n------END USER NKEY SEED------\\n\\n*************************************************************\\n\"},\"checksum\":\"8d19f2f3ad5504144e5a3ac59bfd2d1e00c6adb4\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 195.928442ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/a9eec4cf-3aea-444d-aa60-406f236bfbde
    method: GET
  response:
    body: "{\"nats_account_id\":\"ABY4PMMDSPQOBXX7K7R4KBBR4YR3THEKCJRSTGYTQJOBM5FGA4UPTBV5\",\"created_at\":\"2025-08-26T16:28:58.619164Z\",\"updated_at\":\"2025-08-26T16:28:58.619165Z\",\"id\":\"a9eec4cf-3aea-444d-aa60-406f236bfbde\",\"name\":\"tf-nats-credentials-quirky-almeida\",\"credentials\":null,\"checksum\":\"8d19f2f3ad5504144e5a3ac59bfd2d1e00c6adb4\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.648521ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/a9eec4cf-3aea-444d-aa60-406f236bfbde
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"credentials\",\"resource_id\":\"a9eec4cf-3aea-444d-aa60-406f236bfbde\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 38.176287ms
