---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.013631Z","description":"","id":"d2b2f1b3-ebea-49a5-8359-353ac1affff9","name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:57.013631Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.115583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d2b2f1b3-ebea-49a5-8359-353ac1affff9
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.013631Z","description":"","id":"d2b2f1b3-ebea-49a5-8359-353ac1affff9","name":"tf_tests_mnq_nats_credential_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:57.013631Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.031292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-credentials-basic-test","project_id":"d2b2f1b3-ebea-49a5-8359-353ac1affff9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.737627455Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACJNGMDWI3LLE737ULT4EZDHCCUQNAFUSMSUIAAXZQKP6RQHPRAUG3NV","name":"test-mnq-nats-credentials-basic-test","project_id":"d2b2f1b3-ebea-49a5-8359-353ac1affff9","region":"fr-par","updated_at":"2024-12-10T13:19:57.737627455Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.526083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACJNGMDWI3LLE737ULT4EZDHCCUQNAFUSMSUIAAXZQKP6RQHPRAUG3NV
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.737627Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACJNGMDWI3LLE737ULT4EZDHCCUQNAFUSMSUIAAXZQKP6RQHPRAUG3NV","name":"test-mnq-nats-credentials-basic-test","project_id":"d2b2f1b3-ebea-49a5-8359-353ac1affff9","region":"fr-par","updated_at":"2024-12-10T13:19:57.737627Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.776792ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"ACJNGMDWI3LLE737ULT4EZDHCCUQNAFUSMSUIAAXZQKP6RQHPRAUG3NV","name":"tf-nats-credentials-goofy-knuth"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"checksum":"668451a8aa9b1c609fbd2937d79b5ad68cb6b698","created_at":"2024-12-10T13:19:57.988523740Z","credentials":{"content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJYNzVIR0o1QkZRRjNEWkFaNVdDQVlLSUlUUVlPSUpCV1lENUJPRFgyQlVIRzZUU1ZBQ1dRIiwiaWF0IjoxNzMzODM2Nzk3LCJpc3MiOiJBQlpKMkwySUlSSE5YNTNLVk1NS1lRQjdXREtJVk5DWjNWWVdKNktKN1hHTDdQN1ZNUk5UM0k3MyIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLWdvb2Z5LWtudXRoIiwic3ViIjoiVUJMMk9PU0xITkRXM1JLSEFITUpGRDVMTVFXRVdKVktZR0RYNEdaUE0yT0VGQUs2QjVCUFVLRVQiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUNKTkdNRFdJM0xMRTczN1VMVDRFWkRIQ0NVUU5BRlVTTVNVSUFBWFpRS1A2UlFIUFJBVUczTlYiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.OukV9zM-H1Ic4Q9CBH4eyEbxqvbN5dHxVy7dOiE_RT4UWejQpwYmHl6SWonutmvXpm3HVVCWACgq9gk5RX2LBw\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAPUZUSMZDQOCBHSFYQU43RNF5RW64A25EKFHEBHW6PUVUTUPMHD3HTZQ\n------END USER NKEY SEED------\n\n*************************************************************\n","name":"user.creds"},"id":"53e797b4-7521-49d3-9e62-5f97010d8eb6","name":"tf-nats-credentials-goofy-knuth","nats_account_id":"ACJNGMDWI3LLE737ULT4EZDHCCUQNAFUSMSUIAAXZQKP6RQHPRAUG3NV","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.834375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/53e797b4-7521-49d3-9e62-5f97010d8eb6
        method: GET
      response:
        body: '{"checksum":"668451a8aa9b1c609fbd2937d79b5ad68cb6b698","created_at":"2024-12-10T13:19:57.989966Z","credentials":null,"id":"53e797b4-7521-49d3-9e62-5f97010d8eb6","name":"tf-nats-credentials-goofy-knuth","nats_account_id":"ACJNGMDWI3LLE737ULT4EZDHCCUQNAFUSMSUIAAXZQKP6RQHPRAUG3NV","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.756542ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/53e797b4-7521-49d3-9e62-5f97010d8eb6
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credential","resource_id":"53e797b4-7521-49d3-9e62-5f97010d8eb6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 17.275542ms
