---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-10T09:30:21.189590Z","description":"","id":"f546bcf5-afcd-4de5-b504-37e619291e02","name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-10T09:30:21.189590Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.192707ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f546bcf5-afcd-4de5-b504-37e619291e02
        method: GET
      response:
        body: '{"created_at":"2024-09-10T09:30:21.189590Z","description":"","id":"f546bcf5-afcd-4de5-b504-37e619291e02","name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-10T09:30:21.189590Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.62268ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-credentials-update","project_id":"f546bcf5-afcd-4de5-b504-37e619291e02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-09-10T09:30:21.629943713Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AB42KVWIQZB4TJMO3IC4LO2E6QQRVXZYGXLVY2ZO6JTKMVPBOZKQCUFO","name":"test-mnq-nats-credentials-update","project_id":"f546bcf5-afcd-4de5-b504-37e619291e02","region":"fr-par","updated_at":"2024-09-10T09:30:21.629943713Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.401609ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AB42KVWIQZB4TJMO3IC4LO2E6QQRVXZYGXLVY2ZO6JTKMVPBOZKQCUFO
        method: GET
      response:
        body: '{"created_at":"2024-09-10T09:30:21.629943Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AB42KVWIQZB4TJMO3IC4LO2E6QQRVXZYGXLVY2ZO6JTKMVPBOZKQCUFO","name":"test-mnq-nats-credentials-update","project_id":"f546bcf5-afcd-4de5-b504-37e619291e02","region":"fr-par","updated_at":"2024-09-10T09:30:21.629943Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.65429ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AB42KVWIQZB4TJMO3IC4LO2E6QQRVXZYGXLVY2ZO6JTKMVPBOZKQCUFO","name":"tf-nats-credentials-jolly-wescoff"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"checksum":"fd0e2be7a93591ea0b4d88650b38f5bae9bd3be9","created_at":"2024-09-10T09:30:21.979045803Z","credentials":{"content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJIRlFKWkdLSlIyNDJXRzJXMlhES05CWjZPVFUyRlE3M0VKWjZOWVlSRklWS0ZXTjIzR09RIiwiaWF0IjoxNzI1OTYwNjIxLCJpc3MiOiJBQ0pWQ1ZDVjJBWTNERzNVN0pMRFIzWjdTS1JZWllRUlg2QVVXNVNLVzZSRjZKWkVTVFZLV05NViIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLWpvbGx5LXdlc2NvZmYiLCJzdWIiOiJVQ09YR0VCR0U0NENaWEFCUUpQU09FV1A2VjVMUEoyVVhSNUczTUtCWDJQT001TVJPRUY0Uk1OUCIsIm5hdHMiOnsicHViIjp7fSwic3ViIjp7fSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiaXNzdWVyX2FjY291bnQiOiJBQjQyS1ZXSVFaQjRUSk1PM0lDNExPMkU2UVFSVlhaWUdYTFZZMlpPNkpUS01WUEJPWktRQ1VGTyIsInR5cGUiOiJ1c2VyIiwidmVyc2lvbiI6Mn19.ZJv9tMQW6ytJJ-cZXUNrFz02_XL622ZuhfgA-YsG90J1eGQIi62Y5OpDc6m_ZwVbK6djk4WV9w6vUqKfK9i0CA\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAO76TABMD7W5J3ZK5IJ25FHUVN3VUKTXGXVH7KCTKIEGL22KHICUXLLE\n------END USER NKEY SEED------\n\n*************************************************************\n","name":"user.creds"},"id":"7bcfb711-6321-4da6-bdba-e0cc9c44c6ef","name":"tf-nats-credentials-jolly-wescoff","nats_account_id":"AB42KVWIQZB4TJMO3IC4LO2E6QQRVXZYGXLVY2ZO6JTKMVPBOZKQCUFO","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.283476ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/7bcfb711-6321-4da6-bdba-e0cc9c44c6ef
        method: GET
      response:
        body: '{"checksum":"fd0e2be7a93591ea0b4d88650b38f5bae9bd3be9","created_at":"2024-09-10T09:30:21.979272Z","credentials":null,"id":"7bcfb711-6321-4da6-bdba-e0cc9c44c6ef","name":"tf-nats-credentials-jolly-wescoff","nats_account_id":"AB42KVWIQZB4TJMO3IC4LO2E6QQRVXZYGXLVY2ZO6JTKMVPBOZKQCUFO","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.874532ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/479d82a9-014a-43ee-9a34-940fcaee1372
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credential","resource_id":"479d82a9-014a-43ee-9a34-940fcaee1372","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.999981ms
