---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.994218Z","description":"","id":"5f4c88ac-4c6c-4f73-afbb-14c1e07cdc02","name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.994218Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 549.300584ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5f4c88ac-4c6c-4f73-afbb-14c1e07cdc02
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.994218Z","description":"","id":"5f4c88ac-4c6c-4f73-afbb-14c1e07cdc02","name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.994218Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.299ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-credentials-update","project_id":"5f4c88ac-4c6c-4f73-afbb-14c1e07cdc02"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.622828148Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AACAQCDU6IYCWCYQ5MMH4TETTNYTQIV2E6J6X3ZD7QLVQ34CDLQJUA73","name":"test-mnq-nats-credentials-update","project_id":"5f4c88ac-4c6c-4f73-afbb-14c1e07cdc02","region":"fr-par","updated_at":"2024-12-10T13:19:57.622828148Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.606625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/AACAQCDU6IYCWCYQ5MMH4TETTNYTQIV2E6J6X3ZD7QLVQ34CDLQJUA73
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.622828Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"AACAQCDU6IYCWCYQ5MMH4TETTNYTQIV2E6J6X3ZD7QLVQ34CDLQJUA73","name":"test-mnq-nats-credentials-update","project_id":"5f4c88ac-4c6c-4f73-afbb-14c1e07cdc02","region":"fr-par","updated_at":"2024-12-10T13:19:57.622828Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.099291ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"AACAQCDU6IYCWCYQ5MMH4TETTNYTQIV2E6J6X3ZD7QLVQ34CDLQJUA73","name":"tf-nats-credentials-xenodochial-rubin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"checksum":"271c1b2402a22d5fa85aeb292148adad32e7aad8","created_at":"2024-12-10T13:19:57.824368101Z","credentials":{"content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJSNjRSUjVKNVdKREhWNVpMTkNESTVZTTVMRTZQNlROVTJZNUhSNk9IMlBPNlA1TFhaSUxRIiwiaWF0IjoxNzMzODM2Nzk3LCJpc3MiOiJBQkhWQVhKVkg0VUVSUEczVEdXUVgzRVFVUTJIMzVaQ0lZVEpRSVpBSURIUDJYS0JLNkRGUExDRyIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLXhlbm9kb2NoaWFsLXJ1YmluIiwic3ViIjoiVUMzVk5MM01WS0RQVzVBSFVLT000QVZLUlhGQ1kzS01NQjRZMlNDV1hCQTJKWTM3V1k1VDRXUVUiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUFDQVFDRFU2SVlDV0NZUTVNTUg0VEVUVE5ZVFFJVjJFNko2WDNaRDdRTFZRMzRDRExRSlVBNzMiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.Z31qADpzQAEb3-AeKn2RE0fpV9G-uVVL-9xDJaobqz9Ic8d5P0ESu-GIdHEr8NbAAxIecBcajNMM5MqoDo75AQ\n------END NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAH6GQXU6X2GYITRAKDUX22TES4XJJ7JWGIVTPNV4OQUEEMRHETFSQL5I\n------END USER NKEY SEED------\n\n*************************************************************\n","name":"user.creds"},"id":"97dee02a-d9f2-4089-99b2-11519e144c00","name":"tf-nats-credentials-xenodochial-rubin","nats_account_id":"AACAQCDU6IYCWCYQ5MMH4TETTNYTQIV2E6J6X3ZD7QLVQ34CDLQJUA73","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.2835ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/97dee02a-d9f2-4089-99b2-11519e144c00
        method: GET
      response:
        body: '{"checksum":"271c1b2402a22d5fa85aeb292148adad32e7aad8","created_at":"2024-12-10T13:19:57.824552Z","credentials":null,"id":"97dee02a-d9f2-4089-99b2-11519e144c00","name":"tf-nats-credentials-xenodochial-rubin","nats_account_id":"AACAQCDU6IYCWCYQ5MMH4TETTNYTQIV2E6J6X3ZD7QLVQ34CDLQJUA73","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.338292ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/366a3517-b2f6-4e7d-adad-dbcff6f34273
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credential","resource_id":"366a3517-b2f6-4e7d-adad-dbcff6f34273","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 17.167375ms
