---
version: 2
interactions:
- request:
    body: '{"name":"test-mnq-nats-account-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: '{"created_at":"2023-10-16T09:29:28.435972155Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACGUWSEX2UKDYQAMN4ZW474CZBAQBO5OFGA2HCFGV3IMRYZEETCLQ6Q3","name":"test-mnq-nats-account-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2023-10-16T09:29:28.435972155Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACGUWSEX2UKDYQAMN4ZW474CZBAQBO5OFGA2HCFGV3IMRYZEETCLQ6Q3
    method: GET
  response:
    body: '{"created_at":"2023-10-16T09:29:28.435972Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACGUWSEX2UKDYQAMN4ZW474CZBAQBO5OFGA2HCFGV3IMRYZEETCLQ6Q3","name":"test-mnq-nats-account-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2023-10-16T09:29:28.435972Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACGUWSEX2UKDYQAMN4ZW474CZBAQBO5OFGA2HCFGV3IMRYZEETCLQ6Q3
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ACGUWSEX2UKDYQAMN4ZW474CZBAQBO5OFGA2HCFGV3IMRYZEETCLQ6Q3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
