---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:11.826988Z","description":"","id":"e8b7c8d9-afef-46a1-aeb5-f4ebbd3e3c39","name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T10:59:11.826988Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 557.160875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e8b7c8d9-afef-46a1-aeb5-f4ebbd3e3c39
        method: GET
      response:
        body: '{"created_at":"2026-04-10T10:59:11.826988Z","description":"","id":"e8b7c8d9-afef-46a1-aeb5-f4ebbd3e3c39","name":"tf_tests_mnq_nats_credential_update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T10:59:11.826988Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.507208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-credentials-update","project_id":"e8b7c8d9-afef-46a1-aeb5-f4ebbd3e3c39"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:12.661542430Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABB7AY46CLVQHJEMCPIRBPCUWOOUOPBJ4DA7TNWE6LE7H5THREN2J64T","name":"test-mnq-nats-credentials-update","project_id":"e8b7c8d9-afef-46a1-aeb5-f4ebbd3e3c39","region":"fr-par","updated_at":"2026-04-10T10:59:12.661542430Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.52125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABB7AY46CLVQHJEMCPIRBPCUWOOUOPBJ4DA7TNWE6LE7H5THREN2J64T
        method: GET
      response:
        body: '{"created_at":"2026-04-10T10:59:12.661542Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ABB7AY46CLVQHJEMCPIRBPCUWOOUOPBJ4DA7TNWE6LE7H5THREN2J64T","name":"test-mnq-nats-credentials-update","project_id":"e8b7c8d9-afef-46a1-aeb5-f4ebbd3e3c39","region":"fr-par","updated_at":"2026-04-10T10:59:12.661542Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.783625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ABB7AY46CLVQHJEMCPIRBPCUWOOUOPBJ4DA7TNWE6LE7H5THREN2J64T
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ABB7AY46CLVQHJEMCPIRBPCUWOOUOPBJ4DA7TNWE6LE7H5THREN2J64T","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.423333ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"nats_account_id":"ABB7AY46CLVQHJEMCPIRBPCUWOOUOPBJ4DA7TNWE6LE7H5THREN2J64T","name":"tf-nats-credentials-clever-gould"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
        method: POST
      response:
        body: '{"checksum":"1e95e36fa1fce58eddab3d76bd99af1cea85881b","created_at":"2026-04-10T10:59:13.238260154Z","credentials":{"content":"-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJOSEc3UDRPR0JHUlFQS1UyT1A2SDdISjJLWkI2U0pVUERJNFdGSjU3Uk42UlNOWldERUhRIiwiaWF0IjoxNzc1ODE4NzUzLCJpc3MiOiJBQVZTQ1BPV0kzTkhZNlJQWldCS1FUU0RUTkZFSFFGVkgzM0hUSllINk9ERk02S0lJR0tQVk1PWiIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLWNsZXZlci1nb3VsZCIsInN1YiI6IlVBVkdNMzY3VEtWU09WU05ZQ1hLUzVaUUtCSVpWUUJXVlE0WU1PUFo0WTNVQlMyQjJJVlQ2NjRXIiwibmF0cyI6eyJwdWIiOnt9LCJzdWIiOnt9LCJzdWJzIjotMSwiZGF0YSI6LTEsInBheWxvYWQiOi0xLCJpc3N1Z[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/d78dc1e7-5693-46f5-9ab0-db98d7beac00
        method: GET
      response:
        body: '{"checksum":"1e95e36fa1fce58eddab3d76bd99af1cea85881b","created_at":"2026-04-10T10:59:13.238260Z","credentials":null,"id":"d78dc1e7-5693-46f5-9ab0-db98d7beac00","name":"tf-nats-credentials-clever-gould","nats_account_id":"ABB7AY46CLVQHJEMCPIRBPCUWOOUOPBJ4DA7TNWE6LE7H5THREN2J64T","region":"fr-par","updated_at":"2026-04-10T10:59:13.238260Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.532041ms
[...]
