---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.773046Z","description":"","id":"ade577ab-f663-41f5-b634-39ecee49f12c","name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.773046Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 519.643125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ade577ab-f663-41f5-b634-39ecee49f12c
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.773046Z","description":"","id":"ade577ab-f663-41f5-b634-39ecee49f12c","name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.773046Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.059875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-account-basic","project_id":"ade577ab-f663-41f5-b634-39ecee49f12c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.429251044Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADCKHGOB6YSXJNWB5SOL4TBIOXJAIUA4YFAR5LCGNWY53C42BRXTPG5L","name":"test-mnq-nats-account-basic","project_id":"ade577ab-f663-41f5-b634-39ecee49f12c","region":"fr-par","updated_at":"2024-12-10T13:19:57.429251044Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.908875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADCKHGOB6YSXJNWB5SOL4TBIOXJAIUA4YFAR5LCGNWY53C42BRXTPG5L
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.429251Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADCKHGOB6YSXJNWB5SOL4TBIOXJAIUA4YFAR5LCGNWY53C42BRXTPG5L","name":"test-mnq-nats-account-basic","project_id":"ade577ab-f663-41f5-b634-39ecee49f12c","region":"fr-par","updated_at":"2024-12-10T13:19:57.429251Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.471209ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADCKHGOB6YSXJNWB5SOL4TBIOXJAIUA4YFAR5LCGNWY53C42BRXTPG5L
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ADCKHGOB6YSXJNWB5SOL4TBIOXJAIUA4YFAR5LCGNWY53C42BRXTPG5L","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.285416ms
