---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_nats_credential_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"8cc1a357-9d7a-4603-896f-8f2539659a4f\",\"name\":\"tf_tests_mnq_nats_credential_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.832103Z\",\"updated_at\":\"2025-08-26T16:28:57.832103Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 446.361167ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/8cc1a357-9d7a-4603-896f-8f2539659a4f
    method: GET
  response:
    body: "{\"id\":\"8cc1a357-9d7a-4603-896f-8f2539659a4f\",\"name\":\"tf_tests_mnq_nats_credential_update\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.832103Z\",\"updated_at\":\"2025-08-26T16:28:57.832103Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 317.091805ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-mnq-nats-credentials-update\",\"project_id\":\"8cc1a357-9d7a-4603-896f-8f2539659a4f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: "{\"project_id\":\"8cc1a357-9d7a-4603-896f-8f2539659a4f\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.676299933Z\",\"updated_at\":\"2025-08-26T16:28:58.676299933Z\",\"id\":\"ACVC3JB4ZNXGLZ53W7SPMJQQR47UU4PIPSD6WID7QPWX3D47LC2LDUDP\",\"name\":\"test-mnq-nats-credentials-update\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 467.39087ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACVC3JB4ZNXGLZ53W7SPMJQQR47UU4PIPSD6WID7QPWX3D47LC2LDUDP
    method: GET
  response:
    body: "{\"project_id\":\"8cc1a357-9d7a-4603-896f-8f2539659a4f\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.676299Z\",\"updated_at\":\"2025-08-26T16:28:58.676299Z\",\"id\":\"ACVC3JB4ZNXGLZ53W7SPMJQQR47UU4PIPSD6WID7QPWX3D47LC2LDUDP\",\"name\":\"test-mnq-nats-credentials-update\",\"endpoint\":\"nats://nats.mnq.fr-par.scaleway.com:4222\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 220.819413ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"nats_account_id\":\"ACVC3JB4ZNXGLZ53W7SPMJQQR47UU4PIPSD6WID7QPWX3D47LC2LDUDP\",\"name\":\"tf-nats-credentials-reverent-margulis\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials
    method: POST
  response:
    body: "{\"nats_account_id\":\"ACVC3JB4ZNXGLZ53W7SPMJQQR47UU4PIPSD6WID7QPWX3D47LC2LDUDP\",\"created_at\":\"2025-08-26T16:28:59.300432367Z\",\"updated_at\":\"2025-08-26T16:28:59.300432473Z\",\"id\":\"014e33b9-4340-430d-ad87-e8ecf41a05c0\",\"name\":\"tf-nats-credentials-reverent-margulis\",\"credentials\":{\"name\":\"user.creds\",\"content\":\"-----BEGIN NATS USER JWT-----\\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJKMlVJQ1lWTEVUREhKN0Y1RTJKVUQ0U0ZRM1FDU0VKV1YzNVVXUDY3UFdWTDNEQ0ZURTJRIiwiaWF0IjoxNzU2MjI1NzM5LCJpc3MiOiJBQUVJQUlPVkdFSklNRzNMTVJXUDRYR05WM0pNR1dUSksyWEtYV0dRT0Q2QzQzT1JMT0Q3NVhDViIsIm5hbWUiOiJ0Zi1uYXRzLWNyZWRlbnRpYWxzLXJldmVyZW50LW1hcmd1bGlzIiwic3ViIjoiVUNTVVNRVzZSQ1dMUFlZRDJYT09KTFdENVpVS1lTRkZOVzNQSUtYR05RV1U0WjM3VzNYVU5TWkYiLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUNWQzNKQjRaTlhHTFo1M1c3U1BNSlFRUjQ3VVU0UElQU0Q2V0lEN1FQV1gzRDQ3TEMyTERVRFAiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.Vu_7qpFglAI9mmIt0gyj8c2MqZ9QdQqrkHUsCkkY0IM8QlIH9RLMF7YTWZyDFpFpso7i0S3wC0YeKyj7G1JJAw\\n------END NATS USER JWT------\\n\\n************************* IMPORTANT *************************\\nNKEY Seed printed below can be used to sign and prove identity.\\nNKEYs are sensitive and should be treated as secrets.\\n\\n-----BEGIN USER NKEY SEED-----\\nSUAB3WTG7V6P6QCCZAV5SL5TUZ7NBP66YYQFUQSBSAL4ZVC63LKNHFKXTU\\n------END USER NKEY SEED------\\n\\n*************************************************************\\n\"},\"checksum\":\"b5d7d8dbd587914a7ffb9ce7773d16d62f9ec638\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 179.351379ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/014e33b9-4340-430d-ad87-e8ecf41a05c0
    method: GET
  response:
    body: "{\"nats_account_id\":\"ACVC3JB4ZNXGLZ53W7SPMJQQR47UU4PIPSD6WID7QPWX3D47LC2LDUDP\",\"created_at\":\"2025-08-26T16:28:59.300432Z\",\"updated_at\":\"2025-08-26T16:28:59.300432Z\",\"id\":\"014e33b9-4340-430d-ad87-e8ecf41a05c0\",\"name\":\"tf-nats-credentials-reverent-margulis\",\"credentials\":null,\"checksum\":\"b5d7d8dbd587914a7ffb9ce7773d16d62f9ec638\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 177.319504ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-credentials/d85176f9-01ef-46b0-8070-ce348c5ca255
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"credentials\",\"resource_id\":\"d85176f9-01ef-46b0-8070-ce348c5ca255\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 19.777555ms
