---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-10T09:30:24.111603Z","description":"","id":"e4d3c769-f8e0-43c7-bf58-394629fca69c","name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-10T09:30:24.111603Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.248318ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e4d3c769-f8e0-43c7-bf58-394629fca69c
        method: GET
      response:
        body: '{"created_at":"2024-09-10T09:30:24.111603Z","description":"","id":"e4d3c769-f8e0-43c7-bf58-394629fca69c","name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-10T09:30:24.111603Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.345649ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-account-basic","project_id":"e4d3c769-f8e0-43c7-bf58-394629fca69c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2024-09-10T09:30:24.552232248Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACZFPXJNGJMX4A5VV7A7WJU3YC2V77KNFRX54VML4QTQUBSPHR3TDBP6","name":"test-mnq-nats-account-basic","project_id":"e4d3c769-f8e0-43c7-bf58-394629fca69c","region":"fr-par","updated_at":"2024-09-10T09:30:24.552232248Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.331498ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACZFPXJNGJMX4A5VV7A7WJU3YC2V77KNFRX54VML4QTQUBSPHR3TDBP6
        method: GET
      response:
        body: '{"created_at":"2024-09-10T09:30:24.552232Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ACZFPXJNGJMX4A5VV7A7WJU3YC2V77KNFRX54VML4QTQUBSPHR3TDBP6","name":"test-mnq-nats-account-basic","project_id":"e4d3c769-f8e0-43c7-bf58-394629fca69c","region":"fr-par","updated_at":"2024-09-10T09:30:24.552232Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.697561ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ACZFPXJNGJMX4A5VV7A7WJU3YC2V77KNFRX54VML4QTQUBSPHR3TDBP6
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ACZFPXJNGJMX4A5VV7A7WJU3YC2V77KNFRX54VML4QTQUBSPHR3TDBP6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.069561ms
