---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:01.109086Z","description":"","id":"2a2515eb-f986-4653-a9df-233e7e9a8d92","name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T10:59:01.109086Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 607.490833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2a2515eb-f986-4653-a9df-233e7e9a8d92
        method: GET
      response:
        body: '{"created_at":"2026-04-10T10:59:01.109086Z","description":"","id":"2a2515eb-f986-4653-a9df-233e7e9a8d92","name":"tf_tests_mnq_nats_account_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T10:59:01.109086Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.760083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-mnq-nats-account-basic","project_id":"2a2515eb-f986-4653-a9df-233e7e9a8d92"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:01.818748713Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADZCI3YTT4HFCGTWWF7DA2ECYDUN26N3QD2V2ETTDSCEJN5NGMPVUXO7","name":"test-mnq-nats-account-basic","project_id":"2a2515eb-f986-4653-a9df-233e7e9a8d92","region":"fr-par","updated_at":"2026-04-10T10:59:01.818748713Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.565584ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADZCI3YTT4HFCGTWWF7DA2ECYDUN26N3QD2V2ETTDSCEJN5NGMPVUXO7
        method: GET
      response:
        body: '{"created_at":"2026-04-10T10:59:01.818748Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADZCI3YTT4HFCGTWWF7DA2ECYDUN26N3QD2V2ETTDSCEJN5NGMPVUXO7","name":"test-mnq-nats-account-basic","project_id":"2a2515eb-f986-4653-a9df-233e7e9a8d92","region":"fr-par","updated_at":"2026-04-10T10:59:01.818748Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.505083ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADZCI3YTT4HFCGTWWF7DA2ECYDUN26N3QD2V2ETTDSCEJN5NGMPVUXO7
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ADZCI3YTT4HFCGTWWF7DA2ECYDUN26N3QD2V2ETTDSCEJN5NGMPVUXO7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.312875ms
