---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_topic_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-10T12:35:38.342925Z","description":"","id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","name":"tf_tests_mnq_sns_topic_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-08-10T12:35:38.342925Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.41575ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c2c8397f-2e47-4ef3-8aaa-49b6058f9404
        method: GET
      response:
        body: '{"created_at":"2026-08-10T12:35:38.342925Z","description":"","id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","name":"tf_tests_mnq_sns_topic_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-10T12:35:38.342925Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.697542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-08-10T12:35:38.575796104Z","project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-08-10T12:35:38.575796104Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.313084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=c2c8397f-2e47-4ef3-8aaa-49b6058f9404
        method: GET
      response:
        body: '{"created_at":"2026-08-10T12:35:38.575796Z","project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-08-10T12:35:38.575796Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.950334ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","name":"tf-sns-credentials-optimistic-brahmagupta","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"fjMK2WSNV4DMGKPFZeyL","created_at":"2026-08-10T12:35:38.806336278Z","id":"b7a1ab53-fcb6-4cd9-9e74-ad5dbc85e12f","name":"tf-sns-credentials-optimistic-brahmagupta","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","region":"fr-par","secret_checksum":"bfe29522e4f373f6eb0d96dab488a75308ce4df6","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-08-10T12:35:38.806336278Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.2675ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/b7a1ab53-fcb6-4cd9-9e74-ad5dbc85e12f
        method: GET
      response:
        body: '{"access_key":"fjMK2WSNV4DMGKPFZeyL","created_at":"2026-08-10T12:35:38.806336Z","id":"b7a1ab53-fcb6-4cd9-9e74-ad5dbc85e12f","name":"tf-sns-credentials-optimistic-brahmagupta","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","region":"fr-par","secret_checksum":"bfe29522e4f373f6eb0d96dab488a75308ce4df6","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-08-10T12:35:38.806336Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.222042ms
[...]
    - id: 7
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 14c19245-62bd-4358-8f84-fad1526caeb7
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123538Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-c2c8397f-2e47-4ef3-8aaa-49b6058f9404:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>txb9f36979-bf42-48a8-87a3-09fa0a0ff3aa</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 146.767125ms
    - id: 8
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-c2c8397f-2e47-4ef3-8aaa-49b6058f9404%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-c2c8397f-2e47-4ef3-8aaa-49b6058f9404:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 1abef8ee-0dca-487a-9d33-fedf067f98d8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123539Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-c2c8397f-2e47-4ef3-8aaa-49b6058f9404</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-c2c8397f-2e47-4ef3-8aaa-49b6058f9404:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx112d42a9-3a7a-4b98-a886-cb52faac6ae2</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 25.186791ms
[...]
    - id: 18
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-c2c8397f-2e47-4ef3-8aaa-49b6058f9404%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-c2c8397f-2e47-4ef3-8aaa-49b6058f9404:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - a71abdfc-b7ab-44f0-930e-ab884d766b56
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123540Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>txab1dc7e7-8138-4990-a2d4-0839968fdd1c</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 48.989667ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"c2c8397f-2e47-4ef3-8aaa-49b6058f9404","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.93075ms
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c2c8397f-2e47-4ef3-8aaa-49b6058f9404
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"c2c8397f-2e47-4ef3-8aaa-49b6058f9404\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 15.197186459s
[...]
    - id: 46
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-c2c8397f-2e47-4ef3-8aaa-49b6058f9404%3Atest-mnq-sns-topic-basic20260810123541738300000003&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-c2c8397f-2e47-4ef3-8aaa-49b6058f9404:test-mnq-sns-topic-basic20260810123541738300000003
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - a108990a-0dec-43a8-bd6b-1dc4ae9892bc
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123613Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <Error>
                    <Type>Sender</Type>
                    <Code>AccessDeniedException</Code>
                    <Message>You do not have sufficient access to perform this action.</Message>
                </Error>
                <RequestId>txfd312714-f7a9-4aac-b701-4e3943089e42</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 8.948417ms
