---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sns_topic_subscription_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"name\":\"tf_tests_mnq_sns_topic_subscription_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:58.016955Z\",\"updated_at\":\"2025-08-26T16:28:58.016955Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 631.681761ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/38ab20c5-52dc-4b2f-930f-f9bbb887e8e7
    method: GET
  response:
    body: "{\"id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"name\":\"tf_tests_mnq_sns_topic_subscription_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:58.016955Z\",\"updated_at\":\"2025-08-26T16:28:58.016955Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 219.821776ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.732945877Z\",\"updated_at\":\"2025-08-26T16:28:58.732945877Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 251.218604ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 38ab20c5-52dc-4b2f-930f-f9bbb887e8e7
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=38ab20c5-52dc-4b2f-930f-f9bbb887e8e7
    method: GET
  response:
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.732945Z\",\"updated_at\":\"2025-08-26T16:28:58.732945Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.849767ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"name\":\"tf-sns-credentials-reverent-ptolemy\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:59.321264992Z\",\"updated_at\":\"2025-08-26T16:28:59.321264992Z\",\"id\":\"7bf86058-4297-4ed5-b6fe-832d627739a7\",\"name\":\"tf-sns-credentials-reverent-ptolemy\",\"access_key\":\"8I7YOD4ZSdPHu1xXbstf\",\"secret_key\":\"4RCcCUtIyq2kNsLD1xpf2AqfkMQcEp1jsosPMhthJCpLpGKZpj5FvLY9t9djdz75\",\"secret_checksum\":\"e30ee31587aa22b31959b69fb7c4dc09bc9d00e3\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.828048ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/7bf86058-4297-4ed5-b6fe-832d627739a7
    method: GET
  response:
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:59.321264Z\",\"updated_at\":\"2025-08-26T16:28:59.321264Z\",\"id\":\"7bf86058-4297-4ed5-b6fe-832d627739a7\",\"name\":\"tf-sns-credentials-reverent-ptolemy\",\"access_key\":\"8I7YOD4ZSdPHu1xXbstf\",\"secret_key\":\"\",\"secret_checksum\":\"e30ee31587aa22b31959b69fb7c4dc09bc9d00e3\",\"permissions\":{\"can_publish\":true,\"can_receive\":true,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 167.018425ms
[...]
- id: 7
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - eb9b5f61-264c-4834-bb21-5fff7be00dde
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162859Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txce7c41c4-bfb5-4929-8829-b7fdbd2f2e86</RequestId>
          </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 100.232866ms
- id: 8
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - c9a0319b-b0e1-489a-ad13-f61b64e1c020
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162859Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>Owner</key>
                      <value>project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>txae01225c-4307-445c-a0ed-8cbe1c88e8ac</RequestId>
          </ResponseMetadata>
      </GetTopicAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 253.960353ms
[...]
- id: 11
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=Subscribe&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - Subscribe
      Endpoint:
      - http://scaleway.com
      Protocol:
      - http
      ReturnSubscriptionArn:
      - "true"
      TopicArn:
      - arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - 4fbcf62e-2ba2-4859-b031-9a5d11e27a11
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162900Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
              <SubscriptionArn>arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic:68f8b3fa-e492-43f7-ab9b-d2e23744f454</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
              <RequestId>tx200e0c0c-d4a0-407c-823b-ed94b3a6714c</RequestId>
          </ResponseMetadata>
      </SubscribeResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 3.320392222s
[...]
- id: 13
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7%3Atest-mnq-sns-topic-basic%3A68f8b3fa-e492-43f7-ab9b-d2e23744f454&Version=2010-03-31
    form:
      Action:
      - GetSubscriptionAttributes
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic:68f8b3fa-e492-43f7-ab9b-d2e23744f454
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - 928dee72-3138-4099-ba62-696ddc1495f2
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162903Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "<GetSubscriptionAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\">\n    <GetSubscriptionAttributesResult>\n        <Attributes>\n            <entry>\n                <key>ConfirmationWasAuthenticated</key>\n                <value>false</value>\n            </entry>\n            <entry>\n                <key>EffectiveDeliveryPolicy</key>\n                <value>{&#34;HealthyRetryPolicy&#34;:{&#34;MinDelayTarget&#34;:20,&#34;MaxDelayTarget&#34;:20,&#34;NumRetries&#34;:3,&#34;NumNoDelayRetries&#34;:0,&#34;NumMinDelayRetries&#34;:0,&#34;NumMaxDelayRetries&#34;:0,&#34;BackoffFunction&#34;:&#34;linear&#3[...]
[...]
- id: 23
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=Unsubscribe&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7%3Atest-mnq-sns-topic-basic%3A68f8b3fa-e492-43f7-ab9b-d2e23744f454&Version=2010-03-31
    form:
      Action:
      - Unsubscribe
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic:68f8b3fa-e492-43f7-ab9b-d2e23744f454
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - cd4c0c2c-af49-493e-a5c5-e00ec51b2e56
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162915Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <UnsubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
              <RequestId>tx0043362f-8602-43d0-8324-c4afeebc7204</RequestId>
          </ResponseMetadata>
      </UnsubscribeResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1.602950495s
[...]
- id: 25
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - DeleteTopic
      TopicArn:
      - arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - fde324ec-4632-44f2-8664-d487f72f81a4
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162917Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
              <RequestId>tx9b317731-7168-49fe-a89b-fe332bf8b4b9</RequestId>
          </ResponseMetadata>
      </DeleteTopicResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 57.696016ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: "{\"project_id\":\"38ab20c5-52dc-4b2f-930f-f9bbb887e8e7\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 288.75649ms
[...]
- id: 30
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7%3Atest-mnq-sns-topic-basic%3A68f8b3fa-e492-43f7-ab9b-d2e23744f454&Version=2010-03-31
    form:
      Action:
      - GetSubscriptionAttributes
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-38ab20c5-52dc-4b2f-930f-f9bbb887e8e7:test-mnq-sns-topic-basic:68f8b3fa-e492-43f7-ab9b-d2e23744f454
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - 82027d96-1072-4fdc-9cd5-0b956c06de43
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162919Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Sender</Type>
              <Code>AccessDeniedException</Code>
              <Message>You do not have sufficient access to perform this action.</Message>
          </Error>
          <RequestId>tx52359f11-e589-4dec-af96-895dcf93d370</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: 30.046544ms
