---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-15T08:56:44.592555Z","description":"","id":"b716bd68-183f-4654-9778-05af0c509fa1","name":"tf_tests_mnq_sns_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-15T08:56:44.592555Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 714.600958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b716bd68-183f-4654-9778-05af0c509fa1
        method: GET
      response:
        body: '{"created_at":"2026-04-15T08:56:44.592555Z","description":"","id":"b716bd68-183f-4654-9778-05af0c509fa1","name":"tf_tests_mnq_sns_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-15T08:56:44.592555Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.526917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"b716bd68-183f-4654-9778-05af0c509fa1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-04-15T08:56:45.289265926Z","project_id":"b716bd68-183f-4654-9778-05af0c509fa1","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T08:56:45.289265926Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.17875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=b716bd68-183f-4654-9778-05af0c509fa1
        method: GET
      response:
        body: '{"created_at":"2026-04-15T08:56:45.289265Z","project_id":"b716bd68-183f-4654-9778-05af0c509fa1","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T08:56:45.289265Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.737625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"b716bd68-183f-4654-9778-05af0c509fa1","name":"test-mnq-sns-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"OtqDSPGGNdkOu5Lt3Xxy","created_at":"2026-04-15T08:56:45.621219413Z","id":"3c7923ab-5b30-469f-b5b9-4f92a11dc6a7","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"b716bd68-183f-4654-9778-05af0c509fa1","region":"fr-par","secret_checksum":"a24406715b60175530166ed0b9cd71789473452d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-15T08:56:45.621219413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.787625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/3c7923ab-5b30-469f-b5b9-4f92a11dc6a7
        method: GET
      response:
        body: '{"access_key":"OtqDSPGGNdkOu5Lt3Xxy","created_at":"2026-04-15T08:56:45.621219Z","id":"3c7923ab-5b30-469f-b5b9-4f92a11dc6a7","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"b716bd68-183f-4654-9778-05af0c509fa1","region":"fr-par","secret_checksum":"a24406715b60175530166ed0b9cd71789473452d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-15T08:56:45.621219Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.471125ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"b716bd68-183f-4654-9778-05af0c509fa1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"b716bd68-183f-4654-9778-05af0c509fa1","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.664209ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/3c7923ab-5b30-469f-b5b9-4f92a11dc6a7
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credentials","resource_id":"3c7923ab-5b30-469f-b5b9-4f92a11dc6a7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.347208ms
