---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:28.784309Z","description":"","id":"5e248216-a369-4769-8d28-f1b08d67181b","name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:28.784309Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/5e248216-a369-4769-8d28-f1b08d67181b
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:28.784309Z","description":"","id":"5e248216-a369-4769-8d28-f1b08d67181b","name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:28.784309Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"5e248216-a369-4769-8d28-f1b08d67181b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:29.214469150Z","project_id":"5e248216-a369-4769-8d28-f1b08d67181b","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:29.214469150Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=5e248216-a369-4769-8d28-f1b08d67181b
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:29.214469Z","project_id":"5e248216-a369-4769-8d28-f1b08d67181b","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:29.214469Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"5e248216-a369-4769-8d28-f1b08d67181b","name":"tf-sns-credentials-heuristic-mcclintock","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"zRX3MyC5VtmIH7oLzBqD","created_at":"2023-12-27T09:58:29.471839827Z","id":"a8b61a81-816d-4065-8353-b841381036a2","name":"tf-sns-credentials-heuristic-mcclintock","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"5e248216-a369-4769-8d28-f1b08d67181b","region":"fr-par","secret_checksum":"ebcca59d49356d0e308465c3e25852afecbfe16e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/a8b61a81-816d-4065-8353-b841381036a2
    method: GET
  response:
    body: '{"access_key":"zRX3MyC5VtmIH7oLzBqD","created_at":"2023-12-27T09:58:29.471839Z","id":"a8b61a81-816d-4065-8353-b841381036a2","name":"tf-sns-credentials-heuristic-mcclintock","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"5e248216-a369-4769-8d28-f1b08d67181b","region":"fr-par","secret_checksum":"ebcca59d49356d0e308465c3e25852afecbfe16e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Attributes:
      - ""
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095829Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-5e248216-a369-4769-8d28-f1b08d67181b:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txd3c97177-8dc7-40bf-b504-9d254a9b1b6c</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-5e248216-a369-4769-8d28-f1b08d67181b%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-5e248216-a369-4769-8d28-f1b08d67181b:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095830Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-5e248216-a369-4769-8d28-f1b08d67181b:test-mnq-sns-topic-basic</value>
                  </entry>
                  <entry>
                      <key>Owner</key>
                      <value>project-5e248216-a369-4769-8d28-f1b08d67181b</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>tx95058ad4-eae8-4b0e-a4e0-bff561533a8f</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"5e248216-a369-4769-8d28-f1b08d67181b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"5e248216-a369-4769-8d28-f1b08d67181b","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-5e248216-a369-4769-8d28-f1b08d67181b%3Atest-mnq-sns-topic-basic20231227095845560600000004&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-5e248216-a369-4769-8d28-f1b08d67181b:test-mnq-sns-topic-basic20231227095845560600000004
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095853Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Sender</Type>
              <Code>AccessDeniedException</Code>
              <Message>You do not have sufficient access to perform this action.</Message>
          </Error>
          <RequestId>txe801a2ff-265a-4e65-870e-e4a6300eba21</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
