---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:01:27.234226Z","description":"","id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90","name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:01:27.234226Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.280166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f37bdb6e-c896-4c75-be54-8c479dc5bf90
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:01:27.234226Z","description":"","id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90","name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:01:27.234226Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.868583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:01:27.869454397Z","project_id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:01:27.869454397Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.192ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=f37bdb6e-c896-4c75-be54-8c479dc5bf90
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:01:27.869454Z","project_id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:01:27.869454Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.049833ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.831209ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"f37bdb6e-c896-4c75-be54-8c479dc5bf90","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.67625ms
