---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:01:32.110013Z","description":"","id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:01:32.110013Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 716.183292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/bd75cefe-811f-4fe4-89a3-8af47d990b8a
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:01:32.110013Z","description":"","id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:01:32.110013Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.237375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:01:32.936910426Z","project_id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:01:32.936910426Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.559083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=bd75cefe-811f-4fe4-89a3-8af47d990b8a
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 41.1035ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a","name":"tf-sns-credentials-pedantic-franklin","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"xefmXwJScHUbllJ4TbIX","created_at":"2026-04-10T11:01:33.850594574Z","id":"b034d657-a8ca-4550-b8b3-43e36ad44f74","name":"tf-sns-credentials-pedantic-franklin","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a","region":"fr-par","secret_checksum":"770e78a478e8ff300769f8e0f687507d4bbc5312","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:01:33.850594574Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.764583ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/b034d657-a8ca-4550-b8b3-43e36ad44f74
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ACJMWQRBCIC2D4XMM7MURE2W2UFHXOISLBF3XPHMHIY6JJEZJQVEYBKA","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.441667ms
[...]
    - id: 17
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 368d9f8e-6bdf-4213-a602-6550c2fce2bf
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110151Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx6c542a5c-a9ce-463a-bb18-65d63a81e5e7</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 184.800791ms
    - id: 18
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-bd75cefe-811f-4fe4-89a3-8af47d990b8a%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 040f437a-89e1-4ee9-8fa3-0e0481aee99b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110151Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-bd75cefe-811f-4fe4-89a3-8af47d990b8a</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx81815ecd-6a9e-4436-888e-538f1a12ea0f</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 22.371833ms
[...]
    - id: 23
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=Subscribe&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-bd75cefe-811f-4fe4-89a3-8af47d990b8a%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - Subscribe
            Endpoint:
                - http://scaleway.com
            Protocol:
                - http
            ReturnSubscriptionArn:
                - "true"
            TopicArn:
                - arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - db6b2eb5-ccbf-4cdf-8292-9ff747aaeb61
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110152Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <SubscribeResult>
                    <SubscriptionArn>arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic:60499604-525d-44b1-b479-924ca8273a6e</SubscriptionArn>
                </SubscribeResult>
                <ResponseMetadata>
                    <RequestId>txf1d509de-4302-43e8-b1b9-a2f9e3c95d0a</RequestId>
                </ResponseMetadata>
            </SubscribeResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.313827167s
    - id: 24
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-bd75cefe-811f-4fe4-89a3-8af47d990b8a%3Atest-mnq-sns-topic-basic%3A60499604-525d-44b1-b479-924ca8273a6e&Version=2010-03-31
        form:
            Action:
                - GetSubscriptionAttributes
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic:60499604-525d-44b1-b479-924ca8273a6e
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - c90d8b40-d041-4be1-a4cf-786ae49124f2
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110155Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetSubscriptionAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetSubscriptionAttributesResult>
                    <Attributes>
                        <entry>
                            <key>ConfirmationWasAuthenticated</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>EffectiveDeliveryPolicy</key>
                            <value>{&#34;HealthyRetryPolicy&#34;:{&#34;MinDelayTarget&#34;:20,&#34;MaxDelayTarget&#34;:20,&#34;NumRetries&#34;:3,&#34;NumNoDelayRetries&#34;:0,&#34;NumMinDel[...]
[...]
    - id: 35
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=Unsubscribe&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-bd75cefe-811f-4fe4-89a3-8af47d990b8a%3Atest-mnq-sns-topic-basic%3A60499604-525d-44b1-b479-924ca8273a6e&Version=2010-03-31
        form:
            Action:
                - Unsubscribe
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic:60499604-525d-44b1-b479-924ca8273a6e
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 4cd0eaf8-68ab-4b06-97a4-ac3ca13d108c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110201Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <UnsubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx665ccf00-7856-4890-9245-70d0236e5507</RequestId>
                </ResponseMetadata>
            </UnsubscribeResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.532228417s
[...]
    - id: 37
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-bd75cefe-811f-4fe4-89a3-8af47d990b8a%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 827d5b10-a2a6-4508-8e0d-ef817bf402c2
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110203Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx5be9ba60-9843-47b1-8e34-f2acdbb39ac1</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 47.3145ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"project_id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"bd75cefe-811f-4fe4-89a3-8af47d990b8a","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.233ms
[...]
    - id: 44
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-bd75cefe-811f-4fe4-89a3-8af47d990b8a%3Atest-mnq-sns-topic-basic%3A60499604-525d-44b1-b479-924ca8273a6e&Version=2010-03-31
        form:
            Action:
                - GetSubscriptionAttributes
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-bd75cefe-811f-4fe4-89a3-8af47d990b8a:test-mnq-sns-topic-basic:60499604-525d-44b1-b479-924ca8273a6e
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - bbb4c91c-f405-4acc-84ea-fe69efc07976
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110206Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <Error>
                    <Type>Sender</Type>
                    <Code>AccessDeniedException</Code>
                    <Message>You do not have sufficient access to perform this action.</Message>
                </Error>
                <RequestId>txda484279-1204-4054-b5ed-e50c00919e73</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 13.516542ms
