---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_credentials_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"name\":\"tf_tests_mnq_sqs_credentials_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.837121Z\",\"updated_at\":\"2025-08-26T16:28:57.837121Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 531.751255ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/8c41214b-954d-4521-9b13-9c79cb09c93d
    method: GET
  response:
    body: "{\"id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"name\":\"tf_tests_mnq_sqs_credentials_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.837121Z\",\"updated_at\":\"2025-08-26T16:28:57.837121Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 257.49115ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.578400726Z\",\"updated_at\":\"2025-08-26T16:28:58.578400726Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 324.698923ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 8c41214b-954d-4521-9b13-9c79cb09c93d
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=8c41214b-954d-4521-9b13-9c79cb09c93d
    method: GET
  response:
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.578400Z\",\"updated_at\":\"2025-08-26T16:28:58.578400Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 137.502909ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"name\":\"test-mnq-sns-credentials-basic\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:59.071339505Z\",\"updated_at\":\"2025-08-26T16:28:59.071339505Z\",\"id\":\"c44efaed-7959-4680-860f-b5f3e9ca8ecd\",\"name\":\"test-mnq-sns-credentials-basic\",\"access_key\":\"ydHGJTYQdbwjQvJKxZag\",\"secret_key\":\"6FZitfq2lh5SHooBjTxE7x8ZD4epyUbzx2EZYOsC4kPHSRF4tApOW2jpSucOdY2P\",\"secret_checksum\":\"18ebbf1f943c35b8470f0ba25f7b593bcdc869d6\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 221.458836ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/c44efaed-7959-4680-860f-b5f3e9ca8ecd
    method: GET
  response:
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:59.071339Z\",\"updated_at\":\"2025-08-26T16:28:59.071339Z\",\"id\":\"c44efaed-7959-4680-860f-b5f3e9ca8ecd\",\"name\":\"test-mnq-sns-credentials-basic\",\"access_key\":\"ydHGJTYQdbwjQvJKxZag\",\"secret_key\":\"\",\"secret_checksum\":\"18ebbf1f943c35b8470f0ba25f7b593bcdc869d6\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.689428ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: "{\"project_id\":\"8c41214b-954d-4521-9b13-9c79cb09c93d\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 262.685069ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/c44efaed-7959-4680-860f-b5f3e9ca8ecd
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"credentials\",\"resource_id\":\"c44efaed-7959-4680-860f-b5f3e9ca8ecd\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.582614ms
