---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_topic_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-10T12:38:27.916640Z","description":"","id":"328f043e-3a6a-42f9-8707-d893a03a3e08","name":"tf_tests_mnq_sns_topic_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-08-10T12:38:27.916640Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 436.37175ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/328f043e-3a6a-42f9-8707-d893a03a3e08
        method: GET
      response:
        body: '{"created_at":"2026-08-10T12:38:27.916640Z","description":"","id":"328f043e-3a6a-42f9-8707-d893a03a3e08","name":"tf_tests_mnq_sns_topic_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-08-10T12:38:27.916640Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.154292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-08-10T12:38:28.221410982Z","project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-08-10T12:38:28.221410982Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.990833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=328f043e-3a6a-42f9-8707-d893a03a3e08
        method: GET
      response:
        body: '{"created_at":"2026-08-10T12:38:28.221410Z","project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-08-10T12:38:28.221410Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.092583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08","name":"tf-sns-credentials-lucid-northcutt","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"CQyjEoQDvuLDRdsW8xA0","created_at":"2026-08-10T12:38:28.378703537Z","id":"d18bf57d-1c69-44e8-aca7-67e744cca52a","name":"tf-sns-credentials-lucid-northcutt","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08","region":"fr-par","secret_checksum":"c2c4bbfd07cdb856dca7426dcb7cfeaf49621176","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-08-10T12:38:28.378703537Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.85375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/d18bf57d-1c69-44e8-aca7-67e744cca52a
        method: GET
      response:
        body: '{"access_key":"CQyjEoQDvuLDRdsW8xA0","created_at":"2026-08-10T12:38:28.378703Z","id":"d18bf57d-1c69-44e8-aca7-67e744cca52a","name":"tf-sns-credentials-lucid-northcutt","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08","region":"fr-par","secret_checksum":"c2c4bbfd07cdb856dca7426dcb7cfeaf49621176","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-08-10T12:38:28.378703Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.018333ms
[...]
    - id: 7
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 8e931967-f336-4682-9803-b54cfc08a329
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123828Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-328f043e-3a6a-42f9-8707-d893a03a3e08:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx1063434d-e556-4b52-bf82-c3cf6e6cf99b</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 143.421209ms
    - id: 8
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-328f043e-3a6a-42f9-8707-d893a03a3e08%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-328f043e-3a6a-42f9-8707-d893a03a3e08:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 2cec5109-03d7-4e56-91d7-1b384413fa82
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123828Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-328f043e-3a6a-42f9-8707-d893a03a3e08</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-328f043e-3a6a-42f9-8707-d893a03a3e08:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txa9afd7e0-3a39-49cd-80d7-68059c8ccee6</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 37.050458ms
[...]
    - id: 18
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-328f043e-3a6a-42f9-8707-d893a03a3e08%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-328f043e-3a6a-42f9-8707-d893a03a3e08:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 85851b16-8151-4199-a93d-7744916ce238
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123829Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>txcd540934-09ae-41b6-8e1f-609890b9d474</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 50.19425ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"328f043e-3a6a-42f9-8707-d893a03a3e08","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.886375ms
[...]
    - id: 45
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-328f043e-3a6a-42f9-8707-d893a03a3e08%3Atest-mnq-sns-topic-basic20260810123831496600000003&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-328f043e-3a6a-42f9-8707-d893a03a3e08:test-mnq-sns-topic-basic20260810123831496600000003
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - dfb2f79e-4807-4dde-bcd6-1b477bc0466d
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260810T123834Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <Error>
                    <Type>Sender</Type>
                    <Code>AccessDeniedException</Code>
                    <Message>You do not have sufficient access to perform this action.</Message>
                </Error>
                <RequestId>tx854b3b3b-3a77-42e5-acc1-9cbb2b51dab6</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 12.860292ms
