---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:02:06.830929Z","description":"","id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee","name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:02:06.830929Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 490.19975ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d5d6fba6-ccd7-48cb-b520-19883b4b4cee
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:02:06.830929Z","description":"","id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee","name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:02:06.830929Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.22275ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:02:07.444171565Z","project_id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:02:07.444171565Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.943416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=d5d6fba6-ccd7-48cb-b520-19883b4b4cee
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 35.991333ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee","name":"tf-sns-credentials-zen-rosalind","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"yk4v9jOjX95w1HdtGuwc","created_at":"2026-04-10T11:02:33.775397120Z","id":"1f74d673-70d2-4639-b109-2b632ef75514","name":"tf-sns-credentials-zen-rosalind","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee","region":"fr-par","secret_checksum":"638c9c98be693bc4113a2a820ae47472b2bc3c1e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:02:33.775397120Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.408625ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/1f74d673-70d2-4639-b109-2b632ef75514
        method: GET
      response:
        body: '{"access_key":"yk4v9jOjX95w1HdtGuwc","created_at":"2026-04-10T11:02:33.775397Z","id":"1f74d673-70d2-4639-b109-2b632ef75514","name":"tf-sns-credentials-zen-rosalind","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee","region":"fr-par","secret_checksum":"638c9c98be693bc4113a2a820ae47472b2bc3c1e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:02:33.775397Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.149917ms
[...]
    - id: 15
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - cf88da65-cdc7-43cc-afb1-0c6a6275548b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110234Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-d5d6fba6-ccd7-48cb-b520-19883b4b4cee:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx9f0fd4c1-13b9-4fe1-aab2-eb80f91a05f3</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 96.850084ms
    - id: 16
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-d5d6fba6-ccd7-48cb-b520-19883b4b4cee%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-d5d6fba6-ccd7-48cb-b520-19883b4b4cee:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 3fe3a0b5-8039-4d07-b384-021c509e0977
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110234Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-d5d6fba6-ccd7-48cb-b520-19883b4b4cee</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-d5d6fba6-ccd7-48cb-b520-19883b4b4cee:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx0fc4b8ad-68bc-45d9-b7c5-37b3992d1f37</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 25.793209ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/1f74d673-70d2-4639-b109-2b632ef75514
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"AAN54NFHZJLYYL3SUJRL2AZ4ZXMMLUJ4KQWKV7JSD7V5WI27MCH4KAMI","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.661584ms
[...]
    - id: 27
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-d5d6fba6-ccd7-48cb-b520-19883b4b4cee%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-d5d6fba6-ccd7-48cb-b520-19883b4b4cee:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - b46df8f4-6c72-43b1-98a5-67866d9532f1
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110236Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx6c92e036-c6c9-4121-8c32-693fc4fb79df</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 95.709875ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"project_id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"d5d6fba6-ccd7-48cb-b520-19883b4b4cee","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.509666ms
[...]
    - id: 55
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-d5d6fba6-ccd7-48cb-b520-19883b4b4cee%3Atest-mnq-sns-topic-basic20260410110238713000000003&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-d5d6fba6-ccd7-48cb-b520-19883b4b4cee:test-mnq-sns-topic-basic20260410110238713000000003
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 74a2467c-a0a2-4b7c-a897-c3fa2f9e3c61
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260410T110242Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <Error>
                    <Type>Sender</Type>
                    <Code>AccessDeniedException</Code>
                    <Message>You do not have sufficient access to perform this action.</Message>
                </Error>
                <RequestId>tx82ef50b3-d126-46bb-bb42-8c73b08aa7d2</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 10.517292ms
