---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sns_topic_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"name\":\"tf_tests_mnq_sns_topic_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.464153Z\",\"updated_at\":\"2025-08-26T16:28:57.464153Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 538.71856ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/40d432df-4186-4af4-a8cf-6c1fa99cf41a
    method: GET
  response:
    body: "{\"id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"name\":\"tf_tests_mnq_sns_topic_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.464153Z\",\"updated_at\":\"2025-08-26T16:28:57.464153Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.081743ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.069039242Z\",\"updated_at\":\"2025-08-26T16:28:58.069039242Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 218.810463ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 40d432df-4186-4af4-a8cf-6c1fa99cf41a
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=40d432df-4186-4af4-a8cf-6c1fa99cf41a
    method: GET
  response:
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.069039Z\",\"updated_at\":\"2025-08-26T16:28:58.069039Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 105.36169ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"name\":\"tf-sns-credentials-nifty-goodall\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.418018040Z\",\"updated_at\":\"2025-08-26T16:28:58.418018040Z\",\"id\":\"4c002bb4-6b8f-4ab8-8d1c-4a45e1da9d68\",\"name\":\"tf-sns-credentials-nifty-goodall\",\"access_key\":\"KuppVhD7c669JQvbR8Oy\",\"secret_key\":\"cgS3IB1tjklRp3MDbUzQB2X1X4T7KdsIchLFJqCQw49XpsQDCn7kBsSHC5ICyT8y\",\"secret_checksum\":\"b65c7fd30ab6bf80fdb039bef1091cff0d6275f3\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 152.918315ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/4c002bb4-6b8f-4ab8-8d1c-4a45e1da9d68
    method: GET
  response:
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.418018Z\",\"updated_at\":\"2025-08-26T16:28:58.418018Z\",\"id\":\"4c002bb4-6b8f-4ab8-8d1c-4a45e1da9d68\",\"name\":\"tf-sns-credentials-nifty-goodall\",\"access_key\":\"KuppVhD7c669JQvbR8Oy\",\"secret_key\":\"\",\"secret_checksum\":\"b65c7fd30ab6bf80fdb039bef1091cff0d6275f3\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 157.366237ms
[...]
- id: 7
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - 06dcbd7c-60df-4210-a023-ec6e1718eb92
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162858Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-40d432df-4186-4af4-a8cf-6c1fa99cf41a:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txd1096d94-b54f-4485-82aa-b316addda2f0</RequestId>
          </ResponseMetadata>
      </CreateTopicResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 292.752081ms
- id: 8
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-40d432df-4186-4af4-a8cf-6c1fa99cf41a%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-40d432df-4186-4af4-a8cf-6c1fa99cf41a:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - fd3ee7a8-461b-411c-894b-d87e45d8c8b0
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162858Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>Owner</key>
                      <value>project-40d432df-4186-4af4-a8cf-6c1fa99cf41a</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-40d432df-4186-4af4-a8cf-6c1fa99cf41a:test-mnq-sns-topic-basic</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>txbb154b94-6962-4d7f-87d1-df5d61a44a0b</RequestId>
          </ResponseMetadata>
      </GetTopicAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 157.550133ms
[...]
- id: 18
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-40d432df-4186-4af4-a8cf-6c1fa99cf41a%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - DeleteTopic
      TopicArn:
      - arn:scw:sns:fr-par:project-40d432df-4186-4af4-a8cf-6c1fa99cf41a:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - 1d8b6617-8b79-479f-9d70-527365c5851d
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162911Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
              <RequestId>tx95d23684-aff5-481d-b0a4-686df3a30d6e</RequestId>
          </ResponseMetadata>
      </DeleteTopicResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: 84.226403ms
[...]
- id: 43
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: "{\"project_id\":\"40d432df-4186-4af4-a8cf-6c1fa99cf41a\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 267.636889ms
[...]
- id: 45
  request:
    host: sns.mnq.fr-par.scaleway.com
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-40d432df-4186-4af4-a8cf-6c1fa99cf41a%3Atest-mnq-sns-topic-basic20250826162921593600000004&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-40d432df-4186-4af4-a8cf-6c1fa99cf41a:test-mnq-sns-topic-basic20250826162921593600000004
      Version:
      - "2010-03-31"
    headers:
      Amz-Sdk-Invocation-Id:
      - de0f0027-431d-4c3a-a3df-0649f177c515
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20250826T162929Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |-
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Sender</Type>
              <Code>AccessDeniedException</Code>
              <Message>You do not have sufficient access to perform this action.</Message>
          </Error>
          <RequestId>tx08dfe148-b595-41ef-8174-fdcb411bd6b2</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: 17.773693ms
