---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.987481Z","description":"","id":"1a080a81-67b6-476d-80b4-f3bb9184e318","name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.987481Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 471.345ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1a080a81-67b6-476d-80b4-f3bb9184e318
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.987481Z","description":"","id":"1a080a81-67b6-476d-80b4-f3bb9184e318","name":"tf_tests_mnq_sns_topic_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.987481Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.973209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.542807278Z","project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.542807278Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.615959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=1a080a81-67b6-476d-80b4-f3bb9184e318
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.542807Z","project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.542807Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.508292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318","name":"tf-sns-credentials-flamboyant-dijkstra","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"Fj5pXRDUIiQMuZ4tJUL8","created_at":"2024-12-10T13:19:57.763498486Z","id":"3c0b8d00-8a2e-4996-915a-24e30c6d85e4","name":"tf-sns-credentials-flamboyant-dijkstra","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318","region":"fr-par","secret_checksum":"30f0dffdc1ca5b38bd2f192d1e999b15f2c4e89f","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.502291ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/3c0b8d00-8a2e-4996-915a-24e30c6d85e4
        method: GET
      response:
        body: '{"access_key":"Fj5pXRDUIiQMuZ4tJUL8","created_at":"2024-12-10T13:19:57.763498Z","id":"3c0b8d00-8a2e-4996-915a-24e30c6d85e4","name":"tf-sns-credentials-flamboyant-dijkstra","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318","region":"fr-par","secret_checksum":"30f0dffdc1ca5b38bd2f192d1e999b15f2c4e89f","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.651792ms
[...]
    - id: 7
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 095649e0-6ce3-414f-9a11-f778515d00a7
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T131958Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-1a080a81-67b6-476d-80b4-f3bb9184e318:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx90da40cf-8d27-410b-ae48-f74fed43997a</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 616.219208ms
    - id: 8
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-1a080a81-67b6-476d-80b4-f3bb9184e318%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-1a080a81-67b6-476d-80b4-f3bb9184e318:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 6ae07498-2750-4430-b673-9b434c8f9ae4
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T131958Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-1a080a81-67b6-476d-80b4-f3bb9184e318</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-1a080a81-67b6-476d-80b4-f3bb9184e318:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx4726819b-95ab-429a-a0b9-864ce156b035</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 24.828792ms
[...]
    - id: 18
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-1a080a81-67b6-476d-80b4-f3bb9184e318%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-1a080a81-67b6-476d-80b4-f3bb9184e318:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 9699d458-51b6-49ad-b564-f02415b1e351
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T132002Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>txc20e5cf6-1d62-4ec6-93a6-6ed8c210f954</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 41.66925ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"1a080a81-67b6-476d-80b4-f3bb9184e318","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 425.868ms
[...]
    - id: 45
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-1a080a81-67b6-476d-80b4-f3bb9184e318%3Atest-mnq-sns-topic-basic20241210132007692200000004&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-1a080a81-67b6-476d-80b4-f3bb9184e318:test-mnq-sns-topic-basic20241210132007692200000004
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - b087b2d7-9bea-424a-89f1-06700016df9a
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T132011Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <Error>
                    <Type>Sender</Type>
                    <Code>AccessDeniedException</Code>
                    <Message>You do not have sufficient access to perform this action.</Message>
                </Error>
                <RequestId>txf98a9a2d-e600-4ee3-896a-083dc959cfe6</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 7.736209ms
