---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T09:23:41.521779Z","description":"","id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T09:23:41.521779Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 997.225542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/932c0cdd-ac09-413a-b7f0-b92894c9daba
        method: GET
      response:
        body: '{"created_at":"2024-12-10T09:23:41.521779Z","description":"","id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T09:23:41.521779Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.797916ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-12-10T09:23:42.377468131Z","project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T09:23:42.377468131Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.989917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=932c0cdd-ac09-413a-b7f0-b92894c9daba
        method: GET
      response:
        body: '{"created_at":"2024-12-10T09:23:42.377468Z","project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T09:23:42.377468Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.741584ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","name":"tf-sns-credentials-silly-gould","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"sEktOmyUH4Dwz9gaNyri","created_at":"2024-12-10T09:23:42.633161880Z","id":"a0633404-e375-461e-9afb-c2641180f830","name":"tf-sns-credentials-silly-gould","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","region":"fr-par","secret_checksum":"6b0a685e52d848cbea007f50629afbe86903f2bd","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.548375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/a0633404-e375-461e-9afb-c2641180f830
        method: GET
      response:
        body: '{"access_key":"sEktOmyUH4Dwz9gaNyri","created_at":"2024-12-10T09:23:42.633161Z","id":"a0633404-e375-461e-9afb-c2641180f830","name":"tf-sns-credentials-silly-gould","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","region":"fr-par","secret_checksum":"6b0a685e52d848cbea007f50629afbe86903f2bd","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.968041ms
[...]
    - id: 7
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - d9ef87ee-3885-4ccd-9040-d34bc4488a64
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T092342Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx71c5d7e8-07f1-4f1e-bfd9-b5ef0b6c68ac</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 758.036375ms
    - id: 8
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-932c0cdd-ac09-413a-b7f0-b92894c9daba%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 25599c13-40ee-4580-b69b-c0cd40ac2bd2
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T092343Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-932c0cdd-ac09-413a-b7f0-b92894c9daba</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>txf9d302d3-af57-4f07-8ffb-90dd75cad71c</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 32.8835ms
[...]
    - id: 11
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=Subscribe&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-932c0cdd-ac09-413a-b7f0-b92894c9daba%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - Subscribe
            Endpoint:
                - http://scaleway.com
            Protocol:
                - http
            ReturnSubscriptionArn:
                - "true"
            TopicArn:
                - arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - cdfdaa0a-d930-4d34-9c39-f48e33c2f12f
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T092343Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <SubscribeResult>
                    <SubscriptionArn>arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic:06ee2886-15b5-4f54-a6cd-55711a95a02d</SubscriptionArn>
                </SubscribeResult>
                <ResponseMetadata>
                    <RequestId>tx58cc8def-01e1-4c26-8100-26701904852e</RequestId>
                </ResponseMetadata>
            </SubscribeResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.495602708s
    - id: 12
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-932c0cdd-ac09-413a-b7f0-b92894c9daba%3Atest-mnq-sns-topic-basic%3A06ee2886-15b5-4f54-a6cd-55711a95a02d&Version=2010-03-31
        form:
            Action:
                - GetSubscriptionAttributes
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic:06ee2886-15b5-4f54-a6cd-55711a95a02d
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - bd783fa7-1346-40a6-b102-92da19821744
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T092347Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetSubscriptionAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetSubscriptionAttributesResult>
                    <Attributes>
                        <entry>
                            <key>ConfirmationWasAuthenticated</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>EffectiveDeliveryPolicy</key>
                            <value>{&#34;HealthyRetryPolicy&#34;:{&#34;MinDelayTarget&#34;:20,&#34;MaxDelayTarget&#34;:20,&#34;NumRetries&#34;:3,&#34;NumNoDelayRetries&#34;:0,&#34;NumMinDel[...]
[...]
    - id: 23
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=Unsubscribe&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-932c0cdd-ac09-413a-b7f0-b92894c9daba%3Atest-mnq-sns-topic-basic%3A06ee2886-15b5-4f54-a6cd-55711a95a02d&Version=2010-03-31
        form:
            Action:
                - Unsubscribe
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic:06ee2886-15b5-4f54-a6cd-55711a95a02d
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 46c47650-3646-4f78-a287-34160af9dcad
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T092349Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <UnsubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx38b1f900-2b41-489f-8c89-a08a5361368f</RequestId>
                </ResponseMetadata>
            </UnsubscribeResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 85.340292ms
[...]
    - id: 25
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-932c0cdd-ac09-413a-b7f0-b92894c9daba%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 2777f248-77b4-47cb-a404-30f4ade0848c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T092350Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx010da394-cff2-4c62-b8ea-a1efed2e29ad</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 51.806125ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"932c0cdd-ac09-413a-b7f0-b92894c9daba","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.70275ms
[...]
    - id: 30
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-932c0cdd-ac09-413a-b7f0-b92894c9daba%3Atest-mnq-sns-topic-basic%3A06ee2886-15b5-4f54-a6cd-55711a95a02d&Version=2010-03-31
        form:
            Action:
                - GetSubscriptionAttributes
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-932c0cdd-ac09-413a-b7f0-b92894c9daba:test-mnq-sns-topic-basic:06ee2886-15b5-4f54-a6cd-55711a95a02d
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 53d2ffc6-069b-4c0c-a683-dc75564683fb
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T092352Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <Error>
                    <Type>Sender</Type>
                    <Code>AccessDeniedException</Code>
                    <Message>You do not have sufficient access to perform this action.</Message>
                </Error>
                <RequestId>tx7f9d1343-c6ad-49e9-8c3c-70d54b64c61f</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 12.773208ms
