---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:20:03.974123Z","description":"","id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:20:03.974123Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.610541ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/df95fe9b-007c-4ee2-904e-e7923e86b8a3
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:20:03.974123Z","description":"","id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:20:03.974123Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.173625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:20:04.354825767Z","project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:20:04.354825767Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.232084ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=df95fe9b-007c-4ee2-904e-e7923e86b8a3
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:20:04.354825Z","project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:20:04.354825Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.577541ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","name":"test-mnq-sns-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"ncIftJiJb7LQRdwgd9sn","created_at":"2024-12-10T13:20:04.638827099Z","id":"60fa00cf-985d-4af1-9a93-1980a0952882","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","region":"fr-par","secret_checksum":"421b1860b8e8160c306a42293099476c58199d03","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.750625ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/60fa00cf-985d-4af1-9a93-1980a0952882
        method: GET
      response:
        body: '{"access_key":"ncIftJiJb7LQRdwgd9sn","created_at":"2024-12-10T13:20:04.638827Z","id":"60fa00cf-985d-4af1-9a93-1980a0952882","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","region":"fr-par","secret_checksum":"421b1860b8e8160c306a42293099476c58199d03","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.810042ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"df95fe9b-007c-4ee2-904e-e7923e86b8a3","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.488791ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/60fa00cf-985d-4af1-9a93-1980a0952882
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credential","resource_id":"60fa00cf-985d-4af1-9a93-1980a0952882","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 17.456667ms
