---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sns_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\",\"name\":\"tf_tests_mnq_sns_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.645202Z\",\"updated_at\":\"2025-08-26T16:28:57.645202Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 421.174369ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/64ee062e-e22f-4094-a5bb-94b65cb8199f
    method: GET
  response:
    body: "{\"id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\",\"name\":\"tf_tests_mnq_sns_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.645202Z\",\"updated_at\":\"2025-08-26T16:28:57.645202Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 239.623709ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: "{\"project_id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.240046053Z\",\"updated_at\":\"2025-08-26T16:28:58.240046053Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 258.327033ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 64ee062e-e22f-4094-a5bb-94b65cb8199f
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=64ee062e-e22f-4094-a5bb-94b65cb8199f
    method: GET
  response:
    body: "{\"project_id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.240046Z\",\"updated_at\":\"2025-08-26T16:28:58.240046Z\",\"status\":\"enabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.590112ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: "{\"project_id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sns_endpoint_url\":\"https://sns.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 255.431774ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"MnqSNSNamespace\",\"resource_id\":\"64ee062e-e22f-4094-a5bb-94b65cb8199f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 37.915866ms
