---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:20:05.508246Z","description":"","id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3","name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:20:05.508246Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.427292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/def8d13d-e0d0-426b-b2ea-80144ecda7f3
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:20:05.508246Z","description":"","id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3","name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:20:05.508246Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.751959ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:20:05.848204684Z","project_id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:20:05.848204684Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.45525ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=def8d13d-e0d0-426b-b2ea-80144ecda7f3
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:20:05.848204Z","project_id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:20:05.848204Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.645292ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.004584ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"def8d13d-e0d0-426b-b2ea-80144ecda7f3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.698708ms
