---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.036532Z","description":"","id":"9052e807-5c96-422a-9570-80b6176a95dc","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:57.036532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 696.567542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9052e807-5c96-422a-9570-80b6176a95dc
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.036532Z","description":"","id":"9052e807-5c96-422a-9570-80b6176a95dc","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:57.036532Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.081125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"9052e807-5c96-422a-9570-80b6176a95dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.787596224Z","project_id":"9052e807-5c96-422a-9570-80b6176a95dc","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.787596224Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.798166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=9052e807-5c96-422a-9570-80b6176a95dc
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.787596Z","project_id":"9052e807-5c96-422a-9570-80b6176a95dc","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.787596Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.274458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"9052e807-5c96-422a-9570-80b6176a95dc","name":"tf-sns-credentials-confident-cartwright","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"UvJlCkz53gTTWOJx92kD","created_at":"2024-12-10T13:19:58.017336513Z","id":"503ff809-8516-4ccf-9b2c-744ada1154fe","name":"tf-sns-credentials-confident-cartwright","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"9052e807-5c96-422a-9570-80b6176a95dc","region":"fr-par","secret_checksum":"95e5bdec4b67ccefdfe0dc5dec217decf65183e1","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.732375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/503ff809-8516-4ccf-9b2c-744ada1154fe
        method: GET
      response:
        body: '{"access_key":"UvJlCkz53gTTWOJx92kD","created_at":"2024-12-10T13:19:58.017336Z","id":"503ff809-8516-4ccf-9b2c-744ada1154fe","name":"tf-sns-credentials-confident-cartwright","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"9052e807-5c96-422a-9570-80b6176a95dc","region":"fr-par","secret_checksum":"95e5bdec4b67ccefdfe0dc5dec217decf65183e1","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.812208ms
[...]
    - id: 7
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=CreateTopic&Name=test-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - CreateTopic
            Name:
                - test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 0cf9c00f-68da-400b-bc88-2bd642aec90f
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T131958Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <CreateTopicResult>
                    <TopicArn>arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic</TopicArn>
                </CreateTopicResult>
                <ResponseMetadata>
                    <RequestId>tx7844080d-0d35-4c75-9179-c99dd2a9e639</RequestId>
                </ResponseMetadata>
            </CreateTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 466.134125ms
    - id: 8
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-9052e807-5c96-422a-9570-80b6176a95dc%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - GetTopicAttributes
            TopicArn:
                - arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 293ebec1-6452-4b6c-b620-605234e83191
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T131958Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetTopicAttributesResult>
                    <Attributes>
                        <entry>
                            <key>Owner</key>
                            <value>project-9052e807-5c96-422a-9570-80b6176a95dc</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsConfirmed</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsDeleted</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>SubscriptionsPending</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>TopicArn</key>
                            <value>arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic</value>
                        </entry>
                    </Attributes>
                </GetTopicAttributesResult>
                <ResponseMetadata>
                    <RequestId>tx5f38a76b-9968-4344-a266-853a4c4f4660</RequestId>
                </ResponseMetadata>
            </GetTopicAttributesResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 28.760667ms
[...]
    - id: 11
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=Subscribe&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-9052e807-5c96-422a-9570-80b6176a95dc%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - Subscribe
            Endpoint:
                - http://scaleway.com
            Protocol:
                - http
            ReturnSubscriptionArn:
                - "true"
            TopicArn:
                - arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 4ade13f5-5895-45e1-9049-cba804cf9cf2
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T131958Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <SubscribeResult>
                    <SubscriptionArn>arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic:30559d13-049d-434e-83cb-9543956ad2de</SubscriptionArn>
                </SubscribeResult>
                <ResponseMetadata>
                    <RequestId>tx6dd8e600-31d5-4bae-9b43-9ea8cab6a1b2</RequestId>
                </ResponseMetadata>
            </SubscribeResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.244360542s
    - id: 12
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-9052e807-5c96-422a-9570-80b6176a95dc%3Atest-mnq-sns-topic-basic%3A30559d13-049d-434e-83cb-9543956ad2de&Version=2010-03-31
        form:
            Action:
                - GetSubscriptionAttributes
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic:30559d13-049d-434e-83cb-9543956ad2de
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - dfe7162d-5055-46e4-8596-c2655a326fd8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T132001Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <GetSubscriptionAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <GetSubscriptionAttributesResult>
                    <Attributes>
                        <entry>
                            <key>ConfirmationWasAuthenticated</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>EffectiveDeliveryPolicy</key>
                            <value>{&#34;HealthyRetryPolicy&#34;:{&#34;MinDelayTarget&#34;:20,&#34;MaxDelayTarget&#34;:20,&#34;NumRetries&#34;:3,&#34;NumNoDelayRetries&#34;:0,&#34;NumMinDel[...]
[...]
    - id: 23
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=Unsubscribe&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-9052e807-5c96-422a-9570-80b6176a95dc%3Atest-mnq-sns-topic-basic%3A30559d13-049d-434e-83cb-9543956ad2de&Version=2010-03-31
        form:
            Action:
                - Unsubscribe
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic:30559d13-049d-434e-83cb-9543956ad2de
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 6d13d8d1-6122-4a9a-8cf7-14df626e2457
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T132005Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <UnsubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>txede76fd7-1155-4f53-b7a3-76169896719b</RequestId>
                </ResponseMetadata>
            </UnsubscribeResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 48.999708ms
[...]
    - id: 25
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=DeleteTopic&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-9052e807-5c96-422a-9570-80b6176a95dc%3Atest-mnq-sns-topic-basic&Version=2010-03-31
        form:
            Action:
                - DeleteTopic
            TopicArn:
                - arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - ee936c03-08e1-4d9b-8fe9-3a971cebc6b1
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T132005Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <ResponseMetadata>
                    <RequestId>tx52bd175e-55fc-4faa-b03e-673a2d6f39cc</RequestId>
                </ResponseMetadata>
            </DeleteTopicResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 200 OK
        code: 200
        duration: 68.59125ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"9052e807-5c96-422a-9570-80b6176a95dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"9052e807-5c96-422a-9570-80b6176a95dc","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.41625ms
[...]
    - id: 30
      request:
        host: sns.mnq.fr-par.scaleway.com
        body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-9052e807-5c96-422a-9570-80b6176a95dc%3Atest-mnq-sns-topic-basic%3A30559d13-049d-434e-83cb-9543956ad2de&Version=2010-03-31
        form:
            Action:
                - GetSubscriptionAttributes
            SubscriptionArn:
                - arn:scw:sns:fr-par:project-9052e807-5c96-422a-9570-80b6176a95dc:test-mnq-sns-topic-basic:30559d13-049d-434e-83cb-9543956ad2de
            Version:
                - "2010-03-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - bea8fd52-f0ce-4b1e-a2a6-9851ad09ed29
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20241210T132007Z
        url: https://sns.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: |-
            <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
                <Error>
                    <Type>Sender</Type>
                    <Code>AccessDeniedException</Code>
                    <Message>You do not have sufficient access to perform this action.</Message>
                </Error>
                <RequestId>txf0683716-098c-4ace-8606-b7a8d9d6db7b</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 8.193209ms
