---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sns_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:21.360485Z","description":"","id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd","name":"tf_tests_mnq_sns_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T10:59:21.360485Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 742.288417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5ec45ed3-f545-4a50-b333-f4860c61dbcd
        method: GET
      response:
        body: '{"created_at":"2026-04-10T10:59:21.360485Z","description":"","id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd","name":"tf_tests_mnq_sns_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T10:59:21.360485Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.815334ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
        method: POST
      response:
        body: '{"created_at":"2026-04-10T10:59:22.405789310Z","project_id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T10:59:22.405789310Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.730667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=5ec45ed3-f545-4a50-b333-f4860c61dbcd
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 35.251875ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"project_id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd","name":"test-mnq-sns-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
        method: POST
      response:
        body: '{"access_key":"2gWYRsCKmnZRFZ1j4mWJ","created_at":"2026-04-10T11:00:19.273461486Z","id":"61a26868-8b1d-4cbf-b3b4-015868341d58","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd","region":"fr-par","secret_checksum":"63233cfbe94b80dc3f76b840cb4411844c6c8d2c","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:00:19.273461486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 379.428125ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/61a26868-8b1d-4cbf-b3b4-015868341d58
        method: GET
      response:
        body: '{"access_key":"2gWYRsCKmnZRFZ1j4mWJ","created_at":"2026-04-10T11:00:19.273461Z","id":"61a26868-8b1d-4cbf-b3b4-015868341d58","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd","region":"fr-par","secret_checksum":"63233cfbe94b80dc3f76b840cb4411844c6c8d2c","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:00:19.273461Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.619583ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"project_id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
        method: POST
      response:
        body: '{"created_at":null,"project_id":"5ec45ed3-f545-4a50-b333-f4860c61dbcd","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.935875ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/61a26868-8b1d-4cbf-b3b4-015868341d58
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credentials","resource_id":"61a26868-8b1d-4cbf-b3b4-015868341d58","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.446208ms
