---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.663987Z","description":"","id":"53092467-d9f4-4cf1-a5f7-80e918c85d66","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.663987Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.423958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/53092467-d9f4-4cf1-a5f7-80e918c85d66
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.663987Z","description":"","id":"53092467-d9f4-4cf1-a5f7-80e918c85d66","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.663987Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.501458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"53092467-d9f4-4cf1-a5f7-80e918c85d66"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.126167450Z","project_id":"53092467-d9f4-4cf1-a5f7-80e918c85d66","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.126167450Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.09075ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=53092467-d9f4-4cf1-a5f7-80e918c85d66
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.126167Z","project_id":"53092467-d9f4-4cf1-a5f7-80e918c85d66","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.126167Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.161084ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"53092467-d9f4-4cf1-a5f7-80e918c85d66"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"53092467-d9f4-4cf1-a5f7-80e918c85d66","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.181708ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"53092467-d9f4-4cf1-a5f7-80e918c85d66"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"53092467-d9f4-4cf1-a5f7-80e918c85d66","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.904708ms
