---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.917927Z","description":"","id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.917927Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 478.374583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/4460b0ff-8872-4d71-99c4-5cd5d92d5e94
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.917927Z","description":"","id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.917927Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.803834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.427657228Z","project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.427657228Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.373292ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=4460b0ff-8872-4d71-99c4-5cd5d92d5e94
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.427657Z","project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.427657Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.648042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","name":"test-mnq-sqs-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"t2a4XFb9y4iUUpvmEwNl","created_at":"2024-12-10T13:19:57.699879174Z","id":"33379c98-06b5-440a-8ad8-c64cea64589c","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","region":"fr-par","secret_checksum":"58dac38f69c2c3e0be217e0f00e515b93a4e9635","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.090833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/33379c98-06b5-440a-8ad8-c64cea64589c
        method: GET
      response:
        body: '{"access_key":"t2a4XFb9y4iUUpvmEwNl","created_at":"2024-12-10T13:19:57.699879Z","id":"33379c98-06b5-440a-8ad8-c64cea64589c","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","region":"fr-par","secret_checksum":"58dac38f69c2c3e0be217e0f00e515b93a4e9635","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.623709ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"4460b0ff-8872-4d71-99c4-5cd5d92d5e94","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.131208ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/33379c98-06b5-440a-8ad8-c64cea64589c
        method: DELETE
      response:
        body: '{"message":"resource is not found","resource":"credential","resource_id":"33379c98-06b5-440a-8ad8-c64cea64589c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.034667ms
