---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_dead_letter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:04:53.158437Z","description":"","id":"462aff91-29b0-4747-b96f-74326bb940fa","name":"tf_tests_mnq_sqs_queue_dead_letter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:04:53.158437Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.854292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/462aff91-29b0-4747-b96f-74326bb940fa
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:04:53.158437Z","description":"","id":"462aff91-29b0-4747-b96f-74326bb940fa","name":"tf_tests_mnq_sqs_queue_dead_letter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:04:53.158437Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.295ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"462aff91-29b0-4747-b96f-74326bb940fa"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:04:53.830932798Z","project_id":"462aff91-29b0-4747-b96f-74326bb940fa","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:04:53.830932798Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.052083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=462aff91-29b0-4747-b96f-74326bb940fa
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:04:53.830932Z","project_id":"462aff91-29b0-4747-b96f-74326bb940fa","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:04:53.830932Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.142959ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"462aff91-29b0-4747-b96f-74326bb940fa","name":"tf-sqs-credentials-awesome-ellis","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"pVubLkceC9DjxlySO7gU","created_at":"2026-04-10T11:04:54.328821206Z","id":"cf646853-b6b1-4d6d-bd2e-cc7e3542892e","name":"tf-sqs-credentials-awesome-ellis","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"462aff91-29b0-4747-b96f-74326bb940fa","region":"fr-par","secret_checksum":"9ba88dc313be13e34706c13209c7ee2bfa1e1fcf","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:04:54.328821206Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.533083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/cf646853-b6b1-4d6d-bd2e-cc7e3542892e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"AAFQJ7OPXHMX5WSCD3LCFETDNN5LN2YALV6M5QUIAFKDLWPPWEU3DVAK","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.552333ms
[...]
    - id: 8
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"dead-letter-queue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d652004e-fd42-480f-96f1-e2eb1312932c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110454Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-462aff91-29b0-4747-b96f-74326bb940fa/dead-letter-queue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txc44c163f-902d-4343-ba55-429421f4c7e5
        status: 200 OK
        code: 200
        duration: 171.422875ms
[...]
    - id: 10
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-462aff91-29b0-4747-b96f-74326bb940fa/dead-letter-queue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dbf0060c-502f-4975-bb1e-e97f1ae8ffa9
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110454Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-462aff91-29b0-4747-b96f-74326bb940fa:dead-letter-queue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx3de8213f-3a2e-420f-940f-304e04bcd43e
        status: 200 OK
        code: 200
        duration: 79.437542ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=462aff91-29b0-4747-b96f-74326bb940fa
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 108.178375ms
[...]
    - id: 13
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30","RedrivePolicy":"{\"deadLetterTargetArn\":\"arn:scw:sqs:fr-par:project-462aff91-29b0-4747-b96f-74326bb940fa:dead-letter-queue\",\"maxReceiveCount\":3}"},"QueueName":"test-mnq-sqs-queue-dead-letter"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1a659713-02d8-4488-86b6-9848a39e2720
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110455Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-462aff91-29b0-4747-b96f-74326bb940fa/test-mnq-sqs-queue-dead-letter"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx3e776a27-e13e-48de-a2c2-89c6f66ff50d
        status: 200 OK
        code: 200
        duration: 179.211167ms
[...]
    - id: 15
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-462aff91-29b0-4747-b96f-74326bb940fa/test-mnq-sqs-queue-dead-letter"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b1e70e0b-f7c5-43[...]
[...]
    - id: 50
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-dead-letter"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 25a73b78-32d6-49be-9c9c-270d9c3a49c9
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110500Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-dead-letter\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx7c0e5186-be1a-4ec0-bef6-1c7ea88bd849
        status: 404 Not Found
        code: 404
        duration: 25.616083ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: '{"project_id":"462aff91-29b0-4747-b96f-74326bb940fa"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"462aff91-29b0-4747-b96f-74326bb940fa","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.537916ms
[...]
