---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-15T09:22:31.203047Z","description":"","id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-15T09:22:31.203047Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 996.43625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-15T09:22:32.353771442Z","project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T09:22:32.353771442Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.899833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=1c6c0e15-6914-46cf-8c4b-87eae5cb0aed
        method: GET
      response:
        body: '{"created_at":"2026-04-15T09:22:32.353771Z","project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T09:22:32.353771Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.260042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","name":"tf-sqs-credentials-charming-benz","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"pk8eWy9MpskuCSGNEVg9","created_at":"2026-04-15T09:22:32.808962513Z","id":"ff954322-43a5-4863-a898-74668ac15476","name":"tf-sqs-credentials-charming-benz","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","region":"fr-par","secret_checksum":"b05b9afa5535b997a3964577b78e2757a9b7026e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-15T09:22:32.808962513Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.950625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/ff954322-43a5-4863-a898-74668ac15476
        method: GET
      response:
        body: '{"access_key":"pk8eWy9MpskuCSGNEVg9","created_at":"2026-04-15T09:22:32.808962Z","id":"ff954322-43a5-4863-a898-74668ac15476","name":"tf-sqs-credentials-charming-benz","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","region":"fr-par","secret_checksum":"b05b9afa5535b997a3964577b78e2757a9b7026e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-15T09:22:32.808962Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.982167ms
[...]
    - id: 6
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aa37a064-c7a2-4e0c-beaa-dd292a8eb371
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260415T092233Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-1c6c0e15-6914-46cf-8c4b-87eae5cb0aed/test-mnq-sqs-queue-basic"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx9ecd1eca-4c0b-43dd-bfa5-4f0266edde13
        status: 200 OK
        code: 200
        duration: 267.328917ms
[...]
    - id: 8
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-1c6c0e15-6914-46cf-8c4b-87eae5cb0aed/test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4055a733-98fc-49e6-a54b-1870822e6677
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260415T092233Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-1c6c0e15-6914-46cf-8c4b-87eae5cb0aed:test-mnq-sqs-queue-basic","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txed59f7d5-731b-4523-ae83-e1418e5f93a6
        status: 200 OK
        code: 200
        duration: 113.93825ms
[...]
    - id: 16
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e4b1731e-d348-47d8-a34a-033dbb377f2e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260415T092234Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-basic\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx9790f922-df42-45f5-a210-8b1572271495
        status: 404 Not Found
        code: 404
        duration: 22.361667ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.705291ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1c6c0e15-6914-46cf-8c4b-87eae5cb0aed
        method: GET
      response:
        body: '{"created_at":"2026-04-15T09:22:31.203047Z","description":"","id":"1c6c0e15-6914-46cf-8c4b-87eae5cb0aed","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-15T09:22:31.203047Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.826125ms
[...]
