---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:04:00.884531Z","description":"","id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:04:00.884531Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 488.196166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:04:02.032892573Z","project_id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:04:02.032892573Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 613.594ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=98ac5d50-035e-4632-9fa3-c53fc930d0b1
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 37.13225ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1","name":"tf-sqs-credentials-stupefied-lehmann","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"WlQF8lZsVwGy0TxQWtFm","created_at":"2026-04-10T11:04:48.376108999Z","id":"216911aa-7867-46aa-aa59-1eff2d25481b","name":"tf-sqs-credentials-stupefied-lehmann","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1","region":"fr-par","secret_checksum":"8b439827242dac414d895ca7038c851a9857759f","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:04:48.376108999Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.319167ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/216911aa-7867-46aa-aa59-1eff2d25481b
        method: GET
      response:
        body: '{"access_key":"WlQF8lZsVwGy0TxQWtFm","created_at":"2026-04-10T11:04:48.376108Z","id":"216911aa-7867-46aa-aa59-1eff2d25481b","name":"tf-sqs-credentials-stupefied-lehmann","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1","region":"fr-par","secret_checksum":"8b439827242dac414d895ca7038c851a9857759f","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:04:48.376108Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.768083ms
[...]
    - id: 15
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"VisibilityTimeout":"30","MaximumMessageSize":"262144","MessageRetentionPeriod":"345600"},"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3af5c903-9df5-4ffa-b9ee-e1231b02a736
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110448Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-98ac5d50-035e-4632-9fa3-c53fc930d0b1/test-mnq-sqs-queue-basic"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx8b823d4e-c615-4503-99d5-e80c75a345ad
        status: 200 OK
        code: 200
        duration: 181.207667ms
[...]
    - id: 17
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-98ac5d50-035e-4632-9fa3-c53fc930d0b1/test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cda5899b-101f-441e-b6d5-41f5df2a24f3
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110448Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-98ac5d50-035e-4632-9fa3-c53fc930d0b1:test-mnq-sqs-queue-basic","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txdd65927d-2b23-4655-94a4-f0e7271b76ba
        status: 200 OK
        code: 200
        duration: 23.557333ms
[...]
    - id: 25
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b2161ac1-1c95-4b69-9fad-58b41a118dfe
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110449Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-basic\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx08146a67-bcf8-4753-aa91-e6e2923432aa
        status: 404 Not Found
        code: 404
        duration: 105.80875ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.876125ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/98ac5d50-035e-4632-9fa3-c53fc930d0b1
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:04:00.884531Z","description":"","id":"98ac5d50-035e-4632-9fa3-c53fc930d0b1","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:04:00.884531Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.913666ms
[...]
