---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_queue_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"name\":\"tf_tests_mnq_sqs_queue_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:57:49.087018Z\",\"updated_at\":\"2025-09-23T12:57:49.087018Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 775.741334ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/bd04d7b1-2ded-455c-9f71-175d996fb60b
    method: GET
  response:
    body: "{\"id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"name\":\"tf_tests_mnq_sqs_queue_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:57:49.087018Z\",\"updated_at\":\"2025-09-23T12:57:49.087018Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 272.95689ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:57:49.960739687Z\",\"updated_at\":\"2025-09-23T12:57:49.960739687Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 630.78357ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - bd04d7b1-2ded-455c-9f71-175d996fb60b
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=bd04d7b1-2ded-455c-9f71-175d996fb60b
    method: GET
  response:
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:57:49.960739Z\",\"updated_at\":\"2025-09-23T12:57:49.960739Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 409.176754ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"name\":\"tf-sqs-credentials-charming-dhawan\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:57:51.085234333Z\",\"updated_at\":\"2025-09-23T12:57:51.085234333Z\",\"id\":\"1d7b4f34-55ff-400e-bca7-6c58aca796a8\",\"name\":\"tf-sqs-credentials-charming-dhawan\",\"access_key\":\"1a8CHsbFmzGzJn8tpOSP\",\"secret_key\":\"C1800J4WnUSk2EvQLomsW3iJdFSweJj7za58YrDdhiff2GNhblwWxI5wzQLLrH0I\",\"secret_checksum\":\"9cf4bb541716568db34779008989588e999db1cb\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 152.515858ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/1d7b4f34-55ff-400e-bca7-6c58aca796a8
    method: GET
  response:
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:57:51.085234Z\",\"updated_at\":\"2025-09-23T12:57:51.085234Z\",\"id\":\"1d7b4f34-55ff-400e-bca7-6c58aca796a8\",\"name\":\"tf-sqs-credentials-charming-dhawan\",\"access_key\":\"1a8CHsbFmzGzJn8tpOSP\",\"secret_key\":\"\",\"secret_checksum\":\"9cf4bb541716568db34779008989588e999db1cb\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 857.2221ms
[...]
- id: 7
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"VisibilityTimeout\":\"30\",\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\"},\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 15c6ae1a-f5d3-4a39-af43-7c95f0fc8eab
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T125752Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-bd04d7b1-2ded-455c-9f71-175d996fb60b/test-mnq-sqs-queue-basic\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx75d9e96d-a4ee-4b17-a387-ad79f7855e13
    status: 200 OK
    code: 200
    duration: 209.194445ms
[...]
- id: 9
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"MessageRetentionPeriod\",\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\",\"VisibilityTimeout\",\"RedrivePolicy\",\"QueueArn\",\"MaximumMessageSize\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-bd04d7b1-2ded-455c-9f71-175d996fb60b/test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 1d5e39b5-1df3-4f7c-8260-8c7ec78439b5
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T125752Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"QueueArn\":\"arn:scw:sqs:fr-par:project-bd04d7b1-2ded-455c-9f71-175d996fb60b:test-mnq-sqs-queue-basic\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txab726b10-565e-4cd6-9a1e-5de16012fa38
    status: 200 OK
    code: 200
    duration: 27.981941ms
[...]
- id: 33
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - b7a37038-3a3c-48d3-9aa6-d084e2213718
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T125759Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"test-mnq-sqs-queue-basic\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx9cca219b-544b-44cc-9df6-8da56555c0fc
    status: 404 Not Found
    code: 404
    duration: 22.279876ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 297.303601ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/bd04d7b1-2ded-455c-9f71-175d996fb60b
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"bd04d7b1-2ded-455c-9f71-175d996fb60b\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 491.3454ms
