---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:53.545816Z","description":"","id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:53.545816Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 725.232625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.913742507Z","project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:56.913742507Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.159542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=e4af8efa-a75f-46b1-8c24-291b98ca648d
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.913742Z","project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:56.913742Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.63575ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","name":"tf-sqs-credentials-nifty-chatelet","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"ZIZkxJGK7HzBJAU6b0mW","created_at":"2024-12-10T13:19:57.147103413Z","id":"e837a976-ec1b-47b6-83d4-a9f2e583f341","name":"tf-sqs-credentials-nifty-chatelet","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","region":"fr-par","secret_checksum":"f94cc299279d805dc745a7399e4bd637f0be935a","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.232ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/e837a976-ec1b-47b6-83d4-a9f2e583f341
        method: GET
      response:
        body: '{"access_key":"ZIZkxJGK7HzBJAU6b0mW","created_at":"2024-12-10T13:19:57.147103Z","id":"e837a976-ec1b-47b6-83d4-a9f2e583f341","name":"tf-sqs-credentials-nifty-chatelet","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","region":"fr-par","secret_checksum":"f94cc299279d805dc745a7399e4bd637f0be935a","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.129417ms
[...]
    - id: 6
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ff5d7712-5597-4147-8043-d95282db1088
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20241210T131957Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-e4af8efa-a75f-46b1-8c24-291b98ca648d/test-mnq-sqs-queue-basic"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx0fc37c60-fd0a-4b06-a916-450855611966
        status: 200 OK
        code: 200
        duration: 1.286800958s
[...]
    - id: 8
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-e4af8efa-a75f-46b1-8c24-291b98ca648d/test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d6ac2a50-27d9-4019-8eed-4f86a36fee28
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20241210T131958Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx32935d1d-0d56-4455-88ee-e01bfd5403e5
        status: 200 OK
        code: 200
        duration: 34.540666ms
[...]
    - id: 16
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 71d01b23-aebf-4920-b2f2-34351b00e23e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20241210T132001Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-basic\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx625748e1-087a-4d34-bca2-3c96b0f5255e
        status: 404 Not Found
        code: 404
        duration: 25.071334ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: '{"project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.79225ms
    - id: 79
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e4af8efa-a75f-46b1-8c24-291b98ca648d
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:53.545816Z","description":"","id":"e4af8efa-a75f-46b1-8c24-291b98ca648d","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:53.545816Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.630792ms
[...]
