---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:29.033907Z","description":"","id":"75a2476e-795a-4515-ae56-5121324abe0b","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:29.033907Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/75a2476e-795a-4515-ae56-5121324abe0b
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:29.033907Z","description":"","id":"75a2476e-795a-4515-ae56-5121324abe0b","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:29.033907Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"75a2476e-795a-4515-ae56-5121324abe0b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:29.400317151Z","project_id":"75a2476e-795a-4515-ae56-5121324abe0b","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:29.400317151Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=75a2476e-795a-4515-ae56-5121324abe0b
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:29.400317Z","project_id":"75a2476e-795a-4515-ae56-5121324abe0b","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:29.400317Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"75a2476e-795a-4515-ae56-5121324abe0b","name":"tf-sqs-credentials-nice-kapitsa","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"EmWy6FLBwvZNuEtM6Dvi","created_at":"2023-12-27T09:58:29.664220190Z","id":"261abb5a-ac01-4d4d-b3f8-af1f910200ba","name":"tf-sqs-credentials-nice-kapitsa","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"75a2476e-795a-4515-ae56-5121324abe0b","region":"fr-par","secret_checksum":"5d98decd4d9a12f985092b10da4a89cfc246104e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/261abb5a-ac01-4d4d-b3f8-af1f910200ba
    method: GET
  response:
    body: '{"access_key":"EmWy6FLBwvZNuEtM6Dvi","created_at":"2023-12-27T09:58:29.664220Z","id":"261abb5a-ac01-4d4d-b3f8-af1f910200ba","name":"tf-sqs-credentials-nice-kapitsa","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"75a2476e-795a-4515-ae56-5121324abe0b","region":"fr-par","secret_checksum":"5d98decd4d9a12f985092b10da4a89cfc246104e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231227T095830Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-75a2476e-795a-4515-ae56-5121324abe0b/test-mnq-sqs-queue-basic"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - txeabd4691-2a09-4e7c-b89c-0484f68deefb
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-75a2476e-795a-4515-ae56-5121324abe0b/test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231227T095831Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - tx27f682aa-d80c-4b47-9779-10171474c984
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231227T095844Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"__type":"com.scaleway.sqs#AWS.SimpleQueueService.NonExistentQueue","message":"Queue
      \"test-mnq-sqs-queue-basic\" does not exist."}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - txc93f070c-a433-4305-bb36-9ad2dceb59c1
    status: 400 Bad Request
    code: 400
[...]
- request:
    body: '{"project_id":"75a2476e-795a-4515-ae56-5121324abe0b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"75a2476e-795a-4515-ae56-5121324abe0b","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/75a2476e-795a-4515-ae56-5121324abe0b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"75a2476e-795a-4515-ae56-5121324abe0b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
