---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:56.797762Z","description":"","id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58","name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.797762Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 416.433292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ed976bbb-cb54-4d5e-ac4f-bb31c7460f58
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:56.797762Z","description":"","id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58","name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:19:56.797762Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.644917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:19:57.263429261Z","project_id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.263429261Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.184584ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=ed976bbb-cb54-4d5e-ac4f-bb31c7460f58
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:19:57.263429Z","project_id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:19:57.263429Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.420166ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"help_message":"SQS is already enabled on this project","message":"resource already exists","resource":"MnqSQSNamespace","resource_id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58","type":"already_exists"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 57.34575ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"ed976bbb-cb54-4d5e-ac4f-bb31c7460f58","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.713042ms
[...]
