---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-15T09:31:49.836615Z","description":"","id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-15T09:31:49.836615Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 875.598708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1c29fc3f-d2dc-4267-8a05-ce9b616db4dc
        method: GET
      response:
        body: '{"created_at":"2026-04-15T09:31:49.836615Z","description":"","id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-15T09:31:49.836615Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.713459ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-15T09:31:50.483091983Z","project_id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T09:31:50.483091983Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.421583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=1c29fc3f-d2dc-4267-8a05-ce9b616db4dc
        method: GET
      response:
        body: '{"created_at":"2026-04-15T09:31:50.483091Z","project_id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-15T09:31:50.483091Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.919084ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.426959ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"1c29fc3f-d2dc-4267-8a05-ce9b616db4dc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 94.355167ms
