---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_credentials_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"name\":\"tf_tests_mnq_sqs_credentials_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.862266Z\",\"updated_at\":\"2025-08-26T16:28:57.862266Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 735.933292ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/d531beb6-ad92-40e4-9c99-c2c03f0e8c20
    method: GET
  response:
    body: "{\"id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"name\":\"tf_tests_mnq_sqs_credentials_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.862266Z\",\"updated_at\":\"2025-08-26T16:28:57.862266Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.653691ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.711383441Z\",\"updated_at\":\"2025-08-26T16:28:58.711383441Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 312.359317ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - d531beb6-ad92-40e4-9c99-c2c03f0e8c20
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=d531beb6-ad92-40e4-9c99-c2c03f0e8c20
    method: GET
  response:
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.711383Z\",\"updated_at\":\"2025-08-26T16:28:58.711383Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 198.574512ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"name\":\"test-mnq-sqs-credentials-basic\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":false}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:59.320158814Z\",\"updated_at\":\"2025-08-26T16:28:59.320158814Z\",\"id\":\"9dea20bc-09e4-4c62-9b8d-9d5cea80d90e\",\"name\":\"test-mnq-sqs-credentials-basic\",\"access_key\":\"lpCFattPCk1VVGkX5F17\",\"secret_key\":\"qmr28ZEUZ6hYBLtbBWugXtjD7KxOWcVBUxG0G3RvhJbUMcZuPLe0ZyQlWf6KjK1H\",\"secret_checksum\":\"8038f23b241b741e6064c1888ef92f86e72979dd\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.039005ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/9dea20bc-09e4-4c62-9b8d-9d5cea80d90e
    method: GET
  response:
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:59.320158Z\",\"updated_at\":\"2025-08-26T16:28:59.320158Z\",\"id\":\"9dea20bc-09e4-4c62-9b8d-9d5cea80d90e\",\"name\":\"test-mnq-sqs-credentials-basic\",\"access_key\":\"lpCFattPCk1VVGkX5F17\",\"secret_key\":\"\",\"secret_checksum\":\"8038f23b241b741e6064c1888ef92f86e72979dd\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":false}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 166.859154ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"d531beb6-ad92-40e4-9c99-c2c03f0e8c20\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 253.56786ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/9dea20bc-09e4-4c62-9b8d-9d5cea80d90e
    method: DELETE
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"credentials\",\"resource_id\":\"9dea20bc-09e4-4c62-9b8d-9d5cea80d90e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.028867ms
