---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:27.586182Z","description":"","id":"ba80a616-ac42-4315-b58f-4aa2027ada0b","name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.586182Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ba80a616-ac42-4315-b58f-4aa2027ada0b
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:27.586182Z","description":"","id":"ba80a616-ac42-4315-b58f-4aa2027ada0b","name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.586182Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"ba80a616-ac42-4315-b58f-4aa2027ada0b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:28.059324086Z","project_id":"ba80a616-ac42-4315-b58f-4aa2027ada0b","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.059324086Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=ba80a616-ac42-4315-b58f-4aa2027ada0b
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:28.059324Z","project_id":"ba80a616-ac42-4315-b58f-4aa2027ada0b","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.059324Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"ba80a616-ac42-4315-b58f-4aa2027ada0b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"help_message":"SQS is already enabled on this project","message":"resource
      already exists","resource":"MnqSQSNamespace","resource_id":"ba80a616-ac42-4315-b58f-4aa2027ada0b","type":"already_exists"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
[...]
- request:
    body: '{"project_id":"ba80a616-ac42-4315-b58f-4aa2027ada0b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"ba80a616-ac42-4315-b58f-4aa2027ada0b","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
