---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:03:47.778768Z","description":"","id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:03:47.778768Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 693.789375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3b140d30-16c2-4a5b-8661-e7592dcdfd1a
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:03:47.778768Z","description":"","id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:03:47.778768Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.027083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:03:48.429110512Z","project_id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:03:48.429110512Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.536917ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=3b140d30-16c2-4a5b-8661-e7592dcdfd1a
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 29.328292ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"project_id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a","name":"tf-sqs-credentials-happy-ganguly","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"y4bxs7d5yeri8p4skvHO","created_at":"2026-04-10T11:03:50.343691882Z","id":"c02e19c2-5010-4c46-8bae-9e8dede00d52","name":"tf-sqs-credentials-happy-ganguly","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a","region":"fr-par","secret_checksum":"cbb7aef4064719a05d6e64aad53118043ccfec31","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:03:50.343691882Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.604042ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/c02e19c2-5010-4c46-8bae-9e8dede00d52
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ABUXMRCNH5MHKETYQSAOJBF434HHNTA2KGU3DTJSOJ5GHFRG7NG5EZV2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.978792ms
[...]
    - id: 14
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MessageRetentionPeriod":"345600","VisibilityTimeout":"30","MaximumMessageSize":"262144"},"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bcbd19d8-09b3-4c64-9bf9-1fa277fe640c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110354Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-3b140d30-16c2-4a5b-8661-e7592dcdfd1a/test-mnq-sqs-queue-basic"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx50e8046e-8508-47c9-a901-ad23bf14925d
        status: 200 OK
        code: 200
        duration: 307.850625ms
[...]
    - id: 16
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-3b140d30-16c2-4a5b-8661-e7592dcdfd1a/test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 128d51c2-36b4-4ecc-b46f-f2ad5f4fda5c
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110354Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-3b140d30-16c2-4a5b-8661-e7592dcdfd1a:test-mnq-sqs-queue-basic","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txf7b782a6-c51e-4502-8228-1bc696882ec5
        status: 200 OK
        code: 200
        duration: 31.970041ms
[...]
    - id: 43
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2f6a575f-0b96-4fa5-ac2a-5cca59602bdb
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260410T110358Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-basic\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - txb77136db-9cb7-4d69-9bc3-749b31ed10b1
        status: 404 Not Found
        code: 404
        duration: 104.106291ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"project_id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"3b140d30-16c2-4a5b-8661-e7592dcdfd1a","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.987042ms
[...]
