---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_already_activated\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\",\"name\":\"tf_tests_mnq_sqs_already_activated\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:56.831928Z\",\"updated_at\":\"2025-08-26T16:28:56.831928Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 435.365411ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/e497bf8b-8c1b-4a48-8530-07720dd0b116
    method: GET
  response:
    body: "{\"id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\",\"name\":\"tf_tests_mnq_sqs_already_activated\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:56.831928Z\",\"updated_at\":\"2025-08-26T16:28:56.831928Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.95613ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:57.442083764Z\",\"updated_at\":\"2025-08-26T16:28:57.442083764Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 173.780173ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - e497bf8b-8c1b-4a48-8530-07720dd0b116
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=e497bf8b-8c1b-4a48-8530-07720dd0b116
    method: GET
  response:
    body: "{\"project_id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:57.442083Z\",\"updated_at\":\"2025-08-26T16:28:57.442083Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.345528ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"help_message\":\"SQS is already enabled on this project\",\"message\":\"resource already exists\",\"resource\":\"MnqSQSNamespace\",\"resource_id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\",\"type\":\"already_exists\"}"
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: 90.516464ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"e497bf8b-8c1b-4a48-8530-07720dd0b116\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 337.138344ms
[...]
