---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_queue_default_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"name\":\"tf_tests_mnq_sqs_queue_default_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:49.999956Z\",\"updated_at\":\"2025-08-26T16:28:49.999956Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 837.404635ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:57.688967038Z\",\"updated_at\":\"2025-08-26T16:28:57.688967038Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.5371ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 0a657828-2411-49e8-ac87-5af774c9467a
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=0a657828-2411-49e8-ac87-5af774c9467a
    method: GET
  response:
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:57.688967Z\",\"updated_at\":\"2025-08-26T16:28:57.688967Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.364563ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"name\":\"tf-sqs-credentials-angry-mayer\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.041830789Z\",\"updated_at\":\"2025-08-26T16:28:58.041830789Z\",\"id\":\"26ed99dd-b816-49ed-ad08-57267bc9bfaa\",\"name\":\"tf-sqs-credentials-angry-mayer\",\"access_key\":\"fCU5rMVeyYJIbMtm0O5B\",\"secret_key\":\"ycFQSDuvpW8Hf44iUZfhKWo26WqZWfDpFclIOy3veI9hBv7tSvgS8NFSkjBgxo3Z\",\"secret_checksum\":\"63a043952debf4695381624a82975624ca307d31\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 161.377198ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/26ed99dd-b816-49ed-ad08-57267bc9bfaa
    method: GET
  response:
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.041830Z\",\"updated_at\":\"2025-08-26T16:28:58.041830Z\",\"id\":\"26ed99dd-b816-49ed-ad08-57267bc9bfaa\",\"name\":\"tf-sqs-credentials-angry-mayer\",\"access_key\":\"fCU5rMVeyYJIbMtm0O5B\",\"secret_key\":\"\",\"secret_checksum\":\"63a043952debf4695381624a82975624ca307d31\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.47599ms
[...]
- id: 6
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"MessageRetentionPeriod\":\"345600\",\"VisibilityTimeout\":\"30\",\"MaximumMessageSize\":\"262144\"},\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 156c7599-5507-4d37-aae5-82d32073ac21
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250826T162858Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-0a657828-2411-49e8-ac87-5af774c9467a/test-mnq-sqs-queue-basic\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx428a2353-c8c1-4374-92dc-295802cf69cc
    status: 200 OK
    code: 200
    duration: 335.429773ms
[...]
- id: 8
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"MaximumMessageSize\",\"MessageRetentionPeriod\",\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\",\"VisibilityTimeout\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-0a657828-2411-49e8-ac87-5af774c9467a/test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 679f1dd9-ee45-4d3a-adc8-87e12ca9a197
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250826T162858Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txedbfd8f1-5f33-4ef4-98d9-5a5647608f9d
    status: 200 OK
    code: 200
    duration: 105.586733ms
[...]
- id: 16
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 119a44b4-3c05-4ba3-ab19-06ec98095593
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250826T162908Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"test-mnq-sqs-queue-basic\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx6a8ce556-d969-41e6-92d7-c586f11087ae
    status: 404 Not Found
    code: 404
    duration: 22.989542ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 311.406021ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/0a657828-2411-49e8-ac87-5af774c9467a
    method: GET
  response:
    body: "{\"id\":\"0a657828-2411-49e8-ac87-5af774c9467a\",\"name\":\"tf_tests_mnq_sqs_queue_default_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:49.999956Z\",\"updated_at\":\"2025-08-26T16:28:49.999956Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 492.600783ms
[...]
