---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:13:25.912961Z","description":"","id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-02T09:13:25.912961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 833.259625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:13:25.912961Z","description":"","id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-02T09:13:25.912961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.278333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:13:26.477721882Z","project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:13:26.477721882Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.552208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:13:26.477721Z","project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:13:26.477721Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.285ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","name":"tf-sqs-credentials-nice-hawking","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"NWEowzAx2CjEOVBdNVOi","created_at":"2025-09-02T09:13:26.812617329Z","id":"9c8dc568-9b34-4141-94f3-21a729b3f039","name":"tf-sqs-credentials-nice-hawking","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","region":"fr-par","secret_checksum":"6294eb2097aa9ec6a529c1a38178c0231e7ff098","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:13:26.812617329Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.970042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/9c8dc568-9b34-4141-94f3-21a729b3f039
        method: GET
      response:
        body: '{"access_key":"NWEowzAx2CjEOVBdNVOi","created_at":"2025-09-02T09:13:26.812617Z","id":"9c8dc568-9b34-4141-94f3-21a729b3f039","name":"tf-sqs-credentials-nice-hawking","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","region":"fr-par","secret_checksum":"6294eb2097aa9ec6a529c1a38178c0231e7ff098","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:13:26.812617Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.396292ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MessageRetentionPeriod":"345600","VisibilityTimeout":"30","MaximumMessageSize":"262144"},"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f6c9fd17-8f06-4972-89ed-2828fa7af98f
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T091326Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d/test-mnq-sqs-queue-basic"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx1e97f108-faa7-429a-b57f-817f57b318a3
        status: 200 OK
        code: 200
        duration: 466.180167ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d/test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4f7d8fe8-d4ef-4704-bfd5-9f69a140a0d0
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T091327Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d:test-mnq-sqs-queue-basic","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx8f1ed095-de20-43cf-b215-6b8258b09acd
        status: 200 OK
        code: 200
        duration: 82.73975ms
[...]
    - id: 33
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 270a0343-b6cb-481b-86a4-c0c91edb9fd0
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T091334Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-basic\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx5d728d3e-4f01-4fa4-a159-74316159af8d
        status: 404 Not Found
        code: 404
        duration: 25.432417ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.861959ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"f69e37bd-e2f6-4781-b8e4-8afbb9ab0e0d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.711167ms
