---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:13:32.370406Z","description":"","id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-02T09:13:32.370406Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.042167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-09-02T09:13:34.051411494Z","project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:13:34.051411494Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.484083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=9b61a0dc-3d68-4452-b04b-ff7f15231ecd
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:13:34.051411Z","project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T09:13:34.051411Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.509542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","name":"tf-sqs-credentials-wonderful-hermann","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"XYz1m4jIfCnPFVf8UmjY","created_at":"2025-09-02T09:13:34.403880363Z","id":"7ee84a4e-1276-4b19-9e57-0467c5fb3c72","name":"tf-sqs-credentials-wonderful-hermann","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","region":"fr-par","secret_checksum":"dc181a11561f8f9b35c85e6e4b2d4a692ba33c0d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:13:34.403880363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.61275ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/7ee84a4e-1276-4b19-9e57-0467c5fb3c72
        method: GET
      response:
        body: '{"access_key":"XYz1m4jIfCnPFVf8UmjY","created_at":"2025-09-02T09:13:34.403880Z","id":"7ee84a4e-1276-4b19-9e57-0467c5fb3c72","name":"tf-sqs-credentials-wonderful-hermann","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","region":"fr-par","secret_checksum":"dc181a11561f8f9b35c85e6e4b2d4a692ba33c0d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T09:13:34.403880Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.883417ms
[...]
    - id: 6
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MessageRetentionPeriod":"345600","VisibilityTimeout":"30","MaximumMessageSize":"262144"},"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cf70b5c5-bbac-4349-bca4-a1947e1f767a
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T091334Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-9b61a0dc-3d68-4452-b04b-ff7f15231ecd/test-mnq-sqs-queue-basic"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx94ae8728-84ce-4346-b60a-3fccadfaab93
        status: 200 OK
        code: 200
        duration: 228.863833ms
[...]
    - id: 8
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-9b61a0dc-3d68-4452-b04b-ff7f15231ecd/test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7cc5de1b-e215-415a-a740-b510bbfff875
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T091334Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-9b61a0dc-3d68-4452-b04b-ff7f15231ecd:test-mnq-sqs-queue-basic","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx38c703f9-8af8-47ce-8d18-f866e45152f7
        status: 200 OK
        code: 200
        duration: 33.58ms
[...]
    - id: 16
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f40511b3-26ee-4384-8637-0078803f5ec4
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T091337Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-basic\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx8f7fa641-eb42-4c51-92d8-22facec8b949
        status: 404 Not Found
        code: 404
        duration: 19.884833ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.033541ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9b61a0dc-3d68-4452-b04b-ff7f15231ecd
        method: GET
      response:
        body: '{"created_at":"2025-09-02T09:13:32.370406Z","description":"","id":"9b61a0dc-3d68-4452-b04b-ff7f15231ecd","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-02T09:13:32.370406Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.485458ms
[...]
