---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_queue_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"name\":\"tf_tests_mnq_sqs_queue_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.776531Z\",\"updated_at\":\"2025-08-26T16:28:57.776531Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 410.508212ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/a9047138-3c17-47e1-bca2-9e295e995f6a
    method: GET
  response:
    body: "{\"id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"name\":\"tf_tests_mnq_sqs_queue_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.776531Z\",\"updated_at\":\"2025-08-26T16:28:57.776531Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 388.39106ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.558315088Z\",\"updated_at\":\"2025-08-26T16:28:58.558315088Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 209.251059ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - a9047138-3c17-47e1-bca2-9e295e995f6a
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=a9047138-3c17-47e1-bca2-9e295e995f6a
    method: GET
  response:
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.558315Z\",\"updated_at\":\"2025-08-26T16:28:58.558315Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.958721ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"name\":\"tf-sqs-credentials-angry-rubin\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.900807144Z\",\"updated_at\":\"2025-08-26T16:28:58.900807144Z\",\"id\":\"f99205c0-0d65-40b0-b811-d9db563ed95f\",\"name\":\"tf-sqs-credentials-angry-rubin\",\"access_key\":\"JxUlar4YWNHtQ1PrO9US\",\"secret_key\":\"Pr4GmzfcNVZcaVcy1qIGuCG5jZtMEhxGtv8xE6mVDIENAZklMUDF8WlnAbzOuKtK\",\"secret_checksum\":\"ee128881a60cef5053b0d2ce55d6cffdeb7b2240\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 165.265676ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/f99205c0-0d65-40b0-b811-d9db563ed95f
    method: GET
  response:
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:58.900807Z\",\"updated_at\":\"2025-08-26T16:28:58.900807Z\",\"id\":\"f99205c0-0d65-40b0-b811-d9db563ed95f\",\"name\":\"tf-sqs-credentials-angry-rubin\",\"access_key\":\"JxUlar4YWNHtQ1PrO9US\",\"secret_key\":\"\",\"secret_checksum\":\"ee128881a60cef5053b0d2ce55d6cffdeb7b2240\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.374813ms
[...]
- id: 7
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"VisibilityTimeout\":\"30\",\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\"},\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - bee7d505-634c-4acb-b69f-2d4c63545e32
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250826T162859Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-a9047138-3c17-47e1-bca2-9e295e995f6a/test-mnq-sqs-queue-basic\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - tx933898d0-fc2b-46b2-b08b-e41e62e0c172
    status: 200 OK
    code: 200
    duration: 185.32342ms
[...]
- id: 9
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"MaximumMessageSize\",\"MessageRetentionPeriod\",\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\",\"VisibilityTimeout\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-a9047138-3c17-47e1-bca2-9e295e995f6a/test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 6395a8e8-41c7-4bc0-9eed-e5bf34e42a0f
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250826T162859Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txd80aadb1-8570-4b6e-8ce9-59f3dcebf0f1
    status: 200 OK
    code: 200
    duration: 54.328071ms
[...]
- id: 33
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - da3ea947-fc8a-40cb-b8e9-11bbdf3ee1f5
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250826T162919Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"test-mnq-sqs-queue-basic\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx39688841-6b10-4f6a-ae21-eb7f6a12427a
    status: 404 Not Found
    code: 404
    duration: 22.242004ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 297.472824ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/a9047138-3c17-47e1-bca2-9e295e995f6a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"project_id\",\"resource_id\":\"a9047138-3c17-47e1-bca2-9e295e995f6a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.207939ms
