---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:05:03.047778Z","description":"","id":"9392d336-8b71-4095-9161-a09c849ce79d","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:05:03.047778Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 457.352666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9392d336-8b71-4095-9161-a09c849ce79d
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:05:03.047778Z","description":"","id":"9392d336-8b71-4095-9161-a09c849ce79d","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:05:03.047778Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.3095ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"9392d336-8b71-4095-9161-a09c849ce79d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:05:03.649649880Z","project_id":"9392d336-8b71-4095-9161-a09c849ce79d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:05:03.649649880Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.215667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=9392d336-8b71-4095-9161-a09c849ce79d
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 37.609792ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"project_id":"9392d336-8b71-4095-9161-a09c849ce79d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"9392d336-8b71-4095-9161-a09c849ce79d","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.100375ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"project_id":"9392d336-8b71-4095-9161-a09c849ce79d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"9392d336-8b71-4095-9161-a09c849ce79d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.986042ms
