---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:20:03.489619Z","description":"","id":"c154312b-9976-4b34-9ed9-eed5ee79edac","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:20:03.489619Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.411125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c154312b-9976-4b34-9ed9-eed5ee79edac
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:20:03.489619Z","description":"","id":"c154312b-9976-4b34-9ed9-eed5ee79edac","name":"tf_tests_mnq_sqs_queue_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T13:20:03.489619Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.339791ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2024-12-10T13:20:03.810130743Z","project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:20:03.810130743Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.28425ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=c154312b-9976-4b34-9ed9-eed5ee79edac
        method: GET
      response:
        body: '{"created_at":"2024-12-10T13:20:03.810130Z","project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2024-12-10T13:20:03.810130Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.576084ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac","name":"tf-sqs-credentials-cranky-leavitt","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"CedNss90PQHHNxfABXYf","created_at":"2024-12-10T13:20:04.019329197Z","id":"039b83e5-415c-4221-8be1-109fa7133800","name":"tf-sqs-credentials-cranky-leavitt","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac","region":"fr-par","secret_checksum":"0ebcb451e3f490cf2b1faf8dbbd0ebedf17747ed","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.437208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/039b83e5-415c-4221-8be1-109fa7133800
        method: GET
      response:
        body: '{"access_key":"CedNss90PQHHNxfABXYf","created_at":"2024-12-10T13:20:04.019329Z","id":"039b83e5-415c-4221-8be1-109fa7133800","name":"tf-sqs-credentials-cranky-leavitt","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac","region":"fr-par","secret_checksum":"0ebcb451e3f490cf2b1faf8dbbd0ebedf17747ed","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.699625ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"MessageRetentionPeriod":"345600","VisibilityTimeout":"30","MaximumMessageSize":"262144"},"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 31f8dbaf-e8a4-4e00-ad8d-cf7018a3df3b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20241210T132004Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-c154312b-9976-4b34-9ed9-eed5ee79edac/test-mnq-sqs-queue-basic"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - txc15379e6-5625-4e31-bb3e-4a13036587f8
        status: 200 OK
        code: 200
        duration: 978.65575ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["ReceiveMessageWaitTimeSeconds","VisibilityTimeout","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-c154312b-9976-4b34-9ed9-eed5ee79edac/test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - be87a4b4-d3f2-441f-ab1b-ff36abc782a5
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20241210T132005Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx2398957a-2559-48c9-b657-14e124f9a7c1
        status: 200 OK
        code: 200
        duration: 33.222833ms
[...]
    - id: 33
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 42e0e258-a837-4fc3-ac15-e66ec6b5613e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20241210T132011Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-basic\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx31ac81a8-2ecb-47d5-b0ae-602fc5cc6dc4
        status: 404 Not Found
        code: 404
        duration: 17.108292ms
[...]
    - id: 95
      request:
        host: api.scaleway.com
        body: '{"project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"c154312b-9976-4b34-9ed9-eed5ee79edac","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.288458ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c154312b-9976-4b34-9ed9-eed5ee79edac
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"c154312b-9976-4b34-9ed9-eed5ee79edac","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 541.724833ms
