---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\",\"name\":\"tf_tests_mnq_sqs_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.452561Z\",\"updated_at\":\"2025-08-26T16:28:57.452561Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 429.848906ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/186f0656-b4eb-408c-941a-80034d2fc40e
    method: GET
  response:
    body: "{\"id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\",\"name\":\"tf_tests_mnq_sqs_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:28:57.452561Z\",\"updated_at\":\"2025-08-26T16:28:57.452561Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.09132ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:57.997435487Z\",\"updated_at\":\"2025-08-26T16:28:57.997435487Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 174.811274ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project_id:
      - 186f0656-b4eb-408c-941a-80034d2fc40e
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=186f0656-b4eb-408c-941a-80034d2fc40e
    method: GET
  response:
    body: "{\"project_id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\",\"region\":\"fr-par\",\"created_at\":\"2025-08-26T16:28:57.997435Z\",\"updated_at\":\"2025-08-26T16:28:57.997435Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 141.67925ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 361.886079ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"MnqSQSNamespace\",\"resource_id\":\"186f0656-b4eb-408c-941a-80034d2fc40e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 78.502531ms
