---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:02:43.107815Z","description":"","id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:02:43.107815Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 508.09ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/ead8f5fa-ded2-46b5-990f-3f7ed9584170
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:02:43.107815Z","description":"","id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:02:43.107815Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.997042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:02:43.776009796Z","project_id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:02:43.776009796Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.811792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=ead8f5fa-ded2-46b5-990f-3f7ed9584170
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 97.637875ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170","name":"test-mnq-sqs-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"3DKzQkRVEaXrgZlh0Dos","created_at":"2026-04-10T11:02:44.784472612Z","id":"91d94ad4-ca61-4b98-8860-91a8303badfa","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170","region":"fr-par","secret_checksum":"2fefe9377592ea8bfc42592c1139c8aa3db92a58","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-04-10T11:02:44.784472612Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.57675ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/91d94ad4-ca61-4b98-8860-91a8303badfa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"namespace","resource_id":"ACISUNAWTY7KWUPVOLIQ63AOH5C63WDX6OOAWFKR5WPGPNJMJHAR67WD","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 49.298208ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: '{"project_id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"ead8f5fa-ded2-46b5-990f-3f7ed9584170","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.435458ms
[...]
