---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:06:03.842284Z","description":"","id":"0a66ada2-7034-4946-b0a0-7a2672e1736e","name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-04-10T11:06:03.842284Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 507.465292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/0a66ada2-7034-4946-b0a0-7a2672e1736e
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:06:03.842284Z","description":"","id":"0a66ada2-7034-4946-b0a0-7a2672e1736e","name":"tf_tests_mnq_sqs_already_activated","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-10T11:06:03.842284Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.572208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"0a66ada2-7034-4946-b0a0-7a2672e1736e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2026-04-10T11:06:04.437531365Z","project_id":"0a66ada2-7034-4946-b0a0-7a2672e1736e","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:06:04.437531365Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.977ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=0a66ada2-7034-4946-b0a0-7a2672e1736e
        method: GET
      response:
        body: '{"created_at":"2026-04-10T11:06:04.437531Z","project_id":"0a66ada2-7034-4946-b0a0-7a2672e1736e","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2026-04-10T11:06:04.437531Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.2165ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"project_id":"0a66ada2-7034-4946-b0a0-7a2672e1736e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"help_message":"SQS is already enabled on this project","message":"resource already exists","resource":"MnqSQSNamespace","resource_id":"0a66ada2-7034-4946-b0a0-7a2672e1736e","type":"already_exists"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 184.447708ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"project_id":"0a66ada2-7034-4946-b0a0-7a2672e1736e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"0a66ada2-7034-4946-b0a0-7a2672e1736e","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.602375ms
[...]
