---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_mnq_sqs_queue_dead_letter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-09-02T08:18:28.454645Z","description":"","id":"64671597-d100-42d9-b9c4-a173074c5bca","name":"tf_tests_mnq_sqs_queue_dead_letter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2025-09-02T08:18:28.454645Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 571.545042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/64671597-d100-42d9-b9c4-a173074c5bca
        method: GET
      response:
        body: '{"created_at":"2025-09-02T08:18:28.454645Z","description":"","id":"64671597-d100-42d9-b9c4-a173074c5bca","name":"tf_tests_mnq_sqs_queue_dead_letter","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2025-09-02T08:18:28.454645Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.28275ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"64671597-d100-42d9-b9c4-a173074c5bca"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
        method: POST
      response:
        body: '{"created_at":"2025-09-02T08:18:29.049294077Z","project_id":"64671597-d100-42d9-b9c4-a173074c5bca","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T08:18:29.049294077Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.445417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=64671597-d100-42d9-b9c4-a173074c5bca
        method: GET
      response:
        body: '{"created_at":"2025-09-02T08:18:29.049294Z","project_id":"64671597-d100-42d9-b9c4-a173074c5bca","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2025-09-02T08:18:29.049294Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.134875ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"64671597-d100-42d9-b9c4-a173074c5bca","name":"tf-sqs-credentials-cranky-goldberg","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
        method: POST
      response:
        body: '{"access_key":"EKzkCo4QY4HV5LQu63Qm","created_at":"2025-09-02T08:18:29.371204801Z","id":"49c35f2a-3b94-4f2a-8640-1cbd330e2607","name":"tf-sqs-credentials-cranky-goldberg","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"64671597-d100-42d9-b9c4-a173074c5bca","region":"fr-par","secret_checksum":"fe1453cd8d42cfbcddad4bd1ee640e990cd9d21e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T08:18:29.371204801Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.780708ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/49c35f2a-3b94-4f2a-8640-1cbd330e2607
        method: GET
      response:
        body: '{"access_key":"EKzkCo4QY4HV5LQu63Qm","created_at":"2025-09-02T08:18:29.371204Z","id":"49c35f2a-3b94-4f2a-8640-1cbd330e2607","name":"tf-sqs-credentials-cranky-goldberg","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"64671597-d100-42d9-b9c4-a173074c5bca","region":"fr-par","secret_checksum":"fe1453cd8d42cfbcddad4bd1ee640e990cd9d21e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-02T08:18:29.371204Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.715083ms
[...]
    - id: 7
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"VisibilityTimeout":"30","MaximumMessageSize":"262144","MessageRetentionPeriod":"345600"},"QueueName":"dead-letter-queue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 03bba1a2-d89c-41e5-ac61-d343c4bdb3d4
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T081829Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-64671597-d100-42d9-b9c4-a173074c5bca/dead-letter-queue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx233dc5c2-fb65-4a5e-81a9-b634a45d4ce6
        status: 200 OK
        code: 200
        duration: 268.539334ms
[...]
    - id: 9
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-64671597-d100-42d9-b9c4-a173074c5bca/dead-letter-queue"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6d7c3231-a271-4bab-9c62-d9a5338945aa
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T081829Z
            X-Amz-Target:
                - AmazonSQS.GetQueueAttributes
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","QueueArn":"arn:scw:sqs:fr-par:project-64671597-d100-42d9-b9c4-a173074c5bca:dead-letter-queue","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx296c9877-d99c-4d53-975f-9b009b113f67
        status: 200 OK
        code: 200
        duration: 25.160666ms
[...]
    - id: 11
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"Attributes":{"VisibilityTimeout":"30","RedrivePolicy":"{\"deadLetterTargetArn\":\"arn:scw:sqs:fr-par:project-64671597-d100-42d9-b9c4-a173074c5bca:dead-letter-queue\",\"maxReceiveCount\":3}","MaximumMessageSize":"262144","MessageRetentionPeriod":"345600"},"QueueName":"test-mnq-sqs-queue-dead-letter"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d9fed6cb-9b7f-41a7-a94e-c785eeabe3d6
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T081829Z
            X-Amz-Target:
                - AmazonSQS.CreateQueue
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-64671597-d100-42d9-b9c4-a173074c5bca/test-mnq-sqs-queue-dead-letter"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Requestid:
                - tx7ce1c394-504b-4a72-89b3-300a2be5315e
        status: 200 OK
        code: 200
        duration: 170.749ms
[...]
    - id: 13
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"AttributeNames":["FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout","RedrivePolicy","QueueArn","MaximumMessageSize","MessageRetentionPeriod"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-64671597-d100-42d9-b9c4-a173074c5bca/test-mnq-sqs-queue-dead-letter"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 88ec3188-c325-4f[...]
[...]
    - id: 45
      request:
        host: sqs.mnq.fr-par.scaleway.com
        body: '{"QueueName":"test-mnq-sqs-queue-dead-letter"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 35ff07d2-2548-4ba5-bffc-dbe97698d931
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20250902T081836Z
            X-Amz-Target:
                - AmazonSQS.GetQueueUrl
            X-Amzn-Query-Mode:
                - "true"
        url: https://sqs.mnq.fr-par.scaleway.com/
        method: POST
      response:
        body: '{"__type":"com.amazonaws.sqs#QueueDoesNotExist","message":"Queue \"test-mnq-sqs-queue-dead-letter\" does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Amzn-Query-Error:
                - AWS.SimpleQueueService.NonExistentQueue;Sender
            X-Amzn-Requestid:
                - tx333428a9-34c9-4ea2-a03f-99273590fc70
        status: 404 Not Found
        code: 404
        duration: 26.806334ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: '{"project_id":"64671597-d100-42d9-b9c4-a173074c5bca"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
        method: POST
      response:
        body: '{"created_at":null,"project_id":"64671597-d100-42d9-b9c4-a173074c5bca","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.708291ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/64671597-d100-42d9-b9c4-a173074c5bca
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"64671597-d100-42d9-b9c4-a173074c5bca","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.164458ms
