---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_mnq_sqs_queue_default_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"name\":\"tf_tests_mnq_sqs_queue_default_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:58:00.781076Z\",\"updated_at\":\"2025-09-23T12:58:00.781076Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 486.092547ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:58:03.649804287Z\",\"updated_at\":\"2025-09-23T12:58:03.649804287Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.731962ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      project_id:
      - f54edddf-a00c-4be5-812b-b6c208f86754
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=f54edddf-a00c-4be5-812b-b6c208f86754
    method: GET
  response:
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:58:03.649804Z\",\"updated_at\":\"2025-09-23T12:58:03.649804Z\",\"status\":\"enabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 224.830528ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"name\":\"tf-sqs-credentials-laughing-cori\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:58:04.231410008Z\",\"updated_at\":\"2025-09-23T12:58:04.231410008Z\",\"id\":\"97682e35-cb7f-4557-b22b-3e8e0dc0f0e7\",\"name\":\"tf-sqs-credentials-laughing-cori\",\"access_key\":\"U2d4cs1mk28aDhySIcIM\",\"secret_key\":\"POatCmDuDVeDpONusnmeDn4rYOTKkdyYZ3dJhEGVvTNZgtx3wu57o0f5MhVPaXBB\",\"secret_checksum\":\"9f85a358fa2c9f23fef667bfeae9ac73308da4a3\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 262.467133ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/97682e35-cb7f-4557-b22b-3e8e0dc0f0e7
    method: GET
  response:
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"region\":\"fr-par\",\"created_at\":\"2025-09-23T12:58:04.231410Z\",\"updated_at\":\"2025-09-23T12:58:04.231410Z\",\"id\":\"97682e35-cb7f-4557-b22b-3e8e0dc0f0e7\",\"name\":\"tf-sqs-credentials-laughing-cori\",\"access_key\":\"U2d4cs1mk28aDhySIcIM\",\"secret_key\":\"\",\"secret_checksum\":\"9f85a358fa2c9f23fef667bfeae9ac73308da4a3\",\"permissions\":{\"can_publish\":false,\"can_receive\":false,\"can_manage\":true}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.611123ms
[...]
- id: 6
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"VisibilityTimeout\":\"30\"},\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - 7ef36107-a305-437b-bcf2-1a0af1fdeffa
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T125805Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-f54edddf-a00c-4be5-812b-b6c208f86754/test-mnq-sqs-queue-basic\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txf54c254a-36e6-4733-b1a0-8def5692d216
    status: 200 OK
    code: 200
    duration: 609.86961ms
[...]
- id: 8
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"AttributeNames\":[\"VisibilityTimeout\",\"RedrivePolicy\",\"QueueArn\",\"MaximumMessageSize\",\"MessageRetentionPeriod\",\"FifoQueue\",\"ContentBasedDeduplication\",\"ReceiveMessageWaitTimeSeconds\"],\"QueueUrl\":\"https://sqs.mnq.fr-par.scaleway.com/project-f54edddf-a00c-4be5-812b-b6c208f86754/test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - ee13cc04-9e2f-4822-a6d7-12b5ca62c58b
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T125805Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"Attributes\":{\"MaximumMessageSize\":\"262144\",\"MessageRetentionPeriod\":\"345600\",\"QueueArn\":\"arn:scw:sqs:fr-par:project-f54edddf-a00c-4be5-812b-b6c208f86754:test-mnq-sqs-queue-basic\",\"ReceiveMessageWaitTimeSeconds\":\"0\",\"VisibilityTimeout\":\"30\"}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - txc17663ff-3b6c-46a2-b091-163e5b473530
    status: 200 OK
    code: 200
    duration: 32.297468ms
[...]
- id: 16
  request:
    host: sqs.mnq.fr-par.scaleway.com
    body: "{\"QueueName\":\"test-mnq-sqs-queue-basic\"}"
    headers:
      Amz-Sdk-Invocation-Id:
      - b71da4c0-cf9c-4c33-8eb6-315b5cd54d5a
      Amz-Sdk-Request:
      - attempt=1; max=3
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20250923T125808Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
      X-Amzn-Query-Mode:
      - "true"
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: "{\"__type\":\"com.amazonaws.sqs#QueueDoesNotExist\",\"message\":\"Queue \\\"test-mnq-sqs-queue-basic\\\" does not exist.\"}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx2adb0094-ab2d-4b0e-aec9-a1ede139743f
    status: 404 Not Found
    code: 404
    duration: 24.6074ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: "{\"project_id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"region\":\"fr-par\",\"created_at\":null,\"updated_at\":null,\"status\":\"disabled\",\"sqs_endpoint_url\":\"https://sqs.mnq.fr-par.scaleway.com\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 688.987226ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/f54edddf-a00c-4be5-812b-b6c208f86754
    method: GET
  response:
    body: "{\"id\":\"f54edddf-a00c-4be5-812b-b6c208f86754\",\"name\":\"tf_tests_mnq_sqs_queue_default_project\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:58:00.781076Z\",\"updated_at\":\"2025-09-23T12:58:00.781076Z\",\"description\":\"\",\"qualification\":{\"architecture_type\":\"unknown_architecture_type\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 493.765453ms
[...]
