---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:27.879184Z","description":"","id":"3f9c227a-82ad-490f-a892-40ed89071b76","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.879184Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/3f9c227a-82ad-490f-a892-40ed89071b76
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:27.879184Z","description":"","id":"3f9c227a-82ad-490f-a892-40ed89071b76","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.879184Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"3f9c227a-82ad-490f-a892-40ed89071b76"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:28.237945643Z","project_id":"3f9c227a-82ad-490f-a892-40ed89071b76","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.237945643Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=3f9c227a-82ad-490f-a892-40ed89071b76
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:28.237945Z","project_id":"3f9c227a-82ad-490f-a892-40ed89071b76","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.237945Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"3f9c227a-82ad-490f-a892-40ed89071b76","name":"test-mnq-sqs-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"PLDkJvw7qw86JKaxuOiq","created_at":"2023-12-27T09:58:28.506956730Z","id":"eb60451b-cd09-4dfd-8ade-05d62c3dbb1f","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"3f9c227a-82ad-490f-a892-40ed89071b76","region":"fr-par","secret_checksum":"f6581db548dd060dc7151985f883fb2a4fcb44d8","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/eb60451b-cd09-4dfd-8ade-05d62c3dbb1f
    method: GET
  response:
    body: '{"access_key":"PLDkJvw7qw86JKaxuOiq","created_at":"2023-12-27T09:58:28.506956Z","id":"eb60451b-cd09-4dfd-8ade-05d62c3dbb1f","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"3f9c227a-82ad-490f-a892-40ed89071b76","region":"fr-par","secret_checksum":"f6581db548dd060dc7151985f883fb2a4fcb44d8","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"3f9c227a-82ad-490f-a892-40ed89071b76"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"3f9c227a-82ad-490f-a892-40ed89071b76","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/eb60451b-cd09-4dfd-8ade-05d62c3dbb1f
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"eb60451b-cd09-4dfd-8ade-05d62c3dbb1f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
