---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.559697ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"id":"85973469-8cce-4d33-a8b1-27579214c40f", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/85973469-8cce-4d33-a8b1-27579214c40f", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/85973469-8cce-4d33-a8b1-27579214c40f/login"}, "entity_id":"", "single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.905384ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.973674ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"entity_id":"https://example.com/saml/metadata","single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/saml/85973469-8cce-4d33-a8b1-27579214c40f
        method: PATCH
      response:
        body: '{"id":"85973469-8cce-4d33-a8b1-27579214c40f", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/85973469-8cce-4d33-a8b1-27579214c40f", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/85973469-8cce-4d33-a8b1-27579214c40f/login"}, "entity_id":"https://example.com/saml/metadata", "single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.422476ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/85973469-8cce-4d33-a8b1-27579214c40f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.538425ms
[...]
