---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.881266ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"id":"a033fd60-cdb7-4e81-bcec-5f0b8dedc592", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/a033fd60-cdb7-4e81-bcec-5f0b8dedc592", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/a033fd60-cdb7-4e81-bcec-5f0b8dedc592/login"}, "entity_id":"", "single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.010151ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.570287ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"entity_id":"https://example.com/saml/metadata","single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/saml/a033fd60-cdb7-4e81-bcec-5f0b8dedc592
        method: PATCH
      response:
        body: '{"id":"a033fd60-cdb7-4e81-bcec-5f0b8dedc592", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/a033fd60-cdb7-4e81-bcec-5f0b8dedc592", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/a033fd60-cdb7-4e81-bcec-5f0b8dedc592/login"}, "entity_id":"https://example.com/saml/metadata", "single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.12884ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/a033fd60-cdb7-4e81-bcec-5f0b8dedc592
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 75.112215ms
[...]
