---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 156.749619ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a","id":"789fa2ca-5ec3-4e62-a1b5-272beb7ca82a","status":"missing_certificate","service_provider":{"entity_id":"https://iam.scaleway.com/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a","assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a/login"},"entity_id":"","single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.022432ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.355132ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"entity_id":"https://example.com/saml/metadata","single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a
        method: PATCH
      response:
        body: '{"srn":"srn://iam.scw.eu/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a","id":"789fa2ca-5ec3-4e62-a1b5-272beb7ca82a","status":"missing_certificate","service_provider":{"entity_id":"https://iam.scaleway.com/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a","assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a/login"},"entity_id":"https://example.com/saml/metadata","single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.442016ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/789fa2ca-5ec3-4e62-a1b5-272beb7ca82a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 58.073059ms
[...]
