---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_project","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"","id":"e64fcf84-1a23-43fa-a0c2-22eeaefeac23","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_project","status":"ready","created_at":"2026-10-07T13:42:51.826354Z","updated_at":"2026-10-07T13:42:51.826354Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "31"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.814644ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/c9858a48-7114-4fe6-bd0f-8f713824c3c1", "id":"c9858a48-7114-4fe6-bd0f-8f713824c3c1", "name":"tf_test_api_key_er_project", "description":"", "created_at":"2026-10-07T13:42:51.829858Z", "updated_at":"2026-10-07T13:42:51.829858Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 114.816254ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 20.913142ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/c9858a48-7114-4fe6-bd0f-8f713824c3c1
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/c9858a48-7114-4fe6-bd0f-8f713824c3c1","id":"c9858a48-7114-4fe6-bd0f-8f713824c3c1","name":"tf_test_api_key_er_project","description":"","created_at":"2026-10-07T13:42:51.829858Z","updated_at":"2026-10-07T13:42:51.829858Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.689334ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e64fcf84-1a23-43fa-a0c2-22eeaefeac23
        method: GET
      response:
        body: '{"srn":"", "id":"e64fcf84-1a23-43fa-a0c2-22eeaefeac23", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_project", "status":"ready", "created_at":"2026-10-07T13:42:51.826354Z", "updated_at":"2026-10-07T13:42:51.826354Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 79.317993ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e64fcf84-1a23-43fa-a0c2-22eeaefeac23/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.351489ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"application_id":"c9858a48-7114-4fe6-bd0f-8f713824c3c1","expires_at":"2026-10-07T13:51:38Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"\"tf_test_api_key_er_project\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWWMTVP6ARK4HP6ZSG4","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"\"tf_test_api_key_er_project\"","created_at":"2026-10-07T13:42:52.021199Z","updated_at":"2026-10-07T13:42:52.021199Z","expires_at":"2026-10-07T13:51:38Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"c9858a48-7114-4fe6-bd0f-8f713824c3c1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 118.0062ms
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXV01UVlA2QVJLNEhQNlpTRzQ=","description":"tf_test_api_key_er_project"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e64fcf84-1a23-43fa-a0c2-22eeaefeac23/versions
        method: POST
      response:
        body: '{"srn":"", "revision":1, "secret_id":"e64fcf84-1a23-43fa-a0c2-22eeaefeac23", "status":"enabled", "created_at":"2026-10-07T13:42:52.382045Z", "updated_at":"2026-10-07T13:42:52.382045Z", "deleted_at":null, "description":"tf_test_api_key_er_project", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 363.84758ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e64fcf84-1a23-43fa-a0c2-22eeaefeac23/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"e64fcf84-1a23-43fa-a0c2-22eeaefeac23","status":"enabled","created_at":"2026-10-07T13:42:52.382045Z","updated_at":"2026-10-07T13:42:52.382045Z","deleted_at":null,"description":"tf_test_api_key_er_project","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.605851ms
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/e64fcf84-1a23-43fa-a0c2-22eeaefeac23/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"e64fcf84-1a23-43fa-a0c2-22eeaefeac23","revision":1,"data":"U0NXV01UVlA2QVJLNEhQNlpTRzQ=","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 124.764741ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWWMTVP6ARK4HP6ZSG4", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":null, "description":"\"tf_test_api_key_er_project\"", "created_at":"2026-10-07T13:42:52.021199Z", "updated_at":"2026-10-07T13:42:52.021199Z", "expires_at":"2026-10-07T13:51:38Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"c9858a48-7114-4fe6-bd0f-8f713824c3c1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.133655ms
[...]
