---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/981091a1-ba61-4e85-b772-62122a8db3f0","id":"981091a1-ba61-4e85-b772-62122a8db3f0","name":"tf_test_api_key_er_project","description":"","created_at":"2026-10-09T13:16:35.702088Z","updated_at":"2026-10-09T13:16:35.702088Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 258.005725ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.390928ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/981091a1-ba61-4e85-b772-62122a8db3f0
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/981091a1-ba61-4e85-b772-62122a8db3f0","id":"981091a1-ba61-4e85-b772-62122a8db3f0","name":"tf_test_api_key_er_project","description":"","created_at":"2026-10-09T13:16:35.702088Z","updated_at":"2026-10-09T13:16:35.702088Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.707461ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"981091a1-ba61-4e85-b772-62122a8db3f0","expires_at":"2026-10-09T13:26:35Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"tf_test_api_key_er_project"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWS1S2ERMA06TFMNM5M","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"tf_test_api_key_er_project","created_at":"2026-10-09T13:16:36.148070Z","updated_at":"2026-10-09T13:16:36.148070Z","expires_at":"2026-10-09T13:26:35Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"981091a1-ba61-4e85-b772-62122a8db3f0"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 498.929042ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWS1S2ERMA06TFMNM5M","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"tf_test_api_key_er_project","created_at":"2026-10-09T13:16:36.148070Z","updated_at":"2026-10-09T13:16:36.148070Z","expires_at":"2026-10-09T13:26:35Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"981091a1-ba61-4e85-b772-62122a8db3f0"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 99.398711ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/981091a1-ba61-4e85-b772-62122a8db3f0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"981091a1-ba61-4e85-b772-62122a8db3f0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 30.455322ms
[...]
