---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"0766588d-4a0e-4938-a140-544964da7870", "name":"tf_tests_app_key_basic", "description":"", "created_at":"2026-06-10T16:12:40.263060Z", "updated_at":"2026-06-10T16:12:40.263060Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.530729ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/0766588d-4a0e-4938-a140-544964da7870
        method: GET
      response:
        body: '{"id":"0766588d-4a0e-4938-a140-544964da7870", "name":"tf_tests_app_key_basic", "description":"", "created_at":"2026-06-10T16:12:40.263060Z", "updated_at":"2026-06-10T16:12:40.263060Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.06058ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"0766588d-4a0e-4938-a140-544964da7870","description":"tf_tests_with_application"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW9AXCN349HVWTA0M0H", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_with_application", "created_at":"2026-06-10T16:12:40.585516Z", "updated_at":"2026-06-10T16:12:40.585516Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"0766588d-4a0e-4938-a140-544964da7870"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.208683ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW9AXCN349HVWTA0M0H", "secret_key":null, "description":"tf_tests_with_application", "created_at":"2026-06-10T16:12:40.585516Z", "updated_at":"2026-06-10T16:12:40.585516Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"0766588d-4a0e-4938-a140-544964da7870"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.985632ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW9AXCN349HVWTA0M0H","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.983746ms
[...]
