---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_api_key_app_change2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"App to be attached on step 2\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"b4589818-c21b-42d8-9ba1-8cd3c4914762\",\"name\":\"tf_tests_api_key_app_change2\",\"description\":\"App to be attached on step 2\",\"created_at\":\"2025-09-23T14:07:13.793707Z\",\"updated_at\":\"2025-09-23T14:07:13.793707Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 237.967718ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b6dfed2c-0e9b-403c-b9a5-104d1ae88ee6
    method: GET
  response:
    body: "{\"id\":\"b6dfed2c-0e9b-403c-b9a5-104d1ae88ee6\",\"name\":\"tf_tests_api_key_app_change\",\"description\":\"App to be attached on step 1\",\"created_at\":\"2025-09-23T14:07:13.806031Z\",\"updated_at\":\"2025-09-23T14:07:13.806031Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 709.313021ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"b6dfed2c-0e9b-403c-b9a5-104d1ae88ee6\",\"description\":\"tf_tests_with_application_change\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW8EFQYN69FTXH0APKR\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_with_application_change\",\"created_at\":\"2025-09-23T14:07:14.738105Z\",\"updated_at\":\"2025-09-23T14:07:14.738105Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"b6dfed2c-0e9b-403c-b9a5-104d1ae88ee6\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 829.609711ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW8EFQYN69FTXH0APKR\",\"secret_key\":null,\"description\":\"tf_tests_with_application_change\",\"created_at\":\"2025-09-23T14:07:14.738105Z\",\"updated_at\":\"2025-09-23T14:07:14.738105Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"b6dfed2c-0e9b-403c-b9a5-104d1ae88ee6\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 287.866576ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWNTQ172S2Z9BBGP121\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 33.563069ms
[...]
