---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_with_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/fb7245bc-4451-4830-85a3-af07a03fd88c","id":"fb7245bc-4451-4830-85a3-af07a03fd88c","name":"tf_test_api_key_er_with_app","description":"","created_at":"2026-10-07T13:42:54.795270Z","updated_at":"2026-10-07T13:42:54.795270Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 61.480571ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.068785ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_with_app","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"srn":"", "id":"2915a7ce-bfc0-4264-a727-538f226465ce", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_with_app", "status":"ready", "created_at":"2026-10-07T13:42:54.834775Z", "updated_at":"2026-10-07T13:42:54.834775Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.490952ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/fb7245bc-4451-4830-85a3-af07a03fd88c
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/fb7245bc-4451-4830-85a3-af07a03fd88c","id":"fb7245bc-4451-4830-85a3-af07a03fd88c","name":"tf_test_api_key_er_with_app","description":"","created_at":"2026-10-07T13:42:54.795270Z","updated_at":"2026-10-07T13:42:54.795270Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 42.293623ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2915a7ce-bfc0-4264-a727-538f226465ce
        method: GET
      response:
        body: '{"srn":"","id":"2915a7ce-bfc0-4264-a727-538f226465ce","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_with_app","status":"ready","created_at":"2026-10-07T13:42:54.834775Z","updated_at":"2026-10-07T13:42:54.834775Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.973245ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2915a7ce-bfc0-4264-a727-538f226465ce/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.12065ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"application_id":"fb7245bc-4451-4830-85a3-af07a03fd88c","expires_at":"2026-10-07T13:51:38Z","description":"\"tf_test_api_key_er_with_app\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWJKQZ7G29H9MK224S1","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"\"tf_test_api_key_er_with_app\"","created_at":"2026-10-07T13:42:54.984890Z","updated_at":"2026-10-07T13:42:54.984890Z","expires_at":"2026-10-07T13:51:38Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"fb7245bc-4451-4830-85a3-af07a03fd88c"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 118.81522ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXSktRWjdHMjlIOU1LMjI0UzE=","description":"tf_test_api_key_er_with_app"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2915a7ce-bfc0-4264-a727-538f226465ce/versions
        method: POST
      response:
        body: '{"srn":"","revision":1,"secret_id":"2915a7ce-bfc0-4264-a727-538f226465ce","status":"enabled","created_at":"2026-10-07T13:42:55.259911Z","updated_at":"2026-10-07T13:42:55.259911Z","deleted_at":null,"description":"tf_test_api_key_er_with_app","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 274.527853ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2915a7ce-bfc0-4264-a727-538f226465ce/versions/1
        method: GET
      response:
        body: '{"srn":"","revision":1,"secret_id":"2915a7ce-bfc0-4264-a727-538f226465ce","status":"enabled","created_at":"2026-10-07T13:42:55.259911Z","updated_at":"2026-10-07T13:42:55.259911Z","deleted_at":null,"description":"tf_test_api_key_er_with_app","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.402732ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/2915a7ce-bfc0-4264-a727-538f226465ce/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"2915a7ce-bfc0-4264-a727-538f226465ce", "revision":1, "data":"U0NXSktRWjdHMjlIOU1LMjI0UzE=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 68.889234ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWJKQZ7G29H9MK224S1", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":null, "description":"\"tf_test_api_key_er_with_app\"", "created_at":"2026-10-07T13:42:54.984890Z", "updated_at":"2026-10-07T13:42:54.984890Z", "expires_at":"2026-10-07T13:51:38Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"fb7245bc-4451-4830-85a3-af07a03fd88c"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.371494ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/fb7245bc-4451-4830-85a3-af07a03fd88c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"fb7245bc-4451-4830-85a3-af07a03fd88c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 27.602493ms
[...]
