---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_expires_at","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:33:06.852924Z","deletable":true,"description":"","editable":true,"id":"be105c68-9ddc-4b73-89cb-e0010ac00e02","managed":false,"name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:06.852924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.413209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/be105c68-9ddc-4b73-89cb-e0010ac00e02
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:33:06.852924Z","deletable":true,"description":"","editable":true,"id":"be105c68-9ddc-4b73-89cb-e0010ac00e02","managed":false,"name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:06.852924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.802375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"be105c68-9ddc-4b73-89cb-e0010ac00e02","expires_at":"2025-07-06T11:00:00+02:00","description":"tf_tests_expires"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWT9GT83JZCT6C8X863","application_id":"be105c68-9ddc-4b73-89cb-e0010ac00e02","created_at":"2025-01-22T15:33:07.212281Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:07.212281Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.814416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT9GT83JZCT6C8X863
        method: GET
      response:
        body: '{"access_key":"SCWT9GT83JZCT6C8X863","application_id":"be105c68-9ddc-4b73-89cb-e0010ac00e02","created_at":"2025-01-22T15:33:07.212281Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:07.212281Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.284375ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT9GT83JZCT6C8X863
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWT9GT83JZCT6C8X863","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.061458ms
[...]
