---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_desc_identifier_replace_unique","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"7121e1c3-9707-490c-a05f-ec2e34179321", "name":"tf_test_desc_identifier_replace_unique", "description":"", "created_at":"2026-09-02T16:47:38.024485Z", "updated_at":"2026-09-02T16:47:38.024485Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.038534ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 22.77257ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7121e1c3-9707-490c-a05f-ec2e34179321
        method: GET
      response:
        body: '{"id":"7121e1c3-9707-490c-a05f-ec2e34179321", "name":"tf_test_desc_identifier_replace_unique", "description":"", "created_at":"2026-09-02T16:47:38.024485Z", "updated_at":"2026-09-02T16:47:38.024485Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.654395ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            description:
                - tf_test_desc_identifier_replace_unique
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&description=tf_test_desc_identifier_replace_unique&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 129.438932ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"7121e1c3-9707-490c-a05f-ec2e34179321","expires_at":"2026-09-02T16:57:37Z","description":"tf_test_desc_identifier_replace_unique"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWDAW7TS3T2P3QTYZVN", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_desc_identifier_replace_unique", "created_at":"2026-09-02T16:47:38.420969Z", "updated_at":"2026-09-02T16:47:38.420969Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"7121e1c3-9707-490c-a05f-ec2e34179321"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 138.112442ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 117.046978ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7121e1c3-9707-490c-a05f-ec2e34179321
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"7121e1c3-9707-490c-a05f-ec2e34179321","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "21"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 35.37414ms
