---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_annot_persist_norecreate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"7306e327-3c07-4116-8529-be3ce98384ec", "name":"tf_test_annot_persist_norecreate", "description":"", "created_at":"2026-09-02T17:01:29.949040Z", "updated_at":"2026-09-02T17:01:29.949040Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 145.860076ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 26.378846ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7306e327-3c07-4116-8529-be3ce98384ec
        method: GET
      response:
        body: '{"id":"7306e327-3c07-4116-8529-be3ce98384ec", "name":"tf_test_annot_persist_norecreate", "description":"", "created_at":"2026-09-02T17:01:29.949040Z", "updated_at":"2026-09-02T17:01:29.949040Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.680255ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/keys?organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"keys":[{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier", "description":"Identity key for Terraform-managed resources"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.631142ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            key_id:
                - 01a0585f-e006-7205-b434-256e25d91aee
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/values?key_id=01a0585f-e006-7205-b434-256e25d91aee&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"values":[{"id":"01a0585f-e12a-72c0-9b9f-6ba2c42334a0", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"my_identity_value", "description":"Identity: my_identity_value"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 52.953059ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"7306e327-3c07-4116-8529-be3ce98384ec","expires_at":"2026-09-02T17:11:29Z","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWZ2V10AZRAQ14Y1P0R", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-09-02T17:01:30.251897Z", "updated_at":"2026-09-02T17:01:30.251897Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"7306e327-3c07-4116-8529-be3ce98384ec"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 110.102398ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a0585f-e006-7205-b434-256e25d91aee","name":"tf_test_annot_persist_norecreate","description":"Identifier: tf_test_annot_persist_norecreate"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a06311-8fb5-7941-b952-ca4e36aefb4c", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_persist_norecreate", "description":"Identifier: tf_test_annot_persist_norecreate"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "29"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.67188ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            value_id:
                - 01a06311-8fb5-7941-b952-ca4e36aefb4c
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=11111111-1111-1111-1111-111111111111&page=1&value_id=01a06311-8fb5-7941-b952-ca4e36aefb4c
        method: GET
      response:
        body: '{"bindings":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "26"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 51.502164ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWZ2V10AZRAQ14Y1P0R","value_id":"01a06311-8fb5-7941-b952-ca4e36aefb4c"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a06311-9033-7be8-a419-438a09dee916", "srn":"srn://iam.scw.eu/api-keys/SCWZ2V10AZRAQ14Y1P0R", "key":{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier"}, "value":{"id":"01a06311-8fb5-7941-b952-ca4e36aefb4c", "name":"tf_test_annot_persist_norecreate"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "23"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 65.475304ms
    - id: 11
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/keys?organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"message":"Internal Error"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 429 Too Many Requests
        code: 429
        duration: 49.931645ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWZ2V10AZRAQ14Y1P0R", "secret_key":null, "description":"", "created_at":"2026-09-02T17:01:30.251897Z", "updated_at":"2026-09-02T17:01:30.251897Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"7306e327-3c07-4116-8529-be3ce98384ec"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.973077ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7306e327-3c07-4116-8529-be3ce98384ec
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"7306e327-3c07-4116-8529-be3ce98384ec","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 35.990837ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a06311-9033-7be8-a419-438a09dee916
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 65.543333ms
    - id: 59
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a06311-8fb5-7941-b952-ca4e36aefb4c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 59.501698ms
