---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:33:10.966135Z","deletable":true,"description":"","editable":true,"id":"4fc3fc06-e47a-4983-a8f7-2de34dd833f9","managed":false,"name":"tf_tests_app_key_noupdate","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:10.966135Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.216791ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4fc3fc06-e47a-4983-a8f7-2de34dd833f9
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:33:10.966135Z","deletable":true,"description":"","editable":true,"id":"4fc3fc06-e47a-4983-a8f7-2de34dd833f9","managed":false,"name":"tf_tests_app_key_noupdate","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:10.966135Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.262583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"4fc3fc06-e47a-4983-a8f7-2de34dd833f9","description":"tf_tests_no_update"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWGFG13WMDT0WR717HW","application_id":"4fc3fc06-e47a-4983-a8f7-2de34dd833f9","created_at":"2025-01-22T15:33:11.871975Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_no_update","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:11.871975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 803.185125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWGFG13WMDT0WR717HW
        method: GET
      response:
        body: '{"access_key":"SCWGFG13WMDT0WR717HW","application_id":"4fc3fc06-e47a-4983-a8f7-2de34dd833f9","created_at":"2025-01-22T15:33:11.871975Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_no_update","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:11.871975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.754583ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWGFG13WMDT0WR717HW
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWGFG13WMDT0WR717HW","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.265917ms
