---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_key_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"8623ba9c-f258-4893-9d9a-ff639750ca38\",\"name\":\"tf_tests_app_key_noupdate\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:48.822095Z\",\"updated_at\":\"2025-09-05T12:00:48.822095Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 239.811659ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/8623ba9c-f258-4893-9d9a-ff639750ca38
    method: GET
  response:
    body: "{\"id\":\"8623ba9c-f258-4893-9d9a-ff639750ca38\",\"name\":\"tf_tests_app_key_noupdate\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:48.822095Z\",\"updated_at\":\"2025-09-05T12:00:48.822095Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 275.563313ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"8623ba9c-f258-4893-9d9a-ff639750ca38\",\"description\":\"tf_tests_no_update\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWF6VVN64V2AXWGVMF5\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_no_update\",\"created_at\":\"2025-09-05T12:00:49.372484Z\",\"updated_at\":\"2025-09-05T12:00:49.372484Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"8623ba9c-f258-4893-9d9a-ff639750ca38\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 265.326215ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWF6VVN64V2AXWGVMF5
    method: GET
  response:
    body: "{\"access_key\":\"SCWF6VVN64V2AXWGVMF5\",\"secret_key\":null,\"description\":\"tf_tests_no_update\",\"created_at\":\"2025-09-05T12:00:49.372484Z\",\"updated_at\":\"2025-09-05T12:00:49.372484Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"8623ba9c-f258-4893-9d9a-ff639750ca38\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 156.298463ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWF6VVN64V2AXWGVMF5
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWF6VVN64V2AXWGVMF5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.849659ms
