---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_api_key_with_app\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"2e57a846-55b1-4a88-b48a-32f791368a76\",\"name\":\"tf_tests_api_key_with_app\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:47.757071Z\",\"updated_at\":\"2025-09-05T12:00:47.757071Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 182.052299ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/2e57a846-55b1-4a88-b48a-32f791368a76
    method: GET
  response:
    body: "{\"id\":\"2e57a846-55b1-4a88-b48a-32f791368a76\",\"name\":\"tf_tests_api_key_with_app\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:47.757071Z\",\"updated_at\":\"2025-09-05T12:00:47.757071Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 147.979ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"2e57a846-55b1-4a88-b48a-32f791368a76\",\"description\":\"tf_tests_with_application\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWE8VK0JSKT9FMKJW5E\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-05T12:00:48.180949Z\",\"updated_at\":\"2025-09-05T12:00:48.180949Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"2e57a846-55b1-4a88-b48a-32f791368a76\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 295.668975ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWE8VK0JSKT9FMKJW5E
    method: GET
  response:
    body: "{\"access_key\":\"SCWE8VK0JSKT9FMKJW5E\",\"secret_key\":null,\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-05T12:00:48.180949Z\",\"updated_at\":\"2025-09-05T12:00:48.180949Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"2e57a846-55b1-4a88-b48a-32f791368a76\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.764346ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWE8VK0JSKT9FMKJW5E
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWE8VK0JSKT9FMKJW5E\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.475493ms
[...]
