---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_api_key_app_change","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:33:11.015406Z","deletable":true,"description":"","editable":true,"id":"4c9b9741-d82a-43b7-b279-d3e62c206cb9","managed":false,"name":"tf_tests_api_key_app_change","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:11.015406Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.862917ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/5a5477be-322a-46a9-8b6e-44b6eb725c24
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:33:11.018766Z","deletable":true,"description":"","editable":true,"id":"5a5477be-322a-46a9-8b6e-44b6eb725c24","managed":false,"name":"tf_tests_api_key_app_change2","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:11.018766Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 626.120792ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"4c9b9741-d82a-43b7-b279-d3e62c206cb9","description":"tf_tests_with_application_change"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWCG1EGRQF47RZERS79","application_id":"4c9b9741-d82a-43b7-b279-d3e62c206cb9","created_at":"2025-01-22T15:33:11.867565Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application_change","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:11.867565Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.482875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCG1EGRQF47RZERS79
        method: GET
      response:
        body: '{"access_key":"SCWCG1EGRQF47RZERS79","application_id":"4c9b9741-d82a-43b7-b279-d3e62c206cb9","created_at":"2025-01-22T15:33:11.867565Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application_change","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:11.867565Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.002167ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW49M1J80X3R8DCJGR3
        method: GET
      response:
        body: '{"access_key":"SCW49M1J80X3R8DCJGR3","application_id":"5a5477be-322a-46a9-8b6e-44b6eb725c24","created_at":"2025-01-22T15:33:15.150099Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application_change","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:15.150099Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.692584ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW49M1J80X3R8DCJGR3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW49M1J80X3R8DCJGR3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 117.054333ms
[...]
