---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_key_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"32f70b9e-57d3-47b0-b504-70c5521135f9\",\"name\":\"tf_tests_app_key_noupdate\",\"description\":\"\",\"created_at\":\"2025-09-23T13:58:38.250102Z\",\"updated_at\":\"2025-09-23T13:58:38.250102Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 795.267678ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/32f70b9e-57d3-47b0-b504-70c5521135f9
    method: GET
  response:
    body: "{\"id\":\"32f70b9e-57d3-47b0-b504-70c5521135f9\",\"name\":\"tf_tests_app_key_noupdate\",\"description\":\"\",\"created_at\":\"2025-09-23T13:58:38.250102Z\",\"updated_at\":\"2025-09-23T13:58:38.250102Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 511.917755ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"32f70b9e-57d3-47b0-b504-70c5521135f9\",\"description\":\"tf_tests_no_update\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW51FSD7SAB898JNVGW\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_no_update\",\"created_at\":\"2025-09-23T13:58:39.626856Z\",\"updated_at\":\"2025-09-23T13:58:39.626856Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"32f70b9e-57d3-47b0-b504-70c5521135f9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 504.069646ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW51FSD7SAB898JNVGW\",\"secret_key\":null,\"description\":\"tf_tests_no_update\",\"created_at\":\"2025-09-23T13:58:39.626856Z\",\"updated_at\":\"2025-09-23T13:58:39.626856Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"32f70b9e-57d3-47b0-b504-70c5521135f9\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 711.354449ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCW51FSD7SAB898JNVGW\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.16829ms
