---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_desc_identifier_recreate_unique","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"91aef5e8-cbf9-4c22-b120-1c2656621055", "name":"tf_test_desc_identifier_recreate_unique", "description":"", "created_at":"2026-09-02T17:01:30.152635Z", "updated_at":"2026-09-02T17:01:30.152635Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.479819ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 24.118562ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/91aef5e8-cbf9-4c22-b120-1c2656621055
        method: GET
      response:
        body: '{"id":"91aef5e8-cbf9-4c22-b120-1c2656621055", "name":"tf_test_desc_identifier_recreate_unique", "description":"", "created_at":"2026-09-02T17:01:30.152635Z", "updated_at":"2026-09-02T17:01:30.152635Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.905054ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            description:
                - tf_test_desc_identifier_recreate_unique
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&description=tf_test_desc_identifier_recreate_unique&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 68.406469ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"91aef5e8-cbf9-4c22-b120-1c2656621055","expires_at":"2026-09-02T17:11:29Z","description":"tf_test_desc_identifier_recreate_unique"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWKK62QS7RXZNXZDVGQ", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_desc_identifier_recreate_unique", "created_at":"2026-09-02T17:01:30.416Z", "updated_at":"2026-09-02T17:01:30.416Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"91aef5e8-cbf9-4c22-b120-1c2656621055"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "32"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 123.154068ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 53.078315ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCWGQW2KTSX7WK8Z8B4C","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 38.665909ms
[...]
