---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_api_key_app_change\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"69b0cf02-52b9-4b61-add0-5824583a4e83\", \"name\":\"tf_tests_api_key_app_change\", \"description\":\"\", \"created_at\":\"2025-11-21T17:17:44.153907Z\", \"updated_at\":\"2025-11-21T17:17:44.153907Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 496.281774ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/69b0cf02-52b9-4b61-add0-5824583a4e83
    method: GET
  response:
    body: "{\"id\":\"69b0cf02-52b9-4b61-add0-5824583a4e83\", \"name\":\"tf_tests_api_key_app_change\", \"description\":\"\", \"created_at\":\"2025-11-21T17:17:44.153907Z\", \"updated_at\":\"2025-11-21T17:17:44.153907Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 240.961763ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"69b0cf02-52b9-4b61-add0-5824583a4e83\",\"description\":\"tf_tests_with_application_change\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWY8HCA7X9YVV2A13AV\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"tf_tests_with_application_change\", \"created_at\":\"2025-11-21T17:17:44.800218Z\", \"updated_at\":\"2025-11-21T17:17:44.800218Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"69b0cf02-52b9-4b61-add0-5824583a4e83\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 273.697356ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCWY8HCA7X9YVV2A13AV\", \"secret_key\":null, \"description\":\"tf_tests_with_application_change\", \"created_at\":\"2025-11-21T17:17:44.800218Z\", \"updated_at\":\"2025-11-21T17:17:44.800218Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"69b0cf02-52b9-4b61-add0-5824583a4e83\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.661369ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWY8HCA7X9YVV2A13AV\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 99.36664ms
[...]
