---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_with_app_desc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"462db499-0862-466a-8da0-ff11bb557aa2", "name":"tf_test_api_key_er_with_app_desc", "description":"", "created_at":"2026-09-02T17:01:29.948489Z", "updated_at":"2026-09-02T17:01:29.948489Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 155.78815ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 23.470544ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/462db499-0862-466a-8da0-ff11bb557aa2
        method: GET
      response:
        body: '{"id":"462db499-0862-466a-8da0-ff11bb557aa2", "name":"tf_test_api_key_er_with_app_desc", "description":"", "created_at":"2026-09-02T17:01:29.948489Z", "updated_at":"2026-09-02T17:01:29.948489Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.238004ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"462db499-0862-466a-8da0-ff11bb557aa2","expires_at":"2026-09-02T17:11:29Z","description":"tf_test_api_key_er_with_app_desc"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWSYPBCC2CD4CSAKPXS", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_api_key_er_with_app_desc", "created_at":"2026-09-02T17:01:30.151146Z", "updated_at":"2026-09-02T17:01:30.151146Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"462db499-0862-466a-8da0-ff11bb557aa2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.820926ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/462db499-0862-466a-8da0-ff11bb557aa2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"462db499-0862-466a-8da0-ff11bb557aa2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 33.534664ms
