---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_project","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"d569fe4b-cb78-4d76-af9e-6d513e5bef52","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_project","status":"ready","created_at":"2026-01-22T16:25:28.997298Z","updated_at":"2026-01-22T16:25:28.997298Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.36146ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"c81c1d7d-96d9-4e86-ab9e-0a47ecb2e822","name":"tf_test_api_key_er_project","description":"","created_at":"2026-01-22T16:25:29.087760Z","updated_at":"2026-01-22T16:25:29.087760Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.380642ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d569fe4b-cb78-4d76-af9e-6d513e5bef52
        method: GET
      response:
        body: '{"id":"d569fe4b-cb78-4d76-af9e-6d513e5bef52","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_project","status":"ready","created_at":"2026-01-22T16:25:28.997298Z","updated_at":"2026-01-22T16:25:28.997298Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.731013ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d569fe4b-cb78-4d76-af9e-6d513e5bef52/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.609266ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/c81c1d7d-96d9-4e86-ab9e-0a47ecb2e822
        method: GET
      response:
        body: '{"id":"c81c1d7d-96d9-4e86-ab9e-0a47ecb2e822","name":"tf_test_api_key_er_project","description":"","created_at":"2026-01-22T16:25:29.087760Z","updated_at":"2026-01-22T16:25:29.087760Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.615501ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"c81c1d7d-96d9-4e86-ab9e-0a47ecb2e822","expires_at":"2026-01-22T16:35:28Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"\"tf_test_api_key_er_project\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWNMH2F6M32G4QMAJW5","secret_key":"11111111-1111-1111-1111-111111111111","description":"\"tf_test_api_key_er_project\"","created_at":"2026-01-22T16:25:29.511677Z","updated_at":"2026-01-22T16:25:29.511677Z","expires_at":"2026-01-22T16:35:28Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.172.0.228","application_id":"c81c1d7d-96d9-4e86-ab9e-0a47ecb2e822"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.365737ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXTk1IMkY2TTMyRzRRTUFKVzU=","description":"tf_test_api_key_er_project"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d569fe4b-cb78-4d76-af9e-6d513e5bef52/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"d569fe4b-cb78-4d76-af9e-6d513e5bef52","status":"enabled","created_at":"2026-01-22T16:25:29.900512Z","updated_at":"2026-01-22T16:25:29.900512Z","deleted_at":null,"description":"tf_test_api_key_er_project","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.992244ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d569fe4b-cb78-4d76-af9e-6d513e5bef52/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"d569fe4b-cb78-4d76-af9e-6d513e5bef52","status":"enabled","created_at":"2026-01-22T16:25:29.900512Z","updated_at":"2026-01-22T16:25:29.900512Z","deleted_at":null,"description":"tf_test_api_key_er_project","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.746183ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d569fe4b-cb78-4d76-af9e-6d513e5bef52/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"d569fe4b-cb78-4d76-af9e-6d513e5bef52","revision":1,"data":"U0NXTk1IMkY2TTMyRzRRTUFKVzU=","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.846946ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWNMH2F6M32G4QMAJW5","secret_key":null,"description":"\"tf_test_api_key_er_project\"","created_at":"2026-01-22T16:25:29.511677Z","updated_at":"2026-01-22T16:25:29.511677Z","expires_at":"2026-01-22T16:35:28Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.172.0.228","application_id":"c81c1d7d-96d9-4e86-ab9e-0a47ecb2e822"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.455107ms
[...]
