---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_annot_delete_lifecycle","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"b6610ca4-6a12-42e5-9d59-92bb5105f615", "name":"tf_test_annot_delete_lifecycle", "description":"", "created_at":"2026-09-02T16:47:40.844963Z", "updated_at":"2026-09-02T16:47:40.844963Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "27"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 69.222784ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 24.093953ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/b6610ca4-6a12-42e5-9d59-92bb5105f615
        method: GET
      response:
        body: '{"id":"b6610ca4-6a12-42e5-9d59-92bb5105f615", "name":"tf_test_annot_delete_lifecycle", "description":"", "created_at":"2026-09-02T16:47:40.844963Z", "updated_at":"2026-09-02T16:47:40.844963Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "22"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.58429ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/keys?organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"keys":[{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier", "description":"Identity key for Terraform-managed resources"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "22"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.526285ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            key_id:
                - 01a0585f-e006-7205-b434-256e25d91aee
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/values?key_id=01a0585f-e006-7205-b434-256e25d91aee&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"values":[{"id":"01a0585f-e12a-72c0-9b9f-6ba2c42334a0", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"my_identity_value", "description":"Identity: my_identity_value"}, {"id":"01a06304-dff1-76cf-ab41-1703677be8d6", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_persist_create", "description":"Identifier: tf_test_annot_persist_create"}, {"id":"01a06300-39e9-7ad4-87ba-7b6f750106f4", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_persist_norecreate", "description":"Identifier: tf_test_annot_persist_norecreate"}, {"id":"01a06300-435a-7647-85dd-bfb9aa298845", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_replace_create", "description":"Identifier: tf_test_annot_replace_create"}, {"id":"01a06304-dfd4-787d-9be7-280a6d48639f", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_replace_replaces", "description":"Identifier: tf_test_annot_replace_replaces"}, {"id":"01a06304-dff1-7577-8ad8-ffb877fd1cbd", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_api_key_with_desc_and_annot", "description":"Identifier: tf_test_api_key_with_desc_and_annot"}], "total_count":6}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.684672ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"b6610ca4-6a12-42e5-9d59-92bb5105f615","expires_at":"2026-09-02T16:57:37Z","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWCTFZJDVQGGWEV9X40", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-09-02T16:47:41.144837Z", "updated_at":"2026-09-02T16:47:41.144837Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"b6610ca4-6a12-42e5-9d59-92bb5105f615"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 123.401492ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a0585f-e006-7205-b434-256e25d91aee","name":"tf_test_annot_delete_lifecycle","description":"Identifier: tf_test_annot_delete_lifecycle"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a06304-e90b-7084-8413-addab41b2837", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_delete_lifecycle", "description":"Identifier: tf_test_annot_delete_lifecycle"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 61.596576ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            value_id:
                - 01a06304-e90b-7084-8413-addab41b2837
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=11111111-1111-1111-1111-111111111111&page=1&value_id=01a06304-e90b-7084-8413-addab41b2837
        method: GET
      response:
        body: '{"bindings":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 56.269288ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWCTFZJDVQGGWEV9X40","value_id":"01a06304-e90b-7084-8413-addab41b2837"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a06304-e982-7f2e-b392-f8387dd8c186", "srn":"srn://iam.scw.eu/api-keys/SCWCTFZJDVQGGWEV9X40", "key":{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier"}, "value":{"id":"01a06304-e90b-7084-8413-addab41b2837", "name":"tf_test_annot_delete_lifecycle"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 58.852672ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWCTFZJDVQGGWEV9X40", "secret_key":null, "description":"", "created_at":"2026-09-02T16:47:41.144837Z", "updated_at":"2026-09-02T16:47:41.144837Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"b6610ca4-6a12-42e5-9d59-92bb5105f615"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.742425ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a06304-e982-7f2e-b392-f8387dd8c186
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 53.349045ms
    - id: 36
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a06304-e90b-7084-8413-addab41b2837
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 52.91306ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCWCTFZJDVQGGWEV9X40","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 40.522095ms
[...]
