---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_with_app","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"c03c77ed-88e3-495d-9c95-4fb9c127c964", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_with_app", "status":"ready", "created_at":"2026-06-10T16:12:40.321984Z", "updated_at":"2026-06-10T16:12:40.321984Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.961095ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_with_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"e0554b35-80e7-4f5a-8645-c55f70c6903d", "name":"tf_test_api_key_er_with_app", "description":"", "created_at":"2026-06-10T16:12:40.333459Z", "updated_at":"2026-06-10T16:12:40.333459Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.251652ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e0554b35-80e7-4f5a-8645-c55f70c6903d
        method: GET
      response:
        body: '{"id":"e0554b35-80e7-4f5a-8645-c55f70c6903d", "name":"tf_test_api_key_er_with_app", "description":"", "created_at":"2026-06-10T16:12:40.333459Z", "updated_at":"2026-06-10T16:12:40.333459Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.619988ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c03c77ed-88e3-495d-9c95-4fb9c127c964
        method: GET
      response:
        body: '{"id":"c03c77ed-88e3-495d-9c95-4fb9c127c964", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_with_app", "status":"ready", "created_at":"2026-06-10T16:12:40.321984Z", "updated_at":"2026-06-10T16:12:40.321984Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.56025ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c03c77ed-88e3-495d-9c95-4fb9c127c964/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.720877ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"e0554b35-80e7-4f5a-8645-c55f70c6903d","expires_at":"2026-06-10T16:22:39Z","description":"\"tf_test_api_key_er_with_app\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWYZD32Z5AF2H6P2HTE", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"\"tf_test_api_key_er_with_app\"", "created_at":"2026-06-10T16:12:40.733890Z", "updated_at":"2026-06-10T16:12:40.733890Z", "expires_at":"2026-06-10T16:22:39Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"e0554b35-80e7-4f5a-8645-c55f70c6903d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.172891ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXWVpEMzJaNUFGMkg2UDJIVEU=","description":"tf_test_api_key_er_with_app"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c03c77ed-88e3-495d-9c95-4fb9c127c964/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"c03c77ed-88e3-495d-9c95-4fb9c127c964", "status":"enabled", "created_at":"2026-06-10T16:12:41.091185Z", "updated_at":"2026-06-10T16:12:41.091185Z", "deleted_at":null, "description":"tf_test_api_key_er_with_app", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.705698ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c03c77ed-88e3-495d-9c95-4fb9c127c964/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"c03c77ed-88e3-495d-9c95-4fb9c127c964", "status":"enabled", "created_at":"2026-06-10T16:12:41.091185Z", "updated_at":"2026-06-10T16:12:41.091185Z", "deleted_at":null, "description":"tf_test_api_key_er_with_app", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.256988ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/c03c77ed-88e3-495d-9c95-4fb9c127c964/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"c03c77ed-88e3-495d-9c95-4fb9c127c964", "revision":1, "data":"U0NXWVpEMzJaNUFGMkg2UDJIVEU=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.550868ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWYZD32Z5AF2H6P2HTE", "secret_key":null, "description":"\"tf_test_api_key_er_with_app\"", "created_at":"2026-06-10T16:12:40.733890Z", "updated_at":"2026-06-10T16:12:40.733890Z", "expires_at":"2026-06-10T16:22:39Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"e0554b35-80e7-4f5a-8645-c55f70c6903d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.011096ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e0554b35-80e7-4f5a-8645-c55f70c6903d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"e0554b35-80e7-4f5a-8645-c55f70c6903d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.110288ms
[...]
