interactions:
    - id: 0
      request:
        body: '{"name":"tf_tests_app_key_secret","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/iam/v1alpha1/applications
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/3ba5117f-9315-4fe4-bdbf-cd6247cd4826","id":"3ba5117f-9315-4fe4-bdbf-cd6247cd4826","name":"tf_tests_app_key_secret","description":"","created_at":"2026-10-07T14:31:58.778182Z","updated_at":"2026-10-07T14:31:58.778182Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        code: 200
        duration: 260.105689ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 1
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/metadata
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        code: 200
        duration: 20.850483ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 2
      request:
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_api_key_secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
      response:
        body: '{"srn":"", "id":"26e91442-480a-40f3-a113-d574e2c34cca", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_api_key_secret", "status":"ready", "created_at":"2026-10-07T14:31:58.817369Z", "updated_at":"2026-10-07T14:31:58.817369Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        code: 200
        duration: 298.841117ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 3
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/iam/v1alpha1/applications/3ba5117f-9315-4fe4-bdbf-cd6247cd4826
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/3ba5117f-9315-4fe4-bdbf-cd6247cd4826","id":"3ba5117f-9315-4fe4-bdbf-cd6247cd4826","name":"tf_tests_app_key_secret","description":"","created_at":"2026-10-07T14:31:58.778182Z","updated_at":"2026-10-07T14:31:58.778182Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        code: 200
        duration: 85.946945ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 4
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26e91442-480a-40f3-a113-d574e2c34cca
      response:
        body: '{"srn":"", "id":"26e91442-480a-40f3-a113-d574e2c34cca", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_api_key_secret", "status":"ready", "created_at":"2026-10-07T14:31:58.817369Z", "updated_at":"2026-10-07T14:31:58.817369Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        code: 200
        duration: 90.380347ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 5
      request:
        form:
            page:
                - "1"
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26e91442-480a-40f3-a113-d574e2c34cca/versions?page=1
      response:
        body: '{"versions":[], "total_count":0}'
        code: 200
        duration: 93.242468ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 6
      request:
        body: '{"application_id":"3ba5117f-9315-4fe4-bdbf-cd6247cd4826","description":"tf_tests_api_key_with_secret"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
      response:
        body: '{"access_key":"SCWXXXXXXXXXXXXXXXXX","application_id":"3ba5117f-9315-4fe4-bdbf-cd6247cd4826","created_at":"2026-10-07T14:31:59.296080Z","creation_ip":"88.178.0.12","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_api_key_with_secret","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","srn":"srn://iam.scw.eu/api-keys/SCWV2SR9W4X5TME8CT77","updated_at":"2026-10-07T14:31:59.296080Z"}'
        code: 200
        duration: 284.58939ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 7
      request:
        body: '{"data":"MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw","description":"tf_tests_api_key_with_secret"}'
        headers:
            Content-Type:
                - application/json
        host: api.scaleway.com
        method: POST
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26e91442-480a-40f3-a113-d574e2c34cca/versions
      response:
        body: '{"srn":"", "revision":1, "secret_id":"26e91442-480a-40f3-a113-d574e2c34cca", "status":"enabled", "created_at":"2026-10-07T14:31:59.685021Z", "updated_at":"2026-10-07T14:31:59.685021Z", "deleted_at":null, "description":"tf_tests_api_key_with_secret", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        code: 200
        duration: 504.445979ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 8
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWV2SR9W4X5TME8CT77", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":null, "description":"tf_tests_api_key_with_secret", "created_at":"2026-10-07T14:31:59.296080Z", "updated_at":"2026-10-07T14:31:59.296080Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"3ba5117f-9315-4fe4-bdbf-cd6247cd4826"}'
        code: 200
        duration: 89.152512ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 9
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26e91442-480a-40f3-a113-d574e2c34cca/versions/latest/access
      response:
        body: '{"data":"MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw","data_crc32":null,"revision":1,"secret_id":"26e91442-480a-40f3-a113-d574e2c34cca","type":"opaque"}'
        code: 200
        duration: 82.085218ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
    - id: 10
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26e91442-480a-40f3-a113-d574e2c34cca/versions/1
      response:
        body: '{"srn":"","revision":1,"secret_id":"26e91442-480a-40f3-a113-d574e2c34cca","status":"enabled","created_at":"2026-10-07T14:31:59.685021Z","updated_at":"2026-10-07T14:31:59.685021Z","deleted_at":null,"description":"tf_tests_api_key_with_secret","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        code: 200
        duration: 96.911205ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
[...]
    - id: 28
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCWXXXXXXXXXXXXXXXXX","type":"not_found"}'
        code: 404
        duration: 34.630806ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
[...]
    - id: 30
      request:
        headers:
        host: api.scaleway.com
        method: GET
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/26e91442-480a-40f3-a113-d574e2c34cca
      response:
        body: '{"srn":"","id":"26e91442-480a-40f3-a113-d574e2c34cca","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_api_key_secret","status":"ready","created_at":"2026-10-07T14:31:58.817369Z","updated_at":"2026-10-07T14:32:02.895625Z","tags":[],"version_count":1,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":"2026-10-07T14:32:02.895625Z","key_id":null,"region":"fr-par"}'
        code: 200
        duration: 43.737347ms
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
version: 2
