---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_annot_replace_replaces","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"5c3319f4-1117-4233-bbdd-17d4ef768d14", "name":"tf_test_annot_replace_replaces", "description":"", "created_at":"2026-09-02T16:47:38.151356Z", "updated_at":"2026-09-02T16:47:38.151356Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 70.78244ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 23.249432ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/5c3319f4-1117-4233-bbdd-17d4ef768d14
        method: GET
      response:
        body: '{"id":"5c3319f4-1117-4233-bbdd-17d4ef768d14", "name":"tf_test_annot_replace_replaces", "description":"", "created_at":"2026-09-02T16:47:38.151356Z", "updated_at":"2026-09-02T16:47:38.151356Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.093865ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/keys?organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"keys":[{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier", "description":"Identity key for Terraform-managed resources"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 250.643368ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            key_id:
                - 01a0585f-e006-7205-b434-256e25d91aee
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/values?key_id=01a0585f-e006-7205-b434-256e25d91aee&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"values":[{"id":"01a0585f-e12a-72c0-9b9f-6ba2c42334a0", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"my_identity_value", "description":"Identity: my_identity_value"}, {"id":"01a06300-39e9-7ad4-87ba-7b6f750106f4", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_persist_norecreate", "description":"Identifier: tf_test_annot_persist_norecreate"}, {"id":"01a06300-435a-7647-85dd-bfb9aa298845", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_replace_create", "description":"Identifier: tf_test_annot_replace_create"}], "total_count":3}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "30"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 57.392597ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"5c3319f4-1117-4233-bbdd-17d4ef768d14","expires_at":"2026-09-02T16:57:37Z","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWQHB6ZAKNWBZC0M6VJ", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-09-02T16:47:38.716666Z", "updated_at":"2026-09-02T16:47:38.716666Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"5c3319f4-1117-4233-bbdd-17d4ef768d14"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 190.484164ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a0585f-e006-7205-b434-256e25d91aee","name":"tf_test_annot_replace_replaces","description":"Identifier: tf_test_annot_replace_replaces"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a06304-dfd4-787d-9be7-280a6d48639f", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_replace_replaces", "description":"Identifier: tf_test_annot_replace_replaces"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "23"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 114.981992ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            value_id:
                - 01a06304-dfd4-787d-9be7-280a6d48639f
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=11111111-1111-1111-1111-111111111111&page=1&value_id=01a06304-dfd4-787d-9be7-280a6d48639f
        method: GET
      response:
        body: '{"bindings":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.47627ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWQHB6ZAKNWBZC0M6VJ","value_id":"01a06304-dfd4-787d-9be7-280a6d48639f"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a06304-e079-72fa-9060-180437ce0d1b", "srn":"srn://iam.scw.eu/api-keys/SCWQHB6ZAKNWBZC0M6VJ", "key":{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier"}, "value":{"id":"01a06304-dfd4-787d-9be7-280a6d48639f", "name":"tf_test_annot_replace_replaces"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.373181ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWQHB6ZAKNWBZC0M6VJ", "secret_key":null, "description":"", "created_at":"2026-09-02T16:47:38.716666Z", "updated_at":"2026-09-02T16:47:38.716666Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"5c3319f4-1117-4233-bbdd-17d4ef768d14"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.903538ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a06304-e079-72fa-9060-180437ce0d1b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 55.840054ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCWDQG2DR3QM0QF526NZ","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 32.483322ms
[...]
    - id: 115
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a06304-dfd4-787d-9be7-280a6d48639f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 54.157552ms
