---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_project","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"1c0de37a-0d09-4806-821b-439808e6b86d", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_project", "status":"ready", "created_at":"2026-06-10T16:12:40.283859Z", "updated_at":"2026-06-10T16:12:40.283859Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.180102ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"7a0d894f-ed4e-4b24-b71e-affa269f7881", "name":"tf_test_api_key_er_project", "description":"", "created_at":"2026-06-10T16:12:40.348855Z", "updated_at":"2026-06-10T16:12:40.348855Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.160448ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c0de37a-0d09-4806-821b-439808e6b86d
        method: GET
      response:
        body: '{"id":"1c0de37a-0d09-4806-821b-439808e6b86d", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_project", "status":"ready", "created_at":"2026-06-10T16:12:40.283859Z", "updated_at":"2026-06-10T16:12:40.283859Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.116463ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c0de37a-0d09-4806-821b-439808e6b86d/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.45087ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7a0d894f-ed4e-4b24-b71e-affa269f7881
        method: GET
      response:
        body: '{"id":"7a0d894f-ed4e-4b24-b71e-affa269f7881", "name":"tf_test_api_key_er_project", "description":"", "created_at":"2026-06-10T16:12:40.348855Z", "updated_at":"2026-06-10T16:12:40.348855Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.439563ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"7a0d894f-ed4e-4b24-b71e-affa269f7881","expires_at":"2026-06-10T16:22:39Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"\"tf_test_api_key_er_project\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWDHNCSHXMYH1D6BPMY", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"\"tf_test_api_key_er_project\"", "created_at":"2026-06-10T16:12:40.681224Z", "updated_at":"2026-06-10T16:12:40.681224Z", "expires_at":"2026-06-10T16:22:39Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"7a0d894f-ed4e-4b24-b71e-affa269f7881"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.374468ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXREhOQ1NIWE1ZSDFENkJQTVk=","description":"tf_test_api_key_er_project"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c0de37a-0d09-4806-821b-439808e6b86d/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"1c0de37a-0d09-4806-821b-439808e6b86d", "status":"enabled", "created_at":"2026-06-10T16:12:40.993913Z", "updated_at":"2026-06-10T16:12:40.993913Z", "deleted_at":null, "description":"tf_test_api_key_er_project", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.888363ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c0de37a-0d09-4806-821b-439808e6b86d/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"1c0de37a-0d09-4806-821b-439808e6b86d", "status":"enabled", "created_at":"2026-06-10T16:12:40.993913Z", "updated_at":"2026-06-10T16:12:40.993913Z", "deleted_at":null, "description":"tf_test_api_key_er_project", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.666987ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/1c0de37a-0d09-4806-821b-439808e6b86d/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"1c0de37a-0d09-4806-821b-439808e6b86d", "revision":1, "data":"U0NXREhOQ1NIWE1ZSDFENkJQTVk=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.462672ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWDHNCSHXMYH1D6BPMY", "secret_key":null, "description":"\"tf_test_api_key_er_project\"", "created_at":"2026-06-10T16:12:40.681224Z", "updated_at":"2026-06-10T16:12:40.681224Z", "expires_at":"2026-06-10T16:22:39Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"7a0d894f-ed4e-4b24-b71e-affa269f7881"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.062187ms
[...]
