---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_with_app","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"d3565385-eaea-4f4e-96c7-8d20df25d59d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_with_app","status":"ready","created_at":"2026-01-22T16:25:05.773389Z","updated_at":"2026-01-22T16:25:05.773389Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.847569ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_with_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"73815652-3267-434e-8054-6748ce571bfb","name":"tf_test_api_key_er_with_app","description":"","created_at":"2026-01-22T16:25:05.818233Z","updated_at":"2026-01-22T16:25:05.818233Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.368278ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3565385-eaea-4f4e-96c7-8d20df25d59d
        method: GET
      response:
        body: '{"id":"d3565385-eaea-4f4e-96c7-8d20df25d59d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_with_app","status":"ready","created_at":"2026-01-22T16:25:05.773389Z","updated_at":"2026-01-22T16:25:05.773389Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.396469ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3565385-eaea-4f4e-96c7-8d20df25d59d/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.410427ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/73815652-3267-434e-8054-6748ce571bfb
        method: GET
      response:
        body: '{"id":"73815652-3267-434e-8054-6748ce571bfb","name":"tf_test_api_key_er_with_app","description":"","created_at":"2026-01-22T16:25:05.818233Z","updated_at":"2026-01-22T16:25:05.818233Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.485591ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"73815652-3267-434e-8054-6748ce571bfb","expires_at":"2026-01-22T16:35:05Z","description":"\"tf_test_api_key_er_with_app\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWHZ8P9TM4XMF7FBWWY","secret_key":"11111111-1111-1111-1111-111111111111","description":"\"tf_test_api_key_er_with_app\"","created_at":"2026-01-22T16:25:06.263433Z","updated_at":"2026-01-22T16:25:06.263433Z","expires_at":"2026-01-22T16:35:05Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.172.0.228","application_id":"73815652-3267-434e-8054-6748ce571bfb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.64496ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXSFo4UDlUTTRYTUY3RkJXV1k=","description":"tf_test_api_key_er_with_app"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3565385-eaea-4f4e-96c7-8d20df25d59d/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"d3565385-eaea-4f4e-96c7-8d20df25d59d","status":"enabled","created_at":"2026-01-22T16:25:06.759357Z","updated_at":"2026-01-22T16:25:06.759357Z","deleted_at":null,"description":"tf_test_api_key_er_with_app","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.267558ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3565385-eaea-4f4e-96c7-8d20df25d59d/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"d3565385-eaea-4f4e-96c7-8d20df25d59d","status":"enabled","created_at":"2026-01-22T16:25:06.759357Z","updated_at":"2026-01-22T16:25:06.759357Z","deleted_at":null,"description":"tf_test_api_key_er_with_app","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.788162ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/d3565385-eaea-4f4e-96c7-8d20df25d59d/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"d3565385-eaea-4f4e-96c7-8d20df25d59d","revision":1,"data":"U0NXSFo4UDlUTTRYTUY3RkJXV1k=","data_crc32":null,"type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.95906ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWHZ8P9TM4XMF7FBWWY","secret_key":null,"description":"\"tf_test_api_key_er_with_app\"","created_at":"2026-01-22T16:25:06.263433Z","updated_at":"2026-01-22T16:25:06.263433Z","expires_at":"2026-01-22T16:35:05Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.172.0.228","application_id":"73815652-3267-434e-8054-6748ce571bfb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.804926ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/73815652-3267-434e-8054-6748ce571bfb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"73815652-3267-434e-8054-6748ce571bfb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.503839ms
[...]
