---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_api_key_with_app\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"0bdab53f-9852-4ced-bacd-b8c9fb84809c\",\"name\":\"tf_tests_api_key_with_app\",\"description\":\"\",\"created_at\":\"2025-09-23T14:01:34.646208Z\",\"updated_at\":\"2025-09-23T14:01:34.646208Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 219.968528ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/0bdab53f-9852-4ced-bacd-b8c9fb84809c
    method: GET
  response:
    body: "{\"id\":\"0bdab53f-9852-4ced-bacd-b8c9fb84809c\",\"name\":\"tf_tests_api_key_with_app\",\"description\":\"\",\"created_at\":\"2025-09-23T14:01:34.646208Z\",\"updated_at\":\"2025-09-23T14:01:34.646208Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 710.154747ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"0bdab53f-9852-4ced-bacd-b8c9fb84809c\",\"description\":\"tf_tests_with_application\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW20TGP3XN2HCW9DZT3\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-23T14:01:35.608421Z\",\"updated_at\":\"2025-09-23T14:01:35.608421Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"0bdab53f-9852-4ced-bacd-b8c9fb84809c\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 460.106201ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW20TGP3XN2HCW9DZT3\",\"secret_key\":null,\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-23T14:01:35.608421Z\",\"updated_at\":\"2025-09-23T14:01:35.608421Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"0bdab53f-9852-4ced-bacd-b8c9fb84809c\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 142.120754ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCW20TGP3XN2HCW9DZT3\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.726344ms
[...]
