---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_project","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"0b59b489-6bdd-4cdc-8b7a-6072fd6966cc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_project", "status":"ready", "created_at":"2026-01-16T13:33:47.949309Z", "updated_at":"2026-01-16T13:33:47.949309Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.813933ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"d44b27c9-77aa-4348-b8ec-183b1c99ece8", "name":"tf_test_api_key_er_project", "description":"", "created_at":"2026-01-16T13:33:47.995045Z", "updated_at":"2026-01-16T13:33:47.995045Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.685778ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0b59b489-6bdd-4cdc-8b7a-6072fd6966cc
        method: GET
      response:
        body: '{"id":"0b59b489-6bdd-4cdc-8b7a-6072fd6966cc", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_project", "status":"ready", "created_at":"2026-01-16T13:33:47.949309Z", "updated_at":"2026-01-16T13:33:47.949309Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.565885ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0b59b489-6bdd-4cdc-8b7a-6072fd6966cc/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.348416ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d44b27c9-77aa-4348-b8ec-183b1c99ece8
        method: GET
      response:
        body: '{"id":"d44b27c9-77aa-4348-b8ec-183b1c99ece8", "name":"tf_test_api_key_er_project", "description":"", "created_at":"2026-01-16T13:33:47.995045Z", "updated_at":"2026-01-16T13:33:47.995045Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.235576ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"d44b27c9-77aa-4348-b8ec-183b1c99ece8","expires_at":"2026-01-16T13:43:46Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"\"tf_test_api_key_er_project\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWSJM7SR9W9R15H4J93", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"\"tf_test_api_key_er_project\"", "created_at":"2026-01-16T13:33:48.498772Z", "updated_at":"2026-01-16T13:33:48.498772Z", "expires_at":"2026-01-16T13:43:46Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.172.0.228", "application_id":"d44b27c9-77aa-4348-b8ec-183b1c99ece8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.406318ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXU0pNN1NSOVc5UjE1SDRKOTM=","description":"tf_test_api_key_er_project"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0b59b489-6bdd-4cdc-8b7a-6072fd6966cc/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"0b59b489-6bdd-4cdc-8b7a-6072fd6966cc", "status":"enabled", "created_at":"2026-01-16T13:33:48.952718Z", "updated_at":"2026-01-16T13:33:48.952718Z", "deleted_at":null, "description":"tf_test_api_key_er_project", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 451.505765ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0b59b489-6bdd-4cdc-8b7a-6072fd6966cc/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"0b59b489-6bdd-4cdc-8b7a-6072fd6966cc", "status":"enabled", "created_at":"2026-01-16T13:33:48.952718Z", "updated_at":"2026-01-16T13:33:48.952718Z", "deleted_at":null, "description":"tf_test_api_key_er_project", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.768863ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/0b59b489-6bdd-4cdc-8b7a-6072fd6966cc/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"0b59b489-6bdd-4cdc-8b7a-6072fd6966cc", "revision":1, "data":"U0NXU0pNN1NSOVc5UjE1SDRKOTM=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.171603ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWSJM7SR9W9R15H4J93", "secret_key":null, "description":"\"tf_test_api_key_er_project\"", "created_at":"2026-01-16T13:33:48.498772Z", "updated_at":"2026-01-16T13:33:48.498772Z", "expires_at":"2026-01-16T13:43:46Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.172.0.228", "application_id":"d44b27c9-77aa-4348-b8ec-183b1c99ece8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.305581ms
[...]
