---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_api_key_app_change2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"5eeb7338-662b-45f1-97a3-e34055634995\", \"name\":\"tf_tests_api_key_app_change2\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:43.883352Z\", \"updated_at\":\"2025-11-17T17:10:43.883352Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 130.482131ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/5eeb7338-662b-45f1-97a3-e34055634995
    method: GET
  response:
    body: "{\"id\":\"5eeb7338-662b-45f1-97a3-e34055634995\", \"name\":\"tf_tests_api_key_app_change2\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:43.883352Z\", \"updated_at\":\"2025-11-17T17:10:43.883352Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 42.211263ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"b3530e1c-42e5-4e27-8275-5ecfc9dde87e\",\"description\":\"tf_tests_with_application_change\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWHHES1Z8KZKYE67W4A\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"tf_tests_with_application_change\", \"created_at\":\"2025-11-17T17:10:44.308614Z\", \"updated_at\":\"2025-11-17T17:10:44.308614Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"b3530e1c-42e5-4e27-8275-5ecfc9dde87e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 333.074529ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCWHHES1Z8KZKYE67W4A\", \"secret_key\":null, \"description\":\"tf_tests_with_application_change\", \"created_at\":\"2025-11-17T17:10:44.308614Z\", \"updated_at\":\"2025-11-17T17:10:44.308614Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"b3530e1c-42e5-4e27-8275-5ecfc9dde87e\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 212.5894ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCW0BMQ92YS4RAVJV5KB\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 62.316239ms
[...]
