---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_desc_identifier_reuse_unique","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"1e93cf4d-335c-4be9-81ee-a486d9af61d6", "name":"tf_test_desc_identifier_reuse_unique", "description":"", "created_at":"2026-09-02T16:47:40.681326Z", "updated_at":"2026-09-02T16:47:40.681326Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 74.599825ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "31"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 24.767984ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/1e93cf4d-335c-4be9-81ee-a486d9af61d6
        method: GET
      response:
        body: '{"id":"1e93cf4d-335c-4be9-81ee-a486d9af61d6", "name":"tf_test_desc_identifier_reuse_unique", "description":"", "created_at":"2026-09-02T16:47:40.681326Z", "updated_at":"2026-09-02T16:47:40.681326Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.401101ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            description:
                - tf_test_desc_identifier_reuse_unique
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&description=tf_test_desc_identifier_reuse_unique&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "28"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 84.566465ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"1e93cf4d-335c-4be9-81ee-a486d9af61d6","expires_at":"2026-09-02T16:57:37Z","description":"tf_test_desc_identifier_reuse_unique"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWRMCKN1GXWVGCCMHPX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_desc_identifier_reuse_unique", "created_at":"2026-09-02T16:47:40.978078Z", "updated_at":"2026-09-02T16:47:40.978078Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"1e93cf4d-335c-4be9-81ee-a486d9af61d6"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "26"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 125.510156ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/1e93cf4d-335c-4be9-81ee-a486d9af61d6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"1e93cf4d-335c-4be9-81ee-a486d9af61d6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 36.703649ms
