---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_delete_false","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/7ef69e5d-5399-48fb-880c-8ffaf3b6160e","id":"7ef69e5d-5399-48fb-880c-8ffaf3b6160e","name":"tf_test_api_key_er_delete_false","description":"","created_at":"2026-10-09T13:16:35.722194Z","updated_at":"2026-10-09T13:16:35.722194Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 269.317685ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 18.425303ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7ef69e5d-5399-48fb-880c-8ffaf3b6160e
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/7ef69e5d-5399-48fb-880c-8ffaf3b6160e","id":"7ef69e5d-5399-48fb-880c-8ffaf3b6160e","name":"tf_test_api_key_er_delete_false","description":"","created_at":"2026-10-09T13:16:35.722194Z","updated_at":"2026-10-09T13:16:35.722194Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.256458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"7ef69e5d-5399-48fb-880c-8ffaf3b6160e","expires_at":"2026-10-09T13:26:35Z","description":"tf_test_api_key_er_delete_false"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWM3BQ1YVDZMZP7XRSN","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":"11111111-1111-1111-1111-111111111111","description":"tf_test_api_key_er_delete_false","created_at":"2026-10-09T13:16:36.169887Z","updated_at":"2026-10-09T13:16:36.169887Z","expires_at":"2026-10-09T13:26:35Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"7ef69e5d-5399-48fb-880c-8ffaf3b6160e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 506.746309ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWM3BQ1YVDZMZP7XRSN","access_key":"SCWXXXXXXXXXXXXXXXXX","secret_key":null,"description":"tf_test_api_key_er_delete_false","created_at":"2026-10-09T13:16:36.169887Z","updated_at":"2026-10-09T13:16:36.169887Z","expires_at":"2026-10-09T13:26:35Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"creation_ip":"88.178.0.12","application_id":"7ef69e5d-5399-48fb-880c-8ffaf3b6160e"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 108.997207ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7ef69e5d-5399-48fb-880c-8ffaf3b6160e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"7ef69e5d-5399-48fb-880c-8ffaf3b6160e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 31.382656ms
