---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"f137f8d3-8dbc-40b4-9e6c-0bb40a9f3c47", "name":"tf_tests_app_key_basic", "description":"", "created_at":"2026-08-24T14:00:31.091409Z", "updated_at":"2026-08-24T14:00:31.091409Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.827419ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.110641ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f137f8d3-8dbc-40b4-9e6c-0bb40a9f3c47
        method: GET
      response:
        body: '{"id":"f137f8d3-8dbc-40b4-9e6c-0bb40a9f3c47", "name":"tf_tests_app_key_basic", "description":"", "created_at":"2026-08-24T14:00:31.091409Z", "updated_at":"2026-08-24T14:00:31.091409Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.318828ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"f137f8d3-8dbc-40b4-9e6c-0bb40a9f3c47","description":"tf_tests_with_application"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWZSJVC7W09819HFSFV", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_with_application", "created_at":"2026-08-24T14:00:31.671120Z", "updated_at":"2026-08-24T14:00:31.671120Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"f137f8d3-8dbc-40b4-9e6c-0bb40a9f3c47"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 450.628284ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWZSJVC7W09819HFSFV", "secret_key":null, "description":"tf_tests_with_application", "created_at":"2026-08-24T14:00:31.671120Z", "updated_at":"2026-08-24T14:00:31.671120Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"f137f8d3-8dbc-40b4-9e6c-0bb40a9f3c47"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.202957ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCWZSJVC7W09819HFSFV","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.751064ms
[...]
