---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_annot_replace_create","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"e4227bfd-4a5c-496e-be79-44aabef58bfc", "name":"tf_test_annot_replace_create", "description":"", "created_at":"2026-09-02T17:01:29.965083Z", "updated_at":"2026-09-02T17:01:29.965083Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 128.528961ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 25.087901ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e4227bfd-4a5c-496e-be79-44aabef58bfc
        method: GET
      response:
        body: '{"id":"e4227bfd-4a5c-496e-be79-44aabef58bfc", "name":"tf_test_annot_replace_create", "description":"", "created_at":"2026-09-02T17:01:29.965083Z", "updated_at":"2026-09-02T17:01:29.965083Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.026343ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/keys?organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"keys":[{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier", "description":"Identity key for Terraform-managed resources"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.597125ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            key_id:
                - 01a0585f-e006-7205-b434-256e25d91aee
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/values?key_id=01a0585f-e006-7205-b434-256e25d91aee&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"values":[{"id":"01a0585f-e12a-72c0-9b9f-6ba2c42334a0", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"my_identity_value", "description":"Identity: my_identity_value"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.955528ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"e4227bfd-4a5c-496e-be79-44aabef58bfc","expires_at":"2026-09-02T17:11:29Z","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWNBWE2AV0TTDC8KBRD", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-09-02T17:01:30.276470Z", "updated_at":"2026-09-02T17:01:30.276470Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"e4227bfd-4a5c-496e-be79-44aabef58bfc"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 122.834116ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"key_id":"01a0585f-e006-7205-b434-256e25d91aee","name":"tf_test_annot_replace_create","description":"Identifier: tf_test_annot_replace_create"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/values
        method: POST
      response:
        body: '{"id":"01a06311-8fd0-7c47-978d-c03213a96c62", "key_id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"tf_test_annot_replace_create", "description":"Identifier: tf_test_annot_replace_create"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "28"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 67.7311ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            value_id:
                - 01a06311-8fd0-7c47-978d-c03213a96c62
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings?organization_id=11111111-1111-1111-1111-111111111111&page=1&value_id=01a06311-8fd0-7c47-978d-c03213a96c62
        method: GET
      response:
        body: '{"bindings":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "26"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 55.106904ms
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWNBWE2AV0TTDC8KBRD","value_id":"01a06311-8fd0-7c47-978d-c03213a96c62"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/annotations/v1/bindings
        method: POST
      response:
        body: '{"id":"01a06311-904f-723f-bb39-902c6cccd297", "srn":"srn://iam.scw.eu/api-keys/SCWNBWE2AV0TTDC8KBRD", "key":{"id":"01a0585f-e006-7205-b434-256e25d91aee", "name":"iam_terraform_identifier"}, "value":{"id":"01a06311-8fd0-7c47-978d-c03213a96c62", "name":"tf_test_annot_replace_create"}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "24"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 69.461009ms
    - id: 11
      request:
        host: api.scaleway.com
        form:
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/annotations/v1/keys?organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"message":"Internal Error"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "20"
            X-Ratelimit-Reset:
                - "1"
        status: 429 Too Many Requests
        code: 429
        duration: 53.301233ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWNBWE2AV0TTDC8KBRD", "secret_key":null, "description":"", "created_at":"2026-09-02T17:01:30.276470Z", "updated_at":"2026-09-02T17:01:30.276470Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"e4227bfd-4a5c-496e-be79-44aabef58bfc"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.42176ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/bindings/01a06311-904f-723f-bb39-902c6cccd297
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 57.377288ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e4227bfd-4a5c-496e-be79-44aabef58bfc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"e4227bfd-4a5c-496e-be79-44aabef58bfc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 38.984709ms
[...]
    - id: 67
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/annotations/v1/values/01a06311-8fd0-7c47-978d-c03213a96c62
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 52.749858ms
