---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_desc_identifier_create_unique","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"07135b16-f1f4-451d-971b-567a15def1b5", "name":"tf_test_desc_identifier_create_unique", "description":"", "created_at":"2026-09-02T17:01:29.966064Z", "updated_at":"2026-09-02T17:01:29.966064Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 162.698516ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 25.446425ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/07135b16-f1f4-451d-971b-567a15def1b5
        method: GET
      response:
        body: '{"id":"07135b16-f1f4-451d-971b-567a15def1b5", "name":"tf_test_desc_identifier_create_unique", "description":"", "created_at":"2026-09-02T17:01:29.966064Z", "updated_at":"2026-09-02T17:01:29.966064Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 54.610692ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            description:
                - tf_test_desc_identifier_create_unique
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&description=tf_test_desc_identifier_create_unique&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 77.753831ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"07135b16-f1f4-451d-971b-567a15def1b5","expires_at":"2026-09-02T17:11:29Z","description":"tf_test_desc_identifier_create_unique"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWAK52R4MN4276CNEVG", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_desc_identifier_create_unique", "created_at":"2026-09-02T17:01:30.238343Z", "updated_at":"2026-09-02T17:01:30.238343Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"07135b16-f1f4-451d-971b-567a15def1b5"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 113.581882ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/07135b16-f1f4-451d-971b-567a15def1b5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"07135b16-f1f4-451d-971b-567a15def1b5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 29.729248ms
