---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_expires_at","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"f46e8a03-bd28-404d-b32e-de49bf92e066", "name":"tf_tests_app_expires_at", "description":"", "created_at":"2026-06-10T16:12:40.315422Z", "updated_at":"2026-06-10T16:12:40.315422Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.337239ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f46e8a03-bd28-404d-b32e-de49bf92e066
        method: GET
      response:
        body: '{"id":"f46e8a03-bd28-404d-b32e-de49bf92e066", "name":"tf_tests_app_expires_at", "description":"", "created_at":"2026-06-10T16:12:40.315422Z", "updated_at":"2026-06-10T16:12:40.315422Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.367538ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"f46e8a03-bd28-404d-b32e-de49bf92e066","expires_at":"2035-07-06T11:00:00+02:00","description":"tf_tests_expires"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWVVH9TE299J4XZE91E", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_expires", "created_at":"2026-06-10T16:12:40.674053Z", "updated_at":"2026-06-10T16:12:40.674053Z", "expires_at":"2035-07-06T09:00:00Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"f46e8a03-bd28-404d-b32e-de49bf92e066"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.587968ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWVVH9TE299J4XZE91E", "secret_key":null, "description":"tf_tests_expires", "created_at":"2026-06-10T16:12:40.674053Z", "updated_at":"2026-06-10T16:12:40.674053Z", "expires_at":"2035-07-06T09:00:00Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"f46e8a03-bd28-404d-b32e-de49bf92e066"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.403632ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWVVH9TE299J4XZE91E","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.468267ms
[...]
