---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_api_key_app_change","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"e5414261-ba9d-4745-848e-e254442f76df", "name":"tf_tests_api_key_app_change", "description":"", "created_at":"2026-06-10T16:12:40.317378Z", "updated_at":"2026-06-10T16:12:40.317378Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.762823ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e5414261-ba9d-4745-848e-e254442f76df
        method: GET
      response:
        body: '{"id":"e5414261-ba9d-4745-848e-e254442f76df", "name":"tf_tests_api_key_app_change", "description":"", "created_at":"2026-06-10T16:12:40.317378Z", "updated_at":"2026-06-10T16:12:40.317378Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.275523ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"e5414261-ba9d-4745-848e-e254442f76df","description":"tf_tests_with_application_change"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW49EX6AJS9NSFVGKQR", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_with_application_change", "created_at":"2026-06-10T16:12:40.676129Z", "updated_at":"2026-06-10T16:12:40.676129Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"e5414261-ba9d-4745-848e-e254442f76df"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.704925ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW49EX6AJS9NSFVGKQR", "secret_key":null, "description":"tf_tests_with_application_change", "created_at":"2026-06-10T16:12:40.676129Z", "updated_at":"2026-06-10T16:12:40.676129Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"e5414261-ba9d-4745-848e-e254442f76df"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.43345ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWY378CC60WW05HK7Q7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.548684ms
[...]
