---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_api_key_app_change\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"b30f5e49-33e5-44d7-8ae7-2c4e08dc630d\", \"name\":\"tf_tests_api_key_app_change\", \"description\":\"\", \"created_at\":\"2025-11-24T14:20:56.181957Z\", \"updated_at\":\"2025-11-24T14:20:56.181957Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 326.026438ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b30f5e49-33e5-44d7-8ae7-2c4e08dc630d
    method: GET
  response:
    body: "{\"id\":\"b30f5e49-33e5-44d7-8ae7-2c4e08dc630d\", \"name\":\"tf_tests_api_key_app_change\", \"description\":\"\", \"created_at\":\"2025-11-24T14:20:56.181957Z\", \"updated_at\":\"2025-11-24T14:20:56.181957Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 185.352543ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"b30f5e49-33e5-44d7-8ae7-2c4e08dc630d\",\"description\":\"tf_tests_with_application_change\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWMTRW1YY7SZBTEBEHA\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"tf_tests_with_application_change\", \"created_at\":\"2025-11-24T14:20:56.635534Z\", \"updated_at\":\"2025-11-24T14:20:56.635534Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.73.9\", \"application_id\":\"b30f5e49-33e5-44d7-8ae7-2c4e08dc630d\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 269.592776ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCWMTRW1YY7SZBTEBEHA\", \"secret_key\":null, \"description\":\"tf_tests_with_application_change\", \"created_at\":\"2025-11-24T14:20:56.635534Z\", \"updated_at\":\"2025-11-24T14:20:56.635534Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.73.9\", \"application_id\":\"b30f5e49-33e5-44d7-8ae7-2c4e08dc630d\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 300.387139ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCW03JNQ045ZPHJ8R5JF\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 33.618211ms
[...]
