---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:33:11.184073Z","deletable":true,"description":"","editable":true,"id":"b092820e-b74a-490b-8df6-79da1e470153","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:11.184073Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 610.641875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/b092820e-b74a-490b-8df6-79da1e470153
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:33:11.184073Z","deletable":true,"description":"","editable":true,"id":"b092820e-b74a-490b-8df6-79da1e470153","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:11.184073Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.952ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"b092820e-b74a-490b-8df6-79da1e470153","description":"tf_tests_with_application"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWT20PX4ZM5YWG85W2W","application_id":"b092820e-b74a-490b-8df6-79da1e470153","created_at":"2025-01-22T15:33:11.973462Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:11.973462Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.009209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT20PX4ZM5YWG85W2W
        method: GET
      response:
        body: '{"access_key":"SCWT20PX4ZM5YWG85W2W","application_id":"b092820e-b74a-490b-8df6-79da1e470153","created_at":"2025-01-22T15:33:11.973462Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:33:11.973462Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.228541ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT20PX4ZM5YWG85W2W
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWT20PX4ZM5YWG85W2W","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 118.429875ms
[...]
