---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_expires_at\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"9e8f3caa-022a-4eab-90d7-982697d9fe05\",\"name\":\"tf_tests_app_expires_at\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:49.590032Z\",\"updated_at\":\"2025-09-05T12:00:49.590032Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 319.253063ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9e8f3caa-022a-4eab-90d7-982697d9fe05
    method: GET
  response:
    body: "{\"id\":\"9e8f3caa-022a-4eab-90d7-982697d9fe05\",\"name\":\"tf_tests_app_expires_at\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:49.590032Z\",\"updated_at\":\"2025-09-05T12:00:49.590032Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 185.930446ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"9e8f3caa-022a-4eab-90d7-982697d9fe05\",\"expires_at\":\"2025-09-20T11:22:00Z\",\"description\":\"tf_tests_expires\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWMGHR46MKEJG6QC7ND\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_expires\",\"created_at\":\"2025-09-05T12:00:50.099915Z\",\"updated_at\":\"2025-09-05T12:00:50.099915Z\",\"expires_at\":\"2025-09-20T11:22:00Z\",\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"9e8f3caa-022a-4eab-90d7-982697d9fe05\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 232.385353ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWMGHR46MKEJG6QC7ND
    method: GET
  response:
    body: "{\"access_key\":\"SCWMGHR46MKEJG6QC7ND\",\"secret_key\":null,\"description\":\"tf_tests_expires\",\"created_at\":\"2025-09-05T12:00:50.099915Z\",\"updated_at\":\"2025-09-05T12:00:50.099915Z\",\"expires_at\":\"2025-09-20T11:22:00Z\",\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"9e8f3caa-022a-4eab-90d7-982697d9fe05\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 220.939605ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWMGHR46MKEJG6QC7ND
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWMGHR46MKEJG6QC7ND\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.465766ms
[...]
