---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_key_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"f3c1eb4e-754b-4bf1-b620-5c05219bba77\", \"name\":\"tf_tests_app_key_noupdate\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.476097Z\", \"updated_at\":\"2025-11-17T17:10:30.476097Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 199.998475ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/f3c1eb4e-754b-4bf1-b620-5c05219bba77
    method: GET
  response:
    body: "{\"id\":\"f3c1eb4e-754b-4bf1-b620-5c05219bba77\", \"name\":\"tf_tests_app_key_noupdate\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.476097Z\", \"updated_at\":\"2025-11-17T17:10:30.476097Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 206.930539ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"f3c1eb4e-754b-4bf1-b620-5c05219bba77\",\"description\":\"tf_tests_no_update\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWGHDDYJKT62CPNNKCT\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"tf_tests_no_update\", \"created_at\":\"2025-11-17T17:10:30.935346Z\", \"updated_at\":\"2025-11-17T17:10:30.935346Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"f3c1eb4e-754b-4bf1-b620-5c05219bba77\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 265.752441ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCWGHDDYJKT62CPNNKCT\", \"secret_key\":null, \"description\":\"tf_tests_no_update\", \"created_at\":\"2025-11-17T17:10:30.935346Z\", \"updated_at\":\"2025-11-17T17:10:30.935346Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"f3c1eb4e-754b-4bf1-b620-5c05219bba77\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 186.527615ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWGHDDYJKT62CPNNKCT\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 63.799218ms
