---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_with_app_desc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"32d63340-ae4c-4a8f-b96c-49e7778ef68b", "name":"tf_test_api_key_er_with_app_desc", "description":"", "created_at":"2026-09-02T16:47:38.005378Z", "updated_at":"2026-09-02T16:47:38.005378Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 208.279488ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 22.47346ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/32d63340-ae4c-4a8f-b96c-49e7778ef68b
        method: GET
      response:
        body: '{"id":"32d63340-ae4c-4a8f-b96c-49e7778ef68b", "name":"tf_test_api_key_er_with_app_desc", "description":"", "created_at":"2026-09-02T16:47:38.005378Z", "updated_at":"2026-09-02T16:47:38.005378Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 101.627325ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"32d63340-ae4c-4a8f-b96c-49e7778ef68b","expires_at":"2026-09-02T16:57:37Z","description":"tf_test_api_key_er_with_app_desc"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW30H1TQEFXSAV5HNZR", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_api_key_er_with_app_desc", "created_at":"2026-09-02T16:47:38.310491Z", "updated_at":"2026-09-02T16:47:38.310491Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"32d63340-ae4c-4a8f-b96c-49e7778ef68b"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 175.753632ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/32d63340-ae4c-4a8f-b96c-49e7778ef68b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"32d63340-ae4c-4a8f-b96c-49e7778ef68b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 35.560158ms
