---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_key_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"4403e5c1-26d4-46a0-8682-3614ea7c4e1f\", \"name\":\"tf_tests_app_key_basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:43.973908Z\", \"updated_at\":\"2025-11-17T17:10:43.973908Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 222.496122ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/4403e5c1-26d4-46a0-8682-3614ea7c4e1f
    method: GET
  response:
    body: "{\"id\":\"4403e5c1-26d4-46a0-8682-3614ea7c4e1f\", \"name\":\"tf_tests_app_key_basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:43.973908Z\", \"updated_at\":\"2025-11-17T17:10:43.973908Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 107.073955ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"4403e5c1-26d4-46a0-8682-3614ea7c4e1f\",\"description\":\"tf_tests_with_application\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWBA8QJR93XCH7XWMM0\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"tf_tests_with_application\", \"created_at\":\"2025-11-17T17:10:44.275045Z\", \"updated_at\":\"2025-11-17T17:10:44.275045Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"4403e5c1-26d4-46a0-8682-3614ea7c4e1f\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 217.466979ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCWBA8QJR93XCH7XWMM0\", \"secret_key\":null, \"description\":\"tf_tests_with_application\", \"created_at\":\"2025-11-17T17:10:44.275045Z\", \"updated_at\":\"2025-11-17T17:10:44.275045Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"4403e5c1-26d4-46a0-8682-3614ea7c4e1f\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.602565ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWBA8QJR93XCH7XWMM0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 78.518006ms
[...]
