---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_expires_at","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:59:51.906856Z","deletable":true,"description":"","editable":true,"id":"f1b50522-04f8-4b64-88b2-f0ae213a2707","managed":false,"name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T14:59:51.906856Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.043167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f1b50522-04f8-4b64-88b2-f0ae213a2707
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:59:51.906856Z","deletable":true,"description":"","editable":true,"id":"f1b50522-04f8-4b64-88b2-f0ae213a2707","managed":false,"name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T14:59:51.906856Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.226125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"f1b50522-04f8-4b64-88b2-f0ae213a2707","expires_at":"2025-07-06T11:00:00+02:00","description":"tf_tests_expires"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW2TN3R2287X1EEQ9Y9","application_id":"f1b50522-04f8-4b64-88b2-f0ae213a2707","created_at":"2025-05-22T14:59:52.054992Z","creation_ip":"130.180.219.188","default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","deletable":true,"description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-05-22T14:59:52.054992Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.551125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW2TN3R2287X1EEQ9Y9
        method: GET
      response:
        body: '{"access_key":"SCW2TN3R2287X1EEQ9Y9","application_id":"f1b50522-04f8-4b64-88b2-f0ae213a2707","created_at":"2025-05-22T14:59:52.054992Z","creation_ip":"130.180.219.188","default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","deletable":true,"description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-05-22T14:59:52.054992Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.035666ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW2TN3R2287X1EEQ9Y9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW2TN3R2287X1EEQ9Y9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.917667ms
[...]
