---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_api_key_app_change2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"efd7562b-0043-483e-a880-acfaf8b84fc0\",\"name\":\"tf_tests_api_key_app_change2\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:47.039253Z\",\"updated_at\":\"2025-09-05T12:00:47.039253Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.440154ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/efd7562b-0043-483e-a880-acfaf8b84fc0
    method: GET
  response:
    body: "{\"id\":\"efd7562b-0043-483e-a880-acfaf8b84fc0\",\"name\":\"tf_tests_api_key_app_change2\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:47.039253Z\",\"updated_at\":\"2025-09-05T12:00:47.039253Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.934679ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"1466fb61-9fcd-4065-abeb-8a4237e45455\",\"description\":\"tf_tests_with_application_change\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWH3B0CX9A52H0443MB\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_with_application_change\",\"created_at\":\"2025-09-05T12:00:47.607458Z\",\"updated_at\":\"2025-09-05T12:00:47.607458Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"1466fb61-9fcd-4065-abeb-8a4237e45455\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 258.274475ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWH3B0CX9A52H0443MB
    method: GET
  response:
    body: "{\"access_key\":\"SCWH3B0CX9A52H0443MB\",\"secret_key\":null,\"description\":\"tf_tests_with_application_change\",\"created_at\":\"2025-09-05T12:00:47.607458Z\",\"updated_at\":\"2025-09-05T12:00:47.607458Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"1466fb61-9fcd-4065-abeb-8a4237e45455\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 206.250252ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWW0J2W28HS2MEZHXC9
    method: GET
  response:
    body: "{\"access_key\":\"SCWW0J2W28HS2MEZHXC9\",\"secret_key\":null,\"description\":\"tf_tests_with_application_change\",\"created_at\":\"2025-09-05T12:00:52.821964Z\",\"updated_at\":\"2025-09-05T12:00:52.821964Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"efd7562b-0043-483e-a880-acfaf8b84fc0\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 132.858504ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWW0J2W28HS2MEZHXC9
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWW0J2W28HS2MEZHXC9\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 45.298854ms
[...]
