---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_expires_at\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"904ad32d-3fa3-47ac-8693-a294650c2cfc\",\"name\":\"tf_tests_app_expires_at\",\"description\":\"\",\"created_at\":\"2025-09-23T14:08:57.797858Z\",\"updated_at\":\"2025-09-23T14:08:57.797858Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 779.621699ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/904ad32d-3fa3-47ac-8693-a294650c2cfc
    method: GET
  response:
    body: "{\"id\":\"904ad32d-3fa3-47ac-8693-a294650c2cfc\",\"name\":\"tf_tests_app_expires_at\",\"description\":\"\",\"created_at\":\"2025-09-23T14:08:57.797858Z\",\"updated_at\":\"2025-09-23T14:08:57.797858Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 543.373606ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"904ad32d-3fa3-47ac-8693-a294650c2cfc\",\"expires_at\":\"2025-09-30T11:22:00Z\",\"description\":\"tf_tests_expires\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW5X6RBNV81P220Z20A\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_expires\",\"created_at\":\"2025-09-23T14:08:59.117596Z\",\"updated_at\":\"2025-09-23T14:08:59.117596Z\",\"expires_at\":\"2025-09-30T11:22:00Z\",\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"904ad32d-3fa3-47ac-8693-a294650c2cfc\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 986.504358ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW5X6RBNV81P220Z20A\",\"secret_key\":null,\"description\":\"tf_tests_expires\",\"created_at\":\"2025-09-23T14:08:59.117596Z\",\"updated_at\":\"2025-09-23T14:08:59.117596Z\",\"expires_at\":\"2025-09-30T11:22:00Z\",\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"904ad32d-3fa3-47ac-8693-a294650c2cfc\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 608.70224ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCW5X6RBNV81P220Z20A\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 25.224383ms
[...]
