---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_expires_at","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-06-05T14:26:35.650281Z","description":"","editable":true,"id":"39378c45-cd26-44f3-a0e7-620c8a7e75f2","name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-06-05T14:26:35.650281Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.180601ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/39378c45-cd26-44f3-a0e7-620c8a7e75f2
        method: GET
      response:
        body: '{"created_at":"2024-06-05T14:26:35.650281Z","description":"","editable":true,"id":"39378c45-cd26-44f3-a0e7-620c8a7e75f2","name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-06-05T14:26:35.650281Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.862597ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"39378c45-cd26-44f3-a0e7-620c8a7e75f2","expires_at":"2025-07-06T11:00:00+02:00","description":"tf_tests_expires"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWT9AHSG9R1S4DWZWHY","application_id":"39378c45-cd26-44f3-a0e7-620c8a7e75f2","created_at":"2024-06-05T14:26:35.952811Z","creation_ip":"51.159.73.145","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-06-05T14:26:35.952811Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.308187ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT9AHSG9R1S4DWZWHY
        method: GET
      response:
        body: '{"access_key":"SCWT9AHSG9R1S4DWZWHY","application_id":"39378c45-cd26-44f3-a0e7-620c8a7e75f2","created_at":"2024-06-05T14:26:35.952811Z","creation_ip":"51.159.73.145","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-06-05T14:26:35.952811Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.831487ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT9AHSG9R1S4DWZWHY
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWT9AHSG9R1S4DWZWHY","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.241736ms
[...]
