---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_project_desc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"9fe1985f-0674-4ab4-b7d4-55e89e07a062", "name":"tf_test_api_key_er_project_desc", "description":"", "created_at":"2026-09-02T16:47:38.128839Z", "updated_at":"2026-09-02T16:47:38.128839Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 75.415089ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.157255ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/9fe1985f-0674-4ab4-b7d4-55e89e07a062
        method: GET
      response:
        body: '{"id":"9fe1985f-0674-4ab4-b7d4-55e89e07a062", "name":"tf_test_api_key_er_project_desc", "description":"", "created_at":"2026-09-02T16:47:38.128839Z", "updated_at":"2026-09-02T16:47:38.128839Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.712243ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"9fe1985f-0674-4ab4-b7d4-55e89e07a062","expires_at":"2026-09-02T16:57:37Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"tf_test_api_key_er_project_desc"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWT4NJKP4HHKTCZXKBS", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_api_key_er_project_desc", "created_at":"2026-09-02T16:47:38.421932Z", "updated_at":"2026-09-02T16:47:38.421932Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"9fe1985f-0674-4ab4-b7d4-55e89e07a062"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 202.389711ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/9fe1985f-0674-4ab4-b7d4-55e89e07a062
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"9fe1985f-0674-4ab4-b7d4-55e89e07a062","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 34.825032ms
