---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_api_key_app_change","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"35c73259-aea5-4543-afeb-d73c7d2831ac", "name":"tf_tests_api_key_app_change", "description":"", "created_at":"2026-08-24T14:00:31.071993Z", "updated_at":"2026-08-24T14:00:31.071993Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.067246ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.264533ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/35c73259-aea5-4543-afeb-d73c7d2831ac
        method: GET
      response:
        body: '{"id":"35c73259-aea5-4543-afeb-d73c7d2831ac", "name":"tf_tests_api_key_app_change", "description":"", "created_at":"2026-08-24T14:00:31.071993Z", "updated_at":"2026-08-24T14:00:31.071993Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.784783ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"35c73259-aea5-4543-afeb-d73c7d2831ac","description":"tf_tests_with_application_change"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWSJKFFKREF6QAQRMKW", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_with_application_change", "created_at":"2026-08-24T14:00:31.671580Z", "updated_at":"2026-08-24T14:00:31.671580Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"35c73259-aea5-4543-afeb-d73c7d2831ac"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 453.629222ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWSJKFFKREF6QAQRMKW", "secret_key":null, "description":"tf_tests_with_application_change", "created_at":"2026-08-24T14:00:31.671580Z", "updated_at":"2026-08-24T14:00:31.671580Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"35c73259-aea5-4543-afeb-d73c7d2831ac"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.133089ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCWHXR9EBQG6FXEG06DW","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.122456ms
[...]
