---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_expires_at\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"0642f74b-9f69-406d-ab35-150cec8d0793\", \"name\":\"tf_tests_app_expires_at\", \"description\":\"\", \"created_at\":\"2025-11-20T12:37:40.222339Z\", \"updated_at\":\"2025-11-20T12:37:40.222339Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 664.751973ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/0642f74b-9f69-406d-ab35-150cec8d0793
    method: GET
  response:
    body: "{\"id\":\"0642f74b-9f69-406d-ab35-150cec8d0793\", \"name\":\"tf_tests_app_expires_at\", \"description\":\"\", \"created_at\":\"2025-11-20T12:37:40.222339Z\", \"updated_at\":\"2025-11-20T12:37:40.222339Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.277352ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"0642f74b-9f69-406d-ab35-150cec8d0793\",\"expires_at\":\"2035-07-06T11:00:00+02:00\",\"description\":\"tf_tests_expires\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWM3B1AGJ6K9TNSJN2A\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"tf_tests_expires\", \"created_at\":\"2025-11-20T12:37:40.709004Z\", \"updated_at\":\"2025-11-20T12:37:40.709004Z\", \"expires_at\":\"2035-07-06T09:00:00Z\", \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"212.133.41.37\", \"application_id\":\"0642f74b-9f69-406d-ab35-150cec8d0793\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 273.04251ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCWM3B1AGJ6K9TNSJN2A\", \"secret_key\":null, \"description\":\"tf_tests_expires\", \"created_at\":\"2025-11-20T12:37:40.709004Z\", \"updated_at\":\"2025-11-20T12:37:40.709004Z\", \"expires_at\":\"2035-07-06T09:00:00Z\", \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"212.133.41.37\", \"application_id\":\"0642f74b-9f69-406d-ab35-150cec8d0793\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 251.058592ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWM3B1AGJ6K9TNSJN2A\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 138.821702ms
[...]
