---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_project_desc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"d7c02ad5-bf08-4325-8bac-bb1a5a1c07f2", "name":"tf_test_api_key_er_project_desc", "description":"", "created_at":"2026-09-02T17:01:32.282763Z", "updated_at":"2026-09-02T17:01:32.282763Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 65.188326ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 23.385134ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d7c02ad5-bf08-4325-8bac-bb1a5a1c07f2
        method: GET
      response:
        body: '{"id":"d7c02ad5-bf08-4325-8bac-bb1a5a1c07f2", "name":"tf_test_api_key_er_project_desc", "description":"", "created_at":"2026-09-02T17:01:32.282763Z", "updated_at":"2026-09-02T17:01:32.282763Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 48.264785ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"d7c02ad5-bf08-4325-8bac-bb1a5a1c07f2","expires_at":"2026-09-02T17:11:29Z","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"tf_test_api_key_er_project_desc"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWFXMXXS5Y95SF2WHKE", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_api_key_er_project_desc", "created_at":"2026-09-02T17:01:32.459016Z", "updated_at":"2026-09-02T17:01:32.459016Z", "expires_at":"2026-09-02T17:11:29Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"d7c02ad5-bf08-4325-8bac-bb1a5a1c07f2"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.224685ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d7c02ad5-bf08-4325-8bac-bb1a5a1c07f2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"d7c02ad5-bf08-4325-8bac-bb1a5a1c07f2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 37.898459ms
