---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"abd665b8-c563-4f51-9503-3cbc2bbebdfc", "name":"tf_tests_app_key_noupdate", "description":"", "created_at":"2026-06-10T16:12:40.307069Z", "updated_at":"2026-06-10T16:12:40.307069Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.432585ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/abd665b8-c563-4f51-9503-3cbc2bbebdfc
        method: GET
      response:
        body: '{"id":"abd665b8-c563-4f51-9503-3cbc2bbebdfc", "name":"tf_tests_app_key_noupdate", "description":"", "created_at":"2026-06-10T16:12:40.307069Z", "updated_at":"2026-06-10T16:12:40.307069Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.570249ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"abd665b8-c563-4f51-9503-3cbc2bbebdfc","description":"tf_tests_no_update"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW98CWMCEZZMM18GHK6", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_no_update", "created_at":"2026-06-10T16:12:40.676411Z", "updated_at":"2026-06-10T16:12:40.676411Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"abd665b8-c563-4f51-9503-3cbc2bbebdfc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.023507ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW98CWMCEZZMM18GHK6", "secret_key":null, "description":"tf_tests_no_update", "created_at":"2026-06-10T16:12:40.676411Z", "updated_at":"2026-06-10T16:12:40.676411Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"abd665b8-c563-4f51-9503-3cbc2bbebdfc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.673069ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW98CWMCEZZMM18GHK6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.486066ms
