---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_desc_identifier_create_unique","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"4b3a7ba7-0678-4cc5-a39a-adc4b60ca837", "name":"tf_test_desc_identifier_create_unique", "description":"", "created_at":"2026-09-02T16:47:38.015035Z", "updated_at":"2026-09-02T16:47:38.015035Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 122.192342ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 21.62378ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4b3a7ba7-0678-4cc5-a39a-adc4b60ca837
        method: GET
      response:
        body: '{"id":"4b3a7ba7-0678-4cc5-a39a-adc4b60ca837", "name":"tf_test_desc_identifier_create_unique", "description":"", "created_at":"2026-09-02T16:47:38.015035Z", "updated_at":"2026-09-02T16:47:38.015035Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 115.160797ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            bearer_type:
                - unknown_bearer_type
            description:
                - tf_test_desc_identifier_create_unique
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys?bearer_type=unknown_bearer_type&description=tf_test_desc_identifier_create_unique&order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1
        method: GET
      response:
        body: '{"api_keys":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 127.752217ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"4b3a7ba7-0678-4cc5-a39a-adc4b60ca837","expires_at":"2026-09-02T16:57:37Z","description":"tf_test_desc_identifier_create_unique"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWKKJFZDT5KVF8CZG00", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_test_desc_identifier_create_unique", "created_at":"2026-09-02T16:47:38.475500Z", "updated_at":"2026-09-02T16:47:38.475500Z", "expires_at":"2026-09-02T16:57:37Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.145", "application_id":"4b3a7ba7-0678-4cc5-a39a-adc4b60ca837"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "32"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 201.169818ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4b3a7ba7-0678-4cc5-a39a-adc4b60ca837
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"4b3a7ba7-0678-4cc5-a39a-adc4b60ca837","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 46.374954ms
