---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_test_api_key_er_with_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"3af6dd7f-9e4e-4b09-aabb-947236e2920e", "name":"tf_test_api_key_er_with_app", "description":"", "created_at":"2026-01-16T13:33:47.987315Z", "updated_at":"2026-01-16T13:33:47.987315Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.744299ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_api_key_er_with_app","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"ded6ed16-33c2-47b4-a8f0-a128ad2a266a", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_with_app", "status":"ready", "created_at":"2026-01-16T13:33:47.985350Z", "updated_at":"2026-01-16T13:33:47.985350Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.603184ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ded6ed16-33c2-47b4-a8f0-a128ad2a266a
        method: GET
      response:
        body: '{"id":"ded6ed16-33c2-47b4-a8f0-a128ad2a266a", "project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_api_key_er_with_app", "status":"ready", "created_at":"2026-01-16T13:33:47.985350Z", "updated_at":"2026-01-16T13:33:47.985350Z", "tags":[], "version_count":0, "description":"", "managed":false, "type":"opaque", "protected":false, "path":"/", "ephemeral_policy":null, "used_by":[], "deletion_requested_at":null, "key_id":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.55671ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/3af6dd7f-9e4e-4b09-aabb-947236e2920e
        method: GET
      response:
        body: '{"id":"3af6dd7f-9e4e-4b09-aabb-947236e2920e", "name":"tf_test_api_key_er_with_app", "description":"", "created_at":"2026-01-16T13:33:47.987315Z", "updated_at":"2026-01-16T13:33:47.987315Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.446067ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ded6ed16-33c2-47b4-a8f0-a128ad2a266a/versions?page=1
        method: GET
      response:
        body: '{"versions":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.715591ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"3af6dd7f-9e4e-4b09-aabb-947236e2920e","expires_at":"2026-01-16T13:43:46Z","description":"\"tf_test_api_key_er_with_app\""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW4Q2X2Y53QDKM93KMC", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"\"tf_test_api_key_er_with_app\"", "created_at":"2026-01-16T13:33:48.452246Z", "updated_at":"2026-01-16T13:33:48.452246Z", "expires_at":"2026-01-16T13:43:46Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.172.0.228", "application_id":"3af6dd7f-9e4e-4b09-aabb-947236e2920e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.976793ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"data":"U0NXNFEyWDJZNTNRREtNOTNLTUM=","description":"tf_test_api_key_er_with_app"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ded6ed16-33c2-47b4-a8f0-a128ad2a266a/versions
        method: POST
      response:
        body: '{"revision":1, "secret_id":"ded6ed16-33c2-47b4-a8f0-a128ad2a266a", "status":"enabled", "created_at":"2026-01-16T13:33:48.828704Z", "updated_at":"2026-01-16T13:33:48.828704Z", "deleted_at":null, "description":"tf_test_api_key_er_with_app", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.065595ms
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ded6ed16-33c2-47b4-a8f0-a128ad2a266a/versions/1
        method: GET
      response:
        body: '{"revision":1, "secret_id":"ded6ed16-33c2-47b4-a8f0-a128ad2a266a", "status":"enabled", "created_at":"2026-01-16T13:33:48.828704Z", "updated_at":"2026-01-16T13:33:48.828704Z", "deleted_at":null, "description":"tf_test_api_key_er_with_app", "latest":true, "ephemeral_properties":null, "deletion_requested_at":null, "region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.365506ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/ded6ed16-33c2-47b4-a8f0-a128ad2a266a/versions/1/access
        method: GET
      response:
        body: '{"secret_id":"ded6ed16-33c2-47b4-a8f0-a128ad2a266a", "revision":1, "data":"U0NXNFEyWDJZNTNRREtNOTNLTUM=", "data_crc32":null, "type":"opaque"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.374378ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW4Q2X2Y53QDKM93KMC", "secret_key":null, "description":"\"tf_test_api_key_er_with_app\"", "created_at":"2026-01-16T13:33:48.452246Z", "updated_at":"2026-01-16T13:33:48.452246Z", "expires_at":"2026-01-16T13:43:46Z", "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.172.0.228", "application_id":"3af6dd7f-9e4e-4b09-aabb-947236e2920e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.190809ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/3af6dd7f-9e4e-4b09-aabb-947236e2920e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"3af6dd7f-9e4e-4b09-aabb-947236e2920e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 78.590865ms
[...]
