---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"a description\",\"tags\":[\"tf_tests\",\"tests\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"fe73eca3-559e-413d-84fc-25cc94966195\",\"name\":\"tf_tests_app_basic\",\"description\":\"a description\",\"created_at\":\"2025-09-05T12:00:44.071381Z\",\"updated_at\":\"2025-09-05T12:00:44.071381Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[\"tf_tests\",\"tests\"]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 247.590891ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fe73eca3-559e-413d-84fc-25cc94966195
    method: GET
  response:
    body: "{\"id\":\"fe73eca3-559e-413d-84fc-25cc94966195\",\"name\":\"tf_tests_app_basic\",\"description\":\"a description\",\"created_at\":\"2025-09-05T12:00:44.071381Z\",\"updated_at\":\"2025-09-05T12:00:44.071381Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[\"tf_tests\",\"tests\"]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 279.755213ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fe73eca3-559e-413d-84fc-25cc94966195
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"application\",\"resource_id\":\"fe73eca3-559e-413d-84fc-25cc94966195\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.358477ms
