---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"d4a0047e-315a-496d-8ddf-8d890e052e03","name":"tf_tests_app_noupdate","description":"","created_at":"2026-05-21T14:56:00.003167Z","updated_at":"2026-05-21T14:56:00.003167Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.012288ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d4a0047e-315a-496d-8ddf-8d890e052e03
        method: GET
      response:
        body: '{"id":"d4a0047e-315a-496d-8ddf-8d890e052e03","name":"tf_tests_app_noupdate","description":"","created_at":"2026-05-21T14:56:00.003167Z","updated_at":"2026-05-21T14:56:00.003167Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.548437ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d4a0047e-315a-496d-8ddf-8d890e052e03
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"d4a0047e-315a-496d-8ddf-8d890e052e03","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.626512ms
