---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"10be0c55-fa90-46c9-9148-f8e2a76de31b\",\"name\":\"tf_tests_app_noupdate\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:36.128601Z\",\"updated_at\":\"2025-09-05T12:00:36.128601Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 225.758298ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/10be0c55-fa90-46c9-9148-f8e2a76de31b
    method: GET
  response:
    body: "{\"id\":\"10be0c55-fa90-46c9-9148-f8e2a76de31b\",\"name\":\"tf_tests_app_noupdate\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:36.128601Z\",\"updated_at\":\"2025-09-05T12:00:36.128601Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.833087ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/10be0c55-fa90-46c9-9148-f8e2a76de31b
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"application\",\"resource_id\":\"10be0c55-fa90-46c9-9148-f8e2a76de31b\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 155.968104ms
