---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a description","tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/806b9e59-fe1d-4609-9d89-f8f919315d04","id":"806b9e59-fe1d-4609-9d89-f8f919315d04","name":"tf_tests_app_basic","description":"a description","created_at":"2026-10-07T13:42:55.154081Z","updated_at":"2026-10-07T13:42:55.154081Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.77877ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.209873ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/806b9e59-fe1d-4609-9d89-f8f919315d04
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/806b9e59-fe1d-4609-9d89-f8f919315d04", "id":"806b9e59-fe1d-4609-9d89-f8f919315d04", "name":"tf_tests_app_basic", "description":"a description", "created_at":"2026-10-07T13:42:55.154081Z", "updated_at":"2026-10-07T13:42:55.154081Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":["tf_tests", "tests"]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.382934ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/806b9e59-fe1d-4609-9d89-f8f919315d04
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"806b9e59-fe1d-4609-9d89-f8f919315d04","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 30.539955ms
