---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a description","tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"63310857-3247-4094-bc70-58fd1cd82491","name":"tf_tests_app_basic","description":"a description","created_at":"2026-05-21T14:55:59.968247Z","updated_at":"2026-05-21T14:55:59.968247Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.078146ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/63310857-3247-4094-bc70-58fd1cd82491
        method: GET
      response:
        body: '{"id":"63310857-3247-4094-bc70-58fd1cd82491","name":"tf_tests_app_basic","description":"a description","created_at":"2026-05-21T14:55:59.968247Z","updated_at":"2026-05-21T14:55:59.968247Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.575734ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/63310857-3247-4094-bc70-58fd1cd82491
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"63310857-3247-4094-bc70-58fd1cd82491","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.046218ms
