---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"a description\",\"tags\":[\"tf_tests\",\"tests\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"cc1340ad-1de9-4085-9b2a-b604e77f3679\", \"name\":\"tf_tests_app_basic\", \"description\":\"a description\", \"created_at\":\"2025-11-17T17:10:30.465415Z\", \"updated_at\":\"2025-11-17T17:10:30.465415Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[\"tf_tests\", \"tests\"]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 186.754925ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/cc1340ad-1de9-4085-9b2a-b604e77f3679
    method: GET
  response:
    body: "{\"id\":\"cc1340ad-1de9-4085-9b2a-b604e77f3679\", \"name\":\"tf_tests_app_basic\", \"description\":\"a description\", \"created_at\":\"2025-11-17T17:10:30.465415Z\", \"updated_at\":\"2025-11-17T17:10:30.465415Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[\"tf_tests\", \"tests\"]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 255.656677ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/cc1340ad-1de9-4085-9b2a-b604e77f3679
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"application\",\"resource_id\":\"cc1340ad-1de9-4085-9b2a-b604e77f3679\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 65.262248ms
