---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a description","tags":["tf_tests","tests"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:33:05.762737Z","deletable":true,"description":"a description","editable":true,"id":"d57abae9-5976-4358-891f-73da68b1b89f","managed":false,"name":"tf_tests_app_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2025-01-22T15:33:05.762737Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 563.7815ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d57abae9-5976-4358-891f-73da68b1b89f
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:33:05.762737Z","deletable":true,"description":"a description","editable":true,"id":"d57abae9-5976-4358-891f-73da68b1b89f","managed":false,"name":"tf_tests_app_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2025-01-22T15:33:05.762737Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.791792ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d57abae9-5976-4358-891f-73da68b1b89f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"d57abae9-5976-4358-891f-73da68b1b89f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.1575ms
