---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:33:03.315091Z","deletable":true,"description":"","editable":true,"id":"ca7f2f82-5f5c-4bb3-be78-afa22ffdf544","managed":false,"name":"tf_tests_app_noupdate","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:03.315091Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.484708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/ca7f2f82-5f5c-4bb3-be78-afa22ffdf544
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:33:03.315091Z","deletable":true,"description":"","editable":true,"id":"ca7f2f82-5f5c-4bb3-be78-afa22ffdf544","managed":false,"name":"tf_tests_app_noupdate","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:03.315091Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.301375ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/ca7f2f82-5f5c-4bb3-be78-afa22ffdf544
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"ca7f2f82-5f5c-4bb3-be78-afa22ffdf544","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.212625ms
