---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a description","tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"23eaa896-76ac-48d6-814a-f6781e5cb075", "name":"tf_tests_app_basic", "description":"a description", "created_at":"2026-08-24T14:00:45.372351Z", "updated_at":"2026-08-24T14:00:45.372351Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":["tf_tests", "tests"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.945504ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.38591ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/23eaa896-76ac-48d6-814a-f6781e5cb075
        method: GET
      response:
        body: '{"id":"23eaa896-76ac-48d6-814a-f6781e5cb075", "name":"tf_tests_app_basic", "description":"a description", "created_at":"2026-08-24T14:00:45.372351Z", "updated_at":"2026-08-24T14:00:45.372351Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":["tf_tests", "tests"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.589971ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/23eaa896-76ac-48d6-814a-f6781e5cb075
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"23eaa896-76ac-48d6-814a-f6781e5cb075","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.772687ms
