---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_noupdate\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"fb05c827-2535-48bf-9fa0-dbb5c4d1b374\", \"name\":\"tf_tests_app_noupdate\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.462874Z\", \"updated_at\":\"2025-11-17T17:10:30.462874Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.133631ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fb05c827-2535-48bf-9fa0-dbb5c4d1b374
    method: GET
  response:
    body: "{\"id\":\"fb05c827-2535-48bf-9fa0-dbb5c4d1b374\", \"name\":\"tf_tests_app_noupdate\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.462874Z\", \"updated_at\":\"2025-11-17T17:10:30.462874Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 214.545036ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fb05c827-2535-48bf-9fa0-dbb5c4d1b374
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"application\",\"resource_id\":\"fb05c827-2535-48bf-9fa0-dbb5c4d1b374\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 66.246253ms
