---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-26T14:06:23.551260Z","deletable":true,"description":"","editable":true,"id":"d3c45193-b97d-4596-8cb2-a0d9ed047a9b","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-26T14:06:23.551260Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.162875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d3c45193-b97d-4596-8cb2-a0d9ed047a9b
        method: GET
      response:
        body: '{"created_at":"2025-05-26T14:06:23.551260Z","deletable":true,"description":"","editable":true,"id":"d3c45193-b97d-4596-8cb2-a0d9ed047a9b","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-26T14:06:23.551260Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.907625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"d3c45193-b97d-4596-8cb2-a0d9ed047a9b","description":"tf_tests_with_application"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW0TX9P3Z3NSFT1J994","application_id":"d3c45193-b97d-4596-8cb2-a0d9ed047a9b","created_at":"2025-05-26T14:06:23.717009Z","creation_ip":"51.159.73.9","default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-05-26T14:06:23.717009Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.561ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW0TX9P3Z3NSFT1J994
        method: GET
      response:
        body: '{"access_key":"SCW0TX9P3Z3NSFT1J994","application_id":"d3c45193-b97d-4596-8cb2-a0d9ed047a9b","created_at":"2025-05-26T14:06:23.717009Z","creation_ip":"51.159.73.9","default_project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-05-26T14:06:23.717009Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.071167ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW0TX9P3Z3NSFT1J994
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW0TX9P3Z3NSFT1J994","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.325125ms
[...]
