---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 57.982131ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"7782b9bb-5355-43c2-8140-e636cb338e1d","created_at":"2026-10-07T13:42:19.173052Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 46.365591ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/7782b9bb-5355-43c2-8140-e636cb338e1d/tokens
        method: POST
      response:
        body: '{"token":{"id":"ed5931aa-6d42-4a00-8e26-a8551d4dc3c9","scim_id":"7782b9bb-5355-43c2-8140-e636cb338e1d","created_at":"2026-10-07T13:42:19.528078Z","expires_at":"2027-10-07T13:42:19.524938Z"},"bearer_token":"ZWQ1OTMxYWEtNmQ0Mi00YTAwLThlMjYtYTg1NTFkNGRjM2M5.PjVwEOu0a0czuWGrbk8-3L4QVTI0YwqTAw5Mm4i1su1BqWHbC7dKHuyILHDtHNGKx-5iuoMy"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 390.422251ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/7782b9bb-5355-43c2-8140-e636cb338e1d/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"ed5931aa-6d42-4a00-8e26-a8551d4dc3c9", "scim_id":"7782b9bb-5355-43c2-8140-e636cb338e1d", "created_at":"2026-10-07T13:42:19.528078Z", "expires_at":"2027-10-07T13:42:19.524938Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 50.037692ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/ed5931aa-6d42-4a00-8e26-a8551d4dc3c9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 51.437142ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/7782b9bb-5355-43c2-8140-e636cb338e1d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 114.702011ms
[...]
