---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_data_source_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"35ea99ef-0a09-4e1e-b0bd-32af7a170218\",\"name\":\"tf_tests_data_source_basic\",\"description\":\"\",\"created_at\":\"2025-09-23T14:23:21.774711Z\",\"updated_at\":\"2025-09-23T14:23:21.774711Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 921.656552ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/35ea99ef-0a09-4e1e-b0bd-32af7a170218
    method: GET
  response:
    body: "{\"id\":\"35ea99ef-0a09-4e1e-b0bd-32af7a170218\",\"name\":\"tf_tests_data_source_basic\",\"description\":\"\",\"created_at\":\"2025-09-23T14:23:21.774711Z\",\"updated_at\":\"2025-09-23T14:23:21.774711Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 636.227531ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_tests_data_source_basic
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"applications\":[{\"id\":\"35ea99ef-0a09-4e1e-b0bd-32af7a170218\",\"name\":\"tf_tests_data_source_basic\",\"description\":\"\",\"created_at\":\"2025-09-23T14:23:21.774711Z\",\"updated_at\":\"2025-09-23T14:23:21.774711Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.335029761s
[...]
- id: 20
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_tests_data_source_basic_renamed
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"applications\":[{\"id\":\"35ea99ef-0a09-4e1e-b0bd-32af7a170218\",\"name\":\"tf_tests_data_source_basic_renamed\",\"description\":\"tf_tests_data_source_basic_description\",\"created_at\":\"2025-09-23T14:23:21.774711Z\",\"updated_at\":\"2025-09-23T14:23:28.808491Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 163.187391ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/35ea99ef-0a09-4e1e-b0bd-32af7a170218
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"application\",\"resource_id\":\"35ea99ef-0a09-4e1e-b0bd-32af7a170218\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.5681ms
[...]
