---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf_test_data_source_basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-26T14:05:02.296777Z","deletable":true,"description":"","editable":true,"id":"c748eb16-6398-4f6f-8bb0-4155d6b27562","managed":false,"name":"tf_test_data_source_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-26T14:05:02.296777Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.351958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/c748eb16-6398-4f6f-8bb0-4155d6b27562
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-05-26T14:05:02.296777Z","deletable":true,"description":"","editable":true,"id":"c748eb16-6398-4f6f-8bb0-4155d6b27562","managed":false,"name":"tf_test_data_source_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-26T14:05:02.296777Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.104ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"groups":[{"application_ids":[],"created_at":"2025-05-26T14:05:02.296777Z","deletable":true,"description":"","editable":true,"id":"c748eb16-6398-4f6f-8bb0-4155d6b27562","managed":false,"name":"tf_test_data_source_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-26T14:05:02.296777Z","user_ids":[]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.033208ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/c748eb16-6398-4f6f-8bb0-4155d6b27562
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"c748eb16-6398-4f6f-8bb0-4155d6b27562","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.85775ms
[...]
