---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-test-ds-iam-ssh-key-basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"fd9310a4-90ca-4efa-b3a2-0797915a5f93\", \"name\":\"tf-test-ds-iam-ssh-key-basic\", \"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ\", \"fingerprint\":\"256 MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)\", \"created_at\":\"2025-11-17T17:10:30.432712Z\", \"updated_at\":\"2025-11-17T17:10:30.432712Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.570954ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/fd9310a4-90ca-4efa-b3a2-0797915a5f93
    method: GET
  response:
    body: "{\"id\":\"fd9310a4-90ca-4efa-b3a2-0797915a5f93\", \"name\":\"tf-test-ds-iam-ssh-key-basic\", \"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ\", \"fingerprint\":\"256 MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)\", \"created_at\":\"2025-11-17T17:10:30.432712Z\", \"updated_at\":\"2025-11-17T17:10:30.432712Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 85.043682ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-test-ds-iam-ssh-key-basic
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?name=tf-test-ds-iam-ssh-key-basic&order_by=created_at_asc
    method: GET
  response:
    body: "{\"ssh_keys\":[{\"id\":\"fd9310a4-90ca-4efa-b3a2-0797915a5f93\", \"name\":\"tf-test-ds-iam-ssh-key-basic\", \"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ\", \"fingerprint\":\"256 MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)\", \"created_at\":\"2025-11-17T17:10:30.432712Z\", \"updated_at\":\"2025-11-17T17:10:30.432712Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"disabled\":false}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.984505ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/fd9310a4-90ca-4efa-b3a2-0797915a5f93
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ssh_key\",\"resource_id\":\"fd9310a4-90ca-4efa-b3a2-0797915a5f93\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 64.093122ms
[...]
