---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_key_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"077e64a6-79c9-4e07-a7a3-b2feb4002546\",\"name\":\"tf_tests_app_key_basic\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:27.768630Z\",\"updated_at\":\"2025-09-05T12:00:27.768630Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 213.310672ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/077e64a6-79c9-4e07-a7a3-b2feb4002546
    method: GET
  response:
    body: "{\"id\":\"077e64a6-79c9-4e07-a7a3-b2feb4002546\",\"name\":\"tf_tests_app_key_basic\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:27.768630Z\",\"updated_at\":\"2025-09-05T12:00:27.768630Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.42528ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"077e64a6-79c9-4e07-a7a3-b2feb4002546\",\"description\":\"tf_tests_with_application\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWNFMQFQA917BY589QR\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-05T12:00:28.193111Z\",\"updated_at\":\"2025-09-05T12:00:28.193111Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"077e64a6-79c9-4e07-a7a3-b2feb4002546\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 245.758829ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWNFMQFQA917BY589QR
    method: GET
  response:
    body: "{\"access_key\":\"SCWNFMQFQA917BY589QR\",\"secret_key\":null,\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-05T12:00:28.193111Z\",\"updated_at\":\"2025-09-05T12:00:28.193111Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"077e64a6-79c9-4e07-a7a3-b2feb4002546\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 188.641211ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWNFMQFQA917BY589QR
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWNFMQFQA917BY589QR\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 136.558925ms
[...]
