---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-8377544886100017774","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"1f8dec5d-1607-4e86-8bd0-7804aed63d5c", "name":"tf-test-scaleway-project-8377544886100017774", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:37.482041Z", "updated_at":"2026-06-12T15:44:37.482041Z", "description":"", "qualification":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.866573ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2473513502491423044","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"9ec0a8a3-5a1e-4430-a967-edad09041981", "name":"tf-test-scaleway-iam-app-2473513502491423044", "description":"", "created_at":"2026-06-12T15:44:37.878621Z", "updated_at":"2026-06-12T15:44:37.878621Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.810936ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-3496866702552248329","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"9ec0a8a3-5a1e-4430-a967-edad09041981"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"48455ff1-4e85-4024-9230-35d5afaef8e4", "name":"tf-test-scaleway-iam-policy-3496866702552248329", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:37.952523Z", "updated_at":"2026-06-12T15:44:37.952523Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"9ec0a8a3-5a1e-4430-a967-edad09041981"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.925016ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"9ec0a8a3-5a1e-4430-a967-edad09041981","default_project_id":"1f8dec5d-1607-4e86-8bd0-7804aed63d5c","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWA94S10NY314D9XHPE", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-06-12T15:44:38.318266Z", "updated_at":"2026-06-12T15:44:38.318266Z", "expires_at":null, "default_project_id":"1f8dec5d-1607-4e86-8bd0-7804aed63d5c", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"9ec0a8a3-5a1e-4430-a967-edad09041981"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 423.358437ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/48455ff1-4e85-4024-9230-35d5afaef8e4
        method: GET
      response:
        body: '{"id":"48455ff1-4e85-4024-9230-35d5afaef8e4", "name":"tf-test-scaleway-iam-policy-3496866702552248329", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:37.952523Z", "updated_at":"2026-06-12T15:44:37.952523Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "application_id":"9ec0a8a3-5a1e-4430-a967-edad09041981"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.768307ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            policy_name:
                - tf-test-scaleway-iam-policy-3496866702552248329
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&policy_name=tf-test-scaleway-iam-policy-3496866702552248329
        method: GET
      response:
        body: '{"policies":[{"id":"48455ff1-4e85-4024-9230-35d5afaef8e4", "name":"tf-test-scaleway-iam-policy-3496866702552248329", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-06-12T15:44:37.952523Z", "updated_at":"2026-06-12T15:44:37.952523Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "application_id":"9ec0a8a3-5a1e-4430-a967-edad09041981"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.128908ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 48455ff1-4e85-4024-9230-35d5afaef8e4
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=48455ff1-4e85-4024-9230-35d5afaef8e4
        method: GET
      response:
        body: '{"rules":[{"id":"f1608130-ef40-4b85-8654-1a2bc4829e1f", "permission_set_names":["IAMManager"], "permission_sets_scope_type":"organization", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.633784ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 221.428712ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/9ec0a8a3-5a1e-4430-a967-edad09041981
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 56.934738ms
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/1f8dec5d-1607-4e86-8bd0-7804aed63d5c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.518027683s
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/48455ff1-4e85-4024-9230-35d5afaef8e4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"48455ff1-4e85-4024-9230-35d5afaef8e4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.809838ms
[...]
