---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.309237ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"02301b09-391f-4d99-b201-f12c8f289671","created_at":"2026-04-29T09:10:13.318680Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.515739ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/02301b09-391f-4d99-b201-f12c8f289671
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 180.770758ms
[...]
