---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_basic","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"f988bc4d-d9b4-4234-902c-adc41859dde7", "created_at":"2026-08-26T11:56:37.423211Z", "updated_at":"2026-08-26T11:56:37.423211Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_basic", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.316013ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.562487ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/f988bc4d-d9b4-4234-902c-adc41859dde7
        method: GET
      response:
        body: '{"id":"f988bc4d-d9b4-4234-902c-adc41859dde7", "created_at":"2026-08-26T11:56:37.423211Z", "updated_at":"2026-08-26T11:56:37.423211Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_basic", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.738361ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_test_data_source_basic
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"id":"f988bc4d-d9b4-4234-902c-adc41859dde7", "created_at":"2026-08-26T11:56:37.423211Z", "updated_at":"2026-08-26T11:56:37.423211Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_basic", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.24862ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/f988bc4d-d9b4-4234-902c-adc41859dde7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"f988bc4d-d9b4-4234-902c-adc41859dde7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.242014ms
[...]
