---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_ds_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"8347d7c5-f3d3-455c-846a-24b32e21cb9d", "name":"tf_tests_app_key_ds_basic", "description":"", "created_at":"2026-08-26T11:55:51.770457Z", "updated_at":"2026-08-26T11:55:51.770457Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.602775ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.505088ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/8347d7c5-f3d3-455c-846a-24b32e21cb9d
        method: GET
      response:
        body: '{"id":"8347d7c5-f3d3-455c-846a-24b32e21cb9d", "name":"tf_tests_app_key_ds_basic", "description":"", "created_at":"2026-08-26T11:55:51.770457Z", "updated_at":"2026-08-26T11:55:51.770457Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.982985ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"8347d7c5-f3d3-455c-846a-24b32e21cb9d","description":"tf_tests_with_application"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW60F37S551BB80SJTG", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_with_application", "created_at":"2026-08-26T11:55:52.202453Z", "updated_at":"2026-08-26T11:55:52.202453Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"8347d7c5-f3d3-455c-846a-24b32e21cb9d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.017457ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW60F37S551BB80SJTG", "secret_key":null, "description":"tf_tests_with_application", "created_at":"2026-08-26T11:55:52.202453Z", "updated_at":"2026-08-26T11:55:52.202453Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"8347d7c5-f3d3-455c-846a-24b32e21cb9d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.889486ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"api_key","resource_id":"SCW60F37S551BB80SJTG","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.304186ms
[...]
