---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/b6360d4f-831c-45a8-889e-0b65ed079e63
        method: GET
      response:
        body: '{"account_root_user_id":"caeed50e-d7fe-4d74-b7f0-956d94e85d4b","created_at":"2022-12-01T12:53:29.981622Z","deletable":true,"email":"jcasteran@scaleway.com","id":"b6360d4f-831c-45a8-889e-0b65ed079e63","last_login_at":"2024-12-17T13:19:25.316964Z","locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","tags":[],"two_factor_enabled":false,"type":"guest","updated_at":"2025-01-07T13:39:41.962886Z","username":"jcasteran@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.022042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&page=1
        method: GET
      response:
        body: '{"total_count":7,"users":[{"account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1","created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2024-06-18T21:39:22.182798Z","locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","tags":[],"two_factor_enabled":true,"type":"owner","updated_at":"2025-01-07T13:38:53.442895Z","username":"hashicorp@scaleway.com"},{"account_root_us[...]
[...]
