---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-03-24T15:32:34.702545Z","deletable":true,"description":"","editable":true,"id":"6de7e6db-827f-49d3-9a1b-15ab9a7396b1","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-03-24T15:32:34.702545Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 815.959833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/6de7e6db-827f-49d3-9a1b-15ab9a7396b1
        method: GET
      response:
        body: '{"created_at":"2025-03-24T15:32:34.702545Z","deletable":true,"description":"","editable":true,"id":"6de7e6db-827f-49d3-9a1b-15ab9a7396b1","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-03-24T15:32:34.702545Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.467708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"6de7e6db-827f-49d3-9a1b-15ab9a7396b1","description":"tf_tests_with_application"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWXFWZHHRQ6KSX9Z9X4","application_id":"6de7e6db-827f-49d3-9a1b-15ab9a7396b1","created_at":"2025-03-24T15:32:35.533386Z","creation_ip":"51.159.46.153","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-03-24T15:32:35.533386Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.228666ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXFWZHHRQ6KSX9Z9X4
        method: GET
      response:
        body: '{"access_key":"SCWXFWZHHRQ6KSX9Z9X4","application_id":"6de7e6db-827f-49d3-9a1b-15ab9a7396b1","created_at":"2025-03-24T15:32:35.533386Z","creation_ip":"51.159.46.153","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-03-24T15:32:35.533386Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.398875ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXFWZHHRQ6KSX9Z9X4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWXFWZHHRQ6KSX9Z9X4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.280375ms
[...]
