---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayDataSourceAccountSSHKey_Basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: "{\"id\":\"504c6744-14e5-4e89-ad8b-cc2f836badc8\",\"name\":\"TestAccScalewayDataSourceAccountSSHKey_Basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ\",\"fingerprint\":\"256 MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)\",\"created_at\":\"2025-09-05T12:00:27.739276Z\",\"updated_at\":\"2025-09-05T12:00:27.739276Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 368.259738ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/504c6744-14e5-4e89-ad8b-cc2f836badc8
    method: GET
  response:
    body: "{\"id\":\"504c6744-14e5-4e89-ad8b-cc2f836badc8\",\"name\":\"TestAccScalewayDataSourceAccountSSHKey_Basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ\",\"fingerprint\":\"256 MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)\",\"created_at\":\"2025-09-05T12:00:27.739276Z\",\"updated_at\":\"2025-09-05T12:00:27.739276Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.410608ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - TestAccScalewayDataSourceAccountSSHKey_Basic
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?name=TestAccScalewayDataSourceAccountSSHKey_Basic&order_by=created_at_asc
    method: GET
  response:
    body: "{\"ssh_keys\":[{\"id\":\"504c6744-14e5-4e89-ad8b-cc2f836badc8\",\"name\":\"TestAccScalewayDataSourceAccountSSHKey_Basic\",\"public_key\":\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ\",\"fingerprint\":\"256 MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d (ssh-ed25519)\",\"created_at\":\"2025-09-05T12:00:27.739276Z\",\"updated_at\":\"2025-09-05T12:00:27.739276Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"disabled\":false}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.15434ms
[...]
