---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:56.562929Z","deletable":true,"description":"","editable":true,"id":"01f0ff26-cf4d-4563-b2c5-7b9cd0e9563e","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:56.562929Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.716416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/01f0ff26-cf4d-4563-b2c5-7b9cd0e9563e
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:56.562929Z","deletable":true,"description":"","editable":true,"id":"01f0ff26-cf4d-4563-b2c5-7b9cd0e9563e","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:56.562929Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.60875ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"created_at":"2025-01-22T15:32:56.562929Z","deletable":true,"description":"","editable":true,"id":"01f0ff26-cf4d-4563-b2c5-7b9cd0e9563e","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:56.562929Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.588084ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"created_at":"2025-01-22T15:32:56.562929Z","deletable":true,"description":"tf_tests_data_source_basic_description","editable":true,"id":"01f0ff26-cf4d-4563-b2c5-7b9cd0e9563e","managed":false,"name":"tf_tests_data_source_basic_renamed","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:05.840329Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.482792ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/01f0ff26-cf4d-4563-b2c5-7b9cd0e9563e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"01f0ff26-cf4d-4563-b2c5-7b9cd0e9563e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.716292ms
[...]
