---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/b6360d4f-831c-45a8-889e-0b65ed079e63
    method: GET
  response:
    body: '{"created_at":"2022-12-01T12:53:29.981622Z","deletable":true,"email":"jcasteran@scaleway.com","id":"b6360d4f-831c-45a8-889e-0b65ed079e63","last_login_at":"2023-01-20T15:50:49.815950Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":false,"type":"guest","updated_at":"2023-01-20T15:50:49.811823Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&page=1
    method: GET
  response:
    body: '{"total_count":5,"users":[{"created_at":"2022-03-29T11:44:54.791271Z","deletable":true,"email":"jbernabe@scaleway.com","id":"d55bae64-4e2b-490f-9b2e-688715f60f6c","last_login_at":"2023-01-23T14:06:58.013153Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":false,"type":"guest","updated_at":"2023-01-23T14:06:58.000032Z"},{"created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_a[...]
[...]
