---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:39.892076Z","deletable":true,"description":"","editable":true,"id":"2a041ae8-766b-401c-8a15-b37df50f0742","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:39.892076Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.265166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/2a041ae8-766b-401c-8a15-b37df50f0742
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:39.892076Z","deletable":true,"description":"","editable":true,"id":"2a041ae8-766b-401c-8a15-b37df50f0742","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:39.892076Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.804542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"2a041ae8-766b-401c-8a15-b37df50f0742","description":"tf_tests_with_application"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWCJJ5G9YSKGC9M88B2","application_id":"2a041ae8-766b-401c-8a15-b37df50f0742","created_at":"2025-01-22T15:32:40.235621Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:40.235621Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.020541ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCJJ5G9YSKGC9M88B2
        method: GET
      response:
        body: '{"access_key":"SCWCJJ5G9YSKGC9M88B2","application_id":"2a041ae8-766b-401c-8a15-b37df50f0742","created_at":"2025-01-22T15:32:40.235621Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-01-22T15:32:40.235621Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.031166ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCJJ5G9YSKGC9M88B2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWCJJ5G9YSKGC9M88B2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.498083ms
[...]
