---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-4002164856983285327\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"ba67069e-f779-4b6e-8055-36a7ee747d2f\", \"name\":\"test-acc-scaleway-project-4002164856983285327\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:19.754740Z\", \"updated_at\":\"2025-11-17T17:10:19.754740Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 624.345998ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-8877819354400980890\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"78650357-874b-42a3-adca-d44a759104f0\", \"name\":\"test-acc-scaleway-iam-app-8877819354400980890\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:20.180705Z\", \"updated_at\":\"2025-11-17T17:10:20.180705Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 175.634456ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-4451882000619450660\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"IAMManager\"],\"condition\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}],\"tags\":null,\"application_id\":\"78650357-874b-42a3-adca-d44a759104f0\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"aa3c0000-99b6-4539-aa61-21e71f8392ca\", \"name\":\"test-acc-scaleway-iam-policy-4451882000619450660\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:20.433947Z\", \"updated_at\":\"2025-11-17T17:10:20.433947Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"78650357-874b-42a3-adca-d44a759104f0\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 336.34802ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"78650357-874b-42a3-adca-d44a759104f0\",\"default_project_id\":\"ba67069e-f779-4b6e-8055-36a7ee747d2f\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWKE42M3BJM7W0XEGZP\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:20.729620Z\", \"updated_at\":\"2025-11-17T17:10:20.729620Z\", \"expires_at\":null, \"default_project_id\":\"ba67069e-f779-4b6e-8055-36a7ee747d2f\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"78650357-874b-42a3-adca-d44a759104f0\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 241.967316ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      order_by:
      - policy_name_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      policy_name:
      - test-acc-scaleway-iam-policy-4451882000619450660
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&policy_name=test-acc-scaleway-iam-policy-4451882000619450660
    method: GET
  response:
    body: "{\"policies\":[{\"id\":\"aa3c0000-99b6-4539-aa61-21e71f8392ca\", \"name\":\"test-acc-scaleway-iam-policy-4451882000619450660\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:20.433947Z\", \"updated_at\":\"2025-11-17T17:10:20.433947Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"application_id\":\"78650357-874b-42a3-adca-d44a759104f0\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.70745ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/aa3c0000-99b6-4539-aa61-21e71f8392ca
    method: GET
  response:
    body: "{\"id\":\"aa3c0000-99b6-4539-aa61-21e71f8392ca\", \"name\":\"test-acc-scaleway-iam-policy-4451882000619450660\", \"description\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"created_at\":\"2025-11-17T17:10:20.433947Z\", \"updated_at\":\"2025-11-17T17:10:20.433947Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":1, \"nb_scopes\":1, \"nb_permission_sets\":1, \"tags\":[], \"application_id\":\"78650357-874b-42a3-adca-d44a759104f0\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.051364ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    form:
      policy_id:
      - aa3c0000-99b6-4539-aa61-21e71f8392ca
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=aa3c0000-99b6-4539-aa61-21e71f8392ca
    method: GET
  response:
    body: "{\"rules\":[{\"id\":\"a0c029aa-ec83-4729-8be3-013ff00e13b2\", \"permission_set_names\":[\"IAMManager\"], \"permission_sets_scope_type\":\"organization\", \"condition\":\"\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.489256ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 197.934038ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/78650357-874b-42a3-adca-d44a759104f0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 156.278904ms
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/ba67069e-f779-4b6e-8055-36a7ee747d2f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.437531553s
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/aa3c0000-99b6-4539-aa61-21e71f8392ca
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"policy\",\"resource_id\":\"aa3c0000-99b6-4539-aa61-21e71f8392ca\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 40.275115ms
[...]
