---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"member":{"email":"testiamuserbasic@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"testiamuserbasic","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"id":"bfa4795e-0e4d-4d62-932c-6ae1c9766369", "email":"testiamuserbasic@scaleway.com", "username":"testiamuserbasic", "first_name":"", "last_name":"", "phone_number":"", "locale":"en_US", "created_at":"2026-08-26T11:58:54.315782Z", "updated_at":"2026-08-26T11:58:54.315782Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.046635ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.979368ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/bfa4795e-0e4d-4d62-932c-6ae1c9766369
        method: GET
      response:
        body: '{"id":"bfa4795e-0e4d-4d62-932c-6ae1c9766369", "email":"testiamuserbasic@scaleway.com", "username":"testiamuserbasic", "first_name":"", "last_name":"", "phone_number":"", "locale":"en_US", "created_at":"2026-08-26T11:58:54.315782Z", "updated_at":"2026-08-26T11:58:54.315782Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":true, "last_login_at":null, "type":"member", "two_factor_enabled":false, "status":"activated", "mfa":false, "account_root_user_id":"", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.783213ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            page:
                - "1"
            type:
                - unknown_type
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
        method: GET
      response:
        body: '{"users":[{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57", "email":"hashicorp@scaleway.com", "username":"hashicorp@scaleway.com", "first_name":"", "last_name":"", "phone_number":"", "locale":"fr_FR", "created_at":"2022-03-29T11:44:54.791271Z", "updated_at":"2026-03-30T08:13:49.666782Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":false, "last_login_at":"2026-03-30T08:13:49.689533Z", "type":"owner", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/bfa4795e-0e4d-4d62-932c-6ae1c9766369
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"user","resource_id":"bfa4795e-0e4d-4d62-932c-6ae1c9766369","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.800347ms
[...]
