---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_ds_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"43a211a4-5ffb-4c01-896b-e28cc8a8ce09", "name":"tf_tests_app_key_ds_basic", "description":"", "created_at":"2026-06-16T09:31:50.085429Z", "updated_at":"2026-06-16T09:31:50.085429Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.14927ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/43a211a4-5ffb-4c01-896b-e28cc8a8ce09
        method: GET
      response:
        body: '{"id":"43a211a4-5ffb-4c01-896b-e28cc8a8ce09", "name":"tf_tests_app_key_ds_basic", "description":"", "created_at":"2026-06-16T09:31:50.085429Z", "updated_at":"2026-06-16T09:31:50.085429Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.453456ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"43a211a4-5ffb-4c01-896b-e28cc8a8ce09","description":"tf_tests_with_application"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWBD8PX72VTEVB5AMQE", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_with_application", "created_at":"2026-06-16T09:31:50.577650Z", "updated_at":"2026-06-16T09:31:50.577650Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"43a211a4-5ffb-4c01-896b-e28cc8a8ce09"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.704751ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCWBD8PX72VTEVB5AMQE", "secret_key":null, "description":"tf_tests_with_application", "created_at":"2026-06-16T09:31:50.577650Z", "updated_at":"2026-06-16T09:31:50.577650Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.46.153", "application_id":"43a211a4-5ffb-4c01-896b-e28cc8a8ce09"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.836093ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWBD8PX72VTEVB5AMQE","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.15393ms
[...]
