---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-09-05T14:01:10.725800Z","deletable":true,"description":"","editable":true,"id":"4e90b1c4-573a-4fd1-ba67-7517ce40d2d9","managed":false,"name":"tf_test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:10.725800Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 584.926ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/4e90b1c4-573a-4fd1-ba67-7517ce40d2d9
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-09-05T14:01:10.725800Z","deletable":true,"description":"","editable":true,"id":"4e90b1c4-573a-4fd1-ba67-7517ce40d2d9","managed":false,"name":"tf_test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:10.725800Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.068834ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"application_ids":[],"created_at":"2025-09-05T14:01:10.725800Z","deletable":true,"description":"","editable":true,"id":"4e90b1c4-573a-4fd1-ba67-7517ce40d2d9","managed":false,"name":"tf_test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:10.725800Z","user_ids":[]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.810041ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/4e90b1c4-573a-4fd1-ba67-7517ce40d2d9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"4e90b1c4-573a-4fd1-ba67-7517ce40d2d9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.860458ms
[...]
