---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_test_data_source_basic\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"55b5f6c4-5f6b-4646-a34f-b84fcf21e6a0\", \"created_at\":\"2025-11-17T17:10:52.297629Z\", \"updated_at\":\"2025-11-17T17:10:52.297629Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_test_data_source_basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 103.226169ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/55b5f6c4-5f6b-4646-a34f-b84fcf21e6a0
    method: GET
  response:
    body: "{\"id\":\"55b5f6c4-5f6b-4646-a34f-b84fcf21e6a0\", \"created_at\":\"2025-11-17T17:10:52.297629Z\", \"updated_at\":\"2025-11-17T17:10:52.297629Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_test_data_source_basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 53.898713ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_test_data_source_basic
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"groups\":[{\"id\":\"55b5f6c4-5f6b-4646-a34f-b84fcf21e6a0\", \"created_at\":\"2025-11-17T17:10:52.297629Z\", \"updated_at\":\"2025-11-17T17:10:52.297629Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_test_data_source_basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.998416ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/55b5f6c4-5f6b-4646-a34f-b84fcf21e6a0
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"55b5f6c4-5f6b-4646-a34f-b84fcf21e6a0\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 75.314689ms
[...]
