---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&page=1&type=unknown_type
        method: GET
      response:
        body: '{"total_count":6,"users":[{"account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1","created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","first_name":"","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2024-06-18T21:39:22.182798Z","last_name":"","locale":"","locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"activated","tags":[],"two_factor_enabled":true,"type":"owner","updated_at":"2025-03-05T14:31:18.088783Z","username":"hashicorp@scaleway.com"},{"account_root_user_id":"e455b334-f426-4b1e-ab2f-913c31aa199c","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","first_name":"","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"last_name":"","locale":"","locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"activated","tags":[],"two_factor_enabled":true,"type":"guest","updated_at":"2025-03-05T1[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"foo@scaleway.com","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-03-24T16:31:10.557570Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"2169d322-0470-459e-b0c3-b5a4fcaff5c2","last_login_at":null,"last_name":"","locale":"","locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"invitation_pending","tags":[],"two_factor_enabled":false,"type":"guest","updated_at":"2025-03-24T16:31:10.557570Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 426.750135ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/2169d322-0470-459e-b0c3-b5a4fcaff5c2
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-03-24T16:31:10.557570Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"2169d322-0470-459e-b0c3-b5a4fcaff5c2","last_login_at":null,"last_name":"","locale":"","locked":false,"mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"invitation_pending","tags":[],"two_factor_enabled":false,"type":"guest","updated_at":"2025-03-24T16:31:10.557570Z","username":"foo@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.390667ms
[...]
