---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"86e7fce9-f78a-497a-b063-403486feec17", "name":"tf_tests_app_key_basic", "description":"", "created_at":"2026-06-10T16:09:50.635787Z", "updated_at":"2026-06-10T16:09:50.635787Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.267645ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/86e7fce9-f78a-497a-b063-403486feec17
        method: GET
      response:
        body: '{"id":"86e7fce9-f78a-497a-b063-403486feec17", "name":"tf_tests_app_key_basic", "description":"", "created_at":"2026-06-10T16:09:50.635787Z", "updated_at":"2026-06-10T16:09:50.635787Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.477913168s
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"86e7fce9-f78a-497a-b063-403486feec17","description":"tf_tests_with_application"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW8BR3W44EADPT17BPR", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"tf_tests_with_application", "created_at":"2026-06-10T16:09:52.378175Z", "updated_at":"2026-06-10T16:09:52.378175Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"86e7fce9-f78a-497a-b063-403486feec17"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.165096ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"access_key":"SCW8BR3W44EADPT17BPR", "secret_key":null, "description":"tf_tests_with_application", "created_at":"2026-06-10T16:09:52.378175Z", "updated_at":"2026-06-10T16:09:52.378175Z", "expires_at":null, "default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.189.216.157", "application_id":"86e7fce9-f78a-497a-b063-403486feec17"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.901362ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW8BR3W44EADPT17BPR","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.788798ms
[...]
