---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-09-05T14:01:50.091929Z","deletable":true,"description":"","editable":true,"id":"b2328a54-0dcf-48ed-b63e-98980f27c171","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:50.091929Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 561.033792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/b2328a54-0dcf-48ed-b63e-98980f27c171
        method: GET
      response:
        body: '{"created_at":"2025-09-05T14:01:50.091929Z","deletable":true,"description":"","editable":true,"id":"b2328a54-0dcf-48ed-b63e-98980f27c171","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:50.091929Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.67025ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"created_at":"2025-09-05T14:01:50.091929Z","deletable":true,"description":"","editable":true,"id":"b2328a54-0dcf-48ed-b63e-98980f27c171","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:50.091929Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.0675ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"created_at":"2025-09-05T14:01:50.091929Z","deletable":true,"description":"tf_tests_data_source_basic_description","editable":true,"id":"b2328a54-0dcf-48ed-b63e-98980f27c171","managed":false,"name":"tf_tests_data_source_basic_renamed","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:53.656028Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.972959ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/b2328a54-0dcf-48ed-b63e-98980f27c171
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"b2328a54-0dcf-48ed-b63e-98980f27c171","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.448375ms
[...]
