---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_data_source_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-22T15:10:46.122479Z","deletable":true,"description":"","editable":true,"id":"f09ce063-ce4e-4f45-893e-da53b905da14","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:10:46.122479Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.527333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f09ce063-ce4e-4f45-893e-da53b905da14
        method: GET
      response:
        body: '{"created_at":"2025-05-22T15:10:46.122479Z","deletable":true,"description":"","editable":true,"id":"f09ce063-ce4e-4f45-893e-da53b905da14","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:10:46.122479Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.502208ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"applications":[{"created_at":"2025-05-22T15:10:46.122479Z","deletable":true,"description":"","editable":true,"id":"f09ce063-ce4e-4f45-893e-da53b905da14","managed":false,"name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:10:46.122479Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.557209ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=951df375-e094-4d26-97c1-ba548eeb9c42
        method: GET
      response:
        body: '{"applications":[{"created_at":"2025-05-22T15:10:46.122479Z","deletable":true,"description":"tf_tests_data_source_basic_description","editable":true,"id":"f09ce063-ce4e-4f45-893e-da53b905da14","managed":false,"name":"tf_tests_data_source_basic_renamed","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:10:47.719622Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.026542ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f09ce063-ce4e-4f45-893e-da53b905da14
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"f09ce063-ce4e-4f45-893e-da53b905da14","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.864542ms
[...]
