---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.090984ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"969a125e-bdfd-46c9-a409-9434fe234d89", "created_at":"2026-06-16T10:11:46.233725Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.618222ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/969a125e-bdfd-46c9-a409-9434fe234d89/tokens
        method: POST
      response:
        body: '{"token":{"id":"4adf1661-4045-47b9-883d-5165e4f663a7", "scim_id":"969a125e-bdfd-46c9-a409-9434fe234d89", "created_at":"2026-06-16T10:11:46.728108Z", "expires_at":"2027-06-16T10:11:46.724479Z"}, "bearer_token":"NGFkZjE2NjEtNDA0NS00N2I5LTg4M2QtNTE2NWU0ZjY2M2E3.lfURl-BHeOq6LljjKRbRp4ftpJURMBt36ieLugkLsqZ3IvK_FzNGxwZy52WNKTpiXz5QEN0b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 594.669302ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/969a125e-bdfd-46c9-a409-9434fe234d89/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"4adf1661-4045-47b9-883d-5165e4f663a7", "scim_id":"969a125e-bdfd-46c9-a409-9434fe234d89", "created_at":"2026-06-16T10:11:46.728108Z", "expires_at":"2027-06-16T10:11:46.724479Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.358682ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/4adf1661-4045-47b9-883d-5165e4f663a7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 70.153663ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/969a125e-bdfd-46c9-a409-9434fe234d89
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 98.193955ms
[...]
