---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"8d2bec27-beff-4998-84ef-702b72ff8e5e","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-07-02T14:40:06.554926Z","description":"","editable":true,"id":"00bd0259-ace7-49a9-b7a5-b33e04ecfc92","name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"8d2bec27-beff-4998-84ef-702b72ff8e5e","tags":[],"updated_at":"2024-07-02T14:40:06.554926Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.192739ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/00bd0259-ace7-49a9-b7a5-b33e04ecfc92
        method: GET
      response:
        body: '{"created_at":"2024-07-02T14:40:06.554926Z","description":"","editable":true,"id":"00bd0259-ace7-49a9-b7a5-b33e04ecfc92","name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"8d2bec27-beff-4998-84ef-702b72ff8e5e","tags":[],"updated_at":"2024-07-02T14:40:06.554926Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.268018ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"00bd0259-ace7-49a9-b7a5-b33e04ecfc92","description":"tf_tests_with_application"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWTNPC2V9GZA6C4D1JQ","application_id":"00bd0259-ace7-49a9-b7a5-b33e04ecfc92","created_at":"2024-07-02T14:40:06.704277Z","creation_ip":"51.159.46.153","default_project_id":"8d2bec27-beff-4998-84ef-702b72ff8e5e","description":"tf_tests_with_application","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T14:40:06.704277Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.121176ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWTNPC2V9GZA6C4D1JQ
        method: GET
      response:
        body: '{"access_key":"SCWTNPC2V9GZA6C4D1JQ","application_id":"00bd0259-ace7-49a9-b7a5-b33e04ecfc92","created_at":"2024-07-02T14:40:06.704277Z","creation_ip":"51.159.46.153","default_project_id":"8d2bec27-beff-4998-84ef-702b72ff8e5e","description":"tf_tests_with_application","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-07-02T14:40:06.704277Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.919076ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWTNPC2V9GZA6C4D1JQ
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWTNPC2V9GZA6C4D1JQ","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.445713ms
[...]
