---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_basic","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"af51c574-398d-4a22-8b50-83f8c25e1bfc","created_at":"2026-05-19T14:51:17.226471Z","updated_at":"2026-05-19T14:51:17.226471Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_basic","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.744671ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/af51c574-398d-4a22-8b50-83f8c25e1bfc
        method: GET
      response:
        body: '{"id":"af51c574-398d-4a22-8b50-83f8c25e1bfc","created_at":"2026-05-19T14:51:17.226471Z","updated_at":"2026-05-19T14:51:17.226471Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_basic","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.05444ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_test_data_source_basic
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"id":"af51c574-398d-4a22-8b50-83f8c25e1bfc","created_at":"2026-05-19T14:51:17.226471Z","updated_at":"2026-05-19T14:51:17.226471Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_basic","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.543722ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/af51c574-398d-4a22-8b50-83f8c25e1bfc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"af51c574-398d-4a22-8b50-83f8c25e1bfc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.548114ms
[...]
