---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 225.38247ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"79033618-1261-423b-b1d6-06761ce1b9ec", "created_at":"2026-06-16T10:11:40.850259Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.231765ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/79033618-1261-423b-b1d6-06761ce1b9ec/tokens
        method: POST
      response:
        body: '{"token":{"id":"be06e49c-97d7-4033-a537-e29c5a6fd32a", "scim_id":"79033618-1261-423b-b1d6-06761ce1b9ec", "created_at":"2026-06-16T10:11:41.261206Z", "expires_at":"2027-06-16T10:11:41.257346Z"}, "bearer_token":"YmUwNmU0OWMtOTdkNy00MDMzLWE1MzctZTI5YzVhNmZkMzJh.JhkoHxrsy9meYLL50krQE4XBjZ-fKW6h4OdOAsRYct_z5ZvpUlD8kZVkF529dSszXnNwRIx0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.450015ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/79033618-1261-423b-b1d6-06761ce1b9ec/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"be06e49c-97d7-4033-a537-e29c5a6fd32a", "scim_id":"79033618-1261-423b-b1d6-06761ce1b9ec", "created_at":"2026-06-16T10:11:41.261206Z", "expires_at":"2027-06-16T10:11:41.257346Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.406067ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/be06e49c-97d7-4033-a537-e29c5a6fd32a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 129.450323ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/79033618-1261-423b-b1d6-06761ce1b9ec
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 120.37979ms
[...]
