---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_key_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"d7766a73-bdb3-4a8f-b80f-ad6c9d02dcaa\",\"name\":\"tf_tests_app_key_basic\",\"description\":\"\",\"created_at\":\"2025-09-23T13:57:48.492938Z\",\"updated_at\":\"2025-09-23T13:57:48.492938Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 789.352177ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/d7766a73-bdb3-4a8f-b80f-ad6c9d02dcaa
    method: GET
  response:
    body: "{\"id\":\"d7766a73-bdb3-4a8f-b80f-ad6c9d02dcaa\",\"name\":\"tf_tests_app_key_basic\",\"description\":\"\",\"created_at\":\"2025-09-23T13:57:48.492938Z\",\"updated_at\":\"2025-09-23T13:57:48.492938Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 157.064722ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"d7766a73-bdb3-4a8f-b80f-ad6c9d02dcaa\",\"description\":\"tf_tests_with_application\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWBS2R0GFBH4CCMCT2Z\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-23T13:57:49.452624Z\",\"updated_at\":\"2025-09-23T13:57:49.452624Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"d7766a73-bdb3-4a8f-b80f-ad6c9d02dcaa\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 448.725589ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCWBS2R0GFBH4CCMCT2Z\",\"secret_key\":null,\"description\":\"tf_tests_with_application\",\"created_at\":\"2025-09-23T13:57:49.452624Z\",\"updated_at\":\"2025-09-23T13:57:49.452624Z\",\"expires_at\":null,\"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"d7766a73-bdb3-4a8f-b80f-ad6c9d02dcaa\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 486.613886ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCWBS2R0GFBH4CCMCT2Z\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 27.212065ms
[...]
