---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.44652ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"id":"d60aec08-19d7-4d00-9fab-ebbb49a343bc", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/d60aec08-19d7-4d00-9fab-ebbb49a343bc", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/d60aec08-19d7-4d00-9fab-ebbb49a343bc/login"}, "entity_id":"", "single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.716349ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.631053ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/d60aec08-19d7-4d00-9fab-ebbb49a343bc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 70.856519ms
[...]
