---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_app_key_basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-09-05T13:58:38.949860Z","deletable":true,"description":"","editable":true,"id":"339e9f81-3113-40e1-93f3-d48964c7fdba","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2025-09-05T13:58:38.949860Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.545166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/339e9f81-3113-40e1-93f3-d48964c7fdba
        method: GET
      response:
        body: '{"created_at":"2025-09-05T13:58:38.949860Z","deletable":true,"description":"","editable":true,"id":"339e9f81-3113-40e1-93f3-d48964c7fdba","managed":false,"name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"updated_at":"2025-09-05T13:58:38.949860Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.992792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"application_id":"339e9f81-3113-40e1-93f3-d48964c7fdba","description":"tf_tests_with_application"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW77CRY47V1XP0S21HJ","application_id":"339e9f81-3113-40e1-93f3-d48964c7fdba","created_at":"2025-09-05T13:58:39.164637Z","creation_ip":"41.96.92.239","default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-05T13:58:39.164637Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.157458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW77CRY47V1XP0S21HJ
        method: GET
      response:
        body: '{"access_key":"SCW77CRY47V1XP0S21HJ","application_id":"339e9f81-3113-40e1-93f3-d48964c7fdba","created_at":"2025-09-05T13:58:39.164637Z","creation_ip":"41.96.92.239","default_project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","deletable":true,"description":"tf_tests_with_application","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-09-05T13:58:39.164637Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.764958ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW77CRY47V1XP0S21HJ
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW77CRY47V1XP0S21HJ","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.554125ms
[...]
