---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4","id":"bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4","name":"tf_tests_data_source_basic","description":"","created_at":"2026-10-07T13:42:55.245726Z","updated_at":"2026-10-07T13:42:55.245726Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.787286ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.488246ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4", "id":"bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4", "name":"tf_tests_data_source_basic", "description":"", "created_at":"2026-10-07T13:42:55.245726Z", "updated_at":"2026-10-07T13:42:55.245726Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 33.992613ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_data_source_basic
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"srn":"srn://iam.scw.eu/applications/bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4", "id":"bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4", "name":"tf_tests_data_source_basic", "description":"", "created_at":"2026-10-07T13:42:55.245726Z", "updated_at":"2026-10-07T13:42:55.245726Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 103.448222ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_data_source_basic_renamed
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"srn":"srn://iam.scw.eu/applications/bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4","id":"bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4","name":"tf_tests_data_source_basic_renamed","description":"tf_tests_data_source_basic_description","created_at":"2026-10-07T13:42:55.245726Z","updated_at":"2026-10-07T13:42:57.916060Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.466343ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"bf3b4e8f-b6af-4dd9-823b-b4ee1bcd26a4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 23.217704ms
[...]
