---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_data_source_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"c553fcf5-6296-405e-b5e2-8c6275ac62ef\", \"name\":\"tf_tests_data_source_basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.443268Z\", \"updated_at\":\"2025-11-17T17:10:30.443268Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 202.45498ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c553fcf5-6296-405e-b5e2-8c6275ac62ef
    method: GET
  response:
    body: "{\"id\":\"c553fcf5-6296-405e-b5e2-8c6275ac62ef\", \"name\":\"tf_tests_data_source_basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.443268Z\", \"updated_at\":\"2025-11-17T17:10:30.443268Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.421781ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_tests_data_source_basic
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"applications\":[{\"id\":\"c553fcf5-6296-405e-b5e2-8c6275ac62ef\", \"name\":\"tf_tests_data_source_basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.443268Z\", \"updated_at\":\"2025-11-17T17:10:30.443268Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 102.548692ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_tests_data_source_basic_renamed
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"applications\":[{\"id\":\"c553fcf5-6296-405e-b5e2-8c6275ac62ef\", \"name\":\"tf_tests_data_source_basic_renamed\", \"description\":\"tf_tests_data_source_basic_description\", \"created_at\":\"2025-11-17T17:10:30.443268Z\", \"updated_at\":\"2025-11-17T17:10:34.518311Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 74.52382ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c553fcf5-6296-405e-b5e2-8c6275ac62ef
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"application\",\"resource_id\":\"c553fcf5-6296-405e-b5e2-8c6275ac62ef\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 48.075923ms
[...]
