---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"40528fd0-37d7-4e44-bcdc-1c793431265c", "name":"tf_tests_data_source_basic", "description":"", "created_at":"2026-08-26T11:56:17.815349Z", "updated_at":"2026-08-26T11:56:17.815349Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.809969ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.744948ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/40528fd0-37d7-4e44-bcdc-1c793431265c
        method: GET
      response:
        body: '{"id":"40528fd0-37d7-4e44-bcdc-1c793431265c", "name":"tf_tests_data_source_basic", "description":"", "created_at":"2026-08-26T11:56:17.815349Z", "updated_at":"2026-08-26T11:56:17.815349Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.897687ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_data_source_basic
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"id":"40528fd0-37d7-4e44-bcdc-1c793431265c", "name":"tf_tests_data_source_basic", "description":"", "created_at":"2026-08-26T11:56:17.815349Z", "updated_at":"2026-08-26T11:56:17.815349Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.449033ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_data_source_basic_renamed
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"id":"40528fd0-37d7-4e44-bcdc-1c793431265c", "name":"tf_tests_data_source_basic_renamed", "description":"tf_tests_data_source_basic_description", "created_at":"2026-08-26T11:56:17.815349Z", "updated_at":"2026-08-26T11:56:19.948182Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.970717ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/40528fd0-37d7-4e44-bcdc-1c793431265c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"40528fd0-37d7-4e44-bcdc-1c793431265c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.38237ms
[...]
