---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_data_source_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:44:15.860261Z","description":"","editable":true,"id":"c44a7226-7e6c-4141-ac35-747c0ab8fe39","name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:44:15.860261Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c44a7226-7e6c-4141-ac35-747c0ab8fe39
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:44:15.860261Z","description":"","editable":true,"id":"c44a7226-7e6c-4141-ac35-747c0ab8fe39","name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:44:15.860261Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"applications":[{"created_at":"2023-06-21T09:44:15.860261Z","description":"","editable":true,"id":"c44a7226-7e6c-4141-ac35-747c0ab8fe39","name":"tf_tests_data_source_basic","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:44:15.860261Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"applications":[{"created_at":"2023-06-21T09:44:15.860261Z","description":"tf_tests_data_source_basic_description","editable":true,"id":"c44a7226-7e6c-4141-ac35-747c0ab8fe39","name":"tf_tests_data_source_basic_renamed","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:44:18.713962Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c44a7226-7e6c-4141-ac35-747c0ab8fe39
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_application","resource_id":"c44a7226-7e6c-4141-ac35-747c0ab8fe39","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
