---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/ef29ce05-3f2b-4fa0-a259-d76110850d57","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","email":"hashicorp@scaleway.com","username":"hashicorp@scaleway.com","first_name":"","last_name":"","phone_number":"","locale":"fr_FR","created_at":"2022-03-29T11:44:54.791271Z","updated_at":"2026-03-30T08:13:49.666782Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":false,"last_login_at":"2026-03-30T08:13:49.689533Z","type":"owner","two_factor_enabled":true,"status":"activated","mfa":true,"account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 43.680399ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.643779ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/eb528691-3b13-48b7-aa6d-3111d48b4de5","id":"eb528691-3b13-48b7-aa6d-3111d48b4de5","name":"tf_tests_iam_group_ds_app","description":"","created_at":"2026-10-07T13:42:51.294680Z","updated_at":"2026-10-07T13:42:51.294680Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "36"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 58.689125ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/eb528691-3b13-48b7-aa6d-3111d48b4de5
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/eb528691-3b13-48b7-aa6d-3111d48b4de5", "id":"eb528691-3b13-48b7-aa6d-3111d48b4de5", "name":"tf_tests_iam_group_ds_app", "description":"", "created_at":"2026-10-07T13:42:51.294680Z", "updated_at":"2026-10-07T13:42:51.294680Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 39.851833ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/38b1d8c3-4077-44bf-80e8-dab97074be2e", "id":"38b1d8c3-4077-44bf-80e8-dab97074be2e", "created_at":"2026-10-07T13:42:51.418381Z", "updated_at":"2026-10-07T13:42:51.418381Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 69.446721ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["eb528691-3b13-48b7-aa6d-3111d48b4de5"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/38b1d8c3-4077-44bf-80e8-dab97074be2e/members
        method: PUT
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/38b1d8c3-4077-44bf-80e8-dab97074be2e", "id":"38b1d8c3-4077-44bf-80e8-dab97074be2e", "created_at":"2026-10-07T13:42:51.418381Z", "updated_at":"2026-10-07T13:42:51.418381Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57", "84d20ae1-9650-419a-ab74-7ab09b6262e0"], "application_ids":["eb528691-3b13-48b7-aa6d-3111d48b4de5"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "35"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 59.767792ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/38b1d8c3-4077-44bf-80e8-dab97074be2e
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/38b1d8c3-4077-44bf-80e8-dab97074be2e", "id":"38b1d8c3-4077-44bf-80e8-dab97074be2e", "created_at":"2026-10-07T13:42:51.418381Z", "updated_at":"2026-10-07T13:42:51.418381Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0", "ef29ce05-3f2b-4fa0-a259-d76110850d57"], "application_ids":["eb528691-3b13-48b7-aa6d-3111d48b4de5"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.03974ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_test_data_source_mix
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"srn":"srn://iam.scw.eu/groups/38b1d8c3-4077-44bf-80e8-dab97074be2e", "id":"38b1d8c3-4077-44bf-80e8-dab97074be2e", "created_at":"2026-10-07T13:42:51.418381Z", "updated_at":"2026-10-07T13:42:51.418381Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0", "ef29ce05-3f2b-4fa0-a259-d76110850d57"], "application_ids":["eb528691-3b13-48b7-aa6d-3111d48b4de5"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "33"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.271609ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/38b1d8c3-4077-44bf-80e8-dab97074be2e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"38b1d8c3-4077-44bf-80e8-dab97074be2e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 36.720188ms
[...]
