---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_saml","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 128.597566ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/saml
        method: POST
      response:
        body: '{"id":"a746b0b3-7d9a-4291-a140-03ae914dac40", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/a746b0b3-7d9a-4291-a140-03ae914dac40", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/a746b0b3-7d9a-4291-a140-03ae914dac40/login"}, "entity_id":"", "single_sign_on_url":""}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.255992ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"entity_id":"https://example.com/saml/metadata","single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/saml/a746b0b3-7d9a-4291-a140-03ae914dac40
        method: PATCH
      response:
        body: '{"id":"a746b0b3-7d9a-4291-a140-03ae914dac40", "status":"missing_certificate", "service_provider":{"entity_id":"https://iam.scaleway.com/saml/a746b0b3-7d9a-4291-a140-03ae914dac40", "assertion_consumer_service_url":"https://api.scaleway.com/iam/v1/saml/a746b0b3-7d9a-4291-a140-03ae914dac40/login"}, "entity_id":"https://example.com/saml/metadata", "single_sign_on_url":"https://example.com/saml/sso"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.338081ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/saml/a746b0b3-7d9a-4291-a140-03ae914dac40
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 170.946174ms
[...]
