---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-3825680800815807070","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-10-27T14:15:55.109685Z","description":"","id":"20489b31-1589-4ef8-b7f1-d56854c56311","name":"test-acc-scaleway-project-3825680800815807070","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","qualification":null,"updated_at":"2025-10-27T14:15:55.109685Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.427722ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-4022574105066742639","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-10-27T14:15:55.345068Z","deletable":true,"description":"","editable":true,"id":"7b1feb71-adc1-4566-b05d-2c324a06a51f","managed":false,"name":"test-acc-scaleway-iam-app-4022574105066742639","nb_api_keys":0,"organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","tags":[],"updated_at":"2025-10-27T14:15:55.345068Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.476419ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-6431857504774278413","description":"","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e"}],"tags":null,"application_id":"7b1feb71-adc1-4566-b05d-2c324a06a51f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"7b1feb71-adc1-4566-b05d-2c324a06a51f","created_at":"2025-10-27T14:15:55.444120Z","deletable":true,"description":"","editable":true,"id":"8505e513-abf5-4bb2-8a48-83ff87d0c7e7","managed":false,"name":"test-acc-scaleway-iam-policy-6431857504774278413","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","tags":[],"updated_at":"2025-10-27T14:15:55.444120Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.079193ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"7b1feb71-adc1-4566-b05d-2c324a06a51f","default_project_id":"20489b31-1589-4ef8-b7f1-d56854c56311","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWDBJTHDD5F2E0N5S2T","application_id":"7b1feb71-adc1-4566-b05d-2c324a06a51f","created_at":"2025-10-27T14:15:55.574034Z","creation_ip":"51.159.73.145","default_project_id":"20489b31-1589-4ef8-b7f1-d56854c56311","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-10-27T14:15:55.574034Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.840852ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e&policy_name=test-acc-scaleway-iam-policy-6431857504774278413
        method: GET
      response:
        body: '{"policies":[{"application_id":"7b1feb71-adc1-4566-b05d-2c324a06a51f","created_at":"2025-10-27T14:15:55.444120Z","deletable":true,"description":"","editable":true,"id":"8505e513-abf5-4bb2-8a48-83ff87d0c7e7","managed":false,"name":"test-acc-scaleway-iam-policy-6431857504774278413","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","tags":[],"updated_at":"2025-10-27T14:15:55.444120Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.694871ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/8505e513-abf5-4bb2-8a48-83ff87d0c7e7
        method: GET
      response:
        body: '{"application_id":"7b1feb71-adc1-4566-b05d-2c324a06a51f","created_at":"2025-10-27T14:15:55.444120Z","deletable":true,"description":"","editable":true,"id":"8505e513-abf5-4bb2-8a48-83ff87d0c7e7","managed":false,"name":"test-acc-scaleway-iam-policy-6431857504774278413","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","tags":[],"updated_at":"2025-10-27T14:15:55.444120Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.789734ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=8505e513-abf5-4bb2-8a48-83ff87d0c7e7
        method: GET
      response:
        body: '{"rules":[{"condition":"","id":"8284e980-a693-43d2-9b3f-6db845e72f30","organization_id":"57a1e028-d7d3-4a4e-80cf-52cef8fd0d3e","permission_set_names":["IAMManager"],"permission_sets_scope_type":"organization"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.924244ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWDBJTHDD5F2E0N5S2T
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 71.770322ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7b1feb71-adc1-4566-b05d-2c324a06a51f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.160489ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/20489b31-1589-4ef8-b7f1-d56854c56311
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.970445254s
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/8505e513-abf5-4bb2-8a48-83ff87d0c7e7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"8505e513-abf5-4bb2-8a48-83ff87d0c7e7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.94281ms
[...]
