---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"84a85754-1f5a-4f8e-8c9e-c9b3b91a8b09","name":"tf_tests_data_source_basic","description":"","created_at":"2026-05-21T14:56:47.615632Z","updated_at":"2026-05-21T14:56:47.615632Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.051452ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/84a85754-1f5a-4f8e-8c9e-c9b3b91a8b09
        method: GET
      response:
        body: '{"id":"84a85754-1f5a-4f8e-8c9e-c9b3b91a8b09","name":"tf_tests_data_source_basic","description":"","created_at":"2026-05-21T14:56:47.615632Z","updated_at":"2026-05-21T14:56:47.615632Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.227855ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_data_source_basic
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"id":"84a85754-1f5a-4f8e-8c9e-c9b3b91a8b09","name":"tf_tests_data_source_basic","description":"","created_at":"2026-05-21T14:56:47.615632Z","updated_at":"2026-05-21T14:56:47.615632Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.418659ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_tests_data_source_basic_renamed
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"applications":[{"id":"84a85754-1f5a-4f8e-8c9e-c9b3b91a8b09","name":"tf_tests_data_source_basic_renamed","description":"tf_tests_data_source_basic_description","created_at":"2026-05-21T14:56:47.615632Z","updated_at":"2026-05-21T14:56:49.432064Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.410849ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/84a85754-1f5a-4f8e-8c9e-c9b3b91a8b09
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"application","resource_id":"84a85754-1f5a-4f8e-8c9e-c9b3b91a8b09","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.856538ms
[...]
