---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      page:
      - "1"
      type:
      - unknown_type
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=11111111-1111-1111-1111-111111111111&page=1&type=unknown_type
    method: GET
  response:
    body: "{\"users\":[{\"id\":\"ef29ce05-3f2b-4fa0-a259-d76110850d57\", \"email\":\"hashicorp@scaleway.com\", \"username\":\"hashicorp@scaleway.com\", \"first_name\":\"\", \"last_name\":\"\", \"phone_number\":\"\", \"locale\":\"fr_FR\", \"created_at\":\"2022-03-29T11:44:54.791271Z\", \"updated_at\":\"2025-03-05T14:31:18.088783Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":false, \"last_login_at\":\"2024-06-18T21:39:22.182798Z\", \"type\":\"owner\", \"two_factor_enabled\":true, \"status\":\"activated\", \"mfa\":true, \"account_root_user_id\":\"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1\", \"tags\":[], \"locked\":false}, {\"id\":\"84d20ae1-9650-419a-ab74-7ab09b6262e0\", \"email\":\"developer-tools-team@scaleway.com\", \"username\":\"developer-tools-team@scaleway.com\", \"first_name\":\"Developper Tools\", \"last_name\":\"TEAM\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2023-01-23T15:16:01.748877Z\", \"updated_at\":\"2025-06-23T13:16:39.476255Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor[...]
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"member\":{\"email\":\"testdatasourceuser@scaleway.com\",\"send_password_email\":false,\"send_welcome_email\":false,\"username\":\"testdatasourceuser\",\"password\":\"\",\"first_name\":\"\",\"last_name\":\"\",\"phone_number\":\"\",\"locale\":\"\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users
    method: POST
  response:
    body: "{\"id\":\"aaefcc48-08a0-44ee-8a71-039781ef8955\", \"email\":\"testdatasourceuser@scaleway.com\", \"username\":\"testdatasourceuser\", \"first_name\":\"\", \"last_name\":\"\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-11-21T17:18:17.932750Z\", \"updated_at\":\"2025-11-21T17:18:17.932750Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 481.874708ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/aaefcc48-08a0-44ee-8a71-039781ef8955
    method: GET
  response:
    body: "{\"id\":\"aaefcc48-08a0-44ee-8a71-039781ef8955\", \"email\":\"testdatasourceuser@scaleway.com\", \"username\":\"testdatasourceuser\", \"first_name\":\"\", \"last_name\":\"\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2025-11-21T17:18:17.932750Z\", \"updated_at\":\"2025-11-21T17:18:17.932750Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":false, \"status\":\"activated\", \"mfa\":false, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 246.144298ms
[...]
