---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","email":"developer-tools-team@scaleway.com","username":"developer-tools-team@scaleway.com","first_name":"Developper Tools","last_name":"TEAM","phone_number":"","locale":"en_US","created_at":"2023-01-23T15:16:01.748877Z","updated_at":"2025-06-23T13:16:39.476255Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":true,"status":"activated","mfa":true,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.106109ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"87cd247f-9f6a-4610-b5c3-99b2e10bc2d8","name":"tf_tests_iam_group_ds_app","description":"","created_at":"2026-05-19T14:51:17.557219Z","updated_at":"2026-05-19T14:51:17.557219Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.019337ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/87cd247f-9f6a-4610-b5c3-99b2e10bc2d8
        method: GET
      response:
        body: '{"id":"87cd247f-9f6a-4610-b5c3-99b2e10bc2d8","name":"tf_tests_iam_group_ds_app","description":"","created_at":"2026-05-19T14:51:17.557219Z","updated_at":"2026-05-19T14:51:17.557219Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.008164ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b","created_at":"2026-05-19T14:51:17.753263Z","updated_at":"2026-05-19T14:51:17.753263Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.892473ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["87cd247f-9f6a-4610-b5c3-99b2e10bc2d8"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b/members
        method: PUT
      response:
        body: '{"id":"a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b","created_at":"2026-05-19T14:51:17.753263Z","updated_at":"2026-05-19T14:51:17.753263Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["87cd247f-9f6a-4610-b5c3-99b2e10bc2d8"],"tags":[],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.888192ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b
        method: GET
      response:
        body: '{"id":"a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b","created_at":"2026-05-19T14:51:17.753263Z","updated_at":"2026-05-19T14:51:17.753263Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"],"application_ids":["87cd247f-9f6a-4610-b5c3-99b2e10bc2d8"],"tags":[],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.585148ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_test_data_source_mix
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"id":"a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b","created_at":"2026-05-19T14:51:17.753263Z","updated_at":"2026-05-19T14:51:17.753263Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"],"application_ids":["87cd247f-9f6a-4610-b5c3-99b2e10bc2d8"],"tags":[],"editable":true,"deletable":true,"managed":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.420861ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"a4a2412c-9752-4cee-bcd0-f5d1f8de5b5b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.828091ms
[...]
