---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf_test_data_source_basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-22T15:12:47.801160Z","deletable":true,"description":"","editable":true,"id":"e8fe707c-5cf3-4538-9daa-5506879df2b6","managed":false,"name":"tf_test_data_source_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:12:47.801160Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.125292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/e8fe707c-5cf3-4538-9daa-5506879df2b6
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-05-22T15:12:47.801160Z","deletable":true,"description":"","editable":true,"id":"e8fe707c-5cf3-4538-9daa-5506879df2b6","managed":false,"name":"tf_test_data_source_basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2025-05-22T15:12:47.801160Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.963708ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"details":[{"action":"read","resource":"group"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 36.100292ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/e8fe707c-5cf3-4538-9daa-5506879df2b6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"e8fe707c-5cf3-4538-9daa-5506879df2b6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.352083ms
[...]
