---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6957021599490919999","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"srn":"srn://account.scw.eu/projects/fee98cb5-5841-4ddd-a72a-6e9347c51c88","id":"fee98cb5-5841-4ddd-a72a-6e9347c51c88","name":"tf-test-scaleway-project-6957021599490919999","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:39.241724Z","updated_at":"2026-10-07T13:41:39.241724Z","description":"","qualification":null,"status":"active"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 793.492418ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 35.575721ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1977830196510655025","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce","id":"62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce","name":"tf-test-scaleway-iam-app-1977830196510655025","description":"","created_at":"2026-10-07T13:41:39.792672Z","updated_at":"2026-10-07T13:41:39.792672Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 124.105409ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-2627859843140151337","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/b55b3c2d-6576-46d9-97f3-2924524b9dcc", "id":"b55b3c2d-6576-46d9-97f3-2924524b9dcc", "name":"tf-test-scaleway-iam-policy-2627859843140151337", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:39.872555Z", "updated_at":"2026-10-07T13:41:39.872555Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 113.211518ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce","default_project_id":"fee98cb5-5841-4ddd-a72a-6e9347c51c88","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/api-keys/SCWKR0QT1PD65EJYXACB", "access_key":"SCWXXXXXXXXXXXXXXXXX", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-10-07T13:41:40.134535Z", "updated_at":"2026-10-07T13:41:40.134535Z", "expires_at":null, "default_project_id":"fee98cb5-5841-4ddd-a72a-6e9347c51c88", "editable":true, "deletable":true, "managed":false, "creation_ip":"88.178.0.12", "application_id":"62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 237.190911ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/b55b3c2d-6576-46d9-97f3-2924524b9dcc
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/policies/b55b3c2d-6576-46d9-97f3-2924524b9dcc", "id":"b55b3c2d-6576-46d9-97f3-2924524b9dcc", "name":"tf-test-scaleway-iam-policy-2627859843140151337", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-10-07T13:41:39.872555Z", "updated_at":"2026-10-07T13:41:39.872555Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "application_id":"62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 47.724237ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            policy_name:
                - tf-test-scaleway-iam-policy-2627859843140151337
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&policy_name=tf-test-scaleway-iam-policy-2627859843140151337
        method: GET
      response:
        body: '{"policies":[{"srn":"srn://iam.scw.eu/policies/b55b3c2d-6576-46d9-97f3-2924524b9dcc","id":"b55b3c2d-6576-46d9-97f3-2924524b9dcc","name":"tf-test-scaleway-iam-policy-2627859843140151337","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2026-10-07T13:41:39.872555Z","updated_at":"2026-10-07T13:41:39.872555Z","editable":true,"deletable":true,"managed":false,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"tags":[],"application_id":"62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 92.959235ms
    - id: 7
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - b55b3c2d-6576-46d9-97f3-2924524b9dcc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=b55b3c2d-6576-46d9-97f3-2924524b9dcc
        method: GET
      response:
        body: '{"rules":[{"srn":"srn://iam.scw.eu/rules/2e509acf-fc2a-45f4-b1bf-159d42d99258","id":"2e509acf-fc2a-45f4-b1bf-159d42d99258","permission_set_names":["IAMManager"],"permission_sets_scope_type":"organization","condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.981923ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 101.883727ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/62e5e58b-3ae8-43e6-bfdd-97aebb7f3bce
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 47.441195ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/fee98cb5-5841-4ddd-a72a-6e9347c51c88
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 204 No Content
        code: 204
        duration: 1.558846001s
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/b55b3c2d-6576-46d9-97f3-2924524b9dcc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"b55b3c2d-6576-46d9-97f3-2924524b9dcc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 30.336921ms
[...]
