---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"organization_scim","resource_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.539385ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/organizations/105bdce1-64c0-48ab-899d-868455867ecf/scim
        method: POST
      response:
        body: '{"id":"054754a1-1ecf-4b74-a8ad-9790425dea1b", "created_at":"2026-06-16T10:11:43.706557Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.640285ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/054754a1-1ecf-4b74-a8ad-9790425dea1b/tokens
        method: POST
      response:
        body: '{"token":{"id":"b08ce778-7c65-451d-a89d-d6e00dc0ce54", "scim_id":"054754a1-1ecf-4b74-a8ad-9790425dea1b", "created_at":"2026-06-16T10:11:44.100969Z", "expires_at":"2027-06-16T10:11:44.096686Z"}, "bearer_token":"YjA4Y2U3NzgtN2M2NS00NTFkLWE4OWQtZDZlMDBkYzBjZTU0.RJIxsHFVHe0OeIlqplig48FE79N7naOcUcciYYuRLLblosZDi0Sns_bP_zFSSkJw_Z1XxZ-x"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 402.58867ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            order_by:
                - created_at_asc
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/054754a1-1ecf-4b74-a8ad-9790425dea1b/tokens?order_by=created_at_asc
        method: GET
      response:
        body: '{"scim_tokens":[{"id":"b08ce778-7c65-451d-a89d-d6e00dc0ce54", "scim_id":"054754a1-1ecf-4b74-a8ad-9790425dea1b", "created_at":"2026-06-16T10:11:44.100969Z", "expires_at":"2027-06-16T10:11:44.096686Z"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.271197ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim-tokens/b08ce778-7c65-451d-a89d-d6e00dc0ce54
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 71.186988ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/scim/054754a1-1ecf-4b74-a8ad-9790425dea1b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 125.687008ms
[...]
