---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
        method: GET
      response:
        body: '{"id":"ef29ce05-3f2b-4fa0-a259-d76110850d57", "email":"hashicorp@scaleway.com", "username":"hashicorp@scaleway.com", "first_name":"", "last_name":"", "phone_number":"", "locale":"fr_FR", "created_at":"2022-03-29T11:44:54.791271Z", "updated_at":"2026-03-30T08:13:49.666782Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":false, "last_login_at":"2026-03-30T08:13:49.689533Z", "type":"owner", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.884381ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.933612ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"68e3495f-3cfc-438e-a3c7-c6f36b68dbb3", "name":"tf_tests_iam_group_ds_app", "description":"", "created_at":"2026-08-26T11:56:37.572247Z", "updated_at":"2026-08-26T11:56:37.572247Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.040781ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/68e3495f-3cfc-438e-a3c7-c6f36b68dbb3
        method: GET
      response:
        body: '{"id":"68e3495f-3cfc-438e-a3c7-c6f36b68dbb3", "name":"tf_tests_iam_group_ds_app", "description":"", "created_at":"2026-08-26T11:56:37.572247Z", "updated_at":"2026-08-26T11:56:37.572247Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.918341ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"de481490-2d8f-482c-a26c-4aba2e3c1d71", "created_at":"2026-08-26T11:56:37.731769Z", "updated_at":"2026-08-26T11:56:37.731769Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.988052ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["68e3495f-3cfc-438e-a3c7-c6f36b68dbb3"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/de481490-2d8f-482c-a26c-4aba2e3c1d71/members
        method: PUT
      response:
        body: '{"id":"de481490-2d8f-482c-a26c-4aba2e3c1d71", "created_at":"2026-08-26T11:56:37.731769Z", "updated_at":"2026-08-26T11:56:37.731769Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57", "84d20ae1-9650-419a-ab74-7ab09b6262e0"], "application_ids":["68e3495f-3cfc-438e-a3c7-c6f36b68dbb3"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.812183ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/de481490-2d8f-482c-a26c-4aba2e3c1d71
        method: GET
      response:
        body: '{"id":"de481490-2d8f-482c-a26c-4aba2e3c1d71", "created_at":"2026-08-26T11:56:37.731769Z", "updated_at":"2026-08-26T11:56:37.731769Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0", "ef29ce05-3f2b-4fa0-a259-d76110850d57"], "application_ids":["68e3495f-3cfc-438e-a3c7-c6f36b68dbb3"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.976067ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - tf_test_data_source_mix
            order_by:
                - created_at_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"id":"de481490-2d8f-482c-a26c-4aba2e3c1d71", "created_at":"2026-08-26T11:56:37.731769Z", "updated_at":"2026-08-26T11:56:37.731769Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_test_data_source_mix", "description":"", "user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0", "ef29ce05-3f2b-4fa0-a259-d76110850d57"], "application_ids":["68e3495f-3cfc-438e-a3c7-c6f36b68dbb3"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.920733ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/de481490-2d8f-482c-a26c-4aba2e3c1d71
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"de481490-2d8f-482c-a26c-4aba2e3c1d71","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.991768ms
[...]
