---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6086462781640251625","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"id":"ffc02e13-0184-4870-a136-1329655b8d80", "name":"tf-test-scaleway-project-6086462781640251625", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-26T11:58:28.913994Z", "updated_at":"2026-08-26T11:58:28.913994Z", "description":"", "qualification":null, "status":"unknown_status"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 855.081456ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-9136106182788792149","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"id":"7eaac55b-e430-41c7-82c4-e74f2c68b171", "name":"tf-test-scaleway-iam-app-9136106182788792149", "description":"", "created_at":"2026-08-26T11:58:29.562531Z", "updated_at":"2026-08-26T11:58:29.562531Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.417358ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.368137ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-9203035016023328237","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"condition":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"7eaac55b-e430-41c7-82c4-e74f2c68b171"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"id":"8886a37a-6ac4-44a7-9187-ed41cd8c524e", "name":"tf-test-scaleway-iam-policy-9203035016023328237", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-26T11:58:29.702855Z", "updated_at":"2026-08-26T11:58:29.702855Z", "editable":true, "deletable":true, "managed":false, "nb_rules":0, "nb_scopes":0, "nb_permission_sets":0, "tags":[], "application_id":"7eaac55b-e430-41c7-82c4-e74f2c68b171"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.389582ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"7eaac55b-e430-41c7-82c4-e74f2c68b171","default_project_id":"ffc02e13-0184-4870-a136-1329655b8d80","description":""}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW77XA0ZCGY8C4RXHD8", "secret_key":"11111111-1111-1111-1111-111111111111", "description":"", "created_at":"2026-08-26T11:58:30.031384Z", "updated_at":"2026-08-26T11:58:30.031384Z", "expires_at":null, "default_project_id":"ffc02e13-0184-4870-a136-1329655b8d80", "editable":true, "deletable":true, "managed":false, "creation_ip":"51.159.73.9", "application_id":"7eaac55b-e430-41c7-82c4-e74f2c68b171"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.841558ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            order_by:
                - policy_name_asc
            organization_id:
                - 105bdce1-64c0-48ab-899d-868455867ecf
            policy_name:
                - tf-test-scaleway-iam-policy-9203035016023328237
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies?order_by=policy_name_asc&organization_id=11111111-1111-1111-1111-111111111111&policy_name=tf-test-scaleway-iam-policy-9203035016023328237
        method: GET
      response:
        body: '{"policies":[{"id":"8886a37a-6ac4-44a7-9187-ed41cd8c524e", "name":"tf-test-scaleway-iam-policy-9203035016023328237", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-26T11:58:29.702855Z", "updated_at":"2026-08-26T11:58:29.702855Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "application_id":"7eaac55b-e430-41c7-82c4-e74f2c68b171"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.932827ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/8886a37a-6ac4-44a7-9187-ed41cd8c524e
        method: GET
      response:
        body: '{"id":"8886a37a-6ac4-44a7-9187-ed41cd8c524e", "name":"tf-test-scaleway-iam-policy-9203035016023328237", "description":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "created_at":"2026-08-26T11:58:29.702855Z", "updated_at":"2026-08-26T11:58:29.702855Z", "editable":true, "deletable":true, "managed":false, "nb_rules":1, "nb_scopes":1, "nb_permission_sets":1, "tags":[], "application_id":"7eaac55b-e430-41c7-82c4-e74f2c68b171"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.114649ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            policy_id:
                - 8886a37a-6ac4-44a7-9187-ed41cd8c524e
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=8886a37a-6ac4-44a7-9187-ed41cd8c524e
        method: GET
      response:
        body: '{"rules":[{"id":"cc6b0d02-eb0e-4494-9ba0-ebfb063dc95f", "permission_set_names":["IAMManager"], "permission_sets_scope_type":"organization", "condition":"", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.446702ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 107.295383ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7eaac55b-e430-41c7-82c4-e74f2c68b171
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 99.015926ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/account/v3/projects/ffc02e13-0184-4870-a136-1329655b8d80
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.684105431s
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/8886a37a-6ac4-44a7-9187-ed41cd8c524e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"policy","resource_id":"8886a37a-6ac4-44a7-9187-ed41cd8c524e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.648966ms
[...]
