---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"account_root_user_id":"e455b334-f426-4b1e-ab2f-913c31aa199c","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","tags":[],"two_factor_enabled":true,"type":"guest","updated_at":"2025-01-07T13:40:54.776253Z","username":"developer-tools-team@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.549958ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:40.140841Z","deletable":true,"description":"","editable":true,"id":"4f9e3f3d-04fc-44d9-bb36-508100da7fd2","managed":false,"name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.140841Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.86375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4f9e3f3d-04fc-44d9-bb36-508100da7fd2
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:40.140841Z","deletable":true,"description":"","editable":true,"id":"4f9e3f3d-04fc-44d9-bb36-508100da7fd2","managed":false,"name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.140841Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.27325ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:40.365610Z","deletable":true,"description":"","editable":true,"id":"14f78265-a036-477e-8136-5488b603a2a8","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.365610Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.74575ms
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["4f9e3f3d-04fc-44d9-bb36-508100da7fd2"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/14f78265-a036-477e-8136-5488b603a2a8/members
        method: PUT
      response:
        body: '{"application_ids":["4f9e3f3d-04fc-44d9-bb36-508100da7fd2"],"created_at":"2025-01-22T15:32:40.365610Z","deletable":false,"description":"","editable":false,"id":"14f78265-a036-477e-8136-5488b603a2a8","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.365610Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.494583ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/14f78265-a036-477e-8136-5488b603a2a8
        method: GET
      response:
        body: '{"application_ids":["4f9e3f3d-04fc-44d9-bb36-508100da7fd2"],"created_at":"2025-01-22T15:32:40.365610Z","deletable":true,"description":"","editable":true,"id":"14f78265-a036-477e-8136-5488b603a2a8","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.365610Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.934542ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"application_ids":["4f9e3f3d-04fc-44d9-bb36-508100da7fd2"],"created_at":"2025-01-22T15:32:40.365610Z","deletable":true,"description":"","editable":true,"id":"14f78265-a036-477e-8136-5488b603a2a8","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.365610Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 454.254459ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/14f78265-a036-477e-8136-5488b603a2a8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"14f78265-a036-477e-8136-5488b603a2a8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.715292ms
[...]
