---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:33:00.255403Z","deletable":true,"description":"","editable":true,"id":"d9759ac6-0171-4030-a559-33f7bec94da4","managed":false,"name":"tf_test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:00.255403Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.900417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/d9759ac6-0171-4030-a559-33f7bec94da4
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:33:00.255403Z","deletable":true,"description":"","editable":true,"id":"d9759ac6-0171-4030-a559-33f7bec94da4","managed":false,"name":"tf_test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:00.255403Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.701667ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"application_ids":[],"created_at":"2025-01-22T15:33:00.255403Z","deletable":true,"description":"","editable":true,"id":"d9759ac6-0171-4030-a559-33f7bec94da4","managed":false,"name":"tf_test_data_source_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:33:00.255403Z","user_ids":[]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.231625ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/d9759ac6-0171-4030-a559-33f7bec94da4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"d9759ac6-0171-4030-a559-33f7bec94da4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.079584ms
[...]
