---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","first_name":"Developper Tools","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"last_name":"TEAM","locale":"en_US","locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"activated","tags":[],"two_factor_enabled":true,"type":"member","updated_at":"2025-06-23T13:16:39.476255Z","username":"developer-tools-team@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.585834ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-09-05T14:01:21.642783Z","deletable":true,"description":"","editable":true,"id":"9487861d-fb4b-42b4-abf7-704140bd694d","managed":false,"name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:21.642783Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.906583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/9487861d-fb4b-42b4-abf7-704140bd694d
        method: GET
      response:
        body: '{"created_at":"2025-09-05T14:01:21.642783Z","deletable":true,"description":"","editable":true,"id":"9487861d-fb4b-42b4-abf7-704140bd694d","managed":false,"name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:21.642783Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.043375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-09-05T14:01:22.168791Z","deletable":true,"description":"","editable":true,"id":"c68a8fc4-79c4-4f11-ba28-3b997b8d3c66","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:22.168791Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.899083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["9487861d-fb4b-42b4-abf7-704140bd694d"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/c68a8fc4-79c4-4f11-ba28-3b997b8d3c66/members
        method: PUT
      response:
        body: '{"application_ids":["9487861d-fb4b-42b4-abf7-704140bd694d"],"created_at":"2025-09-05T14:01:22.168791Z","deletable":true,"description":"","editable":true,"id":"c68a8fc4-79c4-4f11-ba28-3b997b8d3c66","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:22.168791Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.914417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/c68a8fc4-79c4-4f11-ba28-3b997b8d3c66
        method: GET
      response:
        body: '{"application_ids":["9487861d-fb4b-42b4-abf7-704140bd694d"],"created_at":"2025-09-05T14:01:22.168791Z","deletable":true,"description":"","editable":true,"id":"c68a8fc4-79c4-4f11-ba28-3b997b8d3c66","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:22.168791Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.585959ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"application_ids":["9487861d-fb4b-42b4-abf7-704140bd694d"],"created_at":"2025-09-05T14:01:22.168791Z","deletable":true,"description":"","editable":true,"id":"c68a8fc4-79c4-4f11-ba28-3b997b8d3c66","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:01:22.168791Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.170458ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/c68a8fc4-79c4-4f11-ba28-3b997b8d3c66
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"c68a8fc4-79c4-4f11-ba28-3b997b8d3c66","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.851083ms
[...]
