---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
        method: GET
      response:
        body: '{"account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1","created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","first_name":"","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2024-06-18T21:39:22.182798Z","last_name":"","locale":"fr_FR","locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","phone_number":"","status":"activated","tags":[],"two_factor_enabled":true,"type":"owner","updated_at":"2025-03-05T14:31:18.088783Z","username":"hashicorp@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.650083ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-26T14:47:36.544232Z","deletable":true,"description":"","editable":true,"id":"f631fb3f-ce2c-45fc-b6b9-16c9ca8ed242","managed":false,"name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-05-26T14:47:36.544232Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.364416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f631fb3f-ce2c-45fc-b6b9-16c9ca8ed242
        method: GET
      response:
        body: '{"created_at":"2025-05-26T14:47:36.544232Z","deletable":true,"description":"","editable":true,"id":"f631fb3f-ce2c-45fc-b6b9-16c9ca8ed242","managed":false,"name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-05-26T14:47:36.544232Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.416625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-26T14:47:36.829260Z","deletable":true,"description":"","editable":true,"id":"41254fe9-1f63-4234-940d-9b23675a7e4a","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-05-26T14:47:36.829260Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.437875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["f631fb3f-ce2c-45fc-b6b9-16c9ca8ed242"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/41254fe9-1f63-4234-940d-9b23675a7e4a/members
        method: PUT
      response:
        body: '{"application_ids":["f631fb3f-ce2c-45fc-b6b9-16c9ca8ed242"],"created_at":"2025-05-26T14:47:36.829260Z","deletable":true,"description":"","editable":true,"id":"41254fe9-1f63-4234-940d-9b23675a7e4a","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-05-26T14:47:36.829260Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.4645ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/41254fe9-1f63-4234-940d-9b23675a7e4a
        method: GET
      response:
        body: '{"application_ids":["f631fb3f-ce2c-45fc-b6b9-16c9ca8ed242"],"created_at":"2025-05-26T14:47:36.829260Z","deletable":true,"description":"","editable":true,"id":"41254fe9-1f63-4234-940d-9b23675a7e4a","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-05-26T14:47:36.829260Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.108333ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: GET
      response:
        body: '{"groups":[{"application_ids":["f631fb3f-ce2c-45fc-b6b9-16c9ca8ed242"],"created_at":"2025-05-26T14:47:36.829260Z","deletable":true,"description":"","editable":true,"id":"41254fe9-1f63-4234-940d-9b23675a7e4a","managed":false,"name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-05-26T14:47:36.829260Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.942125ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/41254fe9-1f63-4234-940d-9b23675a7e4a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"41254fe9-1f63-4234-940d-9b23675a7e4a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.938041ms
[...]
