---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_test_data_source_basic\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"74e335ac-cfe9-419d-b265-bbc119d8136d\",\"created_at\":\"2025-09-05T12:00:43.703611Z\",\"updated_at\":\"2025-09-05T12:00:43.703611Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_test_data_source_basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 249.040605ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/74e335ac-cfe9-419d-b265-bbc119d8136d
    method: GET
  response:
    body: "{\"id\":\"74e335ac-cfe9-419d-b265-bbc119d8136d\",\"created_at\":\"2025-09-05T12:00:43.703611Z\",\"updated_at\":\"2025-09-05T12:00:43.703611Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_test_data_source_basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 213.699883ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_test_data_source_basic
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"groups\":[{\"id\":\"74e335ac-cfe9-419d-b265-bbc119d8136d\",\"created_at\":\"2025-09-05T12:00:43.703611Z\",\"updated_at\":\"2025-09-05T12:00:43.703611Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_test_data_source_basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 425.78978ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/74e335ac-cfe9-419d-b265-bbc119d8136d
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"74e335ac-cfe9-419d-b265-bbc119d8136d\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.352927ms
[...]
