---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_data_source_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"0cc5c0f4-2439-441d-a6ab-f423f0bd5f99\",\"name\":\"tf_tests_data_source_basic\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:48.875742Z\",\"updated_at\":\"2025-09-05T12:00:48.875742Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 165.887121ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/0cc5c0f4-2439-441d-a6ab-f423f0bd5f99
    method: GET
  response:
    body: "{\"id\":\"0cc5c0f4-2439-441d-a6ab-f423f0bd5f99\",\"name\":\"tf_tests_data_source_basic\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:48.875742Z\",\"updated_at\":\"2025-09-05T12:00:48.875742Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 232.353444ms
[...]
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_tests_data_source_basic
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"applications\":[{\"id\":\"0cc5c0f4-2439-441d-a6ab-f423f0bd5f99\",\"name\":\"tf_tests_data_source_basic\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:48.875742Z\",\"updated_at\":\"2025-09-05T12:00:48.875742Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 150.592759ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    form:
      name:
      - tf_tests_data_source_basic_renamed
      order_by:
      - created_at_asc
      organization_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=tf_tests_data_source_basic_renamed&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: "{\"applications\":[{\"id\":\"0cc5c0f4-2439-441d-a6ab-f423f0bd5f99\",\"name\":\"tf_tests_data_source_basic_renamed\",\"description\":\"tf_tests_data_source_basic_description\",\"created_at\":\"2025-09-05T12:00:48.875742Z\",\"updated_at\":\"2025-09-05T12:00:58.793869Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 157.490136ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/0cc5c0f4-2439-441d-a6ab-f423f0bd5f99
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"application\",\"resource_id\":\"0cc5c0f4-2439-441d-a6ab-f423f0bd5f99\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.986342ms
[...]
