---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_app_key_basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"20891ce8-d2de-40c6-90b7-4247fd2a30cf\", \"name\":\"tf_tests_app_key_basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.352766Z\", \"updated_at\":\"2025-11-17T17:10:30.352766Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.410408ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/20891ce8-d2de-40c6-90b7-4247fd2a30cf
    method: GET
  response:
    body: "{\"id\":\"20891ce8-d2de-40c6-90b7-4247fd2a30cf\", \"name\":\"tf_tests_app_key_basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:30.352766Z\", \"updated_at\":\"2025-11-17T17:10:30.352766Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 183.309436ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"20891ce8-d2de-40c6-90b7-4247fd2a30cf\",\"description\":\"tf_tests_with_application\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCW7722HBHY8FWFX1A56\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"tf_tests_with_application\", \"created_at\":\"2025-11-17T17:10:30.794433Z\", \"updated_at\":\"2025-11-17T17:10:30.794433Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"20891ce8-d2de-40c6-90b7-4247fd2a30cf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 252.965068ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"access_key\":\"SCW7722HBHY8FWFX1A56\", \"secret_key\":null, \"description\":\"tf_tests_with_application\", \"created_at\":\"2025-11-17T17:10:30.794433Z\", \"updated_at\":\"2025-11-17T17:10:30.794433Z\", \"expires_at\":null, \"default_project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"51.159.46.153\", \"application_id\":\"20891ce8-d2de-40c6-90b7-4247fd2a30cf\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 204.885823ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"access_key\",\"resource_id\":\"SCW7722HBHY8FWFX1A56\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 38.952396ms
[...]
