---
version: 2
interactions:
- request:
    body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-25T13:29:39.089184Z","description":"","editable":true,"id":"13166e4c-f9e3-4d6e-a937-64c0cc9a5203","name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:29:39.089184Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-basic","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T13:29:39.060201Z","description":"","id":"a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:29:39.060201Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T13:29:39.060201Z","description":"","id":"a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:29:39.060201Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/13166e4c-f9e3-4d6e-a937-64c0cc9a5203
    method: GET
  response:
    body: '{"created_at":"2023-07-25T13:29:39.089184Z","description":"","editable":true,"id":"13166e4c-f9e3-4d6e-a937-64c0cc9a5203","name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:29:39.089184Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"application_id":"13166e4c-f9e3-4d6e-a937-64c0cc9a5203"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0/add-member
    method: POST
  response:
    body: '{"application_ids":["13166e4c-f9e3-4d6e-a937-64c0cc9a5203"],"created_at":"2023-07-25T13:29:39.060201Z","description":"","id":"a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:29:39.060201Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"application_id":"13166e4c-f9e3-4d6e-a937-64c0cc9a5203"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T13:29:39.060201Z","description":"","id":"a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:29:39.060201Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"a22f0b51-79d3-43b7-8fc2-4bc3c03c3ad0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
