---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:39.812789Z","deletable":true,"description":"","editable":true,"id":"7b1fa769-65f2-4bb0-825a-ff74ed66c24b","managed":false,"name":"tf_tests_iam_group_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:39.812789Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.768ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7b1fa769-65f2-4bb0-825a-ff74ed66c24b
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:39.812789Z","deletable":true,"description":"","editable":true,"id":"7b1fa769-65f2-4bb0-825a-ff74ed66c24b","managed":false,"name":"tf_tests_iam_group_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:39.812789Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.3795ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_app","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:40.031368Z","deletable":true,"description":"","editable":true,"id":"3d8e071b-e4b5-4b12-916b-67162e540f90","managed":false,"name":"tf_tests_iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.031368Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.321458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["7b1fa769-65f2-4bb0-825a-ff74ed66c24b"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/3d8e071b-e4b5-4b12-916b-67162e540f90/members
        method: PUT
      response:
        body: '{"application_ids":["7b1fa769-65f2-4bb0-825a-ff74ed66c24b"],"created_at":"2025-01-22T15:32:40.031368Z","deletable":false,"description":"","editable":false,"id":"3d8e071b-e4b5-4b12-916b-67162e540f90","managed":false,"name":"tf_tests_iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.031368Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.219583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/3d8e071b-e4b5-4b12-916b-67162e540f90
        method: GET
      response:
        body: '{"application_ids":["7b1fa769-65f2-4bb0-825a-ff74ed66c24b"],"created_at":"2025-01-22T15:32:40.031368Z","deletable":true,"description":"","editable":true,"id":"3d8e071b-e4b5-4b12-916b-67162e540f90","managed":false,"name":"tf_tests_iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.031368Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.738291ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: '{"application_id":"8fde8388-11cd-4927-a46f-7ee48546b898"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/3d8e071b-e4b5-4b12-916b-67162e540f90/remove-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:40.031368Z","deletable":true,"description":"","editable":true,"id":"3d8e071b-e4b5-4b12-916b-67162e540f90","managed":false,"name":"tf_tests_iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:40.031368Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.576791ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/3d8e071b-e4b5-4b12-916b-67162e540f90
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"3d8e071b-e4b5-4b12-916b-67162e540f90","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.197209ms
[...]
