---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_iam_group_app\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"8eaf4dea-1d05-406d-895c-dca7f8d70ed3\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:28.292890Z\",\"updated_at\":\"2025-09-05T12:00:28.292890Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 232.281342ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/8eaf4dea-1d05-406d-895c-dca7f8d70ed3
    method: GET
  response:
    body: "{\"id\":\"8eaf4dea-1d05-406d-895c-dca7f8d70ed3\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:28.292890Z\",\"updated_at\":\"2025-09-05T12:00:28.292890Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 416.235725ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"6c71f0e8-6053-491a-8d28-59650c01cd0f\",\"created_at\":\"2025-09-05T12:00:28.966784Z\",\"updated_at\":\"2025-09-05T12:00:28.966784Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 226.92778ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[],\"application_ids\":[\"8eaf4dea-1d05-406d-895c-dca7f8d70ed3\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c71f0e8-6053-491a-8d28-59650c01cd0f/members
    method: PUT
  response:
    body: "{\"id\":\"6c71f0e8-6053-491a-8d28-59650c01cd0f\",\"created_at\":\"2025-09-05T12:00:28.966784Z\",\"updated_at\":\"2025-09-05T12:00:28.966784Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[\"8eaf4dea-1d05-406d-895c-dca7f8d70ed3\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 321.499813ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c71f0e8-6053-491a-8d28-59650c01cd0f
    method: GET
  response:
    body: "{\"id\":\"6c71f0e8-6053-491a-8d28-59650c01cd0f\",\"created_at\":\"2025-09-05T12:00:28.966784Z\",\"updated_at\":\"2025-09-05T12:00:28.966784Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[\"8eaf4dea-1d05-406d-895c-dca7f8d70ed3\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 182.722789ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"56c6020d-a250-4930-9312-511ff9ddb77a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c71f0e8-6053-491a-8d28-59650c01cd0f/remove-member
    method: POST
  response:
    body: "{\"id\":\"6c71f0e8-6053-491a-8d28-59650c01cd0f\",\"created_at\":\"2025-09-05T12:00:28.966784Z\",\"updated_at\":\"2025-09-05T12:00:28.966784Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_app\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 319.035945ms
[...]
- id: 42
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c71f0e8-6053-491a-8d28-59650c01cd0f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"6c71f0e8-6053-491a-8d28-59650c01cd0f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 81.532473ms
[...]
