---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"3b43b2fa-429e-4c92-ab0f-95660608c671", "created_at":"2026-08-24T14:00:52.481173Z", "updated_at":"2026-08-24T14:00:52.481173Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_basic", "description":"", "user_ids":[], "application_ids":[], "tags":["tf_tests", "tests"], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.93291ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.73134ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/3b43b2fa-429e-4c92-ab0f-95660608c671
        method: GET
      response:
        body: '{"id":"3b43b2fa-429e-4c92-ab0f-95660608c671", "created_at":"2026-08-24T14:00:52.481173Z", "updated_at":"2026-08-24T14:00:52.481173Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_basic", "description":"", "user_ids":[], "application_ids":[], "tags":["tf_tests", "tests"], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.586713ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/3b43b2fa-429e-4c92-ab0f-95660608c671
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"3b43b2fa-429e-4c92-ab0f-95660608c671","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.976639ms
