---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"tf-tests-iam-group-membership-basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T15:37:34.103316Z","deletable":true,"description":"","editable":true,"id":"7a04377e-b291-432f-8025-871d05632d38","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.103316Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.053834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-30T15:37:34.108850Z","deletable":true,"description":"","editable":true,"id":"8a4a6753-e362-4fab-98d1-8c11908fd4de","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.108850Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.579625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/7a04377e-b291-432f-8025-871d05632d38
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T15:37:34.103316Z","deletable":true,"description":"","editable":true,"id":"7a04377e-b291-432f-8025-871d05632d38","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.103316Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.56975ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/8a4a6753-e362-4fab-98d1-8c11908fd4de
        method: GET
      response:
        body: '{"created_at":"2025-05-30T15:37:34.108850Z","deletable":true,"description":"","editable":true,"id":"8a4a6753-e362-4fab-98d1-8c11908fd4de","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.108850Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.543375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["8a4a6753-e362-4fab-98d1-8c11908fd4de"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/7a04377e-b291-432f-8025-871d05632d38/members
        method: PUT
      response:
        body: '{"application_ids":["8a4a6753-e362-4fab-98d1-8c11908fd4de"],"created_at":"2025-05-30T15:37:34.103316Z","deletable":true,"description":"","editable":true,"id":"7a04377e-b291-432f-8025-871d05632d38","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.103316Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.694875ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"user_ids":null,"application_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/7a04377e-b291-432f-8025-871d05632d38/members
        method: PUT
      response:
        body: '{"current_state":"updating","message":"resource is in a transient state","resource":"group","resource_id":"7a04377e-b291-432f-8025-871d05632d38","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 45.189333ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-30T15:37:36.056993Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"0c615578-103c-41e1-85d4-b14df81c0c1f","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-30T15:37:36.056993Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.016916ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/2459a496-000f-4f60-8457-21fa6d208a89
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-30T15:37:36.050415Z","deletable":true,"email":"bar@scaleway.com","first_name":"","id":"2459a496-000f-4f60-8457-21fa6d208a89","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-30T15:37:36.050415Z","username":"bar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.605625ms
[...]
