---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_basic\",\"description\":\"\",\"tags\":[\"tf_tests\",\"tests\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"6b946723-7322-49fe-9e6b-8bf645b47f4e\",\"created_at\":\"2025-09-05T12:00:36.317838Z\",\"updated_at\":\"2025-09-05T12:00:36.317838Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[\"tf_tests\",\"tests\"],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 282.649999ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6b946723-7322-49fe-9e6b-8bf645b47f4e
    method: GET
  response:
    body: "{\"id\":\"6b946723-7322-49fe-9e6b-8bf645b47f4e\",\"created_at\":\"2025-09-05T12:00:36.317838Z\",\"updated_at\":\"2025-09-05T12:00:36.317838Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[\"tf_tests\",\"tests\"],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 151.932824ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6b946723-7322-49fe-9e6b-8bf645b47f4e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"6b946723-7322-49fe-9e6b-8bf645b47f4e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 35.896675ms
