---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-06-02T09:37:44.237595Z","deletable":true,"description":"","editable":true,"id":"9840a966-88b4-414b-b0c9-736b1f2c5fad","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:37:44.237595Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.553667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"tf-tests-iam-group-membership-basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-06-02T09:37:44.247387Z","deletable":true,"description":"","editable":true,"id":"803770fe-e89a-44aa-86ff-2686768c8dcb","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:37:44.247387Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.940917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/9840a966-88b4-414b-b0c9-736b1f2c5fad
        method: GET
      response:
        body: '{"created_at":"2025-06-02T09:37:44.237595Z","deletable":true,"description":"","editable":true,"id":"9840a966-88b4-414b-b0c9-736b1f2c5fad","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:37:44.237595Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.92575ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/803770fe-e89a-44aa-86ff-2686768c8dcb
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-06-02T09:37:44.247387Z","deletable":true,"description":"","editable":true,"id":"803770fe-e89a-44aa-86ff-2686768c8dcb","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:37:44.247387Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.758ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["9840a966-88b4-414b-b0c9-736b1f2c5fad"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/803770fe-e89a-44aa-86ff-2686768c8dcb/members
        method: PUT
      response:
        body: '{"application_ids":["9840a966-88b4-414b-b0c9-736b1f2c5fad"],"created_at":"2025-06-02T09:37:44.247387Z","deletable":true,"description":"","editable":true,"id":"803770fe-e89a-44aa-86ff-2686768c8dcb","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-06-02T09:37:44.247387Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.377167ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"member":{"email":"foo@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"foo","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-06-02T09:37:45.409536Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"31ad796d-72de-409a-b77c-0590d5c81be3","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-06-02T09:37:45.409536Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.379625ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/e6468ad5-8b8b-4366-b10f-03e4baed6240
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-06-02T09:37:45.410624Z","deletable":true,"email":"bar@scaleway.com","first_name":"","id":"e6468ad5-8b8b-4366-b10f-03e4baed6240","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-06-02T09:37:45.410624Z","username":"bar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.143417ms
[...]
    - id: 66
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/803770fe-e89a-44aa-86ff-2686768c8dcb
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"803770fe-e89a-44aa-86ff-2686768c8dcb","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.736959ms
[...]
