---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:53.516238Z","deletable":true,"description":"","editable":true,"id":"e468b7f0-9549-4b81-86b3-78f7bcd405b4","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:53.516238Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.815459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:53.545236Z","deletable":true,"description":"","editable":true,"id":"e221e151-1b7b-435d-a521-4ad287aaa223","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:53.545236Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.448333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/e468b7f0-9549-4b81-86b3-78f7bcd405b4
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:53.516238Z","deletable":true,"description":"","editable":true,"id":"e468b7f0-9549-4b81-86b3-78f7bcd405b4","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:53.516238Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.106083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e221e151-1b7b-435d-a521-4ad287aaa223
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:53.545236Z","deletable":true,"description":"","editable":true,"id":"e221e151-1b7b-435d-a521-4ad287aaa223","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:53.545236Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.0445ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"e221e151-1b7b-435d-a521-4ad287aaa223"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/e468b7f0-9549-4b81-86b3-78f7bcd405b4/add-member
        method: POST
      response:
        body: '{"application_ids":["e221e151-1b7b-435d-a521-4ad287aaa223"],"created_at":"2025-01-22T15:32:53.516238Z","deletable":true,"description":"","editable":true,"id":"e468b7f0-9549-4b81-86b3-78f7bcd405b4","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:53.516238Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.825208ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"application_id":"e221e151-1b7b-435d-a521-4ad287aaa223"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/e468b7f0-9549-4b81-86b3-78f7bcd405b4/remove-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:53.516238Z","deletable":true,"description":"","editable":true,"id":"e468b7f0-9549-4b81-86b3-78f7bcd405b4","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:53.516238Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.557875ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/e468b7f0-9549-4b81-86b3-78f7bcd405b4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"e468b7f0-9549-4b81-86b3-78f7bcd405b4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.279459ms
[...]
