---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/ef29ce05-3f2b-4fa0-a259-d76110850d57", "id":"ef29ce05-3f2b-4fa0-a259-d76110850d57", "email":"hashicorp@scaleway.com", "username":"hashicorp@scaleway.com", "first_name":"", "last_name":"", "phone_number":"", "locale":"fr_FR", "created_at":"2022-03-29T11:44:54.791271Z", "updated_at":"2026-03-30T08:13:49.666782Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "deletable":false, "last_login_at":"2026-03-30T08:13:49.689533Z", "type":"owner", "two_factor_enabled":true, "status":"activated", "mfa":true, "account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1", "tags":[], "locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 37.469106ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "39"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 15.907806ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-user","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/eb8dafe9-8fc1-4246-a269-56872f262215","id":"eb8dafe9-8fc1-4246-a269-56872f262215","created_at":"2026-10-07T13:42:43.565359Z","updated_at":"2026-10-07T13:42:43.565359Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-user","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 137.860589ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/eb8dafe9-8fc1-4246-a269-56872f262215
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/eb8dafe9-8fc1-4246-a269-56872f262215","id":"eb8dafe9-8fc1-4246-a269-56872f262215","created_at":"2026-10-07T13:42:43.565359Z","updated_at":"2026-10-07T13:42:43.565359Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-user","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 41.230594ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/eb8dafe9-8fc1-4246-a269-56872f262215/add-member
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/eb8dafe9-8fc1-4246-a269-56872f262215", "id":"eb8dafe9-8fc1-4246-a269-56872f262215", "created_at":"2026-10-07T13:42:43.565359Z", "updated_at":"2026-10-07T13:42:43.565359Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-iam-group-membership-user", "description":"", "user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57"], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "34"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.936544ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/eb8dafe9-8fc1-4246-a269-56872f262215/remove-member
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/eb8dafe9-8fc1-4246-a269-56872f262215", "id":"eb8dafe9-8fc1-4246-a269-56872f262215", "created_at":"2026-10-07T13:42:43.565359Z", "updated_at":"2026-10-07T13:42:43.565359Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-iam-group-membership-user", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 53.553823ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/eb8dafe9-8fc1-4246-a269-56872f262215
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"eb8dafe9-8fc1-4246-a269-56872f262215","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 33.337651ms
