---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/users/84d20ae1-9650-419a-ab74-7ab09b6262e0","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","email":"developer-tools-team@scaleway.com","username":"developer-tools-team@scaleway.com","first_name":"Developper Tools","last_name":"TEAM","phone_number":"","locale":"en_US","created_at":"2023-01-23T15:16:01.748877Z","updated_at":"2025-06-23T13:16:39.476255Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","deletable":true,"last_login_at":null,"type":"member","two_factor_enabled":true,"status":"activated","mfa":true,"account_root_user_id":"","tags":[],"locked":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.614908ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.553608ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_user","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/360a00ee-3441-4eef-a170-76a7c8e2159c", "id":"360a00ee-3441-4eef-a170-76a7c8e2159c", "created_at":"2026-10-07T13:42:41.934241Z", "updated_at":"2026-10-07T13:42:41.934241Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_user", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 147.80652ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/360a00ee-3441-4eef-a170-76a7c8e2159c/members
        method: PUT
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/360a00ee-3441-4eef-a170-76a7c8e2159c", "id":"360a00ee-3441-4eef-a170-76a7c8e2159c", "created_at":"2026-10-07T13:42:41.934241Z", "updated_at":"2026-10-07T13:42:41.934241Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_user", "description":"", "user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 73.574216ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/360a00ee-3441-4eef-a170-76a7c8e2159c
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/360a00ee-3441-4eef-a170-76a7c8e2159c", "id":"360a00ee-3441-4eef-a170-76a7c8e2159c", "created_at":"2026-10-07T13:42:41.934241Z", "updated_at":"2026-10-07T13:42:41.934241Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_user", "description":"", "user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 44.610345ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/360a00ee-3441-4eef-a170-76a7c8e2159c/remove-member
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/360a00ee-3441-4eef-a170-76a7c8e2159c", "id":"360a00ee-3441-4eef-a170-76a7c8e2159c", "created_at":"2026-10-07T13:42:41.934241Z", "updated_at":"2026-10-07T13:42:41.934241Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_user", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 62.198179ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/360a00ee-3441-4eef-a170-76a7c8e2159c
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"360a00ee-3441-4eef-a170-76a7c8e2159c","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 32.509886ms
