---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"account_root_user_id":"e455b334-f426-4b1e-ab2f-913c31aa199c","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","tags":[],"two_factor_enabled":true,"type":"guest","updated_at":"2025-01-07T13:40:54.776253Z","username":"developer-tools-team@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.890416ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_user","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.530924Z","deletable":true,"description":"","editable":true,"id":"525cae91-4371-4562-b3a3-336a2f82f035","managed":false,"name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.530924Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.25ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/525cae91-4371-4562-b3a3-336a2f82f035/members
        method: PUT
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.530924Z","deletable":false,"description":"","editable":false,"id":"525cae91-4371-4562-b3a3-336a2f82f035","managed":false,"name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.530924Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.65075ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/525cae91-4371-4562-b3a3-336a2f82f035
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.530924Z","deletable":true,"description":"","editable":true,"id":"525cae91-4371-4562-b3a3-336a2f82f035","managed":false,"name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.530924Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.223208ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: '{"user_id":"b6360d4f-831c-45a8-889e-0b65ed079e63"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/525cae91-4371-4562-b3a3-336a2f82f035/remove-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:50.530924Z","deletable":true,"description":"","editable":true,"id":"525cae91-4371-4562-b3a3-336a2f82f035","managed":false,"name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:50.530924Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.19175ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/525cae91-4371-4562-b3a3-336a2f82f035
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"525cae91-4371-4562-b3a3-336a2f82f035","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.525792ms
