---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-iam-group-membership-basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"68436453-42c5-43f8-b94d-cabab04c6f70\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:39.697910Z\",\"updated_at\":\"2025-09-05T12:00:39.697910Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 271.793135ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"17866889-d1f8-4e35-a6f8-ca735cc905d4\",\"created_at\":\"2025-09-05T12:00:39.704194Z\",\"updated_at\":\"2025-09-05T12:00:39.704194Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 271.484545ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/17866889-d1f8-4e35-a6f8-ca735cc905d4
    method: GET
  response:
    body: "{\"id\":\"17866889-d1f8-4e35-a6f8-ca735cc905d4\",\"created_at\":\"2025-09-05T12:00:39.704194Z\",\"updated_at\":\"2025-09-05T12:00:39.704194Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 340.895151ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/68436453-42c5-43f8-b94d-cabab04c6f70
    method: GET
  response:
    body: "{\"id\":\"68436453-42c5-43f8-b94d-cabab04c6f70\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:39.697910Z\",\"updated_at\":\"2025-09-05T12:00:39.697910Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 340.987254ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"68436453-42c5-43f8-b94d-cabab04c6f70\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/17866889-d1f8-4e35-a6f8-ca735cc905d4/add-member
    method: POST
  response:
    body: "{\"id\":\"17866889-d1f8-4e35-a6f8-ca735cc905d4\",\"created_at\":\"2025-09-05T12:00:39.704194Z\",\"updated_at\":\"2025-09-05T12:00:39.704194Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[\"68436453-42c5-43f8-b94d-cabab04c6f70\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 412.144603ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"68436453-42c5-43f8-b94d-cabab04c6f70\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/17866889-d1f8-4e35-a6f8-ca735cc905d4/remove-member
    method: POST
  response:
    body: "{\"id\":\"17866889-d1f8-4e35-a6f8-ca735cc905d4\",\"created_at\":\"2025-09-05T12:00:39.704194Z\",\"updated_at\":\"2025-09-05T12:00:39.704194Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 311.868737ms
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"68436453-42c5-43f8-b94d-cabab04c6f70\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/17866889-d1f8-4e35-a6f8-ca735cc905d4/remove-member
    method: POST
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"\",\"resource_id\":\"68436453-42c5-43f8-b94d-cabab04c6f70\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 417.604443ms
[...]
