---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-tests-iam-group-membership-basic\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"01a09c7c-b2d9-4188-9cbd-d9915c057435\", \"name\":\"tf-tests-iam-group-membership-basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:35.966134Z\", \"updated_at\":\"2025-11-17T17:10:35.966134Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 98.017234ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/01a09c7c-b2d9-4188-9cbd-d9915c057435
    method: GET
  response:
    body: "{\"id\":\"01a09c7c-b2d9-4188-9cbd-d9915c057435\", \"name\":\"tf-tests-iam-group-membership-basic\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:35.966134Z\", \"updated_at\":\"2025-11-17T17:10:35.966134Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 43.710767ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-basic\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"127d163c-9d46-4e92-879d-53f019ce1047\", \"created_at\":\"2025-11-17T17:10:36.063550Z\", \"updated_at\":\"2025-11-17T17:10:36.063550Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf-tests-iam-group-membership-basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.731028ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/127d163c-9d46-4e92-879d-53f019ce1047
    method: GET
  response:
    body: "{\"id\":\"127d163c-9d46-4e92-879d-53f019ce1047\", \"created_at\":\"2025-11-17T17:10:36.063550Z\", \"updated_at\":\"2025-11-17T17:10:36.063550Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf-tests-iam-group-membership-basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 77.703862ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"01a09c7c-b2d9-4188-9cbd-d9915c057435\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/127d163c-9d46-4e92-879d-53f019ce1047/add-member
    method: POST
  response:
    body: "{\"id\":\"127d163c-9d46-4e92-879d-53f019ce1047\", \"created_at\":\"2025-11-17T17:10:36.063550Z\", \"updated_at\":\"2025-11-17T17:10:36.063550Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf-tests-iam-group-membership-basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[\"01a09c7c-b2d9-4188-9cbd-d9915c057435\"], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 370.611053ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"01a09c7c-b2d9-4188-9cbd-d9915c057435\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/127d163c-9d46-4e92-879d-53f019ce1047/remove-member
    method: POST
  response:
    body: "{\"current_state\":\"updating\",\"message\":\"resource is in a transient state\",\"resource\":\"group\",\"resource_id\":\"127d163c-9d46-4e92-879d-53f019ce1047\",\"type\":\"transient_state\"}"
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: 111.59969ms
[...]
