---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"tf-tests-iam-group-membership-user","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T15:21:40.551522Z","deletable":true,"description":"","editable":true,"id":"3db6f024-2f68-4a77-8eb9-3388c769675a","managed":false,"name":"tf-tests-iam-group-membership-user","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:21:40.551522Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 418.638291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/3db6f024-2f68-4a77-8eb9-3388c769675a
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T15:21:40.551522Z","deletable":true,"description":"","editable":true,"id":"3db6f024-2f68-4a77-8eb9-3388c769675a","managed":false,"name":"tf-tests-iam-group-membership-user","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:21:40.551522Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.75975ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"member":{"email":"bar@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"bar","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-30T15:21:40.549612Z","deletable":true,"email":"bar@scaleway.com","first_name":"","id":"5880b246-708d-46f9-9a05-3bbeeb5516a4","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-30T15:21:40.549612Z","username":"bar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 542.2625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/5880b246-708d-46f9-9a05-3bbeeb5516a4
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-30T15:21:40.549612Z","deletable":true,"email":"bar@scaleway.com","first_name":"","id":"5880b246-708d-46f9-9a05-3bbeeb5516a4","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-30T15:21:40.549612Z","username":"bar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.614791ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"user_ids":["f68f322a-bcc2-46fd-b936-0eaebdd99ed2","5880b246-708d-46f9-9a05-3bbeeb5516a4"],"application_ids":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/3db6f024-2f68-4a77-8eb9-3388c769675a/members
        method: PUT
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T15:21:40.551522Z","deletable":true,"description":"","editable":true,"id":"3db6f024-2f68-4a77-8eb9-3388c769675a","managed":false,"name":"tf-tests-iam-group-membership-user","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:21:40.551522Z","user_ids":["f68f322a-bcc2-46fd-b936-0eaebdd99ed2","5880b246-708d-46f9-9a05-3bbeeb5516a4"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.505542ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/3db6f024-2f68-4a77-8eb9-3388c769675a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"3db6f024-2f68-4a77-8eb9-3388c769675a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.953958ms
