---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039", "id":"3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039", "name":"tf-tests-iam-group-membership-basic", "description":"", "created_at":"2026-10-07T13:42:27.608663Z", "updated_at":"2026-10-07T13:42:27.608663Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "editable":true, "deletable":true, "managed":false, "nb_api_keys":0, "tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 64.049945ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.626043ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-basic","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/1439c90e-ac7f-405e-8d93-ed569121ebd5","id":"1439c90e-ac7f-405e-8d93-ed569121ebd5","created_at":"2026-10-07T13:42:27.650841Z","updated_at":"2026-10-07T13:42:27.650841Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-basic","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 108.82546ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039","id":"3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039","name":"tf-tests-iam-group-membership-basic","description":"","created_at":"2026-10-07T13:42:27.608663Z","updated_at":"2026-10-07T13:42:27.608663Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 110.130151ms
    - id: 4
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/1439c90e-ac7f-405e-8d93-ed569121ebd5
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/1439c90e-ac7f-405e-8d93-ed569121ebd5", "id":"1439c90e-ac7f-405e-8d93-ed569121ebd5", "created_at":"2026-10-07T13:42:27.650841Z", "updated_at":"2026-10-07T13:42:27.650841Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf-tests-iam-group-membership-basic", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.442996ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"application_id":"3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/1439c90e-ac7f-405e-8d93-ed569121ebd5/add-member
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/1439c90e-ac7f-405e-8d93-ed569121ebd5","id":"1439c90e-ac7f-405e-8d93-ed569121ebd5","created_at":"2026-10-07T13:42:27.650841Z","updated_at":"2026-10-07T13:42:27.650841Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-basic","description":"","user_ids":[],"application_ids":["3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039"],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 118.818419ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"application_id":"3c7d50a5-c1b5-4d43-9d8b-c1d2d9c0e039"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/1439c90e-ac7f-405e-8d93-ed569121ebd5/remove-member
        method: POST
      response:
        body: '{"current_state":"updating","message":"resource is in a transient state","resource":"group","resource_id":"1439c90e-ac7f-405e-8d93-ed569121ebd5","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 409 Conflict
        code: 409
        duration: 109.426621ms
[...]
