---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"id":"70650ffd-3932-455d-99e8-201dc89d05ff","created_at":"2026-05-19T12:02:15.903608Z","updated_at":"2026-05-19T12:02:15.903608Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","user_ids":[],"application_ids":[],"tags":["tf_tests","tests"],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.787342ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/70650ffd-3932-455d-99e8-201dc89d05ff
        method: GET
      response:
        body: '{"id":"70650ffd-3932-455d-99e8-201dc89d05ff","created_at":"2026-05-19T12:02:15.903608Z","updated_at":"2026-05-19T12:02:15.903608Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","user_ids":[],"application_ids":[],"tags":["tf_tests","tests"],"editable":true,"deletable":true,"managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.946852ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/70650ffd-3932-455d-99e8-201dc89d05ff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"70650ffd-3932-455d-99e8-201dc89d05ff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.360988ms
