---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: '{"account_root_user_id":"e455b334-f426-4b1e-ab2f-913c31aa199c","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"guest","updated_at":"2023-01-23T15:18:52.043249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-10-18T07:30:49.846974Z","description":"","id":"6c54f733-e3ff-4ae8-905a-d7ea86ddaec0","name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:49.846974Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c54f733-e3ff-4ae8-905a-d7ea86ddaec0/members
    method: PUT
  response:
    body: '{"application_ids":[],"created_at":"2023-10-18T07:30:49.846974Z","description":"","id":"6c54f733-e3ff-4ae8-905a-d7ea86ddaec0","name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:49.846974Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c54f733-e3ff-4ae8-905a-d7ea86ddaec0
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-10-18T07:30:49.846974Z","description":"","id":"6c54f733-e3ff-4ae8-905a-d7ea86ddaec0","name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:49.846974Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"user_id":"b6360d4f-831c-45a8-889e-0b65ed079e63"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c54f733-e3ff-4ae8-905a-d7ea86ddaec0/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-10-18T07:30:49.846974Z","description":"","id":"6c54f733-e3ff-4ae8-905a-d7ea86ddaec0","name":"tf_tests_iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:49.846974Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6c54f733-e3ff-4ae8-905a-d7ea86ddaec0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"6c54f733-e3ff-4ae8-905a-d7ea86ddaec0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
