---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: "{\"id\":\"84d20ae1-9650-419a-ab74-7ab09b6262e0\",\"email\":\"developer-tools-team@scaleway.com\",\"username\":\"developer-tools-team@scaleway.com\",\"first_name\":\"Developper Tools\",\"last_name\":\"TEAM\",\"phone_number\":\"\",\"locale\":\"en_US\",\"created_at\":\"2023-01-23T15:16:01.748877Z\",\"updated_at\":\"2025-06-23T13:16:39.476255Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"deletable\":true,\"last_login_at\":null,\"type\":\"member\",\"two_factor_enabled\":true,\"status\":\"activated\",\"mfa\":true,\"account_root_user_id\":\"\",\"tags\":[],\"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 200.522558ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"8c529b2c-95b9-432a-9387-d4ae0f93414b\",\"created_at\":\"2025-09-05T12:00:32.238685Z\",\"updated_at\":\"2025-09-05T12:00:32.238685Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 189.164963ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/8c529b2c-95b9-432a-9387-d4ae0f93414b/members
    method: PUT
  response:
    body: "{\"id\":\"8c529b2c-95b9-432a-9387-d4ae0f93414b\",\"created_at\":\"2025-09-05T12:00:32.238685Z\",\"updated_at\":\"2025-09-05T12:00:32.238685Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user\",\"description\":\"\",\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 358.486326ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8c529b2c-95b9-432a-9387-d4ae0f93414b
    method: GET
  response:
    body: "{\"id\":\"8c529b2c-95b9-432a-9387-d4ae0f93414b\",\"created_at\":\"2025-09-05T12:00:32.238685Z\",\"updated_at\":\"2025-09-05T12:00:32.238685Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user\",\"description\":\"\",\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 200.218626ms
[...]
- id: 39
  request:
    host: api.scaleway.com
    body: "{\"user_id\":\"29c74dc1-87e7-4c49-91a1-0ad5540ecdd7\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/8c529b2c-95b9-432a-9387-d4ae0f93414b/remove-member
    method: POST
  response:
    body: "{\"id\":\"8c529b2c-95b9-432a-9387-d4ae0f93414b\",\"created_at\":\"2025-09-05T12:00:32.238685Z\",\"updated_at\":\"2025-09-05T12:00:32.238685Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 436.057927ms
[...]
- id: 44
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8c529b2c-95b9-432a-9387-d4ae0f93414b
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"8c529b2c-95b9-432a-9387-d4ae0f93414b\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.584188ms
