---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-multiple-entities-app2","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-30T15:37:34.108088Z","deletable":true,"description":"","editable":true,"id":"e0db29a9-14b7-4f2f-a641-da2288d6d582","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities-app2","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.108088Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.582083ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"tf-tests-iam-group-membership-multiple-entities","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T15:37:34.113947Z","deletable":true,"description":"","editable":true,"id":"64b098f9-3b74-4b17-8e21-0eaecfa4df69","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.113947Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 441.150875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e0db29a9-14b7-4f2f-a641-da2288d6d582
        method: GET
      response:
        body: '{"created_at":"2025-05-30T15:37:34.108088Z","deletable":true,"description":"","editable":true,"id":"e0db29a9-14b7-4f2f-a641-da2288d6d582","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities-app2","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.108088Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.216791ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/64b098f9-3b74-4b17-8e21-0eaecfa4df69
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T15:37:34.113947Z","deletable":true,"description":"","editable":true,"id":"64b098f9-3b74-4b17-8e21-0eaecfa4df69","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.113947Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.739292ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"member":{"email":"bar@scaleway.com","send_password_email":false,"send_welcome_email":false,"username":"bar","password":"","first_name":"","last_name":"","phone_number":"","locale":""}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/users
        method: POST
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-30T15:37:34.113284Z","deletable":true,"email":"bar@scaleway.com","first_name":"","id":"c8be84de-5580-41db-b0c7-32f4974d6d61","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-30T15:37:34.113284Z","username":"bar"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 547.205292ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/34fc0fb1-7099-41aa-bd44-dd8c1493d394
        method: GET
      response:
        body: '{"account_root_user_id":"","created_at":"2025-05-30T15:37:34.102807Z","deletable":true,"email":"foo@scaleway.com","first_name":"","id":"34fc0fb1-7099-41aa-bd44-dd8c1493d394","last_login_at":null,"last_name":"","locale":"en_US","locked":false,"mfa":false,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","phone_number":"","status":"activated","tags":[],"two_factor_enabled":false,"type":"member","updated_at":"2025-05-30T15:37:34.102807Z","username":"foo"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.1155ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"user_ids":["34fc0fb1-7099-41aa-bd44-dd8c1493d394","c8be84de-5580-41db-b0c7-32f4974d6d61"],"application_ids":["e7ce4f41-1518-48f8-9318-b5d3fa1205b2","e0db29a9-14b7-4f2f-a641-da2288d6d582"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/64b098f9-3b74-4b17-8e21-0eaecfa4df69/members
        method: PUT
      response:
        body: '{"application_ids":["e7ce4f41-1518-48f8-9318-b5d3fa1205b2","e0db29a9-14b7-4f2f-a641-da2288d6d582"],"created_at":"2025-05-30T15:37:34.113947Z","deletable":true,"description":"","editable":true,"id":"64b098f9-3b74-4b17-8e21-0eaecfa4df69","managed":false,"name":"tf-tests-iam-group-membership-multiple-entities","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T15:37:34.113947Z","user_ids":["34fc0fb1-7099-41aa-bd44-dd8c1493d394","c8be84de-5580-41db-b0c7-32f4974d6d61"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.30025ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/64b098f9-3b74-4b17-8e21-0eaecfa4df69
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"64b098f9-3b74-4b17-8e21-0eaecfa4df69","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.860416ms
