---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_basic\",\"description\":\"\",\"tags\":[\"tf_tests\",\"tests\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"3d752e6d-920c-42c0-9717-9676cea01d14\", \"created_at\":\"2025-11-17T17:10:36.668807Z\", \"updated_at\":\"2025-11-17T17:10:36.668807Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[\"tf_tests\", \"tests\"], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 185.919759ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/3d752e6d-920c-42c0-9717-9676cea01d14
    method: GET
  response:
    body: "{\"id\":\"3d752e6d-920c-42c0-9717-9676cea01d14\", \"created_at\":\"2025-11-17T17:10:36.668807Z\", \"updated_at\":\"2025-11-17T17:10:36.668807Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_basic\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[\"tf_tests\", \"tests\"], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 58.544628ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/3d752e6d-920c-42c0-9717-9676cea01d14
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"3d752e6d-920c-42c0-9717-9676cea01d14\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 54.254303ms
