---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: "{\"id\":\"84d20ae1-9650-419a-ab74-7ab09b6262e0\", \"email\":\"developer-tools-team@scaleway.com\", \"username\":\"developer-tools-team@scaleway.com\", \"first_name\":\"Developper Tools\", \"last_name\":\"TEAM\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2023-01-23T15:16:01.748877Z\", \"updated_at\":\"2025-06-23T13:16:39.476255Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":true, \"status\":\"activated\", \"mfa\":true, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.586228ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_iam_group_app3\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"f0367957-71da-4578-9215-444922cc7683\", \"name\":\"tf_tests_iam_group_app3\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:42.412259Z\", \"updated_at\":\"2025-11-17T17:10:42.412259Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 232.02836ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/f0367957-71da-4578-9215-444922cc7683
    method: GET
  response:
    body: "{\"id\":\"f0367957-71da-4578-9215-444922cc7683\", \"name\":\"tf_tests_iam_group_app3\", \"description\":\"\", \"created_at\":\"2025-11-17T17:10:42.412259Z\", \"updated_at\":\"2025-11-17T17:10:42.412259Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 47.58519ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user_app\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"ecd0671e-122c-41d9-b008-260a2a07341c\", \"created_at\":\"2025-11-17T17:10:42.736843Z\", \"updated_at\":\"2025-11-17T17:10:42.736843Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user_app\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 223.065457ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[\"f0367957-71da-4578-9215-444922cc7683\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/ecd0671e-122c-41d9-b008-260a2a07341c/members
    method: PUT
  response:
    body: "{\"id\":\"ecd0671e-122c-41d9-b008-260a2a07341c\", \"created_at\":\"2025-11-17T17:10:42.736843Z\", \"updated_at\":\"2025-11-17T17:10:42.736843Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user_app\", \"description\":\"\", \"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"], \"application_ids\":[\"f0367957-71da-4578-9215-444922cc7683\"], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 121.913413ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/ecd0671e-122c-41d9-b008-260a2a07341c
    method: GET
  response:
    body: "{\"id\":\"ecd0671e-122c-41d9-b008-260a2a07341c\", \"created_at\":\"2025-11-17T17:10:42.736843Z\", \"updated_at\":\"2025-11-17T17:10:42.736843Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user_app\", \"description\":\"\", \"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"], \"application_ids\":[\"f0367957-71da-4578-9215-444922cc7683\"], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 66.339359ms
[...]
- id: 61
  request:
    host: api.scaleway.com
    body: "{\"user_id\":\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/ecd0671e-122c-41d9-b008-260a2a07341c/remove-member
    method: POST
  response:
    body: "{\"id\":\"ecd0671e-122c-41d9-b008-260a2a07341c\", \"created_at\":\"2025-11-17T17:10:42.736843Z\", \"updated_at\":\"2025-11-17T17:10:42.736843Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user_app\", \"description\":\"\", \"user_ids\":[\"88b4dde1-f3d4-478a-a281-784d53399a30\", \"ef29ce05-3f2b-4fa0-a259-d76110850d57\"], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.197691ms
[...]
- id: 72
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/ecd0671e-122c-41d9-b008-260a2a07341c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"ecd0671e-122c-41d9-b008-260a2a07341c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 77.472212ms
[...]
