---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/fe63b51d-4026-404c-b08d-37e03493b1c8","id":"fe63b51d-4026-404c-b08d-37e03493b1c8","name":"tf_tests_iam_group_app","description":"","created_at":"2026-10-07T13:42:41.884088Z","updated_at":"2026-10-07T13:42:41.884088Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 140.788962ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 17.296916ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/fe63b51d-4026-404c-b08d-37e03493b1c8
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/applications/fe63b51d-4026-404c-b08d-37e03493b1c8","id":"fe63b51d-4026-404c-b08d-37e03493b1c8","name":"tf_tests_iam_group_app","description":"","created_at":"2026-10-07T13:42:41.884088Z","updated_at":"2026-10-07T13:42:41.884088Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"deletable":true,"managed":false,"nb_api_keys":0,"tags":[]}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "41"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 45.954632ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_app","description":"","tags":[]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd", "id":"b426cf1d-d616-4267-a698-14c0dee6bdfd", "created_at":"2026-10-07T13:42:42.032017Z", "updated_at":"2026-10-07T13:42:42.032017Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_app", "description":"", "user_ids":[], "application_ids":[], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "43"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 78.089062ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["fe63b51d-4026-404c-b08d-37e03493b1c8"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd/members
        method: PUT
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd","id":"b426cf1d-d616-4267-a698-14c0dee6bdfd","created_at":"2026-10-07T13:42:42.032017Z","updated_at":"2026-10-07T13:42:42.032017Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_app","description":"","user_ids":[],"application_ids":["fe63b51d-4026-404c-b08d-37e03493b1c8"],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 82.511372ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd", "id":"b426cf1d-d616-4267-a698-14c0dee6bdfd", "created_at":"2026-10-07T13:42:42.032017Z", "updated_at":"2026-10-07T13:42:42.032017Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_app", "description":"", "user_ids":[], "application_ids":["fe63b51d-4026-404c-b08d-37e03493b1c8"], "tags":[], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 40.133132ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"application_id":"3898010b-d5b7-48a1-8bec-ca8d325310fa"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd/remove-member
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd","id":"b426cf1d-d616-4267-a698-14c0dee6bdfd","created_at":"2026-10-07T13:42:42.032017Z","updated_at":"2026-10-07T13:42:42.032017Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_app","description":"","user_ids":[],"application_ids":[],"tags":[],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "40"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 66.157519ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/b426cf1d-d616-4267-a698-14c0dee6bdfd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"b426cf1d-d616-4267-a698-14c0dee6bdfd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 31.738887ms
[...]
