---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: "{\"id\":\"84d20ae1-9650-419a-ab74-7ab09b6262e0\", \"email\":\"developer-tools-team@scaleway.com\", \"username\":\"developer-tools-team@scaleway.com\", \"first_name\":\"Developper Tools\", \"last_name\":\"TEAM\", \"phone_number\":\"\", \"locale\":\"en_US\", \"created_at\":\"2023-01-23T15:16:01.748877Z\", \"updated_at\":\"2025-06-23T13:16:39.476255Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"deletable\":true, \"last_login_at\":null, \"type\":\"member\", \"two_factor_enabled\":true, \"status\":\"activated\", \"mfa\":true, \"account_root_user_id\":\"\", \"tags\":[], \"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 192.788789ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"813b569f-fe2c-4576-be4b-192e55843269\", \"created_at\":\"2025-11-17T17:10:30.567061Z\", \"updated_at\":\"2025-11-17T17:10:30.567061Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 220.585919ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/813b569f-fe2c-4576-be4b-192e55843269/members
    method: PUT
  response:
    body: "{\"id\":\"813b569f-fe2c-4576-be4b-192e55843269\", \"created_at\":\"2025-11-17T17:10:30.567061Z\", \"updated_at\":\"2025-11-17T17:10:30.567061Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user\", \"description\":\"\", \"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 324.843094ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/813b569f-fe2c-4576-be4b-192e55843269
    method: GET
  response:
    body: "{\"id\":\"813b569f-fe2c-4576-be4b-192e55843269\", \"created_at\":\"2025-11-17T17:10:30.567061Z\", \"updated_at\":\"2025-11-17T17:10:30.567061Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user\", \"description\":\"\", \"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 237.770397ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{\"user_id\":\"ef29ce05-3f2b-4fa0-a259-d76110850d57\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/813b569f-fe2c-4576-be4b-192e55843269/remove-member
    method: POST
  response:
    body: "{\"id\":\"813b569f-fe2c-4576-be4b-192e55843269\", \"created_at\":\"2025-11-17T17:10:30.567061Z\", \"updated_at\":\"2025-11-17T17:10:30.567061Z\", \"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\", \"name\":\"tf_tests_iam_group_user\", \"description\":\"\", \"user_ids\":[], \"application_ids\":[], \"tags\":[], \"editable\":true, \"deletable\":true, \"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 390.395418ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/813b569f-fe2c-4576-be4b-192e55843269
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"813b569f-fe2c-4576-be4b-192e55843269\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 36.240136ms
