---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","name":"tf-tests-iam-group-membership-basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T12:46:35.096578Z","deletable":true,"description":"","editable":true,"id":"a267d043-4767-4f67-8c2e-e82b8d50afbc","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T12:46:35.096578Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.885ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-05-30T12:46:35.104288Z","deletable":true,"description":"","editable":true,"id":"07ede34b-12ef-4572-879c-08001699d51a","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T12:46:35.104288Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.0735ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/07ede34b-12ef-4572-879c-08001699d51a
        method: GET
      response:
        body: '{"created_at":"2025-05-30T12:46:35.104288Z","deletable":true,"description":"","editable":true,"id":"07ede34b-12ef-4572-879c-08001699d51a","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T12:46:35.104288Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.905333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/a267d043-4767-4f67-8c2e-e82b8d50afbc
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-05-30T12:46:35.096578Z","deletable":true,"description":"","editable":true,"id":"a267d043-4767-4f67-8c2e-e82b8d50afbc","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T12:46:35.096578Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.821583ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"user_ids":[],"application_ids":["07ede34b-12ef-4572-879c-08001699d51a"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/a267d043-4767-4f67-8c2e-e82b8d50afbc/members
        method: PUT
      response:
        body: '{"application_ids":["07ede34b-12ef-4572-879c-08001699d51a"],"created_at":"2025-05-30T12:46:35.096578Z","deletable":true,"description":"","editable":true,"id":"a267d043-4767-4f67-8c2e-e82b8d50afbc","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"6867048b-fe12-4e96-835e-41c79a39604b","tags":[],"updated_at":"2025-05-30T12:46:35.096578Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.529791ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"user_ids":null,"application_ids":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/a267d043-4767-4f67-8c2e-e82b8d50afbc/members
        method: PUT
      response:
        body: '{"current_state":"updating","message":"resource is in a transient state","resource":"group","resource_id":"a267d043-4767-4f67-8c2e-e82b8d50afbc","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 70.848292ms
[...]
