---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-09-05T14:02:42.038432Z","deletable":true,"description":"","editable":true,"id":"7ba42631-17c5-49b4-823c-fff5a5635e57","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:02:42.038432Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.714209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-basic","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-09-05T14:02:42.046010Z","deletable":true,"description":"","editable":true,"id":"c9831bca-d33a-4667-a1c1-e08702e3a961","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:02:42.046010Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.710709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/c9831bca-d33a-4667-a1c1-e08702e3a961
        method: GET
      response:
        body: '{"application_ids":[],"created_at":"2025-09-05T14:02:42.046010Z","deletable":true,"description":"","editable":true,"id":"c9831bca-d33a-4667-a1c1-e08702e3a961","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:02:42.046010Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.121042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7ba42631-17c5-49b4-823c-fff5a5635e57
        method: GET
      response:
        body: '{"created_at":"2025-09-05T14:02:42.038432Z","deletable":true,"description":"","editable":true,"id":"7ba42631-17c5-49b4-823c-fff5a5635e57","managed":false,"name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:02:42.038432Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.830208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"application_id":"7ba42631-17c5-49b4-823c-fff5a5635e57"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/c9831bca-d33a-4667-a1c1-e08702e3a961/add-member
        method: POST
      response:
        body: '{"application_ids":["7ba42631-17c5-49b4-823c-fff5a5635e57"],"created_at":"2025-09-05T14:02:42.046010Z","deletable":true,"description":"","editable":true,"id":"c9831bca-d33a-4667-a1c1-e08702e3a961","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:02:42.046010Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 472.943625ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"application_id":"7ba42631-17c5-49b4-823c-fff5a5635e57"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/c9831bca-d33a-4667-a1c1-e08702e3a961/remove-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-09-05T14:02:42.046010Z","deletable":true,"description":"","editable":true,"id":"c9831bca-d33a-4667-a1c1-e08702e3a961","managed":false,"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-09-05T14:02:42.046010Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 456.788333ms
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"application_id":"7ba42631-17c5-49b4-823c-fff5a5635e57"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/c9831bca-d33a-4667-a1c1-e08702e3a961/remove-member
        method: POST
      response:
        body: '{"message":"resource is not found","resource":"","resource_id":"7ba42631-17c5-49b4-823c-fff5a5635e57","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 554.489042ms
[...]
