---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
    method: GET
  response:
    body: "{\"id\":\"ef29ce05-3f2b-4fa0-a259-d76110850d57\",\"email\":\"hashicorp@scaleway.com\",\"username\":\"hashicorp@scaleway.com\",\"first_name\":\"\",\"last_name\":\"\",\"phone_number\":\"\",\"locale\":\"fr_FR\",\"created_at\":\"2022-03-29T11:44:54.791271Z\",\"updated_at\":\"2025-03-05T14:31:18.088783Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"deletable\":false,\"last_login_at\":\"2024-06-18T21:39:22.182798Z\",\"type\":\"owner\",\"two_factor_enabled\":true,\"status\":\"activated\",\"mfa\":true,\"account_root_user_id\":\"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1\",\"tags\":[],\"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 196.059847ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-user\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"8929e769-0921-4ffc-bae8-bda1c241b94e\",\"created_at\":\"2025-09-05T12:00:39.725673Z\",\"updated_at\":\"2025-09-05T12:00:39.725673Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-user\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 271.932707ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8929e769-0921-4ffc-bae8-bda1c241b94e
    method: GET
  response:
    body: "{\"id\":\"8929e769-0921-4ffc-bae8-bda1c241b94e\",\"created_at\":\"2025-09-05T12:00:39.725673Z\",\"updated_at\":\"2025-09-05T12:00:39.725673Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-user\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 340.220674ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"user_id\":\"ef29ce05-3f2b-4fa0-a259-d76110850d57\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/8929e769-0921-4ffc-bae8-bda1c241b94e/add-member
    method: POST
  response:
    body: "{\"id\":\"8929e769-0921-4ffc-bae8-bda1c241b94e\",\"created_at\":\"2025-09-05T12:00:39.725673Z\",\"updated_at\":\"2025-09-05T12:00:39.725673Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-user\",\"description\":\"\",\"user_ids\":[\"ef29ce05-3f2b-4fa0-a259-d76110850d57\"],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 483.881671ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"user_id\":\"ef29ce05-3f2b-4fa0-a259-d76110850d57\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/8929e769-0921-4ffc-bae8-bda1c241b94e/remove-member
    method: POST
  response:
    body: "{\"id\":\"8929e769-0921-4ffc-bae8-bda1c241b94e\",\"created_at\":\"2025-09-05T12:00:39.725673Z\",\"updated_at\":\"2025-09-05T12:00:39.725673Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-tests-iam-group-membership-user\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 645.088152ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8929e769-0921-4ffc-bae8-bda1c241b94e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"8929e769-0921-4ffc-bae8-bda1c241b94e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 52.738155ms
