---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","tags":["tf_tests","tests"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/48ea1e17-1cc0-4abc-a416-cb063a177481","id":"48ea1e17-1cc0-4abc-a416-cb063a177481","created_at":"2026-10-07T13:42:41.873721Z","updated_at":"2026-10-07T13:42:41.873721Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_basic","description":"","user_ids":[],"application_ids":[],"tags":["tf_tests","tests"],"editable":true,"deletable":true,"managed":false,"all_users":false,"all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 121.452403ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"platform":"external","partition":"scw","domain":"scw.eu"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "44"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 16.787799ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/48ea1e17-1cc0-4abc-a416-cb063a177481
        method: GET
      response:
        body: '{"srn":"srn://iam.scw.eu/groups/48ea1e17-1cc0-4abc-a416-cb063a177481", "id":"48ea1e17-1cc0-4abc-a416-cb063a177481", "created_at":"2026-10-07T13:42:41.873721Z", "updated_at":"2026-10-07T13:42:41.873721Z", "organization_id":"105bdce1-64c0-48ab-899d-868455867ecf", "name":"tf_tests_iam_group_basic", "description":"", "user_ids":[], "application_ids":[], "tags":["tf_tests", "tests"], "editable":true, "deletable":true, "managed":false, "all_users":false, "all_applications":false}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "47"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 38.917076ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/48ea1e17-1cc0-4abc-a416-cb063a177481
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"48ea1e17-1cc0-4abc-a416-cb063a177481","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "42"
            X-Ratelimit-Reset:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 27.989691ms
