---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
        method: GET
      response:
        body: '{"account_root_user_id":"e455b334-f426-4b1e-ab2f-913c31aa199c","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"locked":false,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","tags":[],"two_factor_enabled":true,"type":"guest","updated_at":"2025-01-07T13:40:54.776253Z","username":"developer-tools-team@scaleway.com"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.298333ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf_tests_iam_group_app3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-01-22T15:32:46.865911Z","deletable":true,"description":"","editable":true,"id":"3ffd1ea1-d66e-4d85-827c-9fd0cefd8552","managed":false,"name":"tf_tests_iam_group_app3","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:46.865911Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.235459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/3ffd1ea1-d66e-4d85-827c-9fd0cefd8552
        method: GET
      response:
        body: '{"created_at":"2025-01-22T15:32:46.865911Z","deletable":true,"description":"","editable":true,"id":"3ffd1ea1-d66e-4d85-827c-9fd0cefd8552","managed":false,"name":"tf_tests_iam_group_app3","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:46.865911Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.222625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_user_app","description":"","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:47.125654Z","deletable":true,"description":"","editable":true,"id":"ec3fd816-3e30-4eed-80e2-0bd5afa27022","managed":false,"name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:47.125654Z","user_ids":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.055333ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["3ffd1ea1-d66e-4d85-827c-9fd0cefd8552"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/ec3fd816-3e30-4eed-80e2-0bd5afa27022/members
        method: PUT
      response:
        body: '{"application_ids":["3ffd1ea1-d66e-4d85-827c-9fd0cefd8552"],"created_at":"2025-01-22T15:32:47.125654Z","deletable":false,"description":"","editable":false,"id":"ec3fd816-3e30-4eed-80e2-0bd5afa27022","managed":false,"name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:47.125654Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.625125ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/ec3fd816-3e30-4eed-80e2-0bd5afa27022
        method: GET
      response:
        body: '{"application_ids":["3ffd1ea1-d66e-4d85-827c-9fd0cefd8552"],"created_at":"2025-01-22T15:32:47.125654Z","deletable":true,"description":"","editable":true,"id":"ec3fd816-3e30-4eed-80e2-0bd5afa27022","managed":false,"name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:47.125654Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.315ms
[...]
    - id: 73
      request:
        host: api.scaleway.com
        body: '{"user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/groups/ec3fd816-3e30-4eed-80e2-0bd5afa27022/remove-member
        method: POST
      response:
        body: '{"application_ids":[],"created_at":"2025-01-22T15:32:47.125654Z","deletable":true,"description":"","editable":true,"id":"ec3fd816-3e30-4eed-80e2-0bd5afa27022","managed":false,"name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-01-22T15:32:47.125654Z","user_ids":["b6360d4f-831c-45a8-889e-0b65ed079e63","84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.26825ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/groups/ec3fd816-3e30-4eed-80e2-0bd5afa27022
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"group","resource_id":"ec3fd816-3e30-4eed-80e2-0bd5afa27022","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.6225ms
[...]
