---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: "{\"id\":\"84d20ae1-9650-419a-ab74-7ab09b6262e0\",\"email\":\"developer-tools-team@scaleway.com\",\"username\":\"developer-tools-team@scaleway.com\",\"first_name\":\"Developper Tools\",\"last_name\":\"TEAM\",\"phone_number\":\"\",\"locale\":\"en_US\",\"created_at\":\"2023-01-23T15:16:01.748877Z\",\"updated_at\":\"2025-06-23T13:16:39.476255Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"deletable\":true,\"last_login_at\":null,\"type\":\"member\",\"two_factor_enabled\":true,\"status\":\"activated\",\"mfa\":true,\"account_root_user_id\":\"\",\"tags\":[],\"locked\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 144.263486ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf_tests_iam_group_app3\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"ab0caf66-e27b-4e7f-a6f8-bf26a716731b\",\"name\":\"tf_tests_iam_group_app3\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:28.503394Z\",\"updated_at\":\"2025-09-05T12:00:28.503394Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 174.655248ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/ab0caf66-e27b-4e7f-a6f8-bf26a716731b
    method: GET
  response:
    body: "{\"id\":\"ab0caf66-e27b-4e7f-a6f8-bf26a716731b\",\"name\":\"tf_tests_iam_group_app3\",\"description\":\"\",\"created_at\":\"2025-09-05T12:00:28.503394Z\",\"updated_at\":\"2025-09-05T12:00:28.503394Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 157.045475ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user_app\",\"description\":\"\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: "{\"id\":\"67762c22-e700-45f5-ba16-dd19b5ad3c5f\",\"created_at\":\"2025-09-05T12:00:29.014452Z\",\"updated_at\":\"2025-09-05T12:00:29.014452Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user_app\",\"description\":\"\",\"user_ids\":[],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 190.636401ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[\"ab0caf66-e27b-4e7f-a6f8-bf26a716731b\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/67762c22-e700-45f5-ba16-dd19b5ad3c5f/members
    method: PUT
  response:
    body: "{\"id\":\"67762c22-e700-45f5-ba16-dd19b5ad3c5f\",\"created_at\":\"2025-09-05T12:00:29.014452Z\",\"updated_at\":\"2025-09-05T12:00:29.014452Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user_app\",\"description\":\"\",\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[\"ab0caf66-e27b-4e7f-a6f8-bf26a716731b\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 368.141243ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/67762c22-e700-45f5-ba16-dd19b5ad3c5f
    method: GET
  response:
    body: "{\"id\":\"67762c22-e700-45f5-ba16-dd19b5ad3c5f\",\"created_at\":\"2025-09-05T12:00:29.014452Z\",\"updated_at\":\"2025-09-05T12:00:29.014452Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user_app\",\"description\":\"\",\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\"],\"application_ids\":[\"ab0caf66-e27b-4e7f-a6f8-bf26a716731b\"],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 207.851651ms
[...]
- id: 73
  request:
    host: api.scaleway.com
    body: "{\"user_id\":\"29c74dc1-87e7-4c49-91a1-0ad5540ecdd7\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/67762c22-e700-45f5-ba16-dd19b5ad3c5f/remove-member
    method: POST
  response:
    body: "{\"id\":\"67762c22-e700-45f5-ba16-dd19b5ad3c5f\",\"created_at\":\"2025-09-05T12:00:29.014452Z\",\"updated_at\":\"2025-09-05T12:00:29.014452Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf_tests_iam_group_user_app\",\"description\":\"\",\"user_ids\":[\"84d20ae1-9650-419a-ab74-7ab09b6262e0\",\"ef29ce05-3f2b-4fa0-a259-d76110850d57\"],\"application_ids\":[],\"tags\":[],\"editable\":true,\"deletable\":true,\"managed\":false}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 278.021398ms
[...]
- id: 84
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/67762c22-e700-45f5-ba16-dd19b5ad3c5f
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"group\",\"resource_id\":\"67762c22-e700-45f5-ba16-dd19b5ad3c5f\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.494512ms
[...]
